{
  "openapi": "3.0.3",
  "info": {
    "title": "Logme Tributos API (Produtos)",
    "version": "1.0.0",
    "description": "Especifica\u00e7\u00e3o OpenAPI baseada na documenta\u00e7\u00e3o: https://documenter.getpostman.com/view/12138288/2sB2x6jrDT#intro\nObserva\u00e7\u00e3o: alguns campos num\u00e9ricos s\u00e3o retornados como string no padr\u00e3o pt-BR (ex.: \"80,24\").\n",
    "x-jentic-source-url": "https://api.swaggerhub.com/apis/ACB32/logme-tributos-api-produtos/1.0.0"
  },
  "servers": [
    {
      "url": "http://api.logmetributos.com.br"
    }
  ],
  "security": [
    {
      "bearerAuth": []
    }
  ],
  "tags": [
    {
      "name": "Produtos",
      "description": "Endpoints relacionados a produtos e tributa\u00e7\u00e3o."
    }
  ],
  "paths": {
    "/produtos/consultaLote": {
      "get": {
        "tags": [
          "Produtos"
        ],
        "summary": "Consultar tributa\u00e7\u00e3o de um lote de produtos",
        "description": "Consulta tributa\u00e7\u00e3o para uma lista de produtos (por EAN/GTIN ou c\u00f3digo interno).\n",
        "operationId": "consultaLote",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ConsultarLoteRequest"
              },
              "examples": {
                "exemplo": {
                  "summary": "Exemplo de request (lote)",
                  "value": {
                    "tipo_destinatario": "1",
                    "uf_destino": "SP",
                    "produtos": [
                      {
                        "ean": "7894900011609",
                        "descricao": "REFRIGERANTE COCA-COLA GARRAFA 600ML"
                      }
                    ]
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ConsultarLoteResponse"
                },
                "examples": {
                  "sucesso": {
                    "summary": "Exemplo de sucesso",
                    "value": {
                      "success": true,
                      "data": [
                        {
                          "ean": "7894900011609",
                          "descri\u00e7\u00e3o": "COCA-COLA GARRAFA 600ML",
                          "ean vinculado": "7894900011609",
                          "descri\u00e7\u00e3o vinculado": "COCA-COLA GARRAFA 600ML",
                          "regime_tributario_remetente": "1",
                          "tipo_destinatario": "1",
                          "uf_origem": "SP",
                          "uf_destino": "SP",
                          "ncm": "22021000",
                          "cfop": "5405",
                          "cest": "2300100",
                          "cst": "202",
                          "aliquota_icms": "00,00",
                          "red_base_de_calculo_icms": "0",
                          "red_base_de_calculo_icms_st": "0",
                          "icms_st_aliquota_interna": "17,00",
                          "mavast": "80,24",
                          "mava_aj_4": "0",
                          "mava_aj_12": "0",
                          "ipi": "4",
                          "cst_ipi": "53",
                          "pis_cst": "49",
                          "aliquota_pis": "0",
                          "cofins_cst": "49",
                          "aliquota_cofins": "0"
                        }
                      ]
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "N\u00e3o autorizado"
          }
        }
      }
    },
    "/produtos/consultaProduto": {
      "get": {
        "tags": [
          "Produtos"
        ],
        "summary": "Consultar informa\u00e7\u00f5es cadastrais de produtos por EAN (lista)",
        "operationId": "consultaProduto",
        "description": "Consulta informa\u00e7\u00f5es cadastrais de produtos por EAN.\n",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ConsultarProdutoRequest"
              },
              "examples": {
                "exemplo": {
                  "summary": "Exemplo de request (lista de EANs)",
                  "value": {
                    "produtos": [
                      {
                        "ean": "7894900011609",
                        "descricao": "REFRIGERANTE COCA-COLA GARRAFA 600ML"
                      }
                    ]
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ConsultarProdutoResponse"
                },
                "examples": {
                  "sucesso": {
                    "summary": "Exemplo de sucesso",
                    "value": {
                      "success": true,
                      "data": [
                        {
                          "ean": "7894900011609",
                          "descri\u00e7\u00e3o": "REFRIGERANTE COCA COLA GARRAFA 600ML",
                          "marca": "COCA-COLA",
                          "embalagem": "Unidade",
                          "quantidade_embalagem": "",
                          "peso": "630",
                          "imagem": "https://sistema.logmetributos.com.br/imagens/produtos/7894900011609.jpg"
                        }
                      ]
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "N\u00e3o autorizado"
          }
        }
      }
    }
  },
  "components": {
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    },
    "schemas": {
      "ConsultarLoteRequest": {
        "type": "object",
        "additionalProperties": false,
        "required": [
          "tipo_destinatario",
          "uf_destino",
          "produtos"
        ],
        "properties": {
          "tipo_destinatario": {
            "description": "Identifica o destinat\u00e1rio.\n1 - Consumidor Final\n2 - Distribui\u00e7\u00e3o\n",
            "$ref": "#/components/schemas/TipoDestinatarioStr"
          },
          "uf_destino": {
            "type": "string",
            "description": "UF destino (2 letras).",
            "minLength": 2,
            "maxLength": 2,
            "example": "SP"
          },
          "produtos": {
            "type": "array",
            "minItems": 1,
            "items": {
              "$ref": "#/components/schemas/ProdutoLote"
            }
          }
        }
      },
      "ProdutoLote": {
        "type": "object",
        "additionalProperties": false,
        "required": [
          "ean"
        ],
        "properties": {
          "ean": {
            "type": "string",
            "description": "GTIN ou c\u00f3digo interno quando n\u00e3o tiver GTIN.",
            "example": "7894900011609"
          },
          "descricao": {
            "type": "string",
            "description": "Descri\u00e7\u00e3o do produto.",
            "example": "COCA-COLA GARRAFA 600ML"
          }
        }
      },
      "ConsultarLoteResponse": {
        "type": "object",
        "additionalProperties": false,
        "required": [
          "success",
          "data"
        ],
        "properties": {
          "success": {
            "type": "boolean"
          },
          "data": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/ConsultarLoteItem"
            }
          }
        }
      },
      "ConsultarLoteItem": {
        "type": "object",
        "additionalProperties": true,
        "required": [
          "ean",
          "descri\u00e7\u00e3o",
          "regime_tributario_remetente",
          "tipo_destinatario",
          "uf_origem",
          "uf_destino"
        ],
        "properties": {
          "ean": {
            "type": "string"
          },
          "descri\u00e7\u00e3o": {
            "type": "string"
          },
          "ean vinculado": {
            "type": "string"
          },
          "descri\u00e7\u00e3o vinculado": {
            "type": "string"
          },
          "regime_tributario_remetente": {
            "description": "Identifica o regime do remetente:\n1 - Simples Nacional\n2 - Lucro Real\n3 - Lucro Presumido\n4 - Arbitrario\n5 - Especial\n6 - Publico\n",
            "$ref": "#/components/schemas/RegimeTributarioRemetenteStr"
          },
          "tipo_destinatario": {
            "$ref": "#/components/schemas/TipoDestinatarioStr"
          },
          "uf_origem": {
            "type": "string",
            "minLength": 2,
            "maxLength": 2
          },
          "uf_destino": {
            "type": "string",
            "minLength": 2,
            "maxLength": 2
          },
          "ncm": {
            "type": "string",
            "description": "NCM (at\u00e9 8 d\u00edgitos)."
          },
          "cfop": {
            "type": "string",
            "description": "CFOP (at\u00e9 4 d\u00edgitos)."
          },
          "cest": {
            "type": "string",
            "description": "CEST (at\u00e9 7 d\u00edgitos)."
          },
          "cst": {
            "type": "string",
            "description": "CST (at\u00e9 3 d\u00edgitos)."
          },
          "aliquota_icms": {
            "type": "string"
          },
          "red_base_de_calculo_icms": {
            "type": "string"
          },
          "red_base_de_calculo_icms_st": {
            "type": "string"
          },
          "icms_st_aliquota_interna": {
            "type": "string"
          },
          "mavast": {
            "type": "string"
          },
          "mava_aj_4": {
            "type": "string"
          },
          "mava_aj_12": {
            "type": "string"
          },
          "ipi": {
            "type": "string"
          },
          "cst_ipi": {
            "type": "string"
          },
          "pis_cst": {
            "type": "string"
          },
          "aliquota_pis": {
            "type": "string"
          },
          "cofins_cst": {
            "type": "string"
          },
          "aliquota_cofins": {
            "type": "string"
          }
        }
      },
      "ConsultarProdutoResponse": {
        "type": "object",
        "additionalProperties": false,
        "required": [
          "success",
          "data"
        ],
        "properties": {
          "success": {
            "type": "boolean"
          },
          "data": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/ConsultarProdutoItem"
            }
          }
        }
      },
      "ConsultarProdutoRequest": {
        "type": "object",
        "additionalProperties": false,
        "required": [
          "produtos"
        ],
        "properties": {
          "produtos": {
            "type": "array",
            "minItems": 1,
            "description": "Lista de produtos para consulta por EAN.",
            "items": {
              "$ref": "#/components/schemas/ProdutoLote"
            }
          }
        }
      },
      "ConsultarProdutoItem": {
        "type": "object",
        "additionalProperties": false,
        "required": [
          "ean",
          "descri\u00e7\u00e3o"
        ],
        "properties": {
          "ean": {
            "type": "string"
          },
          "descri\u00e7\u00e3o": {
            "type": "string"
          },
          "marca": {
            "type": "string"
          },
          "embalagem": {
            "type": "string"
          },
          "quantidade_embalagem": {
            "description": "Quantidade da embalagem retornada como string (pode vir vazia).",
            "type": "string",
            "example": ""
          },
          "peso": {
            "description": "Peso retornado como string (ex.: \"630\").",
            "type": "string",
            "example": "630"
          },
          "imagem": {
            "type": "string",
            "description": "URL da imagem do produto."
          }
        }
      },
      "NumeroPossivelmenteStringPtBr": {
        "description": "N\u00famero retornado como string (padr\u00e3o pt-BR).",
        "type": "string"
      },
      "TipoDestinatarioStr": {
        "type": "string",
        "description": "Identifica o destinat\u00e1rio:\n- \"1\" - Consumidor Final\n- \"2\" - Distribui\u00e7\u00e3o\n",
        "enum": [
          "1",
          "2"
        ]
      },
      "RegimeTributarioRemetenteStr": {
        "type": "string",
        "description": "Identifica o regime do remetente:\n- \"1\" - Simples Nacional\n- \"2\" - Lucro Real\n- \"3\" - Lucro Presumido\n- \"4\" - Arbitrario\n- \"5\" - Especial\n- \"6\" - Publico\n",
        "enum": [
          "1",
          "2",
          "3",
          "4",
          "5",
          "6"
        ]
      }
    }
  }
}