{
  "openapi": "3.0.3",
  "info": {
    "title": "Cerner (Oracle Health) FHIR R4 API",
    "description": "HL7 FHIR R4 REST API for the Oracle Health (Cerner) Millennium Platform. Provides access to clinical, administrative, financial, and scheduling healthcare data through standardized FHIR R4 resources. Supports SMART on FHIR OAuth 2.0 authorization.",
    "version": "r4",
    "contact": {
      "name": "Oracle Health",
      "url": "https://docs.oracle.com/en/industries/health/millennium-platform-apis/mfrap/"
    },
    "license": {
      "name": "Proprietary",
      "url": "https://www.oracle.com/legal/terms.html"
    },
    "x-jentic-source-url": "https://fhir.cerner.com/"
  },
  "servers": [
    {
      "url": "https://fhir-open.cerner.com/r4/{tenant-id}",
      "description": "Open (unauthenticated) FHIR R4 endpoint",
      "variables": {
        "tenant-id": {
          "default": "ec2458f2-1e24-41c8-b71b-0e701af7583d",
          "description": "Tenant identifier for the Oracle Health Millennium instance"
        }
      }
    },
    {
      "url": "https://fhir-ehr-code.cerner.com/r4/{tenant-id}",
      "description": "Secure (authenticated) FHIR R4 endpoint requiring OAuth 2.0",
      "variables": {
        "tenant-id": {
          "default": "ec2458f2-1e24-41c8-b71b-0e701af7583d",
          "description": "Tenant identifier for the Oracle Health Millennium instance"
        }
      }
    }
  ],
  "security": [
    {
      "smartOnFhir": []
    }
  ],
  "tags": [
    {
      "name": "Conformance",
      "description": "Server capability and configuration discovery"
    },
    {
      "name": "Clinical - Patient",
      "description": "Patient demographics and identity"
    },
    {
      "name": "Clinical - Encounter",
      "description": "Patient encounters and visits"
    },
    {
      "name": "Clinical - Condition",
      "description": "Conditions, problems, and diagnoses"
    },
    {
      "name": "Clinical - Observation",
      "description": "Clinical observations including vitals and lab results"
    },
    {
      "name": "Clinical - Procedure",
      "description": "Clinical procedures performed on patients"
    },
    {
      "name": "Clinical - AllergyIntolerance",
      "description": "Patient allergy and intolerance records"
    },
    {
      "name": "Clinical - Immunization",
      "description": "Immunization records"
    },
    {
      "name": "Clinical - MedicationRequest",
      "description": "Medication orders and prescriptions"
    },
    {
      "name": "Clinical - MedicationAdministration",
      "description": "Medication administration events"
    },
    {
      "name": "Clinical - DiagnosticReport",
      "description": "Diagnostic reports and findings"
    },
    {
      "name": "Clinical - DocumentReference",
      "description": "Clinical document references"
    },
    {
      "name": "Clinical - CarePlan",
      "description": "Patient care plans"
    },
    {
      "name": "Clinical - CareTeam",
      "description": "Care team members for a patient"
    },
    {
      "name": "Clinical - Goal",
      "description": "Patient health goals"
    },
    {
      "name": "Clinical - FamilyMemberHistory",
      "description": "Family member health history"
    },
    {
      "name": "Clinical - ServiceRequest",
      "description": "Requests for clinical services"
    },
    {
      "name": "Clinical - NutritionOrder",
      "description": "Nutrition and diet orders"
    },
    {
      "name": "Clinical - Communication",
      "description": "Clinical communication records"
    },
    {
      "name": "Clinical - Consent",
      "description": "Patient consent directives"
    },
    {
      "name": "Clinical - Specimen",
      "description": "Specimens for laboratory analysis"
    },
    {
      "name": "Scheduling - Appointment",
      "description": "Appointment scheduling"
    },
    {
      "name": "Scheduling - Schedule",
      "description": "Provider and resource schedules"
    },
    {
      "name": "Scheduling - Slot",
      "description": "Available time slots for scheduling"
    },
    {
      "name": "Administrative - Practitioner",
      "description": "Healthcare practitioners"
    },
    {
      "name": "Administrative - Organization",
      "description": "Healthcare organizations"
    },
    {
      "name": "Administrative - Location",
      "description": "Physical locations and facilities"
    },
    {
      "name": "Administrative - Person",
      "description": "Person demographics"
    },
    {
      "name": "Administrative - RelatedPerson",
      "description": "Related persons such as guardians and contacts"
    },
    {
      "name": "Administrative - Device",
      "description": "Medical devices"
    },
    {
      "name": "Financial - Coverage",
      "description": "Insurance coverage information"
    },
    {
      "name": "Financial - Account",
      "description": "Financial accounts"
    },
    {
      "name": "Financial - ChargeItem",
      "description": "Charge items and billing"
    },
    {
      "name": "Medication - MedicationDispense",
      "description": "Medication dispensing events"
    },
    {
      "name": "Questionnaire",
      "description": "Questionnaires and responses"
    },
    {
      "name": "Provenance",
      "description": "Resource provenance tracking"
    },
    {
      "name": "Bundle",
      "description": "Batch and transaction bundles"
    },
    {
      "name": "Binary",
      "description": "Binary content and generated documents"
    },
    {
      "name": "Financial - InsurancePlan",
      "description": "Insurance plan definitions"
    }
  ],
  "paths": {
    "/metadata": {
      "get": {
        "operationId": "getCapabilityStatement",
        "summary": "Get server capability statement",
        "description": "Returns the CapabilityStatement describing the server's FHIR capabilities, supported resources, operations, and security configuration.",
        "tags": ["Conformance"],
        "security": [],
        "parameters": [],
        "responses": {
          "200": {
            "description": "CapabilityStatement resource",
            "content": {
              "application/fhir+json": {
                "schema": {
                  "$ref": "#/components/schemas/FhirResource"
                }
              }
            }
          },
          "400": { "$ref": "#/components/responses/BadRequest" },
          "401": { "$ref": "#/components/responses/Unauthorized" },
          "404": { "$ref": "#/components/responses/NotFound" }
        }
      }
    },
    "/.well-known/smart-configuration": {
      "get": {
        "operationId": "getSmartConfiguration",
        "summary": "Get SMART on FHIR configuration",
        "description": "Returns the SMART on FHIR well-known configuration including authorization and token endpoint URLs.",
        "tags": ["Conformance"],
        "security": [],
        "parameters": [],
        "responses": {
          "200": {
            "description": "SMART configuration JSON",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          },
          "400": { "$ref": "#/components/responses/BadRequest" },
          "401": { "$ref": "#/components/responses/Unauthorized" },
          "404": { "$ref": "#/components/responses/NotFound" }
        }
      }
    },
    "/Patient": {
      "get": {
        "operationId": "searchPatient",
        "summary": "Search for patients",
        "description": "Search for Patient resources. Either _id or a combination of name, identifier, or demographic parameters must be provided.",
        "tags": ["Clinical - Patient"],
        "parameters": [
          { "$ref": "#/components/parameters/_id" },
          {
            "name": "identifier",
            "in": "query",
            "description": "Patient identifier (e.g., MRN, SSN)",
            "schema": { "type": "string" }
          },
          {
            "name": "name",
            "in": "query",
            "description": "Beginning of any name part",
            "schema": { "type": "string" }
          },
          {
            "name": "given",
            "in": "query",
            "description": "Beginning of given (first) name",
            "schema": { "type": "string" }
          },
          {
            "name": "family",
            "in": "query",
            "description": "Beginning of family (last) name",
            "schema": { "type": "string" }
          },
          {
            "name": "birthdate",
            "in": "query",
            "description": "Date of birth (YYYY-MM-DD)",
            "schema": { "type": "string", "format": "date" }
          },
          {
            "name": "address-postalcode",
            "in": "query",
            "description": "Postal code in address",
            "schema": { "type": "string" }
          },
          {
            "name": "phone",
            "in": "query",
            "description": "Phone number",
            "schema": { "type": "string" }
          },
          {
            "name": "email",
            "in": "query",
            "description": "Email address",
            "schema": { "type": "string" }
          },
          {
            "name": "gender",
            "in": "query",
            "description": "Administrative gender (male | female | other | unknown)",
            "schema": { "type": "string", "enum": ["male", "female", "other", "unknown"] }
          },
          { "$ref": "#/components/parameters/_count" }
        ],
        "responses": {
          "200": { "$ref": "#/components/responses/Bundle" },
          "400": { "$ref": "#/components/responses/BadRequest" },
          "401": { "$ref": "#/components/responses/Unauthorized" },
          "404": { "$ref": "#/components/responses/NotFound" }
        }
      },
      "post": {
        "operationId": "createPatient",
        "summary": "Create a patient",
        "description": "Create a new Patient resource.",
        "tags": ["Clinical - Patient"],
        "requestBody": { "$ref": "#/components/requestBodies/FhirResourceBody" },
        "responses": {
          "201": { "$ref": "#/components/responses/Created" },
          "400": { "$ref": "#/components/responses/BadRequest" },
          "401": { "$ref": "#/components/responses/Unauthorized" },
          "404": { "$ref": "#/components/responses/NotFound" },
          "422": { "$ref": "#/components/responses/UnprocessableEntity" }
        }
      }
    },
    "/Patient/{id}": {
      "get": {
        "operationId": "readPatient",
        "summary": "Read a patient",
        "description": "Retrieve a specific Patient resource by its logical ID.",
        "tags": ["Clinical - Patient"],
        "parameters": [
          { "$ref": "#/components/parameters/resourceId" }
        ],
        "responses": {
          "200": { "$ref": "#/components/responses/FhirResourceResponse" },
          "400": { "$ref": "#/components/responses/BadRequest" },
          "401": { "$ref": "#/components/responses/Unauthorized" },
          "404": { "$ref": "#/components/responses/NotFound" }
        }
      },
      "patch": {
        "operationId": "patchPatient",
        "summary": "Patch a patient",
        "description": "Partially update a Patient resource using JSON Patch.",
        "tags": ["Clinical - Patient"],
        "parameters": [
          { "$ref": "#/components/parameters/resourceId" }
        ],
        "requestBody": { "$ref": "#/components/requestBodies/JsonPatchBody" },
        "responses": {
          "200": { "$ref": "#/components/responses/FhirResourceResponse" },
          "400": { "$ref": "#/components/responses/BadRequest" },
          "401": { "$ref": "#/components/responses/Unauthorized" },
          "404": { "$ref": "#/components/responses/NotFound" },
          "409": { "$ref": "#/components/responses/Conflict" },
          "422": { "$ref": "#/components/responses/UnprocessableEntity" }
        }
      }
    },
    "/Encounter": {
      "get": {
        "operationId": "searchEncounter",
        "summary": "Search for encounters",
        "description": "Search for Encounter resources. Either _id or patient/subject is required.",
        "tags": ["Clinical - Encounter"],
        "parameters": [
          { "$ref": "#/components/parameters/_id" },
          { "$ref": "#/components/parameters/patient" },
          { "$ref": "#/components/parameters/subject" },
          { "$ref": "#/components/parameters/_count" }
        ],
        "responses": {
          "200": { "$ref": "#/components/responses/Bundle" },
          "400": { "$ref": "#/components/responses/BadRequest" },
          "401": { "$ref": "#/components/responses/Unauthorized" },
          "404": { "$ref": "#/components/responses/NotFound" }
        }
      },
      "post": {
        "operationId": "createEncounter",
        "summary": "Create an encounter",
        "description": "Create a new Encounter resource.",
        "tags": ["Clinical - Encounter"],
        "requestBody": { "$ref": "#/components/requestBodies/FhirResourceBody" },
        "responses": {
          "201": { "$ref": "#/components/responses/Created" },
          "400": { "$ref": "#/components/responses/BadRequest" },
          "401": { "$ref": "#/components/responses/Unauthorized" },
          "404": { "$ref": "#/components/responses/NotFound" },
          "422": { "$ref": "#/components/responses/UnprocessableEntity" }
        }
      }
    },
    "/Encounter/{id}": {
      "get": {
        "operationId": "readEncounter",
        "summary": "Read an encounter",
        "description": "Retrieve a specific Encounter resource by its logical ID.",
        "tags": ["Clinical - Encounter"],
        "parameters": [
          { "$ref": "#/components/parameters/resourceId" }
        ],
        "responses": {
          "200": { "$ref": "#/components/responses/FhirResourceResponse" },
          "400": { "$ref": "#/components/responses/BadRequest" },
          "401": { "$ref": "#/components/responses/Unauthorized" },
          "404": { "$ref": "#/components/responses/NotFound" }
        }
      },
      "patch": {
        "operationId": "patchEncounter",
        "summary": "Patch an encounter",
        "description": "Partially update an Encounter resource using JSON Patch.",
        "tags": ["Clinical - Encounter"],
        "parameters": [
          { "$ref": "#/components/parameters/resourceId" }
        ],
        "requestBody": { "$ref": "#/components/requestBodies/JsonPatchBody" },
        "responses": {
          "200": { "$ref": "#/components/responses/FhirResourceResponse" },
          "400": { "$ref": "#/components/responses/BadRequest" },
          "401": { "$ref": "#/components/responses/Unauthorized" },
          "404": { "$ref": "#/components/responses/NotFound" },
          "409": { "$ref": "#/components/responses/Conflict" },
          "422": { "$ref": "#/components/responses/UnprocessableEntity" }
        }
      }
    },
    "/Condition": {
      "get": {
        "operationId": "searchCondition",
        "summary": "Search for conditions",
        "description": "Search for Condition resources. Either patient or subject is required.",
        "tags": ["Clinical - Condition"],
        "parameters": [
          { "$ref": "#/components/parameters/patient" },
          { "$ref": "#/components/parameters/subject" },
          {
            "name": "clinical-status",
            "in": "query",
            "description": "Clinical status of the condition",
            "schema": { "type": "string" }
          },
          {
            "name": "category",
            "in": "query",
            "description": "Category of condition (problem-list-item | encounter-diagnosis)",
            "schema": { "type": "string", "enum": ["problem-list-item", "encounter-diagnosis"] }
          },
          { "$ref": "#/components/parameters/_count" }
        ],
        "responses": {
          "200": { "$ref": "#/components/responses/Bundle" },
          "400": { "$ref": "#/components/responses/BadRequest" },
          "401": { "$ref": "#/components/responses/Unauthorized" },
          "404": { "$ref": "#/components/responses/NotFound" }
        }
      },
      "post": {
        "operationId": "createCondition",
        "summary": "Create a condition",
        "description": "Create a new Condition resource.",
        "tags": ["Clinical - Condition"],
        "requestBody": { "$ref": "#/components/requestBodies/FhirResourceBody" },
        "responses": {
          "201": { "$ref": "#/components/responses/Created" },
          "400": { "$ref": "#/components/responses/BadRequest" },
          "401": { "$ref": "#/components/responses/Unauthorized" },
          "404": { "$ref": "#/components/responses/NotFound" },
          "422": { "$ref": "#/components/responses/UnprocessableEntity" }
        }
      }
    },
    "/Condition/{id}": {
      "get": {
        "operationId": "readCondition",
        "summary": "Read a condition",
        "description": "Retrieve a specific Condition resource by its logical ID.",
        "tags": ["Clinical - Condition"],
        "parameters": [
          { "$ref": "#/components/parameters/resourceId" }
        ],
        "responses": {
          "200": { "$ref": "#/components/responses/FhirResourceResponse" },
          "400": { "$ref": "#/components/responses/BadRequest" },
          "401": { "$ref": "#/components/responses/Unauthorized" },
          "404": { "$ref": "#/components/responses/NotFound" }
        }
      },
      "put": {
        "operationId": "updateCondition",
        "summary": "Update a condition",
        "description": "Update an existing Condition resource.",
        "tags": ["Clinical - Condition"],
        "parameters": [
          { "$ref": "#/components/parameters/resourceId" }
        ],
        "requestBody": { "$ref": "#/components/requestBodies/FhirResourceBody" },
        "responses": {
          "200": { "$ref": "#/components/responses/FhirResourceResponse" },
          "400": { "$ref": "#/components/responses/BadRequest" },
          "401": { "$ref": "#/components/responses/Unauthorized" },
          "404": { "$ref": "#/components/responses/NotFound" },
          "409": { "$ref": "#/components/responses/Conflict" },
          "422": { "$ref": "#/components/responses/UnprocessableEntity" }
        }
      }
    },
    "/Observation": {
      "get": {
        "operationId": "searchObservation",
        "summary": "Search for observations",
        "description": "Search for Observation resources such as vitals, lab results, and other clinical measurements.",
        "tags": ["Clinical - Observation"],
        "parameters": [
          { "$ref": "#/components/parameters/_id" },
          { "$ref": "#/components/parameters/patient" },
          { "$ref": "#/components/parameters/subject" },
          {
            "name": "code",
            "in": "query",
            "description": "Observation code (LOINC or other coding system)",
            "schema": { "type": "string" }
          },
          {
            "name": "category",
            "in": "query",
            "description": "Classification of observation type",
            "schema": { "type": "string" }
          },
          {
            "name": "date",
            "in": "query",
            "description": "Date or date range for the observation",
            "schema": { "type": "string" }
          },
          { "$ref": "#/components/parameters/_count" }
        ],
        "responses": {
          "200": { "$ref": "#/components/responses/Bundle" },
          "400": { "$ref": "#/components/responses/BadRequest" },
          "401": { "$ref": "#/components/responses/Unauthorized" },
          "404": { "$ref": "#/components/responses/NotFound" }
        }
      },
      "post": {
        "operationId": "createObservation",
        "summary": "Create an observation",
        "description": "Create a new Observation resource.",
        "tags": ["Clinical - Observation"],
        "requestBody": { "$ref": "#/components/requestBodies/FhirResourceBody" },
        "responses": {
          "201": { "$ref": "#/components/responses/Created" },
          "400": { "$ref": "#/components/responses/BadRequest" },
          "401": { "$ref": "#/components/responses/Unauthorized" },
          "404": { "$ref": "#/components/responses/NotFound" },
          "422": { "$ref": "#/components/responses/UnprocessableEntity" }
        }
      }
    },
    "/Observation/{id}": {
      "get": {
        "operationId": "readObservation",
        "summary": "Read an observation",
        "description": "Retrieve a specific Observation resource by its logical ID.",
        "tags": ["Clinical - Observation"],
        "parameters": [
          { "$ref": "#/components/parameters/resourceId" }
        ],
        "responses": {
          "200": { "$ref": "#/components/responses/FhirResourceResponse" },
          "400": { "$ref": "#/components/responses/BadRequest" },
          "401": { "$ref": "#/components/responses/Unauthorized" },
          "404": { "$ref": "#/components/responses/NotFound" }
        }
      },
      "put": {
        "operationId": "updateObservation",
        "summary": "Update an observation",
        "description": "Update an existing Observation resource.",
        "tags": ["Clinical - Observation"],
        "parameters": [
          { "$ref": "#/components/parameters/resourceId" }
        ],
        "requestBody": { "$ref": "#/components/requestBodies/FhirResourceBody" },
        "responses": {
          "200": { "$ref": "#/components/responses/FhirResourceResponse" },
          "400": { "$ref": "#/components/responses/BadRequest" },
          "401": { "$ref": "#/components/responses/Unauthorized" },
          "404": { "$ref": "#/components/responses/NotFound" },
          "409": { "$ref": "#/components/responses/Conflict" },
          "422": { "$ref": "#/components/responses/UnprocessableEntity" }
        }
      }
    },
    "/Procedure": {
      "get": {
        "operationId": "searchProcedure",
        "summary": "Search for procedures",
        "description": "Search for Procedure resources. Either _id, patient, or subject is required.",
        "tags": ["Clinical - Procedure"],
        "parameters": [
          { "$ref": "#/components/parameters/_id" },
          { "$ref": "#/components/parameters/patient" },
          { "$ref": "#/components/parameters/subject" },
          {
            "name": "date",
            "in": "query",
            "description": "Date or date range the procedure was performed",
            "schema": { "type": "string" }
          },
          { "$ref": "#/components/parameters/_count" }
        ],
        "responses": {
          "200": { "$ref": "#/components/responses/Bundle" },
          "400": { "$ref": "#/components/responses/BadRequest" },
          "401": { "$ref": "#/components/responses/Unauthorized" },
          "404": { "$ref": "#/components/responses/NotFound" }
        }
      },
      "post": {
        "operationId": "createProcedure",
        "summary": "Create a procedure",
        "description": "Create a new Procedure resource.",
        "tags": ["Clinical - Procedure"],
        "requestBody": { "$ref": "#/components/requestBodies/FhirResourceBody" },
        "responses": {
          "201": { "$ref": "#/components/responses/Created" },
          "400": { "$ref": "#/components/responses/BadRequest" },
          "401": { "$ref": "#/components/responses/Unauthorized" },
          "404": { "$ref": "#/components/responses/NotFound" },
          "422": { "$ref": "#/components/responses/UnprocessableEntity" }
        }
      }
    },
    "/Procedure/{id}": {
      "get": {
        "operationId": "readProcedure",
        "summary": "Read a procedure",
        "description": "Retrieve a specific Procedure resource by its logical ID.",
        "tags": ["Clinical - Procedure"],
        "parameters": [
          { "$ref": "#/components/parameters/resourceId" }
        ],
        "responses": {
          "200": { "$ref": "#/components/responses/FhirResourceResponse" },
          "400": { "$ref": "#/components/responses/BadRequest" },
          "401": { "$ref": "#/components/responses/Unauthorized" },
          "404": { "$ref": "#/components/responses/NotFound" }
        }
      }
    },
    "/AllergyIntolerance": {
      "get": {
        "operationId": "searchAllergyIntolerance",
        "summary": "Search for allergies and intolerances",
        "description": "Search for AllergyIntolerance resources for a patient.",
        "tags": ["Clinical - AllergyIntolerance"],
        "parameters": [
          { "$ref": "#/components/parameters/_id" },
          { "$ref": "#/components/parameters/patient" },
          {
            "name": "clinical-status",
            "in": "query",
            "description": "Clinical status of the allergy (active | inactive | resolved)",
            "schema": { "type": "string" }
          },
          { "$ref": "#/components/parameters/_count" }
        ],
        "responses": {
          "200": { "$ref": "#/components/responses/Bundle" },
          "400": { "$ref": "#/components/responses/BadRequest" },
          "401": { "$ref": "#/components/responses/Unauthorized" },
          "404": { "$ref": "#/components/responses/NotFound" }
        }
      },
      "post": {
        "operationId": "createAllergyIntolerance",
        "summary": "Create an allergy or intolerance",
        "description": "Create a new AllergyIntolerance resource.",
        "tags": ["Clinical - AllergyIntolerance"],
        "requestBody": { "$ref": "#/components/requestBodies/FhirResourceBody" },
        "responses": {
          "201": { "$ref": "#/components/responses/Created" },
          "400": { "$ref": "#/components/responses/BadRequest" },
          "401": { "$ref": "#/components/responses/Unauthorized" },
          "404": { "$ref": "#/components/responses/NotFound" },
          "422": { "$ref": "#/components/responses/UnprocessableEntity" }
        }
      }
    },
    "/AllergyIntolerance/{id}": {
      "get": {
        "operationId": "readAllergyIntolerance",
        "summary": "Read an allergy or intolerance",
        "description": "Retrieve a specific AllergyIntolerance resource by its logical ID.",
        "tags": ["Clinical - AllergyIntolerance"],
        "parameters": [
          { "$ref": "#/components/parameters/resourceId" }
        ],
        "responses": {
          "200": { "$ref": "#/components/responses/FhirResourceResponse" },
          "400": { "$ref": "#/components/responses/BadRequest" },
          "401": { "$ref": "#/components/responses/Unauthorized" },
          "404": { "$ref": "#/components/responses/NotFound" }
        }
      },
      "put": {
        "operationId": "updateAllergyIntolerance",
        "summary": "Update an allergy or intolerance",
        "description": "Update an existing AllergyIntolerance resource.",
        "tags": ["Clinical - AllergyIntolerance"],
        "parameters": [
          { "$ref": "#/components/parameters/resourceId" }
        ],
        "requestBody": { "$ref": "#/components/requestBodies/FhirResourceBody" },
        "responses": {
          "200": { "$ref": "#/components/responses/FhirResourceResponse" },
          "400": { "$ref": "#/components/responses/BadRequest" },
          "401": { "$ref": "#/components/responses/Unauthorized" },
          "404": { "$ref": "#/components/responses/NotFound" },
          "409": { "$ref": "#/components/responses/Conflict" },
          "422": { "$ref": "#/components/responses/UnprocessableEntity" }
        }
      }
    },
    "/Immunization": {
      "get": {
        "operationId": "searchImmunization",
        "summary": "Search for immunizations",
        "description": "Search for Immunization resources for a patient.",
        "tags": ["Clinical - Immunization"],
        "parameters": [
          { "$ref": "#/components/parameters/_id" },
          { "$ref": "#/components/parameters/patient" },
          {
            "name": "date",
            "in": "query",
            "description": "Date the immunization was administered",
            "schema": { "type": "string" }
          },
          { "$ref": "#/components/parameters/_count" }
        ],
        "responses": {
          "200": { "$ref": "#/components/responses/Bundle" },
          "400": { "$ref": "#/components/responses/BadRequest" },
          "401": { "$ref": "#/components/responses/Unauthorized" },
          "404": { "$ref": "#/components/responses/NotFound" }
        }
      },
      "post": {
        "operationId": "createImmunization",
        "summary": "Create an immunization",
        "description": "Create a new Immunization resource.",
        "tags": ["Clinical - Immunization"],
        "requestBody": { "$ref": "#/components/requestBodies/FhirResourceBody" },
        "responses": {
          "201": { "$ref": "#/components/responses/Created" },
          "400": { "$ref": "#/components/responses/BadRequest" },
          "401": { "$ref": "#/components/responses/Unauthorized" },
          "404": { "$ref": "#/components/responses/NotFound" },
          "422": { "$ref": "#/components/responses/UnprocessableEntity" }
        }
      }
    },
    "/Immunization/{id}": {
      "get": {
        "operationId": "readImmunization",
        "summary": "Read an immunization",
        "description": "Retrieve a specific Immunization resource by its logical ID.",
        "tags": ["Clinical - Immunization"],
        "parameters": [
          { "$ref": "#/components/parameters/resourceId" }
        ],
        "responses": {
          "200": { "$ref": "#/components/responses/FhirResourceResponse" },
          "400": { "$ref": "#/components/responses/BadRequest" },
          "401": { "$ref": "#/components/responses/Unauthorized" },
          "404": { "$ref": "#/components/responses/NotFound" }
        }
      },
      "put": {
        "operationId": "updateImmunization",
        "summary": "Update an immunization",
        "description": "Update an existing Immunization resource.",
        "tags": ["Clinical - Immunization"],
        "parameters": [
          { "$ref": "#/components/parameters/resourceId" }
        ],
        "requestBody": { "$ref": "#/components/requestBodies/FhirResourceBody" },
        "responses": {
          "200": { "$ref": "#/components/responses/FhirResourceResponse" },
          "400": { "$ref": "#/components/responses/BadRequest" },
          "401": { "$ref": "#/components/responses/Unauthorized" },
          "404": { "$ref": "#/components/responses/NotFound" },
          "409": { "$ref": "#/components/responses/Conflict" },
          "422": { "$ref": "#/components/responses/UnprocessableEntity" }
        }
      }
    },
    "/MedicationRequest": {
      "get": {
        "operationId": "searchMedicationRequest",
        "summary": "Search for medication requests",
        "description": "Search for MedicationRequest resources (prescriptions and medication orders).",
        "tags": ["Clinical - MedicationRequest"],
        "parameters": [
          { "$ref": "#/components/parameters/_id" },
          { "$ref": "#/components/parameters/patient" },
          {
            "name": "status",
            "in": "query",
            "description": "Status of the medication request",
            "schema": { "type": "string" }
          },
          {
            "name": "intent",
            "in": "query",
            "description": "Intent of the medication request (proposal | plan | order)",
            "schema": { "type": "string" }
          },
          {
            "name": "_lastUpdated",
            "in": "query",
            "description": "Date the resource was last updated",
            "schema": { "type": "string" }
          },
          { "$ref": "#/components/parameters/_count" }
        ],
        "responses": {
          "200": { "$ref": "#/components/responses/Bundle" },
          "400": { "$ref": "#/components/responses/BadRequest" },
          "401": { "$ref": "#/components/responses/Unauthorized" },
          "404": { "$ref": "#/components/responses/NotFound" }
        }
      },
      "post": {
        "operationId": "createMedicationRequest",
        "summary": "Create a medication request",
        "description": "Create a new MedicationRequest resource.",
        "tags": ["Clinical - MedicationRequest"],
        "requestBody": { "$ref": "#/components/requestBodies/FhirResourceBody" },
        "responses": {
          "201": { "$ref": "#/components/responses/Created" },
          "400": { "$ref": "#/components/responses/BadRequest" },
          "401": { "$ref": "#/components/responses/Unauthorized" },
          "404": { "$ref": "#/components/responses/NotFound" },
          "422": { "$ref": "#/components/responses/UnprocessableEntity" }
        }
      }
    },
    "/MedicationRequest/{id}": {
      "get": {
        "operationId": "readMedicationRequest",
        "summary": "Read a medication request",
        "description": "Retrieve a specific MedicationRequest resource by its logical ID.",
        "tags": ["Clinical - MedicationRequest"],
        "parameters": [
          { "$ref": "#/components/parameters/resourceId" }
        ],
        "responses": {
          "200": { "$ref": "#/components/responses/FhirResourceResponse" },
          "400": { "$ref": "#/components/responses/BadRequest" },
          "401": { "$ref": "#/components/responses/Unauthorized" },
          "404": { "$ref": "#/components/responses/NotFound" }
        }
      },
      "patch": {
        "operationId": "patchMedicationRequest",
        "summary": "Patch a medication request",
        "description": "Partially update a MedicationRequest resource using JSON Patch.",
        "tags": ["Clinical - MedicationRequest"],
        "parameters": [
          { "$ref": "#/components/parameters/resourceId" }
        ],
        "requestBody": { "$ref": "#/components/requestBodies/JsonPatchBody" },
        "responses": {
          "200": { "$ref": "#/components/responses/FhirResourceResponse" },
          "400": { "$ref": "#/components/responses/BadRequest" },
          "401": { "$ref": "#/components/responses/Unauthorized" },
          "404": { "$ref": "#/components/responses/NotFound" },
          "409": { "$ref": "#/components/responses/Conflict" },
          "422": { "$ref": "#/components/responses/UnprocessableEntity" }
        }
      }
    },
    "/MedicationAdministration": {
      "get": {
        "operationId": "searchMedicationAdministration",
        "summary": "Search for medication administrations",
        "description": "Search for MedicationAdministration resources recording when medications were given.",
        "tags": ["Clinical - MedicationAdministration"],
        "parameters": [
          { "$ref": "#/components/parameters/_id" },
          { "$ref": "#/components/parameters/patient" },
          {
            "name": "status",
            "in": "query",
            "description": "Status of the administration event",
            "schema": { "type": "string" }
          },
          {
            "name": "effective-time",
            "in": "query",
            "description": "Date the administration occurred",
            "schema": { "type": "string" }
          },
          { "$ref": "#/components/parameters/_count" }
        ],
        "responses": {
          "200": { "$ref": "#/components/responses/Bundle" },
          "400": { "$ref": "#/components/responses/BadRequest" },
          "401": { "$ref": "#/components/responses/Unauthorized" },
          "404": { "$ref": "#/components/responses/NotFound" }
        }
      }
    },
    "/MedicationAdministration/{id}": {
      "get": {
        "operationId": "readMedicationAdministration",
        "summary": "Read a medication administration",
        "description": "Retrieve a specific MedicationAdministration resource by its logical ID.",
        "tags": ["Clinical - MedicationAdministration"],
        "parameters": [
          { "$ref": "#/components/parameters/resourceId" }
        ],
        "responses": {
          "200": { "$ref": "#/components/responses/FhirResourceResponse" },
          "400": { "$ref": "#/components/responses/BadRequest" },
          "401": { "$ref": "#/components/responses/Unauthorized" },
          "404": { "$ref": "#/components/responses/NotFound" }
        }
      }
    },
    "/MedicationDispense": {
      "get": {
        "operationId": "searchMedicationDispense",
        "summary": "Search for medication dispense events",
        "description": "Search for MedicationDispense resources.",
        "tags": ["Medication - MedicationDispense"],
        "parameters": [
          { "$ref": "#/components/parameters/_id" },
          { "$ref": "#/components/parameters/patient" },
          { "$ref": "#/components/parameters/_count" }
        ],
        "responses": {
          "200": { "$ref": "#/components/responses/Bundle" },
          "400": { "$ref": "#/components/responses/BadRequest" },
          "401": { "$ref": "#/components/responses/Unauthorized" },
          "404": { "$ref": "#/components/responses/NotFound" }
        }
      }
    },
    "/MedicationDispense/{id}": {
      "get": {
        "operationId": "readMedicationDispense",
        "summary": "Read a medication dispense",
        "description": "Retrieve a specific MedicationDispense resource by its logical ID.",
        "tags": ["Medication - MedicationDispense"],
        "parameters": [
          { "$ref": "#/components/parameters/resourceId" }
        ],
        "responses": {
          "200": { "$ref": "#/components/responses/FhirResourceResponse" },
          "400": { "$ref": "#/components/responses/BadRequest" },
          "401": { "$ref": "#/components/responses/Unauthorized" },
          "404": { "$ref": "#/components/responses/NotFound" }
        }
      }
    },
    "/DiagnosticReport": {
      "get": {
        "operationId": "searchDiagnosticReport",
        "summary": "Search for diagnostic reports",
        "description": "Search for DiagnosticReport resources such as lab reports and imaging studies.",
        "tags": ["Clinical - DiagnosticReport"],
        "parameters": [
          { "$ref": "#/components/parameters/_id" },
          { "$ref": "#/components/parameters/patient" },
          { "$ref": "#/components/parameters/subject" },
          {
            "name": "code",
            "in": "query",
            "description": "Report type code",
            "schema": { "type": "string" }
          },
          {
            "name": "date",
            "in": "query",
            "description": "Date the report was issued",
            "schema": { "type": "string" }
          },
          {
            "name": "encounter",
            "in": "query",
            "description": "Encounter associated with the report",
            "schema": { "type": "string" }
          },
          { "$ref": "#/components/parameters/_count" }
        ],
        "responses": {
          "200": { "$ref": "#/components/responses/Bundle" },
          "400": { "$ref": "#/components/responses/BadRequest" },
          "401": { "$ref": "#/components/responses/Unauthorized" },
          "404": { "$ref": "#/components/responses/NotFound" }
        }
      },
      "post": {
        "operationId": "createDiagnosticReport",
        "summary": "Create a diagnostic report",
        "description": "Create a new DiagnosticReport resource.",
        "tags": ["Clinical - DiagnosticReport"],
        "requestBody": { "$ref": "#/components/requestBodies/FhirResourceBody" },
        "responses": {
          "201": { "$ref": "#/components/responses/Created" },
          "400": { "$ref": "#/components/responses/BadRequest" },
          "401": { "$ref": "#/components/responses/Unauthorized" },
          "404": { "$ref": "#/components/responses/NotFound" },
          "422": { "$ref": "#/components/responses/UnprocessableEntity" }
        }
      }
    },
    "/DiagnosticReport/{id}": {
      "get": {
        "operationId": "readDiagnosticReport",
        "summary": "Read a diagnostic report",
        "description": "Retrieve a specific DiagnosticReport resource by its logical ID.",
        "tags": ["Clinical - DiagnosticReport"],
        "parameters": [
          { "$ref": "#/components/parameters/resourceId" }
        ],
        "responses": {
          "200": { "$ref": "#/components/responses/FhirResourceResponse" },
          "400": { "$ref": "#/components/responses/BadRequest" },
          "401": { "$ref": "#/components/responses/Unauthorized" },
          "404": { "$ref": "#/components/responses/NotFound" }
        }
      }
    },
    "/DocumentReference": {
      "get": {
        "operationId": "searchDocumentReference",
        "summary": "Search for document references",
        "description": "Search for DocumentReference resources pointing to clinical documents.",
        "tags": ["Clinical - DocumentReference"],
        "parameters": [
          { "$ref": "#/components/parameters/_id" },
          { "$ref": "#/components/parameters/patient" },
          {
            "name": "encounter",
            "in": "query",
            "description": "Encounter associated with the document",
            "schema": { "type": "string" }
          },
          {
            "name": "type",
            "in": "query",
            "description": "Kind of document (LOINC if possible)",
            "schema": { "type": "string" }
          },
          {
            "name": "date",
            "in": "query",
            "description": "When the document was created",
            "schema": { "type": "string" }
          },
          { "$ref": "#/components/parameters/_count" }
        ],
        "responses": {
          "200": { "$ref": "#/components/responses/Bundle" },
          "400": { "$ref": "#/components/responses/BadRequest" },
          "401": { "$ref": "#/components/responses/Unauthorized" },
          "404": { "$ref": "#/components/responses/NotFound" }
        }
      },
      "post": {
        "operationId": "createDocumentReference",
        "summary": "Create a document reference",
        "description": "Create a new DocumentReference resource.",
        "tags": ["Clinical - DocumentReference"],
        "requestBody": { "$ref": "#/components/requestBodies/FhirResourceBody" },
        "responses": {
          "201": { "$ref": "#/components/responses/Created" },
          "400": { "$ref": "#/components/responses/BadRequest" },
          "401": { "$ref": "#/components/responses/Unauthorized" },
          "404": { "$ref": "#/components/responses/NotFound" },
          "422": { "$ref": "#/components/responses/UnprocessableEntity" }
        }
      }
    },
    "/DocumentReference/{id}": {
      "get": {
        "operationId": "readDocumentReference",
        "summary": "Read a document reference",
        "description": "Retrieve a specific DocumentReference resource by its logical ID.",
        "tags": ["Clinical - DocumentReference"],
        "parameters": [
          { "$ref": "#/components/parameters/resourceId" }
        ],
        "responses": {
          "200": { "$ref": "#/components/responses/FhirResourceResponse" },
          "400": { "$ref": "#/components/responses/BadRequest" },
          "401": { "$ref": "#/components/responses/Unauthorized" },
          "404": { "$ref": "#/components/responses/NotFound" }
        }
      },
      "put": {
        "operationId": "updateDocumentReference",
        "summary": "Update a document reference",
        "description": "Update an existing DocumentReference resource.",
        "tags": ["Clinical - DocumentReference"],
        "parameters": [
          { "$ref": "#/components/parameters/resourceId" }
        ],
        "requestBody": { "$ref": "#/components/requestBodies/FhirResourceBody" },
        "responses": {
          "200": { "$ref": "#/components/responses/FhirResourceResponse" },
          "400": { "$ref": "#/components/responses/BadRequest" },
          "401": { "$ref": "#/components/responses/Unauthorized" },
          "404": { "$ref": "#/components/responses/NotFound" },
          "409": { "$ref": "#/components/responses/Conflict" },
          "422": { "$ref": "#/components/responses/UnprocessableEntity" }
        }
      }
    },
    "/DocumentReference/$docref": {
      "post": {
        "operationId": "documentReferenceDocref",
        "summary": "Generate or retrieve document references",
        "description": "Invoke the $docref operation to generate or retrieve document references for a patient.",
        "tags": ["Clinical - DocumentReference"],
        "requestBody": { "$ref": "#/components/requestBodies/FhirResourceBody" },
        "responses": {
          "200": { "$ref": "#/components/responses/Bundle" },
          "400": { "$ref": "#/components/responses/BadRequest" },
          "401": { "$ref": "#/components/responses/Unauthorized" },
          "404": { "$ref": "#/components/responses/NotFound" }
        }
      }
    },
    "/CarePlan": {
      "get": {
        "operationId": "searchCarePlan",
        "summary": "Search for care plans",
        "description": "Search for CarePlan resources for a patient.",
        "tags": ["Clinical - CarePlan"],
        "parameters": [
          { "$ref": "#/components/parameters/_id" },
          { "$ref": "#/components/parameters/patient" },
          {
            "name": "category",
            "in": "query",
            "description": "Category of the care plan",
            "schema": { "type": "string" }
          },
          { "$ref": "#/components/parameters/_count" }
        ],
        "responses": {
          "200": { "$ref": "#/components/responses/Bundle" },
          "400": { "$ref": "#/components/responses/BadRequest" },
          "401": { "$ref": "#/components/responses/Unauthorized" },
          "404": { "$ref": "#/components/responses/NotFound" }
        }
      }
    },
    "/CarePlan/{id}": {
      "get": {
        "operationId": "readCarePlan",
        "summary": "Read a care plan",
        "description": "Retrieve a specific CarePlan resource by its logical ID.",
        "tags": ["Clinical - CarePlan"],
        "parameters": [
          { "$ref": "#/components/parameters/resourceId" }
        ],
        "responses": {
          "200": { "$ref": "#/components/responses/FhirResourceResponse" },
          "400": { "$ref": "#/components/responses/BadRequest" },
          "401": { "$ref": "#/components/responses/Unauthorized" },
          "404": { "$ref": "#/components/responses/NotFound" }
        }
      }
    },
    "/CareTeam": {
      "get": {
        "operationId": "searchCareTeam",
        "summary": "Search for care teams",
        "description": "Search for CareTeam resources.",
        "tags": ["Clinical - CareTeam"],
        "parameters": [
          { "$ref": "#/components/parameters/_id" },
          { "$ref": "#/components/parameters/patient" },
          {
            "name": "encounter",
            "in": "query",
            "description": "Encounter associated with the care team",
            "schema": { "type": "string" }
          },
          { "$ref": "#/components/parameters/_count" }
        ],
        "responses": {
          "200": { "$ref": "#/components/responses/Bundle" },
          "400": { "$ref": "#/components/responses/BadRequest" },
          "401": { "$ref": "#/components/responses/Unauthorized" },
          "404": { "$ref": "#/components/responses/NotFound" }
        }
      }
    },
    "/CareTeam/{id}": {
      "get": {
        "operationId": "readCareTeam",
        "summary": "Read a care team",
        "description": "Retrieve a specific CareTeam resource by its logical ID.",
        "tags": ["Clinical - CareTeam"],
        "parameters": [
          { "$ref": "#/components/parameters/resourceId" }
        ],
        "responses": {
          "200": { "$ref": "#/components/responses/FhirResourceResponse" },
          "400": { "$ref": "#/components/responses/BadRequest" },
          "401": { "$ref": "#/components/responses/Unauthorized" },
          "404": { "$ref": "#/components/responses/NotFound" }
        }
      }
    },
    "/Goal": {
      "get": {
        "operationId": "searchGoal",
        "summary": "Search for goals",
        "description": "Search for Goal resources for a patient.",
        "tags": ["Clinical - Goal"],
        "parameters": [
          { "$ref": "#/components/parameters/_id" },
          { "$ref": "#/components/parameters/patient" },
          { "$ref": "#/components/parameters/_count" }
        ],
        "responses": {
          "200": { "$ref": "#/components/responses/Bundle" },
          "400": { "$ref": "#/components/responses/BadRequest" },
          "401": { "$ref": "#/components/responses/Unauthorized" },
          "404": { "$ref": "#/components/responses/NotFound" }
        }
      }
    },
    "/Goal/{id}": {
      "get": {
        "operationId": "readGoal",
        "summary": "Read a goal",
        "description": "Retrieve a specific Goal resource by its logical ID.",
        "tags": ["Clinical - Goal"],
        "parameters": [
          { "$ref": "#/components/parameters/resourceId" }
        ],
        "responses": {
          "200": { "$ref": "#/components/responses/FhirResourceResponse" },
          "400": { "$ref": "#/components/responses/BadRequest" },
          "401": { "$ref": "#/components/responses/Unauthorized" },
          "404": { "$ref": "#/components/responses/NotFound" }
        }
      }
    },
    "/FamilyMemberHistory": {
      "get": {
        "operationId": "searchFamilyMemberHistory",
        "summary": "Search for family member history",
        "description": "Search for FamilyMemberHistory resources.",
        "tags": ["Clinical - FamilyMemberHistory"],
        "parameters": [
          { "$ref": "#/components/parameters/_id" },
          { "$ref": "#/components/parameters/patient" },
          { "$ref": "#/components/parameters/_count" }
        ],
        "responses": {
          "200": { "$ref": "#/components/responses/Bundle" },
          "400": { "$ref": "#/components/responses/BadRequest" },
          "401": { "$ref": "#/components/responses/Unauthorized" },
          "404": { "$ref": "#/components/responses/NotFound" }
        }
      },
      "post": {
        "operationId": "createFamilyMemberHistory",
        "summary": "Create a family member history",
        "description": "Create a new FamilyMemberHistory resource.",
        "tags": ["Clinical - FamilyMemberHistory"],
        "requestBody": { "$ref": "#/components/requestBodies/FhirResourceBody" },
        "responses": {
          "201": { "$ref": "#/components/responses/Created" },
          "400": { "$ref": "#/components/responses/BadRequest" },
          "401": { "$ref": "#/components/responses/Unauthorized" },
          "404": { "$ref": "#/components/responses/NotFound" },
          "422": { "$ref": "#/components/responses/UnprocessableEntity" }
        }
      }
    },
    "/FamilyMemberHistory/{id}": {
      "get": {
        "operationId": "readFamilyMemberHistory",
        "summary": "Read a family member history",
        "description": "Retrieve a specific FamilyMemberHistory resource by its logical ID.",
        "tags": ["Clinical - FamilyMemberHistory"],
        "parameters": [
          { "$ref": "#/components/parameters/resourceId" }
        ],
        "responses": {
          "200": { "$ref": "#/components/responses/FhirResourceResponse" },
          "400": { "$ref": "#/components/responses/BadRequest" },
          "401": { "$ref": "#/components/responses/Unauthorized" },
          "404": { "$ref": "#/components/responses/NotFound" }
        }
      },
      "put": {
        "operationId": "updateFamilyMemberHistory",
        "summary": "Update a family member history",
        "description": "Update an existing FamilyMemberHistory resource.",
        "tags": ["Clinical - FamilyMemberHistory"],
        "parameters": [
          { "$ref": "#/components/parameters/resourceId" }
        ],
        "requestBody": { "$ref": "#/components/requestBodies/FhirResourceBody" },
        "responses": {
          "200": { "$ref": "#/components/responses/FhirResourceResponse" },
          "400": { "$ref": "#/components/responses/BadRequest" },
          "401": { "$ref": "#/components/responses/Unauthorized" },
          "404": { "$ref": "#/components/responses/NotFound" },
          "409": { "$ref": "#/components/responses/Conflict" },
          "422": { "$ref": "#/components/responses/UnprocessableEntity" }
        }
      }
    },
    "/ServiceRequest": {
      "get": {
        "operationId": "searchServiceRequest",
        "summary": "Search for service requests",
        "description": "Search for ServiceRequest resources.",
        "tags": ["Clinical - ServiceRequest"],
        "parameters": [
          { "$ref": "#/components/parameters/_id" },
          { "$ref": "#/components/parameters/patient" },
          { "$ref": "#/components/parameters/_count" }
        ],
        "responses": {
          "200": { "$ref": "#/components/responses/Bundle" },
          "400": { "$ref": "#/components/responses/BadRequest" },
          "401": { "$ref": "#/components/responses/Unauthorized" },
          "404": { "$ref": "#/components/responses/NotFound" }
        }
      }
    },
    "/ServiceRequest/{id}": {
      "get": {
        "operationId": "readServiceRequest",
        "summary": "Read a service request",
        "description": "Retrieve a specific ServiceRequest resource by its logical ID.",
        "tags": ["Clinical - ServiceRequest"],
        "parameters": [
          { "$ref": "#/components/parameters/resourceId" }
        ],
        "responses": {
          "200": { "$ref": "#/components/responses/FhirResourceResponse" },
          "400": { "$ref": "#/components/responses/BadRequest" },
          "401": { "$ref": "#/components/responses/Unauthorized" },
          "404": { "$ref": "#/components/responses/NotFound" }
        }
      }
    },
    "/NutritionOrder": {
      "get": {
        "operationId": "searchNutritionOrder",
        "summary": "Search for nutrition orders",
        "description": "Search for NutritionOrder resources.",
        "tags": ["Clinical - NutritionOrder"],
        "parameters": [
          { "$ref": "#/components/parameters/_id" },
          { "$ref": "#/components/parameters/patient" },
          { "$ref": "#/components/parameters/_count" }
        ],
        "responses": {
          "200": { "$ref": "#/components/responses/Bundle" },
          "400": { "$ref": "#/components/responses/BadRequest" },
          "401": { "$ref": "#/components/responses/Unauthorized" },
          "404": { "$ref": "#/components/responses/NotFound" }
        }
      }
    },
    "/NutritionOrder/{id}": {
      "get": {
        "operationId": "readNutritionOrder",
        "summary": "Read a nutrition order",
        "description": "Retrieve a specific NutritionOrder resource by its logical ID.",
        "tags": ["Clinical - NutritionOrder"],
        "parameters": [
          { "$ref": "#/components/parameters/resourceId" }
        ],
        "responses": {
          "200": { "$ref": "#/components/responses/FhirResourceResponse" },
          "400": { "$ref": "#/components/responses/BadRequest" },
          "401": { "$ref": "#/components/responses/Unauthorized" },
          "404": { "$ref": "#/components/responses/NotFound" }
        }
      }
    },
    "/Communication": {
      "get": {
        "operationId": "searchCommunication",
        "summary": "Search for communications",
        "description": "Search for Communication resources.",
        "tags": ["Clinical - Communication"],
        "parameters": [
          { "$ref": "#/components/parameters/_id" },
          { "$ref": "#/components/parameters/patient" },
          { "$ref": "#/components/parameters/_count" }
        ],
        "responses": {
          "200": { "$ref": "#/components/responses/Bundle" },
          "400": { "$ref": "#/components/responses/BadRequest" },
          "401": { "$ref": "#/components/responses/Unauthorized" },
          "404": { "$ref": "#/components/responses/NotFound" }
        }
      },
      "post": {
        "operationId": "createCommunication",
        "summary": "Create a communication",
        "description": "Create a new Communication resource.",
        "tags": ["Clinical - Communication"],
        "requestBody": { "$ref": "#/components/requestBodies/FhirResourceBody" },
        "responses": {
          "201": { "$ref": "#/components/responses/Created" },
          "400": { "$ref": "#/components/responses/BadRequest" },
          "401": { "$ref": "#/components/responses/Unauthorized" },
          "404": { "$ref": "#/components/responses/NotFound" },
          "422": { "$ref": "#/components/responses/UnprocessableEntity" }
        }
      }
    },
    "/Communication/{id}": {
      "get": {
        "operationId": "readCommunication",
        "summary": "Read a communication",
        "description": "Retrieve a specific Communication resource by its logical ID.",
        "tags": ["Clinical - Communication"],
        "parameters": [
          { "$ref": "#/components/parameters/resourceId" }
        ],
        "responses": {
          "200": { "$ref": "#/components/responses/FhirResourceResponse" },
          "400": { "$ref": "#/components/responses/BadRequest" },
          "401": { "$ref": "#/components/responses/Unauthorized" },
          "404": { "$ref": "#/components/responses/NotFound" }
        }
      },
      "patch": {
        "operationId": "patchCommunication",
        "summary": "Patch a communication",
        "description": "Partially update a Communication resource using JSON Patch.",
        "tags": ["Clinical - Communication"],
        "parameters": [
          { "$ref": "#/components/parameters/resourceId" }
        ],
        "requestBody": { "$ref": "#/components/requestBodies/JsonPatchBody" },
        "responses": {
          "200": { "$ref": "#/components/responses/FhirResourceResponse" },
          "400": { "$ref": "#/components/responses/BadRequest" },
          "401": { "$ref": "#/components/responses/Unauthorized" },
          "404": { "$ref": "#/components/responses/NotFound" },
          "409": { "$ref": "#/components/responses/Conflict" },
          "422": { "$ref": "#/components/responses/UnprocessableEntity" }
        }
      }
    },
    "/Consent": {
      "get": {
        "operationId": "searchConsent",
        "summary": "Search for consent directives",
        "description": "Search for Consent resources.",
        "tags": ["Clinical - Consent"],
        "parameters": [
          { "$ref": "#/components/parameters/_id" },
          { "$ref": "#/components/parameters/patient" },
          { "$ref": "#/components/parameters/_count" }
        ],
        "responses": {
          "200": { "$ref": "#/components/responses/Bundle" },
          "400": { "$ref": "#/components/responses/BadRequest" },
          "401": { "$ref": "#/components/responses/Unauthorized" },
          "404": { "$ref": "#/components/responses/NotFound" }
        }
      }
    },
    "/Consent/{id}": {
      "get": {
        "operationId": "readConsent",
        "summary": "Read a consent directive",
        "description": "Retrieve a specific Consent resource by its logical ID.",
        "tags": ["Clinical - Consent"],
        "parameters": [
          { "$ref": "#/components/parameters/resourceId" }
        ],
        "responses": {
          "200": { "$ref": "#/components/responses/FhirResourceResponse" },
          "400": { "$ref": "#/components/responses/BadRequest" },
          "401": { "$ref": "#/components/responses/Unauthorized" },
          "404": { "$ref": "#/components/responses/NotFound" }
        }
      }
    },
    "/Specimen": {
      "get": {
        "operationId": "searchSpecimen",
        "summary": "Search for specimens",
        "description": "Search for Specimen resources.",
        "tags": ["Clinical - Specimen"],
        "parameters": [
          { "$ref": "#/components/parameters/_id" },
          { "$ref": "#/components/parameters/patient" },
          { "$ref": "#/components/parameters/_count" }
        ],
        "responses": {
          "200": { "$ref": "#/components/responses/Bundle" },
          "400": { "$ref": "#/components/responses/BadRequest" },
          "401": { "$ref": "#/components/responses/Unauthorized" },
          "404": { "$ref": "#/components/responses/NotFound" }
        }
      }
    },
    "/Specimen/{id}": {
      "get": {
        "operationId": "readSpecimen",
        "summary": "Read a specimen",
        "description": "Retrieve a specific Specimen resource by its logical ID.",
        "tags": ["Clinical - Specimen"],
        "parameters": [
          { "$ref": "#/components/parameters/resourceId" }
        ],
        "responses": {
          "200": { "$ref": "#/components/responses/FhirResourceResponse" },
          "400": { "$ref": "#/components/responses/BadRequest" },
          "401": { "$ref": "#/components/responses/Unauthorized" },
          "404": { "$ref": "#/components/responses/NotFound" }
        }
      }
    },
    "/Appointment": {
      "get": {
        "operationId": "searchAppointment",
        "summary": "Search for appointments",
        "description": "Search for Appointment resources.",
        "tags": ["Scheduling - Appointment"],
        "parameters": [
          { "$ref": "#/components/parameters/_id" },
          { "$ref": "#/components/parameters/patient" },
          {
            "name": "date",
            "in": "query",
            "description": "Appointment date or date range",
            "schema": { "type": "string" }
          },
          {
            "name": "status",
            "in": "query",
            "description": "Status of the appointment",
            "schema": { "type": "string" }
          },
          {
            "name": "practitioner",
            "in": "query",
            "description": "Practitioner participating in the appointment",
            "schema": { "type": "string" }
          },
          {
            "name": "location",
            "in": "query",
            "description": "Location where the appointment takes place",
            "schema": { "type": "string" }
          },
          { "$ref": "#/components/parameters/_count" }
        ],
        "responses": {
          "200": { "$ref": "#/components/responses/Bundle" },
          "400": { "$ref": "#/components/responses/BadRequest" },
          "401": { "$ref": "#/components/responses/Unauthorized" },
          "404": { "$ref": "#/components/responses/NotFound" }
        }
      },
      "post": {
        "operationId": "createAppointment",
        "summary": "Create an appointment",
        "description": "Create a new Appointment resource.",
        "tags": ["Scheduling - Appointment"],
        "requestBody": { "$ref": "#/components/requestBodies/FhirResourceBody" },
        "responses": {
          "201": { "$ref": "#/components/responses/Created" },
          "400": { "$ref": "#/components/responses/BadRequest" },
          "401": { "$ref": "#/components/responses/Unauthorized" },
          "404": { "$ref": "#/components/responses/NotFound" },
          "422": { "$ref": "#/components/responses/UnprocessableEntity" }
        }
      }
    },
    "/Appointment/{id}": {
      "get": {
        "operationId": "readAppointment",
        "summary": "Read an appointment",
        "description": "Retrieve a specific Appointment resource by its logical ID.",
        "tags": ["Scheduling - Appointment"],
        "parameters": [
          { "$ref": "#/components/parameters/resourceId" }
        ],
        "responses": {
          "200": { "$ref": "#/components/responses/FhirResourceResponse" },
          "400": { "$ref": "#/components/responses/BadRequest" },
          "401": { "$ref": "#/components/responses/Unauthorized" },
          "404": { "$ref": "#/components/responses/NotFound" }
        }
      },
      "patch": {
        "operationId": "patchAppointment",
        "summary": "Patch an appointment",
        "description": "Partially update an Appointment resource using JSON Patch.",
        "tags": ["Scheduling - Appointment"],
        "parameters": [
          { "$ref": "#/components/parameters/resourceId" }
        ],
        "requestBody": { "$ref": "#/components/requestBodies/JsonPatchBody" },
        "responses": {
          "200": { "$ref": "#/components/responses/FhirResourceResponse" },
          "400": { "$ref": "#/components/responses/BadRequest" },
          "401": { "$ref": "#/components/responses/Unauthorized" },
          "404": { "$ref": "#/components/responses/NotFound" },
          "409": { "$ref": "#/components/responses/Conflict" },
          "422": { "$ref": "#/components/responses/UnprocessableEntity" }
        }
      }
    },
    "/Schedule": {
      "get": {
        "operationId": "searchSchedule",
        "summary": "Search for schedules",
        "description": "Search for Schedule resources representing provider availability.",
        "tags": ["Scheduling - Schedule"],
        "parameters": [
          { "$ref": "#/components/parameters/_id" },
          {
            "name": "actor",
            "in": "query",
            "description": "Reference to the practitioner, location, or other actor",
            "schema": { "type": "string" }
          },
          { "$ref": "#/components/parameters/_count" }
        ],
        "responses": {
          "200": { "$ref": "#/components/responses/Bundle" },
          "400": { "$ref": "#/components/responses/BadRequest" },
          "401": { "$ref": "#/components/responses/Unauthorized" },
          "404": { "$ref": "#/components/responses/NotFound" }
        }
      }
    },
    "/Schedule/{id}": {
      "get": {
        "operationId": "readSchedule",
        "summary": "Read a schedule",
        "description": "Retrieve a specific Schedule resource by its logical ID.",
        "tags": ["Scheduling - Schedule"],
        "parameters": [
          { "$ref": "#/components/parameters/resourceId" }
        ],
        "responses": {
          "200": { "$ref": "#/components/responses/FhirResourceResponse" },
          "400": { "$ref": "#/components/responses/BadRequest" },
          "401": { "$ref": "#/components/responses/Unauthorized" },
          "404": { "$ref": "#/components/responses/NotFound" }
        }
      }
    },
    "/Slot": {
      "get": {
        "operationId": "searchSlot",
        "summary": "Search for available slots",
        "description": "Search for Slot resources representing bookable time periods.",
        "tags": ["Scheduling - Slot"],
        "parameters": [
          { "$ref": "#/components/parameters/_id" },
          {
            "name": "schedule",
            "in": "query",
            "description": "Reference to the schedule this slot belongs to",
            "schema": { "type": "string" }
          },
          {
            "name": "start",
            "in": "query",
            "description": "Slot start time",
            "schema": { "type": "string" }
          },
          {
            "name": "status",
            "in": "query",
            "description": "Slot status (free | busy | busy-unavailable)",
            "schema": { "type": "string" }
          },
          { "$ref": "#/components/parameters/_count" }
        ],
        "responses": {
          "200": { "$ref": "#/components/responses/Bundle" },
          "400": { "$ref": "#/components/responses/BadRequest" },
          "401": { "$ref": "#/components/responses/Unauthorized" },
          "404": { "$ref": "#/components/responses/NotFound" }
        }
      }
    },
    "/Slot/{id}": {
      "get": {
        "operationId": "readSlot",
        "summary": "Read a slot",
        "description": "Retrieve a specific Slot resource by its logical ID.",
        "tags": ["Scheduling - Slot"],
        "parameters": [
          { "$ref": "#/components/parameters/resourceId" }
        ],
        "responses": {
          "200": { "$ref": "#/components/responses/FhirResourceResponse" },
          "400": { "$ref": "#/components/responses/BadRequest" },
          "401": { "$ref": "#/components/responses/Unauthorized" },
          "404": { "$ref": "#/components/responses/NotFound" }
        }
      },
      "patch": {
        "operationId": "patchSlot",
        "summary": "Patch a slot",
        "description": "Partially update a Slot resource using JSON Patch.",
        "tags": ["Scheduling - Slot"],
        "parameters": [
          { "$ref": "#/components/parameters/resourceId" }
        ],
        "requestBody": { "$ref": "#/components/requestBodies/JsonPatchBody" },
        "responses": {
          "200": { "$ref": "#/components/responses/FhirResourceResponse" },
          "400": { "$ref": "#/components/responses/BadRequest" },
          "401": { "$ref": "#/components/responses/Unauthorized" },
          "404": { "$ref": "#/components/responses/NotFound" },
          "409": { "$ref": "#/components/responses/Conflict" },
          "422": { "$ref": "#/components/responses/UnprocessableEntity" }
        }
      }
    },
    "/Practitioner": {
      "get": {
        "operationId": "searchPractitioner",
        "summary": "Search for practitioners",
        "description": "Search for Practitioner resources representing healthcare providers.",
        "tags": ["Administrative - Practitioner"],
        "parameters": [
          { "$ref": "#/components/parameters/_id" },
          {
            "name": "identifier",
            "in": "query",
            "description": "Practitioner identifier (e.g., NPI)",
            "schema": { "type": "string" }
          },
          {
            "name": "name",
            "in": "query",
            "description": "Beginning of any name part",
            "schema": { "type": "string" }
          },
          {
            "name": "given",
            "in": "query",
            "description": "Beginning of given name",
            "schema": { "type": "string" }
          },
          {
            "name": "family",
            "in": "query",
            "description": "Beginning of family name",
            "schema": { "type": "string" }
          },
          { "$ref": "#/components/parameters/_count" }
        ],
        "responses": {
          "200": { "$ref": "#/components/responses/Bundle" },
          "400": { "$ref": "#/components/responses/BadRequest" },
          "401": { "$ref": "#/components/responses/Unauthorized" },
          "404": { "$ref": "#/components/responses/NotFound" }
        }
      },
      "post": {
        "operationId": "createPractitioner",
        "summary": "Create a practitioner",
        "description": "Create a new Practitioner resource.",
        "tags": ["Administrative - Practitioner"],
        "requestBody": { "$ref": "#/components/requestBodies/FhirResourceBody" },
        "responses": {
          "201": { "$ref": "#/components/responses/Created" },
          "400": { "$ref": "#/components/responses/BadRequest" },
          "401": { "$ref": "#/components/responses/Unauthorized" },
          "404": { "$ref": "#/components/responses/NotFound" },
          "422": { "$ref": "#/components/responses/UnprocessableEntity" }
        }
      }
    },
    "/Practitioner/{id}": {
      "get": {
        "operationId": "readPractitioner",
        "summary": "Read a practitioner",
        "description": "Retrieve a specific Practitioner resource by its logical ID.",
        "tags": ["Administrative - Practitioner"],
        "parameters": [
          { "$ref": "#/components/parameters/resourceId" }
        ],
        "responses": {
          "200": { "$ref": "#/components/responses/FhirResourceResponse" },
          "400": { "$ref": "#/components/responses/BadRequest" },
          "401": { "$ref": "#/components/responses/Unauthorized" },
          "404": { "$ref": "#/components/responses/NotFound" }
        }
      }
    },
    "/Organization": {
      "get": {
        "operationId": "searchOrganization",
        "summary": "Search for organizations",
        "description": "Search for Organization resources representing healthcare institutions.",
        "tags": ["Administrative - Organization"],
        "parameters": [
          { "$ref": "#/components/parameters/_id" },
          {
            "name": "identifier",
            "in": "query",
            "description": "Organization identifier (e.g., NPI)",
            "schema": { "type": "string" }
          },
          {
            "name": "name",
            "in": "query",
            "description": "Organization name",
            "schema": { "type": "string" }
          },
          {
            "name": "type",
            "in": "query",
            "description": "Organization type",
            "schema": { "type": "string" }
          },
          { "$ref": "#/components/parameters/_count" }
        ],
        "responses": {
          "200": { "$ref": "#/components/responses/Bundle" },
          "400": { "$ref": "#/components/responses/BadRequest" },
          "401": { "$ref": "#/components/responses/Unauthorized" },
          "404": { "$ref": "#/components/responses/NotFound" }
        }
      },
      "post": {
        "operationId": "createOrganization",
        "summary": "Create an organization",
        "description": "Create a new Organization resource.",
        "tags": ["Administrative - Organization"],
        "requestBody": { "$ref": "#/components/requestBodies/FhirResourceBody" },
        "responses": {
          "201": { "$ref": "#/components/responses/Created" },
          "400": { "$ref": "#/components/responses/BadRequest" },
          "401": { "$ref": "#/components/responses/Unauthorized" },
          "404": { "$ref": "#/components/responses/NotFound" },
          "422": { "$ref": "#/components/responses/UnprocessableEntity" }
        }
      }
    },
    "/Organization/{id}": {
      "get": {
        "operationId": "readOrganization",
        "summary": "Read an organization",
        "description": "Retrieve a specific Organization resource by its logical ID.",
        "tags": ["Administrative - Organization"],
        "parameters": [
          { "$ref": "#/components/parameters/resourceId" }
        ],
        "responses": {
          "200": { "$ref": "#/components/responses/FhirResourceResponse" },
          "400": { "$ref": "#/components/responses/BadRequest" },
          "401": { "$ref": "#/components/responses/Unauthorized" },
          "404": { "$ref": "#/components/responses/NotFound" }
        }
      }
    },
    "/Organization/$get-cg-for-mrcu": {
      "post": {
        "operationId": "organizationGetCgForMrcu",
        "summary": "Get caregiver for MRCU",
        "description": "Invoke the $get-cg-for-mrcu operation to retrieve caregiver information for a given MRCU.",
        "tags": ["Administrative - Organization"],
        "requestBody": { "$ref": "#/components/requestBodies/FhirResourceBody" },
        "responses": {
          "200": { "$ref": "#/components/responses/FhirResourceResponse" },
          "400": { "$ref": "#/components/responses/BadRequest" },
          "401": { "$ref": "#/components/responses/Unauthorized" },
          "404": { "$ref": "#/components/responses/NotFound" }
        }
      }
    },
    "/Location": {
      "get": {
        "operationId": "searchLocation",
        "summary": "Search for locations",
        "description": "Search for Location resources representing physical places.",
        "tags": ["Administrative - Location"],
        "parameters": [
          { "$ref": "#/components/parameters/_id" },
          {
            "name": "name",
            "in": "query",
            "description": "Location name",
            "schema": { "type": "string" }
          },
          {
            "name": "address",
            "in": "query",
            "description": "Address of the location",
            "schema": { "type": "string" }
          },
          {
            "name": "type",
            "in": "query",
            "description": "Location type",
            "schema": { "type": "string" }
          },
          {
            "name": "organization",
            "in": "query",
            "description": "Organization responsible for the location",
            "schema": { "type": "string" }
          },
          { "$ref": "#/components/parameters/_count" }
        ],
        "responses": {
          "200": { "$ref": "#/components/responses/Bundle" },
          "400": { "$ref": "#/components/responses/BadRequest" },
          "401": { "$ref": "#/components/responses/Unauthorized" },
          "404": { "$ref": "#/components/responses/NotFound" }
        }
      }
    },
    "/Location/{id}": {
      "get": {
        "operationId": "readLocation",
        "summary": "Read a location",
        "description": "Retrieve a specific Location resource by its logical ID.",
        "tags": ["Administrative - Location"],
        "parameters": [
          { "$ref": "#/components/parameters/resourceId" }
        ],
        "responses": {
          "200": { "$ref": "#/components/responses/FhirResourceResponse" },
          "400": { "$ref": "#/components/responses/BadRequest" },
          "401": { "$ref": "#/components/responses/Unauthorized" },
          "404": { "$ref": "#/components/responses/NotFound" }
        }
      }
    },
    "/Person": {
      "get": {
        "operationId": "searchPerson",
        "summary": "Search for persons",
        "description": "Search for Person resources.",
        "tags": ["Administrative - Person"],
        "parameters": [
          { "$ref": "#/components/parameters/_id" },
          {
            "name": "identifier",
            "in": "query",
            "description": "Person identifier",
            "schema": { "type": "string" }
          },
          {
            "name": "name",
            "in": "query",
            "description": "Beginning of any name part",
            "schema": { "type": "string" }
          },
          { "$ref": "#/components/parameters/_count" }
        ],
        "responses": {
          "200": { "$ref": "#/components/responses/Bundle" },
          "400": { "$ref": "#/components/responses/BadRequest" },
          "401": { "$ref": "#/components/responses/Unauthorized" },
          "404": { "$ref": "#/components/responses/NotFound" }
        }
      }
    },
    "/Person/{id}": {
      "get": {
        "operationId": "readPerson",
        "summary": "Read a person",
        "description": "Retrieve a specific Person resource by its logical ID.",
        "tags": ["Administrative - Person"],
        "parameters": [
          { "$ref": "#/components/parameters/resourceId" }
        ],
        "responses": {
          "200": { "$ref": "#/components/responses/FhirResourceResponse" },
          "400": { "$ref": "#/components/responses/BadRequest" },
          "401": { "$ref": "#/components/responses/Unauthorized" },
          "404": { "$ref": "#/components/responses/NotFound" }
        }
      }
    },
    "/RelatedPerson": {
      "get": {
        "operationId": "searchRelatedPerson",
        "summary": "Search for related persons",
        "description": "Search for RelatedPerson resources such as guardians, emergency contacts, and next of kin.",
        "tags": ["Administrative - RelatedPerson"],
        "parameters": [
          { "$ref": "#/components/parameters/_id" },
          { "$ref": "#/components/parameters/patient" },
          {
            "name": "identifier",
            "in": "query",
            "description": "RelatedPerson identifier",
            "schema": { "type": "string" }
          },
          { "$ref": "#/components/parameters/_count" }
        ],
        "responses": {
          "200": { "$ref": "#/components/responses/Bundle" },
          "400": { "$ref": "#/components/responses/BadRequest" },
          "401": { "$ref": "#/components/responses/Unauthorized" },
          "404": { "$ref": "#/components/responses/NotFound" }
        }
      },
      "post": {
        "operationId": "createRelatedPerson",
        "summary": "Create a related person",
        "description": "Create a new RelatedPerson resource.",
        "tags": ["Administrative - RelatedPerson"],
        "requestBody": { "$ref": "#/components/requestBodies/FhirResourceBody" },
        "responses": {
          "201": { "$ref": "#/components/responses/Created" },
          "400": { "$ref": "#/components/responses/BadRequest" },
          "401": { "$ref": "#/components/responses/Unauthorized" },
          "404": { "$ref": "#/components/responses/NotFound" },
          "422": { "$ref": "#/components/responses/UnprocessableEntity" }
        }
      }
    },
    "/RelatedPerson/{id}": {
      "get": {
        "operationId": "readRelatedPerson",
        "summary": "Read a related person",
        "description": "Retrieve a specific RelatedPerson resource by its logical ID.",
        "tags": ["Administrative - RelatedPerson"],
        "parameters": [
          { "$ref": "#/components/parameters/resourceId" }
        ],
        "responses": {
          "200": { "$ref": "#/components/responses/FhirResourceResponse" },
          "400": { "$ref": "#/components/responses/BadRequest" },
          "401": { "$ref": "#/components/responses/Unauthorized" },
          "404": { "$ref": "#/components/responses/NotFound" }
        }
      },
      "patch": {
        "operationId": "patchRelatedPerson",
        "summary": "Patch a related person",
        "description": "Partially update a RelatedPerson resource using JSON Patch.",
        "tags": ["Administrative - RelatedPerson"],
        "parameters": [
          { "$ref": "#/components/parameters/resourceId" }
        ],
        "requestBody": { "$ref": "#/components/requestBodies/JsonPatchBody" },
        "responses": {
          "200": { "$ref": "#/components/responses/FhirResourceResponse" },
          "400": { "$ref": "#/components/responses/BadRequest" },
          "401": { "$ref": "#/components/responses/Unauthorized" },
          "404": { "$ref": "#/components/responses/NotFound" },
          "409": { "$ref": "#/components/responses/Conflict" },
          "422": { "$ref": "#/components/responses/UnprocessableEntity" }
        }
      }
    },
    "/Device": {
      "get": {
        "operationId": "searchDevice",
        "summary": "Search for devices",
        "description": "Search for Device resources representing medical devices.",
        "tags": ["Administrative - Device"],
        "parameters": [
          { "$ref": "#/components/parameters/_id" },
          { "$ref": "#/components/parameters/patient" },
          { "$ref": "#/components/parameters/_count" }
        ],
        "responses": {
          "200": { "$ref": "#/components/responses/Bundle" },
          "400": { "$ref": "#/components/responses/BadRequest" },
          "401": { "$ref": "#/components/responses/Unauthorized" },
          "404": { "$ref": "#/components/responses/NotFound" }
        }
      }
    },
    "/Device/{id}": {
      "get": {
        "operationId": "readDevice",
        "summary": "Read a device",
        "description": "Retrieve a specific Device resource by its logical ID.",
        "tags": ["Administrative - Device"],
        "parameters": [
          { "$ref": "#/components/parameters/resourceId" }
        ],
        "responses": {
          "200": { "$ref": "#/components/responses/FhirResourceResponse" },
          "400": { "$ref": "#/components/responses/BadRequest" },
          "401": { "$ref": "#/components/responses/Unauthorized" },
          "404": { "$ref": "#/components/responses/NotFound" }
        }
      }
    },
    "/Coverage": {
      "get": {
        "operationId": "searchCoverage",
        "summary": "Search for insurance coverage",
        "description": "Search for Coverage resources representing insurance information.",
        "tags": ["Financial - Coverage"],
        "parameters": [
          { "$ref": "#/components/parameters/_id" },
          { "$ref": "#/components/parameters/patient" },
          { "$ref": "#/components/parameters/_count" }
        ],
        "responses": {
          "200": { "$ref": "#/components/responses/Bundle" },
          "400": { "$ref": "#/components/responses/BadRequest" },
          "401": { "$ref": "#/components/responses/Unauthorized" },
          "404": { "$ref": "#/components/responses/NotFound" }
        }
      },
      "post": {
        "operationId": "createCoverage",
        "summary": "Create insurance coverage",
        "description": "Create a new Coverage resource.",
        "tags": ["Financial - Coverage"],
        "requestBody": { "$ref": "#/components/requestBodies/FhirResourceBody" },
        "responses": {
          "201": { "$ref": "#/components/responses/Created" },
          "400": { "$ref": "#/components/responses/BadRequest" },
          "401": { "$ref": "#/components/responses/Unauthorized" },
          "404": { "$ref": "#/components/responses/NotFound" },
          "422": { "$ref": "#/components/responses/UnprocessableEntity" }
        }
      }
    },
    "/Coverage/{id}": {
      "get": {
        "operationId": "readCoverage",
        "summary": "Read insurance coverage",
        "description": "Retrieve a specific Coverage resource by its logical ID.",
        "tags": ["Financial - Coverage"],
        "parameters": [
          { "$ref": "#/components/parameters/resourceId" }
        ],
        "responses": {
          "200": { "$ref": "#/components/responses/FhirResourceResponse" },
          "400": { "$ref": "#/components/responses/BadRequest" },
          "401": { "$ref": "#/components/responses/Unauthorized" },
          "404": { "$ref": "#/components/responses/NotFound" }
        }
      },
      "put": {
        "operationId": "updateCoverage",
        "summary": "Update insurance coverage",
        "description": "Update an existing Coverage resource.",
        "tags": ["Financial - Coverage"],
        "parameters": [
          { "$ref": "#/components/parameters/resourceId" }
        ],
        "requestBody": { "$ref": "#/components/requestBodies/FhirResourceBody" },
        "responses": {
          "200": { "$ref": "#/components/responses/FhirResourceResponse" },
          "400": { "$ref": "#/components/responses/BadRequest" },
          "401": { "$ref": "#/components/responses/Unauthorized" },
          "404": { "$ref": "#/components/responses/NotFound" },
          "409": { "$ref": "#/components/responses/Conflict" },
          "422": { "$ref": "#/components/responses/UnprocessableEntity" }
        }
      },
      "patch": {
        "operationId": "patchCoverage",
        "summary": "Patch insurance coverage",
        "description": "Partially update a Coverage resource using JSON Patch.",
        "tags": ["Financial - Coverage"],
        "parameters": [
          { "$ref": "#/components/parameters/resourceId" }
        ],
        "requestBody": { "$ref": "#/components/requestBodies/JsonPatchBody" },
        "responses": {
          "200": { "$ref": "#/components/responses/FhirResourceResponse" },
          "400": { "$ref": "#/components/responses/BadRequest" },
          "401": { "$ref": "#/components/responses/Unauthorized" },
          "404": { "$ref": "#/components/responses/NotFound" },
          "409": { "$ref": "#/components/responses/Conflict" },
          "422": { "$ref": "#/components/responses/UnprocessableEntity" }
        }
      }
    },
    "/Account": {
      "get": {
        "operationId": "searchAccount",
        "summary": "Search for financial accounts",
        "description": "Search for Account resources representing financial accounts.",
        "tags": ["Financial - Account"],
        "parameters": [
          { "$ref": "#/components/parameters/_id" },
          { "$ref": "#/components/parameters/patient" },
          { "$ref": "#/components/parameters/_count" }
        ],
        "responses": {
          "200": { "$ref": "#/components/responses/Bundle" },
          "400": { "$ref": "#/components/responses/BadRequest" },
          "401": { "$ref": "#/components/responses/Unauthorized" },
          "404": { "$ref": "#/components/responses/NotFound" }
        }
      }
    },
    "/Account/{id}": {
      "get": {
        "operationId": "readAccount",
        "summary": "Read a financial account",
        "description": "Retrieve a specific Account resource by its logical ID.",
        "tags": ["Financial - Account"],
        "parameters": [
          { "$ref": "#/components/parameters/resourceId" }
        ],
        "responses": {
          "200": { "$ref": "#/components/responses/FhirResourceResponse" },
          "400": { "$ref": "#/components/responses/BadRequest" },
          "401": { "$ref": "#/components/responses/Unauthorized" },
          "404": { "$ref": "#/components/responses/NotFound" }
        }
      }
    },
    "/ChargeItem": {
      "get": {
        "operationId": "searchChargeItem",
        "summary": "Search for charge items",
        "description": "Search for ChargeItem resources.",
        "tags": ["Financial - ChargeItem"],
        "parameters": [
          { "$ref": "#/components/parameters/_id" },
          { "$ref": "#/components/parameters/patient" },
          { "$ref": "#/components/parameters/_count" }
        ],
        "responses": {
          "200": { "$ref": "#/components/responses/Bundle" },
          "400": { "$ref": "#/components/responses/BadRequest" },
          "401": { "$ref": "#/components/responses/Unauthorized" },
          "404": { "$ref": "#/components/responses/NotFound" }
        }
      },
      "post": {
        "operationId": "createChargeItem",
        "summary": "Create a charge item",
        "description": "Create a new ChargeItem resource.",
        "tags": ["Financial - ChargeItem"],
        "requestBody": { "$ref": "#/components/requestBodies/FhirResourceBody" },
        "responses": {
          "201": { "$ref": "#/components/responses/Created" },
          "400": { "$ref": "#/components/responses/BadRequest" },
          "401": { "$ref": "#/components/responses/Unauthorized" },
          "404": { "$ref": "#/components/responses/NotFound" },
          "422": { "$ref": "#/components/responses/UnprocessableEntity" }
        }
      }
    },
    "/ChargeItem/{id}": {
      "get": {
        "operationId": "readChargeItem",
        "summary": "Read a charge item",
        "description": "Retrieve a specific ChargeItem resource by its logical ID.",
        "tags": ["Financial - ChargeItem"],
        "parameters": [
          { "$ref": "#/components/parameters/resourceId" }
        ],
        "responses": {
          "200": { "$ref": "#/components/responses/FhirResourceResponse" },
          "400": { "$ref": "#/components/responses/BadRequest" },
          "401": { "$ref": "#/components/responses/Unauthorized" },
          "404": { "$ref": "#/components/responses/NotFound" }
        }
      }
    },
    "/ChargeItem/$create": {
      "post": {
        "operationId": "chargeItemCreate",
        "summary": "Create a charge item via operation",
        "description": "Invoke the $create operation to create a ChargeItem with extended capabilities.",
        "tags": ["Financial - ChargeItem"],
        "requestBody": { "$ref": "#/components/requestBodies/FhirResourceBody" },
        "responses": {
          "200": { "$ref": "#/components/responses/FhirResourceResponse" },
          "400": { "$ref": "#/components/responses/BadRequest" },
          "401": { "$ref": "#/components/responses/Unauthorized" },
          "404": { "$ref": "#/components/responses/NotFound" },
          "422": { "$ref": "#/components/responses/UnprocessableEntity" }
        }
      }
    },
    "/ChargeItem/$modify": {
      "post": {
        "operationId": "chargeItemModify",
        "summary": "Modify a charge item",
        "description": "Invoke the $modify operation to modify an existing ChargeItem.",
        "tags": ["Financial - ChargeItem"],
        "requestBody": { "$ref": "#/components/requestBodies/FhirResourceBody" },
        "responses": {
          "200": { "$ref": "#/components/responses/FhirResourceResponse" },
          "400": { "$ref": "#/components/responses/BadRequest" },
          "401": { "$ref": "#/components/responses/Unauthorized" },
          "404": { "$ref": "#/components/responses/NotFound" },
          "422": { "$ref": "#/components/responses/UnprocessableEntity" }
        }
      }
    },
    "/ChargeItem/{id}/$credit": {
      "post": {
        "operationId": "chargeItemCredit",
        "summary": "Credit a charge item",
        "description": "Invoke the $credit operation to apply credit to a specific ChargeItem.",
        "tags": ["Financial - ChargeItem"],
        "parameters": [
          { "$ref": "#/components/parameters/resourceId" }
        ],
        "requestBody": { "$ref": "#/components/requestBodies/FhirResourceBody" },
        "responses": {
          "200": { "$ref": "#/components/responses/FhirResourceResponse" },
          "400": { "$ref": "#/components/responses/BadRequest" },
          "401": { "$ref": "#/components/responses/Unauthorized" },
          "404": { "$ref": "#/components/responses/NotFound" },
          "422": { "$ref": "#/components/responses/UnprocessableEntity" }
        }
      }
    },
    "/InsurancePlan": {
      "get": {
        "operationId": "searchInsurancePlan",
        "summary": "Search for insurance plans",
        "description": "Search for InsurancePlan resources.",
        "tags": ["Financial - InsurancePlan"],
        "parameters": [
          { "$ref": "#/components/parameters/_id" },
          {
            "name": "owned-by",
            "in": "query",
            "description": "Organization that owns the insurance plan",
            "schema": { "type": "string" }
          },
          { "$ref": "#/components/parameters/_count" }
        ],
        "responses": {
          "200": { "$ref": "#/components/responses/Bundle" },
          "400": { "$ref": "#/components/responses/BadRequest" },
          "401": { "$ref": "#/components/responses/Unauthorized" },
          "404": { "$ref": "#/components/responses/NotFound" }
        }
      }
    },
    "/InsurancePlan/{id}": {
      "get": {
        "operationId": "readInsurancePlan",
        "summary": "Read an insurance plan",
        "description": "Retrieve a specific InsurancePlan resource by its logical ID.",
        "tags": ["Financial - InsurancePlan"],
        "parameters": [
          { "$ref": "#/components/parameters/resourceId" }
        ],
        "responses": {
          "200": { "$ref": "#/components/responses/FhirResourceResponse" },
          "400": { "$ref": "#/components/responses/BadRequest" },
          "401": { "$ref": "#/components/responses/Unauthorized" },
          "404": { "$ref": "#/components/responses/NotFound" }
        }
      }
    },
    "/Questionnaire": {
      "get": {
        "operationId": "searchQuestionnaire",
        "summary": "Search for questionnaires",
        "description": "Search for Questionnaire resources.",
        "tags": ["Questionnaire"],
        "parameters": [
          { "$ref": "#/components/parameters/_id" },
          { "$ref": "#/components/parameters/_count" }
        ],
        "responses": {
          "200": { "$ref": "#/components/responses/Bundle" },
          "400": { "$ref": "#/components/responses/BadRequest" },
          "401": { "$ref": "#/components/responses/Unauthorized" },
          "404": { "$ref": "#/components/responses/NotFound" }
        }
      }
    },
    "/Questionnaire/{id}": {
      "get": {
        "operationId": "readQuestionnaire",
        "summary": "Read a questionnaire",
        "description": "Retrieve a specific Questionnaire resource by its logical ID.",
        "tags": ["Questionnaire"],
        "parameters": [
          { "$ref": "#/components/parameters/resourceId" }
        ],
        "responses": {
          "200": { "$ref": "#/components/responses/FhirResourceResponse" },
          "400": { "$ref": "#/components/responses/BadRequest" },
          "401": { "$ref": "#/components/responses/Unauthorized" },
          "404": { "$ref": "#/components/responses/NotFound" }
        }
      }
    },
    "/QuestionnaireResponse": {
      "get": {
        "operationId": "searchQuestionnaireResponse",
        "summary": "Search for questionnaire responses",
        "description": "Search for QuestionnaireResponse resources.",
        "tags": ["Questionnaire"],
        "parameters": [
          { "$ref": "#/components/parameters/_id" },
          { "$ref": "#/components/parameters/patient" },
          { "$ref": "#/components/parameters/_count" }
        ],
        "responses": {
          "200": { "$ref": "#/components/responses/Bundle" },
          "400": { "$ref": "#/components/responses/BadRequest" },
          "401": { "$ref": "#/components/responses/Unauthorized" },
          "404": { "$ref": "#/components/responses/NotFound" }
        }
      }
    },
    "/QuestionnaireResponse/{id}": {
      "get": {
        "operationId": "readQuestionnaireResponse",
        "summary": "Read a questionnaire response",
        "description": "Retrieve a specific QuestionnaireResponse resource by its logical ID.",
        "tags": ["Questionnaire"],
        "parameters": [
          { "$ref": "#/components/parameters/resourceId" }
        ],
        "responses": {
          "200": { "$ref": "#/components/responses/FhirResourceResponse" },
          "400": { "$ref": "#/components/responses/BadRequest" },
          "401": { "$ref": "#/components/responses/Unauthorized" },
          "404": { "$ref": "#/components/responses/NotFound" }
        }
      },
      "put": {
        "operationId": "updateQuestionnaireResponse",
        "summary": "Update a questionnaire response",
        "description": "Update an existing QuestionnaireResponse resource.",
        "tags": ["Questionnaire"],
        "parameters": [
          { "$ref": "#/components/parameters/resourceId" }
        ],
        "requestBody": { "$ref": "#/components/requestBodies/FhirResourceBody" },
        "responses": {
          "200": { "$ref": "#/components/responses/FhirResourceResponse" },
          "400": { "$ref": "#/components/responses/BadRequest" },
          "401": { "$ref": "#/components/responses/Unauthorized" },
          "404": { "$ref": "#/components/responses/NotFound" },
          "409": { "$ref": "#/components/responses/Conflict" },
          "422": { "$ref": "#/components/responses/UnprocessableEntity" }
        }
      }
    },
    "/Provenance": {
      "get": {
        "operationId": "searchProvenance",
        "summary": "Search for provenance records",
        "description": "Search for Provenance resources tracking resource history.",
        "tags": ["Provenance"],
        "parameters": [
          { "$ref": "#/components/parameters/_id" },
          {
            "name": "target",
            "in": "query",
            "description": "Reference to the target resource",
            "schema": { "type": "string" }
          },
          { "$ref": "#/components/parameters/_count" }
        ],
        "responses": {
          "200": { "$ref": "#/components/responses/Bundle" },
          "400": { "$ref": "#/components/responses/BadRequest" },
          "401": { "$ref": "#/components/responses/Unauthorized" },
          "404": { "$ref": "#/components/responses/NotFound" }
        }
      },
      "post": {
        "operationId": "createProvenance",
        "summary": "Create a provenance record",
        "description": "Create a new Provenance resource.",
        "tags": ["Provenance"],
[...]
