{
  "openapi": "3.0.0",
  "info": {
    "version": "1",
    "title": "Rates",
    "description": "",
    "x-jentic-source-url": "https://api.swaggerhub.com/apis/teichtech/JustLTL/1"
  },
  "paths": {
    "/p/getLTLRate": {
      "get": {
        "summary": "Your GET endpoint",
        "tags": [],
        "responses": {
          "default": {
            "description": "Default",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": {
                      "type": "string",
                      "x-stoplight": {
                        "id": "02bi111h6ttvs"
                      }
                    },
                    "rate": {
                      "type": "number",
                      "x-stoplight": {
                        "id": "kshjtczfa8ftj"
                      }
                    },
                    "rateType": {
                      "type": "integer",
                      "x-stoplight": {
                        "id": "tqwsbp8c7mr08"
                      }
                    },
                    "total": {
                      "type": "number",
                      "x-stoplight": {
                        "id": "k3okmqbsrnmnv"
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "operationId": "get-p-getLTLRate",
        "parameters": [
          {
            "schema": {
              "type": "integer"
            },
            "in": "query",
            "name": "rateGroup",
            "required": true
          },
          {
            "schema": {
              "type": "integer"
            },
            "in": "query",
            "name": "zipFrom",
            "description": "Minimum first 3 digits",
            "required": true
          },
          {
            "schema": {
              "type": "integer"
            },
            "in": "query",
            "name": "zipTo",
            "description": "Minimum first 3 digits",
            "required": true
          },
          {
            "schema": {
              "type": "integer"
            },
            "in": "query",
            "name": "numPallets",
            "required": true
          },
          {
            "schema": {
              "type": "string"
            },
            "in": "header",
            "name": "x-api-key",
            "required": true
          }
        ]
      },
      "parameters": [
        {
          "schema": {
            "type": "string"
          },
          "in": "header",
          "name": "x-api-key",
          "required": true
        }
      ]
    }
  },
  "components": {
    "securitySchemes": {}
  },
  "servers": [
    {
      "url": "https://justltl.com/DeliveryPortalAPI",
      "description": ""
    }
  ]
}