{
  "openapi": "3.0.3",
  "info": {
    "title": "World Air Quality Index API",
    "version": "2.0",
    "description": "Real-time air quality data API providing AQI readings for cities worldwide. Data sourced from monitoring stations around the globe.",
    "x-jentic-source-url": "https://aqicn.org/api/",
    "contact": {
      "name": "API Support"
    }
  },
  "servers": [
    {
      "url": "https://api.waqi.info"
    }
  ],
  "paths": {
    "/feed/{city}/": {
      "get": {
        "operationId": "getCityFeed",
        "summary": "Get AQI data for a city",
        "description": "Returns real-time air quality index data for the specified city.",
        "tags": [
          "Feed"
        ],
        "parameters": [
          {
            "name": "city",
            "in": "path",
            "required": true,
            "description": "City name or station ID",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "token",
            "in": "query",
            "required": true,
            "description": "API token",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/FeedResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized - invalid token",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/feed/geo:{lat};{lng}/": {
      "get": {
        "operationId": "getGeoFeed",
        "summary": "Get AQI data by coordinates",
        "description": "Returns real-time AQI data for the nearest station to the given coordinates.",
        "tags": [
          "Feed"
        ],
        "parameters": [
          {
            "name": "lat",
            "in": "path",
            "required": true,
            "description": "Latitude",
            "schema": {
              "type": "number",
              "format": "double"
            }
          },
          {
            "name": "lng",
            "in": "path",
            "required": true,
            "description": "Longitude",
            "schema": {
              "type": "number",
              "format": "double"
            }
          },
          {
            "name": "token",
            "in": "query",
            "required": true,
            "description": "API token",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/FeedResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/feed/here/": {
      "get": {
        "operationId": "getIpBasedFeed",
        "summary": "Get AQI data based on IP geolocation",
        "description": "Returns real-time AQI data for the nearest station based on the requester's IP address location.",
        "tags": [
          "Feed"
        ],
        "parameters": [
          {
            "name": "token",
            "in": "query",
            "required": true,
            "description": "API token",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/FeedResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/search/": {
      "get": {
        "operationId": "searchStations",
        "summary": "Search for AQI monitoring stations",
        "description": "Search for air quality monitoring stations by keyword.",
        "tags": [
          "Search"
        ],
        "parameters": [
          {
            "name": "keyword",
            "in": "query",
            "required": true,
            "description": "Search keyword (city, station name)",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "token",
            "in": "query",
            "required": true,
            "description": "API token",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response with matching stations",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SearchResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/map/bounds/": {
      "get": {
        "operationId": "getMapBounds",
        "summary": "Get stations within map bounds",
        "description": "Returns all stations within the specified map bounds (lat/lng bounding box).",
        "tags": [
          "Map"
        ],
        "parameters": [
          {
            "name": "latlng",
            "in": "query",
            "required": true,
            "description": "Bounding box as lat1,lng1,lat2,lng2",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "token",
            "in": "query",
            "required": true,
            "description": "API token",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response with stations in bounds",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/MapBoundsResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    }
  },
  "components": {
    "schemas": {
      "FeedResponse": {
        "type": "object",
        "properties": {
          "status": {
            "type": "string",
            "enum": [
              "ok",
              "error"
            ]
          },
          "data": {
            "$ref": "#/components/schemas/AqiData"
          }
        }
      },
      "AqiData": {
        "type": "object",
        "properties": {
          "aqi": {
            "type": "integer",
            "description": "Air Quality Index value"
          },
          "idx": {
            "type": "integer",
            "description": "Station index"
          },
          "attributions": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "url": {
                  "type": "string"
                },
                "name": {
                  "type": "string"
                }
              }
            }
          },
          "city": {
            "type": "object",
            "properties": {
              "geo": {
                "type": "array",
                "items": {
                  "type": "number"
                }
              },
              "name": {
                "type": "string"
              },
              "url": {
                "type": "string"
              }
            }
          },
          "dominentpol": {
            "type": "string",
            "description": "Dominant pollutant"
          },
          "iaqi": {
            "type": "object",
            "description": "Individual AQI values per pollutant",
            "additionalProperties": {
              "type": "object",
              "properties": {
                "v": {
                  "type": "number"
                }
              }
            }
          },
          "time": {
            "type": "object",
            "properties": {
              "s": {
                "type": "string",
                "description": "Local time"
              },
              "tz": {
                "type": "string",
                "description": "Timezone"
              },
              "v": {
                "type": "integer",
                "description": "Unix timestamp"
              }
            }
          },
          "forecast": {
            "type": "object",
            "description": "Forecast data",
            "additionalProperties": {
              "type": "object"
            }
          }
        }
      },
      "SearchResponse": {
        "type": "object",
        "properties": {
          "status": {
            "type": "string"
          },
          "data": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "uid": {
                  "type": "integer"
                },
                "aqi": {
                  "type": "string"
                },
                "time": {
                  "type": "object",
                  "properties": {
                    "tz": {
                      "type": "string"
                    },
                    "stime": {
                      "type": "string"
                    },
                    "vtime": {
                      "type": "integer"
                    }
                  }
                },
                "station": {
                  "type": "object",
                  "properties": {
                    "name": {
                      "type": "string"
                    },
                    "geo": {
                      "type": "array",
                      "items": {
                        "type": "number"
                      }
                    },
                    "url": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          }
        }
      },
      "MapBoundsResponse": {
        "type": "object",
        "properties": {
          "status": {
            "type": "string"
          },
          "data": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "lat": {
                  "type": "number"
                },
                "lon": {
                  "type": "number"
                },
                "uid": {
                  "type": "integer"
                },
                "aqi": {
                  "type": "string"
                },
                "station": {
                  "type": "object",
                  "properties": {
                    "name": {
                      "type": "string"
                    },
                    "time": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          }
        }
      },
      "ErrorResponse": {
        "type": "object",
        "properties": {
          "status": {
            "type": "string",
            "enum": [
              "error"
            ]
          },
          "message": {
            "type": "string"
          }
        }
      }
    },
    "securitySchemes": {
      "tokenAuth": {
        "type": "apiKey",
        "in": "query",
        "name": "token",
        "description": "API token from aqicn.org"
      }
    }
  },
  "security": [
    {
      "tokenAuth": []
    }
  ],
  "tags": [
    {
      "name": "Feed"
    },
    {
      "name": "Map"
    },
    {
      "name": "Search"
    }
  ]
}
