{
  "swagger": "2.0",
  "info": {
    "version": "1.0.0",
    "title": "EPYS - Saya\u00e7 ve \u00d6l\u00e7\u00fcm noktas\u0131 Servisleri",
    "x-jentic-source-url": "https://api.swaggerhub.com/apis/erdemSW/epys-sayac-ve-olcum-noktas-servisleri/1.0.0"
  },
  "host": "epys-prp.epias.com.tr",
  "basePath": "/grid",
  "tags": [
    {
      "name": "ecMeterController"
    },
    {
      "name": "helperController"
    },
    {
      "name": "meterController"
    },
    {
      "name": "portfolioController"
    },
    {
      "name": "regionController"
    },
    {
      "name": "substationController"
    },
    {
      "name": "ulegMeterController"
    }
  ],
  "schemes": [
    "https"
  ],
  "paths": {
    "/v1/ec-meter/count": {
      "post": {
        "tags": [
          "ecMeterController"
        ],
        "summary": "\u00d6l\u00e7\u00fcm Noktas\u0131 Kay\u0131t Sayma Servisi",
        "description": "Sorgulamak istedi\u011finiz toplam \u00f6l\u00e7\u00fcm noktas\u0131 kay\u0131t adedini bu servis ile alabilirsiniz.",
        "operationId": "ec-meter-count",
        "consumes": [
          "application/json",
          "application/xml"
        ],
        "produces": [
          "application/json",
          "application/xml"
        ],
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "required": false,
            "schema": {
              "$ref": "#/definitions/EcMeterQueryRequestDto"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "schema": {
              "$ref": "#/definitions/RestResponseCountResponseDto"
            }
          }
        }
      }
    },
    "/v1/ec-meter/count-meter": {
      "post": {
        "tags": [
          "ecMeterController"
        ],
        "summary": "\u00d6l\u00e7\u00fcm Noktas\u0131 Sayma Servisi",
        "description": "Sorgulamak istedi\u011finiz toplam \u00f6l\u00e7\u00fcm noktas\u0131 adedini bu servis ile alabilirsiniz.",
        "operationId": "ec-meter-distinct-count",
        "consumes": [
          "application/json",
          "application/xml"
        ],
        "produces": [
          "application/json",
          "application/xml"
        ],
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "required": false,
            "schema": {
              "$ref": "#/definitions/EcMeterQueryRequestDto"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "schema": {
              "$ref": "#/definitions/RestResponseCountResponseDto"
            }
          }
        }
      }
    },
    "/v1/ec-meter/export": {
      "post": {
        "tags": [
          "ecMeterController"
        ],
        "summary": "\u00d6l\u00e7\u00fcm Noktas\u0131 D\u0131\u015fa Aktarma Servisi",
        "description": "D\u0131\u015fa aktarmak istedi\u011finiz \u00f6l\u00e7\u00fcm noktas\u0131 bilgilerini bu servis ile alabilirsiniz.",
        "operationId": "ec-meter-export",
        "consumes": [
          "application/json",
          "application/xml"
        ],
        "produces": [
          "application/json",
          "application/xml"
        ],
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "required": false,
            "schema": {
              "$ref": "#/definitions/EcMeterExportRequestDto"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "schema": {
              "$ref": "#/definitions/RestResponseExportPageResponseEcMeterResponseDto"
            }
          }
        }
      }
    },
    "/v1/ec-meter/fetch-export-offset-ids": {
      "post": {
        "tags": [
          "ecMeterController"
        ],
        "summary": "\u00d6l\u00e7\u00fcm Noktas\u0131 D\u0131\u015fa Aktar Servisleri Offset ID Listeleme Servisi",
        "description": "D\u0131\u015fa aktarma servisinin sayfa parametresi olan offsetId listesini bu servis ile alabilirsiniz.",
        "operationId": "ec-meter-fetch-export-offset-ids",
        "consumes": [
          "application/json",
          "application/xml"
        ],
        "produces": [
          "application/json",
          "application/xml"
        ],
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "required": false,
            "schema": {
              "$ref": "#/definitions/EcMeterExportRequestDto"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "schema": {
              "$ref": "#/definitions/RestResponseExportOffsetIdsResponseDto"
            }
          }
        }
      }
    },
    "/v1/ec-meter/plain-export": {
      "post": {
        "tags": [
          "ecMeterController"
        ],
        "summary": "\u00d6l\u00e7\u00fcm Noktas\u0131 D\u0131\u015fa Aktarma Servisi",
        "description": "D\u0131\u015fa aktarmak istedi\u011finiz \u00f6l\u00e7\u00fcm noktas\u0131 bilgilerini bu servis ile alabilirsiniz.",
        "operationId": "ec-meter-plain-export",
        "consumes": [
          "application/json",
          "application/xml"
        ],
        "produces": [
          "application/json",
          "application/xml"
        ],
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "required": false,
            "schema": {
              "$ref": "#/definitions/EcMeterExportRequestDto"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "schema": {
              "$ref": "#/definitions/RestResponseExportPageResponsePlainEcMeterResponseDto"
            }
          }
        }
      }
    },
    "/v1/ec-meter/query": {
      "post": {
        "tags": [
          "ecMeterController"
        ],
        "summary": "\u00d6l\u00e7\u00fcm Noktas\u0131 Sorgulama Servisi",
        "description": "Sorgulamak istedi\u011finiz \u00f6l\u00e7\u00fcm noktas\u0131 bilgilerini bu servis ile alabilirsiniz.",
        "operationId": "ec-meter-query",
        "consumes": [
          "application/json",
          "application/xml"
        ],
        "produces": [
          "application/json",
          "application/xml"
        ],
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "required": false,
            "schema": {
              "$ref": "#/definitions/EcMeterQueryRequestDto"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "schema": {
              "$ref": "#/definitions/RestResponseSortablePageResponseEcMeterResponseDto"
            }
          }
        }
      }
    },
    "/v1/ec-meter/save": {
      "post": {
        "tags": [
          "ecMeterController"
        ],
        "summary": "\u00d6l\u00e7\u00fcm Noktas\u0131 Kay\u0131t Servisi",
        "description": "Yeni bir \u00f6l\u00e7\u00fcm noktas\u0131n\u0131 bu servis ile kaydedebilirsiniz.",
        "operationId": "ec-meter-save",
        "consumes": [
          "application/json",
          "application/xml"
        ],
        "produces": [
          "application/json",
          "application/xml"
        ],
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "required": false,
            "schema": {
              "$ref": "#/definitions/EcMeterRequestDto"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "schema": {
              "$ref": "#/definitions/RestResponseIdTextDto"
            }
          }
        }
      }
    },
    "/v1/ec-meter/status-update": {
      "post": {
        "tags": [
          "ecMeterController"
        ],
        "summary": "\u00d6l\u00e7\u00fcm Noktas\u0131 Durum G\u00fcncelleme Servisi",
        "description": "Mevcut bir \u00f6l\u00e7\u00fcm noktas\u0131n\u0131n durumunu bu servis ile g\u00fcncelleyebilirsiniz.",
        "operationId": "ec-meter-status-update",
        "consumes": [
          "application/json",
          "application/xml"
        ],
        "produces": [
          "application/json",
          "application/xml"
        ],
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "required": false,
            "schema": {
              "$ref": "#/definitions/EcMeterStatusUpdateRequestDto"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "schema": {
              "$ref": "#/definitions/RestResponseResultDto"
            }
          }
        }
      }
    },
    "/v1/ec-meter/update": {
      "post": {
        "tags": [
          "ecMeterController"
        ],
        "summary": "\u00d6l\u00e7\u00fcm Noktas\u0131 G\u00fcncelleme Servisi",
        "description": "Mevcut bir \u00f6l\u00e7\u00fcm noktas\u0131n\u0131 bu servis ile g\u00fcncelleyebilirsiniz.",
        "operationId": "ec-meter-update",
        "consumes": [
          "application/json",
          "application/xml"
        ],
        "produces": [
          "application/json",
          "application/xml"
        ],
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "required": false,
            "schema": {
              "$ref": "#/definitions/EcMeterUpdateRequestDto"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "schema": {
              "$ref": "#/definitions/RestResponseResultDto"
            }
          }
        }
      }
    },
    "/v1/exceptional-meter-portfolio/query": {
      "post": {
        "tags": [
          "portfolioController"
        ],
        "summary": "Talep Edilebilir Yapt\u0131r\u0131m Saya\u00e7lar\u0131 Sorgulama Servisi",
        "description": "Talep edilebilir yapt\u0131r\u0131m saya\u00e7 bilgilerini bu servis ile alabilirsiniz.",
        "operationId": "exceptional-meter-portfolio-query",
        "consumes": [
          "application/json",
          "application/xml"
        ],
        "produces": [
          "application/json",
          "application/xml"
        ],
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "required": false,
            "schema": {
              "$ref": "#/definitions/ExceptionalMeterPortfolioQueryRequestDto"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "schema": {
              "$ref": "#/definitions/RestResponseSortablePageResponsePortfolioDto"
            }
          }
        }
      }
    },
    "/v1/lookup": {
      "get": {
        "summary": "Mevcut \u00c7oklu Se\u00e7im Anahtar Sorgulama Servisi",
        "description": "Mevcut \u00e7oklu se\u00e7im anahtar verilerini sorgular.",
        "operationId": "available-lookups",
        "produces": [
          "application/json",
          "application/xml"
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "schema": {
              "$ref": "#/definitions/RestResponseLookupTypeResponse"
            }
          }
        }
      }
    },
    "/v1/lookup/query": {
      "post": {
        "summary": "\u00c7oklu Se\u00e7im Detay Sorgulama Servisi",
        "description": "\u00c7oklu se\u00e7im detay verilerini sorgular.",
        "operationId": "lookup-query",
        "consumes": [
          "application/json",
          "application/xml"
        ],
        "produces": [
          "application/json",
          "application/xml"
        ],
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "required": false,
            "schema": {
              "$ref": "#/definitions/LookupRequest"
            }
          },
          {
            "name": "accept-language",
            "in": "header",
            "required": false,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "schema": {
              "$ref": "#/definitions/RestResponseLookupResponse"
            }
          }
        }
      }
    },
    "/v1/meter-field/fetch": {
      "get": {
        "tags": [
          "helperController"
        ],
        "summary": "Saya\u00e7 Alan \u0130simleri \u00c7ekme Servisi",
        "description": "Saya\u00e7 alan isim bilgilerini bu servis ile \u00e7ekebilirsiniz.",
        "operationId": "meter-field-fetch",
        "produces": [
          "application/json",
          "application/xml"
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "schema": {
              "$ref": "#/definitions/RestResponseLookupDTO"
            }
          }
        }
      }
    },
    "/v1/meter/count": {
      "post": {
        "tags": [
          "meterController"
        ],
        "summary": "Saya\u00e7 Kay\u0131t Sayma Servisi",
        "description": "Sorgulamak istedi\u011finiz toplam saya\u00e7 kay\u0131t adedini bu servis ile alabilirsiniz.",
        "operationId": "meter-count",
        "consumes": [
          "application/json",
          "application/xml"
        ],
        "produces": [
          "application/json",
          "application/xml"
        ],
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "required": false,
            "schema": {
              "$ref": "#/definitions/MeterQueryRequestDto"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "schema": {
              "$ref": "#/definitions/RestResponseCountResponseDto"
            }
          }
        }
      }
    },
    "/v1/meter/count-meter": {
      "post": {
        "tags": [
          "meterController"
        ],
        "summary": "Saya\u00e7 Sayma Servisi",
        "description": "Sorgulamak istedi\u011finiz toplam saya\u00e7 adedini bu servis ile alabilirsiniz.",
        "operationId": "meter-distinct-count",
        "consumes": [
          "application/json",
          "application/xml"
        ],
        "produces": [
          "application/json",
          "application/xml"
        ],
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "required": false,
            "schema": {
              "$ref": "#/definitions/MeterQueryRequestDto"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "schema": {
              "$ref": "#/definitions/RestResponseCountResponseDto"
            }
          }
        }
      }
    },
    "/v1/meter/export": {
      "post": {
        "tags": [
          "meterController"
        ],
        "summary": "Saya\u00e7 D\u0131\u015fa Aktarma Servisi",
        "description": "D\u0131\u015fa aktarmak istedi\u011finiz saya\u00e7 bilgilerini bu servis ile alabilirsiniz.",
        "operationId": "meter-export",
        "consumes": [
          "application/json",
          "application/xml"
        ],
        "produces": [
          "application/json",
          "application/xml"
        ],
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "required": false,
            "schema": {
              "$ref": "#/definitions/MeterExportRequestDto"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "schema": {
              "$ref": "#/definitions/RestResponseExportPageResponseMeterResponseDto"
            }
          }
        }
      }
    },
    "/v1/meter/fetch-export-offset-ids": {
      "post": {
        "tags": [
          "meterController"
        ],
        "summary": "Saya\u00e7 D\u0131\u015fa Aktar Servisleri Offset ID Listeleme Servisi",
        "description": "D\u0131\u015fa aktarma servisinin sayfa parametresi olan offsetId listesini bu servis ile alabilirsiniz.",
        "operationId": "meter-fetch-export-offset-ids",
        "consumes": [
          "application/json",
          "application/xml"
        ],
        "produces": [
          "application/json",
          "application/xml"
        ],
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "required": false,
            "schema": {
              "$ref": "#/definitions/MeterExportRequestDto"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "schema": {
              "$ref": "#/definitions/RestResponseExportOffsetIdsResponseDto"
            }
          }
        }
      }
    },
    "/v1/meter/plain-export": {
      "post": {
        "tags": [
          "meterController"
        ],
        "summary": "Saya\u00e7 D\u0131\u015fa Aktarma Servisi",
        "description": "D\u0131\u015fa aktarmak istedi\u011finiz saya\u00e7 bilgilerini bu servis ile alabilirsiniz.",
        "operationId": "meter-plain-export",
        "consumes": [
          "application/json",
          "application/xml"
        ],
        "produces": [
          "application/json",
          "application/xml"
        ],
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "required": false,
            "schema": {
              "$ref": "#/definitions/MeterExportRequestDto"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "schema": {
              "$ref": "#/definitions/RestResponseExportPageResponsePlainMeterResponseDto"
            }
          }
        }
      }
    },
    "/v1/meter/query": {
      "post": {
        "tags": [
          "meterController"
        ],
        "summary": "Saya\u00e7 Sorgulama Servisi",
        "description": "Sorgulamak istedi\u011finiz saya\u00e7 bilgilerini bu servis ile alabilirsiniz.",
        "operationId": "meter-query",
        "consumes": [
          "application/json",
          "application/xml"
        ],
        "produces": [
          "application/json",
          "application/xml"
        ],
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "required": false,
            "schema": {
              "$ref": "#/definitions/MeterQueryRequestDto"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "schema": {
              "$ref": "#/definitions/RestResponseSortablePageResponseMeterResponseDto"
            }
          }
        }
      }
    },
    "/v1/meter/query-main-meter": {
      "post": {
        "tags": [
          "meterController"
        ],
        "summary": "Ana Saya\u00e7 Sorgulama Servisi",
        "description": "Sorgulamak istedi\u011finiz ana saya\u00e7 bilgilerini bu servis ile alabilirsiniz.",
        "operationId": "meter-query-main-meter",
        "consumes": [
          "application/json",
          "application/xml"
        ],
        "produces": [
          "application/json",
          "application/xml"
        ],
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "required": false,
            "schema": {
              "$ref": "#/definitions/MainMeterQueryRequestDto"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "schema": {
              "$ref": "#/definitions/RestResponseSortablePageResponseMainMeterResponseDto"
            }
          }
        }
      }
    },
    "/v1/meter/reading-type/fetch": {
      "get": {
        "tags": [
          "helperController"
        ],
        "summary": "Saya\u00e7 Okuma Tipleri \u00c7ekme Servisi",
        "description": "Saya\u00e7 okuma tip bilgilerini bu servis ile \u00e7ekebilirsiniz.",
        "operationId": "meter-reading-type-fetch",
        "produces": [
          "application/json",
          "application/xml"
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "schema": {
              "$ref": "#/definitions/RestResponseReadingTypeDto"
            }
          }
        }
      }
    },
    "/v1/meter/supply-position-type/fetch": {
      "get": {
        "tags": [
          "helperController"
        ],
        "summary": "Saya\u00e7 Veri\u015f Pozisyon Tipleri \u00c7ekme Servisi",
        "description": "Saya\u00e7 veri\u015f pozisyon tip bilgilerini bu servis ile \u00e7ekebilirsiniz.",
        "operationId": "meter-supply-position-type-fetch",
        "produces": [
          "application/json",
          "application/xml"
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "schema": {
              "$ref": "#/definitions/RestResponseSupplyPositionTypeDto"
            }
          }
        }
      }
    },
    "/v1/meter/usage-type/fetch": {
      "get": {
        "tags": [
          "helperController"
        ],
        "summary": "Saya\u00e7 Veri\u015f Pozisyon Tipleri \u00c7ekme Servisi",
        "description": "Saya\u00e7 veri\u015f pozisyon tip bilgilerini bu servis ile \u00e7ekebilirsiniz.",
        "operationId": "meter-usage-type-fetch",
        "produces": [
          "application/json",
          "application/xml"
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "schema": {
              "$ref": "#/definitions/RestResponseUsageTypeDto"
            }
          }
        }
      }
    },
    "/v1/meter/withdraw-position-type/fetch": {
      "get": {
        "tags": [
          "helperController"
        ],
        "summary": "Saya\u00e7 \u00c7eki\u015f Pozisyon Tipleri \u00c7ekme Servisi",
        "description": "Saya\u00e7 \u00e7eki\u015f pozisyon tip bilgilerini bu servis ile \u00e7ekebilirsiniz.",
        "operationId": "meter-withdraw-position-type-fetch",
        "produces": [
          "application/json",
          "application/xml"
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "schema": {
              "$ref": "#/definitions/RestResponseWithdrawPositionTypeDto"
            }
          }
        }
      }
    },
    "/v1/portfolio/query": {
      "post": {
        "tags": [
          "portfolioController"
        ],
        "summary": "Portf\u00f6y Sorgulama Servisi",
        "description": "Portf\u00f6y\u00fcn\u00fczdeki saya\u00e7lar\u0131 bu servis ile alabilirsiniz.",
        "operationId": "portfolio-query",
        "consumes": [
          "application/json",
          "application/xml"
        ],
        "produces": [
          "application/json",
          "application/xml"
        ],
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "required": false,
            "schema": {
              "$ref": "#/definitions/PortfolioQueryRequestDto"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "schema": {
              "$ref": "#/definitions/RestResponseSortablePageResponsePortfolioDto"
            }
          }
        }
      }
    },
    "/v1/profile-subscription-group/fetch": {
      "get": {
        "tags": [
          "helperController"
        ],
        "summary": "Profil Abone Grubu Sorgulama Servisi",
        "description": "\u015ee\u00e7ilen \u015fehre g\u00f6re profil abone gruplar\u0131n\u0131 bu servis ile alabilirsiniz.",
        "operationId": "profile-subscription-group-fetch",
        "produces": [
          "application/json",
          "application/xml"
        ],
        "parameters": [
          {
            "name": "cityId",
            "in": "query",
            "description": "\u015eehir ID Bilgisi",
            "required": true,
            "type": "integer",
            "format": "int64"
          },
          {
            "name": "effectiveDate",
            "in": "query",
            "description": "Ge\u00e7erlilik Tarihi",
            "required": true,
            "type": "string",
            "format": "date-time"
          },
          {
            "name": "readingTypeId",
            "in": "query",
            "description": "Okuma Tipi ID Bilgisi",
            "required": true,
            "type": "integer",
            "format": "int64"
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "schema": {
              "$ref": "#/definitions/RestResponseLookupDTO"
            }
          }
        }
      }
    },
    "/v1/reading-portfolio/query": {
      "post": {
        "tags": [
          "portfolioController"
        ],
        "summary": "Saya\u00e7 Verisi Y\u00fckleme Y\u00fck\u00fcml\u00fcl\u00fc\u011f\u00fc Sorgulama Servisi",
        "description": "Saya\u00e7 Verisi Y\u00fckleme Y\u00fck\u00fcml\u00fcl\u00fc\u011f\u00fcn\u00fczdeki saya\u00e7lar\u0131 bu servis ile alabilirsiniz.",
        "operationId": "reading-portfolio-query",
        "consumes": [
          "application/json",
          "application/xml"
        ],
        "produces": [
          "application/json",
          "application/xml"
        ],
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "required": false,
            "schema": {
              "$ref": "#/definitions/ReadingPortfolioQueryRequestDto"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "schema": {
              "$ref": "#/definitions/RestResponseSortablePageResponsePortfolioDto"
            }
          }
        }
      }
    },
    "/v1/region-conf-field/fetch": {
      "get": {
        "tags": [
          "helperController"
        ],
        "summary": "Teklif B\u00f6lgesi Konfig\u00fcrasyon Alan \u0130simleri \u00c7ekme Servisi",
        "description": "Teklif b\u00f6lgesi konfig\u00fcrasyon alan isim bilgilerini bu servis ile \u00e7ekebilirsiniz.",
        "operationId": "region-conf-field-fetch",
        "produces": [
          "application/json",
          "application/xml"
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "schema": {
              "$ref": "#/definitions/RestResponseLookupDTO"
            }
          }
        }
      }
    },
    "/v1/region-field/fetch": {
      "get": {
        "tags": [
          "helperController"
        ],
        "summary": "Teklif B\u00f6lgesi Alan \u0130simleri \u00c7ekme Servisi",
        "description": "Teklif b\u00f6lgesi alan isim bilgilerini bu servis ile \u00e7ekebilirsiniz.",
        "operationId": "region-field-fetch",
        "produces": [
          "application/json",
          "application/xml"
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "schema": {
              "$ref": "#/definitions/RestResponseLookupDTO"
            }
          }
        }
      }
    },
    "/v1/region/query": {
      "post": {
        "tags": [
          "regionController"
        ],
        "summary": "Teklif B\u00f6lgesi Sorgulama Servisi",
        "description": "Sorgulamak istedi\u011finiz teklif b\u00f6lgesi bilgilerini bu servis ile alabilirsiniz.",
        "operationId": "region-query",
        "consumes": [
          "application/json",
          "application/xml"
        ],
        "produces": [
          "application/json",
          "application/xml"
        ],
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "required": false,
            "schema": {
              "$ref": "#/definitions/RegionQueryRequestDto"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "schema": {
              "$ref": "#/definitions/RestResponseSortablePageResponseRegionDto"
            }
          }
        }
      }
    },
    "/v1/substation-field/fetch": {
      "get": {
        "tags": [
          "helperController"
        ],
        "summary": "Trafo Merkezi Alan \u0130simleri \u00c7ekme Servisi",
        "description": "Trafo merkezi alan isim bilgilerini bu servis ile \u00e7ekebilirsiniz.",
        "operationId": "substation-field-fetch",
        "produces": [
          "application/json",
          "application/xml"
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "schema": {
              "$ref": "#/definitions/RestResponseLookupDTO"
            }
          }
        }
      }
    },
    "/v1/substation/query": {
      "post": {
        "tags": [
          "substationController"
        ],
        "summary": "Trafo Merkezi Sorgulama Servisi",
        "description": "Sorgulamak istedi\u011finiz trafo merkezi bilgilerini bu servis ile alabilirsiniz.",
        "operationId": "substation-query",
        "consumes": [
          "application/json",
          "application/xml"
        ],
        "produces": [
          "application/json",
          "application/xml"
        ],
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "required": false,
            "schema": {
              "$ref": "#/definitions/SubstationQueryRequestDto"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "schema": {
              "$ref": "#/definitions/RestResponseSortablePageResponseSubstationDto"
            }
          }
        }
      }
    },
    "/v1/uleg-meter/export": {
      "post": {
        "tags": [
          "ulegMeterController"
        ],
        "summary": "L\u00dcY Saya\u00e7 D\u0131\u015fa Aktarma Servisi",
        "description": "D\u0131\u015fa aktarmak istedi\u011finiz L\u00dcY saya\u00e7 bilgilerini bu servis ile alabilirsiniz.",
        "operationId": "uleg-meter-export",
        "consumes": [
          "application/json",
          "application/xml"
        ],
        "produces": [
          "application/json",
          "application/xml"
        ],
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "required": false,
            "schema": {
              "$ref": "#/definitions/UlegMeterExportRequestDto"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "schema": {
              "$ref": "#/definitions/RestResponseExportPageResponseUlegMeterResponseDto"
            }
          }
        }
      }
    },
    "/v1/uleg-meter/plain-export": {
      "post": {
        "tags": [
          "ulegMeterController"
        ],
        "summary": "L\u00dcY Saya\u00e7 D\u0131\u015fa Aktarma Servisi",
        "description": "D\u0131\u015fa aktarmak istedi\u011finiz L\u00dcY saya\u00e7 bilgilerini bu servis ile alabilirsiniz.",
        "operationId": "uleg-meter-plain-export",
        "consumes": [
          "application/json",
          "application/xml"
        ],
        "produces": [
          "application/json",
          "application/xml"
        ],
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "required": false,
            "schema": {
              "$ref": "#/definitions/UlegMeterExportRequestDto"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "schema": {
              "$ref": "#/definitions/RestResponseExportPageResponsePlainUlegMeterResponseDto"
            }
          }
        }
      }
    },
    "/v1/uleg-meter/query": {
      "post": {
        "tags": [
          "ulegMeterController"
        ],
        "summary": "L\u00dcY Saya\u00e7 Sorgulama Servisi",
        "description": "Sorgulamak istedi\u011finiz L\u00dcY saya\u00e7 bilgilerini bu servis ile alabilirsiniz.",
        "operationId": "uleg-meter-query",
        "consumes": [
          "application/json",
          "application/xml"
        ],
        "produces": [
          "application/json",
          "application/xml"
        ],
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "required": false,
            "schema": {
              "$ref": "#/definitions/UlegMeterQueryRequestDto"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "schema": {
              "$ref": "#/definitions/RestResponseSortablePageResponseUlegMeterResponseDto"
            }
          }
        }
      }
    },
    "/v1/uleg-meter/service-power-update": {
      "post": {
        "tags": [
          "ulegMeterController"
        ],
        "summary": "L\u00dcY Saya\u00e7 \u0130\u015fletmedeki G\u00fc\u00e7 G\u00fcncelleme Servisi",
        "description": "Mevcut bir L\u00dcY sayac\u0131n\u0131n i\u015fletmedeki g\u00fcc\u00fcn\u00fc bu servis ile g\u00fcncelleyebilirsiniz.",
        "operationId": "uleg-meter-service-power-update",
        "consumes": [
          "application/json",
          "application/xml"
        ],
        "produces": [
          "application/json",
          "application/xml"
        ],
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "required": false,
            "schema": {
              "$ref": "#/definitions/UlegMeterServicePowerUpdateRequestDto"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "schema": {
              "$ref": "#/definitions/RestResponseResultDto"
            }
          }
        }
      }
    }
  },
  "definitions": {
    "BaseDTO": {
      "type": "object"
    },
    "CityDTO": {
      "type": "object",
      "properties": {
        "id": {
          "type": "integer",
          "format": "int64"
        },
        "name": {
          "type": "string"
        }
      }
    },
    "ConductorTypeDto": {
      "type": "object",
      "properties": {
        "conductorType": {
          "description": "\u0130letken Tipi",
          "$ref": "#/definitions/LookupDTO"
        },
        "coefficient": {
          "type": "number",
          "description": "\u00d6zdiren\u00e7 Katsay\u0131s\u0131"
        }
      }
    },
    "CountResponseDto": {
      "type": "object",
      "properties": {
        "count": {
          "type": "integer",
          "format": "int64",
          "description": "Toplam Say\u0131"
        }
      }
    },
    "CustomerDto": {
      "type": "object",
      "properties": {
        "effectiveDateStart": {
          "type": "string",
          "format": "date-time",
          "example": "2019-01-01T00:00:00+03:00"
        },
        "effectiveDateEnd": {
          "type": "string",
          "format": "date-time",
          "example": "2019-12-01T00:00:00+03:00"
        },
        "authorizedPersonName1": {
          "type": "string",
          "description": "Birinci Yetkili Ki\u015fi Ad/Soyad"
        },
        "authorizedPersonName2": {
          "type": "string",
          "description": "\u0130kinci Yetkili Ki\u015fi Ad/Soyad"
        },
        "authorizedPersonNo1": {
          "type": "string",
          "description": "Birinci Yetkili Ki\u015fi TCKN"
        },
        "authorizedPersonNo2": {
          "type": "string",
          "description": "\u0130kinci Yetkili Ki\u015fi TCKN"
        },
        "customerNo": {
          "type": "string",
          "description": "Abone No"
        },
        "title": {
          "type": "string",
          "description": "Abone \u00dcnvan"
        },
        "status": {
          "description": "Abone Durumu",
          "$ref": "#/definitions/LookupDTO"
        },
        "category": {
          "description": "Abone Kategori Tipi",
          "$ref": "#/definitions/LookupDTO"
        },
        "startDate": {
          "type": "string",
          "format": "date-time",
          "example": "2023-01-01T00:00:00+03:00",
          "description": "Abone Portf\u00f6y Ba\u015flang\u0131\u00e7 Tarihi"
        },
        "endDate": {
          "type": "string",
          "format": "date-time",
          "example": "2023-01-01T00:00:00+03:00",
          "description": "Abone Portf\u00f6y Biti\u015f Tarihi"
        }
      }
    },
    "DescriptionDto": {
      "type": "object",
      "required": [
        "description",
        "language"
      ],
      "properties": {
        "language": {
          "type": "string",
          "description": "Dil"
        },
        "description": {
          "type": "string",
          "description": "Tan\u0131m"
        }
      }
    },
    "DistrictDto": {
      "type": "object",
      "properties": {
        "id": {
          "type": "integer",
          "format": "int64",
          "description": "\u0130l\u00e7e ID"
        },
        "name": {
          "type": "string",
          "description": "\u0130l\u00e7e Ad"
        },
        "relativeUnit": {
          "description": "\u0130l\u00e7enin \u0130l Bilgisi",
          "$ref": "#/definitions/CityDTO"
        }
      }
    },
    "EcMeterExportRequestDto": {
      "type": "object",
      "properties": {
        "balancingRegionId": {
          "type": "integer",
          "format": "int64",
          "description": "Dengeleme B\u00f6lgesi ID"
        },
        "biddingRegionId": {
          "type": "integer",
          "format": "int64",
          "description": "Teklif B\u00f6lgesi ID"
        },
        "bpmStatus": {
          "type": "boolean",
          "description": "Dengeleme G\u00fc\u00e7 Piyasas\u0131 Kat\u0131l\u0131m Durumu"
        },
        "effectiveDate": {
          "type": "string",
          "format": "date-time",
          "example": "2023-01-01T00:00:00+03:00",
          "description": "Ge\u00e7erlilik Tarihi"
        },
        "effectiveDateStartGreaterThanOrEqual": {
          "type": "string",
          "format": "date-time",
          "example": "2023-01-01T00:00:00+03:00",
          "description": "Ge\u00e7erlilik Ba\u015flang\u0131\u00e7 Tarihine E\u015fit veya \u0130leri"
        },
        "effectiveDateStartLessThanOrEqual": {
          "type": "string",
          "format": "date-time",
          "example": "2023-01-01T00:00:00+03:00",
          "description": "Ge\u00e7erlilik Ba\u015flang\u0131\u00e7 Tarihine E\u015fit veya Geri"
        },
        "dspOrganizationId": {
          "type": "integer",
          "format": "int64",
          "description": "Talep Taraf\u0131 Kat\u0131l\u0131m Organizasyon ID"
        },
        "periodDateStart": {
          "type": "string",
          "format": "date-time",
          "example": "2023-01-01T00:00:00+03:00",
          "description": "D\u00f6nem Ba\u015flang\u0131\u00e7 Tarihi"
        },
        "periodDateEnd": {
          "type": "string",
          "format": "date-time",
          "example": "2023-01-01T00:00:00+03:00",
          "description": "D\u00f6nem Biti\u015f Tarihi"
        },
        "id": {
          "type": "integer",
          "format": "int64",
          "description": "ID"
        },
        "eic": {
          "type": "string",
          "description": "EIC"
        },
        "mainMeterId": {
          "type": "integer",
          "format": "int64",
          "description": "Ana Saya\u00e7 ID"
        },
        "organizationId": {
          "type": "integer",
          "format": "int64",
          "description": "Organizasyon ID"
        },
        "portfolioTypeId": {
          "type": "integer",
          "format": "int64",
          "description": "Portf\u00f6y Tip ID"
        },
        "readingOrganizationId": {
          "type": "integer",
          "format": "int64"
        },
        "readingTypeId": {
          "type": "integer",
          "format": "int64",
          "description": "Saya\u00e7 Okuma Tip ID"
        },
        "recordUsageStatusId": {
          "type": "integer",
          "format": "int64",
          "description": "Kay\u0131t Kullan\u0131m Durum ID"
        },
        "settlementPointIds": {
          "type": "array",
          "description": "UEV\u00c7B ID leri",
          "items": {
            "type": "integer",
            "format": "int64"
          }
        },
        "statusId": {
          "type": "integer",
          "format": "int64",
          "description": "Durum ID"
        },
        "substationId": {
          "type": "integer",
          "format": "int64",
          "description": "Trafo Merkezi ID"
        },
        "supplierTypeId": {
          "type": "integer",
          "format": "int64",
          "description": "Tedarik Tip ID"
        },
        "uniqueCode": {
          "type": "string",
          "description": "Tekil Kod"
        },
        "withdrawDeductionSettlementPointId": {
          "type": "integer",
          "format": "int64",
          "description": "\u00c7eki\u015f Tenzil UEV\u00c7B ID"
        },
        "withdrawSettlementPointId": {
          "type": "integer",
          "format": "int64",
          "description": "\u00c7eki\u015f UEV\u00c7B ID"
        },
        "containsId": {
          "type": "integer",
          "format": "int64",
          "description": "ID \u0130\u00e7eren"
        },
        "containsEic": {
          "type": "string",
          "description": "EIC \u0130\u00e7eren"
        },
        "containsMainMeterId": {
          "type": "integer",
          "format": "int64",
          "description": "Ana Saya\u00e7 ID \u0130\u00e7eren"
        },
        "containsOrganizationId": {
          "type": "integer",
          "format": "int64",
          "description": "Organizasyon ID \u0130\u00e7eren"
        },
        "containsSerial": {
          "type": "string",
          "description": "Saya\u00e7 Seri No \u0130\u00e7eren"
        },
        "containsWithdrawDeductionSettlementPointId": {
          "type": "integer",
          "format": "int64",
          "description": "\u00c7eki\u015f Tenzil UEV\u00c7B ID \u0130\u00e7eren"
        },
        "containsWithdrawSettlementPointId": {
          "type": "integer",
          "format": "int64",
          "description": "\u00c7eki\u015f UEV\u00c7B ID \u0130\u00e7eren"
        },
        "customerRecordExist": {
          "type": "boolean",
          "description": "Abone Kay\u0131t Varl\u0131\u011f\u0131"
        },
        "page": {
          "description": "D\u0131\u015fa Aktar Sayfas\u0131",
          "$ref": "#/definitions/Page"
        }
      }
    },
    "EcMeterQueryRequestDto": {
      "type": "object",
      "properties": {
        "balancingRegionId": {
          "type": "integer",
          "format": "int64",
          "description": "Dengeleme B\u00f6lgesi ID"
        },
        "biddingRegionId": {
          "type": "integer",
          "format": "int64",
          "description": "Teklif B\u00f6lgesi ID"
        },
        "bpmStatus": {
          "type": "boolean",
          "description": "Dengeleme G\u00fc\u00e7 Piyasas\u0131 Kat\u0131l\u0131m Durumu"
        },
        "effectiveDate": {
          "type": "string",
          "format": "date-time",
          "example": "2023-01-01T00:00:00+03:00",
          "description": "Ge\u00e7erlilik Tarihi"
        },
        "effectiveDateStartGreaterThanOrEqual": {
          "type": "string",
          "format": "date-time",
          "example": "2023-01-01T00:00:00+03:00",
          "description": "Ge\u00e7erlilik Ba\u015flang\u0131\u00e7 Tarihine E\u015fit veya \u0130leri"
        },
        "effectiveDateStartLessThanOrEqual": {
          "type": "string",
          "format": "date-time",
          "example": "2023-01-01T00:00:00+03:00",
          "description": "Ge\u00e7erlilik Ba\u015flang\u0131\u00e7 Tarihine E\u015fit veya Geri"
        },
        "dspOrganizationId": {
          "type": "integer",
          "format": "int64",
          "description": "Talep Taraf\u0131 Kat\u0131l\u0131m Organizasyon ID"
        },
        "periodDateStart": {
          "type": "string",
          "format": "date-time",
          "example": "2023-01-01T00:00:00+03:00",
          "description": "D\u00f6nem Ba\u015flang\u0131\u00e7 Tarihi"
        },
        "periodDateEnd": {
          "type": "string",
          "format": "date-time",
          "example": "2023-01-01T00:00:00+03:00",
          "description": "D\u00f6nem Biti\u015f Tarihi"
        },
        "id": {
          "type": "integer",
          "format": "int64",
          "description": "ID"
        },
        "eic": {
          "type": "string",
          "description": "EIC"
        },
        "mainMeterId": {
          "type": "integer",
          "format": "int64",
          "description": "Ana Saya\u00e7 ID"
        },
        "organizationId": {
          "type": "integer",
          "format": "int64",
          "description": "Organizasyon ID"
        },
        "portfolioTypeId": {
          "type": "integer",
          "format": "int64",
          "description": "Portf\u00f6y Tip ID"
        },
        "readingOrganizationId": {
          "type": "integer",
          "format": "int64"
        },
        "readingTypeId": {
          "type": "integer",
          "format": "int64",
          "description": "Saya\u00e7 Okuma Tip ID"
        },
        "recordUsageStatusId": {
          "type": "integer",
          "format": "int64",
          "description": "Kay\u0131t Kullan\u0131m Durum ID"
        },
        "settlementPointIds": {
          "type": "array",
          "description": "UEV\u00c7B ID leri",
          "items": {
            "type": "integer",
            "format": "int64"
          }
        },
        "statusId": {
          "type": "integer",
          "format": "int64",
          "description": "Durum ID"
        },
        "substationId": {
          "type": "integer",
          "format": "int64",
          "description": "Trafo Merkezi ID"
        },
        "supplierTypeId": {
          "type": "integer",
          "format": "int64",
          "description": "Tedarik Tip ID"
        },
        "uniqueCode": {
          "type": "string",
          "description": "Tekil Kod"
        },
        "withdrawDeductionSettlementPointId": {
          "type": "integer",
          "format": "int64",
          "description": "\u00c7eki\u015f Tenzil UEV\u00c7B ID"
        },
        "withdrawSettlementPointId": {
          "type": "integer",
          "format": "int64",
          "description": "\u00c7eki\u015f UEV\u00c7B ID"
        },
        "containsId": {
          "type": "integer",
          "format": "int64",
          "description": "ID \u0130\u00e7eren"
        },
        "containsEic": {
          "type": "string",
          "description": "EIC \u0130\u00e7eren"
        },
        "containsMainMeterId": {
          "type": "integer",
          "format": "int64",
          "description": "Ana Saya\u00e7 ID \u0130\u00e7eren"
        },
        "containsOrganizationId": {
          "type": "integer",
          "format": "int64",
          "description": "Organizasyon ID \u0130\u00e7eren"
        },
        "containsSerial": {
          "type": "string",
          "description": "Saya\u00e7 Seri No \u0130\u00e7eren"
        },
        "containsWithdrawDeductionSettlementPointId": {
          "type": "integer",
          "format": "int64",
          "description": "\u00c7eki\u015f Tenzil UEV\u00c7B ID \u0130\u00e7eren"
        },
        "containsWithdrawSettlementPointId": {
          "type": "integer",
          "format": "int64",
          "description": "\u00c7eki\u015f UEV\u00c7B ID \u0130\u00e7eren"
        },
        "customerRecordExist": {
          "type": "boolean",
          "description": "Abone Kay\u0131t Varl\u0131\u011f\u0131"
        },
        "page": {
          "description": "Sorgulama Sayfas\u0131",
          "$ref": "#/definitions/Page"
        }
      }
    },
    "EcMeterRequestDto": {
      "type": "object",
      "required": [
        "address",
        "annualAverageConsumption",
        "annualEstimatedConsumptionT1",
        "annualEstimatedConsumptionT2",
        "annualEstimatedConsumptionT3",
        "busbarVoltageTypeId",
        "consumptionPointTypeId",
        "contractPower",
        "descriptions",
        "districtId",
        "effectiveDateStart",
        "exceptionalSubstationStatus",
        "facilityTypeId",
        "loadProfileFeature",
        "mainTariffGroupId",
        "meteringVoltageTypeId",
        "profileSubscriptionGroupId",
        "readingDataTypeId",
        "readingOrganizationId",
        "readingPeriod",
        "readingTypeId",
        "remoteReadingStatusId",
        "substationId",
        "tariffClassTypeId",
        "uniqueCode",
        "usageStatusTypeId",
        "withdrawPositionTypeId"
      ],
      "properties": {
        "effectiveDateStart": {
          "type": "string",
          "format": "date-time",
          "example": "2019-12-01T00:00:00+03:00",
          "description": "Ge\u00e7erlilik Tarihi Ba\u015flang\u0131\u00e7"
        },
        "descriptions": {
          "type": "array",
          "description": "A\u00e7\u0131klamalar",
          "items": {
            "$ref": "#/definitions/DescriptionDto"
          }
        },
        "address": {
          "type": "string",
          "description": "Adres"
        },
        "addressCode": {
          "type": "integer",
          "format": "int64",
          "description": "Adres Kodu"
        },
        "annualAverageConsumption": {
          "type": "number",
          "description": "Y\u0131ll\u0131k Ortalama T\u00fcketim"
        },
        "annualEstimatedConsumptionT1": {
          "type": "number",
          "description": "T1 Y\u0131ll\u0131k Tahmini T\u00fcketim"
        },
        "annualEstimatedConsumptionT2": {
          "type": "number",
          "description": "T2 Y\u0131ll\u0131k Tahmini T\u00fcketim"
        },
        "annualEstimatedConsumptionT3": {
          "type": "number",
          "description": "T3 Y\u0131ll\u0131k Tahmini T\u00fcketim"
        },
        "bilateralConsumerGroupId": {
          "type": "integer",
          "format": "int64",
          "description": "\u0130kili Anla\u015fma T\u00fcketici Grubu ID"
        },
        "busbarVoltageTypeId": {
          "type": "integer",
          "format": "int64",
          "description": "Bara Gerilim ID"
        },
        "consumptionPointTypeId": {
          "type": "integer",
          "format": "int64",
          "description": "T\u00fcketim Noktas\u0131 Tip ID"
        },
        "contractPower": {
          "type": "number",
          "description": "S\u00f6zle\u015fme G\u00fcc\u00fc"
        },
        "districtId": {
          "type": "integer",
          "format": "int64",
          "description": "\u0130l\u00e7e ID"
        },
        "exceptionalSubstationStatus": {
          "type": "boolean",
          "description": "\u00d6zel Trafo Durumu"
        },
        "facilityTypeId": {
          "type": "integer",
          "format": "int64",
          "description": "Tesis Tip ID"
        },
        "lastResortConsumerGroupId": {
          "type": "integer",
          "format": "int64",
          "description": "Son Kaynak T\u00fcketici Grubu ID"
        },
        "lineCircuitCountTypeId1": {
          "type": "integer",
          "format": "int64",
          "description": "1. Hat Devre Say\u0131s\u0131 ID"
        },
        "lineCircuitCountTypeId2": {
          "type": "integer",
          "format": "int64",
          "description": "2. Hat Devre Say\u0131s\u0131 ID"
        },
        "lineCircuitCountTypeId3": {
          "type": "integer",
          "format": "int64",
          "description": "3. Hat Devre Say\u0131s\u0131 ID"
        },
        "lineConductorTypeId1": {
          "type": "integer",
          "format": "int64",
          "description": "1. \u0130letken Tipi \u00d6zdiren\u00e7 ID"
        },
        "lineConductorTypeId2": {
          "type": "integer",
          "format": "int64",
          "description": "2. \u0130letken Tipi \u00d6zdiren\u00e7 ID"
        },
        "lineConductorTypeId3": {
          "type": "integer",
          "format": "int64",
          "description": "3. \u0130letken Tipi \u00d6zdiren\u00e7 ID"
        },
        "lineCrossSection1": {
          "type": "number",
          "description": "1. Hat Kesiti"
        },
        "lineCrossSection2": {
          "type": "number",
          "description": "2. Hat Kesiti"
        },
        "lineCrossSection3": {
          "type": "number",
          "description": "3. Hat Kesiti"
        },
        "lineLength1": {
          "type": "number",
          "description": "1. Hat Uzunluk"
        },
        "lineLength2": {
          "type": "number",
          "description": "2. Hat Uzunluk"
        },
        "lineLength3": {
          "type": "number",
          "description": "3. Hat Uzunluk"
        },
        "loadLoss": {
          "type": "number",
          "description": "Y\u00fckteki Kay\u0131p"
        },
        "loadProfileFeature": {
          "type": "boolean",
          "description": "Y\u00fck Profil Kayit \u00d6zelli\u011fi"
        },
        "lossFactorStatus": {
          "type": "boolean",
          "description": "\u0130SKK Durumu"
        },
        "mainMeterId": {
          "type": "integer",
          "format": "int64",
          "description": "Ana Saya\u00e7 ID"
        },
        "mainTariffGroupId": {
          "type": "integer",
          "format": "int64",
          "description": "Ana Tarife Grubu ID"
        },
        "meteringVoltageTypeId": {
          "type": "integer",
          "format": "int64",
          "description": "Ba\u011flant\u0131 Noktas\u0131 Gerilim Tip ID"
        },
        "noLoadLoss": {
          "type": "number",
          "description": "Bo\u015ftaki Kay\u0131p"
        },
        "profileSubscriptionGroupId": {
          "type": "integer",
          "format": "int64",
          "description": "Profil Abone Grubu ID"
        },
        "readingDataTypeId": {
          "type": "integer",
          "format": "int64",
          "description": "Uzla\u015ft\u0131rma Veri Tip ID"
        },
        "readingOrganizationId": {
          "type": "integer",
          "format": "int64",
          "description": "Sayac Okuyan Kurum ID"
        },
        "readingPeriod": {
          "type": "integer",
          "format": "int32",
          "description": "Okuma Periyodu"
        },
        "readingTypeId": {
          "type": "integer",
          "format": "int64",
          "description": "Saya\u00e7 Okuma Tip ID"
        },
        "remoteReadingStatusId": {
          "type": "integer",
          "format": "int64",
          "description": "Uzaktan Okuma Durum ID"
        },
        "substationId": {
          "type": "integer",
          "format": "int64",
          "description": "Trafo Merkezi ID"
        },
        "substationInputVoltage": {
          "type": "number",
          "description": "Trafo Giri\u015f Gerilimi"
        },
        "substationOutputVoltage": {
          "type": "number",
          "description": "Trafo \u00c7\u0131k\u0131\u015f Gerilimi"
        },
        "substationPower": {
          "type": "number",
          "description": "Trafo G\u00fcc\u00fc"
        },
        "tariffClassTypeId": {
          "type": "integer",
          "format": "int64",
          "description": "Tarife S\u0131n\u0131f ID"
        },
        "uniqueCode": {
          "type": "string",
          "description": "Tekil Kod"
        },
        "usageStatusTypeId": {
          "type": "integer",
          "format": "int64",
          "description": "Kullan\u0131m Durum ID"
        },
        "withdrawPositionTypeId": {
          "type": "integer",
          "format": "int64",
          "description": "\u00c7eki\u015f Pozisyon ID"
        }
      }
    },
    "EcMeterResponseDto": {
      "type": "object",
      "properties": {
        "effectiveDateStart": {
          "type": "string",
          "format": "date-time",
          "example": "2019-01-01T00:00:00+03:00"
        },
        "effectiveDateEnd": {
          "type": "string",
          "format": "date-time",
          "example": "2019-12-01T00:00:00+03:00"
        },
        "id": {
          "type": "integer",
          "format": "int64",
          "description": "ID"
        },
        "eic": {
          "type": "string",
          "description": "EIC"
        },
        "address": {
          "type": "string",
          "description": "Adres"
        },
        "addressCode": {
          "type": "integer",
          "format": "int64",
          "description": "Adres Kodu"
        },
        "annualAverageConsumption": {
          "type": "number",
          "description": "Y\u0131ll\u0131k Ortalama T\u00fcketim"
        },
        "annualEstimatedConsumptionT1": {
          "type": "number",
          "description": "T1 Y\u0131ll\u0131k Tahmini T\u00fcketim"
        },
        "annualEstimatedConsumptionT2": {
          "type": "number",
          "description": "T2 Y\u0131ll\u0131k Tahmini T\u00fcketim"
        },
        "annualEstimatedConsumptionT3": {
          "type": "number",
          "description": "T3 Y\u0131ll\u0131k Tahmini T\u00fcketim"
        },
        "bilateralConsumerGroup": {
          "description": "\u0130kili Anla\u015fma T\u00fcketici Grubu",
          "$ref": "#/definitions/LookupDTO"
        },
        "busbarVoltageType": {
          "description": "Bara Gerilim",
          "$ref": "#/definitions/VoltageTypeDto"
        },
        "configurationType": {
          "description": "Tedarik Konfigurasyon Tipi",
          "$ref": "#/definitions/LookupDTO"
        },
        "consumptionPointType": {
          "description": "T\u00fcketim Noktas\u0131 Tipi",
          "$ref": "#/definitions/LookupDTO"
        },
        "consumptionPointStatus": {
          "description": "T\u00fcketim Noktas\u0131 Durumu",
          "$ref": "#/definitions/LookupDTO"
        },
        "contractPower": {
          "type": "number",
          "description": "S\u00f6zle\u015fme G\u00fcc\u00fc"
        },
        "customer": {
          "description": "Abone",
          "$ref": "#/definitions/CustomerDto"
        },
        "customerHistory": {
          "type": "array",
          "description": "Abone Ge\u00e7mi\u015fi",
          "items": {
            "$ref": "#/definitions/CustomerDto"
          }
        },
        "district": {
          "description": "\u0130l\u00e7e",
          "$ref": "#/definitions/DistrictDto"
        },
        "districtId": {
          "type": "integer",
          "format": "int64",
          "description": "\u0130l\u00e7e ID"
        },
        "exceptionalSubstationStatus": {
          "type": "boolean",
          "description": "\u00d6zel Trafo Durumu"
        },
        "facilityType": {
          "description": "Tesis Tipi",
          "$ref": "#/definitions/LookupDTO"
        },
        "firstRecord": {
          "type": "boolean",
          "description": "\u0130lk Kay\u0131t"
        },
        "lastResortConsumerGroup": {
          "description": "Son Kaynak T\u00fcketici Grubu",
          "$ref": "#/definitions/LookupDTO"
        },
        "licenseOwnerOrganizationEic": {
          "type": "string",
          "description": "Lisans Sahibi Organizasyon EIC"
        },
        "licenseOwnerOrganizationId": {
          "type": "integer",
          "format": "int64",
          "description": "Lisans Sahibi Organizasyon ID"
        },
        "licenseOwnerOrganizationName": {
          "type": "string",
          "description": "Lisans Sahibi Organizasyon Ad"
        },
        "licenseOwnerOrganizationNameBreakdown": {
          "type": "array",
          "description": "Lisans Sahibi Organizasyon Ad K\u0131r\u0131l\u0131mlar\u0131",
          "items": {
            "$ref": "#/definitions/NameBreakdownResponseDto"
          }
        },
        "lineCircuitCountType1": {
          "description": "1. Hat Devre Say\u0131s\u0131",
          "$ref": "#/definitions/LookupDTO"
        },
        "lineCircuitCountType2": {
          "description": "2. Hat Devre Say\u0131s\u0131",
          "$ref": "#/definitions/LookupDTO"
        },
        "lineCircuitCountType3": {
          "description": "3. Hat Devre Say\u0131s\u0131",
          "$ref": "#/definitions/LookupDTO"
        },
        "lineConductorType1": {
          "description": "1. \u0130letken Tipi \u00d6zdiren\u00e7",
          "$ref": "#/definitions/ConductorTypeDto"
        },
        "lineConductorType2": {
          "description": "2. \u0130letken Tipi \u00d6zdiren\u00e7",
          "$ref": "#/definitions/ConductorTypeDto"
        },
        "lineConductorType3": {
          "description": "3. \u0130letken Tipi \u00d6zdiren\u00e7",
          "$ref": "#/definitions/ConductorTypeDto"
        },
        "lineCrossSection1": {
          "type": "number",
          "description": "1. Hat Kesiti"
        },
        "lineCrossSection2": {
          "type": "number",
          "description": "2. Hat Kesiti"
        },
        "lineCrossSection3": {
          "type": "number",
          "description": "3. Hat Kesiti"
        },
        "lineLength1": {
          "type": "number",
          "description": "1. Hat Uzunluk"
        },
        "lineLength2": {
          "type": "number",
          "description": "2. Hat Uzunluk"
        },
        "lineLength3": {
          "type": "number",
          "description": "3. Hat Uzunluk"
        },
        "loadLoss": {
          "type": "number",
          "description": "Y\u00fckteki Kay\u0131p"
        },
        "loadProfileFeature": {
          "type": "boolean",
          "description": "Y\u00fck Profil Kayit \u00d6zelli\u011fi"
        },
        "lossFactorStatus": {
          "type": "boolean",
          "description": "\u0130SKK Durumu"
        },
        "mainMeterId": {
          "type": "integer",
          "format": "int64",
          "description": "Ana Saya\u00e7 ID"
        },
        "mainMeter": {
          "description": "Ana Saya\u00e7",
          "$ref": "#/definitions/IdTextDto"
        },
        "mainSettlementPointEic": {
          "type": "string",
          "description": "Ana UEV\u00c7B EIC"
        },
        "mainSettlementPointId": {
          "type": "integer",
          "format": "int64",
          "description": "Ana UEV\u00c7B ID"
        },
        "mainSettlementPointName": {
          "type": "string",
          "description": "Ana UEV\u00c7B Ad"
        },
        "mainSettlementPointNameBreakdown": {
          "type": "array",
          "description": "Ana UEV\u00c7B Ad K\u0131r\u0131l\u0131mlar\u0131",
          "items": {
            "$ref": "#/definitions/NameBreakdownResponseDto"
          }
        },
        "mainSettlementPointOrganizationId": {
          "type": "integer",
          "format": "int64",
          "description": "Ana UEV\u00c7B Organizasyon ID"
        },
        "mainTariffGroup": {
          "description": "Ana Tarife Grubu",
          "$ref": "#/definitions/LookupDTO"
        },
        "measurementType": {
          "description": "\u00d6l\u00e7\u00fcm Tipi",
          "$ref": "#/definitions/LookupDTO"
        },
        "meteringVoltageType": {
          "description": "Ba\u011flant\u0131 Noktas\u0131 Gerilim Tipi",
          "$ref": "#/definitions/VoltageTypeDto"
        },
        "name": {
          "type": "string",
          "description": "Saya\u00e7 Tesis Ad"
        },
        "noLoadLoss": {
          "type": "number",
          "description": "Bo\u015ftaki Kay\u0131p"
        },
        "profileSubscriptionGroup": {
          "description": "Profil Abone Grubu",
          "$ref": "#/definitions/LookupDTO"
        },
        "readingDataType": {
          "description": "Saya\u00e7 Okuma Veri Tipi",
          "$ref": "#/definitions/LookupDTO"
        },
        "readingOrganizationEic": {
          "type": "string",
          "description": "Sayac Okuyan Kurum EIC"
        },
        "readingOrganizationId": {
          "type": "integer",
          "format": "int64",
          "description": "Sayac Okuyan Kurum ID"
        },
        "readingOrganizationName": {
          "type": "string",
          "description": "Sayac Okuyan Kurum Ad"
        },
        "readingOrganizationNameBreakdown": {
          "type": "array",
          "description": "Sayac Okuyan Kurum Ad K\u0131r\u0131l\u0131mlar\u0131",
          "items": {
            "$ref": "#/definitions/NameBreakdownResponseDto"
          }
        },
        "readingPeriod": {
          "type": "integer",
          "format": "int32",
          "description": "Okuma Periyodu"
        },
        "readingType": {
          "description": "Saya\u00e7 Okuma Tipi",
          "$ref": "#/definitions/LookupDTO"
        },
        "reconciliationParticipationStatus": {
          "description": "Uzla\u015ft\u0131rmaya Dahil Durumu",
          "$ref": "#/definitions/LookupDTO"
        },
        "reconciliationPeriod": {
          "description": "Uzla\u015ft\u0131rma D\u00f6nemi",
          "$ref": "#/definitions/MeterReconPeriodDto"
        },
        "recordUsageStatus": {
          "description": "Kay\u0131t Kullan\u0131m Durumu",
          "$ref": "#/definitions/LookupDTO"
        },
        "remoteReadingStatus": {
          "description": "Uzaktan Okuma Durumu",
          "$ref": "#/definitions/LookupDTO"
        },
        "status": {
          "description": "Durum",
          "$ref": "#/definitions/LookupDTO"
        },
        "substation": {
          "description": "Trafo Merkezi",
          "$ref": "#/definitions/SubstationDto"
        },
        "substationId": {
          "type": "integer",
          "format": "int64",
          "description": "Trafo Merkezi ID"
        },
        "substationInputVoltage": {
          "type": "number",
          "description": "Trafo Giri\u015f Gerilimi"
        },
        "substationOutputVoltage": {
          "type": "number",
          "description": "Trafo \u00c7\u0131k\u0131\u015f Gerilimi"
        },
        "substationPower": {
          "type": "number",
          "description": "Trafo G\u00fcc\u00fc"
        },
        "supplierType": {
          "description": "Tedarik Tipi",
          "$ref": "#/definitions/LookupDTO"
        },
        "supplyDeductionSettlementPointOrganizationId": {
          "type": "integer",
          "format": "int64",
          "description": "Veri\u015f Tenzil UEV\u00c7B Organizasyon ID"
        },
        "supplySettlementPointOrganizationId": {
          "type": "integer",
          "format": "int64",
          "description": "Veri\u015f UEV\u00c7B Organizasyon ID"
        },
        "tariffClassType": {
          "description": "Tarife S\u0131n\u0131f\u0131",
          "$ref": "#/definitions/LookupDTO"
        },
        "uniqueCode": {
          "type": "string",
          "description": "Tekil Kod"
        },
        "usageStatusType": {
          "description": "Kullan\u0131m Durumu",
          "$ref": "#/definitions/LookupDTO"
        },
        "usageType": {
          "description": "Kullan\u0131m Tipi",
          "$ref": "#/definitions/LookupDTO"
        },
        "versionNumber": {
          "type": "integer",
          "format": "int32",
          "description": "Versiyon Numaras\u0131"
        },
        "withdrawDeductionSettlementPointEic": {
          "type": "string",
          "description": "\u00c7eki\u015f Tenzil UEV\u00c7B EIC"
        },
        "withdrawDeductionSettlementPointId": {
          "type": "integer",
          "format": "int64",
          "description": "\u00c7eki\u015f Tenzil UEV\u00c7B ID"
        },
        "withdrawDeductionSettlementPointName": {
          "type": "string",
          "description": "\u00c7eki\u015f Tenzil UEV\u00c7B Ad"
        },
        "withdrawDeductionSettlementPointNameBreakdown": {
          "type": "array",
          "description": "\u00c7eki\u015f Tenzil UEV\u00c7B Ad K\u0131r\u0131l\u0131mlar\u0131",
          "items": {
            "$ref": "#/definitions/NameBreakdownResponseDto"
          }
        },
        "withdrawDeductionSettlementPointOrganizationId": {
          "type": "integer",
          "format": "int64",
          "description": "\u00c7eki\u015f Tenzil UEV\u00c7B Organizasyon ID"
        },
        "withdrawPositionType": {
          "description": "\u00c7eki\u015f Pozisyon",
          "$ref": "#/definitions/WithdrawPositionTypeDto"
        },
        "withdrawSettlementPointOrganizationId": {
          "type": "integer",
          "format": "int64",
          "description": "\u00c7eki\u015f UEV\u00c7B Organizasyon ID"
        }
      }
    },
    "EcMeterStatusUpdateRequestDto": {
      "type": "object",
      "required": [
        "descriptions"
      ],
      "properties": {
        "descriptions": {
          "type": "array",
          "description": "A\u00e7\u0131klamalar",
          "items": {
            "$ref": "#/definitions/DescriptionDto"
          }
        },
        "effectiveDate": {
          "type": "string",
          "format": "date-time",
          "example": "2023-01-01T00:00:00+03:00",
          "description": "Ge\u00e7erlilik Tarihi"
        },
        "effectiveId": {
          "type": "integer",
          "format": "int64",
          "description": "ID"
        },
        "statusId": {
          "type": "integer",
          "format": "int64",
          "description": "Durum ID"
        }
      }
    },
    "EcMeterUpdateRequestDto": {
      "type": "object",
      "required": [
        "effectiveDateStart",
        "effectiveId"
      ],
      "properties": {
        "effectiveDateStart": {
          "type": "string",
          "format": "date-time",
          "example": "2019-12-01T00:00:00+03:00",
          "description": "Ge\u00e7erlilik Tarihi Ba\u015flang\u0131\u00e7"
        },
        "effectiveDateEnd": {
          "type": "string",
          "format": "date-time",
          "example": "2019-12-01T00:00:00+03:00",
          "description": "Ge\u00e7erlilik Tarihi Biti\u015f"
        },
        "descriptions": {
          "type": "array",
          "description": "A\u00e7\u0131klamalar",
          "items": {
            "$ref": "#/definitions/DescriptionDto"
          }
        },
        "address": {
          "type": "string",
          "description": "Adres"
        },
        "addressCode": {
          "type": "integer",
          "format": "int64",
          "description": "Adres Kodu"
        },
        "annualAverageConsumption": {
          "type": "number",
          "description": "Y\u0131ll\u0131k Ortalama T\u00fcketim"
        },
        "annualEstimatedConsumptionT1": {
          "type": "number",
          "description": "T1 Y\u0131ll\u0131k Tahmini T\u00fcketim"
        },
        "annualEstimatedConsumptionT2": {
          "type": "number",
          "description": "T2 Y\u0131ll\u0131k Tahmini T\u00fcketim"
        },
        "annualEstimatedConsumptionT3": {
          "type": "number",
          "description": "T3 Y\u0131ll\u0131k Tahmini T\u00fcketim"
        },
        "bilateralConsumerGroupId": {
          "type": "integer",
          "format": "int64",
          "description": "\u0130kili Anla\u015fma T\u00fcketici Grubu ID"
        },
        "busbarVoltageTypeId": {
          "type": "integer",
          "format": "int64",
          "description": "Bara Gerilim ID"
        },
        "consumptionPointTypeId": {
          "type": "integer",
          "format": "int64",
          "description": "T\u00fcketim Noktas\u0131 Tip ID"
        },
        "contractPower": {
          "type": "number",
          "description": "S\u00f6zle\u015fme G\u00fcc\u00fc"
        },
        "deletedFields": {
          "type": "array",
          "description": "Silinen Alanlar",
          "items": {
            "type": "string"
          }
        },
        "districtId": {
          "type": "integer",
          "format": "int64",
          "description": "\u0130l\u00e7e ID"
        },
        "effectiveId": {
          "type": "integer",
          "format": "int64",
          "description": "ID"
        },
        "facilityTypeId": {
          "type": "integer",
          "format": "int64",
          "description": "Tesis Tip ID"
        },
        "lastResortConsumerGroupId": {
          "type": "integer",
          "format": "int64",
          "description": "Son Kaynak T\u00fcketici Grubu ID"
        },
        "lineCircuitCountTypeId1": {
          "type": "integer",
          "format": "int64",
          "description": "1. Hat Devre Say\u0131s\u0131 ID"
        },
        "lineCircuitCountTypeId2": {
          "type": "integer",
          "format": "int64",
          "description": "2. Hat Devre Say\u0131s\u0131 ID"
        },
        "lineCircuitCountTypeId3": {
          "type": "integer",
          "format": "int64",
          "description": "3. Hat Devre Say\u0131s\u0131 ID"
        },
        "lineConductorTypeId1": {
          "type": "integer",
          "format": "int64",
          "description": "1. \u0130letken Tipi \u00d6zdiren\u00e7 ID"
        },
        "lineConductorTypeId2": {
          "type": "integer",
          "format": "int64",
          "description": "2. \u0130letken Tipi \u00d6zdiren\u00e7 ID"
        },
        "lineConductorTypeId3": {
          "type": "integer",
          "format": "int64",
          "description": "3. \u0130letken Tipi \u00d6zdiren\u00e7 ID"
        },
        "lineCrossSection1": {
          "type": "number",
          "description": "1. Hat Kesiti"
        },
        "lineCrossSection2": {
          "type": "number",
          "description": "2. Hat Kesiti"
        },
        "lineCrossSection3": {
          "type": "number",
          "description": "3. Hat Kesiti"
        },
        "lineLength1": {
          "type": "number",
          "description": "1. Hat Uzunluk"
        },
        "lineLength2": {
          "type": "number",
          "description": "2. Hat Uzunluk"
        },
        "lineLength3": {
          "type": "number",
          "description": "3. Hat Uzunluk"
        },
        "loadLoss": {
          "type": "number",
          "description": "Y\u00fckteki Kay\u0131p"
        },
        "loadProfileFeature": {
          "type": "boolean",
          "description": "Y\u00fck Profil Kayit \u00d6zelli\u011fi"
        },
        "mainMeterId": {
          "type": "integer",
          "format": "int64",
          "description": "Ana Saya\u00e7 ID"
        },
        "mainTariffGroupId": {
          "type": "integer",
          "format": "int64",
          "description": "Ana Tarife Grubu ID"
        },
        "meteringVoltageTypeId": {
          "type": "integer",
          "format": "int64",
          "description": "Ba\u011flant\u0131 Noktas\u0131 Gerilim Tip ID"
        },
        "noLoadLoss": {
          "type": "number",
          "description": "Bo\u015ftaki Kay\u0131p"
        },
        "profileSubscriptionGroupId": {
          "type": "integer",
          "format": "int64",
          "description": "Profil Abone Grubu ID"
        },
        "readingDataResetConfirmation": {
          "type": "boolean",
          "description": "Okuma Verisi Silme Onay\u0131"
        },
        "readingDataTypeId": {
          "type": "integer",
          "format": "int64",
          "description": "Uzla\u015ft\u0131rma Veri Tip ID"
        },
        "readingOrganizationId": {
          "type": "integer",
          "format": "int64",
          "description": "Sayac Okuyan Kurum ID"
        },
        "readingPeriod": {
          "type": "integer",
          "format": "int32",
          "description": "Okuma Periyodu"
        },
        "readingTypeId": {
          "type": "integer",
          "format": "int64",
          "description": "Saya\u00e7 Okuma Tip ID"
        },
        "remoteReadingStatusId": {
          "type": "integer",
          "format": "int64",
          "description": "Uzaktan Okuma Durum ID"
        },
        "substationId": {
          "type": "integer",
          "format": "int64",
          "description": "Trafo Merkezi ID"
        },
        "substationInputVoltage": {
          "type": "number",
          "description": "Trafo Giri\u015f Gerilimi"
        },
        "substationOutputVoltage": {
          "type": "number",
          "description": "Trafo \u00c7\u0131k\u0131\u015f Gerilimi"
        },
        "substationPower": {
          "type": "number",
          "description": "Trafo G\u00fcc\u00fc"
        },
        "tariffClassTypeId": {
          "type": "integer",
          "format": "int64",
          "description": "Tarife S\u0131n\u0131f ID"
        },
        "uniqueCode": {
          "type": "string",
          "description": "Tekil Kod"
        },
        "usageStatusTypeId": {
          "type": "integer",
          "format": "int64",
          "description": "Kullan\u0131m Durum ID"
        },
        "withdrawPositionTypeId": {
          "type": "integer",
          "format": "int64",
          "description": "\u00c7eki\u015f Pozisyon ID"
        }
      }
    },
    "ExceptionalMeterPortfolioQueryRequestDto": {
      "type": "object",
      "properties": {
        "page": {
          "$ref": "#/definitions/Page"
        },
        "periodDate": {
          "type": "string",
          "format": "date-time",
          "example": "2023-01-01T00:00:00+03:00",
          "description": "D\u00f6nem Tarihi"
        },
        "meterEic": {
          "type": "string",
          "description": "EIC"
        },
        "meterId": {
          "type": "integer",
          "format": "int64",
          "description": "ID"
        }
      }
    },
    "ExportOffsetIdsResponseDto": {
      "type": "object",
      "properties": {
        "offsetIds": {
          "type": "array",
          "description": "D\u0131\u015fa Aktar Servis Offset ID Listesi",
          "items": {
            "type": "integer",
            "format": "int64"
          }
        }
      }
    },
    "ExportPageResponse": {
      "type": "object",
      "properties": {
        "items": {
          "type": "array",
          "items": {
            "type": "object"
          }
        },
        "page": {
          "$ref": "#/definitions/Page"
        }
      }
    },
    "ExportPageResponseEcMeterResponseDto": {
      "type": "object",
      "properties": {
        "items": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/EcMeterResponseDto"
          }
        },
        "page": {
          "$ref": "#/definitions/Page"
        }
      }
    },
    "ExportPageResponseMeterResponseDto": {
      "type": "object",
      "properties": {
        "items": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/MeterResponseDto"
          }
        },
        "page": {
          "$ref": "#/definitions/Page"
        }
      }
    },
    "ExportPageResponsePlainEcMeterResponseDto": {
      "type": "object",
      "properties": {
        "items": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/PlainEcMeterResponseDto"
          }
        },
        "page": {
          "$ref": "#/definitions/Page"
        }
      }
    },
    "ExportPageResponsePlainMeterResponseDto": {
      "type": "object",
      "properties": {
        "items": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/PlainMeterResponseDto"
          }
        },
        "page": {
          "$ref": "#/definitions/Page"
        }
      }
    },
    "ExportPageResponsePlainUlegMeterResponseDto": {
      "type": "object",
      "properties": {
        "items": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/PlainUlegMeterResponseDto"
          }
        },
        "page": {
          "$ref": "#/definitions/Page"
        }
      }
    },
    "ExportPageResponseUlegMeterResponseDto": {
      "type": "object",
      "properties": {
        "items": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/UlegMeterResponseDto"
          }
        },
        "page": {
          "$ref": "#/definitions/Page"
        }
      }
    },
    "IdTextDto": {
      "type": "object",
      "properties": {
        "id": {
          "type": "integer",
          "format": "int64",
          "description": "ID"
        },
        "text": {
          "type": "string",
          "description": "EIC"
        }
      }
    },
    "LocalizationDTO": {
      "type": "object",
      "properties": {
        "language": {
          "type": "string",
          "description": "\u00c7oklu Se\u00e7im Dili"
        },
        "text": {
          "type": "string",
          "description": "\u00c7oklu Se\u00e7im A\u00e7\u0131klama (Dile G\u00f6re)"
        }
      }
    },
    "LookupDTO": {
      "type": "object",
      "properties": {
        "id": {
          "type": "integer",
          "format": "int64",
          "description": "\u00c7oklu Se\u00e7im ID"
        },
        "value": {
          "type": "string",
          "description": "\u00c7oklu Se\u00e7im De\u011fer"
        },
        "localizations": {
          "type": "array",
          "description": "\u00c7oklu Se\u00e7im Yerelle\u015ftirme Listesi",
          "items": {
            "$ref": "#/definitions/LocalizationDTO"
          }
        }
      }
    },
    "LookupRequest": {
      "type": "object",
      "required": [
        "lookupType"
      ],
      "properties": {
        "lookupType": {
          "type": "string",
          "description": "\u00c7oklu Se\u00e7im Anahtar\u0131"
        }
      }
    },
    "LookupResponse": {
      "type": "object",
      "properties": {
        "values": {
          "type": "array",
          "description": "\u00c7oklu Se\u00e7im De\u011fer Listesi",
          "items": {
            "$ref": "#/definitions/LookupDTO"
          }
        }
      }
    },
    "LookupTypeDTO": {
      "type": "object",
      "properties": {
        "lookupType": {
          "type": "string",
          "description": "\u00c7oklu Se\u00e7im Anahtar\u0131"
        },
        "lookupDescription": {
          "type": "string",
          "description": "\u00c7oklu Se\u00e7im Anahtar A\u00e7\u0131klama"
        }
      }
    },
    "LookupTypeResponse": {
      "type": "object",
      "properties": {
        "types": {
          "type": "array",
          "description": "\u00c7oklu Se\u00e7im Anahtar Listesi",
          "items": {
            "$ref": "#/definitions/LookupTypeDTO"
          }
        }
      }
    },
    "MainMeterQueryRequestDto": {
      "type": "object",
      "properties": {
        "balancingRegionId": {
          "type": "integer",
          "format": "int64",
          "description": "Dengeleme B\u00f6lgesi ID"
        },
        "biddingRegionId": {
          "type": "integer",
          "format": "int64",
          "description": "Teklif B\u00f6lgesi ID"
        },
        "bpmStatus": {
          "type": "boolean",
          "description": "Dengeleme G\u00fc\u00e7 Piyasas\u0131 Kat\u0131l\u0131m Durumu"
        },
        "effectiveDate": {
          "type": "string",
          "format": "date-time",
          "example": "2023-01-01T00:00:00+03:00",
          "description": "Ge\u00e7erlilik Tarihi"
        },
        "dspOrganizationId": {
          "type": "integer",
          "format": "int64",
          "description": "Talep Taraf\u0131 Kat\u0131l\u0131m Organizasyon ID"
        },
        "periodDateStart": {
          "type": "string",
          "format": "date-time",
          "example": "2023-01-01T00:00:00+03:00",
          "description": "D\u00f6nem Ba\u015flang\u0131\u00e7 Tarihi"
        },
        "periodDateEnd": {
          "type": "string",
          "format": "date-time",
          "example": "2023-01-01T00:00:00+03:00",
          "description": "D\u00f6nem Biti\u015f Tarihi"
        },
        "id": {
          "type": "integer",
          "format": "int64",
          "description": "ID"
        },
        "eic": {
          "type": "string",
          "description": "EIC"
        },
        "mainMeterId": {
          "type": "integer",
          "format": "int64",
          "description": "Ana Saya\u00e7 ID"
        },
        "oizOrganizationId": {
          "type": "integer",
          "format": "int64",
          "description": "OSB Ana Organizasyon ID"
        },
        "readingTypeId": {
          "type": "integer",
          "format": "int64",
          "description": "Saya\u00e7 Okuma Tip ID"
        },
        "recordUsageStatusId": {
          "type": "integer",
          "format": "int64",
          "description": "Kay\u0131t Kullan\u0131m Durum ID"
        },
        "settlementPointIds": {
          "type": "array",
          "description": "UEV\u00c7B ID leri",
          "items": {
            "type": "integer",
            "format": "int64"
          }
        },
        "statusId": {
          "type": "integer",
          "format": "int64",
          "description": "Durum ID"
        },
        "substationId": {
          "type": "integer",
          "format": "int64",
          "description": "Trafo Merkezi ID"
        },
        "withdrawSettlementPointId": {
          "type": "integer",
          "format": "int64",
          "description": "\u00c7eki\u015f UEV\u00c7B ID"
        },
        "containsId": {
          "type": "integer",
          "format": "int64",
          "description": "ID \u0130\u00e7eren"
        },
        "containsEic": {
          "type": "string",
          "description": "EIC \u0130\u00e7eren"
        },
        "containsMainMeterId": {
          "type": "integer",
          "format": "int64",
          "description": "Ana Saya\u00e7 ID \u0130\u00e7eren"
        },
        "containsOrganizationId": {
          "type": "integer",
          "format": "int64",
          "description": "Organizasyon ID \u0130\u00e7eren"
        },
        "containsSerial": {
          "type": "string",
          "description": "Saya\u00e7 Seri No \u0130\u00e7eren"
        },
        "page": {
          "description": "Sorgulama Sayfas\u0131",
          "$ref": "#/definitions/Page"
        }
      }
    },
    "MainMeterResponseDto": {
      "type": "object",
      "properties": {
        "effectiveDateStart": {
          "type": "string",
          "format": "date-time",
          "example": "2019-01-01T00:00:00+03:00"
        },
        "effectiveDateEnd": {
          "type": "string",
          "format": "date-time",
          "example": "2019-12-01T00:00:00+03:00"
        },
        "id": {
          "type": "integer",
          "format": "int64",
          "description": "ID"
        },
        "eic": {
          "type": "string",
          "description": "EIC"
        },
        "licenseOwnerOrganizationEic": {
          "type": "string",
          "description": "Lisans Sahibi Organizasyon EIC"
        },
        "licenseOwnerOrganizationId": {
          "type": "integer",
          "format": "int64",
          "description": "Lisans Sahibi Organizasyon ID"
        },
        "licenseOwnerOrganizationName": {
          "type": "string",
          "description": "Lisans Sahibi Organizasyon Ad"
        },
        "licenseOwnerOrganizationNameBreakdown": {
          "type": "array",
          "description": "Lisans Sahibi Organizasyon Ad K\u0131r\u0131l\u0131mlar\u0131",
          "items": {
            "$ref": "#/definitions/NameBreakdownResponseDto"
          }
        },
        "mainSettlementPointEic": {
          "type": "string",
          "description": "Ana UEV\u00c7B EIC"
        },
        "mainSettlementPointId": {
          "type": "integer",
          "format": "int64",
          "description": "Ana UEV\u00c7B ID"
        },
        "mainSettlementPointName": {
          "type": "string",
          "description": "Ana UEV\u00c7B Ad"
        },
        "mainSettlementPointNameBreakdown": {
          "type": "array",
          "description": "Ana UEV\u00c7B Ad K\u0131r\u0131l\u0131mlar\u0131",
          "items": {
            "$ref": "#/definitions/NameBreakdownResponseDto"
          }
        },
        "mainSettlementPointOrganizationId": {
          "type": "integer",
          "format": "int64",
          "description": "Ana UEV\u00c7B Organizasyon ID"
        },
        "name": {
          "type": "string",
          "description": "Saya\u00e7 Tesis Ad"
        },
        "oizOrganizationEic": {
          "type": "string",
          "description": "OSB Ana Organizasyon EIC"
        },
        "oizOrganizationId": {
          "type": "integer",
          "format": "int64",
          "description": "OSB Ana Organizasyon ID"
        },
        "oizOrganizationName": {
          "type": "string",
          "description": "OSB Ana Organizasyon Ad"
        },
        "oizOrganizationNameBreakdown": {
          "type": "array",
          "description": "OSB Ana Organizasyon Ad K\u0131r\u0131l\u0131mlar\u0131",
          "items": {
            "$ref": "#/definitions/NameBreakdownResponseDto"
          }
        },
        "readingOrganizationEic": {
          "type": "string",
          "description": "Sayac Okuyan Kurum EIC"
        },
        "readingOrganizationId": {
          "type": "integer",
          "format": "int64",
          "description": "Sayac Okuyan Kurum ID"
        },
        "readingOrganizationName": {
          "type": "string",
          "description": "Sayac Okuyan Kurum Ad"
        },
        "readingOrganizationNameBreakdown": {
          "type": "array",
          "description": "Sayac Okuyan Kurum Ad K\u0131r\u0131l\u0131mlar\u0131",
          "items": {
            "$ref": "#/definitions/NameBreakdownResponseDto"
          }
        },
        "recordUsageStatus": {
          "description": "Kay\u0131t Kullan\u0131m Durumu",
          "$ref": "#/definitions/LookupDTO"
        },
        "status": {
          "description": "Durum",
          "$ref": "#/definitions/LookupDTO"
        },
        "substation": {
          "description": "Trafo Merkezi",
          "$ref": "#/definitions/SubstationDto"
        },
        "substationId": {
          "type": "integer",
          "format": "int64",
          "description": "Trafo Merkezi ID"
        },
        "supplyDeductionSettlementPointEic": {
          "type": "string",
          "description": "Veri\u015f Tenzil UEV\u00c7B EIC"
        },
        "supplyDeductionSettlementPointId": {
          "type": "integer",
          "format": "int64",
          "description": "Veri\u015f Tenzil UEV\u00c7B ID"
        },
        "supplyDeductionSettlementPointName": {
          "type": "string",
          "description": "Veri\u015f Tenzil UEV\u00c7B Ad"
        },
        "supplyDeductionSettlementPointNameBreakdown": {
          "type": "array",
          "description": "Veri\u015f Tenzil UEV\u00c7B Ad K\u0131r\u0131l\u0131mlar\u0131",
          "items": {
            "$ref": "#/definitions/NameBreakdownResponseDto"
          }
        },
        "supplyDeductionSettlementPointOrganizationId": {
          "type": "integer",
          "format": "int64",
          "description": "Veri\u015f Tenzil UEV\u00c7B Organizasyon ID"
        },
        "supplySettlementPointEic": {
          "type": "string",
          "description": "Veri\u015f UEV\u00c7B EIC"
        },
        "supplySettlementPointId": {
          "type": "integer",
          "format": "int64",
          "description": "Veri\u015f UEV\u00c7B ID"
        },
        "supplySettlementPointName": {
          "type": "string",
          "description": "Veri\u015f UEV\u00c7B Ad"
        },
        "supplySettlementPointNameBreakdown": {
          "type": "array",
          "description": "Veri\u015f UEV\u00c7B Ad K\u0131r\u0131l\u0131mlar\u0131",
          "items": {
            "$ref": "#/definitions/NameBreakdownResponseDto"
          }
        },
        "supplySettlementPointOrganizationId": {
          "type": "integer",
          "format": "int64",
          "description": "Veri\u015f UEV\u00c7B Organizasyon ID"
        },
        "uniqueCode": {
          "type": "string",
          "description": "Tekil Kod"
        },
        "usageType": {
          "description": "Kullan\u0131m Tipi",
          "$ref": "#/definitions/LookupDTO"
        },
        "withdrawDeductionSettlementPointEic": {
          "type": "string",
          "description": "\u00c7eki\u015f Tenzil UEV\u00c7B EIC"
        },
        "withdrawDeductionSettlementPointId": {
          "type": "integer",
          "format": "int64",
          "description": "\u00c7eki\u015f Tenzil UEV\u00c7B ID"
        },
        "withdrawDeductionSettlementPointName": {
          "type": "string",
          "description": "\u00c7eki\u015f Tenzil UEV\u00c7B Ad"
        },
        "withdrawDeductionSettlementPointNameBreakdown": {
          "type": "array",
          "description": "\u00c7eki\u015f Tenzil UEV\u00c7B Ad K\u0131r\u0131l\u0131mlar\u0131",
          "items": {
            "$ref": "#/definitions/NameBreakdownResponseDto"
          }
        },
        "withdrawDeductionSettlementPointOrganizationId": {
          "type": "integer",
          "format": "int64",
          "description": "\u00c7eki\u015f Tenzil UEV\u00c7B Organizasyon ID"
        },
        "withdrawSettlementPointEic": {
          "type": "string",
          "description": "\u00c7eki\u015f UEV\u00c7B EIC"
        },
        "withdrawSettlementPointId": {
          "type": "integer",
          "format": "int64",
          "description": "\u00c7eki\u015f UEV\u00c7B ID"
        },
        "withdrawSettlementPointName": {
          "type": "string",
          "description": "\u00c7eki\u015f UEV\u00c7B Ad"
        },
        "withdrawSettlementPointNameBreakdown": {
          "type": "array",
          "description": "\u00c7eki\u015f UEV\u00c7B Ad K\u0131r\u0131l\u0131mlar\u0131",
          "items": {
            "$ref": "#/definitions/NameBreakdownResponseDto"
          }
        },
        "withdrawSettlementPointOrganizationId": {
          "type": "integer",
          "format": "int64",
          "description": "\u00c7eki\u015f UEV\u00c7B Organizasyon ID"
        }
      }
    },
    "MeterExportRequestDto": {
      "type": "object",
      "properties": {
        "balancingRegionId": {
          "type": "integer",
          "format": "int64",
          "description": "Dengeleme B\u00f6lgesi ID"
        },
        "biddingRegionId": {
          "type": "integer",
          "format": "int64",
          "description": "Teklif B\u00f6lgesi ID"
        },
        "bpmStatus": {
          "type": "boolean",
          "description": "Dengeleme G\u00fc\u00e7 Piyasas\u0131 Kat\u0131l\u0131m Durumu"
        },
        "effectiveDate": {
          "type": "string",
          "format": "date-time",
          "example": "2023-01-01T00:00:00+03:00",
          "description": "Ge\u00e7erlilik Tarihi"
        },
        "effectiveDateStartGreaterThanOrEqual": {
          "type": "string",
          "format": "date-time",
          "example": "2023-01-01T00:00:00+03:00",
          "description": "Ge\u00e7erlilik Ba\u015flang\u0131\u00e7 Tarihine E\u015fit veya \u0130leri"
        },
        "effectiveDateStartLessThanOrEqual": {
          "type": "string",
          "format": "date-time",
          "example": "2023-01-01T00:00:00+03:00",
          "description": "Ge\u00e7erlilik Ba\u015flang\u0131\u00e7 Tarihine E\u015fit veya Geri"
        },
        "dspOrganizationId": {
          "type": "integer",
          "format": "int64",
          "description": "Talep Taraf\u0131 Kat\u0131l\u0131m Organizasyon ID"
        },
        "periodDateStart": {
          "type": "string",
          "format": "date-time",
          "example": "2023-01-01T00:00:00+03:00",
          "description": "D\u00f6nem Ba\u015flang\u0131\u00e7 Tarihi"
        },
        "periodDateEnd": {
          "type": "string",
          "format": "date-time",
          "example": "2023-01-01T00:00:00+03:00",
          "description": "D\u00f6nem Biti\u015f Tarihi"
        },
        "reconciliationPeriodDate": {
          "type": "string",
          "format": "date-time",
          "example": "2023-01-01T00:00:00+03:00",
          "description": "Uzla\u015ft\u0131rma D\u00f6nem Tarihi"
        },
        "id": {
          "type": "integer",
          "format": "int64",
          "description": "ID"
        },
        "eic": {
          "type": "string",
          "description": "EIC"
        },
        "gridTypeId": {
          "type": "integer",
          "format": "int64",
          "description": "\u015eebeke Tip ID"
        },
        "licenseOwnerOrganizationId": {
          "type": "integer",
          "format": "int64",
          "description": "Lisans Sahibi Organizasyon ID"
        },
        "lossFactorStatus": {
          "type": "boolean",
          "description": "\u0130SKK Durumu"
        },
        "mainMeterId": {
          "type": "integer",
          "format": "int64",
          "description": "Ana Saya\u00e7 ID"
        },
        "marketParticipationTypeId": {
          "type": "integer",
          "format": "int64",
          "description": "Piyasa Kat\u0131l\u0131m Tip ID"
        },
        "name": {
          "type": "string",
          "description": "Saya\u00e7 Tesis Ad"
        },
        "oizOrganizationId": {
          "type": "integer",
          "format": "int64",
          "description": "OSB Ana Organizasyon ID"
        },
        "organizationId": {
          "type": "integer",
          "format": "int64",
          "description": "Organizasyon ID"
        },
        "portfolioTypeId": {
          "type": "integer",
          "format": "int64",
          "description": "Portf\u00f6y Tip ID"
        },
        "readingOrganizationId": {
          "type": "integer",
          "format": "int64"
        },
        "readingTypeId": {
          "type": "integer",
          "format": "int64",
          "description": "Saya\u00e7 Okuma Tip ID"
        },
        "reconciliationVersionTypeId": {
          "type": "integer",
          "format": "int64",
          "description": "Uzla\u015ft\u0131rma Versiyon Tip ID"
        },
        "recordUsageStatusId": {
          "type": "integer",
          "format": "int64",
          "description": "Kay\u0131t Kullan\u0131m Durum ID"
        },
        "serial": {
          "type": "string",
          "description": "Saya\u00e7 Seri No"
        },
        "settlementPointIds": {
          "type": "array",
          "description": "UEV\u00c7B ID leri",
          "items": {
            "type": "integer",
            "format": "int64"
          }
        },
        "statusId": {
          "type": "integer",
          "format": "int64",
          "description": "Durum ID"
        },
        "substationId": {
          "type": "integer",
          "format": "int64",
          "description": "Trafo Merkezi ID"
[...]
