{
  "openapi": "3.0.3",
  "info": {
    "title": "JobMatch-API",
    "description": "API for the JobMatch platform connecting students with companies for temporary jobs.",
    "version": "1.0.0",
    "x-jentic-source-url": "https://api.swaggerhub.com/apis/una-cf7/jobmatch-api/1.0.0"
  },
  "servers": [
    {
      "url": "https://api.jobmatch.com"
    }
  ],
  "tags": [
    {
      "name": "Authentication"
    },
    {
      "name": "Users"
    },
    {
      "name": "Students"
    },
    {
      "name": "Companies"
    },
    {
      "name": "Skills"
    },
    {
      "name": "Jobs"
    },
    {
      "name": "Applications"
    },
    {
      "name": "Contracts"
    },
    {
      "name": "Payments"
    },
    {
      "name": "Ratings"
    }
  ],
  "paths": {
    "/auth/register": {
      "post": {
        "tags": [
          "Authentication"
        ],
        "summary": "Register new student",
        "description": "Creates a new student account. Role is automatically assigned by the backend.",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/RegisterStudentRequest"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Student registered successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AuthResponse"
                }
              }
            }
          },
          "400": {
            "description": "Invalid input data or email already registered"
          }
        }
      }
    },
    "/auth/register/company": {
      "post": {
        "tags": [
          "Authentication"
        ],
        "summary": "Register new company",
        "description": "Creates a new company account. A verification email is sent (simulated). Role is automatically assigned by the backend.",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/RegisterCompanyRequest"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Company registered successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AuthResponse"
                }
              }
            }
          },
          "400": {
            "description": "Invalid input data"
          },
          "409": {
            "description": "Tax ID already registered"
          }
        }
      }
    },
    "/auth/login": {
      "post": {
        "tags": [
          "Authentication"
        ],
        "summary": "Login user",
        "description": "Authenticates a user and returns user ID and role. Session persists while the app is open.",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/LoginRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Login successful",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/LoginResponse"
                }
              }
            }
          },
          "401": {
            "description": "Invalid credentials"
          }
        }
      }
    },
    "/users/{userId}": {
      "get": {
        "tags": [
          "Users"
        ],
        "summary": "Get user profile",
        "parameters": [
          {
            "name": "userId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "User found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/UserProfileResponse"
                }
              }
            }
          },
          "404": {
            "description": "User not found"
          }
        }
      },
      "put": {
        "tags": [
          "Users"
        ],
        "summary": "Update user profile",
        "description": "Editable fields vary by role. Supports avatar upload.",
        "parameters": [
          {
            "name": "userId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UpdateProfileRequest"
              }
            },
            "multipart/form-data": {
              "schema": {
                "$ref": "#/components/schemas/UpdateProfileWithImage"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Profile updated"
          },
          "404": {
            "description": "User not found"
          }
        }
      },
      "delete": {
        "tags": [
          "Users"
        ],
        "summary": "Delete account (soft delete)",
        "description": "Requires password confirmation. Account is marked as inactive.",
        "parameters": [
          {
            "name": "userId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/DeleteAccountRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Account deleted"
          },
          "401": {
            "description": "Incorrect password"
          }
        }
      }
    },
    "/students/{studentId}": {
      "get": {
        "tags": [
          "Students"
        ],
        "summary": "Get student by ID",
        "parameters": [
          {
            "name": "studentId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Student found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/StudentProfileResponse"
                }
              }
            }
          },
          "404": {
            "description": "Student not found"
          }
        }
      }
    },
    "/students/{studentId}/availability": {
      "get": {
        "tags": [
          "Students"
        ],
        "summary": "Get student availability",
        "description": "Returns weekly availability schedule with time slots.",
        "parameters": [
          {
            "name": "studentId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Availability found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AvailabilityResponse"
                }
              }
            }
          }
        }
      },
      "put": {
        "tags": [
          "Students"
        ],
        "summary": "Update student availability",
        "description": "Saves weekly availability schedule (days and free time blocks).",
        "parameters": [
          {
            "name": "studentId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/AvailabilityRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Availability updated"
          }
        }
      }
    },
    "/students/{studentId}/skills": {
      "get": {
        "tags": [
          "Students"
        ],
        "summary": "Get student skills",
        "parameters": [
          {
            "name": "studentId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Skills list",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "type": "string"
                  }
                }
              }
            }
          }
        }
      },
      "post": {
        "tags": [
          "Students"
        ],
        "summary": "Add skill to student",
        "parameters": [
          {
            "name": "studentId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/AddSkillRequest"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Skill added"
          }
        }
      }
    },
    "/students/{studentId}/skills/{skillId}": {
      "delete": {
        "tags": [
          "Students"
        ],
        "summary": "Remove skill from student",
        "parameters": [
          {
            "name": "studentId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "skillId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Skill removed"
          }
        }
      }
    },
    "/companies/{companyId}": {
      "get": {
        "tags": [
          "Companies"
        ],
        "summary": "Get company by ID",
        "parameters": [
          {
            "name": "companyId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Company found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CompanyProfileResponse"
                }
              }
            }
          },
          "404": {
            "description": "Company not found"
          }
        }
      }
    },
    "/skills": {
      "get": {
        "tags": [
          "Skills"
        ],
        "summary": "Get predefined skills list",
        "description": "Returns a list of predefined skills that students can select from.",
        "responses": {
          "200": {
            "description": "List of skills",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "type": "string"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/jobs": {
      "post": {
        "tags": [
          "Jobs"
        ],
        "summary": "Create job",
        "description": "Creates a new job posting. Supports fixed schedule and autonomous work types.",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateJobRequest"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Job created"
          },
          "400": {
            "description": "Invalid job data"
          }
        }
      },
      "get": {
        "tags": [
          "Jobs"
        ],
        "summary": "Get all jobs",
        "responses": {
          "200": {
            "description": "List of jobs",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/JobResponse"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/jobs/recommended": {
      "get": {
        "tags": [
          "Jobs"
        ],
        "summary": "Get recommended jobs for student",
        "description": "Filters jobs based on student availability and skills. Fixed schedule jobs only appear if the time slot is free. Autonomous jobs appear if skills match.",
        "parameters": [
          {
            "name": "studentId",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Recommended jobs",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/JobResponse"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/jobs/{jobId}": {
      "get": {
        "tags": [
          "Jobs"
        ],
        "summary": "Get job by ID",
        "parameters": [
          {
            "name": "jobId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Job found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/JobResponse"
                }
              }
            }
          },
          "404": {
            "description": "Job not found"
          }
        }
      },
      "put": {
        "tags": [
          "Jobs"
        ],
        "summary": "Update job",
        "description": "Edits a job posting. Only allowed if no student has been selected or no contract exists.",
        "parameters": [
          {
            "name": "jobId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UpdateJobRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Job updated"
          },
          "403": {
            "description": "Cannot edit - has accepted applicants or active contract"
          },
          "404": {
            "description": "Job not found"
          }
        }
      },
      "delete": {
        "tags": [
          "Jobs"
        ],
        "summary": "Delete job",
        "description": "Cancels a job posting. The job is removed from student searches.",
        "parameters": [
          {
            "name": "jobId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Job deleted"
          },
          "404": {
            "description": "Job not found"
          }
        }
      }
    },
    "/applications": {
      "post": {
        "tags": [
          "Applications"
        ],
        "summary": "Apply for a job",
        "description": "Creates a new application. Prevents duplicate applications. Status is set to pending.",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateApplicationRequest"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Application submitted",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApplicationResponse"
                }
              }
            }
          },
          "400": {
            "description": "Already applied"
          }
        }
      }
    },
    "/applications/{applicationId}": {
      "get": {
        "tags": [
          "Applications"
        ],
        "summary": "Get application by ID",
        "parameters": [
          {
            "name": "applicationId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Application found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApplicationResponse"
                }
              }
            }
          },
          "404": {
            "description": "Application not found"
          }
        }
      },
      "put": {
        "tags": [
          "Applications"
        ],
        "summary": "Accept or reject application",
        "description": "Updates application status. When accepted, a contract is automatically generated.",
        "parameters": [
          {
            "name": "applicationId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UpdateApplicationRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Status updated",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApplicationResponse"
                }
              }
            }
          }
        }
      }
    },
    "/jobs/{jobId}/applications": {
      "get": {
        "tags": [
          "Applications"
        ],
        "summary": "Get applicants for a job",
        "description": "Returns list of students who applied to a specific job posting.",
        "parameters": [
          {
            "name": "jobId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "List of applicants",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/ApplicationWithStudentResponse"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/contracts": {
      "get": {
        "tags": [
          "Contracts"
        ],
        "summary": "List contracts by user",
        "description": "Returns contracts filtered by status (active or completed).",
        "parameters": [
          {
            "name": "userId",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "status",
            "in": "query",
            "schema": {
              "type": "string",
              "enum": [
                "active",
                "completed"
              ]
            }
          }
        ],
        "responses": {
          "200": {
            "description": "List of contracts",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/ContractSummary"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/contracts/{contractId}": {
      "get": {
        "tags": [
          "Contracts"
        ],
        "summary": "Get contract by ID",
        "parameters": [
          {
            "name": "contractId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Contract found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ContractDetail"
                }
              }
            }
          },
          "404": {
            "description": "Contract not found"
          }
        }
      }
    },
    "/contracts/{contractId}/accept": {
      "put": {
        "tags": [
          "Contracts"
        ],
        "summary": "Accept contract",
        "description": "Student accepts the contract. Status changes to active and job status changes to in progress.",
        "parameters": [
          {
            "name": "contractId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "accepted": {
                    "type": "boolean"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Contract accepted"
          },
          "400": {
            "description": "Invalid request"
          }
        }
      }
    },
    "/payments": {
      "post": {
        "tags": [
          "Payments"
        ],
        "summary": "Register payment",
        "description": "Records a payment made by a company to a student. Associated with a contract.",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreatePaymentRequest"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Payment registered"
          },
          "400": {
            "description": "Invalid payment data"
          }
        }
      },
      "get": {
        "tags": [
          "Payments"
        ],
        "summary": "Payment history",
        "description": "Returns payment transactions for a user, filterable by date range.",
        "parameters": [
          {
            "name": "userId",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "startDate",
            "in": "query",
            "schema": {
              "type": "string",
              "format": "date"
            }
          },
          {
            "name": "endDate",
            "in": "query",
            "schema": {
              "type": "string",
              "format": "date"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Payment history",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/PaymentResponse"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/ratings": {
      "post": {
        "tags": [
          "Ratings"
        ],
        "summary": "Rate user after contract completion",
        "description": "Creates a rating with stars (1-5) and optional comment. Comment is required for 1-2 star ratings.",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateRatingRequest"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Rating submitted"
          },
          "400": {
            "description": "Invalid rating data"
          }
        }
      }
    },
    "/users/{userId}/ratings": {
      "get": {
        "tags": [
          "Ratings"
        ],
        "summary": "Get user ratings",
        "description": "Returns average rating and all ratings received by a user.",
        "parameters": [
          {
            "name": "userId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "User ratings",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/UserRatingsResponse"
                }
              }
            }
          }
        }
      }
    }
  },
  "components": {
    "schemas": {
      "RegisterStudentRequest": {
        "type": "object",
        "required": [
          "fullName",
          "email",
          "password",
          "university",
          "career"
        ],
        "properties": {
          "fullName": {
            "type": "string"
          },
          "email": {
            "type": "string",
            "format": "email"
          },
          "password": {
            "type": "string",
            "minLength": 6
          },
          "university": {
            "type": "string"
          },
          "career": {
            "type": "string"
          },
          "studentId": {
            "type": "string"
          }
        }
      },
      "RegisterCompanyRequest": {
        "type": "object",
        "required": [
          "companyName",
          "taxId",
          "email",
          "phone",
          "description",
          "password"
        ],
        "properties": {
          "companyName": {
            "type": "string"
          },
          "taxId": {
            "type": "string"
          },
          "email": {
            "type": "string",
            "format": "email"
          },
          "phone": {
            "type": "string"
          },
          "description": {
            "type": "string"
          },
          "password": {
            "type": "string",
            "minLength": 6
          }
        }
      },
      "LoginRequest": {
        "type": "object",
        "required": [
          "email",
          "password"
        ],
        "properties": {
          "email": {
            "type": "string",
            "format": "email"
          },
          "password": {
            "type": "string"
          }
        }
      },
      "LoginResponse": {
        "type": "object",
        "properties": {
          "userId": {
            "type": "string"
          },
          "role": {
            "type": "string",
            "enum": [
              "student",
              "company"
            ]
          },
          "fullName": {
            "type": "string"
          },
          "email": {
            "type": "string",
            "format": "email"
          }
        }
      },
      "AuthResponse": {
        "type": "object",
        "properties": {
          "userId": {
            "type": "string"
          },
          "message": {
            "type": "string"
          }
        }
      },
      "UserProfileResponse": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string"
          },
          "fullName": {
            "type": "string"
          },
          "email": {
            "type": "string",
            "format": "email"
          },
          "role": {
            "type": "string",
            "enum": [
              "student",
              "company"
            ]
          },
          "avatar": {
            "type": "string",
            "nullable": true
          },
          "phone": {
            "type": "string",
            "nullable": true
          },
          "bio": {
            "type": "string",
            "nullable": true
          },
          "active": {
            "type": "boolean"
          }
        }
      },
      "UpdateProfileRequest": {
        "type": "object",
        "properties": {
          "fullName": {
            "type": "string"
          },
          "phone": {
            "type": "string"
          },
          "bio": {
            "type": "string"
          },
          "skills": {
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "companyName": {
            "type": "string"
          },
          "description": {
            "type": "string"
          },
          "contactEmail": {
            "type": "string",
            "format": "email"
          }
        }
      },
      "UpdateProfileWithImage": {
        "type": "object",
        "properties": {
          "fullName": {
            "type": "string"
          },
          "phone": {
            "type": "string"
          },
          "bio": {
            "type": "string"
          },
          "avatar": {
            "type": "string",
            "format": "binary"
          }
        }
      },
      "DeleteAccountRequest": {
        "type": "object",
        "required": [
          "password"
        ],
        "properties": {
          "password": {
            "type": "string"
          }
        }
      },
      "StudentProfileResponse": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string"
          },
          "user": {
            "$ref": "#/components/schemas/UserProfileResponse"
          },
          "university": {
            "type": "string"
          },
          "career": {
            "type": "string"
          },
          "studentId": {
            "type": "string"
          },
          "skills": {
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "availability": {
            "$ref": "#/components/schemas/AvailabilityResponse"
          },
          "averageRating": {
            "type": "number",
            "format": "float"
          }
        }
      },
      "AvailabilityResponse": {
        "type": "object",
        "properties": {
          "monday": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/TimeSlot"
            }
          },
          "tuesday": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/TimeSlot"
            }
          },
          "wednesday": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/TimeSlot"
            }
          },
          "thursday": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/TimeSlot"
            }
          },
          "friday": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/TimeSlot"
            }
          },
          "saturday": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/TimeSlot"
            }
          },
          "sunday": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/TimeSlot"
            }
          }
        }
      },
      "AvailabilityRequest": {
        "type": "object",
        "additionalProperties": {
          "type": "array",
          "items": {
            "$ref": "#/components/schemas/TimeSlot"
          }
        }
      },
      "TimeSlot": {
        "type": "object",
        "properties": {
          "start": {
            "type": "string",
            "pattern": "^([0-1]?[0-9]|2[0-3]):[0-5][0-9]$"
          },
          "end": {
            "type": "string",
            "pattern": "^([0-1]?[0-9]|2[0-3]):[0-5][0-9]$"
          }
        }
      },
      "AddSkillRequest": {
        "type": "object",
        "required": [
          "skillName"
        ],
        "properties": {
          "skillName": {
            "type": "string"
          }
        }
      },
      "CompanyProfileResponse": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string"
          },
          "user": {
            "$ref": "#/components/schemas/UserProfileResponse"
          },
          "companyName": {
            "type": "string"
          },
          "taxId": {
            "type": "string"
          },
          "description": {
            "type": "string"
          }
        }
      },
      "CreateJobRequest": {
        "type": "object",
        "required": [
          "title",
          "type",
          "payment",
          "companyId"
        ],
        "properties": {
          "title": {
            "type": "string"
          },
          "description": {
            "type": "string"
          },
          "type": {
            "type": "string",
            "enum": [
              "fixed",
              "autonomous"
            ]
          },
          "date": {
            "type": "string",
            "format": "date"
          },
          "startTime": {
            "type": "string",
            "pattern": "^([0-1]?[0-9]|2[0-3]):[0-5][0-9]$"
          },
          "endTime": {
            "type": "string",
            "pattern": "^([0-1]?[0-9]|2[0-3]):[0-5][0-9]$"
          },
          "startDate": {
            "type": "string",
            "format": "date"
          },
          "endDate": {
            "type": "string",
            "format": "date"
          },
          "deliverables": {
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "paymentType": {
            "type": "string",
            "enum": [
              "one_time",
              "monthly"
            ]
          },
          "payment": {
            "type": "number"
          },
          "skillsRequired": {
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "companyId": {
            "type": "string"
          }
        }
      },
      "UpdateJobRequest": {
        "type": "object",
        "properties": {
          "title": {
            "type": "string"
          },
          "description": {
            "type": "string"
          },
          "payment": {
            "type": "number"
          },
          "skillsRequired": {
            "type": "array",
            "items": {
              "type": "string"
            }
          }
        }
      },
      "JobResponse": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string"
          },
          "title": {
            "type": "string"
          },
          "description": {
            "type": "string"
          },
          "type": {
            "type": "string",
            "enum": [
              "fixed",
              "autonomous"
            ]
          },
          "date": {
            "type": "string",
            "format": "date"
          },
          "startTime": {
            "type": "string"
          },
          "endTime": {
            "type": "string"
          },
          "startDate": {
            "type": "string",
            "format": "date"
          },
          "endDate": {
            "type": "string",
            "format": "date"
          },
          "deliverables": {
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "payment": {
            "type": "number"
          },
          "paymentType": {
            "type": "string",
            "enum": [
              "one_time",
              "monthly"
            ]
          },
          "skillsRequired": {
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "company": {
            "$ref": "#/components/schemas/CompanyProfileResponse"
          },
          "status": {
            "type": "string",
            "enum": [
              "active",
              "filled",
              "cancelled"
            ]
          }
        }
      },
      "CreateApplicationRequest": {
        "type": "object",
        "required": [
          "jobId",
          "studentId"
        ],
        "properties": {
          "jobId": {
            "type": "string"
          },
          "studentId": {
            "type": "string"
          }
        }
      },
      "ApplicationResponse": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string"
          },
          "jobId": {
            "type": "string"
          },
          "studentId": {
            "type": "string"
          },
          "status": {
            "type": "string",
            "enum": [
              "pending",
              "accepted",
              "rejected"
            ]
          },
          "createdAt": {
            "type": "string",
            "format": "date-time"
          }
        }
      },
      "UpdateApplicationRequest": {
        "type": "object",
        "required": [
          "status"
        ],
        "properties": {
          "status": {
            "type": "string",
            "enum": [
              "accepted",
              "rejected"
            ]
          }
        }
      },
      "ApplicationWithStudentResponse": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string"
          },
          "student": {
            "$ref": "#/components/schemas/StudentProfileResponse"
          },
          "status": {
            "type": "string",
            "enum": [
              "pending",
              "accepted",
              "rejected"
            ]
          },
          "createdAt": {
            "type": "string",
            "format": "date-time"
          }
        }
      },
      "ContractSummary": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string"
          },
          "jobTitle": {
            "type": "string"
          },
          "companyName": {
            "type": "string"
          },
          "studentName": {
            "type": "string"
          },
          "status": {
            "type": "string",
            "enum": [
              "pending",
              "active",
              "completed"
            ]
          },
          "startDate": {
            "type": "string",
            "format": "date"
          },
          "endDate": {
            "type": "string",
            "format": "date"
          },
          "payment": {
            "type": "number"
          }
        }
      },
      "ContractDetail": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string"
          },
          "job": {
            "$ref": "#/components/schemas/JobResponse"
          },
          "company": {
            "$ref": "#/components/schemas/CompanyProfileResponse"
          },
          "student": {
            "$ref": "#/components/schemas/StudentProfileResponse"
          },
          "status": {
            "type": "string",
            "enum": [
              "pending",
              "active",
              "completed"
            ]
          },
          "startDate": {
            "type": "string",
            "format": "date"
          },
          "endDate": {
            "type": "string",
            "format": "date"
          },
          "deliverables": {
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "payment": {
            "type": "number"
          },
          "paymentType": {
            "type": "string",
            "enum": [
              "one_time",
              "monthly"
            ]
          },
          "createdAt": {
            "type": "string",
            "format": "date-time"
          },
          "acceptedAt": {
            "type": "string",
            "format": "date-time",
            "nullable": true
          }
        }
      },
      "CreatePaymentRequest": {
        "type": "object",
        "required": [
          "contractId",
          "amount"
        ],
        "properties": {
          "contractId": {
            "type": "string"
          },
          "amount": {
            "type": "number"
          },
          "paymentMethod": {
            "type": "string",
            "enum": [
              "transfer",
              "cash",
              "sinpe"
            ]
          },
          "receipt": {
            "type": "string",
            "nullable": true
          }
        }
      },
      "PaymentResponse": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string"
          },
          "contractId": {
            "type": "string"
          },
          "amount": {
            "type": "number"
          },
          "paymentMethod": {
            "type": "string",
            "enum": [
              "transfer",
              "cash",
              "sinpe"
            ]
          },
          "date": {
            "type": "string",
            "format": "date"
          },
          "concept": {
            "type": "string"
          },
          "type": {
            "type": "string",
            "enum": [
              "received",
              "made"
            ]
          }
        }
      },
      "CreateRatingRequest": {
        "type": "object",
        "required": [
          "contractId",
          "ratedUserId",
          "stars"
        ],
        "properties": {
          "contractId": {
            "type": "string"
          },
          "ratedUserId": {
            "type": "string"
          },
          "stars": {
            "type": "integer",
            "minimum": 1,
            "maximum": 5
          },
          "comment": {
            "type": "string"
          }
        }
      },
      "UserRatingsResponse": {
        "type": "object",
        "properties": {
          "average": {
            "type": "number",
            "format": "float"
          },
          "total": {
            "type": "integer"
          },
          "ratings": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "id": {
                  "type": "string"
                },
                "stars": {
                  "type": "integer",
                  "minimum": 1,
                  "maximum": 5
                },
                "comment": {
                  "type": "string"
                },
                "date": {
                  "type": "string",
                  "format": "date-time"
                },
                "rater": {
                  "type": "object",
                  "properties": {
                    "id": {
                      "type": "string"
                    },
                    "name": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          }
        }
      }
    }
  }
}