{
  "openapi": "3.0.1",
  "info": {
    "title": "Aramark",
    "description": "API generated by Swagger Explore",
    "version": "1",
    "x-jentic-source-url": "https://api.swaggerhub.com/apis/marc-49d/Aramark/1"
  },
  "servers": [
    {
      "url": "https://api.qnips.com"
    }
  ],
  "paths": {
    "/cons/api/Menus/12221": {
      "get": {
        "parameters": [
          {
            "name": "Accept-Language",
            "in": "header",
            "required": false,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string"
            },
            "examples": {
              "example": {
                "value": "de-de"
              }
            }
          },
          {
            "name": "storeId",
            "in": "query",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            },
            "examples": {
              "example": {
                "value": "25758"
              }
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Generated by Swagger Explore"
          }
        },
        "security": [
          {
            "ApiKeyCredentials": []
          }
        ]
      }
    }
  },
  "components": {
    "securitySchemes": {
      "ApiKeyCredentials": {
        "type": "apiKey",
        "name": "Authorization",
        "in": "header",
        "scheme": "apiKey"
      }
    }
  }
}