{
  "openapi": "3.0.3",
  "info": {
    "title": "Holiday API",
    "version": "1.0.0",
    "description": "HolidayAPI provides access to holiday data for over 250 countries and their subdivisions. Get public holidays, workday calculations, and supported countries/languages information.",
    "x-jentic-source-url": "https://holidayapi.com/docs",
    "contact": {
      "name": "API Support"
    }
  },
  "servers": [
    {
      "url": "https://holidayapi.com/v1"
    }
  ],
  "paths": {
    "/holidays": {
      "get": {
        "operationId": "getHolidays",
        "summary": "Get holidays",
        "description": "Returns a list of holidays for a given country and year. Supports filtering by month, day, language, and other parameters.",
        "tags": [
          "Holidays"
        ],
        "parameters": [
          {
            "name": "key",
            "in": "query",
            "description": "API key for authentication",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "country",
            "in": "query",
            "description": "ISO 3166-1 alpha-2 country code",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "year",
            "in": "query",
            "description": "4-digit year (free tier limited to previous year only)",
            "required": true,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "month",
            "in": "query",
            "description": "1 or 2 digit month (1-12)",
            "required": false,
            "schema": {
              "type": "integer",
              "minimum": 1,
              "maximum": 12
            }
          },
          {
            "name": "day",
            "in": "query",
            "description": "1 or 2 digit day (1-31)",
            "required": false,
            "schema": {
              "type": "integer",
              "minimum": 1,
              "maximum": 31
            }
          },
          {
            "name": "language",
            "in": "query",
            "description": "ISO 639-1 language code for holiday names",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "search",
            "in": "query",
            "description": "Search term to filter holidays by name",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "public",
            "in": "query",
            "description": "Return only public holidays",
            "required": false,
            "schema": {
              "type": "boolean"
            }
          },
          {
            "name": "subdivisions",
            "in": "query",
            "description": "Include subdivision holidays",
            "required": false,
            "schema": {
              "type": "boolean"
            }
          },
          {
            "name": "pretty",
            "in": "query",
            "description": "Pretty print the JSON response",
            "required": false,
            "schema": {
              "type": "boolean"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response with holiday data",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HolidaysResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request - invalid parameters",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized - invalid or missing API key",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "429": {
            "description": "Rate limit exceeded",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/countries": {
      "get": {
        "operationId": "getCountries",
        "summary": "Get supported countries",
        "description": "Returns a list of all countries supported by the API, including their ISO codes and subdivisions.",
        "tags": [
          "Reference Data"
        ],
        "parameters": [
          {
            "name": "key",
            "in": "query",
            "description": "API key for authentication",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "search",
            "in": "query",
            "description": "Search term to filter countries by name",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "pretty",
            "in": "query",
            "description": "Pretty print the JSON response",
            "required": false,
            "schema": {
              "type": "boolean"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response with countries data",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CountriesResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/languages": {
      "get": {
        "operationId": "getLanguages",
        "summary": "Get supported languages",
        "description": "Returns a list of all languages supported by the API for holiday name translations.",
        "tags": [
          "Reference Data"
        ],
        "parameters": [
          {
            "name": "key",
            "in": "query",
            "description": "API key for authentication",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "search",
            "in": "query",
            "description": "Search term to filter languages by name",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "pretty",
            "in": "query",
            "description": "Pretty print the JSON response",
            "required": false,
            "schema": {
              "type": "boolean"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response with languages data",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/LanguagesResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/workday": {
      "get": {
        "operationId": "getWorkday",
        "summary": "Calculate workday",
        "description": "Returns the date that is a specified number of working days after a given start date, accounting for holidays and weekends.",
        "tags": [
          "Workday Calculations"
        ],
        "parameters": [
          {
            "name": "key",
            "in": "query",
            "description": "API key for authentication",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "country",
            "in": "query",
            "description": "ISO 3166-1 alpha-2 country code",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "start",
            "in": "query",
            "description": "Start date in YYYY-MM-DD format",
            "required": true,
            "schema": {
              "type": "string",
              "format": "date"
            }
          },
          {
            "name": "days",
            "in": "query",
            "description": "Number of working days to add",
            "required": true,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "pretty",
            "in": "query",
            "description": "Pretty print the JSON response",
            "required": false,
            "schema": {
              "type": "boolean"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response with workday calculation",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/WorkdayResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/workdays": {
      "get": {
        "operationId": "getWorkdays",
        "summary": "Count workdays between dates",
        "description": "Returns the number of working days between two dates, accounting for holidays and weekends.",
        "tags": [
          "Workday Calculations"
        ],
        "parameters": [
          {
            "name": "key",
            "in": "query",
            "description": "API key for authentication",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "country",
            "in": "query",
            "description": "ISO 3166-1 alpha-2 country code",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "start",
            "in": "query",
            "description": "Start date in YYYY-MM-DD format",
            "required": true,
            "schema": {
              "type": "string",
              "format": "date"
            }
          },
          {
            "name": "end",
            "in": "query",
            "description": "End date in YYYY-MM-DD format",
            "required": true,
            "schema": {
              "type": "string",
              "format": "date"
            }
          },
          {
            "name": "pretty",
            "in": "query",
            "description": "Pretty print the JSON response",
            "required": false,
            "schema": {
              "type": "boolean"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response with workday count",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/WorkdaysResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    }
  },
  "components": {
    "schemas": {
      "Holiday": {
        "type": "object",
        "properties": {
          "name": {
            "type": "string",
            "description": "Name of the holiday"
          },
          "date": {
            "type": "string",
            "format": "date",
            "description": "Date of the holiday in ISO 8601 format"
          },
          "observed": {
            "type": "string",
            "format": "date",
            "description": "Observed date if different from the actual date"
          },
          "public": {
            "type": "boolean",
            "description": "Whether this is a public holiday"
          },
          "country": {
            "type": "string",
            "description": "ISO 3166-1 alpha-2 country code"
          },
          "uuid": {
            "type": "string",
            "description": "Unique identifier for the holiday"
          },
          "weekday": {
            "type": "object",
            "properties": {
              "date": {
                "type": "object",
                "properties": {
                  "name": {
                    "type": "string"
                  },
                  "numeric": {
                    "type": "string"
                  }
                }
              },
              "observed": {
                "type": "object",
                "properties": {
                  "name": {
                    "type": "string"
                  },
                  "numeric": {
                    "type": "string"
                  }
                }
              }
            }
          }
        }
      },
      "Country": {
        "type": "object",
        "properties": {
          "code": {
            "type": "string",
            "description": "ISO 3166-1 alpha-2 country code"
          },
          "name": {
            "type": "string",
            "description": "Country name"
          },
          "languages": {
            "type": "array",
            "items": {
              "type": "string"
            },
            "description": "Supported language codes for the country"
          },
          "codes": {
            "type": "object",
            "properties": {
              "alpha-2": {
                "type": "string"
              },
              "alpha-3": {
                "type": "string"
              },
              "numeric": {
                "type": "integer"
              }
            }
          },
          "subdivisions": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "code": {
                  "type": "string"
                },
                "name": {
                  "type": "string"
                }
              }
            }
          }
        }
      },
      "Language": {
        "type": "object",
        "properties": {
          "code": {
            "type": "string",
            "description": "ISO 639-1 language code"
          },
          "name": {
            "type": "string",
            "description": "Language name"
          }
        }
      },
      "HolidaysResponse": {
        "type": "object",
        "properties": {
          "status": {
            "type": "integer"
          },
          "holidays": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Holiday"
            }
          }
        }
      },
      "CountriesResponse": {
        "type": "object",
        "properties": {
          "status": {
            "type": "integer"
          },
          "countries": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Country"
            }
          }
        }
      },
      "LanguagesResponse": {
        "type": "object",
        "properties": {
          "status": {
            "type": "integer"
          },
          "languages": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Language"
            }
          }
        }
      },
      "WorkdayResponse": {
        "type": "object",
        "properties": {
          "status": {
            "type": "integer"
          },
          "workday": {
            "type": "object",
            "properties": {
              "date": {
                "type": "string",
                "format": "date"
              }
            }
          }
        }
      },
      "WorkdaysResponse": {
        "type": "object",
        "properties": {
          "status": {
            "type": "integer"
          },
          "workdays": {
            "type": "integer",
            "description": "Number of working days between the two dates"
          }
        }
      },
      "ErrorResponse": {
        "type": "object",
        "properties": {
          "status": {
            "type": "integer"
          },
          "error": {
            "type": "string",
            "description": "Error message"
          }
        }
      }
    },
    "securitySchemes": {
      "apiKey": {
        "type": "apiKey",
        "name": "key",
        "in": "query",
        "description": "API key passed as query parameter"
      }
    }
  },
  "security": [
    {
      "apiKey": []
    }
  ],
  "tags": [
    {
      "name": "Holidays"
    },
    {
      "name": "Reference Data"
    },
    {
      "name": "Workday Calculations"
    }
  ]
}
