{
  "openapi": "3.1.1",
  "info": {
    "title": "Enelis Connect API",
    "version": "1.3.0-alpha.6",
    "x-jentic-source-url": "https://api.swaggerhub.com/apis/ISTVANKURMAILXLINEHU/enelis-connect-api/1.3.0-alpha.6"
  },
  "servers": [
    {
      "url": "https://connect.enelis.hu"
    }
  ],
  "paths": {
    "/api/pharmacies/login": {
      "post": {
        "tags": [
          "Pharmacy"
        ],
        "summary": "Bejelentkez\u00e9s az API-ba patikak\u00e9nt.",
        "description": "Bejelentkez\u00e9s az API-ba patikak\u00e9nt. **Megsz\u0171n\u0151 v\u00e9gpont: helyette OAuth2-t kell haszn\u00e1lni.**",
        "parameters": [
          {
            "name": "X-Request-Id",
            "in": "header",
            "description": "A k\u00e9r\u00e9s egyedi azonos\u00edt\u00f3ja. Ha nincs megadva, a rendszer gener\u00e1l egyet.",
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          },
          {
            "name": "X-Correlation-Id",
            "in": "header",
            "description": "Correlation ID, ha van.",
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/PasswordCredential"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "headers": {
              "X-Request-Id": {
                "description": "A k\u00e9r\u00e9s egyedi azonos\u00edt\u00f3ja.",
                "schema": {
                  "type": "string",
                  "format": "uuid"
                }
              },
              "X-Correlation-Id": {
                "description": "Correlation ID, ha volt a k\u00e9r\u00e9sben.",
                "schema": {
                  "type": "string",
                  "format": "uuid"
                }
              },
              "X-Trace-Id": {
                "description": "A h\u00edv\u00e1s trace azonos\u00edt\u00f3ja a Connect rendszeren bel\u00fcl.",
                "schema": {
                  "type": "string"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "type": "string"
                }
              }
            }
          }
        },
        "deprecated": true
      }
    },
    "/api/pharmacies/messages": {
      "get": {
        "tags": [
          "Pharmacy"
        ],
        "summary": "\u00dczenetek lek\u00e9rdez\u00e9se.",
        "description": "\u00dczenetek lek\u00e9rdez\u00e9se.",
        "parameters": [
          {
            "name": "x-StoreCode",
            "in": "header",
            "description": "Patika azonos\u00edt\u00f3 k\u00f3dja a Connect rendszerben, akinek a nev\u00e9ben elj\u00e1r a h\u00edv\u00f3.",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "x-LastRefreshTime",
            "in": "header",
            "description": "Referencia id\u0151pont. Enn\u00e9l k\u00e9s\u0151bbieket list\u00e1z, kor\u00e1bbiakat t\u00f6r\u00f6l.",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "X-Request-Id",
            "in": "header",
            "description": "A k\u00e9r\u00e9s egyedi azonos\u00edt\u00f3ja. Ha nincs megadva, a rendszer gener\u00e1l egyet.",
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          },
          {
            "name": "X-Correlation-Id",
            "in": "header",
            "description": "Correlation ID, ha van.",
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "headers": {
              "X-Request-Id": {
                "description": "A k\u00e9r\u00e9s egyedi azonos\u00edt\u00f3ja.",
                "schema": {
                  "type": "string",
                  "format": "uuid"
                }
              },
              "X-Correlation-Id": {
                "description": "Correlation ID, ha volt a k\u00e9r\u00e9sben.",
                "schema": {
                  "type": "string",
                  "format": "uuid"
                }
              },
              "X-Trace-Id": {
                "description": "A h\u00edv\u00e1s trace azonos\u00edt\u00f3ja a Connect rendszeren bel\u00fcl.",
                "schema": {
                  "type": "string"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/MessageResponse"
                }
              }
            }
          }
        },
        "security": [
          {
            "OAuth2": [
              "api://00000000-0000-0000-0000-000000000000/.default"
            ]
          }
        ]
      }
    },
    "/api/pharmacies/stocks": {
      "post": {
        "tags": [
          "Pharmacy"
        ],
        "summary": "K\u00e9szlet lek\u00e9rdez\u00e9s k\u00fcld\u00e9se.",
        "description": "K\u00e9szlet lek\u00e9rdez\u00e9s k\u00fcld\u00e9se.",
        "parameters": [
          {
            "name": "x-StoreCode",
            "in": "header",
            "description": "Patika azonos\u00edt\u00f3 k\u00f3dja a Connect rendszerben, akinek a nev\u00e9ben elj\u00e1r a h\u00edv\u00f3.",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "x-Wholesaler",
            "in": "header",
            "description": "Nagykeresked\u0151 k\u00f3dja a Connect rendszerben.",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "Cache-Control",
            "in": "header",
            "description": "Cache-Control. T\u00e1mogatott \u00e9rt\u00e9k: no-cache.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "X-Request-Id",
            "in": "header",
            "description": "A k\u00e9r\u00e9s egyedi azonos\u00edt\u00f3ja. Ha nincs megadva, a rendszer gener\u00e1l egyet.",
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          },
          {
            "name": "X-Correlation-Id",
            "in": "header",
            "description": "Correlation ID, ha van.",
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "requestBody": {
          "description": "K\u00e9szlet lek\u00e9rdez\u00e9s adatai.",
          "content": {
            "application/json": {
              "schema": {
                "type": "array",
                "items": {
                  "$ref": "#/components/schemas/StockQueryRequest"
                }
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "headers": {
              "X-Request-Id": {
                "description": "A k\u00e9r\u00e9s egyedi azonos\u00edt\u00f3ja.",
                "schema": {
                  "type": "string",
                  "format": "uuid"
                }
              },
              "X-Correlation-Id": {
                "description": "Correlation ID, ha volt a k\u00e9r\u00e9sben.",
                "schema": {
                  "type": "string",
                  "format": "uuid"
                }
              },
              "X-Trace-Id": {
                "description": "A h\u00edv\u00e1s trace azonos\u00edt\u00f3ja a Connect rendszeren bel\u00fcl.",
                "schema": {
                  "type": "string"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/StockQueryResponse"
                  }
                }
              }
            }
          }
        },
        "security": [
          {
            "OAuth2": [
              "api://00000000-0000-0000-0000-000000000000/.default"
            ]
          }
        ]
      }
    },
    "/api/pharmacies/orders": {
      "post": {
        "tags": [
          "Pharmacy"
        ],
        "summary": "Rendel\u00e9s k\u00fcld\u00e9se nagykeresked\u0151nek.",
        "description": "Rendel\u00e9s k\u00fcld\u00e9se nagykeresked\u0151nek.",
        "parameters": [
          {
            "name": "x-StoreCode",
            "in": "header",
            "description": "Patika azonos\u00edt\u00f3 k\u00f3dja a Connect rendszerben, akinek a nev\u00e9ben elj\u00e1r a h\u00edv\u00f3.",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "x-Wholesaler",
            "in": "header",
            "description": "Nagykeresked\u0151 k\u00f3dja a Connect rendszerben.",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "X-Request-Id",
            "in": "header",
            "description": "A k\u00e9r\u00e9s egyedi azonos\u00edt\u00f3ja. Ha nincs megadva, a rendszer gener\u00e1l egyet.",
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          },
          {
            "name": "X-Correlation-Id",
            "in": "header",
            "description": "Correlation ID, ha van.",
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "requestBody": {
          "description": "Rendel\u00e9s adatai.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/OrderCreate"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "headers": {
              "X-Request-Id": {
                "description": "A k\u00e9r\u00e9s egyedi azonos\u00edt\u00f3ja.",
                "schema": {
                  "type": "string",
                  "format": "uuid"
                }
              },
              "X-Correlation-Id": {
                "description": "Correlation ID, ha volt a k\u00e9r\u00e9sben.",
                "schema": {
                  "type": "string",
                  "format": "uuid"
                }
              },
              "X-Trace-Id": {
                "description": "A h\u00edv\u00e1s trace azonos\u00edt\u00f3ja a Connect rendszeren bel\u00fcl.",
                "schema": {
                  "type": "string"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Order"
                }
              }
            }
          }
        },
        "security": [
          {
            "OAuth2": [
              "api://00000000-0000-0000-0000-000000000000/.default"
            ]
          }
        ]
      }
    },
    "/api/pharmacies/orders/confirmations/{confirmationId}": {
      "get": {
        "tags": [
          "Pharmacy"
        ],
        "summary": "Rendel\u00e9s visszaigazol\u00e1s lek\u00e9rdez\u00e9se.",
        "description": "Rendel\u00e9s visszaigazol\u00e1s lek\u00e9rdez\u00e9se.",
        "parameters": [
          {
            "name": "confirmationId",
            "in": "path",
            "description": "Rendel\u00e9s visszaigazol\u00e1s egyedi azonos\u00edt\u00f3ja.",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          },
          {
            "name": "x-StoreCode",
            "in": "header",
            "description": "Patika azonos\u00edt\u00f3 k\u00f3dja a Connect rendszerben, akinek a nev\u00e9ben elj\u00e1r a h\u00edv\u00f3.",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "X-Request-Id",
            "in": "header",
            "description": "A k\u00e9r\u00e9s egyedi azonos\u00edt\u00f3ja. Ha nincs megadva, a rendszer gener\u00e1l egyet.",
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          },
          {
            "name": "X-Correlation-Id",
            "in": "header",
            "description": "Correlation ID, ha van.",
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "headers": {
              "X-Request-Id": {
                "description": "A k\u00e9r\u00e9s egyedi azonos\u00edt\u00f3ja.",
                "schema": {
                  "type": "string",
                  "format": "uuid"
                }
              },
              "X-Correlation-Id": {
                "description": "Correlation ID, ha volt a k\u00e9r\u00e9sben.",
                "schema": {
                  "type": "string",
                  "format": "uuid"
                }
              },
              "X-Trace-Id": {
                "description": "A h\u00edv\u00e1s trace azonos\u00edt\u00f3ja a Connect rendszeren bel\u00fcl.",
                "schema": {
                  "type": "string"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Confirmation"
                }
              }
            }
          }
        },
        "security": [
          {
            "OAuth2": [
              "api://00000000-0000-0000-0000-000000000000/.default"
            ]
          }
        ]
      }
    },
    "/api/pharmacies/deliverynotes/{deliveryNoteId}": {
      "get": {
        "tags": [
          "Pharmacy"
        ],
        "summary": "Sz\u00e1ll\u00edt\u00f3lev\u00e9l lek\u00e9rdez\u00e9se.",
        "description": "Sz\u00e1ll\u00edt\u00f3lev\u00e9l lek\u00e9rdez\u00e9se.",
        "parameters": [
          {
            "name": "deliveryNoteId",
            "in": "path",
            "description": "Sz\u00e1ll\u00edt\u00f3lev\u00e9l egyedi azonos\u00edt\u00f3ja.",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          },
          {
            "name": "x-StoreCode",
            "in": "header",
            "description": "Patika azonos\u00edt\u00f3 k\u00f3dja a Connect rendszerben, akinek a nev\u00e9ben elj\u00e1r a h\u00edv\u00f3.",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "X-Request-Id",
            "in": "header",
            "description": "A k\u00e9r\u00e9s egyedi azonos\u00edt\u00f3ja. Ha nincs megadva, a rendszer gener\u00e1l egyet.",
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          },
          {
            "name": "X-Correlation-Id",
            "in": "header",
            "description": "Correlation ID, ha van.",
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "headers": {
              "X-Request-Id": {
                "description": "A k\u00e9r\u00e9s egyedi azonos\u00edt\u00f3ja.",
                "schema": {
                  "type": "string",
                  "format": "uuid"
                }
              },
              "X-Correlation-Id": {
                "description": "Correlation ID, ha volt a k\u00e9r\u00e9sben.",
                "schema": {
                  "type": "string",
                  "format": "uuid"
                }
              },
              "X-Trace-Id": {
                "description": "A h\u00edv\u00e1s trace azonos\u00edt\u00f3ja a Connect rendszeren bel\u00fcl.",
                "schema": {
                  "type": "string"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DeliveryNote"
                }
              }
            }
          }
        },
        "security": [
          {
            "OAuth2": [
              "api://00000000-0000-0000-0000-000000000000/.default"
            ]
          }
        ]
      }
    },
    "/api/pharmacies/customerorders/{customerOrderId}": {
      "get": {
        "tags": [
          "Pharmacy"
        ],
        "summary": "Vev\u0151i rendel\u00e9s lek\u00e9rdez\u00e9se.",
        "description": "Vev\u0151i rendel\u00e9s lek\u00e9rdez\u00e9se.",
        "parameters": [
          {
            "name": "customerOrderId",
            "in": "path",
            "description": "Vev\u0151i rendel\u00e9s egyedi azonos\u00edt\u00f3ja.",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          },
          {
            "name": "x-StoreCode",
            "in": "header",
            "description": "Patika azonos\u00edt\u00f3 k\u00f3dja a Connect rendszerben, akinek a nev\u00e9ben elj\u00e1r a h\u00edv\u00f3.",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "X-Request-Id",
            "in": "header",
            "description": "A k\u00e9r\u00e9s egyedi azonos\u00edt\u00f3ja. Ha nincs megadva, a rendszer gener\u00e1l egyet.",
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          },
          {
            "name": "X-Correlation-Id",
            "in": "header",
            "description": "Correlation ID, ha van.",
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "headers": {
              "X-Request-Id": {
                "description": "A k\u00e9r\u00e9s egyedi azonos\u00edt\u00f3ja.",
                "schema": {
                  "type": "string",
                  "format": "uuid"
                }
              },
              "X-Correlation-Id": {
                "description": "Correlation ID, ha volt a k\u00e9r\u00e9sben.",
                "schema": {
                  "type": "string",
                  "format": "uuid"
                }
              },
              "X-Trace-Id": {
                "description": "A h\u00edv\u00e1s trace azonos\u00edt\u00f3ja a Connect rendszeren bel\u00fcl.",
                "schema": {
                  "type": "string"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CustomerOrder"
                }
              }
            }
          }
        },
        "security": [
          {
            "OAuth2": [
              "api://00000000-0000-0000-0000-000000000000/.default"
            ]
          }
        ]
      }
    },
    "/api/pharmacies/customerinvoices/{customerInvoiceId}": {
      "get": {
        "tags": [
          "Pharmacy"
        ],
        "summary": "Vev\u0151i sz\u00e1mla lek\u00e9rdez\u00e9se.",
        "description": "Vev\u0151i sz\u00e1mla lek\u00e9rdez\u00e9se.",
        "parameters": [
          {
            "name": "customerInvoiceId",
            "in": "path",
            "description": "Vev\u0151i sz\u00e1mla egyedi azonos\u00edt\u00f3ja.",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          },
          {
            "name": "x-StoreCode",
            "in": "header",
            "description": "Patika azonos\u00edt\u00f3 k\u00f3dja a Connect rendszerben, akinek a nev\u00e9ben elj\u00e1r a h\u00edv\u00f3.",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "X-Request-Id",
            "in": "header",
            "description": "A k\u00e9r\u00e9s egyedi azonos\u00edt\u00f3ja. Ha nincs megadva, a rendszer gener\u00e1l egyet.",
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          },
          {
            "name": "X-Correlation-Id",
            "in": "header",
            "description": "Correlation ID, ha van.",
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "headers": {
              "X-Request-Id": {
                "description": "A k\u00e9r\u00e9s egyedi azonos\u00edt\u00f3ja.",
                "schema": {
                  "type": "string",
                  "format": "uuid"
                }
              },
              "X-Correlation-Id": {
                "description": "Correlation ID, ha volt a k\u00e9r\u00e9sben.",
                "schema": {
                  "type": "string",
                  "format": "uuid"
                }
              },
              "X-Trace-Id": {
                "description": "A h\u00edv\u00e1s trace azonos\u00edt\u00f3ja a Connect rendszeren bel\u00fcl.",
                "schema": {
                  "type": "string"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CustomerInvoice"
                }
              }
            }
          }
        },
        "security": [
          {
            "OAuth2": [
              "api://00000000-0000-0000-0000-000000000000/.default"
            ]
          }
        ]
      }
    },
    "/api/pharmacies/customerinvoices/{customerInvoiceId}/download": {
      "get": {
        "tags": [
          "Pharmacy"
        ],
        "summary": "Vev\u0151i sz\u00e1mla let\u00f6lt\u00e9se.",
        "description": "Vev\u0151i sz\u00e1mla let\u00f6lt\u00e9se.",
        "parameters": [
          {
            "name": "customerInvoiceId",
            "in": "path",
            "description": "Vev\u0151i sz\u00e1mla egyedi azonos\u00edt\u00f3ja.",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          },
          {
            "name": "X-Request-Id",
            "in": "header",
            "description": "A k\u00e9r\u00e9s egyedi azonos\u00edt\u00f3ja. Ha nincs megadva, a rendszer gener\u00e1l egyet.",
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          },
          {
            "name": "X-Correlation-Id",
            "in": "header",
            "description": "Correlation ID, ha van.",
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/pdf": {
                "schema": {
                  "type": "string",
                  "format": "binary"
                }
              }
            }
          }
        },
        "security": [
          {
            "OAuth2": [
              "api://00000000-0000-0000-0000-000000000000/.default"
            ]
          }
        ]
      }
    },
    "/api/pharmacies/customerdeliveries": {
      "post": {
        "tags": [
          "Pharmacy"
        ],
        "summary": "K\u00e9zbes\u00edt\u00e9s k\u00fcld\u00e9se eshopnak.",
        "description": "K\u00e9zbes\u00edt\u00e9s k\u00fcld\u00e9se eshopnak.",
        "parameters": [
          {
            "name": "x-StoreCode",
            "in": "header",
            "description": "Patika azonos\u00edt\u00f3 k\u00f3dja a Connect rendszerben, akinek a nev\u00e9ben elj\u00e1r a h\u00edv\u00f3.",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "x-EshopCode",
            "in": "header",
            "description": "Web\u00e1ruh\u00e1z k\u00f3dja a Connect rendszerben.",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "X-Request-Id",
            "in": "header",
            "description": "A k\u00e9r\u00e9s egyedi azonos\u00edt\u00f3ja. Ha nincs megadva, a rendszer gener\u00e1l egyet.",
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          },
          {
            "name": "X-Correlation-Id",
            "in": "header",
            "description": "Correlation ID, ha van.",
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "requestBody": {
          "description": "K\u00e9zbes\u00edt\u00e9s adatai.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CustomerDeliveryCreate"
              }
            }
          },
          "required": true
        },
        "responses": {
          "201": {
            "description": "Created",
            "headers": {
              "Location": {
                "description": "A l\u00e9trehozott k\u00e9zbes\u00edt\u00e9s relat\u00edv \u00fatvonala, pl. '/42'.",
                "schema": {
                  "type": "string"
                }
              },
              "X-Request-Id": {
                "description": "A k\u00e9r\u00e9s egyedi azonos\u00edt\u00f3ja.",
                "schema": {
                  "type": "string",
                  "format": "uuid"
                }
              },
              "X-Correlation-Id": {
                "description": "Correlation ID, ha volt a k\u00e9r\u00e9sben.",
                "schema": {
                  "type": "string",
                  "format": "uuid"
                }
              },
              "X-Trace-Id": {
                "description": "A h\u00edv\u00e1s trace azonos\u00edt\u00f3ja a Connect rendszeren bel\u00fcl.",
                "schema": {
                  "type": "string"
                }
              }
            }
          }
        },
        "security": [
          {
            "OAuth2": [
              "api://00000000-0000-0000-0000-000000000000/.default"
            ]
          }
        ]
      }
    },
    "/api/pharmacies/customerdeliveries/{customerDeliveryId}": {
      "get": {
        "tags": [
          "Pharmacy"
        ],
        "summary": "Vev\u0151i k\u00e9zbes\u00edt\u00e9s lek\u00e9rdez\u00e9se.",
        "description": "Vev\u0151i k\u00e9zbes\u00edt\u00e9s lek\u00e9rdez\u00e9se.",
        "parameters": [
          {
            "name": "customerDeliveryId",
            "in": "path",
            "description": "Vev\u0151i k\u00e9zbes\u00edt\u00e9s egyedi azonos\u00edt\u00f3ja.",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          },
          {
            "name": "x-StoreCode",
            "in": "header",
            "description": "Patika azonos\u00edt\u00f3 k\u00f3dja a Connect rendszerben, akinek a nev\u00e9ben elj\u00e1r a h\u00edv\u00f3.",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "X-Request-Id",
            "in": "header",
            "description": "A k\u00e9r\u00e9s egyedi azonos\u00edt\u00f3ja. Ha nincs megadva, a rendszer gener\u00e1l egyet.",
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          },
          {
            "name": "X-Correlation-Id",
            "in": "header",
            "description": "Correlation ID, ha van.",
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "headers": {
              "X-Request-Id": {
                "description": "A k\u00e9r\u00e9s egyedi azonos\u00edt\u00f3ja.",
                "schema": {
                  "type": "string",
                  "format": "uuid"
                }
              },
              "X-Correlation-Id": {
                "description": "Correlation ID, ha volt a k\u00e9r\u00e9sben.",
                "schema": {
                  "type": "string",
                  "format": "uuid"
                }
              },
              "X-Trace-Id": {
                "description": "A h\u00edv\u00e1s trace azonos\u00edt\u00f3ja a Connect rendszeren bel\u00fcl.",
                "schema": {
                  "type": "string"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CustomerDelivery"
                }
              }
            }
          }
        },
        "security": [
          {
            "OAuth2": [
              "api://00000000-0000-0000-0000-000000000000/.default"
            ]
          }
        ]
      }
    },
    "/api/pharmacies/customerdeliveries/{customerDeliveryId}/acknowledge": {
      "post": {
        "tags": [
          "Pharmacy"
        ],
        "summary": "K\u00e9zbes\u00edt\u00e9si visszaigazol\u00e1s k\u00fcld\u00e9se eshopnak.",
        "description": "K\u00e9zbes\u00edt\u00e9si visszaigazol\u00e1s k\u00fcld\u00e9se eshopnak.",
        "parameters": [
          {
            "name": "customerDeliveryId",
            "in": "path",
            "description": "Vev\u0151i k\u00e9zbes\u00edt\u00e9s egyedi azonos\u00edt\u00f3ja.",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "x-StoreCode",
            "in": "header",
            "description": "Patika azonos\u00edt\u00f3 k\u00f3dja a Connect rendszerben, akinek a nev\u00e9ben elj\u00e1r a h\u00edv\u00f3.",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "x-EshopCode",
            "in": "header",
            "description": "Web\u00e1ruh\u00e1z k\u00f3dja a Connect rendszerben.",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "X-Request-Id",
            "in": "header",
            "description": "A k\u00e9r\u00e9s egyedi azonos\u00edt\u00f3ja. Ha nincs megadva, a rendszer gener\u00e1l egyet.",
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          },
          {
            "name": "X-Correlation-Id",
            "in": "header",
            "description": "Correlation ID, ha van.",
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "201": {
            "description": "Created",
            "headers": {
              "Location": {
                "description": "A l\u00e9trehozott k\u00e9zbes\u00edt\u00e9si visszaigazol\u00e1s \u00fatvonala.",
                "schema": {
                  "type": "string"
                }
              },
              "X-Request-Id": {
                "description": "A k\u00e9r\u00e9s egyedi azonos\u00edt\u00f3ja.",
                "schema": {
                  "type": "string",
                  "format": "uuid"
                }
              },
              "X-Correlation-Id": {
                "description": "Correlation ID, ha volt a k\u00e9r\u00e9sben.",
                "schema": {
                  "type": "string",
                  "format": "uuid"
                }
              },
              "X-Trace-Id": {
                "description": "A h\u00edv\u00e1s trace azonos\u00edt\u00f3ja a Connect rendszeren bel\u00fcl.",
                "schema": {
                  "type": "string"
                }
              }
            }
          }
        },
        "security": [
          {
            "OAuth2": [
              "api://00000000-0000-0000-0000-000000000000/.default"
            ]
          }
        ]
      }
    },
    "/api/wholesalers/login": {
      "post": {
        "tags": [
          "Wholesaler"
        ],
        "summary": "Bejelentkez\u00e9s az API-ba nagykeresked\u0151k\u00e9nt.",
        "description": "Bejelentkez\u00e9s az API-ba nagykeresked\u0151k\u00e9nt. **Megsz\u0171n\u0151 v\u00e9gpont: helyette OAuth2-t kell haszn\u00e1lni.**",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/PasswordCredential"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "string"
                }
              }
            }
          }
        },
        "deprecated": true
      }
    },
    "/api/wholesalers/deliverynotes": {
      "post": {
        "tags": [
          "Wholesaler"
        ],
        "summary": "Sz\u00e1ll\u00edt\u00f3lev\u00e9l k\u00fcld\u00e9se patik\u00e1nak.",
        "description": "Sz\u00e1ll\u00edt\u00f3lev\u00e9l k\u00fcld\u00e9se patik\u00e1nak.",
        "parameters": [
          {
            "name": "x-PharmacyId",
            "in": "header",
            "description": "Nagykeresked\u0151 oldali patika azonos\u00edt\u00f3 k\u00f3d.",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "x-Wholesaler",
            "in": "header",
            "description": "Nagykeresked\u0151 k\u00f3dja a Connect rendszerben, akinek a nev\u00e9ben elj\u00e1r a h\u00edv\u00f3.",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "X-Request-Id",
            "in": "header",
            "description": "A k\u00e9r\u00e9s egyedi azonos\u00edt\u00f3ja. Ha nincs megadva, a rendszer gener\u00e1l egyet.",
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          },
          {
            "name": "X-Correlation-Id",
            "in": "header",
            "description": "Correlation ID, ha van.",
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "requestBody": {
          "description": "Sz\u00e1ll\u00edt\u00f3lev\u00e9l adatai.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/DeliveryNoteCreate"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "headers": {
              "X-Request-Id": {
                "description": "A k\u00e9r\u00e9s egyedi azonos\u00edt\u00f3ja.",
                "schema": {
                  "type": "string",
                  "format": "uuid"
                }
              },
              "X-Correlation-Id": {
                "description": "Correlation ID, ha volt a k\u00e9r\u00e9sben.",
                "schema": {
                  "type": "string",
                  "format": "uuid"
                }
              },
              "X-Trace-Id": {
                "description": "A h\u00edv\u00e1s trace azonos\u00edt\u00f3ja a Connect rendszeren bel\u00fcl.",
                "schema": {
                  "type": "string"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DeliveryNote"
                }
              }
            }
          }
        },
        "security": [
          {
            "OAuth2": [
              "api://00000000-0000-0000-0000-000000000000/.default"
            ]
          }
        ]
      }
    },
    "/api/wholesalers/orders/confirmations": {
      "post": {
        "tags": [
          "Wholesaler"
        ],
        "summary": "Rendel\u00e9s visszaigazol\u00e1s k\u00fcld\u00e9se patik\u00e1nak.",
        "description": "Rendel\u00e9s visszaigazol\u00e1s k\u00fcld\u00e9se patik\u00e1nak.",
        "parameters": [
          {
            "name": "x-PharmacyId",
            "in": "header",
            "description": "Nagykeresked\u0151 oldali patika azonos\u00edt\u00f3 k\u00f3d.",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "x-Wholesaler",
            "in": "header",
            "description": "Nagykeresked\u0151 k\u00f3dja a Connect rendszerben.",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "X-Request-Id",
            "in": "header",
            "description": "A k\u00e9r\u00e9s egyedi azonos\u00edt\u00f3ja. Ha nincs megadva, a rendszer gener\u00e1l egyet.",
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          },
          {
            "name": "X-Correlation-Id",
            "in": "header",
            "description": "Correlation ID, ha van.",
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ConfirmationCreate"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "headers": {
              "X-Request-Id": {
                "description": "A k\u00e9r\u00e9s egyedi azonos\u00edt\u00f3ja.",
                "schema": {
                  "type": "string",
                  "format": "uuid"
                }
              },
              "X-Correlation-Id": {
                "description": "Correlation ID, ha volt a k\u00e9r\u00e9sben.",
                "schema": {
                  "type": "string",
                  "format": "uuid"
                }
              },
              "X-Trace-Id": {
                "description": "A h\u00edv\u00e1s trace azonos\u00edt\u00f3ja a Connect rendszeren bel\u00fcl.",
                "schema": {
                  "type": "string"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Confirmation"
                }
              }
            }
          }
        },
        "security": [
          {
            "OAuth2": [
              "api://00000000-0000-0000-0000-000000000000/.default"
            ]
          }
        ]
      }
    },
    "/api/eshops/customerorders": {
      "post": {
        "tags": [
          "Eshop"
        ],
        "summary": "Rendel\u00e9s k\u00fcld\u00e9se patik\u00e1nak.",
        "description": "Rendel\u00e9s k\u00fcld\u00e9se patik\u00e1nak.",
        "parameters": [
          {
            "name": "x-PharmacyId",
            "in": "header",
            "description": "Web\u00e1ruh\u00e1z oldali patika azonos\u00edt\u00f3 k\u00f3d.",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "x-EshopCode",
            "in": "header",
            "description": "Web\u00e1ruh\u00e1z k\u00f3dja a Connect rendszerben.",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "X-Request-Id",
            "in": "header",
            "description": "A k\u00e9r\u00e9s egyedi azonos\u00edt\u00f3ja. Ha nincs megadva, a rendszer gener\u00e1l egyet.",
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          },
          {
            "name": "X-Correlation-Id",
            "in": "header",
            "description": "Correlation ID, ha van.",
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "requestBody": {
          "description": "Rendel\u00e9s adatai.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CustomerOrderCreate"
              }
            }
          },
          "required": true
        },
        "responses": {
          "201": {
            "description": "Created",
            "headers": {
              "Location": {
                "description": "A l\u00e9trehozott rendel\u00e9s relat\u00edv \u00fatvonala, pl. '/42'.",
                "schema": {
                  "type": "string"
                }
              },
              "X-Request-Id": {
                "description": "A k\u00e9r\u00e9s egyedi azonos\u00edt\u00f3ja.",
                "schema": {
                  "type": "string",
                  "format": "uuid"
                }
              },
              "X-Correlation-Id": {
                "description": "Correlation ID, ha volt a k\u00e9r\u00e9sben.",
                "schema": {
                  "type": "string",
                  "format": "uuid"
                }
              },
              "X-Trace-Id": {
                "description": "A h\u00edv\u00e1s trace azonos\u00edt\u00f3ja a Connect rendszeren bel\u00fcl.",
                "schema": {
                  "type": "string"
                }
              }
            }
          }
        },
        "security": [
          {
            "OAuth2": [
              "api://00000000-0000-0000-0000-000000000000/.default"
            ]
          }
        ]
      }
    },
    "/api/eshops/customerinvoices": {
      "post": {
        "tags": [
          "Eshop"
        ],
        "summary": "Sz\u00e1mla k\u00fcld\u00e9se patik\u00e1nak.",
        "description": "Sz\u00e1mla k\u00fcld\u00e9se patik\u00e1nak.",
        "parameters": [
          {
            "name": "x-PharmacyId",
            "in": "header",
            "description": "Web\u00e1ruh\u00e1z oldali patika azonos\u00edt\u00f3 k\u00f3d.",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "x-EshopCode",
            "in": "header",
            "description": "Web\u00e1ruh\u00e1z k\u00f3dja a Connect rendszerben.",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "X-Request-Id",
            "in": "header",
            "description": "A k\u00e9r\u00e9s egyedi azonos\u00edt\u00f3ja. Ha nincs megadva, a rendszer gener\u00e1l egyet.",
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          },
          {
            "name": "X-Correlation-Id",
            "in": "header",
            "description": "Correlation ID, ha van.",
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "requestBody": {
          "content": {
            "multipart/related": {
              "schema": {
                "required": [
                  "payload",
                  "document"
                ],
                "type": "object",
                "properties": {
                  "payload": {
                    "description": "Sz\u00e1mla adatai.",
                    "$ref": "#/components/schemas/CustomerInvoiceCreate"
                  },
                  "document": {
                    "type": "string",
                    "description": "Sz\u00e1mla f\u00e1jl (PDF).",
                    "format": "binary"
                  }
                }
              },
              "encoding": {
                "payload": {
                  "contentType": "application/json"
                },
                "document": {
                  "contentType": "application/pdf"
                }
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Created",
            "headers": {
              "Location": {
                "description": "A l\u00e9trehozott sz\u00e1mla relat\u00edv \u00fatvonala, pl. '/42'.",
                "schema": {
                  "type": "string"
                }
              },
              "X-Request-Id": {
                "description": "A k\u00e9r\u00e9s egyedi azonos\u00edt\u00f3ja.",
                "schema": {
                  "type": "string",
                  "format": "uuid"
                }
              },
              "X-Correlation-Id": {
                "description": "Correlation ID, ha volt a k\u00e9r\u00e9sben.",
                "schema": {
                  "type": "string",
                  "format": "uuid"
                }
              },
              "X-Trace-Id": {
                "description": "A h\u00edv\u00e1s trace azonos\u00edt\u00f3ja a Connect rendszeren bel\u00fcl.",
                "schema": {
                  "type": "string"
                }
              }
            }
          }
        },
        "security": [
          {
            "OAuth2": [
              "api://00000000-0000-0000-0000-000000000000/.default"
            ]
          }
        ]
      }
    },
    "/api/eshops/customerdeliveries": {
      "post": {
        "tags": [
          "Eshop"
        ],
        "summary": "K\u00e9zbes\u00edt\u00e9s k\u00fcld\u00e9se patik\u00e1nak.",
        "description": "K\u00e9zbes\u00edt\u00e9s k\u00fcld\u00e9se patik\u00e1nak.",
        "parameters": [
          {
            "name": "x-PharmacyId",
            "in": "header",
            "description": "Web\u00e1ruh\u00e1z oldali patika azonos\u00edt\u00f3 k\u00f3d.",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "x-EshopCode",
            "in": "header",
            "description": "Web\u00e1ruh\u00e1z k\u00f3dja a Connect rendszerben.",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "X-Request-Id",
            "in": "header",
            "description": "A k\u00e9r\u00e9s egyedi azonos\u00edt\u00f3ja. Ha nincs megadva, a rendszer gener\u00e1l egyet.",
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          },
          {
            "name": "X-Correlation-Id",
            "in": "header",
            "description": "Correlation ID, ha van.",
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "requestBody": {
          "description": "K\u00e9zbes\u00edt\u00e9s adatai.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CustomerDeliveryCreate"
              }
            }
          },
          "required": true
        },
        "responses": {
          "201": {
            "description": "Created",
            "headers": {
              "Location": {
                "description": "A l\u00e9trehozott k\u00e9zbes\u00edt\u00e9s relat\u00edv \u00fatvonala, pl. '/42'.",
                "schema": {
                  "type": "string"
                }
              },
              "X-Request-Id": {
                "description": "A k\u00e9r\u00e9s egyedi azonos\u00edt\u00f3ja.",
                "schema": {
                  "type": "string",
                  "format": "uuid"
                }
              },
              "X-Correlation-Id": {
                "description": "Correlation ID, ha volt a k\u00e9r\u00e9sben.",
                "schema": {
                  "type": "string",
                  "format": "uuid"
                }
              },
              "X-Trace-Id": {
                "description": "A h\u00edv\u00e1s trace azonos\u00edt\u00f3ja a Connect rendszeren bel\u00fcl.",
                "schema": {
                  "type": "string"
                }
              }
            }
          }
        },
        "security": [
          {
            "OAuth2": [
              "api://00000000-0000-0000-0000-000000000000/.default"
            ]
          }
        ]
      }
    }
  },
  "components": {
    "schemas": {
      "BillingAddress": {
        "type": "object",
        "properties": {
          "postalCode": {
            "maxLength": 50,
            "minLength": 1,
            "type": [
              "null",
              "string"
            ],
            "description": "Ir\u00e1ny\u00edt\u00f3sz\u00e1m."
          },
          "countryCode": {
            "maxLength": 2,
            "minLength": 2,
            "type": [
              "null",
              "string"
            ],
            "description": "Az orsz\u00e1gk\u00f3d ISO 3166 alpha-2 szabv\u00e1ny szerint, pl. HU, DE."
          },
          "region": {
            "maxLength": 6,
            "minLength": 4,
            "type": [
              "null",
              "string"
            ],
            "description": "Tartom\u00e1ny k\u00f3dja (ha \u00e9rtelmezhet\u0151 az adott orsz\u00e1gban) az ISO 3166-2 alpha 2 szabv\u00e1ny szerint."
          },
          "city": {
            "maxLength": 50,
            "minLength": 1,
            "type": [
              "null",
              "string"
            ],
            "description": "Telep\u00fcl\u00e9s."
          },
          "street": {
            "maxLength": 50,
            "minLength": 1,
            "type": [
              "null",
              "string"
            ],
            "description": "K\u00f6zter\u00fclet neve."
          },
          "typeOfPublicSpace": {
            "maxLength": 50,
            "minLength": 1,
            "type": [
              "null",
              "string"
            ],
            "description": "K\u00f6zter\u00fclet jellege."
          },
          "houseNumber": {
            "maxLength": 250,
            "minLength": 1,
            "type": [
              "null",
              "string"
            ],
            "description": "H\u00e1zsz\u00e1m."
          },
          "building": {
            "maxLength": 50,
            "minLength": 1,
            "type": [
              "null",
              "string"
            ],
            "description": "\u00c9p\u00fclet."
          },
          "staircase": {
            "maxLength": 50,
            "minLength": 1,
            "type": [
              "null",
              "string"
            ],
            "description": "L\u00e9pcs\u0151h\u00e1z."
          },
          "floor": {
            "maxLength": 50,
            "minLength": 1,
            "type": [
              "null",
              "string"
            ],
            "description": "Emelet."
          },
          "door": {
            "maxLength": 50,
            "minLength": 1,
            "type": [
              "null",
              "string"
            ],
            "description": "Ajt\u00f3."
          },
          "lotNumber": {
            "maxLength": 50,
            "minLength": 1,
            "type": [
              "null",
              "string"
            ],
            "description": "Helyrajzi sz\u00e1m."
          },
          "addressDetail": {
            "maxLength": 250,
            "minLength": 1,
            "type": [
              "null",
              "string"
            ],
            "description": "C\u00edmadatok egyszer\u0171 form\u00e1tumban (pl. k\u00f6zter\u00fclet neve \u00e9s jellege, h\u00e1zsz\u00e1m, emelet, ajt\u00f3, helyrajzi sz\u00e1m, stb.)."
          },
          "comment": {
            "maxLength": 50,
            "minLength": 1,
            "type": [
              "null",
              "string"
            ],
            "description": "Egy\u00e9b megjegyz\u00e9s."
          }
        },
        "description": "Sz\u00e1ml\u00e1z\u00e1si c\u00edm."
      },
      "CarrierDeliveryDetails": {
        "type": "object",
        "properties": {
          "pickupPointId": {
            "maxLength": 255,
            "minLength": 1,
            "type": [
              "null",
              "string"
            ],
            "description": "Csomagpont azonos\u00edt\u00f3ja."
          },
          "pickupPointName": {
            "maxLength": 255,
            "minLength": 1,
            "type": [
              "null",
              "string"
            ],
            "description": "Csomagpont neve."
          }
        },
        "description": "Fut\u00e1rszolg\u00e1lattal kapcsolatos adatok."
      },
      "Confirmation": {
        "required": [
          "Id",
          "Wholesaler",
          "OrderId",
          "ExpectedDeliveryNoteCount",
          "CreatedDate",
          "WholesalerNote"
        ],
        "type": "object",
        "properties": {
          "Id": {
            "minimum": 1,
            "type": "integer",
            "description": "Egyedi azonos\u00edt\u00f3.",
            "format": "int64"
          },
          "Wholesaler": {
            "maxLength": 50,
            "minLength": 1,
            "type": "string",
            "description": "Nagykeresked\u0151 k\u00f3dja."
          },
          "OrderId": {
            "minimum": 1,
            "type": "integer",
            "description": "Rendel\u00e9s azonos\u00edt\u00f3: Kapcsol\u00f3d\u00f3 rendel\u00e9snek a rendszer \u00e1ltal adott azonos\u00edt\u00f3ja (Order.Id). Kapcsol\u00f3d\u00f3 rendel\u00e9s azonos\u00edt\u00e1sa ez alapj\u00e1n t\u00f6rt\u00e9nik.",
            "format": "int64"
          },
          "PharmacyOrderId": {
            "maxLength": 50,
            "minLength": 1,
            "type": [
              "null",
              "string"
            ],
            "description": "A rendel\u00e9s gy\u00f3gyszert\u00e1ri rendszer azonos\u00edt\u00f3ja. Meg kell egyeznie a rendel\u00e9sben szerepl\u0151 gy\u00f3gyszert\u00e1ri azonos\u00edt\u00f3val (Order.PharmacyOrderId). Nagykeresked\u0151i oldalon azonos\u00edt\u00e1sra nem alkalmas \u00e9rt\u00e9k. K\u00e9zi hibakeres\u00e9s k\u00f6nny\u00edt\u00e9s\u00e9hez."
          },
          "ShippingAddress": {
            "oneOf": [
              {
                "type": "null"
              },
              {
                "description": "Sz\u00e1ll\u00edt\u00e1si c\u00edm. K\u00e9zi hibakeres\u00e9s k\u00f6nny\u00edt\u00e9s\u00e9hez.",
                "$ref": "#/components/schemas/ShippingAddress"
              }
            ]
          },
          "WholesalerOrderId": {
            "maxLength": 50,
            "minLength": 1,
            "type": [
              "null",
              "string"
            ],
            "description": "Sz\u00e1ll\u00edt\u00f3lev\u00e9l nagykeresked\u0151i azonos\u00edt\u00f3ja: A sz\u00e1ll\u00edt\u00f3lev\u00e9l nagykereskedelmi rendszerben l\u00e9v\u0151 azonos\u00edt\u00f3ja. Nagykeresked\u0151i oldalon a rendel\u00e9s azonos\u00edt\u00e1s\u00e1ra alkalmas \u00e9rt\u00e9k."
          },
          "ExpectedDeliveryNoteCount": {
            "maximum": 1000,
            "minimum": 0,
            "type": "integer",
            "description": "V\u00e1rhat\u00f3 sz\u00e1ll\u00edt\u00f3levelek darabsz\u00e1ma. Teljes (minden t\u00e9tel) annul\u00e1l\u00e1s eset\u00e9n 0.",
            "format": "int32"
          },
          "MiddleWareInsertDate": {
            "maxLength": 24,
            "minLength": 10,
            "type": [
              "null",
              "string"
            ],
            "description": "A visszaigazol\u00e1s be\u00e9rkez\u00e9sekori rendszer id\u0151. **Megsz\u0171n\u0151 mez\u0151: helyette CreatedDate-t kell haszn\u00e1lni!**",
            "format": "date-time",
            "deprecated": true
          },
          "CreatedDate": {
            "maxLength": 24,
            "minLength": 10,
            "type": "string",
            "description": "A visszaigazol\u00e1s l\u00e9trehoz\u00e1s\u00e1nak d\u00e1tum/ideje (be\u00e9rkez\u00e9skori rendszer d\u00e1tum/id\u0151) ISO 8601 szabv\u00e1ny szerint, legfeljebb ezredm\u00e1sodperc pontoss\u00e1gig, UTC-ben.",
            "format": "date-time"
          },
          "WholesalerNote": {
            "maxLength": 500,
            "minLength": 1,
            "type": "string",
            "description": "Nagykereskedelmi rendszer megjegyz\u00e9se: A visszaigazol\u00e1shoz kapcsol\u00f3d\u00f3 megjegyz\u00e9s."
          },
          "Items": {
            "minItems": 1,
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/ConfirmationItem"
            },
            "description": "Visszaigazol\u00e1s t\u00e9telek."
          }
        }
      },
      "ConfirmationCreate": {
        "required": [
          "Wholesaler",
          "OrderId",
          "ExpectedDeliveryNoteCount"
        ],
        "type": "object",
        "properties": {
          "Wholesaler": {
            "maxLength": 50,
            "minLength": 1,
            "type": "string",
            "description": "Nagykeresked\u0151 k\u00f3dja."
          },
          "OrderId": {
            "minimum": 1,
            "type": "integer",
            "description": "Rendel\u00e9s azonos\u00edt\u00f3: Kapcsol\u00f3d\u00f3 rendel\u00e9snek a rendszer \u00e1ltal adott azonos\u00edt\u00f3ja (Order.Id). Kapcsol\u00f3d\u00f3 rendel\u00e9s azonos\u00edt\u00e1sa ez alapj\u00e1n t\u00f6rt\u00e9nik.",
            "format": "int64"
          },
          "PharmacyOrderId": {
            "maxLength": 50,
            "minLength": 1,
            "type": [
              "null",
              "string"
            ],
            "description": "A rendel\u00e9s gy\u00f3gyszert\u00e1ri rendszer azonos\u00edt\u00f3ja. Meg kell egyeznie a rendel\u00e9sben szerepl\u0151 gy\u00f3gyszert\u00e1ri azonos\u00edt\u00f3val (Order.PharmacyOrderId). Nagykeresked\u0151i oldalon azonos\u00edt\u00e1sra nem alkalmas \u00e9rt\u00e9k. K\u00e9zi hibakeres\u00e9s k\u00f6nny\u00edt\u00e9s\u00e9hez."
          },
          "ShippingAddress": {
            "oneOf": [
              {
                "type": "null"
              },
              {
                "description": "Sz\u00e1ll\u00edt\u00e1si c\u00edm. K\u00e9zi hibakeres\u00e9s k\u00f6nny\u00edt\u00e9s\u00e9hez.",
                "$ref": "#/components/schemas/ShippingAddress"
              }
            ]
          },
          "WholesalerOrderId": {
            "maxLength": 50,
            "minLength": 1,
            "type": [
              "null",
              "string"
            ],
            "description": "Sz\u00e1ll\u00edt\u00f3lev\u00e9l nagykeresked\u0151i azonos\u00edt\u00f3ja: A sz\u00e1ll\u00edt\u00f3lev\u00e9l nagykereskedelmi rendszerben l\u00e9v\u0151 azonos\u00edt\u00f3ja. Nagykeresked\u0151i oldalon a rendel\u00e9s azonos\u00edt\u00e1s\u00e1ra alkalmas \u00e9rt\u00e9k. K\u00f6telez\u0151 megadni, ha el\u00e9rhet\u0151 visszaigazol\u00e1skor."
          },
          "ExpectedDeliveryNoteCount": {
            "maximum": 1000,
            "minimum": 0,
            "type": "integer",
            "description": "V\u00e1rhat\u00f3 sz\u00e1ll\u00edt\u00f3levelek darabsz\u00e1ma. Teljes (minden t\u00e9tel) annul\u00e1l\u00e1s eset\u00e9n 0-t kell megadni.",
            "format": "int32"
          },
          "WholesalerNote": {
            "maxLength": 500,
            "minLength": 1,
            "type": [
              "null",
              "string"
            ],
            "description": "Nagykereskedelmi rendszer megjegyz\u00e9se: A visszaigazol\u00e1shoz kapcsol\u00f3d\u00f3 megjegyz\u00e9s."
          },
          "Items": {
            "minItems": 1,
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/ConfirmationItem"
            },
            "description": "Visszaigazol\u00e1s t\u00e9telek."
          }
        },
        "description": "Rendel\u00e9s visszaigazol\u00e1s l\u00e9trehoz\u00e1s."
      },
      "ConfirmationItem": {
        "required": [
          "SerialNumber",
          "Quantity"
        ],
        "type": "object",
        "properties": {
          "SerialNumber": {
            "maximum": 1999999,
            "minimum": 1,
            "type": "integer",
            "description": "T\u00e9tel sorsz\u00e1m: A t\u00e9tel rendel\u00e9sen bel\u00fcli azonos\u00edt\u00f3 sorsz\u00e1ma. A rendel\u00e9si t\u00e9tel n\u00e9lk\u00fcli visszaigazol\u00e1s t\u00e9telek eset\u00e9n a nagykeresked\u0151 oszt ki olyan sorsz\u00e1mokat, amik a rendel\u00e9sen nem szerepelnek, 1000001-1999999 k\u00f6z\u00f6tt.",
            "format": "int32"
          },
          "Name": {
            "maxLength": 500,
            "minLength": 1,
            "type": [
              "null",
              "string"
            ],
            "description": "Cikk neve: A visszaigazol\u00e1si t\u00e9tel neve. K\u00f6telez\u0151 megadni, ha el\u00e9rhet\u0151."
          },
          "ArticleNumber": {
            "maxLength": 50,
            "minLength": 1,
            "type": [
              "null",
              "string"
            ],
            "description": "Cikksz\u00e1m: A visszaigazol\u00e1si t\u00e9tel cikksz\u00e1ma. Ez az a term\u00e9k azonos\u00edt\u00f3, amikkel a nagykeresked\u0151k azonos\u00edtj\u00e1k a term\u00e9keket, \u00e9s bizonyos esetekben eljuttatj\u00e1k ezeket a patikai rendszerek sz\u00e1m\u00e1ra is. K\u00f6telez\u0151 ugyanazt megadni, ami a kapcsol\u00f3d\u00f3 rendel\u00e9sen szerepelt."
          },
          "AlimedCode": {
            "maxLength": 50,
            "minLength": 1,
            "type": [
              "null",
              "string"
            ],
            "description": "Alimed k\u00f3d: A visszaigazol\u00e1si t\u00e9tel alimed k\u00f3dja, ha van. K\u00f6telez\u0151 ugyanazt megadni, ami a kapcsol\u00f3d\u00f3 rendel\u00e9sen szerepelt."
          },
          "Quantity": {
            "maximum": 999999999,
            "minimum": 0,
            "type": "integer",
            "description": "Visszaigazolt mennyis\u00e9g. Annul\u00e1l\u00e1s eset\u00e9n 0. R\u00e9szteljes\u00edt\u00e9s eset\u00e9n a teljes\u00edtett mennyis\u00e9g.",
            "format": "int32"
          },
          "UnitOfQuantity": {
            "maxLength": 50,
            "minLength": 1,
            "type": [
              "null",
              "string"
            ],
            "description": "Visszaigazolt mennyis\u00e9g m\u00e9rt\u00e9kegys\u00e9ge. K\u00f6telez\u0151 megadni, ha el\u00e9rhet\u0151."
          },
          "DeliveryDate": {
            "maxLength": 24,
            "minLength": 10,
            "type": [
              "null",
              "string"
            ],
            "description": "Sz\u00e1ll\u00edt\u00e1si d\u00e1tum: A rendel\u00e9si t\u00e9tel v\u00e1rhat\u00f3 sz\u00e1ll\u00edt\u00e1si d\u00e1tum/ideje ISO 8601 szabv\u00e1ny szerint, legfeljebb ezredm\u00e1sodperc pontoss\u00e1gig, UTC-ben. K\u00f6telez\u0151 megadni, ha el\u00e9rhet\u0151.",
            "format": "date-time"
          },
          "IsCanceled": {
            "type": [
              "null",
              "boolean"
            ],
            "description": "Annul\u00e1lt t\u00e9tel: A t\u00e9tel annul\u00e1l\u00e1sra ker\u00fclt-e.",
            "default": false
          },
          "IsSubstitute": {
            "type": [
              "null",
              "boolean"
            ],
            "description": "Helyettes\u00edtett cikk: A t\u00e9tel helyettes\u00edtve lett egy m\u00e1sik term\u00e9kkel.",
            "default": false
          },
          "NetPrice": {
            "type": [
              "null",
              "number"
            ],
            "description": "Rendel\u00e9si t\u00e9tel nett\u00f3 egys\u00e9g\u00e1ra. Ha visszaigazol\u00e1skor nem ismert, akkor nem kell kit\u00f6lteni. Decimal t\u00edpus legfeljebb 5 tizedesjegy pontoss\u00e1ggal.",
            "format": "double"
          },
          "Currency": {
            "maxLength": 3,
            "minLength": 3,
            "type": [
              "null",
              "string"
            ],
            "description": "Rendel\u00e9si t\u00e9tel nett\u00f3 \u00e1r\u00e1nak p\u00e9nzneme ISO 4217 szabv\u00e1ny szerint, pl. HUF, EUR. K\u00f6telez\u0151 megadni, ha **NetPrice** megadott."
          },
          "SourceSite": {
            "maxLength": 50,
            "minLength": 1,
            "type": [
              "null",
              "string"
            ],
            "description": "Forr\u00e1s telephely: Telephely megnevez\u00e9se, ahonnan a term\u00e9k \u00e9rkezni fog. K\u00f6telez\u0151 megadni, ha el\u00e9rhet\u0151."
          },
          "WholesalerNote": {
            "maxLength": 500,
            "minLength": 1,
            "type": [
              "null",
              "string"
            ],
            "description": "Nagykereskedelmi rendszer megjegyz\u00e9se: A visszaigazol\u00e1s t\u00e9telhez kapcsol\u00f3d\u00f3 megjegyz\u00e9s. Nem k\u00f6telez\u0151 megadni."
          }
        }
      },
      "Customer": {
        "required": [
          "customerId",
          "type",
          "contactName",
          "contactEmail",
          "contactPhone"
        ],
        "type": "object",
        "properties": {
          "customerId": {
            "maxLength": 50,
            "minLength": 1,
            "type": "string",
            "description": "Vev\u0151 egyedi azonos\u00edt\u00f3ja a web\u00e1ruh\u00e1zi rendszerben."
          },
          "type": {
            "description": "Vev\u0151 t\u00edpusa.",
            "$ref": "#/components/schemas/CustomerType"
          },
          "contactName": {
            "maxLength": 250,
            "minLength": 1,
            "type": "string",
            "description": "Kapcsolattart\u00e1si szem\u00e9ly neve."
          },
          "contactEmail": {
            "maxLength": 200,
            "minLength": 1,
            "type": "string",
            "description": "Kapcsolattart\u00e1si szem\u00e9ly email c\u00edme."
          },
          "contactPhone": {
            "maxLength": 50,
            "minLength": 1,
            "type": "string",
            "description": "Kapcsolattart\u00e1si szem\u00e9ly telefonsz\u00e1ma."
          }
        },
        "description": "Vev\u0151."
      },
      "CustomerDelivery": {
        "required": [
          "id",
          "customerOrderId",
          "eshopCode",
          "reasonCode"
        ],
        "type": "object",
        "properties": {
          "id": {
            "minimum": 1,
            "type": "integer",
            "description": "Egyedi azonos\u00edt\u00f3.",
            "format": "int64"
          },
          "customerOrderId": {
            "minimum": 1,
            "type": "integer",
            "description": "Vev\u0151i rendel\u00e9s egyedi azonos\u00edt\u00f3ja (CustomerOrder.Id).",
            "format": "int64"
          },
          "eshopCode": {
            "maxLength": 50,
            "minLength": 1,
            "type": "string",
            "description": "Web\u00e1ruh\u00e1z k\u00f3dja a Connect rendszerben."
          },
          "reasonCode": {
            "description": "Vev\u0151i k\u00e9zbes\u00edt\u00e9s esem\u00e9nyk\u00f3dja, ami a sikeress\u00e9get vagy sikertelens\u00e9get jel\u00f6li.",
            "$ref": "#/components/schemas/CustomerDeliveryReasonCode"
          },
          "reasonText": {
            "maxLength": 200,
            "minLength": 1,
            "type": [
              "null",
              "string"
            ],
            "description": "K\u00e9zbes\u00edt\u00e9si esem\u00e9nyhez kapcsol\u00f3d\u00f3 magyar\u00e1zat."
          },
          "note": {
            "maxLength": 500,
            "minLength": 1,
            "type": [
              "null",
              "string"
            ],
            "description": "K\u00e9zbes\u00edt\u00e9shez kapcsol\u00f3d\u00f3 egy\u00e9b megjegyz\u00e9s."
          }
        },
        "description": "Vev\u0151i k\u00e9zbes\u00edt\u00e9s."
      },
      "CustomerDeliveryCreate": {
        "required": [
          "customerOrderId",
          "reasonCode"
        ],
        "type": "object",
        "properties": {
          "customerOrderId": {
            "minimum": 1,
            "type": "integer",
            "description": "Vev\u0151i rendel\u00e9s egyedi azonos\u00edt\u00f3ja (CustomerOrder.Id).",
            "format": "int64"
          },
          "reasonCode": {
            "description": "Vev\u0151i k\u00e9zbes\u00edt\u00e9s esem\u00e9nyk\u00f3dja, ami a sikeress\u00e9get vagy sikertelens\u00e9get jel\u00f6li.",
            "$ref": "#/components/schemas/CustomerDeliveryReasonCode"
          },
          "reasonText": {
            "maxLength": 200,
            "minLength": 1,
            "type": [
              "null",
              "string"
            ],
            "description": "K\u00e9zbes\u00edt\u00e9si esem\u00e9nyhez kapcsol\u00f3d\u00f3 magyar\u00e1zat. Sikeres k\u00e9zbes\u00edt\u00e9s eset\u00e9n nem k\u00f6telez\u0151 megadni. Sikertelen k\u00e9zbes\u00edt\u00e9s eset\u00e9n k\u00f6telez\u0151 megadni, ha el\u00e9rhet\u0151."
          },
          "note": {
            "maxLength": 500,
            "minLength": 1,
            "type": [
              "null",
              "string"
            ],
            "description": "K\u00e9zbes\u00edt\u00e9shez kapcsol\u00f3d\u00f3 egy\u00e9b megjegyz\u00e9s. Nem k\u00f6telez\u0151 megadni."
          }
        },
        "description": "Vev\u0151i k\u00e9zbes\u00edt\u00e9s."
      },
      "CustomerDeliveryReasonCode": {
        "enum": [
          "success",
          "shippingFailure",
          "customerFailure"
        ],
        "description": "Vev\u0151i k\u00e9zbes\u00edt\u00e9si k\u00f3d."
      },
      "CustomerInvoice": {
        "required": [
          "id",
          "customerOrderId",
          "eshopCode",
          "deliveryDate",
          "invoiceNumber"
        ],
        "type": "object",
        "properties": {
          "id": {
            "minimum": 1,
            "type": "integer",
            "description": "Egyedi azonos\u00edt\u00f3.",
            "format": "int64"
          },
          "customerOrderId": {
            "minimum": 1,
            "type": "integer",
            "description": "Vev\u0151i rendel\u00e9s egyedi azonos\u00edt\u00f3ja (CustomerOrder.Id).",
            "format": "int64"
          },
          "eshopCode": {
            "maxLength": 50,
            "minLength": 1,
            "type": "string",
            "description": "Web\u00e1ruh\u00e1z k\u00f3dja a Connect rendszerben."
          },
          "deliveryDate": {
            "maxLength": 10,
            "minLength": 10,
            "type": "string",
            "description": "A sz\u00e1mla teljes\u00edt\u00e9si d\u00e1tum/id\u0151pontja ISO 8601 szabv\u00e1ny szerint (csak d\u00e1tum).",
            "format": "date"
          },
          "invoiceNumber": {
            "maxLength": 50,
            "minLength": 1,
            "type": "string",
            "description": "Sz\u00e1mlasz\u00e1m, a sz\u00e1mla azonos\u00edt\u00f3ja."
          }
        },
        "description": "Vev\u0151i sz\u00e1mla."
      },
      "CustomerInvoiceCreate": {
        "required": [
          "customerOrderId",
          "deliveryDate",
          "invoiceNumber"
        ],
        "type": "object",
        "properties": {
          "customerOrderId": {
            "minimum": 1,
            "type": "integer",
            "description": "Vev\u0151i rendel\u00e9s egyedi azonos\u00edt\u00f3ja (CustomerOrder.Id).",
            "format": "int64"
          },
          "deliveryDate": {
            "maxLength": 10,
            "minLength": 10,
            "type": "string",
            "description": "A sz\u00e1mla teljes\u00edt\u00e9si d\u00e1tum/ideje ISO 8601 szabv\u00e1ny szerint (csak d\u00e1tum).",
            "format": "date"
          },
          "invoiceNumber": {
            "maxLength": 50,
            "minLength": 1,
            "type": "string",
            "description": "Sz\u00e1mlasz\u00e1m, a sz\u00e1mla azonos\u00edt\u00f3ja."
          }
        },
        "description": "Vev\u0151i sz\u00e1mla."
      },
      "CustomerOrder": {
        "required": [
          "id",
          "eshopCode",
          "shopOrderId",
          "orderDate",
          "deliveryMethod",
          "paymentMethod",
          "customer",
          "paymentDetails",
          "billingName",
          "billingAddress",
          "shippingAddress"
        ],
        "type": "object",
        "properties": {
          "id": {
            "minimum": 1,
            "type": "integer",
            "description": "Egyedi azonos\u00edt\u00f3.",
            "format": "int64"
          },
          "eshopCode": {
            "maxLength": 50,
            "minLength": 1,
            "type": "string",
            "description": "Web\u00e1ruh\u00e1z k\u00f3dja a Connect rendszerben."
          },
          "shopOrderId": {
            "maxLength": 50,
            "minLength": 1,
            "type": "string",
            "description": "A rendel\u00e9s azonos\u00edt\u00f3ja a web\u00e1ruh\u00e1zban."
          },
          "orderDate": {
            "maxLength": 24,
            "minLength": 10,
            "type": "string",
            "description": "A rendel\u00e9s d\u00e1tum/id\u0151pontja ISO 8601 szabv\u00e1ny szerint, legfeljebb ezredm\u00e1sodperc pontoss\u00e1gig, UTC-ben.",
            "format": "date-time"
          },
          "deliveryDate": {
            "maxLength": 24,
            "minLength": 10,
            "type": [
              "null",
              "string"
            ],
            "description": "K\u00e9rt teljes\u00edt\u00e9si d\u00e1tum/id\u0151pont ISO 8601 szabv\u00e1ny szerint, legfeljebb ezredm\u00e1sodperc pontoss\u00e1gig, UTC-ben. A rendel\u00e9s teljes\u00edt\u00e9si idej\u00e9re vonatkoz\u00f3 indik\u00e1lt hat\u00e1rid\u0151.",
            "format": "date-time"
          },
          "deliveryMethod": {
            "description": "Sz\u00e1ll\u00edt\u00e1si m\u00f3d.",
            "$ref": "#/components/schemas/DeliveryMethod"
          },
          "paymentMethod": {
            "description": "Fizet\u00e9si m\u00f3d.",
            "$ref": "#/components/schemas/PaymentMethod"
          },
          "shopNote": {
            "maxLength": 500,
            "minLength": 1,
            "type": [
              "null",
              "string"
            ],
            "description": "Web\u00e1ruh\u00e1zi megjegyz\u00e9s: A rendel\u00e9shez kapcsol\u00f3d\u00f3 megjegyz\u00e9s."
          },
          "isFulfillment": {
            "type": [
              "null",
              "boolean"
            ],
            "description": "A rendel\u00e9s fulfillment vagy nem.",
            "default": false
          },
          "customer": {
            "description": "Vev\u0151re vonatkoz\u00f3 adatok.",
            "$ref": "#/components/schemas/Customer"
          },
          "paymentDetails": {
            "oneOf": [
              {
                "type": "null"
              },
              {
                "description": "Fizet\u00e9sre vonatkoz\u00f3 adatok.",
                "$ref": "#/components/schemas/PaymentDetails"
              }
            ]
          },
          "billingName": {
            "maxLength": 250,
            "minLength": 1,
            "type": "string",
            "description": "Sz\u00e1ml\u00e1z\u00e1si n\u00e9v."
          },
          "communityVatNumber": {
            "maxLength": 50,
            "minLength": 1,
            "type": [
              "null",
              "string"
            ],
            "description": "K\u00f6z\u00f6ss\u00e9gi ad\u00f3sz\u00e1m."
          },
          "customerTaxNumber": {
            "maxLength": 50,
            "minLength": 1,
            "type": [
              "null",
              "string"
            ],
            "description": "A vev\u0151 ad\u00f3sz\u00e1ma (belf\u00f6ldi ad\u00f3sz\u00e1m)."
          },
          "billingAddress": {
            "description": "Sz\u00e1ml\u00e1z\u00e1si c\u00edmre vonatkoz\u00f3 adatok.",
            "$ref": "#/components/schemas/BillingAddress"
          },
          "shippingAddress": {
            "description": "Sz\u00e1ll\u00edt\u00e1si c\u00edmre vonatkoz\u00f3 adatok.",
            "$ref": "#/components/schemas/ShippingAddress"
          },
          "shippingNote": {
            "maxLength": 500,
            "minLength": 1,
            "type": [
              "null",
              "string"
            ],
            "description": "Sz\u00e1ll\u00edt\u00e1si megjegyz\u00e9s."
          },
          "loyaltyCardNumber": {
            "maxLength": 50,
            "minLength": 1,
            "type": [
              "null",
              "string"
            ],
            "description": "T\u00f6rzsv\u00e1s\u00e1rl\u00f3i k\u00e1rtya sz\u00e1ma."
          },
          "metadata": {
            "type": [
              "null",
              "object"
            ],
            "additionalProperties": {
              "type": "string"
            },
            "description": "Metaadat."
          },
          "items": {
            "minItems": 1,
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/CustomerOrderItem"
            },
            "description": "Rendel\u00e9si t\u00e9telek."
          }
        },
        "description": "Vev\u0151i rendel\u00e9s."
      },
      "CustomerOrderCreate": {
        "required": [
          "shopOrderId",
          "orderDate",
          "deliveryMethod",
          "paymentMethod",
          "customer",
          "billingName",
          "billingAddress",
          "shippingAddress"
        ],
        "type": "object",
        "properties": {
          "shopOrderId": {
            "maxLength": 50,
            "minLength": 1,
            "type": "string",
            "description": "A rendel\u00e9s azonos\u00edt\u00f3ja a web\u00e1ruh\u00e1zban."
          },
          "orderDate": {
            "maxLength": 24,
            "minLength": 10,
            "type": "string",
            "description": "A rendel\u00e9s d\u00e1tum/id\u0151pontja ISO 8601 szabv\u00e1ny szerint, legfeljebb ezredm\u00e1sodperc pontoss\u00e1gig, UTC-ben.",
            "format": "date-time"
          },
          "deliveryDate": {
            "maxLength": 24,
            "minLength": 10,
            "type": [
              "null",
              "string"
            ],
            "description": "K\u00e9rt teljes\u00edt\u00e9si d\u00e1tum/id\u0151pont ISO 8601 szabv\u00e1ny szerint, legfeljebb ezredm\u00e1sodperc pontoss\u00e1gig, UTC-ben. A rendel\u00e9s teljes\u00edt\u00e9si idej\u00e9re vonatkoz\u00f3 indik\u00e1lt hat\u00e1rid\u0151. K\u00f6telez\u0151 megadni, ha el\u00e9rhet\u0151.",
            "format": "date-time"
          },
          "deliveryMethod": {
            "description": "Sz\u00e1ll\u00edt\u00e1si m\u00f3d.",
            "$ref": "#/components/schemas/DeliveryMethod"
          },
          "paymentMethod": {
            "description": "Fizet\u00e9si m\u00f3d.",
            "$ref": "#/components/schemas/PaymentMethod"
          },
          "shopNote": {
            "maxLength": 500,
            "minLength": 1,
            "type": [
              "null",
              "string"
            ],
            "description": "Web\u00e1ruh\u00e1zi megjegyz\u00e9s: A rendel\u00e9shez kapcsol\u00f3d\u00f3 megjegyz\u00e9s. Nem k\u00f6telez\u0151 megadni."
          },
          "isFulfillment": {
            "type": [
              "null",
              "boolean"
            ],
            "description": "A rendel\u00e9s fulfillment vagy nem.",
            "default": false
          },
          "customer": {
            "description": "Vev\u0151re vonatkoz\u00f3 adatok.",
            "$ref": "#/components/schemas/Customer"
          },
          "carrierDeliveryDetails": {
            "oneOf": [
              {
                "type": "null"
              },
              {
                "description": "Fut\u00e1rszolg\u00e1lattal kapcsolatos adatok. K\u00f6telez\u0151 megadni, ha el\u00e9rhet\u0151.",
                "$ref": "#/components/schemas/CarrierDeliveryDetails"
              }
            ]
          },
          "paymentDetails": {
            "oneOf": [
              {
                "type": "null"
              },
              {
                "description": "Fizet\u00e9sre vonatkoz\u00f3 adatok. K\u00f6telez\u0151 megadni, ha el\u00e9rhet\u0151.",
                "$ref": "#/components/schemas/PaymentDetails"
              }
            ]
          },
          "billingName": {
            "maxLength": 250,
            "minLength": 1,
            "type": "string",
            "description": "Sz\u00e1ml\u00e1z\u00e1si n\u00e9v."
          },
          "communityVatNumber": {
            "maxLength": 50,
            "minLength": 1,
            "type": [
              "null",
              "string"
            ],
            "description": "K\u00f6z\u00f6ss\u00e9gi ad\u00f3sz\u00e1m. K\u00f6telez\u0151 megadni, ha el\u00e9rhet\u0151."
          },
          "customerTaxNumber": {
            "maxLength": 50,
            "minLength": 1,
            "type": [
              "null",
              "string"
            ],
            "description": "A vev\u0151 ad\u00f3sz\u00e1ma (belf\u00f6ldi ad\u00f3sz\u00e1m). K\u00f6telez\u0151 megadni, ha el\u00e9rhet\u0151 (pl. a vev\u0151 c\u00e9g)."
          },
          "billingAddress": {
            "description": "Sz\u00e1ml\u00e1z\u00e1si c\u00edmre vonatkoz\u00f3 adatok.",
            "$ref": "#/components/schemas/BillingAddress"
          },
          "shippingAddress": {
            "description": "Sz\u00e1ll\u00edt\u00e1si c\u00edmre vonatkoz\u00f3 adatok.",
            "$ref": "#/components/schemas/ShippingAddress"
          },
          "shippingNote": {
            "maxLength": 500,
            "minLength": 1,
            "type": [
              "null",
              "string"
            ],
            "description": "Sz\u00e1ll\u00edt\u00e1si megjegyz\u00e9s. Nem k\u00f6telez\u0151 megadni."
          },
          "loyaltyCardNumber": {
            "maxLength": 50,
            "minLength": 1,
            "type": [
              "null",
              "string"
            ],
            "description": "T\u00f6rzsv\u00e1s\u00e1rl\u00f3i k\u00e1rtya sz\u00e1ma. K\u00f6telez\u0151 megadni, ha el\u00e9rhet\u0151."
          },
          "customerOrderReference": {
            "oneOf": [
              {
                "type": "null"
              },
              {
                "description": "Hivatkoz\u00e1si adatok egy m\u00e1sik vev\u0151i rendel\u00e9ssel kapcsolatban.",
                "$ref": "#/components/schemas/CustomerOrderReference"
              }
            ]
          },
          "metadata": {
            "type": [
              "null",
              "object"
            ],
            "additionalProperties": {
              "type": "string"
            },
            "description": "Metaadat."
          },
          "items": {
            "minItems": 1,
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/CustomerOrderItem"
            },
            "description": "Rendel\u00e9si t\u00e9telek."
          }
        },
        "description": "Vev\u0151i rendel\u00e9s l\u00e9trehoz\u00e1s."
      },
      "CustomerOrderItem": {
        "required": [
          "serialNumber",
          "quantity",
          "grossValue",
          "currency"
        ],
        "type": "object",
        "properties": {
          "serialNumber": {
            "maximum": 999999,
            "minimum": 1,
            "type": "integer",
            "description": "A t\u00e9tel rendel\u00e9sen bel\u00fcli azonos\u00edt\u00f3 sorsz\u00e1ma. A h\u00edv\u00f3 f\u00e9l gener\u00e1lja, minden rendel\u00e9sen bel\u00fcl 1-t\u0151l kezd\u0151d\u0151en.",
            "format": "int32"
          },
          "name": {
            "maxLength": 500,
            "minLength": 1,
            "type": [
              "null",
              "string"
            ],
            "description": "Cikk neve: A rendel\u00e9si t\u00e9tel neve. K\u00f6telez\u0151 megadni, ha el\u00e9rhet\u0151."
          },
          "articleNumber": {
            "maxLength": 50,
            "minLength": 1,
            "type": [
              "null",
              "string"
            ],
            "description": "Cikksz\u00e1m: A rendel\u00e9si t\u00e9tel cikksz\u00e1ma. Norm\u00e1l t\u00e9tel eset\u00e9n k\u00f6telez\u0151 megadni. Nem cikk jelleg\u0171 eset\u00e9n **null**-t kell megadni."
          },
          "nonArticle": {
            "type": [
              "null",
              "boolean"
            ],
            "description": "A t\u00e9tel nem cikk jelleg\u0171 elem (nem rendelkezik cikksz\u00e1mmal). Ha **true**, a t\u00e9tel nem cikk jelleg\u0171 elem (sz\u00e1ll\u00edt\u00e1si d\u00edj, csomagol\u00e1si d\u00edj, szolg\u00e1ltat\u00e1si d\u00edj, stb.), ebben az esetben `ArticleNumber` \u00e9rt\u00e9ke **null**. Ha **false** vagy **null**, akkor a t\u00e9tel norm\u00e1l \u00e1rucikknek min\u0151s\u00fcl.",
            "default": false
          },
          "quantity": {
            "maximum": 999999999,
            "minimum": 0,
            "type": "integer",
            "description": "Rendelt mennyis\u00e9g: A rendel\u00e9si t\u00e9tel mennyis\u00e9ge.",
            "format": "int32"
          },
          "grossValue": {
            "maximum": 999999999,
            "minimum": 0,
            "type": "number",
            "description": "Rendel\u00e9si brutt\u00f3 \u00e1r. Decimal t\u00edpus legfeljebb 5 tizedesjegy pontoss\u00e1ggal.",
            "format": "double"
          },
          "currency": {
            "maxLength": 3,
            "minLength": 3,
            "type": "string",
            "description": "Rendel\u00e9si brutt\u00f3 \u00e1r p\u00e9nzneme ISO 4217 szabv\u00e1ny szerint, pl. HUF, EUR."
          }
        },
        "description": "Vev\u0151i rendel\u00e9s t\u00e9tel."
      },
      "CustomerOrderReference": {
        "type": "object",
        "properties": {
          "customerOrderId": {
            "minimum": 1,
            "type": [
              "null",
              "integer"
            ],
            "description": "Vev\u0151i rendel\u00e9s egyedi azonos\u00edt\u00f3ja (CustomerOrder.Id). K\u00f6telez\u0151 megadni, ha el\u00e9rhet\u0151.",
            "format": "int64"
          },
          "reasonText": {
            "maxLength": 200,
            "minLength": 1,
            "type": [
              "null",
              "string"
            ],
            "description": "K\u00e9zbes\u00edt\u00e9si esem\u00e9nyhez kapcsol\u00f3d\u00f3 magyar\u00e1zat. Nem k\u00f6telez\u0151 megadni."
          }
        },
        "description": "Vev\u0151i rendel\u00e9sre val\u00f3 hivatkoz\u00e1s."
      },
      "CustomerType": {
        "enum": [
          "private",
          "domestic",
          "other"
        ],
        "description": "Vev\u0151 t\u00edpusa."
      },
      "DeliveryMethod": {
        "enum": [
          "pharmacyPickup",
          "carrierDelivery"
        ],
        "description": "Sz\u00e1ll\u00edt\u00e1si m\u00f3d."
      },
      "DeliveryNote": {
        "required": [
          "Id",
          "Wholesaler",
          "CreatedDate",
          "WholesalerNote"
        ],
        "type": "object",
        "properties": {
          "Id": {
            "minimum": 1,
            "type": "integer",
            "description": "Egyedi azonos\u00edt\u00f3.",
            "format": "int64"
          },
          "DeliveryNoteWholesalerId": {
            "maxLength": 50,
            "minLength": 1,
            "type": [
              "null",
              "string"
            ],
            "description": "Sz\u00e1ll\u00edt\u00f3lev\u00e9l nagykeresked\u0151i azonos\u00edt\u00f3ja: A sz\u00e1ll\u00edt\u00f3lev\u00e9l nagykereskedelmi rendszerben l\u00e9v\u0151 azonos\u00edt\u00f3ja. K\u00f6telez\u0151 megadni, ha el\u00e9rhet\u0151."
          },
          "SourceSite": {
            "maxLength": 50,
            "minLength": 1,
            "type": [
              "null",
              "string"
            ],
            "description": "Forr\u00e1s telephely: Telephely megnevez\u00e9se, ahonnan a term\u00e9k \u00e9rkezik."
          },
          "Wholesaler": {
            "maxLength": 50,
            "minLength": 1,
            "type": "string",
            "description": "Nagykeresked\u0151 k\u00f3dja."
          },
          "MiddleWareInsertDate": {
            "maxLength": 24,
            "minLength": 10,
            "type": "string",
            "description": "A sz\u00e1ll\u00edt\u00f3lev\u00e9l be\u00e9rkez\u00e9sekori rendszer id\u0151. **Megsz\u0171n\u0151 mez\u0151: helyette CreatedDate-t kell haszn\u00e1lni!**",
            "format": "date-time",
            "deprecated": true
          },
          "CreatedDate": {
            "maxLength": 24,
            "minLength": 10,
            "type": "string",
            "description": "A sz\u00e1ll\u00edt\u00f3lev\u00e9l l\u00e9trehoz\u00e1s\u00e1nak d\u00e1tum/ideje (be\u00e9rkez\u00e9skori rendszer id\u0151) ISO 8601 szabv\u00e1ny szerint, legfeljebb ezredm\u00e1sodperc pontoss\u00e1gig, UTC-ben.",
            "format": "date-time"
          },
          "ShippingAddress": {
            "oneOf": [
              {
                "type": "null"
              },
              {
                "description": "Sz\u00e1ll\u00edt\u00e1si c\u00edm. K\u00e9zi hibakeres\u00e9s k\u00f6nny\u00edt\u00e9s\u00e9hez.",
                "$ref": "#/components/schemas/ShippingAddress"
              }
            ]
          },
          "InvoiceNumber": {
            "maxLength": 50,
            "minLength": 1,
            "type": [
              "null",
              "string"
            ],
            "description": "Sz\u00e1mlasz\u00e1m. Kapcsol\u00f3d\u00f3 sz\u00e1mla nagykeresked\u0151i azonos\u00edt\u00f3ja; ha a sz\u00e1ll\u00edt\u00f3lev\u00e9l ki\u00e1ll\u00edt\u00e1sakor ismert."
          },
          "NetValue": {
            "type": [
              "null",
              "number"
            ],
            "description": "Nett\u00f3 \u00e9rt\u00e9k (bizonylat \u00f6sszes t\u00e9tel\u00e9nek nett\u00f3 \u00e9rt\u00e9ke nagyker logik\u00e1j\u00e1nak megfelel\u0151 kerek\u00edt\u00e9ssel). Decimal t\u00edpus legfeljebb 5 tizedesjegy pontoss\u00e1ggal.",
            "format": "double"
          },
          "GrossValue": {
            "type": [
              "null",
              "number"
            ],
            "description": "Brutt\u00f3 \u00e9rt\u00e9k (bizonylat \u00f6sszes t\u00e9tel\u00e9nek nett\u00f3 \u00e9rt\u00e9ke nagyker logik\u00e1j\u00e1nak megfelel\u0151 kerek\u00edt\u00e9ssel). Decimal t\u00edpus legfeljebb 5 tizedesjegy pontoss\u00e1ggal.",
            "format": "double"
          },
          "ReceiptDate": {
            "maxLength": 24,
            "minLength": 10,
            "type": [
              "null",
              "string"
            ],
            "description": "Bizonylat d\u00e1tum/id\u0151 ISO 8601 szabv\u00e1ny szerint, legfeljebb ezredm\u00e1sodperc pontoss\u00e1gig, UTC-ben. (Sz\u00e1ll\u00edt\u00f3lev\u00e9l v\u00e9gleges\u00edt\u00e9s\u00e9nek d\u00e1tuma a nagykeresked\u0151i rendszerben.)",
            "format": "date-time"
          },
          "PaymentDeadLine": {
            "maxLength": 24,
            "minLength": 10,
            "type": [
              "null",
              "string"
            ],
            "description": "Fizet\u00e9si hat\u00e1rid\u0151 d\u00e1tum/ideje ISO 8601 szabv\u00e1ny szerint, legfeljebb ezredm\u00e1sodperc pontoss\u00e1gig, UTC-ben; ha a sz\u00e1ll\u00edt\u00f3lev\u00e9l ki\u00e1ll\u00edt\u00e1sakor ismert.",
            "format": "date-time"
          },
          "DeliveryDate": {
            "maxLength": 24,
            "minLength": 10,
            "type": [
              "null",
              "string"
            ],
            "description": "Teljes\u00edt\u00e9s d\u00e1tum/id\u0151 ISO 8601 szabv\u00e1ny szerint, legfeljebb ezredm\u00e1sodperc pontoss\u00e1gig, UTC-ben: Term\u00e9kek \u00e1tad\u00e1s\u00e1nak d\u00e1tuma.",
            "format": "date-time"
          },
          "WholesalerNote": {
            "maxLength": 500,
            "minLength": 1,
            "type": "string",
            "description": "Nagykereskedelmi rendszer megjegyz\u00e9se: A sz\u00e1ll\u00edt\u00f3lev\u00e9lhez kapcsol\u00f3d\u00f3 megjegyz\u00e9s."
          },
          "Fulfillment": {
            "oneOf": [
              {
                "type": "null"
              },
              {
                "description": "Fulfillmentre vonatkoz\u00f3 adatok.",
                "$ref": "#/components/schemas/DeliveryNoteFulfillment"
              }
            ]
          },
          "Items": {
            "minItems": 1,
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/DeliveryNoteItem"
            },
            "description": "Sz\u00e1ll\u00edt\u00f3lev\u00e9l t\u00e9telek."
          }
        },
        "description": "Sz\u00e1ll\u00edt\u00f3lev\u00e9l."
      },
      "DeliveryNoteCreate": {
        "required": [
          "Wholesaler"
        ],
        "type": "object",
        "properties": {
          "DeliveryNoteWholesalerId": {
            "maxLength": 50,
            "minLength": 1,
            "type": [
              "null",
              "string"
            ],
            "description": "Sz\u00e1ll\u00edt\u00f3lev\u00e9l nagykeresked\u0151i azonos\u00edt\u00f3ja: A sz\u00e1ll\u00edt\u00f3lev\u00e9l nagykereskedelmi rendszerben l\u00e9v\u0151 azonos\u00edt\u00f3ja. K\u00f6telez\u0151 megadni, ha el\u00e9rhet\u0151."
          },
          "SourceSite": {
            "maxLength": 50,
            "minLength": 1,
            "type": [
              "null",
              "string"
            ],
            "description": "Forr\u00e1s telephely: Telephely megnevez\u00e9se, ahonnan a term\u00e9k \u00e9rkezik. K\u00f6telez\u0151 megadni, ha el\u00e9rhet\u0151."
          },
          "Wholesaler": {
            "maxLength": 50,
            "minLength": 1,
            "type": "string",
            "description": "Nagykeresked\u0151 k\u00f3dja."
          },
          "ShippingAddress": {
            "oneOf": [
              {
                "type": "null"
              },
              {
                "description": "Sz\u00e1ll\u00edt\u00e1si c\u00edm. K\u00e9zi hibakeres\u00e9s k\u00f6nny\u00edt\u00e9s\u00e9hez. Nagyker nem v\u00e1ltoztathatja meg a rendel\u00e9sben szerepl\u0151 adatot.",
                "$ref": "#/components/schemas/ShippingAddress"
              }
            ]
          },
          "InvoiceNumber": {
            "maxLength": 50,
            "minLength": 1,
            "type": [
              "null",
              "string"
            ],
            "description": "Sz\u00e1mlasz\u00e1m. Kapcsol\u00f3d\u00f3 sz\u00e1mla nagykeresked\u0151i azonos\u00edt\u00f3ja. Ha a sz\u00e1ll\u00edt\u00f3lev\u00e9l ki\u00e1ll\u00edt\u00e1sakor ismert, akkor itt el\u0151re megadand\u00f3 sz\u00e1mla adat."
          },
          "NetValue": {
            "type": [
              "null",
              "number"
            ],
            "description": "Nett\u00f3 \u00e9rt\u00e9k (bizonylat \u00f6sszes t\u00e9tel\u00e9nek nett\u00f3 \u00e9rt\u00e9ke nagyker logik\u00e1j\u00e1nak megfelel\u0151 kerek\u00edt\u00e9ssel). K\u00f6telez\u0151 megadni, ha el\u00e9rhet\u0151. Decimal t\u00edpus legfeljebb 5 tizedesjegy pontoss\u00e1ggal.",
            "format": "double"
          },
          "GrossValue": {
            "type": [
              "null",
              "number"
            ],
            "description": "Brutt\u00f3 \u00e9rt\u00e9k (bizonylat \u00f6sszes t\u00e9tel\u00e9nek nett\u00f3 \u00e9rt\u00e9ke nagyker logik\u00e1j\u00e1nak megfelel\u0151 kerek\u00edt\u00e9ssel). K\u00f6telez\u0151 megadni, ha el\u00e9rhet\u0151. Decimal t\u00edpus legfeljebb 5 tizedesjegy pontoss\u00e1ggal.",
            "format": "double"
          },
          "ReceiptDate": {
            "maxLength": 24,
            "minLength": 10,
            "type": [
              "null",
              "string"
            ],
            "description": "Bizonylat d\u00e1tum/id\u0151 ISO 8601 szabv\u00e1ny szerint, legfeljebb ezredm\u00e1sodperc pontoss\u00e1gig, UTC-ben. (Sz\u00e1ll\u00edt\u00f3lev\u00e9l v\u00e9gleges\u00edt\u00e9s\u00e9nek d\u00e1tuma a nagykeresked\u0151i rendszerben.) K\u00f6telez\u0151 megadni, ha el\u00e9rhet\u0151.",
            "format": "date-time"
          },
          "PaymentDeadLine": {
            "maxLength": 24,
            "minLength": 10,
            "type": [
              "null",
              "string"
            ],
            "description": "Fizet\u00e9si hat\u00e1rid\u0151 d\u00e1tum/ideje ISO 8601 szabv\u00e1ny szerint, legfeljebb ezredm\u00e1sodperc pontoss\u00e1gig, UTC-ben. Ha a sz\u00e1ll\u00edt\u00f3lev\u00e9l ki\u00e1ll\u00edt\u00e1sakor ismert, akkor itt el\u0151re megadhat\u00f3 sz\u00e1mla adat.",
            "format": "date-time"
          },
          "DeliveryDate": {
            "maxLength": 24,
            "minLength": 10,
            "type": [
              "null",
              "string"
            ],
            "description": "Teljes\u00edt\u00e9s d\u00e1tum/id\u0151 ISO 8601 szabv\u00e1ny szerint, legfeljebb ezredm\u00e1sodperc pontoss\u00e1gig, UTC-ben: Term\u00e9kek \u00e1tad\u00e1s\u00e1nak d\u00e1tuma. K\u00f6telez\u0151 megadni, ha el\u00e9rhet\u0151.",
            "format": "date-time"
          },
          "WholesalerNote": {
            "maxLength": 500,
            "minLength": 1,
            "type": [
              "null",
              "string"
            ],
[...]
