{
  "openapi": "3.0.3",
  "info": {
    "title": "ThingSpeak API",
    "version": "1.0.0",
    "description": "ThingSpeak is an IoT platform that uses channels to store data sent from apps or devices. Use REST API calls to create channels, write and read data, manage TalkBack commands, and more.",
    "x-jentic-source-url": "https://thingspeak.com/docs",
    "contact": {
      "name": "API Support"
    }
  },
  "servers": [
    {
      "url": "https://api.thingspeak.com"
    }
  ],
  "paths": {
    "/channels.json": {
      "get": {
        "operationId": "listChannels",
        "summary": "List public channels",
        "description": "List public channels.",
        "tags": [
          "Channels"
        ],
        "security": [],
        "parameters": [
          {
            "name": "page",
            "in": "query",
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "tag",
            "in": "query",
            "description": "Filter by tag",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "username",
            "in": "query",
            "description": "Filter by username",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ChannelListResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      },
      "post": {
        "operationId": "createChannel",
        "summary": "Create a new channel",
        "description": "Create a new ThingSpeak channel.",
        "tags": [
          "Channels"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/x-www-form-urlencoded": {
              "schema": {
                "type": "object",
                "required": [
                  "api_key"
                ],
                "properties": {
                  "api_key": {
                    "type": "string",
                    "description": "User API Key"
                  },
                  "name": {
                    "type": "string"
                  },
                  "description": {
                    "type": "string"
                  },
                  "field1": {
                    "type": "string",
                    "description": "Field 1 name"
                  },
                  "field2": {
                    "type": "string"
                  },
                  "field3": {
                    "type": "string"
                  },
                  "field4": {
                    "type": "string"
                  },
                  "field5": {
                    "type": "string"
                  },
                  "field6": {
                    "type": "string"
                  },
                  "field7": {
                    "type": "string"
                  },
                  "field8": {
                    "type": "string"
                  },
                  "latitude": {
                    "type": "number"
                  },
                  "longitude": {
                    "type": "number"
                  },
                  "metadata": {
                    "type": "string"
                  },
                  "public_flag": {
                    "type": "boolean"
                  },
                  "tags": {
                    "type": "string"
                  },
                  "url": {
                    "type": "string"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Channel created",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Channel"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/channels/{channel_id}.json": {
      "get": {
        "operationId": "getChannel",
        "summary": "Get channel information",
        "description": "Get information about a specific channel.",
        "tags": [
          "Channels"
        ],
        "parameters": [
          {
            "name": "channel_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "api_key",
            "in": "query",
            "description": "Read API Key for private channels",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Channel"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      },
      "put": {
        "operationId": "updateChannel",
        "summary": "Update a channel",
        "description": "Update an existing channel.",
        "tags": [
          "Channels"
        ],
        "parameters": [
          {
            "name": "channel_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/x-www-form-urlencoded": {
              "schema": {
                "type": "object",
                "required": [
                  "api_key"
                ],
                "properties": {
                  "api_key": {
                    "type": "string",
                    "description": "User API Key"
                  },
                  "name": {
                    "type": "string"
                  },
                  "description": {
                    "type": "string"
                  },
                  "field1": {
                    "type": "string"
                  },
                  "field2": {
                    "type": "string"
                  },
                  "field3": {
                    "type": "string"
                  },
                  "field4": {
                    "type": "string"
                  },
                  "field5": {
                    "type": "string"
                  },
                  "field6": {
                    "type": "string"
                  },
                  "field7": {
                    "type": "string"
                  },
                  "field8": {
                    "type": "string"
                  },
                  "latitude": {
                    "type": "number"
                  },
                  "longitude": {
                    "type": "number"
                  },
                  "metadata": {
                    "type": "string"
                  },
                  "public_flag": {
                    "type": "boolean"
                  },
                  "tags": {
                    "type": "string"
                  },
                  "url": {
                    "type": "string"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Channel updated",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Channel"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      },
      "delete": {
        "operationId": "deleteChannel",
        "summary": "Delete a channel",
        "description": "Delete a channel.",
        "tags": [
          "Channels"
        ],
        "parameters": [
          {
            "name": "channel_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "api_key",
            "in": "query",
            "required": true,
            "description": "User API Key",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Channel deleted"
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/update.json": {
      "post": {
        "operationId": "writeData",
        "summary": "Write data to channel",
        "description": "Update channel feed with new data.",
        "tags": [
          "Feeds"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/x-www-form-urlencoded": {
              "schema": {
                "type": "object",
                "required": [
                  "api_key"
                ],
                "properties": {
                  "api_key": {
                    "type": "string",
                    "description": "Write API Key for the channel"
                  },
                  "field1": {
                    "type": "string"
                  },
                  "field2": {
                    "type": "string"
                  },
                  "field3": {
                    "type": "string"
                  },
                  "field4": {
                    "type": "string"
                  },
                  "field5": {
                    "type": "string"
                  },
                  "field6": {
                    "type": "string"
                  },
                  "field7": {
                    "type": "string"
                  },
                  "field8": {
                    "type": "string"
                  },
                  "lat": {
                    "type": "number",
                    "description": "Latitude (-90 to 90)"
                  },
                  "long": {
                    "type": "number",
                    "description": "Longitude (-180 to 180)"
                  },
                  "elevation": {
                    "type": "integer",
                    "description": "Elevation in meters"
                  },
                  "status": {
                    "type": "string",
                    "description": "Status update message"
                  },
                  "created_at": {
                    "type": "string",
                    "format": "date-time",
                    "description": "Custom timestamp (ISO 8601)"
                  }
                }
              }
            },
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UpdateResponse"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Data written successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/UpdateResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/channels/{channel_id}/feeds.json": {
      "get": {
        "operationId": "readData",
        "summary": "Read channel feed data",
        "description": "Read data from all fields in a channel.",
        "tags": [
          "Feeds"
        ],
        "parameters": [
          {
            "name": "channel_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "api_key",
            "in": "query",
            "description": "Read API Key (required for private channels)",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "results",
            "in": "query",
            "description": "Number of entries to retrieve (max 8000)",
            "schema": {
              "type": "integer",
              "maximum": 8000
            }
          },
          {
            "name": "days",
            "in": "query",
            "description": "Number of 24-hour periods before now",
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "minutes",
            "in": "query",
            "description": "Number of 60-second periods before now",
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "start",
            "in": "query",
            "description": "Start date (YYYY-MM-DD HH:NN:SS)",
            "schema": {
              "type": "string",
              "format": "date-time"
            }
          },
          {
            "name": "end",
            "in": "query",
            "description": "End date (YYYY-MM-DD HH:NN:SS)",
            "schema": {
              "type": "string",
              "format": "date-time"
            }
          },
          {
            "name": "timezone",
            "in": "query",
            "description": "Timezone identifier",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "offset",
            "in": "query",
            "description": "Timezone offset",
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "status",
            "in": "query",
            "description": "Include status updates",
            "schema": {
              "type": "boolean"
            }
          },
          {
            "name": "metadata",
            "in": "query",
            "description": "Include metadata",
            "schema": {
              "type": "boolean"
            }
          },
          {
            "name": "location",
            "in": "query",
            "description": "Include location data",
            "schema": {
              "type": "boolean"
            }
          },
          {
            "name": "min",
            "in": "query",
            "description": "Minimum value to include",
            "schema": {
              "type": "number"
            }
          },
          {
            "name": "max",
            "in": "query",
            "description": "Maximum value to include",
            "schema": {
              "type": "number"
            }
          },
          {
            "name": "round",
            "in": "query",
            "description": "Round to this many decimal places",
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "timescale",
            "in": "query",
            "description": "Get first value in this many minutes",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "sum",
            "in": "query",
            "description": "Get sum of this many minutes",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "average",
            "in": "query",
            "description": "Get average of this many minutes",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "median",
            "in": "query",
            "description": "Get median of this many minutes",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/FeedResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      },
      "delete": {
        "operationId": "clearChannelData",
        "summary": "Clear all data from channel",
        "description": "Delete all feed data from a channel.",
        "tags": [
          "Feeds"
        ],
        "parameters": [
          {
            "name": "channel_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/x-www-form-urlencoded": {
              "schema": {
                "type": "object",
                "required": [
                  "api_key"
                ],
                "properties": {
                  "api_key": {
                    "type": "string",
                    "description": "User API Key"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Channel data cleared"
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/channels/{channel_id}/fields/{field_id}.json": {
      "get": {
        "operationId": "readField",
        "summary": "Read data from single field",
        "description": "Read data from a single field of a channel.",
        "tags": [
          "Feeds"
        ],
        "parameters": [
          {
            "name": "channel_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "field_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "minimum": 1,
              "maximum": 8
            }
          },
          {
            "name": "api_key",
            "in": "query",
            "description": "Read API Key (required for private channels)",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "results",
            "in": "query",
            "description": "Number of entries to retrieve (max 8000)",
            "schema": {
              "type": "integer",
              "maximum": 8000
            }
          },
          {
            "name": "days",
            "in": "query",
            "description": "Number of 24-hour periods before now",
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "minutes",
            "in": "query",
            "description": "Number of 60-second periods before now",
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "start",
            "in": "query",
            "description": "Start date (YYYY-MM-DD HH:NN:SS)",
            "schema": {
              "type": "string",
              "format": "date-time"
            }
          },
          {
            "name": "end",
            "in": "query",
            "description": "End date (YYYY-MM-DD HH:NN:SS)",
            "schema": {
              "type": "string",
              "format": "date-time"
            }
          },
          {
            "name": "timezone",
            "in": "query",
            "description": "Timezone identifier",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "offset",
            "in": "query",
            "description": "Timezone offset",
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "status",
            "in": "query",
            "description": "Include status updates",
            "schema": {
              "type": "boolean"
            }
          },
          {
            "name": "metadata",
            "in": "query",
            "description": "Include metadata",
            "schema": {
              "type": "boolean"
            }
          },
          {
            "name": "location",
            "in": "query",
            "description": "Include location data",
            "schema": {
              "type": "boolean"
            }
          },
          {
            "name": "min",
            "in": "query",
            "description": "Minimum value to include",
            "schema": {
              "type": "number"
            }
          },
          {
            "name": "max",
            "in": "query",
            "description": "Maximum value to include",
            "schema": {
              "type": "number"
            }
          },
          {
            "name": "round",
            "in": "query",
            "description": "Round to this many decimal places",
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "timescale",
            "in": "query",
            "description": "Get first value in this many minutes",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "sum",
            "in": "query",
            "description": "Get sum of this many minutes",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "average",
            "in": "query",
            "description": "Get average of this many minutes",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "median",
            "in": "query",
            "description": "Get median of this many minutes",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/FeedResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/channels/{channel_id}/feeds/last.json": {
      "get": {
        "operationId": "readLastEntry",
        "summary": "Read last entry in channel",
        "description": "Read the last entry in a channel feed.",
        "tags": [
          "Feeds"
        ],
        "parameters": [
          {
            "name": "channel_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "api_key",
            "in": "query",
            "description": "Read API Key",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "timezone",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "status",
            "in": "query",
            "schema": {
              "type": "boolean"
            }
          },
          {
            "name": "location",
            "in": "query",
            "schema": {
              "type": "boolean"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/FeedEntry"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/channels/{channel_id}/fields/{field_id}/last.json": {
      "get": {
        "operationId": "readLastFieldEntry",
        "summary": "Read last entry in a field",
        "description": "Read the last entry in a specific field of a channel.",
        "tags": [
          "Feeds"
        ],
        "parameters": [
          {
            "name": "channel_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "field_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "api_key",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "timezone",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "status",
            "in": "query",
            "schema": {
              "type": "boolean"
            }
          },
          {
            "name": "location",
            "in": "query",
            "schema": {
              "type": "boolean"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/FeedEntry"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/channels/{channel_id}/status/last.json": {
      "get": {
        "operationId": "readLastStatus",
        "summary": "Read last status",
        "description": "Read the last status update of a channel.",
        "tags": [
          "Feeds"
        ],
        "parameters": [
          {
            "name": "channel_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "api_key",
            "in": "query",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Last status"
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/channels/{channel_id}/feeds/{entry_id}.json": {
      "get": {
        "operationId": "readStatus",
        "summary": "Read channel status",
        "description": "Read status of specific entry in channel.",
        "tags": [
          "Feeds"
        ],
        "parameters": [
          {
            "name": "channel_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "entry_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "api_key",
            "in": "query",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/FeedEntry"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/talkbacks/{talkback_id}/commands.json": {
      "get": {
        "operationId": "getAllTalkBackCommands",
        "summary": "Get all TalkBack commands",
        "description": "Get all commands from a TalkBack queue.",
        "tags": [
          "TalkBack"
        ],
        "parameters": [
          {
            "name": "talkback_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "api_key",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "List of TalkBack commands"
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      },
      "post": {
        "operationId": "addTalkBackCommand",
        "summary": "Add TalkBack command",
        "description": "Add a command to a TalkBack queue.",
        "tags": [
          "TalkBack"
        ],
        "parameters": [
          {
            "name": "talkback_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/x-www-form-urlencoded": {
              "schema": {
                "type": "object",
                "required": [
                  "api_key",
                  "command_string"
                ],
                "properties": {
                  "api_key": {
                    "type": "string",
                    "description": "TalkBack API Key"
                  },
                  "command_string": {
                    "type": "string"
                  },
                  "position": {
                    "type": "integer"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Command added",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TalkBackCommand"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      },
      "delete": {
        "operationId": "deleteAllTalkBackCommands",
        "summary": "Delete all TalkBack commands",
        "description": "Delete all commands in a TalkBack queue.",
        "tags": [
          "TalkBack"
        ],
        "parameters": [
          {
            "name": "talkback_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "api_key",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "All commands deleted"
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/talkbacks/{talkback_id}/commands/{command_id}.json": {
      "get": {
        "operationId": "getTalkBackCommand",
        "summary": "Get TalkBack command",
        "description": "Get a specific TalkBack command.",
        "tags": [
          "TalkBack"
        ],
        "parameters": [
          {
            "name": "talkback_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "command_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "api_key",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TalkBackCommand"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      },
      "put": {
        "operationId": "updateTalkBackCommand",
        "summary": "Update TalkBack command",
        "description": "Update a command in the TalkBack queue.",
        "tags": [
          "TalkBack"
        ],
        "parameters": [
          {
            "name": "talkback_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "command_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/x-www-form-urlencoded": {
              "schema": {
                "type": "object",
                "required": [
                  "api_key"
                ],
                "properties": {
                  "api_key": {
                    "type": "string"
                  },
                  "command_string": {
                    "type": "string"
                  },
                  "position": {
                    "type": "integer"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Command updated",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TalkBackCommand"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      },
      "delete": {
        "operationId": "deleteTalkBackCommand",
        "summary": "Delete TalkBack command",
        "description": "Delete a specific TalkBack command.",
        "tags": [
          "TalkBack"
        ],
        "parameters": [
          {
            "name": "talkback_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "command_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "api_key",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Command deleted"
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/talkbacks/{talkback_id}/commands/execute.json": {
      "post": {
        "operationId": "executeTalkBackCommand",
        "summary": "Execute next TalkBack command",
        "description": "Execute the next TalkBack command in the queue.",
        "tags": [
          "TalkBack"
        ],
        "parameters": [
          {
            "name": "talkback_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/x-www-form-urlencoded": {
              "schema": {
                "type": "object",
                "required": [
                  "api_key"
                ],
                "properties": {
                  "api_key": {
                    "type": "string",
                    "description": "TalkBack API Key"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Command executed",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TalkBackCommand"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/talkbacks/{talkback_id}/commands/last.json": {
      "get": {
        "operationId": "getLastExecutedCommand",
        "summary": "Get last executed command",
        "description": "Get the last executed TalkBack command.",
        "tags": [
          "TalkBack"
        ],
        "parameters": [
          {
            "name": "talkback_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "api_key",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TalkBackCommand"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/users/{user_id}.json": {
      "get": {
        "operationId": "getUser",
        "summary": "Get user profile",
        "description": "Get a user's public profile.",
        "tags": [
          "Users"
        ],
        "security": [],
        "parameters": [
          {
            "name": "user_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "User profile"
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    }
  },
  "components": {
    "schemas": {
      "ErrorResponse": {
        "type": "object",
        "properties": {
          "status": {
            "type": "string"
          },
          "error": {
            "type": "string"
          }
        }
      },
      "Channel": {
        "type": "object",
        "properties": {
          "id": {
            "type": "integer"
          },
          "name": {
            "type": "string"
          },
          "description": {
            "type": "string"
          },
          "latitude": {
            "type": "string"
          },
          "longitude": {
            "type": "string"
          },
          "field1": {
            "type": "string"
          },
          "field2": {
            "type": "string"
          },
          "field3": {
            "type": "string"
          },
          "field4": {
            "type": "string"
          },
          "field5": {
            "type": "string"
          },
          "field6": {
            "type": "string"
          },
          "field7": {
            "type": "string"
          },
          "field8": {
            "type": "string"
          },
          "created_at": {
            "type": "string",
            "format": "date-time"
          },
          "updated_at": {
            "type": "string",
            "format": "date-time"
          },
          "elevation": {
            "type": "string"
          },
          "last_entry_id": {
            "type": "integer"
          },
          "public_flag": {
            "type": "boolean"
          },
          "url": {
            "type": "string"
          },
          "metadata": {
            "type": "string"
          },
          "tags": {
            "type": "array",
            "items": {
              "type": "object"
            }
          }
        }
      },
      "FeedEntry": {
        "type": "object",
        "properties": {
          "created_at": {
            "type": "string",
            "format": "date-time"
          },
          "entry_id": {
            "type": "integer"
          },
          "field1": {
            "type": "string"
          },
          "field2": {
            "type": "string"
          },
          "field3": {
            "type": "string"
          },
          "field4": {
            "type": "string"
          },
          "field5": {
            "type": "string"
          },
          "field6": {
            "type": "string"
          },
          "field7": {
            "type": "string"
          },
          "field8": {
            "type": "string"
          },
          "latitude": {
            "type": "string"
          },
          "longitude": {
            "type": "string"
          },
          "elevation": {
            "type": "string"
          },
          "status": {
            "type": "string"
          }
        }
      },
      "FeedResponse": {
        "type": "object",
        "properties": {
          "channel": {
            "$ref": "#/components/schemas/Channel"
          },
          "feeds": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/FeedEntry"
            }
          }
        }
      },
      "UpdateResponse": {
        "type": "object",
        "properties": {
          "channel_id": {
            "type": "integer"
          },
          "created_at": {
            "type": "string",
            "format": "date-time"
          },
          "entry_id": {
            "type": "integer"
          },
          "field1": {
            "type": "string"
          },
          "field2": {
            "type": "string"
          },
          "field3": {
            "type": "string"
          },
          "field4": {
            "type": "string"
          },
          "field5": {
            "type": "string"
          },
          "field6": {
            "type": "string"
          },
          "field7": {
            "type": "string"
          },
          "field8": {
            "type": "string"
          },
          "latitude": {
            "type": "string"
          },
          "longitude": {
            "type": "string"
          },
          "elevation": {
            "type": "string"
          },
          "status": {
            "type": "string"
          }
        }
      },
      "TalkBackCommand": {
        "type": "object",
        "properties": {
          "id": {
            "type": "integer"
          },
          "command_string": {
            "type": "string"
          },
          "position": {
            "type": "integer"
          },
          "executed_at": {
            "type": "string",
            "format": "date-time"
          },
          "created_at": {
            "type": "string",
            "format": "date-time"
          },
          "updated_at": {
            "type": "string",
            "format": "date-time"
          }
        }
      },
      "ChannelListResponse": {
        "type": "object",
        "properties": {
          "channels": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Channel"
            }
          }
        }
      }
    },
    "securitySchemes": {
      "WriteApiKey": {
        "type": "apiKey",
        "in": "query",
        "name": "api_key",
        "description": "Write API Key for the specific channel"
      },
      "ReadApiKey": {
        "type": "apiKey",
        "in": "query",
        "name": "api_key",
        "description": "Read API Key (for private channels) or User API Key"
      },
      "UserApiKey": {
        "type": "apiKey",
        "in": "query",
        "name": "api_key",
        "description": "User API Key from profile"
      }
    }
  },
  "security": [
    {
      "UserApiKey": []
    }
  ],
  "tags": [
    {
      "name": "Channels",
      "description": "Channel management"
    },
    {
      "name": "Feeds",
      "description": "Channel data feeds (read/write)"
    },
    {
      "name": "TalkBack",
      "description": "TalkBack command queue management"
    },
    {
      "name": "Users",
      "description": "User operations"
    }
  ]
}
