{
  "openapi": "3.0.1",
  "info": {
    "title": "SblWfGOLMemberAddComplet",
    "description": "OpenAPI specification for SiebelWorkflow - API : workflow/GOL Member Add Completed VoeBiz WF",
    "contact": {
      "email": "sample@sample.com"
    },
    "version": "1.0",
    "x-jentic-source-url": "https://api.swaggerhub.com/apis/AccentureTechBullett/sblwfgolmemberaddcomplet/1.0"
  },
  "externalDocs": {
    "description": "OpenAPI",
    "url": "https://openapis.org"
  },
  "servers": [
    {
      "url": "https://siebel-rest-br-dev2.smiles.oracle.br:443/siebel/v1.0"
    },
    {
      "url": "http://siebel-rest-br-dev2.smiles.oracle.br:443/siebel/v1.0"
    }
  ],
  "tags": [
    {
      "name": "workflow/GOL Member Add Completed VoeBiz WF/"
    }
  ],
  "paths": {
    "/workflow/GOL Member Add Completed VoeBiz WF/": {
      "post": {
        "tags": [
          "workflow/GOL Member Add Completed VoeBiz WF/"
        ],
        "operationId": "workflow_GOL_Member_Add_Completed_VoeBiz_WF__post",
        "parameters": [
          {
            "name": "excludeEmptyFieldsInResponse",
            "in": "query",
            "schema": {
              "type": "string",
              "default": "false"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/workflow_GOL_Member_Add_Completed_VoeBiz_WF__in_args"
              }
            },
            "application/xml": {
              "schema": {
                "$ref": "#/components/schemas/workflow_GOL_Member_Add_Completed_VoeBiz_WF__in_args"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Successful Operation",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/workflow_GOL_Member_Add_Completed_VoeBiz_WF__out_args"
                }
              },
              "application/xml": {
                "schema": {
                  "$ref": "#/components/schemas/workflow_GOL_Member_Add_Completed_VoeBiz_WF__out_args"
                }
              }
            }
          },
          "204": {
            "description": "No Resource Found",
            "content": {}
          },
          "304": {
            "description": "Not Modified",
            "content": {}
          },
          "401": {
            "description": "Unauthorized",
            "content": {}
          },
          "403": {
            "description": "Access Forbidden",
            "content": {}
          },
          "404": {
            "description": "There is no data for the requested resource",
            "content": {}
          },
          "500": {
            "description": "Internal Server Error",
            "content": {}
          }
        },
        "security": [
          {
            "basicAuth": [],
            "oAuth2.0": []
          }
        ],
        "x-codegen-request-body-name": "body"
      }
    }
  },
  "components": {
    "schemas": {
      "workflow_GOL_Member_Add_Completed_VoeBiz_WF__in_args": {
        "type": "object",
        "properties": {
          "AnnualBudgetforTravel": {
            "title": "AnnualBudgetforTravel",
            "type": "string",
            "x-siebel-datatype": "String"
          },
          "BirthDate": {
            "title": "BirthDate",
            "type": "string",
            "x-siebel-datatype": "String"
          },
          "CNPJ": {
            "title": "CNPJ",
            "type": "string",
            "x-siebel-datatype": "String"
          },
          "CPF": {
            "title": "CPF",
            "type": "string",
            "x-siebel-datatype": "String"
          },
          "CellularPhone": {
            "title": "CellularPhone",
            "type": "string",
            "x-siebel-datatype": "String"
          },
          "CellularPhoneDDD": {
            "title": "CellularPhoneDDD",
            "type": "string",
            "x-siebel-datatype": "String"
          },
          "CellularPhoneDDI": {
            "title": "CellularPhoneDDI",
            "type": "string",
            "x-siebel-datatype": "String"
          },
          "Channel": {
            "title": "Channel",
            "type": "string",
            "x-siebel-datatype": "String"
          },
          "Citizenship": {
            "title": "Citizenship",
            "type": "string",
            "x-siebel-datatype": "String"
          },
          "City": {
            "title": "City",
            "type": "string",
            "x-siebel-datatype": "String"
          },
          "Complement": {
            "title": "Complement",
            "type": "string",
            "x-siebel-datatype": "String"
          },
          "Country": {
            "title": "Country",
            "type": "string",
            "x-siebel-datatype": "String"
          },
          "DeviceIdentification": {
            "title": "DeviceIdentification",
            "type": "string",
            "x-siebel-datatype": "String"
          },
          "DocumentType": {
            "title": "DocumentType",
            "type": "string",
            "x-siebel-datatype": "String"
          },
          "Email": {
            "title": "Email",
            "type": "string",
            "x-siebel-datatype": "String"
          },
          "Email2": {
            "title": "Email2",
            "type": "string",
            "x-siebel-datatype": "String"
          },
          "EmailUsage": {
            "title": "EmailUsage",
            "type": "string",
            "x-siebel-datatype": "String"
          },
          "FantasyName": {
            "title": "FantasyName",
            "type": "string",
            "x-siebel-datatype": "String"
          },
          "FirstName": {
            "title": "FirstName",
            "type": "string",
            "x-siebel-datatype": "String"
          },
          "Gender": {
            "title": "Gender",
            "type": "string",
            "x-siebel-datatype": "String"
          },
          "HomePhone": {
            "title": "HomePhone",
            "type": "string",
            "x-siebel-datatype": "String"
          },
          "HomePhoneDDD": {
            "title": "HomePhoneDDD",
            "type": "string",
            "x-siebel-datatype": "String"
          },
          "HomePhoneDDI": {
            "title": "HomePhoneDDI",
            "type": "string",
            "x-siebel-datatype": "String"
          },
          "HowMeetedProgram": {
            "title": "HowMeetedProgram",
            "type": "string",
            "x-siebel-datatype": "String"
          },
          "IVACondition": {
            "title": "IVACondition",
            "type": "string",
            "x-siebel-datatype": "String"
          },
          "IndicationCode": {
            "title": "IndicationCode",
            "type": "string",
            "x-siebel-datatype": "String"
          },
          "LanguageName": {
            "title": "LanguageName",
            "type": "string",
            "x-siebel-datatype": "String"
          },
          "LastName": {
            "title": "LastName",
            "type": "string",
            "x-siebel-datatype": "String"
          },
          "MainActivity": {
            "title": "MainActivity",
            "type": "string",
            "x-siebel-datatype": "String"
          },
          "Name": {
            "title": "Name",
            "type": "string",
            "x-siebel-datatype": "String"
          },
          "NeverCall": {
            "title": "NeverCall",
            "type": "string",
            "x-siebel-datatype": "String"
          },
          "NeverEmail": {
            "title": "NeverEmail",
            "type": "string",
            "x-siebel-datatype": "String"
          },
          "NeverFax": {
            "title": "NeverFax",
            "type": "string",
            "x-siebel-datatype": "String"
          },
          "NeverMail": {
            "title": "NeverMail",
            "type": "string",
            "x-siebel-datatype": "String"
          },
          "NeverSMS": {
            "title": "NeverSMS",
            "type": "string",
            "x-siebel-datatype": "String"
          },
          "NumberofEmployees": {
            "title": "NumberofEmployees",
            "type": "string",
            "x-siebel-datatype": "String"
          },
          "Occupation": {
            "title": "Occupation",
            "type": "string",
            "x-siebel-datatype": "String"
          },
          "OrganizationName": {
            "title": "OrganizationName",
            "type": "string",
            "x-siebel-datatype": "String"
          },
          "ParentMemberNumber": {
            "title": "ParentMemberNumber",
            "type": "string",
            "x-siebel-datatype": "String"
          },
          "PartnerAlias": {
            "title": "PartnerAlias",
            "type": "string",
            "x-siebel-datatype": "String"
          },
          "ProvidedServicesToGol": {
            "title": "ProvidedServicesToGol",
            "type": "string",
            "x-siebel-datatype": "String"
          },
          "ProvidedServicesToOthers": {
            "title": "ProvidedServicesToOthers",
            "type": "string",
            "x-siebel-datatype": "String"
          },
          "RG": {
            "title": "RG",
            "type": "string",
            "x-siebel-datatype": "String"
          },
          "RelationshipWithGOL": {
            "title": "RelationshipWithGOL",
            "type": "string",
            "x-siebel-datatype": "String"
          },
          "SendAccrlRdmEmail": {
            "title": "SendAccrlRdmEmail",
            "type": "string",
            "x-siebel-datatype": "String"
          },
          "SocialReason": {
            "title": "SocialReason",
            "type": "string",
            "x-siebel-datatype": "String"
          },
          "SourceIP": {
            "title": "SourceIP",
            "type": "string",
            "x-siebel-datatype": "String"
          },
          "State": {
            "title": "State",
            "type": "string",
            "x-siebel-datatype": "String"
          },
          "StreetAddress": {
            "title": "StreetAddress",
            "type": "string",
            "x-siebel-datatype": "String"
          },
          "StreetAddressNumber": {
            "title": "StreetAddressNumber",
            "type": "string",
            "x-siebel-datatype": "String"
          },
          "VerifiedCellularPhone": {
            "title": "VerifiedCellularPhone",
            "type": "string",
            "x-siebel-datatype": "String"
          },
          "WorkPhone": {
            "title": "WorkPhone",
            "type": "string",
            "x-siebel-datatype": "String"
          },
          "WorkPhoneDDD": {
            "title": "WorkPhoneDDD",
            "type": "string",
            "x-siebel-datatype": "String"
          },
          "WorkPhoneDDI": {
            "title": "WorkPhoneDDI",
            "type": "string",
            "x-siebel-datatype": "String"
          },
          "ZipCode": {
            "title": "ZipCode",
            "type": "string",
            "x-siebel-datatype": "String"
          }
        }
      },
      "workflow_GOL_Member_Add_Completed_VoeBiz_WF__out_args": {
        "type": "object",
        "properties": {
          "ErrMsg": {
            "title": "ErrMsg",
            "type": "string",
            "x-siebel-datatype": "String"
          },
          "Error Code": {
            "title": "Error Code",
            "type": "string",
            "x-siebel-datatype": "String"
          },
          "Error Message": {
            "title": "Error Message",
            "type": "string",
            "x-siebel-datatype": "String"
          },
          "MemberNumber": {
            "title": "MemberNumber",
            "type": "string",
            "x-siebel-datatype": "String"
          }
        }
      }
    },
    "securitySchemes": {
      "basicAuth": {
        "type": "http",
        "scheme": "basic"
      },
      "oAuth2.0": {
        "type": "oauth2",
        "flows": {
          "implicit": {
            "authorizationUrl": "http://openAPI.io/",
            "scopes": {
              "write:": "modify",
              "read:": "read only"
            }
          }
        }
      }
    }
  },
  "x-original-swagger-version": "3.0"
}