{
  "openapi": "3.0.0",
  "info": {
    "title": "V3 API",
    "description": "This section documents the V3 API endpoints that provide access to comprehensive audit and journey data from ObservePoint. Use these endpoints to retrieve detailed reports, export data, manage alerts, configure scans and privacy settings, and analyze web performance metrics from your ObservePoint scans.",
    "version": "1.0.0",
    "contact": {
      "name": "Observepoint",
      "url": "https://www.observepoint.com/contact-us"
    },
    "x-jentic-source-url": "https://api.swaggerhub.com/apis/DIANABRAUN/v3-api/1.0.0"
  },
  "servers": [
    {
      "url": "https://api.observepoint.com",
      "description": "ObservePoint Production API"
    }
  ],
  "tags": [
    {
      "name": "web-audits",
      "x-displayName": "Audit Run Data",
      "description": "Retrieve audit run data including pages, cookies, geo-locations, network requests, JS variables and failures for web audit runs"
    },
    {
      "name": "page-details-report",
      "x-displayName": "Page Details Report",
      "description": "Detailed information about specific pages including tags, cookies, request logs, and console logs"
    },
    {
      "name": "page-summary-report",
      "x-displayName": "Page Summary Report",
      "description": "Page Summary report endpoints"
    },
    {
      "name": "audit-summary-report",
      "x-displayName": "Audit Summary Report",
      "description": "Audit Summary report endpoints"
    },
    {
      "name": "alert-summary-report",
      "x-displayName": "Alert Summary Report",
      "description": "Alert Summary report endpoints"
    },
    {
      "name": "rule-summary-report",
      "x-displayName": "Rule Summary Report",
      "description": "Rule Summary report endpoints"
    },
    {
      "name": "tag-inventory-report",
      "x-displayName": "Tag Inventory Report",
      "description": "Tag Inventory report endpoints"
    },
    {
      "name": "tag-health-report",
      "x-displayName": "Tag Health Report",
      "description": "Tag Health report endpoints"
    },
    {
      "name": "tag-duplicates-and-multiples-report",
      "x-displayName": "Tag Duplicates and Multiples Report",
      "description": "Tag Duplicates and Multiples report endpoints"
    },
    {
      "name": "variable-inventory-report",
      "x-displayName": "Variable Inventory Report",
      "description": "Variable Inventory report endpoints"
    },
    {
      "name": "cookie-inventory-report",
      "x-displayName": "Cookie Inventory Report",
      "description": "Cookie Inventory report endpoints"
    },
    {
      "name": "browser-logs-report",
      "x-displayName": "Browser Logs Report",
      "description": "Browser Logs report endpoints"
    },
    {
      "name": "file-changes-report",
      "x-displayName": "File Changes Report",
      "description": "File changes report endpoints"
    },
    {
      "name": "cookie-privacy-report",
      "x-displayName": "Cookie Privacy report endpoints",
      "description": "Cookie privacy report"
    },
    {
      "name": "tag-privacy-report",
      "x-displayName": "Tag Privacy Report",
      "description": "Tag privacy report endpoints"
    },
    {
      "name": "request-privacy-report",
      "x-displayName": "Request Privacy Report",
      "description": "Request Privacy report endpoints"
    },
    {
      "name": "exports",
      "x-displayName": "Exports Center",
      "description": "Access requested exports status/information"
    },
    {
      "name": "scheduled-exports",
      "x-displayName": "Scheduled Exports",
      "description": "Manage scheduled grid report data exports"
    },
    {
      "name": "audit-run-export",
      "x-displayName": "Audit Run Export",
      "description": "Export audit run data"
    },
    {
      "name": "web-journey-run-export",
      "x-displayName": "Web Journey Run Export",
      "description": "Export web journey run data"
    },
    {
      "name": "manual-journey-run-export",
      "x-displayName": "Manual Journey Run Export",
      "description": "Export manual journey run data"
    },
    {
      "name": "consent-category-export",
      "x-displayName": "Consent Category Export",
      "description": "Export consent category data"
    },
    {
      "name": "alerts",
      "x-displayName": "Alerts",
      "description": "Alert management and configuration"
    },
    {
      "name": "account-triggered-alerts",
      "x-displayName": "Account's Triggered Alerts",
      "description": "Account-level triggered alerts"
    },
    {
      "name": "alert-export",
      "x-displayName": "Alert Export",
      "description": "Export alert data"
    },
    {
      "name": "account-usage-v2",
      "x-displayName": "Account Usage",
      "description": "Account usage data"
    },
    {
      "name": "account-usage-alerts",
      "x-displayName": "Account Usage Alerts",
      "description": "Alerts related to account usage"
    },
    {
      "name": "account-usage-export",
      "x-displayName": "Account Usage Export",
      "description": "Export account usage data"
    },
    {
      "name": "web-journey-cookie-report",
      "x-displayName": "Web Journey Cookie Report",
      "description": "Cookie analysis and reporting for web journeys"
    },
    {
      "name": "notification-center",
      "x-displayName": "Notification Center",
      "description": "Find and manage email subscriptions"
    },
    {
      "name": "email-inbox-messages",
      "x-displayName": "Email Inbox Messages",
      "description": "Get Email Inbox message details"
    },
    {
      "name": "email-inbox-message-alerts",
      "x-displayName": "Email Inbox Message Alerts",
      "description": "Email inbox message alerts"
    },
    {
      "name": "action-sets",
      "x-displayName": "Action Sets",
      "description": "APIs for managing Action Sets"
    },
    {
      "name": "action-set-actions",
      "x-displayName": "Action Set Actions",
      "description": "APIs for managing Action Set Actions"
    },
    {
      "name": "action-set-action-rules",
      "x-displayName": "Action Set Action Rules",
      "description": "APIs for managing Action Set Action Rules"
    },
    {
      "name": "consent-categories",
      "x-displayName": "Consent Categories",
      "description": "APIs for managing Consent Categories"
    },
    {
      "name": "data-sources",
      "x-displayName": "Data Sources",
      "description": "APIs for managing Data Sources"
    },
    {
      "name": "geo-locations",
      "x-displayName": "Geo Locations",
      "description": "APIs for geo locations"
    },
    {
      "name": "site-censuses",
      "x-displayName": "Site Censuses",
      "description": "APIs for managing Site Census"
    },
    {
      "name": "user-events",
      "x-displayName": "User Events",
      "description": "APIs for managing User Events"
    },
    {
      "name": "audits-management",
      "x-displayName": "Audits Management",
      "description": "APIs for managing audits"
    },
    {
      "name": "audits-consent-category",
      "x-displayName": "Audits Consent Category",
      "description": "APIs for managing audit consent categories"
    },
    {
      "name": "web-journeys-management",
      "x-displayName": "Web Journeys Management",
      "description": "APIs for managing Web Journeys"
    },
    {
      "name": "audit-blocking-config",
      "x-displayName": "Audit Blocking Config",
      "description": "APIs for managing audit request blocking configuration"
    },
    {
      "name": "audit-actions",
      "x-displayName": "Audit Actions",
      "description": "APIs for managing audit actions"
    },
    {
      "name": "audit-login-actions",
      "x-displayName": "Audit Login Actions",
      "description": "APIs for managing audit login actions"
    },
    {
      "name": "web-journey-blocking-config",
      "x-displayName": "Web Journey Blocking Config",
      "description": "APIs for managing web journey request blocking configuration"
    },
    {
      "name": "remote-file-mappings",
      "x-displayName": "Remote File Mappings",
      "description": "APIs for managing Remote File Mappings"
    },
    {
      "name": "web-journey-custom-headers",
      "x-displayName": "Web Journey Custom Headers",
      "description": "APIs for managing web journey custom headers"
    },
    {
      "name": "custom-headers",
      "x-displayName": "Custom Headers",
      "description": "APIs for managing custom HTTP header groups"
    },
    {
      "name": "rules",
      "x-displayName": "Rules",
      "description": "APIs for managing rules"
    },
    {
      "name": "schedules",
      "x-displayName": "Schedules",
      "description": "APIs for item schedules and calendars"
    },
    {
      "name": "email-inboxes",
      "x-displayName": "Email Inboxes",
      "description": "APIs for getting email messages and results from email inboxes"
    },
    {
      "name": "email-inbox-configuration",
      "x-displayName": "Email Inbox Configuration",
      "description": "APIs for managing email inbox configurations and setting"
    },
    {
      "name": "web-journeys-internal",
      "x-displayName": "web-journeys-internal"
    }
  ],
  "paths": {
    "/v3/web-audits/{auditId}/runs/{runId}/scores": {
      "parameters": [
        {
          "$ref": "#/components/parameters/AuditId"
        },
        {
          "$ref": "#/components/parameters/RunId"
        }
      ],
      "get": {
        "tags": [
          "web-audits"
        ],
        "summary": "Get scores for specified audit run",
        "operationId": "getAuditRunScores",
        "responses": {
          "200": {
            "description": "Audit scores data",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AuditRun_AuditSummary_ScoresDTO"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/responses-BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/responses-UnAuthorized"
          },
          "404": {
            "$ref": "#/components/responses/responses-NotFound"
          }
        },
        "security": [
          {
            "API_Key": []
          }
        ],
        "description": "<div class=\"op-path-box\"><span class=\"op-http-method-get\">GET</span> /v3/web-audits/<span class=\"op-path-parameter\">{auditId}</span>/runs/<span class=\"op-path-parameter\">{runId}</span>/scores</div>"
      }
    },
    "/v3/web-audits/{auditId}/runs/{runId}/pages": {
      "parameters": [
        {
          "$ref": "#/components/parameters/AuditId"
        },
        {
          "$ref": "#/components/parameters/RunId"
        },
        {
          "$ref": "#/components/parameters/pageParam"
        },
        {
          "$ref": "#/components/parameters/AuditRun_PagesList_PageSizeParam"
        },
        {
          "name": "sortBy",
          "in": "query",
          "required": false,
          "schema": {
            "$ref": "#/components/schemas/AuditRun_PagesSort"
          }
        },
        {
          "$ref": "#/components/parameters/SortDescendingParam"
        }
      ],
      "get": {
        "tags": [
          "web-audits"
        ],
        "operationId": "getAuditRunPages",
        "summary": "Return pages found in the run",
        "description": "<div class=\"op-path-box\"><span class=\"op-http-method-get\">GET</span> /v3/web-audits/<span class=\"op-path-parameter\">{auditId}</span>/runs/<span class=\"op-path-parameter\">{runId}</span>/pages</div>\n\nGet all the pages in a given audit run",
        "responses": {
          "200": {
            "description": "OK, return a list of unique pages found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AuditRun_Pages_DTO"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/responses-BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/responses-UnAuthorized"
          },
          "404": {
            "$ref": "#/components/responses/responses-NotFound"
          }
        },
        "security": [
          {
            "API_Key": []
          }
        ]
      }
    },
    "/v3/web-audits/{auditId}/runs/{runId}/cookies": {
      "parameters": [
        {
          "$ref": "#/components/parameters/AuditId"
        },
        {
          "$ref": "#/components/parameters/RunId"
        }
      ],
      "get": {
        "tags": [
          "web-audits"
        ],
        "operationId": "getCookies",
        "summary": "Return a list of unique cookies",
        "description": "<div class=\"op-path-box\"><span class=\"op-http-method-get\">GET</span> /v3/web-audits/<span class=\"op-path-parameter\">{auditId}</span>/runs/<span class=\"op-path-parameter\">{runId}</span>/cookies</div>\n\nGet all unique cookie name and domain found on all the pages in a given audit run",
        "responses": {
          "200": {
            "description": "OK, return a list of unique cookies found",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/CookieDTO"
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/responses-BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/responses-UnAuthorized"
          },
          "404": {
            "$ref": "#/components/responses/responses-NotFound"
          }
        },
        "security": [
          {
            "API_Key": []
          }
        ]
      }
    },
    "/v3/web-journeys/{webJourneyId}/runs/{runId}/actions/{actionSequenceId}/cookies": {
      "get": {
        "tags": [
          "web-journey-cookie-report"
        ],
        "description": "<div class=\"op-path-box\"><span class=\"op-http-method-get\">GET</span> /v3/web-journeys/<span class=\"op-path-parameter\">{webJourneyId}</span>/runs/<span class=\"op-path-parameter\">{runId}</span>/actions/<span class=\"op-path-parameter\">{actionSequenceId}</span>/cookies</div>\n\nGet all cookies affected by the given action",
        "summary": "Get cookies for action",
        "operationId": "getWebJourneyActionCookies",
        "parameters": [
          {
            "$ref": "#/components/parameters/WebJourneyId"
          },
          {
            "$ref": "#/components/parameters/RunId"
          },
          {
            "$ref": "#/components/parameters/ActionSequenceId"
          }
        ],
        "responses": {
          "200": {
            "description": "Cookies",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/WebJourneyActionCookiesDTO"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/responses-BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/responses-UnAuthorized"
          },
          "404": {
            "$ref": "#/components/responses/responses-NotFound"
          }
        },
        "security": [
          {
            "API_Key": []
          }
        ]
      }
    },
    "/v3/web-audits/{auditId}/runs/{runId}/pages/{pageId}/cookies/origin": {
      "parameters": [
        {
          "$ref": "#/components/parameters/AuditId"
        },
        {
          "$ref": "#/components/parameters/RunId"
        },
        {
          "$ref": "#/components/parameters/PageId"
        }
      ],
      "post": {
        "tags": [
          "page-details-report"
        ],
        "operationId": "getAuditCookieOriginStory",
        "deprecated": true,
        "description": "<div class=\"op-path-box\"><span class=\"op-http-method-post\">POST</span> /v3/web-audits/<span class=\"op-path-parameter\">{auditId}</span>/runs/<span class=\"op-path-parameter\">{runId}</span>/pages/<span class=\"op-path-parameter\">{pageId}</span>/cookies/origin</div>\n\nGet the origin story for a cookie",
        "summary": "Get cookie origin",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CookieOriginRequestDTO"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK, return a list of story actions",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AuditPageCookieOriginResponseDTO"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/responses-BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/responses-UnAuthorized"
          },
          "404": {
            "$ref": "#/components/responses/responses-NotFound"
          }
        },
        "security": [
          {
            "API_Key": []
          }
        ]
      }
    },
    "/v3/web-journeys/{webJourneyId}/runs/{runId}/cookies/origin": {
      "parameters": [
        {
          "$ref": "#/components/parameters/WebJourneyId"
        },
        {
          "$ref": "#/components/parameters/RunId"
        }
      ],
      "post": {
        "tags": [
          "web-journey-cookie-report"
        ],
        "operationId": "getWebJourneyRunCookieOriginStory",
        "description": "<div class=\"op-path-box\"><span class=\"op-http-method-post\">POST</span> /v3/web-journeys/<span class=\"op-path-parameter\">{webJourneyId}</span>/runs/<span class=\"op-path-parameter\">{runId}</span>/cookies/origin</div>\n\nGet the origin story for a cookie",
        "summary": "Get cookie origin",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CookieOriginRequestDTO"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK, return a list of origin story actions",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/WebJourneyRunCookieOrigin"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/responses-BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/responses-UnAuthorized"
          },
          "404": {
            "$ref": "#/components/responses/responses-NotFound"
          }
        },
        "security": [
          {
            "API_Key": []
          }
        ]
      }
    },
    "/v3/web-journeys/{webJourneyId}/runs/{runId}/actions/{actionId}/cookies/origin": {
      "parameters": [
        {
          "$ref": "#/components/parameters/WebJourneyId"
        },
        {
          "$ref": "#/components/parameters/RunId"
        },
        {
          "$ref": "#/components/parameters/ActionId"
        }
      ],
      "post": {
        "tags": [
          "web-journey-cookie-report"
        ],
        "operationId": "getWebJourneyActionCookieOriginStory",
        "description": "<div class=\"op-path-box\"><span class=\"op-http-method-post\">POST</span> /v3/web-journeys/<span class=\"op-path-parameter\">{webJourneyId}</span>/runs/<span class=\"op-path-parameter\">{runId}</span>/actions/<span class=\"op-path-parameter\">{actionId}</span>/cookies/origin</div>\n\nGet the origin story for a cookie",
        "summary": "Get cookie origin",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CookieOriginRequestDTO"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK, return a list of story actions",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/WebJourneyResponseCookieOriginDto"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/responses-BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/responses-UnAuthorized"
          },
          "404": {
            "$ref": "#/components/responses/responses-NotFound"
          }
        },
        "security": [
          {
            "API_Key": []
          }
        ]
      }
    },
    "/v3/web-audits/{auditId}/runs/{runId}/geo-locations": {
      "parameters": [
        {
          "$ref": "#/components/parameters/AuditId"
        },
        {
          "$ref": "#/components/parameters/RunId"
        }
      ],
      "get": {
        "tags": [
          "web-audits"
        ],
        "operationId": "getGeoLocation",
        "summary": "Return a list of unique geo-locations",
        "description": "<div class=\"op-path-box\"><span class=\"op-http-method-get\">GET</span> /v3/web-audits/<span class=\"op-path-parameter\">{auditId}</span>/runs/<span class=\"op-path-parameter\">{runId}</span>/geo-locations</div>\n\nGet all unique geo-locations found on all the pages in a given audit run",
        "responses": {
          "200": {
            "description": "OK, return a list of unique geo-locations found",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/GeoLocationDTO"
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/responses-BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/responses-UnAuthorized"
          },
          "404": {
            "$ref": "#/components/responses/responses-NotFound"
          }
        },
        "security": [
          {
            "API_Key": []
          }
        ]
      }
    },
    "/v3/web-audits/{auditId}/runs/{runId}/request-domains": {
      "parameters": [
        {
          "$ref": "#/components/parameters/AuditId"
        },
        {
          "$ref": "#/components/parameters/RunId"
        }
      ],
      "get": {
        "tags": [
          "web-audits"
        ],
        "operationId": "getRequestDomain",
        "summary": "Return a list of unique request-domains",
        "description": "<div class=\"op-path-box\"><span class=\"op-http-method-get\">GET</span> /v3/web-audits/<span class=\"op-path-parameter\">{auditId}</span>/runs/<span class=\"op-path-parameter\">{runId}</span>/request-domains</div>\n\nGet all unique request domains found on all the pages in a given audit run",
        "responses": {
          "200": {
            "description": "OK, return a list of request-domains found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RequestDomainDTO"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/responses-BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/responses-UnAuthorized"
          },
          "404": {
            "$ref": "#/components/responses/responses-NotFound"
          }
        },
        "security": [
          {
            "API_Key": []
          }
        ]
      }
    },
    "/v3/web-audits/{auditId}/runs/{runId}/javascript-variables": {
      "parameters": [
        {
          "$ref": "#/components/parameters/AuditId"
        },
        {
          "$ref": "#/components/parameters/RunId"
        },
        {
          "name": "size",
          "in": "query",
          "required": false,
          "description": "Number of items to be returned at once",
          "schema": {
            "type": "integer",
            "maximum": 1000,
            "default": 50,
            "minimum": 50
          }
        },
        {
          "name": "startAfterPageId",
          "in": "query",
          "required": false,
          "description": "Offset result, start from pageId next to `startAfterPageId`.\nTo fetch first page, don't supply this parameter. \nTo fetch subsequent pages, supply `metadata.pagination.lastPageId` from previous response\n",
          "schema": {
            "$ref": "#/components/schemas/PageId"
          }
        }
      ],
      "get": {
        "tags": [
          "web-audits"
        ],
        "operationId": "getJavaScriptVariables",
        "summary": "Return a list of pages with JS variables",
        "description": "<div class=\"op-path-box\"><span class=\"op-http-method-get\">GET</span> /v3/web-audits/<span class=\"op-path-parameter\">{auditId}</span>/runs/<span class=\"op-path-parameter\">{runId}</span>/javascript-variables</div>\n\nGet all JS variables found on all the pages in a given audit run",
        "responses": {
          "200": {
            "description": "Pages with JS variables",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PagesWithJsVariablesDTO"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/UnAuthorized"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          }
        },
        "security": [
          {
            "API_Key": []
          }
        ]
      }
    },
    "/v3/web-audits/{auditId}/runs/{runId}/reports/failures": {
      "parameters": [
        {
          "$ref": "#/components/parameters/AuditId"
        },
        {
          "$ref": "#/components/parameters/RunId"
        }
      ],
      "get": {
        "tags": [
          "web-audits"
        ],
        "operationId": "getAuditFailureResults",
        "description": "<div class=\"op-path-box\"><span class=\"op-http-method-get\">GET</span> /v3/web-audits/<span class=\"op-path-parameter\">{auditId}</span>/runs/<span class=\"op-path-parameter\">{runId}</span>/reports/failures</div>\n\nReturns a summary of failures for the given run. \nFailures summary includes details for Pre-Audit Actions, On-Page Actions, all found links excluded and starting URLs navigation results.\n",
        "summary": "Get run failures summary",
        "responses": {
          "200": {
            "description": "The result of the execution of the Audit Pre-Audit Actions if any",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AuditFailureResults"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/UnAuthorized"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          }
        },
        "security": [
          {
            "API_Key": []
          }
        ]
      }
    },
    "/v3/internal/audit-run/{runId}/pages": {
      "parameters": [
        {
          "$ref": "#/components/parameters/RunId"
        },
        {
          "$ref": "#/components/parameters/LimitParam"
        },
        {
          "$ref": "#/components/parameters/AfterParam"
        }
      ]
    },
    "/v3/web-audits/{auditId}/runs/{runId}/filter-validation/urls-matching-audit-configuration": {
      "parameters": [
        {
          "$ref": "#/components/parameters/AuditId"
        },
        {
          "$ref": "#/components/parameters/RunId"
        }
      ]
    },
    "/v3/web-audits/{auditId}/runs/{runId}/screenshots/thumbnail": {
      "parameters": [
        {
          "$ref": "#/components/parameters/AuditId"
        },
        {
          "$ref": "#/components/parameters/RunId"
        }
      ]
    },
    "/v3/web-journeys/{webJourneyId}/runs/{runId}/screenshots/thumbnail": {
      "parameters": [
        {
          "$ref": "#/components/parameters/WebJourneyId"
        },
        {
          "$ref": "#/components/parameters/RunId"
        }
      ]
    },
    "/v3/web-audits/{auditId}/runs/{runId}/pages/{pageId}/info": {
      "parameters": [
        {
          "$ref": "#/components/parameters/AuditId"
        },
        {
          "$ref": "#/components/parameters/RunId"
        },
        {
          "$ref": "#/components/parameters/PageId"
        },
        {
          "name": "withLinkSummary",
          "in": "query",
          "required": false,
          "description": "Parameter to request inclusion of `links` in response",
          "schema": {
            "type": "boolean",
            "default": false
          }
        },
        {
          "name": "withParentPage",
          "in": "query",
          "required": false,
          "description": "Parameter to request inclusion of `parent` in response",
          "schema": {
            "type": "boolean",
            "default": false
          }
        },
        {
          "name": "withScreenshotUrl",
          "in": "query",
          "required": false,
          "description": "Parameter to request inclusion of `screenshot` in response",
          "schema": {
            "type": "boolean",
            "default": false
          }
        }
      ],
      "get": {
        "tags": [
          "page-details-report"
        ],
        "operationId": "getPageInfo",
        "summary": "Return specific page information",
        "description": "<div class=\"op-path-box\"><span class=\"op-http-method-get\">GET</span> /v3/web-audits/<span class=\"op-path-parameter\">{auditId}</span>/runs/<span class=\"op-path-parameter\">{runId}</span>/pages/<span class=\"op-path-parameter\">{pageId}</span>/info</div>\n\nGet page information from specified audit run on a given page",
        "responses": {
          "200": {
            "description": "Page Info by page Id",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PageInfo"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/UnAuthorized"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          }
        },
        "security": [
          {
            "API_Key": []
          }
        ]
      }
    },
    "/v3/web-audits/{auditId}/runs/{runId}/pages/{pageId}/links/{linkDirection}": {
      "parameters": [
        {
          "$ref": "#/components/parameters/AuditId"
        },
        {
          "$ref": "#/components/parameters/RunId"
        },
        {
          "$ref": "#/components/parameters/PageId"
        },
        {
          "$ref": "#/components/parameters/AuditRun_PageInfo_LinkDirection"
        },
        {
          "$ref": "#/components/parameters/AuditRun_PageInfo_LinkDownloadOptions"
        },
        {
          "$ref": "#/components/parameters/AuditRun_PageInfo_ThisUrlType"
        }
      ],
      "get": {
        "tags": [
          "page-details-report"
        ],
        "operationId": "getPageLinks",
        "summary": "Get page links",
        "description": "<div class=\"op-path-box\"><span class=\"op-http-method-get\">GET</span> /v3/web-audits/<span class=\"op-path-parameter\">{auditId}</span>/runs/<span class=\"op-path-parameter\">{runId}</span>/pages/<span class=\"op-path-parameter\">{pageId}</span>/links/<span class=\"op-path-parameter\">{linkDirection}</span></div>\n\nGet up to 1000 page links with specified direction (from/to this page), use `downloadPageLinks` to get all items",
        "responses": {
          "200": {
            "description": "Page links",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AuditRun_PageInfo_LinksDTO"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/UnAuthorized"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          }
        },
        "security": [
          {
            "API_Key": []
          }
        ]
      }
    },
    "/v3/web-audits/{auditId}/runs/{runId}/pages/{pageId}/links/{linkDirection}/download": {
      "parameters": [
        {
          "$ref": "#/components/parameters/AuditId"
        },
        {
          "$ref": "#/components/parameters/RunId"
        },
        {
          "$ref": "#/components/parameters/PageId"
        },
        {
          "$ref": "#/components/parameters/AuditRun_PageInfo_LinkDirection"
        },
        {
          "$ref": "#/components/parameters/AuditRun_PageInfo_LinkDownloadOptions"
        },
        {
          "$ref": "#/components/parameters/AuditRun_PageInfo_ThisUrlType"
        }
      ],
      "get": {
        "tags": [
          "page-details-report"
        ],
        "operationId": "downloadPageLinks",
        "summary": "Download page links",
        "description": "<div class=\"op-path-box\"><span class=\"op-http-method-get\">GET</span> /v3/web-audits/<span class=\"op-path-parameter\">{auditId}</span>/runs/<span class=\"op-path-parameter\">{runId}</span>/pages/<span class=\"op-path-parameter\">{pageId}</span>/links/<span class=\"op-path-parameter\">{linkDirection}</span>/download</div>\n\nDownload page links with specified direction (from/to this page)",
        "responses": {
          "200": {
            "description": "Page links",
            "content": {
              "text/csv": {
                "schema": {
                  "type": "string",
                  "format": "csv",
                  "description": "See `AuditRun_PageInfo_LinkItem` for single row schema"
                }
              }
            },
            "headers": {
              "content-disposition": {
                "description": "Controls the name of the downloaded file (in case of `text/csv` content)",
                "schema": {
                  "type": "string",
                  "example": "attachment; filename=\"page-summary-links-to-this-page-My_Audit-2022-03-22_15-16-17.csv\""
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/UnAuthorized"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          }
        },
        "security": [
          {
            "API_Key": []
          }
        ]
      }
    },
    "/v3/web-audits/{auditId}/runs/{runId}/pages/{pageId}/file-mapping": {
      "parameters": [
        {
          "$ref": "#/components/parameters/AuditId"
        },
        {
          "$ref": "#/components/parameters/RunId"
        },
        {
          "$ref": "#/components/parameters/PageId"
        }
      ],
      "get": {
        "tags": [
          "page-details-report"
        ],
        "operationId": "getFileMapping",
        "summary": "Return remote file mapping results",
        "description": "<div class=\"op-path-box\"><span class=\"op-http-method-get\">GET</span> /v3/web-audits/<span class=\"op-path-parameter\">{auditId}</span>/runs/<span class=\"op-path-parameter\">{runId}</span>/pages/<span class=\"op-path-parameter\">{pageId}</span>/file-mapping</div>\n\nGet remote file mapping results from specified audit run on a given page",
        "responses": {
          "200": {
            "description": "Page Info by page Id",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/FileMappingResultsDTO"
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/UnAuthorized"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          }
        },
        "security": [
          {
            "API_Key": []
          }
        ]
      }
    },
    "/v3/web-audits/{auditId}/runs/{runId}/pages/{pageId}/tags": {
      "parameters": [
        {
          "$ref": "#/components/parameters/AuditId"
        },
        {
          "$ref": "#/components/parameters/RunId"
        },
        {
          "$ref": "#/components/parameters/PageId"
        },
        {
          "in": "query",
          "name": "getInsights",
          "schema": {
            "type": "boolean"
          },
          "required": false,
          "example": true
        }
      ],
      "get": {
        "tags": [
          "page-details-report"
        ],
        "operationId": "getPageTags",
        "summary": "Return page tag information",
        "description": "<div class=\"op-path-box\"><span class=\"op-http-method-get\">GET</span> /v3/web-audits/<span class=\"op-path-parameter\">{auditId}</span>/runs/<span class=\"op-path-parameter\">{runId}</span>/pages/<span class=\"op-path-parameter\">{pageId}</span>/tags</div>\n\nGet tags from specified audit run on a given page, getting summary insight is optional",
        "responses": {
          "200": {
            "description": "Tag Info by page Id, pageTagInsights object is optional",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TagInfoDTOWithInsights"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/UnAuthorized"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          }
        },
        "security": [
          {
            "API_Key": []
          }
        ]
      }
    },
    "/v3/web-audits/{auditId}/runs/{runId}/pages/{pageId}/cookies": {
      "parameters": [
        {
          "$ref": "#/components/parameters/AuditId"
        },
        {
          "$ref": "#/components/parameters/RunId"
        },
        {
          "$ref": "#/components/parameters/PageId"
        },
        {
          "$ref": "#/components/parameters/Cookies_GetInsightsParam"
        },
        {
          "$ref": "#/components/parameters/Cookies_GetOriginsParam"
        },
        {
          "$ref": "#/components/parameters/Cookies_HidePreAuditActionOnlyCookiesParam"
        }
      ],
      "get": {
        "tags": [
          "page-details-report"
        ],
        "operationId": "getPageCookies",
        "summary": "Return page cookie information",
        "description": "<div class=\"op-path-box\"><span class=\"op-http-method-get\">GET</span> /v3/web-audits/<span class=\"op-path-parameter\">{auditId}</span>/runs/<span class=\"op-path-parameter\">{runId}</span>/pages/<span class=\"op-path-parameter\">{pageId}</span>/cookies</div>\n\nGet cookies from specified audit run on a given page, getting summary insight is optional",
        "responses": {
          "200": {
            "description": "OK, return cookies found on a page",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AuditPageCookiesDTO"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/UnAuthorized"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          }
        },
        "security": [
          {
            "API_Key": []
          }
        ]
      }
    },
    "/v3/web-audits/{auditId}/runs/{runId}/pages/{pageId}/request-log": {
      "parameters": [
        {
          "$ref": "#/components/parameters/AuditId"
        },
        {
          "$ref": "#/components/parameters/RunId"
        },
        {
          "$ref": "#/components/parameters/PageId"
        },
        {
          "$ref": "#/components/parameters/pageParam"
        },
        {
          "$ref": "#/components/parameters/AuditRun_Page_RequestLog_PageSizeParam"
        },
        {
          "name": "sortBy",
          "in": "query",
          "required": false,
          "schema": {
            "$ref": "#/components/schemas/AuditRun_PageDetails_RequestLogSortColumn"
          }
        },
        {
          "$ref": "#/components/parameters/SortDescendingParam"
        },
        {
          "$ref": "#/components/parameters/searchParam"
        },
        {
          "$ref": "#/components/parameters/showPreAuditActionRequests"
        },
        {
          "in": "query",
          "name": "showFileChanges",
          "schema": {
            "type": "boolean",
            "default": false
          },
          "required": false,
          "description": "For privacy customers, when file changes are requested, we show the changes of the files between previous run and current run."
        }
      ],
      "get": {
        "tags": [
          "page-details-report"
        ],
        "operationId": "getPageRequestLog",
        "summary": "Return network requests fired on a given page",
        "description": "<div class=\"op-path-box\"><span class=\"op-http-method-get\">GET</span> /v3/web-audits/<span class=\"op-path-parameter\">{auditId}</span>/runs/<span class=\"op-path-parameter\">{runId}</span>/pages/<span class=\"op-path-parameter\">{pageId}</span>/request-log</div>\n\nGet request logs from specified audit run on a given page",
        "responses": {
          "200": {
            "description": "OK, return a list of network requests send",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RequestLogDTO"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/UnAuthorized"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          }
        },
        "security": [
          {
            "API_Key": []
          }
        ]
      }
    },
    "/v3/web-audits/{auditId}/runs/{runId}/pages/{pageId}/initiators": {
      "parameters": [
        {
          "$ref": "#/components/parameters/AuditId"
        },
        {
          "$ref": "#/components/parameters/RunId"
        },
        {
          "$ref": "#/components/parameters/PageId"
        }
      ],
      "post": {
        "tags": [
          "page-details-report"
        ],
        "operationId": "getPageInitiators",
        "summary": "Get request initiators info for a given page",
        "description": "<div class=\"op-path-box\"><span class=\"op-http-method-post\">POST</span> /v3/web-audits/<span class=\"op-path-parameter\">{auditId}</span>/runs/<span class=\"op-path-parameter\">{runId}</span>/pages/<span class=\"op-path-parameter\">{pageId}</span>/initiators</div>\n\nGet request initiators info for specified audit run page",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/AuditRunPage_InitiatorsTree_RequestDTO"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AuditRunPage_InitiatorsTree_ResponseDTO"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/UnAuthorized"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          }
        },
        "security": [
          {
            "API_Key": []
          }
        ]
      }
    },
    "/v3/web-audits/{auditId}/runs/{runId}/pages/{pageId}/initiators/request-log": {
      "parameters": [
        {
          "$ref": "#/components/parameters/AuditId"
        },
        {
          "$ref": "#/components/parameters/RunId"
        },
        {
          "$ref": "#/components/parameters/PageId"
        }
      ],
      "post": {
        "tags": [
          "page-details-report"
        ],
        "operationId": "getPageRequestsByHarEntryIndices",
        "summary": "Get requests by HAR entry indices",
        "description": "<div class=\"op-path-box\"><span class=\"op-http-method-post\">POST</span> /v3/web-audits/<span class=\"op-path-parameter\">{auditId}</span>/runs/<span class=\"op-path-parameter\">{runId}</span>/pages/<span class=\"op-path-parameter\">{pageId}</span>/initiators/request-log</div>",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/QueryByHarEntryIndices_RequestDto"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetRequestsByHarEntryIndices_ResponseDto"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/UnAuthorized"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          }
        },
        "security": [
          {
            "API_Key": []
          }
        ]
      }
    },
    "/v3/web-audits/{auditId}/runs/{runId}/pages/{pageId}/initiators/cookies": {
      "parameters": [
        {
          "$ref": "#/components/parameters/AuditId"
        },
        {
          "$ref": "#/components/parameters/RunId"
        },
        {
          "$ref": "#/components/parameters/PageId"
        }
      ],
      "get": {
        "tags": [
          "page-details-report"
        ],
        "operationId": "getPageCookiesByHarEntryIndices",
        "summary": "Get cookies for all HAR entries on a page",
        "description": "<div class=\"op-path-box\"><span class=\"op-http-method-get\">GET</span> /v3/web-audits/<span class=\"op-path-parameter\">{auditId}</span>/runs/<span class=\"op-path-parameter\">{runId}</span>/pages/<span class=\"op-path-parameter\">{pageId}</span>/initiators/cookies</div>\n\nGet cookies for all HAR entries on a page",
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetCookiesByHarEntryIndices_ResponseDto"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/UnAuthorized"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          }
        },
        "security": [
          {
            "API_Key": []
          }
        ]
      }
    },
    "/v3/web-audits/{auditId}/runs/{runId}/pages/{pageId}/console-log-summary": {
      "parameters": [
        {
          "$ref": "#/components/parameters/AuditId"
        },
        {
          "$ref": "#/components/parameters/RunId"
        },
        {
          "$ref": "#/components/parameters/PageId"
        }
      ],
      "post": {
        "tags": [
          "page-details-report"
        ],
        "operationId": "getPageConsoleLogSummary",
        "summary": "Return console logs summary on a given page",
        "description": "<div class=\"op-path-box\"><span class=\"op-http-method-post\">POST</span> /v3/web-audits/<span class=\"op-path-parameter\">{auditId}</span>/runs/<span class=\"op-path-parameter\">{runId}</span>/pages/<span class=\"op-path-parameter\">{pageId}</span>/console-log-summary</div>\n\nGet browser console logs summary for specified audit run page",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/AuditRunPage_ConsoleLogs_RequestDTO"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ConsoleLogSummary"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/UnAuthorized"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          }
        },
        "security": [
          {
            "API_Key": []
          }
        ]
      }
    },
    "/v3/web-audits/{auditId}/runs/{runId}/pages/{pageId}/console-log": {
      "parameters": [
        {
          "$ref": "#/components/parameters/AuditId"
        },
        {
          "$ref": "#/components/parameters/RunId"
        },
        {
          "$ref": "#/components/parameters/PageId"
        },
        {
          "$ref": "#/components/parameters/pageParam"
        },
        {
          "in": "query",
          "name": "size",
          "required": false,
          "schema": {
            "type": "integer",
            "maximum": 200,
            "default": 50,
            "minimum": 50
          }
        },
        {
          "name": "sortBy",
          "in": "query",
          "required": false,
          "schema": {
            "$ref": "#/components/schemas/AuditRunPage_BrowserLogs_MessagesSortColumn"
          }
        },
        {
          "$ref": "#/components/parameters/SortDescendingParam"
        }
      ],
      "post": {
        "tags": [
          "page-details-report"
        ],
        "operationId": "getPageConsoleLog",
        "summary": "Return console logs generated on a given page",
        "description": "<div class=\"op-path-box\"><span class=\"op-http-method-post\">POST</span> /v3/web-audits/<span class=\"op-path-parameter\">{auditId}</span>/runs/<span class=\"op-path-parameter\">{runId}</span>/pages/<span class=\"op-path-parameter\">{pageId}</span>/console-log</div>\n\nGet browser console logs for specified audit run page",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/AuditRunPage_ConsoleLogs_RequestDTO"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK, return a list of console logs generated",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AuditRunPage_ConsoleLogsDTO"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/UnAuthorized"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          }
        },
        "security": [
          {
            "API_Key": []
          }
        ]
      }
    },
    "/v3/web-audits/{auditId}/runs/{runId}/pages/{pageId}/sparklines": {
      "parameters": [
        {
          "$ref": "#/components/parameters/AuditId"
        },
        {
          "$ref": "#/components/parameters/RunId"
        },
        {
          "$ref": "#/components/parameters/PageId"
        }
      ],
      "get": {
        "tags": [
          "page-details-report"
        ],
        "summary": "Return insights on a given page for all runs in the given days",
        "operationId": "getPageSparklines",
        "responses": {
          "200": {
            "description": "Page Insights by page Id",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SparkLinesDTO"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/UnAuthorized"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          }
        },
        "security": [
          {
            "API_Key": []
          }
        ],
        "description": "<div class=\"op-path-box\"><span class=\"op-http-method-get\">GET</span> /v3/web-audits/<span class=\"op-path-parameter\">{auditId}</span>/runs/<span class=\"op-path-parameter\">{runId}</span>/pages/<span class=\"op-path-parameter\">{pageId}</span>/sparklines</div>"
      }
    },
    "/v3/web-audits/{auditId}/runs/{runId}/pages/{pageId}/trends/web-vitals": {
      "parameters": [
        {
          "$ref": "#/components/parameters/AuditId"
        },
        {
          "$ref": "#/components/parameters/RunId"
        },
        {
          "$ref": "#/components/parameters/PageId"
        }
      ],
      "get": {
        "tags": [
          "page-details-report"
        ],
        "summary": "Get Page Details Web Vitals trends relative to specified audit run",
        "operationId": "getPageDetailsPageWebVitalsTrends",
        "responses": {
          "200": {
            "description": "Page Details Web Vitals trends data",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AuditRun_PageDetails_WebVitalsTrends_Response"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/UnAuthorized"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          }
        },
        "security": [
          {
            "API_Key": []
          }
        ],
        "description": "<div class=\"op-path-box\"><span class=\"op-http-method-get\">GET</span> /v3/web-audits/<span class=\"op-path-parameter\">{auditId}</span>/runs/<span class=\"op-path-parameter\">{runId}</span>/pages/<span class=\"op-path-parameter\">{pageId}</span>/trends/web-vitals</div>"
      }
    },
    "/v3/web-audits/{auditId}/pages/{pageId}/insight-trends/{trendName}": {
      "parameters": [
        {
          "$ref": "#/components/parameters/AuditId"
        },
        {
          "$ref": "#/components/parameters/PageId"
        },
        {
          "in": "path",
          "name": "trendName",
          "description": "name of the insight trend type",
          "schema": {
            "$ref": "#/components/schemas/AuditRun_PageDetails_TrendsEnum"
          },
          "required": true
        },
        {
          "in": "query",
          "name": "day",
          "description": "how many days of run records should be included",
          "schema": {
            "type": "integer",
            "minimum": 1,
            "maximum": 390,
            "example": 120
          },
          "required": true
        }
      ],
      "get": {
        "tags": [
          "page-details-report"
        ],
        "summary": "Return specific insight trend on a given page for all runs in the given duration (days)",
        "operationId": "getPageInsightTrend",
        "responses": {
          "200": {
            "description": "A array of page insights",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PageTrendsDTO"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/UnAuthorized"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          }
        },
        "security": [
          {
            "API_Key": []
          }
        ],
        "description": "<div class=\"op-path-box\"><span class=\"op-http-method-get\">GET</span> /v3/web-audits/<span class=\"op-path-parameter\">{auditId}</span>/pages/<span class=\"op-path-parameter\">{pageId}</span>/insight-trends/<span class=\"op-path-parameter\">{trendName}</span></div>"
      }
    },
    "/v3/web-audits/{auditId}/pages/{pageId}/trends/web-vitals/{trendName}": {
      "parameters": [
        {
          "$ref": "#/components/parameters/AuditId"
        },
        {
          "$ref": "#/components/parameters/PageId"
        },
        {
          "$ref": "#/components/parameters/AuditRun_Trends_DaysParam"
        },
        {
          "in": "path",
          "name": "trendName",
          "schema": {
            "$ref": "#/components/schemas/AuditRun_WebVitalsTrends_Enum"
          },
          "required": true
        }
      ],
      "get": {
        "tags": [
          "page-details-report"
        ],
        "summary": "Get Page Details Web Vitals specific trend values relative to current day",
        "operationId": "getPageDetailsPageWebVitalsTrend",
        "responses": {
          "200": {
            "description": "Page Details Web Vitals specific trend values",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AuditRun_PageDetails_SpecificWebVitalsTrend_Response"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/UnAuthorized"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          }
        },
        "security": [
          {
            "API_Key": []
          }
        ],
        "description": "<div class=\"op-path-box\"><span class=\"op-http-method-get\">GET</span> /v3/web-audits/<span class=\"op-path-parameter\">{auditId}</span>/pages/<span class=\"op-path-parameter\">{pageId}</span>/trends/web-vitals/<span class=\"op-path-parameter\">{trendName}</span></div>"
      }
    },
    "/v3/web-audits/{auditId}/runs/{runId}/pages/{pageId}/screenshot": {
      "parameters": [
        {
          "$ref": "#/components/parameters/AuditId"
        },
        {
          "$ref": "#/components/parameters/RunId"
        },
        {
          "$ref": "#/components/parameters/PageId"
        }
      ],
      "get": {
        "tags": [
          "web-audits"
        ],
        "operationId": "generateAuditRunPageScreenshot",
        "description": "<div class=\"op-path-box\"><span class=\"op-http-method-get\">GET</span> /v3/web-audits/<span class=\"op-path-parameter\">{auditId}</span>/runs/<span class=\"op-path-parameter\">{runId}</span>/pages/<span class=\"op-path-parameter\">{pageId}</span>/screenshot</div>\n\nReturns an pre-signed S3 URL for audit run page card",
        "summary": "Get audit run page screenshot URL",
        "responses": {
          "302": {
            "description": "redirect with pre-signed S3 URL for screenshot of a page of an audit run",
            "headers": {
              "Location": {
                "description": "The URL to which the client will be redirected",
                "schema": {
                  "type": "string"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/UnAuthorized"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          }
        },
        "security": [
          {
            "API_Key": []
          }
        ]
      }
    },
    "/v3/web-audits/{auditId}/runs/{runId}/reports/page-summary": {
      "parameters": [
        {
          "$ref": "#/components/parameters/AuditId"
        },
        {
          "$ref": "#/components/parameters/RunId"
        }
      ],
      "post": {
        "tags": [
          "page-summary-report"
        ],
        "summary": "get page summary insights",
        "operationId": "getPageSummary",
        "requestBody": {
          "description": "Filters",
          "required": false,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/PageSummaryRequestDTO"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK, return page summary insights",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PageInsightsResponse"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/UnAuthorized"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          }
        },
        "security": [
          {
            "API_Key": []
          }
        ],
        "description": "<div class=\"op-path-box\"><span class=\"op-http-method-post\">POST</span> /v3/web-audits/<span class=\"op-path-parameter\">{auditId}</span>/runs/<span class=\"op-path-parameter\">{runId}</span>/reports/page-summary</div>"
      }
    },
    "/v3/web-audits/{auditId}/runs/{runId}/reports/page-summary/pages": {
      "parameters": [
        {
          "$ref": "#/components/parameters/AuditId"
        },
        {
          "$ref": "#/components/parameters/RunId"
        },
        {
          "$ref": "#/components/parameters/pageParam"
        },
        {
          "$ref": "#/components/parameters/AuditRun_PageSummary_PagesList_PageSizeParam"
        },
        {
          "$ref": "#/components/parameters/AuditRun_PageSummary_PageSortParam"
        },
        {
          "$ref": "#/components/parameters/SortDescendingParam"
        }
      ],
      "post": {
        "tags": [
          "page-summary-report"
        ],
        "summary": "Get insights by page",
        "operationId": "getPageSummaryByPage",
        "requestBody": {
          "description": "Filters",
          "required": false,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/PageSummaryRequestDTO"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK, return insights by page",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PageSummaryPagesDTO"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/UnAuthorized"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          }
        },
        "security": [
          {
            "API_Key": []
          }
        ],
        "description": "<div class=\"op-path-box\"><span class=\"op-http-method-post\">POST</span> /v3/web-audits/<span class=\"op-path-parameter\">{auditId}</span>/runs/<span class=\"op-path-parameter\">{runId}</span>/reports/page-summary/pages</div>"
      }
    },
    "/v3/web-audits/{auditId}/runs/{runId}/reports/page-summary/trends": {
      "parameters": [
        {
          "$ref": "#/components/parameters/AuditId"
        },
        {
          "$ref": "#/components/parameters/RunId"
        }
      ],
      "get": {
        "tags": [
          "page-summary-report"
        ],
        "summary": "Return insights for all runs in the given duration",
        "operationId": "getPageSummaryTrends",
        "responses": {
          "200": {
            "description": "Insights by runId",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PageSummarySparkLinesDTO"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/UnAuthorized"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          }
        },
        "security": [
          {
            "API_Key": []
          }
        ],
        "description": "<div class=\"op-path-box\"><span class=\"op-http-method-get\">GET</span> /v3/web-audits/<span class=\"op-path-parameter\">{auditId}</span>/runs/<span class=\"op-path-parameter\">{runId}</span>/reports/page-summary/trends</div>"
      }
    },
    "/v3/web-audits/{auditId}/runs/{runId}/reports/page-summary/trends/web-vitals": {
      "parameters": [
        {
          "$ref": "#/components/parameters/AuditId"
        },
        {
          "$ref": "#/components/parameters/RunId"
        }
      ],
      "get": {
        "tags": [
          "page-summary-report"
        ],
        "summary": "Get Page Summary Web Vitals trends relative to specified audit run",
        "operationId": "getPageSummaryWebVitalsTrends",
        "responses": {
          "200": {
            "description": "Page Summary Web Vitals trends data",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AuditRun_PageSummary_WebVitalsTrends_Response"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/UnAuthorized"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          }
        },
        "security": [
          {
            "API_Key": []
          }
        ],
        "description": "<div class=\"op-path-box\"><span class=\"op-http-method-get\">GET</span> /v3/web-audits/<span class=\"op-path-parameter\">{auditId}</span>/runs/<span class=\"op-path-parameter\">{runId}</span>/reports/page-summary/trends/web-vitals</div>"
      }
    },
    "/v3/web-audits/{auditId}/reports/page-summary/trends/{trendName}": {
      "parameters": [
        {
          "$ref": "#/components/parameters/AuditId"
        },
        {
          "in": "path",
          "name": "trendName",
          "description": "name of the insight",
          "schema": {
            "$ref": "#/components/schemas/AuditRun_PageSummary_TrendsEnum"
          },
          "required": true
        },
        {
          "$ref": "#/components/parameters/AuditRun_Trends_DaysParam"
        }
      ],
      "get": {
        "tags": [
          "page-summary-report"
        ],
        "operationId": "getPageSummaryTrend",
        "summary": "Return insights on a given page for all runs in the given duration",
        "description": "<div class=\"op-path-box\"><span class=\"op-http-method-get\">GET</span> /v3/web-audits/<span class=\"op-path-parameter\">{auditId}</span>/reports/page-summary/trends/<span class=\"op-path-parameter\">{trendName}</span></div>\n\nGet page trend insight from specified time span of audit runs",
        "responses": {
          "200": {
            "description": "list of page insight",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ItemRun_SpecificTrendValuesDTO"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/UnAuthorized"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          }
        },
        "security": [
          {
            "API_Key": []
          }
        ]
      }
    },
    "/v3/web-audits/{auditId}/reports/page-summary/trends/web-vitals/{trendName}": {
      "parameters": [
        {
          "$ref": "#/components/parameters/AuditId"
        },
        {
          "in": "path",
          "name": "trendName",
          "schema": {
            "$ref": "#/components/schemas/AuditRun_WebVitalsTrends_Enum"
          },
          "required": true
        },
        {
          "$ref": "#/components/parameters/AuditRun_Trends_DaysParam"
        }
      ],
      "get": {
        "tags": [
          "page-summary-report"
        ],
        "summary": "Get Page Summary Web Vitals specific trend values relative to current day",
        "operationId": "getPageSummaryWebVitalsTrend",
        "responses": {
          "200": {
            "description": "Page Summary Web Vitals specific trend values",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AuditRun_PageSummary_SpecificWebVitalsTrend_Response"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/UnAuthorized"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          }
        },
        "security": [
          {
            "API_Key": []
          }
        ],
        "description": "<div class=\"op-path-box\"><span class=\"op-http-method-get\">GET</span> /v3/web-audits/<span class=\"op-path-parameter\">{auditId}</span>/reports/page-summary/trends/web-vitals/<span class=\"op-path-parameter\">{trendName}</span></div>"
      }
    },
    "/v3/web-audits/{auditId}/runs/{runId}/reports/audit-summary": {
      "parameters": [
        {
          "$ref": "#/components/parameters/AuditId"
        },
        {
          "$ref": "#/components/parameters/RunId"
        }
      ],
      "post": {
        "tags": [
          "audit-summary-report"
        ],
        "summary": "Get Audit Summary data for specified audit run",
        "operationId": "getAuditRunAuditSummary",
        "requestBody": {
          "description": "Filters applicable to Audit Summary report",
          "required": false,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/AuditRun_AuditSummary_RequestDTO"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Audit Summary data",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AuditRun_AuditSummary_SummaryDTO"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/UnAuthorized"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          }
        },
        "security": [
          {
            "API_Key": []
          }
        ],
        "description": "<div class=\"op-path-box\"><span class=\"op-http-method-post\">POST</span> /v3/web-audits/<span class=\"op-path-parameter\">{auditId}</span>/runs/<span class=\"op-path-parameter\">{runId}</span>/reports/audit-summary</div>"
      }
    },
    "/v3/web-audits/{auditId}/runs/{runId}/reports/audit-summary/trends": {
      "parameters": [
        {
          "$ref": "#/components/parameters/AuditId"
        },
        {
          "$ref": "#/components/parameters/RunId"
        }
      ],
      "get": {
        "tags": [
          "audit-summary-report"
        ],
        "summary": "Get Audit Summary trends relative to specified audit run",
        "operationId": "getAuditRunAuditSummaryTrends",
        "responses": {
          "200": {
            "description": "Audit Summary trends data",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AuditRun_AuditSummary_TrendsDTO"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/UnAuthorized"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          }
        },
        "security": [
          {
            "API_Key": []
          }
        ],
        "description": "<div class=\"op-path-box\"><span class=\"op-http-method-get\">GET</span> /v3/web-audits/<span class=\"op-path-parameter\">{auditId}</span>/runs/<span class=\"op-path-parameter\">{runId}</span>/reports/audit-summary/trends</div>"
      }
    },
    "/v3/web-audits/{auditId}/reports/audit-summary/trends/{trendName}": {
      "parameters": [
        {
          "$ref": "#/components/parameters/AuditId"
        },
        {
          "name": "trendName",
          "in": "path",
          "required": true,
          "description": "name of requested trend",
          "schema": {
            "$ref": "#/components/schemas/AuditRun_AuditSummary_TrendsEnum"
          }
        },
        {
          "$ref": "#/components/parameters/AuditRun_Trends_DaysParam"
        }
      ],
      "get": {
        "tags": [
          "audit-summary-report"
        ],
        "summary": "Get Audit Summary specific trend values relative to current day",
        "operationId": "getAuditSummaryTrend",
        "responses": {
          "200": {
            "description": "Audit Summary specific trend values",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ItemRun_SpecificTrendValuesDTO"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/UnAuthorized"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          }
        },
        "security": [
          {
            "API_Key": []
          }
        ],
        "description": "<div class=\"op-path-box\"><span class=\"op-http-method-get\">GET</span> /v3/web-audits/<span class=\"op-path-parameter\">{auditId}</span>/reports/audit-summary/trends/<span class=\"op-path-parameter\">{trendName}</span></div>"
      }
    },
    "/v3/web-audits/{auditId}/runs/{runId}/reports/audit-summary/primary-tags": {
      "parameters": [
        {
          "$ref": "#/components/parameters/AuditId"
        },
        {
          "$ref": "#/components/parameters/RunId"
        }
      ],
      "post": {
        "tags": [
          "audit-summary-report"
        ],
        "summary": "Get Audit Summary all primary tags data for specified audit run",
        "operationId": "getAuditRunAuditSummaryPrimaryTags",
        "requestBody": {
          "description": "Filters applicable to Audit Summary report",
          "required": false,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/AuditRun_AuditSummary_RequestDTO"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Audit Summary all primary tags data",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AuditRun_AuditSummary_PrimaryTagsDTO"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/UnAuthorized"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "424": {
            "$ref": "#/components/responses/FailedDependency"
          }
        },
        "security": [
          {
            "API_Key": []
          }
        ],
        "description": "<div class=\"op-path-box\"><span class=\"op-http-method-post\">POST</span> /v3/web-audits/<span class=\"op-path-parameter\">{auditId}</span>/runs/<span class=\"op-path-parameter\">{runId}</span>/reports/audit-summary/primary-tags</div>"
      }
    },
    "/v3/web-audits/{auditId}/runs/{runId}/reports/audit-summary/tags": {
      "parameters": [
        {
          "$ref": "#/components/parameters/AuditId"
        },
        {
          "$ref": "#/components/parameters/RunId"
        }
      ],
      "post": {
        "tags": [
          "audit-summary-report"
        ],
        "summary": "Get Audit Summary all detected tags data for specified audit run",
        "operationId": "getAuditRunAuditSummaryDetectedTags",
        "requestBody": {
          "description": "Filters applicable to Audit Summary report",
          "required": false,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/AuditRun_AuditSummary_RequestDTO"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Audit Summary all detected tags data",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AuditRun_AuditSummary_DetectedTagsDTO"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/UnAuthorized"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          }
        },
        "security": [
          {
            "API_Key": []
          }
        ],
        "description": "<div class=\"op-path-box\"><span class=\"op-http-method-post\">POST</span> /v3/web-audits/<span class=\"op-path-parameter\">{auditId}</span>/runs/<span class=\"op-path-parameter\">{runId}</span>/reports/audit-summary/tags</div>"
      }
    },
    "/v3/web-audits/{auditId}/runs/{runId}/reports/audit-summary/scores": {
      "parameters": [
        {
          "$ref": "#/components/parameters/AuditId"
        },
        {
          "$ref": "#/components/parameters/RunId"
        }
      ],
      "get": {
        "tags": [
          "audit-summary-report"
        ],
        "summary": "Get Audit Summary scores for specified audit run",
        "operationId": "getAuditRunAuditSummaryScores",
        "responses": {
          "200": {
            "description": "Audit Summary scores data",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AuditRun_AuditSummary_ScoresDTO"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/UnAuthorized"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          }
        },
        "security": [
          {
            "API_Key": []
          }
        ],
        "description": "<div class=\"op-path-box\"><span class=\"op-http-method-get\">GET</span> /v3/web-audits/<span class=\"op-path-parameter\">{auditId}</span>/runs/<span class=\"op-path-parameter\">{runId}</span>/reports/audit-summary/scores</div>"
      }
    },
    "/v3/web-audits/{auditId}/runs/{runId}/reports/audit-summary/scores/trends": {
      "parameters": [
        {
          "$ref": "#/components/parameters/AuditId"
        },
        {
          "$ref": "#/components/parameters/RunId"
        }
      ],
      "get": {
        "tags": [
          "audit-summary-report"
        ],
        "summary": "Get Audit Summary scores trends relative to specified audit run",
        "operationId": "getAuditRunAuditSummaryScoresTrends",
        "responses": {
          "200": {
            "description": "Audit Summary all scores trends data",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AuditRun_AuditSummary_AllScoresTrendValuesDTO"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/UnAuthorized"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          }
        },
        "security": [
          {
            "API_Key": []
          }
        ],
        "description": "<div class=\"op-path-box\"><span class=\"op-http-method-get\">GET</span> /v3/web-audits/<span class=\"op-path-parameter\">{auditId}</span>/runs/<span class=\"op-path-parameter\">{runId}</span>/reports/audit-summary/scores/trends</div>"
      }
    },
    "/v3/web-audits/{auditId}/reports/audit-summary/scores/trends/{trendName}": {
      "parameters": [
        {
          "$ref": "#/components/parameters/AuditId"
        },
        {
          "name": "trendName",
          "in": "path",
          "required": true,
          "description": "name of requested trend",
          "schema": {
            "$ref": "#/components/schemas/AuditRun_AuditSummary_ScoreTrendsEnum"
          }
        },
        {
          "$ref": "#/components/parameters/AuditRun_Trends_DaysParam"
        }
      ],
      "get": {
        "tags": [
          "audit-summary-report"
        ],
        "summary": "Get Audit Summary specific score trend values relative to current time",
        "operationId": "getAuditRunAuditScoreTrend",
        "responses": {
          "200": {
            "description": "Audit Score specific trend values",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AuditRun_AuditSummary_ScoreTrendValuesDTO"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/UnAuthorized"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          }
        },
        "security": [
          {
            "API_Key": []
          }
        ],
        "description": "<div class=\"op-path-box\"><span class=\"op-http-method-get\">GET</span> /v3/web-audits/<span class=\"op-path-parameter\">{auditId}</span>/reports/audit-summary/scores/trends/<span class=\"op-path-parameter\">{trendName}</span></div>"
      }
    },
    "/v3/web-audits/{auditId}/runs/{runId}/reports/alert-summary/overview": {
      "parameters": [
        {
          "$ref": "#/components/parameters/AuditId"
        },
        {
          "$ref": "#/components/parameters/RunId"
        }
      ],
      "get": {
        "tags": [
          "alert-summary-report"
        ],
        "summary": "Get Alerts statuses overview for specified audit run",
        "operationId": "getAuditRunAlertSummaryAlertsOverview",
        "responses": {
          "200": {
            "description": "Alert Summary alerts overview data",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AuditRun_AlertSummary_AlertsOverviewResponseDTO"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/UnAuthorized"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          }
        },
        "security": [
          {
            "API_Key": []
          }
        ],
        "description": "<div class=\"op-path-box\"><span class=\"op-http-method-get\">GET</span> /v3/web-audits/<span class=\"op-path-parameter\">{auditId}</span>/runs/<span class=\"op-path-parameter\">{runId}</span>/reports/alert-summary/overview</div>"
      }
    },
    "/v3/web-audits/{auditId}/runs/{runId}/reports/alert-summary/alerts": {
      "parameters": [
        {
          "$ref": "#/components/parameters/AuditId"
        },
        {
          "$ref": "#/components/parameters/RunId"
        },
        {
          "$ref": "#/components/parameters/pageParam"
        },
        {
          "name": "size",
          "in": "query",
          "required": false,
          "allowEmptyValue": false,
          "schema": {
            "type": "integer",
            "maximum": 1000,
            "default": 50,
            "minimum": 50
          }
        },
        {
          "name": "sortBy",
          "in": "query",
          "required": false,
          "allowEmptyValue": false,
          "schema": {
            "$ref": "#/components/schemas/AuditRun_AuditSummary_AlertsSortColumn"
          }
        },
        {
          "$ref": "#/components/parameters/SortDescendingParam"
        }
      ],
      "post": {
        "tags": [
          "alert-summary-report"
        ],
        "summary": "Get Alert Summary alerts table data for specified audit run",
        "operationId": "getAuditRunAlertSummaryAlerts",
        "requestBody": {
          "description": "Filters applicable to Alert Summary report",
          "required": false,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/AuditRun_AlertSummary_SummaryRequestDTO"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Alert Summary alerts data",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AuditRun_AuditSummary_AlertsResponseDTO"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/UnAuthorized"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          }
        },
        "security": [
          {
            "API_Key": []
          }
        ],
        "description": "<div class=\"op-path-box\"><span class=\"op-http-method-post\">POST</span> /v3/web-audits/<span class=\"op-path-parameter\">{auditId}</span>/runs/<span class=\"op-path-parameter\">{runId}</span>/reports/alert-summary/alerts</div>"
      }
    },
    "/v3/web-audits/{auditId}/runs/{runId}/reports/alert-summary/alerts/{alertId}": {
      "parameters": [
        {
          "$ref": "#/components/parameters/AuditId"
        },
        {
          "$ref": "#/components/parameters/RunId"
        },
        {
          "$ref": "#/components/parameters/PathParamAlertId"
        }
      ],
      "get": {
        "tags": [
          "alert-summary-report"
        ],
        "summary": "Get specific alert data (config + result) for specified audit run",
        "operationId": "getAuditRunAlertSummaryAlertById",
        "responses": {
          "200": {
            "description": "Alert Summary specific alert data",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AuditRun_AuditSummary_SpecificAlertResponseDTO"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/UnAuthorized"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          }
        },
        "security": [
          {
            "API_Key": []
          }
        ],
        "description": "<div class=\"op-path-box\"><span class=\"op-http-method-get\">GET</span> /v3/web-audits/<span class=\"op-path-parameter\">{auditId}</span>/runs/<span class=\"op-path-parameter\">{runId}</span>/reports/alert-summary/alerts/<span class=\"op-path-parameter\">{alertId}</span></div>"
      }
    },
    "/v3/account-triggered-alerts/summary": {
      "post": {
        "operationId": "getAccountTriggeredAlertsSummary",
        "tags": [
          "account-triggered-alerts"
        ],
        "summary": "Get summary for all triggered alerts for the account",
        "requestBody": {
          "description": "Filters",
          "required": false,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/AccountTriggeredAlertsRequestDTO"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Returns account triggered alerts summary",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AccountTriggeredAlerts_SummaryDTO"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/UnAuthorized"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          }
        },
        "security": [
          {
            "API_Key": []
          }
        ],
        "description": "<div class=\"op-path-box\"><span class=\"op-http-method-post\">POST</span> /v3/account-triggered-alerts/summary</div>"
      }
    },
    "/v3/account-triggered-alerts/alerts": {
      "parameters": [
        {
          "$ref": "#/components/parameters/pageParam"
        },
        {
          "$ref": "#/components/parameters/QueryParamAlertsSearchPageSize"
        },
        {
          "name": "sortBy",
          "in": "query",
          "required": false,
          "schema": {
            "$ref": "#/components/schemas/GetAccountTriggeredAlertsSortColumn"
          }
        },
        {
          "$ref": "#/components/parameters/SortDescendingParam"
        }
      ],
      "post": {
        "operationId": "getAccountTriggeredAlerts",
        "tags": [
          "account-triggered-alerts"
        ],
        "summary": "Get all triggered alerts for the account",
        "requestBody": {
          "description": "Filters",
          "required": false,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/AccountTriggeredAlertsRequestDTO"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Returns account triggered alerts list",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AccountTriggeredAlerts_AlertsDTO"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/UnAuthorized"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          }
        },
        "security": [
          {
            "API_Key": []
          }
        ],
        "description": "<div class=\"op-path-box\"><span class=\"op-http-method-post\">POST</span> /v3/account-triggered-alerts/alerts</div>"
      }
    },
    "/v3/account-triggered-alerts/alerts/{alertId}": {
      "parameters": [
        {
          "$ref": "#/components/parameters/PathParamAlertId"
        },
        {
          "$ref": "#/components/parameters/pageParam"
        },
        {
          "$ref": "#/components/parameters/QueryParamAlertsSearchPageSize"
        },
        {
          "name": "sortBy",
          "in": "query",
          "required": false,
          "schema": {
            "$ref": "#/components/schemas/GetAccountTriggeredAlertSortColumn"
          }
        },
        {
          "$ref": "#/components/parameters/SortDescendingParam"
        }
      ],
      "post": {
        "operationId": "getAccountTriggeredSpecificAlert",
        "tags": [
          "account-triggered-alerts"
        ],
        "summary": "Get information about specific alert from all triggered alerts for the account",
        "requestBody": {
          "description": "Filters",
          "required": false,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/AccountTriggeredAlertsSpecificAlertRequestDTO"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Returns account triggered alerts specific alert details",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AccountTriggeredAlerts_DataSourcesDTO"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/UnAuthorized"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          }
        },
        "security": [
          {
            "API_Key": []
          }
        ],
        "description": "<div class=\"op-path-box\"><span class=\"op-http-method-post\">POST</span> /v3/account-triggered-alerts/alerts/<span class=\"op-path-parameter\">{alertId}</span></div>"
      }
    },
    "/v3/web-audits/{auditId}/runs/{runId}/reports/rule-summary": {
      "parameters": [
        {
          "$ref": "#/components/parameters/AuditId"
        },
        {
          "$ref": "#/components/parameters/RunId"
        }
      ],
      "post": {
        "operationId": "getAuditRunRuleResultsSummary",
        "tags": [
          "rule-summary-report"
        ],
        "summary": "Get rule summary for specified audit run",
        "requestBody": {
          "description": "Filters",
          "required": false,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/AuditRun_RuleSummary_RequestDTO"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "`Total Pages` + `Rules Applied` + `Rule Instances by Status` + `Pages by Rule Status`",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AuditRun_RuleResultsSummaryDTO"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/UnAuthorized"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          }
        },
        "security": [
          {
            "API_Key": []
          }
        ],
        "description": "<div class=\"op-path-box\"><span class=\"op-http-method-post\">POST</span> /v3/web-audits/<span class=\"op-path-parameter\">{auditId}</span>/runs/<span class=\"op-path-parameter\">{runId}</span>/reports/rule-summary</div>"
      }
    },
    "/v3/web-audits/{auditId}/runs/{runId}/reports/rule-summary/trends": {
      "parameters": [
        {
          "$ref": "#/components/parameters/AuditId"
        },
        {
          "$ref": "#/components/parameters/RunId"
        }
      ],
      "get": {
        "operationId": "getAuditRunRuleResultsTrends",
        "tags": [
          "rule-summary-report"
        ],
        "summary": "Get rule status trends for specified audit run",
        "responses": {
          "200": {
            "description": "Audit rule results trends overview (a.k.a. trendlines a.k.a. sparklines) for both `Rule Instances by Status` + `Pages by Rule Status`",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AuditRun_RuleSummary_RuleResults_AllTrendsDTO"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/UnAuthorized"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          }
        },
        "security": [
          {
            "API_Key": []
          }
        ],
        "description": "<div class=\"op-path-box\"><span class=\"op-http-method-get\">GET</span> /v3/web-audits/<span class=\"op-path-parameter\">{auditId}</span>/runs/<span class=\"op-path-parameter\">{runId}</span>/reports/rule-summary/trends</div>"
      }
    },
    "/v3/web-audits/{auditId}/reports/rule-summary/trends/rule-results": {
      "parameters": [
        {
          "$ref": "#/components/parameters/AuditId"
        },
        {
          "$ref": "#/components/parameters/AuditRun_Trends_DaysQP"
        }
      ],
      "get": {
        "operationId": "getAuditRunRuleResultsTrend",
        "tags": [
          "rule-summary-report"
        ],
        "summary": "Get rule results trend values for specified audit run relative to current day",
        "responses": {
          "200": {
            "description": "Audit rule results trend values",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AuditRun_RuleSummary_RuleResultsTrendDTO"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/UnAuthorized"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          }
        },
        "security": [
          {
            "API_Key": []
          }
        ],
        "description": "<div class=\"op-path-box\"><span class=\"op-http-method-get\">GET</span> /v3/web-audits/<span class=\"op-path-parameter\">{auditId}</span>/reports/rule-summary/trends/rule-results</div>"
      }
    },
    "/v3/web-audits/{auditId}/reports/rule-summary/trends/page-count": {
      "parameters": [
        {
          "$ref": "#/components/parameters/AuditId"
        },
        {
          "$ref": "#/components/parameters/AuditRun_Trends_DaysQP"
        }
      ],
      "get": {
        "operationId": "getAuditRunRuleResultsPageCountTrend",
        "tags": [
          "rule-summary-report"
        ],
[...]
