{
  "swagger": "2.0",
  "info": {
    "description": "This is the API documentation for the **bHere** backend.\nThe API handles user authentication and other application actions.\n",
    "version": "1.0.0",
    "title": "bHere API",
    "contact": {
      "email": "jake.tattersall@ucf.edu"
    },
    "license": {
      "name": "Apache 2.0",
      "url": "http://www.apache.org/licenses/LICENSE-2.0.html"
    },
    "x-jentic-source-url": "https://api.swaggerhub.com/apis/bhere/Narwhals/1.0.0"
  },
  "host": "lp.ilovenarwhals.xyz",
  "basePath": "/api",
  "schemes": [
    "https"
  ],
  "paths": {
    "/login": {
      "post": {
        "tags": [
          "Users"
        ],
        "summary": "User Login",
        "description": "Authenticates a user with their email and password.",
        "operationId": "loginUser",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "body",
            "name": "loginCredentials",
            "required": true,
            "description": "User login credentials",
            "schema": {
              "$ref": "#/definitions/LoginRequest"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful login",
            "schema": {
              "$ref": "#/definitions/LoginResponse"
            }
          },
          "400": {
            "description": "Invalid input (missing or malformed fields)",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          },
          "500": {
            "description": "Internal server error",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          }
        }
      }
    },
    "/register": {
      "post": {
        "tags": [
          "Users"
        ],
        "summary": "User Registration",
        "description": "Registers a new user (student or teacher).",
        "operationId": "registerUser",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "body",
            "name": "registrationData",
            "required": true,
            "description": "User registration data",
            "schema": {
              "$ref": "#/definitions/RegisterRequest"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful registration",
            "schema": {
              "$ref": "#/definitions/RegisterResponse"
            }
          },
          "400": {
            "description": "Invalid input (missing or malformed fields)",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          },
          "500": {
            "description": "Internal server error",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          }
        }
      }
    },
    "/sendEmailCode": {
      "post": {
        "tags": [
          "Users"
        ],
        "summary": "Send an email verification code",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/SendEmailCodeRequest"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Code sent/stored",
            "schema": {
              "$ref": "#/definitions/ValidResponse"
            }
          },
          "400": {
            "description": "Invalid input",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          }
        }
      }
    },
    "/verifyEmailCode": {
      "post": {
        "tags": [
          "Users"
        ],
        "summary": "Verify an email code",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/VerifyEmailCodeRequest"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Code verified",
            "schema": {
              "$ref": "#/definitions/ValidResponse"
            }
          },
          "400": {
            "description": "Invalid input or invalid code",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          }
        }
      }
    },
    "/changepassword": {
      "post": {
        "tags": [
          "Users"
        ],
        "summary": "Change password",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/ChangePasswordRequest"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Password changed",
            "schema": {
              "$ref": "#/definitions/ValidResponse"
            }
          },
          "400": {
            "description": "Invalid input",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          }
        }
      }
    },
    "/findExistingUser": {
      "post": {
        "tags": [
          "Users"
        ],
        "summary": "Find existing user by email",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/FindExistingUserRequest"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "User exists",
            "schema": {
              "$ref": "#/definitions/ValidResponse"
            }
          },
          "404": {
            "description": "User not found",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          }
        }
      }
    },
    "/createclass": {
      "post": {
        "tags": [
          "Classes"
        ],
        "summary": "Create class",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/CreateClassRequest"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Class created",
            "schema": {
              "$ref": "#/definitions/CreateClassResponse"
            }
          },
          "400": {
            "description": "Invalid input or class exists",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          }
        }
      }
    },
    "/fetchclasses": {
      "post": {
        "tags": [
          "Classes"
        ],
        "summary": "Fetch classes for a user",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/FetchClassesRequest"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Classes list",
            "schema": {
              "$ref": "#/definitions/FetchClassesResponse"
            }
          },
          "400": {
            "description": "Invalid input",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          }
        }
      }
    },
    "/joinclass": {
      "post": {
        "tags": [
          "Classes"
        ],
        "summary": "Join class",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/JoinClassRequest"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Joined class",
            "schema": {
              "$ref": "#/definitions/ValidResponse"
            }
          },
          "400": {
            "description": "Invalid input",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          }
        }
      }
    },
    "/leaveClass": {
      "post": {
        "tags": [
          "Classes"
        ],
        "summary": "Leave class",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/LeaveClassRequest"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Left class",
            "schema": {
              "$ref": "#/definitions/ValidResponse"
            }
          },
          "400": {
            "description": "Invalid input",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          }
        }
      }
    },
    "/deleteClass": {
      "post": {
        "tags": [
          "Classes"
        ],
        "summary": "Delete class",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/DeleteClassRequest"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Class deleted",
            "schema": {
              "$ref": "#/definitions/ValidResponse"
            }
          },
          "400": {
            "description": "Invalid input",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          }
        }
      }
    },
    "/preparebroadcast": {
      "post": {
        "tags": [
          "Attendance"
        ],
        "summary": "Prepare broadcast",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/AttendanceActionRequest"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Broadcast prepared",
            "schema": {
              "$ref": "#/definitions/ValidResponse"
            }
          },
          "400": {
            "description": "Invalid input",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          }
        }
      }
    },
    "/endbroadcast": {
      "post": {
        "tags": [
          "Attendance"
        ],
        "summary": "End broadcast",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/AttendanceActionRequest"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Broadcast ended",
            "schema": {
              "$ref": "#/definitions/ValidResponse"
            }
          },
          "400": {
            "description": "Invalid input",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          }
        }
      }
    },
    "/newsecret": {
      "post": {
        "tags": [
          "Attendance"
        ],
        "summary": "Post new secret",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/NewSecretRequest"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Secret posted",
            "schema": {
              "$ref": "#/definitions/ValidResponse"
            }
          },
          "400": {
            "description": "Invalid input",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          }
        }
      }
    },
    "/removesecret": {
      "post": {
        "tags": [
          "Attendance"
        ],
        "summary": "Remove secret",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/AttendanceActionRequest"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Secret removed",
            "schema": {
              "$ref": "#/definitions/ValidResponse"
            }
          },
          "400": {
            "description": "Invalid input",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          }
        }
      }
    },
    "/markmehere": {
      "post": {
        "tags": [
          "Attendance"
        ],
        "summary": "Mark me here",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/MarkMeHereRequest"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Marked present",
            "schema": {
              "$ref": "#/definitions/ValidResponse"
            }
          },
          "400": {
            "description": "Invalid input",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          }
        }
      }
    },
    "/fetchteacherrecords": {
      "post": {
        "tags": [
          "Records"
        ],
        "summary": "Fetch teacher records",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/FetchTeacherRecordsRequest"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Records list",
            "schema": {
              "$ref": "#/definitions/FetchTeacherRecordsResponse"
            }
          },
          "400": {
            "description": "Invalid input",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          }
        }
      }
    },
    "/fetchstudentrecords": {
      "post": {
        "tags": [
          "Records"
        ],
        "summary": "Fetch student records",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/FetchStudentRecordsRequest"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Student attendance summary",
            "schema": {
              "$ref": "#/definitions/FetchStudentRecordsResponse"
            }
          },
          "400": {
            "description": "Invalid input",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          }
        }
      }
    }
  },
  "definitions": {
    "LoginRequest": {
      "type": "object",
      "required": [
        "login",
        "password"
      ],
      "properties": {
        "login": {
          "type": "string",
          "example": "jake.tattersall@ucf.edu"
        },
        "password": {
          "type": "string",
          "example": 12345678
        }
      }
    },
    "ValidResponse": {
      "type": "object",
      "properties": {
        "error": {
          "type": "string",
          "example": ""
        }
      }
    },
    "LoginResponse": {
      "type": "object",
      "properties": {
        "id": {
          "type": "integer",
          "example": 12345
        },
        "firstName": {
          "type": "string",
          "example": "First"
        },
        "lastName": {
          "type": "string",
          "example": "Last"
        },
        "error": {
          "type": "string",
          "example": ""
        },
        "role": {
          "type": "string",
          "example": "student"
        },
        "token": {
          "type": "string",
          "example": "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9..."
        }
      }
    },
    "RegisterRequest": {
      "type": "object",
      "required": [
        "email",
        "password",
        "firstName",
        "lastName",
        "id",
        "role"
      ],
      "properties": {
        "email": {
          "type": "string",
          "example": "user2@example.com"
        },
        "password": {
          "type": "string",
          "example": "Password123"
        },
        "firstName": {
          "type": "string",
          "example": "First"
        },
        "lastName": {
          "type": "string",
          "example": "Last"
        },
        "id": {
          "type": "integer",
          "example": 12345
        },
        "role": {
          "type": "string",
          "example": "student"
        }
      }
    },
    "RegisterResponse": {
      "type": "object",
      "properties": {
        "error": {
          "type": "string",
          "example": ""
        }
      }
    },
    "ErrorResponse": {
      "type": "object",
      "properties": {
        "error": {
          "type": "string",
          "example": "Invalid fields"
        }
      }
    },
    "SendEmailCodeRequest": {
      "type": "object",
      "required": [
        "email",
        "templateChoice"
      ],
      "properties": {
        "email": {
          "type": "string",
          "example": "postman@email.com"
        },
        "templateChoice": {
          "type": "string",
          "example": "registration"
        }
      }
    },
    "VerifyEmailCodeRequest": {
      "type": "object",
      "required": [
        "email",
        "verificationCode"
      ],
      "properties": {
        "email": {
          "type": "string",
          "example": "postman@email.com"
        },
        "verificationCode": {
          "type": "string",
          "example": "123456"
        }
      }
    },
    "ChangePasswordRequest": {
      "type": "object",
      "required": [
        "email",
        "newPassword"
      ],
      "properties": {
        "email": {
          "type": "string",
          "example": "postman@email.com"
        },
        "newPassword": {
          "type": "string",
          "example": "NewSecretPass123"
        }
      }
    },
    "FindExistingUserRequest": {
      "type": "object",
      "required": [
        "email"
      ],
      "properties": {
        "email": {
          "type": "string",
          "example": "postman@email.com"
        }
      }
    },
    "CreateClassRequest": {
      "type": "object",
      "required": [
        "name",
        "duration",
        "instructorId",
        "section",
        "daysOffered",
        "startTime",
        "endTime",
        "classCode"
      ],
      "properties": {
        "name": {
          "type": "string",
          "example": "Intro to Testing"
        },
        "duration": {
          "type": "integer",
          "example": 60
        },
        "instructorId": {
          "type": "integer",
          "example": 10001
        },
        "section": {
          "type": "string",
          "example": "A"
        },
        "daysOffered": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "example": [
            "Monday",
            "Wednesday"
          ]
        },
        "startTime": {
          "type": "string",
          "example": "09:00"
        },
        "endTime": {
          "type": "string",
          "example": "10:00"
        },
        "classCode": {
          "type": "string",
          "example": "TEST101"
        }
      }
    },
    "CreateClassResponse": {
      "type": "object",
      "properties": {
        "error": {
          "type": "string",
          "example": ""
        },
        "classId": {
          "type": "string",
          "example": "64a1f0b5e4b0a1b2c3d4e5f6"
        }
      }
    },
    "FetchClassesRequest": {
      "type": "object",
      "required": [
        "userId"
      ],
      "properties": {
        "userId": {
          "type": "integer",
          "example": 10001
        }
      }
    },
    "ClassSummary": {
      "type": "object",
      "properties": {
        "_id": {
          "type": "string",
          "example": "64a1f0b5e4b0a1b2c3d4e5f6"
        },
        "name": {
          "type": "string",
          "example": "Intro to Testing"
        },
        "classCode": {
          "type": "string",
          "example": "TEST101"
        },
        "section": {
          "type": "string",
          "example": "A"
        },
        "instructorName": {
          "type": "string",
          "example": "John Doe"
        },
        "startTime": {
          "type": "string",
          "example": "09:00"
        },
        "endTime": {
          "type": "string",
          "example": "10:00"
        },
        "duration": {
          "type": "integer",
          "example": 60
        }
      }
    },
    "FetchClassesResponse": {
      "type": "object",
      "properties": {
        "error": {
          "type": "string",
          "example": ""
        },
        "classes": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/ClassSummary"
          }
        }
      }
    },
    "JoinClassRequest": {
      "type": "object",
      "required": [
        "userId",
        "classCode",
        "section"
      ],
      "properties": {
        "userId": {
          "type": "integer",
          "example": 10002
        },
        "classCode": {
          "type": "string",
          "example": "TEST101"
        },
        "section": {
          "type": "string",
          "example": "A"
        }
      }
    },
    "LeaveClassRequest": {
      "type": "object",
      "required": [
        "userId",
        "classId"
      ],
      "properties": {
        "userId": {
          "type": "integer",
          "example": 10002
        },
        "classId": {
          "type": "string",
          "example": "64a1f0b5e4b0a1b2c3d4e5f6"
        }
      }
    },
    "DeleteClassRequest": {
      "type": "object",
      "required": [
        "userId",
        "classId"
      ],
      "properties": {
        "userId": {
          "type": "integer",
          "example": 10001
        },
        "classId": {
          "type": "string",
          "example": "64a1f0b5e4b0a1b2c3d4e5f6"
        }
      }
    },
    "AttendanceActionRequest": {
      "type": "object",
      "required": [
        "userId",
        "objectId"
      ],
      "properties": {
        "userId": {
          "type": "integer",
          "example": 10001
        },
        "objectId": {
          "type": "string",
          "example": "64a1f0b5e4b0a1b2c3d4e5f6"
        }
      }
    },
    "NewSecretRequest": {
      "type": "object",
      "required": [
        "userId",
        "objectId",
        "secret"
      ],
      "properties": {
        "userId": {
          "type": "integer",
          "example": 10001
        },
        "objectId": {
          "type": "string",
          "example": "64a1f0b5e4b0a1b2c3d4e5f6"
        },
        "secret": {
          "type": "string",
          "example": "ABC123"
        }
      }
    },
    "MarkMeHereRequest": {
      "type": "object",
      "required": [
        "userId",
        "objectId",
        "secret"
      ],
      "properties": {
        "userId": {
          "type": "integer",
          "example": 10002
        },
        "objectId": {
          "type": "string",
          "example": "64a1f0b5e4b0a1b2c3d4e5f6"
        },
        "secret": {
          "type": "string",
          "example": "ABC123"
        }
      }
    },
    "FetchTeacherRecordsRequest": {
      "type": "object",
      "required": [
        "objectId"
      ],
      "properties": {
        "objectId": {
          "type": "string",
          "example": "64a1f0b5e4b0a1b2c3d4e5f6"
        }
      }
    },
    "Record": {
      "type": "object",
      "properties": {
        "_id": {
          "type": "string",
          "example": "64a1f0b5e4b0a1b2c3d4e5f7"
        },
        "classId": {
          "type": "string",
          "example": "64a1f0b5e4b0a1b2c3d4e5f6"
        },
        "instructorId": {
          "type": "integer",
          "example": 10001
        },
        "startTime": {
          "type": "string",
          "example": "2025-01-01T09:00:00Z"
        },
        "totalPings": {
          "type": "integer",
          "example": 3
        },
        "pingsCollected": {
          "type": "object",
          "example": {
            "10002": 2
          }
        }
      }
    },
    "FetchTeacherRecordsResponse": {
      "type": "object",
      "properties": {
        "error": {
          "type": "string",
          "example": ""
        },
        "records": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/Record"
          }
        }
      }
    },
    "FetchStudentRecordsRequest": {
      "type": "object",
      "required": [
        "userId",
        "objectId"
      ],
      "properties": {
        "userId": {
          "type": "integer",
          "example": 10002
        },
        "objectId": {
          "type": "string",
          "example": "64a1f0b5e4b0a1b2c3d4e5f6"
        }
      }
    },
    "FetchStudentRecordsResponse": {
      "type": "object",
      "properties": {
        "error": {
          "type": "string",
          "example": ""
        },
        "records": {
          "type": "array",
          "items": {
            "type": "object",
            "properties": {
              "studentPings": {
                "type": "integer",
                "example": 2
              },
              "totalPings": {
                "type": "integer",
                "example": 3
              },
              "startTime": {
                "type": "string",
                "example": "2025-01-01T09:00:00Z"
              }
            }
          }
        }
      }
    }
  }
}