{
  "openapi": "3.0.3",
  "info": {
    "title": "ASPSMS JSON API",
    "version": "1.0.0",
    "description": "ASPSMS provides SMS messaging services via a JSON HTTP API. Send SMS, check delivery status, query credits, and manage originator addresses.",
    "x-jentic-source-url": "https://www.aspsms.com/en/documentation",
    "contact": {
      "name": "API Support"
    }
  },
  "servers": [
    {
      "url": "https://json.aspsms.com",
      "description": "ASPSMS JSON API Server"
    }
  ],
  "tags": [
    {
      "name": "SMS",
      "description": "SMS messaging operations"
    },
    {
      "name": "Account",
      "description": "Account management"
    }
  ],
  "paths": {
    "/SendSimpleTextSMS": {
      "post": {
        "tags": [
          "SMS"
        ],
        "summary": "Send simple text SMS",
        "description": "Send a simple text SMS message to one or more recipients.",
        "operationId": "sendSimpleTextSms",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/SendSimpleTextSmsRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "SMS send result",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SmsResponse"
                }
              }
            }
          }
        }
      }
    },
    "/SendTextSMS": {
      "post": {
        "tags": [
          "SMS"
        ],
        "summary": "Send text SMS",
        "description": "Send a text SMS with additional options like deferred delivery, flash SMS, URL buffering, and validity period.",
        "operationId": "sendTextSms",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/SendTextSmsRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "SMS send result",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SmsResponse"
                }
              }
            }
          }
        }
      }
    },
    "/InquireDeliveryNotifications": {
      "post": {
        "tags": [
          "SMS"
        ],
        "summary": "Check delivery notifications",
        "description": "Check the delivery status of sent SMS messages using their transaction reference numbers.",
        "operationId": "inquireDeliveryNotifications",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/DeliveryInquiryRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Delivery notification results",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DeliveryNotificationResponse"
                }
              }
            }
          }
        }
      }
    },
    "/CheckCredits": {
      "post": {
        "tags": [
          "Account"
        ],
        "summary": "Check credits",
        "description": "Query the remaining credits balance for the account.",
        "operationId": "checkCredits",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/AuthRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Credits balance",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CreditsResponse"
                }
              }
            }
          }
        }
      }
    },
    "/CheckOriginatorAuthorization": {
      "post": {
        "tags": [
          "Account"
        ],
        "summary": "Check originator authorization",
        "description": "Check if an originator (sender ID) is authorized for your account.",
        "operationId": "checkOriginatorAuthorization",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/OriginatorCheckRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Originator authorization status",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SmsResponse"
                }
              }
            }
          }
        }
      }
    },
    "/SendOriginatorUnlockCode": {
      "post": {
        "tags": [
          "Account"
        ],
        "summary": "Send originator unlock code",
        "description": "Send an unlock code to authorize a new originator phone number.",
        "operationId": "sendOriginatorUnlockCode",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/OriginatorCheckRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Unlock code sent",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SmsResponse"
                }
              }
            }
          }
        }
      }
    },
    "/UnlockOriginator": {
      "post": {
        "tags": [
          "Account"
        ],
        "summary": "Unlock originator",
        "description": "Unlock/authorize an originator using the verification code.",
        "operationId": "unlockOriginator",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/OriginatorUnlockRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Originator unlocked",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SmsResponse"
                }
              }
            }
          }
        }
      }
    }
  },
  "components": {
    "schemas": {
      "AuthRequest": {
        "type": "object",
        "required": [
          "UserName",
          "Password"
        ],
        "properties": {
          "UserName": {
            "type": "string",
            "description": "ASPSMS userkey"
          },
          "Password": {
            "type": "string",
            "description": "ASPSMS password"
          }
        }
      },
      "SendSimpleTextSmsRequest": {
        "type": "object",
        "required": [
          "UserName",
          "Password",
          "Originator",
          "Recipients",
          "MessageText"
        ],
        "properties": {
          "UserName": {
            "type": "string"
          },
          "Password": {
            "type": "string"
          },
          "Originator": {
            "type": "string",
            "description": "Sender ID (phone number or alphanumeric, max 11 chars)"
          },
          "Recipients": {
            "type": "array",
            "items": {
              "type": "string"
            },
            "description": "List of recipient phone numbers in international format"
          },
          "MessageText": {
            "type": "string",
            "description": "SMS message text"
          }
        }
      },
      "SendTextSmsRequest": {
        "type": "object",
        "required": [
          "UserName",
          "Password",
          "Originator",
          "Recipients",
          "MessageText"
        ],
        "properties": {
          "UserName": {
            "type": "string"
          },
          "Password": {
            "type": "string"
          },
          "Originator": {
            "type": "string"
          },
          "Recipients": {
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "MessageText": {
            "type": "string"
          },
          "DeferredDeliveryTime": {
            "type": "string",
            "description": "Deferred delivery time in format ddMMyyyyHHmmss"
          },
          "FlashingSMS": {
            "type": "boolean",
            "description": "Send as Flash SMS"
          },
          "TimeZone": {
            "type": "string"
          },
          "URLBufferedMessageNotification": {
            "type": "string",
            "description": "URL for delivery notification callback"
          },
          "URLDeliveryNotification": {
            "type": "string",
            "description": "URL for delivery notification"
          },
          "URLNonDeliveryNotification": {
            "type": "string",
            "description": "URL for non-delivery notification"
          },
          "AffiliateId": {
            "type": "string"
          },
          "MessageData": {
            "type": "string"
          },
          "ForceGSM7bit": {
            "type": "boolean"
          }
        }
      },
      "DeliveryInquiryRequest": {
        "type": "object",
        "required": [
          "UserName",
          "Password",
          "TransactionReferenceNumbers"
        ],
        "properties": {
          "UserName": {
            "type": "string"
          },
          "Password": {
            "type": "string"
          },
          "TransactionReferenceNumbers": {
            "type": "array",
            "items": {
              "type": "string"
            }
          }
        }
      },
      "OriginatorCheckRequest": {
        "type": "object",
        "required": [
          "UserName",
          "Password",
          "Originator"
        ],
        "properties": {
          "UserName": {
            "type": "string"
          },
          "Password": {
            "type": "string"
          },
          "Originator": {
            "type": "string"
          }
        }
      },
      "OriginatorUnlockRequest": {
        "type": "object",
        "required": [
          "UserName",
          "Password",
          "Originator",
          "OriginatorUnlockCode"
        ],
        "properties": {
          "UserName": {
            "type": "string"
          },
          "Password": {
            "type": "string"
          },
          "Originator": {
            "type": "string"
          },
          "OriginatorUnlockCode": {
            "type": "string"
          }
        }
      },
      "SmsResponse": {
        "type": "object",
        "properties": {
          "StatusCode": {
            "type": "string",
            "description": "1 = OK, other values = error"
          },
          "StatusInfo": {
            "type": "string"
          }
        }
      },
      "CreditsResponse": {
        "type": "object",
        "properties": {
          "StatusCode": {
            "type": "string"
          },
          "StatusInfo": {
            "type": "string"
          },
          "Credits": {
            "type": "number"
          }
        }
      },
      "DeliveryNotificationResponse": {
        "type": "object",
        "properties": {
          "StatusCode": {
            "type": "string"
          },
          "StatusInfo": {
            "type": "string"
          },
          "DeliveryNotifications": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "TransactionReferenceNumber": {
                  "type": "string"
                },
                "DeliveryStatus": {
                  "type": "string"
                },
                "DeliveryStatusDescription": {
                  "type": "string"
                },
                "SubmissionDate": {
                  "type": "string"
                },
                "NotificationDate": {
                  "type": "string"
                },
                "ReasonCode": {
                  "type": "string"
                }
              }
            }
          }
        }
      }
    }
  }
}
