{
  "openapi": "3.0.1",
  "info": {
    "title": "DSS WebServices",
    "contact": {},
    "license": {
      "name": "Apache 2.0 License",
      "url": "http://www.apache.org/licenses/LICENSE-2.0.html"
    },
    "version": "6.3",
    "x-jentic-source-url": "https://api.swaggerhub.com/apis/ANDREASECCI/dss-webservices/6.3"
  },
  "servers": [
    {
      "url": "https://ec.europa.eu/digital-building-blocks/DSS/webapp-demo/services/rest/validation"
    }
  ],
  "paths": {
    "/getOriginalDocuments": {
      "post": {
        "operationId": "getOriginalDocuments",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/DataToValidateDTO"
              }
            }
          }
        },
        "responses": {
          "default": {
            "description": "default response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/RemoteDocument"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/validateSignature": {
      "post": {
        "operationId": "validateSignature",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/DataToValidateDTO"
              }
            }
          }
        },
        "responses": {
          "default": {
            "description": "default response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/WSReportsDTO"
                }
              }
            }
          }
        }
      }
    }
  },
  "components": {
    "schemas": {
      "RemoteDocument": {
        "type": "object",
        "properties": {
          "bytes": {
            "type": "string",
            "format": "byte"
          },
          "digestAlgorithm": {
            "type": "string",
            "enum": [
              "SHA1",
              "SHA224",
              "SHA256",
              "SHA384",
              "SHA512",
              "SHA3_224",
              "SHA3_256",
              "SHA3_384",
              "SHA3_512",
              "SHAKE128",
              "SHAKE256",
              "SHAKE256_512",
              "RIPEMD160",
              "MD2",
              "MD5",
              "WHIRLPOOL"
            ]
          },
          "name": {
            "type": "string"
          }
        }
      },
      "DataToValidateDTO": {
        "type": "object",
        "properties": {
          "signedDocument": {
            "$ref": "#/components/schemas/RemoteDocument"
          },
          "originalDocuments": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/RemoteDocument"
            }
          },
          "policy": {
            "$ref": "#/components/schemas/RemoteDocument"
          },
          "cryptographicSuite": {
            "$ref": "#/components/schemas/RemoteDocument"
          },
          "validationTime": {
            "type": "string",
            "format": "date-time"
          },
          "evidenceRecords": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/RemoteDocument"
            }
          },
          "tokenExtractionStrategy": {
            "type": "string",
            "enum": [
              "EXTRACT_ALL",
              "EXTRACT_CERTIFICATES_ONLY",
              "EXTRACT_TIMESTAMPS_ONLY",
              "EXTRACT_REVOCATION_DATA_ONLY",
              "EXTRACT_EVIDENCE_RECORDS_ONLY",
              "EXTRACT_CERTIFICATES_AND_TIMESTAMPS",
              "EXTRACT_CERTIFICATES_AND_EVIDENCE_RECORDS",
              "EXTRACT_CERTIFICATES_AND_TIMESTAMPS_AND_EVIDENCE_RECORDS",
              "EXTRACT_CERTIFICATES_AND_REVOCATION_DATA",
              "EXTRACT_CERTIFICATES_AND_TIMESTAMPS_AND_REVOCATION_DATA",
              "EXTRACT_CERTIFICATES_AND_REVOCATION_DATA_AND_EVIDENCE_RECORDS",
              "EXTRACT_TIMESTAMPS_AND_REVOCATION_DATA",
              "EXTRACT_TIMESTAMPS_AND_EVIDENCE_RECORDS",
              "EXTRACT_REVOCATION_DATA_AND_EVIDENCE_RECORDS",
              "EXTRACT_TIMESTAMPS_AND_REVOCATION_DATA_AND_EVIDENCE_RECORDS",
              "NONE"
            ]
          },
          "signatureId": {
            "type": "string"
          }
        }
      },
      "ActivationDataFlavor": {
        "type": "object",
        "properties": {
          "mimeType": {
            "type": "string"
          },
          "humanPresentableName": {
            "type": "string"
          }
        }
      },
      "AdditionalValidationReportDataType": {
        "required": [
          "reportData"
        ],
        "type": "object",
        "properties": {
          "reportData": {
            "type": "array",
            "xml": {
              "name": "ReportData"
            },
            "items": {
              "$ref": "#/components/schemas/TypedDataType"
            }
          }
        }
      },
      "AddressType": {
        "required": [
          "electronicAddress",
          "postalAddresses"
        ],
        "type": "object",
        "properties": {
          "postalAddresses": {
            "$ref": "#/components/schemas/PostalAddressListType"
          },
          "electronicAddress": {
            "$ref": "#/components/schemas/ElectronicAddressType"
          }
        }
      },
      "AnyType": {
        "type": "object",
        "properties": {
          "content": {
            "type": "array",
            "items": {
              "type": "object"
            }
          }
        }
      },
      "CanonicalizationMethodType": {
        "type": "object",
        "properties": {
          "content": {
            "type": "array",
            "items": {
              "type": "object"
            }
          },
          "algorithm": {
            "type": "string",
            "xml": {
              "name": "Algorithm",
              "attribute": true
            }
          }
        }
      },
      "CertificateChainType": {
        "required": [
          "signingCertificate"
        ],
        "type": "object",
        "properties": {
          "signingCertificate": {
            "$ref": "#/components/schemas/VOReferenceType"
          },
          "intermediateCertificate": {
            "type": "array",
            "xml": {
              "name": "IntermediateCertificate"
            },
            "items": {
              "$ref": "#/components/schemas/VOReferenceType"
            }
          },
          "trustAnchor": {
            "$ref": "#/components/schemas/VOReferenceType"
          },
          "otherInformation": {
            "$ref": "#/components/schemas/AnyType"
          }
        }
      },
      "CommandInfo": {
        "type": "object",
        "properties": {
          "commandClass": {
            "type": "string"
          },
          "commandName": {
            "type": "string"
          }
        }
      },
      "CommandMap": {
        "type": "object",
        "properties": {
          "mimeTypes": {
            "type": "array",
            "items": {
              "type": "string"
            }
          }
        }
      },
      "ConstraintStatusType": {
        "required": [
          "status"
        ],
        "type": "object",
        "properties": {
          "status": {
            "type": "string",
            "xml": {
              "name": "Status"
            },
            "enum": [
              "APPLIED",
              "DISABLED",
              "OVERRIDDEN"
            ]
          },
          "overriddenBy": {
            "type": "string",
            "xml": {
              "name": "OverriddenBy"
            }
          }
        }
      },
      "CryptoInformationType": {
        "required": [
          "algorithm",
          "validationObjectId"
        ],
        "type": "object",
        "properties": {
          "validationObjectId": {
            "$ref": "#/components/schemas/VOReferenceType"
          },
          "algorithm": {
            "type": "string",
            "xml": {
              "name": "Algorithm"
            }
          },
          "algorithmParameters": {
            "$ref": "#/components/schemas/TypedDataType"
          },
          "secureAlgorithm": {
            "type": "boolean",
            "xml": {
              "name": "SecureAlgorithm"
            }
          },
          "notAfter": {
            "type": "string",
            "format": "date-time",
            "xml": {
              "name": "NotAfter"
            }
          },
          "otherInformation": {
            "$ref": "#/components/schemas/AnyType"
          }
        }
      },
      "DataHandler": {
        "type": "object",
        "properties": {
          "dataSource": {
            "$ref": "#/components/schemas/DataSource"
          },
          "contentType": {
            "type": "string"
          },
          "outputStream": {
            "type": "object"
          },
          "transferDataFlavors": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/ActivationDataFlavor"
            }
          },
          "commandMap": {
            "$ref": "#/components/schemas/CommandMap"
          },
          "preferredCommands": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/CommandInfo"
            }
          },
          "allCommands": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/CommandInfo"
            }
          },
          "name": {
            "type": "string"
          },
          "inputStream": {
            "type": "object"
          },
          "content": {
            "type": "object"
          }
        }
      },
      "DataSource": {
        "type": "object",
        "properties": {
          "contentType": {
            "type": "string"
          },
          "outputStream": {
            "type": "object"
          },
          "name": {
            "type": "string"
          },
          "inputStream": {
            "type": "object"
          }
        }
      },
      "DigestAlgAndValueType": {
        "required": [
          "digestMethod",
          "digestValue"
        ],
        "type": "object",
        "properties": {
          "digestMethod": {
            "$ref": "#/components/schemas/DigestMethodType"
          },
          "digestValue": {
            "type": "string",
            "format": "byte",
            "xml": {
              "name": "DigestValue",
              "namespace": "http://www.w3.org/2000/09/xmldsig#"
            }
          }
        }
      },
      "DigestMethodType": {
        "type": "object",
        "properties": {
          "content": {
            "type": "array",
            "items": {
              "type": "object"
            }
          },
          "algorithm": {
            "type": "string",
            "xml": {
              "name": "Algorithm",
              "attribute": true
            }
          }
        }
      },
      "DigitalIdentityType": {
        "type": "object",
        "properties": {
          "x509Certificate": {
            "type": "string",
            "format": "byte",
            "xml": {
              "name": "X509Certificate"
            }
          },
          "x509SubjectName": {
            "type": "string",
            "xml": {
              "name": "X509SubjectName"
            }
          },
          "keyValue": {
            "$ref": "#/components/schemas/KeyValueType"
          },
          "x509SKI": {
            "type": "string",
            "format": "byte",
            "xml": {
              "name": "X509SKI"
            }
          },
          "other": {
            "$ref": "#/components/schemas/AnyType"
          }
        }
      },
      "DocumentationReferencesType": {
        "required": [
          "documentationReference"
        ],
        "type": "object",
        "properties": {
          "documentationReference": {
            "type": "array",
            "xml": {
              "name": "DocumentationReference"
            },
            "items": {
              "type": "string",
              "xml": {
                "name": "DocumentationReference"
              }
            }
          }
        }
      },
      "ElectronicAddressType": {
        "required": [
          "uri"
        ],
        "type": "object",
        "properties": {
          "uri": {
            "type": "array",
            "xml": {
              "name": "URI"
            },
            "items": {
              "$ref": "#/components/schemas/NonEmptyMultiLangURIType"
            }
          }
        }
      },
      "ExtensionType": {
        "type": "object",
        "properties": {
          "content": {
            "type": "array",
            "items": {
              "type": "object"
            }
          },
          "critical": {
            "type": "boolean",
            "xml": {
              "name": "Critical",
              "attribute": true
            }
          }
        }
      },
      "ExtensionsListType": {
        "required": [
          "extension"
        ],
        "type": "object",
        "properties": {
          "extension": {
            "type": "array",
            "xml": {
              "name": "Extension"
            },
            "items": {
              "$ref": "#/components/schemas/ExtensionType"
            }
          }
        }
      },
      "IdentifierType": {
        "type": "object",
        "properties": {
          "value": {
            "type": "string"
          },
          "qualifier": {
            "type": "string",
            "xml": {
              "name": "Qualifier",
              "attribute": true
            },
            "enum": [
              "OID_AS_URI",
              "OID_AS_URN"
            ]
          }
        }
      },
      "IndividualValidationConstraintReportType": {
        "required": [
          "constraintStatus",
          "validationConstraintIdentifier"
        ],
        "type": "object",
        "properties": {
          "validationConstraintIdentifier": {
            "type": "string",
            "xml": {
              "name": "ValidationConstraintIdentifier"
            }
          },
          "validationConstraintParameter": {
            "type": "array",
            "xml": {
              "name": "ValidationConstraintParameter"
            },
            "items": {
              "$ref": "#/components/schemas/TypedDataType"
            }
          },
          "constraintStatus": {
            "$ref": "#/components/schemas/ConstraintStatusType"
          },
          "validationStatus": {
            "$ref": "#/components/schemas/ValidationStatusType"
          },
          "indications": {
            "type": "object",
            "xml": {
              "name": "Indications"
            }
          }
        }
      },
      "InternationalNamesType": {
        "required": [
          "name"
        ],
        "type": "object",
        "properties": {
          "name": {
            "type": "array",
            "xml": {
              "name": "Name"
            },
            "items": {
              "$ref": "#/components/schemas/MultiLangNormStringType"
            }
          }
        }
      },
      "JAXBElementObject": {
        "type": "object",
        "properties": {
          "name": {
            "type": "object",
            "properties": {
              "namespaceURI": {
                "type": "string"
              },
              "localPart": {
                "type": "string"
              },
              "prefix": {
                "type": "string"
              }
            }
          },
          "value": {
            "type": "object"
          },
          "nil": {
            "type": "boolean"
          },
          "globalScope": {
            "type": "boolean"
          },
          "typeSubstituted": {
            "type": "boolean"
          }
        }
      },
      "KeyInfoType": {
        "type": "object",
        "properties": {
          "content": {
            "type": "array",
            "items": {
              "type": "object"
            }
          },
          "id": {
            "type": "string",
            "xml": {
              "name": "Id",
              "attribute": true
            }
          }
        }
      },
      "KeyValueType": {
        "type": "object",
        "properties": {
          "content": {
            "type": "array",
            "items": {
              "type": "object"
            }
          }
        }
      },
      "MultiLangNormStringType": {
        "type": "object",
        "properties": {
          "value": {
            "type": "string"
          },
          "lang": {
            "type": "string",
            "xml": {
              "namespace": "http://www.w3.org/XML/1998/namespace",
              "attribute": true
            }
          }
        }
      },
      "NonEmptyMultiLangURIListType": {
        "required": [
          "uri"
        ],
        "type": "object",
        "properties": {
          "uri": {
            "type": "array",
            "xml": {
              "name": "URI"
            },
            "items": {
              "$ref": "#/components/schemas/NonEmptyMultiLangURIType"
            }
          }
        }
      },
      "NonEmptyMultiLangURIType": {
        "type": "object",
        "properties": {
          "value": {
            "type": "string"
          },
          "lang": {
            "type": "string",
            "xml": {
              "namespace": "http://www.w3.org/XML/1998/namespace",
              "attribute": true
            }
          }
        }
      },
      "NsPrefixMappingType": {
        "required": [
          "namespacePrefix",
          "namespaceURI"
        ],
        "type": "object",
        "properties": {
          "namespaceURI": {
            "type": "string",
            "xml": {
              "name": "NamespaceURI"
            }
          },
          "namespacePrefix": {
            "type": "string",
            "xml": {
              "name": "NamespacePrefix"
            }
          }
        }
      },
      "ObjectIdentifierType": {
        "required": [
          "identifier"
        ],
        "type": "object",
        "properties": {
          "identifier": {
            "$ref": "#/components/schemas/IdentifierType"
          },
          "description": {
            "type": "string",
            "xml": {
              "name": "Description"
            }
          },
          "documentationReferences": {
            "$ref": "#/components/schemas/DocumentationReferencesType"
          }
        }
      },
      "ObjectType": {
        "type": "object",
        "properties": {
          "content": {
            "type": "array",
            "items": {
              "type": "object"
            }
          },
          "id": {
            "type": "string",
            "xml": {
              "name": "Id",
              "attribute": true
            }
          },
          "mimeType": {
            "type": "string",
            "xml": {
              "name": "MimeType",
              "attribute": true
            }
          },
          "encoding": {
            "type": "string",
            "xml": {
              "name": "Encoding",
              "attribute": true
            }
          }
        }
      },
      "POEProvisioningType": {
        "type": "object",
        "properties": {
          "validationObject": {
            "type": "array",
            "xml": {
              "name": "ValidationObject"
            },
            "items": {
              "$ref": "#/components/schemas/VOReferenceType"
            }
          },
          "signatureReference": {
            "type": "array",
            "xml": {
              "name": "SignatureReference"
            },
            "items": {
              "$ref": "#/components/schemas/SignatureReferenceType"
            }
          },
          "poetime": {
            "type": "string",
            "format": "date-time"
          }
        }
      },
      "POEType": {
        "required": [
          "typeOfProof"
        ],
        "type": "object",
        "properties": {
          "typeOfProof": {
            "type": "string",
            "xml": {
              "name": "TypeOfProof"
            },
            "enum": [
              "VALIDATION",
              "PROVIDED",
              "POLICY"
            ]
          },
          "poeobject": {
            "$ref": "#/components/schemas/VOReferenceType"
          },
          "poetime": {
            "type": "string",
            "format": "date-time"
          }
        }
      },
      "PostalAddressListType": {
        "required": [
          "postalAddress"
        ],
        "type": "object",
        "properties": {
          "postalAddress": {
            "type": "array",
            "xml": {
              "name": "PostalAddress"
            },
            "items": {
              "$ref": "#/components/schemas/PostalAddressType"
            }
          }
        }
      },
      "PostalAddressType": {
        "required": [
          "countryName",
          "locality",
          "streetAddress"
        ],
        "type": "object",
        "properties": {
          "streetAddress": {
            "type": "string",
            "xml": {
              "name": "StreetAddress"
            }
          },
          "locality": {
            "type": "string",
            "xml": {
              "name": "Locality"
            }
          },
          "stateOrProvince": {
            "type": "string",
            "xml": {
              "name": "StateOrProvince"
            }
          },
          "postalCode": {
            "type": "string",
            "xml": {
              "name": "PostalCode"
            }
          },
          "countryName": {
            "type": "string",
            "xml": {
              "name": "CountryName"
            }
          },
          "lang": {
            "type": "string",
            "xml": {
              "namespace": "http://www.w3.org/XML/1998/namespace",
              "attribute": true
            }
          }
        }
      },
      "ReferenceType": {
        "required": [
          "digestMethod",
          "digestValue"
        ],
        "type": "object",
        "properties": {
          "transforms": {
            "$ref": "#/components/schemas/TransformsType"
          },
          "digestMethod": {
            "$ref": "#/components/schemas/DigestMethodType"
          },
          "digestValue": {
            "type": "string",
            "format": "byte",
            "xml": {
              "name": "DigestValue"
            }
          },
          "id": {
            "type": "string",
            "xml": {
              "name": "Id",
              "attribute": true
            }
          },
          "uri": {
            "type": "string",
            "xml": {
              "name": "URI",
              "attribute": true
            }
          },
          "type": {
            "type": "string",
            "xml": {
              "name": "Type",
              "attribute": true
            }
          }
        }
      },
      "RevocationStatusInformationType": {
        "required": [
          "revocationTime",
          "validationObjectId"
        ],
        "type": "object",
        "properties": {
          "validationObjectId": {
            "$ref": "#/components/schemas/VOReferenceType"
          },
          "revocationTime": {
            "type": "string",
            "format": "date-time",
            "xml": {
              "name": "RevocationTime"
            }
          },
          "revocationReason": {
            "type": "string",
            "xml": {
              "name": "RevocationReason"
            },
            "enum": [
              "UNSPECIFIED",
              "KEY_COMPROMISE",
              "CA_COMPROMISE",
              "AFFILIATION_CHANGED",
              "SUPERSEDED",
              "CESSATION_OF_OPERATION",
              "CERTIFICATE_HOLD",
              "REMOVE_FROM_CRL",
              "PRIVILEGE_WITHDRAWN",
              "AA_COMPROMISE"
            ]
          },
          "revocationObject": {
            "$ref": "#/components/schemas/VOReferenceType"
          },
          "otherInformation": {
            "$ref": "#/components/schemas/AnyType"
          }
        }
      },
      "SigPolicyQualifiersListType": {
        "required": [
          "sigPolicyQualifier"
        ],
        "type": "object",
        "properties": {
          "sigPolicyQualifier": {
            "type": "array",
            "xml": {
              "name": "SigPolicyQualifier"
            },
            "items": {
              "$ref": "#/components/schemas/AnyType"
            }
          }
        }
      },
      "SignatureAttributesType": {
        "type": "object",
        "properties": {
          "signingTimeOrSigningCertificateOrDataObjectFormat": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/JAXBElementObject"
            }
          }
        }
      },
      "SignatureIdentifierType": {
        "type": "object",
        "properties": {
          "digestAlgAndValue": {
            "$ref": "#/components/schemas/DigestAlgAndValueType"
          },
          "signatureValue": {
            "$ref": "#/components/schemas/SignatureValueType"
          },
          "hashOnly": {
            "type": "boolean",
            "xml": {
              "name": "HashOnly"
            }
          },
          "docHashOnly": {
            "type": "boolean",
            "xml": {
              "name": "DocHashOnly"
            }
          },
          "otherInformation": {
            "$ref": "#/components/schemas/AnyType"
          },
          "id": {
            "type": "string",
            "xml": {
              "attribute": true
            }
          },
          "daidentifier": {
            "type": "string"
          }
        }
      },
      "SignatureMethodType": {
        "type": "object",
        "properties": {
          "content": {
            "type": "array",
            "items": {
              "type": "object"
            }
          },
          "algorithm": {
            "type": "string",
            "xml": {
              "name": "Algorithm",
              "attribute": true
            }
          }
        }
      },
      "SignaturePolicyIdType": {
        "required": [
          "sigPolicyHash",
          "sigPolicyId"
        ],
        "type": "object",
        "properties": {
          "sigPolicyId": {
            "$ref": "#/components/schemas/ObjectIdentifierType"
          },
          "transforms": {
            "$ref": "#/components/schemas/TransformsType"
          },
          "sigPolicyHash": {
            "$ref": "#/components/schemas/DigestAlgAndValueType"
          },
          "sigPolicyQualifiers": {
            "$ref": "#/components/schemas/SigPolicyQualifiersListType"
          }
        }
      },
      "SignaturePolicyIdentifierType": {
        "type": "object",
        "properties": {
          "signaturePolicyId": {
            "$ref": "#/components/schemas/SignaturePolicyIdType"
          },
          "signaturePolicyImplied": {
            "type": "object",
            "xml": {
              "name": "SignaturePolicyImplied"
            }
          }
        }
      },
      "SignatureQualityType": {
        "required": [
          "signatureQualityInformation"
        ],
        "type": "object",
        "properties": {
          "signatureQualityInformation": {
            "type": "array",
            "xml": {
              "name": "SignatureQualityInformation"
            },
            "items": {
              "type": "string",
              "xml": {
                "name": "SignatureQualityInformation"
              }
            }
          }
        }
      },
      "SignatureReferenceType": {
        "type": "object",
        "properties": {
          "canonicalizationMethod": {
            "type": "string",
            "xml": {
              "name": "CanonicalizationMethod"
            }
          },
          "digestMethod": {
            "type": "string",
            "xml": {
              "name": "DigestMethod"
            }
          },
          "digestValue": {
            "type": "string",
            "format": "byte",
            "xml": {
              "name": "DigestValue"
            }
          },
          "otherInformation": {
            "$ref": "#/components/schemas/AnyType"
          },
          "padESFieldName": {
            "type": "string"
          },
          "xadESSignaturePtr": {
            "$ref": "#/components/schemas/XAdESSignaturePtrType"
          }
        }
      },
      "SignatureType": {
        "required": [
          "signatureValue",
          "signedInfo"
        ],
        "type": "object",
        "properties": {
          "signedInfo": {
            "$ref": "#/components/schemas/SignedInfoType"
          },
          "signatureValue": {
            "$ref": "#/components/schemas/SignatureValueType"
          },
          "keyInfo": {
            "$ref": "#/components/schemas/KeyInfoType"
          },
          "object": {
            "type": "array",
            "xml": {
              "name": "Object"
            },
            "items": {
              "$ref": "#/components/schemas/ObjectType"
            }
          },
          "id": {
            "type": "string",
            "xml": {
              "name": "Id",
              "attribute": true
            }
          }
        }
      },
      "SignatureValidationPolicyType": {
        "required": [
          "signaturePolicyIdentifier"
        ],
        "type": "object",
        "properties": {
          "signaturePolicyIdentifier": {
            "$ref": "#/components/schemas/SignaturePolicyIdentifierType"
          },
          "policyName": {
            "type": "string",
            "xml": {
              "name": "PolicyName"
            }
          },
          "formalPolicyURI": {
            "type": "string",
            "xml": {
              "name": "FormalPolicyURI"
            }
          },
          "readablePolicyURI": {
            "type": "string",
            "xml": {
              "name": "ReadablePolicyURI"
            }
          },
          "formalPolicyObject": {
            "$ref": "#/components/schemas/VOReferenceType"
          }
        }
      },
      "SignatureValidationProcessType": {
        "type": "object",
        "properties": {
          "signatureValidationProcessID": {
            "type": "string",
            "xml": {
              "name": "SignatureValidationProcessID"
            },
            "enum": [
              "BASIC",
              "LTVM",
              "LTA"
            ]
          },
          "signatureValidationServicePolicy": {
            "type": "string",
            "xml": {
              "name": "SignatureValidationServicePolicy"
            }
          },
          "signatureValidationPracticeStatement": {
            "type": "string",
            "xml": {
              "name": "SignatureValidationPracticeStatement"
            }
          },
          "otherInformation": {
            "$ref": "#/components/schemas/AnyType"
          }
        }
      },
      "SignatureValidationReportType": {
        "required": [
          "signatureValidationStatus"
        ],
        "type": "object",
        "properties": {
          "signatureIdentifier": {
            "$ref": "#/components/schemas/SignatureIdentifierType"
          },
          "validationConstraintsEvaluationReport": {
            "$ref": "#/components/schemas/ValidationConstraintsEvaluationReportType"
          },
          "validationTimeInfo": {
            "$ref": "#/components/schemas/ValidationTimeInfoType"
          },
          "signersDocument": {
            "$ref": "#/components/schemas/SignersDocumentType"
          },
          "signatureAttributes": {
            "$ref": "#/components/schemas/SignatureAttributesType"
          },
          "signerInformation": {
            "$ref": "#/components/schemas/SignerInformationType"
          },
          "signatureQuality": {
            "$ref": "#/components/schemas/SignatureQualityType"
          },
          "signatureValidationProcess": {
            "$ref": "#/components/schemas/SignatureValidationProcessType"
          },
          "signatureValidationStatus": {
            "$ref": "#/components/schemas/ValidationStatusType"
          },
          "otherInformation": {
            "$ref": "#/components/schemas/AnyType"
          }
        }
      },
      "SignatureValidatorType": {
        "required": [
          "digitalId"
        ],
        "type": "object",
        "properties": {
          "digitalId": {
            "type": "array",
            "xml": {
              "name": "DigitalId"
            },
            "items": {
              "$ref": "#/components/schemas/DigitalIdentityType"
            }
          },
          "otherInformation": {
            "$ref": "#/components/schemas/AnyType"
          },
          "tspinformation": {
            "$ref": "#/components/schemas/TSPInformationType"
          }
        }
      },
      "SignatureValueType": {
        "type": "object",
        "properties": {
          "value": {
            "type": "string",
            "format": "byte"
          },
          "id": {
            "type": "string",
            "xml": {
              "name": "Id",
              "attribute": true
            }
          }
        }
      },
      "SignedInfoType": {
        "required": [
          "canonicalizationMethod",
          "reference",
          "signatureMethod"
        ],
        "type": "object",
        "properties": {
          "canonicalizationMethod": {
            "$ref": "#/components/schemas/CanonicalizationMethodType"
          },
          "signatureMethod": {
            "$ref": "#/components/schemas/SignatureMethodType"
          },
          "reference": {
            "type": "array",
            "xml": {
              "name": "Reference"
            },
            "items": {
              "$ref": "#/components/schemas/ReferenceType"
            }
          },
          "id": {
            "type": "string",
            "xml": {
              "name": "Id",
              "attribute": true
            }
          }
        }
      },
      "SignerInformationType": {
        "required": [
          "signerCertificate"
        ],
        "type": "object",
        "properties": {
          "signerCertificate": {
            "$ref": "#/components/schemas/VOReferenceType"
          },
          "signer": {
            "type": "string",
            "xml": {
              "name": "Signer"
            }
          },
          "otherInformation": {
            "$ref": "#/components/schemas/AnyType"
          },
          "pseudonym": {
            "type": "boolean",
            "xml": {
              "name": "Pseudonym",
              "attribute": true
            }
          }
        }
      },
      "SignersDocumentType": {
        "type": "object",
        "properties": {
          "content": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/JAXBElementObject"
            }
          }
        }
      },
      "TSPInformationType": {
        "type": "object",
        "properties": {
          "tspinformationURI": {
            "$ref": "#/components/schemas/NonEmptyMultiLangURIListType"
          },
          "tspinformationExtensions": {
            "$ref": "#/components/schemas/ExtensionsListType"
          },
          "tspname": {
            "$ref": "#/components/schemas/InternationalNamesType"
          },
          "tsptradeName": {
            "$ref": "#/components/schemas/InternationalNamesType"
          },
          "tspaddress": {
            "$ref": "#/components/schemas/AddressType"
          }
        }
      },
      "TransformType": {
        "type": "object",
        "properties": {
          "content": {
            "type": "array",
            "items": {
              "type": "object"
            }
          },
          "algorithm": {
            "type": "string",
            "xml": {
              "name": "Algorithm",
              "attribute": true
            }
          }
        }
      },
      "TransformsType": {
        "required": [
          "transform"
        ],
        "type": "object",
        "properties": {
          "transform": {
            "type": "array",
            "xml": {
              "name": "Transform"
            },
            "items": {
              "$ref": "#/components/schemas/TransformType"
            }
          }
        }
      },
      "TypedDataType": {
        "required": [
          "type",
          "value"
        ],
        "type": "object",
        "properties": {
          "type": {
            "type": "string",
            "xml": {
              "name": "Type"
            }
          },
          "value": {
            "type": "object",
            "xml": {
              "name": "Value"
            }
          }
        }
      },
      "VOReferenceType": {
        "type": "object",
        "properties": {
          "any": {
            "type": "object"
          },
          "voreference": {
            "type": "array",
            "items": {
              "type": "object"
            }
          }
        }
      },
      "ValidationConstraintsEvaluationReportType": {
        "type": "object",
        "properties": {
          "signatureValidationPolicy": {
            "$ref": "#/components/schemas/SignatureValidationPolicyType"
          },
          "validationConstraint": {
            "type": "array",
            "xml": {
              "name": "ValidationConstraint"
            },
            "items": {
              "$ref": "#/components/schemas/IndividualValidationConstraintReportType"
            }
          }
        }
      },
      "ValidationObjectListType": {
        "required": [
          "validationObject"
        ],
        "type": "object",
        "properties": {
          "validationObject": {
            "type": "array",
            "xml": {
              "name": "ValidationObject"
            },
            "items": {
              "$ref": "#/components/schemas/ValidationObjectType"
            }
          }
        }
      },
      "ValidationObjectRepresentationType": {
        "type": "object",
        "properties": {
          "directOrBase64OrDigestAlgAndValue": {
            "type": "array",
            "items": {
              "type": "object"
            }
          }
        }
      },
      "ValidationObjectType": {
        "required": [
          "objectType",
          "validationObjectRepresentation"
        ],
        "type": "object",
        "properties": {
          "objectType": {
            "type": "string",
            "xml": {
              "name": "ObjectType"
            },
            "enum": [
              "CERTIFICATE",
              "CRL",
              "OCSP_RESPONSE",
              "TIMESTAMP",
              "EVIDENCE_RECORD",
              "PUBLIC_KEY",
              "SIGNED_DATA",
              "OTHER"
            ]
          },
          "validationObjectRepresentation": {
            "$ref": "#/components/schemas/ValidationObjectRepresentationType"
          },
          "poe": {
            "$ref": "#/components/schemas/POEType"
          },
          "validationReport": {
            "$ref": "#/components/schemas/SignatureValidationReportType"
          },
          "id": {
            "type": "string",
            "xml": {
              "attribute": true
            }
          },
          "poeprovisioning": {
            "$ref": "#/components/schemas/POEProvisioningType"
          }
        }
      },
      "ValidationReportDataType": {
        "type": "object",
        "properties": {
          "trustAnchor": {
            "$ref": "#/components/schemas/VOReferenceType"
          },
          "certificateChain": {
            "$ref": "#/components/schemas/CertificateChainType"
          },
          "relatedValidationObject": {
            "type": "array",
            "xml": {
              "name": "RelatedValidationObject"
            },
            "items": {
              "$ref": "#/components/schemas/VOReferenceType"
            }
          },
          "revocationStatusInformation": {
            "$ref": "#/components/schemas/RevocationStatusInformationType"
          },
          "cryptoInformation": {
            "$ref": "#/components/schemas/CryptoInformationType"
          },
          "additionalValidationReportData": {
            "$ref": "#/components/schemas/AdditionalValidationReportDataType"
          }
        }
      },
      "ValidationReportType": {
        "required": [
          "signatureValidationReport"
        ],
        "type": "object",
        "properties": {
          "signatureValidationReport": {
            "type": "array",
            "xml": {
              "name": "SignatureValidationReport"
            },
            "items": {
              "$ref": "#/components/schemas/SignatureValidationReportType"
            }
          },
          "signatureValidationObjects": {
            "$ref": "#/components/schemas/ValidationObjectListType"
          },
          "signatureValidator": {
            "$ref": "#/components/schemas/SignatureValidatorType"
          },
          "signature": {
            "$ref": "#/components/schemas/SignatureType"
          }
        }
      },
      "ValidationStatusType": {
        "required": [
          "mainIndication"
        ],
        "type": "object",
        "properties": {
          "mainIndication": {
            "type": "string",
            "xml": {
              "name": "MainIndication"
            },
            "enum": [
              "TOTAL_PASSED",
              "TOTAL_FAILED",
              "INDETERMINATE",
              "PASSED",
              "FAILED",
              "NO_SIGNATURE_FOUND"
            ]
          },
          "subIndication": {
            "type": "array",
            "xml": {
              "name": "SubIndication"
            },
            "items": {
              "type": "string",
              "xml": {
                "name": "SubIndication"
              },
              "enum": [
                "FORMAT_FAILURE",
                "HASH_FAILURE",
                "SIG_CRYPTO_FAILURE",
                "REVOKED",
                "EXPIRED",
                "NOT_YET_VALID",
                "SIG_CONSTRAINTS_FAILURE",
                "CHAIN_CONSTRAINTS_FAILURE",
                "CERTIFICATE_CHAIN_GENERAL_FAILURE",
                "CRYPTO_CONSTRAINTS_FAILURE",
                "POLICY_PROCESSING_ERROR",
                "SIGNATURE_POLICY_NOT_AVAILABLE",
                "TIMESTAMP_ORDER_FAILURE",
                "NO_SIGNING_CERTIFICATE_FOUND",
                "NO_CERTIFICATE_CHAIN_FOUND",
                "NO_CERTIFICATE_CHAIN_FOUND_NO_POE",
                "REVOKED_NO_POE",
                "REVOKED_CA_NO_POE",
                "OUT_OF_BOUNDS_NOT_REVOKED",
                "OUT_OF_BOUNDS_NO_POE",
                "REVOCATION_OUT_OF_BOUNDS_NO_POE",
                "CRYPTO_CONSTRAINTS_FAILURE_NO_POE",
                "NO_POE",
                "TRY_LATER",
                "SIGNED_DATA_NOT_FOUND"
              ]
            }
          },
          "associatedValidationReportData": {
            "type": "array",
            "xml": {
              "name": "AssociatedValidationReportData"
            },
            "items": {
              "$ref": "#/components/schemas/ValidationReportDataType"
            }
          }
        }
      },
      "ValidationTimeInfoType": {
        "required": [
          "bestSignatureTime",
          "validationTime"
        ],
        "type": "object",
        "properties": {
          "validationTime": {
            "type": "string",
            "format": "date-time",
            "xml": {
              "name": "ValidationTime"
            }
          },
          "bestSignatureTime": {
            "$ref": "#/components/schemas/POEType"
          }
        }
      },
      "WSReportsDTO": {
        "type": "object",
        "properties": {
          "diagnosticData": {
            "$ref": "#/components/schemas/XmlDiagnosticData"
          },
          "simpleReport": {
            "$ref": "#/components/schemas/XmlSimpleReport"
          },
          "detailedReport": {
            "$ref": "#/components/schemas/XmlDetailedReport"
          },
          "validationReportDataHandler": {
            "$ref": "#/components/schemas/DataHandler"
          },
          "validationReport": {
            "$ref": "#/components/schemas/ValidationReportType"
          }
        }
      },
      "XAdESSignaturePtrType": {
        "type": "object",
        "properties": {
          "nsPrefixMapping": {
            "type": "array",
            "xml": {
              "name": "NsPrefixMapping"
            },
            "items": {
              "$ref": "#/components/schemas/NsPrefixMappingType"
            }
          },
          "whichDocument": {
            "type": "object"
          },
          "schemaRefs": {
            "type": "array",
            "items": {
              "type": "object"
            }
          },
          "xpath": {
            "type": "string"
          }
        }
      },
      "XmlAbstractToken": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "xml": {
              "name": "Id",
              "attribute": true
            }
          },
          "duplicated": {
            "type": "boolean",
            "xml": {
              "name": "Duplicated",
              "attribute": true
            }
          }
        }
      },
      "XmlArchiveTimestampHashIndex": {
        "type": "object",
        "properties": {
          "messages": {
            "type": "array",
            "xml": {
              "name": "Message"
            },
            "items": {
              "type": "string",
              "xml": {
                "name": "Message"
              }
            }
          },
          "valid": {
            "type": "boolean",
            "xml": {
              "attribute": true
            }
          },
          "version": {
            "type": "string",
            "xml": {
              "attribute": true
            },
            "enum": [
              "ATS_HASH_INDEX",
              "ATS_HASH_INDEX_V2",
              "ATS_HASH_INDEX_V3"
            ]
          }
        }
      },
      "XmlBasicBuildingBlocks": {
        "required": [
          "conclusion"
        ],
        "type": "object",
        "properties": {
          "fc": {
            "$ref": "#/components/schemas/XmlFC"
          },
          "isc": {
            "$ref": "#/components/schemas/XmlISC"
          },
          "vci": {
            "$ref": "#/components/schemas/XmlVCI"
          },
          "xcv": {
            "$ref": "#/components/schemas/XmlXCV"
          },
          "cv": {
            "$ref": "#/components/schemas/XmlCV"
          },
          "sav": {
            "$ref": "#/components/schemas/XmlSAV"
          },
          "psv": {
            "$ref": "#/components/schemas/XmlPSV"
          },
          "psvcrs": {
            "$ref": "#/components/schemas/XmlCRS"
          },
          "pcv": {
            "$ref": "#/components/schemas/XmlPCV"
          },
          "vts": {
            "$ref": "#/components/schemas/XmlVTS"
          },
          "certificateChain": {
            "$ref": "#/components/schemas/XmlCertificateChain"
          },
          "conclusion": {
            "$ref": "#/components/schemas/XmlConclusion"
          },
          "id": {
            "type": "string",
            "xml": {
              "name": "Id",
              "attribute": true
            }
          },
          "type": {
            "type": "string",
            "xml": {
              "name": "Type",
              "attribute": true
            },
            "enum": [
              "SIGNATURE",
              "COUNTER_SIGNATURE",
              "TIMESTAMP",
              "EVIDENCE_RECORD",
              "REVOCATION",
              "CERTIFICATE"
            ]
          }
        }
      },
      "XmlBasicSignature": {
        "type": "object",
        "properties": {
          "encryptionAlgoUsedToSignThisToken": {
            "type": "string",
            "xml": {
              "name": "EncryptionAlgoUsedToSignThisToken"
            },
            "enum": [
              "RSA",
              "RSASSA_PSS",
              "DSA",
              "ECDSA",
              "PLAIN_ECDSA",
              "X25519",
              "X448",
              "EDDSA",
              "HMAC"
            ]
          },
          "keyLengthUsedToSignThisToken": {
            "type": "string",
            "xml": {
              "name": "KeyLengthUsedToSignThisToken"
            }
          },
          "digestAlgoUsedToSignThisToken": {
            "type": "string",
            "xml": {
              "name": "DigestAlgoUsedToSignThisToken"
            },
            "enum": [
              "SHA1",
              "SHA224",
              "SHA256",
              "SHA384",
              "SHA512",
              "SHA3_224",
              "SHA3_256",
              "SHA3_384",
              "SHA3_512",
              "SHAKE128",
              "SHAKE256",
              "SHAKE256_512",
              "RIPEMD160",
              "MD2",
              "MD5",
              "WHIRLPOOL"
            ]
          },
          "signatureIntact": {
            "type": "boolean",
            "xml": {
              "name": "SignatureIntact"
            }
          },
          "signatureValid": {
            "type": "boolean",
            "xml": {
              "name": "SignatureValid"
            }
          }
        }
      },
      "XmlByteRange": {
        "type": "object",
        "properties": {
          "value": {
            "type": "array",
            "items": {
              "type": "integer"
            }
          },
          "valid": {
            "type": "boolean",
            "xml": {
              "attribute": true
            }
          }
        }
      },
      "XmlCRS": {
        "required": [
          "conclusion"
        ],
        "type": "object",
        "properties": {
          "constraint": {
            "type": "array",
            "xml": {
              "name": "Constraint"
            },
            "items": {
              "$ref": "#/components/schemas/XmlConstraint"
            }
          },
          "conclusion": {
            "$ref": "#/components/schemas/XmlConclusion"
          },
          "title": {
            "type": "string",
            "xml": {
              "name": "Title",
              "attribute": true
            }
          },
          "rac": {
            "type": "array",
            "xml": {
              "name": "RAC"
            },
            "items": {
              "$ref": "#/components/schemas/XmlRAC"
            }
          },
          "acceptableRevocationId": {
            "type": "array",
            "xml": {
              "name": "AcceptableRevocationId"
            },
            "items": {
              "type": "string",
              "xml": {
                "name": "AcceptableRevocationId"
              }
            }
          },
          "id": {
            "type": "string",
            "xml": {
              "name": "Id",
              "attribute": true
            }
          },
          "latestAcceptableRevocationId": {
            "type": "string",
            "xml": {
              "name": "LatestAcceptableRevocationId",
              "attribute": true
            }
          }
        }
      },
      "XmlCV": {
        "required": [
          "conclusion"
        ],
        "type": "object",
        "properties": {
          "constraint": {
            "type": "array",
            "xml": {
              "name": "Constraint"
            },
            "items": {
              "$ref": "#/components/schemas/XmlConstraint"
            }
          },
          "conclusion": {
            "$ref": "#/components/schemas/XmlConclusion"
          },
          "title": {
            "type": "string",
            "xml": {
              "name": "Title",
              "attribute": true
            }
          }
        }
      },
      "XmlCertificate": {
        "required": [
          "qualifiedName"
        ],
        "type": "object",
        "properties": {
          "qualifiedName": {
            "type": "string",
            "xml": {
              "name": "QualifiedName"
            }
          },
          "trustAnchors": {
            "$ref": "#/components/schemas/XmlTrustAnchors"
          },
          "id": {
            "type": "string",
            "xml": {
              "name": "Id",
              "attribute": true
            }
          },
          "trusted": {
            "type": "boolean",
            "xml": {
              "attribute": true
            }
          },
          "sunsetDate": {
            "type": "string",
            "format": "date-time",
            "xml": {
              "attribute": true
            }
          }
        }
      },
      "XmlCertificateChain": {
        "type": "object",
        "properties": {
          "chainItem": {
            "type": "array",
            "xml": {
              "name": "ChainItem"
            },
            "items": {
              "$ref": "#/components/schemas/XmlChainItem"
            }
          }
        }
      },
      "XmlCertificateExtension": {
        "type": "object",
        "properties": {
          "octets": {
            "type": "string",
            "format": "byte"
          },
          "oid": {
            "type": "string",
            "xml": {
              "name": "OID",
              "attribute": true
            }
          },
          "description": {
            "type": "string",
            "xml": {
              "attribute": true
            }
          },
          "critical": {
            "type": "boolean",
            "xml": {
              "attribute": true
            }
          }
        }
      },
      "XmlCertificateRef": {
        "required": [
          "origin"
        ],
        "type": "object",
        "properties": {
          "origin": {
            "type": "string",
            "xml": {
              "name": "Origin"
            },
            "enum": [
              "ATTRIBUTE_CERTIFICATE_REFS",
              "COMPLETE_CERTIFICATE_REFS",
              "SIGNING_CERTIFICATE",
              "KEY_IDENTIFIER",
              "X509_URL"
            ]
          },
          "issuerSerial": {
            "$ref": "#/components/schemas/XmlIssuerSerial"
          },
          "digestAlgoAndValue": {
            "$ref": "#/components/schemas/XmlDigestAlgoAndValue"
          },
          "serialInfo": {
            "$ref": "#/components/schemas/XmlSignerInfo"
          },
          "x509Url": {
            "type": "string",
            "xml": {
              "name": "X509Url"
            }
          }
        }
      },
      "XmlCertificateRevocation": {
        "required": [
          "status"
        ],
        "type": "object",
        "properties": {
          "status": {
            "type": "string",
            "xml": {
              "name": "Status"
            },
            "enum": [
              "GOOD",
              "REVOKED",
              "UNKNOWN"
            ]
          },
          "reason": {
            "type": "string",
            "xml": {
              "name": "Reason"
            },
            "enum": [
              "UNSPECIFIED",
              "KEY_COMPROMISE",
              "CA_COMPROMISE",
              "AFFILIATION_CHANGED",
              "SUPERSEDED",
              "CESSATION_OF_OPERATION",
              "CERTIFICATE_HOLD",
              "REMOVE_FROM_CRL",
              "PRIVILEGE_WITHDRAWN",
              "AA_COMPROMISE"
            ]
          },
          "revocationDate": {
            "type": "string",
            "format": "date-time",
            "xml": {
              "name": "RevocationDate"
            }
          },
          "revocation": {
            "$ref": "#/components/schemas/XmlRevocation"
          }
        }
      },
      "XmlChainItem": {
        "required": [
          "source"
        ],
        "type": "object",
        "properties": {
          "source": {
            "type": "string",
            "xml": {
              "name": "Source"
            },
            "enum": [
              "TRUSTED_STORE",
              "TRUSTED_LIST",
              "SIGNATURE",
              "OCSP_RESPONSE",
              "OTHER",
              "AIA",
              "TIMESTAMP",
              "EVIDENCE_RECORD",
              "UNKNOWN"
            ]
          },
          "id": {
            "type": "string",
            "xml": {
              "name": "Id",
              "attribute": true
            }
          }
        }
      },
      "XmlCommitmentTypeIndication": {
        "required": [
          "identifier"
        ],
        "type": "object",
        "properties": {
          "identifier": {
            "type": "string",
            "xml": {
              "name": "Identifier"
            }
          },
          "description": {
            "type": "string",
            "xml": {
              "name": "Description"
            }
          },
          "documentationReferences": {
            "type": "array",
            "xml": {
              "name": "DocumentationReferences",
              "wrapped": true
            },
            "items": {
              "type": "string",
              "xml": {
                "name": "DocumentationReference"
              }
            }
          },
          "objectReferences": {
            "type": "array",
            "xml": {
              "name": "ObjectReferences",
              "wrapped": true
            },
            "items": {
              "type": "string",
              "xml": {
                "name": "ObjectReference"
              }
            }
          },
          "allDataSignedObjects": {
            "type": "boolean",
            "xml": {
              "name": "AllDataSignedObjects"
            }
          }
        }
      },
      "XmlConclusion": {
        "required": [
          "indication"
        ],
        "type": "object",
        "properties": {
          "indication": {
            "type": "string",
            "xml": {
              "name": "Indication"
            },
            "enum": [
              "TOTAL_PASSED",
              "TOTAL_FAILED",
              "INDETERMINATE",
              "PASSED",
              "FAILED",
              "NO_SIGNATURE_FOUND"
            ]
          },
          "subIndication": {
            "type": "string",
            "xml": {
              "name": "SubIndication"
            },
            "enum": [
              "FORMAT_FAILURE",
              "HASH_FAILURE",
              "SIG_CRYPTO_FAILURE",
              "REVOKED",
              "EXPIRED",
              "NOT_YET_VALID",
              "SIG_CONSTRAINTS_FAILURE",
              "CHAIN_CONSTRAINTS_FAILURE",
              "CERTIFICATE_CHAIN_GENERAL_FAILURE",
              "CRYPTO_CONSTRAINTS_FAILURE",
              "POLICY_PROCESSING_ERROR",
              "SIGNATURE_POLICY_NOT_AVAILABLE",
              "TIMESTAMP_ORDER_FAILURE",
              "NO_SIGNING_CERTIFICATE_FOUND",
              "NO_CERTIFICATE_CHAIN_FOUND",
              "NO_CERTIFICATE_CHAIN_FOUND_NO_POE",
              "REVOKED_NO_POE",
              "REVOKED_CA_NO_POE",
              "OUT_OF_BOUNDS_NOT_REVOKED",
              "OUT_OF_BOUNDS_NO_POE",
              "REVOCATION_OUT_OF_BOUNDS_NO_POE",
              "CRYPTO_CONSTRAINTS_FAILURE_NO_POE",
              "NO_POE",
              "TRY_LATER",
              "SIGNED_DATA_NOT_FOUND"
            ]
          },
          "errors": {
            "type": "array",
            "xml": {
              "name": "Errors"
            },
            "items": {
              "$ref": "#/components/schemas/XmlMessage"
            }
          },
          "warnings": {
            "type": "array",
            "xml": {
              "name": "Warnings"
            },
            "items": {
              "$ref": "#/components/schemas/XmlMessage"
            }
          },
          "infos": {
            "type": "array",
            "xml": {
              "name": "Infos"
            },
            "items": {
              "$ref": "#/components/schemas/XmlMessage"
            }
          }
        }
      },
      "XmlConstraint": {
        "required": [
          "name",
          "status"
        ],
        "type": "object",
        "properties": {
          "name": {
            "$ref": "#/components/schemas/XmlMessage"
          },
          "status": {
            "type": "string",
            "xml": {
              "name": "Status"
            },
            "enum": [
              "OK",
              "NOT_OK",
              "IGNORED",
              "INFORMATION",
              "WARNING"
            ]
          },
          "error": {
            "$ref": "#/components/schemas/XmlMessage"
          },
          "warning": {
            "$ref": "#/components/schemas/XmlMessage"
          },
          "info": {
            "$ref": "#/components/schemas/XmlMessage"
          },
          "additionalInfo": {
            "type": "string",
            "xml": {
              "name": "AdditionalInfo"
            }
          },
          "id": {
            "type": "string",
            "xml": {
              "name": "Id",
              "attribute": true
            }
          },
          "blockType": {
            "type": "string",
            "xml": {
              "name": "BlockType",
              "attribute": true
            },
            "enum": [
              "SIG_BBB",
              "REV_BBB",
              "TST_BBB",
              "CNT_TST_BBB",
              "CRS",
              "PSV_CRS",
              "RAC",
              "RAC_SUB_XCV",
              "RFC",
              "SUB_XCV",
              "SUB_XCV_TA",
              "REV_CC",
              "ER",
              "PSV",
              "PCV",
              "VTS",
              "TST_PSV",
              "TST",
              "LTV",
              "LTV_SUB_XCV",
              "LTA"
            ]
          }
        }
      },
      "XmlContainerInfo": {
        "type": "object",
        "properties": {
          "containerType": {
            "type": "string",
            "xml": {
              "name": "ContainerType"
            },
            "enum": [
              "ASiC-S",
              "ASiC-E"
            ]
          },
          "zipComment": {
            "type": "string",
            "xml": {
              "name": "ZipComment"
            }
          },
          "mimeTypeFilePresent": {
            "type": "boolean",
            "xml": {
              "name": "MimeTypeFilePresent"
            }
          },
          "mimeTypeContent": {
            "type": "string",
            "xml": {
              "name": "MimeTypeContent"
            }
          },
          "manifestFiles": {
            "type": "array",
            "xml": {
              "name": "ManifestFiles",
              "wrapped": true
            },
            "items": {
              "$ref": "#/components/schemas/XmlManifestFile"
            }
          },
          "contentFiles": {
            "type": "array",
            "xml": {
              "name": "ContentFiles",
              "wrapped": true
            },
            "items": {
              "type": "string",
              "xml": {
                "name": "ContentFile"
              }
            }
          }
        }
      },
      "XmlCryptographicAlgorithm": {
        "required": [
          "name",
          "uri"
        ],
        "type": "object",
        "properties": {
          "name": {
            "type": "string",
            "xml": {
              "name": "Name"
            }
          },
          "uri": {
            "type": "string",
            "xml": {
              "name": "Uri"
            }
          },
          "keyLength": {
            "type": "string",
            "xml": {
              "name": "KeyLength"
            }
          }
        }
      },
      "XmlCryptographicValidation": {
        "required": [
          "algorithm",
          "concernedMaterial"
        ],
        "type": "object",
        "properties": {
          "algorithm": {
            "$ref": "#/components/schemas/XmlCryptographicAlgorithm"
          },
          "notAfter": {
            "type": "string",
            "format": "date-time",
            "xml": {
              "name": "NotAfter"
            }
          },
          "validationTime": {
            "type": "string",
            "format": "date-time",
            "xml": {
              "name": "ValidationTime"
            }
          },
          "concernedMaterial": {
            "type": "string",
            "xml": {
              "name": "ConcernedMaterial"
            }
          },
          "secure": {
            "type": "boolean",
            "xml": {
              "attribute": true
            }
          }
        }
      },
      "XmlDetailedReport": {
        "type": "object",
        "properties": {
          "signatureOrTimestampOrEvidenceRecord": {
            "type": "array",
            "items": {
              "type": "object"
            }
          },
          "basicBuildingBlocks": {
            "type": "array",
            "xml": {
              "name": "BasicBuildingBlocks"
            },
            "items": {
              "$ref": "#/components/schemas/XmlBasicBuildingBlocks"
            }
          },
          "semantic": {
            "type": "array",
            "xml": {
              "name": "Semantic"
            },
            "items": {
              "$ref": "#/components/schemas/XmlSemantic"
            }
          },
          "validationTime": {
            "type": "string",
            "format": "date-time",
            "xml": {
              "name": "ValidationTime",
              "attribute": true
            }
          },
          "tlanalysis": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/XmlTLAnalysis"
            }
          }
        }
      },
      "XmlDetails": {
        "type": "object",
        "properties": {
          "error": {
            "type": "array",
            "xml": {
              "name": "Error"
            },
            "items": {
              "$ref": "#/components/schemas/XmlMessage"
            }
          },
          "warning": {
            "type": "array",
            "xml": {
              "name": "Warning"
            },
            "items": {
              "$ref": "#/components/schemas/XmlMessage"
            }
          },
          "info": {
            "type": "array",
            "xml": {
              "name": "Info"
            },
            "items": {
              "$ref": "#/components/schemas/XmlMessage"
            }
          }
        }
      },
      "XmlDiagnosticData": {
        "required": [
          "validationDate"
        ],
        "type": "object",
        "properties": {
          "documentName": {
            "type": "string",
            "xml": {
              "name": "DocumentName"
            }
          },
          "validationDate": {
            "type": "string",
            "format": "date-time",
            "xml": {
              "name": "ValidationDate"
            }
          },
          "containerInfo": {
            "$ref": "#/components/schemas/XmlContainerInfo"
          },
          "signatures": {
            "type": "array",
            "xml": {
              "name": "Signatures",
              "wrapped": true
            },
            "items": {
              "$ref": "#/components/schemas/XmlSignature"
            }
          },
          "evidenceRecords": {
            "type": "array",
            "xml": {
              "name": "EvidenceRecords",
              "wrapped": true
            },
            "items": {
              "$ref": "#/components/schemas/XmlEvidenceRecord"
            }
          },
          "usedCertificates": {
            "type": "array",
            "xml": {
              "name": "UsedCertificates",
              "wrapped": true
            },
            "items": {
              "$ref": "#/components/schemas/XmlCertificate"
            }
          },
          "usedRevocations": {
            "type": "array",
            "xml": {
              "name": "UsedRevocations",
              "wrapped": true
            },
            "items": {
              "$ref": "#/components/schemas/XmlRevocation"
            }
          },
          "usedTimestamps": {
            "type": "array",
            "xml": {
              "name": "UsedTimestamps",
              "wrapped": true
            },
            "items": {
              "$ref": "#/components/schemas/XmlTimestamp"
            }
          },
          "orphanTokens": {
            "$ref": "#/components/schemas/XmlOrphanTokens"
          },
          "originalDocuments": {
            "type": "array",
            "xml": {
              "name": "OriginalDocuments",
              "wrapped": true
            },
            "items": {
              "$ref": "#/components/schemas/XmlSignerData"
            }
          },
          "trustedLists": {
            "type": "array",
            "xml": {
              "name": "TrustedLists",
              "wrapped": true
            },
            "items": {
              "$ref": "#/components/schemas/XmlTrustedList"
            }
          },
          "pdfainfo": {
            "$ref": "#/components/schemas/XmlPDFAInfo"
          }
        }
      },
      "XmlDigestAlgoAndValue": {
        "type": "object",
        "properties": {
          "digestMethod": {
            "type": "string",
            "xml": {
              "name": "DigestMethod"
            },
            "enum": [
              "SHA1",
              "SHA224",
              "SHA256",
              "SHA384",
              "SHA512",
              "SHA3_224",
              "SHA3_256",
              "SHA3_384",
              "SHA3_512",
              "SHAKE128",
              "SHAKE256",
              "SHAKE256_512",
              "RIPEMD160",
              "MD2",
              "MD5",
              "WHIRLPOOL"
            ]
          },
          "digestValue": {
            "type": "string",
            "format": "byte",
            "xml": {
              "name": "DigestValue"
            }
          },
          "match": {
            "type": "boolean",
            "xml": {
              "attribute": true
            }
          }
        }
      },
      "XmlDigestMatcher": {
        "type": "object",
        "properties": {
          "digestMethod": {
            "type": "string",
            "xml": {
              "name": "DigestMethod"
            },
            "enum": [
              "SHA1",
              "SHA224",
              "SHA256",
              "SHA384",
              "SHA512",
              "SHA3_224",
              "SHA3_256",
              "SHA3_384",
              "SHA3_512",
              "SHAKE128",
              "SHAKE256",
              "SHAKE256_512",
              "RIPEMD160",
              "MD2",
              "MD5",
              "WHIRLPOOL"
            ]
          },
          "digestValue": {
            "type": "string",
            "format": "byte",
            "xml": {
              "name": "DigestValue"
            }
          },
          "match": {
            "type": "boolean",
            "xml": {
              "attribute": true
            }
          },
          "dataFound": {
            "type": "boolean",
            "xml": {
              "name": "DataFound"
            }
          },
          "dataIntact": {
            "type": "boolean",
            "xml": {
              "name": "DataIntact"
            }
          },
          "type": {
            "type": "string",
            "xml": {
              "attribute": true
            },
            "enum": [
              "REFERENCE",
              "OBJECT",
              "MANIFEST",
              "SIGNED_PROPERTIES",
              "KEY_INFO",
              "SIGNATURE_PROPERTIES",
              "XPOINTER",
              "MANIFEST_ENTRY",
              "COUNTER_SIGNATURE",
              "MESSAGE_DIGEST",
              "CONTENT_DIGEST",
              "JWS_SIGNING_INPUT_DIGEST",
              "SIG_D_ENTRY",
              "COUNTER_SIGNED_SIGNATURE_VALUE",
              "MESSAGE_IMPRINT",
              "EVIDENCE_RECORD_ARCHIVE_OBJECT",
              "EVIDENCE_RECORD_ORPHAN_REFERENCE",
              "EVIDENCE_RECORD_ARCHIVE_TIME_STAMP",
              "EVIDENCE_RECORD_ARCHIVE_TIME_STAMP_SEQUENCE",
              "EVIDENCE_RECORD_MASTER_SIGNATURE"
            ]
          },
          "id": {
            "type": "string",
            "xml": {
              "attribute": true
            }
          },
          "uri": {
            "type": "string",
            "xml": {
              "attribute": true
            }
          },
          "documentName": {
            "type": "string",
            "xml": {
              "attribute": true
            }
          },
          "duplicated": {
            "type": "boolean",
            "xml": {
              "attribute": true
            }
          }
        }
      },
      "XmlDistinguishedName": {
        "type": "object",
        "properties": {
          "value": {
            "type": "string"
          },
          "format": {
            "type": "string",
            "xml": {
              "name": "Format",
              "attribute": true
            }
          }
        }
      },
      "XmlDocMDP": {
        "required": [
          "permissions"
        ],
        "type": "object",
        "properties": {
          "permissions": {
            "type": "string",
            "xml": {
              "name": "Permissions"
            },
            "enum": [
              "NO_CHANGE_PERMITTED",
              "MINIMAL_CHANGES_PERMITTED",
              "CHANGES_PERMITTED"
            ]
          }
        }
      },
      "XmlEvidenceRecord": {
        "required": [
          "foundCertificates",
          "foundRevocations",
          "origin",
          "type"
        ],
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "xml": {
              "name": "Id",
              "attribute": true
            }
          },
          "duplicated": {
            "type": "boolean",
            "xml": {
              "name": "Duplicated",
              "attribute": true
            }
          },
          "documentName": {
            "type": "string",
            "xml": {
              "name": "DocumentName"
            }
          },
          "type": {
            "type": "string",
            "xml": {
              "name": "Type"
            },
            "enum": [
              "XML_EVIDENCE_RECORD",
              "ASN1_EVIDENCE_RECORD"
            ]
          },
          "origin": {
            "type": "string",
            "xml": {
              "name": "Origin"
            },
            "enum": [
              "CONTAINER",
              "SIGNATURE",
              "EXTERNAL"
            ]
          },
          "incorporationType": {
            "type": "string",
            "xml": {
              "name": "IncorporationType"
            },
            "enum": [
              "INTERNAL_EVIDENCE_RECORD",
              "EXTERNAL_EVIDENCE_RECORD"
            ]
          },
          "structuralValidation": {
            "$ref": "#/components/schemas/XmlStructuralValidation"
          },
          "digestMatchers": {
            "type": "array",
            "xml": {
              "name": "DigestMatchers",
              "wrapped": true
            },
            "items": {
              "$ref": "#/components/schemas/XmlDigestMatcher"
            }
          },
          "evidenceRecordTimestamps": {
            "type": "array",
            "xml": {
              "name": "EvidenceRecordTimestamps",
              "wrapped": true
            },
            "items": {
              "$ref": "#/components/schemas/XmlFoundTimestamp"
            }
          },
          "foundCertificates": {
            "$ref": "#/components/schemas/XmlFoundCertificates"
          },
          "foundRevocations": {
            "$ref": "#/components/schemas/XmlFoundRevocations"
          },
          "timestampedObjects": {
            "type": "array",
            "xml": {
              "name": "TimestampedObjects",
              "wrapped": true
            },
            "items": {
              "$ref": "#/components/schemas/XmlTimestampedObject"
            }
          },
          "evidenceRecordScopes": {
            "type": "array",
            "xml": {
              "name": "EvidenceRecordScopes",
              "wrapped": true
            },
            "items": {
              "$ref": "#/components/schemas/XmlSignatureScope"
            }
          },
          "base64Encoded": {
            "type": "string",
            "format": "byte",
            "xml": {
              "name": "Base64Encoded"
            }
          },
          "digestAlgoAndValue": {
            "$ref": "#/components/schemas/XmlDigestAlgoAndValue"
          },
          "embedded": {
            "type": "boolean",
            "xml": {
              "name": "Embedded",
              "attribute": true
            }
          },
          "parent": {
            "$ref": "#/components/schemas/XmlSignature"
          }
        }
      },
      "XmlFC": {
        "required": [
          "conclusion"
        ],
        "type": "object",
        "properties": {
          "constraint": {
            "type": "array",
            "xml": {
              "name": "Constraint"
            },
            "items": {
              "$ref": "#/components/schemas/XmlConstraint"
            }
          },
          "conclusion": {
            "$ref": "#/components/schemas/XmlConclusion"
          },
          "title": {
            "type": "string",
            "xml": {
              "name": "Title",
              "attribute": true
            }
          }
        }
      },
      "XmlFoundCertificates": {
        "type": "object",
        "properties": {
          "relatedCertificates": {
            "type": "array",
            "xml": {
              "name": "RelatedCertificate"
            },
            "items": {
              "$ref": "#/components/schemas/XmlRelatedCertificate"
            }
          },
          "orphanCertificates": {
            "type": "array",
            "xml": {
              "name": "OrphanCertificate"
            },
            "items": {
              "$ref": "#/components/schemas/XmlOrphanCertificate"
            }
          }
        }
      },
      "XmlFoundEvidenceRecord": {
        "type": "object",
        "properties": {
          "evidenceRecord": {
            "$ref": "#/components/schemas/XmlEvidenceRecord"
          }
        }
      },
      "XmlFoundRevocations": {
        "type": "object",
        "properties": {
          "relatedRevocations": {
            "type": "array",
            "xml": {
              "name": "RelatedRevocation"
            },
            "items": {
              "$ref": "#/components/schemas/XmlRelatedRevocation"
            }
          },
          "orphanRevocations": {
            "type": "array",
            "xml": {
              "name": "OrphanRevocation"
            },
            "items": {
              "$ref": "#/components/schemas/XmlOrphanRevocation"
            }
          }
        }
      },
      "XmlFoundTimestamp": {
        "type": "object",
        "properties": {
          "timestamp": {
            "$ref": "#/components/schemas/XmlTimestamp"
          }
        }
      },
      "XmlISC": {
        "required": [
          "certificateChain",
          "conclusion"
        ],
        "type": "object",
        "properties": {
          "constraint": {
            "type": "array",
            "xml": {
              "name": "Constraint"
            },
            "items": {
              "$ref": "#/components/schemas/XmlConstraint"
            }
          },
          "conclusion": {
            "$ref": "#/components/schemas/XmlConclusion"
          },
          "title": {
            "type": "string",
            "xml": {
              "name": "Title",
              "attribute": true
            }
          },
          "certificateChain": {
            "$ref": "#/components/schemas/XmlCertificateChain"
          }
        }
      },
      "XmlIssuerEntityKey": {
        "type": "object",
        "properties": {
          "value": {
            "type": "string"
          },
          "key": {
            "type": "boolean",
            "xml": {
              "attribute": true
            }
          },
          "subjectName": {
            "type": "boolean",
            "xml": {
              "attribute": true
            }
          }
        }
      },
      "XmlIssuerSerial": {
        "type": "object",
        "properties": {
          "value": {
            "type": "string",
            "format": "byte"
          },
          "match": {
            "type": "boolean",
            "xml": {
              "attribute": true
            }
          }
        }
      },
      "XmlLangAndValue": {
        "type": "object",
        "properties": {
          "value": {
            "type": "string"
          },
          "lang": {
            "type": "string",
            "xml": {
              "attribute": true
            }
          }
        }
      },
      "XmlMRATrustServiceMapping": {
        "required": [
          "equivalenceStatusStartingTime",
          "originalThirdCountryMapping",
          "trustServiceLegalIdentifier"
        ],
        "type": "object",
        "properties": {
          "trustServiceLegalIdentifier": {
            "type": "string",
            "xml": {
              "name": "TrustServiceLegalIdentifier"
            }
          },
          "equivalenceStatusStartingTime": {
            "type": "string",
            "format": "date-time",
            "xml": {
              "name": "EquivalenceStatusStartingTime"
            }
          },
          "equivalenceStatusEndingTime": {
            "type": "string",
            "format": "date-time",
            "xml": {
              "name": "EquivalenceStatusEndingTime"
            }
          },
          "originalThirdCountryMapping": {
            "$ref": "#/components/schemas/XmlOriginalThirdCountryTrustServiceMapping"
          }
        }
      },
      "XmlManifestFile": {
        "type": "object",
        "properties": {
          "filename": {
            "type": "string",
            "xml": {
              "name": "Filename"
            }
          },
          "signatureFilename": {
            "type": "string",
            "xml": {
              "name": "SignatureFilename"
            }
          },
          "entries": {
            "type": "array",
            "xml": {
              "name": "Entries",
              "wrapped": true
            },
            "items": {
              "type": "string",
              "xml": {
                "name": "Entry"
              }
            }
          }
        }
      },
      "XmlMessage": {
        "type": "object",
        "properties": {
          "value": {
            "type": "string"
          },
          "key": {
            "type": "string",
            "xml": {
              "name": "Key",
              "attribute": true
            }
          }
        }
      },
      "XmlModification": {
        "type": "object",
        "properties": {
          "page": {
            "type": "integer",
            "xml": {
              "name": "Page",
              "attribute": true
            }
          }
        }
      },
      "XmlModificationDetection": {
        "type": "object",
        "properties": {
          "annotationOverlap": {
            "type": "array",
            "xml": {
              "name": "AnnotationOverlap"
            },
            "items": {
              "$ref": "#/components/schemas/XmlModification"
            }
          },
          "visualDifference": {
            "type": "array",
            "xml": {
              "name": "VisualDifference"
            },
            "items": {
              "$ref": "#/components/schemas/XmlModification"
            }
          },
          "pageDifference": {
            "type": "array",
            "xml": {
              "name": "PageDifference"
            },
            "items": {
              "$ref": "#/components/schemas/XmlModification"
            }
          },
          "objectModifications": {
            "$ref": "#/components/schemas/XmlObjectModifications"
          }
        }
      },
      "XmlObjectModification": {
        "type": "object",
        "properties": {
          "value": {
            "type": "string"
          },
          "action": {
            "type": "string",
            "xml": {
              "attribute": true
            },
            "enum": [
              "CREATION",
              "DELETION",
              "MODIFICATION"
            ]
          },
          "fieldName": {
            "type": "string",
            "xml": {
              "attribute": true
            }
          },
          "type": {
            "type": "string",
            "xml": {
              "attribute": true
            }
          }
        }
      },
      "XmlObjectModifications": {
        "type": "object",
        "properties": {
          "extensionChanges": {
            "type": "array",
            "xml": {
              "name": "ExtensionChange"
            },
            "items": {
              "$ref": "#/components/schemas/XmlObjectModification"
            }
          },
          "signatureOrFormFill": {
            "type": "array",
            "xml": {
              "name": "SignatureOrFormFill"
            },
            "items": {
              "$ref": "#/components/schemas/XmlObjectModification"
            }
          },
          "annotationChanges": {
            "type": "array",
            "xml": {
              "name": "AnnotationChange"
            },
            "items": {
              "$ref": "#/components/schemas/XmlObjectModification"
            }
          },
          "undefined": {
            "type": "array",
            "xml": {
              "name": "Undefined"
            },
            "items": {
              "$ref": "#/components/schemas/XmlObjectModification"
            }
          }
        }
      },
      "XmlOriginalThirdCountryTrustServiceMapping": {
        "type": "object",
        "properties": {
          "serviceType": {
            "type": "string",
            "xml": {
              "name": "ServiceType"
            }
          },
          "status": {
            "type": "string",
            "xml": {
              "name": "Status"
            }
          },
          "capturedQualifiers": {
            "type": "array",
            "xml": {
              "name": "CapturedQualifiers",
              "wrapped": true
            },
            "items": {
              "$ref": "#/components/schemas/XmlQualifier"
            }
          },
          "additionalServiceInfoUris": {
            "type": "array",
            "xml": {
              "name": "AdditionalServiceInfoUris",
              "wrapped": true
            },
            "items": {
              "type": "string",
              "xml": {
                "name": "AdditionalServiceInfoUri"
              }
            }
          }
        }
      },
      "XmlOrphanCertificate": {
        "type": "object",
        "properties": {
          "origins": {
            "type": "array",
            "xml": {
              "name": "Origin"
            },
            "items": {
              "type": "string",
              "xml": {
                "name": "Origin"
              },
              "enum": [
                "KEY_INFO",
                "SIGNED_DATA",
                "CERTIFICATE_VALUES",
                "ATTR_AUTHORITIES_CERT_VALUES",
                "TIMESTAMP_VALIDATION_DATA",
                "ANY_VALIDATION_DATA",
                "DSS_DICTIONARY",
                "VRI_DICTIONARY",
                "BASIC_OCSP_RESP",
                "EVIDENCE_RECORD"
              ]
            }
          },
          "certificateRefs": {
            "type": "array",
            "xml": {
              "name": "CertificateRef"
            },
            "items": {
              "$ref": "#/components/schemas/XmlCertificateRef"
            }
          },
          "token": {
            "$ref": "#/components/schemas/XmlOrphanCertificateToken"
          }
        }
      },
      "XmlOrphanCertificateToken": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "xml": {
              "name": "Id",
              "attribute": true
            }
          },
          "duplicated": {
            "type": "boolean",
            "xml": {
              "name": "Duplicated",
              "attribute": true
            }
          },
          "encapsulationType": {
            "type": "string",
            "xml": {
              "name": "EncapsulationType",
              "attribute": true
            },
            "enum": [
              "BINARIES",
              "REFERENCE"
            ]
          },
          "subjectDistinguishedName": {
            "type": "array",
            "xml": {
              "name": "SubjectDistinguishedName"
            },
            "items": {
              "$ref": "#/components/schemas/XmlDistinguishedName"
            }
          },
          "issuerDistinguishedName": {
            "type": "array",
            "xml": {
              "name": "IssuerDistinguishedName"
            },
            "items": {
              "$ref": "#/components/schemas/XmlDistinguishedName"
            }
          },
          "serialNumber": {
            "type": "integer",
            "xml": {
              "name": "SerialNumber"
            }
          },
          "notAfter": {
            "type": "string",
            "format": "date-time",
            "xml": {
              "name": "NotAfter"
            }
          },
          "notBefore": {
            "type": "string",
            "format": "date-time",
            "xml": {
              "name": "NotBefore"
            }
          },
          "entityKey": {
            "type": "string",
            "xml": {
              "name": "EntityKey"
            }
          },
          "trusted": {
            "type": "boolean",
            "xml": {
              "name": "Trusted"
            }
          },
          "selfSigned": {
            "type": "boolean",
            "xml": {
              "name": "SelfSigned"
            }
          },
          "base64Encoded": {
            "type": "string",
            "format": "byte",
            "xml": {
              "name": "Base64Encoded"
            }
          },
          "digestAlgoAndValue": {
            "$ref": "#/components/schemas/XmlDigestAlgoAndValue"
          }
        }
      },
      "XmlOrphanRevocation": {
        "required": [
          "type"
        ],
        "type": "object",
        "properties": {
          "type": {
            "type": "string",
            "xml": {
              "name": "Type"
            },
            "enum": [
              "CRL",
              "OCSP"
            ]
          },
          "origins": {
            "type": "array",
            "xml": {
              "name": "Origin"
            },
            "items": {
              "type": "string",
              "xml": {
                "name": "Origin"
              },
              "enum": [
                "CMS_SIGNED_DATA",
                "REVOCATION_VALUES",
                "ATTRIBUTE_REVOCATION_VALUES",
                "TIMESTAMP_VALIDATION_DATA",
                "ANY_VALIDATION_DATA",
                "DSS_DICTIONARY",
                "VRI_DICTIONARY",
                "ADBE_REVOCATION_INFO_ARCHIVAL",
                "EVIDENCE_RECORD",
                "INPUT_DOCUMENT",
                "EXTERNAL",
                "CACHED"
              ]
            }
          },
          "revocationRefs": {
            "type": "array",
            "xml": {
              "name": "RevocationRef"
            },
            "items": {
              "$ref": "#/components/schemas/XmlRevocationRef"
            }
          },
          "token": {
            "$ref": "#/components/schemas/XmlOrphanRevocationToken"
          }
        }
      },
      "XmlOrphanRevocationToken": {
        "required": [
          "revocationType"
        ],
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "xml": {
              "name": "Id",
              "attribute": true
            }
          },
          "duplicated": {
            "type": "boolean",
            "xml": {
              "name": "Duplicated",
              "attribute": true
            }
          },
          "encapsulationType": {
            "type": "string",
            "xml": {
              "name": "EncapsulationType",
              "attribute": true
            },
            "enum": [
              "BINARIES",
              "REFERENCE"
            ]
          },
          "revocationType": {
            "type": "string",
            "xml": {
              "name": "RevocationType"
            },
            "enum": [
              "CRL",
              "OCSP"
            ]
          },
          "base64Encoded": {
            "type": "string",
            "format": "byte",
            "xml": {
              "name": "Base64Encoded"
            }
          },
          "digestAlgoAndValue": {
            "$ref": "#/components/schemas/XmlDigestAlgoAndValue"
          }
        }
      },
      "XmlOrphanTokens": {
        "type": "object",
        "properties": {
          "orphanCertificates": {
            "type": "array",
            "xml": {
              "name": "OrphanCertificate"
            },
            "items": {
              "$ref": "#/components/schemas/XmlOrphanCertificateToken"
            }
          },
          "orphanRevocations": {
            "type": "array",
            "xml": {
              "name": "OrphanRevocation"
            },
            "items": {
              "$ref": "#/components/schemas/XmlOrphanRevocationToken"
            }
          }
        }
      },
      "XmlPCV": {
        "required": [
          "conclusion"
        ],
        "type": "object",
        "properties": {
          "constraint": {
            "type": "array",
            "xml": {
              "name": "Constraint"
            },
            "items": {
              "$ref": "#/components/schemas/XmlConstraint"
            }
          },
          "conclusion": {
            "$ref": "#/components/schemas/XmlConclusion"
          },
          "title": {
            "type": "string",
            "xml": {
              "name": "Title",
              "attribute": true
            }
          },
          "controlTime": {
            "type": "string",
            "format": "date-time",
            "xml": {
              "name": "ControlTime"
            }
          }
        }
      },
      "XmlPDFAInfo": {
        "type": "object",
        "properties": {
          "validationMessages": {
            "$ref": "#/components/schemas/XmlValidationMessages"
          },
          "valid": {
            "type": "boolean",
            "xml": {
              "attribute": true
            }
          },
          "pdfaprofile": {
            "type": "string"
          }
        }
      },
      "XmlPDFLockDictionary": {
        "required": [
          "action"
        ],
        "type": "object",
        "properties": {
          "action": {
            "type": "string",
            "xml": {
              "name": "Action"
            },
            "enum": [
              "ALL",
              "INCLUDE",
              "EXCLUDE"
            ]
          },
          "fields": {
            "type": "array",
            "xml": {
              "name": "Field"
            },
            "items": {
              "type": "string",
              "xml": {
                "name": "Field"
              }
            }
          },
          "permissions": {
            "type": "string",
            "xml": {
              "name": "Permissions"
            },
            "enum": [
              "NO_CHANGE_PERMITTED",
              "MINIMAL_CHANGES_PERMITTED",
              "CHANGES_PERMITTED"
            ]
          }
        }
      },
      "XmlPDFRevision": {
        "required": [
          "fields"
        ],
        "type": "object",
        "properties": {
          "fields": {
            "type": "array",
            "xml": {
              "name": "SignatureField"
            },
            "items": {
              "$ref": "#/components/schemas/XmlPDFSignatureField"
            }
          },
          "modificationDetection": {
            "$ref": "#/components/schemas/XmlModificationDetection"
          },
          "pdfsignatureDictionary": {
            "$ref": "#/components/schemas/XmlPDFSignatureDictionary"
          }
        }
      },
      "XmlPDFSignatureDictionary": {
        "type": "object",
        "properties": {
          "signerName": {
            "type": "string",
            "xml": {
              "name": "SignerName"
            }
          },
          "type": {
            "type": "string",
            "xml": {
              "name": "Type"
            }
          },
          "filter": {
            "type": "string",
            "xml": {
              "name": "Filter"
            }
          },
          "subFilter": {
            "type": "string",
            "xml": {
              "name": "SubFilter"
            }
          },
          "contactInfo": {
            "type": "string",
            "xml": {
              "name": "ContactInfo"
            }
          },
          "location": {
            "type": "string",
            "xml": {
              "name": "Location"
            }
          },
          "reason": {
            "type": "string",
            "xml": {
              "name": "Reason"
            }
          },
          "signatureByteRange": {
            "$ref": "#/components/schemas/XmlByteRange"
          },
          "docMDP": {
            "$ref": "#/components/schemas/XmlDocMDP"
          },
          "fieldMDP": {
            "$ref": "#/components/schemas/XmlPDFLockDictionary"
          },
          "consistent": {
            "type": "boolean",
            "xml": {
              "attribute": true
            }
          }
        }
      },
      "XmlPDFSignatureField": {
        "type": "object",
        "properties": {
          "sigFieldLock": {
            "$ref": "#/components/schemas/XmlPDFLockDictionary"
          },
          "name": {
            "type": "string",
            "xml": {
              "attribute": true
[...]
