{
  "openapi": "3.0.1",
  "info": {
    "title": "Erp.BO.IndirectSvc",
    "description": "Indirect Business Object",
    "version": "v1",
    "x-jentic-source-url": "https://api.swaggerhub.com/apis/reskom/erpboindirectsvc/v1"
  },
  "servers": [
    {
      "url": "https://se10test1.seyerind.com/kinetictest/api/v1/Erp.BO.IndirectSvc"
    }
  ],
  "paths": {
    "/GetRows": {
      "post": {
        "tags": [
          "Custom methods"
        ],
        "summary": "Invoke method GetRows",
        "description": "Returns a dataset containing all rows that satisfy the where clauses.",
        "operationId": "GetRows",
        "requestBody": {
          "description": "Input parameters",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/GetRows_input"
              }
            },
            "text/json": {
              "schema": {
                "$ref": "#/components/schemas/GetRows_input"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetRows_output"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetRows_output"
                }
              }
            }
          },
          "500": {
            "description": "Internal server error. Server is unable to process the request."
          }
        },
        "deprecated": true
      },
      "get": {
        "tags": [
          "Custom methods"
        ],
        "summary": "Invoke method GetRows",
        "description": "Returns a dataset containing all rows that satisfy the where clauses.",
        "operationId": "Get_GetRows",
        "parameters": [
          {
            "name": "whereClauseIndirect",
            "in": "query",
            "required": true,
            "allowEmptyValue": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "pageSize",
            "in": "query",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "absolutePage",
            "in": "query",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetRows_output"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetRows_output"
                }
              }
            }
          },
          "500": {
            "description": "Internal server error. Server is unable to process the request."
          }
        }
      }
    },
    "/GetByID": {
      "post": {
        "tags": [
          "Custom methods"
        ],
        "summary": "Invoke method GetByID",
        "description": "Returns a DataSet given the primary key.",
        "operationId": "GetByID",
        "requestBody": {
          "description": "Input parameters",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/GetByID_input"
              }
            },
            "text/json": {
              "schema": {
                "$ref": "#/components/schemas/GetByID_input"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetByID_output"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetByID_output"
                }
              }
            }
          },
          "500": {
            "description": "Internal server error. Server is unable to process the request."
          }
        },
        "deprecated": true
      },
      "get": {
        "tags": [
          "Custom methods"
        ],
        "summary": "Invoke method GetByID",
        "description": "Returns a DataSet given the primary key.",
        "operationId": "Get_GetByID",
        "parameters": [
          {
            "name": "indirectCode",
            "in": "query",
            "required": true,
            "allowEmptyValue": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetByID_output"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetByID_output"
                }
              }
            }
          },
          "500": {
            "description": "Internal server error. Server is unable to process the request."
          }
        }
      }
    },
    "/GetList": {
      "post": {
        "tags": [
          "Custom methods"
        ],
        "summary": "Invoke method GetList",
        "description": "Returns a list of rows that satisfy the where clause.",
        "operationId": "GetList",
        "requestBody": {
          "description": "Input parameters",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/GetList_input"
              }
            },
            "text/json": {
              "schema": {
                "$ref": "#/components/schemas/GetList_input"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetList_output"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetList_output"
                }
              }
            }
          },
          "500": {
            "description": "Internal server error. Server is unable to process the request."
          }
        },
        "deprecated": true
      },
      "get": {
        "tags": [
          "Custom methods"
        ],
        "summary": "Invoke method GetList",
        "description": "Returns a list of rows that satisfy the where clause.",
        "operationId": "Get_GetList",
        "parameters": [
          {
            "name": "whereClause",
            "in": "query",
            "description": "An expression used to filter the rows. Can be left blank for all rows.",
            "required": true,
            "allowEmptyValue": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "pageSize",
            "in": "query",
            "description": "The maximum number of rows to return. Leave as zero for no maximum.",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "absolutePage",
            "in": "query",
            "description": "Page of rows to return.",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetList_output"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetList_output"
                }
              }
            }
          },
          "500": {
            "description": "Internal server error. Server is unable to process the request."
          }
        }
      }
    },
    "/ValidateIndirectCode": {
      "post": {
        "tags": [
          "Custom methods"
        ],
        "summary": "Invoke method ValidateIndirectCode",
        "description": "This method validates the Indirect Labor code to ensure it's not in use by an\r\nactive labor detail record.",
        "operationId": "ValidateIndirectCode",
        "requestBody": {
          "description": "Input parameters",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ValidateIndirectCode_input"
              }
            },
            "text/json": {
              "schema": {
                "$ref": "#/components/schemas/ValidateIndirectCode_input"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ValidateIndirectCode_output"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/ValidateIndirectCode_output"
                }
              }
            }
          },
          "500": {
            "description": "Internal server error. Server is unable to process the request."
          }
        }
      }
    },
    "/GetNewIndirect": {
      "post": {
        "tags": [
          "Custom methods"
        ],
        "summary": "Invoke method GetNewIndirect",
        "description": "Inserts a new row in the DataSet with defaults populated.",
        "operationId": "GetNewIndirect",
        "requestBody": {
          "description": "Input parameters",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/GetNewIndirect_input"
              }
            },
            "text/json": {
              "schema": {
                "$ref": "#/components/schemas/GetNewIndirect_input"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetNewIndirect_output"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetNewIndirect_output"
                }
              }
            }
          },
          "500": {
            "description": "Internal server error. Server is unable to process the request."
          }
        }
      }
    },
    "/DeleteByID": {
      "post": {
        "tags": [
          "Custom methods"
        ],
        "summary": "Invoke method DeleteByID",
        "description": "Deletes a row given its ID.",
        "operationId": "DeleteByID",
        "requestBody": {
          "description": "Input parameters",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/DeleteByID_input"
              }
            },
            "text/json": {
              "schema": {
                "$ref": "#/components/schemas/DeleteByID_input"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DeleteByID_output"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/DeleteByID_output"
                }
              }
            }
          },
          "500": {
            "description": "Internal server error. Server is unable to process the request."
          }
        }
      }
    },
    "/GetBySysRowID": {
      "post": {
        "tags": [
          "Custom methods"
        ],
        "summary": "Invoke method GetBySysRowID",
        "operationId": "GetBySysRowID",
        "requestBody": {
          "description": "Input parameters",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/GetBySysRowID_input"
              }
            },
            "text/json": {
              "schema": {
                "$ref": "#/components/schemas/GetBySysRowID_input"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetBySysRowID_output"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetBySysRowID_output"
                }
              }
            }
          },
          "500": {
            "description": "Internal server error. Server is unable to process the request."
          }
        },
        "deprecated": true
      },
      "get": {
        "tags": [
          "Custom methods"
        ],
        "summary": "Invoke method GetBySysRowID",
        "operationId": "Get_GetBySysRowID",
        "parameters": [
          {
            "name": "id",
            "in": "query",
            "required": true,
            "allowEmptyValue": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetBySysRowID_output"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetBySysRowID_output"
                }
              }
            }
          },
          "500": {
            "description": "Internal server error. Server is unable to process the request."
          }
        }
      }
    },
    "/GetBySysRowIDs": {
      "post": {
        "tags": [
          "Custom methods"
        ],
        "summary": "Invoke method GetBySysRowIDs",
        "operationId": "GetBySysRowIDs",
        "requestBody": {
          "description": "Input parameters",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/GetBySysRowIDs_input"
              }
            },
            "text/json": {
              "schema": {
                "$ref": "#/components/schemas/GetBySysRowIDs_input"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetBySysRowIDs_output"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetBySysRowIDs_output"
                }
              }
            }
          },
          "500": {
            "description": "Internal server error. Server is unable to process the request."
          }
        },
        "deprecated": true
      },
      "get": {
        "tags": [
          "Custom methods"
        ],
        "summary": "Invoke method GetBySysRowIDs",
        "operationId": "Get_GetBySysRowIDs",
        "parameters": [
          {
            "name": "ids",
            "in": "query",
            "required": true,
            "schema": {
              "type": "array",
              "items": {
                "type": "string",
                "format": "uuid"
              }
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetBySysRowIDs_output"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetBySysRowIDs_output"
                }
              }
            }
          },
          "500": {
            "description": "Internal server error. Server is unable to process the request."
          }
        }
      }
    },
    "/Update": {
      "post": {
        "tags": [
          "Custom methods"
        ],
        "summary": "Invoke method Update",
        "description": "Commits the DataSet changes to the data store.",
        "operationId": "Update",
        "requestBody": {
          "description": "Input parameters",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/Update_input"
              }
            },
            "text/json": {
              "schema": {
                "$ref": "#/components/schemas/Update_input"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Update_output"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/Update_output"
                }
              }
            }
          },
          "500": {
            "description": "Internal server error. Server is unable to process the request."
          }
        }
      }
    },
    "/UpdateExt": {
      "post": {
        "tags": [
          "Custom methods"
        ],
        "summary": "Invoke method UpdateExt",
        "description": "Apply input data to service by calling GetByID/GetNew/Update methods.",
        "operationId": "UpdateExt",
        "requestBody": {
          "description": "Input parameters",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UpdateExt_input"
              }
            },
            "text/json": {
              "schema": {
                "$ref": "#/components/schemas/UpdateExt_input"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/UpdateExt_output"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/UpdateExt_output"
                }
              }
            }
          },
          "500": {
            "description": "Internal server error. Server is unable to process the request."
          }
        }
      }
    }
  },
  "components": {
    "schemas": {
      "Erp.Tablesets.IndirectRow": {
        "type": "object",
        "properties": {
          "Company": {
            "type": "string",
            "description": "Company Identifier."
          },
          "IndirectCode": {
            "type": "string",
            "description": "A descriptive field that uniquely identifies the Indirect Labor Master."
          },
          "Description": {
            "type": "string",
            "description": "Full description of the Indirect Labor."
          },
          "ExpenseCode": {
            "type": "string",
            "description": "The expense code that should be used for this indirect labor master. This  must be valid in the LabExpCd master."
          },
          "GlobalIndirect": {
            "type": "boolean",
            "description": "Marks this Indirect as global, available to be sent out to other companies."
          },
          "GlobalLock": {
            "type": "boolean",
            "description": "Disables this record from receiving global updates."
          },
          "Inactive": {
            "type": "boolean",
            "description": "Inactive"
          },
          "DownTime": {
            "type": "boolean",
            "description": "DownTime"
          },
          "SysRevID": {
            "type": "integer",
            "description": "Revision identifier for this row. It is incremented upon each write.",
            "format": "int64",
            "example": "0"
          },
          "SysRowID": {
            "type": "string",
            "description": "Unique identifier for this row. The value is a GUID.",
            "format": "uuid",
            "example": "00000000-0000-0000-0000-000000000000"
          },
          "ExternalMESSyncRequired": {
            "type": "boolean",
            "description": "This field determines if the record needs to be synchronized to the Machine MES. Changes to the record will automatically set the value to true."
          },
          "ExternalMESLastSync": {
            "type": "string",
            "description": "The date and time the record was last synched to Machine MES.  The field is maintained by the Export Mattec process.",
            "format": "date-time"
          },
          "ExpenseCodeDesc": {
            "type": "string",
            "description": "Description of the Expense Code"
          },
          "BitFlag": {
            "type": "integer",
            "format": "int32"
          },
          "ExpenseCodeDescription": {
            "type": "string"
          },
          "RowMod": {
            "type": "string",
            "description": "RowMod"
          }
        },
        "additionalProperties": false
      },
      "Ice.Extensions.ExtensionRow": {
        "type": "object",
        "properties": {
          "ColumnValues": {
            "type": "array",
            "items": {
              "type": "object"
            }
          },
          "RowMod": {
            "type": "string"
          },
          "SysRowID": {
            "type": "string",
            "format": "uuid",
            "example": "00000000-0000-0000-0000-000000000000"
          }
        },
        "additionalProperties": false
      },
      "Ice.Extensions.ExtensionTableColumn": {
        "type": "object",
        "properties": {
          "ColumnName": {
            "type": "string",
            "nullable": true
          },
          "ColumnType": {
            "type": "string",
            "nullable": true
          }
        },
        "additionalProperties": false
      },
      "Ice.Extensions.ExtensionTableData": {
        "type": "object",
        "properties": {
          "Table": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Ice.Extensions.ExtensionRow"
            }
          },
          "SystemCode": {
            "type": "string",
            "nullable": true
          },
          "TableName": {
            "type": "string",
            "nullable": true
          },
          "Columns": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Ice.Extensions.ExtensionTableColumn"
            },
            "nullable": true
          },
          "PrimaryKeyColumns": {
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "PeerTableSystemCode": {
            "type": "string",
            "nullable": true
          },
          "PeerTableName": {
            "type": "string",
            "nullable": true
          }
        },
        "additionalProperties": false
      },
      "Erp.Tablesets.IndirectTableset": {
        "type": "object",
        "properties": {
          "Indirect": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Erp.Tablesets.IndirectRow"
            },
            "nullable": true
          },
          "ExtensionTables": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Ice.Extensions.ExtensionTableData"
            }
          }
        },
        "additionalProperties": false
      },
      "GetRows_input": {
        "required": [
          "whereClauseIndirect",
          "pageSize",
          "absolutePage"
        ],
        "properties": {
          "whereClauseIndirect": {
            "type": "string",
            "example": ""
          },
          "pageSize": {
            "type": "integer",
            "format": "int32"
          },
          "absolutePage": {
            "type": "integer",
            "format": "int32"
          }
        }
      },
      "GetRows_output": {
        "type": "object",
        "properties": {
          "returnObj": {
            "$ref": "#/components/schemas/Erp.Tablesets.IndirectTableset"
          },
          "parameters": {
            "type": "object",
            "properties": {
              "morePages": {
                "type": "boolean"
              }
            },
            "additionalProperties": {},
            "description": "output parameters"
          }
        },
        "additionalProperties": {
          "type": "string"
        }
      },
      "GetByID_input": {
        "required": [
          "indirectCode"
        ],
        "properties": {
          "indirectCode": {
            "type": "string"
          }
        }
      },
      "GetByID_output": {
        "type": "object",
        "properties": {
          "returnObj": {
            "$ref": "#/components/schemas/Erp.Tablesets.IndirectTableset"
          }
        },
        "additionalProperties": {
          "type": "string"
        }
      },
      "Erp.Tablesets.IndirectListRow": {
        "type": "object",
        "properties": {
          "Company": {
            "type": "string",
            "description": "Company Identifier."
          },
          "IndirectCode": {
            "type": "string",
            "description": "A descriptive field that uniquely identifies the Indirect Labor Master."
          },
          "Description": {
            "type": "string",
            "description": "Full description of the Indirect Labor."
          },
          "ExpenseCode": {
            "type": "string",
            "description": "The expense code that should be used for this indirect labor master. This  must be valid in the LabExpCd master."
          },
          "GlobalIndirect": {
            "type": "boolean",
            "description": "Marks this Indirect as global, available to be sent out to other companies."
          },
          "GlobalLock": {
            "type": "boolean",
            "description": "Disables this record from receiving global updates."
          },
          "SysRevID": {
            "type": "integer",
            "description": "Revision identifier for this row. It is incremented upon each write.",
            "format": "int64",
            "example": "0"
          },
          "SysRowID": {
            "type": "string",
            "description": "Unique identifier for this row. The value is a GUID.",
            "format": "uuid",
            "example": "00000000-0000-0000-0000-000000000000"
          },
          "ExpenseCodeDesc": {
            "type": "string",
            "description": "Description of the Expense Code"
          },
          "ExpenseCodeDescription": {
            "type": "string",
            "description": "Full description of the Labor Expense Code master."
          },
          "RowMod": {
            "type": "string",
            "description": "RowMod"
          }
        },
        "additionalProperties": false
      },
      "Erp.Tablesets.IndirectListTableset": {
        "type": "object",
        "properties": {
          "IndirectList": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Erp.Tablesets.IndirectListRow"
            },
            "nullable": true
          },
          "ExtensionTables": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Ice.Extensions.ExtensionTableData"
            }
          }
        },
        "additionalProperties": false
      },
      "GetList_input": {
        "required": [
          "whereClause",
          "pageSize",
          "absolutePage"
        ],
        "properties": {
          "whereClause": {
            "type": "string",
            "description": "An expression used to filter the rows. Can be left blank for all rows.",
            "example": ""
          },
          "pageSize": {
            "type": "integer",
            "description": "The maximum number of rows to return. Leave as zero for no maximum.",
            "format": "int32"
          },
          "absolutePage": {
            "type": "integer",
            "description": "Page of rows to return.",
            "format": "int32"
          }
        }
      },
      "GetList_output": {
        "type": "object",
        "properties": {
          "returnObj": {
            "$ref": "#/components/schemas/Erp.Tablesets.IndirectListTableset"
          },
          "parameters": {
            "type": "object",
            "properties": {
              "morePages": {
                "type": "boolean",
                "description": "Whether there are more pages of rows available."
              }
            },
            "additionalProperties": {},
            "description": "output parameters"
          }
        },
        "additionalProperties": {
          "type": "string"
        }
      },
      "ValidateIndirectCode_input": {
        "required": [
          "newExpenseCode",
          "ds"
        ],
        "properties": {
          "newExpenseCode": {
            "type": "string",
            "description": "Expense Code."
          },
          "ds": {
            "$ref": "#/components/schemas/Erp.Tablesets.IndirectTableset"
          }
        }
      },
      "ValidateIndirectCode_output": {
        "type": "object",
        "properties": {
          "parameters": {
            "type": "object",
            "properties": {
              "ds": {
                "$ref": "#/components/schemas/Erp.Tablesets.IndirectTableset"
              }
            },
            "additionalProperties": {},
            "description": "output parameters"
          }
        },
        "additionalProperties": {
          "type": "string"
        }
      },
      "GetNewIndirect_input": {
        "required": [
          "ds"
        ],
        "properties": {
          "ds": {
            "$ref": "#/components/schemas/Erp.Tablesets.IndirectTableset"
          }
        }
      },
      "GetNewIndirect_output": {
        "type": "object",
        "properties": {
          "parameters": {
            "type": "object",
            "properties": {
              "ds": {
                "$ref": "#/components/schemas/Erp.Tablesets.IndirectTableset"
              }
            },
            "additionalProperties": {},
            "description": "output parameters"
          }
        },
        "additionalProperties": {
          "type": "string"
        }
      },
      "DeleteByID_input": {
        "required": [
          "indirectCode"
        ],
        "properties": {
          "indirectCode": {
            "type": "string"
          }
        }
      },
      "DeleteByID_output": {
        "type": "object",
        "additionalProperties": {
          "type": "string"
        }
      },
      "GetBySysRowID_input": {
        "required": [
          "id"
        ],
        "properties": {
          "id": {
            "type": "string",
            "format": "uuid",
            "example": "00000000-0000-0000-0000-000000000000"
          }
        }
      },
      "GetBySysRowID_output": {
        "type": "object",
        "properties": {
          "returnObj": {
            "$ref": "#/components/schemas/Erp.Tablesets.IndirectTableset"
          }
        },
        "additionalProperties": {
          "type": "string"
        }
      },
      "GetBySysRowIDs_input": {
        "required": [
          "ids"
        ],
        "properties": {
          "ids": {
            "type": "array",
            "items": {
              "type": "string",
              "format": "uuid"
            }
          }
        }
      },
      "GetBySysRowIDs_output": {
        "type": "object",
        "properties": {
          "returnObj": {
            "$ref": "#/components/schemas/Erp.Tablesets.IndirectTableset"
          }
        },
        "additionalProperties": {
          "type": "string"
        }
      },
      "Update_input": {
        "required": [
          "ds"
        ],
        "properties": {
          "ds": {
            "$ref": "#/components/schemas/Erp.Tablesets.IndirectTableset"
          }
        }
      },
      "Update_output": {
        "type": "object",
        "properties": {
          "parameters": {
            "type": "object",
            "properties": {
              "ds": {
                "$ref": "#/components/schemas/Erp.Tablesets.IndirectTableset"
              }
            },
            "additionalProperties": {},
            "description": "output parameters"
          }
        },
        "additionalProperties": {
          "type": "string"
        }
      },
      "Ice.BOUpdErrorRow": {
        "type": "object",
        "properties": {
          "TableName": {
            "type": "string"
          },
          "ErrorLevel": {
            "type": "string"
          },
          "ErrorType": {
            "type": "string"
          },
          "ErrorText": {
            "type": "string"
          },
          "ErrorSysRowID": {
            "type": "string",
            "format": "uuid"
          },
          "SysRowID": {
            "type": "string",
            "format": "uuid",
            "example": "00000000-0000-0000-0000-000000000000"
          },
          "RowMod": {
            "type": "string"
          }
        },
        "additionalProperties": false
      },
      "Ice.BOUpdErrorTableset": {
        "type": "object",
        "properties": {
          "BOUpdError": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Ice.BOUpdErrorRow"
            },
            "nullable": true
          },
          "ExtensionTables": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Ice.Extensions.ExtensionTableData"
            }
          }
        },
        "additionalProperties": false
      },
      "Erp.Tablesets.UpdExtIndirectTableset": {
        "type": "object",
        "properties": {
          "Indirect": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Erp.Tablesets.IndirectRow"
            },
            "nullable": true
          },
          "ExtensionTables": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Ice.Extensions.ExtensionTableData"
            }
          }
        },
        "additionalProperties": false
      },
      "UpdateExt_input": {
        "required": [
          "ds",
          "continueProcessingOnError",
          "rollbackParentOnChildError"
        ],
        "properties": {
          "ds": {
            "$ref": "#/components/schemas/Erp.Tablesets.UpdExtIndirectTableset"
          },
          "continueProcessingOnError": {
            "type": "boolean"
          },
          "rollbackParentOnChildError": {
            "type": "boolean"
          }
        }
      },
      "UpdateExt_output": {
        "type": "object",
        "properties": {
          "returnObj": {
            "$ref": "#/components/schemas/Ice.BOUpdErrorTableset"
          },
          "parameters": {
            "type": "object",
            "properties": {
              "ds": {
                "$ref": "#/components/schemas/Erp.Tablesets.UpdExtIndirectTableset"
              },
              "errorsOccurred": {
                "type": "boolean"
              }
            },
            "additionalProperties": {},
            "description": "output parameters"
          }
        },
        "additionalProperties": {
          "type": "string"
        }
      }
    }
  },
  "tags": [
    {
      "name": "Custom methods",
      "description": "Custom methods, implementing all function calls"
    }
  ]
}