{
  "openapi": "3.0.3",
  "info": {
    "title": "Cerebras Inference API",
    "version": "1.0.0",
    "description": "Cerebras Cloud SDK provides fast AI inference powered by Cerebras hardware. Supports chat completions, text completions, and model listing with an OpenAI-compatible API interface.",
    "x-jentic-source-url": "https://inference-docs.cerebras.ai/introduction",
    "contact": {
      "name": "API Support"
    }
  },
  "servers": [
    {
      "url": "https://api.cerebras.ai/v1",
      "description": "Cerebras Inference API"
    }
  ],
  "security": [
    {
      "bearerAuth": []
    }
  ],
  "tags": [
    {
      "name": "Chat",
      "description": "Chat completions for conversational AI"
    },
    {
      "name": "Completions",
      "description": "Text completions for single-prompt generation"
    },
    {
      "name": "Models",
      "description": "Model listing and information"
    }
  ],
  "paths": {
    "/chat/completions": {
      "post": {
        "operationId": "createChatCompletion",
        "summary": "Create chat completion",
        "description": "Generate conversational responses using a structured message format with roles (system, user, assistant). Best for chatbots, assistants, and multi-turn conversations.",
        "tags": [
          "Chat"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ChatCompletionRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Chat completion response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ChatCompletionResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/completions": {
      "post": {
        "operationId": "createCompletion",
        "summary": "Create text completion",
        "description": "Generate text continuations from a single prompt string. Best for simple text generation, autocomplete, and single-turn tasks.",
        "tags": [
          "Completions"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CompletionRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Text completion response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CompletionResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/models": {
      "get": {
        "operationId": "listModels",
        "summary": "List models",
        "description": "Lists all currently available models and provides essential details about each, including the owner and availability.",
        "tags": [
          "Models"
        ],
        "responses": {
          "200": {
            "description": "List of available models",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ModelListResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    }
  },
  "components": {
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "scheme": "bearer",
        "description": "Cerebras API key passed as Bearer token. Set via CEREBRAS_API_KEY environment variable."
      }
    },
    "schemas": {
      "ChatCompletionRequest": {
        "type": "object",
        "required": [
          "model",
          "messages"
        ],
        "properties": {
          "model": {
            "type": "string",
            "description": "The model to use for chat completion.",
            "enum": [
              "llama3.1-8b",
              "qwen-3-235b-a22b-instruct-2507",
              "gpt-oss-120b",
              "zai-glm-4.7"
            ]
          },
          "messages": {
            "type": "array",
            "description": "A list of messages comprising the conversation so far.",
            "items": {
              "$ref": "#/components/schemas/ChatMessage"
            }
          },
          "stream": {
            "type": "boolean",
            "nullable": true,
            "default": false,
            "description": "If set, partial message deltas will be sent as server-sent events."
          },
          "max_completion_tokens": {
            "type": "integer",
            "nullable": true,
            "description": "The maximum number of tokens that can be generated in the completion, including reasoning tokens."
          },
          "temperature": {
            "type": "number",
            "nullable": true,
            "description": "Sampling temperature between 0 and 1.5.",
            "minimum": 0,
            "maximum": 1.5
          },
          "top_p": {
            "type": "number",
            "nullable": true,
            "description": "Nucleus sampling parameter. Alternative to temperature.",
            "minimum": 0,
            "maximum": 1
          },
          "seed": {
            "type": "integer",
            "nullable": true,
            "description": "Seed for deterministic sampling. Determinism is not guaranteed."
          },
          "stop": {
            "type": "string",
            "nullable": true,
            "description": "Up to 4 sequences where the API will stop generating further tokens."
          },
          "logprobs": {
            "type": "boolean",
            "default": false,
            "description": "Whether to return log probabilities of the output tokens."
          },
          "top_logprobs": {
            "type": "integer",
            "nullable": true,
            "description": "Number of most likely tokens to return at each position (0-20). logprobs must be true.",
            "minimum": 0,
            "maximum": 20
          },
          "response_format": {
            "type": "object",
            "nullable": true,
            "description": "Controls the format of the model response (text, json_object, or json_schema).",
            "properties": {
              "type": {
                "type": "string",
                "enum": [
                  "text",
                  "json_object",
                  "json_schema"
                ]
              },
              "json_schema": {
                "type": "object",
                "properties": {
                  "name": {
                    "type": "string"
                  },
                  "description": {
                    "type": "string"
                  },
                  "schema": {
                    "type": "object"
                  },
                  "strict": {
                    "type": "boolean"
                  }
                }
              }
            }
          },
          "tools": {
            "type": "array",
            "nullable": true,
            "description": "A list of tools the model may call. Currently only functions are supported.",
            "items": {
              "$ref": "#/components/schemas/Tool"
            }
          },
          "tool_choice": {
            "description": "Controls which tool is called by the model. Can be 'none', 'auto', 'required', or a specific tool object.",
            "oneOf": [
              {
                "type": "string",
                "enum": [
                  "none",
                  "auto",
                  "required"
                ]
              },
              {
                "type": "object",
                "properties": {
                  "type": {
                    "type": "string",
                    "enum": [
                      "function"
                    ]
                  },
                  "function": {
                    "type": "object",
                    "properties": {
                      "name": {
                        "type": "string"
                      }
                    }
                  }
                }
              }
            ]
          },
          "parallel_tool_calls": {
            "type": "boolean",
            "nullable": true,
            "default": true,
            "description": "Whether to enable parallel function calling during tool use."
          },
          "reasoning_effort": {
            "type": "string",
            "nullable": true,
            "description": "Controls the amount of reasoning the model performs.",
            "enum": [
              "none",
              "low",
              "medium",
              "high"
            ]
          },
          "clear_thinking": {
            "type": "boolean",
            "nullable": true,
            "description": "Controls whether thinking content from previous conversation turns is included in the prompt context."
          },
          "prediction": {
            "type": "object",
            "nullable": true,
            "description": "Configuration for Predicted Output to speed up response times.",
            "properties": {
              "type": {
                "type": "string",
                "enum": [
                  "content"
                ]
              },
              "content": {
                "type": "string",
                "description": "The content to match when generating a model response."
              }
            }
          },
          "service_tier": {
            "type": "string",
            "nullable": true,
            "description": "Controls request prioritization.",
            "enum": [
              "priority",
              "default",
              "auto",
              "flex"
            ]
          },
          "user": {
            "type": "string",
            "nullable": true,
            "description": "A unique identifier representing your end-user."
          }
        }
      },
      "ChatMessage": {
        "type": "object",
        "required": [
          "role",
          "content"
        ],
        "properties": {
          "role": {
            "type": "string",
            "enum": [
              "system",
              "user",
              "assistant",
              "tool"
            ],
            "description": "The role of the message author."
          },
          "content": {
            "type": "string",
            "description": "The contents of the message."
          },
          "name": {
            "type": "string",
            "description": "An optional name for the participant."
          },
          "tool_call_id": {
            "type": "string",
            "description": "Tool call that this message is responding to (for tool role)."
          },
          "tool_calls": {
            "type": "array",
            "description": "Tool calls generated by the model (for assistant role).",
            "items": {
              "$ref": "#/components/schemas/ToolCall"
            }
          }
        }
      },
      "Tool": {
        "type": "object",
        "properties": {
          "type": {
            "type": "string",
            "enum": [
              "function"
            ],
            "description": "The type of the tool. Currently only function is supported."
          },
          "function": {
            "type": "object",
            "properties": {
              "name": {
                "type": "string",
                "description": "The name of the function."
              },
              "description": {
                "type": "string",
                "description": "A description of what the function does."
              },
              "parameters": {
                "type": "object",
                "description": "The parameters the function accepts, described as a JSON Schema object."
              }
            }
          }
        }
      },
      "ToolCall": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string"
          },
          "type": {
            "type": "string",
            "enum": [
              "function"
            ]
          },
          "function": {
            "type": "object",
            "properties": {
              "name": {
                "type": "string"
              },
              "arguments": {
                "type": "string"
              }
            }
          }
        }
      },
      "ChatCompletionResponse": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "description": "A unique identifier for the chat completion."
          },
          "object": {
            "type": "string",
            "enum": [
              "chat.completion"
            ],
            "description": "The object type, always chat.completion."
          },
          "created": {
            "type": "integer",
            "description": "Unix timestamp (seconds) of when the completion was created."
          },
          "model": {
            "type": "string",
            "description": "The model used for the chat completion."
          },
          "choices": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/ChatCompletionChoice"
            }
          },
          "usage": {
            "$ref": "#/components/schemas/Usage"
          },
          "time_info": {
            "$ref": "#/components/schemas/TimeInfo"
          },
          "system_fingerprint": {
            "type": "string",
            "description": "Backend configuration fingerprint for determinism tracking."
          },
          "service_tier_used": {
            "type": "string",
            "description": "The service tier used for processing."
          }
        }
      },
      "ChatCompletionChoice": {
        "type": "object",
        "properties": {
          "index": {
            "type": "integer"
          },
          "message": {
            "type": "object",
            "properties": {
              "role": {
                "type": "string",
                "enum": [
                  "assistant"
                ]
              },
              "content": {
                "type": "string"
              },
              "reasoning": {
                "type": "string",
                "description": "The model's reasoning content when using reasoning models."
              },
              "tool_calls": {
                "type": "array",
                "items": {
                  "$ref": "#/components/schemas/ToolCall"
                }
              }
            }
          },
          "finish_reason": {
            "type": "string",
            "enum": [
              "stop",
              "length",
              "content_filter",
              "tool_calls"
            ],
            "description": "The reason the model stopped generating tokens."
          }
        }
      },
      "CompletionRequest": {
        "type": "object",
        "required": [
          "model"
        ],
        "properties": {
          "model": {
            "type": "string",
            "description": "The model to use for completion."
          },
          "prompt": {
            "description": "The prompt(s) to generate completions for.",
            "oneOf": [
              {
                "type": "string"
              },
              {
                "type": "array",
                "items": {
                  "type": "string"
                }
              }
            ],
            "default": ""
          },
          "stream": {
            "type": "boolean",
            "nullable": true,
            "default": false,
            "description": "If set, partial message deltas will be sent as server-sent events."
          },
          "max_tokens": {
            "type": "integer",
            "nullable": true,
            "description": "Maximum number of tokens to generate."
          },
          "min_tokens": {
            "type": "integer",
            "nullable": true,
            "description": "Minimum number of tokens to generate. -1 sets to max sequence length."
          },
          "temperature": {
            "type": "number",
            "nullable": true,
            "default": 1.0,
            "description": "Sampling temperature between 0 and 1.5.",
            "minimum": 0,
            "maximum": 1.5
          },
          "top_p": {
            "type": "number",
            "nullable": true,
            "default": 1.0,
            "description": "Nucleus sampling parameter.",
            "minimum": 0,
            "maximum": 1
          },
          "seed": {
            "type": "integer",
            "nullable": true,
            "description": "Seed for deterministic sampling."
          },
          "stop": {
            "description": "Up to 4 stop sequences.",
            "nullable": true,
            "oneOf": [
              {
                "type": "string"
              },
              {
                "type": "array",
                "items": {
                  "type": "string"
                }
              }
            ]
          },
          "echo": {
            "type": "boolean",
            "default": false,
            "description": "Echo back the prompt in addition to the completion."
          },
          "logprobs": {
            "type": "integer",
            "nullable": true,
            "description": "Return log probabilities of the output tokens. Max value is 20.",
            "maximum": 20
          },
          "return_raw_tokens": {
            "type": "boolean",
            "nullable": true,
            "default": false,
            "description": "Return raw tokens instead of text."
          },
          "grammar_root": {
            "type": "string",
            "nullable": true,
            "description": "Grammar root for structured output generation.",
            "enum": [
              "root",
              "fcall",
              "nofcall",
              "insidevalue",
              "value",
              "object",
              "array",
              "string",
              "number",
              "funcarray",
              "func",
              "ws"
            ]
          },
          "user": {
            "type": "string",
            "nullable": true,
            "description": "A unique identifier representing your end-user."
          }
        }
      },
      "CompletionResponse": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "description": "A unique identifier for the completion."
          },
          "object": {
            "type": "string",
            "enum": [
              "text_completion"
            ],
            "description": "The object type, always text_completion."
          },
          "created": {
            "type": "integer",
            "description": "Unix timestamp (seconds) of when the completion was created."
          },
          "model": {
            "type": "string",
            "description": "The model used for completion."
          },
          "choices": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/CompletionChoice"
            }
          },
          "usage": {
            "$ref": "#/components/schemas/Usage"
          },
          "time_info": {
            "$ref": "#/components/schemas/TimeInfo"
          },
          "system_fingerprint": {
            "type": "string",
            "description": "Backend configuration fingerprint."
          }
        }
      },
      "CompletionChoice": {
        "type": "object",
        "properties": {
          "index": {
            "type": "integer"
          },
          "text": {
            "type": "string",
            "description": "The generated completion text."
          },
          "tokens": {
            "type": "array",
            "nullable": true,
            "items": {
              "type": "integer"
            },
            "description": "Raw tokens of the completion when return_raw_tokens is true."
          },
          "finish_reason": {
            "type": "string",
            "nullable": true,
            "enum": [
              "stop",
              "length",
              "content_filter"
            ],
            "description": "The reason the model stopped generating tokens."
          },
          "logprobs": {
            "type": "object",
            "nullable": true,
            "properties": {
              "text_offset": {
                "type": "array",
                "items": {
                  "type": "integer"
                },
                "description": "Number of characters since the prompt."
              },
              "token_logprobs": {
                "type": "array",
                "items": {
                  "type": "number"
                },
                "description": "Logprob value for each token."
              },
              "tokens": {
                "type": "array",
                "items": {
                  "type": "string"
                },
                "description": "The tokens."
              },
              "top_logprobs": {
                "type": "array",
                "items": {
                  "type": "object",
                  "additionalProperties": {
                    "type": "number"
                  }
                },
                "description": "Most likely tokens and their log probability at each position."
              }
            }
          }
        }
      },
      "Usage": {
        "type": "object",
        "properties": {
          "prompt_tokens": {
            "type": "integer",
            "description": "Number of tokens in the prompt."
          },
          "completion_tokens": {
            "type": "integer",
            "description": "Number of tokens in the generated completion."
          },
          "total_tokens": {
            "type": "integer",
            "description": "Total number of tokens used."
          },
          "prompt_tokens_details": {
            "type": "object",
            "properties": {
              "cached_tokens": {
                "type": "integer",
                "description": "Number of prompt tokens served from cache."
              }
            }
          },
          "completion_tokens_details": {
            "type": "object",
            "properties": {
              "accepted_prediction_tokens": {
                "type": "integer",
                "description": "Tokens in prediction that appeared in completion."
              },
              "rejected_prediction_tokens": {
                "type": "integer",
                "description": "Tokens in prediction that did not appear in completion."
              }
            }
          }
        }
      },
      "TimeInfo": {
        "type": "object",
        "properties": {
          "queue_time": {
            "type": "number",
            "description": "Time spent in queue (seconds)."
          },
          "prompt_time": {
            "type": "number",
            "description": "Time spent processing the prompt (seconds)."
          },
          "completion_time": {
            "type": "number",
            "description": "Time spent generating completion (seconds)."
          },
          "total_time": {
            "type": "number",
            "description": "Total request time (seconds)."
          },
          "created": {
            "type": "number",
            "description": "Unix timestamp of when time_info was recorded."
          }
        }
      },
      "ModelListResponse": {
        "type": "object",
        "properties": {
          "object": {
            "type": "string",
            "enum": [
              "list"
            ],
            "description": "The object type, always list."
          },
          "data": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Model"
            }
          }
        }
      },
      "Model": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "description": "The model identifier."
          },
          "object": {
            "type": "string",
            "enum": [
              "model"
            ],
            "description": "The object type, always model."
          },
          "created": {
            "type": "integer",
            "description": "Unix timestamp of when the model was created."
          },
          "owned_by": {
            "type": "string",
            "description": "The organization that owns the model."
          }
        }
      },
      "ErrorResponse": {
        "type": "object",
        "properties": {
          "error": {
            "type": "object",
            "properties": {
              "message": {
                "type": "string"
              },
              "type": {
                "type": "string"
              },
              "code": {
                "type": "string"
              }
            }
          }
        }
      }
    }
  }
}
