{
  "openapi": "3.1.0",
  "info": {
    "title": "tomorrowio-api",
    "version": "4.0.1",
    "x-jentic-source-url": "https://docs.tomorrow.io/openapi/tomorrowio-api.json",
    "contact": {
      "name": "API Support"
    },
    "description": "tomorrowio-api - OpenAPI Specification"
  },
  "servers": [
    {
      "url": "https://api.tomorrow.io/v4"
    }
  ],
  "components": {
    "securitySchemes": {
      "sec0": {
        "type": "apiKey",
        "in": "query",
        "name": "apikey"
      }
    }
  },
  "security": [
    {
      "sec0": []
    }
  ],
  "paths": {
    "/weather/forecast": {
      "get": {
        "summary": "Weather Forecast",
        "description": "Weather Forecast",
        "operationId": "weather-forecast",
        "parameters": [
          {
            "name": "location",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string",
              "default": "new york"
            }
          },
          {
            "name": "timesteps",
            "in": "query",
            "description": "Timesteps includes: hourly: \"1h\", daily: \"1d\"",
            "schema": {
              "type": "array",
              "items": {
                "type": "string"
              }
            }
          },
          {
            "name": "units",
            "in": "query",
            "description": "Unit system of the field values, either \"metric\" or \"imperial\" - see [Field Descriptors](https://docs.tomorrow.io/reference/weather-data-layers#field-descriptors)",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "accept-encoding",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string",
              "default": "deflate, gzip, br"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "200",
            "content": {
              "application/json": {
                "examples": {
                  "Result": {
                    "value": "{\n  \"timelines\": {\n    \"minutely\": [\n      {\n        \"time\": \"2025-02-09T08:05:00Z\",\n        \"values\": {\n          \"cloudBase\": 0.2,\n          \"cloudCeiling\": 0.2,\n          \"cloudCover\": 100,\n          \"dewPoint\": -5.3,\n          \"freezingRainIntensity\": 0,\n          \"hailProbability\": 91.4,\n          \"hailSize\": 1.13,\n          \"humidity\": 88,\n          \"precipitationProbability\": 0,\n          \"pressureSeaLevel\": 1009,\n          \"pressureSurfaceLevel\": 995,\n          \"rainIntensity\": 0,\n          \"sleetIntensity\": 0,\n          \"snowIntensity\": 0,\n          \"temperature\": -3.6,\n          \"temperatureApparent\": -10.1,\n          \"uvHealthConcern\": 0,\n          \"uvIndex\": 0,\n          \"visibility\": 14.73,\n          \"weatherCode\": 1001,\n          \"windDirection\": 85,\n          \"windGust\": 6.8,\n          \"windSpeed\": 6.1\n        }\n      },\n      {\n        \"time\": \"2025-02-09T08:06:00Z\",\n        \"values\": {\n          \"cloudBase\": 0.2,\n          \"cloudCeiling\": 0.2,\n          \"cloudCover\": 100,\n          \"dewPoint\": -5.3,\n          \"freezingRainIntensity\": 0,\n          \"hailProbability\": 55.9,\n          \"hailSize\": 6.08,\n          \"humidity\": 88,\n          \"precipitationProbability\": 0,\n          \"pressureSeaLevel\": 1009,\n          \"pressureSurfaceLevel\": 995,\n          \"rainIntensity\": 0,\n          \"sleetIntensity\": 0,\n          \"snowIntensity\": 0,\n          \"temperature\": -3.6,\n          \"temperatureApparent\": -10.1,\n          \"uvHealthConcern\": 0,\n          \"uvIndex\": 0,\n          \"visibility\": 14.59,\n          \"weatherCode\": 1001,\n          \"windDirection\": 85,\n          \"windGust\": 6.8,\n          \"windSpeed\": 6.1\n        }\n      },\n      {\n        \"time\": \"2025-02-09T08:07:00Z\",\n        \"values\": {\n          \"cloudBase\": 0.2,\n          \"cloudCeiling\": 0.2,\n          \"cloudCover\": 100,\n          \"dewPoint\": -5.3,\n          \"freezingRainIntensity\": 0,\n          \"hailProbability\": 0.8,\n          \"hailSize\": 5.79,\n          \"humidity\": 88,\n          \"precipitationProbability\": 0,\n          \"pressureSeaLevel\": 1009,\n          \"pressureSurfaceLevel\": 995,\n          \"rainIntensity\": 0,\n          \"sleetIntensity\": 0,\n          \"snowIntensity\": 0,\n          \"temperature\": -3.6,\n          \"temperatureApparent\": -10.1,\n          \"uvHealthConcern\": 0,\n          \"uvIndex\": 0,\n          \"visibility\": 14.45,\n          \"weatherCode\": 1001,\n          \"windDirection\": 85,\n          \"windGust\": 6.8,\n          \"windSpeed\": 6.1\n        }\n      },\n      {\n        \"time\": \"2025-02-09T08:08:00Z\",\n        \"values\": {\n          \"cloudBase\": 0.2,\n          \"cloudCeiling\": 0.2,\n          \"cloudCover\": 100,\n          \"dewPoint\": -5.4,\n          \"freezingRainIntensity\": 0,\n          \"hailProbability\": 81.7,\n          \"hailSize\": 4.4,\n          \"humidity\": 88,\n          \"precipitationProbability\": 0,\n          \"pressureSeaLevel\": 1009,\n          \"pressureSurfaceLevel\": 995,\n          \"rainIntensity\": 0,\n          \"sleetIntensity\": 0,\n          \"snowIntensity\": 0,\n          \"temperature\": -3.6,\n          \"temperatureApparent\": -10.1,\n          \"uvHealthConcern\": 0,\n          \"uvIndex\": 0,\n          \"visibility\": 14.31,\n          \"weatherCode\": 1001,\n          \"windDirection\": 85,\n          \"windGust\": 6.8,\n          \"windSpeed\": 6.1\n        }\n      },\n      {\n        \"time\": \"2025-02-09T08:09:00Z\",\n        \"values\": {\n          \"cloudBase\": 0.2,\n          \"cloudCeiling\": 0.2,\n          \"cloudCover\": 100,\n          \"dewPoint\": -5.4,\n          \"freezingRainIntensity\": 0,\n          \"hailProbability\": 68.7,\n          \"hailSize\": 3.7,\n          \"humidity\": 88,\n          \"precipitationProbability\": 0,\n          \"pressureSeaLevel\": 1009,\n          \"pressureSurfaceLevel\": 995,\n          \"rainIntensity\": 0,\n          \"sleetIntensity\": 0,\n          \"snowIntensity\": 0,\n          \"temperature\": -3.6,\n          \"temperatureApparent\": -10.1,\n          \"uvHealthConcern\": 0,\n          \"uvIndex\": 0,\n          \"visibility\": 14.17,\n          \"weatherCode\": 1001,\n          \"windDirection\": 85,\n          \"windGust\": 6.8,\n          \"windSpeed\": 6\n        }\n      },\n      {\n        \"time\": \"2025-02-09T08:10:00Z\",\n        \"values\": {\n          \"cloudBase\": 0.2,\n          \"cloudCeiling\": 0.2,\n          \"cloudCover\": 100,\n          \"dewPoint\": -5.4,\n          \"freezingRainIntensity\": 0,\n          \"hailProbability\": 4.4,\n          \"hailSize\": 7.28,\n          \"humidity\": 88,\n          \"precipitationProbability\": 0,\n          \"pressureSeaLevel\": 1009,\n          \"pressureSurfaceLevel\": 995,\n          \"rainIntensity\": 0,\n          \"sleetIntensity\": 0,\n          \"snowIntensity\": 0,\n          \"temperature\": -3.6,\n          \"temperatureApparent\": -10.1,\n          \"uvHealthConcern\": 0,\n          \"uvIndex\": 0,\n          \"visibility\": 14.03,\n          \"weatherCode\": 1001,\n          \"windDirection\": 85,\n          \"windGust\": 6.8,\n          \"windSpeed\": 6\n        }\n      },\n      {\n        \"time\": \"2025-02-09T08:11:00Z\",\n        \"values\": {\n          \"cloudBase\": 0.2,\n          \"cloudCeiling\": 0.2,\n          \"cloudCover\": 100,\n          \"dewPoint\": -5.4,\n          \"freezingRainIntensity\": 0,\n          \"hailProbability\": 36.8,\n          \"hailSize\": 0.28,\n          \"humidity\": 87,\n          \"precipitationProbability\": 0,\n          \"pressureSeaLevel\": 1009,\n          \"pressureSurfaceLevel\": 995,\n          \"rainIntensity\": 0,\n          \"sleetIntensity\": 0,\n          \"snowIntensity\": 0,\n          \"temperature\": -3.6,\n          \"temperatureApparent\": -10.1,\n          \"uvHealthConcern\": 0,\n          \"uvIndex\": 0,\n          \"visibility\": 13.88,\n          \"weatherCode\": 1001,\n          \"windDirection\": 85,\n          \"windGust\": 6.8,\n          \"windSpeed\": 6\n        }\n      },\n      {\n        \"time\": \"2025-02-09T08:12:00Z\",\n        \"values\": {\n          \"cloudBase\": 0.2,\n          \"cloudCeiling\": 0.2,\n          \"cloudCover\": 100,\n          \"dewPoint\": -5.4,\n          \"freezingRainIntensity\": 0,\n          \"hailProbability\": 89.8,\n          \"hailSize\": 9.92,\n          \"humidity\": 87,\n          \"precipitationProbability\": 0,\n          \"pressureSeaLevel\": 1009,\n          \"pressureSurfaceLevel\": 995,\n          \"rainIntensity\": 0,\n          \"sleetIntensity\": 0,\n          \"snowIntensity\": 0,\n          \"temperature\": -3.6,\n          \"temperatureApparent\": -10,\n          \"uvHealthConcern\": 0,\n          \"uvIndex\": 0,\n          \"visibility\": 13.74,\n          \"weatherCode\": 1001,\n          \"windDirection\": 85,\n          \"windGust\": 6.8,\n          \"windSpeed\": 6\n        }\n      },\n      {\n        \"time\": \"2025-02-09T08:13:00Z\",\n        \"values\": {\n          \"cloudBase\": 0.2,\n          \"cloudCeiling\": 0.2,\n          \"cloudCover\": 100,\n          \"dewPoint\": -5.4,\n          \"freezingRainIntensity\": 0,\n          \"hailProbability\": 55.8,\n          \"hailSize\": 4.32,\n          \"humidity\": 87,\n          \"precipitationProbability\": 0,\n          \"pressureSeaLevel\": 1009,\n          \"pressureSurfaceLevel\": 995,\n          \"rainIntensity\": 0,\n          \"sleetIntensity\": 0,\n          \"snowIntensity\": 0,\n          \"temperature\": -3.6,\n          \"temperatureApparent\": -10,\n          \"uvHealthConcern\": 0,\n          \"uvIndex\": 0,\n          \"visibility\": 13.6,\n          \"weatherCode\": 1001,\n          \"windDirection\": 85,\n          \"windGust\": 6.8,\n          \"windSpeed\": 5.9\n        }\n      },\n      {\n        \"time\": \"2025-02-09T08:14:00Z\",\n        \"values\": {\n          \"cloudBase\": 0.2,\n          \"cloudCeiling\": 0.2,\n          \"cloudCover\": 100,\n          \"dewPoint\": -5.4,\n          \"freezingRainIntensity\": 0,\n          \"hailProbability\": 15.1,\n          \"hailSize\": 7.03,\n          \"humidity\": 87,\n          \"precipitationProbability\": 0,\n          \"pressureSeaLevel\": 1009,\n          \"pressureSurfaceLevel\": 995,\n          \"rainIntensity\": 0,\n          \"sleetIntensity\": 0,\n          \"snowIntensity\": 0,\n          \"temperature\": -3.6,\n          \"temperatureApparent\": -10,\n          \"uvHealthConcern\": 0,\n          \"uvIndex\": 0,\n          \"visibility\": 13.46,\n          \"weatherCode\": 1001,\n          \"windDirection\": 85,\n          \"windGust\": 6.8,\n          \"windSpeed\": 5.9\n        }\n      },\n      {\n        \"time\": \"2025-02-09T08:15:00Z\",\n        \"values\": {\n          \"cloudBase\": 0.2,\n          \"cloudCeiling\": 0.2,\n          \"cloudCover\": 100,\n          \"dewPoint\": -5.5,\n          \"freezingRainIntensity\": 0,\n          \"hailProbability\": 23,\n          \"hailSize\": 3.98,\n          \"humidity\": 87,\n          \"precipitationProbability\": 5,\n          \"pressureSeaLevel\": 1009,\n          \"pressureSurfaceLevel\": 995,\n          \"rainIntensity\": 0,\n          \"sleetIntensity\": 0,\n          \"snowIntensity\": 0.26,\n          \"temperature\": -3.6,\n          \"temperatureApparent\": -10,\n          \"uvHealthConcern\": 0,\n          \"uvIndex\": 0,\n          \"visibility\": 13.32,\n          \"weatherCode\": 5100,\n          \"windDirection\": 85,\n          \"windGust\": 6.8,\n          \"windSpeed\": 5.9\n        }\n      },\n      {\n        \"time\": \"2025-02-09T08:16:00Z\",\n        \"values\": {\n          \"cloudBase\": 0.2,\n          \"cloudCeiling\": 0.2,\n          \"cloudCover\": 100,\n          \"dewPoint\": -5.5,\n          \"freezingRainIntensity\": 0,\n          \"hailProbability\": 77.6,\n          \"hailSize\": 2,\n          \"humidity\": 87,\n          \"precipitationProbability\": 5,\n          \"pressureSeaLevel\": 1009,\n          \"pressureSurfaceLevel\": 995,\n          \"rainIntensity\": 0,\n          \"sleetIntensity\": 0,\n          \"snowIntensity\": 0.26,\n          \"temperature\": -3.6,\n          \"temperatureApparent\": -10,\n          \"uvHealthConcern\": 0,\n          \"uvIndex\": 0,\n          \"visibility\": 13.18,\n          \"weatherCode\": 5100,\n          \"windDirection\": 85,\n          \"windGust\": 6.8,\n          \"windSpeed\": 5.9\n        }\n      },\n      {\n        \"time\": \"2025-02-09T08:17:00Z\",\n        \"values\": {\n          \"cloudBase\": 0.2,\n          \"cloudCeiling\": 0.2,\n          \"cloudCover\": 100,\n          \"dewPoint\": -5.5,\n          \"freezingRainIntensity\": 0,\n          \"hailProbability\": 9.9,\n          \"hailSize\": 9.98,\n          \"humidity\": 87,\n          \"precipitationProbability\": 5,\n          \"pressureSeaLevel\": 1009,\n          \"pressureSurfaceLevel\": 995,\n          \"rainIntensity\": 0,\n          \"sleetIntensity\": 0,\n          \"snowIntensity\": 0.26,\n          \"temperature\": -3.6,\n          \"temperatureApparent\": -10,\n          \"uvHealthConcern\": 0,\n          \"uvIndex\": 0,\n          \"visibility\": 13.04,\n          \"weatherCode\": 5100,\n          \"windDirection\": 85,\n          \"windGust\": 6.7,\n          \"windSpeed\": 5.8\n        }\n      },\n      {\n        \"time\": \"2025-02-09T08:18:00Z\",\n        \"values\": {\n          \"cloudBase\": 0.2,\n          \"cloudCeiling\": 0.2,\n          \"cloudCover\": 100,\n          \"dewPoint\": -5.5,\n          \"freezingRainIntensity\": 0,\n          \"hailProbability\": 63.1,\n          \"hailSize\": 2.95,\n          \"humidity\": 87,\n          \"precipitationProbability\": 5,\n          \"pressureSeaLevel\": 1009,\n          \"pressureSurfaceLevel\": 995,\n          \"rainIntensity\": 0,\n          \"sleetIntensity\": 0,\n          \"snowIntensity\": 0.26,\n          \"temperature\": -3.6,\n          \"temperatureApparent\": -10,\n          \"uvHealthConcern\": 0,\n          \"uvIndex\": 0,\n          \"visibility\": 12.89,\n          \"weatherCode\": 5100,\n          \"windDirection\": 85,\n          \"windGust\": 6.7,\n          \"windSpeed\": 5.8\n        }\n      },\n      {\n        \"time\": \"2025-02-09T08:19:00Z\",\n        \"values\": {\n          \"cloudBase\": 0.2,\n          \"cloudCeiling\": 0.2,\n          \"cloudCover\": 100,\n          \"dewPoint\": -5.5,\n          \"freezingRainIntensity\": 0,\n          \"hailProbability\": 60.4,\n          \"hailSize\": 2.6,\n          \"humidity\": 87,\n          \"precipitationProbability\": 5,\n          \"pressureSeaLevel\": 1009,\n          \"pressureSurfaceLevel\": 995,\n          \"rainIntensity\": 0,\n          \"sleetIntensity\": 0,\n          \"snowIntensity\": 0.26,\n          \"temperature\": -3.6,\n          \"temperatureApparent\": -9.9,\n          \"uvHealthConcern\": 0,\n          \"uvIndex\": 0,\n          \"visibility\": 12.75,\n          \"weatherCode\": 5100,\n          \"windDirection\": 85,\n          \"windGust\": 6.7,\n          \"windSpeed\": 5.8\n        }\n      },\n      {\n        \"time\": \"2025-02-09T08:20:00Z\",\n        \"values\": {\n          \"cloudBase\": 0.2,\n          \"cloudCeiling\": 0.2,\n          \"cloudCover\": 100,\n          \"dewPoint\": -5.5,\n          \"freezingRainIntensity\": 0,\n          \"hailProbability\": 69.2,\n          \"hailSize\": 8.22,\n          \"humidity\": 87,\n          \"precipitationProbability\": 5,\n          \"pressureSeaLevel\": 1009,\n          \"pressureSurfaceLevel\": 995,\n          \"rainIntensity\": 0,\n          \"sleetIntensity\": 0,\n          \"snowIntensity\": 0.26,\n          \"temperature\": -3.6,\n          \"temperatureApparent\": -9.9,\n          \"uvHealthConcern\": 0,\n          \"uvIndex\": 0,\n          \"visibility\": 12.61,\n          \"weatherCode\": 5100,\n          \"windDirection\": 85,\n          \"windGust\": 6.7,\n          \"windSpeed\": 5.8\n        }\n      },\n      {\n        \"time\": \"2025-02-09T08:21:00Z\",\n        \"values\": {\n          \"cloudBase\": 0.2,\n          \"cloudCeiling\": 0.2,\n          \"cloudCover\": 100,\n          \"dewPoint\": -5.5,\n          \"freezingRainIntensity\": 0,\n          \"hailProbability\": 62,\n          \"hailSize\": 4.2,\n          \"humidity\": 87,\n          \"precipitationProbability\": 5,\n          \"pressureSeaLevel\": 1009,\n          \"pressureSurfaceLevel\": 995,\n          \"rainIntensity\": 0,\n          \"sleetIntensity\": 0,\n          \"snowIntensity\": 0.5,\n          \"temperature\": -3.6,\n          \"temperatureApparent\": -9.9,\n          \"uvHealthConcern\": 0,\n          \"uvIndex\": 0,\n          \"visibility\": 12.47,\n          \"weatherCode\": 5100,\n          \"windDirection\": 85,\n          \"windGust\": 6.7,\n          \"windSpeed\": 5.7\n        }\n      },\n      {\n        \"time\": \"2025-02-09T08:22:00Z\",\n        \"values\": {\n          \"cloudBase\": 0.2,\n          \"cloudCeiling\": 0.2,\n          \"cloudCover\": 100,\n          \"dewPoint\": -5.6,\n          \"freezingRainIntensity\": 0,\n          \"hailProbability\": 75.5,\n          \"hailSize\": 7.81,\n          \"humidity\": 87,\n          \"precipitationProbability\": 5,\n          \"pressureSeaLevel\": 1009,\n          \"pressureSurfaceLevel\": 995,\n          \"rainIntensity\": 0,\n          \"sleetIntensity\": 0,\n          \"snowIntensity\": 0.5,\n          \"temperature\": -3.6,\n          \"temperatureApparent\": -9.9,\n          \"uvHealthConcern\": 0,\n          \"uvIndex\": 0,\n          \"visibility\": 12.33,\n          \"weatherCode\": 5100,\n          \"windDirection\": 85,\n          \"windGust\": 6.7,\n          \"windSpeed\": 5.7\n        }\n      },\n      {\n        \"time\": \"2025-02-09T08:23:00Z\",\n        \"values\": {\n          \"cloudBase\": 0.2,\n          \"cloudCeiling\": 0.2,\n          \"cloudCover\": 100,\n          \"dewPoint\": -5.6,\n          \"freezingRainIntensity\": 0,\n          \"hailProbability\": 97,\n          \"hailSize\": 2.24,\n          \"humidity\": 86,\n          \"precipitationProbability\": 5,\n          \"pressureSeaLevel\": 1009,\n          \"pressureSurfaceLevel\": 995,\n          \"rainIntensity\": 0,\n          \"sleetIntensity\": 0,\n          \"snowIntensity\": 0.5,\n          \"temperature\": -3.6,\n          \"temperatureApparent\": -9.9,\n          \"uvHealthConcern\": 0,\n          \"uvIndex\": 0,\n          \"visibility\": 12.19,\n          \"weatherCode\": 5100,\n          \"windDirection\": 85,\n          \"windGust\": 6.7,\n          \"windSpeed\": 5.7\n        }\n      },\n      {\n        \"time\": \"2025-02-09T08:24:00Z\",\n        \"values\": {\n          \"cloudBase\": 0.2,\n          \"cloudCeiling\": 0.2,\n          \"cloudCover\": 100,\n          \"dewPoint\": -5.6,\n          \"freezingRainIntensity\": 0,\n          \"hailProbability\": 26.3,\n          \"hailSize\": 8.96,\n          \"humidity\": 86,\n          \"precipitationProbability\": 5,\n          \"pressureSeaLevel\": 1009,\n          \"pressureSurfaceLevel\": 995,\n          \"rainIntensity\": 0,\n          \"sleetIntensity\": 0,\n          \"snowIntensity\": 0.5,\n          \"temperature\": -3.6,\n          \"temperatureApparent\": -9.9,\n          \"uvHealthConcern\": 0,\n          \"uvIndex\": 0,\n          \"visibility\": 12.04,\n          \"weatherCode\": 5100,\n          \"windDirection\": 85,\n          \"windGust\": 6.7,\n          \"windSpeed\": 5.7\n        }\n      },\n      {\n        \"time\": \"2025-02-09T08:25:00Z\",\n        \"values\": {\n          \"cloudBase\": 0.2,\n          \"cloudCeiling\": 0.2,\n          \"cloudCover\": 100,\n          \"dewPoint\": -5.6,\n          \"freezingRainIntensity\": 0,\n          \"hailProbability\": 73.8,\n          \"hailSize\": 6.67,\n          \"humidity\": 86,\n          \"precipitationProbability\": 5,\n          \"pressureSeaLevel\": 1009,\n          \"pressureSurfaceLevel\": 995,\n          \"rainIntensity\": 0,\n          \"sleetIntensity\": 0,\n          \"snowIntensity\": 0.5,\n          \"temperature\": -3.6,\n          \"temperatureApparent\": -9.9,\n          \"uvHealthConcern\": 0,\n          \"uvIndex\": 0,\n          \"visibility\": 11.9,\n          \"weatherCode\": 5100,\n          \"windDirection\": 85,\n          \"windGust\": 6.7,\n          \"windSpeed\": 5.6\n        }\n      },\n      {\n        \"time\": \"2025-02-09T08:26:00Z\",\n        \"values\": {\n          \"cloudBase\": 0.2,\n          \"cloudCeiling\": 0.2,\n          \"cloudCover\": 100,\n          \"dewPoint\": -5.6,\n          \"freezingRainIntensity\": 0,\n          \"hailProbability\": 28.4,\n          \"hailSize\": 1.89,\n          \"humidity\": 86,\n          \"precipitationProbability\": 5,\n          \"pressureSeaLevel\": 1009,\n          \"pressureSurfaceLevel\": 995,\n          \"rainIntensity\": 0,\n          \"sleetIntensity\": 0,\n          \"snowIntensity\": 0.5,\n          \"temperature\": -3.6,\n          \"temperatureApparent\": -9.8,\n          \"uvHealthConcern\": 0,\n          \"uvIndex\": 0,\n          \"visibility\": 11.76,\n          \"weatherCode\": 5100,\n          \"windDirection\": 85,\n          \"windGust\": 6.7,\n          \"windSpeed\": 5.6\n        }\n      },\n      {\n        \"time\": \"2025-02-09T08:27:00Z\",\n        \"values\": {\n          \"cloudBase\": 0.2,\n          \"cloudCeiling\": 0.2,\n          \"cloudCover\": 100,\n          \"dewPoint\": -5.6,\n          \"freezingRainIntensity\": 0,\n          \"hailProbability\": 79.5,\n          \"hailSize\": 2.4,\n          \"humidity\": 86,\n          \"precipitationProbability\": 5,\n          \"pressureSeaLevel\": 1009,\n          \"pressureSurfaceLevel\": 995,\n          \"rainIntensity\": 0,\n          \"sleetIntensity\": 0,\n          \"snowIntensity\": 0.82,\n          \"temperature\": -3.6,\n          \"temperatureApparent\": -9.8,\n          \"uvHealthConcern\": 0,\n          \"uvIndex\": 0,\n          \"visibility\": 11.62,\n          \"weatherCode\": 5100,\n          \"windDirection\": 85,\n          \"windGust\": 6.7,\n          \"windSpeed\": 5.6\n        }\n      },\n      {\n        \"time\": \"2025-02-09T08:28:00Z\",\n        \"values\": {\n          \"cloudBase\": 0.2,\n          \"cloudCeiling\": 0.2,\n          \"cloudCover\": 100,\n          \"dewPoint\": -5.6,\n          \"freezingRainIntensity\": 0,\n          \"hailProbability\": 34.3,\n          \"hailSize\": 4.05,\n          \"humidity\": 86,\n          \"precipitationProbability\": 5,\n          \"pressureSeaLevel\": 1009,\n          \"pressureSurfaceLevel\": 995,\n          \"rainIntensity\": 0,\n          \"sleetIntensity\": 0,\n          \"snowIntensity\": 0.82,\n          \"temperature\": -3.6,\n          \"temperatureApparent\": -9.8,\n          \"uvHealthConcern\": 0,\n          \"uvIndex\": 0,\n          \"visibility\": 11.48,\n          \"weatherCode\": 5100,\n          \"windDirection\": 85,\n          \"windGust\": 6.7,\n          \"windSpeed\": 5.6\n        }\n      },\n      {\n        \"time\": \"2025-02-09T08:29:00Z\",\n        \"values\": {\n          \"cloudBase\": 0.2,\n          \"cloudCeiling\": 0.2,\n          \"cloudCover\": 100,\n          \"dewPoint\": -5.7,\n          \"freezingRainIntensity\": 0,\n          \"hailProbability\": 54.5,\n          \"hailSize\": 1.73,\n          \"humidity\": 86,\n          \"precipitationProbability\": 5,\n          \"pressureSeaLevel\": 1010,\n          \"pressureSurfaceLevel\": 995,\n          \"rainIntensity\": 0,\n          \"sleetIntensity\": 0,\n          \"snowIntensity\": 0.82,\n          \"temperature\": -3.6,\n          \"temperatureApparent\": -9.8,\n          \"uvHealthConcern\": 0,\n          \"uvIndex\": 0,\n          \"visibility\": 11.34,\n          \"weatherCode\": 5100,\n          \"windDirection\": 85,\n          \"windGust\": 6.7,\n          \"windSpeed\": 5.6\n        }\n      },\n      {\n        \"time\": \"2025-02-09T08:30:00Z\",\n        \"values\": {\n          \"cloudBase\": 0.2,\n          \"cloudCeiling\": 0.2,\n          \"cloudCover\": 100,\n          \"dewPoint\": -5.7,\n          \"freezingRainIntensity\": 0,\n          \"hailProbability\": 35.6,\n          \"hailSize\": 4.41,\n          \"humidity\": 86,\n          \"precipitationProbability\": 5,\n          \"pressureSeaLevel\": 1010,\n          \"pressureSurfaceLevel\": 995,\n          \"rainIntensity\": 0,\n          \"sleetIntensity\": 0,\n          \"snowIntensity\": 0.82,\n          \"temperature\": -3.6,\n          \"temperatureApparent\": -9.8,\n          \"uvHealthConcern\": 0,\n          \"uvIndex\": 0,\n          \"visibility\": 11.2,\n          \"weatherCode\": 5100,\n          \"windDirection\": 85,\n          \"windGust\": 6.7,\n          \"windSpeed\": 5.5\n        }\n      },\n      {\n        \"time\": \"2025-02-09T08:31:00Z\",\n        \"values\": {\n          \"cloudBase\": 0.2,\n          \"cloudCeiling\": 0.2,\n          \"cloudCover\": 100,\n          \"dewPoint\": -5.7,\n          \"freezingRainIntensity\": 0,\n          \"hailProbability\": 15.5,\n          \"hailSize\": 5.84,\n          \"humidity\": 86,\n          \"precipitationProbability\": 5,\n          \"pressureSeaLevel\": 1010,\n          \"pressureSurfaceLevel\": 995,\n          \"rainIntensity\": 0,\n          \"sleetIntensity\": 0,\n          \"snowIntensity\": 0.82,\n          \"temperature\": -3.6,\n          \"temperatureApparent\": -9.8,\n          \"uvHealthConcern\": 0,\n          \"uvIndex\": 0,\n          \"visibility\": 11.05,\n          \"weatherCode\": 5100,\n          \"windDirection\": 85,\n          \"windGust\": 6.7,\n          \"windSpeed\": 5.5\n        }\n      },\n      {\n        \"time\": \"2025-02-09T08:32:00Z\",\n        \"values\": {\n          \"cloudBase\": 0.2,\n          \"cloudCeiling\": 0.2,\n          \"cloudCover\": 100,\n          \"dewPoint\": -5.7,\n          \"freezingRainIntensity\": 0,\n          \"hailProbability\": 34.1,\n          \"hailSize\": 8.95,\n          \"humidity\": 86,\n          \"precipitationProbability\": 5,\n          \"pressureSeaLevel\": 1010,\n          \"pressureSurfaceLevel\": 995,\n          \"rainIntensity\": 0,\n          \"sleetIntensity\": 0,\n          \"snowIntensity\": 0.82,\n          \"temperature\": -3.6,\n          \"temperatureApparent\": -9.8,\n          \"uvHealthConcern\": 0,\n          \"uvIndex\": 0,\n          \"visibility\": 10.91,\n          \"weatherCode\": 5100,\n          \"windDirection\": 85,\n          \"windGust\": 6.7,\n          \"windSpeed\": 5.5\n        }\n      },\n      {\n        \"time\": \"2025-02-09T08:33:00Z\",\n        \"values\": {\n          \"cloudBase\": 0.3,\n          \"cloudCeiling\": 0.9,\n          \"cloudCover\": 100,\n          \"dewPoint\": -5.7,\n          \"freezingRainIntensity\": 0,\n          \"hailProbability\": 3,\n          \"hailSize\": 5.88,\n          \"humidity\": 86,\n          \"precipitationProbability\": 5,\n          \"pressureSeaLevel\": 1010,\n          \"pressureSurfaceLevel\": 995,\n          \"rainIntensity\": 0,\n          \"sleetIntensity\": 0,\n          \"snowIntensity\": 0.89,\n          \"temperature\": -3.6,\n          \"temperatureApparent\": -9.7,\n          \"uvHealthConcern\": 0,\n          \"uvIndex\": 0,\n          \"visibility\": 10.77,\n          \"weatherCode\": 5100,\n          \"windDirection\": 55,\n          \"windGust\": 6.7,\n          \"windSpeed\": 5.5\n        }\n      },\n      {\n        \"time\": \"2025-02-09T08:34:00Z\",\n        \"values\": {\n          \"cloudBase\": 0.3,\n          \"cloudCeiling\": 0.9,\n          \"cloudCover\": 100,\n          \"dewPoint\": -5.7,\n          \"freezingRainIntensity\": 0,\n          \"hailProbability\": 37.3,\n          \"hailSize\": 6.87,\n          \"humidity\": 85,\n          \"precipitationProbability\": 5,\n          \"pressureSeaLevel\": 1010,\n          \"pressureSurfaceLevel\": 995,\n          \"rainIntensity\": 0,\n          \"sleetIntensity\": 0,\n          \"snowIntensity\": 0.89,\n          \"temperature\": -3.6,\n          \"temperatureApparent\": -9.7,\n          \"uvHealthConcern\": 0,\n          \"uvIndex\": 0,\n          \"visibility\": 10.63,\n          \"weatherCode\": 5100,\n          \"windDirection\": 55,\n          \"windGust\": 6.6,\n          \"windSpeed\": 5.4\n        }\n      },\n      {\n        \"time\": \"2025-02-09T08:35:00Z\",\n        \"values\": {\n          \"cloudBase\": 0.3,\n          \"cloudCeiling\": 0.9,\n          \"cloudCover\": 100,\n          \"dewPoint\": -5.7,\n          \"freezingRainIntensity\": 0,\n          \"hailProbability\": 64.7,\n          \"hailSize\": 8.31,\n          \"humidity\": 85,\n          \"precipitationProbability\": 5,\n          \"pressureSeaLevel\": 1010,\n          \"pressureSurfaceLevel\": 995,\n          \"rainIntensity\": 0,\n          \"sleetIntensity\": 0,\n          \"snowIntensity\": 0.89,\n          \"temperature\": -3.6,\n          \"temperatureApparent\": -9.7,\n          \"uvHealthConcern\": 0,\n          \"uvIndex\": 0,\n          \"visibility\": 10.49,\n          \"weatherCode\": 5100,\n          \"windDirection\": 55,\n          \"windGust\": 6.6,\n          \"windSpeed\": 5.4\n        }\n      },\n      {\n        \"time\": \"2025-02-09T08:36:00Z\",\n        \"values\": {\n          \"cloudBase\": 0.3,\n          \"cloudCeiling\": 0.9,\n          \"cloudCover\": 100,\n          \"dewPoint\": -5.7,\n          \"freezingRainIntensity\": 0,\n          \"hailProbability\": 65.8,\n          \"hailSize\": 6.26,\n          \"humidity\": 85,\n          \"precipitationProbability\": 5,\n          \"pressureSeaLevel\": 1010,\n          \"pressureSurfaceLevel\": 995,\n          \"rainIntensity\": 0,\n          \"sleetIntensity\": 0,\n          \"snowIntensity\": 0.89,\n          \"temperature\": -3.6,\n          \"temperatureApparent\": -9.7,\n          \"uvHealthConcern\": 0,\n          \"uvIndex\": 0,\n          \"visibility\": 10.35,\n          \"weatherCode\": 5100,\n          \"windDirection\": 55,\n          \"windGust\": 6.6,\n          \"windSpeed\": 5.4\n        }\n      },\n      {\n        \"time\": \"2025-02-09T08:37:00Z\",\n        \"values\": {\n          \"cloudBase\": 0.3,\n          \"cloudCeiling\": 0.9,\n          \"cloudCover\": 100,\n          \"dewPoint\": -5.8,\n          \"freezingRainIntensity\": 0,\n          \"hailProbability\": 76.3,\n          \"hailSize\": 3.4,\n          \"humidity\": 85,\n          \"precipitationProbability\": 5,\n          \"pressureSeaLevel\": 1010,\n          \"pressureSurfaceLevel\": 995,\n          \"rainIntensity\": 0,\n          \"sleetIntensity\": 0,\n          \"snowIntensity\": 0.89,\n          \"temperature\": -3.6,\n          \"temperatureApparent\": -9.7,\n          \"uvHealthConcern\": 0,\n          \"uvIndex\": 0,\n          \"visibility\": 10.21,\n          \"weatherCode\": 5100,\n          \"windDirection\": 55,\n          \"windGust\": 6.6,\n          \"windSpeed\": 5.4\n        }\n      },\n      {\n        \"time\": \"2025-02-09T08:38:00Z\",\n        \"values\": {\n          \"cloudBase\": 0.3,\n          \"cloudCeiling\": 0.9,\n          \"cloudCover\": 100,\n          \"dewPoint\": -5.8,\n          \"freezingRainIntensity\": 0,\n          \"hailProbability\": 99.8,\n          \"hailSize\": 7.35,\n          \"humidity\": 85,\n          \"precipitationProbability\": 5,\n          \"pressureSeaLevel\": 1010,\n          \"pressureSurfaceLevel\": 995,\n          \"rainIntensity\": 0,\n          \"sleetIntensity\": 0,\n          \"snowIntensity\": 0.89,\n          \"temperature\": -3.6,\n          \"temperatureApparent\": -9.7,\n          \"uvHealthConcern\": 0,\n          \"uvIndex\": 0,\n          \"visibility\": 10.06,\n          \"weatherCode\": 5100,\n          \"windDirection\": 55,\n          \"windGust\": 6.6,\n          \"windSpeed\": 5.3\n        }\n      },\n      {\n        \"time\": \"2025-02-09T08:39:00Z\",\n        \"values\": {\n          \"cloudBase\": 0.3,\n          \"cloudCeiling\": 0.9,\n          \"cloudCover\": 100,\n          \"dewPoint\": -5.8,\n          \"freezingRainIntensity\": 0,\n          \"hailProbability\": 87.1,\n          \"hailSize\": 2.17,\n          \"humidity\": 85,\n          \"precipitationProbability\": 5,\n          \"pressureSeaLevel\": 1010,\n          \"pressureSurfaceLevel\": 995,\n          \"rainIntensity\": 0,\n          \"sleetIntensity\": 0,\n          \"snowIntensity\": 0.59,\n          \"temperature\": -3.6,\n          \"temperatureApparent\": -9.7,\n          \"uvHealthConcern\": 0,\n          \"uvIndex\": 0,\n          \"visibility\": 9.92,\n          \"weatherCode\": 5100,\n          \"windDirection\": 55,\n          \"windGust\": 6.6,\n          \"windSpeed\": 5.3\n        }\n      },\n      {\n        \"time\": \"2025-02-09T08:40:00Z\",\n        \"values\": {\n          \"cloudBase\": 0.3,\n          \"cloudCeiling\": 0.9,\n          \"cloudCover\": 100,\n          \"dewPoint\": -5.8,\n          \"freezingRainIntensity\": 0,\n          \"hailProbability\": 67.2,\n          \"hailSize\": 0.36,\n          \"humidity\": 85,\n          \"precipitationProbability\": 5,\n          \"pressureSeaLevel\": 1010,\n          \"pressureSurfaceLevel\": 995,\n          \"rainIntensity\": 0,\n          \"sleetIntensity\": 0,\n          \"snowIntensity\": 0.59,\n          \"temperature\": -3.6,\n          \"temperatureApparent\": -9.6,\n          \"uvHealthConcern\": 0,\n          \"uvIndex\": 0,\n          \"visibility\": 9.78,\n          \"weatherCode\": 5100,\n          \"windDirection\": 55,\n          \"windGust\": 6.6,\n          \"windSpeed\": 5.3\n        }\n      },\n      {\n        \"time\": \"2025-02-09T08:41:00Z\",\n        \"values\": {\n          \"cloudBase\": 0.3,\n          \"cloudCeiling\": 0.9,\n          \"cloudCover\": 100,\n          \"dewPoint\": -5.8,\n          \"freezingRainIntensity\": 0,\n          \"hailProbability\": 97.5,\n          \"hailSize\": 3.02,\n          \"humidity\": 85,\n          \"precipitationProbability\": 5,\n          \"pressureSeaLevel\": 1010,\n          \"pressureSurfaceLevel\": 995,\n          \"rainIntensity\": 0,\n          \"sleetIntensity\": 0,\n          \"snowIntensity\": 0.59,\n          \"temperature\": -3.6,\n          \"temperatureApparent\": -9.6,\n          \"uvHealthConcern\": 0,\n          \"uvIndex\": 0,\n          \"visibility\": 9.64,\n          \"weatherCode\": 5100,\n          \"windDirection\": 55,\n          \"windGust\": 6.6,\n          \"windSpeed\": 5.3\n        }\n      },\n      {\n        \"time\": \"2025-02-09T08:42:00Z\",\n        \"values\": {\n          \"cloudBase\": 0.3,\n          \"cloudCeiling\": 0.9,\n          \"cloudCover\": 100,\n          \"dewPoint\": -5.8,\n          \"freezingRainIntensity\": 0,\n          \"hailProbability\": 50.3,\n          \"hailSize\": 4,\n          \"humidity\": 85,\n          \"precipitationProbability\": 5,\n          \"pressureSeaLevel\": 1010,\n          \"pressureSurfaceLevel\": 995,\n          \"rainIntensity\": 0,\n          \"sleetIntensity\": 0,\n          \"snowIntensity\": 0.59,\n          \"temperature\": -3.6,\n          \"temperatureApparent\": -9.6,\n          \"uvHealthConcern\": 0,\n          \"uvIndex\": 0,\n          \"visibility\": 9.5,\n          \"weatherCode\": 5100,\n          \"windDirection\": 55,\n          \"windGust\": 6.6,\n          \"windSpeed\": 5.2\n        }\n      },\n      {\n        \"time\": \"2025-02-09T08:43:00Z\",\n        \"values\": {\n          \"cloudBase\": 0.3,\n          \"cloudCeiling\": 0.9,\n          \"cloudCover\": 100,\n          \"dewPoint\": -5.8,\n          \"freezingRainIntensity\": 0,\n          \"hailProbability\": 32.8,\n          \"hailSize\": 9.2,\n          \"humidity\": 85,\n          \"precipitationProbability\": 5,\n          \"pressureSeaLevel\": 1010,\n          \"pressureSurfaceLevel\": 995,\n          \"rainIntensity\": 0,\n          \"sleetIntensity\": 0,\n          \"snowIntensity\": 0.59,\n          \"temperature\": -3.6,\n          \"temperatureApparent\": -9.6,\n          \"uvHealthConcern\": 0,\n          \"uvIndex\": 0,\n          \"visibility\": 9.36,\n          \"weatherCode\": 5100,\n          \"windDirection\": 55,\n          \"windGust\": 6.6,\n          \"windSpeed\": 5.2\n        }\n      },\n      {\n        \"time\": \"2025-02-09T08:44:00Z\",\n        \"values\": {\n          \"cloudBase\": 0.3,\n          \"cloudCeiling\": 0.9,\n          \"cloudCover\": 100,\n          \"dewPoint\": -5.9,\n          \"freezingRainIntensity\": 0,\n          \"hailProbability\": 45.2,\n          \"hailSize\": 1.46,\n          \"humidity\": 85,\n          \"precipitationProbability\": 5,\n          \"pressureSeaLevel\": 1010,\n          \"pressureSurfaceLevel\": 995,\n          \"rainIntensity\": 0,\n          \"sleetIntensity\": 0,\n          \"snowIntensity\": 0.59,\n          \"temperature\": -3.6,\n          \"temperatureApparent\": -9.6,\n          \"uvHealthConcern\": 0,\n          \"uvIndex\": 0,\n          \"visibility\": 9.21,\n          \"weatherCode\": 5100,\n          \"windDirection\": 55,\n          \"windGust\": 6.6,\n          \"windSpeed\": 5.2\n        }\n      },\n      {\n        \"time\": \"2025-02-09T08:45:00Z\",\n        \"values\": {\n          \"cloudBase\": 0.3,\n          \"cloudCeiling\": 0.9,\n          \"cloudCover\": 100,\n          \"dewPoint\": -5.9,\n          \"freezingRainIntensity\": 0,\n          \"hailProbability\": 76.1,\n          \"hailSize\": 7.89,\n          \"humidity\": 85,\n          \"precipitationProbability\": 5,\n          \"pressureSeaLevel\": 1010,\n          \"pressureSurfaceLevel\": 995,\n          \"rainIntensity\": 0,\n          \"sleetIntensity\": 0,\n          \"snowIntensity\": 0.48,\n          \"temperature\": -3.6,\n          \"temperatureApparent\": -9.6,\n          \"uvHealthConcern\": 0,\n          \"uvIndex\": 0,\n          \"visibility\": 9.07,\n          \"weatherCode\": 5100,\n          \"windDirection\": 55,\n          \"windGust\": 6.6,\n          \"windSpeed\": 5.2\n        }\n      },\n      {\n        \"time\": \"2025-02-09T08:46:00Z\",\n        \"values\": {\n          \"cloudBase\": 0.3,\n          \"cloudCeiling\": 0.9,\n          \"cloudCover\": 100,\n          \"dewPoint\": -5.9,\n          \"freezingRainIntensity\": 0,\n          \"hailProbability\": 49.3,\n          \"hailSize\": 6.96,\n          \"humidity\": 84,\n          \"precipitationProbability\": 5,\n          \"pressureSeaLevel\": 1010,\n          \"pressureSurfaceLevel\": 995,\n          \"rainIntensity\": 0,\n          \"sleetIntensity\": 0,\n          \"snowIntensity\": 0.48,\n          \"temperature\": -3.6,\n          \"temperatureApparent\": -9.5,\n          \"uvHealthConcern\": 0,\n          \"uvIndex\": 0,\n          \"visibility\": 8.93,\n          \"weatherCode\": 5100,\n          \"windDirection\": 55,\n          \"windGust\": 6.6,\n          \"windSpeed\": 5.1\n        }\n      },\n      {\n        \"time\": \"2025-02-09T08:47:00Z\",\n        \"values\": {\n          \"cloudBase\": 0.3,\n          \"cloudCeiling\": 0.9,\n          \"cloudCover\": 100,\n          \"dewPoint\": -5.9,\n          \"freezingRainIntensity\": 0,\n          \"hailProbability\": 91.9,\n          \"hailSize\": 3.37,\n          \"humidity\": 84,\n          \"precipitationProbability\": 5,\n          \"pressureSeaLevel\": 1010,\n          \"pressureSurfaceLevel\": 995,\n          \"rainIntensity\": 0,\n          \"sleetIntensity\": 0,\n          \"snowIntensity\": 0.48,\n          \"temperature\": -3.6,\n          \"temperatureApparent\": -9.5,\n          \"uvHealthConcern\": 0,\n          \"uvIndex\": 0,\n          \"visibility\": 8.79,\n          \"weatherCode\": 5100,\n          \"windDirection\": 55,\n          \"windGust\": 6.6,\n          \"windSpeed\": 5.1\n        }\n      },\n      {\n        \"time\": \"2025-02-09T08:48:00Z\",\n        \"values\": {\n          \"cloudBase\": 0.3,\n          \"cloudCeiling\": 0.9,\n          \"cloudCover\": 100,\n          \"dewPoint\": -5.9,\n          \"freezingRainIntensity\": 0,\n          \"hailProbability\": 46,\n          \"hailSize\": 7.86,\n          \"humidity\": 84,\n          \"precipitationProbability\": 5,\n          \"pressureSeaLevel\": 1010,\n          \"pressureSurfaceLevel\": 995,\n          \"rainIntensity\": 0,\n          \"sleetIntensity\": 0,\n          \"snowIntensity\": 0.48,\n          \"temperature\": -3.6,\n          \"temperatureApparent\": -9.5,\n          \"uvHealthConcern\": 0,\n          \"uvIndex\": 0,\n          \"visibility\": 8.65,\n          \"weatherCode\": 5100,\n          \"windDirection\": 55,\n          \"windGust\": 6.6,\n          \"windSpeed\": 5.1\n        }\n      },\n      {\n        \"time\": \"2025-02-09T08:49:00Z\",\n        \"values\": {\n          \"cloudBase\": 0.3,\n          \"cloudCeiling\": 0.9,\n          \"cloudCover\": 100,\n          \"dewPoint\": -5.9,\n          \"freezingRainIntensity\": 0,\n          \"hailProbability\": 95.9,\n          \"hailSize\": 8.71,\n          \"humidity\": 84,\n          \"precipitationProbability\": 5,\n          \"pressureSeaLevel\": 1010,\n          \"pressureSurfaceLevel\": 995,\n          \"rainIntensity\": 0,\n          \"sleetIntensity\": 0,\n          \"snowIntensity\": 0.48,\n          \"temperature\": -3.6,\n          \"temperatureApparent\": -9.5,\n          \"uvHealthConcern\": 0,\n          \"uvIndex\": 0,\n          \"visibility\": 8.51,\n          \"weatherCode\": 5100,\n          \"windDirection\": 55,\n          \"windGust\": 6.6,\n          \"windSpeed\": 5.1\n        }\n      },\n      {\n        \"time\": \"2025-02-09T08:50:00Z\",\n        \"values\": {\n          \"cloudBase\": 0.3,\n          \"cloudCeiling\": 0.9,\n          \"cloudCover\": 100,\n          \"dewPoint\": -5.9,\n          \"freezingRainIntensity\": 0,\n          \"hailProbability\": 32,\n          \"hailSize\": 7.27,\n          \"humidity\": 84,\n          \"precipitationProbability\": 5,\n          \"pressureSeaLevel\": 1010,\n          \"pressureSurfaceLevel\": 995,\n          \"rainIntensity\": 0,\n          \"sleetIntensity\": 0,\n          \"snowIntensity\": 0.48,\n          \"temperature\": -3.6,\n          \"temperatureApparent\": -9.5,\n          \"uvHealthConcern\": 0,\n          \"uvIndex\": 0,\n          \"visibility\": 8.37,\n          \"weatherCode\": 5100,\n          \"windDirection\": 55,\n          \"windGust\": 6.6,\n          \"windSpeed\": 5.1\n        }\n      },\n      {\n        \"time\": \"2025-02-09T08:51:00Z\",\n        \"values\": {\n          \"cloudBase\": 0.3,\n          \"cloudCeiling\": 0.9,\n          \"cloudCover\": 100,\n          \"dewPoint\": -6,\n          \"freezingRainIntensity\": 0,\n          \"hailProbability\": 4.3,\n          \"hailSize\": 3.45,\n          \"humidity\": 84,\n          \"precipitationProbability\": 5,\n          \"pressureSeaLevel\": 1010,\n          \"pressureSurfaceLevel\": 995,\n          \"rainIntensity\": 0,\n          \"sleetIntensity\": 0,\n          \"snowIntensity\": 0.52,\n          \"temperature\": -3.6,\n          \"temperatureApparent\": -9.5,\n          \"uvHealthConcern\": 0,\n          \"uvIndex\": 0,\n          \"visibility\": 8.22,\n          \"weatherCode\": 5100,\n          \"windDirection\": 55,\n          \"windGust\": 6.6,\n          \"windSpeed\": 5\n        }\n      },\n      {\n        \"time\": \"2025-02-09T08:52:00Z\",\n        \"values\": {\n          \"cloudBase\": 0.3,\n          \"cloudCeiling\": 0.9,\n          \"cloudCover\": 100,\n          \"dewPoint\": -6,\n          \"freezingRainIntensity\": 0,\n          \"hailProbability\": 34.3,\n          \"hailSize\": 0.07,\n          \"humidity\": 84,\n          \"precipitationProbability\": 5,\n          \"pressureSeaLevel\": 1010,\n          \"pressureSurfaceLevel\": 995,\n          \"rainIntensity\": 0,\n          \"sleetIntensity\": 0,\n          \"snowIntensity\": 0.52,\n          \"temperature\": -3.6,\n          \"temperatureApparent\": -9.5,\n          \"uvHealthConcern\": 0,\n          \"uvIndex\": 0,\n          \"visibility\": 8.08,\n          \"weatherCode\": 5100,\n          \"windDirection\": 55,\n          \"windGust\": 6.5,\n          \"windSpeed\": 5\n        }\n      },\n      {\n        \"time\": \"2025-02-09T08:53:00Z\",\n        \"values\": {\n          \"cloudBase\": 0.3,\n          \"cloudCeiling\": 0.9,\n          \"cloudCover\": 100,\n          \"dewPoint\": -6,\n          \"freezingRainIntensity\": 0,\n          \"hailProbability\": 14.2,\n          \"hailSize\": 9.48,\n          \"humidity\": 84,\n          \"precipitationProbability\": 5,\n          \"pressureSeaLevel\": 1010,\n          \"pressureSurfaceLevel\": 995,\n          \"rainIntensity\": 0,\n          \"sleetIntensity\": 0,\n          \"snowIntensity\": 0.52,\n          \"temperature\": -3.6,\n          \"temperatureApparent\": -9.4,\n          \"uvHealthConcern\": 0,\n          \"uvIndex\": 0,\n          \"visibility\": 7.94,\n          \"weatherCode\": 5100,\n          \"windDirection\": 55,\n          \"windGust\": 6.5,\n          \"windSpeed\": 5\n        }\n      },\n      {\n        \"time\": \"2025-02-09T08:54:00Z\",\n        \"values\": {\n          \"cloudBase\": 0.3,\n          \"cloudCeiling\": 0.9,\n          \"cloudCover\": 100,\n          \"dewPoint\": -6,\n          \"freezingRainIntensity\": 0,\n          \"hailProbability\": 36.6,\n          \"hailSize\": 1,\n          \"humidity\": 84,\n          \"precipitationProbability\": 5,\n          \"pressureSeaLevel\": 1010,\n          \"pressureSurfaceLevel\": 995,\n          \"rainIntensity\": 0,\n          \"sleetIntensity\": 0,\n          \"snowIntensity\": 0.52,\n          \"temperature\": -3.6,\n          \"temperatureApparent\": -9.4,\n          \"uvHealthConcern\": 0,\n          \"uvIndex\": 0,\n          \"visibility\": 7.8,\n          \"weatherCode\": 5100,\n          \"windDirection\": 55,\n          \"windGust\": 6.5,\n          \"windSpeed\": 5\n        }\n      },\n      {\n        \"time\": \"2025-02-09T08:55:00Z\",\n        \"values\": {\n          \"cloudBase\": 0.3,\n          \"cloudCeiling\": 0.9,\n          \"cloudCover\": 100,\n          \"dewPoint\": -6,\n          \"freezingRainIntensity\": 0,\n          \"hailProbability\": 0.1,\n          \"hailSize\": 6.42,\n          \"humidity\": 84,\n          \"precipitationProbability\": 5,\n          \"pressureSeaLevel\": 1010,\n          \"pressureSurfaceLevel\": 995,\n          \"rainIntensity\": 0,\n          \"sleetIntensity\": 0,\n          \"snowIntensity\": 0.52,\n          \"temperature\": -3.6,\n          \"temperatureApparent\": -9.4,\n          \"uvHealthConcern\": 0,\n          \"uvIndex\": 0,\n          \"visibility\": 7.66,\n          \"weatherCode\": 5100,\n          \"windDirection\": 55,\n          \"windGust\": 6.5,\n          \"windSpeed\": 4.9\n        }\n      },\n      {\n        \"time\": \"2025-02-09T08:56:00Z\",\n        \"values\": {\n          \"cloudBase\": 0.3,\n          \"cloudCeiling\": 0.9,\n          \"cloudCover\": 100,\n          \"dewPoint\": -6,\n          \"freezingRainIntensity\": 0,\n          \"hailProbability\": 71.2,\n          \"hailSize\": 7.11,\n          \"humidity\": 84,\n          \"precipitationProbability\": 5,\n          \"pressureSeaLevel\": 1010,\n          \"pressureSurfaceLevel\": 995,\n          \"rainIntensity\": 0,\n          \"sleetIntensity\": 0,\n          \"snowIntensity\": 0.52,\n          \"temperature\": -3.6,\n          \"temperatureApparent\": -9.4,\n          \"uvHealthConcern\": 0,\n          \"uvIndex\": 0,\n          \"visibility\": 7.52,\n          \"weatherCode\": 5100,\n          \"windDirection\": 55,\n          \"windGust\": 6.5,\n          \"windSpeed\": 4.9\n        }\n      },\n      {\n        \"time\": \"2025-02-09T08:57:00Z\",\n        \"values\": {\n          \"cloudBase\": 0.3,\n          \"cloudCeiling\": 0.9,\n          \"cloudCover\": 100,\n          \"dewPoint\": -6,\n          \"freezingRainIntensity\": 0,\n          \"hailProbability\": 5.1,\n          \"hailSize\": 3.65,\n          \"humidity\": 84,\n          \"precipitationProbability\": 5,\n          \"pressureSeaLevel\": 1010,\n          \"pressureSurfaceLevel\": 995,\n          \"rainIntensity\": 0,\n          \"sleetIntensity\": 0,\n          \"snowIntensity\": 0.67,\n          \"temperature\": -3.6,\n          \"temperatureApparent\": -9.4,\n          \"uvHealthConcern\": 0,\n          \"uvIndex\": 0,\n          \"visibility\": 7.37,\n          \"weatherCode\": 5100,\n          \"windDirection\": 55,\n          \"windGust\": 6.5,\n          \"windSpeed\": 4.9\n        }\n      },\n      {\n        \"time\": \"2025-02-09T08:58:00Z\",\n        \"values\": {\n          \"cloudBase\": 0.3,\n          \"cloudCeiling\": 0.9,\n          \"cloudCover\": 100,\n          \"dewPoint\": -6.1,\n          \"freezingRainIntensity\": 0,\n          \"hailProbability\": 27.3,\n          \"hailSize\": 9.65,\n          \"humidity\": 83,\n          \"precipitationProbability\": 5,\n          \"pressureSeaLevel\": 1010,\n          \"pressureSurfaceLevel\": 995,\n          \"rainIntensity\": 0,\n          \"sleetIntensity\": 0,\n          \"snowIntensity\": 0.67,\n          \"temperature\": -3.6,\n          \"temperatureApparent\": -9.4,\n          \"uvHealthConcern\": 0,\n          \"uvIndex\": 0,\n          \"visibility\": 7.23,\n          \"weatherCode\": 5100,\n          \"windDirection\": 55,\n          \"windGust\": 6.5,\n          \"windSpeed\": 4.9\n        }\n      },\n      {\n        \"time\": \"2025-02-09T08:59:00Z\",\n        \"values\": {\n          \"cloudBase\": 0.3,\n          \"cloudCeiling\": 0.9,\n          \"cloudCover\": 100,\n          \"dewPoint\": -6.1,\n          \"freezingRainIntensity\": 0,\n          \"hailProbability\": 71.1,\n          \"hailSize\": 7.77,\n          \"humidity\": 83,\n          \"precipitationProbability\": 5,\n          \"pressureSeaLevel\": 1010,\n          \"pressureSurfaceLevel\": 995,\n          \"rainIntensity\": 0,\n          \"sleetIntensity\": 0,\n          \"snowIntensity\": 0.67,\n          \"temperature\": -3.6,\n          \"temperatureApparent\": -9.3,\n          \"uvHealthConcern\": 0,\n          \"uvIndex\": 0,\n          \"visibility\": 7.09,\n          \"weatherCode\": 5100,\n          \"windDirection\": 55,\n          \"windGust\": 6.5,\n          \"windSpeed\": 4.8\n        }\n      },\n      {\n        \"time\": \"2025-02-09T09:00:00Z\",\n        \"values\": {\n          \"cloudBase\": 0.3,\n          \"cloudCeiling\": 0.9,\n          \"cloudCover\": 100,\n          \"dewPoint\": -6.1,\n          \"freezingRainIntensity\": 0,\n          \"hailProbability\": 49.5,\n          \"hailSize\": 1.42,\n          \"humidity\": 83,\n          \"precipitationProbability\": 5,\n          \"pressureSeaLevel\": 1010,\n          \"pressureSurfaceLevel\": 995,\n          \"rainIntensity\": 0,\n          \"sleetIntensity\": 0,\n          \"snowIntensity\": 0.67,\n          \"temperature\": -3.6,\n          \"temperatureApparent\": -9.3,\n          \"uvHealthConcern\": 0,\n          \"uvIndex\": 0,\n          \"visibility\": 6.95,\n          \"weatherCode\": 5100,\n          \"windDirection\": 55,\n          \"windGust\": 6.5,\n          \"windSpeed\": 4.8\n        }\n      },\n      {\n        \"time\": \"2025-02-09T09:01:00Z\",\n        \"values\": {\n          \"cloudBase\": 0.3,\n          \"cloudCeiling\": 0.9,\n          \"cloudCover\": 100,\n          \"dewPoint\": -6.1,\n          \"freezingRainIntensity\": 0,\n          \"hailProbability\": 98.5,\n          \"hailSize\": 9.33,\n          \"humidity\": 83,\n          \"precipitationProbability\": 5,\n          \"pressureSeaLevel\": 1010,\n          \"pressureSurfaceLevel\": 995,\n          \"rainIntensity\": 0,\n          \"sleetIntensity\": 0,\n          \"snowIntensity\": 0.67,\n          \"temperature\": -3.6,\n          \"temperatureApparent\": -9.3,\n          \"uvHealthConcern\": 0,\n          \"uvIndex\": 0,\n          \"visibility\": 6.95,\n          \"weatherCode\": 5100,\n          \"windDirection\": 55,\n          \"windGust\": 6.5,\n          \"windSpeed\": 4.8\n        }\n      },\n      {\n        \"time\": \"2025-02-09T09:02:00Z\",\n        \"values\": {\n          \"cloudBase\": 0.3,\n          \"cloudCeiling\": 0.9,\n          \"cloudCover\": 100,\n          \"dewPoint\": -6.1,\n          \"freezingRainIntensity\": 0,\n          \"hailProbability\": 90.9,\n          \"hailSize\": 7.97,\n          \"humidity\": 83,\n          \"precipitationProbability\": 5,\n          \"pressureSeaLevel\": 1010,\n          \"pressureSurfaceLevel\": 995,\n          \"rainIntensity\": 0,\n          \"sleetIntensity\": 0,\n          \"snowIntensity\": 0.67,\n          \"temperature\": -3.6,\n          \"temperatureApparent\": -9.3,\n          \"uvHealthConcern\": 0,\n          \"uvIndex\": 0,\n          \"visibility\": 6.95,\n          \"weatherCode\": 5100,\n          \"windDirection\": 55,\n          \"windGust\": 6.5,\n          \"windSpeed\": 4.8\n        }\n      },\n      {\n        \"time\": \"2025-02-09T09:03:00Z\",\n        \"values\": {\n          \"cloudBase\": 0.3,\n          \"cloudCeiling\": 0.9,\n          \"cloudCover\": 100,\n          \"dewPoint\": -6.1,\n          \"freezingRainIntensity\": 0,\n          \"hailProbability\": 52.6,\n          \"hailSize\": 8.98,\n          \"humidity\": 83,\n          \"precipitationProbability\": 5,\n          \"pressureSeaLevel\": 1010,\n          \"pressureSurfaceLevel\": 995,\n          \"rainIntensity\": 0,\n          \"sleetIntensity\": 0,\n          \"snowIntensity\": 0.66,\n          \"temperature\": -3.6,\n          \"temperatureApparent\": -9.3,\n          \"uvHealthConcern\": 0,\n          \"uvIndex\": 0,\n          \"visibility\": 6.96,\n          \"weatherCode\": 5100,\n          \"windDirection\": 55,\n          \"windGust\": 6.5,\n          \"windSpeed\": 4.8\n        }\n      },\n      {\n        \"time\": \"2025-02-09T09:04:00Z\",\n        \"values\": {\n          \"cloudBase\": 0.3,\n          \"cloudCeiling\": 0.9,\n          \"cloudCover\": 100,\n          \"dewPoint\": -6.1,\n          \"freezingRainIntensity\": 0,\n          \"hailProbability\": 53,\n          \"hailSize\": 6.92,\n          \"humidity\": 83,\n          \"precipitationProbability\": 5,\n          \"pressureSeaLevel\": 1010,\n          \"pressureSurfaceLevel\": 995,\n          \"rainIntensity\": 0,\n          \"sleetIntensity\": 0,\n          \"snowIntensity\": 0.66,\n          \"temperature\": -3.6,\n          \"temperatureApparent\": -9.3,\n          \"uvHealthConcern\": 0,\n          \"uvIndex\": 0,\n          \"visibility\": 6.96,\n          \"weatherCode\": 5100,\n          \"windDirection\": 55,\n          \"windGust\": 6.4,\n          \"windSpeed\": 4.8\n        }\n      }\n    ],\n    \"hourly\": [\n      {\n        \"time\": \"2025-02-09T08:00:00Z\",\n        \"values\": {\n          \"cloudBase\": 0.2,\n          \"cloudCeiling\": 0.2,\n          \"cloudCover\": 100,\n          \"dewPoint\": -5.3,\n          \"evapotranspiration\": 0.009,\n          \"freezingRainIntensity\": 0,\n          \"hailProbability\": 66.9,\n          \"hailSize\": 9.92,\n          \"humidity\": 88,\n          \"iceAccumulation\": 0,\n          \"iceAccumulationLwe\": 0,\n          \"precipitationProbability\": 0,\n          \"pressureSeaLevel\": 1009,\n          \"pressureSurfaceLevel\": 995,\n          \"rainAccumulation\": 0,\n          \"rainAccumulationLwe\": 0,\n          \"rainIntensity\": 0,\n          \"sleetAccumulation\": 0,\n          \"sleetAccumulationLwe\": 0,\n          \"sleetIntensity\": 0,\n          \"snowAccumulation\": 0,\n          \"snowAccumulationLwe\": 0.47,\n          \"snowDepth\": 0,\n          \"snowIntensity\": 0,\n          \"temperature\": -3.6,\n          \"temperatureApparent\": -10.1,\n          \"uvHealthConcern\": 0,\n          \"uvIndex\": 0,\n          \"visibility\": 14.73,\n          \"weatherCode\": 1001,\n          \"windDirection\": 85,\n          \"windGust\": 6.8,\n          \"windSpeed\": 6.1\n        }\n      },\n      {\n        \"time\": \"2025-02-09T09:00:00Z\",\n        \"values\": {\n          \"cloudBase\": 0.3,\n          \"cloudCeiling\": 0.9,\n          \"cloudCover\": 100,\n          \"dewPoint\": -6.1,\n          \"evapotranspiration\": 0.009,\n          \"freezingRainIntensity\": 0,\n          \"hailProbability\": 49.5,\n          \"hailSize\": 1.42,\n          \"humidity\": 83,\n          \"iceAccumulation\": 0,\n          \"iceAccumulationLwe\": 0,\n          \"precipitationProbability\": 5,\n          \"pressureSeaLevel\": 1010,\n          \"pressureSurfaceLevel\": 995,\n          \"rainAccumulation\": 0,\n          \"rainAccumulationLwe\": 0,\n          \"rainIntensity\": 0,\n          \"sleetAccumulation\": 0,\n          \"sleetAccumulationLwe\": 0,\n          \"sleetIntensity\": 0,\n          \"snowAccumulation\": 4.73,\n          \"snowAccumulationLwe\": 0.66,\n          \"snowDepth\": 0,\n          \"snowIntensity\": 0.67,\n          \"temperature\": -3.6,\n          \"temperatureApparent\": -9.3,\n          \"uvHealthConcern\": 0,\n          \"uvIndex\": 0,\n          \"visibility\": 6.95,\n          \"weatherCode\": 5100,\n          \"windDirection\": 55,\n          \"windGust\": 6.5,\n          \"windSpeed\": 4.8\n        }\n      },\n      {\n        \"time\": \"2025-02-09T10:00:00Z\",\n        \"values\": {\n          \"cloudBase\": 0.4,\n          \"cloudCeiling\": 0.7,\n          \"cloudCover\": 100,\n          \"dewPoint\": -5.8,\n          \"evapotranspiration\": 0.009,\n          \"freezingRainIntensity\": 0,\n          \"hailProbability\": 14.4,\n          \"hailSize\": 8.66,\n          \"humidity\": 83,\n          \"iceAccumulation\": 0,\n          \"iceAccumulationLwe\": 0,\n          \"precipitationProbability\": 100,\n          \"pressureSeaLevel\": 1011,\n          \"pressureSurfaceLevel\": 996,\n          \"rainAccumulation\": 0,\n          \"rainAccumulationLwe\": 0,\n          \"rainIntensity\": 0,\n          \"sleetAccumulation\": 0,\n          \"sleetAccumulationLwe\": 0,\n          \"sleetIntensity\": 0,\n          \"snowAccumulation\": 6.63,\n          \"snowAccumulationLwe\": 0.15,\n          \"snowDepth\": 0,\n          \"snowIntensity\": 0.49,\n          \"temperature\": -3.3,\n          \"temperatureApparent\": -8.7,\n          \"uvHealthConcern\": 0,\n          \"uvIndex\": 0,\n          \"visibility\": 7.05,\n          \"weatherCode\": 5100,\n          \"windDirection\": 42,\n          \"windGust\": 5.5,\n          \"windSpeed\": 4.4\n        }\n      },\n      {\n        \"time\": \"2025-02-09T11:00:00Z\",\n        \"values\": {\n          \"cloudBase\": 0.4,\n          \"cloudCeiling\": 0.7,\n          \"cloudCover\": 100,\n          \"dewPoint\": -5.8,\n          \"evapotranspiration\": 0.01,\n          \"freezingRainIntensity\": 0,\n          \"hailProbability\": 81.7,\n          \"hailSize\": 0.86,\n          \"humidity\": 81,\n          \"iceAccumulation\": 0,\n          \"iceAccumulationLwe\": 0,\n          \"precipitationProbability\": 0,\n          \"pressureSeaLevel\": 1012,\n          \"pressureSurfaceLevel\": 997,\n          \"rainAccumulation\": 0,\n          \"rainAccumulationLwe\": 0,\n          \"rainIntensity\": 0,\n          \"sleetAccumulation\": 0,\n          \"sleetAccumulationLwe\": 0,\n          \"sleetIntensity\": 0,\n          \"snowAccumulation\": 1.46,\n          \"snowAccumulationLwe\": 0,\n          \"snowDepth\": 0,\n          \"snowIntensity\": 0,\n          \"temperature\": -3,\n          \"temperatureApparent\": -7.8,\n          \"uvHealthConcern\": 0,\n          \"uvIndex\": 0,\n          \"visibility\": 7.41,\n          \"weatherCode\": 1001,\n          \"windDirection\": 24,\n          \"windGust\": 5,\n          \"windSpeed\": 3.8\n        }\n      },\n      {\n        \"time\": \"2025-02-09T12:00:00Z\",\n        \"values\": {\n          \"cloudBase\": 0.3,\n          \"cloudCeiling\": 0.5,\n          \"cloudCover\": 100,\n          \"dewPoint\": -6,\n          \"evapotranspiration\": 0.009,\n          \"freezingRainIntensity\": 0,\n          \"hailProbability\": 66.5,\n          \"hailSize\": 5.95,\n          \"humidity\": 78,\n          \"iceAccumulation\": 0,\n          \"iceAccumulationLwe\": 0,\n          \"precipitationProbability\": 0,\n          \"pressureSeaLevel\": 1012,\n          \"pressureSurfaceLevel\": 998,\n          \"rainAccumulation\": 0,\n          \"rainAccumulationLwe\": 0,\n          \"rainIntensity\": 0,\n          \"sleetAccumulation\": 0,\n          \"sleetAccumulationLwe\": 0,\n          \"sleetIntensity\": 0,\n          \"snowAccumulation\": 0,\n          \"snowAccumulationLwe\": 0,\n          \"snowDepth\": 0,\n          \"snowIntensity\": 0,\n          \"temperature\": -2.7,\n          \"temperatureApparent\": -7,\n          \"uvHealthConcern\": 0,\n          \"uvIndex\": 0,\n          \"visibility\": 16,\n          \"weatherCode\": 1001,\n          \"windDirection\": 22,\n          \"windGust\": 4.5,\n          \"windSpeed\": 3.2\n        }\n      },\n      {\n        \"time\": \"2025-02-09T13:00:00Z\",\n        \"values\": {\n          \"cloudBase\": 0.3,\n          \"cloudCeiling\": 0.5,\n          \"cloudCover\": 100,\n          \"dewPoint\": -6,\n          \"evapotranspiration\": 0.015,\n          \"freezingRainIntensity\": 0,\n          \"hailProbability\": 3.2,\n          \"hailSize\": 1.17,\n          \"humidity\": 77,\n          \"iceAccumulation\": 0,\n          \"iceAccumulationLwe\": 0,\n          \"precipitationProbability\": 0,\n          \"pressureSeaLevel\": 1014,\n          \"pressureSurfaceLevel\": 999,\n          \"rainAccumulation\": 0,\n          \"rainAccumulationLwe\": 0,\n          \"rainIntensity\": 0,\n          \"sleetAccumulation\": 0,\n          \"sleetAccumulationLwe\": 0,\n          \"sleetIntensity\": 0,\n          \"snowAccumulation\": 0,\n          \"snowAccumulationLwe\": 0,\n          \"snowDepth\": 0,\n          \"snowIntensity\": 0,\n          \"temperature\": -2.4,\n          \"temperatureApparent\": -6.4,\n          \"uvHealthConcern\": 0,\n          \"uvIndex\": 0,\n          \"visibility\": 16,\n          \"weatherCode\": 1001,\n          \"windDirection\": 320,\n          \"windGust\": 5,\n          \"windSpeed\": 3\n        }\n      },\n      {\n        \"time\": \"2025-02-09T14:00:00Z\",\n        \"values\": {\n          \"cloudBase\": 0.4,\n          \"cloudCeiling\": 0.6,\n          \"cloudCover\": 79,\n          \"dewPoint\": -5.9,\n          \"evapotranspiration\": 0.019,\n          \"freezingRainIntensity\": 0,\n          \"hailProbability\": 54.7,\n          \"hailSize\": 9.56,\n          \"humidity\": 76,\n          \"iceAccumulation\": 0,\n          \"iceAccumulationLwe\": 0,\n          \"precipitationProbability\": 0,\n          \"pressureSeaLevel\": 1015,\n          \"pressureSurfaceLevel\": 1000,\n          \"rainAccumulation\": 0,\n          \"rainAccumulationLwe\": 0,\n          \"rainIntensity\": 0,\n          \"sleetAccumulation\": 0,\n          \"sleetAccumulationLwe\": 0,\n          \"sleetIntensity\": 0,\n          \"snowAccumulation\": 0,\n          \"snowAccumulationLwe\": 0,\n          \"snowDepth\": 0,\n          \"snowIntensity\": 0,\n          \"temperature\": -1.9,\n          \"temperatureApparent\": -6.3,\n          \"uvHealthConcern\": 0,\n          \"uvIndex\": 1,\n          \"visibility\": 16,\n          \"weatherCode\": 1001,\n          \"windDirection\": 288,\n          \"windGust\": 6,\n          \"windSpeed\": 3.6\n        }\n      },\n      {\n        \"time\": \"2025-02-09T15:00:00Z\",\n        \"values\": {\n          \"cloudBase\": 0.3,\n          \"cloudCeiling\": 0.4,\n          \"cloudCover\": 100,\n          \"dewPoint\": -5.8,\n          \"evapotranspiration\": 0.023,\n          \"freezingRainIntensity\": 0,\n          \"hailProbability\": 67.1,\n          \"hailSize\": 6.18,\n          \"humidity\": 74,\n          \"iceAccumulation\": 0,\n          \"iceAccumulationLwe\": 0,\n          \"precipitationProbability\": 0,\n          \"pressureSeaLevel\": 1016,\n          \"pressureSurfaceLevel\": 1002,\n          \"rainAccumulation\": 0,\n          \"rainAccumulationLwe\": 0,\n          \"rainIntensity\": 0,\n          \"sleetAccumulation\": 0,\n          \"sleetAccumulationLwe\": 0,\n          \"sleetIntensity\": 0,\n          \"snowAccumulation\": 0,\n          \"snowAccumulationLwe\": 0,\n          \"snowDepth\": 0,\n          \"snowIntensity\": 0,\n          \"temperature\": -1.6,\n          \"temperatureApparent\": -6.6,\n          \"uvHealthConcern\": 0,\n          \"uvIndex\": 1,\n          \"visibility\": 16,\n          \"weatherCode\": 1001,\n          \"windDirection\": 288,\n          \"windGust\": 8,\n          \"windSpeed\": 4.5\n        }\n      },\n      {\n        \"time\": \"2025-02-09T16:00:00Z\",\n        \"values\": {\n          \"cloudBase\": 0.4,\n          \"cloudCeiling\": 0.4,\n          \"cloudCover\": 100,\n          \"dewPoint\": -5.7,\n          \"evapotranspiration\": 0.027,\n          \"freezingRainIntensity\": 0,\n          \"hailProbability\": 10.6,\n          \"hailSize\": 9.69,\n          \"humidity\": 72,\n          \"iceAccumulation\": 0,\n          \"iceAccumulationLwe\": 0,\n          \"precipitationProbability\": 0,\n          \"pressureSeaLevel\": 1017,\n          \"pressureSurfaceLevel\": 1002,\n          \"rainAccumulation\": 0,\n          \"rainAccumulationLwe\": 0,\n          \"rainIntensity\": 0,\n          \"sleetAccumulation\": 0,\n          \"sleetAccumulationLwe\": 0,\n          \"sleetIntensity\": 0,\n          \"snowAccumulation\": 0,\n          \"snowAccumulationLwe\": 0,\n          \"snowDepth\": 0,\n          \"snowIntensity\": 0,\n          \"temperature\": -1.1,\n          \"temperatureApparent\": -6.6,\n          \"uvHealthConcern\": 0,\n          \"uvIndex\": 1,\n          \"visibility\": 16,\n          \"weatherCode\": 1001,\n          \"windDirection\": 285,\n          \"windGust\": 9,\n          \"windSpeed\": 5.4\n        }\n      },\n      {\n        \"time\": \"2025-02-09T17:00:00Z\",\n        \"values\": {\n          \"cloudBase\": 0.4,\n          \"cloudCeiling\": 0.4,\n          \"cloudCover\": 100,\n          \"dewPoint\": -5.5,\n          \"evapotranspiration\": 0.03,\n          \"freezingRainIntensity\": 0,\n          \"hailProbability\": 55.2,\n          \"hailSize\": 7.58,\n          \"humidity\": 71,\n          \"iceAccumulation\": 0,\n          \"iceAccumulationLwe\": 0,\n          \"precipitationProbability\": 0,\n          \"pressureSeaLevel\": 1018,\n          \"pressureSurfaceLevel\": 1002,\n          \"rainAccumulation\": 0,\n          \"rainAccumulationLwe\": 0,\n          \"rainIntensity\": 0,\n          \"sleetAccumulation\": 0,\n          \"sleetAccumulationLwe\": 0,\n          \"sleetIntensity\": 0,\n          \"snowAccumulation\": 0,\n          \"snowAccumulationLwe\": 0,\n          \"snowDepth\": 0,\n          \"snowIntensity\": 0,\n          \"temperature\": -0.8,\n          \"temperatureApparent\": -6.4,\n          \"uvHealthConcern\": 0,\n          \"uvIndex\": 2,\n          \"visibility\": 16,\n          \"weatherCode\": 1001,\n          \"windDirection\": 288,\n          \"windGust\": 9,\n          \"windSpeed\": 5.9\n        }\n      },\n      {\n        \"time\": \"2025-02-09T18:00:00Z\",\n        \"values\": {\n          \"cloudBase\": 0.4,\n          \"cloudCeiling\": 0.5,\n          \"cloudCover\": 100,\n          \"dewPoint\": -5.5,\n          \"evapotranspiration\": 0.033,\n          \"freezingRainIntensity\": 0,\n          \"hailProbability\": 93,\n          \"hailSize\": 4.89,\n          \"humidity\": 68,\n          \"iceAccumulation\": 0,\n          \"iceAccumulationLwe\": 0,\n          \"precipitationProbability\": 0,\n          \"pressureSeaLevel\": 1018,\n          \"pressureSurfaceLevel\": 1003,\n          \"rainAccumulation\": 0,\n          \"rainAccumulationLwe\": 0,\n          \"rainIntensity\": 0,\n          \"sleetAccumulation\": 0,\n          \"sleetAccumulationLwe\": 0,\n          \"sleetIntensity\": 0,\n          \"snowAccumulation\": 0,\n          \"snowAccumulationLwe\": 0,\n          \"snowDepth\": 0,\n          \"snowIntensity\": 0,\n          \"temperature\": -0.3,\n          \"temperatureApparent\": -5.9,\n          \"uvHealthConcern\": 0,\n          \"uvIndex\": 1,\n          \"visibility\": 16,\n          \"weatherCode\": 1001,\n          \"windDirection\": 288,\n          \"windGust\": 10,\n          \"windSpeed\": 6.1\n        }\n      },\n      {\n        \"time\": \"2025-02-09T19:00:00Z\",\n        \"values\": {\n          \"cloudBase\": 0.5,\n          \"cloudCeiling\": 0.6,\n          \"cloudCover\": 100,\n          \"dewPoint\": -5.5,\n          \"evapotranspiration\": 0.037,\n          \"freezingRainIntensity\": 0,\n          \"hailProbability\": 19.4,\n          \"hailSize\": 1.01,\n          \"humidity\": 68,\n          \"iceAccumulation\": 0,\n          \"iceAccumulationLwe\": 0,\n          \"precipitationProbability\": 0,\n          \"pressureSeaLevel\": 1018,\n          \"pressureSurfaceLevel\": 1004,\n          \"rainAccumulation\": 0,\n          \"rainAccumulationLwe\": 0,\n          \"rainIntensity\": 0,\n          \"sleetAccumulation\": 0,\n          \"sleetAccumulationLwe\": 0,\n          \"sleetIntensity\": 0,\n          \"snowAccumulation\": 0,\n          \"snowAccumulationLwe\": 0,\n          \"snowDepth\": 0,\n          \"snowIntensity\": 0,\n          \"temperature\": 0.1,\n          \"temperatureApparent\": -5.3,\n          \"uvHealthConcern\": 0,\n          \"uvIndex\": 1,\n          \"visibility\": 16,\n          \"weatherCode\": 1001,\n          \"windDirection\": 288,\n          \"windGust\": 10,\n          \"windSpeed\": 5.9\n        }\n      },\n      {\n        \"time\": \"2025-02-09T20:00:00Z\",\n        \"values\": {\n          \"cloudBase\": 0.4,\n          \"cloudCeiling\": 0.5,\n          \"cloudCover\": 100,\n          \"dewPoint\": -5.6,\n          \"evapotranspiration\": 0.033,\n          \"freezingRainIntensity\": 0,\n          \"hailProbability\": 26.6,\n          \"hailSize\": 5.21,\n          \"humidity\": 66,\n          \"iceAccumulation\": 0,\n          \"iceAccumulationLwe\": 0,\n          \"precipitationProbability\": 0,\n          \"pressureSeaLevel\": 1019,\n          \"pressureSurfaceLevel\": 1004,\n          \"rainAccumulation\": 0,\n          \"rainAccumulationLwe\": 0,\n          \"rainIntensity\": 0,\n          \"sleetAccumulation\": 0,\n          \"sleetAccumulationLwe\": 0,\n          \"sleetIntensity\": 0,\n          \"snowAccumulation\": 0,\n          \"snowAccumulationLwe\": 0,\n          \"snowDepth\": 0,\n          \"snowIntensity\": 0,\n          \"temperature\": 0.2,\n          \"temperatureApparent\": -5.2,\n          \"uvHealthConcern\": 0,\n          \"uvIndex\": 0,\n          \"visibility\": 7.17,\n          \"weatherCode\": 1001,\n          \"windDirection\": 288,\n          \"windGust\": 9,\n          \"windSpeed\": 5.9\n        }\n      },\n      {\n        \"time\": \"2025-02-09T21:00:00Z\",\n        \"values\": {\n          \"cloudBase\": 0.3,\n          \"cloudCeiling\": 0.6,\n          \"cloudCover\": 100,\n          \"dewPoint\": -5.5,\n          \"evapotranspiration\": 0.026,\n          \"freezingRainIntensity\": 0,\n          \"hailProbability\": 58.8,\n          \"hailSize\": 9.07,\n          \"humidity\": 66,\n          \"iceAccumulation\": 0,\n          \"iceAccumulationLwe\": 0,\n          \"precipitationProbability\": 0,\n          \"pressureSeaLevel\": 1019,\n          \"pressureSurfaceLevel\": 1004,\n          \"rainAccumulation\": 0,\n          \"rainAccumulationLwe\": 0,\n          \"rainIntensity\": 0,\n          \"sleetAccumulation\": 0,\n          \"sleetAccumulationLwe\": 0,\n          \"sleetIntensity\": 0,\n          \"snowAccumulation\": 0,\n          \"snowAccumulationLwe\": 0,\n          \"snowDepth\": 0,\n          \"snowIntensity\": 0,\n          \"temperature\": 0.3,\n          \"temperatureApparent\": -4.5,\n          \"uvHealthConcern\": 0,\n          \"uvIndex\": 0,\n          \"visibility\": 7.09,\n          \"weatherCode\": 1001,\n          \"windDirection\": 272,\n          \"windGust\": 7,\n          \"windSpeed\": 4.9\n        }\n      },\n      {\n        \"time\": \"2025-02-09T22:00:00Z\",\n        \"values\": {\n          \"cloudBase\": 0.3,\n          \"cloudCeiling\": 0.5,\n          \"cloudCover\": 100,\n          \"dewPoint\": -5.2,\n          \"evapotranspiration\": 0.024,\n          \"freezingRainIntensity\": 0,\n          \"hailProbability\": 72.2,\n          \"hailSize\": 0.9,\n          \"humidity\": 68,\n          \"iceAccumulation\": 0,\n          \"iceAccumulationLwe\": 0,\n          \"precipitationProbability\": 0,\n          \"pressureSeaLevel\": 1020,\n          \"pressureSurfaceLevel\": 1004,\n          \"rainAccumulation\": 0,\n          \"rainAccumulationLwe\": 0,\n          \"rainIntensity\": 0,\n          \"sleetAccumulation\": 0,\n          \"sleetAccumulationLwe\": 0,\n          \"sleetIntensity\": 0,\n          \"snowAccumulation\": 0,\n          \"snowAccumulationLwe\": 0,\n          \"snowDepth\": 0,\n          \"snowIntensity\": 0,\n          \"temperature\": 0.4,\n          \"temperatureApparent\": -4.1,\n          \"uvHealthConcern\": 0,\n          \"uvIndex\": 0,\n          \"visibility\": 7.17,\n          \"weatherCode\": 1001,\n          \"windDirection\": 256,\n          \"windGust\": 6.5,\n          \"windSpeed\": 4.4\n        }\n      },\n      {\n        \"time\": \"2025-02-09T23:00:00Z\",\n        \"values\": {\n          \"cloudBase\": 0.3,\n          \"cloudCeiling\": 0.7,\n          \"cloudCover\": 100,\n          \"dewPoint\": -5,\n          \"evapotranspiration\": 0.028,\n          \"freezingRainIntensity\": 0,\n          \"hailProbability\": 44.9,\n          \"hailSize\": 5.07,\n          \"humidity\": 68,\n          \"iceAccumulation\": 0,\n          \"iceAccumulationLwe\": 0,\n          \"precipitationProbability\": 0,\n          \"pressureSeaLevel\": 1021,\n          \"pressureSurfaceLevel\": 1006,\n          \"rainAccumulation\": 0,\n          \"rainAccumulationLwe\": 0,\n          \"rainIntensity\": 0,\n          \"sleetAccumulation\": 0,\n          \"sleetAccumulationLwe\": 0,\n          \"sleetIntensity\": 0,\n          \"snowAccumulation\": 0,\n          \"snowAccumulationLwe\": 0,\n          \"snowDepth\": 0,\n          \"snowIntensity\": 0,\n          \"temperature\": 0.2,\n          \"temperatureApparent\": -4.8,\n          \"uvHealthConcern\": 0,\n          \"uvIndex\": 0,\n          \"visibility\": 7.15,\n          \"weatherCode\": 1001,\n          \"windDirection\": 248,\n          \"windGust\": 9,\n          \"windSpeed\": 5.3\n        }\n      },\n      {\n        \"time\": \"2025-02-10T00:00:00Z\",\n        \"values\": {\n          \"cloudBase\": 0.4,\n          \"cloudCeiling\": 0.6,\n          \"cloudCover\": 100,\n          \"dewPoint\": -4.5,\n          \"evapotranspiration\": 0.027,\n          \"freezingRainIntensity\": 0,\n          \"hailProbability\": 97.8,\n          \"hailSize\": 1.97,\n          \"humidity\": 74,\n          \"iceAccumulation\": 0,\n          \"iceAccumulationLwe\": 0,\n          \"precipitationProbability\": 0,\n          \"pressureSeaLevel\": 1021,\n          \"pressureSurfaceLevel\": 1006,\n          \"rainAccumulation\": 0,\n          \"rainAccumulationLwe\": 0,\n          \"rainIntensity\": 0,\n          \"sleetAccumulation\": 0,\n          \"sleetAccumulationLwe\": 0,\n          \"sleetIntensity\": 0,\n          \"snowAccumulation\": 0,\n          \"snowAccumulationLwe\": 2.66,\n          \"snowDepth\": 0,\n          \"snowIntensity\": 0,\n          \"temperature\": -0.3,\n          \"temperatureApparent\": -6.1,\n          \"uvHealthConcern\": 0,\n          \"uvIndex\": 0,\n          \"visibility\": 7.01,\n          \"weatherCode\": 1001,\n          \"windDirection\": 240,\n          \"windGust\": 8,\n          \"windSpeed\": 6.6\n        }\n      },\n      {\n        \"time\": \"2025-02-10T01:00:00Z\",\n        \"values\": {\n          \"cloudBase\": 0.3,\n          \"cloudCeiling\": 0.5,\n          \"cloudCover\": 100,\n          \"dewPoint\": -5,\n          \"evapotranspiration\": 0.022,\n          \"freezingRainIntensity\": 0,\n          \"hailProbability\": 36.2,\n          \"hailSize\": 4.52,\n          \"humidity\": 74,\n          \"iceAccumulation\": 0,\n          \"iceAccumulationLwe\": 0,\n          \"precipitationProbability\": 25,\n          \"pressureSeaLevel\": 1021,\n          \"pressureSurfaceLevel\": 1006,\n          \"rainAccumulation\": 0,\n          \"rainAccumulationLwe\": 0,\n          \"rainIntensity\": 0,\n          \"sleetAccumulation\": 0,\n          \"sleetAccumulationLwe\": 0,\n          \"sleetIntensity\": 0,\n          \"snowAccumulation\": 26.64,\n          \"snowAccumulationLwe\": 0.38,\n          \"snowDepth\": 0,\n          \"snowIntensity\": 2.66,\n          \"temperature\": -0.9,\n          \"temperatureApparent\": -7.5,\n          \"uvHealthConcern\": 0,\n          \"uvIndex\": 0,\n          \"visibility\": 7.01,\n          \"weatherCode\": 5101,\n          \"windDirection\": 248,\n          \"windGust\": 8,\n          \"windSpeed\": 7.9\n        }\n      },\n      {\n        \"time\": \"2025-02-10T02:00:00Z\",\n        \"values\": {\n          \"cloudBase\": 0.3,\n          \"cloudCeiling\": 0.6,\n          \"cloudCover\": 100,\n          \"dewPoint\": -5.3,\n          \"evapotranspiration\": 0.02,\n          \"freezingRainIntensity\": 0,\n          \"hailProbability\": 69.4,\n          \"hailSize\": 9.15,\n          \"humidity\": 72,\n          \"iceAccumulation\": 0,\n          \"iceAccumulationLwe\": 0,\n          \"precipitationProbability\": 25,\n          \"pressureSeaLevel\": 1022,\n          \"pressureSurfaceLevel\": 1006,\n          \"rainAccumulation\": 0,\n          \"rainAccumulationLwe\": 0,\n          \"rainIntensity\": 0,\n          \"sleetAccumulation\": 0,\n          \"sleetAccumulationLwe\": 0,\n          \"sleetIntensity\": 0,\n          \"snowAccumulation\": 3.81,\n          \"snowAccumulationLwe\": 0.36,\n          \"snowDepth\": 0,\n          \"snowIntensity\": 0.38,\n          \"temperature\": -0.9,\n          \"temperatureApparent\": -7.9,\n          \"uvHealthConcern\": 0,\n          \"uvIndex\": 0,\n          \"visibility\": 6.94,\n          \"weatherCode\": 5100,\n          \"windDirection\": 256,\n          \"windGust\": 10.6,\n          \"windSpeed\": 8.9\n        }\n      },\n      {\n        \"time\": \"2025-02-10T03:00:00Z\",\n        \"values\": {\n          \"cloudBase\": 0.3,\n          \"cloudCeiling\": 0.5,\n          \"cloudCover\": 100,\n          \"dewPoint\": -6,\n          \"evapotranspiration\": 0.022,\n          \"freezingRainIntensity\": 0,\n          \"hailProbability\": 49.1,\n          \"hailSize\": 4.7,\n          \"humidity\": 70,\n          \"iceAccumulation\": 0,\n          \"iceAccumulationLwe\": 0,\n          \"precipitationProbability\": 25,\n          \"pressureSeaLevel\": 1022,\n          \"pressureSurfaceLevel\": 1007,\n          \"rainAccumulation\": 0,\n          \"rainAccumulationLwe\": 0,\n          \"rainIntensity\": 0,\n          \"sleetAccumulation\": 0,\n          \"sleetAccumulationLwe\": 0,\n          \"sleetIntensity\": 0,\n          \"snowAccumulation\": 3.59,\n          \"snowAccumulationLwe\": 0,\n          \"snowDepth\": 0,\n          \"snowIntensity\": 0.36,\n          \"temperature\": -1,\n          \"temperatureApparent\": -8,\n          \"uvHealthConcern\": 0,\n          \"uvIndex\": 0,\n          \"visibility\": 6.94,\n          \"weatherCode\": 5100,\n          \"windDirection\": 256,\n          \"windGust\": 10.6,\n          \"windSpeed\": 8.9\n        }\n      },\n      {\n        \"time\": \"2025-02-10T04:00:00Z\",\n        \"values\": {\n          \"cloudBase\": 0.3,\n          \"cloudCeiling\": 0.5,\n          \"cloudCover\": 100,\n          \"dewPoint\": -6.6,\n          \"evapotranspiration\": 0.021,\n          \"freezingRainIntensity\": 0,\n          \"hailProbability\": 82.3,\n          \"hailSize\": 6.75,\n          \"humidity\": 70,\n          \"iceAccumulation\": 0,\n          \"iceAccumulationLwe\": 0,\n          \"precipitationProbability\": 0,\n          \"pressureSeaLevel\": 1023,\n          \"pressureSurfaceLevel\": 1008,\n          \"rainAccumulation\": 0,\n          \"rainAccumulationLwe\": 0,\n          \"rainIntensity\": 0,\n          \"sleetAccumulation\": 0,\n          \"sleetAccumulationLwe\": 0,\n          \"sleetIntensity\": 0,\n          \"snowAccumulation\": 0,\n          \"snowAccumulationLwe\": 0,\n          \"snowDepth\": 0,\n          \"snowIntensity\": 0,\n          \"temperature\": -1.5,\n          \"temperatureApparent\": -8.6,\n          \"uvHealthConcern\": 0,\n          \"uvIndex\": 0,\n          \"visibility\": 6.96,\n          \"weatherCode\": 1001,\n          \"windDirection\": 256,\n          \"windGust\": 10.6,\n          \"windSpeed\": 8.8\n        }\n      },\n      {\n        \"time\": \"2025-02-10T05:00:00Z\",\n        \"values\": {\n          \"cloudBase\": 0.3,\n          \"cloudCeiling\": 0.5,\n          \"cloudCover\": 100,\n          \"dewPoint\": -6.9,\n          \"evapotranspiration\": 0.019,\n          \"freezingRainIntensity\": 0,\n          \"hailProbability\": 52,\n          \"hailSize\": 8.84,\n          \"humidity\": 70,\n          \"iceAccumulation\": 0,\n          \"iceAccumulationLwe\": 0,\n          \"precipitationProbability\": 0,\n          \"pressureSeaLevel\": 1024,\n          \"pressureSurfaceLevel\": 1008,\n          \"rainAccumulation\": 0,\n          \"rainAccumulationLwe\": 0,\n          \"rainIntensity\": 0,\n          \"sleetAccumulation\": 0,\n          \"sleetAccumulationLwe\": 0,\n          \"sleetIntensity\": 0,\n          \"snowAccumulation\": 0,\n          \"snowAccumulationLwe\": 0.4,\n          \"snowDepth\": 0,\n          \"snowIntensity\": 0,\n          \"temperature\": -2.1,\n          \"temperatureApparent\": -9,\n          \"uvHealthConcern\": 0,\n          \"uvIndex\": 0,\n          \"visibility\": 6.97,\n          \"weatherCode\": 1001,\n          \"windDirection\": 248,\n          \"windGust\": 9.4,\n          \"windSpeed\": 7.9\n        }\n      },\n      {\n        \"time\": \"2025-02-10T06:00:00Z\",\n        \"values\": {\n          \"cloudBase\": 0.2,\n          \"cloudCeiling\": 0.5,\n          \"cloudCover\": 100,\n          \"dewPoint\": -7.8,\n          \"evapotranspiration\": 0.02,\n          \"freezingRainIntensity\": 0,\n          \"hailProbability\": 58.8,\n          \"hailSize\": 8.2,\n          \"humidity\": 70,\n          \"iceAccumulation\": 0,\n          \"iceAccumulationLwe\": 0,\n          \"precipitationProbability\": 25,\n          \"pressureSeaLevel\": 1024,\n          \"pressureSurfaceLevel\": 1008,\n          \"rainAccumulation\": 0,\n          \"rainAccumulationLwe\": 0,\n          \"rainIntensity\": 0,\n          \"sleetAccumulation\": 0,\n          \"sleetAccumulationLwe\": 0,\n          \"sleetIntensity\": 0,\n          \"snowAccumulation\": 3.98,\n          \"snowAccumulationLwe\": 0.36,\n          \"snowDepth\": 0,\n          \"snowIntensity\": 0.4,\n          \"temperature\": -2.7,\n          \"temperatureApparent\": -9.8,\n          \"uvHealthConcern\": 0,\n          \"uvIndex\": 0,\n          \"visibility\": 6.93,\n          \"weatherCode\": 5100,\n          \"windDirection\": 248,\n          \"windGust\": 9.4,\n          \"windSpeed\": 7.8\n        }\n      },\n      {\n        \"time\": \"2025-02-10T07:00:00Z\",\n        \"values\": {\n          \"cloudBase\": 0.3,\n          \"cloudCeiling\": 0.9,\n          \"cloudCover\": 86,\n          \"dewPoint\": -8.1,\n          \"evapotranspiration\": 0.019,\n          \"freezingRainIntensity\": 0,\n          \"hailProbability\": 69.2,\n          \"hailSize\": 6.61,\n          \"humidity\": 71,\n          \"iceAccumulation\": 0,\n          \"iceAccumulationLwe\": 0,\n          \"precipitationProbability\": 20,\n          \"pressureSeaLevel\": 1024,\n          \"pressureSurfaceLevel\": 1009,\n          \"rainAccumulation\": 0,\n          \"rainAccumulationLwe\": 0,\n          \"rainIntensity\": 0,\n          \"sleetAccumulation\": 0,\n          \"sleetAccumulationLwe\": 0,\n          \"sleetIntensity\": 0,\n          \"snowAccumulation\": 3.59,\n          \"snowAccumulationLwe\": 0,\n          \"snowDepth\": 0,\n          \"snowIntensity\": 0.36,\n          \"temperature\": -3.4,\n          \"temperatureApparent\": -10.7,\n          \"uvHealthConcern\": 0,\n          \"uvIndex\": 0,\n          \"visibility\": 7.28,\n          \"weatherCode\": 5100,\n          \"windDirection\": 248,\n          \"windGust\": 9.4,\n          \"windSpeed\": 7.9\n        }\n      },\n      {\n        \"time\": \"2025-02-10T08:00:00Z\",\n        \"values\": {\n          \"cloudBase\": 0.9,\n          \"cloudCeiling\": 1.1,\n          \"cloudCover\": 100,\n          \"dewPoint\": -8.6,\n          \"evapotranspiration\": 0.019,\n          \"freezingRainIntensity\": 0,\n          \"hailProbability\": 28.8,\n          \"hailSize\": 9.63,\n          \"humidity\": 70,\n          \"iceAccumulation\": 0,\n          \"iceAccumulationLwe\": 0,\n          \"precipitationProbability\": 0,\n          \"pressureSeaLevel\": 1024,\n          \"pressureSurfaceLevel\": 1009,\n          \"rainAccumulation\": 0,\n          \"rainAccumulationLwe\": 0,\n          \"rainIntensity\": 0,\n          \"sleetAccumulation\": 0,\n          \"sleetAccumulationLwe\": 0,\n          \"sleetIntensity\": 0,\n          \"snowAccumulation\": 0,\n          \"snowAccumulationLwe\": 0,\n          \"snowDepth\": 0,\n          \"snowIntensity\": 0,\n          \"temperature\": -3.8,\n          \"temperatureApparent\": -11.2,\n          \"uvHealthConcern\": 0,\n          \"uvIndex\": 0,\n          \"visibility\": 7.62,\n          \"weatherCode\": 1001,\n          \"windDirection\": 256,\n          \"windGust\": 9.4,\n          \"windSpeed\": 7.9\n        }\n      },\n      {\n        \"time\": \"2025-02-10T09:00:00Z\",\n        \"values\": {\n          \"cloudBase\": 0.7,\n          \"cloudCeiling\": 1.1,\n          \"cloudCover\": 100,\n          \"dewPoint\": -8.8,\n          \"evapotranspiration\": 0.02,\n          \"freezingRainIntensity\": 0,\n          \"hailProbability\": 70,\n          \"hailSize\": 5.21,\n          \"humidity\": 70,\n          \"iceAccumulation\": 0,\n          \"iceAccumulationLwe\": 0,\n          \"precipitationProbability\": 0,\n          \"pressureSeaLevel\": 1024,\n          \"pressureSurfaceLevel\": 1010,\n          \"rainAccumulation\": 0,\n          \"rainAccumulationLwe\": 0,\n          \"rainIntensity\": 0,\n          \"sleetAccumulation\": 0,\n          \"sleetAccumulationLwe\": 0,\n          \"sleetIntensity\": 0,\n          \"snowAccumulation\": 0,\n          \"snowAccumulationLwe\": 0,\n          \"snowDepth\": 0,\n          \"snowIntensity\": 0,\n          \"temperature\": -4,\n          \"temperatureApparent\": -11.4,\n          \"uvHealthConcern\": 0,\n          \"uvIndex\": 0,\n          \"visibility\": 7.55,\n          \"weatherCode\": 1001,\n          \"windDirection\": 256,\n          \"windGust\": 9.3,\n          \"windSpeed\": 7.7\n        }\n      },\n      {\n        \"time\": \"2025-02-10T10:00:00Z\",\n        \"values\": {\n          \"cloudBase\": 0.2,\n          \"cloudCeiling\": 0.9,\n          \"cloudCover\": 100,\n          \"dewPoint\": -9.1,\n          \"evapotranspiration\": 0.016,\n          \"freezingRainIntensity\": 0,\n          \"hailProbability\": 64.8,\n          \"hailSize\": 6.55,\n          \"humidity\": 70,\n          \"iceAccumulation\": 0,\n          \"iceAccumulationLwe\": 0,\n          \"precipitationProbability\": 0,\n          \"pressureSeaLevel\": 1026,\n          \"pressureSurfaceLevel\": 1010,\n          \"rainAccumulation\": 0,\n          \"rainAccumulationLwe\": 0,\n          \"rainIntensity\": 0,\n          \"sleetAccumulation\": 0,\n          \"sleetAccumulationLwe\": 0,\n          \"sleetIntensity\": 0,\n          \"snowAccumulation\": 0,\n          \"snowAccumulationLwe\": 0.29,\n          \"snowDepth\": 0,\n          \"snowIntensity\": 0,\n          \"temperature\": -4.1,\n          \"temperatureApparent\": -11.2,\n          \"uvHealthConcern\": 0,\n          \"uvIndex\": 0,\n          \"visibility\": 7.33,\n          \"weatherCode\": 1001,\n          \"windDirection\": 256,\n          \"windGust\": 8.5,\n          \"windSpeed\": 7.1\n        }\n      },\n      {\n        \"time\": \"2025-02-10T11:00:00Z\",\n        \"values\": {\n          \"cloudBase\": 0.1,\n          \"cloudCeiling\": 0.8,\n          \"cloudCover\": 100,\n          \"dewPoint\": -9.1,\n          \"evapotranspiration\": 0.015,\n          \"freezingRainIntensity\": 0,\n          \"hailProbability\": 52.8,\n          \"hailSize\": 7.53,\n          \"humidity\": 72,\n          \"iceAccumulation\": 0,\n          \"iceAccumulationLwe\": 0,\n          \"precipitationProbability\": 20,\n          \"pressureSeaLevel\": 1026,\n          \"pressureSurfaceLevel\": 1011,\n          \"rainAccumulation\": 0,\n          \"rainAccumulationLwe\": 0,\n          \"rainIntensity\": 0,\n          \"sleetAccumulation\": 0,\n          \"sleetAccumulationLwe\": 0,\n          \"sleetIntensity\": 0,\n          \"snowAccumulation\": 2.88,\n          \"snowAccumulationLwe\": 0,\n          \"snowDepth\": 0,\n          \"snowIntensity\": 0.29,\n          \"temperature\": -4.5,\n          \"temperatureApparent\": -11.4,\n          \"uvHealthConcern\": 0,\n          \"uvIndex\": 0,\n          \"visibility\": 7.23,\n          \"weatherCode\": 5100,\n          \"windDirection\": 256,\n          \"windGust\": 7.6,\n          \"windSpeed\": 6.4\n        }\n      },\n      {\n        \"time\": \"2025-02-10T12:00:00Z\",\n        \"values\": {\n          \"cloudBase\": 0.1,\n          \"cloudCeiling\": 0.3,\n          \"cloudCover\": 100,\n          \"dewPoint\": -9.1,\n          \"evapotranspiration\": 0.015,\n          \"freezingRainIntensity\": 0,\n          \"hailProbability\": 99.6,\n          \"hailSize\": 8.49,\n          \"humidity\": 72,\n          \"iceAccumulation\": 0,\n          \"iceAccumulationLwe\": 0,\n          \"precipitationProbability\": 0,\n          \"pressureSeaLevel\": 1028,\n          \"pressureSurfaceLevel\": 1012,\n          \"rainAccumulation\": 0,\n          \"rainAccumulationLwe\": 0,\n          \"rainIntensity\": 0,\n          \"sleetAccumulation\": 0,\n          \"sleetAccumulationLwe\": 0,\n          \"sleetIntensity\": 0,\n          \"snowAccumulation\": 0,\n          \"snowAccumulationLwe\": 0,\n          \"snowDepth\": 0,\n          \"snowIntensity\": 0,\n          \"temperature\": -4.6,\n          \"temperatureApparent\": -11,\n          \"uvHealthConcern\": 0,\n          \"uvIndex\": 0,\n          \"visibility\": 7.08,\n          \"weatherCode\": 1001,\n          \"windDirection\": 256,\n          \"windGust\": 6.5,\n          \"windSpeed\": 5.4\n        }\n      },\n      {\n        \"time\": \"2025-02-10T13:00:00Z\",\n        \"values\": {\n          \"cloudBase\": 0.1,\n          \"cloudCeiling\": 0.2,\n          \"cloudCover\": 100,\n          \"dewPoint\": -9.1,\n          \"evapotranspiration\": 0.014,\n          \"freezingRainIntensity\": 0,\n          \"hailProbability\": 59.5,\n          \"hailSize\": 0.18,\n          \"humidity\": 72,\n          \"iceAccumulation\": 0,\n          \"iceAccumulationLwe\": 0,\n          \"precipitationProbability\": 0,\n          \"pressureSeaLevel\": 1028,\n          \"pressureSurfaceLevel\": 1012,\n          \"rainAccumulation\": 0,\n          \"rainAccumulationLwe\": 0,\n          \"rainIntensity\": 0,\n          \"sleetAccumulation\": 0,\n          \"sleetAccumulationLwe\": 0,\n          \"sleetIntensity\": 0,\n          \"snowAccumulation\": 0,\n          \"snowAccumulationLwe\": 0,\n          \"snowDepth\": 0,\n          \"snowIntensity\": 0,\n          \"temperature\": -4.6,\n          \"temperatureApparent\": -10.3,\n          \"uvHealthConcern\": 0,\n          \"uvIndex\": 0,\n          \"visibility\": 7.01,\n          \"weatherCode\": 1001,\n          \"windDirection\": 256,\n          \"windGust\": 4.5,\n          \"windSpeed\": 4.4\n        }\n      },\n      {\n        \"time\": \"2025-02-10T14:00:00Z\",\n        \"values\": {\n          \"cloudBase\": 0.2,\n          \"cloudCeiling\": 0.3,\n          \"cloudCover\": 100,\n          \"dewPoint\": -9.1,\n          \"evapotranspiration\": 0.017,\n          \"freezingRainIntensity\": 0,\n          \"hailProbability\": 6.2,\n          \"hailSize\": 9.14,\n          \"humidity\": 71,\n          \"iceAccumulation\": 0,\n          \"iceAccumulationLwe\": 0,\n          \"precipitationProbability\": 0,\n          \"pressureSeaLevel\": 1028,\n          \"pressureSurfaceLevel\": 1013,\n          \"rainAccumulation\": 0,\n          \"rainAccumulationLwe\": 0,\n          \"rainIntensity\": 0,\n          \"sleetAccumulation\": 0,\n          \"sleetAccumulationLwe\": 0,\n          \"sleetIntensity\": 0,\n          \"snowAccumulation\": 0,\n          \"snowAccumulationLwe\": 0,\n          \"snowDepth\": 0,\n          \"snowIntensity\": 0,\n          \"temperature\": -4.6,\n          \"temperatureApparent\": -9.7,\n          \"uvHealthConcern\": 0,\n          \"uvIndex\": 0,\n          \"visibility\": 7.03,\n          \"weatherCode\": 1001,\n          \"windDirection\": 271,\n          \"windGust\": 6,\n          \"windSpeed\": 3.7\n        }\n      },\n      {\n        \"time\": \"2025-02-10T15:00:00Z\",\n        \"values\": {\n          \"cloudBase\": 0.3,\n          \"cloudCeiling\": 0.5,\n          \"cloudCover\": 85,\n          \"dewPoint\": -9.3,\n          \"evapotranspiration\": 0.02,\n          \"freezingRainIntensity\": 0,\n          \"hailProbability\": 27,\n          \"hailSize\": 7.58,\n          \"humidity\": 70,\n          \"iceAccumulation\": 0,\n          \"iceAccumulationLwe\": 0,\n          \"precipitationProbability\": 0,\n          \"pressureSeaLevel\": 1028,\n          \"pressureSurfaceLevel\": 1013,\n          \"rainAccumulation\": 0,\n          \"rainAccumulationLwe\": 0,\n          \"rainIntensity\": 0,\n          \"sleetAccumulation\": 0,\n          \"sleetAccumulationLwe\": 0,\n          \"sleetIntensity\": 0,\n          \"snowAccumulation\": 0,\n          \"snowAccumulationLwe\": 0,\n          \"snowDepth\": 0,\n          \"snowIntensity\": 0,\n          \"temperature\": -4.3,\n          \"temperatureApparent\": -8.9,\n          \"uvHealthConcern\": 0,\n          \"uvIndex\": 1,\n          \"visibility\": 7.1,\n          \"weatherCode\": 1001,\n          \"windDirection\": 271,\n          \"windGust\": 7.5,\n          \"windSpeed\": 3.1\n        }\n      },\n      {\n        \"time\": \"2025-02-10T16:00:00Z\",\n        \"values\": {\n          \"cloudBase\": 0.2,\n          \"cloudCeiling\": 0.4,\n          \"cloudCover\": 100,\n          \"dewPoint\": -9.3,\n          \"evapotranspiration\": 0.022,\n          \"freezingRainIntensity\": 0,\n          \"hailProbability\": 54.9,\n          \"hailSize\": 3.48,\n          \"humidity\": 68,\n          \"iceAccumulation\": 0,\n          \"iceAccumulationLwe\": 0,\n          \"precipitationProbability\": 0,\n          \"pressureSeaLevel\": 1028,\n          \"pressureSurfaceLevel\": 1013,\n          \"rainAccumulation\": 0,\n          \"rainAccumulationLwe\": 0,\n          \"rainIntensity\": 0,\n          \"sleetAccumulation\": 0,\n          \"sleetAccumulationLwe\": 0,\n          \"sleetIntensity\": 0,\n          \"snowAccumulation\": 0,\n          \"snowAccumulationLwe\": 0,\n          \"snowDepth\": 0,\n          \"snowIntensity\": 0,\n          \"temperature\": -4.2,\n          \"temperatureApparent\": -8.5,\n          \"uvHealthConcern\": 0,\n          \"uvIndex\": 1,\n          \"visibility\": 7.09,\n          \"weatherCode\": 1001,\n          \"windDirection\": 271,\n          \"windGust\": 8,\n          \"windSpeed\": 3\n        }\n      },\n      {\n        \"time\": \"2025-02-10T17:00:00Z\",\n        \"values\": {\n          \"cloudBase\": 0.3,\n          \"cloudCeiling\": 0.5,\n          \"cloudCover\": 84,\n          \"dewPoint\": -8.8,\n          \"evapotranspiration\": 0.024,\n          \"freezingRainIntensity\": 0,\n          \"hailProbability\": 24.5,\n          \"hailSize\": 6.96,\n          \"humidity\": 68,\n          \"iceAccumulation\": 0,\n          \"iceAccumulationLwe\": 0,\n          \"precipitationProbability\": 0,\n          \"pressureSeaLevel\": 1028,\n          \"pressureSurfaceLevel\": 1012,\n          \"rainAccumulation\": 0,\n          \"rainAccumulationLwe\": 0,\n          \"rainIntensity\": 0,\n          \"sleetAccumulation\": 0,\n          \"sleetAccumulationLwe\": 0,\n          \"sleetIntensity\": 0,\n          \"snowAccumulation\": 0,\n          \"snowAccumulationLwe\": 0,\n          \"snowDepth\": 0,\n          \"snowIntensity\": 0,\n          \"temperature\": -3.7,\n          \"temperatureApparent\": -8.2,\n          \"uvHealthConcern\": 0,\n          \"uvIndex\": 1,\n          \"visibility\": 7.12,\n          \"weatherCode\": 1001,\n          \"windDirection\": 256,\n          \"windGust\": 9,\n          \"windSpeed\": 3.3\n        }\n      },\n      {\n        \"time\": \"2025-02-10T18:00:00Z\",\n        \"values\": {\n          \"cloudBase\": 0.4,\n          \"cloudCeiling\": 0.6,\n          \"cloudCover\": 83,\n          \"dewPoint\": -8.3,\n          \"evapotranspiration\": 0.027,\n          \"freezingRainIntensity\": 0,\n          \"hailProbability\": 5.5,\n          \"hailSize\": 1.21,\n          \"humidity\": 68,\n          \"iceAccumulation\": 0,\n          \"iceAccumulationLwe\": 0,\n          \"precipitationProbability\": 0,\n          \"pressureSeaLevel\": 1028,\n          \"pressureSurfaceLevel\": 1012,\n          \"rainAccumulation\": 0,\n          \"rainAccumulationLwe\": 0,\n          \"rainIntensity\": 0,\n          \"sleetAccumulation\": 0,\n          \"sleetAccumulationLwe\": 0,\n          \"sleetIntensity\": 0,\n          \"snowAccumulation\": 0,\n          \"snowAccumulationLwe\": 0.36,\n          \"snowDepth\": 0,\n          \"snowIntensity\": 0,\n          \"temperature\": -3.2,\n          \"temperatureApparent\": -8,\n          \"uvHealthConcern\": 0,\n          \"uvIndex\": 2,\n          \"visibility\": 7.13,\n          \"weatherCode\": 1001,\n          \"windDirection\": 256,\n          \"windGust\": 8,\n          \"windSpeed\": 3.7\n        }\n      },\n      {\n        \"time\": \"2025-02-10T19:00:00Z\",\n        \"values\": {\n          \"cloudBase\": 0.4,\n          \"cloudCeiling\": 0.6,\n          \"cloudCover\": 84,\n          \"dewPoint\": -8,\n          \"
[...]
