{
  "openapi": "3.0.3",
  "info": {
    "title": "Termly API",
    "version": "1.0.0",
    "description": "Termly consent management API for managing banners, cookies, websites, scans, and cookie policies",
    "x-jentic-source-url": "https://docs.termly.io/",
    "contact": {
      "name": "API Support"
    }
  },
  "servers": [
    {
      "url": "https://api.termly.io/v1"
    }
  ],
  "paths": {
    "/websites/banners": {
      "get": {
        "operationId": "getBanners",
        "summary": "Get banners",
        "tags": [
          "Banners"
        ],
        "parameters": [
          {
            "name": "query",
            "in": "query",
            "description": "URL-encoded JSON query",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BannersResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "description": "Get banners"
      },
      "put": {
        "operationId": "updateBanners",
        "summary": "Update banners",
        "tags": [
          "Banners"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/BannerUpdateRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BannersResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "description": "Update banners"
      }
    },
    "/websites/collaborators": {
      "get": {
        "operationId": "getCollaborators",
        "summary": "Get collaborators",
        "tags": [
          "Collaborators"
        ],
        "parameters": [
          {
            "name": "query",
            "in": "query",
            "description": "URL-encoded JSON query",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CollaboratorsResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "description": "Get collaborators"
      },
      "post": {
        "operationId": "createCollaborator",
        "summary": "Create collaborator",
        "tags": [
          "Collaborators"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CollaboratorCreateRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CollaboratorResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "description": "Create collaborator"
      },
      "delete": {
        "operationId": "deleteCollaborator",
        "summary": "Delete collaborator",
        "tags": [
          "Collaborators"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CollaboratorDeleteRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Deleted"
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "description": "Delete collaborator"
      }
    },
    "/websites/cookies": {
      "get": {
        "operationId": "getCookies",
        "summary": "Get cookies",
        "tags": [
          "Cookies"
        ],
        "parameters": [
          {
            "name": "query",
            "in": "query",
            "description": "URL-encoded JSON query",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CookiesResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "description": "Get cookies"
      }
    },
    "/websites/custom-consent-themes": {
      "get": {
        "operationId": "getCustomConsentThemes",
        "summary": "Get custom consent themes",
        "tags": [
          "Custom Consent Themes"
        ],
        "parameters": [
          {
            "name": "query",
            "in": "query",
            "description": "URL-encoded JSON query",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CustomConsentThemesResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "description": "Get custom consent themes"
      },
      "put": {
        "operationId": "updateCustomConsentThemes",
        "summary": "Update custom consent themes",
        "tags": [
          "Custom Consent Themes"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CustomConsentThemeUpdateRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CustomConsentThemesResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "description": "Update custom consent themes"
      },
      "post": {
        "operationId": "createCustomConsentTheme",
        "summary": "Create custom consent theme",
        "tags": [
          "Custom Consent Themes"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CustomConsentThemeCreateRequest"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CustomConsentThemeResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "description": "Create custom consent theme"
      }
    },
    "/websites/documents/preview": {
      "get": {
        "operationId": "previewDocument",
        "summary": "Preview a document",
        "tags": [
          "Documents"
        ],
        "parameters": [
          {
            "name": "query",
            "in": "query",
            "description": "URL-encoded JSON query",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DocumentPreviewResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "description": "Preview a document"
      }
    },
    "/websites/documents/cookie-policy/publish": {
      "put": {
        "operationId": "publishCookiePolicy",
        "summary": "Publish cookie policy",
        "tags": [
          "Documents"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/PublishCookiePolicyRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PublishCookiePolicyResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "description": "Publish cookie policy"
      }
    },
    "/websites/scan-reports": {
      "get": {
        "operationId": "getScanReports",
        "summary": "Get scan reports",
        "tags": [
          "Scans"
        ],
        "parameters": [
          {
            "name": "query",
            "in": "query",
            "description": "URL-encoded JSON query",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ScanReportsResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "description": "Get scan reports"
      }
    },
    "/websites/scans": {
      "post": {
        "operationId": "triggerScan",
        "summary": "Trigger a website scan",
        "tags": [
          "Scans"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/TriggerScanRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TriggerScanResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "description": "Trigger a website scan"
      }
    },
    "/websites": {
      "get": {
        "operationId": "getWebsites",
        "summary": "Get websites",
        "tags": [
          "Websites"
        ],
        "parameters": [
          {
            "name": "query",
            "in": "query",
            "description": "URL-encoded JSON query",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/WebsitesResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "description": "Get websites"
      }
    }
  },
  "components": {
    "schemas": {
      "ErrorResponse": {
        "type": "object",
        "properties": {
          "error": {
            "type": "string"
          },
          "message": {
            "type": "string"
          }
        }
      },
      "BannersResponse": {
        "type": "object",
        "properties": {
          "results": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Banner"
            }
          },
          "errors": {
            "type": "array",
            "items": {
              "type": "object"
            }
          },
          "paging": {
            "type": "object"
          }
        }
      },
      "Banner": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string"
          },
          "account_id": {
            "type": "string"
          },
          "website_id": {
            "type": "string"
          },
          "theme_id": {
            "type": "string"
          },
          "position": {
            "type": "string",
            "enum": [
              "bottom",
              "bottom_left",
              "bottom_right",
              "top",
              "top_left",
              "top_right"
            ]
          },
          "default_theme": {
            "type": "string",
            "enum": [
              "blue",
              "light",
              "green",
              "red",
              "black",
              "navy_blue"
            ]
          },
          "display_style": {
            "type": "string",
            "enum": [
              "stretch",
              "banner",
              "tooltip",
              "modal"
            ]
          },
          "size": {
            "type": "string",
            "enum": [
              "standard",
              "compact"
            ]
          },
          "personalized_content": {
            "type": "boolean"
          },
          "running_targeted_advertising": {
            "type": "boolean"
          },
          "share_data_to_3rd_party": {
            "type": "boolean"
          },
          "selected_languages": {
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "regions": {
            "type": "object"
          }
        }
      },
      "BannerUpdateRequest": {
        "type": "array",
        "items": {
          "type": "object",
          "properties": {
            "account_id": {
              "type": "string"
            },
            "id": {
              "type": "string"
            },
            "position": {
              "type": "string"
            },
            "display_style": {
              "type": "string"
            },
            "size": {
              "type": "string"
            }
          }
        }
      },
      "CollaboratorsResponse": {
        "type": "object",
        "properties": {
          "results": {
            "type": "array",
            "items": {
              "type": "object"
            }
          },
          "errors": {
            "type": "array",
            "items": {
              "type": "object"
            }
          },
          "paging": {
            "type": "object"
          }
        }
      },
      "CollaboratorResponse": {
        "type": "object",
        "properties": {
          "results": {
            "type": "array",
            "items": {
              "type": "object"
            }
          }
        }
      },
      "CollaboratorCreateRequest": {
        "type": "array",
        "items": {
          "type": "object",
          "properties": {
            "account_id": {
              "type": "string"
            },
            "email": {
              "type": "string"
            },
            "role": {
              "type": "string"
            }
          }
        }
      },
      "CollaboratorDeleteRequest": {
        "type": "array",
        "items": {
          "type": "object",
          "properties": {
            "account_id": {
              "type": "string"
            },
            "id": {
              "type": "string"
            }
          }
        }
      },
      "CookiesResponse": {
        "type": "object",
        "properties": {
          "results": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Cookie"
            }
          },
          "errors": {
            "type": "array",
            "items": {
              "type": "object"
            }
          },
          "paging": {
            "type": "object"
          }
        }
      },
      "Cookie": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string"
          },
          "account_id": {
            "type": "string"
          },
          "website_id": {
            "type": "string"
          },
          "name": {
            "type": "string"
          },
          "domain": {
            "type": "string"
          },
          "category": {
            "type": "string",
            "enum": [
              "unclassified",
              "essential",
              "performance",
              "analytics",
              "advertising",
              "social_networking"
            ]
          },
          "tracker_type": {
            "type": "string",
            "enum": [
              "http_cookie",
              "html_local_storage",
              "html_session_storage",
              "server_cookie",
              "pixel_tracker",
              "indexed_db"
            ]
          },
          "lifetime": {
            "type": "string"
          },
          "country": {
            "type": "string"
          },
          "en_us": {
            "type": "string"
          },
          "new": {
            "type": "boolean"
          },
          "party_provider_type": {
            "type": "string"
          },
          "service": {
            "type": "string"
          },
          "url": {
            "type": "string"
          },
          "value": {
            "type": "string"
          }
        }
      },
      "CustomConsentThemesResponse": {
        "type": "object",
        "properties": {
          "results": {
            "type": "array",
            "items": {
              "type": "object"
            }
          },
          "errors": {
            "type": "array",
            "items": {
              "type": "object"
            }
          }
        }
      },
      "CustomConsentThemeResponse": {
        "type": "object",
        "properties": {
          "results": {
            "type": "array",
            "items": {
              "type": "object"
            }
          }
        }
      },
      "CustomConsentThemeUpdateRequest": {
        "type": "array",
        "items": {
          "type": "object"
        }
      },
      "CustomConsentThemeCreateRequest": {
        "type": "array",
        "items": {
          "type": "object"
        }
      },
      "DocumentPreviewResponse": {
        "type": "object",
        "properties": {
          "results": {
            "type": "array",
            "items": {
              "type": "object"
            }
          }
        }
      },
      "PublishCookiePolicyRequest": {
        "type": "array",
        "items": {
          "type": "object",
          "properties": {
            "account_id": {
              "type": "string"
            },
            "website_id": {
              "type": "string"
            }
          }
        }
      },
      "PublishCookiePolicyResponse": {
        "type": "object",
        "properties": {
          "results": {
            "type": "array",
            "items": {
              "type": "object"
            }
          }
        }
      },
      "ScanReportsResponse": {
        "type": "object",
        "properties": {
          "results": {
            "type": "array",
            "items": {
              "type": "object"
            }
          },
          "errors": {
            "type": "array",
            "items": {
              "type": "object"
            }
          },
          "paging": {
            "type": "object"
          }
        }
      },
      "TriggerScanRequest": {
        "type": "array",
        "items": {
          "type": "object",
          "properties": {
            "account_id": {
              "type": "string"
            },
            "website_id": {
              "type": "string"
            }
          }
        }
      },
      "TriggerScanResponse": {
        "type": "object",
        "properties": {
          "results": {
            "type": "array",
            "items": {
              "type": "object"
            }
          }
        }
      },
      "WebsitesResponse": {
        "type": "object",
        "properties": {
          "results": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Website"
            }
          },
          "errors": {
            "type": "array",
            "items": {
              "type": "object"
            }
          },
          "paging": {
            "type": "object"
          }
        }
      },
      "Website": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string"
          },
          "account_id": {
            "type": "string"
          },
          "name": {
            "type": "string"
          },
          "url": {
            "type": "string"
          },
          "page_views": {
            "type": "integer"
          },
          "scan_period": {
            "type": "string",
            "enum": [
              "disabled",
              "weekly",
              "monthly",
              "trimonthly"
            ]
          },
          "cookie_count": {
            "type": "integer"
          },
          "unclassified_cookie_count": {
            "type": "integer"
          },
          "consent_count": {
            "type": "integer"
          },
          "api_key": {
            "type": "string"
          },
          "company": {
            "type": "object",
            "properties": {
              "legal_name": {
                "type": "string"
              },
              "email": {
                "type": "string"
              },
              "phone": {
                "type": "string"
              },
              "address": {
                "type": "string"
              },
              "city": {
                "type": "string"
              },
              "state": {
                "type": "string"
              },
              "country": {
                "type": "string"
              },
              "zip": {
                "type": "string"
              }
            }
          },
          "code_snippet": {
            "type": "object",
            "properties": {
              "banner": {
                "type": "string"
              },
              "cookie_preference_button": {
                "type": "string"
              }
            }
          },
          "report": {
            "type": "object",
            "properties": {
              "id": {
                "type": "string"
              },
              "created_at": {
                "type": "string"
              }
            }
          }
        }
      }
    },
    "securitySchemes": {
      "ApiKeyAuth": {
        "type": "apiKey",
        "in": "header",
        "name": "Authorization"
      }
    }
  },
  "security": [
    {
      "ApiKeyAuth": []
    }
  ],
  "tags": [
    {
      "name": "Banners"
    },
    {
      "name": "Collaborators"
    },
    {
      "name": "Cookies"
    },
    {
      "name": "Custom Consent Themes"
    },
    {
      "name": "Documents"
    },
    {
      "name": "Scans"
    },
    {
      "name": "Websites"
    }
  ]
}
