{
  "openapi": "3.0.3",
  "info": {
    "title": "Botpress Chat API",
    "description": "API for the Botpress Chat Integration. Allows creating and managing users, conversations, and messages for Botpress chatbots.",
    "version": "0.0.1",
    "x-jentic-source-url": "https://botpress.com/docs/api-reference/chat-api",
    "contact": {
      "name": "API Support"
    }
  },
  "servers": [
    {
      "url": "https://chat.botpress.cloud/{webhookUrl}",
      "variables": {
        "webhookUrl": {
          "default": "your_default_webhook_url",
          "description": "The webhook URL for your Botpress bot"
        }
      }
    }
  ],
  "security": [],
  "tags": [
    {
      "name": "Users",
      "description": "User management endpoints"
    },
    {
      "name": "Conversations",
      "description": "Conversation management endpoints"
    },
    {
      "name": "Messages",
      "description": "Message management endpoints"
    }
  ],
  "paths": {
    "/users": {
      "post": {
        "tags": [
          "Users"
        ],
        "summary": "Create User",
        "description": "Creates a new User object.",
        "operationId": "createUser",
        "parameters": [
          {
            "name": "x-user-key",
            "in": "header",
            "description": "Authentication Key",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateUserRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Returns the created User object",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "user"
                  ],
                  "properties": {
                    "user": {
                      "$ref": "#/components/schemas/User"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/users/me": {
      "get": {
        "tags": [
          "Users"
        ],
        "summary": "Get User",
        "description": "Retrieves the User object for a valid identifier.",
        "operationId": "getUser",
        "parameters": [
          {
            "name": "x-user-key",
            "in": "header",
            "description": "Authentication Key",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Returns a User object if a valid identifier was provided",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "user"
                  ],
                  "properties": {
                    "user": {
                      "$ref": "#/components/schemas/User"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      },
      "delete": {
        "tags": [
          "Users"
        ],
        "summary": "Delete User",
        "description": "Permanently deletes a User. It cannot be undone.",
        "operationId": "deleteUser",
        "parameters": [
          {
            "name": "x-user-key",
            "in": "header",
            "description": "Authentication Key",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Returns the User object that was deleted",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/conversations": {
      "get": {
        "tags": [
          "Conversations"
        ],
        "summary": "List Conversations",
        "description": "Returns a list of Conversation objects.",
        "operationId": "listConversations",
        "parameters": [
          {
            "name": "x-user-key",
            "in": "header",
            "description": "Authentication Key",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "nextToken",
            "in": "query",
            "description": "Provide the meta.nextToken value provided in the last API response to retrieve the next page of results",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Returns a list of Conversation objects",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ListConversationsResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      },
      "post": {
        "tags": [
          "Conversations"
        ],
        "summary": "Create Conversation",
        "description": "Creates a new Conversation object.",
        "operationId": "createConversation",
        "parameters": [
          {
            "name": "x-user-key",
            "in": "header",
            "description": "Authentication Key",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Returns the created Conversation object",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "conversation"
                  ],
                  "properties": {
                    "conversation": {
                      "$ref": "#/components/schemas/Conversation"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/conversations/{id}": {
      "get": {
        "tags": [
          "Conversations"
        ],
        "summary": "Get Conversation",
        "description": "Retrieves the Conversation object for a valid identifier.",
        "operationId": "getConversation",
        "parameters": [
          {
            "name": "x-user-key",
            "in": "header",
            "description": "Authentication Key",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "id",
            "in": "path",
            "description": "Conversation id",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Returns a Conversation object if a valid identifier was provided",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "conversation"
                  ],
                  "properties": {
                    "conversation": {
                      "$ref": "#/components/schemas/Conversation"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      },
      "delete": {
        "tags": [
          "Conversations"
        ],
        "summary": "Delete Conversation",
        "description": "Permanently deletes a Conversation. It cannot be undone. Also immediately deletes corresponding Messages.",
        "operationId": "deleteConversation",
        "parameters": [
          {
            "name": "x-user-key",
            "in": "header",
            "description": "Authentication Key",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "id",
            "in": "path",
            "description": "Conversation id",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Returns the Conversation object that was deleted",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/conversations/{conversationId}/messages": {
      "get": {
        "tags": [
          "Messages"
        ],
        "summary": "List Messages",
        "description": "Retrieves the conversation's Messages.",
        "operationId": "listMessages",
        "parameters": [
          {
            "name": "x-user-key",
            "in": "header",
            "description": "Authentication Key",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "conversationId",
            "in": "path",
            "description": "Conversation id",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "nextToken",
            "in": "query",
            "description": "Provide the meta.nextToken value provided in the last API response to retrieve the next page of results",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Returns a list of Message objects",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ListMessagesResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      },
      "post": {
        "tags": [
          "Messages"
        ],
        "summary": "Create Message",
        "description": "Creates a new Message object in a conversation.",
        "operationId": "createMessage",
        "parameters": [
          {
            "name": "x-user-key",
            "in": "header",
            "description": "Authentication Key",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "conversationId",
            "in": "path",
            "description": "Conversation id",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateMessageRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Returns the created Message object",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "message"
                  ],
                  "properties": {
                    "message": {
                      "$ref": "#/components/schemas/Message"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/messages/{id}": {
      "get": {
        "tags": [
          "Messages"
        ],
        "summary": "Get Message",
        "description": "Retrieves the Message object for a valid identifier.",
        "operationId": "getMessage",
        "parameters": [
          {
            "name": "x-user-key",
            "in": "header",
            "description": "Authentication Key",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "id",
            "in": "path",
            "description": "ID of the Message",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Returns a Message object if a valid identifier was provided",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "message"
                  ],
                  "properties": {
                    "message": {
                      "$ref": "#/components/schemas/Message"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      },
      "delete": {
        "tags": [
          "Messages"
        ],
        "summary": "Delete Message",
        "description": "Permanently deletes a Message. It cannot be undone.",
        "operationId": "deleteMessage",
        "parameters": [
          {
            "name": "x-user-key",
            "in": "header",
            "description": "Authentication Key",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "id",
            "in": "path",
            "description": "Message id",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Returns the Message object that was deleted",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    }
  },
  "components": {
    "schemas": {
      "User": {
        "type": "object",
        "description": "The user object represents someone interacting with the bot within a specific integration. The same person interacting with a bot in slack and messenger will be represented with two different users.",
        "required": [
          "id",
          "createdAt",
          "updatedAt"
        ],
        "properties": {
          "id": {
            "type": "string",
            "description": "Identifier of the User"
          },
          "name": {
            "type": "string",
            "description": "Name of the User"
          },
          "pictureUrl": {
            "type": "string",
            "description": "Picture URL of the User"
          },
          "profile": {
            "type": "string",
            "description": "Custom profile data of the User encoded as a string"
          },
          "createdAt": {
            "type": "string",
            "format": "date-time",
            "description": "Creation date of the User in ISO 8601 format"
          },
          "updatedAt": {
            "type": "string",
            "format": "date-time",
            "description": "Updating date of the User in ISO 8601 format"
          }
        },
        "additionalProperties": false
      },
      "Conversation": {
        "type": "object",
        "required": [
          "id",
          "createdAt",
          "updatedAt"
        ],
        "properties": {
          "id": {
            "type": "string",
            "description": "Identifier of the Conversation"
          },
          "createdAt": {
            "type": "string",
            "format": "date-time",
            "description": "Creation date of the Conversation in ISO 8601 format"
          },
          "updatedAt": {
            "type": "string",
            "format": "date-time",
            "description": "Updating date of the Conversation in ISO 8601 format"
          }
        },
        "additionalProperties": false
      },
      "MessagePayload": {
        "description": "Payload is the content type of the message.",
        "oneOf": [
          {
            "type": "object",
            "required": [
              "text",
              "type"
            ],
            "properties": {
              "text": {
                "type": "string",
                "minLength": 1
              },
              "type": {
                "type": "string",
                "enum": [
                  "text"
                ]
              }
            }
          },
          {
            "type": "object",
            "required": [
              "markdown",
              "type"
            ],
            "properties": {
              "markdown": {
                "type": "string",
                "minLength": 1
              },
              "type": {
                "type": "string",
                "enum": [
                  "markdown"
                ]
              }
            }
          },
          {
            "type": "object",
            "required": [
              "imageUrl",
              "type"
            ],
            "properties": {
              "imageUrl": {
                "type": "string",
                "minLength": 1
              },
              "type": {
                "type": "string",
                "enum": [
                  "image"
                ]
              }
            }
          },
          {
            "type": "object",
            "required": [
              "audioUrl",
              "type"
            ],
            "properties": {
              "audioUrl": {
                "type": "string",
                "minLength": 1
              },
              "type": {
                "type": "string",
                "enum": [
                  "audio"
                ]
              }
            }
          },
          {
            "type": "object",
            "required": [
              "videoUrl",
              "type"
            ],
            "properties": {
              "videoUrl": {
                "type": "string",
                "minLength": 1
              },
              "type": {
                "type": "string",
                "enum": [
                  "video"
                ]
              }
            }
          },
          {
            "type": "object",
            "required": [
              "fileUrl",
              "type"
            ],
            "properties": {
              "fileUrl": {
                "type": "string",
                "minLength": 1
              },
              "title": {
                "type": "string",
                "minLength": 1
              },
              "type": {
                "type": "string",
                "enum": [
                  "file"
                ]
              }
            }
          },
          {
            "type": "object",
            "required": [
              "latitude",
              "longitude",
              "type"
            ],
            "properties": {
              "latitude": {
                "type": "number"
              },
              "longitude": {
                "type": "number"
              },
              "address": {
                "type": "string"
              },
              "title": {
                "type": "string"
              },
              "type": {
                "type": "string",
                "enum": [
                  "location"
                ]
              }
            }
          },
          {
            "type": "object",
            "required": [
              "title",
              "actions",
              "type"
            ],
            "properties": {
              "title": {
                "type": "string",
                "minLength": 1
              },
              "subtitle": {
                "type": "string",
                "minLength": 1
              },
              "imageUrl": {
                "type": "string",
                "minLength": 1
              },
              "actions": {
                "type": "array",
                "items": {
                  "$ref": "#/components/schemas/CardAction"
                }
              },
              "type": {
                "type": "string",
                "enum": [
                  "card"
                ]
              }
            }
          },
          {
            "type": "object",
            "required": [
              "items",
              "type"
            ],
            "properties": {
              "items": {
                "type": "array",
                "items": {
                  "type": "object",
                  "required": [
                    "title",
                    "actions"
                  ],
                  "properties": {
                    "title": {
                      "type": "string",
                      "minLength": 1
                    },
                    "subtitle": {
                      "type": "string",
                      "minLength": 1
                    },
                    "imageUrl": {
                      "type": "string",
                      "minLength": 1
                    },
                    "actions": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/CardAction"
                      }
                    }
                  }
                }
              },
              "type": {
                "type": "string",
                "enum": [
                  "carousel"
                ]
              }
            }
          },
          {
            "type": "object",
            "required": [
              "text",
              "options",
              "type"
            ],
            "properties": {
              "text": {
                "type": "string",
                "minLength": 1
              },
              "options": {
                "type": "array",
                "items": {
                  "$ref": "#/components/schemas/Option"
                }
              },
              "type": {
                "type": "string",
                "enum": [
                  "choice"
                ]
              }
            }
          },
          {
            "type": "object",
            "required": [
              "text",
              "options",
              "type"
            ],
            "properties": {
              "text": {
                "type": "string",
                "minLength": 1
              },
              "options": {
                "type": "array",
                "items": {
                  "$ref": "#/components/schemas/Option"
                }
              },
              "type": {
                "type": "string",
                "enum": [
                  "dropdown"
                ]
              }
            }
          }
        ]
      },
      "CardAction": {
        "type": "object",
        "required": [
          "action",
          "label",
          "value"
        ],
        "properties": {
          "action": {
            "type": "string",
            "enum": [
              "postback",
              "url",
              "say"
            ]
          },
          "label": {
            "type": "string",
            "minLength": 1
          },
          "value": {
            "type": "string",
            "minLength": 1
          }
        }
      },
      "Option": {
        "type": "object",
        "required": [
          "label",
          "value"
        ],
        "properties": {
          "label": {
            "type": "string",
            "minLength": 1
          },
          "value": {
            "type": "string",
            "minLength": 1
          }
        }
      },
      "Message": {
        "type": "object",
        "description": "The Message object represents a message in a Conversation for a specific User.",
        "required": [
          "id",
          "createdAt",
          "payload",
          "userId",
          "conversationId"
        ],
        "properties": {
          "id": {
            "type": "string",
            "description": "Identifier of the Message"
          },
          "createdAt": {
            "type": "string",
            "format": "date-time",
            "description": "Creation date of the Message in ISO 8601 format"
          },
          "payload": {
            "$ref": "#/components/schemas/MessagePayload"
          },
          "userId": {
            "type": "string",
            "description": "ID of the User"
          },
          "conversationId": {
            "type": "string",
            "description": "ID of the Conversation"
          }
        },
        "additionalProperties": false
      },
      "CreateUserRequest": {
        "type": "object",
        "properties": {
          "name": {
            "type": "string",
            "description": "Name of the User"
          },
          "pictureUrl": {
            "type": "string",
            "description": "Picture URL of the User"
          },
          "profile": {
            "type": "string",
            "description": "Custom profile data encoded as a string"
          }
        }
      },
      "CreateMessageRequest": {
        "type": "object",
        "required": [
          "payload"
        ],
        "properties": {
          "payload": {
            "$ref": "#/components/schemas/MessagePayload"
          }
        }
      },
      "ListConversationsResponse": {
        "type": "object",
        "required": [
          "conversations",
          "meta"
        ],
        "properties": {
          "conversations": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Conversation"
            }
          },
          "meta": {
            "$ref": "#/components/schemas/PaginationMeta"
          }
        }
      },
      "ListMessagesResponse": {
        "type": "object",
        "required": [
          "messages",
          "meta"
        ],
        "properties": {
          "messages": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Message"
            }
          },
          "meta": {
            "$ref": "#/components/schemas/PaginationMeta"
          }
        }
      },
      "PaginationMeta": {
        "type": "object",
        "properties": {
          "nextToken": {
            "type": "string",
            "description": "The token to use to retrieve the next page of results, passed as a query string parameter (value should be URL-encoded) to this API endpoint."
          }
        },
        "additionalProperties": false
      },
      "ErrorResponse": {
        "type": "object",
        "properties": {
          "code": {
            "type": "string",
            "description": "Error code"
          },
          "message": {
            "type": "string",
            "description": "Error message"
          }
        }
      }
    }
  }
}
