{
  "openapi": "3.0.0",
  "info": {
    "title": "PaymentsPlatform  FinancialAccountService - v2 Azure",
    "description": "This API is only used by Payments Platform.  This API enables the following functions and it is protected by Azure\r\n&nbsp;\r\n<ul>\r\n\t<li>Create token for set of financial information</li>\r\n\t<li>Retrieve masked financial information associated with a specific token",
    "version": "v2",
    "x-jentic-source-url": "https://api.swaggerhub.com/apis/SKATTEKO_1/financialaccountservice/v2"
  },
  "servers": [
    {
      "url": "https://paymentmanager.amfam.com/finacctservice/services/azure/v2/finacct",
      "description": "Payments Platform Production Server"
    }
  ],
  "paths": {
    "/financialaccounts/{tokenId}": {
      "get": {
        "tags": [
          "GET /getfinancialaccounts/{tokenId}"
        ],
        "summary": "Get financials for the provided token",
        "description": "Provides ability to retrieve masked financial information for tokens that have yet to expire.",
        "parameters": [
          {
            "name": "AFI-AppName",
            "in": "header",
            "required": true,
            "description": "The name of the application that is accessing the resource",
            "schema": {
              "type": "string"
            },
            "example": "DigitalAcctMobile"
          },
          {
            "name": "Authorization",
            "in": "header",
            "required": true,
            "description": "<i>Token generated using Azure.  \r\n",
            "schema": {
              "type": "string"
            },
            "example": "Bearer eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJzdWIiOiIxMjM0NTY3ODkwIiwibmFtZSI6IkpvaG4gRG9lIiwiaWF0IjoxNTE2MjM5MDIyfQ.SflKxwRJSMeKKF2QT4fwpMeJf36POk6yJV_adQssw5c"
          },
          {
            "name": "tokenId",
            "in": "path",
            "required": true,
            "description": "Token generated by financial account service which identifies the set of financial information desired.\r\n",
            "schema": {
              "type": "string"
            },
            "example": "AC697E55-CFBB-9B09-1558-B810987304D7"
          },
          {
            "name": "consumerKey",
            "in": "query",
            "required": true,
            "description": "Character string uniquely associated to the purpose of the payment request within the client application.  Maximum length:  20 characters\r\n",
            "schema": {
              "type": "string"
            },
            "example": "2568856qt54"
          },
          {
            "name": "transactionId",
            "in": "query",
            "required": true,
            "description": "String that uniquely identifies this specific transaction.  Enabling traffic for this transaction to be traced through its various service calls.\r\n",
            "schema": {
              "type": "string"
            },
            "example": "AD42F4E2-2B0B-D498-8BD7-7F5B6840BCD7"
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetTokenDetailsResponse"
                }
              }
            }
          },
          "400": {
            "description": "400001 - One or more required attributes are missing from request.  Reasons include:\r\n<ul>\r\n\t<li>Financial token not provided</li>\r\n\t<li>Consumer key not provided </li>\r\n\t<li>Consumer's AppName not provided </li>\r\n</ul>\r\n\r\n\r\n400002 - One or more attributes failed to pass validation. Reasons include:\r\n<ul>\r\n\t<li>Token has invalid length or format</li>\r\n\t<li>Token has expired</li>\r\n\t<li>Consumer key or Transaction id has invalid length</li>\r\n\t<li>Application name is not recognized</li>\r\n</ul>",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/InvalidRequestStatus"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/UnauthorizedApiStatus"
                }
              }
            }
          },
          "404": {
            "description": "Financial account token matching search criteria was not found. This may occur if the token has expired, already been used, or if the consumer key provided doesn't match the one used to generate the token.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/NotFoundApiStatus"
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/InternalErrorApiStatus"
                }
              }
            }
          },
          "502": {
            "description": "Dependent Service Failure",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DependentServiceApiStatus"
                }
              }
            }
          }
        }
      }
    },
    "/financialaccounts": {
      "post": {
        "tags": [
          "Financial Accounts"
        ],
        "summary": "Create a new financial account token",
        "description": "Validates financial information provided and returns a one-time use token representing this information.The lifespan of this token correlates to its business purpose. For example, the token for MyAccount Enrollment is set to ten days to give the customer time to reply to an e-mail and set up their MyAccount. The generated token used by My Account to create/modify customer\u2019s payment account has a life span of one hour.",
        "parameters": [
          {
            "name": "Authorization",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string",
              "example": "Bearer eyJhbGciOiJIUzI1..."
            }
          },
          {
            "name": "AFI-AppName",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string",
              "example": "DigitalAcctMobile"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/FinancialAccountTokenRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Token Created Successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/FinancialAccountTokenResponse"
                }
              }
            }
          },
          "400": {
            "description": "400001 - Required attribute not provided in request. \r\n\r\n400002 - Attribute failed validation.  Specific causes can include:\r\n<ul>\r\n\t<li>Consumer key has invalid length</li>\r\n\t<li>Transaction id has invalid length</li>\r\n\t<li>Application name not recognized</li>\r\n\t<li>Bank account number invalid length or contains non-alphanumeric characters</li>\r\n\t<li>Routing number doesn't represent active bank</li>\r\n\t<li>Invalid account use </li>\r\n\t<li>Invalid account type</li>\r\n\t<li>Bank account failed validation</li>\r\n</ul>",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/InvalidRequestStatus"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/UnauthorizedApiStatus"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ForbiddenApiStatus"
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/InternalErrorApiStatus"
                }
              }
            }
          },
          "502": {
            "description": "Dependent Service Failure",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DependentServiceApiStatus"
                }
              }
            }
          }
        }
      }
    },
    "/ping": {
      "get": {
        "summary": "",
        "description": "Verifies service is available and able to access downstream services",
        "operationId": "ping",
        "parameters": [
          {
            "name": "Level",
            "in": "query",
            "description": "Indicates how deep of ping is needed.  For security reasons, this API only allows:\r\n&nbsp;\r\n<ul>\r\n\t<li>None</li>\r\n</ul>",
            "schema": {
              "type": "string"
            },
            "example": "None"
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SuccessfulPingStatus"
                }
              }
            }
          }
        }
      }
    }
  },
  "components": {
    "schemas": {
      "MaskedFinancialAccount": {
        "title": "MaskedFinancialAccount",
        "type": "object",
        "description": "High level entity representing a set of financial account information",
        "properties": {
          "bankAccount": {
            "$ref": "#/components/schemas/MaskedBankAccount"
          },
          "creditCard": {
            "$ref": "#/components/schemas/MaskedCreditCard"
          }
        }
      },
      "MaskedBankAccount": {
        "title": "MaskedBankAccount",
        "type": "object",
        "description": "High level information about bank account to be used for ACH withdrawal type",
        "required": [
          "accountNumber",
          "accountType",
          "accountUse",
          "financialInstitution"
        ],
        "properties": {
          "accountNumber": {
            "type": "string",
            "description": "Alphanumeric bank account number.  When included in response object, all but the last three digits will be masked from view.\r\n\r\nLength:  3-17 digits.",
            "maxItems": 1,
            "minItems": 1,
            "example": "********123"
          },
          "accountType": {
            "type": "string",
            "description": "Type of bank account.  Valid values include:\r\n&nbsp;\r\n<ul>\r\n\t<li><font color=\"#0f0f0f\">Checking</font></li>\r\n\t<li><font color=\"#0f0f0f\">Savings</font></li>\r\n</ul>",
            "maxItems": 1,
            "minItems": 1,
            "example": "Checking"
          },
          "accountUse": {
            "type": "string",
            "description": "How this bank account is used.  Valid values include:\r\n&nbsp;\r\n<ul>\r\n\t<li><font color=\"#0f0f0f\">Personal</font></li>\r\n\t<li><font color=\"#0f0f0f\">Business</font></li>\r\n</ul>",
            "maxItems": 1,
            "minItems": 1,
            "example": "Personal"
          },
          "financialInstitution": {
            "type": "string",
            "description": "Name of bank identified by routing number provided.  ",
            "maxItems": 1,
            "minItems": 1,
            "example": "Bank of America"
          }
        }
      },
      "MaskedCreditCard": {
        "title": "MaskedCreditCard",
        "type": "object",
        "description": "Encapsulates information representing a credit card.  As debit cards are currently processed as credit cards, this object will also used for debit cards for the foreseeable future.\r\n",
        "required": [
          "cardNumber",
          "cardType"
        ],
        "properties": {
          "cardNumber": {
            "type": "string",
            "description": "Debit or credit card number, returned in masked format with only the last four digits visible.",
            "maxItems": 1,
            "minItems": 1,
            "example": "****-****-****-1234"
          },
          "cardType": {
            "type": "string",
            "description": "Credit card network. Derived from card number. Valid values include:\r\n&nbsp;\r\n<ul>\r\n\t<li><font color=\"#0f0f0f\">VI  (Visa)</font></li>\r\n\t<li><font color=\"#0f0f0f\">MC (Mastercard)</font></li>\r\n\t<li><font color=\"#0f0f0f\">DI (Discover)</font></li>\r\n\t<li><font color=\"#0f0f0f\">AX (American Express)</font></li>\r\n</ul>",
            "maxItems": 1,
            "minItems": 1,
            "example": "VI"
          }
        }
      },
      "BankAccount": {
        "type": "object",
        "required": [
          "routingNumber",
          "accountNumber",
          "bankAccountType",
          "bankAccountUse"
        ],
        "properties": {
          "routingNumber": {
            "type": "string",
            "description": "Assigned by Federal Reserve.",
            "example": "011000015"
          },
          "accountNumber": {
            "type": "string",
            "pattern": "^[a-zA-Z0-9]{3,17}$",
            "description": "Alphanumeric bank account number (3-17 digits).",
            "example": "123456789"
          },
          "bankAccountType": {
            "type": "string",
            "enum": [
              "CHECKING",
              "SAVINGS"
            ],
            "example": "CHECKING"
          },
          "bankAccountUse": {
            "type": "string",
            "enum": [
              "PERSONAL",
              "BUSINESS"
            ],
            "example": "PERSONAL"
          }
        }
      },
      "GetTokenDetailsResponse": {
        "title": "GetTokenDetailsResponse",
        "type": "object",
        "description": "",
        "required": [
          "status",
          "consumerKey",
          "financialAcct"
        ],
        "properties": {
          "status": {
            "$ref": "#/components/schemas/SuccessfulStatus"
          },
          "consumerKey": {
            "type": "string",
            "description": "Character string uniquely associated to the purpose of the financial token within the client application. ",
            "maxItems": 1,
            "minItems": 1,
            "example": "2568856qt54"
          },
          "financialAcct": {
            "$ref": "#/components/schemas/MaskedFinancialAccount"
          }
        }
      },
      "FinancialAccountTokenRequest": {
        "type": "object",
        "required": [
          "consumerKey",
          "bankAccount",
          "userIdentification",
          "transactionId"
        ],
        "properties": {
          "consumerKey": {
            "type": "string",
            "description": "Character string uniquely associated to the purpose of the financial token."
          },
          "bankAccount": {
            "$ref": "#/components/schemas/BankAccount"
          },
          "userIdentification": {
            "$ref": "#/components/schemas/UserIdentification"
          },
          "transactionId": {
            "type": "string",
            "description": "Unique transaction identifier"
          }
        }
      },
      "FinancialAccountTokenResponse": {
        "type": "object",
        "properties": {
          "status": {
            "$ref": "#/components/schemas/SuccessfulStatus"
          },
          "consumerKey": {
            "type": "string"
          },
          "tokenId": {
            "type": "string"
          }
        }
      },
      "SuccessfulStatus": {
        "title": "SuccessfulStatus",
        "type": "object",
        "description": "Status structure to be included in each API response.",
        "required": [
          "code",
          "reason",
          "transactionId",
          "maxMessageLevel"
        ],
        "properties": {
          "code": {
            "type": "number",
            "description": "HTTPS Status Code indicating success ",
            "maxItems": 1,
            "minItems": 1,
            "example": "200"
          },
          "reason": {
            "type": "string",
            "description": "HTTP Status Reason.  \r\n",
            "maxItems": 1,
            "minItems": 1,
            "example": "OK"
          },
          "transactionId": {
            "type": "string",
            "description": "Unique transaction id provided by consumer.  Can be used to trace traffic for this specific request, potentially through multiple services.",
            "maxItems": 1,
            "minItems": 1,
            "example": "9fc6a637-35e0-444b-89d6-599355f42081"
          },
          "metrics": {
            "$ref": "#/components/schemas/ApiMetrics"
          },
          "maxMessageLevel": {
            "type": "string",
            "description": "Maximum level of API message types being returned.  Populated as follows:\r\n&nbsp;\r\n<ul>\r\n\t<li>ERROR - at least one error returned, could also include INFO and WARNING messages</li>\r\n\t<li>WARNING - no errors encountered, at least one WARNING. Could also include INFO messages.</li>\r\n\t<li>INFO - at least one informational message returned.  no errors or warnings encountered. </li>\r\n</ul>",
            "maxItems": 1,
            "minItems": 1,
            "example": "INFO"
          }
        }
      },
      "ApiMetrics": {
        "title": "ApiMetrics",
        "type": "object",
        "description": "Provides statistics that can be used to calculate duration of method call.",
        "required": [
          "acceptedOn",
          "returnedOn"
        ],
        "properties": {
          "acceptedOn": {
            "type": "string",
            "description": "Date/time request was received by service",
            "maxItems": 1,
            "minItems": 1,
            "example": "2023-01-31T14:39:44.706-0600"
          },
          "returnedOn": {
            "type": "string",
            "description": "Date/time response was returned by service, represented as MM-DD-YYYY HH:MM:SS.mmmmmm",
            "maxItems": 1,
            "minItems": 1,
            "example": "2023-01-31T14:39:44.706-0700"
          }
        }
      },
      "InvalidRequestStatus": {
        "title": "InvalidRequestStatus",
        "type": "object",
        "description": "",
        "required": [
          "code",
          "reason",
          "transactionId",
          "maxMessageLevel"
        ],
        "properties": {
          "code": {
            "type": "number",
            "description": "HTTP reason code",
            "maxItems": 1,
            "minItems": 1,
            "example": "400"
          },
          "reason": {
            "type": "string",
            "description": "HTTP Status Reason.  Example values are listed by their corresponding code as follows:\r\n200 \u2013 \u201cOk\u201d\r\n400 \u2013 \u201cBad Request\u201d\r\n401 \u2013 \u201cUnauthorized\u201d\r\n404 \u2013 \u201cNot found\u201d\r\n500 \u2013 \u201cServer Error\u201d",
            "maxItems": 1,
            "minItems": 1,
            "example": "Bad Request"
          },
          "transactionId": {
            "type": "string",
            "description": "Unique transaction id provided by consumer.  Can be used to trace traffic for this specific request, potentially through multiple services.",
            "maxItems": 1,
            "minItems": 1,
            "example": "5aa96fc4-50fa-4661-91f0-37e7c0e87415"
          },
          "metrics": {
            "$ref": "#/components/schemas/ApiMetrics"
          },
          "messages": {
            "$ref": "#/components/schemas/InvalidRequestApiMessage"
          },
          "maxMessageLevel": {
            "type": "string",
            "description": "Maximum level of API message types being returned.  Populated as follows:\r\n&nbsp;\r\n<ul>\r\n\t<li>ERROR - at least one error returned, could also include INFO and WARNING messages</li>\r\n\t<li>WARNING - no errors encountered, at least one WARNING. Could also include INFO messages.</li>\r\n\t<li>INFO - at least one informational message returned.  no errors or warnings encountered. </li>\r\n</ul>",
            "maxItems": 1,
            "minItems": 1,
            "example": "ERROR"
          }
        }
      },
      "InvalidRequestApiMessage": {
        "title": "InvalidRequestApiMessage",
        "type": "object",
        "description": "Provides high level information about errors, warnings, or informational messages returned.",
        "required": [
          "level",
          "description"
        ],
        "properties": {
          "code": {
            "type": "number",
            "description": "Numeric code uniquely identifying specific error.  Specific values include:\r\n&nbsp;\r\n<ul>\r\n\t<li>400001 - Request missing information</li>\r\n\t<li>400002 - Validation Error</li>\r\n\t<li>400003 - Inconsistent information provided</li>\r\n</ul>\r\n\r\nCode not included for informational messages",
            "maxItems": 1,
            "example": "400001"
          },
          "level": {
            "type": "string",
            "description": "Type of API error encountered.  Types include:\r\n&nbsp;\r\n<ul>\r\n\t<li>ERROR</li>\r\n\t<li>WARNING</li>\r\n\t<li>INFO</li>\r\n</ul>",
            "maxItems": 1,
            "minItems": 1,
            "example": "ERROR"
          },
          "description": {
            "type": "string",
            "description": "Explanation of specific error providing additional detail of the problem.",
            "maxItems": 1,
            "minItems": 1,
            "example": "Missing Attribute"
          },
          "details": {
            "$ref": "#/components/schemas/InvalidRequestApiMessageDetail"
          }
        }
      },
      "InvalidRequestApiMessageDetail": {
        "title": "InvalidRequestApiMessageDetail",
        "type": "object",
        "description": "Ties errors, warnings, or informational messages to specific fields in original request object",
        "required": [
          "field",
          "description"
        ],
        "properties": {
          "field": {
            "type": "string",
            "description": "JSON field directly associated with message.  Examples include:\r\n&nbsp;\r\n<ul>\r\n\t<li>AFI-AppName</li>\r\n\t<li>ConsumerKey</li>\r\n</ul>",
            "maxItems": 1,
            "minItems": 1,
            "example": "AFI-AppName"
          },
          "description": {
            "type": "string",
            "description": "Detailed information describing issue related to individual request field.  Examples include:\r\n&nbsp;\r\n<ul>\r\n\t<li>AFI-AppName</li>\r\n</ul>\r\n       -- Application not authorized \r\n       -- Application name not provided\r\n&nbsp;\r\n<ul>\r\n\t<li>Consumer Key</li>\r\n</ul>\r\n       -- Consumer key not provided\r\n       -- Consumer key too long\r\n&nbsp;\r\n<ul>\r\n\t<li>User ID</li>\r\n</ul>\r\n       -- Missing or invalid user id provided\r\n       -- User id not authorized",
            "maxItems": 1,
            "minItems": 1,
            "example": "Missing Attribute"
          }
        }
      },
      "UnauthorizedApiStatus": {
        "title": "UnauthorizedApiStatus",
        "type": "object",
        "description": "Status structure to be included in each Unauthorized API response.",
        "required": [
          "code",
          "reason",
          "transactionId",
          "maxMessageLevel"
        ],
        "properties": {
          "code": {
            "type": "number",
            "description": "HTTPS Status Code indicating failure. \r\n",
            "maxItems": 1,
            "minItems": 1,
            "example": "401"
          },
          "reason": {
            "type": "string",
            "description": "HTTP Status Reason.  ",
            "maxItems": 1,
            "minItems": 1,
            "example": "Unauthorized"
          },
          "transactionId": {
            "type": "string",
            "description": "Unique transaction id provided by consumer.  Can be used to trace traffic for this specific request, potentially through multiple services.",
            "maxItems": 1,
            "minItems": 1,
            "example": "ACE52474-9888-C4FF-D260-B02AC35596FE                            "
          },
          "metrics": {
            "$ref": "#/components/schemas/ApiMetrics"
          },
          "maxMessageLevel": {
            "type": "string",
            "description": "Maximum level of API message types being returned.  ",
            "maxItems": 1,
            "minItems": 1,
            "example": "ERROR"
          }
        }
      },
      "InternalErrorApiStatus": {
        "title": "InternalErrorApiStatus",
        "type": "object",
        "description": "",
        "required": [
          "code",
          "reason",
          "transactionId",
          "maxMessageLevel"
        ],
        "properties": {
          "code": {
            "type": "number",
            "description": "HTTP reason code indicating failure",
            "maxItems": 1,
            "minItems": 1,
            "example": "500"
          },
          "reason": {
            "type": "string",
            "description": "HTTP Status Reason.  Example values are listed by their corresponding code as follows:\r\n200 \u2013 \u201cOk\u201d\r\n400 \u2013 \u201cBad Request\u201d\r\n401 \u2013 \u201cUnauthorized\u201d\r\n404 \u2013 \u201cNot found\u201d\r\n500 \u2013 \u201cServer Error\u201d",
            "maxItems": 1,
            "minItems": 1,
            "example": "Internal Server Error"
          },
          "transactionId": {
            "type": "string",
            "description": "Unique transaction id provided by consumer.  Can be used to trace traffic for this specific request, potentially through multiple services.",
            "maxItems": 1,
            "minItems": 1,
            "example": "5aa96fc4-50fa-4661-91f0-37e7c0e87415"
          },
          "metrics": {
            "$ref": "#/components/schemas/ApiMetrics"
          },
          "messages": {
            "$ref": "#/components/schemas/InternalErrorApiMessage"
          },
          "maxMessageLevel": {
            "type": "string",
            "description": "Maximum level of API message types being returned.  ",
            "maxItems": 1,
            "minItems": 1,
            "example": "ERROR"
          }
        }
      },
      "InternalErrorApiMessage": {
        "title": "InternalErrorApiMessage",
        "type": "object",
        "description": "Provides high level information about errors, warnings, or informational messages returned.",
        "required": [
          "level",
          "description"
        ],
        "properties": {
          "code": {
            "type": "number",
            "description": "Numeric code uniquely identifying specific error. ",
            "maxItems": 1,
            "example": "500001"
          },
          "level": {
            "type": "string",
            "description": "Type of API error encountered.  Types include:\r\n&nbsp;\r\n<ul>\r\n\t<li>ERROR</li>\r\n\t<li>WARNING</li>\r\n\t<li>INFO</li>\r\n</ul>",
            "maxItems": 1,
            "minItems": 1,
            "example": "ERROR"
          },
          "description": {
            "type": "string",
            "description": "Explanation of specific error providing additional detail of the problem.",
            "maxItems": 1,
            "minItems": 1,
            "example": "Internal processing error occurred"
          }
        }
      },
      "DependentServiceApiStatus": {
        "title": "DependentServiceApiStatus",
        "type": "object",
        "description": "Status structure to be included in each API response.",
        "required": [
          "code",
          "reason",
          "transactionId",
          "maxMessageLevel"
        ],
        "properties": {
          "code": {
            "type": "number",
            "description": "HTTPS Status Code indicating failure. ",
            "maxItems": 1,
            "minItems": 1,
            "example": "502"
          },
          "reason": {
            "type": "string",
            "description": "HTTP Status Reason.  Example values are listed by their corresponding code as follows:\r\n200 \u2013 \u201cOk\u201d\r\n400 \u2013 \u201cBad Request\u201d\r\n401 \u2013 \u201cUnauthorized\u201d\r\n404 \u2013 \u201cNot found\u201d\r\n500 \u2013 \u201cServer Error\u201d",
            "maxItems": 1,
            "minItems": 1,
            "example": "Bad Gateway"
          },
          "transactionId": {
            "type": "string",
            "description": "Unique transaction id provided by consumer.  Can be used to trace traffic for this specific request, potentially through multiple services.",
            "maxItems": 1,
            "minItems": 1,
            "example": "9fc6a637-35e0-444b-89d6-599355f42081"
          },
          "metrics": {
            "$ref": "#/components/schemas/ApiMetrics"
          },
          "messages": {
            "$ref": "#/components/schemas/DependentServiceApiMessage"
          },
          "maxMessageLevel": {
            "type": "string",
            "description": "Maximum level of API message types being returned.  ",
            "maxItems": 1,
            "minItems": 1,
            "example": "ERROR"
          }
        }
      },
      "DependentServiceApiMessage": {
        "title": "DependentServiceApiMessage",
        "type": "object",
        "description": "Provides high level information about errors, warnings, or informational messages returned.",
        "required": [
          "level",
          "description"
        ],
        "properties": {
          "code": {
            "type": "number",
            "description": "Numeric code uniquely identifying specific error. ",
            "maxItems": 1,
            "example": "502001"
          },
          "level": {
            "type": "string",
            "description": "Type of API error encountered.  Types include:\r\n&nbsp;\r\n<ul>\r\n\t<li>ERROR</li>\r\n\t<li>WARNING</li>\r\n\t<li>INFO</li>\r\n</ul>",
            "maxItems": 1,
            "minItems": 1,
            "example": "ERROR"
          },
          "description": {
            "type": "string",
            "description": "Explanation of specific error providing additional detail of the problem.",
            "maxItems": 1,
            "minItems": 1,
            "example": "Dependent Service failure"
          }
        }
      },
      "NotFoundApiStatus": {
        "title": "NotFoundApiStatus",
        "type": "object",
        "description": "Status structure to be included in each Unauthorized API response.",
        "required": [
          "code",
          "reason",
          "transactionId",
          "maxMessageLevel"
        ],
        "properties": {
          "code": {
            "type": "number",
            "description": "HTTPS Status Code indicating failure. \r\n",
            "maxItems": 1,
            "minItems": 1,
            "example": "404"
          },
          "reason": {
            "type": "string",
            "description": "HTTP Status Reason.  ",
            "maxItems": 1,
            "minItems": 1,
            "example": "Not Found"
          },
          "transactionId": {
            "type": "string",
            "description": "Unique transaction id provided by consumer.  Can be used to trace traffic for this specific request, potentially through multiple services.",
            "maxItems": 1,
            "minItems": 1,
            "example": "ACE52474-9888-C4FF-D260-B02AC35596FE                            "
          },
          "metrics": {
            "$ref": "#/components/schemas/ApiMetrics"
          },
          "maxMessageLevel": {
            "type": "string",
            "description": "Maximum level of API message types being returned.  ",
            "maxItems": 1,
            "minItems": 1,
            "example": "ERROR"
          }
        }
      },
      "UserIdentification": {
        "type": "object",
        "description": "Contains information on user who enters the financial account information",
        "required": [
          "userId",
          "userSystemName",
          "customerId",
          "customerSystemName"
        ],
        "properties": {
          "userId": {
            "type": "string",
            "description": "Unique identification of the user. Populated for non-customer users.",
            "example": "ID7788"
          },
          "userSystemName": {
            "type": "string",
            "description": "System name for user info. Populated for non-customer users.",
            "example": "ActiveDirectory"
          },
          "customerId": {
            "type": "string",
            "description": "Uniquely identifies a customer.",
            "example": "CUST-4455"
          },
          "customerSystemName": {
            "type": "string",
            "description": "System where customer info can be obtained.",
            "example": "CRM_PROD"
          }
        }
      },
      "SuccessfulPingStatus": {
        "title": "SuccessfulPingStatus",
        "type": "object",
        "description": "Status structure to be included in each API response.",
        "required": [
          "code",
          "reason",
          "transactionId"
        ],
        "properties": {
          "code": {
            "type": "number",
            "description": "HTTPS Status Code indicating success ",
            "maxItems": 1,
            "minItems": 1,
            "example": "200"
          },
          "reason": {
            "type": "string",
            "description": "HTTP Status Reason.  \r\n",
            "maxItems": 1,
            "minItems": 1,
            "example": "OK"
          },
          "transactionId": {
            "type": "string",
            "description": "Unique transaction id provided by consumer.  Can be used to trace traffic for this specific request, potentially through multiple services.",
            "maxItems": 1,
            "minItems": 1,
            "example": "9fc6a637-35e0-444b-89d6-599355f42081"
          },
          "metrics": {
            "$ref": "#/components/schemas/ApiMetrics"
          }
        }
      },
      "ForbiddenApiStatus": {
        "title": "ForbiddenApiStatus",
        "type": "object",
        "description": "Status structure to be included in each Forbidden response.",
        "required": [
          "code",
          "reason",
          "transactionId",
          "maxMessageLevel"
        ],
        "properties": {
          "code": {
            "type": "number",
            "description": "HTTPS Status Code indicating failure. \r\n",
            "maxItems": 1,
            "minItems": 1,
            "example": "403"
          },
          "reason": {
            "type": "string",
            "description": "HTTP Status Reason.  ",
            "maxItems": 1,
            "minItems": 1,
            "example": "Forbidden"
          },
          "transactionId": {
            "type": "string",
            "description": "Unique transaction id provided by consumer.  Can be used to trace traffic for this specific request, potentially through multiple services.",
            "maxItems": 1,
            "minItems": 1,
            "example": "ACE52474-9888-C4FF-D260-B02AC35596FE                            "
          },
          "metrics": {
            "$ref": "#/components/schemas/ApiMetrics"
          },
          "maxMessageLevel": {
            "type": "string",
            "description": "Maximum level of API message types being returned.  ",
            "maxItems": 1,
            "minItems": 1,
            "example": "ERROR"
          }
        }
      }
    }
  }
}