{
  "openapi": "3.0.3",
  "info": {
    "title": "Microsoft Advertising API",
    "version": "13",
    "description": "Microsoft Advertising (formerly Bing Ads) API for managing search advertising campaigns across the Microsoft Search Network (Bing, Yahoo, AOL). Manage campaigns, ad groups, ads, keywords, audiences, reporting, budgets, billing, and more.",
    "x-jentic-source-url": "https://learn.microsoft.com/en-us/advertising/guides/get-started",
    "contact": {
      "name": "API Support"
    }
  },
  "servers": [
    {
      "url": "https://campaign.api.bingads.microsoft.com/Api/Advertiser/CampaignManagement/v13"
    }
  ],
  "paths": {
    "/AddCampaigns": {
      "post": {
        "operationId": "addCampaigns",
        "summary": "Add Campaigns",
        "tags": [
          "Campaigns"
        ],
        "parameters": [
          {
            "name": "AuthenticationToken",
            "in": "header",
            "required": true,
            "description": "OAuth 2.0 access token",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "DeveloperToken",
            "in": "header",
            "required": true,
            "description": "Developer token",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "CustomerId",
            "in": "header",
            "description": "Customer ID",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "CustomerAccountId",
            "in": "header",
            "description": "Account ID",
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "AccountId": {
                    "type": "string"
                  },
                  "Campaigns": {
                    "type": "array",
                    "items": {
                      "$ref": "#/components/schemas/Campaign"
                    }
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Campaigns added",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "CampaignIds": {
                      "type": "array",
                      "items": {
                        "type": "integer"
                      }
                    },
                    "PartialErrors": {
                      "type": "array",
                      "items": {
                        "type": "object"
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "description": "Add Campaigns"
      }
    },
    "/GetCampaignsByIds": {
      "post": {
        "operationId": "getCampaignsByIds",
        "summary": "Get Campaigns by IDs",
        "tags": [
          "Campaigns"
        ],
        "parameters": [
          {
            "name": "AuthenticationToken",
            "in": "header",
            "required": true,
            "description": "OAuth 2.0 access token",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "DeveloperToken",
            "in": "header",
            "required": true,
            "description": "Developer token",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "CustomerId",
            "in": "header",
            "description": "Customer ID",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "CustomerAccountId",
            "in": "header",
            "description": "Account ID",
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "AccountId": {
                    "type": "string"
                  },
                  "CampaignIds": {
                    "type": "array",
                    "items": {
                      "type": "integer"
                    }
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Campaigns retrieved",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CampaignListResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "description": "Get Campaigns by IDs"
      }
    },
    "/UpdateCampaigns": {
      "post": {
        "operationId": "updateCampaigns",
        "summary": "Update Campaigns",
        "tags": [
          "Campaigns"
        ],
        "parameters": [
          {
            "name": "AuthenticationToken",
            "in": "header",
            "required": true,
            "description": "OAuth 2.0 access token",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "DeveloperToken",
            "in": "header",
            "required": true,
            "description": "Developer token",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "CustomerId",
            "in": "header",
            "description": "Customer ID",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "CustomerAccountId",
            "in": "header",
            "description": "Account ID",
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "AccountId": {
                    "type": "string"
                  },
                  "Campaigns": {
                    "type": "array",
                    "items": {
                      "$ref": "#/components/schemas/Campaign"
                    }
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Campaigns updated",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ServiceResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "description": "Update Campaigns"
      }
    },
    "/DeleteCampaigns": {
      "post": {
        "operationId": "deleteCampaigns",
        "summary": "Delete Campaigns",
        "tags": [
          "Campaigns"
        ],
        "parameters": [
          {
            "name": "AuthenticationToken",
            "in": "header",
            "required": true,
            "description": "OAuth 2.0 access token",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "DeveloperToken",
            "in": "header",
            "required": true,
            "description": "Developer token",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "CustomerId",
            "in": "header",
            "description": "Customer ID",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "CustomerAccountId",
            "in": "header",
            "description": "Account ID",
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "AccountId": {
                    "type": "string"
                  },
                  "CampaignIds": {
                    "type": "array",
                    "items": {
                      "type": "integer"
                    }
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Campaigns deleted",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ServiceResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "description": "Delete Campaigns"
      }
    },
    "/AddAdGroups": {
      "post": {
        "operationId": "addAdGroups",
        "summary": "Add Ad Groups",
        "tags": [
          "Ad Groups"
        ],
        "parameters": [
          {
            "name": "AuthenticationToken",
            "in": "header",
            "required": true,
            "description": "OAuth 2.0 access token",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "DeveloperToken",
            "in": "header",
            "required": true,
            "description": "Developer token",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "CustomerId",
            "in": "header",
            "description": "Customer ID",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "CustomerAccountId",
            "in": "header",
            "description": "Account ID",
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "AccountId": {
                    "type": "string"
                  },
                  "AdGroups": {
                    "type": "array",
                    "items": {
                      "$ref": "#/components/schemas/AdGroup"
                    }
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Ad Groups added",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "AdGroupIds": {
                      "type": "array",
                      "items": {
                        "type": "integer"
                      }
                    },
                    "PartialErrors": {
                      "type": "array",
                      "items": {
                        "type": "object"
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "description": "Add Ad Groups"
      }
    },
    "/GetAdGroupsByIds": {
      "post": {
        "operationId": "getAdGroupsByIds",
        "summary": "Get Ad Groups by IDs",
        "tags": [
          "Ad Groups"
        ],
        "parameters": [
          {
            "name": "AuthenticationToken",
            "in": "header",
            "required": true,
            "description": "OAuth 2.0 access token",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "DeveloperToken",
            "in": "header",
            "required": true,
            "description": "Developer token",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "CustomerId",
            "in": "header",
            "description": "Customer ID",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "CustomerAccountId",
            "in": "header",
            "description": "Account ID",
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "AccountId": {
                    "type": "string"
                  },
                  "AdGroupIds": {
                    "type": "array",
                    "items": {
                      "type": "integer"
                    }
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Ad Groups retrieved",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AdGroupListResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "description": "Get Ad Groups by IDs"
      }
    },
    "/UpdateAdGroups": {
      "post": {
        "operationId": "updateAdGroups",
        "summary": "Update Ad Groups",
        "tags": [
          "Ad Groups"
        ],
        "parameters": [
          {
            "name": "AuthenticationToken",
            "in": "header",
            "required": true,
            "description": "OAuth 2.0 access token",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "DeveloperToken",
            "in": "header",
            "required": true,
            "description": "Developer token",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "CustomerId",
            "in": "header",
            "description": "Customer ID",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "CustomerAccountId",
            "in": "header",
            "description": "Account ID",
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "AccountId": {
                    "type": "string"
                  },
                  "AdGroups": {
                    "type": "array",
                    "items": {
                      "$ref": "#/components/schemas/AdGroup"
                    }
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Ad Groups updated",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ServiceResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "description": "Update Ad Groups"
      }
    },
    "/DeleteAdGroups": {
      "post": {
        "operationId": "deleteAdGroups",
        "summary": "Delete Ad Groups",
        "tags": [
          "Ad Groups"
        ],
        "parameters": [
          {
            "name": "AuthenticationToken",
            "in": "header",
            "required": true,
            "description": "OAuth 2.0 access token",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "DeveloperToken",
            "in": "header",
            "required": true,
            "description": "Developer token",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "CustomerId",
            "in": "header",
            "description": "Customer ID",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "CustomerAccountId",
            "in": "header",
            "description": "Account ID",
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "AccountId": {
                    "type": "string"
                  },
                  "AdGroupIds": {
                    "type": "array",
                    "items": {
                      "type": "integer"
                    }
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Ad Groups deleted",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ServiceResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "description": "Delete Ad Groups"
      }
    },
    "/AddAds": {
      "post": {
        "operationId": "addAds",
        "summary": "Add Ads",
        "tags": [
          "Ads"
        ],
        "parameters": [
          {
            "name": "AuthenticationToken",
            "in": "header",
            "required": true,
            "description": "OAuth 2.0 access token",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "DeveloperToken",
            "in": "header",
            "required": true,
            "description": "Developer token",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "CustomerId",
            "in": "header",
            "description": "Customer ID",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "CustomerAccountId",
            "in": "header",
            "description": "Account ID",
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "AccountId": {
                    "type": "string"
                  },
                  "Ads": {
                    "type": "array",
                    "items": {
                      "$ref": "#/components/schemas/Ad"
                    }
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Ads added",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "AdIds": {
                      "type": "array",
                      "items": {
                        "type": "integer"
                      }
                    },
                    "PartialErrors": {
                      "type": "array",
                      "items": {
                        "type": "object"
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "description": "Add Ads"
      }
    },
    "/GetAdsByIds": {
      "post": {
        "operationId": "getAdsByIds",
        "summary": "Get Ads by IDs",
        "tags": [
          "Ads"
        ],
        "parameters": [
          {
            "name": "AuthenticationToken",
            "in": "header",
            "required": true,
            "description": "OAuth 2.0 access token",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "DeveloperToken",
            "in": "header",
            "required": true,
            "description": "Developer token",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "CustomerId",
            "in": "header",
            "description": "Customer ID",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "CustomerAccountId",
            "in": "header",
            "description": "Account ID",
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "AccountId": {
                    "type": "string"
                  },
                  "AdIds": {
                    "type": "array",
                    "items": {
                      "type": "integer"
                    }
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Ads retrieved",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AdListResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "description": "Get Ads by IDs"
      }
    },
    "/UpdateAds": {
      "post": {
        "operationId": "updateAds",
        "summary": "Update Ads",
        "tags": [
          "Ads"
        ],
        "parameters": [
          {
            "name": "AuthenticationToken",
            "in": "header",
            "required": true,
            "description": "OAuth 2.0 access token",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "DeveloperToken",
            "in": "header",
            "required": true,
            "description": "Developer token",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "CustomerId",
            "in": "header",
            "description": "Customer ID",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "CustomerAccountId",
            "in": "header",
            "description": "Account ID",
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "AccountId": {
                    "type": "string"
                  },
                  "Ads": {
                    "type": "array",
                    "items": {
                      "$ref": "#/components/schemas/Ad"
                    }
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Ads updated",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ServiceResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "description": "Update Ads"
      }
    },
    "/DeleteAds": {
      "post": {
        "operationId": "deleteAds",
        "summary": "Delete Ads",
        "tags": [
          "Ads"
        ],
        "parameters": [
          {
            "name": "AuthenticationToken",
            "in": "header",
            "required": true,
            "description": "OAuth 2.0 access token",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "DeveloperToken",
            "in": "header",
            "required": true,
            "description": "Developer token",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "CustomerId",
            "in": "header",
            "description": "Customer ID",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "CustomerAccountId",
            "in": "header",
            "description": "Account ID",
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "AccountId": {
                    "type": "string"
                  },
                  "AdIds": {
                    "type": "array",
                    "items": {
                      "type": "integer"
                    }
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Ads deleted",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ServiceResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "description": "Delete Ads"
      }
    },
    "/AddKeywords": {
      "post": {
        "operationId": "addKeywords",
        "summary": "Add Keywords",
        "tags": [
          "Keywords"
        ],
        "parameters": [
          {
            "name": "AuthenticationToken",
            "in": "header",
            "required": true,
            "description": "OAuth 2.0 access token",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "DeveloperToken",
            "in": "header",
            "required": true,
            "description": "Developer token",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "CustomerId",
            "in": "header",
            "description": "Customer ID",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "CustomerAccountId",
            "in": "header",
            "description": "Account ID",
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "AccountId": {
                    "type": "string"
                  },
                  "Keywords": {
                    "type": "array",
                    "items": {
                      "$ref": "#/components/schemas/Keyword"
                    }
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Keywords added",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "KeywordIds": {
                      "type": "array",
                      "items": {
                        "type": "integer"
                      }
                    },
                    "PartialErrors": {
                      "type": "array",
                      "items": {
                        "type": "object"
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "description": "Add Keywords"
      }
    },
    "/GetKeywordsByIds": {
      "post": {
        "operationId": "getKeywordsByIds",
        "summary": "Get Keywords by IDs",
        "tags": [
          "Keywords"
        ],
        "parameters": [
          {
            "name": "AuthenticationToken",
            "in": "header",
            "required": true,
            "description": "OAuth 2.0 access token",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "DeveloperToken",
            "in": "header",
            "required": true,
            "description": "Developer token",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "CustomerId",
            "in": "header",
            "description": "Customer ID",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "CustomerAccountId",
            "in": "header",
            "description": "Account ID",
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "AccountId": {
                    "type": "string"
                  },
                  "KeywordIds": {
                    "type": "array",
                    "items": {
                      "type": "integer"
                    }
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Keywords retrieved",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/KeywordListResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "description": "Get Keywords by IDs"
      }
    },
    "/UpdateKeywords": {
      "post": {
        "operationId": "updateKeywords",
        "summary": "Update Keywords",
        "tags": [
          "Keywords"
        ],
        "parameters": [
          {
            "name": "AuthenticationToken",
            "in": "header",
            "required": true,
            "description": "OAuth 2.0 access token",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "DeveloperToken",
            "in": "header",
            "required": true,
            "description": "Developer token",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "CustomerId",
            "in": "header",
            "description": "Customer ID",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "CustomerAccountId",
            "in": "header",
            "description": "Account ID",
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "AccountId": {
                    "type": "string"
                  },
                  "Keywords": {
                    "type": "array",
                    "items": {
                      "$ref": "#/components/schemas/Keyword"
                    }
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Keywords updated",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ServiceResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "description": "Update Keywords"
      }
    },
    "/DeleteKeywords": {
      "post": {
        "operationId": "deleteKeywords",
        "summary": "Delete Keywords",
        "tags": [
          "Keywords"
        ],
        "parameters": [
          {
            "name": "AuthenticationToken",
            "in": "header",
            "required": true,
            "description": "OAuth 2.0 access token",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "DeveloperToken",
            "in": "header",
            "required": true,
            "description": "Developer token",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "CustomerId",
            "in": "header",
            "description": "Customer ID",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "CustomerAccountId",
            "in": "header",
            "description": "Account ID",
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "AccountId": {
                    "type": "string"
                  },
                  "KeywordIds": {
                    "type": "array",
                    "items": {
                      "type": "integer"
                    }
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Keywords deleted",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ServiceResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "description": "Delete Keywords"
      }
    },
    "/AddAdExtensions": {
      "post": {
        "operationId": "addAdExtensions",
        "summary": "Add Ad Extensions",
        "tags": [
          "Ad Extensions"
        ],
        "parameters": [
          {
            "name": "AuthenticationToken",
            "in": "header",
            "required": true,
            "description": "OAuth 2.0 access token",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "DeveloperToken",
            "in": "header",
            "required": true,
            "description": "Developer token",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "CustomerId",
            "in": "header",
            "description": "Customer ID",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "CustomerAccountId",
            "in": "header",
            "description": "Account ID",
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "AccountId": {
                    "type": "string"
                  },
                  "AdExtensions": {
                    "type": "array",
                    "items": {
                      "$ref": "#/components/schemas/AdExtension"
                    }
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Ad Extensions added",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "AdExtensionIds": {
                      "type": "array",
                      "items": {
                        "type": "integer"
                      }
                    },
                    "PartialErrors": {
                      "type": "array",
                      "items": {
                        "type": "object"
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "description": "Add Ad Extensions"
      }
    },
    "/GetAdExtensionsByIds": {
      "post": {
        "operationId": "getAdExtensionsByIds",
        "summary": "Get Ad Extensions by IDs",
        "tags": [
          "Ad Extensions"
        ],
        "parameters": [
          {
            "name": "AuthenticationToken",
            "in": "header",
            "required": true,
            "description": "OAuth 2.0 access token",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "DeveloperToken",
            "in": "header",
            "required": true,
            "description": "Developer token",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "CustomerId",
            "in": "header",
            "description": "Customer ID",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "CustomerAccountId",
            "in": "header",
            "description": "Account ID",
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "AccountId": {
                    "type": "string"
                  },
                  "AdExtensionIds": {
                    "type": "array",
                    "items": {
                      "type": "integer"
                    }
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Ad Extensions retrieved",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AdExtensionListResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "description": "Get Ad Extensions by IDs"
      }
    },
    "/UpdateAdExtensions": {
      "post": {
        "operationId": "updateAdExtensions",
        "summary": "Update Ad Extensions",
        "tags": [
          "Ad Extensions"
        ],
        "parameters": [
          {
            "name": "AuthenticationToken",
            "in": "header",
            "required": true,
            "description": "OAuth 2.0 access token",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "DeveloperToken",
            "in": "header",
            "required": true,
            "description": "Developer token",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "CustomerId",
            "in": "header",
            "description": "Customer ID",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "CustomerAccountId",
            "in": "header",
            "description": "Account ID",
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "AccountId": {
                    "type": "string"
                  },
                  "AdExtensions": {
                    "type": "array",
                    "items": {
                      "$ref": "#/components/schemas/AdExtension"
                    }
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Ad Extensions updated",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ServiceResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "description": "Update Ad Extensions"
      }
    },
    "/DeleteAdExtensions": {
      "post": {
        "operationId": "deleteAdExtensions",
        "summary": "Delete Ad Extensions",
        "tags": [
          "Ad Extensions"
        ],
        "parameters": [
          {
            "name": "AuthenticationToken",
            "in": "header",
            "required": true,
            "description": "OAuth 2.0 access token",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "DeveloperToken",
            "in": "header",
            "required": true,
            "description": "Developer token",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "CustomerId",
            "in": "header",
            "description": "Customer ID",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "CustomerAccountId",
            "in": "header",
            "description": "Account ID",
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "AccountId": {
                    "type": "string"
                  },
                  "AdExtensionIds": {
                    "type": "array",
                    "items": {
                      "type": "integer"
                    }
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Ad Extensions deleted",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ServiceResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "description": "Delete Ad Extensions"
      }
    },
    "/AddAudiences": {
      "post": {
        "operationId": "addAudiences",
        "summary": "Add Audiences",
        "tags": [
          "Audiences"
        ],
        "parameters": [
          {
            "name": "AuthenticationToken",
            "in": "header",
            "required": true,
            "description": "OAuth 2.0 access token",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "DeveloperToken",
            "in": "header",
            "required": true,
            "description": "Developer token",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "CustomerId",
            "in": "header",
            "description": "Customer ID",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "CustomerAccountId",
            "in": "header",
            "description": "Account ID",
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "AccountId": {
                    "type": "string"
                  },
                  "Audiences": {
                    "type": "array",
                    "items": {
                      "$ref": "#/components/schemas/Audience"
                    }
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Audiences added",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "AudienceIds": {
                      "type": "array",
                      "items": {
                        "type": "integer"
                      }
                    },
                    "PartialErrors": {
                      "type": "array",
                      "items": {
                        "type": "object"
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "description": "Add Audiences"
      }
    },
    "/GetAudiencesByIds": {
      "post": {
        "operationId": "getAudiencesByIds",
        "summary": "Get Audiences by IDs",
        "tags": [
          "Audiences"
        ],
        "parameters": [
          {
            "name": "AuthenticationToken",
            "in": "header",
            "required": true,
            "description": "OAuth 2.0 access token",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "DeveloperToken",
            "in": "header",
            "required": true,
            "description": "Developer token",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "CustomerId",
            "in": "header",
            "description": "Customer ID",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "CustomerAccountId",
            "in": "header",
            "description": "Account ID",
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "AccountId": {
                    "type": "string"
                  },
                  "AudienceIds": {
                    "type": "array",
                    "items": {
                      "type": "integer"
                    }
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Audiences retrieved",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AudienceListResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "description": "Get Audiences by IDs"
      }
    },
    "/UpdateAudiences": {
      "post": {
        "operationId": "updateAudiences",
        "summary": "Update Audiences",
        "tags": [
          "Audiences"
        ],
        "parameters": [
          {
            "name": "AuthenticationToken",
            "in": "header",
            "required": true,
            "description": "OAuth 2.0 access token",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "DeveloperToken",
            "in": "header",
            "required": true,
            "description": "Developer token",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "CustomerId",
            "in": "header",
            "description": "Customer ID",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "CustomerAccountId",
            "in": "header",
            "description": "Account ID",
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "AccountId": {
                    "type": "string"
                  },
                  "Audiences": {
                    "type": "array",
                    "items": {
                      "$ref": "#/components/schemas/Audience"
                    }
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Audiences updated",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ServiceResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "description": "Update Audiences"
      }
    },
    "/DeleteAudiences": {
      "post": {
        "operationId": "deleteAudiences",
        "summary": "Delete Audiences",
        "tags": [
          "Audiences"
        ],
        "parameters": [
          {
            "name": "AuthenticationToken",
            "in": "header",
            "required": true,
            "description": "OAuth 2.0 access token",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "DeveloperToken",
            "in": "header",
            "required": true,
            "description": "Developer token",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "CustomerId",
            "in": "header",
            "description": "Customer ID",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "CustomerAccountId",
            "in": "header",
            "description": "Account ID",
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "AccountId": {
                    "type": "string"
                  },
                  "AudienceIds": {
                    "type": "array",
                    "items": {
                      "type": "integer"
                    }
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Audiences deleted",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ServiceResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "description": "Delete Audiences"
      }
    },
    "/AddBudgets": {
      "post": {
        "operationId": "addBudgets",
        "summary": "Add Budgets",
        "tags": [
          "Budgets"
        ],
        "parameters": [
          {
            "name": "AuthenticationToken",
            "in": "header",
            "required": true,
            "description": "OAuth 2.0 access token",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "DeveloperToken",
            "in": "header",
            "required": true,
            "description": "Developer token",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "CustomerId",
            "in": "header",
            "description": "Customer ID",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "CustomerAccountId",
            "in": "header",
            "description": "Account ID",
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "AccountId": {
                    "type": "string"
                  },
                  "Budgets": {
                    "type": "array",
                    "items": {
                      "$ref": "#/components/schemas/Budget"
                    }
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Budgets added",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "BudgetIds": {
                      "type": "array",
                      "items": {
                        "type": "integer"
                      }
                    },
                    "PartialErrors": {
                      "type": "array",
                      "items": {
                        "type": "object"
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "description": "Add Budgets"
      }
    },
    "/GetBudgetsByIds": {
      "post": {
        "operationId": "getBudgetsByIds",
        "summary": "Get Budgets by IDs",
        "tags": [
          "Budgets"
        ],
        "parameters": [
          {
            "name": "AuthenticationToken",
            "in": "header",
            "required": true,
            "description": "OAuth 2.0 access token",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "DeveloperToken",
            "in": "header",
            "required": true,
            "description": "Developer token",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "CustomerId",
            "in": "header",
            "description": "Customer ID",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "CustomerAccountId",
            "in": "header",
            "description": "Account ID",
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "AccountId": {
                    "type": "string"
                  },
                  "BudgetIds": {
                    "type": "array",
                    "items": {
                      "type": "integer"
                    }
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Budgets retrieved",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BudgetListResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "description": "Get Budgets by IDs"
      }
    },
    "/UpdateBudgets": {
      "post": {
        "operationId": "updateBudgets",
        "summary": "Update Budgets",
        "tags": [
          "Budgets"
        ],
        "parameters": [
          {
            "name": "AuthenticationToken",
            "in": "header",
            "required": true,
            "description": "OAuth 2.0 access token",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "DeveloperToken",
            "in": "header",
            "required": true,
            "description": "Developer token",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "CustomerId",
            "in": "header",
            "description": "Customer ID",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "CustomerAccountId",
            "in": "header",
            "description": "Account ID",
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "AccountId": {
                    "type": "string"
                  },
                  "Budgets": {
                    "type": "array",
                    "items": {
                      "$ref": "#/components/schemas/Budget"
                    }
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Budgets updated",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ServiceResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "description": "Update Budgets"
      }
    },
    "/DeleteBudgets": {
      "post": {
        "operationId": "deleteBudgets",
        "summary": "Delete Budgets",
        "tags": [
          "Budgets"
        ],
        "parameters": [
          {
            "name": "AuthenticationToken",
            "in": "header",
            "required": true,
            "description": "OAuth 2.0 access token",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "DeveloperToken",
            "in": "header",
            "required": true,
            "description": "Developer token",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "CustomerId",
            "in": "header",
            "description": "Customer ID",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "CustomerAccountId",
            "in": "header",
            "description": "Account ID",
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "AccountId": {
                    "type": "string"
                  },
                  "BudgetIds": {
                    "type": "array",
                    "items": {
                      "type": "integer"
                    }
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Budgets deleted",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ServiceResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "description": "Delete Budgets"
      }
    },
    "/AddLabels": {
      "post": {
        "operationId": "addLabels",
        "summary": "Add Labels",
        "tags": [
          "Labels"
        ],
        "parameters": [
          {
            "name": "AuthenticationToken",
            "in": "header",
            "required": true,
            "description": "OAuth 2.0 access token",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "DeveloperToken",
            "in": "header",
            "required": true,
            "description": "Developer token",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "CustomerId",
            "in": "header",
            "description": "Customer ID",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "CustomerAccountId",
            "in": "header",
            "description": "Account ID",
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "AccountId": {
                    "type": "string"
                  },
                  "Labels": {
                    "type": "array",
                    "items": {
                      "$ref": "#/components/schemas/Label"
                    }
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Labels added",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "LabelIds": {
                      "type": "array",
                      "items": {
                        "type": "integer"
                      }
                    },
                    "PartialErrors": {
                      "type": "array",
                      "items": {
                        "type": "object"
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "description": "Add Labels"
      }
    },
    "/GetLabelsByIds": {
      "post": {
        "operationId": "getLabelsByIds",
        "summary": "Get Labels by IDs",
        "tags": [
          "Labels"
        ],
        "parameters": [
          {
            "name": "AuthenticationToken",
            "in": "header",
            "required": true,
            "description": "OAuth 2.0 access token",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "DeveloperToken",
            "in": "header",
            "required": true,
            "description": "Developer token",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "CustomerId",
            "in": "header",
            "description": "Customer ID",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "CustomerAccountId",
            "in": "header",
            "description": "Account ID",
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "AccountId": {
                    "type": "string"
                  },
                  "LabelIds": {
                    "type": "array",
                    "items": {
                      "type": "integer"
                    }
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Labels retrieved",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/LabelListResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "description": "Get Labels by IDs"
      }
    },
    "/UpdateLabels": {
      "post": {
        "operationId": "updateLabels",
        "summary": "Update Labels",
        "tags": [
          "Labels"
        ],
        "parameters": [
          {
            "name": "AuthenticationToken",
            "in": "header",
            "required": true,
            "description": "OAuth 2.0 access token",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "DeveloperToken",
            "in": "header",
            "required": true,
            "description": "Developer token",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "CustomerId",
            "in": "header",
            "description": "Customer ID",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "CustomerAccountId",
            "in": "header",
            "description": "Account ID",
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "AccountId": {
                    "type": "string"
                  },
                  "Labels": {
                    "type": "array",
                    "items": {
                      "$ref": "#/components/schemas/Label"
                    }
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Labels updated",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ServiceResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "description": "Update Labels"
      }
    },
    "/DeleteLabels": {
      "post": {
        "operationId": "deleteLabels",
        "summary": "Delete Labels",
        "tags": [
          "Labels"
        ],
        "parameters": [
          {
            "name": "AuthenticationToken",
            "in": "header",
            "required": true,
            "description": "OAuth 2.0 access token",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "DeveloperToken",
            "in": "header",
            "required": true,
            "description": "Developer token",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "CustomerId",
            "in": "header",
            "description": "Customer ID",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "CustomerAccountId",
            "in": "header",
            "description": "Account ID",
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "AccountId": {
                    "type": "string"
                  },
                  "LabelIds": {
                    "type": "array",
                    "items": {
                      "type": "integer"
                    }
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Labels deleted",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ServiceResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "description": "Delete Labels"
      }
    },
    "/AddNegativeKeywordLists": {
      "post": {
        "operationId": "addNegativeKeywordLists",
        "summary": "Add Negative Keyword Lists",
        "tags": [
          "Negative Keyword Lists"
        ],
        "parameters": [
          {
            "name": "AuthenticationToken",
            "in": "header",
            "required": true,
            "description": "OAuth 2.0 access token",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "DeveloperToken",
            "in": "header",
            "required": true,
            "description": "Developer token",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "CustomerId",
            "in": "header",
            "description": "Customer ID",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "CustomerAccountId",
            "in": "header",
            "description": "Account ID",
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "AccountId": {
                    "type": "string"
                  },
                  "NegativeKeywordLists": {
                    "type": "array",
                    "items": {
                      "$ref": "#/components/schemas/NegativeKeywordList"
                    }
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Negative Keyword Lists added",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "NegativeKeywordListIds": {
                      "type": "array",
                      "items": {
                        "type": "integer"
                      }
                    },
                    "PartialErrors": {
                      "type": "array",
                      "items": {
                        "type": "object"
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "description": "Add Negative Keyword Lists"
      }
    },
    "/GetNegativeKeywordListsByIds": {
      "post": {
        "operationId": "getNegativeKeywordListsByIds",
        "summary": "Get Negative Keyword Lists by IDs",
        "tags": [
          "Negative Keyword Lists"
        ],
        "parameters": [
          {
            "name": "AuthenticationToken",
            "in": "header",
            "required": true,
            "description": "OAuth 2.0 access token",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "DeveloperToken",
            "in": "header",
            "required": true,
            "description": "Developer token",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "CustomerId",
            "in": "header",
            "description": "Customer ID",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "CustomerAccountId",
            "in": "header",
            "description": "Account ID",
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "AccountId": {
                    "type": "string"
                  },
                  "NegativeKeywordListIds": {
                    "type": "array",
                    "items": {
                      "type": "integer"
                    }
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Negative Keyword Lists retrieved",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/NegativeKeywordListListResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "description": "Get Negative Keyword Lists by IDs"
      }
    },
    "/UpdateNegativeKeywordLists": {
      "post": {
        "operationId": "updateNegativeKeywordLists",
        "summary": "Update Negative Keyword Lists",
        "tags": [
          "Negative Keyword Lists"
        ],
        "parameters": [
          {
            "name": "AuthenticationToken",
            "in": "header",
            "required": true,
            "description": "OAuth 2.0 access token",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "DeveloperToken",
            "in": "header",
            "required": true,
            "description": "Developer token",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "CustomerId",
            "in": "header",
            "description": "Customer ID",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "CustomerAccountId",
            "in": "header",
            "description": "Account ID",
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "AccountId": {
                    "type": "string"
                  },
                  "NegativeKeywordLists": {
                    "type": "array",
                    "items": {
                      "$ref": "#/components/schemas/NegativeKeywordList"
                    }
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Negative Keyword Lists updated",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ServiceResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "description": "Update Negative Keyword Lists"
      }
    },
    "/DeleteNegativeKeywordLists": {
      "post": {
        "operationId": "deleteNegativeKeywordLists",
        "summary": "Delete Negative Keyword Lists",
        "tags": [
          "Negative Keyword Lists"
        ],
        "parameters": [
          {
            "name": "AuthenticationToken",
            "in": "header",
            "required": true,
            "description": "OAuth 2.0 access token",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "DeveloperToken",
            "in": "header",
            "required": true,
            "description": "Developer token",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "CustomerId",
            "in": "header",
            "description": "Customer ID",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "CustomerAccountId",
            "in": "header",
            "description": "Account ID",
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "AccountId": {
                    "type": "string"
                  },
                  "NegativeKeywordListIds": {
                    "type": "array",
                    "items": {
                      "type": "integer"
                    }
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Negative Keyword Lists deleted",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ServiceResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "description": "Delete Negative Keyword Lists"
      }
    },
    "/AddCampaignCriteria": {
      "post": {
        "operationId": "addCampaignCriteria",
        "summary": "Add Campaign Criteria",
        "tags": [
          "Campaign Criteria"
        ],
        "parameters": [
          {
            "name": "AuthenticationToken",
            "in": "header",
            "required": true,
            "description": "OAuth 2.0 access token",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "DeveloperToken",
            "in": "header",
            "required": true,
            "description": "Developer token",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "CustomerId",
            "in": "header",
            "description": "Customer ID",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "CustomerAccountId",
            "in": "header",
            "description": "Account ID",
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "AccountId": {
                    "type": "string"
                  },
                  "CampaignCriteria": {
                    "type": "array",
                    "items": {
                      "$ref": "#/components/schemas/CampaignCriterion"
                    }
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Campaign Criteria added",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "CampaignCriterionIds": {
                      "type": "array",
                      "items": {
                        "type": "integer"
                      }
                    },
                    "PartialErrors": {
                      "type": "array",
                      "items": {
                        "type": "object"
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
[...]
