{
  "openapi": "3.0.3",
  "info": {
    "title": "Embedly API",
    "version": "1.0",
    "description": "Embedly provides APIs for embedding, extracting, and displaying content from any URL. It offers oEmbed for embedding, Extract for article data, and Display for image manipulation.",
    "x-jentic-source-url": "https://docs.embed.ly/reference/embedly-api",
    "contact": {
      "name": "API Support"
    }
  },
  "servers": [
    {
      "url": "https://api.embedly.com"
    }
  ],
  "paths": {
    "/1/oembed": {
      "get": {
        "operationId": "oEmbed",
        "summary": "oEmbed",
        "description": "Returns oEmbed data for a given URL. Follows the oEmbed standard for embedding content.",
        "tags": [
          "Embed"
        ],
        "parameters": [
          {
            "name": "url",
            "in": "query",
            "required": true,
            "description": "URL to retrieve oEmbed data for",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "maxwidth",
            "in": "query",
            "description": "Maximum width of the embed",
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "maxheight",
            "in": "query",
            "description": "Maximum height of the embed",
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "format",
            "in": "query",
            "description": "Response format",
            "schema": {
              "type": "string",
              "enum": [
                "json",
                "xml"
              ]
            }
          },
          {
            "name": "autoplay",
            "in": "query",
            "description": "Enable autoplay for video embeds",
            "schema": {
              "type": "boolean"
            }
          },
          {
            "name": "words",
            "in": "query",
            "description": "Number of words to return for description",
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "chars",
            "in": "query",
            "description": "Number of characters to return for description",
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/OEmbedResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized - invalid API key"
          },
          "404": {
            "description": "URL not found"
          }
        }
      }
    },
    "/1/extract": {
      "get": {
        "operationId": "extract",
        "summary": "Extract",
        "description": "Extracts article text, topics, and meta-data from URLs. Returns detailed content analysis.",
        "tags": [
          "Extract"
        ],
        "parameters": [
          {
            "name": "url",
            "in": "query",
            "required": true,
            "description": "URL to extract data from",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "maxwidth",
            "in": "query",
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "maxheight",
            "in": "query",
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "words",
            "in": "query",
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "chars",
            "in": "query",
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ExtractResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      }
    },
    "/1/display": {
      "get": {
        "operationId": "display",
        "summary": "Display image",
        "description": "Returns an image from the given URL, optimized for display.",
        "tags": [
          "Display"
        ],
        "parameters": [
          {
            "name": "url",
            "in": "query",
            "required": true,
            "description": "URL of the image to display",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Image returned",
            "content": {
              "image/*": {
                "schema": {
                  "type": "string",
                  "format": "binary"
                }
              }
            }
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      }
    },
    "/1/display/resize": {
      "get": {
        "operationId": "displayResize",
        "summary": "Resize image",
        "description": "Returns a resized version of the image at the given URL.",
        "tags": [
          "Display"
        ],
        "parameters": [
          {
            "name": "url",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "width",
            "in": "query",
            "description": "Target width",
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "height",
            "in": "query",
            "description": "Target height",
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "grow",
            "in": "query",
            "description": "Allow image to grow beyond original dimensions",
            "schema": {
              "type": "boolean",
              "default": false
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Resized image returned",
            "content": {
              "image/*": {
                "schema": {
                  "type": "string",
                  "format": "binary"
                }
              }
            }
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      }
    },
    "/1/display/crop": {
      "get": {
        "operationId": "displayCrop",
        "summary": "Crop image",
        "description": "Returns a cropped version of the image at the given URL.",
        "tags": [
          "Display"
        ],
        "parameters": [
          {
            "name": "url",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "width",
            "in": "query",
            "description": "Target width",
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "height",
            "in": "query",
            "description": "Target height",
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Cropped image returned",
            "content": {
              "image/*": {
                "schema": {
                  "type": "string",
                  "format": "binary"
                }
              }
            }
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      }
    },
    "/1/display/fill": {
      "get": {
        "operationId": "displayFill",
        "summary": "Fill image",
        "description": "Returns an image resized and filled to exact dimensions.",
        "tags": [
          "Display"
        ],
        "parameters": [
          {
            "name": "url",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "width",
            "in": "query",
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "height",
            "in": "query",
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "color",
            "in": "query",
            "description": "Fill color (hex without #)",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Filled image returned",
            "content": {
              "image/*": {
                "schema": {
                  "type": "string",
                  "format": "binary"
                }
              }
            }
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      }
    },
    "/1/display/blur": {
      "get": {
        "operationId": "displayBlur",
        "summary": "Blur image",
        "description": "Returns a blurred version of the image.",
        "tags": [
          "Display"
        ],
        "parameters": [
          {
            "name": "url",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "radius",
            "in": "query",
            "description": "Blur radius",
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Blurred image returned",
            "content": {
              "image/*": {
                "schema": {
                  "type": "string",
                  "format": "binary"
                }
              }
            }
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      }
    },
    "/1/display/webp": {
      "get": {
        "operationId": "displayWebp",
        "summary": "Convert to WebP",
        "description": "Returns the image converted to WebP format.",
        "tags": [
          "Display"
        ],
        "parameters": [
          {
            "name": "url",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "WebP image returned",
            "content": {
              "image/webp": {
                "schema": {
                  "type": "string",
                  "format": "binary"
                }
              }
            }
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      }
    },
    "/1/display/avif": {
      "get": {
        "operationId": "displayAvif",
        "summary": "Convert to AVIF",
        "description": "Returns the image converted to AVIF format.",
        "tags": [
          "Display"
        ],
        "parameters": [
          {
            "name": "url",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "AVIF image returned",
            "content": {
              "image/avif": {
                "schema": {
                  "type": "string",
                  "format": "binary"
                }
              }
            }
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      }
    }
  },
  "components": {
    "schemas": {
      "OEmbedResponse": {
        "type": "object",
        "properties": {
          "type": {
            "type": "string",
            "enum": [
              "photo",
              "video",
              "link",
              "rich"
            ]
          },
          "version": {
            "type": "string"
          },
          "title": {
            "type": "string"
          },
          "author_name": {
            "type": "string"
          },
          "author_url": {
            "type": "string"
          },
          "provider_name": {
            "type": "string"
          },
          "provider_url": {
            "type": "string"
          },
          "cache_age": {
            "type": "integer"
          },
          "thumbnail_url": {
            "type": "string"
          },
          "thumbnail_width": {
            "type": "integer"
          },
          "thumbnail_height": {
            "type": "integer"
          },
          "url": {
            "type": "string"
          },
          "html": {
            "type": "string"
          },
          "width": {
            "type": "integer"
          },
          "height": {
            "type": "integer"
          },
          "description": {
            "type": "string"
          }
        }
      },
      "ExtractResponse": {
        "type": "object",
        "properties": {
          "original_url": {
            "type": "string"
          },
          "url": {
            "type": "string"
          },
          "type": {
            "type": "string"
          },
          "title": {
            "type": "string"
          },
          "description": {
            "type": "string"
          },
          "content": {
            "type": "string"
          },
          "provider_name": {
            "type": "string"
          },
          "provider_url": {
            "type": "string"
          },
          "provider_display": {
            "type": "string"
          },
          "favicon_url": {
            "type": "string"
          },
          "authors": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "name": {
                  "type": "string"
                },
                "url": {
                  "type": "string"
                }
              }
            }
          },
          "images": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "url": {
                  "type": "string"
                },
                "width": {
                  "type": "integer"
                },
                "height": {
                  "type": "integer"
                },
                "caption": {
                  "type": "string"
                }
              }
            }
          },
          "keywords": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "name": {
                  "type": "string"
                },
                "score": {
                  "type": "number"
                }
              }
            }
          },
          "entities": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "name": {
                  "type": "string"
                },
                "count": {
                  "type": "integer"
                }
              }
            }
          },
          "language": {
            "type": "string"
          },
          "published": {
            "type": "string",
            "format": "date-time"
          },
          "offset": {
            "type": "integer"
          },
          "lead": {
            "type": "string"
          }
        }
      }
    },
    "securitySchemes": {
      "apiKeyQuery": {
        "type": "apiKey",
        "name": "key",
        "in": "query",
        "description": "Embedly API key"
      }
    }
  },
  "security": [
    {
      "apiKeyQuery": []
    }
  ],
  "tags": [
    {
      "name": "Display"
    },
    {
      "name": "Embed"
    },
    {
      "name": "Extract"
    }
  ]
}
