{
  "openapi": "3.0.3",
  "info": {
    "title": "Facebook Graph API",
    "description": "The Facebook Graph API is the primary way for apps to read and write to the Facebook social graph. It provides a simple, consistent view of the graph, uniformly representing objects (users, photos, posts, comments, etc.) and connections between them (friends, photo tags, post comments, etc.).",
    "version": "v25.0",
    "contact": {
      "name": "Meta for Developers",
      "url": "https://developers.facebook.com/docs/graph-api/"
    },
    "x-source-docs": "https://developers.facebook.com/docs/graph-api/reference/"
  },
  "servers": [
    {
      "url": "https://graph.facebook.com/v25.0",
      "description": "Facebook Graph API v25.0"
    }
  ],
  "security": [
    {
      "accessToken": []
    }
  ],
  "paths": {
    "/me": {
      "get": {
        "operationId": "getMe",
        "summary": "Get current user or page",
        "description": "Returns the user or page associated with the current access token.",
        "tags": [
          "User"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/fields"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/User"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          }
        }
      }
    },
    "/{user-id}": {
      "get": {
        "operationId": "getUser",
        "summary": "Get a user",
        "description": "Returns information about a specific user. The user must have granted your app permissions to access the requested fields.",
        "tags": [
          "User"
        ],
        "parameters": [
          {
            "name": "user-id",
            "in": "path",
            "required": true,
            "description": "The user ID or 'me' for the current user.",
            "schema": {
              "type": "string"
            }
          },
          {
            "$ref": "#/components/parameters/fields"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/User"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          }
        }
      },
      "post": {
        "operationId": "updateUser",
        "summary": "Update a user",
        "description": "Updates user information. Limited to test users and certain fields.",
        "tags": [
          "User"
        ],
        "parameters": [
          {
            "name": "user-id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/x-www-form-urlencoded": {
              "schema": {
                "type": "object",
                "properties": {
                  "emoji_color_pref": {
                    "type": "integer",
                    "format": "int64",
                    "description": "Emoji color preference setting"
                  },
                  "firstname": {
                    "type": "string",
                    "description": "Person's first name"
                  },
                  "lastname": {
                    "type": "string",
                    "description": "Person's last name"
                  },
                  "name": {
                    "type": "string",
                    "description": "Account name (test accounts only)"
                  },
                  "password": {
                    "type": "string",
                    "description": "Account password (test accounts only)"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SuccessResponse"
                }
              }
            }
          }
        }
      },
      "delete": {
        "operationId": "deleteUser",
        "summary": "Delete a test user",
        "description": "Removes a test user or dissociates from pages/ad accounts.",
        "tags": [
          "User"
        ],
        "parameters": [
          {
            "name": "user-id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SuccessResponse"
                }
              }
            }
          }
        }
      }
    },
    "/{user-id}/feed": {
      "get": {
        "operationId": "getUserFeed",
        "summary": "Get a user's feed",
        "description": "Returns posts from the user's feed.",
        "tags": [
          "User",
          "Post"
        ],
        "parameters": [
          {
            "name": "user-id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "$ref": "#/components/parameters/fields"
          },
          {
            "$ref": "#/components/parameters/limit"
          },
          {
            "$ref": "#/components/parameters/after"
          },
          {
            "$ref": "#/components/parameters/before"
          }
        ],
        "responses": {
          "200": {
            "description": "Paginated list of posts",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PaginatedPosts"
                }
              }
            }
          }
        }
      },
      "post": {
        "operationId": "createUserPost",
        "summary": "Create a post on user's feed",
        "description": "Publishes a new post to the user's feed.",
        "tags": [
          "User",
          "Post"
        ],
        "parameters": [
          {
            "name": "user-id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/x-www-form-urlencoded": {
              "schema": {
                "type": "object",
                "properties": {
                  "message": {
                    "type": "string",
                    "description": "The main body of the post."
                  },
                  "link": {
                    "type": "string",
                    "format": "uri",
                    "description": "The URL of a link to attach to the post."
                  },
                  "place": {
                    "type": "string",
                    "description": "Page ID of a location associated with this post."
                  },
                  "tags": {
                    "type": "string",
                    "description": "Comma-separated list of user IDs of people tagged in this post."
                  },
                  "privacy": {
                    "type": "string",
                    "description": "JSON-encoded privacy settings for the post."
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Post created successfully",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "id": {
                      "type": "string",
                      "description": "The ID of the newly created post."
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/{page-id}": {
      "get": {
        "operationId": "getPage",
        "summary": "Get a Facebook Page",
        "description": "Returns information about a Facebook Page.",
        "tags": [
          "Page"
        ],
        "parameters": [
          {
            "name": "page-id",
            "in": "path",
            "required": true,
            "description": "The Page ID or username.",
            "schema": {
              "type": "string"
            }
          },
          {
            "$ref": "#/components/parameters/fields"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Page"
                }
              }
            }
          }
        }
      },
      "post": {
        "operationId": "updatePage",
        "summary": "Update a Facebook Page",
        "description": "Updates information on a Facebook Page.",
        "tags": [
          "Page"
        ],
        "parameters": [
          {
            "name": "page-id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/x-www-form-urlencoded": {
              "schema": {
                "type": "object",
                "properties": {
                  "about": {
                    "type": "string",
                    "description": "Page description (max 100 chars)."
                  },
                  "website": {
                    "type": "string",
                    "description": "Business website URL."
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SuccessResponse"
                }
              }
            }
          }
        }
      }
    },
    "/{page-id}/feed": {
      "get": {
        "operationId": "getPageFeed",
        "summary": "Get a Page's feed",
        "description": "Returns posts published by or on the Page.",
        "tags": [
          "Page",
          "Post"
        ],
        "parameters": [
          {
            "name": "page-id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "$ref": "#/components/parameters/fields"
          },
          {
            "$ref": "#/components/parameters/limit"
          },
          {
            "$ref": "#/components/parameters/after"
          },
          {
            "$ref": "#/components/parameters/before"
          }
        ],
        "responses": {
          "200": {
            "description": "Paginated list of posts",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PaginatedPosts"
                }
              }
            }
          }
        }
      }
    },
    "/{post-id}": {
      "get": {
        "operationId": "getPost",
        "summary": "Get a post",
        "description": "Returns a single post by ID.",
        "tags": [
          "Post"
        ],
        "parameters": [
          {
            "name": "post-id",
            "in": "path",
            "required": true,
            "description": "The post ID.",
            "schema": {
              "type": "string"
            }
          },
          {
            "$ref": "#/components/parameters/fields"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Post"
                }
              }
            }
          }
        }
      },
      "delete": {
        "operationId": "deletePost",
        "summary": "Delete a post",
        "description": "Deletes a post. The user must have published the post.",
        "tags": [
          "Post"
        ],
        "parameters": [
          {
            "name": "post-id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SuccessResponse"
                }
              }
            }
          }
        }
      }
    },
    "/{post-id}/comments": {
      "get": {
        "operationId": "getPostComments",
        "summary": "Get comments on a post",
        "description": "Returns comments on a given post.",
        "tags": [
          "Post",
          "Comment"
        ],
        "parameters": [
          {
            "name": "post-id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "$ref": "#/components/parameters/fields"
          },
          {
            "$ref": "#/components/parameters/limit"
          },
          {
            "$ref": "#/components/parameters/after"
          },
          {
            "$ref": "#/components/parameters/before"
          }
        ],
        "responses": {
          "200": {
            "description": "Paginated list of comments",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PaginatedComments"
                }
              }
            }
          }
        }
      },
      "post": {
        "operationId": "createComment",
        "summary": "Create a comment on a post",
        "description": "Publishes a new comment on a post.",
        "tags": [
          "Post",
          "Comment"
        ],
        "parameters": [
          {
            "name": "post-id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/x-www-form-urlencoded": {
              "schema": {
                "type": "object",
                "properties": {
                  "message": {
                    "type": "string",
                    "description": "The comment text."
                  },
                  "attachment_url": {
                    "type": "string",
                    "format": "uri",
                    "description": "URL of an image to include as a photo comment."
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Comment created successfully",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "id": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/{comment-id}": {
      "get": {
        "operationId": "getComment",
        "summary": "Get a comment",
        "description": "Returns a single comment by ID.",
        "tags": [
          "Comment"
        ],
        "parameters": [
          {
            "name": "comment-id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "$ref": "#/components/parameters/fields"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Comment"
                }
              }
            }
          }
        }
      },
      "post": {
        "operationId": "updateComment",
        "summary": "Update a comment",
        "description": "Updates the text of an existing comment.",
        "tags": [
          "Comment"
        ],
        "parameters": [
          {
            "name": "comment-id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/x-www-form-urlencoded": {
              "schema": {
                "type": "object",
                "properties": {
                  "message": {
                    "type": "string",
                    "description": "Updated comment text."
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SuccessResponse"
                }
              }
            }
          }
        }
      },
      "delete": {
        "operationId": "deleteComment",
        "summary": "Delete a comment",
        "description": "Deletes a comment.",
        "tags": [
          "Comment"
        ],
        "parameters": [
          {
            "name": "comment-id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SuccessResponse"
                }
              }
            }
          }
        }
      }
    },
    "/{photo-id}": {
      "get": {
        "operationId": "getPhoto",
        "summary": "Get a photo",
        "description": "Returns a photo by ID.",
        "tags": [
          "Photo"
        ],
        "parameters": [
          {
            "name": "photo-id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "$ref": "#/components/parameters/fields"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Photo"
                }
              }
            }
          }
        }
      },
      "delete": {
        "operationId": "deletePhoto",
        "summary": "Delete a photo",
        "description": "Deletes a photo.",
        "tags": [
          "Photo"
        ],
        "parameters": [
          {
            "name": "photo-id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SuccessResponse"
                }
              }
            }
          }
        }
      }
    },
    "/{user-id}/photos": {
      "get": {
        "operationId": "getUserPhotos",
        "summary": "Get a user's photos",
        "description": "Returns photos the user is tagged in or has uploaded.",
        "tags": [
          "User",
          "Photo"
        ],
        "parameters": [
          {
            "name": "user-id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "$ref": "#/components/parameters/fields"
          },
          {
            "$ref": "#/components/parameters/limit"
          },
          {
            "$ref": "#/components/parameters/after"
          },
          {
            "$ref": "#/components/parameters/before"
          }
        ],
        "responses": {
          "200": {
            "description": "Paginated list of photos",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/Photo"
                      }
                    },
                    "paging": {
                      "$ref": "#/components/schemas/CursorPaging"
                    }
                  }
                }
              }
            }
          }
        }
      },
      "post": {
        "operationId": "uploadUserPhoto",
        "summary": "Upload a photo",
        "description": "Uploads a photo to the user's profile.",
        "tags": [
          "User",
          "Photo"
        ],
        "parameters": [
          {
            "name": "user-id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "multipart/form-data": {
              "schema": {
                "type": "object",
                "properties": {
                  "source": {
                    "type": "string",
                    "format": "binary",
                    "description": "The photo file to upload."
                  },
                  "url": {
                    "type": "string",
                    "format": "uri",
                    "description": "URL of a photo to upload."
                  },
                  "message": {
                    "type": "string",
                    "description": "Caption for the photo."
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Photo uploaded",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "id": {
                      "type": "string"
                    },
                    "post_id": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/{album-id}": {
      "get": {
        "operationId": "getAlbum",
        "summary": "Get a photo album",
        "description": "Returns a photo album by ID.",
        "tags": [
          "Album"
        ],
        "parameters": [
          {
            "name": "album-id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "$ref": "#/components/parameters/fields"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Album"
                }
              }
            }
          }
        }
      }
    },
    "/{video-id}": {
      "get": {
        "operationId": "getVideo",
        "summary": "Get a video",
        "description": "Returns a video by ID.",
        "tags": [
          "Video"
        ],
        "parameters": [
          {
            "name": "video-id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "$ref": "#/components/parameters/fields"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Video"
                }
              }
            }
          }
        }
      }
    },
    "/{event-id}": {
      "get": {
        "operationId": "getEvent",
        "summary": "Get an event",
        "description": "Returns an event by ID.",
        "tags": [
          "Event"
        ],
        "parameters": [
          {
            "name": "event-id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "$ref": "#/components/parameters/fields"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Event"
                }
              }
            }
          }
        }
      }
    },
    "/debug_token": {
      "get": {
        "operationId": "debugToken",
        "summary": "Debug an access token",
        "description": "Returns metadata about a given access token, including whether it is valid, which user it was issued for, and what permissions it has.",
        "tags": [
          "Authentication"
        ],
        "parameters": [
          {
            "name": "input_token",
            "in": "query",
            "required": true,
            "description": "The access token to debug.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Token debug information",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "object",
                      "properties": {
                        "app_id": {
                          "type": "string"
                        },
                        "type": {
                          "type": "string"
                        },
                        "application": {
                          "type": "string"
                        },
                        "data_access_expires_at": {
                          "type": "integer"
                        },
                        "expires_at": {
                          "type": "integer"
                        },
                        "is_valid": {
                          "type": "boolean"
                        },
                        "scopes": {
                          "type": "array",
                          "items": {
                            "type": "string"
                          }
                        },
                        "user_id": {
                          "type": "string"
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/ads_archive": {
      "get": {
        "operationId": "searchAdsArchive",
        "summary": "Search the Ads Archive",
        "description": "Returns archived ads based on your search criteria.",
        "tags": [
          "Ads"
        ],
        "parameters": [
          {
            "name": "search_terms",
            "in": "query",
            "description": "Keyword(s) to search for in ad content.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "ad_reached_countries",
            "in": "query",
            "required": true,
            "description": "ISO country codes for countries where ads were shown.",
            "schema": {
              "type": "array",
              "items": {
                "type": "string"
              }
            }
          },
          {
            "name": "ad_type",
            "in": "query",
            "description": "Filter by ad type.",
            "schema": {
              "type": "string",
              "enum": [
                "ALL",
                "POLITICAL_AND_ISSUE_ADS"
              ]
            }
          },
          {
            "$ref": "#/components/parameters/fields"
          },
          {
            "$ref": "#/components/parameters/limit"
          }
        ],
        "responses": {
          "200": {
            "description": "List of ads",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object"
                      }
                    },
                    "paging": {
                      "$ref": "#/components/schemas/CursorPaging"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/{post-id}/reactions": {
      "get": {
        "operationId": "getPostReactions",
        "summary": "Get reactions on a post",
        "description": "Returns reactions (like, love, wow, haha, sad, angry) on a post.",
        "tags": [
          "Post"
        ],
        "parameters": [
          {
            "name": "post-id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "type",
            "in": "query",
            "description": "Filter by reaction type.",
            "schema": {
              "type": "string",
              "enum": [
                "LIKE",
                "LOVE",
                "WOW",
                "HAHA",
                "SAD",
                "ANGRY",
                "NONE"
              ]
            }
          },
          {
            "$ref": "#/components/parameters/limit"
          },
          {
            "$ref": "#/components/parameters/after"
          },
          {
            "$ref": "#/components/parameters/before"
          }
        ],
        "responses": {
          "200": {
            "description": "Paginated list of reactions",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "id": {
                            "type": "string"
                          },
                          "name": {
                            "type": "string"
                          },
                          "type": {
                            "type": "string"
                          }
                        }
                      }
                    },
                    "paging": {
                      "$ref": "#/components/schemas/CursorPaging"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/{conversation-id}": {
      "get": {
        "operationId": "getConversation",
        "summary": "Get a conversation",
        "description": "Returns a conversation from the messaging system.",
        "tags": [
          "Messaging"
        ],
        "parameters": [
          {
            "name": "conversation-id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "$ref": "#/components/parameters/fields"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "id": {
                      "type": "string"
                    },
                    "snippet": {
                      "type": "string"
                    },
                    "updated_time": {
                      "type": "string",
                      "format": "date-time"
                    },
                    "message_count": {
                      "type": "integer"
                    }
                  }
                }
              }
            }
          }
        }
      }
    }
  },
  "components": {
    "securitySchemes": {
      "accessToken": {
        "type": "apiKey",
        "in": "query",
        "name": "access_token",
        "description": "OAuth 2.0 access token. Can also be passed via the Authorization header as 'Bearer {token}'."
      }
    },
    "parameters": {
      "fields": {
        "name": "fields",
        "in": "query",
        "description": "Comma-separated list of fields to include in the response.",
        "schema": {
          "type": "string"
        }
      },
      "limit": {
        "name": "limit",
        "in": "query",
        "description": "Maximum number of results to return.",
        "schema": {
          "type": "integer",
          "default": 25
        }
      },
      "after": {
        "name": "after",
        "in": "query",
        "description": "Cursor for forward pagination.",
        "schema": {
          "type": "string"
        }
      },
      "before": {
        "name": "before",
        "in": "query",
        "description": "Cursor for backward pagination.",
        "schema": {
          "type": "string"
        }
      }
    },
    "responses": {
      "BadRequest": {
        "description": "Bad request",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/Error"
            }
          }
        }
      },
      "Unauthorized": {
        "description": "Invalid or expired access token",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/Error"
            }
          }
        }
      }
    },
    "schemas": {
      "User": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "description": "App-scoped user ID."
          },
          "first_name": {
            "type": "string",
            "description": "First name."
          },
          "last_name": {
            "type": "string",
            "description": "Last name."
          },
          "name": {
            "type": "string",
            "description": "Full name."
          },
          "email": {
            "type": "string",
            "description": "Primary email address. Requires email permission."
          },
          "gender": {
            "type": "string",
            "description": "Gender (male, female, or custom value)."
          },
          "birthday": {
            "type": "string",
            "description": "Birthday in MM/DD/YYYY format."
          },
          "picture": {
            "type": "object",
            "properties": {
              "data": {
                "type": "object",
                "properties": {
                  "url": {
                    "type": "string",
                    "format": "uri"
                  },
                  "width": {
                    "type": "integer"
                  },
                  "height": {
                    "type": "integer"
                  },
                  "is_silhouette": {
                    "type": "boolean"
                  }
                }
              }
            }
          },
          "locale": {
            "type": "string",
            "description": "User's locale."
          },
          "timezone": {
            "type": "number",
            "format": "float",
            "description": "UTC timezone offset."
          },
          "link": {
            "type": "string",
            "format": "uri",
            "description": "Link to the user's Timeline."
          }
        }
      },
      "Page": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "description": "Page ID."
          },
          "name": {
            "type": "string",
            "description": "Page name."
          },
          "about": {
            "type": "string",
            "description": "Page information (max 100 characters)."
          },
          "category": {
            "type": "string",
            "description": "Page category."
          },
          "fan_count": {
            "type": "integer",
            "description": "Number of page likes."
          },
          "link": {
            "type": "string",
            "format": "uri",
            "description": "The Page's Facebook URL."
          },
          "username": {
            "type": "string",
            "description": "Page alias / vanity URL."
          },
          "verified": {
            "type": "boolean",
            "description": "Whether the Page is verified."
          },
          "website": {
            "type": "string",
            "description": "Business website URL."
          },
          "phone": {
            "type": "string",
            "description": "Phone number."
          },
          "emails": {
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "location": {
            "type": "object",
            "properties": {
              "city": {
                "type": "string"
              },
              "country": {
                "type": "string"
              },
              "latitude": {
                "type": "number"
              },
              "longitude": {
                "type": "number"
              },
              "street": {
                "type": "string"
              },
              "zip": {
                "type": "string"
              }
            }
          }
        }
      },
      "Post": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "description": "The post ID."
          },
          "message": {
            "type": "string",
            "description": "The text content of the post."
          },
          "story": {
            "type": "string",
            "description": "Auto-generated story text (e.g. 'User updated their profile picture')."
          },
          "created_time": {
            "type": "string",
            "format": "date-time",
            "description": "The time the post was published."
          },
          "updated_time": {
            "type": "string",
            "format": "date-time",
            "description": "The time the post was last updated."
          },
          "from": {
            "type": "object",
            "properties": {
              "id": {
                "type": "string"
              },
              "name": {
                "type": "string"
              }
            }
          },
          "permalink_url": {
            "type": "string",
            "format": "uri",
            "description": "Permanent link to the post."
          },
          "status_type": {
            "type": "string",
            "description": "Type of status update."
          },
          "shares": {
            "type": "object",
            "properties": {
              "count": {
                "type": "integer"
              }
            }
          },
          "privacy": {
            "type": "object",
            "properties": {
              "value": {
                "type": "string",
                "enum": [
                  "EVERYONE",
                  "ALL_FRIENDS",
                  "FRIENDS_OF_FRIENDS",
                  "SELF",
                  "CUSTOM"
                ]
              },
              "description": {
                "type": "string"
              }
            }
          }
        }
      },
      "Comment": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "description": "The comment ID."
          },
          "message": {
            "type": "string",
            "description": "The comment text."
          },
          "created_time": {
            "type": "string",
            "format": "date-time"
          },
          "from": {
            "type": "object",
            "properties": {
              "id": {
                "type": "string"
              },
              "name": {
                "type": "string"
              }
            }
          },
          "like_count": {
            "type": "integer"
          },
          "comment_count": {
            "type": "integer",
            "description": "Number of replies."
          }
        }
      },
      "Photo": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string"
          },
          "name": {
            "type": "string",
            "description": "Caption for the photo."
          },
          "link": {
            "type": "string",
            "format": "uri"
          },
          "created_time": {
            "type": "string",
            "format": "date-time"
          },
          "width": {
            "type": "integer"
          },
          "height": {
            "type": "integer"
          },
          "images": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "source": {
                  "type": "string",
                  "format": "uri"
                },
                "width": {
                  "type": "integer"
                },
                "height": {
                  "type": "integer"
                }
              }
            }
          }
        }
      },
      "Album": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string"
          },
          "name": {
            "type": "string"
          },
          "description": {
            "type": "string"
          },
          "count": {
            "type": "integer",
            "description": "Number of photos in the album."
          },
          "created_time": {
            "type": "string",
            "format": "date-time"
          },
          "type": {
            "type": "string",
            "description": "Album type (e.g. profile, wall, normal)."
          },
          "link": {
            "type": "string",
            "format": "uri"
          }
        }
      },
      "Video": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string"
          },
          "title": {
            "type": "string"
          },
          "description": {
            "type": "string"
          },
          "created_time": {
            "type": "string",
            "format": "date-time"
          },
          "length": {
            "type": "number",
            "description": "Duration in seconds."
          },
          "source": {
            "type": "string",
            "format": "uri",
            "description": "URL for the video content."
          },
          "permalink_url": {
            "type": "string",
            "format": "uri"
          }
        }
      },
      "Event": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string"
          },
          "name": {
            "type": "string"
          },
          "description": {
            "type": "string"
          },
          "start_time": {
            "type": "string",
            "format": "date-time"
          },
          "end_time": {
            "type": "string",
            "format": "date-time"
          },
          "place": {
            "type": "object",
            "properties": {
              "name": {
                "type": "string"
              },
              "location": {
                "type": "object",
                "properties": {
                  "city": {
                    "type": "string"
                  },
                  "country": {
                    "type": "string"
                  },
                  "latitude": {
                    "type": "number"
                  },
                  "longitude": {
                    "type": "number"
                  }
                }
              }
            }
          }
        }
      },
      "PaginatedPosts": {
        "type": "object",
        "properties": {
          "data": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Post"
            }
          },
          "paging": {
            "$ref": "#/components/schemas/CursorPaging"
          }
        }
      },
      "PaginatedComments": {
        "type": "object",
        "properties": {
          "data": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Comment"
            }
          },
          "paging": {
            "$ref": "#/components/schemas/CursorPaging"
          }
        }
      },
      "CursorPaging": {
        "type": "object",
        "properties": {
          "cursors": {
            "type": "object",
            "properties": {
              "before": {
                "type": "string"
              },
              "after": {
                "type": "string"
              }
            }
          },
          "next": {
            "type": "string",
            "format": "uri"
          },
          "previous": {
            "type": "string",
            "format": "uri"
          }
        }
      },
      "SuccessResponse": {
        "type": "object",
        "properties": {
          "success": {
            "type": "boolean"
          }
        }
      },
      "Error": {
        "type": "object",
        "properties": {
          "error": {
            "type": "object",
            "properties": {
              "message": {
                "type": "string"
              },
              "type": {
                "type": "string"
              },
              "code": {
                "type": "integer"
              },
              "error_subcode": {
                "type": "integer"
              },
              "fbtrace_id": {
                "type": "string"
              }
            }
          }
        }
      }
    }
  },
  "tags": [
    {
      "name": "Ads"
    },
    {
      "name": "Album"
    },
    {
      "name": "Authentication"
    },
    {
      "name": "Comment"
    },
    {
      "name": "Event"
    },
    {
      "name": "Messaging"
    },
    {
      "name": "Page"
    },
    {
      "name": "Photo"
    },
    {
      "name": "Post"
    },
    {
      "name": "User"
    },
    {
      "name": "Video"
    }
  ]
}
