{
  "openapi": "3.0.3",
  "info": {
    "title": "REST Countries API",
    "version": "3.1",
    "description": "Get information about countries via a RESTful API. Provides data on names, capitals, currencies, languages, regions, flags, and more for all countries.",
    "x-jentic-source-url": "https://restcountries.com/",
    "contact": {
      "name": "API Support"
    }
  },
  "servers": [
    {
      "url": "https://restcountries.com/v3.1"
    }
  ],
  "paths": {
    "/all": {
      "get": {
        "operationId": "getAllCountries",
        "summary": "Get all countries",
        "description": "Retrieve information about all countries. Specify fields parameter to select which fields to return.",
        "tags": [
          "Countries"
        ],
        "parameters": [
          {
            "name": "fields",
            "in": "query",
            "description": "Comma-separated list of fields to return (e.g., name,capital,currencies)",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Country"
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/name/{name}": {
      "get": {
        "operationId": "getCountryByName",
        "summary": "Search by country name",
        "description": "Search by country name (common or official value).",
        "tags": [
          "Countries"
        ],
        "parameters": [
          {
            "name": "name",
            "in": "path",
            "required": true,
            "description": "Country name to search for",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "fullText",
            "in": "query",
            "description": "Set to true to search by full name only",
            "schema": {
              "type": "boolean"
            }
          },
          {
            "name": "fields",
            "in": "query",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Country"
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "404": {
            "description": "Country not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/alpha/{code}": {
      "get": {
        "operationId": "getCountryByCode",
        "summary": "Search by country code",
        "description": "Search by cca2, ccn3, cca3, or cioc country code.",
        "tags": [
          "Countries"
        ],
        "parameters": [
          {
            "name": "code",
            "in": "path",
            "required": true,
            "description": "Country code (cca2, ccn3, cca3, or cioc)",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "fields",
            "in": "query",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Country"
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "404": {
            "description": "Country not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/alpha": {
      "get": {
        "operationId": "getCountriesByCodes",
        "summary": "Search by list of codes",
        "description": "Search by multiple country codes at once.",
        "tags": [
          "Countries"
        ],
        "parameters": [
          {
            "name": "codes",
            "in": "query",
            "required": true,
            "description": "Comma-separated list of country codes",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "fields",
            "in": "query",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Country"
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/currency/{currency}": {
      "get": {
        "operationId": "getCountriesByCurrency",
        "summary": "Search by currency",
        "description": "Search by currency code or name.",
        "tags": [
          "Countries"
        ],
        "parameters": [
          {
            "name": "currency",
            "in": "path",
            "required": true,
            "description": "Currency code or name",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "fields",
            "in": "query",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Country"
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/lang/{language}": {
      "get": {
        "operationId": "getCountriesByLanguage",
        "summary": "Search by language",
        "description": "Search by language code or name.",
        "tags": [
          "Countries"
        ],
        "parameters": [
          {
            "name": "language",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "fields",
            "in": "query",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Country"
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/capital/{capital}": {
      "get": {
        "operationId": "getCountriesByCapital",
        "summary": "Search by capital city",
        "description": "Search by capital city name.",
        "tags": [
          "Countries"
        ],
        "parameters": [
          {
            "name": "capital",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "fields",
            "in": "query",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Country"
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/region/{region}": {
      "get": {
        "operationId": "getCountriesByRegion",
        "summary": "Filter by region",
        "description": "Filter countries by region.",
        "tags": [
          "Countries"
        ],
        "parameters": [
          {
            "name": "region",
            "in": "path",
            "required": true,
            "description": "Region name (e.g., europe, americas, asia, africa, oceania)",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "fields",
            "in": "query",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Country"
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/subregion/{subregion}": {
      "get": {
        "operationId": "getCountriesBySubregion",
        "summary": "Filter by subregion",
        "description": "Filter countries by subregion.",
        "tags": [
          "Countries"
        ],
        "parameters": [
          {
            "name": "subregion",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "fields",
            "in": "query",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Country"
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/demonym/{demonym}": {
      "get": {
        "operationId": "getCountriesByDemonym",
        "summary": "Search by demonym",
        "description": "Search by how a citizen of the country is called.",
        "tags": [
          "Countries"
        ],
        "parameters": [
          {
            "name": "demonym",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "fields",
            "in": "query",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Country"
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/translation/{translation}": {
      "get": {
        "operationId": "getCountriesByTranslation",
        "summary": "Search by translation",
        "description": "Search by any translation name.",
        "tags": [
          "Countries"
        ],
        "parameters": [
          {
            "name": "translation",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "fields",
            "in": "query",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Country"
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/independent": {
      "get": {
        "operationId": "getIndependentCountries",
        "summary": "Get independent countries",
        "description": "Get all independent (or non-independent) countries.",
        "tags": [
          "Countries"
        ],
        "parameters": [
          {
            "name": "status",
            "in": "query",
            "description": "Set to true for independent, false for non-independent",
            "schema": {
              "type": "boolean",
              "default": true
            }
          },
          {
            "name": "fields",
            "in": "query",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Country"
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    }
  },
  "components": {
    "schemas": {
      "Country": {
        "type": "object",
        "properties": {
          "name": {
            "type": "object",
            "properties": {
              "common": {
                "type": "string"
              },
              "official": {
                "type": "string"
              },
              "nativeName": {
                "type": "object"
              }
            }
          },
          "tld": {
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "cca2": {
            "type": "string"
          },
          "ccn3": {
            "type": "string"
          },
          "cca3": {
            "type": "string"
          },
          "cioc": {
            "type": "string"
          },
          "independent": {
            "type": "boolean"
          },
          "status": {
            "type": "string"
          },
          "unMember": {
            "type": "boolean"
          },
          "currencies": {
            "type": "object"
          },
          "idd": {
            "type": "object",
            "properties": {
              "root": {
                "type": "string"
              },
              "suffixes": {
                "type": "array",
                "items": {
                  "type": "string"
                }
              }
            }
          },
          "capital": {
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "altSpellings": {
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "region": {
            "type": "string"
          },
          "subregion": {
            "type": "string"
          },
          "languages": {
            "type": "object"
          },
          "translations": {
            "type": "object"
          },
          "latlng": {
            "type": "array",
            "items": {
              "type": "number"
            }
          },
          "landlocked": {
            "type": "boolean"
          },
          "borders": {
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "area": {
            "type": "number"
          },
          "demonyms": {
            "type": "object"
          },
          "flag": {
            "type": "string"
          },
          "maps": {
            "type": "object",
            "properties": {
              "googleMaps": {
                "type": "string"
              },
              "openStreetMaps": {
                "type": "string"
              }
            }
          },
          "population": {
            "type": "integer"
          },
          "gini": {
            "type": "object"
          },
          "fifa": {
            "type": "string"
          },
          "car": {
            "type": "object",
            "properties": {
              "signs": {
                "type": "array",
                "items": {
                  "type": "string"
                }
              },
              "side": {
                "type": "string"
              }
            }
          },
          "timezones": {
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "continents": {
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "flags": {
            "type": "object",
            "properties": {
              "png": {
                "type": "string"
              },
              "svg": {
                "type": "string"
              },
              "alt": {
                "type": "string"
              }
            }
          },
          "coatOfArms": {
            "type": "object",
            "properties": {
              "png": {
                "type": "string"
              },
              "svg": {
                "type": "string"
              }
            }
          },
          "startOfWeek": {
            "type": "string"
          },
          "capitalInfo": {
            "type": "object",
            "properties": {
              "latlng": {
                "type": "array",
                "items": {
                  "type": "number"
                }
              }
            }
          },
          "postalCode": {
            "type": "object",
            "properties": {
              "format": {
                "type": "string"
              },
              "regex": {
                "type": "string"
              }
            }
          }
        }
      },
      "ErrorResponse": {
        "type": "object",
        "properties": {
          "status": {
            "type": "integer"
          },
          "message": {
            "type": "string"
          }
        }
      }
    }
  },
  "tags": [
    {
      "name": "Countries"
    }
  ]
}
