{
  "openapi": "3.0.1",
  "info": {
    "title": "Teravoz API",
    "description": "**Integrate your applications with Teravoz telephony system**\n\nUse this API to manage ongoing calls.\n",
    "version": "0.0.1",
    "x-jentic-source-url": "https://api.swaggerhub.com/apis/saroka/teravoz/0.0.1",
    "contact": {
      "name": "API Support"
    }
  },
  "servers": [
    {
      "url": "https://api.teravoz.com.br/v1"
    }
  ],
  "paths": {
    "/call": {
      "get": {
        "parameters": [
          {
            "name": "limit",
            "in": "query",
            "description": "number of ongoing calls to return",
            "schema": {
              "maximum": 10000,
              "minimum": 1,
              "type": "integer",
              "default": 10
            }
          }
        ],
        "responses": {
          "200": {
            "description": "List all ongoing calls",
            "content": {
              "application/json": {
                "schema": {
                  "title": "Calls",
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Call"
                  }
                }
              }
            }
          }
        },
        "description": "GET /call",
        "operationId": "get_call",
        "tags": [
          "call"
        ]
      }
    },
    "/call/{callId}": {
      "get": {
        "parameters": [
          {
            "name": "callId",
            "in": "path",
            "description": "ID of the call",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Sends the pet with pet Id",
            "content": {}
          }
        },
        "description": "GET /call/{callId}",
        "operationId": "get_call_callId",
        "tags": [
          "call"
        ]
      }
    }
  },
  "components": {
    "schemas": {
      "Call": {
        "type": "object",
        "properties": {
          "caller": {
            "type": "string"
          }
        }
      }
    }
  },
  "x-original-swagger-version": "2.0",
  "tags": [
    {
      "name": "call"
    }
  ]
}
