{
  "openapi": "3.0.3",
  "info": {
    "title": "Xeneta API",
    "version": "2.0",
    "description": "Xeneta is a freight rate intelligence and benchmarking platform. The API provides access to ocean and air freight rate data, port-to-port and corridor pricing, market trends, and rate benchmarking. Supports real-time and historical freight rate analysis.",
    "x-jentic-source-url": "https://api.xeneta.com/",
    "contact": {
      "name": "API Support"
    }
  },
  "servers": [
    {
      "url": "https://api.xeneta.com/v2"
    }
  ],
  "paths": {
    "/ocean/rates/spot": {
      "get": {
        "operationId": "getOceanSpotRates",
        "summary": "Get ocean spot rates",
        "description": "Returns current spot rates for ocean freight between ports.",
        "tags": [
          "Ocean Rates"
        ],
        "parameters": [
          {
            "name": "origin",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Origin port UN/LOCODE"
          },
          {
            "name": "destination",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Destination port UN/LOCODE"
          },
          {
            "name": "container_type",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "enum": [
                "20DC",
                "40DC",
                "40HC"
              ],
              "default": "40DC"
            }
          },
          {
            "name": "date",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "format": "date"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Spot rates",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/OceanRate"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/ocean/rates/contract": {
      "get": {
        "operationId": "getOceanContractRates",
        "summary": "Get ocean contract rates",
        "description": "Returns current long-term contract rates for ocean freight.",
        "tags": [
          "Ocean Rates"
        ],
        "parameters": [
          {
            "name": "origin",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "destination",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "container_type",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "enum": [
                "20DC",
                "40DC",
                "40HC"
              ]
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Contract rates",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/OceanRate"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/ocean/rates/history": {
      "get": {
        "operationId": "getOceanRateHistory",
        "summary": "Get ocean rate history",
        "description": "Returns historical time series of ocean freight rates.",
        "tags": [
          "Ocean Rates"
        ],
        "parameters": [
          {
            "name": "origin",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "destination",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "from",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string",
              "format": "date"
            }
          },
          {
            "name": "to",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string",
              "format": "date"
            }
          },
          {
            "name": "container_type",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "enum": [
                "20DC",
                "40DC",
                "40HC"
              ]
            }
          },
          {
            "name": "rate_type",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "enum": [
                "spot",
                "contract"
              ]
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Rate history",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RateTimeSeries"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/air/rates": {
      "get": {
        "operationId": "getAirRates",
        "summary": "Get air freight rates",
        "description": "Returns current air freight rates between airports.",
        "tags": [
          "Air Rates"
        ],
        "parameters": [
          {
            "name": "origin",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "destination",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "weight_break",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "enum": [
                "M",
                "N",
                "+45",
                "+100",
                "+300",
                "+500",
                "+1000"
              ]
            }
          },
          {
            "name": "date",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "format": "date"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Air rates",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AirRate"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/air/rates/history": {
      "get": {
        "operationId": "getAirRateHistory",
        "summary": "Get air rate history",
        "tags": [
          "Air Rates"
        ],
        "parameters": [
          {
            "name": "origin",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "destination",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "from",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string",
              "format": "date"
            }
          },
          {
            "name": "to",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string",
              "format": "date"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Air rate history",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RateTimeSeries"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "description": "Get air rate history"
      }
    },
    "/locations/ports": {
      "get": {
        "operationId": "listPorts",
        "summary": "List ports",
        "description": "Returns available ports and locations.",
        "tags": [
          "Ports"
        ],
        "parameters": [
          {
            "name": "search",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "country",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "type",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "enum": [
                "port",
                "airport",
                "region"
              ]
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Port list",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/Location"
                      }
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/locations/ports/{locode}": {
      "get": {
        "operationId": "getPort",
        "summary": "Get port details",
        "tags": [
          "Ports"
        ],
        "parameters": [
          {
            "name": "locode",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Port details",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Location"
                }
              }
            }
          },
          "404": {
            "description": "Not found"
          }
        },
        "description": "Get port details"
      }
    },
    "/corridors": {
      "get": {
        "operationId": "listCorridors",
        "summary": "List trade corridors",
        "tags": [
          "Trends"
        ],
        "responses": {
          "200": {
            "description": "Corridor list",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/Corridor"
                      }
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "description": "List trade corridors"
      }
    },
    "/corridors/{id}/trends": {
      "get": {
        "operationId": "getCorridorTrends",
        "summary": "Get corridor market trends",
        "tags": [
          "Trends"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "from",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "format": "date"
            }
          },
          {
            "name": "to",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "format": "date"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Corridor trend data",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RateTimeSeries"
                }
              }
            }
          },
          "404": {
            "description": "Not found"
          }
        },
        "description": "Get corridor market trends"
      }
    },
    "/benchmark": {
      "post": {
        "operationId": "benchmarkRates",
        "summary": "Benchmark freight rates",
        "description": "Compares contracted rates against market data.",
        "tags": [
          "Benchmarking"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "origin",
                  "destination",
                  "contracted_rate"
                ],
                "properties": {
                  "origin": {
                    "type": "string"
                  },
                  "destination": {
                    "type": "string"
                  },
                  "contracted_rate": {
                    "type": "number"
                  },
                  "container_type": {
                    "type": "string"
                  },
                  "currency": {
                    "type": "string",
                    "default": "USD"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Benchmark result",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BenchmarkResult"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    }
  },
  "components": {
    "schemas": {
      "ErrorResponse": {
        "type": "object",
        "properties": {
          "error": {
            "type": "string"
          },
          "message": {
            "type": "string"
          },
          "code": {
            "type": "string"
          }
        }
      },
      "OceanRate": {
        "type": "object",
        "properties": {
          "origin": {
            "$ref": "#/components/schemas/Location"
          },
          "destination": {
            "$ref": "#/components/schemas/Location"
          },
          "date": {
            "type": "string",
            "format": "date"
          },
          "market_low": {
            "type": "number"
          },
          "market_average": {
            "type": "number"
          },
          "market_high": {
            "type": "number"
          },
          "currency": {
            "type": "string"
          },
          "container_type": {
            "type": "string",
            "enum": [
              "20DC",
              "40DC",
              "40HC"
            ]
          },
          "provider_count": {
            "type": "integer"
          }
        }
      },
      "AirRate": {
        "type": "object",
        "properties": {
          "origin": {
            "$ref": "#/components/schemas/Location"
          },
          "destination": {
            "$ref": "#/components/schemas/Location"
          },
          "date": {
            "type": "string",
            "format": "date"
          },
          "rate_per_kg": {
            "type": "number"
          },
          "currency": {
            "type": "string"
          },
          "weight_break": {
            "type": "string"
          }
        }
      },
      "Location": {
        "type": "object",
        "properties": {
          "locode": {
            "type": "string",
            "description": "UN/LOCODE"
          },
          "name": {
            "type": "string"
          },
          "country": {
            "type": "string"
          },
          "country_code": {
            "type": "string"
          },
          "type": {
            "type": "string",
            "enum": [
              "port",
              "airport",
              "region"
            ]
          }
        }
      },
      "RateTimeSeries": {
        "type": "object",
        "properties": {
          "origin": {
            "type": "string"
          },
          "destination": {
            "type": "string"
          },
          "data": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "date": {
                  "type": "string",
                  "format": "date"
                },
                "low": {
                  "type": "number"
                },
                "average": {
                  "type": "number"
                },
                "high": {
                  "type": "number"
                }
              }
            }
          }
        }
      },
      "Corridor": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string"
          },
          "name": {
            "type": "string"
          },
          "origin_region": {
            "type": "string"
          },
          "destination_region": {
            "type": "string"
          }
        }
      },
      "BenchmarkResult": {
        "type": "object",
        "properties": {
          "contracted_rate": {
            "type": "number"
          },
          "market_average": {
            "type": "number"
          },
          "market_low": {
            "type": "number"
          },
          "market_high": {
            "type": "number"
          },
          "percentile": {
            "type": "number"
          },
          "savings_potential": {
            "type": "number"
          }
        }
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "scheme": "bearer",
        "description": "Bearer authentication token from Xeneta"
      }
    }
  },
  "security": [
    {
      "bearerAuth": []
    }
  ],
  "tags": [
    {
      "name": "Ocean Rates",
      "description": "Ocean freight rate data"
    },
    {
      "name": "Air Rates",
      "description": "Air freight rate data"
    },
    {
      "name": "Ports",
      "description": "Port and location data"
    },
    {
      "name": "Trends",
      "description": "Market trend analysis"
    },
    {
      "name": "Benchmarking",
      "description": "Rate benchmarking"
    }
  ]
}
