{
  "openapi": "3.0.3",
  "info": {
    "title": "Exchangerate.host API",
    "description": "Free foreign exchange rates API with currency conversion, historical rates, time-series data, fluctuation data, and EU VAT compliance features.",
    "version": "1.0.0",
    "x-jentic-source-url": "https://exchangerate.host",
    "contact": {
      "name": "API Support"
    }
  },
  "servers": [
    {
      "url": "https://api.exchangerate.host",
      "description": "Production"
    }
  ],
  "security": [
    {
      "apiKey": []
    }
  ],
  "tags": [
    {
      "name": "Exchange Rates",
      "description": "Current and historical exchange rates"
    },
    {
      "name": "Conversion",
      "description": "Currency conversion"
    },
    {
      "name": "Time Series",
      "description": "Time-series and fluctuation data"
    },
    {
      "name": "Reference",
      "description": "Supported currencies and symbols"
    },
    {
      "name": "EU VAT",
      "description": "EU VAT rate information"
    }
  ],
  "paths": {
    "/live": {
      "get": {
        "operationId": "getLiveRates",
        "summary": "Get live exchange rates",
        "tags": [
          "Exchange Rates"
        ],
        "parameters": [
          {
            "name": "access_key",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "API access key"
          },
          {
            "name": "source",
            "in": "query",
            "schema": {
              "type": "string",
              "default": "USD"
            },
            "description": "Source currency"
          },
          {
            "name": "currencies",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "description": "Comma-separated target currencies"
          }
        ],
        "responses": {
          "200": {
            "description": "Live exchange rates",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/LiveRatesResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        },
        "description": "Get live exchange rates"
      }
    },
    "/historical": {
      "get": {
        "operationId": "getHistoricalRates",
        "summary": "Get historical exchange rates",
        "tags": [
          "Exchange Rates"
        ],
        "parameters": [
          {
            "name": "access_key",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "date",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string",
              "format": "date"
            },
            "description": "Historical date (YYYY-MM-DD)"
          },
          {
            "name": "source",
            "in": "query",
            "schema": {
              "type": "string",
              "default": "USD"
            }
          },
          {
            "name": "currencies",
            "in": "query",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Historical rates",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HistoricalRatesResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        },
        "description": "Get historical exchange rates"
      }
    },
    "/convert": {
      "get": {
        "operationId": "convertCurrency",
        "summary": "Convert currency amounts",
        "tags": [
          "Conversion"
        ],
        "parameters": [
          {
            "name": "access_key",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "from",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Source currency code"
          },
          {
            "name": "to",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Target currency code"
          },
          {
            "name": "amount",
            "in": "query",
            "required": true,
            "schema": {
              "type": "number"
            },
            "description": "Amount to convert"
          },
          {
            "name": "date",
            "in": "query",
            "schema": {
              "type": "string",
              "format": "date"
            },
            "description": "Optional historical date"
          }
        ],
        "responses": {
          "200": {
            "description": "Conversion result",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ConvertResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        },
        "description": "Convert currency amounts"
      }
    },
    "/timeframe": {
      "get": {
        "operationId": "getTimeframe",
        "summary": "Get time-series exchange rate data",
        "tags": [
          "Time Series"
        ],
        "parameters": [
          {
            "name": "access_key",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "start_date",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string",
              "format": "date"
            }
          },
          {
            "name": "end_date",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string",
              "format": "date"
            }
          },
          {
            "name": "source",
            "in": "query",
            "schema": {
              "type": "string",
              "default": "USD"
            }
          },
          {
            "name": "currencies",
            "in": "query",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Time-series data",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TimeframeResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        },
        "description": "Get time-series exchange rate data"
      }
    },
    "/change": {
      "get": {
        "operationId": "getChange",
        "summary": "Get currency change/fluctuation data",
        "tags": [
          "Time Series"
        ],
        "parameters": [
          {
            "name": "access_key",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "start_date",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string",
              "format": "date"
            }
          },
          {
            "name": "end_date",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string",
              "format": "date"
            }
          },
          {
            "name": "source",
            "in": "query",
            "schema": {
              "type": "string",
              "default": "USD"
            }
          },
          {
            "name": "currencies",
            "in": "query",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Change/fluctuation data",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ChangeResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        },
        "description": "Get currency change/fluctuation data"
      }
    },
    "/list": {
      "get": {
        "operationId": "listCurrencies",
        "summary": "Get supported currencies",
        "tags": [
          "Reference"
        ],
        "parameters": [
          {
            "name": "access_key",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "List of currencies",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ListResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        },
        "description": "Get supported currencies"
      }
    },
    "/vat_rates": {
      "get": {
        "operationId": "getVatRates",
        "summary": "Get EU VAT rates",
        "description": "Returns current VAT rates for all EU member states.",
        "tags": [
          "EU VAT"
        ],
        "parameters": [
          {
            "name": "access_key",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "VAT rate data",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/VatRatesResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/vat_rates/price": {
      "get": {
        "operationId": "calculateVatPrice",
        "summary": "Calculate price with VAT",
        "description": "Calculates a price inclusive/exclusive of VAT for a specific country.",
        "tags": [
          "EU VAT"
        ],
        "parameters": [
          {
            "name": "access_key",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "amount",
            "in": "query",
            "required": true,
            "schema": {
              "type": "number"
            }
          },
          {
            "name": "country_code",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "2-letter ISO country code"
          },
          {
            "name": "type",
            "in": "query",
            "schema": {
              "type": "string",
              "enum": [
                "standard",
                "reduced",
                "reduced_alt",
                "super_reduced",
                "parking"
              ]
            },
            "description": "VAT type"
          }
        ],
        "responses": {
          "200": {
            "description": "VAT calculation result",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/VatPriceResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    }
  },
  "components": {
    "securitySchemes": {
      "apiKey": {
        "type": "apiKey",
        "name": "access_key",
        "in": "query"
      }
    },
    "schemas": {
      "Error": {
        "type": "object",
        "properties": {
          "success": {
            "type": "boolean"
          },
          "error": {
            "type": "object",
            "properties": {
              "code": {
                "type": "integer"
              },
              "type": {
                "type": "string"
              },
              "info": {
                "type": "string"
              }
            }
          }
        }
      },
      "LiveRatesResponse": {
        "type": "object",
        "properties": {
          "success": {
            "type": "boolean"
          },
          "terms": {
            "type": "string"
          },
          "privacy": {
            "type": "string"
          },
          "timestamp": {
            "type": "integer"
          },
          "source": {
            "type": "string"
          },
          "quotes": {
            "type": "object",
            "additionalProperties": {
              "type": "number"
            }
          }
        }
      },
      "HistoricalRatesResponse": {
        "type": "object",
        "properties": {
          "success": {
            "type": "boolean"
          },
          "historical": {
            "type": "boolean"
          },
          "date": {
            "type": "string",
            "format": "date"
          },
          "timestamp": {
            "type": "integer"
          },
          "source": {
            "type": "string"
          },
          "quotes": {
            "type": "object",
            "additionalProperties": {
              "type": "number"
            }
          }
        }
      },
      "ConvertResponse": {
        "type": "object",
        "properties": {
          "success": {
            "type": "boolean"
          },
          "query": {
            "type": "object",
            "properties": {
              "from": {
                "type": "string"
              },
              "to": {
                "type": "string"
              },
              "amount": {
                "type": "number"
              }
            }
          },
          "info": {
            "type": "object",
            "properties": {
              "timestamp": {
                "type": "integer"
              },
              "quote": {
                "type": "number"
              }
            }
          },
          "result": {
            "type": "number"
          }
        }
      },
      "TimeframeResponse": {
        "type": "object",
        "properties": {
          "success": {
            "type": "boolean"
          },
          "timeframe": {
            "type": "boolean"
          },
          "start_date": {
            "type": "string",
            "format": "date"
          },
          "end_date": {
            "type": "string",
            "format": "date"
          },
          "source": {
            "type": "string"
          },
          "quotes": {
            "type": "object",
            "additionalProperties": {
              "type": "object",
              "additionalProperties": {
                "type": "number"
              }
            }
          }
        }
      },
      "ChangeResponse": {
        "type": "object",
        "properties": {
          "success": {
            "type": "boolean"
          },
          "change": {
            "type": "boolean"
          },
          "start_date": {
            "type": "string",
            "format": "date"
          },
          "end_date": {
            "type": "string",
            "format": "date"
          },
          "source": {
            "type": "string"
          },
          "quotes": {
            "type": "object",
            "additionalProperties": {
              "type": "object",
              "properties": {
                "start_rate": {
                  "type": "number"
                },
                "end_rate": {
                  "type": "number"
                },
                "change": {
                  "type": "number"
                },
                "change_pct": {
                  "type": "number"
                }
              }
            }
          }
        }
      },
      "ListResponse": {
        "type": "object",
        "properties": {
          "success": {
            "type": "boolean"
          },
          "currencies": {
            "type": "object",
            "additionalProperties": {
              "type": "string"
            }
          }
        }
      },
      "VatRatesResponse": {
        "type": "object",
        "properties": {
          "success": {
            "type": "boolean"
          },
          "rates": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/VatRate"
            }
          }
        }
      },
      "VatRate": {
        "type": "object",
        "properties": {
          "country_name": {
            "type": "string"
          },
          "country_code": {
            "type": "string"
          },
          "standard_rate": {
            "type": "number"
          },
          "reduced_rates": {
            "type": "object",
            "additionalProperties": {
              "type": "number"
            }
          }
        }
      },
      "VatPriceResponse": {
        "type": "object",
        "properties": {
          "success": {
            "type": "boolean"
          },
          "country_code": {
            "type": "string"
          },
          "country_name": {
            "type": "string"
          },
          "standard_rate": {
            "type": "number"
          },
          "vat_rate": {
            "type": "number"
          },
          "price_excl_vat": {
            "type": "number"
          },
          "price_incl_vat": {
            "type": "number"
          },
          "vat_amount": {
            "type": "number"
          }
        }
      }
    }
  }
}
