{
  "openapi": "3.0.3",
  "info": {
    "title": "Bugsnag Data Access API",
    "version": "2.0.0",
    "description": "The Bugsnag Data Access API provides programmatic access to Bugsnag error monitoring data including organizations, projects, errors, and events.",
    "x-jentic-source-url": "https://docs.bugsnag.com/api/data-access/",
    "contact": {
      "name": "API Support"
    }
  },
  "servers": [
    {
      "url": "https://api.bugsnag.com",
      "description": "Bugsnag API Server"
    }
  ],
  "security": [
    {
      "personalAuthToken": []
    }
  ],
  "tags": [
    {
      "name": "Organizations",
      "description": "Organization management"
    },
    {
      "name": "Projects",
      "description": "Project management"
    },
    {
      "name": "Errors",
      "description": "Error data access"
    },
    {
      "name": "Events",
      "description": "Event data access"
    },
    {
      "name": "User",
      "description": "Current user"
    }
  ],
  "paths": {
    "/user": {
      "get": {
        "tags": [
          "User"
        ],
        "summary": "Get current user",
        "description": "Get the currently authenticated user.",
        "operationId": "getCurrentUser",
        "responses": {
          "200": {
            "description": "Current user details",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/User"
                }
              }
            }
          },
          "401": {
            "description": "Authentication failed"
          }
        }
      }
    },
    "/user/organizations": {
      "get": {
        "tags": [
          "Organizations"
        ],
        "summary": "List organizations for current user",
        "description": "List all organizations the current user belongs to.",
        "operationId": "listUserOrganizations",
        "parameters": [
          {
            "name": "sort",
            "in": "query",
            "schema": {
              "type": "string",
              "enum": [
                "created_at",
                "name"
              ]
            }
          },
          {
            "name": "direction",
            "in": "query",
            "schema": {
              "type": "string",
              "enum": [
                "asc",
                "desc"
              ]
            }
          },
          {
            "name": "per_page",
            "in": "query",
            "schema": {
              "type": "integer",
              "default": 30
            }
          }
        ],
        "responses": {
          "200": {
            "description": "List of organizations",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Organization"
                  }
                }
              }
            }
          },
          "401": {
            "description": "Authentication failed"
          }
        }
      }
    },
    "/organizations/{org_id}": {
      "get": {
        "tags": [
          "Organizations"
        ],
        "summary": "Get organization",
        "description": "Get a single organization by ID.",
        "operationId": "getOrganization",
        "parameters": [
          {
            "name": "org_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Organization details",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Organization"
                }
              }
            }
          },
          "401": {
            "description": "Authentication failed"
          },
          "404": {
            "description": "Organization not found"
          }
        }
      }
    },
    "/organizations/{org_id}/projects": {
      "get": {
        "tags": [
          "Projects"
        ],
        "summary": "List projects in organization",
        "description": "List all projects in an organization.",
        "operationId": "listOrganizationProjects",
        "parameters": [
          {
            "name": "org_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "sort",
            "in": "query",
            "schema": {
              "type": "string",
              "enum": [
                "created_at",
                "name"
              ]
            }
          },
          {
            "name": "direction",
            "in": "query",
            "schema": {
              "type": "string",
              "enum": [
                "asc",
                "desc"
              ]
            }
          },
          {
            "name": "per_page",
            "in": "query",
            "schema": {
              "type": "integer",
              "default": 30
            }
          }
        ],
        "responses": {
          "200": {
            "description": "List of projects",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Project"
                  }
                }
              }
            }
          },
          "401": {
            "description": "Authentication failed"
          }
        }
      }
    },
    "/projects/{project_id}": {
      "get": {
        "tags": [
          "Projects"
        ],
        "summary": "Get project",
        "description": "Get a single project by ID.",
        "operationId": "getProject",
        "parameters": [
          {
            "name": "project_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Project details",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Project"
                }
              }
            }
          },
          "401": {
            "description": "Authentication failed"
          },
          "404": {
            "description": "Project not found"
          }
        }
      }
    },
    "/projects/{project_id}/errors": {
      "get": {
        "tags": [
          "Errors"
        ],
        "summary": "List errors in project",
        "description": "List all errors in a project.",
        "operationId": "listProjectErrors",
        "parameters": [
          {
            "name": "project_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "sort",
            "in": "query",
            "schema": {
              "type": "string",
              "enum": [
                "created_at",
                "users",
                "events",
                "last_seen"
              ]
            }
          },
          {
            "name": "direction",
            "in": "query",
            "schema": {
              "type": "string",
              "enum": [
                "asc",
                "desc"
              ]
            }
          },
          {
            "name": "per_page",
            "in": "query",
            "schema": {
              "type": "integer",
              "default": 30
            }
          },
          {
            "name": "filters[error.status][]",
            "in": "query",
            "schema": {
              "type": "string",
              "enum": [
                "open",
                "fixed",
                "snoozed",
                "ignored"
              ]
            }
          },
          {
            "name": "filters[event.since][]",
            "in": "query",
            "schema": {
              "type": "string",
              "format": "date-time"
            }
          },
          {
            "name": "filters[search][]",
            "in": "query",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "List of errors",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Error"
                  }
                }
              }
            }
          },
          "401": {
            "description": "Authentication failed"
          }
        }
      }
    },
    "/projects/{project_id}/errors/{error_id}": {
      "get": {
        "tags": [
          "Errors"
        ],
        "summary": "Get error",
        "description": "Get a single error by ID.",
        "operationId": "getError",
        "parameters": [
          {
            "name": "project_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "error_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Error details",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "Authentication failed"
          },
          "404": {
            "description": "Error not found"
          }
        }
      }
    },
    "/projects/{project_id}/errors/{error_id}/events": {
      "get": {
        "tags": [
          "Events"
        ],
        "summary": "List events for an error",
        "description": "List all events for a specific error.",
        "operationId": "listErrorEvents",
        "parameters": [
          {
            "name": "project_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "error_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "sort",
            "in": "query",
            "schema": {
              "type": "string",
              "enum": [
                "created_at"
              ]
            }
          },
          {
            "name": "direction",
            "in": "query",
            "schema": {
              "type": "string",
              "enum": [
                "asc",
                "desc"
              ]
            }
          },
          {
            "name": "per_page",
            "in": "query",
            "schema": {
              "type": "integer",
              "default": 30
            }
          }
        ],
        "responses": {
          "200": {
            "description": "List of events",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Event"
                  }
                }
              }
            }
          },
          "401": {
            "description": "Authentication failed"
          }
        }
      }
    },
    "/projects/{project_id}/events": {
      "get": {
        "tags": [
          "Events"
        ],
        "summary": "List latest events for project",
        "description": "List the latest events for a project.",
        "operationId": "listProjectEvents",
        "parameters": [
          {
            "name": "project_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "sort",
            "in": "query",
            "schema": {
              "type": "string",
              "enum": [
                "created_at"
              ]
            }
          },
          {
            "name": "direction",
            "in": "query",
            "schema": {
              "type": "string",
              "enum": [
                "asc",
                "desc"
              ]
            }
          },
          {
            "name": "per_page",
            "in": "query",
            "schema": {
              "type": "integer",
              "default": 30
            }
          }
        ],
        "responses": {
          "200": {
            "description": "List of events",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Event"
                  }
                }
              }
            }
          },
          "401": {
            "description": "Authentication failed"
          }
        }
      }
    },
    "/projects/{project_id}/events/{event_id}": {
      "get": {
        "tags": [
          "Events"
        ],
        "summary": "Get event",
        "description": "Get a single event by ID.",
        "operationId": "getEvent",
        "parameters": [
          {
            "name": "project_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "event_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Event details",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Event"
                }
              }
            }
          },
          "401": {
            "description": "Authentication failed"
          },
          "404": {
            "description": "Event not found"
          }
        }
      }
    }
  },
  "components": {
    "securitySchemes": {
      "personalAuthToken": {
        "type": "apiKey",
        "in": "header",
        "name": "Authorization",
        "description": "Personal auth token. Format: 'token YOUR_AUTH_TOKEN'"
      }
    },
    "schemas": {
      "ErrorResponse": {
        "type": "object",
        "properties": {
          "error": {
            "type": "string",
            "description": "Error message"
          }
        },
        "required": [
          "error"
        ]
      },
      "User": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string"
          },
          "name": {
            "type": "string"
          },
          "email": {
            "type": "string"
          },
          "created_at": {
            "type": "string",
            "format": "date-time"
          }
        }
      },
      "Organization": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string"
          },
          "name": {
            "type": "string"
          },
          "slug": {
            "type": "string"
          },
          "created_at": {
            "type": "string",
            "format": "date-time"
          },
          "auto_upgrade": {
            "type": "boolean"
          },
          "creator": {
            "$ref": "#/components/schemas/User"
          }
        }
      },
      "Project": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string"
          },
          "name": {
            "type": "string"
          },
          "slug": {
            "type": "string"
          },
          "api_key": {
            "type": "string"
          },
          "type": {
            "type": "string"
          },
          "created_at": {
            "type": "string",
            "format": "date-time"
          },
          "updated_at": {
            "type": "string",
            "format": "date-time"
          },
          "open_error_count": {
            "type": "integer"
          },
          "for_review_error_count": {
            "type": "integer"
          },
          "collaborators_count": {
            "type": "integer"
          },
          "url": {
            "type": "string"
          }
        }
      },
      "Error": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string"
          },
          "error_class": {
            "type": "string"
          },
          "message": {
            "type": "string"
          },
          "context": {
            "type": "string"
          },
          "severity": {
            "type": "string",
            "enum": [
              "error",
              "warning",
              "info"
            ]
          },
          "status": {
            "type": "string",
            "enum": [
              "open",
              "fixed",
              "snoozed",
              "ignored"
            ]
          },
          "events": {
            "type": "integer"
          },
          "users": {
            "type": "integer"
          },
          "first_seen": {
            "type": "string",
            "format": "date-time"
          },
          "last_seen": {
            "type": "string",
            "format": "date-time"
          },
          "created_at": {
            "type": "string",
            "format": "date-time"
          },
          "release_stages": {
            "type": "array",
            "items": {
              "type": "string"
            }
          }
        }
      },
      "Event": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string"
          },
          "error_id": {
            "type": "string"
          },
          "received_at": {
            "type": "string",
            "format": "date-time"
          },
          "exceptions": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "error_class": {
                  "type": "string"
                },
                "message": {
                  "type": "string"
                },
                "stacktrace": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "file": {
                        "type": "string"
                      },
                      "line_number": {
                        "type": "integer"
                      },
                      "method": {
                        "type": "string"
                      }
                    }
                  }
                }
              }
            }
          },
          "context": {
            "type": "string"
          },
          "severity": {
            "type": "string"
          },
          "unhandled": {
            "type": "boolean"
          },
          "app": {
            "type": "object",
            "properties": {
              "version": {
                "type": "string"
              },
              "release_stage": {
                "type": "string"
              }
            }
          },
          "device": {
            "type": "object",
            "properties": {
              "hostname": {
                "type": "string"
              },
              "os_name": {
                "type": "string"
              },
              "os_version": {
                "type": "string"
              }
            }
          }
        }
      }
    }
  }
}
