{
  "openapi": "3.0.3",
  "info": {
    "title": "Transifex API",
    "description": "Transifex REST API v3 for localization and translation management. Follows JSON:API specification. Manage organizations, projects, resources, translations, languages, teams, and more.",
    "version": "3.0.0",
    "x-jentic-source-url": "https://developers.transifex.com/reference/api-introduction",
    "contact": {
      "name": "API Support"
    }
  },
  "servers": [
    {
      "url": "https://rest.api.transifex.com",
      "description": "Production"
    }
  ],
  "security": [
    {
      "bearerAuth": []
    }
  ],
  "tags": [
    {
      "name": "Organizations",
      "description": "Organization management"
    },
    {
      "name": "Projects",
      "description": "Project management"
    },
    {
      "name": "Resources",
      "description": "Resource (file) management"
    },
    {
      "name": "Resource Strings",
      "description": "Source string management"
    },
    {
      "name": "Resource Translations",
      "description": "Translation management"
    },
    {
      "name": "Languages",
      "description": "Language data"
    },
    {
      "name": "Teams",
      "description": "Team management"
    },
    {
      "name": "Team Memberships",
      "description": "Team membership management"
    },
    {
      "name": "Resource Strings Async Downloads",
      "description": "Async source string downloads"
    },
    {
      "name": "Resource Translations Async Downloads",
      "description": "Async translation downloads"
    },
    {
      "name": "Resource Async Uploads",
      "description": "Async resource uploads"
    },
    {
      "name": "Translation Memory",
      "description": "Translation memory management"
    },
    {
      "name": "Glossaries",
      "description": "Glossary/terminology management"
    },
    {
      "name": "Formats",
      "description": "Supported file formats"
    },
    {
      "name": "Users",
      "description": "User information"
    }
  ],
  "paths": {
    "/organizations": {
      "get": {
        "operationId": "listOrganizations",
        "summary": "List organizations",
        "tags": [
          "Organizations"
        ],
        "parameters": [
          {
            "name": "page[cursor]",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "description": "Cursor for pagination"
          },
          {
            "name": "include",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "description": "Comma-separated related resources to include"
          }
        ],
        "responses": {
          "200": {
            "description": "List of organizations",
            "content": {
              "application/vnd.api+json": {
                "schema": {
                  "$ref": "#/components/schemas/JsonApiListResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/vnd.api+json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/vnd.api+json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        },
        "description": "List organizations"
      }
    },
    "/organizations/{organization_id}": {
      "get": {
        "operationId": "getOrganization",
        "summary": "Get organization details",
        "tags": [
          "Organizations"
        ],
        "parameters": [
          {
            "name": "organization_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Organization ID (e.g. o:org-slug)"
          }
        ],
        "responses": {
          "200": {
            "description": "Organization details",
            "content": {
              "application/vnd.api+json": {
                "schema": {
                  "$ref": "#/components/schemas/JsonApiSingleResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/vnd.api+json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/vnd.api+json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        },
        "description": "Get organization details"
      },
      "patch": {
        "operationId": "updateOrganization",
        "summary": "Update organization",
        "tags": [
          "Organizations"
        ],
        "parameters": [
          {
            "name": "organization_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Organization ID"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/vnd.api+json": {
              "schema": {
                "type": "object",
                "properties": {
                  "data": {
                    "type": "object",
                    "properties": {
                      "type": {
                        "type": "string"
                      },
                      "attributes": {
                        "type": "object"
                      },
                      "relationships": {
                        "type": "object"
                      }
                    }
                  }
                }
              },
              "description": "Organization update"
            }
          }
        },
        "responses": {
          "200": {
            "description": "Updated organization",
            "content": {
              "application/vnd.api+json": {
                "schema": {
                  "$ref": "#/components/schemas/JsonApiSingleResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/vnd.api+json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/vnd.api+json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        },
        "description": "Update organization"
      }
    },
    "/projects": {
      "get": {
        "operationId": "listProjects",
        "summary": "List projects",
        "tags": [
          "Projects"
        ],
        "parameters": [
          {
            "name": "filter[organization]",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Organization filter (e.g. o:org-slug)"
          },
          {
            "name": "page[cursor]",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "description": "Cursor for pagination"
          },
          {
            "name": "include",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "description": "Comma-separated related resources to include"
          }
        ],
        "responses": {
          "200": {
            "description": "List of projects",
            "content": {
              "application/vnd.api+json": {
                "schema": {
                  "$ref": "#/components/schemas/JsonApiListResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/vnd.api+json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/vnd.api+json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        },
        "description": "List projects"
      },
      "post": {
        "operationId": "createProject",
        "summary": "Create a project",
        "tags": [
          "Projects"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/vnd.api+json": {
              "schema": {
                "type": "object",
                "properties": {
                  "data": {
                    "type": "object",
                    "properties": {
                      "type": {
                        "type": "string"
                      },
                      "attributes": {
                        "type": "object"
                      },
                      "relationships": {
                        "type": "object"
                      }
                    }
                  }
                }
              },
              "description": "New project"
            }
          }
        },
        "responses": {
          "201": {
            "description": "Project created",
            "content": {
              "application/vnd.api+json": {
                "schema": {
                  "$ref": "#/components/schemas/JsonApiSingleResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/vnd.api+json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/vnd.api+json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        },
        "description": "Create a project"
      }
    },
    "/projects/{project_id}": {
      "get": {
        "operationId": "getProject",
        "summary": "Get project details",
        "tags": [
          "Projects"
        ],
        "parameters": [
          {
            "name": "project_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Project ID"
          }
        ],
        "responses": {
          "200": {
            "description": "Project details",
            "content": {
              "application/vnd.api+json": {
                "schema": {
                  "$ref": "#/components/schemas/JsonApiSingleResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/vnd.api+json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/vnd.api+json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        },
        "description": "Get project details"
      },
      "patch": {
        "operationId": "updateProject",
        "summary": "Update project",
        "tags": [
          "Projects"
        ],
        "parameters": [
          {
            "name": "project_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Project ID"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/vnd.api+json": {
              "schema": {
                "type": "object",
                "properties": {
                  "data": {
                    "type": "object",
                    "properties": {
                      "type": {
                        "type": "string"
                      },
                      "attributes": {
                        "type": "object"
                      },
                      "relationships": {
                        "type": "object"
                      }
                    }
                  }
                }
              },
              "description": "Project update"
            }
          }
        },
        "responses": {
          "200": {
            "description": "Updated project",
            "content": {
              "application/vnd.api+json": {
                "schema": {
                  "$ref": "#/components/schemas/JsonApiSingleResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/vnd.api+json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/vnd.api+json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        },
        "description": "Update project"
      },
      "delete": {
        "operationId": "deleteProject",
        "summary": "Delete a project",
        "tags": [
          "Projects"
        ],
        "parameters": [
          {
            "name": "project_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Project ID"
          }
        ],
        "responses": {
          "204": {
            "description": "Successfully deleted"
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/vnd.api+json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/vnd.api+json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        },
        "description": "Delete a project"
      }
    },
    "/project_languages": {
      "get": {
        "operationId": "listProjectLanguages",
        "summary": "List languages for a project",
        "tags": [
          "Projects"
        ],
        "parameters": [
          {
            "name": "filter[project]",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Project filter (e.g. o:org-slug:p:proj-slug)"
          },
          {
            "name": "page[cursor]",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "description": "Cursor for pagination"
          }
        ],
        "responses": {
          "200": {
            "description": "Project languages",
            "content": {
              "application/vnd.api+json": {
                "schema": {
                  "$ref": "#/components/schemas/JsonApiListResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/vnd.api+json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/vnd.api+json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        },
        "description": "List languages for a project"
      },
      "post": {
        "operationId": "addProjectLanguage",
        "summary": "Add language to project",
        "tags": [
          "Projects"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/vnd.api+json": {
              "schema": {
                "type": "object",
                "properties": {
                  "data": {
                    "type": "object",
                    "properties": {
                      "type": {
                        "type": "string"
                      },
                      "attributes": {
                        "type": "object"
                      },
                      "relationships": {
                        "type": "object"
                      }
                    }
                  }
                }
              },
              "description": "Language to add"
            }
          }
        },
        "responses": {
          "201": {
            "description": "Language added",
            "content": {
              "application/vnd.api+json": {
                "schema": {
                  "$ref": "#/components/schemas/JsonApiSingleResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/vnd.api+json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/vnd.api+json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        },
        "description": "Add language to project"
      }
    },
    "/project_languages/{project_language_id}": {
      "delete": {
        "operationId": "removeProjectLanguage",
        "summary": "Remove language from project",
        "tags": [
          "Projects"
        ],
        "parameters": [
          {
            "name": "project_language_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Project language ID"
          }
        ],
        "responses": {
          "204": {
            "description": "Successfully deleted"
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/vnd.api+json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/vnd.api+json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        },
        "description": "Remove language from project"
      }
    },
    "/resources": {
      "get": {
        "operationId": "listResources",
        "summary": "List resources",
        "tags": [
          "Resources"
        ],
        "parameters": [
          {
            "name": "filter[project]",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Project filter (e.g. o:org-slug:p:proj-slug)"
          },
          {
            "name": "page[cursor]",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "description": "Cursor for pagination"
          }
        ],
        "responses": {
          "200": {
            "description": "List of resources",
            "content": {
              "application/vnd.api+json": {
                "schema": {
                  "$ref": "#/components/schemas/JsonApiListResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/vnd.api+json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/vnd.api+json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        },
        "description": "List resources"
      },
      "post": {
        "operationId": "createResource",
        "summary": "Create a resource",
        "tags": [
          "Resources"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/vnd.api+json": {
              "schema": {
                "type": "object",
                "properties": {
                  "data": {
                    "type": "object",
                    "properties": {
                      "type": {
                        "type": "string"
                      },
                      "attributes": {
                        "type": "object"
                      },
                      "relationships": {
                        "type": "object"
                      }
                    }
                  }
                }
              },
              "description": "New resource"
            }
          }
        },
        "responses": {
          "201": {
            "description": "Resource created",
            "content": {
              "application/vnd.api+json": {
                "schema": {
                  "$ref": "#/components/schemas/JsonApiSingleResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/vnd.api+json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/vnd.api+json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        },
        "description": "Create a resource"
      }
    },
    "/resources/{resource_id}": {
      "get": {
        "operationId": "getResource",
        "summary": "Get resource details",
        "tags": [
          "Resources"
        ],
        "parameters": [
          {
            "name": "resource_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Resource ID"
          }
        ],
        "responses": {
          "200": {
            "description": "Resource details",
            "content": {
              "application/vnd.api+json": {
                "schema": {
                  "$ref": "#/components/schemas/JsonApiSingleResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/vnd.api+json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/vnd.api+json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        },
        "description": "Get resource details"
      },
      "patch": {
        "operationId": "updateResource",
        "summary": "Update a resource",
        "tags": [
          "Resources"
        ],
        "parameters": [
          {
            "name": "resource_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Resource ID"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/vnd.api+json": {
              "schema": {
                "type": "object",
                "properties": {
                  "data": {
                    "type": "object",
                    "properties": {
                      "type": {
                        "type": "string"
                      },
                      "attributes": {
                        "type": "object"
                      },
                      "relationships": {
                        "type": "object"
                      }
                    }
                  }
                }
              },
              "description": "Resource update"
            }
          }
        },
        "responses": {
          "200": {
            "description": "Updated resource",
            "content": {
              "application/vnd.api+json": {
                "schema": {
                  "$ref": "#/components/schemas/JsonApiSingleResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/vnd.api+json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/vnd.api+json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        },
        "description": "Update a resource"
      },
      "delete": {
        "operationId": "deleteResource",
        "summary": "Delete a resource",
        "tags": [
          "Resources"
        ],
        "parameters": [
          {
            "name": "resource_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Resource ID"
          }
        ],
        "responses": {
          "204": {
            "description": "Successfully deleted"
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/vnd.api+json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/vnd.api+json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        },
        "description": "Delete a resource"
      }
    },
    "/resource_strings": {
      "get": {
        "operationId": "listResourceStrings",
        "summary": "List source strings in a resource",
        "tags": [
          "Resource Strings"
        ],
        "parameters": [
          {
            "name": "filter[resource]",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Resource filter"
          },
          {
            "name": "page[cursor]",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "description": "Cursor for pagination"
          },
          {
            "name": "filter[key]",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "description": "Filter by string key"
          }
        ],
        "responses": {
          "200": {
            "description": "Source strings",
            "content": {
              "application/vnd.api+json": {
                "schema": {
                  "$ref": "#/components/schemas/JsonApiListResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/vnd.api+json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/vnd.api+json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        },
        "description": "List source strings in a resource"
      }
    },
    "/resource_strings/{resource_string_id}": {
      "get": {
        "operationId": "getResourceString",
        "summary": "Get source string details",
        "tags": [
          "Resource Strings"
        ],
        "parameters": [
          {
            "name": "resource_string_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Resource string ID"
          }
        ],
        "responses": {
          "200": {
            "description": "Source string details",
            "content": {
              "application/vnd.api+json": {
                "schema": {
                  "$ref": "#/components/schemas/JsonApiSingleResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/vnd.api+json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/vnd.api+json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        },
        "description": "Get source string details"
      },
      "patch": {
        "operationId": "updateResourceString",
        "summary": "Update source string metadata",
        "tags": [
          "Resource Strings"
        ],
        "parameters": [
          {
            "name": "resource_string_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Resource string ID"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/vnd.api+json": {
              "schema": {
                "type": "object",
                "properties": {
                  "data": {
                    "type": "object",
                    "properties": {
                      "type": {
                        "type": "string"
                      },
                      "attributes": {
                        "type": "object"
                      },
                      "relationships": {
                        "type": "object"
                      }
                    }
                  }
                }
              },
              "description": "String update"
            }
          }
        },
        "responses": {
          "200": {
            "description": "Updated string",
            "content": {
              "application/vnd.api+json": {
                "schema": {
                  "$ref": "#/components/schemas/JsonApiSingleResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/vnd.api+json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/vnd.api+json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        },
        "description": "Update source string metadata"
      }
    },
    "/resource_translations": {
      "get": {
        "operationId": "listResourceTranslations",
        "summary": "List translations",
        "tags": [
          "Resource Translations"
        ],
        "parameters": [
          {
            "name": "filter[resource]",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Resource filter"
          },
          {
            "name": "filter[language]",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "description": "Language filter (e.g. l:en)"
          },
          {
            "name": "page[cursor]",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "description": "Cursor for pagination"
          }
        ],
        "responses": {
          "200": {
            "description": "Translations",
            "content": {
              "application/vnd.api+json": {
                "schema": {
                  "$ref": "#/components/schemas/JsonApiListResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/vnd.api+json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/vnd.api+json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        },
        "description": "List translations"
      }
    },
    "/resource_translations/{resource_translation_id}": {
      "get": {
        "operationId": "getResourceTranslation",
        "summary": "Get translation details",
        "tags": [
          "Resource Translations"
        ],
        "parameters": [
          {
            "name": "resource_translation_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Resource translation ID"
          }
        ],
        "responses": {
          "200": {
            "description": "Translation details",
            "content": {
              "application/vnd.api+json": {
                "schema": {
                  "$ref": "#/components/schemas/JsonApiSingleResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/vnd.api+json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/vnd.api+json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        },
        "description": "Get translation details"
      },
      "patch": {
        "operationId": "updateResourceTranslation",
        "summary": "Update a translation",
        "tags": [
          "Resource Translations"
        ],
        "parameters": [
          {
            "name": "resource_translation_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Resource translation ID"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/vnd.api+json": {
              "schema": {
                "type": "object",
                "properties": {
                  "data": {
                    "type": "object",
                    "properties": {
                      "type": {
                        "type": "string"
                      },
                      "attributes": {
                        "type": "object"
                      },
                      "relationships": {
                        "type": "object"
                      }
                    }
                  }
                }
              },
              "description": "Translation update"
            }
          }
        },
        "responses": {
          "200": {
            "description": "Updated translation",
            "content": {
              "application/vnd.api+json": {
                "schema": {
                  "$ref": "#/components/schemas/JsonApiSingleResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/vnd.api+json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/vnd.api+json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        },
        "description": "Update a translation"
      }
    },
    "/resource_strings_async_downloads": {
      "post": {
        "operationId": "createResourceStringsAsyncDownload",
        "summary": "Create async download for source strings",
        "tags": [
          "Resource Strings Async Downloads"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/vnd.api+json": {
              "schema": {
                "type": "object",
                "properties": {
                  "data": {
                    "type": "object",
                    "properties": {
                      "type": {
                        "type": "string"
                      },
                      "attributes": {
                        "type": "object"
                      },
                      "relationships": {
                        "type": "object"
                      }
                    }
                  }
                }
              },
              "description": "Download request"
            }
          }
        },
        "responses": {
          "202": {
            "description": "Download initiated",
            "content": {
              "application/vnd.api+json": {
                "schema": {
                  "$ref": "#/components/schemas/AsyncDownloadStatus"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/vnd.api+json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/vnd.api+json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        },
        "description": "Create async download for source strings"
      }
    },
    "/resource_strings_async_downloads/{download_id}": {
      "get": {
        "operationId": "getResourceStringsAsyncDownload",
        "summary": "Get source string download status",
        "tags": [
          "Resource Strings Async Downloads"
        ],
        "parameters": [
          {
            "name": "download_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Download job ID"
          }
        ],
        "responses": {
          "200": {
            "description": "Download status (redirect to file when completed)",
            "content": {
              "application/vnd.api+json": {
                "schema": {
                  "$ref": "#/components/schemas/AsyncDownloadStatus"
                }
              }
            }
          },
          "303": {
            "description": "Redirect to completed file download"
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/vnd.api+json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/vnd.api+json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        },
        "description": "Get source string download status"
      }
    },
    "/resource_translations_async_downloads": {
      "post": {
        "operationId": "createResourceTranslationsAsyncDownload",
        "summary": "Create async download for translations",
        "tags": [
          "Resource Translations Async Downloads"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/vnd.api+json": {
              "schema": {
                "type": "object",
                "properties": {
                  "data": {
                    "type": "object",
                    "properties": {
                      "type": {
                        "type": "string"
                      },
                      "attributes": {
                        "type": "object"
                      },
                      "relationships": {
                        "type": "object"
                      }
                    }
                  }
                }
              },
              "description": "Download request"
            }
          }
        },
        "responses": {
          "202": {
            "description": "Download initiated",
            "content": {
              "application/vnd.api+json": {
                "schema": {
                  "$ref": "#/components/schemas/AsyncDownloadStatus"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/vnd.api+json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/vnd.api+json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        },
        "description": "Create async download for translations"
      }
    },
    "/resource_translations_async_downloads/{download_id}": {
      "get": {
        "operationId": "getResourceTranslationsAsyncDownload",
        "summary": "Get translation download status",
        "tags": [
          "Resource Translations Async Downloads"
        ],
        "parameters": [
          {
            "name": "download_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Download job ID"
          }
        ],
        "responses": {
          "200": {
            "description": "Download status",
            "content": {
              "application/vnd.api+json": {
                "schema": {
                  "$ref": "#/components/schemas/AsyncDownloadStatus"
                }
              }
            }
          },
          "303": {
            "description": "Redirect to completed file"
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/vnd.api+json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/vnd.api+json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        },
        "description": "Get translation download status"
      }
    },
    "/resource_strings_async_uploads": {
      "post": {
        "operationId": "createResourceStringsAsyncUpload",
        "summary": "Upload source file asynchronously",
        "tags": [
          "Resource Async Uploads"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "multipart/form-data": {
              "schema": {
                "type": "object",
                "properties": {
                  "resource": {
                    "type": "string",
                    "description": "Resource ID"
                  },
                  "content": {
                    "type": "string",
                    "format": "binary",
                    "description": "Source file"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "202": {
            "description": "Upload initiated",
            "content": {
              "application/vnd.api+json": {
                "schema": {
                  "$ref": "#/components/schemas/AsyncUploadStatus"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/vnd.api+json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/vnd.api+json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        },
        "description": "Upload source file asynchronously"
      }
    },
    "/resource_strings_async_uploads/{upload_id}": {
      "get": {
        "operationId": "getResourceStringsAsyncUpload",
        "summary": "Get source upload status",
        "tags": [
          "Resource Async Uploads"
        ],
        "parameters": [
          {
            "name": "upload_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Upload job ID"
          }
        ],
        "responses": {
          "200": {
            "description": "Upload status",
            "content": {
              "application/vnd.api+json": {
                "schema": {
                  "$ref": "#/components/schemas/AsyncUploadStatus"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/vnd.api+json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/vnd.api+json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        },
        "description": "Get source upload status"
      }
    },
    "/resource_translations_async_uploads": {
      "post": {
        "operationId": "createResourceTranslationsAsyncUpload",
        "summary": "Upload translation file asynchronously",
        "tags": [
          "Resource Async Uploads"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "multipart/form-data": {
              "schema": {
                "type": "object",
                "properties": {
                  "resource": {
                    "type": "string"
                  },
                  "language": {
                    "type": "string"
                  },
                  "content": {
                    "type": "string",
                    "format": "binary"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "202": {
            "description": "Upload initiated",
            "content": {
              "application/vnd.api+json": {
                "schema": {
                  "$ref": "#/components/schemas/AsyncUploadStatus"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/vnd.api+json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/vnd.api+json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        },
        "description": "Upload translation file asynchronously"
      }
    },
    "/resource_translations_async_uploads/{upload_id}": {
      "get": {
        "operationId": "getResourceTranslationsAsyncUpload",
        "summary": "Get translation upload status",
        "tags": [
          "Resource Async Uploads"
        ],
        "parameters": [
          {
            "name": "upload_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Upload job ID"
          }
        ],
        "responses": {
          "200": {
            "description": "Upload status",
            "content": {
              "application/vnd.api+json": {
                "schema": {
                  "$ref": "#/components/schemas/AsyncUploadStatus"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/vnd.api+json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/vnd.api+json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        },
        "description": "Get translation upload status"
      }
    },
    "/languages": {
      "get": {
        "operationId": "listLanguages",
        "summary": "List supported languages",
        "tags": [
          "Languages"
        ],
        "parameters": [
          {
            "name": "page[cursor]",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "description": "Cursor for pagination"
          },
          {
            "name": "filter[code]",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "description": "Filter by language code"
          }
        ],
        "responses": {
          "200": {
            "description": "Languages",
            "content": {
              "application/vnd.api+json": {
                "schema": {
                  "$ref": "#/components/schemas/JsonApiListResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/vnd.api+json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/vnd.api+json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        },
        "description": "List supported languages"
      }
    },
    "/languages/{language_id}": {
      "get": {
        "operationId": "getLanguage",
        "summary": "Get language details",
        "tags": [
          "Languages"
        ],
        "parameters": [
          {
            "name": "language_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Language ID (e.g. l:en)"
          }
        ],
        "responses": {
          "200": {
            "description": "Language details",
            "content": {
              "application/vnd.api+json": {
                "schema": {
                  "$ref": "#/components/schemas/JsonApiSingleResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/vnd.api+json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/vnd.api+json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        },
        "description": "Get language details"
      }
    },
    "/teams": {
      "get": {
        "operationId": "listTeams",
        "summary": "List teams",
        "tags": [
          "Teams"
        ],
        "parameters": [
          {
            "name": "filter[organization]",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Organization filter (e.g. o:org-slug)"
          },
          {
            "name": "page[cursor]",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "description": "Cursor for pagination"
          }
        ],
        "responses": {
          "200": {
            "description": "Teams",
            "content": {
              "application/vnd.api+json": {
                "schema": {
                  "$ref": "#/components/schemas/JsonApiListResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/vnd.api+json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/vnd.api+json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        },
        "description": "List teams"
      },
      "post": {
        "operationId": "createTeam",
        "summary": "Create a team",
        "tags": [
          "Teams"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/vnd.api+json": {
              "schema": {
                "type": "object",
                "properties": {
                  "data": {
                    "type": "object",
                    "properties": {
                      "type": {
                        "type": "string"
                      },
                      "attributes": {
                        "type": "object"
                      },
                      "relationships": {
                        "type": "object"
                      }
                    }
                  }
                }
              },
              "description": "New team"
            }
          }
        },
        "responses": {
          "201": {
            "description": "Team created",
            "content": {
              "application/vnd.api+json": {
                "schema": {
                  "$ref": "#/components/schemas/JsonApiSingleResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/vnd.api+json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/vnd.api+json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        },
        "description": "Create a team"
      }
    },
    "/teams/{team_id}": {
      "get": {
        "operationId": "getTeam",
        "summary": "Get team details",
        "tags": [
          "Teams"
        ],
        "parameters": [
          {
            "name": "team_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Team ID"
          }
        ],
        "responses": {
          "200": {
            "description": "Team details",
            "content": {
              "application/vnd.api+json": {
                "schema": {
                  "$ref": "#/components/schemas/JsonApiSingleResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/vnd.api+json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/vnd.api+json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        },
        "description": "Get team details"
      },
      "patch": {
        "operationId": "updateTeam",
        "summary": "Update team",
        "tags": [
          "Teams"
        ],
        "parameters": [
          {
            "name": "team_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Team ID"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/vnd.api+json": {
              "schema": {
                "type": "object",
                "properties": {
                  "data": {
                    "type": "object",
                    "properties": {
                      "type": {
                        "type": "string"
                      },
                      "attributes": {
                        "type": "object"
                      },
                      "relationships": {
                        "type": "object"
                      }
                    }
                  }
                }
              },
              "description": "Team update"
            }
          }
        },
        "responses": {
          "200": {
            "description": "Updated team",
            "content": {
              "application/vnd.api+json": {
                "schema": {
                  "$ref": "#/components/schemas/JsonApiSingleResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/vnd.api+json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/vnd.api+json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        },
        "description": "Update team"
      },
      "delete": {
        "operationId": "deleteTeam",
        "summary": "Delete a team",
        "tags": [
          "Teams"
        ],
        "parameters": [
          {
            "name": "team_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Team ID"
          }
        ],
        "responses": {
          "204": {
            "description": "Successfully deleted"
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/vnd.api+json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/vnd.api+json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        },
        "description": "Delete a team"
      }
    },
    "/team_memberships": {
      "get": {
        "operationId": "listTeamMemberships",
        "summary": "List team memberships",
        "tags": [
          "Team Memberships"
        ],
        "parameters": [
          {
            "name": "filter[organization]",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Organization filter (e.g. o:org-slug)"
          },
          {
            "name": "page[cursor]",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "description": "Cursor for pagination"
          },
          {
            "name": "filter[team]",
            "in": "query",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Team memberships",
            "content": {
              "application/vnd.api+json": {
                "schema": {
                  "$ref": "#/components/schemas/JsonApiListResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/vnd.api+json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/vnd.api+json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        },
        "description": "List team memberships"
      },
      "post": {
        "operationId": "createTeamMembership",
        "summary": "Add member to team",
        "tags": [
          "Team Memberships"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/vnd.api+json": {
              "schema": {
                "type": "object",
                "properties": {
                  "data": {
                    "type": "object",
                    "properties": {
                      "type": {
                        "type": "string"
                      },
                      "attributes": {
                        "type": "object"
                      },
                      "relationships": {
                        "type": "object"
                      }
                    }
                  }
                }
              },
              "description": "Team membership"
            }
          }
        },
        "responses": {
          "201": {
            "description": "Membership created",
            "content": {
              "application/vnd.api+json": {
                "schema": {
                  "$ref": "#/components/schemas/JsonApiSingleResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/vnd.api+json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/vnd.api+json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        },
        "description": "Add member to team"
      }
    },
    "/team_memberships/{membership_id}": {
      "get": {
        "operationId": "getTeamMembership",
        "summary": "Get team membership",
        "tags": [
          "Team Memberships"
        ],
        "parameters": [
          {
            "name": "membership_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Membership ID"
          }
        ],
        "responses": {
          "200": {
            "description": "Membership details",
            "content": {
              "application/vnd.api+json": {
                "schema": {
                  "$ref": "#/components/schemas/JsonApiSingleResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/vnd.api+json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/vnd.api+json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        },
        "description": "Get team membership"
      },
      "patch": {
        "operationId": "updateTeamMembership",
        "summary": "Update team membership role",
        "tags": [
          "Team Memberships"
        ],
        "parameters": [
          {
            "name": "membership_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Membership ID"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/vnd.api+json": {
              "schema": {
                "type": "object",
                "properties": {
                  "data": {
                    "type": "object",
                    "properties": {
                      "type": {
                        "type": "string"
                      },
                      "attributes": {
                        "type": "object"
                      },
                      "relationships": {
                        "type": "object"
                      }
                    }
                  }
                }
              },
              "description": "Membership update"
            }
          }
        },
        "responses": {
          "200": {
            "description": "Updated membership",
            "content": {
              "application/vnd.api+json": {
                "schema": {
                  "$ref": "#/components/schemas/JsonApiSingleResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/vnd.api+json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/vnd.api+json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        },
        "description": "Update team membership role"
      },
      "delete": {
        "operationId": "deleteTeamMembership",
        "summary": "Remove member from team",
        "tags": [
          "Team Memberships"
        ],
        "parameters": [
          {
            "name": "membership_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Membership ID"
          }
        ],
        "responses": {
          "204": {
            "description": "Successfully deleted"
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/vnd.api+json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/vnd.api+json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        },
        "description": "Remove member from team"
      }
    },
    "/tm/entries": {
      "get": {
        "operationId": "listTmEntries",
        "summary": "List translation memory entries",
        "tags": [
          "Translation Memory"
        ],
        "parameters": [
          {
            "name": "filter[organization]",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Organization filter (e.g. o:org-slug)"
          },
          {
            "name": "page[cursor]",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "description": "Cursor for pagination"
          },
          {
            "name": "filter[language]",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "description": "Language filter (e.g. l:en)"
          }
        ],
        "responses": {
          "200": {
            "description": "TM entries",
            "content": {
              "application/vnd.api+json": {
                "schema": {
                  "$ref": "#/components/schemas/JsonApiListResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/vnd.api+json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/vnd.api+json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        },
        "description": "List translation memory entries"
      }
    },
    "/contexts": {
      "get": {
        "operationId": "listContexts",
        "summary": "List string contexts/screenshots",
        "tags": [
          "Glossaries"
        ],
        "parameters": [
          {
            "name": "filter[resource]",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Resource filter"
          },
          {
            "name": "page[cursor]",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "description": "Cursor for pagination"
          }
        ],
        "responses": {
          "200": {
            "description": "Contexts",
            "content": {
              "application/vnd.api+json": {
                "schema": {
                  "$ref": "#/components/schemas/JsonApiListResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/vnd.api+json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/vnd.api+json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        },
        "description": "List string contexts/screenshots"
      },
      "post": {
        "operationId": "createContext",
        "summary": "Create a context/screenshot",
        "tags": [
          "Glossaries"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/vnd.api+json": {
              "schema": {
                "type": "object",
                "properties": {
                  "data": {
                    "type": "object",
                    "properties": {
                      "type": {
                        "type": "string"
                      },
                      "attributes": {
                        "type": "object"
                      },
                      "relationships": {
                        "type": "object"
                      }
                    }
                  }
                }
              },
              "description": "New context"
            }
          }
        },
        "responses": {
          "201": {
            "description": "Context created",
            "content": {
              "application/vnd.api+json": {
                "schema": {
                  "$ref": "#/components/schemas/JsonApiSingleResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/vnd.api+json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/vnd.api+json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        },
        "description": "Create a context/screenshot"
      }
    },
    "/contexts/{context_id}": {
      "get": {
        "operationId": "getContext",
        "summary": "Get context details",
        "tags": [
          "Glossaries"
        ],
        "parameters": [
          {
            "name": "context_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Context ID"
          }
        ],
        "responses": {
          "200": {
            "description": "Context details",
            "content": {
              "application/vnd.api+json": {
                "schema": {
                  "$ref": "#/components/schemas/JsonApiSingleResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/vnd.api+json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/vnd.api+json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        },
        "description": "Get context details"
      },
      "delete": {
        "operationId": "deleteContext",
        "summary": "Delete a context",
        "tags": [
          "Glossaries"
        ],
        "parameters": [
          {
            "name": "context_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Context ID"
          }
        ],
        "responses": {
          "204": {
            "description": "Successfully deleted"
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/vnd.api+json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/vnd.api+json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        },
        "description": "Delete a context"
      }
    },
    "/formats": {
      "get": {
        "operationId": "listFormats",
        "summary": "List supported file formats",
        "tags": [
          "Formats"
        ],
        "parameters": [
          {
            "name": "filter[organization]",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Organization filter (e.g. o:org-slug)"
          }
        ],
        "responses": {
          "200": {
            "description": "Supported formats",
            "content": {
              "application/vnd.api+json": {
                "schema": {
                  "$ref": "#/components/schemas/JsonApiListResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/vnd.api+json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/vnd.api+json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        },
        "description": "List supported file formats"
      }
    },
    "/users/{user_id}": {
      "get": {
        "operationId": "getUser",
        "summary": "Get user details",
        "tags": [
          "Users"
        ],
        "parameters": [
          {
            "name": "user_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "User ID"
          }
        ],
        "responses": {
          "200": {
            "description": "User details",
            "content": {
              "application/vnd.api+json": {
                "schema": {
                  "$ref": "#/components/schemas/JsonApiSingleResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/vnd.api+json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/vnd.api+json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        },
        "description": "Get user details"
      }
    },
    "/resource_activity": {
      "get": {
        "operationId": "listResourceActivity",
        "summary": "Get resource activity/history",
        "tags": [
          "Resources"
        ],
        "parameters": [
          {
            "name": "filter[resource]",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Resource filter"
          },
          {
            "name": "page[cursor]",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "description": "Cursor for pagination"
          }
        ],
        "responses": {
          "200": {
            "description": "Resource activity",
            "content": {
              "application/vnd.api+json": {
                "schema": {
                  "$ref": "#/components/schemas/JsonApiListResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/vnd.api+json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/vnd.api+json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        },
        "description": "Get resource activity/history"
      }
    },
    "/resource_language_stats": {
      "get": {
        "operationId": "listResourceLanguageStats",
        "summary": "Get translation statistics per language for a resource",
        "tags": [
          "Resources"
        ],
        "parameters": [
          {
            "name": "filter[project]",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Project filter (e.g. o:org-slug:p:proj-slug)"
          },
          {
            "name": "filter[resource]",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Resource filter"
          },
          {
            "name": "page[cursor]",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "description": "Cursor for pagination"
          }
        ],
        "responses": {
          "200": {
            "description": "Resource language statistics",
            "content": {
              "application/vnd.api+json": {
                "schema": {
                  "$ref": "#/components/schemas/JsonApiListResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/vnd.api+json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/vnd.api+json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        },
        "description": "Get translation statistics per language for a resource"
      }
    },
    "/resource_language_stats/{stats_id}": {
      "get": {
        "operationId": "getResourceLanguageStats",
        "summary": "Get specific language stats for a resource",
        "tags": [
          "Resources"
        ],
        "parameters": [
          {
            "name": "stats_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Stats ID"
          }
        ],
        "responses": {
          "200": {
            "description": "Language stats",
            "content": {
              "application/vnd.api+json": {
                "schema": {
                  "$ref": "#/components/schemas/JsonApiSingleResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/vnd.api+json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/vnd.api+json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        },
        "description": "Get specific language stats for a resource"
      }
    }
  },
  "components": {
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "scheme": "bearer",
        "description": "Bearer token authentication. Use 'Bearer api_token_here' format."
      }
    },
    "schemas": {
      "Error": {
        "type": "object",
        "properties": {
          "errors": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "status": {
                  "type": "string"
                },
                "code": {
                  "type": "string"
                },
                "title": {
                  "type": "string"
                },
                "detail": {
                  "type": "string"
                }
              }
            }
          }
        }
      },
      "JsonApiListResponse": {
        "type": "object",
        "properties": {
          "data": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Resource"
            }
          },
          "links": {
            "$ref": "#/components/schemas/PaginationLinks"
          },
          "included": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Resource"
            }
          }
        }
      },
      "JsonApiSingleResponse": {
        "type": "object",
        "properties": {
          "data": {
            "$ref": "#/components/schemas/Resource"
          },
          "included": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Resource"
            }
          }
        }
      },
      "Resource": {
        "type": "object",
        "properties": {
          "type": {
            "type": "string"
          },
          "id": {
            "type": "string"
          },
          "attributes": {
            "type": "object"
          },
          "relationships": {
            "type": "object"
          },
          "links": {
            "type": "object",
            "properties": {
              "self": {
                "type": "string"
              }
            }
          }
        }
      },
      "PaginationLinks": {
        "type": "object",
        "properties": {
          "self": {
            "type": "string"
          },
          "next": {
            "type": "string",
            "nullable": true
          },
          "previous": {
            "type": "string",
            "nullable": true
          }
        }
      },
      "AsyncDownloadStatus": {
        "type": "object",
        "properties": {
          "data": {
            "type": "object",
            "properties": {
              "type": {
                "type": "string"
              },
              "id": {
                "type": "string"
              },
              "attributes": {
                "type": "object",
                "properties": {
                  "status": {
                    "type": "string",
                    "enum": [
                      "pending",
                      "processing",
                      "completed",
                      "failed"
                    ]
                  },
                  "errors": {
                    "type": "array",
                    "items": {
                      "type": "object"
                    }
                  }
                }
              }
            }
          }
        }
      },
      "AsyncUploadStatus": {
        "type": "object",
        "properties": {
          "data": {
            "type": "object",
            "properties": {
              "type": {
                "type": "string"
              },
              "id": {
                "type": "string"
              },
              "attributes": {
                "type": "object",
                "properties": {
                  "status": {
                    "type": "string"
                  },
                  "details": {
                    "type": "object"
                  }
                }
              }
            }
          }
        }
      }
    }
  }
}
