{
  "openapi": "3.0.3",
  "info": {
    "title": "API Consulta Polizas",
    "version": "1",
    "description": "Insurance policy consultation API for ARAG Spain, enabling retrieval of policy information and coverage details.",
    "x-jentic-source-url": "https://api.swaggerhub.com/apis/ARAG_SE_Espana/API_Consulta_Polizas/1",
    "contact": {
      "name": "API Support"
    }
  },
  "servers": [
    {
      "url": "https://api.arag.es/polizas/v1"
    }
  ],
  "security": [
    {
      "apiKey": []
    }
  ],
  "paths": {
    "/polizas": {
      "get": {
        "operationId": "listPolizas",
        "tags": [
          "Polizas"
        ],
        "summary": "List policies",
        "parameters": [
          {
            "name": "nif",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "description": "Client NIF/NIE"
          },
          {
            "name": "estado",
            "in": "query",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "List of policies",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PolizaList"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          }
        },
        "description": "List policies"
      }
    },
    "/polizas/{numeroPoliza}": {
      "get": {
        "operationId": "getPoliza",
        "tags": [
          "Polizas"
        ],
        "summary": "Get policy details",
        "parameters": [
          {
            "name": "numeroPoliza",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Policy details",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Poliza"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          }
        },
        "description": "Get policy details"
      }
    },
    "/polizas/{numeroPoliza}/coberturas": {
      "get": {
        "operationId": "getCoberturas",
        "tags": [
          "Coberturas"
        ],
        "summary": "Get policy coverages",
        "parameters": [
          {
            "name": "numeroPoliza",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Policy coverages",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CoberturaList"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          }
        },
        "description": "Get policy coverages"
      }
    }
  },
  "components": {
    "securitySchemes": {
      "apiKey": {
        "type": "apiKey",
        "in": "header",
        "name": "x-api-key"
      }
    },
    "schemas": {
      "Poliza": {
        "type": "object",
        "properties": {
          "numeroPoliza": {
            "type": "string"
          },
          "estado": {
            "type": "string"
          },
          "fechaInicio": {
            "type": "string",
            "format": "date"
          },
          "fechaFin": {
            "type": "string",
            "format": "date"
          },
          "producto": {
            "type": "string"
          },
          "tomador": {
            "type": "object",
            "properties": {
              "nombre": {
                "type": "string"
              },
              "nif": {
                "type": "string"
              }
            }
          }
        }
      },
      "PolizaList": {
        "type": "object",
        "properties": {
          "polizas": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Poliza"
            }
          },
          "total": {
            "type": "integer"
          }
        }
      },
      "Cobertura": {
        "type": "object",
        "properties": {
          "codigo": {
            "type": "string"
          },
          "descripcion": {
            "type": "string"
          },
          "capitalAsegurado": {
            "type": "number"
          }
        }
      },
      "CoberturaList": {
        "type": "object",
        "properties": {
          "coberturas": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Cobertura"
            }
          }
        }
      },
      "ErrorResponse": {
        "type": "object",
        "properties": {
          "error": {
            "type": "string"
          },
          "message": {
            "type": "string"
          }
        }
      }
    }
  },
  "tags": [
    {
      "name": "Coberturas"
    },
    {
      "name": "Polizas"
    }
  ]
}
