{
  "openapi": "3.0.3",
  "info": {
    "title": "Wandbox API",
    "version": "1.0.0",
    "description": "Wandbox is a social online compiler service that supports many programming languages. The API allows listing available compilers, compiling and running code, creating permlinks for sharing, and getting sponsor information.",
    "x-jentic-source-url": "https://github.com/melpon/wandbox",
    "contact": {
      "name": "API Support"
    }
  },
  "servers": [
    {
      "url": "https://wandbox.org/api"
    }
  ],
  "paths": {
    "/list.json": {
      "get": {
        "operationId": "listCompilers",
        "summary": "List available compilers",
        "description": "Returns a list of all available compilers, including their versions, supported languages, available switches, and configuration.",
        "tags": [
          "Compilers"
        ],
        "responses": {
          "200": {
            "description": "List of available compilers",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/CompilerInfo"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/compile.json": {
      "post": {
        "operationId": "compileCode",
        "summary": "Compile and run code",
        "description": "Submits code for compilation and execution. Returns the compilation output, program output, and status.",
        "tags": [
          "Compilation"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CompileRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Compilation result",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CompileResult"
                }
              }
            }
          },
          "400": {
            "description": "Bad request - unknown compiler or invalid parameters",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/compile.ndjson": {
      "post": {
        "operationId": "compileCodeStreaming",
        "summary": "Compile and run code with streaming output",
        "description": "Submits code for compilation and execution, returning results as newline-delimited JSON stream.",
        "tags": [
          "Compilation"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CompileRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Streaming compilation result (NDJSON)",
            "content": {
              "application/x-ndjson": {
                "schema": {
                  "$ref": "#/components/schemas/CompileStreamEvent"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/permlink/{permlinkId}": {
      "get": {
        "operationId": "getPermlink",
        "summary": "Get a shared permlink",
        "description": "Retrieves the code and compilation result associated with a permlink.",
        "tags": [
          "Permlinks"
        ],
        "parameters": [
          {
            "name": "permlinkId",
            "in": "path",
            "description": "Unique permlink identifier",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Permlink data",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PermlinkData"
                }
              }
            }
          },
          "404": {
            "description": "Permlink not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/sponsors.json": {
      "get": {
        "operationId": "getSponsors",
        "summary": "Get sponsor information",
        "description": "Returns information about Wandbox sponsors.",
        "tags": [
          "Metadata"
        ],
        "responses": {
          "200": {
            "description": "Sponsor data",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Sponsor"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/hpplib.json": {
      "get": {
        "operationId": "getHppLibraries",
        "summary": "Get header-only C++ library information",
        "description": "Returns information about available header-only C++ libraries that can be included in compilations.",
        "tags": [
          "Libraries"
        ],
        "responses": {
          "200": {
            "description": "Library information",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/HppLibInfo"
                  }
                }
              }
            }
          }
        }
      }
    }
  },
  "components": {
    "schemas": {
      "CompilerInfo": {
        "type": "object",
        "properties": {
          "name": {
            "type": "string",
            "description": "Compiler identifier"
          },
          "version": {
            "type": "string",
            "description": "Compiler version string"
          },
          "language": {
            "type": "string",
            "description": "Programming language name"
          },
          "display-name": {
            "type": "string",
            "description": "Human-readable compiler name"
          },
          "templates": {
            "type": "array",
            "items": {
              "type": "string"
            },
            "description": "Available code templates"
          },
          "compiler-option-raw": {
            "type": "boolean",
            "description": "Whether raw compiler options are supported"
          },
          "runtime-option-raw": {
            "type": "boolean",
            "description": "Whether raw runtime options are supported"
          },
          "display-compile-command": {
            "type": "string",
            "description": "Display compile command"
          },
          "switches": {
            "type": "array",
            "items": {
              "type": "object"
            },
            "description": "Available compiler switches"
          }
        }
      },
      "CompileRequest": {
        "type": "object",
        "required": [
          "code",
          "compiler"
        ],
        "properties": {
          "code": {
            "type": "string",
            "description": "Source code to compile"
          },
          "codes": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "file": {
                  "type": "string"
                },
                "code": {
                  "type": "string"
                }
              }
            },
            "description": "Additional source files"
          },
          "compiler": {
            "type": "string",
            "description": "Compiler name (from list.json)"
          },
          "options": {
            "type": "string",
            "description": "Comma-separated compiler option switches"
          },
          "stdin": {
            "type": "string",
            "description": "Standard input for the program"
          },
          "compiler-option-raw": {
            "type": "string",
            "description": "Raw compiler options string"
          },
          "runtime-option-raw": {
            "type": "string",
            "description": "Raw runtime options string"
          },
          "save": {
            "type": "boolean",
            "description": "Whether to save as a permlink",
            "default": false
          },
          "github_user": {
            "type": "string",
            "description": "GitHub username for attribution"
          }
        }
      },
      "CompileResult": {
        "type": "object",
        "properties": {
          "status": {
            "type": "string",
            "description": "Exit status code"
          },
          "signal": {
            "type": "string",
            "description": "Signal that terminated the process"
          },
          "compiler_output": {
            "type": "string",
            "description": "Compiler stdout"
          },
          "compiler_error": {
            "type": "string",
            "description": "Compiler stderr"
          },
          "compiler_message": {
            "type": "string",
            "description": "Combined compiler output"
          },
          "program_output": {
            "type": "string",
            "description": "Program stdout"
          },
          "program_error": {
            "type": "string",
            "description": "Program stderr"
          },
          "program_message": {
            "type": "string",
            "description": "Combined program output"
          },
          "permlink": {
            "type": "string",
            "description": "Permlink ID if save=true"
          },
          "url": {
            "type": "string",
            "description": "URL to the permlink"
          }
        }
      },
      "CompileStreamEvent": {
        "type": "object",
        "properties": {
          "type": {
            "type": "string",
            "enum": [
              "CompilerMessageS",
              "CompilerMessageE",
              "StdOut",
              "StdErr",
              "ExitCode",
              "Signal"
            ],
            "description": "Event type"
          },
          "data": {
            "type": "string",
            "description": "Event data"
          }
        }
      },
      "PermlinkData": {
        "type": "object",
        "properties": {
          "parameter": {
            "$ref": "#/components/schemas/CompileRequest"
          },
          "result": {
            "$ref": "#/components/schemas/CompileResult"
          }
        }
      },
      "Sponsor": {
        "type": "object",
        "properties": {
          "name": {
            "type": "string"
          },
          "url": {
            "type": "string",
            "format": "uri"
          }
        }
      },
      "HppLibInfo": {
        "type": "object",
        "properties": {
          "name": {
            "type": "string"
          },
          "repository": {
            "type": "string",
            "format": "uri"
          },
          "description": {
            "type": "string"
          },
          "headerDescription": {
            "type": "string"
          },
          "tagName": {
            "type": "string"
          },
          "publishedAt": {
            "type": "string",
            "format": "date-time"
          }
        }
      },
      "ErrorResponse": {
        "type": "object",
        "properties": {
          "status": {
            "type": "string"
          },
          "message": {
            "type": "string"
          }
        }
      }
    }
  },
  "tags": [
    {
      "name": "Compilation"
    },
    {
      "name": "Compilers"
    },
    {
      "name": "Libraries"
    },
    {
      "name": "Metadata"
    },
    {
      "name": "Permlinks"
    }
  ]
}
