{
  "openapi": "3.0.3",
  "info": {
    "title": "Indodax API",
    "description": "Indodax (Indonesia Digital Asset Exchange) API provides access to public market data and authenticated trading operations. Public endpoints are freely accessible; private endpoints require HMAC-SHA512 signed requests via the TAPI endpoint.",
    "version": "1.0.0",
    "x-jentic-source-url": "https://github.com/btcid/indodax-official-api-docs",
    "contact": {
      "name": "API Support"
    }
  },
  "servers": [
    {
      "url": "https://indodax.com",
      "description": "Production"
    }
  ],
  "tags": [
    {
      "name": "Public",
      "description": "Public market data endpoints (no auth required, rate limit 180 req/min)"
    },
    {
      "name": "Private",
      "description": "Private trading/account endpoints (HMAC-SHA512 auth required)"
    }
  ],
  "paths": {
    "/api/server_time": {
      "get": {
        "operationId": "getServerTime",
        "summary": "Get server time",
        "tags": [
          "Public"
        ],
        "parameters": [],
        "responses": {
          "200": {
            "description": "Server time",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ServerTime"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        },
        "description": "Get server time"
      }
    },
    "/api/pairs": {
      "get": {
        "operationId": "getPairs",
        "summary": "Get available trading pairs",
        "tags": [
          "Public"
        ],
        "parameters": [],
        "responses": {
          "200": {
            "description": "List of pairs",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Pair"
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        },
        "description": "Get available trading pairs"
      }
    },
    "/api/price_increments": {
      "get": {
        "operationId": "getPriceIncrements",
        "summary": "Get price increments for each pair",
        "tags": [
          "Public"
        ],
        "parameters": [],
        "responses": {
          "200": {
            "description": "Price increments",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PriceIncrements"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        },
        "description": "Get price increments for each pair"
      }
    },
    "/api/summaries": {
      "get": {
        "operationId": "getSummaries",
        "summary": "Get summary information for all pairs",
        "tags": [
          "Public"
        ],
        "parameters": [],
        "responses": {
          "200": {
            "description": "Market summaries",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Summaries"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        },
        "description": "Get summary information for all pairs"
      }
    },
    "/api/ticker/{pair_id}": {
      "get": {
        "operationId": "getTicker",
        "summary": "Get ticker for a specific pair",
        "tags": [
          "Public"
        ],
        "parameters": [
          {
            "name": "pair_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "default": "btcidr"
            },
            "description": "Pair ID (e.g. btcidr, ethidr)"
          }
        ],
        "responses": {
          "200": {
            "description": "Ticker data",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TickerResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        },
        "description": "Get ticker for a specific pair"
      }
    },
    "/api/ticker_all": {
      "get": {
        "operationId": "getTickerAll",
        "summary": "Get tickers for all pairs",
        "tags": [
          "Public"
        ],
        "parameters": [],
        "responses": {
          "200": {
            "description": "All tickers",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TickerAllResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        },
        "description": "Get tickers for all pairs"
      }
    },
    "/api/trades/{pair_id}": {
      "get": {
        "operationId": "getTrades",
        "summary": "Get recent trades for a pair",
        "tags": [
          "Public"
        ],
        "parameters": [
          {
            "name": "pair_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "default": "btcidr"
            },
            "description": "Pair ID"
          }
        ],
        "responses": {
          "200": {
            "description": "Recent trades",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/TradeRecord"
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        },
        "description": "Get recent trades for a pair"
      }
    },
    "/api/depth/{pair_id}": {
      "get": {
        "operationId": "getDepth",
        "summary": "Get order book depth for a pair",
        "tags": [
          "Public"
        ],
        "parameters": [
          {
            "name": "pair_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "default": "btcidr"
            },
            "description": "Pair ID"
          }
        ],
        "responses": {
          "200": {
            "description": "Order book depth",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DepthResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        },
        "description": "Get order book depth for a pair"
      }
    },
    "/tradingview/history_v2": {
      "get": {
        "operationId": "getOHLCHistory",
        "summary": "Get OHLC charting history",
        "tags": [
          "Public"
        ],
        "parameters": [
          {
            "name": "symbol",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Pair symbol (e.g. BTCIDR)"
          },
          {
            "name": "from",
            "in": "query",
            "required": true,
            "schema": {
              "type": "integer"
            },
            "description": "Start timestamp (unix)"
          },
          {
            "name": "to",
            "in": "query",
            "required": true,
            "schema": {
              "type": "integer"
            },
            "description": "End timestamp (unix)"
          },
          {
            "name": "tf",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string",
              "enum": [
                "1",
                "15",
                "30",
                "60",
                "240",
                "1D",
                "3D",
                "1W"
              ]
            },
            "description": "Timeframe"
          }
        ],
        "responses": {
          "200": {
            "description": "OHLC data",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/OHLCRecord"
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        },
        "description": "Get OHLC charting history"
      }
    },
    "/tapi": {
      "post": {
        "operationId": "privateApi",
        "summary": "Private Trade API - dispatches based on 'method' parameter",
        "description": "All private API calls go to this endpoint. The 'method' parameter determines which operation is performed: getInfo, transHistory, trade, tradeHistory, openOrders, orderHistory, getOrder, getOrderByClientOrderId, cancelOrder, cancelByClientOrderId, withdrawFee, withdrawCoin, listDownline, checkDownline, createVoucher.",
        "tags": [
          "Private"
        ],
        "security": [
          {
            "hmacAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/x-www-form-urlencoded": {
              "schema": {
                "type": "object",
                "required": [
                  "method"
                ],
                "properties": {
                  "method": {
                    "type": "string",
                    "enum": [
                      "getInfo",
                      "transHistory",
                      "trade",
                      "tradeHistory",
                      "openOrders",
                      "orderHistory",
                      "getOrder",
                      "getOrderByClientOrderId",
                      "cancelOrder",
                      "cancelByClientOrderId",
                      "withdrawFee",
                      "withdrawCoin",
                      "listDownline",
                      "checkDownline",
                      "createVoucher"
                    ],
                    "description": "API method to call"
                  },
                  "nonce": {
                    "type": "integer",
                    "description": "Incrementing nonce (alternative to timestamp)"
                  },
                  "timestamp": {
                    "type": "integer",
                    "description": "Millisecond timestamp (alternative to nonce)"
                  },
                  "recvWindow": {
                    "type": "integer",
                    "description": "Request validity window in ms (default 5000)"
                  },
                  "pair": {
                    "type": "string",
                    "description": "Trading pair (for trade, tradeHistory, openOrders, orderHistory, getOrder, cancelOrder)"
                  },
                  "type": {
                    "type": "string",
                    "enum": [
                      "buy",
                      "sell"
                    ],
                    "description": "Order type (for trade, cancelOrder)"
                  },
                  "price": {
                    "type": "number",
                    "description": "Order price (for limit trade)"
                  },
                  "idr": {
                    "type": "number",
                    "description": "IDR amount (for buy orders)"
                  },
                  "btc": {
                    "type": "number",
                    "description": "Coin amount (for trade)"
                  },
                  "order_type": {
                    "type": "string",
                    "enum": [
                      "limit",
                      "market"
                    ],
                    "description": "Order type (default: limit)"
                  },
                  "client_order_id": {
                    "type": "string",
                    "maxLength": 36,
                    "description": "Custom client order ID"
                  },
                  "time_in_force": {
                    "type": "string",
                    "enum": [
                      "GTC",
                      "MOC"
                    ],
                    "description": "Time in force for limit orders"
                  },
                  "order_id": {
                    "type": "integer",
                    "description": "Order ID (for getOrder, cancelOrder)"
                  },
                  "count": {
                    "type": "integer",
                    "description": "Number of records (for tradeHistory, orderHistory)"
                  },
                  "from_id": {
                    "type": "integer",
                    "description": "Start trade ID (for tradeHistory)"
                  },
                  "end_id": {
                    "type": "integer",
                    "description": "End trade ID (for tradeHistory)"
                  },
                  "order": {
                    "type": "string",
                    "enum": [
                      "asc",
                      "desc"
                    ],
                    "description": "Sort order"
                  },
                  "since": {
                    "type": "integer",
                    "description": "Start timestamp"
                  },
                  "end": {
                    "type": "string",
                    "description": "End timestamp or date"
                  },
                  "start": {
                    "type": "string",
                    "description": "Start date (YYYY-MM-DD for transHistory)"
                  },
                  "currency": {
                    "type": "string",
                    "description": "Currency code (for withdrawFee, withdrawCoin)"
                  },
                  "network": {
                    "type": "string",
                    "description": "Network (for withdrawFee, withdrawCoin)"
                  },
                  "withdraw_address": {
                    "type": "string",
                    "description": "Withdrawal address"
                  },
                  "withdraw_amount": {
                    "type": "number",
                    "description": "Withdrawal amount"
                  },
                  "withdraw_memo": {
                    "type": "string",
                    "description": "Withdrawal memo/tag"
                  },
                  "request_id": {
                    "type": "string",
                    "description": "Withdrawal request ID"
                  },
                  "withdraw_input_method": {
                    "type": "string",
                    "description": "username or address"
                  },
                  "withdraw_username": {
                    "type": "string",
                    "description": "Recipient username"
                  },
                  "page": {
                    "type": "integer",
                    "description": "Page number (for listDownline)"
                  },
                  "limit": {
                    "type": "integer",
                    "description": "Results limit (for listDownline)"
                  },
                  "email": {
                    "type": "string",
                    "description": "Email to check (for checkDownline)"
                  },
                  "amount": {
                    "type": "number",
                    "description": "Voucher amount (for createVoucher)"
                  },
                  "to_email": {
                    "type": "string",
                    "description": "Voucher recipient email (for createVoucher)"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response (format depends on method)",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PrivateSuccessResponse"
                }
              }
            }
          },
          "429": {
            "description": "Too many requests",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    }
  },
  "components": {
    "securitySchemes": {
      "hmacAuth": {
        "type": "apiKey",
        "name": "Key",
        "in": "header",
        "description": "API key. Also requires Sign header with HMAC-SHA512 of POST body using secret key."
      }
    },
    "schemas": {
      "Error": {
        "type": "object",
        "properties": {
          "success": {
            "type": "integer",
            "example": 0
          },
          "error": {
            "type": "string"
          },
          "error_code": {
            "type": "string"
          }
        }
      },
      "ServerTime": {
        "type": "object",
        "properties": {
          "timezone": {
            "type": "string"
          },
          "server_time": {
            "type": "integer"
          }
        }
      },
      "Pair": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string"
          },
          "symbol": {
            "type": "string"
          },
          "base_currency": {
            "type": "string"
          },
          "traded_currency": {
            "type": "string"
          },
          "traded_currency_unit": {
            "type": "string"
          },
          "description": {
            "type": "string"
          },
          "ticker_id": {
            "type": "string"
          },
          "volume_precision": {
            "type": "integer"
          },
          "price_precision": {
            "type": "integer"
          },
          "price_round": {
            "type": "integer"
          },
          "pricescale": {
            "type": "integer"
          },
          "trade_min_base_currency": {
            "type": "number"
          },
          "trade_min_traded_currency": {
            "type": "number"
          },
          "has_memo": {
            "type": "boolean"
          },
          "memo_name": {},
          "url_logo": {
            "type": "string"
          },
          "url_logo_png": {
            "type": "string"
          }
        }
      },
      "PriceIncrements": {
        "type": "object",
        "properties": {
          "increments": {
            "type": "object",
            "additionalProperties": {
              "type": "string"
            }
          }
        }
      },
      "Summaries": {
        "type": "object",
        "properties": {
          "tickers": {
            "type": "object",
            "additionalProperties": {
              "$ref": "#/components/schemas/TickerData"
            }
          },
          "prices_24h": {
            "type": "object",
            "additionalProperties": {
              "type": "string"
            }
          },
          "prices_7d": {
            "type": "object",
            "additionalProperties": {
              "type": "string"
            }
          }
        }
      },
      "TickerData": {
        "type": "object",
        "properties": {
          "high": {
            "type": "string"
          },
          "low": {
            "type": "string"
          },
          "vol_btc": {
            "type": "string"
          },
          "vol_idr": {
            "type": "string"
          },
          "last": {
            "type": "string"
          },
          "buy": {
            "type": "string"
          },
          "sell": {
            "type": "string"
          },
          "server_time": {
            "type": "integer"
          },
          "name": {
            "type": "string"
          }
        }
      },
      "TickerResponse": {
        "type": "object",
        "properties": {
          "ticker": {
            "$ref": "#/components/schemas/TickerData"
          }
        }
      },
      "TickerAllResponse": {
        "type": "object",
        "properties": {
          "tickers": {
            "type": "object",
            "additionalProperties": {
              "$ref": "#/components/schemas/TickerData"
            }
          }
        }
      },
      "TradeRecord": {
        "type": "object",
        "properties": {
          "date": {
            "type": "string"
          },
          "price": {
            "type": "string"
          },
          "amount": {
            "type": "string"
          },
          "tid": {
            "type": "string"
          },
          "type": {
            "type": "string",
            "enum": [
              "buy",
              "sell"
            ]
          }
        }
      },
      "DepthResponse": {
        "type": "object",
        "properties": {
          "buy": {
            "type": "array",
            "items": {
              "type": "array",
              "items": {}
            }
          },
          "sell": {
            "type": "array",
            "items": {
              "type": "array",
              "items": {}
            }
          }
        }
      },
      "OHLCRecord": {
        "type": "object",
        "properties": {
          "Time": {
            "type": "integer"
          },
          "Open": {
            "type": "number"
          },
          "High": {
            "type": "number"
          },
          "Low": {
            "type": "number"
          },
          "Close": {
            "type": "number"
          },
          "Volume": {
            "type": "string"
          }
        }
      },
      "PrivateSuccessResponse": {
        "type": "object",
        "properties": {
          "success": {
            "type": "integer",
            "example": 1
          },
          "return": {
            "type": "object"
          }
        }
      },
      "UserInfo": {
        "type": "object",
        "properties": {
          "success": {
            "type": "integer"
          },
          "return": {
            "type": "object",
            "properties": {
              "server_time": {
                "type": "integer"
              },
              "balance": {
                "type": "object",
                "additionalProperties": {}
              },
              "balance_hold": {
                "type": "object",
                "additionalProperties": {}
              },
              "address": {
                "type": "object",
                "additionalProperties": {
                  "type": "string"
                }
              },
              "user_id": {
                "type": "string"
              },
              "name": {
                "type": "string"
              },
              "email": {
                "type": "string"
              },
              "profile_picture": {
                "type": "string",
                "nullable": true
              },
              "verification_status": {
                "type": "string"
              },
              "gauth_enable": {
                "type": "boolean"
              }
            }
          }
        }
      },
      "TradeResult": {
        "type": "object",
        "properties": {
          "success": {
            "type": "integer"
          },
          "return": {
            "type": "object",
            "properties": {
              "receive_btc": {
                "type": "string"
              },
              "spend_rp": {
                "type": "number"
              },
              "fee": {
                "type": "number"
              },
              "remain_rp": {
                "type": "number"
              },
              "order_id": {
                "type": "integer"
              },
              "client_order_id": {
                "type": "string"
              }
            }
          }
        }
      },
      "OrderInfo": {
        "type": "object",
        "properties": {
          "order_id": {
            "type": "string"
          },
          "client_order_id": {
            "type": "string"
          },
          "price": {
            "type": "string"
          },
          "type": {
            "type": "string"
          },
          "order_type": {
            "type": "string"
          },
          "submit_time": {
            "type": "string"
          },
          "finish_time": {
            "type": "string"
          },
          "status": {
            "type": "string"
          }
        }
      },
      "WithdrawResult": {
        "type": "object",
        "properties": {
          "success": {
            "type": "integer"
          },
          "status": {
            "type": "string"
          },
          "withdraw_currency": {
            "type": "string"
          },
          "withdraw_address": {
            "type": "string"
          },
          "withdraw_amount": {
            "type": "string"
          },
          "fee": {
            "type": "string"
          },
          "amount_after_fee": {
            "type": "string"
          },
          "submit_time": {
            "type": "string"
          },
          "withdraw_id": {
            "type": "string"
          },
          "txid": {
            "type": "string"
          }
        }
      }
    }
  }
}
