{
  "openapi": "3.0.3",
  "info": {
    "title": "THO Client",
    "version": "1.1",
    "contact": {},
    "x-jentic-source-url": "https://api.swaggerhub.com/apis/totalholidayoptions/Clientapp/1.1"
  },
  "servers": [
    {
      "url": "https://api.thobooking.com"
    },
    {
      "url": "http://api.thobooking.com"
    },
    {
      "url": "{{baseurl}}send-otp"
    },
    {
      "url": "{{baseurl}}otpverify"
    },
    {
      "url": "{{baseurl}}reset-password"
    },
    {
      "url": "{{baseurl}}reset-otp"
    },
    {
      "url": "http://127.0.0.1"
    },
    {
      "url": "https://api.icanctrl.com"
    },
    {
      "url": "http://localhost"
    }
  ],
  "paths": {
    "/api/register": {
      "post": {
        "summary": "Register",
        "description": "Register",
        "operationId": "register",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "country_id": {
                    "type": "number",
                    "example": 2
                  },
                  "email": {
                    "type": "string",
                    "example": "flutterr@too.com"
                  },
                  "name": {
                    "type": "string",
                    "example": "Parth Aggarwal"
                  },
                  "password": {
                    "type": "string",
                    "example": "Parth@123"
                  },
                  "phone": {
                    "type": "string",
                    "example": "+919803576981"
                  },
                  "uuid": {
                    "type": "string",
                    "example": "bhjwbejfb-hjwbejbvf72"
                  }
                }
              },
              "examples": {
                "Register": {
                  "value": {
                    "country_id": 2,
                    "email": "flutterr@too.com",
                    "name": "Parth Aggarwal",
                    "password": "Parth@123",
                    "phone": "+919803576981",
                    "uuid": "bhjwbejfb-hjwbejbvf72"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": ""
          }
        }
      }
    },
    "/api/login": {
      "post": {
        "summary": "Login",
        "description": "Login",
        "operationId": "login",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "email": {
                    "type": "string",
                    "example": "flutterr@too.com"
                  },
                  "password": {
                    "type": "string",
                    "example": "Parth@123"
                  }
                }
              },
              "examples": {
                "Login": {
                  "value": {
                    "email": "flutterr@too.com",
                    "password": "Parth@123"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": ""
          }
        }
      }
    },
    "/api/coutries_dropdown": {
      "get": {
        "summary": "countriesDropdown",
        "description": "countriesDropdown",
        "operationId": "countriesdropdown",
        "responses": {
          "200": {
            "description": ""
          }
        }
      }
    },
    "/": {
      "post": {
        "summary": "Sent OTP",
        "description": "Sent OTP",
        "operationId": "sentOtp",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "email": {
                    "type": "string",
                    "example": "flutter@totaldigilution.com"
                  }
                }
              },
              "examples": {
                "Change Password": {
                  "value": {
                    "email": "flutter@totaldigilution.com",
                    "password": "123456"
                  }
                },
                "Resend OTP": {
                  "value": {
                    "email": "flutter@totaldigilution.com"
                  }
                },
                "Sent OTP": {
                  "value": {
                    "email": "flutter@totaldigilution.com"
                  }
                },
                "Verify OTP": {
                  "value": {
                    "email": "flutter@totaldigilution.com",
                    "token": "123456"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": ""
          }
        }
      }
    },
    "/api/country-registration": {
      "get": {
        "summary": "Registration Country Api",
        "description": "Registration Country Api",
        "operationId": "registrationCountryApi",
        "responses": {
          "200": {
            "description": ""
          }
        }
      }
    },
    "/api/main-slider": {
      "get": {
        "summary": "Main Slider",
        "description": "Main Slider",
        "operationId": "mainSlider",
        "responses": {
          "200": {
            "description": ""
          }
        }
      }
    },
    "/api/add_my_booking": {
      "post": {
        "summary": "Add Booking",
        "description": "Add Booking",
        "operationId": "addBooking",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "last_name": {
                    "type": "string",
                    "example": "Morgan"
                  },
                  "quote_ref_no": {
                    "type": "string",
                    "example": "THOAU27062"
                  },
                  "user_id": {
                    "type": "string",
                    "example": "I98c3IFpc3ceLFi8X7Ctjp6SZ9c2"
                  }
                }
              },
              "examples": {
                "Add Booking": {
                  "value": {
                    "last_name": "Morgan",
                    "quote_ref_no": "THOAU27062",
                    "user_id": "I98c3IFpc3ceLFi8X7Ctjp6SZ9c2"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": ""
          }
        }
      }
    },
    "/api/delete-booking": {
      "get": {
        "summary": "Delete Booking",
        "description": "Delete Booking",
        "operationId": "deleteBooking",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "quote_ref_no": {
                    "type": "string",
                    "example": "THOAU24596(6)"
                  },
                  "user_id": {
                    "type": "string",
                    "example": "pA4qjm3DKJTmpIMkXSAOJHANMll1"
                  }
                }
              },
              "examples": {
                "Delete Booking": {
                  "value": {
                    "quote_ref_no": "THOAU24596(6)",
                    "user_id": "pA4qjm3DKJTmpIMkXSAOJHANMll1"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": ""
          }
        }
      }
    },
    "/api/my_bookings": {
      "post": {
        "summary": "List Booking",
        "description": "List Booking",
        "operationId": "listBooking",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "user_id": {
                    "type": "string",
                    "example": "jkQgKe56QyWXPnd1kjaRozzIT1h2"
                  }
                }
              },
              "examples": {
                "List Booking": {
                  "value": {
                    "user_id": "jkQgKe56QyWXPnd1kjaRozzIT1h2"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": ""
          }
        }
      }
    },
    "/api/sub-quote-list": {
      "post": {
        "summary": "sub quote list",
        "description": "sub quote list",
        "operationId": "subQuoteList",
        "parameters": [
          {
            "name": "current_ver_id",
            "in": "query",
            "schema": {
              "type": "string",
              "example": "26285"
            }
          },
          {
            "name": "last_name",
            "in": "query",
            "schema": {
              "type": "string",
              "example": "Grant"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "examples": {
                "sub quote list": {
                  "value": ""
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": ""
          }
        }
      }
    },
    "/api/delete": {
      "post": {
        "summary": "Delete Account",
        "description": "Delete Account",
        "operationId": "deleteAccount",
        "parameters": [
          {
            "name": "user_id",
            "in": "query",
            "schema": {
              "type": "string",
              "example": "qvPImuLByVX2CGI1Ntgvz1OvibM2"
            }
          }
        ],
        "responses": {
          "200": {
            "description": ""
          }
        }
      }
    },
    "/api/getQuoteIteneraryDate": {
      "post": {
        "summary": "getQuoteIteneraryDate",
        "description": "getQuoteIteneraryDate",
        "operationId": "getquoteitenerarydate",
        "requestBody": {
          "content": {
            "application/json": {
              "examples": {
                "getQuoteIteneraryDate": {
                  "value": "{\r\n    \"subquote_id\": \"26605\",\r\n    \"uuid\": \"uC2TEHu4kjRxbkw4QEQA45ltxzm2\",\r\n    \"last_name\": \"Malmberg\"\r\n}\r\n\r\n// {\r\n//     \"subquote_id\": \"14760\",\r\n//     \"uuid\": \"jkQgKe56QyWXPnd1kjaRozzIT1h2\",\r\n//     \"last_name\": \"CLEMMENS\"\r\n// }"
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": ""
          }
        }
      }
    },
    "/api/getQuoteItenerary_backup_rkc": {
      "post": {
        "summary": "Itenerary",
        "description": "Itenerary",
        "operationId": "itenerary",
        "parameters": [
          {
            "name": "subquote_id",
            "in": "query",
            "schema": {
              "type": "string",
              "example": "10305"
            }
          },
          {
            "name": "uid",
            "in": "query",
            "schema": {
              "type": "string",
              "example": "pA4qjm3DKJTmpIMkXSAOJHANMll1"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "id": {
                    "type": "string",
                    "example": "137287"
                  }
                }
              },
              "examples": {
                "Itenerary": {
                  "value": "{\n    \"id\":137283,\n    \"uuid\": \"pA4qjm3DKJTmpIMkXSAOJHANMll1\",\n    \"subquote_id\": 14760\n    // \"quote_daywise_id\": \"137283\"\n}"
                },
                "Itenerary_Backup": {
                  "value": {
                    "id": "137287"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": ""
          }
        }
      }
    },
    "/api/feedback": {
      "post": {
        "summary": "Feedback",
        "description": "Feedback",
        "operationId": "feedback",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "accom_id_fk": {
                    "type": "number",
                    "example": 208
                  },
                  "act_id": {
                    "type": "number",
                    "example": 105252
                  },
                  "comment": {
                    "type": "string",
                    "example": "neeelu!"
                  },
                  "quote_daywise_act_id": {
                    "type": "number",
                    "example": 95043
                  },
                  "star": {
                    "type": "number",
                    "example": 2
                  },
                  "subquote_id": {
                    "type": "number",
                    "example": 10305
                  },
                  "uuid": {
                    "type": "string",
                    "example": "pA4qjm3DKJTmpIMkXSAOJHANMll1"
                  }
                }
              },
              "examples": {
                "Feedback": {
                  "value": {
                    "accom_id_fk": 208,
                    "act_id": 105252,
                    "comment": "neeelu!",
                    "quote_daywise_act_id": 95043,
                    "star": 2,
                    "subquote_id": 10305,
                    "uuid": "pA4qjm3DKJTmpIMkXSAOJHANMll1"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": ""
          }
        }
      }
    },
    "/api/fetch-feedback": {
      "post": {
        "summary": "Fetch Feedback",
        "description": "Fetch Feedback",
        "operationId": "fetchFeedback",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "quote_daywise_act_id": {
                    "type": "number",
                    "example": 97027
                  },
                  "subquote_id": {
                    "type": "number",
                    "example": 10305
                  },
                  "uuid": {
                    "type": "string",
                    "example": "pA4qjm3DKJTmpIMkXSAOJHANMll1"
                  }
                }
              },
              "examples": {
                "Fetch Feedback": {
                  "value": {
                    "quote_daywise_act_id": 97027,
                    "subquote_id": 10305,
                    "uuid": "pA4qjm3DKJTmpIMkXSAOJHANMll1"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": ""
          }
        }
      }
    },
    "/api/feedback-lable": {
      "get": {
        "summary": "Feedback Label",
        "description": "Feedback Label",
        "operationId": "feedbackLabel",
        "requestBody": {
          "content": {
            "application/json": {
              "examples": {
                "Feedback Label": {
                  "value": ""
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": ""
          }
        }
      }
    },
    "/api/feedback-qsn": {
      "post": {
        "summary": "Feedback Question",
        "description": "Feedback Question",
        "operationId": "feedbackQuestion",
        "parameters": [
          {
            "name": "label_id",
            "in": "query",
            "schema": {
              "type": "string",
              "example": "3"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "country_id": {
                    "type": "number",
                    "example": 157
                  },
                  "label_id": {
                    "type": "number",
                    "example": 5
                  }
                }
              },
              "examples": {
                "Feedback Question": {
                  "value": {
                    "country_id": 157,
                    "label_id": 5
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": ""
          }
        }
      }
    },
    "/api/feedback-ans": {
      "post": {
        "summary": "Feedback Answer",
        "description": "Feedback Answer",
        "operationId": "feedbackAnswer",
        "requestBody": {
          "content": {
            "multipart/form-data": {
              "schema": {
                "type": "object",
                "properties": {
                  "answer": {
                    "type": "string",
                    "example": "[-1,\"\",-1,\"\",-1,-1,\"\",-1,-1,\"\"]"
                  },
                  "country_id_fk": {
                    "type": "string",
                    "example": "206"
                  },
                  "email": {
                    "type": "string",
                    "example": "totaldigilution@gmail.com"
                  },
                  "file_path": {
                    "type": "string",
                    "format": "binary"
                  },
                  "file_type": {
                    "type": "string",
                    "example": "image"
                  },
                  "name": {
                    "type": "string",
                    "example": "Emmalita Nyrie Malmberg"
                  },
                  "pax_id": {
                    "type": "string",
                    "example": "45124"
                  },
                  "question_id": {
                    "type": "string",
                    "example": "{\"131\":2,\"132\":3,\"133\":\"Testing\",\"136\":3,\"134\":1}"
                  },
                  "quote_id_fk": {
                    "type": "string",
                    "example": "31903"
                  },
                  "subquote_id": {
                    "type": "string",
                    "example": "26605"
                  },
                  "tour_name": {
                    "type": "string",
                    "example": "Tailor Made Sri Lanka"
                  },
                  "tour_reference": {
                    "type": "string",
                    "example": "THOAU31903"
                  },
                  "trip_start_date": {
                    "type": "string",
                    "example": "9/9/2025"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": ""
          }
        }
      }
    },
    "/api/user-logs": {
      "post": {
        "summary": "User Logs",
        "description": "User Logs",
        "operationId": "userLogs",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "device_id": {
                    "type": "string",
                    "example": "1"
                  },
                  "ip_address": {
                    "type": "string",
                    "example": "182.69.182.113"
                  },
                  "platform": {
                    "type": "string",
                    "example": "ios"
                  },
                  "uuid": {
                    "type": "string",
                    "example": "1"
                  }
                }
              },
              "examples": {
                "User Logs": {
                  "value": {
                    "device_id": "1",
                    "ip_address": "182.69.182.113",
                    "platform": "ios",
                    "uuid": "1"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": ""
          }
        }
      }
    },
    "/api/get-logs": {
      "post": {
        "summary": "getLogs",
        "description": "getLogs",
        "operationId": "getlogs",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "limit": {
                    "type": "number",
                    "example": 100
                  }
                }
              },
              "examples": {
                "getLogs": {
                  "value": {
                    "limit": 100
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": ""
          }
        }
      }
    },
    "/api/dashboard": {
      "post": {
        "summary": "Dashboard",
        "description": "Dashboard",
        "operationId": "dashboard",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "shuffle": {
                    "type": "boolean",
                    "example": true
                  }
                }
              },
              "examples": {
                "Dashboard": {
                  "value": {
                    "shuffle": true
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": ""
          }
        }
      }
    },
    "/api/promotions": {
      "post": {
        "summary": "Promotion List",
        "description": "Promotion List",
        "operationId": "promotionList",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "limit": {
                    "type": "number",
                    "example": 10
                  }
                }
              },
              "examples": {
                "Promotion List": {
                  "value": {
                    "limit": 10
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": ""
          }
        }
      }
    },
    "/api/mobile-tours": {
      "post": {
        "summary": "Tour List",
        "description": "Tour List",
        "operationId": "tourList",
        "requestBody": {
          "content": {
            "application/json": {
              "examples": {
                "Tour List": {
                  "value": "{\r\n    // \"limit\": 1,\r\n    \"country_id\": 101\r\n    // \"shuffle\": true\r\n}"
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": ""
          }
        }
      }
    },
    "/api/tour-detail": {
      "post": {
        "summary": "tour-details",
        "description": "tour-details",
        "operationId": "tourDetails",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "country_id": {
                    "type": "number",
                    "example": 13
                  },
                  "id": {
                    "type": "number",
                    "example": 448
                  }
                }
              },
              "examples": {
                "tour-details": {
                  "value": {
                    "country_id": 13,
                    "id": 448
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": ""
          }
        }
      }
    },
    "/api/group-tour-date": {
      "post": {
        "summary": "Group Date",
        "description": "Group Date",
        "operationId": "groupDate",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "country_id": {
                    "type": "number",
                    "example": 13
                  },
                  "tour_id": {
                    "type": "number",
                    "example": 603
                  }
                }
              },
              "examples": {
                "Group Date": {
                  "value": {
                    "country_id": 13,
                    "tour_id": 603
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Group Date",
            "headers": {
              "Access-Control-Allow-Headers": {
                "schema": {
                  "type": "string",
                  "example": "Content-Type, Authorization"
                }
              },
              "Access-Control-Allow-Methods": {
                "schema": {
                  "type": "string",
                  "example": "GET, POST, PUT, DELETE, OPTIONS"
                }
              },
              "Access-Control-Allow-Origin": {
                "schema": {
                  "type": "string",
                  "example": "*"
                }
              },
              "CF-RAY": {
                "schema": {
                  "type": "string",
                  "example": "92d0bf40b9ab260a-MRS"
                }
              },
              "Cache-Control": {
                "schema": {
                  "type": "string",
                  "example": "no-cache, private"
                }
              },
              "Cf-Cache-Status": {
                "schema": {
                  "type": "string",
                  "example": "DYNAMIC"
                }
              },
              "Connection": {
                "schema": {
                  "type": "string",
                  "example": "keep-alive"
                }
              },
              "Content-Encoding": {
                "schema": {
                  "type": "string",
                  "example": "br"
                }
              },
              "Date": {
                "schema": {
                  "type": "string",
                  "example": "Tue, 08 Apr 2025 09:30:39 GMT"
                }
              },
              "Server": {
                "schema": {
                  "type": "string",
                  "example": "cloudflare"
                }
              },
              "Transfer-Encoding": {
                "schema": {
                  "type": "string",
                  "example": "chunked"
                }
              },
              "X-Ratelimit-Limit": {
                "schema": {
                  "type": "string",
                  "example": "60"
                }
              },
              "X-Ratelimit-Remaining": {
                "schema": {
                  "type": "string",
                  "example": "59"
                }
              },
              "alt-svc": {
                "schema": {
                  "type": "string",
                  "example": "h3=\":443\"; ma=86400"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "c_end_date": {
                        "type": "string",
                        "example": "04 May, 2025"
                      },
                      "c_start_date": {
                        "type": "string",
                        "example": "18 Apr, 2025"
                      },
                      "costing_status": {
                        "type": "number",
                        "example": 2
                      },
                      "end_date": {
                        "type": "string",
                        "example": "04 May, 2025"
                      },
                      "id": {
                        "type": "number",
                        "example": 1701
                      },
                      "number_of_days": {
                        "type": "number",
                        "example": 16
                      },
                      "office_cost": {
                        "type": "array",
                        "items": {
                          "type": "object",
                          "properties": {
                            "currency_code": {
                              "type": "string",
                              "example": "AUD"
                            },
                            "currency_name": {
                              "type": "string",
                              "example": "Australian Dollar"
                            },
                            "office_cost": {
                              "type": "number",
                              "example": 5960.24
                            },
                            "room_type_id_fk": {
                              "type": "number",
                              "example": 3
                            },
                            "room_type_name": {
                              "type": "string",
                              "example": "Double Share"
                            }
                          }
                        },
                        "example": [
                          {
                            "currency_code": "AUD",
                            "currency_name": "Australian Dollar",
                            "office_cost": 5960.24,
                            "room_type_id_fk": 3,
                            "room_type_name": "Double Share"
                          },
                          {
                            "currency_code": "AUD",
                            "currency_name": "Australian Dollar",
                            "office_cost": 7192.63,
                            "room_type_id_fk": 1,
                            "room_type_name": "Single"
                          }
                        ]
                      },
                      "paxcount": {
                        "nullable": true,
                        "example": null
                      },
                      "quote_id_fk": {
                        "type": "number",
                        "example": 1351
                      },
                      "seats": {
                        "type": "number",
                        "example": 32
                      },
                      "start_date": {
                        "type": "string",
                        "example": "18 Apr, 2025"
                      },
                      "status": {
                        "type": "number",
                        "example": 0
                      }
                    }
                  },
                  "example": [
                    {
                      "c_end_date": "04 May, 2025",
                      "c_start_date": "18 Apr, 2025",
                      "costing_status": 2,
                      "end_date": "04 May, 2025",
                      "id": 1701,
                      "number_of_days": 16,
                      "office_cost": [
                        {
                          "currency_code": "AUD",
                          "currency_name": "Australian Dollar",
                          "office_cost": 5960.24,
                          "room_type_id_fk": 3,
                          "room_type_name": "Double Share"
                        },
                        {
                          "currency_code": "AUD",
                          "currency_name": "Australian Dollar",
                          "office_cost": 7192.63,
                          "room_type_id_fk": 1,
                          "room_type_name": "Single"
                        }
                      ],
                      "paxcount": null,
                      "quote_id_fk": 1351,
                      "seats": 32,
                      "start_date": "18 Apr, 2025",
                      "status": 0
                    },
                    {
                      "c_end_date": "08 Jun, 2025",
                      "c_start_date": "23 May, 2025",
                      "costing_status": 2,
                      "end_date": "08 Jun, 2025",
                      "id": 1702,
                      "number_of_days": 16,
                      "office_cost": [
                        {
                          "currency_code": "AUD",
                          "currency_name": "Australian Dollar",
                          "office_cost": 5960.24,
                          "room_type_id_fk": 3,
                          "room_type_name": "Double Share"
                        },
                        {
                          "currency_code": "AUD",
                          "currency_name": "Australian Dollar",
                          "office_cost": 7192.63,
                          "room_type_id_fk": 1,
                          "room_type_name": "Single"
                        }
                      ],
                      "paxcount": null,
                      "quote_id_fk": 1352,
                      "seats": 32,
                      "start_date": "23 May, 2025",
                      "status": 0
                    },
                    {
                      "c_end_date": "06 Jul, 2025",
                      "c_start_date": "20 Jun, 2025",
                      "costing_status": 2,
                      "end_date": "06 Jul, 2025",
                      "id": 1703,
                      "number_of_days": 16,
                      "office_cost": [
                        {
                          "currency_code": "AUD",
                          "currency_name": "Australian Dollar",
                          "office_cost": 5960.24,
                          "room_type_id_fk": 3,
                          "room_type_name": "Double Share"
                        },
                        {
                          "currency_code": "AUD",
                          "currency_name": "Australian Dollar",
                          "office_cost": 7192.63,
                          "room_type_id_fk": 1,
                          "room_type_name": "Single"
                        }
                      ],
                      "paxcount": null,
                      "quote_id_fk": 1353,
                      "seats": 32,
                      "start_date": "20 Jun, 2025",
                      "status": 0
                    },
                    {
                      "c_end_date": "03 Aug, 2025",
                      "c_start_date": "18 Jul, 2025",
                      "costing_status": 2,
                      "end_date": "03 Aug, 2025",
                      "id": 1705,
                      "number_of_days": 16,
                      "office_cost": [
                        {
                          "currency_code": "AUD",
                          "currency_name": "Australian Dollar",
                          "office_cost": 5960.24,
                          "room_type_id_fk": 3,
                          "room_type_name": "Double Share"
                        },
                        {
                          "currency_code": "AUD",
                          "currency_name": "Australian Dollar",
                          "office_cost": 7192.63,
                          "room_type_id_fk": 1,
                          "room_type_name": "Single"
                        }
                      ],
                      "paxcount": null,
                      "quote_id_fk": 1355,
                      "seats": 32,
                      "start_date": "18 Jul, 2025",
                      "status": 0
                    },
                    {
                      "c_end_date": "07 Sep, 2025",
                      "c_start_date": "22 Aug, 2025",
                      "costing_status": 2,
                      "end_date": "07 Sep, 2025",
                      "id": 1706,
                      "number_of_days": 16,
                      "office_cost": [
                        {
                          "currency_code": "AUD",
                          "currency_name": "Australian Dollar",
                          "office_cost": 5960.24,
                          "room_type_id_fk": 3,
                          "room_type_name": "Double Share"
                        },
                        {
                          "currency_code": "AUD",
                          "currency_name": "Australian Dollar",
                          "office_cost": 7192.63,
                          "room_type_id_fk": 1,
                          "room_type_name": "Single"
                        }
                      ],
                      "paxcount": null,
                      "quote_id_fk": 1356,
                      "seats": 32,
                      "start_date": "22 Aug, 2025",
                      "status": 0
                    },
                    {
                      "c_end_date": "05 Oct, 2025",
                      "c_start_date": "19 Sep, 2025",
                      "costing_status": 2,
                      "end_date": "05 Oct, 2025",
                      "id": 1708,
                      "number_of_days": 16,
                      "office_cost": [
                        {
                          "currency_code": "AUD",
                          "currency_name": "Australian Dollar",
                          "office_cost": 5960.24,
                          "room_type_id_fk": 3,
                          "room_type_name": "Double Share"
                        },
                        {
                          "currency_code": "AUD",
                          "currency_name": "Australian Dollar",
                          "office_cost": 7192.63,
                          "room_type_id_fk": 1,
                          "room_type_name": "Single"
                        }
                      ],
                      "paxcount": null,
                      "quote_id_fk": 1357,
                      "seats": 32,
                      "start_date": "19 Sep, 2025",
                      "status": 0
                    },
                    {
                      "c_end_date": "02 Nov, 2025",
                      "c_start_date": "17 Oct, 2025",
                      "costing_status": 2,
                      "end_date": "02 Nov, 2025",
                      "id": 1707,
                      "number_of_days": 16,
                      "office_cost": [
                        {
                          "currency_code": "AUD",
                          "currency_name": "Australian Dollar",
                          "office_cost": 5960.24,
                          "room_type_id_fk": 3,
                          "room_type_name": "Double Share"
                        },
                        {
                          "currency_code": "AUD",
                          "currency_name": "Australian Dollar",
                          "office_cost": 7192.63,
                          "room_type_id_fk": 1,
                          "room_type_name": "Single"
                        }
                      ],
                      "paxcount": null,
                      "quote_id_fk": 1358,
                      "seats": 32,
                      "start_date": "17 Oct, 2025",
                      "status": 0
                    },
                    {
                      "c_end_date": "03 May, 2026",
                      "c_start_date": "17 Apr, 2026",
                      "costing_status": 2,
                      "end_date": "03 May, 2026",
                      "id": 1709,
                      "number_of_days": 16,
                      "office_cost": [
                        {
                          "currency_code": "AUD",
                          "currency_name": "Australian Dollar",
                          "office_cost": 6437.86,
                          "room_type_id_fk": 3,
                          "room_type_name": "Double Share"
                        },
                        {
                          "currency_code": "AUD",
                          "currency_name": "Australian Dollar",
                          "office_cost": 7767.38,
                          "room_type_id_fk": 1,
                          "room_type_name": "Single"
                        }
                      ],
                      "paxcount": null,
                      "quote_id_fk": 1365,
                      "seats": 32,
                      "start_date": "17 Apr, 2026",
                      "status": 0
                    },
                    {
                      "c_end_date": "07 Jun, 2026",
                      "c_start_date": "22 May, 2026",
                      "costing_status": 2,
                      "end_date": "07 Jun, 2026",
                      "id": 1710,
                      "number_of_days": 16,
                      "office_cost": [
                        {
                          "currency_code": "AUD",
                          "currency_name": "Australian Dollar",
                          "office_cost": 6437.86,
                          "room_type_id_fk": 3,
                          "room_type_name": "Double Share"
                        },
                        {
                          "currency_code": "AUD",
                          "currency_name": "Australian Dollar",
                          "office_cost": 7767.38,
                          "room_type_id_fk": 1,
                          "room_type_name": "Single"
                        }
                      ],
                      "paxcount": null,
                      "quote_id_fk": 1366,
                      "seats": 32,
                      "start_date": "22 May, 2026",
                      "status": 0
                    },
                    {
                      "c_end_date": "12 Jul, 2026",
                      "c_start_date": "26 Jun, 2026",
                      "costing_status": 2,
                      "end_date": "12 Jul, 2026",
                      "id": 1711,
                      "number_of_days": 16,
                      "office_cost": [
                        {
                          "currency_code": "AUD",
                          "currency_name": "Australian Dollar",
                          "office_cost": 6437.86,
                          "room_type_id_fk": 3,
                          "room_type_name": "Double Share"
                        },
                        {
                          "currency_code": "AUD",
                          "currency_name": "Australian Dollar",
                          "office_cost": 7767.38,
                          "room_type_id_fk": 1,
                          "room_type_name": "Single"
                        }
                      ],
                      "paxcount": null,
                      "quote_id_fk": 1360,
                      "seats": 32,
                      "start_date": "26 Jun, 2026",
                      "status": 0
                    },
                    {
                      "c_end_date": "09 Aug, 2026",
                      "c_start_date": "24 Jul, 2026",
                      "costing_status": 2,
                      "end_date": "09 Aug, 2026",
                      "id": 1712,
                      "number_of_days": 16,
                      "office_cost": [
                        {
                          "currency_code": "AUD",
                          "currency_name": "Australian Dollar",
                          "office_cost": 6437.86,
                          "room_type_id_fk": 3,
                          "room_type_name": "Double Share"
                        },
                        {
                          "currency_code": "AUD",
                          "currency_name": "Australian Dollar",
                          "office_cost": 7767.38,
                          "room_type_id_fk": 1,
                          "room_type_name": "Single"
                        }
                      ],
                      "paxcount": null,
                      "quote_id_fk": 1361,
                      "seats": 32,
                      "start_date": "24 Jul, 2026",
                      "status": 0
                    },
                    {
                      "c_end_date": "13 Sep, 2026",
                      "c_start_date": "28 Aug, 2026",
                      "costing_status": 2,
                      "end_date": "13 Sep, 2026",
                      "id": 1713,
                      "number_of_days": 16,
                      "office_cost": [
                        {
                          "currency_code": "AUD",
                          "currency_name": "Australian Dollar",
                          "office_cost": 6437.86,
                          "room_type_id_fk": 3,
                          "room_type_name": "Double Share"
                        },
                        {
                          "currency_code": "AUD",
                          "currency_name": "Australian Dollar",
                          "office_cost": 7767.38,
                          "room_type_id_fk": 1,
                          "room_type_name": "Single"
                        }
                      ],
                      "paxcount": null,
                      "quote_id_fk": 1362,
                      "seats": 32,
                      "start_date": "28 Aug, 2026",
                      "status": 0
                    },
                    {
                      "c_end_date": "11 Oct, 2026",
                      "c_start_date": "25 Sep, 2026",
                      "costing_status": 2,
                      "end_date": "11 Oct, 2026",
                      "id": 1714,
                      "number_of_days": 16,
                      "office_cost": [
                        {
                          "currency_code": "AUD",
                          "currency_name": "Australian Dollar",
                          "office_cost": 6437.86,
                          "room_type_id_fk": 3,
                          "room_type_name": "Double Share"
                        },
                        {
                          "currency_code": "AUD",
                          "currency_name": "Australian Dollar",
                          "office_cost": 7767.38,
                          "room_type_id_fk": 1,
                          "room_type_name": "Single"
                        }
                      ],
                      "paxcount": null,
                      "quote_id_fk": 1363,
                      "seats": 32,
                      "start_date": "25 Sep, 2026",
                      "status": 0
                    },
                    {
                      "c_end_date": "08 Nov, 2026",
                      "c_start_date": "23 Oct, 2026",
                      "costing_status": 2,
                      "end_date": "08 Nov, 2026",
                      "id": 1715,
                      "number_of_days": 16,
                      "office_cost": [
                        {
                          "currency_code": "AUD",
                          "currency_name": "Australian Dollar",
                          "office_cost": 6437.86,
                          "room_type_id_fk": 3,
                          "room_type_name": "Double Share"
                        },
                        {
                          "currency_code": "AUD",
                          "currency_name": "Australian Dollar",
                          "office_cost": 7767.38,
                          "room_type_id_fk": 1,
                          "room_type_name": "Single"
                        }
                      ],
                      "paxcount": null,
                      "quote_id_fk": 1364,
                      "seats": 32,
                      "start_date": "23 Oct, 2026",
                      "status": 0
                    }
                  ]
                },
                "examples": {
                  "Group Date": {
                    "value": [
                      {
                        "c_end_date": "04 May, 2025",
                        "c_start_date": "18 Apr, 2025",
                        "costing_status": 2,
                        "end_date": "04 May, 2025",
                        "id": 1701,
                        "number_of_days": 16,
                        "office_cost": [
                          {
                            "currency_code": "AUD",
                            "currency_name": "Australian Dollar",
                            "office_cost": 5960.24,
                            "room_type_id_fk": 3,
                            "room_type_name": "Double Share"
                          },
                          {
                            "currency_code": "AUD",
                            "currency_name": "Australian Dollar",
                            "office_cost": 7192.63,
                            "room_type_id_fk": 1,
                            "room_type_name": "Single"
                          }
                        ],
                        "paxcount": null,
                        "quote_id_fk": 1351,
                        "seats": 32,
                        "start_date": "18 Apr, 2025",
                        "status": 0
                      },
                      {
                        "c_end_date": "08 Jun, 2025",
                        "c_start_date": "23 May, 2025",
                        "costing_status": 2,
                        "end_date": "08 Jun, 2025",
                        "id": 1702,
                        "number_of_days": 16,
                        "office_cost": [
                          {
                            "currency_code": "AUD",
                            "currency_name": "Australian Dollar",
                            "office_cost": 5960.24,
                            "room_type_id_fk": 3,
                            "room_type_name": "Double Share"
                          },
                          {
                            "currency_code": "AUD",
                            "currency_name": "Australian Dollar",
                            "office_cost": 7192.63,
                            "room_type_id_fk": 1,
                            "room_type_name": "Single"
                          }
                        ],
                        "paxcount": null,
                        "quote_id_fk": 1352,
                        "seats": 32,
                        "start_date": "23 May, 2025",
                        "status": 0
                      },
                      {
                        "c_end_date": "06 Jul, 2025",
                        "c_start_date": "20 Jun, 2025",
                        "costing_status": 2,
                        "end_date": "06 Jul, 2025",
                        "id": 1703,
                        "number_of_days": 16,
                        "office_cost": [
                          {
                            "currency_code": "AUD",
                            "currency_name": "Australian Dollar",
                            "office_cost": 5960.24,
                            "room_type_id_fk": 3,
                            "room_type_name": "Double Share"
                          },
                          {
                            "currency_code": "AUD",
                            "currency_name": "Australian Dollar",
                            "office_cost": 7192.63,
                            "room_type_id_fk": 1,
                            "room_type_name": "Single"
                          }
                        ],
                        "paxcount": null,
                        "quote_id_fk": 1353,
                        "seats": 32,
                        "start_date": "20 Jun, 2025",
                        "status": 0
                      },
                      {
                        "c_end_date": "03 Aug, 2025",
                        "c_start_date": "18 Jul, 2025",
                        "costing_status": 2,
                        "end_date": "03 Aug, 2025",
                        "id": 1705,
                        "number_of_days": 16,
                        "office_cost": [
                          {
                            "currency_code": "AUD",
                            "currency_name": "Australian Dollar",
                            "office_cost": 5960.24,
                            "room_type_id_fk": 3,
                            "room_type_name": "Double Share"
                          },
                          {
                            "currency_code": "AUD",
                            "currency_name": "Australian Dollar",
                            "office_cost": 7192.63,
                            "room_type_id_fk": 1,
                            "room_type_name": "Single"
                          }
                        ],
                        "paxcount": null,
                        "quote_id_fk": 1355,
                        "seats": 32,
                        "start_date": "18 Jul, 2025",
                        "status": 0
                      },
                      {
                        "c_end_date": "07 Sep, 2025",
                        "c_start_date": "22 Aug, 2025",
                        "costing_status": 2,
                        "end_date": "07 Sep, 2025",
                        "id": 1706,
                        "number_of_days": 16,
                        "office_cost": [
                          {
                            "currency_code": "AUD",
                            "currency_name": "Australian Dollar",
                            "office_cost": 5960.24,
                            "room_type_id_fk": 3,
                            "room_type_name": "Double Share"
                          },
                          {
                            "currency_code": "AUD",
                            "currency_name": "Australian Dollar",
                            "office_cost": 7192.63,
                            "room_type_id_fk": 1,
                            "room_type_name": "Single"
                          }
                        ],
                        "paxcount": null,
                        "quote_id_fk": 1356,
                        "seats": 32,
                        "start_date": "22 Aug, 2025",
                        "status": 0
                      },
                      {
                        "c_end_date": "05 Oct, 2025",
                        "c_start_date": "19 Sep, 2025",
                        "costing_status": 2,
                        "end_date": "05 Oct, 2025",
                        "id": 1708,
                        "number_of_days": 16,
                        "office_cost": [
                          {
                            "currency_code": "AUD",
                            "currency_name": "Australian Dollar",
                            "office_cost": 5960.24,
                            "room_type_id_fk": 3,
                            "room_type_name": "Double Share"
                          },
                          {
                            "currency_code": "AUD",
                            "currency_name": "Australian Dollar",
                            "office_cost": 7192.63,
                            "room_type_id_fk": 1,
                            "room_type_name": "Single"
                          }
                        ],
                        "paxcount": null,
                        "quote_id_fk": 1357,
                        "seats": 32,
                        "start_date": "19 Sep, 2025",
                        "status": 0
                      },
                      {
                        "c_end_date": "02 Nov, 2025",
                        "c_start_date": "17 Oct, 2025",
                        "costing_status": 2,
                        "end_date": "02 Nov, 2025",
                        "id": 1707,
                        "number_of_days": 16,
                        "office_cost": [
                          {
                            "currency_code": "AUD",
                            "currency_name": "Australian Dollar",
                            "office_cost": 5960.24,
                            "room_type_id_fk": 3,
                            "room_type_name": "Double Share"
                          },
                          {
                            "currency_code": "AUD",
                            "currency_name": "Australian Dollar",
                            "office_cost": 7192.63,
                            "room_type_id_fk": 1,
                            "room_type_name": "Single"
                          }
                        ],
                        "paxcount": null,
                        "quote_id_fk": 1358,
                        "seats": 32,
                        "start_date": "17 Oct, 2025",
                        "status": 0
                      },
                      {
                        "c_end_date": "03 May, 2026",
                        "c_start_date": "17 Apr, 2026",
                        "costing_status": 2,
                        "end_date": "03 May, 2026",
                        "id": 1709,
                        "number_of_days": 16,
                        "office_cost": [
                          {
                            "currency_code": "AUD",
                            "currency_name": "Australian Dollar",
                            "office_cost": 6437.86,
                            "room_type_id_fk": 3,
                            "room_type_name": "Double Share"
                          },
                          {
                            "currency_code": "AUD",
                            "currency_name": "Australian Dollar",
                            "office_cost": 7767.38,
                            "room_type_id_fk": 1,
                            "room_type_name": "Single"
                          }
                        ],
                        "paxcount": null,
                        "quote_id_fk": 1365,
                        "seats": 32,
                        "start_date": "17 Apr, 2026",
                        "status": 0
                      },
                      {
                        "c_end_date": "07 Jun, 2026",
                        "c_start_date": "22 May, 2026",
                        "costing_status": 2,
                        "end_date": "07 Jun, 2026",
                        "id": 1710,
                        "number_of_days": 16,
                        "office_cost": [
                          {
                            "currency_code": "AUD",
                            "currency_name": "Australian Dollar",
                            "office_cost": 6437.86,
                            "room_type_id_fk": 3,
                            "room_type_name": "Double Share"
                          },
                          {
                            "currency_code": "AUD",
                            "currency_name": "Australian Dollar",
                            "office_cost": 7767.38,
                            "room_type_id_fk": 1,
                            "room_type_name": "Single"
                          }
                        ],
                        "paxcount": null,
                        "quote_id_fk": 1366,
                        "seats": 32,
                        "start_date": "22 May, 2026",
                        "status": 0
                      },
                      {
                        "c_end_date": "12 Jul, 2026",
                        "c_start_date": "26 Jun, 2026",
                        "costing_status": 2,
                        "end_date": "12 Jul, 2026",
                        "id": 1711,
                        "number_of_days": 16,
                        "office_cost": [
                          {
                            "currency_code": "AUD",
                            "currency_name": "Australian Dollar",
                            "office_cost": 6437.86,
                            "room_type_id_fk": 3,
                            "room_type_name": "Double Share"
                          },
                          {
                            "currency_code": "AUD",
                            "currency_name": "Australian Dollar",
                            "office_cost": 7767.38,
                            "room_type_id_fk": 1,
                            "room_type_name": "Single"
                          }
                        ],
                        "paxcount": null,
                        "quote_id_fk": 1360,
                        "seats": 32,
                        "start_date": "26 Jun, 2026",
                        "status": 0
                      },
                      {
                        "c_end_date": "09 Aug, 2026",
                        "c_start_date": "24 Jul, 2026",
                        "costing_status": 2,
                        "end_date": "09 Aug, 2026",
                        "id": 1712,
                        "number_of_days": 16,
                        "office_cost": [
                          {
                            "currency_code": "AUD",
                            "currency_name": "Australian Dollar",
                            "office_cost": 6437.86,
                            "room_type_id_fk": 3,
                            "room_type_name": "Double Share"
                          },
                          {
                            "currency_code": "AUD",
                            "currency_name": "Australian Dollar",
                            "office_cost": 7767.38,
                            "room_type_id_fk": 1,
                            "room_type_name": "Single"
                          }
                        ],
                        "paxcount": null,
                        "quote_id_fk": 1361,
                        "seats": 32,
                        "start_date": "24 Jul, 2026",
                        "status": 0
                      },
                      {
                        "c_end_date": "13 Sep, 2026",
                        "c_start_date": "28 Aug, 2026",
                        "costing_status": 2,
                        "end_date": "13 Sep, 2026",
                        "id": 1713,
                        "number_of_days": 16,
                        "office_cost": [
                          {
                            "currency_code": "AUD",
                            "currency_name": "Australian Dollar",
                            "office_cost": 6437.86,
                            "room_type_id_fk": 3,
                            "room_type_name": "Double Share"
                          },
                          {
                            "currency_code": "AUD",
                            "currency_name": "Australian Dollar",
                            "office_cost": 7767.38,
                            "room_type_id_fk": 1,
                            "room_type_name": "Single"
                          }
                        ],
                        "paxcount": null,
                        "quote_id_fk": 1362,
                        "seats": 32,
                        "start_date": "28 Aug, 2026",
                        "status": 0
                      },
                      {
                        "c_end_date": "11 Oct, 2026",
                        "c_start_date": "25 Sep, 2026",
                        "costing_status": 2,
                        "end_date": "11 Oct, 2026",
                        "id": 1714,
                        "number_of_days": 16,
                        "office_cost": [
                          {
                            "currency_code": "AUD",
                            "currency_name": "Australian Dollar",
                            "office_cost": 6437.86,
                            "room_type_id_fk": 3,
                            "room_type_name": "Double Share"
                          },
                          {
                            "currency_code": "AUD",
                            "currency_name": "Australian Dollar",
                            "office_cost": 7767.38,
                            "room_type_id_fk": 1,
                            "room_type_name": "Single"
                          }
                        ],
                        "paxcount": null,
                        "quote_id_fk": 1363,
                        "seats": 32,
                        "start_date": "25 Sep, 2026",
                        "status": 0
                      },
                      {
                        "c_end_date": "08 Nov, 2026",
                        "c_start_date": "23 Oct, 2026",
                        "costing_status": 2,
                        "end_date": "08 Nov, 2026",
                        "id": 1715,
                        "number_of_days": 16,
                        "office_cost": [
                          {
                            "currency_code": "AUD",
                            "currency_name": "Australian Dollar",
                            "office_cost": 6437.86,
                            "room_type_id_fk": 3,
                            "room_type_name": "Double Share"
                          },
                          {
                            "currency_code": "AUD",
                            "currency_name": "Australian Dollar",
                            "office_cost": 7767.38,
                            "room_type_id_fk": 1,
                            "room_type_name": "Single"
                          }
                        ],
                        "paxcount": null,
                        "quote_id_fk": 1364,
                        "seats": 32,
                        "start_date": "23 Oct, 2026",
                        "status": 0
                      }
                    ]
                  }
                }
              }
            }
          }
        }
      }
    },
    "/api/group-tour-cost": {
      "post": {
        "summary": "Group Cost",
        "description": "Group Cost",
        "operationId": "groupCost",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "country_id": {
                    "type": "number",
                    "example": 13
                  },
                  "date_id": {
                    "type": "number",
                    "example": 1238
                  },
                  "tour_id": {
                    "type": "number",
                    "example": 144
                  }
                }
              },
              "examples": {
                "Group Cost": {
                  "value": {
                    "country_id": 13,
                    "date_id": 1238,
                    "tour_id": 144
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": ""
          }
        }
      }
    },
    "/api/mobile-store-enquiry": {
      "post": {
        "summary": "Enquiry",
        "description": "Enquiry",
        "operationId": "enquiry",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "captcha": {
                    "type": "string",
                    "example": ""
                  },
                  "category": {
                    "type": "string",
                    "example": "5* Premium"
                  },
                  "city": {
                    "type": "string",
                    "example": ""
                  },
                  "contact_number": {
                    "type": "string",
                    "example": "784551484546"
                  },
                  "country_id": {
                    "type": "string",
                    "example": "Argentina"
                  },
                  "email": {
                    "type": "string",
                    "example": "frazilex@icloud.com"
                  },
                  "isd_code": {
                    "type": "string",
                    "example": "54"
                  },
                  "message": {
                    "type": "string",
                    "example": "I want to celebrate honey moon."
                  },
                  "name": {
                    "type": "string",
                    "example": "Parth Aggarwal"
                  },
                  "number_of_travellers": {
                    "type": "string",
                    "example": "5"
                  },
                  "promo_id": {
                    "type": "string",
                    "example": ""
                  },
                  "room_type": {
                    "type": "array",
                    "items": {},
                    "example": []
                  },
                  "start_date_of_journery": {
                    "type": "string",
                    "example": "2024-02-09"
                  },
                  "street_address": {
                    "type": "string",
                    "example": ""
                  },
                  "tour_id": {
                    "type": "number",
                    "example": 150
                  }
                }
              },
              "examples": {
                "Enquiry": {
                  "value": {
                    "captcha": "",
                    "category": "5* Premium",
                    "city": "",
                    "contact_number": "784551484546",
                    "country_id": "Argentina",
                    "email": "frazilex@icloud.com",
                    "isd_code": "54",
                    "message": "I want to celebrate honey moon.",
                    "name": "Parth Aggarwal",
                    "number_of_travellers": "5",
                    "promo_id": "",
                    "room_type": [],
                    "start_date_of_journery": "2024-02-09",
                    "street_address": "",
                    "tour_id": 150
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": ""
          }
        }
      }
    },
    "/api/getCountries": {
      "get": {
        "summary": "Countries",
        "description": "Countries",
        "operationId": "countries",
        "responses": {
          "200": {
            "description": ""
          }
        }
      }
    },
    "/api/mobile-support": {
      "post": {
        "summary": "Mobile Support",
        "description": "Mobile Support",
        "operationId": "mobileSupport",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "comment": {
                    "type": "string",
                    "example": "Test Country"
                  },
                  "country_id": {
                    "type": "string",
                    "example": "101"
                  },
                  "email": {
                    "type": "string",
                    "example": "email@gmail.com"
                  },
                  "f_name": {
                    "type": "string",
                    "example": "Test Tour"
                  },
                  "l_name": {
                    "type": "string",
                    "example": "Test Name"
                  },
                  "phone": {
                    "type": "string",
                    "example": "9876543210"
                  }
                }
              },
              "examples": {
                "Mobile Support": {
                  "value": {
                    "comment": "Test Country",
                    "country_id": "101",
                    "email": "email@gmail.com",
                    "f_name": "Test Tour",
                    "l_name": "Test Name",
                    "phone": "9876543210"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": ""
          }
        }
      }
    },
    "/api/mobile-office-countries": {
      "post": {
        "summary": "mobile-office-countries",
        "description": "mobile-office-countries",
        "operationId": "mobileOfficeCountries",
        "requestBody": {
          "content": {
            "application/json": {
              "examples": {
                "mobile-office-countries": {
                  "value": "{\n    // \"limit\": 2,\n    // \"shuffle\": false\n}"
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": ""
          }
        }
      }
    },
    "/api/mobileAppFeedbackStore": {
      "post": {
        "summary": "mobileAppFeedbackStore",
        "description": "mobileAppFeedbackStore",
        "operationId": "mobileappfeedbackstore",
        "requestBody": {
          "content": {
            "application/json": {
              "examples": {
                "mobileAppFeedbackStore": {
                  "value": "// {\r\n//     \"uuid\":1,\r\n//     \"star\": \"2\",\r\n//     \"comment\": \"sdjnfjer\"\r\n  \r\n// }"
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": ""
          }
        }
      }
    },
    "/api/getMobileUserFeedback": {
      "get": {
        "summary": "getMobileUserFeedback",
        "description": "getMobileUserFeedback",
        "operationId": "getmobileuserfeedback",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "limit": {
                    "type": "number",
                    "example": 1
                  }
                }
              },
              "examples": {
                "getMobileUserFeedback": {
                  "value": {
                    "limit": 1
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": ""
          }
        }
      }
    },
    "/api/promotionCountries": {
      "get": {
        "summary": "promotion countries",
        "description": "promotion countries",
        "operationId": "promotionCountries",
        "responses": {
          "200": {
            "description": ""
          }
        }
      }
    },
    "/api/getTourByCategoryCardAllMobile": {
      "post": {
        "summary": "getTourByCategoryCardAll",
        "description": "getTourByCategoryCardAll",
        "operationId": "gettourbycategorycardall",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "country_id": {
                    "type": "number",
                    "example": 206
                  }
                }
              },
              "examples": {
                "getTourByCategoryCardAll": {
                  "value": {
                    "country_id": 0
                  }
                },
                "https://api.icanctrl.com/api/getTourByCategoryCardAllMobile": {
                  "value": {
                    "country_id": 206
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": ""
          }
        },
        "security": [
          {}
        ]
      }
    },
    "/api/toursDestinationCardMobile": {
      "post": {
        "summary": "toursDestinationCardMobile",
        "description": "toursDestinationCardMobile",
        "operationId": "toursdestinationcardmobile",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "country_id_fk": {
                    "type": "number",
                    "example": 101
                  },
                  "tour_cat_id": {
                    "type": "number",
                    "example": 24
                  }
                }
              },
              "examples": {
                "toursCatMobile": {
                  "value": {
                    "country_id_fk": 101,
                    "tour_cat_id": 24
                  }
                },
                "toursDestinationCardMobile": {
                  "value": {
                    "country_id_fk": 101,
                    "tour_cat_id": 25
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": ""
          }
        }
      }
    },
    "/api/getMobileHotDeals": {
      "post": {
        "summary": "getMobileHotDeals",
        "description": "getMobileHotDeals",
        "operationId": "getmobilehotdeals",
        "requestBody": {
          "content": {
            "application/json": {
              "examples": {
                "getMobileHotDeals": {
                  "value": "{\r\n    // \"limit\": 0\r\n    \"shuffle\":true\r\n}"
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": ""
          }
        }
      }
    },
    "/api/subQuotePax": {
      "get": {
        "summary": "subQuotePax",
        "description": "subQuotePax",
        "operationId": "subquotepax",
        "parameters": [
          {
            "name": "subquote_id",
            "in": "query",
            "schema": {
              "type": "string",
              "example": "12216"
            }
          },
          {
            "name": "last_name",
            "in": "query",
            "schema": {
              "type": "string",
              "example": "Blain"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "last_name": {
                    "type": "string",
                    "example": "aslkm"
                  },
                  "subquote_id": {
                    "type": "number",
                    "example": 232
                  }
                }
              },
              "examples": {
                "subQuotePax": {
                  "value": {
                    "last_name": "aslkm",
                    "subquote_id": 232
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": ""
          }
        }
      },
      "post": {
        "summary": "subQuotePax",
        "description": "subQuotePax",
        "operationId": "subquotepax1",
        "parameters": [
          {
            "name": "subquote_id",
            "in": "query",
            "schema": {
              "type": "string",
              "example": "12216"
            }
          },
          {
            "name": "last_name",
            "in": "query",
            "schema": {
              "type": "string",
              "example": "Blain"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "examples": {
                "subQuotePax": {
                  "value": "// {\r\n//     \"subquote_id\":232,\r\n//     \"last_name\":\"aslkm\"\r\n// }"
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": ""
          }
        }
      }
    },
    "/api/getHelplineNumber": {
      "post": {
        "summary": "getHelplineNumber",
        "description": "getHelplineNumber",
        "operationId": "gethelplinenumber",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "country_id": {
                    "type": "number",
                    "example": 101
                  }
                }
              },
              "examples": {
                "getHelplineNumber": {
                  "value": {
                    "country_id": 101
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": ""
          }
        }
      }
    },
    "/api/getFeedbackContent": {
      "get": {
        "summary": "getFeedbackContent",
        "description": "getFeedbackContent",
        "operationId": "getfeedbackcontent",
        "responses": {
          "200": {
            "description": ""
          }
        }
      }
    },
    "/api/getFeedbackStatus": {
      "post": {
        "summary": "getFeedbackStatus",
        "description": "getFeedbackStatus",
        "operationId": "getfeedbackstatus",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "name": {
                    "type": "string",
                    "example": "Mrs DALLAS ELIZABETH KEENAN"
                  },
                  "quote_id": {
                    "type": "number",
                    "example": 10305
                  },
                  "subquote_id": {
                    "type": "number",
                    "example": 10305
                  }
                }
              },
              "examples": {
                "getFeedbackStatus": {
                  "value": {
                    "name": "Mrs DALLAS ELIZABETH KEENAN",
                    "quote_id": 10305,
                    "subquote_id": 10305
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "New Request",
            "headers": {
              "Access-Control-Allow-Origin": {
                "schema": {
                  "type": "string",
                  "example": "*"
                }
              },
              "Cache-Control": {
                "schema": {
                  "type": "string",
                  "example": "no-cache, private"
                }
              },
              "Connection": {
                "schema": {
                  "type": "string",
                  "example": "close"
                }
              },
              "Date": {
                "schema": {
                  "type": "string",
                  "example": "Tue, 06 Aug 2024 09:06:40 GMT"
                }
              },
              "Host": {
                "schema": {
                  "type": "string",
                  "example": "127.0.0.1:8000"
                }
              },
              "X-Powered-By": {
                "schema": {
                  "type": "string",
                  "example": "PHP/8.2.0"
                }
              },
              "X-RateLimit-Limit": {
                "schema": {
                  "type": "string",
                  "example": "60"
                }
              },
              "X-RateLimit-Remaining": {
                "schema": {
                  "type": "string",
                  "example": "59"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "boolean",
                      "example": true
                    },
                    "message": {
                      "type": "string",
                      "example": "Data Found Successfully."
                    },
                    "success": {
                      "type": "boolean",
                      "example": true
                    }
                  }
                },
                "examples": {
                  "New Request": {
                    "value": {
                      "data": true,
                      "message": "Data Found Successfully.",
                      "success": true
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/api/getClientAppAbout": {
      "post": {
        "summary": "getClientAppAbout",
        "description": "getClientAppAbout",
        "operationId": "getclientappabout",
        "requestBody": {
          "content": {
            "application/json": {
              "examples": {
                "getClientAppAbout": {
                  "value": "{\r\n    // \"country_id\":101\r\n}"
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "New Request",
            "headers": {
              "Access-Control-Allow-Origin": {
                "schema": {
                  "type": "string",
                  "example": "*"
                }
              },
              "Cache-Control": {
                "schema": {
                  "type": "string",
                  "example": "no-cache, private"
                }
              },
              "Connection": {
                "schema": {
                  "type": "string",
                  "example": "close"
                }
              },
              "Date": {
                "schema": {
                  "type": "string",
                  "example": "Tue, 06 Aug 2024 09:11:08 GMT"
                }
              },
              "Host": {
                "schema": {
                  "type": "string",
                  "example": "127.0.0.1:8000"
                }
              },
              "X-Powered-By": {
                "schema": {
                  "type": "string",
                  "example": "PHP/8.2.0"
                }
              },
              "X-RateLimit-Limit": {
                "schema": {
                  "type": "string",
                  "example": "60"
                }
              },
              "X-RateLimit-Remaining": {
                "schema": {
                  "type": "string",
                  "example": "57"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "object",
                      "properties": {
                        "content": {
                          "type": "string",
                          "example": "Total Holiday Options is a Travel Wholesaler and DMC (Destination Management Company) with a combined experience of over 40 years in designing and operating bespoke trips, small to large group journeys, Destination Weddings, Charter Luxury Trains, River Cruises and MICE (Meetings, Incentives, Conference & Events). TOTAL HOLIDAY OPTIONS is about connecting small to large trade partners with long-term strategic business opportunities. Connecting people and travellers with places, sights, cultures, nature and cuisines with a sense of responsibility. With offices on the ground, the company has been a backbone and ground operator for thousands of small, independent and large travel companies across the globe. Everything starts with a conversation and becomes possible when you partner with TOTAL HOLIDAY OPTIONS."
                        }
                      }
                    },
                    "message": {
                      "type": "string",
                      "example": "Data Found Successfully."
                    },
                    "success": {
                      "type": "boolean",
                      "example": true
                    }
                  }
                },
                "examples": {
                  "New Request": {
                    "value": {
                      "data": {
                        "content": "Total Holiday Options is a Travel Wholesaler and DMC (Destination Management Company) with a combined experience of over 40 years in designing and operating bespoke trips, small to large group journeys, Destination Weddings, Charter Luxury Trains, River Cruises and MICE (Meetings, Incentives, Conference & Events). TOTAL HOLIDAY OPTIONS is about connecting small to large trade partners with long-term strategic business opportunities. Connecting people and travellers with places, sights, cultures, nature and cuisines with a sense of responsibility. With offices on the ground, the company has been a backbone and ground operator for thousands of small, independent and large travel companies across the globe. Everything starts with a conversation and becomes possible when you partner with TOTAL HOLIDAY OPTIONS."
                      },
                      "message": "Data Found Successfully.",
                      "success": true
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/api/getTourCost": {
      "post": {
        "summary": "getTourCost",
        "description": "getTourCost",
        "operationId": "gettourcost",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "country_id": {
                    "type": "number",
                    "example": 13
                  },
                  "tour_id": {
                    "type": "number",
                    "example": 158
                  }
                }
              },
              "examples": {
                "getTourCost": {
                  "value": {
                    "country_id": 13,
                    "tour_id": 158
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": ""
          }
        }
      }
    },
    "/api/getTourCategory": {
      "post": {
        "summary": "getTourCategory",
        "description": "getTourCategory",
        "operationId": "gettourcategory",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "image_type": {
                    "type": "string",
                    "example": "SMALL_IMAGE"
                  },
                  "limit": {
                    "type": "number",
                    "example": 0
                  },
                  "shuffle": {
                    "type": "boolean",
                    "example": false
                  }
                }
              },
              "examples": {
                "getTourCategory": {
                  "value": {
                    "image_type": "SMALL_IMAGE",
                    "limit": 0,
                    "shuffle": false
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": ""
          }
        }
      }
    },
    "/api/uploade_feedback_vdo": {
      "post": {
        "summary": "uploade_feedback_vdo",
        "description": "uploade_feedback_vdo",
        "operationId": "uploadeFeedbackVdo",
        "requestBody": {
          "content": {
            "multipart/form-data": {
              "schema": {
                "type": "object",
                "properties": {
                  "pax_id": {
                    "type": "string",
                    "example": "27536"
                  },
                  "quote_id": {
                    "type": "string",
                    "example": "27229"
                  },
                  "subquote_id": {
                    "type": "string",
                    "example": "16232"
                  },
                  "video": {
                    "type": "string",
                    "format": "binary"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": ""
          }
        }
      }
    },
    "/api/getAllCategory": {
      "get": {
        "summary": "getAllCategory",
        "description": "getAllCategory",
        "operationId": "getallcategory",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {}
              },
              "examples": {
                "getAllCategory": {
                  "value": {}
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "200",
            "headers": {
              "Access-Control-Allow-Origin": {
                "schema": {
                  "type": "string",
                  "example": "*"
                }
              },
              "Cache-Control": {
                "schema": {
                  "type": "string",
                  "example": "no-cache, private"
                }
              },
              "Connection": {
                "schema": {
                  "type": "string",
                  "example": "close"
                }
              },
              "Date": {
                "schema": {
                  "type": "string",
                  "example": "Fri, 25 Oct 2024 06:34:16 GMT"
                }
              },
              "Host": {
                "schema": {
                  "type": "string",
                  "example": "localhost:8000"
                }
              },
              "X-Powered-By": {
                "schema": {
                  "type": "string",
                  "example": "PHP/8.2.0"
                }
              },
              "X-RateLimit-Limit": {
                "schema": {
                  "type": "string",
                  "example": "60"
                }
              },
              "X-RateLimit-Remaining": {
                "schema": {
                  "type": "string",
                  "example": "59"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "object",
                      "properties": {
                        "category_id": {
                          "type": "number",
                          "example": 1
                        },
                        "category_name": {
                          "type": "string",
                          "example": "Maldives - Leisure Resorts"
                        },
                        "country_id": {
                          "type": "number",
                          "example": 101
                        },
                        "tour_cat_image": {
                          "type": "string",
                          "example": "tour_image_1693629171.jpeg"
                        }
                      }
                    },
                    "message": {
                      "type": "string",
                      "example": "Category List"
                    },
                    "success": {
                      "type": "boolean",
                      "example": true
                    }
                  }
                },
                "examples": {
                  "200": {
                    "value": {
                      "data": {
                        "category_id": 1,
                        "category_name": "Maldives - Leisure Resorts",
                        "country_id": 101,
                        "tour_cat_image": "tour_image_1693629171.jpeg"
                      },
                      "message": "Category List",
                      "success": true
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/api/getAllCountryByCategory": {
      "post": {
        "summary": "getAllCountryByCategory",
        "description": "getAllCountryByCategory",
        "operationId": "getallcountrybycategory",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "category_id": {
                    "type": "number",
                    "example": 13
                  }
                }
              },
              "examples": {
                "getAllCountryByCategory": {
                  "value": {
                    "category_id": 13
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "200",
            "headers": {
              "Access-Control-Allow-Origin": {
                "schema": {
                  "type": "string",
                  "example": "*"
                }
              },
              "Cache-Control": {
                "schema": {
                  "type": "string",
                  "example": "no-cache, private"
[...]
