{
  "openapi": "3.0.3",
  "info": {
    "title": "OSCAP on Demand API",
    "version": "0.1.0",
    "description": "API for managing OSCAP-on-Demand jobs and exception lists. Records use an open schema suitable for NoSQL. Each record must include an `id` field.\n",
    "x-jentic-source-url": "https://api.swaggerhub.com/apis/richardswierk/oscap-on-demand-api/0.1.0"
  },
  "servers": [
    {
      "url": "https://ibm.biz/oscap/api/v1",
      "description": "Production"
    },
    {
      "url": "https://ibm.biz/oscap/dev/v1",
      "description": "Sandbox"
    }
  ],
  "tags": [
    {
      "name": "jobs",
      "description": "Manage OSCAP jobs"
    },
    {
      "name": "exceptionlists",
      "description": "Manage exception lists used by OSCAP jobs"
    }
  ],
  "paths": {
    "/jobs": {
      "get": {
        "tags": [
          "jobs"
        ],
        "summary": "List jobs",
        "description": "Returns all job records.",
        "operationId": "listJobs",
        "responses": {
          "200": {
            "description": "Array of job records",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Job"
                  }
                }
              }
            }
          }
        }
      },
      "post": {
        "tags": [
          "jobs"
        ],
        "summary": "Create job",
        "description": "Creates a new job from the provided JSON payload and returns the created record.",
        "operationId": "createJob",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/JobCreate"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Created job record",
            "headers": {
              "Location": {
                "description": "URL of the newly created resource",
                "schema": {
                  "type": "string"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Job"
                }
              }
            }
          },
          "400": {
            "description": "Invalid payload",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/jobs/{id}": {
      "get": {
        "tags": [
          "jobs"
        ],
        "summary": "Get job by ID",
        "operationId": "getJob",
        "parameters": [
          {
            "$ref": "#/components/parameters/ResourceId"
          }
        ],
        "responses": {
          "200": {
            "description": "Job record",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Job"
                }
              }
            }
          },
          "404": {
            "description": "Not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      },
      "patch": {
        "tags": [
          "jobs"
        ],
        "summary": "Update job (partial)",
        "description": "Applies a partial update to the job. Accepts a JSON object containing only the fields to be updated. The response returns the full updated record.\n",
        "operationId": "updateJob",
        "parameters": [
          {
            "$ref": "#/components/parameters/ResourceId"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/JobUpdate"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Updated job record",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Job"
                }
              }
            }
          },
          "400": {
            "description": "Invalid payload",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "404": {
            "description": "Not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      },
      "delete": {
        "tags": [
          "jobs"
        ],
        "summary": "Delete job",
        "operationId": "deleteJob",
        "parameters": [
          {
            "$ref": "#/components/parameters/ResourceId"
          }
        ],
        "responses": {
          "204": {
            "description": "Deleted successfully (no content)"
          },
          "404": {
            "description": "Not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/exceptionlists": {
      "get": {
        "tags": [
          "exceptionlists"
        ],
        "summary": "List exception lists",
        "operationId": "listExceptionLists",
        "responses": {
          "200": {
            "description": "Array of exception list records",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/ExceptionList"
                  }
                }
              }
            }
          }
        }
      },
      "post": {
        "tags": [
          "exceptionlists"
        ],
        "summary": "Create exception list",
        "operationId": "createExceptionList",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ExceptionListCreate"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Created exception list record",
            "headers": {
              "Location": {
                "description": "URL of the newly created resource",
                "schema": {
                  "type": "string"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ExceptionList"
                }
              }
            }
          },
          "400": {
            "description": "Invalid payload",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/exceptionlists/{id}": {
      "get": {
        "tags": [
          "exceptionlists"
        ],
        "summary": "Get exception list by ID",
        "operationId": "getExceptionList",
        "parameters": [
          {
            "$ref": "#/components/parameters/ResourceId"
          }
        ],
        "responses": {
          "200": {
            "description": "Exception list record",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ExceptionList"
                }
              }
            }
          },
          "404": {
            "description": "Not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      },
      "patch": {
        "tags": [
          "exceptionlists"
        ],
        "summary": "Update exception list (partial)",
        "operationId": "updateExceptionList",
        "parameters": [
          {
            "$ref": "#/components/parameters/ResourceId"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ExceptionListUpdate"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Updated exception list record",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ExceptionList"
                }
              }
            }
          },
          "400": {
            "description": "Invalid payload",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "404": {
            "description": "Not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      },
      "delete": {
        "tags": [
          "exceptionlists"
        ],
        "summary": "Delete exception list",
        "operationId": "deleteExceptionList",
        "parameters": [
          {
            "$ref": "#/components/parameters/ResourceId"
          }
        ],
        "responses": {
          "204": {
            "description": "Deleted successfully (no content)"
          },
          "404": {
            "description": "Not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    }
  },
  "components": {
    "parameters": {
      "ResourceId": {
        "name": "id",
        "in": "path",
        "required": true,
        "description": "Unique identifier of the resource",
        "schema": {
          "type": "string",
          "description": "Resource ID (string; sha of image, name of exception list)",
          "example": "d6a2f9b4-4f2e-4b2b-a0ee-f8f1e1c2a9e7"
        }
      }
    },
    "schemas": {
      "JobBase": {
        "type": "object",
        "description": "Open schema for a job record (NoSQL-friendly).",
        "properties": {
          "id": {
            "type": "string",
            "description": "Unique identifier of the job (string; sha of image)"
          }
        },
        "required": [
          "id"
        ],
        "additionalProperties": true
      },
      "Job": {
        "allOf": [
          {
            "$ref": "#/components/schemas/JobBase"
          }
        ]
      },
      "JobCreate": {
        "type": "object",
        "description": "Payload to create a job. `id` may be supplied or generated server-side.",
        "properties": {
          "id": {
            "type": "string",
            "description": "Unique identifier of the job (if provided; otherwise generated)"
          }
        },
        "additionalProperties": true
      },
      "JobUpdate": {
        "type": "object",
        "description": "Partial payload to update a job. Only included fields will be updated.",
        "additionalProperties": true
      },
      "ExceptionListBase": {
        "type": "object",
        "description": "Open schema for an exception list record (NoSQL-friendly).",
        "properties": {
          "id": {
            "type": "string",
            "description": "Unique identifier of the exception list (string; list name)"
          }
        },
        "required": [
          "id"
        ],
        "additionalProperties": true
      },
      "ExceptionList": {
        "allOf": [
          {
            "$ref": "#/components/schemas/ExceptionListBase"
          }
        ]
      },
      "ExceptionListCreate": {
        "type": "object",
        "description": "Payload to create an exception list. `id` may be supplied or generated server-side.",
        "properties": {
          "id": {
            "type": "string",
            "description": "Unique identifier of the exception list (if provided; otherwise generated)"
          }
        },
        "additionalProperties": true
      },
      "ExceptionListUpdate": {
        "type": "object",
        "description": "Partial payload to update an exception list. Only included fields will be updated.",
        "additionalProperties": true
      },
      "Error": {
        "type": "object",
        "description": "Standard error response",
        "properties": {
          "code": {
            "type": "string",
            "example": "not_found"
          },
          "message": {
            "type": "string",
            "example": "Resource with id '...' not found."
          },
          "details": {
            "type": "object",
            "additionalProperties": true
          }
        }
      }
    }
  }
}