{
  "openapi": "3.0.1",
  "info": {
    "title": "Zoho Invoice API",
    "description": "Zoho invoice api",
    "version": "3.0.0",
    "x-jentic-source-url": "https://api.swaggerhub.com/apis/visuasoft/ZIA/3.0.0",
    "contact": {
      "name": "API Support"
    }
  },
  "servers": [
    {
      "url": "https://invoice.zoho.com/api/v3"
    }
  ],
  "paths": {
    "/organizations": {
      "get": {
        "tags": [
          "organizations"
        ],
        "summary": "Get Organizations",
        "description": "Gets all the organizations defined in the Zoho account",
        "responses": {
          "200": {
            "description": "An object containing an array of organizations",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/OrganizationResponse"
                }
              }
            }
          }
        },
        "security": [
          {
            "api_key": []
          }
        ],
        "operationId": "get_organizations"
      }
    },
    "/contacts": {
      "get": {
        "tags": [
          "Contacts"
        ],
        "summary": "List all contacts with pagination",
        "description": "Gets all the contacts.\n",
        "parameters": [
          {
            "name": "contact_name",
            "in": "query",
            "description": "Search contacts by contact name.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "company_name",
            "in": "query",
            "description": "Search contacts by company name.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "An array of contacts",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ContactResponse"
                }
              }
            }
          },
          "default": {
            "description": "Unexpected error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        },
        "security": [
          {
            "api_key": [],
            "org_id": []
          }
        ],
        "operationId": "get_contacts"
      }
    }
  },
  "components": {
    "schemas": {
      "PageContext": {
        "type": "object",
        "properties": {
          "page": {
            "type": "number"
          },
          "per_page": {
            "type": "number"
          },
          "has_more_page": {
            "type": "boolean"
          },
          "applied_filter": {
            "type": "string"
          },
          "sort_column": {
            "type": "string"
          },
          "sort_order": {
            "type": "string"
          }
        }
      },
      "Organization": {
        "type": "object",
        "properties": {
          "organization_id": {
            "type": "string"
          },
          "name": {
            "type": "string"
          }
        }
      },
      "OrganizationResponse": {
        "type": "object",
        "properties": {
          "code": {
            "type": "integer",
            "format": "int32"
          },
          "message": {
            "type": "string"
          },
          "organizations": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Organization"
            }
          }
        }
      },
      "ContactResponse": {
        "type": "object",
        "properties": {
          "code": {
            "type": "integer",
            "format": "int32"
          },
          "message": {
            "type": "string"
          },
          "contacts": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Contact"
            }
          },
          "page_context": {
            "$ref": "#/components/schemas/PageContext"
          }
        }
      },
      "Contact": {
        "type": "object",
        "properties": {
          "contact_id": {
            "type": "string",
            "description": "Unique identifier representing a specific contact"
          },
          "contact_name": {
            "type": "string",
            "description": "Name of the contact."
          },
          "company_name": {
            "type": "string",
            "description": "Name of the company."
          },
          "contact_type": {
            "type": "string",
            "description": "Type of contact."
          }
        }
      },
      "Error": {
        "type": "object",
        "properties": {
          "code": {
            "type": "integer",
            "format": "int32"
          },
          "message": {
            "type": "string"
          }
        }
      }
    },
    "securitySchemes": {
      "api_key": {
        "type": "apiKey",
        "name": "authtoken",
        "in": "query"
      },
      "org_id": {
        "type": "apiKey",
        "name": "organization_id",
        "in": "query"
      }
    }
  },
  "x-original-swagger-version": "2.0",
  "tags": [
    {
      "name": "Contacts"
    },
    {
      "name": "organizations"
    }
  ]
}
