{
  "openapi": "3.0.3",
  "info": {
    "title": "Humdata CKAN API",
    "version": "3.0.0",
    "description": "The Humanitarian Data Exchange (HDX) uses the CKAN Action API v3 to provide programmatic access to humanitarian datasets. CKAN's API exposes all core functionality including listing, searching, creating, updating, and deleting datasets (packages), resources, organizations, and groups. It follows an RPC-style pattern where all actions are called via POST or GET to /api/3/action/{action_name}.",
    "x-jentic-source-url": "https://data.humdata.org/api/3/",
    "contact": {
      "name": "API Support"
    }
  },
  "servers": [
    {
      "url": "https://data.humdata.org/api/3"
    }
  ],
  "paths": {
    "/action/package_list": {
      "get": {
        "operationId": "packageList",
        "summary": "List All Datasets",
        "description": "Returns a list of the names of all datasets (packages) on the site.",
        "tags": [
          "Datasets"
        ],
        "parameters": [
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "description": "Number of results to return",
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "offset",
            "in": "query",
            "required": false,
            "description": "Offset for pagination",
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "List of dataset names",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CkanListResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CkanErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CkanErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/action/package_show": {
      "get": {
        "operationId": "packageShow",
        "summary": "Get Dataset Details",
        "description": "Returns the full metadata and resource list for a single dataset.",
        "tags": [
          "Datasets"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "query",
            "required": true,
            "description": "Dataset name or ID",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Dataset details",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CkanPackageResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CkanErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CkanErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/action/package_search": {
      "get": {
        "operationId": "packageSearch",
        "summary": "Search Datasets",
        "description": "Search for datasets matching a query. Supports Solr query syntax for advanced filtering.",
        "tags": [
          "Datasets"
        ],
        "parameters": [
          {
            "name": "q",
            "in": "query",
            "required": false,
            "description": "Search query (Solr query syntax)",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "fq",
            "in": "query",
            "required": false,
            "description": "Filter query (e.g. tags:economy)",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "sort",
            "in": "query",
            "required": false,
            "description": "Sort order (e.g. score desc, metadata_modified desc)",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "rows",
            "in": "query",
            "required": false,
            "description": "Number of results per page",
            "schema": {
              "type": "integer",
              "default": 10
            }
          },
          {
            "name": "start",
            "in": "query",
            "required": false,
            "description": "Offset for pagination",
            "schema": {
              "type": "integer",
              "default": 0
            }
          },
          {
            "name": "facet.field",
            "in": "query",
            "required": false,
            "description": "JSON array of field names to facet on",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "facet.limit",
            "in": "query",
            "required": false,
            "description": "Maximum number of facet values",
            "schema": {
              "type": "integer",
              "default": 50
            }
          },
          {
            "name": "include_private",
            "in": "query",
            "required": false,
            "schema": {
              "type": "boolean",
              "default": false
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Search results",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CkanSearchResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CkanErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CkanErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/action/resource_show": {
      "get": {
        "operationId": "resourceShow",
        "summary": "Get Resource Details",
        "description": "Returns the metadata for a single resource.",
        "tags": [
          "Resources"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "query",
            "required": true,
            "description": "Resource ID",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Resource details",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CkanResourceResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CkanErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CkanErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/action/resource_search": {
      "get": {
        "operationId": "resourceSearch",
        "summary": "Search Resources",
        "description": "Search for resources matching criteria.",
        "tags": [
          "Resources"
        ],
        "parameters": [
          {
            "name": "query",
            "in": "query",
            "required": true,
            "description": "Search query as field:value (e.g. name:District Names)",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "order_by",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "offset",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Resource search results",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CkanErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CkanErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/action/group_list": {
      "get": {
        "operationId": "groupList",
        "summary": "List Groups",
        "description": "Returns a list of the names of all groups on the site.",
        "tags": [
          "Groups"
        ],
        "parameters": [
          {
            "name": "sort",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "offset",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "all_fields",
            "in": "query",
            "required": false,
            "description": "Return full group objects instead of just names",
            "schema": {
              "type": "boolean",
              "default": false
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Group list",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CkanListResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CkanErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CkanErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/action/group_show": {
      "get": {
        "operationId": "groupShow",
        "summary": "Get Group Details",
        "description": "Returns details of a group including its datasets.",
        "tags": [
          "Groups"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "query",
            "required": true,
            "description": "Group name or ID",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "include_datasets",
            "in": "query",
            "required": false,
            "schema": {
              "type": "boolean",
              "default": true
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Group details",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CkanErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CkanErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/action/organization_list": {
      "get": {
        "operationId": "organizationList",
        "summary": "List Organizations",
        "description": "Returns a list of the names of all organizations.",
        "tags": [
          "Organizations"
        ],
        "parameters": [
          {
            "name": "sort",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "offset",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "all_fields",
            "in": "query",
            "required": false,
            "schema": {
              "type": "boolean",
              "default": false
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Organization list",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CkanListResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CkanErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CkanErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/action/organization_show": {
      "get": {
        "operationId": "organizationShow",
        "summary": "Get Organization Details",
        "description": "Returns details of an organization including its datasets.",
        "tags": [
          "Organizations"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "query",
            "required": true,
            "description": "Organization name or ID",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "include_datasets",
            "in": "query",
            "required": false,
            "schema": {
              "type": "boolean",
              "default": true
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Organization details",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CkanErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CkanErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/action/tag_list": {
      "get": {
        "operationId": "tagList",
        "summary": "List Tags",
        "description": "Returns a list of all tags in use.",
        "tags": [
          "Tags"
        ],
        "parameters": [
          {
            "name": "query",
            "in": "query",
            "required": false,
            "description": "Filter tags by name prefix",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "all_fields",
            "in": "query",
            "required": false,
            "schema": {
              "type": "boolean",
              "default": false
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Tag list",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CkanListResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CkanErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CkanErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/action/tag_show": {
      "get": {
        "operationId": "tagShow",
        "summary": "Get Tag Details",
        "description": "Returns details of a tag.",
        "tags": [
          "Tags"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "query",
            "required": true,
            "description": "Tag name or ID",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Tag details",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CkanErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CkanErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/action/package_create": {
      "post": {
        "operationId": "packageCreate",
        "summary": "Create Dataset",
        "description": "Create a new dataset. Requires authentication.",
        "tags": [
          "Datasets"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "name"
                ],
                "properties": {
                  "name": {
                    "type": "string",
                    "description": "URL-friendly name (slug)"
                  },
                  "title": {
                    "type": "string"
                  },
                  "notes": {
                    "type": "string",
                    "description": "Description in Markdown"
                  },
                  "owner_org": {
                    "type": "string"
                  },
                  "private": {
                    "type": "boolean",
                    "default": false
                  },
                  "tags": {
                    "type": "array",
                    "items": {
                      "type": "object",
                      "properties": {
                        "name": {
                          "type": "string"
                        }
                      }
                    }
                  },
                  "extras": {
                    "type": "array",
                    "items": {
                      "type": "object",
                      "properties": {
                        "key": {
                          "type": "string"
                        },
                        "value": {
                          "type": "string"
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Created dataset",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CkanPackageResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CkanErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CkanErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/action/package_update": {
      "post": {
        "operationId": "packageUpdate",
        "summary": "Update Dataset",
        "description": "Update an existing dataset. Requires authentication.",
        "tags": [
          "Datasets"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "id"
                ],
                "properties": {
                  "id": {
                    "type": "string",
                    "description": "Dataset name or ID"
                  },
                  "name": {
                    "type": "string"
                  },
                  "title": {
                    "type": "string"
                  },
                  "notes": {
                    "type": "string"
                  },
                  "owner_org": {
                    "type": "string"
                  },
                  "private": {
                    "type": "boolean"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Updated dataset",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CkanPackageResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CkanErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CkanErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/action/package_delete": {
      "post": {
        "operationId": "packageDelete",
        "summary": "Delete Dataset",
        "description": "Delete a dataset. Requires authentication and appropriate permissions.",
        "tags": [
          "Datasets"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "id"
                ],
                "properties": {
                  "id": {
                    "type": "string",
                    "description": "Dataset name or ID to delete"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Dataset deleted",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CkanSuccessResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CkanErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CkanErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/action/resource_create": {
      "post": {
        "operationId": "resourceCreate",
        "summary": "Create Resource",
        "description": "Create a new resource and optionally upload a file.",
        "tags": [
          "Resources"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "multipart/form-data": {
              "schema": {
                "type": "object",
                "required": [
                  "package_id"
                ],
                "properties": {
                  "package_id": {
                    "type": "string"
                  },
                  "name": {
                    "type": "string"
                  },
                  "description": {
                    "type": "string"
                  },
                  "url": {
                    "type": "string",
                    "description": "URL to external resource (if not uploading)"
                  },
                  "upload": {
                    "type": "string",
                    "format": "binary",
                    "description": "File to upload"
                  },
                  "format": {
                    "type": "string",
                    "description": "File format (e.g. CSV, JSON, XLS)"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Created resource",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CkanResourceResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CkanErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CkanErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/action/recently_changed_packages_activity_list": {
      "get": {
        "operationId": "recentlyChangedPackages",
        "summary": "Recently Changed Datasets",
        "description": "Returns an activity stream of recently changed datasets.",
        "tags": [
          "Activity"
        ],
        "parameters": [
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "default": 31
            }
          },
          {
            "name": "offset",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "default": 0
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Activity stream",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CkanErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CkanErrorResponse"
                }
              }
            }
          }
        }
      }
    }
  },
  "components": {
    "schemas": {
      "CkanListResponse": {
        "type": "object",
        "properties": {
          "help": {
            "type": "string"
          },
          "success": {
            "type": "boolean"
          },
          "result": {
            "type": "array",
            "items": {
              "type": "string"
            }
          }
        }
      },
      "CkanSuccessResponse": {
        "type": "object",
        "properties": {
          "help": {
            "type": "string"
          },
          "success": {
            "type": "boolean"
          },
          "result": {
            "type": "object"
          }
        }
      },
      "CkanPackageResponse": {
        "type": "object",
        "properties": {
          "help": {
            "type": "string"
          },
          "success": {
            "type": "boolean"
          },
          "result": {
            "$ref": "#/components/schemas/CkanPackage"
          }
        }
      },
      "CkanPackage": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string"
          },
          "name": {
            "type": "string"
          },
          "title": {
            "type": "string"
          },
          "notes": {
            "type": "string"
          },
          "url": {
            "type": "string"
          },
          "author": {
            "type": "string"
          },
          "author_email": {
            "type": "string"
          },
          "maintainer": {
            "type": "string"
          },
          "maintainer_email": {
            "type": "string"
          },
          "license_id": {
            "type": "string"
          },
          "license_title": {
            "type": "string"
          },
          "state": {
            "type": "string"
          },
          "type": {
            "type": "string"
          },
          "owner_org": {
            "type": "string"
          },
          "private": {
            "type": "boolean"
          },
          "metadata_created": {
            "type": "string",
            "format": "date-time"
          },
          "metadata_modified": {
            "type": "string",
            "format": "date-time"
          },
          "num_resources": {
            "type": "integer"
          },
          "num_tags": {
            "type": "integer"
          },
          "tags": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "id": {
                  "type": "string"
                },
                "name": {
                  "type": "string"
                },
                "display_name": {
                  "type": "string"
                }
              }
            }
          },
          "resources": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/CkanResource"
            }
          },
          "organization": {
            "type": "object",
            "properties": {
              "id": {
                "type": "string"
              },
              "name": {
                "type": "string"
              },
              "title": {
                "type": "string"
              }
            }
          },
          "groups": {
            "type": "array",
            "items": {
              "type": "object"
            }
          },
          "extras": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "key": {
                  "type": "string"
                },
                "value": {
                  "type": "string"
                }
              }
            }
          }
        }
      },
      "CkanResource": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string"
          },
          "package_id": {
            "type": "string"
          },
          "name": {
            "type": "string"
          },
          "description": {
            "type": "string"
          },
          "url": {
            "type": "string"
          },
          "format": {
            "type": "string"
          },
          "mimetype": {
            "type": "string"
          },
          "size": {
            "type": "integer"
          },
          "created": {
            "type": "string",
            "format": "date-time"
          },
          "last_modified": {
            "type": "string",
            "format": "date-time"
          },
          "hash": {
            "type": "string"
          },
          "resource_type": {
            "type": "string"
          }
        }
      },
      "CkanResourceResponse": {
        "type": "object",
        "properties": {
          "help": {
            "type": "string"
          },
          "success": {
            "type": "boolean"
          },
          "result": {
            "$ref": "#/components/schemas/CkanResource"
          }
        }
      },
      "CkanSearchResponse": {
        "type": "object",
        "properties": {
          "help": {
            "type": "string"
          },
          "success": {
            "type": "boolean"
          },
          "result": {
            "type": "object",
            "properties": {
              "count": {
                "type": "integer"
              },
              "sort": {
                "type": "string"
              },
              "facets": {
                "type": "object"
              },
              "results": {
                "type": "array",
                "items": {
                  "$ref": "#/components/schemas/CkanPackage"
                }
              },
              "search_facets": {
                "type": "object"
              }
            }
          }
        }
      },
      "CkanErrorResponse": {
        "type": "object",
        "properties": {
          "help": {
            "type": "string"
          },
          "success": {
            "type": "boolean",
            "enum": [
              false
            ]
          },
          "error": {
            "type": "object",
            "properties": {
              "message": {
                "type": "string"
              },
              "__type": {
                "type": "string"
              }
            }
          }
        }
      }
    },
    "securitySchemes": {
      "apiToken": {
        "type": "apiKey",
        "name": "Authorization",
        "in": "header",
        "description": "CKAN API token for authenticated operations. Read operations typically don't require auth."
      }
    }
  },
  "security": [
    {
      "apiToken": []
    }
  ],
  "tags": [
    {
      "name": "Activity"
    },
    {
      "name": "Datasets"
    },
    {
      "name": "Groups"
    },
    {
      "name": "Organizations"
    },
    {
      "name": "Resources"
    },
    {
      "name": "Tags"
    }
  ]
}
