{
  "openapi": "3.0.3",
  "info": {
    "title": "FomoNomo APIs",
    "version": "1.0.0",
    "contact": {},
    "x-jentic-source-url": "https://api.swaggerhub.com/apis/Small_Project/fomonomo-apis/1.0.0"
  },
  "servers": [
    {
      "url": "http://fomonomo.xyz"
    }
  ],
  "paths": {
    "/api/auth/register": {
      "post": {
        "tags": [
          "Auth"
        ],
        "summary": "Register User",
        "description": "Generated from cURL: curl 'http://fomonomo.xyz:5000/api/login' \\\n  -H 'Accept: */*' \\\n  -H 'Accept-Language: en-US,en;q=0.9' \\\n  -H 'Cache-Control: no-cache' \\\n  -H 'Connection: keep-alive' \\\n  -H 'Content-Type: application/json' \\\n  -H 'Origin: http://fomonomo.xyz' \\\n  -H 'Pragma: no-cache' \\\n  -H 'Referer: http://fomonomo.xyz/' \\\n  -H 'User-Agent: Mozilla/5.0 (Macintosh; Intel Mac OS X 10_15_7) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/138.0.0.0 Safari/537.36 OPR/122.0.0.0' \\\n  --data-raw '{\"login\":\"User\",\"password\":\"Pass\"}' \\\n  --insecure",
        "operationId": "registerUser",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "bio": {
                    "type": "string",
                    "example": "This is about me thanks"
                  },
                  "displayName": {
                    "type": "string",
                    "example": "tDisplay"
                  },
                  "email": {
                    "type": "string",
                    "example": "test@mail.com"
                  },
                  "firstName": {
                    "type": "string",
                    "example": "fName"
                  },
                  "lastName": {
                    "type": "string",
                    "example": "lName"
                  },
                  "password": {
                    "type": "string",
                    "example": "password"
                  }
                }
              },
              "examples": {
                "Register User": {
                  "value": {
                    "bio": "This is about me thanks",
                    "displayName": "tDisplay",
                    "email": "test@mail.com",
                    "firstName": "fName",
                    "lastName": "lName",
                    "password": "password"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": ""
          }
        }
      }
    },
    "/api/auth/login": {
      "post": {
        "tags": [
          "Auth"
        ],
        "summary": "User Login",
        "description": "Generated from cURL: curl 'http://fomonomo.xyz:5000/api/login' \\\n  -H 'Accept: */*' \\\n  -H 'Accept-Language: en-US,en;q=0.9' \\\n  -H 'Cache-Control: no-cache' \\\n  -H 'Connection: keep-alive' \\\n  -H 'Content-Type: application/json' \\\n  -H 'Origin: http://fomonomo.xyz' \\\n  -H 'Pragma: no-cache' \\\n  -H 'Referer: http://fomonomo.xyz/' \\\n  -H 'User-Agent: Mozilla/5.0 (Macintosh; Intel Mac OS X 10_15_7) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/138.0.0.0 Safari/537.36 OPR/122.0.0.0' \\\n  --data-raw '{\"login\":\"User\",\"password\":\"Pass\"}' \\\n  --insecure",
        "operationId": "userLogin",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "email": {
                    "type": "string",
                    "example": "email@test.com"
                  },
                  "password": {
                    "type": "string",
                    "example": "password"
                  }
                }
              },
              "examples": {
                "User Login": {
                  "value": {
                    "email": "email@test.com",
                    "password": "password"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": ""
          }
        }
      }
    },
    "/api/auth/forgot-password": {
      "post": {
        "tags": [
          "Auth"
        ],
        "summary": "User Forgot Password",
        "description": "Generated from cURL: curl 'http://fomonomo.xyz:5000/api/login' \\\n  -H 'Accept: */*' \\\n  -H 'Accept-Language: en-US,en;q=0.9' \\\n  -H 'Cache-Control: no-cache' \\\n  -H 'Connection: keep-alive' \\\n  -H 'Content-Type: application/json' \\\n  -H 'Origin: http://fomonomo.xyz' \\\n  -H 'Pragma: no-cache' \\\n  -H 'Referer: http://fomonomo.xyz/' \\\n  -H 'User-Agent: Mozilla/5.0 (Macintosh; Intel Mac OS X 10_15_7) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/138.0.0.0 Safari/537.36 OPR/122.0.0.0' \\\n  --data-raw '{\"login\":\"User\",\"password\":\"Pass\"}' \\\n  --insecure",
        "operationId": "userForgotPassword",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "email": {
                    "type": "string",
                    "example": "nobody@email.com"
                  }
                }
              },
              "examples": {
                "User Forgot Password": {
                  "value": {
                    "email": "nobody@email.com"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": ""
          }
        }
      }
    },
    "/api/auth/reset-password": {
      "post": {
        "tags": [
          "Auth"
        ],
        "summary": "User Reset Password",
        "description": "Generated from cURL: curl 'http://fomonomo.xyz:5000/api/login' \\\n  -H 'Accept: */*' \\\n  -H 'Accept-Language: en-US,en;q=0.9' \\\n  -H 'Cache-Control: no-cache' \\\n  -H 'Connection: keep-alive' \\\n  -H 'Content-Type: application/json' \\\n  -H 'Origin: http://fomonomo.xyz' \\\n  -H 'Pragma: no-cache' \\\n  -H 'Referer: http://fomonomo.xyz/' \\\n  -H 'User-Agent: Mozilla/5.0 (Macintosh; Intel Mac OS X 10_15_7) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/138.0.0.0 Safari/537.36 OPR/122.0.0.0' \\\n  --data-raw '{\"login\":\"User\",\"password\":\"Pass\"}' \\\n  --insecure",
        "operationId": "userResetPassword",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "newPassword": {
                    "type": "string",
                    "example": "NewPassTest"
                  },
                  "resetToken": {
                    "type": "string",
                    "example": "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJ1c2VySWQiOjMsImlhdCI6MTc2MTY4Mzk4NiwiZXhwIjoxNzYxNjg0ODg2fQ.3WX10u3kQ3E-IBauykGV9sej-u-TrOLEX7ZNzLHVcIY"
                  }
                }
              },
              "examples": {
                "User Reset Password": {
                  "value": {
                    "newPassword": "NewPassTest",
                    "resetToken": "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJ1c2VySWQiOjMsImlhdCI6MTc2MTY4Mzk4NiwiZXhwIjoxNzYxNjg0ODg2fQ.3WX10u3kQ3E-IBauykGV9sej-u-TrOLEX7ZNzLHVcIY"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": ""
          }
        }
      }
    },
    "/api/auth/verify": {
      "get": {
        "tags": [
          "Auth"
        ],
        "summary": "Verify Email",
        "description": "Verify Email",
        "operationId": "verifyEmail",
        "parameters": [
          {
            "name": "verificationToken",
            "in": "query",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": ""
          }
        }
      }
    },
    "/api/users/search": {
      "get": {
        "tags": [
          "Users"
        ],
        "summary": "Search Users by DisplayName",
        "description": "Search Users by DisplayName",
        "operationId": "searchUsersByDisplayname",
        "parameters": [
          {
            "name": "displayName",
            "in": "query",
            "schema": {
              "type": "string",
              "example": "tDisplay"
            }
          }
        ],
        "responses": {
          "200": {
            "description": ""
          }
        }
      }
    },
    "/api/users/1": {
      "put": {
        "tags": [
          "Users"
        ],
        "summary": "Update Users Info",
        "description": "Update Users Info",
        "operationId": "updateUsersInfo",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "firstName": {
                    "type": "string",
                    "example": "Caleb"
                  }
                }
              },
              "examples": {
                "Update Users Info": {
                  "value": {
                    "firstName": "Caleb"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": ""
          }
        }
      }
    },
    "/api/users/me": {
      "get": {
        "tags": [
          "Users"
        ],
        "summary": "Get Users Own Profile",
        "description": "Get Users Own Profile",
        "operationId": "getUsersOwnProfile",
        "responses": {
          "200": {
            "description": ""
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ]
      }
    },
    "/api/users/fetch/{userId}": {
      "get": {
        "tags": [
          "Users"
        ],
        "summary": "Get User by Id",
        "description": "Get User by Id",
        "operationId": "getUserById",
        "responses": {
          "200": {
            "description": ""
          }
        }
      },
      "parameters": [
        {
          "name": "userId",
          "in": "path",
          "required": true,
          "schema": {
            "type": "string",
            "example": "20"
          }
        }
      ]
    },
    "/api/users/{userId}": {
      "put": {
        "tags": [
          "Users"
        ],
        "summary": "Update User Pofile Info",
        "description": "Update User Pofile Info",
        "operationId": "updateUserPofileInfo",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "bio": {
                    "type": "string",
                    "example": "new bio"
                  },
                  "firstName": {
                    "type": "string",
                    "example": "newFirstName"
                  },
                  "gradYear": {
                    "type": "number",
                    "example": 3
                  },
                  "lastName": {
                    "type": "string",
                    "example": "newLastName"
                  },
                  "profilePic": {
                    "nullable": true,
                    "example": null
                  }
                }
              },
              "examples": {
                "Update User Pofile Info": {
                  "value": {
                    "bio": "new bio",
                    "firstName": "newFirstName",
                    "gradYear": 3,
                    "lastName": "newLastName",
                    "profilePic": null
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": ""
          }
        }
      },
      "parameters": [
        {
          "name": "userId",
          "in": "path",
          "required": true,
          "schema": {
            "type": "string",
            "example": "20"
          }
        }
      ]
    },
    "/api/survey/submit": {
      "post": {
        "tags": [
          "Survey"
        ],
        "summary": "Survey Submit",
        "description": "Generated from cURL: curl 'http://fomonomo.xyz:5000/api/login' \\\n  -H 'Accept: */*' \\\n  -H 'Accept-Language: en-US,en;q=0.9' \\\n  -H 'Cache-Control: no-cache' \\\n  -H 'Connection: keep-alive' \\\n  -H 'Content-Type: application/json' \\\n  -H 'Origin: http://fomonomo.xyz' \\\n  -H 'Pragma: no-cache' \\\n  -H 'Referer: http://fomonomo.xyz/' \\\n  -H 'User-Agent: Mozilla/5.0 (Macintosh; Intel Mac OS X 10_15_7) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/138.0.0.0 Safari/537.36 OPR/122.0.0.0' \\\n  --data-raw '{\"login\":\"User\",\"password\":\"Pass\"}' \\\n  --insecure",
        "operationId": "surveySubmit",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "classYear": {
                    "type": "number",
                    "example": 2026
                  },
                  "interests": {
                    "type": "array",
                    "items": {
                      "type": "string",
                      "example": "Football"
                    },
                    "example": [
                      "Football",
                      "Commutity Service"
                    ]
                  },
                  "major": {
                    "type": "string",
                    "example": "Computer Science"
                  },
                  "userId": {
                    "type": "number",
                    "example": 2
                  }
                }
              },
              "examples": {
                "Survey Submit": {
                  "value": {
                    "classYear": 2026,
                    "interests": [
                      "Football",
                      "Commutity Service"
                    ],
                    "major": "Computer Science",
                    "userId": 2
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": ""
          }
        }
      }
    },
    "/api/survey/reccomendations": {
      "get": {
        "tags": [
          "Survey"
        ],
        "summary": "Survey Get Reccomendations",
        "description": "Survey Get Reccomendations",
        "operationId": "surveyGetReccomendations",
        "parameters": [
          {
            "name": "userId",
            "in": "query",
            "schema": {
              "type": "string",
              "example": "1"
            }
          }
        ],
        "responses": {
          "200": {
            "description": ""
          }
        }
      }
    },
    "/api/groups": {
      "get": {
        "tags": [
          "Groups"
        ],
        "summary": "Get All RSOS",
        "description": "Get All RSOS",
        "operationId": "getAllRsos",
        "parameters": [
          {
            "name": "page",
            "in": "query",
            "schema": {
              "type": "string",
              "example": "0"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "schema": {
              "type": "string",
              "example": "2"
            }
          }
        ],
        "responses": {
          "200": {
            "description": ""
          }
        }
      }
    },
    "/api/groups/recommended": {
      "get": {
        "tags": [
          "Groups"
        ],
        "summary": "Get Recommended RSOS",
        "description": "Get Recommended RSOS",
        "operationId": "getRecommendedRsos",
        "responses": {
          "200": {
            "description": ""
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ]
      }
    },
    "/api/groups/search": {
      "get": {
        "tags": [
          "Groups"
        ],
        "summary": "Search RSOS",
        "description": "Search RSOS",
        "operationId": "searchRsos",
        "parameters": [
          {
            "name": "q",
            "in": "query",
            "schema": {
              "type": "string",
              "example": "arti"
            }
          },
          {
            "name": "page",
            "in": "query",
            "schema": {
              "type": "string",
              "example": "1"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "schema": {
              "type": "string",
              "example": "15"
            }
          }
        ],
        "responses": {
          "200": {
            "description": ""
          }
        }
      }
    },
    "/api/posts/create": {
      "post": {
        "tags": [
          "Posts"
        ],
        "summary": "Create Post",
        "description": "Generated from cURL: curl 'http://fomonomo.xyz:5000/api/login' \\\n  -H 'Accept: */*' \\\n  -H 'Accept-Language: en-US,en;q=0.9' \\\n  -H 'Cache-Control: no-cache' \\\n  -H 'Connection: keep-alive' \\\n  -H 'Content-Type: application/json' \\\n  -H 'Origin: http://fomonomo.xyz' \\\n  -H 'Pragma: no-cache' \\\n  -H 'Referer: http://fomonomo.xyz/' \\\n  -H 'User-Agent: Mozilla/5.0 (Macintosh; Intel Mac OS X 10_15_7) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/138.0.0.0 Safari/537.36 OPR/122.0.0.0' \\\n  --data-raw '{\"login\":\"User\",\"password\":\"Pass\"}' \\\n  --insecure",
        "operationId": "createPost",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "capacity": {
                    "type": "number",
                    "example": 400
                  },
                  "description": {
                    "type": "string",
                    "example": "This is to describe the post"
                  },
                  "location": {
                    "nullable": true,
                    "example": null
                  },
                  "startTime": {
                    "type": "string",
                    "example": "11:30"
                  },
                  "tags": {
                    "type": "array",
                    "items": {
                      "type": "string",
                      "example": "service"
                    },
                    "example": [
                      "service",
                      "computer science",
                      "meet up"
                    ]
                  },
                  "title": {
                    "type": "string",
                    "example": "TEST_POST"
                  },
                  "userId": {
                    "type": "number",
                    "example": 1
                  }
                }
              },
              "examples": {
                "Create Post": {
                  "value": {
                    "capacity": 400,
                    "description": "This is to describe the post",
                    "location": null,
                    "startTime": "11:30",
                    "tags": [
                      "service",
                      "computer science",
                      "meet up"
                    ],
                    "title": "TEST_POST",
                    "userId": 1
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": ""
          }
        }
      }
    },
    "/api/posts/feed": {
      "get": {
        "tags": [
          "Posts"
        ],
        "summary": "Get Post Feed",
        "description": "Generated from cURL: curl 'http://fomonomo.xyz:5000/api/login' \\\n  -H 'Accept: */*' \\\n  -H 'Accept-Language: en-US,en;q=0.9' \\\n  -H 'Cache-Control: no-cache' \\\n  -H 'Connection: keep-alive' \\\n  -H 'Content-Type: application/json' \\\n  -H 'Origin: http://fomonomo.xyz' \\\n  -H 'Pragma: no-cache' \\\n  -H 'Referer: http://fomonomo.xyz/' \\\n  -H 'User-Agent: Mozilla/5.0 (Macintosh; Intel Mac OS X 10_15_7) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/138.0.0.0 Safari/537.36 OPR/122.0.0.0' \\\n  --data-raw '{\"login\":\"User\",\"password\":\"Pass\"}' \\\n  --insecure",
        "operationId": "getPostFeed",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {}
              },
              "examples": {
                "Get Post Feed": {
                  "value": {}
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": ""
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ]
      }
    },
    "/api/posts/like": {
      "post": {
        "tags": [
          "Posts"
        ],
        "summary": "Like a Post",
        "description": "Generated from cURL: curl 'http://fomonomo.xyz:5000/api/login' \\\n  -H 'Accept: */*' \\\n  -H 'Accept-Language: en-US,en;q=0.9' \\\n  -H 'Cache-Control: no-cache' \\\n  -H 'Connection: keep-alive' \\\n  -H 'Content-Type: application/json' \\\n  -H 'Origin: http://fomonomo.xyz' \\\n  -H 'Pragma: no-cache' \\\n  -H 'Referer: http://fomonomo.xyz/' \\\n  -H 'User-Agent: Mozilla/5.0 (Macintosh; Intel Mac OS X 10_15_7) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/138.0.0.0 Safari/537.36 OPR/122.0.0.0' \\\n  --data-raw '{\"login\":\"User\",\"password\":\"Pass\"}' \\\n  --insecure",
        "operationId": "likeAPost",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "postId": {
                    "type": "number",
                    "example": 2
                  },
                  "userId": {
                    "type": "number",
                    "example": 1
                  }
                }
              },
              "examples": {
                "Like a Post": {
                  "value": {
                    "postId": 2,
                    "userId": 1
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": ""
          }
        }
      }
    },
    "/api/posts/unlike": {
      "post": {
        "tags": [
          "Posts"
        ],
        "summary": "Unlike a Post",
        "description": "Generated from cURL: curl 'http://fomonomo.xyz:5000/api/login' \\\n  -H 'Accept: */*' \\\n  -H 'Accept-Language: en-US,en;q=0.9' \\\n  -H 'Cache-Control: no-cache' \\\n  -H 'Connection: keep-alive' \\\n  -H 'Content-Type: application/json' \\\n  -H 'Origin: http://fomonomo.xyz' \\\n  -H 'Pragma: no-cache' \\\n  -H 'Referer: http://fomonomo.xyz/' \\\n  -H 'User-Agent: Mozilla/5.0 (Macintosh; Intel Mac OS X 10_15_7) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/138.0.0.0 Safari/537.36 OPR/122.0.0.0' \\\n  --data-raw '{\"login\":\"User\",\"password\":\"Pass\"}' \\\n  --insecure",
        "operationId": "unlikeAPost",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "postId": {
                    "type": "number",
                    "example": 2
                  },
                  "userId": {
                    "type": "number",
                    "example": 1
                  }
                }
              },
              "examples": {
                "Unlike a Post": {
                  "value": {
                    "postId": 2,
                    "userId": 1
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": ""
          }
        }
      }
    },
    "/api/posts/going": {
      "post": {
        "tags": [
          "Posts"
        ],
        "summary": "Mark \"Going\" in RSVP",
        "description": "Generated from cURL: curl 'http://fomonomo.xyz:5000/api/login' \\\n  -H 'Accept: */*' \\\n  -H 'Accept-Language: en-US,en;q=0.9' \\\n  -H 'Cache-Control: no-cache' \\\n  -H 'Connection: keep-alive' \\\n  -H 'Content-Type: application/json' \\\n  -H 'Origin: http://fomonomo.xyz' \\\n  -H 'Pragma: no-cache' \\\n  -H 'Referer: http://fomonomo.xyz/' \\\n  -H 'User-Agent: Mozilla/5.0 (Macintosh; Intel Mac OS X 10_15_7) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/138.0.0.0 Safari/537.36 OPR/122.0.0.0' \\\n  --data-raw '{\"login\":\"User\",\"password\":\"Pass\"}' \\\n  --insecure",
        "operationId": "markGoingInRsvp",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "postId": {
                    "type": "number",
                    "example": 2
                  },
                  "userId": {
                    "type": "number",
                    "example": 2
                  }
                }
              },
              "examples": {
                "Mark \"Going\" in RSVP": {
                  "value": {
                    "postId": 2,
                    "userId": 2
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": ""
          }
        }
      }
    },
    "/api/posts/rsvps/cancel": {
      "post": {
        "tags": [
          "Posts"
        ],
        "summary": "Cancel RSVP",
        "description": "Generated from cURL: curl 'http://fomonomo.xyz:5000/api/login' \\\n  -H 'Accept: */*' \\\n  -H 'Accept-Language: en-US,en;q=0.9' \\\n  -H 'Cache-Control: no-cache' \\\n  -H 'Connection: keep-alive' \\\n  -H 'Content-Type: application/json' \\\n  -H 'Origin: http://fomonomo.xyz' \\\n  -H 'Pragma: no-cache' \\\n  -H 'Referer: http://fomonomo.xyz/' \\\n  -H 'User-Agent: Mozilla/5.0 (Macintosh; Intel Mac OS X 10_15_7) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/138.0.0.0 Safari/537.36 OPR/122.0.0.0' \\\n  --data-raw '{\"login\":\"User\",\"password\":\"Pass\"}' \\\n  --insecure",
        "operationId": "cancelRsvp",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "postId": {
                    "type": "number",
                    "example": 2
                  },
                  "userId": {
                    "type": "number",
                    "example": 2
                  }
                }
              },
              "examples": {
                "Cancel RSVP": {
                  "value": {
                    "postId": 2,
                    "userId": 2
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": ""
          }
        }
      }
    },
    "/api/posts/rsvps": {
      "post": {
        "tags": [
          "Posts"
        ],
        "summary": "Get Rsvps",
        "description": "Generated from cURL: curl 'http://fomonomo.xyz:5000/api/login' \\\n  -H 'Accept: */*' \\\n  -H 'Accept-Language: en-US,en;q=0.9' \\\n  -H 'Cache-Control: no-cache' \\\n  -H 'Connection: keep-alive' \\\n  -H 'Content-Type: application/json' \\\n  -H 'Origin: http://fomonomo.xyz' \\\n  -H 'Pragma: no-cache' \\\n  -H 'Referer: http://fomonomo.xyz/' \\\n  -H 'User-Agent: Mozilla/5.0 (Macintosh; Intel Mac OS X 10_15_7) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/138.0.0.0 Safari/537.36 OPR/122.0.0.0' \\\n  --data-raw '{\"login\":\"User\",\"password\":\"Pass\"}' \\\n  --insecure",
        "operationId": "getRsvps",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "postId": {
                    "type": "number",
                    "example": 2
                  }
                }
              },
              "examples": {
                "Get Rsvps": {
                  "value": {
                    "postId": 2
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": ""
          }
        }
      }
    },
    "/api/posts/comment": {
      "post": {
        "tags": [
          "Posts"
        ],
        "summary": "Add Comment",
        "description": "Generated from cURL: curl 'http://fomonomo.xyz:5000/api/login' \\\n  -H 'Accept: */*' \\\n  -H 'Accept-Language: en-US,en;q=0.9' \\\n  -H 'Cache-Control: no-cache' \\\n  -H 'Connection: keep-alive' \\\n  -H 'Content-Type: application/json' \\\n  -H 'Origin: http://fomonomo.xyz' \\\n  -H 'Pragma: no-cache' \\\n  -H 'Referer: http://fomonomo.xyz/' \\\n  -H 'User-Agent: Mozilla/5.0 (Macintosh; Intel Mac OS X 10_15_7) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/138.0.0.0 Safari/537.36 OPR/122.0.0.0' \\\n  --data-raw '{\"login\":\"User\",\"password\":\"Pass\"}' \\\n  --insecure",
        "operationId": "addComment",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "comment": {
                    "type": "string",
                    "example": "This looks like so much fun, im def going!!!"
                  },
                  "postId": {
                    "type": "number",
                    "example": 2
                  },
                  "userId": {
                    "type": "number",
                    "example": 1
                  }
                }
              },
              "examples": {
                "Add Comment": {
                  "value": {
                    "comment": "This looks like so much fun, im def going!!!",
                    "postId": 2,
                    "userId": 1
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": ""
          }
        }
      }
    },
    "/api/posts/{postId}": {
      "delete": {
        "tags": [
          "Posts"
        ],
        "summary": "Delete a Post",
        "description": "Delete a Post",
        "operationId": "deleteAPost",
        "responses": {
          "200": {
            "description": ""
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ]
      },
      "parameters": [
        {
          "name": "postId",
          "in": "path",
          "required": true,
          "schema": {
            "type": "string",
            "example": ""
          }
        }
      ]
    },
    "/api/messages/{userId}": {
      "get": {
        "tags": [
          "Messaging"
        ],
        "summary": "Get All User Conversations",
        "description": "Get All User Conversations",
        "operationId": "getAllUserConversations",
        "responses": {
          "200": {
            "description": ""
          }
        }
      },
      "parameters": [
        {
          "name": "userId",
          "in": "path",
          "required": true,
          "schema": {
            "type": "string",
            "example": "1"
          }
        }
      ]
    },
    "/api/messages/send": {
      "post": {
        "tags": [
          "Messaging"
        ],
        "summary": "Send message",
        "description": "Send message",
        "operationId": "sendMessage",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "message": {
                    "type": "string",
                    "example": "Testing recieve from 1 api"
                  },
                  "recId": {
                    "type": "number",
                    "example": 1
                  },
                  "sendId": {
                    "type": "number",
                    "example": 5
                  }
                }
              },
              "examples": {
                "Send message": {
                  "value": {
                    "message": "Testing recieve from 1 api",
                    "recId": 1,
                    "sendId": 5
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": ""
          }
        }
      }
    },
    "/api/messages/conversation/{userId}/{otherUserId}": {
      "get": {
        "tags": [
          "Messaging"
        ],
        "summary": "Get Single Conversation",
        "description": "Get Single Conversation",
        "operationId": "getSingleConversation",
        "responses": {
          "200": {
            "description": ""
          }
        }
      },
      "parameters": [
        {
          "name": "userId",
          "in": "path",
          "required": true,
          "schema": {
            "type": "string",
            "example": "1"
          }
        },
        {
          "name": "otherUserId",
          "in": "path",
          "required": true,
          "schema": {
            "type": "string",
            "example": "5"
          }
        }
      ]
    }
  },
  "components": {
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "scheme": "bearer"
      }
    }
  },
  "tags": [
    {
      "name": "Auth"
    },
    {
      "name": "Users"
    },
    {
      "name": "Survey"
    },
    {
      "name": "Groups"
    },
    {
      "name": "Posts"
    },
    {
      "name": "Messaging"
    }
  ]
}