{
  "openapi": "3.0.3",
  "info": {
    "title": "IPGeolocation API",
    "version": "3.0.0",
    "description": "IP Geolocation API provides real-time and accurate geolocation, ASN, company, network, timezone, abuse, and security information for any IPv4 or IPv6 address. Also includes timezone, astronomy/sun-moon data, and user-agent parsing APIs.",
    "x-jentic-source-url": "https://ipgeolocation.io/documentation/",
    "contact": {
      "name": "API Support"
    }
  },
  "servers": [
    {
      "url": "https://api.ipgeolocation.io"
    }
  ],
  "paths": {
    "/v3/ipgeo": {
      "get": {
        "operationId": "getIpGeolocation",
        "summary": "Get IP geolocation data",
        "description": "Look up geolocation, ASN, company, timezone, security, and network information for any IPv4 or IPv6 address. If no IP is provided, the caller's IP is used.",
        "tags": [
          "IP Geolocation"
        ],
        "parameters": [
          {
            "name": "apiKey",
            "in": "query",
            "required": true,
            "description": "Your API key for authentication",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "ip",
            "in": "query",
            "required": false,
            "description": "IPv4 or IPv6 address to look up. If omitted, the caller's IP is used.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "lang",
            "in": "query",
            "required": false,
            "description": "Response language code (en, de, ru, ja, fr, cn, es, cs, it, ko, fa, pt)",
            "schema": {
              "type": "string",
              "default": "en",
              "enum": [
                "en",
                "de",
                "ru",
                "ja",
                "fr",
                "cn",
                "es",
                "cs",
                "it",
                "ko",
                "fa",
                "pt"
              ]
            }
          },
          {
            "name": "fields",
            "in": "query",
            "required": false,
            "description": "Comma-separated list of fields to return",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "excludes",
            "in": "query",
            "required": false,
            "description": "Comma-separated list of fields or modules to exclude",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "include",
            "in": "query",
            "required": false,
            "description": "Additional modules to include (geo_accuracy, dma_code, user_agent, security, abuse, hostname, liveHostname, hostnameFallbackLive)",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful geolocation response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/IpGeolocationResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized - invalid or missing API key",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "404": {
            "description": "IP address not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "429": {
            "description": "Too many requests",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/v3/ipgeo-bulk": {
      "post": {
        "operationId": "bulkIpGeolocation",
        "summary": "Bulk IP geolocation lookup",
        "description": "Look up geolocation data for multiple IPv4 or IPv6 addresses in a single request. Paid plans only.",
        "tags": [
          "IP Geolocation"
        ],
        "parameters": [
          {
            "name": "apiKey",
            "in": "query",
            "required": true,
            "description": "Your API key",
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "ips": {
                    "type": "array",
                    "items": {
                      "type": "string"
                    },
                    "description": "Array of IP addresses to look up"
                  }
                },
                "required": [
                  "ips"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful bulk response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/IpGeolocationResponse"
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/v3/timezone": {
      "get": {
        "operationId": "getTimezone",
        "summary": "Get timezone information",
        "description": "Get current time, date, and timezone information for a timezone name, location address, coordinates, IP address, IATA code, ICAO code, or UN/LOCODE.",
        "tags": [
          "Timezone"
        ],
        "parameters": [
          {
            "name": "apiKey",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "tz",
            "in": "query",
            "required": false,
            "description": "IANA timezone name (e.g. America/Los_Angeles)",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "ip",
            "in": "query",
            "required": false,
            "description": "IPv4 or IPv6 address",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "location",
            "in": "query",
            "required": false,
            "description": "Location address (preferably city)",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "lat",
            "in": "query",
            "required": false,
            "description": "Latitude coordinate",
            "schema": {
              "type": "number"
            }
          },
          {
            "name": "long",
            "in": "query",
            "required": false,
            "description": "Longitude coordinate",
            "schema": {
              "type": "number"
            }
          },
          {
            "name": "iata_code",
            "in": "query",
            "required": false,
            "description": "3-letter IATA airport code",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "icao_code",
            "in": "query",
            "required": false,
            "description": "4-letter ICAO airport code",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "lo_code",
            "in": "query",
            "required": false,
            "description": "5-letter UN/LOCODE",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "lang",
            "in": "query",
            "required": false,
            "description": "Response language code",
            "schema": {
              "type": "string",
              "default": "en"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Timezone information",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TimezoneResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/v3/timezone/convert": {
      "get": {
        "operationId": "convertTimezone",
        "summary": "Convert time between timezones",
        "description": "Convert a timestamp from one timezone to another using timezone names, coordinates, addresses, IATA codes, ICAO codes, or UN/LOCODEs.",
        "tags": [
          "Timezone"
        ],
        "parameters": [
          {
            "name": "apiKey",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "time",
            "in": "query",
            "required": true,
            "description": "Timestamp to convert (yyyy-MM-dd HH:mm:ss)",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "tz_from",
            "in": "query",
            "required": false,
            "description": "Source IANA timezone name",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "tz_to",
            "in": "query",
            "required": false,
            "description": "Target IANA timezone name",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "lat_from",
            "in": "query",
            "required": false,
            "schema": {
              "type": "number"
            }
          },
          {
            "name": "long_from",
            "in": "query",
            "required": false,
            "schema": {
              "type": "number"
            }
          },
          {
            "name": "lat_to",
            "in": "query",
            "required": false,
            "schema": {
              "type": "number"
            }
          },
          {
            "name": "long_to",
            "in": "query",
            "required": false,
            "schema": {
              "type": "number"
            }
          },
          {
            "name": "location_from",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "location_to",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "iata_from",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "iata_to",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "icao_from",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "icao_to",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "locode_from",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "locode_to",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Time conversion result",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TimeConversionResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/v3/astronomy": {
      "get": {
        "operationId": "getAstronomy",
        "summary": "Get sun and moon data",
        "description": "Get sunrise, sunset, moonrise, moonset, twilight phases, and position data for the sun and moon at a given location.",
        "tags": [
          "Astronomy"
        ],
        "parameters": [
          {
            "name": "apiKey",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "ip",
            "in": "query",
            "required": false,
            "description": "IPv4 or IPv6 address",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "location",
            "in": "query",
            "required": false,
            "description": "Location address",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "lat",
            "in": "query",
            "required": false,
            "description": "Latitude",
            "schema": {
              "type": "number"
            }
          },
          {
            "name": "long",
            "in": "query",
            "required": false,
            "description": "Longitude",
            "schema": {
              "type": "number"
            }
          },
          {
            "name": "date",
            "in": "query",
            "required": false,
            "description": "Date in yyyy-MM-dd format",
            "schema": {
              "type": "string",
              "format": "date"
            }
          },
          {
            "name": "date_from",
            "in": "query",
            "required": false,
            "description": "Start date for time series (max 90 day span)",
            "schema": {
              "type": "string",
              "format": "date"
            }
          },
          {
            "name": "date_to",
            "in": "query",
            "required": false,
            "description": "End date for time series (max 90 day span)",
            "schema": {
              "type": "string",
              "format": "date"
            }
          },
          {
            "name": "time_zone",
            "in": "query",
            "required": false,
            "description": "IANA timezone to express event times in",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "lang",
            "in": "query",
            "required": false,
            "description": "Response language code",
            "schema": {
              "type": "string",
              "default": "en"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Astronomy data",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AstronomyResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "404": {
            "description": "Not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/v3/user-agent": {
      "get": {
        "operationId": "parseUserAgent",
        "summary": "Parse a user-agent string",
        "description": "Parse a user-agent string from the User-Agent header to get browser, device, and operating system details. Detects crawlers and attack sources.",
        "tags": [
          "User Agent"
        ],
        "parameters": [
          {
            "name": "apiKey",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Parsed user-agent data",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/UserAgentResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      },
      "post": {
        "operationId": "parseCustomUserAgent",
        "summary": "Parse a custom user-agent string",
        "description": "Parse a custom user-agent string provided in the JSON payload. Paid plans only.",
        "tags": [
          "User Agent"
        ],
        "parameters": [
          {
            "name": "apiKey",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "uaString": {
                    "type": "string",
                    "description": "The user-agent string to parse"
                  }
                },
                "required": [
                  "uaString"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Parsed user-agent data",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/UserAgentResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/v3/user-agent-bulk": {
      "post": {
        "operationId": "bulkParseUserAgents",
        "summary": "Parse multiple user-agent strings",
        "description": "Parse up to 50,000 user-agent strings in a single request. Paid plans only.",
        "tags": [
          "User Agent"
        ],
        "parameters": [
          {
            "name": "apiKey",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "uaStrings": {
                    "type": "array",
                    "items": {
                      "type": "string"
                    },
                    "description": "Array of user-agent strings to parse (max 50000)",
                    "maxItems": 50000
                  }
                },
                "required": [
                  "uaStrings"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Array of parsed user-agent data",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/UserAgentResponse"
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    }
  },
  "components": {
    "schemas": {
      "IpGeolocationResponse": {
        "type": "object",
        "properties": {
          "ip": {
            "type": "string",
            "description": "The IP address looked up"
          },
          "location": {
            "type": "object",
            "properties": {
              "continent_code": {
                "type": "string"
              },
              "continent_name": {
                "type": "string"
              },
              "country_code2": {
                "type": "string",
                "description": "ISO 3166-1 alpha-2 country code"
              },
              "country_code3": {
                "type": "string",
                "description": "ISO 3166-1 alpha-3 country code"
              },
              "country_name": {
                "type": "string"
              },
              "country_name_official": {
                "type": "string"
              },
              "country_capital": {
                "type": "string"
              },
              "state_prov": {
                "type": "string"
              },
              "state_code": {
                "type": "string"
              },
              "district": {
                "type": "string"
              },
              "city": {
                "type": "string"
              },
              "zipcode": {
                "type": "string"
              },
              "latitude": {
                "type": "string"
              },
              "longitude": {
                "type": "string"
              },
              "is_eu": {
                "type": "boolean"
              },
              "country_flag": {
                "type": "string"
              },
              "geoname_id": {
                "type": "string"
              },
              "country_emoji": {
                "type": "string"
              }
            }
          },
          "country_metadata": {
            "type": "object",
            "properties": {
              "calling_code": {
                "type": "string"
              },
              "tld": {
                "type": "string"
              },
              "languages": {
                "type": "array",
                "items": {
                  "type": "string"
                }
              }
            }
          },
          "currency": {
            "type": "object",
            "properties": {
              "code": {
                "type": "string"
              },
              "name": {
                "type": "string"
              },
              "symbol": {
                "type": "string"
              }
            }
          },
          "asn": {
            "type": "object",
            "properties": {
              "as_number": {
                "type": "string"
              },
              "organization": {
                "type": "string"
              },
              "country": {
                "type": "string"
              },
              "type": {
                "type": "string"
              },
              "domain": {
                "type": "string"
              },
              "date_allocated": {
                "type": "string"
              },
              "rir": {
                "type": "string"
              }
            }
          },
          "company": {
            "type": "object",
            "properties": {
              "name": {
                "type": "string"
              },
              "type": {
                "type": "string"
              },
              "domain": {
                "type": "string"
              }
            }
          },
          "time_zone": {
            "type": "object",
            "properties": {
              "name": {
                "type": "string"
              },
              "offset": {
                "type": "number"
              },
              "offset_with_dst": {
                "type": "number"
              },
              "current_time": {
                "type": "string"
              },
              "current_time_unix": {
                "type": "number"
              },
              "current_tz_abbreviation": {
                "type": "string"
              },
              "current_tz_full_name": {
                "type": "string"
              },
              "standard_tz_abbreviation": {
                "type": "string"
              },
              "standard_tz_full_name": {
                "type": "string"
              },
              "is_dst": {
                "type": "boolean"
              },
              "dst_savings": {
                "type": "number"
              },
              "dst_exists": {
                "type": "boolean"
              }
            }
          }
        }
      },
      "TimezoneResponse": {
        "type": "object",
        "properties": {
          "ip": {
            "type": "string"
          },
          "time_zone": {
            "type": "object",
            "properties": {
              "name": {
                "type": "string"
              },
              "offset": {
                "type": "number"
              },
              "offset_with_dst": {
                "type": "number"
              },
              "current_time": {
                "type": "string"
              },
              "current_time_unix": {
                "type": "number"
              },
              "date": {
                "type": "string"
              },
              "date_time": {
                "type": "string"
              },
              "date_time_txt": {
                "type": "string"
              },
              "date_time_wti": {
                "type": "string"
              },
              "date_time_ymd": {
                "type": "string"
              },
              "time_24": {
                "type": "string"
              },
              "time_12": {
                "type": "string"
              },
              "week": {
                "type": "integer"
              },
              "month": {
                "type": "integer"
              },
              "year": {
                "type": "integer"
              },
              "year_abbr": {
                "type": "string"
              },
              "current_tz_abbreviation": {
                "type": "string"
              },
              "current_tz_full_name": {
                "type": "string"
              },
              "standard_tz_abbreviation": {
                "type": "string"
              },
              "standard_tz_full_name": {
                "type": "string"
              },
              "is_dst": {
                "type": "boolean"
              },
              "dst_savings": {
                "type": "number"
              },
              "dst_exists": {
                "type": "boolean"
              }
            }
          },
          "location": {
            "$ref": "#/components/schemas/LocationObject"
          }
        }
      },
      "LocationObject": {
        "type": "object",
        "properties": {
          "location_string": {
            "type": "string"
          },
          "continent_code": {
            "type": "string"
          },
          "continent_name": {
            "type": "string"
          },
          "country_code2": {
            "type": "string"
          },
          "country_code3": {
            "type": "string"
          },
          "country_name": {
            "type": "string"
          },
          "country_name_official": {
            "type": "string"
          },
          "is_eu": {
            "type": "boolean"
          },
          "state_prov": {
            "type": "string"
          },
          "state_code": {
            "type": "string"
          },
          "district": {
            "type": "string"
          },
          "city": {
            "type": "string"
          },
          "locality": {
            "type": "string"
          },
          "zipcode": {
            "type": "string"
          },
          "latitude": {
            "type": "string"
          },
          "longitude": {
            "type": "string"
          }
        }
      },
      "TimeConversionResponse": {
        "type": "object",
        "properties": {
          "original_time": {
            "type": "string",
            "description": "Original date and time (yyyy-MM-dd HH:mm:ss)"
          },
          "converted_time": {
            "type": "string",
            "description": "Converted date and time (yyyy-MM-dd HH:mm:ss)"
          },
          "diff_hour": {
            "type": "number",
            "description": "Difference in hours"
          },
          "diff_min": {
            "type": "number",
            "description": "Difference in minutes"
          }
        }
      },
      "AstronomyResponse": {
        "type": "object",
        "properties": {
          "ip": {
            "type": "string"
          },
          "location": {
            "$ref": "#/components/schemas/LocationObject"
          },
          "astronomy": {
            "type": "object",
            "properties": {
              "date": {
                "type": "string"
              },
              "current_time": {
                "type": "string"
              },
              "sunrise": {
                "type": "string"
              },
              "sunset": {
                "type": "string"
              },
              "sun_status": {
                "type": "string"
              },
              "solar_noon": {
                "type": "string"
              },
              "day_length": {
                "type": "string"
              },
              "sun_altitude": {
                "type": "number"
              },
              "sun_distance": {
                "type": "number"
              },
              "sun_azimuth": {
                "type": "number"
              },
              "moonrise": {
                "type": "string"
              },
              "moonset": {
                "type": "string"
              },
              "moon_status": {
                "type": "string"
              },
              "moon_altitude": {
                "type": "number"
              },
              "moon_distance": {
                "type": "number"
              },
              "moon_azimuth": {
                "type": "number"
              },
              "moon_parallactic_angle": {
                "type": "number"
              },
              "moon_phase": {
                "type": "string"
              },
              "moon_illumination_percentage": {
                "type": "string"
              },
              "moon_angle": {
                "type": "number"
              }
            }
          }
        }
      },
      "UserAgentResponse": {
        "type": "object",
        "properties": {
          "user_agent_string": {
            "type": "string"
          },
          "name": {
            "type": "string",
            "description": "Agent name"
          },
          "version": {
            "type": "string"
          },
          "version_major": {
            "type": "string"
          },
          "device": {
            "type": "object",
            "properties": {
              "name": {
                "type": "string"
              },
              "type": {
                "type": "string",
                "enum": [
                  "Desktop",
                  "Mobile",
                  "Tablet",
                  "Phone",
                  "Watch",
                  "Virtual Reality",
                  "eReader",
                  "Set-top box",
                  "TV",
                  "Game Console",
                  "Handheld Game Console",
                  "Voice",
                  "Robot",
                  "Robot Mobile",
                  "Robot Imitator",
                  "Hacker",
                  "Anonymized",
                  "Unknown"
                ]
              },
              "brand": {
                "type": "string"
              },
              "cpu": {
                "type": "string"
              }
            }
          },
          "engine": {
            "type": "object",
            "properties": {
              "name": {
                "type": "string"
              },
              "type": {
                "type": "string"
              },
              "version": {
                "type": "string"
              },
              "version_major": {
                "type": "string"
              }
            }
          },
          "operating_system": {
            "type": "object",
            "properties": {
              "name": {
                "type": "string"
              },
              "type": {
                "type": "string"
              },
              "version": {
                "type": "string"
              },
              "version_major": {
                "type": "string"
              },
              "build": {
                "type": "string"
              }
            }
          }
        }
      },
      "ErrorResponse": {
        "type": "object",
        "properties": {
          "message": {
            "type": "string",
            "description": "Error description"
          }
        }
      }
    },
    "securitySchemes": {
      "apiKeyQuery": {
        "type": "apiKey",
        "in": "query",
        "name": "apiKey",
        "description": "API key passed as query parameter"
      }
    }
  },
  "security": [
    {
      "apiKeyQuery": []
    }
  ],
  "tags": [
    {
      "name": "Astronomy"
    },
    {
      "name": "IP Geolocation"
    },
    {
      "name": "Timezone"
    },
    {
      "name": "User Agent"
    }
  ]
}
