{
  "openapi": "3.0.1",
  "info": {
    "contact": {
      "email": "atendimento@rumotecnologia.com.br",
      "name": "Rumo Tecnologia",
      "url": "https://rumotecnologia.com.br"
    },
    "description": "<b>API para integra\u00e7\u00e3o ao sistema Siprov</b>.\n\nPara testes, solicite usu\u00e1rio e senha \u00e0 Rumo Tecnologia atrav\u00e9s do chat em nosso site ou por email.\n\nPara uso em produ\u00e7\u00e3o, informe um email para o administrador da base criar seu usu\u00e1rio. A senha de acesso chegar\u00e1 no email informado.\nUse o m\u00e9todo <code>/ext/autenticacao</code> para gerar o <code>token</code> a ser usado nos demais m\u00e9todos da API.\n\nA qualquer momento voc\u00ea pode resetar a senha desse usu\u00e1rio no endere\u00e7o do sistema <b>Siprov</b> em [https://acesso.siprov.com.br](https://acesso.siprov.com.br).\n\n<b>Endpoint:</b> https://acesso.siprov.com.br/siprov-api\n\nQualquer d\u00favida, nosso atendimento est\u00e1 dispon\u00edvel de segunda \u00e0 sexta de 9h \u00e0s 18h atrav\u00e9s dos seguintes canais.\n\n<b>Contato:</b>\n\n <ul><li>Email: atendimento@rumotecnologia.com.br </li><li>WhatsApp: <a href='https://web.whatsapp.com/send/?phone=5531971577575&text&type=phone_number' target='_blank'>+55 31 97157-7575</a></li></ul>",
    "title": "Siprov API",
    "version": "1.81",
    "x-jentic-source-url": "https://api.swaggerhub.com/apis/rumotecnologia/siprov-api/1.81"
  },
  "externalDocs": {
    "description": "Veja documenta\u00e7\u00e3o detalhada em: https://doc.siprov.com.br",
    "url": "https://doc.siprov.com.br"
  },
  "servers": [
    {
      "url": "https://acesso.siprov.com.br/siprov-api"
    }
  ],
  "tags": [
    {
      "name": "Seguran\u00e7a"
    },
    {
      "name": "Empresa"
    },
    {
      "name": "Administra\u00e7\u00e3o"
    },
    {
      "name": "Associado"
    },
    {
      "name": "Benef\u00edcio"
    },
    {
      "name": "Vistoria/Documenta\u00e7\u00e3o"
    },
    {
      "name": "Financeiro"
    },
    {
      "name": "Evento"
    },
    {
      "name": "Rede Credenciada"
    },
    {
      "name": "Sa\u00fade"
    },
    {
      "name": "CRM"
    },
    {
      "name": "Relat\u00f3rio"
    },
    {
      "name": "Integra\u00e7\u00e3o Especial"
    }
  ],
  "paths": {
    "/ext/administracao/campos/{codigo}": {
      "get": {
        "description": "Retorna a lista de campos adicionais por tipo de benef\u00edcio.\n\nC\u00f3digos v\u00e1lidos:\n0 \u2014 Veicular\n1 \u2014 Sa\u00fade\n2 \u2014 Diversos\n3 \u2014 Cons\u00f3rcio\n4 \u2014 Assist\u00eancia 24H",
        "operationId": "listarCampos",
        "parameters": [
          {
            "in": "path",
            "name": "codigo",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CampoAdicionalOutputTO"
                }
              }
            },
            "description": "Lista de campos"
          },
          "401": {
            "content": {
              "text/plain": {}
            },
            "description": "N\u00e3o autorizado"
          }
        },
        "security": [
          {
            "bearer": []
          }
        ],
        "summary": "Listar Campos Adicionais",
        "tags": [
          "Administra\u00e7\u00e3o"
        ]
      }
    },
    "/ext/administracao/loja": {
      "get": {
        "description": "Lista as unidades (lojas) \u00e0s quais o usu\u00e1rio tem acesso.",
        "operationId": "listarLoja",
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CodigoNomeTO"
                }
              }
            },
            "description": "Lista de unidades (lojas)"
          },
          "401": {
            "content": {
              "text/plain": {}
            },
            "description": "N\u00e3o autorizado"
          }
        },
        "security": [
          {
            "bearer": []
          }
        ],
        "summary": "Listar Unidade (Loja)",
        "tags": [
          "Administra\u00e7\u00e3o"
        ]
      }
    },
    "/ext/administracao/vendedor": {
      "get": {
        "description": "Retorna a lista de vendedores, que s\u00e3o consultores ou representantes ativos.",
        "operationId": "listarParceiro",
        "parameters": [
          {
            "in": "query",
            "name": "tipo",
            "schema": {
              "type": "string"
            }
          },
          {
            "in": "query",
            "name": "nome",
            "schema": {
              "type": "string"
            }
          },
          {
            "in": "query",
            "name": "cpfCnpj",
            "schema": {
              "type": "string"
            }
          },
          {
            "in": "query",
            "name": "bairro",
            "schema": {
              "type": "string"
            }
          },
          {
            "in": "query",
            "name": "cidade",
            "schema": {
              "type": "string"
            }
          },
          {
            "in": "query",
            "name": "uf",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PesquisaVendedorOutputTO"
                }
              }
            },
            "description": "Lista de vendedores"
          },
          "401": {
            "content": {
              "text/plain": {}
            },
            "description": "N\u00e3o autorizado"
          }
        },
        "security": [
          {
            "bearer": []
          }
        ],
        "summary": "Listar Vendedores",
        "tags": [
          "Administra\u00e7\u00e3o"
        ]
      }
    },
    "/ext/associado": {
      "get": {
        "description": "Retorna a lista de associados conforme par\u00e2metros.\n\n *O associado poder\u00e1 se repetir na lista em virtude de possuir mais de um benef\u00edcio.* \n\n Necess\u00e1rio informar um dos seguintes par\u00e2metros:\n\n- 'codPessoa'\n - 'nome'\n - 'cpf' ou 'cnpj'\n - 'dataCadastroInicial' e 'dataCadastroFinal'\n - 'dataNascimento'\n - 'situacaoBeneficio'\n- 'placa' ou 'chassi'",
        "operationId": "pesquisarAssociado",
        "parameters": [
          {
            "in": "query",
            "name": "nome",
            "schema": {
              "type": "string"
            }
          },
          {
            "in": "query",
            "name": "cpf",
            "schema": {
              "type": "string"
            }
          },
          {
            "in": "query",
            "name": "cnpj",
            "schema": {
              "type": "string"
            }
          },
          {
            "in": "query",
            "name": "cnpjEmpresa",
            "schema": {
              "type": "string"
            }
          },
          {
            "in": "query",
            "name": "codPessoa",
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "in": "query",
            "name": "codLoja",
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "in": "query",
            "name": "codConsultor",
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "in": "query",
            "name": "codRepresentante",
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "example": "dd/MM/yyyy",
            "in": "query",
            "name": "dataCadastroInicial",
            "schema": {
              "type": "string",
              "pattern": "^(\\d{2}/\\d{2}/\\d{4})?$"
            }
          },
          {
            "example": "dd/MM/yyyy",
            "in": "query",
            "name": "dataCadastroFinal",
            "schema": {
              "type": "string",
              "pattern": "^(\\d{2}/\\d{2}/\\d{4})?$"
            }
          },
          {
            "example": "dd/MM/yyyy",
            "in": "query",
            "name": "dataNascimento",
            "schema": {
              "type": "string",
              "pattern": "^(\\d{2}/\\d{2}/\\d{4})?$"
            }
          },
          {
            "in": "query",
            "name": "situacaoBeneficio",
            "schema": {
              "type": "string"
            }
          },
          {
            "in": "query",
            "name": "placa",
            "schema": {
              "type": "string"
            }
          },
          {
            "in": "query",
            "name": "chassi",
            "schema": {
              "type": "string",
              "maxLength": 20,
              "minLength": 0
            }
          },
          {
            "in": "query",
            "name": "codPlano",
            "schema": {
              "type": "integer",
              "format": "int32",
              "maximum": 2147483647,
              "minimum": 0
            }
          },
          {
            "in": "query",
            "name": "uf",
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "Data referente a \u00faltima atualiza\u00e7\u00e3o do associado ou benef\u00edcio.",
            "example": "dd/MM/yyyy",
            "in": "query",
            "name": "dataAtualizacao",
            "schema": {
              "type": "string",
              "pattern": "^(\\d{2}/\\d{2}/\\d{4})?$"
            }
          },
          {
            "in": "query",
            "name": "pagina",
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ListaPesquisaAssociadoOutputTO"
                }
              }
            },
            "description": "Lista de benef\u00edcios"
          },
          "401": {
            "content": {
              "text/plain": {}
            },
            "description": "N\u00e3o autorizado"
          }
        },
        "security": [
          {
            "bearer": []
          }
        ],
        "summary": "Pesquisar Associado",
        "tags": [
          "Associado"
        ]
      },
      "post": {
        "description": "Grava os dados b\u00e1sicos da pessoa, vinculando o cadastro pelo CPF/CNPJ.\n\n Atente-se para os seguintes campos, que tem op\u00e7\u00f5es fixas:\n\n- 'natureza':\n    'F' ou 'J'\n - 'sexo': 'Feminino' ou 'Masculino'\n- 'telefones' -> 'tipo': 'Fixo' ou 'Celular'\n",
        "operationId": "gravarAssociado",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/PessoaInputTO"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PessoaOutputTO"
                }
              }
            },
            "description": "Cadastro gravado com sucesso"
          },
          "401": {
            "content": {
              "text/plain": {}
            },
            "description": "N\u00e3o autorizado"
          }
        },
        "security": [
          {
            "bearer": []
          }
        ],
        "summary": "Gravar Associado",
        "tags": [
          "Associado"
        ]
      }
    },
    "/ext/associado/{codPessoa}/cartaoCredito": {
      "get": {
        "description": "Lista os cart\u00f5es de cr\u00e9dito vinculados ao associado.",
        "operationId": "listarCartaoCredito",
        "parameters": [
          {
            "in": "path",
            "name": "codPessoa",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CartaoCreditoTO"
                }
              }
            },
            "description": "Lista de cart\u00f5es"
          },
          "401": {
            "content": {
              "text/plain": {}
            },
            "description": "N\u00e3o autorizado"
          }
        },
        "security": [
          {
            "bearer": []
          }
        ],
        "summary": "Listar cart\u00f5es de cr\u00e9dito",
        "tags": [
          "Associado"
        ]
      }
    },
    "/ext/autenticacao": {
      "post": {
        "description": "Valida usu\u00e1rio e senha pelo m\u00e9todo Basic. Retorna os dados de acesso. O token gerado tem validade de 12 horas.",
        "operationId": "autenticar",
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AcessoOutputTO"
                }
              }
            },
            "description": "Dados do acesso"
          },
          "401": {
            "content": {
              "text/plain": {}
            },
            "description": "N\u00e3o autorizado"
          }
        },
        "security": [
          {
            "basic": []
          }
        ],
        "summary": "Autenticar",
        "tags": [
          "Seguran\u00e7a"
        ]
      }
    },
    "/ext/beneficio": {
      "get": {
        "description": "Retorna a lista de benef\u00edcios conforme par\u00e2metros.\n\nNecess\u00e1rio informar um par\u00e2metro de benef\u00edcio ('placa', 'chassi', 'sequencial' ou 'numeroCartaoDesconto').",
        "operationId": "pesquisarBeneficio",
        "parameters": [
          {
            "in": "query",
            "name": "cpf",
            "schema": {
              "type": "string"
            }
          },
          {
            "in": "query",
            "name": "cnpj",
            "schema": {
              "type": "string"
            }
          },
          {
            "in": "query",
            "name": "placa",
            "schema": {
              "type": "string"
            }
          },
          {
            "in": "query",
            "name": "chassi",
            "schema": {
              "type": "string",
              "maxLength": 20,
              "minLength": 0
            }
          },
          {
            "in": "query",
            "name": "sequencial",
            "schema": {
              "type": "integer",
              "format": "int32",
              "maximum": 2147483647,
              "minimum": 0
            }
          },
          {
            "in": "query",
            "name": "numeroCartaoDesconto",
            "schema": {
              "type": "string",
              "pattern": "^\\d{4} ?\\d{2} ?\\d ?\\d{3} ?\\d{3}$"
            }
          },
          {
            "in": "query",
            "name": "situacaoBeneficio",
            "schema": {
              "type": "string"
            }
          },
          {
            "in": "query",
            "name": "codPlano",
            "schema": {
              "type": "integer",
              "format": "int32",
              "maximum": 2147483647,
              "minimum": 0
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PesquisaBeneficioOutputTO"
                }
              }
            },
            "description": "Lista de benef\u00edcios"
          },
          "401": {
            "content": {
              "text/plain": {}
            },
            "description": "N\u00e3o autorizado"
          }
        },
        "security": [
          {
            "bearer": []
          }
        ],
        "summary": "Pesquisar Benef\u00edcio",
        "tags": [
          "Benef\u00edcio"
        ]
      },
      "post": {
        "description": "Grava o benef\u00edcio, vinculando-o ao CPF/CNPJ indicado.\n O 'codPlano' deve ser obtido na lista de negocia\u00e7\u00e3o.\n Envie a situa\u00e7\u00e3o pelo nome ou simplesmente ativo como verdadeiro ou falso.",
        "operationId": "gravarBeneficioBasico",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/BeneficioInputTO"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BeneficioOutputTO"
                }
              }
            },
            "description": "Benef\u00edcio gravado com sucesso"
          },
          "401": {
            "content": {
              "text/plain": {}
            },
            "description": "N\u00e3o autorizado"
          }
        },
        "security": [
          {
            "bearer": []
          }
        ],
        "summary": "Gravar Benef\u00edcio B\u00e1sico",
        "tags": [
          "Benef\u00edcio"
        ]
      }
    },
    "/ext/beneficio/dependente": {
      "get": {
        "description": "Retorna a lista de dependentes conforme par\u00e2metros.\n\nNecess\u00e1rio informar um dos seguintes par\u00e2metros:\n\n- 'nome'\n - 'cpf'\n - 'numeroCartaoDesconto'",
        "operationId": "pesquisarDependente",
        "parameters": [
          {
            "in": "query",
            "name": "nome",
            "schema": {
              "type": "string"
            }
          },
          {
            "in": "query",
            "name": "cpf",
            "schema": {
              "type": "string"
            }
          },
          {
            "in": "query",
            "name": "numeroCartaoDesconto",
            "schema": {
              "type": "string",
              "pattern": "^\\d{4} ?\\d{2} ?\\d ?\\d{3} ?\\d{3}$"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PesquisaDependenteOutputTO"
                }
              }
            },
            "description": "Lista de dependentes"
          },
          "401": {
            "content": {
              "text/plain": {}
            },
            "description": "N\u00e3o autorizado"
          }
        },
        "security": [
          {
            "bearer": []
          }
        ],
        "summary": "Pesquisar Dependente",
        "tags": [
          "Benef\u00edcio"
        ]
      },
      "post": {
        "description": "Grava o dependente, vinculando-o ao benef\u00edcio indicado.\n\n Atente-se para os seguintes campos, que tem op\u00e7\u00f5es fixas: \n\n * 'parentesco': CONJUGE | PAI | FILHO  | IRMAO | AVO | TIO | SOBRINHO | PRIMO | NETO | SOGRO | OUTRO | PET_CANINO | PET_FELINO | PET_OUTROS | CUNHADO | GENRO | ENTEADO | PADRASTO \n\n- 'sexo':\n 'Feminino' ou 'Masculino'",
        "operationId": "gravarDependente",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/DependenteInputTO"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DependenteBasicoOutputTO"
                }
              }
            },
            "description": "Dependente gravado com sucesso"
          },
          "401": {
            "content": {
              "text/plain": {}
            },
            "description": "N\u00e3o autorizado"
          }
        },
        "security": [
          {
            "bearer": []
          }
        ],
        "summary": "Gravar Dependente",
        "tags": [
          "Benef\u00edcio"
        ]
      }
    },
    "/ext/beneficio/situacaoBeneficio": {
      "get": {
        "description": "Lista as situa\u00e7\u00f5es de benef\u00edcio com respectivos tipos. As situa\u00e7\u00f5es s\u00e3o cadastradas pelo usu\u00e1rio, enquanto o tipo \u00e9 fixo no sistema.",
        "operationId": "listarSituacaoBeneficio",
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SituacaoBeneficioTO"
                }
              }
            },
            "description": "Lista de situa\u00e7\u00f5es de benef\u00edcio"
          },
          "401": {
            "content": {
              "text/plain": {}
            },
            "description": "N\u00e3o autorizado"
          }
        },
        "summary": "Listar Situa\u00e7\u00f5es de Benef\u00edcio",
        "tags": [
          "Benef\u00edcio"
        ]
      }
    },
    "/ext/beneficio/tipoVeiculo": {
      "get": {
        "description": "Lista os tipos de ve\u00edculo que podem ser atribu\u00eddos ao benef\u00edcio veicular.\n\n O item abaixo \u00e9 fixo conforme a respectiva lista: \n\n- 'categoria': Bicicleta | Caminhao | Leve | Motocicleta | Pickup | Utilitario | Onibus | Outro",
        "operationId": "listarTipoVeiculo",
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TipoVeiculoBean"
                }
              }
            },
            "description": "Lista de tipos de ve\u00edculo"
          },
          "401": {
            "content": {
              "text/plain": {}
            },
            "description": "N\u00e3o autorizado"
          }
        },
        "summary": "Listar Tipos de Ve\u00edculo",
        "tags": [
          "Benef\u00edcio"
        ]
      }
    },
    "/ext/beneficio/validacao": {
      "post": {
        "description": "Pesquisa um benef\u00edcio por CPF/CNPJ do benefici\u00e1rio ou n\u00famero do cart\u00e3o de benef\u00edcio informado no campo matr\u00edcula ou pelo sequencial. Retorna o status do benef\u00edcio e dados b\u00e1sicos do benefici\u00e1rio.",
        "operationId": "validarBeneficio",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ValidacaoBeneficioInputTO"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ValidacaoBeneficioOutputTO"
                }
              }
            },
            "description": "Dados do benef\u00edcio"
          },
          "400": {
            "content": {
              "text/plain": {}
            },
            "description": "Benef\u00edcio n\u00e3o localizado"
          },
          "401": {
            "content": {
              "text/plain": {}
            },
            "description": "N\u00e3o autorizado"
          }
        },
        "summary": "Validar Benef\u00edcio",
        "tags": [
          "Benef\u00edcio"
        ]
      }
    },
    "/ext/beneficio/veicular": {
      "post": {
        "description": "Grava o benef\u00edcio, vinculando-o ao CPF/CNPJ indicado.\n Envie a situa\u00e7\u00e3o pelo nome ou simplesmente ativo como verdadeiro ou falso.\nAtente-se para os seguintes campos, que tem op\u00e7\u00f5es fixas: \n * 'categoria': BICICLETA | CAMINHAO | LEVE | MOTOCICLETA | PICKUP | UTILITARIO | ONIBUS | OUTRO \n - 'combustivel': GASOLINA | ETANOL | FLEX | DIESEL | GNV | ELETRICO | OUTRO",
        "operationId": "gravarBeneficioVeicular",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/BeneficioVeiculoInputTO"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BeneficioOutputTO"
                }
              }
            },
            "description": "Benef\u00edcio gravado com sucesso"
          },
          "401": {
            "content": {
              "text/plain": {}
            },
            "description": "N\u00e3o autorizado"
          }
        },
        "security": [
          {
            "bearer": []
          }
        ],
        "summary": "Gravar Benef\u00edcio Veicular",
        "tags": [
          "Benef\u00edcio"
        ]
      }
    },
    "/ext/beneficio/vencimento": {
      "get": {
        "description": "Lista os dias de vencimento que podem ser atribu\u00eddos ao benef\u00edcio.",
        "operationId": "listarDiaVencimento",
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ListaDiaVencimentoTO"
                }
              }
            },
            "description": "Lista de dias"
          },
          "401": {
            "content": {
              "text/plain": {}
            },
            "description": "N\u00e3o autorizado"
          }
        },
        "summary": "Listar Dias de Vencimento",
        "tags": [
          "Benef\u00edcio"
        ]
      }
    },
    "/ext/beneficio/{codBeneficio}/cancelar": {
      "put": {
        "description": "Cancela o benef\u00edcio indicado pelo seu respectivo c\u00f3digo.",
        "operationId": "cancelarBeneficio",
        "parameters": [
          {
            "in": "path",
            "name": "codBeneficio",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {}
            },
            "description": "Benef\u00edcio cancelado"
          },
          "401": {
            "content": {
              "text/plain": {}
            },
            "description": "N\u00e3o autorizado"
          }
        },
        "security": [
          {
            "bearer": []
          }
        ],
        "summary": "Cancelar Benef\u00edcio",
        "tags": [
          "Benef\u00edcio"
        ]
      }
    },
    "/ext/beneficio/{codBeneficio}/dadosAdicionais": {
      "put": {
        "description": "Grava dados adicionais do benef\u00edcio.",
        "operationId": "gravarDadosAdicionais",
        "parameters": [
          {
            "in": "path",
            "name": "codBeneficio",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "array",
                "items": {
                  "$ref": "#/components/schemas/CampoAdicionalInputTO"
                }
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "content": {
              "application/json": {}
            },
            "description": "Dados gravados"
          },
          "401": {
            "content": {
              "text/plain": {}
            },
            "description": "N\u00e3o autorizado"
          }
        },
        "security": [
          {
            "bearer": []
          }
        ],
        "summary": "Gravar Dados Adicionais",
        "tags": [
          "Benef\u00edcio"
        ]
      }
    },
    "/ext/beneficio/{codBeneficio}/dependentes": {
      "get": {
        "description": "Lista os dependentes do benef\u00edcio indicado.",
        "operationId": "listarDependentes",
        "parameters": [
          {
            "in": "path",
            "name": "codBeneficio",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DependenteCompletoOutputTO"
                }
              }
            },
            "description": "Lista de dependentes"
          },
          "401": {
            "content": {
              "text/plain": {}
            },
            "description": "N\u00e3o autorizado"
          }
        },
        "security": [
          {
            "bearer": []
          }
        ],
        "summary": "Listar Dependentes",
        "tags": [
          "Benef\u00edcio"
        ]
      }
    },
    "/ext/beneficio/{codBeneficio}/equipamentos": {
      "get": {
        "description": "Lista os equipamentos instalados no benef\u00edcio de ve\u00edculo.",
        "operationId": "listarEquipamentos",
        "parameters": [
          {
            "in": "path",
            "name": "codBeneficio",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RastreadorInstalacaoTO"
                }
              }
            },
            "description": "Lista de itens"
          },
          "401": {
            "content": {
              "text/plain": {}
            },
            "description": "N\u00e3o autorizado"
          }
        },
        "security": [
          {
            "bearer": []
          }
        ],
        "summary": "Listar Equipamentos Instalados",
        "tags": [
          "Benef\u00edcio"
        ]
      }
    },
    "/ext/beneficio/{codBeneficio}/itens": {
      "get": {
        "description": "Lista os itens do benef\u00edcio indicado.",
        "operationId": "listarItens",
        "parameters": [
          {
            "in": "path",
            "name": "codBeneficio",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ItemBeneficioOutputTO"
                }
              }
            },
            "description": "Lista de itens"
          },
          "401": {
            "content": {
              "text/plain": {}
            },
            "description": "N\u00e3o autorizado"
          }
        },
        "security": [
          {
            "bearer": []
          }
        ],
        "summary": "Listar Itens",
        "tags": [
          "Benef\u00edcio"
        ]
      }
    },
    "/ext/crm/lead": {
      "get": {
        "description": "Retorna a lista de leads ativos.",
        "operationId": "listarLeads",
        "parameters": [
          {
            "description": "Aceita informar nome, CPF, CNPJ, telefone ou email.",
            "in": "query",
            "name": "filtro",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/LeadOutputTO"
                }
              }
            },
            "description": "Lista de leads"
          },
          "401": {
            "content": {
              "text/plain": {}
            },
            "description": "N\u00e3o autorizado"
          }
        },
        "security": [
          {
            "bearer": []
          }
        ],
        "summary": "Lista Leads",
        "tags": [
          "CRM"
        ]
      },
      "post": {
        "description": "Grava um lead com dados b\u00e1sicos do contato.",
        "operationId": "gravarLead",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/LeadInputTO"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PessoaOutputTO"
                }
              }
            },
            "description": "Cadastro gravado com sucesso"
          },
          "401": {
            "content": {
              "text/plain": {}
            },
            "description": "N\u00e3o autorizado"
          }
        },
        "security": [
          {
            "bearer": []
          }
        ],
        "summary": "Gravar Lead",
        "tags": [
          "CRM"
        ]
      }
    },
    "/ext/crm/negocio": {
      "get": {
        "description": "Retorna a lista de neg\u00f3cios abertos.",
        "operationId": "listarNegocios",
        "parameters": [
          {
            "in": "query",
            "name": "codLead",
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "in": "query",
            "name": "filtro",
            "schema": {
              "type": "string",
              "description": "nome/cpf/cnpj/telefone/email/sequencial"
            }
          },
          {
            "in": "query",
            "name": "dataInicial",
            "schema": {
              "type": "string",
              "maxLength": 10,
              "minLength": 0,
              "pattern": "^(\\d{4}\\-\\d{2}\\-\\d{2})?$"
            }
          },
          {
            "in": "query",
            "name": "dataFinal",
            "schema": {
              "type": "string",
              "maxLength": 10,
              "minLength": 0,
              "pattern": "^(\\d{4}\\-\\d{2}\\-\\d{2})?$"
            }
          },
          {
            "in": "query",
            "name": "codLoja",
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "in": "query",
            "name": "codUsuarioResponsavel",
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PesquisaNegocioOutputTO"
                }
              }
            },
            "description": "Lista de neg\u00f3cios"
          },
          "401": {
            "content": {
              "text/plain": {}
            },
            "description": "N\u00e3o autorizado"
          }
        },
        "security": [
          {
            "bearer": []
          }
        ],
        "summary": "Lista Neg\u00f3cios",
        "tags": [
          "CRM"
        ]
      },
      "post": {
        "description": "Cria um novo neg\u00f3cio com dados b\u00e1sicos.",
        "operationId": "gravarNegocio",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/NegocioInputTO"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/NegocioOutputTO"
                }
              }
            },
            "description": "Neg\u00f3cio criado com sucesso"
          },
          "401": {
            "content": {
              "text/plain": {}
            },
            "description": "N\u00e3o autorizado"
          }
        },
        "security": [
          {
            "bearer": []
          }
        ],
        "summary": "Criar Neg\u00f3cio",
        "tags": [
          "CRM"
        ]
      }
    },
    "/ext/crm/negocio/{codNegocio}": {
      "get": {
        "description": "Recupera os dados b\u00e1sicos de um neg\u00f3cio.",
        "operationId": "recuperarNegocio",
        "parameters": [
          {
            "in": "path",
            "name": "codNegocio",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/NegocioTO"
                }
              }
            },
            "description": "Neg\u00f3cio recuperado"
          },
          "401": {
            "content": {
              "text/plain": {}
            },
            "description": "N\u00e3o autorizado"
          }
        },
        "security": [
          {
            "bearer": []
          }
        ],
        "summary": "Recuperar Neg\u00f3cio",
        "tags": [
          "CRM"
        ]
      },
      "put": {
        "description": "Altera os dados b\u00e1sicos de um neg\u00f3cio.",
        "operationId": "alterarNegocio",
        "parameters": [
          {
            "in": "path",
            "name": "codNegocio",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/NegocioInputTO"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/NegocioOutputTO"
                }
              }
            },
            "description": "Neg\u00f3cio alterado com sucesso"
          },
          "401": {
            "content": {
              "text/plain": {}
            },
            "description": "N\u00e3o autorizado"
          }
        },
        "security": [
          {
            "bearer": []
          }
        ],
        "summary": "Alterar Neg\u00f3cio",
        "tags": [
          "CRM"
        ]
      }
    },
    "/ext/crm/negocio/{codNegocio}/dependente": {
      "post": {
        "description": "Cria um dependente de benef\u00edcio de sa\u00fade.",
        "operationId": "criarDependente",
        "parameters": [
          {
            "in": "path",
            "name": "codNegocio",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/NegocioDependenteTO"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/NegocioDependenteTO"
                }
              }
            },
            "description": "Dependente criado com sucesso"
          },
          "401": {
            "content": {
              "text/plain": {}
            },
            "description": "N\u00e3o autorizado"
          }
        },
        "security": [
          {
            "bearer": []
          }
        ],
        "summary": "Criar Dependente",
        "tags": [
          "CRM"
        ]
      }
    },
    "/ext/crm/negocio/{codNegocio}/dependente/{codDependente}": {
      "put": {
        "description": "Altera um dependente de benef\u00edcio de sa\u00fade.",
        "operationId": "alterarDependente",
        "parameters": [
          {
            "in": "path",
            "name": "codNegocio",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "in": "path",
            "name": "codDependente",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/NegocioDependenteTO"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/NegocioDependenteTO"
                }
              }
            },
            "description": "Dependente alterado com sucesso"
          },
          "401": {
            "content": {
              "text/plain": {}
            },
            "description": "N\u00e3o autorizado"
          }
        },
        "security": [
          {
            "bearer": []
          }
        ],
        "summary": "Alterar Dependente",
        "tags": [
          "CRM"
        ]
      }
    },
    "/ext/evento": {
      "get": {
        "description": "Retorna a lista de eventos conforme par\u00e2metros.\n\n",
        "operationId": "pesquisarEvento",
        "parameters": [
          {
            "in": "query",
            "name": "envolvido",
            "schema": {
              "type": "string",
              "enum": [
                "Cliente",
                "Terceiro"
              ]
            }
          },
          {
            "example": "dd/MM/yyyy",
            "in": "query",
            "name": "dataAberturaInicial",
            "schema": {
              "type": "string",
              "pattern": "^(\\d{2}/\\d{2}/\\d{4})?$"
            }
          },
          {
            "example": "dd/MM/yyyy",
            "in": "query",
            "name": "dataAberturaFinal",
            "schema": {
              "type": "string",
              "pattern": "^(\\d{2}/\\d{2}/\\d{4})?$"
            }
          },
          {
            "example": "dd/MM/yyyy",
            "in": "query",
            "name": "dataEventoInicial",
            "schema": {
              "type": "string",
              "pattern": "^(\\d{2}/\\d{2}/\\d{4})?$"
            }
          },
          {
            "example": "dd/MM/yyyy",
            "in": "query",
            "name": "dataEventoFinal",
            "schema": {
              "type": "string",
              "pattern": "^(\\d{2}/\\d{2}/\\d{4})?$"
            }
          },
          {
            "in": "query",
            "name": "protocolo",
            "schema": {
              "type": "string"
            }
          },
          {
            "in": "query",
            "name": "codPessoa",
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "in": "query",
            "name": "cpfCnpj",
            "schema": {
              "type": "string"
            }
          },
          {
            "in": "query",
            "name": "codRepresentante",
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "in": "query",
            "name": "codConsultor",
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PesquisaEventoOutputTO"
                }
              }
            },
            "description": "Lista de eventos"
          },
          "401": {
            "content": {
              "text/plain": {}
            },
            "description": "N\u00e3o autorizado"
          }
        },
        "security": [
          {
            "bearer": []
          }
        ],
        "summary": "Pesquisar Evento",
        "tags": [
          "Evento"
        ]
      }
    },
    "/ext/evento/orcamento": {
      "post": {
        "description": "Adiciona ou edita um or\u00e7amento num evento.",
        "operationId": "gravarOrcamento",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/EventoOrcamentoInputTO"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/EventoOrcamentoOutputTO"
                }
              }
            },
            "description": "Or\u00e7amento gravado com sucesso"
          },
          "401": {
            "content": {
              "text/plain": {}
            },
            "description": "N\u00e3o autorizado"
          }
        },
        "security": [
          {
            "bearer": []
          }
        ],
        "summary": "Gravar Or\u00e7amento",
        "tags": [
          "Evento"
        ]
      }
    },
    "/ext/evento/situacaoEvento": {
      "get": {
        "description": "Retorna a lista de situa\u00e7\u00f5es de evento.",
        "operationId": "listarSituacaoEvento",
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CodigoNomeTO"
                }
              }
            },
            "description": "Lista de situa\u00e7\u00f5es"
          },
          "401": {
            "content": {
              "text/plain": {}
            },
            "description": "N\u00e3o autorizado"
          }
        },
        "security": [
          {
            "bearer": []
          }
        ],
        "summary": "Listar Situa\u00e7\u00f5es de Evento",
        "tags": [
          "Evento"
        ]
      }
    },
    "/ext/evento/tecnico": {
      "get": {
        "description": "Retorna a lista de t\u00e9cnicos ativos.",
        "operationId": "listarTecnicos",
        "parameters": [
          {
            "in": "query",
            "name": "nome",
            "schema": {
              "type": "string"
            }
          },
          {
            "in": "query",
            "name": "cpfCnpj",
            "schema": {
              "type": "string"
            }
          },
          {
            "in": "query",
            "name": "bairro",
            "schema": {
              "type": "string"
            }
          },
          {
            "in": "query",
            "name": "cidade",
            "schema": {
              "type": "string"
            }
          },
          {
            "in": "query",
            "name": "uf",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PesquisaTecnicoOutputTO"
                }
              }
            },
            "description": "Lista de t\u00e9cnicos"
          },
          "401": {
            "content": {
              "text/plain": {}
            },
            "description": "N\u00e3o autorizado"
          }
        },
        "security": [
          {
            "bearer": []
          }
        ],
        "summary": "Lista T\u00e9cnicos",
        "tags": [
          "Evento"
        ]
      },
      "post": {
        "description": "Grava um t\u00e9cnico com dados b\u00e1sicos.",
        "operationId": "gravarTecnico",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/PessoaInputTO"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PessoaOutputTO"
                }
              }
            },
            "description": "Cadastro gravado com sucesso"
          },
          "401": {
            "content": {
              "text/plain": {}
            },
            "description": "N\u00e3o autorizado"
          }
        },
        "security": [
          {
            "bearer": []
          }
        ],
        "summary": "Gravar T\u00e9cnico",
        "tags": [
          "Evento"
        ]
      }
    },
    "/ext/evento/tipoEvento": {
      "get": {
        "description": "Retorna a lista de tipos de evento, que s\u00e3o necess\u00e1rios para identificar corretamente o evento.",
        "operationId": "listarTipoEvento",
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TipoEventoBean"
                }
              }
            },
            "description": "Lista de tipos"
          },
          "401": {
            "content": {
              "text/plain": {}
            },
            "description": "N\u00e3o autorizado"
          }
        },
        "security": [
          {
            "bearer": []
          }
        ],
        "summary": "Listar Tipos de Evento",
        "tags": [
          "Evento"
        ]
      }
    },
    "/ext/evento/{codEvento}": {
      "get": {
        "description": "Retorna os dados do evento indicado.",
        "operationId": "recuperarEvento",
        "parameters": [
          {
            "in": "path",
            "name": "codEvento",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/EventoOutputTO"
                }
              }
            },
            "description": "Dados do evento"
          },
          "401": {
            "content": {
              "text/plain": {}
            },
            "description": "N\u00e3o autorizado"
          }
        },
        "security": [
          {
            "bearer": []
          }
        ],
        "summary": "Recuperar Evento",
        "tags": [
          "Evento"
        ]
      }
    },
    "/ext/evento/{codEvento}/orcamentos": {
      "get": {
        "description": "Retorna a lista de or\u00e7amentos de um determinando evento.",
        "operationId": "listarOrcamentos",
        "parameters": [
          {
            "in": "path",
            "name": "codEvento",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/EventoOrcamentoOutputTO"
                }
              }
            },
            "description": "Lista de or\u00e7amentos"
          },
          "401": {
            "content": {
              "text/plain": {}
            },
            "description": "N\u00e3o autorizado"
          }
        },
        "security": [
          {
            "bearer": []
          }
        ],
        "summary": "Listar Or\u00e7amentos",
        "tags": [
          "Evento"
        ]
      }
    },
    "/ext/financeiro/cartaoCredito": {
      "post": {
        "description": "Cadastra um cart\u00e3o de cr\u00e9dito para a pessoa.",
        "operationId": "cadastrarCartaoCredito",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CadastroCartaoInputTO"
              }
            }
          }
        },
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CadastroCartaoOutputTO"
                }
              }
            },
            "description": "Identifica\u00e7\u00e3o do cart\u00e3o"
          },
          "401": {
            "content": {
              "text/plain": {}
            },
            "description": "N\u00e3o autorizado"
          }
        },
        "security": [
          {
            "bearer": []
          }
        ],
        "summary": "Cadastrar Cart\u00e3o de Cr\u00e9dito",
        "tags": [
          "Financeiro"
        ]
      }
    },
    "/ext/financeiro/formaPagamento": {
      "get": {
        "description": "Retorna a lista de formas de pagamento dispon\u00edveis.",
        "operationId": "listarFormaPagamento",
        "responses": {
          "401": {
            "content": {
              "text/plain": {}
            },
            "description": "N\u00e3o autorizado"
          },
          "default": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/FormaPagamentoTO"
                }
              }
            },
            "description": "Forma de Pagamento"
          }
        },
        "security": [
          {
            "bearer": []
          }
        ],
        "summary": "Listar Formas de Pagamento",
        "tags": [
          "Financeiro"
        ]
      }
    },
    "/ext/financeiro/tipoLiquidacao": {
      "get": {
        "description": "Retorna a lista de tipos de liquida\u00e7\u00e3o, necess\u00e1rios para a liquida\u00e7\u00e3o de t\u00edtulo.",
        "operationId": "listarTipoLiquidacao",
        "responses": {
          "401": {
            "content": {
              "text/plain": {}
            },
            "description": "N\u00e3o autorizado"
          },
          "default": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TipoLiquidacaoBean"
                }
              }
            },
            "description": "Lista de tipos"
          }
        },
        "security": [
          {
            "bearer": []
          }
        ],
        "summary": "Listar Tipos de Liquida\u00e7\u00e3o",
        "tags": [
          "Financeiro"
        ]
      }
    },
    "/ext/financeiro/tipoTitulo": {
      "get": {
        "description": "Retorna a lista de tipos de t\u00edtulo, necess\u00e1rios para a cria\u00e7\u00e3o de t\u00edtulo.",
        "operationId": "listarTipoTitulo",
        "responses": {
          "401": {
            "content": {
              "text/plain": {}
            },
            "description": "N\u00e3o autorizado"
          },
          "default": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TipoTituloBean"
                }
              }
            },
            "description": "Lista de tipos"
          }
        },
        "security": [
          {
            "bearer": []
          }
        ],
        "summary": "Listar Tipos de T\u00edtulo",
        "tags": [
          "Financeiro"
        ]
      }
    },
    "/ext/financeiro/titulo": {
      "get": {
        "description": "Retorna a lista de t\u00edtulos conforme par\u00e2metros.",
        "operationId": "pesquisarTitulo",
        "parameters": [
          {
            "in": "query",
            "name": "tipo",
            "required": true,
            "schema": {
              "type": "string",
              "enum": [
                "D\u00e9bito",
                "Cr\u00e9dito",
                "Rateio"
              ]
            }
          },
          {
            "in": "query",
            "name": "codLoja",
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "in": "query",
            "name": "codConsultor",
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "in": "query",
            "name": "codRepresentante",
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "in": "query",
            "name": "cpfCnpj",
            "schema": {
              "type": "string"
            }
          },
          {
            "example": "dd/MM/yyyy",
            "in": "query",
            "name": "dataEmissaoInicial",
            "schema": {
              "type": "string",
              "pattern": "^(\\d{2}/\\d{2}/\\d{4})?$"
            }
          },
          {
            "example": "dd/MM/yyyy",
            "in": "query",
            "name": "dataEmissaoFinal",
            "schema": {
              "type": "string",
              "pattern": "^(\\d{2}/\\d{2}/\\d{4})?$"
            }
          },
          {
            "example": "dd/MM/yyyy",
            "in": "query",
            "name": "dataVencimentoInicial",
            "schema": {
              "type": "string",
              "pattern": "^(\\d{2}/\\d{2}/\\d{4})?$"
            }
          },
          {
            "example": "dd/MM/yyyy",
            "in": "query",
            "name": "dataVencimentoFinal",
            "schema": {
              "type": "string",
              "pattern": "^(\\d{2}/\\d{2}/\\d{4})?$"
            }
          },
          {
            "example": "dd/MM/yyyy",
            "in": "query",
            "name": "dataLiquidacaoInicial",
            "schema": {
              "type": "string",
              "pattern": "^(\\d{2}/\\d{2}/\\d{4})?$"
            }
          },
          {
            "example": "dd/MM/yyyy",
            "in": "query",
            "name": "dataLiquidacaoFinal",
            "schema": {
              "type": "string",
              "pattern": "^(\\d{2}/\\d{2}/\\d{4})?$"
            }
          },
          {
            "description": "Repetir o par\u00e2metro para selecionar mais de uma situa\u00e7\u00e3o.",
            "in": "query",
            "name": "situacao",
            "schema": {
              "type": "array",
              "items": {
                "type": "string",
                "enum": [
                  "Aberto",
                  "Pendente",
                  "Liquidado",
                  "Cancelado",
                  "Protestado",
                  "Rejeitado",
                  "Agrupado",
                  "Negociado"
                ]
              }
            }
          },
          {
            "in": "query",
            "name": "situacaoBeneficio",
            "schema": {
              "type": "string"
            }
          },
          {
            "in": "query",
            "name": "placa",
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "\u00cdndice do registro inicial, come\u00e7ando em zero.",
            "in": "query",
            "name": "inicio",
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          }
        ],
        "responses": {
          "401": {
            "content": {
              "text/plain": {}
            },
            "description": "N\u00e3o autorizado"
          },
          "default": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ListaTituloOutputTO"
                }
              }
            },
            "description": "Lista de t\u00edtulos"
          }
        },
        "security": [
          {
            "bearer": []
          }
        ],
        "summary": "Pesquisar T\u00edtulos",
        "tags": [
          "Financeiro"
        ]
      },
      "post": {
        "description": "Cria um t\u00edtulo de cr\u00e9dito.",
        "operationId": "criarTitulo",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CriacaoTituloInputTO"
              }
            }
          }
        },
        "responses": {
          "401": {
            "content": {
              "text/plain": {}
            },
            "description": "N\u00e3o autorizado"
          },
          "default": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CriacaoTituloOutputTO"
                }
              }
            },
            "description": "Identifica\u00e7\u00e3o do t\u00edtulo"
          }
        },
        "security": [
          {
            "bearer": []
          }
        ],
        "summary": "Criar T\u00edtulo",
        "tags": [
          "Financeiro"
        ]
      }
    },
    "/ext/financeiro/titulo/boleto": {
      "get": {
        "description": "Retorna a lista de boletos ativos conforme par\u00e2metros.",
        "operationId": "pesquisarBoleto",
        "parameters": [
          {
            "in": "query",
            "name": "codLoja",
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "in": "query",
            "name": "cpfCnpj",
            "schema": {
              "type": "string"
            }
          },
          {
            "example": "dd/MM/yyyy",
            "in": "query",
            "name": "dataEmissaoInicial",
            "schema": {
              "type": "string",
              "pattern": "^(\\d{2}/\\d{2}/\\d{4})?$"
            }
          },
          {
            "example": "dd/MM/yyyy",
            "in": "query",
            "name": "dataEmissaoFinal",
            "schema": {
              "type": "string",
              "pattern": "^(\\d{2}/\\d{2}/\\d{4})?$"
            }
          },
          {
            "example": "dd/MM/yyyy",
            "in": "query",
            "name": "dataVencimentoInicial",
            "schema": {
              "type": "string",
              "pattern": "^(\\d{2}/\\d{2}/\\d{4})?$"
            }
          },
          {
            "example": "dd/MM/yyyy",
            "in": "query",
            "name": "dataVencimentoFinal",
            "schema": {
              "type": "string",
              "pattern": "^(\\d{2}/\\d{2}/\\d{4})?$"
            }
          },
          {
            "example": "dd/MM/yyyy",
            "in": "query",
            "name": "dataLiquidacaoInicial",
            "schema": {
              "type": "string",
              "pattern": "^(\\d{2}/\\d{2}/\\d{4})?$"
            }
          },
          {
            "example": "dd/MM/yyyy",
            "in": "query",
            "name": "dataLiquidacaoFinal",
            "schema": {
              "type": "string",
              "pattern": "^(\\d{2}/\\d{2}/\\d{4})?$"
            }
          },
          {
            "description": "Repetir o par\u00e2metro para selecionar mais de uma situa\u00e7\u00e3o.",
            "in": "query",
            "name": "situacao",
            "schema": {
              "type": "array",
              "items": {
                "type": "string",
                "enum": [
                  "Aberto",
                  "Pendente",
                  "Liquidado",
                  "Cancelado",
                  "Protestado",
                  "Rejeitado",
                  "Agrupado",
                  "Negociado"
                ]
              }
            }
          },
          {
            "in": "query",
            "name": "situacaoBeneficio",
            "schema": {
              "type": "string"
            }
          },
          {
            "in": "query",
            "name": "placa",
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "\u00cdndice do registro inicial, come\u00e7ando em zero.",
            "in": "query",
            "name": "inicio",
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          }
        ],
        "responses": {
          "401": {
            "content": {
              "text/plain": {}
            },
            "description": "N\u00e3o autorizado"
          },
          "default": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ListaBoletoOutputTO"
                }
              }
            },
            "description": "Lista de boletos"
          }
        },
        "security": [
          {
            "bearer": []
          }
        ],
        "summary": "Pesquisar Boletos",
        "tags": [
          "Financeiro"
        ]
      }
    },
    "/ext/financeiro/titulo/liquidar": {
      "post": {
        "description": "Efetua a liquida\u00e7\u00e3o de um t\u00edtulo com o valor informado.",
        "operationId": "liquidarTitulo",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CobrancaTituloInputTO"
              }
            }
          }
        },
        "responses": {
          "401": {
            "content": {
              "text/plain": {}
            },
            "description": "N\u00e3o autorizado"
          },
          "default": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CobrancaTituloInputTO"
                }
              }
            },
            "description": "C\u00f3digo da liquida\u00e7\u00e3o."
          }
        },
        "security": [
          {
            "bearer": []
          }
        ],
        "summary": "Liquidar T\u00edtulo",
        "tags": [
          "Financeiro"
        ]
      }
    },
    "/ext/financeiro/titulo/pagar": {
      "post": {
        "description": "Efetua o pagamento de um t\u00edtulo com cart\u00e3o de cr\u00e9dito pr\u00e9-cadastrado.",
        "operationId": "pagarTituloComCartao",
        "parameters": [
          {
            "in": "query",
            "name": "codTitulo",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64",
              "minimum": 1
            }
          },
          {
            "in": "query",
            "name": "codCartaoCredito",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32",
              "minimum": 1
            }
          },
          {
            "in": "query",
            "name": "codFormaPagamento",
            "schema": {
              "type": "integer",
              "format": "int32",
              "minimum": 1
            }
          }
        ],
        "responses": {
          "401": {
            "content": {
              "text/plain": {}
            },
            "description": "N\u00e3o autorizado"
          },
          "default": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CobrancaCartaoOutputTO"
                }
              }
            },
            "description": "NSU e c\u00f3digo de autoriza\u00e7\u00e3o da transa\u00e7\u00e3o."
          }
        },
        "security": [
          {
            "bearer": []
          }
        ],
        "summary": "Pagar T\u00edtulo",
        "tags": [
          "Financeiro"
        ]
      }
    },
    "/ext/financeiro/titulo/{codTitulo}": {
      "get": {
        "description": "Retorna os dados detalhados do t\u00edtulo.",
        "operationId": "recuperarTitulo",
        "parameters": [
          {
            "in": "path",
            "name": "codTitulo",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          }
        ],
        "responses": {
          "401": {
            "content": {
              "text/plain": {}
            },
            "description": "N\u00e3o autorizado"
          },
          "default": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TituloOutputTO"
                }
              }
            },
            "description": "T\u00edtulo"
          }
        },
        "security": [
          {
            "bearer": []
          }
        ],
        "summary": "Recuperar T\u00edtulo",
        "tags": [
          "Financeiro"
        ]
      }
    },
    "/ext/financeiro/titulo/{codTitulo}/boleto": {
      "get": {
        "description": "Retorna a Linha Digit\u00e1vel e a URL do PDF do boleto mais recente do t\u00edtulo.",
        "operationId": "recuperarBoleto",
        "parameters": [
          {
            "in": "path",
            "name": "codTitulo",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          }
        ],
        "responses": {
          "401": {
            "content": {
              "text/plain": {}
            },
            "description": "N\u00e3o autorizado"
          },
          "default": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BoletoOutputTO"
                }
              }
            },
            "description": "Boleto do T\u00edtulo"
          }
        },
        "security": [
          {
            "bearer": []
          }
        ],
        "summary": "Recuperar Boleto",
        "tags": [
          "Financeiro"
        ]
      },
      "post": {
        "description": "Emite um novo boleto para o t\u00edtulo. Caso a carteira seja online, os dados do boleto n\u00e3o ser\u00e3o retornados imediatamente, podendo ser recuperados depois.",
        "operationId": "emitirBoleto",
        "parameters": [
          {
            "in": "path",
            "name": "codTitulo",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          }
        ],
        "responses": {
          "401": {
            "content": {
              "text/plain": {}
            },
            "description": "N\u00e3o autorizado"
          },
          "default": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BoletoOutputTO"
                }
              }
            },
            "description": "Boleto do T\u00edtulo"
          }
        },
        "security": [
          {
            "bearer": []
          }
        ],
        "summary": "Emitir Boleto",
        "tags": [
          "Financeiro"
        ]
      }
    },
    "/ext/financeiro/titulo/{codTitulo}/pix": {
      "post": {
        "description": "Emite um novo Pix para o t\u00edtulo. Caso o t\u00edtulo j\u00e1 tenha um Pix ativo, este ser\u00e1 retornado.",
        "operationId": "emitirPix",
        "parameters": [
          {
            "in": "path",
            "name": "codTitulo",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          }
        ],
        "responses": {
          "401": {
            "content": {
              "text/plain": {}
            },
            "description": "N\u00e3o autorizado"
          },
          "default": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PixOutputTO"
                }
              }
            },
            "description": "Pix do T\u00edtulo"
          }
        },
        "security": [
          {
            "bearer": []
          }
        ],
        "summary": "Emitir Pix",
        "tags": [
          "Financeiro"
        ]
      }
    },
    "/ext/integracao/araujo/empresas/{matricula}": {
      "get": {
        "description": "Retorna os dados do benef\u00edcio para integra\u00e7\u00e3o com a Drogaria Ara\u00fajo.",
        "operationId": "recuperarBeneficioAraujo",
        "parameters": [
          {
            "description": "Enviar o CPF ou o n\u00famero do cart\u00e3o de benef\u00edcios.",
            "in": "path",
            "name": "matricula",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BeneficioAraujoTO"
                }
              }
            },
            "description": "Dados do benef\u00edcio"
          },
          "401": {
            "content": {
              "text/plain": {}
            },
            "description": "N\u00e3o autorizado"
          }
        },
        "security": [
          {
            "bearer": []
          }
        ],
        "summary": "Recuperar Benef\u00edcio (Ara\u00fajo)",
        "tags": [
          "Integra\u00e7\u00e3o Especial"
        ]
      }
    },
    "/ext/integracao/univers": {
      "get": {
        "description": "Retorna a lista de benef\u00edcios para integra\u00e7\u00e3o com a Univers.",
        "operationId": "listarBeneficiosUnivers",
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BeneficioUniversTO"
                }
              }
            },
            "description": "Lista de benef\u00edcios"
          },
          "401": {
            "content": {
              "text/plain": {}
            },
            "description": "N\u00e3o autorizado"
          }
        },
        "security": [
          {
            "bearer": []
          }
        ],
        "summary": "Listar Benef\u00edcios (Univers)",
        "tags": [
          "Integra\u00e7\u00e3o Especial"
        ]
      }
    },
    "/ext/negociacao": {
      "get": {
        "description": "Retorna a lista dos planos contratados pela empresa. \n\n O campo 'tipoBeneficio' retorna algum dos seguintes itens: \n - Assinatura\n - Assist\u00eancia 24h\n - Cons\u00f3rcio\n - Diversos\n - Prote\u00e7\u00e3o Veicular\n- Sa\u00fade",
        "operationId": "listarNegociacao",
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/NegociacaoOutputTO"
                }
              }
            },
            "description": "Lista de negocia\u00e7\u00f5es"
          },
          "401": {
            "content": {
              "text/plain": {}
            },
            "description": "N\u00e3o autorizado"
          }
        },
        "security": [
          {
            "bearer": []
          }
        ],
        "summary": "Listar Negocia\u00e7\u00f5es",
        "tags": [
          "Empresa"
        ]
      }
    },
    "/ext/rede/clinica": {
      "get": {
        "description": "Retorna a lista de cl\u00ednicas encontradas.",
        "operationId": "listarClinica",
        "parameters": [
          {
            "in": "query",
            "name": "nome",
            "schema": {
              "type": "string",
              "description": "Nome da cl\u00ednica ou do m\u00e9dico"
            }
          },
          {
            "in": "query",
            "name": "cpfCnpj",
            "schema": {
              "type": "string"
            }
          },
          {
            "in": "query",
            "name": "codRegiao",
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "in": "query",
            "name": "codEspecialidade",
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "in": "query",
            "name": "codExame",
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "in": "query",
            "name": "codMedico",
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "in": "query",
            "name": "cidade",
            "schema": {
              "type": "string"
            }
          },
          {
            "in": "query",
            "name": "bairro",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PesquisaClinicaOutputTO"
                }
              }
            },
            "description": "Lista de cl\u00ednicas"
          },
          "401": {
            "content": {
              "text/plain": {}
            },
            "description": "N\u00e3o autorizado"
          }
        },
        "security": [
          {
            "bearer": []
          }
        ],
        "summary": "Pesquisar Cl\u00ednicas",
        "tags": [
          "Rede Credenciada"
        ]
      }
    },
    "/ext/rede/clinica/{id}": {
      "get": {
        "description": "Recupera os dados completos da cl\u00ednica pelo ID.",
        "operationId": "recuperarClinica",
        "parameters": [
          {
            "in": "path",
            "name": "id",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ClinicaOutputTO"
                }
              }
            },
            "description": "Dados da cl\u00ednica"
          },
          "401": {
            "content": {
              "text/plain": {}
            },
            "description": "N\u00e3o autorizado"
          }
        },
        "security": [
          {
            "bearer": []
          }
        ],
        "summary": "Recuperar Cl\u00ednica",
        "tags": [
          "Rede Credenciada"
        ]
      }
    },
    "/ext/rede/especialidade": {
      "get": {
        "description": "Retorna a lista de especialidades m\u00e9dicas dispon\u00edveis.",
        "operationId": "listarEspecialidade",
        "parameters": [
          {
            "description": "Nome da especialidade",
            "in": "query",
            "name": "nome",
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "C\u00f3digos de regi\u00e3o separados por v\u00edrgula.",
            "in": "query",
            "name": "codRegiao",
            "schema": {
              "type": "string",
              "pattern": "^\\d+(,\\d+)*$"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CodigoNomeTO"
                }
              }
            },
            "description": "Lista de especialidades"
          },
          "401": {
            "content": {
              "text/plain": {}
            },
            "description": "N\u00e3o autorizado"
          }
        },
        "security": [
          {
            "bearer": []
          }
        ],
        "summary": "Listar Especialidades",
        "tags": [
          "Rede Credenciada"
        ]
      }
    },
    "/ext/rede/exame": {
      "get": {
        "description": "Retorna a lista de exames m\u00e9dicos dispon\u00edveis.",
        "operationId": "listarExame",
        "parameters": [
          {
            "description": "Nome do exame",
            "in": "query",
            "name": "nome",
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "C\u00f3digos de regi\u00e3o separados por v\u00edrgula.",
            "in": "query",
            "name": "codRegiao",
            "schema": {
              "type": "string",
              "pattern": "^\\d+(,\\d+)*$"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ExameTO"
                }
              }
            },
            "description": "Lista de exames"
          },
          "401": {
            "content": {
              "text/plain": {}
            },
            "description": "N\u00e3o autorizado"
          }
        },
        "security": [
          {
            "bearer": []
          }
        ],
        "summary": "Listar Exames",
        "tags": [
          "Rede Credenciada"
        ]
      }
    },
    "/ext/rede/medico": {
      "get": {
        "description": "Retorna a lista de m\u00e9dicos encontrados.",
        "operationId": "listarMedico",
        "parameters": [
          {
            "in": "query",
            "name": "nome",
            "schema": {
              "type": "string"
            }
          },
          {
            "in": "query",
            "name": "cpfCnpj",
            "schema": {
              "type": "string"
            }
          },
          {
            "in": "query",
            "name": "codRegiao",
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "in": "query",
            "name": "codEspecialidade",
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "in": "query",
            "name": "cidade",
            "schema": {
              "type": "string"
            }
          },
          {
            "in": "query",
            "name": "bairro",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PesquisaMedicoOutputTO"
                }
              }
            },
            "description": "Lista de m\u00e9dicos"
          },
          "401": {
            "content": {
              "text/plain": {}
            },
            "description": "N\u00e3o autorizado"
          }
        },
        "security": [
          {
            "bearer": []
          }
        ],
        "summary": "Pesquisar M\u00e9dicos",
        "tags": [
          "Rede Credenciada"
        ]
      }
    },
    "/ext/rede/medico/{id}": {
      "get": {
        "description": "Recupera os dados completos do m\u00e9dico pelo ID.",
        "operationId": "recuperarMedico",
        "parameters": [
          {
            "in": "path",
            "name": "id",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/MedicoOutputTO"
                }
              }
            },
            "description": "Dados do m\u00e9dico"
          },
          "401": {
            "content": {
              "text/plain": {}
            },
            "description": "N\u00e3o autorizado"
          }
        },
        "security": [
          {
            "bearer": []
          }
        ],
        "summary": "Recuperar M\u00e9dico",
        "tags": [
          "Rede Credenciada"
        ]
      }
    },
    "/ext/rede/parceiro": {
      "get": {
        "description": "Retorna a lista de parceiros.",
        "operationId": "listarParceiro_1",
        "parameters": [
          {
            "in": "query",
            "name": "nome",
            "schema": {
              "type": "string"
            }
          },
          {
            "in": "query",
            "name": "cpfCnpj",
            "schema": {
              "type": "string"
            }
          },
          {
            "in": "query",
            "name": "codTipoParceiro",
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "in": "query",
            "name": "codServico",
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "in": "query",
            "name": "codRegiao",
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "in": "query",
            "name": "bairro",
            "schema": {
              "type": "string"
            }
          },
          {
            "in": "query",
            "name": "cidade",
            "schema": {
              "type": "string"
            }
          },
          {
            "in": "query",
            "name": "uf",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PesquisaParceiroOutputTO"
                }
              }
            },
            "description": "Lista de parceiros"
          },
          "401": {
            "content": {
              "text/plain": {}
            },
            "description": "N\u00e3o autorizado"
          }
        },
        "security": [
          {
            "bearer": []
          }
        ],
        "summary": "Listar Parceiros",
        "tags": [
          "Rede Credenciada"
        ]
      }
    },
    "/ext/rede/parceiro/servico": {
      "get": {
        "description": "Retorna a lista servi\u00e7os de parceiro.",
        "operationId": "listarServicoParceiro",
        "parameters": [
          {
            "in": "query",
            "name": "nome",
            "schema": {
              "type": "string"
            }
          },
          {
            "in": "query",
            "name": "cidade",
            "schema": {
              "type": "string"
            }
          },
          {
            "in": "query",
            "name": "uf",
            "schema": {
              "type": "string"
            }
          },
          {
            "in": "query",
            "name": "codRegiao",
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CodigoNomeTO"
                }
              }
            },
            "description": "Lista de servi\u00e7os de parceiro"
          },
          "401": {
            "content": {
              "text/plain": {}
            },
            "description": "N\u00e3o autorizado"
          }
        },
        "security": [
          {
            "bearer": []
          }
        ],
        "summary": "Listar Servi\u00e7os de Parceiro",
        "tags": [
          "Rede Credenciada"
        ]
      }
    },
    "/ext/rede/parceiro/tipo": {
      "get": {
        "description": "Retorna a lista tipos de parceiro.",
        "operationId": "listarTipoParceiro",
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CodigoNomeTO"
                }
              }
            },
            "description": "Lista de tipos de parceiro"
          },
          "401": {
            "content": {
              "text/plain": {}
            },
            "description": "N\u00e3o autorizado"
          }
        },
        "security": [
          {
            "bearer": []
          }
        ],
        "summary": "Listar Tipos de Parceiro",
        "tags": [
          "Rede Credenciada"
        ]
      }
    },
    "/ext/rede/regiao": {
      "get": {
        "description": "Retorna a lista de regi\u00f5es de atendimento dispon\u00edveis.",
        "operationId": "listarRegiao",
        "parameters": [
          {
            "description": "C\u00f3digos de especialidade separados por v\u00edrgula.",
            "in": "query",
            "name": "codEspecialidade",
            "schema": {
              "type": "string",
              "pattern": "^\\d+(,\\d+)*$"
            }
          },
          {
            "in": "query",
            "name": "comClinica",
            "schema": {
              "type": "boolean"
            }
          },
          {
            "in": "query",
            "name": "comMedico",
            "schema": {
              "type": "boolean"
            }
          },
          {
            "in": "query",
            "name": "comParceiro",
            "schema": {
              "type": "boolean"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CodigoNomeTO"
                }
              }
            },
            "description": "Lista de regi\u00f5es"
          },
          "401": {
            "content": {
              "text/plain": {}
            },
            "description": "N\u00e3o autorizado"
          }
        },
        "security": [
          {
            "bearer": []
          }
        ],
        "summary": "Listar Regi\u00f5es de Atendimento",
        "tags": [
          "Rede Credenciada"
        ]
      }
    },
    "/ext/relatorio/adesao": {
      "get": {
        "description": "Lista todos os relat\u00f3rios de ades\u00e3o dispon\u00edveis ao usu\u00e1rio.",
        "operationId": "listarAdesao",
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RelPersonTO"
                }
              }
            },
            "description": "Dados do relat\u00f3rio"
          },
          "401": {
            "content": {
              "text/plain": {}
            },
            "description": "N\u00e3o autorizado"
          }
        },
        "security": [
          {
            "bearer": []
          }
        ],
        "summary": "Listar Relat\u00f3rios de Ades\u00e3o",
        "tags": [
          "Relat\u00f3rio"
        ]
      },
      "options": {
        "description": "Retorna os par\u00e2metros dispon\u00edveis para a gera\u00e7\u00e3o do relat\u00f3rio de ades\u00e3o.",
        "operationId": "recuperarParametrosAdesao",
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RelPersonAdesaoParamTO"
                }
              }
            },
            "description": "Par\u00e2metros do relat\u00f3rio"
          },
          "401": {
            "content": {
              "text/plain": {}
            },
            "description": "N\u00e3o autorizado"
          }
        },
        "security": [
          {
            "bearer": []
          }
        ],
        "summary": "Recuperar Par\u00e2metros de Ades\u00e3o",
        "tags": [
          "Relat\u00f3rio"
        ]
      },
      "post": {
        "description": "Solicita a gera\u00e7\u00e3o de um relat\u00f3rio de ades\u00e3o conforme leiaute e filtros especificados.",
        "operationId": "gerarAdesao",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/RelPersonAdesaoInputTO"
              }
            }
          }
        },
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RelPersonTO"
                }
              }
            },
            "description": "Par\u00e2metros do relat\u00f3rio"
          },
          "401": {
            "content": {
              "text/plain": {}
            },
            "description": "N\u00e3o autorizado"
          }
        },
        "security": [
          {
            "bearer": []
          }
        ],
        "summary": "Gerar Relat\u00f3rio de Ades\u00e3o",
        "tags": [
          "Relat\u00f3rio"
        ]
      }
    },
    "/ext/relatorio/adesao/{codRelatorio}": {
      "get": {
        "description": "Faz o download do relat\u00f3rio gerado.",
        "operationId": "baixarAdesao",
        "parameters": [
          {
            "in": "path",
            "name": "codRelatorio",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Arquivo do relat\u00f3rio"
          },
          "401": {
            "content": {
              "text/plain": {}
            },
            "description": "N\u00e3o autorizado"
          }
        },
        "security": [
          {
            "bearer": []
          }
        ],
        "summary": "Baixar Relat\u00f3rio de Ades\u00e3o",
        "tags": [
          "Relat\u00f3rio"
        ]
      },
      "options": {
        "description": "Recupera os metadados do relat\u00f3rio. Use para ver o status da gera\u00e7\u00e3o.",
        "operationId": "recuperarAdesao",
        "parameters": [
          {
            "in": "path",
            "name": "codRelatorio",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RelPersonTO"
                }
              }
            },
            "description": "Dados do relat\u00f3rio"
          },
          "204": {
            "content": {
              "text/plain": {}
            },
            "description": "N\u00e3o encontrado"
          },
          "401": {
            "content": {
              "text/plain": {}
            },
            "description": "N\u00e3o autorizado"
          }
        },
        "security": [
          {
            "bearer": []
          }
        ],
        "summary": "Recuperar Relat\u00f3rio de Ades\u00e3o",
        "tags": [
          "Relat\u00f3rio"
        ]
      }
    },
    "/ext/relatorio/consulta": {
      "get": {
        "description": "Lista todos os relat\u00f3rios de Consulta dispon\u00edveis ao usu\u00e1rio.",
        "operationId": "listarConsulta",
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RelPersonTO"
                }
              }
            },
            "description": "Dados do relat\u00f3rio"
          },
          "401": {
            "content": {
              "text/plain": {}
            },
            "description": "N\u00e3o autorizado"
          }
        },
        "security": [
          {
            "bearer": []
          }
        ],
        "summary": "Listar Relat\u00f3rios de Consulta M\u00e9dica",
        "tags": [
          "Relat\u00f3rio"
        ]
      },
      "options": {
        "description": "Retorna os par\u00e2metros dispon\u00edveis para a gera\u00e7\u00e3o do relat\u00f3rio de Consulta.",
        "operationId": "recuperarParametrosConsulta",
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RelPersonConsultaParamTO"
                }
              }
            },
            "description": "Par\u00e2metros do relat\u00f3rio"
          },
          "401": {
            "content": {
              "text/plain": {}
            },
            "description": "N\u00e3o autorizado"
          }
        },
        "security": [
          {
            "bearer": []
          }
        ],
        "summary": "Recuperar Par\u00e2metros de Consulta M\u00e9dica",
        "tags": [
          "Relat\u00f3rio"
        ]
      },
      "post": {
        "description": "Solicita a gera\u00e7\u00e3o de um relat\u00f3rio de Consulta conforme leiaute e filtros especificados.",
        "operationId": "gerarConsulta",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/RelPersonConsultaInputTO"
              }
            }
          }
        },
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RelPersonTO"
                }
              }
            },
            "description": "Par\u00e2metros do relat\u00f3rio"
          },
[...]
