{
  "openapi": "3.0.3",
  "info": {
    "title": "Umami API",
    "version": "1.0.0",
    "description": "Umami is an open-source, privacy-focused web analytics platform. This API provides endpoints for authentication, website management, session tracking, event tracking, and retrieving analytics statistics.",
    "x-jentic-source-url": "https://docs.umami.is/docs/api",
    "contact": {
      "name": "API Support"
    }
  },
  "servers": [
    {
      "url": "https://api.umami.is",
      "description": "Umami Cloud"
    },
    {
      "url": "http://localhost:3000",
      "description": "Self-hosted"
    }
  ],
  "tags": [
    {
      "name": "Authentication",
      "description": "User authentication"
    },
    {
      "name": "Websites",
      "description": "Website management"
    },
    {
      "name": "Statistics",
      "description": "Analytics data retrieval"
    },
    {
      "name": "Events",
      "description": "Event tracking and data"
    },
    {
      "name": "Sessions",
      "description": "Session data"
    },
    {
      "name": "Collect",
      "description": "Data collection"
    }
  ],
  "paths": {
    "/api/auth/login": {
      "post": {
        "operationId": "login",
        "summary": "Login",
        "description": "Authenticate a user and receive a JWT token.",
        "tags": [
          "Authentication"
        ],
        "security": [],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/LoginRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Login successful",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/LoginResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Invalid credentials",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/api/auth/verify": {
      "get": {
        "operationId": "verifyToken",
        "summary": "Verify authentication token",
        "tags": [
          "Authentication"
        ],
        "responses": {
          "200": {
            "description": "Token is valid",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/UserResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Invalid or expired token",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "description": "Verify authentication token"
      }
    },
    "/api/websites": {
      "get": {
        "operationId": "listWebsites",
        "summary": "List websites",
        "description": "Get all websites the authenticated user has access to.",
        "tags": [
          "Websites"
        ],
        "parameters": [
          {
            "name": "include_all",
            "in": "query",
            "required": false,
            "schema": {
              "type": "boolean"
            }
          },
          {
            "name": "page",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "default": 1
            }
          },
          {
            "name": "pageSize",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "default": 10
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Website list",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/WebsiteListResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      },
      "post": {
        "operationId": "createWebsite",
        "summary": "Create a website",
        "tags": [
          "Websites"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateWebsiteRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Website created",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Website"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "description": "Create a website"
      }
    },
    "/api/websites/{websiteId}": {
      "get": {
        "operationId": "getWebsite",
        "summary": "Get website details",
        "tags": [
          "Websites"
        ],
        "parameters": [
          {
            "name": "websiteId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Website details",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Website"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "404": {
            "description": "Website not found"
          }
        },
        "description": "Get website details"
      },
      "post": {
        "operationId": "updateWebsite",
        "summary": "Update website",
        "tags": [
          "Websites"
        ],
        "parameters": [
          {
            "name": "websiteId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateWebsiteRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Website updated",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Website"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "description": "Update website"
      },
      "delete": {
        "operationId": "deleteWebsite",
        "summary": "Delete website",
        "tags": [
          "Websites"
        ],
        "parameters": [
          {
            "name": "websiteId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Website deleted"
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "description": "Delete website"
      }
    },
    "/api/websites/{websiteId}/reset": {
      "post": {
        "operationId": "resetWebsite",
        "summary": "Reset website data",
        "tags": [
          "Websites"
        ],
        "parameters": [
          {
            "name": "websiteId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Website data reset"
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "description": "Reset website data"
      }
    },
    "/api/websites/{websiteId}/stats": {
      "get": {
        "operationId": "getWebsiteStats",
        "summary": "Get website statistics",
        "description": "Get summarized website stats (pageviews, visitors, bounces, total time).",
        "tags": [
          "Statistics"
        ],
        "parameters": [
          {
            "name": "websiteId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "startAt",
            "in": "query",
            "required": true,
            "description": "Start timestamp in ms",
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "endAt",
            "in": "query",
            "required": true,
            "description": "End timestamp in ms",
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "url",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "referrer",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "title",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "os",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "browser",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "device",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "country",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "region",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "city",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Website stats",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/WebsiteStats"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/api/websites/{websiteId}/pageviews": {
      "get": {
        "operationId": "getPageviews",
        "summary": "Get pageview data",
        "tags": [
          "Statistics"
        ],
        "parameters": [
          {
            "name": "websiteId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "startAt",
            "in": "query",
            "required": true,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "endAt",
            "in": "query",
            "required": true,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "unit",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string",
              "enum": [
                "year",
                "month",
                "day",
                "hour"
              ]
            }
          },
          {
            "name": "timezone",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "url",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "referrer",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Pageview data",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PageviewsResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "description": "Get pageview data"
      }
    },
    "/api/websites/{websiteId}/metrics": {
      "get": {
        "operationId": "getMetrics",
        "summary": "Get metrics",
        "description": "Get metrics for a specific dimension (url, referrer, browser, os, device, country, event).",
        "tags": [
          "Statistics"
        ],
        "parameters": [
          {
            "name": "websiteId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "startAt",
            "in": "query",
            "required": true,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "endAt",
            "in": "query",
            "required": true,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "type",
            "in": "query",
            "required": true,
            "description": "Metric type",
            "schema": {
              "type": "string",
              "enum": [
                "url",
                "referrer",
                "browser",
                "os",
                "device",
                "country",
                "event",
                "query",
                "title",
                "language",
                "screen",
                "city",
                "region"
              ]
            }
          },
          {
            "name": "url",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "referrer",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "os",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "browser",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "country",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "default": 500
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Metrics data",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/MetricItem"
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/api/websites/{websiteId}/events": {
      "get": {
        "operationId": "getEvents",
        "summary": "Get event data",
        "tags": [
          "Events"
        ],
        "parameters": [
          {
            "name": "websiteId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "startAt",
            "in": "query",
            "required": true,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "endAt",
            "in": "query",
            "required": true,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "unit",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string",
              "enum": [
                "year",
                "month",
                "day",
                "hour"
              ]
            }
          },
          {
            "name": "timezone",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Event data",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/EventsResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "description": "Get event data"
      }
    },
    "/api/websites/{websiteId}/active": {
      "get": {
        "operationId": "getActiveVisitors",
        "summary": "Get active visitors",
        "description": "Get the number of currently active visitors.",
        "tags": [
          "Statistics"
        ],
        "parameters": [
          {
            "name": "websiteId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Active visitor count",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "x": {
                      "type": "integer"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/api/send": {
      "post": {
        "operationId": "sendData",
        "summary": "Send tracking data",
        "description": "Send pageview or event data to Umami for collection.",
        "tags": [
          "Collect"
        ],
        "security": [],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/SendDataRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Data collected"
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/api/websites/{websiteId}/sessions": {
      "get": {
        "operationId": "getSessions",
        "summary": "Get session data",
        "tags": [
          "Sessions"
        ],
        "parameters": [
          {
            "name": "websiteId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "startAt",
            "in": "query",
            "required": true,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "endAt",
            "in": "query",
            "required": true,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "page",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "default": 1
            }
          },
          {
            "name": "pageSize",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "default": 10
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Sessions",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SessionListResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "description": "Get session data"
      }
    },
    "/api/websites/{websiteId}/sessions/{sessionId}": {
      "get": {
        "operationId": "getSessionDetails",
        "summary": "Get session details",
        "tags": [
          "Sessions"
        ],
        "parameters": [
          {
            "name": "websiteId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "sessionId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Session details",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Session"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "description": "Get session details"
      }
    }
  },
  "components": {
    "schemas": {
      "LoginRequest": {
        "type": "object",
        "required": [
          "username",
          "password"
        ],
        "properties": {
          "username": {
            "type": "string"
          },
          "password": {
            "type": "string"
          }
        }
      },
      "LoginResponse": {
        "type": "object",
        "properties": {
          "token": {
            "type": "string"
          },
          "user": {
            "$ref": "#/components/schemas/UserResponse"
          }
        }
      },
      "UserResponse": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string"
          },
          "username": {
            "type": "string"
          },
          "role": {
            "type": "string"
          },
          "createdAt": {
            "type": "string",
            "format": "date-time"
          }
        }
      },
      "Website": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string"
          },
          "name": {
            "type": "string"
          },
          "domain": {
            "type": "string"
          },
          "shareId": {
            "type": "string"
          },
          "createdAt": {
            "type": "string",
            "format": "date-time"
          }
        }
      },
      "CreateWebsiteRequest": {
        "type": "object",
        "required": [
          "name",
          "domain"
        ],
        "properties": {
          "name": {
            "type": "string"
          },
          "domain": {
            "type": "string"
          },
          "shareId": {
            "type": "string"
          }
        }
      },
      "WebsiteListResponse": {
        "type": "object",
        "properties": {
          "data": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Website"
            }
          },
          "count": {
            "type": "integer"
          },
          "page": {
            "type": "integer"
          },
          "pageSize": {
            "type": "integer"
          }
        }
      },
      "WebsiteStats": {
        "type": "object",
        "properties": {
          "pageviews": {
            "type": "object",
            "properties": {
              "value": {
                "type": "integer"
              },
              "prev": {
                "type": "integer"
              }
            }
          },
          "visitors": {
            "type": "object",
            "properties": {
              "value": {
                "type": "integer"
              },
              "prev": {
                "type": "integer"
              }
            }
          },
          "visits": {
            "type": "object",
            "properties": {
              "value": {
                "type": "integer"
              },
              "prev": {
                "type": "integer"
              }
            }
          },
          "bounces": {
            "type": "object",
            "properties": {
              "value": {
                "type": "integer"
              },
              "prev": {
                "type": "integer"
              }
            }
          },
          "totaltime": {
            "type": "object",
            "properties": {
              "value": {
                "type": "integer"
              },
              "prev": {
                "type": "integer"
              }
            }
          }
        }
      },
      "PageviewsResponse": {
        "type": "object",
        "properties": {
          "pageviews": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "t": {
                  "type": "string"
                },
                "y": {
                  "type": "integer"
                }
              }
            }
          },
          "sessions": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "t": {
                  "type": "string"
                },
                "y": {
                  "type": "integer"
                }
              }
            }
          }
        }
      },
      "MetricItem": {
        "type": "object",
        "properties": {
          "x": {
            "type": "string"
          },
          "y": {
            "type": "integer"
          }
        }
      },
      "EventsResponse": {
        "type": "object",
        "properties": {
          "events": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "x": {
                  "type": "string"
                },
                "t": {
                  "type": "string"
                },
                "y": {
                  "type": "integer"
                }
              }
            }
          }
        }
      },
      "SendDataRequest": {
        "type": "object",
        "required": [
          "payload"
        ],
        "properties": {
          "type": {
            "type": "string",
            "enum": [
              "event"
            ]
          },
          "payload": {
            "type": "object",
            "required": [
              "website",
              "hostname",
              "url"
            ],
            "properties": {
              "website": {
                "type": "string"
              },
              "hostname": {
                "type": "string"
              },
              "url": {
                "type": "string"
              },
              "referrer": {
                "type": "string"
              },
              "title": {
                "type": "string"
              },
              "language": {
                "type": "string"
              },
              "screen": {
                "type": "string"
              },
              "name": {
                "type": "string"
              },
              "data": {
                "type": "object",
                "additionalProperties": true
              }
            }
          }
        }
      },
      "Session": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string"
          },
          "websiteId": {
            "type": "string"
          },
          "hostname": {
            "type": "string"
          },
          "browser": {
            "type": "string"
          },
          "os": {
            "type": "string"
          },
          "device": {
            "type": "string"
          },
          "screen": {
            "type": "string"
          },
          "language": {
            "type": "string"
          },
          "country": {
            "type": "string"
          },
          "city": {
            "type": "string"
          },
          "createdAt": {
            "type": "string",
            "format": "date-time"
          }
        }
      },
      "SessionListResponse": {
        "type": "object",
        "properties": {
          "data": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Session"
            }
          },
          "count": {
            "type": "integer"
          },
          "page": {
            "type": "integer"
          },
          "pageSize": {
            "type": "integer"
          }
        }
      },
      "ErrorResponse": {
        "type": "object",
        "properties": {
          "message": {
            "type": "string"
          },
          "error": {
            "type": "string"
          }
        }
      }
    },
    "securitySchemes": {
      "BearerAuth": {
        "type": "http",
        "scheme": "bearer",
        "bearerFormat": "JWT",
        "description": "JWT token obtained from /api/auth/login"
      }
    }
  },
  "security": [
    {
      "BearerAuth": []
    }
  ]
}
