{
  "openapi": "3.0.3",
  "servers": [
    {
      "url": "https://api.hivemq.cloud"
    }
  ],
  "info": {
    "title": "HiveMQ Cloud Public REST API",
    "x-logo": {
      "url": "https://www.hivemq.com/img/svg/hivemq-bee.svg"
    },
    "description": "\n# Introduction\n\nHiveMQ Cloud offers REST APIs designed to seamlessly extend your MQTT workflows programmatically.\nThese APIs enable users to perform a variety of actions related to client credential management and access control.\n\nHiveMQ Cloud REST API provides endpoints for the following use cases:\n- Listing all MQTT Credentials\n- Listing all roles and permissions\n- Assign and un-assign permissions to roles\n- Assign and un-assign user to roles\n- Listing all MQTT Clients\n- Getting detailed information about a specific MQTT client\n- Listing all subscriptions for a specific MQTT client\n- Getting the connection status for a specific MQTT client\n",
    "contact": {
      "email": "support@hivemq.com"
    },
    "version": "1.0.0",
    "x-jentic-source-url": "https://raw.githubusercontent.com/hivemq-cloud/public-cloud-openapi-ui/main/openapi-contracts/public-saas-openapi.yml"
  },
  "externalDocs": {
    "description": "HiveMQ Cloud documentation",
    "url": "https://docs.hivemq.com/hivemq-cloud/introduction"
  },
  "tags": [
    {
      "name": "Metrics"
    },
    {
      "name": "MQTT Credentials",
      "description": "Manage MQTT credentials",
      "externalDocs": {
        "description": "Find out more",
        "url": "http://hivemq.com"
      }
    },
    {
      "name": "MQTT Permissions",
      "description": "Manage MQTT permissions",
      "externalDocs": {
        "description": "Find out more",
        "url": "http://hivemq.com"
      }
    },
    {
      "name": "MQTT Roles",
      "description": "Manage MQTT Roles",
      "externalDocs": {
        "description": "Find out more",
        "url": "http://hivemq.com"
      }
    },
    {
      "name": "User - Roles",
      "description": "User - Roles Management",
      "externalDocs": {
        "description": "Find out more",
        "url": "http://hivemq.com"
      }
    },
    {
      "name": "Clients Authentication",
      "description": "clients authentication",
      "externalDocs": {
        "description": "Find out more",
        "url": "http://hivemq.com"
      }
    },
    {
      "name": "Cluster Configuration",
      "description": "Cluster Configuration"
    },
    {
      "name": "MQTT Clients"
    }
  ],
  "paths": {
    "/api/v2/orgs/{orgId}/clusters/{clusterId}/a/mqtt/clients/search": {
      "get": {
        "description": "Searches clients based on query parameters. Filters are grouped by type: boolean, string, and number.\n\nAvailable columns:\n- ID (string, primary key): The MQTT client identifier.\n- CONNECTED (boolean): Whether the client is currently connected.\n- CONNECTED_NODE (string): The node the client is connected to.\n- IP_ADDRESS (string): The IP address of the client.\n- USER_NAME (string): The username the client uses.\n- MAX_QUEUE_SIZE (number): The maximum queue size for the client.\n- CURRENT_QUEUE_SIZE (number): The current queue size for the client.\n- TIMESTAMP (number): The timestamp of the last session update.\n\nFilter types:\n- Boolean filters: `type:value` (for example, CONNECTED:true)\n- String filters: `type:operation:value` (for example, ID:EQ:client1, USER_NAME:NOT_EQ:admin)\n- Number filters: `type:operation:value` (for example, MAX_QUEUE_SIZE:GT:100, TIMESTAMP:LTE:1700000000)\n\nSupported operations for string filters: EQ (equal to), NOT_EQ (not equal to), CONTAINS (contains), STARTS_WITH (starts with), ENDS_WITH (ends with), REGEX (regular expression).\nSupported operations for number filters: EQ (equal to), NOT_EQ (not equal to), GT (greater than), GTE (greater than or equal to), LT (less than), LTE (less than or equal to).\n\n\nExamples:\n- Single boolean filter: CONNECTED:true\n- Single string filter: ID:EQ:client1\n- Single number filter: MAX_QUEUE_SIZE:GT:100\n- Multiple filters: ID:EQ:client1, CONNECTED:true, IP_ADDRESS:NOT_EQ:127.0.0.1, MAX_QUEUE_SIZE:LTE:500\n\nExample search query URLs:\n- /api/v2/orgs/{orgId}/clusters/{clusterId}/a/mqtt/clients/search?boolean-filter=CONNECTED:true\n- /api/v2/orgs/{orgId}/clusters/{clusterId}/a/mqtt/clients/search?string-filter=ID:EQ:client1\n- /api/v2/orgs/{orgId}/clusters/{clusterId}/a/mqtt/clients/search?number-filter=MAX_QUEUE_SIZE:GT:100\n- /api/v2/orgs/{orgId}/clusters/{clusterId}/a/mqtt/clients/search?string-filter=ID:EQ:client1&boolean-filter=CONNECTED:true&string-filter=IP_ADDRESS:NOT_EQ:127.0.0.1&number-filter=MAX_QUEUE_SIZE:LTE:500\n\nThis endpoint requires at least HiveMQ version 4.42.0. on all cluster nodes.\n",
        "operationId": "searchMqttClientsGet",
        "parameters": [
          {
            "$ref": "#/components/parameters/orgId"
          },
          {
            "$ref": "#/components/parameters/clusterId"
          },
          {
            "description": "List of boolean search filters for client search query.",
            "in": "query",
            "name": "boolean-filter",
            "schema": {
              "type": "array",
              "items": {
                "type": "string"
              }
            }
          },
          {
            "description": "List of string search filters for client search query.",
            "in": "query",
            "name": "string-filter",
            "schema": {
              "type": "array",
              "items": {
                "type": "string"
              }
            }
          },
          {
            "description": "List of number search filters for client search query.",
            "in": "query",
            "name": "number-filter",
            "schema": {
              "type": "array",
              "items": {
                "type": "string"
              }
            }
          },
          {
            "description": "Specifies the page size for the returned results. The value must be between 50 and 2500. The default page size is 500.",
            "in": "query",
            "name": "limit",
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "description": "The cursor that has been returned by the previous result page. Do not pass this parameter if you want to fetch the first page.",
            "in": "query",
            "name": "cursor",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "clusterId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "orgId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "examples": {
                  "empty-results": {
                    "description": "Empty result if no clients match the search criteria.",
                    "summary": "Empty search results",
                    "value": {
                      "items": [],
                      "_links": {
                        "next": null
                      }
                    }
                  },
                  "multiple-results-last-page": {
                    "description": "Example response with multiple search results. No more pages left.",
                    "summary": "Multiple search results, last page",
                    "value": {
                      "items": [
                        {
                          "id": "client-1",
                          "connected": true,
                          "connectedNode": "node-1",
                          "timestamp": 1609459200000,
                          "username": "user1",
                          "ipAddress": "192.168.1.100",
                          "currentQueueSize": 5,
                          "maximumQueueSize": 1000
                        },
                        {
                          "id": "client-2",
                          "connected": false,
                          "connectedNode": "node-2",
                          "timestamp": 1609459800000,
                          "username": "user2",
                          "ipAddress": "192.168.1.101",
                          "currentQueueSize": 0,
                          "maximumQueueSize": 500
                        }
                      ],
                      "_links": {
                        "next": null
                      }
                    }
                  },
                  "multiple-results-pages-left": {
                    "description": "Example response with multiple search results. More pages left.",
                    "summary": "Multiple search results, more pages left",
                    "value": {
                      "items": [
                        {
                          "id": "client-1",
                          "connected": true,
                          "connectedNode": "node-1",
                          "timestamp": 1609459200000,
                          "username": "user1",
                          "ipAddress": "192.168.1.100",
                          "currentQueueSize": 5,
                          "maximumQueueSize": 1000
                        },
                        {
                          "id": "client-2",
                          "connected": true,
                          "connectedNode": "node-2",
                          "timestamp": 1609459800000,
                          "username": "user2",
                          "ipAddress": "192.168.1.101",
                          "currentQueueSize": 0,
                          "maximumQueueSize": 500
                        }
                      ],
                      "_links": {
                        "next": {
                          "href": "/api/v1/mqtt/clients/search?cursor=eyJwYWdlIjoyLCJsaW1pdCI6MjV9&pageSize=25&booleanFilter=CONNECTED:true&stringFilter=CLIENT_ID:CONTAINS:client&numberFilter=MESSAGE_QUEUE_SIZE:LTE:100"
                        }
                      }
                    }
                  },
                  "single-result": {
                    "description": "Example response with one search result.",
                    "summary": "Single search result",
                    "value": {
                      "items": [
                        {
                          "id": "client-1",
                          "connected": true,
                          "connectedNode": "node-1",
                          "timestamp": 1609459200000,
                          "username": "user1",
                          "ipAddress": "192.168.1.100",
                          "currentQueueSize": 5,
                          "maximumQueueSize": 1000
                        }
                      ],
                      "_links": {
                        "next": null
                      }
                    }
                  }
                },
                "schema": {
                  "$ref": "#/components/schemas/ClientSearchList"
                }
              }
            },
            "description": "Success"
          },
          "400": {
            "content": {
              "application/json": {
                "examples": {
                  "invalid parameter": {
                    "description": "Bad request",
                    "summary": "Invalid search parameter",
                    "value": {
                      "errors": [
                        {
                          "title": "Invalid search request parameters",
                          "detail": "Invalid string filter format: ID:test. Expected format: 'type:operation:value'."
                        }
                      ]
                    }
                  },
                  "param-missing": {
                    "description": "Bad request",
                    "summary": "Required URL parameter missing",
                    "value": {
                      "errors": [
                        {
                          "title": "Required parameter missing",
                          "detail": "Required URL parameter 'parameterName' is missing"
                        }
                      ]
                    }
                  }
                },
                "schema": {
                  "$ref": "#/components/schemas/Errors"
                }
              }
            },
            "description": "Bad request"
          },
          "410": {
            "content": {
              "application/json": {
                "examples": {
                  "cursor-invalid": {
                    "description": "Cursor not valid anymore",
                    "summary": "The passed cursor is not valid anymore",
                    "value": {
                      "errors": [
                        {
                          "title": "Cursor not valid anymore",
                          "detail": "The passed cursor is not valid anymore, you can request this resource without a cursor to start from the beginning"
                        }
                      ]
                    }
                  }
                },
                "schema": {
                  "$ref": "#/components/schemas/Errors"
                }
              }
            },
            "description": "Cursor not valid anymore"
          },
          "503": {
            "content": {
              "application/json": {
                "examples": {
                  "version-check-failed": {
                    "description": "Version check failed",
                    "summary": "Version check failed",
                    "value": {
                      "errors": [
                        {
                          "title": "Endpoint not active yet",
                          "detail": "Not all cluster nodes support this endpoint yet, please try again later"
                        }
                      ]
                    }
                  }
                },
                "schema": {
                  "$ref": "#/components/schemas/Errors"
                }
              }
            },
            "description": "Not all cluster nodes at minimum version"
          }
        },
        "summary": "Search and filter clients via GET parameters",
        "tags": [
          "MQTT Clients"
        ]
      }
    },
    "/api/v2/orgs/{orgId}/clusters/{clusterId}/metrics": {
      "get": {
        "tags": [
          "Metrics"
        ],
        "summary": "Get Broker Metrics",
        "operationId": "brokerOtelMetrics",
        "description": "This API allows you to access various performance and operational metrics for the MQTT broker. These metrics help you monitor the health and activity of your HiveMQ Cloud broker, providing insights into client connections, message delivery, and overall system performance.",
        "parameters": [
          {
            "$ref": "#/components/parameters/orgId"
          },
          {
            "$ref": "#/components/parameters/clusterId"
          },
          {
            "name": "clusterId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "orgId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "The response contains a variety of metrics categorized into key areas such as client connections, message delivery, and subscriptions. Each metric offers insights into specific aspects of the broker's operation to help you effectively monitor, manage, and optimize your IoT infrastructure.",
            "content": {
              "text/plain": {
                "schema": {
                  "type": "string"
                },
                "example": "The following example shows the type of metric data the API returns. Each metric includes a brief description, the metric type, and the current value.\n- Client Connections Metrics:\n  hivemq_cloud_keep_alive_disconnect_count:\n    Description: The number of connections closed because the client missed sending a keep-alive message during the keep-alive interval.\n    Type: Gauge\n    Value: 0\n- Message Delivery Metrics:\n  hivemq_cloud_messages_incoming_connect_count:\n    Description: The total number of incoming MQTT CONNECT messages received.\n    Type: Gauge\n    Value: 48,963\n  hivemq_cloud_messages_dropped_queue_full_count:\n    Description: The number of messages dropped because the queue of a disconnected client with a persistent session was full.\n    Type: Gauge\n    Value: 0\n- Subscription Metrics:\n  hivemq_cloud_subscriptions_overall_current:\n    Description: The current number of subscriptions on the broker.\n    Type: Gauge\n    Value: 0\n"
              }
            }
          }
        }
      }
    },
    "/api/v2/orgs/{orgId}/clusters/{clusterId}/mqtt/credentials": {
      "get": {
        "tags": [
          "MQTT Credentials"
        ],
        "summary": "List all MQTT credentials",
        "description": "Lists all MQTT credentials for the specified cluster.\n\nThis endpoint uses cursor-based pagination.\nThe results are not sorted in any way, no ordering of any kind is guaranteed.",
        "operationId": "listMqttCredentials",
        "parameters": [
          {
            "$ref": "#/components/parameters/orgId"
          },
          {
            "$ref": "#/components/parameters/clusterId"
          },
          {
            "description": "Specifies the page size for the returned results. The value must be between 50 and 2500. The default page size is 500.",
            "in": "query",
            "name": "limit",
            "schema": {
              "type": "integer",
              "format": "int32",
              "minimum": 50,
              "maximum": 2500
            }
          },
          {
            "description": "The cursor that has been returned by the previous result page. Do not pass this parameter if you want to fetch the first page.",
            "in": "query",
            "name": "cursor",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "clusterId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "orgId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CredentialsList"
                }
              }
            },
            "description": "Success"
          },
          "400": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Errors"
                }
              }
            },
            "description": "Bad request"
          },
          "410": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Errors"
                }
              }
            },
            "description": "Cursor not valid anymore"
          },
          "404": {
            "description": "Organization or cluster not found"
          }
        }
      },
      "post": {
        "tags": [
          "MQTT Credentials"
        ],
        "summary": "Creates new credentials",
        "operationId": "createMqttCredentials",
        "parameters": [
          {
            "$ref": "#/components/parameters/orgId"
          },
          {
            "$ref": "#/components/parameters/clusterId"
          },
          {
            "name": "clusterId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "orgId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UpsertCredentialsRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "successful operation",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CredentialsResponse"
                }
              }
            }
          },
          "400": {
            "description": "Missing parameter or otherwise incorrect request"
          },
          "404": {
            "description": "Account, cluster, org, etc. does not exist"
          }
        },
        "description": "Creates new credentials"
      }
    },
    "/api/v2/orgs/{orgId}/clusters/{clusterId}/mqtt/credentials/username/{username}": {
      "get": {
        "tags": [
          "MQTT Credentials"
        ],
        "summary": "Get MQTT credentials by username",
        "operationId": "getMqttCredentials",
        "parameters": [
          {
            "$ref": "#/components/parameters/orgId"
          },
          {
            "$ref": "#/components/parameters/clusterId"
          },
          {
            "name": "username",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "minLength": 1
            }
          },
          {
            "name": "clusterId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "orgId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CredentialsListResponse"
                }
              }
            }
          },
          "400": {
            "description": "Missing parameter or otherwise incorrect request"
          },
          "404": {
            "description": "Either Org, clusterId or username do not exist"
          }
        },
        "description": "Get MQTT credentials by username"
      },
      "delete": {
        "tags": [
          "MQTT Credentials"
        ],
        "summary": "Delete credentials",
        "operationId": "deleteMqttCredentials",
        "parameters": [
          {
            "$ref": "#/components/parameters/orgId"
          },
          {
            "$ref": "#/components/parameters/clusterId"
          },
          {
            "name": "username",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "clusterId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "orgId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successfully deleted"
          },
          "400": {
            "description": "Missing parameter or otherwise incorrect request"
          },
          "404": {
            "description": "Account, cluster, org, etc. does not exist"
          }
        },
        "description": "Delete credentials"
      }
    },
    "/api/v2/orgs/{orgId}/clusters/{clusterId}/mqtt/permissions": {
      "get": {
        "tags": [
          "MQTT Permissions"
        ],
        "summary": "List all valid permissions for MQTT users in a selected cluster.",
        "operationId": "listMqttPermissions",
        "parameters": [
          {
            "$ref": "#/components/parameters/orgId"
          },
          {
            "$ref": "#/components/parameters/clusterId"
          },
          {
            "name": "clusterId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "orgId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "List all valid permissions for the given cluster.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/MQTTPermissionListResponse"
                }
              }
            }
          },
          "404": {
            "description": "Cluster not found. The specified cluster does not exist, or the current user does not have permission to access it."
          },
          "422": {
            "description": "Cluster is not running."
          }
        },
        "description": "List all valid permissions for MQTT users in a selected cluster."
      },
      "post": {
        "tags": [
          "MQTT Permissions"
        ],
        "summary": "Create a new permission to assign to MQTT users",
        "operationId": "createMqttPermission",
        "parameters": [
          {
            "$ref": "#/components/parameters/orgId"
          },
          {
            "$ref": "#/components/parameters/clusterId"
          },
          {
            "name": "clusterId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "orgId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UpsertSinglePermissionRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "successful operation",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/MQTTSinglePermissionResponse"
                }
              }
            }
          },
          "400": {
            "description": "Missing parameter or otherwise incorrect request"
          },
          "404": {
            "description": "Account, cluster, org, etc. does not exist"
          }
        },
        "description": "Create a new permission to assign to MQTT users"
      },
      "put": {
        "tags": [
          "MQTT Permissions"
        ],
        "summary": "Replace permissions",
        "operationId": "updateMqttPermissionList",
        "parameters": [
          {
            "$ref": "#/components/parameters/orgId"
          },
          {
            "$ref": "#/components/parameters/clusterId"
          },
          {
            "name": "clusterId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "orgId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UpsertPermissionListRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "successful operation"
          },
          "400": {
            "description": "Missing parameter or otherwise incorrect request"
          },
          "404": {
            "description": "Account, cluster, org, etc. does not exist"
          }
        },
        "description": "Replace permissions"
      }
    },
    "/api/v2/orgs/{orgId}/clusters/{clusterId}/mqtt/permissions/{id}": {
      "put": {
        "tags": [
          "MQTT Permissions"
        ],
        "summary": "Update permission",
        "operationId": "updateMqttPermission",
        "parameters": [
          {
            "$ref": "#/components/parameters/orgId"
          },
          {
            "$ref": "#/components/parameters/clusterId"
          },
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "clusterId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "orgId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UpsertSinglePermissionRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "successful operation",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/MQTTSinglePermissionResponse"
                }
              }
            }
          },
          "400": {
            "description": "Missing parameter or otherwise incorrect request"
          },
          "404": {
            "description": "Account, cluster, org, etc. does not exist"
          }
        },
        "description": "Update permission"
      },
      "delete": {
        "tags": [
          "MQTT Permissions"
        ],
        "summary": "Delete permission",
        "operationId": "deleteMqttPermission",
        "parameters": [
          {
            "$ref": "#/components/parameters/orgId"
          },
          {
            "$ref": "#/components/parameters/clusterId"
          },
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "clusterId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "orgId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successfully deleted"
          },
          "400": {
            "description": "Missing parameter or otherwise incorrect request"
          },
          "404": {
            "description": "Account, cluster, org, etc. does not exist"
          }
        },
        "description": "Delete permission"
      }
    },
    "/api/v2/orgs/{orgId}/clusters/{clusterId}/mqtt/roles": {
      "get": {
        "tags": [
          "MQTT Roles"
        ],
        "summary": "List all valid roles for MQTT users in a selected cluster.",
        "operationId": "listMqttRoles",
        "parameters": [
          {
            "$ref": "#/components/parameters/orgId"
          },
          {
            "$ref": "#/components/parameters/clusterId"
          },
          {
            "name": "clusterId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "orgId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "List all valid roles for the given cluster.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RolesListResponse"
                }
              }
            }
          },
          "404": {
            "description": "Cluster not found. The specified cluster does not exist, or the current user does not have permission to access it."
          },
          "422": {
            "description": "Cluster is not running."
          }
        },
        "description": "List all valid roles for MQTT users in a selected cluster."
      },
      "post": {
        "tags": [
          "MQTT Roles"
        ],
        "summary": "Create a new role for MQTT credentials",
        "operationId": "createMqttRoles",
        "parameters": [
          {
            "$ref": "#/components/parameters/orgId"
          },
          {
            "$ref": "#/components/parameters/clusterId"
          },
          {
            "name": "clusterId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "orgId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UpsertRoleRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "successful operation",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RoleResponse"
                }
              }
            }
          },
          "400": {
            "description": "Missing parameter or otherwise incorrect request"
          },
          "404": {
            "description": "Account, cluster, org, etc. does not exist"
          }
        },
        "description": "Create a new role for MQTT credentials"
      }
    },
    "/api/v2/orgs/{orgId}/clusters/{clusterId}/mqtt/roles/{roleId}": {
      "put": {
        "tags": [
          "MQTT Roles"
        ],
        "summary": "update a specific role",
        "operationId": "updateRole",
        "parameters": [
          {
            "$ref": "#/components/parameters/orgId"
          },
          {
            "$ref": "#/components/parameters/clusterId"
          },
          {
            "name": "roleId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "clusterId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "orgId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/PatchRoleRequest"
              }
            }
          }
        },
        "responses": {
          "204": {
            "description": "successfully updated"
          }
        },
        "description": "update a specific role"
      },
      "delete": {
        "tags": [
          "MQTT Roles"
        ],
        "summary": "Delete role",
        "operationId": "deleteMqttRole",
        "parameters": [
          {
            "$ref": "#/components/parameters/orgId"
          },
          {
            "$ref": "#/components/parameters/clusterId"
          },
          {
            "name": "roleId",
            "in": "path",
            "description": "Role ID",
            "required": true,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "clusterId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "orgId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successfully deleted"
          },
          "400": {
            "description": "Missing parameter or otherwise incorrect request"
          },
          "404": {
            "description": "Either orgId, cluster, org or roleName. does not exist"
          }
        },
        "description": "Delete role"
      }
    },
    "/api/v2/orgs/{orgId}/clusters/{clusterId}/mqtt/roles/permissions": {
      "get": {
        "tags": [
          "MQTT Roles"
        ],
        "summary": "List all valid roles for MQTT users in a selected cluster.",
        "operationId": "listMqttRolePermissions",
        "parameters": [
          {
            "$ref": "#/components/parameters/orgId"
          },
          {
            "$ref": "#/components/parameters/clusterId"
          },
          {
            "name": "clusterId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "orgId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "List role permissions for the given cluster.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RolePermissionsListResponse"
                }
              }
            }
          },
          "404": {
            "description": "Cluster not found. The specified cluster does not exist, or the current user does not have permission to access it."
          },
          "422": {
            "description": "Cluster is not running."
          }
        },
        "description": "List all valid roles for MQTT users in a selected cluster."
      }
    },
    "/api/v2/orgs/{orgId}/clusters/{clusterId}/mqtt/roles/{roleIdOrName}/permissions": {
      "get": {
        "tags": [
          "MQTT Roles"
        ],
        "summary": "List all permissions for a specific role by role ID or role name",
        "description": "Retrieves all permissions assigned to a role. The `roleIdOrName` parameter accepts either:\n- **Numeric value** (e.g., `123`): Interpreted as a role ID. The system looks up the role by its numeric identifier.\n- **Text value** (e.g., `admin`, `read-only`): Interpreted as a role name. The system looks up the role by its unique name.\n\n**Lookup behavior:**\n- If a numeric ID is provided and the role exists, permissions are returned immediately.\n- If a numeric ID is provided but the role is not found, the system attempts to find a role with that exact value as its name (edge case for numeric role names).\n- If a text name is provided, the system looks up the role by name.\n- Returns 404 if the role is not found by either ID or name.\n",
        "operationId": "listMqttPermissionsByRole",
        "parameters": [
          {
            "$ref": "#/components/parameters/orgId"
          },
          {
            "$ref": "#/components/parameters/clusterId"
          },
          {
            "name": "roleIdOrName",
            "in": "path",
            "description": "Role ID (numeric) or role name (text). Examples - numeric ID `123`, text name `admin` or `read-only`",
            "required": true,
            "schema": {
              "type": "string"
            },
            "examples": {
              "numericId": {
                "value": "123",
                "summary": "Lookup by role ID"
              },
              "textName": {
                "value": "admin",
                "summary": "Lookup by role name"
              }
            }
          },
          {
            "name": "clusterId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "orgId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successfully retrieved permissions for the specified role",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/MqttRolePermissionsByRoleResponse"
                }
              }
            }
          },
          "404": {
            "description": "Cluster not found. The specified cluster does not exist, or the current user does not have permission to access it."
          },
          "422": {
            "description": "Cluster is not running."
          }
        }
      }
    },
    "/api/v2/orgs/{orgId}/clusters/{clusterId}/mqtt/roles/{roleId}/permissions/{permissionId}/attach": {
      "put": {
        "tags": [
          "MQTT Roles"
        ],
        "summary": "Attach permission to role",
        "operationId": "attachMqttRolePermission",
        "parameters": [
          {
            "$ref": "#/components/parameters/orgId"
          },
          {
            "$ref": "#/components/parameters/clusterId"
          },
          {
            "name": "roleId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "permissionId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "clusterId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "orgId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Attached permission to role for the given cluster."
          },
          "404": {
            "description": "Cluster not found. The specified cluster does not exist, or the current user does not have permission to access it."
          },
          "422": {
            "description": "Cluster is not running."
          }
        },
        "description": "Attach permission to role"
      }
    },
    "/api/v2/orgs/{orgId}/clusters/{clusterId}/mqtt/roles/{roleId}/permissions/{permissionId}/detach": {
      "put": {
        "tags": [
          "MQTT Roles"
        ],
        "summary": "Detach permission from role",
        "operationId": "detachMqttRolePermission",
        "parameters": [
          {
            "$ref": "#/components/parameters/orgId"
          },
          {
            "$ref": "#/components/parameters/clusterId"
          },
          {
            "name": "roleId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "permissionId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "clusterId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "orgId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Detached permission from role for the given cluster."
          },
          "404": {
            "description": "Cluster not found. The specified cluster does not exist, or the current user does not have permission to access it."
          },
          "422": {
            "description": "Cluster is not running."
          }
        },
        "description": "Detach permission from role"
      }
    },
    "/api/v2/orgs/{orgId}/clusters/{clusterId}/user/{username}/roles": {
      "get": {
        "tags": [
          "User - Roles"
        ],
        "summary": "List all roles by user",
        "operationId": "listMqttCredentialRoles",
        "parameters": [
          {
            "$ref": "#/components/parameters/orgId"
          },
          {
            "$ref": "#/components/parameters/clusterId"
          },
          {
            "name": "username",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "clusterId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "orgId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "List users / roles.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/UserRolesListResponse"
                }
              }
            }
          },
          "404": {
            "description": "Cluster not found. The specified cluster does not exist, or the current user does not have permission to access it."
          },
          "422": {
            "description": "Cluster is not running."
          }
        },
        "description": "List all roles by user"
      }
    },
    "/api/v2/orgs/{orgId}/clusters/{clusterId}/user/{username}/roles/{roleId}/detach": {
      "put": {
        "tags": [
          "User - Roles"
        ],
        "summary": "detach user role",
        "operationId": "detachMqttCredentialRole",
        "parameters": [
          {
            "$ref": "#/components/parameters/orgId"
          },
          {
            "$ref": "#/components/parameters/clusterId"
          },
          {
            "name": "username",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "roleId",
            "in": "path",
            "description": "Role ID",
            "required": true,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "clusterId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "orgId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "role detached successfully."
          },
          "404": {
            "description": "Cluster not found. The specified cluster does not exist, or the current user does not have permission to access it."
          },
          "422": {
            "description": "Cluster is not running."
          }
        },
        "description": "detach user role"
      }
    },
    "/api/v2/orgs/{orgId}/clusters/{clusterId}/user/{username}/roles/{roleId}/attach": {
      "put": {
        "tags": [
          "User - Roles"
        ],
        "summary": "attach user role",
        "operationId": "attachMqttCredentialRole",
        "parameters": [
          {
            "$ref": "#/components/parameters/orgId"
          },
          {
            "$ref": "#/components/parameters/clusterId"
          },
          {
            "name": "username",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "roleId",
            "in": "path",
            "description": "Role ID",
            "required": true,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "clusterId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "orgId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "role attached successfully."
          },
          "404": {
            "description": "Cluster not found. The specified cluster does not exist, or the current user does not have permission to access it."
          },
          "422": {
            "description": "Cluster is not running."
          }
        },
        "description": "attach user role"
      }
    },
    "/api/v2/orgs/{orgId}/clusters/{clusterId}/mqtt/clients": {
      "get": {
        "description": "Lists all client sessions (online and offline) known to the whole HiveMQ cluster.\n\nThe result contains each client's client identifier. For more details about each client you can call the endpoints that have a clientId in their URL.\n\nThis endpoint uses pagination with a cursor.\nThe results are not sorted in any way, no ordering of any kind is guaranteed.\n\nThis endpoint requires at least HiveMQ version 4.4.0. on all cluster nodes.",
        "operationId": "getAllMqttClients",
        "parameters": [
          {
            "description": "Specifies the page size for the returned results. The value must be between 50 and 2500. The default page size is 500.",
            "in": "query",
            "name": "limit",
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "description": "The cursor that has been returned by the previous result page. Do not pass this parameter if you want to fetch the first page.",
            "in": "query",
            "name": "cursor",
            "schema": {
              "type": "string"
            }
          },
          {
            "$ref": "#/components/parameters/orgId"
          },
          {
            "$ref": "#/components/parameters/clusterId"
          },
          {
            "name": "clusterId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "orgId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "examples": {
                  "empty-results": {
                    "description": "Empty result if no clients are known.",
                    "summary": "Empty result if no clients are known",
                    "value": {
                      "items": []
                    }
                  },
                  "multiple-results-last-page": {
                    "description": "Example response with multiple clients. No more pages left.",
                    "summary": "Multiple results, last page",
                    "value": {
                      "items": [
                        {
                          "id": "client-12"
                        },
                        {
                          "id": "client-5"
                        },
                        {
                          "id": "client-32"
                        },
                        {
                          "id": "my-client-id2"
                        },
                        {
                          "id": "my-client-id"
                        }
                      ]
                    }
                  },
                  "multiple-results-pages-left": {
                    "description": "Example response with multiple clients. More pages left.",
                    "summary": "Multiple results, more pages left",
                    "value": {
                      "items": [
                        {
                          "id": "client-12"
                        },
                        {
                          "id": "client-5"
                        },
                        {
                          "id": "client-32"
                        },
                        {
                          "id": "my-client-id2"
                        },
                        {
                          "id": "my-client-id"
                        }
                      ],
                      "_links": {
                        "next": "/api/v1/mqtt/clients?cursor=a-MvelExpd5y0SrXBxDhBvnGmohbpzwGDQFdUyOYWBACqs1TgI4-cUo-A=&limit=5"
                      }
                    }
                  },
                  "single-result": {
                    "description": "Example response with one known client.",
                    "summary": "Single result",
                    "value": {
                      "items": [
                        {
                          "id": "client-12"
                        }
                      ]
                    }
                  }
                },
                "schema": {
                  "$ref": "#/components/schemas/ClientList"
                }
              }
            },
            "description": "Success"
          },
          "400": {
            "content": {
              "application/json": {
                "examples": {
                  "param-missing": {
                    "description": "Bad request",
                    "summary": "Required URL parameter missing",
                    "value": {
                      "errors": [
                        {
                          "title": "Required parameter missing",
                          "detail": "Required URL parameter 'parameterName' is missing"
                        }
                      ]
                    }
                  }
                },
                "schema": {
                  "$ref": "#/components/schemas/Errors"
                }
              }
            },
            "description": "Bad request"
          },
          "410": {
            "content": {
              "application/json": {
                "examples": {
                  "cursor-invalid": {
                    "description": "Cursor not valid anymore",
                    "summary": "The passed cursor is not valid anymore",
                    "value": {
                      "errors": [
                        {
                          "title": "Cursor not valid anymore",
                          "detail": "The passed cursor is not valid anymore, you can request this resource without a cursor to start from the beginning"
                        }
                      ]
                    }
                  }
                },
                "schema": {
                  "$ref": "#/components/schemas/Errors"
                }
              }
            },
            "description": "Cursor not valid anymore"
          },
          "503": {
            "content": {
              "application/json": {
                "examples": {
                  "version-check-failed": {
                    "description": "Version check failed",
                    "summary": "Version check failed",
                    "value": {
                      "errors": [
                        {
                          "title": "Endpoint not active yet",
                          "detail": "Not all cluster nodes support this endpoint yet, please try again later"
                        }
                      ]
                    }
                  }
                },
                "schema": {
                  "$ref": "#/components/schemas/Errors"
                }
              }
            },
            "description": "Not all cluster nodes at minimum version"
          }
        },
        "summary": "List all MQTT clients",
        "tags": [
          "MQTT Clients"
        ]
      }
    },
    "/api/v2/orgs/{orgId}/clusters/{clusterId}/mqtt/clients/{clientId}": {
      "delete": {
        "description": "Invalidates the client session for a client with the given client identifier. If the client is currently connected, it will be disconnected as well.\n\n If your client identifiers contain special characters, please make sure that the clientId is URL encoded (a.k.a. percent-encoding, as in RFC 3986).",
        "operationId": "invalidateClientSession",
        "parameters": [
          {
            "description": "The MQTT client identifier.",
            "in": "path",
            "name": "clientId",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "Whether to prevent the will message.",
            "in": "query",
            "name": "preventWillMessage",
            "schema": {
              "type": "boolean",
              "default": false
            }
          },
          {
            "$ref": "#/components/parameters/orgId"
          },
          {
            "$ref": "#/components/parameters/clusterId"
          },
          {
            "name": "clusterId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "orgId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "204": {
            "content": {
              "application/json": {}
            },
            "description": "Success (no content)"
          },
          "400": {
            "content": {
              "application/json": {
                "examples": {
                  "param-invalid": {
                    "description": "Bad request",
                    "summary": "Query parameter can not be parsed",
                    "value": {
                      "errors": [
                        {
                          "title": "Parameter invalid",
                          "detail": "Query parameter 'parameter-name' is invalid"
                        }
                      ]
                    }
                  }
                },
                "schema": {
                  "$ref": "#/components/schemas/Errors"
                }
              }
            },
            "description": "Bad request"
          },
          "404": {
            "content": {
              "application/json": {
                "examples": {
                  "not-found": {
                    "description": "Not found",
                    "summary": "Not found",
                    "value": {
                      "errors": [
                        {
                          "title": "Resource not found",
                          "detail": "Resource with id 'my-resource-id' not found"
                        }
                      ]
                    }
                  }
                },
                "schema": {
                  "$ref": "#/components/schemas/Errors"
                }
              }
            },
            "description": "Resource not found"
          }
        },
        "summary": "Invalidate a client session",
        "tags": [
          "MQTT Clients"
        ]
      },
      "get": {
        "description": "Returns detailed information for a specific client with it is current state.\n\n Including all session and connection information.\nIf your client identifiers contain special characters, please make sure that the clientId is URL Encoded (a.k.a. percent-encoding, as in RFC 3986).",
        "operationId": "getMqttClientDetails",
        "parameters": [
          {
            "description": "The MQTT client identifier.",
            "in": "path",
            "name": "clientId",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "$ref": "#/components/parameters/orgId"
          },
          {
            "$ref": "#/components/parameters/clusterId"
          },
          {
            "name": "clusterId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "orgId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "examples": {
                  "offline-client": {
                    "description": "Offline client",
                    "summary": "offline-client",
                    "value": {
                      "client": {
                        "id": "client-1",
                        "connected": false,
                        "sessionExpiryInterval": 12345,
                        "messageQueueSize": 543,
                        "willPresent": false
                      }
                    }
                  },
                  "online-client": {
                    "description": "Online client",
                    "summary": "online-client",
                    "value": {
                      "client": {
                        "id": "client-2",
                        "connected": true,
                        "sessionExpiryInterval": 15000,
                        "connectedAt": "2020-07-20T14:59:50.580000+00:00",
                        "messageQueueSize": 0,
                        "willPresent": false,
                        "restrictions": {
                          "maxMessageSize": 268435460,
                          "maxQueueSize": 1000,
                          "queuedMessageStrategy": "DISCARD"
                        },
                        "connection": {
                          "keepAlive": 60,
                          "mqttVersion": "MQTTv5",
                          "connectedListenerId": "TCP Listener",
                          "connectedNodeId": "bRIG4",
                          "cleanStart": true,
                          "sourceIp": "127.0.0.1"
                        }
                      }
                    }
                  },
                  "online-client-tls-proxy": {
                    "description": "Online client with TLS and Proxy Protocol enabled",
                    "summary": "online-client-tls-proxy",
                    "value": {
                      "client": {
                        "id": "client-1",
                        "connected": true,
                        "sessionExpiryInterval": 12345,
                        "connectedAt": "2020-07-17T14:47:59.704000+00:00",
                        "messageQueueSize": 543,
                        "willPresent": true,
                        "restrictions": {
                          "maxMessageSize": 20000
                        },
                        "connection": {
                          "keepAlive": 120,
                          "mqttVersion": "3.1.1",
                          "connectedListenerId": "Tcp Listener",
                          "connectedNodeId": "node1",
                          "username": "username",
                          "password": "cGFzc3dvcmQ=",
                          "cleanStart": true,
                          "sourceIp": "192.168.1.200",
                          "proxyInformation": {
                            "sourceIp": "127.0.0.2",
                            "sourcePort": 8080,
                            "destinationIp": "127.0.0.3",
                            "destinationPort": 50123,
                            "tlvs": [
                              {
                                "key": "PP2_TYPE_ALPN",
                                "value": "1"
                              },
                              {
                                "key": "PP2_TYPE_AUTHORITY",
                                "value": "2"
                              }
                            ]
                          },
                          "tlsInformation": {
                            "cipherSuite": "cipher_suite",
                            "tlsVersion": "1.2",
                            "certificateInformation": {
                              "commonName": "common-name",
                              "organization": "org",
                              "organizationalUnit": "org-unit",
                              "serial": "-3522625861374876620",
                              "validFrom": "2020-07-20T14:56:02+00:00",
                              "validUntil": "2020-07-21T14:56:12+00:00",
                              "country": "DE",
                              "state": "BY",
                              "version": "2"
                            }
                          }
                        }
                      }
                    }
                  }
                },
                "schema": {
                  "$ref": "#/components/schemas/ClientItem"
                }
              }
            },
            "description": "Success"
          },
          "400": {
            "content": {
              "application/json": {
                "examples": {
                  "param-missing": {
                    "description": "Bad request",
                    "summary": "Required URL parameter missing",
                    "value": {
                      "errors": [
                        {
                          "title": "Required parameter missing",
                          "detail": "Required URL parameter 'parameterName' is missing"
                        }
                      ]
                    }
                  }
                },
                "schema": {
                  "$ref": "#/components/schemas/Errors"
                }
              }
            },
            "description": "Bad request"
          },
          "404": {
            "content": {
              "application/json": {
                "examples": {
                  "not-found": {
                    "description": "Not found",
                    "summary": "Not found",
                    "value": {
                      "errors": [
                        {
                          "title": "Resource not found",
                          "detail": "Resource with id 'my-resource-id' not found"
                        }
                      ]
                    }
                  }
                },
                "schema": {
                  "$ref": "#/components/schemas/Errors"
                }
              }
            },
            "description": "Resource not found"
          }
        },
        "summary": "Get detailed client information",
        "tags": [
          "MQTT Clients"
        ]
      }
    },
    "/api/v2/orgs/{orgId}/clusters/{clusterId}/mqtt/clients/{clientId}/connection": {
      "delete": {
        "description": "Disconnects a specific client if its is currently connected.\n\n If your client identifiers contain special characters, please make sure that the clientId is URL Encoded (a.k.a. percent-encoding, as in RFC 3986).",
        "operationId": "disconnectClient",
        "parameters": [
          {
            "description": "The MQTT client identifier.",
            "in": "path",
            "name": "clientId",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "Whether to prevent the will message.",
            "in": "query",
            "name": "preventWillMessage",
            "schema": {
              "type": "boolean",
              "default": false
            }
          },
          {
            "$ref": "#/components/parameters/orgId"
          },
          {
            "$ref": "#/components/parameters/clusterId"
          },
          {
            "name": "clusterId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "orgId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "204": {
            "content": {
              "application/json": {}
            },
            "description": "Success (no content)"
          },
          "400": {
            "content": {
              "application/json": {
                "examples": {
                  "param-invalid": {
                    "description": "Bad request",
                    "summary": "Query parameter can not be parsed",
                    "value": {
                      "errors": [
                        {
                          "title": "Parameter invalid",
                          "detail": "Query parameter 'parameter-name' is invalid"
                        }
                      ]
                    }
                  }
                },
                "schema": {
                  "$ref": "#/components/schemas/Errors"
                }
              }
            },
            "description": "Bad request"
          },
          "404": {
            "content": {
              "application/json": {
                "examples": {
                  "not-found": {
                    "description": "Not found",
                    "summary": "Not found",
                    "value": {
                      "errors": [
                        {
                          "title": "Resource not found",
                          "detail": "Resource with id 'my-resource-id' not found"
                        }
                      ]
                    }
                  }
                },
                "schema": {
                  "$ref": "#/components/schemas/Errors"
                }
              }
            },
            "description": "Resource not found"
          }
        },
        "summary": "Disconnect a client",
        "tags": [
          "MQTT Clients"
        ]
      },
      "get": {
        "description": "Returns the information if a specific client is currently connected.\n\n If you are only interested in the connection status of a client prefer this endpoint over the the full client detail.\nIf your client identifiers contain special characters, please make sure that the clientId is URL Encoded (a.k.a. percent-encoding, as in RFC 3986).",
        "operationId": "getMqttClientConnectionState",
        "parameters": [
          {
            "description": "The MQTT client identifier.",
            "in": "path",
            "name": "clientId",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "$ref": "#/components/parameters/orgId"
          },
          {
            "$ref": "#/components/parameters/clusterId"
          },
          {
            "name": "clusterId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "orgId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "examples": {
                  "online-client": {
                    "description": "Online client",
                    "summary": "online-client",
                    "value": {
                      "connection": {
                        "connected": false
                      }
                    }
                  }
                },
                "schema": {
                  "$ref": "#/components/schemas/ConnectionItem"
                }
              }
            },
            "description": "Success"
          },
          "400": {
            "content": {
              "application/json": {
                "examples": {
                  "param-missing": {
                    "description": "Bad request",
                    "summary": "Required URL parameter missing",
                    "value": {
                      "errors": [
                        {
                          "title": "Required parameter missing",
                          "detail": "Required URL parameter 'parameterName' is missing"
                        }
                      ]
                    }
                  }
                },
                "schema": {
                  "$ref": "#/components/schemas/Errors"
                }
              }
            },
            "description": "Bad request"
          },
          "404": {
            "content": {
              "application/json": {
                "examples": {
                  "not-found": {
                    "description": "Not found",
                    "summary": "Not found",
                    "value": {
                      "errors": [
                        {
                          "title": "Resource not found",
                          "detail": "Resource with id 'my-resource-id' not found"
                        }
                      ]
                    }
                  }
                },
                "schema": {
                  "$ref": "#/components/schemas/Errors"
                }
              }
            },
            "description": "Resource not found"
          }
        },
        "summary": "Get a clients connection state",
        "tags": [
          "MQTT Clients"
        ]
      }
    },
    "/api/v2/orgs/{orgId}/clusters/{clusterId}/mqtt/clients/{clientId}/subscriptions": {
      "get": {
        "description": "List all subscriptions for a specific client.\n\nThis endpoint does not support pagination with cursor at the moment, but it might be added in future versions. Please make sure to check if a cursor is returned and another page is available to have a future-proof implementation.",
        "operationId": "getSubscriptionsForMqttClient",
        "parameters": [
          {
            "description": "The MQTT client identifier.",
            "in": "path",
            "name": "clientId",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "$ref": "#/components/parameters/orgId"
          },
          {
            "$ref": "#/components/parameters/clusterId"
          },
          {
            "name": "clusterId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "orgId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "examples": {
                  "empty-result": {
                    "description": "Empty result if client has no subscriptions.",
                    "summary": "Empty result if client has no subscriptions",
                    "value": {
                      "items": []
                    }
                  },
                  "multiple-results": {
                    "description": "Example response with multiple results.",
                    "summary": "Multiple results",
                    "value": {
                      "items": [
                        {
                          "topicFilter": "topic/0",
                          "qos": "AT_MOST_ONCE",
                          "retainHandling": "SEND",
                          "retainAsPublished": true,
                          "noLocal": false,
                          "subscriptionIdentifier": 1
                        },
                        {
                          "topicFilter": "topic/2",
                          "qos": "EXACTLY_ONCE",
                          "retainHandling": "SEND",
                          "retainAsPublished": false,
                          "noLocal": true,
                          "subscriptionIdentifier": 3
                        },
                        {
                          "topicFilter": "$share/sharename/topic/1",
                          "qos": "AT_LEAST_ONCE",
                          "retainHandling": "DO_NOT_SEND",
                          "retainAsPublished": false,
                          "noLocal": false,
                          "subscriptionIdentifier": 2
                        }
                      ]
                    }
                  }
                },
                "schema": {
                  "$ref": "#/components/schemas/ClientSubscriptionList"
                }
              }
            },
            "description": "Success"
          },
          "400": {
            "content": {
              "application/json": {
                "examples": {
                  "param-missing": {
                    "description": "Bad request",
                    "summary": "Required URL parameter missing",
                    "value": {
                      "errors": [
                        {
                          "title": "Required parameter missing",
                          "detail": "Required URL parameter 'parameterName' is missing"
                        }
                      ]
                    }
                  }
                },
                "schema": {
                  "$ref": "#/components/schemas/Errors"
                }
              }
            },
            "description": "Bad request"
          },
          "404": {
            "content": {
              "application/json": {
                "examples": {
                  "not-found": {
                    "description": "Not found",
                    "summary": "Not found",
                    "value": {
                      "errors": [
                        {
                          "title": "Resource not found",
                          "detail": "Resource with id 'my-resource-id' not found"
                        }
                      ]
                    }
                  }
                },
                "schema": {
                  "$ref": "#/components/schemas/Errors"
                }
              }
            },
            "description": "Resource not found"
          }
        },
        "summary": "List all subscriptions for MQTT client",
        "tags": [
          "MQTT Clients"
        ]
      }
    },
    "/api/v2/orgs/{orgId}/clusters/{clusterId}/clients-auth/certificate": {
      "get": {
        "tags": [
          "Cluster Configuration"
        ],
        "summary": "Get Client Certificate",
        "description": "Get Client Certificate",
        "operationId": "getClientCertificate",
        "parameters": [
          {
            "$ref": "#/components/parameters/orgId"
          },
          {
            "$ref": "#/components/parameters/clusterId"
          },
          {
            "name": "clusterId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "orgId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "getClientCertificate 200 response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ClientCertificate"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden action"
          },
          "404": {
            "description": "clusterId not found"
          }
        }
      },
      "delete": {
        "tags": [
          "Cluster Configuration"
        ],
        "summary": "Delete Client Certificate",
        "description": "Delete Client Certificate",
        "operationId": "deleteClientCertificate",
        "parameters": [
          {
            "$ref": "#/components/parameters/orgId"
          },
          {
            "$ref": "#/components/parameters/clusterId"
          },
          {
            "name": "clusterId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "orgId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "successful operation"
          },
          "403": {
            "description": "Forbidden action"
          },
          "404": {
            "description": "clusterId not found"
          }
        }
      },
      "put": {
        "tags": [
          "Cluster Configuration"
        ],
        "summary": "Put Client Certificate",
        "description": "Put Client Certificate",
        "operationId": "putClientCertificate",
        "parameters": [
          {
            "$ref": "#/components/parameters/orgId"
          },
          {
            "$ref": "#/components/parameters/clusterId"
          },
          {
            "name": "clusterId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "orgId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "description": "New client certificate",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/NewPublicKey"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "putClientCertificate 200 response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ClientCertificate"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden action"
          },
          "404": {
            "description": "clusterId not found"
          }
        }
      }
    },
    "/api/v2/orgs/{orgId}/clusters/{clusterId}/clients-auth/jwt": {
      "get": {
        "tags": [
          "Cluster Configuration"
        ],
        "summary": "Get Client JWT Config",
        "description": "Get Client JWT Config",
        "operationId": "getClientJWTAuthConfig",
        "parameters": [
          {
            "$ref": "#/components/parameters/orgId"
          },
          {
            "$ref": "#/components/parameters/clusterId"
          },
          {
            "name": "clusterId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "orgId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "getClientJWTAuthConfig 200 response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/JWTAuthConfigResponse"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden action"
          },
          "404": {
            "description": "clusterId not found"
          }
        }
      },
      "delete": {
        "tags": [
          "Cluster Configuration"
        ],
        "summary": "Remove JWT Config to use ESE basic credentials",
        "description": "Delete JWT Config to use ESE username & password",
        "operationId": "deleteClientJWTAuthConfig",
        "parameters": [
          {
            "$ref": "#/components/parameters/orgId"
          },
          {
            "$ref": "#/components/parameters/clusterId"
          },
          {
            "name": "clusterId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "orgId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "successful operation"
          },
          "403": {
            "description": "Forbidden action"
          },
          "404": {
            "description": "clusterId not found"
          }
        }
      },
      "put": {
        "tags": [
          "Cluster Configuration"
        ],
        "summary": "Upsert JWT Config to use JWTs to auth clients",
        "description": "Upsert JWT Config to use JWTs to auth clients",
        "operationId": "putClientJWTAuthConfig",
        "parameters": [
          {
            "$ref": "#/components/parameters/orgId"
          },
          {
            "$ref": "#/components/parameters/clusterId"
          },
          {
            "name": "clusterId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "orgId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "description": "New JWT Config for clients authentication",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/PutJWTAuthConfig"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "successful operation"
          },
          "403": {
            "description": "Forbidden action"
          },
          "404": {
            "description": "clusterId not found"
          }
        }
      }
    },
    "/api/v2/orgs/{orgId}/clusters/{clusterId}/clients-auth/ese": {
      "get": {
        "tags": [
          "Clients Authentication"
        ],
        "summary": "Get Ese Global Role",
        "description": "Get Ese Global Role",
        "operationId": "getEseRole",
        "parameters": [
          {
            "$ref": "#/components/parameters/orgId"
          },
          {
            "$ref": "#/components/parameters/clusterId"
          },
          {
            "name": "clusterId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "orgId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Ese Global Config Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/EseConfig"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden action"
          },
          "404": {
            "description": "clusterId not found"
          }
        }
      },
      "put": {
        "tags": [
          "Clients Authentication"
        ],
        "summary": "Put Ese Global Role",
        "description": "Put Ese Global Role",
        "operationId": "putEseRole",
        "parameters": [
          {
            "$ref": "#/components/parameters/orgId"
          },
          {
            "$ref": "#/components/parameters/clusterId"
          },
          {
            "name": "clusterId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "orgId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "description": "New global ese config",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/EseConfig"
              }
            }
          }
        },
        "responses": {
          "204": {
            "description": "successful operation"
          },
          "403": {
            "description": "Forbidden action"
          },
          "404": {
            "description": "clusterId not found"
          }
        }
      }
    }
  },
  "security": [
    {
      "bearerAuth": []
    }
  ],
  "components": {
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    },
    "parameters": {
      "orgId": {
        "name": "orgId",
        "in": "path",
        "description": "The unique identifier of your organization. Provide this identifier as a string in the API request.",
        "required": true,
        "schema": {
          "type": "string",
          "minLength": 6,
          "maxLength": 6,
          "pattern": "^[a-zA-Z0-9]{6}$"
        }
      },
      "clusterId": {
        "name": "clusterId",
        "in": "path",
        "description": "The unique identifier of the broker cluster to monitor. Provide this identifier as a string in the API request.",
        "required": true,
        "schema": {
          "type": "string",
          "format": "uuid",
          "pattern": "^[a-fA-F0-9]{8}-[a-fA-F0-9]{4}-[a-fA-F0-9]{4}-[a-fA-F0-9]{4}-[a-fA-F0-9]{12}$"
        }
      }
    },
    "schemas": {
      "UpsertPermissionListRequest": {
        "type": "object",
        "properties": {
          "permissions": {
            "type": "array",
            "maxItems": 2500,
            "items": {
              "$ref": "#/components/schemas/PermissionWithRoles"
            }
          }
        }
      },
      "PermissionWithRoles": {
        "type": "object",
        "description": "a single MQTT permission with roles list",
        "required": [
          "name",
          "topic"
        ],
        "properties": {
          "name": {
            "type": "string",
            "minLength": 1
          },
          "description": {
            "type": "string"
          },
          "topic": {
            "type": "string"
          },
          "publishAllowed": {
            "type": "boolean"
          },
          "subscribeAllowed": {
            "type": "boolean"
          },
          "qos0Allowed": {
            "type": "boolean"
          },
          "qos1Allowed": {
            "type": "boolean"
          },
          "qos2Allowed": {
            "type": "boolean"
          },
          "retainedMsgsAllowed": {
            "type": "boolean"
          },
          "sharedSubAllowed": {
            "type": "boolean"
          },
          "sharedGroup": {
            "type": "string"
          },
          "roles": {
            "type": "array",
            "items": {
              "type": "string"
            }
          }
        }
      },
      "MqttRolePermissionsByRoleResponse": {
        "type": "object",
        "description": "MQTT permission object along with its ID in the DB which is used to assign permissions to roles.",
        "properties": {
          "permissions": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/MQTTPermissionResponse"
            }
          }
        }
      },
      "RolesListResponse": {
        "type": "object",
        "properties": {
          "roles": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/RoleResponse"
            }
          }
        }
      },
      "RoleResponse": {
        "type": "object",
        "properties": {
          "roleInfo": {
            "$ref": "#/components/schemas/RoleInfo"
          }
        }
      },
      "UpsertRoleRequest": {
        "type": "object",
        "required": [
          "role"
        ],
        "properties": {
          "role": {
            "$ref": "#/components/schemas/Role"
          }
        }
      },
      "Role": {
        "type": "object",
        "required": [
          "name"
        ],
        "properties": {
          "name": {
            "type": "string",
            "minLength": 1
          },
          "description": {
            "type": "string"
          }
        }
      },
      "UpsertCredentialsRequest": {
        "type": "object",
        "required": [
          "credentials"
        ],
        "properties": {
          "credentials": {
            "$ref": "#/components/schemas/Credentials"
          }
        }
      },
      "CredentialsList": {
        "type": "object",
        "description": "Paginated list of MQTT credentials",
        "properties": {
          "_links": {
            "$ref": "#/components/schemas/PaginationCursor"
          },
          "items": {
            "type": "array",
            "description": "List of credentials returned by this endpoint",
            "items": {
              "$ref": "#/components/schemas/UserInfo"
            }
          }
        }
      },
      "CredentialsListResponse": {
        "type": "object",
        "properties": {
          "credentials": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/CredentialsResponse"
            }
          }
        }
      },
      "RoleInfo": {
        "type": "object",
        "properties": {
          "name": {
            "type": "string"
          },
          "description": {
            "type": "string"
          },
          "id": {
            "type": "string"
          }
        }
      },
      "UserInfo": {
        "type": "object",
        "properties": {
          "username": {
            "type": "string"
          },
          "role": {
            "type": "array",
            "description": "Deprecated: Use roleRefs instead. Contains only role names without IDs.",
            "deprecated": true,
            "readOnly": true,
            "items": {
              "type": "string"
            }
          },
          "roleRefs": {
            "type": "array",
            "description": "Role references containing both role ID and role name. This is a read-only field populated by the server.",
            "readOnly": true,
            "items": {
              "$ref": "#/components/schemas/RoleRef"
            }
          }
        }
      },
      "Credentials": {
        "type": "object",
        "required": [
          "username",
          "password"
        ],
        "properties": {
          "username": {
            "type": "string",
            "minLength": 1
          },
          "password": {
            "type": "string",
            "minLength": 1
          }
        }
      },
      "CredentialsResponse": {
        "type": "object",
        "properties": {
          "userInfo": {
            "$ref": "#/components/schemas/UserInfo"
          }
        }
      },
      "UpsertSinglePermissionRequest": {
        "type": "object",
        "required": [
          "permission"
        ],
        "properties": {
          "permission": {
            "$ref": "#/components/schemas/MQTTSinglePermission"
          }
        }
      },
      "ClientSearchList": {
        "type": "object",
        "properties": {
          "_links": {
            "$ref": "#/components/schemas/PaginationCursor"
          },
          "items": {
            "type": "array",
            "description": "List of result items that are returned by this endpoint",
            "items": {
              "$ref": "#/components/schemas/ClientAsSearchResult"
            }
          }
        }
      },
      "ClientAsSearchResult": {
        "type": "object",
        "description": "List of result items that are returned by this endpoint",
        "properties": {
          "connected": {
            "type": "boolean"
          },
          "connectedNode": {
            "type": "string"
          },
          "currentQueueSize": {
            "type": "integer",
            "format": "int64"
          },
          "id": {
            "type": "string"
          },
          "ipAddress": {
            "type": "string"
          },
          "maximumQueueSize": {
            "type": "integer",
            "format": "int64"
          },
          "timestamp": {
            "type": "integer",
            "format": "int64"
          },
          "username": {
            "type": "string"
          }
        },
        "required": [
          "connected",
          "connectedNode",
          "id"
        ]
      },
      "MQTTSinglePermission": {
        "type": "object",
        "description": "a single MQTT permission, to be assigned to a role",
        "required": [
          "name",
          "description",
          "topic",
          "publishAllowed",
          "subscribeAllowed",
          "qos0Allowed",
          "qos1Allowed",
          "qos2Allowed",
          "retainedMsgsAllowed"
        ],
        "properties": {
          "id": {
[...]
