{
  "openapi": "3.0.3",
  "info": {
    "title": "nps.today API",
    "description": "Welcome to our Swagger page! Please note that this Swagger page is generated automatically. \n                Here you can find detailed information about the API endpoints, including request and response formats, \n                and try out the endpoints directly from the browser.",
    "contact": {
      "name": "nps.today",
      "email": "info@npstoday.com"
    },
    "version": "v1",
    "x-logo": {
      "url": "https://npstoday.blob.core.windows.net/logos/nps-today-logo-transparent.png",
      "altText": "nps.today Logo"
    }
  },
  "servers": [
    {
      "url": "https://api.nps.today",
      "description": "production API"
    }
  ],
  "paths": {
    "/analytics/responses": {
      "get": {
        "tags": [
          "Analytics"
        ],
        "summary": "Retrieves analytics for responses associated with a specific campaign or date range.",
        "description": "This endpoint returns analytics data for responses filtered by campaign ID and/or date range.\r\nIf a campaign ID is provided, the method checks if the current user has access to the specified campaign.",
        "parameters": [
          {
            "name": "campaignId",
            "in": "query",
            "description": "Optional. The ID of the campaign to filter responses by.",
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "start",
            "in": "query",
            "description": "Optional. The start date of the date range to filter responses by.",
            "schema": {
              "type": "string",
              "format": "date-time"
            }
          },
          {
            "name": "end",
            "in": "query",
            "description": "Optional. The end date of the date range to filter responses by.",
            "schema": {
              "type": "string",
              "format": "date-time"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Returns the analytics data for the specified filters.",
            "content": {
              "application/json": {}
            }
          },
          "400": {
            "description": "Returned if the specified campaign ID does not belong to the user's organization.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          }
        },
        "operationId": "get_analytics_responses"
      },
      "post": {
        "tags": [
          "Analytics"
        ],
        "summary": "Retrieves analytics for multiple campaigns.",
        "description": "This endpoint allows for the retrieval of analytics data across multiple campaigns. It filters the campaigns based\r\non the provided list of campaign IDs,\r\nensuring that only campaigns accessible by the current user's organization are considered. The analytics data is\r\nthen aggregated and returned.\r\nThis method is useful for generating consolidated analytics reports across multiple campaigns.",
        "parameters": [
          {
            "name": "start",
            "in": "query",
            "description": "Optional. The start date of the date range to filter responses by.",
            "schema": {
              "type": "string",
              "format": "date-time"
            }
          },
          {
            "name": "end",
            "in": "query",
            "description": "Optional. The end date of the date range to filter responses by.",
            "schema": {
              "type": "string",
              "format": "date-time"
            }
          }
        ],
        "requestBody": {
          "description": "A list of campaign IDs to retrieve analytics for.",
          "content": {
            "application/json": {
              "schema": {
                "type": "array",
                "items": {
                  "type": "integer",
                  "format": "int32"
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Returns the aggregated analytics data for the specified campaigns.",
            "content": {
              "application/json": {}
            }
          },
          "404": {
            "description": "Returned if no accessible campaigns are found for the current user's organization.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          }
        },
        "operationId": "post_analytics_responses"
      }
    },
    "/analytics/responsesCharts/split": {
      "post": {
        "tags": [
          "Analytics"
        ],
        "summary": "Generates charts for responses per organization.",
        "description": "This endpoint generates charts based on the analytics data of responses for the specified campaigns and dashboard\r\nconfiguration.\r\nIt filters the campaigns based on the provided list of campaign IDs, ensuring that only those accessible by the\r\ncurrent user's organization are considered.\r\nThe method then calculates and returns charts data per organization, which can be used for visual analytics.",
        "parameters": [
          {
            "name": "id",
            "in": "query",
            "description": "The ID of the dashboard configuration to use for generating charts.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "start",
            "in": "query",
            "description": "Optional. The start date of the date range to filter responses by.",
            "schema": {
              "type": "string",
              "format": "date-time"
            }
          },
          {
            "name": "end",
            "in": "query",
            "description": "Optional. The end date of the date range to filter responses by.",
            "schema": {
              "type": "string",
              "format": "date-time"
            }
          }
        ],
        "requestBody": {
          "description": "A list of campaign IDs to generate charts for.",
          "content": {
            "application/json": {
              "schema": {
                "type": "array",
                "items": {
                  "type": "integer",
                  "format": "int32"
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Returns the charts data per organization for the specified campaigns and dashboard configuration.",
            "content": {
              "application/json": {}
            }
          }
        },
        "operationId": "post_analytics_responsesCharts_split"
      }
    },
    "/analytics/responses/split": {
      "post": {
        "tags": [
          "Analytics"
        ],
        "summary": "Retrieves responses per organization based on campaign IDs and dashboard configuration.",
        "description": "This endpoint provides analytics per organization for a given set of campaign IDs and a specific dashboard\r\nconfiguration.\r\nIt filters the campaigns to those accessible by the current user's organization and calculates analytics based on\r\nthe provided parameters.\r\nThe analytics include response counts, averages, and other relevant metrics, sorted by campaign name if specified.",
        "parameters": [
          {
            "name": "id",
            "in": "query",
            "description": "The ID of the dashboard configuration to use for analytics.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "start",
            "in": "query",
            "description": "Optional. The start date of the date range to filter responses by.",
            "schema": {
              "type": "string",
              "format": "date-time"
            }
          },
          {
            "name": "end",
            "in": "query",
            "description": "Optional. The end date of the date range to filter responses by.",
            "schema": {
              "type": "string",
              "format": "date-time"
            }
          },
          {
            "name": "campaignSortName",
            "in": "query",
            "description": "Optional. Specifies whether to sort the campaigns by name.",
            "schema": {
              "type": "boolean",
              "default": true
            }
          }
        ],
        "requestBody": {
          "description": "A list of campaign IDs to include in the analytics.",
          "content": {
            "application/json": {
              "schema": {
                "type": "array",
                "items": {
                  "type": "integer",
                  "format": "int32"
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Returns the analytics data per organization for the specified campaigns and dashboard\r\nconfiguration.",
            "content": {
              "application/json": {}
            }
          }
        },
        "operationId": "post_analytics_responses_split"
      }
    },
    "/analytics/OrganizationSummary": {
      "get": {
        "tags": [
          "Analytics"
        ],
        "summary": "Retrieves a summary of the organization's data.",
        "description": "This endpoint fetches a summary of data for the current user's organization, including key metrics and statistics.\r\nThe summary provides a quick overview of the organization's performance and activity.",
        "responses": {
          "200": {
            "description": "Returns the organization summary data.",
            "content": {
              "application/json": {}
            }
          },
          "404": {
            "description": "Returned if the organization summary data is not found.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          }
        },
        "operationId": "get_analytics_OrganizationSummary"
      }
    },
    "/authentication-configuration": {
      "get": {
        "tags": [
          "AuthenticationConfiguration"
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AuthenticationConfigurationDto"
                }
              }
            }
          }
        },
        "description": "GET /authentication-configuration",
        "operationId": "get_authentication_configuration"
      },
      "put": {
        "tags": [
          "AuthenticationConfiguration"
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/AuthenticationConfigurationDto"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AuthenticationConfigurationDto"
                }
              }
            }
          }
        },
        "description": "PUT /authentication-configuration",
        "operationId": "put_authentication_configuration"
      }
    },
    "/transition/bi/campaignmembers": {
      "get": {
        "tags": [
          "Bi"
        ],
        "summary": "Retrieves a paginated list of campaign members based on the specified criteria.",
        "description": "This endpoint provides access to a paginated list of campaign members, allowing for efficient data retrieval\r\nbased on pagination parameters and optional filters such as modification date and first survey exposure date.\r\nIt is particularly useful for BI processes that require analysis of campaign member data over specific periods.",
        "parameters": [
          {
            "name": "skip",
            "in": "query",
            "description": "The number of items to skip before starting to collect the result set.",
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "take",
            "in": "query",
            "description": "The number of items to return in the result set.",
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "modifiedAfter",
            "in": "query",
            "description": "Optional. The date after which modified items will be included in the result set.",
            "schema": {
              "type": "string",
              "format": "date-time"
            }
          },
          {
            "name": "firstSurveyExposure",
            "in": "query",
            "description": "Optional. The date of the first survey exposure to filter the campaign members.",
            "schema": {
              "type": "string",
              "format": "date-time"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Returns the paginated list of campaign members.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CampaignMemberRawPagedResult"
                }
              }
            }
          },
          "400": {
            "description": "If the request parameters are invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          },
          "401": {
            "description": "If the user is not authorized to access this endpoint.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          }
        },
        "operationId": "get_transition_bi_campaignmembers"
      }
    },
    "/v2/bi/campaignmembers": {
      "get": {
        "tags": [
          "Bi"
        ],
        "summary": "Retrieves a paginated list of campaign members based on the specified criteria.",
        "description": "This endpoint provides access to a paginated list of campaign members, allowing for efficient data retrieval\r\nbased on pagination parameters and optional filters such as modification date and first survey exposure date.\r\nIt is particularly useful for BI processes that require analysis of campaign member data over specific periods.",
        "parameters": [
          {
            "name": "skip",
            "in": "query",
            "description": "The number of items to skip before starting to collect the result set.",
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "take",
            "in": "query",
            "description": "The number of items to return in the result set.",
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "modifiedAfter",
            "in": "query",
            "description": "Optional. The date after which modified items will be included in the result set.",
            "schema": {
              "type": "string",
              "format": "date-time"
            }
          },
          {
            "name": "firstSurveyExposure",
            "in": "query",
            "description": "Optional. The date of the first survey exposure to filter the campaign members.",
            "schema": {
              "type": "string",
              "format": "date-time"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Returns the paginated list of campaign members.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CampaignMemberRawPagedResult"
                }
              }
            }
          },
          "400": {
            "description": "If the request parameters are invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          },
          "401": {
            "description": "If the user is not authorized to access this endpoint.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          }
        },
        "operationId": "get_v2_bi_campaignmembers"
      }
    },
    "/transition/bi/responses": {
      "get": {
        "tags": [
          "Bi"
        ],
        "summary": "Retrieves a paginated list of responses based on the specified criteria.",
        "description": "This endpoint provides access to a paginated list of responses, allowing for efficient data retrieval\r\nbased on pagination parameters and optional filters such as modification date and rated date.\r\nIt is particularly useful for BI processes that require analysis of response data over specific periods.",
        "parameters": [
          {
            "name": "skip",
            "in": "query",
            "description": "The number of items to skip before starting to collect the result set.",
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "take",
            "in": "query",
            "description": "The number of items to return in the result set.",
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "modifiedAfter",
            "in": "query",
            "description": "Optional. The date after which modified items will be included in the result set.",
            "schema": {
              "type": "string",
              "format": "date-time"
            }
          },
          {
            "name": "ratedAfter",
            "in": "query",
            "description": "Optional. The date after which rated items will be included in the result set.",
            "schema": {
              "type": "string",
              "format": "date-time"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Returns the paginated list of responses.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ResponseRawPagedResult"
                }
              }
            }
          },
          "400": {
            "description": "If the request parameters are invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          },
          "401": {
            "description": "If the user is not authorized to access this endpoint.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          }
        },
        "operationId": "get_transition_bi_responses"
      }
    },
    "/v2/bi/responses": {
      "get": {
        "tags": [
          "Bi"
        ],
        "summary": "Retrieves a paginated list of responses based on the specified criteria.",
        "description": "This endpoint provides access to a paginated list of responses, allowing for efficient data retrieval\r\nbased on pagination parameters and optional filters such as modification date and rated date.\r\nIt is particularly useful for BI processes that require analysis of response data over specific periods.",
        "parameters": [
          {
            "name": "skip",
            "in": "query",
            "description": "The number of items to skip before starting to collect the result set.",
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "take",
            "in": "query",
            "description": "The number of items to return in the result set.",
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "modifiedAfter",
            "in": "query",
            "description": "Optional. The date after which modified items will be included in the result set.",
            "schema": {
              "type": "string",
              "format": "date-time"
            }
          },
          {
            "name": "ratedAfter",
            "in": "query",
            "description": "Optional. The date after which rated items will be included in the result set.",
            "schema": {
              "type": "string",
              "format": "date-time"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Returns the paginated list of responses.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ResponseRawPagedResult"
                }
              }
            }
          },
          "400": {
            "description": "If the request parameters are invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          },
          "401": {
            "description": "If the user is not authorized to access this endpoint.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          }
        },
        "operationId": "get_v2_bi_responses"
      }
    },
    "/transition/bi/responsecategories": {
      "get": {
        "tags": [
          "Bi"
        ],
        "summary": "Retrieves a paginated list of response categories based on the specified criteria.",
        "description": "This endpoint provides access to a paginated list of response categories, allowing for efficient data retrieval\r\nbased on pagination parameters. Response categories are essential for categorizing and analyzing survey responses,\r\nmaking this endpoint valuable for BI processes that require detailed analysis of response data.",
        "parameters": [
          {
            "name": "skip",
            "in": "query",
            "description": "The number of items to skip before starting to collect the result set.",
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "take",
            "in": "query",
            "description": "The number of items to return in the result set.",
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Returns the paginated list of response categories.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ResponseCategoryPagedResult"
                }
              }
            }
          },
          "400": {
            "description": "If the request parameters are invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          },
          "401": {
            "description": "If the user is not authorized to access this endpoint.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          }
        },
        "operationId": "get_transition_bi_responsecategories"
      }
    },
    "/v2/bi/responsecategories": {
      "get": {
        "tags": [
          "Bi"
        ],
        "summary": "Retrieves a paginated list of response categories based on the specified criteria.",
        "description": "This endpoint provides access to a paginated list of response categories, allowing for efficient data retrieval\r\nbased on pagination parameters. Response categories are essential for categorizing and analyzing survey responses,\r\nmaking this endpoint valuable for BI processes that require detailed analysis of response data.",
        "parameters": [
          {
            "name": "skip",
            "in": "query",
            "description": "The number of items to skip before starting to collect the result set.",
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "take",
            "in": "query",
            "description": "The number of items to return in the result set.",
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Returns the paginated list of response categories.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ResponseCategoryPagedResult"
                }
              }
            }
          },
          "400": {
            "description": "If the request parameters are invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          },
          "401": {
            "description": "If the user is not authorized to access this endpoint.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          }
        },
        "operationId": "get_v2_bi_responsecategories"
      }
    },
    "/transition/bi/employees": {
      "get": {
        "tags": [
          "Bi"
        ],
        "summary": "Retrieves a paginated list of employees based on the specified criteria.",
        "description": "This endpoint provides access to a paginated list of employees, allowing for efficient data retrieval\r\nbased on pagination parameters. It is particularly useful for BI processes that require analysis of employee data\r\nover specific periods.",
        "parameters": [
          {
            "name": "skip",
            "in": "query",
            "description": "The number of items to skip before starting to collect the result set.",
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "take",
            "in": "query",
            "description": "The number of items to return in the result set.",
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Returns the paginated list of employees.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/EmployeePagedResult"
                }
              }
            }
          },
          "400": {
            "description": "If the request parameters are invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          },
          "401": {
            "description": "If the user is not authorized to access this endpoint.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          }
        },
        "operationId": "get_transition_bi_employees"
      }
    },
    "/v2/bi/employees": {
      "get": {
        "tags": [
          "Bi"
        ],
        "summary": "Retrieves a paginated list of employees based on the specified criteria.",
        "description": "This endpoint provides access to a paginated list of employees, allowing for efficient data retrieval\r\nbased on pagination parameters. It is particularly useful for BI processes that require analysis of employee data\r\nover specific periods.",
        "parameters": [
          {
            "name": "skip",
            "in": "query",
            "description": "The number of items to skip before starting to collect the result set.",
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "take",
            "in": "query",
            "description": "The number of items to return in the result set.",
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Returns the paginated list of employees.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/EmployeePagedResult"
                }
              }
            }
          },
          "400": {
            "description": "If the request parameters are invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          },
          "401": {
            "description": "If the user is not authorized to access this endpoint.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          }
        },
        "operationId": "get_v2_bi_employees"
      }
    },
    "/transition/bi/companies": {
      "get": {
        "tags": [
          "Bi"
        ],
        "summary": "Retrieves a paginated list of companies based on the specified criteria.",
        "description": "This endpoint provides access to a paginated list of companies, allowing for efficient data retrieval\r\nbased on pagination parameters. It is particularly useful for BI processes that require analysis of company data\r\nover specific periods.",
        "parameters": [
          {
            "name": "skip",
            "in": "query",
            "description": "The number of items to skip before starting to collect the result set.",
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "take",
            "in": "query",
            "description": "The number of items to return in the result set.",
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Returns the paginated list of companies.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CompanyPagedResult"
                }
              }
            }
          },
          "400": {
            "description": "If the request parameters are invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          },
          "401": {
            "description": "If the user is not authorized to access this endpoint.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          }
        },
        "operationId": "get_transition_bi_companies"
      }
    },
    "/v2/bi/companies": {
      "get": {
        "tags": [
          "Bi"
        ],
        "summary": "Retrieves a paginated list of companies based on the specified criteria.",
        "description": "This endpoint provides access to a paginated list of companies, allowing for efficient data retrieval\r\nbased on pagination parameters. It is particularly useful for BI processes that require analysis of company data\r\nover specific periods.",
        "parameters": [
          {
            "name": "skip",
            "in": "query",
            "description": "The number of items to skip before starting to collect the result set.",
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "take",
            "in": "query",
            "description": "The number of items to return in the result set.",
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Returns the paginated list of companies.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CompanyPagedResult"
                }
              }
            }
          },
          "400": {
            "description": "If the request parameters are invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          },
          "401": {
            "description": "If the user is not authorized to access this endpoint.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          }
        },
        "operationId": "get_v2_bi_companies"
      }
    },
    "/transition/bi/campaigns": {
      "get": {
        "tags": [
          "Bi"
        ],
        "summary": "Retrieves a paginated list of campaigns based on the specified criteria.",
        "description": "This endpoint provides access to a paginated list of campaigns, allowing for efficient data retrieval\r\nbased on pagination parameters and an optional modification date filter. It is particularly useful for BI processes\r\nthat require analysis of campaign data over specific periods.",
        "parameters": [
          {
            "name": "skip",
            "in": "query",
            "description": "The number of items to skip before starting to collect the result set.",
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "take",
            "in": "query",
            "description": "The number of items to return in the result set.",
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "modifiedAfter",
            "in": "query",
            "description": "Optional. The date after which modified campaigns will be included in the result set.",
            "schema": {
              "type": "string",
              "format": "date-time"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Returns the paginated list of campaigns.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CampaignPagedResult"
                }
              }
            }
          },
          "400": {
            "description": "If the request parameters are invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          },
          "401": {
            "description": "If the user is not authorized to access this endpoint.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          }
        },
        "operationId": "get_transition_bi_campaigns"
      }
    },
    "/v2/bi/campaigns": {
      "get": {
        "tags": [
          "Bi"
        ],
        "summary": "Retrieves a paginated list of campaigns based on the specified criteria.",
        "description": "This endpoint provides access to a paginated list of campaigns, allowing for efficient data retrieval\r\nbased on pagination parameters and an optional modification date filter. It is particularly useful for BI processes\r\nthat require analysis of campaign data over specific periods.",
        "parameters": [
          {
            "name": "skip",
            "in": "query",
            "description": "The number of items to skip before starting to collect the result set.",
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "take",
            "in": "query",
            "description": "The number of items to return in the result set.",
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "modifiedAfter",
            "in": "query",
            "description": "Optional. The date after which modified campaigns will be included in the result set.",
            "schema": {
              "type": "string",
              "format": "date-time"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Returns the paginated list of campaigns.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CampaignPagedResult"
                }
              }
            }
          },
          "400": {
            "description": "If the request parameters are invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          },
          "401": {
            "description": "If the user is not authorized to access this endpoint.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          }
        },
        "operationId": "get_v2_bi_campaigns"
      }
    },
    "/transition/bi/emails": {
      "get": {
        "tags": [
          "Bi"
        ],
        "summary": "Retrieves a paginated list of scheduled emails based on the specified criteria.",
        "description": "This endpoint provides access to a paginated list of scheduled emails, allowing for efficient data retrieval\r\nbased on pagination parameters and an optional modification date filter. It is particularly useful for BI processes\r\nthat require analysis of email communication over specific periods.",
        "parameters": [
          {
            "name": "skip",
            "in": "query",
            "description": "The number of items to skip before starting to collect the result set.",
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "take",
            "in": "query",
            "description": "The number of items to return in the result set.",
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "modifiedAfter",
            "in": "query",
            "description": "Optional. The date after which modified emails will be included in the result set.",
            "schema": {
              "type": "string",
              "format": "date-time"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Returns the paginated list of scheduled emails.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BiEmailDtoPagedResult"
                }
              }
            }
          },
          "400": {
            "description": "If the request parameters are invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          },
          "401": {
            "description": "If the user is not authorized to access this endpoint.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          }
        },
        "operationId": "get_transition_bi_emails"
      }
    },
    "/v2/bi/emails": {
      "get": {
        "tags": [
          "Bi"
        ],
        "summary": "Retrieves a paginated list of scheduled emails based on the specified criteria.",
        "description": "This endpoint provides access to a paginated list of scheduled emails, allowing for efficient data retrieval\r\nbased on pagination parameters and an optional modification date filter. It is particularly useful for BI processes\r\nthat require analysis of email communication over specific periods.",
        "parameters": [
          {
            "name": "skip",
            "in": "query",
            "description": "The number of items to skip before starting to collect the result set.",
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "take",
            "in": "query",
            "description": "The number of items to return in the result set.",
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "modifiedAfter",
            "in": "query",
            "description": "Optional. The date after which modified emails will be included in the result set.",
            "schema": {
              "type": "string",
              "format": "date-time"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Returns the paginated list of scheduled emails.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BiEmailDtoPagedResult"
                }
              }
            }
          },
          "400": {
            "description": "If the request parameters are invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          },
          "401": {
            "description": "If the user is not authorized to access this endpoint.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          }
        },
        "operationId": "get_v2_bi_emails"
      }
    },
    "/transition/bi/sms": {
      "get": {
        "tags": [
          "Bi"
        ],
        "summary": "Retrieves a paginated list of scheduled SMS messages based on the specified criteria.",
        "description": "This endpoint provides access to a paginated list of scheduled SMS messages, allowing for efficient data retrieval\r\nbased on pagination parameters and an optional modification date filter. It is particularly useful for BI processes\r\nthat require analysis of SMS communication over specific periods.",
        "parameters": [
          {
            "name": "skip",
            "in": "query",
            "description": "The number of items to skip before starting to collect the result set.",
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "take",
            "in": "query",
            "description": "The number of items to return in the result set.",
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "modifiedAfter",
            "in": "query",
            "description": "Optional. The date after which modified SMS messages will be included in the result set.",
            "schema": {
              "type": "string",
              "format": "date-time"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Returns the paginated list of scheduled SMS messages.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BiSmsDtoPagedResult"
                }
              }
            }
          },
          "400": {
            "description": "If the request parameters are invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          },
          "401": {
            "description": "If the user is not authorized to access this endpoint.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          }
        },
        "operationId": "get_transition_bi_sms"
      }
    },
    "/v2/bi/sms": {
      "get": {
        "tags": [
          "Bi"
        ],
        "summary": "Retrieves a paginated list of scheduled SMS messages based on the specified criteria.",
        "description": "This endpoint provides access to a paginated list of scheduled SMS messages, allowing for efficient data retrieval\r\nbased on pagination parameters and an optional modification date filter. It is particularly useful for BI processes\r\nthat require analysis of SMS communication over specific periods.",
        "parameters": [
          {
            "name": "skip",
            "in": "query",
            "description": "The number of items to skip before starting to collect the result set.",
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "take",
            "in": "query",
            "description": "The number of items to return in the result set.",
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "modifiedAfter",
            "in": "query",
            "description": "Optional. The date after which modified SMS messages will be included in the result set.",
            "schema": {
              "type": "string",
              "format": "date-time"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Returns the paginated list of scheduled SMS messages.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BiSmsDtoPagedResult"
                }
              }
            }
          },
          "400": {
            "description": "If the request parameters are invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          },
          "401": {
            "description": "If the user is not authorized to access this endpoint.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          }
        },
        "operationId": "get_v2_bi_sms"
      }
    },
    "/bi/campaignmembers": {
      "get": {
        "tags": [
          "BI"
        ],
        "summary": "Retrieves a paginated list of campaign members.",
        "description": "Fetches campaign members based on the specified pagination parameters and an optional modification date filter.",
        "parameters": [
          {
            "name": "skip",
            "in": "query",
            "description": "The number of items to skip before starting to collect the result set.",
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "take",
            "in": "query",
            "description": "The number of items to return.",
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "modifiedAfter",
            "in": "query",
            "description": "Optional. Filters campaign members modified after this date.",
            "schema": {
              "type": "string",
              "format": "date-time"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Returns the paginated list of campaign members.",
            "content": {
              "application/json": {}
            }
          }
        },
        "operationId": "get_bi_campaignmembers"
      }
    },
    "/bi/responses": {
      "get": {
        "tags": [
          "BI"
        ],
        "summary": "Retrieves a paginated list of responses.",
        "description": "Fetches responses based on the specified pagination parameters and an optional modification date filter.",
        "parameters": [
          {
            "name": "skip",
            "in": "query",
            "description": "The number of items to skip before starting to collect the result set.",
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "take",
            "in": "query",
            "description": "The number of items to return.",
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "modifiedAfter",
            "in": "query",
            "description": "Optional. Filters responses modified after this date.",
            "schema": {
              "type": "string",
              "format": "date-time"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Returns the paginated list of responses.",
            "content": {
              "application/json": {}
            }
          }
        },
        "operationId": "get_bi_responses"
      }
    },
    "/bi/responsecategories": {
      "get": {
        "tags": [
          "BI"
        ],
        "summary": "Retrieves a paginated list of response categories.",
        "description": "Fetches response categories based on the specified pagination parameters.",
        "parameters": [
          {
            "name": "skip",
            "in": "query",
            "description": "The number of items to skip before starting to collect the result set.",
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "take",
            "in": "query",
            "description": "The number of items to return.",
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Returns the paginated list of response categories.",
            "content": {
              "application/json": {}
            }
          }
        },
        "operationId": "get_bi_responsecategories"
      }
    },
    "/bi/employees": {
      "get": {
        "tags": [
          "BI"
        ],
        "summary": "Retrieves a paginated list of employees.",
        "description": "Fetches employees based on the specified pagination parameters.",
        "parameters": [
          {
            "name": "skip",
            "in": "query",
            "description": "The number of items to skip before starting to collect the result set.",
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "take",
            "in": "query",
            "description": "The number of items to return.",
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Returns the paginated list of employees.",
            "content": {
              "application/json": {}
            }
          }
        },
        "operationId": "get_bi_employees"
      }
    },
    "/bi/companies": {
      "get": {
        "tags": [
          "BI"
        ],
        "summary": "Retrieves a paginated list of companies.",
        "description": "Fetches companies based on the specified pagination parameters.",
        "parameters": [
          {
            "name": "skip",
            "in": "query",
            "description": "The number of items to skip before starting to collect the result set.",
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "take",
            "in": "query",
            "description": "The number of items to return.",
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Returns the paginated list of companies.",
            "content": {
              "application/json": {}
            }
          }
        },
        "operationId": "get_bi_companies"
      }
    },
    "/bi/campaigns": {
      "get": {
        "tags": [
          "BI"
        ],
        "summary": "Retrieves a paginated list of campaigns.",
        "description": "Fetches campaigns based on the specified pagination parameters and an optional modification date filter.",
        "parameters": [
          {
            "name": "skip",
            "in": "query",
            "description": "The number of items to skip before starting to collect the result set.",
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "take",
            "in": "query",
            "description": "The number of items to return.",
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "modifiedAfter",
            "in": "query",
            "description": "Optional. Filters campaigns modified after this date.",
            "schema": {
              "type": "string",
              "format": "date-time"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Returns the paginated list of campaigns.",
            "content": {
              "application/json": {}
            }
          }
        },
        "operationId": "get_bi_campaigns"
      }
    },
    "/bi/emails": {
      "get": {
        "tags": [
          "BI"
        ],
        "summary": "Retrieves a paginated list of emails.",
        "description": "Fetches emails based on the specified pagination parameters and an optional modification date filter.",
        "parameters": [
          {
            "name": "skip",
            "in": "query",
            "description": "The number of items to skip before starting to collect the result set.",
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "take",
            "in": "query",
            "description": "The number of items to return.",
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "modifiedAfter",
            "in": "query",
            "description": "Optional. Filters emails modified after this date.",
            "schema": {
              "type": "string",
              "format": "date-time"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Returns the paginated list of emails.",
            "content": {
              "application/json": {}
            }
          }
        },
        "operationId": "get_bi_emails"
      }
    },
    "/bi/sms": {
      "get": {
        "tags": [
          "BI"
        ],
        "summary": "Retrieves a paginated list of SMS messages.",
        "description": "Fetches SMS messages based on the specified pagination parameters and an optional modification date filter.",
        "parameters": [
          {
            "name": "skip",
            "in": "query",
            "description": "The number of items to skip before starting to collect the result set.",
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "take",
            "in": "query",
            "description": "The number of items to return.",
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "modifiedAfter",
            "in": "query",
            "description": "Optional. Filters SMS messages modified after this date.",
            "schema": {
              "type": "string",
              "format": "date-time"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Returns the paginated list of SMS messages.",
            "content": {
              "application/json": {}
            }
          }
        },
        "operationId": "get_bi_sms"
      }
    },
    "/cache/clear": {
      "post": {
        "tags": [
          "Cache"
        ],
        "summary": "Clears the analytics cache for the current organization.",
        "description": "Invokes the analytics cache service to delete cached analytics items. This operation should be used with caution as\r\nit can impact\r\ndata retrieval performance until the cache is rebuilt.",
        "responses": {
          "200": {
            "description": "Indicates the cache was successfully cleared.",
            "content": {
              "application/json": {}
            }
          },
          "400": {
            "description": "Indicates an error occurred while attempting to clear the cache.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          }
        },
        "operationId": "post_cache_clear"
      }
    },
    "/campaigns/list": {
      "get": {
        "tags": [
          "Campaign"
        ],
        "summary": "Retrieves a list of campaigns with support for OData query options.",
        "parameters": [
          {
            "name": "options",
            "in": "query",
            "description": "OData query options for filtering, sorting, and paging.",
            "schema": {
              "$ref": "#/components/schemas/CampaignODataQueryOptions"
            }
          }
        ],
        "requestBody": {
          "description": "Ordering criteria for analytics data.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/AnalyticsOrderByPropertyOrdering"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Returns the list of campaigns.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ViewCampaignModelPagedResult"
                }
              }
            }
          }
        },
        "description": "Retrieves a list of campaigns with support for OData query options.",
        "operationId": "get_campaigns_list"
      }
    },
    "/campaigns": {
      "get": {
        "tags": [
          "Campaign"
        ],
        "summary": "Retrieves a list of campaigns for the current organization.",
        "description": "Provides an option to include analytics data and to return a minimal representation of each campaign.\r\nThis endpoint requires an employee session token for authorization.",
        "parameters": [
          {
            "name": "includeAnalytics",
            "in": "query",
            "description": "Specifies whether to include analytics data in the response.",
            "schema": {
              "type": "boolean",
              "default": false
            }
          },
          {
            "name": "min",
            "in": "query",
            "description": "If set to true, returns a minimal representation of the campaigns.",
            "schema": {
              "type": "boolean",
              "default": false
            }
          },
          {
            "name": "active",
            "in": "query",
            "description": "Optional filter to only include active or inactive campaigns.",
            "schema": {
              "type": "boolean"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Returns the list of campaigns.",
            "content": {
              "application/json": {}
            }
          }
        },
        "operationId": "get_campaigns"
      },
      "post": {
        "tags": [
          "Campaign"
        ],
        "summary": "Creates a new campaign.",
        "requestBody": {
          "description": "The campaign model to create.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CampaignModel"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BasicCampaignModel"
                }
              }
            }
          },
          "201": {
            "description": "Returns the created campaign."
          },
          "400": {
            "description": "If the model is invalid."
          }
        },
        "description": "Creates a new campaign.",
        "operationId": "post_campaigns"
      }
    },
    "/campaigns/{campaignId}": {
      "put": {
        "tags": [
          "Campaign"
        ],
        "summary": "Edits an existing campaign.",
        "parameters": [
          {
            "name": "campaignId",
            "in": "path",
            "description": "The ID of the campaign to edit.",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          }
        ],
        "requestBody": {
          "description": "The updated campaign model.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CampaignModel"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Returns the updated campaign.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BasicCampaignModel"
                }
              }
            }
          },
          "400": {
            "description": "If the model is invalid."
          },
          "404": {
            "description": "If the campaign is not found."
          }
        },
        "description": "Edits an existing campaign.",
        "operationId": "put_campaigns_campaignId"
      },
      "delete": {
        "tags": [
          "Campaign"
        ],
        "summary": "Deletes a specified campaign.",
        "description": "This endpoint allows for the deletion of a campaign by its unique identifier. It requires authorization and is\r\nintended for use by administrators.\r\nThe operation is irreversible and will remove all associated data with the campaign.",
        "parameters": [
          {
            "name": "campaignId",
            "in": "path",
            "description": "The unique identifier of the campaign to be deleted.",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Indicates the campaign was successfully deleted.",
            "content": {
              "application/json": {}
            }
          }
        },
        "operationId": "delete_campaigns_campaignId"
      },
      "get": {
        "tags": [
          "Campaign"
        ],
        "summary": "Retrieves details of a specific campaign.",
        "description": "Provides detailed information about a campaign, identified by its unique identifier. This includes basic campaign\r\ndetails such as name, description, and status.",
        "parameters": [
          {
            "name": "campaignId",
            "in": "path",
            "description": "The unique identifier of the campaign.",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Returns the campaign details.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BasicCampaignModel"
                }
              }
            }
          }
        },
        "operationId": "get_campaigns_campaignId"
      }
    },
    "/campaigns/{campaignId}/clone": {
      "post": {
        "tags": [
          "Campaign"
        ],
        "summary": "Clones an existing campaign.",
        "description": "This endpoint duplicates a campaign based on the provided campaign ID. It copies all campaign settings,\r\nincluding survey questions and design elements, but does not copy respondent data.\r\nThis operation requires authorization and is intended for use by organization administrators.",
        "parameters": [
          {
            "name": "campaignId",
            "in": "path",
            "description": "The ID of the campaign to clone.",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Indicates the campaign was successfully cloned. Returns the success message.",
            "content": {
              "application/json": {}
            }
          },
          "400": {
            "description": "Indicates an error occurred during the cloning process. Returns the error message.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          }
        },
        "operationId": "post_campaigns_campaignId_clone"
      }
    },
    "/campaigns/{campaignId}/SendTestEmail": {
      "post": {
        "tags": [
          "Campaign"
        ],
        "summary": "Sends a test email for a specified campaign.",
        "description": "This method generates and sends a test email to the specified address using the campaign's template and settings.\r\nIt is useful for previewing how the survey will appear to recipients.\r\nIf the campaign template is configured to send reminders, a preview reminder email is also sent.",
        "parameters": [
          {
            "name": "email",
            "in": "query",
            "description": "The email address to send the test email to.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "campaignId",
            "in": "path",
            "description": "The ID of the campaign for which to send a test email.",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Indicates the test email was successfully sent.",
            "content": {
              "application/json": {}
            }
          },
          "400": {
            "description": "Indicates an error occurred while attempting to send the test email.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          }
        },
        "operationId": "post_campaigns_campaignId_SendTestEmail"
      }
    },
    "/campaigns/organization/{cid}": {
      "post": {
        "tags": [
          "Campaign"
        ],
        "summary": "Adds respondents to a campaign if the provided hash matches the expected value.",
        "description": "This method is typically used in conjunction with personalized links or secure invitations. Note: P-GAP is not\r\napplicable for this endpoint.",
        "parameters": [
          {
            "name": "cid",
            "in": "path",
            "description": "The ID of the campaign to which respondents are being added.",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "prefixAndSha",
            "in": "query",
            "description": "A string containing the prefix and SHA-256 hash, separated by a '|'. The hash is used for\r\nvalidation.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "description": "A list of objects representing the respondents to be added.",
          "content": {
            "application/json": {
              "schema": {
                "type": "array",
                "items": {
                  "$ref": "#/components/schemas/CampaignMemberModel"
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Indicates that the respondents were successfully added to the campaign.",
            "content": {
              "application/json": {}
            }
          },
          "409": {
            "description": "Indicates a conflict, such as when the hash validation fails.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          }
        },
        "operationId": "post_campaigns_organization_cid"
      }
    },
    "/campaigns/template/{id}": {
      "get": {
        "tags": [
          "Campaign"
        ],
        "summary": "Retrieves the template for a given campaign member.",
        "description": "This endpoint allows for the retrieval of a campaign's template by specifying the campaign member's identifier.",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "The identifier of the campaign member whose template is to be retrieved.",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Returns the campaign template.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TemplateModel"
                }
              }
            }
          },
          "400": {
            "description": "Returns an error message if the template could not be retrieved.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          }
        },
        "operationId": "get_campaigns_template_id"
      }
    },
    "/campaigns/{campaignId}/respondents/{campaignMemberId}/resend": {
      "post": {
        "tags": [
          "Campaign"
        ],
        "summary": "Resends a survey to a specific campaign member.",
        "description": "This endpoint triggers the resend of a survey to a campaign member, identified by their campaign and member IDs.\r\nIt supports both email and SMS survey types. The operation requires the campaign member to have a valid email or\r\nSMS record.",
        "parameters": [
          {
            "name": "campaignId",
            "in": "path",
            "description": "The ID of the campaign associated with the member.",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "campaignMemberId",
            "in": "path",
            "description": "The ID of the campaign member to whom the survey will be resent.",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Indicates the survey was successfully resent.",
            "content": {
              "application/json": {}
            }
          },
          "400": {
            "description": "Indicates the survey could not be resent due to missing email or SMS data.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          },
          "404": {
            "description": "Indicates the specified campaign member was not found.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          }
        },
        "operationId": "post_campaigns_campaignId_respondents_campaignMemberId_resend"
      }
    },
    "/campaigns/{campaignId}/respondent": {
      "post": {
        "tags": [
          "Campaign"
        ],
        "summary": "Adds a respondent to a specific campaign.",
        "description": "This endpoint is used to add a single respondent to a campaign. It supports an optional check for P-GAP compliance.",
        "parameters": [
          {
            "name": "campaignId",
            "in": "path",
            "description": "The unique identifier of the campaign.",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "checkPgap",
            "in": "query",
            "description": "A boolean flag indicating whether to check for P-GAP compliance.",
            "schema": {
              "type": "boolean",
              "default": false
            }
          }
        ],
        "requestBody": {
          "description": "The campaign member model representing the respondent to be added.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CampaignMemberModel"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Indicates the respondent was successfully added.",
            "content": {
              "application/json": {}
            }
          },
          "400": {
            "description": "Indicates an error occurred, such as validation failure.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          }
        },
        "operationId": "post_campaigns_campaignId_respondent"
      }
    },
    "/campaigns/{campaignId}/respondents": {
      "post": {
        "tags": [
          "Campaign"
        ],
        "summary": "Adds a list of respondents to a specified campaign.",
        "description": "This endpoint allows for the bulk addition of respondents to a campaign. It checks for the ownership of the\r\ncampaign,\r\nvalidates the provided respondent data, and optionally checks for P-GAP compliance if specified. Respondents\r\nfailing\r\nvalidation are not added. This operation supports adding respondents in bulk but can also handle single additions,\r\nespecially for P-GAP compliance checks.",
        "parameters": [
          {
            "name": "campaignId",
            "in": "path",
            "description": "The unique identifier of the campaign to which respondents are being added.",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "checkPgap",
            "in": "query",
            "description": "A boolean flag indicating whether to check for P-GAP compliance for each respondent.",
            "schema": {
              "type": "boolean",
              "default": false
            }
          }
        ],
        "requestBody": {
          "description": "A list of objects representing the respondents to be added.",
          "content": {
            "application/json": {
              "schema": {
                "type": "array",
                "items": {
                  "$ref": "#/components/schemas/CampaignMemberModel"
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Indicates the respondents were successfully added or provides details on P-GAP requirements.",
            "content": {
              "application/json": {}
            }
          },
          "400": {
            "description": "Indicates an error occurred, such as validation failure or unauthorized campaign access.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          }
        },
        "operationId": "post_campaigns_campaignId_respondents"
      },
      "get": {
        "tags": [
          "Campaign"
        ],
        "summary": "Retrieves a list of respondents for a given campaign.",
        "description": "This endpoint fetches all respondents associated with a specific campaign. It is useful for obtaining a\r\ncomprehensive\r\nlist of participants in a campaign for further analysis or action. The operation is subject to the caller's access\r\npermissions\r\nto the campaign data.",
        "parameters": [
          {
            "name": "campaignId",
            "in": "path",
            "description": "The unique identifier of the campaign.",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Returns the list of respondents for the specified campaign.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/CampaignMemberModel"
                  }
                }
              }
            }
          },
          "404": {
            "description": "Indicates the specified campaign was not found.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          }
        },
        "operationId": "get_campaigns_campaignId_respondents"
      }
    },
    "/campaigns/{campaignId}/checkpgap": {
      "post": {
        "tags": [
          "Campaign"
        ],
        "summary": "Checks if an employee is in P-GAP for a specific campaign.",
        "description": "This endpoint assesses whether an employee meets the criteria for the  (P-GAP) for a given campaign.\r\nIt is used to ensure that only eligible employees are able to participate in certain campaigns, based on predefined\r\ncriteria.",
        "parameters": [
          {
            "name": "campaignId",
            "in": "path",
            "description": "The unique identifier of the campaign.",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          }
        ],
        "requestBody": {
          "description": "The model containing the employee's information.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/EmployeeModel"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Returns the P-GAP status of the employee for the specified campaign.",
            "content": {
              "application/json": {}
            }
          }
        },
        "operationId": "post_campaigns_campaignId_checkpgap"
      }
    },
    "/campaigns/{campaignId}/respondentInlineAuth": {
      "post": {
        "tags": [
          "Campaign"
        ],
        "summary": "Adds a respondent to a campaign with inline authentication.",
        "description": "This endpoint allows for the addition of a respondent to a specific campaign using inline authentication via an API\r\nkey.\r\nIt is designed to support scenarios where traditional authentication mechanisms are not feasible, such as\r\nintegrations with third-party services like Zendesk.\r\nThe API key must be included in the request payload. This method validates the API key, checks campaign ownership,\r\nand processes the respondent data.\r\nNote: P-GAP is not applicable for this endpoint.",
        "parameters": [
          {
            "name": "campaignId",
            "in": "path",
            "description": "The unique identifier of the campaign to which the respondent is being added.",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          }
        ],
        "requestBody": {
          "description": "The authentication object containing the API key and respondent information.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/AuthObject"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Indicates the respondent was successfully added to the campaign.",
            "content": {
              "application/json": {}
            }
          },
          "400": {
            "description": "Indicates a bad request, such as invalid data format.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          },
          "401": {
            "description": "Indicates unauthorized access due to an invalid or missing API key.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          }
        },
        "operationId": "post_campaigns_campaignId_respondentInlineAuth"
      }
    },
    "/campaigns/{campaignId}/GenerateLink": {
      "post": {
        "tags": [
          "Campaign"
        ],
        "summary": "Generates survey links for respondents of a given campaign.",
        "description": "This endpoint is responsible for generating unique survey links for each respondent of a campaign. These links are\r\nused\r\nby respondents to access and complete the survey. The operation adds respondents to the campaign if they are not\r\nalready\r\npart of it and then generates the survey links. Note: P-GAP is not applicable for this endpoint.",
        "parameters": [
          {
            "name": "campaignId",
            "in": "path",
            "description": "The unique identifier of the campaign.",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          }
        ],
        "requestBody": {
          "description": "A list of objects representing the respondents.",
          "content": {
            "application/json": {
              "schema": {
                "type": "array",
                "items": {
                  "$ref": "#/components/schemas/CampaignMemberModel"
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Returns the generated survey links for the respondents.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "type": "string"
                  }
                }
              }
            }
          }
        },
        "operationId": "post_campaigns_campaignId_GenerateLink"
      }
    },
    "/campaigns/{campaignId}/template": {
      "get": {
        "tags": [
          "Campaign"
        ],
        "summary": "Retrieves the template associated with a specific campaign.",
        "description": "This endpoint fetches the template details for a given campaign by its unique identifier. It includes information\r\nsuch as\r\nnotification triggers, attached categories, and language settings. This is useful for understanding the\r\nconfiguration and\r\ncontent of the campaign's communications.",
        "parameters": [
          {
            "name": "campaignId",
            "in": "path",
            "description": "The unique identifier of the campaign.",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Returns the template details for the specified campaign.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TemplateModel"
                }
              }
            }
          },
          "400": {
            "description": "Indicates no template was found for the given campaign ID.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          },
          "404": {
            "description": "Indicates the template could not be found in the database.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          }
        },
        "operationId": "get_campaigns_campaignId_template"
      }
    },
    "/campaigns/{campaignId}/categories": {
      "get": {
        "tags": [
          "Campaign"
        ],
        "summary": "Retrieves the list of response categories for a specific campaign.",
        "description": "This endpoint provides a list of all response categories associated with a given campaign. Response categories are\r\nused\r\nto classify and organize feedback received from respondents. This information is crucial for analyzing the feedback\r\nin\r\na structured manner.",
        "parameters": [
          {
            "name": "campaignId",
            "in": "path",
            "description": "The unique identifier of the campaign.",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Returns the list of response categories for the specified campaign.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/ResponseCategoryModel"
                  }
                }
              }
            }
          },
          "404": {
            "description": "Not Found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          },
          "default": {
            "description": "Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          }
        },
        "operationId": "get_campaigns_campaignId_categories"
      }
    },
    "/campaigns/responses": {
      "get": {
        "tags": [
          "Campaign"
        ],
        "summary": "Retrieves a paginated list of responses across all campaigns.",
        "description": "This endpoint provides a way to fetch a paginated list of responses from all campaigns. It supports filtering by\r\ndate,\r\ncategorization, and other criteria to refine the results. This is useful for analyzing responses across multiple\r\ncampaigns.",
        "parameters": [
          {
            "name": "skip",
            "in": "query",
            "description": "The number of items to skip before starting to collect the result set.",
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "take",
            "in": "query",
            "description": "The number of items to return.",
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "after",
            "in": "query",
            "description": "Filter responses received after this date.",
            "schema": {
              "type": "string",
              "format": "date-time"
            }
          },
          {
            "name": "before",
            "in": "query",
            "description": "Filter responses received before this date.",
            "schema": {
              "type": "string",
              "format": "date-time"
            }
          },
          {
            "name": "empty",
            "in": "query",
            "description": "Include responses with no feedback content.",
            "schema": {
              "type": "boolean",
              "default": false
            }
          },
          {
            "name": "uncategorizedOnly",
            "in": "query",
            "description": "Include only responses that have not been categorized.",
            "schema": {
              "type": "boolean",
              "default": false
            }
          },
          {
            "name": "order",
            "in": "query",
            "description": "The order in which to return responses.",
            "schema": {
              "$ref": "#/components/schemas/OrderBy"
            }
          },
          {
            "name": "includeDoNotContact",
            "in": "query",
            "description": "Include responses from participants marked 'Do Not Contact'.",
            "schema": {
              "type": "boolean",
              "default": false
            }
          },
          {
            "name": "name",
            "in": "query",
            "description": "Filter responses by participant name.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "modifiedAfter",
            "in": "query",
            "description": "Include responses modified after this date.",
            "schema": {
              "type": "string",
              "format": "date-time"
            }
          },
          {
            "name": "externalId",
            "in": "query",
            "description": "Filter responses by external participant ID.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "historic",
            "in": "query",
            "description": "Include historic responses.",
            "schema": {
              "type": "boolean",
              "default": true
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Returns the paginated list of responses.",
            "content": {
              "application/json": {}
            }
          }
        },
        "operationId": "get_campaigns_responses"
      },
      "post": {
        "tags": [
          "Campaign"
        ],
        "summary": "Retrieves a paginated list of responses from specified campaigns.",
        "description": "This endpoint allows fetching a paginated list of responses from a list of specified campaigns, with support for\r\nvarious filters.\r\nIt enables targeted analysis of responses from multiple specific campaigns.",
        "parameters": [
          {
            "name": "skip",
            "in": "query",
            "description": "The number of items to skip before starting to collect the result set.",
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "take",
            "in": "query",
            "description": "The number of items to return.",
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "after",
            "in": "query",
            "description": "Filter responses received after this date.",
            "schema": {
              "type": "string",
              "format": "date-time"
            }
          },
          {
            "name": "before",
            "in": "query",
            "description": "Filter responses received before this date.",
            "schema": {
              "type": "string",
              "format": "date-time"
            }
          },
          {
            "name": "empty",
            "in": "query",
            "description": "Include responses with no feedback content.",
            "schema": {
              "type": "boolean",
              "default": false
            }
          },
          {
            "name": "catOnly",
            "in": "query",
            "description": "Include only responses that have been categorized.",
            "schema": {
              "type": "boolean",
              "default": false
            }
          },
          {
            "name": "order",
            "in": "query",
            "description": "The order in which to return responses.",
            "schema": {
              "$ref": "#/components/schemas/OrderBy"
            }
          },
          {
            "name": "includeDoNotContact",
            "in": "query",
            "description": "Include responses from participants marked 'Do Not Contact'.",
            "schema": {
              "type": "boolean",
              "default": false
            }
          },
          {
            "name": "name",
            "in": "query",
            "description": "Filter responses by participant name.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "externalId",
            "in": "query",
            "description": "Filter responses by external participant ID.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "description": "A list of campaign IDs from which to fetch responses.",
          "content": {
            "application/json": {
              "schema": {
                "type": "array",
                "items": {
                  "type": "integer",
                  "format": "int32"
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Returns the paginated list of responses from the specified campaigns.",
            "content": {
              "application/json": {}
            }
          },
          "404": {
            "description": "Returns not found if no campaigns match the specified IDs.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
[...]
