{
  "openapi": "3.0.3",
  "info": {
    "title": "Google Ads API",
    "version": "17",
    "description": "Google Ads API for programmatic management of Google Ads campaigns, ad groups, ads, keywords, bidding strategies, budgets, audiences, and reporting. Provides search, mutate, and reporting interfaces for all Google Ads resources.",
    "x-jentic-source-url": "https://developers.google.com/google-ads/api/rest/reference/rest",
    "contact": {
      "name": "API Support"
    }
  },
  "servers": [
    {
      "url": "https://googleads.googleapis.com/v17"
    }
  ],
  "paths": {
    "/customers/{customerId}/googleAds:searchStream": {
      "post": {
        "operationId": "searchStream",
        "summary": "Search Google Ads resources (streaming)",
        "description": "Execute a GAQL query and stream results. Use this for large result sets.",
        "tags": [
          "Search"
        ],
        "parameters": [
          {
            "name": "customerId",
            "in": "path",
            "description": "Google Ads customer ID (without hyphens)",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "query"
                ],
                "properties": {
                  "query": {
                    "type": "string",
                    "description": "Google Ads Query Language (GAQL) query"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Search results stream",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SearchResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/customers/{customerId}/googleAds:search": {
      "post": {
        "operationId": "search",
        "summary": "Search Google Ads resources (paginated)",
        "description": "Execute a GAQL query with pagination.",
        "tags": [
          "Search"
        ],
        "parameters": [
          {
            "name": "customerId",
            "in": "path",
            "description": "Google Ads customer ID",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "query"
                ],
                "properties": {
                  "query": {
                    "type": "string"
                  },
                  "pageSize": {
                    "type": "integer",
                    "maximum": 10000
                  },
                  "pageToken": {
                    "type": "string"
                  },
                  "returnTotalResultsCount": {
                    "type": "boolean"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Paginated search results",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SearchResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/customers/{customerId}/campaigns:mutate": {
      "post": {
        "operationId": "mutateCampaigns",
        "summary": "Mutate Campaigns",
        "description": "Create, update, or remove campaigns.",
        "tags": [
          "Campaigns"
        ],
        "parameters": [
          {
            "name": "customerId",
            "in": "path",
            "description": "Google Ads customer ID",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "operations"
                ],
                "properties": {
                  "operations": {
                    "type": "array",
                    "items": {
                      "type": "object",
                      "properties": {
                        "create": {
                          "type": "object"
                        },
                        "update": {
                          "type": "object"
                        },
                        "remove": {
                          "type": "string"
                        },
                        "updateMask": {
                          "type": "string"
                        }
                      }
                    }
                  },
                  "partialFailure": {
                    "type": "boolean"
                  },
                  "validateOnly": {
                    "type": "boolean"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Campaigns mutated",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/MutateResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/customers/{customerId}/adGroups:mutate": {
      "post": {
        "operationId": "mutateAdGroups",
        "summary": "Mutate Ad Groups",
        "description": "Create, update, or remove ad groups.",
        "tags": [
          "Ad Groups"
        ],
        "parameters": [
          {
            "name": "customerId",
            "in": "path",
            "description": "Google Ads customer ID",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "operations"
                ],
                "properties": {
                  "operations": {
                    "type": "array",
                    "items": {
                      "type": "object",
                      "properties": {
                        "create": {
                          "type": "object"
                        },
                        "update": {
                          "type": "object"
                        },
                        "remove": {
                          "type": "string"
                        },
                        "updateMask": {
                          "type": "string"
                        }
                      }
                    }
                  },
                  "partialFailure": {
                    "type": "boolean"
                  },
                  "validateOnly": {
                    "type": "boolean"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Ad Groups mutated",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/MutateResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/customers/{customerId}/adGroupAds:mutate": {
      "post": {
        "operationId": "mutateAdGroupAds",
        "summary": "Mutate Ad Group Ads",
        "description": "Create, update, or remove ad group ads.",
        "tags": [
          "Ad Group Ads"
        ],
        "parameters": [
          {
            "name": "customerId",
            "in": "path",
            "description": "Google Ads customer ID",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "operations"
                ],
                "properties": {
                  "operations": {
                    "type": "array",
                    "items": {
                      "type": "object",
                      "properties": {
                        "create": {
                          "type": "object"
                        },
                        "update": {
                          "type": "object"
                        },
                        "remove": {
                          "type": "string"
                        },
                        "updateMask": {
                          "type": "string"
                        }
                      }
                    }
                  },
                  "partialFailure": {
                    "type": "boolean"
                  },
                  "validateOnly": {
                    "type": "boolean"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Ad Group Ads mutated",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/MutateResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/customers/{customerId}/adGroupCriteria:mutate": {
      "post": {
        "operationId": "mutateAdGroupCriteria",
        "summary": "Mutate Ad Group Criteria",
        "description": "Create, update, or remove ad group criteria.",
        "tags": [
          "Ad Group Criteria"
        ],
        "parameters": [
          {
            "name": "customerId",
            "in": "path",
            "description": "Google Ads customer ID",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "operations"
                ],
                "properties": {
                  "operations": {
                    "type": "array",
                    "items": {
                      "type": "object",
                      "properties": {
                        "create": {
                          "type": "object"
                        },
                        "update": {
                          "type": "object"
                        },
                        "remove": {
                          "type": "string"
                        },
                        "updateMask": {
                          "type": "string"
                        }
                      }
                    }
                  },
                  "partialFailure": {
                    "type": "boolean"
                  },
                  "validateOnly": {
                    "type": "boolean"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Ad Group Criteria mutated",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/MutateResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/customers/{customerId}/adGroupBidModifiers:mutate": {
      "post": {
        "operationId": "mutateAdGroupBidModifiers",
        "summary": "Mutate Ad Group Bid Modifiers",
        "description": "Create, update, or remove ad group bid modifiers.",
        "tags": [
          "Ad Group Bid Modifiers"
        ],
        "parameters": [
          {
            "name": "customerId",
            "in": "path",
            "description": "Google Ads customer ID",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "operations"
                ],
                "properties": {
                  "operations": {
                    "type": "array",
                    "items": {
                      "type": "object",
                      "properties": {
                        "create": {
                          "type": "object"
                        },
                        "update": {
                          "type": "object"
                        },
                        "remove": {
                          "type": "string"
                        },
                        "updateMask": {
                          "type": "string"
                        }
                      }
                    }
                  },
                  "partialFailure": {
                    "type": "boolean"
                  },
                  "validateOnly": {
                    "type": "boolean"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Ad Group Bid Modifiers mutated",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/MutateResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/customers/{customerId}/campaignBudgets:mutate": {
      "post": {
        "operationId": "mutateCampaignBudgets",
        "summary": "Mutate Campaign Budgets",
        "description": "Create, update, or remove campaign budgets.",
        "tags": [
          "Campaign Budgets"
        ],
        "parameters": [
          {
            "name": "customerId",
            "in": "path",
            "description": "Google Ads customer ID",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "operations"
                ],
                "properties": {
                  "operations": {
                    "type": "array",
                    "items": {
                      "type": "object",
                      "properties": {
                        "create": {
                          "type": "object"
                        },
                        "update": {
                          "type": "object"
                        },
                        "remove": {
                          "type": "string"
                        },
                        "updateMask": {
                          "type": "string"
                        }
                      }
                    }
                  },
                  "partialFailure": {
                    "type": "boolean"
                  },
                  "validateOnly": {
                    "type": "boolean"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Campaign Budgets mutated",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/MutateResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/customers/{customerId}/campaignCriteria:mutate": {
      "post": {
        "operationId": "mutateCampaignCriteria",
        "summary": "Mutate Campaign Criteria",
        "description": "Create, update, or remove campaign criteria.",
        "tags": [
          "Campaign Criteria"
        ],
        "parameters": [
          {
            "name": "customerId",
            "in": "path",
            "description": "Google Ads customer ID",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "operations"
                ],
                "properties": {
                  "operations": {
                    "type": "array",
                    "items": {
                      "type": "object",
                      "properties": {
                        "create": {
                          "type": "object"
                        },
                        "update": {
                          "type": "object"
                        },
                        "remove": {
                          "type": "string"
                        },
                        "updateMask": {
                          "type": "string"
                        }
                      }
                    }
                  },
                  "partialFailure": {
                    "type": "boolean"
                  },
                  "validateOnly": {
                    "type": "boolean"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Campaign Criteria mutated",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/MutateResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/customers/{customerId}/campaignBidModifiers:mutate": {
      "post": {
        "operationId": "mutateCampaignBidModifiers",
        "summary": "Mutate Campaign Bid Modifiers",
        "description": "Create, update, or remove campaign bid modifiers.",
        "tags": [
          "Campaign Bid Modifiers"
        ],
        "parameters": [
          {
            "name": "customerId",
            "in": "path",
            "description": "Google Ads customer ID",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "operations"
                ],
                "properties": {
                  "operations": {
                    "type": "array",
                    "items": {
                      "type": "object",
                      "properties": {
                        "create": {
                          "type": "object"
                        },
                        "update": {
                          "type": "object"
                        },
                        "remove": {
                          "type": "string"
                        },
                        "updateMask": {
                          "type": "string"
                        }
                      }
                    }
                  },
                  "partialFailure": {
                    "type": "boolean"
                  },
                  "validateOnly": {
                    "type": "boolean"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Campaign Bid Modifiers mutated",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/MutateResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/customers/{customerId}/biddingStrategies:mutate": {
      "post": {
        "operationId": "mutateBiddingStrategies",
        "summary": "Mutate Bidding Strategies",
        "description": "Create, update, or remove bidding strategies.",
        "tags": [
          "Bidding Strategies"
        ],
        "parameters": [
          {
            "name": "customerId",
            "in": "path",
            "description": "Google Ads customer ID",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "operations"
                ],
                "properties": {
                  "operations": {
                    "type": "array",
                    "items": {
                      "type": "object",
                      "properties": {
                        "create": {
                          "type": "object"
                        },
                        "update": {
                          "type": "object"
                        },
                        "remove": {
                          "type": "string"
                        },
                        "updateMask": {
                          "type": "string"
                        }
                      }
                    }
                  },
                  "partialFailure": {
                    "type": "boolean"
                  },
                  "validateOnly": {
                    "type": "boolean"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Bidding Strategies mutated",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/MutateResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/customers/{customerId}/keywords:mutate": {
      "post": {
        "operationId": "mutateKeywords",
        "summary": "Mutate Keywords",
        "description": "Create, update, or remove keywords.",
        "tags": [
          "Keywords"
        ],
        "parameters": [
          {
            "name": "customerId",
            "in": "path",
            "description": "Google Ads customer ID",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "operations"
                ],
                "properties": {
                  "operations": {
                    "type": "array",
                    "items": {
                      "type": "object",
                      "properties": {
                        "create": {
                          "type": "object"
                        },
                        "update": {
                          "type": "object"
                        },
                        "remove": {
                          "type": "string"
                        },
                        "updateMask": {
                          "type": "string"
                        }
                      }
                    }
                  },
                  "partialFailure": {
                    "type": "boolean"
                  },
                  "validateOnly": {
                    "type": "boolean"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Keywords mutated",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/MutateResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/customers/{customerId}/ads:mutate": {
      "post": {
        "operationId": "mutateAds",
        "summary": "Mutate Ads",
        "description": "Create, update, or remove ads.",
        "tags": [
          "Ads"
        ],
        "parameters": [
          {
            "name": "customerId",
            "in": "path",
            "description": "Google Ads customer ID",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "operations"
                ],
                "properties": {
                  "operations": {
                    "type": "array",
                    "items": {
                      "type": "object",
                      "properties": {
                        "create": {
                          "type": "object"
                        },
                        "update": {
                          "type": "object"
                        },
                        "remove": {
                          "type": "string"
                        },
                        "updateMask": {
                          "type": "string"
                        }
                      }
                    }
                  },
                  "partialFailure": {
                    "type": "boolean"
                  },
                  "validateOnly": {
                    "type": "boolean"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Ads mutated",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/MutateResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/customers/{customerId}/assets:mutate": {
      "post": {
        "operationId": "mutateAssets",
        "summary": "Mutate Assets",
        "description": "Create, update, or remove assets.",
        "tags": [
          "Assets"
        ],
        "parameters": [
          {
            "name": "customerId",
            "in": "path",
            "description": "Google Ads customer ID",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "operations"
                ],
                "properties": {
                  "operations": {
                    "type": "array",
                    "items": {
                      "type": "object",
                      "properties": {
                        "create": {
                          "type": "object"
                        },
                        "update": {
                          "type": "object"
                        },
                        "remove": {
                          "type": "string"
                        },
                        "updateMask": {
                          "type": "string"
                        }
                      }
                    }
                  },
                  "partialFailure": {
                    "type": "boolean"
                  },
                  "validateOnly": {
                    "type": "boolean"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Assets mutated",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/MutateResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/customers/{customerId}/assetGroups:mutate": {
      "post": {
        "operationId": "mutateAssetGroups",
        "summary": "Mutate Asset Groups",
        "description": "Create, update, or remove asset groups.",
        "tags": [
          "Asset Groups"
        ],
        "parameters": [
          {
            "name": "customerId",
            "in": "path",
            "description": "Google Ads customer ID",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "operations"
                ],
                "properties": {
                  "operations": {
                    "type": "array",
                    "items": {
                      "type": "object",
                      "properties": {
                        "create": {
                          "type": "object"
                        },
                        "update": {
                          "type": "object"
                        },
                        "remove": {
                          "type": "string"
                        },
                        "updateMask": {
                          "type": "string"
                        }
                      }
                    }
                  },
                  "partialFailure": {
                    "type": "boolean"
                  },
                  "validateOnly": {
                    "type": "boolean"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Asset Groups mutated",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/MutateResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/customers/{customerId}/assetGroupAssets:mutate": {
      "post": {
        "operationId": "mutateAssetGroupAssets",
        "summary": "Mutate Asset Group Assets",
        "description": "Create, update, or remove asset group assets.",
        "tags": [
          "Asset Group Assets"
        ],
        "parameters": [
          {
            "name": "customerId",
            "in": "path",
            "description": "Google Ads customer ID",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "operations"
                ],
                "properties": {
                  "operations": {
                    "type": "array",
                    "items": {
                      "type": "object",
                      "properties": {
                        "create": {
                          "type": "object"
                        },
                        "update": {
                          "type": "object"
                        },
                        "remove": {
                          "type": "string"
                        },
                        "updateMask": {
                          "type": "string"
                        }
                      }
                    }
                  },
                  "partialFailure": {
                    "type": "boolean"
                  },
                  "validateOnly": {
                    "type": "boolean"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Asset Group Assets mutated",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/MutateResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/customers/{customerId}/audiences:mutate": {
      "post": {
        "operationId": "mutateAudiences",
        "summary": "Mutate Audiences",
        "description": "Create, update, or remove audiences.",
        "tags": [
          "Audiences"
        ],
        "parameters": [
          {
            "name": "customerId",
            "in": "path",
            "description": "Google Ads customer ID",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "operations"
                ],
                "properties": {
                  "operations": {
                    "type": "array",
                    "items": {
                      "type": "object",
                      "properties": {
                        "create": {
                          "type": "object"
                        },
                        "update": {
                          "type": "object"
                        },
                        "remove": {
                          "type": "string"
                        },
                        "updateMask": {
                          "type": "string"
                        }
                      }
                    }
                  },
                  "partialFailure": {
                    "type": "boolean"
                  },
                  "validateOnly": {
                    "type": "boolean"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Audiences mutated",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/MutateResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/customers/{customerId}/campaignLabels:mutate": {
      "post": {
        "operationId": "mutateCampaignLabels",
        "summary": "Mutate Campaign Labels",
        "description": "Create, update, or remove campaign labels.",
        "tags": [
          "Campaign Labels"
        ],
        "parameters": [
          {
            "name": "customerId",
            "in": "path",
            "description": "Google Ads customer ID",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "operations"
                ],
                "properties": {
                  "operations": {
                    "type": "array",
                    "items": {
                      "type": "object",
                      "properties": {
                        "create": {
                          "type": "object"
                        },
                        "update": {
                          "type": "object"
                        },
                        "remove": {
                          "type": "string"
                        },
                        "updateMask": {
                          "type": "string"
                        }
                      }
                    }
                  },
                  "partialFailure": {
                    "type": "boolean"
                  },
                  "validateOnly": {
                    "type": "boolean"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Campaign Labels mutated",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/MutateResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/customers/{customerId}/adGroupLabels:mutate": {
      "post": {
        "operationId": "mutateAdGroupLabels",
        "summary": "Mutate Ad Group Labels",
        "description": "Create, update, or remove ad group labels.",
        "tags": [
          "Ad Group Labels"
        ],
        "parameters": [
          {
            "name": "customerId",
            "in": "path",
            "description": "Google Ads customer ID",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "operations"
                ],
                "properties": {
                  "operations": {
                    "type": "array",
                    "items": {
                      "type": "object",
                      "properties": {
                        "create": {
                          "type": "object"
                        },
                        "update": {
                          "type": "object"
                        },
                        "remove": {
                          "type": "string"
                        },
                        "updateMask": {
                          "type": "string"
                        }
                      }
                    }
                  },
                  "partialFailure": {
                    "type": "boolean"
                  },
                  "validateOnly": {
                    "type": "boolean"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Ad Group Labels mutated",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/MutateResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/customers/{customerId}/labels:mutate": {
      "post": {
        "operationId": "mutateLabels",
        "summary": "Mutate Labels",
        "description": "Create, update, or remove labels.",
        "tags": [
          "Labels"
        ],
        "parameters": [
          {
            "name": "customerId",
            "in": "path",
            "description": "Google Ads customer ID",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "operations"
                ],
                "properties": {
                  "operations": {
                    "type": "array",
                    "items": {
                      "type": "object",
                      "properties": {
                        "create": {
                          "type": "object"
                        },
                        "update": {
                          "type": "object"
                        },
                        "remove": {
                          "type": "string"
                        },
                        "updateMask": {
                          "type": "string"
                        }
                      }
                    }
                  },
                  "partialFailure": {
                    "type": "boolean"
                  },
                  "validateOnly": {
                    "type": "boolean"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Labels mutated",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/MutateResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/customers/{customerId}/extensionFeedItems:mutate": {
      "post": {
        "operationId": "mutateExtensionFeedItems",
        "summary": "Mutate Extension Feed Items",
        "description": "Create, update, or remove extension feed items.",
        "tags": [
          "Extension Feed Items"
        ],
        "parameters": [
          {
            "name": "customerId",
            "in": "path",
            "description": "Google Ads customer ID",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "operations"
                ],
                "properties": {
                  "operations": {
                    "type": "array",
                    "items": {
                      "type": "object",
                      "properties": {
                        "create": {
                          "type": "object"
                        },
                        "update": {
                          "type": "object"
                        },
                        "remove": {
                          "type": "string"
                        },
                        "updateMask": {
                          "type": "string"
                        }
                      }
                    }
                  },
                  "partialFailure": {
                    "type": "boolean"
                  },
                  "validateOnly": {
                    "type": "boolean"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Extension Feed Items mutated",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/MutateResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/customers/{customerId}/feedItems:mutate": {
      "post": {
        "operationId": "mutateFeedItems",
        "summary": "Mutate Feed Items",
        "description": "Create, update, or remove feed items.",
        "tags": [
          "Feed Items"
        ],
        "parameters": [
          {
            "name": "customerId",
            "in": "path",
            "description": "Google Ads customer ID",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "operations"
                ],
                "properties": {
                  "operations": {
                    "type": "array",
                    "items": {
                      "type": "object",
                      "properties": {
                        "create": {
                          "type": "object"
                        },
                        "update": {
                          "type": "object"
                        },
                        "remove": {
                          "type": "string"
                        },
                        "updateMask": {
                          "type": "string"
                        }
                      }
                    }
                  },
                  "partialFailure": {
                    "type": "boolean"
                  },
                  "validateOnly": {
                    "type": "boolean"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Feed Items mutated",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/MutateResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/customers/{customerId}/feeds:mutate": {
      "post": {
        "operationId": "mutateFeeds",
        "summary": "Mutate Feeds",
        "description": "Create, update, or remove feeds.",
        "tags": [
          "Feeds"
        ],
        "parameters": [
          {
            "name": "customerId",
            "in": "path",
            "description": "Google Ads customer ID",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "operations"
                ],
                "properties": {
                  "operations": {
                    "type": "array",
                    "items": {
                      "type": "object",
                      "properties": {
                        "create": {
                          "type": "object"
                        },
                        "update": {
                          "type": "object"
                        },
                        "remove": {
                          "type": "string"
                        },
                        "updateMask": {
                          "type": "string"
                        }
                      }
                    }
                  },
                  "partialFailure": {
                    "type": "boolean"
                  },
                  "validateOnly": {
                    "type": "boolean"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Feeds mutated",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/MutateResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/customers/{customerId}/conversionActions:mutate": {
      "post": {
        "operationId": "mutateConversionActions",
        "summary": "Mutate Conversion Actions",
        "description": "Create, update, or remove conversion actions.",
        "tags": [
          "Conversion Actions"
        ],
        "parameters": [
          {
            "name": "customerId",
            "in": "path",
            "description": "Google Ads customer ID",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "operations"
                ],
                "properties": {
                  "operations": {
                    "type": "array",
                    "items": {
                      "type": "object",
                      "properties": {
                        "create": {
                          "type": "object"
                        },
                        "update": {
                          "type": "object"
                        },
                        "remove": {
                          "type": "string"
                        },
                        "updateMask": {
                          "type": "string"
                        }
                      }
                    }
                  },
                  "partialFailure": {
                    "type": "boolean"
                  },
                  "validateOnly": {
                    "type": "boolean"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Conversion Actions mutated",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/MutateResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/customers/{customerId}/conversionCustomVariables:mutate": {
      "post": {
        "operationId": "mutateConversionCustomVariables",
        "summary": "Mutate Conversion Custom Variables",
        "description": "Create, update, or remove conversion custom variables.",
        "tags": [
          "Conversion Custom Variables"
        ],
        "parameters": [
          {
            "name": "customerId",
            "in": "path",
            "description": "Google Ads customer ID",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "operations"
                ],
                "properties": {
                  "operations": {
                    "type": "array",
                    "items": {
                      "type": "object",
                      "properties": {
                        "create": {
                          "type": "object"
                        },
                        "update": {
                          "type": "object"
                        },
                        "remove": {
                          "type": "string"
                        },
                        "updateMask": {
                          "type": "string"
                        }
                      }
                    }
                  },
                  "partialFailure": {
                    "type": "boolean"
                  },
                  "validateOnly": {
                    "type": "boolean"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Conversion Custom Variables mutated",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/MutateResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/customers/{customerId}/remarketingActions:mutate": {
      "post": {
        "operationId": "mutateRemarketingActions",
        "summary": "Mutate Remarketing Actions",
        "description": "Create, update, or remove remarketing actions.",
        "tags": [
          "Remarketing Actions"
        ],
        "parameters": [
          {
            "name": "customerId",
            "in": "path",
            "description": "Google Ads customer ID",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "operations"
                ],
                "properties": {
                  "operations": {
                    "type": "array",
                    "items": {
                      "type": "object",
                      "properties": {
                        "create": {
                          "type": "object"
                        },
                        "update": {
                          "type": "object"
                        },
                        "remove": {
                          "type": "string"
                        },
                        "updateMask": {
                          "type": "string"
                        }
                      }
                    }
                  },
                  "partialFailure": {
                    "type": "boolean"
                  },
                  "validateOnly": {
                    "type": "boolean"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Remarketing Actions mutated",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/MutateResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/customers/{customerId}/userLists:mutate": {
      "post": {
        "operationId": "mutateUserLists",
        "summary": "Mutate User Lists",
        "description": "Create, update, or remove user lists.",
        "tags": [
          "User Lists"
        ],
        "parameters": [
          {
            "name": "customerId",
            "in": "path",
            "description": "Google Ads customer ID",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "operations"
                ],
                "properties": {
                  "operations": {
                    "type": "array",
                    "items": {
                      "type": "object",
                      "properties": {
                        "create": {
                          "type": "object"
                        },
                        "update": {
                          "type": "object"
                        },
                        "remove": {
                          "type": "string"
                        },
                        "updateMask": {
                          "type": "string"
                        }
                      }
                    }
                  },
                  "partialFailure": {
                    "type": "boolean"
                  },
                  "validateOnly": {
                    "type": "boolean"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "User Lists mutated",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/MutateResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/customers/{customerId}/sharedSets:mutate": {
      "post": {
        "operationId": "mutateSharedSets",
        "summary": "Mutate Shared Sets",
        "description": "Create, update, or remove shared sets.",
        "tags": [
          "Shared Sets"
        ],
        "parameters": [
          {
            "name": "customerId",
            "in": "path",
            "description": "Google Ads customer ID",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "operations"
                ],
                "properties": {
                  "operations": {
                    "type": "array",
                    "items": {
                      "type": "object",
                      "properties": {
                        "create": {
                          "type": "object"
                        },
                        "update": {
                          "type": "object"
                        },
                        "remove": {
                          "type": "string"
                        },
                        "updateMask": {
                          "type": "string"
                        }
                      }
                    }
                  },
                  "partialFailure": {
                    "type": "boolean"
                  },
                  "validateOnly": {
                    "type": "boolean"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Shared Sets mutated",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/MutateResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/customers/{customerId}/sharedCriteria:mutate": {
      "post": {
        "operationId": "mutateSharedCriteria",
        "summary": "Mutate Shared Criteria",
        "description": "Create, update, or remove shared criteria.",
        "tags": [
          "Shared Criteria"
        ],
        "parameters": [
          {
            "name": "customerId",
            "in": "path",
            "description": "Google Ads customer ID",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "operations"
                ],
                "properties": {
                  "operations": {
                    "type": "array",
                    "items": {
                      "type": "object",
                      "properties": {
                        "create": {
                          "type": "object"
                        },
                        "update": {
                          "type": "object"
                        },
                        "remove": {
                          "type": "string"
                        },
                        "updateMask": {
                          "type": "string"
                        }
                      }
                    }
                  },
                  "partialFailure": {
                    "type": "boolean"
                  },
                  "validateOnly": {
                    "type": "boolean"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Shared Criteria mutated",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/MutateResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/customers/{customerId}/campaignSharedSets:mutate": {
      "post": {
        "operationId": "mutateCampaignSharedSets",
        "summary": "Mutate Campaign Shared Sets",
        "description": "Create, update, or remove campaign shared sets.",
        "tags": [
          "Campaign Shared Sets"
        ],
        "parameters": [
          {
            "name": "customerId",
            "in": "path",
            "description": "Google Ads customer ID",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "operations"
                ],
                "properties": {
                  "operations": {
                    "type": "array",
                    "items": {
                      "type": "object",
                      "properties": {
                        "create": {
                          "type": "object"
                        },
                        "update": {
                          "type": "object"
                        },
                        "remove": {
                          "type": "string"
                        },
                        "updateMask": {
                          "type": "string"
                        }
                      }
                    }
                  },
                  "partialFailure": {
                    "type": "boolean"
                  },
                  "validateOnly": {
                    "type": "boolean"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Campaign Shared Sets mutated",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/MutateResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/customers/{customerId}/customerNegativeCriteria:mutate": {
      "post": {
        "operationId": "mutateCustomerNegativeCriteria",
        "summary": "Mutate Customer Negative Criteria",
        "description": "Create, update, or remove customer negative criteria.",
        "tags": [
          "Customer Negative Criteria"
        ],
        "parameters": [
          {
            "name": "customerId",
            "in": "path",
            "description": "Google Ads customer ID",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "operations"
                ],
                "properties": {
                  "operations": {
                    "type": "array",
                    "items": {
                      "type": "object",
                      "properties": {
                        "create": {
                          "type": "object"
                        },
                        "update": {
                          "type": "object"
                        },
                        "remove": {
                          "type": "string"
                        },
                        "updateMask": {
                          "type": "string"
                        }
                      }
                    }
                  },
                  "partialFailure": {
                    "type": "boolean"
                  },
                  "validateOnly": {
                    "type": "boolean"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Customer Negative Criteria mutated",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/MutateResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/customers/{customerId}/experiments:mutate": {
      "post": {
        "operationId": "mutateExperiments",
        "summary": "Mutate Experiments",
        "description": "Create, update, or remove experiments.",
        "tags": [
          "Experiments"
        ],
        "parameters": [
          {
            "name": "customerId",
            "in": "path",
            "description": "Google Ads customer ID",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "operations"
                ],
                "properties": {
                  "operations": {
                    "type": "array",
                    "items": {
                      "type": "object",
                      "properties": {
                        "create": {
                          "type": "object"
                        },
                        "update": {
                          "type": "object"
                        },
                        "remove": {
                          "type": "string"
                        },
                        "updateMask": {
                          "type": "string"
                        }
                      }
                    }
                  },
                  "partialFailure": {
                    "type": "boolean"
                  },
                  "validateOnly": {
                    "type": "boolean"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Experiments mutated",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/MutateResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/customers/{customerId}/experimentArms:mutate": {
      "post": {
        "operationId": "mutateExperimentArms",
        "summary": "Mutate Experiment Arms",
        "description": "Create, update, or remove experiment arms.",
        "tags": [
          "Experiment Arms"
        ],
        "parameters": [
          {
            "name": "customerId",
            "in": "path",
            "description": "Google Ads customer ID",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "operations"
                ],
                "properties": {
                  "operations": {
                    "type": "array",
                    "items": {
                      "type": "object",
                      "properties": {
                        "create": {
                          "type": "object"
                        },
                        "update": {
                          "type": "object"
                        },
                        "remove": {
                          "type": "string"
                        },
                        "updateMask": {
                          "type": "string"
                        }
                      }
                    }
                  },
                  "partialFailure": {
                    "type": "boolean"
                  },
                  "validateOnly": {
                    "type": "boolean"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Experiment Arms mutated",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/MutateResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/customers/{customerId}/customAudiences:mutate": {
      "post": {
        "operationId": "mutateCustomAudiences",
        "summary": "Mutate Custom Audiences",
        "description": "Create, update, or remove custom audiences.",
        "tags": [
          "Custom Audiences"
        ],
        "parameters": [
          {
            "name": "customerId",
            "in": "path",
            "description": "Google Ads customer ID",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "operations"
                ],
                "properties": {
                  "operations": {
                    "type": "array",
                    "items": {
                      "type": "object",
                      "properties": {
                        "create": {
                          "type": "object"
                        },
                        "update": {
                          "type": "object"
                        },
                        "remove": {
                          "type": "string"
                        },
                        "updateMask": {
                          "type": "string"
                        }
                      }
                    }
                  },
                  "partialFailure": {
                    "type": "boolean"
                  },
                  "validateOnly": {
                    "type": "boolean"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Custom Audiences mutated",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/MutateResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/customers/{customerId}/combinedAudiences:mutate": {
      "post": {
        "operationId": "mutateCombinedAudiences",
        "summary": "Mutate Combined Audiences",
        "description": "Create, update, or remove combined audiences.",
        "tags": [
          "Combined Audiences"
        ],
        "parameters": [
          {
            "name": "customerId",
            "in": "path",
            "description": "Google Ads customer ID",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "operations"
                ],
                "properties": {
                  "operations": {
                    "type": "array",
                    "items": {
                      "type": "object",
                      "properties": {
                        "create": {
                          "type": "object"
                        },
                        "update": {
                          "type": "object"
                        },
                        "remove": {
                          "type": "string"
                        },
                        "updateMask": {
                          "type": "string"
                        }
                      }
                    }
                  },
                  "partialFailure": {
                    "type": "boolean"
                  },
                  "validateOnly": {
                    "type": "boolean"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Combined Audiences mutated",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/MutateResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/customers/{customerId}/smartCampaignSettings:mutate": {
      "post": {
        "operationId": "mutateSmartCampaignSettings",
        "summary": "Mutate Smart Campaigns",
        "description": "Create, update, or remove smart campaigns.",
        "tags": [
          "Smart Campaigns"
        ],
        "parameters": [
          {
            "name": "customerId",
            "in": "path",
            "description": "Google Ads customer ID",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "operations"
                ],
                "properties": {
                  "operations": {
                    "type": "array",
                    "items": {
                      "type": "object",
                      "properties": {
                        "create": {
                          "type": "object"
                        },
                        "update": {
                          "type": "object"
                        },
                        "remove": {
                          "type": "string"
                        },
                        "updateMask": {
                          "type": "string"
                        }
                      }
                    }
                  },
                  "partialFailure": {
                    "type": "boolean"
                  },
                  "validateOnly": {
                    "type": "boolean"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Smart Campaigns mutated",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/MutateResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/customers/{customerId}/recommendations:mutate": {
      "post": {
        "operationId": "mutateRecommendations",
        "summary": "Mutate Recommendations",
        "description": "Create, update, or remove recommendations.",
        "tags": [
          "Recommendations"
        ],
        "parameters": [
          {
            "name": "customerId",
            "in": "path",
            "description": "Google Ads customer ID",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "operations"
                ],
                "properties": {
                  "operations": {
                    "type": "array",
                    "items": {
                      "type": "object",
                      "properties": {
                        "create": {
                          "type": "object"
                        },
                        "update": {
                          "type": "object"
                        },
                        "remove": {
                          "type": "string"
                        },
                        "updateMask": {
                          "type": "string"
                        }
                      }
                    }
                  },
                  "partialFailure": {
                    "type": "boolean"
                  },
                  "validateOnly": {
                    "type": "boolean"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Recommendations mutated",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/MutateResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/customers/{customerId}:listAccessibleCustomers": {
      "get": {
        "operationId": "listAccessibleCustomers",
        "summary": "List accessible customers",
        "tags": [
          "Customers"
        ],
        "parameters": [
          {
            "name": "customerId",
            "in": "path",
            "description": "Customer ID",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "List of customer resource names",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "resourceNames": {
                      "type": "array",
                      "items": {
                        "type": "string"
                      }
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "description": "List accessible customers"
      }
    },
    "/customers/{customerId}/keywordPlans:mutate": {
      "post": {
        "operationId": "mutateKeywordPlans",
        "summary": "Mutate keyword plans",
        "tags": [
          "Keyword Planning"
        ],
        "parameters": [
          {
            "name": "customerId",
            "in": "path",
            "description": "Customer ID",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
[...]
