{
  "openapi": "3.0.3",
  "info": {
    "title": "Auto Close Bill",
    "version": "1.0.0",
    "contact": {},
    "x-jentic-source-url": "https://api.swaggerhub.com/apis/com7-f8e/auto-close-bill/1.0.0"
  },
  "servers": [
    {
      "url": "http://lspetpaw.webhop.net"
    }
  ],
  "paths": {
    "/com7_uat/api/beta/companies(31eba1a4-2c1f-4d77-8158-f921093b42e3)/CreateOrderPOS": {
      "post": {
        "summary": "AutoCloseBill (UAT)",
        "description": "AutoCloseBill (UAT)",
        "operationId": "autoclosebillUat",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "jsonEncrypt": {
                    "type": "string",
                    "example": "ewogICAiT3JkZXJJRCI6Ik9SREVSMDAwMTAwNyIsCiAgICJPcmRlckRhdGUiOiIyMDI1LTA2LTI3IiwKICAgIkN1c3RJRCI6IjExMDIwMDIwNzUyMjgiLAogICAiQ3VzdE5hbWUiOiLguJnguLLguKIg4Liq4Li44Lie4LiI4LiZ4LmMICDguKrguLjguJfguLLguJjguKPguKPguKEiLAogICAiQ3VzdEFkZHJlc3MiOiLguJrguYnguLLguJnguYDguKXguILguJfguLXguYggMjIg4Lir4Lih4Li54LmI4LiX4Li14LmIIDcg4LiV4Liz4Lia4Lil4LmA4LiK4Li14Lii4LiH4LmA4LiE4Lij4Li34LitIOC4reC4s+C5gOC4oOC4reC5gOC4oeC4t+C4reC4h+C4geC4suC4rOC4quC4tOC4meC4mOC4uOC5jCIsCiAgICJDdXN0Q2l0eSI6IuC4geC4suC4rOC4quC4tOC4meC4mOC4uOC5jCIsCiAgICJDdXN0UG9zdENvZGUiOiI0NjAwMCIsCiAgICJDdXN0UGhvbmVObyI6IjEyMzQ1Njc4OSIsCiAgICJDdXN0TW9iaWxlTm8iOiIwODkwMDAwMDAwIiwKICAgIkN1c3RFbWFpbCI6InN1cG90LnNAY29tc2V2ZW4uY29tIiwKICAgIkN1c3RUYXhJRCI6IjExMDIwMDIwNzUyMjgiLAogICAiQ3VzdEJyYW5jaE5vIjoiMDAwMDAiLAogICAiT3JkZXJMaW5lcyI6WwogICAgICB7CiAgICAgICAgICJJdGVtTm8iOiIwMDAxNTUiLAogICAgICAgICAiSXRlbURlc2MiOiJibm4wMDIiLAogICAgICAgICAiUXR5IjoxLAogICAgICAgICAiVW5pdFByaWNlSW5jbFZBVCI6MzAwLAogICAgICAgICAiU2VyaWFsTm8iOiJTTjAwMDAwMDEiLCAvLyBTZXJpYWwgTm8uIOC4guC4reC4h+C4quC4tOC4meC4hOC5ieC4suC4l+C4teC5iOC4i+C4t+C5ieC4reC4m+C4o+C4sOC4geC4seC4mQoJCSAiRGlzY0FtdCI6MTAsCiAgICAgIH0KICAgXQp9"
                  }
                }
              },
              "examples": {
                "AutoCloseBill (UAT)": {
                  "value": {
                    "jsonEncrypt": "ewogICAiT3JkZXJJRCI6Ik9SREVSMDAwMTAwNyIsCiAgICJPcmRlckRhdGUiOiIyMDI1LTA2LTI3IiwKICAgIkN1c3RJRCI6IjExMDIwMDIwNzUyMjgiLAogICAiQ3VzdE5hbWUiOiLguJnguLLguKIg4Liq4Li44Lie4LiI4LiZ4LmMICDguKrguLjguJfguLLguJjguKPguKPguKEiLAogICAiQ3VzdEFkZHJlc3MiOiLguJrguYnguLLguJnguYDguKXguILguJfguLXguYggMjIg4Lir4Lih4Li54LmI4LiX4Li14LmIIDcg4LiV4Liz4Lia4Lil4LmA4LiK4Li14Lii4LiH4LmA4LiE4Lij4Li34LitIOC4reC4s+C5gOC4oOC4reC5gOC4oeC4t+C4reC4h+C4geC4suC4rOC4quC4tOC4meC4mOC4uOC5jCIsCiAgICJDdXN0Q2l0eSI6IuC4geC4suC4rOC4quC4tOC4meC4mOC4uOC5jCIsCiAgICJDdXN0UG9zdENvZGUiOiI0NjAwMCIsCiAgICJDdXN0UGhvbmVObyI6IjEyMzQ1Njc4OSIsCiAgICJDdXN0TW9iaWxlTm8iOiIwODkwMDAwMDAwIiwKICAgIkN1c3RFbWFpbCI6InN1cG90LnNAY29tc2V2ZW4uY29tIiwKICAgIkN1c3RUYXhJRCI6IjExMDIwMDIwNzUyMjgiLAogICAiQ3VzdEJyYW5jaE5vIjoiMDAwMDAiLAogICAiT3JkZXJMaW5lcyI6WwogICAgICB7CiAgICAgICAgICJJdGVtTm8iOiIwMDAxNTUiLAogICAgICAgICAiSXRlbURlc2MiOiJibm4wMDIiLAogICAgICAgICAiUXR5IjoxLAogICAgICAgICAiVW5pdFByaWNlSW5jbFZBVCI6MzAwLAogICAgICAgICAiU2VyaWFsTm8iOiJTTjAwMDAwMDEiLCAvLyBTZXJpYWwgTm8uIOC4guC4reC4h+C4quC4tOC4meC4hOC5ieC4suC4l+C4teC5iOC4i+C4t+C5ieC4reC4m+C4o+C4sOC4geC4seC4mQoJCSAiRGlzY0FtdCI6MTAsCiAgICAgIH0KICAgXQp9"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": ""
          }
        },
        "security": [
          {
            "basicAuth": []
          }
        ]
      }
    }
  },
  "components": {
    "securitySchemes": {
      "basicAuth": {
        "type": "http",
        "scheme": "basic"
      }
    }
  },
  "tags": []
}