{
  "openapi": "3.0.0",
  "info": {
    "title": "AEM GraphQL API - Jornadas Assistidas",
    "description": "API para executar a query GraphQL `jornadasAssistidasList` no AEM.",
    "version": "1.0.0",
    "x-jentic-source-url": "https://api.swaggerhub.com/apis/GABRIELBSOUZA/aem-graphql-api-jornadas-assistidas/1.0.0"
  },
  "servers": [
    {
      "url": "https://publish-p129405-e1262922.adobeaemcloud.com",
      "description": "AEM Publish Environment - PreProd"
    },
    {
      "url": "https://publish-p129405-e1261671.adobeaemcloud.com",
      "description": "AEM Publish Environment - Producao"
    }
  ],
  "paths": {
    "/graphql/execute.json/vivo-mais/jornadasAssistidasLista": {
      "get": {
        "summary": "Executa a query GraphQL `jornadasAssistidasList`",
        "description": "Retorna a lista de jornadas assistidas com os campos `jornadaAppVivo`, `status` e `link`.",
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "object",
                      "properties": {
                        "jornadasAssistidasList": {
                          "type": "object",
                          "properties": {
                            "items": {
                              "type": "array",
                              "items": {
                                "type": "object",
                                "properties": {
                                  "jornadaAppVivo": {
                                    "type": "string",
                                    "description": "Nome da jornada no aplicativo Vivo."
                                  },
                                  "status": {
                                    "type": "boolean",
                                    "description": "Status da jornada."
                                  },
                                  "link": {
                                    "type": "string",
                                    "description": "Link associado \u00e0 jornada."
                                  }
                                }
                              }
                            }
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Requisi\u00e7\u00e3o inv\u00e1lida"
          },
          "401": {
            "description": "N\u00e3o autorizado"
          },
          "500": {
            "description": "Erro interno do servidor"
          }
        }
      }
    }
  }
}