{
  "openapi": "3.0.3",
  "info": {
    "title": "AccessiWeb WCAG 2.1 Tools",
    "description": "\n\n## &#x1f680; Verifica se il tuo sito \u00e8 accessibile e conforme alle WCAG 2.1\n\n[AccessiWeb](https://www.accessiweb.it) - **Soluzioni per un web accessibile e inclusivo**\n\nIl nuovo endpoint consente una verifica tecnica dei principali criteri delle WCAG 2.1 A e AA di una specifica URL restituiendo le occorrenze rilevate, il relativo criterio violato, la tecnica W3C utilizzata per la convalida del criterio e la riga di codice in errore, sia in versione **Light** (solo occorrenze WCAG), in versione **AXE-core** ed in versione **Complete** (include Light &#43; AXE &#43; Audit completa)**.**\n\nIl **Color Contrast Checker** restituisce invece il rapporto di contrasto tra due colori e la relativa conformit\u00e0 WCAG AA e AAA su testi normali e large.\n\nProva anche il [Test Gratuito di Accessibilit\u00e0](https://www.accessiweb.it/test-di-accessibilita-siti-web) oppure il [Test Contrasto Colore](https://www.accessiweb.it/test-contrasto-colore).\n\nScopri tutti i servizi e i prodotti di accessibilit\u00e0 digitale su [accessiweb.it](https://www.accessiweb.it)",
    "version": "1.0.0",
    "contact": {},
    "x-jentic-source-url": "https://api.swaggerhub.com/apis/dunp/accessiweb-wcag-21-tools/1.0.0"
  },
  "servers": [
    {
      "url": "https://api.accessiweb.it"
    }
  ],
  "paths": {
    "/validate-wcag21aa": {
      "post": {
        "summary": "WCAG 2.1 AA Complete",
        "description": "## \ud83d\ude80 Verifica se il tuo sito \u00e8 accessibile e conforme alle WCAG 2.1\n\n\ufeff[AccessiWeb](https://www.accessiweb.it/) - **Soluzioni per un web accessibile e inclusivo**\n\nEndpoint AccessiWeb per testare i criteri WCAG 2.1 A / AA",
        "operationId": "wcag21AaComplete",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "url": {
                    "type": "string",
                    "example": "https://www.accessiweb.it"
                  }
                }
              },
              "examples": {
                "WCAG 2.1 AA Complete": {
                  "value": {
                    "url": "https://www.accessiweb.it"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "WCAG 2.1 AA Complete",
            "headers": {
              "Content-Length": {
                "schema": {
                  "type": "string",
                  "example": "62669"
                }
              },
              "Date": {
                "schema": {
                  "type": "string",
                  "example": "Fri, 17 Oct 2025 11:05:25 GMT"
                }
              },
              "ETag": {
                "schema": {
                  "type": "string",
                  "example": "W/\"f4cd-gjZNerWyAWv8frjjBwBUNtzjByA\""
                }
              },
              "Keep-Alive": {
                "schema": {
                  "type": "string",
                  "example": "timeout=5"
                }
              },
              "Server": {
                "schema": {
                  "type": "string",
                  "example": "Microsoft-IIS/10.0"
                }
              },
              "X-Powered-By": {
                "schema": {
                  "type": "string",
                  "example": "ASP.NET"
                }
              },
              "X-Powered-By-Plesk": {
                "schema": {
                  "type": "string",
                  "example": "PleskWin"
                }
              }
            },
            "content": {
              "text/plain": {
                "examples": {
                  "WCAG 2.1 AA Complete": {
                    "value": "{\n    &#34;endpoint&#34;: &#34;api.accessiweb.it WCAG 2.1 AA Tester&#34;,\n    &#34;url&#34;: &#34;https://www.accessiweb.it&#34;,\n    &#34;timestamp&#34;: &#34;2025-10-17T11:05:26.576Z&#34;,\n    &#34;WCAG&#34;: {\n        &#34;documentTitle&#34;: &#34;AccessiWeb: soluzioni per l&#39;accessibilit\u00e0 digitale&#34;,\n        &#34;pageUrl&#34;: &#34;https://www.accessiweb.it/&#34;,\n        &#34;issues&#34;: [\n            {\n                &#34;code&#34;: &#34;WCAG2AA.Principle2.Guideline2_4.2_4_1.H64.1&#34;,\n                &#34;type&#34;: &#34;error&#34;,\n                &#34;typeCode&#34;: 1,\n                &#34;message&#34;: &#34;Iframe element requires a non-empty title attribute that identifies the frame.&#34;,\n                &#34;context&#34;: &#34;&#34;,\n                &#34;selector&#34;: &#34;html &gt; body &gt; iframe&#34;,\n                &#34;runner&#34;: &#34;htmlcs&#34;,\n                &#34;runnerExtras&#34;: {}\n            }\n        ]\n    },\n    &#34;audits&#34;: {\n        &#34;interactive-element-affordance&#34;: {\n            &#34;id&#34;: &#34;interactive-element-affordance&#34;,\n            &#34;title&#34;: &#34;Interactive elements indicate their purpose and state&#34;,\n            &#34;description&#34;: &#34;Interactive elements, such as links and buttons, should indicate their state and be distinguishable from non-interactive elements. [Learn how to decorate interactive elements with affordance hints](https://developer.chrome.com/docs/lighthouse/accessibility/interactive-element-affordance/).&#34;,\n            &#34;score&#34;: null,\n            &#34;scoreDisplayMode&#34;: &#34;manual&#34;\n        },\n        &#34;csp-xss&#34;: {\n            &#34;id&#34;: &#34;csp-xss&#34;,\n            &#34;title&#34;: &#34;Assicurati che la CSP sia efficace contro gli attacchi XSS (cross-site scripting)&#34;,\n            &#34;description&#34;: &#34;Una Content Security Policy (CSP) efficace riduce notevolmente il rischio di attacchi cross-site scripting (XSS). [Scopri come utilizzare una CSP per evitare XSS](https://developer.chrome.com/docs/lighthouse/best-practices/csp-xss/)&#34;,\n            &#34;score&#34;: 1,\n            &#34;scoreDisplayMode&#34;: &#34;informative&#34;,\n            &#34;details&#34;: {\n                &#34;headings&#34;: [\n                    {\n                        &#34;valueType&#34;: &#34;text&#34;,\n                        &#34;label&#34;: &#34;Descrizione&#34;,\n                        &#34;key&#34;: &#34;description&#34;,\n                        &#34;subItemsHeading&#34;: {\n                            &#34;key&#34;: &#34;description&#34;\n                        }\n                    },\n                    {\n                        &#34;key&#34;: &#34;directive&#34;,\n                        &#34;subItemsHeading&#34;: {\n                            &#34;key&#34;: &#34;directive&#34;\n                        },\n                        &#34;valueType&#34;: &#34;code&#34;,\n                        &#34;label&#34;: &#34;Istruzione&#34;\n                    },\n                    {\n                        &#34;valueType&#34;: &#34;text&#34;,\n                        &#34;subItemsHeading&#34;: {\n                            &#34;key&#34;: &#34;severity&#34;\n                        },\n                        &#34;label&#34;: &#34;Gravit\u00e0&#34;,\n                        &#34;key&#34;: &#34;severity&#34;\n                    }\n                ],\n                &#34;items&#34;: [\n                    {\n                        &#34;description&#34;: &#34;Nessuna CSP trovata in modalit\u00e0 di applicazione forzata&#34;,\n                        &#34;severity&#34;: &#34;Alta&#34;\n                    }\n                ],\n                &#34;type&#34;: &#34;table&#34;\n            }\n        },\n        &#34;structured-data&#34;: {\n            &#34;id&#34;: &#34;structured-data&#34;,\n            &#34;title&#34;: &#34;Dati strutturati validi&#34;,\n            &#34;description&#34;: &#34;Esegui lo [Strumento di test per i dati strutturati](https://search.google.com/structured-data/testing-tool/) e [Structured Data Linter](http://linter.structured-data.org/) per convalidare i dati strutturati. [Scopri di pi\u00f9 sui dati strutturati](https://developer.chrome.com/docs/lighthouse/seo/structured-data/).&#34;,\n            &#34;score&#34;: null,\n            &#34;scoreDisplayMode&#34;: &#34;manual&#34;\n        },\n        &#34;skip-link&#34;: {\n            &#34;id&#34;: &#34;skip-link&#34;,\n            &#34;title&#34;: &#34;Gli skip link sono attivabili.&#34;,\n            &#34;description&#34;: &#34;L&#39;inclusione di uno skip link pu\u00f2 aiutare gli utenti a passare ai contenuti principali per risparmiare tempo. [Scopri di pi\u00f9 sugli skip link](https://dequeuniversity.com/rules/axe/4.10/skip-link).&#34;,\n            &#34;score&#34;: null,\n            &#34;scoreDisplayMode&#34;: &#34;notApplicable&#34;\n        },\n        &#34;geolocation-on-start&#34;: {\n            &#34;id&#34;: &#34;geolocation-on-start&#34;,\n            &#34;title&#34;: &#34;Evita di chiedere l&#39;autorizzazione alla geolocalizzazione durante il caricamento della pagina&#34;,\n            &#34;description&#34;: &#34;Gli utenti sono sospettosi nei confronti dei siti che chiedono la loro posizione senza contesto o sono confusi da questi siti. Potresti associare la richiesta a un&#39;azione dell&#39;utente. [Scopri di pi\u00f9 sull&#39;autorizzazione alla geolocalizzazione](https://developer.chrome.com/docs/lighthouse/best-practices/geolocation-on-start/).&#34;,\n            &#34;score&#34;: 1,\n            &#34;scoreDisplayMode&#34;: &#34;binary&#34;,\n            &#34;details&#34;: {\n                &#34;type&#34;: &#34;table&#34;,\n                &#34;headings&#34;: [\n                    {\n                        &#34;label&#34;: &#34;Origine&#34;,\n                        &#34;valueType&#34;: &#34;source-location&#34;,\n                        &#34;key&#34;: &#34;source&#34;\n                    }\n                ],\n                &#34;items&#34;: []\n            }\n        },\n        &#34;label-content-name-mismatch&#34;: {\n            &#34;id&#34;: &#34;label-content-name-mismatch&#34;,\n            &#34;title&#34;: &#34;Gli elementi con etichette di testo visibili non hanno nomi accessibili corrispondenti.&#34;,\n            &#34;description&#34;: &#34;Le etichette di testo visibili che non corrispondono al nome accessibile possono generare un&#39;esperienza confusa per gli utenti di screen reader. [Scopri di pi\u00f9 sui nomi accessibili](https://dequeuniversity.com/rules/axe/4.10/label-content-name-mismatch).&#34;,\n            &#34;score&#34;: 0,\n            &#34;scoreDisplayMode&#34;: &#34;binary&#34;,\n            &#34;details&#34;: {\n                &#34;debugData&#34;: {\n                    &#34;tags&#34;: [\n                        &#34;cat.semantics&#34;,\n                        &#34;wcag21a&#34;,\n                        &#34;wcag253&#34;,\n                        &#34;EN-301-549&#34;,\n                        &#34;EN-9.2.5.3&#34;,\n                        &#34;experimental&#34;\n                    ],\n                    &#34;type&#34;: &#34;debugdata&#34;,\n                    &#34;impact&#34;: &#34;serious&#34;\n                },\n                &#34;type&#34;: &#34;table&#34;,\n                &#34;headings&#34;: [\n                    {\n                        &#34;key&#34;: &#34;node&#34;,\n                        &#34;label&#34;: &#34;Elementi respinti&#34;,\n                        &#34;subItemsHeading&#34;: {\n                            &#34;key&#34;: &#34;relatedNode&#34;,\n                            &#34;valueType&#34;: &#34;node&#34;\n                        },\n                        &#34;valueType&#34;: &#34;node&#34;\n                    }\n                ],\n                &#34;items&#34;: [\n                    {\n                        &#34;node&#34;: {\n                            &#34;snippet&#34;: &#34;&#34;,\n                            &#34;explanation&#34;: &#34;Fix any of the following:\\n  Text inside the element is not included in the accessible name&#34;,\n                            &#34;nodeLabel&#34;: &#34; Pausa&#34;,\n                            &#34;path&#34;: &#34;1,HTML,1,BODY,0,FORM,5,MAIN,5,SECTION,1,DIV,0,DIV,0,DIV,2,BUTTON&#34;,\n                            &#34;type&#34;: &#34;node&#34;,\n                            &#34;selector&#34;: &#34;div.row &gt; div.col-12 &gt; div#slide_widget &gt; button.splide__toggle&#34;,\n                            &#34;lhId&#34;: &#34;1-0-BUTTON&#34;,\n                            &#34;boundingRect&#34;: {\n                                &#34;bottom&#34;: 2893,\n                                &#34;top&#34;: 2855,\n                                &#34;left&#34;: 24,\n                                &#34;width&#34;: 94,\n                                &#34;height&#34;: 38,\n                                &#34;right&#34;: 118\n                            }\n                        }\n                    },\n                    {\n                        &#34;node&#34;: {\n                            &#34;path&#34;: &#34;1,HTML,1,BODY,0,FORM,5,MAIN,8,SECTION,1,DIV,0,DIV,0,DIV,2,BUTTON&#34;,\n                            &#34;boundingRect&#34;: {\n                                &#34;height&#34;: 38,\n                                &#34;bottom&#34;: 5052,\n                                &#34;left&#34;: 24,\n                                &#34;top&#34;: 5014,\n                                &#34;right&#34;: 118,\n                                &#34;width&#34;: 94\n                            },\n                            &#34;snippet&#34;: &#34;&#34;,\n                            &#34;type&#34;: &#34;node&#34;,\n                            &#34;explanation&#34;: &#34;Fix any of the following:\\n  Text inside the element is not included in the accessible name&#34;,\n                            &#34;selector&#34;: &#34;div.row &gt; div.col-12 &gt; div#slide_clienti &gt; button.splide__toggle&#34;,\n                            &#34;lhId&#34;: &#34;1-1-BUTTON&#34;,\n                            &#34;nodeLabel&#34;: &#34; Pausa&#34;\n                        }\n                    }\n                ]\n            }\n        },\n        &#34;identical-links-same-purpose&#34;: {\n            &#34;id&#34;: &#34;identical-links-same-purpose&#34;,\n            &#34;title&#34;: &#34;I link identici hanno lo stesso scopo.&#34;,\n            &#34;description&#34;: &#34;I link con la stessa destinazione devono avere la stessa descrizione per aiutare gli utenti a comprendere lo scopo dei link e decidere se seguirli o meno. [Scopri di pi\u00f9 sui link identici](https://dequeuniversity.com/rules/axe/4.10/identical-links-same-purpose).&#34;,\n            &#34;score&#34;: 1,\n            &#34;scoreDisplayMode&#34;: &#34;informative&#34;,\n            &#34;details&#34;: {\n                &#34;debugData&#34;: {\n                    &#34;impact&#34;: &#34;minor&#34;,\n                    &#34;tags&#34;: [\n                        &#34;cat.semantics&#34;,\n                        &#34;wcag2aaa&#34;,\n                        &#34;wcag249&#34;\n                    ],\n                    &#34;type&#34;: &#34;debugdata&#34;\n                },\n                &#34;type&#34;: &#34;table&#34;,\n                &#34;headings&#34;: [\n                    {\n                        &#34;valueType&#34;: &#34;node&#34;,\n                        &#34;label&#34;: &#34;Elementi respinti&#34;,\n                        &#34;key&#34;: &#34;node&#34;,\n                        &#34;subItemsHeading&#34;: {\n                            &#34;valueType&#34;: &#34;node&#34;,\n                            &#34;key&#34;: &#34;relatedNode&#34;\n                        }\n                    }\n                ],\n                &#34;items&#34;: [\n                    {\n                        &#34;subItems&#34;: {\n                            &#34;items&#34;: [\n                                {\n                                    &#34;relatedNode&#34;: {\n                                        &#34;path&#34;: &#34;1,HTML,1,BODY,0,FORM,5,MAIN,7,SECTION,0,DIV,0,DIV,1,DIV,0,DIV,0,DIV,0,H4,0,A&#34;,\n                                        &#34;type&#34;: &#34;node&#34;,\n                                        &#34;snippet&#34;: &#34;<a href=\"\\&#34;servizio-dichiarazione-di-accessibilita\\\" rel=\"nofollow\">&#34;,\n                                        &#34;selector&#34;: &#34;div.card &gt; div.card-body &gt; h4.h2 &gt; a.text-dark&#34;,\n                                        &#34;nodeLabel&#34;: &#34;Dichiarazione di accessibilit\u00e0&#34;,\n                                        &#34;boundingRect&#34;: {\n                                            &#34;bottom&#34;: 4073,\n                                            &#34;width&#34;: 440,\n                                            &#34;left&#34;: 161,\n                                            &#34;top&#34;: 4034,\n                                            &#34;height&#34;: 39,\n                                            &#34;right&#34;: 601\n                                        },\n                                        &#34;lhId&#34;: &#34;1-4-A&#34;\n                                    }\n                                },\n                                {\n                                    &#34;relatedNode&#34;: {\n                                        &#34;type&#34;: &#34;node&#34;,\n                                        &#34;selector&#34;: &#34;div.container &gt; div.row &gt; div.d-none &gt; a.text-white&#34;,\n                                        &#34;nodeLabel&#34;: &#34;Dichiarazione di accessibilit\u00e0&#34;,\n                                        &#34;snippet&#34;: &#34;</a>&#34;,\n                                        &#34;path&#34;: &#34;1,HTML,1,BODY,0,FORM,7,FOOTER,0,DIV,0,DIV,2,DIV,2,A&#34;,\n                                        &#34;boundingRect&#34;: {\n                                            &#34;top&#34;: 6040,\n                                            &#34;bottom&#34;: 6072,\n                                            &#34;right&#34;: 941,\n                                            &#34;width&#34;: 261,\n                                            &#34;left&#34;: 680,\n                                            &#34;height&#34;: 32\n                                        },\n                                        &#34;lhId&#34;: &#34;1-5-A&#34;\n                                    }\n                                },\n                                {\n                                    &#34;relatedNode&#34;: {\n                                        &#34;type&#34;: &#34;node&#34;,\n                                        &#34;nodeLabel&#34;: &#34;Dichiarazione di accessibilit\u00e0&#34;,\n                                        &#34;boundingRect&#34;: {\n                                            &#34;right&#34;: 858,\n                                            &#34;top&#34;: 6388,\n                                            &#34;height&#34;: 16,\n                                            &#34;width&#34;: 179,\n                                            &#34;left&#34;: 680,\n                                            &#34;bottom&#34;: 6404\n                                        },\n                                        &#34;lhId&#34;: &#34;1-6-A&#34;,\n                                        &#34;selector&#34;: &#34;div.col-12 &gt; ul.mb-0 &gt; li.nav-item &gt; a.text-white&#34;,\n                                        &#34;path&#34;: &#34;1,HTML,1,BODY,0,FORM,7,FOOTER,0,DIV,2,DIV,2,DIV,0,UL,4,LI,0,A&#34;,\n                                        &#34;snippet&#34;: &#34;&#34;\n                                    }\n                                }\n                            ],\n                            &#34;type&#34;: &#34;subitems&#34;\n                        },\n                        &#34;node&#34;: {\n                            &#34;snippet&#34;: &#34;&#34;,\n                            &#34;path&#34;: &#34;1,HTML,1,BODY,0,FORM,3,NAV,0,UL,3,LI,0,A&#34;,\n                            &#34;boundingRect&#34;: {\n                                &#34;width&#34;: 205,\n                                &#34;bottom&#34;: 20,\n                                &#34;right&#34;: 204,\n                                &#34;left&#34;: -1,\n                                &#34;top&#34;: 3,\n                                &#34;height&#34;: 17\n                            },\n                            &#34;selector&#34;: &#34;nav &gt; ul.list-unstyled &gt; li.visually-hidden-focusable &gt; a.skip-main&#34;,\n                            &#34;explanation&#34;: &#34;Fix all of the following:\\n  Check that links have the same purpose, or are intentionally ambiguous.&#34;,\n                            &#34;type&#34;: &#34;node&#34;,\n                            &#34;nodeLabel&#34;: &#34;Dichiarazione di accessibilit\u00e0&#34;,\n                            &#34;lhId&#34;: &#34;1-3-A&#34;\n                        }\n                    }\n                ]\n            }\n        },\n        &#34;aria-valid-attr-value&#34;: {\n            &#34;id&#34;: &#34;aria-valid-attr-value&#34;,\n            &#34;title&#34;: &#34;Gli attributi &#96;[aria-*]&#96; hanno valori validi&#34;,\n            &#34;description&#34;: &#34;Le tecnologie per la disabilit\u00e0, come gli screen reader, non sono in grado di interpretare gli attributi ARIA con valori non validi. [Scopri di pi\u00f9 sui valori validi per gli attributi ARIA](https://dequeuniversity.com/rules/axe/4.10/aria-valid-attr-value).&#34;,\n            &#34;score&#34;: 1,\n            &#34;scoreDisplayMode&#34;: &#34;binary&#34;,\n            &#34;details&#34;: {\n                &#34;items&#34;: [],\n                &#34;type&#34;: &#34;table&#34;,\n                &#34;headings&#34;: [\n                    {\n                        &#34;key&#34;: &#34;node&#34;,\n                        &#34;subItemsHeading&#34;: {\n                            &#34;valueType&#34;: &#34;node&#34;,\n                            &#34;key&#34;: &#34;relatedNode&#34;\n                        },\n                        &#34;valueType&#34;: &#34;node&#34;,\n                        &#34;label&#34;: &#34;Elementi respinti&#34;\n                    }\n                ]\n            }\n        },\n        &#34;aria-dialog-name&#34;: {\n            &#34;id&#34;: &#34;aria-dialog-name&#34;,\n            &#34;title&#34;: &#34;Gli elementi con &#96;role&#61;\\&#34;dialog\\&#34;&#96; o &#96;role&#61;\\&#34;alertdialog\\&#34;&#96; hanno nomi accessibili.&#34;,\n            &#34;description&#34;: &#34;Gli elementi delle finestre di dialogo ARIA senza nomi accessibili potrebbero impedire agli utenti di screen reader di comprendere lo scopo di questi elementi. [Scopri come rendere pi\u00f9 accessibili gli elementi delle finestre di dialogo ARIA](https://dequeuniversity.com/rules/axe/4.10/aria-dialog-name).&#34;,\n            &#34;score&#34;: 1,\n            &#34;scoreDisplayMode&#34;: &#34;binary&#34;,\n            &#34;details&#34;: {\n                &#34;type&#34;: &#34;table&#34;,\n                &#34;items&#34;: [],\n                &#34;headings&#34;: [\n                    {\n                        &#34;valueType&#34;: &#34;node&#34;,\n                        &#34;label&#34;: &#34;Elementi respinti&#34;,\n                        &#34;key&#34;: &#34;node&#34;,\n                        &#34;subItemsHeading&#34;: {\n                            &#34;valueType&#34;: &#34;node&#34;,\n                            &#34;key&#34;: &#34;relatedNode&#34;\n                        }\n                    }\n                ]\n            }\n        },\n        &#34;aria-prohibited-attr&#34;: {\n            &#34;id&#34;: &#34;aria-prohibited-attr&#34;,\n            &#34;title&#34;: &#34;Gli elementi utilizzano solo attributi ARIA consentiti&#34;,\n            &#34;description&#34;: &#34;L&#39;utilizzo di attributi ARIA in ruoli in cui sono vietati pu\u00f2 impedire la comunicazione di informazioni importanti agli utenti di tecnologie per la disabilit\u00e0. [Scopri di pi\u00f9 sui ruoli ARIA vietati](https://dequeuniversity.com/rules/axe/4.10/aria-prohibited-attr).&#34;,\n            &#34;score&#34;: 1,\n            &#34;scoreDisplayMode&#34;: &#34;binary&#34;,\n            &#34;details&#34;: {\n                &#34;items&#34;: [],\n                &#34;type&#34;: &#34;table&#34;,\n                &#34;headings&#34;: [\n                    {\n                        &#34;subItemsHeading&#34;: {\n                            &#34;key&#34;: &#34;relatedNode&#34;,\n                            &#34;valueType&#34;: &#34;node&#34;\n                        },\n                        &#34;label&#34;: &#34;Elementi respinti&#34;,\n                        &#34;key&#34;: &#34;node&#34;,\n                        &#34;valueType&#34;: &#34;node&#34;\n                    }\n                ]\n            }\n        },\n        &#34;link-name&#34;: {\n            &#34;id&#34;: &#34;link-name&#34;,\n            &#34;title&#34;: &#34;I link hanno un nome distinguibile&#34;,\n            &#34;description&#34;: &#34;Un testo dei link (incluso il testo alternativo delle immagini, se come link) distinguibile, univoco e attivabile migliora l&#39;esperienza di navigazione per gli utenti di screen reader. [Scopri come rendere accessibili i link](https://dequeuniversity.com/rules/axe/4.10/link-name).&#34;,\n            &#34;score&#34;: 1,\n            &#34;scoreDisplayMode&#34;: &#34;binary&#34;,\n            &#34;details&#34;: {\n                &#34;type&#34;: &#34;table&#34;,\n                &#34;items&#34;: [],\n                &#34;headings&#34;: [\n                    {\n                        &#34;key&#34;: &#34;node&#34;,\n                        &#34;subItemsHeading&#34;: {\n                            &#34;key&#34;: &#34;relatedNode&#34;,\n                            &#34;valueType&#34;: &#34;node&#34;\n                        },\n                        &#34;valueType&#34;: &#34;node&#34;,\n                        &#34;label&#34;: &#34;Elementi respinti&#34;\n                    }\n                ]\n            }\n        },\n        &#34;table-fake-caption&#34;: {\n            &#34;id&#34;: &#34;table-fake-caption&#34;,\n            &#34;title&#34;: &#34;Le tabelle utilizzano &#96;&#96; anzich\u00e9 celle con l&#39;attributo &#96;[colspan]&#96; per indicare un sottotitolo codificato.&#34;,\n            &#34;description&#34;: &#34;Gli screen reader sono dotati di funzionalit\u00e0 che semplificano la navigazione nelle tabelle. Se nelle tabelle usi l&#39;elemento effettivo dei sottotitoli codificati anzich\u00e9 le celle con l&#39;attributo &#96;[colspan]&#96;, puoi migliorare l&#39;esperienza degli utenti di screen reader. [Scopri di pi\u00f9 sui sottotitoli codificati](https://dequeuniversity.com/rules/axe/4.10/table-fake-caption).&#34;,\n            &#34;score&#34;: null,\n            &#34;scoreDisplayMode&#34;: &#34;notApplicable&#34;\n        },\n        &#34;aria-text&#34;: {\n            &#34;id&#34;: &#34;aria-text&#34;,\n            &#34;title&#34;: &#34;Gli elementi con l&#39;attributo &#96;role&#61;text&#96; non hanno discendenti attivabili.&#34;,\n            &#34;description&#34;: &#34;L&#39;aggiunta di &#96;role&#61;text&#96; intorno a un nodo di testo diviso dal markup consente a VoiceOver di considerarlo come una singola frase, ma i discendenti attivabili dell&#39;elemento non verranno annunciati. [Scopri di pi\u00f9 sull&#39;attributo &#96;role&#61;text&#96;](https://dequeuniversity.com/rules/axe/4.10/aria-text).&#34;,\n            &#34;score&#34;: null,\n            &#34;scoreDisplayMode&#34;: &#34;notApplicable&#34;\n        },\n        &#34;aria-hidden-focus&#34;: {\n            &#34;id&#34;: &#34;aria-hidden-focus&#34;,\n            &#34;title&#34;: &#34;Gli elementi &#96;[aria-hidden&#61;\\&#34;true\\&#34;]&#96; non contengono discendenti per cui \u00e8 possibile impostare lo stato attivo&#34;,\n            &#34;description&#34;: &#34;I discendenti attivabili all&#39;interno di un elemento &#96;[aria-hidden&#61;\\&#34;true\\&#34;]&#96; impediscono di mettere questi elementi interattivi a disposizione degli utenti che usano tecnologie per la disabilit\u00e0 come gli screen reader. [Scopri in che modo &#96;aria-hidden&#96; influisce sugli elementi attivabili](https://dequeuniversity.com/rules/axe/4.10/aria-hidden-focus).&#34;,\n            &#34;score&#34;: 1,\n            &#34;scoreDisplayMode&#34;: &#34;binary&#34;,\n            &#34;details&#34;: {\n                &#34;headings&#34;: [\n                    {\n                        &#34;subItemsHeading&#34;: {\n                            &#34;valueType&#34;: &#34;node&#34;,\n                            &#34;key&#34;: &#34;relatedNode&#34;\n                        },\n                        &#34;label&#34;: &#34;Elementi respinti&#34;,\n                        &#34;valueType&#34;: &#34;node&#34;,\n                        &#34;key&#34;: &#34;node&#34;\n                    }\n                ],\n                &#34;items&#34;: [],\n                &#34;type&#34;: &#34;table&#34;\n            }\n        },\n        &#34;frame-title&#34;: {\n            &#34;id&#34;: &#34;frame-title&#34;,\n            &#34;title&#34;: &#34;Gli elementi &#96;&#96; o &#96;"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/validate-acsw-axe": {
      "post": {
        "summary": "WCAG 2.1 API AXE",
        "description": "## \ud83d\ude80 Verifica se il tuo sito \u00e8 accessibile e conforme alle WCAG 2.1\n\n\ufeff[AccessiWeb](https://www.accessiweb.it/) - **Soluzioni per un web accessibile e inclusivo**\n\nEndpoint AccessiWeb AXE CORE per testare i criteri WCAG 2.1 A / AA",
        "operationId": "wcag21ApiAxe",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "url": {
                    "type": "string",
                    "example": "https://www.accessiweb.it"
                  }
                }
              },
              "examples": {
                "WCAG 2.1 API AXE": {
                  "value": {
                    "url": "https://www.accessiweb.it"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "WCAG 2.1 API AXE",
            "headers": {
              "Content-Length": {
                "schema": {
                  "type": "string",
                  "example": "168"
                }
              },
              "Date": {
                "schema": {
                  "type": "string",
                  "example": "Fri, 17 Oct 2025 11:06:55 GMT"
                }
              },
              "ETag": {
                "schema": {
                  "type": "string",
                  "example": "W/\"a8-5LHjE6f6LTvu3UDWoEanByJCO6s\""
                }
              },
              "Keep-Alive": {
                "schema": {
                  "type": "string",
                  "example": "timeout=5"
                }
              },
              "Server": {
                "schema": {
                  "type": "string",
                  "example": "Microsoft-IIS/10.0"
                }
              },
              "X-Powered-By": {
                "schema": {
                  "type": "string",
                  "example": "ASP.NET"
                }
              },
              "X-Powered-By-Plesk": {
                "schema": {
                  "type": "string",
                  "example": "PleskWin"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "endpoint": {
                      "type": "string",
                      "example": "accessiweb-axe-core"
                    },
                    "inapplicable": {
                      "type": "number",
                      "example": 40
                    },
                    "incomplete": {
                      "type": "number",
                      "example": 1
                    },
                    "passes": {
                      "type": "number",
                      "example": 49
                    },
                    "timestamp": {
                      "type": "string",
                      "example": "2025-10-17T11:06:56.349Z"
                    },
                    "url": {
                      "type": "string",
                      "example": "https://www.accessiweb.it"
                    },
                    "violations": {
                      "type": "array",
                      "items": {},
                      "example": []
                    }
                  }
                },
                "examples": {
                  "WCAG 2.1 API AXE": {
                    "value": {
                      "endpoint": "accessiweb-axe-core",
                      "inapplicable": 40,
                      "incomplete": 1,
                      "passes": 49,
                      "timestamp": "2025-10-17T11:06:56.349Z",
                      "url": "https://www.accessiweb.it",
                      "violations": []
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/validate": {
      "post": {
        "summary": "WCAG 2.1 API Light",
        "description": "## \ud83d\ude80 Verifica se il tuo sito \u00e8 accessibile e conforme alle WCAG 2.1\n\n\ufeff[AccessiWeb](https://www.accessiweb.it/) - **Soluzioni per un web accessibile e inclusivo**\n\nEndpoint AccessiWeb Light per testare i criteri WCAG 2.1 A / AA",
        "operationId": "wcag21ApiLight",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "url": {
                    "type": "string",
                    "example": "https://www.accessiweb.it"
                  }
                }
              },
              "examples": {
                "WCAG 2.1 API Light": {
                  "value": {
                    "url": "https://www.accessiweb.it"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "WCAG 2.1 API Light",
            "headers": {
              "Content-Length": {
                "schema": {
                  "type": "string",
                  "example": "445"
                }
              },
              "Date": {
                "schema": {
                  "type": "string",
                  "example": "Fri, 17 Oct 2025 11:07:16 GMT"
                }
              },
              "ETag": {
                "schema": {
                  "type": "string",
                  "example": "W/\"1bd-IhUc2i9ZbowbtdgSGmtcDJApcyM\""
                }
              },
              "Keep-Alive": {
                "schema": {
                  "type": "string",
                  "example": "timeout=5"
                }
              },
              "Server": {
                "schema": {
                  "type": "string",
                  "example": "Microsoft-IIS/10.0"
                }
              },
              "X-Powered-By": {
                "schema": {
                  "type": "string",
                  "example": "ASP.NET"
                }
              },
              "X-Powered-By-Plesk": {
                "schema": {
                  "type": "string",
                  "example": "PleskWin"
                }
              }
            },
            "content": {
              "text/plain": {
                "examples": {
                  "WCAG 2.1 API Light": {
                    "value": "{\n    &#34;documentTitle&#34;: &#34;AccessiWeb: soluzioni per l&#39;accessibilit\u00e0 digitale&#34;,\n    &#34;pageUrl&#34;: &#34;https://www.accessiweb.it/&#34;,\n    &#34;issues&#34;: [\n        {\n            &#34;code&#34;: &#34;WCAG2AA.Principle2.Guideline2_4.2_4_1.H64.1&#34;,\n            &#34;type&#34;: &#34;error&#34;,\n            &#34;typeCode&#34;: 1,\n            &#34;message&#34;: &#34;Iframe element requires a non-empty title attribute that identifies the frame.&#34;,\n            &#34;context&#34;: &#34;&#34;,\n            &#34;selector&#34;: &#34;html &gt; body &gt; iframe&#34;,\n            &#34;runner&#34;: &#34;htmlcs&#34;,\n            &#34;runnerExtras&#34;: {}\n        }\n    ]\n}"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/contrast-check": {
      "post": {
        "summary": "Color Contrast Checker",
        "description": "## \ud83d\ude80 Verifica se il tuo sito \u00e8 accessibile e conforme alle WCAG 2.1\n\n\ufeff[AccessiWeb](https://www.accessiweb.it/) - **Soluzioni per un web accessibile e inclusivo**\n\nEndpoint AccessiWeb per testare il rapporto di contrasto tra 2 colori",
        "operationId": "colorContrastChecker",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "background": {
                    "type": "string",
                    "example": "#ffffff"
                  },
                  "foreground": {
                    "type": "string",
                    "example": "#000000"
                  }
                }
              },
              "examples": {
                "Color Contrast Checker": {
                  "value": {
                    "background": "#ffffff",
                    "foreground": "#000000"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Color Contrast Checker",
            "headers": {
              "Content-Length": {
                "schema": {
                  "type": "string",
                  "example": "241"
                }
              },
              "Date": {
                "schema": {
                  "type": "string",
                  "example": "Fri, 17 Oct 2025 11:07:27 GMT"
                }
              },
              "ETag": {
                "schema": {
                  "type": "string",
                  "example": "W/\"f1-oKnOO5xcfzWK+Chu7MJ1rF17fmM\""
                }
              },
              "Keep-Alive": {
                "schema": {
                  "type": "string",
                  "example": "timeout=5"
                }
              },
              "Server": {
                "schema": {
                  "type": "string",
                  "example": "Microsoft-IIS/10.0"
                }
              },
              "X-Powered-By": {
                "schema": {
                  "type": "string",
                  "example": "ASP.NET"
                }
              },
              "X-Powered-By-Plesk": {
                "schema": {
                  "type": "string",
                  "example": "PleskWin"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "colors": {
                      "type": "object",
                      "properties": {
                        "background": {
                          "type": "object",
                          "properties": {
                            "hex": {
                              "type": "string",
                              "example": "#FFFFFF"
                            },
                            "rgb": {
                              "type": "array",
                              "items": {
                                "type": "number",
                                "example": 255
                              },
                              "example": [
                                255,
                                255,
                                255
                              ]
                            }
                          }
                        },
                        "foreground": {
                          "type": "object",
                          "properties": {
                            "hex": {
                              "type": "string",
                              "example": "#000000"
                            },
                            "rgb": {
                              "type": "array",
                              "items": {
                                "type": "number",
                                "example": 0
                              },
                              "example": [
                                0,
                                0,
                                0
                              ]
                            }
                          }
                        }
                      }
                    },
                    "compliance": {
                      "type": "object",
                      "properties": {
                        "WCAG_AA": {
                          "type": "object",
                          "properties": {
                            "largeText": {
                              "type": "boolean",
                              "example": true
                            },
                            "normalText": {
                              "type": "boolean",
                              "example": true
                            }
                          }
                        },
                        "WCAG_AAA": {
                          "type": "object",
                          "properties": {
                            "largeText": {
                              "type": "boolean",
                              "example": true
                            },
                            "normalText": {
                              "type": "boolean",
                              "example": true
                            }
                          }
                        }
                      }
                    },
                    "contrastRatio": {
                      "type": "string",
                      "example": "21:1"
                    }
                  }
                },
                "examples": {
                  "Color Contrast Checker": {
                    "value": {
                      "colors": {
                        "background": {
                          "hex": "#FFFFFF",
                          "rgb": [
                            255,
                            255,
                            255
                          ]
                        },
                        "foreground": {
                          "hex": "#000000",
                          "rgb": [
                            0,
                            0,
                            0
                          ]
                        }
                      },
                      "compliance": {
                        "WCAG_AA": {
                          "largeText": true,
                          "normalText": true
                        },
                        "WCAG_AAA": {
                          "largeText": true,
                          "normalText": true
                        }
                      },
                      "contrastRatio": "21:1"
                    }
                  }
                }
              }
            }
          }
        }
      }
    }
  },
  "tags": [],
  "components": {
    "schemas": {
      "Schema": {
        "type": "object",
        "properties": {
          "id": {
            "type": "integer",
            "format": "int64"
          }
        }
      }
    }
  }
}