{
  "openapi": "3.0.3",
  "info": {
    "title": "Vector Express API",
    "version": "2.0.0",
    "description": "Free vector file conversion, analyzing and processing API. Supports SVG, EPS, PDF, DXF, DWG, AI, CDR, HPGL, PLT, PS formats.",
    "x-jentic-source-url": "https://vector.express/api",
    "contact": {
      "name": "API Support"
    }
  },
  "servers": [
    {
      "url": "https://vector.express/api/v2"
    }
  ],
  "paths": {
    "/public/convert/{input_format}/auto/{output_format}": {
      "get": {
        "operationId": "get_conversion_paths",
        "summary": "Get possible conversion paths between formats",
        "description": "Returns the most efficient conversion path between the input and output formats.",
        "tags": [
          "Convert"
        ],
        "parameters": [
          {
            "name": "input_format",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "enum": [
                "ai",
                "cdr",
                "dwg",
                "dxf",
                "eps",
                "hpgl",
                "pdf",
                "plt",
                "ps",
                "svg"
              ]
            }
          },
          {
            "name": "output_format",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "enum": [
                "dwg",
                "dxf",
                "eps",
                "pdf",
                "plt",
                "ps",
                "svg"
              ]
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Conversion paths found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ConversionPaths"
                }
              }
            }
          },
          "400": {
            "description": "Invalid format specified"
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      }
    },
    "/public/convert/{input_format}/{converter}/{output_format}": {
      "post": {
        "operationId": "convert_file_single",
        "summary": "Convert a file using a single converter",
        "description": "Convert a vector file from one format to another using a specific converter program.",
        "tags": [
          "Convert"
        ],
        "parameters": [
          {
            "name": "input_format",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "enum": [
                "ai",
                "cdr",
                "dwg",
                "dxf",
                "eps",
                "hpgl",
                "pdf",
                "plt",
                "ps",
                "svg"
              ]
            }
          },
          {
            "name": "converter",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "enum": [
                "cad2pdf",
                "cad2svg",
                "cadlib",
                "gs",
                "hp2xx",
                "libcdr",
                "librsvg",
                "pdf2svg",
                "pstoedit",
                "svg2cad",
                "svgo",
                "uniconvertor"
              ]
            }
          },
          {
            "name": "output_format",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "enum": [
                "dwg",
                "dxf",
                "eps",
                "pdf",
                "plt",
                "ps",
                "svg"
              ]
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/octet-stream": {
              "schema": {
                "type": "string",
                "format": "binary"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Conversion started",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ConversionResult"
                }
              }
            }
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      }
    },
    "/public/convert/{in_fmt}/{conv1}/{mid_fmt}/{conv2}/{out_fmt}": {
      "post": {
        "operationId": "convert_file_chain",
        "summary": "Convert a file using chained converters",
        "description": "Chain up to three conversion programs for complex format conversions.",
        "tags": [
          "Convert"
        ],
        "parameters": [
          {
            "name": "in_fmt",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "conv1",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "mid_fmt",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "conv2",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "out_fmt",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/octet-stream": {
              "schema": {
                "type": "string",
                "format": "binary"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Conversion started",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ConversionResult"
                }
              }
            }
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      }
    },
    "/public/files/{file_id}": {
      "get": {
        "operationId": "get_file",
        "summary": "Download a converted file",
        "description": "Retrieve a file by its ID after conversion.",
        "tags": [
          "Files"
        ],
        "parameters": [
          {
            "name": "file_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "File content",
            "content": {
              "application/octet-stream": {
                "schema": {
                  "type": "string",
                  "format": "binary"
                }
              }
            }
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          },
          "404": {
            "description": "File not found"
          }
        }
      }
    },
    "/public/analyze/svg/get-svg-unit": {
      "post": {
        "operationId": "analyze_svg_get-svg-unit",
        "summary": "Analyze file with get-svg-unit",
        "tags": [
          "Analyze"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/octet-stream": {
              "schema": {
                "type": "string",
                "format": "binary"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Analysis result",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AnalysisResult"
                }
              }
            }
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          }
        },
        "description": "Analyze file with get-svg-unit"
      }
    },
    "/public/analyze/svg/groups": {
      "post": {
        "operationId": "analyze_svg_groups",
        "summary": "Analyze file with groups",
        "tags": [
          "Analyze"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/octet-stream": {
              "schema": {
                "type": "string",
                "format": "binary"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Analysis result",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AnalysisResult"
                }
              }
            }
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          }
        },
        "description": "Analyze file with groups"
      }
    },
    "/public/analyze/svg/linearmovement": {
      "post": {
        "operationId": "analyze_svg_linearmovement",
        "summary": "Analyze file with linearmovement",
        "tags": [
          "Analyze"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/octet-stream": {
              "schema": {
                "type": "string",
                "format": "binary"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Analysis result",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AnalysisResult"
                }
              }
            }
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          }
        },
        "description": "Analyze file with linearmovement"
      }
    },
    "/public/process/svg/boolean-operation": {
      "post": {
        "operationId": "process_svg_boolean-operation",
        "summary": "Process file with boolean-operation",
        "tags": [
          "Process"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/octet-stream": {
              "schema": {
                "type": "string",
                "format": "binary"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Processing result",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProcessResult"
                }
              }
            }
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          }
        },
        "description": "Process file with boolean-operation"
      }
    },
    "/public/process/svg/change-attribute": {
      "post": {
        "operationId": "process_svg_change-attribute",
        "summary": "Process file with change-attribute",
        "tags": [
          "Process"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/octet-stream": {
              "schema": {
                "type": "string",
                "format": "binary"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Processing result",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProcessResult"
                }
              }
            }
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          }
        },
        "description": "Process file with change-attribute"
      }
    },
    "/public/process/svg/convert-to-path": {
      "post": {
        "operationId": "process_svg_convert-to-path",
        "summary": "Process file with convert-to-path",
        "tags": [
          "Process"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/octet-stream": {
              "schema": {
                "type": "string",
                "format": "binary"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Processing result",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProcessResult"
                }
              }
            }
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          }
        },
        "description": "Process file with convert-to-path"
      }
    },
    "/public/process/svg/exclude-groups": {
      "post": {
        "operationId": "process_svg_exclude-groups",
        "summary": "Process file with exclude-groups",
        "tags": [
          "Process"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/octet-stream": {
              "schema": {
                "type": "string",
                "format": "binary"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Processing result",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProcessResult"
                }
              }
            }
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          }
        },
        "description": "Process file with exclude-groups"
      }
    },
    "/public/process/svg/flatten-beziers": {
      "post": {
        "operationId": "process_svg_flatten-beziers",
        "summary": "Process file with flatten-beziers",
        "tags": [
          "Process"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/octet-stream": {
              "schema": {
                "type": "string",
                "format": "binary"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Processing result",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProcessResult"
                }
              }
            }
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          }
        },
        "description": "Process file with flatten-beziers"
      }
    },
    "/public/process/svg/fix-illustrator-svg-font-names": {
      "post": {
        "operationId": "process_svg_fix-illustrator-svg-font-names",
        "summary": "Process file with fix-illustrator-svg-font-names",
        "tags": [
          "Process"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/octet-stream": {
              "schema": {
                "type": "string",
                "format": "binary"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Processing result",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProcessResult"
                }
              }
            }
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          }
        },
        "description": "Process file with fix-illustrator-svg-font-names"
      }
    },
    "/public/process/svg/include-only-groups": {
      "post": {
        "operationId": "process_svg_include-only-groups",
        "summary": "Process file with include-only-groups",
        "tags": [
          "Process"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/octet-stream": {
              "schema": {
                "type": "string",
                "format": "binary"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Processing result",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProcessResult"
                }
              }
            }
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          }
        },
        "description": "Process file with include-only-groups"
      }
    },
    "/public/process/svg/ungroup": {
      "post": {
        "operationId": "process_svg_ungroup",
        "summary": "Process file with ungroup",
        "tags": [
          "Process"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/octet-stream": {
              "schema": {
                "type": "string",
                "format": "binary"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Processing result",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProcessResult"
                }
              }
            }
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          }
        },
        "description": "Process file with ungroup"
      }
    },
    "/public/process/svg/xpath": {
      "post": {
        "operationId": "process_svg_xpath",
        "summary": "Process file with xpath",
        "tags": [
          "Process"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/octet-stream": {
              "schema": {
                "type": "string",
                "format": "binary"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Processing result",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProcessResult"
                }
              }
            }
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          }
        },
        "description": "Process file with xpath"
      }
    },
    "/public/process/svg/xslt": {
      "post": {
        "operationId": "process_svg_xslt",
        "summary": "Process file with xslt",
        "tags": [
          "Process"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/octet-stream": {
              "schema": {
                "type": "string",
                "format": "binary"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Processing result",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProcessResult"
                }
              }
            }
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          }
        },
        "description": "Process file with xslt"
      }
    },
    "/public/convert/use/{file_id}/{input_format}/{converter}/{output_format}": {
      "post": {
        "operationId": "convert_existing_file",
        "summary": "Convert an existing uploaded file",
        "description": "Use an already uploaded file ID to perform conversion.",
        "tags": [
          "Convert"
        ],
        "parameters": [
          {
            "name": "file_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "input_format",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "converter",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "output_format",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Conversion started",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ConversionResult"
                }
              }
            }
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      }
    }
  },
  "components": {
    "schemas": {
      "ConversionPaths": {
        "type": "object",
        "properties": {
          "alternatives": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "path": {
                  "type": "string"
                },
                "converters": {
                  "type": "array",
                  "items": {
                    "type": "string"
                  }
                }
              }
            }
          }
        }
      },
      "ConversionResult": {
        "type": "object",
        "properties": {
          "resultUrl": {
            "type": "string",
            "description": "URL to download the converted file"
          },
          "id": {
            "type": "string"
          },
          "status": {
            "type": "string"
          }
        }
      },
      "AnalysisResult": {
        "type": "object",
        "properties": {
          "result": {
            "type": "object",
            "description": "Analysis data depending on the analyzer used"
          },
          "id": {
            "type": "string"
          }
        }
      },
      "ProcessResult": {
        "type": "object",
        "properties": {
          "resultUrl": {
            "type": "string",
            "description": "URL to download the processed file"
          },
          "id": {
            "type": "string"
          },
          "status": {
            "type": "string"
          }
        }
      }
    }
  },
  "tags": [
    {
      "name": "Analyze"
    },
    {
      "name": "Convert"
    },
    {
      "name": "Files"
    },
    {
      "name": "Process"
    }
  ]
}
