{
  "openapi": "3.0.3",
  "info": {
    "title": "Amplitude Analytics API",
    "version": "2.0",
    "description": "Amplitude's HTTP API for event tracking, user identification, and data export. Supports event ingestion, user property updates, and raw data export.",
    "x-jentic-source-url": "https://amplitude.com/docs/apis/analytics",
    "contact": {
      "name": "API Support"
    }
  },
  "servers": [
    {
      "url": "https://api2.amplitude.com",
      "description": "Standard server"
    },
    {
      "url": "https://api.eu.amplitude.com",
      "description": "EU residency server"
    }
  ],
  "tags": [
    {
      "name": "Events",
      "description": "Event tracking and ingestion"
    },
    {
      "name": "Identify",
      "description": "User identification and property management"
    },
    {
      "name": "Export",
      "description": "Data export"
    },
    {
      "name": "Batch",
      "description": "Batch event upload"
    }
  ],
  "paths": {
    "/2/httpapi": {
      "post": {
        "operationId": "trackEvents",
        "summary": "HTTP V2 API - Track Events",
        "description": "Send events to Amplitude. Supports single events and batches up to 2000 events per request. Request size must be under 1 MB.",
        "tags": [
          "Events"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/HttpV2Request"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Events accepted",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HttpV2Response"
                }
              }
            }
          },
          "400": {
            "description": "Bad request - invalid events or missing required fields",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized - invalid API key",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "413": {
            "description": "Payload too large - request exceeds 1 MB or 2000 events"
          },
          "429": {
            "description": "Too many requests - rate limited"
          }
        }
      }
    },
    "/identify": {
      "post": {
        "operationId": "identifyUser",
        "summary": "Identify API - Set user properties",
        "description": "Set the User ID for a particular Device ID or update user properties without sending an event. Supports $set, $setOnce, $add, $append, $prepend, $unset, $preInsert, $postInsert, $remove operations.",
        "tags": [
          "Identify"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/x-www-form-urlencoded": {
              "schema": {
                "$ref": "#/components/schemas/IdentifyRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SuccessResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request - missing identification parameter",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "414": {
            "description": "URI too long - use POST instead of GET"
          },
          "429": {
            "description": "Rate limited - too many updates for this device/user"
          }
        }
      }
    },
    "/batch": {
      "post": {
        "operationId": "batchUploadEvents",
        "summary": "Batch Event Upload API",
        "description": "Upload multiple events in a single batch request. Recommended for server-side event tracking.",
        "tags": [
          "Batch"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/BatchUploadRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Events accepted",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HttpV2Response"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "413": {
            "description": "Payload too large"
          },
          "429": {
            "description": "Rate limited"
          }
        }
      }
    },
    "/api/2/export": {
      "get": {
        "operationId": "exportEvents",
        "summary": "Export API - Export raw event data",
        "description": "Export project event data as a zipped archive of JSON files. Data is available for export at minimum 2 hours after server receipt. Max export period is 365 days. Size limit is 4GB.",
        "tags": [
          "Export"
        ],
        "servers": [
          {
            "url": "https://amplitude.com"
          }
        ],
        "parameters": [
          {
            "name": "start",
            "in": "query",
            "required": true,
            "description": "First hour included in data series, formatted YYYYMMDDTHH (e.g., 20220201T05)",
            "schema": {
              "type": "string",
              "pattern": "^\\d{8}T\\d{2}$"
            }
          },
          {
            "name": "end",
            "in": "query",
            "required": true,
            "description": "Last hour included in data series, formatted YYYYMMDDTHH (e.g., 20220201T05)",
            "schema": {
              "type": "string",
              "pattern": "^\\d{8}T\\d{2}$"
            }
          }
        ],
        "security": [
          {
            "BasicAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "Zipped archive of JSON files with one event per line",
            "content": {
              "application/zip": {
                "schema": {
                  "type": "string",
                  "format": "binary"
                }
              }
            }
          },
          "400": {
            "description": "Export file size exceeds 4GB limit"
          },
          "401": {
            "description": "Unauthorized - invalid API key or secret",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "404": {
            "description": "No data available for the requested time range"
          },
          "504": {
            "description": "Timeout - data volume too large, use shorter time range"
          }
        }
      }
    },
    "/api/2/deletions/users": {
      "post": {
        "operationId": "requestUserDeletion",
        "summary": "Delete users and their data",
        "description": "Request deletion of user data from Amplitude. This is an asynchronous operation.",
        "tags": [
          "Identify"
        ],
        "servers": [
          {
            "url": "https://amplitude.com"
          }
        ],
        "security": [
          {
            "BasicAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UserDeletionRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Deletion request accepted",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/UserDeletionResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      },
      "get": {
        "operationId": "getUserDeletionStatus",
        "summary": "Get user deletion job status",
        "description": "Check the status of a user deletion request.",
        "tags": [
          "Identify"
        ],
        "servers": [
          {
            "url": "https://amplitude.com"
          }
        ],
        "security": [
          {
            "BasicAuth": []
          }
        ],
        "parameters": [
          {
            "name": "start_day",
            "in": "query",
            "required": false,
            "description": "Start date for filtering deletion requests (YYYY-MM-DD)",
            "schema": {
              "type": "string",
              "format": "date"
            }
          },
          {
            "name": "end_day",
            "in": "query",
            "required": false,
            "description": "End date for filtering deletion requests (YYYY-MM-DD)",
            "schema": {
              "type": "string",
              "format": "date"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Deletion request status",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/UserDeletionStatusResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/usermap": {
      "post": {
        "operationId": "mapUserIds",
        "summary": "Map user IDs",
        "description": "Map a user ID to a global user ID for cross-project identity resolution.",
        "tags": [
          "Identify"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UserMapRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Mapping successful",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SuccessResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/api/2/useractivity": {
      "get": {
        "operationId": "getUserActivity",
        "summary": "User Activity API",
        "description": "Get a user's most recent events, with optional filters.",
        "tags": [
          "Events"
        ],
        "servers": [
          {
            "url": "https://amplitude.com"
          }
        ],
        "security": [
          {
            "BasicAuth": []
          }
        ],
        "parameters": [
          {
            "name": "user",
            "in": "query",
            "required": true,
            "description": "Amplitude user ID to look up",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "offset",
            "in": "query",
            "required": false,
            "description": "Zero-indexed offset for pagination",
            "schema": {
              "type": "integer",
              "default": 0
            }
          },
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "description": "Number of events to return (max 1000)",
            "schema": {
              "type": "integer",
              "default": 1000,
              "maximum": 1000
            }
          }
        ],
        "responses": {
          "200": {
            "description": "User activity data",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/UserActivityResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/api/2/usersearch": {
      "get": {
        "operationId": "searchUsers",
        "summary": "User Search API",
        "description": "Search for users by user ID, device ID, or user properties.",
        "tags": [
          "Identify"
        ],
        "servers": [
          {
            "url": "https://amplitude.com"
          }
        ],
        "security": [
          {
            "BasicAuth": []
          }
        ],
        "parameters": [
          {
            "name": "user",
            "in": "query",
            "required": true,
            "description": "User ID or device ID to search for",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Search results",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/UserSearchResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/api/2/events/list": {
      "get": {
        "operationId": "listEventTypes",
        "summary": "Event List API",
        "description": "Get a list of all event types for a project.",
        "tags": [
          "Events"
        ],
        "servers": [
          {
            "url": "https://amplitude.com"
          }
        ],
        "security": [
          {
            "BasicAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "List of event types",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/EventListResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/api/2/events/segmentation": {
      "get": {
        "operationId": "getEventSegmentation",
        "summary": "Event Segmentation API",
        "description": "Get event segmentation data - metrics for an event with optional filters.",
        "tags": [
          "Events"
        ],
        "servers": [
          {
            "url": "https://amplitude.com"
          }
        ],
        "security": [
          {
            "BasicAuth": []
          }
        ],
        "parameters": [
          {
            "name": "e",
            "in": "query",
            "required": true,
            "description": "Event definition JSON",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "start",
            "in": "query",
            "required": true,
            "description": "Start date (YYYYMMDD)",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "end",
            "in": "query",
            "required": true,
            "description": "End date (YYYYMMDD)",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "m",
            "in": "query",
            "required": false,
            "description": "Metric type (uniques, totals, avg, etc.)",
            "schema": {
              "type": "string",
              "enum": [
                "uniques",
                "totals",
                "pct_dau",
                "average",
                "formula"
              ]
            }
          },
          {
            "name": "i",
            "in": "query",
            "required": false,
            "description": "Interval (1=daily, 7=weekly, 30=monthly, -300000=real-time)",
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "g",
            "in": "query",
            "required": false,
            "description": "Group by property",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Segmentation data",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SegmentationResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/api/2/funnels": {
      "get": {
        "operationId": "getFunnels",
        "summary": "Funnel Analysis API",
        "description": "Get funnel analysis data for a sequence of events.",
        "tags": [
          "Events"
        ],
        "servers": [
          {
            "url": "https://amplitude.com"
          }
        ],
        "security": [
          {
            "BasicAuth": []
          }
        ],
        "parameters": [
          {
            "name": "e",
            "in": "query",
            "required": true,
            "description": "Funnel events JSON array",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "start",
            "in": "query",
            "required": true,
            "description": "Start date (YYYYMMDD)",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "end",
            "in": "query",
            "required": true,
            "description": "End date (YYYYMMDD)",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "mode",
            "in": "query",
            "required": false,
            "description": "Counting mode",
            "schema": {
              "type": "string",
              "enum": [
                "ordered",
                "unordered",
                "sequential"
              ]
            }
          },
          {
            "name": "n",
            "in": "query",
            "required": false,
            "description": "Conversion window in days",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Funnel data",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/FunnelResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/api/2/retention": {
      "get": {
        "operationId": "getRetention",
        "summary": "Retention Analysis API",
        "description": "Get retention analysis for users who performed a start event and then a return event.",
        "tags": [
          "Events"
        ],
        "servers": [
          {
            "url": "https://amplitude.com"
          }
        ],
        "security": [
          {
            "BasicAuth": []
          }
        ],
        "parameters": [
          {
            "name": "se",
            "in": "query",
            "required": true,
            "description": "Start event JSON",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "re",
            "in": "query",
            "required": true,
            "description": "Return event JSON",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "start",
            "in": "query",
            "required": true,
            "description": "Start date (YYYYMMDD)",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "end",
            "in": "query",
            "required": true,
            "description": "End date (YYYYMMDD)",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "rm",
            "in": "query",
            "required": false,
            "description": "Retention mode (bracket or rolling)",
            "schema": {
              "type": "string",
              "enum": [
                "bracket",
                "rolling"
              ]
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Retention data",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RetentionResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/api/2/cohorts": {
      "get": {
        "operationId": "listCohorts",
        "summary": "List all cohorts",
        "description": "Get a list of all cohorts defined in the project.",
        "tags": [
          "Events"
        ],
        "servers": [
          {
            "url": "https://amplitude.com"
          }
        ],
        "security": [
          {
            "BasicAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "List of cohorts",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CohortListResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    }
  },
  "components": {
    "schemas": {
      "AmplitudeEvent": {
        "type": "object",
        "required": [
          "event_type"
        ],
        "properties": {
          "user_id": {
            "type": "string",
            "description": "A readable ID specified by you. Must be 5+ characters.",
            "minLength": 5
          },
          "device_id": {
            "type": "string",
            "description": "Device-specific identifier. Must be 5+ characters.",
            "minLength": 5
          },
          "event_type": {
            "type": "string",
            "description": "Name of the event",
            "maxLength": 1024
          },
          "time": {
            "type": "integer",
            "description": "Timestamp of event in milliseconds since epoch"
          },
          "event_properties": {
            "type": "object",
            "description": "Dictionary of key-value pairs for event metadata",
            "additionalProperties": true
          },
          "user_properties": {
            "type": "object",
            "description": "Dictionary of key-value pairs for user properties",
            "additionalProperties": true
          },
          "groups": {
            "type": "object",
            "description": "Group key-value pairs for account-level reporting",
            "additionalProperties": true
          },
          "app_version": {
            "type": "string"
          },
          "platform": {
            "type": "string"
          },
          "os_name": {
            "type": "string"
          },
          "os_version": {
            "type": "string"
          },
          "device_brand": {
            "type": "string"
          },
          "device_manufacturer": {
            "type": "string"
          },
          "device_model": {
            "type": "string"
          },
          "carrier": {
            "type": "string"
          },
          "country": {
            "type": "string"
          },
          "region": {
            "type": "string"
          },
          "city": {
            "type": "string"
          },
          "dma": {
            "type": "string"
          },
          "language": {
            "type": "string"
          },
          "price": {
            "type": "number"
          },
          "quantity": {
            "type": "integer"
          },
          "revenue": {
            "type": "number"
          },
          "productId": {
            "type": "string"
          },
          "revenueType": {
            "type": "string"
          },
          "location_lat": {
            "type": "number",
            "format": "float"
          },
          "location_lng": {
            "type": "number",
            "format": "float"
          },
          "ip": {
            "type": "string",
            "description": "IP address of the user"
          },
          "idfa": {
            "type": "string",
            "description": "iOS Identifier for Advertiser"
          },
          "idfv": {
            "type": "string",
            "description": "iOS Identifier for Vendor"
          },
          "adid": {
            "type": "string",
            "description": "Android Advertising ID"
          },
          "android_id": {
            "type": "string"
          },
          "session_id": {
            "type": "integer",
            "description": "Start time of session in ms since epoch, or -1 for out-of-session event"
          },
          "insert_id": {
            "type": "string",
            "description": "Unique insert ID for deduplication"
          }
        }
      },
      "HttpV2Request": {
        "type": "object",
        "required": [
          "api_key",
          "events"
        ],
        "properties": {
          "api_key": {
            "type": "string",
            "description": "Your project API key"
          },
          "events": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/AmplitudeEvent"
            },
            "description": "Array of events to track (max 2000)"
          },
          "options": {
            "type": "object",
            "properties": {
              "min_id_length": {
                "type": "integer",
                "description": "Override minimum ID length (default 5)"
              }
            }
          }
        }
      },
      "HttpV2Response": {
        "type": "object",
        "properties": {
          "code": {
            "type": "integer",
            "description": "HTTP status code"
          },
          "events_ingested": {
            "type": "integer",
            "description": "Number of events ingested"
          },
          "payload_size_bytes": {
            "type": "integer"
          },
          "server_upload_time": {
            "type": "string",
            "format": "date-time"
          }
        }
      },
      "IdentifyRequest": {
        "type": "object",
        "required": [
          "api_key",
          "identification"
        ],
        "properties": {
          "api_key": {
            "type": "string",
            "description": "Your project API key"
          },
          "identification": {
            "type": "string",
            "description": "JSON string of a single identification object or array of identification objects"
          }
        }
      },
      "BatchUploadRequest": {
        "type": "object",
        "required": [
          "api_key",
          "events"
        ],
        "properties": {
          "api_key": {
            "type": "string",
            "description": "Your project API key"
          },
          "events": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/AmplitudeEvent"
            }
          }
        }
      },
      "UserDeletionRequest": {
        "type": "object",
        "properties": {
          "amplitude_ids": {
            "type": "array",
            "items": {
              "type": "integer"
            },
            "description": "List of Amplitude IDs to delete"
          },
          "user_ids": {
            "type": "array",
            "items": {
              "type": "string"
            },
            "description": "List of user IDs to delete"
          },
          "requester": {
            "type": "string",
            "description": "Email of the person requesting deletion"
          }
        }
      },
      "UserDeletionResponse": {
        "type": "object",
        "properties": {
          "day": {
            "type": "string"
          },
          "status": {
            "type": "string"
          },
          "amplitude_ids": {
            "type": "array",
            "items": {
              "type": "integer"
            }
          }
        }
      },
      "UserDeletionStatusResponse": {
        "type": "object",
        "properties": {
          "day": {
            "type": "string"
          },
          "status": {
            "type": "string",
            "enum": [
              "staging",
              "submitted",
              "done",
              "failed"
            ]
          }
        }
      },
      "UserMapRequest": {
        "type": "object",
        "required": [
          "api_key",
          "mapping"
        ],
        "properties": {
          "api_key": {
            "type": "string"
          },
          "mapping": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "user_id": {
                  "type": "string"
                },
                "global_user_id": {
                  "type": "string"
                }
              }
            }
          }
        }
      },
      "UserActivityResponse": {
        "type": "object",
        "properties": {
          "events": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/AmplitudeEvent"
            }
          },
          "userData": {
            "type": "object",
            "properties": {
              "user_id": {
                "type": "string"
              },
              "num_events": {
                "type": "integer"
              },
              "num_sessions": {
                "type": "integer"
              }
            }
          }
        }
      },
      "UserSearchResponse": {
        "type": "object",
        "properties": {
          "matches": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "user_id": {
                  "type": "string"
                },
                "amplitude_id": {
                  "type": "integer"
                },
                "last_seen": {
                  "type": "string",
                  "format": "date-time"
                }
              }
            }
          }
        }
      },
      "EventListResponse": {
        "type": "object",
        "properties": {
          "data": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "event_type": {
                  "type": "string"
                },
                "totals": {
                  "type": "integer"
                }
              }
            }
          }
        }
      },
      "SegmentationResponse": {
        "type": "object",
        "properties": {
          "data": {
            "type": "object",
            "properties": {
              "series": {
                "type": "object",
                "additionalProperties": true
              },
              "seriesLabels": {
                "type": "array",
                "items": {
                  "type": "string"
                }
              }
            }
          },
          "metadata": {
            "type": "object"
          }
        }
      },
      "FunnelResponse": {
        "type": "object",
        "properties": {
          "data": {
            "type": "object",
            "properties": {
              "events": {
                "type": "array",
                "items": {
                  "type": "object"
                }
              },
              "completionPercentage": {
                "type": "number"
              }
            }
          }
        }
      },
      "RetentionResponse": {
        "type": "object",
        "properties": {
          "data": {
            "type": "object",
            "properties": {
              "series": {
                "type": "array",
                "items": {
                  "type": "array",
                  "items": {
                    "type": "number"
                  }
                }
              }
            }
          },
          "metadata": {
            "type": "object"
          }
        }
      },
      "CohortListResponse": {
        "type": "object",
        "properties": {
          "cohorts": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "id": {
                  "type": "string"
                },
                "name": {
                  "type": "string"
                },
                "size": {
                  "type": "integer"
                },
                "description": {
                  "type": "string"
                }
              }
            }
          }
        }
      },
      "SuccessResponse": {
        "type": "object",
        "properties": {
          "code": {
            "type": "integer"
          },
          "message": {
            "type": "string"
          }
        }
      },
      "ErrorResponse": {
        "type": "object",
        "properties": {
          "code": {
            "type": "integer"
          },
          "error": {
            "type": "string"
          },
          "message": {
            "type": "string"
          },
          "missing_field": {
            "type": "string"
          },
          "events_with_invalid_fields": {
            "type": "object",
            "additionalProperties": true
          },
          "events_with_missing_fields": {
            "type": "object",
            "additionalProperties": true
          }
        }
      }
    },
    "securitySchemes": {
      "ApiKeyBody": {
        "type": "apiKey",
        "in": "header",
        "name": "api_key",
        "description": "API key passed in the request body as api_key field"
      },
      "BasicAuth": {
        "type": "http",
        "scheme": "basic",
        "description": "Basic authentication using API key as username and secret key as password (base64 encoded)"
      }
    }
  },
  "security": [
    {
      "ApiKeyBody": []
    }
  ]
}
