{
  "openapi": "3.0.1",
  "info": {
    "title": "CalHeatScore_Forecast",
    "description": "API generated by Swagger Explore",
    "version": "1.0",
    "x-jentic-source-url": "https://api.swaggerhub.com/apis/calheatscore/calheatscore-forecast-api/1.0"
  },
  "servers": [
    {
      "url": "https://services1.arcgis.com/PCHfdHz4GlDNAhBb/arcgis/rest/services"
    }
  ],
  "tags": [
    {
      "name": "FeatureServer"
    }
  ],
  "paths": {
    "/CalHeatScore_ByDay_WideFormat/FeatureServer/0": {
      "get": {
        "tags": [
          "FeatureServer"
        ],
        "summary": "Get layer metadata (fields, capabilities)",
        "description": "Returns the layer\u2019s definition and fields (ArcGIS REST layer info).",
        "parameters": [
          {
            "$ref": "#/components/parameters/f"
          }
        ],
        "responses": {
          "200": {
            "description": "Layer definition",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/LayerDefinition"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/ArcGISError400"
          },
          "500": {
            "$ref": "#/components/responses/ArcGISError500"
          }
        }
      }
    },
    "/CalHeatScore_ByDay_WideFormat/FeatureServer/0/query": {
      "get": {
        "tags": [
          "FeatureServer"
        ],
        "summary": "Query California ZIP CHS features (layer 0)",
        "description": "Executes a query against layer 0, returning polygon features and CHS day attributes.\nThis spec uses fixed defaults commonly used by our app:\n- f=json\n- outFields=*\n- outSR=4326\n",
        "parameters": [
          {
            "$ref": "#/components/parameters/f"
          },
          {
            "$ref": "#/components/parameters/outFields"
          },
          {
            "$ref": "#/components/parameters/outSR"
          },
          {
            "$ref": "#/components/parameters/where"
          },
          {
            "$ref": "#/components/parameters/returnGeometry"
          },
          {
            "$ref": "#/components/parameters/geometry"
          },
          {
            "$ref": "#/components/parameters/geometryType"
          },
          {
            "$ref": "#/components/parameters/spatialRel"
          }
        ],
        "responses": {
          "200": {
            "description": "FeatureSet response (polygon features + attributes)",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/FeatureSet"
                },
                "examples": {
                  "oneFeatureExample": {
                    "summary": "Single ZIP feature (truncated rings)",
                    "value": {
                      "objectIdFieldName": "OBJECTID",
                      "geometryType": "esriGeometryPolygon",
                      "spatialReference": {
                        "wkid": 4326
                      },
                      "fields": [
                        {
                          "name": "OBJECTID",
                          "type": "esriFieldTypeOID",
                          "alias": "OBJECTID"
                        },
                        {
                          "name": "ZIP_CODE",
                          "type": "esriFieldTypeString",
                          "alias": "Zip Code",
                          "length": 10
                        },
                        {
                          "name": "DATE",
                          "type": "esriFieldTypeString",
                          "alias": "Date",
                          "length": 255
                        },
                        {
                          "name": "CHS_Day_0",
                          "type": "esriFieldTypeString",
                          "alias": "CHS Day 0",
                          "length": 255
                        },
                        {
                          "name": "CHS_Day_1",
                          "type": "esriFieldTypeString",
                          "alias": "CHS Day 1",
                          "length": 255
                        },
                        {
                          "name": "CHS_Day_2",
                          "type": "esriFieldTypeString",
                          "alias": "CHS Day 2",
                          "length": 255
                        },
                        {
                          "name": "CHS_Day_3",
                          "type": "esriFieldTypeString",
                          "alias": "CHS Day 3",
                          "length": 255
                        },
                        {
                          "name": "CHS_Day_4",
                          "type": "esriFieldTypeString",
                          "alias": "CHS Day 4",
                          "length": 255
                        },
                        {
                          "name": "CHS_Day_5",
                          "type": "esriFieldTypeString",
                          "alias": "CHS Day 5",
                          "length": 255
                        },
                        {
                          "name": "CHS_Day_6",
                          "type": "esriFieldTypeString",
                          "alias": "CHS Day 6",
                          "length": 255
                        },
                        {
                          "name": "GlobalID",
                          "type": "esriFieldTypeGlobalID",
                          "alias": "GlobalID",
                          "length": 38
                        },
                        {
                          "name": "Shape__Area",
                          "type": "esriFieldTypeDouble",
                          "alias": "Shape__Area"
                        },
                        {
                          "name": "Shape__Length",
                          "type": "esriFieldTypeDouble",
                          "alias": "Shape__Length"
                        }
                      ],
                      "features": [
                        {
                          "attributes": {
                            "OBJECTID": 1,
                            "ZIP_CODE": "00012",
                            "DATE": "2026-02-20",
                            "CHS_Day_0": "0",
                            "CHS_Day_1": "0",
                            "CHS_Day_2": "0",
                            "CHS_Day_3": "0",
                            "CHS_Day_4": "0",
                            "CHS_Day_5": "0",
                            "CHS_Day_6": "0",
                            "GlobalID": "a00156c5-d741-484a-a43d-ffee13a31d0a",
                            "Shape__Area": 137603280.109375,
                            "Shape__Length": 78041.22711996693
                          },
                          "geometry": {
                            "rings": [
                              [
                                [
                                  -120.843516,
                                  40.249621
                                ],
                                [
                                  -120.843599,
                                  40.248892
                                ],
                                [
                                  -120.853199,
                                  40.24883
                                ],
                                [
                                  -120.853109,
                                  40.241794
                                ],
                                [
                                  -120.866451,
                                  40.241569
                                ]
                              ],
                              []
                            ]
                          }
                        }
                      ]
                    }
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/ArcGISError400"
          },
          "500": {
            "$ref": "#/components/responses/ArcGISError500"
          }
        }
      }
    }
  },
  "components": {
    "parameters": {
      "f": {
        "name": "f",
        "in": "query",
        "required": true,
        "description": "Output format (fixed to JSON by default)",
        "schema": {
          "type": "string",
          "enum": [
            "json",
            "pjson"
          ],
          "default": "json"
        }
      },
      "outFields": {
        "name": "outFields",
        "in": "query",
        "required": false,
        "description": "Comma-separated list of field names, or * for all",
        "schema": {
          "type": "string",
          "default": "*"
        }
      },
      "outSR": {
        "name": "outSR",
        "in": "query",
        "required": false,
        "description": "WKID spatial reference for output",
        "schema": {
          "type": "integer",
          "default": 4326
        }
      },
      "where": {
        "name": "where",
        "in": "query",
        "required": false,
        "description": "SQL-like WHERE clause (use 1=1 for all records)",
        "schema": {
          "type": "string"
        },
        "example": "1=1"
      },
      "returnGeometry": {
        "name": "returnGeometry",
        "in": "query",
        "required": false,
        "description": "Whether to include geometry in results",
        "schema": {
          "type": "boolean",
          "default": true
        }
      },
      "geometry": {
        "name": "geometry",
        "in": "query",
        "required": false,
        "description": "Geometry filter in ArcGIS JSON (Envelope/Polygon/Polyline/Point)",
        "schema": {
          "type": "string"
        },
        "example": "{\"xmin\":-122.6,\"ymin\":37.7,\"xmax\":-121.9,\"ymax\":38.0,\"spatialReference\":{\"wkid\":4326}}"
      },
      "geometryType": {
        "name": "geometryType",
        "in": "query",
        "required": false,
        "schema": {
          "type": "string",
          "enum": [
            "esriGeometryEnvelope",
            "esriGeometryPolygon",
            "esriGeometryPolyline",
            "esriGeometryPoint"
          ]
        },
        "example": "esriGeometryEnvelope"
      },
      "spatialRel": {
        "name": "spatialRel",
        "in": "query",
        "required": false,
        "schema": {
          "type": "string",
          "enum": [
            "esriSpatialRelIntersects",
            "esriSpatialRelContains",
            "esriSpatialRelWithin",
            "esriSpatialRelTouches",
            "esriSpatialRelOverlaps"
          ]
        },
        "example": "esriSpatialRelIntersects"
      }
    },
    "schemas": {
      "LayerDefinition": {
        "type": "object",
        "description": "Partial layer definition (commonly returned by ArcGIS layer info)",
        "properties": {
          "objectIdFieldName": {
            "type": "string",
            "example": "OBJECTID"
          },
          "geometryType": {
            "type": "string",
            "example": "esriGeometryPolygon"
          },
          "spatialReference": {
            "$ref": "#/components/schemas/SpatialReference"
          },
          "fields": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Field"
            }
          }
        }
      },
      "SpatialReference": {
        "type": "object",
        "properties": {
          "wkid": {
            "type": "integer",
            "example": 4326
          },
          "latestWkid": {
            "type": "integer",
            "nullable": true
          }
        }
      },
      "Field": {
        "type": "object",
        "properties": {
          "name": {
            "type": "string"
          },
          "type": {
            "type": "string"
          },
          "alias": {
            "type": "string"
          },
          "length": {
            "type": "integer",
            "nullable": true
          }
        }
      },
      "Attributes": {
        "type": "object",
        "description": "Attributes for California_Zip_Codes_7_Day_CHS_Data",
        "properties": {
          "OBJECTID": {
            "type": "integer"
          },
          "ZIP_CODE": {
            "type": "string"
          },
          "DATE": {
            "type": "string"
          },
          "CHS_Day_0": {
            "type": "string"
          },
          "CHS_Day_1": {
            "type": "string"
          },
          "CHS_Day_2": {
            "type": "string"
          },
          "CHS_Day_3": {
            "type": "string"
          },
          "CHS_Day_4": {
            "type": "string"
          },
          "CHS_Day_5": {
            "type": "string"
          },
          "CHS_Day_6": {
            "type": "string"
          },
          "GlobalID": {
            "type": "string"
          },
          "Shape__Area": {
            "type": "number"
          },
          "Shape__Length": {
            "type": "number"
          }
        }
      },
      "Polygon": {
        "type": "object",
        "properties": {
          "rings": {
            "type": "array",
            "items": {
              "type": "array",
              "items": {
                "type": "array",
                "items": {
                  "type": "number"
                }
              }
            }
          },
          "spatialReference": {
            "$ref": "#/components/schemas/SpatialReference"
          }
        }
      },
      "Feature": {
        "type": "object",
        "properties": {
          "attributes": {
            "$ref": "#/components/schemas/Attributes"
          },
          "geometry": {
            "$ref": "#/components/schemas/Polygon"
          }
        }
      },
      "FeatureSet": {
        "type": "object",
        "properties": {
          "objectIdFieldName": {
            "type": "string"
          },
          "geometryType": {
            "type": "string"
          },
          "spatialReference": {
            "$ref": "#/components/schemas/SpatialReference"
          },
          "fields": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Field"
            }
          },
          "features": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Feature"
            }
          }
        }
      },
      "ArcGISError": {
        "type": "object",
        "properties": {
          "error": {
            "type": "object",
            "properties": {
              "code": {
                "type": "integer"
              },
              "message": {
                "type": "string"
              },
              "details": {
                "type": "array",
                "items": {
                  "type": "string"
                }
              }
            }
          }
        }
      }
    },
    "responses": {
      "ArcGISError400": {
        "description": "Bad request (invalid parameters)",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/ArcGISError"
            }
          }
        }
      },
      "ArcGISError500": {
        "description": "Server error",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/ArcGISError"
            }
          }
        }
      }
    }
  }
}