{
  "openapi": "3.0.0",
  "info": {
    "title": "Untappd API",
    "version": "4.0.0",
    "description": "The Untappd API allows access to beer checkins, user data, beer and brewery information, and social features.",
    "contact": {
      "url": "https://untappd.com/api/docs"
    }
  },
  "servers": [
    {
      "url": "https://api.untappd.com/v4",
      "description": "Production server"
    }
  ],
  "security": [
    {
      "ClientAuth": []
    },
    {
      "OAuth2": []
    }
  ],
  "paths": {
    "/checkin/recent": {
      "get": {
        "summary": "Recent friend activity",
        "description": "Returns recent checkin activity from friends",
        "operationId": "getRecentCheckins",
        "security": [
          {
            "OAuth2": []
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "tags": [
          "checkin"
        ]
      }
    },
    "/user/checkins/{username}": {
      "get": {
        "summary": "Get user checkins",
        "description": "Returns checkins for a specific user",
        "operationId": "getUserCheckins",
        "parameters": [
          {
            "name": "username",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response"
          }
        },
        "tags": [
          "user"
        ]
      }
    },
    "/beer/checkins/{bid}": {
      "get": {
        "summary": "Get beer activity",
        "description": "Returns checkin activity for a specific beer",
        "operationId": "getBeerCheckins",
        "parameters": [
          {
            "name": "bid",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response"
          }
        },
        "tags": [
          "beer"
        ]
      }
    },
    "/brewery/checkins/{brewery_id}": {
      "get": {
        "summary": "Get brewery activity",
        "description": "Returns checkin activity for a specific brewery",
        "operationId": "getBreweryCheckins",
        "parameters": [
          {
            "name": "brewery_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response"
          }
        },
        "tags": [
          "brewery"
        ]
      }
    },
    "/venue/checkins/{venue_id}": {
      "get": {
        "summary": "Get venue activity",
        "description": "Returns checkin activity for a specific venue",
        "operationId": "getVenueCheckins",
        "parameters": [
          {
            "name": "venue_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response"
          }
        },
        "tags": [
          "venue"
        ]
      }
    },
    "/user/info/{username}": {
      "get": {
        "summary": "Get user details",
        "description": "Returns detailed information about a user",
        "operationId": "getUserInfo",
        "parameters": [
          {
            "name": "username",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response"
          }
        },
        "tags": [
          "user"
        ]
      }
    },
    "/user/friends/{username}": {
      "get": {
        "summary": "Get user friends list",
        "description": "Returns the friends list for a user",
        "operationId": "getUserFriends",
        "parameters": [
          {
            "name": "username",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response"
          }
        },
        "tags": [
          "user"
        ]
      }
    },
    "/user/badges/{username}": {
      "get": {
        "summary": "Get user badges",
        "description": "Returns badges earned by a user",
        "operationId": "getUserBadges",
        "parameters": [
          {
            "name": "username",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response"
          }
        },
        "tags": [
          "user"
        ]
      }
    },
    "/user/wishlist/{username}": {
      "get": {
        "summary": "Get user wishlist",
        "description": "Returns the user's beer wishlist",
        "operationId": "getUserWishlist",
        "parameters": [
          {
            "name": "username",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response"
          }
        },
        "tags": [
          "user"
        ]
      }
    },
    "/user/beers/{username}": {
      "get": {
        "summary": "Get distinct beers for user",
        "description": "Returns distinct beers a user has checked in",
        "operationId": "getUserBeers",
        "parameters": [
          {
            "name": "username",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response"
          }
        },
        "tags": [
          "user"
        ]
      }
    },
    "/beer/info/{bid}": {
      "get": {
        "summary": "Get beer details",
        "description": "Returns detailed information about a beer",
        "operationId": "getBeerInfo",
        "parameters": [
          {
            "name": "bid",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response"
          }
        },
        "tags": [
          "beer"
        ]
      }
    },
    "/brewery/info/{brewery_id}": {
      "get": {
        "summary": "Get brewery details",
        "description": "Returns detailed information about a brewery",
        "operationId": "getBreweryInfo",
        "parameters": [
          {
            "name": "brewery_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response"
          }
        },
        "tags": [
          "brewery"
        ]
      }
    },
    "/venue/info/{venue_id}": {
      "get": {
        "summary": "Get venue details",
        "description": "Returns detailed information about a venue",
        "operationId": "getVenueInfo",
        "parameters": [
          {
            "name": "venue_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response"
          }
        },
        "tags": [
          "venue"
        ]
      }
    },
    "/checkin/view/{checkin_id}": {
      "get": {
        "summary": "View checkin details",
        "description": "Returns details for a specific checkin",
        "operationId": "getCheckinDetails",
        "parameters": [
          {
            "name": "checkin_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response"
          }
        },
        "tags": [
          "checkin"
        ]
      }
    },
    "/search/beer": {
      "get": {
        "summary": "Search for beers",
        "description": "Search for beers by name",
        "operationId": "searchBeer",
        "parameters": [
          {
            "name": "q",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Search query"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response"
          }
        },
        "tags": [
          "search"
        ]
      }
    },
    "/search/brewery": {
      "get": {
        "summary": "Search for breweries",
        "description": "Search for breweries by name",
        "operationId": "searchBrewery",
        "parameters": [
          {
            "name": "q",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Search query"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response"
          }
        },
        "tags": [
          "search"
        ]
      }
    },
    "/beer/trending": {
      "get": {
        "summary": "Get trending beers",
        "description": "Returns currently trending beers",
        "operationId": "getTrendingBeers",
        "responses": {
          "200": {
            "description": "Successful response"
          }
        },
        "tags": [
          "beer"
        ]
      }
    },
    "/checkin/add": {
      "post": {
        "summary": "Create a checkin",
        "description": "Create a new beer checkin",
        "operationId": "addCheckin",
        "security": [
          {
            "OAuth2": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/x-www-form-urlencoded": {
              "schema": {
                "type": "object",
                "properties": {
                  "bid": {
                    "type": "integer",
                    "description": "Beer ID"
                  },
                  "rating": {
                    "type": "number",
                    "description": "Rating (0-5)"
                  },
                  "comment": {
                    "type": "string",
                    "description": "Checkin comment"
                  }
                },
                "required": [
                  "bid"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Checkin created successfully"
          }
        },
        "tags": [
          "checkin"
        ]
      }
    },
    "/checkin/toast/{checkin_id}": {
      "post": {
        "summary": "Toast a checkin",
        "description": "Toast or untoas a checkin",
        "operationId": "toastCheckin",
        "security": [
          {
            "OAuth2": []
          }
        ],
        "parameters": [
          {
            "name": "checkin_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response"
          }
        },
        "tags": [
          "checkin"
        ]
      }
    },
    "/checkin/addcomment/{checkin_id}": {
      "post": {
        "summary": "Add comment to checkin",
        "description": "Add a comment to a checkin",
        "operationId": "addCheckinComment",
        "security": [
          {
            "OAuth2": []
          }
        ],
        "parameters": [
          {
            "name": "checkin_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/x-www-form-urlencoded": {
              "schema": {
                "type": "object",
                "properties": {
                  "comment": {
                    "type": "string"
                  }
                },
                "required": [
                  "comment"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Comment added successfully"
          }
        },
        "tags": [
          "checkin"
        ]
      }
    },
    "/checkin/deletecomment/{comment_id}": {
      "post": {
        "summary": "Delete comment",
        "description": "Remove a comment from a checkin",
        "operationId": "deleteCheckinComment",
        "security": [
          {
            "OAuth2": []
          }
        ],
        "parameters": [
          {
            "name": "comment_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Comment deleted successfully"
          }
        },
        "tags": [
          "checkin"
        ]
      }
    },
    "/friend/request/{target_id}": {
      "get": {
        "summary": "Send friend request",
        "description": "Send a friend request to another user",
        "operationId": "sendFriendRequest",
        "security": [
          {
            "OAuth2": []
          }
        ],
        "parameters": [
          {
            "name": "target_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Friend request sent"
          }
        },
        "tags": [
          "friend"
        ]
      }
    },
    "/friend/accept/{target_id}": {
      "get": {
        "summary": "Accept friend request",
        "description": "Accept a pending friend request",
        "operationId": "acceptFriendRequest",
        "security": [
          {
            "OAuth2": []
          }
        ],
        "parameters": [
          {
            "name": "target_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Friend request accepted"
          }
        },
        "tags": [
          "friend"
        ]
      }
    },
    "/friend/reject/{target_id}": {
      "get": {
        "summary": "Reject friend request",
        "description": "Reject a pending friend request",
        "operationId": "rejectFriendRequest",
        "security": [
          {
            "OAuth2": []
          }
        ],
        "parameters": [
          {
            "name": "target_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Friend request rejected"
          }
        },
        "tags": [
          "friend"
        ]
      }
    },
    "/friend/remove/{target_id}": {
      "get": {
        "summary": "Remove friend",
        "description": "Remove a friend from your friends list",
        "operationId": "removeFriend",
        "security": [
          {
            "OAuth2": []
          }
        ],
        "parameters": [
          {
            "name": "target_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Friend removed"
          }
        },
        "tags": [
          "friend"
        ]
      }
    },
    "/user/wishlist/add": {
      "get": {
        "summary": "Add to wishlist",
        "description": "Add a beer to your wishlist",
        "operationId": "addToWishlist",
        "security": [
          {
            "OAuth2": []
          }
        ],
        "parameters": [
          {
            "name": "bid",
            "in": "query",
            "required": true,
            "schema": {
              "type": "integer"
            },
            "description": "Beer ID"
          }
        ],
        "responses": {
          "200": {
            "description": "Added to wishlist"
          }
        },
        "tags": [
          "user"
        ]
      }
    },
    "/user/wishlist/delete": {
      "get": {
        "summary": "Remove from wishlist",
        "description": "Remove a beer from your wishlist",
        "operationId": "removeFromWishlist",
        "security": [
          {
            "OAuth2": []
          }
        ],
        "parameters": [
          {
            "name": "bid",
            "in": "query",
            "required": true,
            "schema": {
              "type": "integer"
            },
            "description": "Beer ID"
          }
        ],
        "responses": {
          "200": {
            "description": "Removed from wishlist"
          }
        },
        "tags": [
          "user"
        ]
      }
    },
    "/notifications": {
      "get": {
        "summary": "Get notifications",
        "description": "Get user notifications",
        "operationId": "getNotifications",
        "security": [
          {
            "OAuth2": []
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response"
          }
        },
        "tags": [
          "notifications"
        ]
      }
    },
    "/venue/foursquare_lookup/{venue_id}": {
      "get": {
        "summary": "Foursquare venue lookup",
        "description": "Convert Foursquare venue IDs to Untappd venue IDs",
        "operationId": "foursquareLookup",
        "parameters": [
          {
            "name": "venue_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Foursquare venue ID"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response"
          }
        },
        "tags": [
          "venue"
        ]
      }
    }
  },
  "components": {
    "securitySchemes": {
      "ClientAuth": {
        "type": "apiKey",
        "in": "query",
        "name": "client_id",
        "description": "Client ID and Client Secret required as query parameters"
      },
      "OAuth2": {
        "type": "oauth2",
        "flows": {
          "authorizationCode": {
            "authorizationUrl": "https://untappd.com/oauth/authenticate/",
            "tokenUrl": "https://untappd.com/oauth/authorize/",
            "scopes": {}
          }
        }
      }
    }
  },
  "tags": [
    {
      "name": "beer"
    },
    {
      "name": "brewery"
    },
    {
      "name": "checkin"
    },
    {
      "name": "friend"
    },
    {
      "name": "notifications"
    },
    {
      "name": "search"
    },
    {
      "name": "user"
    },
    {
      "name": "venue"
    }
  ]
}
