{
  "openapi": "3.0.3",
  "info": {
    "title": "DCP - API Elecciones",
    "description": "Este documento contiene la utilizacion por parte de terceros, de la API para poder Listar las mesas habilitadas en estas elecciones y asi como poder agregar, modificar y consultar el lugar donde los afiliados van a poder realizar el sufragio.",
    "version": "1.0.12",
    "x-jentic-source-url": "https://api.swaggerhub.com/apis/dcp-811/dcp-api-elecciones/1.0.12"
  },
  "servers": [
    {
      "url": "https://www.dcp.uns.edu.ar"
    }
  ],
  "tags": [
    {
      "name": "Login",
      "description": "Presentar credenciales de acceso",
      "externalDocs": {
        "description": "Como usar el Token",
        "url": "http://swagger.io"
      }
    },
    {
      "name": "Mesas",
      "description": "Listar las mesas habilitadas",
      "externalDocs": {
        "description": "Informaci\ufffdn adicional de las mesas",
        "url": "http://swagger.io"
      }
    },
    {
      "name": "Padron",
      "description": "Operaciones Agregar Modificar y Listar Padron"
    },
    {
      "name": "PrestacionesSOS",
      "description": "Operaciones Agregar y Listar Prestaciones de SOSUNS a los Trabajadores del DCP"
    }
  ],
  "paths": {
    "/api/login": {
      "get": {
        "tags": [
          "Login"
        ],
        "summary": "Loguearse a la API",
        "description": "Proporcionar credenciales de acceso a la API",
        "operationId": "loginApi",
        "parameters": [
          {
            "name": "legajo",
            "in": "query",
            "description": "Nro de legajo",
            "required": false,
            "explode": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          },
          {
            "name": "password",
            "in": "query",
            "description": "Contrase\ufffda",
            "required": true,
            "schema": {
              "type": "array",
              "items": {
                "type": "string"
              }
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Operacion exitosa"
          },
          "400": {
            "description": "Credenciales incorrectas"
          },
          "404": {
            "description": "Usuario no fue encontrado"
          }
        }
      }
    },
    "/api/padronmesastipo": {
      "get": {
        "tags": [
          "Mesas"
        ],
        "summary": "Mesas del Escrutinio",
        "description": "Obtener un listado de las Mesas Habilitadas",
        "operationId": "listarMesas",
        "responses": {
          "200": {
            "description": "successful operation"
          },
          "400": {
            "description": "Invalid status value"
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ]
      }
    },
    "/api/padronlog": {
      "get": {
        "tags": [
          "Padron"
        ],
        "summary": "Log de Operaciones registradas",
        "description": "Listar operaciones registradas por fecha de la mas reciente a la mas antigua",
        "operationId": "listarLog",
        "responses": {
          "200": {
            "description": "successful operation"
          },
          "400": {
            "description": "Invalid status value"
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ]
      }
    },
    "/api/padronmesas": {
      "post": {
        "tags": [
          "Padron"
        ],
        "summary": "Agregar viculacion de un Legajo al padron de una mesa",
        "description": "Para legajos que aun no esten incluidos, se agrega una legajo a una mesa habilitada",
        "operationId": "createPadron",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "description": "Crear PadronMesa",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/PadronMesa"
              }
            },
            "application/xml": {
              "schema": {
                "$ref": "#/components/schemas/PadronMesa"
              }
            },
            "application/x-www-form-urlencoded": {
              "schema": {
                "$ref": "#/components/schemas/PadronMesa"
              }
            }
          }
        },
        "responses": {
          "default": {
            "description": "operacion exitosa",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PadronMesa"
                }
              },
              "application/xml": {
                "schema": {
                  "$ref": "#/components/schemas/PadronMesa"
                }
              }
            }
          }
        }
      },
      "get": {
        "tags": [
          "Padron"
        ],
        "summary": "Consultar Padron total",
        "description": "Retorna ordenado por Legajo , la mesa que le corresponde a cada legajo",
        "operationId": "listarPadron",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "Operacion Exitosa",
            "content": {
              "application/xml": {
                "schema": {
                  "type": "string"
                }
              },
              "application/json": {
                "schema": {
                  "type": "string"
                }
              }
            }
          },
          "400": {
            "description": "Operacion incorrecta"
          }
        }
      }
    },
    "/api/padron/mesa/{mesa}": {
      "get": {
        "tags": [
          "Padron"
        ],
        "summary": "Listar los legajos que sufragan en la mesa indicada",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "description": "",
        "operationId": "padronmesa",
        "parameters": [
          {
            "name": "mesa",
            "in": "path",
            "description": "El ID de la mesa que queremos consultar. ",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Operacion Exitosa",
            "content": {
              "application/xml": {
                "schema": {
                  "type": "string"
                }
              },
              "application/json": {
                "schema": {
                  "type": "string"
                }
              }
            }
          },
          "400": {
            "description": "Mesa Inexistente o inhabilitada"
          }
        }
      }
    },
    "/api/padron/legajo/{legajo}": {
      "get": {
        "tags": [
          "Padron"
        ],
        "summary": "Consultar donde sufraga un legajo",
        "description": "",
        "operationId": "padronlegajo",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "legajo",
            "in": "path",
            "description": "El ID de la mesa que queremos consultar. ",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Operacion Exitosa",
            "content": {
              "application/xml": {
                "schema": {
                  "type": "string"
                }
              },
              "application/json": {
                "schema": {
                  "type": "string"
                }
              }
            }
          },
          "400": {
            "description": "Legajo Invalido"
          },
          "404": {
            "description": "User not found"
          }
        }
      },
      "put": {
        "tags": [
          "Padron"
        ],
        "summary": "Modificar donde sufraga un Legajo",
        "description": "Indicar una nueva mesa donde votara el legajo indicado.",
        "operationId": "updateLegajo",
        "parameters": [
          {
            "name": "legajo",
            "in": "path",
            "description": "Legajo a ser reubicado en otra mesa",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          }
        ],
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "description": "Modificar donde sufraga un Legajo",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/PadronMesa"
              }
            },
            "application/xml": {
              "schema": {
                "$ref": "#/components/schemas/PadronMesa"
              }
            },
            "application/x-www-form-urlencoded": {
              "schema": {
                "$ref": "#/components/schemas/PadronMesa"
              }
            }
          }
        },
        "responses": {
          "default": {
            "description": "successful operation"
          }
        }
      },
      "delete": {
        "tags": [
          "Padron"
        ],
        "summary": "Borrar asociacion entre Legajo y Mesa.",
        "description": "Al borrarlo de este.",
        "operationId": "deleteLegajo",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "legajo",
            "in": "path",
            "description": "El Legajo que retiraremos de la vinculacion con la mesa.",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          }
        ],
        "responses": {
          "400": {
            "description": "Legajo Invalido"
          },
          "404": {
            "description": "Legajo Ineistente"
          }
        }
      }
    },
    "/api/prestacionessos": {
      "post": {
        "tags": [
          "PrestacionesSOS"
        ],
        "summary": "Ingresar las prestaciones SOSUNS de un periodo",
        "description": "Son las prestaciones de SOSUNS de los trabajadores del DCP para un mes determinado",
        "operationId": "updatePrestaciones",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "mes": {
                    "type": "string",
                    "description": "Mes del proceso"
                  },
                  "contenido": {
                    "type": "array",
                    "description": "Array de Prestaciones SOS",
                    "items": {
                      "type": "object",
                      "properties": {
                        "legajo": {
                          "type": "integer"
                        },
                        "numeroAfiliado": {
                          "type": "string"
                        },
                        "fecha": {
                          "type": "string",
                          "format": "date"
                        },
                        "gasto": {
                          "type": "integer"
                        },
                        "mesStr": {
                          "type": "string"
                        },
                        "codigoPrestador": {
                          "type": "integer"
                        },
                        "prescripto": {
                          "type": "string"
                        },
                        "ejecutor": {
                          "type": "string"
                        },
                        "cantidad": {
                          "type": "integer"
                        },
                        "item": {
                          "type": "integer"
                        },
                        "descripcion": {
                          "type": "string"
                        },
                        "importe": {
                          "type": "number",
                          "format": "float"
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Operacion Exitosa",
            "content": {
              "application/xml": {
                "schema": {
                  "type": "string"
                }
              },
              "application/json": {
                "schema": {
                  "type": "string"
                }
              }
            }
          },
          "400": {
            "description": "Mes ya procesado"
          },
          "404": {
            "description": "Prestacion Invalida"
          }
        }
      }
    }
  },
  "components": {
    "schemas": {
      "PadronMesa": {
        "type": "object",
        "properties": {
          "legajo": {
            "type": "integer",
            "format": "int64",
            "example": 90018
          },
          "mesa": {
            "type": "integer",
            "format": "int64",
            "example": 3
          }
        },
        "xml": {
          "name": "padronmesa"
        }
      }
    },
    "requestBodies": {
      "UserArray": {
        "description": "List of user object",
        "content": {
          "application/json": {
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/components/schemas/PadronMesa"
              }
            }
          }
        }
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}