{
  "openapi": "3.0.3",
  "info": {
    "title": "Zipcodebase API",
    "version": "1.0.0",
    "description": "Zipcodebase provides postal/zip code data from 200+ countries. Search, lookup, calculate distances, and find nearby codes.",
    "x-jentic-source-url": "https://zipcodebase.com/documentation",
    "contact": {
      "name": "API Support"
    }
  },
  "servers": [
    {
      "url": "https://app.zipcodebase.com/api/v1"
    }
  ],
  "paths": {
    "/search": {
      "get": {
        "operationId": "searchZipCodes",
        "summary": "Search zip codes",
        "description": "Search for zip/postal codes and get location data including city, state, province, and coordinates.",
        "tags": [
          "Search"
        ],
        "parameters": [
          {
            "name": "codes",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Comma-separated zip codes"
          },
          {
            "name": "country",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "description": "ISO 3166-1 alpha-2 country code"
          }
        ],
        "responses": {
          "200": {
            "description": "Zip code data",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SearchResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/code/city": {
      "get": {
        "operationId": "getCodesByCity",
        "summary": "Get codes by city",
        "description": "Get all zip/postal codes for a specific city.",
        "tags": [
          "Lookup"
        ],
        "parameters": [
          {
            "name": "city",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "country",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "state_name",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "description": "Filter by state/province name"
          },
          {
            "name": "limit",
            "in": "query",
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Codes for city",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CodesListResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/code/country": {
      "get": {
        "operationId": "getCodesByCountry",
        "summary": "Get codes by country",
        "description": "Get all zip/postal codes for a specific country.",
        "tags": [
          "Lookup"
        ],
        "parameters": [
          {
            "name": "country",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Country codes",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CodesListResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/code/province": {
      "get": {
        "operationId": "getCodesByProvince",
        "summary": "Get codes by province/state",
        "description": "Get all zip/postal codes for a specific province or state.",
        "tags": [
          "Lookup"
        ],
        "parameters": [
          {
            "name": "country",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "state_name",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Province codes",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CodesListResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/distance": {
      "get": {
        "operationId": "calculateDistance",
        "summary": "Calculate distance between codes",
        "description": "Calculate the distance between two postal/zip codes.",
        "tags": [
          "Distance"
        ],
        "parameters": [
          {
            "name": "code",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "First zip code"
          },
          {
            "name": "compare",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Second zip code"
          },
          {
            "name": "country",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "unit",
            "in": "query",
            "schema": {
              "type": "string",
              "enum": [
                "km",
                "mi"
              ],
              "default": "km"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Distance result",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DistanceResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/nearby": {
      "get": {
        "operationId": "findNearby",
        "summary": "Find nearby zip codes",
        "description": "Find zip/postal codes within a specified radius.",
        "tags": [
          "Nearby"
        ],
        "parameters": [
          {
            "name": "code",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "country",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "radius",
            "in": "query",
            "required": true,
            "schema": {
              "type": "number"
            },
            "description": "Radius in km"
          },
          {
            "name": "unit",
            "in": "query",
            "schema": {
              "type": "string",
              "enum": [
                "km",
                "mi"
              ],
              "default": "km"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Nearby codes",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/NearbyResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/match": {
      "get": {
        "operationId": "matchCode",
        "summary": "Match a partial code",
        "description": "Match a partial zip/postal code and return possible completions.",
        "tags": [
          "Search"
        ],
        "parameters": [
          {
            "name": "code",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Partial zip code"
          },
          {
            "name": "country",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Matching codes",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CodesListResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/radius": {
      "get": {
        "operationId": "getCodesWithinRadius",
        "summary": "Get codes within radius",
        "description": "Get all postal codes within a specific radius of given coordinates.",
        "tags": [
          "Nearby"
        ],
        "parameters": [
          {
            "name": "lat",
            "in": "query",
            "required": true,
            "schema": {
              "type": "number"
            }
          },
          {
            "name": "lng",
            "in": "query",
            "required": true,
            "schema": {
              "type": "number"
            }
          },
          {
            "name": "radius",
            "in": "query",
            "required": true,
            "schema": {
              "type": "number"
            }
          },
          {
            "name": "country",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "unit",
            "in": "query",
            "schema": {
              "type": "string",
              "enum": [
                "km",
                "mi"
              ],
              "default": "km"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Codes within radius",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CodesListResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    }
  },
  "components": {
    "schemas": {
      "SearchResponse": {
        "type": "object",
        "properties": {
          "query": {
            "type": "object",
            "properties": {
              "codes": {
                "type": "array",
                "items": {
                  "type": "string"
                }
              },
              "country": {
                "type": "string"
              }
            }
          },
          "results": {
            "type": "object",
            "additionalProperties": {
              "type": "array",
              "items": {
                "$ref": "#/components/schemas/ZipCodeResult"
              }
            }
          }
        }
      },
      "ZipCodeResult": {
        "type": "object",
        "properties": {
          "postal_code": {
            "type": "string"
          },
          "country_code": {
            "type": "string"
          },
          "latitude": {
            "type": "string"
          },
          "longitude": {
            "type": "string"
          },
          "city": {
            "type": "string"
          },
          "state": {
            "type": "string"
          },
          "state_code": {
            "type": "string"
          },
          "province": {
            "type": "string"
          },
          "province_code": {
            "type": "string"
          }
        }
      },
      "CodesListResponse": {
        "type": "object",
        "properties": {
          "query": {
            "type": "object"
          },
          "results": {
            "type": "array",
            "items": {
              "type": "string"
            }
          }
        }
      },
      "DistanceResponse": {
        "type": "object",
        "properties": {
          "query": {
            "type": "object"
          },
          "results": {
            "type": "object",
            "properties": {
              "distance_in_km": {
                "type": "number"
              },
              "distance_in_mi": {
                "type": "number"
              }
            }
          }
        }
      },
      "NearbyResponse": {
        "type": "object",
        "properties": {
          "query": {
            "type": "object"
          },
          "results": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "code": {
                  "type": "string"
                },
                "city": {
                  "type": "string"
                },
                "state": {
                  "type": "string"
                },
                "distance": {
                  "type": "number"
                }
              }
            }
          }
        }
      },
      "ErrorResponse": {
        "type": "object",
        "properties": {
          "error": {
            "type": "boolean"
          },
          "message": {
            "type": "string"
          }
        }
      }
    },
    "securitySchemes": {
      "apiKeyHeader": {
        "type": "apiKey",
        "in": "header",
        "name": "apikey",
        "description": "Zipcodebase API key"
      }
    }
  },
  "security": [
    {
      "apiKeyHeader": []
    }
  ],
  "tags": [
    {
      "name": "Distance"
    },
    {
      "name": "Lookup"
    },
    {
      "name": "Nearby"
    },
    {
      "name": "Search"
    }
  ]
}
