{
  "openapi": "3.0.3",
  "info": {
    "title": "Brave Search API",
    "description": "The Brave Search API provides access to Brave's independent search index. It offers web search, image search, news search, video search, and AI-powered summarized answers. Powered by an independent index of over 30 billion pages.",
    "version": "1.0.0",
    "x-jentic-source-url": "https://brave.com/search/api/",
    "contact": {
      "name": "API Support"
    }
  },
  "servers": [
    {
      "url": "https://api.search.brave.com"
    }
  ],
  "security": [
    {
      "apiKeyHeader": []
    }
  ],
  "tags": [
    {
      "name": "Web Search",
      "description": "Web search endpoints"
    },
    {
      "name": "Summarizer",
      "description": "AI-powered answer summarization"
    },
    {
      "name": "Image Search",
      "description": "Image search endpoints"
    },
    {
      "name": "Video Search",
      "description": "Video search endpoints"
    },
    {
      "name": "News Search",
      "description": "News search endpoints"
    },
    {
      "name": "Suggest",
      "description": "Search suggestions"
    },
    {
      "name": "Spellcheck",
      "description": "Spellcheck endpoints"
    }
  ],
  "paths": {
    "/res/v1/web/search": {
      "get": {
        "operationId": "webSearch",
        "summary": "Web Search",
        "description": "Get web search results including URLs, snippets, and metadata. Supports Goggles for custom reranking and extra snippets for enhanced context.",
        "tags": [
          "Web Search"
        ],
        "parameters": [
          {
            "name": "q",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "The search query string"
          },
          {
            "name": "country",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "description": "Country code for search results localization (e.g., US, GB)"
          },
          {
            "name": "search_lang",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "description": "Language code for search results"
          },
          {
            "name": "ui_lang",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "description": "UI language for the response"
          },
          {
            "name": "count",
            "in": "query",
            "schema": {
              "type": "integer",
              "minimum": 1,
              "maximum": 20,
              "default": 10
            },
            "description": "Number of results to return"
          },
          {
            "name": "offset",
            "in": "query",
            "schema": {
              "type": "integer",
              "default": 0
            },
            "description": "Offset for pagination"
          },
          {
            "name": "safesearch",
            "in": "query",
            "schema": {
              "type": "string",
              "enum": [
                "off",
                "moderate",
                "strict"
              ]
            },
            "description": "SafeSearch filter level"
          },
          {
            "name": "freshness",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "description": "Freshness filter (e.g., pd for past day, pw for past week, pm for past month)"
          },
          {
            "name": "text_decorations",
            "in": "query",
            "schema": {
              "type": "boolean"
            },
            "description": "Whether to include text decorations like bold in snippets"
          },
          {
            "name": "spellcheck",
            "in": "query",
            "schema": {
              "type": "boolean"
            },
            "description": "Whether to include spellcheck suggestions"
          },
          {
            "name": "goggles_id",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "description": "Goggles ID for custom reranking and filtering"
          },
          {
            "name": "units",
            "in": "query",
            "schema": {
              "type": "string",
              "enum": [
                "metric",
                "imperial"
              ]
            },
            "description": "Units for measurement results"
          },
          {
            "name": "extra_snippets",
            "in": "query",
            "schema": {
              "type": "boolean"
            },
            "description": "Whether to return extra alternate snippets (up to 5)"
          },
          {
            "name": "summary",
            "in": "query",
            "schema": {
              "type": "boolean"
            },
            "description": "Whether to include a summarizer key in the response"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful web search results",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/WebSearchResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request - invalid query parameters"
          },
          "401": {
            "description": "Unauthorized - missing or invalid API key"
          },
          "422": {
            "description": "Validation error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "429": {
            "description": "Rate limit exceeded"
          }
        }
      }
    },
    "/res/v1/images/search": {
      "get": {
        "operationId": "imageSearch",
        "summary": "Image Search",
        "description": "Search for images across the web.",
        "tags": [
          "Image Search"
        ],
        "parameters": [
          {
            "name": "q",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "The search query string"
          },
          {
            "name": "country",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "description": "Country code for localization"
          },
          {
            "name": "search_lang",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "description": "Language code for results"
          },
          {
            "name": "count",
            "in": "query",
            "schema": {
              "type": "integer",
              "default": 10
            },
            "description": "Number of results"
          },
          {
            "name": "safesearch",
            "in": "query",
            "schema": {
              "type": "string",
              "enum": [
                "off",
                "moderate",
                "strict"
              ]
            },
            "description": "SafeSearch level"
          },
          {
            "name": "spellcheck",
            "in": "query",
            "schema": {
              "type": "boolean"
            },
            "description": "Include spellcheck suggestions"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful image search results",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ImageSearchResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          },
          "422": {
            "description": "Validation error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/res/v1/videos/search": {
      "get": {
        "operationId": "videoSearch",
        "summary": "Video Search",
        "description": "Search for videos across the web.",
        "tags": [
          "Video Search"
        ],
        "parameters": [
          {
            "name": "q",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "The search query string"
          },
          {
            "name": "country",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "description": "Country code for localization"
          },
          {
            "name": "search_lang",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "description": "Language code for results"
          },
          {
            "name": "count",
            "in": "query",
            "schema": {
              "type": "integer",
              "default": 10
            },
            "description": "Number of results"
          },
          {
            "name": "safesearch",
            "in": "query",
            "schema": {
              "type": "string",
              "enum": [
                "off",
                "moderate",
                "strict"
              ]
            },
            "description": "SafeSearch level"
          },
          {
            "name": "freshness",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "description": "Freshness filter"
          },
          {
            "name": "spellcheck",
            "in": "query",
            "schema": {
              "type": "boolean"
            },
            "description": "Include spellcheck suggestions"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful video search results",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/VideoSearchResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          },
          "422": {
            "description": "Validation error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/res/v1/news/search": {
      "get": {
        "operationId": "newsSearch",
        "summary": "News Search",
        "description": "Search for news articles across the web.",
        "tags": [
          "News Search"
        ],
        "parameters": [
          {
            "name": "q",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "The search query string"
          },
          {
            "name": "country",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "description": "Country code for localization"
          },
          {
            "name": "search_lang",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "description": "Language code for results"
          },
          {
            "name": "count",
            "in": "query",
            "schema": {
              "type": "integer",
              "default": 10
            },
            "description": "Number of results"
          },
          {
            "name": "safesearch",
            "in": "query",
            "schema": {
              "type": "string",
              "enum": [
                "off",
                "moderate",
                "strict"
              ]
            },
            "description": "SafeSearch level"
          },
          {
            "name": "freshness",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "description": "Freshness filter"
          },
          {
            "name": "spellcheck",
            "in": "query",
            "schema": {
              "type": "boolean"
            },
            "description": "Include spellcheck suggestions"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful news search results",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/NewsSearchResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          },
          "422": {
            "description": "Validation error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/res/v1/suggest/search": {
      "get": {
        "operationId": "suggestSearch",
        "summary": "Suggest",
        "description": "Get search suggestions for a query prefix.",
        "tags": [
          "Suggest"
        ],
        "parameters": [
          {
            "name": "q",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "The search query prefix"
          },
          {
            "name": "country",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "description": "Country code for localization"
          },
          {
            "name": "search_lang",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "description": "Language code"
          },
          {
            "name": "count",
            "in": "query",
            "schema": {
              "type": "integer",
              "default": 10
            },
            "description": "Number of suggestions"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful suggestions",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SuggestResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      }
    },
    "/res/v1/spellcheck/search": {
      "get": {
        "operationId": "spellcheck",
        "summary": "Spellcheck",
        "description": "Check spelling of a search query and get corrections.",
        "tags": [
          "Spellcheck"
        ],
        "parameters": [
          {
            "name": "q",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "The query to spellcheck"
          },
          {
            "name": "country",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "description": "Country code"
          },
          {
            "name": "search_lang",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "description": "Language code"
          }
        ],
        "responses": {
          "200": {
            "description": "Spellcheck results",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SpellcheckResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      }
    },
    "/res/v1/summarizer/search": {
      "get": {
        "operationId": "getSummary",
        "summary": "Get Summarized Answer",
        "description": "Get an AI-generated summarized answer for a search query, grounded with citations. Supports streaming.",
        "tags": [
          "Summarizer"
        ],
        "parameters": [
          {
            "name": "key",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Summarizer key obtained from web search response"
          },
          {
            "name": "entity_info",
            "in": "query",
            "schema": {
              "type": "boolean"
            },
            "description": "Whether to include entity information"
          }
        ],
        "responses": {
          "200": {
            "description": "Summarized answer",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SummarizerResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      }
    }
  },
  "components": {
    "securitySchemes": {
      "apiKeyHeader": {
        "type": "apiKey",
        "name": "X-Subscription-Token",
        "in": "header",
        "description": "Brave Search API subscription token"
      }
    },
    "schemas": {
      "WebSearchResponse": {
        "type": "object",
        "properties": {
          "type": {
            "type": "string",
            "example": "search"
          },
          "query": {
            "$ref": "#/components/schemas/Query"
          },
          "mixed": {
            "type": "object",
            "description": "Mixed results ordering"
          },
          "web": {
            "$ref": "#/components/schemas/WebResults"
          },
          "discussions": {
            "type": "object",
            "description": "Forum and discussion results"
          },
          "news": {
            "$ref": "#/components/schemas/NewsResults"
          },
          "videos": {
            "type": "object",
            "description": "Video results"
          },
          "locations": {
            "type": "object",
            "description": "Local results"
          },
          "infobox": {
            "type": "object",
            "description": "Infobox/knowledge panel"
          },
          "summarizer": {
            "type": "object",
            "properties": {
              "key": {
                "type": "string",
                "description": "Summarizer key to use with the summarizer endpoint"
              }
            }
          }
        }
      },
      "Query": {
        "type": "object",
        "properties": {
          "original": {
            "type": "string"
          },
          "show_strict_warning": {
            "type": "boolean"
          },
          "is_navigational": {
            "type": "boolean"
          },
          "local_decision": {
            "type": "string"
          },
          "local_locations_idx": {
            "type": "integer"
          },
          "is_news_breaking": {
            "type": "boolean"
          },
          "spellcheck_off": {
            "type": "boolean"
          },
          "country": {
            "type": "string"
          },
          "bad_results": {
            "type": "boolean"
          },
          "should_fallback": {
            "type": "boolean"
          },
          "language": {
            "type": "string"
          }
        }
      },
      "WebResults": {
        "type": "object",
        "properties": {
          "type": {
            "type": "string"
          },
          "results": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/WebResult"
            }
          },
          "family_friendly": {
            "type": "boolean"
          }
        }
      },
      "WebResult": {
        "type": "object",
        "properties": {
          "title": {
            "type": "string"
          },
          "url": {
            "type": "string",
            "format": "uri"
          },
          "is_source_local": {
            "type": "boolean"
          },
          "is_source_both": {
            "type": "boolean"
          },
          "description": {
            "type": "string"
          },
          "page_age": {
            "type": "string"
          },
          "page_fetched": {
            "type": "string",
            "format": "date-time"
          },
          "profile": {
            "type": "object",
            "properties": {
              "name": {
                "type": "string"
              },
              "url": {
                "type": "string"
              },
              "long_name": {
                "type": "string"
              },
              "img": {
                "type": "string"
              }
            }
          },
          "language": {
            "type": "string"
          },
          "family_friendly": {
            "type": "boolean"
          },
          "type": {
            "type": "string"
          },
          "subtype": {
            "type": "string"
          },
          "meta_url": {
            "type": "object"
          },
          "thumbnail": {
            "type": "object",
            "properties": {
              "src": {
                "type": "string"
              },
              "original": {
                "type": "string"
              },
              "logo": {
                "type": "boolean"
              }
            }
          },
          "age": {
            "type": "string"
          },
          "extra_snippets": {
            "type": "array",
            "items": {
              "type": "string"
            },
            "description": "Up to 5 extra alternate snippets"
          }
        }
      },
      "NewsResults": {
        "type": "object",
        "properties": {
          "type": {
            "type": "string"
          },
          "results": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/NewsResult"
            }
          }
        }
      },
      "NewsResult": {
        "type": "object",
        "properties": {
          "title": {
            "type": "string"
          },
          "url": {
            "type": "string",
            "format": "uri"
          },
          "description": {
            "type": "string"
          },
          "age": {
            "type": "string"
          },
          "page_age": {
            "type": "string"
          },
          "page_fetched": {
            "type": "string",
            "format": "date-time"
          },
          "source": {
            "type": "object",
            "properties": {
              "name": {
                "type": "string"
              },
              "url": {
                "type": "string"
              },
              "img": {
                "type": "string"
              }
            }
          },
          "breaking": {
            "type": "boolean"
          },
          "thumbnail": {
            "type": "object",
            "properties": {
              "src": {
                "type": "string"
              }
            }
          }
        }
      },
      "ImageSearchResponse": {
        "type": "object",
        "properties": {
          "type": {
            "type": "string"
          },
          "query": {
            "$ref": "#/components/schemas/Query"
          },
          "results": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/ImageResult"
            }
          }
        }
      },
      "ImageResult": {
        "type": "object",
        "properties": {
          "title": {
            "type": "string"
          },
          "url": {
            "type": "string",
            "format": "uri"
          },
          "source": {
            "type": "string"
          },
          "page_fetched": {
            "type": "string"
          },
          "thumbnail": {
            "type": "object",
            "properties": {
              "src": {
                "type": "string"
              }
            }
          },
          "properties": {
            "type": "object",
            "properties": {
              "url": {
                "type": "string"
              },
              "placeholder": {
                "type": "string"
              }
            }
          }
        }
      },
      "VideoSearchResponse": {
        "type": "object",
        "properties": {
          "type": {
            "type": "string"
          },
          "query": {
            "$ref": "#/components/schemas/Query"
          },
          "results": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/VideoResult"
            }
          }
        }
      },
      "VideoResult": {
        "type": "object",
        "properties": {
          "title": {
            "type": "string"
          },
          "url": {
            "type": "string",
            "format": "uri"
          },
          "description": {
            "type": "string"
          },
          "age": {
            "type": "string"
          },
          "page_age": {
            "type": "string"
          },
          "thumbnail": {
            "type": "object",
            "properties": {
              "src": {
                "type": "string"
              }
            }
          },
          "video": {
            "type": "object",
            "properties": {
              "duration": {
                "type": "string"
              },
              "views": {
                "type": "integer"
              },
              "creator": {
                "type": "string"
              },
              "publisher": {
                "type": "string"
              }
            }
          }
        }
      },
      "NewsSearchResponse": {
        "type": "object",
        "properties": {
          "type": {
            "type": "string"
          },
          "query": {
            "$ref": "#/components/schemas/Query"
          },
          "results": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/NewsResult"
            }
          }
        }
      },
      "SuggestResponse": {
        "type": "object",
        "properties": {
          "type": {
            "type": "string"
          },
          "query": {
            "type": "string"
          },
          "results": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "query": {
                  "type": "string"
                },
                "is_entity": {
                  "type": "boolean"
                }
              }
            }
          }
        }
      },
      "SpellcheckResponse": {
        "type": "object",
        "properties": {
          "type": {
            "type": "string"
          },
          "query": {
            "type": "string"
          },
          "altered": {
            "type": "string"
          },
          "results": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "query": {
                  "type": "string"
                },
                "type": {
                  "type": "string"
                }
              }
            }
          }
        }
      },
      "SummarizerResponse": {
        "type": "object",
        "properties": {
          "type": {
            "type": "string"
          },
          "status": {
            "type": "string"
          },
          "title": {
            "type": "string"
          },
          "summary": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "type": {
                  "type": "string"
                },
                "data": {
                  "type": "string"
                }
              }
            }
          },
          "enrichments": {
            "type": "object"
          },
          "followups": {
            "type": "array",
            "items": {
              "type": "string"
            }
          }
        }
      },
      "ErrorResponse": {
        "type": "object",
        "properties": {
          "error": {
            "type": "object",
            "properties": {
              "code": {
                "type": "string"
              },
              "detail": {
                "type": "string"
              },
              "meta": {
                "type": "object"
              },
              "status": {
                "type": "integer"
              }
            }
          },
          "type": {
            "type": "string"
          }
        }
      }
    }
  }
}
