{
  "openapi": "3.0.3",
  "info": {
    "title": "Sabre API",
    "version": "1.0.0",
    "description": "Sabre REST APIs for travel industry solutions including air shopping, booking, hotel search, car rental, and travel intelligence. OAuth 2.0 client credentials flow for authentication.",
    "x-jentic-source-url": "https://developer.sabre.com/",
    "contact": {
      "name": "API Support"
    }
  },
  "servers": [
    {
      "url": "https://api.sabre.com/v1"
    }
  ],
  "paths": {
    "/offers/shop": {
      "post": {
        "operationId": "bargainFinderMax",
        "summary": "Bargain Finder Max - Air Shopping",
        "description": "Search for air shopping offers. Returns itinerary options with pricing for one-way, round-trip, or multi-city trips.",
        "tags": [
          "Air Shopping"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "OTA_AirLowFareSearchRQ": {
                    "type": "object",
                    "description": "Air low fare search request object"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BargainFinderMaxResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/shop/flights/fares": {
      "post": {
        "operationId": "instaFlightSearch",
        "summary": "InstaFlights Search",
        "description": "Search for pre-cached flight itineraries and fares for a given origin-destination pair.",
        "tags": [
          "Air Shopping"
        ],
        "parameters": [
          {
            "name": "origin",
            "in": "query",
            "required": true,
            "description": "Origin airport IATA code.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "destination",
            "in": "query",
            "required": true,
            "description": "Destination airport IATA code.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "departuredate",
            "in": "query",
            "required": true,
            "description": "Departure date (YYYY-MM-DD).",
            "schema": {
              "type": "string",
              "format": "date"
            }
          },
          {
            "name": "returndate",
            "in": "query",
            "required": false,
            "description": "Return date (YYYY-MM-DD).",
            "schema": {
              "type": "string",
              "format": "date"
            }
          },
          {
            "name": "pointofsalecountry",
            "in": "query",
            "required": false,
            "description": "Point of sale country code.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "description": "Number of results to return.",
            "schema": {
              "type": "integer",
              "default": 50
            }
          },
          {
            "name": "offset",
            "in": "query",
            "required": false,
            "description": "Offset for pagination.",
            "schema": {
              "type": "integer",
              "default": 1
            }
          },
          {
            "name": "sortby",
            "in": "query",
            "required": false,
            "description": "Sort results by.",
            "schema": {
              "type": "string",
              "enum": [
                "totalfare",
                "departuredate",
                "arrivaldate"
              ]
            }
          },
          {
            "name": "order",
            "in": "query",
            "required": false,
            "description": "Sort order.",
            "schema": {
              "type": "string",
              "enum": [
                "asc",
                "desc"
              ]
            }
          },
          {
            "name": "sortby2",
            "in": "query",
            "required": false,
            "description": "Secondary sort field.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "order2",
            "in": "query",
            "required": false,
            "description": "Secondary sort order.",
            "schema": {
              "type": "string",
              "enum": [
                "asc",
                "desc"
              ]
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BargainFinderMaxResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/shop/flights/cheapest/fares/{destination}": {
      "get": {
        "operationId": "leadPriceCalendar",
        "summary": "Lead Price Calendar",
        "description": "Returns lowest available fares for a destination over a date range.",
        "tags": [
          "Air Shopping"
        ],
        "parameters": [
          {
            "name": "destination",
            "in": "path",
            "required": true,
            "description": "Destination airport IATA code.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "origin",
            "in": "query",
            "required": true,
            "description": "Origin airport IATA code.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "departuredate",
            "in": "query",
            "required": false,
            "description": "Departure date (YYYY-MM-DD).",
            "schema": {
              "type": "string",
              "format": "date"
            }
          },
          {
            "name": "lengthofstay",
            "in": "query",
            "required": false,
            "description": "Length of stay in days.",
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "pointofsalecountry",
            "in": "query",
            "required": false,
            "description": "Point of sale country code.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DestinationFinderResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/shop/flights/cheapest/destinations": {
      "get": {
        "operationId": "destinationFinder",
        "summary": "Destination Finder",
        "description": "Returns the cheapest destinations from a given origin based on specified travel dates.",
        "tags": [
          "Air Shopping"
        ],
        "parameters": [
          {
            "name": "origin",
            "in": "query",
            "required": true,
            "description": "Origin airport IATA code.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "departuredate",
            "in": "query",
            "required": false,
            "description": "Departure date (YYYY-MM-DD).",
            "schema": {
              "type": "string",
              "format": "date"
            }
          },
          {
            "name": "returndate",
            "in": "query",
            "required": false,
            "description": "Return date (YYYY-MM-DD).",
            "schema": {
              "type": "string",
              "format": "date"
            }
          },
          {
            "name": "lengthofstay",
            "in": "query",
            "required": false,
            "description": "Length of stay in days.",
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "pointofsalecountry",
            "in": "query",
            "required": false,
            "description": "Point of sale country.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "location",
            "in": "query",
            "required": false,
            "description": "Geo coordinate pair to filter results.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "maxfare",
            "in": "query",
            "required": false,
            "description": "Max fare amount.",
            "schema": {
              "type": "number"
            }
          },
          {
            "name": "theme",
            "in": "query",
            "required": false,
            "description": "Theme filter (BEACH, DISNEY, GAMBLING, etc).",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DestinationFinderResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/shop/themes": {
      "get": {
        "operationId": "airShoppingThemes",
        "summary": "Air Shopping Themes",
        "description": "Returns available travel themes for shopping (e.g., Beach, Mountains, Gambling).",
        "tags": [
          "Air Intelligence"
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AirShoppingThemesResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/historical/flights/{destination}/seasonality": {
      "get": {
        "operationId": "seasonality",
        "summary": "Travel Seasonality",
        "description": "Returns historical seasonality data for an airport showing travel trends across months.",
        "tags": [
          "Air Intelligence"
        ],
        "parameters": [
          {
            "name": "destination",
            "in": "path",
            "required": true,
            "description": "Destination airport IATA code.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "origin",
            "in": "query",
            "required": true,
            "description": "Origin airport IATA code.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AirShoppingThemesResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/passenger/records": {
      "post": {
        "operationId": "createPassengerNameRecord",
        "summary": "Create Passenger Name Record",
        "description": "Create a PNR (Passenger Name Record) booking with air segments, passenger details, and ticketing.",
        "tags": [
          "Booking"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "description": "CreatePassengerNameRecordRQ object"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BookingResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/trip/orders/getBooking": {
      "post": {
        "operationId": "getBooking",
        "summary": "Get Booking",
        "description": "Retrieve a booking (PNR) by confirmation ID or record locator.",
        "tags": [
          "Booking"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "confirmationId": {
                    "type": "string",
                    "description": "Booking confirmation ID/record locator"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BookingResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/trip/orders/cancelBooking": {
      "post": {
        "operationId": "cancelBooking",
        "summary": "Cancel Booking",
        "description": "Cancel an existing booking by confirmation ID.",
        "tags": [
          "Booking"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "confirmationId": {
                    "type": "string"
                  },
                  "retrieveBooking": {
                    "type": "boolean"
                  },
                  "cancelAll": {
                    "type": "boolean"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BookingResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/shop/hotels": {
      "post": {
        "operationId": "hotelAvailability",
        "summary": "Hotel Availability",
        "description": "Search for hotel availability in a given location for specified dates.",
        "tags": [
          "Hotels"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "GetHotelAvailRQ": {
                    "type": "object"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HotelResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/shop/hotels/content": {
      "post": {
        "operationId": "hotelContent",
        "summary": "Hotel Content",
        "description": "Get detailed hotel content including descriptions, images, amenities.",
        "tags": [
          "Hotels"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HotelResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/shop/cars": {
      "post": {
        "operationId": "carAvailability",
        "summary": "Car Rental Availability",
        "description": "Search for available car rentals in a given location for specified dates.",
        "tags": [
          "Car Rental"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CarRentalResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/lists/utilities/geocode/locations": {
      "get": {
        "operationId": "geoCode",
        "summary": "Geo Code",
        "description": "Convert city names or airport codes to geographic coordinates.",
        "tags": [
          "Utility"
        ],
        "parameters": [
          {
            "name": "GeoRef",
            "in": "query",
            "required": true,
            "description": "City name or airport code.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GeoCodeResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/lists/supported/pointsofsale": {
      "get": {
        "operationId": "pointOfSaleCountries",
        "summary": "Supported Points of Sale",
        "description": "Returns the list of supported point of sale country codes.",
        "tags": [
          "Utility"
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GeoCodeResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/v2/auth/token": {
      "post": {
        "operationId": "createToken",
        "summary": "Create Access Token",
        "description": "Obtain an OAuth 2.0 access token using client credentials.",
        "tags": [
          "Authentication"
        ],
        "parameters": [
          {
            "name": "grant_type",
            "in": "query",
            "required": true,
            "description": "OAuth grant type.",
            "schema": {
              "type": "string",
              "enum": [
                "client_credentials"
              ]
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/x-www-form-urlencoded": {
              "schema": {
                "type": "object",
                "properties": {
                  "grant_type": {
                    "type": "string",
                    "default": "client_credentials"
                  }
                }
              }
            }
          }
        },
        "security": [],
        "responses": {
          "200": {
            "description": "Token created",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "access_token": {
                      "type": "string"
                    },
                    "token_type": {
                      "type": "string"
                    },
                    "expires_in": {
                      "type": "integer"
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Invalid credentials",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    }
  },
  "components": {
    "schemas": {
      "ErrorResponse": {
        "type": "object",
        "properties": {
          "status": {
            "type": "string"
          },
          "type": {
            "type": "string"
          },
          "errorCode": {
            "type": "string"
          },
          "message": {
            "type": "string"
          }
        }
      },
      "BargainFinderMaxResponse": {
        "type": "object",
        "properties": {
          "groupedItineraryResponse": {
            "type": "object"
          },
          "statistics": {
            "type": "object"
          }
        }
      },
      "DestinationFinderResponse": {
        "type": "object",
        "properties": {
          "FareInfo": {
            "type": "array",
            "items": {
              "type": "object"
            }
          },
          "Links": {
            "type": "array",
            "items": {
              "type": "object"
            }
          }
        }
      },
      "AirShoppingThemesResponse": {
        "type": "object",
        "properties": {
          "Themes": {
            "type": "array",
            "items": {
              "type": "object"
            }
          }
        }
      },
      "BookingResponse": {
        "type": "object",
        "properties": {
          "CreatePassengerNameRecordRS": {
            "type": "object"
          },
          "ApplicationResults": {
            "type": "object"
          }
        }
      },
      "HotelResponse": {
        "type": "object",
        "properties": {
          "HotelAvailInfoRS": {
            "type": "object"
          }
        }
      },
      "CarRentalResponse": {
        "type": "object",
        "properties": {
          "OTA_VehAvailRateRS": {
            "type": "object"
          }
        }
      },
      "GeoCodeResponse": {
        "type": "object",
        "properties": {
          "Results": {
            "type": "array",
            "items": {
              "type": "object"
            }
          }
        }
      }
    },
    "securitySchemes": {
      "oauth2": {
        "type": "oauth2",
        "flows": {
          "clientCredentials": {
            "tokenUrl": "https://api.sabre.com/v2/auth/token",
            "scopes": {}
          }
        }
      }
    }
  },
  "security": [
    {
      "oauth2": []
    }
  ],
  "tags": [
    {
      "name": "Air Intelligence"
    },
    {
      "name": "Air Shopping"
    },
    {
      "name": "Authentication"
    },
    {
      "name": "Booking"
    },
    {
      "name": "Car Rental"
    },
    {
      "name": "Hotels"
    },
    {
      "name": "Utility"
    }
  ]
}
