{
  "openapi": "3.0.1",
  "info": {
    "title": "ObjectAPI",
    "description": "API generated by Swagger Explore",
    "version": "1.0",
    "x-jentic-source-url": "https://api.swaggerhub.com/apis/sakethapiplayground/ObjectAPI/1.0"
  },
  "servers": [
    {
      "url": "https://api.restful-api.dev"
    }
  ],
  "paths": {
    "/objects": {
      "get": {
        "parameters": [
          {
            "name": "id",
            "in": "query",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            },
            "examples": {
              "example": {
                "value": "3"
              }
            }
          },
          {
            "name": "id",
            "in": "query",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            },
            "examples": {
              "example": {
                "value": "5"
              }
            }
          },
          {
            "name": "id",
            "in": "query",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            },
            "examples": {
              "example": {
                "value": "10"
              }
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Generated by Swagger Explore"
          }
        }
      }
    },
    "/objects/7": {
      "get": {
        "parameters": [],
        "responses": {
          "200": {
            "description": "Generated by Swagger Explore"
          }
        }
      }
    }
  },
  "components": {
    "securitySchemes": {}
  }
}