{
  "openapi": "3.0.3",
  "info": {
    "title": "Rakuten Web Service API",
    "version": "1.0.0",
    "description": "Rakuten Web Service provides APIs for searching items, genres, tags, and rankings on Rakuten Ichiba (marketplace), Rakuten Books, Rakuten Travel, Rakuten Recipe, Rakuten Kobo (ebooks), and Rakuten GORA (golf). All APIs use GET requests with App ID authentication.",
    "x-jentic-source-url": "https://webservice.rakuten.co.jp/documentation",
    "contact": {
      "name": "API Support"
    }
  },
  "servers": [
    {
      "url": "https://app.rakuten.co.jp/services/api"
    }
  ],
  "paths": {
    "/IchibaItem/Search/20220601": {
      "get": {
        "operationId": "ichibaItemSearch",
        "summary": "Rakuten Ichiba Item Search",
        "description": "Search for items on Rakuten Ichiba marketplace by keyword, item code, shop name, or genre.",
        "tags": [
          "Rakuten Ichiba"
        ],
        "parameters": [
          {
            "name": "format",
            "in": "query",
            "description": "Response format",
            "required": false,
            "schema": {
              "type": "string",
              "enum": [
                "json",
                "xml"
              ],
              "default": "json"
            }
          },
          {
            "name": "formatVersion",
            "in": "query",
            "description": "Format version",
            "required": false,
            "schema": {
              "type": "integer",
              "enum": [
                1,
                2
              ]
            }
          },
          {
            "name": "affiliateId",
            "in": "query",
            "description": "Affiliate ID for tracking",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "keyword",
            "in": "query",
            "description": "Search keyword",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "shopCode",
            "in": "query",
            "description": "Shop code to filter by",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "itemCode",
            "in": "query",
            "description": "Item code",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "genreId",
            "in": "query",
            "description": "Genre ID to filter by",
            "required": false,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "tagId",
            "in": "query",
            "description": "Tag ID to filter by",
            "required": false,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "page",
            "in": "query",
            "description": "Page number",
            "required": false,
            "schema": {
              "type": "integer",
              "default": 1
            }
          },
          {
            "name": "hits",
            "in": "query",
            "description": "Number of results per page (max 30)",
            "required": false,
            "schema": {
              "type": "integer",
              "default": 30,
              "maximum": 30
            }
          },
          {
            "name": "sort",
            "in": "query",
            "description": "Sort order",
            "required": false,
            "schema": {
              "type": "string",
              "enum": [
                "+reviewCount",
                "-reviewCount",
                "+reviewAverage",
                "-reviewAverage",
                "+itemPrice",
                "-itemPrice",
                "+updateTimestamp",
                "-updateTimestamp",
                "standard"
              ]
            }
          },
          {
            "name": "minPrice",
            "in": "query",
            "description": "Minimum price",
            "required": false,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "maxPrice",
            "in": "query",
            "description": "Maximum price",
            "required": false,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "availability",
            "in": "query",
            "description": "Availability filter",
            "required": false,
            "schema": {
              "type": "integer",
              "enum": [
                0,
                1
              ]
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/IchibaItemSearchResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized - Invalid application ID",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/IchibaGenre/Search/20140222": {
      "get": {
        "operationId": "ichibaGenreSearch",
        "summary": "Rakuten Ichiba Genre Search",
        "description": "Retrieve genre name and genre structure on Rakuten Ichiba by genre ID.",
        "tags": [
          "Rakuten Ichiba"
        ],
        "parameters": [
          {
            "name": "format",
            "in": "query",
            "description": "Response format",
            "required": false,
            "schema": {
              "type": "string",
              "enum": [
                "json",
                "xml"
              ],
              "default": "json"
            }
          },
          {
            "name": "formatVersion",
            "in": "query",
            "description": "Format version",
            "required": false,
            "schema": {
              "type": "integer",
              "enum": [
                1,
                2
              ]
            }
          },
          {
            "name": "affiliateId",
            "in": "query",
            "description": "Affiliate ID for tracking",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "genreId",
            "in": "query",
            "description": "Genre ID (0 for root)",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GenreSearchResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized - Invalid application ID",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/IchibaTag/Search/20140222": {
      "get": {
        "operationId": "ichibaTagSearch",
        "summary": "Rakuten Ichiba Tag Search",
        "description": "Retrieve tag name and tag structure on Rakuten Ichiba by tag ID.",
        "tags": [
          "Rakuten Ichiba"
        ],
        "parameters": [
          {
            "name": "format",
            "in": "query",
            "description": "Response format",
            "required": false,
            "schema": {
              "type": "string",
              "enum": [
                "json",
                "xml"
              ],
              "default": "json"
            }
          },
          {
            "name": "formatVersion",
            "in": "query",
            "description": "Format version",
            "required": false,
            "schema": {
              "type": "integer",
              "enum": [
                1,
                2
              ]
            }
          },
          {
            "name": "affiliateId",
            "in": "query",
            "description": "Affiliate ID for tracking",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "tagId",
            "in": "query",
            "description": "Tag ID",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TagSearchResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized - Invalid application ID",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/IchibaItem/Ranking/20220601": {
      "get": {
        "operationId": "ichibaItemRanking",
        "summary": "Rakuten Ichiba Ranking",
        "description": "Retrieve top-selling item rankings on Rakuten Ichiba. Supports filtering by genre, gender, and age.",
        "tags": [
          "Rakuten Ichiba"
        ],
        "parameters": [
          {
            "name": "format",
            "in": "query",
            "description": "Response format",
            "required": false,
            "schema": {
              "type": "string",
              "enum": [
                "json",
                "xml"
              ],
              "default": "json"
            }
          },
          {
            "name": "formatVersion",
            "in": "query",
            "description": "Format version",
            "required": false,
            "schema": {
              "type": "integer",
              "enum": [
                1,
                2
              ]
            }
          },
          {
            "name": "affiliateId",
            "in": "query",
            "description": "Affiliate ID for tracking",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "genreId",
            "in": "query",
            "description": "Genre ID",
            "required": false,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "age",
            "in": "query",
            "description": "Age group filter",
            "required": false,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "sex",
            "in": "query",
            "description": "Gender filter",
            "required": false,
            "schema": {
              "type": "integer",
              "enum": [
                0,
                1,
                2
              ]
            }
          },
          {
            "name": "page",
            "in": "query",
            "description": "Page number",
            "required": false,
            "schema": {
              "type": "integer",
              "default": 1
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RankingResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized - Invalid application ID",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/Product/Search/20170426": {
      "get": {
        "operationId": "productSearch",
        "summary": "Item Price Navi (Product Search)",
        "description": "Search for products by keyword and genre on Rakuten Product.",
        "tags": [
          "Rakuten Ichiba"
        ],
        "parameters": [
          {
            "name": "format",
            "in": "query",
            "description": "Response format",
            "required": false,
            "schema": {
              "type": "string",
              "enum": [
                "json",
                "xml"
              ],
              "default": "json"
            }
          },
          {
            "name": "formatVersion",
            "in": "query",
            "description": "Format version",
            "required": false,
            "schema": {
              "type": "integer",
              "enum": [
                1,
                2
              ]
            }
          },
          {
            "name": "affiliateId",
            "in": "query",
            "description": "Affiliate ID for tracking",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "keyword",
            "in": "query",
            "description": "Search keyword",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "genreId",
            "in": "query",
            "description": "Genre ID",
            "required": false,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "page",
            "in": "query",
            "description": "Page number",
            "required": false,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProductSearchResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized - Invalid application ID",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/BooksTotal/Search/20170404": {
      "get": {
        "operationId": "booksTotalSearch",
        "summary": "Books Total Search",
        "description": "Search across all Rakuten Books categories.",
        "tags": [
          "Rakuten Books"
        ],
        "parameters": [
          {
            "name": "format",
            "in": "query",
            "description": "Response format",
            "required": false,
            "schema": {
              "type": "string",
              "enum": [
                "json",
                "xml"
              ],
              "default": "json"
            }
          },
          {
            "name": "formatVersion",
            "in": "query",
            "description": "Format version",
            "required": false,
            "schema": {
              "type": "integer",
              "enum": [
                1,
                2
              ]
            }
          },
          {
            "name": "affiliateId",
            "in": "query",
            "description": "Affiliate ID for tracking",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "keyword",
            "in": "query",
            "description": "Search keyword",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "title",
            "in": "query",
            "description": "Title",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "booksGenreId",
            "in": "query",
            "description": "Books genre ID",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "page",
            "in": "query",
            "description": "Page number",
            "required": false,
            "schema": {
              "type": "integer",
              "default": 1
            }
          },
          {
            "name": "hits",
            "in": "query",
            "description": "Results per page",
            "required": false,
            "schema": {
              "type": "integer",
              "default": 30
            }
          },
          {
            "name": "sort",
            "in": "query",
            "description": "Sort order",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "availability",
            "in": "query",
            "description": "Availability",
            "required": false,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BooksSearchResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized - Invalid application ID",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/BooksBook/Search/20170404": {
      "get": {
        "operationId": "booksBookSearch",
        "summary": "Books Book Search",
        "description": "Search for books on Rakuten Books by title, author, publisher, ISBN.",
        "tags": [
          "Rakuten Books"
        ],
        "parameters": [
          {
            "name": "format",
            "in": "query",
            "description": "Response format",
            "required": false,
            "schema": {
              "type": "string",
              "enum": [
                "json",
                "xml"
              ],
              "default": "json"
            }
          },
          {
            "name": "formatVersion",
            "in": "query",
            "description": "Format version",
            "required": false,
            "schema": {
              "type": "integer",
              "enum": [
                1,
                2
              ]
            }
          },
          {
            "name": "affiliateId",
            "in": "query",
            "description": "Affiliate ID for tracking",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "keyword",
            "in": "query",
            "description": "Search keyword",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "title",
            "in": "query",
            "description": "Title",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "booksGenreId",
            "in": "query",
            "description": "Books genre ID",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "page",
            "in": "query",
            "description": "Page number",
            "required": false,
            "schema": {
              "type": "integer",
              "default": 1
            }
          },
          {
            "name": "hits",
            "in": "query",
            "description": "Results per page",
            "required": false,
            "schema": {
              "type": "integer",
              "default": 30
            }
          },
          {
            "name": "sort",
            "in": "query",
            "description": "Sort order",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "availability",
            "in": "query",
            "description": "Availability",
            "required": false,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BooksSearchResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized - Invalid application ID",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/BooksCD/Search/20170404": {
      "get": {
        "operationId": "booksCDSearch",
        "summary": "Books CD Search",
        "description": "Search for CDs on Rakuten Books by title, artist.",
        "tags": [
          "Rakuten Books"
        ],
        "parameters": [
          {
            "name": "format",
            "in": "query",
            "description": "Response format",
            "required": false,
            "schema": {
              "type": "string",
              "enum": [
                "json",
                "xml"
              ],
              "default": "json"
            }
          },
          {
            "name": "formatVersion",
            "in": "query",
            "description": "Format version",
            "required": false,
            "schema": {
              "type": "integer",
              "enum": [
                1,
                2
              ]
            }
          },
          {
            "name": "affiliateId",
            "in": "query",
            "description": "Affiliate ID for tracking",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "keyword",
            "in": "query",
            "description": "Search keyword",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "title",
            "in": "query",
            "description": "Title",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "booksGenreId",
            "in": "query",
            "description": "Books genre ID",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "page",
            "in": "query",
            "description": "Page number",
            "required": false,
            "schema": {
              "type": "integer",
              "default": 1
            }
          },
          {
            "name": "hits",
            "in": "query",
            "description": "Results per page",
            "required": false,
            "schema": {
              "type": "integer",
              "default": 30
            }
          },
          {
            "name": "sort",
            "in": "query",
            "description": "Sort order",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "availability",
            "in": "query",
            "description": "Availability",
            "required": false,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BooksSearchResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized - Invalid application ID",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/BooksDVD/Search/20170404": {
      "get": {
        "operationId": "booksDVDSearch",
        "summary": "Books DVD/Blu-ray Search",
        "description": "Search for DVDs and Blu-rays on Rakuten Books.",
        "tags": [
          "Rakuten Books"
        ],
        "parameters": [
          {
            "name": "format",
            "in": "query",
            "description": "Response format",
            "required": false,
            "schema": {
              "type": "string",
              "enum": [
                "json",
                "xml"
              ],
              "default": "json"
            }
          },
          {
            "name": "formatVersion",
            "in": "query",
            "description": "Format version",
            "required": false,
            "schema": {
              "type": "integer",
              "enum": [
                1,
                2
              ]
            }
          },
          {
            "name": "affiliateId",
            "in": "query",
            "description": "Affiliate ID for tracking",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "keyword",
            "in": "query",
            "description": "Search keyword",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "title",
            "in": "query",
            "description": "Title",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "booksGenreId",
            "in": "query",
            "description": "Books genre ID",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "page",
            "in": "query",
            "description": "Page number",
            "required": false,
            "schema": {
              "type": "integer",
              "default": 1
            }
          },
          {
            "name": "hits",
            "in": "query",
            "description": "Results per page",
            "required": false,
            "schema": {
              "type": "integer",
              "default": 30
            }
          },
          {
            "name": "sort",
            "in": "query",
            "description": "Sort order",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "availability",
            "in": "query",
            "description": "Availability",
            "required": false,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BooksSearchResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized - Invalid application ID",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/BooksForeignBook/Search/20170404": {
      "get": {
        "operationId": "booksForeignSearch",
        "summary": "Books Foreign Book Search",
        "description": "Search for foreign books on Rakuten Books.",
        "tags": [
          "Rakuten Books"
        ],
        "parameters": [
          {
            "name": "format",
            "in": "query",
            "description": "Response format",
            "required": false,
            "schema": {
              "type": "string",
              "enum": [
                "json",
                "xml"
              ],
              "default": "json"
            }
          },
          {
            "name": "formatVersion",
            "in": "query",
            "description": "Format version",
            "required": false,
            "schema": {
              "type": "integer",
              "enum": [
                1,
                2
              ]
            }
          },
          {
            "name": "affiliateId",
            "in": "query",
            "description": "Affiliate ID for tracking",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "keyword",
            "in": "query",
            "description": "Search keyword",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "title",
            "in": "query",
            "description": "Title",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "booksGenreId",
            "in": "query",
            "description": "Books genre ID",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "page",
            "in": "query",
            "description": "Page number",
            "required": false,
            "schema": {
              "type": "integer",
              "default": 1
            }
          },
          {
            "name": "hits",
            "in": "query",
            "description": "Results per page",
            "required": false,
            "schema": {
              "type": "integer",
              "default": 30
            }
          },
          {
            "name": "sort",
            "in": "query",
            "description": "Sort order",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "availability",
            "in": "query",
            "description": "Availability",
            "required": false,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BooksSearchResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized - Invalid application ID",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/BooksMagazine/Search/20170404": {
      "get": {
        "operationId": "booksMagazineSearch",
        "summary": "Books Magazine Search",
        "description": "Search for magazines on Rakuten Books.",
        "tags": [
          "Rakuten Books"
        ],
        "parameters": [
          {
            "name": "format",
            "in": "query",
            "description": "Response format",
            "required": false,
            "schema": {
              "type": "string",
              "enum": [
                "json",
                "xml"
              ],
              "default": "json"
            }
          },
          {
            "name": "formatVersion",
            "in": "query",
            "description": "Format version",
            "required": false,
            "schema": {
              "type": "integer",
              "enum": [
                1,
                2
              ]
            }
          },
          {
            "name": "affiliateId",
            "in": "query",
            "description": "Affiliate ID for tracking",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "keyword",
            "in": "query",
            "description": "Search keyword",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "title",
            "in": "query",
            "description": "Title",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "booksGenreId",
            "in": "query",
            "description": "Books genre ID",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "page",
            "in": "query",
            "description": "Page number",
            "required": false,
            "schema": {
              "type": "integer",
              "default": 1
            }
          },
          {
            "name": "hits",
            "in": "query",
            "description": "Results per page",
            "required": false,
            "schema": {
              "type": "integer",
              "default": 30
            }
          },
          {
            "name": "sort",
            "in": "query",
            "description": "Sort order",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "availability",
            "in": "query",
            "description": "Availability",
            "required": false,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BooksSearchResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized - Invalid application ID",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/BooksGame/Search/20170404": {
      "get": {
        "operationId": "booksGameSearch",
        "summary": "Books Game Search",
        "description": "Search for games on Rakuten Books.",
        "tags": [
          "Rakuten Books"
        ],
        "parameters": [
          {
            "name": "format",
            "in": "query",
            "description": "Response format",
            "required": false,
            "schema": {
              "type": "string",
              "enum": [
                "json",
                "xml"
              ],
              "default": "json"
            }
          },
          {
            "name": "formatVersion",
            "in": "query",
            "description": "Format version",
            "required": false,
            "schema": {
              "type": "integer",
              "enum": [
                1,
                2
              ]
            }
          },
          {
            "name": "affiliateId",
            "in": "query",
            "description": "Affiliate ID for tracking",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "keyword",
            "in": "query",
            "description": "Search keyword",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "title",
            "in": "query",
            "description": "Title",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "booksGenreId",
            "in": "query",
            "description": "Books genre ID",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "page",
            "in": "query",
            "description": "Page number",
            "required": false,
            "schema": {
              "type": "integer",
              "default": 1
            }
          },
          {
            "name": "hits",
            "in": "query",
            "description": "Results per page",
            "required": false,
            "schema": {
              "type": "integer",
              "default": 30
            }
          },
          {
            "name": "sort",
            "in": "query",
            "description": "Sort order",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "availability",
            "in": "query",
            "description": "Availability",
            "required": false,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BooksSearchResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized - Invalid application ID",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/BooksSoftware/Search/20170404": {
      "get": {
        "operationId": "booksSoftwareSearch",
        "summary": "Books Software Search",
        "description": "Search for software on Rakuten Books.",
        "tags": [
          "Rakuten Books"
        ],
        "parameters": [
          {
            "name": "format",
            "in": "query",
            "description": "Response format",
            "required": false,
            "schema": {
              "type": "string",
              "enum": [
                "json",
                "xml"
              ],
              "default": "json"
            }
          },
          {
            "name": "formatVersion",
            "in": "query",
            "description": "Format version",
            "required": false,
            "schema": {
              "type": "integer",
              "enum": [
                1,
                2
              ]
            }
          },
          {
            "name": "affiliateId",
            "in": "query",
            "description": "Affiliate ID for tracking",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "keyword",
            "in": "query",
            "description": "Search keyword",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "title",
            "in": "query",
            "description": "Title",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "booksGenreId",
            "in": "query",
            "description": "Books genre ID",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "page",
            "in": "query",
            "description": "Page number",
            "required": false,
            "schema": {
              "type": "integer",
              "default": 1
            }
          },
          {
            "name": "hits",
            "in": "query",
            "description": "Results per page",
            "required": false,
            "schema": {
              "type": "integer",
              "default": 30
            }
          },
          {
            "name": "sort",
            "in": "query",
            "description": "Sort order",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "availability",
            "in": "query",
            "description": "Availability",
            "required": false,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BooksSearchResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized - Invalid application ID",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/BooksGenre/Search/20121128": {
      "get": {
        "operationId": "booksGenreSearch",
        "summary": "Books Genre Search",
        "description": "Retrieve genre structure for Rakuten Books.",
        "tags": [
          "Rakuten Books"
        ],
        "parameters": [
          {
            "name": "format",
            "in": "query",
            "description": "Response format",
            "required": false,
            "schema": {
              "type": "string",
              "enum": [
                "json",
                "xml"
              ],
              "default": "json"
            }
          },
          {
            "name": "formatVersion",
            "in": "query",
            "description": "Format version",
            "required": false,
            "schema": {
              "type": "integer",
              "enum": [
                1,
                2
              ]
            }
          },
          {
            "name": "affiliateId",
            "in": "query",
            "description": "Affiliate ID for tracking",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "keyword",
            "in": "query",
            "description": "Search keyword",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "title",
            "in": "query",
            "description": "Title",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "booksGenreId",
            "in": "query",
            "description": "Books genre ID",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "page",
            "in": "query",
            "description": "Page number",
            "required": false,
            "schema": {
              "type": "integer",
              "default": 1
            }
          },
          {
            "name": "hits",
            "in": "query",
            "description": "Results per page",
            "required": false,
            "schema": {
              "type": "integer",
              "default": 30
            }
          },
          {
            "name": "sort",
            "in": "query",
            "description": "Sort order",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "availability",
            "in": "query",
            "description": "Availability",
            "required": false,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BooksSearchResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized - Invalid application ID",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/Travel/SimpleHotelSearch/20170426": {
      "get": {
        "operationId": "simpleHotelSearch",
        "summary": "Simple Hotel Search",
        "description": "Search hotels by hotel number, coordinates, or division code.",
        "tags": [
          "Rakuten Travel"
        ],
        "parameters": [
          {
            "name": "format",
            "in": "query",
            "description": "Response format",
            "required": false,
            "schema": {
              "type": "string",
              "enum": [
                "json",
                "xml"
              ],
              "default": "json"
            }
          },
          {
            "name": "formatVersion",
            "in": "query",
            "description": "Format version",
            "required": false,
            "schema": {
              "type": "integer",
              "enum": [
                1,
                2
              ]
            }
          },
          {
            "name": "affiliateId",
            "in": "query",
            "description": "Affiliate ID for tracking",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "keyword",
            "in": "query",
            "description": "Search keyword",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "latitude",
            "in": "query",
            "description": "Latitude",
            "required": false,
            "schema": {
              "type": "number"
            }
          },
          {
            "name": "longitude",
            "in": "query",
            "description": "Longitude",
            "required": false,
            "schema": {
              "type": "number"
            }
          },
          {
            "name": "hotelNo",
            "in": "query",
            "description": "Hotel number",
            "required": false,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "page",
            "in": "query",
            "description": "Page number",
            "required": false,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TravelSearchResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized - Invalid application ID",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/Travel/HotelDetailSearch/20170426": {
      "get": {
        "operationId": "hotelDetailSearch",
        "summary": "Hotel Detail Search",
        "description": "Retrieve detailed hotel information.",
        "tags": [
          "Rakuten Travel"
        ],
        "parameters": [
          {
            "name": "format",
            "in": "query",
            "description": "Response format",
            "required": false,
            "schema": {
              "type": "string",
              "enum": [
                "json",
                "xml"
              ],
              "default": "json"
            }
          },
          {
            "name": "formatVersion",
            "in": "query",
            "description": "Format version",
            "required": false,
            "schema": {
              "type": "integer",
              "enum": [
                1,
                2
              ]
            }
          },
          {
            "name": "affiliateId",
            "in": "query",
            "description": "Affiliate ID for tracking",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "hotelNo",
            "in": "query",
            "description": "Hotel number",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TravelSearchResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized - Invalid application ID",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/Travel/VacantHotelSearch/20170426": {
      "get": {
        "operationId": "vacantHotelSearch",
        "summary": "Vacant Hotel Search",
        "description": "Search for available hotel rooms with real-time vacancy.",
        "tags": [
          "Rakuten Travel"
        ],
        "parameters": [
          {
            "name": "format",
            "in": "query",
            "description": "Response format",
            "required": false,
            "schema": {
              "type": "string",
              "enum": [
                "json",
                "xml"
              ],
              "default": "json"
            }
          },
          {
            "name": "formatVersion",
            "in": "query",
            "description": "Format version",
            "required": false,
            "schema": {
              "type": "integer",
              "enum": [
                1,
                2
              ]
            }
          },
          {
            "name": "affiliateId",
            "in": "query",
            "description": "Affiliate ID for tracking",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "keyword",
            "in": "query",
            "description": "Search keyword",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "latitude",
            "in": "query",
            "description": "Latitude",
            "required": false,
            "schema": {
              "type": "number"
            }
          },
          {
            "name": "longitude",
            "in": "query",
            "description": "Longitude",
            "required": false,
            "schema": {
              "type": "number"
            }
          },
          {
            "name": "hotelNo",
            "in": "query",
            "description": "Hotel number",
            "required": false,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "page",
            "in": "query",
            "description": "Page number",
            "required": false,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "checkinDate",
            "in": "query",
            "description": "Check-in date (YYYY-MM-DD)",
            "required": true,
            "schema": {
              "type": "string",
              "format": "date"
            }
          },
          {
            "name": "checkoutDate",
            "in": "query",
            "description": "Check-out date (YYYY-MM-DD)",
            "required": true,
            "schema": {
              "type": "string",
              "format": "date"
            }
          },
          {
            "name": "adultNum",
            "in": "query",
            "description": "Number of adults",
            "required": false,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TravelSearchResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized - Invalid application ID",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/Travel/GetAreaClass/20131024": {
      "get": {
        "operationId": "getAreaClass",
        "summary": "Get Area Class",
        "description": "Retrieve area/district code information.",
        "tags": [
          "Rakuten Travel"
        ],
        "parameters": [
          {
            "name": "format",
            "in": "query",
            "description": "Response format",
            "required": false,
            "schema": {
              "type": "string",
              "enum": [
                "json",
                "xml"
              ],
              "default": "json"
            }
          },
          {
            "name": "formatVersion",
            "in": "query",
            "description": "Format version",
            "required": false,
            "schema": {
              "type": "integer",
              "enum": [
                1,
                2
              ]
            }
          },
          {
            "name": "affiliateId",
            "in": "query",
            "description": "Affiliate ID for tracking",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TravelSearchResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized - Invalid application ID",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/Travel/KeywordHotelSearch/20170426": {
      "get": {
        "operationId": "keywordHotelSearch",
        "summary": "Keyword Hotel Search",
        "description": "Search hotels by keyword.",
        "tags": [
          "Rakuten Travel"
        ],
        "parameters": [
          {
            "name": "format",
            "in": "query",
            "description": "Response format",
            "required": false,
            "schema": {
              "type": "string",
              "enum": [
                "json",
                "xml"
              ],
              "default": "json"
            }
          },
          {
            "name": "formatVersion",
            "in": "query",
            "description": "Format version",
            "required": false,
            "schema": {
              "type": "integer",
              "enum": [
                1,
                2
              ]
            }
          },
          {
            "name": "affiliateId",
            "in": "query",
            "description": "Affiliate ID for tracking",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "keyword",
            "in": "query",
            "description": "Search keyword",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "latitude",
            "in": "query",
            "description": "Latitude",
            "required": false,
            "schema": {
              "type": "number"
            }
          },
          {
            "name": "longitude",
            "in": "query",
            "description": "Longitude",
            "required": false,
            "schema": {
              "type": "number"
            }
          },
          {
            "name": "hotelNo",
            "in": "query",
            "description": "Hotel number",
            "required": false,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "page",
            "in": "query",
            "description": "Page number",
            "required": false,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TravelSearchResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized - Invalid application ID",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/Travel/GetHotelChainList/20131024": {
      "get": {
        "operationId": "getHotelChainList",
        "summary": "Get Hotel Chain List",
        "description": "Retrieve hotel chain information.",
        "tags": [
          "Rakuten Travel"
        ],
        "parameters": [
          {
            "name": "format",
            "in": "query",
            "description": "Response format",
            "required": false,
            "schema": {
              "type": "string",
              "enum": [
                "json",
                "xml"
              ],
              "default": "json"
            }
          },
          {
            "name": "formatVersion",
            "in": "query",
            "description": "Format version",
            "required": false,
            "schema": {
              "type": "integer",
              "enum": [
                1,
                2
              ]
            }
          },
          {
            "name": "affiliateId",
            "in": "query",
            "description": "Affiliate ID for tracking",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TravelSearchResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized - Invalid application ID",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/Travel/HotelRanking/20170426": {
      "get": {
        "operationId": "hotelRanking",
        "summary": "Hotel Ranking",
        "description": "Retrieve hotel rankings (Overall, Onsen, Luxury).",
        "tags": [
          "Rakuten Travel"
        ],
        "parameters": [
          {
            "name": "format",
            "in": "query",
            "description": "Response format",
            "required": false,
            "schema": {
              "type": "string",
              "enum": [
                "json",
                "xml"
              ],
              "default": "json"
            }
          },
          {
            "name": "formatVersion",
            "in": "query",
            "description": "Format version",
            "required": false,
            "schema": {
              "type": "integer",
              "enum": [
                1,
                2
              ]
            }
          },
          {
            "name": "affiliateId",
            "in": "query",
            "description": "Affiliate ID for tracking",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "genre",
            "in": "query",
            "description": "Ranking genre",
            "required": false,
            "schema": {
              "type": "string",
              "enum": [
                "all",
                "onsen",
                "premium"
              ]
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TravelSearchResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized - Invalid application ID",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/Recipe/CategoryList/20170426": {
      "get": {
        "operationId": "recipeCategoryList",
        "summary": "Recipe Category List",
        "description": "Retrieve list of recipe categories on Rakuten Recipe.",
        "tags": [
          "Rakuten Recipe"
        ],
        "parameters": [
          {
            "name": "format",
            "in": "query",
            "description": "Response format",
            "required": false,
            "schema": {
              "type": "string",
              "enum": [
                "json",
                "xml"
              ],
              "default": "json"
            }
          },
          {
            "name": "formatVersion",
            "in": "query",
            "description": "Format version",
            "required": false,
            "schema": {
              "type": "integer",
              "enum": [
                1,
                2
              ]
            }
          },
          {
            "name": "affiliateId",
            "in": "query",
            "description": "Affiliate ID for tracking",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "categoryType",
            "in": "query",
            "description": "Category type (small, medium, large)",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RecipeCategoryResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized - Invalid application ID",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/Recipe/CategoryRanking/20170426": {
      "get": {
        "operationId": "recipeCategoryRanking",
        "summary": "Recipe Category Ranking",
        "description": "Retrieve top recipe rankings by category on Rakuten Recipe.",
        "tags": [
          "Rakuten Recipe"
        ],
        "parameters": [
          {
            "name": "format",
            "in": "query",
            "description": "Response format",
            "required": false,
            "schema": {
              "type": "string",
              "enum": [
                "json",
                "xml"
              ],
              "default": "json"
            }
          },
          {
            "name": "formatVersion",
            "in": "query",
            "description": "Format version",
            "required": false,
            "schema": {
              "type": "integer",
              "enum": [
                1,
                2
              ]
            }
          },
          {
            "name": "affiliateId",
            "in": "query",
            "description": "Affiliate ID for tracking",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "categoryId",
            "in": "query",
            "description": "Category ID",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RecipeRankingResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized - Invalid application ID",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/Kobo/EbookSearch/20170426": {
      "get": {
        "operationId": "koboEbookSearch",
        "summary": "Kobo eBook Search",
        "description": "Search for ebooks on Rakuten Kobo.",
        "tags": [
          "Rakuten Kobo"
        ],
        "parameters": [
          {
            "name": "format",
            "in": "query",
            "description": "Response format",
            "required": false,
            "schema": {
              "type": "string",
              "enum": [
                "json",
                "xml"
              ],
              "default": "json"
            }
          },
          {
            "name": "formatVersion",
            "in": "query",
            "description": "Format version",
            "required": false,
            "schema": {
              "type": "integer",
              "enum": [
                1,
                2
              ]
            }
          },
          {
            "name": "affiliateId",
            "in": "query",
            "description": "Affiliate ID for tracking",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "keyword",
            "in": "query",
            "description": "Search keyword",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "title",
            "in": "query",
            "description": "Title",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "koboGenreId",
            "in": "query",
            "description": "Kobo genre ID",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "page",
            "in": "query",
            "description": "Page number",
            "required": false,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/KoboSearchResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized - Invalid application ID",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/Kobo/GenreSearch/20131010": {
      "get": {
        "operationId": "koboGenreSearch",
        "summary": "Kobo Genre Search",
        "description": "Retrieve genre structure for Rakuten Kobo.",
        "tags": [
          "Rakuten Kobo"
        ],
        "parameters": [
          {
            "name": "format",
            "in": "query",
            "description": "Response format",
            "required": false,
            "schema": {
              "type": "string",
              "enum": [
                "json",
                "xml"
              ],
              "default": "json"
            }
          },
          {
            "name": "formatVersion",
            "in": "query",
            "description": "Format version",
            "required": false,
            "schema": {
              "type": "integer",
              "enum": [
                1,
                2
              ]
            }
          },
          {
            "name": "affiliateId",
            "in": "query",
            "description": "Affiliate ID for tracking",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "koboGenreId",
            "in": "query",
            "description": "Kobo genre ID (0 for root)",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GenreSearchResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized - Invalid application ID",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/Gora/GoraGolfCourseSearch/20170426": {
      "get": {
        "operationId": "goraGolfCourseSearch",
        "summary": "GORA Golf Course Search",
        "description": "Search for golf courses on Rakuten GORA by keyword, area, or coordinates.",
        "tags": [
          "Rakuten GORA"
        ],
        "parameters": [
          {
            "name": "format",
            "in": "query",
            "description": "Response format",
            "required": false,
            "schema": {
              "type": "string",
              "enum": [
                "json",
                "xml"
              ],
              "default": "json"
            }
          },
          {
            "name": "formatVersion",
            "in": "query",
            "description": "Format version",
            "required": false,
            "schema": {
              "type": "integer",
              "enum": [
                1,
                2
              ]
            }
          },
          {
            "name": "affiliateId",
            "in": "query",
            "description": "Affiliate ID for tracking",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "keyword",
            "in": "query",
            "description": "Search keyword",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "areaCode",
            "in": "query",
            "description": "Area code",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "latitude",
            "in": "query",
            "description": "Latitude",
            "required": false,
            "schema": {
              "type": "number"
            }
          },
          {
            "name": "longitude",
            "in": "query",
            "description": "Longitude",
            "required": false,
            "schema": {
              "type": "number"
            }
          },
          {
            "name": "page",
            "in": "query",
            "description": "Page number",
            "required": false,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GoraSearchResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized - Invalid application ID",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/Gora/GoraGolfCourseDetail/20170426": {
      "get": {
        "operationId": "goraGolfCourseDetail",
        "summary": "GORA Golf Course Detail",
        "description": "Retrieve detailed information about a golf course.",
        "tags": [
          "Rakuten GORA"
        ],
        "parameters": [
          {
            "name": "format",
            "in": "query",
            "description": "Response format",
            "required": false,
            "schema": {
              "type": "string",
              "enum": [
                "json",
                "xml"
              ],
              "default": "json"
            }
          },
          {
            "name": "formatVersion",
            "in": "query",
            "description": "Format version",
            "required": false,
            "schema": {
              "type": "integer",
              "enum": [
                1,
                2
              ]
            }
          },
          {
            "name": "affiliateId",
            "in": "query",
            "description": "Affiliate ID for tracking",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "golfCourseId",
            "in": "query",
            "description": "Golf course ID",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GoraDetailResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized - Invalid application ID",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/Gora/GoraPlanSearch/20170426": {
      "get": {
        "operationId": "goraPlanSearch",
        "summary": "GORA Golf Plan Search",
        "description": "Search for golf plans and reservation status on Rakuten GORA.",
        "tags": [
          "Rakuten GORA"
        ],
        "parameters": [
          {
            "name": "format",
            "in": "query",
            "description": "Response format",
            "required": false,
            "schema": {
              "type": "string",
              "enum": [
                "json",
                "xml"
              ],
              "default": "json"
            }
          },
          {
            "name": "formatVersion",
            "in": "query",
            "description": "Format version",
            "required": false,
            "schema": {
              "type": "integer",
              "enum": [
                1,
                2
              ]
            }
          },
          {
            "name": "affiliateId",
            "in": "query",
            "description": "Affiliate ID for tracking",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "golfCourseId",
            "in": "query",
            "description": "Golf course ID",
            "required": true,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "playDate",
            "in": "query",
            "description": "Play date (YYYY-MM-DD)",
            "required": true,
            "schema": {
              "type": "string",
              "format": "date"
            }
          },
          {
            "name": "page",
            "in": "query",
            "description": "Page number",
            "required": false,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GoraPlanResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized - Invalid application ID",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    }
  },
  "components": {
    "schemas": {
      "ErrorResponse": {
        "type": "object",
        "properties": {
          "error": {
            "type": "string"
          },
          "error_description": {
            "type": "string"
          }
        }
      },
      "IchibaItemSearchResponse": {
        "type": "object",
        "properties": {
          "count": {
            "type": "integer"
          },
          "page": {
            "type": "integer"
          },
          "first": {
            "type": "integer"
          },
          "last": {
            "type": "integer"
          },
          "hits": {
            "type": "integer"
          },
          "pageCount": {
            "type": "integer"
          },
          "Items": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/IchibaItem"
            }
          }
        }
      },
      "IchibaItem": {
        "type": "object",
        "properties": {
          "itemName": {
            "type": "string"
          },
          "catchcopy": {
            "type": "string"
          },
          "itemCode": {
            "type": "string"
          },
          "itemPrice": {
            "type": "integer"
          },
          "itemCaption": {
            "type": "string"
          },
          "itemUrl": {
            "type": "string"
          },
          "shopName": {
            "type": "string"
          },
          "shopCode": {
            "type": "string"
          },
          "shopUrl": {
            "type": "string"
          },
          "genreId": {
            "type": "string"
          },
          "tagIds": {
            "type": "array",
            "items": {
              "type": "integer"
            }
          },
          "imageFlag": {
            "type": "integer"
          },
          "mediumImageUrls": {
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "smallImageUrls": {
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "reviewCount": {
            "type": "integer"
          },
          "reviewAverage": {
            "type": "number"
          },
          "availability": {
            "type": "integer"
          },
          "taxFlag": {
            "type": "integer"
          },
          "postageFlag": {
            "type": "integer"
          },
          "creditCardFlag": {
            "type": "integer"
          },
          "startTime": {
            "type": "string"
          },
          "endTime": {
            "type": "string"
          }
        }
      },
      "GenreSearchResponse": {
        "type": "object",
        "properties": {
          "current": {
            "type": "object"
          },
          "children": {
            "type": "array",
            "items": {
              "type": "object"
            }
          },
          "parents": {
            "type": "array",
            "items": {
              "type": "object"
            }
          }
        }
      },
      "TagSearchResponse": {
        "type": "object",
        "properties": {
          "tagGroups": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "tagGroupId": {
                  "type": "integer"
                },
                "tagGroupName": {
                  "type": "string"
                },
                "tags": {
                  "type": "array",
                  "items": {
                    "type": "object"
                  }
                }
              }
            }
          }
        }
      },
      "RankingResponse": {
        "type": "object",
        "properties": {
          "title": {
            "type": "string"
          },
          "lastBuildDate": {
            "type": "string"
          },
          "Items": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/IchibaItem"
            }
          }
        }
      },
      "ProductSearchResponse": {
        "type": "object",
        "properties": {
          "count": {
            "type": "integer"
          },
          "page": {
            "type": "integer"
          },
          "Products": {
            "type": "array",
            "items": {
              "type": "object"
            }
          }
        }
      },
      "BooksSearchResponse": {
        "type": "object",
        "properties": {
          "count": {
            "type": "integer"
          },
          "page": {
            "type": "integer"
          },
          "first": {
            "type": "integer"
          },
          "last": {
            "type": "integer"
          },
          "hits": {
            "type": "integer"
          },
          "pageCount": {
            "type": "integer"
          },
          "Items": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/BookItem"
            }
          }
        }
      },
      "BookItem": {
        "type": "object",
        "properties": {
          "title": {
            "type": "string"
          },
          "author": {
            "type": "string"
          },
          "publisherName": {
            "type": "string"
          },
          "isbn": {
            "type": "string"
          },
          "itemPrice": {
            "type": "integer"
          },
          "itemUrl": {
            "type": "string"
          },
          "mediumImageUrl": {
            "type": "string"
          },
          "smallImageUrl": {
            "type": "string"
          },
          "largeImageUrl": {
            "type": "string"
          },
          "salesDate": {
            "type": "string"
          },
          "reviewCount": {
            "type": "integer"
          },
          "reviewAverage": {
            "type": "number"
          },
          "booksGenreId": {
            "type": "string"
          },
          "availability": {
            "type": "string"
          },
          "itemCaption": {
            "type": "string"
          }
        }
      },
      "TravelSearchResponse": {
        "type": "object",
        "properties": {
          "pagingInfo": {
            "type": "object"
          },
          "hotels": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Hotel"
            }
          }
        }
      },
      "Hotel": {
        "type": "object",
        "properties": {
          "hotelNo": {
            "type": "integer"
          },
          "hotelName": {
            "type": "string"
          },
          "hotelInformationUrl": {
            "type": "string"
          },
          "hotelMinCharge": {
            "type": "integer"
          },
          "latitude": {
            "type": "number"
          },
          "longitude": {
            "type": "number"
          },
          "address1": {
            "type": "string"
          },
          "address2": {
            "type": "string"
          },
          "telephoneNo": {
            "type": "string"
          },
          "access": {
            "type": "string"
          },
          "hotelImageUrl": {
            "type": "string"
          },
          "hotelThumbnailUrl": {
            "type": "string"
          },
          "reviewCount": {
            "type": "integer"
          },
          "reviewAverage": {
            "type": "number"
          },
          "userReview": {
            "type": "string"
          }
        }
      },
      "RecipeCategoryResponse": {
        "type": "object",
        "properties": {
          "result": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "categoryId": {
                  "type": "string"
                },
                "categoryName": {
                  "type": "string"
                },
                "categoryUrl": {
                  "type": "string"
                },
                "parentCategoryId": {
                  "type": "string"
                }
              }
            }
          }
        }
      },
      "RecipeRankingResponse": {
        "type": "object",
        "properties": {
          "result": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "recipeId": {
                  "type": "integer"
                },
                "recipeTitle": {
                  "type": "string"
                },
                "recipeUrl": {
                  "type": "string"
                },
                "foodImageUrl": {
                  "type": "string"
                },
                "mediumImageUrl": {
                  "type": "string"
                },
                "recipeMaterial": {
                  "type": "array",
                  "items": {
                    "type": "string"
                  }
                },
                "recipeDescription": {
                  "type": "string"
                },
                "rank": {
                  "type": "string"
                }
              }
            }
          }
        }
      },
      "KoboSearchResponse": {
        "type": "object",
        "properties": {
          "count": {
            "type": "integer"
          },
          "page": {
            "type": "integer"
          },
          "Items": {
            "type": "array",
            "items": {
              "type": "object"
            }
          }
        }
      },
      "GoraSearchResponse": {
        "type": "object",
        "properties": {
          "count": {
            "type": "integer"
          },
          "Items": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/GolfCourse"
            }
          }
        }
      },
      "GolfCourse": {
        "type": "object",
        "properties": {
          "golfCourseId": {
            "type": "integer"
          },
          "golfCourseName": {
            "type": "string"
          },
          "golfCourseAbbr": {
            "type": "string"
          },
          "golfCourseNameKana": {
            "type": "string"
          },
          "address": {
            "type": "string"
          },
          "latitude": {
            "type": "number"
          },
          "longitude": {
            "type": "number"
          },
          "golfCourseCaption": {
            "type": "string"
          },
          "golfCourseImageUrl": {
            "type": "string"
          },
          "reserveCalUrl": {
            "type": "string"
          },
          "ratingCount": {
            "type": "integer"
          },
          "evaluation": {
            "type": "number"
          }
        }
      },
      "GoraDetailResponse": {
        "type": "object",
        "properties": {
          "Item": {
            "$ref": "#/components/schemas/GolfCourse"
          }
        }
      },
      "GoraPlanResponse": {
        "type": "object",
        "properties": {
          "count": {
            "type": "integer"
          },
          "Items": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "planId": {
                  "type": "integer"
                },
[...]
