{
  "swagger": "2.0",
  "info": {
    "description": "Description de l'api REST de Vins Sans Indication G\u00e9ographique",
    "version": "1.0.0",
    "title": "Vins Sans Indication G\u00e9ographique REST API",
    "license": {
      "name": "Apache License Version 2.0",
      "url": "https://www.apache.org/licenses/LICENSE-2.0"
    },
    "x-jentic-source-url": "https://api.swaggerhub.com/apis/dvtom/vins-sans-indication-geographique-rest-api/1.0.0"
  },
  "host": "vsigmet-rec.franceagrimer.fr",
  "basePath": "/vsig-metier",
  "tags": [
    {
      "name": "Service Actuator",
      "description": "Actuator RS"
    },
    {
      "name": "Service AppelPaiement",
      "description": "Appel Paiement WS"
    },
    {
      "name": "Service Batch",
      "description": "Batch WS"
    },
    {
      "name": "Service Codification",
      "description": "Codification WS"
    },
    {
      "name": "Service Demande",
      "description": "Demande WS"
    },
    {
      "name": "Service Demandeur",
      "description": "Demandeur WS"
    },
    {
      "name": "Service FeatureFlag",
      "description": "Service d\u00e9di\u00e9 aux FeatureFlag"
    },
    {
      "name": "Service Lot",
      "description": "Lot WS"
    },
    {
      "name": "Service Mail",
      "description": "Mail RS"
    },
    {
      "name": "Service Operateur",
      "description": "Operateur WS"
    },
    {
      "name": "Service Parametrage Campagne",
      "description": "Campagne RS"
    },
    {
      "name": "Service Parametrage Cepage",
      "description": "Cepage RS"
    },
    {
      "name": "Service Parametrage Millesime",
      "description": "Millesime RS"
    },
    {
      "name": "Service Parametrage Plage Montant Campagne",
      "description": "Plage Montant RS"
    },
    {
      "name": "Service Utilisateur",
      "description": "Utilisateur WS"
    },
    {
      "name": "Service usurpation JWT",
      "description": "Usurpation Jwt RS"
    },
    {
      "name": "mgh-rs",
      "description": "Mgh RS"
    },
    {
      "name": "public-rs",
      "description": "Public RS"
    },
    {
      "name": "sonde-rs",
      "description": "Sonde RS"
    }
  ],
  "paths": {
    "/api/public/baseOk": {
      "get": {
        "tags": [
          "sonde-rs"
        ],
        "summary": "isBaseAccessible",
        "operationId": "isBaseAccessibleUsingGET",
        "produces": [
          "*/*"
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/SortieDTO"
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          }
        },
        "security": [
          {
            "Bearer": [
              "global"
            ]
          }
        ],
        "deprecated": false
      }
    },
    "/api/public/versionInfo": {
      "get": {
        "tags": [
          "public-rs"
        ],
        "summary": "getVersionInfo",
        "operationId": "getVersionInfoUsingGET",
        "produces": [
          "application/json"
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/VersionInfoDTO"
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          }
        },
        "security": [
          {
            "Bearer": [
              "global"
            ]
          }
        ],
        "deprecated": false
      }
    },
    "/api/secure/actuator/cle": {
      "get": {
        "tags": [
          "Service Actuator"
        ],
        "summary": "R\u00e9cup\u00e8re la cl\u00e9 Actuator",
        "operationId": "getCleActuatorUsingGET",
        "produces": [
          "*/*"
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/ResponseEntity"
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          }
        },
        "security": [
          {
            "Bearer": [
              "global"
            ]
          }
        ],
        "deprecated": false
      }
    },
    "/api/secure/appel-paiement/download-file": {
      "get": {
        "tags": [
          "Service AppelPaiement"
        ],
        "summary": "Retourne le fichier li\u00e9 \u00e0 un appel paiement, dont l'id appelPaiementFichier est transmit en param\u00e8tre.",
        "operationId": "getFichierUsingGET",
        "produces": [
          "*/*"
        ],
        "parameters": [
          {
            "name": "idAppelPaiementFichier",
            "in": "query",
            "description": "idAppelPaiementFichier",
            "required": true,
            "type": "integer",
            "format": "int64"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/SortieFichier"
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          }
        },
        "security": [
          {
            "Bearer": [
              "global"
            ]
          }
        ],
        "deprecated": false
      }
    },
    "/api/secure/codification/get/liste-categorie": {
      "get": {
        "tags": [
          "Service Codification"
        ],
        "summary": "R\u00e9cup\u00e9rer les categories.",
        "operationId": "getListeCategorieUsingGET",
        "produces": [
          "*/*"
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/ListeCategorieSortie"
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          }
        },
        "security": [
          {
            "Bearer": [
              "global"
            ]
          }
        ],
        "deprecated": false
      }
    },
    "/api/secure/codification/get/liste-doc-demandeur": {
      "get": {
        "tags": [
          "Service Codification"
        ],
        "summary": "R\u00e9cup\u00e9rer les docDemandeurs.",
        "operationId": "getListeDocDemandeurUsingGET",
        "produces": [
          "*/*"
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/ListeDocDemandeurSortie"
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          }
        },
        "security": [
          {
            "Bearer": [
              "global"
            ]
          }
        ],
        "deprecated": false
      }
    },
    "/api/secure/codification/get/liste-duree-agrement": {
      "get": {
        "tags": [
          "Service Codification"
        ],
        "summary": "R\u00e9cup\u00e9rer les dureeAgrements.",
        "operationId": "getListeDureeAgrementUsingGET",
        "produces": [
          "*/*"
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/ListeDureeAgrementSortie"
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          }
        },
        "security": [
          {
            "Bearer": [
              "global"
            ]
          }
        ],
        "deprecated": false
      }
    },
    "/api/secure/codification/get/liste-label": {
      "get": {
        "tags": [
          "Service Codification"
        ],
        "summary": "R\u00e9cup\u00e9rer les labels.",
        "operationId": "getListeLabelUsingGET",
        "produces": [
          "*/*"
        ],
        "parameters": [
          {
            "name": "dateFinValiditeMin",
            "in": "query",
            "description": "dateFinValiditeMin",
            "required": true,
            "type": "string",
            "format": "date-time"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/ListeLabelSortie"
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          }
        },
        "security": [
          {
            "Bearer": [
              "global"
            ]
          }
        ],
        "deprecated": false
      }
    },
    "/api/secure/codification/get/liste-region-vsig": {
      "get": {
        "tags": [
          "Service Codification"
        ],
        "summary": "R\u00e9cup\u00e9rer les r\u00e9gions VSIG.",
        "operationId": "getListeRegionVsigUsingGET",
        "produces": [
          "*/*"
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/ListeRegionVsigSortie"
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          }
        },
        "security": [
          {
            "Bearer": [
              "global"
            ]
          }
        ],
        "deprecated": false
      }
    },
    "/api/secure/codification/get/liste-statut-demande": {
      "get": {
        "tags": [
          "Service Codification"
        ],
        "summary": "R\u00e9cup\u00e9rer les statuts demande.",
        "operationId": "getListeStatutDemandeUsingGET",
        "produces": [
          "*/*"
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/ListeStatutDemandeSortie"
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          }
        },
        "security": [
          {
            "Bearer": [
              "global"
            ]
          }
        ],
        "deprecated": false
      }
    },
    "/api/secure/codification/get/liste-type-demande": {
      "get": {
        "tags": [
          "Service Codification"
        ],
        "summary": "R\u00e9cup\u00e9rer les types demande.",
        "operationId": "getListeTypeDemandeUsingGET",
        "produces": [
          "*/*"
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/ListeTypeDemandeSortie"
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          }
        },
        "security": [
          {
            "Bearer": [
              "global"
            ]
          }
        ],
        "deprecated": false
      }
    },
    "/api/secure/codification/get/referentiel": {
      "get": {
        "tags": [
          "Service Codification"
        ],
        "summary": "R\u00e9cup\u00e9rer le referentiel.",
        "operationId": "getReferentielUsingGET",
        "produces": [
          "*/*"
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/ReferentielSortie"
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          }
        },
        "security": [
          {
            "Bearer": [
              "global"
            ]
          }
        ],
        "deprecated": false
      }
    },
    "/api/secure/demande/annuler": {
      "put": {
        "tags": [
          "Service Demande"
        ],
        "summary": "Annule une demande \u00e0 partir de son id",
        "operationId": "annulerDemandeUsingPUT",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "*/*"
        ],
        "parameters": [
          {
            "name": "idDemande",
            "in": "query",
            "description": "idDemande",
            "required": true,
            "type": "integer",
            "format": "int64"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/DemandeSortie"
            }
          },
          "201": {
            "description": "Created"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          }
        },
        "security": [
          {
            "Bearer": [
              "global"
            ]
          }
        ],
        "deprecated": false
      }
    },
    "/api/secure/demande/batch/envoyer-recapitulatifs": {
      "get": {
        "tags": [
          "Service Batch"
        ],
        "summary": "Permet d'envoyer les mails r\u00e9capitulatifs des demandes en attente de validation, mettant un accent sur celles qui se trouvent hors d\u00e9lai.",
        "operationId": "envoyerRecapitulatifsUsingGET",
        "produces": [
          "*/*"
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/SortieDTO"
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          }
        },
        "security": [
          {
            "Bearer": [
              "global"
            ]
          }
        ],
        "deprecated": false
      }
    },
    "/api/secure/demande/batch/envoyer-relances-campagne-commercialisation": {
      "get": {
        "tags": [
          "Service Batch"
        ],
        "summary": "Permet d'envoyer les mails de relances de campagne de commercialisation.",
        "operationId": "envoyerRelancesCampagneCommercialisationUsingGET",
        "produces": [
          "*/*"
        ],
        "parameters": [
          {
            "name": "idDemande",
            "in": "query",
            "description": "idDemande",
            "required": true,
            "type": "integer",
            "format": "int64"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/SortieDTO"
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          }
        },
        "security": [
          {
            "Bearer": [
              "global"
            ]
          }
        ],
        "deprecated": false
      }
    },
    "/api/secure/demande/batch/envoyer-relances-declarations-en-cours": {
      "get": {
        "tags": [
          "Service Batch"
        ],
        "summary": "Permet d'envoyer les mails de relances des declarations de commercialisation en cours de saisie.",
        "operationId": "envoyerRelancesDeclarationsEnCoursUsingGET",
        "produces": [
          "*/*"
        ],
        "parameters": [
          {
            "name": "idDemande",
            "in": "query",
            "description": "idDemande",
            "required": true,
            "type": "integer",
            "format": "int64"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/MccMessageInfoSortie"
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          }
        },
        "security": [
          {
            "Bearer": [
              "global"
            ]
          }
        ],
        "deprecated": false
      }
    },
    "/api/secure/demande/batch/envoyer-relances-demandes-en-cours": {
      "get": {
        "tags": [
          "Service Batch"
        ],
        "summary": "Permet d'envoyer les mails de relances des demandes en cours de saisie sur la campagne en cours.",
        "operationId": "envoyerRelancesDemandesEnCoursUsingGET",
        "produces": [
          "*/*"
        ],
        "parameters": [
          {
            "name": "idDemande",
            "in": "query",
            "description": "idDemande",
            "required": true,
            "type": "integer",
            "format": "int64"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/MccMessageInfoSortie"
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          }
        },
        "security": [
          {
            "Bearer": [
              "global"
            ]
          }
        ],
        "deprecated": false
      }
    },
    "/api/secure/demande/batch/recuperer-campagne-commercialisation": {
      "get": {
        "tags": [
          "Service Batch"
        ],
        "summary": "Permet de recuperer les demandes pour lesquelles faire une Relance de Campagne de Commercialisation.",
        "operationId": "recupererCampagneCommercialisationPourRelanceUsingGET",
        "produces": [
          "*/*"
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/ListDemandeLightSortie"
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          }
        },
        "security": [
          {
            "Bearer": [
              "global"
            ]
          }
        ],
        "deprecated": false
      }
    },
    "/api/secure/demande/batch/recuperer-declarations-en-cours": {
      "get": {
        "tags": [
          "Service Batch"
        ],
        "summary": "Permet de recuperer les demandes pour lesquelles faire une Relance de declaration en cours.",
        "operationId": "recupererDeclarationsEnCoursPourRelanceUsingGET",
        "produces": [
          "*/*"
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/ListDemandeLightSortie"
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          }
        },
        "security": [
          {
            "Bearer": [
              "global"
            ]
          }
        ],
        "deprecated": false
      }
    },
    "/api/secure/demande/batch/recuperer-demandes-en-cours": {
      "get": {
        "tags": [
          "Service Batch"
        ],
        "summary": "Permet de recuperer les demandes pour lesquelles faire une Relance de demande en cours.",
        "operationId": "recupererDemandesEnCoursPourRelanceUsingGET",
        "produces": [
          "*/*"
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/ListDemandeLightSortie"
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          }
        },
        "security": [
          {
            "Bearer": [
              "global"
            ]
          }
        ],
        "deprecated": false
      }
    },
    "/api/secure/demande/consulter": {
      "get": {
        "tags": [
          "Service Demande"
        ],
        "summary": "Renvoie une demande \u00e0 partir de son id",
        "operationId": "consulterDemandeUsingGET",
        "produces": [
          "*/*"
        ],
        "parameters": [
          {
            "name": "idDemande",
            "in": "query",
            "description": "idDemande",
            "required": true,
            "type": "integer",
            "format": "int64"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/DemandeSortie"
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          }
        },
        "security": [
          {
            "Bearer": [
              "global"
            ]
          }
        ],
        "deprecated": false
      }
    },
    "/api/secure/demande/creer-agrement": {
      "put": {
        "tags": [
          "Service Demande"
        ],
        "summary": "Cr\u00e9er une demande d'agr\u00e9ment.",
        "operationId": "creerDemandeAgrementUsingPUT",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "*/*"
        ],
        "parameters": [
          {
            "in": "body",
            "name": "entree",
            "description": "entree",
            "required": true,
            "schema": {
              "$ref": "#/definitions/CreerDemandeAgrementEntree"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/DemandeSortie"
            }
          },
          "201": {
            "description": "Created"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          }
        },
        "security": [
          {
            "Bearer": [
              "global"
            ]
          }
        ],
        "deprecated": false
      }
    },
    "/api/secure/demande/creer-certification": {
      "put": {
        "tags": [
          "Service Demande"
        ],
        "summary": "Cr\u00e9er une demande de certification.",
        "operationId": "creerDemandeCertificationUsingPUT",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "*/*"
        ],
        "parameters": [
          {
            "in": "body",
            "name": "entree",
            "description": "entree",
            "required": true,
            "schema": {
              "$ref": "#/definitions/CreerDemandeEntree"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/DemandeSortie"
            }
          },
          "201": {
            "description": "Created"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          }
        },
        "security": [
          {
            "Bearer": [
              "global"
            ]
          }
        ],
        "deprecated": false
      }
    },
    "/api/secure/demande/creer-commercialisation": {
      "put": {
        "tags": [
          "Service Demande"
        ],
        "summary": "Cr\u00e9er une demande de Commercialisation.",
        "operationId": "creerDemandeCommercialisationUsingPUT",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "*/*"
        ],
        "parameters": [
          {
            "in": "body",
            "name": "entree",
            "description": "entree",
            "required": true,
            "schema": {
              "$ref": "#/definitions/CreerDemandeEntree"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/DemandeSortie"
            }
          },
          "201": {
            "description": "Created"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          }
        },
        "security": [
          {
            "Bearer": [
              "global"
            ]
          }
        ],
        "deprecated": false
      }
    },
    "/api/secure/demande/deposer-agrement": {
      "put": {
        "tags": [
          "Service Demande"
        ],
        "summary": "D\u00e9pose une demande d'agr\u00e9ment \u00e0 partir de son id",
        "operationId": "deposerDemandeAgrementUsingPUT",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "*/*"
        ],
        "parameters": [
          {
            "name": "codeLabel",
            "in": "query",
            "description": "codeLabel",
            "required": true,
            "type": "integer",
            "format": "int32"
          },
          {
            "in": "body",
            "name": "commentaire",
            "description": "commentaire",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "idDemande",
            "in": "query",
            "description": "idDemande",
            "required": true,
            "type": "integer",
            "format": "int64"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/DemandeSortie"
            }
          },
          "201": {
            "description": "Created"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          }
        },
        "security": [
          {
            "Bearer": [
              "global"
            ]
          }
        ],
        "deprecated": false
      }
    },
    "/api/secure/demande/deposer-certification": {
      "put": {
        "tags": [
          "Service Demande"
        ],
        "summary": "D\u00e9pose une demande de certification \u00e0 partir de son id",
        "operationId": "deposerDemandeCertificationUsingPUT",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "*/*"
        ],
        "parameters": [
          {
            "name": "idDemande",
            "in": "query",
            "description": "idDemande",
            "required": true,
            "type": "integer",
            "format": "int64"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/DemandeSortie"
            }
          },
          "201": {
            "description": "Created"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          }
        },
        "security": [
          {
            "Bearer": [
              "global"
            ]
          }
        ],
        "deprecated": false
      }
    },
    "/api/secure/demande/deposer-commercialisation": {
      "put": {
        "tags": [
          "Service Demande"
        ],
        "summary": "D\u00e9pose une d\u00e9claration de commercialisation \u00e0 partir de son id",
        "operationId": "deposerDemandeCommercialisationUsingPUT",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "*/*"
        ],
        "parameters": [
          {
            "name": "idDemande",
            "in": "query",
            "description": "idDemande",
            "required": true,
            "type": "integer",
            "format": "int64"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/DemandeSortie"
            }
          },
          "201": {
            "description": "Created"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          }
        },
        "security": [
          {
            "Bearer": [
              "global"
            ]
          }
        ],
        "deprecated": false
      }
    },
    "/api/secure/demande/download-file": {
      "get": {
        "tags": [
          "Service Demande"
        ],
        "summary": "Recupere le document [codeTypeDocument]  de la demande [idDemande].",
        "operationId": "getDocumentUsingGET",
        "produces": [
          "*/*"
        ],
        "parameters": [
          {
            "name": "codeTypeDocument",
            "in": "query",
            "description": "codeTypeDocument",
            "required": true,
            "type": "string"
          },
          {
            "name": "idDemande",
            "in": "query",
            "description": "idDemande",
            "required": true,
            "type": "integer",
            "format": "int64"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/SortieFichier"
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          }
        },
        "security": [
          {
            "Bearer": [
              "global"
            ]
          }
        ],
        "deprecated": false
      }
    },
    "/api/secure/demande/enregistrer-volume-comm": {
      "put": {
        "tags": [
          "Service Demande"
        ],
        "summary": "Valide une demande d'agr\u00e9ment \u00e0 partir de son id",
        "operationId": "enregistrerVolumeCommercUsingPUT",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "*/*"
        ],
        "parameters": [
          {
            "in": "body",
            "name": "entree",
            "description": "entree",
            "required": true,
            "schema": {
              "$ref": "#/definitions/EnregistrementCommercialisationDTO"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/SortieDTO"
            }
          },
          "201": {
            "description": "Created"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          }
        },
        "security": [
          {
            "Bearer": [
              "global"
            ]
          }
        ],
        "deprecated": false
      }
    },
    "/api/secure/demande/instruire-agrement": {
      "put": {
        "tags": [
          "Service Demande"
        ],
        "summary": "Instruit (avec motif) une demande d'agr\u00e9ment \u00e0 partir de son id",
        "operationId": "instruireDemandeAgrementUsingPUT",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "*/*"
        ],
        "parameters": [
          {
            "name": "codeOrigineMotif",
            "in": "query",
            "description": "codeOrigineMotif",
            "required": true,
            "type": "string"
          },
          {
            "name": "idDemande",
            "in": "query",
            "description": "idDemande",
            "required": true,
            "type": "integer",
            "format": "int64"
          },
          {
            "in": "body",
            "name": "motif",
            "description": "motif",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/DemandeSortie"
            }
          },
          "201": {
            "description": "Created"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          }
        },
        "security": [
          {
            "Bearer": [
              "global"
            ]
          }
        ],
        "deprecated": false
      }
    },
    "/api/secure/demande/instruire-certification": {
      "put": {
        "tags": [
          "Service Demande"
        ],
        "summary": "Instruit (avec motif) une demande de certification \u00e0 partir de son id",
        "operationId": "instruireDemandeCertificationUsingPUT",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "*/*"
        ],
        "parameters": [
          {
            "in": "body",
            "name": "entree",
            "description": "entree",
            "required": true,
            "schema": {
              "$ref": "#/definitions/InstruireDemandeCertificationEntree"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/DemandeSortie"
            }
          },
          "201": {
            "description": "Created"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          }
        },
        "security": [
          {
            "Bearer": [
              "global"
            ]
          }
        ],
        "deprecated": false
      }
    },
    "/api/secure/demande/instruire-commercialisation": {
      "put": {
        "tags": [
          "Service Demande"
        ],
        "summary": "Instruit (avec motif) une d\u00e9claration de commercialisation \u00e0 partir de son id",
        "operationId": "instruireDemandeCommercialisationUsingPUT",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "*/*"
        ],
        "parameters": [
          {
            "name": "codeOrigineMotif",
            "in": "query",
            "description": "codeOrigineMotif",
            "required": true,
            "type": "string"
          },
          {
            "name": "idDemande",
            "in": "query",
            "description": "idDemande",
            "required": true,
            "type": "integer",
            "format": "int64"
          },
          {
            "in": "body",
            "name": "motif",
            "description": "motif",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/DemandeSortie"
            }
          },
          "201": {
            "description": "Created"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          }
        },
        "security": [
          {
            "Bearer": [
              "global"
            ]
          }
        ],
        "deprecated": false
      }
    },
    "/api/secure/demande/rechercher": {
      "put": {
        "tags": [
          "Service Demande"
        ],
        "summary": "Rechercher des demandes",
        "operationId": "rechercherDemandeUsingPUT",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "*/*"
        ],
        "parameters": [
          {
            "in": "body",
            "name": "entree",
            "description": "entree",
            "required": true,
            "schema": {
              "$ref": "#/definitions/RechercherDemandeEntree"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/PageDemandeLightSortie"
            }
          },
          "201": {
            "description": "Created"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          }
        },
        "security": [
          {
            "Bearer": [
              "global"
            ]
          }
        ],
        "deprecated": false
      }
    },
    "/api/secure/demande/valider-agrement": {
      "put": {
        "tags": [
          "Service Demande"
        ],
        "summary": "Valide une demande d'agr\u00e9ment \u00e0 partir de son id",
        "operationId": "validerDemandeAgrementUsingPUT",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "*/*"
        ],
        "parameters": [
          {
            "name": "codeLabel",
            "in": "query",
            "description": "codeLabel",
            "required": true,
            "type": "integer",
            "format": "int32"
          },
          {
            "in": "body",
            "name": "commentaire",
            "description": "commentaire",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "idDemande",
            "in": "query",
            "description": "idDemande",
            "required": true,
            "type": "integer",
            "format": "int64"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/DemandeSortie"
            }
          },
          "201": {
            "description": "Created"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          }
        },
        "security": [
          {
            "Bearer": [
              "global"
            ]
          }
        ],
        "deprecated": false
      }
    },
    "/api/secure/demande/valider-certification": {
      "put": {
        "tags": [
          "Service Demande"
        ],
        "summary": "Valide une demande de certification \u00e0 partir de son id",
        "operationId": "validerDemandeCertificationUsingPUT",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "*/*"
        ],
        "parameters": [
          {
            "name": "idDemande",
            "in": "query",
            "description": "idDemande",
            "required": true,
            "type": "integer",
            "format": "int64"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/DemandeSortie"
            }
          },
          "201": {
            "description": "Created"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          }
        },
        "security": [
          {
            "Bearer": [
              "global"
            ]
          }
        ],
        "deprecated": false
      }
    },
    "/api/secure/demande/valider-commercialisation": {
      "put": {
        "tags": [
          "Service Demande"
        ],
        "summary": "Valide une d\u00e9claration de commercialisation \u00e0 partir de son id",
        "operationId": "validerDemandeCommercialisationUsingPUT",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "*/*"
        ],
        "parameters": [
          {
            "name": "idDemande",
            "in": "query",
            "description": "idDemande",
            "required": true,
            "type": "integer",
            "format": "int64"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/DemandeSortie"
            }
          },
          "201": {
            "description": "Created"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          }
        },
        "security": [
          {
            "Bearer": [
              "global"
            ]
          }
        ],
        "deprecated": false
      }
    },
    "/api/secure/demande/verifier-agrement-annulable": {
      "get": {
        "tags": [
          "Service Demande"
        ],
        "summary": "V\u00e9rifier que le demandeur de l'agrement n'a pas de demande de Certification Non-Annuler",
        "operationId": "verifierAgrementSansCertificationNonAnnulerUsingGET",
        "produces": [
          "*/*"
        ],
        "parameters": [
          {
            "name": "idDemande",
            "in": "query",
            "description": "idDemande",
            "required": true,
            "type": "integer",
            "format": "int64"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/SortieDTO"
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          }
        },
        "security": [
          {
            "Bearer": [
              "global"
            ]
          }
        ],
        "deprecated": false
      }
    },
    "/api/secure/demande/verifier-ann-inv-certification": {
      "get": {
        "tags": [
          "Service Demande"
        ],
        "summary": "V\u00e9rifier la possibilit\u00e9 d'annuler/invalider la demande de certification sp\u00e9cifi\u00e9e.L\u00e8ve une exception si ce n'est pas le cas.",
        "operationId": "verifierInvalidationAnnulationCertificationPossibleUsingGET",
        "produces": [
          "*/*"
        ],
        "parameters": [
          {
            "name": "idDemande",
            "in": "query",
            "description": "idDemande",
            "required": true,
            "type": "integer",
            "format": "int64"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/SortieDTO"
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          }
        },
        "security": [
          {
            "Bearer": [
              "global"
            ]
          }
        ],
        "deprecated": false
      }
    },
    "/api/secure/demande/verifier-ann-inv-commercialisation": {
      "get": {
        "tags": [
          "Service Demande"
        ],
        "summary": "V\u00e9rifier la possibilit\u00e9 d'annuler/invalider la declaration de commercialisation sp\u00e9cifi\u00e9e.L\u00e8ve une exception si ce n'est pas le cas.",
        "operationId": "verifierInvalidationAnnulationCommercialisationPossibleUsingGET",
        "produces": [
          "*/*"
        ],
        "parameters": [
          {
            "name": "idDemande",
            "in": "query",
            "description": "idDemande",
            "required": true,
            "type": "integer",
            "format": "int64"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/SortieDTO"
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          }
        },
        "security": [
          {
            "Bearer": [
              "global"
            ]
          }
        ],
        "deprecated": false
      }
    },
    "/api/secure/demande/verifier-creation": {
      "get": {
        "tags": [
          "Service Demande"
        ],
        "summary": "V\u00e9rifier la possibilit\u00e9 de cr\u00e9ation d'une demande du type sp\u00e9cifi\u00e9 pour l'utilisateur connect\u00e9, sur l'op\u00e9rateur \u00e9ventuellement transmit. L\u00e8ve une exception si ce n'est pas le cas.",
        "operationId": "verifierCreationDemandeUsingGET",
        "produces": [
          "*/*"
        ],
        "parameters": [
          {
            "name": "codeTypeDemande",
            "in": "query",
            "description": "codeTypeDemande",
            "required": true,
            "type": "string"
          },
          {
            "name": "idOperateur",
            "in": "query",
            "description": "idOperateur",
            "required": true,
            "type": "integer",
            "format": "int64"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/SortieDTO"
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          }
        },
        "security": [
          {
            "Bearer": [
              "global"
            ]
          }
        ],
        "deprecated": false
      }
    },
    "/api/secure/demande/verifier-depot-certification": {
      "get": {
        "tags": [
          "Service Demande"
        ],
        "summary": "V\u00e9rifier la possibilit\u00e9 de d\u00e9p\u00f4t de la demande sp\u00e9cifi\u00e9e.L\u00e8ve une exception si ce n'est pas le cas.",
        "operationId": "verifierDepotDemandeCertificationUsingGET",
        "produces": [
          "*/*"
        ],
        "parameters": [
          {
            "name": "idDemande",
            "in": "query",
            "description": "idDemande",
            "required": true,
            "type": "integer",
            "format": "int64"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/SortieDTO"
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          }
        },
        "security": [
          {
            "Bearer": [
              "global"
            ]
          }
        ],
        "deprecated": false
      }
    },
    "/api/secure/demandeur/get-tableau-de-bord": {
      "get": {
        "tags": [
          "Service Demandeur"
        ],
        "summary": "R\u00e9cup\u00e8re les lignes du tableau de bord pour un demandeur sur des campagnes donn\u00e9es.",
        "operationId": "getTableauDeBordUsingGET",
        "produces": [
          "*/*"
        ],
        "parameters": [
          {
            "name": "idDemandeur",
            "in": "query",
            "description": "idDemandeur",
            "required": true,
            "type": "integer",
            "format": "int64"
          },
          {
            "name": "listeIdCampagne",
            "in": "query",
            "description": "listeIdCampagne",
            "required": true,
            "type": "array",
            "items": {
              "type": "integer",
              "format": "int64"
            },
            "collectionFormat": "multi"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/TableauDeBordSortie"
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          }
        },
        "security": [
          {
            "Bearer": [
              "global"
            ]
          }
        ],
        "deprecated": false
      }
    },
    "/api/secure/demandeur/verifier-absence-demande-agrement": {
      "get": {
        "tags": [
          "Service Demandeur"
        ],
        "summary": "V\u00e9rifier l'absence d'une demande d'agr\u00e9ment pour le demandeur et la p\u00e9riode indiqu\u00e9s. L\u00e8ve une exception si ce n'est pas le cas.",
        "operationId": "verifierAbsenceDemandeAgrementUsingGET",
        "produces": [
          "*/*"
        ],
        "parameters": [
          {
            "name": "codeDureeAgrement",
            "in": "query",
            "description": "codeDureeAgrement",
            "required": true,
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "idCampagneDepot",
            "in": "query",
            "description": "idCampagneDepot",
            "required": true,
            "type": "integer",
            "format": "int64"
          },
          {
            "name": "idDemandeur",
            "in": "query",
            "description": "idDemandeur",
            "required": true,
            "type": "integer",
            "format": "int64"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/SortieDTO"
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          }
        },
        "security": [
          {
            "Bearer": [
              "global"
            ]
          }
        ],
        "deprecated": false
      }
    },
    "/api/secure/demandeur/verifier-creation-declaration-commercialisation": {
      "get": {
        "tags": [
          "Service Demandeur"
        ],
        "summary": "V\u00e9rifier la possibilit\u00e9 de cr\u00e9ation d'une d\u00e9claration de commercialisation pour le demandeur et la p\u00e9riode indiqu\u00e9s. L\u00e8ve une exception si ce n'est pas le cas.",
        "operationId": "verifierCreationDeclarationCommercialisationUsingGET",
        "produces": [
          "*/*"
        ],
        "parameters": [
          {
            "name": "idCampagneDepot",
            "in": "query",
            "description": "idCampagneDepot",
            "required": true,
            "type": "integer",
            "format": "int64"
          },
          {
            "name": "idDemandeur",
            "in": "query",
            "description": "idDemandeur",
            "required": true,
            "type": "integer",
            "format": "int64"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/SortieDTO"
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          }
        },
        "security": [
          {
            "Bearer": [
              "global"
            ]
          }
        ],
        "deprecated": false
      }
    },
    "/api/secure/demandeur/verifier-creation-demande-certification": {
      "get": {
        "tags": [
          "Service Demandeur"
        ],
        "summary": "V\u00e9rifier la possibilit\u00e9 de cr\u00e9ation d'une demande de certification pour le demandeur et la p\u00e9riode indiqu\u00e9s. L\u00e8ve une exception si ce n'est pas le cas.",
        "operationId": "verifierCreationDemandeCertificationUsingGET",
        "produces": [
          "*/*"
        ],
        "parameters": [
          {
            "name": "idCampagneDepot",
            "in": "query",
            "description": "idCampagneDepot",
            "required": true,
            "type": "integer",
            "format": "int64"
          },
          {
            "name": "idDemandeur",
            "in": "query",
            "description": "idDemandeur",
            "required": true,
            "type": "integer",
            "format": "int64"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/SortieDTO"
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          }
        },
        "security": [
          {
            "Bearer": [
              "global"
            ]
          }
        ],
        "deprecated": false
      }
    },
    "/api/secure/featureflag": {
      "get": {
        "tags": [
          "Service FeatureFlag"
        ],
        "summary": "R\u00e9cup\u00e8re la liste des objets featureflag",
        "operationId": "getListeFeatureFlagUsingGET",
        "produces": [
          "*/*"
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/ResponseEntity"
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          }
        },
        "security": [
          {
            "Bearer": [
              "global"
            ]
          }
        ],
        "deprecated": false
      }
    },
    "/api/secure/featureflag/actif": {
      "get": {
        "tags": [
          "Service FeatureFlag"
        ],
        "summary": "Indique si la fonction featureflag est activ\u00e9e ou non",
        "operationId": "isActifUsingGET",
        "produces": [
          "*/*"
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/ResponseEntity"
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          }
        },
        "security": [
          {
            "Bearer": [
              "global"
            ]
          }
        ],
        "deprecated": false
      }
    },
    "/api/secure/featureflag/{idFlag}": {
      "put": {
        "tags": [
          "Service FeatureFlag"
        ],
        "summary": "Modifier un featureflag existant",
        "operationId": "updateFeatureFlagUsingPUT",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "*/*"
        ],
        "parameters": [
          {
            "name": "actif",
            "in": "query",
            "required": false,
            "type": "boolean"
          },
          {
            "name": "codeDroit",
            "in": "query",
            "required": false,
            "type": "string"
          },
          {
            "name": "description",
            "in": "query",
            "required": false,
            "type": "string"
          },
          {
            "name": "idFlag",
            "in": "path",
            "description": "idFlag",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/ResponseEntity"
            }
          },
          "201": {
            "description": "Created"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          }
        },
        "security": [
          {
            "Bearer": [
              "global"
            ]
          }
        ],
        "deprecated": false
      }
    },
    "/api/secure/lot/": {
      "put": {
        "tags": [
          "Service Lot"
        ],
        "summary": "Permet d'ajouter/Modifier le lot [lot]  a l\u00e0 demande  [idDemande].",
        "operationId": "ajouterModifierLotUsingPUT",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "*/*"
        ],
        "parameters": [
          {
            "name": "idDemande",
            "in": "query",
            "description": "idDemande",
            "required": true,
            "type": "integer",
            "format": "int64"
          },
          {
            "in": "body",
            "name": "lot",
            "description": "lot",
            "required": true,
            "schema": {
              "$ref": "#/definitions/LotDTO"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/LotSortie"
            }
          },
          "201": {
            "description": "Created"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          }
        },
        "security": [
          {
            "Bearer": [
              "global"
            ]
          }
        ],
        "deprecated": false
      }
    },
    "/api/secure/lot/ajout-document": {
      "put": {
        "tags": [
          "Service Lot"
        ],
        "summary": "Permet d'ajouter le document [fichier]  au lot [idLot].",
        "operationId": "ajouterDocumentUsingPUT",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "*/*"
        ],
        "parameters": [
          {
            "in": "body",
            "name": "fichier",
            "description": "fichier",
            "required": true,
            "schema": {
              "$ref": "#/definitions/FichierDTO"
            }
          },
          {
            "name": "idLot",
            "in": "query",
            "description": "idLot",
            "required": true,
            "type": "integer",
            "format": "int64"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/DocumentLotSortie"
            }
          },
          "201": {
            "description": "Created"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          }
        },
        "security": [
          {
            "Bearer": [
              "global"
            ]
          }
        ],
        "deprecated": false
      }
    },
    "/api/secure/lot/delete": {
      "put": {
        "tags": [
          "Service Lot"
        ],
        "summary": "Supprimer le lot [idLot] de la demande [idDemande]",
        "operationId": "supprimerLotUsingPUT",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "*/*"
        ],
        "parameters": [
          {
            "name": "idDemande",
            "in": "query",
            "description": "idDemande",
            "required": true,
            "type": "integer",
            "format": "int64"
          },
          {
            "name": "idLot",
            "in": "query",
            "description": "idLot",
            "required": true,
            "type": "integer",
            "format": "int64"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/SortieDTO"
            }
          },
          "201": {
            "description": "Created"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          }
        },
        "security": [
          {
            "Bearer": [
              "global"
            ]
          }
        ],
        "deprecated": false
      }
    },
    "/api/secure/lot/delete-doc": {
      "put": {
        "tags": [
          "Service Lot"
        ],
        "summary": "Permet de supprimer le document [idLotFichier] du  le lot [idLot] ",
        "operationId": "supprimerDocumentUsingPUT",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "*/*"
        ],
        "parameters": [
          {
            "name": "idLot",
            "in": "query",
            "description": "idLot",
            "required": false,
            "type": "integer",
            "format": "int64"
          },
          {
            "name": "idLotFichier",
            "in": "query",
            "description": "idLotFichier",
            "required": false,
            "type": "integer",
            "format": "int64"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/SortieDTO"
            }
          },
          "201": {
            "description": "Created"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          }
        },
        "security": [
          {
            "Bearer": [
              "global"
            ]
          }
        ],
        "deprecated": false
      }
    },
    "/api/secure/lot/download-file": {
      "get": {
        "tags": [
          "Service Lot"
        ],
        "summary": "Recupere le document [idLotFichier]  du lot [idLot].",
        "operationId": "getDocumentUsingGET_1",
        "produces": [
          "*/*"
        ],
        "parameters": [
          {
            "name": "idLot",
            "in": "query",
            "description": "idLot",
            "required": true,
            "type": "integer",
            "format": "int64"
          },
          {
            "name": "idLotFichier",
            "in": "query",
            "description": "idLotFichier",
            "required": true,
            "type": "integer",
            "format": "int64"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/SortieFichier"
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          }
        },
        "security": [
          {
            "Bearer": [
              "global"
            ]
          }
        ],
        "deprecated": false
      }
    },
    "/api/secure/mail/send": {
      "post": {
        "tags": [
          "Service Mail"
        ],
        "summary": "envoyer un mail avec le fichier fourni en entr\u00e9e",
        "operationId": "sendEmailWithAttachmentUsingPOST",
        "consumes": [
          "multipart/form-data"
        ],
        "produces": [
          "*/*"
        ],
        "parameters": [
          {
            "name": "file",
            "in": "formData",
            "description": "file",
            "required": true,
            "type": "file"
          },
          {
            "name": "mail",
            "in": "query",
            "description": "mail",
            "required": true,
            "type": "string"
          },
          {
            "name": "name",
            "in": "query",
            "description": "name",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/ResponseEntity"
            }
          },
          "201": {
            "description": "Created"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          }
        },
        "security": [
          {
            "Bearer": [
              "global"
            ]
          }
        ],
        "deprecated": false
      }
    },
    "/api/secure/mgh/gestionnaire/{cdeserv}/{idGestionnaire}": {
      "get": {
        "tags": [
          "mgh-rs"
        ],
        "summary": "rechercherGestionnaire",
        "operationId": "rechercherGestionnaireUsingGET",
        "produces": [
          "*/*"
        ],
        "parameters": [
          {
            "name": "cdeserv",
            "in": "path",
            "description": "cdeserv",
            "required": true,
            "type": "integer",
            "format": "int64"
          },
          {
            "name": "idGestionnaire",
            "in": "path",
            "description": "idGestionnaire",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/SortieService\u00abDetailUtilisateurDTO\u00bb"
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          }
        },
        "security": [
          {
            "Bearer": [
              "global"
            ]
          }
        ],
        "deprecated": false
      }
    },
    "/api/secure/mgh/groupes": {
      "get": {
        "tags": [
          "mgh-rs"
        ],
        "summary": "getGroupes",
        "operationId": "getGroupesUsingGET",
        "produces": [
          "*/*"
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/SortieService\u00abGroupesDTO\u00bb"
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          }
        },
        "security": [
          {
            "Bearer": [
              "global"
            ]
          }
        ],
        "deprecated": false
      }
    },
    "/api/secure/mgh/habilitation": {
      "post": {
        "tags": [
          "mgh-rs"
        ],
        "summary": "habiliterUtilisateurs",
        "operationId": "habiliterUtilisateursUsingPOST",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "*/*"
        ],
        "parameters": [
          {
            "in": "body",
            "name": "entree",
            "description": "entree",
            "required": true,
            "schema": {
              "$ref": "#/definitions/HabiliterUtilisateursEntreeDTO"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/SortieDTO"
            }
          },
          "201": {
            "description": "Created"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          }
        },
        "security": [
          {
            "Bearer": [
              "global"
            ]
          }
        ],
        "deprecated": false
      },
      "put": {
        "tags": [
          "mgh-rs"
        ],
        "summary": "modifierUtilisateur",
        "operationId": "modifierUtilisateurUsingPUT",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "*/*"
        ],
        "parameters": [
          {
            "in": "body",
            "name": "entree",
            "description": "entree",
            "required": true,
            "schema": {
              "$ref": "#/definitions/ModifierUtilisateurEntreeDTO"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/SortieDTO"
            }
          },
          "201": {
            "description": "Created"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          }
        },
        "security": [
          {
            "Bearer": [
              "global"
            ]
          }
        ],
        "deprecated": false
      }
    },
    "/api/secure/mgh/habilitation/refuser": {
      "post": {
        "tags": [
          "mgh-rs"
        ],
        "summary": "refuserAccesEservice",
        "operationId": "refuserAccesEserviceUsingPOST",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "*/*"
        ],
        "parameters": [
          {
            "in": "body",
            "name": "entree",
            "description": "entree",
            "required": true,
            "schema": {
              "$ref": "#/definitions/AccesEserviceEntreeDTO"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/SortieDTO"
            }
          },
          "201": {
            "description": "Created"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          }
        },
        "security": [
          {
            "Bearer": [
              "global"
            ]
          }
        ],
        "deprecated": false
      }
    },
    "/api/secure/mgh/idcompl/isUtilise": {
      "get": {
        "tags": [
          "mgh-rs"
        ],
        "summary": "isIdComplementairesUtilises",
        "operationId": "isIdComplementairesUtilisesUsingGET",
        "produces": [
          "*/*"
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/SortieService\u00abUtilisationIdComplementairesDTO\u00bb"
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          }
        },
        "security": [
          {
            "Bearer": [
              "global"
            ]
          }
        ],
        "deprecated": false
      }
    },
    "/api/secure/mgh/idcompl/liste": {
      "get": {
        "tags": [
          "mgh-rs"
        ],
        "summary": "getListeIdComplementaires",
        "operationId": "getListeIdComplementairesUsingGET",
        "produces": [
          "*/*"
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/SortieService\u00abListIdentifiantsComplementairesAsStringDTO\u00bb"
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          }
        },
        "security": [
          {
            "Bearer": [
              "global"
            ]
          }
        ],
        "deprecated": false
      }
    },
    "/api/secure/mgh/idcompl/{identifiantComplementaire}/valid": {
      "get": {
        "tags": [
          "mgh-rs"
        ],
        "summary": "existeIdentifiantComplementaire",
        "operationId": "existeIdentifiantComplementaireUsingGET",
        "produces": [
          "*/*"
        ],
        "parameters": [
          {
            "name": "identifiantComplementaire",
            "in": "path",
            "description": "identifiantComplementaire",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/SortieDTO"
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          }
        },
        "security": [
          {
            "Bearer": [
              "global"
            ]
          }
        ],
        "deprecated": false
      }
    },
    "/api/secure/mgh/usagerenattente/{cdeserv}/{idGestionnaire}": {
      "get": {
        "tags": [
          "mgh-rs"
        ],
        "summary": "getUsagerEnAttente",
        "operationId": "getUsagerEnAttenteUsingGET",
        "produces": [
          "*/*"
        ],
        "parameters": [
          {
            "name": "cdeserv",
            "in": "path",
            "description": "cdeserv",
            "required": true,
            "type": "string"
          },
          {
            "name": "dtDebut",
            "in": "query",
            "description": "dtDebut",
            "required": false,
            "type": "string",
            "format": "date-time"
          },
          {
            "name": "dtFin",
            "in": "query",
            "description": "dtFin",
            "required": false,
            "type": "string",
            "format": "date-time"
          },
          {
            "name": "idGestionnaire",
            "in": "path",
            "description": "idGestionnaire",
            "required": true,
            "type": "string"
          },
          {
            "name": "nom",
            "in": "query",
            "description": "nom",
            "required": false,
            "type": "string"
          },
          {
            "name": "prenom",
            "in": "query",
            "description": "prenom",
            "required": false,
            "type": "string"
          },
          {
            "name": "userId",
            "in": "query",
            "description": "userId",
            "required": false,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/SortieService\u00abListUtilisateurInfoDTO\u00bb"
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          }
        },
        "security": [
          {
            "Bearer": [
              "global"
            ]
          }
        ],
        "deprecated": false
      }
    },
    "/api/secure/mgh/user/type": {
      "get": {
        "tags": [
          "mgh-rs"
        ],
        "summary": "getTypesUtilisateur",
        "operationId": "getTypesUtilisateurUsingGET",
        "produces": [
          "*/*"
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/SortieService\u00abListTypesUtilisateurDTO\u00bb"
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          }
        },
        "security": [
          {
            "Bearer": [
              "global"
            ]
          }
        ],
        "deprecated": false
      }
    },
    "/api/secure/mgh/user/{cdeserv}": {
      "get": {
        "tags": [
          "mgh-rs"
        ],
        "summary": "getUtilisateurs",
        "operationId": "getUtilisateursUsingGET_1",
        "produces": [
          "*/*"
        ],
        "parameters": [
          {
            "name": "cdeserv",
            "in": "path",
            "description": "cdeserv",
            "required": true,
            "type": "integer",
            "format": "int64"
          },
          {
            "name": "isGetActivationDate",
            "in": "query",
            "description": "isGetActivationDate",
            "required": false,
            "type": "boolean",
            "default": false
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/SortieService\u00abListUtilisateurDTO\u00bb"
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          }
        },
        "security": [
          {
            "Bearer": [
              "global"
            ]
          }
        ],
        "deprecated": false
      }
    },
    "/api/secure/mgh/user/{cdeserv}/export": {
      "get": {
        "tags": [
          "mgh-rs"
        ],
        "summary": "getUtilisateursExport",
        "operationId": "getUtilisateursExportUsingGET",
        "produces": [
          "*/*"
        ],
        "parameters": [
          {
            "name": "cdeserv",
            "in": "path",
            "description": "cdeserv",
            "required": true,
            "type": "integer",
            "format": "int64"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/Resource"
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          }
        },
        "security": [
          {
            "Bearer": [
              "global"
            ]
          }
        ],
        "deprecated": false
      }
    },
    "/api/secure/mgh/user/{cdeserv}/{idUtilisateur}": {
      "get": {
        "tags": [
          "mgh-rs"
        ],
        "summary": "getDetailUtilisateur",
        "operationId": "getDetailUtilisateurUsingGET",
        "produces": [
          "*/*"
        ],
        "parameters": [
          {
            "name": "cdeserv",
            "in": "path",
            "description": "cdeserv",
            "required": true,
            "type": "integer",
            "format": "int64"
          },
          {
            "name": "idUtilisateur",
            "in": "path",
            "description": "idUtilisateur",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/SortieService\u00abDetailUtilisateurDTO\u00bb"
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          }
        },
        "security": [
          {
            "Bearer": [
              "global"
            ]
          }
        ],
        "deprecated": false
      }
    },
    "/api/secure/mgh/user/{cdeserv}/{idUtilisateur}/desactive": {
      "post": {
        "tags": [
          "mgh-rs"
        ],
        "summary": "desactiveUtilisateur",
        "operationId": "desactiveUtilisateurUsingPOST",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "*/*"
        ],
        "parameters": [
          {
            "name": "cdeserv",
            "in": "path",
            "description": "cdeserv",
            "required": true,
            "type": "integer",
            "format": "int64"
          },
          {
            "name": "dtDebut",
            "in": "query",
            "description": "dtDebut",
            "required": false,
            "type": "string",
            "format": "date-time"
          },
          {
            "name": "idUtilisateur",
            "in": "path",
            "description": "idUtilisateur",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/SortieDTO"
            }
          },
          "201": {
            "description": "Created"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          }
        },
        "security": [
          {
            "Bearer": [
              "global"
            ]
          }
        ],
        "deprecated": false
      }
    },
    "/api/secure/mgh/user/{cdeserv}/{idUtilisateur}/idcompl": {
      "get": {
        "tags": [
          "mgh-rs"
        ],
        "summary": "getIdentifiantsComplementairesUtilisateur",
        "operationId": "getIdentifiantsComplementairesUtilisateurUsingGET",
        "produces": [
          "*/*"
        ],
        "parameters": [
          {
            "name": "cdeserv",
            "in": "path",
            "description": "cdeserv",
            "required": true,
            "type": "integer",
            "format": "int64"
          },
          {
            "name": "idUtilisateur",
            "in": "path",
            "description": "idUtilisateur",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/SortieService\u00abListIdentifiantsComplementairesDTO\u00bb"
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          }
        },
        "security": [
          {
            "Bearer": [
              "global"
            ]
          }
        ],
        "deprecated": false
      }
    },
    "/api/secure/mgh/user/{cdeserv}/{typeUtilisateur}/{actif}": {
      "get": {
        "tags": [
          "mgh-rs"
        ],
        "summary": "getUtilisateurs",
        "operationId": "getUtilisateursUsingGET",
        "produces": [
          "*/*"
        ],
        "parameters": [
          {
            "name": "actif",
            "in": "path",
            "description": "actif",
            "required": true,
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "cdeserv",
            "in": "path",
            "description": "cdeserv",
            "required": true,
            "type": "integer",
            "format": "int64"
          },
          {
            "name": "isGetActivationDate",
            "in": "query",
            "description": "isGetActivationDate",
            "required": false,
            "type": "boolean",
            "default": false
          },
          {
            "name": "typeUtilisateur",
            "in": "path",
            "description": "typeUtilisateur",
            "required": true,
            "type": "integer",
            "format": "int32"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/SortieService\u00abListUtilisateurDTO\u00bb"
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          }
        },
        "security": [
          {
            "Bearer": [
              "global"
            ]
          }
        ],
        "deprecated": false
      }
    },
    "/api/secure/modificationLogMetier/{level}": {
      "get": {
        "tags": [
          "Service Actuator"
        ],
        "summary": "Modifie le niveau de log du m\u00e9tier",
        "operationId": "setLogLevelUsingGET",
        "produces": [
          "*/*"
        ],
        "parameters": [
          {
            "name": "level",
            "in": "path",
            "description": "level",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/ResponseEntity"
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          }
        },
        "security": [
          {
            "Bearer": [
              "global"
            ]
          }
        ],
        "deprecated": false
      }
    },
    "/api/secure/operateur/find/novsig/{novsig}": {
      "get": {
        "tags": [
          "Service Operateur"
        ],
        "summary": "R\u00e9cup\u00e9re l'operateur dont le novsig est en entr\u00e9e.",
        "operationId": "trouverParNoVsigUsingGET",
        "produces": [
          "*/*"
        ],
        "parameters": [
          {
            "name": "novsig",
            "in": "path",
            "description": "novsig",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/OperateurSortie"
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          }
        },
        "security": [
          {
            "Bearer": [
              "global"
            ]
          }
        ],
        "deprecated": false
      }
    },
    "/api/secure/operateur/find/siret/{siret}": {
      "get": {
        "tags": [
          "Service Operateur"
        ],
        "summary": "R\u00e9cup\u00e9re l'operateur dont le siret est en entr\u00e9e.",
        "operationId": "trouverParSiretUsingGET",
        "produces": [
          "*/*"
        ],
        "parameters": [
          {
            "name": "siret",
            "in": "path",
            "description": "siret",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/OperateurSortie"
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          }
        },
        "security": [
          {
            "Bearer": [
              "global"
            ]
          }
        ],
        "deprecated": false
      }
    },
    "/api/secure/operateur/get/bandeaux": {
      "get": {
        "tags": [
          "Service Operateur"
        ],
        "summary": "R\u00e9cup\u00e9rer les bandeaux \u00e0 afficher pour l\u2019op\u00e9rateur connect\u00e9",
        "operationId": "getListeBandeauUsingGET",
        "produces": [
          "*/*"
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/ListeBandeauSortie"
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          }
        },
        "security": [
          {
            "Bearer": [
              "global"
            ]
          }
        ],
        "deprecated": false
      }
    },
    "/api/secure/operateur/search/{patternRaisonSociale}": {
      "get": {
        "tags": [
          "Service Operateur"
        ],
        "summary": "R\u00e9cup\u00e9rer les op\u00e9rateurs dont la raison social matche le pattern en entr\u00e9e.",
        "operationId": "rechercheParRaisonSocialeUsingGET",
        "produces": [
          "*/*"
        ],
        "parameters": [
          {
            "name": "patternRaisonSociale",
            "in": "path",
            "description": "patternRaisonSociale",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/ListeOperateurLightSortie"
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          }
        },
        "security": [
          {
            "Bearer": [
              "global"
            ]
          }
        ],
        "deprecated": false
      }
    },
    "/api/secure/operateur/validerInformationAdresse": {
      "put": {
        "tags": [
          "Service Operateur"
        ],
        "summary": "Valider les informations d'adresse de l\u2019op\u00e9rateur connect\u00e9",
        "operationId": "validerInformationAdresseUsingPUT",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "*/*"
        ],
        "parameters": [
          {
            "in": "body",
            "name": "adresse",
            "description": "adresse",
            "required": true,
            "schema": {
              "$ref": "#/definitions/AdresseDTO"
            }
          },
          {
            "name": "idOperateur",
            "in": "query",
            "description": "idOperateur",
            "required": true,
            "type": "integer",
            "format": "int64"
          },
          {
            "name": "typeAdresseInsee",
            "in": "query",
            "description": "typeAdresseInsee",
            "required": true,
            "type": "boolean"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/SortieDTO"
            }
          },
          "201": {
            "description": "Created"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          }
        },
        "security": [
          {
            "Bearer": [
              "global"
            ]
          }
        ],
        "deprecated": false
      }
    },
    "/api/secure/operateur/validerInformationContact": {
      "put": {
        "tags": [
          "Service Operateur"
        ],
        "summary": "Valider les informations de contact de l\u2019op\u00e9rateur connect\u00e9",
        "operationId": "validerInformationContactUsingPUT",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "*/*"
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/SortieDTO"
            }
          },
          "201": {
            "description": "Created"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          }
        },
        "security": [
          {
            "Bearer": [
              "global"
            ]
          }
        ],
        "deprecated": false
      }
    },
    "/api/secure/operateur/verifier-absence-appel-paiement-en-attente": {
      "get": {
        "tags": [
          "Service Operateur"
        ],
        "summary": "V\u00e9rifie l'absence d'appel \u00e0 paiement en attente pour un op\u00e9rateur donn\u00e9. L\u00e8ve une exception si ce n'est pas le cas.",
        "operationId": "verifierAbsenceAppelPaiementEnAttenteUsingGET",
        "produces": [
          "*/*"
        ],
        "parameters": [
          {
            "name": "idOperateur",
            "in": "query",
            "description": "idOperateur",
            "required": true,
            "type": "integer",
            "format": "int64"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/SortieDTO"
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          }
        },
        "security": [
          {
            "Bearer": [
              "global"
            ]
          }
        ],
        "deprecated": false
      }
    },
    "/api/secure/operateur/verifier-accessibilite-tableau-de-bord": {
      "get": {
        "tags": [
          "Service Operateur"
        ],
        "summary": "V\u00e9rifie l'accessibilit\u00e9 du tableau de bord pour un op\u00e9rateur donn\u00e9. L\u00e8ve une exception si ce n'est pas le cas.",
        "operationId": "verifierAccessibiliteTableauDeBordUsingGET",
        "produces": [
          "*/*"
        ],
        "parameters": [
          {
            "name": "idOperateur",
            "in": "query",
            "description": "idOperateur",
            "required": true,
            "type": "integer",
            "format": "int64"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/SortieDTO"
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          }
        },
        "security": [
          {
            "Bearer": [
              "global"
            ]
          }
        ],
        "deprecated": false
      }
    },
    "/api/secure/operateur/verifier-attente-declaration-commercialisation": {
      "get": {
        "tags": [
          "Service Operateur"
        ],
        "summary": "V\u00e9rifie l'attente d'une d\u00e9claration de commercialisation pour un op\u00e9rateur donn\u00e9. L\u00e8ve une exception si c'est le cas.",
        "operationId": "verifierAttenteDeclarationCommercialisationUsingGET",
        "produces": [
          "*/*"
        ],
        "parameters": [
          {
            "name": "idOperateur",
            "in": "query",
            "description": "idOperateur",
            "required": true,
            "type": "integer",
            "format": "int64"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/SortieDTO"
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
[...]
