{
  "swagger": "2.0",
  "info": {
    "description": "API for user authentication in the Contact Manager project",
    "version": "1.0.0",
    "title": "Contact Manager Auth API",
    "contact": {
      "email": "your-team@example.com"
    },
    "license": {
      "name": "Apache 2.0",
      "url": "http://www.apache.org/licenses/LICENSE-2.0.html"
    },
    "x-jentic-source-url": "https://api.swaggerhub.com/apis/ucf-ecb/27_API_Docs/1.0.0"
  },
  "host": "labfor4331.xyz",
  "basePath": "/LAMPAPI",
  "schemes": [
    "http"
  ],
  "consumes": [
    "application/json"
  ],
  "produces": [
    "application/json"
  ],
  "tags": [
    {
      "name": "auth",
      "description": "Login and registration endpoints"
    }
  ],
  "paths": {
    "/Login.php": {
      "post": {
        "tags": [
          "auth"
        ],
        "summary": "Authenticate a user",
        "operationId": "loginUser",
        "description": "Validates user credentials and returns user ID/name on success.",
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "description": "Login credentials",
            "required": true,
            "schema": {
              "$ref": "#/definitions/LoginRequest"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Login response",
            "schema": {
              "$ref": "#/definitions/LoginResponse"
            }
          }
        }
      }
    },
    "/Register.php": {
      "post": {
        "tags": [
          "auth"
        ],
        "summary": "Register a new user",
        "operationId": "registerUser",
        "description": "Creates a new user unless the login name already exists.",
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "description": "Registration data",
            "required": true,
            "schema": {
              "$ref": "#/definitions/RegisterRequest"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Registration response",
            "schema": {
              "$ref": "#/definitions/RegisterResponse"
            }
          }
        }
      }
    }
  },
  "definitions": {
    "LoginRequest": {
      "type": "object",
      "required": [
        "login",
        "password"
      ],
      "properties": {
        "login": {
          "type": "string",
          "example": "jdoe"
        },
        "password": {
          "type": "string",
          "example": "mySecurePassword"
        }
      }
    },
    "LoginResponse": {
      "type": "object",
      "required": [
        "id",
        "firstName",
        "lastName",
        "error"
      ],
      "properties": {
        "id": {
          "type": "integer",
          "format": "int32",
          "example": 5
        },
        "firstName": {
          "type": "string",
          "example": "John"
        },
        "lastName": {
          "type": "string",
          "example": "Doe"
        },
        "error": {
          "type": "string",
          "example": ""
        }
      }
    },
    "RegisterRequest": {
      "type": "object",
      "required": [
        "loginName",
        "password",
        "firstName",
        "lastName"
      ],
      "properties": {
        "loginName": {
          "type": "string",
          "example": "jdoe"
        },
        "password": {
          "type": "string",
          "example": "mySecurePassword"
        },
        "firstName": {
          "type": "string",
          "example": "John"
        },
        "lastName": {
          "type": "string",
          "example": "Doe"
        }
      }
    },
    "RegisterResponse": {
      "type": "object",
      "required": [
        "message",
        "error"
      ],
      "properties": {
        "message": {
          "type": "string",
          "example": "User registered successfully"
        },
        "error": {
          "type": "string",
          "example": ""
        }
      }
    }
  }
}