{
  "openapi": "3.1.0",
  "info": {
    "title": "Eatzy API",
    "description": "Eatzy REST API Documentation",
    "termsOfService": "https://eatzy.com",
    "contact": {
      "email": "developers@eatzy.com"
    },
    "version": "1.45.153",
    "x-jentic-source-url": "https://api.swaggerhub.com/apis/Eatzy2/eatzy-api/1.45.153"
  },
  "servers": [
    {
      "url": "https://api.eatsy.net",
      "description": "Eatzy API Sandbox Server"
    }
  ],
  "paths": {
    "/internal/version": {
      "get": {
        "summary": "Api Version",
        "description": "",
        "tags": [
          "Internal"
        ],
        "parameters": [
          {
            "name": "X-API-FakeData",
            "in": "header",
            "required": false,
            "schema": {
              "type": "string",
              "enum": [
                "random"
              ]
            }
          }
        ],
        "requestBody": {
          "description": "Api Version",
          "required": false
        },
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Internal.ApiVersionTask.Response.Schema"
                }
              }
            }
          }
        }
      }
    },
    "/health": {
      "get": {
        "summary": "Health",
        "description": "",
        "tags": [
          "Internal"
        ],
        "parameters": [
          {
            "name": "X-API-FakeData",
            "in": "header",
            "required": false,
            "schema": {
              "type": "string",
              "enum": [
                "random"
              ]
            }
          }
        ],
        "requestBody": {
          "description": "Health",
          "required": false
        },
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Internal.HealthTask.Response.Schema"
                }
              }
            }
          }
        }
      }
    },
    "/consumer/customer/restaurants/all": {
      "get": {
        "summary": "Consumer Customer Get All Business Restaurants",
        "description": "",
        "tags": [
          "Consumer"
        ],
        "parameters": [
          {
            "name": "X-API-FakeData",
            "in": "header",
            "required": false,
            "schema": {
              "type": "string",
              "enum": [
                "random"
              ]
            }
          }
        ],
        "requestBody": {
          "description": "Consumer Customer Get All Business Restaurants",
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/Consumer.Customer.ConsumerCustomerGetAllBusinessRestaurantsTask.Request.Schema"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Consumer.Customer.ConsumerCustomerGetAllBusinessRestaurantsTask.Response.Schema"
                }
              }
            }
          }
        }
      }
    },
    "/consumer/customer/deals": {
      "get": {
        "summary": "Consumer Customer Get Deals",
        "description": "",
        "tags": [
          "Consumer"
        ],
        "parameters": [
          {
            "name": "X-API-FakeData",
            "in": "header",
            "required": false,
            "schema": {
              "type": "string",
              "enum": [
                "random"
              ]
            }
          }
        ],
        "requestBody": {
          "description": "Consumer Customer Get Deals",
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/Consumer.Customer.ConsumerCustomerGetDealsTask.Request.Schema"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Consumer.Customer.ConsumerCustomerGetDealsTask.Response.Schema"
                }
              }
            }
          }
        }
      }
    },
    "/consumer/customer/restaurants": {
      "get": {
        "summary": "Consumer Customer Search Restaurants",
        "description": "",
        "tags": [
          "Consumer"
        ],
        "parameters": [
          {
            "name": "X-API-FakeData",
            "in": "header",
            "required": false,
            "schema": {
              "type": "string",
              "enum": [
                "random"
              ]
            }
          }
        ],
        "requestBody": {
          "description": "Consumer Customer Search Restaurants",
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/Consumer.Customer.ConsumerCustomerSearchRestaurantsTask.Request.Schema"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Consumer.Customer.ConsumerCustomerSearchRestaurantsTask.Response.Schema"
                }
              }
            }
          }
        }
      }
    },
    "/consumer/customer/favorite": {
      "post": {
        "summary": "Consumer Customer Set Favorite",
        "description": "",
        "tags": [
          "Consumer"
        ],
        "parameters": [
          {
            "name": "X-API-FakeData",
            "in": "header",
            "required": false,
            "schema": {
              "type": "string",
              "enum": [
                "random"
              ]
            }
          },
          {
            "name": "Authorization",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string",
              "example": "Bearer acd9930fdd15bcea36e6905f2a62d1fdf17bcba1"
            }
          }
        ],
        "requestBody": {
          "description": "Consumer Customer Set Favorite",
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/Consumer.Customer.ConsumerCustomerSetFavoriteTask.Request.Schema"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Consumer.Customer.ConsumerCustomerSetFavoriteTask.Response.Schema"
                }
              }
            }
          }
        }
      }
    },
    "/consumer/customer/order/history": {
      "get": {
        "summary": "Consumer Customer Orders History",
        "description": "",
        "tags": [
          "Consumer"
        ],
        "parameters": [
          {
            "name": "X-API-FakeData",
            "in": "header",
            "required": false,
            "schema": {
              "type": "string",
              "enum": [
                "random"
              ]
            }
          },
          {
            "name": "Authorization",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string",
              "example": "Bearer acd9930fdd15bcea36e6905f2a62d1fdf17bcba1"
            }
          }
        ],
        "requestBody": {
          "description": "Consumer Customer Orders History",
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/Consumer.Customer.ConsumerCustomerOrdersHistoryTask.Request.Schema"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Consumer.Customer.ConsumerCustomerOrdersHistoryTask.Response.Schema"
                }
              }
            }
          }
        }
      }
    },
    "/consumer/customer/order/rate": {
      "get": {
        "summary": "Consumer Customer Get Rate Order Config",
        "description": "",
        "tags": [
          "Consumer"
        ],
        "parameters": [
          {
            "name": "X-API-FakeData",
            "in": "header",
            "required": false,
            "schema": {
              "type": "string",
              "enum": [
                "random"
              ]
            }
          },
          {
            "name": "Authorization",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string",
              "example": "Bearer acd9930fdd15bcea36e6905f2a62d1fdf17bcba1"
            }
          }
        ],
        "requestBody": {
          "description": "Consumer Customer Get Rate Order Config",
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/Consumer.Customer.ConsumerCustomerGetRateOrderConfigTask.Request.Schema"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Consumer.Customer.ConsumerCustomerGetRateOrderConfigTask.Response.Schema"
                }
              }
            }
          }
        }
      },
      "post": {
        "summary": "Consumer Customer Rate Order",
        "description": "",
        "tags": [
          "Consumer"
        ],
        "parameters": [
          {
            "name": "X-API-FakeData",
            "in": "header",
            "required": false,
            "schema": {
              "type": "string",
              "enum": [
                "random"
              ]
            }
          },
          {
            "name": "Authorization",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string",
              "example": "Bearer acd9930fdd15bcea36e6905f2a62d1fdf17bcba1"
            }
          }
        ],
        "requestBody": {
          "description": "Consumer Customer Rate Order",
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/Consumer.Customer.ConsumerCustomerRateOrderTask.Request.Schema"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Consumer.Customer.ConsumerCustomerRateOrderTask.Response.Schema"
                }
              }
            }
          }
        }
      }
    },
    "/deliveryops/clockin": {
      "post": {
        "summary": "Clock In",
        "description": "",
        "tags": [
          "Delivery Operations"
        ],
        "parameters": [
          {
            "name": "X-API-FakeData",
            "in": "header",
            "required": false,
            "schema": {
              "type": "string",
              "enum": [
                "random"
              ]
            }
          },
          {
            "name": "Authorization",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string",
              "example": "Bearer acd9930fdd15bcea36e6905f2a62d1fdf17bcba1"
            }
          }
        ],
        "requestBody": {
          "description": "Clock In",
          "required": false
        },
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DeliveryOperations.ClockInTask.Response.Schema"
                }
              }
            }
          }
        }
      }
    },
    "/deliveryops/clockout": {
      "post": {
        "summary": "Clock Out",
        "description": "",
        "tags": [
          "Delivery Operations"
        ],
        "parameters": [
          {
            "name": "X-API-FakeData",
            "in": "header",
            "required": false,
            "schema": {
              "type": "string",
              "enum": [
                "random"
              ]
            }
          },
          {
            "name": "Authorization",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string",
              "example": "Bearer acd9930fdd15bcea36e6905f2a62d1fdf17bcba1"
            }
          }
        ],
        "requestBody": {
          "description": "Clock Out",
          "required": false
        },
        "responses": {
          "200": {
            "description": "Success"
          }
        }
      }
    },
    "/deliveryops/drivers": {
      "get": {
        "summary": "Get Active Drivers",
        "description": "",
        "tags": [
          "Delivery Operations"
        ],
        "parameters": [
          {
            "name": "X-API-FakeData",
            "in": "header",
            "required": false,
            "schema": {
              "type": "string",
              "enum": [
                "random"
              ]
            }
          },
          {
            "name": "Authorization",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string",
              "example": "Bearer acd9930fdd15bcea36e6905f2a62d1fdf17bcba1"
            }
          }
        ],
        "requestBody": {
          "description": "Get Active Drivers",
          "required": false
        },
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DeliveryOperations.GetActiveDriversTask.Response.Schema"
                }
              }
            }
          }
        }
      }
    },
    "/deliveryops/drivers/history": {
      "get": {
        "summary": "Get Drivers History",
        "description": "",
        "tags": [
          "Delivery Operations"
        ],
        "parameters": [
          {
            "name": "X-API-FakeData",
            "in": "header",
            "required": false,
            "schema": {
              "type": "string",
              "enum": [
                "random"
              ]
            }
          },
          {
            "name": "Authorization",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string",
              "example": "Bearer acd9930fdd15bcea36e6905f2a62d1fdf17bcba1"
            }
          }
        ],
        "requestBody": {
          "description": "Get Drivers History",
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/DeliveryOperations.GetDriversHistoryTask.Request.Schema"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DeliveryOperations.GetDriversHistoryTask.Response.Schema"
                }
              }
            }
          }
        }
      }
    },
    "/deliveryops/drivers/history/{driverId}": {
      "get": {
        "summary": "Get Driver History",
        "description": "",
        "tags": [
          "Delivery Operations"
        ],
        "parameters": [
          {
            "name": "X-API-FakeData",
            "in": "header",
            "required": false,
            "schema": {
              "type": "string",
              "enum": [
                "random"
              ]
            }
          },
          {
            "name": "Authorization",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string",
              "example": "Bearer acd9930fdd15bcea36e6905f2a62d1fdf17bcba1"
            }
          }
        ],
        "requestBody": {
          "description": "Get Driver History",
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/DeliveryOperations.GetDriverHistoryTask.Request.Schema"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DeliveryOperations.GetDriverHistoryTask.Response.Schema"
                }
              }
            }
          }
        }
      }
    },
    "/deliveryops/drivers/messages": {
      "get": {
        "summary": "Get Driver Messages",
        "description": "",
        "tags": [
          "Delivery Operations"
        ],
        "parameters": [
          {
            "name": "X-API-FakeData",
            "in": "header",
            "required": false,
            "schema": {
              "type": "string",
              "enum": [
                "random"
              ]
            }
          },
          {
            "name": "Authorization",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string",
              "example": "Bearer acd9930fdd15bcea36e6905f2a62d1fdf17bcba1"
            }
          }
        ],
        "requestBody": {
          "description": "Get Driver Messages",
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/DeliveryOperations.GetDriverMessagesTask.Request.Schema"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DeliveryOperations.GetDriverMessagesTask.Response.Schema"
                }
              }
            }
          }
        }
      },
      "post": {
        "summary": "Driver Send Message",
        "description": "",
        "tags": [
          "Delivery Operations"
        ],
        "parameters": [
          {
            "name": "X-API-FakeData",
            "in": "header",
            "required": false,
            "schema": {
              "type": "string",
              "enum": [
                "random"
              ]
            }
          },
          {
            "name": "Authorization",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string",
              "example": "Bearer acd9930fdd15bcea36e6905f2a62d1fdf17bcba1"
            }
          }
        ],
        "requestBody": {
          "description": "Driver Send Message",
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/DeliveryOperations.DriverSendMessageTask.Request.Schema"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success"
          }
        }
      }
    },
    "/deliveryops/drivers/messages/confirm/{messageId}": {
      "post": {
        "summary": "Driver Confirm Message",
        "description": "",
        "tags": [
          "Delivery Operations"
        ],
        "parameters": [
          {
            "name": "X-API-FakeData",
            "in": "header",
            "required": false,
            "schema": {
              "type": "string",
              "enum": [
                "random"
              ]
            }
          },
          {
            "name": "Authorization",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string",
              "example": "Bearer acd9930fdd15bcea36e6905f2a62d1fdf17bcba1"
            }
          }
        ],
        "requestBody": {
          "description": "Driver Confirm Message",
          "required": false
        },
        "responses": {
          "200": {
            "description": "Success"
          }
        }
      }
    },
    "/deliveryops/drivers/queue/{driverId}": {
      "get": {
        "summary": "Get Driver Queue",
        "description": "",
        "tags": [
          "Delivery Operations"
        ],
        "parameters": [
          {
            "name": "X-API-FakeData",
            "in": "header",
            "required": false,
            "schema": {
              "type": "string",
              "enum": [
                "random"
              ]
            }
          },
          {
            "name": "Authorization",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string",
              "example": "Bearer acd9930fdd15bcea36e6905f2a62d1fdf17bcba1"
            }
          }
        ],
        "requestBody": {
          "description": "Get Driver Queue",
          "required": false
        },
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DeliveryOperations.GetDriverQueueTask.Response.Schema"
                }
              }
            }
          }
        }
      }
    },
    "/deliveryops/drivers/balance/{driverId}": {
      "get": {
        "summary": "Get Driver Balance",
        "description": "",
        "tags": [
          "Delivery Operations"
        ],
        "parameters": [
          {
            "name": "X-API-FakeData",
            "in": "header",
            "required": false,
            "schema": {
              "type": "string",
              "enum": [
                "random"
              ]
            }
          },
          {
            "name": "Authorization",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string",
              "example": "Bearer acd9930fdd15bcea36e6905f2a62d1fdf17bcba1"
            }
          }
        ],
        "requestBody": {
          "description": "Get Driver Balance",
          "required": false,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/DeliveryOperations.GetDriverBalanceTask.Request.Schema"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DeliveryOperations.GetDriverBalanceTask.Response.Schema"
                }
              }
            }
          }
        }
      }
    },
    "/deliveryops/drivers/plan/{driverId}": {
      "get": {
        "summary": "Get Driver Plan",
        "description": "",
        "tags": [
          "Delivery Operations"
        ],
        "parameters": [
          {
            "name": "X-API-FakeData",
            "in": "header",
            "required": false,
            "schema": {
              "type": "string",
              "enum": [
                "random"
              ]
            }
          },
          {
            "name": "Authorization",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string",
              "example": "Bearer acd9930fdd15bcea36e6905f2a62d1fdf17bcba1"
            }
          }
        ],
        "requestBody": {
          "description": "Get Driver Plan",
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/DeliveryOperations.GetDriverPlanTask.Request.Schema"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DeliveryOperations.GetDriverPlanTask.Response.Schema"
                }
              }
            }
          }
        }
      }
    },
    "/deliveryops/drivers/schedules/{driverId}": {
      "get": {
        "summary": "Get Driver Schedule",
        "description": "",
        "tags": [
          "Delivery Operations"
        ],
        "parameters": [
          {
            "name": "X-API-FakeData",
            "in": "header",
            "required": false,
            "schema": {
              "type": "string",
              "enum": [
                "random"
              ]
            }
          },
          {
            "name": "Authorization",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string",
              "example": "Bearer acd9930fdd15bcea36e6905f2a62d1fdf17bcba1"
            }
          }
        ],
        "requestBody": {
          "description": "Get Driver Schedule",
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/DeliveryOperations.GetDriverScheduleTask.Request.Schema"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DeliveryOperations.GetDriverScheduleTask.Response.Schema"
                }
              }
            }
          }
        }
      }
    },
    "/deliveryops/drivers/history/{driverId}/order/{orderId}": {
      "get": {
        "summary": "Get Driver Delivery Details",
        "description": "",
        "tags": [
          "Delivery Operations"
        ],
        "parameters": [
          {
            "name": "X-API-FakeData",
            "in": "header",
            "required": false,
            "schema": {
              "type": "string",
              "enum": [
                "random"
              ]
            }
          },
          {
            "name": "Authorization",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string",
              "example": "Bearer acd9930fdd15bcea36e6905f2a62d1fdf17bcba1"
            }
          }
        ],
        "requestBody": {
          "description": "Get Driver Delivery Details",
          "required": false
        },
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DeliveryOperations.GetDriverDeliveryDetailsTask.Response.Schema"
                }
              }
            }
          }
        }
      }
    },
    "/deliveryops/drivers/position/{trackingCode}": {
      "post": {
        "summary": "Update Driver Position",
        "description": "",
        "tags": [
          "Delivery Operations"
        ],
        "parameters": [
          {
            "name": "X-API-FakeData",
            "in": "header",
            "required": false,
            "schema": {
              "type": "string",
              "enum": [
                "random"
              ]
            }
          }
        ],
        "requestBody": {
          "description": "Update Driver Position",
          "required": false,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/DeliveryOperations.UpdateDriverPositionTask.Request.Schema"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success"
          }
        }
      }
    },
    "/deliveryops/orders/history": {
      "get": {
        "summary": "Get Orders History",
        "description": "",
        "tags": [
          "Delivery Operations"
        ],
        "parameters": [
          {
            "name": "X-API-FakeData",
            "in": "header",
            "required": false,
            "schema": {
              "type": "string",
              "enum": [
                "random"
              ]
            }
          },
          {
            "name": "Authorization",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string",
              "example": "Bearer acd9930fdd15bcea36e6905f2a62d1fdf17bcba1"
            }
          }
        ],
        "requestBody": {
          "description": "Get Orders History",
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/DeliveryOperations.GetOrdersHistoryTask.Request.Schema"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success"
          }
        }
      }
    },
    "/deliveryops/drivers/{driverId}": {
      "get": {
        "summary": "Get Driver Details",
        "description": "",
        "tags": [
          "Delivery Operations"
        ],
        "parameters": [
          {
            "name": "X-API-FakeData",
            "in": "header",
            "required": false,
            "schema": {
              "type": "string",
              "enum": [
                "random"
              ]
            }
          },
          {
            "name": "Authorization",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string",
              "example": "Bearer acd9930fdd15bcea36e6905f2a62d1fdf17bcba1"
            }
          }
        ],
        "requestBody": {
          "description": "Get Driver Details",
          "required": false
        },
        "responses": {
          "200": {
            "description": "Success"
          }
        }
      }
    },
    "/deliveryops/orders/{orderId}": {
      "get": {
        "summary": "Get Order Details",
        "description": "",
        "tags": [
          "Delivery Operations"
        ],
        "parameters": [
          {
            "name": "X-API-FakeData",
            "in": "header",
            "required": false,
            "schema": {
              "type": "string",
              "enum": [
                "random"
              ]
            }
          },
          {
            "name": "Authorization",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string",
              "example": "Bearer acd9930fdd15bcea36e6905f2a62d1fdf17bcba1"
            }
          }
        ],
        "requestBody": {
          "description": "Get Order Details",
          "required": false
        },
        "responses": {
          "200": {
            "description": "Success"
          }
        }
      },
      "post": {
        "summary": "Update Order Status",
        "description": "",
        "tags": [
          "Delivery Operations"
        ],
        "parameters": [
          {
            "name": "X-API-FakeData",
            "in": "header",
            "required": false,
            "schema": {
              "type": "string",
              "enum": [
                "random"
              ]
            }
          },
          {
            "name": "Authorization",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string",
              "example": "Bearer acd9930fdd15bcea36e6905f2a62d1fdf17bcba1"
            }
          }
        ],
        "requestBody": {
          "description": "Update Order Status",
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/DeliveryOperations.UpdateOrderStatusTask.Request.Schema"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success"
          }
        }
      }
    },
    "/deliveryops/orders/{orderId}/rate": {
      "post": {
        "summary": "Rate Order",
        "description": "",
        "tags": [
          "Delivery Operations"
        ],
        "parameters": [
          {
            "name": "X-API-FakeData",
            "in": "header",
            "required": false,
            "schema": {
              "type": "string",
              "enum": [
                "random"
              ]
            }
          },
          {
            "name": "Authorization",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string",
              "example": "Bearer acd9930fdd15bcea36e6905f2a62d1fdf17bcba1"
            }
          }
        ],
        "requestBody": {
          "description": "Rate Order",
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/DeliveryOperations.RateOrderTask.Request.Schema"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success"
          }
        }
      }
    },
    "/localareamng/business/all": {
      "get": {
        "summary": "Get Businesses",
        "description": "",
        "tags": [
          "Local Area Manager"
        ],
        "parameters": [
          {
            "name": "X-API-FakeData",
            "in": "header",
            "required": false,
            "schema": {
              "type": "string",
              "enum": [
                "random"
              ]
            }
          },
          {
            "name": "Authorization",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string",
              "example": "Bearer acd9930fdd15bcea36e6905f2a62d1fdf17bcba1"
            }
          }
        ],
        "requestBody": {
          "description": "Get Businesses",
          "required": false
        },
        "responses": {
          "200": {
            "description": "Success"
          }
        }
      }
    },
    "/localareamng/restaurant/template": {
      "get": {
        "summary": "Get Restaurant Template",
        "description": "",
        "tags": [
          "Local Area Manager"
        ],
        "parameters": [
          {
            "name": "X-API-FakeData",
            "in": "header",
            "required": false,
            "schema": {
              "type": "string",
              "enum": [
                "random"
              ]
            }
          },
          {
            "name": "Authorization",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string",
              "example": "Bearer acd9930fdd15bcea36e6905f2a62d1fdf17bcba1"
            }
          }
        ],
        "requestBody": {
          "description": "Get Restaurant Template",
          "required": false
        },
        "responses": {
          "200": {
            "description": "Success"
          }
        }
      }
    },
    "/localareamng/restaurant/all": {
      "get": {
        "summary": "Get Restaurants",
        "description": "",
        "tags": [
          "Local Area Manager"
        ],
        "parameters": [
          {
            "name": "X-API-FakeData",
            "in": "header",
            "required": false,
            "schema": {
              "type": "string",
              "enum": [
                "random"
              ]
            }
          },
          {
            "name": "Authorization",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string",
              "example": "Bearer acd9930fdd15bcea36e6905f2a62d1fdf17bcba1"
            }
          }
        ],
        "requestBody": {
          "description": "Get Restaurants",
          "required": false
        },
        "responses": {
          "200": {
            "description": "Success"
          }
        }
      }
    },
    "/localareamng/restaurant/{restaurantId}": {
      "get": {
        "summary": "Get Restaurant",
        "description": "",
        "tags": [
          "Local Area Manager"
        ],
        "parameters": [
          {
            "name": "X-API-FakeData",
            "in": "header",
            "required": false,
            "schema": {
              "type": "string",
              "enum": [
                "random"
              ]
            }
          },
          {
            "name": "Authorization",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string",
              "example": "Bearer acd9930fdd15bcea36e6905f2a62d1fdf17bcba1"
            }
          }
        ],
        "requestBody": {
          "description": "Get Restaurant",
          "required": false
        },
        "responses": {
          "200": {
            "description": "Success"
          }
        }
      },
      "post": {
        "summary": "Update Restaurant",
        "description": "",
        "tags": [
          "Local Area Manager"
        ],
        "parameters": [
          {
            "name": "X-API-FakeData",
            "in": "header",
            "required": false,
            "schema": {
              "type": "string",
              "enum": [
                "random"
              ]
            }
          },
          {
            "name": "Authorization",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string",
              "example": "Bearer acd9930fdd15bcea36e6905f2a62d1fdf17bcba1"
            }
          }
        ],
        "requestBody": {
          "description": "Update Restaurant",
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/LocalAreaManager.UpdateRestaurantTask.Request.Schema"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success"
          }
        }
      }
    },
    "/localareamng/restaurant/{restaurantId}/publish": {
      "post": {
        "summary": "Publish Restaurant",
        "description": "",
        "tags": [
          "Local Area Manager"
        ],
        "parameters": [
          {
            "name": "X-API-FakeData",
            "in": "header",
            "required": false,
            "schema": {
              "type": "string",
              "enum": [
                "random"
              ]
            }
          },
          {
            "name": "Authorization",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string",
              "example": "Bearer acd9930fdd15bcea36e6905f2a62d1fdf17bcba1"
            }
          }
        ],
        "requestBody": {
          "description": "Publish Restaurant",
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/LocalAreaManager.PublishRestaurantTask.Request.Schema"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success"
          }
        }
      }
    },
    "/localareamng/restaurant/{restaurantId}/app/user": {
      "post": {
        "summary": "Set App User",
        "description": "",
        "tags": [
          "Local Area Manager"
        ],
        "parameters": [
          {
            "name": "X-API-FakeData",
            "in": "header",
            "required": false,
            "schema": {
              "type": "string",
              "enum": [
                "random"
              ]
            }
          },
          {
            "name": "Authorization",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string",
              "example": "Bearer acd9930fdd15bcea36e6905f2a62d1fdf17bcba1"
            }
          }
        ],
        "requestBody": {
          "description": "Set App User",
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/LocalAreaManager.SetAppUserTask.Request.Schema"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success"
          }
        }
      }
    },
    "/localareamng/restaurant/{restaurantId}/closing": {
      "get": {
        "summary": "Get Temp Closing Hours",
        "description": "",
        "tags": [
          "Restaurant"
        ],
        "parameters": [
          {
            "name": "X-API-FakeData",
            "in": "header",
            "required": false,
            "schema": {
              "type": "string",
              "enum": [
                "random"
              ]
            }
          },
          {
            "name": "Authorization",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string",
              "example": "Bearer acd9930fdd15bcea36e6905f2a62d1fdf17bcba1"
            }
          }
        ],
        "requestBody": {
          "description": "Get Temp Closing Hours",
          "required": false
        },
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Restaurant.Manager.GetTempClosingHoursTask.Response.Schema"
                }
              }
            }
          }
        }
      },
      "post": {
        "summary": "Add Temp Closing Hours",
        "description": "",
        "tags": [
          "Restaurant"
        ],
        "parameters": [
          {
            "name": "X-API-FakeData",
            "in": "header",
            "required": false,
            "schema": {
              "type": "string",
              "enum": [
                "random"
              ]
            }
          },
          {
            "name": "Authorization",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string",
              "example": "Bearer acd9930fdd15bcea36e6905f2a62d1fdf17bcba1"
            }
          }
        ],
        "requestBody": {
          "description": "Add Temp Closing Hours",
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/Restaurant.Manager.AddTempClosingHoursTask.Request.Schema"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Restaurant.Manager.AddTempClosingHoursTask.Response.Schema"
                }
              }
            }
          }
        }
      }
    },
    "/localareamng/restaurant/{restaurantId}/closing/{hourId}": {
      "delete": {
        "summary": "Delete Temp Closing Hours",
        "description": "",
        "tags": [
          "Restaurant"
        ],
        "parameters": [
          {
            "name": "X-API-FakeData",
            "in": "header",
            "required": false,
            "schema": {
              "type": "string",
              "enum": [
                "random"
              ]
            }
          },
          {
            "name": "Authorization",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string",
              "example": "Bearer acd9930fdd15bcea36e6905f2a62d1fdf17bcba1"
            }
          }
        ],
        "requestBody": {
          "description": "Delete Temp Closing Hours",
          "required": false
        },
        "responses": {
          "200": {
            "description": "Success"
          }
        }
      }
    },
    "/localareamng/restaurant": {
      "put": {
        "summary": "Add Restaurant",
        "description": "",
        "tags": [
          "Local Area Manager"
        ],
        "parameters": [
          {
            "name": "X-API-FakeData",
            "in": "header",
            "required": false,
            "schema": {
              "type": "string",
              "enum": [
                "random"
              ]
            }
          },
          {
            "name": "Authorization",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string",
              "example": "Bearer acd9930fdd15bcea36e6905f2a62d1fdf17bcba1"
            }
          }
        ],
        "requestBody": {
          "description": "Add Restaurant",
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/LocalAreaManager.AddRestaurantTask.Request.Schema"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success"
          }
        }
      }
    },
    "/localareamng/users/search": {
      "get": {
        "summary": "Search User",
        "description": "",
        "tags": [
          "Local Area Manager"
        ],
        "parameters": [
          {
            "name": "X-API-FakeData",
            "in": "header",
            "required": false,
            "schema": {
              "type": "string",
              "enum": [
                "random"
              ]
            }
          },
          {
            "name": "Authorization",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string",
              "example": "Bearer acd9930fdd15bcea36e6905f2a62d1fdf17bcba1"
            }
          }
        ],
        "requestBody": {
          "description": "Search User",
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/LocalAreaManager.SearchUserTask.Request.Schema"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success"
          }
        }
      }
    },
    "/localareamng/restaurant/{restaurantId}/users": {
      "post": {
        "summary": "Add User",
        "description": "",
        "tags": [
          "Local Area Manager"
        ],
        "parameters": [
          {
            "name": "X-API-FakeData",
            "in": "header",
            "required": false,
            "schema": {
              "type": "string",
              "enum": [
                "random"
              ]
            }
          },
          {
            "name": "Authorization",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string",
              "example": "Bearer acd9930fdd15bcea36e6905f2a62d1fdf17bcba1"
            }
          }
        ],
        "requestBody": {
          "description": "Add User",
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/LocalAreaManager.AddUserTask.Request.Schema"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success"
          }
        }
      },
      "get": {
        "summary": "Get Users",
        "description": "",
        "tags": [
          "Local Area Manager"
        ],
        "parameters": [
          {
            "name": "X-API-FakeData",
            "in": "header",
            "required": false,
            "schema": {
              "type": "string",
              "enum": [
                "random"
              ]
            }
          },
          {
            "name": "Authorization",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string",
              "example": "Bearer acd9930fdd15bcea36e6905f2a62d1fdf17bcba1"
            }
          }
        ],
        "requestBody": {
          "description": "Get Users",
          "required": false
        },
        "responses": {
          "200": {
            "description": "Success"
          }
        }
      }
    },
    "/localareamng/restaurant/{restaurantId}/users/{userId}/roles/{roleId}": {
      "put": {
        "summary": "Update User Role",
        "description": "",
        "tags": [
          "Local Area Manager"
        ],
        "parameters": [
          {
            "name": "X-API-FakeData",
            "in": "header",
            "required": false,
            "schema": {
              "type": "string",
              "enum": [
                "random"
              ]
            }
          },
          {
            "name": "Authorization",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string",
              "example": "Bearer acd9930fdd15bcea36e6905f2a62d1fdf17bcba1"
            }
          }
        ],
        "requestBody": {
          "description": "Update User Role",
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/LocalAreaManager.UpdateUserRoleTask.Request.Schema"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success"
          }
        }
      }
    },
    "/localareamng/restaurant/{restaurantId}/users/{userId}": {
      "delete": {
        "summary": "Remove User",
        "description": "",
        "tags": [
          "Local Area Manager"
        ],
        "parameters": [
          {
            "name": "X-API-FakeData",
            "in": "header",
            "required": false,
            "schema": {
              "type": "string",
              "enum": [
                "random"
              ]
            }
          },
          {
            "name": "Authorization",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string",
              "example": "Bearer acd9930fdd15bcea36e6905f2a62d1fdf17bcba1"
            }
          }
        ],
        "requestBody": {
          "description": "Remove User",
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/LocalAreaManager.RemoveUserTask.Request.Schema"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success"
          }
        }
      }
    },
    "/stripe/webhook": {
      "get": {
        "summary": "Stripe Webhook",
        "description": "",
        "tags": [
          "Stripe"
        ],
        "parameters": [
          {
            "name": "X-API-FakeData",
            "in": "header",
            "required": false,
            "schema": {
              "type": "string",
              "enum": [
                "random"
              ]
            }
          }
        ],
        "requestBody": {
          "description": "Stripe Webhook",
          "required": false
        },
        "responses": {
          "200": {
            "description": "Success"
          }
        }
      }
    },
    "/stripe/config": {
      "get": {
        "summary": "Stripe Config",
        "description": "",
        "tags": [
          "Stripe"
        ],
        "parameters": [
          {
            "name": "X-API-FakeData",
            "in": "header",
            "required": false,
            "schema": {
              "type": "string",
              "enum": [
                "random"
              ]
            }
          }
        ],
        "requestBody": {
          "description": "Stripe Config",
          "required": false
        },
        "responses": {
          "200": {
            "description": "Success"
          }
        }
      }
    },
    "/stripe/account/connect": {
      "post": {
        "summary": "Stripe Connect Account",
        "description": "",
        "tags": [
          "Stripe"
        ],
        "parameters": [
          {
            "name": "X-API-FakeData",
            "in": "header",
            "required": false,
            "schema": {
              "type": "string",
              "enum": [
                "random"
              ]
            }
          },
          {
            "name": "Authorization",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string",
              "example": "Bearer acd9930fdd15bcea36e6905f2a62d1fdf17bcba1"
            }
          }
        ],
        "requestBody": {
          "description": "Stripe Connect Account",
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/Stripe.StripeConnectAccountTask.Request.Schema"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success"
          }
        }
      }
    },
    "/account/authorize": {
      "post": {
        "summary": "Account O Auth Authorize",
        "description": "",
        "tags": [
          "Account"
        ],
        "parameters": [
          {
            "name": "X-API-FakeData",
            "in": "header",
            "required": false,
            "schema": {
              "type": "string",
              "enum": [
                "random"
              ]
            }
          }
        ],
        "requestBody": {
          "description": "Account O Auth Authorize",
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/Account.AccountOAuthAuthorizeTask.Request.Schema"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Account.AccountOAuthAuthorizeTask.Response.Schema"
                }
              }
            }
          }
        }
      }
    },
    "/onesignal/pushnotification": {
      "post": {
        "summary": "Push Notification",
        "description": "",
        "tags": [
          "One Signal"
        ],
        "parameters": [
          {
            "name": "X-API-FakeData",
            "in": "header",
            "required": false,
            "schema": {
              "type": "string",
              "enum": [
                "random"
              ]
            }
          }
        ],
        "requestBody": {
          "description": "Push Notification",
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/OneSignal.PushNotificationTask.Request.Schema"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/OneSignal.PushNotificationTask.Response.Schema"
                }
              }
            }
          }
        }
      }
    },
    "/account/refresh": {
      "post": {
        "summary": "Account O Auth Refresh",
        "description": "",
        "tags": [
          "Account"
        ],
        "parameters": [
          {
            "name": "X-API-FakeData",
            "in": "header",
            "required": false,
            "schema": {
              "type": "string",
              "enum": [
                "random"
              ]
            }
          },
          {
            "name": "Authorization",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string",
              "example": "Basic d971f5c1a20e0d4d8d02f58431898282d99d185d"
            }
          }
        ],
        "requestBody": {
          "description": "Account O Auth Refresh",
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/Account.AccountOAuthRefreshTask.Request.Schema"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Account.AccountOAuthRefreshTask.Response.Schema"
                }
              }
            }
          }
        }
      }
    },
    "/account/deauthorize": {
      "post": {
        "summary": "Account O Auth Deauthorize",
        "description": "",
        "tags": [
          "Account"
        ],
        "parameters": [
          {
            "name": "X-API-FakeData",
            "in": "header",
            "required": false,
            "schema": {
              "type": "string",
              "enum": [
                "random"
              ]
            }
          },
          {
            "name": "Authorization",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string",
              "example": "Basic d971f5c1a20e0d4d8d02f58431898282d99d185d"
            }
          }
        ],
        "requestBody": {
          "description": "Account O Auth Deauthorize",
          "required": false,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/Account.AccountOAuthDeauthorizeTask.Request.Schema"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Account.AccountOAuthDeauthorizeTask.Response.Schema"
                }
              }
            }
          }
        }
      }
    },
    "/account/register": {
      "post": {
        "summary": "Account O Auth Register",
        "description": "",
        "tags": [
          "Account"
        ],
        "parameters": [
          {
            "name": "X-API-FakeData",
            "in": "header",
            "required": false,
            "schema": {
              "type": "string",
              "enum": [
                "random"
              ]
            }
          }
        ],
        "requestBody": {
          "description": "Account O Auth Register",
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/Account.AccountOAuthRegisterTask.Request.Schema"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Account.AccountOAuthRegisterTask.Response.Schema"
                }
              }
            }
          }
        }
      }
    },
    "/account/delete": {
      "delete": {
        "summary": "Account Delete",
        "description": "",
        "tags": [
          "Account"
        ],
        "parameters": [
          {
            "name": "X-API-FakeData",
            "in": "header",
            "required": false,
            "schema": {
              "type": "string",
              "enum": [
                "random"
              ]
            }
          },
          {
            "name": "Authorization",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string",
              "example": "Bearer acd9930fdd15bcea36e6905f2a62d1fdf17bcba1"
            }
          }
        ],
        "requestBody": {
          "description": "Account Delete",
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/Account.AccountDeleteTask.Request.Schema"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Account.AccountDeleteTask.Response.Schema"
                }
              }
            }
          }
        }
      }
    },
    "/account/reset/start": {
      "post": {
        "summary": "Account O Auth Reset Start",
        "description": "",
        "tags": [
          "Account"
        ],
        "parameters": [
          {
            "name": "X-API-FakeData",
            "in": "header",
            "required": false,
            "schema": {
              "type": "string",
              "enum": [
                "random"
              ]
            }
          }
        ],
        "requestBody": {
          "description": "Account O Auth Reset Start",
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/Account.AccountOAuthResetStartTask.Request.Schema"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Account.AccountOAuthResetStartTask.Response.Schema"
                }
              }
            }
          }
        }
      }
    },
    "/account/reset/end": {
      "post": {
        "summary": "Account O Auth Reset End",
        "description": "",
        "tags": [
          "Account"
        ],
        "parameters": [
          {
            "name": "X-API-FakeData",
            "in": "header",
            "required": false,
            "schema": {
              "type": "string",
              "enum": [
                "random"
              ]
            }
          }
        ],
        "requestBody": {
          "description": "Account O Auth Reset End",
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/Account.AccountOAuthResetEndTask.Request.Schema"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Account.AccountOAuthResetEndTask.Response.Schema"
                }
              }
            }
          }
        }
      }
    },
    "/account/confirm": {
      "post": {
        "summary": "Account O Auth Confirm",
        "description": "",
        "tags": [
          "Account"
        ],
        "parameters": [
          {
            "name": "X-API-FakeData",
            "in": "header",
            "required": false,
            "schema": {
              "type": "string",
              "enum": [
                "random"
              ]
            }
          }
        ],
        "requestBody": {
          "description": "Account O Auth Confirm",
          "required": false
        },
        "responses": {
          "200": {
            "description": "Success"
          }
        }
      }
    },
    "/account/profile": {
      "get": {
        "summary": "Account Profile Details",
        "description": "",
        "tags": [
          "Account"
        ],
        "parameters": [
          {
            "name": "X-API-FakeData",
            "in": "header",
            "required": false,
            "schema": {
              "type": "string",
              "enum": [
                "random"
              ]
            }
          },
          {
            "name": "Authorization",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string",
              "example": "Bearer acd9930fdd15bcea36e6905f2a62d1fdf17bcba1"
            }
          }
        ],
        "requestBody": {
          "description": "Account Profile Details",
          "required": false
        },
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Account.AccountProfileDetailsTask.Response.Schema"
                }
              }
            }
          }
        }
      }
    },
    "/account/profile/update": {
      "post": {
        "summary": "Account Update Profile Details",
        "description": "",
        "tags": [
          "Account"
        ],
        "parameters": [
          {
            "name": "X-API-FakeData",
            "in": "header",
            "required": false,
            "schema": {
              "type": "string",
              "enum": [
                "random"
              ]
            }
          },
          {
            "name": "Authorization",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string",
              "example": "Bearer acd9930fdd15bcea36e6905f2a62d1fdf17bcba1"
            }
          }
        ],
        "requestBody": {
          "description": "Account Update Profile Details",
          "required": false
        },
        "responses": {
          "200": {
            "description": "Success"
          }
        }
      }
    },
    "/account/profile/changepassword": {
      "post": {
        "summary": "Account Update Password",
        "description": "",
        "tags": [
          "Account"
        ],
        "parameters": [
          {
            "name": "X-API-FakeData",
            "in": "header",
            "required": false,
            "schema": {
              "type": "string",
              "enum": [
                "random"
              ]
            }
          },
          {
            "name": "Authorization",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string",
              "example": "Bearer acd9930fdd15bcea36e6905f2a62d1fdf17bcba1"
            }
          }
        ],
        "requestBody": {
          "description": "Account Update Password",
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/Account.AccountUpdatePasswordTask.Request.Schema"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success"
          }
        }
      }
    },
    "/account/address/new": {
      "put": {
        "summary": "Account Add Address",
        "description": "",
        "tags": [
          "Account"
        ],
        "parameters": [
          {
            "name": "X-API-FakeData",
            "in": "header",
            "required": false,
            "schema": {
              "type": "string",
              "enum": [
                "random"
              ]
            }
          },
          {
            "name": "Authorization",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string",
              "example": "Bearer acd9930fdd15bcea36e6905f2a62d1fdf17bcba1"
            }
          }
        ],
        "requestBody": {
          "description": "Account Add Address",
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/Account.AccountAddAddressTask.Request.Schema"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Account.AccountAddAddressTask.Response.Schema"
                }
              }
            }
          }
        }
      }
    },
    "/account/address/update": {
      "post": {
        "summary": "Account Update Address",
        "description": "",
        "tags": [
          "Account"
        ],
        "parameters": [
          {
            "name": "X-API-FakeData",
            "in": "header",
            "required": false,
            "schema": {
              "type": "string",
              "enum": [
                "random"
              ]
            }
          },
          {
            "name": "Authorization",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string",
              "example": "Bearer acd9930fdd15bcea36e6905f2a62d1fdf17bcba1"
            }
          }
        ],
        "requestBody": {
          "description": "Account Update Address",
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/Account.AccountUpdateAddressTask.Request.Schema"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Account.AccountUpdateAddressTask.Response.Schema"
                }
              }
            }
          }
        }
      }
    },
    "/account/address/delete": {
      "delete": {
        "summary": "Account Delete Address",
        "description": "",
        "tags": [
          "Account"
        ],
        "parameters": [
          {
            "name": "X-API-FakeData",
            "in": "header",
            "required": false,
            "schema": {
              "type": "string",
              "enum": [
                "random"
              ]
            }
          },
          {
            "name": "Authorization",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string",
              "example": "Bearer acd9930fdd15bcea36e6905f2a62d1fdf17bcba1"
            }
          }
        ],
        "requestBody": {
          "description": "Account Delete Address",
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/Account.AccountDeleteAddressTask.Request.Schema"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Account.AccountDeleteAddressTask.Response.Schema"
                }
              }
            }
          }
        }
      }
    },
    "/account/address/primary": {
      "post": {
        "summary": "Account Set Primary Address",
        "description": "",
        "tags": [
          "Account"
        ],
        "parameters": [
          {
            "name": "X-API-FakeData",
            "in": "header",
            "required": false,
            "schema": {
              "type": "string",
              "enum": [
                "random"
              ]
            }
          },
          {
            "name": "Authorization",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string",
              "example": "Bearer acd9930fdd15bcea36e6905f2a62d1fdf17bcba1"
            }
          }
        ],
        "requestBody": {
          "description": "Account Set Primary Address",
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/Account.AccountSetPrimaryAddressTask.Request.Schema"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Account.AccountSetPrimaryAddressTask.Response.Schema"
                }
              }
            }
          }
        }
      }
    },
    "/account/address/all": {
      "get": {
        "summary": "Account Get All Addresses",
        "description": "",
        "tags": [
          "Account"
        ],
        "parameters": [
          {
            "name": "X-API-FakeData",
            "in": "header",
            "required": false,
            "schema": {
              "type": "string",
              "enum": [
                "random"
              ]
            }
          },
          {
            "name": "Authorization",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string",
              "example": "Bearer acd9930fdd15bcea36e6905f2a62d1fdf17bcba1"
            }
          }
        ],
        "requestBody": {
          "description": "Account Get All Addresses",
          "required": false
        },
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Account.AccountGetAllAddressesTask.Response.Schema"
                }
              }
            }
          }
        }
      }
    },
    "/account/phone/new": {
      "put": {
        "summary": "Account Add Phone",
        "description": "",
        "tags": [
          "Account"
        ],
        "parameters": [
          {
            "name": "X-API-FakeData",
            "in": "header",
            "required": false,
            "schema": {
              "type": "string",
              "enum": [
                "random"
              ]
            }
          },
          {
            "name": "Authorization",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string",
              "example": "Bearer acd9930fdd15bcea36e6905f2a62d1fdf17bcba1"
            }
          }
        ],
        "requestBody": {
          "description": "Account Add Phone",
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/Account.AccountAddPhoneTask.Request.Schema"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Account.AccountAddPhoneTask.Response.Schema"
                }
              }
            }
          }
        }
      }
    },
    "/account/phone/delete": {
      "delete": {
        "summary": "Account Delete Phone",
        "description": "",
        "tags": [
          "Account"
        ],
        "parameters": [
          {
            "name": "X-API-FakeData",
            "in": "header",
            "required": false,
            "schema": {
              "type": "string",
              "enum": [
                "random"
              ]
            }
          },
          {
            "name": "Authorization",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string",
              "example": "Bearer acd9930fdd15bcea36e6905f2a62d1fdf17bcba1"
            }
          }
        ],
        "requestBody": {
          "description": "Account Delete Phone",
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/Account.AccountDeletePhoneTask.Request.Schema"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Account.AccountDeletePhoneTask.Response.Schema"
                }
              }
            }
          }
        }
      }
    },
    "/account/phone/primary": {
      "post": {
        "summary": "Account Set Primary Phone",
        "description": "",
        "tags": [
          "Account"
        ],
        "parameters": [
          {
            "name": "X-API-FakeData",
            "in": "header",
            "required": false,
            "schema": {
              "type": "string",
              "enum": [
                "random"
              ]
            }
          },
          {
            "name": "Authorization",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string",
              "example": "Bearer acd9930fdd15bcea36e6905f2a62d1fdf17bcba1"
            }
          }
        ],
        "requestBody": {
          "description": "Account Set Primary Phone",
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/Account.AccountSetPrimaryPhoneTask.Request.Schema"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Account.AccountSetPrimaryPhoneTask.Response.Schema"
                }
              }
            }
          }
        }
      }
    },
    "/account/phone/all": {
      "get": {
        "summary": "Account Get All Phones",
        "description": "",
        "tags": [
          "Account"
        ],
        "parameters": [
          {
            "name": "X-API-FakeData",
            "in": "header",
            "required": false,
            "schema": {
              "type": "string",
              "enum": [
                "random"
              ]
            }
          },
          {
            "name": "Authorization",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string",
              "example": "Bearer acd9930fdd15bcea36e6905f2a62d1fdf17bcba1"
            }
          }
        ],
        "requestBody": {
          "description": "Account Get All Phones",
          "required": false
        },
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Account.AccountGetAllPhonesTask.Response.Schema"
                }
              }
            }
          }
        }
      }
    },
    "/restaurant/customer/coverage": {
      "get": {
        "summary": "Restaurant Customer Check Coverage",
        "description": "",
        "tags": [
          "Restaurant"
        ],
        "parameters": [
          {
            "name": "X-API-FakeData",
            "in": "header",
            "required": false,
            "schema": {
              "type": "string",
              "enum": [
                "random"
              ]
            }
          }
        ],
        "requestBody": {
          "description": "Restaurant Customer Check Coverage",
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/Restaurant.Customer.RestaurantCustomerCheckCoverageTask.Request.Schema"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Restaurant.Customer.RestaurantCustomerCheckCoverageTask.Response.Schema"
                }
              }
            }
          }
        }
      }
    },
    "/restaurant/customer/details": {
      "get": {
        "summary": "Restaurant Customer Details",
        "description": "",
        "tags": [
          "Restaurant"
        ],
        "parameters": [
          {
            "name": "X-API-FakeData",
            "in": "header",
            "required": false,
            "schema": {
              "type": "string",
              "enum": [
                "random"
              ]
            }
          }
        ],
        "requestBody": {
          "description": "Restaurant Customer Details",
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/Restaurant.Customer.RestaurantCustomerDetailsTask.Request.Schema"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Restaurant.Customer.RestaurantCustomerDetailsTask.Response.Schema"
                }
              }
            }
          }
        }
      }
    },
    "/restaurant/customer/delays": {
      "get": {
        "summary": "Restaurant Customer Delays",
        "description": "",
        "tags": [
          "Restaurant"
        ],
        "parameters": [
          {
            "name": "X-API-FakeData",
            "in": "header",
            "required": false,
            "schema": {
              "type": "string",
              "enum": [
                "random"
              ]
            }
          }
        ],
        "requestBody": {
          "description": "Restaurant Customer Delays",
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/Restaurant.Customer.RestaurantCustomerDelaysTask.Request.Schema"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Restaurant.Customer.RestaurantCustomerDelaysTask.Response.Schema"
                }
              }
            }
          }
        }
      }
    },
    "/restaurant/customer/status": {
      "get": {
        "summary": "Restaurant Customer Get Status",
        "description": "",
        "tags": [
          "Restaurant"
        ],
        "parameters": [
          {
            "name": "X-API-FakeData",
            "in": "header",
            "required": false,
            "schema": {
              "type": "string",
              "enum": [
                "random"
              ]
            }
          }
        ],
        "requestBody": {
          "description": "Restaurant Customer Get Status",
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/Restaurant.Customer.RestaurantCustomerGetStatusTask.Request.Schema"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Restaurant.Customer.RestaurantCustomerGetStatusTask.Response.Schema"
                }
              }
            }
          }
        }
      }
    },
    "/restaurant/customer/menu/all": {
      "get": {
        "summary": "Restaurant Customer Menus",
        "description": "",
        "tags": [
          "Restaurant"
        ],
        "parameters": [
          {
            "name": "X-API-FakeData",
            "in": "header",
            "required": false,
            "schema": {
              "type": "string",
              "enum": [
                "random"
              ]
            }
          }
        ],
        "requestBody": {
          "description": "Restaurant Customer Menus",
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/Restaurant.Customer.RestaurantCustomerMenusTask.Request.Schema"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Restaurant.Customer.RestaurantCustomerMenusTask.Response.Schema"
                }
              }
            }
          }
        }
      }
    },
    "/restaurant/customer/menu/target": {
      "get": {
        "summary": "Restaurant Customer Target Menu",
        "description": "",
        "tags": [
          "Restaurant"
        ],
        "parameters": [
          {
            "name": "X-API-FakeData",
            "in": "header",
            "required": false,
            "schema": {
              "type": "string",
              "enum": [
                "random"
              ]
            }
          }
        ],
        "requestBody": {
          "description": "Restaurant Customer Target Menu",
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/Restaurant.Customer.RestaurantCustomerTargetMenuTask.Request.Schema"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Restaurant.Customer.RestaurantCustomerTargetMenuTask.Response.Schema"
                }
              }
            }
          }
        }
      }
    },
    "/restaurant/customer/menu/asap": {
      "get": {
        "summary": "Restaurant Customer Asap Menu",
        "description": "",
        "tags": [
          "Restaurant"
        ],
        "parameters": [
          {
            "name": "X-API-FakeData",
            "in": "header",
            "required": false,
            "schema": {
              "type": "string",
              "enum": [
                "random"
              ]
            }
          }
        ],
        "requestBody": {
          "description": "Restaurant Customer Asap Menu",
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/Restaurant.Customer.RestaurantCustomerAsapMenuTask.Request.Schema"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Restaurant.Customer.RestaurantCustomerAsapMenuTask.Response.Schema"
                }
              }
            }
          }
        }
      }
    },
    "/restaurant/customer/cart": {
      "get": {
        "summary": "Restaurant Customer Get Cart",
        "description": "",
        "tags": [
          "Restaurant"
        ],
        "parameters": [
          {
            "name": "X-API-FakeData",
            "in": "header",
            "required": false,
            "schema": {
              "type": "string",
              "enum": [
                "random"
              ]
            }
          },
          {
            "name": "Authorization",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string",
              "example": "Bearer acd9930fdd15bcea36e6905f2a62d1fdf17bcba1"
            }
          }
        ],
        "requestBody": {
          "description": "Restaurant Customer Get Cart",
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/Restaurant.Customer.RestaurantCustomerGetCartTask.Request.Schema"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Restaurant.Customer.RestaurantCustomerGetCartTask.Response.Schema"
                }
              }
            }
          }
        }
      }
    },
    "/restaurant/customer/cart/set": {
      "put": {
        "summary": "Restaurant Customer Set Cart",
        "description": "",
        "tags": [
          "Restaurant"
        ],
        "parameters": [
          {
            "name": "X-API-FakeData",
            "in": "header",
            "required": false,
            "schema": {
              "type": "string",
              "enum": [
                "random"
              ]
            }
          },
          {
            "name": "Authorization",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string",
              "example": "Bearer acd9930fdd15bcea36e6905f2a62d1fdf17bcba1"
            }
          }
        ],
        "requestBody": {
          "description": "Restaurant Customer Set Cart",
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/Restaurant.Customer.RestaurantCustomerSetCartTask.Request.Schema"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Restaurant.Customer.RestaurantCustomerSetCartTask.Response.Schema"
                }
              }
            }
          }
        }
      }
    },
    "/restaurant/customer/cart/reset": {
      "put": {
        "summary": "Restaurant Customer Reset Cart",
        "description": "",
        "tags": [
          "Restaurant"
        ],
        "parameters": [
          {
            "name": "X-API-FakeData",
            "in": "header",
            "required": false,
            "schema": {
              "type": "string",
              "enum": [
                "random"
              ]
            }
          },
          {
            "name": "Authorization",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string",
              "example": "Bearer acd9930fdd15bcea36e6905f2a62d1fdf17bcba1"
            }
          }
        ],
        "requestBody": {
          "description": "Restaurant Customer Reset Cart",
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/Restaurant.Customer.RestaurantCustomerResetCartTask.Request.Schema"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Restaurant.Customer.RestaurantCustomerResetCartTask.Response.Schema"
                }
              }
            }
          }
        }
      }
    },
    "/restaurant/customer/checkout/start": {
      "post": {
        "summary": "Restaurant Customer Checkout Start",
        "description": "",
        "tags": [
          "Restaurant"
        ],
        "parameters": [
          {
            "name": "X-API-FakeData",
            "in": "header",
            "required": false,
            "schema": {
              "type": "string",
              "enum": [
                "random"
              ]
            }
          },
          {
            "name": "Authorization",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string",
              "example": "Bearer acd9930fdd15bcea36e6905f2a62d1fdf17bcba1"
            }
          }
        ],
        "requestBody": {
          "description": "Restaurant Customer Checkout Start",
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/Restaurant.Customer.RestaurantCustomerCheckoutStartTask.Request.Schema"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Restaurant.Customer.RestaurantCustomerCheckoutStartTask.Response.Schema"
                }
              }
            }
          }
        }
      }
    },
    "/restaurant/customer/checkout/end": {
      "post": {
        "summary": "Restaurant Customer Checkout End",
        "description": "",
        "tags": [
          "Restaurant"
        ],
        "parameters": [
          {
            "name": "X-API-FakeData",
            "in": "header",
            "required": false,
            "schema": {
              "type": "string",
              "enum": [
                "random"
              ]
            }
          },
          {
            "name": "Authorization",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string",
              "example": "Bearer acd9930fdd15bcea36e6905f2a62d1fdf17bcba1"
            }
          }
        ],
        "requestBody": {
          "description": "Restaurant Customer Checkout End",
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/Restaurant.Customer.RestaurantCustomerCheckoutEndTask.Request.Schema"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Restaurant.Customer.RestaurantCustomerCheckoutEndTask.Response.Schema"
                }
              }
            }
          }
        }
      }
    },
    "/restaurant/customer/checkout/adjust": {
      "post": {
        "summary": "Restaurant Customer Checkout Adjust",
        "description": "",
        "tags": [
          "Restaurant"
        ],
        "parameters": [
          {
            "name": "X-API-FakeData",
            "in": "header",
            "required": false,
            "schema": {
              "type": "string",
              "enum": [
                "random"
              ]
            }
          },
          {
            "name": "Authorization",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string",
              "example": "Bearer acd9930fdd15bcea36e6905f2a62d1fdf17bcba1"
            }
          }
        ],
        "requestBody": {
          "description": "Restaurant Customer Checkout Adjust",
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/Restaurant.Customer.RestaurantCustomerCheckoutAdjustTask.Request.Schema"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Restaurant.Customer.RestaurantCustomerCheckoutAdjustTask.Response.Schema"
                }
              }
            }
          }
        }
      }
    },
    "/restaurant/customer/order/tracking/{orderId}": {
      "get": {
        "summary": "Restaurant Customer Track Order",
        "description": "",
        "tags": [
          "Restaurant"
        ],
        "parameters": [
          {
            "name": "X-API-FakeData",
            "in": "header",
            "required": false,
            "schema": {
              "type": "string",
              "enum": [
                "random"
              ]
            }
          },
          {
            "name": "Authorization",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string",
              "example": "Bearer acd9930fdd15bcea36e6905f2a62d1fdf17bcba1"
            }
          }
        ],
        "requestBody": {
          "description": "Restaurant Customer Track Order",
          "required": false
        },
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Restaurant.Customer.RestaurantCustomerTrackOrderTask.Response.Schema"
                }
              }
            }
          }
        }
      }
    },
[...]
