{
  "openapi": "3.0.3",
  "info": {
    "title": "Identity Toolkit API",
    "version": "v2",
    "description": "The Google Identity Toolkit API lets you use open standards to verify a user's identity.",
    "x-jentic-source-url": "https://cloud.google.com/identity-platform/docs/reference/rest",
    "contact": {
      "name": "API Support"
    }
  },
  "servers": [
    {
      "url": "https://identitytoolkit.googleapis.com"
    }
  ],
  "paths": {
    "/v2/projects/{projectsId}/config": {
      "get": {
        "operationId": "identitytoolkit_projects_getConfig",
        "summary": "Retrieve an Identity Toolkit project configuration.",
        "description": "Retrieve an Identity Toolkit project configuration.",
        "tags": [
          "Projects"
        ],
        "parameters": [
          {
            "name": "name",
            "in": "path",
            "description": "The resource name of the config, for example: \"projects/my-awesome-project/config\"",
            "required": true,
            "schema": {
              "type": "string",
              "pattern": "^projects/[^/]+/config$"
            }
          },
          {
            "name": "projectsId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GoogleCloudIdentitytoolkitAdminV2Config"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      },
      "patch": {
        "operationId": "identitytoolkit_projects_updateConfig",
        "summary": "Update an Identity Toolkit project configuration.",
        "description": "Update an Identity Toolkit project configuration.",
        "tags": [
          "Projects"
        ],
        "parameters": [
          {
            "name": "name",
            "in": "path",
            "description": "Output only. The name of the Config resource. Example: \"projects/my-awesome-project/config\"",
            "required": true,
            "schema": {
              "type": "string",
              "pattern": "^projects/[^/]+/config$"
            }
          },
          {
            "name": "updateMask",
            "in": "query",
            "description": "The update mask applies to the resource. Fields set in the config but not included in this update mask will be ignored. For the `FieldMask` definition, see https://developers.google.com/protocol-buffers/docs/reference/google.protobuf#fieldmask",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "projectsId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GoogleCloudIdentitytoolkitAdminV2Config"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/GoogleCloudIdentitytoolkitAdminV2Config"
              }
            }
          }
        }
      }
    },
    "/v2/projects/{projectsId}/oauthIdpConfigs/{oauthIdpConfigsId}": {
      "delete": {
        "operationId": "identitytoolkit_projects_oauthIdpConfigs_delete",
        "summary": "Delete an Oidc Idp configuration for an Identity Toolkit project.",
        "description": "Delete an Oidc Idp configuration for an Identity Toolkit project.",
        "tags": [
          "OauthIdpConfigs"
        ],
        "parameters": [
          {
            "name": "name",
            "in": "path",
            "description": "The resource name of the config to be deleted, for example: 'projects/my-awesome-project/oauthIdpConfigs/oauth-config-id'.",
            "required": true,
            "schema": {
              "type": "string",
              "pattern": "^projects/[^/]+/oauthIdpConfigs/[^/]+$"
            }
          },
          {
            "name": "oauthIdpConfigsId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "projectsId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GoogleProtobufEmpty"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      },
      "get": {
        "operationId": "identitytoolkit_projects_oauthIdpConfigs_get",
        "summary": "Retrieve an Oidc Idp configuration for an Identity Toolkit project.",
        "description": "Retrieve an Oidc Idp configuration for an Identity Toolkit project.",
        "tags": [
          "OauthIdpConfigs"
        ],
        "parameters": [
          {
            "name": "name",
            "in": "path",
            "description": "The resource name of the config, for example: 'projects/my-awesome-project/oauthIdpConfigs/oauth-config-id'.",
            "required": true,
            "schema": {
              "type": "string",
              "pattern": "^projects/[^/]+/oauthIdpConfigs/[^/]+$"
            }
          },
          {
            "name": "oauthIdpConfigsId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "projectsId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GoogleCloudIdentitytoolkitAdminV2OAuthIdpConfig"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      },
      "patch": {
        "operationId": "identitytoolkit_projects_oauthIdpConfigs_patch",
        "summary": "Update an Oidc Idp configuration for an Identity Toolkit project.",
        "description": "Update an Oidc Idp configuration for an Identity Toolkit project.",
        "tags": [
          "OauthIdpConfigs"
        ],
        "parameters": [
          {
            "name": "updateMask",
            "in": "query",
            "description": "The update mask applies to the resource. Empty update mask will result in updating nothing. For the `FieldMask` definition, see https://developers.google.com/protocol-buffers/docs/reference/google.protobuf#fieldmask",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "name",
            "in": "path",
            "description": "The name of the OAuthIdpConfig resource, for example: 'projects/my-awesome-project/oauthIdpConfigs/oauth-config-id'. Ignored during create requests.",
            "required": true,
            "schema": {
              "type": "string",
              "pattern": "^projects/[^/]+/oauthIdpConfigs/[^/]+$"
            }
          },
          {
            "name": "oauthIdpConfigsId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "projectsId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GoogleCloudIdentitytoolkitAdminV2OAuthIdpConfig"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/GoogleCloudIdentitytoolkitAdminV2OAuthIdpConfig"
              }
            }
          }
        }
      }
    },
    "/v2/projects/{projectsId}/oauthIdpConfigs": {
      "get": {
        "operationId": "identitytoolkit_projects_oauthIdpConfigs_list",
        "summary": "List all Oidc Idp configurations for an Identity Toolkit project.",
        "description": "List all Oidc Idp configurations for an Identity Toolkit project.",
        "tags": [
          "OauthIdpConfigs"
        ],
        "parameters": [
          {
            "name": "pageSize",
            "in": "query",
            "description": "The maximum number of items to return.",
            "required": false,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "parent",
            "in": "path",
            "description": "The parent resource name, for example, \"projects/my-awesome-project\".",
            "required": true,
            "schema": {
              "type": "string",
              "pattern": "^projects/[^/]+$"
            }
          },
          {
            "name": "pageToken",
            "in": "query",
            "description": "The next_page_token value returned from a previous List request, if any.",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "projectsId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GoogleCloudIdentitytoolkitAdminV2ListOAuthIdpConfigsResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      },
      "post": {
        "operationId": "identitytoolkit_projects_oauthIdpConfigs_create",
        "summary": "Create an Oidc Idp configuration for an Identity Toolkit project.",
        "description": "Create an Oidc Idp configuration for an Identity Toolkit project.",
        "tags": [
          "OauthIdpConfigs"
        ],
        "parameters": [
          {
            "name": "parent",
            "in": "path",
            "description": "The parent resource name where the config to be created, for example: \"projects/my-awesome-project\"",
            "required": true,
            "schema": {
              "type": "string",
              "pattern": "^projects/[^/]+$"
            }
          },
          {
            "name": "oauthIdpConfigId",
            "in": "query",
            "description": "The id to use for this config.",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "projectsId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GoogleCloudIdentitytoolkitAdminV2OAuthIdpConfig"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/GoogleCloudIdentitytoolkitAdminV2OAuthIdpConfig"
              }
            }
          }
        }
      }
    },
    "/v2/projects/{projectsId}/identityPlatform:initializeAuth": {
      "post": {
        "operationId": "identitytoolkit_projects_identityPlatform_initializeAuth",
        "summary": "Initialize Identity Platform for a Cloud project. Identity Platform is an end-to-end authentication system for third-party users to access your apps and services. These could include mobile/web apps, ",
        "description": "Initialize Identity Platform for a Cloud project. Identity Platform is an end-to-end authentication system for third-party users to access your apps and services. These could include mobile/web apps, games, APIs and beyond. This is the publicly available variant of EnableIdentityPlatform that is only available to billing-enabled projects.",
        "tags": [
          "IdentityPlatform"
        ],
        "parameters": [
          {
            "name": "project",
            "in": "path",
            "description": "The resource name of the target project the developer wants to enable Identity Platform for.",
            "required": true,
            "schema": {
              "type": "string",
              "pattern": "^projects/[^/]+$"
            }
          },
          {
            "name": "projectsId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GoogleCloudIdentitytoolkitAdminV2InitializeIdentityPlatformResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/GoogleCloudIdentitytoolkitAdminV2InitializeIdentityPlatformRequest"
              }
            }
          }
        }
      }
    },
    "/v2/projects/{projectsId}/defaultSupportedIdpConfigs/{defaultSupportedIdpConfigsId}": {
      "delete": {
        "operationId": "identitytoolkit_projects_defaultSupportedIdpConfigs_delete",
        "summary": "Delete a default supported Idp configuration for an Identity Toolkit project.",
        "description": "Delete a default supported Idp configuration for an Identity Toolkit project.",
        "tags": [
          "DefaultSupportedIdpConfigs"
        ],
        "parameters": [
          {
            "name": "name",
            "in": "path",
            "description": "The resource name of the config, for example: \"projects/my-awesome-project/defaultSupportedIdpConfigs/google.com\"",
            "required": true,
            "schema": {
              "type": "string",
              "pattern": "^projects/[^/]+/defaultSupportedIdpConfigs/[^/]+$"
            }
          },
          {
            "name": "defaultSupportedIdpConfigsId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "projectsId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GoogleProtobufEmpty"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      },
      "get": {
        "operationId": "identitytoolkit_projects_defaultSupportedIdpConfigs_get",
        "summary": "Retrieve a default supported Idp configuration for an Identity Toolkit project.",
        "description": "Retrieve a default supported Idp configuration for an Identity Toolkit project.",
        "tags": [
          "DefaultSupportedIdpConfigs"
        ],
        "parameters": [
          {
            "name": "name",
            "in": "path",
            "description": "The resource name of the config, for example: \"projects/my-awesome-project/defaultSupportedIdpConfigs/google.com\"",
            "required": true,
            "schema": {
              "type": "string",
              "pattern": "^projects/[^/]+/defaultSupportedIdpConfigs/[^/]+$"
            }
          },
          {
            "name": "defaultSupportedIdpConfigsId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "projectsId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GoogleCloudIdentitytoolkitAdminV2DefaultSupportedIdpConfig"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      },
      "patch": {
        "operationId": "identitytoolkit_projects_defaultSupportedIdpConfigs_patch",
        "summary": "Update a default supported Idp configuration for an Identity Toolkit project.",
        "description": "Update a default supported Idp configuration for an Identity Toolkit project.",
        "tags": [
          "DefaultSupportedIdpConfigs"
        ],
        "parameters": [
          {
            "name": "updateMask",
            "in": "query",
            "description": "The update mask applies to the resource. For the `FieldMask` definition, see https://developers.google.com/protocol-buffers/docs/reference/google.protobuf#fieldmask",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "name",
            "in": "path",
            "description": "The name of the DefaultSupportedIdpConfig resource, for example: \"projects/my-awesome-project/defaultSupportedIdpConfigs/google.com\"",
            "required": true,
            "schema": {
              "type": "string",
              "pattern": "^projects/[^/]+/defaultSupportedIdpConfigs/[^/]+$"
            }
          },
          {
            "name": "defaultSupportedIdpConfigsId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "projectsId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GoogleCloudIdentitytoolkitAdminV2DefaultSupportedIdpConfig"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/GoogleCloudIdentitytoolkitAdminV2DefaultSupportedIdpConfig"
              }
            }
          }
        }
      }
    },
    "/v2/projects/{projectsId}/defaultSupportedIdpConfigs": {
      "get": {
        "operationId": "identitytoolkit_projects_defaultSupportedIdpConfigs_list",
        "summary": "List all default supported Idp configurations for an Identity Toolkit project.",
        "description": "List all default supported Idp configurations for an Identity Toolkit project.",
        "tags": [
          "DefaultSupportedIdpConfigs"
        ],
        "parameters": [
          {
            "name": "parent",
            "in": "path",
            "description": "The parent resource name, for example, \"projects/my-awesome-project\".",
            "required": true,
            "schema": {
              "type": "string",
              "pattern": "^projects/[^/]+$"
            }
          },
          {
            "name": "pageToken",
            "in": "query",
            "description": "The next_page_token value returned from a previous List request, if any.",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "pageSize",
            "in": "query",
            "description": "The maximum number of items to return.",
            "required": false,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "projectsId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GoogleCloudIdentitytoolkitAdminV2ListDefaultSupportedIdpConfigsResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      },
      "post": {
        "operationId": "identitytoolkit_projects_defaultSupportedIdpConfigs_create",
        "summary": "Create a default supported Idp configuration for an Identity Toolkit project.",
        "description": "Create a default supported Idp configuration for an Identity Toolkit project.",
        "tags": [
          "DefaultSupportedIdpConfigs"
        ],
        "parameters": [
          {
            "name": "parent",
            "in": "path",
            "description": "The parent resource name where the config to be created, for example: \"projects/my-awesome-project\"",
            "required": true,
            "schema": {
              "type": "string",
              "pattern": "^projects/[^/]+$"
            }
          },
          {
            "name": "idpId",
            "in": "query",
            "description": "The id of the Idp to create a config for. Call ListDefaultSupportedIdps for list of all default supported Idps.",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "projectsId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GoogleCloudIdentitytoolkitAdminV2DefaultSupportedIdpConfig"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/GoogleCloudIdentitytoolkitAdminV2DefaultSupportedIdpConfig"
              }
            }
          }
        }
      }
    },
    "/v2/projects/{projectsId}/inboundSamlConfigs/{inboundSamlConfigsId}": {
      "delete": {
        "operationId": "identitytoolkit_projects_inboundSamlConfigs_delete",
        "summary": "Delete an inbound SAML configuration for an Identity Toolkit project.",
        "description": "Delete an inbound SAML configuration for an Identity Toolkit project.",
        "tags": [
          "InboundSamlConfigs"
        ],
        "parameters": [
          {
            "name": "name",
            "in": "path",
            "description": "The resource name of the config to be deleted, for example: 'projects/my-awesome-project/inboundSamlConfigs/my-config-id'.",
            "required": true,
            "schema": {
              "type": "string",
              "pattern": "^projects/[^/]+/inboundSamlConfigs/[^/]+$"
            }
          },
          {
            "name": "inboundSamlConfigsId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "projectsId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GoogleProtobufEmpty"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      },
      "get": {
        "operationId": "identitytoolkit_projects_inboundSamlConfigs_get",
        "summary": "Retrieve an inbound SAML configuration for an Identity Toolkit project.",
        "description": "Retrieve an inbound SAML configuration for an Identity Toolkit project.",
        "tags": [
          "InboundSamlConfigs"
        ],
        "parameters": [
          {
            "name": "name",
            "in": "path",
            "description": "The resource name of the config, for example: 'projects/my-awesome-project/inboundSamlConfigs/my-config-id'.",
            "required": true,
            "schema": {
              "type": "string",
              "pattern": "^projects/[^/]+/inboundSamlConfigs/[^/]+$"
            }
          },
          {
            "name": "inboundSamlConfigsId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "projectsId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GoogleCloudIdentitytoolkitAdminV2InboundSamlConfig"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      },
      "patch": {
        "operationId": "identitytoolkit_projects_inboundSamlConfigs_patch",
        "summary": "Update an inbound SAML configuration for an Identity Toolkit project.",
        "description": "Update an inbound SAML configuration for an Identity Toolkit project.",
        "tags": [
          "InboundSamlConfigs"
        ],
        "parameters": [
          {
            "name": "name",
            "in": "path",
            "description": "The name of the InboundSamlConfig resource, for example: 'projects/my-awesome-project/inboundSamlConfigs/my-config-id'. Ignored during create requests.",
            "required": true,
            "schema": {
              "type": "string",
              "pattern": "^projects/[^/]+/inboundSamlConfigs/[^/]+$"
            }
          },
          {
            "name": "updateMask",
            "in": "query",
            "description": "The update mask applies to the resource. Empty update mask will result in updating nothing. For the `FieldMask` definition, see https://developers.google.com/protocol-buffers/docs/reference/google.protobuf#fieldmask",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "inboundSamlConfigsId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "projectsId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GoogleCloudIdentitytoolkitAdminV2InboundSamlConfig"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/GoogleCloudIdentitytoolkitAdminV2InboundSamlConfig"
              }
            }
          }
        }
      }
    },
    "/v2/projects/{projectsId}/inboundSamlConfigs": {
      "get": {
        "operationId": "identitytoolkit_projects_inboundSamlConfigs_list",
        "summary": "List all inbound SAML configurations for an Identity Toolkit project.",
        "description": "List all inbound SAML configurations for an Identity Toolkit project.",
        "tags": [
          "InboundSamlConfigs"
        ],
        "parameters": [
          {
            "name": "pageSize",
            "in": "query",
            "description": "The maximum number of items to return.",
            "required": false,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "pageToken",
            "in": "query",
            "description": "The next_page_token value returned from a previous List request, if any.",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "parent",
            "in": "path",
            "description": "The parent resource name, for example, \"projects/my-awesome-project\".",
            "required": true,
            "schema": {
              "type": "string",
              "pattern": "^projects/[^/]+$"
            }
          },
          {
            "name": "projectsId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GoogleCloudIdentitytoolkitAdminV2ListInboundSamlConfigsResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      },
      "post": {
        "operationId": "identitytoolkit_projects_inboundSamlConfigs_create",
        "summary": "Create an inbound SAML configuration for an Identity Toolkit project.",
        "description": "Create an inbound SAML configuration for an Identity Toolkit project.",
        "tags": [
          "InboundSamlConfigs"
        ],
        "parameters": [
          {
            "name": "parent",
            "in": "path",
            "description": "The parent resource name where the config to be created, for example: \"projects/my-awesome-project\"",
            "required": true,
            "schema": {
              "type": "string",
              "pattern": "^projects/[^/]+$"
            }
          },
          {
            "name": "inboundSamlConfigId",
            "in": "query",
            "description": "The id to use for this config.",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "projectsId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GoogleCloudIdentitytoolkitAdminV2InboundSamlConfig"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/GoogleCloudIdentitytoolkitAdminV2InboundSamlConfig"
              }
            }
          }
        }
      }
    },
    "/v2/projects/{projectsId}/tenants/{tenantsId}:testIamPermissions": {
      "post": {
        "operationId": "identitytoolkit_projects_tenants_testIamPermissions",
        "summary": "Returns the caller's permissions on a resource. An error is returned if the resource does not exist. A caller is not required to have Google IAM permission to make this request.",
        "description": "Returns the caller's permissions on a resource. An error is returned if the resource does not exist. A caller is not required to have Google IAM permission to make this request.",
        "tags": [
          "Tenants"
        ],
        "parameters": [
          {
            "name": "resource",
            "in": "path",
            "description": "REQUIRED: The resource for which the policy detail is being requested. See [Resource names](https://cloud.google.com/apis/design/resource_names) for the appropriate value for this field.",
            "required": true,
            "schema": {
              "type": "string",
              "pattern": "^projects/[^/]+/tenants/[^/]+$"
            }
          },
          {
            "name": "tenantsId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "projectsId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GoogleIamV1TestIamPermissionsResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/GoogleIamV1TestIamPermissionsRequest"
              }
            }
          }
        }
      }
    },
    "/v2/projects/{projectsId}/tenants/{tenantsId}": {
      "get": {
        "operationId": "identitytoolkit_projects_tenants_get",
        "summary": "Get a tenant. Requires read permission on the Tenant resource.",
        "description": "Get a tenant. Requires read permission on the Tenant resource.",
        "tags": [
          "Tenants"
        ],
        "parameters": [
          {
            "name": "name",
            "in": "path",
            "description": "Resource name of the tenant to retrieve.",
            "required": true,
            "schema": {
              "type": "string",
              "pattern": "^projects/[^/]+/tenants/[^/]+$"
            }
          },
          {
            "name": "tenantsId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "projectsId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GoogleCloudIdentitytoolkitAdminV2Tenant"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      },
      "patch": {
        "operationId": "identitytoolkit_projects_tenants_patch",
        "summary": "Update a tenant. Requires write permission on the Tenant resource.",
        "description": "Update a tenant. Requires write permission on the Tenant resource.",
        "tags": [
          "Tenants"
        ],
        "parameters": [
          {
            "name": "updateMask",
            "in": "query",
            "description": "If provided, only update fields set in the update mask. Otherwise, all settable fields will be updated. For the `FieldMask` definition, see https://developers.google.com/protocol-buffers/docs/reference/google.protobuf#fieldmask",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "name",
            "in": "path",
            "description": "Output only. Resource name of a tenant. For example: \"projects/{project-id}/tenants/{tenant-id}\"",
            "required": true,
            "schema": {
              "type": "string",
              "pattern": "^projects/[^/]+/tenants/[^/]+$"
            }
          },
          {
            "name": "tenantsId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "projectsId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GoogleCloudIdentitytoolkitAdminV2Tenant"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/GoogleCloudIdentitytoolkitAdminV2Tenant"
              }
            }
          }
        }
      },
      "delete": {
        "operationId": "identitytoolkit_projects_tenants_delete",
        "summary": "Delete a tenant. Requires write permission on the Agent project.",
        "description": "Delete a tenant. Requires write permission on the Agent project.",
        "tags": [
          "Tenants"
        ],
        "parameters": [
          {
            "name": "name",
            "in": "path",
            "description": "Resource name of the tenant to delete.",
            "required": true,
            "schema": {
              "type": "string",
              "pattern": "^projects/[^/]+/tenants/[^/]+$"
            }
          },
          {
            "name": "tenantsId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "projectsId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GoogleProtobufEmpty"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/v2/projects/{projectsId}/tenants/{tenantsId}:getIamPolicy": {
      "post": {
        "operationId": "identitytoolkit_projects_tenants_getIamPolicy",
        "summary": "Gets the access control policy for a resource. An error is returned if the resource does not exist. An empty policy is returned if the resource exists but does not have a policy set on it. Caller must",
        "description": "Gets the access control policy for a resource. An error is returned if the resource does not exist. An empty policy is returned if the resource exists but does not have a policy set on it. Caller must have the right Google IAM permission on the resource.",
        "tags": [
          "Tenants"
        ],
        "parameters": [
          {
            "name": "resource",
            "in": "path",
            "description": "REQUIRED: The resource for which the policy is being requested. See [Resource names](https://cloud.google.com/apis/design/resource_names) for the appropriate value for this field.",
            "required": true,
            "schema": {
              "type": "string",
              "pattern": "^projects/[^/]+/tenants/[^/]+$"
            }
          },
          {
            "name": "tenantsId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "projectsId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GoogleIamV1Policy"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/GoogleIamV1GetIamPolicyRequest"
              }
            }
          }
        }
      }
    },
    "/v2/projects/{projectsId}/tenants": {
      "post": {
        "operationId": "identitytoolkit_projects_tenants_create",
        "summary": "Create a tenant. Requires write permission on the Agent project.",
        "description": "Create a tenant. Requires write permission on the Agent project.",
        "tags": [
          "Tenants"
        ],
        "parameters": [
          {
            "name": "parent",
            "in": "path",
            "description": "The parent resource name where the tenant will be created. For example, \"projects/project1\".",
            "required": true,
            "schema": {
              "type": "string",
              "pattern": "^projects/[^/]+$"
            }
          },
          {
            "name": "projectsId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GoogleCloudIdentitytoolkitAdminV2Tenant"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/GoogleCloudIdentitytoolkitAdminV2Tenant"
              }
            }
          }
        }
      },
      "get": {
        "operationId": "identitytoolkit_projects_tenants_list",
        "summary": "List tenants under the given agent project. Requires read permission on the Agent project.",
        "description": "List tenants under the given agent project. Requires read permission on the Agent project.",
        "tags": [
          "Tenants"
        ],
        "parameters": [
          {
            "name": "pageSize",
            "in": "query",
            "description": "The maximum number of results to return, capped at 1000. If not specified, the default value is 20.",
            "required": false,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "pageToken",
            "in": "query",
            "description": "The pagination token from the response of a previous request.",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "parent",
            "in": "path",
            "description": "Required. The parent resource name to list tenants for.",
            "required": true,
            "schema": {
              "type": "string",
              "pattern": "^projects/[^/]+$"
            }
          },
          {
            "name": "projectsId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GoogleCloudIdentitytoolkitAdminV2ListTenantsResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/v2/projects/{projectsId}/tenants/{tenantsId}:setIamPolicy": {
      "post": {
        "operationId": "identitytoolkit_projects_tenants_setIamPolicy",
        "summary": "Sets the access control policy for a resource. If the policy exists, it is replaced. Caller must have the right Google IAM permission on the resource.",
        "description": "Sets the access control policy for a resource. If the policy exists, it is replaced. Caller must have the right Google IAM permission on the resource.",
        "tags": [
          "Tenants"
        ],
        "parameters": [
          {
            "name": "resource",
            "in": "path",
            "description": "REQUIRED: The resource for which the policy is being specified. See [Resource names](https://cloud.google.com/apis/design/resource_names) for the appropriate value for this field.",
            "required": true,
            "schema": {
              "type": "string",
              "pattern": "^projects/[^/]+/tenants/[^/]+$"
            }
          },
          {
            "name": "tenantsId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "projectsId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GoogleIamV1Policy"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/GoogleIamV1SetIamPolicyRequest"
              }
            }
          }
        }
      }
    },
    "/v2/projects/{projectsId}/tenants/{tenantsId}/defaultSupportedIdpConfigs/{defaultSupportedIdpConfigsId}": {
      "get": {
        "operationId": "identitytoolkit_projects_tenants_defaultSupportedIdpConfigs_get",
        "summary": "Retrieve a default supported Idp configuration for an Identity Toolkit project.",
        "description": "Retrieve a default supported Idp configuration for an Identity Toolkit project.",
        "tags": [
          "DefaultSupportedIdpConfigs"
        ],
        "parameters": [
          {
            "name": "name",
            "in": "path",
            "description": "The resource name of the config, for example: \"projects/my-awesome-project/defaultSupportedIdpConfigs/google.com\"",
            "required": true,
            "schema": {
              "type": "string",
              "pattern": "^projects/[^/]+/tenants/[^/]+/defaultSupportedIdpConfigs/[^/]+$"
            }
          },
          {
            "name": "defaultSupportedIdpConfigsId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "tenantsId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "projectsId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GoogleCloudIdentitytoolkitAdminV2DefaultSupportedIdpConfig"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      },
      "patch": {
        "operationId": "identitytoolkit_projects_tenants_defaultSupportedIdpConfigs_patch",
        "summary": "Update a default supported Idp configuration for an Identity Toolkit project.",
        "description": "Update a default supported Idp configuration for an Identity Toolkit project.",
        "tags": [
          "DefaultSupportedIdpConfigs"
        ],
        "parameters": [
          {
            "name": "name",
            "in": "path",
            "description": "The name of the DefaultSupportedIdpConfig resource, for example: \"projects/my-awesome-project/defaultSupportedIdpConfigs/google.com\"",
            "required": true,
            "schema": {
              "type": "string",
              "pattern": "^projects/[^/]+/tenants/[^/]+/defaultSupportedIdpConfigs/[^/]+$"
            }
          },
          {
            "name": "updateMask",
            "in": "query",
            "description": "The update mask applies to the resource. For the `FieldMask` definition, see https://developers.google.com/protocol-buffers/docs/reference/google.protobuf#fieldmask",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "defaultSupportedIdpConfigsId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "tenantsId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "projectsId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GoogleCloudIdentitytoolkitAdminV2DefaultSupportedIdpConfig"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/GoogleCloudIdentitytoolkitAdminV2DefaultSupportedIdpConfig"
              }
            }
          }
        }
      },
      "delete": {
        "operationId": "identitytoolkit_projects_tenants_defaultSupportedIdpConfigs_delete",
        "summary": "Delete a default supported Idp configuration for an Identity Toolkit project.",
        "description": "Delete a default supported Idp configuration for an Identity Toolkit project.",
        "tags": [
          "DefaultSupportedIdpConfigs"
        ],
        "parameters": [
          {
            "name": "name",
            "in": "path",
            "description": "The resource name of the config, for example: \"projects/my-awesome-project/defaultSupportedIdpConfigs/google.com\"",
            "required": true,
            "schema": {
              "type": "string",
              "pattern": "^projects/[^/]+/tenants/[^/]+/defaultSupportedIdpConfigs/[^/]+$"
            }
          },
          {
            "name": "defaultSupportedIdpConfigsId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "tenantsId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "projectsId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GoogleProtobufEmpty"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/v2/projects/{projectsId}/tenants/{tenantsId}/defaultSupportedIdpConfigs": {
      "post": {
        "operationId": "identitytoolkit_projects_tenants_defaultSupportedIdpConfigs_create",
        "summary": "Create a default supported Idp configuration for an Identity Toolkit project.",
        "description": "Create a default supported Idp configuration for an Identity Toolkit project.",
        "tags": [
          "DefaultSupportedIdpConfigs"
        ],
        "parameters": [
          {
            "name": "idpId",
            "in": "query",
            "description": "The id of the Idp to create a config for. Call ListDefaultSupportedIdps for list of all default supported Idps.",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "parent",
            "in": "path",
            "description": "The parent resource name where the config to be created, for example: \"projects/my-awesome-project\"",
            "required": true,
            "schema": {
              "type": "string",
              "pattern": "^projects/[^/]+/tenants/[^/]+$"
            }
          },
          {
            "name": "tenantsId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "projectsId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GoogleCloudIdentitytoolkitAdminV2DefaultSupportedIdpConfig"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/GoogleCloudIdentitytoolkitAdminV2DefaultSupportedIdpConfig"
              }
            }
          }
        }
      },
      "get": {
        "operationId": "identitytoolkit_projects_tenants_defaultSupportedIdpConfigs_list",
        "summary": "List all default supported Idp configurations for an Identity Toolkit project.",
        "description": "List all default supported Idp configurations for an Identity Toolkit project.",
        "tags": [
          "DefaultSupportedIdpConfigs"
        ],
        "parameters": [
          {
            "name": "pageSize",
            "in": "query",
            "description": "The maximum number of items to return.",
            "required": false,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "pageToken",
            "in": "query",
            "description": "The next_page_token value returned from a previous List request, if any.",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "parent",
            "in": "path",
            "description": "The parent resource name, for example, \"projects/my-awesome-project\".",
            "required": true,
            "schema": {
              "type": "string",
              "pattern": "^projects/[^/]+/tenants/[^/]+$"
            }
          },
          {
            "name": "tenantsId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "projectsId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GoogleCloudIdentitytoolkitAdminV2ListDefaultSupportedIdpConfigsResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/v2/projects/{projectsId}/tenants/{tenantsId}/inboundSamlConfigs": {
      "get": {
        "operationId": "identitytoolkit_projects_tenants_inboundSamlConfigs_list",
        "summary": "List all inbound SAML configurations for an Identity Toolkit project.",
        "description": "List all inbound SAML configurations for an Identity Toolkit project.",
        "tags": [
          "InboundSamlConfigs"
        ],
        "parameters": [
          {
            "name": "pageToken",
            "in": "query",
            "description": "The next_page_token value returned from a previous List request, if any.",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "parent",
            "in": "path",
            "description": "The parent resource name, for example, \"projects/my-awesome-project\".",
            "required": true,
            "schema": {
              "type": "string",
              "pattern": "^projects/[^/]+/tenants/[^/]+$"
            }
          },
          {
            "name": "pageSize",
            "in": "query",
            "description": "The maximum number of items to return.",
            "required": false,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "tenantsId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "projectsId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GoogleCloudIdentitytoolkitAdminV2ListInboundSamlConfigsResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      },
      "post": {
        "operationId": "identitytoolkit_projects_tenants_inboundSamlConfigs_create",
        "summary": "Create an inbound SAML configuration for an Identity Toolkit project.",
        "description": "Create an inbound SAML configuration for an Identity Toolkit project.",
        "tags": [
          "InboundSamlConfigs"
        ],
        "parameters": [
          {
            "name": "parent",
            "in": "path",
            "description": "The parent resource name where the config to be created, for example: \"projects/my-awesome-project\"",
            "required": true,
            "schema": {
              "type": "string",
              "pattern": "^projects/[^/]+/tenants/[^/]+$"
            }
          },
          {
            "name": "inboundSamlConfigId",
            "in": "query",
            "description": "The id to use for this config.",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "tenantsId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "projectsId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GoogleCloudIdentitytoolkitAdminV2InboundSamlConfig"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/GoogleCloudIdentitytoolkitAdminV2InboundSamlConfig"
              }
            }
          }
        }
      }
    },
    "/v2/projects/{projectsId}/tenants/{tenantsId}/inboundSamlConfigs/{inboundSamlConfigsId}": {
      "delete": {
        "operationId": "identitytoolkit_projects_tenants_inboundSamlConfigs_delete",
        "summary": "Delete an inbound SAML configuration for an Identity Toolkit project.",
        "description": "Delete an inbound SAML configuration for an Identity Toolkit project.",
        "tags": [
          "InboundSamlConfigs"
        ],
        "parameters": [
          {
            "name": "name",
            "in": "path",
            "description": "The resource name of the config to be deleted, for example: 'projects/my-awesome-project/inboundSamlConfigs/my-config-id'.",
            "required": true,
            "schema": {
              "type": "string",
              "pattern": "^projects/[^/]+/tenants/[^/]+/inboundSamlConfigs/[^/]+$"
            }
          },
          {
            "name": "inboundSamlConfigsId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "tenantsId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "projectsId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GoogleProtobufEmpty"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      },
      "patch": {
        "operationId": "identitytoolkit_projects_tenants_inboundSamlConfigs_patch",
        "summary": "Update an inbound SAML configuration for an Identity Toolkit project.",
        "description": "Update an inbound SAML configuration for an Identity Toolkit project.",
        "tags": [
          "InboundSamlConfigs"
        ],
        "parameters": [
          {
            "name": "updateMask",
            "in": "query",
            "description": "The update mask applies to the resource. Empty update mask will result in updating nothing. For the `FieldMask` definition, see https://developers.google.com/protocol-buffers/docs/reference/google.protobuf#fieldmask",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "name",
            "in": "path",
            "description": "The name of the InboundSamlConfig resource, for example: 'projects/my-awesome-project/inboundSamlConfigs/my-config-id'. Ignored during create requests.",
            "required": true,
            "schema": {
              "type": "string",
              "pattern": "^projects/[^/]+/tenants/[^/]+/inboundSamlConfigs/[^/]+$"
            }
          },
          {
            "name": "inboundSamlConfigsId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "tenantsId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "projectsId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GoogleCloudIdentitytoolkitAdminV2InboundSamlConfig"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/GoogleCloudIdentitytoolkitAdminV2InboundSamlConfig"
              }
            }
          }
        }
      },
      "get": {
        "operationId": "identitytoolkit_projects_tenants_inboundSamlConfigs_get",
        "summary": "Retrieve an inbound SAML configuration for an Identity Toolkit project.",
        "description": "Retrieve an inbound SAML configuration for an Identity Toolkit project.",
        "tags": [
          "InboundSamlConfigs"
        ],
        "parameters": [
          {
            "name": "name",
            "in": "path",
            "description": "The resource name of the config, for example: 'projects/my-awesome-project/inboundSamlConfigs/my-config-id'.",
            "required": true,
            "schema": {
              "type": "string",
              "pattern": "^projects/[^/]+/tenants/[^/]+/inboundSamlConfigs/[^/]+$"
            }
          },
          {
            "name": "inboundSamlConfigsId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "tenantsId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "projectsId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GoogleCloudIdentitytoolkitAdminV2InboundSamlConfig"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/v2/projects/{projectsId}/tenants/{tenantsId}/oauthIdpConfigs/{oauthIdpConfigsId}": {
      "get": {
        "operationId": "identitytoolkit_projects_tenants_oauthIdpConfigs_get",
        "summary": "Retrieve an Oidc Idp configuration for an Identity Toolkit project.",
        "description": "Retrieve an Oidc Idp configuration for an Identity Toolkit project.",
        "tags": [
          "OauthIdpConfigs"
        ],
        "parameters": [
          {
            "name": "name",
            "in": "path",
            "description": "The resource name of the config, for example: 'projects/my-awesome-project/oauthIdpConfigs/oauth-config-id'.",
            "required": true,
            "schema": {
              "type": "string",
              "pattern": "^projects/[^/]+/tenants/[^/]+/oauthIdpConfigs/[^/]+$"
            }
          },
          {
            "name": "oauthIdpConfigsId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "tenantsId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "projectsId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GoogleCloudIdentitytoolkitAdminV2OAuthIdpConfig"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      },
      "patch": {
        "operationId": "identitytoolkit_projects_tenants_oauthIdpConfigs_patch",
        "summary": "Update an Oidc Idp configuration for an Identity Toolkit project.",
        "description": "Update an Oidc Idp configuration for an Identity Toolkit project.",
        "tags": [
          "OauthIdpConfigs"
        ],
        "parameters": [
          {
            "name": "name",
            "in": "path",
            "description": "The name of the OAuthIdpConfig resource, for example: 'projects/my-awesome-project/oauthIdpConfigs/oauth-config-id'. Ignored during create requests.",
            "required": true,
            "schema": {
              "type": "string",
              "pattern": "^projects/[^/]+/tenants/[^/]+/oauthIdpConfigs/[^/]+$"
            }
          },
          {
            "name": "updateMask",
            "in": "query",
            "description": "The update mask applies to the resource. Empty update mask will result in updating nothing. For the `FieldMask` definition, see https://developers.google.com/protocol-buffers/docs/reference/google.protobuf#fieldmask",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "oauthIdpConfigsId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "tenantsId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "projectsId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GoogleCloudIdentitytoolkitAdminV2OAuthIdpConfig"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/GoogleCloudIdentitytoolkitAdminV2OAuthIdpConfig"
              }
            }
          }
        }
      },
      "delete": {
        "operationId": "identitytoolkit_projects_tenants_oauthIdpConfigs_delete",
        "summary": "Delete an Oidc Idp configuration for an Identity Toolkit project.",
        "description": "Delete an Oidc Idp configuration for an Identity Toolkit project.",
        "tags": [
          "OauthIdpConfigs"
        ],
        "parameters": [
          {
            "name": "name",
            "in": "path",
            "description": "The resource name of the config to be deleted, for example: 'projects/my-awesome-project/oauthIdpConfigs/oauth-config-id'.",
            "required": true,
            "schema": {
              "type": "string",
              "pattern": "^projects/[^/]+/tenants/[^/]+/oauthIdpConfigs/[^/]+$"
            }
          },
          {
            "name": "oauthIdpConfigsId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "tenantsId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "projectsId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GoogleProtobufEmpty"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/v2/projects/{projectsId}/tenants/{tenantsId}/oauthIdpConfigs": {
      "post": {
        "operationId": "identitytoolkit_projects_tenants_oauthIdpConfigs_create",
        "summary": "Create an Oidc Idp configuration for an Identity Toolkit project.",
        "description": "Create an Oidc Idp configuration for an Identity Toolkit project.",
        "tags": [
          "OauthIdpConfigs"
        ],
        "parameters": [
          {
            "name": "oauthIdpConfigId",
            "in": "query",
            "description": "The id to use for this config.",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "parent",
            "in": "path",
            "description": "The parent resource name where the config to be created, for example: \"projects/my-awesome-project\"",
            "required": true,
            "schema": {
              "type": "string",
              "pattern": "^projects/[^/]+/tenants/[^/]+$"
            }
          },
          {
            "name": "tenantsId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "projectsId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GoogleCloudIdentitytoolkitAdminV2OAuthIdpConfig"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/GoogleCloudIdentitytoolkitAdminV2OAuthIdpConfig"
              }
            }
          }
        }
      },
      "get": {
        "operationId": "identitytoolkit_projects_tenants_oauthIdpConfigs_list",
        "summary": "List all Oidc Idp configurations for an Identity Toolkit project.",
        "description": "List all Oidc Idp configurations for an Identity Toolkit project.",
        "tags": [
          "OauthIdpConfigs"
        ],
        "parameters": [
          {
            "name": "pageSize",
            "in": "query",
            "description": "The maximum number of items to return.",
            "required": false,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "pageToken",
            "in": "query",
            "description": "The next_page_token value returned from a previous List request, if any.",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "parent",
            "in": "path",
            "description": "The parent resource name, for example, \"projects/my-awesome-project\".",
            "required": true,
            "schema": {
              "type": "string",
              "pattern": "^projects/[^/]+/tenants/[^/]+$"
            }
          },
          {
            "name": "tenantsId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "projectsId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GoogleCloudIdentitytoolkitAdminV2ListOAuthIdpConfigsResponse"
                }
              }
            }
          },
[...]
