{
  "openapi": "3.0.3",
  "info": {
    "title": "Pagos360 API",
    "version": "1.0.0",
    "x-jentic-source-url": "https://api.swaggerhub.com/apis/liberagroup/pagos360-api/1.0.0"
  },
  "servers": [
    {
      "url": "http://avis.cuatrolados.cloud/pagos360/api"
    }
  ],
  "paths": {
    "/adhesiones": {
      "post": {
        "summary": "Crear adhesi\u00f3n",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/AdhesionCreateRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK"
          }
        }
      },
      "get": {
        "summary": "Consultar adhesi\u00f3n",
        "parameters": [
          {
            "in": "query",
            "name": "metodo",
            "required": true,
            "schema": {
              "type": "string",
              "enum": [
                "cbu",
                "card"
              ]
            }
          },
          {
            "in": "query",
            "name": "id",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          }
        }
      }
    },
    "/adhesiones/cancelar": {
      "post": {
        "summary": "Cancelar adhesi\u00f3n",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/AdhesionCancelRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK"
          }
        }
      }
    },
    "/debitos": {
      "post": {
        "summary": "Crear d\u00e9bito",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/DebitCreateRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK"
          }
        }
      },
      "get": {
        "summary": "Consultar d\u00e9bito",
        "parameters": [
          {
            "in": "query",
            "name": "metodo",
            "required": true,
            "schema": {
              "type": "string",
              "enum": [
                "cbu",
                "card"
              ]
            }
          },
          {
            "in": "query",
            "name": "id",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          }
        }
      }
    },
    "/debitos/cancelar": {
      "post": {
        "summary": "Cancelar d\u00e9bito",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/DebitCancelRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK"
          }
        }
      }
    },
    "/debitos/proximo-habil": {
      "get": {
        "summary": "Consultar pr\u00f3ximo d\u00eda h\u00e1bil (CBU)",
        "parameters": [
          {
            "in": "query",
            "name": "id",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          }
        }
      }
    },
    "/adhesion-debito": {
      "post": {
        "summary": "Crear adhesi\u00f3n y d\u00e9bito en un solo llamado",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/AdhesionDebitRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK"
          }
        }
      }
    },
    "/webhook": {
      "post": {
        "summary": "Webhook Pagos360",
        "parameters": [
          {
            "in": "header",
            "name": "X-Pagos360-Signature",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK"
          }
        }
      }
    },
    "/requeridos": {
      "get": {
        "summary": "Campos requeridos por servicio",
        "responses": {
          "200": {
            "description": "OK"
          }
        }
      }
    }
  },
  "components": {
    "schemas": {
      "AdhesionCreateRequest": {
        "type": "object",
        "required": [
          "metodo",
          "data"
        ],
        "properties": {
          "metodo": {
            "type": "string",
            "enum": [
              "cbu",
              "card"
            ]
          },
          "data": {
            "type": "object",
            "description": "CBU: cliente_id, cbu, razon_social, cuit\nCard: cliente_id, tarjeta, vencimiento, titular, dni\n"
          }
        }
      },
      "AdhesionCancelRequest": {
        "type": "object",
        "required": [
          "metodo",
          "id"
        ],
        "properties": {
          "metodo": {
            "type": "string",
            "enum": [
              "cbu",
              "card"
            ]
          },
          "id": {
            "type": "string"
          }
        }
      },
      "DebitCreateRequest": {
        "type": "object",
        "required": [
          "metodo",
          "data"
        ],
        "properties": {
          "metodo": {
            "type": "string",
            "enum": [
              "cbu",
              "card"
            ]
          },
          "data": {
            "type": "object",
            "description": "D\u00e9bito: adhesion_id, monto, fecha_debito\nSuscripci\u00f3n: adhesion_id, monto, periodicidad\n"
          }
        }
      },
      "DebitCancelRequest": {
        "type": "object",
        "required": [
          "metodo",
          "id"
        ],
        "properties": {
          "metodo": {
            "type": "string",
            "enum": [
              "cbu",
              "card"
            ]
          },
          "id": {
            "type": "string"
          }
        }
      },
      "AdhesionDebitRequest": {
        "type": "object",
        "required": [
          "metodo",
          "adhesion",
          "debit"
        ],
        "properties": {
          "metodo": {
            "type": "string",
            "enum": [
              "cbu",
              "card"
            ]
          },
          "adhesion": {
            "type": "object",
            "description": "Campos de adhesi\u00f3n seg\u00fan m\u00e9todo"
          },
          "debit": {
            "type": "object",
            "description": "Campos de d\u00e9bito o suscripci\u00f3n seg\u00fan configuraci\u00f3n"
          }
        }
      }
    }
  }
}