{
  "openapi": "3.0.3",
  "info": {
    "title": "Carti",
    "version": "1.0.0",
    "contact": {},
    "x-jentic-source-url": "https://api.swaggerhub.com/apis/SANAMOUSA96/carti/1.0.0"
  },
  "servers": [
    {
      "url": "https://www.cartiapp.com"
    }
  ],
  "paths": {
    "/": {
      "post": {
        "summary": "https://www.cartiapp.com/api/v1/client/register",
        "description": "https://www.cartiapp.com/api/v1/client/register",
        "operationId": "httpsWwwCartiappComApiV1ClientRegister",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "mobile": {
                    "type": "string",
                    "example": "0598888888"
                  },
                  "name": {
                    "type": "string",
                    "example": "Sana"
                  },
                  "password": {
                    "type": "string",
                    "example": "88888888"
                  },
                  "password_confirmation": {
                    "type": "string",
                    "example": "88888888"
                  },
                  "type": {
                    "type": "string",
                    "example": "personal"
                  }
                }
              },
              "examples": {
                "https://www.cartiapp.com/api/v1/client/register": {
                  "value": {
                    "mobile": "0598888888",
                    "name": "Sana",
                    "password": "88888888",
                    "password_confirmation": "88888888",
                    "type": "personal"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": ""
          }
        }
      }
    },
    "/api/v1/client/login": {
      "post": {
        "summary": "https://www.cartiapp.com/api/v1/client/login",
        "description": "https://www.cartiapp.com/api/v1/client/login",
        "operationId": "httpsWwwCartiappComApiV1ClientLogin",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "mobile": {
                    "type": "string",
                    "example": "0598888888"
                  },
                  "password": {
                    "type": "string",
                    "example": "88888888"
                  }
                }
              },
              "examples": {
                "https://www.cartiapp.com/api/v1/client/login": {
                  "value": {
                    "mobile": "0598888888",
                    "password": "88888888"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": ""
          }
        }
      }
    },
    "/api/v1/client/activate": {
      "post": {
        "summary": "https://www.cartiapp.com/api/v1/client/activate",
        "description": "https://www.cartiapp.com/api/v1/client/activate",
        "operationId": "httpsWwwCartiappComApiV1ClientActivate",
        "requestBody": {
          "content": {
            "application/json": {
              "examples": {
                "https://www.cartiapp.com/api/v1/client/activate": {
                  "value": ""
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": ""
          }
        }
      }
    }
  },
  "tags": []
}