{
  "openapi": "3.0.3",
  "info": {
    "title": "NASA EPIC - Earth Polychromatic Imaging Camera API",
    "description": "The EPIC API provides metadata and imagery from NASA's DSCOVR satellite's Earth Polychromatic Imaging Camera. Offers natural color, enhanced color, aerosol, and cloud imagery of the full sunlit side of Earth.",
    "version": "1.0.0",
    "contact": {
      "name": "NASA EPIC",
      "url": "https://epic.gsfc.nasa.gov"
    },
    "x-jentic-source-url": "https://epic.gsfc.nasa.gov/about/api",
    "x-provenance": "jentic-generated"
  },
  "servers": [
    {
      "url": "https://epic.gsfc.nasa.gov",
      "description": "NASA EPIC API server"
    }
  ],
  "paths": {
    "/api/natural": {
      "get": {
        "operationId": "getLatestNaturalImages",
        "summary": "Get most recent natural color imagery metadata",
        "description": "Returns metadata for the most recent available natural color EPIC images.",
        "responses": {
          "200": {
            "description": "Array of image metadata",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/ImageMetadata"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/api/natural/date/{date}": {
      "get": {
        "operationId": "getNaturalImagesByDate",
        "summary": "Get natural color imagery for a specific date",
        "description": "Returns metadata for all natural color EPIC images taken on the specified date.",
        "parameters": [
          {
            "name": "date",
            "in": "path",
            "required": true,
            "description": "Date in YYYY-MM-DD format",
            "schema": {
              "type": "string",
              "format": "date"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Array of image metadata for the date",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/ImageMetadata"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/api/natural/all": {
      "get": {
        "operationId": "getAllNaturalDates",
        "summary": "List all dates with natural color imagery",
        "description": "Returns a list of all dates for which natural color EPIC imagery is available.",
        "responses": {
          "200": {
            "description": "Array of available dates",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "date": {
                        "type": "string"
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/api/enhanced": {
      "get": {
        "operationId": "getLatestEnhancedImages",
        "summary": "Get most recent enhanced color imagery metadata",
        "description": "Returns metadata for the most recent available enhanced color EPIC images.",
        "responses": {
          "200": {
            "description": "Array of enhanced image metadata",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/ImageMetadata"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/api/enhanced/date/{date}": {
      "get": {
        "operationId": "getEnhancedImagesByDate",
        "summary": "Get enhanced color imagery for a specific date",
        "parameters": [
          {
            "name": "date",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "date"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Array of enhanced image metadata",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/ImageMetadata"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/api/enhanced/all": {
      "get": {
        "operationId": "getAllEnhancedDates",
        "summary": "List all dates with enhanced color imagery",
        "responses": {
          "200": {
            "description": "Array of available dates"
          }
        }
      }
    },
    "/api/aerosol": {
      "get": {
        "operationId": "getLatestAerosolImages",
        "summary": "Get most recent aerosol index imagery metadata",
        "responses": {
          "200": {
            "description": "Array of aerosol image metadata",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/ImageMetadata"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/api/aerosol/date/{date}": {
      "get": {
        "operationId": "getAerosolImagesByDate",
        "summary": "Get aerosol index imagery for a specific date",
        "parameters": [
          {
            "name": "date",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "date"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Array of aerosol image metadata"
          }
        }
      }
    },
    "/api/cloud": {
      "get": {
        "operationId": "getLatestCloudImages",
        "summary": "Get most recent cloud fraction imagery metadata",
        "responses": {
          "200": {
            "description": "Array of cloud image metadata",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/ImageMetadata"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/api/cloud/date/{date}": {
      "get": {
        "operationId": "getCloudImagesByDate",
        "summary": "Get cloud fraction imagery for a specific date",
        "parameters": [
          {
            "name": "date",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "date"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Array of cloud image metadata"
          }
        }
      }
    },
    "/archive/natural/{year}/{month}/{day}/png/{filename}.png": {
      "get": {
        "operationId": "getNaturalImagePng",
        "summary": "Download a natural color image in PNG format",
        "description": "Downloads the full-resolution PNG image from the EPIC archive.",
        "parameters": [
          {
            "name": "year",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "month",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "day",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "filename",
            "in": "path",
            "required": true,
            "description": "Image filename from metadata (without extension)",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "PNG image file",
            "content": {
              "image/png": {
                "schema": {
                  "type": "string",
                  "format": "binary"
                }
              }
            }
          }
        }
      }
    }
  },
  "components": {
    "schemas": {
      "ImageMetadata": {
        "type": "object",
        "properties": {
          "identifier": {
            "type": "string"
          },
          "caption": {
            "type": "string"
          },
          "image": {
            "type": "string",
            "description": "Image filename"
          },
          "version": {
            "type": "string"
          },
          "date": {
            "type": "string",
            "description": "Image capture date-time"
          },
          "centroid_coordinates": {
            "type": "object",
            "properties": {
              "lat": {
                "type": "number"
              },
              "lon": {
                "type": "number"
              }
            }
          },
          "dscovr_j2000_position": {
            "type": "object",
            "properties": {
              "x": { "type": "number" },
              "y": { "type": "number" },
              "z": { "type": "number" }
            }
          },
          "lunar_j2000_position": {
            "type": "object",
            "properties": {
              "x": { "type": "number" },
              "y": { "type": "number" },
              "z": { "type": "number" }
            }
          },
          "sun_j2000_position": {
            "type": "object",
            "properties": {
              "x": { "type": "number" },
              "y": { "type": "number" },
              "z": { "type": "number" }
            }
          },
          "attitude_quaternions": {
            "type": "object",
            "properties": {
              "q0": { "type": "number" },
              "q1": { "type": "number" },
              "q2": { "type": "number" },
              "q3": { "type": "number" }
            }
          }
        }
      }
    }
  }
}
