{
  "openapi": "3.0.3",
  "info": {
    "title": "Patch API",
    "version": "1.0.0",
    "description": "Patch provides a platform for carbon credit purchasing and carbon offsetting. Access carbon removal project listings, create and manage orders, retrieve estimates, and track carbon offset portfolios. Patch powers carbon neutrality for businesses via API.",
    "x-jentic-source-url": "https://docs.patch.io",
    "contact": {
      "name": "API Support"
    }
  },
  "servers": [
    {
      "url": "https://api.patch.io/v1"
    }
  ],
  "paths": {
    "/estimates": {
      "post": {
        "operationId": "createEstimate",
        "summary": "Create an estimate",
        "description": "Create a carbon emission estimate. Specify mass (in grams of CO2), or provide an activity type to auto-calculate emissions.",
        "tags": [
          "Estimates"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/EstimateRequest"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Estimate created",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/EstimateResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      }
    },
    "/estimates/{id}": {
      "get": {
        "operationId": "getEstimate",
        "summary": "Retrieve an estimate",
        "description": "Retrieve the details of a previously created estimate.",
        "tags": [
          "Estimates"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "Estimate ID",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Estimate details",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/EstimateResponse"
                }
              }
            }
          },
          "404": {
            "description": "Estimate not found"
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      }
    },
    "/orders": {
      "get": {
        "operationId": "listOrders",
        "summary": "List orders",
        "description": "List all carbon offset orders.",
        "tags": [
          "Orders"
        ],
        "parameters": [
          {
            "name": "page",
            "in": "query",
            "description": "Page number",
            "required": false,
            "schema": {
              "type": "integer",
              "default": 1
            }
          },
          {
            "name": "page_size",
            "in": "query",
            "description": "Items per page",
            "required": false,
            "schema": {
              "type": "integer",
              "default": 25
            }
          }
        ],
        "responses": {
          "200": {
            "description": "List of orders",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/OrderListResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      },
      "post": {
        "operationId": "createOrder",
        "summary": "Create an order",
        "description": "Create a carbon offset order for a specific amount of CO2e (in grams) or for a specific project.",
        "tags": [
          "Orders"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/OrderRequest"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Order created",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/OrderResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      }
    },
    "/orders/{id}": {
      "get": {
        "operationId": "getOrder",
        "summary": "Retrieve an order",
        "description": "Retrieve a carbon offset order by ID.",
        "tags": [
          "Orders"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "Order ID",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Order details",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/OrderResponse"
                }
              }
            }
          },
          "404": {
            "description": "Order not found"
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      }
    },
    "/orders/{id}/cancel": {
      "patch": {
        "operationId": "cancelOrder",
        "summary": "Cancel an order",
        "description": "Cancel a pending carbon offset order.",
        "tags": [
          "Orders"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "Order ID",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Order cancelled",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/OrderResponse"
                }
              }
            }
          },
          "404": {
            "description": "Order not found"
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      }
    },
    "/projects": {
      "get": {
        "operationId": "listProjects",
        "summary": "List projects",
        "description": "List available carbon removal and offsetting projects.",
        "tags": [
          "Projects"
        ],
        "parameters": [
          {
            "name": "page",
            "in": "query",
            "description": "Page number",
            "required": false,
            "schema": {
              "type": "integer",
              "default": 1
            }
          },
          {
            "name": "page_size",
            "in": "query",
            "description": "Items per page",
            "required": false,
            "schema": {
              "type": "integer",
              "default": 25
            }
          },
          {
            "name": "country",
            "in": "query",
            "description": "Filter by country code",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "type",
            "in": "query",
            "description": "Filter by project type",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "minimum_available_mass",
            "in": "query",
            "description": "Minimum available mass in grams",
            "required": false,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "List of projects",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProjectListResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      }
    },
    "/projects/{id}": {
      "get": {
        "operationId": "getProject",
        "summary": "Retrieve a project",
        "description": "Get details of a specific carbon removal/offsetting project.",
        "tags": [
          "Projects"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "Project ID",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Project details",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProjectResponse"
                }
              }
            }
          },
          "404": {
            "description": "Project not found"
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      }
    }
  },
  "components": {
    "schemas": {
      "EstimateRequest": {
        "type": "object",
        "properties": {
          "mass_g": {
            "type": "integer",
            "description": "Amount of CO2 in grams to offset"
          },
          "type": {
            "type": "string",
            "description": "Estimate type (e.g. flight, vehicle, shipping)"
          },
          "distance_m": {
            "type": "number",
            "description": "Distance in meters for travel estimates"
          },
          "transportation_method": {
            "type": "string",
            "description": "Method of transport (e.g. air, rail, road)"
          },
          "project_id": {
            "type": "string",
            "description": "Specific project ID to use"
          },
          "create_order": {
            "type": "boolean",
            "description": "Whether to also create an order",
            "default": false
          }
        }
      },
      "EstimateResponse": {
        "type": "object",
        "properties": {
          "success": {
            "type": "boolean"
          },
          "error": {
            "type": "object"
          },
          "data": {
            "$ref": "#/components/schemas/Estimate"
          }
        }
      },
      "Estimate": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string"
          },
          "production": {
            "type": "boolean"
          },
          "type": {
            "type": "string"
          },
          "mass_g": {
            "type": "integer",
            "description": "Estimated CO2 in grams"
          },
          "order": {
            "$ref": "#/components/schemas/Order"
          }
        }
      },
      "OrderRequest": {
        "type": "object",
        "properties": {
          "mass_g": {
            "type": "integer",
            "description": "Amount of CO2 to offset in grams"
          },
          "total_price_cents_usd": {
            "type": "integer",
            "description": "Total price in USD cents"
          },
          "project_id": {
            "type": "string",
            "description": "Specific project to purchase from"
          },
          "metadata": {
            "type": "object",
            "additionalProperties": {
              "type": "string"
            },
            "description": "Custom metadata"
          }
        }
      },
      "OrderResponse": {
        "type": "object",
        "properties": {
          "success": {
            "type": "boolean"
          },
          "error": {
            "type": "object"
          },
          "data": {
            "$ref": "#/components/schemas/Order"
          }
        }
      },
      "OrderListResponse": {
        "type": "object",
        "properties": {
          "success": {
            "type": "boolean"
          },
          "data": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Order"
            }
          },
          "meta": {
            "$ref": "#/components/schemas/PaginationMeta"
          }
        }
      },
      "Order": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string"
          },
          "production": {
            "type": "boolean"
          },
          "state": {
            "type": "string",
            "description": "Order state (draft, placed, processing, complete, cancelled)"
          },
          "mass_g": {
            "type": "integer"
          },
          "price_cents_usd": {
            "type": "integer"
          },
          "patch_fee_cents_usd": {
            "type": "integer"
          },
          "total_price_cents_usd": {
            "type": "integer"
          },
          "currency": {
            "type": "string"
          },
          "registry_url": {
            "type": "string"
          },
          "metadata": {
            "type": "object",
            "additionalProperties": {
              "type": "string"
            }
          },
          "line_items": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "project": {
                  "$ref": "#/components/schemas/Project"
                },
                "mass_g": {
                  "type": "integer"
                },
                "price_cents_usd": {
                  "type": "integer"
                }
              }
            }
          },
          "created_at": {
            "type": "string",
            "format": "date-time"
          }
        }
      },
      "ProjectListResponse": {
        "type": "object",
        "properties": {
          "success": {
            "type": "boolean"
          },
          "data": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Project"
            }
          },
          "meta": {
            "$ref": "#/components/schemas/PaginationMeta"
          }
        }
      },
      "ProjectResponse": {
        "type": "object",
        "properties": {
          "success": {
            "type": "boolean"
          },
          "data": {
            "$ref": "#/components/schemas/Project"
          }
        }
      },
      "Project": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string"
          },
          "production": {
            "type": "boolean"
          },
          "name": {
            "type": "string"
          },
          "description": {
            "type": "string"
          },
          "type": {
            "type": "string",
            "description": "Project type (e.g. biomass, dac, ocean, soil, reforestation)"
          },
          "mechanism": {
            "type": "string",
            "description": "Removal or avoidance"
          },
          "country": {
            "type": "string"
          },
          "state": {
            "type": "string"
          },
          "latitude": {
            "type": "number"
          },
          "longitude": {
            "type": "number"
          },
          "developer": {
            "type": "string"
          },
          "photos": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "url": {
                  "type": "string"
                }
              }
            }
          },
          "average_price_per_tonne_cents_usd": {
            "type": "integer"
          },
          "remaining_mass_g": {
            "type": "integer"
          },
          "standard": {
            "type": "string"
          },
          "standard_type": {
            "type": "string"
          },
          "sdgs": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "number": {
                  "type": "integer"
                },
                "title": {
                  "type": "string"
                }
              }
            }
          },
          "technology_type": {
            "type": "string"
          },
          "highlights": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "slug": {
                  "type": "string"
                },
                "title": {
                  "type": "string"
                }
              }
            }
          }
        }
      },
      "PaginationMeta": {
        "type": "object",
        "properties": {
          "prev_page": {
            "type": "integer"
          },
          "next_page": {
            "type": "integer"
          },
          "total_entries": {
            "type": "integer"
          }
        }
      },
      "ErrorResponse": {
        "type": "object",
        "properties": {
          "success": {
            "type": "boolean"
          },
          "error": {
            "type": "object",
            "properties": {
              "type": {
                "type": "string"
              },
              "message": {
                "type": "string"
              }
            }
          }
        }
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "scheme": "bearer",
        "description": "Bearer token authentication using your Patch API key."
      }
    }
  },
  "security": [
    {
      "bearerAuth": []
    }
  ],
  "tags": [
    {
      "name": "Estimates"
    },
    {
      "name": "Orders"
    },
    {
      "name": "Projects"
    }
  ]
}
