{
  "openapi": "3.0.0",
  "info": {
    "contact": {
      "email": "softwareengineering@parliament.uk",
      "name": "UK Parliament",
      "url": "https://www.parliament.uk/"
    },
    "description": "An API that allows querying of Commons Votes data.",
    "title": "Commons Votes API",
    "version": "v1",
    "x-jentic-source-url": "https://raw.githubusercontent.com/jentic/jentic-public-apis/refs/heads/main/apis/openapi/parliament.uk/commonsvotes/v1/openapi.json"
  },
  "servers": [
    {
      "url": "http://commonsvotes-api.parliament.uk/"
    },
    {
      "url": "https://commonsvotes-api.parliament.uk/"
    }
  ],
  "paths": {
    "/data/division/{divisionId}.{format}": {
      "get": {
        "parameters": [
          {
            "description": "Id number of a Division whose records are to be returned",
            "in": "path",
            "name": "divisionId",
            "required": true,
            "schema": {
              "format": "int32",
              "type": "integer"
            }
          },
          {
            "description": "xml or json",
            "in": "path",
            "name": "format",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PublishedDivision"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/PublishedDivision"
                }
              }
            },
            "description": "OK"
          },
          "400": {
            "description": "BadRequest"
          },
          "404": {
            "description": "NotFound"
          }
        },
        "tags": [
          "Divisions"
        ],
        "description": "Single Division which has the specified Id",
        "operationId": "Divisions_GetDivisionById",
        "summary": "Return a Division"
      }
    },
    "/data/divisions.{format}/groupedbyparty": {
      "get": {
        "parameters": [
          {
            "description": "xml or json",
            "in": "path",
            "name": "format",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "Divisions containing search term within title or number",
            "in": "query",
            "name": "queryParameters.searchTerm",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "Divisions returning Member with Member ID voting records",
            "in": "query",
            "name": "queryParameters.memberId",
            "required": false,
            "schema": {
              "format": "int32",
              "type": "integer"
            }
          },
          {
            "description": "Divisions where member was a teller as well as if they actually voted",
            "in": "query",
            "name": "queryParameters.includeWhenMemberWasTeller",
            "required": false,
            "schema": {
              "type": "boolean"
            }
          },
          {
            "description": "Divisions where division date in one or after date provided. Date format is yyyy-MM-dd",
            "in": "query",
            "name": "queryParameters.startDate",
            "required": false,
            "schema": {
              "format": "date-time",
              "type": "string"
            }
          },
          {
            "description": "Divisions where division date in one or before date provided. Date format is yyyy-MM-dd",
            "in": "query",
            "name": "queryParameters.endDate",
            "required": false,
            "schema": {
              "format": "date-time",
              "type": "string"
            }
          },
          {
            "description": "Division Number - as specified by the House, unique within a session. This is different to the division id which uniquely identifies a division in this system and is passed to the GET division endpoint",
            "in": "query",
            "name": "queryParameters.divisionNumber",
            "required": false,
            "schema": {
              "format": "int32",
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "items": {
                    "$ref": "#/components/schemas/DivisionGroupedByParty"
                  },
                  "type": "array"
                }
              },
              "text/json": {
                "schema": {
                  "items": {
                    "$ref": "#/components/schemas/DivisionGroupedByParty"
                  },
                  "type": "array"
                }
              }
            },
            "description": "OK"
          },
          "400": {
            "description": "BadRequest"
          }
        },
        "tags": [
          "Divisions"
        ],
        "description": "Division results which meet the specified criteria grouped by parties",
        "operationId": "Divisions_GetDivisionsGroupsByParty",
        "summary": "Return Divisions results grouped by party"
      }
    },
    "/data/divisions.{format}/membervoting": {
      "get": {
        "parameters": [
          {
            "description": "xml or json",
            "in": "path",
            "name": "format",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "Id number of a Member whose voting records are to be returned",
            "in": "query",
            "name": "queryParameters.memberId",
            "required": true,
            "schema": {
              "format": "int32",
              "maximum": 2147483647,
              "minimum": 1,
              "type": "integer"
            }
          },
          {
            "description": "The number of records to skip. Default is 0",
            "in": "query",
            "name": "queryParameters.skip",
            "required": false,
            "schema": {
              "format": "int32",
              "type": "integer"
            }
          },
          {
            "description": "The number of records to return per page. Default is 25",
            "in": "query",
            "name": "queryParameters.take",
            "required": false,
            "schema": {
              "format": "int32",
              "type": "integer"
            }
          },
          {
            "description": "Divisions containing search term within title or number",
            "in": "query",
            "name": "queryParameters.searchTerm",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "Divisions where member was a teller as well as if they actually voted",
            "in": "query",
            "name": "queryParameters.includeWhenMemberWasTeller",
            "required": false,
            "schema": {
              "type": "boolean"
            }
          },
          {
            "description": "Divisions where division date in one or after date provided. Date format is yyyy-MM-dd",
            "in": "query",
            "name": "queryParameters.startDate",
            "required": false,
            "schema": {
              "format": "date-time",
              "type": "string"
            }
          },
          {
            "description": "Divisions where division date in one or before date provided. Date format is yyyy-MM-dd",
            "in": "query",
            "name": "queryParameters.endDate",
            "required": false,
            "schema": {
              "format": "date-time",
              "type": "string"
            }
          },
          {
            "description": "Division Number - as specified by the House, unique within a session. This is different to the division id which uniquely identifies a division in this system and is passed to the GET division endpoint",
            "in": "query",
            "name": "queryParameters.divisionNumber",
            "required": false,
            "schema": {
              "format": "int32",
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "items": {
                    "$ref": "#/components/schemas/MemberVotingRecord"
                  },
                  "type": "array"
                }
              },
              "text/json": {
                "schema": {
                  "items": {
                    "$ref": "#/components/schemas/MemberVotingRecord"
                  },
                  "type": "array"
                }
              }
            },
            "description": "OK"
          },
          "400": {
            "description": "BadRequest"
          }
        },
        "tags": [
          "Divisions"
        ],
        "description": "List of voting records for a member which meet the specified criteria.",
        "operationId": "Divisions_GetVotingRecordsForMember",
        "summary": "Return voting records for a Member"
      }
    },
    "/data/divisions.{format}/search": {
      "get": {
        "parameters": [
          {
            "description": "json or xml",
            "in": "path",
            "name": "format",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "The number of records to skip. Default is 0",
            "in": "query",
            "name": "queryParameters.skip",
            "required": false,
            "schema": {
              "format": "int32",
              "type": "integer"
            }
          },
          {
            "description": "The number of records to return per page. Default is 25",
            "in": "query",
            "name": "queryParameters.take",
            "required": false,
            "schema": {
              "format": "int32",
              "type": "integer"
            }
          },
          {
            "description": "Divisions containing search term within title or number",
            "in": "query",
            "name": "queryParameters.searchTerm",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "Divisions returning Member with Member ID voting records",
            "in": "query",
            "name": "queryParameters.memberId",
            "required": false,
            "schema": {
              "format": "int32",
              "type": "integer"
            }
          },
          {
            "description": "Divisions where member was a teller as well as if they actually voted",
            "in": "query",
            "name": "queryParameters.includeWhenMemberWasTeller",
            "required": false,
            "schema": {
              "type": "boolean"
            }
          },
          {
            "description": "Divisions where division date in one or after date provided. Date format is yyyy-MM-dd",
            "in": "query",
            "name": "queryParameters.startDate",
            "required": false,
            "schema": {
              "format": "date-time",
              "type": "string"
            }
          },
          {
            "description": "Divisions where division date in one or before date provided. Date format is yyyy-MM-dd",
            "in": "query",
            "name": "queryParameters.endDate",
            "required": false,
            "schema": {
              "format": "date-time",
              "type": "string"
            }
          },
          {
            "description": "Division Number - as specified by the House, unique within a session. This is different to the division id which uniquely identifies a division in this system and is passed to the GET division endpoint",
            "in": "query",
            "name": "queryParameters.divisionNumber",
            "required": false,
            "schema": {
              "format": "int32",
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "items": {
                    "$ref": "#/components/schemas/PublishedDivision"
                  },
                  "type": "array"
                }
              },
              "text/json": {
                "schema": {
                  "items": {
                    "$ref": "#/components/schemas/PublishedDivision"
                  },
                  "type": "array"
                }
              }
            },
            "description": "OK"
          },
          "400": {
            "description": "BadRequest"
          }
        },
        "tags": [
          "Divisions"
        ],
        "description": "List of Divisions which meet the specified criteria",
        "operationId": "Divisions_SearchDivisions",
        "summary": "Return a list of Divisions"
      }
    },
    "/data/divisions.{format}/searchTotalResults": {
      "get": {
        "parameters": [
          {
            "description": "json or xml",
            "in": "path",
            "name": "format",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "Divisions containing search term within title or number",
            "in": "query",
            "name": "queryParameters.searchTerm",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "Divisions returning Member with Member ID voting records",
            "in": "query",
            "name": "queryParameters.memberId",
            "required": false,
            "schema": {
              "format": "int32",
              "type": "integer"
            }
          },
          {
            "description": "Divisions where member was a teller as well as if they actually voted",
            "in": "query",
            "name": "queryParameters.includeWhenMemberWasTeller",
            "required": false,
            "schema": {
              "type": "boolean"
            }
          },
          {
            "description": "Divisions where division date in one or after date provided. Date format is yyyy-MM-dd",
            "in": "query",
            "name": "queryParameters.startDate",
            "required": false,
            "schema": {
              "format": "date-time",
              "type": "string"
            }
          },
          {
            "description": "Divisions where division date in one or before date provided. Date format is yyyy-MM-dd",
            "in": "query",
            "name": "queryParameters.endDate",
            "required": false,
            "schema": {
              "format": "date-time",
              "type": "string"
            }
          },
          {
            "description": "Division Number - as specified by the House, unique within a session. This is different to the division id which uniquely identifies a division in this system and is passed to the GET division endpoint",
            "in": "query",
            "name": "queryParameters.divisionNumber",
            "required": false,
            "schema": {
              "format": "int32",
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "format": "int32",
                  "type": "integer"
                }
              },
              "text/json": {
                "schema": {
                  "format": "int32",
                  "type": "integer"
                }
              }
            },
            "description": "OK"
          },
          "400": {
            "description": "BadRequest"
          }
        },
        "tags": [
          "Divisions"
        ],
        "description": "Total count of Divisions meeting the specified criteria",
        "operationId": "Divisions_SearchTotalResults",
        "summary": "Return total results count"
      }
    }
  },
  "components": {
    "schemas": {
      "DivisionGroupedByParty": {
        "properties": {
          "AyeCount": {
            "format": "int32",
            "type": "integer"
          },
          "Ayes": {
            "description": "Counts of all members who voted 'Aye', grouped by party",
            "items": {
              "$ref": "#/components/schemas/PartyVoteResult"
            },
            "type": "array"
          },
          "Date": {
            "format": "date-time",
            "type": "string"
          },
          "DivisionId": {
            "format": "int32",
            "type": "integer"
          },
          "NoCount": {
            "format": "int32",
            "type": "integer"
          },
          "Noes": {
            "description": "Counts of all members who voted 'Noe', grouped by party",
            "items": {
              "$ref": "#/components/schemas/PartyVoteResult"
            },
            "type": "array"
          },
          "Number": {
            "format": "int32",
            "type": "integer"
          },
          "Title": {
            "type": "string"
          }
        },
        "type": "object"
      },
      "MemberSearchQueryParameters": {
        "properties": {
          "DivisionNumber": {
            "description": "Division Number - as specified by the House, unique within a session. This is different to the division id which uniquely identifies a division in this system and is passed to the GET division endpoint",
            "format": "int32",
            "type": "integer"
          },
          "EndDate": {
            "description": "Divisions where division date in one or before date provided. Date format is yyyy-MM-dd",
            "format": "date-time",
            "type": "string"
          },
          "IncludeWhenMemberWasTeller": {
            "description": "Divisions where member was a teller as well as if they actually voted",
            "type": "boolean"
          },
          "MemberId": {
            "description": "Id number of a Member whose voting records are to be returned",
            "format": "int32",
            "maximum": 2147483647,
            "minimum": 1,
            "type": "integer"
          },
          "SearchTerm": {
            "description": "Divisions containing search term within title or number",
            "type": "string"
          },
          "Skip": {
            "description": "The number of records to skip. Default is 0",
            "format": "int32",
            "type": "integer"
          },
          "StartDate": {
            "description": "Divisions where division date in one or after date provided. Date format is yyyy-MM-dd",
            "format": "date-time",
            "type": "string"
          },
          "Take": {
            "description": "The number of records to return per page. Default is 25",
            "format": "int32",
            "type": "integer"
          }
        },
        "required": [
          "MemberId"
        ],
        "type": "object"
      },
      "MemberVotingRecord": {
        "properties": {
          "MemberId": {
            "format": "int32",
            "type": "integer"
          },
          "MemberVotedAye": {
            "type": "boolean"
          },
          "MemberWasTeller": {
            "type": "boolean"
          },
          "PublishedDivision": {
            "$ref": "#/components/schemas/PublishedDivision"
          }
        },
        "type": "object"
      },
      "PartyVoteResult": {
        "properties": {
          "PartyName": {
            "type": "string"
          },
          "VoteCount": {
            "format": "int32",
            "type": "integer"
          }
        },
        "type": "object"
      },
      "PublishedDivision": {
        "properties": {
          "AyeCount": {
            "format": "int32",
            "type": "integer"
          },
          "AyeTellers": {
            "items": {
              "$ref": "#/components/schemas/RecordedMember"
            },
            "type": "array"
          },
          "Ayes": {
            "items": {
              "$ref": "#/components/schemas/RecordedMember"
            },
            "type": "array"
          },
          "Date": {
            "format": "date-time",
            "type": "string"
          },
          "DivisionId": {
            "format": "int32",
            "type": "integer"
          },
          "DoubleMajorityAyeCount": {
            "format": "int32",
            "type": "integer"
          },
          "DoubleMajorityNoCount": {
            "format": "int32",
            "type": "integer"
          },
          "EVELCountry": {
            "type": "string"
          },
          "EVELType": {
            "type": "string"
          },
          "FriendlyDescription": {
            "type": "string"
          },
          "FriendlyTitle": {
            "type": "string"
          },
          "IsDeferred": {
            "type": "boolean"
          },
          "NoCount": {
            "format": "int32",
            "type": "integer"
          },
          "NoTellers": {
            "items": {
              "$ref": "#/components/schemas/RecordedMember"
            },
            "type": "array"
          },
          "NoVoteRecorded": {
            "items": {
              "$ref": "#/components/schemas/RecordedMember"
            },
            "type": "array"
          },
          "Noes": {
            "items": {
              "$ref": "#/components/schemas/RecordedMember"
            },
            "type": "array"
          },
          "Number": {
            "format": "int32",
            "type": "integer"
          },
          "PublicationUpdated": {
            "format": "date-time",
            "type": "string"
          },
          "RemoteVotingEnd": {
            "format": "date-time",
            "type": "string"
          },
          "RemoteVotingStart": {
            "format": "date-time",
            "type": "string"
          },
          "Title": {
            "type": "string"
          }
        },
        "type": "object"
      },
      "QueryParameters": {
        "properties": {
          "DivisionNumber": {
            "description": "Division Number - as specified by the House, unique within a session. This is different to the division id which uniquely identifies a division in this system and is passed to the GET division endpoint",
            "format": "int32",
            "type": "integer"
          },
          "EndDate": {
            "description": "Divisions where division date in one or before date provided. Date format is yyyy-MM-dd",
            "format": "date-time",
            "type": "string"
          },
          "IncludeWhenMemberWasTeller": {
            "description": "Divisions where member was a teller as well as if they actually voted",
            "type": "boolean"
          },
          "MemberId": {
            "description": "Divisions returning Member with Member ID voting records",
            "format": "int32",
            "type": "integer"
          },
          "SearchTerm": {
            "description": "Divisions containing search term within title or number",
            "type": "string"
          },
          "StartDate": {
            "description": "Divisions where division date in one or after date provided. Date format is yyyy-MM-dd",
            "format": "date-time",
            "type": "string"
          }
        },
        "type": "object"
      },
      "RecordedMember": {
        "properties": {
          "ListAs": {
            "type": "string"
          },
          "MemberFrom": {
            "type": "string"
          },
          "MemberId": {
            "format": "int32",
            "type": "integer"
          },
          "Name": {
            "type": "string"
          },
          "Party": {
            "type": "string"
          },
          "PartyAbbreviation": {
            "type": "string"
          },
          "PartyColour": {
            "type": "string"
          },
          "ProxyName": {
            "type": "string"
          },
          "SubParty": {
            "type": "string"
          }
        },
        "type": "object"
      },
      "SearchQueryParameters": {
        "properties": {
          "DivisionNumber": {
            "description": "Division Number - as specified by the House, unique within a session. This is different to the division id which uniquely identifies a division in this system and is passed to the GET division endpoint",
            "format": "int32",
            "type": "integer"
          },
          "EndDate": {
            "description": "Divisions where division date in one or before date provided. Date format is yyyy-MM-dd",
            "format": "date-time",
            "type": "string"
          },
          "IncludeWhenMemberWasTeller": {
            "description": "Divisions where member was a teller as well as if they actually voted",
            "type": "boolean"
          },
          "MemberId": {
            "description": "Divisions returning Member with Member ID voting records",
            "format": "int32",
            "type": "integer"
          },
          "SearchTerm": {
            "description": "Divisions containing search term within title or number",
            "type": "string"
          },
          "Skip": {
            "description": "The number of records to skip. Default is 0",
            "format": "int32",
            "type": "integer"
          },
          "StartDate": {
            "description": "Divisions where division date in one or after date provided. Date format is yyyy-MM-dd",
            "format": "date-time",
            "type": "string"
          },
          "Take": {
            "description": "The number of records to return per page. Default is 25",
            "format": "int32",
            "type": "integer"
          }
        },
        "type": "object"
      }
    }
  },
  "tags": [
    {
      "name": "Divisions"
    }
  ]
}
