{
  "openapi": "3.0.3",
  "info": {
    "title": "eBird API 2.0",
    "description": "The eBird API provides programmatic access to eBird observation data, taxonomy, hotspot data, and regional information. eBird is the world's largest biodiversity-related citizen science project.",
    "version": "2.0.0",
    "x-jentic-source-url": "https://documenter.getpostman.com/view/664302/S1ENwy59",
    "contact": {
      "name": "API Support"
    }
  },
  "servers": [
    {
      "url": "https://api.ebird.org/v2",
      "description": "Production"
    }
  ],
  "security": [
    {
      "apiKey": []
    }
  ],
  "tags": [
    {
      "name": "Observations",
      "description": "Bird observation data"
    },
    {
      "name": "Product",
      "description": "eBird data products (top lists, stats)"
    },
    {
      "name": "Hotspots",
      "description": "Birding hotspot information"
    },
    {
      "name": "Taxonomy",
      "description": "eBird taxonomy data"
    },
    {
      "name": "Regions",
      "description": "Region information and stats"
    }
  ],
  "paths": {
    "/data/obs/{regionCode}/recent": {
      "get": {
        "operationId": "getRecentObservations",
        "summary": "Recent observations in a region",
        "tags": [
          "Observations"
        ],
        "parameters": [
          {
            "name": "regionCode",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "eBird region code (e.g. US, US-NY, US-NY-109)"
          },
          {
            "name": "back",
            "in": "query",
            "schema": {
              "type": "integer",
              "minimum": 1,
              "maximum": 30,
              "default": 14
            },
            "description": "Number of days back to fetch (1-30)"
          },
          {
            "name": "cat",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "description": "Taxonomic category filter"
          },
          {
            "name": "hotspot",
            "in": "query",
            "schema": {
              "type": "boolean"
            },
            "description": "Only return from hotspots"
          },
          {
            "name": "includeProvisional",
            "in": "query",
            "schema": {
              "type": "boolean",
              "default": false
            },
            "description": "Include unreviewed observations"
          },
          {
            "name": "maxResults",
            "in": "query",
            "schema": {
              "type": "integer"
            },
            "description": "Max results to return"
          },
          {
            "name": "r",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "description": "Comma-separated list of up to 10 region codes"
          },
          {
            "name": "sppLocale",
            "in": "query",
            "schema": {
              "type": "string",
              "default": "en"
            },
            "description": "Locale for common names"
          }
        ],
        "responses": {
          "200": {
            "description": "Recent observations",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Observation"
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized - Missing or invalid API key",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        },
        "description": "Recent observations in a region"
      }
    },
    "/data/obs/{regionCode}/recent/notable": {
      "get": {
        "operationId": "getRecentNotableObservations",
        "summary": "Recent notable observations in a region",
        "tags": [
          "Observations"
        ],
        "parameters": [
          {
            "name": "regionCode",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "eBird region code (e.g. US, US-NY, US-NY-109)"
          },
          {
            "name": "back",
            "in": "query",
            "schema": {
              "type": "integer",
              "minimum": 1,
              "maximum": 30,
              "default": 14
            },
            "description": "Number of days back to fetch (1-30)"
          },
          {
            "name": "cat",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "description": "Taxonomic category filter"
          },
          {
            "name": "hotspot",
            "in": "query",
            "schema": {
              "type": "boolean"
            },
            "description": "Only return from hotspots"
          },
          {
            "name": "includeProvisional",
            "in": "query",
            "schema": {
              "type": "boolean",
              "default": false
            },
            "description": "Include unreviewed observations"
          },
          {
            "name": "maxResults",
            "in": "query",
            "schema": {
              "type": "integer"
            },
            "description": "Max results to return"
          },
          {
            "name": "r",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "description": "Comma-separated list of up to 10 region codes"
          },
          {
            "name": "sppLocale",
            "in": "query",
            "schema": {
              "type": "string",
              "default": "en"
            },
            "description": "Locale for common names"
          },
          {
            "name": "detail",
            "in": "query",
            "schema": {
              "type": "string",
              "enum": [
                "simple",
                "full"
              ],
              "default": "simple"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Recent notable observations",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Observation"
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized - Missing or invalid API key",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        },
        "description": "Recent notable observations in a region"
      }
    },
    "/data/obs/{regionCode}/recent/{speciesCode}": {
      "get": {
        "operationId": "getRecentSpeciesObservations",
        "summary": "Recent observations of a species in a region",
        "tags": [
          "Observations"
        ],
        "parameters": [
          {
            "name": "regionCode",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "eBird region code (e.g. US, US-NY, US-NY-109)"
          },
          {
            "name": "back",
            "in": "query",
            "schema": {
              "type": "integer",
              "minimum": 1,
              "maximum": 30,
              "default": 14
            },
            "description": "Number of days back to fetch (1-30)"
          },
          {
            "name": "cat",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "description": "Taxonomic category filter"
          },
          {
            "name": "hotspot",
            "in": "query",
            "schema": {
              "type": "boolean"
            },
            "description": "Only return from hotspots"
          },
          {
            "name": "includeProvisional",
            "in": "query",
            "schema": {
              "type": "boolean",
              "default": false
            },
            "description": "Include unreviewed observations"
          },
          {
            "name": "maxResults",
            "in": "query",
            "schema": {
              "type": "integer"
            },
            "description": "Max results to return"
          },
          {
            "name": "r",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "description": "Comma-separated list of up to 10 region codes"
          },
          {
            "name": "sppLocale",
            "in": "query",
            "schema": {
              "type": "string",
              "default": "en"
            },
            "description": "Locale for common names"
          },
          {
            "name": "speciesCode",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "eBird species code (e.g. norcar)"
          }
        ],
        "responses": {
          "200": {
            "description": "Recent species observations",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Observation"
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized - Missing or invalid API key",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        },
        "description": "Recent observations of a species in a region"
      }
    },
    "/data/obs/geo/recent": {
      "get": {
        "operationId": "getRecentNearbyObservations",
        "summary": "Recent nearby observations",
        "tags": [
          "Observations"
        ],
        "parameters": [
          {
            "name": "lat",
            "in": "query",
            "required": true,
            "schema": {
              "type": "number"
            },
            "description": "Latitude"
          },
          {
            "name": "lng",
            "in": "query",
            "required": true,
            "schema": {
              "type": "number"
            },
            "description": "Longitude"
          },
          {
            "name": "dist",
            "in": "query",
            "schema": {
              "type": "integer",
              "default": 25,
              "maximum": 50
            },
            "description": "Search radius in km"
          },
          {
            "name": "back",
            "in": "query",
            "schema": {
              "type": "integer",
              "minimum": 1,
              "maximum": 30,
              "default": 14
            }
          },
          {
            "name": "cat",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "hotspot",
            "in": "query",
            "schema": {
              "type": "boolean"
            }
          },
          {
            "name": "includeProvisional",
            "in": "query",
            "schema": {
              "type": "boolean",
              "default": false
            }
          },
          {
            "name": "maxResults",
            "in": "query",
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "sort",
            "in": "query",
            "schema": {
              "type": "string",
              "enum": [
                "date",
                "species"
              ]
            },
            "description": "Sort order"
          },
          {
            "name": "sppLocale",
            "in": "query",
            "schema": {
              "type": "string",
              "default": "en"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Nearby observations",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Observation"
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized - Missing or invalid API key",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        },
        "description": "Recent nearby observations"
      }
    },
    "/data/obs/geo/recent/notable": {
      "get": {
        "operationId": "getRecentNearbyNotable",
        "summary": "Recent nearby notable observations",
        "tags": [
          "Observations"
        ],
        "parameters": [
          {
            "name": "lat",
            "in": "query",
            "required": true,
            "schema": {
              "type": "number"
            },
            "description": "Latitude"
          },
          {
            "name": "lng",
            "in": "query",
            "required": true,
            "schema": {
              "type": "number"
            },
            "description": "Longitude"
          },
          {
            "name": "dist",
            "in": "query",
            "schema": {
              "type": "integer",
              "default": 25,
              "maximum": 50
            },
            "description": "Search radius in km"
          },
          {
            "name": "back",
            "in": "query",
            "schema": {
              "type": "integer",
              "minimum": 1,
              "maximum": 30,
              "default": 14
            }
          },
          {
            "name": "cat",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "hotspot",
            "in": "query",
            "schema": {
              "type": "boolean"
            }
          },
          {
            "name": "includeProvisional",
            "in": "query",
            "schema": {
              "type": "boolean",
              "default": false
            }
          },
          {
            "name": "maxResults",
            "in": "query",
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "sort",
            "in": "query",
            "schema": {
              "type": "string",
              "enum": [
                "date",
                "species"
              ]
            },
            "description": "Sort order"
          },
          {
            "name": "sppLocale",
            "in": "query",
            "schema": {
              "type": "string",
              "default": "en"
            }
          },
          {
            "name": "detail",
            "in": "query",
            "schema": {
              "type": "string",
              "enum": [
                "simple",
                "full"
              ]
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Nearby notable observations",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Observation"
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized - Missing or invalid API key",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        },
        "description": "Recent nearby notable observations"
      }
    },
    "/data/obs/geo/recent/{speciesCode}": {
      "get": {
        "operationId": "getRecentNearbySpecies",
        "summary": "Recent nearby observations of a species",
        "tags": [
          "Observations"
        ],
        "parameters": [
          {
            "name": "speciesCode",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "lat",
            "in": "query",
            "required": true,
            "schema": {
              "type": "number"
            },
            "description": "Latitude"
          },
          {
            "name": "lng",
            "in": "query",
            "required": true,
            "schema": {
              "type": "number"
            },
            "description": "Longitude"
          },
          {
            "name": "dist",
            "in": "query",
            "schema": {
              "type": "integer",
              "default": 25,
              "maximum": 50
            },
            "description": "Search radius in km"
          },
          {
            "name": "back",
            "in": "query",
            "schema": {
              "type": "integer",
              "minimum": 1,
              "maximum": 30,
              "default": 14
            }
          },
          {
            "name": "cat",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "hotspot",
            "in": "query",
            "schema": {
              "type": "boolean"
            }
          },
          {
            "name": "includeProvisional",
            "in": "query",
            "schema": {
              "type": "boolean",
              "default": false
            }
          },
          {
            "name": "maxResults",
            "in": "query",
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "sort",
            "in": "query",
            "schema": {
              "type": "string",
              "enum": [
                "date",
                "species"
              ]
            },
            "description": "Sort order"
          },
          {
            "name": "sppLocale",
            "in": "query",
            "schema": {
              "type": "string",
              "default": "en"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Nearby species observations",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Observation"
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized - Missing or invalid API key",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        },
        "description": "Recent nearby observations of a species"
      }
    },
    "/data/nearest/geo/recent/{speciesCode}": {
      "get": {
        "operationId": "getNearestSpeciesObservation",
        "summary": "Nearest observations of a species",
        "tags": [
          "Observations"
        ],
        "parameters": [
          {
            "name": "speciesCode",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "lat",
            "in": "query",
            "required": true,
            "schema": {
              "type": "number"
            }
          },
          {
            "name": "lng",
            "in": "query",
            "required": true,
            "schema": {
              "type": "number"
            }
          },
          {
            "name": "dist",
            "in": "query",
            "schema": {
              "type": "integer",
              "default": 25,
              "maximum": 50
            }
          },
          {
            "name": "back",
            "in": "query",
            "schema": {
              "type": "integer",
              "minimum": 1,
              "maximum": 30,
              "default": 14
            }
          },
          {
            "name": "hotspot",
            "in": "query",
            "schema": {
              "type": "boolean"
            }
          },
          {
            "name": "includeProvisional",
            "in": "query",
            "schema": {
              "type": "boolean"
            }
          },
          {
            "name": "maxResults",
            "in": "query",
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "sppLocale",
            "in": "query",
            "schema": {
              "type": "string",
              "default": "en"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Nearest species observations",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Observation"
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized - Missing or invalid API key",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        },
        "description": "Nearest observations of a species"
      }
    },
    "/product/lists/{regionCode}": {
      "get": {
        "operationId": "getRegionalChecklists",
        "summary": "Recent checklists in a region",
        "tags": [
          "Product"
        ],
        "parameters": [
          {
            "name": "regionCode",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "maxResults",
            "in": "query",
            "schema": {
              "type": "integer",
              "default": 10,
              "maximum": 200
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Recent checklists",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Checklist"
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized - Missing or invalid API key",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        },
        "description": "Recent checklists in a region"
      }
    },
    "/product/top100/{regionCode}/{y}/{m}/{d}": {
      "get": {
        "operationId": "getTop100",
        "summary": "Top 100 contributors for a region on a date",
        "tags": [
          "Product"
        ],
        "parameters": [
          {
            "name": "regionCode",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "y",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            },
            "description": "Year"
          },
          {
            "name": "m",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            },
            "description": "Month"
          },
          {
            "name": "d",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            },
            "description": "Day"
          },
          {
            "name": "rankedBy",
            "in": "query",
            "schema": {
              "type": "string",
              "enum": [
                "spp",
                "cl"
              ],
              "default": "spp"
            },
            "description": "Rank by species or checklists"
          },
          {
            "name": "maxResults",
            "in": "query",
            "schema": {
              "type": "integer",
              "default": 100,
              "maximum": 100
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Top 100 contributors",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/TopEntry"
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized - Missing or invalid API key",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        },
        "description": "Top 100 contributors for a region on a date"
      }
    },
    "/product/stats/{regionCode}/{y}/{m}/{d}": {
      "get": {
        "operationId": "getRegionStats",
        "summary": "Region statistics for a date",
        "tags": [
          "Product"
        ],
        "parameters": [
          {
            "name": "regionCode",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "y",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "m",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "d",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Region stats",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "numChecklists": {
                      "type": "integer"
                    },
                    "numContributors": {
                      "type": "integer"
                    },
                    "numSpecies": {
                      "type": "integer"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized - Missing or invalid API key",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        },
        "description": "Region statistics for a date"
      }
    },
    "/product/spplist/{regionCode}": {
      "get": {
        "operationId": "getSpeciesList",
        "summary": "Species list for a region",
        "tags": [
          "Product"
        ],
        "parameters": [
          {
            "name": "regionCode",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Species codes list",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "type": "string"
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized - Missing or invalid API key",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        },
        "description": "Species list for a region"
      }
    },
    "/product/checklist/view/{subId}": {
      "get": {
        "operationId": "viewChecklist",
        "summary": "View a checklist",
        "tags": [
          "Product"
        ],
        "parameters": [
          {
            "name": "subId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Checklist submission ID"
          }
        ],
        "responses": {
          "200": {
            "description": "Checklist details",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Checklist"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized - Missing or invalid API key",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        },
        "description": "View a checklist"
      }
    },
    "/ref/hotspot/{regionCode}": {
      "get": {
        "operationId": "getHotspotsInRegion",
        "summary": "Get hotspots in a region",
        "tags": [
          "Hotspots"
        ],
        "parameters": [
          {
            "name": "regionCode",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "back",
            "in": "query",
            "schema": {
              "type": "integer",
              "minimum": 1,
              "maximum": 30
            }
          },
          {
            "name": "fmt",
            "in": "query",
            "schema": {
              "type": "string",
              "enum": [
                "csv",
                "json"
              ],
              "default": "json"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Hotspots in region",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Hotspot"
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized - Missing or invalid API key",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        },
        "description": "Get hotspots in a region"
      }
    },
    "/ref/hotspot/geo": {
      "get": {
        "operationId": "getNearbyHotspots",
        "summary": "Get nearby hotspots",
        "tags": [
          "Hotspots"
        ],
        "parameters": [
          {
            "name": "lat",
            "in": "query",
            "required": true,
            "schema": {
              "type": "number"
            }
          },
          {
            "name": "lng",
            "in": "query",
            "required": true,
            "schema": {
              "type": "number"
            }
          },
          {
            "name": "dist",
            "in": "query",
            "schema": {
              "type": "integer",
              "default": 25,
              "maximum": 50
            }
          },
          {
            "name": "back",
            "in": "query",
            "schema": {
              "type": "integer",
              "minimum": 1,
              "maximum": 30
            }
          },
          {
            "name": "fmt",
            "in": "query",
            "schema": {
              "type": "string",
              "enum": [
                "csv",
                "json"
              ],
              "default": "json"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Nearby hotspots",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Hotspot"
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized - Missing or invalid API key",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        },
        "description": "Get nearby hotspots"
      }
    },
    "/ref/hotspot/info/{locId}": {
      "get": {
        "operationId": "getHotspotInfo",
        "summary": "Get hotspot information",
        "tags": [
          "Hotspots"
        ],
        "parameters": [
          {
            "name": "locId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "eBird location ID"
          }
        ],
        "responses": {
          "200": {
            "description": "Hotspot details",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HotspotInfo"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized - Missing or invalid API key",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        },
        "description": "Get hotspot information"
      }
    },
    "/ref/taxonomy/ebird": {
      "get": {
        "operationId": "getTaxonomy",
        "summary": "Get eBird taxonomy",
        "tags": [
          "Taxonomy"
        ],
        "parameters": [
          {
            "name": "cat",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "description": "Taxonomic category filter (e.g. species, issf)"
          },
          {
            "name": "fmt",
            "in": "query",
            "schema": {
              "type": "string",
              "enum": [
                "csv",
                "json"
              ],
              "default": "json"
            }
          },
          {
            "name": "locale",
            "in": "query",
            "schema": {
              "type": "string",
              "default": "en"
            },
            "description": "Locale for common names"
          },
          {
            "name": "species",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "description": "Comma-separated species codes"
          },
          {
            "name": "version",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "description": "Taxonomy version"
          }
        ],
        "responses": {
          "200": {
            "description": "Taxonomy data",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Taxon"
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized - Missing or invalid API key",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        },
        "description": "Get eBird taxonomy"
      }
    },
    "/ref/taxonomy/forms/{speciesCode}": {
      "get": {
        "operationId": "getTaxonomicForms",
        "summary": "Get taxonomic sub-species/forms for a species",
        "tags": [
          "Taxonomy"
        ],
        "parameters": [
          {
            "name": "speciesCode",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Species form codes",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "type": "string"
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized - Missing or invalid API key",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        },
        "description": "Get taxonomic sub-species/forms for a species"
      }
    },
    "/ref/taxonomy/locales": {
      "get": {
        "operationId": "getTaxonomyLocales",
        "summary": "Get available taxonomy locales",
        "tags": [
          "Taxonomy"
        ],
        "parameters": [],
        "responses": {
          "200": {
            "description": "Available locales",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "code": {
                        "type": "string"
                      },
                      "name": {
                        "type": "string"
                      },
                      "lastUpdate": {
                        "type": "string"
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized - Missing or invalid API key",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        },
        "description": "Get available taxonomy locales"
      }
    },
    "/ref/taxonomy/versions": {
      "get": {
        "operationId": "getTaxonomyVersions",
        "summary": "Get available taxonomy versions",
        "tags": [
          "Taxonomy"
        ],
        "parameters": [],
        "responses": {
          "200": {
            "description": "Taxonomy versions",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "authorityVer": {
                        "type": "number"
                      },
                      "latest": {
                        "type": "boolean"
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized - Missing or invalid API key",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        },
        "description": "Get available taxonomy versions"
      }
    },
    "/ref/taxonomy/speciesgroups/{speciesGrouping}": {
      "get": {
        "operationId": "getSpeciesGroups",
        "summary": "Get species groups by grouping type",
        "tags": [
          "Taxonomy"
        ],
        "parameters": [
          {
            "name": "speciesGrouping",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "enum": [
                "merlin",
                "ebird"
              ]
            },
            "description": "Grouping type"
          },
          {
            "name": "groupNameLocale",
            "in": "query",
            "schema": {
              "type": "string",
              "default": "en"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Species groups",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "groupName": {
                        "type": "string"
                      },
                      "groupOrder": {
                        "type": "integer"
                      },
                      "taxonOrderBounds": {
                        "type": "array",
                        "items": {
                          "type": "array",
                          "items": {
                            "type": "number"
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized - Missing or invalid API key",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        },
        "description": "Get species groups by grouping type"
      }
    },
    "/ref/region/list/{regionType}/{parentRegionCode}": {
      "get": {
        "operationId": "getSubregionList",
        "summary": "List subregions of a region",
        "tags": [
          "Regions"
        ],
        "parameters": [
          {
            "name": "regionType",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "enum": [
                "country",
                "subnational1",
                "subnational2"
              ]
            },
            "description": "Region type to list"
          },
          {
            "name": "parentRegionCode",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Parent region code (use 'world' for countries)"
          },
          {
            "name": "fmt",
            "in": "query",
            "schema": {
              "type": "string",
              "enum": [
                "csv",
                "json"
              ],
              "default": "json"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Subregions",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Region"
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized - Missing or invalid API key",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        },
        "description": "List subregions of a region"
      }
    },
    "/ref/region/info/{regionCode}": {
      "get": {
        "operationId": "getRegionInfo",
        "summary": "Get region information",
        "tags": [
          "Regions"
        ],
        "parameters": [
          {
            "name": "regionCode",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "regionNameFormat",
            "in": "query",
            "schema": {
              "type": "string",
              "enum": [
                "detailed",
                "detailednoqual",
                "full",
                "namequal",
                "nameonly",
                "revdetailed"
              ],
              "default": "full"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Region info",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RegionInfo"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized - Missing or invalid API key",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        },
        "description": "Get region information"
      }
    },
    "/ref/region/adjacent/{regionCode}": {
      "get": {
        "operationId": "getAdjacentRegions",
        "summary": "Get adjacent regions",
        "tags": [
          "Regions"
        ],
        "parameters": [
          {
            "name": "regionCode",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Adjacent regions",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Region"
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized - Missing or invalid API key",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        },
        "description": "Get adjacent regions"
      }
    }
  },
  "components": {
    "securitySchemes": {
      "apiKey": {
        "type": "apiKey",
        "name": "x-ebirdapitoken",
        "in": "header",
        "description": "eBird API token"
      }
    },
    "schemas": {
      "Error": {
        "type": "object",
        "properties": {
          "title": {
            "type": "string"
          },
          "status": {
            "type": "integer"
          },
          "errors": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "code": {
                  "type": "string"
                },
                "title": {
                  "type": "string"
                }
              }
            }
          }
        }
      },
      "Observation": {
        "type": "object",
        "properties": {
          "speciesCode": {
            "type": "string"
          },
          "comName": {
            "type": "string"
          },
          "sciName": {
            "type": "string"
          },
          "locId": {
            "type": "string"
          },
          "locName": {
            "type": "string"
          },
          "obsDt": {
            "type": "string"
          },
          "howMany": {
            "type": "integer"
          },
          "lat": {
            "type": "number"
          },
          "lng": {
            "type": "number"
          },
          "obsValid": {
            "type": "boolean"
          },
          "obsReviewed": {
            "type": "boolean"
          },
          "locationPrivate": {
            "type": "boolean"
          },
          "subId": {
            "type": "string"
          }
        }
      },
      "Hotspot": {
        "type": "object",
        "properties": {
          "locId": {
            "type": "string"
          },
          "locName": {
            "type": "string"
          },
          "countryCode": {
            "type": "string"
          },
          "subnational1Code": {
            "type": "string"
          },
          "subnational2Code": {
            "type": "string"
          },
          "lat": {
            "type": "number"
          },
          "lng": {
            "type": "number"
          },
          "latestObsDt": {
            "type": "string"
          },
          "numSpeciesAllTime": {
            "type": "integer"
          }
        }
      },
      "Taxon": {
        "type": "object",
        "properties": {
          "sciName": {
            "type": "string"
          },
          "comName": {
            "type": "string"
          },
          "speciesCode": {
            "type": "string"
          },
          "category": {
            "type": "string"
          },
          "taxonOrder": {
            "type": "number"
          },
          "bandingCodes": {
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "comNameCodes": {
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "sciNameCodes": {
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "order": {
            "type": "string"
          },
          "familyCode": {
            "type": "string"
          },
          "familyComName": {
            "type": "string"
          },
          "familySciName": {
            "type": "string"
          }
        }
      },
      "Region": {
        "type": "object",
        "properties": {
          "code": {
            "type": "string"
          },
          "name": {
            "type": "string"
          }
        }
      },
      "RegionInfo": {
        "type": "object",
        "properties": {
          "bounds": {
            "type": "object",
            "properties": {
              "minX": {
                "type": "number"
              },
              "maxX": {
                "type": "number"
              },
              "minY": {
                "type": "number"
              },
              "maxY": {
                "type": "number"
              }
            }
          },
          "result": {
            "type": "string"
          }
        }
      },
      "Checklist": {
        "type": "object",
        "properties": {
          "subId": {
            "type": "string"
          },
          "protocolId": {
            "type": "string"
          },
          "locId": {
            "type": "string"
          },
          "loc": {
            "type": "object",
            "properties": {
              "locId": {
                "type": "string"
              },
              "name": {
                "type": "string"
              },
              "latitude": {
                "type": "number"
              },
              "longitude": {
                "type": "number"
              },
              "countryCode": {
                "type": "string"
              },
              "countryName": {
                "type": "string"
              },
              "subnational1Name": {
                "type": "string"
              },
              "subnational1Code": {
                "type": "string"
              }
            }
          },
          "obsDt": {
            "type": "string"
          },
          "obs": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "speciesCode": {
                  "type": "string"
                },
                "howManyStr": {
                  "type": "string"
                }
              }
            }
          },
          "numObservers": {
            "type": "integer"
          },
          "numSpecies": {
            "type": "integer"
          },
          "userDisplayName": {
            "type": "string"
          }
        }
      },
      "TopEntry": {
        "type": "object",
        "properties": {
          "profileHandle": {
            "type": "string"
          },
          "userDisplayName": {
            "type": "string"
          },
          "numSpecies": {
            "type": "integer"
          },
          "numCompleteChecklists": {
            "type": "integer"
          },
          "rowNum": {
            "type": "integer"
          }
        }
      },
      "HotspotInfo": {
        "type": "object",
        "properties": {
          "locId": {
            "type": "string"
          },
          "name": {
            "type": "string"
          },
          "latitude": {
            "type": "number"
          },
          "longitude": {
            "type": "number"
          },
          "countryCode": {
            "type": "string"
          },
          "countryName": {
            "type": "string"
          },
          "subnational1Name": {
            "type": "string"
          },
          "subnational1Code": {
            "type": "string"
          },
          "subnational2Name": {
            "type": "string"
          },
          "subnational2Code": {
            "type": "string"
          },
          "isHotspot": {
            "type": "boolean"
          },
          "hierarchicalName": {
            "type": "string"
          },
          "numSpeciesAllTime": {
            "type": "integer"
          }
        }
      }
    }
  }
}
