{
  "openapi": "3.0.0",
  "info": {
    "title": "SmartContent APIs - Carousel (APIGEE)",
    "description": "This is the documentation for Smart Content Carousel API. Here you will find the best recommendations for movies, series and TV shows available on NOW Online.",
    "version": "1.1.3",
    "contact": {
      "joao.kruger@globalhitss.com.br": null
    },
    "x-jentic-source-url": "https://api.swaggerhub.com/apis/ANIRINO_1/smartcontent-apis-carousel-apigee/1.1.3"
  },
  "paths": {
    "/sctw-carousel/{id}": {
      "get": {
        "description": "Retrieves carousel configuration and live content based on predefined filters.",
        "operationId": "CarouselController_getCarouselById",
        "parameters": [
          {
            "name": "X-Client-Auth",
            "in": "header",
            "description": "A valid Bearer Token",
            "required": true,
            "schema": {
              "type": "string",
              "default": "Bearer {{token}}"
            }
          },
          {
            "name": "id",
            "required": true,
            "in": "path",
            "description": "Carousel configuration ID",
            "schema": {
              "example": "football-carousel",
              "type": "string"
            }
          },
          {
            "name": "x-querystring",
            "required": false,
            "in": "header",
            "description": "Query parameters in URL-encoded format. Available parameters:\n      \n• limit (integer): Maximum number of content items to return (default: 50)\n\n• position (integer): Starting position for pagination (default: 0)  \n\n• city (string): Filter content by city name (URL-encoded for special characters)\n\n• state (string): Filter content by state/region code or name\n\n• networkId (string): Filter content by specific network identifier\n\nAll parameters are optional. Multiple parameters should be separated by '&'.\nSpecial characters in values should be URL-encoded (e.g., 'São Paulo' → 'S%C3%A3o%20Paulo').\n  - limit=10\n  - limit=20&position=10\n  - city=Rio%20de%20Janeiro&state=RJ\n  - position=0&limit=20&networkId=claro-123",
            "schema": {
              "type": "string",
              "pattern": "^([a-zA-Z0-9_]+(=[^&]*)?(&[a-zA-Z0-9_]+(=[^&]*)?)*)?$"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Carousel data retrieved successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CarouselResponseSchema"
                }
              }
            }
          },
          "422": {
            "description": "Carousel configuration not found",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": {
                      "type": "string",
                      "example": "CAROUSEL_NOT_FOUND"
                    },
                    "message": {
                      "type": "string",
                      "example": "Carousel with id 'football-carousel' not found"
                    },
                    "response": {
                      "type": "object",
                      "example": null
                    },
                    "requestId": {
                      "type": "string",
                      "example": "uuid-request-id"
                    }
                  }
                }
              }
            }
          },
          "500": {
            "description": "Internal server error",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "statusCode": {
                      "type": "number",
                      "example": 500
                    },
                    "message": {
                      "type": "string",
                      "example": "Failed to fetch carousel configuration"
                    },
                    "error": {
                      "type": "string",
                      "example": "Internal Server Error"
                    }
                  }
                }
              }
            }
          }
        },
        "summary": "Get carousel by ID",
        "tags": [
          "Carousel"
        ]
      }
    }
  },
  "tags": [],
  "servers": [
    {
      "url": "https://api.claro.com.br/",
      "description": "Production environment"
    }
  ],
  "components": {
    "securitySchemes": {
      "ApiKeyAuth": {
        "type": "apiKey",
        "name": "X-Client-Auth",
        "in": "header"
      }
    },
    "schemas": {
      "TvChannelSchema": {
        "type": "object",
        "properties": {
          "id": {
            "type": "number",
            "description": "Channel ID",
            "example": 50
          },
          "name": {
            "type": "string",
            "description": "Channel name",
            "example": "SporTV"
          },
          "type": {
            "type": "string",
            "description": "Channel type",
            "example": "Sports"
          },
          "logo": {
            "type": "string",
            "description": "Channel logo URL",
            "example": "https://example.com/logo.png"
          },
          "isFree": {
            "type": "boolean",
            "description": "Is free channel",
            "example": false
          },
          "stamp": {
            "type": "string",
            "description": "Channel stamp",
            "example": "HD"
          },
          "playerBuffer": {
            "type": "number",
            "description": "Player buffer time",
            "example": 10
          },
          "channelNumber": {
            "type": "number",
            "description": "Channel number",
            "example": 50
          },
          "isLowLatency": {
            "type": "boolean",
            "description": "Low latency support",
            "example": false
          },
          "primaryColors": {
            "description": "Primary colors",
            "example": [
              "#FF0000",
              "#FFFFFF"
            ],
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "replayTvTime": {
            "type": "number",
            "description": "Replay TV time in days",
            "example": 7
          }
        },
        "required": [
          "id"
        ]
      },
      "RatingSchema": {
        "type": "object",
        "properties": {
          "code": {
            "type": "string",
            "description": "Rating code",
            "example": "1"
          },
          "descriptor": {
            "description": "Rating descriptors",
            "example": [],
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "selfParental": {
            "type": "boolean",
            "description": "Self parental control",
            "example": false
          }
        },
        "required": [
          "code",
          "descriptor",
          "selfParental"
        ]
      },
      "MetadataSchema": {
        "type": "object",
        "properties": {
          "team1": {
            "type": "string",
            "description": "Team 1 name",
            "example": "Boca Juniors"
          },
          "team1Logo": {
            "type": "string",
            "description": "Team 1 logo URL",
            "example": "https://example.com/boca-logo.png"
          },
          "team2": {
            "type": "string",
            "description": "Team 2 name",
            "example": "Racing"
          },
          "team2Logo": {
            "type": "string",
            "description": "Team 2 logo URL",
            "example": "https://example.com/racing-logo.png"
          },
          "championship": {
            "type": "string",
            "description": "Championship name",
            "example": "Copa Argentina"
          },
          "series": {
            "type": "string",
            "description": "Series information",
            "example": "Serie A"
          },
          "season": {
            "type": "string",
            "description": "Season information",
            "example": "2024"
          },
          "round": {
            "type": "string",
            "description": "Round information",
            "example": "Quartas"
          },
          "phase": {
            "type": "string",
            "description": "Phase information",
            "example": "Fase de Grupos"
          },
          "stadium": {
            "type": "string",
            "description": "Stadium name",
            "example": "La Bombonera"
          },
          "country": {
            "type": "string",
            "description": "Country",
            "example": "Argentina"
          }
        },
        "required": [
          "team1",
          "team1Logo",
          "team2",
          "team2Logo",
          "championship",
          "series",
          "season",
          "round",
          "phase",
          "stadium",
          "country"
        ]
      },
      "ContentItemSchema": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "description": "Content ID",
            "example": "event-123",
            "nullable": true
          },
          "programId": {
            "type": "string",
            "description": "Program ID",
            "example": "50-000332048188"
          },
          "seriesId": {
            "type": "string",
            "description": "Series ID",
            "example": null,
            "nullable": true
          },
          "title": {
            "type": "string",
            "description": "Content title",
            "example": "VT - Boca Juniors x Racing"
          },
          "description": {
            "type": "string",
            "description": "Content description",
            "example": "Com muita paixão nas arquibancadas..."
          },
          "startTime": {
            "type": "number",
            "description": "Start time (Unix timestamp)",
            "example": 1754928000
          },
          "endTime": {
            "type": "number",
            "description": "End time (Unix timestamp)",
            "example": 1754935200
          },
          "formattedTime": {
            "type": "string",
            "description": "Formatted time string",
            "example": "Segunda-feira, 11 de Agosto, das 13:00 às 15:00"
          },
          "progress": {
            "type": "number",
            "description": "Progress percentage",
            "example": 89
          },
          "duration": {
            "type": "number",
            "description": "Duration in seconds",
            "example": 7200
          },
          "type": {
            "type": "string",
            "description": "Content type",
            "example": "liveContent"
          },
          "isStartOver": {
            "type": "boolean",
            "description": "Start over availability",
            "example": true
          },
          "isCatchup": {
            "type": "boolean",
            "description": "Catchup availability",
            "example": true
          },
          "isRecordable": {
            "type": "boolean",
            "description": "Recordable status",
            "example": null,
            "nullable": true
          },
          "isGap": {
            "type": "boolean",
            "description": "Gap status",
            "example": null,
            "nullable": true
          },
          "isBlackout": {
            "type": "boolean",
            "description": "Blackout status",
            "example": null,
            "nullable": true
          },
          "tvChannels": {
            "description": "TV channels",
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/TvChannelSchema"
            }
          },
          "image": {
            "type": "string",
            "description": "Image URL",
            "example": "https://fh1i2j3k4l5mdgr.clarocdn.com.br/images_epg/{{image-size-placeholder}}/0001358479_epg.jpg"
          },
          "episodeName": {
            "type": "string",
            "description": "Episode name",
            "example": null,
            "nullable": true
          },
          "seasonNumber": {
            "type": "number",
            "description": "Season number",
            "example": null,
            "nullable": true
          },
          "episodeNumber": {
            "type": "number",
            "description": "Episode number",
            "example": null,
            "nullable": true
          },
          "rating": {
            "description": "Content rating",
            "allOf": [
              {
                "$ref": "#/components/schemas/RatingSchema"
              }
            ]
          },
          "url": {
            "type": "string",
            "description": "Content URL",
            "example": ""
          },
          "metadata": {
            "description": "Additional metadata",
            "allOf": [
              {
                "$ref": "#/components/schemas/MetadataSchema"
              }
            ]
          }
        },
        "required": [
          "id",
          "programId",
          "seriesId",
          "title",
          "description",
          "startTime",
          "endTime",
          "formattedTime",
          "progress",
          "duration",
          "type",
          "isStartOver",
          "isCatchup",
          "isRecordable",
          "isGap",
          "isBlackout",
          "tvChannels",
          "image",
          "episodeName",
          "seasonNumber",
          "episodeNumber",
          "rating",
          "url",
          "metadata"
        ]
      },
      "CarouselResponseSchema": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "description": "Carousel ID",
            "example": "football-carousel",
            "nullable": true
          },
          "title": {
            "type": "string",
            "description": "Carousel title",
            "example": "Futebol"
          },
          "layout": {
            "type": "string",
            "description": "Carousel layout",
            "example": "events"
          },
          "categories": {
            "description": "Categories",
            "example": [],
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "contents": {
            "description": "Content items",
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/ContentItemSchema"
            }
          }
        },
        "required": [
          "id",
          "title",
          "layout",
          "categories",
          "contents"
        ]
      }
    }
  },
  "security": [
    {
      "ApiKeyAuth": []
    }
  ]
}
