{
  "swagger": "2.0",
  "info": {
    "description": "This is the API documentation for the COP 4331 Small Project",
    "version": "1.0.0",
    "title": "Monkey Mingle",
    "contact": {
      "email": "ma915823@ucf.edu"
    },
    "license": {
      "name": "Apache 2.0",
      "url": "http://www.apache.org/licenses/LICENSE-2.0.html"
    },
    "x-jentic-source-url": "https://api.swaggerhub.com/apis/ucf-542/ShowSwagger1/1.0.0"
  },
  "paths": {
    "/searchContact.php": {
      "post": {
        "tags": [
          "Contacts"
        ],
        "summary": "Searches contacts.",
        "operationId": "searchContact",
        "description": "Searches for a user from the database.",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "body",
            "name": "searchItem",
            "description": "Contact Search",
            "schema": {
              "$ref": "#/definitions/Search"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          },
          "404": {
            "description": "URL Not Found"
          },
          "500": {
            "description": "Server Error"
          }
        }
      }
    }
  },
  "definitions": {
    "Search": {
      "type": "object",
      "required": [
        "userID",
        "name"
      ],
      "properties": {
        "userID": {
          "type": "integer",
          "example": 1
        },
        "name": {
          "type": "string",
          "example": "john"
        }
      }
    }
  },
  "host": "sp.cop4331c02s26.malcock.com",
  "basePath": "/LAMPAPI",
  "schemes": [
    "http"
  ]
}