{
  "openapi": "3.0.3",
  "info": {
    "title": "Veriff API",
    "version": "1.0.0",
    "description": "Veriff identity verification API for creating and managing verification sessions, retrieving results, and handling media.",
    "x-jentic-source-url": "https://devdocs.veriff.com/",
    "contact": {
      "name": "Veriff",
      "url": "https://veriff.com"
    }
  },
  "servers": [
    {
      "url": "https://stationapi.veriff.com/v1",
      "description": "Veriff Station API"
    }
  ],
  "security": [
    {
      "apiKeyAuth": []
    }
  ],
  "tags": [
    {
      "name": "Sessions",
      "description": "Verification session management"
    },
    {
      "name": "Decisions",
      "description": "Verification decisions and results"
    },
    {
      "name": "Media",
      "description": "Session media and documents"
    },
    {
      "name": "Attempts",
      "description": "Verification attempts"
    },
    {
      "name": "Watchlist",
      "description": "Watchlist screening"
    },
    {
      "name": "Identity",
      "description": "Identity verification"
    },
    {
      "name": "Proof of Address",
      "description": "Address verification"
    }
  ],
  "paths": {
    "/sessions": {
      "post": {
        "tags": [
          "Sessions"
        ],
        "operationId": "createSession",
        "summary": "Create a verification session",
        "description": "Create a new identity verification session.",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateSessionRequest"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Session created",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SessionResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      }
    },
    "/sessions/{sessionId}": {
      "get": {
        "tags": [
          "Sessions"
        ],
        "operationId": "getSession",
        "summary": "Get session details",
        "parameters": [
          {
            "name": "sessionId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Session details"
          },
          "401": {
            "description": "Unauthorized"
          },
          "404": {
            "description": "Not found"
          }
        },
        "description": "Get session details"
      },
      "patch": {
        "tags": [
          "Sessions"
        ],
        "operationId": "updateSession",
        "summary": "Update session",
        "parameters": [
          {
            "name": "sessionId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Updated"
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          }
        },
        "description": "Update session"
      }
    },
    "/sessions/{sessionId}/decision": {
      "get": {
        "tags": [
          "Decisions"
        ],
        "operationId": "getSessionDecision",
        "summary": "Get verification decision",
        "parameters": [
          {
            "name": "sessionId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Decision result",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DecisionResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "404": {
            "description": "Not found"
          }
        },
        "description": "Get verification decision"
      }
    },
    "/sessions/{sessionId}/attempts": {
      "get": {
        "tags": [
          "Attempts"
        ],
        "operationId": "getSessionAttempts",
        "summary": "Get session attempts",
        "parameters": [
          {
            "name": "sessionId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "List of attempts"
          },
          "401": {
            "description": "Unauthorized"
          },
          "404": {
            "description": "Not found"
          }
        },
        "description": "Get session attempts"
      }
    },
    "/sessions/{sessionId}/media": {
      "get": {
        "tags": [
          "Media"
        ],
        "operationId": "getSessionMedia",
        "summary": "Get session media",
        "parameters": [
          {
            "name": "sessionId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Session media list"
          },
          "401": {
            "description": "Unauthorized"
          },
          "404": {
            "description": "Not found"
          }
        },
        "description": "Get session media"
      },
      "post": {
        "tags": [
          "Media"
        ],
        "operationId": "uploadSessionMedia",
        "summary": "Upload media to session",
        "parameters": [
          {
            "name": "sessionId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "requestBody": {
          "content": {
            "multipart/form-data": {
              "schema": {
                "type": "object",
                "properties": {
                  "image": {
                    "type": "string",
                    "format": "binary"
                  },
                  "context": {
                    "type": "string"
                  },
                  "timestamp": {
                    "type": "string"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Media uploaded"
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          }
        },
        "description": "Upload media to session"
      }
    },
    "/sessions/{sessionId}/media/{mediaId}": {
      "get": {
        "tags": [
          "Media"
        ],
        "operationId": "getMediaFile",
        "summary": "Download a media file",
        "parameters": [
          {
            "name": "sessionId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          },
          {
            "name": "mediaId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Media file",
            "content": {
              "application/octet-stream": {
                "schema": {
                  "type": "string",
                  "format": "binary"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "404": {
            "description": "Not found"
          }
        },
        "description": "Download a media file"
      }
    },
    "/sessions/{sessionId}/generated-media": {
      "get": {
        "tags": [
          "Media"
        ],
        "operationId": "getGeneratedMedia",
        "summary": "Get generated media for session",
        "parameters": [
          {
            "name": "sessionId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Generated media list"
          },
          "401": {
            "description": "Unauthorized"
          }
        },
        "description": "Get generated media for session"
      }
    },
    "/sessions/{sessionId}/person": {
      "get": {
        "tags": [
          "Identity"
        ],
        "operationId": "getSessionPerson",
        "summary": "Get person data from session",
        "parameters": [
          {
            "name": "sessionId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Person data"
          },
          "401": {
            "description": "Unauthorized"
          },
          "404": {
            "description": "Not found"
          }
        },
        "description": "Get person data from session"
      }
    },
    "/sessions/{sessionId}/close": {
      "patch": {
        "tags": [
          "Sessions"
        ],
        "operationId": "closeSession",
        "summary": "Close a verification session",
        "parameters": [
          {
            "name": "sessionId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Session closed"
          },
          "401": {
            "description": "Unauthorized"
          },
          "404": {
            "description": "Not found"
          }
        },
        "description": "Close a verification session"
      }
    },
    "/sessions/{sessionId}/watchlist-screening": {
      "post": {
        "tags": [
          "Watchlist"
        ],
        "operationId": "createWatchlistScreening",
        "summary": "Create watchlist screening",
        "parameters": [
          {
            "name": "sessionId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Screening created"
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          }
        },
        "description": "Create watchlist screening"
      },
      "get": {
        "tags": [
          "Watchlist"
        ],
        "operationId": "getWatchlistScreening",
        "summary": "Get watchlist screening results",
        "parameters": [
          {
            "name": "sessionId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Screening results"
          },
          "401": {
            "description": "Unauthorized"
          },
          "404": {
            "description": "Not found"
          }
        },
        "description": "Get watchlist screening results"
      }
    },
    "/sessions/{sessionId}/proof-of-address": {
      "get": {
        "tags": [
          "Proof of Address"
        ],
        "operationId": "getProofOfAddress",
        "summary": "Get proof of address results",
        "parameters": [
          {
            "name": "sessionId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Proof of address data"
          },
          "401": {
            "description": "Unauthorized"
          },
          "404": {
            "description": "Not found"
          }
        },
        "description": "Get proof of address results"
      }
    }
  },
  "components": {
    "securitySchemes": {
      "apiKeyAuth": {
        "type": "apiKey",
        "in": "header",
        "name": "X-AUTH-CLIENT",
        "description": "Veriff API key"
      }
    },
    "schemas": {
      "CreateSessionRequest": {
        "type": "object",
        "required": [
          "verification"
        ],
        "properties": {
          "verification": {
            "type": "object",
            "required": [
              "callback",
              "person"
            ],
            "properties": {
              "callback": {
                "type": "string",
                "format": "uri"
              },
              "person": {
                "$ref": "#/components/schemas/Person"
              },
              "document": {
                "$ref": "#/components/schemas/DocumentRequest"
              },
              "vendorData": {
                "type": "string"
              },
              "lang": {
                "type": "string"
              },
              "timestamp": {
                "type": "string",
                "format": "date-time"
              }
            }
          }
        }
      },
      "Person": {
        "type": "object",
        "properties": {
          "firstName": {
            "type": "string"
          },
          "lastName": {
            "type": "string"
          },
          "idNumber": {
            "type": "string"
          },
          "dateOfBirth": {
            "type": "string",
            "format": "date"
          },
          "gender": {
            "type": "string"
          },
          "nationality": {
            "type": "string"
          }
        }
      },
      "DocumentRequest": {
        "type": "object",
        "properties": {
          "type": {
            "type": "string",
            "enum": [
              "PASSPORT",
              "ID_CARD",
              "DRIVERS_LICENSE",
              "RESIDENCE_PERMIT"
            ]
          },
          "country": {
            "type": "string"
          },
          "number": {
            "type": "string"
          }
        }
      },
      "SessionResponse": {
        "type": "object",
        "properties": {
          "status": {
            "type": "string"
          },
          "verification": {
            "type": "object",
            "properties": {
              "id": {
                "type": "string",
                "format": "uuid"
              },
              "url": {
                "type": "string",
                "format": "uri"
              },
              "vendorData": {
                "type": "string"
              },
              "host": {
                "type": "string"
              },
              "status": {
                "type": "string"
              },
              "sessionToken": {
                "type": "string"
              }
            }
          }
        }
      },
      "DecisionResponse": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "format": "uuid"
          },
          "status": {
            "type": "string",
            "enum": [
              "approved",
              "declined",
              "resubmission_requested",
              "review",
              "expired",
              "abandoned"
            ]
          },
          "verification": {
            "type": "object",
            "properties": {
              "id": {
                "type": "string"
              },
              "code": {
                "type": "integer"
              },
              "person": {
                "$ref": "#/components/schemas/Person"
              },
              "document": {
                "type": "object"
              },
              "reason": {
                "type": "string"
              },
              "reasonCode": {
                "type": "integer"
              },
              "status": {
                "type": "string"
              },
              "vendorData": {
                "type": "string"
              }
            }
          }
        }
      }
    }
  }
}
