{
  "openapi": "3.0.0",
  "info": {
    "title": "AGService API",
    "description": "RESTful API to extract AGService API data",
    "contact": {
      "name": "AGService",
      "email": "felipe@xnet.eti.br",
      "url": "https://www.agservice.com.br/"
    },
    "version": "1.0.0",
    "x-jentic-source-url": "https://api.swaggerhub.com/apis/MONTANHATS/AGService/1.0.0"
  },
  "servers": [
    {
      "description": "AGService API",
      "url": "https://www.agservice.com.br/api"
    }
  ],
  "paths": {
    "/autentication": {
      "post": {
        "summary": "Generate token to access data extraction",
        "requestBody": {
          "content": {
            "json": {
              "schema": {
                "$ref": "#/components/schemas/Autorization__get"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "id": {
                      "type": "integer"
                    },
                    "name": {
                      "type": "string"
                    },
                    "token": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/export/totals": {
      "get": {
        "summary": "total records per table",
        "parameters": [
          {
            "name": "token",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "authentication token"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "brands": {
                      "type": "integer"
                    },
                    "cities": {
                      "type": "integer"
                    },
                    "cultures": {
                      "type": "integer"
                    },
                    "evaluations": {
                      "type": "integer"
                    },
                    "fungicides": {
                      "type": "integer"
                    },
                    "harvests": {
                      "type": "integer"
                    },
                    "herbicides": {
                      "type": "integer"
                    },
                    "insecticides": {
                      "type": "integer"
                    },
                    "seasons": {
                      "type": "integer"
                    },
                    "seeds": {
                      "type": "integer"
                    },
                    "states": {
                      "type": "integer"
                    },
                    "types": {
                      "type": "integer"
                    },
                    "users": {
                      "type": "integer"
                    },
                    "report": {
                      "type": "integer"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/export/brands": {
      "get": {
        "summary": "brands table records",
        "parameters": [
          {
            "name": "token",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "authentication token"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "brands": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "id": {
                            "type": "integer",
                            "description": "Brand ID"
                          },
                          "name": {
                            "type": "string",
                            "description": "Brand Name"
                          },
                          "my_brand": {
                            "type": "string",
                            "description": "Determine whether this brand is mine or a competitor's."
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/export/cities": {
      "get": {
        "summary": "cities table records",
        "parameters": [
          {
            "name": "token",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "authentication token"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "cities": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "id": {
                            "type": "integer"
                          },
                          "name": {
                            "type": "string"
                          },
                          "state_id": {
                            "type": "integer"
                          },
                          "last_update": {
                            "type": "string"
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/export/cultures": {
      "get": {
        "summary": "cultures table records",
        "parameters": [
          {
            "name": "token",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "authentication token"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "cultures": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "id": {
                            "type": "integer"
                          },
                          "name": {
                            "type": "string"
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/export/evaluations": {
      "get": {
        "summary": "evaluations table records",
        "parameters": [
          {
            "name": "token",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "authentication token"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "evaluations": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "id": {
                            "type": "integer"
                          },
                          "culture_id": {
                            "type": "integer"
                          },
                          "name": {
                            "type": "string"
                          },
                          "type": {
                            "type": "string"
                          },
                          "moment": {
                            "type": "string"
                          },
                          "limit_start": {
                            "type": "integer"
                          },
                          "limit_end": {
                            "type": "integer"
                          },
                          "active": {
                            "type": "string"
                          },
                          "decimal_points": {
                            "type": "integer"
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/export/fungicides": {
      "get": {
        "summary": "fungicides table records",
        "parameters": [
          {
            "name": "token",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "authentication token"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "fungicides": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "id": {
                            "type": "integer"
                          },
                          "culture_id": {
                            "type": "integer"
                          },
                          "name": {
                            "type": "string"
                          },
                          "active": {
                            "type": "string"
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/export/harvests": {
      "get": {
        "summary": "harvests table records",
        "parameters": [
          {
            "name": "token",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "authentication token"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "harvests": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "id": {
                            "type": "integer"
                          },
                          "name": {
                            "type": "string"
                          },
                          "default": {
                            "type": "string"
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/export/herbicides": {
      "get": {
        "summary": "herbicides table records",
        "parameters": [
          {
            "name": "token",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "authentication token"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "herbicides": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "id": {
                            "type": "integer"
                          },
                          "culture_id": {
                            "type": "integer"
                          },
                          "name": {
                            "type": "string"
                          },
                          "active": {
                            "type": "string"
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/export/insecticides": {
      "get": {
        "summary": "insecticides table records",
        "parameters": [
          {
            "name": "token",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "authentication token"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "insecticides": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "id": {
                            "type": "integer"
                          },
                          "culture_id": {
                            "type": "integer"
                          },
                          "name": {
                            "type": "string"
                          },
                          "active": {
                            "type": "string"
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/export/seasons": {
      "get": {
        "summary": "seasons table records",
        "parameters": [
          {
            "name": "token",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "authentication token"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "seasons": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "id": {
                            "type": "integer"
                          },
                          "culture_id": {
                            "type": "integer"
                          },
                          "name": {
                            "type": "string"
                          },
                          "sequence": {
                            "type": "string"
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/export/seeds": {
      "get": {
        "summary": "seeds table records",
        "parameters": [
          {
            "name": "token",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "authentication token"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "seeds": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "id": {
                            "type": "integer"
                          },
                          "brand_id": {
                            "type": "integer"
                          },
                          "name": {
                            "type": "string"
                          },
                          "active": {
                            "type": "string"
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/export/states": {
      "get": {
        "summary": "states table records",
        "parameters": [
          {
            "name": "token",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "authentication token"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "states": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "id": {
                            "type": "integer"
                          },
                          "name": {
                            "type": "string"
                          },
                          "name_reduced": {
                            "type": "string"
                          },
                          "last_update": {
                            "type": "string"
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/export/types": {
      "get": {
        "summary": "types table records",
        "parameters": [
          {
            "name": "token",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "authentication token"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "types": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "id": {
                            "type": "integer"
                          },
                          "culture_id": {
                            "type": "integer"
                          },
                          "name": {
                            "type": "string"
                          },
                          "sequence": {
                            "type": "string"
                          },
                          "color": {
                            "type": "string"
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/export/users": {
      "get": {
        "summary": "users table records",
        "parameters": [
          {
            "name": "token",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "authentication token"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "users": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "id": {
                            "type": "integer"
                          },
                          "name": {
                            "type": "string"
                          },
                          "email": {
                            "type": "string"
                          },
                          "active": {
                            "type": "string"
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/export/report/{limit}/{offset}": {
      "get": {
        "summary": "report data",
        "parameters": [
          {
            "name": "token",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "authentication token"
          },
          {
            "name": "limit",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "example": 500
            },
            "description": "limit records to bring back"
          },
          {
            "name": "offset",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "example": 1000
            },
            "description": "record to start"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "report": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "response_id": {
                            "type": "integer"
                          },
                          "protocol_id": {
                            "type": "integer"
                          },
                          "protocol_culture_id": {
                            "type": "integer"
                          },
                          "protocol_culture_name": {
                            "type": "string"
                          },
                          "protocol_number": {
                            "type": "string"
                          },
                          "protocol_year": {
                            "type": "string"
                          },
                          "protocol_harvest_id": {
                            "type": "integer"
                          },
                          "protocol_harvest_name": {
                            "type": "string"
                          },
                          "protocol_seasson_id": {
                            "type": "integer"
                          },
                          "protocol_seasson_name": {
                            "type": "string"
                          },
                          "protocol_name": {
                            "type": "string"
                          },
                          "protocol_type_id": {
                            "type": "integer"
                          },
                          "protocol_type_name": {
                            "type": "string"
                          },
                          "protocol_status": {
                            "type": "string"
                          },
                          "protocol_silage": {
                            "type": "string"
                          },
                          "protocol_observation": {
                            "type": "string"
                          },
                          "protocol_owner_id": {
                            "type": "integer"
                          },
                          "protocol_owner_name": {
                            "type": "string"
                          },
                          "protocol_owner_email": {
                            "type": "string"
                          },
                          "protocol_date_validaton": {
                            "type": "string"
                          },
                          "protocol_release_id": {
                            "type": "integer"
                          },
                          "protocol_release_name": {
                            "type": "string"
                          },
                          "protocol_release_email": {
                            "type": "string"
                          },
                          "protocol_release_date": {
                            "type": "string"
                          },
                          "protocol_end_id": {
                            "type": "integer"
                          },
                          "protocol_end_name": {
                            "type": "string"
                          },
                          "protocol_end_email": {
                            "type": "string"
                          },
                          "protocol_end_date": {
                            "type": "string"
                          },
                          "protocol_cancel_id": {
                            "type": "integer"
                          },
                          "protocol_cancel_name": {
                            "type": "string"
                          },
                          "protocol_cancel_email": {
                            "type": "string"
                          },
                          "protocol_cancel_date": {
                            "type": "string"
                          },
                          "trial_id": {
                            "type": "integer"
                          },
                          "trial_code": {
                            "type": "string"
                          },
                          "trial_name": {
                            "type": "string"
                          },
                          "trial_state_id": {
                            "type": "integer"
                          },
                          "trial_state_name": {
                            "type": "string"
                          },
                          "trial_city_id": {
                            "type": "integer"
                          },
                          "trial_city_name": {
                            "type": "string"
                          },
                          "trial_farmer": {
                            "type": "string"
                          },
                          "trial_farm": {
                            "type": "string"
                          },
                          "trial_date_planting": {
                            "type": "string"
                          },
                          "trial_date_harvesting": {
                            "type": "string"
                          },
                          "trial_latitude": {
                            "type": "string"
                          },
                          "trial_longitude": {
                            "type": "string"
                          },
                          "trial_altitude": {
                            "type": "string"
                          },
                          "trial_observation": {
                            "type": "string"
                          },
                          "trial_planted_area": {
                            "type": "integer"
                          },
                          "trial_customer_type": {
                            "type": "string"
                          },
                          "trial_objective": {
                            "type": "string"
                          },
                          "trial_base_adubation_n": {
                            "type": "string"
                          },
                          "trial_base_adubation_p": {
                            "type": "string"
                          },
                          "trial_base_adubation_k": {
                            "type": "string"
                          },
                          "trial_base_adubation_dose": {
                            "type": "number"
                          },
                          "trial_harvest_adubation_n": {
                            "type": "string"
                          },
                          "trial_harvest_adubation_p": {
                            "type": "string"
                          },
                          "trial_harvest_adubation_k": {
                            "type": "string"
                          },
                          "trial_harvest_adubation_dose": {
                            "type": "number"
                          },
                          "trial_insecticides": {
                            "type": "string"
                          },
                          "trial_herbicides": {
                            "type": "string"
                          },
                          "trial_fungicides": {
                            "type": "string"
                          },
                          "trial_outros": {
                            "type": "string"
                          },
                          "trial_climate": {
                            "type": "string"
                          },
                          "trial_handling": {
                            "type": "string"
                          },
                          "trial_irrigation": {
                            "type": "string"
                          },
                          "trial_previous_culture": {
                            "type": "string"
                          },
                          "trial_investment": {
                            "type": "string"
                          },
                          "trial_ending_comments": {
                            "type": "string"
                          },
                          "trial_lost_date": {
                            "type": "string"
                          },
                          "trial_lost_reason": {
                            "type": "string"
                          },
                          "trial_approved": {
                            "type": "string"
                          },
                          "trial_approved_date": {
                            "type": "string"
                          },
                          "trial_approved_reason": {
                            "type": "string"
                          },
                          "trial_promoter_user_id": {
                            "type": "integer"
                          },
                          "trial_promoter_user_name": {
                            "type": "string"
                          },
                          "trial_promoter_user_email": {
                            "type": "string"
                          },
                          "trial_approved_user_id": {
                            "type": "integer"
                          },
                          "trial_approved_user_name": {
                            "type": "string"
                          },
                          "trial_approved_user_email": {
                            "type": "string"
                          },
                          "trial_classification": {
                            "type": "integer"
                          },
                          "trial_owner_user_name": {
                            "type": "string"
                          },
                          "trial_owner_user_email": {
                            "type": "string"
                          },
                          "seed_id": {
                            "type": "integer"
                          },
                          "seed_name": {
                            "type": "string"
                          },
                          "seed_brand": {
                            "type": "string"
                          },
                          "seed_active": {
                            "type": "string"
                          },
                          "evaluation_id": {
                            "type": "integer"
                          },
                          "evaluation_name": {
                            "type": "string"
                          },
                          "evaluation_type": {
                            "type": "string"
                          },
                          "evaluation_moment": {
                            "type": "string"
                          },
                          "evaluation_start": {
                            "type": "integer"
                          },
                          "evaluation_end": {
                            "type": "integer"
                          },
                          "evaluation_decimal_points": {
                            "type": "integer"
                          },
                          "response_mandatory": {
                            "type": "string"
                          },
                          "response_value": {
                            "type": "string"
                          },
                          "response_last_update": {
                            "type": "string"
                          },
                          "response_reported": {
                            "type": "string"
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    }
  },
  "components": {
    "schemas": {
      "Autorization__get": {
        "properties": {
          "email": {
            "type": "string",
            "title": "email"
          },
          "senha": {
            "type": "string",
            "title": "senha"
          }
        },
        "type": "object",
        "required": [
          "email",
          "senha"
        ]
      }
    }
  }
}