{
  "openapi": "3.1.0",
  "info": {
    "title": "Policy API",
    "description": "This API provides a fast and reliable way for partners to create insurance policies for their customers via Nimio/Eraf\u00f6rs\u00e4kringar. It also supports the removal of policies created earlier via this API by the same partner.",
    "version": "v1",
    "x-jentic-source-url": "https://api.swaggerhub.com/apis/Leentech/policy-api/v1"
  },
  "servers": [
    {
      "url": "https://api.nimio.io"
    },
    {
      "url": "https://api-test.nimio.io"
    }
  ],
  "paths": {
    "/v1/customers/{id}": {
      "get": {
        "tags": [
          "customer"
        ],
        "summary": "Get customer",
        "description": "Returns details about the specified customer",
        "operationId": "getCustomer",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful operation",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CustomerApiResponse"
                }
              }
            }
          },
          "404": {
            "description": "Invalid id",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CustomerApiResponse"
                }
              }
            }
          }
        },
        "security": [
          {
            "policy_api_auth": [
              "read:customer"
            ]
          }
        ]
      },
      "put": {
        "tags": [
          "customer-controller"
        ],
        "operationId": "updateCustomer",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CustomerDTO"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CustomerApiResponse"
                }
              }
            }
          }
        }
      }
    },
    "/v1/policies": {
      "post": {
        "tags": [
          "policy"
        ],
        "summary": "Create a new policy",
        "description": "This operation creates a new policy for the insurance provider. Information about the policy and the customer is stored in the partner system to allow later changes to insurance products or cancellations.",
        "operationId": "createPolicy",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreatePolicyRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "201": {
            "description": "Successful operation",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiResponse"
                }
              }
            }
          },
          "400": {
            "description": "Invalid input",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiErrorResponse"
                }
              }
            }
          }
        },
        "security": [
          {
            "policy_api_auth": [
              "create:policy"
            ]
          }
        ]
      }
    },
    "/v1/policies/{id}": {
      "get": {
        "tags": [
          "policy"
        ],
        "summary": "Get policy",
        "description": "Returns details about the specified policy",
        "operationId": "getPolicy",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful operation",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiResponse"
                }
              }
            }
          },
          "404": {
            "description": "Invalid id",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiErrorResponse"
                }
              }
            }
          }
        },
        "security": [
          {
            "policy_api_auth": [
              "read:policy"
            ]
          }
        ]
      },
      "patch": {
        "tags": [
          "policy"
        ],
        "summary": "Update an exiting policy",
        "description": "This operation updates a existing policy and can be used to cancel the policy.",
        "operationId": "patchPolicy",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/PolicyDTO"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Successful operation",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiResponse"
                }
              }
            }
          },
          "400": {
            "description": "Invalid input",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiErrorResponse"
                }
              }
            }
          }
        },
        "security": [
          {
            "policy_api_auth": [
              "update:policy"
            ]
          }
        ]
      }
    },
    "/v1/policies/search": {
      "get": {
        "tags": [
          "policy"
        ],
        "summary": "Search policies",
        "description": "Search policies",
        "operationId": "search",
        "parameters": [
          {
            "name": "after",
            "in": "query",
            "description": "Cursor",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "description": "Max items to return",
            "required": false,
            "schema": {
              "type": "integer",
              "format": "int32",
              "default": 20
            }
          },
          {
            "name": "product",
            "in": "query",
            "description": "Insurance product, ex. id-protect-single"
          },
          {
            "name": "partner-reference",
            "in": "query",
            "description": "Partner reference"
          },
          {
            "name": "status",
            "in": "query",
            "description": "Status of the policy",
            "schema": {
              "type": "string",
              "anyOf": [
                {
                  "type": "string",
                  "enum": [
                    "PENDING",
                    "ACTIVE",
                    "PENDING_CANCELLATION",
                    "CANCELED",
                    "LAPSED",
                    "ERROR",
                    "UNKNOWN"
                  ]
                }
              ]
            }
          },
          {
            "name": "arg2",
            "in": "query",
            "required": true,
            "schema": {
              "$ref": "#/components/schemas/SpecificationPolicy"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SearchResponsePolicyDTO"
                }
              }
            }
          }
        },
        "security": [
          {
            "policy_api_auth": [
              "read:policy"
            ]
          }
        ]
      }
    },
    "/v1/customers/search": {
      "get": {
        "tags": [
          "customer"
        ],
        "summary": "Search customers",
        "description": "Search customers",
        "operationId": "search_1",
        "parameters": [
          {
            "name": "after",
            "in": "query",
            "description": "Cursor",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "description": "Max items to return",
            "required": false,
            "schema": {
              "type": "integer",
              "format": "int32",
              "default": 20
            }
          },
          {
            "name": "partner-reference",
            "in": "query",
            "description": "Partner reference"
          },
          {
            "name": "arg2",
            "in": "query",
            "required": true,
            "schema": {
              "$ref": "#/components/schemas/SpecificationCustomer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SearchResponseCustomerDTO"
                }
              }
            }
          }
        },
        "security": [
          {
            "policy_api_auth": [
              "read:customer"
            ]
          }
        ]
      }
    }
  },
  "components": {
    "schemas": {
      "AddressDTO": {
        "type": "object",
        "properties": {
          "streetAddress": {
            "type": "string"
          },
          "postalCode": {
            "type": "string",
            "pattern": "[\\d]+"
          },
          "postalArea": {
            "type": "string"
          },
          "countryCode": {
            "type": "string"
          }
        },
        "required": [
          "countryCode",
          "postalArea",
          "postalCode",
          "streetAddress"
        ]
      },
      "CustomerDTO": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string"
          },
          "name": {
            "type": "string",
            "maxLength": 100,
            "minLength": 2
          },
          "firstName": {
            "type": "string",
            "maxLength": 100,
            "minLength": 2
          },
          "lastName": {
            "type": "string",
            "maxLength": 100,
            "minLength": 2
          },
          "email": {
            "type": "string"
          },
          "customerType": {
            "type": "string",
            "enum": [
              "PERSON",
              "BUSINESS"
            ]
          },
          "idType": {
            "type": "string",
            "enum": [
              "PERSONNUMMER",
              "ORGANISATIONSNUMMER",
              "NONE"
            ]
          },
          "idNumber": {
            "type": "string"
          },
          "partnerReference": {
            "type": "string"
          },
          "address": {
            "$ref": "#/components/schemas/AddressDTO"
          },
          "phoneNumber": {
            "type": "string"
          },
          "policies": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/PolicyDTO"
            }
          }
        },
        "required": [
          "address",
          "email",
          "firstName",
          "lastName"
        ]
      },
      "PolicyDTO": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string"
          },
          "product": {
            "type": "string"
          },
          "status": {
            "type": "string",
            "enum": [
              "PENDING",
              "ACTIVE",
              "PENDING_CANCELLATION",
              "CANCELED",
              "LAPSED",
              "ERROR",
              "UNKNOWN"
            ]
          },
          "statusMessage": {
            "type": "string"
          },
          "startDate": {
            "type": "string"
          },
          "endDate": {
            "type": "string"
          },
          "customerId": {
            "type": "string"
          },
          "partnerReference": {
            "type": "string"
          },
          "orderNumber": {
            "type": "string"
          }
        }
      },
      "CustomerApiResponse": {
        "type": "object",
        "properties": {
          "requestId": {
            "type": "string"
          },
          "customers": {
            "$ref": "#/components/schemas/CustomerDTO"
          }
        }
      },
      "CreatePolicyRequest": {
        "type": "object",
        "description": "Create policy request",
        "properties": {
          "customer": {
            "$ref": "#/components/schemas/CustomerDTO"
          },
          "product": {
            "type": "string"
          },
          "brokerRef": {
            "type": "string"
          },
          "broker": {
            "type": "string"
          },
          "insuranceStartDate": {
            "type": "string"
          }
        },
        "required": [
          "customer",
          "insuranceStartDate",
          "product"
        ]
      },
      "ApiErrorResponse": {
        "type": "object",
        "properties": {
          "requestId": {
            "type": "string"
          },
          "errors": {
            "type": "array",
            "items": {
              "type": "string"
            }
          }
        }
      },
      "ApiResponse": {
        "type": "object",
        "properties": {
          "requestId": {
            "type": "string"
          },
          "policy": {
            "$ref": "#/components/schemas/PolicyDTO"
          }
        }
      },
      "SpecificationPolicy": {
        "type": "object"
      },
      "PageInfo": {
        "type": "object",
        "properties": {
          "startCursor": {
            "type": "string"
          },
          "endCursor": {
            "type": "string"
          },
          "hasNextPage": {
            "type": "boolean"
          },
          "hasPreviousPage": {
            "type": "boolean"
          }
        }
      },
      "SearchResponsePolicyDTO": {
        "type": "object",
        "properties": {
          "requestId": {
            "type": "string"
          },
          "items": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/PolicyDTO"
            }
          },
          "pageInfo": {
            "$ref": "#/components/schemas/PageInfo"
          }
        }
      },
      "SpecificationCustomer": {
        "type": "object"
      },
      "SearchResponseCustomerDTO": {
        "type": "object",
        "properties": {
          "requestId": {
            "type": "string"
          },
          "items": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/CustomerDTO"
            }
          },
          "pageInfo": {
            "$ref": "#/components/schemas/PageInfo"
          }
        }
      }
    },
    "securitySchemes": {
      "policy_api_auth": {
        "type": "oauth2",
        "description": "OAuth Client Credentials Flow is used for authenticating and authorizing access to these APIs.The OAuth Client Credentials flow is a \"server to server\" flow. There is no user authentication involved in the process.",
        "in": "header",
        "scheme": "bearer",
        "bearerFormat": "JWT",
        "flows": {
          "clientCredentials": {
            "tokenUrl": "https://alvima-test.eu.auth0.com/oauth/token",
            "scopes": {
              "create:policy": "Create insurance policy",
              "update:policy": "Update insurance policy"
            }
          }
        }
      }
    }
  }
}