{
  "openapi": "3.0.3",
  "info": {
    "title": "BigDataCloud API",
    "version": "1.0.0",
    "description": "BigDataCloud provides geolocation and geocoding APIs. Includes IP geolocation (both full and lite versions), reverse geocoding to city/country level, and client IP information. Free tier available with API key authentication.",
    "x-jentic-source-url": "https://www.bigdatacloud.com/docs/api",
    "contact": {
      "name": "API Support"
    }
  },
  "servers": [
    {
      "url": "https://api.bigdatacloud.net",
      "description": "BigDataCloud API Server"
    }
  ],
  "security": [
    {
      "apiKey": []
    }
  ],
  "tags": [
    {
      "name": "IP Geolocation",
      "description": "IP-based geolocation APIs"
    },
    {
      "name": "Reverse Geocoding",
      "description": "Coordinate-based reverse geocoding"
    },
    {
      "name": "Client Info",
      "description": "Client/caller information"
    }
  ],
  "paths": {
    "/data/ip-geolocation-full": {
      "get": {
        "operationId": "getIpGeolocationFull",
        "summary": "IP Geolocation (Full)",
        "description": "Returns comprehensive geolocation data for a given IP address including city, region, country, ISP, organization, timezone, and confidence metrics.",
        "tags": [
          "IP Geolocation"
        ],
        "parameters": [
          {
            "name": "ip",
            "in": "query",
            "description": "IPv4 or IPv6 address to geolocate. If omitted, the caller's IP is used.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "localityLanguage",
            "in": "query",
            "description": "Preferred language for locality names (e.g., 'en' for English). Default 'en'.",
            "schema": {
              "type": "string",
              "default": "en"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Geolocation data",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/IpGeolocationFull"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized - invalid API key"
          },
          "429": {
            "description": "Rate limit exceeded"
          }
        }
      }
    },
    "/data/ip-geolocation": {
      "get": {
        "operationId": "getIpGeolocation",
        "summary": "IP Geolocation (Lite)",
        "description": "Returns basic geolocation data for a given IP address including country, city, and coordinates.",
        "tags": [
          "IP Geolocation"
        ],
        "parameters": [
          {
            "name": "ip",
            "in": "query",
            "description": "IPv4 or IPv6 address to geolocate. If omitted, the caller's IP is used.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "localityLanguage",
            "in": "query",
            "description": "Preferred language for locality names",
            "schema": {
              "type": "string",
              "default": "en"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Geolocation data",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/IpGeolocation"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "429": {
            "description": "Rate limit exceeded"
          }
        }
      }
    },
    "/data/reverse-geocode-client": {
      "get": {
        "operationId": "reverseGeocodeClient",
        "summary": "Reverse Geocode (Client)",
        "description": "Returns reverse geocoding data based on the caller's IP-derived location. Free endpoint, no API key required for client-side use.",
        "tags": [
          "Reverse Geocoding"
        ],
        "parameters": [
          {
            "name": "localityLanguage",
            "in": "query",
            "description": "Preferred language for locality names",
            "schema": {
              "type": "string",
              "default": "en"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Reverse geocoding data",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ReverseGeocode"
                }
              }
            }
          }
        },
        "security": []
      }
    },
    "/data/reverse-geocode": {
      "get": {
        "operationId": "reverseGeocode",
        "summary": "Reverse Geocode (Server)",
        "description": "Returns reverse geocoding data for given latitude and longitude coordinates. Includes locality, city, region, and country information.",
        "tags": [
          "Reverse Geocoding"
        ],
        "parameters": [
          {
            "name": "latitude",
            "in": "query",
            "required": true,
            "description": "Latitude coordinate (-90 to 90)",
            "schema": {
              "type": "number",
              "format": "double"
            }
          },
          {
            "name": "longitude",
            "in": "query",
            "required": true,
            "description": "Longitude coordinate (-180 to 180)",
            "schema": {
              "type": "number",
              "format": "double"
            }
          },
          {
            "name": "localityLanguage",
            "in": "query",
            "description": "Preferred language for locality names",
            "schema": {
              "type": "string",
              "default": "en"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Reverse geocoding data",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ReverseGeocode"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "429": {
            "description": "Rate limit exceeded"
          }
        }
      }
    },
    "/data/client-ip": {
      "get": {
        "operationId": "getClientIp",
        "summary": "Get Client IP",
        "description": "Returns the caller's IP address and basic information.",
        "tags": [
          "Client Info"
        ],
        "responses": {
          "200": {
            "description": "Client IP information",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "ipString": {
                      "type": "string",
                      "description": "The caller's IP address"
                    },
                    "ipType": {
                      "type": "integer",
                      "description": "4 for IPv4, 6 for IPv6"
                    }
                  }
                }
              }
            }
          }
        },
        "security": []
      }
    },
    "/data/timezone-by-ip": {
      "get": {
        "operationId": "getTimezoneByIp",
        "summary": "Timezone by IP",
        "description": "Returns timezone information for a given IP address.",
        "tags": [
          "IP Geolocation"
        ],
        "parameters": [
          {
            "name": "ip",
            "in": "query",
            "description": "IPv4 or IPv6 address. If omitted, caller's IP is used.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Timezone information",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TimezoneInfo"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "429": {
            "description": "Rate limit exceeded"
          }
        }
      }
    }
  },
  "components": {
    "securitySchemes": {
      "apiKey": {
        "type": "apiKey",
        "name": "key",
        "in": "query",
        "description": "API key passed as the 'key' query parameter."
      }
    },
    "schemas": {
      "IpGeolocationFull": {
        "type": "object",
        "properties": {
          "ip": {
            "type": "string"
          },
          "country": {
            "$ref": "#/components/schemas/Country"
          },
          "location": {
            "$ref": "#/components/schemas/Location"
          },
          "lastUpdated": {
            "type": "string"
          },
          "network": {
            "$ref": "#/components/schemas/Network"
          },
          "confidence": {
            "type": "string"
          },
          "confidenceArea": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "latitude": {
                  "type": "number"
                },
                "longitude": {
                  "type": "number"
                }
              }
            }
          },
          "isReachableGlobally": {
            "type": "boolean"
          },
          "ipType": {
            "type": "string"
          }
        }
      },
      "IpGeolocation": {
        "type": "object",
        "properties": {
          "ip": {
            "type": "string"
          },
          "country": {
            "$ref": "#/components/schemas/Country"
          },
          "location": {
            "$ref": "#/components/schemas/Location"
          },
          "lastUpdated": {
            "type": "string"
          }
        }
      },
      "Country": {
        "type": "object",
        "properties": {
          "isoAlpha2": {
            "type": "string",
            "example": "US"
          },
          "isoAlpha3": {
            "type": "string",
            "example": "USA"
          },
          "name": {
            "type": "string",
            "example": "United States"
          },
          "isoNameFull": {
            "type": "string"
          }
        }
      },
      "Location": {
        "type": "object",
        "properties": {
          "isoPrincipalSubdivision": {
            "type": "string"
          },
          "isoPrincipalSubdivisionCode": {
            "type": "string"
          },
          "city": {
            "type": "string"
          },
          "postcode": {
            "type": "string"
          },
          "latitude": {
            "type": "number",
            "format": "double"
          },
          "longitude": {
            "type": "number",
            "format": "double"
          },
          "timeZone": {
            "$ref": "#/components/schemas/TimeZone"
          },
          "localityLanguageRequested": {
            "type": "string"
          }
        }
      },
      "Network": {
        "type": "object",
        "properties": {
          "registry": {
            "type": "string"
          },
          "registryStatus": {
            "type": "string"
          },
          "registeredCountry": {
            "type": "string"
          },
          "registeredCountryName": {
            "type": "string"
          },
          "organisation": {
            "type": "string"
          },
          "isReachableGlobally": {
            "type": "boolean"
          },
          "isBogon": {
            "type": "boolean"
          },
          "bgpPrefix": {
            "type": "string"
          },
          "bgpPrefixNetworkAddress": {
            "type": "string"
          },
          "bgpPrefixLastAddress": {
            "type": "string"
          },
          "totalAddresses": {
            "type": "integer"
          },
          "carriers": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "asn": {
                  "type": "integer"
                },
                "asnNumeric": {
                  "type": "integer"
                },
                "organisation": {
                  "type": "string"
                },
                "name": {
                  "type": "string"
                },
                "registry": {
                  "type": "string"
                },
                "registeredCountry": {
                  "type": "string"
                },
                "registeredCountryName": {
                  "type": "string"
                },
                "totalIpv4Addresses": {
                  "type": "integer"
                },
                "totalIpv6Prefixes": {
                  "type": "integer"
                },
                "rank": {
                  "type": "integer"
                }
              }
            }
          }
        }
      },
      "ReverseGeocode": {
        "type": "object",
        "properties": {
          "latitude": {
            "type": "number",
            "format": "double"
          },
          "longitude": {
            "type": "number",
            "format": "double"
          },
          "continent": {
            "type": "string"
          },
          "continentCode": {
            "type": "string"
          },
          "countryName": {
            "type": "string"
          },
          "countryCode": {
            "type": "string"
          },
          "principalSubdivision": {
            "type": "string"
          },
          "principalSubdivisionCode": {
            "type": "string"
          },
          "city": {
            "type": "string"
          },
          "locality": {
            "type": "string"
          },
          "postcode": {
            "type": "string"
          },
          "localityLanguageRequested": {
            "type": "string"
          },
          "localityInfo": {
            "type": "object",
            "properties": {
              "administrative": {
                "type": "array",
                "items": {
                  "type": "object",
                  "properties": {
                    "name": {
                      "type": "string"
                    },
                    "description": {
                      "type": "string"
                    },
                    "order": {
                      "type": "integer"
                    },
                    "isoCode": {
                      "type": "string"
                    },
                    "isoName": {
                      "type": "string"
                    },
                    "wikidataId": {
                      "type": "string"
                    },
                    "geonameId": {
                      "type": "integer"
                    }
                  }
                }
              },
              "informative": {
                "type": "array",
                "items": {
                  "type": "object",
                  "properties": {
                    "name": {
                      "type": "string"
                    },
                    "description": {
                      "type": "string"
                    },
                    "order": {
                      "type": "integer"
                    },
                    "isoCode": {
                      "type": "string"
                    },
                    "wikidataId": {
                      "type": "string"
                    },
                    "geonameId": {
                      "type": "integer"
                    }
                  }
                }
              }
            }
          }
        }
      },
      "TimeZone": {
        "type": "object",
        "properties": {
          "ianaTimeId": {
            "type": "string",
            "example": "America/New_York"
          },
          "displayName": {
            "type": "string"
          },
          "effectiveTimeZoneFull": {
            "type": "string"
          },
          "effectiveTimeZoneShort": {
            "type": "string"
          },
          "utcOffsetSeconds": {
            "type": "integer"
          },
          "utcOffset": {
            "type": "string"
          },
          "isDaylightSavingTime": {
            "type": "boolean"
          },
          "localTime": {
            "type": "string"
          }
        }
      },
      "TimezoneInfo": {
        "type": "object",
        "properties": {
          "ianaTimeId": {
            "type": "string"
          },
          "displayName": {
            "type": "string"
          },
          "utcOffsetSeconds": {
            "type": "integer"
          },
          "utcOffset": {
            "type": "string"
          },
          "isDaylightSavingTime": {
            "type": "boolean"
          },
          "localTime": {
            "type": "string"
          }
        }
      }
    }
  }
}
