{
  "openapi": "3.0.3",
  "info": {
    "title": "Vida Api",
    "version": "1.0.0",
    "contact": {},
    "x-jentic-source-url": "https://api.swaggerhub.com/apis/brainet/vida-api/1.0.0"
  },
  "servers": [
    {
      "url": "https://vida-api.brainet.sa"
    }
  ],
  "paths": {
    "/auth/user/sign-in": {
      "post": {
        "tags": [
          "Authentication",
          "User"
        ],
        "summary": "SignIn",
        "description": "SignIn",
        "operationId": "signin",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "email": {
                    "type": "string",
                    "example": "test2@test.com"
                  },
                  "password": {
                    "type": "string",
                    "example": "Test@123"
                  }
                }
              },
              "examples": {
                "SignIn": {
                  "value": {
                    "email": "test2@test.com",
                    "password": "Test@123"
                  }
                },
                "UserSignIn": {
                  "value": {
                    "email": "test2@test.com",
                    "password": "Test@123"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": ""
          }
        }
      }
    },
    "/auth/user/sign-out": {
      "get": {
        "tags": [
          "Authentication",
          "User"
        ],
        "summary": "UserSignOut",
        "description": "UserSignOut",
        "operationId": "usersignout",
        "responses": {
          "200": {
            "description": ""
          }
        }
      }
    },
    "/auth/patient/sign-up": {
      "post": {
        "tags": [
          "Authentication",
          "Patient"
        ],
        "summary": "PatientSignUp",
        "description": "PatientSignUp",
        "operationId": "patientsignup",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "phone": {
                    "type": "string",
                    "example": "+966573363907"
                  }
                }
              },
              "examples": {
                "PatientSignUp": {
                  "value": {
                    "phone": "+966573363907"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": ""
          }
        }
      }
    },
    "/auth/patient/verify-otp": {
      "post": {
        "tags": [
          "Authentication",
          "Patient"
        ],
        "summary": "VerifyOtp",
        "description": "VerifyOtp",
        "operationId": "verifyotp",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "otp": {
                    "type": "string",
                    "example": "958968"
                  }
                }
              },
              "examples": {
                "VerifyOtp": {
                  "value": {
                    "otp": "958968"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": ""
          }
        }
      }
    },
    "/auth/patient/sign-in": {
      "post": {
        "tags": [
          "Authentication",
          "Patient"
        ],
        "summary": "PatientSingIn",
        "description": "PatientSingIn",
        "operationId": "patientsingin",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "phone": {
                    "type": "string",
                    "example": "+966573363907"
                  }
                }
              },
              "examples": {
                "PatientSingIn": {
                  "value": {
                    "phone": "+966573363907"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": ""
          }
        }
      }
    },
    "/auth/doctor/sign-in": {
      "post": {
        "tags": [
          "Authentication",
          "Doctor"
        ],
        "summary": "SignIn",
        "description": "SignIn",
        "operationId": "signin1",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "phone": {
                    "type": "string",
                    "example": "+966573363907"
                  }
                }
              },
              "examples": {
                "SignIn": {
                  "value": {
                    "phone": "+966573363907"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": ""
          }
        }
      }
    },
    "/auth/doctor/verify-otp": {
      "post": {
        "tags": [
          "Authentication",
          "Doctor"
        ],
        "summary": "VerifyOtp",
        "description": "VerifyOtp",
        "operationId": "verifyotp1",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "otp": {
                    "type": "string",
                    "example": "512846"
                  }
                }
              },
              "examples": {
                "VerifyOtp": {
                  "value": {
                    "otp": "512846"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": ""
          }
        }
      }
    },
    "/auth/hospital/sign-in": {
      "post": {
        "tags": [
          "Authentication",
          "Hospital"
        ],
        "summary": "SignIn",
        "description": "SignIn",
        "operationId": "signin2",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "phone": {
                    "type": "string",
                    "example": "+966573363907"
                  }
                }
              },
              "examples": {
                "SignIn": {
                  "value": {
                    "phone": "+966573363907"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": ""
          }
        }
      }
    },
    "/auth/hospital/verify-otp": {
      "post": {
        "tags": [
          "Authentication",
          "Hospital"
        ],
        "summary": "VerifyOtp",
        "description": "VerifyOtp",
        "operationId": "verifyotp2",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "otp": {
                    "type": "string",
                    "example": "791319"
                  }
                }
              },
              "examples": {
                "VerifyOtp": {
                  "value": {
                    "otp": "791319"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": ""
          }
        }
      }
    },
    "/auth/laboratory/sign-in": {
      "post": {
        "tags": [
          "Authentication",
          "Laboratory"
        ],
        "summary": "SignIn",
        "description": "SignIn",
        "operationId": "signin3",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "phone": {
                    "type": "string",
                    "example": "+966573363907"
                  }
                }
              },
              "examples": {
                "SignIn": {
                  "value": {
                    "phone": "+966573363907"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": ""
          }
        }
      }
    },
    "/auth/laboratory/verify-otp": {
      "post": {
        "tags": [
          "Authentication",
          "Laboratory"
        ],
        "summary": "VerifyOtp",
        "description": "VerifyOtp",
        "operationId": "verifyotp3",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "otp": {
                    "type": "string",
                    "example": "173647"
                  }
                }
              },
              "examples": {
                "VerifyOtp": {
                  "value": {
                    "otp": "173647"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": ""
          }
        }
      }
    },
    "/auth/profile": {
      "get": {
        "tags": [
          "Authentication"
        ],
        "summary": "Profile",
        "description": "Profile",
        "operationId": "profile",
        "responses": {
          "200": {
            "description": ""
          }
        }
      }
    },
    "/user/create": {
      "post": {
        "tags": [
          "User1"
        ],
        "summary": "CreateUser",
        "description": "CreateUser",
        "operationId": "createuser",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "email": {
                    "type": "string",
                    "example": "test3@test.com"
                  },
                  "is_active": {
                    "type": "boolean",
                    "example": true
                  },
                  "password": {
                    "type": "string",
                    "example": "Test@123"
                  },
                  "permissions": {
                    "type": "object",
                    "properties": {
                      "user.create": {
                        "type": "boolean",
                        "example": true
                      },
                      "user.update": {
                        "type": "boolean",
                        "example": true
                      }
                    }
                  },
                  "role": {
                    "type": "string",
                    "example": "user"
                  },
                  "username": {
                    "type": "string",
                    "example": "user3"
                  }
                }
              },
              "examples": {
                "CreateUser": {
                  "value": {
                    "email": "test3@test.com",
                    "is_active": true,
                    "password": "Test@123",
                    "permissions": {
                      "user.create": true,
                      "user.update": true
                    },
                    "role": "user",
                    "username": "user3"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": ""
          }
        }
      }
    },
    "/user/update": {
      "patch": {
        "tags": [
          "User1"
        ],
        "summary": "UpdateUser",
        "description": "UpdateUser",
        "operationId": "updateuser",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "email": {
                    "type": "string",
                    "example": "test2@test.com"
                  },
                  "id": {
                    "type": "string",
                    "example": "8c8f1162-c8ff-4d9e-a8b9-56eab1da0c44"
                  },
                  "is_active": {
                    "type": "boolean",
                    "example": true
                  },
                  "permissions": {
                    "type": "object",
                    "properties": {
                      "user.create": {
                        "type": "boolean",
                        "example": true
                      },
                      "user.delete": {
                        "type": "boolean",
                        "example": true
                      },
                      "user.explore": {
                        "type": "boolean",
                        "example": true
                      },
                      "user.update": {
                        "type": "boolean",
                        "example": true
                      }
                    }
                  },
                  "role": {
                    "type": "string",
                    "example": "user"
                  },
                  "username": {
                    "type": "string",
                    "example": "user"
                  }
                }
              },
              "examples": {
                "UpdateUser": {
                  "value": {
                    "email": "test2@test.com",
                    "id": "8c8f1162-c8ff-4d9e-a8b9-56eab1da0c44",
                    "is_active": true,
                    "permissions": {
                      "user.create": true,
                      "user.delete": true,
                      "user.explore": true,
                      "user.update": true
                    },
                    "role": "user",
                    "username": "user"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": ""
          }
        }
      }
    },
    "/user/delete": {
      "delete": {
        "tags": [
          "User1"
        ],
        "summary": "DeleteUser",
        "description": "DeleteUser",
        "operationId": "deleteuser",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "id": {
                    "type": "string",
                    "example": "02521351-b21c-4bb0-ba56-6a8594f1b617"
                  }
                }
              },
              "examples": {
                "DeleteUser": {
                  "value": {
                    "id": "02521351-b21c-4bb0-ba56-6a8594f1b617"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": ""
          }
        }
      }
    },
    "/user/explore": {
      "get": {
        "tags": [
          "User1"
        ],
        "summary": "UserExplore",
        "description": "UserExplore",
        "operationId": "userexplore",
        "parameters": [
          {
            "name": "id",
            "in": "query",
            "schema": {
              "type": "string",
              "example": "user-uuid"
            }
          },
          {
            "name": "page",
            "in": "query",
            "schema": {
              "type": "string",
              "example": "1"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "schema": {
              "type": "string",
              "example": "10"
            }
          },
          {
            "name": "search",
            "in": "query",
            "schema": {
              "type": "string",
              "example": "user"
            }
          },
          {
            "name": "created_from",
            "in": "query",
            "schema": {
              "type": "string",
              "example": "from date"
            }
          },
          {
            "name": "created_to",
            "in": "query",
            "schema": {
              "type": "string",
              "example": "to date"
            }
          }
        ],
        "responses": {
          "200": {
            "description": ""
          }
        }
      }
    },
    "/patient/record/create": {
      "post": {
        "tags": [
          "Patient1",
          "MedicalRecord"
        ],
        "summary": "CreateRecord",
        "description": "CreateRecord",
        "operationId": "createrecord",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "allergies": {
                    "type": "array",
                    "items": {
                      "type": "string",
                      "example": "Penicillin"
                    },
                    "example": [
                      "Penicillin",
                      "Shellfish"
                    ]
                  },
                  "chief_complaint": {
                    "type": "string",
                    "example": "Headache and fever"
                  },
                  "chronic_conditions": {
                    "type": "array",
                    "items": {
                      "type": "string",
                      "example": "Hypertension"
                    },
                    "example": [
                      "Hypertension",
                      "Asthma"
                    ]
                  },
                  "doctor_id": {
                    "type": "string",
                    "example": "04ec9575-8bbf-4c0b-bfd2-ea1b07f3b9c4"
                  },
                  "hospital_id": {
                    "type": "string",
                    "example": "b6f1ec73-3068-4bf7-9a65-66acd84f35ed"
                  },
                  "notes": {
                    "type": "string",
                    "example": "Patient advised to return if symptoms worsen"
                  },
                  "patient_id": {
                    "type": "string",
                    "example": "d392ff16-74b9-4d8d-8237-ff38fdc60b9f"
                  },
                  "symptoms": {
                    "type": "array",
                    "items": {
                      "type": "string",
                      "example": "headache"
                    },
                    "example": [
                      "headache",
                      "fever",
                      "fatigue"
                    ]
                  },
                  "visit_date": {
                    "type": "string",
                    "example": "2025-11-09T10:23:49.000Z"
                  },
                  "vital_signs": {
                    "type": "object",
                    "properties": {
                      "blood_pressure": {
                        "type": "string",
                        "example": "120/80"
                      },
                      "heart_rate": {
                        "type": "number",
                        "example": 85
                      },
                      "height": {
                        "type": "number",
                        "example": 175
                      },
                      "oxygen_saturation": {
                        "type": "number",
                        "example": 98
                      },
                      "respiratory_rate": {
                        "type": "number",
                        "example": 16
                      },
                      "temperature": {
                        "type": "number",
                        "example": 38.2
                      },
                      "weight": {
                        "type": "number",
                        "example": 70.5
                      }
                    }
                  }
                }
              },
              "examples": {
                "CreateRecord": {
                  "value": {
                    "allergies": [
                      "Penicillin",
                      "Shellfish"
                    ],
                    "chief_complaint": "Headache and fever",
                    "chronic_conditions": [
                      "Hypertension",
                      "Asthma"
                    ],
                    "doctor_id": "04ec9575-8bbf-4c0b-bfd2-ea1b07f3b9c4",
                    "hospital_id": "b6f1ec73-3068-4bf7-9a65-66acd84f35ed",
                    "notes": "Patient advised to return if symptoms worsen",
                    "patient_id": "d392ff16-74b9-4d8d-8237-ff38fdc60b9f",
                    "symptoms": [
                      "headache",
                      "fever",
                      "fatigue"
                    ],
                    "visit_date": "2025-11-09T10:23:49.000Z",
                    "vital_signs": {
                      "blood_pressure": "120/80",
                      "heart_rate": 85,
                      "height": 175,
                      "oxygen_saturation": 98,
                      "respiratory_rate": 16,
                      "temperature": 38.2,
                      "weight": 70.5
                    }
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": ""
          }
        }
      }
    },
    "/patient/record/search": {
      "get": {
        "tags": [
          "Patient1",
          "MedicalRecord"
        ],
        "summary": "SearchMedicalRecord",
        "description": "SearchMedicalRecord",
        "operationId": "searchmedicalrecord",
        "parameters": [
          {
            "name": "start_date",
            "in": "query",
            "schema": {
              "type": "string",
              "example": "2025-10-10"
            }
          }
        ],
        "responses": {
          "200": {
            "description": ""
          }
        }
      }
    },
    "/patient/record/update": {
      "patch": {
        "tags": [
          "Patient1",
          "MedicalRecord"
        ],
        "summary": "UpdateRecord",
        "description": "UpdateRecord",
        "operationId": "updaterecord",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "allergies": {
                    "type": "array",
                    "items": {
                      "type": "string",
                      "example": "Penicillin"
                    },
                    "example": [
                      "Penicillin",
                      "Shellfish"
                    ]
                  },
                  "chief_complaint": {
                    "type": "string",
                    "example": "Headache and fever"
                  },
                  "chronic_conditions": {
                    "type": "array",
                    "items": {},
                    "example": []
                  },
                  "diagnosis": {
                    "type": "string",
                    "example": "Malaria"
                  },
                  "follow_up_date": {
                    "nullable": true,
                    "example": null
                  },
                  "id": {
                    "type": "string",
                    "example": "d710487a-056d-4784-b42d-43a00bc8c6dd"
                  },
                  "notes": {
                    "type": "string",
                    "example": "\u064a\u0646\u0635\u062d \u0627\u0644\u0645\u0631\u064a\u0636 \u0628\u0627\u0644\u0639\u0648\u062f\u0629 \u0625\u0630\u0627 \u0633\u0627\u0621\u062a \u0627\u0644\u0623\u0639\u0631\u0627\u0636"
                  },
                  "prescriptions": {
                    "type": "array",
                    "items": {},
                    "example": []
                  },
                  "symptoms": {
                    "type": "array",
                    "items": {
                      "type": "string",
                      "example": "headache"
                    },
                    "example": [
                      "headache",
                      "fever",
                      "fatigue"
                    ]
                  },
                  "treatment_plan": {
                    "type": "string",
                    "example": ""
                  },
                  "vital_signs": {
                    "type": "object",
                    "properties": {
                      "blood_pressure": {
                        "type": "string",
                        "example": "120/80"
                      },
                      "heart_rate": {
                        "type": "number",
                        "example": 85
                      },
                      "height": {
                        "type": "number",
                        "example": 175
                      },
                      "oxygen_saturation": {
                        "type": "number",
                        "example": 98
                      },
                      "respiratory_rate": {
                        "type": "number",
                        "example": 16
                      },
                      "temperature": {
                        "type": "number",
                        "example": 38.2
                      },
                      "weight": {
                        "type": "number",
                        "example": 70.5
                      }
                    }
                  }
                }
              },
              "examples": {
                "UpdateRecord": {
                  "value": {
                    "allergies": [
                      "Penicillin",
                      "Shellfish"
                    ],
                    "chief_complaint": "Headache and fever",
                    "chronic_conditions": [],
                    "diagnosis": "Malaria",
                    "follow_up_date": null,
                    "id": "d710487a-056d-4784-b42d-43a00bc8c6dd",
                    "notes": "\u064a\u0646\u0635\u062d \u0627\u0644\u0645\u0631\u064a\u0636 \u0628\u0627\u0644\u0639\u0648\u062f\u0629 \u0625\u0630\u0627 \u0633\u0627\u0621\u062a \u0627\u0644\u0623\u0639\u0631\u0627\u0636",
                    "prescriptions": [],
                    "symptoms": [
                      "headache",
                      "fever",
                      "fatigue"
                    ],
                    "treatment_plan": "",
                    "vital_signs": {
                      "blood_pressure": "120/80",
                      "heart_rate": 85,
                      "height": 175,
                      "oxygen_saturation": 98,
                      "respiratory_rate": 16,
                      "temperature": 38.2,
                      "weight": 70.5
                    }
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": ""
          }
        }
      }
    },
    "/doctor/schedule/create": {
      "post": {
        "tags": [
          "Doctor1",
          "DoctorSchedule"
        ],
        "summary": "CreateSchedule",
        "description": "CreateSchedule",
        "operationId": "createschedule",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "consultation_fee": {
                    "type": "number",
                    "example": 20.0
                  },
                  "day_of_month": {
                    "type": "string",
                    "example": "10"
                  },
                  "day_of_week": {
                    "type": "string",
                    "example": "Monday"
                  },
                  "doctor_id": {
                    "type": "string",
                    "example": "18422762-32cf-470e-be8a-fc8adedae3d8"
                  },
                  "hospital_id": {
                    "type": "string",
                    "example": "b46e2805-89f1-49ff-831e-83bef91d24ab"
                  },
                  "is_active": {
                    "type": "boolean",
                    "example": true
                  }
                }
              },
              "examples": {
                "CreateSchedule": {
                  "value": {
                    "consultation_fee": 20.0,
                    "day_of_month": "10",
                    "day_of_week": "Monday",
                    "doctor_id": "18422762-32cf-470e-be8a-fc8adedae3d8",
                    "hospital_id": "b46e2805-89f1-49ff-831e-83bef91d24ab",
                    "is_active": true
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": ""
          }
        }
      }
    },
    "/doctor/schedule/explore": {
      "get": {
        "tags": [
          "Doctor1",
          "DoctorSchedule"
        ],
        "summary": "ExploreDoctorSchedule",
        "description": "ExploreDoctorSchedule",
        "operationId": "exploredoctorschedule",
        "parameters": [
          {
            "name": "doctor_id",
            "in": "query",
            "schema": {
              "type": "string",
              "example": "62350b5f-fc41-4a67-a00e-fd53795b2bb7"
            }
          },
          {
            "name": "hospital_id",
            "in": "query",
            "schema": {
              "type": "string",
              "example": "f61a42a0-bd52-41f0-a798-3a0b74ce21bc"
            }
          }
        ],
        "responses": {
          "200": {
            "description": ""
          }
        }
      }
    },
    "/doctor/schedule/update": {
      "patch": {
        "tags": [
          "Doctor1",
          "DoctorSchedule"
        ],
        "summary": "UpdateSchedule",
        "description": "UpdateSchedule",
        "operationId": "updateschedule",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "consultation_fee": {
                    "type": "number",
                    "example": 30.0
                  },
                  "day_of_month": {
                    "type": "string",
                    "example": "9"
                  },
                  "day_of_week": {
                    "type": "string",
                    "example": "Sunday"
                  },
                  "id": {
                    "type": "string",
                    "example": "62350b5f-fc41-4a67-a00e-fd53795b2bb7"
                  },
                  "is_active": {
                    "type": "boolean",
                    "example": false
                  }
                }
              },
              "examples": {
                "UpdateSchedule": {
                  "value": {
                    "consultation_fee": 30.0,
                    "day_of_month": "9",
                    "day_of_week": "Sunday",
                    "id": "62350b5f-fc41-4a67-a00e-fd53795b2bb7",
                    "is_active": false
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": ""
          }
        }
      }
    },
    "/doctor/schedule/delete": {
      "delete": {
        "tags": [
          "Doctor1",
          "DoctorSchedule"
        ],
        "summary": "DeleteSchedule",
        "description": "DeleteSchedule",
        "operationId": "deleteschedule",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "id": {
                    "type": "string",
                    "example": "62cace86-c8b9-4f9c-b3d4-0e8a8a7eb033"
                  }
                }
              },
              "examples": {
                "DeleteSchedule": {
                  "value": {
                    "id": "62cace86-c8b9-4f9c-b3d4-0e8a8a7eb033"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": ""
          }
        }
      }
    },
    "/doctor/create": {
      "post": {
        "tags": [
          "Doctor1"
        ],
        "summary": "CreateDoctor",
        "description": "CreateDoctor",
        "operationId": "createdoctor",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "consultation_fee": {
                    "type": "number",
                    "example": 20
                  },
                  "experience": {
                    "type": "number",
                    "example": 3
                  },
                  "license_number": {
                    "type": "string",
                    "example": "SA12329345029834"
                  },
                  "name": {
                    "type": "string",
                    "example": "Mohammed Hamza"
                  },
                  "phone": {
                    "type": "string",
                    "example": "+966535196407"
                  },
                  "rating": {
                    "type": "number",
                    "example": 1
                  },
                  "specialisation": {
                    "type": "string",
                    "example": "Neurosurgeon"
                  }
                }
              },
              "examples": {
                "CreateDoctor": {
                  "value": {
                    "consultation_fee": 20,
                    "experience": 3,
                    "license_number": "SA12329345029834",
                    "name": "Mohammed Hamza",
                    "phone": "+966535196407",
                    "rating": 1,
                    "specialisation": "Neurosurgeon"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": ""
          }
        }
      }
    },
    "/doctor/explore": {
      "get": {
        "tags": [
          "Doctor1"
        ],
        "summary": "ExploreDoctors",
        "description": "ExploreDoctors",
        "operationId": "exploredoctors",
        "parameters": [
          {
            "name": "doctor_id",
            "in": "query",
            "schema": {
              "type": "string",
              "example": "18422762-32cf-470e-be8a-fc8adedae3d8"
            }
          },
          {
            "name": "hospital_id",
            "in": "query",
            "schema": {
              "type": "string",
              "example": "b46e2805-89f1-49ff-831e-83bef91d24ab"
            }
          }
        ],
        "responses": {
          "200": {
            "description": ""
          }
        }
      }
    },
    "/doctor/delete": {
      "delete": {
        "tags": [
          "Doctor1"
        ],
        "summary": "DeleteDoctor/s",
        "description": "DeleteDoctor/s",
        "operationId": "deletedoctorS",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "ids": {
                    "type": "array",
                    "items": {
                      "type": "string",
                      "example": "665d4fdc-0d3f-4d1c-ab73-8e0cccea6894"
                    },
                    "example": [
                      "665d4fdc-0d3f-4d1c-ab73-8e0cccea6894",
                      "77a35703-ee96-48d7-b535-be1eb515967e",
                      "b0d7edbf-1696-442d-869b-db828fd26d01",
                      "190e9f75-5955-41f0-b239-6287378e1e6e"
                    ]
                  }
                }
              },
              "examples": {
                "DeleteDoctor/s": {
                  "value": {
                    "ids": [
                      "665d4fdc-0d3f-4d1c-ab73-8e0cccea6894",
                      "77a35703-ee96-48d7-b535-be1eb515967e",
                      "b0d7edbf-1696-442d-869b-db828fd26d01",
                      "190e9f75-5955-41f0-b239-6287378e1e6e"
                    ]
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": ""
          }
        }
      }
    },
    "/doctor/update": {
      "patch": {
        "tags": [
          "Doctor1"
        ],
        "summary": "UpdateDoctor",
        "description": "UpdateDoctor",
        "operationId": "updatedoctor",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "consultation_fee": {
                    "type": "number",
                    "example": 20
                  },
                  "experience": {
                    "type": "number",
                    "example": 3
                  },
                  "id": {
                    "type": "string",
                    "example": "f88f7c89-3a31-4f21-89e2-be1fc8d16f34"
                  },
                  "license_number": {
                    "type": "string",
                    "example": "SA12329345"
                  },
                  "name": {
                    "type": "string",
                    "example": "Mohammed Abdullah Mohammed"
                  },
                  "phone": {
                    "type": "string",
                    "example": ""
                  },
                  "rating": {
                    "type": "number",
                    "example": 1
                  },
                  "specialisation": {
                    "type": "string",
                    "example": "Neurosurgeon"
                  }
                }
              },
              "examples": {
                "UpdateDoctor": {
                  "value": {
                    "consultation_fee": 20,
                    "experience": 3,
                    "id": "f88f7c89-3a31-4f21-89e2-be1fc8d16f34",
                    "license_number": "SA12329345",
                    "name": "Mohammed Abdullah Mohammed",
                    "phone": "",
                    "rating": 1,
                    "specialisation": "Neurosurgeon"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": ""
          }
        }
      }
    },
    "/hospital/explore": {
      "get": {
        "tags": [
          "Hospital1"
        ],
        "summary": "ExploreHospitals",
        "description": "Get hospitals with filtering and pagination",
        "operationId": "explorehospitals",
        "parameters": [
          {
            "name": "name",
            "in": "query",
            "schema": {
              "type": "string",
              "example": "\u0645\u0633\u062a\u0634\u0641\u0649"
            },
            "description": "Optional: Filter by hospital name"
          },
          {
            "name": "address",
            "in": "query",
            "schema": {
              "type": "string",
              "example": "\u0627\u0644\u0631\u064a\u0627\u0636"
            },
            "description": "Optional: Filter by address"
          },
          {
            "name": "page",
            "in": "query",
            "schema": {
              "type": "string",
              "example": "1"
            },
            "description": "Page number for pagination"
          },
          {
            "name": "limit",
            "in": "query",
            "schema": {
              "type": "string",
              "example": "10"
            },
            "description": "Results per page (max 100)"
          }
        ],
        "responses": {
          "200": {
            "description": ""
          }
        }
      }
    },
    "/hospital/create": {
      "post": {
        "tags": [
          "Hospital1"
        ],
        "summary": "CreateHospital",
        "description": "Create a new hospital",
        "operationId": "createhospital",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "address": {
                    "type": "string",
                    "example": "\u0634\u0627\u0631\u0639 \u0627\u0644\u0645\u0644\u0643 \u0641\u0647\u062f\u060c \u0627\u0644\u0631\u064a\u0627\u0636"
                  },
                  "is_24_hours": {
                    "type": "boolean",
                    "example": false
                  },
                  "name": {
                    "type": "string",
                    "example": "King Fahd Hospital"
                  },
                  "phone": {
                    "type": "string",
                    "example": "+966573363907"
                  },
                  "working_hours": {
                    "type": "object",
                    "properties": {
                      "sunday": {
                        "type": "object",
                        "properties": {
                          "close": {
                            "type": "string",
                            "example": "22:00"
                          },
                          "open": {
                            "type": "string",
                            "example": "09:00"
                          }
                        }
                      }
                    }
                  }
                }
              },
              "examples": {
                "CreateHospital": {
                  "value": {
                    "address": "\u0634\u0627\u0631\u0639 \u0627\u0644\u0645\u0644\u0643 \u0641\u0647\u062f\u060c \u0627\u0644\u0631\u064a\u0627\u0636",
                    "is_24_hours": false,
                    "name": "King Fahd Hospital",
                    "phone": "+966573363907",
                    "working_hours": {
                      "sunday": {
                        "close": "22:00",
                        "open": "09:00"
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": ""
          }
        }
      }
    },
    "/hospital/update": {
      "patch": {
        "tags": [
          "Hospital1"
        ],
        "summary": "UpdateHospital",
        "description": "Update an existing hospital",
        "operationId": "updatehospital",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "address": {
                    "type": "string",
                    "example": "\u0634\u0627\u0631\u0639 \u0627\u0644\u0639\u0644\u064a\u0627\u060c \u0627\u0644\u0631\u064a\u0627\u0636"
                  },
                  "id": {
                    "type": "string",
                    "example": "aacb43d4-dba5-4742-96ea-1e72efa19085"
                  },
                  "phone": {
                    "type": "string",
                    "example": "0501234567"
                  }
                }
              },
              "examples": {
                "UpdateHospital": {
                  "value": {
                    "address": "\u0634\u0627\u0631\u0639 \u0627\u0644\u0639\u0644\u064a\u0627\u060c \u0627\u0644\u0631\u064a\u0627\u0636",
                    "id": "aacb43d4-dba5-4742-96ea-1e72efa19085",
                    "phone": "0501234567"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": ""
          }
        }
      }
    },
    "/hospital/delete": {
      "delete": {
        "tags": [
          "Hospital1"
        ],
        "summary": "DeleteHospital",
        "description": "Delete a hospital by ID",
        "operationId": "deletehospital",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "id": {
                    "type": "string",
                    "example": "aacb43d4-dba5-4742-96ea-1e72efa19085"
                  }
                }
              },
              "examples": {
                "DeleteHospital": {
                  "value": {
                    "id": "aacb43d4-dba5-4742-96ea-1e72efa19085"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": ""
          }
        }
      }
    },
    "/lab/sample/create-test": {
      "post": {
        "tags": [
          "Laboratory1",
          "Samples"
        ],
        "summary": "CreateSampleProcessing",
        "description": "CreateSampleProcessing",
        "operationId": "createsampleprocessing",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "doctor_id": {
                    "type": "string",
                    "example": "04ec9575-8bbf-4c0b-bfd2-ea1b07f3b9c4"
                  },
                  "hospital_id": {
                    "type": "string",
                    "example": "b6f1ec73-3068-4bf7-9a65-66acd84f35ed"
                  },
                  "laboratory_id": {
                    "type": "string",
                    "example": "9154e3ad-af0a-402d-89d3-3f022028ae4e"
                  },
                  "medical_record_id": {
                    "type": "string",
                    "example": "d710487a-056d-4784-b42d-43a00bc8c6dd"
                  },
                  "notes": {
                    "type": "string",
                    "example": "Follow-up assessment"
                  },
                  "patient_id": {
                    "type": "string",
                    "example": "f88f7c89-0000-4f21-0000-be1fc8d16f34"
                  },
                  "sample_type": {
                    "type": "string",
                    "example": "blood"
                  },
                  "test_name": {
                    "type": "string",
                    "example": "cbc"
                  }
                }
              },
              "examples": {
                "CreateSampleProcessing": {
                  "value": {
                    "doctor_id": "04ec9575-8bbf-4c0b-bfd2-ea1b07f3b9c4",
                    "hospital_id": "b6f1ec73-3068-4bf7-9a65-66acd84f35ed",
                    "laboratory_id": "9154e3ad-af0a-402d-89d3-3f022028ae4e",
                    "medical_record_id": "d710487a-056d-4784-b42d-43a00bc8c6dd",
                    "notes": "Follow-up assessment",
                    "patient_id": "f88f7c89-0000-4f21-0000-be1fc8d16f34",
                    "sample_type": "blood",
                    "test_name": "cbc"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": ""
          }
        }
      }
    },
    "/lab/sample/update-test": {
      "patch": {
        "tags": [
          "Laboratory1",
          "Samples"
        ],
        "summary": "UpdateSampleProcessing",
        "description": "UpdateSampleProcessing",
        "operationId": "updatesampleprocessing",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "doctor_id": {
                    "type": "string",
                    "example": "d584b57e-98b6-497c-94a1-a4ecc4d83b35"
                  },
                  "hospital_id": {
                    "type": "string",
                    "example": "f61a42a0-bd52-41f0-a798-3a0b74ce21bc"
                  },
                  "id": {
                    "type": "string",
                    "example": "42f61941-a677-48d5-8ef0-934b5660ba8b"
                  },
                  "laboratory_id": {
                    "type": "string",
                    "example": "76717d71-423b-422a-a497-35e7a6f64b14"
                  },
                  "notes": {
                    "type": "string",
                    "example": "Follow-up assessment"
                  },
                  "results": {
                    "type": "object",
                    "properties": {}
                  },
                  "sample_type": {
                    "type": "string",
                    "example": "blood"
                  },
                  "status": {
                    "type": "string",
                    "example": "completed"
                  },
                  "test_name": {
                    "type": "string",
                    "example": "cbc"
                  }
                }
              },
              "examples": {
                "UpdateSampleProcessing": {
                  "value": {
                    "doctor_id": "d584b57e-98b6-497c-94a1-a4ecc4d83b35",
                    "hospital_id": "f61a42a0-bd52-41f0-a798-3a0b74ce21bc",
                    "id": "42f61941-a677-48d5-8ef0-934b5660ba8b",
                    "laboratory_id": "76717d71-423b-422a-a497-35e7a6f64b14",
                    "notes": "Follow-up assessment",
                    "results": {},
                    "sample_type": "blood",
                    "status": "completed",
                    "test_name": "cbc"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": ""
          }
        }
      }
    },
    "/lab/sample/explore-tests": {
      "get": {
        "tags": [
          "Laboratory1",
          "Samples"
        ],
        "summary": "ExploreSamples",
        "description": "ExploreSamples",
        "operationId": "exploresamples",
        "responses": {
          "200": {
            "description": ""
          }
        }
      }
    },
    "/lab/create": {
      "post": {
        "tags": [
          "Laboratory1"
        ],
        "summary": "CreateLab",
        "description": "CreateLab",
        "operationId": "createlab",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "address": {
                    "type": "string",
                    "example": ""
                  },
                  "name": {
                    "type": "string",
                    "example": "Test Lab 2"
                  },
                  "phone": {
                    "type": "string",
                    "example": "+966573363907"
                  },
                  "working_hours": {
                    "type": "object",
                    "properties": {
                      "Friday": {
                        "type": "string",
                        "example": "9am-3pm"
                      },
                      "Monday": {
                        "type": "string",
                        "example": "9am-5pm"
                      },
                      "Saturday": {
                        "type": "string",
                        "example": ""
                      },
                      "Sunday": {
                        "type": "string",
                        "example": ""
                      },
                      "Thursday": {
                        "type": "string",
                        "example": "9am-5pm"
                      },
                      "Tuesday": {
                        "type": "string",
                        "example": "9am-5pm"
                      },
                      "Wednesday": {
                        "type": "string",
                        "example": "9am-5pm"
                      }
                    }
                  }
                }
              },
              "examples": {
                "CreateLab": {
                  "value": {
                    "address": "",
                    "name": "Test Lab 2",
                    "phone": "+966573363907",
                    "working_hours": {
                      "Friday": "9am-3pm",
                      "Monday": "9am-5pm",
                      "Saturday": "",
                      "Sunday": "",
                      "Thursday": "9am-5pm",
                      "Tuesday": "9am-5pm",
                      "Wednesday": "9am-5pm"
                    }
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": ""
          }
        }
      }
    },
    "/lab/delete": {
      "delete": {
        "tags": [
          "Laboratory1"
        ],
        "summary": "DeleteLab",
        "description": "DeleteLab",
        "operationId": "deletelab",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "id": {
                    "type": "string",
                    "example": "3945166a-06a1-4ad9-a250-291de7f3f4bf"
                  }
                }
              },
              "examples": {
                "DeleteLab": {
                  "value": {
                    "id": "3945166a-06a1-4ad9-a250-291de7f3f4bf"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": ""
          }
        }
      }
    },
    "/lab/explore": {
      "get": {
        "tags": [
          "Laboratory1"
        ],
        "summary": "ExploreLabs",
        "description": "ExploreLabs",
        "operationId": "explorelabs",
        "parameters": [
          {
            "name": "id",
            "in": "query",
            "schema": {
              "type": "string",
              "example": ""
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "examples": {
                "ExploreLabs": {
                  "value": ""
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": ""
          }
        }
      }
    },
    "/lab/update": {
      "patch": {
        "tags": [
          "Laboratory1"
        ],
        "summary": "UpdateLab",
        "description": "UpdateLab",
        "operationId": "updatelab",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "address": {
                    "type": "string",
                    "example": "test address"
                  },
                  "id": {
                    "type": "string",
                    "example": "76717d71-423b-422a-a497-35e7a6f64b14"
                  },
                  "name": {
                    "type": "string",
                    "example": "Test Lab updated name"
                  },
                  "phone": {
                    "type": "string",
                    "example": "+96615272369847"
                  },
                  "working_hours": {
                    "type": "object",
                    "properties": {
                      "Friday": {
                        "type": "string",
                        "example": ""
                      },
                      "Monday": {
                        "type": "string",
                        "example": "9am-5pm"
                      },
                      "Saturday": {
                        "type": "string",
                        "example": ""
                      },
                      "Sunday": {
                        "type": "string",
                        "example": "9am-5pm,7pm-12pm"
                      },
                      "Thursday": {
                        "type": "string",
                        "example": "9am-5pm"
                      },
                      "Tuesday": {
                        "type": "string",
                        "example": "9am-5pm"
                      },
                      "Wednesday": {
                        "type": "string",
                        "example": "9am-5pm"
                      }
                    }
                  }
                }
              },
              "examples": {
                "UpdateLab": {
                  "value": {
                    "address": "test address",
                    "id": "76717d71-423b-422a-a497-35e7a6f64b14",
                    "name": "Test Lab updated name",
                    "phone": "+96615272369847",
                    "working_hours": {
                      "Friday": "",
                      "Monday": "9am-5pm",
                      "Saturday": "",
                      "Sunday": "9am-5pm,7pm-12pm",
                      "Thursday": "9am-5pm",
                      "Tuesday": "9am-5pm",
                      "Wednesday": "9am-5pm"
                    }
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": ""
          }
        }
      }
    },
    "/category/create": {
      "post": {
        "tags": [
          "Categories"
        ],
        "summary": "CreateCategory",
        "description": "Create a new category",
        "operationId": "createcategory",
        "requestBody": {
          "content": {
            "application/json": {
              "examples": {
                "CreateCategory": {
                  "value": "{\n    \"name\": \"Root Canal Treatment \",\n    \"description\": \"\u062e\u062f\u0645\u0627\u062a \u0637\u0628 \u0627\u0644\u0623\u0633\u0646\u0627\u0646 \u0648\u0635\u062d\u0629 \u0627\u0644\u0641\u0645\",\n    \"parent_id\": \"24e3bf3a-85d1-4f7f-8d4c-df867ef90fdf\", // To create a sub-category just put a parent id\n    \"is_active\": true,\n    \"order\": 1,\n    \"icon\": \"dental-icon\"\n}"
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": ""
          }
        }
      }
    },
    "/category/update": {
      "patch": {
        "tags": [
          "Categories"
        ],
        "summary": "UpdateCategory",
        "description": "Update an existing category",
        "operationId": "updatecategory",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "description": {
                    "type": "string",
                    "example": "\u062e\u062f\u0645\u0627\u062a \u0637\u0628 \u0648\u062c\u0631\u0627\u062d\u0629 \u0627\u0644\u0623\u0633\u0646\u0627\u0646 \u0648\u0635\u062d\u0629 \u0627\u0644\u0641\u0645"
                  },
                  "id": {
                    "type": "string",
                    "example": "7ae486fa-6bd1-4399-82a0-d03f44a4966c"
                  },
                  "is_active": {
                    "type": "boolean",
                    "example": true
                  },
                  "name": {
                    "type": "string",
                    "example": "\u0637\u0628 \u0648\u062c\u0631\u0627\u062d\u0629 \u0627\u0644\u0623\u0633\u0646\u0627\u0646"
                  }
                }
              },
              "examples": {
                "UpdateCategory": {
                  "value": {
                    "description": "\u062e\u062f\u0645\u0627\u062a \u0637\u0628 \u0648\u062c\u0631\u0627\u062d\u0629 \u0627\u0644\u0623\u0633\u0646\u0627\u0646 \u0648\u0635\u062d\u0629 \u0627\u0644\u0641\u0645",
                    "id": "7ae486fa-6bd1-4399-82a0-d03f44a4966c",
                    "is_active": true,
                    "name": "\u0637\u0628 \u0648\u062c\u0631\u0627\u062d\u0629 \u0627\u0644\u0623\u0633\u0646\u0627\u0646"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": ""
          }
        }
      }
    },
    "/category": {
      "delete": {
        "tags": [
          "Categories"
        ],
        "summary": "Delete Category",
        "description": "Delete a category (will fail if it has subcategories or services)",
        "operationId": "deleteCategory",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "id": {
                    "type": "string",
                    "example": "uuid-of-category"
                  }
                }
              },
              "examples": {
                "Delete Category": {
                  "value": {
                    "id": "uuid-of-category"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": ""
          }
        }
      }
    },
    "/category/explore": {
      "get": {
        "tags": [
          "Categories"
        ],
        "summary": "ExploreCategories",
        "description": "Search and filter categories with pagination",
        "operationId": "explorecategories",
        "parameters": [
          {
            "name": "id",
            "in": "query",
            "schema": {
              "type": "string",
              "example": "uuid-of-category"
            },
            "description": "Get a specific category by ID"
          },
          {
            "name": "name",
            "in": "query",
            "schema": {
              "type": "string",
              "example": "\u0623\u0633\u0646\u0627\u0646"
            },
            "description": "Search by name (partial match)"
          },
          {
            "name": "parent_id",
            "in": "query",
            "schema": {
              "type": "string",
              "example": "null"
            },
            "description": "Filter by parent category (null for top-level categories)"
          },
          {
            "name": "include_subcategories",
            "in": "query",
            "schema": {
              "type": "string",
              "example": "true"
            },
            "description": "Include subcategories when getting a specific category"
          },
          {
            "name": "page",
            "in": "query",
            "schema": {
              "type": "string",
              "example": "1"
            },
            "description": "Page number"
          },
          {
            "name": "limit",
            "in": "query",
            "schema": {
              "type": "string",
              "example": "10"
            },
            "description": "Results per page"
          }
        ],
        "responses": {
          "200": {
            "description": ""
          }
        }
      }
    },
    "/service/create": {
      "post": {
        "tags": [
          "Services"
        ],
        "summary": "CreateService",
        "description": "Create a new service",
        "operationId": "createservice",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "base_duration": {
                    "type": "number",
                    "example": 30
                  },
                  "category_id": {
                    "type": "string",
                    "example": "052f4e67-5799-4c77-9fdd-074ee96b0697"
                  },
                  "description": {
                    "type": "string",
                    "example": "\u0641\u062d\u0635 \u0648\u062a\u0634\u062e\u064a\u0635 \u0623\u0648\u0644\u064a \u0644\u062d\u0627\u0644\u0629 \u0627\u0644\u0623\u0633\u0646\u0627\u0646"
                  },
                  "is_active": {
                    "type": "boolean",
                    "example": true
                  },
                  "name": {
                    "type": "string",
                    "example": "Kidney test"
                  },
                  "prerequisites": {
                    "type": "array",
                    "items": {
                      "type": "string",
                      "example": "\u0625\u062d\u0636\u0627\u0631 \u0627\u0644\u062a\u0642\u0627\u0631\u064a\u0631 \u0627\u0644\u0637\u0628\u064a\u0629 \u0627\u0644\u0633\u0627\u0628\u0642\u0629 \u0625\u0646 \u0648\u062c\u062f\u062a"
                    },
                    "example": [
                      "\u0625\u062d\u0636\u0627\u0631 \u0627\u0644\u062a\u0642\u0627\u0631\u064a\u0631 \u0627\u0644\u0637\u0628\u064a\u0629 \u0627\u0644\u0633\u0627\u0628\u0642\u0629 \u0625\u0646 \u0648\u062c\u062f\u062a"
                    ]
                  },
                  "price": {
                    "type": "number",
                    "example": 200
                  },
                  "requires_approval": {
                    "type": "boolean",
                    "example": false
                  }
                }
              },
              "examples": {
                "CreateService": {
                  "value": {
                    "base_duration": 30,
                    "category_id": "052f4e67-5799-4c77-9fdd-074ee96b0697",
                    "description": "\u0641\u062d\u0635 \u0648\u062a\u0634\u062e\u064a\u0635 \u0623\u0648\u0644\u064a \u0644\u062d\u0627\u0644\u0629 \u0627\u0644\u0623\u0633\u0646\u0627\u0646",
                    "is_active": true,
                    "name": "Kidney test",
                    "prerequisites": [
                      "\u0625\u062d\u0636\u0627\u0631 \u0627\u0644\u062a\u0642\u0627\u0631\u064a\u0631 \u0627\u0644\u0637\u0628\u064a\u0629 \u0627\u0644\u0633\u0627\u0628\u0642\u0629 \u0625\u0646 \u0648\u062c\u062f\u062a"
                    ],
                    "price": 200,
                    "requires_approval": false
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": ""
          }
        }
      }
    },
    "/service/update": {
      "patch": {
        "tags": [
          "Services"
        ],
        "summary": "UpdateService",
        "description": "Update an existing service",
        "operationId": "updateservice",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "base_duration": {
                    "type": "number",
                    "example": 45
                  },
                  "id": {
                    "type": "string",
                    "example": "uuid-of-service"
                  },
                  "name": {
                    "type": "string",
                    "example": "\u0643\u0634\u0641 \u0637\u0628\u064a\u0628 \u0623\u0633\u0646\u0627\u0646 \u0645\u062a\u062e\u0635\u0635"
                  },
                  "price": {
                    "type": "number",
                    "example": 250
                  }
                }
              },
              "examples": {
                "UpdateService": {
                  "value": {
                    "base_duration": 45,
                    "id": "uuid-of-service",
                    "name": "\u0643\u0634\u0641 \u0637\u0628\u064a\u0628 \u0623\u0633\u0646\u0627\u0646 \u0645\u062a\u062e\u0635\u0635",
                    "price": 250
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": ""
          }
        }
      }
    },
    "/service/delete": {
      "delete": {
        "tags": [
          "Services"
        ],
        "summary": "DeleteService",
        "description": "Delete a service",
        "operationId": "deleteservice",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "id": {
                    "type": "string",
                    "example": "uuid-of-service"
                  }
                }
              },
              "examples": {
                "DeleteService": {
                  "value": {
                    "id": "uuid-of-service"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": ""
          }
        }
      }
    },
    "/service/explore": {
      "get": {
        "tags": [
          "Services"
        ],
        "summary": "ExploreServices",
        "description": "Search and filter services with pagination",
        "operationId": "exploreservices",
        "parameters": [
          {
            "name": "id",
            "in": "query",
            "schema": {
              "type": "string",
              "example": "uuid-of-service"
            },
            "description": "Get a specific service by ID"
          },
          {
            "name": "name",
            "in": "query",
            "schema": {
              "type": "string",
              "example": "\u0643\u0634\u0641"
            },
            "description": "Search by name (partial match)"
          },
          {
            "name": "category_id",
            "in": "query",
            "schema": {
              "type": "string",
              "example": "uuid-of-category"
            },
            "description": "Filter by category"
          },
          {
            "name": "is_active",
            "in": "query",
            "schema": {
              "type": "string",
              "example": "true"
            },
            "description": "Filter by active status"
          },
          {
            "name": "page",
            "in": "query",
            "schema": {
              "type": "string",
              "example": "1"
            },
            "description": "Page number"
          },
          {
            "name": "limit",
            "in": "query",
            "schema": {
              "type": "string",
              "example": "10"
            },
            "description": "Results per page"
          }
        ],
        "responses": {
          "200": {
            "description": ""
          }
        }
      }
    },
    "/hospital-service/create": {
      "post": {
        "tags": [
          "Hospital Services"
        ],
        "summary": "Add Service to Hospital",
        "description": "Add a service to a hospital",
        "operationId": "addServiceToHospital",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "duration": {
                    "type": "number",
                    "example": 30
                  },
                  "hospital_id": {
                    "type": "string",
                    "example": "b46e2805-89f1-49ff-831e-83bef91d24ab"
                  },
                  "is_active": {
                    "type": "boolean",
                    "example": true
                  },
                  "price": {
                    "type": "number",
                    "example": 200
                  },
                  "service_id": {
                    "type": "string",
                    "example": "fab28316-14d9-4cae-bad6-04f970b3c23c"
                  }
                }
              },
              "examples": {
                "Add Service to Hospital": {
                  "value": {
                    "duration": 30,
                    "hospital_id": "b46e2805-89f1-49ff-831e-83bef91d24ab",
                    "is_active": true,
                    "price": 200,
                    "service_id": "fab28316-14d9-4cae-bad6-04f970b3c23c"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": ""
          }
        }
      }
    },
    "/hospital-service/update": {
      "post": {
        "tags": [
          "Hospital Services"
        ],
        "summary": "Update Hospital Service",
        "description": "Update a hospital service",
        "operationId": "updateHospitalService",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "duration": {
                    "type": "number",
                    "example": 60
                  },
                  "id": {
                    "type": "string",
                    "example": "uuid-of-hospital-service"
                  },
                  "is_active": {
                    "type": "boolean",
                    "example": true
                  },
                  "price": {
                    "type": "number",
                    "example": 300
                  }
                }
              },
              "examples": {
                "Update Hospital Service": {
                  "value": {
                    "duration": 60,
                    "id": "uuid-of-hospital-service",
                    "is_active": true,
                    "price": 300
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": ""
          }
        }
      }
    },
    "/hospital-service/delete": {
      "delete": {
        "tags": [
          "Hospital Services"
        ],
        "summary": "Delete Hospital Service",
        "description": "Delete a hospital service",
        "operationId": "deleteHospitalService",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "id": {
                    "type": "string",
                    "example": "1f034c0b-0af5-40c9-920e-d89f3fe9cc9c"
                  }
                }
              },
              "examples": {
                "Delete Hospital Service": {
                  "value": {
                    "id": "1f034c0b-0af5-40c9-920e-d89f3fe9cc9c"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": ""
          }
        }
      }
    },
    "/hospital-service/explore": {
      "get": {
        "tags": [
          "Hospital Services"
        ],
        "summary": "Explore Hospital Services",
        "description": "Advanced search for hospital services",
        "operationId": "exploreHospitalServices",
        "parameters": [
          {
            "name": "id",
            "in": "query",
            "schema": {
              "type": "string",
              "example": "uuid-of-hospital-service"
            },
            "description": "Get a specific hospital service by ID"
          },
          {
            "name": "hospital_id",
            "in": "query",
            "schema": {
              "type": "string",
              "example": "uuid-of-hospital"
            },
            "description": "Filter by hospital"
          },
          {
            "name": "service_id",
            "in": "query",
            "schema": {
              "type": "string",
              "example": "uuid-of-service"
            },
            "description": "Filter by service"
          },
          {
            "name": "is_active",
            "in": "query",
            "schema": {
              "type": "string",
              "example": "true"
            },
            "description": "Filter by active status"
          },
          {
            "name": "page",
            "in": "query",
            "schema": {
              "type": "string",
              "example": "1"
            },
            "description": "Page number"
          },
          {
            "name": "limit",
            "in": "query",
            "schema": {
              "type": "string",
              "example": "10"
            },
            "description": "Results per page"
          }
        ],
        "responses": {
          "200": {
            "description": ""
          }
        }
      }
    },
    "/doctor-service/create": {
      "post": {
        "tags": [
          "Doctor Services"
        ],
        "summary": "Add Service to Doctor",
        "description": "Add a service to a doctor",
        "operationId": "addServiceToDoctor",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "doctor_id": {
                    "type": "string",
                    "example": "b9a0cc22-bc81-4fd7-b47b-d001a42ef965"
                  },
                  "duration": {
                    "type": "number",
                    "example": 45
                  },
                  "hospital_service_id": {
                    "type": "string",
                    "example": "1f034c0b-0af5-40c9-920e-d89f3fe9cc9c"
                  },
                  "is_active": {
                    "type": "boolean",
                    "example": true
                  },
                  "price": {
                    "type": "number",
                    "example": 250
                  }
                }
              },
              "examples": {
                "Add Service to Doctor": {
                  "value": {
                    "doctor_id": "b9a0cc22-bc81-4fd7-b47b-d001a42ef965",
                    "duration": 45,
                    "hospital_service_id": "1f034c0b-0af5-40c9-920e-d89f3fe9cc9c",
                    "is_active": true,
                    "price": 250
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": ""
          }
        }
      }
    },
    "/doctor-service/create-simplified": {
      "post": {
        "tags": [
          "Doctor Services"
        ],
        "summary": "Add Service to Doctor (Simplified)",
        "description": "Add a service to a doctor using simplified method (with hospital_id and service_id)",
        "operationId": "addServiceToDoctorSimplified",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "doctor_id": {
                    "type": "string",
                    "example": "uuid-of-doctor"
                  },
                  "duration": {
                    "type": "number",
                    "example": 45
                  },
                  "hospital_id": {
                    "type": "string",
                    "example": "uuid-of-hospital"
                  },
                  "is_active": {
                    "type": "boolean",
                    "example": true
                  },
                  "price": {
                    "type": "number",
                    "example": 250
                  },
                  "service_id": {
                    "type": "string",
                    "example": "uuid-of-service"
                  }
                }
              },
              "examples": {
                "Add Service to Doctor (Simplified)": {
                  "value": {
                    "doctor_id": "uuid-of-doctor",
                    "duration": 45,
                    "hospital_id": "uuid-of-hospital",
                    "is_active": true,
                    "price": 250,
                    "service_id": "uuid-of-service"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": ""
          }
        }
      }
    },
    "/doctor-service/update": {
      "post": {
        "tags": [
          "Doctor Services"
        ],
        "summary": "Update Doctor Service",
        "description": "Update a doctor service",
        "operationId": "updateDoctorService",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "duration": {
                    "type": "number",
                    "example": 60
                  },
                  "id": {
                    "type": "string",
                    "example": "uuid-of-doctor-service"
                  },
                  "is_active": {
                    "type": "boolean",
                    "example": true
                  },
                  "price": {
                    "type": "number",
                    "example": 300
                  }
                }
              },
              "examples": {
                "Update Doctor Service": {
                  "value": {
                    "duration": 60,
                    "id": "uuid-of-doctor-service",
                    "is_active": true,
                    "price": 300
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": ""
          }
        }
      }
    },
    "/doctor-service/delete": {
      "post": {
        "tags": [
          "Doctor Services"
        ],
        "summary": "Delete Doctor Service",
        "description": "Delete a doctor service",
        "operationId": "deleteDoctorService",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "id": {
                    "type": "string",
                    "example": "uuid-of-doctor-service"
                  }
                }
              },
              "examples": {
                "Delete Doctor Service": {
                  "value": {
                    "id": "uuid-of-doctor-service"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": ""
          }
        }
      }
    },
    "/doctor-service/explore": {
      "get": {
        "tags": [
          "Doctor Services"
        ],
        "summary": "Explore Doctor Services",
        "description": "Advanced search for doctor services",
        "operationId": "exploreDoctorServices",
        "parameters": [
          {
            "name": "id",
            "in": "query",
            "schema": {
              "type": "string",
              "example": "uuid-of-doctor-service"
            },
            "description": "Get a specific doctor service by ID"
          },
          {
            "name": "doctor_id",
            "in": "query",
            "schema": {
              "type": "string",
              "example": "uuid-of-doctor"
            },
            "description": "Filter by doctor"
          },
          {
            "name": "hospital_service_id",
            "in": "query",
            "schema": {
              "type": "string",
              "example": "uuid-of-hospital-service"
            },
            "description": "Filter by hospital service"
          },
          {
            "name": "hospital_id",
            "in": "query",
            "schema": {
              "type": "string",
              "example": "uuid-of-hospital"
            },
            "description": "Filter by hospital"
          },
          {
            "name": "service_id",
            "in": "query",
            "schema": {
              "type": "string",
              "example": "uuid-of-service"
            },
            "description": "Filter by service"
          },
          {
            "name": "is_active",
            "in": "query",
            "schema": {
              "type": "string",
              "example": "true"
            },
            "description": "Filter by active status"
          },
          {
            "name": "page",
            "in": "query",
            "schema": {
              "type": "string",
              "example": "1"
            },
            "description": "Page number"
          },
          {
            "name": "limit",
            "in": "query",
            "schema": {
              "type": "string",
              "example": "10"
            },
            "description": "Results per page"
          }
        ],
        "responses": {
          "200": {
            "description": ""
          }
        }
      }
    },
    "/appointment/create": {
      "post": {
        "tags": [
          "Appointments"
        ],
        "summary": "Create Appointment",
        "description": "Create a new appointment for a patient with a doctor",
        "operationId": "createAppointment",
        "requestBody": {
          "content": {
            "application/json": {
              "examples": {
                "Create Appointment": {
                  "value": "{\n    \"doctor_service_id\": \"a7b7eeed-3a12-425e-9f1c-3594e8f804b5\",\n    \"patient_id\": \"7a9e1343-0bf7-478b-a269-abf898d158af\", // Remove this and take it from session\n    \"date_time\": \"2025-11-15T10:00:00.000Z\",\n    \"note\": \"\u0627\u0644\u0645\u0631\u064a\u0636 \u064a\u0639\u0627\u0646\u064a \u0645\u0646 \u0627\u0631\u062a\u0641\u0627\u0639 \u0636\u063a\u0637 \u0627\u0644\u062f\u0645\",\n    \"status\": \"pending\",\n    \"payment_status\": \"unpaid\"\n}"
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": ""
          }
        }
      }
    },
    "/appointment/update": {
      "post": {
        "tags": [
          "Appointments"
        ],
        "summary": "Update Appointment",
        "description": "Update an existing appointment",
        "operationId": "updateAppointment",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "date_time": {
                    "type": "string",
                    "example": "2025-11-16T11:00:00.000Z"
                  },
                  "id": {
                    "type": "string",
                    "example": "uuid-of-appointment"
                  },
                  "note": {
                    "type": "string",
                    "example": "\u062a\u0645 \u062a\u062d\u062f\u064a\u062b \u0645\u0648\u0639\u062f \u0627\u0644\u0645\u0631\u064a\u0636"
                  },
                  "payment_status": {
                    "type": "string",
                    "example": "paid"
                  },
                  "status": {
                    "type": "string",
                    "example": "confirmed"
                  }
                }
              },
              "examples": {
                "Update Appointment": {
                  "value": {
                    "date_time": "2025-11-16T11:00:00.000Z",
                    "id": "uuid-of-appointment",
                    "note": "\u062a\u0645 \u062a\u062d\u062f\u064a\u062b \u0645\u0648\u0639\u062f \u0627\u0644\u0645\u0631\u064a\u0636",
                    "payment_status": "paid",
                    "status": "confirmed"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": ""
          }
        }
      }
    },
    "/appointment/cancel": {
      "post": {
        "tags": [
          "Appointments"
        ],
        "summary": "Cancel Appointment",
        "description": "Cancel an appointment",
        "operationId": "cancelAppointment",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "id": {
                    "type": "string",
                    "example": "uuid-of-appointment"
                  }
                }
              },
              "examples": {
                "Cancel Appointment": {
                  "value": {
                    "id": "uuid-of-appointment"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": ""
          }
        }
      }
    },
    "/appointment/explore": {
      "get": {
        "tags": [
          "Appointments"
        ],
        "summary": "Explore Appointments",
        "description": "Advanced search for appointments",
        "operationId": "exploreAppointments",
        "parameters": [
          {
            "name": "id",
            "in": "query",
            "schema": {
              "type": "string",
              "example": "uuid-of-appointment"
            },
            "description": "Get a specific appointment by ID"
          },
          {
            "name": "patient_id",
            "in": "query",
            "schema": {
              "type": "string",
              "example": "7a9e1343-0bf7-478b-a269-abf898d158af"
            },
            "description": "Filter by patient"
          },
          {
            "name": "doctor_service_id",
            "in": "query",
            "schema": {
              "type": "string",
              "example": "uuid-of-doctor-service"
            },
            "description": "Filter by doctor service"
          },
          {
            "name": "hospital_id",
            "in": "query",
            "schema": {
              "type": "string",
              "example": "uuid-of-hospital"
            },
            "description": "Filter by hospital"
          },
          {
            "name": "status",
            "in": "query",
            "schema": {
              "type": "string",
              "example": "pending"
            },
            "description": "Filter by status (pending, confirmed, completed, cancelled, no_show)"
          },
          {
            "name": "payment_status",
            "in": "query",
            "schema": {
              "type": "string",
              "example": "unpaid"
            },
            "description": "Filter by payment status (unpaid, pending, paid, refunded, failed)"
          },
          {
            "name": "date_from",
            "in": "query",
            "schema": {
              "type": "string",
              "example": "2025-11-01T00:00:00.000Z"
            },
            "description": "Filter appointments from this date"
          },
          {
            "name": "date_to",
            "in": "query",
            "schema": {
              "type": "string",
              "example": "2025-11-30T23:59:59.999Z"
            },
            "description": "Filter appointments until this date"
          },
          {
            "name": "page",
            "in": "query",
            "schema": {
              "type": "string",
              "example": "1"
            },
            "description": "Page number"
          },
          {
            "name": "limit",
            "in": "query",
            "schema": {
              "type": "string",
              "example": "10"
            },
            "description": "Results per page"
          },
          {
            "name": "doctor_id",
            "in": "query",
            "schema": {
              "type": "string",
              "example": "b9a0cc22-bc81-4fd7-b47b-d001a42ef964"
            }
          }
        ],
        "responses": {
          "200": {
            "description": ""
          }
        }
      }
    }
  },
  "tags": [
    {
      "name": "Authentication"
    },
    {
      "name": "User"
    },
    {
      "name": "Patient"
    },
    {
      "name": "Doctor"
    },
    {
      "name": "Hospital"
    },
    {
      "name": "Laboratory"
    },
    {
      "name": "User1"
    },
    {
      "name": "Patient1"
    },
    {
      "name": "MedicalRecord"
    },
    {
      "name": "Doctor1"
    },
    {
      "name": "DoctorSchedule"
    },
    {
      "name": "Hospital1",
      "description": "Hospital related API endpoints"
    },
    {
      "name": "Laboratory1"
    },
    {
      "name": "Samples"
    },
    {
      "name": "Categories",
      "description": "Category management API endpoints"
    },
    {
      "name": "Services",
      "description": "Service management API endpoints"
    },
    {
      "name": "Hospital Services",
      "description": "Hospital services management API endpoints"
    },
    {
      "name": "Doctor Services",
      "description": "Doctor services management API endpoints"
    },
    {
      "name": "Appointments",
      "description": "Appointment management API endpoints"
    }
  ]
}