{
  "openapi": "3.0.3",
  "info": {
    "title": "Bland AI Phone Calls API",
    "version": "1.0.0",
    "description": "Bland AI API for making, managing, and analyzing AI-powered phone calls. Supports outbound calls, inbound number management, batch calling, and post-call analysis.",
    "x-jentic-source-url": "https://docs.bland.ai/api-v1/get/calls",
    "contact": {
      "name": "API Support"
    }
  },
  "servers": [
    {
      "url": "https://api.bland.ai",
      "description": "Bland AI Production API"
    }
  ],
  "security": [
    {
      "apiKeyAuth": []
    }
  ],
  "tags": [
    {
      "name": "Calls",
      "description": "Send, list, and manage phone calls"
    },
    {
      "name": "Batches",
      "description": "Create and manage batch call operations"
    },
    {
      "name": "Account",
      "description": "Account information and billing"
    }
  ],
  "paths": {
    "/v1/calls": {
      "get": {
        "operationId": "listCalls",
        "summary": "List Calls",
        "description": "Returns a list of calls that have been made or received, with metadata and transcripts.",
        "tags": [
          "Calls"
        ],
        "parameters": [
          {
            "name": "from_number",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "description": "Filter by the number that made the call."
          },
          {
            "name": "to_number",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "description": "Filter by the number that received the call."
          },
          {
            "name": "from_date",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "description": "Filter calls created after this date."
          },
          {
            "name": "to_date",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "description": "Filter calls created before this date."
          },
          {
            "name": "limit",
            "in": "query",
            "schema": {
              "type": "integer"
            },
            "description": "Maximum number of calls to return."
          },
          {
            "name": "answered_by",
            "in": "query",
            "schema": {
              "type": "string",
              "enum": [
                "human",
                "voicemail",
                "unknown",
                "no-answer"
              ]
            },
            "description": "Filter by who answered the call."
          },
          {
            "name": "batch_id",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "description": "Filter calls by batch ID."
          },
          {
            "name": "completed",
            "in": "query",
            "schema": {
              "type": "boolean"
            },
            "description": "Filter by completion status."
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response with list of calls.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "calls": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/CallSummary"
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad request.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized — invalid or missing API key.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      },
      "post": {
        "operationId": "sendCall",
        "summary": "Send a Phone Call",
        "description": "Send an AI-powered phone call to the specified number with a task or conversational pathway.",
        "tags": [
          "Calls"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/SendCallRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Call queued successfully.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SendCallResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request — invalid parameters.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/v1/calls/{call_id}": {
      "get": {
        "operationId": "getCallDetails",
        "summary": "Get Call Details",
        "description": "Retrieve detailed information, metadata, and transcripts for a specific call.",
        "tags": [
          "Calls"
        ],
        "parameters": [
          {
            "name": "call_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "The unique identifier of the call."
          }
        ],
        "responses": {
          "200": {
            "description": "Call details retrieved successfully.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CallDetail"
                }
              }
            }
          },
          "400": {
            "description": "Bad request.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/v1/calls/{call_id}/stop": {
      "post": {
        "operationId": "stopCall",
        "summary": "Stop Active Call",
        "description": "End an active phone call by call_id.",
        "tags": [
          "Calls"
        ],
        "parameters": [
          {
            "name": "call_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "The unique identifier for the call to end."
          }
        ],
        "responses": {
          "200": {
            "description": "Call ended successfully.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": {
                      "type": "string",
                      "enum": [
                        "success",
                        "error"
                      ]
                    },
                    "message": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad request.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/v1/calls/{call_id}/analyze": {
      "post": {
        "operationId": "analyzeCall",
        "summary": "Analyze Call with AI",
        "description": "Analyze a call based on questions and goals. Returns structured answers extracted from the call transcript.",
        "tags": [
          "Calls"
        ],
        "parameters": [
          {
            "name": "call_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "The unique identifier for the call to analyze."
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/AnalyzeCallRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Analysis completed successfully.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AnalyzeCallResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/v1/batches": {
      "post": {
        "operationId": "createBatch",
        "summary": "Create Batch",
        "description": "Create a new batch of calls using direct input. Each call object follows the same schema as /v1/calls.",
        "tags": [
          "Batches"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateBatchRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Batch created successfully.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "object",
                      "properties": {
                        "batch_id": {
                          "type": "string",
                          "description": "The unique identifier for the batch."
                        }
                      }
                    },
                    "errors": {
                      "nullable": true
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad request.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/v1/batches/{batch_id}": {
      "get": {
        "operationId": "getBatch",
        "summary": "Get Batch",
        "description": "Retrieve metadata for a specific batch. Does not include logs.",
        "tags": [
          "Batches"
        ],
        "parameters": [
          {
            "name": "batch_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "The unique identifier of the batch."
          }
        ],
        "responses": {
          "200": {
            "description": "Batch details retrieved successfully.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BatchDetail"
                }
              }
            }
          },
          "400": {
            "description": "Bad request.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/v1/me": {
      "get": {
        "operationId": "getAccountDetails",
        "summary": "Account Details",
        "description": "Returns account data including billing balance, account status, and total calls made.",
        "tags": [
          "Account"
        ],
        "responses": {
          "200": {
            "description": "Account details retrieved successfully.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AccountDetails"
                }
              }
            }
          },
          "400": {
            "description": "Bad request.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    }
  },
  "components": {
    "securitySchemes": {
      "apiKeyAuth": {
        "type": "apiKey",
        "in": "header",
        "name": "authorization",
        "description": "Your Bland AI API key for authentication."
      }
    },
    "schemas": {
      "SendCallRequest": {
        "type": "object",
        "required": [
          "phone_number"
        ],
        "properties": {
          "phone_number": {
            "type": "string",
            "description": "The phone number to call in E.164 format."
          },
          "task": {
            "type": "string",
            "description": "The task or prompt for the AI agent during the call. Required if pathway_id is not provided."
          },
          "pathway_id": {
            "type": "string",
            "description": "The unique identifier for a conversational pathway. Required if task is not provided."
          },
          "voice": {
            "type": "string",
            "description": "Voice ID for the AI agent."
          },
          "first_sentence": {
            "type": "string",
            "description": "The first thing the AI agent says on the call."
          },
          "wait_for_greeting": {
            "type": "boolean",
            "description": "Whether the AI should wait for the other person to speak first."
          },
          "record": {
            "type": "boolean",
            "description": "Whether to record the call."
          },
          "max_duration": {
            "type": "integer",
            "description": "Maximum call duration in minutes."
          },
          "model": {
            "type": "string",
            "description": "The AI model to use for the call."
          },
          "language": {
            "type": "string",
            "description": "Language code for the call (e.g., 'ENG')."
          },
          "transfer_phone_number": {
            "type": "string",
            "description": "Phone number to transfer the call to if needed."
          },
          "metadata": {
            "type": "object",
            "description": "Custom metadata to attach to the call."
          },
          "webhook": {
            "type": "string",
            "description": "URL for call completion webhook."
          },
          "analysis_schema": {
            "type": "object",
            "description": "Schema for post-call analysis."
          },
          "start_time": {
            "type": "string",
            "description": "Schedule the call for a future time (ISO 8601 format)."
          }
        }
      },
      "SendCallResponse": {
        "type": "object",
        "properties": {
          "status": {
            "type": "string"
          },
          "call_id": {
            "type": "string"
          },
          "batch_id": {
            "type": "string",
            "nullable": true
          },
          "message": {
            "type": "string"
          }
        }
      },
      "CallSummary": {
        "type": "object",
        "properties": {
          "call_id": {
            "type": "string"
          },
          "to": {
            "type": "string"
          },
          "from": {
            "type": "string"
          },
          "completed": {
            "type": "boolean"
          },
          "created_at": {
            "type": "string",
            "format": "date-time"
          },
          "call_length": {
            "type": "number",
            "description": "Call duration in minutes."
          },
          "inbound": {
            "type": "boolean"
          },
          "queue_status": {
            "type": "string"
          }
        }
      },
      "CallDetail": {
        "type": "object",
        "properties": {
          "call_id": {
            "type": "string"
          },
          "call_length": {
            "type": "number",
            "description": "Call duration in minutes."
          },
          "batch_id": {
            "type": "string",
            "nullable": true
          },
          "to": {
            "type": "string"
          },
          "from": {
            "type": "string"
          },
          "request_data": {
            "type": "object",
            "description": "Parameters from the original API request."
          },
          "completed": {
            "type": "boolean"
          },
          "inbound": {
            "type": "boolean"
          },
          "created_at": {
            "type": "string",
            "format": "date-time"
          },
          "started_at": {
            "type": "string",
            "format": "date-time"
          },
          "end_at": {
            "type": "string",
            "format": "date-time"
          },
          "queue_status": {
            "type": "string",
            "enum": [
              "new",
              "queued",
              "allocated",
              "started",
              "complete",
              "pre_queue_error",
              "queue_error",
              "call_error",
              "complete_error"
            ],
            "description": "Current status in the call lifecycle."
          },
          "endpoint_url": {
            "type": "string"
          },
          "max_duration": {
            "type": "integer"
          },
          "error_message": {
            "type": "string",
            "nullable": true
          },
          "variables": {
            "type": "object",
            "description": "Variables created during the call."
          },
          "answered_by": {
            "type": "string",
            "enum": [
              "human",
              "voicemail",
              "unknown",
              "no-answer"
            ],
            "nullable": true
          },
          "record": {
            "type": "boolean"
          },
          "recording_url": {
            "type": "string",
            "nullable": true
          },
          "metadata": {
            "type": "object"
          },
          "summary": {
            "type": "string",
            "description": "AI-generated call summary."
          },
          "price": {
            "type": "number",
            "description": "Cost of the call in USD."
          },
          "local_dialing": {
            "type": "boolean"
          },
          "call_ended_by": {
            "type": "string",
            "enum": [
              "ASSISTANT",
              "USER"
            ]
          },
          "pathway_id": {
            "type": "string",
            "nullable": true
          },
          "pathway_logs": {
            "type": "string",
            "nullable": true
          },
          "pathway_version": {
            "type": "integer",
            "nullable": true
          },
          "analysis_schema": {
            "type": "object",
            "nullable": true
          },
          "analysis": {
            "type": "object",
            "nullable": true
          },
          "concatenated_transcript": {
            "type": "string"
          },
          "transcripts": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Transcript"
            }
          },
          "status": {
            "type": "string",
            "enum": [
              "completed",
              "failed",
              "busy",
              "no-answer",
              "canceled",
              "unknown"
            ]
          },
          "corrected_duration": {
            "type": "string"
          },
          "voice_id": {
            "type": "string"
          },
          "transferred_to": {
            "type": "string",
            "nullable": true
          },
          "transferred_at": {
            "type": "string",
            "nullable": true
          }
        }
      },
      "Transcript": {
        "type": "object",
        "properties": {
          "id": {
            "type": "integer"
          },
          "created_at": {
            "type": "string",
            "format": "date-time"
          },
          "text": {
            "type": "string"
          },
          "user": {
            "type": "string",
            "enum": [
              "user",
              "assistant",
              "robot",
              "agent-action"
            ]
          }
        }
      },
      "AnalyzeCallRequest": {
        "type": "object",
        "required": [
          "goal",
          "questions"
        ],
        "properties": {
          "goal": {
            "type": "string",
            "description": "Overall purpose of the call, providing context for the analysis."
          },
          "questions": {
            "type": "array",
            "description": "Array of questions to analyze. Each question is an array with question text and expected answer type.",
            "items": {
              "type": "array",
              "items": {
                "type": "string"
              }
            }
          }
        }
      },
      "AnalyzeCallResponse": {
        "type": "object",
        "properties": {
          "status": {
            "type": "string"
          },
          "message": {
            "type": "string"
          },
          "answers": {
            "type": "array",
            "items": {}
          },
          "credits_used": {
            "type": "number",
            "description": "Token-based price for the analysis request."
          }
        }
      },
      "CreateBatchRequest": {
        "type": "object",
        "required": [
          "global"
        ],
        "properties": {
          "call_objects": {
            "type": "array",
            "description": "List of individual call objects. Each follows the same schema as /v1/calls.",
            "items": {
              "type": "object",
              "properties": {
                "phone_number": {
                  "type": "string"
                },
                "task": {
                  "type": "string"
                },
                "start_time": {
                  "type": "string"
                }
              }
            }
          },
          "global": {
            "type": "object",
            "description": "Global call properties applied to all call_objects unless overridden. Must include task or pathway_id. phone_number is forbidden here.",
            "properties": {
              "task": {
                "type": "string"
              },
              "pathway_id": {
                "type": "string"
              },
              "record": {
                "type": "boolean"
              },
              "start_time": {
                "type": "string"
              }
            }
          },
          "status_webhook": {
            "type": "string",
            "description": "URL to receive batch status updates via POST."
          }
        }
      },
      "BatchDetail": {
        "type": "object",
        "properties": {
          "data": {
            "type": "object",
            "properties": {
              "id": {
                "type": "string"
              },
              "user_id": {
                "type": "string"
              },
              "base_prompt": {
                "type": "string",
                "description": "JSON string of shared call properties."
              },
              "created_at": {
                "type": "string",
                "format": "date-time"
              },
              "call_objects": {
                "type": "array",
                "items": {
                  "type": "object"
                }
              },
              "description": {
                "type": "string"
              }
            }
          },
          "errors": {
            "nullable": true
          }
        }
      },
      "AccountDetails": {
        "type": "object",
        "properties": {
          "status": {
            "type": "string",
            "description": "Account status."
          },
          "billing": {
            "type": "object",
            "properties": {
              "current_balance": {
                "type": "number",
                "description": "Number of credits."
              },
              "refill_to": {
                "type": "number",
                "nullable": true,
                "description": "Auto-refill target amount if enabled."
              }
            }
          },
          "total_calls": {
            "type": "integer",
            "description": "Total number of calls made."
          }
        }
      },
      "ErrorResponse": {
        "type": "object",
        "properties": {
          "status": {
            "type": "string"
          },
          "message": {
            "type": "string"
          }
        }
      }
    }
  }
}
