{
  "openapi": "3.0.3",
  "info": {
    "title": "Dataverse API",
    "version": "6.10.0",
    "description": "Dataverse is an open-source web application for sharing, preserving, citing, exploring, and analyzing research data. This API covers the core Native API endpoints for managing Dataverse collections, datasets, files, and searching.",
    "x-jentic-source-url": "https://guides.dataverse.org/en/latest/api/index.html",
    "contact": {
      "name": "API Support"
    }
  },
  "servers": [
    {
      "url": "https://demo.dataverse.org/api"
    }
  ],
  "paths": {
    "/search": {
      "get": {
        "operationId": "search",
        "summary": "Search Dataverse",
        "description": "Search for dataverses, datasets, and files using full-text search with filtering.",
        "tags": [
          "Search"
        ],
        "parameters": [
          {
            "name": "q",
            "in": "query",
            "required": true,
            "description": "Search query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "type",
            "in": "query",
            "description": "Filter by type",
            "required": false,
            "schema": {
              "type": "string",
              "enum": [
                "dataverse",
                "dataset",
                "file"
              ]
            }
          },
          {
            "name": "subtree",
            "in": "query",
            "description": "Filter to a specific dataverse collection",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "sort",
            "in": "query",
            "description": "Sort field",
            "required": false,
            "schema": {
              "type": "string",
              "enum": [
                "name",
                "date",
                "relevance"
              ]
            }
          },
          {
            "name": "order",
            "in": "query",
            "description": "Sort order",
            "required": false,
            "schema": {
              "type": "string",
              "enum": [
                "asc",
                "desc"
              ]
            }
          },
          {
            "name": "per_page",
            "in": "query",
            "description": "Results per page",
            "required": false,
            "schema": {
              "type": "integer",
              "default": 10
            }
          },
          {
            "name": "start",
            "in": "query",
            "description": "Results offset",
            "required": false,
            "schema": {
              "type": "integer",
              "default": 0
            }
          },
          {
            "name": "fq",
            "in": "query",
            "description": "Filter query (Solr syntax)",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Search results",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SearchResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      }
    },
    "/dataverses/{identifier}": {
      "get": {
        "operationId": "getDataverse",
        "summary": "View a Dataverse collection",
        "description": "Returns information about a Dataverse collection.",
        "tags": [
          "Dataverse Collections"
        ],
        "parameters": [
          {
            "name": "identifier",
            "in": "path",
            "required": true,
            "description": "Dataverse alias or ID",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Dataverse details",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DataverseResponse"
                }
              }
            }
          },
          "404": {
            "description": "Dataverse not found"
          }
        }
      },
      "post": {
        "operationId": "createDataverse",
        "summary": "Create a Dataverse collection",
        "description": "Creates a new Dataverse collection under the specified parent.",
        "tags": [
          "Dataverse Collections"
        ],
        "parameters": [
          {
            "name": "identifier",
            "in": "path",
            "required": true,
            "description": "Parent Dataverse alias or ID",
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/DataverseInput"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Dataverse created"
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      },
      "delete": {
        "operationId": "deleteDataverse",
        "summary": "Delete a Dataverse collection",
        "tags": [
          "Dataverse Collections"
        ],
        "parameters": [
          {
            "name": "identifier",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Dataverse deleted"
          },
          "401": {
            "description": "Unauthorized"
          },
          "404": {
            "description": "Not found"
          }
        },
        "description": "Delete a Dataverse collection"
      }
    },
    "/dataverses/{identifier}/contents": {
      "get": {
        "operationId": "getDataverseContents",
        "summary": "Show contents of a Dataverse collection",
        "description": "Returns the contents (datasets and sub-collections) of a Dataverse collection.",
        "tags": [
          "Dataverse Collections"
        ],
        "parameters": [
          {
            "name": "identifier",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Contents list",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ContentsResponse"
                }
              }
            }
          },
          "404": {
            "description": "Not found"
          }
        }
      }
    },
    "/datasets/{id}": {
      "get": {
        "operationId": "getDataset",
        "summary": "Get dataset",
        "description": "Returns the JSON representation of a dataset.",
        "tags": [
          "Datasets"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "description": "Dataset ID or persistent identifier",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Dataset details",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DatasetResponse"
                }
              }
            }
          },
          "404": {
            "description": "Dataset not found"
          }
        }
      },
      "delete": {
        "operationId": "deleteDataset",
        "summary": "Delete a dataset (draft)",
        "tags": [
          "Datasets"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Dataset deleted"
          },
          "401": {
            "description": "Unauthorized"
          },
          "404": {
            "description": "Not found"
          }
        },
        "description": "Delete a dataset (draft)"
      }
    },
    "/datasets/{id}/versions": {
      "get": {
        "operationId": "listDatasetVersions",
        "summary": "List versions of a dataset",
        "tags": [
          "Datasets"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Version list",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          },
          "404": {
            "description": "Dataset not found"
          }
        },
        "description": "List versions of a dataset"
      }
    },
    "/datasets/{id}/versions/{versionId}": {
      "get": {
        "operationId": "getDatasetVersion",
        "summary": "Get specific version of a dataset",
        "tags": [
          "Datasets"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "versionId",
            "in": "path",
            "required": true,
            "description": "Version string (:latest, :draft, :latest-published, or major.minor)",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Dataset version",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          },
          "404": {
            "description": "Not found"
          }
        },
        "description": "Get specific version of a dataset"
      }
    },
    "/datasets/{id}/versions/{versionId}/files": {
      "get": {
        "operationId": "listDatasetFiles",
        "summary": "List files in a dataset version",
        "tags": [
          "Datasets"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "versionId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "File list",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          },
          "404": {
            "description": "Not found"
          }
        },
        "description": "List files in a dataset version"
      }
    },
    "/datasets/:persistentId": {
      "get": {
        "operationId": "getDatasetByPersistentId",
        "summary": "Get dataset by persistent ID",
        "description": "Returns a dataset by its persistent identifier (DOI or Handle).",
        "tags": [
          "Datasets"
        ],
        "parameters": [
          {
            "name": "persistentId",
            "in": "query",
            "required": true,
            "description": "The persistent identifier (e.g., doi:10.5072/FK2/J8SJZB)",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Dataset details",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DatasetResponse"
                }
              }
            }
          },
          "404": {
            "description": "Dataset not found"
          }
        }
      }
    },
    "/dataverses/{identifier}/datasets": {
      "post": {
        "operationId": "createDataset",
        "summary": "Create a dataset in a Dataverse collection",
        "description": "Creates a new dataset within the specified Dataverse collection.",
        "tags": [
          "Datasets"
        ],
        "parameters": [
          {
            "name": "identifier",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/DatasetInput"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Dataset created",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      }
    },
    "/access/datafile/{id}": {
      "get": {
        "operationId": "downloadFile",
        "summary": "Download a data file",
        "description": "Download a file by its database ID.",
        "tags": [
          "Data Access"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "format",
            "in": "query",
            "description": "Request specific format (e.g., original, tab)",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "File content",
            "content": {
              "application/octet-stream": {
                "schema": {
                  "type": "string",
                  "format": "binary"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "File not found"
          }
        }
      }
    },
    "/info/version": {
      "get": {
        "operationId": "getVersion",
        "summary": "Get Dataverse version",
        "description": "Returns the version of the Dataverse installation.",
        "tags": [
          "Info"
        ],
        "responses": {
          "200": {
            "description": "Version info",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": {
                      "type": "string"
                    },
                    "data": {
                      "type": "object",
                      "properties": {
                        "version": {
                          "type": "string"
                        },
                        "build": {
                          "type": "string"
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/metadatablocks": {
      "get": {
        "operationId": "listMetadataBlocks",
        "summary": "List metadata blocks",
        "description": "Returns all available metadata blocks.",
        "tags": [
          "Metadata"
        ],
        "responses": {
          "200": {
            "description": "List of metadata blocks",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        }
      }
    }
  },
  "components": {
    "schemas": {
      "SearchResponse": {
        "type": "object",
        "properties": {
          "status": {
            "type": "string"
          },
          "data": {
            "type": "object",
            "properties": {
              "q": {
                "type": "string"
              },
              "total_count": {
                "type": "integer"
              },
              "start": {
                "type": "integer"
              },
              "spelling_alternatives": {
                "type": "object"
              },
              "items": {
                "type": "array",
                "items": {
                  "$ref": "#/components/schemas/SearchItem"
                }
              },
              "count_in_response": {
                "type": "integer"
              }
            }
          }
        }
      },
      "SearchItem": {
        "type": "object",
        "properties": {
          "name": {
            "type": "string"
          },
          "type": {
            "type": "string"
          },
          "url": {
            "type": "string",
            "format": "uri"
          },
          "global_id": {
            "type": "string"
          },
          "description": {
            "type": "string"
          },
          "published_at": {
            "type": "string"
          },
          "citationHtml": {
            "type": "string"
          }
        }
      },
      "DataverseResponse": {
        "type": "object",
        "properties": {
          "status": {
            "type": "string"
          },
          "data": {
            "type": "object",
            "properties": {
              "id": {
                "type": "integer"
              },
              "alias": {
                "type": "string"
              },
              "name": {
                "type": "string"
              },
              "description": {
                "type": "string"
              },
              "affiliation": {
                "type": "string"
              },
              "dataverseType": {
                "type": "string"
              },
              "creationDate": {
                "type": "string"
              }
            }
          }
        }
      },
      "DataverseInput": {
        "type": "object",
        "required": [
          "name",
          "alias",
          "dataverseContacts"
        ],
        "properties": {
          "name": {
            "type": "string"
          },
          "alias": {
            "type": "string"
          },
          "description": {
            "type": "string"
          },
          "affiliation": {
            "type": "string"
          },
          "dataverseType": {
            "type": "string",
            "enum": [
              "UNCATEGORIZED",
              "DEPARTMENT",
              "JOURNAL",
              "LABORATORY",
              "ORGANIZATION_OR_INSTITUTION",
              "RESEARCHER",
              "RESEARCH_GROUP",
              "RESEARCH_PROJECT",
              "TEACHING_COURSE"
            ]
          },
          "dataverseContacts": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "contactEmail": {
                  "type": "string",
                  "format": "email"
                }
              }
            }
          }
        }
      },
      "DatasetResponse": {
        "type": "object",
        "properties": {
          "status": {
            "type": "string"
          },
          "data": {
            "type": "object",
            "properties": {
              "id": {
                "type": "integer"
              },
              "identifier": {
                "type": "string"
              },
              "persistentUrl": {
                "type": "string",
                "format": "uri"
              },
              "protocol": {
                "type": "string"
              },
              "authority": {
                "type": "string"
              },
              "publisher": {
                "type": "string"
              },
              "publicationDate": {
                "type": "string"
              },
              "latestVersion": {
                "type": "object"
              }
            }
          }
        }
      },
      "DatasetInput": {
        "type": "object",
        "properties": {
          "datasetVersion": {
            "type": "object",
            "properties": {
              "metadataBlocks": {
                "type": "object",
                "properties": {
                  "citation": {
                    "type": "object",
                    "properties": {
                      "fields": {
                        "type": "array",
                        "items": {
                          "type": "object"
                        }
                      },
                      "displayName": {
                        "type": "string"
                      }
                    }
                  }
                }
              }
            }
          }
        }
      },
      "ContentsResponse": {
        "type": "object",
        "properties": {
          "status": {
            "type": "string"
          },
          "data": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "type": {
                  "type": "string"
                },
                "id": {
                  "type": "integer"
                },
                "title": {
                  "type": "string"
                }
              }
            }
          }
        }
      }
    },
    "securitySchemes": {
      "apiKeyAuth": {
        "type": "apiKey",
        "in": "header",
        "name": "X-Dataverse-key",
        "description": "Dataverse API token"
      }
    }
  },
  "security": [
    {
      "apiKeyAuth": []
    }
  ],
  "tags": [
    {
      "name": "Data Access"
    },
    {
      "name": "Datasets"
    },
    {
      "name": "Dataverse Collections"
    },
    {
      "name": "Info"
    },
    {
      "name": "Metadata"
    },
    {
      "name": "Search"
    }
  ]
}
