{
  "openapi": "3.0.3",
  "info": {
    "title": "STAWS - Web Services do Sistema de Transfer\u00eancia de Arquivos",
    "version": "1.0",
    "description": "Documenta\u00e7\u00e3o gerada com base no *Manual de Utiliza\u00e7\u00e3o dos Web Services do STA \u2013 v1.1.9*\ndo Banco Central do Brasil.\n",
    "x-jentic-source-url": "https://api.swaggerhub.com/apis/brad-5a7/staws-web-services-do-sistema-de-transferencia-de-arquivos/1.0"
  },
  "servers": [
    {
      "url": "https://sta-h.bcb.gov.br/staws",
      "description": "Homologa\u00e7\u00e3o"
    },
    {
      "url": "https://sta.bcb.gov.br/staws",
      "description": "Produ\u00e7\u00e3o"
    }
  ],
  "paths": {
    "/upload/solicitar-protocolo": {
      "post": {
        "summary": "Solicita protocolo para in\u00edcio de upload",
        "tags": [
          "Upload"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/xml": {
              "schema": {
                "$ref": "#/components/schemas/SolicitarProtocoloRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Protocolo gerado",
            "content": {
              "application/xml": {
                "schema": {
                  "$ref": "#/components/schemas/SolicitarProtocoloResponse"
                }
              }
            }
          }
        }
      }
    },
    "/upload/enviar": {
      "post": {
        "summary": "Envia arquivo completo ao STA",
        "tags": [
          "Upload"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/octet-stream": {
              "schema": {
                "type": "string",
                "format": "binary"
              }
            }
          }
        },
        "parameters": [
          {
            "in": "query",
            "name": "protocolo",
            "schema": {
              "type": "string"
            },
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "Upload recebido",
            "content": {
              "application/xml": {
                "schema": {
                  "$ref": "#/components/schemas/UploadResponse"
                }
              }
            }
          }
        }
      }
    },
    "/upload/consulta": {
      "get": {
        "summary": "Consulta posi\u00e7\u00e3o ou status de um upload",
        "tags": [
          "Upload"
        ],
        "parameters": [
          {
            "in": "query",
            "name": "protocolo",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Status retornado",
            "content": {
              "application/xml": {
                "schema": {
                  "$ref": "#/components/schemas/ConsultaUploadResponse"
                }
              }
            }
          }
        }
      }
    },
    "/download/solicitar": {
      "post": {
        "summary": "Solicita arquivo para download",
        "tags": [
          "Download"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/xml": {
              "schema": {
                "$ref": "#/components/schemas/DownloadSolicitarRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Download dispon\u00edvel",
            "content": {
              "application/xml": {
                "schema": {
                  "$ref": "#/components/schemas/DownloadSolicitarResponse"
                }
              }
            }
          }
        }
      }
    },
    "/download/arquivo": {
      "get": {
        "summary": "Efetua download do arquivo solicitado",
        "tags": [
          "Download"
        ],
        "parameters": [
          {
            "in": "query",
            "name": "protocolo",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Arquivo bin\u00e1rio",
            "content": {
              "application/octet-stream": {
                "schema": {
                  "type": "string",
                  "format": "binary"
                }
              }
            }
          }
        }
      }
    }
  },
  "components": {
    "schemas": {
      "SolicitarProtocoloRequest": {
        "type": "object",
        "properties": {
          "tipoArquivo": {
            "type": "string"
          },
          "tamanho": {
            "type": "number"
          }
        },
        "xml": {
          "name": "SolicitarProtocolo"
        }
      },
      "SolicitarProtocoloResponse": {
        "type": "object",
        "properties": {
          "protocolo": {
            "type": "string"
          },
          "status": {
            "type": "string"
          }
        },
        "xml": {
          "name": "ProtocoloResposta"
        }
      },
      "UploadResponse": {
        "type": "object",
        "properties": {
          "protocolo": {
            "type": "string"
          },
          "status": {
            "type": "string"
          }
        },
        "xml": {
          "name": "UploadResposta"
        }
      },
      "ConsultaUploadResponse": {
        "type": "object",
        "properties": {
          "protocolo": {
            "type": "string"
          },
          "status": {
            "type": "string"
          },
          "progresso": {
            "type": "number"
          }
        },
        "xml": {
          "name": "ConsultaUpload"
        }
      },
      "DownloadSolicitarRequest": {
        "type": "object",
        "properties": {
          "tipoArquivo": {
            "type": "string"
          }
        },
        "xml": {
          "name": "SolicitarDownload"
        }
      },
      "DownloadSolicitarResponse": {
        "type": "object",
        "properties": {
          "protocolo": {
            "type": "string"
          },
          "disponivel": {
            "type": "boolean"
          }
        },
        "xml": {
          "name": "DownloadSolicitarResposta"
        }
      }
    }
  }
}