{
  "openapi": "3.0.0",
  "info": {
    "version": "1.0.0",
    "title": "User Manager",
    "description": "API Template for User Logins",
    "x-jentic-source-url": "https://api.swaggerhub.com/apis/none-dbc-84e/UserManagerAPI/1.0.0"
  },
  "servers": [
    {
      "url": "http://ohanacm.xyz/api",
      "description": "Production (HTTP)"
    }
  ],
  "paths": {
    "/users.php": {
      "post": {
        "summary": "Login or Register a User",
        "description": "This endpoint handles both login and registration. If only username & password are provided -> Login. If first_name, last_name, username & password are provided -> Register",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "oneOf": [
                  {
                    "$ref": "#/components/schemas/LoginRequest"
                  },
                  {
                    "$ref": "#/components/schemas/RegisterRequest"
                  }
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Login/Registration Successful",
            "content": {
              "application/json": {
                "schema": {
                  "oneOf": [
                    {
                      "$ref": "#/components/schemas/LoginResponse"
                    },
                    {
                      "$ref": "#/components/schemas/RegisterResponse"
                    }
                  ]
                }
              }
            }
          },
          "409": {
            "description": "Username is taken"
          }
        }
      }
    }
  },
  "components": {
    "schemas": {
      "LoginRequest": {
        "type": "object",
        "required": [
          "username",
          "password"
        ],
        "properties": {
          "username": {
            "type": "string",
            "example": "testUser"
          },
          "password": {
            "type": "string",
            "example": "password_123"
          }
        }
      },
      "RegisterRequest": {
        "type": "object",
        "required": [
          "first_name",
          "last_name",
          "username",
          "password",
          "email"
        ],
        "properties": {
          "first_name": {
            "type": "string",
            "example": "John"
          },
          "last_name": {
            "type": "string",
            "example": "Doe"
          },
          "username": {
            "type": "string",
            "example": "johnDoe"
          },
          "password": {
            "type": "string",
            "example": "password_123"
          },
          "email": {
            "type": "string",
            "example": "johndoe@example.com"
          }
        }
      },
      "LoginResponse": {
        "type": "object",
        "properties": {
          "success": {
            "type": "boolean",
            "example": true
          },
          "user_id": {
            "type": "integer",
            "example": 1
          },
          "first_name": {
            "type": "string",
            "example": "John"
          }
        }
      },
      "RegisterResponse": {
        "type": "object",
        "properties": {
          "success": {
            "type": "boolean",
            "example": true
          },
          "user_id": {
            "type": "integer",
            "example": 2
          }
        }
      }
    }
  }
}