{
  "openapi": "3.1.0",
  "info": {
    "title": "Charitas APIs for AI Agent Integration",
    "description": "This is the Charitas API for AI AGent Integration based on the OpenAPI 3.1 specification.",
    "contact": {
      "email": "support@bizcube.com.sg"
    },
    "version": "1.0.0",
    "x-jentic-source-url": "https://api.swaggerhub.com/apis/bizcube/CharitasAIAgentAPI/1.0.0"
  },
  "servers": [
    {
      "url": "https://demo2.bizcube.com.sg/newcharitasdemo"
    }
  ],
  "paths": {
    "/Ext.Ctc1.AIAgent_Search_Donor.json": {
      "post": {
        "summary": "Query donor information from server",
        "description": "Call this endpoint to get donor data from server",
        "operationId": "AIAgent_Search_Donor",
        "requestBody": {
          "description": "Retrieve donor data based on the parameters given",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/QueryDonorParams"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Successful operation request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SuccessResponse200"
                }
              }
            }
          },
          "403": {
            "description": "An error occurred",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse403"
                }
              }
            }
          },
          "default": {
            "description": "Unexpected error"
          }
        },
        "security": [
          {
            "api_key": [
              "TestKeyChangeInProd"
            ]
          }
        ]
      }
    },
    "/Ext.Ctc1.AIAgent_Search_Volunteer.json": {
      "post": {
        "summary": "Query volunteer information from server",
        "description": "Call this endpoint to get volunteer data from server",
        "operationId": "AIAgent_Search_Volunteer",
        "requestBody": {
          "description": "Retrieve volunteer data based on the parameters given",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/QueryVolunteerParams"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Successful operation request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SuccessResponse200"
                }
              }
            }
          },
          "403": {
            "description": "An error occurred",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse403"
                }
              }
            }
          },
          "default": {
            "description": "Unexpected error"
          }
        },
        "security": [
          {
            "api_key": [
              "TestKeyChangeInProd"
            ]
          }
        ]
      }
    },
    "/Ext.Ctc1.AIAgent_Search_Member.json": {
      "post": {
        "summary": "Query member information from server",
        "description": "Call this endpoint to get member data from server",
        "operationId": "AIAgent_Search_Member",
        "requestBody": {
          "description": "Retrieve mamber data based on the parameters given",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/QueryMemberParams"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Successful operation request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SuccessResponse200"
                }
              }
            }
          },
          "403": {
            "description": "An error occurred",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse403"
                }
              }
            }
          },
          "default": {
            "description": "Unexpected error"
          }
        },
        "security": [
          {
            "api_key": [
              "TestKeyChangeInProd"
            ]
          }
        ]
      }
    }
  },
  "components": {
    "schemas": {
      "QueryDonorParams": {
        "type": "object",
        "properties": {
          "SearchRefID": {
            "type": "string",
            "description": "String to track each unique search request",
            "maxLength": 500,
            "examples": [
              "guid"
            ]
          },
          "DonFilter_Name": {
            "type": "string",
            "description": "Name filter string, wildcards supported",
            "maxLength": 200,
            "examples": [
              "",
              "%paul%"
            ]
          },
          "DonFilter_EntityType": {
            "type": "string",
            "description": "This filter can only be empty string or \"I\" (for individual records) or \"O\" (for organisation records)",
            "maxLength": 1,
            "enum": [
              "I",
              "O"
            ],
            "examples": [
              "O"
            ]
          },
          "DonFilter_DonDateFrom": {
            "type": "string",
            "description": "Filter donations from this start date",
            "format": "date",
            "examples": [
              "2020-01-01"
            ]
          },
          "DonFilter_DonDateTo": {
            "type": "string",
            "description": "Filter donations from this end date inclusive - includes donations made on this end date.",
            "format": "date",
            "examples": [
              "2026-01-01"
            ]
          },
          "DonFilter_DonCampaignCode": {
            "type": "string",
            "description": "Filter donations recorded for specific campaign code",
            "maxLength": 200,
            "examples": [
              "",
              "Online Donation",
              "Year end mailer"
            ]
          },
          "DonFilter_IncludeOneTimeDon": {
            "type": "integer",
            "description": "1 for including one-time donations, 0 for excluding one-time donations",
            "enum": [
              1,
              0
            ],
            "examples": [
              1,
              0
            ]
          },
          "DonFilter_IncludeRecurringDon": {
            "type": "integer",
            "description": "1 for including recurring donations, 0 for excluding recurring donations",
            "enum": [
              1,
              0
            ],
            "examples": [
              1,
              0
            ]
          },
          "DonAmtInFilter_From": {
            "type": "number",
            "description": "Filter for records with filtered total donation amount greater or equal to this value",
            "examples": [
              0
            ]
          },
          "DonAmtInFilter_To": {
            "type": "number",
            "description": "Filter for records with filtered total donation amount less than or equal to this value",
            "examples": [
              5000
            ]
          },
          "DonAmtLifetime_From": {
            "type": "number",
            "description": "Filter for records with lifetime total donation amount greater or equal to this value",
            "examples": [
              0
            ]
          },
          "DonAmtLifetime_To": {
            "type": "number",
            "description": "Filter for records with lifetime total donation amount less than or equal to this value",
            "examples": [
              10000
            ]
          },
          "ResultsFromLastPersonID": {
            "type": "number",
            "description": "For pagination support, return records after this last PersonID received in a previous API call.",
            "examples": [
              100
            ]
          }
        }
      },
      "QueryVolunteerParams": {
        "type": "object",
        "properties": {
          "SearchRefID": {
            "type": "string",
            "description": "String to track each unique search request",
            "maxLength": 500,
            "examples": [
              "guid"
            ]
          },
          "VolFilter_Name": {
            "type": "string",
            "description": "Name filter string, wildcards supported",
            "maxLength": 200,
            "examples": [
              "",
              "%paul%"
            ]
          },
          "VolFilter_EntityType": {
            "type": "string",
            "description": "This filter can only be empty string or \"I\" (for individual records) or \"O\" (for organisation records)",
            "maxLength": 1,
            "enum": [
              "I",
              "O"
            ],
            "examples": [
              "I"
            ]
          },
          "VolFilter_Status": {
            "type": "string",
            "description": "Status of the volunteer",
            "maxLength": 0,
            "examples": [
              "",
              "Active"
            ]
          },
          "VolFilter_JoinDateFrom": {
            "type": "string",
            "description": "Filter volunteers joined from this date onwards (includes this date)",
            "format": "date",
            "examples": [
              "2020-01-01"
            ]
          },
          "VolFilter_JoinDateTo": {
            "type": "string",
            "description": "Filter volunteers joined before this date (includes this date)",
            "format": "date",
            "examples": [
              "2026-01-01"
            ]
          },
          "VolFilter_AreaOfInterest": {
            "type": "string",
            "description": "Filter for volunteer area of interest, single value only",
            "maxLength": 500,
            "enum": [
              "Arts and craft",
              "Basketball",
              "Cycling",
              "Dance",
              "Dragonboat",
              "Drama",
              "Equestrian",
              "Golf",
              "Gymnastics",
              "Handball",
              "Hockey",
              "Ice Skating",
              "Literary",
              "Martial Arts",
              "Motor Sports",
              "Movies",
              "Music",
              "Photography",
              "Racing",
              "Reading",
              "Rowing",
              "Rugby",
              "Running",
              "Singing",
              "Sports",
              "Swimming",
              "Water Sports",
              "Yoga"
            ],
            "examples": [
              "Dance",
              "Arts and craft",
              "Photography",
              "Sports"
            ]
          },
          "VolFilter_Skill": {
            "type": "string",
            "description": "Filter for volunteer skill, single value only",
            "maxLength": 500,
            "enum": [
              "Accounting",
              "Baking",
              "Calligraphy",
              "Climbing",
              "Cooking",
              "Dance",
              "Football",
              "Gardening",
              "House Painting",
              "Handyman",
              "Literary",
              "Magic Tricks",
              "Painting",
              "Photography",
              "Reading",
              "Scriptwriting",
              "Sculpture",
              "Sewing",
              "Sign Language",
              "Storytelling",
              "Translation",
              "Video Editing",
              "Web Design"
            ],
            "examples": [
              "Accounting",
              "Cooking",
              "Handyman",
              "Photography"
            ]
          },
          "VolFilter_Availabilities": {
            "type": "string",
            "description": "Filter for volunteer availability, comma-delimited",
            "maxLength": 500,
            "enum": [
              "Monday Morning",
              "Monday Afternoon",
              "Monday Evening",
              "Tuesday Morning",
              "Tuesday Afternoon",
              "Tuesday Evening",
              "Wednesday Morning",
              "Wednesday Afternoon",
              "Wednesday Evening",
              "Thursday Morning",
              "Thursday Afternoon",
              "Thursday Evening",
              "Friday Morning",
              "Friday Afternoon",
              "Friday Evening",
              "Saturday Morning",
              "Saturday Afternoon",
              "Saturday Evening",
              "Sunday Morning",
              "Sunday Afternoon",
              "Sunday Evening"
            ],
            "examples": [
              "",
              "Friday Evening,Saturday Morning,Saturday Afternoon,Saturday Evening,Sunday Morning,Sunday Afternoon"
            ]
          },
          "VolFilter_Locations": {
            "type": "string",
            "description": "Filter for volunteer location(s), comma-delimited",
            "maxLength": 500,
            "enum": [
              "Raffles Place",
              "Cecil",
              "Marina",
              "People's Park",
              "Anson",
              "Tanjong Pagar",
              "Queenstown",
              "Tiong Bahru",
              "Telok Blangah",
              "Harbourfront",
              "Pasir Panjang",
              "Hong Leong Garden",
              "Clementi New Town",
              "High Street",
              "Beach Road",
              "Middle Road",
              "Golden Mile",
              "Little India",
              "Orchard",
              "Cairnhill",
              "River Valley",
              "Ardmore",
              "Bukit Timah",
              "Holland Road",
              "Tanglin",
              "Watten Estate",
              "Novena",
              "Thomson",
              "Balestier",
              "Toa Payoh",
              "Serangoon",
              "Macpherson",
              "Braddell",
              "Geylang",
              "Eunos",
              "Katong",
              "Joo Chiat",
              "Amber Road",
              "Bedok",
              "Upper East Coast",
              "Eastwood",
              "Kew Drive",
              "Loyang",
              "Changi",
              "Tampines",
              "Pasir Ris",
              "Serangoon Garden",
              "Hougang",
              "Punggol",
              "Bishan",
              "Ang Mo Kio",
              "Upper Bukit Timah",
              "Clementi Park",
              "Ulu Pandan",
              "Jurong",
              "Hillview",
              "Dairy Farm",
              "Bukit Panjang",
              "Choa Chu Kang",
              "Lim Chu Kang",
              "Tengah",
              "Kranji",
              "Woodgrove",
              "Upper Thomson",
              "Springleaf",
              "Yishun",
              "Sembawang",
              "Seletar"
            ],
            "examples": [
              "",
              "Bishan,Bedok,Queenstown,Tampines"
            ]
          },
          "VolFilter_VolAttendanceDateFrom": {
            "type": "string",
            "description": "Filter volunteers with attendance records from this date onwards (includes this date)",
            "format": "date",
            "examples": [
              null,
              "2020-01-01"
            ]
          },
          "VolFilter_VolAttendanceDateTo": {
            "type": "string",
            "description": "Filter volunteers with attendance records before this date (includes this date)",
            "format": "date",
            "examples": [
              null,
              "2026-01-01"
            ]
          },
          "VolFilter_AttendanceTags": {
            "type": "string",
            "description": "Filter for volunteers with attendance having any of these tag(s), comma-delimited",
            "maxLength": 500,
            "examples": [
              null,
              ""
            ]
          },
          "VolFilter_AttDateRangeHoursGreaterThan": {
            "type": "number",
            "description": "Filter for volunteers with the filtered range attendance hours greater than this value",
            "examples": [
              null,
              0
            ]
          },
          "VolFilter_AttDateRangeHoursLessThan": {
            "type": "number",
            "description": "Filter for volunteers with the filtered range attendance hours less than this value",
            "examples": [
              null,
              0
            ]
          },
          "VolFilter_LifetimeHoursGreaterThan": {
            "type": "number",
            "description": "Filter for volunteers with lifetime attendance hours greater than this value",
            "examples": [
              null,
              0
            ]
          },
          "VolFilter_LifetimeHoursLessThan": {
            "type": "number",
            "description": "Filter for volunteers with lifetime attendance hours less than this value",
            "examples": [
              null,
              0
            ]
          },
          "ResultsFromLastPersonID": {
            "type": "number",
            "description": "For pagination support, return records after this last PersonID received in a previous API call.",
            "examples": [
              100
            ]
          }
        }
      },
      "QueryMemberParams": {
        "type": "object",
        "properties": {
          "SearchRefID": {
            "type": "string",
            "description": "String to track each unique search request",
            "maxLength": 500,
            "examples": [
              "guid"
            ]
          },
          "MemberFilter_Name": {
            "type": "string",
            "description": "Name filter string, wildcards supported",
            "maxLength": 200,
            "examples": [
              "",
              "%paul%"
            ]
          },
          "MemberFilter_EntityType": {
            "type": "string",
            "description": "This filter can only be empty string or \"I\" (for individual records) or \"O\" (for organisation records)",
            "maxLength": 1,
            "enum": [
              "I",
              "O"
            ],
            "examples": [
              "I"
            ]
          },
          "MemberFilter_Status": {
            "type": "string",
            "description": "Status of the volunteer",
            "maxLength": 0,
            "examples": [
              "",
              "Active"
            ]
          },
          "MemberFilter_JoinDateFrom": {
            "type": "string",
            "description": "Filter members joined from this date onwards (includes this date)",
            "format": "date",
            "examples": [
              "2020-01-01"
            ]
          },
          "MemberFilter_JoinDateTo": {
            "type": "string",
            "description": "Filter members joined before this date (includes this date)",
            "format": "date",
            "examples": [
              "2026-01-01"
            ]
          },
          "MemberFilter_AreaOfInterest": {
            "type": "string",
            "description": "Filter for member area of interest, single value only",
            "maxLength": 500,
            "enum": [
              "Arts and craft",
              "Basketball",
              "Cycling",
              "Dance",
              "Dragonboat",
              "Drama",
              "Equestrian",
              "Golf",
              "Gymnastics",
              "Handball",
              "Hockey",
              "Ice Skating",
              "Literary",
              "Martial Arts",
              "Motor Sports",
              "Movies",
              "Music",
              "Photography",
              "Racing",
              "Reading",
              "Rowing",
              "Rugby",
              "Running",
              "Singing",
              "Sports",
              "Swimming",
              "Water Sports",
              "Yoga"
            ],
            "examples": [
              "Dance",
              "Arts and craft",
              "Photography",
              "Sports"
            ]
          },
          "MemberFilter_Locations": {
            "type": "string",
            "description": "Filter for member location(s), comma-delimited",
            "maxLength": 500,
            "enum": [
              "Raffles Place",
              "Cecil",
              "Marina",
              "People's Park",
              "Anson",
              "Tanjong Pagar",
              "Queenstown",
              "Tiong Bahru",
              "Telok Blangah",
              "Harbourfront",
              "Pasir Panjang",
              "Hong Leong Garden",
              "Clementi New Town",
              "High Street",
              "Beach Road",
              "Middle Road",
              "Golden Mile",
              "Little India",
              "Orchard",
              "Cairnhill",
              "River Valley",
              "Ardmore",
              "Bukit Timah",
              "Holland Road",
              "Tanglin",
              "Watten Estate",
              "Novena",
              "Thomson",
              "Balestier",
              "Toa Payoh",
              "Serangoon",
              "Macpherson",
              "Braddell",
              "Geylang",
              "Eunos",
              "Katong",
              "Joo Chiat",
              "Amber Road",
              "Bedok",
              "Upper East Coast",
              "Eastwood",
              "Kew Drive",
              "Loyang",
              "Changi",
              "Tampines",
              "Pasir Ris",
              "Serangoon Garden",
              "Hougang",
              "Punggol",
              "Bishan",
              "Ang Mo Kio",
              "Upper Bukit Timah",
              "Clementi Park",
              "Ulu Pandan",
              "Jurong",
              "Hillview",
              "Dairy Farm",
              "Bukit Panjang",
              "Choa Chu Kang",
              "Lim Chu Kang",
              "Tengah",
              "Kranji",
              "Woodgrove",
              "Upper Thomson",
              "Springleaf",
              "Yishun",
              "Sembawang",
              "Seletar"
            ],
            "examples": [
              "",
              "Bishan,Bedok,Queenstown,Tampines"
            ]
          },
          "MemberFilter_MemberAttendanceDateFrom": {
            "type": "string",
            "description": "Filter members with attendance records from this date onwards (includes this date)",
            "format": "date",
            "examples": [
              null,
              "2020-01-01"
            ]
          },
          "MemberFilter_MemberAttendanceDateTo": {
            "type": "string",
            "description": "Filter members with attendance records before this date (includes this date)",
            "format": "date",
            "examples": [
              null,
              "2026-01-01"
            ]
          },
          "MemberFilter_AttendanceTags": {
            "type": "string",
            "description": "Filter for members with attendance having any of these tag(s), comma-delimited",
            "maxLength": 500,
            "examples": [
              null,
              ""
            ]
          },
          "MemberFilter_AttDateRangeCountGreaterThan": {
            "type": "number",
            "description": "Filter for members with the filtered range attendance count greater than this value",
            "examples": [
              null,
              0
            ]
          },
          "MemberFilter_AttDateRangeCountLessThan": {
            "type": "number",
            "description": "Filter for members with the filtered range attendance count less than this value",
            "examples": [
              null,
              0
            ]
          },
          "ResultsFromLastPersonID": {
            "type": "number",
            "description": "For pagination support, return records after this last PersonID received in a previous API call.",
            "examples": [
              100
            ]
          }
        }
      },
      "SuccessResponse200": {
        "type": "object",
        "properties": {
          "d": {
            "type": "object",
            "description": "Return object",
            "properties": {
              "RetVal": {
                "type": "integer",
                "description": "-1 indicates sucessful operation",
                "examples": [
                  -1
                ]
              },
              "RetMsg": {
                "type": "string",
                "description": "Any return messages to display to the user.",
                "examples": [
                  ""
                ]
              },
              "RetData": {
                "type": "object",
                "description": "Data returned",
                "properties": {
                  "Tbl": {
                    "type": "object",
                    "properties": {
                      "Rows": {
                        "type": "array",
                        "items": null,
                        "oneOf": [
                          {
                            "$ref": "#/components/schemas/SearchResultRow_Donor"
                          },
                          {
                            "$ref": "#/components/schemas/SearchResultRow_Vol"
                          },
                          {
                            "$ref": "#/components/schemas/SearchResultRow_Member"
                          }
                        ]
                      }
                    }
                  }
                }
              }
            }
          }
        }
      },
      "SearchResultRow_Donor": {
        "type": "object",
        "properties": {
          "PersonID": {
            "type": "integer",
            "description": "Unique PersonID in server-side system"
          },
          "Salutation": {
            "type": "string",
            "description": "Salutation of the person"
          },
          "DisplayName": {
            "type": "string",
            "description": "Donor display name"
          },
          "EntityType": {
            "type": "string",
            "description": "I for Individual, O for Organisation"
          },
          "MaskEntityKey": {
            "type": "string",
            "description": "Masked unique ID of this record (e.g. NRIC or UEN)"
          },
          "EntityKeyType": {
            "type": "string",
            "description": "The type of ID in MaskEntityKey"
          },
          "FullAddress": {
            "type": "string",
            "description": "The Donor's full address"
          },
          "Country": {
            "type": "string",
            "description": "The Donor's country"
          },
          "PostalCode": {
            "type": "string",
            "description": "The Donor's PostalCode"
          },
          "Tel1": {
            "type": "string",
            "description": "The Donor's Tel1"
          },
          "Tel2": {
            "type": "string",
            "description": "The Donor's Tel2"
          },
          "Mobile": {
            "type": "string",
            "description": "The Donor's Mobile"
          },
          "Email": {
            "type": "string",
            "description": "The Donor's Email"
          },
          "DonationFilterAmount": {
            "type": "number",
            "description": "The Donor's filtered amount donated in the filter period"
          },
          "DonationFilterCount": {
            "type": "number",
            "description": "The Donor's number of donations donated in the filter period"
          },
          "DonationLifetimeAmount": {
            "type": "number",
            "description": "The Donor's lifetime amount donated"
          },
          "DonationLifetimeCount": {
            "type": "number",
            "description": "The Donor's lifetime number of donations donated"
          }
        }
      },
      "SearchResultRow_Vol": {
        "type": "object",
        "properties": {
          "PersonID": {
            "type": "integer",
            "description": "Unique PersonID in server-side system"
          },
          "Salutation": {
            "type": "string",
            "description": "Salutation of the person"
          },
          "DisplayName": {
            "type": "string",
            "description": "Volunteer display name"
          },
          "EntityType": {
            "type": "string",
            "description": "I for Individual, O for Organisation"
          },
          "MaskEntityKey": {
            "type": "string",
            "description": "Masked unique ID of this record (e.g. NRIC or UEN)"
          },
          "EntityKeyType": {
            "type": "string",
            "description": "The type of ID in MaskEntityKey"
          },
          "FullAddress": {
            "type": "string",
            "description": "The Volunteer's full address"
          },
          "Country": {
            "type": "string",
            "description": "The Volunteer's country"
          },
          "PostalCode": {
            "type": "string",
            "description": "The Volunteer's PostalCode"
          },
          "Tel1": {
            "type": "string",
            "description": "The Volunteer's Tel1"
          },
          "Tel2": {
            "type": "string",
            "description": "The Volunteer's Tel2"
          },
          "Mobile": {
            "type": "string",
            "description": "The Volunteer's Mobile"
          },
          "Email": {
            "type": "string",
            "description": "The Volunteer's Email"
          },
          "DateOfBirth": {
            "type": "string",
            "description": "The Volunteer's Date of Birth",
            "format": "date"
          },
          "Age": {
            "type": "number",
            "description": "The Volunteer's age in years (integer)"
          },
          "VolStatus": {
            "type": "string",
            "description": "The Volunteer's current status"
          },
          "VolJoinDate": {
            "type": "string",
            "description": "The Volunteer's Date of Joining",
            "format": "date"
          },
          "VolAreaOfInterests": {
            "type": "string",
            "description": "The Volunteer's areas of interest(s)"
          },
          "VolSkills": {
            "type": "string",
            "description": "The Volunteer's skills"
          },
          "VolAvailability": {
            "type": "string",
            "description": "The Volunteer's availability"
          },
          "VolLocations": {
            "type": "string",
            "description": "The Volunteer's location(s) they can volunteer"
          },
          "VolFilter_HoursYearToDate": {
            "type": "number",
            "description": "The Volunteer's filtered hours volunteered in the filter period"
          },
          "VolFilter_CountYearToDate": {
            "type": "number",
            "description": "The Volunteer's filtered number of times volunteered in the filter period"
          },
          "VolHoursLifetimeToDate": {
            "type": "number",
            "description": "The Volunteer's lifetime hours volunteered"
          },
          "VolCountLifetimeToDate": {
            "type": "number",
            "description": "The Volunteer's lifetime number of times volunteered"
          }
        }
      },
      "SearchResultRow_Member": {
        "type": "object",
        "properties": {
          "PersonID": {
            "type": "integer",
            "description": "Unique PersonID in server-side system"
          },
          "Salutation": {
            "type": "string",
            "description": "Salutation of the person"
          },
          "DisplayName": {
            "type": "string",
            "description": "Member display name"
          },
          "EntityType": {
            "type": "string",
            "description": "I for Individual, O for Organisation"
          },
          "MaskEntityKey": {
            "type": "string",
            "description": "Masked unique ID of this record (e.g. NRIC or UEN)"
          },
          "EntityKeyType": {
            "type": "string",
            "description": "The type of ID in MaskEntityKey"
          },
          "FullAddress": {
            "type": "string",
            "description": "The Member's full address"
          },
          "Country": {
            "type": "string",
            "description": "The Member's country"
          },
          "PostalCode": {
            "type": "string",
            "description": "The Member's PostalCode"
          },
          "Tel1": {
            "type": "string",
            "description": "The Member's Tel1"
          },
          "Tel2": {
            "type": "string",
            "description": "The Member's Tel2"
          },
          "Mobile": {
            "type": "string",
            "description": "The Member's Mobile"
          },
          "Email": {
            "type": "string",
            "description": "The Member's Email"
          },
          "DateOfBirth": {
            "type": "string",
            "description": "The Member's Date of Birth",
            "format": "date"
          },
          "Age": {
            "type": "number",
            "description": "The Member's age in years (integer)"
          },
          "MemberStatus": {
            "type": "string",
            "description": "The Member's current status"
          },
          "MemberJoinDate": {
            "type": "string",
            "description": "The Member's Date of Joining",
            "format": "date"
          },
          "MemberAreaOfInterests": {
            "type": "string",
            "description": "The Member's areas of interest(s)"
          },
          "MemberLocations": {
            "type": "string",
            "description": "The Member's location(s)"
          },
          "MemberFilter_HoursAttDateRangeToDate": {
            "type": "number",
            "description": "The Member's filtered hours attended in the filter period"
          },
          "MemberFilter_CountAttDateRangeToDate": {
            "type": "number",
            "description": "The Member's filtered number of times attended in the filter period"
          },
          "MemberHoursLifetimeToDate": {
            "type": "number",
            "description": "The Member's lifetime hours attended"
          },
          "MemberCountLifetimeToDate": {
            "type": "number",
            "description": "The Member's lifetime number of times attended"
          }
        }
      },
      "ErrorResponse403": {
        "type": "object",
        "properties": {
          "d": {
            "type": "object",
            "description": "Return object",
            "properties": {
              "RetVal": {
                "type": "integer",
                "description": "Error number here.",
                "examples": [
                  10004
                ]
              },
              "RetMsg": {
                "type": "string",
                "description": "Error description here.",
                "examples": [
                  "Invalid query format."
                ]
              },
              "RetData": {
                "type": "string",
                "description": "Any additional error data here.",
                "examples": [
                  ""
                ]
              }
            }
          }
        }
      }
    },
    "securitySchemes": {
      "api_key": {
        "type": "apiKey",
        "name": "x-api-key",
        "in": "header"
      }
    }
  }
}