{
  "openapi": "3.0.1",
  "info": {
    "title": "Treaties API",
    "description": "An API exposing details of the treaties laid before Parliament.",
    "contact": {
      "name": "UK Parliament",
      "url": "https://www.parliament.uk/",
      "email": "softwareengineering@parliament.uk"
    },
    "version": "v1",
    "x-jentic-source-url": "https://raw.githubusercontent.com/jentic/jentic-public-apis/refs/heads/main/apis/openapi/parliament.uk/treaties/v1/openapi.json"
  },
  "servers": [
    {
      "url": "https://treaties-api.parliament.uk"
    }
  ],
  "paths": {
    "/api/BusinessItem/{id}": {
      "get": {
        "tags": [
          "BusinessItem"
        ],
        "summary": "Returns business item by ID.",
        "operationId": "GetBusinessItemById",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "Business item with the ID specified",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "The requested business item",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/BusinessItemResource"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BusinessItemResource"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/BusinessItemResource"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request"
          },
          "404": {
            "description": "If the item doesn't exist"
          }
        },
        "description": "Returns business item by ID."
      }
    },
    "/api/GovernmentOrganisation": {
      "get": {
        "tags": [
          "GovernmentOrganisation"
        ],
        "summary": "Returns all government organisations.",
        "operationId": "GetOrganisations",
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/GovernmentOrganisationResourceCollection"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GovernmentOrganisationResourceCollection"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/GovernmentOrganisationResourceCollection"
                }
              }
            }
          }
        },
        "description": "Returns all government organisations."
      }
    },
    "/api/SeriesMembership": {
      "get": {
        "tags": [
          "SeriesMembership"
        ],
        "summary": "Returns all series memberships.",
        "operationId": "GetSeriesMemberships",
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/SeriesMembershipResourceCollection"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SeriesMembershipResourceCollection"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/SeriesMembershipResourceCollection"
                }
              }
            }
          }
        },
        "description": "Returns all series memberships."
      }
    },
    "/api/Treaty": {
      "get": {
        "tags": [
          "Treaty"
        ],
        "summary": "Returns a list of treaties.",
        "operationId": "GetTreaties",
        "parameters": [
          {
            "name": "SearchText",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "GovernmentOrganisationId",
            "in": "query",
            "schema": {
              "maximum": 2147483647,
              "minimum": 1,
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "Series",
            "in": "query",
            "schema": {
              "$ref": "#/components/schemas/SeriesMembershipType"
            }
          },
          {
            "name": "ParliamentaryProcess",
            "in": "query",
            "schema": {
              "$ref": "#/components/schemas/ParliamentaryProcess"
            }
          },
          {
            "name": "DebateScheduled",
            "in": "query",
            "schema": {
              "type": "boolean"
            }
          },
          {
            "name": "MotionsTabledAboutATreaty",
            "in": "query",
            "schema": {
              "type": "boolean"
            }
          },
          {
            "name": "CommitteeRaisedConcerns",
            "in": "query",
            "schema": {
              "type": "boolean"
            }
          },
          {
            "name": "House",
            "in": "query",
            "schema": {
              "$ref": "#/components/schemas/House"
            }
          },
          {
            "name": "Skip",
            "in": "query",
            "schema": {
              "maximum": 2147483647,
              "minimum": 0,
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "Take",
            "in": "query",
            "schema": {
              "maximum": 2147483647,
              "minimum": 0,
              "type": "integer",
              "format": "int32"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "A list of treaties",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/TreatyResourceCollection"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TreatyResourceCollection"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/TreatyResourceCollection"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request"
          }
        },
        "description": "Returns a list of treaties."
      }
    },
    "/api/Treaty/{id}": {
      "get": {
        "tags": [
          "Treaty"
        ],
        "summary": "Returns a treaty by ID.",
        "operationId": "GetTreatyById",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "Treaty with ID specified",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Details of the requested treaty",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/TreatyResource"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TreatyResource"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/TreatyResource"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request"
          },
          "404": {
            "description": "If the treaty can't be found"
          }
        },
        "description": "Returns a treaty by ID."
      }
    },
    "/api/Treaty/{id}/BusinessItems": {
      "get": {
        "tags": [
          "Treaty"
        ],
        "summary": "Returns business items belonging to the treaty with ID.",
        "operationId": "GetBusinessItemsByTreatyId",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "Business items belonging to treaty with the ID specified",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "The business items for the requested treaty",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/BusinessItemResourceCollection"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BusinessItemResourceCollection"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/BusinessItemResourceCollection"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request"
          },
          "404": {
            "description": "If the treaty cannot be found"
          }
        },
        "description": "Returns business items belonging to the treaty with ID."
      }
    }
  },
  "components": {
    "schemas": {
      "BusinessItem": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "nullable": true
          },
          "treatyId": {
            "type": "string",
            "nullable": true
          },
          "stepName": {
            "type": "string",
            "nullable": true
          },
          "itemDate": {
            "type": "string",
            "format": "date-time"
          },
          "houses": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/BusinessItemHouse"
            },
            "nullable": true
          },
          "link": {
            "type": "string",
            "nullable": true
          },
          "sequence": {
            "type": "integer",
            "format": "int32"
          },
          "treatyUri": {
            "type": "string",
            "format": "uri",
            "nullable": true
          },
          "businessItemUri": {
            "type": "string",
            "format": "uri",
            "nullable": true
          },
          "houseUri": {
            "type": "string",
            "format": "uri",
            "nullable": true
          },
          "houseName": {
            "type": "string",
            "nullable": true
          },
          "procedureStepUri": {
            "type": "string",
            "format": "uri",
            "nullable": true
          },
          "houseId": {
            "type": "string",
            "nullable": true
          },
          "procedureStepId": {
            "type": "string",
            "nullable": true
          },
          "workpackageProcedureUri": {
            "type": "string",
            "format": "uri",
            "nullable": true
          }
        },
        "additionalProperties": false
      },
      "BusinessItemHouse": {
        "type": "object",
        "properties": {
          "house": {
            "$ref": "#/components/schemas/House"
          },
          "name": {
            "type": "string",
            "nullable": true
          }
        },
        "additionalProperties": false
      },
      "BusinessItemResource": {
        "type": "object",
        "properties": {
          "value": {
            "$ref": "#/components/schemas/BusinessItem"
          },
          "links": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Link"
            },
            "nullable": true
          }
        },
        "additionalProperties": false
      },
      "BusinessItemResourceCollection": {
        "type": "object",
        "properties": {
          "items": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/BusinessItemResource"
            },
            "nullable": true
          },
          "totalResults": {
            "type": "integer",
            "format": "int32"
          },
          "itemsPerPage": {
            "type": "integer",
            "format": "int32"
          },
          "links": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Link"
            },
            "nullable": true
          }
        },
        "additionalProperties": false
      },
      "Department": {
        "type": "object",
        "properties": {
          "id": {
            "type": "integer",
            "format": "int32"
          },
          "name": {
            "type": "string",
            "nullable": true
          }
        },
        "additionalProperties": false
      },
      "GovernmentOrganisation": {
        "type": "object",
        "properties": {
          "name": {
            "type": "string",
            "nullable": true
          },
          "id": {
            "type": "integer",
            "format": "int32"
          }
        },
        "additionalProperties": false
      },
      "GovernmentOrganisationResource": {
        "type": "object",
        "properties": {
          "value": {
            "$ref": "#/components/schemas/GovernmentOrganisation"
          },
          "links": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Link"
            },
            "nullable": true
          }
        },
        "additionalProperties": false
      },
      "GovernmentOrganisationResourceCollection": {
        "type": "object",
        "properties": {
          "items": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/GovernmentOrganisationResource"
            },
            "nullable": true
          },
          "totalResults": {
            "type": "integer",
            "format": "int32"
          },
          "itemsPerPage": {
            "type": "integer",
            "format": "int32"
          },
          "links": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Link"
            },
            "nullable": true
          }
        },
        "additionalProperties": false
      },
      "House": {
        "enum": [
          "Commons",
          "Lords"
        ],
        "type": "string"
      },
      "Link": {
        "type": "object",
        "properties": {
          "rel": {
            "type": "string",
            "nullable": true
          },
          "href": {
            "type": "string",
            "nullable": true
          },
          "method": {
            "type": "string",
            "nullable": true
          }
        },
        "additionalProperties": false
      },
      "ParliamentaryConclusion": {
        "enum": [
          "NotConcluded",
          "CanRatify",
          "CantRatify"
        ],
        "type": "string"
      },
      "ParliamentaryProcess": {
        "enum": [
          "NotConcluded",
          "Concluded"
        ],
        "type": "string"
      },
      "SeriesMembership": {
        "type": "object",
        "properties": {
          "id": {
            "type": "integer",
            "format": "int32"
          },
          "description": {
            "type": "string",
            "nullable": true
          }
        },
        "additionalProperties": false
      },
      "SeriesMembershipResource": {
        "type": "object",
        "properties": {
          "value": {
            "$ref": "#/components/schemas/SeriesMembership"
          },
          "links": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Link"
            },
            "nullable": true
          }
        },
        "additionalProperties": false
      },
      "SeriesMembershipResourceCollection": {
        "type": "object",
        "properties": {
          "items": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/SeriesMembershipResource"
            },
            "nullable": true
          },
          "totalResults": {
            "type": "integer",
            "format": "int32"
          },
          "itemsPerPage": {
            "type": "integer",
            "format": "int32"
          },
          "links": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Link"
            },
            "nullable": true
          }
        },
        "additionalProperties": false
      },
      "SeriesMembershipType": {
        "enum": [
          "CountrySeriesMembership",
          "EuropeanUnionSeriesMembership",
          "MiscellaneousSeriesMembership"
        ],
        "type": "string"
      },
      "Treaty": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "nullable": true
          },
          "name": {
            "type": "string",
            "nullable": true
          },
          "uri": {
            "type": "string",
            "format": "uri",
            "nullable": true
          },
          "commandPaperPrefix": {
            "type": "string",
            "nullable": true
          },
          "commandPaperNumber": {
            "type": "integer",
            "format": "int32",
            "nullable": true
          },
          "commonsLayingDate": {
            "type": "string",
            "format": "date-time",
            "nullable": true
          },
          "lordsLayingDate": {
            "type": "string",
            "format": "date-time",
            "nullable": true
          },
          "webLink": {
            "type": "string",
            "format": "uri",
            "nullable": true
          },
          "treatySeriesMembership": {
            "$ref": "#/components/schemas/TreatySeriesMembership"
          },
          "leadDepartment": {
            "$ref": "#/components/schemas/Department"
          },
          "layingBodyDepartment": {
            "$ref": "#/components/schemas/Department"
          },
          "parliamentaryConclusion": {
            "$ref": "#/components/schemas/ParliamentaryConclusion"
          },
          "debateScheduled": {
            "type": "string",
            "nullable": true
          },
          "broughtToAttentionDate": {
            "type": "string",
            "format": "date-time",
            "nullable": true
          },
          "signedDate": {
            "type": "string",
            "format": "date-time",
            "nullable": true
          },
          "laidDate": {
            "type": "string",
            "format": "date-time",
            "nullable": true
          },
          "pertinentDate": {
            "type": "string",
            "format": "date-time",
            "nullable": true
          }
        },
        "additionalProperties": false
      },
      "TreatyResource": {
        "type": "object",
        "properties": {
          "value": {
            "$ref": "#/components/schemas/Treaty"
          },
          "links": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Link"
            },
            "nullable": true
          }
        },
        "additionalProperties": false
      },
      "TreatyResourceCollection": {
        "type": "object",
        "properties": {
          "items": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/TreatyResource"
            },
            "nullable": true
          },
          "totalResults": {
            "type": "integer",
            "format": "int32"
          },
          "itemsPerPage": {
            "type": "integer",
            "format": "int32"
          },
          "links": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Link"
            },
            "nullable": true
          }
        },
        "additionalProperties": false
      },
      "TreatySeriesMembership": {
        "type": "object",
        "properties": {
          "seriesMembershipType": {
            "$ref": "#/components/schemas/SeriesMembershipType"
          },
          "uri": {
            "type": "string",
            "format": "uri",
            "nullable": true
          },
          "citation": {
            "type": "string",
            "nullable": true
          }
        },
        "additionalProperties": false
      }
    }
  },
  "tags": [
    {
      "name": "BusinessItem"
    },
    {
      "name": "GovernmentOrganisation"
    },
    {
      "name": "SeriesMembership"
    },
    {
      "name": "Treaty"
    }
  ]
}
