{
  "openapi": "3.0.3",
  "info": {
    "title": "CKAN Action API",
    "description": "The CKAN Action API is a powerful, RPC-style API that exposes all of CKAN's core features. This spec covers the Open Government Canada data portal powered by CKAN. Note: All read-only endpoints are genuinely public and require no authentication. Write operations (not included here) require an API key.",
    "version": "3.0",
    "x-jentic-source-url": "https://open.canada.ca/data/api/3",
    "contact": {
      "name": "Open Government Canada",
      "url": "https://open.canada.ca"
    },
    "license": {
      "name": "Open Government Licence - Canada",
      "url": "https://open.canada.ca/en/open-government-licence-canada"
    }
  },
  "servers": [
    {
      "url": "https://open.canada.ca/data/api/3",
      "description": "Open Government Canada CKAN API"
    },
    {
      "url": "https://demo.ckan.org/api/3",
      "description": "CKAN Demo Server"
    }
  ],
  "paths": {
    "/action/package_search": {
      "get": {
        "operationId": "package_search",
        "summary": "Search datasets",
        "description": "Searches for packages (datasets) satisfying a given search criteria. Uses Solr query syntax.",
        "parameters": [
          {
            "name": "q",
            "in": "query",
            "description": "Solr search query string",
            "schema": {
              "type": "string",
              "default": "*:*"
            }
          },
          {
            "name": "fq",
            "in": "query",
            "description": "Filter query to apply",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "sort",
            "in": "query",
            "description": "Sort order e.g. 'name asc'",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "rows",
            "in": "query",
            "description": "Number of results to return",
            "schema": {
              "type": "integer",
              "default": 10
            }
          },
          {
            "name": "start",
            "in": "query",
            "description": "Offset for paging",
            "schema": {
              "type": "integer",
              "default": 0
            }
          },
          {
            "name": "facet.field",
            "in": "query",
            "description": "Fields to facet on",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Search results",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SearchResult"
                }
              }
            }
          }
        }
      }
    },
    "/action/package_show": {
      "get": {
        "operationId": "package_show",
        "summary": "Get dataset details",
        "description": "Return the metadata of a dataset (package) and its resources.",
        "parameters": [
          {
            "name": "id",
            "in": "query",
            "required": true,
            "description": "ID or name of the dataset",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Dataset details",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ActionResult"
                }
              }
            }
          }
        }
      }
    },
    "/action/package_list": {
      "get": {
        "operationId": "package_list",
        "summary": "List all datasets",
        "description": "Return a list of the names of all datasets in the site.",
        "parameters": [
          {
            "name": "limit",
            "in": "query",
            "description": "Max number of results",
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "offset",
            "in": "query",
            "description": "Offset for paging",
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "List of dataset names",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ActionResult"
                }
              }
            }
          }
        }
      }
    },
    "/action/organization_list": {
      "get": {
        "operationId": "organization_list",
        "summary": "List all organizations",
        "description": "Return a list of the names of the site's organizations.",
        "parameters": [
          {
            "name": "sort",
            "in": "query",
            "description": "Sort order",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "description": "Max number of results",
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "offset",
            "in": "query",
            "description": "Offset for paging",
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "all_fields",
            "in": "query",
            "description": "Return full organization details",
            "schema": {
              "type": "boolean",
              "default": false
            }
          }
        ],
        "responses": {
          "200": {
            "description": "List of organizations",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ActionResult"
                }
              }
            }
          }
        }
      }
    },
    "/action/organization_show": {
      "get": {
        "operationId": "organization_show",
        "summary": "Get organization details",
        "description": "Return the details of an organization.",
        "parameters": [
          {
            "name": "id",
            "in": "query",
            "required": true,
            "description": "ID or name of the organization",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "include_datasets",
            "in": "query",
            "description": "Include datasets in result",
            "schema": {
              "type": "boolean",
              "default": false
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Organization details",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ActionResult"
                }
              }
            }
          }
        }
      }
    },
    "/action/group_list": {
      "get": {
        "operationId": "group_list",
        "summary": "List all groups",
        "description": "Return a list of the names of the site's groups.",
        "parameters": [
          {
            "name": "sort",
            "in": "query",
            "description": "Sort order",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "all_fields",
            "in": "query",
            "description": "Return full group details",
            "schema": {
              "type": "boolean",
              "default": false
            }
          }
        ],
        "responses": {
          "200": {
            "description": "List of groups",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ActionResult"
                }
              }
            }
          }
        }
      }
    },
    "/action/tag_list": {
      "get": {
        "operationId": "tag_list",
        "summary": "List all tags",
        "description": "Return a list of the site's tags.",
        "parameters": [
          {
            "name": "query",
            "in": "query",
            "description": "Tag name query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "all_fields",
            "in": "query",
            "description": "Return full tag details",
            "schema": {
              "type": "boolean",
              "default": false
            }
          }
        ],
        "responses": {
          "200": {
            "description": "List of tags",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ActionResult"
                }
              }
            }
          }
        }
      }
    },
    "/action/resource_show": {
      "get": {
        "operationId": "resource_show",
        "summary": "Get resource details",
        "description": "Return the metadata of a resource.",
        "parameters": [
          {
            "name": "id",
            "in": "query",
            "required": true,
            "description": "ID of the resource",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Resource details",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ActionResult"
                }
              }
            }
          }
        }
      }
    },
    "/action/resource_search": {
      "get": {
        "operationId": "resource_search",
        "summary": "Search resources",
        "description": "Returns a dictionary with 2 fields: count and results. Count is the number of results found. Results is a list of resources.",
        "parameters": [
          {
            "name": "query",
            "in": "query",
            "required": true,
            "description": "Search query in field:value format",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "order_by",
            "in": "query",
            "description": "Field to sort by",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "description": "Max number of results",
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "offset",
            "in": "query",
            "description": "Offset for paging",
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Resource search results",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ActionResult"
                }
              }
            }
          }
        }
      }
    },
    "/action/user_list": {
      "get": {
        "operationId": "user_list",
        "summary": "List all users",
        "description": "Return a list of the site's user accounts.",
        "parameters": [
          {
            "name": "q",
            "in": "query",
            "description": "Search query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "order_by",
            "in": "query",
            "description": "Sort field",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "List of users",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ActionResult"
                }
              }
            }
          }
        }
      }
    },
    "/action/recently_changed_packages_activity_list": {
      "get": {
        "operationId": "recently_changed_packages_activity_list",
        "summary": "List recently changed packages",
        "description": "Return the activity stream of all recently changed packages.",
        "parameters": [
          {
            "name": "limit",
            "in": "query",
            "description": "Max number of results",
            "schema": {
              "type": "integer",
              "default": 31
            }
          },
          {
            "name": "offset",
            "in": "query",
            "description": "Offset for paging",
            "schema": {
              "type": "integer",
              "default": 0
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Activity list",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ActionResult"
                }
              }
            }
          }
        }
      }
    },
    "/action/status_show": {
      "get": {
        "operationId": "status_show",
        "summary": "Get site status",
        "description": "Return the site status, including the CKAN version and installed extensions.",
        "responses": {
          "200": {
            "description": "Site status",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ActionResult"
                }
              }
            }
          }
        }
      }
    },
    "/action/vocabulary_list": {
      "get": {
        "operationId": "vocabulary_list",
        "summary": "List all tag vocabularies",
        "description": "Return a list of all the site's tag vocabularies.",
        "responses": {
          "200": {
            "description": "List of vocabularies",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ActionResult"
                }
              }
            }
          }
        }
      }
    },
    "/action/license_list": {
      "get": {
        "operationId": "license_list",
        "summary": "List available licenses",
        "description": "Return the list of licenses available for datasets.",
        "responses": {
          "200": {
            "description": "List of licenses",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ActionResult"
                }
              }
            }
          }
        }
      }
    }
  },
  "components": {
    "schemas": {
      "ActionResult": {
        "type": "object",
        "properties": {
          "help": {
            "type": "string",
            "description": "URL of the help for this action"
          },
          "success": {
            "type": "boolean",
            "description": "Whether the request was successful"
          },
          "result": {
            "description": "The result payload, type varies by endpoint"
          }
        }
      },
      "SearchResult": {
        "type": "object",
        "properties": {
          "help": {
            "type": "string"
          },
          "success": {
            "type": "boolean"
          },
          "result": {
            "type": "object",
            "properties": {
              "count": {
                "type": "integer",
                "description": "Total number of results"
              },
              "sort": {
                "type": "string"
              },
              "facets": {
                "type": "object"
              },
              "results": {
                "type": "array",
                "items": {
                  "$ref": "#/components/schemas/Package"
                }
              },
              "search_facets": {
                "type": "object"
              }
            }
          }
        }
      },
      "Package": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string"
          },
          "name": {
            "type": "string"
          },
          "title": {
            "type": "string"
          },
          "notes": {
            "type": "string",
            "description": "Description of the dataset"
          },
          "url": {
            "type": "string"
          },
          "state": {
            "type": "string"
          },
          "metadata_created": {
            "type": "string",
            "format": "date-time"
          },
          "metadata_modified": {
            "type": "string",
            "format": "date-time"
          },
          "organization": {
            "type": "object"
          },
          "resources": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Resource"
            }
          },
          "tags": {
            "type": "array",
            "items": {
              "type": "object"
            }
          },
          "num_resources": {
            "type": "integer"
          },
          "num_tags": {
            "type": "integer"
          }
        }
      },
      "Resource": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string"
          },
          "package_id": {
            "type": "string"
          },
          "name": {
            "type": "string"
          },
          "description": {
            "type": "string"
          },
          "url": {
            "type": "string"
          },
          "format": {
            "type": "string"
          },
          "size": {
            "type": "integer"
          },
          "created": {
            "type": "string",
            "format": "date-time"
          },
          "last_modified": {
            "type": "string",
            "format": "date-time"
          }
        }
      }
    }
  }
}