{
  "openapi": "3.0.3",
  "info": {
    "title": "Library of Congress API",
    "description": "The Library of Congress JSON API provides access to digital collections, items, search, and metadata. All responses can be returned as JSON by appending ?fo=json to any endpoint.",
    "version": "1.0.0",
    "contact": {
      "name": "Library of Congress",
      "url": "https://www.loc.gov/apis/"
    },
    "x-jentic-source-url": "https://www.loc.gov/apis/",
    "x-jentic-provenance": "jentic-generated"
  },
  "servers": [
    {
      "url": "https://www.loc.gov",
      "description": "Library of Congress production server"
    }
  ],
  "paths": {
    "/search/": {
      "get": {
        "summary": "Search across all LOC collections",
        "operationId": "search",
        "tags": [
          "search"
        ],
        "parameters": [
          {
            "name": "q",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Search query"
          },
          {
            "name": "fo",
            "in": "query",
            "schema": {
              "type": "string",
              "enum": [
                "json"
              ]
            },
            "description": "Format of output"
          },
          {
            "name": "sp",
            "in": "query",
            "schema": {
              "type": "integer"
            },
            "description": "Page number"
          },
          {
            "name": "c",
            "in": "query",
            "schema": {
              "type": "integer",
              "enum": [
                25,
                50,
                100,
                150
              ]
            },
            "description": "Results per page"
          },
          {
            "name": "fa",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "description": "Facet filter (e.g. 'online-format:image')"
          },
          {
            "name": "dates",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "description": "Date range filter (e.g. '1800/1900')"
          },
          {
            "name": "st",
            "in": "query",
            "schema": {
              "type": "string",
              "enum": [
                "relevance",
                "date",
                "date_desc",
                "title",
                "title_desc"
              ]
            },
            "description": "Sort order"
          }
        ],
        "responses": {
          "200": {
            "description": "Search results",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SearchResponse"
                }
              }
            }
          }
        }
      }
    },
    "/collections/": {
      "get": {
        "summary": "List all digital collections",
        "operationId": "listCollections",
        "tags": [
          "collections"
        ],
        "parameters": [
          {
            "name": "fo",
            "in": "query",
            "schema": {
              "type": "string",
              "enum": [
                "json"
              ]
            },
            "description": "Format of output"
          },
          {
            "name": "sp",
            "in": "query",
            "schema": {
              "type": "integer"
            },
            "description": "Page number"
          },
          {
            "name": "c",
            "in": "query",
            "schema": {
              "type": "integer"
            },
            "description": "Results per page"
          }
        ],
        "responses": {
          "200": {
            "description": "List of collections",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CollectionsResponse"
                }
              }
            }
          }
        }
      }
    },
    "/collections/{collectionSlug}/": {
      "get": {
        "summary": "Get items in a specific collection",
        "operationId": "getCollection",
        "tags": [
          "collections"
        ],
        "parameters": [
          {
            "name": "collectionSlug",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Collection URL slug"
          },
          {
            "name": "fo",
            "in": "query",
            "schema": {
              "type": "string",
              "enum": [
                "json"
              ]
            }
          },
          {
            "name": "q",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "description": "Search within collection"
          },
          {
            "name": "sp",
            "in": "query",
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "c",
            "in": "query",
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Collection items",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SearchResponse"
                }
              }
            }
          }
        }
      }
    },
    "/item/{itemId}/": {
      "get": {
        "summary": "Get a specific item by ID",
        "operationId": "getItem",
        "tags": [
          "items"
        ],
        "parameters": [
          {
            "name": "itemId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Item identifier (e.g. LCCN)"
          },
          {
            "name": "fo",
            "in": "query",
            "schema": {
              "type": "string",
              "enum": [
                "json"
              ]
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Item details",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ItemResponse"
                }
              }
            }
          }
        }
      }
    },
    "/resource/{resourceId}/": {
      "get": {
        "summary": "Get a specific resource file",
        "operationId": "getResource",
        "tags": [
          "items"
        ],
        "parameters": [
          {
            "name": "resourceId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Resource identifier"
          },
          {
            "name": "fo",
            "in": "query",
            "schema": {
              "type": "string",
              "enum": [
                "json"
              ]
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Resource details",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        }
      }
    },
    "/{format}/": {
      "get": {
        "summary": "Browse by format (e.g. maps, photos, manuscripts, audio, etc.)",
        "operationId": "browseByFormat",
        "tags": [
          "browse"
        ],
        "parameters": [
          {
            "name": "format",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "enum": [
                "maps",
                "photos",
                "manuscripts",
                "audio",
                "books",
                "newspapers",
                "film-and-videos",
                "notated-music",
                "websites"
              ]
            },
            "description": "Content format to browse"
          },
          {
            "name": "fo",
            "in": "query",
            "schema": {
              "type": "string",
              "enum": [
                "json"
              ]
            }
          },
          {
            "name": "q",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "sp",
            "in": "query",
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "c",
            "in": "query",
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Items in format",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SearchResponse"
                }
              }
            }
          }
        }
      }
    },
    "/newspapers/": {
      "get": {
        "summary": "Browse newspaper titles",
        "operationId": "listNewspapers",
        "tags": [
          "newspapers"
        ],
        "parameters": [
          {
            "name": "fo",
            "in": "query",
            "schema": {
              "type": "string",
              "enum": [
                "json"
              ]
            }
          },
          {
            "name": "st",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "description": "State filter"
          },
          {
            "name": "sp",
            "in": "query",
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Newspaper listings",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SearchResponse"
                }
              }
            }
          }
        }
      }
    }
  },
  "components": {
    "schemas": {
      "SearchResponse": {
        "type": "object",
        "properties": {
          "results": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/ResultItem"
            }
          },
          "pagination": {
            "$ref": "#/components/schemas/Pagination"
          },
          "facets": {
            "type": "object"
          },
          "search": {
            "type": "object"
          }
        }
      },
      "ResultItem": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string"
          },
          "title": {
            "type": "string"
          },
          "description": {
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "date": {
            "type": "string"
          },
          "contributor": {
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "image_url": {
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "digitized": {
            "type": "boolean"
          },
          "access_restricted": {
            "type": "boolean"
          },
          "aka": {
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "item": {
            "type": "object"
          }
        }
      },
      "Pagination": {
        "type": "object",
        "properties": {
          "current": {
            "type": "integer"
          },
          "total": {
            "type": "integer"
          },
          "from": {
            "type": "integer"
          },
          "to": {
            "type": "integer"
          },
          "of": {
            "type": "integer"
          },
          "perpage": {
            "type": "integer"
          },
          "next": {
            "type": "string",
            "nullable": true
          },
          "previous": {
            "type": "string",
            "nullable": true
          }
        }
      },
      "CollectionsResponse": {
        "type": "object",
        "properties": {
          "content": {
            "type": "array",
            "items": {
              "type": "object"
            }
          },
          "pagination": {
            "$ref": "#/components/schemas/Pagination"
          }
        }
      },
      "ItemResponse": {
        "type": "object",
        "properties": {
          "item": {
            "type": "object"
          },
          "resources": {
            "type": "array",
            "items": {
              "type": "object"
            }
          },
          "cite_this": {
            "type": "object"
          },
          "related_items": {
            "type": "array",
            "items": {
              "type": "object"
            }
          }
        }
      }
    }
  }
}