{
  "openapi": "3.0.3",
  "info": {
    "title": "ZenHub REST API",
    "version": "1.0.0",
    "description": "ZenHub's legacy REST API for managing issues, epics, boards, milestones, dependencies, and release reports. Note: This API is deprecated in favor of the GraphQL API.",
    "x-jentic-source-url": "https://github.com/ZenHubIO/API",
    "contact": {
      "name": "API Support"
    }
  },
  "servers": [
    {
      "url": "https://api.zenhub.com"
    }
  ],
  "tags": [
    {
      "name": "Issues",
      "description": "Issue data and pipeline management"
    },
    {
      "name": "Epics",
      "description": "Epic management"
    },
    {
      "name": "Workspaces",
      "description": "Workspace and board data"
    },
    {
      "name": "Milestones",
      "description": "Milestone start dates"
    },
    {
      "name": "Dependencies",
      "description": "Issue dependency management"
    },
    {
      "name": "Release Reports",
      "description": "Release report management"
    },
    {
      "name": "Release Report Issues",
      "description": "Manage issues in release reports"
    }
  ],
  "paths": {
    "/p1/repositories/{repo_id}/issues/{issue_number}": {
      "get": {
        "operationId": "getIssueData",
        "summary": "Get Issue Data",
        "description": "Get the data for a specific issue including estimate, pipeline, and epic status.",
        "tags": [
          "Issues"
        ],
        "parameters": [
          {
            "name": "repo_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            },
            "description": "GitHub repository ID"
          },
          {
            "name": "issue_number",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            },
            "description": "GitHub issue number"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/IssueData"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/p1/repositories/{repo_id}/issues/{issue_number}/events": {
      "get": {
        "operationId": "getIssueEvents",
        "summary": "Get Issue Events",
        "description": "Get the events for an issue, sorted by creation time, most recent first.",
        "tags": [
          "Issues"
        ],
        "parameters": [
          {
            "name": "repo_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            },
            "description": "GitHub repository ID"
          },
          {
            "name": "issue_number",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            },
            "description": "GitHub issue number"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/IssueEvent"
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/p2/workspaces/{workspace_id}/repositories/{repo_id}/issues/{issue_number}/moves": {
      "post": {
        "operationId": "moveIssueBetweenPipelines",
        "summary": "Move an Issue Between Pipelines",
        "description": "Moves an issue between Pipelines in a Workspace.",
        "tags": [
          "Issues"
        ],
        "parameters": [
          {
            "name": "workspace_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "ZenHub Workspace ID"
          },
          {
            "name": "repo_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            },
            "description": "GitHub repository ID"
          },
          {
            "name": "issue_number",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            },
            "description": "GitHub issue number"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/MoveIssueBody"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response"
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/p1/repositories/{repo_id}/issues/{issue_number}/moves": {
      "post": {
        "operationId": "moveIssueOldestWorkspace",
        "summary": "Move an Issue Between Pipelines in the oldest Workspace",
        "description": "Moves an issue between Pipelines for a repository in your oldest Workspace.",
        "tags": [
          "Issues"
        ],
        "parameters": [
          {
            "name": "repo_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            },
            "description": "GitHub repository ID"
          },
          {
            "name": "issue_number",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            },
            "description": "GitHub issue number"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/MoveIssueBody"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response"
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/p1/repositories/{repo_id}/issues/{issue_number}/estimate": {
      "put": {
        "operationId": "setIssueEstimate",
        "summary": "Set Issue Estimate",
        "description": "Set the estimate value for an issue.",
        "tags": [
          "Issues"
        ],
        "parameters": [
          {
            "name": "repo_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            },
            "description": "GitHub repository ID"
          },
          {
            "name": "issue_number",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            },
            "description": "GitHub issue number"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/EstimateBody"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/EstimateResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/p1/repositories/{repo_id}/epics": {
      "get": {
        "operationId": "getEpicsForRepository",
        "summary": "Get Epics for a Repository",
        "description": "Get all Epics for a repository.",
        "tags": [
          "Epics"
        ],
        "parameters": [
          {
            "name": "repo_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            },
            "description": "GitHub repository ID"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/EpicList"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/p1/repositories/{repo_id}/epics/{epic_id}": {
      "get": {
        "operationId": "getEpicData",
        "summary": "Get Epic Data",
        "description": "Get the data for an Epic issue including estimates, pipeline, and child issues.",
        "tags": [
          "Epics"
        ],
        "parameters": [
          {
            "name": "repo_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            },
            "description": "GitHub repository ID"
          },
          {
            "name": "epic_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            },
            "description": "GitHub issue number of the Epic"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/EpicData"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/p1/repositories/{repo_id}/epics/{issue_number}/convert_to_issue": {
      "post": {
        "operationId": "convertEpicToIssue",
        "summary": "Convert an Epic to an Issue",
        "description": "Converts an Epic back to a regular issue.",
        "tags": [
          "Epics"
        ],
        "parameters": [
          {
            "name": "repo_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            },
            "description": "GitHub repository ID"
          },
          {
            "name": "issue_number",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            },
            "description": "GitHub issue number"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response"
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/p1/repositories/{repo_id}/issues/{issue_number}/convert_to_epic": {
      "post": {
        "operationId": "convertIssueToEpic",
        "summary": "Convert an Issue to Epic",
        "description": "Converts an issue to an Epic, along with any issues that should be part of it.",
        "tags": [
          "Epics"
        ],
        "parameters": [
          {
            "name": "repo_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            },
            "description": "GitHub repository ID"
          },
          {
            "name": "issue_number",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            },
            "description": "GitHub issue number"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ConvertToEpicBody"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response"
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/p1/repositories/{repo_id}/epics/{issue_number}/update_issues": {
      "post": {
        "operationId": "updateEpicIssues",
        "summary": "Add or Remove Issues from an Epic",
        "description": "Bulk add or remove issues to an Epic.",
        "tags": [
          "Epics"
        ],
        "parameters": [
          {
            "name": "repo_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            },
            "description": "GitHub repository ID"
          },
          {
            "name": "issue_number",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            },
            "description": "GitHub issue number"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UpdateEpicIssuesBody"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/UpdateEpicIssuesResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/p2/repositories/{repo_id}/workspaces": {
      "get": {
        "operationId": "getWorkspacesForRepository",
        "summary": "Get ZenHub Workspaces for a repository",
        "description": "Gets all Workspaces containing the specified repository.",
        "tags": [
          "Workspaces"
        ],
        "parameters": [
          {
            "name": "repo_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            },
            "description": "GitHub repository ID"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Workspace"
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/p2/workspaces/{workspace_id}/repositories/{repo_id}/board": {
      "get": {
        "operationId": "getBoardForRepository",
        "summary": "Get a ZenHub Board for a repository",
        "description": "Get ZenHub Board data for a repository within a Workspace.",
        "tags": [
          "Workspaces"
        ],
        "parameters": [
          {
            "name": "workspace_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "ZenHub Workspace ID"
          },
          {
            "name": "repo_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            },
            "description": "GitHub repository ID"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BoardData"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/p1/repositories/{repo_id}/board": {
      "get": {
        "operationId": "getOldestBoard",
        "summary": "Get the oldest ZenHub Board for a repository",
        "description": "Get the oldest ZenHub board for a repository.",
        "tags": [
          "Workspaces"
        ],
        "parameters": [
          {
            "name": "repo_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            },
            "description": "GitHub repository ID"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BoardData"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/p1/repositories/{repo_id}/milestones/{milestone_number}/start_date": {
      "post": {
        "operationId": "setMilestoneStartDate",
        "summary": "Set the Milestone Start Date",
        "description": "Set the start date for a milestone.",
        "tags": [
          "Milestones"
        ],
        "parameters": [
          {
            "name": "repo_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            },
            "description": "GitHub repository ID"
          },
          {
            "name": "milestone_number",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            },
            "description": "GitHub milestone number"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/MilestoneDate"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/MilestoneDate"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      },
      "get": {
        "operationId": "getMilestoneStartDate",
        "summary": "Get the Milestone Start Date",
        "description": "Get the start date for a milestone.",
        "tags": [
          "Milestones"
        ],
        "parameters": [
          {
            "name": "repo_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            },
            "description": "GitHub repository ID"
          },
          {
            "name": "milestone_number",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            },
            "description": "GitHub milestone number"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/MilestoneDate"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/p1/repositories/{repo_id}/dependencies": {
      "get": {
        "operationId": "getDependencies",
        "summary": "Get Dependencies for a Repository",
        "description": "Fetches all dependencies associated to the given repository.",
        "tags": [
          "Dependencies"
        ],
        "parameters": [
          {
            "name": "repo_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            },
            "description": "GitHub repository ID"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DependencyList"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/p1/dependencies": {
      "post": {
        "operationId": "createDependency",
        "summary": "Create a Dependency",
        "description": "Creates a dependency between two issues.",
        "tags": [
          "Dependencies"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/DependencyBody"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DependencyBody"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      },
      "delete": {
        "operationId": "removeDependency",
        "summary": "Remove a Dependency",
        "description": "Removes a dependency between two issues.",
        "tags": [
          "Dependencies"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/DependencyBody"
              }
            }
          }
        },
        "responses": {
          "204": {
            "description": "Dependency removed successfully"
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/p1/repositories/{repo_id}/reports/release": {
      "post": {
        "operationId": "createReleaseReport",
        "summary": "Create a Release Report",
        "description": "Create a new release report for a repository.",
        "tags": [
          "Release Reports"
        ],
        "parameters": [
          {
            "name": "repo_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            },
            "description": "GitHub repository ID"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ReleaseCreateBody"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ReleaseReport"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/p1/reports/release/{release_id}": {
      "get": {
        "operationId": "getReleaseReport",
        "summary": "Get a Release Report",
        "description": "Get a release report by ID.",
        "tags": [
          "Release Reports"
        ],
        "parameters": [
          {
            "name": "release_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "ZenHub Release Report ID"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ReleaseReport"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      },
      "patch": {
        "operationId": "editReleaseReport",
        "summary": "Edit a Release Report",
        "description": "Edit an existing release report.",
        "tags": [
          "Release Reports"
        ],
        "parameters": [
          {
            "name": "release_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "ZenHub Release Report ID"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ReleaseEditBody"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ReleaseReport"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/p1/repositories/{repo_id}/reports/releases": {
      "get": {
        "operationId": "getReleaseReportsForRepository",
        "summary": "Get Release Reports for a Repository",
        "description": "Get all release reports for a repository.",
        "tags": [
          "Release Reports"
        ],
        "parameters": [
          {
            "name": "repo_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            },
            "description": "GitHub repository ID"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/ReleaseReport"
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/p1/reports/release/{release_id}/repository/{repo_id}": {
      "post": {
        "operationId": "addRepositoryToRelease",
        "summary": "Add a Repository to a Release Report",
        "description": "Add a repository to an existing release report.",
        "tags": [
          "Release Reports"
        ],
        "parameters": [
          {
            "name": "release_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "ZenHub Release Report ID"
          },
          {
            "name": "repo_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            },
            "description": "GitHub repository ID"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response"
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      },
      "delete": {
        "operationId": "removeRepositoryFromRelease",
        "summary": "Remove a Repository from a Release Report",
        "description": "Remove a repository from a release report.",
        "tags": [
          "Release Reports"
        ],
        "parameters": [
          {
            "name": "release_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "ZenHub Release Report ID"
          },
          {
            "name": "repo_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            },
            "description": "GitHub repository ID"
          }
        ],
        "responses": {
          "204": {
            "description": "Repository removed successfully"
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/p1/reports/release/{release_id}/issues": {
      "get": {
        "operationId": "getReleaseReportIssues",
        "summary": "Get all Issues in a Release Report",
        "description": "Get all issues associated with a release report.",
        "tags": [
          "Release Report Issues"
        ],
        "parameters": [
          {
            "name": "release_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "ZenHub Release Report ID"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/ReleaseIssue"
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      },
      "patch": {
        "operationId": "updateReleaseReportIssues",
        "summary": "Add or Remove Issues from a Release Report",
        "description": "Add or remove issues from a release report.",
        "tags": [
          "Release Report Issues"
        ],
        "parameters": [
          {
            "name": "release_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "ZenHub Release Report ID"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ReleaseIssuesBody"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ReleaseIssuesResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    }
  },
  "components": {
    "schemas": {
      "ErrorResponse": {
        "type": "object",
        "properties": {
          "message": {
            "type": "string"
          }
        },
        "required": [
          "message"
        ]
      },
      "IssueData": {
        "type": "object",
        "properties": {
          "estimate": {
            "type": "object",
            "properties": {
              "value": {
                "type": "integer"
              }
            }
          },
          "pipeline": {
            "$ref": "#/components/schemas/Pipeline"
          },
          "pipelines": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Pipeline"
            }
          },
          "is_epic": {
            "type": "boolean"
          }
        }
      },
      "Pipeline": {
        "type": "object",
        "properties": {
          "name": {
            "type": "string"
          },
          "pipeline_id": {
            "type": "string"
          },
          "workspace_id": {
            "type": "string"
          }
        }
      },
      "IssueEvent": {
        "type": "object",
        "properties": {
          "user_id": {
            "type": "integer"
          },
          "type": {
            "type": "string",
            "enum": [
              "estimateIssue",
              "transferIssue"
            ]
          },
          "created_at": {
            "type": "string",
            "format": "date-time"
          },
          "from_estimate": {
            "type": "object",
            "properties": {
              "value": {
                "type": "integer"
              }
            }
          },
          "to_estimate": {
            "type": "object",
            "properties": {
              "value": {
                "type": "integer"
              }
            }
          },
          "from_pipeline": {
            "type": "object",
            "properties": {
              "name": {
                "type": "string"
              }
            }
          },
          "to_pipeline": {
            "type": "object",
            "properties": {
              "name": {
                "type": "string"
              }
            }
          },
          "workspace_id": {
            "type": "string"
          }
        }
      },
      "MoveIssueBody": {
        "type": "object",
        "required": [
          "pipeline_id",
          "position"
        ],
        "properties": {
          "pipeline_id": {
            "type": "string"
          },
          "position": {
            "oneOf": [
              {
                "type": "string",
                "enum": [
                  "top",
                  "bottom"
                ]
              },
              {
                "type": "integer"
              }
            ]
          }
        }
      },
      "EstimateBody": {
        "type": "object",
        "required": [
          "estimate"
        ],
        "properties": {
          "estimate": {
            "type": "integer"
          }
        }
      },
      "EstimateResponse": {
        "type": "object",
        "properties": {
          "estimate": {
            "type": "integer"
          }
        }
      },
      "EpicList": {
        "type": "object",
        "properties": {
          "epic_issues": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "issue_number": {
                  "type": "integer"
                },
                "repo_id": {
                  "type": "integer"
                },
                "issue_url": {
                  "type": "string"
                }
              }
            }
          }
        }
      },
      "EpicData": {
        "type": "object",
        "properties": {
          "total_epic_estimates": {
            "type": "object",
            "properties": {
              "value": {
                "type": "integer"
              }
            }
          },
          "estimate": {
            "type": "object",
            "properties": {
              "value": {
                "type": "integer"
              }
            }
          },
          "pipeline": {
            "$ref": "#/components/schemas/Pipeline"
          },
          "pipelines": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Pipeline"
            }
          },
          "issues": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/EpicIssue"
            }
          }
        }
      },
      "EpicIssue": {
        "type": "object",
        "properties": {
          "issue_number": {
            "type": "integer"
          },
          "is_epic": {
            "type": "boolean"
          },
          "repo_id": {
            "type": "integer"
          },
          "estimate": {
            "type": "object",
            "properties": {
              "value": {
                "type": "integer"
              }
            }
          },
          "pipeline": {
            "$ref": "#/components/schemas/Pipeline"
          },
          "pipelines": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Pipeline"
            }
          }
        }
      },
      "ConvertToEpicBody": {
        "type": "object",
        "required": [
          "issues"
        ],
        "properties": {
          "issues": {
            "type": "array",
            "items": {
              "type": "object",
              "required": [
                "repo_id",
                "issue_number"
              ],
              "properties": {
                "repo_id": {
                  "type": "integer"
                },
                "issue_number": {
                  "type": "integer"
                }
              }
            }
          }
        }
      },
      "UpdateEpicIssuesBody": {
        "type": "object",
        "required": [
          "remove_issues",
          "add_issues"
        ],
        "properties": {
          "remove_issues": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "repo_id": {
                  "type": "integer"
                },
                "issue_number": {
                  "type": "integer"
                }
              }
            }
          },
          "add_issues": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "repo_id": {
                  "type": "integer"
                },
                "issue_number": {
                  "type": "integer"
                }
              }
            }
          }
        }
      },
      "UpdateEpicIssuesResponse": {
        "type": "object",
        "properties": {
          "removed_issues": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "repo_id": {
                  "type": "integer"
                },
                "issue_number": {
                  "type": "integer"
                }
              }
            }
          },
          "added_issues": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "repo_id": {
                  "type": "integer"
                },
                "issue_number": {
                  "type": "integer"
                }
              }
            }
          }
        }
      },
      "Workspace": {
        "type": "object",
        "properties": {
          "name": {
            "type": "string"
          },
          "description": {
            "type": "string",
            "nullable": true
          },
          "id": {
            "type": "string"
          },
          "repositories": {
            "type": "array",
            "items": {
              "type": "integer"
            }
          }
        }
      },
      "BoardData": {
        "type": "object",
        "properties": {
          "pipelines": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "id": {
                  "type": "string"
                },
                "name": {
                  "type": "string"
                },
                "issues": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "issue_number": {
                        "type": "integer"
                      },
                      "estimate": {
                        "type": "object",
                        "properties": {
                          "value": {
                            "type": "integer"
                          }
                        }
                      },
                      "position": {
                        "type": "integer"
                      },
                      "is_epic": {
                        "type": "boolean"
                      }
                    }
                  }
                }
              }
            }
          }
        }
      },
      "MilestoneDate": {
        "type": "object",
        "properties": {
          "start_date": {
            "type": "string",
            "format": "date-time"
          }
        }
      },
      "DependencyList": {
        "type": "object",
        "properties": {
          "dependencies": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "blocking": {
                  "type": "object",
                  "properties": {
                    "issue_number": {
                      "type": "integer"
                    },
                    "repo_id": {
                      "type": "integer"
                    }
                  }
                },
                "blocked": {
                  "type": "object",
                  "properties": {
                    "issue_number": {
                      "type": "integer"
                    },
                    "repo_id": {
                      "type": "integer"
                    }
                  }
                }
              }
            }
          }
        }
      },
      "DependencyBody": {
        "type": "object",
        "required": [
          "blocking",
          "blocked"
        ],
        "properties": {
          "blocking": {
            "type": "object",
            "required": [
              "repo_id",
              "issue_number"
            ],
            "properties": {
              "repo_id": {
                "type": "integer"
              },
              "issue_number": {
                "type": "integer"
              }
            }
          },
          "blocked": {
            "type": "object",
            "required": [
              "repo_id",
              "issue_number"
            ],
            "properties": {
              "repo_id": {
                "type": "integer"
              },
              "issue_number": {
                "type": "integer"
              }
            }
          }
        }
      },
      "ReleaseCreateBody": {
        "type": "object",
        "required": [
          "title",
          "start_date",
          "desired_end_date"
        ],
        "properties": {
          "title": {
            "type": "string"
          },
          "description": {
            "type": "string"
          },
          "start_date": {
            "type": "string",
            "format": "date-time"
          },
          "desired_end_date": {
            "type": "string",
            "format": "date-time"
          },
          "repositories": {
            "type": "array",
            "items": {
              "type": "integer"
            }
          }
        }
      },
      "ReleaseReport": {
        "type": "object",
        "properties": {
          "release_id": {
            "type": "string"
          },
          "title": {
            "type": "string"
          },
          "description": {
            "type": "string"
          },
          "start_date": {
            "type": "string",
            "format": "date-time"
          },
          "desired_end_date": {
            "type": "string",
            "format": "date-time"
          },
          "created_at": {
            "type": "string",
            "format": "date-time"
          },
          "closed_at": {
            "type": "string",
            "format": "date-time",
            "nullable": true
          },
          "state": {
            "type": "string",
            "enum": [
              "open",
              "closed"
            ]
          },
          "repositories": {
            "type": "array",
            "items": {
              "type": "integer"
            }
          }
        }
      },
      "ReleaseEditBody": {
        "type": "object",
        "required": [
          "title"
        ],
        "properties": {
          "title": {
            "type": "string"
          },
          "description": {
            "type": "string"
          },
          "start_date": {
            "type": "string",
            "format": "date-time"
          },
          "desired_end_date": {
            "type": "string",
            "format": "date-time"
          },
          "state": {
            "type": "string",
            "enum": [
              "open",
              "closed"
            ]
          }
        }
      },
      "ReleaseIssue": {
        "type": "object",
        "properties": {
          "repo_id": {
            "type": "integer"
          },
          "issue_number": {
            "type": "integer"
          }
        }
      },
      "ReleaseIssuesBody": {
        "type": "object",
        "required": [
          "add_issues",
          "remove_issues"
        ],
        "properties": {
          "add_issues": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/ReleaseIssue"
            }
          },
          "remove_issues": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/ReleaseIssue"
            }
          }
        }
      },
      "ReleaseIssuesResponse": {
        "type": "object",
        "properties": {
          "added": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/ReleaseIssue"
            }
          },
          "removed": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/ReleaseIssue"
            }
          }
        }
      }
    },
    "securitySchemes": {
      "ApiKeyAuth": {
        "type": "apiKey",
        "in": "header",
        "name": "X-Authentication-Token",
        "description": "ZenHub API token"
      }
    }
  },
  "security": [
    {
      "ApiKeyAuth": []
    }
  ]
}
