{
  "openapi": "3.0.3",
  "info": {
    "title": "Baltic Exchange API",
    "version": "1.0.0",
    "description": "Baltic Exchange provides maritime freight rate data, shipping indices (including the Baltic Dry Index - BDI), and freight market assessments. The API delivers daily rate assessments, historical index data, and vessel information for dry bulk, tanker, and container shipping markets.",
    "x-jentic-source-url": "https://www.balticexchange.com/en/data/maritime-data/apis.html",
    "contact": {
      "name": "API Support"
    }
  },
  "servers": [
    {
      "url": "https://data.balticexchange.com/api/v1"
    }
  ],
  "paths": {
    "/indices": {
      "get": {
        "operationId": "listIndices",
        "summary": "List shipping indices",
        "description": "Returns current values for all Baltic Exchange indices.",
        "tags": [
          "Indices"
        ],
        "parameters": [
          {
            "name": "date",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "format": "date"
            },
            "description": "Date for index values (defaults to latest)"
          }
        ],
        "responses": {
          "200": {
            "description": "Index list",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/Index"
                      }
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/indices/{code}": {
      "get": {
        "operationId": "getIndex",
        "summary": "Get specific index",
        "description": "Returns current value for a specific index (e.g., BDI, BCI).",
        "tags": [
          "Indices"
        ],
        "parameters": [
          {
            "name": "code",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Index code"
          }
        ],
        "responses": {
          "200": {
            "description": "Index value",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Index"
                }
              }
            }
          },
          "404": {
            "description": "Index not found"
          }
        }
      }
    },
    "/indices/{code}/history": {
      "get": {
        "operationId": "getIndexHistory",
        "summary": "Get index history",
        "description": "Returns historical time series for a specific index.",
        "tags": [
          "Indices"
        ],
        "parameters": [
          {
            "name": "code",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "from",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string",
              "format": "date"
            }
          },
          {
            "name": "to",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string",
              "format": "date"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Historical data",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/IndexHistory"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/assessments": {
      "get": {
        "operationId": "listAssessments",
        "summary": "List freight rate assessments",
        "description": "Returns current freight rate assessments across all routes.",
        "tags": [
          "Assessments"
        ],
        "parameters": [
          {
            "name": "date",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "format": "date"
            }
          },
          {
            "name": "vessel_type",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "route_code",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Assessment list",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/Assessment"
                      }
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/assessments/{routeCode}": {
      "get": {
        "operationId": "getAssessment",
        "summary": "Get route assessment",
        "tags": [
          "Assessments"
        ],
        "parameters": [
          {
            "name": "routeCode",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Assessment details",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Assessment"
                }
              }
            }
          },
          "404": {
            "description": "Route not found"
          }
        },
        "description": "Get route assessment"
      }
    },
    "/assessments/{routeCode}/history": {
      "get": {
        "operationId": "getAssessmentHistory",
        "summary": "Get assessment history",
        "tags": [
          "Assessments"
        ],
        "parameters": [
          {
            "name": "routeCode",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "from",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string",
              "format": "date"
            }
          },
          {
            "name": "to",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string",
              "format": "date"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Historical assessments"
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "description": "Get assessment history"
      }
    },
    "/routes": {
      "get": {
        "operationId": "listRoutes",
        "summary": "List shipping routes",
        "description": "Returns available shipping routes with descriptions.",
        "tags": [
          "Routes"
        ],
        "parameters": [
          {
            "name": "vessel_type",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Route list",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/Route"
                      }
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/routes/{code}": {
      "get": {
        "operationId": "getRoute",
        "summary": "Get route details",
        "tags": [
          "Routes"
        ],
        "parameters": [
          {
            "name": "code",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Route details",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Route"
                }
              }
            }
          },
          "404": {
            "description": "Not found"
          }
        },
        "description": "Get route details"
      }
    },
    "/vessel-types": {
      "get": {
        "operationId": "listVesselTypes",
        "summary": "List vessel types",
        "tags": [
          "Vessels"
        ],
        "responses": {
          "200": {
            "description": "Vessel types",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/VesselType"
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "description": "List vessel types"
      }
    }
  },
  "components": {
    "schemas": {
      "ErrorResponse": {
        "type": "object",
        "properties": {
          "error": {
            "type": "string"
          },
          "message": {
            "type": "string"
          },
          "code": {
            "type": "string"
          }
        }
      },
      "Index": {
        "type": "object",
        "properties": {
          "code": {
            "type": "string",
            "description": "Index code (e.g., BDI, BCI, BPI, BSI, BHSI, BDTI, BCTI)"
          },
          "name": {
            "type": "string"
          },
          "value": {
            "type": "number"
          },
          "change": {
            "type": "number"
          },
          "change_percent": {
            "type": "number"
          },
          "date": {
            "type": "string",
            "format": "date"
          }
        }
      },
      "IndexHistory": {
        "type": "object",
        "properties": {
          "code": {
            "type": "string"
          },
          "data": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "date": {
                  "type": "string",
                  "format": "date"
                },
                "value": {
                  "type": "number"
                }
              }
            }
          }
        }
      },
      "Assessment": {
        "type": "object",
        "properties": {
          "route_code": {
            "type": "string"
          },
          "route_description": {
            "type": "string"
          },
          "rate": {
            "type": "number"
          },
          "rate_unit": {
            "type": "string",
            "enum": [
              "USD/day",
              "USD/mt",
              "WS"
            ]
          },
          "date": {
            "type": "string",
            "format": "date"
          },
          "vessel_type": {
            "type": "string"
          }
        }
      },
      "Route": {
        "type": "object",
        "properties": {
          "code": {
            "type": "string"
          },
          "description": {
            "type": "string"
          },
          "origin": {
            "type": "string"
          },
          "destination": {
            "type": "string"
          },
          "vessel_type": {
            "type": "string",
            "enum": [
              "capesize",
              "panamax",
              "supramax",
              "handysize",
              "vlcc",
              "suezmax",
              "aframax",
              "mr",
              "lr1",
              "lr2"
            ]
          },
          "cargo_type": {
            "type": "string"
          },
          "size": {
            "type": "string"
          }
        }
      },
      "VesselType": {
        "type": "object",
        "properties": {
          "code": {
            "type": "string"
          },
          "name": {
            "type": "string"
          },
          "deadweight_range": {
            "type": "string"
          },
          "description": {
            "type": "string"
          }
        }
      }
    },
    "securitySchemes": {
      "apiKey": {
        "type": "apiKey",
        "in": "header",
        "name": "X-Api-Key",
        "description": "Baltic Exchange API key for member access"
      }
    }
  },
  "security": [
    {
      "apiKey": []
    }
  ],
  "tags": [
    {
      "name": "Indices",
      "description": "Shipping index data"
    },
    {
      "name": "Assessments",
      "description": "Freight rate assessments"
    },
    {
      "name": "Routes",
      "description": "Shipping route information"
    },
    {
      "name": "Vessels",
      "description": "Vessel type data"
    }
  ]
}
