{
  "openapi": "3.0.0",
  "servers": [
    {
      "description": "Prim\u00e1rio",
      "url": "https://api-prod-tracking.aldeiatecnologia.com.br/v1"
    }
  ],
  "info": {
    "description": "Api de integra\u00e7\u00e3o com a Aldeia Tecnologia",
    "version": "1.0.0",
    "title": "Aldeia Tecnologia Basic Maps",
    "contact": {
      "email": "rodrigo@aldeiatecnologia.com.br",
      "name": "Aldeia Tecnologia",
      "url": "www.aldeiatecnologia.com.br"
    },
    "license": {
      "name": "Apache 2.0",
      "url": "http://www.apache.org/licenses/LICENSE-2.0.html"
    },
    "termsOfService": "",
    "x-jentic-source-url": "https://api.swaggerhub.com/apis/aldeiatecnologia/Aldeia_Basic/1.0.0"
  },
  "tags": [
    {
      "name": "Autoriza\u00e7\u00f5es",
      "description": "Permite obter um token de autoriza\u00e7\u00e3o"
    },
    {
      "name": "trackers",
      "description": "Permite opera\u00e7\u00f5es com Rastreadores"
    }
  ],
  "paths": {
    "/auth/login": {
      "parameters": [],
      "post": {
        "summary": "Obter um token de acesso",
        "tags": [
          "Autoriza\u00e7\u00f5es"
        ],
        "responses": {
          "200": {
            "description": "Default",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "x-examples": {
                    "Example 1": {
                      "data": {
                        "access_token": "eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJpc3MiOiJodHRwczovL2FwaS1wcm9kLXRyYWNraW5nLmFsZGVpYXRlY25vbG9naWEuY29tLmJyL3YxL2F1dGgvbG9naW4iLCJpYXQiOjE3Njg0MTc1MDIsImV4cCI6MjA3OTQ1NzUwMiwibmJmIjoxNzY4NDE3NTAyLCJqdGkiOiIzc3EyVnVNRE1sRDBvZUY2Iiwic3ViIjoiY2I3YzU4MTktZTQ4OC00M2VmLTk5NDYtN2U4YzcyNmE3NGQwIiwicHJ2IjoiMjNiZDVjODk0OWY2MDBhZGIzOWU3MDFjNDAwODcyZGI3YTU5NzZmNyJ9.Fn_tl5uNr6PDRuh7jZxyhHbCQ9sD07KyJZwPMlPTcC0",
                        "token_type": "bearer",
                        "user": "cb7c5819-e488-43ef-9946-7e8c726a74d0",
                        "blocked": false
                      }
                    }
                  },
                  "properties": {
                    "data": {
                      "type": "object",
                      "properties": {
                        "access_token": {
                          "type": "string",
                          "description": "Token de acesso para ser utilizado nas outras chamadas",
                          "example": "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9. eyJzdWIiOiJ1c2VyX2V4ZW1wbG8iLCJyb2xlIjoiYWRtaW4iLCJpYXQiOjE3MDAwMDAwMDAsImV4cCI6MTgwMDAwMDAwMH0. Qx4kPZs8JpN2uL9A7VxR5C3WkM0Hf8TtE6DqYbS2cFQ"
                        },
                        "token_type": {
                          "type": "string",
                          "description": "Sempre: bearer",
                          "example": "bearer"
                        },
                        "user": {
                          "type": "string",
                          "description": "Seu ID de usu\u00e1rio",
                          "example": "xxxxx-xxx-xxxxx-xxxx-xxx"
                        },
                        "blocked": {
                          "type": "boolean",
                          "description": "True/False - Informa se est\u00e1 bloqueado ou n\u00e3o"
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "operationId": "/{id}",
        "description": "Obt\u00e9m os dados de um rastreador informando o seu ID",
        "parameters": [
          {
            "schema": {
              "type": "string",
              "example": "application/json"
            },
            "in": "header",
            "name": "Content-Type",
            "required": true
          }
        ],
        "requestBody": {
          "description": "",
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "user": {
                    "type": "string",
                    "x-stoplight": {
                      "id": "k65rqi72ro3v5"
                    },
                    "description": "Seu usu\u00e1rio de acesso",
                    "example": "joao@aldeiatecnologia.com.br"
                  },
                  "password": {
                    "type": "string",
                    "x-stoplight": {
                      "id": "gog1ui8vzp8ei"
                    },
                    "example": "xx@xx.com.br"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/trackers/maps": {
      "get": {
        "summary": "Obter os dados dos ve\u00edculos para mapas",
        "tags": [
          "trackers"
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "id": {
                            "type": "string"
                          },
                          "franchise_id": {
                            "type": "string"
                          },
                          "client_id": {
                            "type": "string"
                          },
                          "serial": {
                            "type": "string"
                          },
                          "model_id": {
                            "type": "string"
                          },
                          "brand_id": {
                            "type": "string"
                          },
                          "plate": {
                            "type": "string"
                          },
                          "can_rotate": {
                            "type": "null"
                          },
                          "car": {
                            "type": "object",
                            "properties": {
                              "id": {
                                "type": "string"
                              },
                              "description": {
                                "type": "string"
                              },
                              "plate": {
                                "type": "string"
                              },
                              "timezone": {
                                "type": "integer"
                              },
                              "type_odometer": {
                                "type": "string"
                              },
                              "test_icon": {
                                "type": "null"
                              },
                              "icon": {
                                "type": "object",
                                "properties": {
                                  "icon": {
                                    "type": "string"
                                  },
                                  "icon_rotate": {
                                    "type": "string"
                                  },
                                  "icon_default": {
                                    "type": "string"
                                  },
                                  "can_rotate": {
                                    "type": "boolean"
                                  }
                                }
                              }
                            }
                          },
                          "position": {
                            "type": "object",
                            "properties": {
                              "imeigps": {
                                "type": "string"
                              },
                              "vencimento": {
                                "type": "string"
                              },
                              "bloqueio": {
                                "type": "string"
                              },
                              "Sensor_Name_1": {
                                "type": "string"
                              },
                              "Sensor_Name_2": {
                                "type": "string"
                              },
                              "Sensor_Name_3": {
                                "type": "string"
                              },
                              "Sensor_Name_4": {
                                "type": "string"
                              },
                              "Sensor_Value_1": {
                                "type": "string"
                              },
                              "Sensor_Value_2": {
                                "type": "string"
                              },
                              "Sensor_Value_3": {
                                "type": "string"
                              },
                              "Sensor_Value_4": {
                                "type": "string"
                              },
                              "Saida_Name_1": {
                                "type": "string"
                              },
                              "Saida_Name_2": {
                                "type": "string"
                              },
                              "Saida_Value_1": {
                                "type": "string"
                              },
                              "Saida_Value_2": {
                                "type": "string"
                              },
                              "ancorado": {
                                "type": "string"
                              },
                              "posicao": {
                                "type": "object",
                                "properties": {
                                  "pk": {
                                    "type": "string"
                                  },
                                  "corda": {
                                    "type": "string"
                                  },
                                  "cordb": {
                                    "type": "string"
                                  },
                                  "velocidade": {
                                    "type": "integer"
                                  },
                                  "data": {
                                    "type": "string"
                                  },
                                  "hora": {
                                    "type": "string"
                                  },
                                  "datahora": {
                                    "type": "string"
                                  },
                                  "imei": {
                                    "type": "string"
                                  },
                                  "satelites": {
                                    "type": "string"
                                  },
                                  "endereco": {
                                    "type": "string"
                                  },
                                  "hodometro": {
                                    "type": "number"
                                  },
                                  "horimetro": {
                                    "type": "string"
                                  },
                                  "voltagemcarro": {
                                    "type": "string"
                                  },
                                  "voltagembkp": {
                                    "type": "string"
                                  },
                                  "direcao": {
                                    "type": "string"
                                  },
                                  "timezone": {
                                    "type": "integer"
                                  }
                                }
                              },
                              "temperaturas": {
                                "type": "object",
                                "properties": {
                                  "tipo": {
                                    "type": "string"
                                  },
                                  "idsensor": {
                                    "type": "string"
                                  },
                                  "valor": {
                                    "type": "string"
                                  },
                                  "data_valor": {
                                    "type": "string"
                                  }
                                }
                              },
                              "can": {
                                "type": "array",
                                "items": {
                                  "type": "object",
                                  "properties": {
                                    "tipo": {
                                      "type": "string"
                                    },
                                    "idsensor": {
                                      "type": "string"
                                    },
                                    "valor": {
                                      "type": "null"
                                    },
                                    "data_valor": {
                                      "type": "string"
                                    }
                                  }
                                }
                              }
                            }
                          }
                        }
                      }
                    }
                  },
                  "x-examples": {
                    "Example 1": {
                      "data": [
                        {
                          "id": "d30d75ea-14b7-4769-8c8b-634c00e4c692",
                          "franchise_id": "ae8ccce0-3647-4da1-8268-271fc189da3f",
                          "client_id": "3c1b24e3-8260-4b5b-9c4b-5d625f79d93e",
                          "serial": "839405127834901",
                          "model_id": "5a560f1d-e240-4902-b096-e2dae8a0065c",
                          "brand_id": "ee84fdda-c808-43ac-827c-14034472f298",
                          "plate": "839405127834901 ARE3333",
                          "can_rotate": null,
                          "car": {
                            "id": "c6f8517e-eb4d-42a4-ba99-7dacf380c7f1",
                            "description": "ARE3333",
                            "plate": "TuY1D09",
                            "timezone": 0,
                            "type_odometer": "km",
                            "test_icon": null,
                            "icon": {
                              "icon": "http://127.0.0.1:81/public/logos/carro.png",
                              "icon_rotate": "http://127.0.0.1:81/images/rotate-:degrees/public/logos/carro.png",
                              "icon_default": "http://127.0.0.1:81/public/logos/carro-default.png",
                              "can_rotate": false
                            }
                          },
                          "position": {
                            "imeigps": "839405127834901",
                            "vencimento": "",
                            "bloqueio": "N",
                            "Sensor_Name_1": "Ignicao",
                            "Sensor_Name_2": "Sensor2",
                            "Sensor_Name_3": "Sensor3",
                            "Sensor_Name_4": "Sensor4",
                            "Sensor_Value_1": "Desligada",
                            "Sensor_Value_2": " ",
                            "Sensor_Value_3": " ",
                            "Sensor_Value_4": " ",
                            "Saida_Name_1": "Bloqueio",
                            "Saida_Name_2": "Saida2",
                            "Saida_Value_1": "0",
                            "Saida_Value_2": "0",
                            "ancorado": "0",
                            "posicao": {
                              "pk": "2374044571",
                              "corda": "-19.75495",
                              "cordb": "-47.96086",
                              "velocidade": 0,
                              "data": "2026-01-24",
                              "hora": "14:52:20",
                              "datahora": "2026-01-24 14:52:20",
                              "imei": "839405127834901",
                              "satelites": "0",
                              "endereco": "Endereco nao disponivel",
                              "hodometro": 0.03,
                              "horimetro": "0",
                              "voltagemcarro": "11.00",
                              "voltagembkp": "0.00",
                              "direcao": "166.31",
                              "timezone": 0
                            },
                            "temperaturas": {
                              "tipo": "1",
                              "idsensor": "C4CCDF",
                              "valor": "26.56",
                              "data_valor": "2021-02-20 08:08:41"
                            },
                            "can": [
                              {
                                "tipo": "CN",
                                "idsensor": "CN",
                                "valor": null,
                                "data_valor": "2026-02-02 14:19:26"
                              }
                            ]
                          }
                        }
                      ]
                    }
                  }
                },
                "examples": {
                  "Example 1": {
                    "value": {
                      "data": [
                        {
                          "id": "11111111-2222-3333-4444-555555555555",
                          "franchise_id": "aaaaaaaa-bbbb-cccc-dddd-eeeeeeeeeeee",
                          "client_id": "99999999-8888-7777-6666-555555555555",
                          "serial": "123456789098765",
                          "model_id": "model-uuid-1234",
                          "brand_id": "brand-uuid-5678",
                          "plate": "ABC1234",
                          "can_rotate": true,
                          "car": {
                            "id": "car-uuid-0001",
                            "description": "Ve\u00edculo de Teste",
                            "plate": "ABC1234",
                            "timezone": -3,
                            "type_odometer": "km",
                            "test_icon": null,
                            "icon": {
                              "icon": "https://api.exemplo.com/logos/carro.png",
                              "icon_rotate": "https://api.exemplo.com/images/rotate-:degrees/carro.png",
                              "icon_default": "https://api.exemplo.com/logos/carro-default.png",
                              "can_rotate": true
                            }
                          },
                          "position": {
                            "imeigps": "123456789098765",
                            "vencimento": "2026-12-31",
                            "bloqueio": "N",
                            "Sensor_Name_1": "Igni\u00e7\u00e3o",
                            "Sensor_Name_2": "Porta",
                            "Sensor_Name_3": "P\u00e2nico",
                            "Sensor_Name_4": "Cerca",
                            "Sensor_Value_1": "Ligada",
                            "Sensor_Value_2": "Fechada",
                            "Sensor_Value_3": "Inativo",
                            "Sensor_Value_4": "Dentro",
                            "Saida_Name_1": "Bloqueio",
                            "Saida_Name_2": "Sirene",
                            "Saida_Value_1": "0",
                            "Saida_Value_2": "1",
                            "ancorado": "0",
                            "posicao": {
                              "pk": "9999999999",
                              "corda": "-23.55052",
                              "cordb": "-46.63330",
                              "velocidade": 45,
                              "data": "2026-02-03",
                              "hora": "15:42:10",
                              "datahora": "2026-02-03 15:42:10",
                              "imei": "123456789098765",
                              "satelites": "12",
                              "endereco": "Av. Paulista, 1000 - S\u00e3o Paulo/SP",
                              "hodometro": 15234.7,
                              "horimetro": "342",
                              "voltagemcarro": "13.4",
                              "voltagembkp": "4.1",
                              "direcao": "90",
                              "timezone": -3
                            },
                            "temperaturas": {
                              "tipo": "1",
                              "idsensor": "TEMP01",
                              "valor": "27.3",
                              "data_valor": "2026-02-03 15:40:00"
                            },
                            "can": [
                              {
                                "tipo": "RPM",
                                "idsensor": "CAN01",
                                "valor": "2200",
                                "data_valor": "2026-02-03 15:42:10"
                              },
                              {
                                "tipo": "COMB",
                                "idsensor": "CAN02",
                                "valor": "58",
                                "data_valor": "2026-02-03 15:42:10"
                              }
                            ]
                          }
                        }
                      ]
                    }
                  }
                }
              }
            }
          }
        },
        "parameters": [
          {
            "schema": {
              "type": "boolean"
            },
            "in": "query",
            "name": "has_car",
            "description": "True - Somente rastredores com carros vinculados"
          },
          {
            "schema": {
              "type": "boolean"
            },
            "in": "query",
            "name": "with_position",
            "description": "True - Somente ve\u00edculos com posi\u00e7\u00f5es v\u00e1lidas"
          },
          {
            "schema": {
              "type": "string"
            },
            "in": "header",
            "name": "Content-Type",
            "description": "application/json"
          }
        ]
      }
    }
  },
  "components": {
    "schemas": {},
    "securitySchemes": {}
  },
  "security": [
    {
      "Bearer": []
    }
  ]
}