{
  "openapi": "3.0.0",
  "info": {
    "title": "Alta de Prospectos para Afiliaci\u00f3n",
    "description": "<p>Alta de Prospectos para Afiliaci\u00f3n descripci\u00f3n.<br/><br><img src='https://developer.circulodecredito.com.mx/sites/default/files/2020-10/circulo_de_credito-apihub.png' height='40' width='220'/></p><br/>",
    "version": "1.0.0",
    "termsOfService": "https://developer.circulodecredito.com.mx/terms-use",
    "contact": {
      "email": "api@circulodecredito.com.mx"
    },
    "license": {
      "name": "Derechos reservados Circulo de Cr\u00e9dito 2020",
      "url": "http://www.circulodecredito.com.mx"
    },
    "x-jentic-source-url": "https://api.swaggerhub.com/apis/CirculoDeCredito/alta-de-prospectos-para-afiliacion/1.0.0"
  },
  "servers": [
    {
      "url": "https://services.circulodecredito.com.mx/v1/afiliacion"
    }
  ],
  "paths": {
    "/prospectos-afiliacion": {
      "options": {
        "summary": "",
        "description": "",
        "tags": [
          "Alta de Prospectos para Afiliaci\u00f3n"
        ],
        "responses": {
          "200": {
            "description": "OK"
          },
          "403": {
            "description": "FORBIDDEN"
          }
        }
      },
      "post": {
        "summary": "Alta de Prospectos para Afiliaci\u00f3n",
        "description": "",
        "tags": [
          "Alta de Prospectos para Afiliaci\u00f3n"
        ],
        "operationId": "prospectos-afiliacion",
        "parameters": [
          {
            "name": "x-signature",
            "in": "header",
            "description": "Firma generada con la llave privada",
            "required": true,
            "style": "simple",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "x-api-key",
            "in": "header",
            "description": "ConsumerKey obtenido desde el portal de desarrolladores",
            "required": true,
            "style": "simple",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "username",
            "in": "header",
            "description": "Usuario de C\u00edrculo de Cr\u00e9dito",
            "required": true,
            "style": "simple",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "password",
            "in": "header",
            "description": "Contrase\u00f1a de C\u00edrculo de Cr\u00e9dito",
            "required": true,
            "style": "simple",
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/RequestCamposCincel"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ResponseCamposCincel"
                }
              }
            }
          },
          "204": {
            "description": "NO CONTENT",
            "content": {}
          },
          "400": {
            "description": "BAD REQUEST",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Errores"
                },
                "example": {
                  "errores": [
                    {
                      "codigo": "400",
                      "mensaje": "El campo [nombre_campo] es requerido"
                    },
                    {
                      "codigo": "400",
                      "mensaje": "El c\u00f3digo postal no corresponde al estado."
                    },
                    {
                      "codigo": "400.4",
                      "mensaje": "Petici\u00f3n incorrecta el x-signature es requerido."
                    }
                  ]
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Errores"
                },
                "example": {
                  "errores": [
                    {
                      "codigo": "401.1",
                      "mensaje": "Acceso no autorizado, x-api-key no v\u00e1lida."
                    },
                    {
                      "codigo": "401.2",
                      "mensaje": "Acceso no autorizado."
                    },
                    {
                      "codigo": "401.3",
                      "mensaje": "Acceso no autorizado, no tiene el producto asociado."
                    },
                    {
                      "codigo": "401.4",
                      "mensaje": "Acceso no autorizado, no tiene acceso al recurso."
                    }
                  ]
                }
              }
            }
          },
          "403": {
            "description": "FORBIDDEN",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Errores"
                },
                "example": {
                  "errores": [
                    {
                      "codigo": "403",
                      "mensaje": "Acceso denegado"
                    },
                    {
                      "codigo": "403.1",
                      "mensaje": "No se pudo autenticar, x-signature no es v\u00e1lida."
                    },
                    {
                      "codigo": "403.2",
                      "mensaje": "No se pudo autenticar."
                    }
                  ]
                }
              }
            }
          },
          "404": {
            "description": "NOT FOUND",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Errores"
                },
                "example": {
                  "errores": [
                    {
                      "codigo": "404.1",
                      "mensaje": "No se encontr\u00f3 a la persona."
                    }
                  ]
                }
              }
            }
          },
          "405": {
            "description": "METHOD NOT ALLOWED",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Errores"
                },
                "example": {
                  "errores": [
                    {
                      "codigo": "405.1",
                      "mensaje": "M\u00e9todo no permitido."
                    }
                  ]
                }
              }
            }
          },
          "415": {
            "description": "UNSUPPORTED MEDIA TYPE.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Errores"
                },
                "example": {
                  "errores": [
                    {
                      "codigo": "415.1",
                      "mensaje": "Medios no admitidos"
                    }
                  ]
                }
              }
            }
          },
          "429": {
            "description": "TOO MANY REQUESTS",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Errores"
                },
                "example": {
                  "errores": [
                    {
                      "codigo": "429.1",
                      "mensaje": "Se han enviado demasiadas solicitudes. Se debe esperar antes de realizar una nueva solicitud."
                    }
                  ]
                }
              }
            }
          },
          "500": {
            "description": "INTERNAL SERVER ERROR",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Errores"
                },
                "example": {
                  "errores": [
                    {
                      "codigo": "500",
                      "mensaje": "Ocurrio un error al procesar tu solicitud."
                    },
                    {
                      "codigo": "500.1",
                      "mensaje": "Ocurrio un problema, int\u00e9ntelo nuevamente m\u00e1s tarde."
                    }
                  ]
                }
              }
            }
          },
          "503": {
            "description": "SERVICE UNAVAILABLE",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Errores"
                },
                "example": {
                  "errores": [
                    {
                      "codigo": "503.1",
                      "mensaje": "Servicio no disponible."
                    }
                  ]
                }
              }
            }
          }
        },
        "deprecated": false,
        "x-codegen-request-body-name": "prospectos-afiliacion"
      }
    }
  },
  "components": {
    "schemas": {
      "CatalogoTipoOtorgante": {
        "type": "integer",
        "description": "Objeto con Id y descripci\u00f3n de tipo otorgante.<br>&nbsp;&nbsp;cveId: Entero con la clave del cat\u00e1logo de tipo de otorgantes.<br>&nbsp;&nbsp;nomDescripcion: Texto con el nombre del tipo de otorgante. </tbody></table><table><thead><tr><th>cveId</th><th>nomDescripcion</th></tr></thead><tbody><tr><td>1</td><td>PADRE</td></tr><tr><td>2</td><td>CANAL</td></tr></tbody></table>",
        "maxLength": 1,
        "enum": [
          1,
          2
        ],
        "example": 1
      },
      "CatalogoVertical": {
        "type": "integer",
        "description": "Objeto con Id y descripci\u00f3n de tipo de vertical.<br>&nbsp;&nbsp;cveId => cveVertical: Entero con la clave del catalogo de tipo de vertical.<br>&nbsp;&nbsp;nomDescripcion => nomVertical: Texto con el nombre del tipo de vertical. </tbody></table><table><thead><tr><th>cveVertical</th><th>nomVertical</th></tr></thead><tbody><tr><td>1</td><td>BANCA</td></tr><tr><td>2</td><td>FINANCIERAS NO BANCARIAS</td></tr><tr><td>3</td><td>PREPAGO</td></tr><tr><td>4</td><td> TELCOS</td></tr><tr><td>5</td><td>RETAIL</td></tr><tr><td>6</td><td>GOBIERNO</td></tr><tr><td>7</td><td>CUENTAS MEDIANAS</td></tr></tbody></table>",
        "maxLength": 1,
        "enum": [
          1,
          2,
          3,
          4,
          5,
          6,
          7
        ],
        "example": 7
      },
      "CatalogoTipoContrato": {
        "type": "string",
        "description": "Objeto con Id y descripci\u00f3n de tipo de contrato.<br>&nbsp;&nbsp;cveId: Entero con la clave del catalogo de tipo de contrato.<br>&nbsp;&nbsp;nomDescripcion: Texto con el nombre del tipo de contrato. </tbody></table><table><thead><tr><th>cveId</th><th>nomDescripcion</th></tr></thead><tbody><tr><td>AA</td><td>ARRENDAMIENTO AUTOMOTRIZ</td></tr><tr><td>CA</td><td>COMPRA DE AUTOMOVIL</td></tr><tr><td>FI</td><td>FIANZA</td></tr><tr><td>TC</td><td>TARJETA DE CREDITO</td></tr><tr><td>LC</td><td>LINEA DE CREDITO</td></tr><tr><td>AR</td><td>ARRENDAMIENTO</td></tr><tr><td>PP</td><td>PRESTAMO PERSONAL</td></tr><tr><td>BR</td><td>BIENES RAICES</td></tr><tr><td>TG</td><td>TARJETA GARANTIZADA</td></tr><tr><td>CC</td><td>CREDITO AL CONSUMO</td></tr><tr><td>HV</td><td>HIPOTECARIO O VIVIENDA</td></tr><tr><td>ND</td><td>NO DISPONIBLE</td></tr><tr><td>TS</td><td>TARJETA DE SERVICIOS</td></tr><tr><td>TD</td><td>TARJETA DEPARTAMENTAL</td></tr><tr><td>AM</td><td>Aparatos/Muebles</td></tr><tr><td>AV</td><td>Aviaci\u00f3n</td></tr><tr><td>BL</td><td>Bote/Lancha</td></tr><tr><td>EQ</td><td> Equipo</td></tr><tr><td>CO</td><td>Consolidaci\u00f3n</td></tr><tr><td>FT</td><td>Factoraje</td></tr><tr><td>HE</td><td>Pr\u00e9stamo tipo Home Equity</td></tr><tr><td>MC</td><td>Mejoras a la casa</td></tr><tr><td>OT</td><td>Otros (MULTIPLES CREDITOS)</td></tr><tr><td>ED</td><td>Editorial</td></tr><tr><td>VR</td><td>Veh\u00edculo Recreativo</td></tr><tr><td>NG</td><td>Pr\u00e9stamo no garantizado</td></tr><tr><td>PG</td><td>Pr\u00e9stamo garantizado</td></tr><tr><td>SH</td><td>Segunda Hipoteca</td></tr><tr><td>PE</td><td>Pr\u00e9stamo para estudiante</td></tr><tr><td>NC</td><td>Desconocido</td></tr><tr><td>HB</td><td>HIPOTECARIO BANCARIO</td></tr><tr><td>AB</td><td>AUTOMOTRIZ BANCARIO</td></tr><tr><td>PB</td><td>PRESTAMO PERSONAL BANCARIO</td></tr><tr><td>UI</td><td>USO INTERNO</td></tr><tr><td>PM</td><td>PRESTAMO EMPRESARIAL</td></tr><tr><td>AE</td><td>Fisica Actividad Empresarial</td></tr><tr><td>PC</td><td>PROCAMPO</td></tr><tr><td>BC</td><td>BANCA COMUNAL</td></tr><tr><td>GS</td><td> GRUPO SOLIDARIO</td></tr><tr><td>FF</td><td>FONDEO FIRA</td></tr><tr><td>CP</td><td>CREDITO PERSONAL AL CONSUMO</td></tr><tr><td>CF</td><td>CREDITO FISCAL</td></tr><tr><td>PQ</td><td>PRESTAMO QUIROGRAFARIO</td></tr><tr><td>1300</td><td>ARREN PURO</td></tr><tr><td>1301</td><td>DESCUENTOS</td></tr><tr><td>1302</td><td>QUIROG</td></tr><tr><td>1303</td><td>COLATERAL</td></tr><tr><td>1304</td><td>PRENDAR</td></tr><tr><td>1305</td><td>SIMPLE</td></tr><tr><td>1306</td><td>P.G.U.I.</td></tr><tr><td>1307</td><td>HABILITACION</td></tr><tr><td>1308</td><td>REFACC</td></tr><tr><td>1309</td><td>I.E.P.B.S.</td></tr><tr><td>1310</td><td>VIVIENDA</td></tr><tr><td>1311</td><td>O.C. GARANTIA INMOB</td></tr><tr><td>1314</td><td>NO DISPONIBLE</td></tr><tr><td>1316</td><td>O.A.V.</td></tr><tr><td>1317</td><td>C.V.A.</td></tr><tr><td>1320</td><td>ARREN VIGENTE</td></tr><tr><td>1321</td><td>ARREN SINDICADO</td></tr><tr><td>1322</td><td>ARREND</td></tr><tr><td>1323</td><td>REESTRUCTURADOS</td></tr><tr><td>1324</td><td>RENOVADOS</td></tr><tr><td>1327</td><td>ARR. FINAN. SINDICADO</td></tr><tr><td>1340</td><td>REDESCUENTO</td></tr><tr><td>1341</td><td>O. REDESCUENTO</td></tr><tr><td>1342</td><td>RED. REESTRUCTURADOS</td></tr><tr><td>1350</td><td>PRESTAMOS C/FIDEICOMISOS GARANT\u00cdA</td></tr><tr><td>1380</td><td>T. CRED. EMPRESARIAL- CORPORATIVA</td></tr><tr><td>2303</td><td>CARTAS DE CREDITO</td></tr><tr><td>3011</td><td>FACTORAJE C/REC</td></tr><tr><td>3012</td><td>FACTORAJE S/REC</td></tr><tr><td>3230</td><td>ANT.A.C.P.P.FACTORAJE</td></tr><tr><td>3231</td><td>ARREN VIGENTE</td></tr><tr><td>6103</td><td>ADEUDOS POR AVAL</td></tr><tr><td>6105</td><td>CARTAS DE CR\u00c9DITOS NO DISPUESTAS</td></tr><tr><td>6228</td><td>FIDEICOMISOS PLANTA PRODUCTIVA</td></tr><tr><td>6229</td><td>FIDEICOMISOS EDOS</td></tr><tr><td>6230</td><td>FIDEICOMISOS VIVIENDA</td></tr><tr><td>6240</td><td>ABA PASEM II</td></tr><tr><td>6250</td><td>TARJETA DE SERVICIO</td></tr><tr><td>6260</td><td>CR\u00c9DITO FISCAL</td></tr><tr><td>6270</td><td>CR\u00c9DITO AUTOMOTRIZ</td></tr><tr><td>6280</td><td>L\u00cdNEA DE CR\u00c9DITO</td></tr><tr><td>6290</td><td>SEGUROS</td></tr><tr><td>6291</td><td>FIANZAS</td></tr><tr><td>6292</td><td>FONDOS Y FIDEICOMISOS</td></tr><tr><td>PN</td><td>PRESTAMO DE NOMINA</td></tr><tr><td>LR</td><td>LINEA DE CREDITO REINSTALABLE</td></tr></tbody></table>",
        "maxLength": 4,
        "enum": [
          "AA",
          "CA",
          "FI",
          "TC",
          "LC",
          "AR",
          "PP",
          "BR",
          "TG",
          "CC",
          "HV",
          "ND",
          "TS",
          "TD",
          "AM",
          "AV",
          "BL",
          "CO",
          "EQ",
          "FT",
          "HE",
          "MC",
          "OT",
          "ED",
          "VR",
          "NG",
          "PG",
          "SH",
          "PE",
          "NC",
          "HB",
          "AB",
          "PB",
          "UI",
          "PM",
          "AE",
          "PC",
          "BC",
          "GS",
          "FF",
          "CP",
          "CF",
          "PQ",
          "1300",
          "1301",
          "1302",
          "1303",
          "1304",
          "1305",
          "1306",
          "1307",
          "1308",
          "1309",
          "1310",
          "1311",
          "1314",
          "1316",
          "1317",
          "1320",
          "1321",
          "1322",
          "1323",
          "1324",
          "1327",
          "1340",
          "1341",
          "1342",
          "1350",
          "1380",
          "2303",
          "3011",
          "3012",
          "3230",
          "3231",
          "6103",
          "6105",
          "6228",
          "6229",
          "6230",
          "6240",
          "6250",
          "6260",
          "6270",
          "6280",
          "6290",
          "6291",
          "6292",
          "PN",
          "LR"
        ],
        "example": "AA"
      },
      "CatalogoTipoRiesgo": {
        "type": "integer",
        "description": "Objeto con Id y descripci\u00f3n de tipo de riesgo.<br>&nbsp;&nbsp;cveId => cveRiesgo: Entero con la clave del catalogo de tipo de riesgo.<br>&nbsp;&nbsp;nomDescripcion => nomRiesgo: Texto con el nombre del tipo de riesgo. </tbody></table><table><thead><tr><th>cveRiesgo</th><th>nomRiesgo</th></tr></thead><tbody><tr><td>1</td><td>ALTO RIESGO</td></tr><tr><td>2</td><td>BAJO RIESGO</td></tr></tbody></table>",
        "maxLength": 1,
        "enum": [
          1,
          2
        ],
        "example": 1
      },
      "CatalogoClasificacion": {
        "type": "integer",
        "description": "Objeto con Id y descripci\u00f3n de tipo de clasificacion.<br>&nbsp;&nbsp;cveId => cveClasificacion: Entero con la clave del catalogo de tipo de clasificacion.<br>&nbsp;&nbsp;nomDescripcion => nomClasificacion: Texto con el nombre del tipo de clasificacion. </tbody></table><table><thead><tr><th>cveClasificacion</th><th>nomClasificacion</th></tr></thead><tbody><tr><td>1</td><td>FINANCIERO</td></tr><tr><td>2</td><td>COMERCIAL</td></tr></tbody></table>",
        "maxLength": 1,
        "enum": [
          1,
          2
        ],
        "example": 1
      },
      "CatalogoSubclasificacionFinanciero": {
        "type": "integer",
        "description": "Objeto con Id y descripci\u00f3n de tipo de subclasificaci\u00f3n financiero.<br>&nbsp;&nbsp;cveId => cveSubclasificacion: Entero con la clave del catalogo de tipo de subclasificaci\u00f3n financiero.<br>&nbsp;&nbsp;nomDescripcion => nomSubclasificacion: Texto con el nombre del tipo de subclasificaci\u00f3n financiero. </tbody></table><table><thead><tr><th>cveSubclasificacion</th><th>nomSubclasificacion</th></tr></thead><tbody><tr><td>4</td><td>REGULADA</td></tr><tr><td>5</td><td>NO REGULADA</td></tr></tbody></table>",
        "maxLength": 1,
        "enum": [
          4,
          5
        ],
        "example": 4
      },
      "CatalogoSubclasificacionComercial": {
        "type": "integer",
        "description": "Objeto con Id y descripci\u00f3n de tipo de subclasificaci\u00f3n comercial.<br>&nbsp;&nbsp;id: Entero con la clave del catalogo de tipo de subclasificaci\u00f3n comercial.<br>&nbsp;&nbsp;descripcion: Texto con el nombre del tipo de subclasificaci\u00f3n comercial. </tbody></table><table><thead><tr><th>id</th><th>descripcion</th></tr></thead><tbody><tr><td>2</td><td>COMERCIAL</td></tr><tr><td>6</td><td>GOBIERNO</td></tr></tbody></table>",
        "maxLength": 1,
        "enum": [
          2,
          6
        ],
        "example": 2
      },
      "CatalogoProcedencia": {
        "type": "integer",
        "description": "Objeto con la procedencia.<br>&nbsp;&nbsp;cveId => id: Entero con la clave del catalogo de tipo de procedencia.<br>&nbsp;&nbsp;descripcion: Texto con el nombre del tipo de procedencia. </tbody></table><table><thead><tr><th>id</th><th>descripcion</th></tr></thead><tbody><tr><td>1</td><td>NACIONAL</td></tr><tr><td>2</td><td>EXTRANJERA</td></tr></tbody></table>",
        "maxLength": 1,
        "enum": [
          1,
          2
        ],
        "example": 1
      },
      "CatalogoPais": {
        "type": "integer",
        "description": "<p>Objeto con la informacion del Pais:</p><p><table><thead><tr><th>nomCvePais</th><th>Pais</th><th>Nacionalidad</th><th>cvePais</th></tr></thead><tbody><tr><td>MX</td><td>M\u00e9xico</td><td>Mexicana</td><td>1</td></tr><tr><td>ZA</td><td>Africa del Sur</td><td>Sudafricana</td><td>2</td></tr><tr><td>AN</td><td>Albania</td><td>Albania</td><td>3</td></tr><tr><td>DW</td><td>Alemania</td><td>Alemana</td><td>4</td></tr><tr><td>AD</td><td>Andorra</td><td>Andorra</td><td>5</td></tr><tr><td>AO</td><td>Angola</td><td>Angola</td><td>6</td></tr><tr><td>AI</td><td>Anguila</td><td>Anguila</td><td>7</td></tr><tr><td>AG</td><td>Antigua y Barbado</td><td>Antigua y Barbado</td><td>8</td></tr><tr><td>NN</td><td>Antillas Holandesas</td><td>Antillas Holandesas</td><td>9</td></tr><tr><td>SA</td><td>Arabia Saudita</td><td>Saudi Arabe</td><td>10</td></tr><tr><td>DZ</td><td>Argelia</td><td>Argelia</td><td>11</td></tr><tr><td>AT</td><td>Argentina</td><td>Argentina</td><td>12</td></tr><tr><td>AW</td><td>Arabia</td><td>\u00c1rabe</td><td>13</td><tr><tr><td>AS</td><td>Ascensi\u00f3n</td><td>Ascensi\u00f3n</td><td>14</td></tr><tr><td>AU</td><td>Australia</td><td>Australiana</td><td>15</td></tr><tr><td>DF</td><td>Austria</td><td>Austriaca</td><td>16</td></tr><tr><td>AX</td><td>Azores</td><td>Azores</td><td>17</td></tr><tr><td>BS</td><td>Bahamas</td><td>Bahamas</td><td>18</td></tr><tr><td>BH</td><td>Bahrein</td><td>Bahrein</td><td>19</td></tr><tr><td>BD</td><td>Bangladesh</td><td>Bangladesh</td><td>20</td></tr><tr><td>BB</td><td>Barbados</td><td>Barbados</td><td>21</td></tr><tr><td>BE</td><td>B\u00e9lgica</td><td>B\u00e9lgica</td><td>22</td></tr><tr><td>BZ</td><td>Belice</td><td>Belice</td><td>23</td></tr><tr><td>BJ</td><td>Benin</td><td>Benin</td><td>24</td></tr><tr><td>BU</td><td>Bermudas</td><td>Bermudas</td><td>25</td></tr><tr><td>BK</td><td>Birmania</td><td>Birmania</td><td>26</td></tr><tr><td>BO</td><td>Bolivia</td><td>Boliviana</td><td>27</td></tr><tr><td>BX</td><td>Bosnia Herzegovina</td><td>Bosnia Herzegovina</td><td>28</td></tr><tr><td>BW</td><td>Botswana</td><td>Botswana</td><td>29</td></tr><tr><td>BR</td><td>Brasil</td><td>Brasile\u00f1o</td><td>30</td></tr><tr><td>BN</td><td>Brunei</td><td>Brunei</td><td>31</td></tr><tr><td>BG</td><td>Bulgaria</td><td>B\u00falgara</td><td>32</td></tr><tr><td>BF</td><td>Burkina</td><td>Burkina</td><td>33</td></tr><tr><td>BI</td><td>Burundi</td><td>Burundi</td><td>34</td></tr><tr><td>BM</td><td>But\u00e1n</td><td>But\u00e1n</td><td>35</td></tr><tr><td>CV</td><td>Cabo Verde</td><td>Cabo Verde</td><td>36</td></tr><tr><td>CM</td><td>Camer\u00fan</td><td>Camerun\u00e9s</td><td>37</td></tr><tr><td>CN</td><td>Canad\u00e1</td><td>Canadiense</td><td>38</td></tr><tr><td>CU</td><td>Cariacou</td><td>Cariacou</td><td>39</td></tr><tr><td>CD</td><td>Chad</td><td>Chad</td><td>40</td></tr><tr><td>CL</td><td>Chile</td><td>Chilena</td><td>41</td></tr><tr><td>CP</td><td>China</td><td>China</td><td>42</td></tr><tr><td>CY</td><td>Chipre</td><td>Chipre</td><td>43</td></tr><tr><td>VC</td><td>Ciudad del Vaticano</td><td>Ciudad del Vaticano</td><td>44</td></tr><tr><td>CB</td><td>Colombia</td><td>Colombiana</td><td>45</td></tr><tr><td>CJ</td><td>Comoros</td><td>Comoros</td><td>46</td></tr><tr><td>CG</td><td>Congo</td><td>Congo</td><td>47</td></tr><tr><td>CC</td><td>C\u00f3rcega</td><td>C\u00f3rcega</td><td>48</td></tr><tr><td>KX</td><td>Corea del Norte</td><td>Corea del Norte</td><td>49</td></tr><tr><td>KR</td><td>Corea del Sur</td><td>Corea del Sur</td><td>50</td></tr><tr><td>IC</td><td>Costa de Marfil</td><td>Costa de Marfil</td><td>51</td></tr><tr><td>HX</td><td>Croacia</td><td>Croata</td><td>52</td></tr><tr><td>HR</td><td>Cuba</td><td>Cubana</td><td>53</td></tr><tr><td>DK</td><td>Dinamarca</td><td>Dan\u00e9s</td><td>54</td></tr><tr><td>DJ</td><td>Djibouti</td><td>Djibouti</td><td>55</td></tr><tr><td>DM</td><td>Rep. Dominicana</td><td>Dominicana</td><td>56</td></tr><tr><td>EC</td><td>Ecuador</td><td>Ecuador</td><td>57</td></tr><tr><td>EG</td><td>Egipto</td><td>Egipcia</td><td>58</td></tr><tr><td>SV</td><td>El Salvador</td><td>Salvadore\u00f1a</td><td>59</td></tr><tr><td>UM</td><td>Emiratos \u00c1rabes Unidos</td><td>Arabe</td><td>60</td></tr><tr><td>ES</td><td>Espa\u00f1a</td><td>Espa\u00f1ola</td><td>61</td></tr><tr><td>US</td><td>Estados Unidos</td><td>Estadounidense</td><td>62</td></tr><tr><td>XN</td><td>Eslovenia</td><td>Eslovenia</td><td>63</td></tr><tr><td>SU</td><td>Estonia</td><td>Estonia</td><td>64</td></tr><tr><td>ET</td><td>Etiop\u00eda</td><td>Etiop\u00eda</td><td>65</td></tr><tr><td>FJ</td><td>Fiji</td><td>Fiji</td><td>66</td></tr><tr><td>PH</td><td>Filipinas</td><td>Filipinas</td><td>67</td></tr><tr><td>FI</td><td>Finlandia</td><td>Fin\u00e9s</td><td>68</td></tr><tr><td>FR</td><td>Francia</td><td>Franc\u00e9s</td><td>69</td></tr><tr><td>GB</td><td>Gabon</td><td>Gabon</td><td>70</td></tr><tr><td>WT</td><td>Gales</td><td>Gales</td><td>71</td></tr><tr><td>GM</td><td>Gambia</td><td>Gambia</td><td>72</td></tr><tr><td>GH</td><td>Ghana</td><td>Ghana</td><td>73</td></tr><tr><td>GI</td><td>Gibraltar</td><td>Gibraltar</td><td>74</td></tr><tr><td>GD</td><td>Granada</td><td>Granada</td><td>75</td></tr><tr><td>GR</td><td>Grecia</td><td>Griega</td><td>76</td></tr><tr><td>GE</td><td>Groenlandia</td><td>Groenlandia</td><td>77</td></tr><tr><td>GP</td><td>Guadalupe</td><td>Guadalupe</td><td>78</td></tr><tr><td>GT</td><td>Guatemala</td><td>Guatemalteco</td><td>79</td></tr><tr><td>GY</td><td>Guyana</td><td>Guyana</td><td>80</td></tr><tr><td>GF</td><td>Guayana Francesa</td><td>Guayana Francesa</td><td>81</td></tr><tr><td>GN</td><td>Guinea</td><td>Guinea</td><td>82</td></tr><tr><td>GW</td><td>Guinea Bissau</td><td>Guinea Bissai</td><td>83</td></tr><tr><td>GQ</td><td>Guinea Ecuatorial</td><td>Guinea Ecuatorial</td><td>84</td></tr><tr><td>HA</td><td>Hait\u00ed</td><td>Haitiana</td><td>85</td></tr><tr><td>NL</td><td>Holanda</td><td>Holandesa</td><td>86</td></tr><tr><td>HN</td><td>Honduras</td><td>Hondure\u00f1a</td><td>87</td></tr><tr><td>HK</td><td>Hong Kong</td><td>Hong Kong</td><td>88</td></tr><tr><td>HU</td><td>Hungria</td><td>Hungara</td><td>89</td></tr><tr><td>IB</td><td>India</td><td>India</td><td>90</td></tr><tr><td>IF</td><td>Indonesia</td><td>Indonesia</td><td>91</td></tr><tr><td>IR</td><td>Ir\u00e1n</td><td>Iran\u00ed</td><td>92</td></tr><tr><td>IQ</td><td>Irak</td><td>Iraqu\u00edes</td><td>93</td></tr><tr><td>IE</td><td>Irlanda</td><td>Irlandesa</td><td>94</td></tr><tr><td>IS</td><td>Islandia</td><td>Islandia</td><td>95</td></tr><tr><td>CI</td><td>Islas Caiman</td><td>Islas Caiman</td><td>96</td></tr><tr><td>LE</td><td>Islas de  Sotavento</td><td>Islas de Sotavento</td><td>97</td></tr><tr><td>FA</td><td>Islas Malvinas</td><td>Islas Malvinas</td><td>98</td></tr><tr><td>FE</td><td>Islas Faroe</td><td>Islas Faroe</td><td>99</td></tr><tr><td>PS</td><td>Islas Pitcairn</td><td>Islas Pitcairn</td><td>100</td></tr><tr><td>RE</td><td>Islas Reuni\u00f3n</td><td>Islas Reuni\u00f3n</td><td>101</td></tr><tr><td>ST</td><td>Islas Santa Cruz</td><td>Islas Santa Cruz</td><td>102</td></tr><tr><td>SI</td><td>Islas Salm\u00f3n</td><td>Islas Salm\u00f3n</td><td>103</td></tr><tr><td>VG</td><td>Islas V\u00edrgenes Inglesas</td><td>Islas V\u00edrgenes Inglesas</td><td>104</td></tr><tr><td>IG</td><td>Israel</td><td>Israel\u00ed</td><td>105</td></tr><tr><td>IT</td><td>Italia</td><td>Italiano</td><td>106</td></tr><tr><td>JM</td><td>Jamaica</td><td>Jamaicano</td><td>107</td></tr><tr><td>JP</td><td>Jap\u00f3n</td><td>Jap\u00f3n</td><td>108</td></tr><tr><td>JO</td><td>Jordania</td><td>Jordano</td><td>109</td></tr><tr><td>KA</td><td>Kampuchea</td><td>Kampuchea</td><td>110</td></tr><tr><td>OA</td><td>Katar</td><td>Katar</td><td>111</td></tr><tr><td>KE</td><td>Kenya</td><td>Kenya</td><td>112</td></tr><tr><td>KI</td><td>Kiribati</td><td>Kiribati</td><td>113</td></tr><tr><td>KW</td><td>Kuwait</td><td>Kuwait</td><td>114</td></tr><tr><td>LO</td><td>Laos</td><td>Laos</td><td>115</td></tr><tr><td>LS</td><td>Lesotho</td><td>Lesotho</td><td>116</td></tr><tr><td>LX</td><td>Letonia</td><td>Letonia</td><td>117</td></tr><tr><td>LB</td><td>Libano</td><td>Libano</td><td>118</td></tr><tr><td>LR</td><td>Liberia</td><td>Liberia</td><td>119</td></tr><tr><td>LV</td><td>Libia</td><td>Libia</td><td>120</td></tr><tr><td>CH</td><td>Liechtenstein</td><td>Liechtenstein</td><td>121</td></tr><tr><td>LT</td><td>Lituania</td><td>Lituania</td><td>122</td></tr><tr><td>LU</td><td>Luxemburgo</td><td>Luxemburgo</td><td>123</td></tr><tr><td>MJ</td><td>Macao</td><td>Macao</td><td>124</td></tr><tr><td>MH</td><td>Maceodnia</td><td>Macedonia</td><td>125</td></tr><tr><td>MG</td><td>Madagascar</td><td>Madagascar</td><td>126</td></tr><tr><td>MD</td><td>Madeira</td><td>Madeira</td><td>127</td></tr><tr><td>MY</td><td>Malasia</td><td>Malasia</td><td>128</td></tr><tr><td>MW</td><td>Malawi</td><td>Malawi</td><td>129</td></tr><tr><td>MV</td><td>Maldivias</td><td>Maldivias</td><td>130</td></tr><tr><td>ML</td><td>Mal\u00ed</td><td>Mal\u00ed</td><td>131</td></tr><tr><td>MT</td><td>Malta</td><td>Malta</td><td>132</td></tr><tr><td>RC</td><td>Marruecos</td><td>Marroqu\u00ed</td><td>132</td></tr><tr><td>MQ</td><td>Martinico</td><td>Martinico</td><td>133</td></tr><tr><td>MU</td><td>Mauricio</td><td>Mauricio</td><td>134</td></tr><tr><td>MR</td><td>Mauritania</td><td>Mauritania</td><td>135</td></tr><tr><td>MR</td><td>Mauritania</td><td>Mauritania</td><td>136</td></tr><tr><td>AF</td><td>Afganistan</td><td>Afgana</td><td>137</td></tr><tr><td>MC</td><td>Mongolia</td><td>Molgola</td><td>138</td></tr><tr><td>MM</td><td>Montenegro</td><td>Montenegro</td><td>139</td></tr><tr><td>MK</td><td>Montserrat</td><td>Montserrat</td><td>140</td></tr><tr><td>MZ</td><td>Mozambique</td><td>Mozambique</td><td>141</td></tr><tr><td>NA</td><td>Nauru</td><td>Nauru</td><td>142</td></tr><tr><td>NP</td><td>Nepal</td><td>Nepal</td><td>143</td></tr><tr><td>NI</td><td>Nicaragua</td><td>Nicaragua</td><td>144</td></tr><tr><td>NR</td><td>Nigueria</td><td>Nigueria</td><td>145</td></tr><tr><td>NO</td><td>Noruega</td><td>Noruega</td><td>146</td></tr><tr><td>NW</td><td>Nueva Caledonia</td><td>Nueva Caledonia</td><td>147</td></tr><tr><td>NZ</td><td>Nueva Zelandia</td><td>Nueva Zelandia</td><td>148</td></tr><tr><td>OM</td><td>Oman</td><td>Oman</td><td>149</td></tr><tr><td>PK</td><td>Pakistan</td><td>Pakistan</td><td>150</td></tr><tr><td>PM</td><td>Panam\u00e1</td><td>Paname\u00f1o</td><td>151</td></tr><tr><td>PG</td><td>Papua Nueva Guinea</td><td>Papua Nueva Guinea</td><td>152</td></tr><tr><td>PY</td><td>Paraguay</td><td>Paraguayo</td><td>153</td></tr><tr><td>PU</td><td>Per\u00fa</td><td>Peruano</td><td>154</td></tr><tr><td>PL</td><td>Polonia</td><td>Polaco</td><td>155</td></tr><tr><td>FP</td><td>Polinesia</td><td>Polinesia</td><td>156</td></tr><tr><td>PT</td><td>Portugal</td><td>Portugues</td><td>157</td></tr><tr><td>UK</td><td>Reino Unido</td><td>Reino Unido</td><td>158</td></tr><tr><td>CF</td><td>Rep. Central Africana</td><td>Rep. Central Africana</td><td>159</td></tr><tr><td>CS</td><td>Rep. Checa Eslovaca</td><td>Rep. Checa Eslovaca</td><td>160</td></tr><tr><td>GX</td><td>Rep. de Georgia</td><td>Rep. de Georgia</td><td>161</td></tr><tr><td>DO</td><td>Rep. Dominicana</td><td>Rep. Dominicana</td><td>162</td></tr><tr><td>RO</td><td>Rumania</td><td>Rumana</td><td>163</td></tr><tr><td>RU</td><td>Rusia</td><td>Rusa</td><td>164</td></tr><tr><td>RW</td><td>Rwanda</td><td>Rwanda</td><td>165</td></tr><tr><td>WS</td><td>Samoa Oeste</td><td>Samoa Oeste</td><td>166</td></tr><tr><td>KN</td><td>San Cristobal de Nevais</td><td>San Cristobal de Nevais</td><td>167</td></tr><tr><td>SS</td><td>San Kitts</td><td>San Kitts</td><td>168</td></tr><tr><td>SP</td><td>San Pierre y Miquelon</td><td>san Pierre y Miquelon</td><td>169</td></tr><tr><td>SF</td><td>San Vincent y las Granadas</td><td>San Vincent y las Granadas</td><td>170</td></tr><tr><td>SH</td><td>Santa Helena</td><td>Santa Helena</td><td>171</td></tr><tr><td>LC</td><td>Santa Lucia</td><td>Santa Lucia</td><td>172</td></tr><tr><td>MP</td><td>Sao Tome y Principado</td><td>Sao Tome y Principado</td><td>173</td></tr><tr><td>SN</td><td>Senegal</td><td>Senegal</td><td>174</td></tr><tr><td>SX</td><td>Serbia</td><td>Serbia</td><td>175</td></tr><tr><td>SY</td><td>Siria</td><td>Siria</td><td>176</td></tr><tr><td>SO</td><td>Somalia</td><td>Somalia</td><td>177</td></tr><tr><td>LK</td><td>Sri Lanka</td><td>Sri Lanka</td><td>178</td></tr><tr><td>SB</td><td>Sudan</td><td>Sudan</td><td>179</td></tr><tr><td>SE</td><td>Suecia</td><td>Sueco</td><td>180</td></tr><tr><td>SW</td><td>Suiza</td><td>Suiza</td><td>181</td></tr><tr><td>SR</td><td>Surinam</td><td>Surinam</td><td>182</td></tr><tr><td>SZ</td><td>Swazilandia</td><td>Swazilandia</td><td>183</td></tr><tr><td>TH</td><td>Tailandia</td><td>Tailandia</td><td>184</td></tr><tr><td>TW</td><td>Taiwan</td><td>Taiwan</td><td>185</td></tr><tr><td>TZ</td><td>Tanzania</td><td>Tanzania</td><td>186</td></tr><tr><td>EM</td><td>Timor Oriental</td><td>Timor Oriental</td><td>187</td></tr><tr><td>TG</td><td>Togo</td><td>Togo</td><td>188</td></tr><tr><td>TA</td><td>Tonga</td><td>Tonga</td><td>189</td></tr><tr><td>TT</td><td>Trinidad y Tobago</td><td>Trinidad y Tobago</td><td>190</td></tr><tr><td>TD</td><td>Trist\u00e1n de Cunha</td><td>Trist\u00e1n de Cunha</td><td>191</td></tr><tr><td>TU</td><td>Tunez</td><td>Tunez</td><td>192</td></tr><tr><td>TC</td><td>Turcos e Islas Caicos</td><td>Turcos e Islas Caicos</td><td>193</td></tr><tr><td>TR</td><td>Turqu\u00eda</td><td>Turca</td><td>194</td></tr><tr><td>TV</td><td>Tuvala</td><td>Tuvala</td><td>195</td></tr><tr><td>UG</td><td>Uganda</td><td>Uganda</td><td>196</td></tr><tr><td>UA</td><td>Ucrania</td><td>Ucraniano</td><td>197</td></tr><tr><td>UY</td><td>Uruguay</td><td>Uruguayo</td><td>198</td></tr><tr><td>VU</td><td>Vanuatu</td><td>Vanuatu</td><td>199</td></tr><tr><td>VE</td><td>Venezuela</td><td>Venezolana</td><td>200</td></tr><tr><td>VN</td><td>Vietnam</td><td>Vietnami</td><td>201</td></tr><tr><td>YS</td><td>Yemen del Norte</td><td>Yemen del Norte</td><td>202</td></tr><tr><td>YE</td><td>Yemen del Sur</td><td>Yemen del Sur</td><td>203</td></tr><tr><td>ZR</td><td>Zaire</td><td>Zaire</td><td>204</td></tr><tr><td>ZM</td><td>Zambia</td><td>Zambia</td><td>205</td></tr><tr><td>ZW</td><td>Zimbabwe</td><td>Zimbabwe</td><td>206</td></tr><tr><td>ND</td><td>No Definido</td><td>No Definido</td><td>1000</td></tr></tbody></table></p>",
        "example": 1
      },
      "CatalogoEstados": {
        "type": "integer",
        "description": "Estado en que se ubica el domicilio <table><thead><tr><th>cveEstado</th><th>nomCveEstado</th><th>Estado</th></tr></thead><tbody><tr><td>1</td><td>AGS</td><td>AGUASCALIENTES</td></tr><tr><td>2</td><td>BC</td><td>BAJA CALIFORNIA NORTE</td></tr><tr><td>3</td><td>BCS</td><td>BAJA CALIFORNIA SUR</td></tr><tr><td>4</td><td>CAMP</td><td>CAMPECHE</td></tr><tr><td>5</td><td>COAH</td><td>COHAHUILA</td></tr><tr><td>6</td><td>COL</td><td>COLIMA</td></tr><tr><td>7</td><td>CHIS</td><td>CHIAPAS</td></tr><tr><td>8</td><td>CHIH</td><td>CHIHUAHUA</td></tr><tr><td>9</td><td>CDMX</td><td>CIUDAD DE M\u00c9XICO</td></tr><tr><td>10</td><td>DGO</td><td>DURANGO</td></tr><tr><td>11</td><td>GTO</td><td>GUANAJUATO</td></tr><tr><td>12</td><td>GRO</td><td>GUERRERO</td></tr><tr><td>13</td><td>HGO</td><td>HIDALGO</td></tr><tr><td>14</td><td>JAL</td><td>JALISCO</td></tr><tr><td>15</td><td>MEX</td><td>M\u00c9XICO</td></tr><tr><td>16</td><td>MICH</td><td>MICHOC\u00c1N</td></tr><tr><td>17</td><td>MOR</td><td>MORELOS</td></tr><tr><td>18</td><td>NAY</td><td>NAYARIT</td></tr><tr><td>19</td><td>NL</td><td>NUEVO LE\u00d3N</td></tr><tr><td>20</td><td>OAX</td><td>OAXACA</td></tr><tr><td>21</td><td>PUE</td><td>PUEBLA</td></tr><tr><td>22</td><td>QRO</td><td>QUER\u00c9TARO</td></tr><tr><td>23</td><td>QROO</td><td>QUINTANA ROO</td></tr><tr><td>24</td><td>SLP</td><td>SAN LUIS POTOS\u00cd</td></tr><tr><td>25</td><td>SIN</td><td>SINALOA</td></tr><tr><td>26</td><td>SON</td><td>SONORA</td></tr><tr><td>27</td><td>TAB</td><td>TABASCO</td></tr><tr><td>28</td><td>TAMP</td><td>TAMAULIPAS</td></tr><tr><td>29</td><td>TLAX</td><td>TLAXCALA</td></tr><tr><td>30</td><td>VER</td><td>VERACRUZ</td></tr><tr><td>31</td><td>YUC</td><td>YUCAT\u00c1N</td></tr><tr><td>32</td><td>ZAC</td><td>ZACATECAS</td></tr><tr><td>100</td><td>ND</td><td>No Definido</td></tr></tbody></table>",
        "maxLength": 4,
        "pattern": "(^[\\sA-Za-z]+)$",
        "example": 9,
        "enum": [
          1,
          2,
          3,
          4,
          5,
          6,
          7,
          8,
          9,
          10,
          11,
          12,
          13,
          14,
          15,
          16,
          17,
          18,
          19,
          20,
          21,
          22,
          23,
          24,
          25,
          26,
          27,
          28,
          29,
          30,
          31,
          32,
          100
        ]
      },
      "CatalogoRepPrincipal": {
        "type": "integer",
        "description": "Indicador si es representante principal siendo 1 como verdadero y 0 como falso.</table><table><thead><tr><th>id</th><th>descripcion</th></tr></thead><tbody><tr><td>1</td><td>Verdadero</td></tr><tr><td>0</td><td>Falso</td></tr></tbody></table>",
        "maxLength": 1,
        "enum": [
          0,
          1
        ],
        "example": 1
      },
      "CatalogoPrivilegios": {
        "type": "integer",
        "description": "Lista de objetos con los privilegios del funcionario facultado.</table><table><thead><tr><th>cvePrivilegios</th><th>nomDescripcion</th></tr></thead><tbody><tr><td>1</td><td>MODIFICACIONES BASE DE DATOS</td></tr><tr><td>2</td><td>SOLICITUD DE CLAVES DE ACCESO</td></tr><tr><td>3</td><td>SOLICITUD DE RCE</td></tr><tr><td>4</td><td>RESPUESTAS DE ACLARACIONES</td></tr><tr><td>5</td><td>RESPONSABLE DE AUDITORIA</td></tr><tr><td>6</td><td>PLD CHECK</td></tr><tr><td>7</td><td>ALTA DE NUEVOS PRODUCTOS</td></tr></tbody></table>",
        "maxLength": 1,
        "enum": [
          1,
          2,
          3,
          4,
          5,
          6,
          7
        ],
        "example": 3
      },
      "CatalogoTipoNegocio": {
        "type": "string",
        "description": "Lista de objetos con tipo de negocio.</table><table><thead><tr><th>Id</th><th>Descripcion</th></tr></thead><tbody><tr><td>001</td><td>ADMINISTRADORAS DE CARTERA</td></tr><tr><td>002</td><td>ALMACENES DE DEPOSITO</td></tr><tr><td>003</td><td>ARRENDADORAS FINANCIERAS</td></tr><tr><td>004</td><td>ARRENDADORAS NO FINANCIERAS</td></tr><tr><td>005</td><td>ATENCION AL CONSUMIDOR</td></tr><tr><td>006</td><td>AUTOMOTRIZ</td></tr><tr><td>007</td><td>AUTORIDADES</td></tr><tr><td>008</td><td>BANCOS</td></tr><tr><td>009</td><td>BIENES RAICES</td></tr><tr><td>010</td><td>CAJAS DE AHORRO</td></tr><tr><td>011</td><td>CAMARAS Y ASOCIACIONES</td></tr><tr><td>012</td><td>CASA DE BOLSA</td></tr><tr><td>013</td><td>CASA DE CAMBIO</td></tr><tr><td>014</td><td>CIRCULO DE CREDITO</td></tr><tr><td>015</td><td>COMPA\u00d1IA DE FINANCIAMIENTO AUTOMOTRIZ</td></tr><tr><td>016</td><td>COMPA\u00d1IA DE PRESTAMO PERSONAL</td></tr><tr><td>017</td><td>COMUNICACIONES</td></tr><tr><td>018</td><td>EDITORIAL</td></tr><tr><td>019</td><td>FACTORAJE</td></tr><tr><td>020</td><td>FONDOS Y FIDEICOMISOS</td></tr><tr><td>021</td><td>GOBIERNO</td></tr><tr><td>022</td><td>HIPOTECARIO NO BANCARIO</td></tr><tr><td>023</td><td>MERCANCIA PARA HOGAR Y OFICINA</td></tr><tr><td>024</td><td>MERCANCIA PARA LA CONSTRUCCION</td></tr><tr><td>025</td><td>MONITOREO DE CREDITO</td></tr><tr><td>026</td><td>SALUD Y SERVICIOS MEDICOS</td></tr><tr><td>027</td><td>SEGUROS Y FIANZAS</td></tr><tr><td>028</td><td>SERVICIOS</td></tr><tr><td>029</td><td>SOFOL AUTOMOTRIZ</td></tr><tr><td>030</td><td>SOFOL HIPOTECARIA</td></tr><tr><td>031</td><td>SOFOL PRESTAMO PERSONAL</td></tr><tr><td>032</td><td>TIENDA DE AUTOSERVICIO</td></tr><tr><td>033</td><td>TIENDA DE ROPA</td></tr><tr><td>051</td><td>INSUMOS</td></tr><tr><td>035</td><td>UNION DE CREDITO</td></tr><tr><td>036</td><td>VENTA POR CORREO / TELEFONO</td></tr><tr><td>038</td><td>PRUEBA DE CONSULTAS</td></tr><tr><td>039</td><td>CASA DE EMPE\u00d1O</td></tr><tr><td>040</td><td>COOPERATIVA DE AHORRO Y CREDITO</td></tr><tr><td>041</td><td>TELEFON\u00cdA CELULAR</td></tr><tr><td>042</td><td>SERVICIO DE TELEVISION DE PAGA</td></tr><tr><td>043</td><td>AUTOFINANCIAMIENTO</td></tr><tr><td>044</td><td>TELEFONIA LOCAL Y DE LARGA DISTANCIA</td></tr><tr><td>045</td><td>MICROFINANCIERA</td></tr><tr><td>046</td><td>SOCIEDADES FINANCIERAS POPULARES</td></tr><tr><td>047</td><td>SOFOL EMPRESARIAL</td></tr><tr><td>034</td><td>TIENDA DEPARTAMENTAL</td></tr><tr><td>050</td><td>SIC</td></tr><tr><td>048</td><td>VENTA POR CATALOGO</td></tr><tr><td>049</td><td>SOCIEDAD FINANCIERA DE OBJETO MULTIPLE</td></tr><tr><td>054</td><td>EDUCACI\u00d3N</td></tr><tr><td>056</td><td>EMPRESA PETROLERA</td></tr><tr><td>057</td><td>SERVICIOS FIDUCIARIOS</td></tr><tr><td>052</td><td>SOCIEDAD FINANCIERA COMUNITARIA</td></tr></tbody></table>",
        "enum": [
          "001",
          "002",
          "003",
          "004",
          "005",
          "006",
          "007",
          "008",
          "009",
          "010",
          "011",
          "012",
          "013",
          "014",
          "015",
          "016",
          "017",
          "018",
          "019",
          "020",
          "021",
          "022",
          "023",
          "024",
          "025",
          "026",
          "027",
          "028",
          "029",
          "030",
          "031",
          "032",
          "033",
          "051",
          "035",
          "036",
          "038",
          "039",
          "040",
          "041",
          "042",
          "043",
          "044",
          "045",
          "046",
          "047",
          "034",
          "050",
          "048",
          "049",
          "054",
          "056",
          "057",
          "052"
        ],
        "example": "028"
      },
      "CatalogoCicloEntrega": {
        "type": "string",
        "description": "Identificador del ciclo de entrega.</table><table><thead><tr><th>cveCicloEntrega</th><th>nomDescripcion</th></tr></thead><tbody><tr><td>B</td><td>BIMESTRAL</td></tr><tr><td>M</td><td>MENSUAL</td></tr><tr><td>Q</td><td>QUINCENAL</td></tr><tr><td>A</td><td>ANUAL</td></tr><tr><td>V</td><td>VARIABLE</td></tr><tr><td>C</td><td>CATORCENAL</td></tr><tr><td>T</td><td>TRIMESTRAL</td></tr><tr><td>S</td><td>SEMANAL</td></tr><tr><td>D</td><td>DEDUCCION DEL SALARIO</td></tr><tr><td>R</td><td>PAGO MINIMO PARA CUENTAS REVOLVENTES</td></tr><tr><td>U</td><td>UNA SOLA EXHIBICION</td></tr><tr><td>E</td><td>SEMESTRAL</td></tr></tbody></table>",
        "maxLength": 1,
        "enum": [
          "B",
          "M",
          "Q",
          "A",
          "V",
          "C",
          "T",
          "S",
          "D",
          "R",
          "U",
          "E"
        ],
        "example": "Q"
      },
      "CatalogoProdPersonaFisica": {
        "type": "integer",
        "description": "Cat\u00e1logo de productos para personas f\u00edsicas.</table><table><thead><tr><th>Id</th><th>Descripcion</th></tr></thead><tbody><tr><td>1</td><td>RC PF</td></tr><tr><td>2</td><td>AUTENTICACION</td></tr><tr><td>3</td><td>GFS</td></tr><tr><td>4</td><td>FES</td></tr><tr><td>5</td><td>PLD</td></tr><tr><td>6</td><td>VECTOR DOMICILIOS</td></tr><tr><td>7</td><td>ESTADISTICAS FINANCIERAS</td></tr><tr><td>8</td><td>TENDENCIAS FINANCIERAS</td></tr><tr><td>9</td><td>CEC(INE)</td></tr><tr><td>10</td><td>VERIFICA ID</td></tr><tr><td>12</td><td>CONSOLIDADO</td></tr><tr><td>13</td><td>RENUEVA</td></tr><tr><td>14</td><td>LAE TC</td></tr><tr><td>15</td><td>LAE TD</td></tr><tr><td>16</td><td>LAE PP</td></tr><tr><td>17</td><td>FIS</td></tr><tr><td>18</td><td>ORIGINACION</td></tr><tr><td>19</td><td>VANTAGE</td></tr><tr><td>20</td><td>GRATUIDAD FINANCIERAS</td></tr><tr><td>21</td><td>VECTOR DE SALDOS</td></tr><tr><td>22</td><td>VECTOR DE NIVEL</td></tr><tr><td>23</td><td>VALIDADOR DOMIILIOS</td></tr><tr><td>24</td><td>MONITOR INTL</td></tr><tr><td>25</td><td>REPORTE LIGHT</td></tr><tr><td>26</td><td>REPORTE TECOS</td></tr><tr><td>27</td><td>MADUREZ</td></tr><tr><td>28</td><td>ESPECIAL</td></tr><tr><td>29</td><td>MONITOREA</td></tr><tr><td>30</td><td>SCORE FRAUDE</td></tr><tr><td>31</td><td>BLUM</td></tr><tr><td>32</td><td>XT</td></tr><tr><td>33</td><td>SCS</td></tr><tr><td>34</td><td>FINTECH</td></tr><tr><td>35</td><td>ATRIBUTOS DE LOCALIZACION</td></tr><tr><td>36</td><td>INCUBE</td></tr><tr><td>37</td><td>DIGITAL CHECK</td></tr><tr><td>38</td><td>EVA</td></tr><tr><td>39</td><td>SAT</td></tr><tr><td>40</td><td>ADG</td></tr><tr><td>41</td><td>PFM</td></tr><tr><td>42</td><td>Notificaciones</td></tr></tbody></table>",
        "maxLength": 2,
        "enum": [
          1,
          2,
          3,
          4,
          5,
          6,
          7,
          8,
          9,
          10,
          12,
          13,
          14,
          15,
          16,
          17,
          18,
          19,
          20,
          21,
          22,
          23,
          24,
          25,
          26,
          27,
          28,
          29,
          30,
          31,
          32,
          33,
          34,
          35,
          36,
          37,
          38,
          39,
          40,
          41,
          42
        ],
        "example": 1
      },
      "CatalogoProdPersonaMoral": {
        "type": "integer",
        "description": "Cat\u00e1logo de productos para personas f\u00edsicas.</table><table><thead><tr><th>id</th><th>descripcion</th></tr></thead><tbody><tr><td>11</td><td>RC PM</td></tr><tr><td>12</td><td>CONSOLIDADO</td></tr></tbody></table>",
        "maxLength": 2,
        "enum": [
          11,
          12
        ],
        "example": 11
      },
      "Error": {
        "type": "object",
        "description": "error",
        "properties": {
          "codigo": {
            "type": "string",
            "example": 400.1,
            "description": "C\u00f3digo de error."
          },
          "mensaje": {
            "type": "string",
            "example": "El campo \"{Campo}\" es requerido.",
            "description": "Mensaje de error."
          }
        }
      },
      "Errores": {
        "type": "object",
        "description": "Si existen errores, se listar\u00e1n.",
        "properties": {
          "errores": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Error"
            }
          }
        }
      },
      "PrivilegiosObjeto": {
        "type": "object",
        "description": "Lista de objetos con los privilegios del funcionario facultado.",
        "properties": {
          "cveId": {
            "$ref": "#/components/schemas/CatalogoPrivilegios"
          },
          "nomDescripcion": {
            "type": "string",
            "description": "Descripcion del privilegio seleccionado",
            "example": "SOLICITUD DE RCE (ANEXO H)"
          }
        }
      },
      "ObjProductosPersonaFisica": {
        "description": "Objeto con la informaci\u00f3n del funcionario facultado.",
        "example": [
          {
            "cveId": 1,
            "nomDescripcion": "Autentificacion"
          },
          {
            "cveId": 2,
            "nomDescripcion": "Reporte de Credito"
          }
        ]
      },
      "RequestCamposCincel": {
        "required": [
          "cveProspecto",
          "prospecto"
        ],
        "type": "object",
        "properties": {
          "cveProspecto": {
            "type": "string",
            "maxLength": 25,
            "pattern": "(^[\\sA-Za-z0-9]+)$",
            "example": "Ejemplo10"
          },
          "prospecto": {
            "type": "object",
            "required": [
              "nomNombre",
              "nomRazonSocial",
              "nomNombreCorto",
              "nomRFC",
              "tipoOtorgante",
              "vertical",
              "tipoRiesgo",
              "clasificacion",
              "subclasificacionFinanciero",
              "subclasificacionComercial",
              "fecConstitucionSociedad",
              "numDocumentosSolicitados",
              "nomDocumentosFaltantes",
              "procedencia",
              "domicilioFiscal",
              "representanteLegal",
              "ejecutivoCuenta",
              "gerenteComercial",
              "contactoEntregaBaseDatos",
              "funcionarioFacultado",
              "tipoNegocio",
              "responsableProveedor",
              "responsableFacturas",
              "cicloEntrega",
              "usuariosOtorgante",
              "tipoContrato",
              "indEntregaPersonasFisicas",
              "indEntregaPersonasMorales",
              "productosPersonaFisica",
              "productosPersonaMoral",
              "contactoPrincipalOtorgante",
              "numPaquetesAdquiridos"
            ],
            "properties": {
              "nomNombre": {
                "type": "string",
                "maxLength": 100,
                "description": "Texto con el Nombre del Prospecto",
                "pattern": "(^[\\sA-Za-z0-9\\u00C0-\\u017F]+)$",
                "example": "Nombre Prospecto 10"
              },
              "nomRazonSocial": {
                "type": "string",
                "maxLength": 100,
                "description": "Texto con la Razon Social del Prospecto",
                "pattern": "(^[A-Za-z\u00e1\u00e9\u00ed\u00f3\u00fa\u00c1\u00c9\u00cd\u00d3\u00da\u00f1\u00d1\u00fc\u00dc0-9\\\\,.\\- ]+)$",
                "example": "Razon Social"
              },
              "nomNombreCorto": {
                "type": "string",
                "maxLength": 40,
                "description": "Texto con el Nombre Corto del Prospecto",
                "pattern": "(^[A-Za-z\u00e1\u00e9\u00ed\u00f3\u00fa\u00c1\u00c9\u00cd\u00d3\u00da\u00f1\u00d1\u00fc\u00dc0-9\\\\,.\\- ]+)$",
                "example": "Nombre Corto"
              },
              "nomRFC": {
                "type": "string",
                "maxLength": 20,
                "description": "Texto con el RFC del Prospecto",
                "pattern": "(^[A-Za-z0-9]+)$",
                "example": "GAMM950331KF7"
              },
              "tipoOtorgante": {
                "type": "object",
                "required": [
                  "cveId",
                  "nomDescripcion"
                ],
                "properties": {
                  "cveId": {
                    "$ref": "#/components/schemas/CatalogoTipoOtorgante"
                  },
                  "nomDescripcion": {
                    "type": "string",
                    "description": "Texto con el nombre del tipo de otorgante.",
                    "pattern": "(^[A-Za-z\u00e1\u00e9\u00ed\u00f3\u00fa\u00c1\u00c9\u00cd\u00d3\u00da\u00f1\u00d1\u00fc\u00dc0-9\\\\,.\\- ]+)$",
                    "example": "PADRE"
                  }
                }
              },
              "vertical": {
                "type": "object",
                "required": [
                  "cveId",
                  "nomDescripcion"
                ],
                "properties": {
                  "cveId": {
                    "$ref": "#/components/schemas/CatalogoVertical"
                  },
                  "nomDescripcion": {
                    "type": "string",
                    "pattern": "(^[A-Za-z\u00e1\u00e9\u00ed\u00f3\u00fa\u00c1\u00c9\u00cd\u00d3\u00da\u00f1\u00d1\u00fc\u00dc0-9\\\\,.\\- ]+)$",
                    "description": "Texto con el nombre del tipo de vertical.",
                    "example": "CUENTAS MEDIANAS"
                  }
                }
              },
              "tipoRiesgo": {
                "type": "object",
                "required": [
                  "cveId",
                  "nomDescripcion"
                ],
                "properties": {
                  "cveId": {
                    "$ref": "#/components/schemas/CatalogoTipoRiesgo"
                  },
                  "nomDescripcion": {
                    "type": "string",
                    "pattern": "(^[A-Za-z\u00e1\u00e9\u00ed\u00f3\u00fa\u00c1\u00c9\u00cd\u00d3\u00da\u00f1\u00d1\u00fc\u00dc0-9\\\\,.\\- ]+)$",
                    "description": "Texto con el nombre del tipo de riesgo.",
                    "example": "ALTO RIESGO"
                  }
                }
              },
              "clasificacion": {
                "type": "object",
                "required": [
                  "cveId",
                  "nomDescripcion"
                ],
                "properties": {
                  "cveId": {
                    "$ref": "#/components/schemas/CatalogoClasificacion"
                  },
                  "nomDescripcion": {
                    "type": "string",
                    "pattern": "(^[A-Za-z\u00e1\u00e9\u00ed\u00f3\u00fa\u00c1\u00c9\u00cd\u00d3\u00da\u00f1\u00d1\u00fc\u00dc0-9\\\\,.\\- ]+)$",
                    "description": "Texto con el nombre del tipo de clasificaci\u00f3n.",
                    "example": "FINANCIERO"
                  }
                }
              },
              "subclasificacionFinanciero": {
                "type": "object",
                "required": [
                  "cveId",
                  "nomDescripcion"
                ],
                "properties": {
                  "cveId": {
                    "$ref": "#/components/schemas/CatalogoSubclasificacionFinanciero"
                  },
                  "nomDescripcion": {
                    "type": "string",
                    "pattern": "(^[A-Za-z\u00e1\u00e9\u00ed\u00f3\u00fa\u00c1\u00c9\u00cd\u00d3\u00da\u00f1\u00d1\u00fc\u00dc0-9\\\\,.\\- ]+)$",
                    "description": "Texto con el nombre del tipo de subclasificaci\u00f3n financiero.",
                    "example": "REGULADA"
                  }
                }
              },
              "subclasificacionComercial": {
                "type": "object",
                "required": [
                  "cveId",
                  "nomDescripcion"
                ],
                "properties": {
                  "cveId": {
                    "$ref": "#/components/schemas/CatalogoSubclasificacionComercial"
                  },
                  "nomDescripcion": {
                    "type": "string",
                    "pattern": "(^[A-Za-z\u00e1\u00e9\u00ed\u00f3\u00fa\u00c1\u00c9\u00cd\u00d3\u00da\u00f1\u00d1\u00fc\u00dc0-9\\\\,.\\- ]+)$",
                    "description": "Texto con el nombre del tipo de subclasificaci\u00f3n financiero.",
                    "example": "COMERCIAL"
                  }
                }
              },
              "fecConstitucionSociedad": {
                "type": "string",
                "pattern": "^([0-2][0-9]|3[0-1])(\\/|)(0[1-9]|1[0-2])\\2(\\d{4})$",
                "description": "Fecha de la constitucion de la sociedad.",
                "format": "dd-mm-yyyy",
                "example": "23-06-2023"
              },
              "numDocumentosSolicitados": {
                "type": "integer",
                "description": "Numero de Documentos totales solicitados.",
                "pattern": "(^[0-9]+)$",
                "example": 1
              },
              "nomDocumentosFaltantes": {
                "description": "Lista de texto con el nombre de los documentos faltantes.",
                "example": [
                  "DOCUMENTO FALTANTE 1",
                  "DOCUMENTO FALTANTE 2"
                ]
              },
              "procedencia": {
                "type": "object",
                "required": [
                  "cveId",
                  "nomDescripcion"
                ],
                "properties": {
                  "cveId": {
                    "$ref": "#/components/schemas/CatalogoProcedencia"
                  },
                  "nomDescripcion": {
                    "type": "string",
                    "pattern": "(^[A-Za-z\u00e1\u00e9\u00ed\u00f3\u00fa\u00c1\u00c9\u00cd\u00d3\u00da\u00f1\u00d1\u00fc\u00dc0-9\\\\,.\\- ]+)$",
                    "description": "Texto con el nombre del tipo de procedencia.",
                    "example": "NACIONAL"
                  }
                }
              },
              "domicilioFiscal": {
                "type": "object",
                "required": [
                  "pais",
                  "estado",
                  "cveCp",
                  "nomCiudad",
                  "nomCalle",
                  "nomColonia",
                  "nomInterior",
                  "numExterior"
                ],
                "description": "Objeto con la informacion del domicilio fiscal.",
                "properties": {
                  "pais": {
                    "type": "object",
                    "required": [
                      "cveId",
                      "nomCvePais",
                      "nomDescripcion"
                    ],
                    "properties": {
                      "cveId": {
                        "$ref": "#/components/schemas/CatalogoPais"
                      },
                      "nomCvePais": {
                        "type": "string",
                        "maxLength": 22,
                        "pattern": "(^[A-Za-z]+)$",
                        "description": "Texto con la clave del Pais.",
                        "example": "MX"
                      },
                      "nomDescripcion": {
                        "type": "string",
                        "maxLength": 22,
                        "pattern": "(^[A-Za-z\u00e1\u00e9\u00ed\u00f3\u00fa\u00c1\u00c9\u00cd\u00d3\u00da\u00f1\u00d1\u00fc\u00dc0-9\\\\,.\\- ]+)$",
                        "description": "Texto con el Nombre del Pais.",
                        "example": "M\u00c9XICO"
                      }
                    }
                  },
                  "estado": {
                    "type": "object",
                    "required": [
                      "cveId",
                      "nomDescripcion"
                    ],
                    "properties": {
                      "cveId": {
                        "$ref": "#/components/schemas/CatalogoEstados"
                      },
                      "nomDescripcion": {
                        "type": "string",
                        "maxLength": 22,
                        "pattern": "(^[A-Za-z]+)$",
                        "description": "Texto con el Nombre del Estado.",
                        "example": "CDMX"
                      }
                    }
                  },
                  "cveCp": {
                    "type": "string",
                    "pattern": "(^[0-9]+)$",
                    "maxLength": 10,
                    "description": "Numero con la clave de Codigo Postal.",
                    "example": "11520"
                  },
                  "nomCiudad": {
                    "type": "string",
                    "maxLength": 69,
                    "pattern": "(^[\\sA-Za-z\\u00C0-\\u017F]+)$",
                    "description": "Texto con el nombre de la Ciudad.",
                    "example": "M\u00e9xico"
                  },
                  "nomCalle": {
                    "type": "string",
                    "maxLength": 50,
                    "pattern": "(^[\\sA-Za-z0-9\\u00C0-\\u017F]+)$",
                    "description": "Texto con el nombre de la Calle.",
                    "example": "Calle Lago Andr\u00f3maco "
                  },
                  "nomColonia": {
                    "type": "string",
                    "maxLength": 50,
                    "pattern": "(^[\\sA-Za-z0-9\\u00C0-\\u017F]+)$",
                    "description": "Texto con el nombre de la colonia.",
                    "example": "Granada"
                  },
                  "nomInterior": {
                    "type": "string",
                    "maxLength": 10,
                    "pattern": "(^[\\sA-Za-z0-9\\u00C0-\\u017F]+)$",
                    "description": "Texto con el numero interior.",
                    "example": "9B"
                  },
                  "numExterior": {
                    "type": "integer",
                    "maxLength": 10,
                    "pattern": "(^[0-9]+)$",
                    "description": "Numero Exterior.",
                    "example": 301
                  }
                }
              },
              "representanteLegal": {
                "type": "array",
                "description": "Datos de/del respresentante legal.",
                "items": {
                  "type": "object",
                  "required": [
                    "nomNombre",
                    "nomApellidoPaterno",
                    "nomApellidoMaterno",
                    "nomCorreo",
                    "numTelefono",
                    "cveRepresentantePrincipal"
                  ],
                  "properties": {
                    "nomNombre": {
                      "type": "string",
                      "maxLength": 25,
                      "pattern": "(^[\\sA-Za-z0-9\\u00C0-\\u017F]+)$",
                      "example": "Juan"
                    },
                    "nomApellidoPaterno": {
                      "type": "string",
                      "maxLength": 25,
                      "pattern": "(^[\\sA-Za-z0-9\\u00C0-\\u017F]+)$",
                      "example": "P\u00e9rez"
                    },
                    "nomApellidoMaterno": {
                      "type": "string",
                      "maxLength": 25,
                      "pattern": "(^[\\sA-Za-z0-9\\u00C0-\\u017F]+)$",
                      "example": "Guzm\u00e1n"
                    },
                    "nomCorreo": {
                      "type": "string",
                      "maxLength": 60,
                      "pattern": "(^[a-zA-Z0-9._%+-]+@[a-zA-Z0-9.-]+\\.[a-zA-Z]{2,})$",
                      "example": "juan.perezg@gmail.com"
                    },
                    "numTelefono": {
                      "type": "integer",
                      "maxLength": 13,
                      "pattern": "(0-9]+)$",
                      "example": 5613243546
                    },
                    "cveRepresentantePrincipal": {
                      "type": "integer",
                      "maxLength": 1,
                      "pattern": "(0-9]+)$",
                      "example": 1
                    }
                  }
                }
              },
              "ejecutivoCuenta": {
                "type": "object",
                "required": [
                  "nomNombre",
                  "nomApellidoPaterno",
                  "nomApellidoMaterno",
                  "nomCorreo",
                  "numTelefono"
                ],
                "description": "Objeto con la informacion del ejecutivo de Cuenta.",
                "properties": {
                  "nomNombre": {
                    "type": "string",
                    "maxLength": 25,
                    "pattern": "(^[\\sA-Za-z0-9\\u00C0-\\u017F]+)$",
                    "example": "Juan"
                  },
                  "nomApellidoPaterno": {
                    "type": "string",
                    "maxLength": 25,
                    "pattern": "(^[\\sA-Za-z0-9\\u00C0-\\u017F]+)$",
                    "example": "P\u00e9rez"
                  },
                  "nomApellidoMaterno": {
                    "type": "string",
                    "maxLength": 25,
                    "pattern": "(^[\\sA-Za-z0-9\\u00C0-\\u017F]+)$",
                    "example": "Guzm\u00e1n"
                  },
                  "nomCorreo": {
                    "type": "string",
                    "maxLength": 60,
                    "pattern": "(^[a-zA-Z0-9._%+-]+@[a-zA-Z0-9.-]+\\.[a-zA-Z]{2,})$",
                    "example": "juan.perezg@gmail.com"
                  },
                  "numTelefono": {
                    "type": "integer",
                    "maxLength": 13,
                    "pattern": "(0-9]+)$",
                    "example": 5613243546
                  }
                }
              },
              "gerenteComercial": {
                "type": "object",
                "required": [
                  "nomNombre",
                  "nomApellidoPaterno",
                  "nomApellidoMaterno",
                  "nomCorreo",
                  "numTelefono"
                ],
                "description": "Objeto con la informacion del Gerente General.",
                "properties": {
                  "nomNombre": {
                    "type": "string",
                    "maxLength": 25,
                    "pattern": "(^[\\sA-Za-z0-9\\u00C0-\\u017F]+)$",
                    "example": "Juan"
                  },
                  "nomApellidoPaterno": {
                    "type": "string",
                    "maxLength": 25,
                    "pattern": "(^[\\sA-Za-z0-9\\u00C0-\\u017F]+)$",
                    "example": "P\u00e9rez"
                  },
                  "nomApellidoMaterno": {
                    "type": "string",
                    "maxLength": 25,
                    "pattern": "(^[\\sA-Za-z0-9\\u00C0-\\u017F]+)$",
                    "example": "Guzm\u00e1n"
                  },
                  "nomCorreo": {
                    "type": "string",
                    "maxLength": 60,
                    "pattern": "(^[a-zA-Z0-9._%+-]+@[a-zA-Z0-9.-]+\\.[a-zA-Z]{2,})$",
                    "example": "juan.perezg@gmail.com"
                  },
                  "numTelefono": {
                    "type": "integer",
                    "maxLength": 13,
                    "pattern": "(0-9]+)$",
                    "example": 5613243546
                  }
                }
              },
              "contactoEntregaBaseDatos": {
                "type": "object",
                "required": [
                  "nomNombre",
                  "nomApellidoPaterno",
                  "nomApellidoMaterno",
                  "nomCorreo",
                  "numTelefono",
                  "nomCargo"
                ],
                "description": "Objeto con la informacion del contacto de entrega base de datos.",
                "properties": {
                  "nomNombre": {
                    "type": "string",
                    "maxLength": 25,
                    "pattern": "(^[\\sA-Za-z0-9\\u00C0-\\u017F]+)$",
                    "example": "Juan"
                  },
                  "nomApellidoPaterno": {
                    "type": "string",
                    "maxLength": 25,
                    "pattern": "(^[\\sA-Za-z0-9\\u00C0-\\u017F]+)$",
                    "example": "P\u00e9rez"
                  },
                  "nomApellidoMaterno": {
                    "type": "string",
                    "maxLength": 25,
                    "pattern": "(^[\\sA-Za-z0-9\\u00C0-\\u017F]+)$",
                    "example": "Guzm\u00e1n"
                  },
                  "nomCorreo": {
                    "type": "string",
                    "maxLength": 60,
                    "pattern": "(^[a-zA-Z0-9._%+-]+@[a-zA-Z0-9.-]+\\.[a-zA-Z]{2,})$",
                    "example": "juan.perezg@gmail.com"
                  },
                  "numTelefono": {
                    "type": "integer",
                    "maxLength": 13,
                    "pattern": "(0-9]+)$",
                    "example": 5613243546
                  },
                  "nomCargo": {
                    "type": "string",
                    "pattern": "(^[\\sA-Za-z0-9\\u00C0-\\u017F]+)$",
                    "description": "Texto libre.",
                    "example": ""
                  }
                }
              },
              "funcionarioFacultado": {
                "type": "array",
                "description": "Lista con Objetos con la informacion del funcionario facultado.",
                "items": {
                  "type": "object",
                  "required": [
                    "nomNombre",
                    "nomApellidoPaterno",
                    "nomApellidoMaterno",
                    "nomCorreo",
                    "numTelefono",
                    "privilegios"
                  ],
                  "properties": {
                    "nomNombre": {
                      "type": "string",
                      "maxLength": 25,
                      "pattern": "(^[\\sA-Za-z0-9\\u00C0-\\u017F]+)$",
                      "example": "Juan"
                    },
                    "nomApellidoPaterno": {
                      "type": "string",
                      "maxLength": 25,
                      "pattern": "(^[\\sA-Za-z0-9\\u00C0-\\u017F]+)$",
                      "example": "P\u00e9rez"
                    },
                    "nomApellidoMaterno": {
                      "type": "string",
                      "maxLength": 25,
                      "pattern": "(^[\\sA-Za-z0-9\\u00C0-\\u017F]+)$",
                      "example": "Guzm\u00e1n"
                    },
                    "nomCorreo": {
                      "type": "string",
                      "maxLength": 60,
                      "pattern": "(^[a-zA-Z0-9._%+-]+@[a-zA-Z0-9.-]+\\.[a-zA-Z]{2,})$",
                      "example": "juan.perezg@gmail.com"
                    },
                    "numTelefono": {
                      "type": "integer",
                      "maxLength": 13,
                      "pattern": "(0-9]+)$",
                      "example": 5613243546
                    },
                    "privilegios": {
                      "type": "array",
                      "description": "Lista de objetos con los privilegios del funcionario facultado.",
                      "items": {
                        "type": "object",
                        "required": [
                          "cveId",
                          "nomDescripcion"
                        ],
                        "properties": {
                          "cveId": {
                            "$ref": "#/components/schemas/CatalogoPrivilegios"
                          },
                          "nomDescripcion": {
                            "type": "string",
                            "description": "Descripcion del privilegio seleccionado",
                            "example": "SOLICITUD DE RCE (ANEXO H)"
                          }
                        }
                      }
                    }
                  }
                }
              },
              "tipoNegocio": {
                "type": "object",
                "required": [
                  "cveId",
                  "nomDescripcion"
                ],
                "description": "Objeto con el tipo de negocio.",
                "properties": {
                  "cveId": {
                    "$ref": "#/components/schemas/CatalogoTipoNegocio"
                  },
                  "nomDescripcion": {
                    "type": "string",
                    "pattern": "(^[\\sA-Za-z0-9\\u00C0-\\u017F]+)$",
                    "description": "Descripcion del privilegio seleccionado",
                    "example": "CIRCULO DE CREDITO"
                  }
                }
              },
              "responsableProveedor": {
                "type": "object",
                "required": [
                  "nomNombre",
                  "nomApellidoPaterno",
                  "nomApellidoMaterno",
                  "nomCorreo",
                  "numTelefono"
                ],
                "description": "Objeto con la informacion del responsable de proveedor.",
                "properties": {
                  "nomNombre": {
                    "type": "string",
                    "maxLength": 25,
                    "pattern": "(^[\\sA-Za-z0-9\\u00C0-\\u017F]+)$",
                    "example": "Juan"
                  },
                  "nomApellidoPaterno": {
                    "type": "string",
                    "maxLength": 25,
                    "pattern": "(^[\\sA-Za-z0-9\\u00C0-\\u017F]+)$",
                    "example": "P\u00e9rez"
                  },
                  "nomApellidoMaterno": {
                    "type": "string",
                    "maxLength": 25,
                    "pattern": "(^[\\sA-Za-z0-9\\u00C0-\\u017F]+)$",
                    "example": "Guzm\u00e1n"
                  },
                  "nomCorreo": {
                    "type": "string",
                    "maxLength": 60,
                    "pattern": "(^[a-zA-Z0-9._%+-]+@[a-zA-Z0-9.-]+\\.[a-zA-Z]{2,})$",
                    "example": "juan.perezg@gmail.com"
                  },
                  "numTelefono": {
                    "type": "integer",
                    "maxLength": 13,
                    "pattern": "(0-9]+)$",
                    "example": 5613243546
                  }
                }
              },
              "responsableFacturas": {
                "type": "object",
                "required": [
                  "nomNombre",
                  "nomApellidoPaterno",
                  "nomApellidoMaterno",
                  "nomCorreo",
                  "numTelefono",
                  "nomCargo"
                ],
                "properties": {
                  "nomNombre": {
                    "type": "string",
                    "maxLength": 25,
                    "pattern": "(^[\\sA-Za-z0-9\\u00C0-\\u017F]+)$",
                    "example": "Juan"
                  },
                  "nomApellidoPaterno": {
                    "type": "string",
                    "maxLength": 25,
                    "pattern": "(^[\\sA-Za-z0-9\\u00C0-\\u017F]+)$",
                    "example": "P\u00e9rez"
                  },
                  "nomApellidoMaterno": {
                    "type": "string",
                    "maxLength": 25,
                    "pattern": "(^[\\sA-Za-z0-9\\u00C0-\\u017F]+)$",
                    "example": "Guzm\u00e1n"
                  },
                  "nomCorreo": {
                    "type": "string",
                    "maxLength": 60,
                    "pattern": "(^[a-zA-Z0-9._%+-]+@[a-zA-Z0-9.-]+\\.[a-zA-Z]{2,})$",
                    "example": "juan.perezg@gmail.com"
                  },
                  "numTelefono": {
                    "type": "integer",
                    "pattern": "(0-9]+)$",
                    "example": 5613243546
                  },
                  "nomCargo": {
                    "type": "string",
                    "pattern": "(^[\\sA-Za-z0-9\\u00C0-\\u017F]+)$",
                    "description": "Texto libre.",
                    "example": ""
                  }
                }
              },
              "cicloEntrega": {
                "type": "object",
                "required": [
                  "cveId",
                  "nomCicloEntrega",
                  "fecCorte",
                  "fecEntrega"
                ],
                "description": "Objeto con la informacion de ciclo de entrega.",
                "properties": {
                  "cveId": {
                    "$ref": "#/components/schemas/CatalogoCicloEntrega"
                  },
                  "nomCicloEntrega": {
                    "type": "string",
                    "pattern": "(^[\\sA-Za-z0-9\\u00C0-\\u017F]+)$",
                    "description": "Descripcion del ciclo de entrega.",
                    "example": "QUINCENAL"
                  },
                  "fecCorte": {
                    "type": "string",
                    "format": "dd-mm-yyyy",
                    "pattern": "^([0-2][0-9]|3[0-1])(\\/|)(0[1-9]|1[0-2])\\2(\\d{4})$",
                    "description": "Fecha de corte.",
                    "example": "26-01-2023"
                  },
                  "fecEntrega": {
                    "type": "string",
                    "format": "dd-mm-yyyy",
                    "pattern": "^([0-2][0-9]|3[0-1])(\\/|)(0[1-9]|1[0-2])\\2(\\d{4})$",
                    "description": "Fecha de entrega.",
                    "example": "10-06-2023"
                  }
                }
              },
              "usuariosOtorgante": {
                "type": "array",
                "description": "Objeto con la informacion de usuarios otorgantes.",
                "items": {
                  "type": "object",
                  "required": [
                    "nomNombre",
                    "nomApellidoPaterno",
                    "nomApellidoMaterno",
                    "nomCorreo",
                    "numTelefono"
                  ],
                  "properties": {
                    "nomNombre": {
                      "type": "string",
                      "maxLength": 25,
                      "pattern": "(^[\\sA-Za-z0-9\\u00C0-\\u017F]+)$",
                      "example": "Juan"
                    },
                    "nomApellidoPaterno": {
                      "type": "string",
                      "maxLength": 25,
                      "pattern": "(^[\\sA-Za-z0-9\\u00C0-\\u017F]+)$",
                      "example": "P\u00e9rez"
                    },
                    "nomApellidoMaterno": {
                      "type": "string",
                      "maxLength": 25,
                      "pattern": "(^[\\sA-Za-z0-9\\u00C0-\\u017F]+)$",
                      "example": "Guzm\u00e1n"
                    },
                    "nomCorreo": {
                      "type": "string",
                      "maxLength": 60,
                      "pattern": "(^[a-zA-Z0-9._%+-]+@[a-zA-Z0-9.-]+\\.[a-zA-Z]{2,})$",
                      "example": "juan.perezg@gmail.com"
                    },
                    "numTelefono": {
                      "type": "integer",
                      "maxLength": 13,
                      "pattern": "(0-9]+)$",
                      "example": 5613243546
                    }
                  }
                }
              },
              "tipoContrato": {
                "type": "object",
                "required": [
                  "cveId",
                  "nomDescripcion"
                ],
                "description": "Id del tipo de contrato.",
                "properties": {
                  "cveId": {
                    "$ref": "#/components/schemas/CatalogoTipoContrato"
                  },
                  "nomDescripcion": {
                    "type": "string",
                    "pattern": "(^[\\sA-Za-z0-9\\u00C0-\\u017F]+)$",
                    "description": "Texto con el nombre del tipo de contrato",
                    "example": "ARRENDAMIENTO AUTOMOTRIZ"
                  }
                }
              },
              "indEntregaPersonasFisicas": {
                "type": "integer",
                "pattern": "(0-9]+)$",
                "description": "Indicador de entrega personas f\u00edsicas, 1 es verdadero, 0 es falso.",
                "example": 1
              },
              "indEntregaPersonasMorales": {
                "type": "integer",
                "pattern": "(0-9]+)$",
                "description": "Indicador de entrega personas morales, 1 es verdadero, 0 es falso.",
                "example": 1
              },
              "productosPersonaFisica": {
                "type": "array",
                "description": "Catalogo de productos para personas f\u00edsicas.",
                "items": {
                  "type": "object",
                  "required": [
                    "cveId",
                    "nomDescripcion"
                  ],
                  "properties": {
                    "cveId": {
                      "$ref": "#/components/schemas/CatalogoProdPersonaFisica"
                    },
                    "nomDescripcion": {
                      "type": "string",
                      "maxLength": 25,
                      "pattern": "(^[\\sA-Za-z0-9\\u00C0-\\u017F]+)$",
                      "example": "RC PF"
                    }
                  }
                }
              },
              "productosPersonaMoral": {
                "type": "array",
                "description": "Catalogo de productos para personas morales.",
                "items": {
                  "type": "object",
                  "required": [
                    "cveId",
                    "nomDescripcion"
                  ],
                  "properties": {
                    "cveId": {
                      "$ref": "#/components/schemas/CatalogoProdPersonaMoral"
                    },
                    "nomDescripcion": {
                      "type": "string",
                      "maxLength": 25,
                      "pattern": "(^[\\sA-Za-z0-9\\u00C0-\\u017F]+)$",
                      "example": "RC PF"
                    }
                  }
                }
              },
              "contactoPrincipalOtorgante": {
                "type": "object",
                "required": [
                  "nomNombre",
                  "nomApellidoPaterno",
                  "nomApellidoMaterno",
                  "nomCorreo",
                  "numTelefono"
                ],
                "description": "Datos del contacto principal del otorgante.",
                "properties": {
                  "nomNombre": {
                    "type": "string",
                    "maxLength": 25,
                    "pattern": "(^[\\sA-Za-z0-9\\u00C0-\\u017F]+)$",
                    "example": "Juan"
                  },
                  "nomApellidoPaterno": {
                    "type": "string",
                    "maxLength": 25,
                    "pattern": "(^[\\sA-Za-z0-9\\u00C0-\\u017F]+)$",
                    "example": "P\u00e9rez"
                  },
                  "nomApellidoMaterno": {
                    "type": "string",
                    "maxLength": 25,
                    "pattern": "(^[\\sA-Za-z0-9\\u00C0-\\u017F]+)$",
                    "example": "Guzm\u00e1n"
                  },
                  "nomCorreo": {
                    "type": "string",
                    "maxLength": 60,
                    "pattern": "(^[a-zA-Z0-9._%+-]+@[a-zA-Z0-9.-]+\\.[a-zA-Z]{2,})$",
                    "example": "juan.perezg@gmail.com"
                  },
                  "numTelefono": {
                    "type": "integer",
                    "maxLength": 13,
                    "pattern": "(0-9]+)$",
                    "example": 5613243546
                  },
                  "nomCargo": {
                    "type": "string",
                    "pattern": "(^[\\sA-Za-z0-9\\u00C0-\\u017F]+)$",
                    "description": "Texto libre.",
                    "example": "Texto Libre"
                  }
                }
              },
              "numPaquetesAdquiridos": {
                "type": "integer",
                "maxLength": 3,
                "pattern": "(0-9]+)$",
                "description": "Numero de paquetes adquiridos.",
                "example": 2
              }
            }
          }
        }
      },
      "ResponseCamposCincel": {
        "type": "object",
        "properties": {
          "success": {
            "type": "boolean",
            "example": true
          },
          "code": {
            "type": "integer",
            "example": 200
          },
          "message": {
            "type": "string",
            "example": "La petici\u00f3n fue exitosa"
          },
          "data": {
            "type": "integer",
            "example": 0
          }
        }
      }
    }
  }
}