{
  "openapi": "3.0.3",
  "info": {
    "title": "Beebole API",
    "version": "2.0.0",
    "description": "Beebole time tracking API. A fully documented API for integrating with the Beebole time tracking tool. All requests are HTTP POST to a single endpoint with a JSON body containing a 'service' field that specifies the operation. Supports management of absences, companies, persons, projects, subprojects, tasks, groups, custom fields, and time entries.",
    "x-jentic-source-url": "https://beebole.com/help/api",
    "contact": {
      "name": "API Support"
    }
  },
  "servers": [
    {
      "url": "https://beebole-apps.com",
      "description": "Beebole API Server"
    }
  ],
  "security": [
    {
      "basicAuth": []
    }
  ],
  "tags": [
    {
      "name": "Absence",
      "description": "Manage absence types"
    },
    {
      "name": "Company",
      "description": "Manage companies"
    },
    {
      "name": "Person",
      "description": "Manage people/employees"
    },
    {
      "name": "Project",
      "description": "Manage projects"
    },
    {
      "name": "Subproject",
      "description": "Manage subprojects"
    },
    {
      "name": "Task",
      "description": "Manage tasks"
    },
    {
      "name": "Group",
      "description": "Manage groups"
    },
    {
      "name": "CustomField",
      "description": "Manage custom fields"
    },
    {
      "name": "TimeEntry",
      "description": "Manage time entries"
    },
    {
      "name": "TimeExport",
      "description": "Export time entries"
    }
  ],
  "paths": {
    "/api/v2": {
      "post": {
        "operationId": "invokeService",
        "summary": "Invoke a Beebole API service",
        "description": "All Beebole API operations are invoked via a single POST endpoint. The 'service' field in the JSON body determines the operation to perform. Services follow the pattern 'entity.action' (e.g., 'company.list', 'time_entry.create', 'person.get'). Available services include: absence.create, absence.get, absence.update, absence.list, absence.activate, absence.deactivate, absence.add_group, absence.remove_group, absence.groups, company.create, company.get, company.update, company.list, company.activate, company.deactivate, company.attach_specific_task, company.detach_specific_task, company.specific_tasks, company.enable_specific_tasks, company.disable_specific_tasks, company.attach_member, company.detach_member, company.members, company.add_group, company.remove_group, company.groups, company.set_custom_field_value, company.clear_custom_field_value, company.custom_fields, person.create, person.get, person.update, person.list, person.leaders, person.activate, person.deactivate, person.add_group, person.remove_group, person.groups, person.set_custom_field_value, person.clear_custom_field_value, person.custom_fields, project.create, project.get, project.update, project.list, project.activate, project.deactivate, project.attach_specific_task, project.detach_specific_task, project.specific_tasks, project.enable_specific_tasks, project.disable_specific_tasks, project.attach_member, project.detach_member, project.members, project.attach_manager, project.detach_manager, project.managers, project.add_group, project.remove_group, project.groups, project.set_custom_field_value, project.clear_custom_field_value, project.custom_fields, subproject.create, subproject.get, subproject.update, subproject.list, subproject.activate, subproject.deactivate, subproject.attach_specific_task, subproject.detach_specific_task, subproject.specific_tasks, subproject.enable_specific_tasks, subproject.disable_specific_tasks, subproject.attach_member, subproject.detach_member, subproject.members, subproject.add_group, subproject.remove_group, subproject.groups, subproject.set_custom_field_value, subproject.clear_custom_field_value, subproject.custom_fields, task.create, task.get, task.update, task.list, task.activate, task.deactivate, task.add_group, task.remove_group, task.groups, group.create, group.get, group.update, group.delete, group.list, group.assignments, group.tree, custom_field.list, time_entry.get_entities, time_entry.get_tasks, time_entry.create, time_entry.update, time_entry.get, time_entry.delete, time_entry.list, time_entry.submit, time_entry.approve, time_entry.reject, time_entry.lock, time_entry.unlock, time_entry.export, time_entry.get_job_info.",
        "tags": [
          "Absence",
          "Company",
          "Person",
          "Project",
          "Subproject",
          "Task",
          "Group",
          "CustomField",
          "TimeEntry",
          "TimeExport"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ServiceRequest"
              },
              "examples": {
                "companyList": {
                  "summary": "List companies",
                  "value": {
                    "service": "company.list"
                  }
                },
                "companyCreate": {
                  "summary": "Create a company",
                  "value": {
                    "service": "company.create",
                    "company": {
                      "name": "myCompany",
                      "corporate": true
                    }
                  }
                },
                "companyGet": {
                  "summary": "Get a company",
                  "value": {
                    "service": "company.get",
                    "id": 233
                  }
                },
                "personCreate": {
                  "summary": "Create a person",
                  "value": {
                    "service": "person.create",
                    "person": {
                      "name": "Rosa Parks",
                      "company": {
                        "id": 233
                      },
                      "email": "rosa.parks@example.com",
                      "userGroup": "employee"
                    }
                  }
                },
                "timeEntryCreate": {
                  "summary": "Create a time entry",
                  "value": {
                    "service": "time_entry.create",
                    "subproject": {
                      "id": 37
                    },
                    "task": {
                      "id": 17
                    },
                    "date": "2017-08-05",
                    "hours": 8,
                    "comment": "some comment"
                  }
                },
                "timeEntryList": {
                  "summary": "List time entries",
                  "value": {
                    "service": "time_entry.list",
                    "person": {
                      "id": 2
                    },
                    "from": "2017-09-01",
                    "to": "2017-09-30"
                  }
                },
                "timeEntryExport": {
                  "summary": "Export time entries",
                  "value": {
                    "service": "time_entry.export",
                    "from": "2017-10-01",
                    "to": "2017-10-30",
                    "show": "all",
                    "keys": [
                      "company",
                      "companyId",
                      "hours"
                    ],
                    "statusFilters": [
                      "l",
                      "a"
                    ],
                    "outputFormat": "array"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response. The response body varies depending on the service invoked. Always contains a 'status' field with value 'ok' or 'error'.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ServiceResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized - invalid or missing API token",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    }
  },
  "components": {
    "securitySchemes": {
      "basicAuth": {
        "type": "http",
        "scheme": "basic",
        "description": "Use your API token as the username and 'x' as the password. The API token can be found in the API Token module on your home screen."
      }
    },
    "schemas": {
      "ServiceRequest": {
        "type": "object",
        "required": [
          "service"
        ],
        "description": "Base request object for all Beebole API calls. Additional properties depend on the service being invoked.",
        "properties": {
          "service": {
            "type": "string",
            "description": "The service to invoke, in the format 'entity.action' (e.g., 'company.list', 'time_entry.create')."
          },
          "id": {
            "type": "integer",
            "description": "Entity ID for get, update, delete, activate, deactivate, and group assignment operations."
          },
          "xid": {
            "type": "string",
            "description": "External ID. Can be used instead of 'id' to integrate with external systems."
          },
          "company": {
            "$ref": "#/components/schemas/CompanyInput"
          },
          "person": {
            "$ref": "#/components/schemas/PersonInput"
          },
          "project": {
            "$ref": "#/components/schemas/ProjectInput"
          },
          "subproject": {
            "$ref": "#/components/schemas/SubprojectInput"
          },
          "task": {
            "$ref": "#/components/schemas/TaskInput"
          },
          "absence": {
            "$ref": "#/components/schemas/AbsenceInput"
          },
          "group": {
            "$ref": "#/components/schemas/GroupInput"
          },
          "customField": {
            "$ref": "#/components/schemas/CustomFieldInput"
          },
          "date": {
            "type": "string",
            "format": "date",
            "description": "Date for time entry operations (YYYY-MM-DD)."
          },
          "from": {
            "type": "string",
            "format": "date",
            "description": "Start date for time entry list/export operations (YYYY-MM-DD)."
          },
          "to": {
            "type": "string",
            "format": "date",
            "description": "End date for time entry list/export operations (YYYY-MM-DD)."
          },
          "hours": {
            "type": "number",
            "description": "Number of hours for a time entry."
          },
          "comment": {
            "type": "string",
            "description": "Comment for a time entry."
          },
          "memo": {
            "type": "string",
            "description": "Rejection reason sent to the employee via email (used with time_entry.reject)."
          },
          "show": {
            "type": "string",
            "description": "Report type for export. Default 'all'."
          },
          "keys": {
            "type": "array",
            "items": {
              "type": "string"
            },
            "description": "Column keys for export."
          },
          "statusFilters": {
            "type": "array",
            "items": {
              "type": "string",
              "enum": [
                "d",
                "s",
                "a",
                "r",
                "l"
              ]
            },
            "description": "Time record status filters: [d]raft, [s]ubmitted, [a]pproved, [r]ejected, [l]ocked."
          },
          "gids": {
            "type": "array",
            "items": {
              "type": "integer"
            },
            "description": "Group IDs filter for export."
          },
          "outputFormat": {
            "type": "string",
            "enum": [
              "array"
            ],
            "description": "Output format for export. Use 'array' for array of arrays, otherwise CSV."
          },
          "force": {
            "type": "boolean",
            "description": "Force deletion even when the group has been assigned to entities."
          }
        }
      },
      "CompanyInput": {
        "type": "object",
        "properties": {
          "id": {
            "type": "integer"
          },
          "xid": {
            "type": "string"
          },
          "name": {
            "type": "string"
          },
          "corporate": {
            "type": "boolean",
            "description": "Is the company corporate or customer? Default false (customer)."
          }
        }
      },
      "PersonInput": {
        "type": "object",
        "properties": {
          "id": {
            "type": "integer"
          },
          "xid": {
            "type": "string"
          },
          "name": {
            "type": "string"
          },
          "company": {
            "type": "object",
            "properties": {
              "id": {
                "type": "integer"
              }
            }
          },
          "email": {
            "type": "string",
            "format": "email"
          },
          "invite": {
            "type": "boolean"
          },
          "userGroup": {
            "type": "string",
            "enum": [
              "admin",
              "contractor",
              "employee",
              "pm",
              "leader"
            ]
          },
          "leaders": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "id": {
                  "type": "integer"
                },
                "name": {
                  "type": "string"
                },
                "email": {
                  "type": "string"
                }
              }
            }
          }
        }
      },
      "ProjectInput": {
        "type": "object",
        "properties": {
          "id": {
            "type": "integer"
          },
          "xid": {
            "type": "string"
          },
          "name": {
            "type": "string"
          },
          "startDate": {
            "type": "string",
            "format": "date"
          },
          "description": {
            "type": "string"
          },
          "company": {
            "type": "object",
            "properties": {
              "id": {
                "type": "integer"
              }
            }
          }
        }
      },
      "SubprojectInput": {
        "type": "object",
        "properties": {
          "id": {
            "type": "integer"
          },
          "xid": {
            "type": "string"
          },
          "name": {
            "type": "string"
          },
          "project": {
            "type": "object",
            "properties": {
              "id": {
                "type": "integer"
              }
            }
          }
        }
      },
      "TaskInput": {
        "type": "object",
        "properties": {
          "id": {
            "type": "integer"
          },
          "xid": {
            "type": "string"
          },
          "name": {
            "type": "string"
          },
          "company": {
            "type": "object",
            "properties": {
              "id": {
                "type": "integer"
              }
            }
          }
        }
      },
      "AbsenceInput": {
        "type": "object",
        "properties": {
          "id": {
            "type": "integer"
          },
          "xid": {
            "type": "string"
          },
          "name": {
            "type": "string"
          },
          "company": {
            "type": "object",
            "properties": {
              "id": {
                "type": "integer"
              }
            }
          }
        }
      },
      "GroupInput": {
        "type": "object",
        "properties": {
          "id": {
            "type": "integer"
          },
          "xid": {
            "type": "string"
          },
          "name": {
            "type": "string"
          },
          "parent": {
            "type": "object",
            "properties": {
              "id": {
                "type": "integer"
              }
            }
          }
        }
      },
      "CustomFieldInput": {
        "type": "object",
        "properties": {
          "id": {
            "type": "integer"
          },
          "value": {
            "type": "string"
          }
        }
      },
      "ServiceResponse": {
        "type": "object",
        "properties": {
          "status": {
            "type": "string",
            "enum": [
              "ok",
              "error"
            ]
          },
          "id": {
            "type": "integer",
            "description": "ID of created entity (for create operations)."
          },
          "xid": {
            "type": "string",
            "description": "External ID of created entity."
          },
          "message": {
            "type": "string",
            "description": "Error message (when status is 'error')."
          },
          "companies": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Company"
            }
          },
          "company": {
            "$ref": "#/components/schemas/Company"
          },
          "people": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Person"
            }
          },
          "person": {
            "$ref": "#/components/schemas/Person"
          },
          "projects": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Project"
            }
          },
          "project": {
            "$ref": "#/components/schemas/Project"
          },
          "subprojects": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Subproject"
            }
          },
          "subproject": {
            "$ref": "#/components/schemas/Subproject"
          },
          "tasks": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Task"
            }
          },
          "task": {
            "$ref": "#/components/schemas/Task"
          },
          "absences": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Absence"
            }
          },
          "absence": {
            "$ref": "#/components/schemas/Absence"
          },
          "groups": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Group"
            }
          },
          "group": {
            "$ref": "#/components/schemas/Group"
          },
          "customFields": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/CustomField"
            }
          },
          "timeEntries": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/TimeEntry"
            }
          },
          "timeEntry": {
            "$ref": "#/components/schemas/TimeEntry"
          },
          "leaders": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Person"
            }
          },
          "members": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/MemberRef"
            }
          },
          "specificTasks": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Task"
            }
          },
          "disabled": {
            "type": "boolean"
          },
          "job": {
            "$ref": "#/components/schemas/ExportJob"
          }
        },
        "required": [
          "status"
        ]
      },
      "Company": {
        "type": "object",
        "properties": {
          "id": {
            "type": "integer"
          },
          "xid": {
            "type": "string"
          },
          "name": {
            "type": "string"
          },
          "active": {
            "type": "boolean"
          },
          "projects": {
            "type": "object",
            "properties": {
              "count": {
                "type": "integer"
              }
            }
          }
        }
      },
      "Person": {
        "type": "object",
        "properties": {
          "id": {
            "type": "integer"
          },
          "xid": {
            "type": "string"
          },
          "name": {
            "type": "string"
          },
          "active": {
            "type": "boolean"
          },
          "email": {
            "type": "string"
          },
          "userGroup": {
            "type": "string"
          },
          "company": {
            "type": "object",
            "properties": {
              "id": {
                "type": "integer"
              }
            }
          },
          "leaders": {
            "type": "object",
            "properties": {
              "count": {
                "type": "integer"
              }
            }
          }
        }
      },
      "Project": {
        "type": "object",
        "properties": {
          "id": {
            "type": "integer"
          },
          "xid": {
            "type": "string"
          },
          "name": {
            "type": "string"
          },
          "startDate": {
            "type": "string",
            "format": "date"
          },
          "description": {
            "type": "string"
          },
          "active": {
            "type": "boolean"
          },
          "company": {
            "type": "object",
            "properties": {
              "id": {
                "type": "integer"
              }
            }
          },
          "subprojects": {
            "type": "object",
            "properties": {
              "count": {
                "type": "integer"
              }
            }
          }
        }
      },
      "Subproject": {
        "type": "object",
        "properties": {
          "id": {
            "type": "integer"
          },
          "xid": {
            "type": "string"
          },
          "name": {
            "type": "string"
          },
          "active": {
            "type": "boolean"
          },
          "project": {
            "type": "object",
            "properties": {
              "id": {
                "type": "integer"
              }
            }
          }
        }
      },
      "Task": {
        "type": "object",
        "properties": {
          "id": {
            "type": "integer"
          },
          "xid": {
            "type": "string"
          },
          "name": {
            "type": "string"
          },
          "active": {
            "type": "boolean"
          },
          "company": {
            "type": "object",
            "properties": {
              "id": {
                "type": "integer"
              }
            }
          }
        }
      },
      "Absence": {
        "type": "object",
        "properties": {
          "id": {
            "type": "integer"
          },
          "xid": {
            "type": "string"
          },
          "name": {
            "type": "string"
          },
          "active": {
            "type": "boolean"
          },
          "company": {
            "type": "object",
            "properties": {
              "id": {
                "type": "integer"
              }
            }
          }
        }
      },
      "Group": {
        "type": "object",
        "properties": {
          "id": {
            "type": "integer"
          },
          "name": {
            "type": "string"
          },
          "parent": {
            "type": "object",
            "properties": {
              "id": {
                "type": "integer"
              }
            }
          },
          "groups": {
            "oneOf": [
              {
                "type": "object",
                "properties": {
                  "count": {
                    "type": "integer"
                  }
                }
              },
              {
                "type": "array",
                "items": {
                  "$ref": "#/components/schemas/Group"
                }
              }
            ]
          }
        }
      },
      "CustomField": {
        "type": "object",
        "properties": {
          "id": {
            "type": "integer"
          },
          "name": {
            "type": "string"
          },
          "value": {
            "type": "string"
          },
          "availableFor": {
            "type": "string"
          }
        }
      },
      "TimeEntry": {
        "type": "object",
        "properties": {
          "id": {
            "type": "integer"
          },
          "date": {
            "type": "string",
            "format": "date"
          },
          "hours": {
            "type": "number"
          },
          "comment": {
            "type": "string"
          },
          "status": {
            "type": "string",
            "description": "d=draft, s=submitted, a=approved, r=rejected, l=locked"
          },
          "company": {
            "$ref": "#/components/schemas/Company"
          },
          "project": {
            "$ref": "#/components/schemas/Project"
          },
          "subproject": {
            "$ref": "#/components/schemas/Subproject"
          },
          "task": {
            "$ref": "#/components/schemas/Task"
          },
          "absence": {
            "$ref": "#/components/schemas/Absence"
          }
        }
      },
      "MemberRef": {
        "type": "object",
        "properties": {
          "id": {
            "type": "integer"
          },
          "name": {
            "type": "string"
          },
          "email": {
            "type": "string"
          },
          "active": {
            "type": "boolean"
          }
        }
      },
      "ExportJob": {
        "type": "object",
        "properties": {
          "id": {
            "type": "integer"
          },
          "status": {
            "type": "string",
            "enum": [
              "running",
              "done",
              "error"
            ]
          },
          "result": {
            "type": "string",
            "description": "CSV string or array of arrays (if outputFormat is 'array')."
          }
        }
      },
      "ErrorResponse": {
        "type": "object",
        "properties": {
          "status": {
            "type": "string",
            "enum": [
              "error"
            ]
          },
          "message": {
            "type": "string",
            "description": "Explanation of the error."
          }
        },
        "required": [
          "status",
          "message"
        ]
      }
    }
  }
}
