{
  "openapi": "3.0.3",
  "info": {
    "title": "CoderPad Interview API",
    "version": "1.0.0",
    "description": "CoderPad provides a simple API for programmatically creating and managing interview pads. You can use the API to integrate pads with your internal interview scheduling platform or to get a text dump of an interview after the fact. CoderPad provides a standard REST API that returns results in JSON format.",
    "x-jentic-source-url": "https://api.interview.coderpad.io/",
    "contact": {
      "name": "API Support"
    }
  },
  "servers": [
    {
      "url": "https://app.coderpad.io/api",
      "description": "CoderPad API server"
    }
  ],
  "security": [
    {
      "bearerAuth": []
    },
    {
      "tokenAuth": []
    }
  ],
  "tags": [
    {
      "name": "Pads",
      "description": "Create and manage interview pads"
    },
    {
      "name": "Pad Environments",
      "description": "Retrieve pad environment information"
    },
    {
      "name": "Questions",
      "description": "Manage interview questions"
    },
    {
      "name": "Quota",
      "description": "Retrieve quota information"
    },
    {
      "name": "Organization",
      "description": "Retrieve organization-wide information"
    }
  ],
  "paths": {
    "/pads": {
      "get": {
        "operationId": "listPads",
        "summary": "Retrieve a list of pads",
        "description": "Fetch a list of all pads. Returns everything that an individual Get Pad request does. Field values in the index view may be up to a minute behind real-time.",
        "tags": [
          "Pads"
        ],
        "responses": {
          "200": {
            "description": "List of pads returned successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PadListResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Invalid API key",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      },
      "post": {
        "operationId": "createPad",
        "summary": "Create a pad",
        "description": "Create a new pad with optional initial conditions such as title, language, contents, and private notes.",
        "tags": [
          "Pads"
        ],
        "requestBody": {
          "required": false,
          "content": {
            "application/x-www-form-urlencoded": {
              "schema": {
                "$ref": "#/components/schemas/CreatePadRequest"
              }
            },
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreatePadRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Pad created successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PadResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Invalid API key",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "429": {
            "description": "Over quota - exceeded monthly pad limit",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      },
      "put": {
        "operationId": "modifyPad",
        "summary": "Modify a pad",
        "description": "Modify an existing pad. You can specify any of the valid parameters used to create the pad. You may also end the interview by setting ended=true or delete it by setting deleted=true.",
        "tags": [
          "Pads"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/x-www-form-urlencoded": {
              "schema": {
                "$ref": "#/components/schemas/ModifyPadRequest"
              }
            },
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ModifyPadRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Pad modified successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/StatusResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Invalid API key",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "404": {
            "description": "Pad not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/pads/{padId}": {
      "get": {
        "operationId": "getPad",
        "summary": "Retrieve a pad by id",
        "description": "Returns detail about a particular pad including state, language, contents, participants, events link, notes, and timing information.",
        "tags": [
          "Pads"
        ],
        "parameters": [
          {
            "name": "padId",
            "in": "path",
            "required": true,
            "description": "The unique pad identifier (alphanumeric string)",
            "schema": {
              "type": "string"
            },
            "example": "DM32JWG2"
          }
        ],
        "responses": {
          "200": {
            "description": "Pad retrieved successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PadResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Invalid API key",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "404": {
            "description": "Pad not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/pads/{padId}/events": {
      "get": {
        "operationId": "listPadEvents",
        "summary": "Retrieve pad events",
        "description": "Returns detail about important events that transpired throughout the lifetime of the pad, such as joins, leaves, and auto-ending.",
        "tags": [
          "Pads"
        ],
        "parameters": [
          {
            "name": "padId",
            "in": "path",
            "required": true,
            "description": "The unique pad identifier",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Events retrieved successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PadEventsResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Invalid API key",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "404": {
            "description": "Pad not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/pad_environments/{environmentId}": {
      "get": {
        "operationId": "getPadEnvironment",
        "summary": "Retrieve pad environment information",
        "description": "Returns detail about a particular pad environment including language, file contents, and associated question/pad IDs.",
        "tags": [
          "Pad Environments"
        ],
        "parameters": [
          {
            "name": "environmentId",
            "in": "path",
            "required": true,
            "description": "The pad environment ID",
            "schema": {
              "type": "integer"
            },
            "example": 42
          }
        ],
        "responses": {
          "200": {
            "description": "Pad environment retrieved successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PadEnvironmentResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Invalid API key",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/questions": {
      "get": {
        "operationId": "listQuestions",
        "summary": "Retrieve a list of questions",
        "description": "Fetch a list of all questions. Returns all fields that an individual Get Question request does.",
        "tags": [
          "Questions"
        ],
        "responses": {
          "200": {
            "description": "Questions retrieved successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/QuestionListResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Invalid API key",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      },
      "post": {
        "operationId": "createQuestion",
        "summary": "Create a question",
        "description": "Create a new question with title, language, description, and other settings.",
        "tags": [
          "Questions"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateQuestionRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Question created successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/QuestionResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Invalid API key",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/questions/{questionId}": {
      "get": {
        "operationId": "getQuestion",
        "summary": "Retrieve a question by id",
        "description": "Returns details about a particular question. You can view your own questions as well as colleagues' shared questions. Organization owners can view all questions.",
        "tags": [
          "Questions"
        ],
        "parameters": [
          {
            "name": "questionId",
            "in": "path",
            "required": true,
            "description": "The question ID",
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Question retrieved successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/QuestionResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Invalid API key",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "404": {
            "description": "Question not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      },
      "put": {
        "operationId": "modifyQuestion",
        "summary": "Modify a question",
        "description": "Modify an existing question.",
        "tags": [
          "Questions"
        ],
        "parameters": [
          {
            "name": "questionId",
            "in": "path",
            "required": true,
            "description": "The question ID",
            "schema": {
              "type": "integer"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateQuestionRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Question modified successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/StatusResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Invalid API key",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "404": {
            "description": "Question not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      },
      "delete": {
        "operationId": "deleteQuestion",
        "summary": "Delete a question",
        "description": "Delete a question by its ID.",
        "tags": [
          "Questions"
        ],
        "parameters": [
          {
            "name": "questionId",
            "in": "path",
            "required": true,
            "description": "The question ID",
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Question deleted successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/StatusResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Invalid API key",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "404": {
            "description": "Question not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/quota": {
      "get": {
        "operationId": "getQuota",
        "summary": "Retrieve quota information",
        "description": "Returns quota information for your account including monthly pad limit.",
        "tags": [
          "Quota"
        ],
        "responses": {
          "200": {
            "description": "Quota info retrieved successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/QuotaResponse"
                }
              }
            }
          },
          "401": {
            "description": "Invalid API key",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/organization": {
      "get": {
        "operationId": "getOrganization",
        "summary": "Retrieve account info",
        "description": "Retrieve organization account information.",
        "tags": [
          "Organization"
        ],
        "responses": {
          "200": {
            "description": "Organization info retrieved successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/OrganizationResponse"
                }
              }
            }
          },
          "401": {
            "description": "Invalid API key",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/organization/stats": {
      "get": {
        "operationId": "getOrganizationStats",
        "summary": "Retrieve pad usage stats",
        "description": "Retrieve pad usage statistics for the organization including per-user pad creation counts.",
        "tags": [
          "Organization"
        ],
        "responses": {
          "200": {
            "description": "Stats retrieved successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/OrganizationStatsResponse"
                }
              }
            }
          },
          "401": {
            "description": "Invalid API key",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/organization/pads": {
      "get": {
        "operationId": "getOrganizationPads",
        "summary": "Retrieve pad info for entire company",
        "description": "Retrieve pad information for the entire organization.",
        "tags": [
          "Organization"
        ],
        "responses": {
          "200": {
            "description": "Organization pads retrieved successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PadListResponse"
                }
              }
            }
          },
          "401": {
            "description": "Invalid API key",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/organization/questions": {
      "get": {
        "operationId": "getOrganizationQuestions",
        "summary": "Retrieve question info for entire company",
        "description": "Retrieve question information for the entire organization.",
        "tags": [
          "Organization"
        ],
        "responses": {
          "200": {
            "description": "Organization questions retrieved successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/QuestionListResponse"
                }
              }
            }
          },
          "401": {
            "description": "Invalid API key",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/organization/users": {
      "get": {
        "operationId": "getOrganizationUsers",
        "summary": "Retrieve company users",
        "description": "Retrieve all users in the organization with their email, name, and team assignments.",
        "tags": [
          "Organization"
        ],
        "responses": {
          "200": {
            "description": "Organization users retrieved successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/OrganizationUsersResponse"
                }
              }
            }
          },
          "401": {
            "description": "Invalid API key",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    }
  },
  "components": {
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "scheme": "bearer",
        "description": "Bearer token authentication. For Interview API use: Authorization: Bearer <token>"
      },
      "tokenAuth": {
        "type": "apiKey",
        "in": "header",
        "name": "Authorization",
        "description": "Token authentication. Format: Token token=\"<api_key>\""
      }
    },
    "schemas": {
      "Pad": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "description": "Unique pad identifier (alphanumeric)",
            "example": "AB12345"
          },
          "title": {
            "type": "string",
            "description": "Pad title",
            "example": "Untitled Pad - AB12345"
          },
          "state": {
            "type": "string",
            "enum": [
              "pending",
              "started",
              "ended"
            ],
            "description": "Current pad state"
          },
          "owner_email": {
            "type": "string",
            "format": "email",
            "description": "Email of the pad owner"
          },
          "language": {
            "type": "string",
            "description": "Programming language",
            "example": "javascript"
          },
          "private": {
            "type": "boolean",
            "description": "Whether the pad is private"
          },
          "execution_enabled": {
            "type": "boolean",
            "description": "Whether code execution is enabled"
          },
          "contents": {
            "type": "string",
            "nullable": true,
            "description": "Current code contents of the pad"
          },
          "participants": {
            "type": "array",
            "items": {
              "type": "string"
            },
            "description": "List of participant names"
          },
          "events": {
            "type": "string",
            "format": "uri",
            "description": "URL to retrieve pad events"
          },
          "notes": {
            "type": "string",
            "nullable": true,
            "description": "Private interviewer notes"
          },
          "created_at": {
            "type": "string",
            "format": "date-time",
            "description": "Pad creation timestamp"
          },
          "updated_at": {
            "type": "string",
            "format": "date-time",
            "description": "Last update timestamp"
          },
          "ended_at": {
            "type": "string",
            "format": "date-time",
            "nullable": true,
            "description": "When the pad was ended"
          },
          "url": {
            "type": "string",
            "format": "uri",
            "description": "Web URL for the pad"
          },
          "sandbox_url": {
            "type": "string",
            "format": "uri",
            "nullable": true,
            "description": "Sandbox URL for the pad"
          },
          "is_sandbox": {
            "type": "boolean",
            "description": "Whether the pad is a sandbox"
          }
        }
      },
      "PadEvent": {
        "type": "object",
        "properties": {
          "message": {
            "type": "string",
            "description": "Human-readable event message"
          },
          "kind": {
            "type": "string",
            "description": "Event type (e.g., joined, left, auto_ended)",
            "example": "auto_ended"
          },
          "metadata": {
            "type": "object",
            "nullable": true,
            "description": "Additional event metadata"
          },
          "user_name": {
            "type": "string",
            "nullable": true,
            "description": "Name of the user who triggered the event"
          },
          "user_email": {
            "type": "string",
            "nullable": true,
            "description": "Email of the user who triggered the event"
          },
          "created_at": {
            "type": "string",
            "format": "date-time",
            "description": "Event timestamp"
          }
        }
      },
      "PadEnvironment": {
        "type": "object",
        "properties": {
          "id": {
            "type": "integer",
            "description": "Pad environment ID"
          },
          "pad_id": {
            "type": "integer",
            "description": "Associated pad ID"
          },
          "question_id": {
            "type": "integer",
            "nullable": true,
            "description": "Associated question ID"
          },
          "example_question_id": {
            "type": "integer",
            "nullable": true
          },
          "language": {
            "type": "string",
            "description": "Programming language"
          },
          "file_contents": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/FileContent"
            },
            "description": "Array of file contents"
          }
        }
      },
      "FileContent": {
        "type": "object",
        "properties": {
          "path": {
            "type": "string",
            "description": "File path within the pad environment"
          },
          "contents": {
            "type": "string",
            "description": "File content as a string"
          }
        }
      },
      "Question": {
        "type": "object",
        "properties": {
          "id": {
            "type": "integer",
            "description": "Question ID"
          },
          "title": {
            "type": "string",
            "description": "Question title"
          },
          "owner_email": {
            "type": "string",
            "format": "email",
            "description": "Email of the question owner"
          },
          "language": {
            "type": "string",
            "description": "Programming language"
          },
          "description": {
            "type": "string",
            "nullable": true,
            "description": "Question description"
          },
          "candidate_instructions": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "instructions": {
                  "type": "string"
                }
              }
            },
            "description": "Instructions shown to candidate"
          },
          "contents": {
            "type": "string",
            "nullable": true,
            "description": "Starter code contents"
          },
          "shared": {
            "type": "boolean",
            "description": "Whether the question is shared with the organization"
          },
          "used": {
            "type": "integer",
            "description": "Number of times the question has been used"
          },
          "take_home": {
            "type": "boolean",
            "description": "Whether this is a take-home question"
          },
          "test_cases_enabled": {
            "type": "boolean",
            "description": "Whether test cases are enabled"
          },
          "solution": {
            "type": "string",
            "nullable": true,
            "description": "Solution code"
          },
          "pad_type": {
            "type": "string",
            "enum": [
              "live",
              "take_home"
            ],
            "description": "Type of pad this question is for"
          }
        }
      },
      "OrganizationUser": {
        "type": "object",
        "properties": {
          "email": {
            "type": "string",
            "format": "email"
          },
          "name": {
            "type": "string"
          },
          "teams": {
            "type": "array",
            "items": {
              "type": "string"
            },
            "description": "Team UUIDs the user belongs to"
          }
        }
      },
      "CreatePadRequest": {
        "type": "object",
        "properties": {
          "title": {
            "type": "string",
            "description": "Pad title"
          },
          "language": {
            "type": "string",
            "description": "Programming language"
          },
          "contents": {
            "type": "string",
            "description": "Initial code contents"
          },
          "notes": {
            "type": "string",
            "description": "Private interviewer notes"
          },
          "private": {
            "type": "boolean",
            "description": "Whether the pad is private"
          },
          "execution_enabled": {
            "type": "boolean",
            "description": "Whether code execution is enabled"
          },
          "question_id": {
            "type": "integer",
            "description": "Question ID to attach to the pad"
          }
        }
      },
      "ModifyPadRequest": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "description": "Pad ID to modify"
          },
          "title": {
            "type": "string"
          },
          "language": {
            "type": "string"
          },
          "contents": {
            "type": "string"
          },
          "notes": {
            "type": "string"
          },
          "ended": {
            "type": "boolean",
            "description": "Set to true to end the interview"
          },
          "deleted": {
            "type": "boolean",
            "description": "Set to true to delete the pad"
          }
        }
      },
      "CreateQuestionRequest": {
        "type": "object",
        "properties": {
          "title": {
            "type": "string",
            "description": "Question title"
          },
          "language": {
            "type": "string",
            "description": "Programming language"
          },
          "description": {
            "type": "string",
            "description": "Question description"
          },
          "contents": {
            "type": "string",
            "description": "Starter code"
          },
          "shared": {
            "type": "boolean",
            "description": "Share with organization"
          },
          "take_home": {
            "type": "boolean",
            "description": "Mark as take-home question"
          },
          "test_cases_enabled": {
            "type": "boolean"
          },
          "solution": {
            "type": "string"
          },
          "candidate_instructions": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "instructions": {
                  "type": "string"
                }
              }
            }
          }
        }
      },
      "StatusResponse": {
        "type": "object",
        "properties": {
          "status": {
            "type": "string",
            "example": "OK"
          }
        }
      },
      "PadResponse": {
        "type": "object",
        "properties": {
          "status": {
            "type": "string",
            "example": "OK"
          },
          "id": {
            "type": "string"
          },
          "title": {
            "type": "string"
          },
          "state": {
            "type": "string"
          },
          "owner_email": {
            "type": "string"
          },
          "language": {
            "type": "string"
          },
          "private": {
            "type": "boolean"
          },
          "execution_enabled": {
            "type": "boolean"
          },
          "contents": {
            "type": "string",
            "nullable": true
          },
          "participants": {
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "events": {
            "type": "string"
          },
          "notes": {
            "type": "string",
            "nullable": true
          },
          "created_at": {
            "type": "string",
            "format": "date-time"
          },
          "updated_at": {
            "type": "string",
            "format": "date-time"
          },
          "ended_at": {
            "type": "string",
            "format": "date-time",
            "nullable": true
          },
          "url": {
            "type": "string"
          },
          "sandbox_url": {
            "type": "string",
            "nullable": true
          },
          "is_sandbox": {
            "type": "boolean"
          }
        }
      },
      "PadListResponse": {
        "type": "object",
        "properties": {
          "status": {
            "type": "string",
            "example": "OK"
          },
          "pads": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Pad"
            }
          }
        }
      },
      "PadEventsResponse": {
        "type": "object",
        "properties": {
          "status": {
            "type": "string",
            "example": "OK"
          },
          "events": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/PadEvent"
            }
          }
        }
      },
      "PadEnvironmentResponse": {
        "type": "object",
        "properties": {
          "status": {
            "type": "string",
            "example": "OK"
          },
          "id": {
            "type": "integer"
          },
          "pad_id": {
            "type": "integer"
          },
          "question_id": {
            "type": "integer",
            "nullable": true
          },
          "example_question_id": {
            "type": "integer",
            "nullable": true
          },
          "language": {
            "type": "string"
          },
          "file_contents": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/FileContent"
            }
          }
        }
      },
      "QuestionResponse": {
        "type": "object",
        "properties": {
          "status": {
            "type": "string",
            "example": "OK"
          },
          "id": {
            "type": "integer"
          },
          "title": {
            "type": "string"
          },
          "owner_email": {
            "type": "string"
          },
          "language": {
            "type": "string"
          },
          "description": {
            "type": "string",
            "nullable": true
          },
          "candidate_instructions": {
            "type": "array",
            "items": {
              "type": "object"
            }
          },
          "contents": {
            "type": "string",
            "nullable": true
          },
          "shared": {
            "type": "boolean"
          },
          "used": {
            "type": "integer"
          },
          "take_home": {
            "type": "boolean"
          },
          "test_cases_enabled": {
            "type": "boolean"
          },
          "solution": {
            "type": "string",
            "nullable": true
          },
          "pad_type": {
            "type": "string"
          }
        }
      },
      "QuestionListResponse": {
        "type": "object",
        "properties": {
          "status": {
            "type": "string",
            "example": "OK"
          },
          "questions": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Question"
            }
          }
        }
      },
      "QuotaResponse": {
        "type": "object",
        "properties": {
          "status": {
            "type": "string",
            "example": "OK"
          }
        }
      },
      "OrganizationResponse": {
        "type": "object",
        "properties": {
          "status": {
            "type": "string",
            "example": "OK"
          }
        }
      },
      "OrganizationStatsResponse": {
        "type": "object",
        "properties": {
          "status": {
            "type": "string",
            "example": "OK"
          },
          "start_time": {
            "type": "string",
            "format": "date-time"
          },
          "end_time": {
            "type": "string",
            "format": "date-time"
          },
          "pads_created": {
            "type": "integer"
          },
          "users": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "email": {
                  "type": "string"
                },
                "name": {
                  "type": "string"
                },
                "pads_created": {
                  "type": "integer"
                }
              }
            }
          }
        }
      },
      "OrganizationUsersResponse": {
        "type": "object",
        "properties": {
          "status": {
            "type": "string",
            "example": "OK"
          },
          "users": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/OrganizationUser"
            }
          }
        }
      },
      "ErrorResponse": {
        "type": "object",
        "properties": {
          "status": {
            "type": "string",
            "example": "ERROR"
          },
          "message": {
            "type": "string",
            "description": "Error message",
            "example": "Invalid API key"
          }
        }
      }
    }
  }
}
