{
  "openapi": "3.0.2",
  "info": {
    "title": "Sales Stock Integrator Sysnet API",
    "description": "\n## Authorization\nWe use bearer auth throughout the API. Generally, API requests should have the follow header:  \n{  \n    \"content-type\": \"application/json\",  \n    \"Authorization\": \"Bearer TOKEN_GOES_HERE\"  \n}  \nPlease refer to the Auth section immediately below for details on getting your token.",
    "contact": {
      "name": "H&L Support",
      "url": "http://www.hlpos.com",
      "email": "support@hlpos.com"
    },
    "version": "1.0.4",
    "x-jentic-source-url": "https://api.swaggerhub.com/apis/hlaustralia/sysnet-api-develop-ssi/1.0.4"
  },
  "servers": [
    {
      "url": "https://develop-sysnet-api.hlcloud.com.au",
      "description": "The developer API server"
    },
    {
      "url": "https://staging-sysnet-api.hlcloud.com.au",
      "description": "The testers API server"
    },
    {
      "url": "https://sysnet-api.hlcloud.com.au",
      "description": "The production API server"
    }
  ],
  "paths": {
    "/Venues/": {
      "get": {
        "responses": {
          "200": {
            "description": "An array of Venue objects.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/searchVenueView"
                }
              }
            },
            "headers": {
              "rid_chain": {
                "$ref": "#/components/headers/rid_chain"
              },
              "rid": {
                "$ref": "#/components/headers/rid"
              },
              "total_available_results_count": {
                "$ref": "#/components/headers/total_available_results_count"
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/400"
          },
          "401": {
            "$ref": "#/components/responses/401"
          },
          "404": {
            "description": "Venue not found"
          }
        },
        "tags": [
          "Venues"
        ],
        "description": "Search for Venue objects<br><br>Contains the venue information",
        "parameters": [
          {
            "$ref": "#/components/parameters/rid_chain"
          },
          {
            "name": "view",
            "in": "query",
            "schema": {
              "type": "string",
              "enum": [
                "FKExternalKeys",
                "FKExternalKeys"
              ]
            },
            "description": "\nThe view is the list of fields you want returned.\n\n### View Templates\nFKExternalKeys\n\n - **TaxNameIdFKObject:** taxNameId, externalKeys\n\nFKExternalKeys\n\n - **TaxNameIdFKObject:** taxNameId, externalKeys\n\n\n            "
          },
          {
            "name": "group",
            "in": "query",
            "description": "This parameter is used to group results.\n                        The fieldName can be any of the following: organisationId, taxNameId.\n                        The sort could either have - to sort by descending and + to sort by ascending. See groupQuery schema for more info.\n                        For grouping using a nested field use <object>.<field> to specify the nested levels eg +Stock.name",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "groupSummary",
            "in": "query",
            "description": "This parameter is used to summarise grouped results by aggregating the groups.\n                The fieldName can be any of the following: venueRefId, taxNameId.\n                        The type could be count,min,max,sum,avg. See groupSummaryQuery schema for more info.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "totalSummary",
            "in": "query",
            "description": "This parameter is used to summarise all grouped results by aggregating all the groups sub groups.\n                The fieldName can be any of the following: venueRefId, taxNameId.\n                        The type could be count,min,max,sum,avg. See groupSummaryQuery schema for more info.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "searchDistinct",
            "in": "query",
            "description": "This parameter is used to get the distinct values for a field. \n                Only the field specified will be returned in the results. This can be used with filtering functionality, sort and limit. \n                However it cannot be used with group, groupSummary or totalSummary.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "sort",
            "in": "query",
            "description": "This parameter is used to change the sorting of results returned. \n                        The default sort is venueId ascending. \n                        Use any fieldNames comma separated in the sort. \n                        Use + for ascending - for descending \n                        eg +updateDateTime.\n                        - venueId would sort by updateDateTime ascending and then venueId descending.\n For sorting using a nested field use &lt;object&gt;.&lt;field&gt; to specify the nested levels eg +Stock.name\n                        For sorting using a nested field use <object>.<field> to specify the nested levels eg +Stock.name",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "schema": {
              "type": "integer"
            },
            "description": "This limits the amount of results returned. This default limit Is set to 20. The maximum limit is 200."
          },
          {
            "$ref": "#/components/parameters/Offset"
          },
          {
            "$ref": "#/components/parameters/search"
          },
          {
            "$ref": "#/components/parameters/venueId"
          },
          {
            "name": "registrationCode",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "description": "Corresponds to the Sysnet Registration Number for the Venue\r\nExample Value: 1234<br>This parameter searches for the registrationCode field and returns all available results that match. You can use this parameter multiple times and it will do an 'AND' search. You can use * as a wildcard. You can use brackets and a comma to perform an \u2018OR\u2019 search e.g [a,b*] will search for \u2018a\u2019 OR a value starting with \u2018b\u2019.",
            "example": "1234"
          },
          {
            "name": "venueName",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "description": "\r\nExample Value: Brads Burger House<br>This parameter searches for the venueName field and returns all available results that match. You can use this parameter multiple times and it will do an 'AND' search. You can use * as a wildcard. You can use brackets and a comma to perform an \u2018OR\u2019 search e.g [a,b*] will search for \u2018a\u2019 OR a value starting with \u2018b\u2019.",
            "example": "Brads Burger House"
          },
          {
            "name": "venueRefId",
            "in": "query",
            "schema": {
              "type": "integer"
            },
            "description": "<br><b>integer:</b> This parameter searches the venueRefId field and returns all available results that match. \n\nYou can use >10 to search for all venueRefIds greater than 10. You can use [1,2,3] to search for venueRefIds that match either 1, 2 or 3. You can use this parameter multiple times. eg venueRefId=>5& venueRefId=<10 would search for all venueRefIds between 5 and 10."
          },
          {
            "$ref": "#/components/parameters/createDateTime"
          },
          {
            "$ref": "#/components/parameters/updateDateTime"
          },
          {
            "$ref": "#/components/parameters/lastUpdateByUserId"
          },
          {
            "$ref": "#/components/parameters/organisationId"
          },
          {
            "name": "taxNameId",
            "in": "query",
            "schema": {
              "type": "integer"
            },
            "description": "A reference to the primary key in the TaxNames Table<br><b>integer:</b> This parameter searches the taxNameId field and returns all available results that match. \n\nYou can use >10 to search for all taxNameIds greater than 10. You can use [1,2,3] to search for taxNameIds that match either 1, 2 or 3. You can use this parameter multiple times. eg taxNameId=>5& taxNameId=<10 would search for all taxNameIds between 5 and 10."
          },
          {
            "$ref": "#/components/parameters/externalKey"
          }
        ]
      }
    },
    "/Venues/byExternalKey/{id}": {
      "get": {
        "responses": {
          "200": {
            "description": "An Venue object",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/getVenueView"
                }
              }
            },
            "headers": {
              "rid_chain": {
                "$ref": "#/components/headers/rid_chain"
              },
              "rid": {
                "$ref": "#/components/headers/rid"
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/400"
          },
          "401": {
            "$ref": "#/components/responses/401"
          },
          "404": {
            "description": "Venue not found"
          }
        },
        "tags": [
          "Venues"
        ],
        "description": "Gets a Venue object<br><br>Contains the venue information",
        "parameters": [
          {
            "$ref": "#/components/parameters/rid_chain"
          },
          {
            "$ref": "#/components/parameters/externalKeyId"
          },
          {
            "name": "view",
            "in": "query",
            "schema": {
              "type": "string",
              "enum": [
                "FKExternalKeys",
                "FKExternalKeys"
              ]
            },
            "description": "\nThe view is the list of fields you want returned.\n\n### View Templates\nFKExternalKeys\n\n - **TaxNameIdFKObject:** taxNameId, externalKeys\n\nFKExternalKeys\n\n - **TaxNameIdFKObject:** taxNameId, externalKeys\n\n\n            "
          }
        ]
      }
    },
    "/Venues/{id}": {
      "get": {
        "responses": {
          "200": {
            "description": "An Venue object",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/getVenueView"
                }
              }
            },
            "headers": {
              "rid_chain": {
                "$ref": "#/components/headers/rid_chain"
              },
              "rid": {
                "$ref": "#/components/headers/rid"
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/400"
          },
          "401": {
            "$ref": "#/components/responses/401"
          },
          "404": {
            "description": "Venue not found"
          }
        },
        "tags": [
          "Venues"
        ],
        "description": "Gets a Venue object<br><br>Contains the venue information",
        "parameters": [
          {
            "$ref": "#/components/parameters/rid_chain"
          },
          {
            "$ref": "#/components/parameters/id"
          },
          {
            "name": "view",
            "in": "query",
            "schema": {
              "type": "string",
              "enum": [
                "FKExternalKeys",
                "FKExternalKeys"
              ]
            },
            "description": "\nThe view is the list of fields you want returned.\n\n### View Templates\nFKExternalKeys\n\n - **TaxNameIdFKObject:** taxNameId, externalKeys\n\nFKExternalKeys\n\n - **TaxNameIdFKObject:** taxNameId, externalKeys\n\n\n            "
          }
        ]
      }
    },
    "/int/ProductCatalog": {
      "get": {
        "responses": {
          "200": {
            "description": "Integration Get Stock Sales",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/IntegrationStockSalesView"
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/httpError"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "text/html": {
                "schema": {
                  "$ref": "#/components/schemas/httpError"
                }
              }
            }
          }
        },
        "tags": [
          "Integration"
        ],
        "description": "As a third party ordering system, this API endpoint that returns a list of sales stock in sysnet for creating a product catalog system.",
        "parameters": [
          {
            "in": "query",
            "required": false,
            "name": "locationId",
            "schema": {
              "type": "number"
            },
            "description": "Location Id"
          },
          {
            "in": "query",
            "required": false,
            "name": "offset",
            "schema": {
              "type": "string"
            },
            "description": "Offset"
          },
          {
            "in": "query",
            "required": false,
            "name": "limit",
            "schema": {
              "type": "string"
            },
            "description": "Limit"
          }
        ]
      }
    },
    "/integration/purchaseOrders/{id}": {
      "get": {
        "responses": {
          "200": {
            "description": "Purchase Order details successfully retrieved",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "dateOrdered": {
                      "type": "string",
                      "format": "date-time",
                      "description": "Date and time when the order was placed (ISO 8601 format)",
                      "example": "2025-04-04T03:20:00.000Z"
                    },
                    "purchaseOrderHeaderId": {
                      "type": "integer",
                      "description": "Unique ID of the purchase order header",
                      "example": 1
                    },
                    "total": {
                      "type": "number",
                      "description": "Total cost of the order",
                      "example": 1000
                    },
                    "purchaseOrderNo": {
                      "type": "string",
                      "description": "Purchase order number",
                      "example": "PO-2"
                    },
                    "deliveryInstructions": {
                      "type": "string",
                      "description": "Special instructions for delivery",
                      "example": "Please deliver to loading dock at rear of building"
                    },
                    "requiredDateTime": {
                      "type": "string",
                      "format": "date-time",
                      "description": "Date and time when delivery is required (ISO 8601 format)",
                      "example": "2025-04-10T00:00:00.000Z"
                    },
                    "comment": {
                      "type": "string",
                      "description": "Additional comments",
                      "example": "Monthly bar order"
                    },
                    "isCreditClaim": {
                      "type": "boolean",
                      "description": "Whether the order is a credit claim",
                      "example": false
                    },
                    "companyName": {
                      "type": "string",
                      "description": "Legal name of the company placing the order",
                      "example": "Skyward Hotels"
                    },
                    "companyTradingAs": {
                      "type": "string",
                      "description": "Trading name (if different from companyName)",
                      "example": "Skyward Adelaide"
                    },
                    "businessNumber": {
                      "type": "string",
                      "description": "Business Number (ABN or similar)",
                      "example": "12345678901"
                    },
                    "companyNumber": {
                      "type": "string",
                      "description": "Company registration number",
                      "example": "ACN12345678"
                    },
                    "companyAddress1": {
                      "type": "string",
                      "description": "Primary address line",
                      "example": "123 Main Street"
                    },
                    "companyAddress2": {
                      "type": "string",
                      "description": "Secondary address line",
                      "example": "Level 5"
                    },
                    "companySuburb": {
                      "type": "string",
                      "description": "Company suburb",
                      "example": "Adelaide"
                    },
                    "companyState": {
                      "type": "string",
                      "description": "Company state",
                      "example": "SA"
                    },
                    "companyPostalCode": {
                      "type": "string",
                      "description": "Postal code for the company",
                      "example": "5000"
                    },
                    "deliveryAddress1": {
                      "type": "string",
                      "description": "Delivery address line 1",
                      "example": "123 Main Street"
                    },
                    "deliveryAddress2": {
                      "type": "string",
                      "description": "Delivery address line 2",
                      "example": "Loading Dock"
                    },
                    "deliverySuburb": {
                      "type": "string",
                      "description": "Delivery suburb",
                      "example": "Adelaide"
                    },
                    "deliveryState": {
                      "type": "string",
                      "description": "Delivery state",
                      "example": "SA"
                    },
                    "deliveryPostalCode": {
                      "type": "string",
                      "description": "Postal code for delivery",
                      "example": "5000"
                    },
                    "deliveryEmail": {
                      "type": "string",
                      "format": "email",
                      "description": "Delivery contact email",
                      "example": "receiving@skywardhotels.com"
                    },
                    "deliveryContactNumber": {
                      "type": "string",
                      "description": "Delivery contact number",
                      "example": "08 8123 4567"
                    },
                    "companyWebsite": {
                      "type": "string",
                      "format": "uri",
                      "description": "Company website",
                      "example": "www.skywardhotels.com"
                    },
                    "companyEmail": {
                      "type": "string",
                      "format": "email",
                      "description": "Company general email",
                      "example": "info@skywardhotels.com"
                    },
                    "companyPhone": {
                      "type": "string",
                      "description": "Company main phone number",
                      "example": "08 8123 4567"
                    },
                    "Supplier": {
                      "type": "object",
                      "description": "Supplier information",
                      "properties": {
                        "name": {
                          "type": "string",
                          "description": "Supplier's company name",
                          "example": "AMPHORA WINE GROUP"
                        },
                        "accountNo": {
                          "type": "string",
                          "description": "Supplier's account number",
                          "example": "1234"
                        },
                        "workPhone": {
                          "type": "string",
                          "description": "Supplier's work phone number",
                          "example": "08-8331 8459"
                        },
                        "addressLine1": {
                          "type": "string",
                          "description": "Address line 1",
                          "example": "P.O. BOX 501"
                        },
                        "addressLine2": {
                          "type": "string",
                          "description": "Address line 2",
                          "example": "BURNSIDE  S.A. 5066"
                        },
                        "email": {
                          "type": "string",
                          "format": "email",
                          "description": "Supplier email address",
                          "example": "email@email.com.au"
                        },
                        "suburbName": {
                          "type": "string",
                          "description": "Suburb (optional)",
                          "example": ""
                        },
                        "postcode": {
                          "type": "string",
                          "description": "Postcode",
                          "example": "5066"
                        },
                        "state": {
                          "type": "string",
                          "nullable": true,
                          "description": "State (optional)",
                          "example": null
                        },
                        "abn": {
                          "type": "string",
                          "description": "Supplier's ABN (business number)",
                          "example": "60 1409 181 54"
                        },
                        "acn": {
                          "type": "string",
                          "description": "Supplier's ACN (company number)",
                          "example": "123456789"
                        }
                      }
                    },
                    "Items": {
                      "type": "array",
                      "description": "Purchase order line items",
                      "items": {
                        "type": "object",
                        "properties": {
                          "purchaseOrderDetailId": {
                            "type": "integer",
                            "description": "ID for the specific item in the order",
                            "example": 538
                          },
                          "stockId": {
                            "type": "integer",
                            "description": "Stock keeping ID",
                            "example": 33765
                          },
                          "SupplierInventoryCode": {
                            "type": "integer",
                            "description": "Supplier-specific inventory code",
                            "example": 1711
                          },
                          "stockName": {
                            "type": "string",
                            "description": "Name of the stock item",
                            "example": "BARE COVE RADLER 330ML STB"
                          },
                          "unit": {
                            "type": "string",
                            "description": "Container name (e.g., CTN = Carton)",
                            "example": "CTN"
                          },
                          "unitQtyToOrder": {
                            "type": "number",
                            "description": "Quantity to order",
                            "example": 10
                          },
                          "price": {
                            "type": "number",
                            "description": "Expected cost per unit (excluding tax)",
                            "example": 47.2401
                          },
                          "comment": {
                            "type": "string",
                            "description": "Additional item-specific comments",
                            "example": "Monthly bar order"
                          }
                        }
                      }
                    }
                  }
                }
              }
            },
            "headers": {
              "rid_chain": {
                "$ref": "#/components/headers/rid_chain"
              },
              "rid": {
                "$ref": "#/components/headers/rid"
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/400"
          },
          "401": {
            "$ref": "#/components/responses/401"
          },
          "404": {
            "description": "Purchase Order not found"
          }
        },
        "tags": [
          "Integration"
        ],
        "description": "Gets a detailed Purchase Order object with supplier information, order items, and location details for integration purposes.<br><br>You will need to have the following data accesses assigned to your user to use this route: sc_get_purchaseorderheaders",
        "parameters": [
          {
            "$ref": "#/components/parameters/rid_chain"
          },
          {
            "$ref": "#/components/parameters/id"
          }
        ]
      }
    }
  },
  "components": {
    "schemas": {
      "groupQuery": {
        "type": "array",
        "items": {
          "type": "object",
          "properties": {
            "fieldName": {
              "type": "string"
            },
            "sort": {
              "type": "string",
              "enum": [
                "-",
                "+"
              ]
            }
          }
        }
      },
      "groupSummaryQuery": {
        "type": "array",
        "items": {
          "type": "object",
          "properties": {
            "fieldName": {
              "type": "string"
            },
            "type": {
              "type": "string",
              "enum": [
                "min",
                "max",
                "sum",
                "count",
                "avg"
              ]
            }
          }
        }
      },
      "updateDateTime": {
        "type": "string",
        "format": "date-time",
        "description": "This field will accept any date accepted by the javascript function Date.Parse(). You may want to include your timezone e.g. '12 jan 2020 5:30:20 GMT+10:30'"
      },
      "createDateTime": {
        "type": "string",
        "format": "date-time",
        "description": "This field will accept any date accepted by the javascript function Date.Parse(). You may want to include your timezone e.g. '12 jan 2020 5:30:20 GMT+10:30'"
      },
      "lastUpdateByUserId": {
        "type": "string",
        "description": "The userId of the last person to modify this record."
      },
      "externalKey": {
        "type": "string",
        "description": "The unique external key set by the current user accessing the API"
      },
      "externalKeys": {
        "type": "object",
        "description": "A list of externalKeys set by users. "
      },
      "httpError": {
        "type": "object",
        "properties": {
          "summary": {
            "type": "string",
            "description": "This is a one line summary of the error that has occurred."
          },
          "details": {
            "type": "array",
            "description": "This is a string array detailing each individual problem we found.",
            "items": {
              "type": "string"
            }
          },
          "fieldLevelErrors": {
            "type": "array",
            "description": "This is an array of fieldLevelErrors which describes input errors found in url_parameters, the http body or http headers.",
            "items": {
              "type": "array",
              "description": "Describes input errors found in url_parameters, the http body or http headers.",
              "items": {
                "type": "object",
                "properties": {
                  "fieldName": {
                    "type": "string"
                  },
                  "area": {
                    "type": "string",
                    "enum": [
                      "header",
                      "body",
                      "url_parameter"
                    ]
                  },
                  "message": {
                    "type": "string"
                  },
                  "path": {
                    "type": "string"
                  }
                }
              }
            }
          },
          "code": {
            "type": "number"
          }
        }
      },
      "bulkInsert": {
        "type": "object",
        "properties": {
          "index": {
            "type": "integer",
            "description": "Corresponds to the index of the posted array item in the HTTP request body JSON."
          },
          "success": {
            "type": "boolean",
            "description": "Returns true if the item has been inserted successfully and will also return the insertedObject attribute. Returns false if the item failed to insert, the reasons for the failure will be available in the \u2018error\u2019 attribute."
          },
          "error": {
            "type": "object",
            "properties": {
              "summary": {
                "type": "string",
                "description": "This is a one line summary of the error that has occurred."
              },
              "details": {
                "type": "array",
                "description": "This is string array detailing each individual problem we found.",
                "items": {
                  "type": "string"
                }
              },
              "fieldLevelErrors": {
                "type": "array",
                "description": "This is an array of fieldLevelErrors which describe input errors found in url_parameters, the http body or http headers.",
                "items": {
                  "type": "array",
                  "description": "Describe input errors found in url_parameters, the http body or http headers.",
                  "items": {
                    "type": "object",
                    "properties": {
                      "fieldName": {
                        "type": "string"
                      },
                      "area": {
                        "type": "string",
                        "enum": [
                          "header",
                          "body",
                          "url_parameter"
                        ]
                      },
                      "message": {
                        "type": "string"
                      },
                      "path": {
                        "type": "string"
                      }
                    }
                  }
                }
              }
            }
          }
        }
      },
      "bulkUpdate": {
        "type": "object",
        "properties": {
          "index": {
            "type": "integer",
            "description": "Corresponds to the index of the posted array item in the HTTP request body JSON."
          },
          "success": {
            "type": "boolean",
            "description": "Returns true if the item has been updated successfully and will also return the updatedObject attribute. Returns false if the item failed to update, the reasons for the failure will be available in the \u2018errors\u2019 attribute."
          },
          "error": {
            "type": "object",
            "properties": {
              "summary": {
                "type": "string",
                "description": "This is a one line summary of the error that has occurred."
              },
              "details": {
                "type": "array",
                "description": "This is string array detailing each individual problem we found.",
                "items": {
                  "type": "string"
                }
              },
              "fieldLevelErrors": {
                "type": "array",
                "description": "This is an array of fieldLevelErrors which describe input errors found in url_parameters, the http body or http headers.",
                "items": {
                  "type": "array",
                  "description": "Describe input errors found in url_parameters, the http body or http headers.",
                  "items": {
                    "type": "object",
                    "properties": {
                      "fieldName": {
                        "type": "string"
                      },
                      "area": {
                        "type": "string",
                        "enum": [
                          "header",
                          "body",
                          "url_parameter"
                        ]
                      },
                      "message": {
                        "type": "string"
                      },
                      "path": {
                        "type": "string"
                      }
                    }
                  }
                }
              }
            }
          }
        }
      },
      "VenueView": {
        "type": "object",
        "properties": {
          "venueId": {
            "type": "string",
            "description": "The unique identifier of this record."
          },
          "registrationCode": {
            "type": "string",
            "description": "Corresponds to the Sysnet Registration Number for the Venue\r\nExample Value: 1234",
            "example": "1234"
          },
          "venueName": {
            "type": "string",
            "description": "\r\nExample Value: Brads Burger House",
            "example": "Brads Burger House"
          },
          "createDateTime": {
            "$ref": "#/components/schemas/createDateTime"
          },
          "updateDateTime": {
            "$ref": "#/components/schemas/updateDateTime"
          },
          "lastUpdateByUserId": {
            "$ref": "#/components/schemas/lastUpdateByUserId"
          },
          "externalKeys": {
            "$ref": "#/components/schemas/externalKeys"
          },
          "externalKey": {
            "$ref": "#/components/schemas/externalKey"
          },
          "organisationId": {
            "type": "string",
            "description": "A reference to the primary key in the Organisations Table"
          },
          "taxNameId": {
            "type": "integer",
            "description": "A reference to the primary key in the TaxNames Table"
          }
        },
        "description": "Contains the venue information"
      },
      "getVenueView": {
        "oneOf": [
          {
            "$ref": "#/components/schemas/VenueView"
          },
          {
            "$ref": "#/components/schemas/VenuesFKExternalKeysView"
          },
          {
            "$ref": "#/components/schemas/VenuesFKExternalKeysView"
          }
        ]
      },
      "searchVenueView": {
        "oneOf": [
          {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/VenueView"
            }
          },
          {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/VenuesFKExternalKeysView"
            }
          },
          {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/VenuesFKExternalKeysView"
            }
          }
        ]
      },
      "IntegrationStockSalesView": {
        "type": "object",
        "properties": {
          "salesStockId": {
            "type": "number",
            "description": "System generated unique identifier for the sales sales stock (product) item"
          },
          "plu": {
            "type": "number",
            "description": "User defined number used to identify the product at POS"
          },
          "shortName": {
            "type": "string",
            "description": "The name of the product that will be display on a POS device"
          },
          "longName": {
            "type": "string",
            "description": "The full name of the product"
          },
          "priceAName": {
            "type": "string",
            "description": "The name of the price list"
          },
          "priceA": {
            "type": "number",
            "description": "The selling price of the item at price level A (ex GST)"
          },
          "priceBName": {
            "type": "string",
            "description": "The name of the price list"
          },
          "priceB": {
            "type": "number",
            "description": "The selling price of the item at price level B (ex GST)"
          },
          "priceCName": {
            "type": "string",
            "description": "The name of the price list"
          },
          "priceC": {
            "type": "number",
            "description": "The selling price of the item at price level C (ex GST)"
          },
          "priceDName": {
            "type": "string",
            "description": "The name of the price list"
          },
          "priceD": {
            "type": "number",
            "description": "The selling price of the item at price level D (ex GST)"
          },
          "priceEName": {
            "type": "string",
            "description": "The name of the price list"
          },
          "priceE": {
            "type": "number",
            "description": "The selling price of the item at price level E (ex GST)"
          },
          "lastPriceChange": {
            "type": "string",
            "description": "The date and time of the last price change for the item"
          },
          "pluGroup": {
            "type": "string"
          },
          "modifier": {
            "type": "string",
            "description": "Describes the type of modifier the item is for use at POS."
          },
          "labelImageUrl": {
            "type": "string",
            "description": "The url of the item's label image used for printing product lables"
          },
          "displayImageUrl": {
            "type": "string",
            "description": "The url of the display image used for POS display"
          },
          "locationNumber": {
            "type": "number",
            "description": "The user defined number of the location"
          },
          "locationName": {
            "type": "string",
            "description": "The name of the location"
          },
          "vintage": {
            "type": "number",
            "description": "The vintage year of the item. Usually reserved for wines."
          },
          "size": {
            "type": "number",
            "description": "Describes the size of the item."
          },
          "region": {
            "type": "string",
            "description": "The region the item originates from. Usually reserved for wines."
          },
          "variety": {
            "type": "string",
            "description": "The variety of the item. Usually reserved for wines."
          },
          "active": {
            "type": "boolean",
            "description": "Status of the item"
          },
          "containerDescription": {
            "type": "string",
            "description": "Describes the unit of the item"
          },
          "pluGroupId": {
            "type": "number",
            "description": "The unique identifier of the PLU group the item belongs to"
          },
          "linkedPluGroupId": {
            "type": "number",
            "description": "The linked plu group is used to indicate to the POS system to display items in the linked group following the selection of this item. Eg: a steak linked to a group of cooking styles."
          },
          "linkedPluGroup": {
            "type": "string"
          }
        }
      },
      "VenuesFKExternalKeysView": {
        "allOf": [
          {
            "$ref": "#/components/schemas/VenueView"
          },
          {
            "type": "object",
            "properties": {
              "TaxNameIdFKObject": {
                "$ref": "#/components/schemas/TaxNameIdFKObject"
              }
            }
          }
        ]
      },
      "TaxNameIdFKObject": {
        "type": "object",
        "properties": {
          "taxNameId": {
            "type": "integer",
            "description": "The unique identifier of this record."
          },
          "externalKey": {
            "$ref": "#/components/schemas/externalKey"
          }
        }
      }
    },
    "headers": {
      "rid_chain": {
        "required": true,
        "schema": {
          "type": "string"
        },
        "description": "The rid_chain includes the API Request Id (rid) and any rid_chain information sent to the api. Each rid in the chain is delimited by a space."
      },
      "rid": {
        "required": true,
        "schema": {
          "type": "string"
        },
        "description": "This is the unique Request Id for the current request generated by the api. It can be used by H&L to trace requests made on this api."
      },
      "total_available_results_count": {
        "required": false,
        "schema": {
          "type": "string"
        },
        "description": "This header will be returned with the total available results for a query. \n                              This may be different from the current number of results returned. \n                              It can be used to determine the total number of http requests required to return the full set of results for a query."
      }
    },
    "responses": {
      "400": {
        "description": "Bad Request",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/httpError"
            }
          }
        }
      },
      "401": {
        "description": "Unauthorized",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/httpError"
            }
          }
        }
      },
      "404": {
        "description": "Not found"
      }
    },
    "parameters": {
      "Offset": {
        "name": "offset",
        "in": "query",
        "schema": {
          "type": "integer"
        },
        "description": "This parameter is used to change the default offset from 0. Offset is the position in the dataset of a particular record. By specifying offset, you retrieve a subset of records starting with the offset value. Eg: If you have 100 records in your result set, and you want to retrieve records 50 to 80, you will need to use offset=49 and limit = 30."
      },
      "rid_chain": {
        "in": "header",
        "name": "rid_chain",
        "schema": {
          "type": "string"
        },
        "description": "The rid_chain is used to track the current users session. It should be a unique value that identifies a users particular session in a particular device. When events are received through H&L websocket events, the current user's session can be identified with this value. As such this value can help you determine which device a user was on when they made a request on this API."
      },
      "createDateTime": {
        "name": "createDateTime",
        "in": "query",
        "schema": {
          "type": "string"
        },
        "description": "The date and time this record was created.<br><b>string:</b> This parameter searches the createDateTime field and returns all available results that match. \n\nYou can use >12 jan 2020 5:30:20 GMT+10:30 to search for all createDateTimes greater than 12 jan 2020 5:30:20 GMT+10:30. You can use [1,2,3] to search for createDateTimes that match either 1, 2 or 3. You can use this parameter multiple times. eg createDateTime=>12 jan 2020 5:30:20 GMT+10:30& createDateTime=<12 jan 2020 5:30:20 GMT+10:30 would search for all createDateTimes between 12 jan 2020 5:30:20 GMT+10:30 and 14 jan 2020 5:30:20 GMT+10:30."
      },
      "updateDateTime": {
        "name": "updateDateTime",
        "in": "query",
        "schema": {
          "type": "string"
        },
        "description": "The last date and time this record was updated.<br><b>string:</b> This parameter searches the updateDateTime field and returns all available results that match. \n\nYou can use >12 jan 2020 5:30:20 GMT+10:30 to search for all updateDateTimes greater than 12 jan 2020 5:30:20 GMT+10:30. You can use [1,2,3] to search for updateDateTimes that match either 1, 2 or 3. You can use this parameter multiple times. eg updateDateTime=>12 jan 2020 5:30:20 GMT+10:30& updateDateTime=<12 jan 2020 5:30:20 GMT+10:30 would search for all updateDateTimes between 12 jan 2020 5:30:20 GMT+10:30 and 14 jan 2020 5:30:20 GMT+10:30."
      },
      "lastUpdateByUserId": {
        "name": "lastUpdateByUserId",
        "in": "query",
        "schema": {
          "type": "string"
        },
        "description": "The userId of the last person to modify this record.<br>This parameter searches for the lastUpdateByUserId field and returns all available results that match. You can use this parameter multiple times and it will do an 'AND' search. You can use * as a wildcard. You can use brackets and a comma to perform an \u2018OR\u2019 search e.g [a,b*] will search for \u2018a\u2019 OR a value starting with \u2018b\u2019."
      },
      "externalKey": {
        "name": "externalKey",
        "in": "query",
        "schema": {
          "type": "string"
        },
        "description": "The unique external key set by the current user accessing the API<br>This parameter searches for the externalKey field and returns all available results that match. You can use this parameter multiple times and it will do an 'AND' search. You can use * as a wildcard. You can use brackets and a comma to perform an \u2018OR\u2019 search e.g [a,b*] will search for \u2018a\u2019 OR a value starting with \u2018b\u2019. You can also use the '$isNull' value to retrieve the records that does not have an externalKey set by the current user."
      },
      "organisationId": {
        "name": "organisationId",
        "in": "query",
        "schema": {
          "type": "string"
        },
        "description": "Allows an api user to filter results by 1 or more organisationIds. To use multiple organisationIds: organisationId=[org1,org2]"
      },
      "organisationIdRequired": {
        "name": "organisationId",
        "in": "query",
        "required": true,
        "schema": {
          "type": "string"
        },
        "description": "Allows an api user to filter results by 1 or more organisationIds. To use multiple organisationIds: organisationId=[org1,org2]"
      },
      "search": {
        "name": "search",
        "in": "query",
        "schema": {
          "type": "string"
        },
        "description": "This does an <b>advanced</b> search using a url encoded JSON object. <br><br>\n\nMost fields available in the return object can be searched using this methodology.\n<br>Example: search={ \"status\": \"active\"} would search the status field for the value: 'active'.<br><br>\n\nSearching is also possible using nested fields. Use the following syntax: &lt;object&gt;.&lt;field&gt; to specify the nested field.<br>\nExample: search={ \"Stock.name\": \"Best Beer\" }<br><br>\n\nThere are a couple of extra operators that can be used in the search. These are $or, $and, $not. <br>\nExample: search={ \"$or\": [ { \"status\": \"bad\" }, { \"status\": \"worse\" } ] }. Searches for the statuses of 'bad' or 'worse'.<br>\nThe $or, $and and $not operators can be nested.<br><br>\n\nIf the name pair contains a fieldName it is possible for the value to be a sub-object containing any number of operators. The operators depend on the fieldType of the fieldName:<br><br>\n<b>Date time Allowed Operators</b>: $eq, $ne, $is, $gt, $gte, $lt, $lte, $in<br>\nExample: search={ \"startTime\": { \"$gt\": \"2 November 2021\" } }<br><br>\n<b>Relative Date time Allowed Operators</b>: $eq, $ne, $is, $gt, $gte, $lt, $lte, $in<br>\nExample: search={ \"startTime\": { \"$gt\": \"2 November 2021\" } }<br>\n<em>This 'relativeDateTime' field is relative to the timezone a user resides in and is not an absolute point in time</em><br><br>\n<b>Number Allowed Operators</b>: $eq, $ne, $is, $not, $or, $gt, $gte, $lt, $lte, $between, $notBetween, $in, $notIn<br>\nExample: search={ \"totalCount\": { \"$gt\": 10 } } <br><br>\n<b>String Allowed Operators</b>: $eq, $ne, $is, $not, $or, $in, $like, $iLike, $notLike, $notILike, $notIn<br>\nExample: search={ \"failReason\": { \"$in\": [\"Out of bounds\", \"Out of time\"] } }<br><br>\n\nThese operators equate to Sequelize operators. See <a href=\"https://sequelize.org/docs/v7/querying/operators\">Operators | Sequelize</a>"
      },
      "venueId": {
        "name": "venueId",
        "in": "query",
        "schema": {
          "type": "string"
        },
        "description": "Allows an api user to filter results by 1 or more venueIds. To use multiple organisationIds: venueId=[venueId1,venueId2]"
      },
      "venueIdRequired": {
        "name": "venueId",
        "in": "query",
        "required": true,
        "schema": {
          "type": "string"
        },
        "description": "Allows an api user to filter results by 1 or more venueIds. To use multiple organisationIds: venueId=[venueId1,venueId2]"
      },
      "id": {
        "in": "path",
        "required": true,
        "name": "id",
        "schema": {
          "type": "number"
        },
        "description": "Used to identify a specific record by its unique ID"
      },
      "externalKeyId": {
        "in": "path",
        "required": true,
        "name": "id",
        "schema": {
          "type": "string"
        },
        "description": "Used to identify a specific record by its user specific unique external key"
      }
    },
    "securitySchemes": {
      "BearerAuth": {
        "type": "http",
        "scheme": "bearer"
      }
    }
  },
  "security": [
    {
      "BearerAuth": [
        "read",
        "write"
      ]
    }
  ]
}