{
  "openapi": "3.0.3",
  "info": {
    "title": "Gumble Restaurant API",
    "version": "1.0.0",
    "description": "API documentation for all Gumble Restaurant endpoints",
    "contact": {
      "name": "Gumble API Support",
      "email": "support@gumble.ng",
      "url": "https://gumble.ng"
    },
    "x-jentic-source-url": "https://api.swaggerhub.com/apis/zoratech/gumble-restaurant-api/1.0.0"
  },
  "servers": [
    {
      "url": "https://gumble.ng/api/v1",
      "description": "Production server"
    }
  ],
  "components": {
    "securitySchemes": {
      "BearerAuth": {
        "type": "http",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      },
      "TokenHeader": {
        "type": "apiKey",
        "in": "header",
        "name": "token"
      }
    },
    "schemas": {
      "AssignTableRequest": {
        "type": "object",
        "required": [
          "staff_id",
          "table_ids"
        ],
        "properties": {
          "staff_id": {
            "type": "integer",
            "example": 14
          },
          "table_ids": {
            "type": "array",
            "items": {
              "type": "integer"
            },
            "example": [
              1,
              2,
              5
            ]
          }
        }
      },
      "AssignTableResponse": {
        "type": "object",
        "properties": {
          "status": {
            "type": "boolean"
          },
          "message": {
            "type": "string"
          },
          "results": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "table_id": {
                  "type": "integer"
                },
                "status": {
                  "type": "boolean"
                },
                "message": {
                  "type": "string"
                }
              }
            }
          }
        }
      },
      "FinancialAnalyticsRequest": {
        "type": "object",
        "properties": {
          "staff_id": {
            "type": "integer",
            "example": 12
          },
          "day": {
            "type": "string",
            "format": "date",
            "example": "2025-12-08"
          },
          "month": {
            "type": "string",
            "example": "2025-12"
          },
          "start_date": {
            "type": "string",
            "format": "date"
          },
          "end_date": {
            "type": "string",
            "format": "date"
          },
          "preset": {
            "type": "string",
            "enum": [
              "today",
              "this_week",
              "this_month"
            ]
          }
        }
      },
      "StaffTransactionRequest": {
        "type": "object",
        "required": [
          "staff_id"
        ],
        "properties": {
          "staff_id": {
            "type": "integer",
            "example": 7
          }
        }
      }
    }
  },
  "security": [
    {
      "BearerAuth": {}
    },
    {
      "TokenHeader": {}
    }
  ],
  "paths": {
    "/addCategory": {
      "post": {
        "summary": "Add a new menu category",
        "tags": [
          "Menu"
        ],
        "security": [
          {
            "BearerAuth": {}
          },
          {
            "TokenHeader": {}
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "name"
                ],
                "properties": {
                  "name": {
                    "type": "string",
                    "example": "Beverages"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Menu category added successfully"
          },
          "400": {
            "description": "Invalid input"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Permission denied"
          }
        }
      }
    },
    "/addMenu": {
      "post": {
        "summary": "Add a new menu item",
        "tags": [
          "Menu"
        ],
        "security": [
          {
            "BearerAuth": {}
          },
          {
            "TokenHeader": {}
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "multipart/form-data": {
              "schema": {
                "type": "object",
                "required": [
                  "names",
                  "price",
                  "added_by",
                  "category_id"
                ],
                "properties": {
                  "names": {
                    "type": "string"
                  },
                  "price": {
                    "type": "number",
                    "format": "float"
                  },
                  "added_by": {
                    "type": "string"
                  },
                  "category_id": {
                    "type": "string"
                  },
                  "descriptions": {
                    "type": "string"
                  },
                  "sub_category_id": {
                    "type": "string"
                  },
                  "discount_price": {
                    "type": "number"
                  },
                  "is_available": {
                    "type": "integer",
                    "enum": [
                      0,
                      1
                    ]
                  },
                  "is_multi_option": {
                    "type": "integer",
                    "enum": [
                      0,
                      1
                    ]
                  },
                  "images": {
                    "type": "array",
                    "items": {
                      "type": "string",
                      "format": "binary"
                    }
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Menu added successfully"
          },
          "400": {
            "description": "Missing or invalid parameters"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Permission denied"
          }
        }
      }
    },
    "/addOpenHours": {
      "post": {
        "summary": "Add organization open hours",
        "tags": [
          "Organization"
        ],
        "security": [
          {
            "BearerAuth": {}
          },
          {
            "TokenHeader": {}
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "days": {
                    "type": "array",
                    "items": {
                      "type": "string"
                    }
                  },
                  "opening_time": {
                    "type": "string"
                  },
                  "closing_time": {
                    "type": "string"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success or conflict message"
          }
        }
      }
    },
    "/addOrders": {
      "post": {
        "summary": "Add an order with items",
        "tags": [
          "Orders"
        ],
        "security": [
          {
            "BearerAuth": {}
          },
          {
            "TokenHeader": {}
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "order": {
                    "type": "object",
                    "properties": {
                      "last_name": {
                        "type": "string"
                      },
                      "first_name": {
                        "type": "string"
                      },
                      "date": {
                        "type": "string"
                      },
                      "table_number": {
                        "type": "string"
                      },
                      "executed_by": {
                        "type": "string"
                      },
                      "description": {
                        "type": "string"
                      }
                    }
                  },
                  "order_items": {
                    "type": "array",
                    "items": {
                      "type": "object",
                      "properties": {
                        "menu_name": {
                          "type": "string"
                        },
                        "price": {
                          "type": "string"
                        },
                        "quantity": {
                          "type": "string"
                        },
                        "status": {
                          "type": "string"
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Order added successfully"
          }
        }
      }
    },
    "/addStaff": {
      "post": {
        "summary": "Add new staff member",
        "tags": [
          "Staff"
        ],
        "security": [
          {
            "BearerAuth": {}
          },
          {
            "TokenHeader": {}
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "staff_name": {
                    "type": "string"
                  },
                  "email": {
                    "type": "string"
                  },
                  "role": {
                    "type": "string"
                  },
                  "department_id": {
                    "type": "string"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Staff added successfully"
          }
        }
      }
    },
    "/addSubCategory": {
      "post": {
        "summary": "Add a menu sub-category",
        "tags": [
          "Menu"
        ],
        "security": [
          {
            "BearerAuth": {}
          },
          {
            "TokenHeader": {}
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "name": {
                    "type": "string"
                  },
                  "category_id": {
                    "type": "string"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Sub-category addition result"
          }
        }
      }
    },
    "/addTables": {
      "post": {
        "summary": "Add a table to the restaurant",
        "tags": [
          "Organization"
        ],
        "security": [
          {
            "BearerAuth": {}
          },
          {
            "TokenHeader": {}
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "table_number": {
                    "type": "string"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Table addition result"
          }
        }
      }
    },
    "/assignTables": {
      "post": {
        "summary": "Assign tables to staff",
        "tags": [
          "Staff Management"
        ],
        "security": [
          {
            "BearerAuth": {}
          },
          {
            "TokenHeader": {}
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/AssignTableRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Assignment results",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AssignTableResponse"
                }
              }
            }
          },
          "403": {
            "description": "Missing permission or invalid token"
          }
        }
      }
    },
    "/financialAnalytics": {
      "post": {
        "summary": "Get financial analytics for staff",
        "tags": [
          "Financial Analytics"
        ],
        "security": [
          {
            "BearerAuth": {}
          },
          {
            "TokenHeader": {}
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/FinancialAnalyticsRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Analytics successfully generated"
          }
        }
      }
    },
    "/removeCategory": {
      "delete": {
        "summary": "Delete one or multiple categories",
        "security": [
          {
            "BearerAuth": {}
          },
          {
            "TokenHeader": {}
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "category_ids": {
                    "type": "array",
                    "items": {
                      "type": "integer"
                    }
                  }
                },
                "required": [
                  "category_ids"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Deletion result",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": {
                      "type": "boolean"
                    },
                    "message": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/removeMenu": {
      "delete": {
        "summary": "Delete menu items",
        "security": [
          {
            "BearerAuth": {}
          },
          {
            "TokenHeader": {}
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "menu_ids": {
                    "type": "array",
                    "items": {
                      "type": "string"
                    }
                  }
                },
                "required": [
                  "menu_ids"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Deletion result",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": {
                      "type": "boolean"
                    },
                    "message": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/removeOpenHours": {
      "delete": {
        "summary": "Delete a specific open hour entry",
        "security": [
          {
            "BearerAuth": {}
          },
          {
            "TokenHeader": {}
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "day": {
                    "type": "string"
                  }
                },
                "required": [
                  "day"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Deletion result",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": {
                      "type": "boolean"
                    },
                    "message": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/removeOrders": {
      "delete": {
        "summary": "Delete an order by orderID",
        "security": [
          {
            "BearerAuth": {}
          },
          {
            "TokenHeader": {}
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "orderID": {
                    "type": "string"
                  }
                },
                "required": [
                  "orderID"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Deletion result",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": {
                      "type": "boolean"
                    },
                    "message": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/removeSettings": {
      "delete": {
        "summary": "Delete restaurant settings",
        "security": [
          {
            "BearerAuth": {}
          },
          {
            "TokenHeader": {}
          }
        ],
        "responses": {
          "200": {
            "description": "Deletion result",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": {
                      "type": "boolean"
                    },
                    "message": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/removeStaff": {
      "delete": {
        "summary": "Delete staff by staff_name",
        "security": [
          {
            "BearerAuth": {}
          },
          {
            "TokenHeader": {}
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "staff_name": {
                    "type": "string"
                  }
                },
                "required": [
                  "staff_name"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Deletion result",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": {
                      "type": "boolean"
                    },
                    "message": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/removeSubCategory": {
      "delete": {
        "summary": "Delete a subcategory by id",
        "security": [
          {
            "BearerAuth": {}
          },
          {
            "TokenHeader": {}
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "id": {
                    "type": "string"
                  }
                },
                "required": [
                  "id"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Deletion result",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": {
                      "type": "boolean"
                    },
                    "message": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/removeTableAssignment": {
      "delete": {
        "summary": "Remove assigned tables for a staff member",
        "security": [
          {
            "BearerAuth": {}
          },
          {
            "TokenHeader": {}
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "staff_name": {
                    "type": "string"
                  }
                },
                "required": [
                  "staff_name"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Assignment removal result",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": {
                      "type": "boolean"
                    },
                    "message": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/removeTables": {
      "delete": {
        "summary": "Delete a table by id",
        "security": [
          {
            "BearerAuth": {}
          },
          {
            "TokenHeader": {}
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "id": {
                    "type": "integer"
                  }
                },
                "required": [
                  "id"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Deletion result",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": {
                      "type": "boolean"
                    },
                    "message": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/request_password_reset_v2": {
      "post": {
        "summary": "Request password reset email",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "email": {
                    "type": "string",
                    "format": "email"
                  }
                },
                "required": [
                  "email"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Password reset email result",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": {
                      "type": "boolean"
                    },
                    "message": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/settings": {
      "post": {
        "summary": "Add restaurant settings",
        "security": [
          {
            "BearerAuth": {}
          },
          {
            "TokenHeader": {}
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "restaurant_name": {
                    "type": "string"
                  },
                  "address": {
                    "type": "string"
                  },
                  "contact": {
                    "type": "string"
                  },
                  "social_media_handles": {
                    "type": "object"
                  }
                },
                "required": [
                  "restaurant_name",
                  "address",
                  "contact",
                  "social_media_handles"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Result of adding restaurant settings",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": {
                      "type": "boolean"
                    },
                    "message": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/signIn": {
      "post": {
        "summary": "User or staff login",
        "description": "Authenticate a user or staff member and return a JWT token along with user/staff details.",
        "tags": [
          "Authentication"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "email",
                  "password"
                ],
                "properties": {
                  "email": {
                    "type": "string",
                    "example": "user@example.com"
                  },
                  "password": {
                    "type": "string",
                    "example": "userpassword"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Login successful",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": {
                      "type": "boolean"
                    },
                    "message": {
                      "type": "string"
                    },
                    "jwt": {
                      "type": "string"
                    },
                    "user": {
                      "type": "object",
                      "nullable": true
                    },
                    "staff": {
                      "type": "object",
                      "nullable": true
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Invalid input or request"
          }
        }
      }
    },
    "/signUp": {
      "post": {
        "summary": "User registration",
        "description": "Sign up a new user, generate a random password and API key, and send credentials via email.",
        "tags": [
          "Authentication"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "restaurant_name",
                  "phone",
                  "email"
                ],
                "properties": {
                  "restaurant_name": {
                    "type": "string",
                    "example": "Gumble Restaurant"
                  },
                  "phone": {
                    "type": "string",
                    "example": "08012345678"
                  },
                  "email": {
                    "type": "string",
                    "example": "user@example.com"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Sign up successful",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean"
                    },
                    "message": {
                      "type": "string"
                    },
                    "email_status": {
                      "type": "string"
                    },
                    "password": {
                      "type": "string"
                    },
                    "email": {
                      "type": "string"
                    },
                    "api_key": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Invalid input or request"
          }
        }
      }
    },
    "/staffFinancialAnalytics": {
      "post": {
        "summary": "Get staff financial analytics",
        "description": "Fetch total sales, processed and unprocessed orders, and order details for a staff member within a given filter or date range.",
        "tags": [
          "Staff"
        ],
        "parameters": [
          {
            "name": "Authorization",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Bearer API key"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "staff_id": {
                    "type": "integer",
                    "example": 1
                  },
                  "filter_type": {
                    "type": "string",
                    "enum": [
                      "all_time",
                      "today",
                      "this_week",
                      "this_month",
                      "custom_range",
                      "specific_month"
                    ],
                    "example": "all_time"
                  },
                  "start_date": {
                    "type": "string",
                    "format": "date",
                    "example": 1764547200
                  },
                  "end_date": {
                    "type": "string",
                    "format": "date",
                    "example": 1765152000
                  },
                  "month": {
                    "type": "string",
                    "example": "2025-12"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Staff analytics data",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": {
                      "type": "boolean"
                    },
                    "message": {
                      "type": "string"
                    },
                    "data": {
                      "type": "object",
                      "properties": {
                        "staff_name": {
                          "type": "string"
                        },
                        "staff_email": {
                          "type": "string"
                        },
                        "total_sales": {
                          "type": "number"
                        },
                        "total_processed_orders": {
                          "type": "integer"
                        },
                        "total_unprocessed_orders": {
                          "type": "integer"
                        },
                        "total_tables_served": {
                          "type": "integer"
                        },
                        "orders": {
                          "type": "array",
                          "items": {
                            "type": "object",
                            "properties": {
                              "orderID": {
                                "type": "integer"
                              },
                              "table_number": {
                                "type": "integer"
                              },
                              "total_price": {
                                "type": "number"
                              },
                              "status": {
                                "type": "string"
                              },
                              "date": {
                                "type": "string",
                                "format": "date-time"
                              }
                            }
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/unassignTables": {
      "post": {
        "summary": "Unassign tables from a staff member",
        "description": "Allows authorized users to unassign one or more tables from a staff member.",
        "tags": [
          "Staff"
        ],
        "parameters": [
          {
            "name": "Authorization",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Bearer JWT token"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "staff_id",
                  "table_ids"
                ],
                "properties": {
                  "staff_id": {
                    "type": "integer",
                    "example": 2
                  },
                  "table_ids": {
                    "type": "array",
                    "items": {
                      "type": "integer"
                    },
                    "example": [
                      1,
                      2,
                      3
                    ]
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Unassignment results",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": {
                      "type": "boolean"
                    },
                    "message": {
                      "type": "string"
                    },
                    "results": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "table_id": {
                            "type": "integer"
                          },
                          "status": {
                            "type": "boolean"
                          },
                          "message": {
                            "type": "string"
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/updateCategory": {
      "put": {
        "summary": "Update menu category",
        "description": "Update the name of a menu category. Requires JWT token with proper permission.",
        "tags": [
          "Menu"
        ],
        "parameters": [
          {
            "name": "Authorization",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Bearer JWT token"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "category_id",
                  "name"
                ],
                "properties": {
                  "category_id": {
                    "type": "string",
                    "example": "cat_12345"
                  },
                  "name": {
                    "type": "string",
                    "example": "Updated Category Name"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Category update result",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": {
                      "type": "boolean"
                    },
                    "message": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/updateMenu": {
      "put": {
        "summary": "Update a menu item",
        "description": "Update details of a menu item for an organization.",
        "security": [
          {
            "bearerAuth": {}
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "menu_id"
                ],
                "properties": {
                  "menu_id": {
                    "type": "string"
                  },
                  "names": {
                    "type": "string"
                  },
                  "price": {
                    "type": "number",
                    "format": "float"
                  },
                  "discount_price": {
                    "type": "number",
                    "format": "float"
                  },
                  "category_id": {
                    "type": "string"
                  },
                  "sub_category_id": {
                    "type": "string"
                  },
                  "is_available": {
                    "type": "boolean"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Menu updated successfully",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": {
                      "type": "boolean"
                    },
                    "message": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/updateOpenHours": {
      "put": {
        "summary": "Update organization open hours",
        "security": [
          {
            "bearerAuth": {}
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "day",
                  "opening_time",
                  "closing_time"
                ],
                "properties": {
                  "day": {
                    "type": "string"
                  },
                  "opening_time": {
                    "type": "string",
                    "format": "time"
                  },
                  "closing_time": {
                    "type": "string",
                    "format": "time"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Hours updated",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": {
                      "type": "boolean"
                    },
                    "message": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/updateOrder": {
      "put": {
        "summary": "Update an order",
        "security": [
          {
            "bearerAuth": {}
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "orderID"
                ],
                "properties": {
                  "orderID": {
                    "type": "string"
                  },
                  "last_name": {
                    "type": "string"
                  },
                  "first_name": {
                    "type": "string"
                  },
                  "date": {
                    "type": "string",
                    "format": "date-time"
                  },
                  "table_number": {
                    "type": "integer"
                  },
                  "executed_by": {
                    "type": "string"
                  },
                  "status": {
                    "type": "string"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Order updated successfully",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": {
                      "type": "boolean"
                    },
                    "message": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/updatePassword": {
      "post": {
        "summary": "Reset staff password",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "token",
                  "email",
                  "new_password"
                ],
                "properties": {
                  "token": {
                    "type": "string"
                  },
                  "email": {
                    "type": "string",
                    "format": "email"
                  },
                  "new_password": {
                    "type": "string"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Password reset successful",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": {
                      "type": "boolean"
                    },
                    "message": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/updateSettings": {
      "put": {
        "summary": "Update restaurant settings",
        "security": [
          {
            "bearerAuth": {}
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "restaurant_name": {
                    "type": "string"
                  },
                  "address": {
                    "type": "string"
                  },
                  "contact": {
                    "type": "string"
                  },
                  "social_media_handles": {
                    "type": "object"
                  },
                  "stock_alert": {
                    "type": "integer"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Settings updated",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": {
                      "type": "boolean"
                    },
                    "message": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/updateStaff": {
      "put": {
        "summary": "Update staff information",
        "security": [
          {
            "bearerAuth": {}
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "email",
                  "staff_name"
                ],
                "properties": {
                  "email": {
                    "type": "string",
                    "format": "email"
                  },
                  "staff_name": {
                    "type": "string"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Staff updated successfully",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": {
                      "type": "boolean"
                    },
                    "message": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/updateStock": {
      "post": {
        "summary": "Update menu stock quantity",
        "security": [
          {
            "bearerAuth": {}
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "menu_id",
                  "stock_quantity"
                ],
                "properties": {
                  "menu_id": {
                    "type": "string"
                  },
                  "stock_quantity": {
                    "type": "integer"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Stock updated successfully",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": {
                      "type": "boolean"
                    },
                    "message": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/updateSubCategory": {
      "put": {
        "summary": "Update menu subcategory",
        "security": [
          {
            "bearerAuth": {}
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "id"
                ],
                "properties": {
                  "id": {
                    "type": "string"
                  },
                  "name": {
                    "type": "string"
                  },
                  "category_id": {
                    "type": "string"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Subcategory updated successfully",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": {
                      "type": "boolean"
                    },
                    "message": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/updateTableAssignment": {
      "put": {
        "summary": "Assign tables to staff",
        "security": [
          {
            "bearerAuth": {}
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "staff_name",
                  "assigned_tables"
                ],
                "properties": {
                  "staff_name": {
                    "type": "string"
                  },
                  "assigned_tables": {
                    "type": "array",
                    "items": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Table assignments updated",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": {
                      "type": "boolean"
                    },
                    "message": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/updateTables": {
      "put": {
        "summary": "Update table information",
        "security": [
          {
            "bearerAuth": {}
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "id",
                  "table_number"
                ],
                "properties": {
                  "id": {
                    "type": "string"
                  },
                  "table_number": {
                    "type": "integer"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Table updated successfully",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": {
                      "type": "boolean"
                    },
                    "message": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/departments/add": {
      "post": {
        "summary": "Add a new department",
        "tags": [
          "Departments"
        ],
        "security": [
          {
            "ApiKeyAuth": {}
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "department_name": {
                    "type": "string"
                  },
                  "description": {
                    "type": "string"
                  },
                  "status": {
                    "type": "string",
                    "enum": [
                      "active",
                      "inactive"
                    ],
                    "default": "active"
                  },
                  "created_by": {
                    "type": "integer"
                  },
                  "staff_ids": {
                    "type": "array",
                    "items": {
                      "type": "integer"
                    }
                  }
                },
                "required": [
                  "department_name",
                  "created_by"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Department created successfully",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": {
                      "type": "boolean"
                    },
                    "message": {
                      "type": "string"
                    },
                    "department_id": {
                      "type": "integer"
                    },
                    "staff_linked": {
                      "type": "integer"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/departments/delete": {
      "post": {
        "summary": "Delete a department",
        "tags": [
          "Departments"
        ],
        "security": [
          {
            "ApiKeyAuth": {}
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "id": {
                    "type": "integer"
                  }
                },
                "required": [
                  "id"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Department deleted successfully",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": {
                      "type": "boolean"
                    },
                    "message": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          }
        }
      },
      "/departments/get": {
        "get": {
          "summary": "Get all departments for the organization",
          "tags": [
            "Departments"
          ],
          "security": [
            {
              "ApiKeyAuth": {}
            }
          ],
          "responses": {
            "200": {
              "description": "List of departments",
              "content": {
                "application/json": {
                  "schema": {
                    "type": "object",
                    "properties": {
                      "status": {
                        "type": "boolean"
                      },
                      "departments": {
                        "type": "array",
                        "items": {
                          "type": "object"
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        }
      },
      "/departments/update": {
        "put": {
          "summary": "Update a department",
          "tags": [
            "Departments"
          ],
          "security": [
            {
              "ApiKeyAuth": {}
            }
          ],
          "requestBody": {
            "required": true,
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "id": {
                      "type": "integer"
                    },
                    "department_name": {
                      "type": "string"
                    }
                  },
                  "required": [
                    "id",
                    "department_name"
                  ]
                }
              }
            }
          },
          "responses": {
            "200": {
              "description": "Department updated successfully",
              "content": {
                "application/json": {
                  "schema": {
                    "type": "object",
                    "properties": {
                      "status": {
                        "type": "boolean"
                      },
                      "message": {
                        "type": "string"
                      }
                    }
                  }
                }
              }
            }
          }
        }
      },
      "/permissions/create": {
        "post": {
          "summary": "Create a new permission",
          "tags": [
            "Permissions"
          ],
          "security": [
            {
              "ApiKeyAuth": {}
            }
          ],
          "requestBody": {
            "required": true,
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "permission_name": {
                      "type": "string"
                    },
                    "description": {
                      "type": "string"
                    }
                  },
                  "required": [
                    "permission_name"
                  ]
                }
              }
            }
          },
          "responses": {
            "200": {
              "description": "Permission created successfully",
              "content": {
                "application/json": {
                  "schema": {
                    "type": "object",
                    "properties": {
                      "status": {
                        "type": "boolean"
                      },
                      "message": {
                        "type": "string"
                      }
                    }
                  }
                }
              }
            }
          }
        }
      },
      "/permissions/delete": null,
      "delete": {
        "summary": "Delete a permission",
        "tags": [
          "Permissions"
        ],
        "security": [
          {
            "ApiKeyAuth": {}
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "permission_id"
                ],
                "properties": {
                  "permission_id": {
                    "type": "integer"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/roles/create": {
      "post": {
        "summary": "Create a new role",
        "tags": [
          "Roles"
        ],
        "security": [
          {
            "ApiKeyAuth": {}
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "role_name": {
                    "type": "string"
                  },
                  "description": {
                    "type": "string"
                  }
                },
                "required": [
                  "role_name"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Role created successfully",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": {
                      "type": "boolean"
                    },
                    "message": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          }
        }
      },
      "/roles/assignPermissionsToRole": null
    },
    "post": {
      "summary": "Assign permissions to a role",
      "tags": [
        "Roles"
      ],
      "security": [
        {
          "ApiKeyAuth": {}
        }
      ],
      "requestBody": {
        "required": true,
        "content": {
          "application/json": {
            "schema": {
              "type": "object",
              "properties": {
                "role_id": {
                  "type": "integer"
                },
                "permission_id": {
                  "type": "integer"
                },
                "permission_ids": {
                  "type": "array",
                  "items": {
                    "type": "integer"
                  }
                }
              },
              "required": [
                "role_id"
              ]
            }
          }
        }
      },
      "responses": {
        "200": {
          "description": "Permissions assigned to role",
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "status": {
                    "type": "boolean"
                  },
                  "message": {
                    "type": "string"
                  },
                  "organization_id": {
                    "type": "string"
                  },
                  "role_id": {
                    "type": "integer"
                  },
                  "permission_ids": {
                    "type": "array",
                    "items": {
                      "type": "integer"
                    }
                  },
                  "duplicates": {
                    "type": "array",
                    "items": {
                      "type": "integer"
                    }
                  },
                  "errors": {
                    "type": "array",
                    "items": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          }
        },
        "/roles/delete": null,
        "delete": {
          "summary": "Delete a role",
          "tags": [
            "Roles"
          ],
          "security": [
            {
              "ApiKeyAuth": {}
            }
          ],
          "requestBody": {
            "required": true,
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "role_id": {
                      "type": "integer"
                    }
                  },
                  "required": [
                    "role_id"
                  ]
                }
              }
            }
          },
          "responses": {
            "200": {
              "description": "Role deleted successfully",
              "content": {
                "application/json": {
                  "schema": {
                    "type": "object",
                    "properties": {
                      "status": {
                        "type": "boolean"
                      },
                      "message": {
                        "type": "string"
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "/roles/get": null,
        "get": {
          "summary": "Get roles",
          "tags": [
            "Roles"
          ],
          "security": [
            {
              "ApiKeyAuth": {}
            }
          ],
          "parameters": [
            {
              "in": "query",
              "name": "role_id",
              "schema": {
                "type": "integer"
              },
              "required": false,
              "description": "Filter by specific role ID"
            }
          ],
          "responses": {
            "200": {
              "description": "List of roles",
              "content": {
                "application/json": {
                  "schema": {
                    "type": "object",
                    "properties": {
                      "status": {
                        "type": "boolean"
                      },
                      "data": {
                        "type": "array",
                        "items": {
                          "type": "object",
                          "properties": {
                            "role_id": {
                              "type": "integer"
                            },
                            "role_name": {
                              "type": "string"
                            },
                            "description": {
                              "type": "string"
                            },
                            "created_at": {
                              "type": "string",
                              "format": "date-time"
                            }
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        }
      },
      "/roles/getRolePermission": null
    },
    "get": {
      "summary": "Get permissions assigned to each role",
      "tags": [
        "Roles"
      ],
      "security": [
        {
          "ApiKeyAuth": {}
        }
      ],
      "responses": {
        "200": {
          "description": "Role permissions",
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "status": {
                    "type": "boolean"
                  },
                  "data": {
                    "type": "array",
                    "items": {
                      "type": "object",
                      "properties": {
                        "role_id": {
                          "type": "integer"
                        },
                        "role_name": {
                          "type": "string"
                        },
                        "description": {
                          "type": "string"
                        },
                        "permissions": {
                          "type": "array",
                          "items": {
                            "type": "object",
                            "properties": {
                              "permission_id": {
                                "type": "integer"
                              },
                              "permission_name": {
                                "type": "string"
                              },
                              "description": {
                                "type": "string"
                              }
                            }
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "/roles/getRoleSummary": null,
        "get": {
          "summary": "Get summary of roles with staff and permission counts",
          "tags": [
            "Roles"
          ],
          "security": [
            {
              "ApiKeyAuth": {}
            }
          ],
          "responses": {
            "200": {
              "description": "Roles summary",
              "content": {
                "application/json": {
                  "schema": {
                    "type": "object",
                    "properties": {
                      "status": {
                        "type": "boolean"
                      },
                      "data": {
                        "type": "array",
                        "items": {
                          "type": "object",
                          "properties": {
                            "role_name": {
                              "type": "string"
                            },
                            "description": {
                              "type": "string"
                            },
                            "created_at": {
                              "type": "string",
                              "format": "date-time"
                            },
                            "staff_count": {
                              "type": "integer"
                            },
                            "permission_count": {
                              "type": "integer"
                            },
                            "created_by": {
                              "type": "string"
                            },
                            "permissions": {
                              "type": "array",
                              "items": {
                                "type": "object",
                                "properties": {
                                  "permission_name": {
                                    "type": "string"
                                  },
                                  "description": {
                                    "type": "string"
                                  }
                                }
                              }
                            }
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "/roles/update": null,
        "put": {
          "summary": "Update a role",
          "tags": [
            "Roles"
          ],
          "security": [
            {
              "ApiKeyAuth": {}
            }
          ],
          "requestBody": {
            "required": true,
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "role_id": {
                      "type": "integer"
                    },
                    "role_name": {
                      "type": "string"
                    },
                    "description": {
                      "type": "string"
                    }
                  },
                  "required": [
                    "role_id"
                  ]
                }
              }
            }
          },
          "responses": {
            "200": {
              "description": "Role updated successfully",
              "content": {
                "application/json": {
                  "schema": {
                    "type": "object",
                    "properties": {
                      "status": {
                        "type": "boolean"
                      },
                      "message": {
                        "type": "string"
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    }
  },
  "/getOrders": {
    "get": {
      "summary": "Get all orders",
      "tags": [
        "Orders"
      ],
      "security": [
        {
          "BearerAuth": {}
        },
        {
          "TokenHeader": {}
        }
      ],
      "parameters": [
        {
          "in": "query",
          "name": "staff_id",
          "schema": {
            "type": "integer"
          },
          "required": false,
          "description": "Filter orders by staff ID"
        },
        {
          "in": "query",
          "name": "status",
          "schema": {
            "type": "string"
          },
          "required": false,
          "description": "Filter orders by status (pending, completed, cancelled)"
        },
        {
          "in": "query",
          "name": "date",
          "schema": {
            "type": "string",
            "format": "date"
          },
          "required": false,
          "description": "Filter orders by date"
        }
      ],
      "responses": {
        "200": {
          "description": "List of orders",
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "status": {
                    "type": "boolean"
                  },
                  "message": {
                    "type": "string"
                  },
                  "data": {
                    "type": "array",
                    "items": {
                      "type": "object",
                      "properties": {
                        "orderID": {
                          "type": "string"
                        },
                        "last_name": {
                          "type": "string"
                        },
                        "first_name": {
                          "type": "string"
                        },
                        "date": {
                          "type": "string",
                          "format": "date-time"
                        },
                        "table_number": {
                          "type": "integer"
                        },
                        "executed_by": {
                          "type": "string"
                        },
                        "status": {
                          "type": "string"
                        },
                        "total_price": {
                          "type": "number"
                        },
                        "items": {
                          "type": "array",
                          "items": {
                            "type": "object",
                            "properties": {
                              "menu_name": {
                                "type": "string"
                              },
                              "price": {
                                "type": "number"
                              },
                              "quantity": {
                                "type": "integer"
                              },
                              "status": {
                                "type": "string"
                              }
                            }
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/getOrderById": {
      "get": {
        "summary": "Get order details by orderID",
        "tags": [
          "Orders"
        ],
        "security": [
          {
            "BearerAuth": {}
          },
          {
            "TokenHeader": {}
          }
        ],
        "parameters": [
          {
            "in": "query",
            "name": "orderID",
            "schema": {
              "type": "string"
            },
            "required": true,
            "description": "ID of the order"
          }
        ],
        "responses": {
          "200": {
            "description": "Order details",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": {
                      "type": "boolean"
                    },
                    "message": {
                      "type": "string"
                    },
                    "data": {
                      "type": "object",
                      "properties": {
                        "orderID": {
                          "type": "string"
                        },
                        "last_name": {
                          "type": "string"
                        },
                        "first_name": {
                          "type": "string"
                        },
                        "date": {
                          "type": "string",
                          "format": "date-time"
                        },
                        "table_number": {
                          "type": "integer"
                        },
                        "executed_by": {
                          "type": "string"
                        },
                        "status": {
                          "type": "string"
                        },
                        "total_price": {
                          "type": "number"
                        },
                        "items": {
                          "type": "array",
                          "items": {
                            "type": "object",
                            "properties": {
                              "menu_name": {
                                "type": "string"
                              },
                              "price": {
                                "type": "number"
                              },
                              "quantity": {
                                "type": "integer"
                              },
                              "status": {
                                "type": "string"
                              }
                            }
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/updateOrder": {
      "put": {
        "summary": "Update an order",
        "tags": [
          "Orders"
        ],
        "security": [
          {
            "BearerAuth": {}
          },
          {
            "TokenHeader": {}
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "orderID"
                ],
                "properties": {
                  "orderID": {
                    "type": "string"
                  },
                  "last_name": {
                    "type": "string"
                  },
                  "first_name": {
                    "type": "string"
                  },
                  "date": {
                    "type": "string",
                    "format": "date-time"
                  },
                  "table_number": {
                    "type": "integer"
                  },
                  "executed_by": {
                    "type": "string"
                  },
                  "status": {
                    "type": "string"
                  },
                  "order_items": {
                    "type": "array",
                    "items": {
                      "type": "object",
                      "properties": {
                        "menu_name": {
                          "type": "string"
                        },
                        "price": {
                          "type": "number"
                        },
                        "quantity": {
                          "type": "integer"
                        },
                        "status": {
                          "type": "string"
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Order updated successfully",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": {
                      "type": "boolean"
                    },
                    "message": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/deleteOrder": {
      "delete": {
        "summary": "Delete an order by orderID",
        "tags": [
          "Orders"
        ],
        "security": [
          {
            "BearerAuth": {}
          },
          {
            "TokenHeader": {}
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "orderID"
                ],
                "properties": {
                  "orderID": {
                    "type": "string"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Order deleted successfully",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": {
                      "type": "boolean"
                    },
                    "message": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          }
        }
      }
    }
  }
}