{
  "openapi": "3.0.0",
  "info": {
    "title": "Restaurant API",
    "version": "1.0.0",
    "description": "Enhanced schema with Path, Query, and Header parameters for test permutation.",
    "x-jentic-source-url": "https://api.swaggerhub.com/apis/vastixai/Restaurant2.0/1.0.0"
  },
  "servers": [
    {
      "url": "https://restaurant.com"
    }
  ],
  "paths": {
    "/orderPizza/{storeId}": {
      "post": {
        "summary": "Order Pizza",
        "operationId": "orderPizza",
        "parameters": [
          {
            "name": "storeId",
            "in": "path",
            "description": "The unique ID of the pizza branch",
            "required": true,
            "schema": {
              "type": "string",
              "enum": [
                "NYC-001",
                "LAX-002",
                "CHI-003"
              ]
            }
          },
          {
            "name": "deliveryMethod",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string",
              "enum": [
                "delivery",
                "pickup"
              ]
            }
          },
          {
            "name": "couponCode",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "X-Client-Platform",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string",
              "enum": [
                "iOS",
                "Android",
                "Web"
              ]
            }
          }
        ],
        "x-vastix-curl-config": {
          "headers": {
            "RequestId": "<generated>",
            "Authorization": "Bearer {{TOKEN}}",
            "Content-Type": "application/json"
          }
        },
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/PizzaOrder"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Order confirmed",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/OrderConfirmation"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          }
        }
      }
    },
    "/orderIceCream/{location}": {
      "post": {
        "summary": "Order Ice Cream",
        "operationId": "orderIceCream",
        "parameters": [
          {
            "name": "location",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "priority",
            "in": "query",
            "required": false,
            "schema": {
              "type": "boolean",
              "default": false
            }
          }
        ],
        "x-vastix-curl-config": {
          "headers": {
            "RequestId": "<generated>",
            "Authorization": "Bearer {{TOKEN}}",
            "Content-Type": "application/json"
          }
        },
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/IceCreamOrder"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Order confirmed",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/OrderConfirmation"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          }
        }
      }
    }
  },
  "components": {
    "responses": {
      "BadRequest": {
        "description": "Invalid request",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/ErrorResponse"
            }
          }
        }
      },
      "Unauthorized": {
        "description": "Unauthorized",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/ErrorResponse"
            }
          }
        }
      }
    },
    "schemas": {
      "PizzaOrder": {
        "type": "object",
        "required": [
          "size",
          "crust",
          "toppings"
        ],
        "properties": {
          "size": {
            "type": "string",
            "enum": [
              "small",
              "medium",
              "large"
            ]
          },
          "crust": {
            "type": "string",
            "enum": [
              "thin",
              "thick"
            ]
          },
          "toppings": {
            "type": "array",
            "items": {
              "type": "string"
            }
          }
        }
      },
      "IceCreamOrder": {
        "type": "object",
        "required": [
          "flavor",
          "size"
        ],
        "properties": {
          "flavor": {
            "type": "string"
          },
          "size": {
            "type": "string",
            "enum": [
              "small",
              "medium",
              "large"
            ]
          },
          "toppings": {
            "type": "array",
            "items": {
              "type": "string"
            }
          }
        }
      },
      "OrderConfirmation": {
        "type": "object",
        "required": [
          "orderId",
          "status"
        ],
        "properties": {
          "orderId": {
            "type": "string"
          },
          "status": {
            "type": "string",
            "enum": [
              "confirmed"
            ]
          }
        }
      },
      "ErrorResponse": {
        "type": "object",
        "required": [
          "code",
          "message"
        ],
        "properties": {
          "code": {
            "type": "string"
          },
          "message": {
            "type": "string"
          }
        }
      }
    }
  }
}