{
  "openapi": "3.0.3",
  "info": {
    "title": "BART API",
    "version": "1.0.0",
    "description": "Bay Area Rapid Transit (BART) API provides access to real-time estimates, station information, route details, schedule information, and service advisories for the BART transit system.",
    "x-jentic-source-url": "https://api.bart.gov/docs/overview/index.aspx",
    "contact": {
      "name": "API Support"
    }
  },
  "servers": [
    {
      "url": "https://api.bart.gov/api",
      "description": "BART API"
    }
  ],
  "tags": [
    {
      "name": "Advisories",
      "description": "BART service advisories (BSA)"
    },
    {
      "name": "RealTime",
      "description": "Real-time estimated departure information"
    },
    {
      "name": "Stations",
      "description": "Station information"
    },
    {
      "name": "Routes",
      "description": "Route/line information"
    },
    {
      "name": "Schedules",
      "description": "Schedule information including fares and trip planning"
    }
  ],
  "paths": {
    "/bsa.aspx": {
      "get": {
        "tags": [
          "Advisories"
        ],
        "summary": "Get Service Advisories",
        "operationId": "getServiceAdvisories",
        "description": "Requests current BART service advisory (BSA) information. Messages are tagged system-wide with station code 'BART'. Type will be DELAY or EMERGENCY.",
        "parameters": [
          {
            "name": "cmd",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string",
              "enum": [
                "bsa"
              ]
            },
            "description": "Command: bsa"
          },
          {
            "name": "orig",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "default": "all"
            },
            "description": "Station abbreviation or 'all'. Currently only 'all' is supported."
          },
          {
            "name": "key",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "API registration key"
          },
          {
            "name": "json",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "enum": [
                "y"
              ]
            },
            "description": "Set to 'y' to return JSON instead of XML"
          }
        ],
        "responses": {
          "200": {
            "description": "Advisory information returned successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AdvisoryResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized - Invalid API key",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/bsa.aspx#count": {
      "get": {
        "tags": [
          "Advisories"
        ],
        "summary": "Count Train Advisories",
        "operationId": "countTrainAdvisories",
        "description": "Returns the number of current trains in service and any delays.",
        "parameters": [
          {
            "name": "cmd",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string",
              "enum": [
                "count"
              ]
            },
            "description": "Command: count"
          },
          {
            "name": "key",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "API registration key"
          },
          {
            "name": "json",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "enum": [
                "y"
              ]
            },
            "description": "Set to 'y' to return JSON instead of XML"
          }
        ],
        "responses": {
          "200": {
            "description": "Train count returned successfully"
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized - Invalid API key",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/etd.aspx": {
      "get": {
        "tags": [
          "RealTime"
        ],
        "summary": "Get Real-Time Estimated Departures",
        "operationId": "getEstimatedDepartures",
        "description": "Requests current departure information for a station. Returns estimated time of departure, platform, direction, line color, bike flags, and delay information.",
        "parameters": [
          {
            "name": "cmd",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string",
              "enum": [
                "etd"
              ]
            },
            "description": "Command: etd"
          },
          {
            "name": "orig",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Station abbreviation (e.g. RICH, 12TH) or 'ALL' for all stations"
          },
          {
            "name": "plat",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "minimum": 1,
              "maximum": 4
            },
            "description": "Limit results to a specific platform (1-4). Cannot be used with 'dir'."
          },
          {
            "name": "dir",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "enum": [
                "n",
                "s"
              ]
            },
            "description": "Limit results to direction: 'n' (Northbound) or 's' (Southbound). Cannot be used with 'plat'."
          },
          {
            "name": "key",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "API registration key"
          },
          {
            "name": "json",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "enum": [
                "y"
              ]
            },
            "description": "Set to 'y' to return JSON instead of XML"
          }
        ],
        "responses": {
          "200": {
            "description": "Estimated departure information",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/EtdResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized - Invalid API key",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/stn.aspx#stns": {
      "get": {
        "tags": [
          "Stations"
        ],
        "summary": "List All Stations",
        "operationId": "listStations",
        "description": "Returns a list of all BART stations with their full names, abbreviations, latitude, longitude and addresses.",
        "parameters": [
          {
            "name": "cmd",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string",
              "enum": [
                "stns"
              ]
            },
            "description": "Command: stns"
          },
          {
            "name": "key",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "API registration key"
          },
          {
            "name": "json",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "enum": [
                "y"
              ]
            },
            "description": "Set to 'y' to return JSON instead of XML"
          }
        ],
        "responses": {
          "200": {
            "description": "List of all stations",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/StationsResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized - Invalid API key",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/stn.aspx#stninfo": {
      "get": {
        "tags": [
          "Stations"
        ],
        "summary": "Get Station Information",
        "operationId": "getStationInfo",
        "description": "Returns detailed information for a specific station including address, routes, platforms, and local attractions.",
        "parameters": [
          {
            "name": "cmd",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string",
              "enum": [
                "stninfo"
              ]
            },
            "description": "Command: stninfo"
          },
          {
            "name": "orig",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Station abbreviation (e.g. 24TH, RICH)"
          },
          {
            "name": "key",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "API registration key"
          },
          {
            "name": "json",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "enum": [
                "y"
              ]
            },
            "description": "Set to 'y' to return JSON instead of XML"
          }
        ],
        "responses": {
          "200": {
            "description": "Station detail information",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/StationInfoResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized - Invalid API key",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/stn.aspx#stnaccess": {
      "get": {
        "tags": [
          "Stations"
        ],
        "summary": "Get Station Access Information",
        "operationId": "getStationAccess",
        "description": "Returns access/neighborhood information for a specific station.",
        "parameters": [
          {
            "name": "cmd",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string",
              "enum": [
                "stnaccess"
              ]
            },
            "description": "Command: stnaccess"
          },
          {
            "name": "orig",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Station abbreviation"
          },
          {
            "name": "l",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "enum": [
                1
              ]
            },
            "description": "Set to 1 to include legends"
          },
          {
            "name": "key",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "API registration key"
          },
          {
            "name": "json",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "enum": [
                "y"
              ]
            },
            "description": "Set to 'y' to return JSON instead of XML"
          }
        ],
        "responses": {
          "200": {
            "description": "Station access information"
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized - Invalid API key",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/route.aspx#routes": {
      "get": {
        "tags": [
          "Routes"
        ],
        "summary": "List All Routes",
        "operationId": "listRoutes",
        "description": "Returns a list of all BART routes with their names, abbreviations, route IDs, colors and directions.",
        "parameters": [
          {
            "name": "cmd",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string",
              "enum": [
                "routes"
              ]
            },
            "description": "Command: routes"
          },
          {
            "name": "date",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Date (mm/dd/yyyy), 'today', or 'now'"
          },
          {
            "name": "sched",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Specific schedule number"
          },
          {
            "name": "key",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "API registration key"
          },
          {
            "name": "json",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "enum": [
                "y"
              ]
            },
            "description": "Set to 'y' to return JSON instead of XML"
          }
        ],
        "responses": {
          "200": {
            "description": "List of routes",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RoutesResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized - Invalid API key",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/route.aspx#routeinfo": {
      "get": {
        "tags": [
          "Routes"
        ],
        "summary": "Get Route Information",
        "operationId": "getRouteInfo",
        "description": "Returns detailed information for a specific route including origin, destination, stations along the route, and color.",
        "parameters": [
          {
            "name": "cmd",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string",
              "enum": [
                "routeinfo"
              ]
            },
            "description": "Command: routeinfo"
          },
          {
            "name": "route",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Route number (e.g. 1, 6, 12) or 'all'"
          },
          {
            "name": "date",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Date (mm/dd/yyyy), 'today', or 'now'"
          },
          {
            "name": "key",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "API registration key"
          },
          {
            "name": "json",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "enum": [
                "y"
              ]
            },
            "description": "Set to 'y' to return JSON instead of XML"
          }
        ],
        "responses": {
          "200": {
            "description": "Route detail information",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RouteInfoResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized - Invalid API key",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/sched.aspx#depart": {
      "get": {
        "tags": [
          "Schedules"
        ],
        "summary": "Get Trip Plan (Depart)",
        "operationId": "getTripPlanDepart",
        "description": "Returns scheduled trips between two stations based on departure time. Includes fare, trip time, and transfer details.",
        "parameters": [
          {
            "name": "cmd",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string",
              "enum": [
                "depart"
              ]
            },
            "description": "Command: depart"
          },
          {
            "name": "orig",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Origin station abbreviation"
          },
          {
            "name": "dest",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Destination station abbreviation"
          },
          {
            "name": "date",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Date (mm/dd/yyyy), 'today', or 'now'"
          },
          {
            "name": "time",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Time (h:mm+am/pm) or 'now'"
          },
          {
            "name": "b",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "default": 2
            },
            "description": "Number of trips before the specified time"
          },
          {
            "name": "a",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "default": 2
            },
            "description": "Number of trips after the specified time"
          },
          {
            "name": "l",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "enum": [
                0,
                1
              ]
            },
            "description": "Set to 1 to return legend information"
          },
          {
            "name": "key",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "API registration key"
          },
          {
            "name": "json",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "enum": [
                "y"
              ]
            },
            "description": "Set to 'y' to return JSON instead of XML"
          }
        ],
        "responses": {
          "200": {
            "description": "Trip plan results"
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized - Invalid API key",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/sched.aspx#arrive": {
      "get": {
        "tags": [
          "Schedules"
        ],
        "summary": "Get Trip Plan (Arrive)",
        "operationId": "getTripPlanArrive",
        "description": "Returns scheduled trips between two stations based on arrival time.",
        "parameters": [
          {
            "name": "cmd",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string",
              "enum": [
                "arrive"
              ]
            },
            "description": "Command: arrive"
          },
          {
            "name": "orig",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Origin station abbreviation"
          },
          {
            "name": "dest",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Destination station abbreviation"
          },
          {
            "name": "date",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Date (mm/dd/yyyy), 'today', or 'now'"
          },
          {
            "name": "time",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Time (h:mm+am/pm) or 'now'"
          },
          {
            "name": "b",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "default": 2
            },
            "description": "Number of trips before"
          },
          {
            "name": "a",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "default": 2
            },
            "description": "Number of trips after"
          },
          {
            "name": "l",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "enum": [
                0,
                1
              ]
            },
            "description": "Return legend info"
          },
          {
            "name": "key",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "API registration key"
          },
          {
            "name": "json",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "enum": [
                "y"
              ]
            },
            "description": "Set to 'y' to return JSON instead of XML"
          }
        ],
        "responses": {
          "200": {
            "description": "Trip plan results"
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized - Invalid API key",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/sched.aspx#fare": {
      "get": {
        "tags": [
          "Schedules"
        ],
        "summary": "Get Fare Information",
        "operationId": "getFareInfo",
        "description": "Returns fare information for a trip between two stations. Includes Clipper, cash, senior/disabled, youth, and Clipper START fares.",
        "parameters": [
          {
            "name": "cmd",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string",
              "enum": [
                "fare"
              ]
            },
            "description": "Command: fare"
          },
          {
            "name": "orig",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Origin station abbreviation"
          },
          {
            "name": "dest",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Destination station abbreviation"
          },
          {
            "name": "date",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Date (mm/dd/yyyy), 'today', or 'now'"
          },
          {
            "name": "sched",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Specific schedule number"
          },
          {
            "name": "key",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "API registration key"
          },
          {
            "name": "json",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "enum": [
                "y"
              ]
            },
            "description": "Set to 'y' to return JSON instead of XML"
          }
        ],
        "responses": {
          "200": {
            "description": "Fare information",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/FareResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized - Invalid API key",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/sched.aspx#scheds": {
      "get": {
        "tags": [
          "Schedules"
        ],
        "summary": "List Available Schedules",
        "operationId": "listSchedules",
        "description": "Returns detailed information about the current BART schedules including schedule IDs and effective dates.",
        "parameters": [
          {
            "name": "cmd",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string",
              "enum": [
                "scheds"
              ]
            },
            "description": "Command: scheds"
          },
          {
            "name": "key",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "API registration key"
          },
          {
            "name": "json",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "enum": [
                "y"
              ]
            },
            "description": "Set to 'y' to return JSON instead of XML"
          }
        ],
        "responses": {
          "200": {
            "description": "List of schedules"
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized - Invalid API key",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/sched.aspx#stnsched": {
      "get": {
        "tags": [
          "Schedules"
        ],
        "summary": "Get Station Schedule",
        "operationId": "getStationSchedule",
        "description": "Returns the complete schedule for a specific station showing all departures, lines, platforms, and train head stations.",
        "parameters": [
          {
            "name": "cmd",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string",
              "enum": [
                "stnsched"
              ]
            },
            "description": "Command: stnsched"
          },
          {
            "name": "orig",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Station abbreviation"
          },
          {
            "name": "date",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Date (mm/dd/yyyy), 'today', or 'now'"
          },
          {
            "name": "l",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "enum": [
                0,
                1
              ]
            },
            "description": "Return legend info"
          },
          {
            "name": "key",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "API registration key"
          },
          {
            "name": "json",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "enum": [
                "y"
              ]
            },
            "description": "Set to 'y' to return JSON instead of XML"
          }
        ],
        "responses": {
          "200": {
            "description": "Station schedule"
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized - Invalid API key",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    }
  },
  "components": {
    "securitySchemes": {
      "ApiKeyAuth": {
        "type": "apiKey",
        "in": "query",
        "name": "key",
        "description": "API registration key. Register at https://api.bart.gov/api/register.aspx"
      }
    },
    "schemas": {
      "ErrorResponse": {
        "type": "object",
        "properties": {
          "error": {
            "type": "string"
          },
          "status": {
            "type": "integer"
          }
        }
      },
      "AdvisoryResponse": {
        "type": "object",
        "properties": {
          "root": {
            "type": "object",
            "properties": {
              "date": {
                "type": "string"
              },
              "time": {
                "type": "string"
              },
              "bsa": {
                "type": "array",
                "items": {
                  "type": "object",
                  "properties": {
                    "station": {
                      "type": "string"
                    },
                    "type": {
                      "type": "string",
                      "enum": [
                        "DELAY",
                        "EMERGENCY"
                      ]
                    },
                    "description": {
                      "type": "object",
                      "properties": {
                        "#cdata-section": {
                          "type": "string"
                        }
                      }
                    },
                    "sms_text": {
                      "type": "object",
                      "properties": {
                        "#cdata-section": {
                          "type": "string"
                        }
                      }
                    },
                    "posted": {
                      "type": "string"
                    },
                    "expires": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          }
        }
      },
      "EtdResponse": {
        "type": "object",
        "properties": {
          "root": {
            "type": "object",
            "properties": {
              "date": {
                "type": "string"
              },
              "time": {
                "type": "string"
              },
              "station": {
                "type": "array",
                "items": {
                  "type": "object",
                  "properties": {
                    "name": {
                      "type": "string"
                    },
                    "abbr": {
                      "type": "string"
                    },
                    "etd": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "destination": {
                            "type": "string"
                          },
                          "abbreviation": {
                            "type": "string"
                          },
                          "limited": {
                            "type": "string"
                          },
                          "estimate": {
                            "type": "array",
                            "items": {
                              "type": "object",
                              "properties": {
                                "minutes": {
                                  "type": "string",
                                  "description": "Minutes until departure or 'Leaving'"
                                },
                                "platform": {
                                  "type": "string"
                                },
                                "direction": {
                                  "type": "string"
                                },
                                "length": {
                                  "type": "string",
                                  "description": "Number of cars"
                                },
                                "color": {
                                  "type": "string"
                                },
                                "hexcolor": {
                                  "type": "string"
                                },
                                "bikeflag": {
                                  "type": "string",
                                  "description": "1=bikes allowed, 0=no bikes"
                                },
                                "delay": {
                                  "type": "string",
                                  "description": "Delay in seconds"
                                },
                                "cancelflag": {
                                  "type": "string",
                                  "description": "1=cancelled"
                                },
                                "dynamicflag": {
                                  "type": "string",
                                  "description": "1=unscheduled service"
                                }
                              }
                            }
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        }
      },
      "StationsResponse": {
        "type": "object",
        "properties": {
          "root": {
            "type": "object",
            "properties": {
              "stations": {
                "type": "object",
                "properties": {
                  "station": {
                    "type": "array",
                    "items": {
                      "$ref": "#/components/schemas/Station"
                    }
                  }
                }
              }
            }
          }
        }
      },
      "Station": {
        "type": "object",
        "properties": {
          "name": {
            "type": "string"
          },
          "abbr": {
            "type": "string"
          },
          "gtfs_latitude": {
            "type": "string"
          },
          "gtfs_longitude": {
            "type": "string"
          },
          "address": {
            "type": "string"
          },
          "city": {
            "type": "string"
          },
          "county": {
            "type": "string"
          },
          "state": {
            "type": "string"
          },
          "zipcode": {
            "type": "string"
          }
        }
      },
      "StationInfoResponse": {
        "type": "object",
        "properties": {
          "root": {
            "type": "object",
            "properties": {
              "stations": {
                "type": "object",
                "properties": {
                  "station": {
                    "type": "object",
                    "allOf": [
                      {
                        "$ref": "#/components/schemas/Station"
                      }
                    ],
                    "properties": {
                      "north_routes": {
                        "type": "object",
                        "properties": {
                          "route": {
                            "type": "array",
                            "items": {
                              "type": "string"
                            }
                          }
                        }
                      },
                      "south_routes": {
                        "type": "object",
                        "properties": {
                          "route": {
                            "type": "array",
                            "items": {
                              "type": "string"
                            }
                          }
                        }
                      },
                      "north_platforms": {
                        "type": "object",
                        "properties": {
                          "platform": {
                            "oneOf": [
                              {
                                "type": "string"
                              },
                              {
                                "type": "array",
                                "items": {
                                  "type": "string"
                                }
                              }
                            ]
                          }
                        }
                      },
                      "south_platforms": {
                        "type": "object",
                        "properties": {
                          "platform": {
                            "oneOf": [
                              {
                                "type": "string"
                              },
                              {
                                "type": "array",
                                "items": {
                                  "type": "string"
                                }
                              }
                            ]
                          }
                        }
                      },
                      "platform_info": {
                        "type": "string"
                      },
                      "link": {
                        "type": "object",
                        "properties": {
                          "#cdata-section": {
                            "type": "string"
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        }
      },
      "RoutesResponse": {
        "type": "object",
        "properties": {
          "root": {
            "type": "object",
            "properties": {
              "routes": {
                "type": "object",
                "properties": {
                  "route": {
                    "type": "array",
                    "items": {
                      "type": "object",
                      "properties": {
                        "name": {
                          "type": "string"
                        },
                        "abbr": {
                          "type": "string"
                        },
                        "routeID": {
                          "type": "string"
                        },
                        "number": {
                          "type": "string"
                        },
                        "hexcolor": {
                          "type": "string"
                        },
                        "color": {
                          "type": "string"
                        },
                        "direction": {
                          "type": "string"
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        }
      },
      "RouteInfoResponse": {
        "type": "object",
        "properties": {
          "root": {
            "type": "object",
            "properties": {
              "routes": {
                "type": "object",
                "properties": {
                  "route": {
                    "type": "object",
                    "properties": {
                      "name": {
                        "type": "string"
                      },
                      "abbr": {
                        "type": "string"
                      },
                      "routeID": {
                        "type": "string"
                      },
                      "number": {
                        "type": "string"
                      },
                      "origin": {
                        "type": "string"
                      },
                      "destination": {
                        "type": "string"
                      },
                      "hexcolor": {
                        "type": "string"
                      },
                      "color": {
                        "type": "string"
                      },
                      "num_stns": {
                        "type": "string"
                      },
                      "config": {
                        "type": "object",
                        "properties": {
                          "station": {
                            "type": "array",
                            "items": {
                              "type": "string"
                            }
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        }
      },
      "FareResponse": {
        "type": "object",
        "properties": {
          "root": {
            "type": "object",
            "properties": {
              "origin": {
                "type": "string"
              },
              "destination": {
                "type": "string"
              },
              "sched_num": {
                "type": "string"
              },
              "trip": {
                "type": "object",
                "properties": {
                  "fare": {
                    "type": "string"
                  },
                  "discount": {
                    "type": "object",
                    "properties": {
                      "clipper": {
                        "type": "string"
                      }
                    }
                  }
                }
              },
              "fares": {
                "type": "object",
                "properties": {
                  "@level": {
                    "type": "string"
                  },
                  "fare": {
                    "type": "array",
                    "items": {
                      "type": "object",
                      "properties": {
                        "@amount": {
                          "type": "string"
                        },
                        "@class": {
                          "type": "string"
                        },
                        "@name": {
                          "type": "string"
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    }
  },
  "security": [
    {
      "ApiKeyAuth": []
    }
  ]
}
