{
  "openapi": "3.0.3",
  "info": {
    "title": "LinkedIn API",
    "version": "2.0.0",
    "description": "LinkedIn REST API v2 providing access to profile data, connections, shares, organizations, UGC posts, ad campaigns, and more. Most endpoints require partner-level access.",
    "x-jentic-source-url": "https://learn.microsoft.com/en-us/linkedin/",
    "contact": {
      "name": "API Support"
    }
  },
  "servers": [
    {
      "url": "https://api.linkedin.com/v2"
    }
  ],
  "paths": {
    "/me": {
      "get": {
        "operationId": "getAuthenticatedUser",
        "summary": "Get authenticated user profile",
        "description": "Returns the profile of the authenticated member",
        "tags": [
          "Profile"
        ],
        "parameters": [
          {
            "name": "projection",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Fields to include in the response"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Profile"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/people/(id:{personId})": {
      "get": {
        "operationId": "getPersonById",
        "summary": "Get person by ID",
        "description": "Returns the profile of a specific member by ID",
        "tags": [
          "Profile"
        ],
        "parameters": [
          {
            "name": "personId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Profile"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/emailAddress": {
      "get": {
        "operationId": "getEmailAddress",
        "summary": "Get primary email address",
        "description": "Returns the primary email address of the authenticated member",
        "tags": [
          "Profile"
        ],
        "parameters": [
          {
            "name": "q",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string",
              "enum": [
                "members"
              ]
            }
          },
          {
            "name": "projection",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "elements": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "handle~": {
                            "type": "object",
                            "properties": {
                              "emailAddress": {
                                "type": "string"
                              }
                            }
                          },
                          "handle": {
                            "type": "string"
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden - insufficient permissions",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/connections": {
      "get": {
        "operationId": "getConnections",
        "summary": "Get connections",
        "description": "Returns the connections of the authenticated member",
        "tags": [
          "Connections"
        ],
        "parameters": [
          {
            "name": "start",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "default": 0
            }
          },
          {
            "name": "count",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "default": 10,
              "maximum": 500
            }
          },
          {
            "name": "sortBy",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "enum": [
                "FIRSTNAME_LASTNAME"
              ]
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ConnectionsResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/ugcPosts": {
      "get": {
        "operationId": "listUgcPosts",
        "summary": "List UGC posts",
        "description": "Returns UGC (user-generated content) posts for the authenticated user or an organization",
        "tags": [
          "Shares"
        ],
        "parameters": [
          {
            "name": "q",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string",
              "enum": [
                "authors"
              ]
            }
          },
          {
            "name": "authors",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "URN of the author"
          },
          {
            "name": "start",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "count",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "elements": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/UgcPost"
                      }
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      },
      "post": {
        "operationId": "createUgcPost",
        "summary": "Create a UGC post",
        "description": "Creates a new UGC post (share)",
        "tags": [
          "Shares"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UgcPostRequest"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Created",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/UgcPost"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/ugcPosts/{ugcPostUrn}": {
      "get": {
        "operationId": "getUgcPost",
        "summary": "Get a UGC post",
        "description": "Returns a specific UGC post",
        "tags": [
          "Shares"
        ],
        "parameters": [
          {
            "name": "ugcPostUrn",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/UgcPost"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      },
      "delete": {
        "operationId": "deleteUgcPost",
        "summary": "Delete a UGC post",
        "description": "Deletes a specific UGC post",
        "tags": [
          "Shares"
        ],
        "parameters": [
          {
            "name": "ugcPostUrn",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "Deleted"
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/shares": {
      "post": {
        "operationId": "createShare",
        "summary": "Create a share",
        "description": "Creates a new share on LinkedIn",
        "tags": [
          "Shares"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ShareRequest"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Created",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/organizations/{organizationId}": {
      "get": {
        "operationId": "getOrganization",
        "summary": "Get organization",
        "description": "Returns information about an organization",
        "tags": [
          "Organizations"
        ],
        "parameters": [
          {
            "name": "organizationId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Organization"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/organizationAcls": {
      "get": {
        "operationId": "getOrganizationAcls",
        "summary": "Get organization ACLs",
        "description": "Returns access control list for organizations the member administers",
        "tags": [
          "Organizations"
        ],
        "parameters": [
          {
            "name": "q",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string",
              "enum": [
                "roleAssignee"
              ]
            }
          },
          {
            "name": "role",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "enum": [
                "ADMINISTRATOR",
                "DIRECT_SPONSORED_CONTENT_POSTER"
              ]
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/organizationalEntityFollowerStatistics": {
      "get": {
        "operationId": "getFollowerStatistics",
        "summary": "Get organization follower statistics",
        "description": "Returns follower statistics for an organization",
        "tags": [
          "Organizations"
        ],
        "parameters": [
          {
            "name": "q",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string",
              "enum": [
                "organizationalEntity"
              ]
            }
          },
          {
            "name": "organizationalEntity",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/organizationalEntityShareStatistics": {
      "get": {
        "operationId": "getShareStatistics",
        "summary": "Get organization share statistics",
        "description": "Returns share statistics for an organization",
        "tags": [
          "Organizations"
        ],
        "parameters": [
          {
            "name": "q",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string",
              "enum": [
                "organizationalEntity"
              ]
            }
          },
          {
            "name": "organizationalEntity",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "shares",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/adAccounts": {
      "get": {
        "operationId": "listAdAccounts",
        "summary": "List ad accounts",
        "description": "Returns ad accounts accessible to the authenticated user",
        "tags": [
          "Marketing"
        ],
        "parameters": [
          {
            "name": "q",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string",
              "enum": [
                "search"
              ]
            }
          },
          {
            "name": "search.type.values[0]",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "search.status.values[0]",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "enum": [
                "ACTIVE",
                "CANCELLED",
                "DRAFT"
              ]
            }
          },
          {
            "name": "start",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "count",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/adCampaigns": {
      "get": {
        "operationId": "listAdCampaigns",
        "summary": "List ad campaigns",
        "description": "Returns ad campaigns for the account",
        "tags": [
          "Marketing"
        ],
        "parameters": [
          {
            "name": "q",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string",
              "enum": [
                "search"
              ]
            }
          },
          {
            "name": "search.account.values[0]",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "start",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "count",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/adCreatives": {
      "get": {
        "operationId": "listAdCreatives",
        "summary": "List ad creatives",
        "description": "Returns ad creatives for campaigns",
        "tags": [
          "Marketing"
        ],
        "parameters": [
          {
            "name": "q",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string",
              "enum": [
                "search"
              ]
            }
          },
          {
            "name": "search.campaign.values[0]",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "start",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "count",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/adAnalytics": {
      "get": {
        "operationId": "getAdAnalytics",
        "summary": "Get ad analytics",
        "description": "Returns analytics for ad campaigns",
        "tags": [
          "Marketing"
        ],
        "parameters": [
          {
            "name": "q",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string",
              "enum": [
                "analytics"
              ]
            }
          },
          {
            "name": "dateRange.start.day",
            "in": "query",
            "required": true,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "dateRange.start.month",
            "in": "query",
            "required": true,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "dateRange.start.year",
            "in": "query",
            "required": true,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "dateRange.end.day",
            "in": "query",
            "required": true,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "dateRange.end.month",
            "in": "query",
            "required": true,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "dateRange.end.year",
            "in": "query",
            "required": true,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "timeGranularity",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string",
              "enum": [
                "DAILY",
                "MONTHLY",
                "ALL"
              ]
            }
          },
          {
            "name": "campaigns[0]",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/images": {
      "post": {
        "operationId": "initializeImageUpload",
        "summary": "Initialize image upload",
        "description": "Initializes an image upload for sharing",
        "tags": [
          "Media"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "initializeUploadRequest": {
                    "type": "object",
                    "properties": {
                      "owner": {
                        "type": "string"
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Upload initialized",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "value": {
                      "type": "object",
                      "properties": {
                        "uploadUrl": {
                          "type": "string"
                        },
                        "image": {
                          "type": "string"
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/socialActions/{activityUrn}/likes": {
      "get": {
        "operationId": "getLikes",
        "summary": "Get likes on an activity",
        "description": "Returns likes on a social activity",
        "tags": [
          "Social Actions"
        ],
        "parameters": [
          {
            "name": "activityUrn",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "start",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "count",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      },
      "post": {
        "operationId": "likeActivity",
        "summary": "Like an activity",
        "description": "Likes a social activity",
        "tags": [
          "Social Actions"
        ],
        "parameters": [
          {
            "name": "activityUrn",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "actor": {
                    "type": "string"
                  },
                  "object": {
                    "type": "string"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Liked"
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/socialActions/{activityUrn}/comments": {
      "get": {
        "operationId": "getComments",
        "summary": "Get comments on activity",
        "description": "Returns comments on a social activity",
        "tags": [
          "Social Actions"
        ],
        "parameters": [
          {
            "name": "activityUrn",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "start",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "count",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      },
      "post": {
        "operationId": "createComment",
        "summary": "Create a comment",
        "description": "Creates a comment on a social activity",
        "tags": [
          "Social Actions"
        ],
        "parameters": [
          {
            "name": "activityUrn",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "actor": {
                    "type": "string"
                  },
                  "object": {
                    "type": "string"
                  },
                  "message": {
                    "type": "object",
                    "properties": {
                      "text": {
                        "type": "string"
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Comment created"
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    }
  },
  "components": {
    "schemas": {
      "Profile": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string"
          },
          "localizedFirstName": {
            "type": "string"
          },
          "localizedLastName": {
            "type": "string"
          },
          "localizedHeadline": {
            "type": "string"
          },
          "profilePicture": {
            "type": "object",
            "properties": {
              "displayImage": {
                "type": "string"
              }
            }
          },
          "vanityName": {
            "type": "string"
          }
        }
      },
      "ConnectionsResponse": {
        "type": "object",
        "properties": {
          "elements": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "to": {
                  "type": "string"
                },
                "createdAt": {
                  "type": "integer"
                }
              }
            }
          },
          "paging": {
            "type": "object",
            "properties": {
              "count": {
                "type": "integer"
              },
              "start": {
                "type": "integer"
              },
              "total": {
                "type": "integer"
              }
            }
          }
        }
      },
      "Organization": {
        "type": "object",
        "properties": {
          "id": {
            "type": "integer"
          },
          "localizedName": {
            "type": "string"
          },
          "localizedDescription": {
            "type": "string"
          },
          "vanityName": {
            "type": "string"
          },
          "logoV2": {
            "type": "object"
          },
          "organizationType": {
            "type": "string"
          },
          "staffCountRange": {
            "type": "string"
          },
          "industries": {
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "locations": {
            "type": "array",
            "items": {
              "type": "object"
            }
          },
          "website": {
            "type": "object",
            "properties": {
              "localized": {
                "type": "object"
              }
            }
          }
        }
      },
      "UgcPost": {
        "type": "object",
        "properties": {
          "author": {
            "type": "string"
          },
          "lifecycleState": {
            "type": "string",
            "enum": [
              "PUBLISHED",
              "DRAFT"
            ]
          },
          "specificContent": {
            "type": "object"
          },
          "visibility": {
            "type": "object",
            "properties": {
              "com.linkedin.ugc.MemberNetworkVisibility": {
                "type": "string",
                "enum": [
                  "PUBLIC",
                  "CONNECTIONS"
                ]
              }
            }
          }
        }
      },
      "UgcPostRequest": {
        "type": "object",
        "required": [
          "author",
          "lifecycleState",
          "specificContent",
          "visibility"
        ],
        "properties": {
          "author": {
            "type": "string",
            "description": "URN of the author (person or org)"
          },
          "lifecycleState": {
            "type": "string",
            "enum": [
              "PUBLISHED"
            ]
          },
          "specificContent": {
            "type": "object",
            "properties": {
              "com.linkedin.ugc.ShareContent": {
                "type": "object",
                "properties": {
                  "shareCommentary": {
                    "type": "object",
                    "properties": {
                      "text": {
                        "type": "string"
                      }
                    }
                  },
                  "shareMediaCategory": {
                    "type": "string",
                    "enum": [
                      "NONE",
                      "ARTICLE",
                      "IMAGE",
                      "RICH",
                      "VIDEO"
                    ]
                  },
                  "media": {
                    "type": "array",
                    "items": {
                      "type": "object"
                    }
                  }
                }
              }
            }
          },
          "visibility": {
            "type": "object",
            "properties": {
              "com.linkedin.ugc.MemberNetworkVisibility": {
                "type": "string",
                "enum": [
                  "PUBLIC",
                  "CONNECTIONS"
                ]
              }
            }
          }
        }
      },
      "ShareRequest": {
        "type": "object",
        "properties": {
          "owner": {
            "type": "string"
          },
          "text": {
            "type": "object",
            "properties": {
              "text": {
                "type": "string"
              }
            }
          },
          "content": {
            "type": "object"
          },
          "distribution": {
            "type": "object",
            "properties": {
              "linkedInDistributionTarget": {
                "type": "object"
              }
            }
          }
        }
      },
      "ErrorResponse": {
        "type": "object",
        "properties": {
          "status": {
            "type": "integer"
          },
          "serviceErrorCode": {
            "type": "integer"
          },
          "code": {
            "type": "string"
          },
          "message": {
            "type": "string"
          }
        }
      }
    },
    "securitySchemes": {
      "oauth2": {
        "type": "oauth2",
        "flows": {
          "authorizationCode": {
            "authorizationUrl": "https://www.linkedin.com/oauth/v2/authorization",
            "tokenUrl": "https://www.linkedin.com/oauth/v2/accessToken",
            "scopes": {
              "r_liteprofile": "Read lite profile",
              "r_emailaddress": "Read email",
              "w_member_social": "Write shares",
              "r_organization_social": "Read org social",
              "rw_organization_admin": "Manage orgs",
              "r_ads": "Read ads",
              "rw_ads": "Manage ads"
            }
          }
        }
      }
    }
  },
  "security": [
    {
      "oauth2": []
    }
  ],
  "tags": [
    {
      "name": "Connections"
    },
    {
      "name": "Marketing"
    },
    {
      "name": "Media"
    },
    {
      "name": "Organizations"
    },
    {
      "name": "Profile"
    },
    {
      "name": "Shares"
    },
    {
      "name": "Social Actions"
    }
  ]
}
