{
  "openapi": "3.0.0",
  "info": {
    "description": "Welcome to the autogenerated documentation & test tool for Avaza's API. <br/><br/><strong>API Security & Authentication</strong><br/>Authentication options include OAuth2 Implicit and Authorization Code flows, and Personal Access Token. All connections should be encrypted over SSL/TLS <br/><br/>You can set up and manage your api authentication credentials from within your Avaza account. (requires Administrator permissions on your Avaza account).<br/><br/> OAuth2 Authorization endpoint: https://any.avaza.com/oauth2/authorize  <br/>OAuth2 Token endpoint: https://any.avaza.com/oauth2/token<br/>Base URL for subsequent API Requests: https://api.avaza.com/ <br/><br/>Blogpost about authenticating with Avaza's API:  https://www.avaza.com/avaza-api-oauth2-authentication/ <br/>Blogpost on using Avaza's webhooks: https://www.avaza.com/avaza-api-webhook-notifications/<br/>The OAuth flow currently issues Access Tokens that last 1 day, and Refresh tokens that last 180 days<br/>The Api respects the security Roles assigned to the authenticating Avaza user and filters the data return appropriately. <br/><br><strong>Support</strong><br/>For API Support, and to request access please contact Avaza Support Team via our support chat. <br/><br/><strong>User Contributed Libraries:</strong><br/>Graciously contributed by 3rd party users like you. <br/>Note these are not tested or endorsesd by Avaza. We encourage you to review before use, and use at own risk.<br/> <ul><li> - <a target='blank' href='https://packagist.org/packages/debiprasad/oauth2-avaza'>PHP OAuth Client Package for Azava API (by Debiprasad Sahoo)</a></li></ul>",
    "title": "Avaza API Documentation",
    "version": "v1",
    "x-jentic-source-url": "https://raw.githubusercontent.com/jentic/jentic-public-apis/refs/heads/main/apis/openapi/avaza.com/main/v1/openapi.json",
    "contact": {
      "name": "API Support"
    }
  },
  "servers": [
    {
      "url": "https://api.avaza.com/"
    }
  ],
  "paths": {
    "/ScheduleSeries/AddBooking": {
      "post": {
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ScheduleSeriesDetails"
                }
              },
              "application/xml": {
                "schema": {
                  "$ref": "#/components/schemas/ScheduleSeriesDetails"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/ScheduleSeriesDetails"
                }
              },
              "text/xml": {
                "schema": {
                  "$ref": "#/components/schemas/ScheduleSeriesDetails"
                }
              }
            },
            "description": "OK"
          }
        },
        "security": [
          {
            "oauth2": [
              "write_schedule"
            ]
          }
        ],
        "tags": [
          "ScheduleSeries"
        ],
        "operationId": "ScheduleSeries_AddBooking",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateBooking"
              }
            },
            "application/x-www-form-urlencoded": {
              "schema": {
                "$ref": "#/components/schemas/CreateBooking"
              }
            },
            "application/xml": {
              "schema": {
                "$ref": "#/components/schemas/CreateBooking"
              }
            },
            "text/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateBooking"
              }
            },
            "text/xml": {
              "schema": {
                "$ref": "#/components/schemas/CreateBooking"
              }
            }
          },
          "required": true
        },
        "summary": "Create new Schedule Booking",
        "description": "Create new Schedule Booking"
      }
    },
    "/ScheduleSeries/AddLeave": {
      "post": {
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ScheduleSeriesDetails"
                }
              },
              "application/xml": {
                "schema": {
                  "$ref": "#/components/schemas/ScheduleSeriesDetails"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/ScheduleSeriesDetails"
                }
              },
              "text/xml": {
                "schema": {
                  "$ref": "#/components/schemas/ScheduleSeriesDetails"
                }
              }
            },
            "description": "OK"
          }
        },
        "security": [
          {
            "oauth2": [
              "write_schedule"
            ]
          }
        ],
        "tags": [
          "ScheduleSeries"
        ],
        "operationId": "ScheduleSeries_AddLeave",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateLeave"
              }
            },
            "application/x-www-form-urlencoded": {
              "schema": {
                "$ref": "#/components/schemas/CreateLeave"
              }
            },
            "application/xml": {
              "schema": {
                "$ref": "#/components/schemas/CreateLeave"
              }
            },
            "text/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateLeave"
              }
            },
            "text/xml": {
              "schema": {
                "$ref": "#/components/schemas/CreateLeave"
              }
            }
          },
          "required": true
        },
        "summary": "Create new Leave Booking",
        "description": "Create new Leave Booking"
      }
    },
    "/ScheduleSeries/EditBooking": {
      "put": {
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ScheduleSeriesDetails"
                }
              },
              "application/xml": {
                "schema": {
                  "$ref": "#/components/schemas/ScheduleSeriesDetails"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/ScheduleSeriesDetails"
                }
              },
              "text/xml": {
                "schema": {
                  "$ref": "#/components/schemas/ScheduleSeriesDetails"
                }
              }
            },
            "description": "OK"
          }
        },
        "security": [
          {
            "oauth2": [
              "write_schedule"
            ]
          }
        ],
        "tags": [
          "ScheduleSeries"
        ],
        "operationId": "ScheduleSeries_EditBooking",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/EditBooking"
              }
            },
            "application/x-www-form-urlencoded": {
              "schema": {
                "$ref": "#/components/schemas/EditBooking"
              }
            },
            "application/xml": {
              "schema": {
                "$ref": "#/components/schemas/EditBooking"
              }
            },
            "text/json": {
              "schema": {
                "$ref": "#/components/schemas/EditBooking"
              }
            },
            "text/xml": {
              "schema": {
                "$ref": "#/components/schemas/EditBooking"
              }
            }
          },
          "required": true
        },
        "summary": "Edit Booking",
        "description": "Edit Booking"
      }
    },
    "/ScheduleSeries/EditLeave": {
      "put": {
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ScheduleSeriesDetails"
                }
              },
              "application/xml": {
                "schema": {
                  "$ref": "#/components/schemas/ScheduleSeriesDetails"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/ScheduleSeriesDetails"
                }
              },
              "text/xml": {
                "schema": {
                  "$ref": "#/components/schemas/ScheduleSeriesDetails"
                }
              }
            },
            "description": "OK"
          }
        },
        "security": [
          {
            "oauth2": [
              "write_schedule"
            ]
          }
        ],
        "tags": [
          "ScheduleSeries"
        ],
        "operationId": "ScheduleSeries_EditLeave",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/EditLeave"
              }
            },
            "application/x-www-form-urlencoded": {
              "schema": {
                "$ref": "#/components/schemas/EditLeave"
              }
            },
            "application/xml": {
              "schema": {
                "$ref": "#/components/schemas/EditLeave"
              }
            },
            "text/json": {
              "schema": {
                "$ref": "#/components/schemas/EditLeave"
              }
            },
            "text/xml": {
              "schema": {
                "$ref": "#/components/schemas/EditLeave"
              }
            }
          },
          "required": true
        },
        "summary": "Edit Leave Booking",
        "description": "Edit Leave Booking"
      }
    },
    "/api/Account": {
      "get": {
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AccountDetails"
                }
              },
              "application/xml": {
                "schema": {
                  "$ref": "#/components/schemas/AccountDetails"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/AccountDetails"
                }
              },
              "text/xml": {
                "schema": {
                  "$ref": "#/components/schemas/AccountDetails"
                }
              }
            },
            "description": "Success"
          },
          "401": {
            "description": "Unauthorized"
          }
        },
        "security": [
          {
            "oauth2": [
              "read_account"
            ]
          }
        ],
        "tags": [
          "Account"
        ],
        "operationId": "Account_Get",
        "summary": "Account Details",
        "description": "Account Details"
      }
    },
    "/api/Bill": {
      "get": {
        "parameters": [
          {
            "in": "query",
            "name": "UpdatedAfter",
            "required": false,
            "schema": {
              "format": "date-time",
              "type": "string"
            }
          },
          {
            "description": "Number of items per page (max 1000)",
            "in": "query",
            "name": "pageSize",
            "required": false,
            "schema": {
              "format": "int32",
              "type": "integer"
            }
          },
          {
            "description": "Page to display. Starts from 1.",
            "in": "query",
            "name": "pageNumber",
            "required": false,
            "schema": {
              "format": "int32",
              "type": "integer"
            }
          },
          {
            "in": "query",
            "name": "Sort",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "in": "query",
            "name": "CompanyIDFK",
            "required": false,
            "schema": {
              "format": "int32",
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BillList"
                }
              },
              "application/xml": {
                "schema": {
                  "$ref": "#/components/schemas/BillList"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/BillList"
                }
              },
              "text/xml": {
                "schema": {
                  "$ref": "#/components/schemas/BillList"
                }
              }
            },
            "description": "Success"
          },
          "401": {
            "description": "Unauthorized"
          }
        },
        "security": [
          {
            "oauth2": [
              "read_financials"
            ]
          }
        ],
        "tags": [
          "Bill"
        ],
        "description": "TransactionStatusCode values are: \"Draft\", \"Verified\", \"Late\", \"Paid\", \"Partial\", \"Void\"",
        "operationId": "Bill_Get",
        "summary": "Gets list of Bills"
      },
      "post": {
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Bill"
                }
              },
              "application/xml": {
                "schema": {
                  "$ref": "#/components/schemas/Bill"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/Bill"
                }
              },
              "text/xml": {
                "schema": {
                  "$ref": "#/components/schemas/Bill"
                }
              }
            },
            "description": "OK"
          }
        },
        "security": [
          {
            "oauth2": [
              "write_financials"
            ]
          }
        ],
        "tags": [
          "Bill"
        ],
        "operationId": "Bill_Post",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/NewBill"
              }
            },
            "application/x-www-form-urlencoded": {
              "schema": {
                "$ref": "#/components/schemas/NewBill"
              }
            },
            "application/xml": {
              "schema": {
                "$ref": "#/components/schemas/NewBill"
              }
            },
            "text/json": {
              "schema": {
                "$ref": "#/components/schemas/NewBill"
              }
            },
            "text/xml": {
              "schema": {
                "$ref": "#/components/schemas/NewBill"
              }
            }
          },
          "required": true
        },
        "summary": "Create a new draft Bill",
        "description": "Create a new draft Bill"
      }
    },
    "/api/Bill/{id}": {
      "get": {
        "parameters": [
          {
            "description": "Bill Transaction ID number",
            "in": "path",
            "name": "id",
            "required": true,
            "schema": {
              "format": "int64",
              "type": "integer"
            }
          }
        ],
        "responses": {
          "401": {
            "description": "Unauthorized"
          },
          "404": {
            "description": "Not Found"
          }
        },
        "security": [
          {
            "oauth2": [
              "read_financials"
            ]
          }
        ],
        "tags": [
          "Bill"
        ],
        "operationId": "Bill_GetByID",
        "summary": "Gets a Bill by Bill ID",
        "description": "Gets a Bill by Bill ID"
      }
    },
    "/api/BillPayment": {
      "get": {
        "parameters": [
          {
            "in": "query",
            "name": "UpdatedAfter",
            "required": false,
            "schema": {
              "format": "date-time",
              "type": "string"
            }
          },
          {
            "description": "Number of items per page (max 1000)",
            "in": "query",
            "name": "pageSize",
            "required": false,
            "schema": {
              "format": "int32",
              "type": "integer"
            }
          },
          {
            "description": "Page to display. Starts from 1.",
            "in": "query",
            "name": "pageNumber",
            "required": false,
            "schema": {
              "format": "int32",
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BillPaymentList"
                }
              },
              "application/xml": {
                "schema": {
                  "$ref": "#/components/schemas/BillPaymentList"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/BillPaymentList"
                }
              },
              "text/xml": {
                "schema": {
                  "$ref": "#/components/schemas/BillPaymentList"
                }
              }
            },
            "description": "Success"
          },
          "401": {
            "description": "Unauthorized"
          }
        },
        "security": [
          {
            "oauth2": [
              "read_financials"
            ]
          }
        ],
        "tags": [
          "BillPayment"
        ],
        "operationId": "BillPayment_Get",
        "summary": "Gets list of Bill Payments",
        "description": "Gets list of Bill Payments"
      },
      "post": {
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BillPayment"
                }
              },
              "application/xml": {
                "schema": {
                  "$ref": "#/components/schemas/BillPayment"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/BillPayment"
                }
              },
              "text/xml": {
                "schema": {
                  "$ref": "#/components/schemas/BillPayment"
                }
              }
            },
            "description": "OK"
          }
        },
        "security": [
          {
            "oauth2": [
              "write_financials"
            ]
          }
        ],
        "tags": [
          "BillPayment"
        ],
        "operationId": "BillPayment_Post",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/NewBillPayment"
              }
            },
            "application/x-www-form-urlencoded": {
              "schema": {
                "$ref": "#/components/schemas/NewBillPayment"
              }
            },
            "application/xml": {
              "schema": {
                "$ref": "#/components/schemas/NewBillPayment"
              }
            },
            "text/json": {
              "schema": {
                "$ref": "#/components/schemas/NewBillPayment"
              }
            },
            "text/xml": {
              "schema": {
                "$ref": "#/components/schemas/NewBillPayment"
              }
            }
          },
          "required": true
        },
        "summary": "Create new Bill Payment and optionally assign payment allocations to Bills",
        "description": "Create new Bill Payment and optionally assign payment allocations to Bills"
      }
    },
    "/api/BillPayment/{id}": {
      "get": {
        "parameters": [
          {
            "description": "Invoice Transaction ID Number",
            "in": "path",
            "name": "id",
            "required": true,
            "schema": {
              "format": "int64",
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BillPayment"
                }
              },
              "application/xml": {
                "schema": {
                  "$ref": "#/components/schemas/BillPayment"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/BillPayment"
                }
              },
              "text/xml": {
                "schema": {
                  "$ref": "#/components/schemas/BillPayment"
                }
              }
            },
            "description": "Success"
          },
          "401": {
            "description": "Unauthorized"
          },
          "404": {
            "description": "Not Found"
          }
        },
        "security": [
          {
            "oauth2": [
              "read_financials"
            ]
          }
        ],
        "tags": [
          "BillPayment"
        ],
        "operationId": "BillPayment_GetByID",
        "summary": "Gets a Bill Payment by Payment Transaction ID",
        "description": "Gets a Bill Payment by Payment Transaction ID"
      }
    },
    "/api/Company": {
      "get": {
        "parameters": [
          {
            "in": "query",
            "name": "UpdatedAfter",
            "required": false,
            "schema": {
              "format": "date-time",
              "type": "string"
            }
          },
          {
            "description": "Number of results per page",
            "in": "query",
            "name": "pageSize",
            "required": false,
            "schema": {
              "format": "int32",
              "type": "integer"
            }
          },
          {
            "description": "1 based page number to retrieve",
            "in": "query",
            "name": "pageNumber",
            "required": false,
            "schema": {
              "format": "int32",
              "type": "integer"
            }
          },
          {
            "description": "(optional) Supply one of: \"DateUpdated\", \"DateCreated\", \"CompanyName\",\"DateUpdated desc\",\"DateCreated desc\", \"CompanyName desc\"",
            "in": "query",
            "name": "Sort",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CompanyList"
                }
              },
              "application/xml": {
                "schema": {
                  "$ref": "#/components/schemas/CompanyList"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/CompanyList"
                }
              },
              "text/xml": {
                "schema": {
                  "$ref": "#/components/schemas/CompanyList"
                }
              }
            },
            "description": "Success"
          },
          "401": {
            "description": "Unauthorized"
          }
        },
        "security": [
          {
            "oauth2": [
              "read_contacts"
            ]
          }
        ],
        "tags": [
          "Company"
        ],
        "operationId": "Company_Get",
        "summary": "Gets list of Companies",
        "description": "Gets list of Companies"
      },
      "post": {
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Company"
                }
              },
              "application/xml": {
                "schema": {
                  "$ref": "#/components/schemas/Company"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/Company"
                }
              },
              "text/xml": {
                "schema": {
                  "$ref": "#/components/schemas/Company"
                }
              }
            },
            "description": "Success"
          },
          "401": {
            "description": "Unauthorized"
          }
        },
        "security": [
          {
            "oauth2": [
              "write_contacts"
            ]
          }
        ],
        "tags": [
          "Company"
        ],
        "operationId": "Company_Post",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/NewCompany"
              }
            },
            "application/x-www-form-urlencoded": {
              "schema": {
                "$ref": "#/components/schemas/NewCompany"
              }
            },
            "application/xml": {
              "schema": {
                "$ref": "#/components/schemas/NewCompany"
              }
            },
            "text/json": {
              "schema": {
                "$ref": "#/components/schemas/NewCompany"
              }
            },
            "text/xml": {
              "schema": {
                "$ref": "#/components/schemas/NewCompany"
              }
            }
          },
          "required": true
        },
        "summary": "Create a Company",
        "description": "Create a Company"
      },
      "put": {
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Company"
                }
              },
              "application/xml": {
                "schema": {
                  "$ref": "#/components/schemas/Company"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/Company"
                }
              },
              "text/xml": {
                "schema": {
                  "$ref": "#/components/schemas/Company"
                }
              }
            },
            "description": "OK"
          }
        },
        "security": [
          {
            "oauth2": [
              "write_contacts"
            ]
          }
        ],
        "tags": [
          "Company"
        ],
        "description": "Requires CompanyID and a list of field names to update. The FieldsToUpdate field accepts a string array containing field names that should be updated.",
        "operationId": "Company_Put",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UpdateCompany"
              }
            },
            "application/x-www-form-urlencoded": {
              "schema": {
                "$ref": "#/components/schemas/UpdateCompany"
              }
            },
            "application/xml": {
              "schema": {
                "$ref": "#/components/schemas/UpdateCompany"
              }
            },
            "text/json": {
              "schema": {
                "$ref": "#/components/schemas/UpdateCompany"
              }
            },
            "text/xml": {
              "schema": {
                "$ref": "#/components/schemas/UpdateCompany"
              }
            }
          },
          "required": true
        },
        "summary": "Update a Company record."
      }
    },
    "/api/Company/Lookup": {
      "get": {
        "parameters": [
          {
            "description": "Number of items per page (max 1000)",
            "in": "query",
            "name": "pageSize",
            "required": false,
            "schema": {
              "format": "int32",
              "type": "integer"
            }
          },
          {
            "description": "Page to display. Starts from 1.",
            "in": "query",
            "name": "pageNumber",
            "required": false,
            "schema": {
              "format": "int32",
              "type": "integer"
            }
          },
          {
            "description": "Search string to match against Company title",
            "in": "query",
            "name": "search",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CompanyDropdownList"
                }
              },
              "application/xml": {
                "schema": {
                  "$ref": "#/components/schemas/CompanyDropdownList"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/CompanyDropdownList"
                }
              },
              "text/xml": {
                "schema": {
                  "$ref": "#/components/schemas/CompanyDropdownList"
                }
              }
            },
            "description": "OK"
          }
        },
        "security": [
          {
            "oauth2": [
              "read_contacts"
            ]
          }
        ],
        "tags": [
          "Company"
        ],
        "description": "Certain roles see a restricted set of companies based on their project memberships",
        "operationId": "CompanyLookup",
        "summary": "Gets minimal list of Companies."
      }
    },
    "/api/Company/{id}": {
      "get": {
        "parameters": [
          {
            "description": "Company ID Number",
            "in": "path",
            "name": "id",
            "required": true,
            "schema": {
              "format": "int64",
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Company"
                }
              },
              "application/xml": {
                "schema": {
                  "$ref": "#/components/schemas/Company"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/Company"
                }
              },
              "text/xml": {
                "schema": {
                  "$ref": "#/components/schemas/Company"
                }
              }
            },
            "description": "Success"
          },
          "401": {
            "description": "Unauthorized"
          },
          "404": {
            "description": "Not Found"
          }
        },
        "security": [
          {
            "oauth2": [
              "read_contacts"
            ]
          }
        ],
        "tags": [
          "Company"
        ],
        "operationId": "Company_GetByID",
        "summary": "Gets Company by Company ID",
        "description": "Gets Company by Company ID"
      }
    },
    "/api/Contact": {
      "get": {
        "parameters": [
          {
            "in": "query",
            "name": "UpdatedAfter",
            "required": false,
            "schema": {
              "format": "date-time",
              "type": "string"
            }
          },
          {
            "description": "Number of items per page (max 1000)",
            "in": "query",
            "name": "pageSize",
            "required": false,
            "schema": {
              "format": "int32",
              "type": "integer"
            }
          },
          {
            "description": "Page to display. Starts from 1.",
            "in": "query",
            "name": "pageNumber",
            "required": false,
            "schema": {
              "format": "int32",
              "type": "integer"
            }
          },
          {
            "in": "query",
            "name": "Sort",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "in": "query",
            "name": "CompanyIDFK",
            "required": false,
            "schema": {
              "format": "int32",
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ContactList"
                }
              },
              "application/xml": {
                "schema": {
                  "$ref": "#/components/schemas/ContactList"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/ContactList"
                }
              },
              "text/xml": {
                "schema": {
                  "$ref": "#/components/schemas/ContactList"
                }
              }
            },
            "description": "Success"
          },
          "401": {
            "description": "Unauthorized"
          }
        },
        "security": [
          {
            "oauth2": [
              "read_contacts"
            ]
          }
        ],
        "tags": [
          "Contact"
        ],
        "operationId": "Contact_Get",
        "summary": "Gets list of Contacts",
        "description": "Gets list of Contacts"
      },
      "post": {
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CompanyContact"
                }
              },
              "application/xml": {
                "schema": {
                  "$ref": "#/components/schemas/CompanyContact"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/CompanyContact"
                }
              },
              "text/xml": {
                "schema": {
                  "$ref": "#/components/schemas/CompanyContact"
                }
              }
            },
            "description": "Success"
          },
          "401": {
            "description": "Unauthorized"
          }
        },
        "security": [
          {
            "oauth2": [
              "write_contacts"
            ]
          }
        ],
        "tags": [
          "Contact"
        ],
        "operationId": "Contact_Post",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/NewCompanyContact"
              }
            },
            "application/x-www-form-urlencoded": {
              "schema": {
                "$ref": "#/components/schemas/NewCompanyContact"
              }
            },
            "application/xml": {
              "schema": {
                "$ref": "#/components/schemas/NewCompanyContact"
              }
            },
            "text/json": {
              "schema": {
                "$ref": "#/components/schemas/NewCompanyContact"
              }
            },
            "text/xml": {
              "schema": {
                "$ref": "#/components/schemas/NewCompanyContact"
              }
            }
          },
          "required": true
        },
        "summary": "Create a Contact",
        "description": "Create a Contact"
      }
    },
    "/api/Contact/{id}": {
      "get": {
        "parameters": [
          {
            "description": "Contact ID number",
            "in": "path",
            "name": "id",
            "required": true,
            "schema": {
              "format": "int64",
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CompanyContact"
                }
              },
              "application/xml": {
                "schema": {
                  "$ref": "#/components/schemas/CompanyContact"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/CompanyContact"
                }
              },
              "text/xml": {
                "schema": {
                  "$ref": "#/components/schemas/CompanyContact"
                }
              }
            },
            "description": "Success"
          },
          "401": {
            "description": "Unauthorized"
          },
          "404": {
            "description": "Not Found"
          }
        },
        "security": [
          {
            "oauth2": [
              "read_contacts"
            ]
          }
        ],
        "tags": [
          "Contact"
        ],
        "operationId": "Contact_GetByID",
        "summary": "Gets Contact by Contact ID",
        "description": "Gets Contact by Contact ID"
      }
    },
    "/api/CreditNote": {
      "get": {
        "parameters": [
          {
            "in": "query",
            "name": "UpdatedAfter",
            "required": false,
            "schema": {
              "format": "date-time",
              "type": "string"
            }
          },
          {
            "description": "Number of items per page (max 1000)",
            "in": "query",
            "name": "pageSize",
            "required": false,
            "schema": {
              "format": "int32",
              "type": "integer"
            }
          },
          {
            "description": "Page to display. Starts from 1.",
            "in": "query",
            "name": "pageNumber",
            "required": false,
            "schema": {
              "format": "int32",
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CreditNoteList"
                }
              },
              "application/xml": {
                "schema": {
                  "$ref": "#/components/schemas/CreditNoteList"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/CreditNoteList"
                }
              },
              "text/xml": {
                "schema": {
                  "$ref": "#/components/schemas/CreditNoteList"
                }
              }
            },
            "description": "Success"
          },
          "401": {
            "description": "Unauthorized"
          }
        },
        "security": [
          {
            "oauth2": [
              "read_financials"
            ]
          }
        ],
        "tags": [
          "CreditNote"
        ],
        "operationId": "CreditNote_Get",
        "summary": "Gets list of CreditNotes",
        "description": "Gets list of CreditNotes"
      }
    },
    "/api/CreditNote/{id}": {
      "get": {
        "parameters": [
          {
            "description": "Credit Note ID Number",
            "in": "path",
            "name": "id",
            "required": true,
            "schema": {
              "format": "int64",
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CreditNote"
                }
              },
              "application/xml": {
                "schema": {
                  "$ref": "#/components/schemas/CreditNote"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/CreditNote"
                }
              },
              "text/xml": {
                "schema": {
                  "$ref": "#/components/schemas/CreditNote"
                }
              }
            },
            "description": "Success"
          },
          "401": {
            "description": "Unauthorized"
          },
          "404": {
            "description": "Not Found"
          }
        },
        "security": [
          {
            "oauth2": [
              "read_financials"
            ]
          }
        ],
        "tags": [
          "CreditNote"
        ],
        "operationId": "CreditNote_GetByID",
        "summary": "Gets Credit Note by CreditNoteID",
        "description": "Gets Credit Note by CreditNoteID"
      }
    },
    "/api/Currency": {
      "get": {
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CurrencyList"
                }
              },
              "application/xml": {
                "schema": {
                  "$ref": "#/components/schemas/CurrencyList"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/CurrencyList"
                }
              },
              "text/xml": {
                "schema": {
                  "$ref": "#/components/schemas/CurrencyList"
                }
              }
            },
            "description": "Success"
          }
        },
        "tags": [
          "Currency"
        ],
        "operationId": "Currency_Get",
        "summary": "Gets list of Currencies",
        "description": "Gets list of Currencies"
      }
    },
    "/api/Estimate": {
      "get": {
        "parameters": [
          {
            "in": "query",
            "name": "UpdatedAfter",
            "required": false,
            "schema": {
              "format": "date-time",
              "type": "string"
            }
          },
          {
            "description": "Number of items per page (max 1000)",
            "in": "query",
            "name": "pageSize",
            "required": false,
            "schema": {
              "format": "int32",
              "type": "integer"
            }
          },
          {
            "description": "Page to display. Starts from 1.",
            "in": "query",
            "name": "pageNumber",
            "required": false,
            "schema": {
              "format": "int32",
              "type": "integer"
            }
          },
          {
            "in": "query",
            "name": "Sort",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "in": "query",
            "name": "CompanyIDFK",
            "required": false,
            "schema": {
              "format": "int32",
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/EstimateList"
                }
              },
              "application/xml": {
                "schema": {
                  "$ref": "#/components/schemas/EstimateList"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/EstimateList"
                }
              },
              "text/xml": {
                "schema": {
                  "$ref": "#/components/schemas/EstimateList"
                }
              }
            },
            "description": "Success"
          },
          "401": {
            "description": "Unauthorized"
          }
        },
        "security": [
          {
            "oauth2": [
              "read_financials"
            ]
          }
        ],
        "tags": [
          "Estimate"
        ],
        "description": "EstimateStatusCode values are: \"Draft\", \"Sent\", \"Accepted\", \"Converted\", \"Expired\", \"Rejected\"",
        "operationId": "Estimate_Get",
        "summary": "Gets list of Estimates"
      },
      "post": {
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/EstimateDetails"
                }
              },
              "application/xml": {
                "schema": {
                  "$ref": "#/components/schemas/EstimateDetails"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/EstimateDetails"
                }
              },
              "text/xml": {
                "schema": {
                  "$ref": "#/components/schemas/EstimateDetails"
                }
              }
            },
            "description": "OK"
          }
        },
        "security": [
          {
            "oauth2": [
              "write_financials"
            ]
          }
        ],
        "tags": [
          "Estimate"
        ],
        "operationId": "Estimate_Post",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/NewEstimate"
              }
            },
            "application/x-www-form-urlencoded": {
              "schema": {
                "$ref": "#/components/schemas/NewEstimate"
              }
            },
            "application/xml": {
              "schema": {
                "$ref": "#/components/schemas/NewEstimate"
              }
            },
            "text/json": {
              "schema": {
                "$ref": "#/components/schemas/NewEstimate"
              }
            },
            "text/xml": {
              "schema": {
                "$ref": "#/components/schemas/NewEstimate"
              }
            }
          },
          "required": true
        },
        "summary": "Create a new draft Estimate",
        "description": "Create a new draft Estimate"
      }
    },
    "/api/Estimate/{id}": {
      "get": {
        "parameters": [
          {
            "description": "Estimate Estimate ID number",
            "in": "path",
            "name": "id",
            "required": true,
            "schema": {
              "format": "int64",
              "type": "integer"
            }
          }
        ],
        "responses": {
          "401": {
            "description": "Unauthorized"
          },
          "404": {
            "description": "Not Found"
          }
        },
        "security": [
          {
            "oauth2": [
              "read_financials"
            ]
          }
        ],
        "tags": [
          "Estimate"
        ],
        "operationId": "Estimate_GetByID",
        "summary": "Gets Estimate by Estimate ID",
        "description": "Gets Estimate by Estimate ID"
      }
    },
    "/api/Expense": {
      "delete": {
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ExpenseDeleteResultSet"
                }
              },
              "application/xml": {
                "schema": {
                  "$ref": "#/components/schemas/ExpenseDeleteResultSet"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/ExpenseDeleteResultSet"
                }
              },
              "text/xml": {
                "schema": {
                  "$ref": "#/components/schemas/ExpenseDeleteResultSet"
                }
              }
            },
            "description": "OK"
          }
        },
        "security": [
          {
            "oauth2": [
              "write_expenses"
            ]
          }
        ],
        "tags": [
          "Expense"
        ],
        "operationId": "Expense_Delete",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "items": {
                  "format": "int64",
                  "type": "integer"
                },
                "type": "array"
              }
            },
            "application/x-www-form-urlencoded": {
              "schema": {
                "items": {
                  "format": "int64",
                  "type": "integer"
                },
                "type": "array"
              }
            },
            "application/xml": {
              "schema": {
                "items": {
                  "format": "int64",
                  "type": "integer"
                },
                "type": "array"
              }
            },
            "text/json": {
              "schema": {
                "items": {
                  "format": "int64",
                  "type": "integer"
                },
                "type": "array"
              }
            },
            "text/xml": {
              "schema": {
                "items": {
                  "format": "int64",
                  "type": "integer"
                },
                "type": "array"
              }
            }
          },
          "description": "A collection of ExpenseIDs to delete",
          "required": true
        },
        "summary": "Delete Expense Entries",
        "description": "Delete Expense Entries"
      },
      "get": {
        "parameters": [
          {
            "in": "query",
            "name": "UpdatedAfter",
            "required": false,
            "schema": {
              "format": "date-time",
              "type": "string"
            }
          },
          {
            "in": "query",
            "name": "ExpenseDateFrom",
            "required": false,
            "schema": {
              "format": "date-time",
              "type": "string"
            }
          },
          {
            "in": "query",
            "name": "ExpenseDateTo",
            "required": false,
            "schema": {
              "format": "date-time",
              "type": "string"
            }
          },
          {
            "in": "query",
            "name": "UserEmail",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "in": "query",
            "name": "UserID",
            "required": false,
            "schema": {
              "format": "int32",
              "type": "integer"
            }
          },
          {
            "in": "query",
            "name": "CategoryName",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "in": "query",
            "name": "CustomerID",
            "required": false,
            "schema": {
              "format": "int32",
              "type": "integer"
            }
          },
          {
            "in": "query",
            "name": "ProjectID",
            "required": false,
            "schema": {
              "format": "int32",
              "type": "integer"
            }
          },
          {
            "in": "query",
            "name": "isChargeable",
            "required": false,
            "schema": {
              "type": "boolean"
            }
          },
          {
            "in": "query",
            "name": "isInvoiced",
            "required": false,
            "schema": {
              "type": "boolean"
            }
          },
          {
            "in": "query",
            "name": "ExpenseReimbursementIDFK",
            "required": false,
            "schema": {
              "format": "int64",
              "type": "integer"
            }
          },
          {
            "in": "query",
            "name": "ExpensePaymentMethodIDFK",
            "required": false,
            "schema": {
              "format": "int32",
              "type": "integer"
            }
          },
          {
            "in": "query",
            "name": "ExpenseApprovalStatusCode",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "in": "query",
            "name": "Search",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "Number of items per page (max 1000)",
            "in": "query",
            "name": "pageSize",
            "required": false,
            "schema": {
              "format": "int32",
              "type": "integer"
            }
          },
          {
            "description": "Page to display. Starts from 1.",
            "in": "query",
            "name": "pageNumber",
            "required": false,
            "schema": {
              "format": "int32",
              "type": "integer"
            }
          },
          {
            "in": "query",
            "name": "Sort",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ExpenseList"
                }
              },
              "application/xml": {
                "schema": {
                  "$ref": "#/components/schemas/ExpenseList"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/ExpenseList"
                }
              },
              "text/xml": {
                "schema": {
                  "$ref": "#/components/schemas/ExpenseList"
                }
              }
            },
            "description": "Success"
          },
          "401": {
            "description": "Unauthorized"
          }
        },
        "security": [
          {
            "oauth2": [
              "read_expenses"
            ]
          }
        ],
        "tags": [
          "Expense"
        ],
        "operationId": "Expense_Get",
        "summary": "Gets list of Expenses",
        "description": "Gets list of Expenses"
      },
      "post": {
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ExpenseDetails"
                }
              },
              "application/xml": {
                "schema": {
                  "$ref": "#/components/schemas/ExpenseDetails"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/ExpenseDetails"
                }
              },
              "text/xml": {
                "schema": {
                  "$ref": "#/components/schemas/ExpenseDetails"
                }
              }
            },
            "description": "OK"
          }
        },
        "security": [
          {
            "oauth2": [
              "write_expenses"
            ]
          }
        ],
        "tags": [
          "Expense"
        ],
        "description": "Create an Expense",
        "operationId": "Expense_Post",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/NewExpense"
              }
            },
            "application/x-www-form-urlencoded": {
              "schema": {
                "$ref": "#/components/schemas/NewExpense"
              }
            },
            "application/xml": {
              "schema": {
                "$ref": "#/components/schemas/NewExpense"
              }
            },
            "text/json": {
              "schema": {
                "$ref": "#/components/schemas/NewExpense"
              }
            },
            "text/xml": {
              "schema": {
                "$ref": "#/components/schemas/NewExpense"
              }
            }
          },
          "required": true
        },
        "summary": "Create an Expense"
      },
      "put": {
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ExpenseDetails"
                }
              },
              "application/xml": {
                "schema": {
                  "$ref": "#/components/schemas/ExpenseDetails"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/ExpenseDetails"
                }
              },
              "text/xml": {
                "schema": {
                  "$ref": "#/components/schemas/ExpenseDetails"
                }
              }
            },
            "description": "OK"
          }
        },
        "security": [
          {
            "oauth2": [
              "write_expenses"
            ]
          }
        ],
        "tags": [
          "Expense"
        ],
        "description": "Update an Expense",
        "operationId": "Expense_Put",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UpdateExpense"
              }
            },
            "application/x-www-form-urlencoded": {
              "schema": {
                "$ref": "#/components/schemas/UpdateExpense"
              }
            },
            "application/xml": {
              "schema": {
                "$ref": "#/components/schemas/UpdateExpense"
              }
            },
            "text/json": {
              "schema": {
                "$ref": "#/components/schemas/UpdateExpense"
              }
            },
            "text/xml": {
              "schema": {
                "$ref": "#/components/schemas/UpdateExpense"
              }
            }
          },
          "required": true
        },
        "summary": "Update an Expense"
      }
    },
    "/api/Expense/Attachment": {
      "post": {
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ExpenseAttachmentUploadResult"
                }
              },
              "application/xml": {
                "schema": {
                  "$ref": "#/components/schemas/ExpenseAttachmentUploadResult"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/ExpenseAttachmentUploadResult"
                }
              },
              "text/xml": {
                "schema": {
                  "$ref": "#/components/schemas/ExpenseAttachmentUploadResult"
                }
              }
            },
            "description": "OK"
          }
        },
        "security": [
          {
            "oauth2": [
              "write_expenses"
            ]
          }
        ],
        "tags": [
          "Expense"
        ],
        "operationId": "ExpenseAttachment",
        "requestBody": {
          "content": {
            "application/octet-stream": {
              "schema": {
                "format": "binary",
                "type": "string"
              }
            }
          },
          "required": true
        },
        "description": "POST /api/Expense/Attachment"
      }
    },
    "/api/Expense/{id}": {
      "get": {
        "parameters": [
          {
            "description": "Expense ID number",
            "in": "path",
            "name": "id",
            "required": true,
            "schema": {
              "format": "int64",
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ExpenseDetails"
                }
              },
              "application/xml": {
                "schema": {
                  "$ref": "#/components/schemas/ExpenseDetails"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/ExpenseDetails"
                }
              },
              "text/xml": {
                "schema": {
                  "$ref": "#/components/schemas/ExpenseDetails"
                }
              }
            },
            "description": "Success"
          },
          "401": {
            "description": "Unauthorized"
          },
          "404": {
            "description": "Not Found"
          }
        },
        "security": [
          {
            "oauth2": [
              "read_expenses"
            ]
          }
        ],
        "tags": [
          "Expense"
        ],
        "operationId": "Expense_GetByID",
        "summary": "Gets an Expense Entry by Expense ID",
        "description": "Gets an Expense Entry by Expense ID"
      }
    },
    "/api/ExpenseApproval/Submit": {
      "post": {
        "parameters": [
          {
            "description": "The user to submit the Expenses for. Defaults to current user. Only allowed to be different from the current user when the current user has rights to Impersonate other users.",
            "in": "query",
            "name": "UserID",
            "required": false,
            "schema": {
              "format": "int32",
              "type": "integer"
            }
          },
          {
            "description": "Send email alerts to expense approvers. Defaults to true",
            "in": "query",
            "name": "SendNotifications",
            "required": false,
            "schema": {
              "type": "boolean"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              },
              "application/xml": {
                "schema": {
                  "type": "object"
                }
              },
              "text/json": {
                "schema": {
                  "type": "object"
                }
              },
              "text/xml": {
                "schema": {
                  "type": "object"
                }
              }
            },
            "description": "OK"
          }
        },
        "security": [
          {
            "oauth2": [
              "write_expenses"
            ]
          }
        ],
        "tags": [
          "Expense"
        ],
        "operationId": "ExpenseApproval",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "items": {
                  "format": "int64",
                  "type": "integer"
                },
                "type": "array"
              }
            },
            "application/x-www-form-urlencoded": {
              "schema": {
                "items": {
                  "format": "int64",
                  "type": "integer"
                },
                "type": "array"
              }
            },
            "application/xml": {
              "schema": {
                "items": {
                  "format": "int64",
                  "type": "integer"
                },
                "type": "array"
              }
            },
            "text/json": {
              "schema": {
                "items": {
                  "format": "int64",
                  "type": "integer"
                },
                "type": "array"
              }
            },
            "text/xml": {
              "schema": {
                "items": {
                  "format": "int64",
                  "type": "integer"
                },
                "type": "array"
              }
            }
          },
          "description": "A collection of ExpenseID's that should be submitted for approval. If not provided, submits all verified expenses for approval.",
          "required": true
        },
        "summary": "Submit Expenses for Approval.",
        "description": "Submit Expenses for Approval."
      }
    },
    "/api/ExpenseCategory": {
      "get": {
        "parameters": [
          {
            "description": "Optional filter on for enabled/disabled categories. Defaults to true.",
            "in": "query",
            "name": "isEnabled",
            "required": false,
            "schema": {
              "type": "boolean"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ExpenseCategoryList"
                }
              },
              "application/xml": {
                "schema": {
                  "$ref": "#/components/schemas/ExpenseCategoryList"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/ExpenseCategoryList"
                }
              },
              "text/xml": {
                "schema": {
                  "$ref": "#/components/schemas/ExpenseCategoryList"
                }
              }
            },
            "description": "Success"
          },
          "401": {
            "description": "Unauthorized"
          }
        },
        "security": [
          {
            "oauth2": [
              "read_expenses"
            ]
          }
        ],
        "tags": [
          "ExpenseCategory"
        ],
        "description": "The default sort order is by Name asc",
        "operationId": "ExpenseCategory_Get",
        "summary": "Gets list of Expense Categories"
      }
    },
    "/api/ExpenseGroup/Lookup": {
      "get": {
        "parameters": [
          {
            "description": "Number of items per page (max 1000)",
            "in": "query",
            "name": "pageSize",
            "required": false,
            "schema": {
              "format": "int32",
              "type": "integer"
            }
          },
          {
            "description": "Page to display. Starts from 1.",
            "in": "query",
            "name": "pageNumber",
            "required": false,
            "schema": {
              "format": "int32",
              "type": "integer"
            }
          },
          {
            "description": "Search string to match against Expense Group Name",
            "in": "query",
            "name": "search",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ExpenseGroupDropdownList"
                }
              },
              "application/xml": {
                "schema": {
                  "$ref": "#/components/schemas/ExpenseGroupDropdownList"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/ExpenseGroupDropdownList"
                }
              },
              "text/xml": {
                "schema": {
                  "$ref": "#/components/schemas/ExpenseGroupDropdownList"
                }
              }
            },
            "description": "OK"
          }
        },
        "security": [
          {
            "oauth2": [
              "read_expenses"
            ]
          }
        ],
        "tags": [
          "ExpenseGroup"
        ],
        "description": "Expense Groups are for adhoc grouping of reported expenses. e.g. for expenses incurred on a Trip",
        "operationId": "ExpenseGroupLookup",
        "summary": "Gets minimal list of Expense Groups."
      }
    },
    "/api/ExpenseMerchant/Lookup": {
      "get": {
        "parameters": [
          {
            "description": "Number of items per page (max 1000)",
            "in": "query",
            "name": "pageSize",
            "required": false,
            "schema": {
              "format": "int32",
              "type": "integer"
            }
          },
          {
            "description": "Page to display. Starts from 1.",
            "in": "query",
            "name": "pageNumber",
            "required": false,
            "schema": {
              "format": "int32",
              "type": "integer"
            }
          },
          {
            "description": "Search string to match against Expense Group Name",
            "in": "query",
            "name": "search",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ExpenseMerchantDropdownList"
                }
              },
              "application/xml": {
                "schema": {
                  "$ref": "#/components/schemas/ExpenseMerchantDropdownList"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/ExpenseMerchantDropdownList"
                }
              },
              "text/xml": {
                "schema": {
                  "$ref": "#/components/schemas/ExpenseMerchantDropdownList"
                }
              }
            },
            "description": "OK"
          }
        },
        "security": [
          {
            "oauth2": [
              "read_expenses"
            ]
          }
        ],
        "tags": [
          "ExpenseMerchant"
        ],
        "operationId": "ExpenseMerchangeLookup",
        "summary": "Gets minimal list of Expense Merchants.",
        "description": "Gets minimal list of Expense Merchants."
      }
    },
    "/api/ExpensePaymentMethod/Lookup": {
      "get": {
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ExpensePaymentMethodDropdownList"
                }
              },
              "application/xml": {
                "schema": {
                  "$ref": "#/components/schemas/ExpensePaymentMethodDropdownList"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/ExpensePaymentMethodDropdownList"
                }
              },
              "text/xml": {
                "schema": {
                  "$ref": "#/components/schemas/ExpensePaymentMethodDropdownList"
                }
              }
            },
            "description": "OK"
          }
        },
        "security": [
          {
            "oauth2": [
              "read_expenses"
            ]
          }
        ],
        "tags": [
          "ExpensePaymentMethod"
        ],
        "operationId": "ExpensePaymentMethodLookup",
        "summary": "Gets minimal list of Expense Payment Methods.",
        "description": "Gets minimal list of Expense Payment Methods."
      }
    },
    "/api/ExpenseSummary": {
      "get": {
        "parameters": [
          {
            "description": "(Optional) Combine one, two or three levels of Grouping. Combine these possible grouping values: \"Category\", \"ChargeableStatus\", \"Merchant\", \"ApprovalStatus\", \"ReimbursementStatus\", \"Customer\", \"Project\", \"User\", \"Task\", \"Year\", \"Month\", \"Day\", \"Week\".",
            "explode": true,
            "in": "query",
            "name": "model.groupBy",
            "required": false,
            "schema": {
              "items": {
                "type": "string"
              },
              "type": "array"
            }
          },
          {
            "description": "(Required) Filter for expenses with expense dates greater or equal to the specified date. e.g. 2019-01-25.",
            "in": "query",
            "name": "model.expenseDateFrom",
            "required": false,
            "schema": {
              "format": "date-time",
              "type": "string"
            }
          },
          {
            "description": "(Required) Filter for expenses with an expense date smaller or equal to the specified  date. e.g. 2019-01-25.",
            "in": "query",
            "name": "model.expenseDateTo",
            "required": false,
            "schema": {
              "format": "date-time",
              "type": "string"
            }
          },
          {
            "description": "(Optional) Defaults to the current user. Provide one or more UserIDs of Users whose expenses should be retrieved. If the current user doesn't have impersonation rights, then they will only see their own data.",
            "explode": true,
            "in": "query",
            "name": "model.userID",
            "required": false,
            "schema": {
              "items": {
                "format": "int32",
                "type": "integer"
              },
              "type": "array"
            }
          },
          {
            "description": "(Optional) Filter by Project",
            "in": "query",
            "name": "model.projectID",
            "required": false,
            "schema": {
              "format": "int32",
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ExpenseSummaryResult"
                }
              },
              "application/xml": {
                "schema": {
                  "$ref": "#/components/schemas/ExpenseSummaryResult"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/ExpenseSummaryResult"
                }
              },
              "text/xml": {
                "schema": {
                  "$ref": "#/components/schemas/ExpenseSummaryResult"
                }
              }
            },
            "description": "OK"
          }
        },
        "security": [
          {
            "oauth2": [
              "read_expenses"
            ]
          }
        ],
        "tags": [
          "ExpenseSummary"
        ],
        "operationId": "ExpenseSummary_Get",
        "summary": "Gets Basic Summary of Expense Statistics",
        "description": "Gets Basic Summary of Expense Statistics"
      }
    },
    "/api/FixedAmount": {
      "get": {
        "parameters": [
          {
            "in": "query",
            "name": "UpdatedAfter",
            "required": false,
            "schema": {
              "format": "date-time",
              "type": "string"
            }
          },
          {
            "in": "query",
            "name": "EntryDateFrom",
            "required": false,
            "schema": {
              "format": "date-time",
              "type": "string"
            }
          },
          {
            "in": "query",
            "name": "EntryDateTo",
            "required": false,
            "schema": {
              "format": "date-time",
              "type": "string"
            }
          },
          {
            "description": "(Optional) The ProjectID of a Project to filter Fixed Amounts for",
            "in": "query",
            "name": "ProjectID",
            "required": false,
            "schema": {
              "format": "int32",
              "type": "integer"
            }
          },
          {
            "description": "(Optional) The TaskID of a Task to filter Fixed Amounts for",
            "in": "query",
            "name": "TaskID",
            "required": false,
            "schema": {
              "format": "int32",
              "type": "integer"
            }
          },
          {
            "in": "query",
            "name": "isInvoiced",
            "required": false,
            "schema": {
              "type": "boolean"
            }
          },
          {
            "description": "Number of items per page (max 1000)",
            "in": "query",
            "name": "pageSize",
            "required": false,
            "schema": {
              "format": "int32",
              "type": "integer"
            }
          },
          {
            "description": "Page to display. Starts from 1.",
            "in": "query",
            "name": "pageNumber",
            "required": false,
            "schema": {
              "format": "int32",
              "type": "integer"
            }
          },
          {
            "description": "Optional sorting instruction. Currently possible values: \"DateUpdated\", \"DateCreated\", \"DateUpdated desc\", \"DateCreated desc\",\"EntryDate\", \"EntryDate desc\", \"StartTimeLocal\",\"StartTimeLocal desc\", \"TimeSheetEntryID\", \"TimeSheetEntryID desc\"",
            "in": "query",
            "name": "Sort",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/FixedAmountList"
                }
              },
              "application/xml": {
                "schema": {
                  "$ref": "#/components/schemas/FixedAmountList"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/FixedAmountList"
                }
              },
              "text/xml": {
                "schema": {
                  "$ref": "#/components/schemas/FixedAmountList"
                }
              }
            },
            "description": "Success"
          },
          "401": {
            "description": "Unauthorized"
          }
        },
        "security": [
          {
            "oauth2": [
              "read_financials"
            ]
          }
        ],
        "tags": [
          "FixedAmount"
        ],
        "operationId": "FixedAmount_Get",
        "summary": "Gets list of Fixed Amounts",
        "description": "Gets list of Fixed Amounts"
      }
    },
    "/api/Inventory": {
      "get": {
        "parameters": [
          {
            "in": "query",
            "name": "UpdatedAfter",
            "required": false,
            "schema": {
              "format": "date-time",
              "type": "string"
            }
          },
          {
            "description": "Number of items per page (max 1000)",
            "in": "query",
            "name": "pageSize",
            "required": false,
            "schema": {
              "format": "int32",
              "type": "integer"
            }
          },
          {
            "description": "Page to display. Starts from 1.",
            "in": "query",
            "name": "pageNumber",
            "required": false,
            "schema": {
              "format": "int32",
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/InventoryList"
                }
              },
              "application/xml": {
                "schema": {
                  "$ref": "#/components/schemas/InventoryList"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/InventoryList"
                }
              },
              "text/xml": {
                "schema": {
                  "$ref": "#/components/schemas/InventoryList"
                }
              }
            },
            "description": "Success"
          },
          "401": {
            "description": "Unauthorized"
          }
        },
        "security": [
          {
            "oauth2": [
              "read_financials"
            ]
          }
        ],
        "tags": [
          "Inventory"
        ],
        "description": "Gets list of Inventory",
        "operationId": "Inventory_Get",
        "summary": "Gets list of Inventory"
      }
    },
    "/api/Inventory/{id}": {
      "get": {
        "parameters": [
          {
            "description": "InventoryItem ID number",
            "in": "path",
            "name": "id",
            "required": true,
            "schema": {
              "format": "int64",
              "type": "integer"
            }
          }
        ],
        "responses": {
          "401": {
            "description": "Unauthorized"
          },
          "404": {
            "description": "Not Found"
          }
        },
        "security": [
          {
            "oauth2": [
              "read_financials"
            ]
          }
        ],
        "tags": [
          "Inventory"
        ],
        "operationId": "Inventory_GetByID",
        "summary": "Gets InventoryItem by InventoryItem ID",
        "description": "Gets InventoryItem by InventoryItem ID"
      }
    },
    "/api/Invoice": {
      "get": {
        "parameters": [
          {
            "in": "query",
            "name": "UpdatedAfter",
            "required": false,
            "schema": {
              "format": "date-time",
              "type": "string"
            }
          },
          {
            "description": "Number of items per page (max 1000)",
            "in": "query",
            "name": "pageSize",
            "required": false,
            "schema": {
              "format": "int32",
              "type": "integer"
            }
          },
          {
            "description": "Page to display. Starts from 1.",
            "in": "query",
            "name": "pageNumber",
            "required": false,
            "schema": {
              "format": "int32",
              "type": "integer"
            }
          },
          {
            "in": "query",
            "name": "Sort",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "in": "query",
            "name": "CompanyIDFK",
            "required": false,
            "schema": {
              "format": "int32",
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/InvoiceList"
                }
              },
              "application/xml": {
                "schema": {
                  "$ref": "#/components/schemas/InvoiceList"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/InvoiceList"
                }
              },
              "text/xml": {
                "schema": {
                  "$ref": "#/components/schemas/InvoiceList"
                }
              }
            },
            "description": "Success"
          },
          "401": {
            "description": "Unauthorized"
          }
        },
        "security": [
          {
            "oauth2": [
              "read_financials"
            ]
          }
        ],
        "tags": [
          "Invoice"
        ],
        "description": "TransactionStatusCode values are: \"Draft\", \"Sent\", \"Late\", \"Paid\", \"Partial\", \"Void\"",
        "operationId": "Invoice_Get",
        "summary": "Gets list of Invoices"
      },
      "post": {
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Invoice"
                }
              },
              "application/xml": {
                "schema": {
                  "$ref": "#/components/schemas/Invoice"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/Invoice"
                }
              },
              "text/xml": {
                "schema": {
                  "$ref": "#/components/schemas/Invoice"
                }
              }
            },
            "description": "OK"
          }
        },
        "security": [
          {
            "oauth2": [
              "write_financials"
            ]
          }
        ],
        "tags": [
          "Invoice"
        ],
        "operationId": "Invoice_Post",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/NewInvoice"
              }
            },
            "application/x-www-form-urlencoded": {
              "schema": {
                "$ref": "#/components/schemas/NewInvoice"
              }
            },
            "application/xml": {
              "schema": {
                "$ref": "#/components/schemas/NewInvoice"
              }
            },
            "text/json": {
              "schema": {
                "$ref": "#/components/schemas/NewInvoice"
              }
            },
            "text/xml": {
              "schema": {
                "$ref": "#/components/schemas/NewInvoice"
              }
            }
          },
          "required": true
        },
        "summary": "Create a new draft invoice",
        "description": "Create a new draft invoice"
      }
    },
    "/api/Invoice/{id}": {
      "get": {
        "parameters": [
          {
            "description": "Invoice Transaction ID number",
            "in": "path",
            "name": "id",
            "required": true,
            "schema": {
              "format": "int64",
              "type": "integer"
            }
          }
        ],
        "responses": {
          "401": {
            "description": "Unauthorized"
          },
          "404": {
            "description": "Not Found"
          }
        },
        "security": [
          {
            "oauth2": [
              "read_financials"
            ]
          }
        ],
        "tags": [
          "Invoice"
        ],
        "operationId": "Invoice_GetByID",
        "summary": "Gets Invoice by Invoice ID",
        "description": "Gets Invoice by Invoice ID"
      }
    },
    "/api/Payment": {
      "get": {
        "parameters": [
          {
            "description": "Filter for Payments that have at least one allocation against a given Invoice Transaction ID",
            "in": "query",
            "name": "InvoiceTransactionID",
            "required": false,
            "schema": {
              "format": "int64",
              "type": "integer"
            }
          },
          {
            "description": "Filter for Payments updated after a given date",
            "in": "query",
            "name": "UpdatedAfter",
            "required": false,
            "schema": {
              "format": "date-time",
              "type": "string"
            }
          },
          {
            "description": "Number of items per page (max 1000)",
            "in": "query",
            "name": "pageSize",
            "required": false,
            "schema": {
              "format": "int32",
              "type": "integer"
            }
          },
          {
            "description": "Page to display. Starts from 1.",
            "in": "query",
            "name": "pageNumber",
            "required": false,
            "schema": {
              "format": "int32",
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PaymentList"
                }
              },
              "application/xml": {
                "schema": {
                  "$ref": "#/components/schemas/PaymentList"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/PaymentList"
                }
              },
              "text/xml": {
                "schema": {
                  "$ref": "#/components/schemas/PaymentList"
                }
              }
            },
            "description": "Success"
          },
          "401": {
            "description": "Unauthorized"
          }
        },
        "security": [
          {
            "oauth2": [
              "read_financials"
            ]
          }
        ],
        "tags": [
          "Payment"
        ],
        "operationId": "Payment_Get",
        "summary": "Gets list of Payments",
        "description": "Gets list of Payments"
      },
      "post": {
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Payment"
                }
              },
              "application/xml": {
                "schema": {
                  "$ref": "#/components/schemas/Payment"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/Payment"
                }
              },
              "text/xml": {
                "schema": {
                  "$ref": "#/components/schemas/Payment"
                }
              }
            },
            "description": "OK"
          }
        },
        "security": [
          {
            "oauth2": [
              "write_financials"
            ]
          }
        ],
        "tags": [
          "Payment"
        ],
        "operationId": "Payment_Post",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/NewPayment"
              }
            },
            "application/x-www-form-urlencoded": {
              "schema": {
                "$ref": "#/components/schemas/NewPayment"
              }
            },
            "application/xml": {
              "schema": {
                "$ref": "#/components/schemas/NewPayment"
              }
            },
            "text/json": {
              "schema": {
                "$ref": "#/components/schemas/NewPayment"
              }
            },
            "text/xml": {
              "schema": {
                "$ref": "#/components/schemas/NewPayment"
              }
            }
          },
          "required": true
        },
        "summary": "Create new Payment and optionally assign payment allocations to Invoices",
        "description": "Create new Payment and optionally assign payment allocations to Invoices"
      }
    },
    "/api/Payment/{id}": {
      "get": {
        "parameters": [
          {
            "description": "Invoice Transaction ID Number",
            "in": "path",
            "name": "id",
            "required": true,
            "schema": {
              "format": "int64",
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Payment"
                }
              },
              "application/xml": {
                "schema": {
                  "$ref": "#/components/schemas/Payment"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/Payment"
                }
              },
              "text/xml": {
                "schema": {
                  "$ref": "#/components/schemas/Payment"
                }
              }
            },
            "description": "Success"
          },
          "401": {
            "description": "Unauthorized"
          },
          "404": {
            "description": "Not Found"
          }
        },
        "security": [
          {
            "oauth2": [
              "read_financials"
            ]
          }
        ],
        "tags": [
          "Payment"
        ],
        "operationId": "Payment_GetByID",
        "summary": "Gets Payment by Payment Transaction ID",
        "description": "Gets Payment by Payment Transaction ID"
      }
    },
    "/api/Project": {
      "get": {
        "parameters": [
          {
            "description": "Only show project records updated after a certain date (UTC)",
            "in": "query",
            "name": "UpdatedAfter",
            "required": false,
            "schema": {
              "format": "date-time",
              "type": "string"
            }
          },
          {
            "description": "Number of items per page (max 1000)",
            "in": "query",
            "name": "pageSize",
            "required": false,
            "schema": {
              "format": "int32",
              "type": "integer"
            }
          },
          {
            "description": "Page to display. Starts from 1.",
            "in": "query",
            "name": "pageNumber",
            "required": false,
            "schema": {
              "format": "int32",
              "type": "integer"
            }
          },
          {
            "description": "A column to sort on. Current possible values: \"DateUpdated\", \"DateCreated\", \"DateUpdated desc\", \"DateCreated desc\"",
            "in": "query",
            "name": "Sort",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "Filter to the projects that the supplied UserID can add timesheets to",
            "in": "query",
            "name": "TimesheetUserID",
            "required": false,
            "schema": {
              "format": "int32",
              "type": "integer"
            }
          },
          {
            "description": "Include Archived Projects in the results",
            "in": "query",
            "name": "includeArchived",
            "required": false,
            "schema": {
              "type": "boolean"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProjectList"
                }
              },
              "application/xml": {
                "schema": {
                  "$ref": "#/components/schemas/ProjectList"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProjectList"
                }
              },
              "text/xml": {
                "schema": {
                  "$ref": "#/components/schemas/ProjectList"
                }
              }
            },
            "description": "OK"
          }
        },
        "security": [
          {
            "oauth2": [
              "read_projects"
            ]
          }
        ],
        "tags": [
          "Project"
        ],
        "operationId": "Project_Get",
        "summary": "Gets list of Projects",
        "description": "Gets list of Projects"
      },
      "post": {
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProjectDetails"
                }
              },
              "application/xml": {
                "schema": {
                  "$ref": "#/components/schemas/ProjectDetails"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProjectDetails"
                }
              },
              "text/xml": {
                "schema": {
                  "$ref": "#/components/schemas/ProjectDetails"
                }
              }
            },
            "description": "Success"
          },
          "401": {
            "description": "Unauthorized"
          }
        },
        "security": [
          {
            "oauth2": [
              "write_projects"
            ]
          }
        ],
        "tags": [
          "Project"
        ],
        "operationId": "Project_Post",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/NewProjectModel"
              }
            },
            "application/x-www-form-urlencoded": {
              "schema": {
                "$ref": "#/components/schemas/NewProjectModel"
              }
            },
            "application/xml": {
              "schema": {
                "$ref": "#/components/schemas/NewProjectModel"
              }
            },
            "text/json": {
              "schema": {
                "$ref": "#/components/schemas/NewProjectModel"
              }
            },
            "text/xml": {
              "schema": {
                "$ref": "#/components/schemas/NewProjectModel"
              }
            }
          },
          "required": true
        },
        "summary": "Create a Project",
        "description": "Create a Project"
      },
      "put": {
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProjectDetails"
                }
              },
              "application/xml": {
[...]
