{
  "openapi": "3.0.3",
  "info": {
    "title": "APIPie Unified AI API",
    "version": "1.0.0",
    "description": "APIPie provides a unified API gateway for accessing 200+ AI models from multiple providers through OpenAI-compatible endpoints. Supports chat completions, embeddings, image generation, text-to-speech, web scraping, document parsing, text anonymization, and model listing. One API key, one format, access to all AI providers.",
    "x-jentic-source-url": "https://apipie.ai/docs/",
    "contact": {
      "name": "API Support"
    }
  },
  "servers": [
    {
      "url": "https://apipie.ai",
      "description": "APIPie Production API"
    }
  ],
  "security": [
    {
      "bearerAuth": []
    }
  ],
  "tags": [
    {
      "name": "Chat",
      "description": "Chat completions using LLMs with text and vision support"
    },
    {
      "name": "Embeddings",
      "description": "Generate vector embeddings from text"
    },
    {
      "name": "Images",
      "description": "AI image generation from text prompts"
    },
    {
      "name": "Audio",
      "description": "Text-to-speech conversion"
    },
    {
      "name": "Models",
      "description": "List and query available AI models"
    },
    {
      "name": "Search",
      "description": "Web scraping and content extraction"
    },
    {
      "name": "Anonymization",
      "description": "PII detection and text anonymization"
    },
    {
      "name": "Parser",
      "description": "Document content and metadata extraction"
    },
    {
      "name": "RAG",
      "description": "RAG tuning collection management"
    }
  ],
  "paths": {
    "/v1/chat/completions": {
      "post": {
        "operationId": "chatCompletions",
        "summary": "Create Chat Completion",
        "description": "Query LLMs using text and, for vision-capable models, image data. Supports multiple models (up to 5, comma-separated) in the model field. Returns an array of responses for multi-model queries. OpenAI-compatible endpoint.",
        "tags": [
          "Chat"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ChatCompletionRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Chat completion response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ChatCompletionResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request - invalid parameters",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized - invalid API key",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/v1/embeddings": {
      "post": {
        "operationId": "createEmbedding",
        "summary": "Create Embeddings",
        "description": "Generate embeddings for the given input text using the specified model. Supports encoding formats (float or np) and dimensions up to 1536. Check /v1/models for available embedding models.",
        "tags": [
          "Embeddings"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/EmbeddingRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Embedding vector generated successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/EmbeddingResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request - invalid parameters",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized - invalid API key",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/v1/images/generations": {
      "post": {
        "operationId": "generateImage",
        "summary": "Generate Image",
        "description": "Generate images from text descriptions using multiple AI providers. Supports various models, styles, and image sizes.",
        "tags": [
          "Images"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ImageGenerationRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Image generated successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ImageGenerationResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request - invalid parameters",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized - invalid API key",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/v1/audio/speech": {
      "post": {
        "operationId": "textToSpeech",
        "summary": "Convert Text to Speech",
        "description": "Convert text to natural-sounding speech using advanced AI voice models. Support for multiple voices, languages, and speech styles. The X-Audio-Details response header provides metadata about the request.",
        "tags": [
          "Audio"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/TextToSpeechRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Audio generated successfully",
            "headers": {
              "X-Audio-Details": {
                "description": "Metadata about the audio request including provider, route, model, cost, and latency",
                "schema": {
                  "type": "string"
                }
              }
            },
            "content": {
              "audio/mpeg": {
                "schema": {
                  "type": "string",
                  "format": "binary"
                }
              }
            }
          },
          "400": {
            "description": "Bad request - invalid parameters",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized - invalid API key",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/v1/models": {
      "get": {
        "operationId": "listModels",
        "summary": "List Available Models",
        "description": "Fetch all available AI models or use filters to find specific models. Returns models or voices list depending on query parameters.",
        "tags": [
          "Models"
        ],
        "parameters": [
          {
            "name": "type",
            "in": "query",
            "required": false,
            "description": "Filter by model type (e.g., chat, embedding, image, tts)",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "provider",
            "in": "query",
            "required": false,
            "description": "Filter by provider name",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Models list retrieved successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ModelsListResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized - invalid API key",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/v1/models/detailed": {
      "get": {
        "operationId": "listDetailedModels",
        "summary": "Fetch Detailed Models",
        "description": "Retrieve detailed information about all available AI models across providers. Get information about capabilities, pricing, and performance metrics.",
        "tags": [
          "Models"
        ],
        "responses": {
          "200": {
            "description": "Detailed models list retrieved successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DetailedModelsListResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized - invalid API key",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/v1/scrape": {
      "post": {
        "operationId": "scrapeWebpage",
        "summary": "Scrape Web Page",
        "description": "Extract and parse content from web pages. Transforms HTML into clean, structured data for AI processing.",
        "tags": [
          "Search"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ScrapeRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Webpage scraped successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ScrapeResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request - invalid URL or parameters",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized - invalid API key",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/v1/anon": {
      "post": {
        "operationId": "anonymizeText",
        "summary": "Anonymize Sensitive Entities in Text",
        "description": "Uses Microsoft Presidio analyzer and anonymizer to detect PII entities in text and replace them with truncated SHA-256 hashes (16 characters). Returns both the anonymized text and a mapping of original values to their anonymized replacements for potential re-identification.",
        "tags": [
          "Anonymization"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/AnonymizeRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Text anonymized successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AnonymizeResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request - invalid input",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized - invalid API key",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "500": {
            "description": "Internal server error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/v1/parser": {
      "post": {
        "operationId": "parseDocument",
        "summary": "Parse Document Content and Metadata",
        "description": "Uses Apache Tika server to extract metadata and/or content from supported document types. Accepts PDF, DOC, DOCX, PPT, PPTX, XLS, XLSX, TXT, RTF, ODT, ODP, ODS, EPUB, HTML, and XML. Supports file uploads under 5MB.",
        "tags": [
          "Parser"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "multipart/form-data": {
              "schema": {
                "$ref": "#/components/schemas/ParseDocumentRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Document parsed successfully with metadata and/or content",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ParseDocumentResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request - unsupported file type or too large",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized - invalid API key",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "500": {
            "description": "Internal server error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/ragtune/listcollections": {
      "post": {
        "operationId": "listRagCollections",
        "summary": "List RAG Collections",
        "description": "Returns a list of collections associated with the user identified by the API key. For more granular control or to implement your own RAG solution, refer to the /vectors route.",
        "tags": [
          "RAG"
        ],
        "requestBody": {
          "required": false,
          "content": {
            "application/json": {
              "schema": {
                "type": "object"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "List of RAG collections",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RagCollectionsResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized - invalid API key",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "500": {
            "description": "Internal server error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    }
  },
  "components": {
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "scheme": "bearer",
        "description": "API key provided as a Bearer token in the Authorization header"
      }
    },
    "schemas": {
      "ChatCompletionRequest": {
        "type": "object",
        "required": [
          "model",
          "messages"
        ],
        "properties": {
          "model": {
            "type": "string",
            "description": "Model ID to use. Supports up to 5 comma-separated model IDs for multi-model queries."
          },
          "messages": {
            "type": "array",
            "description": "Array of message objects representing the conversation",
            "items": {
              "$ref": "#/components/schemas/ChatMessage"
            }
          },
          "max_tokens": {
            "type": "integer",
            "description": "Maximum number of tokens to generate"
          },
          "temperature": {
            "type": "number",
            "minimum": 0,
            "maximum": 2,
            "description": "Sampling temperature"
          },
          "top_p": {
            "type": "number",
            "description": "Nucleus sampling parameter"
          },
          "stream": {
            "type": "boolean",
            "default": false,
            "description": "Whether to stream the response"
          },
          "n": {
            "type": "integer",
            "description": "Number of completions to generate"
          },
          "stop": {
            "oneOf": [
              {
                "type": "string"
              },
              {
                "type": "array",
                "items": {
                  "type": "string"
                }
              }
            ],
            "description": "Stop sequences"
          },
          "presence_penalty": {
            "type": "number",
            "description": "Presence penalty"
          },
          "frequency_penalty": {
            "type": "number",
            "description": "Frequency penalty"
          }
        }
      },
      "ChatMessage": {
        "type": "object",
        "required": [
          "role",
          "content"
        ],
        "properties": {
          "role": {
            "type": "string",
            "enum": [
              "system",
              "user",
              "assistant"
            ],
            "description": "The role of the message author"
          },
          "content": {
            "oneOf": [
              {
                "type": "string"
              },
              {
                "type": "array",
                "items": {
                  "$ref": "#/components/schemas/ContentPart"
                }
              }
            ],
            "description": "The content of the message. Can be a string or array of content parts for vision models."
          }
        }
      },
      "ContentPart": {
        "type": "object",
        "properties": {
          "type": {
            "type": "string",
            "enum": [
              "text",
              "image_url"
            ],
            "description": "The type of content part"
          },
          "text": {
            "type": "string",
            "description": "Text content (for type=text)"
          },
          "image_url": {
            "type": "object",
            "properties": {
              "url": {
                "type": "string",
                "description": "URL of the image (for type=image_url)"
              }
            }
          }
        }
      },
      "ChatCompletionResponse": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string"
          },
          "object": {
            "type": "string"
          },
          "created": {
            "type": "integer"
          },
          "model": {
            "type": "string"
          },
          "choices": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "index": {
                  "type": "integer"
                },
                "message": {
                  "$ref": "#/components/schemas/ChatMessage"
                },
                "finish_reason": {
                  "type": "string"
                }
              }
            }
          },
          "usage": {
            "$ref": "#/components/schemas/UsageInfo"
          }
        }
      },
      "UsageInfo": {
        "type": "object",
        "properties": {
          "prompt_tokens": {
            "type": "integer"
          },
          "completion_tokens": {
            "type": "integer"
          },
          "total_tokens": {
            "type": "integer"
          }
        }
      },
      "EmbeddingRequest": {
        "type": "object",
        "required": [
          "model",
          "input"
        ],
        "properties": {
          "model": {
            "type": "string",
            "description": "Embedding model ID to use"
          },
          "input": {
            "oneOf": [
              {
                "type": "string"
              },
              {
                "type": "array",
                "items": {
                  "type": "string"
                }
              }
            ],
            "description": "Text to generate embeddings for"
          },
          "encoding_format": {
            "type": "string",
            "enum": [
              "float",
              "np"
            ],
            "description": "Output encoding format"
          },
          "dimensions": {
            "type": "integer",
            "maximum": 1536,
            "description": "Number of dimensions for the output embedding vector"
          }
        }
      },
      "EmbeddingResponse": {
        "type": "object",
        "properties": {
          "object": {
            "type": "string"
          },
          "data": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "object": {
                  "type": "string"
                },
                "index": {
                  "type": "integer"
                },
                "embedding": {
                  "type": "array",
                  "items": {
                    "type": "number"
                  }
                }
              }
            }
          },
          "model": {
            "type": "string"
          },
          "usage": {
            "$ref": "#/components/schemas/UsageInfo"
          }
        }
      },
      "ImageGenerationRequest": {
        "type": "object",
        "required": [
          "prompt"
        ],
        "properties": {
          "model": {
            "type": "string",
            "description": "Image generation model ID"
          },
          "prompt": {
            "type": "string",
            "description": "Text description of the image to generate"
          },
          "n": {
            "type": "integer",
            "description": "Number of images to generate"
          },
          "size": {
            "type": "string",
            "description": "Size of the generated images (e.g., 1024x1024)"
          },
          "quality": {
            "type": "string",
            "description": "Quality of the generated images"
          },
          "style": {
            "type": "string",
            "description": "Style of the generated images"
          }
        }
      },
      "ImageGenerationResponse": {
        "type": "object",
        "properties": {
          "created": {
            "type": "integer"
          },
          "data": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "url": {
                  "type": "string",
                  "format": "uri"
                },
                "b64_json": {
                  "type": "string"
                },
                "revised_prompt": {
                  "type": "string"
                }
              }
            }
          }
        }
      },
      "TextToSpeechRequest": {
        "type": "object",
        "required": [
          "model",
          "input",
          "voice"
        ],
        "properties": {
          "model": {
            "type": "string",
            "description": "TTS model ID to use"
          },
          "input": {
            "type": "string",
            "description": "Text to convert to speech"
          },
          "voice": {
            "type": "string",
            "description": "Voice ID to use for synthesis"
          },
          "response_format": {
            "type": "string",
            "enum": [
              "mp3",
              "opus",
              "aac",
              "flac"
            ],
            "description": "Audio output format"
          },
          "speed": {
            "type": "number",
            "description": "Speech speed multiplier"
          }
        }
      },
      "ModelsListResponse": {
        "type": "object",
        "properties": {
          "object": {
            "type": "string"
          },
          "data": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "id": {
                  "type": "string"
                },
                "object": {
                  "type": "string"
                },
                "created": {
                  "type": "integer"
                },
                "owned_by": {
                  "type": "string"
                }
              }
            }
          }
        }
      },
      "DetailedModelsListResponse": {
        "type": "object",
        "properties": {
          "data": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "id": {
                  "type": "string"
                },
                "object": {
                  "type": "string"
                },
                "owned_by": {
                  "type": "string"
                },
                "capabilities": {
                  "type": "object"
                },
                "pricing": {
                  "type": "object"
                },
                "performance": {
                  "type": "object"
                }
              }
            }
          }
        }
      },
      "ScrapeRequest": {
        "type": "object",
        "required": [
          "url"
        ],
        "properties": {
          "url": {
            "type": "string",
            "format": "uri",
            "description": "URL of the webpage to scrape"
          }
        }
      },
      "ScrapeResponse": {
        "type": "object",
        "properties": {
          "content": {
            "type": "string",
            "description": "Extracted text content from the webpage"
          },
          "metadata": {
            "type": "object",
            "description": "Metadata about the scraped page"
          }
        }
      },
      "AnonymizeRequest": {
        "type": "object",
        "required": [
          "text"
        ],
        "properties": {
          "text": {
            "type": "string",
            "description": "Text containing PII entities to anonymize"
          }
        }
      },
      "AnonymizeResponse": {
        "type": "object",
        "properties": {
          "anonymized_text": {
            "type": "string",
            "description": "Text with PII replaced by SHA-256 hashes"
          },
          "mappings": {
            "type": "object",
            "additionalProperties": {
              "type": "string"
            },
            "description": "Mapping of original values to anonymized replacements"
          }
        }
      },
      "ParseDocumentRequest": {
        "type": "object",
        "properties": {
          "file": {
            "type": "string",
            "format": "binary",
            "description": "Document file to parse (max 5MB). Supports PDF, DOC, DOCX, PPT, PPTX, XLS, XLSX, TXT, RTF, ODT, ODP, ODS, EPUB, HTML, XML."
          }
        }
      },
      "ParseDocumentResponse": {
        "type": "object",
        "properties": {
          "content": {
            "type": "string",
            "description": "Extracted text content from the document"
          },
          "metadata": {
            "type": "object",
            "description": "Document metadata"
          }
        }
      },
      "RagCollectionsResponse": {
        "type": "object",
        "properties": {
          "collections": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "name": {
                  "type": "string"
                },
                "size": {
                  "type": "integer"
                }
              }
            }
          }
        }
      },
      "ErrorResponse": {
        "type": "object",
        "properties": {
          "error": {
            "type": "object",
            "properties": {
              "message": {
                "type": "string",
                "description": "Error message"
              },
              "type": {
                "type": "string",
                "description": "Error type"
              },
              "code": {
                "type": "string",
                "description": "Error code"
              }
            }
          }
        }
      }
    }
  }
}
