{
  "openapi": "3.0.3",
  "info": {
    "title": "Razorpay Payments API",
    "description": "Razorpay is an Indian payment gateway that allows businesses to accept, process and disburse payments. This API covers orders, payments, refunds, customers, settlements, payment links, and more.",
    "version": "1.0.0",
    "x-jentic-source-url": "https://razorpay.com/docs/api/payments/",
    "contact": {
      "name": "Razorpay Support",
      "url": "https://razorpay.com/support/"
    }
  },
  "servers": [
    {
      "url": "https://api.razorpay.com/v1",
      "description": "Razorpay Production API"
    }
  ],
  "security": [
    {
      "basicAuth": []
    }
  ],
  "paths": {
    "/orders": {
      "post": {
        "operationId": "createOrder",
        "summary": "Create an order",
        "description": "Create an order to capture payments. An order must be created before accepting payment from customers.",
        "tags": ["Orders"],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": ["amount", "currency"],
                "properties": {
                  "amount": {
                    "type": "integer",
                    "description": "Amount in the smallest currency sub-unit (e.g., paise for INR). Minimum value is 100 (i.e., 1 INR).",
                    "example": 50000
                  },
                  "currency": {
                    "type": "string",
                    "description": "ISO currency code (e.g., INR, USD).",
                    "example": "INR"
                  },
                  "receipt": {
                    "type": "string",
                    "description": "Receipt number for the order, max 40 characters.",
                    "example": "receipt#1"
                  },
                  "notes": {
                    "type": "object",
                    "description": "Key-value pairs for additional information. Max 15 key-value pairs, 256 characters each.",
                    "additionalProperties": {
                      "type": "string"
                    }
                  },
                  "partial_payment": {
                    "type": "boolean",
                    "description": "Indicates whether the customer can make partial payments.",
                    "default": false
                  },
                  "first_payment_min_amount": {
                    "type": "integer",
                    "description": "Minimum amount for first partial payment. Only if partial_payment is true."
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Order created successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Order"
                }
              }
            }
          },
          "400": {
            "description": "Bad request - invalid parameters",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized - invalid API key",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      },
      "get": {
        "operationId": "listOrders",
        "summary": "List all orders",
        "description": "Retrieve a list of all orders created.",
        "tags": ["Orders"],
        "parameters": [
          {
            "name": "from",
            "in": "query",
            "description": "Unix timestamp from which orders are to be fetched.",
            "schema": { "type": "integer" }
          },
          {
            "name": "to",
            "in": "query",
            "description": "Unix timestamp up to which orders are to be fetched.",
            "schema": { "type": "integer" }
          },
          {
            "name": "count",
            "in": "query",
            "description": "Number of orders to be fetched. Default is 10, maximum is 100.",
            "schema": { "type": "integer", "default": 10, "maximum": 100 }
          },
          {
            "name": "skip",
            "in": "query",
            "description": "Number of orders to be skipped.",
            "schema": { "type": "integer", "default": 0 }
          },
          {
            "name": "authorized",
            "in": "query",
            "description": "Filter by authorization status. 0 for unauthorized, 1 for authorized.",
            "schema": { "type": "integer", "enum": [0, 1] }
          },
          {
            "name": "receipt",
            "in": "query",
            "description": "Filter by receipt number.",
            "schema": { "type": "string" }
          }
        ],
        "responses": {
          "200": {
            "description": "List of orders",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "entity": { "type": "string", "example": "collection" },
                    "count": { "type": "integer" },
                    "items": {
                      "type": "array",
                      "items": { "$ref": "#/components/schemas/Order" }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/Error" }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/Error" }
              }
            }
          }
        }
      }
    },
    "/orders/{order_id}": {
      "get": {
        "operationId": "fetchOrder",
        "summary": "Fetch an order by ID",
        "description": "Retrieve details of a specific order using its unique identifier.",
        "tags": ["Orders"],
        "parameters": [
          {
            "name": "order_id",
            "in": "path",
            "required": true,
            "description": "Unique identifier of the order.",
            "schema": { "type": "string" }
          }
        ],
        "responses": {
          "200": {
            "description": "Order details",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/Order" }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/Error" }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/Error" }
              }
            }
          }
        }
      }
    },
    "/orders/{order_id}/payments": {
      "get": {
        "operationId": "fetchOrderPayments",
        "summary": "Fetch payments for an order",
        "description": "Retrieve all payment attempts for a specific order.",
        "tags": ["Orders"],
        "parameters": [
          {
            "name": "order_id",
            "in": "path",
            "required": true,
            "description": "Unique identifier of the order.",
            "schema": { "type": "string" }
          }
        ],
        "responses": {
          "200": {
            "description": "List of payments for the order",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "entity": { "type": "string", "example": "collection" },
                    "count": { "type": "integer" },
                    "items": {
                      "type": "array",
                      "items": { "$ref": "#/components/schemas/Payment" }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/Error" }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/Error" }
              }
            }
          }
        }
      }
    },
    "/payments": {
      "get": {
        "operationId": "listPayments",
        "summary": "List all payments",
        "description": "Retrieve a list of all payments.",
        "tags": ["Payments"],
        "parameters": [
          {
            "name": "from",
            "in": "query",
            "description": "Unix timestamp from which payments are to be fetched.",
            "schema": { "type": "integer" }
          },
          {
            "name": "to",
            "in": "query",
            "description": "Unix timestamp up to which payments are to be fetched.",
            "schema": { "type": "integer" }
          },
          {
            "name": "count",
            "in": "query",
            "description": "Number of payments to fetch. Default 10, max 100.",
            "schema": { "type": "integer", "default": 10, "maximum": 100 }
          },
          {
            "name": "skip",
            "in": "query",
            "description": "Number of payments to skip.",
            "schema": { "type": "integer", "default": 0 }
          }
        ],
        "responses": {
          "200": {
            "description": "List of payments",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "entity": { "type": "string", "example": "collection" },
                    "count": { "type": "integer" },
                    "items": {
                      "type": "array",
                      "items": { "$ref": "#/components/schemas/Payment" }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/Error" }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/Error" }
              }
            }
          }
        }
      }
    },
    "/payments/{payment_id}": {
      "get": {
        "operationId": "fetchPayment",
        "summary": "Fetch a payment by ID",
        "description": "Retrieve details of a specific payment.",
        "tags": ["Payments"],
        "parameters": [
          {
            "name": "payment_id",
            "in": "path",
            "required": true,
            "description": "Unique identifier of the payment.",
            "schema": { "type": "string" }
          }
        ],
        "responses": {
          "200": {
            "description": "Payment details",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/Payment" }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/Error" }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/Error" }
              }
            }
          }
        }
      }
    },
    "/payments/{payment_id}/capture": {
      "post": {
        "operationId": "capturePayment",
        "summary": "Capture a payment",
        "description": "Capture a previously authorized payment. Only authorized payments can be captured.",
        "tags": ["Payments"],
        "parameters": [
          {
            "name": "payment_id",
            "in": "path",
            "required": true,
            "description": "Unique identifier of the payment to capture.",
            "schema": { "type": "string" }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": ["amount", "currency"],
                "properties": {
                  "amount": {
                    "type": "integer",
                    "description": "Amount to capture in smallest currency sub-unit.",
                    "example": 50000
                  },
                  "currency": {
                    "type": "string",
                    "description": "ISO currency code.",
                    "example": "INR"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Payment captured successfully",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/Payment" }
              }
            }
          },
          "400": {
            "description": "Bad request - payment cannot be captured",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/Error" }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/Error" }
              }
            }
          }
        }
      }
    },
    "/payments/{payment_id}/refund": {
      "post": {
        "operationId": "createRefundForPayment",
        "summary": "Create a refund for a payment",
        "description": "Create a normal or instant refund for a specific payment.",
        "tags": ["Refunds"],
        "parameters": [
          {
            "name": "payment_id",
            "in": "path",
            "required": true,
            "description": "Unique identifier of the payment to refund.",
            "schema": { "type": "string" }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": ["amount"],
                "properties": {
                  "amount": {
                    "type": "integer",
                    "description": "Amount to be refunded in the smallest currency sub-unit.",
                    "example": 50000
                  },
                  "speed": {
                    "type": "string",
                    "description": "Speed of refund processing.",
                    "enum": ["normal", "optimum"],
                    "default": "normal"
                  },
                  "notes": {
                    "type": "object",
                    "description": "Key-value pairs for additional information.",
                    "additionalProperties": { "type": "string" }
                  },
                  "receipt": {
                    "type": "string",
                    "description": "Unique receipt number for the refund."
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Refund created successfully",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/Refund" }
              }
            }
          },
          "400": {
            "description": "Bad request - invalid refund amount or payment not refundable",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/Error" }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/Error" }
              }
            }
          }
        }
      }
    },
    "/refunds": {
      "get": {
        "operationId": "listRefunds",
        "summary": "List all refunds",
        "description": "Retrieve a list of all refunds.",
        "tags": ["Refunds"],
        "parameters": [
          {
            "name": "from",
            "in": "query",
            "description": "Unix timestamp from which refunds are to be fetched.",
            "schema": { "type": "integer" }
          },
          {
            "name": "to",
            "in": "query",
            "description": "Unix timestamp up to which refunds are to be fetched.",
            "schema": { "type": "integer" }
          },
          {
            "name": "count",
            "in": "query",
            "description": "Number of refunds to fetch. Default 10, max 100.",
            "schema": { "type": "integer", "default": 10, "maximum": 100 }
          },
          {
            "name": "skip",
            "in": "query",
            "description": "Number of refunds to skip.",
            "schema": { "type": "integer", "default": 0 }
          }
        ],
        "responses": {
          "200": {
            "description": "List of refunds",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "entity": { "type": "string", "example": "collection" },
                    "count": { "type": "integer" },
                    "items": {
                      "type": "array",
                      "items": { "$ref": "#/components/schemas/Refund" }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/Error" }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/Error" }
              }
            }
          }
        }
      }
    },
    "/refunds/{refund_id}": {
      "get": {
        "operationId": "fetchRefund",
        "summary": "Fetch a specific refund",
        "description": "Retrieve details of a specific refund.",
        "tags": ["Refunds"],
        "parameters": [
          {
            "name": "refund_id",
            "in": "path",
            "required": true,
            "description": "Unique identifier of the refund.",
            "schema": { "type": "string" }
          }
        ],
        "responses": {
          "200": {
            "description": "Refund details",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/Refund" }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/Error" }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/Error" }
              }
            }
          }
        }
      }
    },
    "/customers": {
      "post": {
        "operationId": "createCustomer",
        "summary": "Create a customer",
        "description": "Create a new customer record.",
        "tags": ["Customers"],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": ["name", "contact", "email"],
                "properties": {
                  "name": {
                    "type": "string",
                    "description": "Customer's name.",
                    "example": "Gaurav Kumar"
                  },
                  "contact": {
                    "type": "string",
                    "description": "Customer's phone number.",
                    "example": "9876543210"
                  },
                  "email": {
                    "type": "string",
                    "description": "Customer's email address.",
                    "example": "gaurav.kumar@example.com"
                  },
                  "fail_existing": {
                    "type": "string",
                    "description": "If set to 1, the request throws an exception if a customer with same details already exists.",
                    "enum": ["0", "1"],
                    "default": "1"
                  },
                  "gstin": {
                    "type": "string",
                    "description": "Customer's GSTIN, if available."
                  },
                  "notes": {
                    "type": "object",
                    "description": "Key-value pairs for additional information.",
                    "additionalProperties": { "type": "string" }
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Customer created",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/Customer" }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/Error" }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/Error" }
              }
            }
          }
        }
      }
    },
    "/customers/{customer_id}": {
      "get": {
        "operationId": "fetchCustomer",
        "summary": "Fetch a customer by ID",
        "description": "Retrieve details of a specific customer.",
        "tags": ["Customers"],
        "parameters": [
          {
            "name": "customer_id",
            "in": "path",
            "required": true,
            "description": "Unique identifier of the customer.",
            "schema": { "type": "string" }
          }
        ],
        "responses": {
          "200": {
            "description": "Customer details",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/Customer" }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/Error" }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/Error" }
              }
            }
          }
        }
      },
      "put": {
        "operationId": "updateCustomer",
        "summary": "Update a customer",
        "description": "Update an existing customer's details.",
        "tags": ["Customers"],
        "parameters": [
          {
            "name": "customer_id",
            "in": "path",
            "required": true,
            "description": "Unique identifier of the customer.",
            "schema": { "type": "string" }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "name": { "type": "string", "description": "Customer's name." },
                  "email": { "type": "string", "description": "Customer's email." },
                  "contact": { "type": "string", "description": "Customer's phone number." }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Customer updated",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/Customer" }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/Error" }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/Error" }
              }
            }
          }
        }
      }
    },
    "/payment_links": {
      "post": {
        "operationId": "createPaymentLink",
        "summary": "Create a payment link",
        "description": "Create a payment link that can be shared with customers to collect payments.",
        "tags": ["Payment Links"],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": ["amount", "currency", "description"],
                "properties": {
                  "amount": {
                    "type": "integer",
                    "description": "Amount in smallest currency sub-unit.",
                    "example": 100000
                  },
                  "currency": {
                    "type": "string",
                    "description": "ISO currency code.",
                    "example": "INR"
                  },
                  "description": {
                    "type": "string",
                    "description": "Brief description of the payment link.",
                    "example": "Payment for Order #123"
                  },
                  "accept_partial": {
                    "type": "boolean",
                    "description": "Whether to accept partial payments.",
                    "default": false
                  },
                  "first_min_partial_amount": {
                    "type": "integer",
                    "description": "Minimum amount for first partial payment."
                  },
                  "customer": {
                    "type": "object",
                    "description": "Customer details.",
                    "properties": {
                      "name": { "type": "string" },
                      "email": { "type": "string" },
                      "contact": { "type": "string" }
                    }
                  },
                  "notify": {
                    "type": "object",
                    "description": "Notification settings.",
                    "properties": {
                      "sms": { "type": "boolean" },
                      "email": { "type": "boolean" }
                    }
                  },
                  "reminder_enable": {
                    "type": "boolean",
                    "description": "Enable automatic reminders."
                  },
                  "expire_by": {
                    "type": "integer",
                    "description": "Unix timestamp for expiration."
                  },
                  "callback_url": {
                    "type": "string",
                    "description": "URL to redirect after successful payment."
                  },
                  "callback_method": {
                    "type": "string",
                    "description": "HTTP method for callback.",
                    "enum": ["get"]
                  },
                  "notes": {
                    "type": "object",
                    "additionalProperties": { "type": "string" }
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Payment link created",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/PaymentLink" }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/Error" }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/Error" }
              }
            }
          }
        }
      },
      "get": {
        "operationId": "listPaymentLinks",
        "summary": "List all payment links",
        "description": "Retrieve a list of all payment links.",
        "tags": ["Payment Links"],
        "parameters": [
          {
            "name": "payment_id",
            "in": "query",
            "description": "Filter by a specific payment ID.",
            "schema": { "type": "string" }
          },
          {
            "name": "reference_id",
            "in": "query",
            "description": "Filter by reference ID.",
            "schema": { "type": "string" }
          }
        ],
        "responses": {
          "200": {
            "description": "List of payment links",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "payment_links": {
                      "type": "array",
                      "items": { "$ref": "#/components/schemas/PaymentLink" }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/Error" }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/Error" }
              }
            }
          }
        }
      }
    },
    "/payment_links/{plink_id}": {
      "get": {
        "operationId": "fetchPaymentLink",
        "summary": "Fetch a payment link by ID",
        "description": "Retrieve details of a specific payment link.",
        "tags": ["Payment Links"],
        "parameters": [
          {
            "name": "plink_id",
            "in": "path",
            "required": true,
            "description": "Unique identifier of the payment link.",
            "schema": { "type": "string" }
          }
        ],
        "responses": {
          "200": {
            "description": "Payment link details",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/PaymentLink" }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/Error" }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/Error" }
              }
            }
          }
        }
      }
    },
    "/payment_links/{plink_id}/cancel": {
      "post": {
        "operationId": "cancelPaymentLink",
        "summary": "Cancel a payment link",
        "description": "Cancel a specific payment link. Only links in created state can be cancelled.",
        "tags": ["Payment Links"],
        "parameters": [
          {
            "name": "plink_id",
            "in": "path",
            "required": true,
            "description": "Unique identifier of the payment link to cancel.",
            "schema": { "type": "string" }
          }
        ],
        "responses": {
          "200": {
            "description": "Payment link cancelled",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/PaymentLink" }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/Error" }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/Error" }
              }
            }
          }
        }
      }
    },
    "/settlements": {
      "get": {
        "operationId": "listSettlements",
        "summary": "List all settlements",
        "description": "Retrieve a list of all settlements.",
        "tags": ["Settlements"],
        "parameters": [
          {
            "name": "from",
            "in": "query",
            "description": "Unix timestamp to filter settlements from.",
            "schema": { "type": "integer" }
          },
          {
            "name": "to",
            "in": "query",
            "description": "Unix timestamp to filter settlements to.",
            "schema": { "type": "integer" }
          },
          {
            "name": "count",
            "in": "query",
            "description": "Number of settlements to fetch.",
            "schema": { "type": "integer", "default": 10, "maximum": 100 }
          },
          {
            "name": "skip",
            "in": "query",
            "description": "Number of settlements to skip.",
            "schema": { "type": "integer", "default": 0 }
          }
        ],
        "responses": {
          "200": {
            "description": "List of settlements",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "entity": { "type": "string", "example": "collection" },
                    "count": { "type": "integer" },
                    "items": {
                      "type": "array",
                      "items": { "$ref": "#/components/schemas/Settlement" }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/Error" }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/Error" }
              }
            }
          }
        }
      }
    },
    "/settlements/{settlement_id}": {
      "get": {
        "operationId": "fetchSettlement",
        "summary": "Fetch a settlement by ID",
        "description": "Retrieve details of a specific settlement.",
        "tags": ["Settlements"],
        "parameters": [
          {
            "name": "settlement_id",
            "in": "path",
            "required": true,
            "description": "Unique identifier of the settlement.",
            "schema": { "type": "string" }
          }
        ],
        "responses": {
          "200": {
            "description": "Settlement details",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/Settlement" }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/Error" }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/Error" }
              }
            }
          }
        }
      }
    }
  },
  "components": {
    "securitySchemes": {
      "basicAuth": {
        "type": "http",
        "scheme": "basic",
        "description": "HTTP Basic Auth using API Key ID as username and API Key Secret as password. Obtain keys from the Razorpay Dashboard under Settings > API Keys."
      }
    },
    "schemas": {
      "Order": {
        "type": "object",
        "properties": {
          "id": { "type": "string", "description": "Unique identifier of the order.", "example": "order_DBJOWzybf0sJbb" },
          "entity": { "type": "string", "example": "order" },
          "amount": { "type": "integer", "description": "Order amount in smallest currency sub-unit.", "example": 50000 },
          "amount_paid": { "type": "integer", "description": "Amount paid against the order.", "example": 0 },
          "amount_due": { "type": "integer", "description": "Amount remaining to be paid.", "example": 50000 },
          "currency": { "type": "string", "example": "INR" },
          "receipt": { "type": "string", "example": "receipt#1" },
          "offer_id": { "type": "string", "nullable": true },
          "status": { "type": "string", "enum": ["created", "attempted", "paid"], "example": "created" },
          "attempts": { "type": "integer", "example": 0 },
          "notes": { "type": "object", "additionalProperties": { "type": "string" } },
          "created_at": { "type": "integer", "description": "Unix timestamp of creation." }
        }
      },
      "Payment": {
        "type": "object",
        "properties": {
          "id": { "type": "string", "example": "pay_FHfGzKyHkUTa4m" },
          "entity": { "type": "string", "example": "payment" },
          "amount": { "type": "integer", "example": 50000 },
          "currency": { "type": "string", "example": "INR" },
          "status": { "type": "string", "enum": ["created", "authorized", "captured", "refunded", "failed"], "example": "captured" },
          "order_id": { "type": "string", "example": "order_DBJOWzybf0sJbb" },
          "invoice_id": { "type": "string", "nullable": true },
          "international": { "type": "boolean" },
          "method": { "type": "string", "enum": ["card", "netbanking", "wallet", "emi", "upi", "bank_transfer"], "example": "upi" },
          "amount_refunded": { "type": "integer", "example": 0 },
          "refund_status": { "type": "string", "nullable": true, "enum": ["null", "partial", "full"] },
          "captured": { "type": "boolean" },
          "description": { "type": "string" },
          "card_id": { "type": "string", "nullable": true },
          "bank": { "type": "string", "nullable": true },
          "wallet": { "type": "string", "nullable": true },
          "vpa": { "type": "string", "nullable": true, "description": "Virtual Payment Address for UPI." },
          "email": { "type": "string" },
          "contact": { "type": "string" },
          "customer_id": { "type": "string", "nullable": true },
          "fee": { "type": "integer", "description": "Fee charged by Razorpay." },
          "tax": { "type": "integer", "description": "Tax on the fee." },
          "error_code": { "type": "string", "nullable": true },
          "error_description": { "type": "string", "nullable": true },
          "notes": { "type": "object", "additionalProperties": { "type": "string" } },
          "created_at": { "type": "integer" }
        }
      },
      "Refund": {
        "type": "object",
        "properties": {
          "id": { "type": "string", "example": "rfnd_FP8QHiV938haTz" },
          "entity": { "type": "string", "example": "refund" },
          "amount": { "type": "integer", "example": 50000 },
          "currency": { "type": "string", "example": "INR" },
          "payment_id": { "type": "string", "example": "pay_FHfGzKyHkUTa4m" },
          "notes": { "type": "object", "additionalProperties": { "type": "string" } },
          "receipt": { "type": "string", "nullable": true },
          "acquirer_data": {
            "type": "object",
            "properties": {
              "rrn": { "type": "string", "nullable": true }
            }
          },
          "status": { "type": "string", "enum": ["pending", "processed", "failed"], "example": "processed" },
          "speed_processed": { "type": "string", "enum": ["normal", "instant"] },
          "speed_requested": { "type": "string", "enum": ["normal", "optimum"] },
          "created_at": { "type": "integer" }
        }
      },
      "Customer": {
        "type": "object",
        "properties": {
          "id": { "type": "string", "example": "cust_1Aa00000000004" },
          "entity": { "type": "string", "example": "customer" },
          "name": { "type": "string", "example": "Gaurav Kumar" },
          "email": { "type": "string", "example": "gaurav.kumar@example.com" },
          "contact": { "type": "string", "example": "9876543210" },
          "gstin": { "type": "string", "nullable": true },
          "notes": { "type": "object", "additionalProperties": { "type": "string" } },
          "created_at": { "type": "integer" }
        }
      },
      "PaymentLink": {
        "type": "object",
        "properties": {
          "id": { "type": "string", "example": "plink_ExjpAUN3gVHrPJ" },
          "amount": { "type": "integer", "example": 100000 },
          "currency": { "type": "string", "example": "INR" },
          "accept_partial": { "type": "boolean" },
          "first_min_partial_amount": { "type": "integer" },
          "description": { "type": "string" },
          "customer": {
            "type": "object",
            "properties": {
              "name": { "type": "string" },
              "email": { "type": "string" },
              "contact": { "type": "string" }
            }
          },
          "notify": {
            "type": "object",
            "properties": {
              "sms": { "type": "boolean" },
              "email": { "type": "boolean" }
            }
          },
          "reminder_enable": { "type": "boolean" },
          "expire_by": { "type": "integer" },
          "short_url": { "type": "string", "description": "Shortened URL for the payment link." },
          "status": { "type": "string", "enum": ["created", "partially_paid", "expired", "cancelled", "paid"] },
          "amount_paid": { "type": "integer" },
          "cancelled_at": { "type": "integer", "nullable": true },
          "expired_at": { "type": "integer", "nullable": true },
          "closed_at": { "type": "integer", "nullable": true },
          "notes": { "type": "object", "additionalProperties": { "type": "string" } },
          "created_at": { "type": "integer" },
          "updated_at": { "type": "integer" }
        }
      },
      "Settlement": {
        "type": "object",
        "properties": {
          "id": { "type": "string", "example": "setl_DGf4xzavSuhanK" },
          "entity": { "type": "string", "example": "settlement" },
          "amount": { "type": "integer" },
          "status": { "type": "string", "enum": ["created", "processed", "failed"] },
          "fees": { "type": "integer" },
          "tax": { "type": "integer" },
          "utr": { "type": "string", "description": "Unique Transaction Reference number." },
          "created_at": { "type": "integer" }
        }
      },
      "Error": {
        "type": "object",
        "properties": {
          "error": {
            "type": "object",
            "properties": {
              "code": { "type": "string", "description": "Error code.", "example": "BAD_REQUEST_ERROR" },
              "description": { "type": "string", "description": "Human-readable error description." },
              "source": { "type": "string", "description": "Source of the error." },
              "step": { "type": "string", "description": "Step at which the error occurred." },
              "reason": { "type": "string", "description": "Reason for the error." },
              "metadata": { "type": "object" },
              "field": { "type": "string", "description": "Field that caused the error." }
            }
          }
        }
      }
    }
  }
}