{
  "openapi": "3.0.3",
  "info": {
    "title": "Pixela API",
    "description": "API for recording and tracking habits or effort, routines. Pixela provides graph-based tracking of daily activities with SVG visualizations.",
    "version": "1.0.0",
    "x-jentic-source-url": "https://pixe.la",
    "contact": {}
  },
  "servers": [
    {
      "url": "https://pixe.la",
      "description": "Pixela API server"
    }
  ],
  "security": [
    {
      "userToken": []
    }
  ],
  "tags": [
    {
      "name": "Users",
      "description": "User account management"
    },
    {
      "name": "Profiles",
      "description": "User profile operations"
    },
    {
      "name": "Graphs",
      "description": "Graph definition and management"
    },
    {
      "name": "Pixels",
      "description": "Pixel (data point) operations"
    },
    {
      "name": "Instant",
      "description": "Instant recording operations (increment/decrement)"
    },
    {
      "name": "Webhooks",
      "description": "Webhook management"
    }
  ],
  "paths": {
    "/v1/users": {
      "post": {
        "tags": [
          "Users"
        ],
        "summary": "Create a new user",
        "operationId": "createUser",
        "security": [],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateUserRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "User created successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SuccessResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "description": "Create a new user"
      }
    },
    "/v1/users/{username}": {
      "put": {
        "tags": [
          "Users"
        ],
        "summary": "Update a user",
        "operationId": "updateUser",
        "parameters": [
          {
            "$ref": "#/components/parameters/Username"
          },
          {
            "name": "username",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UpdateUserRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "User updated successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SuccessResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "description": "Update a user"
      },
      "delete": {
        "tags": [
          "Users"
        ],
        "summary": "Delete a user",
        "operationId": "deleteUser",
        "parameters": [
          {
            "$ref": "#/components/parameters/Username"
          },
          {
            "name": "username",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "User deleted successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SuccessResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "description": "Delete a user"
      }
    },
    "/@{username}": {
      "get": {
        "tags": [
          "Profiles"
        ],
        "summary": "View user profile",
        "operationId": "getUserProfile",
        "security": [],
        "parameters": [
          {
            "$ref": "#/components/parameters/Username"
          },
          {
            "name": "username",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "User profile page",
            "content": {
              "text/html": {
                "schema": {
                  "type": "string"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "description": "View user profile"
      },
      "put": {
        "tags": [
          "Profiles"
        ],
        "summary": "Update user profile",
        "operationId": "updateUserProfile",
        "parameters": [
          {
            "$ref": "#/components/parameters/Username"
          },
          {
            "name": "username",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UpdateProfileRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Profile updated successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SuccessResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "description": "Update user profile"
      }
    },
    "/v1/users/{username}/graphs": {
      "post": {
        "tags": [
          "Graphs"
        ],
        "summary": "Create a graph definition",
        "operationId": "createGraph",
        "parameters": [
          {
            "$ref": "#/components/parameters/Username"
          },
          {
            "name": "username",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateGraphRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Graph created successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SuccessResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "description": "Create a graph definition"
      },
      "get": {
        "tags": [
          "Graphs"
        ],
        "summary": "Get all graph definitions",
        "operationId": "getGraphs",
        "parameters": [
          {
            "$ref": "#/components/parameters/Username"
          },
          {
            "name": "username",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "List of graph definitions",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GraphList"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "description": "Get all graph definitions"
      }
    },
    "/v1/users/{username}/graphs/{graphID}": {
      "get": {
        "tags": [
          "Graphs"
        ],
        "summary": "Get graph SVG",
        "operationId": "getGraphSVG",
        "security": [],
        "parameters": [
          {
            "$ref": "#/components/parameters/Username"
          },
          {
            "$ref": "#/components/parameters/GraphID"
          },
          {
            "name": "username",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "graphID",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Graph SVG image",
            "content": {
              "image/svg+xml": {
                "schema": {
                  "type": "string"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "description": "Get graph SVG"
      },
      "put": {
        "tags": [
          "Graphs"
        ],
        "summary": "Update a graph definition",
        "operationId": "updateGraph",
        "parameters": [
          {
            "$ref": "#/components/parameters/Username"
          },
          {
            "$ref": "#/components/parameters/GraphID"
          },
          {
            "name": "username",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "graphID",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UpdateGraphRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Graph updated successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SuccessResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "description": "Update a graph definition"
      },
      "delete": {
        "tags": [
          "Graphs"
        ],
        "summary": "Delete a graph",
        "operationId": "deleteGraph",
        "parameters": [
          {
            "$ref": "#/components/parameters/Username"
          },
          {
            "$ref": "#/components/parameters/GraphID"
          },
          {
            "name": "username",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "graphID",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Graph deleted successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SuccessResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "description": "Delete a graph"
      }
    },
    "/v1/users/{username}/graphs/{graphID}/graph-def": {
      "get": {
        "tags": [
          "Graphs"
        ],
        "summary": "Get a single graph definition",
        "operationId": "getGraphDefinition",
        "parameters": [
          {
            "$ref": "#/components/parameters/Username"
          },
          {
            "$ref": "#/components/parameters/GraphID"
          },
          {
            "name": "username",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "graphID",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Graph definition",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Graph"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "description": "Get a single graph definition"
      }
    },
    "/v1/users/{username}/graphs/{graphID}/pixels": {
      "get": {
        "tags": [
          "Pixels"
        ],
        "summary": "Get pixels list",
        "operationId": "getPixels",
        "parameters": [
          {
            "$ref": "#/components/parameters/Username"
          },
          {
            "$ref": "#/components/parameters/GraphID"
          },
          {
            "name": "username",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "graphID",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "List of pixels",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PixelList"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "description": "Get pixels list"
      },
      "post": {
        "tags": [
          "Pixels"
        ],
        "summary": "Post multiple pixels",
        "operationId": "postMultiplePixels",
        "parameters": [
          {
            "$ref": "#/components/parameters/Username"
          },
          {
            "$ref": "#/components/parameters/GraphID"
          },
          {
            "name": "username",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "graphID",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "array",
                "items": {
                  "$ref": "#/components/schemas/PixelInput"
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Pixels posted successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SuccessResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "description": "Post multiple pixels"
      }
    },
    "/v1/users/{username}/graphs/{graphID}/stats": {
      "get": {
        "tags": [
          "Graphs"
        ],
        "summary": "Get graph statistics",
        "operationId": "getGraphStats",
        "security": [],
        "parameters": [
          {
            "$ref": "#/components/parameters/Username"
          },
          {
            "$ref": "#/components/parameters/GraphID"
          },
          {
            "name": "username",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "graphID",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Graph statistics",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GraphStats"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "description": "Get graph statistics"
      }
    },
    "/v1/users/{username}/graphs/{graphID}/{yyyyMMdd}": {
      "get": {
        "tags": [
          "Pixels"
        ],
        "summary": "Get a specific pixel",
        "operationId": "getPixel",
        "parameters": [
          {
            "$ref": "#/components/parameters/Username"
          },
          {
            "$ref": "#/components/parameters/GraphID"
          },
          {
            "$ref": "#/components/parameters/Date"
          },
          {
            "name": "username",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "graphID",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "yyyyMMdd",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Pixel data",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Pixel"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "description": "Get a specific pixel"
      },
      "put": {
        "tags": [
          "Pixels"
        ],
        "summary": "Update a pixel",
        "operationId": "updatePixel",
        "parameters": [
          {
            "$ref": "#/components/parameters/Username"
          },
          {
            "$ref": "#/components/parameters/GraphID"
          },
          {
            "$ref": "#/components/parameters/Date"
          },
          {
            "name": "username",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "graphID",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "yyyyMMdd",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/PixelInput"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Pixel updated successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SuccessResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "description": "Update a pixel"
      },
      "delete": {
        "tags": [
          "Pixels"
        ],
        "summary": "Delete a pixel",
        "operationId": "deletePixel",
        "parameters": [
          {
            "$ref": "#/components/parameters/Username"
          },
          {
            "$ref": "#/components/parameters/GraphID"
          },
          {
            "$ref": "#/components/parameters/Date"
          },
          {
            "name": "username",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "graphID",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "yyyyMMdd",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Pixel deleted successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SuccessResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "description": "Delete a pixel"
      }
    },
    "/v1/users/{username}/graphs/{graphID}/latest": {
      "get": {
        "tags": [
          "Pixels"
        ],
        "summary": "Get the latest pixel",
        "operationId": "getLatestPixel",
        "parameters": [
          {
            "$ref": "#/components/parameters/Username"
          },
          {
            "$ref": "#/components/parameters/GraphID"
          },
          {
            "name": "username",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "graphID",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Latest pixel data",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Pixel"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "description": "Get the latest pixel"
      }
    },
    "/v1/users/{username}/graphs/{graphID}/today": {
      "get": {
        "tags": [
          "Pixels"
        ],
        "summary": "Get today's pixel",
        "operationId": "getTodayPixel",
        "parameters": [
          {
            "$ref": "#/components/parameters/Username"
          },
          {
            "$ref": "#/components/parameters/GraphID"
          },
          {
            "name": "username",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "graphID",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Today's pixel data",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Pixel"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "description": "Get today's pixel"
      }
    },
    "/v1/users/{username}/graphs/{graphID}/increment": {
      "put": {
        "tags": [
          "Instant"
        ],
        "summary": "Increment today's pixel value",
        "operationId": "incrementPixel",
        "parameters": [
          {
            "$ref": "#/components/parameters/Username"
          },
          {
            "$ref": "#/components/parameters/GraphID"
          },
          {
            "name": "username",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "graphID",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Pixel incremented successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SuccessResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "description": "Increment today's pixel value"
      }
    },
    "/v1/users/{username}/graphs/{graphID}/decrement": {
      "put": {
        "tags": [
          "Instant"
        ],
        "summary": "Decrement today's pixel value",
        "operationId": "decrementPixel",
        "parameters": [
          {
            "$ref": "#/components/parameters/Username"
          },
          {
            "$ref": "#/components/parameters/GraphID"
          },
          {
            "name": "username",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "graphID",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Pixel decremented successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SuccessResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "description": "Decrement today's pixel value"
      }
    },
    "/v1/users/{username}/graphs/{graphID}/stopwatch": {
      "post": {
        "tags": [
          "Instant"
        ],
        "summary": "Start or stop a stopwatch for time tracking",
        "operationId": "stopwatch",
        "parameters": [
          {
            "$ref": "#/components/parameters/Username"
          },
          {
            "$ref": "#/components/parameters/GraphID"
          },
          {
            "name": "username",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "graphID",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Stopwatch toggled successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SuccessResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "description": "Start or stop a stopwatch for time tracking"
      }
    },
    "/v1/users/{username}/webhooks": {
      "post": {
        "tags": [
          "Webhooks"
        ],
        "summary": "Create a webhook",
        "operationId": "createWebhook",
        "parameters": [
          {
            "$ref": "#/components/parameters/Username"
          },
          {
            "name": "username",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateWebhookRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Webhook created successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/WebhookCreateResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "description": "Create a webhook"
      },
      "get": {
        "tags": [
          "Webhooks"
        ],
        "summary": "Get all webhooks",
        "operationId": "getWebhooks",
        "parameters": [
          {
            "$ref": "#/components/parameters/Username"
          },
          {
            "name": "username",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "List of webhooks",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/WebhookList"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "description": "Get all webhooks"
      }
    },
    "/v1/users/{username}/webhooks/{webhookHash}": {
      "post": {
        "tags": [
          "Webhooks"
        ],
        "summary": "Invoke a webhook",
        "operationId": "invokeWebhook",
        "security": [],
        "parameters": [
          {
            "$ref": "#/components/parameters/Username"
          },
          {
            "name": "webhookHash",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "The webhook hash identifier"
          },
          {
            "name": "username",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Webhook invoked successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SuccessResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "description": "Invoke a webhook"
      },
      "delete": {
        "tags": [
          "Webhooks"
        ],
        "summary": "Delete a webhook",
        "operationId": "deleteWebhook",
        "parameters": [
          {
            "$ref": "#/components/parameters/Username"
          },
          {
            "name": "webhookHash",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "The webhook hash identifier"
          },
          {
            "name": "username",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Webhook deleted successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SuccessResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "description": "Delete a webhook"
      }
    }
  },
  "components": {
    "securitySchemes": {
      "userToken": {
        "type": "apiKey",
        "in": "header",
        "name": "X-USER-TOKEN",
        "description": "User authentication token specified during user creation"
      }
    },
    "parameters": {
      "Username": {
        "name": "username",
        "in": "path",
        "required": true,
        "schema": {
          "type": "string"
        },
        "description": "The Pixela username"
      },
      "GraphID": {
        "name": "graphID",
        "in": "path",
        "required": true,
        "schema": {
          "type": "string"
        },
        "description": "The graph identifier"
      },
      "Date": {
        "name": "yyyyMMdd",
        "in": "path",
        "required": true,
        "schema": {
          "type": "string",
          "pattern": "^\\d{8}$"
        },
        "description": "Date in yyyyMMdd format (e.g., 20180915)"
      }
    },
    "schemas": {
      "CreateUserRequest": {
        "type": "object",
        "required": [
          "token",
          "username",
          "agreeTermsOfService",
          "notMinor"
        ],
        "properties": {
          "token": {
            "type": "string",
            "description": "Authentication token for the user"
          },
          "username": {
            "type": "string",
            "description": "Username (pattern: [a-z][a-z0-9-]{1,32})"
          },
          "agreeTermsOfService": {
            "type": "string",
            "enum": [
              "yes",
              "no"
            ],
            "description": "Agreement to terms of service"
          },
          "notMinor": {
            "type": "string",
            "enum": [
              "yes",
              "no"
            ],
            "description": "Confirmation that user is not a minor"
          }
        }
      },
      "UpdateUserRequest": {
        "type": "object",
        "properties": {
          "newToken": {
            "type": "string",
            "description": "New authentication token"
          }
        }
      },
      "UpdateProfileRequest": {
        "type": "object",
        "properties": {
          "displayName": {
            "type": "string",
            "description": "Display name for the profile"
          },
          "gravatarIconEmail": {
            "type": "string",
            "description": "Email address for Gravatar icon"
          },
          "title": {
            "type": "string",
            "description": "Profile title"
          },
          "timezone": {
            "type": "string",
            "description": "Timezone for the profile"
          },
          "pinnedGraphID": {
            "type": "string",
            "description": "Graph ID to pin on the profile"
          }
        }
      },
      "CreateGraphRequest": {
        "type": "object",
        "required": [
          "id",
          "name",
          "unit",
          "type",
          "color"
        ],
        "properties": {
          "id": {
            "type": "string",
            "description": "Graph identifier"
          },
          "name": {
            "type": "string",
            "description": "Graph display name"
          },
          "unit": {
            "type": "string",
            "description": "Unit of measurement (e.g., commit, kilogram, calorie)"
          },
          "type": {
            "type": "string",
            "enum": [
              "int",
              "float"
            ],
            "description": "Data type for the graph"
          },
          "color": {
            "type": "string",
            "enum": [
              "shibafu",
              "momiji",
              "sora",
              "ichou",
              "ajisai",
              "kuro"
            ],
            "description": "Graph display color"
          },
          "timezone": {
            "type": "string",
            "description": "Timezone for the graph (e.g., Asia/Tokyo)"
          },
          "selfSufficient": {
            "type": "string",
            "enum": [
              "increment",
              "decrement",
              "none"
            ],
            "description": "Self-sufficient mode configuration"
          }
        }
      },
      "UpdateGraphRequest": {
        "type": "object",
        "properties": {
          "name": {
            "type": "string"
          },
          "unit": {
            "type": "string"
          },
          "color": {
            "type": "string",
            "enum": [
              "shibafu",
              "momiji",
              "sora",
              "ichou",
              "ajisai",
              "kuro"
            ]
          },
          "timezone": {
            "type": "string"
          },
          "selfSufficient": {
            "type": "string",
            "enum": [
              "increment",
              "decrement",
              "none"
            ]
          }
        }
      },
      "Graph": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string"
          },
          "name": {
            "type": "string"
          },
          "unit": {
            "type": "string"
          },
          "type": {
            "type": "string"
          },
          "color": {
            "type": "string"
          },
          "timezone": {
            "type": "string"
          },
          "purgeCacheURLs": {
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "selfSufficient": {
            "type": "string"
          }
        }
      },
      "GraphList": {
        "type": "object",
        "properties": {
          "graphs": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Graph"
            }
          }
        }
      },
      "GraphStats": {
        "type": "object",
        "properties": {
          "totalPixelsCount": {
            "type": "integer"
          },
          "maxQuantity": {
            "type": "string"
          },
          "minQuantity": {
            "type": "string"
          },
          "totalQuantity": {
            "type": "string"
          },
          "avgQuantity": {
            "type": "number"
          },
          "todaysQuantity": {
            "type": "string"
          }
        }
      },
      "Pixel": {
        "type": "object",
        "properties": {
          "date": {
            "type": "string",
            "description": "Date in yyyyMMdd format"
          },
          "quantity": {
            "type": "string"
          },
          "optionalData": {
            "type": "string",
            "description": "Optional JSON data"
          }
        }
      },
      "PixelInput": {
        "type": "object",
        "required": [
          "date",
          "quantity"
        ],
        "properties": {
          "date": {
            "type": "string",
            "description": "Date in yyyyMMdd format"
          },
          "quantity": {
            "type": "string",
            "description": "Quantity value"
          },
          "optionalData": {
            "type": "string",
            "description": "Optional JSON data string"
          }
        }
      },
      "PixelList": {
        "type": "object",
        "properties": {
          "pixels": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Pixel"
            }
          }
        }
      },
      "CreateWebhookRequest": {
        "type": "object",
        "required": [
          "graphID",
          "type"
        ],
        "properties": {
          "graphID": {
            "type": "string",
            "description": "Target graph ID"
          },
          "type": {
            "type": "string",
            "enum": [
              "increment",
              "decrement"
            ],
            "description": "Webhook action type"
          }
        }
      },
      "WebhookCreateResponse": {
        "type": "object",
        "properties": {
          "webhookHash": {
            "type": "string"
          },
          "message": {
            "type": "string"
          },
          "isSuccess": {
            "type": "boolean"
          }
        }
      },
      "WebhookList": {
        "type": "object",
        "properties": {
          "webhooks": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Webhook"
            }
          }
        }
      },
      "Webhook": {
        "type": "object",
        "properties": {
          "webhookHash": {
            "type": "string"
          },
          "graphID": {
            "type": "string"
          },
          "type": {
            "type": "string"
          }
        }
      },
      "SuccessResponse": {
        "type": "object",
        "properties": {
          "message": {
            "type": "string"
          },
          "isSuccess": {
            "type": "boolean"
          }
        }
      },
      "ErrorResponse": {
        "type": "object",
        "properties": {
          "message": {
            "type": "string",
            "description": "Error message"
          },
          "isSuccess": {
            "type": "boolean",
            "description": "Always false for errors"
          }
        }
      }
    }
  }
}
