{
  "openapi": "3.0.3",
  "info": {
    "title": "BigML API",
    "version": "1.0.0",
    "description": "BigML is a machine learning platform. This REST API provides access to create, read, update, and delete ML resources including sources, datasets, models, predictions, ensembles, clusters, anomaly detectors, and more. Authentication is via query parameters (username and api_key).",
    "x-jentic-source-url": "https://bigml.com/api",
    "contact": {
      "name": "API Support"
    }
  },
  "servers": [
    {
      "url": "https://bigml.io",
      "description": "BigML Production API"
    }
  ],
  "security": [
    {
      "apiKeyAuth": []
    }
  ],
  "tags": [
    {
      "name": "Sources",
      "description": "Manage data sources"
    },
    {
      "name": "Datasets",
      "description": "Manage datasets"
    },
    {
      "name": "Models",
      "description": "Manage models"
    },
    {
      "name": "Predictions",
      "description": "Create predictions"
    },
    {
      "name": "Ensembles",
      "description": "Manage ensembles"
    },
    {
      "name": "Clusters",
      "description": "Manage clusters"
    },
    {
      "name": "Anomalies",
      "description": "Manage anomaly detectors"
    },
    {
      "name": "Evaluations",
      "description": "Manage evaluations"
    },
    {
      "name": "Batch Predictions",
      "description": "Manage batch predictions"
    }
  ],
  "paths": {
    "/source": {
      "get": {
        "operationId": "listSources",
        "summary": "List sources",
        "description": "Returns a paginated list of sources.",
        "tags": [
          "Sources"
        ],
        "parameters": [
          {
            "name": "limit",
            "in": "query",
            "schema": {
              "type": "integer",
              "default": 20
            },
            "description": "Number of results per page"
          },
          {
            "name": "offset",
            "in": "query",
            "schema": {
              "type": "integer",
              "default": 0
            },
            "description": "Offset for pagination"
          },
          {
            "name": "order_by",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "description": "Sort field (prefix with - for descending)"
          },
          {
            "name": "name",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "description": "Filter by name"
          }
        ],
        "responses": {
          "200": {
            "description": "List of sources",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ResourceList"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      },
      "post": {
        "operationId": "createSource",
        "summary": "Create a source",
        "description": "Creates a new source from uploaded data, a URL, or inline data. Sources are the starting point for any BigML workflow.",
        "tags": [
          "Sources"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "multipart/form-data": {
              "schema": {
                "type": "object",
                "properties": {
                  "file": {
                    "type": "string",
                    "format": "binary",
                    "description": "File to upload as a data source"
                  },
                  "remote": {
                    "type": "string",
                    "description": "URL to a remote data source"
                  },
                  "data": {
                    "type": "string",
                    "description": "Inline data in CSV format"
                  },
                  "name": {
                    "type": "string",
                    "description": "Name for the source"
                  },
                  "source_parser": {
                    "type": "object",
                    "description": "Parser configuration",
                    "properties": {
                      "header": {
                        "type": "boolean"
                      },
                      "separator": {
                        "type": "string"
                      },
                      "locale": {
                        "type": "string"
                      }
                    }
                  }
                }
              }
            },
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "remote": {
                    "type": "string",
                    "description": "URL to a remote data source"
                  },
                  "name": {
                    "type": "string"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Source created",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Source"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "402": {
            "description": "Payment required"
          }
        }
      }
    },
    "/source/{sourceId}": {
      "get": {
        "operationId": "getSource",
        "summary": "Get a source",
        "description": "Returns a single source resource.",
        "tags": [
          "Sources"
        ],
        "parameters": [
          {
            "name": "sourceId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Source ID (e.g., 'source/1234abc')"
          }
        ],
        "responses": {
          "200": {
            "description": "Source details",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Source"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "404": {
            "description": "Not found"
          }
        }
      },
      "put": {
        "operationId": "updateSource",
        "summary": "Update a source",
        "description": "Updates an existing source.",
        "tags": [
          "Sources"
        ],
        "parameters": [
          {
            "name": "sourceId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "name": {
                    "type": "string"
                  },
                  "tags": {
                    "type": "array",
                    "items": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Source updated",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Source"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "404": {
            "description": "Not found"
          }
        }
      },
      "delete": {
        "operationId": "deleteSource",
        "summary": "Delete a source",
        "description": "Permanently deletes a source.",
        "tags": [
          "Sources"
        ],
        "parameters": [
          {
            "name": "sourceId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "Source deleted"
          },
          "401": {
            "description": "Unauthorized"
          },
          "404": {
            "description": "Not found"
          }
        }
      }
    },
    "/dataset": {
      "get": {
        "operationId": "listDatasets",
        "summary": "List datasets",
        "description": "Returns a paginated list of datasets.",
        "tags": [
          "Datasets"
        ],
        "parameters": [
          {
            "name": "limit",
            "in": "query",
            "schema": {
              "type": "integer",
              "default": 20
            }
          },
          {
            "name": "offset",
            "in": "query",
            "schema": {
              "type": "integer",
              "default": 0
            }
          },
          {
            "name": "order_by",
            "in": "query",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "List of datasets",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ResourceList"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      },
      "post": {
        "operationId": "createDataset",
        "summary": "Create a dataset",
        "description": "Creates a new dataset from a source.",
        "tags": [
          "Datasets"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "source"
                ],
                "properties": {
                  "source": {
                    "type": "string",
                    "description": "Source ID to create the dataset from"
                  },
                  "name": {
                    "type": "string"
                  },
                  "size": {
                    "type": "integer",
                    "description": "Limit the number of rows"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Dataset created",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Dataset"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "402": {
            "description": "Payment required"
          }
        }
      }
    },
    "/dataset/{datasetId}": {
      "get": {
        "operationId": "getDataset",
        "summary": "Get a dataset",
        "tags": [
          "Datasets"
        ],
        "parameters": [
          {
            "name": "datasetId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Dataset details",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Dataset"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "404": {
            "description": "Not found"
          }
        },
        "description": "Get a dataset"
      },
      "delete": {
        "operationId": "deleteDataset",
        "summary": "Delete a dataset",
        "tags": [
          "Datasets"
        ],
        "parameters": [
          {
            "name": "datasetId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "Dataset deleted"
          },
          "401": {
            "description": "Unauthorized"
          },
          "404": {
            "description": "Not found"
          }
        },
        "description": "Delete a dataset"
      }
    },
    "/model": {
      "get": {
        "operationId": "listModels",
        "summary": "List models",
        "tags": [
          "Models"
        ],
        "parameters": [
          {
            "name": "limit",
            "in": "query",
            "schema": {
              "type": "integer",
              "default": 20
            }
          },
          {
            "name": "offset",
            "in": "query",
            "schema": {
              "type": "integer",
              "default": 0
            }
          },
          {
            "name": "order_by",
            "in": "query",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "List of models",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ResourceList"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          }
        },
        "description": "List models"
      },
      "post": {
        "operationId": "createModel",
        "summary": "Create a model",
        "description": "Creates a new supervised learning model (decision tree) from a dataset.",
        "tags": [
          "Models"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "dataset"
                ],
                "properties": {
                  "dataset": {
                    "type": "string",
                    "description": "Dataset ID"
                  },
                  "name": {
                    "type": "string"
                  },
                  "objective_field": {
                    "type": "string",
                    "description": "ID of the objective (target) field"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Model created",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Model"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "402": {
            "description": "Payment required"
          }
        }
      }
    },
    "/model/{modelId}": {
      "get": {
        "operationId": "getModel",
        "summary": "Get a model",
        "tags": [
          "Models"
        ],
        "parameters": [
          {
            "name": "modelId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Model details",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Model"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "404": {
            "description": "Not found"
          }
        },
        "description": "Get a model"
      },
      "delete": {
        "operationId": "deleteModel",
        "summary": "Delete a model",
        "tags": [
          "Models"
        ],
        "parameters": [
          {
            "name": "modelId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "Model deleted"
          },
          "401": {
            "description": "Unauthorized"
          },
          "404": {
            "description": "Not found"
          }
        },
        "description": "Delete a model"
      }
    },
    "/prediction": {
      "get": {
        "operationId": "listPredictions",
        "summary": "List predictions",
        "tags": [
          "Predictions"
        ],
        "parameters": [
          {
            "name": "limit",
            "in": "query",
            "schema": {
              "type": "integer",
              "default": 20
            }
          },
          {
            "name": "offset",
            "in": "query",
            "schema": {
              "type": "integer",
              "default": 0
            }
          }
        ],
        "responses": {
          "200": {
            "description": "List of predictions",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ResourceList"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          }
        },
        "description": "List predictions"
      },
      "post": {
        "operationId": "createPrediction",
        "summary": "Create a prediction",
        "description": "Creates a new prediction using a model and input data.",
        "tags": [
          "Predictions"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "model",
                  "input_data"
                ],
                "properties": {
                  "model": {
                    "type": "string",
                    "description": "Model ID to use for prediction"
                  },
                  "ensemble": {
                    "type": "string",
                    "description": "Ensemble ID (alternative to model)"
                  },
                  "input_data": {
                    "type": "object",
                    "additionalProperties": true,
                    "description": "Input data fields for the prediction"
                  },
                  "name": {
                    "type": "string"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Prediction created",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Prediction"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "402": {
            "description": "Payment required"
          }
        }
      }
    },
    "/prediction/{predictionId}": {
      "get": {
        "operationId": "getPrediction",
        "summary": "Get a prediction",
        "tags": [
          "Predictions"
        ],
        "parameters": [
          {
            "name": "predictionId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Prediction details",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Prediction"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "404": {
            "description": "Not found"
          }
        },
        "description": "Get a prediction"
      }
    },
    "/ensemble": {
      "post": {
        "operationId": "createEnsemble",
        "summary": "Create an ensemble",
        "description": "Creates a new ensemble (multiple models combined) from a dataset.",
        "tags": [
          "Ensembles"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "dataset"
                ],
                "properties": {
                  "dataset": {
                    "type": "string"
                  },
                  "name": {
                    "type": "string"
                  },
                  "number_of_models": {
                    "type": "integer",
                    "description": "Number of models in the ensemble"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Ensemble created",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Resource"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "402": {
            "description": "Payment required"
          }
        }
      }
    },
    "/cluster": {
      "post": {
        "operationId": "createCluster",
        "summary": "Create a cluster",
        "description": "Creates a new cluster analysis from a dataset.",
        "tags": [
          "Clusters"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "dataset"
                ],
                "properties": {
                  "dataset": {
                    "type": "string"
                  },
                  "name": {
                    "type": "string"
                  },
                  "k": {
                    "type": "integer",
                    "description": "Number of clusters"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Cluster created",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Resource"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "402": {
            "description": "Payment required"
          }
        }
      }
    },
    "/anomaly": {
      "post": {
        "operationId": "createAnomalyDetector",
        "summary": "Create an anomaly detector",
        "description": "Creates a new anomaly detector from a dataset.",
        "tags": [
          "Anomalies"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "dataset"
                ],
                "properties": {
                  "dataset": {
                    "type": "string"
                  },
                  "name": {
                    "type": "string"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Anomaly detector created",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Resource"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "402": {
            "description": "Payment required"
          }
        }
      }
    },
    "/evaluation": {
      "post": {
        "operationId": "createEvaluation",
        "summary": "Create an evaluation",
        "description": "Creates a new evaluation of a model against a dataset.",
        "tags": [
          "Evaluations"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "model",
                  "dataset"
                ],
                "properties": {
                  "model": {
                    "type": "string",
                    "description": "Model ID to evaluate"
                  },
                  "dataset": {
                    "type": "string",
                    "description": "Test dataset ID"
                  },
                  "name": {
                    "type": "string"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Evaluation created",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Resource"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "402": {
            "description": "Payment required"
          }
        }
      }
    },
    "/batchprediction": {
      "post": {
        "operationId": "createBatchPrediction",
        "summary": "Create a batch prediction",
        "description": "Creates a new batch prediction using a model against a dataset.",
        "tags": [
          "Batch Predictions"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "model",
                  "dataset"
                ],
                "properties": {
                  "model": {
                    "type": "string",
                    "description": "Model ID"
                  },
                  "dataset": {
                    "type": "string",
                    "description": "Input dataset ID"
                  },
                  "name": {
                    "type": "string"
                  },
                  "output_dataset": {
                    "type": "boolean",
                    "description": "Create output as a new dataset"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Batch prediction created",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Resource"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "402": {
            "description": "Payment required"
          }
        }
      }
    }
  },
  "components": {
    "securitySchemes": {
      "apiKeyAuth": {
        "type": "apiKey",
        "name": "apikey",
        "in": "query",
        "description": "Authentication requires both 'username' and 'apikey' query parameters. Format: ?username={user}&apikey={key}"
      }
    },
    "schemas": {
      "ResourceList": {
        "type": "object",
        "properties": {
          "meta": {
            "type": "object",
            "properties": {
              "limit": {
                "type": "integer"
              },
              "offset": {
                "type": "integer"
              },
              "total_count": {
                "type": "integer"
              },
              "next": {
                "type": "string",
                "nullable": true
              },
              "previous": {
                "type": "string",
                "nullable": true
              }
            }
          },
          "objects": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Resource"
            }
          }
        }
      },
      "Resource": {
        "type": "object",
        "properties": {
          "resource": {
            "type": "string",
            "description": "Resource identifier (e.g., 'source/1234abc')"
          },
          "name": {
            "type": "string"
          },
          "description": {
            "type": "string"
          },
          "created": {
            "type": "string",
            "format": "date-time"
          },
          "updated": {
            "type": "string",
            "format": "date-time"
          },
          "status": {
            "type": "object",
            "properties": {
              "code": {
                "type": "integer",
                "description": "1=queued, 2=started, 3=in progress, 4=summarized, 5=finished, -1=faulty"
              },
              "message": {
                "type": "string"
              },
              "progress": {
                "type": "number"
              }
            }
          },
          "tags": {
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "private": {
            "type": "boolean"
          }
        }
      },
      "Source": {
        "allOf": [
          {
            "$ref": "#/components/schemas/Resource"
          },
          {
            "type": "object",
            "properties": {
              "file_name": {
                "type": "string"
              },
              "size": {
                "type": "integer"
              },
              "number_of_datasets": {
                "type": "integer"
              },
              "number_of_models": {
                "type": "integer"
              },
              "source_parser": {
                "type": "object",
                "properties": {
                  "header": {
                    "type": "boolean"
                  },
                  "separator": {
                    "type": "string"
                  },
                  "locale": {
                    "type": "string"
                  }
                }
              },
              "fields": {
                "type": "object",
                "additionalProperties": {
                  "type": "object",
                  "properties": {
                    "name": {
                      "type": "string"
                    },
                    "optype": {
                      "type": "string",
                      "enum": [
                        "numeric",
                        "categorical",
                        "text",
                        "datetime",
                        "items"
                      ]
                    },
                    "column_number": {
                      "type": "integer"
                    }
                  }
                }
              }
            }
          }
        ]
      },
      "Dataset": {
        "allOf": [
          {
            "$ref": "#/components/schemas/Resource"
          },
          {
            "type": "object",
            "properties": {
              "rows": {
                "type": "integer"
              },
              "columns": {
                "type": "integer"
              },
              "source": {
                "type": "string"
              },
              "fields": {
                "type": "object",
                "additionalProperties": {
                  "type": "object",
                  "properties": {
                    "name": {
                      "type": "string"
                    },
                    "optype": {
                      "type": "string"
                    },
                    "column_number": {
                      "type": "integer"
                    },
                    "summary": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  }
                }
              }
            }
          }
        ]
      },
      "Model": {
        "allOf": [
          {
            "$ref": "#/components/schemas/Resource"
          },
          {
            "type": "object",
            "properties": {
              "dataset": {
                "type": "string"
              },
              "input_fields": {
                "type": "array",
                "items": {
                  "type": "string"
                }
              },
              "objective_field": {
                "type": "string"
              },
              "model": {
                "type": "object",
                "properties": {
                  "root": {
                    "type": "object",
                    "additionalProperties": true
                  }
                }
              }
            }
          }
        ]
      },
      "Prediction": {
        "allOf": [
          {
            "$ref": "#/components/schemas/Resource"
          },
          {
            "type": "object",
            "properties": {
              "model": {
                "type": "string"
              },
              "ensemble": {
                "type": "string"
              },
              "input_data": {
                "type": "object",
                "additionalProperties": true
              },
              "prediction": {
                "type": "object",
                "additionalProperties": true
              },
              "output": {
                "type": "string",
                "description": "The predicted value"
              },
              "confidence": {
                "type": "number"
              }
            }
          }
        ]
      }
    }
  }
}
