{
  "openapi": "3.0.3",
  "info": {
    "title": "BC Data Catalogue API",
    "version": "3.0.0",
    "description": "The British Columbia Data Catalogue API provides access to open data from the Government of British Columbia. It is based on CKAN and provides standard endpoints for searching packages (datasets), retrieving organizations, groups, tags, and performing datastore queries.",
    "x-jentic-source-url": "https://catalogue.data.gov.bc.ca/api/3",
    "contact": {
      "name": "API Support"
    }
  },
  "servers": [
    {
      "url": "https://catalogue.data.gov.bc.ca/api/3",
      "description": "BC Data Catalogue (CKAN API v3)"
    }
  ],
  "tags": [
    {
      "name": "CKAN",
      "description": "CKAN standard API actions"
    }
  ],
  "paths": {
    "/action/package_list": {
      "get": {
        "tags": [
          "CKAN"
        ],
        "summary": "List All Packages",
        "operationId": "packageList",
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CKANResponse"
                }
              }
            }
          }
        },
        "parameters": [
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer"
            },
            "description": "Maximum number of packages to return"
          },
          {
            "name": "offset",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer"
            },
            "description": "Offset for pagination"
          }
        ],
        "description": "List All Packages"
      }
    },
    "/action/package_show": {
      "get": {
        "tags": [
          "CKAN"
        ],
        "summary": "Show Package",
        "operationId": "packageShow",
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CKANResponse"
                }
              }
            }
          }
        },
        "parameters": [
          {
            "name": "id",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Package ID or name"
          }
        ],
        "description": "Show Package"
      }
    },
    "/action/package_search": {
      "get": {
        "tags": [
          "CKAN"
        ],
        "summary": "Search Packages",
        "operationId": "packageSearch",
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CKANResponse"
                }
              }
            }
          }
        },
        "parameters": [
          {
            "name": "q",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Solr search query"
          },
          {
            "name": "fq",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Filter query"
          },
          {
            "name": "sort",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Sort field and direction"
          },
          {
            "name": "rows",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "default": 10
            },
            "description": "Number of results"
          },
          {
            "name": "start",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "default": 0
            },
            "description": "Offset"
          },
          {
            "name": "facet.field",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Facet fields (JSON list)"
          }
        ],
        "description": "Search Packages"
      }
    },
    "/action/resource_show": {
      "get": {
        "tags": [
          "CKAN"
        ],
        "summary": "Show Resource",
        "operationId": "resourceShow",
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CKANResponse"
                }
              }
            }
          }
        },
        "parameters": [
          {
            "name": "id",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Resource ID"
          }
        ],
        "description": "Show Resource"
      }
    },
    "/action/resource_search": {
      "get": {
        "tags": [
          "CKAN"
        ],
        "summary": "Search Resources",
        "operationId": "resourceSearch",
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CKANResponse"
                }
              }
            }
          }
        },
        "parameters": [
          {
            "name": "query",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Search query (field:value)"
          },
          {
            "name": "order_by",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "offset",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "description": "Search Resources"
      }
    },
    "/action/organization_list": {
      "get": {
        "tags": [
          "CKAN"
        ],
        "summary": "List Organizations",
        "operationId": "organizationList",
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CKANResponse"
                }
              }
            }
          }
        },
        "parameters": [
          {
            "name": "sort",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "offset",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "all_fields",
            "in": "query",
            "required": false,
            "schema": {
              "type": "boolean"
            }
          }
        ],
        "description": "List Organizations"
      }
    },
    "/action/organization_show": {
      "get": {
        "tags": [
          "CKAN"
        ],
        "summary": "Show Organization",
        "operationId": "organizationShow",
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CKANResponse"
                }
              }
            }
          }
        },
        "parameters": [
          {
            "name": "id",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Organization ID or name"
          },
          {
            "name": "include_datasets",
            "in": "query",
            "required": false,
            "schema": {
              "type": "boolean",
              "default": false
            }
          }
        ],
        "description": "Show Organization"
      }
    },
    "/action/group_list": {
      "get": {
        "tags": [
          "CKAN"
        ],
        "summary": "List Groups",
        "operationId": "groupList",
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CKANResponse"
                }
              }
            }
          }
        },
        "parameters": [
          {
            "name": "sort",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "offset",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "all_fields",
            "in": "query",
            "required": false,
            "schema": {
              "type": "boolean"
            }
          }
        ],
        "description": "List Groups"
      }
    },
    "/action/group_show": {
      "get": {
        "tags": [
          "CKAN"
        ],
        "summary": "Show Group",
        "operationId": "groupShow",
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CKANResponse"
                }
              }
            }
          }
        },
        "parameters": [
          {
            "name": "id",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Group ID or name"
          },
          {
            "name": "include_datasets",
            "in": "query",
            "required": false,
            "schema": {
              "type": "boolean",
              "default": false
            }
          }
        ],
        "description": "Show Group"
      }
    },
    "/action/tag_list": {
      "get": {
        "tags": [
          "CKAN"
        ],
        "summary": "List Tags",
        "operationId": "tagList",
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CKANResponse"
                }
              }
            }
          }
        },
        "parameters": [
          {
            "name": "query",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Tag name search"
          }
        ],
        "description": "List Tags"
      }
    },
    "/action/tag_show": {
      "get": {
        "tags": [
          "CKAN"
        ],
        "summary": "Show Tag",
        "operationId": "tagShow",
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CKANResponse"
                }
              }
            }
          }
        },
        "parameters": [
          {
            "name": "id",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Tag ID or name"
          }
        ],
        "description": "Show Tag"
      }
    },
    "/action/recently_changed_packages_activity_list": {
      "get": {
        "tags": [
          "CKAN"
        ],
        "summary": "Recently Changed Packages",
        "operationId": "recentlyChangedPackages",
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CKANResponse"
                }
              }
            }
          }
        },
        "parameters": [
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "offset",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "description": "Recently Changed Packages"
      }
    },
    "/action/current_package_list_with_resources": {
      "get": {
        "tags": [
          "CKAN"
        ],
        "summary": "Current Packages with Resources",
        "operationId": "currentPackagesWithResources",
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CKANResponse"
                }
              }
            }
          }
        },
        "parameters": [
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "offset",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "description": "Current Packages with Resources"
      }
    },
    "/action/package_activity_list": {
      "get": {
        "tags": [
          "CKAN"
        ],
        "summary": "Package Activity List",
        "operationId": "packageActivityList",
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CKANResponse"
                }
              }
            }
          }
        },
        "parameters": [
          {
            "name": "id",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "offset",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "description": "Package Activity List"
      }
    },
    "/action/datastore_search": {
      "get": {
        "tags": [
          "CKAN"
        ],
        "summary": "Datastore Search",
        "operationId": "datastoreSearch",
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CKANResponse"
                }
              }
            }
          }
        },
        "parameters": [
          {
            "name": "resource_id",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Resource ID to search"
          },
          {
            "name": "filters",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "JSON object of field:value filters"
          },
          {
            "name": "q",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Full-text search query"
          },
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "default": 100
            }
          },
          {
            "name": "offset",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "default": 0
            }
          },
          {
            "name": "fields",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Comma-separated field names"
          },
          {
            "name": "sort",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "description": "Datastore Search"
      }
    },
    "/action/datastore_search_sql": {
      "get": {
        "tags": [
          "CKAN"
        ],
        "summary": "Datastore SQL Search",
        "operationId": "datastoreSearchSql",
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CKANResponse"
                }
              }
            }
          }
        },
        "parameters": [
          {
            "name": "sql",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "SQL query (read-only, SELECT only)"
          }
        ],
        "description": "Datastore SQL Search"
      }
    },
    "/action/help_show": {
      "get": {
        "tags": [
          "CKAN"
        ],
        "summary": "Show Help for Action",
        "operationId": "helpShow",
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CKANResponse"
                }
              }
            }
          }
        },
        "parameters": [
          {
            "name": "name",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Action name to get help for"
          }
        ],
        "description": "Show Help for Action"
      }
    },
    "/action/status_show": {
      "get": {
        "tags": [
          "CKAN"
        ],
        "summary": "API Status",
        "operationId": "statusShow",
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CKANResponse"
                }
              }
            }
          }
        },
        "description": "API Status"
      }
    }
  },
  "components": {
    "schemas": {
      "CKANResponse": {
        "type": "object",
        "properties": {
          "help": {
            "type": "string",
            "description": "URL to help documentation for this action"
          },
          "success": {
            "type": "boolean",
            "description": "Whether the request was successful"
          },
          "result": {
            "description": "Response data (varies by endpoint)"
          }
        }
      }
    }
  }
}
