{
  "openapi": "3.0.3",
  "info": {
    "title": "Tiny.cc URL Shortener API",
    "version": "3.0.0",
    "description": "Tiny.cc API v3 — a REST API for shortening URLs, managing redirects, tracking click events, promoting and monitoring brands. Base URL: https://tinycc.com/tiny/api/3/",
    "x-jentic-source-url": "https://tinycc.com/tiny/api-docs-v3",
    "contact": {
      "name": "API Support"
    }
  },
  "servers": [
    {
      "url": "https://tinycc.com/tiny/api/3"
    }
  ],
  "security": [
    {
      "basicAuth": []
    }
  ],
  "paths": {
    "/shorten": {
      "post": {
        "operationId": "shortenUrl",
        "tags": [
          "URLs"
        ],
        "summary": "Shorten a long URL",
        "description": "Creates a short link from a long URL. Supports custom aliases and domain selection.",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ShortenRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Short URL created successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ShortUrl"
                }
              }
            }
          },
          "400": {
            "description": "Bad request - invalid URL or parameters",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized - invalid or missing credentials"
          }
        }
      }
    },
    "/urls": {
      "get": {
        "operationId": "listUrls",
        "tags": [
          "URLs"
        ],
        "summary": "Read / list short URLs",
        "description": "Get information about short links in your account, search links with a keyword, find links with most clicks etc.",
        "parameters": [
          {
            "name": "keyword",
            "in": "query",
            "description": "Search links by keyword",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "description": "Maximum number of results to return",
            "schema": {
              "type": "integer",
              "default": 20
            }
          },
          {
            "name": "offset",
            "in": "query",
            "description": "Pagination offset",
            "schema": {
              "type": "integer",
              "default": 0
            }
          }
        ],
        "responses": {
          "200": {
            "description": "List of short URLs",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "urls": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/ShortUrl"
                      }
                    },
                    "total": {
                      "type": "integer"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      }
    },
    "/urls/{hash}": {
      "get": {
        "operationId": "getUrl",
        "tags": [
          "URLs"
        ],
        "summary": "Get a single short URL by hash",
        "parameters": [
          {
            "name": "hash",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Short URL hash or alias"
          }
        ],
        "responses": {
          "200": {
            "description": "Short URL details",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ShortUrl"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          }
        },
        "description": "Get a single short URL by hash"
      },
      "patch": {
        "operationId": "editUrl",
        "tags": [
          "URLs"
        ],
        "summary": "Edit a short URL",
        "description": "Change properties of an individual short link such as destination URL, alias, or tags.",
        "parameters": [
          {
            "name": "hash",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/EditUrlRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "URL updated successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ShortUrl"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      },
      "delete": {
        "operationId": "deleteUrl",
        "tags": [
          "URLs"
        ],
        "summary": "Delete a short URL",
        "parameters": [
          {
            "name": "hash",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "URL deleted successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SuccessResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          }
        },
        "description": "Delete a short URL"
      }
    },
    "/urls/{hash}/stats": {
      "get": {
        "operationId": "getUrlStats",
        "tags": [
          "Stats"
        ],
        "summary": "Get click statistics for a short URL",
        "description": "Read click statistics of a short link, reset click counters.",
        "parameters": [
          {
            "name": "hash",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "from",
            "in": "query",
            "description": "Start date for stats (YYYY-MM-DD)",
            "schema": {
              "type": "string",
              "format": "date"
            }
          },
          {
            "name": "to",
            "in": "query",
            "description": "End date for stats (YYYY-MM-DD)",
            "schema": {
              "type": "string",
              "format": "date"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Click statistics",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/UrlStats"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      }
    },
    "/account": {
      "get": {
        "operationId": "getAccount",
        "tags": [
          "Account"
        ],
        "summary": "Get account information",
        "description": "Get account information like subscription status and usage of account resources.",
        "responses": {
          "200": {
            "description": "Account details",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Account"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      }
    },
    "/keys": {
      "get": {
        "operationId": "listApiKeys",
        "tags": [
          "API Keys"
        ],
        "summary": "List API keys",
        "description": "Create, edit, revoke API keys for Branded URL Shortening.",
        "responses": {
          "200": {
            "description": "List of API keys",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "keys": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/ApiKey"
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      },
      "post": {
        "operationId": "createApiKey",
        "tags": [
          "API Keys"
        ],
        "summary": "Create an API key",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "name": {
                    "type": "string",
                    "description": "A label for this API key"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "API key created",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiKey"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          }
        },
        "description": "Create an API key"
      }
    },
    "/domains": {
      "get": {
        "operationId": "listDomains",
        "tags": [
          "Domains"
        ],
        "summary": "List shortening domains",
        "description": "Read list of shortening domains in your account.",
        "responses": {
          "200": {
            "description": "List of domains",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "domains": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/Domain"
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      }
    },
    "/tags": {
      "get": {
        "operationId": "listTags",
        "tags": [
          "Tags"
        ],
        "summary": "List tags",
        "description": "Automate processing of a large number of URLs with Tags.",
        "responses": {
          "200": {
            "description": "List of tags",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "tags": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/Tag"
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      }
    }
  },
  "components": {
    "securitySchemes": {
      "basicAuth": {
        "type": "http",
        "scheme": "basic",
        "description": "HTTP Basic Authentication using your Tiny.cc username and password (or API key). The user:password part must be base64 encoded."
      }
    },
    "schemas": {
      "ShortenRequest": {
        "type": "object",
        "required": [
          "long_url"
        ],
        "properties": {
          "long_url": {
            "type": "string",
            "format": "uri",
            "description": "The long URL to shorten"
          },
          "short_tag": {
            "type": "string",
            "description": "Custom alias for the short URL"
          },
          "domain": {
            "type": "string",
            "description": "Domain to use for the short URL"
          },
          "tags": {
            "type": "array",
            "items": {
              "type": "string"
            },
            "description": "Tags to assign to this URL"
          }
        }
      },
      "EditUrlRequest": {
        "type": "object",
        "properties": {
          "long_url": {
            "type": "string",
            "format": "uri",
            "description": "New destination URL"
          },
          "short_tag": {
            "type": "string",
            "description": "New alias"
          },
          "tags": {
            "type": "array",
            "items": {
              "type": "string"
            }
          }
        }
      },
      "ShortUrl": {
        "type": "object",
        "properties": {
          "hash": {
            "type": "string",
            "description": "Short URL hash/alias"
          },
          "short_url": {
            "type": "string",
            "description": "Full short URL"
          },
          "long_url": {
            "type": "string",
            "description": "Destination URL"
          },
          "domain": {
            "type": "string",
            "description": "Short URL domain"
          },
          "clicks": {
            "type": "integer",
            "description": "Total click count"
          },
          "created_at": {
            "type": "string",
            "format": "date-time"
          },
          "updated_at": {
            "type": "string",
            "format": "date-time"
          },
          "tags": {
            "type": "array",
            "items": {
              "type": "string"
            }
          }
        }
      },
      "UrlStats": {
        "type": "object",
        "properties": {
          "hash": {
            "type": "string"
          },
          "total_clicks": {
            "type": "integer"
          },
          "unique_clicks": {
            "type": "integer"
          },
          "clicks_by_date": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "date": {
                  "type": "string",
                  "format": "date"
                },
                "clicks": {
                  "type": "integer"
                }
              }
            }
          },
          "referrers": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "referrer": {
                  "type": "string"
                },
                "clicks": {
                  "type": "integer"
                }
              }
            }
          },
          "countries": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "country": {
                  "type": "string"
                },
                "clicks": {
                  "type": "integer"
                }
              }
            }
          }
        }
      },
      "Account": {
        "type": "object",
        "properties": {
          "username": {
            "type": "string"
          },
          "email": {
            "type": "string"
          },
          "subscription_status": {
            "type": "string"
          },
          "urls_count": {
            "type": "integer"
          },
          "urls_limit": {
            "type": "integer"
          },
          "clicks_count": {
            "type": "integer"
          }
        }
      },
      "ApiKey": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string"
          },
          "name": {
            "type": "string"
          },
          "key": {
            "type": "string"
          },
          "created_at": {
            "type": "string",
            "format": "date-time"
          }
        }
      },
      "Domain": {
        "type": "object",
        "properties": {
          "domain": {
            "type": "string"
          },
          "is_default": {
            "type": "boolean"
          }
        }
      },
      "Tag": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string"
          },
          "name": {
            "type": "string"
          },
          "urls_count": {
            "type": "integer"
          }
        }
      },
      "SuccessResponse": {
        "type": "object",
        "properties": {
          "success": {
            "type": "boolean"
          },
          "message": {
            "type": "string"
          }
        }
      },
      "ErrorResponse": {
        "type": "object",
        "properties": {
          "error": {
            "type": "integer",
            "description": "Internal API error code"
          },
          "message": {
            "type": "string",
            "description": "Human-readable error message"
          }
        }
      }
    }
  },
  "tags": [
    {
      "name": "API Keys"
    },
    {
      "name": "Account"
    },
    {
      "name": "Domains"
    },
    {
      "name": "Stats"
    },
    {
      "name": "Tags"
    },
    {
      "name": "URLs"
    }
  ]
}
