{
  "swagger": "2.0",
  "info": {
    "description": "API for managing penguin contacts for COP4331.",
    "version": "1.0.0",
    "title": "Arctic Atlas API (Team 12)",
    "x-jentic-source-url": "https://api.swaggerhub.com/apis/ucf-650/TEAM12/1.0.0"
  },
  "schemes": [
    "https"
  ],
  "paths": {
    "/login.php": {
      "post": {
        "tags": [
          "Users"
        ],
        "summary": "User Login",
        "description": "Checks the username and password to log in.",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/Login"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Login successful"
          }
        }
      }
    },
    "/register.php": {
      "post": {
        "tags": [
          "Users"
        ],
        "summary": "Register User",
        "description": "Creates a new user account.",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/Register"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Registration response"
          }
        }
      }
    },
    "/add.php": {
      "post": {
        "tags": [
          "Contacts"
        ],
        "summary": "Add Contact",
        "description": "Adds a new contact for a specific user.",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/AddPenguin"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Add contact response"
          }
        }
      }
    },
    "/search.php": {
      "post": {
        "tags": [
          "Contacts"
        ],
        "summary": "Search Contacts",
        "description": "Searches for contacts by first or last name.",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/Search"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Search results"
          }
        }
      }
    },
    "/edit.php": {
      "post": {
        "tags": [
          "Contacts"
        ],
        "summary": "Edit Contact",
        "description": "Updates an existing contact's details.",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/Edit"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Edit response"
          }
        }
      }
    },
    "/delete.php": {
      "post": {
        "tags": [
          "Contacts"
        ],
        "summary": "Delete Contact",
        "description": "Removes a contact from the database.",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/Delete"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Delete response"
          }
        }
      }
    }
  },
  "definitions": {
    "Login": {
      "type": "object",
      "required": [
        "login",
        "password"
      ],
      "properties": {
        "login": {
          "type": "string",
          "example": "newuser"
        },
        "password": {
          "type": "string",
          "example": "123456"
        }
      }
    },
    "Register": {
      "type": "object",
      "required": [
        "firstName",
        "lastName",
        "login",
        "password"
      ],
      "properties": {
        "firstName": {
          "type": "string",
          "example": "New"
        },
        "lastName": {
          "type": "string",
          "example": "User"
        },
        "login": {
          "type": "string",
          "example": "newuser"
        },
        "password": {
          "type": "string",
          "example": "123456"
        }
      }
    },
    "AddPenguin": {
      "type": "object",
      "required": [
        "firstName",
        "lastName",
        "phone",
        "email",
        "userID"
      ],
      "properties": {
        "firstName": {
          "type": "string",
          "example": "User"
        },
        "lastName": {
          "type": "string",
          "example": "Penguin"
        },
        "phone": {
          "type": "string",
          "example": "5551234"
        },
        "email": {
          "type": "string",
          "example": "User@team12.me"
        },
        "userID": {
          "type": "string",
          "example": "3"
        }
      }
    },
    "Search": {
      "type": "object",
      "required": [
        "search",
        "userId"
      ],
      "properties": {
        "search": {
          "type": "string",
          "example": "Emp"
        },
        "userId": {
          "type": "integer",
          "example": 3
        }
      }
    },
    "Edit": {
      "type": "object",
      "required": [
        "id",
        "firstName",
        "lastName",
        "phone",
        "email"
      ],
      "properties": {
        "id": {
          "type": "integer",
          "example": 10
        },
        "firstName": {
          "type": "string",
          "example": "King"
        },
        "lastName": {
          "type": "string",
          "example": "Penguin"
        },
        "phone": {
          "type": "string",
          "example": "5559999"
        },
        "email": {
          "type": "string",
          "example": "king@team12.com"
        }
      }
    },
    "Delete": {
      "type": "object",
      "required": [
        "id"
      ],
      "properties": {
        "id": {
          "type": "integer",
          "example": 10
        }
      }
    }
  },
  "host": "team12.me",
  "basePath": "/LAMPAPI"
}