{
  "openapi": "3.0.3",
  "info": {
    "title": "BigDataCorp API",
    "version": "1.0.0",
    "description": "BigDataCorp provides a Brazilian data enrichment and validation platform. The API allows querying information about people (CPF), companies (CNPJ), and addresses using their data verification infrastructure. All queries are done via POST requests with the entity identifier in the query parameters.",
    "x-jentic-source-url": "https://docs.bigdatacorp.com.br",
    "contact": {
      "name": "API Support"
    }
  },
  "servers": [
    {
      "url": "https://plataforma.bigdatacorp.com.br",
      "description": "BigDataCorp Platform API"
    }
  ],
  "security": [
    {
      "accessToken": []
    }
  ],
  "tags": [
    {
      "name": "People",
      "description": "Query data about people (CPF)"
    },
    {
      "name": "Companies",
      "description": "Query data about companies (CNPJ)"
    },
    {
      "name": "Addresses",
      "description": "Query data about addresses"
    },
    {
      "name": "Vehicles",
      "description": "Query data about vehicles"
    }
  ],
  "paths": {
    "/pessoas": {
      "post": {
        "operationId": "queryPerson",
        "summary": "Query person data",
        "description": "Returns detailed data about a person based on their CPF (Brazilian individual taxpayer ID). Can also search by name or other identifiers. Returns datasets based on the configured query.",
        "tags": [
          "People"
        ],
        "parameters": [
          {
            "name": "Datasets",
            "in": "query",
            "required": true,
            "description": "Comma-separated list of datasets to query (e.g., 'basic_data,financial_data,addresses').",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "q",
            "in": "query",
            "required": true,
            "description": "Query string - typically a CPF number (e.g., 'doc{12345678901}') or name.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": false,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "Datasets": {
                    "type": "string",
                    "description": "Alternative way to specify datasets"
                  },
                  "q": {
                    "type": "string",
                    "description": "Alternative way to specify query"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Person data results",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/QueryResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request - invalid parameters"
          },
          "401": {
            "description": "Unauthorized - invalid access token"
          },
          "404": {
            "description": "No data found for the query"
          },
          "429": {
            "description": "Rate limit exceeded"
          }
        }
      }
    },
    "/empresas": {
      "post": {
        "operationId": "queryCompany",
        "summary": "Query company data",
        "description": "Returns detailed data about a company based on their CNPJ (Brazilian company registration number). Returns datasets based on the configured query.",
        "tags": [
          "Companies"
        ],
        "parameters": [
          {
            "name": "Datasets",
            "in": "query",
            "required": true,
            "description": "Comma-separated list of datasets to query (e.g., 'basic_data,registration_data,activities').",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "q",
            "in": "query",
            "required": true,
            "description": "Query string - typically a CNPJ number (e.g., 'doc{12345678000190}').",
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": false,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "Datasets": {
                    "type": "string"
                  },
                  "q": {
                    "type": "string"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Company data results",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/QueryResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          },
          "404": {
            "description": "No data found"
          },
          "429": {
            "description": "Rate limit exceeded"
          }
        }
      }
    },
    "/enderecos": {
      "post": {
        "operationId": "queryAddress",
        "summary": "Query address data",
        "description": "Returns detailed data about an address based on a Brazilian postal code (CEP) or other address identifiers.",
        "tags": [
          "Addresses"
        ],
        "parameters": [
          {
            "name": "Datasets",
            "in": "query",
            "required": true,
            "description": "Comma-separated list of datasets to query.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "q",
            "in": "query",
            "required": true,
            "description": "Query string - typically a CEP postal code (e.g., 'cep{01310100}').",
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": false,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "Datasets": {
                    "type": "string"
                  },
                  "q": {
                    "type": "string"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Address data results",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/QueryResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          },
          "404": {
            "description": "No data found"
          },
          "429": {
            "description": "Rate limit exceeded"
          }
        }
      }
    },
    "/veiculos": {
      "post": {
        "operationId": "queryVehicle",
        "summary": "Query vehicle data",
        "description": "Returns detailed data about a vehicle based on license plate or other identifiers.",
        "tags": [
          "Vehicles"
        ],
        "parameters": [
          {
            "name": "Datasets",
            "in": "query",
            "required": true,
            "description": "Comma-separated list of datasets to query.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "q",
            "in": "query",
            "required": true,
            "description": "Query string - typically a license plate (e.g., 'placa{ABC1234}').",
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": false,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "Datasets": {
                    "type": "string"
                  },
                  "q": {
                    "type": "string"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Vehicle data results",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/QueryResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          },
          "404": {
            "description": "No data found"
          },
          "429": {
            "description": "Rate limit exceeded"
          }
        }
      }
    }
  },
  "components": {
    "securitySchemes": {
      "accessToken": {
        "type": "apiKey",
        "name": "AccessToken",
        "in": "header",
        "description": "BigDataCorp access token passed in the AccessToken header."
      }
    },
    "schemas": {
      "QueryResponse": {
        "type": "object",
        "description": "Response containing one or more dataset results",
        "properties": {
          "Status": {
            "type": "object",
            "properties": {
              "Date": {
                "type": "string",
                "format": "date-time"
              },
              "Message": {
                "type": "string"
              }
            }
          },
          "Result": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/DatasetResult"
            }
          },
          "QueryId": {
            "type": "string",
            "description": "Unique query identifier"
          },
          "ElapsedMilliseconds": {
            "type": "integer",
            "description": "Query execution time in milliseconds"
          },
          "MatchKeys": {
            "type": "string",
            "description": "Matched key from the query"
          }
        }
      },
      "DatasetResult": {
        "type": "object",
        "properties": {
          "MatchKeys": {
            "type": "string"
          },
          "DatasetName": {
            "type": "string",
            "description": "Name of the returned dataset"
          },
          "Data": {
            "type": "array",
            "items": {
              "type": "object",
              "additionalProperties": true,
              "description": "Dataset-specific data fields. Structure varies by dataset."
            }
          }
        }
      }
    }
  }
}
