{
  "openapi": "3.0.0",
  "info": {
    "version": "0.0.1",
    "title": "Application API",
    "license": {
      "name": "MIT"
    },
    "x-jentic-source-url": "https://api.swaggerhub.com/apis/DSCARRILLOSDM/application-api/0.0.1"
  },
  "servers": [
    {
      "url": "https://apidev.soyou.es/sit/application/1.0.0",
      "description": "SIT URL"
    },
    {
      "url": "https://apidev.soyou.es/uat/application/1.0.0",
      "description": "UAT URL"
    }
  ],
  "paths": {
    "/application-merchant/{applicationId}": {
      "get": {
        "summary": "Returns application, offer and NBA steps data",
        "operationId": "getApplicationByMerchantRequest",
        "tags": [
          "Application"
        ],
        "parameters": [
          {
            "name": "applicationId",
            "in": "path",
            "required": true,
            "description": "The id of the application",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Application",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApplicationData"
                }
              }
            }
          },
          "default": {
            "description": "unexpected error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/application-internal": {
      "get": {
        "summary": "Returns application data in the internal Gateway",
        "operationId": "getApplicationByParamsInternal",
        "tags": [
          "Application"
        ],
        "parameters": [
          {
            "name": "applicationId",
            "in": "query",
            "required": false,
            "description": "The id of the application",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "idProspectSalesforce",
            "in": "query",
            "required": false,
            "description": "The id of prospect in Salesforce",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "idLeadSalesforce",
            "in": "query",
            "required": false,
            "description": "The id of lead in Salesforce",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "numDocument",
            "in": "query",
            "required": false,
            "description": "Customer's identity card number",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "email",
            "in": "query",
            "required": false,
            "description": "Customer's email",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Application channel",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Application"
                }
              }
            }
          },
          "default": {
            "description": "unexpected error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/application": {
      "post": {
        "summary": "Create an application in the intermediate database",
        "operationId": "createApplication",
        "tags": [
          "Application"
        ],
        "requestBody": {
          "description": "Application",
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ApplicationPost"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Created application",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Application"
                }
              }
            }
          },
          "default": {
            "description": "unexpected error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      },
      "get": {
        "summary": "Returns application data",
        "operationId": "getApplicationByParams",
        "tags": [
          "Application"
        ],
        "parameters": [
          {
            "name": "applicationId",
            "in": "query",
            "required": false,
            "description": "The id of the application",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "idProspectSalesforce",
            "in": "query",
            "required": false,
            "description": "The id of prospect in Salesforce",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "idLeadSalesforce",
            "in": "query",
            "required": false,
            "description": "The id of lead in Salesforce",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "numDocument",
            "in": "query",
            "required": false,
            "description": "Customer's identity card number",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "email",
            "in": "query",
            "required": false,
            "description": "Customer's email",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Application channel",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Application"
                }
              }
            }
          },
          "default": {
            "description": "unexpected error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/v1.1/application/{applicationId}": {
      "get": {
        "summary": "Returns application, assets, personal data and simulation",
        "operationId": "getApplicationByApplicationId",
        "tags": [
          "Application"
        ],
        "parameters": [
          {
            "name": "applicationId",
            "in": "path",
            "required": true,
            "description": "The id of the application",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Application channel",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApplicationResponse"
                }
              }
            }
          },
          "default": {
            "description": "unexpected error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/application/{applicationId}": {
      "get": {
        "summary": "Returns application data",
        "operationId": "getApplication",
        "tags": [
          "Application"
        ],
        "parameters": [
          {
            "name": "applicationId",
            "in": "path",
            "required": true,
            "description": "The id of the application",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Application channel",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Application"
                }
              }
            }
          },
          "default": {
            "description": "unexpected error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      },
      "patch": {
        "summary": "Update application data",
        "operationId": "patchApplication",
        "tags": [
          "Application"
        ],
        "parameters": [
          {
            "name": "applicationId",
            "in": "path",
            "required": true,
            "description": "The id of the application",
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "description": "Application",
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ApplicationPatch"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Application id",
            "content": {
              "application/json": {
                "schema": {
                  "type": "integer",
                  "format": "int64"
                }
              }
            }
          },
          "default": {
            "description": "unexpected error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      },
      "delete": {
        "summary": "Logical deletion of an application",
        "operationId": "logicalDeletionApplication",
        "tags": [
          "Application"
        ],
        "parameters": [
          {
            "name": "applicationId",
            "in": "path",
            "required": true,
            "description": "The id of the application",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "cancellationReason",
            "in": "query",
            "required": false,
            "description": "The cancellation reason",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "State OK"
          },
          "default": {
            "description": "unexpected error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/application/{applicationId}/scoring": {
      "post": {
        "summary": "Request to make scoring process",
        "description": "Request that save consents and get the result of the scoring",
        "operationId": "scoringRequest",
        "tags": [
          "Application"
        ],
        "parameters": [
          {
            "name": "applicationId",
            "in": "path",
            "required": true,
            "description": "Application id",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "201": {
            "description": "Status after the scoring",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Offer"
                }
              }
            }
          },
          "default": {
            "description": "unexpected error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      },
      "put": {
        "summary": "request to make scoring process",
        "description": "Request with call to executeEvents to get result of the scoring and save.",
        "operationId": "processScoring",
        "tags": [
          "Application"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "applicationId",
            "description": "application id",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Status after the scoring",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ScoringPutResponse"
                }
              }
            }
          },
          "default": {
            "description": "unexpected error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/application/{applicationId}/createDeal": {
      "post": {
        "summary": "Request to create deal",
        "description": "Request that creates deal",
        "operationId": "createDealRequest",
        "tags": [
          "Application"
        ],
        "parameters": [
          {
            "name": "applicationId",
            "in": "path",
            "required": true,
            "description": "Application id",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Status after creating deal",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Application"
                }
              }
            }
          },
          "default": {
            "description": "unexpected error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/deals": {
      "post": {
        "summary": "Send a DealVO to create a deal into Cassiopae",
        "operationId": "createDeal",
        "tags": [
          "Deals"
        ],
        "requestBody": {
          "description": "DealVO object in Cassiopae format",
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "description": "DealVO"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "If the the deal was created",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "description": "DealRestVO object in Cassiopae format"
                }
              }
            }
          },
          "default": {
            "description": "unexpected error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/leads/{applicationId}": {
      "post": {
        "summary": "Sync lead information to Salesforce",
        "operationId": "SyncSalesforce",
        "tags": [
          "Leads"
        ],
        "parameters": [
          {
            "name": "applicationId",
            "in": "path",
            "required": true,
            "description": "The id of the application",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "201": {
            "description": "If Lead and Prospect was created/updated",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SalesforceResponse"
                }
              }
            }
          },
          "default": {
            "description": "unexpected error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/application/{applicationId}/offer": {
      "post": {
        "summary": "Manage of the assigning an offer to an application",
        "operationId": "selectionOffer",
        "tags": [
          "Application"
        ],
        "parameters": [
          {
            "name": "applicationId",
            "in": "path",
            "required": true,
            "description": "Application id",
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "description": "Selected Offer",
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/SelectedOffer"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Status of update"
          },
          "default": {
            "description": "unexpected error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/deals/{dealId}/applicationId": {
      "get": {
        "tags": [
          "Deals"
        ],
        "summary": "Get Application Id by Deal Id",
        "description": "Get Application Id by Deal Id",
        "operationId": "getApplicationIdByDealId",
        "parameters": [
          {
            "name": "dealId",
            "in": "path",
            "description": "ID of the deal",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Application channel",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApplicationId"
                }
              }
            }
          },
          "default": {
            "description": "unexpected error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/deals/{dealId}/documents": {
      "post": {
        "tags": [
          "Deals"
        ],
        "summary": "Attach a document to a deal",
        "description": "Attach a document to a deal",
        "operationId": "postDocument",
        "parameters": [
          {
            "name": "dealId",
            "in": "path",
            "description": "ID of the deal",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "multipart/form-data": {
              "schema": {
                "$ref": "#/components/schemas/DocumentUpload"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Successful operation"
          },
          "default": {
            "description": "unexpected error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/deals/{dealId}/documents/info": {
      "get": {
        "tags": [
          "Deals"
        ],
        "summary": "Get document list to be attached to deal",
        "description": "Get document list to be attached to deal",
        "operationId": "getDocumentListById",
        "parameters": [
          {
            "name": "dealId",
            "in": "path",
            "description": "ID of the deal",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ArrayOfDocumentInfo"
                }
              }
            }
          },
          "default": {
            "description": "unexpected error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/deals/{dealId}/signatures": {
      "post": {
        "tags": [
          "Deals"
        ],
        "summary": "Trigger a new signature process",
        "description": "Trigger a new signature process",
        "operationId": "postSignature",
        "parameters": [
          {
            "name": "dealId",
            "in": "path",
            "description": "ID of the deal",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DealLinks"
                }
              }
            }
          },
          "default": {
            "description": "unexpected error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/deals/{dealId}/rescore": {
      "post": {
        "tags": [
          "Deals"
        ],
        "summary": "Call to s-java-deal to rescore and update Offer table.",
        "description": "Call to s-java-deal to rescore",
        "operationId": "postRescore",
        "parameters": [
          {
            "name": "dealId",
            "in": "path",
            "description": "ID of the deal",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RescoreOuput"
                }
              }
            }
          },
          "default": {
            "description": "unexpected error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/applications": {
      "get": {
        "tags": [
          "Application"
        ],
        "summary": "Get active applications, simulation and scoring result if done",
        "description": "Get active applications info (appBO, simulation, scoring)",
        "operationId": "getActiveApplicationsByParams",
        "parameters": [
          {
            "name": "numDocument",
            "in": "query",
            "required": false,
            "description": "Customer's identity card number",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "email",
            "in": "query",
            "required": false,
            "description": "Customer's email",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "product",
            "in": "query",
            "required": false,
            "description": "Product",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "channel",
            "in": "query",
            "required": false,
            "description": "Channel",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "content": {
              "application/json": {
                "schema": {
                  "items": {
                    "$ref": "#/components/schemas/ApplicationInfo"
                  }
                }
              }
            }
          },
          "default": {
            "description": "unexpected error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/leads/{personLeadId}/documents": {
      "post": {
        "summary": "Return the Salesforce document sync response.",
        "operationId": "syncDocumentsSalesforce",
        "tags": [
          "Leads"
        ],
        "parameters": [
          {
            "name": "personLeadId",
            "in": "path",
            "required": true,
            "description": "The id of the personLead",
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "description": "Application",
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/PersonDocumentRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Salesforce response",
            "headers": {
              "x-next": {
                "description": "SalesforceResponse",
                "schema": {
                  "type": "string"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SalesforceResponse"
                }
              }
            }
          },
          "default": {
            "description": "unexpected error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/application/{applicationId}/confirm-phone": {
      "put": {
        "summary": "Confirm phone of application",
        "operationId": "confirmPhone",
        "tags": [
          "Application"
        ],
        "parameters": [
          {
            "name": "applicationId",
            "in": "path",
            "required": true,
            "description": "The id of application",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "State OK"
          },
          "default": {
            "description": "unexpected error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/mkt-digital-data": {
      "get": {
        "summary": "Return UTM values by lead or deal",
        "operationId": "getUTMValuesByDealOrLead",
        "tags": [
          "Marketing Digital"
        ],
        "parameters": [
          {
            "name": "dealId",
            "in": "query",
            "required": false,
            "description": "The deal id",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "leadId",
            "in": "query",
            "required": false,
            "description": "The lead id",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Marketing Digital Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/MarketingDigitalResponse"
                }
              }
            }
          },
          "default": {
            "description": "unexpected error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/check-data-changes": {
      "post": {
        "summary": "Checks the data if it has been modified",
        "operationId": "checkDataIfChanged",
        "tags": [
          "Marketing Digital"
        ],
        "parameters": [
          {
            "name": "applicationId",
            "in": "query",
            "required": true,
            "description": "The application id",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "UTM Update economic data",
            "content": {
              "application/json": {
                "schema": {
                  "type": "string"
                }
              }
            }
          },
          "default": {
            "description": "unexpected error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/application/{applicationId}/customerConsent": {
      "get": {
        "summary": "Get Customer Consent by applicationId with ActId and dosid",
        "operationId": "getCustomerConsentWithActId",
        "tags": [
          "customerConsent"
        ],
        "parameters": [
          {
            "name": "applicationId",
            "in": "path",
            "required": true,
            "description": "The id of application",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "State OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/customerConsentResponse"
                }
              }
            }
          },
          "default": {
            "description": "unexpected error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/application/{applicationId}/data": {
      "post": {
        "summary": "Save CustomerData by applicationId",
        "operationId": "saveCustomerDataByApplicationId",
        "tags": [
          "Application"
        ],
        "parameters": [
          {
            "name": "applicationId",
            "in": "path",
            "required": true,
            "description": "The id of application",
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "description": "Application",
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CustomerData"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "State OK"
          },
          "default": {
            "description": "unexpected error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/application/{applicationId}/assets": {
      "post": {
        "summary": "Save Assets by applicationId",
        "operationId": "saveAssetsByApplicationId",
        "tags": [
          "Application"
        ],
        "parameters": [
          {
            "name": "applicationId",
            "in": "path",
            "required": true,
            "description": "The id of application",
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "description": "Application",
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "items": {
                  "$ref": "#/components/schemas/Asset"
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "State OK"
          },
          "default": {
            "description": "unexpected error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/search-applications": {
      "get": {
        "summary": "Search requests by parameters",
        "operationId": "searchApplicationsByParams",
        "tags": [
          "Application"
        ],
        "parameters": [
          {
            "name": "dealIds",
            "in": "query",
            "required": false,
            "description": "Deal id list",
            "schema": {
              "items": {
                "type": "string"
              }
            }
          },
          {
            "name": "leadIds",
            "in": "query",
            "required": false,
            "description": "Lead id list",
            "schema": {
              "items": {
                "type": "string"
              }
            }
          }
        ],
        "responses": {
          "200": {
            "description": "List Applications Response",
            "content": {
              "application/json": {
                "schema": {
                  "items": {
                    "$ref": "#/components/schemas/Application"
                  }
                }
              }
            }
          },
          "default": {
            "description": "unexpected error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    }
  },
  "components": {
    "schemas": {
      "Error": {
        "type": "object",
        "required": [
          "code",
          "message"
        ],
        "properties": {
          "code": {
            "type": "integer",
            "format": "int32"
          },
          "message": {
            "type": "string"
          }
        }
      },
      "SelectedOffer": {
        "type": "object",
        "properties": {
          "selectedOffer": {
            "type": "string"
          },
          "insurance": {
            "type": "boolean"
          }
        }
      },
      "ApplicationId": {
        "type": "object",
        "properties": {
          "applicationId": {
            "type": "integer",
            "format": "int64",
            "readOnly": true
          }
        }
      },
      "Application": {
        "type": "object",
        "properties": {
          "id": {
            "type": "integer",
            "format": "int64",
            "readOnly": true
          },
          "state": {
            "type": "string"
          },
          "isBankReady": {
            "type": "boolean"
          },
          "requestDate": {
            "type": "string",
            "format": "date-time"
          },
          "isProspect": {
            "type": "boolean"
          },
          "idProspectSalesforce": {
            "type": "string"
          },
          "idLeadSalesforce": {
            "type": "string"
          },
          "idAccountSalesforce": {
            "type": "string"
          },
          "numDocument": {
            "type": "string"
          },
          "actorId": {
            "type": "integer",
            "format": "int64"
          },
          "actorCode": {
            "type": "string"
          },
          "dealId": {
            "type": "integer",
            "format": "int64"
          },
          "dprNumero": {
            "type": "string"
          },
          "originationChannel": {
            "type": "string"
          },
          "salesforceCase": {
            "type": "string"
          },
          "campaign": {
            "type": "string"
          },
          "term": {
            "type": "string"
          },
          "source": {
            "type": "string"
          },
          "objective": {
            "type": "string"
          },
          "medium": {
            "type": "string"
          },
          "scale": {
            "type": "string"
          },
          "merchant": {
            "type": "string"
          },
          "email": {
            "type": "string"
          },
          "product": {
            "type": "string"
          },
          "distributionChannel": {
            "type": "string"
          },
          "personalData": {
            "$ref": "#/components/schemas/PersonalData"
          },
          "isDraft": {
            "type": "boolean"
          },
          "branchAgent": {
            "type": "string"
          },
          "preapprovedClientId": {
            "type": "string"
          },
          "sentVideoidEmpr": {
            "type": "boolean"
          },
          "sentVideoidCoempr": {
            "type": "boolean"
          },
          "receivedVideoidEmpr": {
            "type": "boolean"
          },
          "receivedVideoidCoempr": {
            "type": "boolean"
          },
          "dealStatus": {
            "type": "string"
          },
          "contractNumber": {
            "type": "string"
          },
          "financedDate": {
            "type": "string",
            "format": "date"
          },
          "creationDetails": {
            "$ref": "#/components/schemas/CreationDetails"
          }
        }
      },
      "CreationDetails": {
        "type": "object",
        "properties": {
          "isCreationError": {
            "type": "boolean",
            "description": "Field that will be true when the application cannot be created due to business logic restrictions",
            "default": false
          },
          "isWarningIssued": {
            "type": "boolean",
            "description": "Field that will be true when this application creation process is the last one available due to business logic restrictions. Creation can and should complete",
            "default": false
          },
          "message": {
            "type": "string",
            "example": "You can't create another application because you have a previous rejected one in the last n days.",
            "description": "Field that contains a message to the user, either about the warning or the error"
          }
        }
      },
      "SalesforceResponse": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string"
          },
          "success": {
            "type": "boolean"
          },
          "errors": {
            "type": "array",
            "items": {
              "type": "object"
            }
          }
        }
      },
      "ArrayOfDocumentInfo": {
        "type": "array",
        "items": {
          "$ref": "#/components/schemas/DocumentInfo"
        }
      },
      "DocumentInfo": {
        "type": "object",
        "description": "Document list info",
        "properties": {
          "document_status": {
            "type": "string"
          },
          "document_status_label": {
            "type": "string"
          },
          "document_type": {
            "type": "string"
          },
          "document_type_label": {
            "type": "string"
          },
          "client_category": {
            "type": "string"
          },
          "client_category_label": {
            "type": "string"
          },
          "filename": {
            "type": "string"
          },
          "comment": {
            "type": "string"
          }
        }
      },
      "DocumentUpload": {
        "type": "object",
        "description": "Document to upload",
        "properties": {
          "file": {
            "description": "The document to upload.",
            "type": "string",
            "format": "binary"
          },
          "category": {
            "description": "Category of the document client -> co-debtor, guarantor",
            "type": "string"
          },
          "doc_type": {
            "description": "Type of document -> ID card, bank statement...",
            "type": "string"
          }
        }
      },
      "DealLinks": {
        "type": "object",
        "properties": {
          "links": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/SignatureLink"
            }
          }
        }
      },
      "SignatureLink": {
        "type": "object",
        "properties": {
          "href": {
            "type": "string"
          },
          "ref": {
            "type": "string",
            "enum": [
              "OK",
              "KO",
              "CALLBACK",
              "REDIRECT"
            ]
          },
          "role": {
            "type": "string"
          }
        }
      },
      "ApplicationPost": {
        "allOf": [
          {
            "$ref": "#/components/schemas/Application"
          },
          {
            "required": [
              "salesChannel",
              "salesProduct",
              "originationChannel"
            ]
          }
        ],
        "properties": {
          "salesChannel": {
            "type": "string"
          },
          "salesProduct": {
            "type": "string"
          },
          "simulation": {
            "$ref": "#/components/schemas/ApplicationSimulation"
          }
        }
      },
      "ApplicationPatch": {
        "type": "object",
        "required": [
          "isBankReady",
          "isProspect"
        ],
        "properties": {
          "id": {
            "type": "integer",
            "format": "int64",
            "readOnly": true
          },
          "isBankReady": {
            "type": "boolean"
          },
          "isProspect": {
            "type": "boolean"
          },
          "isDraft": {
            "type": "boolean"
          },
          "simulation": {
            "$ref": "#/components/schemas/ApplicationSimulation"
          },
          "sentVideoidEmpr": {
            "type": "boolean"
          },
          "sentVideoidCoempr": {
            "type": "boolean"
          },
          "receivedVideoidEmpr": {
            "type": "boolean"
          },
          "receivedVideoidCoempr": {
            "type": "boolean"
          },
          "dealStatus": {
            "type": "string"
          },
          "numDocument": {
            "type": "string"
          },
          "email": {
            "type": "string"
          }
        }
      },
      "ApplicationSimulation": {
        "type": "object",
        "description": "Results of a simulation",
        "properties": {
          "financedAmount": {
            "type": "number",
            "format": "bigdecimal",
            "example": 10000.45,
            "description": "Total financed amount"
          },
          "duration": {
            "type": "integer",
            "description": "Duration of the loan"
          },
          "totalAmount": {
            "type": "number",
            "format": "bigdecimal",
            "example": 10000.45,
            "description": "Total loan amount with interest but not insurance"
          },
          "totalAmountWithInsurance": {
            "type": "number",
            "format": "bigdecimal",
            "example": 10000.45,
            "description": "Total loan amount with interest and insurance"
          },
          "monthlyInstallment": {
            "type": "number",
            "format": "bigdecimal",
            "example": 10000.45,
            "description": "Monthly instalment with interest but not insurance-\u20ac"
          },
          "monthlyInstallmentWithInsurance": {
            "type": "number",
            "format": "bigdecimal",
            "example": 10000.45,
            "description": "Monthly instalment with interest and insurance (\u20ac)"
          },
          "firstInstallmentDate": {
            "type": "string",
            "format": "date",
            "description": "First instalment date."
          },
          "firstInstallment": {
            "type": "number",
            "format": "bigdecimal",
            "example": 10000.45,
            "description": "First installment with interest but not insurance(\u20ac)"
          },
          "firstInstallmentWithInsurance": {
            "type": "number",
            "format": "bigdecimal",
            "example": 10000.45,
            "description": "First installment with interest and insurance (\u20ac)"
          },
          "lastInstallment": {
            "type": "number",
            "format": "bigdecimal",
            "example": 10000.45,
            "description": "Last installment with interest but not insurance (\u20ac)"
          },
          "lastInstallmentWithInsurance": {
            "type": "number",
            "format": "bigdecimal",
            "example": 10000.45,
            "description": "Last installment with interest and insurance (\u20ac)"
          },
          "insurance": {
            "type": "number",
            "format": "bigdecimal",
            "example": 10000.45,
            "description": "Total insurance (\u20ac)"
          },
          "insuranceMonthly": {
            "type": "number",
            "format": "bigdecimal",
            "example": 10000.45,
            "description": "Monthly insurance (\u20ac)"
          },
          "tin": {
            "type": "object",
            "description": "TIN results",
            "properties": {
              "percentage": {
                "type": "number",
                "format": "bigdecimal",
                "example": 10000.45,
                "description": "Percentage of TIN"
              },
              "amount": {
                "type": "number",
                "format": "bigdecimal",
                "example": 10000.45,
                "description": "Total amount of TIN"
              }
            }
          },
          "tae": {
            "type": "object",
            "description": "TAE results",
            "properties": {
              "percentage": {
                "type": "number",
                "format": "bigdecimal",
                "example": 10000.45,
                "description": "Percentage of TAE"
              }
            }
          },
          "tinOf": {
            "type": "object",
            "description": "TIN Openning fee results",
            "properties": {
              "percentage": {
                "type": "number",
                "format": "bigdecimal",
                "example": 10000.45,
                "description": "Percentage of TIN Openning fee"
              },
              "amount": {
                "type": "number",
                "format": "bigdecimal",
                "example": 10000.45,
                "description": "Total Interests of TIN Openning fee"
              }
            }
          },
          "productType": {
            "type": "string"
          },
          "scale": {
            "type": "string"
          },
          "bareme": {
            "type": "string"
          },
          "category": {
            "type": "string",
            "description": "Asset category"
          },
          "type": {
            "type": "string",
            "description": "Asset type"
          },
          "segment": {
            "type": "string"
          },
          "assetSegment": {
            "type": "string",
            "description": "Asset segment"
          },
          "downPayment": {
            "type": "number",
            "format": "bigdecimal",
            "example": 10000.45,
            "description": "Down payment provided"
          },
          "openingFeeType": {
            "type": "string",
            "enum": [
              "UPFRONT",
              "CAPITALIZED"
            ],
            "default": "CAPITALIZED",
            "description": "Type of Opening Fee. UPFRONT Type is paid without interest rates in First Installment. CAPITALIZED type is payed every month with interest."
          },
          "openingFee": {
            "type": "number",
            "format": "bigdecimal",
            "example": 10000.45,
            "description": "Loan opening fee"
          },
          "openingFeeMonthly": {
            "type": "number",
            "format": "bigdecimal",
            "example": 10000.45,
            "description": "Monthly loan opening fee"
          },
          "lastDecisionDate": {
            "type": "string",
            "format": "date"
          }
        }
      },
      "ApplicationInfo": {
        "type": "object",
        "description": "Application Info",
        "properties": {
          "application": {
            "$ref": "#/components/schemas/Application"
          },
          "simulation": {
            "$ref": "#/components/schemas/ApplicationSimulation"
          },
          "selectedOffer": {
            "$ref": "#/components/schemas/ApplicationSimulation"
          },
          "scoring": {
            "type": "boolean"
          },
          "customerRole": {
            "type": "string"
          },
          "assetsList": {
            "items": {
              "$ref": "#/components/schemas/Asset"
            }
          }
        }
      },
      "PersonDocumentRequest": {
        "type": "object",
        "properties": {
          "documentType": {
            "type": "string"
          },
          "statusDescription": {
            "type": "string"
          },
          "name": {
            "type": "string"
          },
          "status": {
            "type": "string"
          },
          "personLeadId": {
            "type": "string"
          },
          "uploadDate": {
            "type": "string",
            "format": "date"
          }
        }
      },
      "PersonalData": {
        "type": "object",
        "properties": {
          "id": {
            "type": "integer",
            "format": "int64"
          },
          "personalTitle": {
            "type": "string"
          },
          "personalName": {
            "type": "string"
          },
          "surnameOne": {
            "type": "string"
          },
          "surnameTwo": {
            "type": "string"
          },
          "birth_date": {
            "type": "string",
            "format": "date"
          },
          "nacionality": {
            "type": "string"
          },
          "country_birth": {
            "type": "string"
          },
          "gender": {
            "type": "string"
          },
          "documentType": {
            "type": "string"
          },
          "numDocument": {
            "type": "string"
          },
          "expeditionDate": {
            "type": "string",
            "format": "date"
          },
          "expirationDate": {
            "type": "string",
            "format": "date"
          },
          "maritalStatus": {
            "type": "string"
          },
          "dependentFamily": {
            "type": "integer",
            "format": "int32"
          },
          "dwellingType": {
            "type": "string"
          },
          "housingStartDate": {
            "type": "string",
            "format": "date"
          },
          "salesforceId": {
            "type": "string"
          },
          "insDate": {
            "type": "string",
            "format": "date-time"
          },
          "mdfDate": {
            "type": "string",
            "format": "date-time"
          },
          "insUsr": {
            "type": "string"
          },
          "mdfUsr": {
            "type": "string"
          },
          "interveners": {
            "$ref": "#/components/schemas/PersonalDataList"
          }
        }
      },
      "PersonalDataList": {
        "type": "array",
        "items": {
          "$ref": "#/components/schemas/PersonalData"
        }
      },
      "MarketingDigitalResponse": {
        "type": "object",
        "properties": {
          "campaign": {
            "type": "string"
          },
          "term": {
            "type": "string"
          },
          "source": {
            "type": "string"
          },
          "objective": {
            "type": "string"
          },
          "medium": {
            "type": "string"
          },
          "scale": {
            "type": "string"
          },
          "updateEconomicData": {
            "type": "string"
          }
        }
      },
      "CustomerData": {
        "type": "object",
        "properties": {
          "consentData": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/LeadConsent"
            }
          },
          "addressData": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/AddressData"
            }
          },
          "personalData": {
            "$ref": "#/components/schemas/PersonalDataCustomer"
          },
          "professionalData": {
            "$ref": "#/components/schemas/ProfessionalData"
          },
          "contactData": {
            "$ref": "#/components/schemas/ContactData"
          },
          "financialData": {
            "$ref": "#/components/schemas/FinancialData"
          }
        }
      },
      "PersonalDataCustomer": {
        "type": "object",
        "properties": {
          "id": {
            "type": "integer",
            "format": "int64"
          },
          "personalTitle": {
            "type": "string"
          },
          "personalName": {
            "type": "string"
          },
          "surnameOne": {
            "type": "string"
          },
          "surnameTwo": {
            "type": "string"
          },
          "birth_date": {
            "type": "string",
            "format": "date"
          },
          "nacionality": {
            "type": "string"
          },
          "country_birth": {
            "type": "string"
          },
          "gender": {
            "type": "string"
          },
          "documentType": {
            "type": "string"
          },
          "numDocument": {
            "type": "string"
          },
          "expeditionDate": {
            "type": "string",
            "format": "date"
          },
          "expirationDate": {
            "type": "string",
            "format": "date"
          },
          "maritalStatus": {
            "type": "string"
          },
          "dependentFamily": {
            "type": "integer",
            "format": "int32"
          },
          "dwellingType": {
            "type": "string"
          },
          "housingStartDate": {
            "type": "string",
            "format": "date"
          },
          "salesforceId": {
            "type": "string"
          },
          "insDate": {
            "type": "string",
            "format": "date-time"
          },
          "mdfDate": {
            "type": "string",
            "format": "date-time"
          },
          "insUsr": {
            "type": "string"
          },
          "mdfUsr": {
            "type": "string"
          }
        }
      },
      "AddressData": {
        "type": "object",
        "properties": {
          "id": {
            "type": "integer",
            "format": "int64"
          },
          "type_address": {
            "type": "string"
          },
          "street_type": {
            "type": "string"
          },
          "street_name": {
            "type": "string"
          },
          "street_number": {
            "type": "integer"
          },
          "street_complement": {
            "type": "string"
          },
          "street_postal_code": {
            "type": "string"
          },
          "street_location": {
            "type": "string"
          },
          "street_province": {
            "type": "string"
          },
          "ins_date": {
            "type": "string",
            "format": "date-time"
          },
          "mdf_date": {
            "type": "string",
            "format": "date-time"
          },
          "ins_usr": {
            "type": "string"
          },
          "mdf_usr": {
            "type": "string"
          },
          "salesforce_id": {
            "type": "string"
          }
        }
      },
      "ContactData": {
        "type": "object",
        "properties": {
          "id": {
            "type": "integer",
            "format": "int64"
          },
          "email": {
            "type": "string"
          },
          "landline_phone": {
            "type": "string"
          },
          "mobile_phone": {
            "type": "string"
          },
          "salerforce_id": {
            "type": "string"
          },
          "ins_date": {
            "type": "string",
            "format": "date-time"
          },
          "mdf_date": {
            "type": "string",
            "format": "date-time"
          },
          "ins_usr": {
            "type": "string"
          },
          "mdf_usr": {
            "type": "string"
          }
        }
      },
      "FinancialData": {
        "type": "object",
        "properties": {
          "id": {
            "type": "integer",
            "format": "int64"
          },
          "salary_monthly_income": {
            "type": "number",
            "format": "double"
          },
          "other_monthly_income": {
            "type": "number",
            "format": "double"
          },
          "mortage_expenses": {
            "type": "number",
            "format": "double"
          },
          "iban": {
            "type": "string"
          },
          "other_credit_expenses": {
            "type": "number",
            "format": "double"
          },
          "income_period": {
            "type": "integer"
          },
          "anual_payments": {
            "type": "string"
          },
          "salesforce_id": {
            "type": "string"
          },
          "ins_date": {
            "type": "string",
            "format": "date-time"
          },
          "mdf_date": {
            "type": "string",
            "format": "date-time"
          },
          "ins_usr": {
            "type": "string"
          },
          "mdf_usr": {
            "type": "string"
          }
        }
      },
      "ProfessionalData": {
        "type": "object",
        "properties": {
          "id": {
            "type": "integer",
            "format": "int64"
          },
          "since_date": {
            "type": "string",
            "format": "date"
          },
          "occupation": {
            "type": "string"
          },
          "contrat_type": {
            "type": "string"
          },
          "company_sector": {
            "type": "string"
          },
          "employment_situation": {
            "type": "string"
          },
          "salesforce_id": {
            "type": "string"
          },
          "client_type": {
            "type": "string"
          },
          "ins_date": {
            "type": "string",
            "format": "date-time"
          },
          "mdf_date": {
            "type": "string",
            "format": "date-time"
          },
          "ins_usr": {
            "type": "string"
          },
          "mdf_usr": {
            "type": "string"
          }
        }
      },
      "LeadConsent": {
        "type": "object",
        "properties": {
          "id": {
            "type": "integer",
            "format": "int64"
          },
          "isAccepted": {
            "type": "boolean"
          },
          "consentType": {
            "type": "string"
          },
          "consentDate": {
            "type": "string",
            "format": "date-time"
          },
          "salesforceId": {
            "type": "string"
          },
          "insDate": {
            "type": "string",
            "format": "date-time"
          },
          "mdfDate": {
            "type": "string",
            "format": "date-time"
          },
          "insUsr": {
            "type": "string"
          },
          "mdfUsr": {
            "type": "string"
          }
        }
      },
      "Asset": {
        "type": "object",
        "properties": {
          "assetCode": {
            "type": "string"
          },
          "assetType": {
            "type": "string"
          },
          "assetValue": {
            "type": "string"
          },
          "applicationId": {
            "type": "integer",
            "format": "int64"
          }
        }
      },
      "Offer": {
        "type": "object",
        "properties": {
          "id": {
            "type": "number"
          },
          "validDate": {
            "type": "string",
            "format": "date-time"
          },
          "simulationAmmount": {
            "type": "number",
            "format": "double"
          },
          "simulationPeriod": {
            "type": "number"
          },
          "taeOffer1": {
            "type": "number",
            "format": "double"
          },
          "taeOffer2": {
            "type": "number",
            "format": "double"
          },
          "taeSelectedOffer": {
            "type": "number",
            "format": "double"
          },
          "taeSimulation": {
            "type": "number",
            "format": "double"
          },
          "tinOffer1": {
            "type": "number",
            "format": "double"
          },
          "tinOffer2": {
            "type": "number",
            "format": "double"
          },
          "tinSelectedOffer": {
            "type": "number",
            "format": "double"
          },
          "tinSimulation": {
            "type": "number",
            "format": "double"
          },
          "productType": {
            "type": "string"
          },
          "scale": {
            "type": "string"
          },
          "bareme": {
            "type": "string"
          },
          "assetSegment": {
            "type": "string"
          },
          "category": {
            "type": "string"
          },
          "type": {
            "type": "string"
          },
          "risksegment": {
            "type": "string"
          },
          "rating": {
            "type": "number",
            "format": "double"
          },
          "preapprovedLimit": {
            "type": "string"
          },
          "persLoanLimit": {
            "type": "number",
            "format": "double"
          },
          "monthlySimulationFee": {
            "type": "number",
            "format": "double"
          },
          "monthlyFeeSelectedOffer": {
            "type": "number",
            "format": "double"
          },
          "monthlyFeeOffer1": {
            "type": "number",
            "format": "double"
          },
          "monthlyFeeOffer2": {
            "type": "number",
            "format": "double"
          },
          "minterm": {
            "type": "number"
          },
          "insuranceIndicator": {
            "type": "boolean"
          },
          "fraudnetIndicator": {
            "type": "boolean"
          },
          "scoringResult": {
            "type": "string"
          },
          "application": {
            "type": "object",
            "properties": {
              "id": {
                "type": "number"
              },
              "isBankReady": {
                "type": "boolean"
              },
              "isProspect": {
                "type": "boolean"
              },
              "idProspectSalesforce": {
                "type": "string"
              },
              "idLeadSalesforce": {
                "type": "string"
              },
              "idAccountSalesforce": {
                "type": "string"
              },
              "actorId": {
                "type": "number"
              },
              "actorCode": {
                "type": "string"
              },
              "dealId": {
                "type": "number"
              },
              "dprNumero": {
                "type": "string"
              },
              "numDocument": {
                "type": "string"
              },
              "videoIdReference": {
                "type": "string"
              },
              "applicationStatus": {
                "type": "string"
              },
              "originationChannel": {
                "type": "string"
              },
              "salesforceCase": {
                "type": "string"
              },
              "distributionChannel": {
                "type": "string"
              },
              "product": {
                "type": "string"
              },
              "campaign": {
                "type": "string"
              },
              "term": {
                "type": "string"
              },
              "source": {
                "type": "string"
              },
              "objective": {
                "type": "string"
              },
              "medium": {
                "type": "string"
              },
              "scale": {
                "type": "string"
              },
              "updateEconomicData": {
                "type": "string"
              },
              "merchant": {
                "type": "string"
              },
              "email": {
                "type": "string"
              },
              "isDraft": {
                "type": "boolean"
              },
              "branchAgent": {
                "type": "string"
              },
              "preapprovedClientId": {
                "type": "string"
              },
              "insUsr": {
                "type": "string"
              },
              "mdfUsr": {
                "type": "string"
              }
            }
          },
          "declineReasonCode": {
            "type": "string"
          },
          "deadlineSelectedOffer": {
            "type": "number"
          },
          "deadlineOffer1": {
            "type": "number"
          },
          "deadlineOffer2": {
            "type": "number"
          },
          "commercialProduct": {
            "type": "string"
          },
          "clientAntiquity": {
            "type": "number",
            "format": "double"
          },
          "amountSelectedOffer": {
            "type": "number",
            "format": "double"
          },
          "amountOffer1": {
            "type": "number",
            "format": "double"
          },
          "amountOffer2": {
            "type": "number",
            "format": "double"
          },
          "dueSimulationAmount": {
            "type": "number",
            "format": "double"
          },
          "dueAmountSelectedOffer": {
            "type": "number",
            "format": "double"
          },
          "dueAmountOffer1": {
            "type": "number",
            "format": "double"
          },
          "dueAmountOffer2": {
            "type": "number",
            "format": "double"
          },
          "simulationInsurancePremium": {
            "type": "number",
            "format": "double"
          },
          "insurancePremiumSelectedOffer": {
            "type": "number",
            "format": "double"
          },
          "insurancePremiumOffer1": {
            "type": "number",
            "format": "double"
          },
          "insurancePremiumOffer2": {
            "type": "number",
            "format": "double"
          },
          "totalSimulationInterest": {
            "type": "number",
            "format": "double"
          },
          "totalInterestSelectedOffer": {
            "type": "number",
            "format": "double"
          },
          "totalInterestOffer1": {
            "type": "number",
            "format": "double"
          },
          "totalInterestOffer2": {
            "type": "number",
            "format": "double"
          },
          "paymentSchedule": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "month": {
                  "type": "number"
                },
                "total": {
                  "type": "number",
                  "format": "double"
                },
                "total_loan": {
                  "type": "number"
                },
                "total_Of": {
                  "type": "number"
                },
                "fees": {
                  "type": "number",
                  "format": "double"
                },
                "interest": {
                  "type": "number",
                  "format": "double"
                },
                "interest_loan": {
                  "type": "number"
                },
                "interest_Of": {
                  "type": "number"
                },
                "insurance": {
                  "type": "number",
                  "format": "double"
                },
                "due_date": {
                  "type": "string",
                  "format": "date-time"
                },
                "amount_amortized": {
                  "type": "number",
                  "format": "double"
                },
                "amount_amortized_loan": {
                  "type": "number"
                },
                "amount_amortized_of": {
                  "type": "number"
                },
                "rate_interest": {
                  "type": "number",
                  "format": "double"
                },
                "rate_interest_Of": {
                  "type": "number"
                },
                "rate_tax": {
                  "type": "number",
                  "format": "double"
                },
                "amount_tax": {
                  "type": "number",
                  "format": "double"
                },
                "pending_amount": {
                  "format": "double",
                  "type": "number"
                },
                "service": {
                  "type": "number",
                  "format": "double"
                }
              }
            }
          },
          "downPayment": {
            "type": "number",
            "format": "double"
          },
          "openingFee": {
            "type": "number",
            "format": "double"
          },
          "openingFeeMonthly": {
            "type": "number",
            "format": "double"
          },
          "insUsr": {
            "type": "string"
          },
          "mdfUsr": {
            "type": "string"
          }
        }
      },
      "ApplicationData": {
        "type": "object",
        "description": "Application, offer and NBA steps info",
        "properties": {
          "application": {
            "$ref": "#/components/schemas/ApplicationMerchant"
          },
          "offer": {
            "$ref": "#/components/schemas/OfferMerchant"
          },
          "steps": {
            "$ref": "#/components/schemas/Steps"
          }
        }
      },
      "ApplicationMerchant": {
        "type": "object",
        "properties": {
          "id": {
            "type": "number"
          },
          "isBankReady": {
            "type": "boolean"
          },
          "isProspect": {
            "type": "boolean"
          },
          "idProspectSalesforce": {
            "type": "string"
          },
          "idLeadSalesforce": {
            "type": "string"
          },
          "idAccountSalesforce": {
            "type": "string"
          },
          "actorId": {
            "type": "number"
          },
          "actorCode": {
            "type": "string"
          },
          "dealId": {
            "type": "number"
          },
          "dprNumero": {
            "type": "string"
          },
          "numDocument": {
            "type": "string"
          },
          "videoIdReference": {
            "type": "string"
          },
          "applicationStatus": {
            "type": "string"
          },
          "originationChannel": {
            "type": "string"
          },
          "salesforceCase": {
            "type": "string"
          },
          "distributionChannel": {
            "type": "string"
          },
          "product": {
            "type": "string"
          },
          "campaign": {
            "type": "string"
          },
          "term": {
            "type": "string"
          },
          "source": {
            "type": "string"
          },
          "merchant": {
            "type": "string"
          },
          "email": {
            "type": "string"
          },
          "isDraft": {
            "type": "boolean"
          },
          "mdfUsr": {
            "type": "string"
          }
        }
      },
      "OfferMerchant": {
        "type": "object",
        "properties": {
          "id": {
            "type": "number"
          },
          "validDate": {
            "type": "string",
            "format": "date-time"
          },
          "simulationAmmount": {
            "type": "number",
            "format": "double"
          },
          "simulationPeriod": {
            "type": "number"
          },
          "taeSelectedOffer": {
            "type": "number",
            "format": "double"
          },
          "taeSimulation": {
            "type": "number",
            "format": "double"
          },
          "tinSelectedOffer": {
            "type": "number",
            "format": "double"
          },
          "tinSimulation": {
            "type": "number",
            "format": "double"
          },
          "productType": {
            "type": "string"
          },
          "scale": {
            "type": "string"
          },
          "bareme": {
            "type": "string"
          },
          "assetSegment": {
            "type": "string"
          },
          "rating": {
            "type": "number",
            "format": "double"
          },
          "persLoanLimit": {
            "type": "number",
            "format": "double"
          },
          "monthlyFeeSelectedOffer": {
            "type": "number",
            "format": "double"
          },
          "minterm": {
            "type": "number"
          },
          "scoringResult": {
            "type": "string"
          },
          "deadlineSelectedOffer": {
            "type": "number"
          },
          "deadlineOffer1": {
            "type": "number"
          },
          "deadlineOffer2": {
            "type": "number"
          },
          "commercialProduct": {
            "type": "string"
          },
          "clientAntiquity": {
            "type": "number",
            "format": "double"
          },
          "amountSelectedOffer": {
            "type": "number",
            "format": "double"
          },
          "dueSimulationAmount": {
            "type": "number",
            "format": "double"
          },
          "dueAmountSelectedOffer": {
            "type": "number",
            "format": "double"
          },
          "dueAmountOffer1": {
            "type": "number",
            "format": "double"
          },
          "dueAmountOffer2": {
            "type": "number",
            "format": "double"
          },
          "simulationInsurancePremium": {
            "type": "number",
            "format": "double"
          },
          "insurancePremiumSelectedOffer": {
            "type": "number",
            "format": "double"
          },
          "totalSimulationInterest": {
            "type": "number",
            "format": "double"
          },
          "totalInterestSelectedOffer": {
            "type": "number",
            "format": "double"
          },
          "downPayment": {
            "type": "number",
            "format": "double"
          },
          "openingFee": {
            "type": "number",
            "format": "double"
          },
          "openingFeeMonthly": {
            "type": "number",
            "format": "double"
          },
          "mdfUsr": {
            "type": "string"
          },
          "openingFeeType": {
            "type": "string"
          },
          "tinOfSimulation": {
            "type": "number",
            "format": "double"
          },
          "loanSimulationInterest": {
            "type": "number",
            "format": "double"
          },
          "ofSimulationInterest": {
            "type": "number",
            "format": "double"
          },
          "tinOfOffer1": {
            "type": "number",
            "format": "double"
          },
          "loanInterestOffer1": {
            "type": "number",
            "format": "double"
          },
          "ofInterestOffer1": {
            "type": "number",
            "format": "double"
          },
          "tinOfOffer2": {
            "type": "number",
            "format": "double"
          },
          "loanInterestOffer2": {
            "type": "number",
            "format": "double"
          },
          "ofInterestOffer2": {
            "type": "number",
            "format": "double"
          },
          "tinOfSelectedOffer": {
            "type": "number",
            "format": "double"
          },
          "loanInterestSelectedOffer": {
            "type": "number",
            "format": "double"
          },
          "ofInterestSelectedOffer": {
            "type": "number",
            "format": "double"
          }
        }
      },
      "Steps": {
        "type": "array",
        "items": {
          "$ref": "#/components/schemas/Step"
        }
      },
      "Step": {
        "type": "object",
        "properties": {
          "isActive": {
            "type": "boolean"
          },
          "state": {
            "type": "string"
          },
          "status": {
            "type": "string"
          },
          "attemps": {
            "type": "integer",
            "format": "int32"
          },
          "applicationId": {
            "type": "string"
          },
          "externalId": {
            "type": "string"
          },
          "insDate": {
            "type": "string",
            "format": "date-time"
          },
          "mdfDate": {
            "type": "string",
            "format": "date-time"
          }
        }
      },
      "ApplicationResponse": {
        "type": "object",
        "properties": {
          "application": {
            "$ref": "#/components/schemas/Application"
          },
          "simulation": {
            "$ref": "#/components/schemas/ApplicationSimulation"
          },
          "assetList": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Asset"
            }
          }
        }
      },
      "ScoringPutResponse": {
        "type": "object",
        "properties": {
          "extraInfoList": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/ExtraInfo"
            }
          },
          "offer": {
            "$ref": "#/components/schemas/Offer"
          }
        }
      },
      "ExtraInfo": {
        "type": "object",
        "properties": {
          "externalID": {
            "type": "string"
          },
          "interveners": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Intervener"
            }
          },
          "metadata": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Metadata"
            }
          }
        },
        "required": [
          "externalID",
          "interveners",
          "metadata"
        ]
      },
      "Metadata": {
        "type": "object",
        "properties": {
          "key": {
            "type": "string"
          },
          "value": {
            "type": "string"
          }
        }
      },
      "Intervener": {
        "type": "object",
        "properties": {
          "NameIntervener": {
            "type": "string"
          },
          "DNIintervener": {
            "type": "string"
          },
          "Email": {
            "type": "string"
          },
          "Tlf": {
            "type": "string"
          }
        }
      },
      "customerConsentResponse": {
        "type": "array",
        "items": {
          "$ref": "#/components/schemas/CustomerConsent"
        }
      },
      "CustomerConsent": {
        "type": "object",
        "properties": {
          "id": {
            "type": "integer",
            "format": "int64"
          },
          "isAccepted": {
            "type": "boolean"
          },
          "consentType": {
            "type": "string"
          },
          "consentDate": {
            "type": "string",
            "format": "date-time"
          },
          "fk_application": {
            "type": "integer",
            "format": "int64"
          },
          "fk_personaldata": {
            "type": "integer",
            "format": "int64"
          },
          "actId": {
            "type": "integer",
            "format": "int64"
          },
          "dosId": {
            "type": "integer",
            "format": "int64"
          }
        }
      },
      "RescoreOuput": {
        "type": "object",
        "properties": {
          "jalcode": {
            "type": "string"
          }
        }
      },
      "Param": {
        "type": "object",
        "properties": {
          "groupCode": {
            "type": "string"
          },
          "code": {
            "type": "string"
          },
          "lang": {
            "type": "string"
          },
          "label": {
            "type": "string"
          },
          "helpText": {
            "type": "string"
          }
        }
      }
    }
  }
}