{
  "openapi": "3.0.3",
  "info": {
    "title": "Shortener Links API",
    "description": "This is a simple API",
    "contact": {
      "email": "our@po.st"
    },
    "license": {
      "name": "Apache 2.0",
      "url": "http://www.apache.org/licenses/LICENSE-2.0.html"
    },
    "version": "1.0.0",
    "x-jentic-source-url": "https://api.swaggerhub.com/apis/postapi/ShortenerLinksAPI/1.0.0"
  },
  "servers": [
    {
      "url": "https://po.st/api"
    },
    {
      "url": "http://po.st/api"
    }
  ],
  "tags": [
    {
      "name": "admins",
      "description": "Secured Admin-only calls"
    },
    {
      "name": "developers",
      "description": "Operations available to regular developers"
    },
    {
      "name": "admin operations"
    },
    {
      "name": "expand"
    },
    {
      "name": "public operations"
    }
  ],
  "paths": {
    "/expand": {
      "get": {
        "description": "Gets long url. Either shortUrl parameter or hash is required.\n",
        "parameters": [
          {
            "name": "shortUrl",
            "in": "query",
            "description": "short url (with schema)",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "hash",
            "in": "query",
            "description": "hash or custom hash",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "apiKey",
            "in": "query",
            "description": "partner's company identifier",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/LongURL"
                }
              }
            }
          },
          "400": {
            "description": "Error",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        },
        "operationId": "get_expand",
        "tags": [
          "expand"
        ]
      }
    },
    "/inventory": {
      "get": {
        "tags": [
          "public operations"
        ],
        "summary": "searches inventory",
        "description": "By passing in the appropriate options, you can search for\navailable inventory in the system\n",
        "operationId": "searchInventory",
        "parameters": [
          {
            "name": "searchString",
            "in": "query",
            "description": "pass an optional search string for looking up inventory",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "skip",
            "in": "query",
            "description": "number of records to skip for pagination",
            "schema": {
              "minimum": 0,
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "description": "maximum number of records to return",
            "schema": {
              "maximum": 50,
              "minimum": 0,
              "type": "integer",
              "format": "int32"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "search results matching criteria",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/InventoryItem"
                  }
                }
              }
            }
          },
          "400": {
            "description": "bad input parameter",
            "content": {}
          }
        }
      },
      "post": {
        "tags": [
          "admin operations"
        ],
        "summary": "adds an inventory item",
        "description": "Adds an item to the system",
        "operationId": "addInventory",
        "requestBody": {
          "description": "Inventory item to add",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/InventoryItem"
              }
            }
          },
          "required": false
        },
        "responses": {
          "201": {
            "description": "item created",
            "content": {}
          },
          "400": {
            "description": "invalid input, object invalid",
            "content": {}
          },
          "409": {
            "description": "an existing item already exists",
            "content": {}
          }
        },
        "x-codegen-request-body-name": "inventoryItem"
      }
    }
  },
  "components": {
    "schemas": {
      "LongURL": {
        "title": "Long URL",
        "required": [
          "long_url",
          "status_code",
          "status_txt"
        ],
        "type": "object",
        "properties": {
          "long_url": {
            "type": "string"
          },
          "hash": {
            "type": "string",
            "description": "the given hash, as it has been passed to query params, if it's not a custom hash"
          },
          "custom_hash": {
            "type": "string",
            "description": "the given custom hash, as it has been passed to query params"
          },
          "short_url": {
            "type": "string",
            "description": "the http url for a short link, if not a custom hash has been passed to query"
          },
          "status_txt": {
            "type": "string"
          },
          "status_code": {
            "type": "integer"
          }
        }
      },
      "Error": {
        "title": "Error",
        "required": [
          "status_code",
          "status_txt"
        ],
        "type": "object",
        "properties": {
          "status_txt": {
            "type": "string"
          },
          "status_code": {
            "type": "integer"
          }
        },
        "example": [
          {
            "status_txt": "AUTH_ERROR",
            "status_code": 41
          }
        ]
      },
      "InventoryItem": {
        "required": [
          "id",
          "manufacturer",
          "name",
          "releaseDate"
        ],
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "format": "uuid",
            "example": "d290f1ee-6c54-4b01-90e6-d701748f0851"
          },
          "name": {
            "type": "string",
            "example": "Widget Adapter"
          },
          "releaseDate": {
            "type": "string",
            "format": "int32",
            "example": "2016-08-29T09:12:33.001Z"
          },
          "manufacturer": {
            "$ref": "#/components/schemas/Manufacturer"
          }
        }
      },
      "Manufacturer": {
        "required": [
          "name"
        ],
        "type": "object",
        "properties": {
          "name": {
            "type": "string",
            "example": "ACME Corporation"
          },
          "homePage": {
            "type": "string",
            "format": "url",
            "example": "https://www.acme-corp.com"
          },
          "phone": {
            "type": "string",
            "example": "408-867-5309"
          }
        }
      }
    }
  },
  "x-original-swagger-version": "2.0"
}
