{
  "openapi": "3.0.3",
  "info": {
    "title": "MetaMask SDK API",
    "version": "1.0.0",
    "description": "MetaMask SDK provides a JSON-RPC interface for dApp integration with MetaMask wallets. This spec models the Ethereum JSON-RPC methods accessible through MetaMask's SDK and Infura provider endpoints. MetaMask is primarily a browser extension/mobile wallet SDK rather than a traditional REST API.",
    "x-jentic-source-url": "https://docs.metamask.io/",
    "contact": {
      "name": "API Support"
    }
  },
  "servers": [
    {
      "url": "https://mainnet.infura.io/v3/{projectId}",
      "description": "Ethereum Mainnet via Infura",
      "variables": {
        "projectId": {
          "default": "YOUR_PROJECT_ID",
          "description": "Infura project ID"
        }
      }
    },
    {
      "url": "https://polygon-mainnet.infura.io/v3/{projectId}",
      "description": "Polygon Mainnet via Infura",
      "variables": {
        "projectId": {
          "default": "YOUR_PROJECT_ID"
        }
      }
    },
    {
      "url": "https://sepolia.infura.io/v3/{projectId}",
      "description": "Sepolia Testnet via Infura",
      "variables": {
        "projectId": {
          "default": "YOUR_PROJECT_ID"
        }
      }
    }
  ],
  "tags": [
    {
      "name": "Ethereum JSON-RPC",
      "description": "Standard Ethereum JSON-RPC methods"
    },
    {
      "name": "MetaMask Specific",
      "description": "MetaMask-specific RPC methods"
    },
    {
      "name": "Account Management",
      "description": "Account and wallet methods"
    },
    {
      "name": "Transaction",
      "description": "Transaction methods"
    },
    {
      "name": "Chain",
      "description": "Chain/network methods"
    },
    {
      "name": "Signing",
      "description": "Message signing methods"
    }
  ],
  "paths": {
    "/": {
      "post": {
        "operationId": "jsonRpcCall",
        "summary": "JSON-RPC Call",
        "description": "Send a JSON-RPC request. All Ethereum interactions go through this single endpoint with different method names.",
        "tags": [
          "Ethereum JSON-RPC"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/JsonRpcRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "JSON-RPC response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/JsonRpcResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      }
    },
    "/#eth_accounts": {
      "post": {
        "operationId": "ethAccounts",
        "summary": "eth_accounts",
        "description": "Returns a list of addresses owned by client. In MetaMask, returns the currently selected account.",
        "tags": [
          "Account Management"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "jsonrpc": {
                    "type": "string",
                    "default": "2.0"
                  },
                  "method": {
                    "type": "string",
                    "enum": [
                      "eth_accounts"
                    ]
                  },
                  "params": {
                    "type": "array",
                    "items": {},
                    "default": []
                  },
                  "id": {
                    "type": "integer",
                    "default": 1
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "List of account addresses",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "jsonrpc": {
                      "type": "string"
                    },
                    "id": {
                      "type": "integer"
                    },
                    "result": {
                      "type": "array",
                      "items": {
                        "type": "string",
                        "description": "Ethereum address"
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/#eth_requestAccounts": {
      "post": {
        "operationId": "ethRequestAccounts",
        "summary": "eth_requestAccounts",
        "description": "Requests user to provide an Ethereum address. Causes MetaMask to pop up and request account access.",
        "tags": [
          "Account Management"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "jsonrpc": {
                    "type": "string",
                    "default": "2.0"
                  },
                  "method": {
                    "type": "string",
                    "enum": [
                      "eth_requestAccounts"
                    ]
                  },
                  "params": {
                    "type": "array",
                    "default": []
                  },
                  "id": {
                    "type": "integer"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "List of account addresses"
          }
        }
      }
    },
    "/#eth_getBalance": {
      "post": {
        "operationId": "ethGetBalance",
        "summary": "eth_getBalance",
        "description": "Returns the balance of the account at the given address.",
        "tags": [
          "Ethereum JSON-RPC"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "jsonrpc": {
                    "type": "string",
                    "default": "2.0"
                  },
                  "method": {
                    "type": "string",
                    "enum": [
                      "eth_getBalance"
                    ]
                  },
                  "params": {
                    "type": "array",
                    "items": {
                      "type": "string"
                    },
                    "description": "[address, block]"
                  },
                  "id": {
                    "type": "integer"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Balance in wei (hex)"
          }
        }
      }
    },
    "/#eth_blockNumber": {
      "post": {
        "operationId": "ethBlockNumber",
        "summary": "eth_blockNumber",
        "description": "Returns the number of most recent block.",
        "tags": [
          "Chain"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "jsonrpc": {
                    "type": "string",
                    "default": "2.0"
                  },
                  "method": {
                    "type": "string",
                    "enum": [
                      "eth_blockNumber"
                    ]
                  },
                  "params": {
                    "type": "array",
                    "default": []
                  },
                  "id": {
                    "type": "integer"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Current block number in hex"
          }
        }
      }
    },
    "/#eth_getBlockByNumber": {
      "post": {
        "operationId": "ethGetBlockByNumber",
        "summary": "eth_getBlockByNumber",
        "description": "Returns block info by number.",
        "tags": [
          "Chain"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "jsonrpc": {
                    "type": "string",
                    "default": "2.0"
                  },
                  "method": {
                    "type": "string",
                    "enum": [
                      "eth_getBlockByNumber"
                    ]
                  },
                  "params": {
                    "type": "array",
                    "description": "[blockNumber, fullTxs]"
                  },
                  "id": {
                    "type": "integer"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Block object"
          }
        }
      }
    },
    "/#eth_sendTransaction": {
      "post": {
        "operationId": "ethSendTransaction",
        "summary": "eth_sendTransaction",
        "description": "Creates new message call transaction or a contract creation. In MetaMask, prompts user for confirmation.",
        "tags": [
          "Transaction"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "jsonrpc": {
                    "type": "string",
                    "default": "2.0"
                  },
                  "method": {
                    "type": "string",
                    "enum": [
                      "eth_sendTransaction"
                    ]
                  },
                  "params": {
                    "type": "array",
                    "items": {
                      "$ref": "#/components/schemas/TransactionParams"
                    }
                  },
                  "id": {
                    "type": "integer"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Transaction hash"
          }
        }
      }
    },
    "/#eth_getTransactionReceipt": {
      "post": {
        "operationId": "ethGetTransactionReceipt",
        "summary": "eth_getTransactionReceipt",
        "description": "Returns the receipt of a transaction by transaction hash.",
        "tags": [
          "Transaction"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "jsonrpc": {
                    "type": "string",
                    "default": "2.0"
                  },
                  "method": {
                    "type": "string",
                    "enum": [
                      "eth_getTransactionReceipt"
                    ]
                  },
                  "params": {
                    "type": "array",
                    "items": {
                      "type": "string"
                    },
                    "description": "[txHash]"
                  },
                  "id": {
                    "type": "integer"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Transaction receipt"
          }
        }
      }
    },
    "/#eth_call": {
      "post": {
        "operationId": "ethCall",
        "summary": "eth_call",
        "description": "Executes a new message call immediately without creating a transaction.",
        "tags": [
          "Ethereum JSON-RPC"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "jsonrpc": {
                    "type": "string",
                    "default": "2.0"
                  },
                  "method": {
                    "type": "string",
                    "enum": [
                      "eth_call"
                    ]
                  },
                  "params": {
                    "type": "array",
                    "description": "[callObject, block]"
                  },
                  "id": {
                    "type": "integer"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Return value of executed contract"
          }
        }
      }
    },
    "/#eth_estimateGas": {
      "post": {
        "operationId": "ethEstimateGas",
        "summary": "eth_estimateGas",
        "description": "Generates and returns an estimate of how much gas is necessary.",
        "tags": [
          "Transaction"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "jsonrpc": {
                    "type": "string",
                    "default": "2.0"
                  },
                  "method": {
                    "type": "string",
                    "enum": [
                      "eth_estimateGas"
                    ]
                  },
                  "params": {
                    "type": "array"
                  },
                  "id": {
                    "type": "integer"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Estimated gas in hex"
          }
        }
      }
    },
    "/#eth_gasPrice": {
      "post": {
        "operationId": "ethGasPrice",
        "summary": "eth_gasPrice",
        "description": "Returns the current price per gas in wei.",
        "tags": [
          "Chain"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "jsonrpc": {
                    "type": "string",
                    "default": "2.0"
                  },
                  "method": {
                    "type": "string",
                    "enum": [
                      "eth_gasPrice"
                    ]
                  },
                  "params": {
                    "type": "array",
                    "default": []
                  },
                  "id": {
                    "type": "integer"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Gas price in hex wei"
          }
        }
      }
    },
    "/#eth_chainId": {
      "post": {
        "operationId": "ethChainId",
        "summary": "eth_chainId",
        "description": "Returns the chain ID of the current network.",
        "tags": [
          "Chain"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "jsonrpc": {
                    "type": "string",
                    "default": "2.0"
                  },
                  "method": {
                    "type": "string",
                    "enum": [
                      "eth_chainId"
                    ]
                  },
                  "params": {
                    "type": "array",
                    "default": []
                  },
                  "id": {
                    "type": "integer"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Chain ID in hex"
          }
        }
      }
    },
    "/#personal_sign": {
      "post": {
        "operationId": "personalSign",
        "summary": "personal_sign",
        "description": "Signs data with a specific account. MetaMask prompts user to approve.",
        "tags": [
          "Signing"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "jsonrpc": {
                    "type": "string",
                    "default": "2.0"
                  },
                  "method": {
                    "type": "string",
                    "enum": [
                      "personal_sign"
                    ]
                  },
                  "params": {
                    "type": "array",
                    "description": "[message, account]"
                  },
                  "id": {
                    "type": "integer"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Signature"
          }
        }
      }
    },
    "/#eth_signTypedData_v4": {
      "post": {
        "operationId": "ethSignTypedDataV4",
        "summary": "eth_signTypedData_v4",
        "description": "Signs typed structured data (EIP-712). MetaMask prompts user.",
        "tags": [
          "Signing"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "jsonrpc": {
                    "type": "string",
                    "default": "2.0"
                  },
                  "method": {
                    "type": "string",
                    "enum": [
                      "eth_signTypedData_v4"
                    ]
                  },
                  "params": {
                    "type": "array",
                    "description": "[address, typedData]"
                  },
                  "id": {
                    "type": "integer"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Signature"
          }
        }
      }
    },
    "/#wallet_addEthereumChain": {
      "post": {
        "operationId": "walletAddEthereumChain",
        "summary": "wallet_addEthereumChain",
        "description": "Add a new chain to MetaMask. MetaMask-specific method.",
        "tags": [
          "MetaMask Specific"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "jsonrpc": {
                    "type": "string",
                    "default": "2.0"
                  },
                  "method": {
                    "type": "string",
                    "enum": [
                      "wallet_addEthereumChain"
                    ]
                  },
                  "params": {
                    "type": "array",
                    "items": {
                      "$ref": "#/components/schemas/AddChainParams"
                    }
                  },
                  "id": {
                    "type": "integer"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "null on success"
          }
        }
      }
    },
    "/#wallet_switchEthereumChain": {
      "post": {
        "operationId": "walletSwitchEthereumChain",
        "summary": "wallet_switchEthereumChain",
        "description": "Switch MetaMask to a different chain.",
        "tags": [
          "MetaMask Specific"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "jsonrpc": {
                    "type": "string",
                    "default": "2.0"
                  },
                  "method": {
                    "type": "string",
                    "enum": [
                      "wallet_switchEthereumChain"
                    ]
                  },
                  "params": {
                    "type": "array",
                    "items": {
                      "type": "object",
                      "properties": {
                        "chainId": {
                          "type": "string"
                        }
                      }
                    }
                  },
                  "id": {
                    "type": "integer"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "null on success"
          }
        }
      }
    },
    "/#wallet_watchAsset": {
      "post": {
        "operationId": "walletWatchAsset",
        "summary": "wallet_watchAsset",
        "description": "Request MetaMask to track a token.",
        "tags": [
          "MetaMask Specific"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "jsonrpc": {
                    "type": "string",
                    "default": "2.0"
                  },
                  "method": {
                    "type": "string",
                    "enum": [
                      "wallet_watchAsset"
                    ]
                  },
                  "params": {
                    "type": "object",
                    "properties": {
                      "type": {
                        "type": "string",
                        "enum": [
                          "ERC20"
                        ]
                      },
                      "options": {
                        "type": "object",
                        "properties": {
                          "address": {
                            "type": "string"
                          },
                          "symbol": {
                            "type": "string"
                          },
                          "decimals": {
                            "type": "integer"
                          },
                          "image": {
                            "type": "string"
                          }
                        }
                      }
                    }
                  },
                  "id": {
                    "type": "integer"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "boolean success"
          }
        }
      }
    },
    "/#wallet_getPermissions": {
      "post": {
        "operationId": "walletGetPermissions",
        "summary": "wallet_getPermissions",
        "description": "Get current dApp permissions.",
        "tags": [
          "MetaMask Specific"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "jsonrpc": {
                    "type": "string",
                    "default": "2.0"
                  },
                  "method": {
                    "type": "string",
                    "enum": [
                      "wallet_getPermissions"
                    ]
                  },
                  "params": {
                    "type": "array",
                    "default": []
                  },
                  "id": {
                    "type": "integer"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Array of permissions"
          }
        }
      }
    },
    "/#wallet_requestPermissions": {
      "post": {
        "operationId": "walletRequestPermissions",
        "summary": "wallet_requestPermissions",
        "description": "Request dApp permissions from user.",
        "tags": [
          "MetaMask Specific"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "jsonrpc": {
                    "type": "string",
                    "default": "2.0"
                  },
                  "method": {
                    "type": "string",
                    "enum": [
                      "wallet_requestPermissions"
                    ]
                  },
                  "params": {
                    "type": "array",
                    "items": {
                      "type": "object"
                    }
                  },
                  "id": {
                    "type": "integer"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Granted permissions"
          }
        }
      }
    }
  },
  "components": {
    "securitySchemes": {
      "InfuraProjectId": {
        "type": "apiKey",
        "in": "path",
        "name": "projectId",
        "description": "Infura project ID for RPC endpoint access"
      }
    },
    "schemas": {
      "ErrorResponse": {
        "type": "object",
        "properties": {
          "jsonrpc": {
            "type": "string"
          },
          "id": {
            "type": "integer"
          },
          "error": {
            "type": "object",
            "properties": {
              "code": {
                "type": "integer"
              },
              "message": {
                "type": "string"
              },
              "data": {
                "type": "string"
              }
            }
          }
        }
      },
      "JsonRpcRequest": {
        "type": "object",
        "required": [
          "jsonrpc",
          "method",
          "id"
        ],
        "properties": {
          "jsonrpc": {
            "type": "string",
            "default": "2.0"
          },
          "method": {
            "type": "string",
            "description": "RPC method name"
          },
          "params": {
            "type": "array",
            "items": {},
            "description": "Method parameters"
          },
          "id": {
            "type": "integer",
            "default": 1
          }
        }
      },
      "JsonRpcResponse": {
        "type": "object",
        "properties": {
          "jsonrpc": {
            "type": "string"
          },
          "id": {
            "type": "integer"
          },
          "result": {
            "description": "Method-specific result"
          }
        }
      },
      "TransactionParams": {
        "type": "object",
        "properties": {
          "from": {
            "type": "string",
            "description": "Sender address"
          },
          "to": {
            "type": "string",
            "description": "Recipient address"
          },
          "gas": {
            "type": "string",
            "description": "Gas limit (hex)"
          },
          "gasPrice": {
            "type": "string",
            "description": "Gas price (hex wei)"
          },
          "maxFeePerGas": {
            "type": "string"
          },
          "maxPriorityFeePerGas": {
            "type": "string"
          },
          "value": {
            "type": "string",
            "description": "Value to send (hex wei)"
          },
          "data": {
            "type": "string",
            "description": "Contract call data"
          },
          "nonce": {
            "type": "string",
            "description": "Transaction nonce (hex)"
          }
        }
      },
      "AddChainParams": {
        "type": "object",
        "required": [
          "chainId",
          "chainName",
          "rpcUrls"
        ],
        "properties": {
          "chainId": {
            "type": "string",
            "description": "Chain ID in hex"
          },
          "chainName": {
            "type": "string"
          },
          "nativeCurrency": {
            "type": "object",
            "properties": {
              "name": {
                "type": "string"
              },
              "symbol": {
                "type": "string"
              },
              "decimals": {
                "type": "integer"
              }
            }
          },
          "rpcUrls": {
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "blockExplorerUrls": {
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "iconUrls": {
            "type": "array",
            "items": {
              "type": "string"
            }
          }
        }
      }
    }
  },
  "security": [
    {
      "InfuraProjectId": []
    }
  ]
}
