{
  "openapi": "3.0.3",
  "info": {
    "title": "Delighted API",
    "version": "1.0.0",
    "description": "Delighted NPS, CSAT, CES, and 5-star survey platform REST API. Send surveys, manage people, retrieve responses and metrics.",
    "x-jentic-source-url": "https://app.delighted.com/docs/api",
    "contact": {
      "name": "API Support"
    }
  },
  "servers": [
    {
      "url": "https://api.delighted.com/v1"
    }
  ],
  "tags": [
    {
      "name": "People",
      "description": "People management"
    },
    {
      "name": "Survey Responses",
      "description": "Survey response data"
    },
    {
      "name": "Metrics",
      "description": "Aggregated metrics"
    },
    {
      "name": "Autopilot",
      "description": "Autopilot configuration"
    },
    {
      "name": "Bounces",
      "description": "Bounced emails"
    },
    {
      "name": "Unsubscribes",
      "description": "Unsubscribed people"
    }
  ],
  "paths": {
    "/people.json": {
      "get": {
        "operationId": "listPeople",
        "summary": "List people",
        "tags": [
          "People"
        ],
        "parameters": [
          {
            "name": "per_page",
            "in": "query",
            "required": false,
            "description": "Results per page",
            "schema": {
              "type": "integer",
              "default": 20
            }
          },
          {
            "name": "since",
            "in": "query",
            "required": false,
            "description": "Unix timestamp filter",
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "until",
            "in": "query",
            "required": false,
            "description": "Unix timestamp filter",
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "email",
            "in": "query",
            "required": false,
            "description": "Filter by email",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "phone_number",
            "in": "query",
            "required": false,
            "description": "Filter by phone (E.164)",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/Person"
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "description": "List people"
      },
      "post": {
        "operationId": "createOrUpdatePerson",
        "summary": "Create or update person and send survey",
        "tags": [
          "People"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/SendSurveyRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Person"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "description": "Create or update person and send survey"
      }
    },
    "/people/{person_id}.json": {
      "delete": {
        "operationId": "deletePerson",
        "summary": "Delete person",
        "tags": [
          "People"
        ],
        "parameters": [
          {
            "name": "person_id",
            "in": "path",
            "required": true,
            "description": "Person ID",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response"
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "description": "Delete person"
      }
    },
    "/survey_responses.json": {
      "get": {
        "operationId": "listSurveyResponses",
        "summary": "List survey responses",
        "tags": [
          "Survey Responses"
        ],
        "parameters": [
          {
            "name": "per_page",
            "in": "query",
            "required": false,
            "description": "Results per page",
            "schema": {
              "type": "integer",
              "default": 20
            }
          },
          {
            "name": "since",
            "in": "query",
            "required": false,
            "description": "Unix timestamp",
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "until",
            "in": "query",
            "required": false,
            "description": "Unix timestamp",
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "trend",
            "in": "query",
            "required": false,
            "description": "Trend ID",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "order",
            "in": "query",
            "required": false,
            "description": "Sort order",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "expand",
            "in": "query",
            "required": false,
            "description": "Expand person details",
            "schema": {
              "type": "array"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/SurveyResponse"
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "description": "List survey responses"
      },
      "post": {
        "operationId": "createSurveyResponse",
        "summary": "Add survey response",
        "tags": [
          "Survey Responses"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateSurveyResponseRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SurveyResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "description": "Add survey response"
      }
    },
    "/metrics.json": {
      "get": {
        "operationId": "getMetrics",
        "summary": "Get aggregated metrics",
        "tags": [
          "Metrics"
        ],
        "parameters": [
          {
            "name": "since",
            "in": "query",
            "required": false,
            "description": "Unix timestamp",
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "until",
            "in": "query",
            "required": false,
            "description": "Unix timestamp",
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "trend",
            "in": "query",
            "required": false,
            "description": "Trend ID",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/MetricsResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "description": "Get aggregated metrics"
      }
    },
    "/autopilot/email.json": {
      "get": {
        "operationId": "getAutopilotEmailConfig",
        "summary": "Get email autopilot config",
        "tags": [
          "Autopilot"
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AutopilotConfig"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "description": "Get email autopilot config"
      }
    },
    "/autopilot/sms.json": {
      "get": {
        "operationId": "getAutopilotSmsConfig",
        "summary": "Get SMS autopilot config",
        "tags": [
          "Autopilot"
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AutopilotConfig"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "description": "Get SMS autopilot config"
      }
    },
    "/autopilot/email/memberships.json": {
      "get": {
        "operationId": "listEmailAutopilotMembers",
        "summary": "List email autopilot members",
        "tags": [
          "Autopilot"
        ],
        "parameters": [
          {
            "name": "per_page",
            "in": "query",
            "required": false,
            "description": "Results per page",
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/AutopilotMembership"
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "description": "List email autopilot members"
      },
      "post": {
        "operationId": "addToEmailAutopilot",
        "summary": "Add person to email autopilot",
        "tags": [
          "Autopilot"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/AddAutopilotRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AutopilotMembership"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "description": "Add person to email autopilot"
      }
    },
    "/autopilot/sms/memberships.json": {
      "get": {
        "operationId": "listSmsAutopilotMembers",
        "summary": "List SMS autopilot members",
        "tags": [
          "Autopilot"
        ],
        "parameters": [
          {
            "name": "per_page",
            "in": "query",
            "required": false,
            "description": "Results per page",
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/AutopilotMembership"
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "description": "List SMS autopilot members"
      },
      "post": {
        "operationId": "addToSmsAutopilot",
        "summary": "Add person to SMS autopilot",
        "tags": [
          "Autopilot"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/AddAutopilotRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AutopilotMembership"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "description": "Add person to SMS autopilot"
      }
    },
    "/autopilot/email/memberships/{email}.json": {
      "delete": {
        "operationId": "removeFromEmailAutopilot",
        "summary": "Remove from email autopilot",
        "tags": [
          "Autopilot"
        ],
        "parameters": [
          {
            "name": "email",
            "in": "path",
            "required": true,
            "description": "Email address",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response"
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "description": "Remove from email autopilot"
      }
    },
    "/autopilot/sms/memberships/{phone_number}.json": {
      "delete": {
        "operationId": "removeFromSmsAutopilot",
        "summary": "Remove from SMS autopilot",
        "tags": [
          "Autopilot"
        ],
        "parameters": [
          {
            "name": "phone_number",
            "in": "path",
            "required": true,
            "description": "Phone number (E.164)",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response"
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "description": "Remove from SMS autopilot"
      }
    },
    "/unsubscribes.json": {
      "get": {
        "operationId": "listUnsubscribes",
        "summary": "List unsubscribed people",
        "tags": [
          "Unsubscribes"
        ],
        "parameters": [
          {
            "name": "per_page",
            "in": "query",
            "required": false,
            "description": "Results per page",
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "since",
            "in": "query",
            "required": false,
            "description": "Unix timestamp",
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/UnsubscribedPerson"
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "description": "List unsubscribed people"
      },
      "post": {
        "operationId": "unsubscribePerson",
        "summary": "Unsubscribe person",
        "tags": [
          "Unsubscribes"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UnsubscribeRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/UnsubscribedPerson"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "description": "Unsubscribe person"
      }
    },
    "/bounce.json": {
      "get": {
        "operationId": "listBounces",
        "summary": "List bounced people",
        "tags": [
          "Bounces"
        ],
        "parameters": [
          {
            "name": "per_page",
            "in": "query",
            "required": false,
            "description": "Results per page",
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "since",
            "in": "query",
            "required": false,
            "description": "Unix timestamp",
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/BouncedPerson"
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "description": "List bounced people"
      }
    }
  },
  "components": {
    "schemas": {
      "ErrorResponse": {
        "type": "object",
        "properties": {
          "message": {
            "type": "string"
          },
          "code": {
            "type": "string"
          }
        }
      },
      "Person": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string"
          },
          "email": {
            "type": "string"
          },
          "name": {
            "type": "string"
          },
          "created_at": {
            "type": "integer"
          },
          "phone_number": {
            "type": "string"
          },
          "last_sent_at": {
            "type": "integer"
          },
          "last_responded_at": {
            "type": "integer"
          },
          "next_survey_scheduled_at": {
            "type": "integer"
          }
        }
      },
      "SendSurveyRequest": {
        "type": "object",
        "properties": {
          "email": {
            "type": "string"
          },
          "name": {
            "type": "string"
          },
          "phone_number": {
            "type": "string"
          },
          "delay": {
            "type": "integer"
          },
          "properties": {
            "type": "object"
          },
          "send": {
            "type": "boolean"
          },
          "channel": {
            "type": "string",
            "enum": [
              "email",
              "sms"
            ]
          },
          "last_sent_at": {
            "type": "integer"
          }
        }
      },
      "SurveyResponse": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string"
          },
          "person": {
            "type": "string"
          },
          "survey_type": {
            "type": "string"
          },
          "score": {
            "type": "integer"
          },
          "comment": {
            "type": "string"
          },
          "permalink": {
            "type": "string"
          },
          "created_at": {
            "type": "integer"
          },
          "updated_at": {
            "type": "integer"
          },
          "person_properties": {
            "type": "object"
          },
          "notes": {
            "type": "array",
            "items": {
              "type": "object"
            }
          },
          "tags": {
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "additional_answers": {
            "type": "array",
            "items": {
              "type": "object"
            }
          }
        }
      },
      "CreateSurveyResponseRequest": {
        "type": "object",
        "required": [
          "person",
          "score"
        ],
        "properties": {
          "person": {
            "type": "string"
          },
          "score": {
            "type": "integer"
          },
          "comment": {
            "type": "string"
          },
          "created_at": {
            "type": "integer"
          }
        }
      },
      "MetricsResponse": {
        "type": "object",
        "properties": {
          "nps": {
            "type": "integer"
          },
          "promoter_count": {
            "type": "integer"
          },
          "promoter_percent": {
            "type": "number"
          },
          "passive_count": {
            "type": "integer"
          },
          "passive_percent": {
            "type": "number"
          },
          "detractor_count": {
            "type": "integer"
          },
          "detractor_percent": {
            "type": "number"
          },
          "response_count": {
            "type": "integer"
          }
        }
      },
      "AutopilotConfig": {
        "type": "object",
        "properties": {
          "platform_id": {
            "type": "string"
          },
          "active": {
            "type": "boolean"
          },
          "frequency": {
            "type": "integer"
          },
          "created_at": {
            "type": "integer"
          }
        }
      },
      "AutopilotMembership": {
        "type": "object",
        "properties": {
          "person_email": {
            "type": "string"
          },
          "person_phone_number": {
            "type": "string"
          },
          "next_survey_request": {
            "type": "object"
          },
          "created_at": {
            "type": "integer"
          }
        }
      },
      "AddAutopilotRequest": {
        "type": "object",
        "properties": {
          "person_email": {
            "type": "string"
          },
          "person_phone_number": {
            "type": "string"
          },
          "properties": {
            "type": "object"
          }
        }
      },
      "UnsubscribedPerson": {
        "type": "object",
        "properties": {
          "person_id": {
            "type": "string"
          },
          "email": {
            "type": "string"
          },
          "name": {
            "type": "string"
          },
          "unsubscribed_at": {
            "type": "integer"
          }
        }
      },
      "UnsubscribeRequest": {
        "type": "object",
        "required": [
          "person_email"
        ],
        "properties": {
          "person_email": {
            "type": "string"
          }
        }
      },
      "BouncedPerson": {
        "type": "object",
        "properties": {
          "person_id": {
            "type": "string"
          },
          "email": {
            "type": "string"
          },
          "name": {
            "type": "string"
          },
          "bounced_at": {
            "type": "integer"
          }
        }
      }
    },
    "securitySchemes": {
      "basicAuth": {
        "type": "http",
        "scheme": "basic",
        "description": "API key as username, password blank"
      }
    }
  },
  "security": [
    {
      "basicAuth": []
    }
  ]
}
