{
  "openapi": "3.0.3",
  "info": {
    "title": "Openverse API (Creative Commons Catalog)",
    "description": "The Openverse API is a search engine for openly-licensed media. It provides programmatic access to public domain and Creative Commons licensed digital content, including images and audio. Originally the Creative Commons Catalog API.",
    "version": "1.0.0",
    "contact": {
      "name": "Openverse",
      "url": "https://api.openverse.org/"
    },
    "license": {
      "name": "MIT",
      "url": "https://github.com/WordPress/openverse/blob/main/LICENSE"
    },
    "x-jentic-source-url": "https://api.creativecommons.engineering/"
  },
  "servers": [
    {
      "url": "https://api.openverse.org/v1",
      "description": "Openverse API v1 production server"
    }
  ],
  "tags": [
    {
      "name": "images",
      "description": "Search and retrieve openly-licensed images"
    },
    {
      "name": "audio",
      "description": "Search and retrieve openly-licensed audio"
    },
    {
      "name": "auth",
      "description": "Authentication and rate limit management"
    }
  ],
  "paths": {
    "/images": {
      "get": {
        "operationId": "searchImages",
        "summary": "Search images",
        "description": "Search for openly-licensed images with extensive filtering options.",
        "tags": [
          "images"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/SearchQuery"
          },
          {
            "$ref": "#/components/parameters/Page"
          },
          {
            "$ref": "#/components/parameters/PageSize"
          },
          {
            "$ref": "#/components/parameters/License"
          },
          {
            "$ref": "#/components/parameters/LicenseType"
          },
          {
            "$ref": "#/components/parameters/Source"
          },
          {
            "$ref": "#/components/parameters/ExcludedSource"
          },
          {
            "$ref": "#/components/parameters/Creator"
          },
          {
            "$ref": "#/components/parameters/Tags"
          },
          {
            "$ref": "#/components/parameters/Title"
          },
          {
            "$ref": "#/components/parameters/Mature"
          },
          {
            "$ref": "#/components/parameters/FilterDead"
          },
          {
            "name": "aspect_ratio",
            "in": "query",
            "description": "Filter by aspect ratio",
            "schema": {
              "type": "string",
              "enum": [
                "tall",
                "wide",
                "square"
              ]
            }
          },
          {
            "name": "size",
            "in": "query",
            "description": "Filter by image size",
            "schema": {
              "type": "string",
              "enum": [
                "small",
                "medium",
                "large"
              ]
            }
          },
          {
            "name": "category",
            "in": "query",
            "description": "Filter by image category",
            "schema": {
              "type": "string",
              "enum": [
                "photograph",
                "illustration",
                "digitized_artwork"
              ]
            }
          },
          {
            "name": "extension",
            "in": "query",
            "description": "Filter by file extension",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful image search results",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PaginatedImageResults"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/ValidationError"
          },
          "401": {
            "$ref": "#/components/responses/AuthenticationError"
          },
          "429": {
            "$ref": "#/components/responses/RateLimitError"
          }
        },
        "security": [
          {},
          {
            "bearerAuth": []
          }
        ]
      }
    },
    "/images/{identifier}": {
      "get": {
        "operationId": "getImage",
        "summary": "Get image details",
        "description": "Retrieve detailed information about a specific image by its UUID.",
        "tags": [
          "images"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/MediaIdentifier"
          },
          {
            "name": "identifier",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Image details",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Image"
                }
              }
            }
          },
          "404": {
            "$ref": "#/components/responses/NotFoundError"
          }
        },
        "security": [
          {},
          {
            "bearerAuth": []
          }
        ]
      }
    },
    "/images/{identifier}/related": {
      "get": {
        "operationId": "getRelatedImages",
        "summary": "Get related images",
        "description": "Find images related to a specified image.",
        "tags": [
          "images"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/MediaIdentifier"
          },
          {
            "name": "identifier",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Related images",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PaginatedImageResults"
                }
              }
            }
          },
          "404": {
            "$ref": "#/components/responses/NotFoundError"
          }
        },
        "security": [
          {},
          {
            "bearerAuth": []
          }
        ]
      }
    },
    "/images/{identifier}/report": {
      "post": {
        "operationId": "reportImage",
        "summary": "Report an image",
        "description": "Report an image for issues such as DMCA violations, mature content, or other concerns.",
        "tags": [
          "images"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/MediaIdentifier"
          },
          {
            "name": "identifier",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ReportRequest"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Report created successfully"
          },
          "400": {
            "$ref": "#/components/responses/ValidationError"
          }
        }
      }
    },
    "/images/{identifier}/thumb": {
      "get": {
        "operationId": "getImageThumbnail",
        "summary": "Get image thumbnail",
        "description": "Retrieve a thumbnail proxy for the specified image.",
        "tags": [
          "images"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/MediaIdentifier"
          },
          {
            "name": "identifier",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Thumbnail image",
            "content": {
              "image/*": {
                "schema": {
                  "type": "string",
                  "format": "binary"
                }
              }
            }
          },
          "404": {
            "$ref": "#/components/responses/NotFoundError"
          }
        }
      }
    },
    "/images/oembed": {
      "get": {
        "operationId": "getImageOembed",
        "summary": "Get oEmbed data for an image",
        "description": "Retrieve oEmbed structured data for embedding an image.",
        "tags": [
          "images"
        ],
        "parameters": [
          {
            "name": "url",
            "in": "query",
            "required": true,
            "description": "The URL of the image to retrieve oEmbed data for",
            "schema": {
              "type": "string",
              "format": "uri"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "oEmbed response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "version": {
                      "type": "string"
                    },
                    "type": {
                      "type": "string"
                    },
                    "width": {
                      "type": "integer"
                    },
                    "height": {
                      "type": "integer"
                    },
                    "title": {
                      "type": "string"
                    },
                    "author_name": {
                      "type": "string"
                    },
                    "author_url": {
                      "type": "string"
                    },
                    "license_url": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          },
          "404": {
            "$ref": "#/components/responses/NotFoundError"
          }
        }
      }
    },
    "/images/stats": {
      "get": {
        "operationId": "getImageStats",
        "summary": "Get image source statistics",
        "description": "List all content sources for images and their media counts.",
        "tags": [
          "images"
        ],
        "responses": {
          "200": {
            "description": "Image source statistics",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/SourceStats"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/audio": {
      "get": {
        "operationId": "searchAudio",
        "summary": "Search audio",
        "description": "Search for openly-licensed audio files with filtering and pagination.",
        "tags": [
          "audio"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/SearchQuery"
          },
          {
            "$ref": "#/components/parameters/Page"
          },
          {
            "$ref": "#/components/parameters/PageSize"
          },
          {
            "$ref": "#/components/parameters/License"
          },
          {
            "$ref": "#/components/parameters/LicenseType"
          },
          {
            "$ref": "#/components/parameters/Source"
          },
          {
            "$ref": "#/components/parameters/ExcludedSource"
          },
          {
            "$ref": "#/components/parameters/Creator"
          },
          {
            "$ref": "#/components/parameters/Tags"
          },
          {
            "$ref": "#/components/parameters/Title"
          },
          {
            "$ref": "#/components/parameters/Mature"
          },
          {
            "$ref": "#/components/parameters/FilterDead"
          },
          {
            "name": "category",
            "in": "query",
            "description": "Filter by audio category",
            "schema": {
              "type": "string",
              "enum": [
                "music",
                "podcast",
                "audiobook",
                "news"
              ]
            }
          },
          {
            "name": "length",
            "in": "query",
            "description": "Filter by audio duration",
            "schema": {
              "type": "string",
              "enum": [
                "shortest",
                "short",
                "medium",
                "long"
              ]
            }
          },
          {
            "name": "extension",
            "in": "query",
            "description": "Filter by file extension (e.g., mp3, ogg, flac)",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful audio search results",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PaginatedAudioResults"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/ValidationError"
          },
          "429": {
            "$ref": "#/components/responses/RateLimitError"
          }
        },
        "security": [
          {},
          {
            "bearerAuth": []
          }
        ]
      }
    },
    "/audio/{identifier}": {
      "get": {
        "operationId": "getAudio",
        "summary": "Get audio details",
        "description": "Retrieve detailed information about a specific audio file by its UUID.",
        "tags": [
          "audio"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/MediaIdentifier"
          },
          {
            "name": "identifier",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Audio details",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Audio"
                }
              }
            }
          },
          "404": {
            "$ref": "#/components/responses/NotFoundError"
          }
        },
        "security": [
          {},
          {
            "bearerAuth": []
          }
        ]
      }
    },
    "/audio/{identifier}/related": {
      "get": {
        "operationId": "getRelatedAudio",
        "summary": "Get related audio",
        "description": "Find audio files related to a specified audio.",
        "tags": [
          "audio"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/MediaIdentifier"
          },
          {
            "name": "identifier",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Related audio",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PaginatedAudioResults"
                }
              }
            }
          },
          "404": {
            "$ref": "#/components/responses/NotFoundError"
          }
        },
        "security": [
          {},
          {
            "bearerAuth": []
          }
        ]
      }
    },
    "/audio/{identifier}/report": {
      "post": {
        "operationId": "reportAudio",
        "summary": "Report audio",
        "description": "Report an audio file for issues such as DMCA violations or mature content.",
        "tags": [
          "audio"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/MediaIdentifier"
          },
          {
            "name": "identifier",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ReportRequest"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Report created successfully"
          },
          "400": {
            "$ref": "#/components/responses/ValidationError"
          }
        }
      }
    },
    "/audio/{identifier}/thumb": {
      "get": {
        "operationId": "getAudioThumbnail",
        "summary": "Get audio thumbnail",
        "description": "Retrieve a thumbnail for the specified audio file.",
        "tags": [
          "audio"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/MediaIdentifier"
          },
          {
            "name": "identifier",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Thumbnail image",
            "content": {
              "image/*": {
                "schema": {
                  "type": "string",
                  "format": "binary"
                }
              }
            }
          },
          "404": {
            "$ref": "#/components/responses/NotFoundError"
          }
        }
      }
    },
    "/audio/{identifier}/waveform": {
      "get": {
        "operationId": "getAudioWaveform",
        "summary": "Get audio waveform",
        "description": "Retrieve waveform peak data for the specified audio file.",
        "tags": [
          "audio"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/MediaIdentifier"
          },
          {
            "name": "identifier",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Waveform data",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "points": {
                      "type": "array",
                      "items": {
                        "type": "number"
                      },
                      "description": "Array of waveform peak values"
                    }
                  }
                }
              }
            }
          },
          "404": {
            "$ref": "#/components/responses/NotFoundError"
          }
        }
      }
    },
    "/audio/stats": {
      "get": {
        "operationId": "getAudioStats",
        "summary": "Get audio source statistics",
        "description": "List all content sources for audio and their media counts.",
        "tags": [
          "audio"
        ],
        "responses": {
          "200": {
            "description": "Audio source statistics",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/SourceStats"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/auth_tokens/register": {
      "post": {
        "operationId": "registerApplication",
        "summary": "Register an OAuth2 application",
        "description": "Register a new application to obtain client credentials for API access.",
        "tags": [
          "auth"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "name",
                  "description",
                  "email"
                ],
                "properties": {
                  "name": {
                    "type": "string",
                    "description": "Application name"
                  },
                  "description": {
                    "type": "string",
                    "description": "Application description"
                  },
                  "email": {
                    "type": "string",
                    "format": "email",
                    "description": "Contact email"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Application registered successfully",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "client_id": {
                      "type": "string"
                    },
                    "client_secret": {
                      "type": "string"
                    },
                    "name": {
                      "type": "string"
                    },
                    "msg": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/ValidationError"
          }
        }
      }
    },
    "/auth_tokens/token": {
      "post": {
        "operationId": "getAccessToken",
        "summary": "Obtain an access token",
        "description": "Exchange client credentials for an API access token.",
        "tags": [
          "auth"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/x-www-form-urlencoded": {
              "schema": {
                "type": "object",
                "required": [
                  "client_id",
                  "client_secret",
                  "grant_type"
                ],
                "properties": {
                  "client_id": {
                    "type": "string"
                  },
                  "client_secret": {
                    "type": "string"
                  },
                  "grant_type": {
                    "type": "string",
                    "enum": [
                      "client_credentials"
                    ]
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Access token",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "access_token": {
                      "type": "string"
                    },
                    "token_type": {
                      "type": "string"
                    },
                    "expires_in": {
                      "type": "integer"
                    },
                    "scope": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/AuthenticationError"
          }
        }
      }
    },
    "/rate_limit": {
      "get": {
        "operationId": "getRateLimit",
        "summary": "Check rate limit status",
        "description": "Check the current rate limit status for your API key.",
        "tags": [
          "auth"
        ],
        "responses": {
          "200": {
            "description": "Rate limit status",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "rate_limit_model": {
                      "type": "string"
                    },
                    "requests_this_minute": {
                      "type": "integer"
                    },
                    "requests_today": {
                      "type": "integer"
                    },
                    "verified": {
                      "type": "boolean"
                    }
                  }
                }
              }
            }
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ]
      }
    }
  },
  "components": {
    "parameters": {
      "SearchQuery": {
        "name": "q",
        "in": "query",
        "description": "Full-text search query (max 200 characters)",
        "schema": {
          "type": "string",
          "maxLength": 200
        }
      },
      "Page": {
        "name": "page",
        "in": "query",
        "description": "Page number for pagination",
        "schema": {
          "type": "integer",
          "default": 1,
          "minimum": 1
        }
      },
      "PageSize": {
        "name": "page_size",
        "in": "query",
        "description": "Number of results per page",
        "schema": {
          "type": "integer",
          "default": 20,
          "minimum": 1,
          "maximum": 500
        }
      },
      "License": {
        "name": "license",
        "in": "query",
        "description": "Filter by license type (comma-separated)",
        "schema": {
          "type": "string"
        }
      },
      "LicenseType": {
        "name": "license_type",
        "in": "query",
        "description": "Filter by license category (commercial, modification)",
        "schema": {
          "type": "string"
        }
      },
      "Source": {
        "name": "source",
        "in": "query",
        "description": "Filter by content source",
        "schema": {
          "type": "string"
        }
      },
      "ExcludedSource": {
        "name": "excluded_source",
        "in": "query",
        "description": "Exclude content from specific sources",
        "schema": {
          "type": "string"
        }
      },
      "Creator": {
        "name": "creator",
        "in": "query",
        "description": "Filter by creator name",
        "schema": {
          "type": "string"
        }
      },
      "Tags": {
        "name": "tags",
        "in": "query",
        "description": "Filter by tags",
        "schema": {
          "type": "string"
        }
      },
      "Title": {
        "name": "title",
        "in": "query",
        "description": "Filter by title",
        "schema": {
          "type": "string"
        }
      },
      "Mature": {
        "name": "mature",
        "in": "query",
        "description": "Include mature/sensitive content",
        "schema": {
          "type": "boolean",
          "default": false
        }
      },
      "FilterDead": {
        "name": "filter_dead",
        "in": "query",
        "description": "Filter out dead/broken links",
        "schema": {
          "type": "boolean",
          "default": true
        }
      },
      "MediaIdentifier": {
        "name": "identifier",
        "in": "path",
        "required": true,
        "description": "Unique media identifier (UUID)",
        "schema": {
          "type": "string",
          "format": "uuid"
        }
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "scheme": "bearer",
        "description": "OAuth2 Bearer token obtained via the /auth_tokens/token/ endpoint. Optional for basic access; required for enhanced rate limits."
      }
    },
    "schemas": {
      "Image": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "format": "uuid"
          },
          "title": {
            "type": "string"
          },
          "creator": {
            "type": "string"
          },
          "creator_url": {
            "type": "string",
            "format": "uri"
          },
          "url": {
            "type": "string",
            "format": "uri",
            "description": "Direct URL to the media file"
          },
          "foreign_landing_url": {
            "type": "string",
            "format": "uri",
            "description": "URL of the source page"
          },
          "detail_url": {
            "type": "string",
            "format": "uri"
          },
          "related_url": {
            "type": "string",
            "format": "uri"
          },
          "license": {
            "type": "string",
            "description": "License identifier (e.g., by, by-nc, cc0, pdm)"
          },
          "license_version": {
            "type": "string"
          },
          "license_url": {
            "type": "string",
            "format": "uri"
          },
          "provider": {
            "type": "string"
          },
          "source": {
            "type": "string"
          },
          "thumbnail": {
            "type": "string",
            "format": "uri"
          },
          "width": {
            "type": "integer"
          },
          "height": {
            "type": "integer"
          },
          "tags": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Tag"
            }
          },
          "attribution": {
            "type": "string"
          },
          "fields_matched": {
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "mature": {
            "type": "boolean"
          },
          "indexed_on": {
            "type": "string",
            "format": "date-time"
          }
        }
      },
      "Audio": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "format": "uuid"
          },
          "title": {
            "type": "string"
          },
          "creator": {
            "type": "string"
          },
          "creator_url": {
            "type": "string",
            "format": "uri"
          },
          "url": {
            "type": "string",
            "format": "uri"
          },
          "foreign_landing_url": {
            "type": "string",
            "format": "uri"
          },
          "detail_url": {
            "type": "string",
            "format": "uri"
          },
          "related_url": {
            "type": "string",
            "format": "uri"
          },
          "license": {
            "type": "string"
          },
          "license_version": {
            "type": "string"
          },
          "license_url": {
            "type": "string",
            "format": "uri"
          },
          "provider": {
            "type": "string"
          },
          "source": {
            "type": "string"
          },
          "thumbnail": {
            "type": "string",
            "format": "uri"
          },
          "duration": {
            "type": "integer",
            "description": "Duration in milliseconds"
          },
          "bit_rate": {
            "type": "integer"
          },
          "sample_rate": {
            "type": "integer"
          },
          "genres": {
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "tags": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Tag"
            }
          },
          "attribution": {
            "type": "string"
          },
          "fields_matched": {
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "mature": {
            "type": "boolean"
          },
          "indexed_on": {
            "type": "string",
            "format": "date-time"
          }
        }
      },
      "Tag": {
        "type": "object",
        "properties": {
          "name": {
            "type": "string"
          },
          "accuracy": {
            "type": "number"
          }
        }
      },
      "PaginatedImageResults": {
        "type": "object",
        "properties": {
          "result_count": {
            "type": "integer",
            "description": "Total number of results"
          },
          "page_count": {
            "type": "integer",
            "description": "Total number of pages"
          },
          "page_size": {
            "type": "integer"
          },
          "page": {
            "type": "integer"
          },
          "results": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Image"
            }
          },
          "warnings": {
            "type": "array",
            "items": {
              "type": "object"
            }
          }
        }
      },
      "PaginatedAudioResults": {
        "type": "object",
        "properties": {
          "result_count": {
            "type": "integer"
          },
          "page_count": {
            "type": "integer"
          },
          "page_size": {
            "type": "integer"
          },
          "page": {
            "type": "integer"
          },
          "results": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Audio"
            }
          },
          "warnings": {
            "type": "array",
            "items": {
              "type": "object"
            }
          }
        }
      },
      "SourceStats": {
        "type": "object",
        "properties": {
          "source_name": {
            "type": "string"
          },
          "display_name": {
            "type": "string"
          },
          "source_url": {
            "type": "string",
            "format": "uri"
          },
          "logo_url": {
            "type": "string",
            "format": "uri"
          },
          "media_count": {
            "type": "integer"
          }
        }
      },
      "ReportRequest": {
        "type": "object",
        "required": [
          "reason"
        ],
        "properties": {
          "reason": {
            "type": "string",
            "enum": [
              "mature",
              "dmca",
              "other"
            ],
            "description": "Reason for the report"
          },
          "description": {
            "type": "string",
            "description": "Additional details about the report"
          }
        }
      },
      "Error": {
        "type": "object",
        "properties": {
          "detail": {
            "type": "string"
          }
        }
      }
    },
    "responses": {
      "ValidationError": {
        "description": "Validation error in request parameters",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/Error"
            }
          }
        }
      },
      "AuthenticationError": {
        "description": "Authentication failed",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/Error"
            }
          }
        }
      },
      "NotFoundError": {
        "description": "Resource not found",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/Error"
            }
          }
        }
      },
      "RateLimitError": {
        "description": "Rate limit exceeded. Register for an API key for higher limits.",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/Error"
            }
          }
        }
      }
    }
  }
}
