{
  "openapi": "3.0.3",
  "info": {
    "title": "Vertex API",
    "version": "1.0.0",
    "description": "Vertex Protocol is a decentralized exchange (DEX) for spot, perpetuals, and money markets. The API provides access to trading, market data, account management, and liquidity pool operations.",
    "x-jentic-source-url": "https://docs.vertexprotocol.com/",
    "contact": {
      "name": "API Support"
    }
  },
  "servers": [
    {
      "url": "https://gateway.prod.vertexprotocol.com/v1"
    }
  ],
  "paths": {
    "/query": {
      "post": {
        "operationId": "query",
        "summary": "Query Engine",
        "description": "Execute read-only queries against the Vertex engine. Supports various query types including subaccount info, market data, and order book state.",
        "tags": [
          "Query"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/QueryRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/execute": {
      "post": {
        "operationId": "execute",
        "summary": "Execute Transaction",
        "description": "Submit signed transactions to the Vertex engine. Supports placing orders, cancelling orders, liquidations, and other state-changing operations.",
        "tags": [
          "Execute"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ExecuteRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/indexer": {
      "post": {
        "operationId": "queryIndexer",
        "summary": "Query Indexer",
        "description": "Query the Vertex indexer for historical data including trades, funding rates, candlestick data, and account history.",
        "tags": [
          "Indexer"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/IndexerRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/symbols": {
      "get": {
        "operationId": "getSymbols",
        "summary": "Get Symbols",
        "description": "Returns all available trading symbols and their product IDs.",
        "tags": [
          "Market Data"
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/prices": {
      "get": {
        "operationId": "getPrices",
        "summary": "Get Prices",
        "description": "Returns current prices for all products.",
        "tags": [
          "Market Data"
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/contracts": {
      "get": {
        "operationId": "getContracts",
        "summary": "Get Contracts",
        "description": "Returns contract addresses for Vertex protocol on supported chains.",
        "tags": [
          "Market Data"
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/health": {
      "get": {
        "operationId": "getHealth",
        "summary": "Health Check",
        "description": "Returns the health status of the Vertex gateway.",
        "tags": [
          "System"
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    }
  },
  "components": {
    "schemas": {
      "QueryRequest": {
        "type": "object",
        "required": [
          "type"
        ],
        "properties": {
          "type": {
            "type": "string",
            "description": "Query type (e.g. subaccount_info, all_products, market_price, order_book, max_order_size)"
          },
          "product_id": {
            "type": "integer"
          },
          "sender": {
            "type": "string"
          },
          "subaccount": {
            "type": "string"
          }
        }
      },
      "ExecuteRequest": {
        "type": "object",
        "required": [
          "type"
        ],
        "properties": {
          "type": {
            "type": "string",
            "description": "Transaction type (e.g. place_order, cancel_orders, cancel_product_orders, liquidate_subaccount)"
          },
          "signature": {
            "type": "string"
          },
          "tx": {
            "type": "object"
          }
        }
      },
      "IndexerRequest": {
        "type": "object",
        "required": [
          "type"
        ],
        "properties": {
          "type": {
            "type": "string",
            "description": "Indexer query type (e.g. candlesticks, trades, funding_rate, subaccount_summary)"
          },
          "product_id": {
            "type": "integer"
          },
          "subaccount": {
            "type": "string"
          },
          "limit": {
            "type": "integer"
          },
          "max_time": {
            "type": "integer"
          }
        }
      },
      "ErrorResponse": {
        "type": "object",
        "properties": {
          "error": {
            "type": "string"
          },
          "message": {
            "type": "string"
          },
          "code": {
            "type": "integer"
          }
        }
      }
    },
    "securitySchemes": {}
  },
  "tags": [
    {
      "name": "Execute"
    },
    {
      "name": "Indexer"
    },
    {
      "name": "Market Data"
    },
    {
      "name": "Query"
    },
    {
      "name": "System"
    }
  ]
}
