{
  "openapi": "3.0.3",
  "info": {
    "title": "Shop Catalog API",
    "version": "1",
    "description": "Shop Catalog API",
    "x-jentic-source-url": "https://api.swaggerhub.com/apis/iDeus1/TGE/1"
  },
  "servers": [
    {
      "url": "https://tge.gonetcraft.com",
      "description": "Production server"
    },
    {
      "description": "SwaggerHub API Auto Mocking",
      "url": "https://virtserver.swaggerhub.com/iDeus1/TGE/1"
    }
  ],
  "paths": {
    "/api/category/list": {
      "get": {
        "summary": "\u041f\u043e\u043b\u0443\u0447\u0438\u0442\u044c \u0441\u043f\u0438\u0441\u043e\u043a \u043a\u0430\u0442\u0435\u0433\u043e\u0440\u0438\u0439",
        "description": "\u0412\u043e\u0437\u0432\u0440\u0430\u0449\u0430\u0435\u0442 \u0441\u043f\u0438\u0441\u043e\u043a \u043a\u0430\u0442\u0435\u0433\u043e\u0440\u0438\u0439 \u043a\u0430\u0442\u0430\u043b\u043e\u0433\u0430 \u0432\u0435\u0440\u0445\u043d\u0435\u0433\u043e \u0443\u0440\u043e\u0432\u043d\u044f",
        "operationId": "getCategoryList",
        "tags": [
          "Categories"
        ],
        "parameters": [
          {
            "name": "X-Requested-With",
            "in": "header",
            "description": "\u041f\u0440\u0438\u0437\u043d\u0430\u043a \u0430\u0441\u0438\u043d\u0445\u0440\u043e\u043d\u043d\u043e\u0433\u043e \u0437\u0430\u043f\u0440\u043e\u0441\u0430",
            "required": true,
            "schema": {
              "type": "string",
              "example": "XMLHttpRequest"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "\u0423\u0441\u043f\u0435\u0448\u043d\u044b\u0439 \u043e\u0442\u0432\u0435\u0442 \u0441\u043e \u0441\u043f\u0438\u0441\u043a\u043e\u043c \u043a\u0430\u0442\u0435\u0433\u043e\u0440\u0438\u0439",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CategoryListResponse"
                },
                "examples": {
                  "successExample": {
                    "value": {
                      "list": [
                        {
                          "id": 1,
                          "parentId": 0,
                          "title": "Drivers",
                          "alias": "drivers",
                          "position": 1
                        },
                        {
                          "id": 2,
                          "parentId": 1,
                          "title": "Woods",
                          "alias": "woods",
                          "position": 1
                        }
                      ],
                      "count": 2
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/api/product/list": {
      "post": {
        "summary": "\u041f\u043e\u043b\u0443\u0447\u0438\u0442\u044c \u0441\u043f\u0438\u0441\u043e\u043a \u043f\u0440\u043e\u0434\u0443\u043a\u0442\u043e\u0432 (POST)",
        "description": "\u0412\u043e\u0437\u0432\u0440\u0430\u0449\u0430\u0435\u0442 \u0441\u043f\u0438\u0441\u043e\u043a \u043f\u0440\u043e\u0434\u0443\u043a\u0442\u043e\u0432 \u0441 \u0444\u0438\u043b\u044c\u0442\u0440\u0430\u0446\u0438\u0435\u0439, \u0441\u043e\u0440\u0442\u0438\u0440\u043e\u0432\u043a\u043e\u0439 \u0438 \u043f\u0430\u0433\u0438\u043d\u0430\u0446\u0438\u0435\u0439 (\u0438\u0441\u043f\u043e\u043b\u044c\u0437\u0443\u0439\u0442\u0435 \u0434\u043b\u044f \u0441\u043b\u043e\u0436\u043d\u044b\u0445 \u0444\u0438\u043b\u044c\u0442\u0440\u043e\u0432)",
        "operationId": "postProductList",
        "tags": [
          "Products"
        ],
        "parameters": [
          {
            "name": "X-Requested-With",
            "in": "header",
            "description": "\u041f\u0440\u0438\u0437\u043d\u0430\u043a \u0430\u0441\u0438\u043d\u0445\u0440\u043e\u043d\u043d\u043e\u0433\u043e \u0437\u0430\u043f\u0440\u043e\u0441\u0430",
            "required": true,
            "schema": {
              "type": "string",
              "example": "XMLHttpRequest"
            }
          }
        ],
        "requestBody": {
          "required": false,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ProductListRequest"
              },
              "examples": {
                "basicRequest": {
                  "summary": "\u0411\u0430\u0437\u043e\u0432\u044b\u0439 \u0437\u0430\u043f\u0440\u043e\u0441 \u0441 \u043f\u0430\u0433\u0438\u043d\u0430\u0446\u0438\u0435\u0439",
                  "value": {
                    "page": 1,
                    "order": "price",
                    "orderAsc": true
                  }
                },
                "filteredRequest": {
                  "summary": "\u0417\u0430\u043f\u0440\u043e\u0441 \u0441 \u0444\u0438\u043b\u044c\u0442\u0440\u0430\u043c\u0438",
                  "value": {
                    "page": 2,
                    "filter": {
                      "condition": "new",
                      "price": {
                        "min": 50,
                        "max": 500
                      }
                    },
                    "order": "name"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "\u0423\u0441\u043f\u0435\u0448\u043d\u044b\u0439 \u043e\u0442\u0432\u0435\u0442 \u0441\u043e \u0441\u043f\u0438\u0441\u043a\u043e\u043c \u043f\u0440\u043e\u0434\u0443\u043a\u0442\u043e\u0432",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProductListResponse"
                }
              }
            }
          }
        }
      }
    },
    "/api/cart/total": {
      "get": {
        "summary": "\u041f\u043e\u043b\u0443\u0447\u0435\u043d\u0438\u0435 \u043a\u043e\u043b\u0438\u0447\u0435\u0441\u0442\u0432\u0430 \u0442\u043e\u0432\u0430\u0440\u043e\u0432 \u0432 \u043a\u043e\u0440\u0437\u0438\u043d\u0435",
        "description": "\u0412\u043e\u0437\u0432\u0440\u0430\u0449\u0430\u0435\u0442 \u043e\u0431\u0449\u0435\u0435 \u043a\u043e\u043b\u0438\u0447\u0435\u0441\u0442\u0432\u043e \u0442\u043e\u0432\u0430\u0440\u043e\u0432 \u0432 \u043a\u043e\u0440\u0437\u0438\u043d\u0435 \u043f\u043e\u043b\u044c\u0437\u043e\u0432\u0430\u0442\u0435\u043b\u044f",
        "operationId": "getCartTotal",
        "tags": [
          "Cart"
        ],
        "parameters": [
          {
            "name": "X-Requested-With",
            "in": "header",
            "description": "\u041f\u0440\u0438\u0437\u043d\u0430\u043a \u0430\u0441\u0438\u043d\u0445\u0440\u043e\u043d\u043d\u043e\u0433\u043e \u0437\u0430\u043f\u0440\u043e\u0441\u0430",
            "required": true,
            "schema": {
              "type": "string",
              "example": "XMLHttpRequest"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "\u0423\u0441\u043f\u0435\u0448\u043d\u044b\u0439 \u043e\u0442\u0432\u0435\u0442 \u0441 \u043a\u043e\u043b\u0438\u0447\u0435\u0441\u0442\u0432\u043e\u043c \u0442\u043e\u0432\u0430\u0440\u043e\u0432 \u0432 \u043a\u043e\u0440\u0437\u0438\u043d\u0435",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CartTotalResponse"
                }
              }
            }
          }
        }
      }
    },
    "/api/cart/list": {
      "get": {
        "summary": "\u041f\u043e\u043b\u0443\u0447\u0435\u043d\u0438\u0435 \u0441\u043f\u0438\u0441\u043a\u0430 \u0442\u043e\u0432\u0430\u0440\u043e\u0432 \u0432 \u043a\u043e\u0440\u0437\u0438\u043d\u0435",
        "description": "\u0412\u043e\u0437\u0432\u0440\u0430\u0449\u0430\u0435\u0442 \u043f\u043e\u0434\u0440\u043e\u0431\u043d\u0443\u044e \u0438\u043d\u0444\u043e\u0440\u043c\u0430\u0446\u0438\u044e \u043e \u0432\u0441\u0435\u0445 \u0442\u043e\u0432\u0430\u0440\u0430\u0445 \u0432 \u043a\u043e\u0440\u0437\u0438\u043d\u0435 \u043f\u043e\u043b\u044c\u0437\u043e\u0432\u0430\u0442\u0435\u043b\u044f, \u0432\u043a\u043b\u044e\u0447\u0430\u044f \u0446\u0435\u043d\u044b \u0438 \u043e\u0431\u0449\u0438\u0435 \u0441\u0443\u043c\u043c\u044b",
        "operationId": "getCartList",
        "tags": [
          "Cart"
        ],
        "parameters": [
          {
            "name": "X-Requested-With",
            "in": "header",
            "description": "\u041f\u0440\u0438\u0437\u043d\u0430\u043a \u0430\u0441\u0438\u043d\u0445\u0440\u043e\u043d\u043d\u043e\u0433\u043e \u0437\u0430\u043f\u0440\u043e\u0441\u0430",
            "required": true,
            "schema": {
              "type": "string",
              "example": "XMLHttpRequest"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "\u0423\u0441\u043f\u0435\u0448\u043d\u044b\u0439 \u043e\u0442\u0432\u0435\u0442 \u0441\u043e \u0441\u043f\u0438\u0441\u043a\u043e\u043c \u0442\u043e\u0432\u0430\u0440\u043e\u0432 \u0432 \u043a\u043e\u0440\u0437\u0438\u043d\u0435",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CartListResponse"
                }
              }
            }
          }
        }
      }
    },
    "/api/cart/add": {
      "post": {
        "summary": "\u0414\u043e\u0431\u0430\u0432\u043b\u0435\u043d\u0438\u0435 \u0442\u043e\u0432\u0430\u0440\u0430 \u0432 \u043a\u043e\u0440\u0437\u0438\u043d\u0443",
        "description": "\u0414\u043e\u0431\u0430\u0432\u043b\u044f\u0435\u0442 \u043d\u043e\u0432\u044b\u0439 \u0442\u043e\u0432\u0430\u0440 \u0432 \u043a\u043e\u0440\u0437\u0438\u043d\u0443 \u0438\u043b\u0438 \u0443\u0432\u0435\u043b\u0438\u0447\u0438\u0432\u0430\u0435\u0442 \u043a\u043e\u043b\u0438\u0447\u0435\u0441\u0442\u0432\u043e \u0441\u0443\u0449\u0435\u0441\u0442\u0432\u0443\u044e\u0449\u0435\u0433\u043e \u0442\u043e\u0432\u0430\u0440\u0430 \u043d\u0430 1",
        "operationId": "addToCart",
        "tags": [
          "Cart"
        ],
        "parameters": [
          {
            "name": "X-Requested-With",
            "in": "header",
            "description": "\u041f\u0440\u0438\u0437\u043d\u0430\u043a \u0430\u0441\u0438\u043d\u0445\u0440\u043e\u043d\u043d\u043e\u0433\u043e \u0437\u0430\u043f\u0440\u043e\u0441\u0430",
            "required": true,
            "schema": {
              "type": "string",
              "example": "XMLHttpRequest"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CartAddRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "\u0423\u0441\u043f\u0435\u0448\u043d\u044b\u0439 \u043e\u0442\u0432\u0435\u0442 \u043d\u0430 \u0434\u043e\u0431\u0430\u0432\u043b\u0435\u043d\u0438\u0435 \u0442\u043e\u0432\u0430\u0440\u0430 \u0432 \u043a\u043e\u0440\u0437\u0438\u043d\u0443",
            "content": {
              "application/json": {
                "schema": {
                  "oneOf": [
                    {
                      "$ref": "#/components/schemas/CartAddSuccessResponse"
                    },
                    {
                      "$ref": "#/components/schemas/CartAddErrorResponse"
                    }
                  ]
                },
                "examples": {
                  "successExample": {
                    "summary": "\u0422\u043e\u0432\u0430\u0440 \u0443\u0441\u043f\u0435\u0448\u043d\u043e \u0434\u043e\u0431\u0430\u0432\u043b\u0435\u043d",
                    "value": {
                      "result": true,
                      "total": 5
                    }
                  },
                  "errorExample": {
                    "summary": "\u0422\u043e\u0432\u0430\u0440 \u043d\u0435 \u043d\u0430\u0439\u0434\u0435\u043d",
                    "value": {
                      "result": false,
                      "error": "not_found",
                      "message": "Product not found"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/api/cart/modify": {
      "post": {
        "summary": "\u0418\u0437\u043c\u0435\u043d\u0435\u043d\u0438\u0435 \u043a\u043e\u043b\u0438\u0447\u0435\u0441\u0442\u0432\u0430 \u0442\u043e\u0432\u0430\u0440\u0430 \u0432 \u043a\u043e\u0440\u0437\u0438\u043d\u0435",
        "description": "\u0418\u0437\u043c\u0435\u043d\u044f\u0435\u0442 \u043a\u043e\u043b\u0438\u0447\u0435\u0441\u0442\u0432\u043e \u043a\u043e\u043d\u043a\u0440\u0435\u0442\u043d\u043e\u0433\u043e \u0442\u043e\u0432\u0430\u0440\u0430 \u0432 \u043a\u043e\u0440\u0437\u0438\u043d\u0435. \u0415\u0441\u043b\u0438 quantity \u0443\u0441\u0442\u0430\u043d\u043e\u0432\u043b\u0435\u043d \u0432 0, \u0442\u043e\u0432\u0430\u0440 \u0443\u0434\u0430\u043b\u044f\u0435\u0442\u0441\u044f \u0438\u0437 \u043a\u043e\u0440\u0437\u0438\u043d\u044b",
        "operationId": "modifyCartItem",
        "tags": [
          "Cart"
        ],
        "parameters": [
          {
            "name": "X-Requested-With",
            "in": "header",
            "description": "\u041f\u0440\u0438\u0437\u043d\u0430\u043a \u0430\u0441\u0438\u043d\u0445\u0440\u043e\u043d\u043d\u043e\u0433\u043e \u0437\u0430\u043f\u0440\u043e\u0441\u0430",
            "required": true,
            "schema": {
              "type": "string",
              "example": "XMLHttpRequest"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CartModifyRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "\u0423\u0441\u043f\u0435\u0448\u043d\u044b\u0439 \u043e\u0442\u0432\u0435\u0442 \u043d\u0430 \u0438\u0437\u043c\u0435\u043d\u0435\u043d\u0438\u0435 \u0442\u043e\u0432\u0430\u0440\u0430 \u0432 \u043a\u043e\u0440\u0437\u0438\u043d\u0435",
            "content": {
              "application/json": {
                "schema": {
                  "oneOf": [
                    {
                      "$ref": "#/components/schemas/CartModifySuccessResponse"
                    },
                    {
                      "$ref": "#/components/schemas/CartModifyErrorResponse"
                    }
                  ]
                },
                "examples": {
                  "successExample": {
                    "summary": "\u041a\u043e\u043b\u0438\u0447\u0435\u0441\u0442\u0432\u043e \u0442\u043e\u0432\u0430\u0440\u0430 \u0438\u0437\u043c\u0435\u043d\u0435\u043d\u043e",
                    "value": {
                      "result": true,
                      "total": 4,
                      "totalAmount": 599.96,
                      "item": {
                        "id": 123,
                        "quantity": 2,
                        "totalAmount": 199.98
                      }
                    }
                  },
                  "errorExample": {
                    "summary": "\u042d\u043b\u0435\u043c\u0435\u043d\u0442 \u043a\u043e\u0440\u0437\u0438\u043d\u044b \u043d\u0435 \u043d\u0430\u0439\u0434\u0435\u043d",
                    "value": {
                      "result": false,
                      "error": "not_found",
                      "message": "Cart item not found"
                    }
                  }
                }
              }
            }
          }
        }
      }
    }
  },
  "components": {
    "schemas": {
      "Category": {
        "type": "object",
        "required": [
          "id",
          "parentId",
          "title",
          "alias",
          "position"
        ],
        "properties": {
          "id": {
            "type": "integer",
            "format": "int64",
            "description": "\u0423\u043d\u0438\u043a\u0430\u043b\u044c\u043d\u044b\u0439 \u0438\u0434\u0435\u043d\u0442\u0438\u0444\u0438\u043a\u0430\u0442\u043e\u0440 \u043a\u0430\u0442\u0435\u0433\u043e\u0440\u0438\u0438",
            "example": 1
          },
          "parentId": {
            "type": "integer",
            "format": "int64",
            "description": "ID \u0440\u043e\u0434\u0438\u0442\u0435\u043b\u044c\u0441\u043a\u043e\u0439 \u043a\u0430\u0442\u0435\u0433\u043e\u0440\u0438\u0438 (0 \u0434\u043b\u044f \u043a\u043e\u0440\u043d\u0435\u0432\u044b\u0445)",
            "example": 0
          },
          "title": {
            "type": "string",
            "description": "\u041d\u0430\u0437\u0432\u0430\u043d\u0438\u0435 \u043a\u0430\u0442\u0435\u0433\u043e\u0440\u0438\u0438",
            "example": "\u042d\u043b\u0435\u043a\u0442\u0440\u043e\u043d\u0438\u043a\u0430"
          },
          "alias": {
            "type": "string",
            "description": "\u0427\u0435\u043b\u043e\u0432\u0435\u043a\u043e-\u0447\u0438\u0442\u0430\u0435\u043c\u044b\u0439 \u0438\u0434\u0435\u043d\u0442\u0438\u0444\u0438\u043a\u0430\u0442\u043e\u0440 \u0434\u043b\u044f URL",
            "example": "electronics"
          },
          "position": {
            "type": "integer",
            "description": "\u041f\u043e\u0440\u044f\u0434\u043e\u043a \u0441\u043e\u0440\u0442\u0438\u0440\u043e\u0432\u043a\u0438",
            "example": 1
          }
        }
      },
      "CategoryListResponse": {
        "type": "object",
        "required": [
          "list",
          "count"
        ],
        "properties": {
          "list": {
            "type": "array",
            "description": "\u0421\u043f\u0438\u0441\u043e\u043a \u043a\u0430\u0442\u0435\u0433\u043e\u0440\u0438\u0439",
            "items": {
              "$ref": "#/components/schemas/Category"
            }
          },
          "count": {
            "type": "integer",
            "format": "int64",
            "description": "\u041a\u043e\u043b\u0438\u0447\u0435\u0441\u0442\u0432\u043e \u043a\u0430\u0442\u0435\u0433\u043e\u0440\u0438\u0439 \u0432 \u043e\u0442\u0432\u0435\u0442\u0435",
            "example": 2
          }
        }
      },
      "Product": {
        "type": "object",
        "required": [
          "id",
          "categoryId",
          "title",
          "alias",
          "uid",
          "price",
          "condition",
          "position"
        ],
        "properties": {
          "id": {
            "type": "integer",
            "format": "int64",
            "description": "\u0423\u043d\u0438\u043a\u0430\u043b\u044c\u043d\u044b\u0439 \u0438\u0434\u0435\u043d\u0442\u0438\u0444\u0438\u043a\u0430\u0442\u043e\u0440 \u043f\u0440\u043e\u0434\u0443\u043a\u0442\u0430",
            "example": 101
          },
          "categoryId": {
            "type": "integer",
            "format": "int64",
            "description": "ID \u043a\u0430\u0442\u0435\u0433\u043e\u0440\u0438\u0438 \u043f\u0440\u043e\u0434\u0443\u043a\u0442\u0430",
            "example": 1
          },
          "title": {
            "type": "string",
            "description": "\u041d\u0430\u0437\u0432\u0430\u043d\u0438\u0435 \u043f\u0440\u043e\u0434\u0443\u043a\u0442\u0430",
            "example": "Driver Pro 500"
          },
          "alias": {
            "type": "string",
            "description": "\u0427\u0435\u043b\u043e\u0432\u0435\u043a\u043e-\u0447\u0438\u0442\u0430\u0435\u043c\u044b\u0439 \u0438\u0434\u0435\u043d\u0442\u0438\u0444\u0438\u043a\u0430\u0442\u043e\u0440 \u0434\u043b\u044f URL",
            "example": "driver-pro-500"
          },
          "uid": {
            "type": "string",
            "description": "\u0423\u043d\u0438\u043a\u0430\u043b\u044c\u043d\u044b\u0439 \u0438\u0434\u0435\u043d\u0442\u0438\u0444\u0438\u043a\u0430\u0442\u043e\u0440 \u043f\u0440\u043e\u0434\u0443\u043a\u0442\u0430 (\u0430\u0440\u0442\u0438\u043a\u0443\u043b)",
            "example": "PROD-001"
          },
          "price": {
            "type": "number",
            "format": "float",
            "description": "\u0426\u0435\u043d\u0430 \u043f\u0440\u043e\u0434\u0443\u043a\u0442\u0430",
            "example": 299.99
          },
          "condition": {
            "type": "string",
            "description": "\u0421\u043e\u0441\u0442\u043e\u044f\u043d\u0438\u0435 \u043f\u0440\u043e\u0434\u0443\u043a\u0442\u0430",
            "enum": [
              "new",
              "used"
            ],
            "example": "new"
          },
          "position": {
            "type": "integer",
            "description": "\u041f\u043e\u0440\u044f\u0434\u043e\u043a \u0441\u043e\u0440\u0442\u0438\u0440\u043e\u0432\u043a\u0438 \u0432 \u043a\u0430\u0442\u0435\u0433\u043e\u0440\u0438\u0438",
            "example": 1
          }
        }
      },
      "ProductFilter": {
        "type": "object",
        "properties": {
          "condition": {
            "type": "string",
            "description": "\u0424\u0438\u043b\u044c\u0442\u0440 \u043f\u043e \u0441\u043e\u0441\u0442\u043e\u044f\u043d\u0438\u044e \u043f\u0440\u043e\u0434\u0443\u043a\u0442\u0430",
            "enum": [
              "new",
              "used"
            ],
            "example": "used"
          },
          "price": {
            "type": "object",
            "description": "\u0414\u0438\u0430\u043f\u0430\u0437\u043e\u043d \u0446\u0435\u043d",
            "properties": {
              "min": {
                "type": "number",
                "format": "float",
                "description": "\u041c\u0438\u043d\u0438\u043c\u0430\u043b\u044c\u043d\u0430\u044f \u0446\u0435\u043d\u0430",
                "example": 100
              },
              "max": {
                "type": "number",
                "format": "float",
                "description": "\u041c\u0430\u043a\u0441\u0438\u043c\u0430\u043b\u044c\u043d\u0430\u044f \u0446\u0435\u043d\u0430",
                "example": 1000
              }
            }
          }
        }
      },
      "ProductListRequest": {
        "type": "object",
        "properties": {
          "page": {
            "type": "integer",
            "description": "\u041d\u043e\u043c\u0435\u0440 \u0441\u0442\u0440\u0430\u043d\u0438\u0446\u044b (\u043d\u0430\u0447\u0438\u043d\u0430\u044f \u0441 1)",
            "minimum": 1,
            "default": 1,
            "example": 1
          },
          "filter": {
            "$ref": "#/components/schemas/ProductFilter"
          },
          "order": {
            "type": "string",
            "description": "\u041f\u043e\u043b\u0435 \u0434\u043b\u044f \u0441\u043e\u0440\u0442\u0438\u0440\u043e\u0432\u043a\u0438. \u0417\u043d\u0430\u0447\u0435\u043d\u0438\u0435 `position` \u043e\u0437\u043d\u0430\u0447\u0430\u0435\u0442 - \u043f\u043e \u043f\u043e\u043f\u0443\u043b\u044f\u0440\u043d\u043e\u0441\u0442\u0438 (\u0432\u044b\u0441\u0442\u0430\u0432\u043b\u044f\u0435\u0442 \u0430\u0434\u043c\u0438\u043d)",
            "enum": [
              "price",
              "name",
              "position"
            ],
            "default": "price",
            "example": "price"
          },
          "orderAsc": {
            "type": "boolean",
            "description": "\u0423\u043a\u0430\u0437\u0430\u043d\u0438\u0435 \u043f\u043e\u0440\u044f\u0434\u043a\u0430 \u0441\u043e\u0440\u0442\u0438\u0440\u043e\u0432\u043a\u0438. \u0414\u043b\u044f \u043f\u0440\u044f\u043c\u043e\u0439: orderAsc=true|null ; \u0434\u043b\u044f \u043e\u0431\u0440\u0430\u0442\u043d\u043e\u0439 orderAsc=false",
            "default": null,
            "example": false
          }
        }
      },
      "ProductListResponse": {
        "type": "object",
        "required": [
          "list",
          "page",
          "count",
          "total"
        ],
        "properties": {
          "list": {
            "type": "array",
            "description": "\u0421\u043f\u0438\u0441\u043e\u043a \u043f\u0440\u043e\u0434\u0443\u043a\u0442\u043e\u0432",
            "items": {
              "$ref": "#/components/schemas/Product"
            }
          },
          "page": {
            "type": "integer",
            "description": "\u0422\u0435\u043a\u0443\u0449\u0430\u044f \u0441\u0442\u0440\u0430\u043d\u0438\u0446\u0430",
            "example": 2
          },
          "count": {
            "type": "integer",
            "description": "\u041a\u043e\u043b\u0438\u0447\u0435\u0441\u0442\u0432\u043e \u043f\u0440\u043e\u0434\u0443\u043a\u0442\u043e\u0432 \u043d\u0430 \u0442\u0435\u043a\u0443\u0449\u0435\u0439 \u0441\u0442\u0440\u0430\u043d\u0438\u0446\u0435",
            "example": 10
          },
          "total": {
            "type": "integer",
            "description": "\u041e\u0431\u0449\u0435\u0435 \u043a\u043e\u043b\u0438\u0447\u0435\u0441\u0442\u0432\u043e \u043f\u0440\u043e\u0434\u0443\u043a\u0442\u043e\u0432",
            "example": 100
          }
        }
      },
      "ErrorResponse": {
        "type": "object",
        "required": [
          "result",
          "code",
          "error",
          "message"
        ],
        "properties": {
          "result": {
            "type": "boolean",
            "description": "\u0424\u043b\u0430\u0433 \u0443\u0441\u043f\u0435\u0448\u043d\u043e\u0441\u0442\u0438 \u0432\u044b\u043f\u043e\u043b\u043d\u0435\u043d\u0438\u044f \u0437\u0430\u043f\u0440\u043e\u0441\u0430",
            "example": false,
            "enum": [
              false
            ]
          },
          "code": {
            "type": "integer",
            "format": "int32",
            "description": "\u0427\u0438\u0441\u043b\u043e\u0432\u043e\u0439 \u043a\u043e\u0434 \u043e\u0448\u0438\u0431\u043a\u0438",
            "example": 2
          },
          "error": {
            "type": "string",
            "description": "\u0421\u0442\u0440\u043e\u043a\u043e\u0432\u044b\u0439 \u0438\u0434\u0435\u043d\u0442\u0438\u0444\u0438\u043a\u0430\u0442\u043e\u0440 \u043e\u0448\u0438\u0431\u043a\u0438",
            "example": "invalid_data"
          },
          "message": {
            "type": "string",
            "description": "\u0427\u0435\u043b\u043e\u0432\u0435\u043a\u043e-\u0447\u0438\u0442\u0430\u0435\u043c\u043e\u0435 \u0441\u043e\u043e\u0431\u0449\u0435\u043d\u0438\u0435 \u043e\u0431 \u043e\u0448\u0438\u0431\u043a\u0435",
            "example": "ID is required"
          }
        },
        "example": {
          "result": false,
          "code": 2,
          "error": "invalid_data",
          "message": "ID is required"
        }
      },
      "CartTotalResponse": {
        "type": "object",
        "required": [
          "total"
        ],
        "properties": {
          "total": {
            "type": "integer",
            "description": "\u041e\u0431\u0449\u0435\u0435 \u043a\u043e\u043b\u0438\u0447\u0435\u0441\u0442\u0432\u043e \u0442\u043e\u0432\u0430\u0440\u043e\u0432 \u0432 \u043a\u043e\u0440\u0437\u0438\u043d\u0435",
            "example": 5
          }
        }
      },
      "CartItem": {
        "type": "object",
        "required": [
          "id",
          "title",
          "photo",
          "quantity",
          "productId",
          "price",
          "totalAmount"
        ],
        "properties": {
          "id": {
            "type": "integer",
            "format": "int64",
            "description": "\u0423\u043d\u0438\u043a\u0430\u043b\u044c\u043d\u044b\u0439 \u0438\u0434\u0435\u043d\u0442\u0438\u0444\u0438\u043a\u0430\u0442\u043e\u0440 \u044d\u043b\u0435\u043c\u0435\u043d\u0442\u0430 \u043a\u043e\u0440\u0437\u0438\u043d\u044b",
            "example": 123
          },
          "title": {
            "type": "string",
            "description": "\u041d\u0430\u0437\u0432\u0430\u043d\u0438\u0435 \u0442\u043e\u0432\u0430\u0440\u0430",
            "example": "Driver Pro 500"
          },
          "photo": {
            "type": "string",
            "format": "uri",
            "description": "URL \u0438\u0437\u043e\u0431\u0440\u0430\u0436\u0435\u043d\u0438\u044f \u0442\u043e\u0432\u0430\u0440\u0430",
            "example": "https://example.com/images/driver-pro-500.jpg"
          },
          "quantity": {
            "type": "integer",
            "description": "\u041a\u043e\u043b\u0438\u0447\u0435\u0441\u0442\u0432\u043e \u0442\u043e\u0432\u0430\u0440\u0430 \u0432 \u043a\u043e\u0440\u0437\u0438\u043d\u0435",
            "minimum": 0,
            "example": 2
          },
          "productId": {
            "type": "integer",
            "format": "int64",
            "description": "\u0418\u0434\u0435\u043d\u0442\u0438\u0444\u0438\u043a\u0430\u0442\u043e\u0440 \u0442\u043e\u0432\u0430\u0440\u0430 \u0432 \u043a\u0430\u0442\u0430\u043b\u043e\u0433\u0435.\n\u0415\u0441\u043b\u0438 \u0440\u0430\u0432\u0435\u043d 0 \u0438\u043b\u0438 null, \u044d\u0442\u043e \u043e\u0437\u043d\u0430\u0447\u0430\u0435\u0442, \u0447\u0442\u043e \u0442\u043e\u0432\u0430\u0440 \u0431\u043e\u043b\u044c\u0448\u0435 \u043d\u0435 \u0434\u043e\u0441\u0442\u0443\u043f\u0435\u043d \u0432 \u043a\u0430\u0442\u0430\u043b\u043e\u0433\u0435.\n\u0412 \u044d\u0442\u043e\u043c \u0441\u043b\u0443\u0447\u0430\u0435 \u043a\u043b\u0438\u0435\u043d\u0442\u0443 \u0434\u043e\u043b\u0436\u043d\u043e \u0431\u044b\u0442\u044c \u0437\u0430\u043f\u0440\u0435\u0449\u0435\u043d\u043e \u0443\u043f\u0440\u0430\u0432\u043b\u044f\u0442\u044c \u044d\u0442\u0438\u043c \u044d\u043b\u0435\u043c\u0435\u043d\u0442\u043e\u043c (\u043a\u0440\u043e\u043c\u0435 \u0443\u0434\u0430\u043b\u0435\u043d\u0438\u044f).\n",
            "example": 101
          },
          "price": {
            "type": "number",
            "format": "float",
            "description": "\u0426\u0435\u043d\u0430 \u0437\u0430 \u0435\u0434\u0438\u043d\u0438\u0446\u0443 \u0442\u043e\u0432\u0430\u0440\u0430",
            "example": 99.99
          },
          "totalAmount": {
            "type": "number",
            "format": "float",
            "description": "\u041e\u0431\u0449\u0430\u044f \u0441\u0442\u043e\u0438\u043c\u043e\u0441\u0442\u044c \u044d\u043b\u0435\u043c\u0435\u043d\u0442\u0430 \u043a\u043e\u0440\u0437\u0438\u043d\u044b (price * quantity)",
            "example": 199.98
          }
        }
      },
      "CartListResponse": {
        "type": "object",
        "required": [
          "total",
          "totalAmount",
          "items"
        ],
        "properties": {
          "total": {
            "type": "integer",
            "description": "\u041e\u0431\u0449\u0435\u0435 \u043a\u043e\u043b\u0438\u0447\u0435\u0441\u0442\u0432\u043e \u0442\u043e\u0432\u0430\u0440\u043e\u0432 \u0432 \u043a\u043e\u0440\u0437\u0438\u043d\u0435",
            "example": 5
          },
          "totalAmount": {
            "type": "number",
            "format": "float",
            "description": "\u041e\u0431\u0449\u0430\u044f \u0441\u0442\u043e\u0438\u043c\u043e\u0441\u0442\u044c \u043a\u043e\u0440\u0437\u0438\u043d\u044b",
            "example": 499.95
          },
          "items": {
            "type": "array",
            "description": "\u0421\u043f\u0438\u0441\u043e\u043a \u0442\u043e\u0432\u0430\u0440\u043e\u0432 \u0432 \u043a\u043e\u0440\u0437\u0438\u043d\u0435",
            "items": {
              "$ref": "#/components/schemas/CartItem"
            }
          }
        }
      },
      "CartAddRequest": {
        "type": "object",
        "required": [
          "id"
        ],
        "properties": {
          "id": {
            "type": "integer",
            "format": "int64",
            "description": "\u0418\u0434\u0435\u043d\u0442\u0438\u0444\u0438\u043a\u0430\u0442\u043e\u0440 \u0442\u043e\u0432\u0430\u0440\u0430 \u0434\u043b\u044f \u0434\u043e\u0431\u0430\u0432\u043b\u0435\u043d\u0438\u044f \u0432 \u043a\u043e\u0440\u0437\u0438\u043d\u0443",
            "example": 101
          }
        }
      },
      "CartAddSuccessResponse": {
        "type": "object",
        "required": [
          "result",
          "total"
        ],
        "properties": {
          "result": {
            "type": "boolean",
            "description": "\u0424\u043b\u0430\u0433 \u0443\u0441\u043f\u0435\u0448\u043d\u043e\u0441\u0442\u0438 \u0432\u044b\u043f\u043e\u043b\u043d\u0435\u043d\u0438\u044f",
            "example": true,
            "enum": [
              true
            ]
          },
          "total": {
            "type": "integer",
            "description": "\u041e\u0431\u0449\u0435\u0435 \u043a\u043e\u043b\u0438\u0447\u0435\u0441\u0442\u0432\u043e \u0442\u043e\u0432\u0430\u0440\u043e\u0432 \u0432 \u043a\u043e\u0440\u0437\u0438\u043d\u0435 \u043f\u043e\u0441\u043b\u0435 \u043e\u043f\u0435\u0440\u0430\u0446\u0438\u0438",
            "example": 5
          }
        }
      },
      "CartAddErrorResponse": {
        "type": "object",
        "required": [
          "result",
          "error",
          "message"
        ],
        "properties": {
          "result": {
            "type": "boolean",
            "description": "\u0424\u043b\u0430\u0433 \u0443\u0441\u043f\u0435\u0448\u043d\u043e\u0441\u0442\u0438 \u0432\u044b\u043f\u043e\u043b\u043d\u0435\u043d\u0438\u044f",
            "example": false,
            "enum": [
              false
            ]
          },
          "error": {
            "type": "string",
            "description": "\u0421\u0442\u0440\u043e\u043a\u043e\u0432\u044b\u0439 \u0438\u0434\u0435\u043d\u0442\u0438\u0444\u0438\u043a\u0430\u0442\u043e\u0440 \u043e\u0448\u0438\u0431\u043a\u0438",
            "example": "not_found"
          },
          "message": {
            "type": "string",
            "description": "\u0427\u0435\u043b\u043e\u0432\u0435\u043a\u043e-\u0447\u0438\u0442\u0430\u0435\u043c\u043e\u0435 \u0441\u043e\u043e\u0431\u0449\u0435\u043d\u0438\u0435 \u043e\u0431 \u043e\u0448\u0438\u0431\u043a\u0435",
            "example": "Product not found"
          }
        }
      },
      "CartModifyRequest": {
        "type": "object",
        "required": [
          "id",
          "quantity"
        ],
        "properties": {
          "id": {
            "type": "integer",
            "format": "int64",
            "description": "\u0418\u0434\u0435\u043d\u0442\u0438\u0444\u0438\u043a\u0430\u0442\u043e\u0440 \u044d\u043b\u0435\u043c\u0435\u043d\u0442\u0430 \u043a\u043e\u0440\u0437\u0438\u043d\u044b (\u043d\u0435 \u0442\u043e\u0432\u0430\u0440\u0430!)",
            "example": 123
          },
          "quantity": {
            "type": "integer",
            "description": "\u041d\u043e\u0432\u043e\u0435 \u043a\u043e\u043b\u0438\u0447\u0435\u0441\u0442\u0432\u043e \u0442\u043e\u0432\u0430\u0440\u0430. \u0415\u0441\u043b\u0438 \u0440\u0430\u0432\u043d\u043e 0, \u0442\u043e\u0432\u0430\u0440 \u0443\u0434\u0430\u043b\u044f\u0435\u0442\u0441\u044f \u0438\u0437 \u043a\u043e\u0440\u0437\u0438\u043d\u044b",
            "minimum": 0,
            "example": 2
          }
        }
      },
      "CartModifySuccessResponse": {
        "type": "object",
        "required": [
          "result",
          "total",
          "totalAmount",
          "item"
        ],
        "properties": {
          "result": {
            "type": "boolean",
            "description": "\u0424\u043b\u0430\u0433 \u0443\u0441\u043f\u0435\u0448\u043d\u043e\u0441\u0442\u0438 \u0432\u044b\u043f\u043e\u043b\u043d\u0435\u043d\u0438\u044f",
            "example": true,
            "enum": [
              true
            ]
          },
          "total": {
            "type": "integer",
            "description": "\u041e\u0431\u0449\u0435\u0435 \u043a\u043e\u043b\u0438\u0447\u0435\u0441\u0442\u0432\u043e \u0442\u043e\u0432\u0430\u0440\u043e\u0432 \u0432 \u043a\u043e\u0440\u0437\u0438\u043d\u0435 \u043f\u043e\u0441\u043b\u0435 \u043e\u043f\u0435\u0440\u0430\u0446\u0438\u0438",
            "example": 4
          },
          "totalAmount": {
            "type": "number",
            "format": "float",
            "description": "\u041e\u0431\u0449\u0430\u044f \u0441\u0442\u043e\u0438\u043c\u043e\u0441\u0442\u044c \u043a\u043e\u0440\u0437\u0438\u043d\u044b \u043f\u043e\u0441\u043b\u0435 \u043e\u043f\u0435\u0440\u0430\u0446\u0438\u0438",
            "example": 599.96
          },
          "item": {
            "type": "object",
            "description": "\u041e\u0431\u043d\u043e\u0432\u043b\u0435\u043d\u043d\u0430\u044f \u0438\u043d\u0444\u043e\u0440\u043c\u0430\u0446\u0438\u044f \u043e\u0431 \u044d\u043b\u0435\u043c\u0435\u043d\u0442\u0435 \u043a\u043e\u0440\u0437\u0438\u043d\u044b",
            "required": [
              "id",
              "quantity",
              "totalAmount"
            ],
            "properties": {
              "id": {
                "type": "integer",
                "format": "int64",
                "description": "\u0418\u0434\u0435\u043d\u0442\u0438\u0444\u0438\u043a\u0430\u0442\u043e\u0440 \u044d\u043b\u0435\u043c\u0435\u043d\u0442\u0430 \u043a\u043e\u0440\u0437\u0438\u043d\u044b",
                "example": 123
              },
              "quantity": {
                "type": "integer",
                "description": "\u041d\u043e\u0432\u043e\u0435 \u043a\u043e\u043b\u0438\u0447\u0435\u0441\u0442\u0432\u043e \u0442\u043e\u0432\u0430\u0440\u0430",
                "example": 2
              },
              "totalAmount": {
                "type": "number",
                "format": "float",
                "description": "\u041e\u0431\u0449\u0430\u044f \u0441\u0442\u043e\u0438\u043c\u043e\u0441\u0442\u044c \u044d\u043b\u0435\u043c\u0435\u043d\u0442\u0430 \u043a\u043e\u0440\u0437\u0438\u043d\u044b \u043f\u043e\u0441\u043b\u0435 \u0438\u0437\u043c\u0435\u043d\u0435\u043d\u0438\u044f",
                "example": 199.98
              }
            }
          }
        }
      },
      "CartModifyErrorResponse": {
        "type": "object",
        "required": [
          "result",
          "error",
          "message"
        ],
        "properties": {
          "result": {
            "type": "boolean",
            "description": "\u0424\u043b\u0430\u0433 \u0443\u0441\u043f\u0435\u0448\u043d\u043e\u0441\u0442\u0438 \u0432\u044b\u043f\u043e\u043b\u043d\u0435\u043d\u0438\u044f",
            "example": false,
            "enum": [
              false
            ]
          },
          "error": {
            "type": "string",
            "description": "\u0421\u0442\u0440\u043e\u043a\u043e\u0432\u044b\u0439 \u0438\u0434\u0435\u043d\u0442\u0438\u0444\u0438\u043a\u0430\u0442\u043e\u0440 \u043e\u0448\u0438\u0431\u043a\u0438",
            "example": "not_found"
          },
          "message": {
            "type": "string",
            "description": "\u0427\u0435\u043b\u043e\u0432\u0435\u043a\u043e-\u0447\u0438\u0442\u0430\u0435\u043c\u043e\u0435 \u0441\u043e\u043e\u0431\u0449\u0435\u043d\u0438\u0435 \u043e\u0431 \u043e\u0448\u0438\u0431\u043a\u0435",
            "example": "Cart item not found"
          }
        }
      }
    }
  },
  "security": [
    {
      "ApiKeyAuth": []
    }
  ]
}