{
  "openapi": "3.0.1",
  "info": {
    "title": "Smartsheet API",
    "contact": {
      "name": "Smartsheet API",
      "url": "http://smartsheet-platform.github.io/api-docs/"
    },
    "version": "2.0.0",
    "x-jentic-source-url": "https://api.swaggerhub.com/apis/claylo/Smartsheet/2.0.0",
    "description": "Smartsheet API - OpenAPI Specification"
  },
  "servers": [
    {
      "url": "https://api.smartsheet.com/2.0"
    }
  ],
  "paths": {
    "/home": {
      "get": {
        "tags": [
          "home"
        ],
        "description": "Gets a nested list of all Home objects, including Sheets, Workspaces, Folders, Reports and Templates.",
        "operationId": "listAllContents",
        "parameters": [
          {
            "name": "include",
            "in": "query",
            "description": "A comma-separated list of optional elements to include in\nthe response. Valid list values: ownerInfo, source.\n",
            "style": "form",
            "explode": false,
            "schema": {
              "type": "array",
              "items": {
                "type": "string"
              }
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Returns Home object, populated according to the include parameter.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Home"
                }
              }
            }
          }
        },
        "security": [
          {
            "generated_bearer_token": []
          },
          {
            "smartsheet_oauth2": [
              "READ_SHEETS"
            ]
          }
        ]
      }
    },
    "/search": {
      "get": {
        "tags": [
          "search"
        ],
        "description": "Searches all Sheets the User can access for the specified text.",
        "operationId": "search",
        "parameters": [
          {
            "name": "query",
            "in": "query",
            "description": "Text with which to perform the search.",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Returns a SearchResult object containing a maximum of 100 SearchResultItems",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SearchResult"
                }
              }
            }
          }
        },
        "security": [
          {
            "generated_bearer_token": []
          },
          {
            "smartsheet_oauth2": [
              "READ_SHEETS"
            ]
          }
        ]
      }
    },
    "/groups": {
      "get": {
        "tags": [
          "groups"
        ],
        "description": "Get the list of all Groups in an organization. To fetch the members of an individual group, use the getGroup operation.",
        "operationId": "listAllGroups",
        "parameters": [
          {
            "name": "pageSize",
            "in": "query",
            "description": "The maximum number of items to return per page. Defaults to\n100.\n",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "page",
            "in": "query",
            "description": "Which page to return. Defaults to 1 if not specified.\n",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "includeAll",
            "in": "query",
            "description": "If true, include all results (i.e. do not paginate).\n",
            "schema": {
              "type": "string",
              "enum": [
                "true"
              ]
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Returns an IndexResult object containing an array of Group objects.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/IndexResult"
                }
              }
            }
          }
        },
        "security": [
          {
            "generated_bearer_token": []
          },
          {
            "smartsheet_oauth2": [
              "READ_USERS"
            ]
          }
        ]
      },
      "post": {
        "tags": [
          "groups"
        ],
        "description": "Creates a new Group",
        "operationId": "createGroup",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/Group"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Returns a Result object, containing a Group object for the newly created Group.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Result"
                }
              }
            }
          }
        },
        "security": [
          {
            "generated_bearer_token": []
          },
          {
            "smartsheet_oauth2": [
              "ADMIN_USERS"
            ]
          }
        ],
        "x-codegen-request-body-name": "JSON"
      }
    },
    "/sheets": {
      "get": {
        "tags": [
          "sheets"
        ],
        "description": "Get the list of all Sheets the User has access to, in alphabetical order, by name.",
        "operationId": "listSheets",
        "parameters": [
          {
            "name": "include",
            "in": "query",
            "description": "A comma-separated list of optional elements to include in\nthe response. Valid list values: ownerInfo, source.\n",
            "style": "form",
            "explode": false,
            "schema": {
              "type": "array",
              "items": {
                "type": "string"
              }
            }
          },
          {
            "name": "pageSize",
            "in": "query",
            "description": "The maximum number of items to return per page. Defaults to\n100.\n",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "page",
            "in": "query",
            "description": "Which page to return. Defaults to 1 if not specified.\n",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "includeAll",
            "in": "query",
            "description": "If true, include all results (i.e. do not paginate).\n",
            "schema": {
              "type": "string",
              "enum": [
                "true"
              ]
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Returns an IndexResult object",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/IndexResult"
                }
              }
            }
          }
        },
        "security": [
          {
            "generated_bearer_token": []
          },
          {
            "smartsheet_oauth2": [
              "READ_SHEETS"
            ]
          }
        ]
      },
      "post": {
        "tags": [
          "sheets"
        ],
        "description": "Create a Sheet from scratch in the user's Sheets folder within Home.",
        "operationId": "createSheet",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/Sheet"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Returns a Result object",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Result"
                }
              }
            }
          }
        },
        "security": [
          {
            "generated_bearer_token": []
          },
          {
            "smartsheet_oauth2": [
              "CREATE_SHEETS"
            ]
          }
        ],
        "x-codegen-request-body-name": "JSON"
      }
    },
    "/reports": {
      "get": {
        "tags": [
          "reports"
        ],
        "description": "Gets the list of all Reports that the User has access to, in alphabetical order by name.",
        "operationId": "listReports",
        "parameters": [
          {
            "name": "pageSize",
            "in": "query",
            "description": "The maximum number of items to return per page. Defaults to\n100.\n",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "page",
            "in": "query",
            "description": "Which page to return. Defaults to 1 if not specified.\n",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "includeAll",
            "in": "query",
            "description": "If true, include all results (i.e. do not paginate).\n",
            "schema": {
              "type": "string",
              "enum": [
                "true"
              ]
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Returns a IndexResult object containing an array of Report objects.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/IndexResult"
                }
              }
            }
          }
        },
        "security": [
          {
            "generated_bearer_token": []
          },
          {
            "smartsheet_oauth2": [
              "READ_SHEETS"
            ]
          }
        ]
      }
    },
    "/contacts": {
      "get": {
        "tags": [
          "contacts"
        ],
        "description": "Gets a list of the user's Smartsheet Contacts",
        "operationId": "listContacts",
        "parameters": [
          {
            "name": "pageSize",
            "in": "query",
            "description": "The maximum number of items to return per page. Defaults to\n100.\n",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "page",
            "in": "query",
            "description": "Which page to return. Defaults to 1 if not specified.\n",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "includeAll",
            "in": "query",
            "description": "If true, include all results (i.e. do not paginate).\n",
            "schema": {
              "type": "string",
              "enum": [
                "true"
              ]
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Returns an IndexResult object containing an array of Contact objects.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/IndexResult"
                }
              }
            }
          }
        },
        "security": [
          {
            "generated_bearer_token": []
          },
          {
            "smartsheet_oauth2": [
              "READ_CONTACTS"
            ]
          }
        ]
      }
    },
    "/favorites": {
      "get": {
        "tags": [
          "favorites"
        ],
        "description": "Gets a list of all the user's Favorite items.",
        "operationId": "listFavorites",
        "parameters": [
          {
            "name": "pageSize",
            "in": "query",
            "description": "The maximum number of items to return per page. Defaults to\n100.\n",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "page",
            "in": "query",
            "description": "Which page to return. Defaults to 1 if not specified.\n",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "includeAll",
            "in": "query",
            "description": "If true, include all results (i.e. do not paginate).\n",
            "schema": {
              "type": "string",
              "enum": [
                "true"
              ]
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Returns an IndexResult object containing an array of Favorite objects",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/IndexResult"
                }
              }
            }
          }
        },
        "security": [
          {
            "generated_bearer_token": []
          },
          {
            "smartsheet_oauth2": [
              "READ_SHEETS"
            ]
          }
        ]
      },
      "post": {
        "tags": [
          "favorites"
        ],
        "description": "Adds one or more items to the user's list of Favorite items. This operation supports both single-object and bulk semantics. If called with a single Favorite object, and that favorite already exists, error code 1129 will be returned. If called with an array of Favorite objects, any objects specified in the array that are already marked as favorites will be ignored and ommitted from the response.",
        "operationId": "addFavorites",
        "requestBody": {
          "description": "Array of one or more Favorite objects",
          "content": {
            "application/json": {
              "schema": {
                "type": "array",
                "items": {
                  "$ref": "#/components/schemas/Favorite"
                }
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Returns a Result object containing object(s) that were marked as favorites -- either a single Favorite object, or an array of Favorite objects, corresponding to what was specified in the request.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Result"
                }
              }
            }
          }
        },
        "security": [
          {
            "generated_bearer_token": []
          },
          {
            "smartsheet_oauth2": [
              "ADMIN_WORKSPACES"
            ]
          }
        ],
        "x-codegen-request-body-name": "JSON"
      }
    },
    "/serverinfo": {
      "get": {
        "tags": [
          "server"
        ],
        "description": "Get application constants.",
        "operationId": "serverInfo",
        "responses": {
          "200": {
            "description": "Returns a ServerInfo object",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ServerInfo"
                }
              }
            }
          }
        }
      }
    },
    "/users/sheets": {
      "get": {
        "tags": [
          "users"
        ],
        "description": "Get the list of all Sheets owned by the members of the account (organization).",
        "operationId": "listOrgSheets",
        "responses": {
          "200": {
            "description": "Returns an IndexResult object",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/IndexResult"
                }
              }
            }
          }
        },
        "security": [
          {
            "generated_bearer_token": []
          },
          {
            "smartsheet_oauth2": [
              "ADMIN_USERS"
            ]
          }
        ]
      }
    },
    "/home/folders": {
      "get": {
        "tags": [
          "home"
        ],
        "description": "Gets a list of top-level child folders within the user's Sheets folder",
        "operationId": "listFolders",
        "parameters": [
          {
            "name": "pageSize",
            "in": "query",
            "description": "The maximum number of items to return per page. Defaults to\n100.\n",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "page",
            "in": "query",
            "description": "Which page to return. Defaults to 1 if not specified.\n",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "includeAll",
            "in": "query",
            "description": "If true, include all results (i.e. do not paginate).\n",
            "schema": {
              "type": "string",
              "enum": [
                "true"
              ]
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Returns an IndexResult object",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/IndexResult"
                }
              }
            }
          }
        },
        "security": [
          {
            "generated_bearer_token": []
          },
          {
            "smartsheet_oauth2": [
              "READ_SHEETS"
            ]
          }
        ]
      },
      "post": {
        "tags": [
          "home"
        ],
        "description": "Creates a Folder in the user's Sheets folder (Home).",
        "operationId": "createFolder",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/Folder"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Returns a Result object",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Result"
                }
              }
            }
          }
        },
        "security": [
          {
            "generated_bearer_token": []
          },
          {
            "smartsheet_oauth2": [
              "ADMIN_WORKSPACES"
            ]
          }
        ],
        "x-codegen-request-body-name": "JSON"
      }
    },
    "/groups/{groupId}": {
      "get": {
        "tags": [
          "groups"
        ],
        "description": "Get the specified Group.",
        "operationId": "getGroup",
        "parameters": [
          {
            "name": "groupId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Returns a Group object that includes the list of GroupMembers",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Group"
                }
              }
            }
          }
        },
        "security": [
          {
            "generated_bearer_token": []
          },
          {
            "smartsheet_oauth2": [
              "READ_USERS"
            ]
          }
        ]
      },
      "put": {
        "tags": [
          "groups"
        ],
        "description": "Updates the specified Group.",
        "operationId": "updateGroup",
        "parameters": [
          {
            "name": "groupId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Returns a Result object containing the Group object for the updated group.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Result"
                }
              }
            }
          }
        },
        "security": [
          {
            "generated_bearer_token": []
          },
          {
            "smartsheet_oauth2": [
              "ADMIN_USERS"
            ]
          }
        ]
      },
      "delete": {
        "tags": [
          "groups"
        ],
        "description": "Delete the specified Group.",
        "operationId": "deleteGroup",
        "parameters": [
          {
            "name": "groupId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Returns a Result object",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Result"
                }
              }
            }
          }
        },
        "security": [
          {
            "generated_bearer_token": []
          },
          {
            "smartsheet_oauth2": [
              "ADMIN_USERS"
            ]
          }
        ]
      }
    },
    "/sheets/{sheetId}": {
      "get": {
        "tags": [
          "sheets"
        ],
        "description": "Get the specified Sheet. Returns the Sheet, including Rows, and optionally populated with Discussion and Attachment objects.",
        "operationId": "getSheet",
        "parameters": [
          {
            "name": "sheetId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          },
          {
            "name": "include",
            "in": "query",
            "description": "A comma-separated list of optional elements to include in\nthe response. Valid list values: attachments, discussions,\nformat, filters, ownerInfo, source.\n",
            "style": "form",
            "explode": false,
            "schema": {
              "type": "array",
              "items": {
                "type": "string"
              }
            }
          },
          {
            "name": "exclude",
            "in": "query",
            "description": "Response will not include cells that have never contained\nany data.\n",
            "schema": {
              "type": "string",
              "enum": [
                "nonexistentCells"
              ]
            }
          },
          {
            "name": "rowIds",
            "in": "query",
            "description": "comma-separated list of Row IDs on which to filter the rows\nincluded in the result.\n",
            "style": "form",
            "explode": false,
            "schema": {
              "type": "array",
              "items": {
                "type": "integer",
                "format": "int64"
              }
            }
          },
          {
            "name": "rowNumbers",
            "in": "query",
            "description": "comma-separated list of Row numbers on which to filter the\nrows included in the result. Non-existent row numbers are\nignored.\n",
            "style": "form",
            "explode": false,
            "schema": {
              "type": "array",
              "items": {
                "type": "integer",
                "format": "int64"
              }
            }
          },
          {
            "name": "columnIds",
            "in": "query",
            "description": "comma-separated list of Column IDs. The response will\ncontain only the specified columns in the 'columns' array,\nand individual rows' 'cells' array will only contain cells\nin the specified columns.\n",
            "style": "form",
            "explode": false,
            "schema": {
              "type": "array",
              "items": {
                "type": "integer",
                "format": "int64"
              }
            }
          },
          {
            "name": "pageSize",
            "in": "query",
            "description": "The maximum number of items to return per page. Defaults to\n100.\n",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "page",
            "in": "query",
            "description": "Which page to return. Defaults to 1 if not specified.\n",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "Accept",
            "in": "header",
            "schema": {
              "type": "string",
              "enum": [
                "application/vnd.ms-excel",
                "text/csv",
                "application/pdf"
              ]
            }
          },
          {
            "name": "paperSize",
            "in": "query",
            "description": "Applies to PDF only. One of: LETTER, LEGAL, WIDE, ARCHD, A4,\nA3, A2, A1, A0\n",
            "schema": {
              "type": "string",
              "enum": [
                "LETTER",
                "LEGAL",
                "WIDE",
                "ARCHD",
                "A4",
                "A3",
                "A2",
                "A1",
                "A0"
              ]
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Returns a Result object, or a file.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Result"
                }
              }
            }
          }
        },
        "security": [
          {
            "generated_bearer_token": []
          },
          {
            "smartsheet_oauth2": [
              "READ_SHEETS"
            ]
          }
        ]
      },
      "put": {
        "tags": [
          "sheets"
        ],
        "description": "Updates the specified Sheet.",
        "operationId": "updateSheet",
        "parameters": [
          {
            "name": "sheetId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/Sheet"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Returns a Result object",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Result"
                }
              }
            }
          }
        },
        "security": [
          {
            "generated_bearer_token": []
          },
          {
            "smartsheet_oauth2": [
              "ADMIN_SHEETS"
            ]
          }
        ],
        "x-codegen-request-body-name": "JSON"
      },
      "delete": {
        "tags": [
          "sheets"
        ],
        "description": "Deletes the specified Sheet.",
        "operationId": "deleteSheet",
        "parameters": [
          {
            "name": "sheetId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Returns a Result object",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Result"
                }
              }
            }
          }
        },
        "security": [
          {
            "generated_bearer_token": []
          },
          {
            "smartsheet_oauth2": [
              "DELETE_SHEETS"
            ]
          }
        ]
      }
    },
    "/folders/{folderId}": {
      "get": {
        "tags": [
          "folders"
        ],
        "description": "Gets the specified Folder (and lists its contents).",
        "operationId": "getFolder",
        "parameters": [
          {
            "name": "folderId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          },
          {
            "name": "include",
            "in": "query",
            "description": "A comma-separated list of optional elements to include in\nthe response. Valid list values: ownerInfo, source.\n",
            "style": "form",
            "explode": false,
            "schema": {
              "type": "array",
              "items": {
                "type": "string"
              }
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Returns a Folder object, populated according to the include parameter.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Folder"
                }
              }
            }
          }
        },
        "security": [
          {
            "generated_bearer_token": []
          },
          {
            "smartsheet_oauth2": [
              "READ_SHEETS"
            ]
          }
        ]
      },
      "put": {
        "tags": [
          "folders"
        ],
        "description": "Updates the specified Folder",
        "operationId": "updateFolder",
        "parameters": [
          {
            "name": "folderId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/Folder"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Returns a Result object containing the updated Folder object.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Result"
                }
              }
            }
          }
        },
        "security": [
          {
            "generated_bearer_token": []
          },
          {
            "smartsheet_oauth2": [
              "ADMIN_WORKSPACES"
            ]
          }
        ],
        "x-codegen-request-body-name": "JSON"
      },
      "delete": {
        "tags": [
          "folders"
        ],
        "description": "Deletes the Folder (and its contents) specified in the request.",
        "operationId": "deleteFolder",
        "parameters": [
          {
            "name": "folderId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Returns a Result object",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Result"
                }
              }
            }
          }
        },
        "security": [
          {
            "generated_bearer_token": []
          },
          {
            "smartsheet_oauth2": [
              "ADMIN_WORKSPACES"
            ]
          }
        ]
      }
    },
    "/reports/{reportId}": {
      "get": {
        "tags": [
          "reports"
        ],
        "description": "Gets the specified Report, including one page of Rows, and optionally populated with Discussions, Attachments, and Source Sheets",
        "operationId": "getReport",
        "parameters": [
          {
            "name": "reportId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          },
          {
            "name": "pageSize",
            "in": "query",
            "description": "The maximum number of items to return per page. Defaults to\n100.\n",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "page",
            "in": "query",
            "description": "Which page to return. Defaults to 1 if not specified.\n",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "include",
            "in": "query",
            "description": "A comma-separated list of optional elements to include in\nthe response. Valid list values: discussions, attachments,\nformat, sourceSheets.\n",
            "style": "form",
            "explode": false,
            "schema": {
              "type": "array",
              "items": {
                "type": "string"
              }
            }
          },
          {
            "name": "Accept",
            "in": "header",
            "schema": {
              "type": "string",
              "enum": [
                "application/vnd.ms-excel",
                "text/csv"
              ]
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Returns a Report object, populated according to the include parameter and Accept header.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Report"
                }
              },
              "application/vnd.ms-excel": {
                "schema": {
                  "$ref": "#/components/schemas/Report"
                }
              },
              "application/text/csv": {
                "schema": {
                  "$ref": "#/components/schemas/Report"
                }
              }
            }
          }
        },
        "security": [
          {
            "generated_bearer_token": []
          },
          {
            "smartsheet_oauth2": [
              "READ_SHEETS"
            ]
          }
        ]
      }
    },
    "/favorites/sheet": {
      "delete": {
        "tags": [
          "sheets",
          "favorites"
        ],
        "description": "Removes multiple Sheets from the user's list of Favorite items.",
        "operationId": "removeFavoriteSheets",
        "parameters": [
          {
            "name": "objectIds",
            "in": "query",
            "description": "a comma-separated list of object IDs representing the items\nto work on.\n",
            "required": true,
            "style": "form",
            "explode": false,
            "schema": {
              "type": "array",
              "items": {
                "type": "integer",
                "format": "int64"
              }
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Returns a Result object",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Result"
                }
              }
            }
          }
        },
        "security": [
          {
            "generated_bearer_token": []
          },
          {
            "smartsheet_oauth2": [
              "ADMIN_WORKSPACES"
            ]
          }
        ]
      }
    },
    "/favorites/folder": {
      "delete": {
        "tags": [
          "folders",
          "favorites"
        ],
        "description": "Removes multiple Folders from the user's list of Favorite items.",
        "operationId": "removeFavoriteFolders",
        "parameters": [
          {
            "name": "objectIds",
            "in": "query",
            "description": "a comma-separated list of object IDs representing the items\nto work on.\n",
            "required": true,
            "style": "form",
            "explode": false,
            "schema": {
              "type": "array",
              "items": {
                "type": "integer",
                "format": "int64"
              }
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Returns a Result object",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Result"
                }
              }
            }
          }
        },
        "security": [
          {
            "generated_bearer_token": []
          },
          {
            "smartsheet_oauth2": [
              "ADMIN_WORKSPACES"
            ]
          }
        ]
      }
    },
    "/favorites/report": {
      "delete": {
        "tags": [
          "reports",
          "favorites"
        ],
        "description": "Removes multiple Reports from the user's list of Favorite items.",
        "operationId": "removeFavoriteReports",
        "parameters": [
          {
            "name": "objectIds",
            "in": "query",
            "description": "a comma-separated list of object IDs representing the items\nto work on.\n",
            "required": true,
            "style": "form",
            "explode": false,
            "schema": {
              "type": "array",
              "items": {
                "type": "integer",
                "format": "int64"
              }
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Returns a Result object",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Result"
                }
              }
            }
          }
        },
        "security": [
          {
            "generated_bearer_token": []
          },
          {
            "smartsheet_oauth2": [
              "ADMIN_WORKSPACES"
            ]
          }
        ]
      }
    },
    "/contacts/{contactId}": {
      "get": {
        "tags": [
          "contacts"
        ],
        "description": "Gets the specified Contact.",
        "operationId": "getContact",
        "parameters": [
          {
            "name": "contactId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Returns a Contact object.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Contact"
                }
              }
            }
          }
        },
        "security": [
          {
            "generated_bearer_token": []
          },
          {
            "smartsheet_oauth2": [
              "READ_CONTACTS"
            ]
          }
        ]
      }
    },
    "/favorites/template": {
      "delete": {
        "tags": [
          "templates",
          "favorites"
        ],
        "description": "Removes multiple Templates from the user's list of Favorite items.",
        "operationId": "removeFavoriteTemplates",
        "parameters": [
          {
            "name": "objectIds",
            "in": "query",
            "description": "a comma-separated list of object IDs representing the items\nto work on.\n",
            "required": true,
            "style": "form",
            "explode": false,
            "schema": {
              "type": "array",
              "items": {
                "type": "integer",
                "format": "int64"
              }
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Returns a Result object",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Result"
                }
              }
            }
          }
        },
        "security": [
          {
            "generated_bearer_token": []
          },
          {
            "smartsheet_oauth2": [
              "ADMIN_WORKSPACES"
            ]
          }
        ]
      }
    },
    "/sheets/{sheetId}/move": {
      "post": {
        "tags": [
          "sheets"
        ],
        "description": "Move the specified Sheet to a new location.",
        "operationId": "moveSheet",
        "parameters": [
          {
            "name": "sheetId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ContainerDestination"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Returns a Result object",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Result"
                }
              }
            }
          }
        },
        "security": [
          {
            "generated_bearer_token": []
          },
          {
            "smartsheet_oauth2": [
              "CREATE_SHEETS"
            ]
          }
        ],
        "x-codegen-request-body-name": "JSON"
      }
    },
    "/sheets/{sheetId}/copy": {
      "post": {
        "tags": [
          "sheets"
        ],
        "description": "Creates a copy of the specified Sheet",
        "operationId": "copySheet",
        "parameters": [
          {
            "name": "sheetId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          },
          {
            "name": "include",
            "in": "query",
            "description": "A comma-separated list of optional elements to include in\nthe response. Valid list values: data, attachments,\ndiscussions, cellLinks, forms, all.\n",
            "style": "form",
            "explode": false,
            "schema": {
              "type": "array",
              "items": {
                "type": "string"
              }
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ContainerDestination"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Returns a Result object containing a Sheet object",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Result"
                }
              }
            }
          }
        },
        "security": [
          {
            "generated_bearer_token": []
          },
          {
            "smartsheet_oauth2": [
              "CREATE_SHEETS"
            ]
          }
        ],
        "x-codegen-request-body-name": "JSON"
      }
    },
    "/favorites/workspace": {
      "delete": {
        "tags": [
          "workspaces",
          "favorites"
        ],
        "description": "Removes multiple Workspaces from the user's list of Favorite items.",
        "operationId": "removeFavoriteWorkspaces",
        "parameters": [
          {
            "name": "objectIds",
            "in": "query",
            "description": "a comma-separated list of object IDs representing the items\nto work on.\n",
            "required": true,
            "style": "form",
            "explode": false,
            "schema": {
              "type": "array",
              "items": {
                "type": "integer",
                "format": "int64"
              }
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Returns a Result object",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Result"
                }
              }
            }
          }
        },
        "security": [
          {
            "generated_bearer_token": []
          },
          {
            "smartsheet_oauth2": [
              "ADMIN_WORKSPACES"
            ]
          }
        ]
      }
    },
    "/search/sheets/{sheetId}": {
      "get": {
        "tags": [
          "search"
        ],
        "description": "Searches the specified Sheet for the specified text.",
        "operationId": "searchSheet",
        "parameters": [
          {
            "name": "sheetId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          },
          {
            "name": "query",
            "in": "query",
            "description": "Text with which to perform the search.",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Returns a SearchResult object containing a maximum of 100 SearchResultItems",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SearchResult"
                }
              }
            }
          }
        },
        "security": [
          {
            "generated_bearer_token": []
          },
          {
            "smartsheet_oauth2": [
              "READ_SHEETS"
            ]
          }
        ]
      }
    },
    "/sheets/{sheetId}/shares": {
      "get": {
        "tags": [
          "sheets"
        ],
        "description": "Delete the specified Share.",
        "operationId": "listSheetShares",
        "parameters": [
          {
            "name": "sheetId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          },
          {
            "name": "pageSize",
            "in": "query",
            "description": "The maximum number of items to return per page. Defaults to\n100.\n",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "page",
            "in": "query",
            "description": "Which page to return. Defaults to 1 if not specified.\n",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "includeAll",
            "in": "query",
            "description": "If true, include all results (i.e. do not paginate).\n",
            "schema": {
              "type": "string",
              "enum": [
                "true"
              ]
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Returns an IndexResult object",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/IndexResult"
                }
              }
            },
            "x-indexresult": [
              "Share"
            ]
          }
        },
        "security": [
          {
            "generated_bearer_token": []
          },
          {
            "smartsheet_oauth2": [
              "READ_SHEETS"
            ]
          }
        ]
      },
      "post": {
        "tags": [
          "sheets"
        ],
        "description": "Share the specified Sheet with the specified Users and Groups.",
        "operationId": "shareSheet",
        "parameters": [
          {
            "name": "sheetId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          },
          {
            "name": "sendEmail",
            "in": "query",
            "description": "Either true or false to indicate whether or not to notify\nthe user by email. Default is false.\n",
            "schema": {
              "type": "boolean",
              "default": false
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/Share"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Returns a Result object",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Result"
                }
              }
            },
            "x-result": [
              "Array",
              "Share"
            ]
          }
        },
        "security": [
          {
            "generated_bearer_token": []
          },
          {
            "smartsheet_oauth2": [
              "SHARE_SHEETS"
            ]
          }
        ],
        "x-body-types": [
          "Array",
          "Share"
        ],
        "x-codegen-request-body-name": "JSON"
      }
    },
    "/sheets/{sheetId}/columns": {
      "get": {
        "tags": [
          "sheets"
        ],
        "description": "Get all columns belonging to the specified Sheet.",
        "operationId": "getColumns",
        "parameters": [
          {
            "name": "sheetId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          },
          {
            "name": "include",
            "in": "query",
            "description": "When specified with a value of 'filters', response will\ninclude the Filter the user has applied (if any).\n",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Returns an IndexResult object",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/IndexResult"
                }
              }
            }
          }
        },
        "security": [
          {
            "generated_bearer_token": []
          },
          {
            "smartsheet_oauth2": [
              "READ_SHEETS"
            ]
          }
        ]
      },
      "post": {
        "tags": [
          "sheets"
        ],
        "description": "Insert one or more Columns into the specified Sheet",
        "operationId": "addColumns",
        "parameters": [
          {
            "name": "sheetId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/Column"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Returns a Result object",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Result"
                }
              }
            }
          }
        },
        "security": [
          {
            "generated_bearer_token": []
          },
          {
            "smartsheet_oauth2": [
              "ADMIN_SHEETS"
            ]
          }
        ],
        "x-codegen-request-body-name": "JSON"
      }
    },
    "/sheets/{sheetId}/version": {
      "get": {
        "tags": [
          "sheets"
        ],
        "description": "Get the Sheet version without loading the entire Sheet.",
        "operationId": "getSheetVersion",
        "parameters": [
          {
            "name": "sheetId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Returns a Version object",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Version"
                }
              }
            }
          }
        },
        "security": [
          {
            "generated_bearer_token": []
          },
          {
            "smartsheet_oauth2": [
              "READ_SHEETS"
            ]
          }
        ]
      }
    },
    "/folders/{folderId}/copy": {
      "post": {
        "tags": [
          "folders"
        ],
        "description": "Creates a copy of the specified Folder.",
        "operationId": "copyFolder",
        "parameters": [
          {
            "name": "folderId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          },
          {
            "name": "include",
            "in": "query",
            "description": "A comma separated list of elements to copy. Valid list items: data, attachments, discussions, cellLinks, forms, all",
            "style": "form",
            "explode": false,
            "schema": {
              "type": "array",
              "items": {
                "type": "string"
              }
            }
          },
          {
            "name": "skipRemap",
            "in": "query",
            "description": "A comma separated list of references to NOT re-map for the newly created folder. Valid list items: cellLinks, reports",
            "style": "form",
            "explode": false,
            "schema": {
              "type": "array",
              "items": {
                "type": "string"
              }
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ContainerDestination"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Returns a Result object containing a Folder object for the newly created folder.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Result"
                }
              }
            }
          }
        },
        "security": [
          {
            "generated_bearer_token": []
          },
          {
            "smartsheet_oauth2": [
              "ADMIN_WORKSPACES"
            ]
          }
        ],
        "x-codegen-request-body-name": "JSON"
      }
    },
    "/folders/{folderId}/move": {
      "post": {
        "tags": [
          "folders"
        ],
        "description": "Moves the specified Folder to another location.",
        "operationId": "moveFolder",
        "parameters": [
          {
            "name": "folderId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ContainerDestination"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Returns a Result object containing a Folder object for the moved Folder.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Result"
                }
              }
            }
          }
        },
        "security": [
          {
            "generated_bearer_token": []
          },
          {
            "smartsheet_oauth2": [
              "ADMIN_WORKSPACES"
            ]
          }
        ],
        "x-codegen-request-body-name": "JSON"
      }
    },
    "/sheets/{sheetId}/emails": {
      "post": {
        "tags": [
          "sheets"
        ],
        "description": "Sends the sheet as a PDF attachment via email to the designated recipients.",
        "operationId": "sendSheetViaEmail",
        "parameters": [
          {
            "name": "sheetId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/SheetEmail"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Returns a Result object",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Result"
                }
              }
            }
          }
        },
        "security": [
          {
            "generated_bearer_token": []
          },
          {
            "smartsheet_oauth2": [
              "SHARE_SHEETS"
            ]
          }
        ],
        "x-codegen-request-body-name": "JSON"
      }
    },
    "/sheets/{sheetId}/publish": {
      "get": {
        "tags": [
          "sheets"
        ],
        "description": "Get the status of the Publish settings of the Sheet, including URLs of any enabled publishings.",
        "operationId": "getSheetPublishStatus",
        "parameters": [
          {
            "name": "sheetId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Returns a SheetPublish object",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SheetPublish"
                }
              }
            }
          }
        },
        "security": [
          {
            "generated_bearer_token": []
          },
          {
            "smartsheet_oauth2": [
              "READ_SHEETS"
            ]
          }
        ]
      },
      "put": {
        "tags": [
          "sheets"
        ],
        "description": "Set the publish status of the Sheet and returns the new status, including the URLs of any enabled publishings.",
        "operationId": "setSheetPublishStatus",
        "parameters": [
          {
            "name": "sheetId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/SheetPublish"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Returns a Result object",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Result"
                }
              }
            }
          }
        },
        "security": [
          {
            "generated_bearer_token": []
          },
          {
            "smartsheet_oauth2": [
              "ADMIN_SHEETS"
            ]
          }
        ],
        "x-codegen-request-body-name": "JSON"
      }
    },
    "/reports/{reportId}/shares": {
      "get": {
        "tags": [
          "reports"
        ],
        "description": "Get a list of all Users and Groups to whom the specified Report is shared, and their access level.",
        "operationId": "listReportShares",
        "parameters": [
          {
            "name": "reportId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          },
          {
            "name": "pageSize",
            "in": "query",
            "description": "The maximum number of items to return per page. Defaults to\n100.\n",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "page",
            "in": "query",
            "description": "Which page to return. Defaults to 1 if not specified.\n",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "includeAll",
            "in": "query",
            "description": "If true, include all results (i.e. do not paginate).\n",
            "schema": {
              "type": "string",
              "enum": [
                "true"
              ]
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Returns an IndexResult object",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/IndexResult"
                }
              }
            }
          }
        },
        "security": [
          {
            "generated_bearer_token": []
          },
          {
            "smartsheet_oauth2": [
              "READ_SHEETS"
            ]
          }
        ]
      },
      "post": {
        "tags": [
          "reports"
        ],
        "description": "Shares a Report with the specified Users and Groups.",
        "operationId": "shareReport",
        "parameters": [
          {
            "name": "reportId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          },
          {
            "name": "sendEmail",
            "in": "query",
            "description": "Either true or false to indicate whether or not to notify\nthe user by email. Default is false.\n",
            "schema": {
              "type": "boolean",
              "default": false
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/Share"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Returns a Result object",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Result"
                }
              }
            },
            "x-result": [
              "Array",
              "Share"
            ]
          }
        },
        "security": [
          {
            "generated_bearer_token": []
          },
          {
            "smartsheet_oauth2": [
              "SHARE_SHEETS"
            ]
          }
        ],
        "x-body-types": [
          "Array",
          "Share"
        ],
        "x-codegen-request-body-name": "JSON"
      }
    },
    "/groups/{groupId}/members": {
      "post": {
        "tags": [
          "groups"
        ],
        "description": "Add one or more members to a Group.",
        "operationId": "addGroupMembers",
        "parameters": [
          {
            "name": "groupId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Returns a Result object",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Result"
                }
              }
            }
          }
        },
        "security": [
          {
            "generated_bearer_token": []
          },
          {
            "smartsheet_oauth2": [
              "ADMIN_USERS"
            ]
          }
        ]
      }
    },
    "/reports/{reportId}/emails": {
      "post": {
        "tags": [
          "reports"
        ],
        "description": "Send the specified Report as a PDF attachment via email to the designated recipients.",
        "operationId": "sendReportViaEmail",
        "parameters": [
          {
            "name": "reportId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/SheetEmail"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Returns a Result object",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Result"
                }
              }
            }
          }
        },
        "security": [
          {
            "generated_bearer_token": []
          },
          {
            "smartsheet_oauth2": [
              "SHARE_SHEETS"
            ]
          }
        ],
        "x-codegen-request-body-name": "JSON"
      }
    },
    "/folders/{folderId}/sheets": {
      "post": {
        "tags": [
          "folders",
          "sheets"
        ],
        "description": "Creates a Sheet from scratch in the specified Folder",
        "operationId": "createSheetInFolder",
        "parameters": [
          {
            "name": "folderId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/Sheet"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Returns a Result object containing a Sheet object for the newly created Sheet.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Result"
                }
              }
            }
          }
        },
        "security": [
          {
            "generated_bearer_token": []
          },
          {
            "smartsheet_oauth2": [
              "CREATE_SHEETS"
            ]
          }
        ],
        "x-codegen-request-body-name": "JSON"
      }
    },
    "/folders/{folderId}/folders": {
      "get": {
        "tags": [
          "folders"
        ],
        "description": "Gets a list of top-level child Folders within the specified Folder.",
        "operationId": "listSubFolders",
        "parameters": [
          {
            "name": "folderId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          },
          {
            "name": "pageSize",
            "in": "query",
            "description": "The maximum number of items to return per page. Defaults to\n100.\n",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "page",
            "in": "query",
            "description": "Which page to return. Defaults to 1 if not specified.\n",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "includeAll",
            "in": "query",
            "description": "If true, include all results (i.e. do not paginate).\n",
            "schema": {
              "type": "string",
              "enum": [
                "true"
              ]
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Returns an IndexResult object containing an array of Folder objects, limited to the following attributes: id, name, permalink",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/IndexResult"
                }
              }
            }
          }
        },
        "security": [
          {
            "generated_bearer_token": []
          },
          {
            "smartsheet_oauth2": [
              "READ_SHEETS"
            ]
          }
        ]
      },
      "post": {
        "tags": [
          "folders"
        ],
        "description": "Creates a Folder in the specified Folder",
        "operationId": "createSubFolder",
        "parameters": [
          {
            "name": "folderId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/Folder"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Returns a Result object",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Result"
                }
              }
            }
          }
        },
        "security": [
          {
            "generated_bearer_token": []
          },
          {
            "smartsheet_oauth2": [
              "ADMIN_WORKSPACES"
            ]
          }
        ],
        "x-codegen-request-body-name": "JSON"
      }
    },
    "/favorites/sheet/{sheetId}": {
      "delete": {
        "tags": [
          "sheets",
          "favorites"
        ],
        "description": "Removes a single Sheet from the user's list of Favorite items.",
        "operationId": "removeFavoriteSheet",
        "parameters": [
          {
            "name": "sheetId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Returns a Result object",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Result"
                }
              }
            }
          }
        },
        "security": [
          {
            "generated_bearer_token": []
          },
          {
            "smartsheet_oauth2": [
              "ADMIN_WORKSPACES"
            ]
          }
        ]
      }
    },
    "/sheets/{sheetId}/attachments": {
      "get": {
        "tags": [
          "sheets"
        ],
        "description": "Get a list of all Attachments for the specified Sheet, including Sheet, Row, and Discussion level Attachments.",
        "operationId": "listSheetAttachments",
        "parameters": [
          {
            "name": "sheetId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          },
          {
            "name": "pageSize",
            "in": "query",
            "description": "The maximum number of items to return per page. Defaults to\n100.\n",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "page",
            "in": "query",
            "description": "Which page to return. Defaults to 1 if not specified.\n",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "includeAll",
            "in": "query",
            "description": "If true, include all results (i.e. do not paginate).\n",
            "schema": {
              "type": "string",
              "enum": [
                "true"
              ]
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Returns an IndexResult object",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/IndexResult"
                }
              }
            }
          }
        },
        "security": [
          {
            "generated_bearer_token": []
          },
          {
            "smartsheet_oauth2": [
              "READ_SHEETS"
            ]
          }
        ]
      },
      "post": {
        "tags": [
          "sheets"
        ],
        "description": "Attach a file to the specified Sheet.",
        "operationId": "attachFileToSheet",
        "parameters": [
          {
            "name": "sheetId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          },
          {
            "name": "Content-Type",
            "in": "header",
            "schema": {
              "type": "string",
              "enum": [
                "application/atom+xml",
                "application/calendar+xml",
                "application/calendar+json",
                "application/epub+zip",
                "application/gzip",
                "application/json",
                "application/ld+json",
                "application/pdf",
                "application/vnd.ms-excel",
                "application/vnd.ms-powerpoint",
                "application/vnd.ms-project",
                "application/vnd.ms-word",
                "application/xml",
                "application/zip",
                "audio/mpeg",
                "audio/mp4",
                "audio/x-wav",
                "audio/vnd.wave",
                "audio/wav",
                "audio/wave",
                "audio/MPA",
                "audio/mpa-robust",
                "image/gif",
                "image/jpeg",
                "image/png",
                "image/tiff",
                "image/vnd.adobe.photoshop",
                "image/svg+xml",
                "multipart/form-data",
                "text/calendar",
                "text/csv",
                "text/plain",
                "text/rtf",
                "text/vcard",
                "text/vnd.graphviz"
              ]
            }
          }
        ],
        "requestBody": {
          "content": {
            "*/*": {
              "schema": {
                "$ref": "#/components/schemas/Attachment"
              }
            }
          },
          "required": false
        },
        "responses": {
          "200": {
            "description": "Returns a Result object",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Result"
                }
              }
            }
          }
        },
        "security": [
          {
            "generated_bearer_token": []
          },
          {
            "smartsheet_oauth2": [
              "WRITE_SHEETS"
            ]
          }
        ],
        "x-codegen-request-body-name": "JSON"
      }
    },
    "/sheets/{sheetId}/rows/emails": {
      "post": {
        "tags": [
          "sheets"
        ],
        "description": "Send one or more rows via email",
        "operationId": "sendRowsViaEmail",
        "parameters": [
          {
            "name": "sheetId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/MultiRowEmail"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Returns a Result object",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Result"
                }
              }
            }
          }
        },
        "security": [
          {
            "generated_bearer_token": []
          },
          {
            "smartsheet_oauth2": [
              "SHARE_SHEETS"
            ]
          }
        ],
        "x-codegen-request-body-name": "JSON"
      }
    },
    "/favorites/folder/{folderId}": {
      "delete": {
        "tags": [
          "folders",
          "favorites"
        ],
        "description": "Removes a single Folder from the user's list of Favorite items.",
        "operationId": "removeFavoriteFolder",
        "parameters": [
          {
            "name": "folderId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Returns a Result object",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Result"
                }
              }
            }
          }
        },
        "security": [
          {
            "generated_bearer_token": []
          },
          {
            "smartsheet_oauth2": [
              "ADMIN_WORKSPACES"
            ]
          }
        ]
      }
    },
    "/favorites/report/{reportId}": {
      "delete": {
        "tags": [
          "reports",
          "favorites"
        ],
        "description": "Removes a single Report from the user's list of Favorite items.",
        "operationId": "removeFavoriteReport",
        "parameters": [
          {
            "name": "reportId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Returns a Result object",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Result"
                }
              }
            }
          }
        },
        "security": [
          {
            "generated_bearer_token": []
          },
          {
            "smartsheet_oauth2": [
              "ADMIN_WORKSPACES"
            ]
          }
        ]
      }
    },
    "/workspaces/{workspaceId}/shares": {
      "get": {
        "tags": [
          "workspaces"
        ],
        "description": "Get a list of all Users and Groups to whom the specified Workspace is shared, and their access level.",
        "operationId": "listWorkspaceShares",
        "parameters": [
          {
            "name": "workspaceId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Returns an IndexResult object",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/IndexResult"
                }
              }
            },
            "x-indexresult": [
              {
                "type": "array",
                "items": {
                  "$ref": "#/definitions/Share"
                }
              }
            ]
          }
        },
        "security": [
          {
            "generated_bearer_token": []
          },
          {
            "smartsheet_oauth2": [
              "READ_SHEETS"
            ]
          }
        ]
      },
      "post": {
        "tags": [
          "workspaces"
        ],
        "description": "Share a Workspace with the specified Users and Groups.",
        "operationId": "shareWorkspace",
        "parameters": [
          {
            "name": "workspaceId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          },
          {
            "name": "sendEmail",
            "in": "query",
            "description": "Either true or false to indicate whether or not to notify\nthe user by email. Default is false.\n",
            "schema": {
              "type": "boolean",
              "default": false
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/Share"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Returns a Result object",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Result"
                }
              }
            }
          }
        },
        "security": [
          {
            "generated_bearer_token": []
          },
          {
            "smartsheet_oauth2": [
              "ADMIN_WORKSPACES"
            ]
          }
        ],
        "x-codegen-request-body-name": "JSON"
      }
    },
    "/sheets/{sheetId}/updaterequests": {
      "post": {
        "tags": [
          "sheets"
        ],
        "description": "Create an Update Request for the specified Row(s) within the Sheet. An email notification (containing a link to the update request) will be asynchronously send to the specified recipient(s).",
        "operationId": "sendUpdateRequest",
        "parameters": [
          {
            "name": "sheetId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/MultiRowEmail"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Returns a Result object",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Result"
                }
              }
            },
            "x-result": [
              "UpdateRequest"
            ]
          }
        },
        "security": [
          {
            "generated_bearer_token": []
          },
          {
            "smartsheet_oauth2": [
              "WRITE_SHEETS"
            ]
          }
        ],
        "x-codegen-request-body-name": "JSON"
      }
    },
    "/sheets/{sheetId}/shares/{shareId}": {
      "get": {
        "tags": [
          "sheets"
        ],
        "description": "Get the specified Share.",
        "operationId": "getSheetShare",
        "parameters": [
          {
            "name": "sheetId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          },
          {
            "name": "shareId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Returns a Share object",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Share"
                }
              }
            }
          }
        },
        "security": [
          {
            "generated_bearer_token": []
          },
          {
            "smartsheet_oauth2": [
              "READ_SHEETS"
            ]
          }
        ]
      },
      "put": {
        "tags": [
          "sheets"
        ],
        "description": "Update the access level of a User or Group for the specified Sheet.",
        "operationId": "updateSheetShare",
        "parameters": [
          {
            "name": "sheetId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          },
          {
            "name": "shareId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/Share"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Returns a Result object",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Result"
                }
              }
            },
            "x-result": [
              "Share"
            ]
          }
        },
        "security": [
          {
            "generated_bearer_token": []
          },
          {
            "smartsheet_oauth2": [
              "SHARE_SHEETS"
            ]
          }
        ],
        "x-codegen-request-body-name": "JSON"
      },
      "delete": {
        "tags": [
          "sheets"
        ],
        "description": "Delete the specified Share.",
        "operationId": "deleteSheetShare",
        "parameters": [
          {
            "name": "sheetId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          },
          {
            "name": "shareId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Returns a Result object",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Result"
                }
              }
            }
          }
        },
        "security": [
          {
            "generated_bearer_token": []
          },
          {
            "smartsheet_oauth2": [
              "SHARE_SHEETS"
            ]
          }
        ]
      }
    },
    "/workspaces/{workspaceId}/folders": {
      "get": {
        "tags": [
          "workspaces"
        ],
        "description": "Gets a list of top-level child Folders within the specified Workspace.",
        "operationId": "listWorkspaceFolders",
        "parameters": [
          {
            "name": "workspaceId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          },
          {
            "name": "pageSize",
            "in": "query",
            "description": "The maximum number of items to return per page. Defaults to\n100.\n",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "page",
            "in": "query",
            "description": "Which page to return. Defaults to 1 if not specified.\n",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "includeAll",
            "in": "query",
            "description": "If true, include all results (i.e. do not paginate).\n",
            "schema": {
              "type": "string",
              "enum": [
                "true"
              ]
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Returns an IndexResult object containing an array of Folder objects, limited to the following attributes: id, name, permalink",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/IndexResult"
                }
              }
            }
          }
        },
        "security": [
          {
            "generated_bearer_token": []
          },
          {
            "smartsheet_oauth2": [
              "READ_SHEETS"
            ]
          }
        ]
      },
      "post": {
        "tags": [
          "workspaces"
        ],
        "description": "Creates a Folder in the specified Workspace",
        "operationId": "createWorkspaceFolder",
        "parameters": [
          {
            "name": "workspaceId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/Folder"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Returns a Result object containing a Folder object for the newly created Folder.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Result"
                }
              }
            }
          }
        },
        "security": [
          {
            "generated_bearer_token": []
          },
          {
            "smartsheet_oauth2": [
              "ADMIN_WORKSPACES"
            ]
          }
        ],
        "x-codegen-request-body-name": "JSON"
      }
    },
    "/workspaces/{workspaceId}/sheets": {
      "post": {
        "tags": [
          "workspaces"
        ],
        "description": "Create a Sheet from scratch at the top-level of the specified Workspace.",
        "operationId": "createSheetInWorkspace",
        "parameters": [
          {
            "name": "workspaceId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/Sheet"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Returns a Result object",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Result"
                }
              }
            }
          }
        },
        "security": [
          {
            "generated_bearer_token": []
          },
          {
            "smartsheet_oauth2": [
              "CREATE_SHEETS"
            ]
          }
        ],
        "x-codegen-request-body-name": "JSON"
      }
    },
    "/reports/{reportId}/shares/{shareId}": {
      "get": {
        "tags": [
          "reports"
        ],
        "description": "Get the specified Share.",
        "operationId": "getReportShare",
        "parameters": [
          {
            "name": "reportId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          },
          {
            "name": "shareId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Returns a Share object",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Share"
                }
              }
            }
          }
        },
        "security": [
          {
            "generated_bearer_token": []
          },
          {
            "smartsheet_oauth2": [
              "READ_SHEETS"
            ]
          }
        ]
      },
      "put": {
        "tags": [
          "reports"
        ],
        "description": "Update the access level of a User or Group for the specified Report",
        "operationId": "updateReportShare",
        "parameters": [
          {
            "name": "reportId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          },
          {
            "name": "shareId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/Share"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Returns a Result object",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Result"
                }
              }
            },
            "x-result": [
              {
                "type": "array",
                "items": {
                  "$ref": "#/definitions/Share"
                }
              },
              {
                "type": "object",
                "schema": {
                  "$ref": "#/definitions/Share"
                }
              }
            ]
          }
        },
        "security": [
          {
            "generated_bearer_token": []
          },
          {
            "smartsheet_oauth2": [
              "SHARE_SHEETS"
            ]
          }
        ],
        "x-body-types": [
          "Array",
          "Share"
        ],
        "x-codegen-request-body-name": "JSON"
      },
      "delete": {
        "tags": [
          "reports"
        ],
        "description": "Deletes the specified Share",
        "operationId": "deleteReportShare",
        "parameters": [
          {
            "name": "reportId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          },
          {
            "name": "shareId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Returns a Result object",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Result"
                }
              }
            }
          }
        },
        "security": [
          {
            "generated_bearer_token": []
          },
          {
            "smartsheet_oauth2": [
              "SHARE_SHEETS"
            ]
          }
        ]
      }
    },
    "/sheets/{sheetId}/columns/{columnId}": {
      "get": {
        "tags": [
          "sheets"
        ],
        "description": "Get the specified Column.",
        "operationId": "getColumn",
        "parameters": [
          {
            "name": "sheetId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          },
          {
            "name": "columnId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          },
          {
            "name": "include",
            "in": "query",
            "description": "When specified with a value of 'filters', response will\ninclude the Filter the user has applied (if any).\n",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Returns a Column object",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Column"
                }
              }
            }
          }
        },
        "security": [
          {
            "generated_bearer_token": []
          },
          {
            "smartsheet_oauth2": [
              "READ_SHEETS"
            ]
          }
        ]
      },
      "put": {
        "tags": [
          "sheets"
        ],
        "description": "Update properties of the specified Column.",
        "operationId": "updateColumn",
        "parameters": [
          {
            "name": "sheetId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          },
          {
            "name": "columnId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/Column"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Returns a Result object",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Result"
                }
              }
            }
          }
        },
        "security": [
          {
[...]
