{
  "openapi": "3.0.3",
  "info": {
    "title": "TomTom API",
    "version": "1.0.0",
    "description": "TomTom provides location-based products including Maps, Search, Routing, and Traffic APIs for developers building applications that need mapping, geocoding, route planning, and real-time traffic data.",
    "x-jentic-source-url": "https://developer.tomtom.com/",
    "contact": {
      "name": "API Support"
    }
  },
  "servers": [
    {
      "url": "https://api.tomtom.com"
    }
  ],
  "paths": {
    "/search/2/search/{query}.json": {
      "get": {
        "operationId": "fuzzySearch",
        "summary": "Fuzzy Search",
        "description": "Performs a free-form text search for addresses, places, and points of interest (POI). Combines street address, POI, and geographic searches.",
        "tags": [
          "Search"
        ],
        "parameters": [
          {
            "name": "query",
            "in": "path",
            "required": true,
            "description": "The search query string",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "key",
            "in": "query",
            "required": true,
            "description": "Your TomTom API key",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "description": "Maximum number of results",
            "schema": {
              "type": "integer",
              "default": 10,
              "maximum": 100
            }
          },
          {
            "name": "ofs",
            "in": "query",
            "required": false,
            "description": "Starting offset for results",
            "schema": {
              "type": "integer",
              "default": 0
            }
          },
          {
            "name": "lat",
            "in": "query",
            "required": false,
            "description": "Latitude for biasing results",
            "schema": {
              "type": "number",
              "format": "double"
            }
          },
          {
            "name": "lon",
            "in": "query",
            "required": false,
            "description": "Longitude for biasing results",
            "schema": {
              "type": "number",
              "format": "double"
            }
          },
          {
            "name": "radius",
            "in": "query",
            "required": false,
            "description": "Search radius in meters",
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "countrySet",
            "in": "query",
            "required": false,
            "description": "Comma-separated ISO 3166-1 alpha-2 country codes to limit results",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "language",
            "in": "query",
            "required": false,
            "description": "Language for results (e.g. en-US)",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "typeahead",
            "in": "query",
            "required": false,
            "description": "Enable typeahead mode for partial queries",
            "schema": {
              "type": "boolean",
              "default": false
            }
          },
          {
            "name": "categorySet",
            "in": "query",
            "required": false,
            "description": "Comma-separated POI category IDs",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful search response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SearchResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized - invalid API key",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/search/2/geocode/{query}.json": {
      "get": {
        "operationId": "geocode",
        "summary": "Geocode",
        "description": "Converts a street address into geographic coordinates (latitude/longitude).",
        "tags": [
          "Search"
        ],
        "parameters": [
          {
            "name": "query",
            "in": "path",
            "required": true,
            "description": "Address to geocode",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "key",
            "in": "query",
            "required": true,
            "description": "Your TomTom API key",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "description": "Maximum number of results",
            "schema": {
              "type": "integer",
              "default": 10
            }
          },
          {
            "name": "countrySet",
            "in": "query",
            "required": false,
            "description": "Comma-separated ISO 3166-1 alpha-2 country codes",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "language",
            "in": "query",
            "required": false,
            "description": "Language for results",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful geocode response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SearchResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/search/2/reverseGeocode/{position}.json": {
      "get": {
        "operationId": "reverseGeocode",
        "summary": "Reverse Geocode",
        "description": "Converts geographic coordinates into a human-readable street address.",
        "tags": [
          "Search"
        ],
        "parameters": [
          {
            "name": "position",
            "in": "path",
            "required": true,
            "description": "Position as lat,lon",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "key",
            "in": "query",
            "required": true,
            "description": "Your TomTom API key",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "language",
            "in": "query",
            "required": false,
            "description": "Language for results",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "returnSpeedLimit",
            "in": "query",
            "required": false,
            "description": "Include speed limit info",
            "schema": {
              "type": "boolean",
              "default": false
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful reverse geocode response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ReverseGeocodeResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/search/2/poiSearch/{query}.json": {
      "get": {
        "operationId": "poiSearch",
        "summary": "POI Search",
        "description": "Search for Points of Interest by name.",
        "tags": [
          "Search"
        ],
        "parameters": [
          {
            "name": "query",
            "in": "path",
            "required": true,
            "description": "POI search query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "key",
            "in": "query",
            "required": true,
            "description": "Your TomTom API key",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "description": "Maximum number of results",
            "schema": {
              "type": "integer",
              "default": 10,
              "maximum": 100
            }
          },
          {
            "name": "lat",
            "in": "query",
            "required": false,
            "description": "Latitude for biasing results",
            "schema": {
              "type": "number",
              "format": "double"
            }
          },
          {
            "name": "lon",
            "in": "query",
            "required": false,
            "description": "Longitude for biasing results",
            "schema": {
              "type": "number",
              "format": "double"
            }
          },
          {
            "name": "radius",
            "in": "query",
            "required": false,
            "description": "Search radius in meters",
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "categorySet",
            "in": "query",
            "required": false,
            "description": "Comma-separated POI category IDs",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful POI search response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SearchResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/search/2/categorySearch/{query}.json": {
      "get": {
        "operationId": "categorySearch",
        "summary": "Category Search",
        "description": "Search for POIs by category.",
        "tags": [
          "Search"
        ],
        "parameters": [
          {
            "name": "query",
            "in": "path",
            "required": true,
            "description": "Category search query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "key",
            "in": "query",
            "required": true,
            "description": "Your TomTom API key",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "default": 10
            }
          },
          {
            "name": "lat",
            "in": "query",
            "required": false,
            "schema": {
              "type": "number",
              "format": "double"
            }
          },
          {
            "name": "lon",
            "in": "query",
            "required": false,
            "schema": {
              "type": "number",
              "format": "double"
            }
          },
          {
            "name": "radius",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SearchResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/search/2/nearbySearch/.json": {
      "get": {
        "operationId": "nearbySearch",
        "summary": "Nearby Search",
        "description": "Search for POIs near a given location.",
        "tags": [
          "Search"
        ],
        "parameters": [
          {
            "name": "key",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "lat",
            "in": "query",
            "required": true,
            "schema": {
              "type": "number",
              "format": "double"
            }
          },
          {
            "name": "lon",
            "in": "query",
            "required": true,
            "schema": {
              "type": "number",
              "format": "double"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "default": 10
            }
          },
          {
            "name": "radius",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "default": 10000
            }
          },
          {
            "name": "categorySet",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SearchResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/routing/1/calculateRoute/{locations}/json": {
      "get": {
        "operationId": "calculateRoute",
        "summary": "Calculate Route",
        "description": "Calculates a route between an origin and destination, with optional waypoints.",
        "tags": [
          "Routing"
        ],
        "parameters": [
          {
            "name": "locations",
            "in": "path",
            "required": true,
            "description": "Colon-separated lat,lon pairs (e.g. 52.50931,13.42937:52.50274,13.43872)",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "key",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "routeType",
            "in": "query",
            "required": false,
            "description": "Type of route",
            "schema": {
              "type": "string",
              "enum": [
                "fastest",
                "shortest",
                "eco",
                "thrilling"
              ]
            }
          },
          {
            "name": "traffic",
            "in": "query",
            "required": false,
            "description": "Consider current traffic",
            "schema": {
              "type": "boolean",
              "default": true
            }
          },
          {
            "name": "travelMode",
            "in": "query",
            "required": false,
            "description": "Mode of travel",
            "schema": {
              "type": "string",
              "enum": [
                "car",
                "truck",
                "taxi",
                "bus",
                "van",
                "motorcycle",
                "bicycle",
                "pedestrian"
              ]
            }
          },
          {
            "name": "avoid",
            "in": "query",
            "required": false,
            "description": "Things to avoid",
            "schema": {
              "type": "string",
              "enum": [
                "tollRoads",
                "motorways",
                "ferries",
                "unpavedRoads",
                "carpools"
              ]
            }
          },
          {
            "name": "departAt",
            "in": "query",
            "required": false,
            "description": "Departure time (ISO 8601)",
            "schema": {
              "type": "string",
              "format": "date-time"
            }
          },
          {
            "name": "arriveAt",
            "in": "query",
            "required": false,
            "description": "Arrival time (ISO 8601)",
            "schema": {
              "type": "string",
              "format": "date-time"
            }
          },
          {
            "name": "language",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "instructionsType",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "enum": [
                "coded",
                "text",
                "tagged"
              ]
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful route calculation",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RouteResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/routing/1/calculateReachableRange/{origin}/json": {
      "get": {
        "operationId": "calculateReachableRange",
        "summary": "Calculate Reachable Range",
        "description": "Calculates the set of locations reachable from the origin within given constraints (time, distance, or fuel budget).",
        "tags": [
          "Routing"
        ],
        "parameters": [
          {
            "name": "origin",
            "in": "path",
            "required": true,
            "description": "Origin as lat,lon",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "key",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "timeBudgetInSec",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "distanceBudgetInMeters",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "fuelBudgetInLiters",
            "in": "query",
            "required": false,
            "schema": {
              "type": "number"
            }
          },
          {
            "name": "energyBudgetInkWh",
            "in": "query",
            "required": false,
            "schema": {
              "type": "number"
            }
          },
          {
            "name": "travelMode",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "enum": [
                "car",
                "truck",
                "bicycle",
                "pedestrian"
              ]
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Reachable range response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ReachableRangeResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/traffic/services/4/flowSegmentData/{style}/{zoom}/{point}.json": {
      "get": {
        "operationId": "getTrafficFlowSegment",
        "summary": "Traffic Flow Segment Data",
        "description": "Returns real-time traffic flow information for a road segment closest to the given coordinates.",
        "tags": [
          "Traffic"
        ],
        "parameters": [
          {
            "name": "style",
            "in": "path",
            "required": true,
            "description": "Style of flow data",
            "schema": {
              "type": "string",
              "enum": [
                "absolute",
                "relative",
                "relative-delay",
                "reduced-sensitivity"
              ]
            }
          },
          {
            "name": "zoom",
            "in": "path",
            "required": true,
            "description": "Zoom level (0-22)",
            "schema": {
              "type": "integer",
              "minimum": 0,
              "maximum": 22
            }
          },
          {
            "name": "point",
            "in": "path",
            "required": true,
            "description": "Point as lat,lon",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "key",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "unit",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "enum": [
                "KMPH",
                "MPH"
              ]
            }
          },
          {
            "name": "thickness",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "default": 10
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Traffic flow data",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TrafficFlowResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/traffic/services/5/incidentDetails": {
      "get": {
        "operationId": "getTrafficIncidents",
        "summary": "Traffic Incident Details",
        "description": "Returns details of traffic incidents within a specified bounding box.",
        "tags": [
          "Traffic"
        ],
        "parameters": [
          {
            "name": "key",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "bbox",
            "in": "query",
            "required": true,
            "description": "Bounding box as minLon,minLat,maxLon,maxLat",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "fields",
            "in": "query",
            "required": false,
            "description": "Comma-separated fields to include",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "language",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "categoryFilter",
            "in": "query",
            "required": false,
            "description": "Comma-separated incident category IDs",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "timeValidityFilter",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "enum": [
                "present",
                "future"
              ]
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Traffic incidents data",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TrafficIncidentsResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/map/1/tile/{layer}/{style}/{zoom}/{x}/{y}.png": {
      "get": {
        "operationId": "getMapTile",
        "summary": "Get Map Tile",
        "description": "Returns a map tile image at the specified coordinates and zoom level.",
        "tags": [
          "Maps"
        ],
        "parameters": [
          {
            "name": "layer",
            "in": "path",
            "required": true,
            "description": "Map layer type",
            "schema": {
              "type": "string",
              "enum": [
                "basic",
                "hybrid",
                "labels"
              ]
            }
          },
          {
            "name": "style",
            "in": "path",
            "required": true,
            "description": "Map style",
            "schema": {
              "type": "string",
              "enum": [
                "main",
                "night"
              ]
            }
          },
          {
            "name": "zoom",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "minimum": 0,
              "maximum": 22
            }
          },
          {
            "name": "x",
            "in": "path",
            "required": true,
            "description": "Tile X coordinate",
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "y",
            "in": "path",
            "required": true,
            "description": "Tile Y coordinate",
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "key",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "tileSize",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "enum": [
                256,
                512
              ],
              "default": 256
            }
          },
          {
            "name": "language",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Map tile image",
            "content": {
              "image/png": {
                "schema": {
                  "type": "string",
                  "format": "binary"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/map/1/staticImage": {
      "get": {
        "operationId": "getStaticImage",
        "summary": "Get Static Map Image",
        "description": "Returns a static map image for a specified location.",
        "tags": [
          "Maps"
        ],
        "parameters": [
          {
            "name": "key",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "center",
            "in": "query",
            "required": false,
            "description": "Center of the map as lat,lon",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "zoom",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "minimum": 0,
              "maximum": 22
            }
          },
          {
            "name": "width",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "default": 512
            }
          },
          {
            "name": "height",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "default": 512
            }
          },
          {
            "name": "layer",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "enum": [
                "basic",
                "hybrid",
                "labels"
              ]
            }
          },
          {
            "name": "style",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "enum": [
                "main",
                "night"
              ]
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Static map image",
            "content": {
              "image/png": {
                "schema": {
                  "type": "string",
                  "format": "binary"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    }
  },
  "components": {
    "schemas": {
      "SearchResponse": {
        "type": "object",
        "properties": {
          "summary": {
            "type": "object",
            "properties": {
              "query": {
                "type": "string"
              },
              "queryType": {
                "type": "string"
              },
              "queryTime": {
                "type": "integer"
              },
              "numResults": {
                "type": "integer"
              },
              "offset": {
                "type": "integer"
              },
              "totalResults": {
                "type": "integer"
              },
              "fuzzyLevel": {
                "type": "integer"
              }
            }
          },
          "results": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/SearchResult"
            }
          }
        }
      },
      "SearchResult": {
        "type": "object",
        "properties": {
          "type": {
            "type": "string"
          },
          "id": {
            "type": "string"
          },
          "score": {
            "type": "number"
          },
          "address": {
            "$ref": "#/components/schemas/Address"
          },
          "position": {
            "type": "object",
            "properties": {
              "lat": {
                "type": "number",
                "format": "double"
              },
              "lon": {
                "type": "number",
                "format": "double"
              }
            }
          },
          "poi": {
            "type": "object",
            "properties": {
              "name": {
                "type": "string"
              },
              "phone": {
                "type": "string"
              },
              "url": {
                "type": "string"
              },
              "categories": {
                "type": "array",
                "items": {
                  "type": "string"
                }
              },
              "classifications": {
                "type": "array",
                "items": {
                  "type": "object"
                }
              }
            }
          },
          "viewport": {
            "type": "object",
            "properties": {
              "topLeftPoint": {
                "type": "object",
                "properties": {
                  "lat": {
                    "type": "number"
                  },
                  "lon": {
                    "type": "number"
                  }
                }
              },
              "btmRightPoint": {
                "type": "object",
                "properties": {
                  "lat": {
                    "type": "number"
                  },
                  "lon": {
                    "type": "number"
                  }
                }
              }
            }
          },
          "entryPoints": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "type": {
                  "type": "string"
                },
                "position": {
                  "type": "object",
                  "properties": {
                    "lat": {
                      "type": "number"
                    },
                    "lon": {
                      "type": "number"
                    }
                  }
                }
              }
            }
          }
        }
      },
      "Address": {
        "type": "object",
        "properties": {
          "streetNumber": {
            "type": "string"
          },
          "streetName": {
            "type": "string"
          },
          "municipality": {
            "type": "string"
          },
          "countrySubdivision": {
            "type": "string"
          },
          "postalCode": {
            "type": "string"
          },
          "country": {
            "type": "string"
          },
          "countryCode": {
            "type": "string"
          },
          "freeformAddress": {
            "type": "string"
          },
          "countryCodeISO3": {
            "type": "string"
          }
        }
      },
      "ReverseGeocodeResponse": {
        "type": "object",
        "properties": {
          "summary": {
            "type": "object",
            "properties": {
              "queryTime": {
                "type": "integer"
              },
              "numResults": {
                "type": "integer"
              }
            }
          },
          "addresses": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "address": {
                  "$ref": "#/components/schemas/Address"
                },
                "position": {
                  "type": "string"
                }
              }
            }
          }
        }
      },
      "RouteResponse": {
        "type": "object",
        "properties": {
          "formatVersion": {
            "type": "string"
          },
          "routes": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "summary": {
                  "type": "object",
                  "properties": {
                    "lengthInMeters": {
                      "type": "integer"
                    },
                    "travelTimeInSeconds": {
                      "type": "integer"
                    },
                    "trafficDelayInSeconds": {
                      "type": "integer"
                    },
                    "departureTime": {
                      "type": "string",
                      "format": "date-time"
                    },
                    "arrivalTime": {
                      "type": "string",
                      "format": "date-time"
                    }
                  }
                },
                "legs": {
                  "type": "array",
                  "items": {
                    "type": "object"
                  }
                },
                "guidance": {
                  "type": "object"
                }
              }
            }
          }
        }
      },
      "ReachableRangeResponse": {
        "type": "object",
        "properties": {
          "formatVersion": {
            "type": "string"
          },
          "reachableRange": {
            "type": "object",
            "properties": {
              "center": {
                "type": "object",
                "properties": {
                  "latitude": {
                    "type": "number"
                  },
                  "longitude": {
                    "type": "number"
                  }
                }
              },
              "boundary": {
                "type": "array",
                "items": {
                  "type": "object",
                  "properties": {
                    "latitude": {
                      "type": "number"
                    },
                    "longitude": {
                      "type": "number"
                    }
                  }
                }
              }
            }
          }
        }
      },
      "TrafficFlowResponse": {
        "type": "object",
        "properties": {
          "flowSegmentData": {
            "type": "object",
            "properties": {
              "frc": {
                "type": "string"
              },
              "currentSpeed": {
                "type": "integer"
              },
              "freeFlowSpeed": {
                "type": "integer"
              },
              "currentTravelTime": {
                "type": "integer"
              },
              "freeFlowTravelTime": {
                "type": "integer"
              },
              "confidence": {
                "type": "number"
              },
              "coordinates": {
                "type": "object"
              }
            }
          }
        }
      },
      "TrafficIncidentsResponse": {
        "type": "object",
        "properties": {
          "incidents": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "type": {
                  "type": "string"
                },
                "properties": {
                  "type": "object",
                  "properties": {
                    "id": {
                      "type": "string"
                    },
                    "iconCategory": {
                      "type": "integer"
                    },
                    "magnitudeOfDelay": {
                      "type": "integer"
                    },
                    "startTime": {
                      "type": "string"
                    },
                    "endTime": {
                      "type": "string"
                    },
                    "from": {
                      "type": "string"
                    },
                    "to": {
                      "type": "string"
                    },
                    "description": {
                      "type": "string"
                    }
                  }
                },
                "geometry": {
                  "type": "object"
                }
              }
            }
          }
        }
      },
      "ErrorResponse": {
        "type": "object",
        "properties": {
          "errorText": {
            "type": "string"
          },
          "detailedError": {
            "type": "object",
            "properties": {
              "code": {
                "type": "string"
              },
              "message": {
                "type": "string"
              }
            }
          },
          "httpStatusCode": {
            "type": "integer"
          }
        }
      }
    },
    "securitySchemes": {
      "apiKey": {
        "type": "apiKey",
        "name": "key",
        "in": "query",
        "description": "TomTom API key passed as a query parameter"
      }
    }
  },
  "security": [
    {
      "apiKey": []
    }
  ],
  "tags": [
    {
      "name": "Maps"
    },
    {
      "name": "Routing"
    },
    {
      "name": "Search"
    },
    {
      "name": "Traffic"
    }
  ]
}
