{
  "openapi": "3.0.1",
  "info": {
    "title": "Producto",
    "description": "Est\u00e1 API se encarga de crear, consultar y mantener actualizada la informacion correspondiente a los productos del cliente.",
    "contact": {
      "name": "Modelo de API Producto Serfinanza",
      "email": "example@bancoserfinanza.com.co"
    },
    "version": "v1.0.0",
    "x-jentic-source-url": "https://api.swaggerhub.com/apis/MIGUELLEALPD2017/producto/v1.0.0"
  },
  "servers": [
    {
      "url": "https://www.bancoserfinanza.com.co/producto/vplus/v1/originacion"
    }
  ],
  "paths": {
    "/BUCProducto": {
      "post": {
        "tags": [
          "Producto BUC"
        ],
        "summary": "Crear productos del cliente en la BUC",
        "operationId": "POST_crearproductosclientebuc",
        "security": [
          {
            "apikey": []
          },
          {
            "Authorization": []
          }
        ],
        "parameters": [
          {
            "in": "header",
            "name": "uuId",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Identificador del mensaje se usa para trazabilidad. Este identificador permite identificar los logs de los llamados a las APIs en los repositorios de logs, recomienda enviar un UUID para este valor.",
            "example": "c4e6bd04-5149-11e7-b114-12654765af2f\n"
          },
          {
            "in": "header",
            "name": "timestamp",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Tiempo de ejecucion de inicio de la trasaccion.",
            "example": "2017-01-24 05:00:00.000Z.\n"
          },
          {
            "in": "header",
            "name": "systemId",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "identificador de la aplicacion consumidora Ejemplo:  helpi, insttantt.",
            "example": "helpi\n"
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/jsonReqProductoCrear"
              }
            }
          },
          "description": "dataRequestBody",
          "required": true
        },
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "aplication/json": {
                "schema": {
                  "$ref": "#/components/schemas/successDataCrearProducto"
                }
              }
            }
          },
          "400": {
            "description": "La solicitud contiene par\u00e1metros inv\u00e1lidos o faltan par\u00e1metros requeridos.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/failure400"
                }
              }
            }
          },
          "401": {
            "description": "Autorizaci\u00f3n fallida.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/failure401"
                }
              }
            }
          },
          "404": {
            "description": "El recurso solicitado no fue encontrado por el sistema.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/failure404"
                }
              }
            }
          },
          "500": {
            "description": "Error interno del servidor.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/failure500"
                }
              }
            }
          },
          "503": {
            "description": "El servidor no est\u00e1 listo para manejar la petici\u00f3n.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/failure503"
                }
              }
            }
          },
          "504": {
            "description": "El servicio no est\u00e1 obtendiendo respuesta a tiempo.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/failure504"
                }
              }
            }
          },
          "default": {
            "description": "Error inesperado.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/failure"
                }
              }
            }
          }
        }
      },
      "get": {
        "tags": [
          "Producto BUC"
        ],
        "summary": "Consultar productos del cliente en la BUC",
        "operationId": "GET_consultarproductosclientebuc",
        "security": [
          {
            "apikey": []
          },
          {
            "Authorization": []
          }
        ],
        "parameters": [
          {
            "in": "header",
            "name": "uuId",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Identificador del mensaje se usa para trazabilidad. Este identificador permite identificar los logs de los llamados a las APIs en los repositorios de logs, recomienda enviar un UUID para este valor.",
            "example": "c4e6bd04-5149-11e7-b114-12654765af2f\n"
          },
          {
            "in": "header",
            "name": "timestamp",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Tiempo de ejecucion de inicio de la trasaccion.",
            "example": "2017-01-24 05:00:00.000Z.\n"
          },
          {
            "in": "header",
            "name": "systemId",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "identificador de la aplicacion consumidora Ejemplo:  helpi, insttantt.",
            "example": "helpi\n"
          },
          {
            "in": "query",
            "name": "Id_Cliente",
            "required": true,
            "schema": {
              "type": "string",
              "minLength": 1,
              "maxLength": 36
            },
            "description": "C\u00f3digo cliente - UID identificadores \u00fanico global - hexadecimal 16 bytes datos.",
            "example": "4e6bd04-5149-11e7-b114-12654765af2a\n"
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "aplication/json": {
                "schema": {
                  "$ref": "#/components/schemas/successDataconsultarProductosCliente"
                }
              }
            }
          },
          "400": {
            "description": "La solicitud contiene par\u00e1metros inv\u00e1lidos o faltan par\u00e1metros requeridos.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/failure400"
                }
              }
            }
          },
          "401": {
            "description": "Autorizaci\u00f3n fallida.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/failure401"
                }
              }
            }
          },
          "404": {
            "description": "El recurso solicitado no fue encontrado por el sistema.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/failure404"
                }
              }
            }
          },
          "500": {
            "description": "Error interno del servidor.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/failure500"
                }
              }
            }
          },
          "503": {
            "description": "El servidor no est\u00e1 listo para manejar la petici\u00f3n.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/failure503"
                }
              }
            }
          },
          "504": {
            "description": "El servicio no est\u00e1 obtendiendo respuesta a tiempo.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/failure504"
                }
              }
            }
          },
          "default": {
            "description": "Error inesperado.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/failure"
                }
              }
            }
          }
        }
      },
      "put": {
        "tags": [
          "Producto BUC"
        ],
        "summary": "Actualizar productos del cliente en la BUC",
        "operationId": "POST_actualizarproductosclientebuc",
        "security": [
          {
            "apikey": []
          },
          {
            "Authorization": []
          }
        ],
        "parameters": [
          {
            "in": "header",
            "name": "uuId",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Identificador del mensaje se usa para trazabilidad. Este identificador permite identificar los logs de los llamados a las APIs en los repositorios de logs, recomienda enviar un UUID para este valor.",
            "example": "c4e6bd04-5149-11e7-b114-12654765af2f\n"
          },
          {
            "in": "header",
            "name": "timestamp",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Tiempo de ejecucion de inicio de la trasaccion.",
            "example": "2017-01-24 05:00:00.000Z.\n"
          },
          {
            "in": "header",
            "name": "systemId",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "identificador de la aplicacion consumidora Ejemplo:  helpi, insttantt.",
            "example": "helpi\n"
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/jsonReqProductoActualizar"
              }
            }
          },
          "description": "dataRequestBody",
          "required": true
        },
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "aplication/json": {
                "schema": {
                  "$ref": "#/components/schemas/successEmpty"
                }
              }
            }
          },
          "400": {
            "description": "La solicitud contiene par\u00e1metros inv\u00e1lidos o faltan par\u00e1metros requeridos.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/failure400"
                }
              }
            }
          },
          "401": {
            "description": "Autorizaci\u00f3n fallida.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/failure401"
                }
              }
            }
          },
          "404": {
            "description": "El recurso solicitado no fue encontrado por el sistema.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/failure404"
                }
              }
            }
          },
          "500": {
            "description": "Error interno del servidor.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/failure500"
                }
              }
            }
          },
          "503": {
            "description": "El servidor no est\u00e1 listo para manejar la petici\u00f3n.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/failure503"
                }
              }
            }
          },
          "504": {
            "description": "El servicio no est\u00e1 obtendiendo respuesta a tiempo.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/failure504"
                }
              }
            }
          },
          "default": {
            "description": "Error inesperado.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/failure"
                }
              }
            }
          }
        }
      }
    },
    "/BUCRelacionEstadoProducto": {
      "post": {
        "tags": [
          "Estado Producto BUC"
        ],
        "summary": "Crear relacion estado producto BUC.",
        "operationId": "POST_crearrelacionestadoproducto",
        "security": [
          {
            "apikey": []
          },
          {
            "Authorization": []
          }
        ],
        "parameters": [
          {
            "in": "header",
            "name": "uuId",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Identificador del mensaje se usa para trazabilidad. Este identificador permite identificar los logs de los llamados a las APIs en los repositorios de logs, recomienda enviar un UUID para este valor.",
            "example": "c4e6bd04-5149-11e7-b114-12654765af2f\n"
          },
          {
            "in": "header",
            "name": "timestamp",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Tiempo de ejecucion de inicio de la trasaccion.",
            "example": "2017-01-24 05:00:00.000Z.\n"
          },
          {
            "in": "header",
            "name": "systemId",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "identificador de la aplicacion consumidora Ejemplo:  helpi, insttantt...",
            "example": "helpi\n"
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/jsonReqRelacionEstadoProductoCrear"
              }
            }
          },
          "description": "dataRequestBody",
          "required": true
        },
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "aplication/json": {
                "schema": {
                  "$ref": "#/components/schemas/successDataCrearRelacionEstadoProducto"
                }
              }
            }
          },
          "400": {
            "description": "La solicitud contiene par\u00e1metros inv\u00e1lidos o faltan par\u00e1metros requeridos.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/failure400"
                }
              }
            }
          },
          "401": {
            "description": "Autorizaci\u00f3n fallida.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/failure401"
                }
              }
            }
          },
          "404": {
            "description": "El recurso solicitado no fue encontrado por el sistema.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/failure404"
                }
              }
            }
          },
          "500": {
            "description": "Error interno del servidor.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/failure500"
                }
              }
            }
          },
          "503": {
            "description": "El servidor no est\u00e1 listo para manejar la petici\u00f3n.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/failure503"
                }
              }
            }
          },
          "504": {
            "description": "El servicio no est\u00e1 obtendiendo respuesta a tiempo.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/failure504"
                }
              }
            }
          },
          "default": {
            "description": "Error inesperado.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/failure"
                }
              }
            }
          }
        }
      },
      "get": {
        "tags": [
          "Estado Producto BUC"
        ],
        "summary": "Consultar relacion estado producto BUC.",
        "operationId": "GET_consultarrelacionestadoproducto",
        "security": [
          {
            "apikey": []
          },
          {
            "Authorization": []
          }
        ],
        "parameters": [
          {
            "in": "header",
            "name": "uuId",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Identificador del mensaje se usa para trazabilidad. Este identificador permite identificar los logs de los llamados a las APIs en los repositorios de logs, recomienda enviar un UUID para este valor.",
            "example": "c4e6bd04-5149-11e7-b114-12654765af2f\n"
          },
          {
            "in": "header",
            "name": "timestamp",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Tiempo de ejecucion de inicio de la trasaccion.",
            "example": "2017-01-24 05:00:00.000Z.\n"
          },
          {
            "in": "header",
            "name": "systemId",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "identificador de la aplicacion consumidora Ejemplo:  helpi, insttantt.",
            "example": "helpi\n"
          },
          {
            "in": "query",
            "name": "Id_ClienteProducto",
            "required": true,
            "schema": {
              "type": "string",
              "minLength": 1,
              "maxLength": 36
            },
            "description": "codigo producto UID identificadores \u00fanico global - hexadecimal 16 bytes datos debe ser tratado con un uniqueidentifier ",
            "example": "c4e6bd04-5149-11e7-b114-12654765af2a\n"
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "aplication/json": {
                "schema": {
                  "$ref": "#/components/schemas/successDataConsultarRelacionEstadoProducto"
                }
              }
            }
          },
          "400": {
            "description": "La solicitud contiene par\u00e1metros inv\u00e1lidos o faltan par\u00e1metros requeridos.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/failure400"
                }
              }
            }
          },
          "401": {
            "description": "Autorizaci\u00f3n fallida.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/failure401"
                }
              }
            }
          },
          "404": {
            "description": "El recurso solicitado no fue encontrado por el sistema.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/failure404"
                }
              }
            }
          },
          "500": {
            "description": "Error interno del servidor.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/failure500"
                }
              }
            }
          },
          "503": {
            "description": "El servidor no est\u00e1 listo para manejar la petici\u00f3n.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/failure503"
                }
              }
            }
          },
          "504": {
            "description": "El servicio no est\u00e1 obtendiendo respuesta a tiempo.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/failure504"
                }
              }
            }
          },
          "default": {
            "description": "Error inesperado.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/failure"
                }
              }
            }
          }
        }
      },
      "put": {
        "tags": [
          "Estado Producto BUC"
        ],
        "summary": "Actualizar relacion estado producto BUC.",
        "operationId": "POST_actualizarrelacionestadoproducto",
        "security": [
          {
            "apikey": []
          },
          {
            "Authorization": []
          }
        ],
        "parameters": [
          {
            "in": "header",
            "name": "uuId",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Identificador del mensaje se usa para trazabilidad. Este identificador permite identificar los logs de los llamados a las APIs en los repositorios de logs, recomienda enviar un UUID para este valor.",
            "example": "c4e6bd04-5149-11e7-b114-12654765af2f\n"
          },
          {
            "in": "header",
            "name": "timestamp",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Tiempo de ejecucion de inicio de la trasaccion.",
            "example": "2017-01-24 05:00:00.000Z.\n"
          },
          {
            "in": "header",
            "name": "systemId",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "identificador de la aplicacion consumidora Ejemplo:  helpi, insttantt...",
            "example": "helpi\n"
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/jsonReqRelacionEstadoProductoActualizar"
              }
            }
          },
          "description": "dataRequestBody",
          "required": true
        },
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "aplication/json": {
                "schema": {
                  "$ref": "#/components/schemas/successEmpty"
                }
              }
            }
          },
          "400": {
            "description": "La solicitud contiene par\u00e1metros inv\u00e1lidos o faltan par\u00e1metros requeridos.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/failure400"
                }
              }
            }
          },
          "401": {
            "description": "Autorizaci\u00f3n fallida.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/failure401"
                }
              }
            }
          },
          "404": {
            "description": "El recurso solicitado no fue encontrado por el sistema.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/failure404"
                }
              }
            }
          },
          "500": {
            "description": "Error interno del servidor.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/failure500"
                }
              }
            }
          },
          "503": {
            "description": "El servidor no est\u00e1 listo para manejar la petici\u00f3n.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/failure503"
                }
              }
            }
          },
          "504": {
            "description": "El servicio no est\u00e1 obtendiendo respuesta a tiempo.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/failure504"
                }
              }
            }
          },
          "default": {
            "description": "Error inesperado.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/failure"
                }
              }
            }
          }
        }
      }
    },
    "/BUCProductoCaracteristicas": {
      "post": {
        "tags": [
          "Producto Caracteristicas BUC"
        ],
        "summary": "Crear producto caracteristicas del cliente en la BUC",
        "operationId": "POST_crearproductocaracteristicasclientebuc",
        "security": [
          {
            "apikey": []
          },
          {
            "Authorization": []
          }
        ],
        "parameters": [
          {
            "in": "header",
            "name": "uuId",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Identificador del mensaje se usa para trazabilidad. Este identificador permite identificar los logs de los llamados a las APIs en los repositorios de logs, recomienda enviar un UUID para este valor.",
            "example": "c4e6bd04-5149-11e7-b114-12654765af2f\n"
          },
          {
            "in": "header",
            "name": "timestamp",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Tiempo de ejecucion de inicio de la trasaccion.",
            "example": "2017-01-24 05:00:00.000Z.\n"
          },
          {
            "in": "header",
            "name": "systemId",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "identificador de la aplicacion consumidora Ejemplo:  helpi, insttantt.",
            "example": "helpi\n"
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/jsonReqProductoCaracteristicasCrear"
              }
            }
          },
          "description": "dataRequestBody",
          "required": true
        },
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "aplication/json": {
                "schema": {
                  "$ref": "#/components/schemas/successEmpty"
                }
              }
            }
          },
          "400": {
            "description": "La solicitud contiene par\u00e1metros inv\u00e1lidos o faltan par\u00e1metros requeridos.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/failure400"
                }
              }
            }
          },
          "401": {
            "description": "Autorizaci\u00f3n fallida.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/failure401"
                }
              }
            }
          },
          "404": {
            "description": "El recurso solicitado no fue encontrado por el sistema.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/failure404"
                }
              }
            }
          },
          "500": {
            "description": "Error interno del servidor.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/failure500"
                }
              }
            }
          },
          "503": {
            "description": "El servidor no est\u00e1 listo para manejar la petici\u00f3n.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/failure503"
                }
              }
            }
          },
          "504": {
            "description": "El servicio no est\u00e1 obtendiendo respuesta a tiempo.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/failure504"
                }
              }
            }
          },
          "default": {
            "description": "Error inesperado.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/failure"
                }
              }
            }
          }
        }
      },
      "get": {
        "tags": [
          "Producto Caracteristicas BUC"
        ],
        "summary": "Consultar producto caracteristicas del cliente en la BUC",
        "operationId": "GET_consultarproductocaracteristicasclientebuc",
        "security": [
          {
            "apikey": []
          },
          {
            "Authorization": []
          }
        ],
        "parameters": [
          {
            "in": "header",
            "name": "uuId",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Identificador del mensaje se usa para trazabilidad. Este identificador permite identificar los logs de los llamados a las APIs en los repositorios de logs, recomienda enviar un UUID para este valor.",
            "example": "c4e6bd04-5149-11e7-b114-12654765af2f\n"
          },
          {
            "in": "header",
            "name": "timestamp",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Tiempo de ejecucion de inicio de la trasaccion.",
            "example": "2017-01-24 05:00:00.000Z.\n"
          },
          {
            "in": "header",
            "name": "systemId",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "identificador de la aplicacion consumidora Ejemplo:  helpi, insttantt.",
            "example": "helpi\n"
          },
          {
            "in": "query",
            "name": "Id_ClienteProducto",
            "required": true,
            "schema": {
              "type": "string",
              "minLength": 1,
              "maxLength": 36
            },
            "description": "C\u00f3digo producto UUID identificadores \u00fanico global - hexadecimal 16 bytes datos ,  debe ser tratado como uniqueidentifier.",
            "example": "4e6bd04-5149-11e7-b114-12654765af2a\n"
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "aplication/json": {
                "schema": {
                  "$ref": "#/components/schemas/successDataconsultarProductoCaractertisticasCliente"
                }
              }
            }
          },
          "400": {
            "description": "La solicitud contiene par\u00e1metros inv\u00e1lidos o faltan par\u00e1metros requeridos.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/failure400"
                }
              }
            }
          },
          "401": {
            "description": "Autorizaci\u00f3n fallida.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/failure401"
                }
              }
            }
          },
          "404": {
            "description": "El recurso solicitado no fue encontrado por el sistema.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/failure404"
                }
              }
            }
          },
          "500": {
            "description": "Error interno del servidor.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/failure500"
                }
              }
            }
          },
          "503": {
            "description": "El servidor no est\u00e1 listo para manejar la petici\u00f3n.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/failure503"
                }
              }
            }
          },
          "504": {
            "description": "El servicio no est\u00e1 obtendiendo respuesta a tiempo.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/failure504"
                }
              }
            }
          },
          "default": {
            "description": "Error inesperado.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/failure"
                }
              }
            }
          }
        }
      },
      "put": {
        "tags": [
          "Producto Caracteristicas BUC"
        ],
        "summary": "Actualizar producto caracteristicas del cliente en la BUC",
        "operationId": "POST_actualizarproductocaracteristicasclientebuc",
        "security": [
          {
            "apikey": []
          },
          {
            "Authorization": []
          }
        ],
        "parameters": [
          {
            "in": "header",
            "name": "uuId",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Identificador del mensaje se usa para trazabilidad. Este identificador permite identificar los logs de los llamados a las APIs en los repositorios de logs, recomienda enviar un UUID para este valor.",
            "example": "c4e6bd04-5149-11e7-b114-12654765af2f\n"
          },
          {
            "in": "header",
            "name": "timestamp",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Tiempo de ejecucion de inicio de la trasaccion.",
            "example": "2017-01-24 05:00:00.000Z.\n"
          },
          {
            "in": "header",
            "name": "systemId",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "identificador de la aplicacion consumidora Ejemplo:  helpi, insttantt.",
            "example": "helpi\n"
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/jsonReqProductoCaracteristicasActualizar"
              }
            }
          },
          "description": "dataRequestBody",
          "required": true
        },
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "aplication/json": {
                "schema": {
                  "$ref": "#/components/schemas/successEmpty"
                }
              }
            }
          },
          "400": {
            "description": "La solicitud contiene par\u00e1metros inv\u00e1lidos o faltan par\u00e1metros requeridos.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/failure400"
                }
              }
            }
          },
          "401": {
            "description": "Autorizaci\u00f3n fallida.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/failure401"
                }
              }
            }
          },
          "404": {
            "description": "El recurso solicitado no fue encontrado por el sistema.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/failure404"
                }
              }
            }
          },
          "500": {
            "description": "Error interno del servidor.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/failure500"
                }
              }
            }
          },
          "503": {
            "description": "El servidor no est\u00e1 listo para manejar la petici\u00f3n.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/failure503"
                }
              }
            }
          },
          "504": {
            "description": "El servicio no est\u00e1 obtendiendo respuesta a tiempo.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/failure504"
                }
              }
            }
          },
          "default": {
            "description": "Error inesperado.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/failure"
                }
              }
            }
          }
        }
      }
    },
    "/VPlusProducto": {
      "post": {
        "tags": [
          "Producto V Plus"
        ],
        "summary": "Consultar producto  del cliente en V Plus",
        "operationId": "POST_consultarproductoclientevplus",
        "security": [
          {
            "apikey": []
          },
          {
            "Authorization": []
          }
        ],
        "parameters": [
          {
            "in": "header",
            "name": "uuId",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Identificador del mensaje se usa para trazabilidad. Este identificador permite identificar los logs de los llamados a las APIs en los repositorios de logs, recomienda enviar un UUID para este valor.",
            "example": "c4e6bd04-5149-11e7-b114-12654765af2f\n"
          },
          {
            "in": "header",
            "name": "timestamp",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Tiempo de ejecucion de inicio de la trasaccion.",
            "example": "2017-01-24 05:00:00.000Z.\n"
          },
          {
            "in": "header",
            "name": "systemId",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "identificador de la aplicacion consumidora Ejemplo:  helpi, insttantt.",
            "example": "helpi\n"
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/jsonReqProductoVPlusConsultar"
              }
            }
          },
          "description": "dataRequestBody",
          "required": true
        },
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "aplication/json": {
                "schema": {
                  "$ref": "#/components/schemas/successDataconsultarProductoVPlusCliente"
                }
              }
            }
          },
          "400": {
            "description": "La solicitud contiene par\u00e1metros inv\u00e1lidos o faltan par\u00e1metros requeridos.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/failure400"
                }
              }
            }
          },
          "401": {
            "description": "Autorizaci\u00f3n fallida.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/failure401"
                }
              }
            }
          },
          "404": {
            "description": "El recurso solicitado no fue encontrado por el sistema.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/failure404"
                }
              }
            }
          },
          "500": {
            "description": "Error interno del servidor.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/failure500"
                }
              }
            }
          },
          "503": {
            "description": "El servidor no est\u00e1 listo para manejar la petici\u00f3n.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/failure503"
                }
              }
            }
          },
          "504": {
            "description": "El servicio no est\u00e1 obtendiendo respuesta a tiempo.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/failure504"
                }
              }
            }
          },
          "default": {
            "description": "Error inesperado.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/failure"
                }
              }
            }
          }
        }
      }
    },
    "/VPlusTarjetaFisica": {
      "post": {
        "tags": [
          "Producto V Plus"
        ],
        "summary": "Crear tarjeta de credito fisica en V Plus",
        "operationId": "POST_creartarjetafisicavplus",
        "security": [
          {
            "apikey": []
          },
          {
            "Authorization": []
          }
        ],
        "parameters": [
          {
            "in": "header",
            "name": "uuId",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Identificador del mensaje se usa para trazabilidad. Este identificador permite identificar los logs de los llamados a las APIs en los repositorios de logs, recomienda enviar un UUID para este valor.",
            "example": "c4e6bd04-5149-11e7-b114-12654765af2f\n"
          },
          {
            "in": "header",
            "name": "timestamp",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Tiempo de ejecucion de inicio de la trasaccion.",
            "example": "2017-01-24 05:00:00.000Z.\n"
          },
          {
            "in": "header",
            "name": "systemId",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "identificador de la aplicacion consumidora Ejemplo:  helpi, insttantt.",
            "example": "helpi\n"
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/jsonReqTarjetaFisicaVPlusCrear"
              }
            }
          },
          "description": "dataRequestBody",
          "required": true
        },
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "aplication/json": {
                "schema": {
                  "$ref": "#/components/schemas/successDataCrearTarjetaFisicaVPlus"
                }
              }
            }
          },
          "400": {
            "description": "La solicitud contiene par\u00e1metros inv\u00e1lidos o faltan par\u00e1metros requeridos.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/failure400"
                }
              }
            }
          },
          "401": {
            "description": "Autorizaci\u00f3n fallida.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/failure401"
                }
              }
            }
          },
          "404": {
            "description": "El recurso solicitado no fue encontrado por el sistema.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/failure404"
                }
              }
            }
          },
          "500": {
            "description": "Error interno del servidor.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/failure500"
                }
              }
            }
          },
          "503": {
            "description": "El servidor no est\u00e1 listo para manejar la petici\u00f3n.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/failure503"
                }
              }
            }
          },
          "504": {
            "description": "El servicio no est\u00e1 obtendiendo respuesta a tiempo.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/failure504"
                }
              }
            }
          },
          "default": {
            "description": "Error inesperado.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/failure"
                }
              }
            }
          }
        }
      }
    },
    "/VPlusTarjetaActivacion": {
      "post": {
        "tags": [
          "Producto V Plus"
        ],
        "summary": "Activar tarjeta de credito en V Plus",
        "operationId": "POST_activartarjetavplus",
        "security": [
          {
            "apikey": []
          },
          {
            "Authorization": []
          }
        ],
        "parameters": [
          {
            "in": "header",
            "name": "uuId",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Identificador del mensaje se usa para trazabilidad. Este identificador permite identificar los logs de los llamados a las APIs en los repositorios de logs, recomienda enviar un UUID para este valor.",
            "example": "c4e6bd04-5149-11e7-b114-12654765af2f\n"
          },
          {
            "in": "header",
            "name": "timestamp",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Tiempo de ejecucion de inicio de la trasaccion.",
            "example": "2017-01-24 05:00:00.000Z.\n"
          },
          {
            "in": "header",
            "name": "systemId",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "identificador de la aplicacion consumidora Ejemplo:  helpi, insttantt.",
            "example": "helpi\n"
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/jsonReqTarjetaVPlusActivar"
              }
            }
          },
          "description": "dataRequestBody",
          "required": true
        },
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "aplication/json": {
                "schema": {
                  "$ref": "#/components/schemas/successDataActivarTarjetaVPlus"
                }
              }
            }
          },
          "400": {
            "description": "La solicitud contiene par\u00e1metros inv\u00e1lidos o faltan par\u00e1metros requeridos.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/failure400"
                }
              }
            }
          },
          "401": {
            "description": "Autorizaci\u00f3n fallida.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/failure401"
                }
              }
            }
          },
          "404": {
            "description": "El recurso solicitado no fue encontrado por el sistema.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/failure404"
                }
              }
            }
          },
          "500": {
            "description": "Error interno del servidor.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/failure500"
                }
              }
            }
          },
          "503": {
            "description": "El servidor no est\u00e1 listo para manejar la petici\u00f3n.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/failure503"
                }
              }
            }
          },
          "504": {
            "description": "El servicio no est\u00e1 obtendiendo respuesta a tiempo.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/failure504"
                }
              }
            }
          },
          "default": {
            "description": "Error inesperado.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/failure"
                }
              }
            }
          }
        }
      }
    },
    "/VPlusTarjetaBloqueo": {
      "post": {
        "tags": [
          "Producto V Plus"
        ],
        "summary": "Bloquear tarjeta de credito en V Plus",
        "operationId": "POST_bloqueartarjetavplus",
        "security": [
          {
            "apikey": []
          },
          {
            "Authorization": []
          }
        ],
        "parameters": [
          {
            "in": "header",
            "name": "uuId",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Identificador del mensaje se usa para trazabilidad. Este identificador permite identificar los logs de los llamados a las APIs en los repositorios de logs, recomienda enviar un UUID para este valor.",
            "example": "c4e6bd04-5149-11e7-b114-12654765af2f\n"
          },
          {
            "in": "header",
            "name": "timestamp",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Tiempo de ejecucion de inicio de la trasaccion.",
            "example": "2017-01-24 05:00:00.000Z.\n"
          },
          {
            "in": "header",
            "name": "systemId",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "identificador de la aplicacion consumidora Ejemplo:  helpi, insttantt.",
            "example": "helpi\n"
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/jsonReqTarjetaVPlusBloquear"
              }
            }
          },
          "description": "dataRequestBody",
          "required": true
        },
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "aplication/json": {
                "schema": {
                  "$ref": "#/components/schemas/successDataBloquearTarjetaVPlus"
                }
              }
            }
          },
          "400": {
            "description": "La solicitud contiene par\u00e1metros inv\u00e1lidos o faltan par\u00e1metros requeridos.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/failure400"
                }
              }
            }
          },
          "401": {
            "description": "Autorizaci\u00f3n fallida.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/failure401"
                }
              }
            }
          },
          "404": {
            "description": "El recurso solicitado no fue encontrado por el sistema.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/failure404"
                }
              }
            }
          },
          "500": {
            "description": "Error interno del servidor.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/failure500"
                }
              }
            }
          },
          "503": {
            "description": "El servidor no est\u00e1 listo para manejar la petici\u00f3n.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/failure503"
                }
              }
            }
          },
          "504": {
            "description": "El servicio no est\u00e1 obtendiendo respuesta a tiempo.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/failure504"
                }
              }
            }
          },
          "default": {
            "description": "Error inesperado.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/failure"
                }
              }
            }
          }
        }
      }
    },
    "/VPlusTarjetaBloqueoDefinitivo": {
      "post": {
        "tags": [
          "Producto V Plus"
        ],
        "summary": "Cerar el bloqueo definitivo de tarjeta de credito en V Plus",
        "operationId": "POST_bloqueodefinitivotarjetavplus",
        "security": [
          {
            "apikey": []
          },
          {
            "Authorization": []
          }
        ],
        "parameters": [
          {
            "in": "header",
            "name": "uuId",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Identificador del mensaje se usa para trazabilidad. Este identificador permite identificar los logs de los llamados a las APIs en los repositorios de logs, recomienda enviar un UUID para este valor.",
            "example": "c4e6bd04-5149-11e7-b114-12654765af2f\n"
          },
          {
            "in": "header",
            "name": "timestamp",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Tiempo de ejecucion de inicio de la trasaccion.",
            "example": "2017-01-24 05:00:00.000Z.\n"
          },
          {
            "in": "header",
            "name": "systemId",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "identificador de la aplicacion consumidora Ejemplo:  helpi, insttantt.",
            "example": "helpi\n"
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/jsonReqTarjetaVPlusBloqueoDefinitivoCrear"
              }
            }
          },
          "description": "dataRequestBody",
          "required": true
        },
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "aplication/json": {
                "schema": {
                  "$ref": "#/components/schemas/successDataCrearBloqueoDefinitivoTarjetaVPlus"
                }
              }
            }
          },
          "400": {
            "description": "La solicitud contiene par\u00e1metros inv\u00e1lidos o faltan par\u00e1metros requeridos.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/failure400"
                }
              }
            }
          },
          "401": {
            "description": "Autorizaci\u00f3n fallida.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/failure401"
                }
              }
            }
          },
          "404": {
            "description": "El recurso solicitado no fue encontrado por el sistema.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/failure404"
                }
              }
            }
          },
          "500": {
            "description": "Error interno del servidor.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/failure500"
                }
              }
            }
          },
          "503": {
            "description": "El servidor no est\u00e1 listo para manejar la petici\u00f3n.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/failure503"
                }
              }
            }
          },
          "504": {
            "description": "El servicio no est\u00e1 obtendiendo respuesta a tiempo.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/failure504"
                }
              }
            }
          },
          "default": {
            "description": "Error inesperado.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/failure"
                }
              }
            }
          }
        }
      }
    },
    "/VPlusCambioProducto": {
      "post": {
        "tags": [
          "Producto V Plus"
        ],
        "summary": "Cambiar producto en V Plus",
        "operationId": "POST_cambioproductovplus",
        "security": [
          {
            "apikey": []
          },
          {
            "Authorization": []
          }
        ],
        "parameters": [
          {
            "in": "header",
            "name": "uuId",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Identificador del mensaje se usa para trazabilidad. Este identificador permite identificar los logs de los llamados a las APIs en los repositorios de logs, recomienda enviar un UUID para este valor.",
            "example": "c4e6bd04-5149-11e7-b114-12654765af2f\n"
          },
          {
            "in": "header",
            "name": "timestamp",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Tiempo de ejecucion de inicio de la trasaccion.",
            "example": "2017-01-24 05:00:00.000Z.\n"
          },
          {
            "in": "header",
            "name": "systemId",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "identificador de la aplicacion consumidora Ejemplo:  helpi, insttantt.",
            "example": "helpi\n"
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/jsonReqCambioProductoVPlusCrear"
              }
            }
          },
          "description": "dataRequestBody",
          "required": true
        },
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "aplication/json": {
                "schema": {
                  "$ref": "#/components/schemas/successDataCrearCambioProductoVPlus"
                }
              }
            }
          },
          "400": {
            "description": "La solicitud contiene par\u00e1metros inv\u00e1lidos o faltan par\u00e1metros requeridos.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/failure400"
                }
              }
            }
          },
          "401": {
            "description": "Autorizaci\u00f3n fallida.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/failure401"
                }
              }
            }
          },
          "404": {
            "description": "El recurso solicitado no fue encontrado por el sistema.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/failure404"
                }
              }
            }
          },
          "500": {
            "description": "Error interno del servidor.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/failure500"
                }
              }
            }
          },
          "503": {
            "description": "El servidor no est\u00e1 listo para manejar la petici\u00f3n.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/failure503"
                }
              }
            }
          },
          "504": {
            "description": "El servicio no est\u00e1 obtendiendo respuesta a tiempo.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/failure504"
                }
              }
            }
          },
          "default": {
            "description": "Error inesperado.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/failure"
                }
              }
            }
          }
        }
      }
    },
    "/IntexusRegistro": {
      "post": {
        "tags": [
          "Intexus"
        ],
        "summary": "Crear el registro de realce en Intexux",
        "operationId": "POST_registrorealceintexux",
        "security": [
          {
            "apikey": []
          },
          {
            "Authorization": []
          }
        ],
        "parameters": [
          {
            "in": "header",
            "name": "uuId",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Identificador del mensaje se usa para trazabilidad. Este identificador permite identificar los logs de los llamados a las APIs en los repositorios de logs, recomienda enviar un UUID para este valor.",
            "example": "c4e6bd04-5149-11e7-b114-12654765af2f\n"
          },
          {
            "in": "header",
            "name": "timestamp",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Tiempo de ejecucion de inicio de la trasaccion.",
            "example": "2017-01-24 05:00:00.000Z.\n"
          },
          {
            "in": "header",
            "name": "systemId",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "identificador de la aplicacion consumidora Ejemplo:  helpi, insttantt.",
            "example": "helpi\n"
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/jsonReqRegistroRealceCrear"
              }
            }
          },
          "description": "dataRequestBody",
          "required": true
        },
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "aplication/json": {
                "schema": {
                  "$ref": "#/components/schemas/successDataCrearRegistroRealceIntexus"
                }
              }
            }
          },
          "400": {
            "description": "La solicitud contiene par\u00e1metros inv\u00e1lidos o faltan par\u00e1metros requeridos.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/failure400"
                }
              }
            }
          },
          "401": {
            "description": "Autorizaci\u00f3n fallida.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/failure401"
                }
              }
            }
          },
          "404": {
            "description": "El recurso solicitado no fue encontrado por el sistema.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/failure404"
                }
              }
            }
          },
          "500": {
            "description": "Error interno del servidor.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/failure500"
                }
              }
            }
          },
          "503": {
            "description": "El servidor no est\u00e1 listo para manejar la petici\u00f3n.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/failure503"
                }
              }
            }
          },
          "504": {
            "description": "El servicio no est\u00e1 obtendiendo respuesta a tiempo.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/failure504"
                }
              }
            }
          },
          "default": {
            "description": "Error inesperado.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/failure"
                }
              }
            }
          }
        }
      }
    },
    "/VPlusTarjetaTope": {
      "put": {
        "tags": [
          "Producto V Plus"
        ],
        "summary": "Modificar topes transaccionales de una cuenta en V Plus",
        "operationId": "POST_modificartopescuentavplus",
        "security": [
          {
            "apikey": []
          },
          {
            "Authorization": []
          }
        ],
        "parameters": [
          {
            "in": "header",
            "name": "uuId",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Identificador del mensaje se usa para trazabilidad. Este identificador permite identificar los logs de los llamados a las APIs en los repositorios de logs, recomienda enviar un UUID para este valor.",
            "example": "c4e6bd04-5149-11e7-b114-12654765af2f\n"
          },
          {
            "in": "header",
            "name": "timestamp",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Tiempo de ejecucion de inicio de la trasaccion.",
            "example": "2017-01-24 05:00:00.000Z.\n"
          },
          {
            "in": "header",
            "name": "systemId",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "identificador de la aplicacion consumidora Ejemplo:  helpi, insttantt.",
            "example": "helpi\n"
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/jsonReqTopesCuentaVPlusActualizar"
              }
            }
          },
          "description": "dataRequestBody",
          "required": true
        },
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "aplication/json": {
                "schema": {
                  "$ref": "#/components/schemas/successDataActualizarTopesCuentaVPlus"
                }
              }
            }
          },
          "400": {
            "description": "La solicitud contiene par\u00e1metros inv\u00e1lidos o faltan par\u00e1metros requeridos.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/failure400"
                }
              }
            }
          },
          "401": {
            "description": "Autorizaci\u00f3n fallida.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/failure401"
                }
              }
            }
          },
          "404": {
            "description": "El recurso solicitado no fue encontrado por el sistema.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/failure404"
                }
              }
            }
          },
          "500": {
            "description": "Error interno del servidor.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/failure500"
                }
              }
            }
          },
          "503": {
            "description": "El servidor no est\u00e1 listo para manejar la petici\u00f3n.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/failure503"
                }
              }
            }
          },
          "504": {
            "description": "El servicio no est\u00e1 obtendiendo respuesta a tiempo.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/failure504"
                }
              }
            }
          },
          "default": {
            "description": "Error inesperado.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/failure"
                }
              }
            }
          }
        }
      }
    },
    "/Health": {
      "head": {
        "summary": "Validar estado de la Api",
        "description": "metodo para validar el estado de la API y sus dependencias, en caso de error retornaria status 500, con el listado descriptivo.",
        "responses": {
          "200": {
            "description": "Success"
          },
          "500": {
            "description": "Error interno del servidor.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/unhealthy"
                }
              }
            }
          }
        }
      }
    }
  },
  "components": {
    "securitySchemes": {
      "apikey": {
        "type": "apiKey",
        "name": "apikey",
        "in": "header"
      },
      "Authorization": {
        "type": "apiKey",
        "name": "Authorization",
        "in": "header"
      }
    },
    "schemas": {
      "successEmpty": {
        "type": "object",
        "properties": {
          "meta": {
            "$ref": "#/components/schemas/meta"
          },
          "statusCodigo": {
            "type": "number",
            "description": "Codigo de estado HTTP (status codigo) asociado al mensaje  de la respuesta del llamado a la API.",
            "example": 200
          },
          "statusDesc": {
            "type": "string",
            "description": "Titulo asociado al c\u00f3digo de estado HTTP (status codigo) asociado al mensaje  de la respuesta del llamado a la API.",
            "example": "OK"
          },
          "adicionalInfo": {
            "type": "array",
            "description": "Lista de codigos y mensajes controlados",
            "uniqueItems": true,
            "items": {
              "$ref": "#/components/schemas/adicionalInfo"
            }
          }
        }
      },
      "successDataCrearProducto": {
        "type": "object",
        "properties": {
          "meta": {
            "$ref": "#/components/schemas/meta"
          },
          "statusCodigo": {
            "type": "number",
            "description": "Codigo de estado HTTP (status codigo) asociado al mensaje  de la respuesta del llamado a la API.",
            "example": 200
          },
          "statusDesc": {
            "type": "string",
            "description": "Titulo asociado al c\u00f3digo de estado HTTP (status codigo) asociado al mensaje  de la respuesta del llamado a la API.",
            "example": "OK"
          },
          "adicionalInfo": {
            "type": "array",
            "description": "Lista de codigos y mensajes controlados",
            "uniqueItems": true,
            "items": {
              "$ref": "#/components/schemas/adicionalInfo"
            }
          },
          "data": {
            "$ref": "#/components/schemas/jsonResProductoCrear"
          }
        }
      },
      "successDataconsultarProductosCliente": {
        "type": "object",
        "properties": {
          "meta": {
            "$ref": "#/components/schemas/meta"
          },
          "statusCodigo": {
            "type": "number",
            "description": "Codigo de estado HTTP (status codigo) asociado al mensaje  de la respuesta del llamado a la API.",
            "example": 200
          },
          "statusDesc": {
            "type": "string",
            "description": "Titulo asociado al c\u00f3digo de estado HTTP (status codigo) asociado al mensaje  de la respuesta del llamado a la API.",
            "example": "OK"
          },
          "adicionalInfo": {
            "type": "array",
            "description": "Lista de codigos y mensajes controlados",
            "uniqueItems": true,
            "items": {
              "$ref": "#/components/schemas/adicionalInfo"
            }
          },
          "data": {
            "$ref": "#/components/schemas/jsonResProductoConsultar"
          }
        }
      },
      "successDataCrearRelacionEstadoProducto": {
        "type": "object",
        "properties": {
          "meta": {
            "$ref": "#/components/schemas/meta"
          },
          "statusCodigo": {
            "type": "number",
            "description": "Codigo de estado HTTP (status codigo) asociado al mensaje  de la respuesta del llamado a la API.",
            "example": 200
          },
          "statusDesc": {
            "type": "string",
            "description": "Titulo asociado al c\u00f3digo de estado HTTP (status codigo) asociado al mensaje  de la respuesta del llamado a la API.",
            "example": "OK"
          },
          "adicionalInfo": {
            "type": "array",
            "description": "Lista de codigos y mensajes controlados",
            "uniqueItems": true,
            "items": {
              "$ref": "#/components/schemas/adicionalInfo"
            }
          },
          "data": {
            "$ref": "#/components/schemas/jsonResRelacionEstadoProductoCrear"
          }
        }
      },
      "successDataConsultarRelacionEstadoProducto": {
        "type": "object",
        "properties": {
          "meta": {
            "$ref": "#/components/schemas/meta"
          },
          "statusCodigo": {
            "type": "number",
            "description": "Codigo de estado HTTP (status codigo) asociado al mensaje  de la respuesta del llamado a la API.",
            "example": 200
          },
          "statusDesc": {
            "type": "string",
            "description": "Titulo asociado al c\u00f3digo de estado HTTP (status codigo) asociado al mensaje  de la respuesta del llamado a la API.",
            "example": "OK"
          },
          "adicionalInfo": {
            "type": "array",
            "description": "Lista de codigos y mensajes controlados",
            "uniqueItems": true,
            "items": {
              "$ref": "#/components/schemas/adicionalInfo"
            }
          },
          "data": {
            "$ref": "#/components/schemas/jsonResRelacionEstadoProductoConsultar"
          }
        }
      },
      "successDataconsultarProductoCaractertisticasCliente": {
        "type": "object",
        "properties": {
          "meta": {
            "$ref": "#/components/schemas/meta"
          },
          "statusCodigo": {
            "type": "number",
            "description": "Codigo de estado HTTP (status codigo) asociado al mensaje  de la respuesta del llamado a la API.",
            "example": 200
          },
          "statusDesc": {
            "type": "string",
            "description": "Titulo asociado al c\u00f3digo de estado HTTP (status codigo) asociado al mensaje  de la respuesta del llamado a la API.",
            "example": "OK"
          },
          "adicionalInfo": {
            "type": "array",
            "description": "Lista de codigos y mensajes controlados",
            "uniqueItems": true,
            "items": {
              "$ref": "#/components/schemas/adicionalInfo"
            }
          },
          "data": {
            "$ref": "#/components/schemas/jsonResProductoCaracteristicasConsultar"
          }
        }
      },
      "successDataconsultarProductoVPlusCliente": {
        "type": "object",
        "properties": {
          "meta": {
            "$ref": "#/components/schemas/meta"
          },
          "statusCodigo": {
            "type": "number",
            "description": "Codigo de estado HTTP (status codigo) asociado al mensaje  de la respuesta del llamado a la API.",
            "example": 200
          },
          "statusDesc": {
            "type": "string",
            "description": "Titulo asociado al c\u00f3digo de estado HTTP (status codigo) asociado al mensaje  de la respuesta del llamado a la API.",
            "example": "OK"
          },
          "adicionalInfo": {
            "type": "array",
            "description": "Lista de codigos y mensajes controlados",
            "uniqueItems": true,
            "items": {
              "$ref": "#/components/schemas/adicionalInfo"
            }
          },
          "data": {
            "$ref": "#/components/schemas/jsonResProductoVPlusConsultar"
          }
        }
      },
      "successDataCrearTarjetaFisicaVPlus": {
        "type": "object",
        "properties": {
          "meta": {
            "$ref": "#/components/schemas/meta"
          },
          "statusCodigo": {
            "type": "number",
            "description": "Codigo de estado HTTP (status codigo) asociado al mensaje  de la respuesta del llamado a la API.",
            "example": 200
          },
          "statusDesc": {
            "type": "string",
            "description": "Titulo asociado al c\u00f3digo de estado HTTP (status codigo) asociado al mensaje  de la respuesta del llamado a la API.",
            "example": "OK"
          },
          "adicionalInfo": {
            "type": "array",
            "description": "Lista de codigos y mensajes controlados",
            "uniqueItems": true,
            "items": {
              "$ref": "#/components/schemas/adicionalInfo"
            }
          },
          "data": {
            "$ref": "#/components/schemas/jsonResTarjetaFisicaVPlusCrear"
          }
        }
      },
      "successDataActivarTarjetaVPlus": {
        "type": "object",
        "properties": {
          "meta": {
            "$ref": "#/components/schemas/meta"
          },
          "statusCodigo": {
            "type": "number",
            "description": "Codigo de estado HTTP (status codigo) asociado al mensaje  de la respuesta del llamado a la API.",
            "example": 200
          },
          "statusDesc": {
            "type": "string",
            "description": "Titulo asociado al c\u00f3digo de estado HTTP (status codigo) asociado al mensaje  de la respuesta del llamado a la API.",
            "example": "OK"
          },
          "adicionalInfo": {
            "type": "array",
            "description": "Lista de codigos y mensajes controlados",
            "uniqueItems": true,
            "items": {
              "$ref": "#/components/schemas/adicionalInfo"
            }
          },
          "data": {
            "$ref": "#/components/schemas/jsonResTarjetaVPlusActivar"
          }
        }
      },
      "successDataBloquearTarjetaVPlus": {
        "type": "object",
        "properties": {
          "meta": {
            "$ref": "#/components/schemas/meta"
          },
          "statusCodigo": {
            "type": "number",
            "description": "Codigo de estado HTTP (status codigo) asociado al mensaje  de la respuesta del llamado a la API.",
            "example": 200
          },
          "statusDesc": {
            "type": "string",
            "description": "Titulo asociado al c\u00f3digo de estado HTTP (status codigo) asociado al mensaje  de la respuesta del llamado a la API.",
            "example": "OK"
          },
          "adicionalInfo": {
            "type": "array",
            "description": "Lista de codigos y mensajes controlados",
            "uniqueItems": true,
            "items": {
              "$ref": "#/components/schemas/adicionalInfo"
            }
          },
          "data": {
            "$ref": "#/components/schemas/jsonResTarjetaVPlusBloquear"
          }
        }
      },
      "successDataCrearBloqueoDefinitivoTarjetaVPlus": {
        "type": "object",
        "properties": {
          "meta": {
            "$ref": "#/components/schemas/meta"
          },
          "statusCodigo": {
            "type": "number",
            "description": "Codigo de estado HTTP (status codigo) asociado al mensaje  de la respuesta del llamado a la API.",
            "example": 200
          },
          "statusDesc": {
            "type": "string",
            "description": "Titulo asociado al c\u00f3digo de estado HTTP (status codigo) asociado al mensaje  de la respuesta del llamado a la API.",
            "example": "OK"
          },
          "adicionalInfo": {
            "type": "array",
            "description": "Lista de codigos y mensajes controlados",
            "uniqueItems": true,
            "items": {
              "$ref": "#/components/schemas/adicionalInfo"
            }
          },
          "data": {
            "$ref": "#/components/schemas/jsonResTarjetaVPlusBloqueoDefinitivoCrear"
          }
        }
      },
      "successDataCrearCambioProductoVPlus": {
        "type": "object",
        "properties": {
          "meta": {
            "$ref": "#/components/schemas/meta"
          },
          "statusCodigo": {
            "type": "number",
            "description": "Codigo de estado HTTP (status codigo) asociado al mensaje  de la respuesta del llamado a la API.",
            "example": 200
          },
          "statusDesc": {
            "type": "string",
            "description": "Titulo asociado al c\u00f3digo de estado HTTP (status codigo) asociado al mensaje  de la respuesta del llamado a la API.",
            "example": "OK"
          },
          "adicionalInfo": {
            "type": "array",
            "description": "Lista de codigos y mensajes controlados",
            "uniqueItems": true,
            "items": {
              "$ref": "#/components/schemas/adicionalInfo"
            }
          },
          "data": {
            "$ref": "#/components/schemas/jsonResCambioProductoVPlusCrear"
          }
        }
      },
      "successDataActualizarTopesCuentaVPlus": {
        "type": "object",
        "properties": {
          "meta": {
            "$ref": "#/components/schemas/meta"
          },
          "statusCodigo": {
            "type": "number",
            "description": "Codigo de estado HTTP (status codigo) asociado al mensaje  de la respuesta del llamado a la API.",
            "example": 200
          },
          "statusDesc": {
            "type": "string",
            "description": "Titulo asociado al c\u00f3digo de estado HTTP (status codigo) asociado al mensaje  de la respuesta del llamado a la API.",
            "example": "OK"
          },
          "adicionalInfo": {
            "type": "array",
            "description": "Lista de codigos y mensajes controlados",
            "uniqueItems": true,
            "items": {
              "$ref": "#/components/schemas/adicionalInfo"
            }
          },
          "data": {
            "$ref": "#/components/schemas/jsonResTopesCuentaVPlusActualizar"
          }
        }
      },
      "successDataCrearRegistroRealceIntexus": {
        "type": "object",
        "properties": {
          "meta": {
            "$ref": "#/components/schemas/meta"
          },
          "statusCodigo": {
            "type": "number",
            "description": "Codigo de estado HTTP (status codigo) asociado al mensaje  de la respuesta del llamado a la API.",
            "example": 200
          },
          "statusDesc": {
            "type": "string",
            "description": "Titulo asociado al c\u00f3digo de estado HTTP (status codigo) asociado al mensaje  de la respuesta del llamado a la API.",
            "example": "OK"
          },
          "adicionalInfo": {
            "type": "array",
            "description": "Lista de codigos y mensajes controlados",
            "uniqueItems": true,
            "items": {
              "$ref": "#/components/schemas/adicionalInfo"
            }
          },
          "data": {
            "$ref": "#/components/schemas/jsonResRegistroRealceCrear"
          }
        }
      },
      "failure": {
        "type": "object",
        "properties": {
          "meta": {
            "$ref": "#/components/schemas/meta"
          },
          "statusCodigo": {
            "type": "number",
            "description": "Codigo de estado HTTP (status codigo) asociado al mensaje de la respuesta del llamado a la API.",
            "example": 123
          },
          "statusDesc": {
            "type": "string",
            "description": "Titulo asociado al c\u00f3digo de estado HTTP (status codigo) asociado al mensaje de la respuesta del llamado a la API.",
            "example": "message error"
          },
          "adicionalInfo": {
            "type": "array",
            "description": "Lista de codigos y mensajes controlados",
            "uniqueItems": true,
            "items": {
              "$ref": "#/components/schemas/adicionalInfo"
            }
          }
        }
      },
      "failure400": {
        "type": "object",
        "properties": {
          "meta": {
            "$ref": "#/components/schemas/meta"
          },
          "statusCodigo": {
            "type": "number",
            "description": "Codigo de estado HTTP (status codigo) asociado al mensaje de la respuesta del llamado a la API.",
            "example": 400
          },
          "statusDesc": {
            "type": "string",
            "description": "Titulo asociado al c\u00f3digo de estado HTTP (status codigo) asociado al mensaje de la respuesta del llamado a la API.",
            "example": "Bad Request"
          },
          "adicionalInfo": {
            "type": "array",
            "description": "Lista de codigos y mensajes controlados",
            "uniqueItems": true,
            "items": {
              "$ref": "#/components/schemas/adicionalInfo"
            }
          }
        }
      },
      "failure401": {
        "type": "object",
        "properties": {
          "meta": {
            "$ref": "#/components/schemas/meta"
          },
          "statusCodigo": {
            "type": "number",
            "description": "Codigo de estado HTTP (status codigo) asociado al mensaje de la respuesta del llamado a la API.",
            "example": 401
          },
          "statusDesc": {
            "type": "string",
            "description": "Titulo asociado al c\u00f3digo de estado HTTP (status codigo) asociado al mensaje de la respuesta del llamado a la API.",
            "example": "Unauthorized"
          },
          "adicionalInfo": {
            "type": "array",
            "description": "Lista de codigos y mensajes controlados",
            "uniqueItems": true,
            "items": {
              "$ref": "#/components/schemas/adicionalInfo"
            }
          }
        }
      },
      "failure404": {
        "type": "object",
        "properties": {
          "meta": {
            "$ref": "#/components/schemas/meta"
          },
          "statusCodigo": {
            "type": "number",
            "description": "Codigo de estado HTTP (status codigo) asociado al mensaje de la respuesta del llamado a la API.",
            "example": 404
          },
          "statusDesc": {
            "type": "string",
            "description": "Titulo asociado al c\u00f3digo de estado HTTP (status codigo) asociado al mensaje de la respuesta del llamado a la API.",
            "example": "Not Found"
          },
          "adicionalInfo": {
            "type": "array",
            "description": "Lista de codigos y mensajes controlados",
            "uniqueItems": true,
            "items": {
              "$ref": "#/components/schemas/adicionalInfo"
            }
          }
        }
      },
      "failure500": {
        "type": "object",
        "properties": {
          "meta": {
            "$ref": "#/components/schemas/meta"
          },
          "statusCodigo": {
            "type": "number",
            "description": "Codigo de estado HTTP (status codigo) asociado al mensaje de la respuesta del llamado a la API.",
            "example": 500
          },
          "statusDesc": {
            "type": "string",
            "description": "Titulo asociado al c\u00f3digo de estado HTTP (status codigo) asociado al mensaje de la respuesta del llamado a la API.",
            "example": "Internal Server Error"
          },
          "adicionalInfo": {
            "type": "array",
            "description": "Lista de codigos y mensajes controlados",
            "uniqueItems": true,
            "items": {
              "$ref": "#/components/schemas/adicionalInfo"
            }
          }
        }
      },
      "failure503": {
        "type": "object",
        "properties": {
          "meta": {
            "$ref": "#/components/schemas/meta"
          },
          "statusCodigo": {
            "type": "number",
            "description": "Codigo de estado HTTP (status codigo) asociado al mensaje de la respuesta del llamado a la API.",
            "example": 503
          },
          "statusDesc": {
            "type": "string",
            "description": "Titulo asociado al c\u00f3digo de estado HTTP (status codigo) asociado al mensaje de la respuesta del llamado a la API.",
            "example": "Service Unavailable"
          },
          "adicionalInfo": {
            "type": "array",
            "description": "Lista de codigos y mensajes controlados",
            "uniqueItems": true,
            "items": {
              "$ref": "#/components/schemas/adicionalInfo"
            }
          }
        }
      },
      "failure504": {
        "type": "object",
        "properties": {
          "meta": {
            "$ref": "#/components/schemas/meta"
          },
          "statusCodigo": {
            "type": "number",
            "description": "Codigo de estado HTTP (status codigo) asociado al mensaje de la respuesta del llamado a la API.",
            "example": 504
          },
          "statusDesc": {
            "type": "string",
            "description": "Titulo asociado al c\u00f3digo de estado HTTP (status codigo) asociado al mensaje de la respuesta del llamado a la API.",
            "example": "Gateway Timeout"
          },
          "adicionalInfo": {
            "type": "array",
            "description": "Lista de codigos y mensajes controlados",
            "uniqueItems": true,
            "items": {
              "$ref": "#/components/schemas/adicionalInfo"
            }
          }
        }
      },
      "adicionalInfo": {
        "type": "object",
        "description": "Objeto que describe los codigos y los mensajes adicionales",
        "required": [
          "codigo",
          "detalle"
        ],
        "properties": {
          "codigo": {
            "description": "codigo personalizable por el negocio para homologar los codigos del backend.",
            "type": "string",
            "example": "100-999"
          },
          "detalle": {
            "description": "Es la descripcion del mensaje personalizable para homologar los mensajes del backend.",
            "type": "string",
            "example": "mensaje definido por el area."
          }
        }
      },
      "meta": {
        "description": "Datos de trazabilidad e informaci\u00f3n t\u00e9cnica del mensaje.",
        "type": "object",
        "required": [
          "uuId",
          "timestamp",
          "systemId"
        ],
        "properties": {
          "uuId": {
            "type": "string",
            "example": "c4e6bd04-5149-11e7-b114-a2f933d5fe66"
          },
          "timestamp": {
            "type": "string",
            "format": "date-time",
            "example": "2017-01-24T05:00:00.000Z"
          },
          "systemId": {
            "type": "string",
            "example": "acxff62e-6f12-42de-9012-1e7304418abd"
          }
        }
      },
      "unhealthy": {
        "properties": {
          "status": {
            "type": "string",
            "example": "Unhealthy"
          },
          "totalDuracion": {
            "type": "string",
            "example": "00:00:05.1489897"
          },
          "entradas": {
            "type": "object",
            "properties": {
              "dependencia1": {
                "type": "object",
                "properties": {
                  "duracion": {
                    "type": "string",
                    "example": "00:00:03.1489897"
                  },
                  "status": {
                    "type": "string",
                    "example": "Healthy"
                  },
                  "campoAdicional": {
                    "type": "string",
                    "example": "descripcion adicional"
                  }
                }
              },
              "dependencia2": {
                "type": "object",
                "properties": {
                  "duracion": {
                    "type": "string",
                    "example": "00:00:03.1489897"
                  },
                  "status": {
                    "type": "string",
                    "example": "Healthy"
                  },
                  "campoAdicional": {
                    "type": "string",
                    "example": "descripcion adicional"
                  }
                }
              },
              "dependencia3": {
                "type": "object",
                "properties": {
                  "duracion": {
                    "type": "string",
                    "example": "00:00:03.1489897"
                  },
                  "status": {
                    "type": "string",
                    "example": "Healthy"
                  },
                  "campoAdicional": {
                    "type": "string",
                    "example": "descripcion adicional"
                  }
                }
              },
              "dependenciaN": {
                "type": "object",
                "properties": {
                  "duracion": {
                    "type": "string",
                    "example": "00:00:03.1489897"
                  },
                  "descripcion": {
                    "type": "string",
                    "example": "No connection to server"
                  },
                  "status": {
                    "type": "string",
                    "example": "Unhealthy"
                  },
                  "exception": {
[...]
