{
  "openapi": "3.0.3",
  "info": {
    "title": "Orca Scan REST API",
    "version": "1.0",
    "description": "OpenAPI extracted from the Orca Scan REST API guide\nSource: https://orcascan.com/guides/rest-api-f09a21c3\n",
    "license": {
      "name": "MIT",
      "url": "https://opensource.org/licenses/MIT"
    },
    "contact": {}
  },
  "servers": [
    {
      "url": "https://api.orcascan.com/v1"
    }
  ],
  "security": [
    {
      "bearerAuth": []
    }
  ],
  "components": {
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "scheme": "bearer",
        "bearerFormat": "API-KEY"
      }
    },
    "parameters": {
      "SheetId": {
        "name": "sheetId",
        "in": "path",
        "required": true,
        "schema": {
          "type": "string"
        }
      },
      "RowId": {
        "name": "rowId",
        "in": "path",
        "required": true,
        "schema": {
          "type": "string"
        }
      },
      "UserId": {
        "name": "userId",
        "in": "path",
        "required": true,
        "schema": {
          "type": "string"
        }
      },
      "HookId": {
        "name": "hookId",
        "in": "path",
        "required": true,
        "schema": {
          "type": "string"
        }
      },
      "FieldKey": {
        "name": "fieldKey",
        "in": "path",
        "required": true,
        "schema": {
          "type": "string"
        }
      },
      "Partial": {
        "name": "partial",
        "in": "query",
        "required": false,
        "description": "If true, only provided fields are updated (others remain unchanged)",
        "schema": {
          "type": "boolean",
          "default": false
        }
      },
      "Barcode": {
        "name": "barcode",
        "in": "query",
        "required": false,
        "description": "Filter rows by barcode value",
        "schema": {
          "type": "string"
        }
      }
    },
    "schemas": {
      "ApiError": {
        "type": "object",
        "properties": {
          "status": {
            "type": "integer"
          },
          "error": {
            "type": "string"
          },
          "message": {
            "type": "string"
          }
        },
        "required": [
          "status",
          "error",
          "message"
        ]
      },
      "SheetSummary": {
        "type": "object",
        "properties": {
          "_id": {
            "type": "string"
          },
          "name": {
            "type": "string"
          },
          "isOwner": {
            "type": "boolean"
          },
          "canAdmin": {
            "type": "boolean"
          },
          "canUpdate": {
            "type": "boolean"
          },
          "canDelete": {
            "type": "boolean"
          },
          "canExport": {
            "type": "boolean"
          }
        },
        "required": [
          "_id",
          "name"
        ]
      },
      "SheetSettings": {
        "type": "object",
        "properties": {
          "allowPublicExport": {
            "type": "boolean"
          },
          "publicExportUrl": {
            "type": "string"
          },
          "allowPublicEntry": {
            "type": "boolean"
          },
          "publicEntryUrl": {
            "type": "string"
          },
          "allowWebHookIn": {
            "type": "boolean"
          },
          "webHookInUrl": {
            "type": "string"
          },
          "lookupUrl": {
            "type": "string"
          },
          "validationUrl": {
            "type": "string"
          },
          "webHookOutUrl": {
            "type": "string"
          },
          "secret": {
            "type": "string"
          },
          "dateTimeFormat": {
            "type": "string"
          }
        }
      },
      "Row": {
        "type": "object",
        "description": "Dynamic row object. Keys map to your sheet's fields and are defined by the sheet schema. Use GET /sheets/{sheetId}/fields) to discover available fields and types. If a field is configured as an image or attachment, you may send a URL or a base64 string (data URI or raw base64); responses will return URLs.",
        "additionalProperties": true,
        "example": {
          "barcode": "ABC123",
          "name": "Widget",
          "quantity": 10,
          "imageField": "data:image/png;base64,iVBORw0KGgo..."
        }
      },
      "RowIdList": {
        "type": "array",
        "items": {
          "type": "string"
        }
      },
      "HistoryEntry": {
        "type": "object",
        "properties": {
          "_id": {
            "type": "string"
          },
          "barcode": {
            "type": "string"
          },
          "name": {
            "type": "string"
          },
          "quantity": {
            "oneOf": [
              {
                "type": "number"
              },
              {
                "type": "string"
              }
            ]
          },
          "_change": {
            "type": "string",
            "enum": [
              "add",
              "update",
              "delete"
            ]
          },
          "_changedBy": {
            "type": "string"
          },
          "_changedOn": {
            "type": "string",
            "format": "date-time"
          },
          "_changedUsing": {
            "type": "string"
          }
        }
      },
      "User": {
        "type": "object",
        "properties": {
          "_id": {
            "type": "string"
          },
          "email": {
            "type": "string",
            "format": "email"
          },
          "canUpdate": {
            "type": "boolean"
          },
          "canDelete": {
            "type": "boolean"
          },
          "canExport": {
            "type": "boolean"
          },
          "canAdmin": {
            "type": "boolean"
          },
          "invited": {
            "type": "boolean"
          }
        },
        "required": [
          "email"
        ]
      },
      "UserInput": {
        "type": "object",
        "additionalProperties": false,
        "properties": {
          "email": {
            "type": "string",
            "format": "email"
          },
          "canUpdate": {
            "type": "boolean"
          },
          "canDelete": {
            "type": "boolean"
          },
          "canExport": {
            "type": "boolean"
          },
          "canAdmin": {
            "type": "boolean"
          }
        },
        "required": [
          "email"
        ]
      },
      "Hook": {
        "type": "object",
        "properties": {
          "_id": {
            "type": "string"
          },
          "eventName": {
            "type": "string"
          },
          "sheetId": {
            "type": "string"
          },
          "targetUrl": {
            "type": "string",
            "format": "uri"
          }
        },
        "required": [
          "eventName",
          "targetUrl"
        ]
      },
      "HookInput": {
        "type": "object",
        "properties": {
          "eventName": {
            "type": "string",
            "enum": [
              "rows:import:append",
              "rows:import:replace",
              "rows:add",
              "rows:update",
              "rows:delete",
              "columns:clear",
              "sheet:clear",
              "sheet:settings:update"
            ]
          },
          "targetUrl": {
            "type": "string",
            "format": "uri"
          }
        },
        "required": [
          "eventName",
          "targetUrl"
        ]
      },
      "Field": {
        "type": "object",
        "properties": {
          "key": {
            "type": "string",
            "readOnly": true
          },
          "label": {
            "type": "string"
          },
          "type": {
            "type": "string"
          },
          "format": {
            "type": "string",
            "description": "field type label, e.g. text, drop-down list, gps location"
          },
          "default": {},
          "listOptions": {
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "multiSelect": {
            "type": "boolean"
          },
          "formula": {
            "type": "string"
          },
          "locked": {
            "type": "boolean"
          },
          "minLength": {
            "type": "integer"
          },
          "maxLength": {
            "type": "integer"
          },
          "minimum": {
            "type": "number"
          },
          "maximum": {
            "type": "number"
          },
          "placeholder": {
            "type": "string"
          },
          "prefix": {
            "type": "string"
          },
          "suffix": {
            "type": "string"
          },
          "length": {
            "type": "integer"
          },
          "required": {
            "type": "boolean"
          },
          "autofocus": {
            "type": "boolean"
          },
          "autoselect": {
            "type": "boolean"
          },
          "emptyOnEdit": {
            "type": "boolean"
          },
          "emptyOnScan": {
            "type": "boolean"
          },
          "hiddenMobile": {
            "type": "boolean"
          },
          "hiddenWeb": {
            "type": "boolean"
          },
          "readonlyWeb": {
            "type": "boolean"
          },
          "readonlyMobile": {
            "type": "boolean"
          },
          "useInMobileSearch": {
            "type": "boolean"
          },
          "useValueInList": {
            "type": "boolean"
          }
        }
      },
      "FieldInputNew": {
        "allOf": [
          {
            "$ref": "#/components/schemas/Field"
          },
          {
            "type": "object",
            "required": [
              "label",
              "format"
            ]
          }
        ]
      },
      "FieldInputUpdate": {
        "$ref": "#/components/schemas/Field"
      }
    },
    "responses": {
      "ErrorResponse": {
        "description": "Error",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/ApiError"
            }
          }
        }
      }
    }
  },
  "tags": [
    {
      "name": "Sheets",
      "description": "Sheet operations"
    },
    {
      "name": "Rows",
      "description": "Row CRUD operations"
    },
    {
      "name": "History",
      "description": "History retrieval"
    },
    {
      "name": "Users",
      "description": "Sheet users operations"
    },
    {
      "name": "Hooks",
      "description": "Webhook operations"
    },
    {
      "name": "Fields",
      "description": "Sheet fields operations"
    }
  ],
  "paths": {
    "/sheets": {
      "get": {
        "tags": [
          "Sheets"
        ],
        "summary": "Get list of sheets",
        "operationId": "getSheets",
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/SheetSummary"
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/ErrorResponse"
          },
          "default": {
            "$ref": "#/components/responses/ErrorResponse"
          }
        },
        "description": "Get list of sheets"
      },
      "post": {
        "tags": [
          "Sheets"
        ],
        "summary": "Create a sheet",
        "operationId": "createSheet",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "name": {
                    "type": "string"
                  },
                  "description": {
                    "type": "string"
                  },
                  "templateName": {
                    "type": "string"
                  },
                  "includeTestData": {
                    "type": "boolean"
                  }
                },
                "required": [
                  "name"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Created",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "object",
                      "properties": {
                        "_id": {
                          "type": "string"
                        },
                        "name": {
                          "type": "string"
                        },
                        "rows": {
                          "type": "integer"
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "409": {
            "$ref": "#/components/responses/ErrorResponse"
          },
          "501": {
            "$ref": "#/components/responses/ErrorResponse"
          },
          "400": {
            "$ref": "#/components/responses/ErrorResponse"
          },
          "default": {
            "$ref": "#/components/responses/ErrorResponse"
          }
        },
        "description": "Create a sheet"
      }
    },
    "/sheets/{sheetId}/settings": {
      "get": {
        "tags": [
          "Sheets"
        ],
        "summary": "Get sheet settings",
        "operationId": "getSheetSettings",
        "parameters": [
          {
            "$ref": "#/components/parameters/SheetId"
          },
          {
            "name": "sheetId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "$ref": "#/components/schemas/SheetSettings"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/ErrorResponse"
          },
          "default": {
            "$ref": "#/components/responses/ErrorResponse"
          }
        },
        "description": "Get sheet settings"
      }
    },
    "/sheets/{sheetId}/clear": {
      "put": {
        "tags": [
          "Sheets"
        ],
        "summary": "Removes all rows from a sheet",
        "operationId": "clearSheet",
        "parameters": [
          {
            "$ref": "#/components/parameters/SheetId"
          },
          {
            "name": "sheetId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Cleared"
          },
          "400": {
            "$ref": "#/components/responses/ErrorResponse"
          },
          "default": {
            "$ref": "#/components/responses/ErrorResponse"
          }
        },
        "description": "Removes all rows from a sheet"
      }
    },
    "/sheets/{sheetId}/rename": {
      "put": {
        "tags": [
          "Sheets"
        ],
        "summary": "Rename a sheet",
        "operationId": "renameSheet",
        "parameters": [
          {
            "$ref": "#/components/parameters/SheetId"
          },
          {
            "name": "sheetId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "name": {
                    "type": "string"
                  },
                  "description": {
                    "type": "string"
                  }
                },
                "required": [
                  "name"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK"
          },
          "400": {
            "$ref": "#/components/responses/ErrorResponse"
          },
          "default": {
            "$ref": "#/components/responses/ErrorResponse"
          }
        },
        "description": "Rename a sheet"
      }
    },
    "/sheets/{sheetId}": {
      "delete": {
        "tags": [
          "Sheets"
        ],
        "summary": "Delete a sheet",
        "operationId": "deleteSheet",
        "parameters": [
          {
            "$ref": "#/components/parameters/SheetId"
          },
          {
            "name": "sheetId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Deleted"
          },
          "400": {
            "$ref": "#/components/responses/ErrorResponse"
          },
          "default": {
            "$ref": "#/components/responses/ErrorResponse"
          }
        },
        "description": "Delete a sheet"
      }
    },
    "/sheets/{sheetId}/rows": {
      "get": {
        "tags": [
          "Rows"
        ],
        "summary": "Get all rows",
        "operationId": "getRows",
        "parameters": [
          {
            "$ref": "#/components/parameters/SheetId"
          },
          {
            "$ref": "#/components/parameters/Barcode"
          },
          {
            "name": "sheetId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/Row"
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/ErrorResponse"
          },
          "default": {
            "$ref": "#/components/responses/ErrorResponse"
          }
        },
        "description": "Get all rows"
      },
      "post": {
        "tags": [
          "Rows"
        ],
        "summary": "Add row(s) (adds or updates if exists)",
        "operationId": "addRows",
        "parameters": [
          {
            "$ref": "#/components/parameters/SheetId"
          },
          {
            "$ref": "#/components/parameters/Partial"
          },
          {
            "name": "sheetId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "oneOf": [
                  {
                    "$ref": "#/components/schemas/Row"
                  },
                  {
                    "type": "array",
                    "items": {
                      "$ref": "#/components/schemas/Row"
                    }
                  }
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Added/updated",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "oneOf": [
                        {
                          "$ref": "#/components/schemas/Row"
                        },
                        {
                          "type": "array",
                          "items": {
                            "$ref": "#/components/schemas/Row"
                          }
                        }
                      ]
                    }
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/ErrorResponse"
          },
          "default": {
            "$ref": "#/components/responses/ErrorResponse"
          }
        },
        "description": "Add row(s) (adds or updates if exists)"
      },
      "put": {
        "tags": [
          "Rows"
        ],
        "summary": "Bulk update rows (adds if not exists)",
        "operationId": "bulkUpdateRows",
        "parameters": [
          {
            "$ref": "#/components/parameters/SheetId"
          },
          {
            "$ref": "#/components/parameters/Partial"
          },
          {
            "name": "sheetId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "array",
                "items": {
                  "$ref": "#/components/schemas/Row"
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Updated",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/Row"
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/ErrorResponse"
          },
          "default": {
            "$ref": "#/components/responses/ErrorResponse"
          }
        },
        "description": "Bulk update rows (adds if not exists)"
      },
      "delete": {
        "tags": [
          "Rows"
        ],
        "summary": "Delete multiple rows by id",
        "operationId": "deleteRows",
        "parameters": [
          {
            "$ref": "#/components/parameters/SheetId"
          },
          {
            "name": "sheetId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/RowIdList"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Deleted"
          },
          "400": {
            "$ref": "#/components/responses/ErrorResponse"
          },
          "default": {
            "$ref": "#/components/responses/ErrorResponse"
          }
        },
        "description": "Delete multiple rows by id"
      }
    },
    "/sheets/{sheetId}/rows/{rowId}": {
      "get": {
        "tags": [
          "Rows"
        ],
        "summary": "Get a single row",
        "operationId": "getRow",
        "parameters": [
          {
            "$ref": "#/components/parameters/SheetId"
          },
          {
            "$ref": "#/components/parameters/RowId"
          },
          {
            "name": "rowId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "sheetId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "$ref": "#/components/schemas/Row"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/ErrorResponse"
          },
          "default": {
            "$ref": "#/components/responses/ErrorResponse"
          }
        },
        "description": "Get a single row"
      },
      "put": {
        "tags": [
          "Rows"
        ],
        "summary": "Update a single row",
        "operationId": "updateRow",
        "parameters": [
          {
            "$ref": "#/components/parameters/SheetId"
          },
          {
            "$ref": "#/components/parameters/RowId"
          },
          {
            "$ref": "#/components/parameters/Partial"
          },
          {
            "name": "rowId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "sheetId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "allOf": [
                  {
                    "$ref": "#/components/schemas/Row"
                  },
                  {
                    "type": "object",
                    "required": [
                      "barcode"
                    ]
                  }
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Updated",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "$ref": "#/components/schemas/Row"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/ErrorResponse"
          },
          "default": {
            "$ref": "#/components/responses/ErrorResponse"
          }
        },
        "description": "Update a single row"
      },
      "delete": {
        "tags": [
          "Rows"
        ],
        "summary": "Delete a single row",
        "operationId": "deleteRow",
        "parameters": [
          {
            "$ref": "#/components/parameters/SheetId"
          },
          {
            "$ref": "#/components/parameters/RowId"
          },
          {
            "name": "rowId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "sheetId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Deleted"
          },
          "400": {
            "$ref": "#/components/responses/ErrorResponse"
          },
          "default": {
            "$ref": "#/components/responses/ErrorResponse"
          }
        },
        "description": "Delete a single row"
      }
    },
    "/sheets/{sheetId}/history": {
      "get": {
        "tags": [
          "History"
        ],
        "summary": "Get sheet history",
        "operationId": "getSheetHistory",
        "parameters": [
          {
            "$ref": "#/components/parameters/SheetId"
          },
          {
            "name": "sheetId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/HistoryEntry"
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/ErrorResponse"
          },
          "default": {
            "$ref": "#/components/responses/ErrorResponse"
          }
        },
        "description": "Get sheet history"
      }
    },
    "/sheets/{sheetId}/{rowId}/history": {
      "get": {
        "tags": [
          "History"
        ],
        "summary": "Get row history",
        "operationId": "getRowHistory",
        "parameters": [
          {
            "$ref": "#/components/parameters/SheetId"
          },
          {
            "$ref": "#/components/parameters/RowId"
          },
          {
            "name": "rowId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "sheetId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/HistoryEntry"
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/ErrorResponse"
          },
          "default": {
            "$ref": "#/components/responses/ErrorResponse"
          }
        },
        "description": "Get row history"
      }
    },
    "/sheets/{sheetId}/users": {
      "get": {
        "tags": [
          "Users"
        ],
        "summary": "Get users for a sheet",
        "operationId": "getUsers",
        "parameters": [
          {
            "$ref": "#/components/parameters/SheetId"
          },
          {
            "name": "sheetId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/User"
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/ErrorResponse"
          },
          "default": {
            "$ref": "#/components/responses/ErrorResponse"
          }
        },
        "description": "Get users for a sheet"
      },
      "post": {
        "tags": [
          "Users"
        ],
        "summary": "Add a user to a sheet",
        "operationId": "addUser",
        "parameters": [
          {
            "$ref": "#/components/parameters/SheetId"
          },
          {
            "name": "sheetId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UserInput"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Added",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "$ref": "#/components/schemas/User"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/ErrorResponse"
          },
          "default": {
            "$ref": "#/components/responses/ErrorResponse"
          }
        },
        "description": "Add a user to a sheet"
      }
    },
    "/sheets/{sheetId}/users/{userId}": {
      "put": {
        "tags": [
          "Users"
        ],
        "summary": "Update a user in a sheet",
        "operationId": "updateUser",
        "parameters": [
          {
            "$ref": "#/components/parameters/SheetId"
          },
          {
            "$ref": "#/components/parameters/UserId"
          },
          {
            "name": "userId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "sheetId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UserInput"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Updated",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "$ref": "#/components/schemas/User"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/ErrorResponse"
          },
          "default": {
            "$ref": "#/components/responses/ErrorResponse"
          }
        },
        "description": "Update a user in a sheet"
      },
      "delete": {
        "tags": [
          "Users"
        ],
        "summary": "Remove a user from a sheet",
        "operationId": "deleteUser",
        "parameters": [
          {
            "$ref": "#/components/parameters/SheetId"
          },
          {
            "$ref": "#/components/parameters/UserId"
          },
          {
            "name": "userId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "sheetId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Deleted"
          },
          "400": {
            "$ref": "#/components/responses/ErrorResponse"
          },
          "default": {
            "$ref": "#/components/responses/ErrorResponse"
          }
        },
        "description": "Remove a user from a sheet"
      }
    },
    "/sheets/{sheetId}/hook-events": {
      "get": {
        "tags": [
          "Hooks"
        ],
        "summary": "Get list of supported hook events",
        "operationId": "getHookEvents",
        "parameters": [
          {
            "$ref": "#/components/parameters/SheetId"
          },
          {
            "name": "sheetId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "string"
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/ErrorResponse"
          },
          "default": {
            "$ref": "#/components/responses/ErrorResponse"
          }
        },
        "description": "Get list of supported hook events"
      }
    },
    "/sheets/{sheetId}/hooks": {
      "get": {
        "tags": [
          "Hooks"
        ],
        "summary": "Get all hooks on a sheet",
        "operationId": "getHooks",
        "parameters": [
          {
            "$ref": "#/components/parameters/SheetId"
          },
          {
            "name": "sheetId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/Hook"
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/ErrorResponse"
          },
          "default": {
            "$ref": "#/components/responses/ErrorResponse"
          }
        },
        "description": "Get all hooks on a sheet"
      },
      "post": {
        "tags": [
          "Hooks"
        ],
        "summary": "Create a new hook",
        "operationId": "createHook",
        "parameters": [
          {
            "$ref": "#/components/parameters/SheetId"
          },
          {
            "name": "sheetId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/HookInput"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Created",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "$ref": "#/components/schemas/Hook"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/ErrorResponse"
          },
          "default": {
            "$ref": "#/components/responses/ErrorResponse"
          }
        },
        "description": "Create a new hook"
      }
    },
    "/sheets/{sheetId}/hooks/{hookId}": {
      "get": {
        "tags": [
          "Hooks"
        ],
        "summary": "Get an existing hook",
        "operationId": "getHook",
        "parameters": [
          {
            "$ref": "#/components/parameters/SheetId"
          },
          {
            "$ref": "#/components/parameters/HookId"
          },
          {
            "name": "sheetId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "hookId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "$ref": "#/components/schemas/Hook"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/ErrorResponse"
          },
          "default": {
            "$ref": "#/components/responses/ErrorResponse"
          }
        },
        "description": "Get an existing hook"
      },
      "put": {
        "tags": [
          "Hooks"
        ],
        "summary": "Update an existing hook",
        "operationId": "updateHook",
        "parameters": [
          {
            "$ref": "#/components/parameters/SheetId"
          },
          {
            "$ref": "#/components/parameters/HookId"
          },
          {
            "name": "sheetId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "hookId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/HookInput"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Updated",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "$ref": "#/components/schemas/Hook"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/ErrorResponse"
          },
          "default": {
            "$ref": "#/components/responses/ErrorResponse"
          }
        },
        "description": "Update an existing hook"
      },
      "delete": {
        "tags": [
          "Hooks"
        ],
        "summary": "Delete an existing hook",
        "operationId": "deleteHook",
        "parameters": [
          {
            "$ref": "#/components/parameters/SheetId"
          },
          {
            "$ref": "#/components/parameters/HookId"
          },
          {
            "name": "sheetId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "hookId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Deleted"
          },
          "400": {
            "$ref": "#/components/responses/ErrorResponse"
          },
          "default": {
            "$ref": "#/components/responses/ErrorResponse"
          }
        },
        "description": "Delete an existing hook"
      }
    },
    "/sheets/{sheetId}/fields": {
      "get": {
        "tags": [
          "Fields"
        ],
        "summary": "Get fields for a sheet",
        "operationId": "getFields",
        "parameters": [
          {
            "$ref": "#/components/parameters/SheetId"
          },
          {
            "name": "sheetId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/Field"
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/ErrorResponse"
          },
          "default": {
            "$ref": "#/components/responses/ErrorResponse"
          }
        },
        "description": "Get fields for a sheet"
      },
      "post": {
        "tags": [
          "Fields"
        ],
        "summary": "Add a field to a sheet",
        "operationId": "addField",
        "parameters": [
          {
            "$ref": "#/components/parameters/SheetId"
          },
          {
            "name": "sheetId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/FieldInputNew"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Added",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "$ref": "#/components/schemas/Field"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/ErrorResponse"
          },
          "default": {
            "$ref": "#/components/responses/ErrorResponse"
          }
        },
        "description": "Add a field to a sheet"
      }
    },
    "/sheets/{sheetId}/fields/{fieldKey}": {
      "put": {
        "tags": [
          "Fields"
        ],
        "summary": "Update a field",
        "operationId": "updateField",
        "parameters": [
          {
            "$ref": "#/components/parameters/SheetId"
          },
          {
            "$ref": "#/components/parameters/FieldKey"
          },
          {
            "name": "fieldKey",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "sheetId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/FieldInputUpdate"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Updated",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "$ref": "#/components/schemas/Field"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/ErrorResponse"
          },
          "default": {
            "$ref": "#/components/responses/ErrorResponse"
          }
        },
        "description": "Update a field"
      },
      "delete": {
        "tags": [
          "Fields"
        ],
        "summary": "Delete a field",
        "operationId": "deleteField",
        "parameters": [
          {
            "$ref": "#/components/parameters/SheetId"
          },
          {
            "$ref": "#/components/parameters/FieldKey"
          },
          {
            "name": "fieldKey",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "sheetId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Deleted"
          },
          "400": {
            "$ref": "#/components/responses/ErrorResponse"
          },
          "default": {
            "$ref": "#/components/responses/ErrorResponse"
          }
        },
        "description": "Delete a field"
      }
    }
  },
  "x-orca-status-codes": {
    "documented": [
      "200 Ok",
      "400 Bad request",
      "401 Unauthorized",
      "403 Forbidden",
      "404 Not found",
      "409 Conflict",
      "429 Too Many Requests (Retry-After header)",
      "500 Server Error",
      "501 Not implemented",
      "503 Service Unavailable"
    ]
  }
}
