{
  "openapi": "3.0.0",
  "info": {
    "version": "1.0.0",
    "title": "TMS ZT External API Documentation",
    "description": "API specification for TMS External API's Version - [1.0.0]",
    "x-jentic-source-url": "https://api.swaggerhub.com/apis/hashlogsolutionspriv/hashtms/1.0.0"
  },
  "servers": [
    {
      "description": "TMS ZT external api documentation",
      "url": "https://app.zingtrack.com/ZingTrack-Backend"
    }
  ],
  "paths": {
    "/ValidateGpsVehicle": {
      "post": {
        "tags": [
          "Validate Vehicle"
        ],
        "summary": "Validate Gps Vehicle",
        "operationId": "ValidateGpsVehicle",
        "description": "This API provides you with the ability to validate the vehicle license is GPS or not.",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "example": {
                  "vehicle": {
                    "vehicleLicense": "TN21AB9876"
                  },
                  "apiHeader": {
                    "action": "VALIDATE_GPS_VEHICLE",
                    "password": "sim123",
                    "userName": "sim_erp",
                    "projectId": "365",
                    "accessToken": "CST21TMSSIMERPAPI"
                  },
                  "eventTime": "",
                  "bookingCode": "25DUCIGTAB02359",
                  "eventRemarks": ""
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": {
                      "type": "integer",
                      "example": "200, 204, 205"
                    },
                    "reason": {
                      "type": "string"
                    },
                    "results": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "Branch": {
                            "type": "string",
                            "description": "Branch"
                          }
                        }
                      }
                    }
                  }
                },
                "example": {
                  "status": 200,
                  "reason": "success",
                  "results": [
                    {
                      "Branch": "Busybees Logistics Solutions Pvt Ltd",
                      "responseCode": 540,
                      "message": "License Plate : TN21AB9876 is not GPS Type.",
                      "trackingURL": ""
                    }
                  ]
                }
              }
            }
          },
          "205": {
            "description": "Access denied. IP not configured for access. / Invalid API Key"
          },
          "204": {
            "description": "Invalid fromDate and toDate"
          },
          "500": {
            "description": "Internal Server Error"
          }
        }
      }
    },
    "/AssignTrip": {
      "post": {
        "tags": [
          "Initiate Tracking"
        ],
        "summary": "ADD_TRIP / UPDATE_ROUTE / RE_SUBMIT",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "example": {
                  "apiHeader": {
                    "action": "ADD_TRIP or UPDATE_ROUTE or RE_SUBMIT",
                    "password": "sim123",
                    "userName": "sim_erp",
                    "projectId": "365",
                    "accessToken": "CST21TMSSIMERPAPI"
                  },
                  "route": {
                    "locations": [
                      {
                        "lat": 13.0914,
                        "lon": 80.2828,
                        "pinCode": "600001",
                        "locationCode": "LO02920",
                        "locationName": "ERICSSON INDIA PVT LTD"
                      },
                      {
                        "lat": 13.0914,
                        "lon": 80.2828,
                        "pinCode": "600001",
                        "locationCode": "LO02934",
                        "locationName": "PUNEBHARTI"
                      },
                      {
                        "lat": 13.0914,
                        "lon": 80.2828,
                        "pinCode": "600001",
                        "locationCode": "LO02935",
                        "locationName": "RELIANCEJIO"
                      },
                      {
                        "lat": 9.5127,
                        "lon": 77.6337,
                        "pinCode": "626125",
                        "locationCode": "LO03240",
                        "locationName": "NEW"
                      }
                    ]
                  },
                  "driver": {
                    "driverName": "harhi",
                    "networkType": null,
                    "driverMobile": "9903933333"
                  },
                  "podFlag": true,
                  "vehicle": {
                    "operator": "Network",
                    "truckType": "32 Feet SXL",
                    "pingProfile": "15",
                    "vehicleLicense": "TN21AB1236"
                  },
                  "laneName": null,
                  "zt_wg_id": "713",
                  "bookingCode": "620069883",
                  "consignments": [
                    {
                      "eWay": "",
                      "weight": "46.00",
                      "eWayDate": "",
                      "lrNumber": "NEIN/30/BLR/04834",
                      "cargoType": "General cargo",
                      "lrRemarks": "",
                      "invoiceDate": "",
                      "invoiceNumber": "",
                      "numberOfPacks": 1,
                      "eWayExpiryDate": "",
                      "loadingLocation": "LO02920",
                      "unloadingLocation": "LO02934"
                    },
                    {
                      "eWay": "",
                      "weight": "3.00",
                      "eWayDate": "",
                      "lrNumber": "NEIN/30/BLR/04835",
                      "cargoType": "General cargo",
                      "lrRemarks": "",
                      "invoiceDate": "",
                      "invoiceNumber": "",
                      "numberOfPacks": 1,
                      "eWayExpiryDate": "",
                      "loadingLocation": "LO02920",
                      "unloadingLocation": "LO02935"
                    },
                    {
                      "eWay": "",
                      "weight": "46.00",
                      "eWayDate": "",
                      "lrNumber": "NEIN/30/BLR/04836",
                      "cargoType": "General cargo",
                      "lrRemarks": "",
                      "invoiceDate": "",
                      "invoiceNumber": "",
                      "numberOfPacks": 1,
                      "eWayExpiryDate": "",
                      "loadingLocation": "LO02920",
                      "unloadingLocation": "LO03240"
                    }
                  ],
                  "trackingType": "GPS",
                  "routeGeomentry": null,
                  "trackingPriority": [
                    "GPS",
                    "SIM"
                  ]
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "text/plain": {
                "schema": {
                  "type": "string"
                },
                "example": "{\n    \"responseCode\": 539,\n    \"message\": \"Route Code is already available.\",\n    \"trackingURL\": \"\"\n}"
              }
            }
          }
        }
      }
    },
    "/TripEventUpdate": {
      "post": {
        "tags": [
          "Trip Event Update"
        ],
        "summary": "START_TRIP / END_TRIP /CANCEL_TRIP",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "example": {
                  "zt_wg_id": "713",
                  "apiHeader": {
                    "action": "START_TRIP / END_TRIP /CANCEL_TRIP",
                    "password": "sim123",
                    "userName": "sim_erp",
                    "projectId": "365",
                    "accessToken": "CST21TMSSIMERPAPI"
                  },
                  "eventTime": "08-10-2025 19:04:35",
                  "bookingCode": "25DUCIGTAB02359",
                  "eventRemarks": "",
                  "vehicleLicense": "TN21A4464"
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "text/plain": {
                "schema": {
                  "type": "string"
                },
                "example": "{\n    \"responseCode\": 526,\n    \"message\": \"No route found for : 25DUCIGTAB02359\",\n    \"trackingURL\": \"\"\n}"
              }
            }
          }
        }
      }
    }
  }
}