{
  "openapi": "3.0.3",
  "info": {
    "title": "Servicio OCR - Selfie (Plataforma Gateway OCR)",
    "version": "1.0.0",
    "description": "OCR gateway API for document scanning and selfie verification, processing identity documents and facial recognition.",
    "x-jentic-source-url": "https://api.swaggerhub.com/apis/Procesar2/Plataforma-GatewayOCR/1.0.0/swagger.json",
    "contact": {
      "name": "API Support"
    }
  },
  "servers": [
    {
      "url": "https://api.procesar.com/ocr/v1"
    }
  ],
  "security": [
    {
      "apiKey": []
    }
  ],
  "paths": {
    "/document/scan": {
      "post": {
        "operationId": "scanDocument",
        "tags": [
          "Documents"
        ],
        "summary": "Scan a document",
        "description": "Submit an image for OCR processing to extract document information.",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/DocumentScanRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OCR scan result",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DocumentScanResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      }
    },
    "/selfie/verify": {
      "post": {
        "operationId": "verifySelfie",
        "tags": [
          "Selfie"
        ],
        "summary": "Verify selfie against document",
        "description": "Compare a selfie image with a document photo for identity verification.",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/SelfieVerifyRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Selfie verification result",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SelfieVerifyResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      }
    }
  },
  "components": {
    "securitySchemes": {
      "apiKey": {
        "type": "apiKey",
        "in": "header",
        "name": "x-api-key"
      }
    },
    "schemas": {
      "DocumentScanRequest": {
        "type": "object",
        "required": [
          "image"
        ],
        "properties": {
          "image": {
            "type": "string",
            "format": "base64",
            "description": "Base64 encoded image"
          },
          "documentType": {
            "type": "string",
            "enum": [
              "passport",
              "id_card",
              "driver_license"
            ]
          },
          "country": {
            "type": "string"
          }
        }
      },
      "DocumentScanResponse": {
        "type": "object",
        "properties": {
          "requestId": {
            "type": "string"
          },
          "status": {
            "type": "string"
          },
          "data": {
            "type": "object",
            "properties": {
              "firstName": {
                "type": "string"
              },
              "lastName": {
                "type": "string"
              },
              "dateOfBirth": {
                "type": "string"
              },
              "documentNumber": {
                "type": "string"
              },
              "expiryDate": {
                "type": "string"
              }
            }
          }
        }
      },
      "SelfieVerifyRequest": {
        "type": "object",
        "required": [
          "selfieImage",
          "documentImage"
        ],
        "properties": {
          "selfieImage": {
            "type": "string",
            "format": "base64"
          },
          "documentImage": {
            "type": "string",
            "format": "base64"
          }
        }
      },
      "SelfieVerifyResponse": {
        "type": "object",
        "properties": {
          "requestId": {
            "type": "string"
          },
          "matchScore": {
            "type": "number"
          },
          "isMatch": {
            "type": "boolean"
          },
          "status": {
            "type": "string"
          }
        }
      },
      "ErrorResponse": {
        "type": "object",
        "properties": {
          "error": {
            "type": "string"
          },
          "message": {
            "type": "string"
          }
        }
      }
    }
  },
  "tags": [
    {
      "name": "Documents"
    },
    {
      "name": "Selfie"
    }
  ]
}
