{
  "openapi": "3.0.3",
  "info": {
    "title": "TextRazor API",
    "version": "1.0.0",
    "description": "TextRazor helps you rapidly build state-of-the-art language processing technology into your application. Extract entities, topics, relations, sentiment, and more from text. Manage custom entity dictionaries and classifiers.",
    "x-jentic-source-url": "https://www.textrazor.com/docs/rest",
    "contact": {
      "name": "API Support"
    }
  },
  "servers": [
    {
      "url": "https://api.textrazor.com"
    }
  ],
  "paths": {
    "/": {
      "post": {
        "operationId": "analyzeText",
        "summary": "Analyze text",
        "description": "Main endpoint for all analysis functions. Analyzes text or URL content using the specified extractors.",
        "tags": [
          "Analysis"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/x-www-form-urlencoded": {
              "schema": {
                "type": "object",
                "properties": {
                  "text": {
                    "type": "string",
                    "description": "Up to 200kb of UTF-8 encoded raw text to analyze"
                  },
                  "url": {
                    "type": "string",
                    "description": "Publicly accessible URL to fetch content from"
                  },
                  "extractors": {
                    "type": "string",
                    "description": "Comma-separated list of extractors: entities, topics, words, phrases, dependency-trees, relations, entailments, senses, spelling"
                  },
                  "rules": {
                    "type": "string",
                    "description": "Prolog logic rules"
                  },
                  "cleanup.mode": {
                    "type": "string",
                    "enum": [
                      "raw",
                      "stripTags",
                      "cleanHTML"
                    ],
                    "description": "Preprocessing cleanup mode"
                  },
                  "cleanup.returnCleaned": {
                    "type": "boolean",
                    "description": "Return cleaned text in response"
                  },
                  "cleanup.returnRaw": {
                    "type": "boolean",
                    "description": "Return raw text in response"
                  },
                  "cleanup.useMetadata": {
                    "type": "boolean",
                    "description": "Use metadata to help disambiguation"
                  },
                  "download.userAgent": {
                    "type": "string",
                    "description": "User-Agent header for URL downloads"
                  },
                  "languageOverride": {
                    "type": "string",
                    "description": "ISO-639-2 language code override"
                  },
                  "entities.dictionaries": {
                    "type": "string",
                    "description": "Comma-separated list of custom dictionary IDs"
                  },
                  "entities.filterDbpediaTypes": {
                    "type": "string",
                    "description": "Comma-separated DBpedia types to filter"
                  },
                  "entities.filterFreebaseTypes": {
                    "type": "string",
                    "description": "Comma-separated Freebase types to filter"
                  },
                  "entities.allowOverlap": {
                    "type": "boolean",
                    "description": "Allow overlapping entities"
                  },
                  "classifiers": {
                    "type": "string",
                    "description": "Comma-separated classifier IDs"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Analysis completed successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AnalysisResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/entities/": {
      "get": {
        "operationId": "listDictionaries",
        "summary": "List all dictionaries",
        "description": "Returns a list of all dictionaries in your account.",
        "tags": [
          "DictionaryManager"
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DictionaryListResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/entities/{dictionary_id}": {
      "put": {
        "operationId": "createDictionary",
        "summary": "Create a new dictionary",
        "description": "Creates a new dictionary using properties provided in the JSON body.",
        "tags": [
          "DictionaryManager"
        ],
        "parameters": [
          {
            "name": "dictionary_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Unique ID for the dictionary"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "matchType": {
                    "type": "string",
                    "enum": [
                      "stem",
                      "token"
                    ]
                  },
                  "caseInsensitive": {
                    "type": "boolean"
                  },
                  "language": {
                    "type": "string",
                    "description": "ISO-639-2 code or 'any'"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Dictionary created"
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      },
      "get": {
        "operationId": "getDictionary",
        "summary": "Get dictionary by ID",
        "description": "Returns a Dictionary object by id.",
        "tags": [
          "DictionaryManager"
        ],
        "parameters": [
          {
            "name": "dictionary_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Dictionary"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      },
      "delete": {
        "operationId": "deleteDictionary",
        "summary": "Delete a dictionary",
        "description": "Deletes a dictionary and all its entries by id.",
        "tags": [
          "DictionaryManager"
        ],
        "parameters": [
          {
            "name": "dictionary_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Dictionary deleted"
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/entities/{dictionary_id}/_all": {
      "get": {
        "operationId": "listDictionaryEntries",
        "summary": "List all entries in a dictionary",
        "description": "Returns all entities in this dictionary with paging.",
        "tags": [
          "DictionaryManager"
        ],
        "parameters": [
          {
            "name": "dictionary_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "schema": {
              "type": "integer",
              "default": 20
            }
          },
          {
            "name": "offset",
            "in": "query",
            "schema": {
              "type": "integer",
              "default": 0
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DictionaryEntryListResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/entities/{dictionary_id}/": {
      "post": {
        "operationId": "addDictionaryEntries",
        "summary": "Add entries to dictionary",
        "description": "Adds entries to a dictionary. Entries must be a JSON array of objects. When an entity is added with an id that matches an existing entity, the old entity is overwritten.",
        "tags": [
          "DictionaryManager"
        ],
        "parameters": [
          {
            "name": "dictionary_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "array",
                "items": {
                  "$ref": "#/components/schemas/DictionaryEntry"
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Entries added"
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/entities/{dictionary_id}/{entity_id}": {
      "get": {
        "operationId": "getDictionaryEntry",
        "summary": "Get a specific entity",
        "description": "Gets a specific entity by id.",
        "tags": [
          "DictionaryManager"
        ],
        "parameters": [
          {
            "name": "dictionary_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "entity_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DictionaryEntry"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      },
      "delete": {
        "operationId": "deleteDictionaryEntry",
        "summary": "Delete a specific entity",
        "description": "Deletes a specific entity by id.",
        "tags": [
          "DictionaryManager"
        ],
        "parameters": [
          {
            "name": "dictionary_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "entity_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Entry deleted"
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/categories/{classifier_id}": {
      "put": {
        "operationId": "createOrUpdateClassifier",
        "summary": "Create or update a classifier",
        "description": "Creates a new classifier or adds categories to an existing one. Supports JSON or CSV content types.",
        "tags": [
          "ClassifierManager"
        ],
        "parameters": [
          {
            "name": "classifier_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "array",
                "items": {
                  "$ref": "#/components/schemas/Category"
                }
              }
            },
            "application/csv": {
              "schema": {
                "type": "string",
                "description": "CSV with columns: Category ID, Category Label, Category Query"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Classifier created or updated"
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      },
      "delete": {
        "operationId": "deleteClassifier",
        "summary": "Delete a classifier",
        "description": "Deletes a Classifier and all its Categories by id.",
        "tags": [
          "ClassifierManager"
        ],
        "parameters": [
          {
            "name": "classifier_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Classifier deleted"
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/categories/{classifier_id}/_all": {
      "get": {
        "operationId": "listClassifierCategories",
        "summary": "List categories in a classifier",
        "description": "Returns all categories for a classifier with paging.",
        "tags": [
          "ClassifierManager"
        ],
        "parameters": [
          {
            "name": "classifier_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "schema": {
              "type": "integer",
              "default": 20
            }
          },
          {
            "name": "offset",
            "in": "query",
            "schema": {
              "type": "integer",
              "default": 0
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CategoryListResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/categories/{classifier_id}/{category_id}": {
      "get": {
        "operationId": "getCategory",
        "summary": "Get a specific category",
        "description": "Returns a Category object by id.",
        "tags": [
          "ClassifierManager"
        ],
        "parameters": [
          {
            "name": "classifier_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "category_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Category"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      },
      "delete": {
        "operationId": "deleteCategory",
        "summary": "Delete a specific category",
        "description": "Deletes a specific category from a classifier.",
        "tags": [
          "ClassifierManager"
        ],
        "parameters": [
          {
            "name": "classifier_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "category_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Category deleted"
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    }
  },
  "components": {
    "schemas": {
      "ErrorResponse": {
        "type": "object",
        "properties": {
          "error": {
            "type": "string"
          },
          "message": {
            "type": "string"
          },
          "ok": {
            "type": "boolean"
          }
        }
      },
      "AnalysisResponse": {
        "type": "object",
        "properties": {
          "response": {
            "type": "object",
            "properties": {
              "language": {
                "type": "string"
              },
              "languageIsReliable": {
                "type": "boolean"
              },
              "entities": {
                "type": "array",
                "items": {
                  "$ref": "#/components/schemas/Entity"
                }
              },
              "topics": {
                "type": "array",
                "items": {
                  "$ref": "#/components/schemas/Topic"
                }
              },
              "categories": {
                "type": "array",
                "items": {
                  "$ref": "#/components/schemas/CategoryResult"
                }
              },
              "sentences": {
                "type": "array",
                "items": {
                  "$ref": "#/components/schemas/Sentence"
                }
              },
              "entailments": {
                "type": "array",
                "items": {
                  "$ref": "#/components/schemas/Entailment"
                }
              },
              "relations": {
                "type": "array",
                "items": {
                  "$ref": "#/components/schemas/Relation"
                }
              },
              "properties": {
                "type": "array",
                "items": {
                  "type": "object"
                }
              },
              "nounPhrases": {
                "type": "array",
                "items": {
                  "type": "object"
                }
              },
              "cleanedText": {
                "type": "string"
              },
              "rawText": {
                "type": "string"
              }
            }
          },
          "time": {
            "type": "number"
          },
          "ok": {
            "type": "boolean"
          },
          "custom_annotations": {
            "type": "array",
            "items": {
              "type": "object"
            }
          }
        }
      },
      "Entity": {
        "type": "object",
        "properties": {
          "entityId": {
            "type": "string"
          },
          "entityEnglishId": {
            "type": "string"
          },
          "customEntityId": {
            "type": "string"
          },
          "confidenceScore": {
            "type": "number"
          },
          "relevanceScore": {
            "type": "number"
          },
          "type": {
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "freebaseTypes": {
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "freebaseId": {
            "type": "string"
          },
          "wikidataId": {
            "type": "string"
          },
          "matchingTokens": {
            "type": "array",
            "items": {
              "type": "integer"
            }
          },
          "matchedText": {
            "type": "string"
          },
          "wikiLink": {
            "type": "string"
          },
          "data": {
            "type": "object"
          }
        }
      },
      "Topic": {
        "type": "object",
        "properties": {
          "id": {
            "type": "integer"
          },
          "label": {
            "type": "string"
          },
          "wikiLink": {
            "type": "string"
          },
          "score": {
            "type": "number"
          }
        }
      },
      "CategoryResult": {
        "type": "object",
        "properties": {
          "classifierId": {
            "type": "string"
          },
          "categoryId": {
            "type": "string"
          },
          "label": {
            "type": "string"
          },
          "score": {
            "type": "number"
          }
        }
      },
      "Sentence": {
        "type": "object",
        "properties": {
          "position": {
            "type": "integer"
          },
          "words": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Word"
            }
          }
        }
      },
      "Word": {
        "type": "object",
        "properties": {
          "position": {
            "type": "integer"
          },
          "startingPos": {
            "type": "integer"
          },
          "endingPos": {
            "type": "integer"
          },
          "token": {
            "type": "string"
          },
          "stem": {
            "type": "string"
          },
          "lemma": {
            "type": "string"
          },
          "partOfSpeech": {
            "type": "string"
          },
          "parentPosition": {
            "type": "integer"
          },
          "relationToParent": {
            "type": "string"
          },
          "senses": {
            "type": "array",
            "items": {
              "type": "object"
            }
          }
        }
      },
      "Entailment": {
        "type": "object",
        "properties": {
          "id": {
            "type": "integer"
          },
          "wordPositions": {
            "type": "array",
            "items": {
              "type": "integer"
            }
          },
          "entailedTree": {
            "type": "string"
          },
          "entailedWords": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Word"
            }
          },
          "score": {
            "type": "number"
          },
          "contextScore": {
            "type": "number"
          },
          "priorScore": {
            "type": "number"
          }
        }
      },
      "Relation": {
        "type": "object",
        "properties": {
          "id": {
            "type": "integer"
          },
          "wordPositions": {
            "type": "array",
            "items": {
              "type": "integer"
            }
          },
          "params": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/RelationParam"
            }
          }
        }
      },
      "RelationParam": {
        "type": "object",
        "properties": {
          "relation": {
            "type": "string"
          },
          "wordPositions": {
            "type": "array",
            "items": {
              "type": "integer"
            }
          }
        }
      },
      "Dictionary": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string"
          },
          "matchType": {
            "type": "string",
            "enum": [
              "stem",
              "token"
            ]
          },
          "caseInsensitive": {
            "type": "boolean"
          },
          "language": {
            "type": "string"
          }
        }
      },
      "DictionaryEntry": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string"
          },
          "text": {
            "type": "string"
          },
          "data": {
            "type": "object"
          }
        }
      },
      "DictionaryListResponse": {
        "type": "object",
        "properties": {
          "dictionaries": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Dictionary"
            }
          }
        }
      },
      "DictionaryEntryListResponse": {
        "type": "object",
        "properties": {
          "entries": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/DictionaryEntry"
            }
          },
          "total": {
            "type": "integer"
          },
          "offset": {
            "type": "integer"
          },
          "limit": {
            "type": "integer"
          }
        }
      },
      "Category": {
        "type": "object",
        "properties": {
          "categoryId": {
            "type": "string"
          },
          "label": {
            "type": "string"
          },
          "query": {
            "type": "string"
          }
        }
      },
      "CategoryListResponse": {
        "type": "object",
        "properties": {
          "categories": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Category"
            }
          },
          "total": {
            "type": "integer"
          },
          "offset": {
            "type": "integer"
          },
          "limit": {
            "type": "integer"
          }
        }
      }
    },
    "securitySchemes": {
      "ApiKeyAuth": {
        "type": "apiKey",
        "in": "header",
        "name": "X-TextRazor-Key",
        "description": "TextRazor API key"
      }
    }
  },
  "security": [
    {
      "ApiKeyAuth": []
    }
  ],
  "tags": [
    {
      "name": "Analysis",
      "description": "Text analysis operations"
    },
    {
      "name": "DictionaryManager",
      "description": "Custom entity dictionary management"
    },
    {
      "name": "ClassifierManager",
      "description": "Custom classifier management"
    }
  ]
}
