{
  "openapi": "3.0.3",
  "info": {
    "title": "Nexchange API",
    "description": "N.exchange (Nexchange) is a non-custodial cryptocurrency exchange API. Provides access to currency pairs, price quotes, and order management for instant crypto-to-crypto and fiat-to-crypto exchanges.",
    "version": "1.0.0",
    "x-jentic-source-url": "https://nexchange2.docs.apiary.io/",
    "contact": {
      "name": "API Support"
    }
  },
  "servers": [
    {
      "url": "https://api.n.exchange/en/api/v1",
      "description": "Production"
    }
  ],
  "tags": [
    {
      "name": "Currencies",
      "description": "Available currencies"
    },
    {
      "name": "Pairs",
      "description": "Trading pair information"
    },
    {
      "name": "Prices",
      "description": "Price and quote data"
    },
    {
      "name": "Orders",
      "description": "Order management"
    },
    {
      "name": "Referrals",
      "description": "Referral system"
    },
    {
      "name": "KYC",
      "description": "Know Your Customer verification"
    }
  ],
  "paths": {
    "/currency/": {
      "get": {
        "operationId": "listCurrencies",
        "summary": "List all supported currencies",
        "tags": [
          "Currencies"
        ],
        "parameters": [],
        "responses": {
          "200": {
            "description": "List of currencies",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Currency"
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        },
        "description": "List all supported currencies"
      }
    },
    "/currency/{code}/": {
      "get": {
        "operationId": "getCurrency",
        "summary": "Get currency details",
        "tags": [
          "Currencies"
        ],
        "parameters": [
          {
            "name": "code",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Currency code (e.g. BTC, ETH)"
          }
        ],
        "responses": {
          "200": {
            "description": "Currency details",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Currency"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        },
        "description": "Get currency details"
      }
    },
    "/pair/": {
      "get": {
        "operationId": "listPairs",
        "summary": "List all trading pairs",
        "tags": [
          "Pairs"
        ],
        "parameters": [],
        "responses": {
          "200": {
            "description": "List of pairs",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Pair"
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        },
        "description": "List all trading pairs"
      }
    },
    "/pair/{pair_name}/": {
      "get": {
        "operationId": "getPair",
        "summary": "Get pair details",
        "tags": [
          "Pairs"
        ],
        "parameters": [
          {
            "name": "pair_name",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Pair name (e.g. BTCETH)"
          }
        ],
        "responses": {
          "200": {
            "description": "Pair details",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Pair"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        },
        "description": "Get pair details"
      }
    },
    "/price/{pair_name}/latest/": {
      "get": {
        "operationId": "getLatestPrice",
        "summary": "Get latest price for a pair",
        "tags": [
          "Prices"
        ],
        "parameters": [
          {
            "name": "pair_name",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Pair name (e.g. BTCLTC)"
          },
          {
            "name": "market_code",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "description": "Market code filter"
          }
        ],
        "responses": {
          "200": {
            "description": "Latest price",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Price"
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        },
        "description": "Get latest price for a pair"
      }
    },
    "/price/{pair_name}/history/": {
      "get": {
        "operationId": "getPriceHistory",
        "summary": "Get price history for a pair",
        "tags": [
          "Prices"
        ],
        "parameters": [
          {
            "name": "pair_name",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "hours",
            "in": "query",
            "schema": {
              "type": "number"
            },
            "description": "Number of hours of history"
          },
          {
            "name": "data_points",
            "in": "query",
            "schema": {
              "type": "integer"
            },
            "description": "Number of data points"
          },
          {
            "name": "market_code",
            "in": "query",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Price history",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/PriceHistory"
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        },
        "description": "Get price history for a pair"
      }
    },
    "/volume/": {
      "get": {
        "operationId": "getVolume",
        "summary": "Get exchange volume",
        "tags": [
          "Prices"
        ],
        "parameters": [],
        "responses": {
          "200": {
            "description": "Volume data",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Volume"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        },
        "description": "Get exchange volume"
      }
    },
    "/orders/": {
      "get": {
        "operationId": "listOrders",
        "summary": "List user orders",
        "tags": [
          "Orders"
        ],
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "pair_name",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "status",
            "in": "query",
            "schema": {
              "type": "string",
              "enum": [
                "0",
                "8",
                "11",
                "12",
                "13",
                "14",
                "15"
              ]
            }
          },
          {
            "name": "page",
            "in": "query",
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "List of orders",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "count": {
                      "type": "integer"
                    },
                    "next": {
                      "type": "string",
                      "nullable": true
                    },
                    "previous": {
                      "type": "string",
                      "nullable": true
                    },
                    "results": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/Order"
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        },
        "description": "List user orders"
      },
      "post": {
        "operationId": "createOrder",
        "summary": "Create a new order",
        "tags": [
          "Orders"
        ],
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/OrderCreateRequest"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Order created",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Order"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        },
        "description": "Create a new order"
      }
    },
    "/orders/{unique_reference}/": {
      "get": {
        "operationId": "getOrder",
        "summary": "Get order details",
        "tags": [
          "Orders"
        ],
        "parameters": [
          {
            "name": "unique_reference",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Order unique reference"
          }
        ],
        "responses": {
          "200": {
            "description": "Order details",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Order"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        },
        "description": "Get order details"
      }
    },
    "/orders/{unique_reference}/document/": {
      "get": {
        "operationId": "getOrderDocument",
        "summary": "Get order document/receipt",
        "tags": [
          "Orders"
        ],
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "unique_reference",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Order document",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        },
        "description": "Get order document/receipt"
      },
      "post": {
        "operationId": "uploadOrderDocument",
        "summary": "Upload KYC document for order",
        "tags": [
          "Orders"
        ],
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "unique_reference",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "multipart/form-data": {
              "schema": {
                "type": "object",
                "properties": {
                  "identity_document": {
                    "type": "string",
                    "format": "binary"
                  },
                  "utility_document": {
                    "type": "string",
                    "format": "binary"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Document uploaded",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        },
        "description": "Upload KYC document for order"
      }
    },
    "/limit_order/": {
      "get": {
        "operationId": "listLimitOrders",
        "summary": "List user limit orders",
        "tags": [
          "Orders"
        ],
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "pair_name",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "page",
            "in": "query",
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "List of limit orders",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "count": {
                      "type": "integer"
                    },
                    "results": {
                      "type": "array",
                      "items": {
                        "type": "object"
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        },
        "description": "List user limit orders"
      },
      "post": {
        "operationId": "createLimitOrder",
        "summary": "Create a limit order",
        "tags": [
          "Orders"
        ],
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "pair_name",
                  "amount_base",
                  "limit_rate",
                  "withdraw_address"
                ],
                "properties": {
                  "pair_name": {
                    "type": "string"
                  },
                  "amount_base": {
                    "type": "string"
                  },
                  "limit_rate": {
                    "type": "string"
                  },
                  "withdraw_address": {
                    "type": "object",
                    "properties": {
                      "address": {
                        "type": "string"
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Limit order created",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        },
        "description": "Create a limit order"
      }
    },
    "/limit_order/{id}/": {
      "get": {
        "operationId": "getLimitOrder",
        "summary": "Get limit order details",
        "tags": [
          "Orders"
        ],
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Limit order details",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        },
        "description": "Get limit order details"
      },
      "delete": {
        "operationId": "deleteLimitOrder",
        "summary": "Cancel a limit order",
        "tags": [
          "Orders"
        ],
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "Order cancelled"
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        },
        "description": "Cancel a limit order"
      }
    },
    "/referrals/": {
      "get": {
        "operationId": "listReferrals",
        "summary": "List user referral codes",
        "tags": [
          "Referrals"
        ],
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [],
        "responses": {
          "200": {
            "description": "Referral codes",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/ReferralCode"
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        },
        "description": "List user referral codes"
      },
      "post": {
        "operationId": "createReferralCode",
        "summary": "Create a referral code",
        "tags": [
          "Referrals"
        ],
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Referral code created",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ReferralCode"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        },
        "description": "Create a referral code"
      }
    },
    "/users/me/": {
      "get": {
        "operationId": "getMe",
        "summary": "Get current user profile",
        "tags": [
          "KYC"
        ],
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [],
        "responses": {
          "200": {
            "description": "User profile",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "username": {
                      "type": "string"
                    },
                    "email": {
                      "type": "string"
                    },
                    "is_verified": {
                      "type": "boolean"
                    },
                    "referral_code": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        },
        "description": "Get current user profile"
      }
    },
    "/kyc/": {
      "get": {
        "operationId": "getKycStatus",
        "summary": "Get KYC verification status",
        "tags": [
          "KYC"
        ],
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [],
        "responses": {
          "200": {
            "description": "KYC status",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "is_verified": {
                      "type": "boolean"
                    },
                    "out_of_limit": {
                      "type": "boolean"
                    },
                    "limits_message": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        },
        "description": "Get KYC verification status"
      },
      "post": {
        "operationId": "submitKyc",
        "summary": "Submit KYC verification",
        "tags": [
          "KYC"
        ],
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "content": {
            "multipart/form-data": {
              "schema": {
                "type": "object",
                "properties": {
                  "identity_document": {
                    "type": "string",
                    "format": "binary"
                  },
                  "utility_document": {
                    "type": "string",
                    "format": "binary"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "KYC submitted",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        },
        "description": "Submit KYC verification"
      }
    },
    "/ticker/": {
      "get": {
        "operationId": "getTicker",
        "summary": "Get market ticker data",
        "tags": [
          "Prices"
        ],
        "parameters": [],
        "responses": {
          "200": {
            "description": "Ticker data",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "pair": {
                        "type": "string"
                      },
                      "last_price": {
                        "type": "string"
                      },
                      "volume": {
                        "type": "string"
                      },
                      "change_24h": {
                        "type": "string"
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        },
        "description": "Get market ticker data"
      }
    }
  },
  "components": {
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "scheme": "bearer",
        "description": "Bearer token for authenticated endpoints"
      }
    },
    "schemas": {
      "Error": {
        "type": "object",
        "properties": {
          "detail": {
            "type": "string"
          }
        }
      },
      "Currency": {
        "type": "object",
        "properties": {
          "code": {
            "type": "string"
          },
          "name": {
            "type": "string"
          },
          "min_confirmations": {
            "type": "integer"
          },
          "is_crypto": {
            "type": "boolean"
          },
          "minimal_amount": {
            "type": "string"
          },
          "is_base_of_enabled_pair": {
            "type": "boolean"
          },
          "is_quote_of_enabled_pair": {
            "type": "boolean"
          },
          "has_enabled_pairs": {
            "type": "boolean"
          },
          "is_token": {
            "type": "boolean"
          },
          "stock_chart_code": {
            "type": "string"
          },
          "withdrawal_fee": {
            "type": "string"
          }
        }
      },
      "Pair": {
        "type": "object",
        "properties": {
          "name": {
            "type": "string"
          },
          "base": {
            "type": "string"
          },
          "quote": {
            "type": "string"
          },
          "fee_ask": {
            "type": "string"
          },
          "fee_bid": {
            "type": "string"
          },
          "disabled": {
            "type": "boolean"
          },
          "test_mode": {
            "type": "boolean"
          },
          "orderbook_enabled": {
            "type": "boolean"
          },
          "reverse_orderbook_enabled": {
            "type": "boolean"
          }
        }
      },
      "Price": {
        "type": "object",
        "properties": {
          "created_on": {
            "type": "string",
            "format": "date-time"
          },
          "unix_time": {
            "type": "string"
          },
          "expiration_time_unix": {
            "type": "string"
          },
          "ticker": {
            "type": "object",
            "properties": {
              "ask": {
                "type": "string"
              },
              "bid": {
                "type": "string"
              }
            }
          },
          "market": {
            "type": "object",
            "properties": {
              "name": {
                "type": "string"
              },
              "code": {
                "type": "string"
              }
            }
          },
          "rate": {
            "type": "string"
          },
          "allowed_historic_price_variance": {
            "type": "boolean"
          },
          "allowed_historic_price_age": {
            "type": "boolean"
          }
        }
      },
      "PriceHistory": {
        "type": "object",
        "properties": {
          "created_on": {
            "type": "string",
            "format": "date-time"
          },
          "unix_time": {
            "type": "string"
          },
          "ticker": {
            "type": "object",
            "properties": {
              "ask": {
                "type": "string"
              },
              "bid": {
                "type": "string"
              }
            }
          },
          "rate": {
            "type": "string"
          }
        }
      },
      "Order": {
        "type": "object",
        "properties": {
          "unique_reference": {
            "type": "string"
          },
          "amount_base": {
            "type": "string"
          },
          "is_default_rule": {
            "type": "boolean"
          },
          "amount_quote": {
            "type": "string"
          },
          "pair": {
            "type": "object",
            "properties": {
              "name": {
                "type": "string"
              },
              "base": {
                "type": "string"
              },
              "quote": {
                "type": "string"
              }
            }
          },
          "withdraw_address": {
            "type": "object",
            "properties": {
              "address": {
                "type": "string"
              },
              "currency_code": {
                "type": "string"
              }
            }
          },
          "deposit_address": {
            "type": "object",
            "properties": {
              "address": {
                "type": "string"
              },
              "currency_code": {
                "type": "string"
              }
            }
          },
          "created_on": {
            "type": "string",
            "format": "date-time"
          },
          "from_default_rule": {
            "type": "boolean"
          },
          "status_name": {
            "type": "array",
            "items": {
              "type": "array",
              "items": {
                "type": "string"
              }
            }
          },
          "payment_window": {
            "type": "integer"
          },
          "payment_deadline": {
            "type": "string",
            "format": "date-time"
          }
        }
      },
      "OrderCreateRequest": {
        "type": "object",
        "required": [
          "pair_name",
          "amount_base",
          "withdraw_address"
        ],
        "properties": {
          "pair_name": {
            "type": "string",
            "description": "Trading pair name (e.g. BTCETH)"
          },
          "amount_base": {
            "type": "string",
            "description": "Amount of base currency"
          },
          "amount_quote": {
            "type": "string",
            "description": "Amount of quote currency"
          },
          "withdraw_address": {
            "type": "object",
            "required": [
              "address"
            ],
            "properties": {
              "address": {
                "type": "string"
              },
              "memo": {
                "type": "string"
              }
            }
          }
        }
      },
      "Volume": {
        "type": "object",
        "properties": {
          "timestamp": {
            "type": "integer"
          },
          "total_volume_btc": {
            "type": "string"
          },
          "total_volume_usd": {
            "type": "string"
          }
        }
      },
      "ReferralCode": {
        "type": "object",
        "properties": {
          "code": {
            "type": "string"
          },
          "turnover": {
            "type": "string"
          },
          "orders_count": {
            "type": "integer"
          },
          "created_on": {
            "type": "string",
            "format": "date-time"
          }
        }
      }
    }
  }
}
