{
  "openapi": "3.0.0",
  "info": {
    "version": "1.0.0",
    "title": "Web Application Scanning v2",
    "license": {
      "name": "Web App Scanning"
    },
    "description": "The Tenable Web App Scanning v2 API serves as a gateway for you to interact with the Tenable Web App Scanning application and enables users to automate the security management of web applications. You can safely and accurately scan web applications to provide deep visibility into vulnerabilities and context for prioritizing remediations. Use the Tenable Web App Scanning v2 API endpoints to perform CRUD operations on web application scans, launch web application scans, and obtain scan and asset details. For the most up-to-date announcements, subscribe to our [RSS feed](https://feeds.feedburner.com/TenableDeveloperHub) or check the [API Changelog](https://developer.tenable.com/changelog).",
    "x-jentic-source-url": "https://developer.tenable.com/openapi/web-app-scanning.json",
    "contact": {
      "name": "API Support"
    }
  },
  "servers": [
    {
      "url": "https://cloud.tenable.com"
    }
  ],
  "security": [
    {
      "cloud": []
    }
  ],
  "tags": [
    {
      "name": "Applications",
      "description": "With the WAS Applications API, you can create web application assets.\n\nFor more information, see the [Targets](https://docs.tenable.com/web-app-scanning/Content/WAS/Scans/BasicSettings.htm#Targets) section on the [Basic Settings](https://docs.tenable.com/web-app-scanning/Content/WAS/Scans/BasicSettings.htm) page in the _Tenable Web App Scanning User Guide_."
    },
    {
      "name": "Attachments",
      "description": "With the Attachments API, you can download auxiliary files generated by plugins during a scan. These attachments provide forensic evidence and deeper context for identified vulnerabilities.\n\nFor more information, see the [Tenable Web App Scanning User Guide](https://docs.tenable.com/web-app-scanning/)."
    },
    {
      "name": "Configurations",
      "description": "With the Configurations API, you can create and maintain reusable scan settings. These endpoints allow you to perform standard CRUD operations on configuration objects to standardize scanning across your environment.\n\nFor more information, see [Scan Templates](https://docs.tenable.com/web-app-scanning/Content/WAS/Scans/WASScanSettings.htm) in the _Tenable Web App Scanning User Guide_."
    },
    {
      "name": "Exports",
      "description": "With the Exports API, you can manage asynchronous finding exports. Use these endpoints to initiate export jobs, monitor status, and download results in chunks for integration with external workflow management systems."
    },
    {
      "name": "Filters",
      "description": "With the Filters API, you can retrieve available filter metadata for various record types, including scan configurations, templates, and workbench results. Use these endpoints to determine which fields and operators are supported for specific POST-based search queries."
    },
    {
      "name": "Folders",
      "description": "With the Folders API, you can organize your scans using default and custom folders. Use these endpoints to create, list, rename, and delete folders to maintain your scan hierarchy."
    },
    {
      "name": "Plugins",
      "description": "With the Plugins API, you can access detailed metadata for Tenable Web App Scanning plugins. Retrieve vulnerability counts categorized by application, OWASP category, and severity, as well as scan health metrics."
    },
    {
      "name": "Scans",
      "description": "With the Scans API, you can execute and manage scan operations. Use these endpoints to run scans using existing configurations, monitor progress, retrieve results, or delete scan history.\n\nFor more information, see the [Scan Workflow](https://docs.tenable.com/web-app-scanning/Content/WAS/Scans/ScanWorkflow.htm) in the _Tenable Web App Scanning User Guide_."
    },
    {
      "name": "Templates",
      "description": "With the Templates API, you can manage scan and user templates. Use these endpoints to retrieve default settings or create custom templates based on organizational policies. Templates serve as the blueprint for creating new scans.\n\nFor more information, see [Scan Template Types](https://docs.tenable.com/web-app-scanning/Content/WAS/Scans/ScannerTemplates.htm) in the _Tenable Web App Scanning User Guide_."
    },
    {
      "name": "Vulnerabilities",
      "description": "With the Vulnerabilities API, you can retrieve and analyze detected vulnerabilities. Use these endpoints to get a filtered list of findings identified during web application scans.\n\nFor more information, see [Findings](https://docs.tenable.com/web-app-scanning/Content/WAS/WebApplicationFindings.htm) in the _Tenable Web App Scanning User Guide_."
    }
  ],
  "paths": {
    "/api/v2/was/applications": {
      "post": {
        "summary": "Add web application",
        "description": "Adds a web application asset. This enables you to manually define application targets with high granularity using a combination of FQDN, port, protocol, and path.\n\nManually defining assets ensures that cumulative scan data is accurately condensed and attributed to the correct application, providing more precise reporting and analysis. <div class=\"perms-callout\">Requires the Basic [16] user role or the `WAS.TOGGLE_WAS.USE` custom role privilege. Additionally, requires the Can View [16] scan permission. See [Roles](doc:roles) and [Permissions](doc:permissions).</div>",
        "operationId": "was-v2-add-application",
        "tags": [
          "Applications"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/Add-Application"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Returned if the web application was added successfully.",
            "content": {
              "application/json": {
                "examples": {
                  "response": {
                    "value": {
                      "https://developer.tenable.com": {
                        "success": true,
                        "asset_id": "12cc3189-fd1d-4785-9e24-5cb4da4b44dc",
                        "is_new": false,
                        "is_tracked": true
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Returned if your request specified invalid parameters or if your request was improperly formatted.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/InputErrorResponse"
                },
                "examples": {
                  "response": {
                    "value": {
                      "code": "INPUT_FORM_VIOLATION",
                      "fields": [
                        {
                          "field": ".url",
                          "message_type": "VALUE_MUST_BE_SPECIFIED",
                          "value": {
                            "message": "the value must be specified"
                          }
                        }
                      ]
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Returned if the API keys specified in your request are invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "examples": {
                  "response": {
                    "value": {
                      "statusCode": 401,
                      "error": "Unauthorized",
                      "message": "Invalid credentials."
                    }
                  }
                }
              }
            }
          },
          "403": {
            "description": "Returned if you do not have permission to add an application. For more information, see [Roles](doc:roles) and [Permissions](doc:permissions).",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "examples": {
                  "response": {
                    "value": {}
                  }
                }
              }
            }
          },
          "429": {
            "description": "Returned if you attempt to send too many requests in a specific period of time. For more information, see [Rate Limiting](doc:rate-limiting).",
            "content": {
              "text/html": {
                "examples": {
                  "response": {
                    "value": "<html>\n\n<head>\n    <title>429 Too Many Requests</title>\n</head>\n\n<body bgcolor=\"white\">\n    <center>\n        <h1>429 Too Many Requests</h1>\n    </center>\n    <hr>\n    <center>nginx</center>\n</body>\n\n</html>"
                  }
                }
              }
            }
          },
          "500": {
            "description": "Returned if an internal error occurred in Tenable Web App Scanning.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/was/v2/attachments/{attachment_id}": {
      "get": {
        "summary": "Download attachment",
        "description": "Returns the specified attachment file for a vulnerability detected by a Tenable Web App Scanning scan. Attachments provide additional details for a detected vulnerability.\n\n **Note:** The `transfer-encoding` header value of the response stream is set to `chunked`. <div class=\"perms-callout\">Requires the Basic [16] user role or the `WAS.TOGGLE_WAS.USE` custom role privilege. Additionally, requires the Can View [16] scan permission. See [Roles](doc:roles) and [Permissions](doc:permissions).</div>",
        "operationId": "was-v2-attachments-download",
        "tags": [
          "Attachments"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "attachment_id",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            },
            "description": "The UUID of the attachment to download. To determine the UUID of an attachment, use either the [GET /was/v2/vulnerabilities](ref:was-v2-vulns-list) or [GET /was/v2/scans/{scan_id}/vulnerabilities](ref:was-v2-scans-details-vulns) endpoint."
          }
        ],
        "responses": {
          "200": {
            "description": "Returns the specified attachment file as a chunked transfer-encoded stream.",
            "content": {
              "text/plain": {
                "schema": {
                  "type": "string"
                },
                "examples": {
                  "response": {
                    "value": "PUT /tenable-wasscan-9a3511f8-7852-4096-a7c0-6065ff8ebad3 HTTP/1.1\nHost: testfire.net\nAccept-Encoding: gzip, deflate\nUser-Agent: Nessus WAS/%v\nX-Tenable-Wasscan-Id: 9a3511f8-7852-4096-a7c0-6065ff8ebad3\nAccept: text/html,application/xhtml+xml,application/xml;q=0.9,*/*;q=0.8\nAccept-Language: en-US,en;q=0.5\nCookie: JSESSIONID=76893A2AF20FA28774258A1FF4877A86\nContent-Length: 68\nCreated by Tenable WAS scan. PUT9a3511f8-7852-4096-a7c0-6065ff8ebad3"
                  }
                }
              },
              "image/png": {
                "schema": {
                  "type": "string",
                  "format": "binary"
                }
              }
            }
          },
          "400": {
            "description": "Returned if your request specifies an invalid attachment ID.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "examples": {
                  "response": {
                    "value": {
                      "reasons": [
                        {
                          "code": "INVALID_ID_FORMAT",
                          "reason": "The provided ID of '1234567' must be UUID type"
                        }
                      ]
                    }
                  }
                }
              }
            }
          },
          "404": {
            "description": "Returned if Tenable Web App Scanning cannot find the specified attachment file.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "examples": {
                  "response": {
                    "value": {
                      "reasons": [
                        {
                          "code": "NOT_FOUND",
                          "reason": "Resource with ID 'b29f198c-eac6-4107-b046-c621f542cd39' not found"
                        }
                      ]
                    }
                  }
                }
              }
            }
          },
          "429": {
            "description": "Returned if you attempt to send too many requests in a specific period of time. For more information, see [Rate Limiting](doc:rate-limiting).",
            "content": {
              "text/html": {
                "examples": {
                  "response": {
                    "value": "<html>\n\n<head>\n    <title>429 Too Many Requests</title>\n</head>\n\n<body bgcolor=\"white\">\n    <center>\n        <h1>429 Too Many Requests</h1>\n    </center>\n    <hr>\n    <center>nginx</center>\n</body>\n\n</html>"
                  }
                }
              }
            }
          },
          "500": {
            "description": "Returned if an internal error occurred in Tenable Web App Scanning.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/was/v2/configs": {
      "post": {
        "summary": "Create scan configuration",
        "description": "Creates a new scan configuration.\n\n This operation is asynchronous and returns with an immediate 202. The scan configuration is guaranteed to be created at some point in the immediate future depending on resource load. To track the status of the operation, use the [GET /was/v2/configs/{config_id}/status/{tracking_id}](ref:was-v2-config-status) endpoint. The `config_id` and `tracking_id` can be retrieved from the URI provided in the `Location` header of the `202 Accepted` response. <div class=\"perms-callout\">Requires the Scan Manager [40] user role or the `WAS.TOGGLE_WAS.USE` custom role privilege. Additionally, requires the Can Edit [64] scan permission. See [Roles](doc:roles) and [Permissions](doc:permissions).</div>",
        "operationId": "was-v2-config-create",
        "tags": [
          "Configurations"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/Requset-Config"
              }
            }
          }
        },
        "responses": {
          "202": {
            "description": "Returned if Tenable Web App Scanning accepted the request for processing.",
            "headers": {
              "Location": {
                "description": "Use the contents of this header appended to the prefix `/was/v2` to execute lookups on the current status of the resource.",
                "schema": {
                  "type": "string",
                  "format": "uri",
                  "example": "/configs/{config_id}/status/{tracking_id}"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Response-Scan-Config"
                },
                "examples": {
                  "response": {
                    "value": {
                      "config_id": "77d748e5-c007-4f79-9a03-d1c35b7d95f4",
                      "container_id": "9f084368-f11e-4d69-be63-df5e2a0b2635",
                      "owner_id": "ef22f2bf-db1b-4471-984f-9507dcc083e1",
                      "template_id": "f93dfcb4-6eb2-4820-9b64-3dee8893a3f0",
                      "user_template_id": null,
                      "name": "Scan Configuration Example",
                      "targets": [
                        "https://example.com"
                      ],
                      "applications": [],
                      "tag_targets": [
                        "2f06e776-ecc3-4fbe-a005-6e84b4ed61a3"
                      ],
                      "description": null,
                      "created_at": "2020-09-01T23:36:04.289Z",
                      "updated_at": "2020-09-01T23:36:04.289Z",
                      "settings": {
                        "timeout": "08:00:00",
                        "debug_mode": false,
                        "credentials": null,
                        "scope": {
                          "option": "all",
                          "urls": null,
                          "exclude_file_extensions": [
                            "js",
                            "css",
                            "png",
                            "jpeg",
                            "gif",
                            "pdf",
                            "csv",
                            "svn-base",
                            "svg",
                            "jpg",
                            "ico"
                          ],
                          "exclude_path_patterns": [
                            "logout"
                          ],
                          "dom_depth_limit": 5,
                          "directory_depth_limit": 10,
                          "page_limit": 10000,
                          "crawl_script": null,
                          "decompose_paths": false,
                          "exclude_binaries": true,
                          "auto_redundant_paths": 5,
                          "openapi_file": null,
                          "openapi_filename": null,
                          "openapi_file_url": null,
                          "crawl_script_filename": null,
                          "deduplicate_pages": null,
                          "graphql_file": null,
                          "graphql_filename": null,
                          "graphql_file_url": null,
                          "graphql_introspection": null,
                          "soap_file": null,
                          "soap_filename": null,
                          "soap_file_url": null
                        },
                        "plugin": {
                          "rate_limiter": {
                            "requests_per_second": 25,
                            "autothrottle": true,
                            "timeout_threshold": 100
                          },
                          "mode": "disable",
                          "ids": [],
                          "names": [],
                          "families": []
                        },
                        "browser": {
                          "screen_width": 1600,
                          "screen_height": 1200,
                          "ignore_images": true,
                          "job_timeout": 30,
                          "analysis": null,
                          "pool_size": 3
                        },
                        "http": {
                          "response_max_size": 500000,
                          "request_redirect_limit": 2,
                          "user_agent": "WAS/%v",
                          "custom_user_agent": false,
                          "request_headers": {
                            "Accept": "text/html,application/xhtml+xml,application/xml;q=0.9,*/*;q=0.8",
                            "Accept-Language": "en-US,en;q=0.5"
                          },
                          "include_scan_id": false,
                          "request_concurrency": 10,
                          "request_timeout": 5
                        },
                        "chrome": {
                          "script_finish_wait": 5000,
                          "script_page_load_wait": 30000,
                          "script_command_wait": 500,
                          "disable_web_security": false
                        },
                        "assessment": {
                          "rfi_remote_url": "http://rfi.nessus.org/rfi.txt",
                          "dictionary": "limited",
                          "fingerprinting": null,
                          "enable": true
                        },
                        "audit": {
                          "forms": true,
                          "cookies": true,
                          "ui_forms": true,
                          "ui_inputs": true,
                          "headers": true,
                          "links": true,
                          "parameter_names": false,
                          "parameter_values": true,
                          "jsons": true,
                          "xmls": true
                        }
                      },
                      "scanner_id": null,
                      "pause_window": null,
                      "schedule": null,
                      "default_permissions": "no_access",
                      "results_visibility": "dashboard",
                      "permissions": [],
                      "notifications": {
                        "emails": []
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Returned if your request specifies invalid scan configuration parameters.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/InputErrorResponse"
                },
                "examples": {
                  "response": {
                    "value": {
                      "code": "INPUT_FORM_VIOLATION",
                      "fields": [
                        {
                          "field": ".name",
                          "message_type": "VALUE_MUST_BE_SPECIFIED",
                          "value": {
                            "message": "the value must be specified"
                          }
                        }
                      ]
                    }
                  }
                }
              }
            }
          },
          "403": {
            "description": "Returned if you do not have permissions to create a scan configuration or if you attempt to assign an invalid owner to a scan configuration. For more information, see [Roles](doc:roles) and [Permissions](doc:permissions).",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "429": {
            "description": "Returned if you attempt to send too many requests in a specific period of time. For more information, see [Rate Limiting](doc:rate-limiting).",
            "content": {
              "text/html": {
                "examples": {
                  "response": {
                    "value": "<html>\n\n<head>\n    <title>429 Too Many Requests</title>\n</head>\n\n<body bgcolor=\"white\">\n    <center>\n        <h1>429 Too Many Requests</h1>\n    </center>\n    <hr>\n    <center>nginx</center>\n</body>\n\n</html>"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/api/v3/export/configs/remediation/{vuln_id}": {
      "get": {
        "summary": "Get remediation scan configuration",
        "description": "Returns a scan configuration for the vulnerability that you want to remediate.\n\n**Note:** This endpoint does not create the remediation scan configuration. Use the response from this endpoint as the request body for the [Create scan config](ref:was-v2-config-create) endpoint to create the remediation scan. <div class=\"perms-callout\">Requires the Scan Manager [40] user role or the `WAS.TOGGLE_WAS.USE` custom role privilege. Additionally, requires the Can Edit [64] scan permission. See [Roles](doc:roles) and [Permissions](doc:permissions).</div>",
        "operationId": "was-v3-config-remediation",
        "tags": [
          "Configurations"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "vuln_id",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            },
            "description": "The UUID of the vulnerability you want to remediate. You can use the [Search vulnerabilities](ref:was-v2-vulns-search) endpoint or the [Search vulnerabilities for scan](ref:was-v2-scans-details-vulns-search) endpoint to determine the UUID of the vulnerability you want to remediate."
          }
        ],
        "responses": {
          "200": {
            "description": "Returned if Tenable Web App Scanning successfully generated the remediation scan configuration.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Response-Scan-Config"
                },
                "examples": {
                  "response": {
                    "value": {
                      "name": "Remediation scan of plugin 115540",
                      "targets": [
                        "http://203.0.113.224:3334/remediation"
                      ],
                      "owner_id": "a8ba6418-0b8e-44b9-add6-17bf941719a6",
                      "template_id": "3223f18e-5a94-4e02-b560-77a4a8246cd3",
                      "scanner_id": "36960339",
                      "permissions": [],
                      "settings": {
                        "assessment": {
                          "rfi_remote_url": "http://rfi.nessus.org/rfi.txt",
                          "dictionary": "limited",
                          "enable": true
                        },
                        "audit": {
                          "forms": false,
                          "cookies": true,
                          "ui_forms": false,
                          "ui_inputs": false,
                          "headers": false,
                          "links": false,
                          "parameter_names": false,
                          "parameter_values": true,
                          "jsons": false,
                          "xmls": false,
                          "path_parameters": false,
                          "include_vector_patterns": []
                        },
                        "browser": {
                          "screen_height": 1200,
                          "screen_width": 1600,
                          "ignore_images": true,
                          "job_timeout": 60,
                          "pool_size": 3
                        },
                        "chrome": {
                          "script_finish_wait": 5000,
                          "script_page_load_wait": 30000,
                          "script_command_wait": 500,
                          "disable_web_security": false
                        },
                        "debug_mode": false,
                        "http": {
                          "response_max_size": 5000000,
                          "request_redirect_limit": 3,
                          "custom_user_agent": false,
                          "request_headers": {
                            "Accept": "*/*",
                            "Accept-Language": "en-US,en;q=0.5"
                          },
                          "include_scan_id": false,
                          "request_concurrency": 10,
                          "request_timeout": 30
                        },
                        "plugin": {
                          "rate_limiter": {
                            "requests_per_second": 25,
                            "autothrottle": true,
                            "timeout_threshold": 100
                          },
                          "mode": "disable",
                          "ids": [
                            114211,
                            98148,
                            98204,
                            113837,
                            98203,
                            113894,
                            113895,
                            112439,
                            112921,
                            98214,
                            98226,
                            114006,
                            112772,
                            113893,
                            114244,
                            113342,
                            113230,
                            114232,
                            98210,
                            98765,
                            112719,
                            98223,
                            113452,
                            98207,
                            98211,
                            112809,
                            113580,
                            114132,
                            113899,
                            114147,
                            114064,
                            114202,
                            114199,
                            114201,
                            114200,
                            112545,
                            113975,
                            98703,
                            114148,
                            98647,
                            112421,
                            98987,
                            112613,
                            98644,
                            113247,
                            114029,
                            98224,
                            112771,
                            98047,
                            113370,
                            114106,
                            113972,
                            98525,
                            114219,
                            114065,
                            112361,
                            114166,
                            98988,
                            98701,
                            113871,
                            98986,
                            113901,
                            98538,
                            112895,
                            112697,
                            114223,
                            112893,
                            98780,
                            98206,
                            113043,
                            113579,
                            112894,
                            98200,
                            113338,
                            113170,
                            112925,
                            98225,
                            113340,
                            113978,
                            113229,
                            98201,
                            113422,
                            98080,
                            98593,
                            114149,
                            112714,
                            98103,
                            113237,
                            113371,
                            114167,
                            113218,
                            98065,
                            112686,
                            98649,
                            113951,
                            98642,
                            112949,
                            98205,
                            113973,
                            113258,
                            98702,
                            114089,
                            112922,
                            113211,
                            112547,
                            112615,
                            112804,
                            113207,
                            113455,
                            113059,
                            113068,
                            98208,
                            112630,
                            113974,
                            112811,
                            98059,
                            98202,
                            98070,
                            98101,
                            113374,
                            98088,
                            98054,
                            113554,
                            98061,
                            98083,
                            98524,
                            98100,
                            98407,
                            98068,
                            98067,
                            114237,
                            98212,
                            113898,
                            98063,
                            112907,
                            98062,
                            98064,
                            113553,
                            98050,
                            98091,
                            113851,
                            112528,
                            113392,
                            114224,
                            114146,
                            98146,
                            98943,
                            98937,
                            98209,
                            113904,
                            98213,
                            98398,
                            112703
                          ],
                          "names": [],
                          "families": [
                            "Component Vulnerability",
                            "Injection",
                            "HTTP Security Header",
                            "Web Servers",
                            "File Inclusion",
                            "Data Exposure",
                            "Authentication & Session",
                            "Cross Site Scripting",
                            "Code Execution",
                            "General",
                            "SSL/TLS",
                            "Cross Site Request Forgery"
                          ]
                        },
                        "queue_timeout": "08:00:00",
                        "scope": {
                          "option": "urls",
                          "exclude_file_extensions": [
                            "js",
                            "css",
                            "png",
                            "jpeg",
                            "gif",
                            "pdf",
                            "csv",
                            "svn-base",
                            "svg",
                            "jpg",
                            "ico",
                            "woff",
                            "woff2",
                            "exe",
                            "msi",
                            "zip"
                          ],
                          "exclude_path_patterns": [
                            "logout"
                          ],
                          "dom_depth_limit": 5,
                          "directory_depth_limit": 10,
                          "page_limit": 10000,
                          "decompose_paths": false,
                          "exclude_binaries": true,
                          "auto_redundant_paths": 5,
                          "openapi_file": null,
                          "openapi_filename": null,
                          "openapi_file_url": null,
                          "crawl_script_filename": null,
                          "deduplicate_pages": false,
                          "graphql_file": null,
                          "graphql_filename": null,
                          "graphql_file_url": null,
                          "graphql_introspection": null,
                          "soap_file": null,
                          "soap_filename": null,
                          "soap_file_url": null
                        },
                        "session": {},
                        "timeout": "00:10:00",
                        "remediation": {
                          "findings": [
                            {
                              "vuln_id": "f7c91cfa-b9c4-46eb-bcdc-3defb08e2e4b",
                              "scan_id": "72b549a2-9921-4eeb-86f3-1e2b9ab7ca82",
                              "plugin_id": 115540,
                              "found_on_url": "http://203.0.113.224:3334/remediation",
                              "details": {
                                "inputType": "cookie",
                                "inputName": "connect.sid",
                                "creation_type": "from_url_via_browser"
                              }
                            }
                          ]
                        }
                      },
                      "in_remediation": true
                    }
                  }
                }
              }
            }
          },
          "403": {
            "description": "Returned if you do not have permissions to generate a remediation scan configuration. For more information, see [Roles](doc:roles) and [Permissions](doc:permissions).",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "404": {
            "description": "Returned if Tenable Web App Scanning could not find the specified vulnerability."
          },
          "422": {
            "description": "Returned if the plugin for the specified vulnerability is non-remediable.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "429": {
            "description": "Returned if you attempt to send too many requests in a specific period of time. For more information, see [Rate Limiting](doc:rate-limiting).",
            "content": {
              "text/html": {
                "examples": {
                  "response": {
                    "value": "<html>\n\n<head>\n    <title>429 Too Many Requests</title>\n</head>\n\n<body bgcolor=\"white\">\n    <center>\n        <h1>429 Too Many Requests</h1>\n    </center>\n    <hr>\n    <center>nginx</center>\n</body>\n\n</html>"
                  }
                }
              }
            }
          },
          "500": {
            "description": "Returned if an internal error occurred in Tenable Web App Scanning.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/was/v2/configs/search": {
      "post": {
        "tags": [
          "Configurations"
        ],
        "summary": "Search scan configurations",
        "description": "Returns a list of web application scan configurations. If a scan has been run using the configuration, the list also contains information about the last scan that was run. <div class=\"perms-callout\">Requires the Basic [16] user role or the `WAS.SCAN_WAS.READ` custom role privilege. Additionally, requires the Can View [16] scan permission. See [Roles](doc:roles) and [Permissions](doc:permissions).</div>",
        "operationId": "was-v2-config-search",
        "parameters": [
          {
            "$ref": "#/components/parameters/limit"
          },
          {
            "$ref": "#/components/parameters/offset"
          },
          {
            "$ref": "#/components/parameters/sort"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "oneOf": [
                  {
                    "title": "Single Filter",
                    "$ref": "#/components/schemas/AppliedFilters-ScanConfigs"
                  },
                  {
                    "title": "Multiple Filters",
                    "type": "object",
                    "properties": {
                      "AND": {
                        "type": "array",
                        "description": "An array of filters that must all be satisfied.",
                        "items": {
                          "$ref": "#/components/schemas/AppliedFilters-ScanConfigs"
                        }
                      },
                      "OR": {
                        "type": "array",
                        "description": "An array of filters where at least one must be satisfied.",
                        "items": {
                          "$ref": "#/components/schemas/AppliedFilters-ScanConfigs"
                        }
                      }
                    }
                  }
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "A list of web application scan configurations. If a scan has been run using the configuration, the list also contains information about the last scan that was run.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "pagination",
                    "items"
                  ],
                  "properties": {
                    "pagination": {
                      "$ref": "#/components/schemas/PaginationResponse"
                    },
                    "items": {
                      "type": "array",
                      "description": "A list of scan configurations.",
                      "items": {
                        "$ref": "#/components/schemas/ConfigMetadata"
                      }
                    }
                  }
                },
                "examples": {
                  "response": {
                    "value": {
                      "pagination": {
                        "total": 1690,
                        "offset": 0,
                        "limit": 10,
                        "sort": [
                          {
                            "name": "name",
                            "order": "asc"
                          },
                          {
                            "name": "created_at",
                            "order": "desc"
                          },
                          {
                            "name": "updated_at",
                            "order": "desc"
                          }
                        ]
                      },
                      "items": [
                        {
                          "config_id": "b7eb721f-5768-48a4-969f-aee8bc29ac22",
                          "owner_id": "ef22f2bf-db1b-4471-984f-9507dcc083e1",
                          "is_shared": false,
                          "user_permissions": "configure",
                          "name": "3370",
                          "target_count": 1,
                          "description": null,
                          "created_at": "2020-05-12T09:43:42.620Z",
                          "updated_at": "2020-05-12T09:43:42.620Z",
                          "schedule": {
                            "timezone": "Asia/Calcutta",
                            "starttime": "20200512T153000",
                            "rrule": "FREQ=YEARLY;COUNT=1",
                            "enabled": false
                          },
                          "template_id": "ea71052b-5b48-4712-8255-3711d00a6514",
                          "last_scan": null,
                          "user_template": null
                        },
                        {
                          "config_id": "0aa9445f-b673-4563-b7e2-612ac37e885a",
                          "owner_id": "3e0eae98-dd3b-4c88-aa12-bac0b17567c6",
                          "is_shared": false,
                          "user_permissions": "configure",
                          "name": "3370_WASTest",
                          "target_count": 1,
                          "description": "test",
                          "created_at": "2020-05-12T10:06:06.919Z",
                          "updated_at": "2020-05-12T10:06:50.955Z",
                          "schedule": {
                            "timezone": "Asia/Calcutta",
                            "starttime": "20200512T160000",
                            "rrule": "FREQ=YEARLY;COUNT=1",
                            "enabled": false
                          },
                          "template_id": "ea71052b-5b48-4712-8255-3711d00a6514",
                          "last_scan": null,
                          "user_template": null
                        },
                        {
                          "config_id": "31b6dd5e-5edb-457d-9350-b9e31bd02bf1",
                          "owner_id": "01c924ee-e6ab-4d55-b283-dffba6dcce4c",
                          "is_shared": false,
                          "user_permissions": "configure",
                          "name": "A1_WAS_scan",
                          "target_count": 1,
                          "description": "",
                          "created_at": "2020-06-11T15:08:48Z",
                          "updated_at": "2020-06-11T15:08:48Z",
                          "schedule": null,
                          "template_id": "f93dfcb4-6eb2-4820-9b64-3dee8893a3f0",
                          "last_scan": null,
                          "user_template": {
                            "user_template_id": "0c539366-172d-49bd-9c3d-90a9947ea48e",
                            "name": "A1_WAS_scan"
                          }
                        }
                      ]
                    }
                  }
                }
              }
            }
          },
          "429": {
            "description": "Returned if you attempt to send too many requests in a specific period of time. For more information, see [Rate Limiting](doc:rate-limiting).",
            "content": {
              "text/html": {
                "examples": {
                  "response": {
                    "value": "<html>\n\n<head>\n    <title>429 Too Many Requests</title>\n</head>\n\n<body bgcolor=\"white\">\n    <center>\n        <h1>429 Too Many Requests</h1>\n    </center>\n    <hr>\n    <center>nginx</center>\n</body>\n\n</html>"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/was/v2/configs/{config_id}": {
      "get": {
        "summary": "Get scan configuration details",
        "description": "Returns details for the specified scan configuration.<div class=\"perms-callout\">Requires the Scan Operator [24] user role or the `WAS.SCAN_WAS.READ` custom role privilege. Additionally, requires the Can Execute [32] scan permission. See [Roles](doc:roles) and [Permissions](doc:permissions).</div>",
        "operationId": "was-v2-config-details",
        "tags": [
          "Configurations"
        ],
        "parameters": [
          {
            "description": "The UUID of the scan configuration that you want to retrieve details for.",
            "in": "path",
            "name": "config_id",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Returns details for the specified scan configuration.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Response-Scan-Config"
                },
                "examples": {
                  "response": {
                    "value": {
                      "settings": {
                        "timeout": "08:00:00",
                        "debug_mode": false,
                        "credentials": {
                          "credential_ids": [
                            "a982f52a-d1ee-48bf-8c94-e5d3b62804e6"
                          ]
                        },
                        "scope": {
                          "option": "all",
                          "urls": [],
                          "exclude_file_extensions": [
                            "js",
                            "css",
                            "png",
                            "jpeg",
                            "gif",
                            "pdf",
                            "csv",
                            "svn-base",
                            "svg",
                            "jpg",
                            "ico"
                          ],
                          "exclude_path_patterns": [
                            "logout"
                          ],
                          "dom_depth_limit": 5,
                          "directory_depth_limit": 10,
                          "page_limit": 10000,
                          "crawl_script": null,
                          "decompose_paths": false,
                          "exclude_binaries": true,
                          "auto_redundant_paths": 5,
                          "openapi_file": null,
                          "openapi_filename": null,
                          "openapi_file_url": null,
                          "crawl_script_filename": null,
                          "deduplicate_pages": null,
                          "graphql_file": null,
                          "graphql_filename": null,
                          "graphql_file_url": null,
                          "graphql_introspection": null,
                          "soap_file": null,
                          "soap_filename": null,
                          "soap_file_url": null
                        },
                        "plugin": {
                          "rate_limiter": {
                            "requests_per_second": 25,
                            "autothrottle": true,
                            "timeout_threshold": 100
                          },
                          "mode": "disable",
                          "ids": [],
                          "names": [],
                          "families": []
                        },
                        "browser": {
                          "screen_width": 1600,
                          "screen_height": 1200,
                          "ignore_images": true,
                          "job_timeout": 30,
                          "analysis": null,
                          "pool_size": 3
                        },
                        "http": {
                          "response_max_size": 500000,
                          "request_redirect_limit": 2,
                          "user_agent": "WAS/%v",
                          "custom_user_agent": false,
                          "request_headers": {
                            "Accept": "text/html,application/xhtml+xml,application/xml;q=0.9,*/*;q=0.8",
                            "Accept-Language": "en-US,en;q=0.5"
                          },
                          "include_scan_id": false,
                          "request_concurrency": 10,
                          "request_timeout": 5
                        },
                        "chrome": {
                          "script_finish_wait": 5000,
                          "script_page_load_wait": 30000,
                          "script_command_wait": 500,
                          "disable_web_security": false
                        },
                        "assessment": {
                          "enable": true,
                          "dictionary": "limited",
                          "rfi_remote_url": "http://rfi.nessus.org/rfi.txt",
                          "fingerprinting": null,
                          "element_exclusions": [
                            {
                              "element_type": "dom_element",
                              "selector": "Logout",
                              "selector_type": "text"
                            },
                            {
                              "element_type": "dom_element",
                              "selector": {
                                "id_form": "login"
                              },
                              "selector_type": "attribute"
                            }
                          ]
                        },
                        "audit": {
                          "forms": true,
                          "cookies": true,
                          "ui_forms": true,
                          "ui_inputs": true,
                          "headers": true,
                          "links": true,
                          "parameter_names": false,
                          "parameter_values": true,
                          "jsons": false,
                          "xmls": false
                        }
                      },
                      "config_id": "f08a9605-231a-45b0-b0f8-5ab4f5510239",
                      "container_id": "9f084368-f11e-4d69-be63-df5e2a0b2635",
                      "owner_id": "01c924ee-e6ab-4d55-b283-dffba6dcce4c",
                      "template_id": "f93dfcb4-6eb2-4820-9b64-3dee8893a3f0",
                      "user_template_id": null,
                      "name": "Bank of Tenable full",
                      "targets": [
                        "http://192.0.2.119"
                      ],
                      "description": null,
                      "created_at": "2020-02-10T12:49:23.503Z",
                      "updated_at": "2020-03-30T17:37:29.603Z",
                      "scanner_id": 36973541,
                      "schedule": null,
                      "folder": {
                        "folder_id": "71bd4347-db84-41e5-9e2f-9600f8f846f2",
                        "name": "Eastern Region"
                      },
                      "in_trash": false,
                      "default_permissions": "no_access",
                      "results_visibility": "dashboard",
                      "permissions": [],
                      "notifications": {
                        "emails": []
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Returned if your request specifies an invalid scan configuration ID.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "examples": {
                  "response": {
                    "value": {
                      "reasons": [
                        {
                          "code": "INVALID_ID_FORMAT",
                          "reason": "The provided ID of '10-ABC' must be UUID type"
                        }
                      ]
                    }
                  }
                }
              }
            }
          },
          "404": {
            "description": "Returned if Tenable Web App Scanning cannot find the specified configuration.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "examples": {
                  "response": {
                    "value": {
                      "reasons": [
                        {
                          "code": "NOT_FOUND",
                          "reason": "Resource with ID 'b29f198c-eac6-4107-b046-c621f542cd39' not found"
                        }
                      ]
                    }
                  }
                }
              }
            }
          },
          "429": {
            "description": "Returned if you attempt to send too many requests in a specific period of time. For more information, see [Rate Limiting](doc:rate-limiting).",
            "content": {
              "text/html": {
                "examples": {
                  "response": {
                    "value": "<html>\n\n<head>\n    <title>429 Too Many Requests</title>\n</head>\n\n<body bgcolor=\"white\">\n    <center>\n        <h1>429 Too Many Requests</h1>\n    </center>\n    <hr>\n    <center>nginx</center>\n</body>\n\n</html>"
                  }
                }
              }
            }
          }
        }
      },
      "put": {
        "summary": "Upsert scan configuration",
        "description": "Updates an existing scan configuration or creates a new scan configuration. \n\nThis operation is asynchronous and returns with an immediate 202. The scan configuration is guaranteed to be created at some point in the immediate future depending on resource load. To track the status of the operation, use the [GET /was/v2/configs/{config_id}/status/{tracking_id}](ref:was-v2-config-status) endpoint. The `config_id` and `tracking_id` can be retrieved from the URI provided in the `Location` header of the `202 Accepted` response. \n\n**Note:** Although this endpoint can be used to create a scan configuration, Tenable recommends the [POST /was/v2/configs](ref:was-v2-config-create) endpoint instead for the creation of scan configurations. To create a scan configuration with this endpoint, you first need to generate a UUID. Tenable recommends the `uuidgen` tool available in most Linux distributions. The `--time` option can be passed to the `uuidgen` tool to ensure that the UUID is unique.<div class=\"perms-callout\">Requires the Scan Manager [40] user role or the `WAS.SCAN_WAS.MANAGE` custom role privilege. Additionally, requires the Can Edit [64] scan permission. See [Roles](doc:roles) and [Permissions](doc:permissions).</div>",
        "operationId": "was-v2-config-upsert",
        "tags": [
          "Configurations"
        ],
        "parameters": [
          {
            "description": "If updating an existing scan configuration, the UUID of the scan configuration you want to update. If creating a new scan configuration, a new UUID generated with a tool like `uuidgen`.",
            "in": "path",
            "name": "config_id",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/Requset-Config"
              }
            }
          }
        },
        "responses": {
          "202": {
            "description": "Returned if Tenable Web App Scanning successfully been accepted the request for processing.",
            "headers": {
              "Location": {
                "description": "Use the contents of this header appended to the prefix `/was/v2` to execute lookups on the current status of the resource.",
                "schema": {
                  "type": "string",
                  "format": "uri",
                  "example": "/configs/{config_id}/status/{tracking_id}"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Response-Scan-Config"
                },
                "examples": {
                  "response": {
                    "value": {
                      "settings": {
                        "timeout": "08:00:00",
                        "debug_mode": false,
                        "credentials": null,
                        "scope": {
                          "option": "all",
                          "urls": null,
                          "exclude_file_extensions": [
                            "js",
                            "css",
                            "png",
                            "jpeg",
                            "gif",
                            "pdf",
                            "csv",
                            "svn-base",
                            "svg",
                            "jpg",
                            "ico"
                          ],
                          "exclude_path_patterns": [
                            "logout"
                          ],
                          "dom_depth_limit": 5,
                          "directory_depth_limit": 10,
                          "page_limit": 10000,
                          "crawl_script": null,
                          "decompose_paths": false,
                          "exclude_binaries": true,
                          "auto_redundant_paths": 5,
                          "openapi_file": null,
                          "openapi_filename": null,
                          "openapi_file_url": null,
                          "crawl_script_filename": null,
                          "deduplicate_pages": null,
                          "graphql_file": null,
                          "graphql_filename": null,
                          "graphql_file_url": null,
                          "graphql_introspection": null,
                          "soap_file": null,
                          "soap_filename": null,
                          "soap_file_url": null
                        },
                        "plugin": {
                          "rate_limiter": {
                            "requests_per_second": 25,
                            "autothrottle": true,
                            "timeout_threshold": 100
                          },
                          "mode": "disable",
                          "ids": [],
                          "names": [],
                          "families": []
                        },
                        "browser": {
                          "screen_width": 1600,
                          "screen_height": 1200,
                          "ignore_images": true,
                          "job_timeout": 30,
                          "analysis": null,
                          "pool_size": 3
                        },
                        "http": {
                          "response_max_size": 500000,
                          "request_redirect_limit": 2,
                          "user_agent": "WAS/%v",
                          "custom_user_agent": false,
                          "request_headers": {
                            "Accept": "text/html,application/xhtml+xml,application/xml;q=0.9,*/*;q=0.8",
                            "Accept-Language": "en-US,en;q=0.5"
                          },
                          "include_scan_id": false,
                          "request_concurrency": 10,
                          "request_timeout": 5
                        },
                        "chrome": {
                          "script_finish_wait": 5000,
                          "script_page_load_wait": 30000,
                          "script_command_wait": 500,
                          "disable_web_security": false
                        },
                        "assessment": {
                          "rfi_remote_url": "http://rfi.nessus.org/rfi.txt",
                          "dictionary": "limited",
                          "fingerprinting": null,
                          "enable": true
                        },
                        "audit": {
                          "forms": true,
                          "cookies": true,
                          "ui_forms": true,
                          "ui_inputs": true,
                          "headers": true,
                          "links": true,
                          "parameter_names": false,
                          "parameter_values": true,
                          "jsons": true,
                          "xmls": true
                        }
                      },
                      "config_id": "c21c9f22-f4f9-440f-a49b-aad3b694f0df",
                      "container_id": "9f084368-f11e-4d69-be63-df5e2a0b2635",
                      "owner_id": "ef22f2bf-db1b-4471-984f-9507dcc083e1",
                      "template_id": "f93dfcb4-6eb2-4820-9b64-3dee8893a3f0",
                      "user_template_id": null,
                      "name": "LD Test 5",
                      "targets": [
                        "https://example5.com"
                      ],
                      "description": null,
                      "created_at": "2020-09-25T16:22:38.659Z",
                      "updated_at": "2020-09-25T16:24:38.117Z",
                      "scanner_id": null,
                      "schedule": null,
                      "additional_properties": null,
                      "default_permissions": "no_access",
                      "results_visibility": "dashboard",
                      "permissions": [],
                      "notifications": {
                        "emails": []
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Returned if your request specifies invalid scan configuration parameters.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/InputErrorResponse"
                },
                "examples": {
                  "response": {
                    "value": {
                      "code": "INPUT_FORM_VIOLATION",
                      "fields": [
                        {
                          "field": ".target",
                          "message_type": "VALUE_MUST_BE_SPECIFIED",
                          "value": {
                            "message": "the value must be specified"
                          }
                        }
                      ]
                    }
                  }
                }
              }
            }
          },
          "429": {
            "description": "Returned if you attempt to send too many requests in a specific period of time. For more information, see [Rate Limiting](doc:rate-limiting).",
            "content": {
              "text/html": {
                "examples": {
                  "response": {
                    "value": "<html>\n\n<head>\n    <title>429 Too Many Requests</title>\n</head>\n\n<body bgcolor=\"white\">\n    <center>\n        <h1>429 Too Many Requests</h1>\n    </center>\n    <hr>\n    <center>nginx</center>\n</body>\n\n</html>"
                  }
                }
              }
            }
          }
        }
      },
      "patch": {
        "summary": "Move scan configuration",
        "description": "Moves the scan configuration to the specified folder. <div class=\"perms-callout\">Requires the Basic [16] user role or the `WAS.SCAN_WAS.READ` custom role privilege. See [Roles](doc:roles).</div>",
        "operationId": "was-v2-config-move",
        "tags": [
          "Configurations"
        ],
        "parameters": [
          {
            "description": "The UUID of the scan configuration you want to update.",
            "in": "path",
            "name": "config_id",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ConfigUpdate"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Returned if the request to move the scan configuration to another folder was successful.",
            "content": {
              "application/json": {
                "examples": {
                  "response": {
                    "value": {}
                  }
                }
              }
            }
          },
          "202": {
            "description": "The request to move the scan configuration to the Trash has successfully been accepted, and will be processed.",
            "content": {
              "application/json": {
                "examples": {
                  "response": {
                    "value": {}
                  }
                }
              }
            },
            "headers": {
              "Location": {
                "description": "Use the contents of this header appended to the prefix `/was/v2` to execute lookups on the current status of the resource",
                "schema": {
                  "type": "string",
                  "format": "uri",
                  "example": "/configs/:config_id/status/:tracking_id"
                }
              }
            }
          },
          "400": {
            "description": "Returned if your request body is invalid or if you specify a folder name with invalid characters.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/InputErrorResponse"
                },
                "examples": {
                  "response": {
                    "value": {
                      "reasons": [
                        {
                          "code": "INVALID_JSON_BODY",
                          "reason": "Invalid message body: Could not decode JSON: {\n  \"target\" : \"https://example45.com\",\n  \"folder_name\" : \"Eastern Region 2@#$\"\n}"
                        }
                      ]
                    }
                  }
                }
              }
            }
          },
          "404": {
            "description": "Returned if Tenable Web App Scanning cannot find the specified scan configuration.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "examples": {
                  "response": {
                    "value": {
                      "reasons": [
                        {
                          "code": "NOT_FOUND",
                          "reason": "Resource with id 'f637c8ab-3b43-427d-a32f-e668f1a4a745' not found"
                        }
                      ]
                    }
                  }
                }
              }
            }
          },
          "429": {
            "description": "Returned if you attempt to send too many requests in a specific period of time. For more information, see [Rate Limiting](doc:rate-limiting).",
            "content": {
              "text/html": {
                "examples": {
                  "response": {
                    "value": "<html>\n\n<head>\n    <title>429 Too Many Requests</title>\n</head>\n\n<body bgcolor=\"white\">\n    <center>\n        <h1>429 Too Many Requests</h1>\n    </center>\n    <hr>\n    <center>nginx</center>\n</body>\n\n</html>"
                  }
                }
              }
            }
          }
        }
      },
      "delete": {
        "summary": "Delete scan configuration",
        "description": "Deletes the specified scan configuration and all associated scan history and vulnerabilities. You cannot delete a scan configuration if a scan based on that configuration is currently running.<div class=\"perms-callout\">Requires the Scan Manager [40] user role or the `WAS.SCAN_WAS.MANAGE` custom role privilege. Additionally, requires the Can Edit [64] scan permission. See [Roles](doc:roles) and [Permissions](doc:permissions).</div>",
        "operationId": "was-v2-config-delete",
        "tags": [
          "Configurations"
        ],
        "parameters": [
          {
            "description": "The UUID of the scan configuration you want to delete.",
            "in": "path",
            "name": "config_id",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "202": {
            "description": "Returned if Tenable Web App Scanning successfully created the deletion job.",
            "content": {
              "application/json": {
                "examples": {
                  "response": {
                    "value": {}
                  }
                }
              }
            }
          },
          "400": {
            "description": "Returned if your request specifies an invalid scan configuration ID.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "examples": {
                  "response": {
                    "value": {
                      "reasons": [
                        {
                          "code": "INVALID_ID_FORMAT",
                          "reason": "The provided ID of '10-ABC' must be UUID type"
                        }
                      ]
                    }
                  }
                }
              }
            }
          },
          "404": {
            "description": "Returned if Tenable Web App Scanning cannot find the specified configuration.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "examples": {
                  "response": {
                    "value": {
                      "reasons": [
                        {
                          "code": "NOT_FOUND",
                          "reason": "Resource with ID 'b29f198c-eac6-4107-b046-c621f542cd39' not found"
                        }
                      ]
                    }
                  }
                }
              }
            }
          },
          "409": {
            "description": "Returned if you attempt to delete a configuration in use by a running scan.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "examples": {
                  "response": {
                    "value": {
                      "reasons": [
                        {
                          "code": "NOT_ALLOWED",
                          "reason": "Can't delete config due to scan '9ed690de-212f-4765-94c0-57922c20536a' with status 'Pending'"
                        }
                      ]
                    }
                  }
                }
              }
            }
          },
          "429": {
            "description": "Returned if you attempt to send too many requests in a specific period of time. For more information, see [Rate Limiting](doc:rate-limiting).",
            "content": {
              "text/html": {
                "examples": {
                  "response": {
                    "value": "<html>\n\n<head>\n    <title>429 Too Many Requests</title>\n</head>\n\n<body bgcolor=\"white\">\n    <center>\n        <h1>429 Too Many Requests</h1>\n    </center>\n    <hr>\n    <center>nginx</center>\n</body>\n\n</html>"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/was/v2/configs/{config_id}/status/{tracking_id}": {
      "get": {
        "summary": "Get scan configuration processing status",
        "description": "Tracks the current status of a scan configuration creation, update, or upsert process. When creating or updating a scan configuration, this endpoint can be used to determine the current status of the request. You can poll this endpoint using a sensible pause duration between each request until a `completed` or `failed` status is returned. \n\nThe `config_id` and `tracking_id` can be retrieved from the URI provided in the `Location` header of the `202 Accepted` response from the [POST /was/v2/configs](ref:was-v2-config-create) or [PUT /was/v2/configs/{config_id}](ref:was-v2-config-upsert) request used to create or update the scan configuration. <div class=\"perms-callout\">Requires the Scan Operator [24] user role or the `WAS.SCAN_WAS.MANAGE` custom role privilege. Additionally, requires the Can View [16] scan permission. See [Roles](doc:roles) and [Permissions](doc:permissions).</div>",
        "operationId": "was-v2-config-status",
        "tags": [
          "Configurations"
        ],
        "parameters": [
          {
            "description": "The UUID of the scan configuration.\n\n**Note:** The `config_id` can be retrieved from the URI provided in the `Location` header of the `202 Accepted` response from the [POST /was/v2/configs](ref:was-v2-config-create) or [PUT /was/v2/configs/{config_id}](ref:was-v2-config-upsert) request used to create or update the scan configuration.",
            "in": "path",
            "name": "config_id",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          },
          {
            "description": "The tracking UUID for the request you want to retrieve the status for. \n\n**Note:** The `tracking_id` can be retrieved from the URI provided in the `Location` header of the `202 Accepted` response from the [POST /was/v2/configs](ref:was-v2-config-create) or [PUT /was/v2/configs/{config_id}](ref:was-v2-config-upsert) request used to create or update the scan configuration.",
            "in": "path",
            "name": "tracking_id",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Returned if the status for the scan configuration was found.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "tracking_status"
                  ],
                  "properties": {
                    "tracking_status": {
                      "description": "The status of the scan creation, update, or upsert process. Possible values are `processing`, `complete`, or `failed`.",
                      "type": "string",
                      "enum": [
                        "processing",
                        "completed",
                        "failed"
                      ]
                    }
                  }
                }
              }
            }
          },
          "429": {
            "description": "Returned if you attempt to send too many requests in a specific period of time. For more information, see [Rate Limiting](doc:rate-limiting).",
            "content": {
              "text/html": {
                "examples": {
                  "response": {
                    "value": "<html>\n\n<head>\n    <title>429 Too Many Requests</title>\n</head>\n\n<body bgcolor=\"white\">\n    <center>\n        <h1>429 Too Many Requests</h1>\n    </center>\n    <hr>\n    <center>nginx</center>\n</body>\n\n</html>"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/api/v3/export/configs/{config_id}": {
      "get": {
        "tags": [
          "Configurations"
        ],
        "summary": "Export scan configuration for CI/CD",
        "description": "Downloads the specified scan configuration in HOCON (Human-Optimized Config Object Notation) format for use with WAS Docker images in CI/CD (continuous integration / continuous delivery) mode. \n\nYou can integrate Tenable WAS Docker images with GitHub, GitLab, Jenkins, CircleCI, or Bamboo to scan builds and prevent vulnerabilities before your code and applications are deployed. For more information, see [CI/CD Application Scan Overview](https://docs.tenable.com/web-app-scanning/Content/WAS/GettingStarted/Integrations/CI-CD/Overview.htm) in the Tenable Web App Scanning User Guide. <div class=\"perms-callout\">Requires the `WAS.TOGGLE_WAS.USE` custom role privilege. Additionally, requires the Can Configure WAS scan permission. See [Roles](doc:roles) and [Permissions](doc:permissions).</div>",
        "operationId": "was-v3-config-export-cicd",
        "parameters": [
          {
            "in": "path",
            "name": "config_id",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            },
            "description": "The UUID of the scan configuration to export in HOCON format for WAS CI/CD mode. You can use the [POST /was/v2/configs/search](ref:was-v2-config-search) endpoint to determine the UUID of the scan configuration you want to export."
          }
        ],
        "responses": {
          "200": {
            "description": "Returned if Tenable Web App Scanning successfully returned the HOCON file for the specified scan configuration.",
            "content": {
              "application/octet-stream": {
                "examples": {
                  "response": {
                    "value": "\"config_id\"=\"262a01a3-9de3-43f9-bed6-b4da34015d71\"\n\"template_id\"=\"426ce117-b083-423c-a256-01e2e1e3cd55\"\n\"results_visibility\"=dashboard\nscan {\n    assessment {\n        dictionary=limited\n        enable=true\n        fingerprinting=false\n        \"rfi_remote_url\"=\"http://rfi.nessus.org/rfi.txt\"\n    }\n    audit {\n        cookies=true\n        forms=true\n        headers=true\n        jsons=true\n        links=true\n        \"parameter_names\"=false\n        \"parameter_values\"=true\n        \"path_parameters\"=false\n        \"ui_forms\"=true\n        \"ui_inputs\"=true\n        xmls=true\n    }\n    browser {\n        analysis=false\n        \"ignore_images\"=true\n        \"job_timeout\"=60\n        \"pool_size\"=3\n        \"screen_height\"=1200\n        \"screen_width\"=1600\n    }\n    chrome {\n        \"script_command_wait\"=500\n        \"script_finish_wait\"=5000\n        \"script_page_load_wait\"=30000\n    }\n    \"debug_mode\"=false\n    http {\n        \"custom_user_agent\"=false\n        \"include_scan_id\"=false\n        \"request_concurrency\"=10\n        \"request_headers\" {\n            Accept=\"text/html,application/xhtml+xml,application/xml;q=0.9,*/*;q=0.8\"\n            Accept-Language=\"en-US,en;q=0.5\"\n        }\n        \"request_redirect_limit\"=2\n        \"request_timeout\"=30\n        \"response_max_size\"=5000000\n        \"user_agent\"=\"WAS/%v\"\n    }\n    plugin {\n        families=[]\n        ids=[]\n        mode=disable\n        names=[]\n        \"rate_limiter\" {\n            autothrottle=true\n            \"requests_per_second\"=25\n            \"timeout_threshold\"=100\n        }\n    }\n    scope {\n        \"auto_redundant_paths\"=5\n        \"decompose_paths\"=false\n        \"deduplicate_pages\"=false\n        \"directory_depth_limit\"=10\n        \"dom_depth_limit\"=5\n        \"exclude_binaries\"=true\n        \"exclude_file_extensions\"=[\n            js,\n            css,\n            png,\n            jpeg,\n            gif,\n            pdf,\n            csv,\n            svn-base,\n            svg,\n            jpg,\n            ico,\n            woff,\n            woff2\n        ]\n        \"exclude_path_patterns\"=[\n            logout\n        ]\n        option=all\n        \"page_limit\"=10000\n    }\n    timeout=\"08:00:00\"\n    }\n    target=\"https://example45.com\"\n}\n\"vulnerability_threshold\"=High\n"
                  }
                }
              }
            }
          },
          "403": {
            "description": "Returned if you do not have user permissions to export the specified scan configuration. For more information, see [Roles](doc:roles) and [Permissions](doc:permissions).",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "404": {
            "description": "Returned if Tenable Web App Scanning could not find the specified configuration.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "examples": {
                  "response": {
                    "value": {
                      "reasons": [
                        {
                          "code": "NOT_FOUND",
                          "reason": "Resource with ID 'b29f198c-eac6-4107-b046-c621f542cd39' not found"
                        }
                      ]
                    }
                  }
                }
              }
            }
          },
          "429": {
            "description": "Returned if you attempt to send too many requests in a specific period of time. For more information, see [Rate Limiting](doc:rate-limiting).",
            "content": {
              "text/html": {
                "examples": {
                  "response": {
                    "value": "<html>\n\n<head>\n    <title>429 Too Many Requests</title>\n</head>\n\n<body bgcolor=\"white\">\n    <center>\n        <h1>429 Too Many Requests</h1>\n    </center>\n    <hr>\n    <center>nginx</center>\n</body>\n\n</html>"
                  }
                }
              }
            }
          },
          "500": {
            "description": "Returned if an internal error occurred in Tenable Web App Scanning.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/was/v1/export/vulns": {
      "post": {
        "summary": "Export findings",
        "description": "Exports Tenable Web App Scanning findings that match the request criteria. \n\nUsers need at least BASIC [16] user permissions and the Can View access control permission for the asset objects they want to export. You can set the Can View permission for the All Assets object for all assets. ADMINISTRATOR [64] users can export without the explicit Can View access control permissions. \n\n**Note:** There are limits for concurrent export requests. For more information, see [Concurrency Limiting](doc:concurrency-limiting) and [Rate Limiting](doc:rate-limiting). <div class=\"perms-callout\">Requires the Basic [16] user role and the Can View access control permission for the asset objects to be exported. Administrator [64] users can export without the explicit Can View access control permissions. See [Roles](doc:roles).</div>",
        "operationId": "was-export-findings",
        "tags": [
          "Exports"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "num_assets": {
                    "type": "integer",
                    "description": "Specifies the number of assets used to chunk the findings. The findings export is split up by number of asset IDs in a chunk. The exported data of a chunk is the sum of all the findings for each asset in that chunk. The range for number of assets in a chunk is a minimum of 50 (the default size) to a maximum of 5,000. If you specify a value outside this range, the system uses the upper or lower-bound value.",
                    "format": "int32",
                    "default": 50,
                    "minimum": 50,
                    "maximum": 5000
                  },
                  "include_unlicensed": {
                    "type": "boolean",
                    "default": false,
                    "description": "Specifies whether or not to include unlicensed assets. The default is `false` when no parameter is specified."
                  },
                  "filters": {
                    "type": "object",
                    "description": "Specifies filters to apply to the findings export.\n\n**Note:** By default, vulnerability exports will only include accepted and non-accepted vulnerabilities found or fixed within the last 30 days if no time-based filters are submitted with the request.",
                    "properties": {
                      "asset_uuid": {
                        "description": "A list of asset UUIDs for which you want to filter findings returned in the findings export.",
                        "type": "array",
                        "items": {
                          "type": "string",
                          "format": "uuid"
                        }
                      },
                      "asset_name": {
                        "description": "An asset name for which you want to filter findings returned in the findings export.",
                        "type": "string"
                      },
                      "cvss4_base_score": {
                        "$ref": "#/components/schemas/cvss4_filter"
                      },
                      "epss_score": {
                        "$ref": "#/components/schemas/epss_filter"
                      },
                      "first_found": {
                        "description": "Returns findings that were first found between the specified date and now. The date must be specified in Unix 10-digit time format (seconds).",
                        "type": "integer",
                        "format": "int64"
                      },
                      "last_fixed": {
                        "type": "integer",
                        "description": "Returns findings that were fixed between the specified date and now. The date must be specified in Unix 10-digit time format (seconds).",
                        "format": "int64"
                      },
                      "last_found": {
                        "type": "integer",
                        "description": "Returns findings that were last found between the specified date and now. The date must be specified in Unix 10-digit time format (seconds).",
                        "format": "int64"
                      },
                      "indexed_at": {
                        "type": "integer",
                        "description": "Returns findings that were indexed into Tenable Web App Scanning at the specified date. The date must be specified in Unix 10-digit time format (seconds).",
                        "format": "int64"
                      },
                      "ipv4s": {
                        "description": "A list of IPv4 addresses for which for which you want to filter findings returned in the findings export.",
                        "type": "array",
                        "items": {
                          "type": "string"
                        }
                      },
                      "owasp_2010": {
                        "description": "A list of chapters from the OWASP Categories 2010 report for which you want to filter findings returned in the findings export.",
                        "type": "array",
                        "items": {
                          "type": "string",
                          "enum": [
                            "A1",
                            "A2",
                            "A3",
                            "A4",
                            "A5",
                            "A6",
                            "A7",
                            "A8",
                            "A9",
                            "A10"
                          ]
                        }
                      },
                      "owasp_2013": {
                        "description": "A list of chapters from the OWASP Categories 2013 report for which you want to filter findings returned in the findings export.",
                        "type": "array",
                        "items": {
                          "type": "string",
                          "enum": [
                            "A1",
                            "A2",
                            "A3",
                            "A4",
                            "A5",
                            "A6",
                            "A7",
                            "A8",
                            "A9",
                            "A10"
                          ]
                        }
                      },
                      "owasp_2017": {
                        "description": "A list of chapters from the OWASP Categories 2017 report for which you want to filter findings returned in the findings export.",
                        "type": "array",
                        "items": {
                          "type": "string",
                          "enum": [
                            "A1",
                            "A2",
                            "A3",
                            "A4",
                            "A5",
                            "A6",
                            "A7",
                            "A8",
                            "A9",
                            "A10"
                          ]
                        }
                      },
                      "owasp_2021": {
                        "description": "A list of chapters from the OWASP Categories 2021 report for which you want to filter findings returned in the findings export.",
                        "type": "array",
                        "items": {
                          "type": "string",
                          "enum": [
                            "A1",
                            "A2",
                            "A3",
                            "A4",
                            "A5",
                            "A6",
                            "A7",
                            "A8",
                            "A9",
                            "A10"
                          ]
                        }
                      },
                      "owasp_api_2019": {
                        "description": "A list of chapters from the OWASP Categories API 2019 report for which you want to filter findings returned in the findings export.",
                        "type": "array",
                        "items": {
                          "type": "string",
                          "enum": [
                            "API1",
                            "API2",
                            "API3",
                            "API4",
                            "API5",
                            "API6",
                            "API7",
                            "API8",
                            "API9",
                            "API10"
                          ]
                        }
                      },
                      "plugin_ids": {
                        "description": "A list of plugin IDs for which you want to filter the findings returned in the findings export. If your request omits this parameter, the export includes all findings regardless of plugin ID.",
                        "type": "array",
                        "items": {
                          "type": "integer"
                        }
                      },
                      "severity": {
                        "description": "Returns findings with the specified severity. Defaults to all severity levels. The severity of a finding is defined using the Common Vulnerability Scoring System (CVSS) base score. Supported array values are:\n - info—The finding has a CVSS score of 0.\n - low—The finding has a CVSS score between 0.1 and 3.9.\n - medium—The finding has a CVSS score between 4.0 and 6.9.\n - high—The finding has a CVSS score between 7.0 and 9.9.\n - critical—The finding has a CVSS score of 10.0.",
                        "type": "array",
                        "items": {
                          "type": "string",
                          "enum": [
                            "INFO",
                            "LOW",
                            "MEDIUM",
                            "HIGH",
                            "CRITICAL"
                          ]
                        }
                      },
                      "severity_modification_type": {
                        "description": "Returns findings with the specified severity modification type. This filter can be used to return findings with a modified severity due to a recast or accept rule. Supported case-sensitive values are:\n - NONE—No modification to the severity has been made.\n - RECASTED—A user has recast the risk associated with the finding.\n - ACCEPTED—A user has accepted the risk associated with the finding.",
                        "type": "array",
                        "items": {
                          "type": "string",
                          "enum": [
                            "NONE",
                            "RECASTED",
                            "ACCEPTED"
                          ]
                        }
                      },
                      "since": {
                        "type": "integer",
                        "description": "The start date for the range of data you want to export. The date must be specified in Unix 10-digit time format (seconds). Use this filter in conjunction with the state filter as follows:\n - If the state filter is set to `OPEN` or `REOPENED`, the export includes data for findings that were seen on or after the since date you specify.\n - If the state filter is set to `FIXED`, the export includes data for findings that were fixed on or after the since date you specify.\n - If you do not include the `state` filter in your request, the export includes data for `OPEN` and `REOPENED` findings that were seen on or after the since date you specify, and `FIXED` findings that were fixed on or after the since date you specify.\n**Note:** This filter cannot be used in conjunction with the `first_found`, `last_found`, or `last_fixed` filters.",
                        "format": "int64"
                      },
                      "state": {
[...]
