{
  "openapi": "3.0.3",
  "info": {
    "title": "BulkGate SMS API",
    "version": "1.0.0",
    "description": "BulkGate SMS API for sending transactional and promotional SMS messages. Supports simple and advanced sending modes.",
    "x-jentic-source-url": "https://help.bulkgate.com/docs/en/http-simple-transactional-post-json.html",
    "contact": {
      "name": "API Support"
    }
  },
  "servers": [
    {
      "url": "https://portal.bulkgate.com",
      "description": "BulkGate API Server"
    }
  ],
  "tags": [
    {
      "name": "Transactional SMS",
      "description": "Send transactional SMS messages"
    },
    {
      "name": "Promotional SMS",
      "description": "Send promotional SMS messages"
    }
  ],
  "paths": {
    "/api/1.0/simple/transactional": {
      "post": {
        "tags": [
          "Transactional SMS"
        ],
        "summary": "Send transactional SMS (simple)",
        "description": "Send a transactional SMS message to a single recipient using the simple API.",
        "operationId": "sendSimpleTransactional",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/SimpleTransactionalRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "SMS sent successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TransactionalResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Authentication failed"
          }
        }
      }
    },
    "/api/1.0/simple/promotional": {
      "post": {
        "tags": [
          "Promotional SMS"
        ],
        "summary": "Send promotional SMS (simple)",
        "description": "Send a promotional SMS message to multiple recipients using the simple API.",
        "operationId": "sendSimplePromotional",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/SimplePromotionalRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "SMS sent successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PromotionalResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Authentication failed"
          }
        }
      }
    },
    "/api/1.0/advanced/transactional": {
      "post": {
        "tags": [
          "Transactional SMS"
        ],
        "summary": "Send transactional SMS (advanced)",
        "description": "Send a transactional SMS message with advanced options including sender ID customization.",
        "operationId": "sendAdvancedTransactional",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/AdvancedTransactionalRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "SMS sent successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TransactionalResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Authentication failed"
          }
        }
      }
    },
    "/api/1.0/advanced/promotional": {
      "post": {
        "tags": [
          "Promotional SMS"
        ],
        "summary": "Send promotional SMS (advanced)",
        "description": "Send a promotional SMS message with advanced options to multiple recipients.",
        "operationId": "sendAdvancedPromotional",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/AdvancedPromotionalRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "SMS sent successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PromotionalResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Authentication failed"
          }
        }
      }
    }
  },
  "components": {
    "schemas": {
      "ErrorResponse": {
        "type": "object",
        "properties": {
          "error": {
            "type": "string"
          }
        },
        "required": [
          "error"
        ]
      },
      "SimpleTransactionalRequest": {
        "type": "object",
        "required": [
          "application_id",
          "application_token",
          "number",
          "text"
        ],
        "properties": {
          "application_id": {
            "type": "string",
            "description": "Application ID from BulkGate dashboard"
          },
          "application_token": {
            "type": "string",
            "description": "Application token from BulkGate dashboard"
          },
          "number": {
            "type": "string",
            "description": "Recipient phone number in international format"
          },
          "text": {
            "type": "string",
            "description": "SMS message text"
          },
          "unicode": {
            "type": "boolean",
            "description": "Enable unicode characters in SMS"
          },
          "sender_id": {
            "type": "string",
            "enum": [
              "gSystem",
              "gShort",
              "gText",
              "gMobile",
              "gPush",
              "gOwn"
            ],
            "description": "Sender ID type"
          },
          "sender_id_value": {
            "type": "string",
            "description": "Value of sender ID (depends on type)"
          },
          "country": {
            "type": "string",
            "description": "ISO 3166-1 alpha-2 country code to auto-prefix numbers"
          },
          "schedule": {
            "type": "string",
            "description": "ISO 8601 date-time or unix timestamp for scheduled delivery"
          }
        }
      },
      "SimplePromotionalRequest": {
        "type": "object",
        "required": [
          "application_id",
          "application_token",
          "number",
          "text"
        ],
        "properties": {
          "application_id": {
            "type": "string"
          },
          "application_token": {
            "type": "string"
          },
          "number": {
            "type": "string",
            "description": "Semicolon-separated list of recipient phone numbers"
          },
          "text": {
            "type": "string"
          },
          "unicode": {
            "type": "boolean"
          },
          "sender_id": {
            "type": "string",
            "enum": [
              "gSystem",
              "gShort",
              "gText",
              "gMobile",
              "gPush",
              "gOwn"
            ]
          },
          "sender_id_value": {
            "type": "string"
          },
          "country": {
            "type": "string"
          },
          "schedule": {
            "type": "string"
          }
        }
      },
      "AdvancedTransactionalRequest": {
        "type": "object",
        "required": [
          "application_id",
          "application_token",
          "number",
          "text"
        ],
        "properties": {
          "application_id": {
            "type": "string"
          },
          "application_token": {
            "type": "string"
          },
          "number": {
            "type": "object",
            "properties": {
              "number": {
                "type": "string"
              },
              "iso": {
                "type": "string"
              }
            }
          },
          "text": {
            "type": "string"
          },
          "unicode": {
            "type": "boolean"
          },
          "sender_id": {
            "type": "string"
          },
          "sender_id_value": {
            "type": "string"
          },
          "schedule": {
            "type": "string"
          }
        }
      },
      "AdvancedPromotionalRequest": {
        "type": "object",
        "required": [
          "application_id",
          "application_token",
          "number",
          "text"
        ],
        "properties": {
          "application_id": {
            "type": "string"
          },
          "application_token": {
            "type": "string"
          },
          "number": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "number": {
                  "type": "string"
                },
                "iso": {
                  "type": "string"
                }
              }
            }
          },
          "text": {
            "type": "string"
          },
          "unicode": {
            "type": "boolean"
          },
          "sender_id": {
            "type": "string"
          },
          "sender_id_value": {
            "type": "string"
          },
          "schedule": {
            "type": "string"
          }
        }
      },
      "TransactionalResponse": {
        "type": "object",
        "properties": {
          "data": {
            "type": "object",
            "properties": {
              "status": {
                "type": "string"
              },
              "sms_id": {
                "type": "string"
              },
              "price": {
                "type": "number"
              },
              "credit": {
                "type": "number"
              },
              "number": {
                "type": "string"
              }
            }
          }
        }
      },
      "PromotionalResponse": {
        "type": "object",
        "properties": {
          "data": {
            "type": "object",
            "properties": {
              "total": {
                "type": "object",
                "properties": {
                  "price": {
                    "type": "number"
                  },
                  "status": {
                    "type": "object"
                  }
                }
              },
              "response": {
                "type": "array",
                "items": {
                  "type": "object",
                  "properties": {
                    "status": {
                      "type": "string"
                    },
                    "sms_id": {
                      "type": "string"
                    },
                    "price": {
                      "type": "number"
                    },
                    "number": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          }
        }
      }
    }
  }
}
