{
  "openapi": "3.0.3",
  "info": {
    "title": "Climate Policy Radar API",
    "version": "1.0.0",
    "description": "Climate Policy Radar (CPR) provides a searchable database of climate laws, policies, and litigation from around the world. Search for policy documents, browse by geography, and access document metadata and full-text content. The API powers app.climatepolicyradar.org.",
    "x-jentic-source-url": "https://app.climatepolicyradar.org/",
    "contact": {
      "name": "API Support"
    }
  },
  "servers": [
    {
      "url": "https://app.climatepolicyradar.org/api/v1"
    }
  ],
  "paths": {
    "/searches": {
      "post": {
        "operationId": "searchDocuments",
        "summary": "Search climate policy documents",
        "description": "Full-text search across climate laws, policies, and litigation documents. Returns matching passages with document metadata.",
        "tags": [
          "Search"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/SearchRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Search results",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SearchResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "422": {
            "description": "Validation error"
          }
        }
      }
    },
    "/documents/{slug}": {
      "get": {
        "operationId": "getDocument",
        "summary": "Get document details",
        "description": "Retrieve full details of a climate policy document by its slug.",
        "tags": [
          "Documents"
        ],
        "parameters": [
          {
            "name": "slug",
            "in": "path",
            "description": "Document slug identifier",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Document details",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DocumentResponse"
                }
              }
            }
          },
          "404": {
            "description": "Document not found"
          }
        }
      }
    },
    "/families/{slug}": {
      "get": {
        "operationId": "getFamily",
        "summary": "Get document family",
        "description": "Retrieve a document family (related documents grouped together) by slug.",
        "tags": [
          "Families"
        ],
        "parameters": [
          {
            "name": "slug",
            "in": "path",
            "description": "Family slug",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Family details",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/FamilyResponse"
                }
              }
            }
          },
          "404": {
            "description": "Family not found"
          }
        }
      }
    },
    "/geographies": {
      "get": {
        "operationId": "listGeographies",
        "summary": "List geographies",
        "description": "Retrieve the list of available geographies (countries and regions) with document counts.",
        "tags": [
          "Geographies"
        ],
        "responses": {
          "200": {
            "description": "List of geographies",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Geography"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/geographies/{slug}": {
      "get": {
        "operationId": "getGeography",
        "summary": "Get geography details",
        "description": "Retrieve details and document families for a specific geography.",
        "tags": [
          "Geographies"
        ],
        "parameters": [
          {
            "name": "slug",
            "in": "path",
            "description": "Geography slug (e.g. country ISO code)",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Geography details with families",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GeographyDetailResponse"
                }
              }
            }
          },
          "404": {
            "description": "Geography not found"
          }
        }
      }
    },
    "/summaries": {
      "get": {
        "operationId": "getSummaries",
        "summary": "Get summary statistics",
        "description": "Get summary counts and statistics for the database (total documents, countries, etc.).",
        "tags": [
          "Summaries"
        ],
        "responses": {
          "200": {
            "description": "Summary statistics",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SummaryResponse"
                }
              }
            }
          }
        }
      }
    }
  },
  "components": {
    "schemas": {
      "SearchRequest": {
        "type": "object",
        "properties": {
          "query_string": {
            "type": "string",
            "description": "Full-text search query"
          },
          "exact_match": {
            "type": "boolean",
            "description": "Whether to use exact matching",
            "default": false
          },
          "keyword_filters": {
            "type": "object",
            "properties": {
              "countries": {
                "type": "array",
                "items": {
                  "type": "string"
                },
                "description": "ISO country codes"
              },
              "regions": {
                "type": "array",
                "items": {
                  "type": "string"
                }
              },
              "sources": {
                "type": "array",
                "items": {
                  "type": "string"
                }
              },
              "categories": {
                "type": "array",
                "items": {
                  "type": "string"
                },
                "description": "Document categories (Law, Policy, Case)"
              },
              "languages": {
                "type": "array",
                "items": {
                  "type": "string"
                }
              },
              "topics": {
                "type": "array",
                "items": {
                  "type": "string"
                }
              },
              "sectors": {
                "type": "array",
                "items": {
                  "type": "string"
                }
              },
              "instruments": {
                "type": "array",
                "items": {
                  "type": "string"
                }
              },
              "frameworks": {
                "type": "array",
                "items": {
                  "type": "string"
                }
              },
              "hazards": {
                "type": "array",
                "items": {
                  "type": "string"
                }
              },
              "keywords": {
                "type": "array",
                "items": {
                  "type": "string"
                }
              }
            }
          },
          "year_range": {
            "type": "object",
            "properties": {
              "start": {
                "type": "integer"
              },
              "end": {
                "type": "integer"
              }
            }
          },
          "sort_field": {
            "type": "string",
            "description": "Field to sort by"
          },
          "sort_order": {
            "type": "string",
            "enum": [
              "asc",
              "desc"
            ],
            "default": "desc"
          },
          "limit": {
            "type": "integer",
            "description": "Max results to return",
            "default": 10
          },
          "offset": {
            "type": "integer",
            "description": "Offset for pagination",
            "default": 0
          }
        }
      },
      "SearchResponse": {
        "type": "object",
        "properties": {
          "hits": {
            "type": "integer",
            "description": "Total number of matching results"
          },
          "query_string": {
            "type": "string"
          },
          "families": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/SearchResultFamily"
            }
          }
        }
      },
      "SearchResultFamily": {
        "type": "object",
        "properties": {
          "family_slug": {
            "type": "string"
          },
          "family_name": {
            "type": "string"
          },
          "family_description": {
            "type": "string"
          },
          "family_category": {
            "type": "string"
          },
          "family_geography": {
            "type": "string"
          },
          "family_date": {
            "type": "string"
          },
          "family_source": {
            "type": "string"
          },
          "family_documents": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "document_slug": {
                  "type": "string"
                },
                "document_title": {
                  "type": "string"
                },
                "document_type": {
                  "type": "string"
                },
                "document_url": {
                  "type": "string"
                },
                "document_passage_matches": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "text": {
                        "type": "string"
                      },
                      "text_block_id": {
                        "type": "string"
                      },
                      "text_block_page": {
                        "type": "integer"
                      },
                      "text_block_coords": {
                        "type": "array",
                        "items": {
                          "type": "number"
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        }
      },
      "DocumentResponse": {
        "type": "object",
        "properties": {
          "slug": {
            "type": "string"
          },
          "title": {
            "type": "string"
          },
          "description": {
            "type": "string"
          },
          "type": {
            "type": "string"
          },
          "source_url": {
            "type": "string"
          },
          "content_type": {
            "type": "string"
          },
          "language": {
            "type": "string"
          },
          "date": {
            "type": "string"
          },
          "geography": {
            "type": "string"
          },
          "category": {
            "type": "string"
          }
        }
      },
      "FamilyResponse": {
        "type": "object",
        "properties": {
          "slug": {
            "type": "string"
          },
          "title": {
            "type": "string"
          },
          "summary": {
            "type": "string"
          },
          "geography": {
            "type": "string"
          },
          "category": {
            "type": "string"
          },
          "date": {
            "type": "string"
          },
          "source": {
            "type": "string"
          },
          "documents": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/DocumentResponse"
            }
          },
          "metadata": {
            "type": "object"
          }
        }
      },
      "Geography": {
        "type": "object",
        "properties": {
          "slug": {
            "type": "string"
          },
          "display_value": {
            "type": "string"
          },
          "iso_code": {
            "type": "string"
          },
          "type": {
            "type": "string"
          },
          "parent_id": {
            "type": "string"
          },
          "family_count": {
            "type": "integer"
          }
        }
      },
      "GeographyDetailResponse": {
        "type": "object",
        "properties": {
          "slug": {
            "type": "string"
          },
          "display_value": {
            "type": "string"
          },
          "iso_code": {
            "type": "string"
          },
          "families": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/FamilyResponse"
            }
          }
        }
      },
      "SummaryResponse": {
        "type": "object",
        "properties": {
          "n_documents": {
            "type": "integer"
          },
          "n_families": {
            "type": "integer"
          },
          "n_collections": {
            "type": "integer"
          },
          "n_countries": {
            "type": "integer"
          }
        }
      },
      "ErrorResponse": {
        "type": "object",
        "properties": {
          "detail": {
            "type": "string"
          }
        }
      }
    }
  },
  "tags": [
    {
      "name": "Documents"
    },
    {
      "name": "Families"
    },
    {
      "name": "Geographies"
    },
    {
      "name": "Search"
    },
    {
      "name": "Summaries"
    }
  ]
}
