{
  "openapi": "3.0.3",
  "info": {
    "title": "iTunes Search API",
    "description": "The iTunes Search API allows you to search for content within the iTunes Store, App Store, iBooks Store, and Mac App Store. You can search for a variety of content including apps, iBooks, movies, podcasts, music, music videos, audiobooks, and TV shows. You can also look up content by iTunes ID, UPC/EAN, AMG ID, or ISBN.",
    "version": "1.0.0",
    "contact": {
      "name": "Apple Developer",
      "url": "https://developer.apple.com/library/archive/documentation/AudioVideo/Conceptual/iTuneSearchAPI/index.html"
    },
    "x-jentic-source-url": "https://developer.apple.com/library/archive/documentation/AudioVideo/Conceptual/iTuneSearchAPI/index.html"
  },
  "servers": [
    {
      "url": "https://itunes.apple.com",
      "description": "iTunes Search API production server"
    }
  ],
  "paths": {
    "/search": {
      "get": {
        "operationId": "searchContent",
        "summary": "Search the iTunes Store",
        "description": "Search for content in the iTunes Store, App Store, iBooks Store, and Mac App Store. Rate limited to approximately 20 calls per minute.",
        "parameters": [
          {
            "name": "term",
            "in": "query",
            "required": true,
            "description": "The URL-encoded text string you want to search for. For example: jack+johnson.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "country",
            "in": "query",
            "required": true,
            "description": "The two-letter country code for the store you want to search. The search uses the default store front for the specified country. For example: US. See http://en.wikipedia.org/wiki/ISO_3166-1_alpha-2 for a list of ISO country codes.",
            "schema": {
              "type": "string",
              "default": "US",
              "pattern": "^[A-Z]{2}$"
            }
          },
          {
            "name": "media",
            "in": "query",
            "required": false,
            "description": "The media type you want to search for. The default is all.",
            "schema": {
              "type": "string",
              "enum": [
                "movie",
                "podcast",
                "music",
                "musicVideo",
                "audiobook",
                "shortFilm",
                "tvShow",
                "software",
                "ebook",
                "all"
              ],
              "default": "all"
            }
          },
          {
            "name": "entity",
            "in": "query",
            "required": false,
            "description": "The type of results you want returned, relative to the specified media type. For example: movieArtist for a movie media type search. The default is the track entity associated with the specified media type.",
            "schema": {
              "type": "string",
              "enum": [
                "movieArtist",
                "movie",
                "podcastAuthor",
                "podcast",
                "musicArtist",
                "musicTrack",
                "album",
                "musicVideo",
                "mix",
                "song",
                "audiobookAuthor",
                "audiobook",
                "shortFilmArtist",
                "shortFilm",
                "tvEpisode",
                "tvSeason",
                "software",
                "iPadSoftware",
                "macSoftware",
                "ebook",
                "allArtist",
                "allTrack"
              ]
            }
          },
          {
            "name": "attribute",
            "in": "query",
            "required": false,
            "description": "The attribute you want to search for in the stores, relative to the specified media type. For example, if you want to search for an artist by name, specify entity=allArtist&attribute=allArtistTerm.",
            "schema": {
              "type": "string",
              "enum": [
                "actorTerm",
                "genreIndex",
                "artistTerm",
                "shortFilmTerm",
                "producerTerm",
                "ratingTerm",
                "directorTerm",
                "releaseYearTerm",
                "featureFilmTerm",
                "movieArtistTerm",
                "movieTerm",
                "songTerm",
                "mixTerm",
                "albumTerm",
                "composerTerm",
                "tvEpisodeTerm",
                "tvSeasonTerm",
                "showTerm",
                "allArtistTerm",
                "allTrackTerm",
                "softwareDeveloper",
                "descriptionTerm",
                "authorTerm",
                "titleTerm",
                "keywordsTerm",
                "languageTerm",
                "ratingIndex"
              ]
            }
          },
          {
            "name": "callback",
            "in": "query",
            "required": false,
            "description": "The name of the JavaScript callback function you want to use when returning search results to your website. For example: wsSearchCB.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "description": "The number of search results you want the iTunes Store to return. The default is 50. Values from 1 to 200.",
            "schema": {
              "type": "integer",
              "default": 50,
              "minimum": 1,
              "maximum": 200
            }
          },
          {
            "name": "lang",
            "in": "query",
            "required": false,
            "description": "The language, English or Japanese, you want to use when returning search results. The default is en_us (English).",
            "schema": {
              "type": "string",
              "enum": [
                "en_us",
                "ja_jp"
              ],
              "default": "en_us"
            }
          },
          {
            "name": "version",
            "in": "query",
            "required": false,
            "description": "The search result key version you want to receive back from your search. The default is 2.",
            "schema": {
              "type": "integer",
              "enum": [
                1,
                2
              ],
              "default": 2
            }
          },
          {
            "name": "explicit",
            "in": "query",
            "required": false,
            "description": "A flag indicating whether or not you want to include explicit content in your search results. The default is Yes.",
            "schema": {
              "type": "string",
              "enum": [
                "Yes",
                "No"
              ],
              "default": "Yes"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful search response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SearchResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request - invalid parameters"
          },
          "403": {
            "description": "Forbidden - rate limit exceeded (approximately 20 calls per minute)"
          }
        },
        "tags": [
          "search"
        ]
      }
    },
    "/lookup": {
      "get": {
        "operationId": "lookupContent",
        "summary": "Look up content by ID",
        "description": "Look up content in the iTunes Store by iTunes ID, AMG ID, UPC, or ISBN. ID-based lookups are faster and more accurate than text-based searches.",
        "parameters": [
          {
            "name": "id",
            "in": "query",
            "required": false,
            "description": "iTunes ID of the artist, album, track, app, or other content. Supports comma-separated values for multiple lookups.",
            "schema": {
              "type": "string"
            },
            "example": "284910350"
          },
          {
            "name": "amgArtistId",
            "in": "query",
            "required": false,
            "description": "All Music Guide (AMG) artist ID. Supports comma-separated values for multiple lookups.",
            "schema": {
              "type": "string"
            },
            "example": "468749"
          },
          {
            "name": "amgAlbumId",
            "in": "query",
            "required": false,
            "description": "All Music Guide (AMG) album ID. Supports comma-separated values for multiple lookups.",
            "schema": {
              "type": "string"
            },
            "example": "15175"
          },
          {
            "name": "amgVideoId",
            "in": "query",
            "required": false,
            "description": "All Music Guide (AMG) video ID.",
            "schema": {
              "type": "string"
            },
            "example": "17120"
          },
          {
            "name": "upc",
            "in": "query",
            "required": false,
            "description": "Universal Product Code (UPC) of the item.",
            "schema": {
              "type": "string"
            },
            "example": "720642462928"
          },
          {
            "name": "isbn",
            "in": "query",
            "required": false,
            "description": "13-digit International Standard Book Number (ISBN) of the book.",
            "schema": {
              "type": "string"
            },
            "example": "9780316069359"
          },
          {
            "name": "entity",
            "in": "query",
            "required": false,
            "description": "The type of results you want returned. For example, album or song.",
            "schema": {
              "type": "string",
              "enum": [
                "movieArtist",
                "movie",
                "podcastAuthor",
                "podcast",
                "musicArtist",
                "musicTrack",
                "album",
                "musicVideo",
                "mix",
                "song",
                "audiobookAuthor",
                "audiobook",
                "shortFilmArtist",
                "shortFilm",
                "tvEpisode",
                "tvSeason",
                "software",
                "iPadSoftware",
                "macSoftware",
                "ebook",
                "allArtist",
                "allTrack"
              ]
            }
          },
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "description": "The maximum number of results to return per ID.",
            "schema": {
              "type": "integer",
              "minimum": 1,
              "maximum": 200
            }
          },
          {
            "name": "sort",
            "in": "query",
            "required": false,
            "description": "The sort order of the results. Use 'recent' to sort by most recent.",
            "schema": {
              "type": "string",
              "enum": [
                "recent"
              ]
            }
          },
          {
            "name": "country",
            "in": "query",
            "required": false,
            "description": "The two-letter country code for the store you want to look up content in.",
            "schema": {
              "type": "string",
              "pattern": "^[A-Z]{2}$"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful lookup response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SearchResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request - invalid parameters or no ID parameter provided"
          },
          "403": {
            "description": "Forbidden - rate limit exceeded"
          }
        },
        "tags": [
          "lookup"
        ]
      }
    }
  },
  "components": {
    "schemas": {
      "SearchResponse": {
        "type": "object",
        "properties": {
          "resultCount": {
            "type": "integer",
            "description": "The number of results returned."
          },
          "results": {
            "type": "array",
            "description": "An array of result objects.",
            "items": {
              "$ref": "#/components/schemas/SearchResult"
            }
          }
        },
        "required": [
          "resultCount",
          "results"
        ]
      },
      "SearchResult": {
        "type": "object",
        "description": "A result item from the iTunes Search API. Fields vary depending on the content type (wrapperType).",
        "properties": {
          "wrapperType": {
            "type": "string",
            "description": "The type of result: track, collection, or artist.",
            "enum": [
              "track",
              "collection",
              "artist",
              "software"
            ]
          },
          "kind": {
            "type": "string",
            "description": "The kind of content returned. For example: song, feature-movie, tv-episode, software, ebook.",
            "enum": [
              "book",
              "album",
              "coached-audio",
              "feature-movie",
              "interactive-booklet",
              "music-video",
              "pdf podcast",
              "podcast-episode",
              "software-package",
              "song",
              "tv-episode",
              "artist",
              "software",
              "ebook"
            ]
          },
          "artistId": {
            "type": "integer",
            "description": "The iTunes artist ID."
          },
          "collectionId": {
            "type": "integer",
            "description": "The iTunes collection (album) ID."
          },
          "trackId": {
            "type": "integer",
            "description": "The iTunes track or content ID."
          },
          "artistName": {
            "type": "string",
            "description": "The name of the artist."
          },
          "collectionName": {
            "type": "string",
            "description": "The name of the collection (album)."
          },
          "trackName": {
            "type": "string",
            "description": "The name of the track or content item."
          },
          "collectionCensoredName": {
            "type": "string",
            "description": "The censored name of the collection."
          },
          "trackCensoredName": {
            "type": "string",
            "description": "The censored name of the track."
          },
          "artistViewUrl": {
            "type": "string",
            "format": "uri",
            "description": "URL to view the artist in the iTunes Store."
          },
          "collectionViewUrl": {
            "type": "string",
            "format": "uri",
            "description": "URL to view the collection in the iTunes Store."
          },
          "trackViewUrl": {
            "type": "string",
            "format": "uri",
            "description": "URL to view the track or content in the iTunes Store."
          },
          "previewUrl": {
            "type": "string",
            "format": "uri",
            "description": "URL for a preview of the content (audio or video)."
          },
          "artworkUrl30": {
            "type": "string",
            "format": "uri",
            "description": "URL for 30x30 artwork image."
          },
          "artworkUrl60": {
            "type": "string",
            "format": "uri",
            "description": "URL for 60x60 artwork image."
          },
          "artworkUrl100": {
            "type": "string",
            "format": "uri",
            "description": "URL for 100x100 artwork image."
          },
          "artworkUrl512": {
            "type": "string",
            "format": "uri",
            "description": "URL for 512x512 artwork image (apps)."
          },
          "collectionPrice": {
            "type": "number",
            "description": "The price of the collection."
          },
          "trackPrice": {
            "type": "number",
            "description": "The price of the track."
          },
          "releaseDate": {
            "type": "string",
            "format": "date-time",
            "description": "The release date of the content."
          },
          "collectionExplicitness": {
            "type": "string",
            "description": "The explicitness of the collection.",
            "enum": [
              "explicit",
              "cleaned",
              "notExplicit"
            ]
          },
          "trackExplicitness": {
            "type": "string",
            "description": "The explicitness of the track.",
            "enum": [
              "explicit",
              "cleaned",
              "notExplicit"
            ]
          },
          "discCount": {
            "type": "integer",
            "description": "The number of discs in the collection."
          },
          "discNumber": {
            "type": "integer",
            "description": "The disc number of the track."
          },
          "trackCount": {
            "type": "integer",
            "description": "The number of tracks in the collection."
          },
          "trackNumber": {
            "type": "integer",
            "description": "The track number."
          },
          "trackTimeMillis": {
            "type": "integer",
            "description": "The duration of the track in milliseconds."
          },
          "country": {
            "type": "string",
            "description": "The country code of the store."
          },
          "currency": {
            "type": "string",
            "description": "The currency used for pricing."
          },
          "primaryGenreName": {
            "type": "string",
            "description": "The primary genre name."
          },
          "primaryGenreId": {
            "type": "integer",
            "description": "The primary genre ID."
          },
          "contentAdvisoryRating": {
            "type": "string",
            "description": "The content advisory rating."
          },
          "isStreamable": {
            "type": "boolean",
            "description": "Whether the content is streamable."
          },
          "description": {
            "type": "string",
            "description": "A description of the content (apps, books, podcasts)."
          },
          "bundleId": {
            "type": "string",
            "description": "The bundle ID of the app (software only)."
          },
          "trackContentRating": {
            "type": "string",
            "description": "The content rating of the app (e.g., 4+, 9+, 12+, 17+)."
          },
          "averageUserRating": {
            "type": "number",
            "description": "The average user rating for the app."
          },
          "userRatingCount": {
            "type": "integer",
            "description": "The number of user ratings for the app."
          },
          "averageUserRatingForCurrentVersion": {
            "type": "number",
            "description": "The average user rating for the current version."
          },
          "userRatingCountForCurrentVersion": {
            "type": "integer",
            "description": "The number of user ratings for the current version."
          },
          "version": {
            "type": "string",
            "description": "The current version of the app."
          },
          "minimumOsVersion": {
            "type": "string",
            "description": "The minimum OS version required."
          },
          "fileSizeBytes": {
            "type": "string",
            "description": "The file size of the app in bytes."
          },
          "formattedPrice": {
            "type": "string",
            "description": "The formatted price string (e.g., '$0.99', 'Free')."
          },
          "supportedDevices": {
            "type": "array",
            "items": {
              "type": "string"
            },
            "description": "List of supported devices (apps only)."
          },
          "genres": {
            "type": "array",
            "items": {
              "type": "string"
            },
            "description": "List of genre names."
          },
          "genreIds": {
            "type": "array",
            "items": {
              "type": "string"
            },
            "description": "List of genre IDs."
          },
          "screenshotUrls": {
            "type": "array",
            "items": {
              "type": "string",
              "format": "uri"
            },
            "description": "List of screenshot URLs (apps only)."
          },
          "ipadScreenshotUrls": {
            "type": "array",
            "items": {
              "type": "string",
              "format": "uri"
            },
            "description": "List of iPad screenshot URLs (apps only)."
          },
          "sellerName": {
            "type": "string",
            "description": "The seller name (apps only)."
          },
          "sellerUrl": {
            "type": "string",
            "format": "uri",
            "description": "The seller URL (apps only)."
          },
          "currentVersionReleaseDate": {
            "type": "string",
            "format": "date-time",
            "description": "The release date of the current version."
          }
        }
      }
    }
  },
  "tags": [
    {
      "name": "lookup"
    },
    {
      "name": "search"
    }
  ]
}
