{
  "openapi": "3.0.3",
  "info": {
    "title": "Snipcart API",
    "version": "3.0",
    "description": "Snipcart is a developer-first shopping cart platform. The REST API allows you to manage orders, products, customers, discounts, refunds, and notifications.",
    "x-jentic-source-url": "https://docs.snipcart.com/v3/api-reference/introduction",
    "contact": {
      "name": "API Support"
    }
  },
  "servers": [
    {
      "url": "https://app.snipcart.com/api"
    }
  ],
  "paths": {
    "/orders": {
      "get": {
        "operationId": "listOrders",
        "summary": "Get all orders",
        "description": "Retrieve all completed orders with optional filters.",
        "tags": [
          "Orders"
        ],
        "parameters": [
          {
            "name": "offset",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "default": 0
            },
            "description": "Number of results to skip"
          },
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "default": 20
            },
            "description": "Number of results to fetch"
          },
          {
            "name": "status",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "enum": [
                "InProgress",
                "Processed",
                "Disputed",
                "Shipped",
                "Delivered",
                "Pending",
                "Cancelled"
              ]
            },
            "description": "Filter by order status"
          },
          {
            "name": "invoiceNumber",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Filter by invoice number"
          },
          {
            "name": "productId",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Filter by user-defined product ID"
          },
          {
            "name": "placedBy",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Name of the purchaser"
          },
          {
            "name": "from",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "format": "date-time"
            },
            "description": "Orders placed after this date"
          },
          {
            "name": "to",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "format": "date-time"
            },
            "description": "Orders placed before this date"
          },
          {
            "name": "isRecurringOrder",
            "in": "query",
            "required": false,
            "schema": {
              "type": "boolean"
            },
            "description": "Filter by recurring orders"
          },
          {
            "name": "billingAddressCity",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Exact match on billing city"
          },
          {
            "name": "billingAddressCountry",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "2-letter country code for billing"
          },
          {
            "name": "billingAddressProvince",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Billing province/state"
          },
          {
            "name": "billingAddressPostalCode",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Billing postal code"
          },
          {
            "name": "shippingAddressCity",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Shipping city"
          },
          {
            "name": "shippingAddressCountry",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "2-letter country code for shipping"
          },
          {
            "name": "shippingAddressProvince",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Shipping province/state"
          },
          {
            "name": "shippingAddressPostalCode",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Shipping postal code"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/OrderListResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/orders/{token}": {
      "get": {
        "operationId": "getOrder",
        "summary": "Get an order by token",
        "description": "Retrieve a single order including items, promo codes, and taxes.",
        "tags": [
          "Orders"
        ],
        "parameters": [
          {
            "name": "token",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "The unique order token"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Order"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      },
      "put": {
        "operationId": "updateOrder",
        "summary": "Update an order",
        "description": "Update the status, tracking info, or metadata of a specific order.",
        "tags": [
          "Orders"
        ],
        "parameters": [
          {
            "name": "token",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "The unique order token"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/OrderUpdateRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Order"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/orders/{token}/digital": {
      "get": {
        "operationId": "getOrderDigitalGoods",
        "summary": "Get order digital goods",
        "description": "Return the list of digital goods attached to an order.",
        "tags": [
          "Orders"
        ],
        "parameters": [
          {
            "name": "token",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "The unique order token"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/DigitalGood"
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/orders/{token}/notifications": {
      "get": {
        "operationId": "listOrderNotifications",
        "summary": "List order notifications",
        "description": "Get all notifications for a specific order.",
        "tags": [
          "Notifications"
        ],
        "parameters": [
          {
            "name": "token",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "The unique order token"
          },
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "default": 20
            },
            "description": "Max items to return"
          },
          {
            "name": "offset",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "default": 0
            },
            "description": "Items to skip"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/NotificationListResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      },
      "post": {
        "operationId": "createOrderNotification",
        "summary": "Create order notification",
        "description": "Add a notification to an order. Can optionally send email to customer.",
        "tags": [
          "Notifications"
        ],
        "parameters": [
          {
            "name": "token",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "The unique order token"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/NotificationCreateRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Notification"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/orders/{token}/refunds": {
      "get": {
        "operationId": "listOrderRefunds",
        "summary": "List order refunds",
        "description": "Get all refunds for a specific order.",
        "tags": [
          "Refunds"
        ],
        "parameters": [
          {
            "name": "token",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "The order's unique identifier"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Refund"
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      },
      "post": {
        "operationId": "createOrderRefund",
        "summary": "Create order refund",
        "description": "Issue a refund for a specific order.",
        "tags": [
          "Refunds"
        ],
        "parameters": [
          {
            "name": "token",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "The order's unique identifier"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/RefundCreateRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Refund"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/orders/{token}/refunds/{id}": {
      "get": {
        "operationId": "getOrderRefund",
        "summary": "Get a specific refund",
        "description": "Get details of a specific refund on an order.",
        "tags": [
          "Refunds"
        ],
        "parameters": [
          {
            "name": "token",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "The order's unique identifier"
          },
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "The refund's unique identifier"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Refund"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/products": {
      "get": {
        "operationId": "listProducts",
        "summary": "List products",
        "description": "Retrieve a list of all products.",
        "tags": [
          "Products"
        ],
        "parameters": [
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "default": 20
            },
            "description": "Max items to return"
          },
          {
            "name": "offset",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "default": 0
            },
            "description": "Items to skip"
          },
          {
            "name": "userDefinedId",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Filter by user-defined product ID"
          },
          {
            "name": "from",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "format": "date-time"
            },
            "description": "Products bought from this date"
          },
          {
            "name": "to",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "format": "date-time"
            },
            "description": "Products bought until this date"
          },
          {
            "name": "orderBy",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "enum": [
                "nbrSales",
                "salesValue",
                "creationDate"
              ]
            },
            "description": "Sort order"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProductListResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      },
      "post": {
        "operationId": "fetchProducts",
        "summary": "Fetch products from URL",
        "description": "Fetches a URL and imports product definitions found on the page.",
        "tags": [
          "Products"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "fetchUrl"
                ],
                "properties": {
                  "fetchUrl": {
                    "type": "string",
                    "description": "URL where product details are defined"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Product"
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/products/{id}": {
      "get": {
        "operationId": "getProduct",
        "summary": "Get a product",
        "description": "Retrieve a product by its Snipcart ID or user-defined ID.",
        "tags": [
          "Products"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Product unique ID (Snipcart or user-defined)"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Product"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      },
      "put": {
        "operationId": "updateProduct",
        "summary": "Update a product",
        "description": "Update inventory-related attributes of a product.",
        "tags": [
          "Products"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Product unique ID"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ProductUpdateRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Product"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      },
      "delete": {
        "operationId": "archiveProduct",
        "summary": "Archive a product",
        "description": "Archives the product. Archived products are restored if added to a cart again.",
        "tags": [
          "Products"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Product unique ID"
          }
        ],
        "responses": {
          "200": {
            "description": "Product archived",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/customers": {
      "get": {
        "operationId": "listCustomers",
        "summary": "List customers",
        "description": "Retrieve a list of all customers.",
        "tags": [
          "Customers"
        ],
        "parameters": [
          {
            "name": "offset",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "default": 0
            },
            "description": "Number of results to skip"
          },
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "default": 20
            },
            "description": "Number of results to fetch"
          },
          {
            "name": "status",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "enum": [
                "Confirmed",
                "Unconfirmed"
              ]
            },
            "description": "Customer status"
          },
          {
            "name": "email",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Filter by customer email"
          },
          {
            "name": "name",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Filter by customer name"
          },
          {
            "name": "from",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "format": "date-time"
            },
            "description": "Customers created after date"
          },
          {
            "name": "to",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "format": "date-time"
            },
            "description": "Customers created before date"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CustomerListResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/customers/{id}": {
      "get": {
        "operationId": "getCustomer",
        "summary": "Get a customer",
        "description": "Retrieve a specific customer by ID.",
        "tags": [
          "Customers"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Customer unique ID"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Customer"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/customers/{id}/orders": {
      "get": {
        "operationId": "listCustomerOrders",
        "summary": "List customer orders",
        "description": "Retrieve all orders for a specific customer.",
        "tags": [
          "Customers"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Customer unique ID"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Order"
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/discounts": {
      "get": {
        "operationId": "listDiscounts",
        "summary": "List discounts",
        "description": "Retrieve all discounts.",
        "tags": [
          "Discounts"
        ],
        "parameters": [],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Discount"
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      },
      "post": {
        "operationId": "createDiscount",
        "summary": "Create a discount",
        "description": "Create a new discount rule.",
        "tags": [
          "Discounts"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/DiscountCreateRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Discount"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/discounts/{id}": {
      "get": {
        "operationId": "getDiscount",
        "summary": "Get a discount",
        "description": "Retrieve a specific discount.",
        "tags": [
          "Discounts"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Discount unique ID"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Discount"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      },
      "put": {
        "operationId": "updateDiscount",
        "summary": "Update a discount",
        "description": "Update an existing discount.",
        "tags": [
          "Discounts"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Discount unique ID"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/DiscountUpdateRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Discount"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      },
      "delete": {
        "operationId": "deleteDiscount",
        "summary": "Delete a discount",
        "description": "Delete a discount. Cannot delete discounts used in completed orders.",
        "tags": [
          "Discounts"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Discount unique ID"
          }
        ],
        "responses": {
          "200": {
            "description": "Discount deleted",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    }
  },
  "components": {
    "schemas": {
      "ErrorResponse": {
        "type": "object",
        "properties": {
          "status": {
            "type": "string"
          },
          "code": {
            "type": "string"
          },
          "message": {
            "type": "string"
          }
        }
      },
      "Order": {
        "type": "object",
        "properties": {
          "token": {
            "type": "string"
          },
          "creationDate": {
            "type": "string",
            "format": "date-time"
          },
          "status": {
            "type": "string",
            "enum": [
              "InProgress",
              "Processed",
              "Disputed",
              "Shipped",
              "Delivered",
              "Pending",
              "Cancelled"
            ]
          },
          "paymentMethod": {
            "type": "string"
          },
          "invoiceNumber": {
            "type": "string"
          },
          "email": {
            "type": "string",
            "format": "email"
          },
          "cardHolderName": {
            "type": "string"
          },
          "creditCardLast4Digits": {
            "type": "string"
          },
          "billingAddressName": {
            "type": "string"
          },
          "billingAddressCompanyName": {
            "type": "string"
          },
          "billingAddressAddress1": {
            "type": "string"
          },
          "billingAddressAddress2": {
            "type": "string"
          },
          "billingAddressCity": {
            "type": "string"
          },
          "billingAddressCountry": {
            "type": "string"
          },
          "billingAddressProvince": {
            "type": "string"
          },
          "billingAddressPostalCode": {
            "type": "string"
          },
          "billingAddressPhone": {
            "type": "string"
          },
          "shippingAddressName": {
            "type": "string"
          },
          "shippingAddressCompanyName": {
            "type": "string"
          },
          "shippingAddressAddress1": {
            "type": "string"
          },
          "shippingAddressAddress2": {
            "type": "string"
          },
          "shippingAddressCity": {
            "type": "string"
          },
          "shippingAddressCountry": {
            "type": "string"
          },
          "shippingAddressProvince": {
            "type": "string"
          },
          "shippingAddressPostalCode": {
            "type": "string"
          },
          "shippingAddressPhone": {
            "type": "string"
          },
          "shippingAddressSameAsBilling": {
            "type": "boolean"
          },
          "finalGrandTotal": {
            "type": "number"
          },
          "shippingFees": {
            "type": "number"
          },
          "shippingMethod": {
            "type": "string"
          },
          "notes": {
            "type": "string"
          },
          "items": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/OrderItem"
            }
          },
          "taxes": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Tax"
            }
          },
          "promocodes": {
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "willBePaidLater": {
            "type": "boolean"
          },
          "customFieldsJson": {
            "type": "string"
          },
          "paymentTransactionId": {
            "type": "string"
          },
          "trackingNumber": {
            "type": "string"
          },
          "trackingUrl": {
            "type": "string"
          },
          "metadata": {
            "type": "object"
          }
        }
      },
      "OrderItem": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string"
          },
          "name": {
            "type": "string"
          },
          "price": {
            "type": "number"
          },
          "quantity": {
            "type": "integer"
          }
        }
      },
      "Tax": {
        "type": "object",
        "properties": {
          "taxName": {
            "type": "string"
          },
          "taxRate": {
            "type": "number"
          },
          "amount": {
            "type": "number"
          }
        }
      },
      "OrderListResponse": {
        "type": "object",
        "properties": {
          "totalItems": {
            "type": "integer"
          },
          "offset": {
            "type": "integer"
          },
          "limit": {
            "type": "integer"
          },
          "items": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Order"
            }
          }
        }
      },
      "OrderUpdateRequest": {
        "type": "object",
        "required": [
          "status"
        ],
        "properties": {
          "status": {
            "type": "string",
            "enum": [
              "InProgress",
              "Processed",
              "Disputed",
              "Shipped",
              "Delivered",
              "Pending",
              "Cancelled"
            ]
          },
          "paymentStatus": {
            "type": "string",
            "enum": [
              "Paid",
              "Deferred",
              "PaidDeferred",
              "ChargedBack",
              "Refunded",
              "Paidout",
              "Failed",
              "Pending",
              "Expired",
              "Cancelled",
              "Open",
              "Authorized"
            ]
          },
          "trackingNumber": {
            "type": "string"
          },
          "trackingUrl": {
            "type": "string"
          },
          "metadata": {
            "type": "object"
          }
        }
      },
      "DigitalGood": {
        "type": "object",
        "properties": {
          "fileGuid": {
            "type": "string"
          },
          "name": {
            "type": "string"
          },
          "url": {
            "type": "string",
            "format": "uri"
          },
          "downloadedNbrTime": {
            "type": "integer"
          },
          "maxNbrDownload": {
            "type": "integer",
            "nullable": true
          },
          "daysUntilExpire": {
            "type": "integer",
            "nullable": true
          },
          "creationDate": {
            "type": "string",
            "format": "date-time"
          },
          "isValid": {
            "type": "boolean"
          }
        }
      },
      "Product": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string"
          },
          "mode": {
            "type": "string"
          },
          "userDefinedId": {
            "type": "string"
          },
          "url": {
            "type": "string"
          },
          "price": {
            "type": "number"
          },
          "name": {
            "type": "string"
          },
          "description": {
            "type": "string"
          },
          "image": {
            "type": "string"
          },
          "archived": {
            "type": "boolean"
          },
          "inventoryManagementMethod": {
            "type": "string",
            "enum": [
              "Single",
              "Variant"
            ]
          },
          "stock": {
            "type": "integer"
          },
          "totalStock": {
            "type": "integer"
          },
          "allowOutOfStockPurchases": {
            "type": "boolean"
          },
          "statistics": {
            "type": "object",
            "properties": {
              "numberOfSales": {
                "type": "integer"
              },
              "totalSales": {
                "type": "number"
              }
            }
          },
          "customFields": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/CustomField"
            }
          },
          "variants": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/ProductVariant"
            }
          },
          "metadata": {
            "type": "object"
          },
          "creationDate": {
            "type": "string",
            "format": "date-time"
          },
          "modificationDate": {
            "type": "string",
            "format": "date-time"
          }
        }
      },
      "CustomField": {
        "type": "object",
        "properties": {
          "name": {
            "type": "string"
          },
          "operation": {
            "type": "string"
          },
          "type": {
            "type": "string"
          },
          "options": {
            "type": "string"
          },
          "required": {
            "type": "boolean"
          },
          "value": {
            "type": "string"
          },
          "optionsArray": {
            "type": "array",
            "items": {
              "type": "string"
            }
          }
        }
      },
      "ProductVariant": {
        "type": "object",
        "properties": {
          "stock": {
            "type": "integer"
          },
          "variation": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "name": {
                  "type": "string"
                },
                "option": {
                  "type": "string"
                }
              }
            }
          },
          "allowOutOfStockPurchases": {
            "type": "boolean"
          }
        }
      },
      "ProductListResponse": {
        "type": "object",
        "properties": {
          "totalItems": {
            "type": "integer"
          },
          "offset": {
            "type": "integer"
          },
          "limit": {
            "type": "integer"
          },
          "items": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Product"
            }
          }
        }
      },
      "ProductUpdateRequest": {
        "type": "object",
        "properties": {
          "inventoryManagementMethod": {
            "type": "string",
            "enum": [
              "Single",
              "Variant"
            ]
          },
          "stock": {
            "type": "integer"
          },
          "allowOutOfStockPurchases": {
            "type": "boolean"
          },
          "variants": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/ProductVariant"
            }
          }
        }
      },
      "Customer": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string"
          },
          "email": {
            "type": "string",
            "format": "email"
          },
          "billingAddressName": {
            "type": "string"
          },
          "billingAddressCompanyName": {
            "type": "string"
          },
          "billingAddressAddress1": {
            "type": "string"
          },
          "billingAddressAddress2": {
            "type": "string"
          },
          "billingAddressCity": {
            "type": "string"
          },
          "billingAddressCountry": {
            "type": "string"
          },
          "billingAddressProvince": {
            "type": "string"
          },
          "billingAddressPostalCode": {
            "type": "string"
          },
          "billingAddressPhone": {
            "type": "string"
          },
          "shippingAddressName": {
            "type": "string"
          },
          "shippingAddressCompanyName": {
            "type": "string"
          },
          "shippingAddressAddress1": {
            "type": "string"
          },
          "shippingAddressAddress2": {
            "type": "string"
          },
          "shippingAddressCity": {
            "type": "string"
          },
          "shippingAddressCountry": {
            "type": "string"
          },
          "shippingAddressProvince": {
            "type": "string"
          },
          "shippingAddressPostalCode": {
            "type": "string"
          },
          "shippingAddressPhone": {
            "type": "string"
          },
          "shippingAddressSameAsBilling": {
            "type": "boolean"
          },
          "sessionToken": {
            "type": "string",
            "nullable": true
          },
          "status": {
            "type": "string",
            "enum": [
              "Confirmed",
              "Unconfirmed"
            ]
          },
          "statistics": {
            "type": "object",
            "properties": {
              "ordersCount": {
                "type": "integer"
              },
              "ordersAmount": {
                "type": "number"
              }
            }
          }
        }
      },
      "CustomerListResponse": {
        "type": "object",
        "properties": {
          "totalItems": {
            "type": "integer"
          },
          "offset": {
            "type": "integer"
          },
          "limit": {
            "type": "integer"
          },
          "items": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Customer"
            }
          }
        }
      },
      "Discount": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string"
          },
          "name": {
            "type": "string"
          },
          "trigger": {
            "type": "string",
            "enum": [
              "Code",
              "Total",
              "Product"
            ]
          },
          "code": {
            "type": "string",
            "nullable": true
          },
          "itemId": {
            "type": "string",
            "nullable": true
          },
          "totalToReach": {
            "type": "number",
            "nullable": true
          },
          "type": {
            "type": "string",
            "enum": [
              "FixedAmount",
              "FixedAmountOnItems",
              "Rate",
              "AlternatePrice",
              "Shipping",
              "AmountOnSubscription",
              "RateOnSubscription",
              "RateOnItems",
              "RateOnCategory"
            ]
          },
          "rate": {
            "type": "number",
            "nullable": true
          },
          "amount": {
            "type": "number",
            "nullable": true
          },
          "alternatePrice": {
            "type": "string",
            "nullable": true
          },
          "maxNumberOfUsages": {
            "type": "integer",
            "nullable": true
          },
          "expires": {
            "type": "string",
            "format": "date-time",
            "nullable": true
          },
          "numberOfUsages": {
            "type": "integer"
          },
          "numberOfUsagesUncompleted": {
            "type": "integer"
          },
          "shippingDescription": {
            "type": "string",
            "nullable": true
          },
          "shippingCost": {
            "type": "number",
            "nullable": true
          },
          "shippingGuaranteedDaysToDelivery": {
            "type": "integer",
            "nullable": true
          },
          "combinable": {
            "type": "boolean"
          }
        }
      },
      "DiscountCreateRequest": {
        "type": "object",
        "required": [
          "name",
          "trigger",
          "type"
        ],
        "properties": {
          "name": {
            "type": "string"
          },
          "trigger": {
            "type": "string",
            "enum": [
              "Code",
              "Total",
              "Product"
            ]
          },
          "code": {
            "type": "string"
          },
          "totalToReach": {
            "type": "number"
          },
          "itemId": {
            "type": "string"
          },
          "type": {
            "type": "string",
            "enum": [
              "FixedAmount",
              "FixedAmountOnItems",
              "Rate",
              "AlternatePrice",
              "Shipping",
              "AmountOnSubscription",
              "RateOnSubscription",
              "RateOnItems",
              "RateOnCategory"
            ]
          },
          "amount": {
            "type": "number"
          },
          "rate": {
            "type": "number"
          },
          "alternatePrice": {
            "type": "string"
          },
          "productIds": {
            "type": "string"
          },
          "shippingDescription": {
            "type": "string"
          },
          "shippingCost": {
            "type": "number"
          },
          "shippingGuaranteedDaysToDelivery": {
            "type": "integer"
          },
          "maxNumberOfUsages": {
            "type": "integer"
          },
          "expires": {
            "type": "string",
            "format": "date-time"
          },
          "combinable": {
            "type": "boolean"
          }
        }
      },
      "DiscountUpdateRequest": {
        "type": "object",
        "required": [
          "name",
          "trigger",
          "type"
        ],
        "properties": {
          "name": {
            "type": "string"
          },
          "trigger": {
            "type": "string",
            "enum": [
              "Code",
              "Total",
              "Product"
            ]
          },
          "code": {
            "type": "string"
          },
          "totalToReach": {
            "type": "number"
          },
          "itemId": {
            "type": "string"
          },
          "type": {
            "type": "string",
            "enum": [
              "FixedAmount",
              "Rate",
              "AlternatePrice",
              "Shipping"
            ]
          },
          "amount": {
            "type": "number"
          },
          "rate": {
            "type": "number"
          },
          "alternatePrice": {
            "type": "string"
          },
          "shippingDescription": {
            "type": "string"
          },
          "shippingCost": {
            "type": "number"
          },
          "shippingGuaranteedDaysToDelivery": {
            "type": "integer"
          },
          "maxNumberOfUsages": {
            "type": "integer"
          },
          "expires": {
            "type": "string",
            "format": "date-time"
          },
          "archived": {
            "type": "boolean"
          },
          "combinable": {
            "type": "boolean"
          }
        }
      },
      "Notification": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string"
          },
          "creationDate": {
            "type": "string",
            "format": "date-time"
          },
          "type": {
            "type": "string",
            "enum": [
              "Comment",
              "OrderStatusChanged",
              "OrderShipped",
              "TrackingNumber",
              "Invoice"
            ]
          },
          "deliveryMethod": {
            "type": "string",
            "enum": [
              "Email",
              "None"
            ]
          },
          "body": {
            "type": "string"
          },
          "message": {
            "type": "string"
          },
          "subject": {
            "type": "string"
          },
          "sentOn": {
            "type": "string",
            "format": "date-time"
          }
        }
      },
      "NotificationListResponse": {
        "type": "object",
        "properties": {
          "totalItems": {
            "type": "integer"
          },
          "offset": {
            "type": "integer"
          },
          "limit": {
            "type": "integer"
          },
          "items": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Notification"
            }
          }
        }
      },
      "NotificationCreateRequest": {
        "type": "object",
        "required": [
          "type",
          "deliveryMethod"
        ],
        "properties": {
          "type": {
            "type": "string",
            "enum": [
              "Comment",
              "OrderStatusChanged",
              "OrderShipped",
              "TrackingNumber",
              "Invoice"
            ]
          },
          "deliveryMethod": {
            "type": "string",
            "enum": [
              "Email",
              "None"
            ]
          },
          "message": {
            "type": "string"
          }
        }
      },
      "Refund": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string"
          },
          "amount": {
            "type": "number"
          },
          "comment": {
            "type": "string"
          },
          "refundedByPaymentGateway": {
            "type": "boolean"
          }
        }
      },
      "RefundCreateRequest": {
        "type": "object",
        "required": [
          "amount"
        ],
        "properties": {
          "amount": {
            "type": "number"
          },
          "comment": {
            "type": "string"
          }
        }
      }
    },
    "securitySchemes": {
      "BasicAuth": {
        "type": "http",
        "scheme": "basic",
        "description": "Use your secret API key as the username with an empty password."
      }
    }
  },
  "security": [
    {
      "BasicAuth": []
    }
  ],
  "tags": [
    {
      "name": "Customers"
    },
    {
      "name": "Discounts"
    },
    {
      "name": "Notifications"
    },
    {
      "name": "Orders"
    },
    {
      "name": "Products"
    },
    {
      "name": "Refunds"
    }
  ]
}
