{
  "openapi": "3.0.3",
  "info": {
    "title": "DB-IP Geolocation API",
    "version": "2.0.0",
    "description": "IP geolocation and threat intelligence API. Provides IP address lookup, batch IP lookup, AS number details, and threat intelligence data.",
    "x-jentic-source-url": "https://db-ip.com/api/doc.php",
    "contact": {
      "name": "API Support"
    }
  },
  "servers": [
    {
      "url": "https://api.db-ip.com/v2"
    }
  ],
  "tags": [
    {
      "name": "IP Lookup",
      "description": "IP address geolocation lookups"
    },
    {
      "name": "AS Lookup",
      "description": "Autonomous System lookups"
    },
    {
      "name": "Batch",
      "description": "Batch IP lookups"
    }
  ],
  "paths": {
    "/{apiKey}/{ipAddress}": {
      "get": {
        "operationId": "getIpDetails",
        "summary": "Get IP address details",
        "description": "Fetch geolocation and threat intelligence data for an IP address. Use 'free' as apiKey for the free tier, or 'self' as ipAddress to look up the caller's IP.",
        "tags": [
          "IP Lookup"
        ],
        "parameters": [
          {
            "name": "apiKey",
            "in": "path",
            "required": true,
            "description": "API key or 'free' for free tier",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "ipAddress",
            "in": "path",
            "required": true,
            "description": "IPv4/IPv6 address or 'self' for caller's IP",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "IP address details",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/IpDetailsResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/{apiKey}/{ipAddress}/{propertyName}": {
      "get": {
        "operationId": "getIpProperty",
        "summary": "Get a single IP property",
        "description": "Fetch a single property for an IP address (e.g., countryCode, city, isProxy).",
        "tags": [
          "IP Lookup"
        ],
        "parameters": [
          {
            "name": "apiKey",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "ipAddress",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "propertyName",
            "in": "path",
            "required": true,
            "description": "Property name to retrieve",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Single property value",
            "content": {
              "application/json": {
                "schema": {
                  "oneOf": [
                    {
                      "type": "string"
                    },
                    {
                      "type": "boolean"
                    },
                    {
                      "type": "number"
                    }
                  ]
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/{apiKey}/{ipAddressList}": {
      "get": {
        "operationId": "batchIpLookup",
        "summary": "Batch IP address lookup",
        "description": "Fetch geolocation data for multiple IP addresses in a single request. Comma-separated list. Batch queries get a 10% quota bonus.",
        "tags": [
          "Batch"
        ],
        "parameters": [
          {
            "name": "apiKey",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "ipAddressList",
            "in": "path",
            "required": true,
            "description": "Comma-separated list of IPv4/IPv6 addresses",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Map of IP addresses to their details",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "additionalProperties": {
                    "$ref": "#/components/schemas/IpDetailsResponse"
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/{apiKey}/as/{ipAddress}": {
      "get": {
        "operationId": "getAsByIp",
        "summary": "Get AS details by IP address",
        "description": "Fetch Autonomous System details for a given IP address. Available with Core and Extended API plans.",
        "tags": [
          "AS Lookup"
        ],
        "parameters": [
          {
            "name": "apiKey",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "ipAddress",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "AS details",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AsDetailsResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/{apiKey}/as/{asNumber}": {
      "get": {
        "operationId": "getAsByNumber",
        "summary": "Get AS details by AS number",
        "description": "Fetch Autonomous System details for a given AS number.",
        "tags": [
          "AS Lookup"
        ],
        "parameters": [
          {
            "name": "apiKey",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "asNumber",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "AS details",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AsDetailsResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/{apiKey}/as/{identifier}/{propertyName}": {
      "get": {
        "operationId": "getAsProperty",
        "summary": "Get a single AS property",
        "description": "Fetch a single property of an AS by IP address or AS number.",
        "tags": [
          "AS Lookup"
        ],
        "parameters": [
          {
            "name": "apiKey",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "identifier",
            "in": "path",
            "required": true,
            "description": "IP address or AS number",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "propertyName",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Single AS property value",
            "content": {
              "application/json": {
                "schema": {
                  "oneOf": [
                    {
                      "type": "string"
                    },
                    {
                      "type": "integer"
                    },
                    {
                      "type": "object"
                    }
                  ]
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    }
  },
  "components": {
    "schemas": {
      "IpDetailsResponse": {
        "type": "object",
        "properties": {
          "ipAddress": {
            "type": "string"
          },
          "continentCode": {
            "type": "string"
          },
          "continentName": {
            "type": "string"
          },
          "countryCode": {
            "type": "string"
          },
          "countryName": {
            "type": "string"
          },
          "isEuMember": {
            "type": "boolean"
          },
          "currencyCode": {
            "type": "string"
          },
          "currencyName": {
            "type": "string"
          },
          "phonePrefix": {
            "type": "string"
          },
          "languages": {
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "stateProvCode": {
            "type": "string"
          },
          "stateProv": {
            "type": "string"
          },
          "district": {
            "type": "string"
          },
          "city": {
            "type": "string"
          },
          "geonameId": {
            "type": "integer"
          },
          "zipCode": {
            "type": "string"
          },
          "latitude": {
            "type": "number",
            "format": "float"
          },
          "longitude": {
            "type": "number",
            "format": "float"
          },
          "gmtOffset": {
            "type": "number"
          },
          "timeZone": {
            "type": "string"
          },
          "weatherCode": {
            "type": "string"
          },
          "asNumber": {
            "type": "integer"
          },
          "asName": {
            "type": "string"
          },
          "isp": {
            "type": "string"
          },
          "linkType": {
            "type": "string",
            "enum": [
              "dialup",
              "isdn",
              "cable",
              "dsl",
              "fttx",
              "wireless"
            ]
          },
          "usageType": {
            "type": "string",
            "enum": [
              "hosting",
              "corporate",
              "consumer",
              "reserved"
            ]
          },
          "organization": {
            "type": "string"
          },
          "isCrawler": {
            "type": "boolean"
          },
          "crawlerName": {
            "type": "string"
          },
          "isProxy": {
            "type": "boolean"
          },
          "proxyType": {
            "type": "string",
            "enum": [
              "http",
              "vpn",
              "tor"
            ]
          },
          "threatLevel": {
            "type": "string",
            "enum": [
              "low",
              "medium",
              "high"
            ]
          },
          "threatDetails": {
            "type": "array",
            "items": {
              "type": "string"
            }
          }
        }
      },
      "AsDetailsResponse": {
        "type": "object",
        "properties": {
          "number": {
            "type": "integer"
          },
          "name": {
            "type": "string"
          },
          "organization": {
            "type": "string"
          },
          "registry": {
            "type": "string"
          },
          "continentCode": {
            "type": "string"
          },
          "continentName": {
            "type": "string"
          },
          "countryCode": {
            "type": "string"
          },
          "countryName": {
            "type": "string"
          },
          "prefixCount": {
            "type": "integer"
          },
          "ipv4": {
            "type": "object",
            "properties": {
              "addressCount": {
                "type": "integer"
              },
              "prefixCount": {
                "type": "integer"
              }
            }
          },
          "ipv6": {
            "type": "object",
            "properties": {
              "addressCount": {
                "type": "integer"
              },
              "prefixCount": {
                "type": "integer"
              }
            }
          }
        }
      },
      "ErrorResponse": {
        "type": "object",
        "properties": {
          "errorCode": {
            "type": "string"
          },
          "error": {
            "type": "string"
          }
        }
      }
    },
    "securitySchemes": {
      "apiKeyPath": {
        "type": "apiKey",
        "in": "query",
        "name": "apiKey",
        "description": "API key passed as a path segment. Use 'free' for the free tier."
      }
    }
  },
  "security": [
    {
      "apiKeyPath": []
    }
  ]
}
