{
  "openapi": "3.0.3",
  "info": {
    "title": "Kevel Ad APIs",
    "version": "1.0.0",
    "description": "Kevel (formerly Adzerk) ad serving platform APIs. Includes Management API for managing advertisers, campaigns, flights, ads, creatives, channels, sites, zones, and priorities. Decision API for ad serving decisions. User DB API for user targeting and tracking.",
    "x-jentic-source-url": "https://dev.kevel.com/reference/getting-started-with-kevel",
    "contact": {
      "name": "API Support"
    }
  },
  "servers": [
    {
      "url": "https://api.kevel.co/v1"
    }
  ],
  "paths": {
    "/advertiser": {
      "get": {
        "operationId": "listAdvertisers",
        "summary": "List advertisers",
        "tags": [
          "Advertisers"
        ],
        "parameters": [
          {
            "name": "pageSize",
            "in": "query",
            "description": "Page size",
            "required": false,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "page",
            "in": "query",
            "description": "Page number",
            "required": false,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AdvertiserListResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "description": "List advertisers"
      },
      "post": {
        "operationId": "createAdvertiser",
        "summary": "Create an advertiser",
        "tags": [
          "Advertisers"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/AdvertiserCreateRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Advertiser"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "description": "Create an advertiser"
      }
    },
    "/advertiser/{advertiserId}": {
      "get": {
        "operationId": "getAdvertiser",
        "summary": "Get an advertiser",
        "tags": [
          "Advertisers"
        ],
        "parameters": [
          {
            "name": "advertiserId",
            "in": "path",
            "description": "Advertiser ID",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Advertiser"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "description": "Get an advertiser"
      },
      "put": {
        "operationId": "updateAdvertiser",
        "summary": "Update an advertiser",
        "tags": [
          "Advertisers"
        ],
        "parameters": [
          {
            "name": "advertiserId",
            "in": "path",
            "description": "Advertiser ID",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/AdvertiserCreateRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Advertiser"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "description": "Update an advertiser"
      }
    },
    "/campaign": {
      "post": {
        "operationId": "createCampaign",
        "summary": "Create a campaign",
        "tags": [
          "Campaigns"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CampaignCreateRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Campaign"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "description": "Create a campaign"
      }
    },
    "/advertiser/{advertiserId}/campaigns": {
      "get": {
        "operationId": "listCampaigns",
        "summary": "List campaigns for advertiser",
        "tags": [
          "Campaigns"
        ],
        "parameters": [
          {
            "name": "advertiserId",
            "in": "path",
            "description": "Advertiser ID",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "isActive",
            "in": "query",
            "description": "Filter by active status",
            "required": false,
            "schema": {
              "type": "boolean"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CampaignListResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "description": "List campaigns for advertiser"
      }
    },
    "/campaign/{campaignId}": {
      "get": {
        "operationId": "getCampaign",
        "summary": "Get a campaign",
        "tags": [
          "Campaigns"
        ],
        "parameters": [
          {
            "name": "campaignId",
            "in": "path",
            "description": "Campaign ID",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Campaign"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "description": "Get a campaign"
      },
      "put": {
        "operationId": "updateCampaign",
        "summary": "Update a campaign",
        "tags": [
          "Campaigns"
        ],
        "parameters": [
          {
            "name": "campaignId",
            "in": "path",
            "description": "Campaign ID",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CampaignCreateRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Campaign"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "description": "Update a campaign"
      },
      "delete": {
        "operationId": "deleteCampaign",
        "summary": "Delete a campaign",
        "tags": [
          "Campaigns"
        ],
        "parameters": [
          {
            "name": "campaignId",
            "in": "path",
            "description": "Campaign ID",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Campaign"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "description": "Delete a campaign"
      }
    },
    "/flight": {
      "post": {
        "operationId": "createFlight",
        "summary": "Create a flight",
        "tags": [
          "Flights"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/FlightCreateRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Flight"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "description": "Create a flight"
      }
    },
    "/campaign/{campaignId}/flights": {
      "get": {
        "operationId": "listFlights",
        "summary": "List flights for campaign",
        "tags": [
          "Flights"
        ],
        "parameters": [
          {
            "name": "campaignId",
            "in": "path",
            "description": "Campaign ID",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/FlightListResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "description": "List flights for campaign"
      }
    },
    "/flight/{flightId}": {
      "get": {
        "operationId": "getFlight",
        "summary": "Get a flight",
        "tags": [
          "Flights"
        ],
        "parameters": [
          {
            "name": "flightId",
            "in": "path",
            "description": "Flight ID",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Flight"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "description": "Get a flight"
      },
      "put": {
        "operationId": "updateFlight",
        "summary": "Update a flight",
        "tags": [
          "Flights"
        ],
        "parameters": [
          {
            "name": "flightId",
            "in": "path",
            "description": "Flight ID",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/FlightCreateRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Flight"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "description": "Update a flight"
      },
      "delete": {
        "operationId": "deleteFlight",
        "summary": "Delete a flight",
        "tags": [
          "Flights"
        ],
        "parameters": [
          {
            "name": "flightId",
            "in": "path",
            "description": "Flight ID",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Flight"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "description": "Delete a flight"
      }
    },
    "/ad": {
      "post": {
        "operationId": "createAd",
        "summary": "Create an ad (creative map)",
        "tags": [
          "Ads"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/AdCreateRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Ad"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "description": "Create an ad (creative map)"
      }
    },
    "/flight/{flightId}/ads": {
      "get": {
        "operationId": "listAds",
        "summary": "List ads for flight",
        "tags": [
          "Ads"
        ],
        "parameters": [
          {
            "name": "flightId",
            "in": "path",
            "description": "Flight ID",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Ad"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "description": "List ads for flight"
      }
    },
    "/ad/{adId}": {
      "get": {
        "operationId": "getAd",
        "summary": "Get an ad",
        "tags": [
          "Ads"
        ],
        "parameters": [
          {
            "name": "adId",
            "in": "path",
            "description": "Ad ID",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Ad"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "description": "Get an ad"
      },
      "put": {
        "operationId": "updateAd",
        "summary": "Update an ad",
        "tags": [
          "Ads"
        ],
        "parameters": [
          {
            "name": "adId",
            "in": "path",
            "description": "Ad ID",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/AdCreateRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Ad"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "description": "Update an ad"
      },
      "delete": {
        "operationId": "deleteAd",
        "summary": "Delete an ad",
        "tags": [
          "Ads"
        ],
        "parameters": [
          {
            "name": "adId",
            "in": "path",
            "description": "Ad ID",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Ad"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "description": "Delete an ad"
      }
    },
    "/creative": {
      "post": {
        "operationId": "createCreative",
        "summary": "Create a creative",
        "tags": [
          "Creatives"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreativeCreateRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Creative"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "description": "Create a creative"
      }
    },
    "/advertiser/{advertiserId}/creatives": {
      "get": {
        "operationId": "listCreatives",
        "summary": "List creatives for advertiser",
        "tags": [
          "Creatives"
        ],
        "parameters": [
          {
            "name": "advertiserId",
            "in": "path",
            "description": "Advertiser ID",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Creative"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "description": "List creatives for advertiser"
      }
    },
    "/creative/{creativeId}": {
      "get": {
        "operationId": "getCreative",
        "summary": "Get a creative",
        "tags": [
          "Creatives"
        ],
        "parameters": [
          {
            "name": "creativeId",
            "in": "path",
            "description": "Creative ID",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Creative"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "description": "Get a creative"
      },
      "put": {
        "operationId": "updateCreative",
        "summary": "Update a creative",
        "tags": [
          "Creatives"
        ],
        "parameters": [
          {
            "name": "creativeId",
            "in": "path",
            "description": "Creative ID",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreativeCreateRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Creative"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "description": "Update a creative"
      }
    },
    "/channel": {
      "get": {
        "operationId": "listChannels",
        "summary": "List channels",
        "tags": [
          "Channels"
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Channel"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "description": "List channels"
      },
      "post": {
        "operationId": "createChannel",
        "summary": "Create a channel",
        "tags": [
          "Channels"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ChannelCreateRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Channel"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "description": "Create a channel"
      }
    },
    "/channel/{channelId}": {
      "get": {
        "operationId": "getChannel",
        "summary": "Get a channel",
        "tags": [
          "Channels"
        ],
        "parameters": [
          {
            "name": "channelId",
            "in": "path",
            "description": "Channel ID",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Channel"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "description": "Get a channel"
      },
      "put": {
        "operationId": "updateChannel",
        "summary": "Update a channel",
        "tags": [
          "Channels"
        ],
        "parameters": [
          {
            "name": "channelId",
            "in": "path",
            "description": "Channel ID",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ChannelCreateRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Channel"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "description": "Update a channel"
      }
    },
    "/site": {
      "get": {
        "operationId": "listSites",
        "summary": "List sites",
        "tags": [
          "Sites"
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Site"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "description": "List sites"
      },
      "post": {
        "operationId": "createSite",
        "summary": "Create a site",
        "tags": [
          "Sites"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/SiteCreateRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Site"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "description": "Create a site"
      }
    },
    "/site/{siteId}": {
      "get": {
        "operationId": "getSite",
        "summary": "Get a site",
        "tags": [
          "Sites"
        ],
        "parameters": [
          {
            "name": "siteId",
            "in": "path",
            "description": "Site ID",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Site"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "description": "Get a site"
      },
      "put": {
        "operationId": "updateSite",
        "summary": "Update a site",
        "tags": [
          "Sites"
        ],
        "parameters": [
          {
            "name": "siteId",
            "in": "path",
            "description": "Site ID",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/SiteCreateRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Site"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "description": "Update a site"
      }
    },
    "/zone": {
      "post": {
        "operationId": "createZone",
        "summary": "Create a zone",
        "tags": [
          "Zones"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ZoneCreateRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Zone"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "description": "Create a zone"
      }
    },
    "/site/{siteId}/zones": {
      "get": {
        "operationId": "listZones",
        "summary": "List zones for site",
        "tags": [
          "Zones"
        ],
        "parameters": [
          {
            "name": "siteId",
            "in": "path",
            "description": "Site ID",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Zone"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "description": "List zones for site"
      }
    },
    "/zone/{zoneId}": {
      "get": {
        "operationId": "getZone",
        "summary": "Get a zone",
        "tags": [
          "Zones"
        ],
        "parameters": [
          {
            "name": "zoneId",
            "in": "path",
            "description": "Zone ID",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Zone"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "description": "Get a zone"
      },
      "put": {
        "operationId": "updateZone",
        "summary": "Update a zone",
        "tags": [
          "Zones"
        ],
        "parameters": [
          {
            "name": "zoneId",
            "in": "path",
            "description": "Zone ID",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ZoneCreateRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Zone"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "description": "Update a zone"
      },
      "delete": {
        "operationId": "deleteZone",
        "summary": "Delete a zone",
        "tags": [
          "Zones"
        ],
        "parameters": [
          {
            "name": "zoneId",
            "in": "path",
            "description": "Zone ID",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Zone"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "description": "Delete a zone"
      }
    },
    "/priority": {
      "get": {
        "operationId": "listPriorities",
        "summary": "List priorities",
        "tags": [
          "Priorities"
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Priority"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "description": "List priorities"
      },
      "post": {
        "operationId": "createPriority",
        "summary": "Create a priority",
        "tags": [
          "Priorities"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/PriorityCreateRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Priority"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "description": "Create a priority"
      }
    },
    "/priority/{priorityId}": {
      "get": {
        "operationId": "getPriority",
        "summary": "Get a priority",
        "tags": [
          "Priorities"
        ],
        "parameters": [
          {
            "name": "priorityId",
            "in": "path",
            "description": "Priority ID",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Priority"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "description": "Get a priority"
      },
      "put": {
        "operationId": "updatePriority",
        "summary": "Update a priority",
        "tags": [
          "Priorities"
        ],
        "parameters": [
          {
            "name": "priorityId",
            "in": "path",
            "description": "Priority ID",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/PriorityCreateRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Priority"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "description": "Update a priority"
      },
      "delete": {
        "operationId": "deletePriority",
        "summary": "Delete a priority",
        "tags": [
          "Priorities"
        ],
        "parameters": [
          {
            "name": "priorityId",
            "in": "path",
            "description": "Priority ID",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Priority"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "description": "Delete a priority"
      }
    },
    "/adtypes": {
      "get": {
        "operationId": "listAdTypes",
        "summary": "List ad types",
        "tags": [
          "Ad Types"
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AdType"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "description": "List ad types"
      },
      "post": {
        "operationId": "createAdType",
        "summary": "Create an ad type",
        "tags": [
          "Ad Types"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/AdTypeCreateRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AdType"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "description": "Create an ad type"
      }
    },
    "/api/v2": {
      "post": {
        "operationId": "getDecisions",
        "summary": "Get ad decisions",
        "description": "Request ad serving decisions for one or more placements. This is the main Decision API endpoint.",
        "tags": [
          "Decision API"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/DecisionRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DecisionResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/udb/{networkId}/read": {
      "get": {
        "operationId": "readUser",
        "summary": "Read user record",
        "tags": [
          "UserDB"
        ],
        "parameters": [
          {
            "name": "networkId",
            "in": "path",
            "description": "Network ID",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "userKey",
            "in": "query",
            "description": "User key",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/UserRecord"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "description": "Read user record"
      }
    },
    "/udb/{networkId}/custom": {
      "post": {
        "operationId": "setUserCustomProperties",
        "summary": "Set user custom properties",
        "tags": [
          "UserDB"
        ],
        "parameters": [
          {
            "name": "networkId",
            "in": "path",
            "description": "Network ID",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "userKey": {
                    "type": "string"
                  },
                  "properties": {
                    "type": "object"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/UserRecord"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "description": "Set user custom properties"
      }
    },
    "/udb/{networkId}/interest": {
      "get": {
        "operationId": "addUserInterest",
        "summary": "Add interest to user",
        "tags": [
          "UserDB"
        ],
        "parameters": [
          {
            "name": "networkId",
            "in": "path",
            "description": "Network ID",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "userKey",
            "in": "query",
            "description": "User key",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "interest",
            "in": "query",
            "description": "Interest keyword",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/UserRecord"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "description": "Add interest to user"
      }
    },
    "/udb/{networkId}/optout": {
      "get": {
        "operationId": "optOutUser",
        "summary": "Opt out a user from tracking",
        "tags": [
          "UserDB"
        ],
        "parameters": [
          {
            "name": "networkId",
            "in": "path",
            "description": "Network ID",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "userKey",
            "in": "query",
            "description": "User key",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/UserRecord"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "description": "Opt out a user from tracking"
      }
    },
    "/udb/{networkId}/retarget": {
      "get": {
        "operationId": "addRetargetingSegment",
        "summary": "Add user to retargeting segment",
        "tags": [
          "UserDB"
        ],
        "parameters": [
          {
            "name": "networkId",
            "in": "path",
            "description": "Network ID",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "userKey",
            "in": "query",
            "description": "User key",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "segmentId",
            "in": "query",
            "description": "Segment ID",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/UserRecord"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "description": "Add user to retargeting segment"
      }
    },
    "/report/advertiser/{advertiserId}": {
      "get": {
        "operationId": "getAdvertiserReport",
        "summary": "Get advertiser report",
        "tags": [
          "Reporting"
        ],
        "parameters": [
          {
            "name": "advertiserId",
            "in": "path",
            "description": "Advertiser ID",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "startDate",
            "in": "query",
            "description": "Start date",
            "required": true,
            "schema": {
              "type": "string",
              "format": "date"
            }
          },
          {
            "name": "endDate",
            "in": "query",
            "description": "End date",
            "required": true,
            "schema": {
              "type": "string",
              "format": "date"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ReportResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "description": "Get advertiser report"
      }
    },
    "/report/campaign/{campaignId}": {
      "get": {
        "operationId": "getCampaignReport",
        "summary": "Get campaign report",
        "tags": [
          "Reporting"
        ],
        "parameters": [
          {
            "name": "campaignId",
            "in": "path",
            "description": "Campaign ID",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "startDate",
            "in": "query",
            "description": "Start date",
            "required": true,
            "schema": {
              "type": "string",
              "format": "date"
            }
          },
          {
            "name": "endDate",
            "in": "query",
            "description": "End date",
            "required": true,
            "schema": {
              "type": "string",
              "format": "date"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ReportResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "description": "Get campaign report"
      }
    }
  },
  "components": {
    "schemas": {
      "ErrorResponse": {
        "type": "object",
        "properties": {
          "status": {
            "type": "string"
          },
          "code": {
            "type": "string"
          },
          "message": {
            "type": "string"
          }
        }
      },
      "Advertiser": {
        "type": "object",
        "properties": {
          "Id": {
            "type": "integer"
          },
          "Title": {
            "type": "string"
          },
          "IsActive": {
            "type": "boolean"
          },
          "IsDeleted": {
            "type": "boolean"
          }
        }
      },
      "AdvertiserCreateRequest": {
        "type": "object",
        "required": [
          "Title"
        ],
        "properties": {
          "Title": {
            "type": "string"
          },
          "IsActive": {
            "type": "boolean",
            "default": true
          }
        }
      },
      "AdvertiserListResponse": {
        "type": "object",
        "properties": {
          "items": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Advertiser"
            }
          },
          "totalItems": {
            "type": "integer"
          }
        }
      },
      "Campaign": {
        "type": "object",
        "properties": {
          "Id": {
            "type": "integer"
          },
          "AdvertiserId": {
            "type": "integer"
          },
          "Name": {
            "type": "string"
          },
          "IsActive": {
            "type": "boolean"
          },
          "StartDateISO": {
            "type": "string",
            "format": "date-time"
          },
          "EndDateISO": {
            "type": "string",
            "format": "date-time"
          },
          "Price": {
            "type": "number"
          },
          "Flights": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Flight"
            }
          }
        }
      },
      "CampaignCreateRequest": {
        "type": "object",
        "required": [
          "AdvertiserId",
          "Name",
          "Flights"
        ],
        "properties": {
          "AdvertiserId": {
            "type": "integer"
          },
          "Name": {
            "type": "string"
          },
          "StartDateISO": {
            "type": "string",
            "format": "date-time"
          },
          "EndDateISO": {
            "type": "string",
            "format": "date-time"
          },
          "IsActive": {
            "type": "boolean",
            "default": true
          },
          "Flights": {
            "type": "array",
            "items": {
              "type": "object"
            }
          }
        }
      },
      "CampaignListResponse": {
        "type": "object",
        "properties": {
          "items": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Campaign"
            }
          },
          "totalItems": {
            "type": "integer"
          }
        }
      },
      "Flight": {
        "type": "object",
        "properties": {
          "Id": {
            "type": "integer"
          },
          "CampaignId": {
            "type": "integer"
          },
          "Name": {
            "type": "string"
          },
          "StartDateISO": {
            "type": "string",
            "format": "date-time"
          },
          "EndDateISO": {
            "type": "string",
            "format": "date-time"
          },
          "PriceType": {
            "type": "integer"
          },
          "Price": {
            "type": "number"
          },
          "Impressions": {
            "type": "integer"
          },
          "IsActive": {
            "type": "boolean"
          },
          "GoalType": {
            "type": "integer"
          },
          "Goal": {
            "type": "integer"
          },
          "RateType": {
            "type": "integer"
          },
          "Keywords": {
            "type": "string"
          },
          "CustomTargeting": {
            "type": "string"
          }
        }
      },
      "FlightCreateRequest": {
        "type": "object",
        "required": [
          "CampaignId",
          "PriceType",
          "Price"
        ],
        "properties": {
          "CampaignId": {
            "type": "integer"
          },
          "Name": {
            "type": "string"
          },
          "StartDateISO": {
            "type": "string",
            "format": "date-time"
          },
          "EndDateISO": {
            "type": "string",
            "format": "date-time"
          },
          "PriceType": {
            "type": "integer"
          },
          "Price": {
            "type": "number"
          },
          "GoalType": {
            "type": "integer"
          },
          "Goal": {
            "type": "integer"
          },
          "IsActive": {
            "type": "boolean",
            "default": true
          },
          "Keywords": {
            "type": "string"
          }
        }
      },
      "FlightListResponse": {
        "type": "object",
        "properties": {
          "items": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Flight"
            }
          }
        }
      },
      "Ad": {
        "type": "object",
        "properties": {
          "Id": {
            "type": "integer"
          },
          "FlightId": {
            "type": "integer"
          },
          "CreativeId": {
            "type": "integer"
          },
          "IsActive": {
            "type": "boolean"
          },
          "SizeOverride": {
            "type": "boolean"
          },
          "Percentage": {
            "type": "integer"
          },
          "DistributionType": {
            "type": "integer"
          }
        }
      },
      "AdCreateRequest": {
        "type": "object",
        "required": [
          "FlightId",
          "CreativeId"
        ],
        "properties": {
          "FlightId": {
            "type": "integer"
          },
          "CreativeId": {
            "type": "integer"
          },
          "IsActive": {
            "type": "boolean",
            "default": true
          },
          "SizeOverride": {
            "type": "boolean"
          },
          "Percentage": {
            "type": "integer"
          }
        }
      },
      "Creative": {
        "type": "object",
        "properties": {
          "Id": {
            "type": "integer"
          },
          "AdvertiserId": {
            "type": "integer"
          },
          "Title": {
            "type": "string"
          },
          "Body": {
            "type": "string"
          },
          "Url": {
            "type": "string"
          },
          "ImageName": {
            "type": "string"
          },
          "AdTypeId": {
            "type": "integer"
          },
          "IsActive": {
            "type": "boolean"
          },
          "IsHTMLJS": {
            "type": "boolean"
          },
          "ScriptBody": {
            "type": "string"
          },
          "IsSync": {
            "type": "boolean"
          },
          "Alt": {
            "type": "string"
          },
          "Metadata": {
            "type": "object"
          }
        }
      },
      "CreativeCreateRequest": {
        "type": "object",
        "required": [
          "AdvertiserId",
          "AdTypeId",
          "Title"
        ],
        "properties": {
          "AdvertiserId": {
            "type": "integer"
          },
          "Title": {
            "type": "string"
          },
          "Body": {
            "type": "string"
          },
          "Url": {
            "type": "string"
          },
          "AdTypeId": {
            "type": "integer"
          },
          "IsActive": {
            "type": "boolean",
            "default": true
          },
          "IsHTMLJS": {
            "type": "boolean"
          },
          "ScriptBody": {
            "type": "string"
          },
          "Alt": {
            "type": "string"
          },
          "Metadata": {
            "type": "object"
          }
        }
      },
      "Channel": {
        "type": "object",
        "properties": {
          "Id": {
            "type": "integer"
          },
          "Title": {
            "type": "string"
          },
          "AdTypes": {
            "type": "array",
            "items": {
              "type": "integer"
            }
          },
          "Engine": {
            "type": "string"
          }
        }
      },
      "ChannelCreateRequest": {
        "type": "object",
        "required": [
          "Title",
          "AdTypes"
        ],
        "properties": {
          "Title": {
            "type": "string"
          },
          "AdTypes": {
            "type": "array",
            "items": {
              "type": "integer"
            }
          },
          "Engine": {
            "type": "string"
          }
        }
      },
      "Site": {
        "type": "object",
        "properties": {
          "Id": {
            "type": "integer"
          },
          "Title": {
            "type": "string"
          },
          "Url": {
            "type": "string"
          },
          "ChannelId": {
            "type": "integer"
          }
        }
      },
      "SiteCreateRequest": {
        "type": "object",
        "required": [
          "Title",
          "Url"
        ],
        "properties": {
          "Title": {
            "type": "string"
          },
          "Url": {
            "type": "string"
          },
          "ChannelId": {
            "type": "integer"
          }
        }
      },
      "Zone": {
        "type": "object",
        "properties": {
          "Id": {
            "type": "integer"
          },
          "SiteId": {
            "type": "integer"
          },
          "Name": {
            "type": "string"
          }
        }
      },
      "ZoneCreateRequest": {
        "type": "object",
        "required": [
          "SiteId",
          "Name"
        ],
        "properties": {
          "SiteId": {
            "type": "integer"
          },
          "Name": {
            "type": "string"
          }
        }
      },
      "Priority": {
        "type": "object",
        "properties": {
          "Id": {
            "type": "integer"
          },
          "Name": {
            "type": "string"
          },
          "ChannelId": {
            "type": "integer"
          },
          "Weight": {
            "type": "integer"
          },
          "IsDeleted": {
            "type": "boolean"
          }
        }
      },
      "PriorityCreateRequest": {
        "type": "object",
        "required": [
          "Name",
          "ChannelId",
          "Weight"
        ],
        "properties": {
          "Name": {
            "type": "string"
          },
          "ChannelId": {
            "type": "integer"
          },
          "Weight": {
            "type": "integer"
          }
        }
      },
      "AdType": {
        "type": "object",
        "properties": {
          "Id": {
            "type": "integer"
          },
          "Name": {
            "type": "string"
          },
          "Width": {
            "type": "integer"
          },
          "Height": {
            "type": "integer"
          }
        }
      },
      "AdTypeCreateRequest": {
        "type": "object",
        "required": [
          "Name",
          "Width",
          "Height"
        ],
        "properties": {
          "Name": {
            "type": "string"
          },
          "Width": {
            "type": "integer"
          },
          "Height": {
            "type": "integer"
          }
        }
      },
      "DecisionRequest": {
        "type": "object",
        "required": [
          "placements"
        ],
        "properties": {
          "placements": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "divName": {
                  "type": "string"
                },
                "networkId": {
                  "type": "integer"
                },
                "siteId": {
                  "type": "integer"
                },
                "adTypes": {
                  "type": "array",
                  "items": {
                    "type": "integer"
                  }
                },
                "zoneIds": {
                  "type": "array",
                  "items": {
                    "type": "integer"
                  }
                },
                "campaignId": {
                  "type": "integer"
                },
                "flightId": {
                  "type": "integer"
                },
                "properties": {
                  "type": "object"
                },
                "eventIds": {
                  "type": "array",
                  "items": {
                    "type": "integer"
                  }
                }
              }
            }
          },
          "user": {
            "type": "object",
            "properties": {
              "key": {
                "type": "string"
              }
            }
          },
          "keywords": {
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "url": {
            "type": "string"
          },
          "enableBotFiltering": {
            "type": "boolean"
          }
        }
      },
      "DecisionResponse": {
        "type": "object",
        "properties": {
          "decisions": {
            "type": "object",
            "additionalProperties": {
              "type": "object",
              "properties": {
                "adId": {
                  "type": "integer"
                },
                "creativeId": {
                  "type": "integer"
                },
                "flightId": {
                  "type": "integer"
                },
                "campaignId": {
                  "type": "integer"
                },
                "advertiserId": {
                  "type": "integer"
                },
                "clickUrl": {
                  "type": "string"
                },
                "impressionUrl": {
                  "type": "string"
                },
                "contents": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "type": {
                        "type": "string"
                      },
                      "body": {
                        "type": "string"
                      },
                      "data": {
                        "type": "object"
                      }
                    }
                  }
                },
                "height": {
                  "type": "integer"
                },
                "width": {
                  "type": "integer"
                }
              }
            }
          }
        }
      },
      "UserRecord": {
        "type": "object",
        "properties": {
          "key": {
            "type": "string"
          },
          "custom": {
            "type": "object"
          },
          "interests": {
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "blockedItems": {
            "type": "object"
          },
          "retargetingSegments": {
            "type": "array",
            "items": {
              "type": "integer"
            }
          }
        }
      },
      "ReportResponse": {
        "type": "object",
        "properties": {
          "TotalItems": {
            "type": "integer"
          },
          "Items": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "Date": {
                  "type": "string",
                  "format": "date"
                },
                "Impressions": {
                  "type": "integer"
                },
                "Clicks": {
                  "type": "integer"
                },
                "Conversions": {
                  "type": "integer"
                },
                "Revenue": {
                  "type": "number"
                }
              }
            }
          }
        }
      }
    },
    "securitySchemes": {
      "apiKey": {
        "type": "apiKey",
        "in": "header",
        "name": "X-Adzerk-ApiKey",
        "description": "Kevel API key"
      }
    }
  },
  "security": [
    {
      "apiKey": []
    }
  ],
  "tags": [
    {
      "name": "Ad Types"
    },
    {
      "name": "Ads"
    },
    {
      "name": "Advertisers"
    },
    {
      "name": "Campaigns"
    },
    {
      "name": "Channels"
    },
    {
      "name": "Creatives"
    },
    {
      "name": "Decision API"
    },
    {
      "name": "Flights"
    },
    {
      "name": "Priorities"
    },
    {
      "name": "Reporting"
    },
    {
      "name": "Sites"
    },
    {
      "name": "UserDB"
    },
    {
      "name": "Zones"
    }
  ]
}
