{
  "openapi": "3.0.3",
  "info": {
    "title": "DrugBank API",
    "version": "1.0.0",
    "description": "DrugBank API provides programmatic access to the DrugBank database of drug information. Endpoints cover drugs, drug-drug interactions, indications, products, categories, pathways, targets, and more.",
    "x-jentic-source-url": "https://docs.drugbank.com/v1/",
    "contact": {
      "name": "API Support"
    }
  },
  "servers": [
    {
      "url": "https://api.drugbank.com/v1"
    }
  ],
  "paths": {
    "/drugs": {
      "get": {
        "operationId": "listDrugs",
        "summary": "List drugs",
        "description": "Returns a paginated list of drugs.",
        "tags": [
          "Drugs"
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PaginatedList"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "parameters": [
          {
            "name": "q",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "description": "Search query"
          },
          {
            "name": "page",
            "in": "query",
            "schema": {
              "type": "integer",
              "default": 1
            }
          },
          {
            "name": "per_page",
            "in": "query",
            "schema": {
              "type": "integer",
              "default": 25,
              "maximum": 100
            }
          }
        ]
      }
    },
    "/drugs/{drugbank_id}": {
      "get": {
        "operationId": "getDrug",
        "summary": "Get drug by ID",
        "description": "Returns detailed information about a specific drug.",
        "tags": [
          "Drugs"
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Drug"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "parameters": [
          {
            "name": "drugbank_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "DrugBank ID (e.g., DB00001)"
          }
        ]
      }
    },
    "/drugs/{drugbank_id}/interactions": {
      "get": {
        "operationId": "getDrugInteractions",
        "summary": "Get drug interactions",
        "description": "Returns drug-drug interactions for a specific drug.",
        "tags": [
          "Interactions"
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/DrugInteraction"
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "parameters": [
          {
            "name": "drugbank_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "DrugBank ID (e.g., DB00001)"
          },
          {
            "name": "page",
            "in": "query",
            "schema": {
              "type": "integer",
              "default": 1
            }
          },
          {
            "name": "per_page",
            "in": "query",
            "schema": {
              "type": "integer",
              "default": 25,
              "maximum": 100
            }
          }
        ]
      }
    },
    "/drugs/{drugbank_id}/indications": {
      "get": {
        "operationId": "getDrugIndications",
        "summary": "Get drug indications",
        "description": "Returns indications for a specific drug.",
        "tags": [
          "Indications"
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Indication"
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "parameters": [
          {
            "name": "drugbank_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "DrugBank ID (e.g., DB00001)"
          },
          {
            "name": "page",
            "in": "query",
            "schema": {
              "type": "integer",
              "default": 1
            }
          },
          {
            "name": "per_page",
            "in": "query",
            "schema": {
              "type": "integer",
              "default": 25,
              "maximum": 100
            }
          }
        ]
      }
    },
    "/drugs/{drugbank_id}/products": {
      "get": {
        "operationId": "getDrugProducts",
        "summary": "Get drug products",
        "description": "Returns commercial products containing a drug.",
        "tags": [
          "Products"
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Product"
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "parameters": [
          {
            "name": "drugbank_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "DrugBank ID (e.g., DB00001)"
          },
          {
            "name": "page",
            "in": "query",
            "schema": {
              "type": "integer",
              "default": 1
            }
          },
          {
            "name": "per_page",
            "in": "query",
            "schema": {
              "type": "integer",
              "default": 25,
              "maximum": 100
            }
          }
        ]
      }
    },
    "/drugs/{drugbank_id}/categories": {
      "get": {
        "operationId": "getDrugCategories",
        "summary": "Get drug categories",
        "description": "Returns categories for a specific drug.",
        "tags": [
          "Categories"
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Category"
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "parameters": [
          {
            "name": "drugbank_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "DrugBank ID (e.g., DB00001)"
          }
        ]
      }
    },
    "/drugs/{drugbank_id}/targets": {
      "get": {
        "operationId": "getDrugTargets",
        "summary": "Get drug targets",
        "description": "Returns pharmacological targets for a drug.",
        "tags": [
          "Targets"
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Target"
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "parameters": [
          {
            "name": "drugbank_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "DrugBank ID (e.g., DB00001)"
          }
        ]
      }
    },
    "/drugs/{drugbank_id}/enzymes": {
      "get": {
        "operationId": "getDrugEnzymes",
        "summary": "Get drug enzymes",
        "description": "Returns enzymes that metabolize a drug.",
        "tags": [
          "Targets"
        ],
        "responses": {
          "200": {
            "description": "Successful response"
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "parameters": [
          {
            "name": "drugbank_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "DrugBank ID (e.g., DB00001)"
          }
        ]
      }
    },
    "/drugs/{drugbank_id}/carriers": {
      "get": {
        "operationId": "getDrugCarriers",
        "summary": "Get drug carriers",
        "description": "Returns carrier proteins for a drug.",
        "tags": [
          "Targets"
        ],
        "responses": {
          "200": {
            "description": "Successful response"
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "parameters": [
          {
            "name": "drugbank_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "DrugBank ID (e.g., DB00001)"
          }
        ]
      }
    },
    "/drugs/{drugbank_id}/transporters": {
      "get": {
        "operationId": "getDrugTransporters",
        "summary": "Get drug transporters",
        "description": "Returns transporter proteins for a drug.",
        "tags": [
          "Targets"
        ],
        "responses": {
          "200": {
            "description": "Successful response"
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "parameters": [
          {
            "name": "drugbank_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "DrugBank ID (e.g., DB00001)"
          }
        ]
      }
    },
    "/drugs/{drugbank_id}/pathways": {
      "get": {
        "operationId": "getDrugPathways",
        "summary": "Get drug pathways",
        "description": "Returns metabolic and signaling pathways for a drug.",
        "tags": [
          "Pathways"
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Pathway"
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "parameters": [
          {
            "name": "drugbank_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "DrugBank ID (e.g., DB00001)"
          }
        ]
      }
    },
    "/drugs/{drugbank_id}/adverse_effects": {
      "get": {
        "operationId": "getDrugAdverseEffects",
        "summary": "Get adverse effects",
        "description": "Returns adverse effects reported for a drug.",
        "tags": [
          "Drugs"
        ],
        "responses": {
          "200": {
            "description": "Successful response"
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "parameters": [
          {
            "name": "drugbank_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "DrugBank ID (e.g., DB00001)"
          },
          {
            "name": "page",
            "in": "query",
            "schema": {
              "type": "integer",
              "default": 1
            }
          },
          {
            "name": "per_page",
            "in": "query",
            "schema": {
              "type": "integer",
              "default": 25,
              "maximum": 100
            }
          }
        ]
      }
    },
    "/drugs/{drugbank_id}/pharmacology": {
      "get": {
        "operationId": "getDrugPharmacology",
        "summary": "Get pharmacology",
        "description": "Returns pharmacological data for a drug.",
        "tags": [
          "Drugs"
        ],
        "responses": {
          "200": {
            "description": "Successful response"
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "parameters": [
          {
            "name": "drugbank_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "DrugBank ID (e.g., DB00001)"
          }
        ]
      }
    },
    "/interactions": {
      "get": {
        "operationId": "searchInteractions",
        "summary": "Search interactions",
        "description": "Search for drug-drug interactions between specified drugs.",
        "tags": [
          "Interactions"
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/DrugInteraction"
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "parameters": [
          {
            "name": "drug_ids",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "description": "Comma-separated DrugBank IDs"
          },
          {
            "name": "severity",
            "in": "query",
            "schema": {
              "type": "string",
              "enum": [
                "minor",
                "moderate",
                "major"
              ]
            }
          },
          {
            "name": "page",
            "in": "query",
            "schema": {
              "type": "integer",
              "default": 1
            }
          },
          {
            "name": "per_page",
            "in": "query",
            "schema": {
              "type": "integer",
              "default": 25,
              "maximum": 100
            }
          }
        ]
      }
    },
    "/indications": {
      "get": {
        "operationId": "listIndications",
        "summary": "List indications",
        "description": "List all drug indications.",
        "tags": [
          "Indications"
        ],
        "responses": {
          "200": {
            "description": "Successful response"
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "parameters": [
          {
            "name": "q",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "description": "Search query"
          },
          {
            "name": "page",
            "in": "query",
            "schema": {
              "type": "integer",
              "default": 1
            }
          },
          {
            "name": "per_page",
            "in": "query",
            "schema": {
              "type": "integer",
              "default": 25,
              "maximum": 100
            }
          }
        ]
      }
    },
    "/products": {
      "get": {
        "operationId": "listProducts",
        "summary": "List products",
        "description": "List all drug products.",
        "tags": [
          "Products"
        ],
        "responses": {
          "200": {
            "description": "Successful response"
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "parameters": [
          {
            "name": "q",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "description": "Search query"
          },
          {
            "name": "country",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "ndc",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "page",
            "in": "query",
            "schema": {
              "type": "integer",
              "default": 1
            }
          },
          {
            "name": "per_page",
            "in": "query",
            "schema": {
              "type": "integer",
              "default": 25,
              "maximum": 100
            }
          }
        ]
      }
    },
    "/products/{ndc_product_code}": {
      "get": {
        "operationId": "getProductByNDC",
        "summary": "Get product by NDC",
        "description": "Get a drug product by its NDC code.",
        "tags": [
          "Products"
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Product"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "parameters": [
          {
            "name": "ndc_product_code",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ]
      }
    },
    "/categories": {
      "get": {
        "operationId": "listCategories",
        "summary": "List categories",
        "description": "List all drug categories.",
        "tags": [
          "Categories"
        ],
        "responses": {
          "200": {
            "description": "Successful response"
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "parameters": [
          {
            "name": "q",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "description": "Search query"
          },
          {
            "name": "page",
            "in": "query",
            "schema": {
              "type": "integer",
              "default": 1
            }
          },
          {
            "name": "per_page",
            "in": "query",
            "schema": {
              "type": "integer",
              "default": 25,
              "maximum": 100
            }
          }
        ]
      }
    },
    "/categories/{drugbank_id}": {
      "get": {
        "operationId": "getCategory",
        "summary": "Get category",
        "description": "Get a specific drug category.",
        "tags": [
          "Categories"
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Category"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "parameters": [
          {
            "name": "drugbank_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "DrugBank ID (e.g., DB00001)"
          }
        ]
      }
    },
    "/targets": {
      "get": {
        "operationId": "listTargets",
        "summary": "List targets",
        "description": "List all drug targets.",
        "tags": [
          "Targets"
        ],
        "responses": {
          "200": {
            "description": "Successful response"
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "parameters": [
          {
            "name": "q",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "description": "Search query"
          },
          {
            "name": "page",
            "in": "query",
            "schema": {
              "type": "integer",
              "default": 1
            }
          },
          {
            "name": "per_page",
            "in": "query",
            "schema": {
              "type": "integer",
              "default": 25,
              "maximum": 100
            }
          }
        ]
      }
    },
    "/pathways": {
      "get": {
        "operationId": "listPathways",
        "summary": "List pathways",
        "description": "List all drug pathways.",
        "tags": [
          "Pathways"
        ],
        "responses": {
          "200": {
            "description": "Successful response"
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "parameters": [
          {
            "name": "q",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "description": "Search query"
          },
          {
            "name": "page",
            "in": "query",
            "schema": {
              "type": "integer",
              "default": 1
            }
          },
          {
            "name": "per_page",
            "in": "query",
            "schema": {
              "type": "integer",
              "default": 25,
              "maximum": 100
            }
          }
        ]
      }
    }
  },
  "components": {
    "schemas": {
      "Drug": {
        "type": "object",
        "properties": {
          "drugbank_id": {
            "type": "string"
          },
          "name": {
            "type": "string"
          },
          "description": {
            "type": "string"
          },
          "cas_number": {
            "type": "string"
          },
          "unii": {
            "type": "string"
          },
          "state": {
            "type": "string"
          },
          "groups": {
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "general_references": {
            "type": "string"
          },
          "synthesis_reference": {
            "type": "string"
          },
          "indication": {
            "type": "string"
          },
          "pharmacodynamics": {
            "type": "string"
          },
          "mechanism_of_action": {
            "type": "string"
          },
          "toxicity": {
            "type": "string"
          },
          "metabolism": {
            "type": "string"
          },
          "absorption": {
            "type": "string"
          },
          "half_life": {
            "type": "string"
          },
          "route_of_elimination": {
            "type": "string"
          },
          "volume_of_distribution": {
            "type": "string"
          },
          "clearance": {
            "type": "string"
          },
          "classification": {
            "type": "object"
          },
          "synonyms": {
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "products": {
            "type": "array",
            "items": {
              "type": "object"
            }
          },
          "categories": {
            "type": "array",
            "items": {
              "type": "object"
            }
          }
        }
      },
      "DrugInteraction": {
        "type": "object",
        "properties": {
          "subject_drug": {
            "type": "object",
            "properties": {
              "drugbank_id": {
                "type": "string"
              },
              "name": {
                "type": "string"
              }
            }
          },
          "affected_drug": {
            "type": "object",
            "properties": {
              "drugbank_id": {
                "type": "string"
              },
              "name": {
                "type": "string"
              }
            }
          },
          "description": {
            "type": "string"
          },
          "extended_description": {
            "type": "string"
          },
          "severity": {
            "type": "string",
            "enum": [
              "minor",
              "moderate",
              "major"
            ]
          }
        }
      },
      "Indication": {
        "type": "object",
        "properties": {
          "drugbank_id": {
            "type": "string"
          },
          "name": {
            "type": "string"
          },
          "kind": {
            "type": "string"
          },
          "off_label": {
            "type": "boolean"
          },
          "condition": {
            "type": "object",
            "properties": {
              "name": {
                "type": "string"
              },
              "drugbank_id": {
                "type": "string"
              }
            }
          }
        }
      },
      "Product": {
        "type": "object",
        "properties": {
          "name": {
            "type": "string"
          },
          "ndc_product_code": {
            "type": "string"
          },
          "dpd_id": {
            "type": "string"
          },
          "ema_product_code": {
            "type": "string"
          },
          "started_marketing_on": {
            "type": "string",
            "format": "date"
          },
          "ended_marketing_on": {
            "type": "string",
            "format": "date"
          },
          "dosage_form": {
            "type": "string"
          },
          "strength": {
            "type": "string"
          },
          "route": {
            "type": "string"
          },
          "country": {
            "type": "string"
          },
          "labeller": {
            "type": "object"
          },
          "ingredients": {
            "type": "array",
            "items": {
              "type": "object"
            }
          }
        }
      },
      "Category": {
        "type": "object",
        "properties": {
          "drugbank_id": {
            "type": "string"
          },
          "name": {
            "type": "string"
          },
          "mesh_id": {
            "type": "string"
          },
          "mesh_tree_numbers": {
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "atc_code": {
            "type": "string"
          },
          "atc_level": {
            "type": "integer"
          },
          "synonyms": {
            "type": "array",
            "items": {
              "type": "string"
            }
          }
        }
      },
      "Target": {
        "type": "object",
        "properties": {
          "drugbank_id": {
            "type": "string"
          },
          "name": {
            "type": "string"
          },
          "organism": {
            "type": "string"
          },
          "gene_name": {
            "type": "string"
          },
          "actions": {
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "known_action": {
            "type": "string"
          }
        }
      },
      "Pathway": {
        "type": "object",
        "properties": {
          "smpdb_id": {
            "type": "string"
          },
          "name": {
            "type": "string"
          },
          "category": {
            "type": "string"
          },
          "drugs": {
            "type": "array",
            "items": {
              "type": "object"
            }
          },
          "enzymes": {
            "type": "array",
            "items": {
              "type": "object"
            }
          }
        }
      },
      "PaginatedList": {
        "type": "object",
        "properties": {
          "data": {
            "type": "array",
            "items": {
              "type": "object"
            }
          },
          "metadata": {
            "type": "object",
            "properties": {
              "total": {
                "type": "integer"
              },
              "page": {
                "type": "integer"
              },
              "per_page": {
                "type": "integer"
              }
            }
          }
        }
      },
      "ErrorResponse": {
        "type": "object",
        "properties": {
          "error": {
            "type": "string"
          },
          "message": {
            "type": "string"
          }
        }
      }
    },
    "securitySchemes": {
      "apiKeyAuth": {
        "type": "apiKey",
        "in": "header",
        "name": "Authorization",
        "description": "API key passed as Bearer token"
      }
    }
  },
  "security": [
    {
      "apiKeyAuth": []
    }
  ],
  "tags": [
    {
      "name": "Categories"
    },
    {
      "name": "Drugs"
    },
    {
      "name": "Indications"
    },
    {
      "name": "Interactions"
    },
    {
      "name": "Pathways"
    },
    {
      "name": "Products"
    },
    {
      "name": "Targets"
    }
  ]
}
