{
  "openapi": "3.0.3",
  "info": {
    "title": "Laravel_Stripe",
    "version": "1.0.0",
    "contact": {},
    "x-jentic-source-url": "https://api.swaggerhub.com/apis/testing-e95/AI-Clone/1.0.0"
  },
  "servers": [
    {
      "url": "https://api.stripe.com"
    }
  ],
  "paths": {
    "/api/auth/register": {
      "get": {
        "summary": "register",
        "description": "register",
        "operationId": "register",
        "parameters": [
          {
            "name": "email",
            "in": "query",
            "schema": {
              "type": "string",
              "example": "chitsusuhlaing2022@gmail.com"
            }
          },
          {
            "name": "",
            "in": "query",
            "schema": {
              "type": "string",
              "example": ""
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "email": {
                    "type": "string",
                    "example": "chitsusuhlaing2022@gmail.com"
                  }
                }
              },
              "examples": {
                "register": {
                  "value": {
                    "email": "chitsusuhlaing2022@gmail.com"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "http://localhost:8000/api/auth/register / register",
            "headers": {
              "Cache-Control": {
                "schema": {
                  "type": "string",
                  "example": "no-cache, private"
                }
              },
              "Connection": {
                "schema": {
                  "type": "string",
                  "example": "close"
                }
              },
              "Date": {
                "schema": {
                  "type": "string",
                  "example": "Tue, 09 Sep 2025 02:50:43 GMT"
                }
              },
              "Host": {
                "schema": {
                  "type": "string",
                  "example": "localhost:8000"
                }
              },
              "Vary": {
                "schema": {
                  "type": "string",
                  "example": "Origin"
                }
              },
              "X-Powered-By": {
                "schema": {
                  "type": "string",
                  "example": "PHP/8.1.25"
                }
              },
              "X-RateLimit-Limit": {
                "schema": {
                  "type": "string",
                  "example": "60"
                }
              },
              "X-RateLimit-Remaining": {
                "schema": {
                  "type": "string",
                  "example": "58"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {
                      "type": "string",
                      "example": "One Time Password sent for registration."
                    },
                    "status": {
                      "type": "string",
                      "example": "success"
                    }
                  }
                },
                "examples": {
                  "http://localhost:8000/api/auth/register": {
                    "value": {
                      "message": "One Time Password sent for registration.",
                      "status": "success"
                    }
                  },
                  "register": {
                    "value": {
                      "message": "One Time Password sent for registration.",
                      "status": "success"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/api/auth/verify-otp": {
      "post": {
        "summary": "verify-otp",
        "description": "verify-otp",
        "operationId": "verifyOtp",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "email": {
                    "type": "string",
                    "example": "chitsusuhlaing2022@gmail.com"
                  },
                  "otp": {
                    "type": "string",
                    "example": "669802"
                  }
                }
              },
              "examples": {
                "verify-otp": {
                  "value": {
                    "email": "chitsusuhlaing2022@gmail.com",
                    "otp": "669802"
                  }
                }
              }
            },
            "multipart/form-data": {
              "schema": {
                "type": "object",
                "properties": {
                  "email": {
                    "type": "string",
                    "example": "chitsusuhlaing2022@gmail.com"
                  },
                  "is_login": {
                    "type": "string",
                    "example": "1"
                  },
                  "name": {
                    "type": "string",
                    "example": "test"
                  },
                  "otp": {
                    "type": "string",
                    "example": "230918"
                  },
                  "password": {
                    "type": "string",
                    "example": "admin123"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "verify-otp / verify-otp",
            "headers": {
              "Cache-Control": {
                "schema": {
                  "type": "string",
                  "example": "no-cache, private"
                }
              },
              "Connection": {
                "schema": {
                  "type": "string",
                  "example": "close"
                }
              },
              "Date": {
                "schema": {
                  "type": "string",
                  "example": "Tue, 09 Sep 2025 02:55:52 GMT"
                }
              },
              "Host": {
                "schema": {
                  "type": "string",
                  "example": "localhost:8000"
                }
              },
              "Vary": {
                "schema": {
                  "type": "string",
                  "example": "Origin"
                }
              },
              "X-Powered-By": {
                "schema": {
                  "type": "string",
                  "example": "PHP/8.1.25"
                }
              },
              "X-RateLimit-Limit": {
                "schema": {
                  "type": "string",
                  "example": "60"
                }
              },
              "X-RateLimit-Remaining": {
                "schema": {
                  "type": "string",
                  "example": "56"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "expires_in": {
                      "type": "number",
                      "example": 3600
                    },
                    "message": {
                      "type": "string",
                      "example": "Email verified."
                    },
                    "status": {
                      "type": "string",
                      "example": "success"
                    },
                    "token": {
                      "type": "string",
                      "example": "6|efmRMPbbnm9oV0BA3uGFE0mINIaj38zXkvSFmVntfe49d178"
                    },
                    "token_type": {
                      "type": "string",
                      "example": "Bearer"
                    },
                    "type": {
                      "type": "string",
                      "example": "sign-up"
                    },
                    "user": {
                      "type": "object",
                      "properties": {
                        "customer_stripe_id": {
                          "nullable": true,
                          "example": null
                        },
                        "email": {
                          "type": "string",
                          "example": "chitsusuhlaing2022@gmail.com"
                        },
                        "id": {
                          "type": "number",
                          "example": 6
                        },
                        "is_active_user": {
                          "type": "number",
                          "example": 1
                        },
                        "is_suspension": {
                          "type": "number",
                          "example": 0
                        },
                        "name": {
                          "type": "string",
                          "example": "test"
                        },
                        "password": {
                          "type": "string",
                          "example": "$2y$12$5V.SInoBpNYvCCFrYLSqcuJTXwjGByIdwcmmemaMlgEBxZ/jgNjYu"
                        },
                        "payment_stripe_id": {
                          "nullable": true,
                          "example": null
                        },
                        "phone_no": {
                          "nullable": true,
                          "example": null
                        }
                      }
                    }
                  }
                },
                "examples": {
                  "verify-otp": {
                    "value": {
                      "expires_in": 3600,
                      "message": "Email verified.",
                      "status": "success",
                      "token": "6|efmRMPbbnm9oV0BA3uGFE0mINIaj38zXkvSFmVntfe49d178",
                      "token_type": "Bearer",
                      "type": "sign-in",
                      "user": {
                        "customer_stripe_id": null,
                        "email": "chitsusuhlaing2022@gmail.com",
                        "id": 6,
                        "is_active_user": 1,
                        "is_suspension": 0,
                        "name": "test",
                        "password": "$2y$12$5V.SInoBpNYvCCFrYLSqcuJTXwjGByIdwcmmemaMlgEBxZ/jgNjYu",
                        "payment_stripe_id": null,
                        "phone_no": null
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/api/auth/login": {
      "post": {
        "summary": "login",
        "description": "login",
        "operationId": "login",
        "requestBody": {
          "content": {
            "multipart/form-data": {
              "schema": {
                "type": "object",
                "properties": {
                  "email": {
                    "type": "string",
                    "example": "chitsusuhlaing2022@gmail.com"
                  },
                  "password": {
                    "type": "string",
                    "example": "admin123"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "login / login",
            "headers": {
              "Cache-Control": {
                "schema": {
                  "type": "string",
                  "example": "no-cache, private"
                }
              },
              "Connection": {
                "schema": {
                  "type": "string",
                  "example": "close"
                }
              },
              "Date": {
                "schema": {
                  "type": "string",
                  "example": "Tue, 09 Sep 2025 02:55:29 GMT"
                }
              },
              "Host": {
                "schema": {
                  "type": "string",
                  "example": "localhost:8000"
                }
              },
              "Vary": {
                "schema": {
                  "type": "string",
                  "example": "Origin"
                }
              },
              "X-Powered-By": {
                "schema": {
                  "type": "string",
                  "example": "PHP/8.1.25"
                }
              },
              "X-RateLimit-Limit": {
                "schema": {
                  "type": "string",
                  "example": "60"
                }
              },
              "X-RateLimit-Remaining": {
                "schema": {
                  "type": "string",
                  "example": "58"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {
                      "type": "string",
                      "example": "One Time Password sent for login."
                    },
                    "status": {
                      "type": "string",
                      "example": "success"
                    }
                  }
                },
                "examples": {
                  "login": {
                    "value": {
                      "message": "One Time Password sent for login.",
                      "status": "success"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/api/auth/send-email": {
      "post": {
        "summary": "send-email",
        "description": "send-email",
        "operationId": "sendEmail",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "email": {
                    "type": "string",
                    "example": "admin@gmail.com"
                  }
                }
              },
              "examples": {
                "send-email": {
                  "value": {
                    "email": "admin@gmail.com"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "send-email",
            "headers": {
              "Cache-Control": {
                "schema": {
                  "type": "string",
                  "example": "no-cache, private"
                }
              },
              "Connection": {
                "schema": {
                  "type": "string",
                  "example": "close"
                }
              },
              "Date": {
                "schema": {
                  "type": "string",
                  "example": "Thu, 14 Aug 2025 04:48:22 GMT"
                }
              },
              "Host": {
                "schema": {
                  "type": "string",
                  "example": "localhost:8000"
                }
              },
              "Vary": {
                "schema": {
                  "type": "string",
                  "example": "Origin"
                }
              },
              "X-Powered-By": {
                "schema": {
                  "type": "string",
                  "example": "PHP/8.1.25"
                }
              },
              "X-RateLimit-Limit": {
                "schema": {
                  "type": "string",
                  "example": "60"
                }
              },
              "X-RateLimit-Remaining": {
                "schema": {
                  "type": "string",
                  "example": "58"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {
                      "type": "string",
                      "example": "Email sent with login link."
                    },
                    "status": {
                      "type": "string",
                      "example": "success"
                    }
                  }
                },
                "examples": {
                  "send-email": {
                    "value": {
                      "message": "Email sent with login link.",
                      "status": "success"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/api/add-payment-method": {
      "post": {
        "summary": "add-payment-method",
        "description": "add-payment-method",
        "operationId": "addPaymentMethod",
        "requestBody": {
          "content": {
            "multipart/form-data": {
              "schema": {
                "type": "object",
                "properties": {
                  "email": {
                    "type": "string",
                    "example": "chitsusuhlaing2022@gmail.com"
                  },
                  "payment_method_id": {
                    "type": "string",
                    "example": "1"
                  },
                  "phone_no": {
                    "type": "string",
                    "example": "+959760423052"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": ""
          },
          "500": {
            "description": "add-payment-method",
            "headers": {
              "Cache-Control": {
                "schema": {
                  "type": "string",
                  "example": "no-cache, private"
                }
              },
              "Connection": {
                "schema": {
                  "type": "string",
                  "example": "close"
                }
              },
              "Date": {
                "schema": {
                  "type": "string",
                  "example": "Thu, 14 Aug 2025 05:02:24 GMT"
                }
              },
              "Host": {
                "schema": {
                  "type": "string",
                  "example": "localhost:8000"
                }
              },
              "Vary": {
                "schema": {
                  "type": "string",
                  "example": "Origin"
                }
              },
              "X-Powered-By": {
                "schema": {
                  "type": "string",
                  "example": "PHP/8.1.25"
                }
              },
              "X-RateLimit-Limit": {
                "schema": {
                  "type": "string",
                  "example": "60"
                }
              },
              "X-RateLimit-Remaining": {
                "schema": {
                  "type": "string",
                  "example": "56"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {
                      "type": "string",
                      "example": "予期しないエラーが発生しました: No API key provided.  (HINT: set your API key using \"Stripe::setApiKey(<API-KEY>)\".  You can generate API keys from the Stripe web interface.  See https://stripe.com/api for details, or email support@stripe.com if you have any questions."
                    },
                    "status": {
                      "type": "string",
                      "example": "error"
                    }
                  }
                },
                "examples": {
                  "add-payment-method": {
                    "value": {
                      "message": "予期しないエラーが発生しました: No API key provided.  (HINT: set your API key using \"Stripe::setApiKey(<API-KEY>)\".  You can generate API keys from the Stripe web interface.  See https://stripe.com/api for details, or email support@stripe.com if you have any questions.",
                      "status": "error"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/v1/payment_methods": {
      "post": {
        "summary": "stripe-payment-method",
        "description": "stripe-payment-method",
        "operationId": "stripePaymentMethod",
        "requestBody": {
          "content": {
            "multipart/form-data": {
              "schema": {
                "type": "object",
                "properties": {
                  "billing_details[name]": {
                    "type": "string",
                    "example": "Test User"
                  },
                  "card[cvc]": {
                    "type": "string",
                    "example": "123"
                  },
                  "card[exp_month]": {
                    "type": "string",
                    "example": "12"
                  },
                  "card[exp_year]": {
                    "type": "string",
                    "example": "2030"
                  },
                  "card[number]": {
                    "type": "string",
                    "example": "4242424242424242"
                  },
                  "type": {
                    "type": "string",
                    "example": "card"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": ""
          }
        },
        "security": [
          {
            "basicAuth": []
          }
        ]
      }
    },
    "/api/charge-customer": {
      "post": {
        "summary": "charge-customer",
        "description": "charge-customer",
        "operationId": "chargeCustomer",
        "requestBody": {
          "content": {
            "multipart/form-data": {
              "schema": {
                "type": "object",
                "properties": {
                  "amount": {
                    "type": "string",
                    "example": "2000"
                  },
                  "currency": {
                    "type": "string",
                    "example": "jpy"
                  },
                  "customer_id": {
                    "type": "string",
                    "example": "eyJpdiI6IkpNYVlwOHRqNUgxT282VHkwTkR3TlE9PSIsInZhbHVlIjoiS1h5clpZL05WQTM4RDJzTkwrc1JkY00rOG5YMVlncHU5R0IwcnloWHZ0OD0iLCJtYWMiOiIzZjcwNWRkNmM2OTc0NDRhNzRmMjhiNDI1ZmQ1OTM0ZGUxZDU1MzIzYWU0MTQ3ZTE3NmE2MDE4OTAwZjY4OWVlIiwidGFnIjoiIn0="
                  },
                  "payment_method_id": {
                    "type": "string",
                    "example": "eyJpdiI6ImJQdVN5L0F1QW4rWUk3YnJybjNrdFE9PSIsInZhbHVlIjoieTlBSWtQM1ZZbUxPNmZMTWxSSWduUVlxMEVFbDc4elJWYkhBTGx4RXIwOD0iLCJtYWMiOiJkODU3YjkxYTJkOTdlZmZkMDM1OGY1OTEyYTg1MzRkZmQ1YTM5Y2FjM2M1ZjhiYmM3N2VmZDQ1ZDhiOTg4NjJiIiwidGFnIjoiIn0="
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "charge-customer",
            "headers": {
              "Cache-Control": {
                "schema": {
                  "type": "string",
                  "example": "no-cache, private"
                }
              },
              "Connection": {
                "schema": {
                  "type": "string",
                  "example": "close"
                }
              },
              "Date": {
                "schema": {
                  "type": "string",
                  "example": "Mon, 18 Aug 2025 04:27:49 GMT"
                }
              },
              "Host": {
                "schema": {
                  "type": "string",
                  "example": "localhost:8000"
                }
              },
              "Vary": {
                "schema": {
                  "type": "string",
                  "example": "Origin"
                }
              },
              "X-Powered-By": {
                "schema": {
                  "type": "string",
                  "example": "PHP/8.1.25"
                }
              },
              "X-RateLimit-Limit": {
                "schema": {
                  "type": "string",
                  "example": "60"
                }
              },
              "X-RateLimit-Remaining": {
                "schema": {
                  "type": "string",
                  "example": "59"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {
                      "type": "string",
                      "example": "決済が完了しました。"
                    },
                    "status": {
                      "type": "string",
                      "example": "success"
                    }
                  }
                },
                "examples": {
                  "charge-customer": {
                    "value": {
                      "message": "決済が完了しました。",
                      "status": "success"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/api/history": {
      "post": {
        "summary": "history",
        "description": "history",
        "operationId": "history",
        "parameters": [
          {
            "name": "user_id",
            "in": "query",
            "schema": {
              "type": "string",
              "example": "1"
            }
          },
          {
            "name": "result_url",
            "in": "query",
            "schema": {
              "type": "string",
              "example": "{\"chatId\":\"cht_A1YQV5-v5_jQFL8Xxp1LH\",\"ownerId\":\"auth0|688c126a9c56fa2fb8d96f1f\",\"agentId\":\"v2_agt_ueRuddzF\",\"messages\":[{\"id\":\"8950ea1873550\",\"role\":\"user\",\"content\":\"Jai siwa Donna kaisha deska.\",\"created_at\":\"2025-08-15T07:10:57.437Z\"},{\"role\":\"assistant\",\"content\":\"はい、私たちは「グローバルイノベーションコンサルティング株式会社」です。私たちは、IT・デジタルトランスフォーメーションや人材関連ビジネスを行っています。もし他に知りたいことがあれば、お知らせください。\",\"created_at\":\"2025-08-15T07:11:00.333Z\",\"id\":\"bQYR-U4iPVklU\"},{\"id\":\"0e350d057d4ff\",\"role\":\"user\",\"content\":\"Uh prachakato, uh Tana projakarta kasushite masca.\",\"created_at\":\"2025-08-15T07:11:28.085Z\"},{\"role\":\"assistant\",\"content\":\"申し訳ありませんが、その内容は理解できませんでした。もう少し具体的に教えていただけますか？\",\"created_at\":\"2025-08-15T07:11:29.260Z\",\"id\":\"GI1eCE9V3UPLy\"},{\"id\":\"d3bcb642291c9\",\"role\":\"user\",\"content\":\"Donna projectado Kaya sushi tei masca.\",\"created_at\":\"2025-08-15T07:11:43.884Z\"},{\"role\":\"assistant\",\"content\":\"申し訳ありませんが、その内容については理解できませんでした。もう少し具体的に教えていただけますか？\",\"created_at\":\"2025-08-15T07:11:45.253Z\",\"id\":\"okMMBVeGzwWEJ\"}],\"externalId\":\"4c706cc0188fd_eb6ffd4c83da0\",\"origin\":\"https://studio.d-id.com\",\"createdAt\":\"2025-08-15T07:11:47.072Z\"}"
            }
          },
          {
            "name": "chat_id",
            "in": "query",
            "schema": {
              "type": "string",
              "example": "cht_99999"
            }
          },
          {
            "name": "agent_id",
            "in": "query",
            "schema": {
              "type": "string",
              "example": "agent_4801k4yc4crvej5thtbbpchhrba5"
            }
          },
          {
            "name": "agent_type",
            "in": "query",
            "schema": {
              "type": "string",
              "example": "elevenlabs"
            }
          }
        ],
        "requestBody": {
          "content": {
            "multipart/form-data": {
              "schema": {
                "type": "object",
                "properties": {
                  "agent_id": {
                    "type": "string",
                    "example": "agent_3201k5bf82vnf2nbyzztgpfjgrh4"
                  },
                  "chat_id": {
                    "type": "string",
                    "example": "cht_qnPzNdLTU9DG9pmk-BPTl"
                  },
                  "duration": {
                    "type": "string",
                    "example": "00:09:48"
                  },
                  "result_url": {
                    "type": "string",
                    "example": "{\"chatId\":\"cht_qnPzNdLTU9DG9pmk-BPTl\",\"ownerId\":\"auth0|688c126a9c56fa2fb8d96f1f\",\"agentId\":\"v2_agt_ueRuddzF\",\"messages\":[],\"externalId\":\"3fcb69c7f6b9e_73c43124d99a3\",\"origin\":\"https://studio.d-id.com\",\"createdAt\":\"2025-08-19T07:55:28.045Z\"}"
                  },
                  "user_id": {
                    "type": "string",
                    "example": "1"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "history / history / history",
            "headers": {
              "Cache-Control": {
                "schema": {
                  "type": "string",
                  "example": "no-cache, private"
                }
              },
              "Connection": {
                "schema": {
                  "type": "string",
                  "example": "close"
                }
              },
              "Date": {
                "schema": {
                  "type": "string",
                  "example": "Wed, 22 Oct 2025 02:25:00 GMT"
                }
              },
              "Host": {
                "schema": {
                  "type": "string",
                  "example": "localhost:8000"
                }
              },
              "Vary": {
                "schema": {
                  "type": "string",
                  "example": "Origin"
                }
              },
              "X-Powered-By": {
                "schema": {
                  "type": "string",
                  "example": "PHP/8.1.25"
                }
              },
              "X-RateLimit-Limit": {
                "schema": {
                  "type": "string",
                  "example": "60"
                }
              },
              "X-RateLimit-Remaining": {
                "schema": {
                  "type": "string",
                  "example": "59"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "chat_history_saved": {
                      "type": "boolean",
                      "example": true
                    },
                    "data": {
                      "type": "object",
                      "properties": {
                        "call_limit_flag": {
                          "type": "number",
                          "example": 0
                        },
                        "limit_reached": {
                          "type": "boolean",
                          "example": true
                        },
                        "limit_seconds": {
                          "type": "number",
                          "example": 600
                        },
                        "remaining_duration": {
                          "type": "string",
                          "example": "00:00:00"
                        },
                        "remaining_seconds": {
                          "type": "number",
                          "example": 0
                        },
                        "total_duration": {
                          "type": "string",
                          "example": "00:10:00"
                        }
                      }
                    },
                    "saved_history": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "chat_file": {
                            "type": "string",
                            "example": "{\"chatId\":\"cht_A1YQV5-v5_jQFL8Xxp1LH\",\"ownerId\":\"auth0|688c126a9c56fa2fb8d96f1f\",\"agentId\":\"v2_agt_ueRuddzF\",\"messages\":[{\"id\":\"8950ea1873550\",\"role\":\"user\",\"content\":\"Jai siwa Donna kaisha deska.\",\"created_at\":\"2025-08-15T07:10:57.437Z\"},{\"role\":\"assistant\",\"content\":\"はい、私たちは「グローバルイノベーションコンサルティング株式会社」です。私たちは、IT・デジタルトランスフォーメーションや人材関連ビジネスを行っています。もし他に知りたいことがあれば、お知らせください。\",\"created_at\":\"2025-08-15T07:11:00.333Z\",\"id\":\"bQYR-U4iPVklU\"},{\"id\":\"0e350d057d4ff\",\"role\":\"user\",\"content\":\"Uh prachakato, uh Tana projakarta kasushite masca.\",\"created_at\":\"2025-08-15T07:11:28.085Z\"},{\"role\":\"assistant\",\"content\":\"申し訳ありませんが、その内容は理解できませんでした。もう少し具体的に教えていただけますか？\",\"created_at\":\"2025-08-15T07:11:29.260Z\",\"id\":\"GI1eCE9V3UPLy\"},{\"id\":\"d3bcb642291c9\",\"role\":\"user\",\"content\":\"Donna projectado Kaya sushi tei masca.\",\"created_at\":\"2025-08-15T07:11:43.884Z\"},{\"role\":\"assistant\",\"content\":\"申し訳ありませんが、その内容については理解できませんでした。もう少し具体的に教えていただけますか？\",\"created_at\":\"2025-08-15T07:11:45.253Z\",\"id\":\"okMMBVeGzwWEJ\"}],\"externalId\":\"4c706cc0188fd_eb6ffd4c83da0\",\"origin\":\"https://studio.d-id.com\",\"createdAt\":\"2025-08-15T07:11:47.072Z\"}"
                          },
                          "chat_id": {
                            "type": "string",
                            "example": "cht_A1YQV5-v5_jQFL8Xxp1LH"
                          },
                          "created_at": {
                            "type": "string",
                            "example": "2025-09-16T06:58:52.000000Z"
                          },
                          "id": {
                            "type": "number",
                            "example": 4
                          },
                          "updated_at": {
                            "type": "string",
                            "example": "2025-09-16T06:58:52.000000Z"
                          }
                        }
                      },
                      "example": [
                        {
                          "chat_file": "{\"chatId\":\"cht_A1YQV5-v5_jQFL8Xxp1LH\",\"ownerId\":\"auth0|688c126a9c56fa2fb8d96f1f\",\"agentId\":\"v2_agt_ueRuddzF\",\"messages\":[{\"id\":\"8950ea1873550\",\"role\":\"user\",\"content\":\"Jai siwa Donna kaisha deska.\",\"created_at\":\"2025-08-15T07:10:57.437Z\"},{\"role\":\"assistant\",\"content\":\"はい、私たちは「グローバルイノベーションコンサルティング株式会社」です。私たちは、IT・デジタルトランスフォーメーションや人材関連ビジネスを行っています。もし他に知りたいことがあれば、お知らせください。\",\"created_at\":\"2025-08-15T07:11:00.333Z\",\"id\":\"bQYR-U4iPVklU\"},{\"id\":\"0e350d057d4ff\",\"role\":\"user\",\"content\":\"Uh prachakato, uh Tana projakarta kasushite masca.\",\"created_at\":\"2025-08-15T07:11:28.085Z\"},{\"role\":\"assistant\",\"content\":\"申し訳ありませんが、その内容は理解できませんでした。もう少し具体的に教えていただけますか？\",\"created_at\":\"2025-08-15T07:11:29.260Z\",\"id\":\"GI1eCE9V3UPLy\"},{\"id\":\"d3bcb642291c9\",\"role\":\"user\",\"content\":\"Donna projectado Kaya sushi tei masca.\",\"created_at\":\"2025-08-15T07:11:43.884Z\"},{\"role\":\"assistant\",\"content\":\"申し訳ありませんが、その内容については理解できませんでした。もう少し具体的に教えていただけますか？\",\"created_at\":\"2025-08-15T07:11:45.253Z\",\"id\":\"okMMBVeGzwWEJ\"}],\"externalId\":\"4c706cc0188fd_eb6ffd4c83da0\",\"origin\":\"https://studio.d-id.com\",\"createdAt\":\"2025-08-15T07:11:47.072Z\"}",
                          "chat_id": "cht_A1YQV5-v5_jQFL8Xxp1LH",
                          "created_at": "2025-09-16T06:58:52.000000Z",
                          "id": 4,
                          "updated_at": "2025-09-16T06:58:52.000000Z"
                        },
                        {
                          "chat_file": "{\"chatId\":\"cht_vPzukuyULKEc7PCNTxVvs\",\"ownerId\":\"auth0|688c126a9c56fa2fb8d96f1f\",\"agentId\":\"v2_agt_ueRuddzF\",\"messages\":[],\"externalId\":\"16953d1a3a669_63fbbbfd6eb43\",\"origin\":\"https://studio.d-id.com\",\"createdAt\":\"2025-08-19T07:55:11.036Z\"}",
                          "chat_id": "cht_vPzukuyULKEc7PCNTxVvs",
                          "created_at": "2025-09-16T06:58:53.000000Z",
                          "id": 5,
                          "updated_at": "2025-09-16T06:58:53.000000Z"
                        },
                        {
                          "chat_file": "{\"chatId\":\"cht_qnPzNdLTU9DG9pmk-BPTl\",\"ownerId\":\"auth0|688c126a9c56fa2fb8d96f1f\",\"agentId\":\"v2_agt_ueRuddzF\",\"messages\":[],\"externalId\":\"3fcb69c7f6b9e_73c43124d99a3\",\"origin\":\"https://studio.d-id.com\",\"createdAt\":\"2025-08-19T07:55:28.045Z\"}",
                          "chat_id": "cht_qnPzNdLTU9DG9pmk-BPTl",
                          "created_at": "2025-09-16T06:58:53.000000Z",
                          "id": 6,
                          "updated_at": "2025-09-16T06:58:53.000000Z"
                        },
                        {
                          "chat_file": "{\"chatId\":\"cht_6vuy5M2iFtqFMWQ7aUcDH\",\"ownerId\":\"auth0|688c126a9c56fa2fb8d96f1f\",\"agentId\":\"v2_agt_ueRuddzF\",\"messages\":[{\"id\":\"a2aec6d309598\",\"role\":\"user\",\"content\":\"i would likt to know about gic\",\"created_at\":\"2025-08-19T07:56:21.343Z\"},{\"role\":\"assistant\",\"content\":\"ジーアイシーは、ミャンマーにおいて、IT関連のサービスや人材紹介、教育事業を展開しています。2012年4月に設立され、現在131名の社員が在籍しています。主な事業内容には、システム開発や技術者派遣、日本語・IT教育、ビジネスマッチングなどがあります。他に知りたいことがあれば教えてください。\",\"created_at\":\"2025-08-19T07:56:23.583Z\",\"id\":\"PKyP9BMoap4Go\"},{\"id\":\"2b43859da2494\",\"role\":\"user\",\"content\":\"hi\",\"created_at\":\"2025-08-19T07:56:45.943Z\"},{\"role\":\"assistant\",\"content\":\"こんにちは！GICは、2011年4月に設立されたグローバルイノベーションコンサルティング株式会社です。東京に本社を置き、348名の社員がいます。事業内容には、IT、教育、人材関連のサービスが含まれています。他に知りたいことはありますか？\",\"created_at\":\"2025-08-19T07:56:47.204Z\",\"id\":\"8T8rAorGm-tRn\"},{\"id\":\"6d470eba85b40\",\"role\":\"user\",\"content\":\"how is the current status of GIC\",\"created_at\":\"2025-08-19T07:57:19.690Z\"},{\"role\":\"assistant\",\"content\":\"ジーアイシーは、ミャンマーにおいて131名の社員が在籍し、主にIT関連のサービスや人材紹介、教育事業を展開しています。設立は2012年4月で、現在も活発に事業を行っています。他に知りたいことがあればお知らせください。\",\"created_at\":\"2025-08-19T07:57:21.350Z\",\"id\":\"OEYkD9GI9crsJ\"},{\"id\":\"05e6949bd961b\",\"role\":\"user\",\"content\":\"How old are you?\",\"created_at\":\"2025-08-19T07:57:46.691Z\"},{\"role\":\"assistant\",\"content\":\"申し訳ありませんが、その質問にはお答えできません。GICについての情報や他の質問があればお知らせください。\",\"created_at\":\"2025-08-19T07:57:47.687Z\",\"id\":\"M0ZKELAFioVt3\"},{\"id\":\"d3c41814df611\",\"role\":\"user\",\"content\":\"What is the goal of GIC\",\"created_at\":\"2025-08-19T07:58:24.252Z\"},{\"role\":\"assistant\",\"content\":\"申し訳ありませんが、その点については理解できませんでした。具体的な目標についての情報はありません。何か他にお手伝いできることがあれば教えてください。\",\"created_at\":\"2025-08-19T07:58:25.325Z\",\"id\":\"-77_pDtG8ROz4\"},{\"id\":\"fe2bd87e829b1\",\"role\":\"user\",\"content\":\"Where are the branch of GIC?\",\"created_at\":\"2025-08-19T07:59:05.652Z\"},{\"role\":\"assistant\",\"content\":\"ジーアイシーの国内拠点は、宮崎にある「宮崎にあしょあセンター」です。また、海外拠点としてミャンマーに「ジーアイシー ミャンマー」と「ジーアイシー シリコンバレー ラボ」があります。他に知りたいことがあれば教えてください。\",\"created_at\":\"2025-08-19T07:59:06.681Z\",\"id\":\"yOexh64E-Qxk9\"},{\"id\":\"4b696e62683ef\",\"role\":\"user\",\"content\":\"I like to talk with the real president. can you contact me with?\",\"created_at\":\"2025-08-19T08:00:10.770Z\"},{\"role\":\"assistant\",\"content\":\"申し訳ありませんが、そのリクエストにはお応えできません。GICについての情報や他の質問があればお知らせください。\",\"created_at\":\"2025-08-19T08:00:12.397Z\",\"id\":\"NWOGsuG9Tlyno\"},{\"id\":\"cc3df53aefc5f\",\"role\":\"user\",\"content\":\"Thank you.\",\"created_at\":\"2025-08-19T08:04:27.190Z\"},{\"role\":\"assistant\",\"content\":\"ありがとうございます！何か他にお手伝いできることがあれば教えてください。\",\"created_at\":\"2025-08-19T08:04:28.424Z\",\"id\":\"gcvpCm2CA2Ezj\"},{\"id\":\"b751a9f37ac4f\",\"role\":\"user\",\"content\":\"Where is the GIC main office.\",\"created_at\":\"2025-08-19T08:05:03.090Z\"},{\"role\":\"assistant\",\"content\":\"GICの本社所在地は、東京都墨田区緑1-21-10 ビーアールりょう2階です。他に知りたいことがあれば教えてください。\",\"created_at\":\"2025-08-19T08:05:04.129Z\",\"id\":\"M9iQsiZuyBse2\"},{\"id\":\"a2c2afb5c5d0e\",\"role\":\"user\",\"content\":\"Kaicはどんな会社ですか？\",\"created_at\":\"2025-08-19T08:22:21.564Z\"},{\"role\":\"assistant\",\"content\":\"GICの本社は、東京都墨田区緑1-21-10 ビーアールりょう2階にあります。2011年4月に設立され、348名の社員が在籍しています。主な事業内容には、IT、教育、人材関連のサービスが含まれています。他に知りたいことがあれば教えてください。\",\"created_at\":\"2025-08-19T08:22:23.349Z\",\"id\":\"VY-sk3ZCNgqik\"}],\"externalId\":\"16953d1a3a669_ac46434458c30\",\"origin\":\"https://studio.d-id.com\",\"createdAt\":\"2025-08-19T08:22:26.743Z\"}",
                          "chat_id": "cht_6vuy5M2iFtqFMWQ7aUcDH",
                          "created_at": "2025-09-16T06:58:53.000000Z",
                          "id": 7,
                          "updated_at": "2025-09-16T06:58:53.000000Z"
                        },
                        {
                          "chat_file": "{\"chatId\":\"cht_aFrcvPcMuEE_DMG82atwZ\",\"ownerId\":\"auth0|688c126a9c56fa2fb8d96f1f\",\"agentId\":\"v2_agt_ueRuddzF\",\"messages\":[],\"externalId\":\"3fcb69c7f6b9e_ac1a24e7b170d\",\"origin\":\"https://studio.d-id.com\",\"createdAt\":\"2025-08-19T08:21:41.976Z\"}",
                          "chat_id": "cht_aFrcvPcMuEE_DMG82atwZ",
                          "created_at": "2025-09-16T06:58:53.000000Z",
                          "id": 8,
                          "updated_at": "2025-09-16T06:58:53.000000Z"
                        },
                        {
                          "chat_file": "{\"chatId\":\"cht_2gt3g9r8XATbL4uJ66fKy\",\"ownerId\":\"auth0|688c126a9c56fa2fb8d96f1f\",\"agentId\":\"v2_agt_ueRuddzF\",\"messages\":[],\"externalId\":\"3fcb69c7f6b9e_ac1a24e7b170d\",\"origin\":\"https://studio.d-id.com\",\"createdAt\":\"2025-08-19T08:21:44.876Z\"}",
                          "chat_id": "cht_2gt3g9r8XATbL4uJ66fKy",
                          "created_at": "2025-09-16T06:58:53.000000Z",
                          "id": 9,
                          "updated_at": "2025-09-16T06:58:53.000000Z"
                        },
                        {
                          "chat_file": "{\"chatId\":\"cht_8sR_tle6oEseAtka2QWE_\",\"ownerId\":\"auth0|688c126a9c56fa2fb8d96f1f\",\"agentId\":\"v2_agt_ueRuddzF\",\"messages\":[],\"externalId\":\"b299872259c6d_f8efc9104fdbd\",\"origin\":\"https://studio.d-id.com\",\"createdAt\":\"2025-08-19T08:44:08.612Z\"}",
                          "chat_id": "cht_8sR_tle6oEseAtka2QWE_",
                          "created_at": "2025-09-16T06:58:53.000000Z",
                          "id": 10,
                          "updated_at": "2025-09-16T06:58:53.000000Z"
                        },
                        {
                          "chat_file": "{\"chatId\":\"cht_RrqxbZyxBkTwpIN4c2i7k\",\"ownerId\":\"auth0|688c126a9c56fa2fb8d96f1f\",\"agentId\":\"v2_agt_ueRuddzF\",\"messages\":[],\"externalId\":\"f83073c528d9a_08d13e5955fc1\",\"origin\":\"https://studio.d-id.com\",\"createdAt\":\"2025-08-19T08:52:35.802Z\"}",
                          "chat_id": "cht_RrqxbZyxBkTwpIN4c2i7k",
                          "created_at": "2025-09-16T06:58:53.000000Z",
                          "id": 11,
                          "updated_at": "2025-09-16T06:58:53.000000Z"
                        },
                        {
                          "chat_file": "{\"chatId\":\"cht_sHGl7UXoIfmfbbHgqOaPW\",\"ownerId\":\"auth0|688c126a9c56fa2fb8d96f1f\",\"agentId\":\"v2_agt_ueRuddzF\",\"messages\":[{\"id\":\"332bb4eee54f6\",\"role\":\"user\",\"content\":\"When is Joshua Sonakshi Sinha?\",\"created_at\":\"2025-08-19T08:54:32.464Z\"},{\"role\":\"assistant\",\"content\":\"申し訳ありませんが、その質問の内容が理解できませんでした。もう少し具体的に教えていただけますか？\",\"created_at\":\"2025-08-19T08:54:59.537Z\",\"id\":\"KOVl2lgGGlyaQ\"},{\"id\":\"c6c17989ad084\",\"role\":\"user\",\"content\":\"Neither ID machine.\",\"created_at\":\"2025-08-19T08:55:49.025Z\"},{\"role\":\"assistant\",\"content\":\"申し訳ありませんが、その質問については理解できませんでした。もう少し具体的に教えていただけますか？\",\"created_at\":\"2025-08-19T08:56:16.137Z\",\"id\":\"0m2Ey5xFIo6pz\"}],\"externalId\":\"f83073c528d9a_b8c0372ea430c\",\"origin\":\"https://studio.d-id.com\",\"createdAt\":\"2025-08-19T08:56:17.763Z\"}",
                          "chat_id": "cht_sHGl7UXoIfmfbbHgqOaPW",
                          "created_at": "2025-09-16T06:58:53.000000Z",
                          "id": 12,
                          "updated_at": "2025-09-16T06:58:53.000000Z"
                        },
                        {
                          "chat_file": "{\"chatId\":\"cht_PsfpybZGtxYzWTzwMUdW_\",\"ownerId\":\"auth0|688c126a9c56fa2fb8d96f1f\",\"agentId\":\"v2_agt_ueRuddzF\",\"messages\":[{\"id\":\"54bd7cda41db3\",\"role\":\"user\",\"content\":\"A lot of Hawaii.\",\"created_at\":\"2025-08-19T09:03:05.352Z\"},{\"role\":\"assistant\",\"content\":\"申し訳ありませんが、その内容については理解できませんでした。もう少し具体的に教えていただけますか？\",\"created_at\":\"2025-08-19T09:03:06.749Z\",\"id\":\"UEbte6MnW5WdI\"},{\"id\":\"93ed0380d6ca2\",\"role\":\"user\",\"content\":\"Hi.\",\"created_at\":\"2025-08-19T09:03:38.810Z\"},{\"role\":\"assistant\",\"content\":\"\",\"created_at\":\"2025-08-19T09:03:40.795Z\",\"id\":\"CrEnDYBZAuYqT\"}],\"externalId\":\"3fcb69c7f6b9e_a4fc8540a35ac\",\"origin\":\"https://studio.d-id.com\",\"createdAt\":\"2025-08-19T09:03:41.424Z\"}",
                          "chat_id": "cht_PsfpybZGtxYzWTzwMUdW_",
                          "created_at": "2025-09-16T06:58:53.000000Z",
                          "id": 13,
                          "updated_at": "2025-09-16T06:58:53.000000Z"
                        },
                        {
                          "chat_file": "{\"chatId\":\"cht_yWtavN239UY2x7hlbbL7g\",\"ownerId\":\"auth0|688c126a9c56fa2fb8d96f1f\",\"agentId\":\"v2_agt_ueRuddzF\",\"messages\":[],\"externalId\":\"3fcb69c7f6b9e_d3a837e4a7961\",\"origin\":\"https://studio.d-id.com\",\"createdAt\":\"2025-08-19T09:04:57.707Z\"}",
                          "chat_id": "cht_yWtavN239UY2x7hlbbL7g",
                          "created_at": "2025-09-16T06:58:53.000000Z",
                          "id": 14,
                          "updated_at": "2025-09-16T06:58:53.000000Z"
                        },
                        {
                          "chat_file": "{\"chatId\":\"cht_P7nGfV-BJHlgZdWOEVuGP\",\"ownerId\":\"auth0|688c126a9c56fa2fb8d96f1f\",\"agentId\":\"v2_agt_ueRuddzF\",\"messages\":[],\"externalId\":\"f83073c528d9a_e5444f741f0b8\",\"origin\":\"https://studio.d-id.com\",\"createdAt\":\"2025-08-20T00:16:35.991Z\"}",
                          "chat_id": "cht_P7nGfV-BJHlgZdWOEVuGP",
                          "created_at": "2025-09-16T06:58:53.000000Z",
                          "id": 15,
                          "updated_at": "2025-09-16T06:58:53.000000Z"
                        },
                        {
                          "chat_file": "{\"chatId\":\"cht_Rew0WY4SyozBkqb6CknnO\",\"ownerId\":\"auth0|688c126a9c56fa2fb8d96f1f\",\"agentId\":\"v2_agt_ueRuddzF\",\"messages\":[{\"id\":\"3ce3b351f190a\",\"role\":\"user\",\"content\":\"Did you ever want to control?\",\"created_at\":\"2025-08-20T00:46:33.600Z\"},{\"role\":\"assistant\",\"content\":\"申し訳ありませんが、その質問については理解できませんでした。別の質問があればお知らせください。\",\"created_at\":\"2025-08-20T00:47:01.603Z\",\"id\":\"KChihRRO43X0H\"},{\"id\":\"96d70c7af2b40\",\"role\":\"user\",\"content\":\"TNT, The Hernandez.\",\"created_at\":\"2025-08-20T00:46:47.261Z\"},{\"role\":\"assistant\",\"content\":\"申し訳ありませんが、その質問については理解できませんでした。もう少し具体的に教えていただけますか？\",\"created_at\":\"2025-08-20T00:47:15.397Z\",\"id\":\"kCuUYOTaZ1RSv\"},{\"id\":\"e8a74aa9d7b26\",\"role\":\"user\",\"content\":\"TICY don't know kaisha daska payout on the dining room.\",\"created_at\":\"2025-08-20T00:47:03.462Z\"},{\"role\":\"assistant\",\"content\":\"申し訳ありませんが、その内容については理解できませんでした。別の質問があればお知らせください。\",\"created_at\":\"2025-08-20T00:47:31.489Z\",\"id\":\"cDNbNqUzhjDru\"},{\"id\":\"96a927be38c3f\",\"role\":\"user\",\"content\":\"Gicwa dunukha deshka.\",\"created_at\":\"2025-08-20T00:47:19.246Z\"},{\"role\":\"assistant\",\"content\":\"申し訳ありませんが、その質問については理解できませんでした。別の質問があればお知らせください。\",\"created_at\":\"2025-08-20T00:47:47.441Z\",\"id\":\"3WbDMSxO2q8-B\"},{\"id\":\"83f63e4eee022\",\"role\":\"user\",\"content\":\"Punjab Govt.\",\"created_at\":\"2025-08-20T00:47:31.889Z\"},{\"role\":\"assistant\",\"content\":\"申し訳ありませんが、その質問については理解できませんでした。別の質問があればお知らせください。\",\"created_at\":\"2025-08-20T00:47:59.850Z\",\"id\":\"YsglWxG9g4Q2k\"}],\"externalId\":\"f83073c528d9a_31ee71cfd9e53\",\"origin\":\"https://studio.d-id.com\",\"createdAt\":\"2025-08-20T00:48:09.539Z\"}",
                          "chat_id": "cht_Rew0WY4SyozBkqb6CknnO",
                          "created_at": "2025-09-16T06:58:53.000000Z",
                          "id": 16,
                          "updated_at": "2025-09-16T06:58:53.000000Z"
                        },
                        {
                          "chat_file": "{\"chatId\":\"cht_EvYr5TRbRPgTFQkc0KM24\",\"ownerId\":\"auth0|688c126a9c56fa2fb8d96f1f\",\"agentId\":\"v2_agt_ueRuddzF\",\"messages\":[{\"id\":\"5ff8c01db7871\",\"role\":\"user\",\"content\":\"Change the one in the sky.\",\"created_at\":\"2025-08-20T00:48:34.236Z\"},{\"role\":\"assistant\",\"content\":\"申し訳ありませんが、そのリクエストは理解できませんでした。もう少し具体的に教えていただけますか？\",\"created_at\":\"2025-08-20T00:49:02.635Z\",\"id\":\"ndJo71uAWweLl\"},{\"id\":\"a6892799b6965\",\"role\":\"user\",\"content\":\"GIC, the Nanduska.\",\"created_at\":\"2025-08-20T00:48:53.928Z\"},{\"role\":\"assistant\",\"content\":\"申し訳ありませんが、その内容については理解できませんでした。もう少し具体的に教えていただけますか？\",\"created_at\":\"2025-08-20T00:49:21.910Z\",\"id\":\"5ANmdwHf5pLcg\"},{\"id\":\"c723c47662c6c\",\"role\":\"user\",\"content\":\"Gurubero innovation consenting guno Sashawa dari deska.\",\"created_at\":\"2025-08-20T00:49:11.069Z\"},{\"role\":\"assistant\",\"content\":\"申し訳ありませんが、そのリクエストは理解できませんでした。もう少し具体的に教えていただけますか？\",\"created_at\":\"2025-08-20T00:49:38.955Z\",\"id\":\"ydJMcOpn5JmBS\"},{\"id\":\"b66d3fd670a6d\",\"role\":\"user\",\"content\":\"Tirade waka bajanga teenaga.\",\"created_at\":\"2025-08-20T00:49:25.560Z\"},{\"role\":\"assistant\",\"content\":\"申し訳ありませんが、その内容については理解できませんでした。もう少し具体的に教えていただけますか？\",\"created_at\":\"2025-08-20T00:49:54.769Z\",\"id\":\"dTjNaqpfrZg_q\"}],\"externalId\":\"f83073c528d9a_173c3cc4fbe9b\",\"origin\":\"https://studio.d-id.com\",\"createdAt\":\"2025-08-20T00:49:56.583Z\"}",
                          "chat_id": "cht_EvYr5TRbRPgTFQkc0KM24",
                          "created_at": "2025-09-16T06:58:53.000000Z",
                          "id": 17,
                          "updated_at": "2025-09-16T06:58:53.000000Z"
                        },
                        {
                          "chat_file": "{\"chatId\":\"cht_dZ8qOkeCcsoqPGNH_5SUB\",\"ownerId\":\"auth0|688c126a9c56fa2fb8d96f1f\",\"agentId\":\"v2_agt_ueRuddzF\",\"messages\":[{\"id\":\"1797d1cf4f87b\",\"role\":\"user\",\"content\":\"ケースの読者はどこで行きますけど。\",\"created_at\":\"2025-08-20T04:24:43.635Z\"},{\"role\":\"assistant\",\"content\":\"申し訳ありませんが、その点については理解できませんでした。もう少し具体的に教えていただけますか？\",\"created_at\":\"2025-08-20T04:24:45.059Z\",\"id\":\"dOLmoEYdssxmR\"}],\"externalId\":\"1a046cf5965a8_b9f00887150f7\",\"origin\":\"https://studio.d-id.com\",\"createdAt\":\"2025-08-20T04:24:49.415Z\"}",
                          "chat_id": "cht_dZ8qOkeCcsoqPGNH_5SUB",
                          "created_at": "2025-09-16T06:58:53.000000Z",
                          "id": 18,
                          "updated_at": "2025-09-16T06:58:53.000000Z"
                        },
                        {
                          "chat_file": "{\"chatId\":\"cht_4FSJ1UaWhs52a6svRYE_3\",\"ownerId\":\"auth0|688c126a9c56fa2fb8d96f1f\",\"agentId\":\"v2_agt_ueRuddzF\",\"messages\":[{\"id\":\"e39cbb355b289\",\"role\":\"user\",\"content\":\"hello\",\"created_at\":\"2025-08-20T04:39:55.018Z\"},{\"role\":\"assistant\",\"content\":\"こんにちは！何かお手伝いできることはありますか？\",\"created_at\":\"2025-08-20T04:39:56.617Z\",\"id\":\"dmkcnxLnb3cHr\"},{\"id\":\"c399d78e5e5c5\",\"role\":\"user\",\"content\":\"where is main company of GIC\",\"created_at\":\"2025-08-20T04:40:17.596Z\"},{\"role\":\"assistant\",\"content\":\"GICの本社所在地は、東京都墨田区緑1-21-10 ビーアールリョウ2 2階です。\",\"created_at\":\"2025-08-20T04:40:19.076Z\",\"id\":\"UhpQ0--Gj0L_p\"}],\"externalId\":\"1a046cf5965a8_b9f00887150f7\",\"origin\":\"https://studio.d-id.com\",\"createdAt\":\"2025-08-20T04:40:20.722Z\"}",
                          "chat_id": "cht_4FSJ1UaWhs52a6svRYE_3",
                          "created_at": "2025-09-16T06:58:53.000000Z",
                          "id": 19,
                          "updated_at": "2025-09-16T06:58:53.000000Z"
                        },
                        {
                          "chat_file": "{\"chatId\":\"cht_6113uU6JUy2tJE00F66Qd\",\"ownerId\":\"auth0|688c126a9c56fa2fb8d96f1f\",\"agentId\":\"v2_agt_ueRuddzF\",\"messages\":[],\"externalId\":\"b299872259c6d_69a2abfc505e9\",\"origin\":\"https://studio.d-id.com\",\"createdAt\":\"2025-08-20T04:28:04.776Z\"}",
                          "chat_id": "cht_6113uU6JUy2tJE00F66Qd",
                          "created_at": "2025-09-16T06:58:53.000000Z",
                          "id": 20,
                          "updated_at": "2025-09-16T06:58:53.000000Z"
                        },
                        {
                          "chat_file": "{\"chatId\":\"cht_6dKWvwjk7XoS2tTzofA6Y\",\"ownerId\":\"auth0|688c126a9c56fa2fb8d96f1f\",\"agentId\":\"v2_agt_ueRuddzF\",\"messages\":[{\"id\":\"6cc654df3be0d\",\"role\":\"user\",\"content\":\"Hmm. Jessie wah donak Haisha deska.\",\"created_at\":\"2025-08-20T04:45:24.940Z\"},{\"role\":\"assistant\",\"content\":\"申し訳ありませんが、あなたの質問を理解できませんでした。もう少し具体的に教えていただけますか？\",\"created_at\":\"2025-08-20T04:45:26.038Z\",\"id\":\"o4I-1QHjXAwhQ\"},{\"id\":\"e397046c61ca6\",\"role\":\"user\",\"content\":\"Nathaniel Jakwariwah. Uh, Nadeska.\",\"created_at\":\"2025-08-20T04:45:42.834Z\"},{\"role\":\"assistant\",\"content\":\"申し訳ありませんが、その情報については理解できませんでした。もう少し具体的に教えていただけますか？\",\"created_at\":\"2025-08-20T04:45:44.083Z\",\"id\":\"jQjoKRnJnb80_\"},{\"id\":\"f7e5cf7087aef\",\"role\":\"user\",\"content\":\"Giancini uh zambucha in Wah.\",\"created_at\":\"2025-08-20T04:46:01.226Z\"},{\"role\":\"assistant\",\"content\":\"申し訳ありませんが、あなたの質問を理解できませんでした。もう少し具体的に教えていただけますか？\",\"created_at\":\"2025-08-20T04:46:02.105Z\",\"id\":\"0LgJA_fYLqaTQ\"}],\"externalId\":\"4c706cc0188fd_d28dc5f23ce2d\",\"origin\":\"https://studio.d-id.com\",\"createdAt\":\"2025-08-20T04:46:04.508Z\"}",
                          "chat_id": "cht_6dKWvwjk7XoS2tTzofA6Y",
                          "created_at": "2025-09-16T06:58:53.000000Z",
                          "id": 21,
                          "updated_at": "2025-09-16T06:58:53.000000Z"
                        },
                        {
                          "chat_file": "{\"chatId\":\"cht_xnFiX6PvbJTb8wblj_DiE\",\"ownerId\":\"auth0|688c126a9c56fa2fb8d96f1f\",\"agentId\":\"v2_agt_ueRuddzF\",\"messages\":[{\"id\":\"731add6ab391f\",\"role\":\"user\",\"content\":\"Qian XI Wah don't know. Kai, shut the scar.\",\"created_at\":\"2025-08-20T04:55:15.219Z\"},{\"role\":\"assistant\",\"content\":\"申し訳ありませんが、あなたのご質問が理解できませんでした。もう少し具体的に教えていただけますか？\",\"created_at\":\"2025-08-20T04:55:16.276Z\",\"id\":\"mor4QEza2vUcR\"}],\"externalId\":\"4c706cc0188fd_f2a369b3554d6\",\"origin\":\"https://studio.d-id.com\",\"createdAt\":\"2025-08-20T04:55:17.808Z\"}",
                          "chat_id": "cht_xnFiX6PvbJTb8wblj_DiE",
                          "created_at": "2025-09-16T06:58:53.000000Z",
                          "id": 22,
                          "updated_at": "2025-09-16T06:58:53.000000Z"
                        },
                        {
                          "chat_file": "{\"chatId\":\"cht_VNjPeVFNLcnOh0fnDzFHp\",\"ownerId\":\"auth0|688c126a9c56fa2fb8d96f1f\",\"agentId\":\"v2_agt_ueRuddzF\",\"messages\":[],\"externalId\":\"16953d1a3a669_a980cf7ed1cbe\",\"origin\":\"https://studio.d-id.com\",\"createdAt\":\"2025-08-21T02:25:51.490Z\"}",
                          "chat_id": "cht_VNjPeVFNLcnOh0fnDzFHp",
                          "created_at": "2025-09-16T06:58:53.000000Z",
                          "id": 23,
                          "updated_at": "2025-09-16T06:58:53.000000Z"
                        },
                        {
                          "chat_file": "{\"chatId\":\"cht_Uo10QxfuiGxMTnOET7vCY\",\"ownerId\":\"auth0|688c126a9c56fa2fb8d96f1f\",\"agentId\":\"v2_agt_ueRuddzF\",\"messages\":[{\"id\":\"2a9bb8529a4db\",\"role\":\"user\",\"content\":\"I met Aku Tua Kashtamari Kesama. Kesama is the other one I don't know.\",\"created_at\":\"2025-08-21T05:47:03.171Z\"},{\"role\":\"assistant\",\"content\":\"申し訳ありませんが、その情報は理解できませんでした。もう少し具体的に教えていただけますか？\",\"created_at\":\"2025-08-21T05:47:03.677Z\",\"id\":\"zYzKT6iqit_JQ\"},{\"id\":\"f31c89e5230d7\",\"role\":\"user\",\"content\":\"The idea loves him so Well yeah, but it's A to build up in Zealand, eh? They end up with the end of mAh.\",\"created_at\":\"2025-08-21T05:47:34.822Z\"},{\"role\":\"assistant\",\"content\":\"申し訳ありませんが、その内容は理解できませんでした。もう少し具体的に教えていただけますか？\",\"created_at\":\"2025-08-21T05:47:35.009Z\",\"id\":\"qi1WC4oK4HZPt\"},{\"id\":\"385d068cebc44\",\"role\":\"user\",\"content\":\"Hello, hello, hello.\",\"created_at\":\"2025-08-21T05:47:50.792Z\"},{\"role\":\"assistant\",\"content\":\"申し訳ありませんが、その情報は理解できませんでした。もう少し具体的に教えていただけますか？\",\"created_at\":\"2025-08-21T05:47:51.048Z\",\"id\":\"h3ALEaef_8-t2\"},{\"id\":\"39e1c981b9acb\",\"role\":\"user\",\"content\":\"Oh.\",\"created_at\":\"2025-08-21T05:48:04.396Z\"},{\"role\":\"assistant\",\"content\":\"こんにちは！何かお手伝いできることはありますか？\",\"created_at\":\"2025-08-21T05:48:04.840Z\",\"id\":\"nVtkZ0nHxBLAh\"}],\"externalId\":\"4c706cc0188fd_bd830eb2ea834\",\"origin\":\"https://studio.d-id.com\",\"createdAt\":\"2025-08-21T05:48:06.055Z\"}",
                          "chat_id": "cht_Uo10QxfuiGxMTnOET7vCY",
                          "created_at": "2025-09-16T06:58:53.000000Z",
                          "id": 24,
                          "updated_at": "2025-09-16T06:58:53.000000Z"
                        },
                        {
                          "chat_file": "{\"chatId\":\"cht_sgRM6rQv_k5mmiZZtDLqY\",\"ownerId\":\"auth0|688c126a9c56fa2fb8d96f1f\",\"agentId\":\"v2_agt_ueRuddzF\",\"messages\":[{\"id\":\"e23d150a68ab8\",\"role\":\"user\",\"content\":\"What's the?\",\"created_at\":\"2025-09-01T04:03:55.706Z\"},{\"role\":\"assistant\",\"content\":\"\",\"created_at\":\"2025-09-01T04:03:56.744Z\",\"id\":\"QwbLPYlVvntbL\"}],\"externalId\":\"4c706cc0188fd_cbeac2d3bb69b\",\"origin\":\"https://studio.d-id.com\",\"createdAt\":\"2025-09-01T04:03:56.850Z\"}",
                          "chat_id": "cht_sgRM6rQv_k5mmiZZtDLqY",
                          "created_at": "2025-09-16T06:58:53.000000Z",
                          "id": 25,
                          "updated_at": "2025-09-16T06:58:53.000000Z"
                        },
                        {
                          "chat_file": "{\"chatId\":\"cht_R3vRiKWuwYz8Ww9nLf1Dj\",\"ownerId\":\"auth0|688c126a9c56fa2fb8d96f1f\",\"agentId\":\"v2_agt_ueRuddzF\",\"messages\":[{\"id\":\"28c4e965d2cfc\",\"role\":\"user\",\"content\":\"Hi.\",\"created_at\":\"2025-09-01T05:54:36.116Z\"},{\"role\":\"assistant\",\"content\":\"こんにちは！何かお手伝いできることはありますか？\",\"created_at\":\"2025-09-01T05:54:36.490Z\",\"id\":\"r-iveERVMtcVz\"},{\"id\":\"f79a2f5440249\",\"role\":\"user\",\"content\":\"Dana rajakotala ukaubushi tehmans kala.\",\"created_at\":\"2025-09-01T05:54:47.411Z\"},{\"role\":\"assistant\",\"content\":\"申し訳ありませんが、その内容については理解できませんでした。もう少し具体的に教えていただけますか？\",\"created_at\":\"2025-09-01T05:54:47.777Z\",\"id\":\"5mel4hn7NxUwx\"},{\"id\":\"08bbf5a81ffec\",\"role\":\"user\",\"content\":\"I was not GIC. I say no hushawa de arimasu ka.\",\"created_at\":\"2025-09-01T05:55:07.410Z\"},{\"role\":\"assistant\",\"content\":\"申し訳ありませんが、内容がよく理解できませんでした。もう少し具体的に教えていただけますか？\",\"created_at\":\"2025-09-01T05:55:07.903Z\",\"id\":\"1etc0t9W0oZg_\"},{\"id\":\"f0ba02a10a9eb\",\"role\":\"user\",\"content\":\"Hi, Jay Seaman Donna Krishna.\",\"created_at\":\"2025-09-01T05:55:23.034Z\"},{\"role\":\"assistant\",\"content\":\"申し訳ありませんが、その内容については理解できませんでした。もう少し具体的に教えていただけますか？\",\"created_at\":\"2025-09-01T05:55:23.381Z\",\"id\":\"9_WLjMCV4OSpm\"}],\"externalId\":\"4c706cc0188fd_7affbf64c5bef\",\"origin\":\"https://studio.d-id.com\",\"createdAt\":\"2025-09-01T05:55:24.702Z\"}",
                          "chat_id": "cht_R3vRiKWuwYz8Ww9nLf1Dj",
                          "created_at": "2025-09-16T06:58:53.000000Z",
                          "id": 26,
                          "updated_at": "2025-09-16T06:58:53.000000Z"
                        },
                        {
                          "chat_file": "{\"chatId\":\"cht_W2EmiX--gZLXuqXIQJoJX\",\"ownerId\":\"auth0|688c126a9c56fa2fb8d96f1f\",\"agentId\":\"v2_agt_ueRuddzF\",\"messages\":[{\"role\":\"user\",\"content\":\"[足音] こんにちは。[足音] ニキエイシンは、どんな会社ですか？\",\"created_at\":\"2025-09-01T06:28:07.105Z\",\"id\":\"cSpFTHT0B1tpS\"},{\"role\":\"assistant\",\"content\":\"ニキエイシンは、グローバルイノベーションコンサルティング株式会社で、2011年4月に設立されました。主な事業内容はIT事業、人的資源事業、教育事業です。日本国内に宮崎にあしょあセンターを持ち、海外にはミャンマーやシリコンバレーに拠点があります。\",\"created_at\":\"2025-09-01T06:28:07.063Z\",\"id\":\"S_xNg8w1cM8gE\"}],\"externalId\":\"auth0|688c126a9c56fa2fb8d96f1f\",\"origin\":\"https://docs.d-id.com\",\"createdAt\":\"2025-09-01T06:28:09.477Z\"}",
                          "chat_id": "cht_W2EmiX--gZLXuqXIQJoJX",
                          "created_at": "2025-09-16T06:58:53.000000Z",
                          "id": 27,
                          "updated_at": "2025-09-16T06:58:53.000000Z"
                        },
                        {
                          "chat_file": "{\"chatId\":\"cht_ONdi25NQT3G3ZQiK94cKy\",\"ownerId\":\"auth0|688c126a9c56fa2fb8d96f1f\",\"agentId\":\"v2_agt_ueRuddzF\",\"messages\":[{\"id\":\"780d51e093a64\",\"role\":\"user\",\"content\":\"What is Chiang Sing?\",\"created_at\":\"2025-09-01T07:11:49.188Z\"},{\"role\":\"assistant\",\"content\":\"申し訳ありませんが、「Chiang Sing」についての情報は持っていません。別の質問があればお知らせください。\",\"created_at\":\"2025-09-01T07:11:49.524Z\",\"id\":\"f4UDCTS8c79BG\"},{\"id\":\"197428152f8de\",\"role\":\"user\",\"content\":\"How are you?\",\"created_at\":\"2025-09-01T07:12:05.369Z\"},{\"role\":\"assistant\",\"content\":\"申し訳ありませんが、その質問は理解できませんでした。別の質問をしていただけますか？\",\"created_at\":\"2025-09-01T07:12:05.428Z\",\"id\":\"fH1RxW-BxIEOl\"}],\"externalId\":\"4c706cc0188fd_d44043b7c8a60\",\"origin\":\"https://studio.d-id.com\",\"createdAt\":\"2025-09-01T07:12:06.799Z\"}",
                          "chat_id": "cht_ONdi25NQT3G3ZQiK94cKy",
                          "created_at": "2025-09-16T06:58:53.000000Z",
                          "id": 28,
                          "updated_at": "2025-09-16T06:58:53.000000Z"
                        },
                        {
                          "chat_file": "{\"chatId\":\"cht_1_Ikmk_pDr4h1Yj8TFWHD\",\"ownerId\":\"auth0|688c126a9c56fa2fb8d96f1f\",\"agentId\":\"v2_agt_ueRuddzF\",\"messages\":[],\"externalId\":\"4c706cc0188fd_0c48705e3e829\",\"origin\":\"https://studio.d-id.com\",\"createdAt\":\"2025-09-01T08:22:01.849Z\"}",
                          "chat_id": "cht_1_Ikmk_pDr4h1Yj8TFWHD",
                          "created_at": "2025-09-16T06:58:53.000000Z",
                          "id": 29,
                          "updated_at": "2025-09-16T06:58:53.000000Z"
                        },
                        {
                          "chat_file": "{\"chatId\":\"cht_umgRoCZhpdqoMW368cDKS\",\"ownerId\":\"auth0|688c126a9c56fa2fb8d96f1f\",\"agentId\":\"v2_agt_ueRuddzF\",\"messages\":[{\"role\":\"user\",\"content\":\"こんにちは。\",\"created_at\":\"2025-09-05T04:34:43.139Z\",\"id\":\"f4eDfyn2-l-I_\"},{\"role\":\"assistant\",\"content\":\"Hello! How can I assist you today?\",\"created_at\":\"2025-09-05T04:34:43.974Z\",\"id\":\"LxG4-pvo9ZlCP\"}],\"externalId\":\"auth0|688c126a9c56fa2fb8d96f1f\",\"createdAt\":\"2025-09-05T04:34:45.301Z\"}",
                          "chat_id": "cht_umgRoCZhpdqoMW368cDKS",
                          "created_at": "2025-09-16T06:58:53.000000Z",
                          "id": 30,
                          "updated_at": "2025-09-16T06:58:53.000000Z"
                        },
                        {
                          "chat_file": "{\"chatId\":\"cht_YljgK-IdxYHVGjGsV6hdD\",\"ownerId\":\"auth0|688c126a9c56fa2fb8d96f1f\",\"agentId\":\"v2_agt_ueRuddzF\",\"messages\":[{\"role\":\"user\",\"content\":\"[軽快なBGM]\",\"created_at\":\"2025-09-05T04:35:01.207Z\",\"id\":\"0_qH_0peE30LO\"},{\"role\":\"assistant\",\"content\":\"I apologize, but I didn't understand your request. Could you please clarify what you need?\",\"created_at\":\"2025-09-05T04:35:01.650Z\",\"id\":\"jH6wjXoTSzbYu\"}],\"externalId\":\"auth0|688c126a9c56fa2fb8d96f1f\",\"createdAt\":\"2025-09-05T04:35:02.806Z\"}",
                          "chat_id": "cht_YljgK-IdxYHVGjGsV6hdD",
                          "created_at": "2025-09-16T06:58:53.000000Z",
                          "id": 31,
                          "updated_at": "2025-09-16T06:58:53.000000Z"
                        },
                        {
                          "chat_file": "{\"chatId\":\"cht_fgGj6wGSxz_TH5rrltnU5\",\"ownerId\":\"auth0|688c126a9c56fa2fb8d96f1f\",\"agentId\":\"v2_agt_ueRuddzF\",\"messages\":[{\"role\":\"user\",\"content\":\"[背景音楽] ちなみに一回の試合はどんな感じでしたか。\",\"created_at\":\"2025-09-08T07:55:18.688Z\",\"id\":\"DaWwReZDLW2kl\"},{\"role\":\"assistant\",\"content\":\"I'm sorry, but I didn't understand your question. Could you please clarify what you would like to know?\",\"created_at\":\"2025-09-08T07:55:18.731Z\",\"id\":\"L_5ghBe6Zfxv2\"}],\"externalId\":\"auth0|688c126a9c56fa2fb8d96f1f\",\"createdAt\":\"2025-09-08T07:55:20.634Z\"}",
                          "chat_id": "cht_fgGj6wGSxz_TH5rrltnU5",
                          "created_at": "2025-09-16T06:58:53.000000Z",
                          "id": 32,
                          "updated_at": "2025-09-16T06:58:53.000000Z"
                        },
                        {
                          "chat_file": "{\"chatId\":\"cht_IYIZvLooTr1gq9_TaOdLL\",\"ownerId\":\"auth0|688c126a9c56fa2fb8d96f1f\",\"agentId\":\"v2_agt_ueRuddzF\",\"messages\":[{\"role\":\"user\",\"content\":\"こんにちは。\",\"created_at\":\"2025-09-08T07:55:45.019Z\",\"id\":\"WVLKD7pYtLQ2x\"},{\"role\":\"assistant\",\"content\":\"Hello! How can I assist you today?\",\"created_at\":\"2025-09-08T07:55:45.361Z\",\"id\":\"huTS4q8NP5kvS\"}],\"externalId\":\"auth0|688c126a9c56fa2fb8d96f1f\",\"createdAt\":\"2025-09-08T07:55:46.828Z\"}",
                          "chat_id": "cht_IYIZvLooTr1gq9_TaOdLL",
                          "created_at": "2025-09-16T06:58:53.000000Z",
                          "id": 33,
                          "updated_at": "2025-09-16T06:58:53.000000Z"
                        },
                        {
                          "chat_file": "{\"chatId\":\"cht_TFNv21t7KKw3QNWVghl4t\",\"ownerId\":\"auth0|688c126a9c56fa2fb8d96f1f\",\"agentId\":\"v2_agt_ueRuddzF\",\"messages\":[{\"role\":\"user\",\"content\":\"[背景音楽] こんにちは。今日のシンはどんな感想ですか？\",\"created_at\":\"2025-09-08T08:05:03.248Z\",\"id\":\"AwWV6Qx09huWw\"},{\"role\":\"assistant\",\"content\":\"I apologize, but I didn't understand your question. Could you please clarify what you would like to know?\",\"created_at\":\"2025-09-08T08:05:03.262Z\",\"id\":\"iUf_ibKl5X-SJ\"}],\"externalId\":\"auth0|688c126a9c56fa2fb8d96f1f\",\"createdAt\":\"2025-09-08T08:05:04.460Z\"}",
                          "chat_id": "cht_TFNv21t7KKw3QNWVghl4t",
                          "created_at": "2025-09-16T06:58:53.000000Z",
                          "id": 34,
                          "updated_at": "2025-09-16T06:58:53.000000Z"
                        },
                        {
                          "chat_file": "{\"chatId\":\"cht_qobptKTf3QOEY_C4JD4ZE\",\"ownerId\":\"auth0|688c126a9c56fa2fb8d96f1f\",\"agentId\":\"v2_agt_ueRuddzF\",\"messages\":[{\"role\":\"user\",\"content\":\"あ、めだめ。ハロー。ハーイヨウ？\",\"created_at\":\"2025-09-08T08:10:27.924Z\",\"id\":\"Or29Lsw6uZL6J\"},{\"role\":\"assistant\",\"content\":\"Hello! How can I assist you today?\",\"created_at\":\"2025-09-08T08:10:27.962Z\",\"id\":\"lKhXeGt3eat3_\"}],\"externalId\":\"auth0|688c126a9c56fa2fb8d96f1f\",\"createdAt\":\"2025-09-08T08:10:28.875Z\"}",
                          "chat_id": "cht_qobptKTf3QOEY_C4JD4ZE",
                          "created_at": "2025-09-16T06:58:53.000000Z",
                          "id": 35,
                          "updated_at": "2025-09-16T06:58:53.000000Z"
                        },
                        {
                          "chat_file": "{\"chatId\":\"cht_3hoYVoN_BMLK-P2L9BCFr\",\"ownerId\":\"auth0|688c126a9c56fa2fb8d96f1f\",\"agentId\":\"v2_agt_ueRuddzF\",\"messages\":[{\"role\":\"user\",\"content\":\"[背景音楽]\",\"created_at\":\"2025-09-08T08:10:42.493Z\",\"id\":\"o4X9N4s-zUUxN\"},{\"role\":\"assistant\",\"content\":\"I apologize, but I didn't understand your request. Could you please clarify what you need?\",\"created_at\":\"2025-09-08T08:10:42.595Z\",\"id\":\"pL5NTDFmeUmYG\"}],\"externalId\":\"auth0|688c126a9c56fa2fb8d96f1f\",\"createdAt\":\"2025-09-08T08:10:44.003Z\"}",
                          "chat_id": "cht_3hoYVoN_BMLK-P2L9BCFr",
                          "created_at": "2025-09-16T06:58:53.000000Z",
                          "id": 36,
                          "updated_at": "2025-09-16T06:58:53.000000Z"
                        },
                        {
                          "chat_file": "{\"chatId\":\"cht_5jKYKRU9z4XYJrpSYkwq1\",\"ownerId\":\"auth0|688c126a9c56fa2fb8d96f1f\",\"agentId\":\"v2_agt_ueRuddzF\",\"messages\":[{\"role\":\"user\",\"content\":\"Yeah. Which language do you know?\",\"created_at\":\"2025-09-08T08:10:59.002Z\",\"id\":\"bF-mLxufKHI3O\"},{\"role\":\"assistant\",\"content\":\"I can communicate in English and Japanese. Is there anything else you need assistance with?\",\"created_at\":\"2025-09-08T08:10:59.479Z\",\"id\":\"URjprm7TEeHf4\"}],\"externalId\":\"auth0|688c126a9c56fa2fb8d96f1f\",\"createdAt\":\"2025-09-08T08:11:01.063Z\"}",
                          "chat_id": "cht_5jKYKRU9z4XYJrpSYkwq1",
                          "created_at": "2025-09-16T06:58:53.000000Z",
                          "id": 37,
                          "updated_at": "2025-09-16T06:58:53.000000Z"
                        },
                        {
                          "chat_file": "{\"chatId\":\"cht_pJuIHJOrioT6yw1cvReLU\",\"ownerId\":\"auth0|688c126a9c56fa2fb8d96f1f\",\"agentId\":\"v2_agt_ueRuddzF\",\"messages\":[{\"role\":\"user\",\"content\":\"[背景の雑音]あー、\",\"created_at\":\"2025-09-08T08:11:08.166Z\",\"id\":\"8SM0r1lDIueRk\"},{\"role\":\"assistant\",\"content\":\"I apologize, but I didn't understand your message. Could you please clarify or let me know how I can assist you?\",\"created_at\":\"2025-09-08T08:11:08.735Z\",\"id\":\"MWJh9K9TZjP1l\"}],\"externalId\":\"auth0|688c126a9c56fa2fb8d96f1f\",\"createdAt\":\"2025-09-08T08:11:10.306Z\"}",
                          "chat_id": "cht_pJuIHJOrioT6yw1cvReLU",
                          "created_at": "2025-09-16T06:58:53.000000Z",
                          "id": 38,
                          "updated_at": "2025-09-16T06:58:53.000000Z"
                        },
                        {
                          "chat_file": "{\"chatId\":\"cht_Bak1Sjqq0ug_pjTB4ozdF\",\"ownerId\":\"auth0|688c126a9c56fa2fb8d96f1f\",\"agentId\":\"v2_agt_ueRuddzF\",\"messages\":[{\"role\":\"user\",\"content\":\"Ah, so in the time we can say Japanese.\",\"created_at\":\"2025-09-08T08:11:14.191Z\",\"id\":\"c7dIgCIIFEiPP\"},{\"role\":\"assistant\",\"content\":\"I appreciate your understanding! If you have any questions or need assistance, feel free to ask. How can I help you today?\",\"created_at\":\"2025-09-08T08:11:14.241Z\",\"id\":\"6j3AIcXhWqR7G\"}],\"externalId\":\"auth0|688c126a9c56fa2fb8d96f1f\",\"createdAt\":\"2025-09-08T08:11:15.792Z\"}",
                          "chat_id": "cht_Bak1Sjqq0ug_pjTB4ozdF",
                          "created_at": "2025-09-16T06:58:53.000000Z",
                          "id": 39,
                          "updated_at": "2025-09-16T06:58:53.000000Z"
                        },
                        {
                          "chat_file": "{\"chatId\":\"cht_e9SokJQYturDshnLnd6xe\",\"ownerId\":\"auth0|688c126a9c56fa2fb8d96f1f\",\"agentId\":\"v2_agt_ueRuddzF\",\"messages\":[{\"role\":\"user\",\"content\":\"[背景音楽] Hello。かいの。チアーズカンパニー。\",\"created_at\":\"2025-09-08T08:27:30.508Z\",\"id\":\"h4iFvsM1AJbBN\"},{\"role\":\"assistant\",\"content\":\"Hello! Thank you for reaching out. How can I assist you today?\",\"created_at\":\"2025-09-08T08:27:30.715Z\",\"id\":\"Xf5g8hYZMtPom\"}],\"externalId\":\"auth0|688c126a9c56fa2fb8d96f1f\",\"createdAt\":\"2025-09-08T08:27:32.578Z\"}",
                          "chat_id": "cht_e9SokJQYturDshnLnd6xe",
                          "created_at": "2025-09-16T06:58:53.000000Z",
                          "id": 40,
                          "updated_at": "2025-09-16T06:58:53.000000Z"
                        },
                        {
                          "chat_file": "{\"chatId\":\"cht_7XxevnvrNEZino2kcPerX\",\"ownerId\":\"auth0|688c126a9c56fa2fb8d96f1f\",\"agentId\":\"v2_agt_ueRuddzF\",\"messages\":[{\"role\":\"user\",\"content\":\"Can I know about the company or GNC?\",\"created_at\":\"2025-09-08T08:27:46.390Z\",\"id\":\"Vdm4tc_4q5wxi\"},{\"role\":\"assistant\",\"content\":\"I apologize, but I didn't understand your request clearly. Could you please specify what information you are looking for regarding the company?\",\"created_at\":\"2025-09-08T08:27:46.386Z\",\"id\":\"VKjSglxztxN6G\"}],\"externalId\":\"auth0|688c126a9c56fa2fb8d96f1f\",\"createdAt\":\"2025-09-08T08:27:47.787Z\"}",
                          "chat_id": "cht_7XxevnvrNEZino2kcPerX",
                          "created_at": "2025-09-16T06:58:53.000000Z",
                          "id": 41,
                          "updated_at": "2025-09-16T06:58:53.000000Z"
                        },
                        {
                          "chat_file": "{\"chatId\":\"cht_Ymp44Qp0CMfNXjSzE9h9q\",\"ownerId\":\"auth0|688c126a9c56fa2fb8d96f1f\",\"agentId\":\"v2_agt_ueRuddzF\",\"messages\":[{\"role\":\"user\",\"content\":\"Okay, so can-\",\"created_at\":\"2025-09-08T08:27:59.498Z\",\"id\":\"sEmeUczyqbp4A\"},{\"role\":\"assistant\",\"content\":\"I apologize, but I didn't understand your request. Could you please clarify what you would like to know?\",\"created_at\":\"2025-09-08T08:27:59.758Z\",\"id\":\"0fHE8Xa1ERSVH\"}],\"externalId\":\"auth0|688c126a9c56fa2fb8d96f1f\",\"createdAt\":\"2025-09-08T08:28:00.809Z\"}",
                          "chat_id": "cht_Ymp44Qp0CMfNXjSzE9h9q",
                          "created_at": "2025-09-16T06:58:53.000000Z",
                          "id": 42,
                          "updated_at": "2025-09-16T06:58:53.000000Z"
                        },
                        {
                          "chat_file": "{\"chatId\":\"cht_1XCF4RW2yv65xihV6sKGt\",\"ownerId\":\"auth0|688c126a9c56fa2fb8d96f1f\",\"agentId\":\"v2_agt_ueRuddzF\",\"messages\":[{\"role\":\"user\",\"content\":\"Can I know about the agency company?\",\"created_at\":\"2025-09-08T08:28:26.214Z\",\"id\":\"_JtV05A8D-UxQ\"},{\"role\":\"assistant\",\"content\":\"The agency company is called Global Innovation Consulting Co., Ltd. It is located in Sumida, Tokyo, and was established on April 1, 2011. The capital is 400 million yen, with 348 employees, including 15 Japanese and 333 Myanmar nationals. The representative director is Iwanaga Tomoyuki. If you need more specific information, please let me know!\",\"created_at\":\"2025-09-08T08:28:26.237Z\",\"id\":\"Ehh3-CqcS3Eqy\"}],\"externalId\":\"auth0|688c126a9c56fa2fb8d96f1f\",\"createdAt\":\"2025-09-08T08:28:28.754Z\"}",
                          "chat_id": "cht_1XCF4RW2yv65xihV6sKGt",
                          "created_at": "2025-09-16T06:58:53.000000Z",
                          "id": 43,
                          "updated_at": "2025-09-16T06:58:53.000000Z"
                        },
                        {
                          "chat_file": "{\"chatId\":\"cht_9p-IZUzC_b4C18yDh-Khu\",\"ownerId\":\"auth0|688c126a9c56fa2fb8d96f1f\",\"agentId\":\"v2_agt_ueRuddzF\",\"messages\":[{\"role\":\"user\",\"content\":\"[笑い] Okay, thank you.\",\"created_at\":\"2025-09-08T08:29:07.809Z\",\"id\":\"akqK43TQsJyJ1\"},{\"role\":\"assistant\",\"content\":\"You're welcome! If you need anything else, feel free to ask.\",\"created_at\":\"2025-09-08T08:29:07.845Z\",\"id\":\"jyiMEZCQtvU_S\"}],\"externalId\":\"auth0|688c126a9c56fa2fb8d96f1f\",\"createdAt\":\"2025-09-08T08:29:09.618Z\"}",
                          "chat_id": "cht_9p-IZUzC_b4C18yDh-Khu",
                          "created_at": "2025-09-16T06:58:53.000000Z",
                          "id": 44,
                          "updated_at": "2025-09-16T06:58:53.000000Z"
                        },
                        {
                          "chat_file": "{\"chatId\":\"cht_F3TnDM7dU0k1BHreAGOZS\",\"ownerId\":\"auth0|688c126a9c56fa2fb8d96f1f\",\"agentId\":\"v2_agt_ueRuddzF\",\"messages\":[{\"role\":\"user\",\"content\":\"[バックグラウンドの高次元の音]\",\"created_at\":\"2025-09-09T01:39:51.806Z\",\"id\":\"E4JEYbi-nzRw4\"},{\"role\":\"assistant\",\"content\":\"I apologize, but I didn't understand your request. Could you please clarify what you would like to know?\",\"created_at\":\"2025-09-09T01:39:51.799Z\",\"id\":\"q_cB-K00YVHGG\"}],\"externalId\":\"auth0|688c126a9c56fa2fb8d96f1f\",\"createdAt\":\"2025-09-09T01:39:53.157Z\"}",
                          "chat_id": "cht_F3TnDM7dU0k1BHreAGOZS",
                          "created_at": "2025-09-16T06:58:53.000000Z",
                          "id": 45,
                          "updated_at": "2025-09-16T06:58:53.000000Z"
                        },
                        {
                          "chat_file": "{\"chatId\":\"cht_jPuQXLBEtTcwjMLAzkGix\",\"ownerId\":\"auth0|688c126a9c56fa2fb8d96f1f\",\"agentId\":\"v2_agt_ueRuddzF\",\"messages\":[{\"role\":\"user\",\"content\":\"こんにちは。\",\"created_at\":\"2025-09-09T01:39:59.477Z\",\"id\":\"9Bnf8c_mC4Xl9\"},{\"role\":\"assistant\",\"content\":\"Hello! How can I assist you today?\",\"created_at\":\"2025-09-09T01:39:59.486Z\",\"id\":\"kyttVvrZreUq_\"}],\"externalId\":\"auth0|688c126a9c56fa2fb8d96f1f\",\"createdAt\":\"2025-09-09T01:40:00.455Z\"}",
                          "chat_id": "cht_jPuQXLBEtTcwjMLAzkGix",
                          "created_at": "2025-09-16T06:58:53.000000Z",
                          "id": 46,
                          "updated_at": "2025-09-16T06:58:53.000000Z"
                        },
                        {
                          "chat_file": "{\"chatId\":\"cht_g3QgJosbaTj7nvCHXLP1S\",\"ownerId\":\"auth0|688c126a9c56fa2fb8d96f1f\",\"agentId\":\"v2_agt_ueRuddzF\",\"messages\":[{\"role\":\"user\",\"content\":\"うん。次に誰？何人いたらいいんだ？\",\"created_at\":\"2025-09-09T01:40:29.743Z\",\"id\":\"rod4XM1u0SbLa\"},{\"role\":\"assistant\",\"content\":\"I apologize, but I didn't understand your question. Could you please clarify what you mean?\",\"created_at\":\"2025-09-09T01:40:30.016Z\",\"id\":\"6czWWpnHji82N\"}],\"externalId\":\"auth0|688c126a9c56fa2fb8d96f1f\",\"createdAt\":\"2025-09-09T01:40:31.366Z\"}",
                          "chat_id": "cht_g3QgJosbaTj7nvCHXLP1S",
                          "created_at": "2025-09-16T06:58:53.000000Z",
                          "id": 47,
                          "updated_at": "2025-09-16T06:58:53.000000Z"
                        },
                        {
                          "chat_file": "{\"chatId\":\"cht_dQQzWTH48qoh3FR4j6T9G\",\"ownerId\":\"auth0|688c126a9c56fa2fb8d96f1f\",\"agentId\":\"v2_agt_ueRuddzF\",\"messages\":[{\"role\":\"user\",\"content\":\"おはようございます。\",\"created_at\":\"2025-09-09T01:46:45.955Z\",\"id\":\"-vDvgBS6GtueG\"},{\"role\":\"assistant\",\"content\":\"Good morning! How can I assist you today?\",\"created_at\":\"2025-09-09T01:46:46.541Z\",\"id\":\"2NJMGPv4f317i\"}],\"externalId\":\"auth0|688c126a9c56fa2fb8d96f1f\",\"createdAt\":\"2025-09-09T01:46:47.670Z\"}",
                          "chat_id": "cht_dQQzWTH48qoh3FR4j6T9G",
                          "created_at": "2025-09-16T06:58:53.000000Z",
                          "id": 48,
                          "updated_at": "2025-09-16T06:58:53.000000Z"
                        },
                        {
                          "chat_file": "{\"chatId\":\"cht_s3zHLciP-s7r8D9QO74L9\",\"ownerId\":\"auth0|688c126a9c56fa2fb8d96f1f\",\"agentId\":\"v2_agt_ueRuddzF\",\"messages\":[{\"role\":\"user\",\"content\":\"[背景で話し声] こんにちは。じぇーじぇーがーです。\",\"created_at\":\"2025-09-09T05:31:53.192Z\",\"id\":\"ZE-cdck-tONBt\"},{\"role\":\"assistant\",\"content\":\"Hello! How can I assist you today?\",\"created_at\":\"2025-09-09T05:31:57.865Z\",\"id\":\"xvn-vP_vfXMb-\"}],\"externalId\":\"auth0|688c126a9c56fa2fb8d96f1f\",\"createdAt\":\"2025-09-09T05:31:58.955Z\"}",
                          "chat_id": "cht_s3zHLciP-s7r8D9QO74L9",
                          "created_at": "2025-09-16T06:58:53.000000Z",
                          "id": 49,
                          "updated_at": "2025-09-16T06:58:53.000000Z"
                        },
                        {
                          "chat_file": "{\"chatId\":\"cht_lipQOVr50TL65Yq-qvDws\",\"ownerId\":\"auth0|688c126a9c56fa2fb8d96f1f\",\"agentId\":\"v2_agt_ueRuddzF\",\"messages\":[{\"role\":\"user\",\"content\":\"[背景音楽]\",\"created_at\":\"2025-09-09T05:32:21.512Z\",\"id\":\"QWUStGVGzwZGp\"},{\"role\":\"assistant\",\"content\":\"I apologize, but I didn't understand your request. Could you please clarify what you need?\",\"created_at\":\"2025-09-09T05:32:26.230Z\",\"id\":\"53PGHU-TDaWFY\"}],\"externalId\":\"auth0|688c126a9c56fa2fb8d96f1f\",\"createdAt\":\"2025-09-09T05:32:27.904Z\"}",
                          "chat_id": "cht_lipQOVr50TL65Yq-qvDws",
                          "created_at": "2025-09-16T06:58:53.000000Z",
                          "id": 50,
                          "updated_at": "2025-09-16T06:58:53.000000Z"
                        },
                        {
                          "chat_file": "{\"chatId\":\"cht_qclXaouI0gmN-vatOFlex\",\"ownerId\":\"auth0|688c126a9c56fa2fb8d96f1f\",\"agentId\":\"v2_agt_ueRuddzF\",\"messages\":[{\"id\":\"92b28f982be9f\",\"role\":\"user\",\"content\":\"Jessie Shivaji Chaudhary.\",\"created_at\":\"2025-09-09T05:41:19.855Z\"},{\"role\":\"assistant\",\"content\":\"I'm sorry, but I didn't understand your request. Could you please clarify what you would like to know?\",\"created_at\":\"2025-09-09T05:41:24.724Z\",\"id\":\"LUZXSkTJfz8aV\"}],\"externalId\":\"4c706cc0188fd_a99a70db99a57\",\"origin\":\"https://studio.d-id.com\",\"createdAt\":\"2025-09-09T05:41:26.024Z\"}",
                          "chat_id": "cht_qclXaouI0gmN-vatOFlex",
                          "created_at": "2025-09-16T06:58:53.000000Z",
                          "id": 51,
                          "updated_at": "2025-09-16T06:58:53.000000Z"
                        },
                        {
                          "chat_file": "{\"chatId\":\"cht_MpIvLepXPgajYYNVRYTRZ\",\"ownerId\":\"auth0|688c126a9c56fa2fb8d96f1f\",\"agentId\":\"v2_agt_ueRuddzF\",\"messages\":[{\"id\":\"b13213208db0b\",\"role\":\"user\",\"content\":\"Have you got all kayak BU?\",\"created_at\":\"2025-09-09T05:43:31.122Z\"},{\"role\":\"assistant\",\"content\":\"申し訳ありませんが、その質問の意味がわかりませんでした。もう少し具体的に教えていただけますか？\",\"created_at\":\"2025-09-09T05:43:35.949Z\",\"id\":\"S4HaEdUAhWBVu\"},{\"id\":\"583087ebd9f02\",\"role\":\"user\",\"content\":\"GIC はどんな会社ですか。\",\"created_at\":\"2025-09-09T05:43:51.802Z\"},{\"role\":\"assistant\",\"content\":\"GICは、グローバルイノベーションコンサルティング株式会社で、2011年4月に設立されました。主にIT業界、デジタルトランスフォーメーション、ミャンマー人材関連ビジネスに従事しています。社員数は348名で、ミャンマーを中心に様々なサービスを提供しています。\",\"created_at\":\"2025-09-09T05:43:56.693Z\",\"id\":\"lOAGAxswE_e6D\"}],\"externalId\":\"4c706cc0188fd_64e3fcffedf9d\",\"origin\":\"https://studio.d-id.com\",\"createdAt\":\"2025-09-09T05:43:59.165Z\"}",
                          "chat_id": "cht_MpIvLepXPgajYYNVRYTRZ",
                          "created_at": "2025-09-16T06:58:53.000000Z",
                          "id": 52,
                          "updated_at": "2025-09-16T06:58:53.000000Z"
                        },
                        {
                          "chat_file": "{\"chatId\":\"cht_VFufiNdPMQ4qpD-LXD8u0\",\"ownerId\":\"auth0|688c126a9c56fa2fb8d96f1f\",\"agentId\":\"v2_agt_ueRuddzF\",\"messages\":[{\"role\":\"user\",\"content\":\"[背景音楽]\",\"created_at\":\"2025-09-09T05:44:23.025Z\",\"id\":\"k72fyjT5mTCSy\"},{\"role\":\"assistant\",\"content\":\"\",\"created_at\":\"2025-09-09T05:44:27.468Z\",\"id\":\"t1KQBZhfbdzMc\"}],\"externalId\":\"auth0|688c126a9c56fa2fb8d96f1f\",\"createdAt\":\"2025-09-09T05:44:27.859Z\"}",
                          "chat_id": "cht_VFufiNdPMQ4qpD-LXD8u0",
                          "created_at": "2025-09-16T06:58:53.000000Z",
                          "id": 53,
                          "updated_at": "2025-09-16T06:58:53.000000Z"
                        },
                        {
                          "chat_file": "{\"chatId\":\"cht_ROPC6kyFcUgdfBEOmTSKE\",\"ownerId\":\"auth0|688c126a9c56fa2fb8d96f1f\",\"agentId\":\"v2_agt_ueRuddzF\",\"messages\":[{\"role\":\"user\",\"content\":\"[外の騒音]\",\"created_at\":\"2025-09-09T05:44:56.986Z\",\"id\":\"gxfv03Fe4x7Dt\"},{\"role\":\"assistant\",\"content\":\"申し訳ありませんが、そのリクエストについては理解できませんでした。もう少し具体的に教えていただけますか？\",\"created_at\":\"2025-09-09T05:45:01.600Z\",\"id\":\"l-1yLAaTsesdx\"}],\"externalId\":\"auth0|688c126a9c56fa2fb8d96f1f\",\"createdAt\":\"2025-09-09T05:45:03.026Z\"}",
                          "chat_id": "cht_ROPC6kyFcUgdfBEOmTSKE",
                          "created_at": "2025-09-16T06:58:53.000000Z",
                          "id": 54,
                          "updated_at": "2025-09-16T06:58:53.000000Z"
                        },
                        {
                          "chat_file": "{\"chatId\":\"cht_CcLDbeSmfmmzjgjr1xyeB\",\"ownerId\":\"auth0|688c126a9c56fa2fb8d96f1f\",\"agentId\":\"v2_agt_ueRuddzF\",\"messages\":[{\"role\":\"user\",\"content\":\"[背景音楽]\",\"created_at\":\"2025-09-09T05:45:14.505Z\",\"id\":\"ylm2v9JjDQdkV\"},{\"role\":\"assistant\",\"content\":\"申し訳ありませんが、そのリクエストについては理解できませんでした。別の質問やリクエストがあればお知らせください。\",\"created_at\":\"2025-09-09T05:45:19.259Z\",\"id\":\"tHp-w-Tie9x8j\"}],\"externalId\":\"auth0|688c126a9c56fa2fb8d96f1f\",\"createdAt\":\"2025-09-09T05:45:20.656Z\"}",
                          "chat_id": "cht_CcLDbeSmfmmzjgjr1xyeB",
                          "created_at": "2025-09-16T06:58:53.000000Z",
                          "id": 55,
                          "updated_at": "2025-09-16T06:58:53.000000Z"
                        },
                        {
                          "chat_file": "{\"chatId\":\"cht_KExLWhF5l9q-h6JKzcHlE\",\"ownerId\":\"auth0|688c126a9c56fa2fb8d96f1f\",\"agentId\":\"v2_agt_ueRuddzF\",\"messages\":[{\"role\":\"user\",\"content\":\"MNGICの本社はどこですか？\",\"created_at\":\"2025-09-09T05:45:31.027Z\",\"id\":\"uaF5Lmfu7HMla\"},{\"role\":\"assistant\",\"content\":\"MNGICの本社所在地は東京都墨田区緑1-21-10 ビーアールリョウ2 2階です。\",\"created_at\":\"2025-09-09T05:45:35.627Z\",\"id\":\"Fv39iD4lLLtnb\"}],\"externalId\":\"auth0|688c126a9c56fa2fb8d96f1f\",\"createdAt\":\"2025-09-09T05:45:37.444Z\"}",
                          "chat_id": "cht_KExLWhF5l9q-h6JKzcHlE",
                          "created_at": "2025-09-16T06:58:53.000000Z",
                          "id": 56,
                          "updated_at": "2025-09-16T06:58:53.000000Z"
                        },
                        {
                          "chat_file": "{\"chatId\":\"cht_n1qxYjyxs54hto_7WwehW\",\"ownerId\":\"auth0|688c126a9c56fa2fb8d96f1f\",\"agentId\":\"v2_agt_ueRuddzF\",\"messages\":[{\"role\":\"user\",\"content\":\"[マイクのノイズ] これを入れると、こういう風になる。\",\"created_at\":\"2025-09-10T02:36:28.441Z\",\"id\":\"V97i-jEWNjwDA\"},{\"role\":\"assistant\",\"content\":\"申し訳ありませんが、その内容については理解できませんでした。もう少し具体的に教えていただけますか？\",\"created_at\":\"2025-09-10T02:36:29.493Z\",\"id\":\"8pkLPWQoNRHIV\"}],\"externalId\":\"auth0|688c126a9c56fa2fb8d96f1f\",\"origin\":\"https://docs.d-id.com\",\"createdAt\":\"2025-09-10T02:36:31.275Z\"}",
                          "chat_id": "cht_n1qxYjyxs54hto_7WwehW",
                          "created_at": "2025-09-16T06:58:53.000000Z",
                          "id": 57,
                          "updated_at": "2025-09-16T06:58:53.000000Z"
                        },
                        {
                          "chat_file": "{\"chatId\":\"cht_pRApIpjooQ2BO6qG5QJVe\",\"ownerId\":\"auth0|688c126a9c56fa2fb8d96f1f\",\"agentId\":\"v2_agt_ueRuddzF\",\"messages\":[],\"externalId\":\"dfd789aa83e92_e52c610e72256\",\"origin\":\"https://studio.d-id.com\",\"createdAt\":\"2025-09-10T04:58:22.838Z\"}",
                          "chat_id": "cht_pRApIpjooQ2BO6qG5QJVe",
                          "created_at": "2025-09-16T06:58:53.000000Z",
                          "id": 58,
                          "updated_at": "2025-09-16T06:58:53.000000Z"
                        },
                        {
                          "chat_file": "{\"chatId\":\"cht_sVZfgNHASFKkth9oYgKtQ\",\"ownerId\":\"auth0|688c126a9c56fa2fb8d96f1f\",\"agentId\":\"v2_agt_ueRuddzF\",\"messages\":[{\"role\":\"user\",\"content\":\"[背景音楽] ハロー、ジャーラ？ジャーラ行けんとか。\",\"created_at\":\"2025-09-10T09:12:13.920Z\",\"id\":\"hyXECzEO46NzR\"},{\"role\":\"assistant\",\"content\":\"申し訳ありませんが、その内容については理解できませんでした。もう少し具体的に教えていただけますか？\",\"created_at\":\"2025-09-10T09:12:14.657Z\",\"id\":\"F4KAu5HZtKNc-\"}],\"externalId\":\"auth0|688c126a9c56fa2fb8d96f1f\",\"createdAt\":\"2025-09-10T09:12:16.104Z\"}",
                          "chat_id": "cht_sVZfgNHASFKkth9oYgKtQ",
                          "created_at": "2025-09-16T06:58:53.000000Z",
                          "id": 59,
                          "updated_at": "2025-09-16T06:58:53.000000Z"
                        },
                        {
                          "chat_file": "{\"chatId\":\"cht_8gtiFIXO-TDJwv75kI6q1\",\"ownerId\":\"auth0|688c126a9c56fa2fb8d96f1f\",\"agentId\":\"v2_agt_ueRuddzF\",\"messages\":[{\"role\":\"user\",\"content\":\"[電話の音]\",\"created_at\":\"2025-09-10T09:12:32.657Z\",\"id\":\"23Pd9n9RSC7Kv\"},{\"role\":\"assistant\",\"content\":\"申し訳ありませんが、何をお尋ねになりたいのか理解できませんでした。もう一度教えていただけますか？\",\"created_at\":\"2025-09-10T09:12:33.303Z\",\"id\":\"HcYZSR3xdOooi\"}],\"externalId\":\"auth0|688c126a9c56fa2fb8d96f1f\",\"createdAt\":\"2025-09-10T09:12:34.951Z\"}",
                          "chat_id": "cht_8gtiFIXO-TDJwv75kI6q1",
                          "created_at": "2025-09-16T06:58:53.000000Z",
                          "id": 60,
                          "updated_at": "2025-09-16T06:58:53.000000Z"
                        },
                        {
                          "chat_file": "{\"chatId\":\"cht_iaTDNOCv7KvB4m3TsjTYO\",\"ownerId\":\"auth0|688c126a9c56fa2fb8d96f1f\",\"agentId\":\"v2_agt_ueRuddzF\",\"messages\":[{\"role\":\"user\",\"content\":\"[背景音楽] うん。もしもし？\",\"created_at\":\"2025-09-10T09:12:57.357Z\",\"id\":\"80LemaukpcwJx\"},{\"role\":\"assistant\",\"content\":\"申し訳ありませんが、何をお尋ねになりたいのか理解できませんでした。もう一度教えていただけますか？\",\"created_at\":\"2025-09-10T09:12:58.303Z\",\"id\":\"dms-LO0eYBMOC\"}],\"externalId\":\"auth0|688c126a9c56fa2fb8d96f1f\",\"createdAt\":\"2025-09-10T09:13:00.209Z\"}",
                          "chat_id": "cht_iaTDNOCv7KvB4m3TsjTYO",
                          "created_at": "2025-09-16T06:58:53.000000Z",
                          "id": 61,
                          "updated_at": "2025-09-16T06:58:53.000000Z"
                        },
                        {
                          "chat_file": "{\"chatId\":\"cht_tgopCCj6M3CsJv-_YwvkR\",\"ownerId\":\"auth0|688c126a9c56fa2fb8d96f1f\",\"agentId\":\"v2_agt_ueRuddzF\",\"messages\":[{\"role\":\"user\",\"content\":\"[背景音楽]\",\"created_at\":\"2025-09-10T09:13:16.262Z\",\"id\":\"L_FSudsAYyyvt\"},{\"role\":\"assistant\",\"content\":\"申し訳ありませんが、その内容は理解できませんでした。もう少し具体的に教えていただけますか？\",\"created_at\":\"2025-09-10T09:13:17.240Z\",\"id\":\"xUoesQAn8vl4_\"}],\"externalId\":\"auth0|688c126a9c56fa2fb8d96f1f\",\"createdAt\":\"2025-09-10T09:13:18.616Z\"}",
                          "chat_id": "cht_tgopCCj6M3CsJv-_YwvkR",
                          "created_at": "2025-09-16T06:58:53.000000Z",
                          "id": 62,
                          "updated_at": "2025-09-16T06:58:53.000000Z"
                        },
                        {
                          "chat_file": "{\"chatId\":\"cht_KqU8itr5H3ETZ4TlcGq8t\",\"ownerId\":\"auth0|688c126a9c56fa2fb8d96f1f\",\"agentId\":\"v2_agt_ueRuddzF\",\"messages\":[{\"role\":\"user\",\"content\":\"[マイクのノイズ]\",\"created_at\":\"2025-09-10T09:15:39.576Z\",\"id\":\"2Nlx0Wf7BITs4\"},{\"role\":\"assistant\",\"content\":\"申し訳ありませんが、その内容については理解できませんでした。もう少し具体的に教えていただけますか？\",\"created_at\":\"2025-09-10T09:15:40.567Z\",\"id\":\"tC_Ne7LwTnZaV\"}],\"externalId\":\"auth0|688c126a9c56fa2fb8d96f1f\",\"createdAt\":\"2025-09-10T09:15:41.967Z\"}",
                          "chat_id": "cht_KqU8itr5H3ETZ4TlcGq8t",
                          "created_at": "2025-09-16T06:58:53.000000Z",
                          "id": 63,
                          "updated_at": "2025-09-16T06:58:53.000000Z"
                        },
                        {
                          "chat_file": "{\"chatId\":\"cht_qdAmsP1iWyUsgXz7jU_xk\",\"ownerId\":\"auth0|688c126a9c56fa2fb8d96f1f\",\"agentId\":\"v2_agt_ueRuddzF\",\"messages\":[{\"role\":\"user\",\"content\":\"[背景音楽]\",\"created_at\":\"2025-09-10T09:16:30.897Z\",\"id\":\"vj-mcQ7kIs7Hg\"},{\"role\":\"assistant\",\"content\":\"申し訳ありませんが、その内容については理解できませんでした。何か他にお手伝いできることはありますか？\",\"created_at\":\"2025-09-10T09:16:31.576Z\",\"id\":\"fngLsN5ghEXUL\"}],\"externalId\":\"auth0|688c126a9c56fa2fb8d96f1f\",\"createdAt\":\"2025-09-10T09:16:33.265Z\"}",
                          "chat_id": "cht_qdAmsP1iWyUsgXz7jU_xk",
                          "created_at": "2025-09-16T06:58:53.000000Z",
                          "id": 64,
                          "updated_at": "2025-09-16T06:58:53.000000Z"
                        },
                        {
                          "chat_file": "{\"chatId\":\"cht_Adsm49VV39vIBkou95Ryw\",\"ownerId\":\"auth0|688c126a9c56fa2fb8d96f1f\",\"agentId\":\"v2_agt_ueRuddzF\",\"messages\":[{\"role\":\"user\",\"content\":\"[背景音楽]ハローじゃあな。じゃあね、トゥーばイ。\",\"created_at\":\"2025-09-10T09:17:50.307Z\",\"id\":\"K_huIyCDGmFKS\"},{\"role\":\"assistant\",\"content\":\"申し訳ありませんが、その内容は理解できませんでした。もう少し具体的に教えていただけますか？\",\"created_at\":\"2025-09-10T09:17:50.980Z\",\"id\":\"O6s0hmA8kNclv\"}],\"externalId\":\"auth0|688c126a9c56fa2fb8d96f1f\",\"createdAt\":\"2025-09-10T09:17:52.500Z\"}",
                          "chat_id": "cht_Adsm49VV39vIBkou95Ryw",
                          "created_at": "2025-09-16T06:58:53.000000Z",
                          "id": 65,
                          "updated_at": "2025-09-16T06:58:53.000000Z"
                        },
                        {
                          "chat_file": "{\"chatId\":\"cht_SSa_Eoa9cqpTesfjrgA2H\",\"ownerId\":\"auth0|688c126a9c56fa2fb8d96f1f\",\"agentId\":\"v2_agt_ueRuddzF\",\"messages\":[{\"role\":\"user\",\"content\":\"いっ。うわぁ。ちょっと見てみますね。\",\"created_at\":\"2025-09-10T09:38:46.012Z\",\"id\":\"hFnGheOEWcbGd\"},{\"role\":\"assistant\",\"content\":\"何かお手伝いできることがあれば教えてください。\",\"created_at\":\"2025-09-10T09:38:46.430Z\",\"id\":\"Fvw864ruWs4qQ\"}],\"externalId\":\"auth0|688c126a9c56fa2fb8d96f1f\",\"createdAt\":\"2025-09-10T09:38:47.672Z\"}",
                          "chat_id": "cht_SSa_Eoa9cqpTesfjrgA2H",
                          "created_at": "2025-09-16T06:58:53.000000Z",
                          "id": 66,
                          "updated_at": "2025-09-16T06:58:53.000000Z"
                        },
                        {
                          "chat_file": "{\"chatId\":\"cht_tZOSjYou4mz4rQ7fnBdSM\",\"ownerId\":\"auth0|688c126a9c56fa2fb8d96f1f\",\"agentId\":\"v2_agt_ueRuddzF\",\"messages\":[],\"externalId\":\"auth0|688c126a9c56fa2fb8d96f1f\",\"createdAt\":\"2025-09-10T09:42:10.922Z\"}",
                          "chat_id": "cht_tZOSjYou4mz4rQ7fnBdSM",
                          "created_at": "2025-09-16T06:58:53.000000Z",
                          "id": 67,
                          "updated_at": "2025-09-16T06:58:53.000000Z"
                        },
                        {
                          "chat_file": "{\"chatId\":\"cht_liW79BwKJWog1OpLvrhaQ\",\"ownerId\":\"auth0|688c126a9c56fa2fb8d96f1f\",\"agentId\":\"v2_agt_ueRuddzF\",\"messages\":[{\"role\":\"user\",\"content\":\"[背景音楽]\",\"created_at\":\"2025-09-10T09:42:41.704Z\",\"id\":\"rUyk4bSpVq9IN\"},{\"role\":\"assistant\",\"content\":\"申し訳ありませんが、そのリクエストについては理解できませんでした。別の質問があればお知らせください。\",\"created_at\":\"2025-09-10T09:42:42.178Z\",\"id\":\"xB25v7tI1l5ny\"}],\"externalId\":\"auth0|688c126a9c56fa2fb8d96f1f\",\"createdAt\":\"2025-09-10T09:42:43.585Z\"}",
                          "chat_id": "cht_liW79BwKJWog1OpLvrhaQ",
                          "created_at": "2025-09-16T06:58:53.000000Z",
                          "id": 68,
                          "updated_at": "2025-09-16T06:58:53.000000Z"
                        },
                        {
                          "chat_file": "{\"chatId\":\"cht_eE44p44wkEqJWnIlRksQA\",\"ownerId\":\"auth0|688c126a9c56fa2fb8d96f1f\",\"agentId\":\"v2_agt_ueRuddzF\",\"messages\":[{\"role\":\"user\",\"content\":\"[パソコンのBGM][鳥の鳴き声]\",\"created_at\":\"2025-09-10T09:49:26.565Z\",\"id\":\"ZoBgd6d7BxrzJ\"},{\"role\":\"assistant\",\"content\":\"\",\"created_at\":\"2025-09-10T09:49:27.228Z\",\"id\":\"lP8a-YpkZTn3g\"}],\"externalId\":\"auth0|688c126a9c56fa2fb8d96f1f\",\"createdAt\":\"2025-09-10T09:49:27.342Z\"}",
                          "chat_id": "cht_eE44p44wkEqJWnIlRksQA",
                          "created_at": "2025-09-16T06:58:53.000000Z",
                          "id": 69,
                          "updated_at": "2025-09-16T06:58:53.000000Z"
                        },
                        {
                          "chat_file": "{\"chatId\":\"cht_QkqAggVqqq2qWbttiA_2p\",\"ownerId\":\"auth0|688c126a9c56fa2fb8d96f1f\",\"agentId\":\"v2_agt_ueRuddzF\",\"messages\":[{\"role\":\"user\",\"content\":\"[奇妙な音]\",\"created_at\":\"2025-09-10T09:49:39.323Z\",\"id\":\"Zgq8HTSvL5Pde\"},{\"role\":\"assistant\",\"content\":\"\",\"created_at\":\"2025-09-10T09:49:40.227Z\",\"id\":\"Qpne0l5ELixM1\"}],\"externalId\":\"auth0|688c126a9c56fa2fb8d96f1f\",\"createdAt\":\"2025-09-10T09:49:41.455Z\"}",
                          "chat_id": "cht_QkqAggVqqq2qWbttiA_2p",
                          "created_at": "2025-09-16T06:58:53.000000Z",
                          "id": 70,
                          "updated_at": "2025-09-16T06:58:53.000000Z"
                        },
                        {
[...]
