{
  "swagger": "2.0",
  "info": {
    "version": "2.5",
    "title": " OpenWeatherMap (inofficial)",
    "description": "Inofficial swagger spec for OpenWeatherMap.org API",
    "x-jentic-source-url": "https://api.swaggerhub.com/apis/elmi82/OpenWeatherMap/2.5",
    "contact": {
      "name": "API Support"
    }
  },
  "schemes": [
    "http"
  ],
  "host": "api.openweathermap.org",
  "basePath": "/data/2.5",
  "securityDefinitions": {
    "api_key": {
      "type": "apiKey",
      "name": "APPID",
      "in": "query"
    }
  },
  "parameters": {
    "cityName": {
      "name": "q",
      "in": "query",
      "description": "The name of the city with additional country code.\n",
      "type": "string"
    },
    "cityId": {
      "name": "id",
      "in": "query",
      "description": "The id of the city.\n",
      "type": "integer",
      "format": "int64"
    },
    "latitude": {
      "name": "lat",
      "in": "query",
      "description": "The latitude part of the location's coordinates.\n",
      "type": "number",
      "format": "double"
    },
    "longitude": {
      "name": "lon",
      "in": "query",
      "description": "The latitude part of the location's coordinates.\n",
      "type": "number",
      "format": "double"
    },
    "zipCode": {
      "name": "zip",
      "in": "query",
      "description": "The zip code of the location.\n",
      "type": "string"
    },
    "boundingBox": {
      "name": "bbox",
      "in": "query",
      "description": "bounding box [lat of the top left point, lon of the top left point, lat of the bottom right point, lon of the bottom right point, map zoom].\n",
      "type": "string"
    },
    "callback": {
      "name": "callback",
      "in": "query",
      "description": "javascript functionName.\n",
      "type": "string"
    },
    "cluster": {
      "name": "cluster",
      "in": "query",
      "description": "use server clustering of points. Possible values are [yes, no].\n",
      "type": "string",
      "enum": [
        true,
        false
      ]
    },
    "language": {
      "name": "lang",
      "in": "query",
      "type": "string"
    },
    "count": {
      "name": "cnt",
      "in": "query",
      "description": "number of cities around the point that should be returned.\n",
      "type": "integer",
      "format": "int32"
    },
    "cityIds": {
      "name": "id",
      "in": "query",
      "description": "A comma separated list of city ids..\n",
      "type": "string"
    },
    "format": {
      "name": "mode",
      "in": "query",
      "description": "JSON format is used by default. To get data in XML or HTML formats just set up mode = xml or html.\n",
      "type": "string",
      "enum": [
        "xml",
        "html"
      ]
    },
    "accuracy": {
      "name": "type",
      "in": "query",
      "description": "You can use our geocoding system to find cities by name, country, zip-code or geographic coordinates. You can call also by part of the city name. To make the result more accurate just put the city name and country divided by comma.\n\nTo set the accuracy level either use the 'accurate' or 'like' type parameter. 'accurate' returns exact match values. 'like' returns results by searching for that substring. \n",
      "type": "string",
      "enum": [
        "like",
        "accurate"
      ]
    },
    "unitsFormat": {
      "name": "units",
      "in": "query",
      "description": "Standard, metric, and imperial units are available.\n",
      "type": "string",
      "enum": [
        "standard",
        "metric",
        "imperial"
      ]
    }
  },
  "paths": {
    "/weather": {
      "get": {
        "operationId": "getWeather",
        "summary": "Get current weather data for one location",
        "description": "You can call by city name or city name and country code. API responds with a list of results that match a searching word.\n",
        "security": [
          {
            "api_key": []
          }
        ],
        "parameters": [
          {
            "$ref": "#/parameters/cityId"
          },
          {
            "$ref": "#/parameters/cityName"
          },
          {
            "$ref": "#/parameters/latitude"
          },
          {
            "$ref": "#/parameters/longitude"
          },
          {
            "$ref": "#/parameters/zipCode"
          },
          {
            "$ref": "#/parameters/format"
          },
          {
            "$ref": "#/parameters/accuracy"
          },
          {
            "$ref": "#/parameters/unitsFormat"
          },
          {
            "$ref": "#/parameters/language"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/OWMWeather"
            }
          }
        },
        "tags": [
          "weather"
        ]
      }
    },
    "/box/city": {
      "get": {
        "summary": "Get current weather data for several cities within a rectangle.",
        "security": [
          {
            "api_key": []
          }
        ],
        "parameters": [
          {
            "$ref": "#/parameters/boundingBox"
          },
          {
            "$ref": "#/parameters/callback"
          },
          {
            "$ref": "#/parameters/cluster"
          },
          {
            "$ref": "#/parameters/format"
          },
          {
            "$ref": "#/parameters/accuracy"
          },
          {
            "$ref": "#/parameters/unitsFormat"
          },
          {
            "$ref": "#/parameters/language"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/OWMResponse"
            }
          }
        },
        "description": "Get current weather data for several cities within a rectangle.",
        "operationId": "get_box_city",
        "tags": [
          "box"
        ]
      }
    },
    "/find": {
      "get": {
        "summary": "Get current weather data for several cities within a cycle.",
        "security": [
          {
            "api_key": []
          }
        ],
        "parameters": [
          {
            "$ref": "#/parameters/latitude"
          },
          {
            "$ref": "#/parameters/longitude"
          },
          {
            "$ref": "#/parameters/callback"
          },
          {
            "$ref": "#/parameters/cluster"
          },
          {
            "$ref": "#/parameters/format"
          },
          {
            "$ref": "#/parameters/accuracy"
          },
          {
            "$ref": "#/parameters/unitsFormat"
          },
          {
            "$ref": "#/parameters/language"
          },
          {
            "$ref": "#/parameters/count"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/OWMResponse"
            }
          }
        },
        "description": "Get current weather data for several cities within a cycle.",
        "operationId": "get_find",
        "tags": [
          "find"
        ]
      }
    },
    "/group": {
      "get": {
        "operationId": "getWeatherBulk",
        "summary": "Get current weather data for several cities by ids.",
        "security": [
          {
            "api_key": []
          }
        ],
        "parameters": [
          {
            "$ref": "#/parameters/cityIds"
          },
          {
            "$ref": "#/parameters/format"
          },
          {
            "$ref": "#/parameters/accuracy"
          },
          {
            "$ref": "#/parameters/unitsFormat"
          },
          {
            "$ref": "#/parameters/language"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/OWMResponse"
            }
          }
        },
        "description": "Get current weather data for several cities by ids.",
        "tags": [
          "group"
        ]
      }
    }
  },
  "definitions": {
    "OWMCoordinates": {
      "type": "object",
      "description": "City geo location.\n",
      "properties": {
        "lon": {
          "description": "City geo location, longitude.\n",
          "type": "number",
          "format": "double"
        },
        "lat": {
          "description": "City geo location, latitude.\n",
          "type": "number",
          "format": "double"
        }
      },
      "required": [
        "lon",
        "lat"
      ]
    },
    "OWMMain": {
      "type": "object",
      "description": "Main information about the weather\n",
      "properties": {
        "temp": {
          "description": "Temperature. Unit Default: Kelvin, Metric: Celsius, Imperial: Fahrenheit.\n",
          "type": "number",
          "format": "float"
        },
        "pressure": {
          "description": "Atmospheric pressure (on the sea level, if there is no sea_level or grnd_level data), hPa.\n",
          "type": "number",
          "format": "float"
        },
        "humidity": {
          "description": "Humidity, %\n",
          "type": "integer",
          "format": "int32"
        },
        "temp_min": {
          "description": "Minimum temperature at the moment. This is deviation from current temp that is possible for large cities and megalopolises geographically expanded (use these parameter optionally). Unit Default: Kelvin, Metric: Celsius, Imperial: Fahrenheit.\n",
          "type": "number",
          "format": "float"
        },
        "temp_max": {
          "description": "Maximum temperature at the moment. This is deviation from current temp that is possible for large cities and megalopolises geographically expanded (use these parameter optionally). Unit Default: Kelvin, Metric: Celsius, Imperial: Fahrenheit.\n",
          "type": "number",
          "format": "float"
        },
        "sea_level": {
          "description": "Atmospheric pressure on the sea level, hPa.\n",
          "type": "number",
          "format": "float"
        },
        "grnd_level": {
          "description": "Atmospheric pressure on the ground level, hPa\n",
          "type": "number",
          "format": "float"
        }
      },
      "required": [
        "temp",
        "pressure",
        "humidity",
        "temp_min",
        "temp_max"
      ]
    },
    "OWMWind": {
      "type": "object",
      "properties": {
        "speed": {
          "description": "Wind speed. Unit Default: meter/sec, Metric: meter/sec, Imperial: miles/hour.\n",
          "type": "number",
          "format": "float"
        },
        "deg": {
          "description": "Wind direction, degrees (meteorological)\n",
          "type": "number",
          "format": "float"
        }
      },
      "required": [
        "speed",
        "deg"
      ]
    },
    "OWMClouds": {
      "type": "object",
      "properties": {
        "all": {
          "description": "Cloudiness, %\n",
          "type": "integer",
          "format": "int32"
        }
      },
      "required": [
        "all"
      ]
    },
    "OWMRain": {
      "type": "object",
      "properties": {
        "3h": {
          "description": "Rain volume for the last 3 hours.\n",
          "type": "number",
          "format": "float"
        }
      },
      "required": [
        "3h"
      ]
    },
    "OWMSnow": {
      "type": "object",
      "properties": {
        "3h": {
          "description": "Snow volume for the last 3 hours.\n",
          "type": "number",
          "format": "float"
        }
      },
      "required": [
        "3h"
      ]
    },
    "OWMSystem": {
      "type": "object",
      "properties": {
        "type": {
          "description": "Internal parameter.\n",
          "type": "integer",
          "format": "int32"
        },
        "id": {
          "description": "Internal parameter.\n",
          "type": "integer",
          "format": "int32"
        },
        "message": {
          "description": "Internal parameter.\n",
          "type": "number",
          "format": "double"
        },
        "country": {
          "description": "Country code (GB, JP etc.).\n",
          "type": "string"
        },
        "sunrise": {
          "description": "Sunrise time, unix, UTC\n",
          "type": "integer",
          "format": "int64"
        },
        "sunset": {
          "description": "Sunset time, unix, UTC\n",
          "type": "integer",
          "format": "int64"
        }
      },
      "required": [
        "type",
        "id",
        "message",
        "country",
        "sunrise",
        "sunset"
      ]
    },
    "OWMWeatherCondition": {
      "type": "object",
      "properties": {
        "id": {
          "description": "Weather condition code.\n",
          "type": "integer",
          "format": "int32"
        },
        "main": {
          "description": "Human-friendly condition name.\n",
          "type": "string"
        },
        "description": {
          "description": "Condition description.\n",
          "type": "string"
        },
        "icon": {
          "description": "The icon code of the condition\n",
          "type": "string"
        }
      },
      "required": [
        "id",
        "main",
        "description",
        "icon"
      ]
    },
    "OWMWeather": {
      "type": "object",
      "description": "Weather information\n",
      "properties": {
        "coord": {
          "$ref": "#/definitions/OWMCoordinates"
        },
        "weather": {
          "description": "Group of weather parameters (Rain, Snow, Extreme etc.)\n",
          "type": "array",
          "items": {
            "$ref": "#/definitions/OWMWeatherCondition"
          }
        },
        "base": {
          "description": "Internal parameters.\n",
          "type": "string"
        },
        "main": {
          "$ref": "#/definitions/OWMMain"
        },
        "wind": {
          "$ref": "#/definitions/OWMWind"
        },
        "clouds": {
          "$ref": "#/definitions/OWMClouds"
        },
        "rain": {
          "$ref": "#/definitions/OWMRain"
        },
        "snow": {
          "$ref": "#/definitions/OWMSnow"
        },
        "dt": {
          "description": "Time of data calculation, unix, UTC.\n",
          "type": "integer",
          "format": "int64"
        },
        "sys": {
          "$ref": "#/definitions/OWMSystem"
        },
        "id": {
          "description": "City ID\n",
          "type": "integer",
          "format": "int32"
        },
        "name": {
          "description": "City name\n",
          "type": "string"
        },
        "cod": {
          "description": "Internal parameter\n",
          "type": "integer",
          "format": "int32"
        },
        "message": {
          "type": "string"
        }
      },
      "required": [
        "coord",
        "weather",
        "base",
        "main",
        "wind",
        "clouds",
        "rain",
        "snow",
        "dt",
        "sys",
        "id",
        "name",
        "cod"
      ]
    },
    "OWMResponse": {
      "type": "object",
      "properties": {
        "message": {
          "type": "string"
        },
        "cod": {
          "description": "Internal parameter\n",
          "type": "integer",
          "format": "in32"
        },
        "calctime": {
          "type": "number",
          "format": "float"
        },
        "cnt": {
          "type": "integer",
          "format": "int32"
        },
        "list": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/OWMWeather"
          }
        }
      },
      "required": [
        "cnt",
        "list"
      ]
    }
  },
  "tags": [
    {
      "name": "box"
    },
    {
      "name": "find"
    },
    {
      "name": "group"
    },
    {
      "name": "weather"
    }
  ]
}
