{
  "openapi": "3.0.3",
  "info": {
    "title": "Bump.sh API",
    "version": "1.0.0",
    "description": "Bump.sh API for managing API documentation. Upload API definitions, create diffs, validate specs, and manage documentation hubs.",
    "x-jentic-source-url": "https://developers.bump.sh/",
    "contact": {
      "name": "API Support"
    }
  },
  "servers": [
    {
      "url": "https://bump.sh/api/v1",
      "description": "Bump.sh API Server"
    }
  ],
  "security": [
    {
      "bearerToken": []
    }
  ],
  "tags": [
    {
      "name": "Versions",
      "description": "API version management"
    },
    {
      "name": "Previews",
      "description": "Preview documentation"
    },
    {
      "name": "Diffs",
      "description": "API diff operations"
    },
    {
      "name": "Validations",
      "description": "Specification validation"
    },
    {
      "name": "Docs",
      "description": "Documentation management"
    },
    {
      "name": "Hubs",
      "description": "Hub management"
    },
    {
      "name": "Ping",
      "description": "Health check"
    }
  ],
  "paths": {
    "/versions": {
      "post": {
        "tags": [
          "Versions"
        ],
        "summary": "Create a new version",
        "description": "Deploy a new version of your API documentation by uploading a definition file.",
        "operationId": "createVersion",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/VersionCreate"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Version created (no changes detected)"
          },
          "201": {
            "description": "Version created and deployed"
          },
          "204": {
            "description": "Version created but no changes"
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Authentication failed"
          },
          "422": {
            "description": "Validation error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ValidationError"
                }
              }
            }
          }
        }
      }
    },
    "/previews": {
      "post": {
        "tags": [
          "Previews"
        ],
        "summary": "Create a preview",
        "description": "Create a preview of your API documentation without deploying.",
        "operationId": "createPreview",
        "security": [],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/PreviewCreate"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Preview URL",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "id": {
                      "type": "string"
                    },
                    "expires_at": {
                      "type": "string",
                      "format": "date-time"
                    },
                    "public_url": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "422": {
            "description": "Validation error"
          }
        }
      }
    },
    "/diffs": {
      "post": {
        "tags": [
          "Diffs"
        ],
        "summary": "Create a diff",
        "description": "Compare two API definitions and return the differences.",
        "operationId": "createDiff",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/DiffCreate"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Diff result",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DiffResult"
                }
              }
            }
          },
          "204": {
            "description": "No differences found"
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Authentication failed"
          },
          "422": {
            "description": "Validation error"
          }
        }
      }
    },
    "/validations": {
      "post": {
        "tags": [
          "Validations"
        ],
        "summary": "Validate an API definition",
        "description": "Validate an API definition file without deploying.",
        "operationId": "validateDefinition",
        "security": [],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ValidationCreate"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Valid definition"
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "422": {
            "description": "Invalid definition",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ValidationError"
                }
              }
            }
          }
        }
      }
    },
    "/docs/{doc_id_or_slug}": {
      "get": {
        "tags": [
          "Docs"
        ],
        "summary": "Get documentation",
        "description": "Retrieve information about a documentation.",
        "operationId": "getDoc",
        "parameters": [
          {
            "name": "doc_id_or_slug",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Documentation details",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Doc"
                }
              }
            }
          },
          "401": {
            "description": "Authentication failed"
          },
          "404": {
            "description": "Documentation not found"
          }
        }
      }
    },
    "/hubs/{hub_id_or_slug}/apis": {
      "get": {
        "tags": [
          "Hubs"
        ],
        "summary": "List APIs in a hub",
        "description": "List all APIs in a documentation hub.",
        "operationId": "listHubApis",
        "parameters": [
          {
            "name": "hub_id_or_slug",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "List of APIs",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/HubApi"
                  }
                }
              }
            }
          },
          "401": {
            "description": "Authentication failed"
          },
          "404": {
            "description": "Hub not found"
          }
        }
      }
    },
    "/ping": {
      "get": {
        "tags": [
          "Ping"
        ],
        "summary": "Ping",
        "description": "Responds with a pong for health check purposes.",
        "operationId": "ping",
        "security": [],
        "responses": {
          "200": {
            "description": "Pong response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "pong": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          }
        }
      }
    }
  },
  "components": {
    "securitySchemes": {
      "bearerToken": {
        "type": "http",
        "scheme": "bearer",
        "description": "Bump.sh API access token"
      }
    },
    "schemas": {
      "ErrorResponse": {
        "type": "object",
        "properties": {
          "error": {
            "type": "string"
          }
        },
        "required": [
          "error"
        ]
      },
      "VersionCreate": {
        "type": "object",
        "required": [
          "documentation",
          "definition"
        ],
        "properties": {
          "documentation": {
            "type": "string",
            "description": "Documentation ID or slug"
          },
          "definition": {
            "type": "string",
            "description": "API definition as string (OpenAPI or AsyncAPI)"
          },
          "hub": {
            "type": "string",
            "description": "Hub ID or slug (optional)"
          },
          "auto_create_documentation": {
            "type": "boolean",
            "description": "Create documentation if not exists"
          },
          "branch_name": {
            "type": "string",
            "description": "Branch name for this version"
          },
          "references": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "location": {
                  "type": "string"
                },
                "content": {
                  "type": "string"
                }
              }
            }
          }
        }
      },
      "PreviewCreate": {
        "type": "object",
        "required": [
          "definition"
        ],
        "properties": {
          "definition": {
            "type": "string"
          },
          "references": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "location": {
                  "type": "string"
                },
                "content": {
                  "type": "string"
                }
              }
            }
          }
        }
      },
      "DiffCreate": {
        "type": "object",
        "required": [
          "definition",
          "previous_definition"
        ],
        "properties": {
          "definition": {
            "type": "string",
            "description": "New API definition"
          },
          "previous_definition": {
            "type": "string",
            "description": "Previous API definition"
          },
          "documentation": {
            "type": "string",
            "description": "Documentation ID or slug"
          },
          "url": {
            "type": "string"
          }
        }
      },
      "DiffResult": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string"
          },
          "title": {
            "type": "string"
          },
          "breaking": {
            "type": "boolean"
          },
          "public_url": {
            "type": "string"
          },
          "details": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "id": {
                  "type": "string"
                },
                "name": {
                  "type": "string"
                },
                "type": {
                  "type": "string"
                },
                "breaking": {
                  "type": "boolean"
                },
                "status": {
                  "type": "string"
                }
              }
            }
          }
        }
      },
      "ValidationCreate": {
        "type": "object",
        "required": [
          "definition"
        ],
        "properties": {
          "definition": {
            "type": "string"
          },
          "references": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "location": {
                  "type": "string"
                },
                "content": {
                  "type": "string"
                }
              }
            }
          }
        }
      },
      "ValidationError": {
        "type": "object",
        "properties": {
          "message": {
            "type": "string"
          },
          "errors": {
            "type": "object"
          }
        }
      },
      "Doc": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string"
          },
          "slug": {
            "type": "string"
          },
          "name": {
            "type": "string"
          },
          "last_build_at": {
            "type": "string",
            "format": "date-time"
          }
        }
      },
      "HubApi": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string"
          },
          "slug": {
            "type": "string"
          },
          "name": {
            "type": "string"
          },
          "documentation_id": {
            "type": "string"
          }
        }
      }
    }
  }
}
