{
  "schemes": [
    "https"
  ],
  "swagger": "2.0",
  "info": {
    "description": "Use Basic Auth with client_id:secret",
    "title": "Ninety Auth Swagger API",
    "contact": {
      "name": "Juan Ospina",
      "email": "juan@ninety.io"
    },
    "version": "1.0",
    "x-jentic-source-url": "https://ninety-auth.prod.90srv.com/v1/swagger/index.html"
  },
  "host": "ninety-auth.prod.90srv.com",
  "basePath": "/",
  "paths": {
    "/v1/client-credentials": {
      "get": {
        "security": [
          {
            "BasicAuth": []
          }
        ],
        "description": "List client credentials for a given entity ID, optionally filtered by is_active (defaults to true)",
        "produces": [
          "application/json"
        ],
        "tags": [
          "Client Credentials"
        ],
        "summary": "List client credentials by entity ID",
        "parameters": [
          {
            "type": "string",
            "description": "Entity ID (UUID)",
            "name": "entity_id",
            "in": "query",
            "required": true
          },
          {
            "type": "boolean",
            "description": "Filter by active status (default: true)",
            "name": "is_active",
            "in": "query"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/client_credentials.ClientCredentialsSummary"
              }
            }
          },
          "400": {
            "description": "Invalid request parameters",
            "schema": {
              "type": "string"
            }
          },
          "500": {
            "description": "Internal server error",
            "schema": {
              "type": "string"
            }
          }
        },
        "operationId": "get_v1_client_credentials"
      }
    },
    "/v1/client-credentials/generate": {
      "post": {
        "security": [
          {
            "BasicAuth": []
          }
        ],
        "description": "Generate new client credentials for a given entity ID",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "tags": [
          "Client Credentials"
        ],
        "summary": "Generate new client credentials",
        "parameters": [
          {
            "description": "Generate Credentials Request",
            "name": "request",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/client_credentials.GenerateCredentialsRequest"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/transport.ClientCredentialsResponse"
            }
          },
          "400": {
            "description": "Invalid request payload",
            "schema": {
              "type": "string"
            }
          },
          "500": {
            "description": "Internal server error",
            "schema": {
              "type": "string"
            }
          }
        },
        "operationId": "post_v1_client_credentials_generate"
      }
    },
    "/v1/client-credentials/revoke": {
      "post": {
        "security": [
          {
            "BasicAuth": []
          }
        ],
        "description": "Revoke client credentials for a given ID",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "tags": [
          "Client Credentials"
        ],
        "summary": "Revoke client credentials",
        "parameters": [
          {
            "description": "Revoke Credentials Request",
            "name": "request",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/client_credentials.RevokeCredentialsRequest"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Client credentials revoked successfully",
            "schema": {
              "type": "string"
            }
          },
          "400": {
            "description": "Invalid request payload",
            "schema": {
              "type": "string"
            }
          },
          "500": {
            "description": "Internal server error",
            "schema": {
              "type": "string"
            }
          }
        },
        "operationId": "post_v1_client_credentials_revoke"
      }
    },
    "/v1/client-credentials/rotate": {
      "post": {
        "security": [
          {
            "BasicAuth": []
          }
        ],
        "description": "Rotate client credentials for a given ID",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "tags": [
          "Client Credentials"
        ],
        "summary": "Rotate client credentials",
        "parameters": [
          {
            "description": "Rotate Credentials Request",
            "name": "request",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/client_credentials.RotateCredentialsRequest"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/transport.ClientCredentialsResponse"
            }
          },
          "400": {
            "description": "Invalid request payload",
            "schema": {
              "type": "string"
            }
          },
          "500": {
            "description": "Internal server error",
            "schema": {
              "type": "string"
            }
          }
        },
        "operationId": "post_v1_client_credentials_rotate"
      }
    },
    "/v1/client-credentials/{client_id}/entity": {
      "get": {
        "security": [
          {
            "BearerAuth": []
          }
        ],
        "description": "Retrieve a single entity associated with a given Client ID",
        "produces": [
          "application/json"
        ],
        "tags": [
          "Client Credentials"
        ],
        "summary": "Get an entity by Client ID",
        "parameters": [
          {
            "type": "string",
            "description": "Client ID",
            "name": "client_id",
            "in": "path",
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/models.Entity"
            }
          },
          "400": {
            "description": "Invalid parameters",
            "schema": {
              "type": "string"
            }
          },
          "404": {
            "description": "Entity not found",
            "schema": {
              "type": "string"
            }
          },
          "500": {
            "description": "Internal server error",
            "schema": {
              "type": "string"
            }
          }
        },
        "operationId": "get_v1_client_credentials_client_id_entity"
      }
    },
    "/v1/client-credentials/{id}/scopes": {
      "put": {
        "security": [
          {
            "BasicAuth": []
          }
        ],
        "description": "Replace all scopes assigned to a client credential with the provided list",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "tags": [
          "Client Credentials"
        ],
        "summary": "Update scopes for a client credential",
        "parameters": [
          {
            "type": "string",
            "description": "Client Credential ID",
            "name": "id",
            "in": "path",
            "required": true
          },
          {
            "description": "Update Scopes Request",
            "name": "request",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/client_credentials.UpdateCredentialScopesRequest"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Scopes updated successfully",
            "schema": {
              "type": "string"
            }
          },
          "400": {
            "description": "Invalid request payload",
            "schema": {
              "type": "string"
            }
          },
          "500": {
            "description": "Internal server error",
            "schema": {
              "type": "string"
            }
          }
        },
        "operationId": "put_v1_client_credentials_id_scopes"
      }
    },
    "/v1/entities": {
      "get": {
        "security": [
          {
            "BasicAuth": []
          }
        ],
        "description": "Retrieve a list of all entities",
        "produces": [
          "application/json"
        ],
        "tags": [
          "Entities"
        ],
        "summary": "Get all entities",
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/models.Entity"
              }
            }
          },
          "500": {
            "description": "Internal server error",
            "schema": {
              "type": "string"
            }
          }
        },
        "operationId": "get_v1_entities"
      },
      "post": {
        "security": [
          {
            "BasicAuth": []
          }
        ],
        "description": "Create a new entity with the provided details",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "tags": [
          "Entities"
        ],
        "summary": "Create a new entity",
        "parameters": [
          {
            "description": "Entity details",
            "name": "entity",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/entities.CreateEntityRequest"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/models.Entity"
            }
          },
          "400": {
            "description": "Invalid parameters",
            "schema": {
              "type": "string"
            }
          },
          "500": {
            "description": "Internal server error",
            "schema": {
              "type": "string"
            }
          }
        },
        "operationId": "post_v1_entities"
      }
    },
    "/v1/entities/{id}": {
      "get": {
        "security": [
          {
            "BasicAuth": []
          }
        ],
        "description": "Retrieve a single entity by its ID",
        "produces": [
          "application/json"
        ],
        "tags": [
          "Entities"
        ],
        "summary": "Get an entity by ID",
        "parameters": [
          {
            "type": "string",
            "description": "Entity ID",
            "name": "id",
            "in": "path",
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/models.Entity"
            }
          },
          "400": {
            "description": "Invalid parameters",
            "schema": {
              "type": "string"
            }
          },
          "404": {
            "description": "Entity not found",
            "schema": {
              "type": "string"
            }
          },
          "500": {
            "description": "Internal server error",
            "schema": {
              "type": "string"
            }
          }
        },
        "operationId": "get_v1_entities_id"
      },
      "put": {
        "security": [
          {
            "BasicAuth": []
          }
        ],
        "description": "Update the details of an existing entity by its ID",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "tags": [
          "Entities"
        ],
        "summary": "Update an existing entity",
        "parameters": [
          {
            "type": "string",
            "description": "Entity ID",
            "name": "id",
            "in": "path",
            "required": true
          },
          {
            "description": "Updated entity details",
            "name": "entity",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/entities.updateEntityRequest"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/models.Entity"
            }
          },
          "400": {
            "description": "Invalid parameters",
            "schema": {
              "type": "string"
            }
          },
          "404": {
            "description": "Entity not found",
            "schema": {
              "type": "string"
            }
          },
          "500": {
            "description": "Internal server error",
            "schema": {
              "type": "string"
            }
          }
        },
        "operationId": "put_v1_entities_id"
      }
    },
    "/v1/health": {
      "get": {
        "description": "Health check",
        "produces": [
          "application/json"
        ],
        "tags": [
          "Health"
        ],
        "summary": "Health check",
        "responses": {
          "200": {
            "description": "status: UP",
            "schema": {
              "type": "string"
            }
          }
        },
        "operationId": "get_v1_health"
      }
    },
    "/v1/oauth2/authorize": {
      "post": {
        "security": [
          {
            "BearerAuth": []
          }
        ],
        "description": "This endpoint validates the provided client_id and redirect_uri against registered clients and URIs. If valid, it generates an authorization code and constructs a redirect URI containing the code and state parameter.",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "tags": [
          "OAuth2"
        ],
        "summary": "processes the OAuth2 authorization request. Validates the client and redirect URI, generates an authorization code, and returns a redirect URI with the code and state.",
        "parameters": [
          {
            "description": "Authorize Request",
            "name": "request",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/oauth2.AuthorizeRequest"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Returns the redirect URI with the authorization code and state",
            "schema": {
              "$ref": "#/definitions/oauth2.AuthorizeResponse"
            }
          },
          "400": {
            "description": "Invalid request parameters or client/redirect URI",
            "schema": {
              "type": "string"
            }
          },
          "500": {
            "description": "Internal server error",
            "schema": {
              "type": "string"
            }
          }
        },
        "operationId": "post_v1_oauth2_authorize"
      }
    },
    "/v1/oauth2/ipaas/token": {
      "post": {
        "security": [
          {
            "BasicAuth": []
          }
        ],
        "description": "This endpoint validates the provided client_id. If valid, it generates an access token.",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "tags": [
          "OAuth2"
        ],
        "summary": "Processes the IPaas token request. Validates client credentials, then generates and returns an access token.",
        "parameters": [
          {
            "description": "IPaas Token Request",
            "name": "request",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/ipaas.IPaasTokenRequest"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Returns the access token and its expiration",
            "schema": {
              "$ref": "#/definitions/endpoints.TokenResponse"
            }
          },
          "400": {
            "description": "Invalid parameters",
            "schema": {
              "type": "string"
            }
          },
          "500": {
            "description": "Internal server error",
            "schema": {
              "type": "string"
            }
          }
        },
        "operationId": "post_v1_oauth2_ipaas_token"
      }
    },
    "/v1/oauth2/token": {
      "post": {
        "description": "This endpoint validates the provided client_id and redirect_uri against registered clients and URIs. If valid, it generates an access token.",
        "consumes": [
          "application/json",
          "application/x-www-form-urlencoded"
        ],
        "produces": [
          "application/json"
        ],
        "tags": [
          "OAuth2"
        ],
        "summary": "Processes the OAuth2 token request. Validates client credentials, authorization code, and redirect URI, then generates and returns an access token.",
        "parameters": [
          {
            "description": "Token Request",
            "name": "request",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/oauth2.TokenRequest"
            }
          },
          {
            "type": "string",
            "description": "Basic base64(client_id:client_secret)",
            "name": "Authorization",
            "in": "header"
          }
        ],
        "responses": {
          "200": {
            "description": "Returns the access token and related information",
            "schema": {
              "$ref": "#/definitions/endpoints.TokenResponse"
            }
          },
          "400": {
            "description": "Invalid request parameters or client/redirect URI",
            "schema": {
              "type": "string"
            }
          },
          "500": {
            "description": "Internal server error",
            "schema": {
              "type": "string"
            }
          }
        },
        "operationId": "post_v1_oauth2_token"
      }
    },
    "/v1/oauth2/token/exchange": {
      "post": {
        "security": [
          {
            "BasicAuth": []
          }
        ],
        "description": "This endpoint validates the provided subject_token and exchanges it for a new access token.",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "tags": [
          "OAuth2"
        ],
        "summary": "Processes the OAuth2 token exchange request. Validates the subject token and generates a new access token.",
        "parameters": [
          {
            "description": "Token Exchange Request",
            "name": "request",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/oauth2.TokenExchangeRequest"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Returns the new access token and related information",
            "schema": {
              "$ref": "#/definitions/endpoints.TokenResponse"
            }
          },
          "400": {
            "description": "Invalid parameters",
            "schema": {
              "type": "string"
            }
          },
          "401": {
            "description": "Unauthorized",
            "schema": {
              "type": "string"
            }
          },
          "500": {
            "description": "Internal server error",
            "schema": {
              "type": "string"
            }
          }
        },
        "operationId": "post_v1_oauth2_token_exchange"
      }
    },
    "/v1/oauth2/token/introspect": {
      "post": {
        "security": [
          {
            "BasicAuth": []
          }
        ],
        "description": "Validate and retrieve information about an access token",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "tags": [
          "OAuth2"
        ],
        "summary": "Introspect an access token",
        "parameters": [
          {
            "description": "Introspect Token Request",
            "name": "request",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/oauth2.IntrospectTokenRequest"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Returns the token claims if valid",
            "schema": {
              "$ref": "#/definitions/transport.IntrospectTokenResponse"
            }
          },
          "400": {
            "description": "Invalid parameters",
            "schema": {
              "type": "string"
            }
          },
          "401": {
            "description": "Unauthorized",
            "schema": {
              "type": "string"
            }
          },
          "500": {
            "description": "Internal server error",
            "schema": {
              "type": "string"
            }
          }
        },
        "operationId": "post_v1_oauth2_token_introspect"
      }
    },
    "/v1/oauth2/token/revoke": {
      "post": {
        "security": [
          {
            "BasicAuth": []
          }
        ],
        "description": "Revoke an access or refresh token to prevent further use",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "tags": [
          "OAuth2"
        ],
        "summary": "Revoke an access or refresh token",
        "parameters": [
          {
            "description": "Revoke Token Request",
            "name": "request",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/oauth2.RevokeTokenRequest"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Token successfully revoked",
            "schema": {
              "type": "string"
            }
          },
          "400": {
            "description": "Invalid parameters",
            "schema": {
              "type": "string"
            }
          },
          "401": {
            "description": "Unauthorized",
            "schema": {
              "type": "string"
            }
          },
          "500": {
            "description": "Internal server error",
            "schema": {
              "type": "string"
            }
          }
        },
        "operationId": "post_v1_oauth2_token_revoke"
      }
    },
    "/v1/pat": {
      "get": {
        "security": [
          {
            "BearerAuth": []
          }
        ],
        "description": "Returns metadata for active PATs belonging to the authenticated user and company. No token hashes or plaintext are returned.",
        "produces": [
          "application/json"
        ],
        "tags": [
          "PAT"
        ],
        "summary": "List active Personal Access Tokens (PATs)",
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/pat.PatMetadata"
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "schema": {
              "type": "string"
            }
          },
          "500": {
            "description": "Internal server error",
            "schema": {
              "type": "string"
            }
          }
        },
        "operationId": "get_v1_pat"
      }
    },
    "/v1/pat/revoke": {
      "post": {
        "security": [
          {
            "BearerAuth": []
          }
        ],
        "description": "Revokes a PAT belonging to the current authenticated user and company",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "tags": [
          "PAT"
        ],
        "summary": "Revoke a Personal Access Token (PAT)",
        "parameters": [
          {
            "description": "PAT Revoke Request",
            "name": "request",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/pat.PatRevokeRequest"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "PAT successfully revoked",
            "schema": {
              "type": "string"
            }
          },
          "400": {
            "description": "Invalid request parameters",
            "schema": {
              "type": "string"
            }
          },
          "401": {
            "description": "Unauthorized",
            "schema": {
              "type": "string"
            }
          },
          "403": {
            "description": "Forbidden",
            "schema": {
              "type": "string"
            }
          },
          "500": {
            "description": "Internal server error",
            "schema": {
              "type": "string"
            }
          }
        },
        "operationId": "post_v1_pat_revoke"
      }
    },
    "/v1/pat/rotate": {
      "post": {
        "security": [
          {
            "BearerAuth": []
          }
        ],
        "description": "Revokes the provided PAT and issues a new PAT for the current authenticated user and company",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "tags": [
          "PAT"
        ],
        "summary": "Rotate a Personal Access Token (PAT)",
        "parameters": [
          {
            "description": "PAT Rotate Request",
            "name": "request",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/pat.PatRotateRequest"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Returns the new PAT access token and its expiration",
            "schema": {
              "$ref": "#/definitions/endpoints.TokenResponse"
            }
          },
          "400": {
            "description": "Invalid request parameters",
            "schema": {
              "type": "string"
            }
          },
          "401": {
            "description": "Unauthorized",
            "schema": {
              "type": "string"
            }
          },
          "403": {
            "description": "Forbidden",
            "schema": {
              "type": "string"
            }
          },
          "500": {
            "description": "Internal server error",
            "schema": {
              "type": "string"
            }
          }
        },
        "operationId": "post_v1_pat_rotate"
      }
    },
    "/v1/pat/token": {
      "post": {
        "security": [
          {
            "BearerAuth": []
          }
        ],
        "description": "This endpoint validates the provided client_id. If valid, it generates a PAT access token.",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "tags": [
          "PAT"
        ],
        "summary": "Processes the PAT token request. Validates client credentials, then generates and returns a PAT access token.",
        "parameters": [
          {
            "description": "PAT Token Request",
            "name": "request",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/pat.PatTokenRequest"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Returns the PAT access token and its expiration. No refresh token is issued.",
            "schema": {
              "$ref": "#/definitions/endpoints.TokenResponse"
            }
          },
          "400": {
            "description": "Invalid parameters",
            "schema": {
              "type": "string"
            }
          },
          "500": {
            "description": "Internal server error",
            "schema": {
              "type": "string"
            }
          }
        },
        "operationId": "post_v1_pat_token"
      }
    },
    "/v1/redirect-uris": {
      "post": {
        "security": [
          {
            "BasicAuth": []
          }
        ],
        "description": "Create one or more redirect URIs for a given entity",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "tags": [
          "RedirectUris"
        ],
        "summary": "Create redirect URIs for an entity",
        "parameters": [
          {
            "description": "Redirect URIs details",
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/redirect_uris.CreateRedirectUrisRequest"
            }
          }
        ],
        "responses": {
          "201": {
            "description": "Created",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/models.RedirectURI"
              }
            }
          },
          "400": {
            "description": "Invalid parameters",
            "schema": {
              "type": "string"
            }
          },
          "500": {
            "description": "Internal server error",
            "schema": {
              "type": "string"
            }
          }
        },
        "operationId": "post_v1_redirect_uris"
      }
    },
    "/v1/redirect-uris/{entity_id}": {
      "get": {
        "security": [
          {
            "BasicAuth": []
          }
        ],
        "description": "Retrieve all redirect URIs for a given entity",
        "produces": [
          "application/json"
        ],
        "tags": [
          "RedirectUris"
        ],
        "summary": "Get redirect URIs for an entity",
        "parameters": [
          {
            "type": "string",
            "description": "Entity ID",
            "name": "entity_id",
            "in": "path",
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/models.RedirectURI"
              }
            }
          },
          "400": {
            "description": "Invalid entity_id",
            "schema": {
              "type": "string"
            }
          },
          "500": {
            "description": "Internal server error",
            "schema": {
              "type": "string"
            }
          }
        },
        "operationId": "get_v1_redirect_uris_entity_id"
      }
    },
    "/v1/redirect-uris/{id}": {
      "put": {
        "security": [
          {
            "BasicAuth": []
          }
        ],
        "description": "Update the URI value for a given redirect URI record",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "tags": [
          "RedirectUris"
        ],
        "summary": "Update a redirect URI",
        "parameters": [
          {
            "type": "integer",
            "description": "Redirect URI ID",
            "name": "id",
            "in": "path",
            "required": true
          },
          {
            "description": "Redirect URI update details",
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/redirect_uris.UpdateRedirectUriRequest"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/models.RedirectURI"
            }
          },
          "400": {
            "description": "Invalid parameters",
            "schema": {
              "type": "string"
            }
          },
          "500": {
            "description": "Internal server error",
            "schema": {
              "type": "string"
            }
          }
        },
        "operationId": "put_v1_redirect_uris_id"
      },
      "delete": {
        "security": [
          {
            "BasicAuth": []
          }
        ],
        "description": "Delete a redirect URI by its ID",
        "tags": [
          "RedirectUris"
        ],
        "summary": "Delete a redirect URI",
        "parameters": [
          {
            "type": "integer",
            "description": "Redirect URI ID",
            "name": "id",
            "in": "path",
            "required": true
          }
        ],
        "responses": {
          "204": {
            "description": "No Content"
          },
          "400": {
            "description": "Invalid id",
            "schema": {
              "type": "string"
            }
          },
          "500": {
            "description": "Internal server error",
            "schema": {
              "type": "string"
            }
          }
        },
        "operationId": "delete_v1_redirect_uris_id"
      }
    }
  },
  "definitions": {
    "client_credentials.ClientCredentialsSummary": {
      "type": "object",
      "properties": {
        "canceled_at": {
          "type": "string"
        },
        "created_at": {
          "type": "string"
        },
        "description": {
          "type": "string"
        },
        "entity_id": {
          "type": "string"
        },
        "id": {
          "type": "string"
        },
        "is_active": {
          "type": "boolean"
        },
        "last_rotated_at": {
          "type": "string"
        },
        "scopes": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/models.Scope"
          }
        }
      }
    },
    "client_credentials.GenerateCredentialsRequest": {
      "type": "object",
      "required": [
        "description",
        "entity_id",
        "scopes"
      ],
      "properties": {
        "description": {
          "type": "string"
        },
        "entity_id": {
          "type": "string"
        },
        "scopes": {
          "type": "array",
          "items": {
            "type": "string"
          }
        }
      }
    },
    "client_credentials.RevokeCredentialsRequest": {
      "type": "object",
      "required": [
        "client_id"
      ],
      "properties": {
        "client_id": {
          "type": "string"
        }
      }
    },
    "client_credentials.RotateCredentialsRequest": {
      "type": "object",
      "properties": {
        "client_id": {
          "type": "string"
        }
      }
    },
    "client_credentials.UpdateCredentialScopesRequest": {
      "type": "object",
      "required": [
        "scopes"
      ],
      "properties": {
        "scopes": {
          "type": "array",
          "items": {
            "type": "string"
          }
        }
      }
    },
    "endpoints.TokenResponse": {
      "type": "object",
      "properties": {
        "access_token": {
          "type": "string"
        },
        "entitlements_token": {
          "type": "string"
        },
        "expires_in": {
          "type": "integer"
        },
        "refresh_token": {
          "type": "string"
        },
        "refresh_token_expires_in": {
          "type": "integer"
        },
        "token_type": {
          "type": "string"
        }
      }
    },
    "entities.CreateEntityRequest": {
      "type": "object",
      "required": [
        "name"
      ],
      "properties": {
        "contact_email": {
          "type": "string"
        },
        "description": {
          "type": "string"
        },
        "is_active": {
          "type": "boolean"
        },
        "is_internal": {
          "type": "boolean"
        },
        "logo_url": {
          "type": "string"
        },
        "name": {
          "type": "string"
        },
        "redirect_uris": {
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "url": {
          "type": "string"
        }
      }
    },
    "entities.updateEntityRequest": {
      "type": "object",
      "required": [
        "name"
      ],
      "properties": {
        "contact_email": {
          "type": "string"
        },
        "description": {
          "type": "string"
        },
        "is_active": {
          "type": "boolean"
        },
        "is_internal": {
          "type": "boolean"
        },
        "logo_url": {
          "type": "string"
        },
        "name": {
          "type": "string"
        },
        "url": {
          "type": "string"
        }
      }
    },
    "ipaas.IPaasTokenRequest": {
      "type": "object",
      "required": [
        "client_id",
        "tenant_id",
        "user_id"
      ],
      "properties": {
        "client_id": {
          "type": "string"
        },
        "tenant_id": {
          "type": "string"
        },
        "user_id": {
          "type": "string"
        }
      }
    },
    "models.ActorClaim": {
      "type": "object",
      "properties": {
        "client_id": {
          "description": "Client Id",
          "type": "string"
        },
        "iss": {
          "description": "Issuer of the token used to authenticate the actor",
          "type": "string"
        },
        "jti": {
          "description": "JWT ID of the token used to authenticate the actor",
          "type": "string"
        },
        "sub": {
          "description": "Client name",
          "type": "string"
        }
      }
    },
    "models.Entity": {
      "type": "object",
      "properties": {
        "contact_email": {
          "type": "string"
        },
        "created_at": {
          "type": "string"
        },
        "description": {
          "type": "string"
        },
        "id": {
          "type": "string"
        },
        "is_active": {
          "type": "boolean"
        },
        "is_internal": {
          "type": "boolean"
        },
        "logo_url": {
          "type": "string"
        },
        "name": {
          "type": "string"
        },
        "updated_at": {
          "type": "string"
        },
        "url": {
          "type": "string"
        }
      }
    },
    "models.RedirectURI": {
      "type": "object",
      "properties": {
        "created_at": {
          "type": "string"
        },
        "entity_id": {
          "type": "string"
        },
        "id": {
          "type": "integer"
        },
        "uri": {
          "type": "string"
        }
      }
    },
    "models.Scope": {
      "type": "object",
      "properties": {
        "created_at": {
          "type": "string"
        },
        "description": {
          "type": "string"
        },
        "id": {
          "type": "string"
        },
        "name": {
          "type": "string"
        }
      }
    },
    "models.TokenFormat": {
      "type": "string",
      "enum": [
        "jwt",
        "opaque",
        "pat"
      ],
      "x-enum-varnames": [
        "TokenFormatJWT",
        "TokenFormatOpaque",
        "TokenFormatPAT"
      ]
    },
    "models.TokenRole": {
      "type": "string",
      "enum": [
        "access_token",
        "refresh_token"
      ],
      "x-enum-varnames": [
        "TokenRoleAccess",
        "TokenRoleRefresh"
      ]
    },
    "oauth2.AuthorizeRequest": {
      "type": "object",
      "required": [
        "client_id",
        "redirect_uri",
        "tenant_id",
        "user_id"
      ],
      "properties": {
        "client_id": {
          "description": "ResponseType string `form:\"response_type\" json:\"response_type\" binding:\"required,oneof=code token\"`",
          "type": "string"
        },
        "redirect_uri": {
          "type": "string"
        },
        "state": {
          "type": "string"
        },
        "tenant_id": {
          "type": "string"
        },
        "user_id": {
          "type": "string"
        }
      }
    },
    "oauth2.AuthorizeResponse": {
      "type": "object",
      "properties": {
        "redirect_uri": {
          "type": "string"
        }
      }
    },
    "oauth2.GrantType": {
      "type": "string",
      "enum": [
        "authorization_code",
        "refresh_token",
        "delegated_user_client"
      ],
      "x-enum-varnames": [
        "GrantTypeAuthorizationCode",
        "GrantTypeRefreshToken",
        "GrantTypeDelegatedUser"
      ]
    },
    "oauth2.IntrospectTokenRequest": {
      "type": "object",
      "required": [
        "token"
      ],
      "properties": {
        "token": {
          "type": "string"
        }
      }
    },
    "oauth2.RevokeTokenRequest": {
      "type": "object",
      "required": [
        "token"
      ],
      "properties": {
        "token": {
          "type": "string"
        }
      }
    },
    "oauth2.TokenExchangeRequest": {
      "type": "object",
      "required": [
        "subject_token",
        "subject_token_type"
      ],
      "properties": {
        "include_entitlements": {
          "type": "boolean"
        },
        "subject_token": {
          "type": "string"
        },
        "subject_token_type": {
          "type": "string"
        }
      }
    },
    "oauth2.TokenRequest": {
      "type": "object",
      "required": [
        "grant_type"
      ],
      "properties": {
        "client_id": {
          "description": "Bind as string to support form payloads; parsed to uuid in handler",
          "type": "string"
        },
        "client_secret": {
          "type": "string"
        },
        "code": {
          "type": "string"
        },
        "company_id": {
          "type": "string"
        },
        "grant_type": {
          "enum": [
            "authorization_code",
            "refresh_token",
            "delegated_user_client"
          ],
          "allOf": [
            {
              "$ref": "#/definitions/oauth2.GrantType"
            }
          ]
        },
        "redirect_uri": {
          "type": "string"
        },
        "refresh_token": {
          "type": "string"
        },
        "user_id": {
          "type": "string"
        }
      }
    },
    "pat.PatMetadata": {
      "type": "object",
      "properties": {
        "client_id": {
          "type": "string"
        },
        "created_at": {
          "type": "string"
        },
        "description": {
          "type": "string"
        },
        "entity_name": {
          "type": "string"
        },
        "expires_at": {
          "type": "string"
        },
        "id": {
          "type": "string"
        }
      }
    },
    "pat.PatRevokeRequest": {
      "type": "object",
      "properties": {
        "token": {
          "type": "string"
        },
        "token_id": {
          "type": "string"
        }
      }
    },
    "pat.PatRotateRequest": {
      "type": "object",
      "required": [
        "description",
        "pat_timeframe"
      ],
      "properties": {
        "description": {
          "type": "string"
        },
        "pat_timeframe": {
          "enum": [
            "30d",
            "90d",
            "6m",
            "12m"
          ],
          "allOf": [
            {
              "$ref": "#/definitions/services.PatTimeframeKey"
            }
          ]
        },
        "token": {
          "type": "string"
        },
        "token_id": {
          "type": "string"
        }
      }
    },
    "pat.PatTokenRequest": {
      "type": "object",
      "required": [
        "client_id",
        "description",
        "pat_timeframe"
      ],
      "properties": {
        "client_id": {
          "type": "string"
        },
        "description": {
          "type": "string"
        },
        "pat_timeframe": {
          "enum": [
            "30d",
            "90d",
            "6m",
            "12m"
          ],
          "allOf": [
            {
              "$ref": "#/definitions/services.PatTimeframeKey"
            }
          ]
        }
      }
    },
    "redirect_uris.CreateRedirectUrisRequest": {
      "type": "object",
      "required": [
        "entity_id",
        "uris"
      ],
      "properties": {
        "entity_id": {
          "type": "string"
        },
        "uris": {
          "type": "array",
          "items": {
            "type": "string"
          }
        }
      }
    },
    "redirect_uris.UpdateRedirectUriRequest": {
      "type": "object",
      "required": [
        "uri"
      ],
      "properties": {
        "uri": {
          "type": "string"
        }
      }
    },
    "services.PatTimeframeKey": {
      "type": "string",
      "enum": [
        "30d",
        "90d",
        "6m",
        "12m"
      ],
      "x-enum-varnames": [
        "PatTimeframe30Days",
        "PatTimeframe90Days",
        "PatTimeframe6Months",
        "PatTimeframe12Months"
      ]
    },
    "transport.ClientCredentialsResponse": {
      "type": "object",
      "properties": {
        "client_id": {
          "type": "string"
        },
        "secret": {
          "type": "string"
        }
      }
    },
    "transport.IntrospectTokenResponse": {
      "type": "object",
      "properties": {
        "act": {
          "description": "The \"On Behalf Of\" actor claim",
          "allOf": [
            {
              "$ref": "#/definitions/models.ActorClaim"
            }
          ]
        },
        "aud": {
          "description": "aud claim should be an array. We'll need to handle this in future versions",
          "type": "string"
        },
        "client_id": {
          "type": "string"
        },
        "companyId": {
          "type": "string"
        },
        "companyMfaRequired": {
          "type": "boolean"
        },
        "companyName": {
          "type": "string"
        },
        "company_id": {
          "type": "string"
        },
        "exp": {
          "type": "integer"
        },
        "iat": {
          "type": "integer"
        },
        "is_valid": {
          "type": "boolean"
        },
        "iss": {
          "type": "string"
        },
        "jti": {
          "type": "string"
        },
        "nbf": {
          "type": "integer"
        },
        "personId": {
          "type": "string"
        },
        "personMetadataId": {
          "type": "string"
        },
        "scopes": {
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "seniorLeadershipTeamId": {
          "type": "string"
        },
        "sub": {
          "type": "string"
        },
        "token_format": {
          "$ref": "#/definitions/models.TokenFormat"
        },
        "token_role": {
          "$ref": "#/definitions/models.TokenRole"
        },
        "userId": {
          "type": "string"
        },
        "user_id": {
          "type": "string"
        },
        "v": {
          "description": "Custom Claims",
          "type": "integer"
        }
      }
    }
  },
  "securityDefinitions": {
    "BasicAuth": {
      "type": "basic"
    },
    "BearerAuth": {
      "description": "Type \"Bearer\" followed by JWT token",
      "type": "apiKey",
      "name": "Authorization",
      "in": "header"
    }
  },
  "tags": [
    {
      "name": "Client Credentials"
    },
    {
      "name": "Entities"
    },
    {
      "name": "Health"
    },
    {
      "name": "OAuth2"
    },
    {
      "name": "PAT"
    },
    {
      "name": "RedirectUris"
    }
  ]
}
