{
  "openapi": "3.0.3",
  "info": {
    "title": "SEC EDGAR Full-Text Search API",
    "version": "1.0.0",
    "description": "SEC EDGAR full-text search system (EFTS) API for searching SEC filing documents, company filings, and XBRL data.",
    "x-jentic-source-url": "https://www.sec.gov/developer",
    "contact": {
      "name": "API Support"
    }
  },
  "servers": [
    {
      "url": "https://efts.sec.gov"
    }
  ],
  "paths": {
    "/LATEST/search-index": {
      "get": {
        "operationId": "searchFilings",
        "summary": "Full-text search SEC filings",
        "description": "Searches EDGAR filing documents using Elasticsearch-based full-text search.",
        "tags": [
          "Search"
        ],
        "parameters": [
          {
            "name": "q",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Search query text"
          },
          {
            "name": "dateRange",
            "in": "query",
            "schema": {
              "type": "string",
              "enum": [
                "custom"
              ]
            },
            "description": "Date range type"
          },
          {
            "name": "startdt",
            "in": "query",
            "schema": {
              "type": "string",
              "format": "date"
            },
            "description": "Start date (YYYY-MM-DD)"
          },
          {
            "name": "enddt",
            "in": "query",
            "schema": {
              "type": "string",
              "format": "date"
            },
            "description": "End date (YYYY-MM-DD)"
          },
          {
            "name": "forms",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "description": "Comma-separated form types (e.g. 10-K,10-Q,8-K)"
          },
          {
            "name": "from",
            "in": "query",
            "schema": {
              "type": "integer",
              "default": 0
            },
            "description": "Pagination offset"
          },
          {
            "name": "size",
            "in": "query",
            "schema": {
              "type": "integer",
              "default": 10,
              "maximum": 100
            },
            "description": "Number of results per page"
          }
        ],
        "responses": {
          "200": {
            "description": "Search results",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SearchResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/cgi-bin/browse-edgar": {
      "get": {
        "operationId": "browseEdgar",
        "summary": "Browse EDGAR filings",
        "description": "Browse SEC filings by company, CIK, or form type.",
        "tags": [
          "Browse"
        ],
        "parameters": [
          {
            "name": "action",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string",
              "enum": [
                "getcompany",
                "getcurrent"
              ]
            },
            "description": "Action type"
          },
          {
            "name": "company",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "description": "Company name search"
          },
          {
            "name": "CIK",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "description": "Central Index Key (CIK number)"
          },
          {
            "name": "type",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "description": "Filing type (e.g. 10-K)"
          },
          {
            "name": "dateb",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "description": "Filed before date (YYYYMMDD)"
          },
          {
            "name": "owner",
            "in": "query",
            "schema": {
              "type": "string",
              "enum": [
                "include",
                "exclude",
                "only"
              ]
            },
            "description": "Ownership filter"
          },
          {
            "name": "count",
            "in": "query",
            "schema": {
              "type": "integer",
              "default": 40
            },
            "description": "Number of results"
          },
          {
            "name": "search_text",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "description": "Full-text search within filings"
          },
          {
            "name": "output",
            "in": "query",
            "schema": {
              "type": "string",
              "enum": [
                "atom"
              ]
            },
            "description": "Output format"
          }
        ],
        "responses": {
          "200": {
            "description": "Browse results"
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/cgi-bin/viewer": {
      "get": {
        "operationId": "viewFiling",
        "summary": "View a filing document",
        "tags": [
          "Browse"
        ],
        "parameters": [
          {
            "name": "action",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string",
              "enum": [
                "view"
              ]
            }
          },
          {
            "name": "cik",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "type",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "dateb",
            "in": "query",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Filing document"
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "description": "View a filing document"
      }
    },
    "/submissions/CIK{cik}.json": {
      "get": {
        "operationId": "getCompanySubmissions",
        "summary": "Get company submissions",
        "description": "Retrieves recent filings and company information for a given CIK.",
        "tags": [
          "Submissions"
        ],
        "parameters": [
          {
            "name": "cik",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "10-digit CIK number with leading zeros"
          }
        ],
        "responses": {
          "200": {
            "description": "Company submissions",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CompanySubmissions"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/api/xbrl/companyfacts/CIK{cik}.json": {
      "get": {
        "operationId": "getCompanyFacts",
        "summary": "Get XBRL company facts",
        "description": "Returns all company XBRL disclosures from all filings.",
        "tags": [
          "XBRL"
        ],
        "parameters": [
          {
            "name": "cik",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "10-digit CIK number with leading zeros"
          }
        ],
        "responses": {
          "200": {
            "description": "Company facts",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CompanyFacts"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/api/xbrl/companyconcept/CIK{cik}/{taxonomy}/{concept}.json": {
      "get": {
        "operationId": "getCompanyConcept",
        "summary": "Get a specific XBRL concept for a company",
        "description": "Returns all disclosures for a specific concept (e.g., us-gaap/Revenue) across all filings.",
        "tags": [
          "XBRL"
        ],
        "parameters": [
          {
            "name": "cik",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "taxonomy",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Taxonomy (e.g. us-gaap, dei, ifrs-full)"
          },
          {
            "name": "concept",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "XBRL concept name (e.g. Revenue, Assets)"
          }
        ],
        "responses": {
          "200": {
            "description": "Concept data",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CompanyConcept"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/api/xbrl/frames/{taxonomy}/{concept}/{unit}/CY{year}.json": {
      "get": {
        "operationId": "getXbrlFrames",
        "summary": "Get XBRL frames",
        "description": "Returns aggregated XBRL data across all filers for a given concept, unit, and period.",
        "tags": [
          "XBRL"
        ],
        "parameters": [
          {
            "name": "taxonomy",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "concept",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "unit",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Unit (e.g. USD, pure, shares)"
          },
          {
            "name": "year",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Calendar year (e.g. 2023) or year-quarter (e.g. 2023Q1)"
          }
        ],
        "responses": {
          "200": {
            "description": "Frame data",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/XbrlFrame"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    }
  },
  "components": {
    "schemas": {
      "SearchResponse": {
        "type": "object",
        "properties": {
          "took": {
            "type": "integer"
          },
          "timed_out": {
            "type": "boolean"
          },
          "_shards": {
            "type": "object",
            "properties": {
              "total": {
                "type": "integer"
              },
              "successful": {
                "type": "integer"
              },
              "skipped": {
                "type": "integer"
              },
              "failed": {
                "type": "integer"
              }
            }
          },
          "hits": {
            "type": "object",
            "properties": {
              "total": {
                "type": "object",
                "properties": {
                  "value": {
                    "type": "integer"
                  },
                  "relation": {
                    "type": "string"
                  }
                }
              },
              "max_score": {
                "type": "number"
              },
              "hits": {
                "type": "array",
                "items": {
                  "$ref": "#/components/schemas/SearchHit"
                }
              }
            }
          }
        }
      },
      "SearchHit": {
        "type": "object",
        "properties": {
          "_index": {
            "type": "string"
          },
          "_id": {
            "type": "string"
          },
          "_score": {
            "type": "number"
          },
          "_source": {
            "type": "object",
            "properties": {
              "ciks": {
                "type": "array",
                "items": {
                  "type": "string"
                }
              },
              "display_names": {
                "type": "array",
                "items": {
                  "type": "string"
                }
              },
              "form": {
                "type": "string"
              },
              "file_date": {
                "type": "string",
                "format": "date"
              },
              "period_ending": {
                "type": "string",
                "format": "date"
              },
              "file_type": {
                "type": "string"
              },
              "file_description": {
                "type": "string"
              },
              "adsh": {
                "type": "string",
                "description": "Accession number"
              },
              "sics": {
                "type": "array",
                "items": {
                  "type": "string"
                }
              },
              "biz_locations": {
                "type": "array",
                "items": {
                  "type": "string"
                }
              }
            }
          }
        }
      },
      "CompanySubmissions": {
        "type": "object",
        "properties": {
          "cik": {
            "type": "string"
          },
          "entityType": {
            "type": "string"
          },
          "sic": {
            "type": "string"
          },
          "sicDescription": {
            "type": "string"
          },
          "name": {
            "type": "string"
          },
          "tickers": {
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "exchanges": {
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "ein": {
            "type": "string"
          },
          "category": {
            "type": "string"
          },
          "fiscalYearEnd": {
            "type": "string"
          },
          "stateOfIncorporation": {
            "type": "string"
          },
          "filings": {
            "type": "object",
            "properties": {
              "recent": {
                "type": "object"
              },
              "files": {
                "type": "array",
                "items": {
                  "type": "object"
                }
              }
            }
          }
        }
      },
      "CompanyFacts": {
        "type": "object",
        "properties": {
          "cik": {
            "type": "integer"
          },
          "entityName": {
            "type": "string"
          },
          "facts": {
            "type": "object",
            "additionalProperties": {
              "type": "object"
            }
          }
        }
      },
      "CompanyConcept": {
        "type": "object",
        "properties": {
          "cik": {
            "type": "integer"
          },
          "taxonomy": {
            "type": "string"
          },
          "tag": {
            "type": "string"
          },
          "label": {
            "type": "string"
          },
          "description": {
            "type": "string"
          },
          "entityName": {
            "type": "string"
          },
          "units": {
            "type": "object",
            "additionalProperties": {
              "type": "array",
              "items": {
                "type": "object",
                "properties": {
                  "end": {
                    "type": "string"
                  },
                  "val": {
                    "type": "number"
                  },
                  "accn": {
                    "type": "string"
                  },
                  "fy": {
                    "type": "integer"
                  },
                  "fp": {
                    "type": "string"
                  },
                  "form": {
                    "type": "string"
                  },
                  "filed": {
                    "type": "string"
                  }
                }
              }
            }
          }
        }
      },
      "XbrlFrame": {
        "type": "object",
        "properties": {
          "taxonomy": {
            "type": "string"
          },
          "tag": {
            "type": "string"
          },
          "ccp": {
            "type": "string"
          },
          "uom": {
            "type": "string"
          },
          "label": {
            "type": "string"
          },
          "description": {
            "type": "string"
          },
          "pts": {
            "type": "integer"
          },
          "data": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "accn": {
                  "type": "string"
                },
                "cik": {
                  "type": "integer"
                },
                "entityName": {
                  "type": "string"
                },
                "loc": {
                  "type": "string"
                },
                "end": {
                  "type": "string"
                },
                "val": {
                  "type": "number"
                }
              }
            }
          }
        }
      },
      "ErrorResponse": {
        "type": "object",
        "properties": {
          "status": {
            "type": "string"
          },
          "code": {
            "type": "string"
          },
          "message": {
            "type": "string"
          }
        }
      }
    },
    "securitySchemes": {
      "UserAgent": {
        "type": "apiKey",
        "name": "User-Agent",
        "in": "header",
        "description": "SEC requires a User-Agent header with company name, contact name, and email"
      }
    }
  },
  "security": [
    {
      "UserAgent": []
    }
  ],
  "tags": [
    {
      "name": "Browse"
    },
    {
      "name": "Search"
    },
    {
      "name": "Submissions"
    },
    {
      "name": "XBRL"
    }
  ]
}
