{
  "openapi": "3.0.3",
  "info": {
    "title": "Agartala Smart City APIs (UAT)",
    "version": "2.0.0",
    "description": "API documentation for Agartala Smart City Tax & Payment APIs (UAT). - First, obtain a token from `/api/security/oauth/token` - Then call the other endpoints with `Authorization` header\n",
    "x-jentic-source-url": "https://api.swaggerhub.com/apis/mapmyindia-000/agartala-smart-city-apis-uat/2.0.0"
  },
  "servers": [
    {
      "url": "https://stg.mapmyindia.in"
    }
  ],
  "security": [
    {
      "ApiKeyAuth": []
    }
  ],
  "paths": {
    "/api/security/oauth/token": {
      "post": {
        "summary": "Get OAuth Token",
        "description": "Obtain access token using client credentials",
        "parameters": [
          {
            "name": "grant_type",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            },
            "example": "client_credentials"
          },
          {
            "name": "client_id",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            },
            "example": "40d3b93a50212bb5fdee5d4c8be2d216"
          },
          {
            "name": "client_secret",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            },
            "example": "b7ead3cd24d8f9ad127da29e7d1e4217"
          }
        ],
        "responses": {
          "200": {
            "description": "Token issued successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TokenResponse"
                }
              }
            }
          },
          "400": {
            "description": "Invalid request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "500": {
            "description": "Server error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "security": []
      }
    },
    "/amc-ext/api/properties/tax-details": {
      "get": {
        "summary": "Property Search",
        "parameters": [
          {
            "name": "propertyId",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            },
            "example": "AMCCZ00135"
          },
          {
            "name": "phoneNo",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "example": ""
          },
          {
            "name": "Accept",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string"
            },
            "example": "application/vnd.taxsaas.v1+json"
          },
          {
            "name": "X-Account-Id",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string"
            },
            "example": "ascl-001"
          }
        ],
        "responses": {
          "200": {
            "description": "Tax details fetched successfully",
            "content": {
              "application/vnd.taxsaas.v1+json": {
                "schema": {
                  "$ref": "#/components/schemas/PropertyDetails"
                }
              }
            }
          },
          "400": {
            "description": "Invalid request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized (Invalid API key)",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "404": {
            "description": "Property not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "500": {
            "description": "Server error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/amc-ext/api/properties/{propertyId}/payment-history": {
      "get": {
        "summary": "Payment History",
        "parameters": [
          {
            "name": "propertyId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "example": "AMCCZ23510"
          },
          {
            "name": "Accept",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string"
            },
            "example": "application/vnd.taxsaas.v1+json"
          },
          {
            "name": "X-Account-Id",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string"
            },
            "example": "ascl-001"
          }
        ],
        "responses": {
          "200": {
            "description": "Payment history fetched successfully",
            "content": {
              "application/vnd.taxsaas.v1+json": {
                "schema": {
                  "$ref": "#/components/schemas/PaymentHistory"
                }
              }
            }
          },
          "400": {
            "description": "Invalid request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "404": {
            "description": "Not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "500": {
            "description": "Server error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/amc-ext/api/properties/{propertyId}/paymentlink": {
      "get": {
        "summary": "Payments (Generate Payment Link)",
        "parameters": [
          {
            "name": "propertyId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "example": "AMCCZ00365"
          },
          {
            "name": "Accept",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string"
            },
            "example": "application/vnd.taxsaas.v1+json"
          },
          {
            "name": "X-Account-Id",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string"
            },
            "example": "ascl-001"
          }
        ],
        "responses": {
          "200": {
            "description": "Payment link generated",
            "content": {
              "application/vnd.taxsaas.v1+json": {
                "schema": {
                  "$ref": "#/components/schemas/PaymentLink"
                }
              }
            }
          },
          "400": {
            "description": "Invalid request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "500": {
            "description": "Server error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/amc-ext/api/properties/yearly-tax": {
      "post": {
        "summary": "Yearly Tax",
        "parameters": [
          {
            "name": "Accept",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string"
            },
            "example": "application/vnd.taxsaas.v1+json"
          },
          {
            "name": "X-Account-Id",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string"
            },
            "example": "ascl-001"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "property_id": {
                    "type": "string",
                    "example": "AMCCZ00007"
                  },
                  "financial_year": {
                    "type": "string",
                    "example": "2024-2025"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Yearly tax calculated",
            "content": {
              "application/vnd.taxsaas.v1+json": {
                "schema": {
                  "$ref": "#/components/schemas/YearlyTax"
                }
              }
            }
          },
          "400": {
            "description": "Invalid request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "500": {
            "description": "Server error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/amc-ext/api/payments/{paymentId}/status": {
      "get": {
        "summary": "Payment Status",
        "parameters": [
          {
            "name": "paymentId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "example": "AMC-1000024646"
          },
          {
            "name": "Accept",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string"
            },
            "example": "application/vnd.taxsaas.v1+json"
          },
          {
            "name": "X-Account-Id",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string"
            },
            "example": "ascl-001"
          }
        ],
        "responses": {
          "200": {
            "description": "Payment status fetched",
            "content": {
              "application/vnd.taxsaas.v1+json": {
                "schema": {
                  "$ref": "#/components/schemas/PaymentStatus"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "404": {
            "description": "Not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "500": {
            "description": "Server error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/amc-ext/api/payments/{paymentId}/receipt": {
      "get": {
        "summary": "Payment Receipt",
        "parameters": [
          {
            "name": "paymentId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "example": "AMC-1000253445"
          },
          {
            "name": "Accept",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string"
            },
            "example": "application/vnd.taxsaas.v1+json"
          },
          {
            "name": "X-Account-Id",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string"
            },
            "example": "ascl-001"
          }
        ],
        "responses": {
          "200": {
            "description": "Payment receipt fetched",
            "content": {
              "application/vnd.taxsaas.v1+json": {
                "schema": {
                  "$ref": "#/components/schemas/PaymentReceipt"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "404": {
            "description": "Not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "500": {
            "description": "Server error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    }
  },
  "components": {
    "securitySchemes": {
      "ApiKeyAuth": {
        "type": "apiKey",
        "in": "header",
        "name": "Authorization",
        "description": "Provide the API token obtained from `/api/security/oauth/token`"
      }
    },
    "schemas": {
      "TokenResponse": {
        "type": "object",
        "properties": {
          "access_token": {
            "type": "string",
            "example": "17a9e9bc-ea8e-4201-81de-638ed4caefc3"
          },
          "token_type": {
            "type": "string",
            "example": "Bearer"
          },
          "expires_in": {
            "type": "integer",
            "example": 3600
          }
        }
      },
      "ErrorResponse": {
        "type": "object",
        "properties": {
          "code": {
            "type": "integer",
            "example": 401
          },
          "message": {
            "type": "string",
            "example": "Unauthorized"
          }
        }
      },
      "PropertyDetails": {
        "type": "object",
        "properties": {
          "propertyId": {
            "type": "string"
          },
          "ownerName": {
            "type": "string"
          },
          "address": {
            "type": "string"
          }
        }
      },
      "PaymentHistory": {
        "type": "object",
        "properties": {
          "propertyId": {
            "type": "string"
          },
          "payments": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "transactionId": {
                  "type": "string"
                },
                "amount": {
                  "type": "number"
                },
                "date": {
                  "type": "string",
                  "format": "date"
                }
              }
            }
          }
        }
      },
      "PaymentLink": {
        "type": "object",
        "properties": {
          "url": {
            "type": "string",
            "example": "https://pay.example.com/xyz123"
          }
        }
      },
      "YearlyTax": {
        "type": "object",
        "properties": {
          "propertyId": {
            "type": "string"
          },
          "financialYear": {
            "type": "string"
          },
          "totalTax": {
            "type": "number"
          }
        }
      },
      "PaymentStatus": {
        "type": "object",
        "properties": {
          "paymentId": {
            "type": "string"
          },
          "status": {
            "type": "string",
            "example": "SUCCESS"
          }
        }
      },
      "PaymentReceipt": {
        "type": "object",
        "properties": {
          "paymentId": {
            "type": "string"
          },
          "receiptUrl": {
            "type": "string",
            "example": "https://stg.mapmyindia.in/receipt/AMC-1000253445.pdf"
          }
        }
      }
    }
  }
}