{
  "openapi": "3.0.3",
  "info": {
    "title": "PVNG",
    "version": "1.0.0",
    "contact": {},
    "x-jentic-source-url": "https://api.swaggerhub.com/apis/MUSESSHADOW/pvng/1.0.0"
  },
  "servers": [
    {
      "url": "https://pvngapi.aptech-inc.com"
    }
  ],
  "paths": {
    "/api/v2.0/login": {
      "post": {
        "summary": "Authenticate",
        "description": "With username and password, authenticate against the login path for a bearer JWT token",
        "operationId": "authenticate",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "password": {
                    "type": "string",
                    "example": "12345"
                  },
                  "username": {
                    "type": "string",
                    "example": "myUser"
                  }
                }
              },
              "examples": {
                "Authenticate": {
                  "value": {
                    "password": "13c3d534a29d4caa8f9d7cf39a847781",
                    "username": "profact.palmhouse"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "token": {
                      "type": "string"
                    },
                    "expiry": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/api/v2.0/Companies": {
      "get": {
        "summary": "List Companies",
        "description": "List Companies associated with Authorization",
        "parameters": [
          {
            "name": "Bearertoken",
            "in": "header",
            "schema": {
              "type": "string"
            },
            "required": true
          },
          {
            "name": "dmsEmails",
            "in": "query",
            "schema": {
              "type": "string",
              "example": "true"
            }
          }
        ],
        "responses": {
          "200": {
            "description": ""
          }
        }
      }
    },
    "/api/v2.0/Transactions/details/{companyCode}": {
      "get": {
        "summary": "Detail Transactions",
        "description": "Detailed transaction data based on supplied parameters",
        "parameters": [
          {
            "name": "Bearertoken",
            "in": "header",
            "schema": {
              "type": "string"
            },
            "required": true
          },
          {
            "name": "companyCode",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "example": "PHH",
            "description": "companyCode to extract detail transactions from, obtained from the /Companies endpoint"
          },
          {
            "name": "glTransactionNumber",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer"
            },
            "description": "glTransactionNumber or journal number to extract"
          },
          {
            "name": "glTransactionDate",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "format": "date"
            },
            "description": "date of transaction to extract in yyyy-mm-dd format"
          },
          {
            "name": "startTransactionDate",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "format": "date"
            },
            "description": "start of range of transaction dates to extract in yyyy-mm-dd format"
          },
          {
            "name": "endTransactionDate",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "format": "date"
            },
            "description": "end of range of transaction dates to extract in yyyy-mm-dd format"
          }
        ],
        "responses": {
          "200": {
            "description": ""
          }
        }
      }
    },
    "/api/v2.0/Transactions/Batch/{companyCode}": {
      "post": {
        "summary": "Post transaction Batch",
        "description": "Creates a journal entry batch to post into the system",
        "parameters": [
          {
            "name": "Bearertoken",
            "in": "header",
            "schema": {
              "type": "string"
            },
            "required": true
          },
          {
            "name": "companyCode",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "example": "PHH",
            "description": "companyCode to post journal batch to, obtained from the /Companies endpoint"
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "array",
                "items": {
                  "type": "object",
                  "properties": {
                    "GLDate": {
                      "type": "string",
                      "format": "date"
                    },
                    "Reference": {
                      "type": "string",
                      "example": "Ref123"
                    },
                    "Source": {
                      "type": "string",
                      "example": "Source001"
                    },
                    "Transactions": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "Account": {
                            "type": "string",
                            "example": "Account001"
                          },
                          "DebitAmount": {
                            "type": "number",
                            "example": 500
                          },
                          "CreditAmount": {
                            "type": "number",
                            "example": 200
                          },
                          "Stat": {
                            "type": "number",
                            "example": 100
                          },
                          "Reference": {
                            "type": "string",
                            "example": "Ref1"
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK"
          }
        }
      }
    },
    "/api/v2.0/Accounts/{companyCode}/balances/{fiscalYear}/{period}": {
      "get": {
        "summary": "Trial Balance",
        "description": "Trial Balance by specified company, fiscal year, and period",
        "parameters": [
          {
            "name": "Bearertoken",
            "in": "header",
            "schema": {
              "type": "string"
            },
            "required": true
          },
          {
            "name": "companyCode",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "example": "PHH",
            "description": "companyCode to extract Trial Balance data from, obtained from the /Companies endpoint"
          },
          {
            "name": "fiscalYear",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            },
            "description": "fiscal year from which to extract trial balance data"
          },
          {
            "name": "period",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            },
            "description": "period from which to extract trial balance data 1-12"
          }
        ],
        "responses": {
          "200": {
            "description": ""
          }
        }
      }
    },
    "/api/v2.0/Accounts/{companyCode}": {
      "get": {
        "summary": "Chart of Accounts",
        "description": "Chart of accounts reference data",
        "parameters": [
          {
            "name": "Bearertoken",
            "in": "header",
            "schema": {
              "type": "string"
            },
            "required": true
          },
          {
            "name": "companyCode",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "example": "PHH",
            "description": "companyCode to extract Chart of Account reference for, obtained from the /Companies endpoint"
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          }
        }
      }
    }
  }
}