{
  "openapi": "3.0.3",
  "info": {
    "title": "BulkGate SMS API",
    "version": "1.0.0",
    "description": "BulkGate Advanced Transactional SMS API for sending transactional SMS messages programmatically.",
    "x-jentic-source-url": "https://help.bulkgate.com/docs/en/http-advanced-transactional.html",
    "contact": {
      "name": "API Support"
    }
  },
  "servers": [
    {
      "url": "https://portal.bulkgate.com/api/1.0",
      "description": "BulkGate API"
    }
  ],
  "security": [],
  "paths": {
    "/advanced/transactional": {
      "post": {
        "operationId": "sendTransactionalSms",
        "summary": "Send transactional SMS",
        "description": "Send a transactional SMS message to a recipient. Must be used for notification/transactional purposes only.",
        "tags": [
          "SMS"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/TransactionalSmsRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Message accepted or error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TransactionalSmsResponse"
                }
              }
            }
          },
          "400": {
            "description": "Invalid request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized - invalid credentials",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    }
  },
  "components": {
    "securitySchemes": {
      "applicationCredentials": {
        "type": "apiKey",
        "in": "header",
        "name": "application_token",
        "description": "BulkGate application token passed in request body"
      }
    },
    "schemas": {
      "TransactionalSmsRequest": {
        "type": "object",
        "required": [
          "application_id",
          "application_token",
          "text"
        ],
        "properties": {
          "application_id": {
            "type": "string",
            "description": "BulkGate Application ID"
          },
          "application_token": {
            "type": "string",
            "description": "BulkGate Application Token"
          },
          "number": {
            "type": "string",
            "description": "Recipient phone number in international format (required if admin not set)"
          },
          "admin": {
            "type": "string",
            "description": "Number of BulkGate administrator receiving notification (required if number not set)"
          },
          "text": {
            "type": "string",
            "maxLength": 612,
            "description": "Text of the SMS message (max 612 chars, or 268 if Unicode). Variables can be added: Hello <first_name>."
          },
          "variables": {
            "type": "object",
            "additionalProperties": {
              "type": "string"
            },
            "description": "Associative array to add variables to text, e.g. {\"first_name\": \"John\"}"
          },
          "unicode": {
            "type": "boolean",
            "default": false,
            "description": "true for Unicode SMS, false for 7bit SMS"
          },
          "sender_id": {
            "type": "string",
            "enum": [
              "gSystem",
              "gShort",
              "gText",
              "gMobile",
              "gPush",
              "gOwn",
              "gProfile"
            ],
            "default": "gSystem",
            "description": "Sender ID type"
          },
          "sender_id_value": {
            "type": "string",
            "nullable": true,
            "description": "Sender value (e.g. phone number for gOwn, text for gText, profile ID for gProfile)"
          },
          "country": {
            "type": "string",
            "nullable": true,
            "description": "ISO 3166-1 alpha-2 country code to prepend international prefix to local numbers"
          },
          "schedule": {
            "type": "string",
            "description": "Schedule time as Unix timestamp or ISO 8601. Defaults to now."
          },
          "duplicates_check": {
            "type": "string",
            "enum": [
              "on",
              "off"
            ],
            "default": "off",
            "description": "Prevent sending duplicate messages within 5 min window"
          },
          "tag": {
            "type": "string",
            "description": "Message label for subsequent retrieval"
          }
        }
      },
      "TransactionalSmsResponse": {
        "type": "object",
        "properties": {
          "data": {
            "$ref": "#/components/schemas/SmsResponseData"
          }
        }
      },
      "SmsResponseData": {
        "type": "object",
        "properties": {
          "status": {
            "type": "string",
            "example": "accepted"
          },
          "sms_id": {
            "type": "string",
            "description": "Unique SMS ID"
          },
          "part_id": {
            "type": "array",
            "items": {
              "type": "string"
            },
            "description": "IDs of message parts (for long messages split into multiple)"
          },
          "number": {
            "type": "string",
            "description": "Recipient number in international format"
          }
        }
      },
      "ErrorResponse": {
        "type": "object",
        "properties": {
          "type": {
            "type": "string",
            "description": "Error type identifier"
          },
          "code": {
            "type": "integer",
            "description": "HTTP error code"
          },
          "error": {
            "type": "string",
            "description": "Human-readable error description"
          },
          "detail": {
            "type": "string",
            "nullable": true,
            "description": "Additional error details"
          }
        }
      }
    }
  },
  "tags": [
    {
      "name": "SMS"
    }
  ]
}
