{
  "openapi": "3.0.3",
  "info": {
    "title": "Deck20 Parking Management Service",
    "description": "Employee Service for Deck20 Parking App",
    "version": "1.0.0",
    "x-jentic-source-url": "https://api.swaggerhub.com/apis/deck20/employee-service/1.0.0"
  },
  "servers": [
    {
      "url": "https://api.deck20-vpark.com/v1",
      "description": "Production Server"
    }
  ],
  "paths": {
    "/employees": {
      "get": {
        "summary": "List all employees",
        "tags": [
          "Employees"
        ],
        "parameters": [
          {
            "name": "dept",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "description": "Filter by department"
          },
          {
            "schema": {
              "type": "string"
            },
            "in": "query",
            "name": "empCode",
            "description": "Filter by employee code"
          },
          {
            "schema": {
              "type": "string"
            },
            "in": "header",
            "name": "Authorization",
            "description": "Authorization"
          },
          {
            "schema": {
              "type": "string"
            },
            "in": "header",
            "name": "x-client-id",
            "description": "Client ID"
          }
        ],
        "responses": {
          "200": {
            "description": "A list of employees",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Employee"
                  }
                }
              }
            }
          }
        },
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {}
              }
            }
          }
        }
      },
      "post": {
        "summary": "Create a new employee record",
        "tags": [
          "Employees"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/Employee"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Employee created"
          }
        }
      }
    },
    "/employees/{empCode}": {
      "get": {
        "summary": "Get employee details by empCode",
        "tags": [
          "Employees"
        ],
        "parameters": [
          {
            "name": "empCode",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "The unique employee code (e.g., EMP001)"
          }
        ],
        "responses": {
          "200": {
            "description": "Employee details and their vehicles",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/EmployeeDetails"
                }
              }
            }
          },
          "404": {
            "description": "Employee not found"
          }
        }
      }
    }
  },
  "components": {
    "schemas": {
      "Employee": {
        "type": "object",
        "required": [
          "empCode",
          "firstName",
          "lastName",
          "phone",
          "status"
        ],
        "properties": {
          "id": {
            "type": "integer",
            "format": "int32",
            "example": "101",
            "readOnly": true
          },
          "empCode": {
            "type": "string",
            "example": "EMP10234"
          },
          "firstName": {
            "type": "string",
            "example": "Arjun"
          },
          "lastName": {
            "type": "string",
            "example": "Sharma"
          },
          "dept": {
            "type": "string",
            "example": "Engineering"
          },
          "phone": {
            "type": "string",
            "example": "+91-9876543210"
          },
          "status": {
            "type": "string",
            "enum": [
              "ACTIVE",
              "INACTIVE",
              "ON_LEAVE"
            ],
            "default": "ACTIVE"
          }
        }
      },
      "Vehicle": {
        "type": "object",
        "properties": {
          "plateNumber": {
            "type": "string",
            "example": "KA01MG1234"
          },
          "make": {
            "type": "string",
            "example": "Toyota"
          },
          "model": {
            "type": "string",
            "example": "Camry"
          },
          "color": {
            "type": "string",
            "example": "Silver"
          }
        }
      },
      "EmployeeDetails": {
        "allOf": [
          {
            "$ref": "#/components/schemas/Employee"
          },
          {
            "type": "object",
            "properties": {
              "vehicles": {
                "type": "array",
                "items": {
                  "$ref": "#/components/schemas/Vehicle"
                },
                "description": "List of vehicles registered to this employee"
              }
            }
          }
        ]
      }
    }
  }
}