{
  "openapi": "3.0.1",
  "info": {
    "title": "CLASSIFIER INTEGRATION API",
    "description": "CLASSIFIER INTEGRATION API",
    "termsOfService": "https://tasnif.soliq.uz/",
    "version": "3.1.3",
    "x-jentic-source-url": "https://api.swaggerhub.com/apis/dream-62d/tasnif.soliq.uz/3.1.3"
  },
  "servers": [
    {
      "url": "https://tasnif.soliq.uz/api/cl-api"
    }
  ],
  "security": [
    {
      "BearerToken": []
    }
  ],
  "tags": [
    {
      "name": "\u2116 21: Tadbirkorlik subekti ",
      "description": " Tadbirkorlik subekti asosida tanlangan mahsulotlar"
    },
    {
      "name": "\u2116 26: KCM ma\u02bclumotlari",
      "description": "KCM ma\u02bclumotlari (Boshqa tizimlar uchun)"
    },
    {
      "name": "\u2116 24: Integratsiya mxik yaratish bo'yicha",
      "description": " Integratsiya mxik yaratish bo'yicha"
    },
    {
      "name": "\u2116 22: Qo'shimcha ma'lumotlar",
      "description": " Qo'shimcha ma'lumotlar"
    },
    {
      "name": "\u2116 14: MXIK qadoq ma'lumotlari",
      "description": " MXIK qadoq ma'lumotlari"
    },
    {
      "name": "\u2116 23: Tovarlar nomenclaturasi",
      "description": " Tovarlar nomenclaturasi"
    },
    {
      "name": "\u2116 25: MXIK ma\u02bclumotlari",
      "description": "MXIK ma\u02bclumotlari (Boshqa tizimlar uchun)"
    },
    {
      "name": "\u2116 22: Hazelcast ma'lumotlarini tozalash",
      "description": "keshni tozalash"
    },
    {
      "name": "\u2116 20: MXIK ma\u02bclumotlari",
      "description": "MXIK ma\u02bclumotlari (Boshqa tizimlar uchun)"
    },
    {
      "name": "\u2116 8: MXIK ma\u02bclumotlari",
      "description": "MXIK ma\u02bclumotlari"
    },
    {
      "name": "\u2116 28: Markirovkaga doir API lar",
      "description": " Markirovka bilan intergatriyalar."
    }
  ],
  "paths": {
    "/mxik/new-procurement/{mxik-code}": {
      "put": {
        "tags": [
          "\u2116 8: MXIK ma\u02bclumotlari"
        ],
        "summary": "\u2116 8.22: Procurement update",
        "description": "Procurement update",
        "operationId": "newProcurementsUpdate",
        "parameters": [
          {
            "name": "mxik-code",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ProcurementSaveDTO"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "type": "string"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "*/*": {
                "schema": {
                  "type": "object",
                  "additionalProperties": {
                    "type": "object"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/integration-nomenclature/update/product": {
      "put": {
        "tags": [
          "\u2116 23: Tovarlar nomenclaturasi"
        ],
        "summary": "\u2116 23.3: Tovar nomenclaturasini e-aktiv dasturidan malumotlarni update qilish",
        "operationId": "updateNomenClatura",
        "parameters": [
          {
            "name": "tin",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "code",
            "in": "query",
            "required": true,
            "schema": {
              "pattern": "^[A-Za-z0-9]*$",
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/NomenClatureUpdateDto"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ResultTotalDtoString"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "*/*": {
                "schema": {
                  "type": "object",
                  "additionalProperties": {
                    "type": "object"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/validation/get-list": {
      "post": {
        "tags": [
          "marking-validation-controller"
        ],
        "operationId": "getValidations",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "uniqueItems": true,
                "type": "array",
                "items": {
                  "type": "string"
                }
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "type": "object",
                  "additionalProperties": {
                    "$ref": "#/components/schemas/ValidationResponse"
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "*/*": {
                "schema": {
                  "type": "object",
                  "additionalProperties": {
                    "type": "object"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/mxik/procurement": {
      "get": {
        "tags": [
          "\u2116 8: MXIK ma\u02bclumotlari"
        ],
        "summary": "\u2116 8.19: Xarid qilingan tovarlar mxik royhati: Paginatsiya orqali",
        "description": "Xarid qilingan tovarlar mxik royhati: Paginatsiya orqali",
        "operationId": "procurementsPagination",
        "parameters": [
          {
            "name": "state_code",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "format": "int32",
              "default": -1
            }
          },
          {
            "name": "activity",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "format": "int32",
              "default": 1
            }
          },
          {
            "name": "page",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "format": "int32",
              "default": 0
            }
          },
          {
            "name": "size",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "format": "int32",
              "default": 20
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/CustomPaginationDtoListProcurementAll"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "*/*": {
                "schema": {
                  "type": "object",
                  "additionalProperties": {
                    "type": "object"
                  }
                }
              }
            }
          }
        }
      },
      "post": {
        "tags": [
          "\u2116 8: MXIK ma\u02bclumotlari"
        ],
        "summary": "\u2116 8.18: Xarid qilingan tovarlar mxik kodlari",
        "description": "Xarid qilingan tovarlar mxik kodlari",
        "operationId": "procurements",
        "parameters": [
          {
            "name": "tin",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "activity",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "format": "int32",
              "default": 1
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "maxItems": 1000,
                "minItems": 1,
                "type": "array",
                "items": {
                  "type": "string"
                }
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Procurement"
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "*/*": {
                "schema": {
                  "type": "object",
                  "additionalProperties": {
                    "type": "object"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/mxik/package/get/package/list": {
      "post": {
        "tags": [
          "\u2116 14: MXIK qadoq ma'lumotlari"
        ],
        "summary": "\u2116 14.2: Package list bo'yicha malumotlarni olish",
        "operationId": "getByPackageCodeList",
        "parameters": [
          {
            "name": "state",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "format": "int32",
              "default": 0
            }
          },
          {
            "name": "checkUser",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "format": "int32",
              "default": 1
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "maxItems": 1000,
                "minItems": 1,
                "type": "array",
                "items": {
                  "type": "integer",
                  "format": "int32"
                }
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ResultDataDtoMapIntegerPackageDto"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "*/*": {
                "schema": {
                  "type": "object",
                  "additionalProperties": {
                    "type": "object"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/mxik/new-procurement": {
      "get": {
        "tags": [
          "\u2116 8: MXIK ma\u02bclumotlari"
        ],
        "summary": "\u2116 8.20: Xarid qilingan tovarlar mxik kodlari",
        "description": "Xarid qilingan tovarlar mxik kodlari",
        "operationId": "newProcurements",
        "parameters": [
          {
            "name": "tinOrPinfl",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "status",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "activityCode",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "mxikCode",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "pageable",
            "in": "query",
            "required": true,
            "schema": {
              "$ref": "#/components/schemas/Pageable"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/PageImplProcurementDataResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "*/*": {
                "schema": {
                  "type": "object",
                  "additionalProperties": {
                    "type": "object"
                  }
                }
              }
            }
          }
        }
      },
      "post": {
        "tags": [
          "\u2116 8: MXIK ma\u02bclumotlari"
        ],
        "summary": "\u2116 8.21: Procurement save",
        "description": "Procurement save",
        "operationId": "newProcurementsSave",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ProcurementSaveDTO"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "type": "string"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "*/*": {
                "schema": {
                  "type": "object",
                  "additionalProperties": {
                    "type": "object"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/mxik/new-procurement/data": {
      "post": {
        "tags": [
          "\u2116 8: MXIK ma\u02bclumotlari"
        ],
        "summary": "\u2116 8.23: Procurement data list",
        "description": "Procurement data list",
        "operationId": "newProcurementsData",
        "parameters": [
          {
            "name": "pageable",
            "in": "query",
            "required": true,
            "schema": {
              "$ref": "#/components/schemas/Pageable"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ProcurementDataDTO"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/ProcurementDataResponse"
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "*/*": {
                "schema": {
                  "type": "object",
                  "additionalProperties": {
                    "type": "object"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/mxik/drug/information": {
      "post": {
        "tags": [
          "\u2116 8: MXIK ma\u02bclumotlari"
        ],
        "summary": "\u2116 8.9: Mxik Code orqali dori ma'lumotlarini olish",
        "operationId": "getDrugInformationByMxik",
        "parameters": [
          {
            "name": "password",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "maxItems": 1000,
                "minItems": 1,
                "type": "array",
                "items": {
                  "type": "string"
                }
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ResultTotalDtoMapStringString"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "*/*": {
                "schema": {
                  "type": "object",
                  "additionalProperties": {
                    "type": "object"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/mxik/drug/information/retail-price": {
      "post": {
        "tags": [
          "\u2116 8: MXIK ma\u02bclumotlari"
        ],
        "summary": "\u2116 8.10: Mxik Code orqali retail_price ma'lumotlarini olish",
        "operationId": "getDrugRetailPriceByMxik",
        "parameters": [
          {
            "name": "password",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "maxItems": 1000,
                "minItems": 1,
                "type": "array",
                "items": {
                  "type": "string"
                }
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ResultTotalDtoMapStringString"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "*/*": {
                "schema": {
                  "type": "object",
                  "additionalProperties": {
                    "type": "object"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/mxik/check": {
      "post": {
        "tags": [
          "\u2116 8: MXIK ma\u02bclumotlari"
        ],
        "summary": "\u2116 8.8: MXIK ma'lumotlarini tekshirish",
        "operationId": "check",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "maxItems": 1000,
                "minItems": 1,
                "type": "array",
                "items": {
                  "type": "string"
                }
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ResultDataDtoListMxikCheckDto"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "*/*": {
                "schema": {
                  "type": "object",
                  "additionalProperties": {
                    "type": "object"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/mxik/check/basic-package/hazelcast": {
      "post": {
        "tags": [
          "\u2116 8: MXIK ma\u02bclumotlari"
        ],
        "summary": "\u2116 8.16(hazelcast): MXIK basic unit ma'lumotlarini tekshirish",
        "operationId": "checkBasicIdHazelcast",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "maxItems": 1000,
                "minItems": 1,
                "type": "array",
                "items": {
                  "type": "string"
                }
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ResultDataDtoListMxikUnitCheckDto"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "*/*": {
                "schema": {
                  "type": "object",
                  "additionalProperties": {
                    "type": "object"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/mxik/check-ofd": {
      "post": {
        "tags": [
          "\u2116 8: MXIK ma\u02bclumotlari"
        ],
        "summary": "\u2116 8.8: MXIK ma'lumotlarini tekshirish",
        "operationId": "checkOfd",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "additionalProperties": {
                  "type": "array",
                  "items": {
                    "type": "integer",
                    "format": "int64"
                  }
                }
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ResultDataDtoHashMapStringSetLong"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "*/*": {
                "schema": {
                  "type": "object",
                  "additionalProperties": {
                    "type": "object"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/marking/validation-onkm": {
      "post": {
        "tags": [
          "\u2116 28: Markirovkaga doir API lar"
        ],
        "summary": "\u2116 28.1: Online kassa bo`yicha markirovka kodlarini validatsiya qilish",
        "operationId": "getByPackageCodeList_1",
        "parameters": [
          {
            "name": "Authorization",
            "in": "header",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/MarkingValidationRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "*/*": {
                "schema": {
                  "type": "object",
                  "additionalProperties": {
                    "type": "object"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/integration/restriction/map/by-mxiks": {
      "post": {
        "tags": [
          "\u2116 25: MXIK ma\u02bclumotlari"
        ],
        "summary": "\u2116 25.3: Nazorat qilinadigan mxiklar (mxik parameteri orqali)",
        "operationId": "getRestrictionMxikListV2",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "maxItems": 1000,
                "minItems": 1,
                "type": "array",
                "items": {
                  "type": "string"
                }
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ResponseDtoMapStringString"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "*/*": {
                "schema": {
                  "type": "object",
                  "additionalProperties": {
                    "type": "object"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/integration-nomenclature/set/product": {
      "post": {
        "tags": [
          "\u2116 23: Tovarlar nomenclaturasi"
        ],
        "summary": "\u2116 23.1: Tovar nomenclaturasini saqlash",
        "operationId": "setProductNomenClatura",
        "parameters": [
          {
            "name": "code",
            "in": "query",
            "required": true,
            "schema": {
              "pattern": "^[A-Za-z0-9]*$",
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/NomenClaturePostDto"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ResultTotalDtoString"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "*/*": {
                "schema": {
                  "type": "object",
                  "additionalProperties": {
                    "type": "object"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/integration-nomenclature/save/ehf": {
      "post": {
        "tags": [
          "\u2116 23: Tovarlar nomenclaturasi"
        ],
        "summary": "\u2116 23.6: Tovar nomenclaturasi(EHF integration)",
        "operationId": "saveEHFNomenclature",
        "parameters": [
          {
            "name": "password",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "array",
                "items": {
                  "$ref": "#/components/schemas/EHFNomenclatureDto"
                }
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ResponseDtoString"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "*/*": {
                "schema": {
                  "type": "object",
                  "additionalProperties": {
                    "type": "object"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/integration-mxik/unit/count": {
      "post": {
        "tags": [
          "\u2116 20: MXIK ma\u02bclumotlari"
        ],
        "summary": "\u2116 20.18: Mxik o'lchov birliklari",
        "description": "Mxik o'lchov birliklarini sonini olish",
        "operationId": "get",
        "parameters": [
          {
            "name": "mxik",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ResultDataDtoMxikUnitCountDto"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "*/*": {
                "schema": {
                  "type": "object",
                  "additionalProperties": {
                    "type": "object"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/integration-mxik/references/set/lgotaxtasnif/vat": {
      "post": {
        "tags": [
          "\u2116 22: Qo'shimcha ma'lumotlar"
        ],
        "summary": "\u2116 22.2 Tasnifga bog'langan mxik bo'yicha QQS imtiyozlarini qaytaradi",
        "operationId": "getPrivilege",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/LgoPrivilegeDto"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "type": "object",
                  "additionalProperties": {
                    "$ref": "#/components/schemas/LgotaXProductVatResponseDTO"
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "*/*": {
                "schema": {
                  "type": "object",
                  "additionalProperties": {
                    "type": "object"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/integration-mxik/references/convert": {
      "post": {
        "tags": [
          "\u2116 22: Qo'shimcha ma'lumotlar"
        ],
        "summary": "\u2116 22.4 Konvertatsiya ",
        "operationId": "convert",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "array",
                "items": {
                  "$ref": "#/components/schemas/UnitPackageRequestDto"
                }
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "type": "object"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "*/*": {
                "schema": {
                  "type": "object",
                  "additionalProperties": {
                    "type": "object"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/integration-mxik/mxik/day": {
      "post": {
        "tags": [
          "\u2116 20: MXIK ma\u02bclumotlari"
        ],
        "summary": "\u2116 20.16: Mxik larni olish",
        "description": "Mxik larni cl_attribute_type_3 bo'yicha eng kichik kunini olish",
        "operationId": "getAttributeTypeThree",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "array",
                "items": {
                  "type": "string"
                }
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "type": "object"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "*/*": {
                "schema": {
                  "type": "object",
                  "additionalProperties": {
                    "type": "object"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/integration-mxik/get/marking-type": {
      "post": {
        "tags": [
          "\u2116 20: MXIK ma\u02bclumotlari"
        ],
        "summary": "\u2116 20.15: Inn va mxik larni tekshirish marking_type bo'yicha",
        "operationId": "checkByTinMarkingType",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "array",
                "items": {
                  "$ref": "#/components/schemas/CheckMarkingDto"
                }
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ResultDataDtoBoolean"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "*/*": {
                "schema": {
                  "type": "object",
                  "additionalProperties": {
                    "type": "object"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/integration-mxik/get/list/package": {
      "post": {
        "tags": [
          "\u2116 20: MXIK ma\u02bclumotlari"
        ],
        "summary": "\u2116 20.17: MXIK list bo\u02bcyicha package ni olish",
        "description": "the tin parameter returns packages which are created by company (required = false), \nthe check_user parameter returns packages  which operators created (check_user = 1)",
        "operationId": "getPackagesByMxikList",
        "parameters": [
          {
            "name": "pageNo",
            "in": "query",
            "required": false,
            "schema": {
              "minimum": 0,
              "type": "integer",
              "format": "int32",
              "default": 0
            }
          },
          {
            "name": "pagesize",
            "in": "query",
            "required": false,
            "schema": {
              "minimum": 1,
              "type": "integer",
              "format": "int32",
              "default": 10
            }
          },
          {
            "name": "tin",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "check_user",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "format": "int32",
              "default": 0
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "array",
                "items": {
                  "type": "string"
                }
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ResultTotalDtoListClPackageNamesCustomDTO"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "*/*": {
                "schema": {
                  "type": "object",
                  "additionalProperties": {
                    "type": "object"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/integration-mxik/get/history": {
      "post": {
        "tags": [
          "\u2116 20: MXIK ma\u02bclumotlari"
        ],
        "summary": "\u2116 20.22: O\u02bczgargan MXIK ma\u02bclumotlarini olish",
        "description": "-- (0) MXIK aktiv\n-- (-2) MXIK mavjud emas\n\u2013- (-1) MXIK o\u02bcchirilgan \n\u2013-(2) MXIK kodi boshqa MXIK kodiga o\u02bczgartirilgan ",
        "operationId": "getHistoryMxik",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "maxItems": 1000,
                "minItems": 1,
                "type": "array",
                "items": {
                  "type": "string"
                }
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ResultDataDtoListHistoryDto"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "*/*": {
                "schema": {
                  "type": "object",
                  "additionalProperties": {
                    "type": "object"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/integration-mxik/get/changes": {
      "post": {
        "tags": [
          "\u2116 20: MXIK ma\u02bclumotlari"
        ],
        "summary": "\u2116 20.19: Mxik list",
        "description": "Mxik list",
        "operationId": "getMxikChanges",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "array",
                "items": {
                  "type": "string"
                }
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "type": "object"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "*/*": {
                "schema": {
                  "type": "object",
                  "additionalProperties": {
                    "type": "object"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/integration-mxik/convert": {
      "post": {
        "tags": [
          "\u2116 20: MXIK ma\u02bclumotlari"
        ],
        "summary": "\u2116 20.20 Konvertatsiya ",
        "operationId": "convert_1",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "array",
                "items": {
                  "$ref": "#/components/schemas/UnitPackageRequestDto"
                }
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "type": "object"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "*/*": {
                "schema": {
                  "type": "object",
                  "additionalProperties": {
                    "type": "object"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/integration-mxik/company/basket-products/add": {
      "post": {
        "tags": [
          "\u2116 21: Tadbirkorlik subekti "
        ],
        "summary": "\u2116 21.2: MXIK kod va STIR bo\u02bcyicha mahsulotni tanlanganlar ro\u02bcyxatiga qo\u02bcshish",
        "operationId": "addProduct",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CompanyProductFORM"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "*/*": {
                "schema": {
                  "type": "object",
                  "additionalProperties": {
                    "type": "object"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/integration-mxik/company/basket-package/set": {
      "post": {
        "tags": [
          "\u2116 21: Tadbirkorlik subekti "
        ],
        "summary": "\u2116 21.5: MXIK kod va STIR bo'yicha packagelarni qo'shish",
        "operationId": "addCompanyProductAndPackages",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CompanyPackageDto"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ResponseDtoObject"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "*/*": {
                "schema": {
                  "type": "object",
                  "additionalProperties": {
                    "type": "object"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/integration-mxik/company/basket-package/add": {
      "post": {
        "tags": [
          "\u2116 21: Tadbirkorlik subekti "
        ],
        "summary": "\u2116 21.4: MXIK kod va STIR bo\u02bcyicha package tanlanganlar ro\u02bcyxatiga qo\u02bcshish",
        "operationId": "addPackages",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/PackageForm"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "*/*": {
                "schema": {
                  "type": "object",
                  "additionalProperties": {
                    "type": "object"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/integration-mxik/check": {
      "post": {
        "tags": [
          "\u2116 20: MXIK ma\u02bclumotlari"
        ],
        "summary": "\u2116 20.3: MXIK ma\u02bclumotlari mavjudligini tekshirish",
        "operationId": "checkMxik",
        "parameters": [
          {
            "name": "tin",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "lang",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "default": "uz"
            }
          },
          {
            "name": "filter",
            "in": "query",
            "required": true,
            "schema": {
              "$ref": "#/components/schemas/CommonFilter"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "array",
                "items": {
                  "type": "string"
                }
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ResultDataDtoListMxikCheckInfoDTO"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "*/*": {
                "schema": {
                  "type": "object",
                  "additionalProperties": {
                    "type": "object"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/integration-mxik/check/hazelcast": {
      "post": {
        "tags": [
          "\u2116 20: MXIK ma\u02bclumotlari"
        ],
        "summary": "\u2116 20.3(Hazelcast): MXIK ma\u02bclumotlari mavjudligini tekshirish",
        "operationId": "checkMxiksFromHazelcastCache",
        "parameters": [
          {
            "name": "tin",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "lang",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "default": "uz"
            }
          },
          {
            "name": "filter",
            "in": "query",
            "required": true,
            "schema": {
              "$ref": "#/components/schemas/CommonFilter"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "maxItems": 1000,
                "minItems": 1,
                "type": "array",
                "items": {
                  "type": "string"
                }
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ResultDataDtoListMxikCheckInfoDTO"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "*/*": {
                "schema": {
                  "type": "object",
                  "additionalProperties": {
                    "type": "object"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/integration-mxik/barcode": {
      "post": {
        "tags": [
          "\u2116 20: MXIK ma\u02bclumotlari"
        ],
        "summary": "\u2116 20.6: SHTIRX kod bo\u02bcyicha mxik malumotlarini olish",
        "operationId": "byInternalCode",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "maxItems": 1000,
                "minItems": 1,
                "type": "array",
                "items": {
                  "type": "string"
                }
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ResultDataDtoListByBarcodeDto"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "*/*": {
                "schema": {
                  "type": "object",
                  "additionalProperties": {
                    "type": "object"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/integration-kcm/search": {
      "post": {
        "tags": [
          "\u2116 26: KCM ma\u02bclumotlari"
        ],
        "summary": "\u2116 26.4: SHNQ yoki mxik code bo'yicha qidirish",
        "operationId": "universalSearch",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "maxItems": 50,
                "minItems": 1,
                "type": "array",
                "items": {
                  "type": "string"
                }
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ResultTotalDtoListSHNQInfo"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "*/*": {
                "schema": {
                  "type": "object",
                  "additionalProperties": {
                    "type": "object"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/integration-kcm/mxik": {
      "post": {
        "tags": [
          "\u2116 26: KCM ma\u02bclumotlari"
        ],
        "summary": "\u2116 26.1: MXIK bo'yicha KCM ma'lumotlarini olish",
        "operationId": "findByMXIKCode",
        "parameters": [
          {
            "name": "page",
            "in": "query",
            "required": false,
            "schema": {
              "minimum": 0,
              "type": "integer",
              "format": "int32",
              "default": 0
            }
          },
          {
            "name": "size",
            "in": "query",
            "required": false,
            "schema": {
              "maximum": 1000,
              "minimum": 1,
              "type": "integer",
              "format": "int32",
              "default": 20
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "array",
                "items": {
                  "type": "string"
                }
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ResultTotalDtoListMapStringKCMInformationDto"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "*/*": {
                "schema": {
                  "type": "object",
                  "additionalProperties": {
                    "type": "object"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/integration-kcm/kcm": {
      "post": {
        "tags": [
          "\u2116 26: KCM ma\u02bclumotlari"
        ],
        "summary": "\u2116 26.2: KCM bo'yicha MXIK ma'lumotlarini olish",
        "operationId": "findByKCM",
        "parameters": [
          {
            "name": "page",
            "in": "query",
            "required": false,
            "schema": {
              "minimum": 0,
              "type": "integer",
              "format": "int32",
              "default": 0
            }
          },
          {
            "name": "size",
            "in": "query",
            "required": false,
            "schema": {
              "maximum": 1000,
              "minimum": 1,
              "type": "integer",
              "format": "int32",
              "default": 20
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "array",
                "items": {
                  "type": "string"
                }
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ResultTotalDtoListMapStringKCMMxikInformationDto"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "*/*": {
                "schema": {
                  "type": "object",
                  "additionalProperties": {
                    "type": "object"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/integration-kcm/check": {
      "post": {
        "tags": [
          "\u2116 26: KCM ma\u02bclumotlari"
        ],
        "summary": "\u2116 26.3: KCM bo'yicha MXIK codini tekshirirsh ",
        "operationId": "checkKCMMxiks",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "maxItems": 1000,
                "minItems": 1,
                "type": "array",
                "items": {
                  "type": "string"
                }
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ResultTotalDtoMapStringBoolean"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "*/*": {
                "schema": {
                  "type": "object",
                  "additionalProperties": {
                    "type": "object"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/facture/check-status": {
      "post": {
        "tags": [
          "facture-controller"
        ],
        "operationId": "checkStatus",
        "parameters": [
          {
            "name": "lang",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "default": "uz"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/FactureDto"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/CheckResponseResult"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "*/*": {
                "schema": {
                  "type": "object",
                  "additionalProperties": {
                    "type": "object"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/external/set": {
      "post": {
        "tags": [
          "\u2116 24: Integratsiya mxik yaratish bo'yicha"
        ],
        "summary": "\u2116 24.1: Integratsiya mxik yaratish bo'yicha malumotlarni saqlash",
        "operationId": "set",
        "parameters": [
          {
            "name": "password",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ProductExternalTinDto"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ResponseDataDtoBoolean"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "*/*": {
                "schema": {
                  "type": "object",
                  "additionalProperties": {
                    "type": "object"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/external/exTrafficPayVal": {
      "post": {
        "tags": [
          "\u2116 24: Integratsiya mxik yaratish bo'yicha"
        ],
        "summary": "\u2116 24.2: Integratsiya mxik yaratish bo'yicha malumotlarni saqlash",
        "operationId": "exTrafficPayVal",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "array",
                "items": {
                  "type": "string"
                }
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ResponseDataDtoListCheckMxikHistoryDto"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "*/*": {
                "schema": {
                  "type": "object",
                  "additionalProperties": {
                    "type": "object"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/validation": {
      "get": {
        "tags": [
          "marking-validation-controller"
        ],
        "operationId": "getValidation",
        "parameters": [
          {
            "name": "mxikCode",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ValidationResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "*/*": {
                "schema": {
                  "type": "object",
                  "additionalProperties": {
                    "type": "object"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/mxik/search/dv-cert-number": {
      "get": {
        "tags": [
          "\u2116 8: MXIK ma\u02bclumotlari"
        ],
        "summary": "\u2116 8.11: DV sertifikat raqami orqali qidiruv",
        "operationId": "searchByDvCertNumber",
        "parameters": [
          {
            "name": "searchDTO",
            "in": "query",
            "required": true,
            "schema": {
              "$ref": "#/components/schemas/DvCertNumberSearchDTO"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ResultTotalDtoListDvCertNumberSearchResultDTO"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "*/*": {
                "schema": {
                  "type": "object",
                  "additionalProperties": {
                    "type": "object"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/mxik/package/get/package": {
      "get": {
        "tags": [
          "\u2116 14: MXIK qadoq ma'lumotlari"
        ],
        "summary": "\u2116 14.1: Package code bo'yicha malumotlarni olish",
        "operationId": "getByPackageCode",
        "parameters": [
          {
            "name": "package_code",
            "in": "query",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ResultDataDtoPackageDto"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "*/*": {
                "schema": {
                  "type": "object",
                  "additionalProperties": {
                    "type": "object"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/mxik/modified-packages": {
      "get": {
        "tags": [
          "\u2116 8: MXIK ma\u02bclumotlari"
        ],
        "summary": "\u2116 8.17: Davr oraligida yangilangan o'lchov birliklarini olish",
        "description": "sana formati: dd.mm.yyyy",
        "operationId": "getClPackagingRead",
        "parameters": [
          {
            "name": "startDate",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "endDate",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "page",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "format": "int32",
              "default": 0
            }
          },
          {
            "name": "size",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "format": "int32",
              "default": 50
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ResultTotalDtoListClPackagingRead"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "*/*": {
                "schema": {
                  "type": "object",
                  "additionalProperties": {
                    "type": "object"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/mxik/get/by-mxik/{mxikCode}": {
      "get": {
        "tags": [
          "\u2116 8: MXIK ma\u02bclumotlari"
        ],
        "summary": "\u2116 8.7: MXIK ma'lumotlarini tekshirish",
        "operationId": "getByMxik",
        "parameters": [
          {
            "name": "mxikCode",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "string"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "*/*": {
                "schema": {
                  "type": "object",
                  "additionalProperties": {
                    "type": "object"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/licenses/check": {
      "get": {
        "tags": [
          "license-controller"
        ],
        "operationId": "saveCompanyLicense",
        "parameters": [
          {
            "name": "tin",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "mxikCode",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ResponseDto"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "*/*": {
                "schema": {
                  "type": "object",
                  "additionalProperties": {
                    "type": "object"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/integration/restriction/list": {
      "get": {
        "tags": [
          "\u2116 25: MXIK ma\u02bclumotlari"
        ],
        "summary": "\u2116 25.1: Nazorat qilinadigan mxik ",
        "operationId": "getRestrictionStatistic",
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ResponseDtoListRestrictionStatisticDto"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "*/*": {
                "schema": {
                  "type": "object",
                  "additionalProperties": {
                    "type": "object"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/integration/restriction/list/by-params": {
      "get": {
        "tags": [
          "\u2116 25: MXIK ma\u02bclumotlari"
        ],
        "summary": "\u2116 25.2: Nazorat qilinadigan mxiklar (parameterlar orqali)",
        "operationId": "getRestrictionMxikList",
        "parameters": [
          {
            "name": "page",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "format": "int32",
              "default": 0
            }
          },
          {
            "name": "size",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "format": "int32",
              "default": 20
            }
          },
          {
            "name": "lang",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "default": "uz"
            }
          },
          {
            "name": "keyword_id",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "keyword",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "product_id",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "year",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "period",
            "in": "query",
            "required": false,
            "schema": {
              "type": "array",
              "items": {
                "type": "integer",
                "format": "int32"
              }
            }
          },
          {
            "name": "periodtype",
            "in": "query",
            "required": false,
            "schema": {
              "type": "array",
              "items": {
                "type": "string"
              }
            }
          },
          {
            "name": "frombeginofyear",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ResponseDtoListRestrictionMxikListDto"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "*/*": {
                "schema": {
                  "type": "object",
                  "additionalProperties": {
                    "type": "object"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/integration-nomenclature/last/date": {
      "get": {
        "tags": [
          "\u2116 23: Tovarlar nomenclaturasi"
        ],
        "summary": "\u2116 23.7: Oxirgi qo'shilgan yoki o'zgartirilgan sana",
        "operationId": "lastCreatedOrUpdatedDate",
        "parameters": [
          {
            "name": "code",
            "in": "query",
            "required": true,
            "schema": {
              "pattern": "^[A-Za-z0-9]*$",
              "type": "string"
            }
          },
          {
            "name": "tin",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "terminalId",
            "in": "query",
            "required": false,
            "schema": {
              "pattern": "^[A-Za-z0-9]*$",
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "type": "object"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "*/*": {
                "schema": {
                  "type": "object",
                  "additionalProperties": {
                    "type": "object"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/integration-nomenclature/get/product": {
      "get": {
        "tags": [
          "\u2116 23: Tovarlar nomenclaturasi"
        ],
        "summary": "\u2116 23.2: Tovar nomenclaturasini malumotlarni olish",
        "operationId": "getProductNomenClatura",
        "parameters": [
          {
            "name": "page",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "format": "int32",
              "default": 0
            }
          },
          {
            "name": "size",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "format": "int32",
              "default": 10
            }
          },
          {
            "name": "tin",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "code",
            "in": "query",
            "required": true,
            "schema": {
              "pattern": "^[A-Za-z0-9]*$",
              "type": "string"
            }
          },
          {
            "name": "status",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "format": "int32",
              "default": 1
            }
          },
          {
            "name": "date",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          },
          {
            "name": "terminalId",
            "in": "query",
            "required": false,
            "schema": {
              "pattern": "^[A-Za-z0-9]*$",
              "type": "string"
            }
          },
          {
            "name": "baseFrom",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ResultTotalDtoListNomenClatureInformationDto"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "*/*": {
                "schema": {
                  "type": "object",
                  "additionalProperties": {
                    "type": "object"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/integration-nomenclature/get/by-id/{id}": {
      "get": {
        "tags": [
          "\u2116 23: Tovarlar nomenclaturasi"
        ],
        "summary": "\u2116 23.5: Tovar nomenclaturasida bitta tovarni olish",
        "operationId": "getProduct",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          },
          {
            "name": "tin",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ResultTotalDtoNomenclatureGetDto"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "*/*": {
                "schema": {
                  "type": "object",
                  "additionalProperties": {
                    "type": "object"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/integration-mxik/search": {
      "get": {
        "tags": [
          "\u2116 20: MXIK ma\u02bclumotlari"
        ],
        "summary": "\u2116 20.1: Universal qidiruv(so'z orqali)",
        "operationId": "search",
        "parameters": [
          {
            "name": "lang",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "default": "uz_cyrl"
            }
          },
          {
            "name": "search_text",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "page",
            "in": "query",
            "required": false,
            "schema": {
              "minimum": 0,
              "type": "integer",
              "format": "int32",
              "default": 0
            }
          },
          {
            "name": "size",
            "in": "query",
            "required": false,
            "schema": {
              "minimum": 1,
              "type": "integer",
              "format": "int32",
              "default": 20
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ResultDataDtoListMxikShortInfoCustomLabelDTO"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "*/*": {
                "schema": {
                  "type": "object",
                  "additionalProperties": {
                    "type": "object"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/integration-mxik/search/by-params": {
      "get": {
        "tags": [
          "\u2116 20: MXIK ma\u02bclumotlari"
        ],
        "summary": "\u2116 20.2: Maxsus parametrlar orqali qidiruv",
        "operationId": "searchByParams",
        "parameters": [
          {
            "name": "searchDTO",
            "in": "query",
            "required": true,
            "schema": {
              "$ref": "#/components/schemas/UniversalSearchDTO"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ResultTotalDtoListMxikUniversalSearchDto"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "*/*": {
                "schema": {
                  "type": "object",
                  "additionalProperties": {
                    "type": "object"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/integration-mxik/references/lgota": {
      "get": {
        "tags": [
          "\u2116 22: Qo'shimcha ma'lumotlar"
        ],
        "summary": "\u2116 22.1: Imtiyozlar ro'yxati",
        "operationId": "getLgota",
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/LgotaDto"
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "*/*": {
                "schema": {
                  "type": "object",
                  "additionalProperties": {
                    "type": "object"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/integration-mxik/references/label/validate": {
      "get": {
        "tags": [
          "\u2116 22: Qo'shimcha ma'lumotlar"
        ],
        "summary": "\u2116 22.5 Markirovka validatsiya ",
        "operationId": "labelValidation",
        "parameters": [
          {
            "name": "tin",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "type": "boolean"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "*/*": {
                "schema": {
                  "type": "object",
                  "additionalProperties": {
                    "type": "object"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/integration-mxik/references/group/list": {
      "get": {
        "tags": [
          "\u2116 22: Qo'shimcha ma'lumotlar"
        ],
        "summary": "\u2116 22.7 Barcha guruh malumotlari listini olish",
        "operationId": "getGroupList",
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ResultDataDtoListGroupInformationDTO"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "*/*": {
                "schema": {
                  "type": "object",
                  "additionalProperties": {
                    "type": "object"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/integration-mxik/references/group/code": {
      "get": {
        "tags": [
          "\u2116 22: Qo'shimcha ma'lumotlar"
        ],
        "summary": "\u2116 22.8 Guruh code bo'yicha mxik malumotlari listini olish",
        "operationId": "getMxikByGroupCode",
        "parameters": [
          {
            "name": "group",
            "in": "query",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "page",
            "in": "query",
            "required": false,
            "schema": {
              "minimum": 0,
              "type": "integer",
              "format": "int32",
              "default": 0
            }
          },
          {
            "name": "size",
            "in": "query",
            "required": false,
            "schema": {
              "minimum": 1,
              "type": "integer",
              "format": "int32",
              "default": 1000
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ResultTotalDtoListMxikInformationByGroupDTO"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "*/*": {
                "schema": {
                  "type": "object",
                  "additionalProperties": {
                    "type": "object"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/integration-mxik/references/get/all/container": {
      "get": {
        "tags": [
          "\u2116 22: Qo'shimcha ma'lumotlar"
        ],
        "summary": "\u2116 22.3 Konteynarlar ro'yxati",
        "operationId": "getAllContainerType",
        "parameters": [
          {
            "name": "pageNo",
            "in": "query",
            "description": "Pagination page number (0...N)",
            "required": false,
            "schema": {
              "minimum": 0,
              "type": "integer",
              "format": "int32",
              "default": 0
            }
          },
          {
            "name": "pageSize",
            "in": "query",
            "description": "Pagination page size number (1...N)",
            "required": false,
            "schema": {
              "minimum": 1,
              "type": "integer",
              "format": "int32",
              "default": 10
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ResultTotalDtoListContainerTypeDto"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "*/*": {
                "schema": {
                  "type": "object",
                  "additionalProperties": {
                    "type": "object"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/integration-mxik/references/class/code": {
      "get": {
        "tags": [
          "\u2116 22: Qo'shimcha ma'lumotlar"
        ],
        "summary": "\u2116 22.6 Class orqali Mxik malumotlari listini olish",
        "operationId": "getMxikListByClassCode",
        "parameters": [
          {
            "name": "class",
            "in": "query",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ResultDataDtoListMxikInformationDTO"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "*/*": {
                "schema": {
                  "type": "object",
                  "additionalProperties": {
                    "type": "object"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/integration-mxik/get/pharm/information": {
      "get": {
        "tags": [
          "\u2116 20: MXIK ma\u02bclumotlari"
        ],
        "summary": "\u2116 20.14: FarmId bo'yicha mxik malumotlarini olish",
        "operationId": "getInformationByFarmId",
        "parameters": [
          {
            "name": "farmId",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ResultDataDtoFarmInformationDto"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "*/*": {
                "schema": {
                  "type": "object",
                  "additionalProperties": {
                    "type": "object"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/integration-mxik/get/package": {
      "get": {
        "tags": [
          "\u2116 20: MXIK ma\u02bclumotlari"
        ],
        "summary": "\u2116 20.7: MXIK bo\u02bcyicha package ni olish",
        "description": "the tin parameter returns packages which are created by company (required = false), \nthe check_user parameter returns packages  which operators created (check_user = 1)",
        "operationId": "getPackagesByMxik",
        "parameters": [
          {
            "name": "pageNo",
            "in": "query",
            "required": false,
            "schema": {
              "minimum": 0,
              "type": "integer",
              "format": "int32",
              "default": 0
            }
          },
          {
            "name": "pagesize",
            "in": "query",
            "required": false,
            "schema": {
              "minimum": 1,
              "type": "integer",
              "format": "int32",
              "default": 10
            }
          },
          {
            "name": "mxikCode",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "tin",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "check_user",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "format": "int32",
              "default": 0
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ResultTotalDtoListClPackageNamesCustomDTO"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "*/*": {
                "schema": {
                  "type": "object",
                  "additionalProperties": {
                    "type": "object"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/integration-mxik/get/information": {
      "get": {
        "tags": [
          "\u2116 20: MXIK ma\u02bclumotlari"
        ],
        "summary": "\u2116 20.11: \u041c\u0425\u0418\u041a malumotlarini olish",
        "operationId": "getByDifferentParams",
        "parameters": [
          {
            "name": "page",
            "in": "query",
            "required": false,
            "schema": {
              "minimum": 0,
              "type": "integer",
              "format": "int32",
              "default": 0
            }
          },
          {
            "name": "size",
            "in": "query",
            "required": false,
            "schema": {
              "minimum": 1,
              "type": "integer",
              "format": "int32",
              "default": 25
            }
          },
          {
            "name": "mxikCode",
            "in": "query",
            "required": false,
            "schema": {
              "pattern": "^\\d{17}$",
              "type": "string"
            }
          },
          {
            "name": "classCode",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "type",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "format": "int32",
              "default": 1
            }
          },
          {
            "name": "terminalId",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "tin",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "lang",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "default": "uz"
            }
          },
          {
            "name": "search_text",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "shtrixCode",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "from_date",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "format": "date"
            }
          },
          {
            "name": "to_date",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "format": "date"
            }
          },
          {
            "name": "is_cash_register",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "format": "int32",
              "default": 0
            }
          },
          {
            "name": "filter",
            "in": "query",
            "required": true,
            "schema": {
              "$ref": "#/components/schemas/CommonFilter"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ResultTotalDtoListMxikInformationDto"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "*/*": {
                "schema": {
                  "type": "object",
                  "additionalProperties": {
                    "type": "object"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/integration-mxik/get/history/{mxikCode}": {
      "get": {
        "tags": [
          "\u2116 20: MXIK ma\u02bclumotlari"
        ],
        "summary": "\u2116 20.5: O\u02bczgargan MXIK ma\u02bclumotlarini olish",
        "description": "-- (0) MXIK aktiv\n-- (-2) MXIK mavjud emas\n\u2013- (-1) MXIK o\u02bcchirilgan \n\u2013-(2) MXIK kodi boshqa MXIK kodiga o\u02bczgartirilgan ",
        "operationId": "getHistory",
        "parameters": [
          {
            "name": "mxikCode",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "filter",
            "in": "query",
            "required": true,
            "schema": {
              "$ref": "#/components/schemas/CommonFilter"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ResultDataDtoMxikHistoryDTO"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "*/*": {
                "schema": {
                  "type": "object",
                  "additionalProperties": {
                    "type": "object"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/integration-mxik/get/history/time": {
      "get": {
        "tags": [
          "\u2116 20: MXIK ma\u02bclumotlari"
        ],
        "summary": "\u2116 20.12: \u041c\u0425\u0418\u041a history update vaqti bo'yicha malumotlarni olish",
        "description": "-- (-1) MXIK o\u02bcchirilgan bo\u02bclsa\n-- (2) MXIK kodi boshqa MXIK kodiga o\u02bczgartirilgan bo\u02bclsa \n-- (3) MXIK kodi yangi qo\u02bcshilgan bo\u02bclsa",
        "operationId": "getByTime",
        "parameters": [
          {
            "name": "page",
            "in": "query",
            "required": false,
            "schema": {
              "minimum": 0,
              "type": "integer",
              "format": "int32",
              "default": 0
            }
          },
          {
            "name": "size",
            "in": "query",
            "required": false,
            "schema": {
              "minimum": 1,
              "type": "integer",
              "format": "int32",
              "default": 25
            }
          },
          {
            "name": "lang",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "default": "uz_cyrl"
            }
          },
          {
            "name": "status",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "startDate",
            "in": "query",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          },
          {
            "name": "endDate",
            "in": "query",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ResultTotalDtoListMxikHistoryInformationDto"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "*/*": {
                "schema": {
                  "type": "object",
                  "additionalProperties": {
                    "type": "object"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/integration-mxik/get/by-time": {
      "get": {
        "tags": [
          "\u2116 20: MXIK ma\u02bclumotlari"
        ],
        "summary": "\u2116 20.21: \u041c\u0425\u0418\u041a ma'lumotlarini olish",
        "operationId": "getNewMxiksByTime",
        "parameters": [
          {
            "name": "page",
            "in": "query",
            "required": false,
            "schema": {
              "minimum": 0,
              "type": "integer",
              "format": "int32",
              "default": 0
            }
          },
          {
            "name": "size",
            "in": "query",
            "required": false,
            "schema": {
              "minimum": 1,
              "type": "integer",
              "format": "int32",
              "default": 25
            }
          },
          {
            "name": "lang",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "default": "uz_cyrl"
            }
          },
          {
            "name": "class_code",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "start_date",
            "in": "query",
[...]
