{
  "openapi": "3.0.3",
  "info": {
    "title": "Cloze \u2013 Create People, Companies, Projects",
    "version": "1.0.0",
    "description": "Minimal spec to add Person, Company, and Project records in Cloze and mirror the examples you provided.\nSupports either `?api_key=` query auth or `Authorization: Bearer <token>` header.\n",
    "x-jentic-source-url": "https://api.swaggerhub.com/apis/universityofnewhaven/cloze-create-people-companies-projects/1.0.0"
  },
  "servers": [
    {
      "url": "https://api.cloze.com"
    }
  ],
  "components": {
    "securitySchemes": {
      "ClozeBearer": {
        "type": "http",
        "scheme": "bearer",
        "bearerFormat": "JWT",
        "description": "Use heade Bearer <token>"
      },
      "ClozeApiKeyQuery": {
        "type": "apiKey",
        "in": "query",
        "name": "api_key",
        "description": "Provide ?api_key=123 as a query parameter"
      }
    },
    "schemas": {
      "EmailEntry": {
        "type": "object",
        "properties": {
          "value": {
            "type": "string",
            "format": "email",
            "example": "lucyg@lucidmarketing.com"
          },
          "work": {
            "type": "boolean",
            "example": true
          },
          "home": {
            "type": "boolean",
            "nullable": true
          }
        },
        "additionalProperties": true
      },
      "CustomFieldEntry": {
        "type": "object",
        "required": [
          "id",
          "type",
          "value"
        ],
        "properties": {
          "id": {
            "type": "string",
            "example": "lead-source"
          },
          "type": {
            "type": "string",
            "example": "keywords",
            "description": "e.g., keywords | text | currency | number | date"
          },
          "value": {
            "oneOf": [
              {
                "type": "string"
              },
              {
                "type": "number"
              },
              {
                "type": "boolean"
              }
            ],
            "example": "hubspot"
          }
        }
      },
      "AppLinkEntry": {
        "type": "object",
        "properties": {
          "source": {
            "type": "string",
            "example": "na16.salesforce.com"
          },
          "uniqueid": {
            "type": "string",
            "example": "006j000000Pkp1d"
          },
          "label": {
            "type": "string",
            "example": "Salesforce Opportunity"
          },
          "url": {
            "type": "string",
            "format": "uri",
            "example": "https://na16.salesforce.com/006j000000Pkp1d"
          }
        }
      },
      "PersonCreate": {
        "type": "object",
        "required": [
          "name"
        ],
        "properties": {
          "name": {
            "type": "string",
            "example": "Lucy Gregorian"
          },
          "headline": {
            "type": "string",
            "example": "Senior VP at Lucid Marketing"
          },
          "stage": {
            "type": "string",
            "example": "lead"
          },
          "segment": {
            "type": "string",
            "example": "customer"
          },
          "emails": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/EmailEntry"
            }
          },
          "customFields": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/CustomFieldEntry"
            }
          }
        },
        "additionalProperties": true
      },
      "CompanyCreate": {
        "type": "object",
        "required": [
          "name"
        ],
        "properties": {
          "name": {
            "type": "string",
            "example": "IncFire Studios"
          },
          "description": {
            "type": "string",
            "example": "Marketing videos made awesome!"
          },
          "stage": {
            "type": "string",
            "example": "lead"
          },
          "segment": {
            "type": "string",
            "example": "customer"
          },
          "domains": {
            "type": "array",
            "items": {
              "type": "string",
              "example": "incfire.com"
            }
          },
          "customFields": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/CustomFieldEntry"
            }
          }
        },
        "additionalProperties": true
      },
      "ProjectCreate": {
        "type": "object",
        "required": [
          "name"
        ],
        "properties": {
          "name": {
            "type": "string",
            "example": "Meadow Brook Renovation"
          },
          "summary": {
            "type": "string",
            "example": "Located at 33 Meadow Brook Lane"
          },
          "stage": {
            "type": "string",
            "example": "future"
          },
          "segment": {
            "type": "string",
            "example": "project"
          },
          "createdDate": {
            "type": "string",
            "format": "date",
            "example": "2018-04-10"
          },
          "customFields": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/CustomFieldEntry"
            }
          },
          "appLinks": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/AppLinkEntry"
            }
          }
        },
        "additionalProperties": true
      },
      "CreatedEnvelope": {
        "type": "object",
        "description": "Minimal success envelope (shape may vary by tenant)",
        "properties": {
          "id": {
            "type": "string",
            "example": "pers_123"
          },
          "status": {
            "type": "string",
            "example": "created"
          },
          "createdAt": {
            "type": "string",
            "format": "date-time"
          },
          "href": {
            "type": "string",
            "format": "uri",
            "example": "https://app.cloze.com/people/pers_123"
          }
        },
        "additionalProperties": true
      }
    }
  },
  "security": [
    {
      "ClozeBearer": []
    },
    {
      "ClozeApiKeyQuery": []
    }
  ],
  "tags": [
    {
      "name": "People"
    },
    {
      "name": "Companies"
    },
    {
      "name": "Projects"
    }
  ],
  "paths": {
    "/v1/people/create": {
      "post": {
        "tags": [
          "People"
        ],
        "summary": "Create a Person",
        "description": "Mirrors your Python example using `?api_key=` query authentication.",
        "security": [
          {
            "ClozeBearer": []
          },
          {
            "ClozeApiKeyQuery": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/PersonCreate"
              },
              "examples": {
                "fromExample": {
                  "value": {
                    "name": "Lucy Gregorian",
                    "headline": "Senior VP at Lucid Marketing",
                    "stage": "lead",
                    "segment": "customer",
                    "emails": [
                      {
                        "value": "lucyg@lucidmarketing.com",
                        "work": true
                      }
                    ],
                    "customFields": [
                      {
                        "id": "lead-source",
                        "type": "keywords",
                        "value": "hubspot"
                      }
                    ]
                  }
                }
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Person created",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CreatedEnvelope"
                }
              }
            }
          },
          "400": {
            "description": "Invalid payload"
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      }
    },
    "/v1/companies/create": {
      "post": {
        "tags": [
          "Companies"
        ],
        "summary": "Create a Company",
        "description": "Mirrors your Python example using Bearer auth.",
        "security": [
          {
            "ClozeBearer": []
          },
          {
            "ClozeApiKeyQuery": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CompanyCreate"
              },
              "examples": {
                "fromExample": {
                  "value": {
                    "name": "IncFire Studios",
                    "description": "Marketing videos made awesome!",
                    "stage": "lead",
                    "segment": "customer",
                    "domains": [
                      "incfire.com"
                    ],
                    "customFields": [
                      {
                        "id": "lead-source",
                        "type": "keywords",
                        "value": "comdex2018"
                      }
                    ]
                  }
                }
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Company created",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CreatedEnvelope"
                }
              }
            }
          },
          "400": {
            "description": "Invalid payload"
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      }
    },
    "/v1/projects/create": {
      "post": {
        "tags": [
          "Projects"
        ],
        "summary": "Create a Project",
        "description": "Mirrors your Python example using Bearer auth.",
        "security": [
          {
            "ClozeBearer": []
          },
          {
            "ClozeApiKeyQuery": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ProjectCreate"
              },
              "examples": {
                "fromExample": {
                  "value": {
                    "name": "Meadow Brook Renovation",
                    "summary": "Located at 33 Meadow Brook Lane",
                    "stage": "future",
                    "segment": "project",
                    "createdDate": "2018-04-10",
                    "customFields": [
                      {
                        "id": "value",
                        "type": "currency",
                        "value": 15000
                      }
                    ],
                    "appLinks": [
                      {
                        "source": "na16.salesforce.com",
                        "uniqueid": "006j000000Pkp1d",
                        "label": "Salesforce Opportunity",
                        "url": "https://na16.salesforce.com/006j000000Pkp1d"
                      }
                    ]
                  }
                }
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Project created",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CreatedEnvelope"
                }
              }
            }
          },
          "400": {
            "description": "Invalid payload"
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      }
    }
  }
}