{
  "openapi": "3.0.3",
  "info": {
    "title": "Expensify Integration API",
    "version": "1.0.0",
    "description": "Expensify Integration Server API for programmatic expense report management. All operations use a single POST endpoint with a requestJobDescription JSON body specifying the operation type.",
    "x-jentic-source-url": "https://integrations.expensify.com/Integration-Server/doc/",
    "contact": {
      "name": "API Support"
    }
  },
  "servers": [
    {
      "url": "https://integrations.expensify.com/Integration-Server/ExpensifyIntegrations"
    }
  ],
  "tags": [
    {
      "name": "Expenses",
      "description": "Create and manage expenses"
    },
    {
      "name": "Reports",
      "description": "Export and manage expense reports"
    },
    {
      "name": "Policies",
      "description": "Policy and workspace management"
    },
    {
      "name": "Files",
      "description": "File upload and download"
    },
    {
      "name": "Reconciliation",
      "description": "Credit card reconciliation"
    }
  ],
  "paths": {
    "/": {
      "post": {
        "operationId": "createExpense",
        "summary": "Create an expense",
        "description": "Create a new expense transaction. The operation type 'create' creates a new expense for the specified policyID.",
        "tags": [
          "Expenses"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/x-www-form-urlencoded": {
              "schema": {
                "$ref": "#/components/schemas/CreateExpenseRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Expense created successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CreateExpenseResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Authentication failed",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/#export": {
      "post": {
        "operationId": "exportReports",
        "summary": "Export expense reports",
        "description": "Export expense reports using a specified template. Supports CSV, PDF, and other formats via FreeMarker templates.",
        "tags": [
          "Reports"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/x-www-form-urlencoded": {
              "schema": {
                "$ref": "#/components/schemas/ExportReportRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Report export data",
            "content": {
              "text/plain": {
                "schema": {
                  "type": "string"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Authentication failed",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/#reconciliation": {
      "post": {
        "operationId": "reconcileCreditCard",
        "summary": "Credit card reconciliation",
        "description": "Reconcile credit card transactions with submitted expense reports.",
        "tags": [
          "Reconciliation"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/x-www-form-urlencoded": {
              "schema": {
                "$ref": "#/components/schemas/ReconciliationRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Reconciliation results",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ReconciliationResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Authentication failed",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/#get": {
      "post": {
        "operationId": "getPolicyList",
        "summary": "Get policy list",
        "description": "Retrieve a list of policies (workspaces) accessible to the authenticated user.",
        "tags": [
          "Policies"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/x-www-form-urlencoded": {
              "schema": {
                "$ref": "#/components/schemas/GetPolicyListRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Policy list",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PolicyListResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Authentication failed",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/#upload": {
      "post": {
        "operationId": "uploadReceipt",
        "summary": "Upload a receipt image",
        "description": "Upload a receipt image to attach to an expense. Supports JPEG, PNG, and PDF files.",
        "tags": [
          "Files"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "multipart/form-data": {
              "schema": {
                "$ref": "#/components/schemas/UploadReceiptRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Upload successful",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/UploadResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Authentication failed",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/#download": {
      "post": {
        "operationId": "downloadFile",
        "summary": "Download a file",
        "description": "Download an exported file or receipt.",
        "tags": [
          "Files"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/x-www-form-urlencoded": {
              "schema": {
                "$ref": "#/components/schemas/DownloadRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "File content",
            "content": {
              "application/octet-stream": {
                "schema": {
                  "type": "string",
                  "format": "binary"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Authentication failed",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/#update": {
      "post": {
        "operationId": "updateReport",
        "summary": "Update an expense report",
        "description": "Update fields on an existing expense report such as approval status.",
        "tags": [
          "Reports"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/x-www-form-urlencoded": {
              "schema": {
                "$ref": "#/components/schemas/UpdateReportRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Report updated",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SuccessResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Authentication failed",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    }
  },
  "components": {
    "schemas": {
      "RequestJobDescription": {
        "type": "object",
        "required": [
          "type",
          "credentials"
        ],
        "properties": {
          "type": {
            "type": "string",
            "description": "Operation type",
            "enum": [
              "create",
              "get",
              "update",
              "file",
              "reconciliation"
            ]
          },
          "credentials": {
            "$ref": "#/components/schemas/Credentials"
          },
          "inputSettings": {
            "type": "object",
            "description": "Input configuration for the operation"
          },
          "outputSettings": {
            "type": "object",
            "description": "Output configuration for the operation"
          },
          "onReceive": {
            "type": "object",
            "description": "Actions to take on receipt processing"
          },
          "onFinish": {
            "type": "array",
            "items": {
              "type": "object"
            },
            "description": "Actions to take on job completion"
          }
        }
      },
      "Credentials": {
        "type": "object",
        "required": [
          "partnerUserID",
          "partnerUserSecret"
        ],
        "properties": {
          "partnerUserID": {
            "type": "string",
            "description": "Partner integration user ID"
          },
          "partnerUserSecret": {
            "type": "string",
            "description": "Partner integration user secret"
          }
        }
      },
      "CreateExpenseRequest": {
        "type": "object",
        "required": [
          "requestJobDescription"
        ],
        "properties": {
          "requestJobDescription": {
            "type": "string",
            "description": "JSON string with type='create', credentials, and transaction details"
          }
        }
      },
      "CreateExpenseResponse": {
        "type": "object",
        "properties": {
          "transactionList": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "transactionID": {
                  "type": "string"
                },
                "merchant": {
                  "type": "string"
                },
                "amount": {
                  "type": "integer"
                },
                "currency": {
                  "type": "string"
                }
              }
            }
          }
        }
      },
      "ExportReportRequest": {
        "type": "object",
        "required": [
          "requestJobDescription",
          "template"
        ],
        "properties": {
          "requestJobDescription": {
            "type": "string",
            "description": "JSON string with type='file', subType='export', credentials, and filter settings"
          },
          "template": {
            "type": "string",
            "description": "FreeMarker template for export formatting"
          }
        }
      },
      "ReconciliationRequest": {
        "type": "object",
        "required": [
          "requestJobDescription"
        ],
        "properties": {
          "requestJobDescription": {
            "type": "string",
            "description": "JSON string with type='reconciliation', credentials, and transaction data"
          }
        }
      },
      "ReconciliationResponse": {
        "type": "object",
        "properties": {
          "matched": {
            "type": "integer"
          },
          "unmatched": {
            "type": "integer"
          },
          "transactions": {
            "type": "array",
            "items": {
              "type": "object"
            }
          }
        }
      },
      "GetPolicyListRequest": {
        "type": "object",
        "required": [
          "requestJobDescription"
        ],
        "properties": {
          "requestJobDescription": {
            "type": "string",
            "description": "JSON string with type='get', subType='policy', credentials"
          }
        }
      },
      "PolicyListResponse": {
        "type": "object",
        "properties": {
          "policyList": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "id": {
                  "type": "string"
                },
                "name": {
                  "type": "string"
                },
                "type": {
                  "type": "string"
                },
                "outputCurrency": {
                  "type": "string"
                }
              }
            }
          }
        }
      },
      "UploadReceiptRequest": {
        "type": "object",
        "properties": {
          "requestJobDescription": {
            "type": "string",
            "description": "JSON string with type='create', credentials, and inputSettings"
          },
          "file": {
            "type": "string",
            "format": "binary",
            "description": "Receipt image file (JPEG, PNG, or PDF)"
          }
        }
      },
      "UploadResponse": {
        "type": "object",
        "properties": {
          "transactionID": {
            "type": "string"
          },
          "receiptURL": {
            "type": "string"
          }
        }
      },
      "DownloadRequest": {
        "type": "object",
        "required": [
          "requestJobDescription"
        ],
        "properties": {
          "requestJobDescription": {
            "type": "string",
            "description": "JSON string with type='download', credentials, and fileName"
          }
        }
      },
      "UpdateReportRequest": {
        "type": "object",
        "required": [
          "requestJobDescription"
        ],
        "properties": {
          "requestJobDescription": {
            "type": "string",
            "description": "JSON string with type='update', credentials, and inputSettings"
          }
        }
      },
      "SuccessResponse": {
        "type": "object",
        "properties": {
          "responseMessage": {
            "type": "string"
          },
          "responseCode": {
            "type": "integer"
          }
        }
      },
      "ErrorResponse": {
        "type": "object",
        "properties": {
          "responseMessage": {
            "type": "string"
          },
          "responseCode": {
            "type": "integer"
          }
        }
      }
    },
    "securitySchemes": {
      "PartnerCredentials": {
        "type": "apiKey",
        "in": "header",
        "name": "partnerUserID",
        "description": "Authentication via partnerUserID and partnerUserSecret passed in the requestJobDescription JSON body"
      }
    }
  },
  "security": [
    {
      "PartnerCredentials": []
    }
  ]
}
