{
  "openapi": "3.0.0",
  "servers": [
    {
      "url": "https://api.lulu.com",
      "description": "Production server, uses live data"
    },
    {
      "url": "https://api.sandbox.lulu.com",
      "description": "Sandbox server, uses test data"
    }
  ],
  "info": {
    "description": "# Getting Started\nThe Lulu Print API allows you to use [Lulu](https://www.lulu.com/) as your production and fulfillment network. The API provides access to the same functionality that Lulu uses internally to normalize files and send Print-Jobs to our production partners around the world.\n\nThe Lulu Print API is a **RESTful API** that communicates with JSON encoded messages. Communication is secured with **OpenID Connect** and **transport layer security** (HTTPS).\n\nWorking with the API requires intermediate level programming skills and a general understanding of web APIs. Check out Lulu's **[printing and fulfillment](https://www.lulu.com/sell)** options without having to do technical work upfront.\n\n## Registration\nYou have to create an account to start using the Lulu Print API. Your account will automatically receive a client-key and a client-secret.\n\n## Sandbox Environment\nThe API is available in a production and a sandbox environment. The sandbox can be used for development and testing purposes. Print-Jobs created on the sandbox will never be forwarded to a real production and can be paid for with test credit cards.\n\nTo access the sandbox, you have to create a separate account at [https://developers.sandbox.lulu.com/](https://developers.sandbox.lulu.com/).\n\nThe sandbox API endpoint URL is `https://api.sandbox.lulu.com/`.\n\n## Authorization\nThe Lulu API uses [OpenID Connect](https://en.wikipedia.org/wiki/OpenID_Connect), an authentication layer built on top of [OAuth 2.0](https://en.wikipedia.org/wiki/OAuth). Instead of exchanging username and password, the API uses [JSON Web Token (JWT)](https://en.wikipedia.org/wiki/JSON_Web_Token) to authorize client requests.\n\nTo interact with the API you need a **client-key** and a **client-secret**. Open the [Client Keys & Secret](https://developers.lulu.com/user-profile/api-keys) ([Sandbox](https://developers.sandbox.lulu.com/user-profile/api-keys)) page to generate them.\n\n<img src=\"https://api.lulu.com/api-docs/assets/keyAndSecretExample.png\">\n\n## Generate a Token\nTo interact with the API you first have to generate an OAuth token. This requires the following parameters:\n* `client_key`\n* `client_secret`\n* `grant-type` must be set to `client_credentials`\n\nYou have to send a POST request to the token endpoint a special Authorization header. For your convenience, you can copy the authorization string directly from your [API Keys](https://developers.lulu.com/user-profile/api-keys) page:\n\n```bash\ncurl -X POST https://api.lulu.com/auth/realms/glasstree/protocol/openid-connect/token \\\n  -d 'grant_type=client_credentials' \\\n  -H 'Content-Type: application/x-www-form-urlencoded' \\\n  -H 'Authorization: Basic ZjJjNDdmMTctOWMxZi00ZWZlLWIzYzEtMDI4YTNlZTRjM2M3OjMzOTViZGU4LTBkMjQtNGQ0Ny1hYTRjLWM4NGM3NjI0OGRiYw=='\n```\n\nThe request will return a JSON response that contains an `access_token` key:\n\n```json\n{\n    \"access_token\":\"eyJhbGciOiJSUzI1NiIsInR5cCIgOiAiSldUIiwia2lkI...\",\n    \"expires_in\":3600,\n    \"refresh_expires_in\":604800,\n    \"refresh_token\":\"eyJhbGciOiJSUzI1NiIsInR5cCIgOiAiSldUIiwia2lkIiA6...\",\n    \"token_type\":\"bearer\",\n    \"not-before-policy\":0,\n    \"session_state\":\"a856fb91-eafc-460e-8f6a-f09325062c88\"\n}\n```\n\nStore this `access_token` and use it to authorize all further requests. The token will expire after a few minutes, but you can always request a fresh token from the server as outlined above. We recommend to use an OAuth capable client lib in your favorite programming language to simplify working with client credentials and tokens. Some might even automatically refresh your token after it expired.\n\n## Make authenticated requests\nTo authenticate subsequent API requests, you must provide a valid access token in the HTTP header of the request:\n`Authorization: Bearer {access_token}`:\n\n```bash\ncurl -X GET https://api.lulu.com/{some_api_endpoint}/ \\\n  -H 'Authorization: Bearer {access_token}' \\\n  -H 'Content-Type: application/json'\n```\n\n## Select a Product\nLulu's Print API offers a wide range of products. Each product is represented by a 27 character code call **pod_package_id**:\n> Trim Size + Color + Print Quality + Bind + Paper + PPI + Finish + Linen + Foil = **pod_package_id**\n\nHere are a few examples:\n\n| pod_package_id | Description |\n| --- | --- |\n| `0850X1100BWSTDLW060UW444MNG` | `0850X1100`: trim size 8.5” x 11”<br>`BW`: black-and-white<br>`STD`: standard quality <br>`LW`: linen wrap binding<br>`060UW444`: 60# uncoated white paper with a bulk of 444 pages per inch <br>`M`: matte cover coating <br>`N`: navy colored linen<br>`G`: golden foil stamping |\n| `0600X0900FCSTDPB080CW444GXX` | `0600X0900`: trim size 6” x 9” <br>`FC`: full color<br>`STD`: standard quality<br>`PB`: perfect binding<br>`080CW444`: 80# coated white paper with a bulk of 444 ppi<br>`G`: gloss cover coating<br>`X`: no linen<br>`X`: no foil|\n| `0700X1000FCPRECO060UC444MXX` | 7\" x 10\" black-and-white premium coil-bound book printed on 60# cream paper with a matte cover |\n| `0600X0900BWSTDPB060UW444MXX` | 6\" x 9\" black-and-white standard quality paperback book printed on 60# white paper with a matte cover |\n\nUse the [Pricing Calculator](https://developers.lulu.com/price-calculator) to input your product specifications and generate a SKU for your product. Once a price is calculated, the SKU will be available in the Your Selection area.\n\nFor a full listing of Lulu SKUs and product specification, download the [Product Specification Sheet](https://assets.lulu.com/media/specs/lulu-print-api-spec-sheet.xlsx). Also, please download and review our [Production Templates](https://www.lulu.com/print-api/products#Select-Your-Book-Size) for additional guidance with formatting and file preparation. If you have general questions about which Lulu products are right for your business, please [contact one of our experts](https://help.api.lulu.com) through our Technical Support form.\n\n## Validate files\n\n### Validate interior file\nPrint API allows you to validate your interior file without creating a Print-Job. Interior validation requires publicly exposed URL to download and validate a file.\nFile validation is being done asynchronously, it may take a while, so to retrieve validation result, use GET endpoint.\n\nFile validation result may return different statuses:\n* `NULL` - file validation is not started yet\n* `VALIDATING` - file validation is still running\n* `VALIDATED` - file validation finished without any errors\n* `NORMALIZING` - file normalization (next step of validation, available only if `pod_package_id` is was passed in the payload) is still running\n* `NORMALIZED` - file normalization finished without any errors\n* `ERROR` - file is invalid, list of errors is included in the response\n\nSo there are 3 possible final statuses of validation:\n* `VALIDATED` - validation succeeded\n* `NORMALIZED` - validation succeeded, possible only if `pod_package_id` was added to the payload\n* `ERROR` - validation failed\n\nExample reasons of `ERROR` status:\n* invalid PDF file\n* not enough pages - at least 2 pages are required\n* different sizes of pages\n* fonts not embedded\n* corrupted images\n\nApplicable reasons should be included in `errors` field in the file validation response.\n\nYou can find the detailed endpoints documentation in\n[interior validation section](#operation/Validate-Interior_create).\n\n### Calculate cover dimensions\nYou can also calculate required cover dimensions basing on interior data by using\n[cover dimensions](#operation/Cover-Dimensions_create) endpoint. This endpoint returns cover width and height\nin requested unit (print points by default).\n\n### Validate cover file\nAs it was possible with interior file, Print API also allows you to validate cover files. Just as interior\nvalidation, cover validation requires publicly exposed URL to download and validate a file. Other required\nattributes are POD package ID of your book and interior page count to correctly validate cover file.\nAlso in this case, file validation is being done asynchronously, it may take a while, so to retrieve\nvalidation result, use GET endpoint.\n\nFile validation result may return different statuses:\n* `NULL` - file validation is not started yet\n* `NORMALIZING` - file validation is still running\n* `NORMALIZED` - file validation finished without any errors\n* `ERROR` - file is invalid, list of errors is included in the response\n\nExample reasons of `ERROR` status:\n* invalid PDF file\n* invalid file size\n\nApplicable reasons should be included in `errors` field in the file validation response.\n\nYou can find the detailed endpoints documentation in\n[cover validation section](#operation/Validate-Cover_create).\n\n## Create a Print-Job\nNow you can start to create Print-Jobs. A Print-Job request consists of at least three data fields:\n\n* `line_items` **(required)**: the list of books that shall be printed\n* `shipping_address` **(required)**: the (end) customer’s address where Lulu should send the books - including a phone number.\n* `contact_email` **(required)**: an email address for questions regarding the Print-Job - normally, you want to use the email address of a developer or shop owner, not the end customer\n* `shipping_level`**(required)**: Lulu offers five different quality levels for shipping:\n    * `MAIL` - Slowest ship method. Depending on the destination, tracking might not be available.\n    * `PRIORITY_MAIL` - priority mail shipping\n    * `GROUND` - Courier based shipping using ground transportation in the US.\n    * `EXPEDITED` - expedited (2nd day) delivery via air mail or equivalent\n    * `EXPRESS` - overnight delivery. Fastest shipping available.\n* `external_id` (optional): a reference number to link the Print-Job to your system (e.g. your order number)\n\nThe **shipping address must contain a phone number**. This is required by our shipping carriers. If the shipping address does not contain a phone number, the default phone number from the account will be used.\nIf neither the account nor the shipping address contain a phone number, the Print-Job can not be created.\n\nYou can find the detailed documentation for [Creating a new Print-Job](#) below.\n\n## Check Print-Job Status\nAfter sending a Print-Job, you can check its status. Normally, a Print-Job goes through the following stages:\n\n<img src=\"https://api.lulu.com/api-docs/assets/print-job-stages.svg\">\n\n* **CREATED**: Print-Job created\n* **UNPAID**: Print-Job can be paid\n* **PAYMENT_IN_PROGRESS**: Payment is in Progress\n* **PRODUCTION_DELAYED**: Print-Job is paid and will move to production after the mandatory production delay.\n* **PRODUCTION_READY**: Production delay has ended and the Print-Job will move to \"in production\" shortly.\n* **IN_PRODUCTION**: Print-Job submitted to printer\n* **SHIPPED**: Print-Job is fully shipped\n\nThere are a few more status that can occur when there is a problem with the Print-Job:\n* **REJECTED**: When there is a problem with the input data or the file, Lulu will reject a Print-Job with a detailed error message. Please [contact our experts](https://help.api.lulu.com) if you need help in resolving this issue.\n* **CANCELED**: You can cancel a Print-Job as long as it is “unpaid” using an API request to the status endpoint. In rare cases, Lulu might also cancel a Print-Job if a problem has surfaced in production and the order cannot be fulfilled.\n\n## Shipping Notification\nOnce an order has been shipped, Lulu will provide tracking information in the Print-Job and Print-Job Status endpoint. Example shipped response:\n\n```json\n{\n  \"name\": \"SHIPPED\",\n  \"message\": \"All line-items were shipped\",\n  \"changed\": \"2024-04-10T09:28:34.870842Z\",\n  \"line_item_statuses\": [\n    {\n      \"name\": \"SHIPPED\",\n      \"messages\": {\n        \"tracking_id\": \"3d4a53da-cc42-44c2-b47b-c3da8fa37491_1\",\n        \"tracking_urls\": [\n          \"https://api.sandbox.lulu.com/printer-wannabe-tracking/3d4a53da-cc42-44c2-b47b-c3da8fa37491_1\"\n        ],\n        \"carrier_name\": \"Carrier\"\n      },\n      \"line_item_id\": 57999\n    }\n  ],\n  \"print_job_id\": 42776\n}\n```\n\n## Webhooks\n> **You can subscribe to receive webhooks on the following topics:**\n> * **PRINT_JOB_STATUS_CHANGED**\n\nTo subscribe to webhooks, create a webhook configuration by calling <a href=\"#operation/subscribe-webhooks\" target=\"_blank\">this\n</a> endpoint. You have to select topics that you want to subscribe to and the URL where webhooks should be sent.\nYou can create multiple webhooks, but the URL has to be unique for each of them.\n\nOnce you created a webhook configuration, you can retrieve a <a href=\"#operation/retrieve-webhooks\"\ntarget=\"_blank\">list</a> of owned webhook or <a href=\"#operation/retrieve-webhook\" target=\"_blank\">\nsingle webhook</a> to check data:\n* id\n* topics\n* URL\n* is_active\n\nIt can be <a href=\"#operation/update-webhook\" target=\"_blank\">updated</a>, for example, if you want to update the\nURL, list of subscribed topics or activate it after automatic deactivation.\n\nIt can be also <a href=\"#operation/delete-webhook\" target=\"_blank\">deleted</a> - this operation cannot be undone.\n\nOnce the webhook configuration is created, you should start receiving webhooks depending on topics that you are\nsubscribed to. Each submission payload contains 2 fields:\n* topic\n* data - depends on the topic\n\nEach webhook submission has calculated HMAC - a request payload signed with webhook's owner API secret. HMAC is\nsent in `Lulu-HMAC-SHA256` header. HMAC is calculated with API secret as a key (UTF-8 encoded), payload as a\nmessage (UTF-8 encoded) and SHA-256 as hash function. To validate HMAC, it should be calculated using\n*raw response data* - parsing it to JSON can cause formatting issues.\n\nIf a webhook submission fails for any reason (connection error, HTTP error, etc.), it is retried 5 times. After 5\ndifferent failed submissions in a row, the webhook is deactivated (`is_active` field is set to `false`). It can be\nactivated back by updating it. There is an option to test webhook submission by calling <a\nhref=\"#operation/test-webhook-submission\" target=\"_blank\">test</a> endpoint. It sends dummy data of the selected\ntopic to configured URL.\n\nAll webhooks submissions can be retrieved by calling <a href=\"#operation/retrieve-webhook-submissions\"\ntarget=\"_blank\">this</a> endpoint. It returns all submissions created during the last 30 days.\n\n### PRINT_JOB_STATUS_CHANGED topic\nPRINT_JOB_STATUS_CHANGED webhook is sent every time owned print job status is updated. The data sent in the payload\nis print job data, the same as returned by <a href=\"#operation/Print-Jobs_read\" target=\"_blank\">print job details\n</a> endpoint.\n",
    "title": "Universal Publishing Platform API",
    "version": "v1",
    "x-logo": {
      "url": "https://api.lulu.com/api-docs/assets/logo-lulu-api.svg",
      "altText": "LULU API logo"
    },
    "x-jentic-source-url": "https://developers.lulu.com/",
    "contact": {
      "name": "API Support"
    }
  },
  "paths": {
    "/print-job-cost-calculations/": {
      "post": {
        "description": "This endpoint allows you to calculate product and shipping cost without creating a Print-Job. Typically used in an offer or checkout situation. The address is required to calculate sales tax / VAT and shipping cost.",
        "operationId": "Print-Job-cost-calculations_create",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "description": "A Print-Job Cost Calculation represents a price calculation for multiple print job line items",
                "properties": {
                  "line_items": {
                    "description": "The line items that should be calculated",
                    "items": {
                      "description": "A Print-Job Cost Calculation Line Item represents a price calculation for a print job line item",
                      "properties": {
                        "page_count": {
                          "description": "The page count of the book",
                          "type": "integer",
                          "writeOnly": true
                        },
                        "pod_package_id": {
                          "description": "The id of the PodPackage of the book",
                          "type": "string",
                          "writeOnly": true
                        },
                        "quantity": {
                          "description": "The quantity of printables to base the calculations on",
                          "format": "int32",
                          "type": "number",
                          "writeOnly": true
                        }
                      },
                      "required": [
                        "quantity",
                        "pod_package_id",
                        "page_count"
                      ],
                      "type": "object"
                    },
                    "type": "array",
                    "writeOnly": true
                  },
                  "shipping_address": {
                    "description": "The shipping address for calculating Print-Job cost",
                    "properties": {
                      "city": {
                        "type": "string"
                      },
                      "country_code": {
                        "description": "[ISO 3166-2](https://en.wikipedia.org/wiki/ISO_3166-2) country code",
                        "maxLength": 2,
                        "minLength": 2,
                        "type": "string"
                      },
                      "email": {
                        "format": "email",
                        "type": "string"
                      },
                      "is_business": {
                        "default": false,
                        "description": "Only relevant for US addresses. Some US carriers don't deliver to business-addresses on Saturday.",
                        "type": "boolean"
                      },
                      "name": {
                        "description": "Full name of the person, including first and last name.",
                        "type": "string"
                      },
                      "organization": {
                        "description": "Name of an organization. Required if no person name is given.",
                        "type": "string"
                      },
                      "phone_number": {
                        "description": "Validation Regex Pattern: `^\\+?[\\d\\s\\-.\\/()]{8,20}$`\n",
                        "maxLength": 20,
                        "type": "string"
                      },
                      "postcode": {
                        "description": "Required for most countries",
                        "maxLength": 64,
                        "type": "string"
                      },
                      "state_code": {
                        "description": "2 or 3 letter state codes (officially called [ISO-3166-2 subdivision codes](https://en.wikipedia.org/wiki/ISO_3166-2)). They are required for some countries (e.g. US, MX, CA, AU)",
                        "type": "string"
                      },
                      "street1": {
                        "description": "First address line",
                        "type": "string"
                      },
                      "street2": {
                        "description": "Second address line",
                        "type": "string"
                      },
                      "title": {
                        "enum": [
                          "MR",
                          "MISS",
                          "MRS",
                          "MS",
                          "DR"
                        ],
                        "type": "string"
                      }
                    },
                    "required": [
                      "street1",
                      "city",
                      "country_code",
                      "postcode",
                      "phone_number"
                    ],
                    "type": "object",
                    "writeOnly": true
                  },
                  "shipping_option": {
                    "description": "The shipping option level",
                    "enum": [
                      "MAIL",
                      "PRIORITY_MAIL",
                      "GROUND_HD",
                      "GROUND_BUS",
                      "GROUND",
                      "EXPEDITED",
                      "EXPRESS"
                    ],
                    "type": "string",
                    "writeOnly": true
                  }
                },
                "required": [
                  "shipping_option",
                  "shipping_address",
                  "line_items"
                ],
                "type": "object"
              },
              "examples": {
                "Shipping Express to Germany": {
                  "value": {
                    "line_items": [
                      {
                        "page_count": 32,
                        "pod_package_id": "0600X0900BWSTDPB060UW444MXX",
                        "quantity": 20
                      },
                      {
                        "page_count": 324,
                        "pod_package_id": "0425X0687BWSTDPB060UW444GXX",
                        "quantity": 200
                      }
                    ],
                    "shipping_address": {
                      "city": "Lübeck",
                      "country_code": "DE",
                      "postcode": "23552",
                      "state_code": null,
                      "street1": "Holstenstr. 40",
                      "phone_number": "844-212-0689"
                    },
                    "shipping_option": "EXPRESS"
                  }
                },
                "Shipping Mail to United Kingdom": {
                  "value": {
                    "line_items": [
                      {
                        "page_count": 120,
                        "pod_package_id": "0827X1169BWPRELW080CW444MGG",
                        "quantity": 5
                      }
                    ],
                    "shipping_address": {
                      "city": "Wetherby",
                      "country_code": "GB",
                      "postcode": "LS22 6LL",
                      "street1": "Lucky Garden, 11, West Gate",
                      "phone_number": "+44 113 496 0000"
                    },
                    "shipping_option": "MAIL"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "201": {
            "content": {
              "application/json": {
                "schema": {
                  "description": "Summary of the costs of a Print-Job",
                  "properties": {
                    "shipping_address": {
                      "description": "The shipping address of the customer.",
                      "properties": {
                        "city": {
                          "type": "string"
                        },
                        "country_code": {
                          "description": "[ISO 3166-2](https://en.wikipedia.org/wiki/ISO_3166-2) country code",
                          "maxLength": 2,
                          "minLength": 2,
                          "type": "string"
                        },
                        "email": {
                          "format": "email",
                          "type": "string",
                          "description": "Shipping carriers require an email address for notifications or handling delivery issues. If no email is given, the default email in the user profile will be used.\n"
                        },
                        "is_business": {
                          "default": false,
                          "description": "Only relevant for US addresses. Some US carriers don't deliver to business-addresses on Saturday.",
                          "type": "boolean"
                        },
                        "name": {
                          "description": "Full name of the person, including first and last name.",
                          "type": "string"
                        },
                        "organization": {
                          "description": "Name of an organization. Required if no person name is given.",
                          "type": "string"
                        },
                        "phone_number": {
                          "description": "Shipping carriers require a phone number for handling delivery issues. If no phone number is given, the default in the API user profile will be used. Validation Regex Pattern for phone numbers `^\\+?[\\d\\s\\-.\\/()]{8,20}$`\n",
                          "maxLength": 20,
                          "type": "string"
                        },
                        "postcode": {
                          "description": "Required for most countries",
                          "maxLength": 64,
                          "type": "string"
                        },
                        "state_code": {
                          "description": "2 or 3 letter state codes (officially called [ISO-3166-2 subdivision codes](https://en.wikipedia.org/wiki/ISO_3166-2)). They are required for some countries (e.g. US, MX, CA, AU)",
                          "type": "string"
                        },
                        "street1": {
                          "description": "First address line",
                          "type": "string"
                        },
                        "street2": {
                          "description": "Second address line",
                          "type": "string"
                        },
                        "title": {
                          "enum": [
                            "MR",
                            "MISS",
                            "MRS",
                            "MS",
                            "DR"
                          ],
                          "type": "string"
                        },
                        "warnings": {
                          "description": "Warnings found during address validation",
                          "readOnly": true,
                          "type": "array",
                          "items": {
                            "properties": {
                              "type": {
                                "description": "Type of warning",
                                "type": "string",
                                "readOnly": true
                              },
                              "code": {
                                "description": "Warning code which describe what was suggested by validation",
                                "type": "string",
                                "readOnly": true
                              },
                              "path": {
                                "description": "Describes the validation origin of warning",
                                "type": "string",
                                "readOnly": true
                              },
                              "message": {
                                "description": "Warning message with suggested change",
                                "type": "string",
                                "readOnly": true
                              }
                            }
                          }
                        },
                        "suggested_address": {
                          "description": "Suggested address returned by shipping address validation",
                          "readOnly": true,
                          "type": "object",
                          "properties": {
                            "country_code": {
                              "description": "Suggested country code",
                              "type": "string",
                              "readOnly": true
                            },
                            "state_code": {
                              "description": "Suggested state code",
                              "type": "string",
                              "readOnly": true
                            },
                            "postcode": {
                              "description": "Suggested postal code",
                              "type": "string",
                              "readOnly": true
                            },
                            "city": {
                              "description": "Suggested city",
                              "type": "string",
                              "readOnly": true
                            },
                            "street1": {
                              "description": "Suggested first address line",
                              "type": "string",
                              "readOnly": true
                            },
                            "street2": {
                              "description": "Suggested second address line",
                              "type": "string",
                              "readOnly": true
                            }
                          }
                        }
                      }
                    },
                    "currency": {
                      "description": "Currency for the costs",
                      "readOnly": true,
                      "type": "string"
                    },
                    "line_item_costs": {
                      "description": "List of cost summaries for each line item",
                      "items": {
                        "description": "Costs for a Print-Job line item",
                        "properties": {
                          "cost_excl_discounts": {
                            "description": "Per unit cost without any discounts applied as a decimal string",
                            "readOnly": true,
                            "type": "string"
                          },
                          "discounts": {
                            "description": "Discounts applied to this line item",
                            "items": {
                              "properties": {
                                "amount": {
                                  "description": "The deducted amount as a decimal string",
                                  "readOnly": true,
                                  "type": "string"
                                },
                                "description": {
                                  "description": "Description of the discount",
                                  "readOnly": true,
                                  "type": "string"
                                }
                              },
                              "required": [
                                "amount",
                                "description"
                              ],
                              "type": "object"
                            },
                            "readOnly": true,
                            "type": "array"
                          },
                          "quantity": {
                            "description": "The quantity of printables to base the calculations on",
                            "format": "int32",
                            "readOnly": true,
                            "type": "number"
                          },
                          "tax_rate": {
                            "description": "The tax rate applied to the line as a decimal string",
                            "readOnly": true,
                            "type": "string"
                          },
                          "total_cost_excl_discounts": {
                            "description": "The total line price without any discounts applied as a decimal string",
                            "readOnly": true,
                            "type": "string"
                          },
                          "total_cost_excl_tax": {
                            "description": "The total line price including discounts excluding tax as a decimal string",
                            "readOnly": true,
                            "type": "string"
                          },
                          "total_cost_incl_tax": {
                            "description": "The total line price including discounts and taxes as a decimal string",
                            "readOnly": true,
                            "type": "string"
                          },
                          "total_tax": {
                            "description": "The total line tax amount as a decimal string",
                            "readOnly": true,
                            "type": "string"
                          },
                          "unit_tier_cost": {
                            "description": "Per unit cost with tier discount applied, null for list price (non-tier) customers",
                            "readOnly": true,
                            "type": "string"
                          }
                        },
                        "required": [
                          "quantity",
                          "cost_excl_discounts",
                          "cost_excl_tax",
                          "tax_rate",
                          "discounts",
                          "total_cost_excl_discounts",
                          "total_tax",
                          "total_cost_excl_tax",
                          "total_cost_incl_tax"
                        ],
                        "type": "object"
                      },
                      "readOnly": true,
                      "type": "array"
                    },
                    "shipping_cost": {
                      "description": "Summary of the combined shipping and handling costs",
                      "properties": {
                        "tax_rate": {
                          "description": "Tax rate that was applied on shipping and handling costs as a decimal string",
                          "readOnly": true,
                          "type": "string"
                        },
                        "total_cost_excl_tax": {
                          "description": "Total shipping and handling costs excluding taxes as a decimal string",
                          "readOnly": true,
                          "type": "string"
                        },
                        "total_cost_incl_tax": {
                          "description": "Total shipping and handling costs including taxes as a decimal string",
                          "readOnly": true,
                          "type": "string"
                        },
                        "total_tax": {
                          "description": "Total amount of taxes on shipping and handling as a decimal string",
                          "readOnly": true,
                          "type": "string"
                        }
                      },
                      "readOnly": true,
                      "type": "object"
                    },
                    "fulfillment_cost": {
                      "description": "Summary of the fulfillment fee costs",
                      "type": "object",
                      "readOnly": true,
                      "properties": {
                        "total_cost_excl_tax": {
                          "description": "Total fulfillment fee costs excluding taxes as a decimal string",
                          "type": "string",
                          "readOnly": true
                        },
                        "total_cost_incl_tax": {
                          "description": "Total fulfillment fee costs including taxes as a decimal string",
                          "type": "string",
                          "readOnly": true
                        },
                        "total_tax": {
                          "description": "Total amount of taxes on fulfillment fee as a decimal string",
                          "type": "string",
                          "readOnly": true
                        },
                        "tax_rate": {
                          "description": "Tax rate that was applied on fulfillment fee costs as a decimal string"
                        }
                      }
                    },
                    "total_cost_excl_tax": {
                      "description": "Total costs of the job excluding taxes as a decimal string",
                      "readOnly": true,
                      "type": "string"
                    },
                    "total_cost_incl_tax": {
                      "description": "Total costs of the job including taxes as a decimal string",
                      "readOnly": true,
                      "type": "string"
                    },
                    "total_discount_amount": {
                      "description": "The total discount amount as a decimal string",
                      "readOnly": true,
                      "type": "string"
                    },
                    "total_tax": {
                      "description": "Total amount of taxes on the job as a decimal string",
                      "readOnly": true,
                      "type": "string"
                    },
                    "fees": {
                      "description": "All fees applied to Print Job",
                      "readOnly": true,
                      "type": "array",
                      "items": {
                        "properties": {
                          "currency": {
                            "description": "Print Job Fee currency",
                            "type": "string",
                            "readOnly": true
                          },
                          "fee_type": {
                            "description": "Print Job Fee type",
                            "type": "string",
                            "readOnly": true
                          },
                          "sku": {
                            "description": "Print Job Fee unique sku",
                            "type": "string",
                            "readOnly": true
                          },
                          "tax_rate": {
                            "type": "string",
                            "description": "The tax rate applied to the fee as a decimal string",
                            "readOnly": true
                          },
                          "total_cost_excl_tax": {
                            "type": "string",
                            "description": "The total fee rate excluding tax as a decimal string",
                            "readOnly": true
                          },
                          "total_cost_incl_tax": {
                            "type": "string",
                            "description": "The total fee rate including tax as a decimal string",
                            "readOnly": true
                          },
                          "total_tax": {
                            "type": "string",
                            "description": "The total fee rate tax amount as a decimal string",
                            "readOnly": true
                          }
                        }
                      }
                    }
                  },
                  "readOnly": true,
                  "required": [
                    "shipping_cost",
                    "line_item_costs",
                    "total_cost_excl_tax",
                    "total_cost_incl_tax",
                    "total_discount_amount",
                    "total_tax",
                    "currency"
                  ],
                  "type": "object"
                },
                "example": {
                  "shipping_address": {
                    "city": "Lübeck",
                    "country_code": "DE",
                    "is_business": false,
                    "name": "Hans Dampf",
                    "phone_number": "844-212-0689",
                    "postcode": "23552",
                    "state_code": "",
                    "street1": "Holstenstr. 40",
                    "street2": "",
                    "warnings": {
                      "type": "validation_warning",
                      "path": "external",
                      "code": "REPLACED",
                      "message": "street1: Holstenstr. 40 -> Holstenstraße 40"
                    },
                    "suggested_address": {
                      "country_code": "DE",
                      "state_code": null,
                      "postcode": 23552,
                      "city": "Lübeck",
                      "street1": "Holstenstraße 40\"",
                      "street2": null
                    }
                  },
                  "currency": "USD",
                  "fees": [
                    {
                      "currency": "USD",
                      "fee_type": "HANDLING_FEE",
                      "sku": "HANDLING_FEE",
                      "tax_rate": "0.060000",
                      "total_cost_excl_tax": "14.00",
                      "total_cost_incl_tax": "14.84",
                      "total_tax": "0.84"
                    },
                    {
                      "currency": "USD",
                      "fee_type": "FULFILLMENT_FEE",
                      "sku": "FULFILLMENT_FEE",
                      "tax_rate": "0.060000",
                      "total_cost_excl_tax": "0.75",
                      "total_cost_incl_tax": "0.80",
                      "total_tax": "0.05"
                    }
                  ],
                  "fulfillment_cost": {
                    "tax_rate": "0.06",
                    "total_cost_excl_tax": "0.75",
                    "total_cost_incl_tax": "0.80",
                    "total_tax": "0.05"
                  },
                  "line_item_costs": [
                    {
                      "cost_excl_discounts": "2.55",
                      "discounts": [],
                      "quantity": 20,
                      "tax_rate": "0.060000",
                      "total_cost_excl_discounts": "51.00",
                      "total_cost_excl_tax": "51.00",
                      "total_cost_incl_tax": "54.06",
                      "total_tax": "3.06",
                      "unit_tier_cost": null
                    },
                    {
                      "cost_excl_discounts": "9.26",
                      "discounts": [
                        {
                          "amount": "92.60",
                          "description": "Volume Discount 5%"
                        }
                      ],
                      "quantity": 200,
                      "tax_rate": "0.060000",
                      "total_cost_excl_discounts": "1852.00",
                      "total_cost_excl_tax": "1759.40",
                      "total_cost_incl_tax": "1864.96",
                      "total_tax": "105.56",
                      "unit_tier_cost": null
                    }
                  ],
                  "shipping_cost": {
                    "tax_rate": "0.06",
                    "total_cost_excl_tax": "318.44",
                    "total_cost_incl_tax": "337.55",
                    "total_tax": "19.11"
                  },
                  "total_cost_excl_tax": "2129.59",
                  "total_cost_incl_tax": "2257.37",
                  "total_discount_amount": "92.60",
                  "total_tax": "127.78"
                }
              }
            },
            "description": "Created"
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          }
        },
        "security": [
          {
            "oauth2": []
          }
        ],
        "summary": "Create a Print-Job cost calculation",
        "tags": [
          "Print-Job Cost Calculations"
        ],
        "x-code-samples": [
          {
            "lang": "Python",
            "source": "import requests\nimport json\n\nurl = \"https://api.lulu.com/print-job-cost-calculations/\"\n\npayload = json.dumps({\n  \"line_items\": [\n    {\n      \"page_count\": 32,\n      \"pod_package_id\": \"0600X0900BWSTDPB060UW444MXX\",\n      \"quantity\": 20\n    },\n    {\n      \"page_count\": 324,\n      \"pod_package_id\": \"0425X0687BWSTDPB060UW444GXX\",\n      \"quantity\": 200\n    }\n  ],\n  \"shipping_address\": {\n    \"city\": \"Washington\",\n    \"country_code\": \"US\",\n    \"postcode\": \"20540\",\n    \"state_code\": \"DC\",\n    \"street1\": \"101 Independence Ave SE\",\n    \"phone_number\": \"+1 206 555 0100\"\n  },\n  \"shipping_option\": \"EXPRESS\"\n})\nheaders = {\n  'Authorization': 'Check Authentication menu',\n  'Cache-Control': 'no-cache',\n  'Content-Type': 'application/json'\n}\n\nresponse = requests.request(\"POST\", url, headers=headers, data=payload)\n\nprint(response.text)\n"
          },
          {
            "lang": "Ruby",
            "source": "require \"uri\"\nrequire \"json\"\nrequire \"net/http\"\n\nurl = URI(\"https://api.lulu.com/print-job-cost-calculations/\")\n\nhttps = Net::HTTP.new(url.host, url.port)\nhttps.use_ssl = true\n\nrequest = Net::HTTP::Post.new(url)\nrequest[\"Authorization\"] = \"Check Authentication menu\"\nrequest[\"Cache-Control\"] = \"no-cache\"\nrequest[\"Content-Type\"] = \"application/json\"\nrequest.body = JSON.dump({\n  \"line_items\": [\n    {\n      \"page_count\": 32,\n      \"pod_package_id\": \"0600X0900BWSTDPB060UW444MXX\",\n      \"quantity\": 20\n    },\n    {\n      \"page_count\": 324,\n      \"pod_package_id\": \"0425X0687BWSTDPB060UW444GXX\",\n      \"quantity\": 200\n    }\n  ],\n  \"shipping_address\": {\n    \"city\": \"Washington\",\n    \"country_code\": \"US\",\n    \"postcode\": \"20540\",\n    \"state_code\": \"DC\",\n    \"street1\": \"101 Independence Ave SE\",\n    \"phone_number\": \"+1 206 555 0100\"\n  },\n  \"shipping_option\": \"EXPRESS\"\n})\n\nresponse = https.request(request)\nputs response.read_body\n"
          },
          {
            "lang": "Node",
            "source": "var request = require('request');\nvar options = {\n  'method': 'POST',\n  'url': 'https://api.lulu.com/print-job-cost-calculations/',\n  'headers': {\n    'Authorization': 'Check Authentication menu',\n    'Cache-Control': 'no-cache',\n    'Content-Type': 'application/json'\n  },\n  body: JSON.stringify({\n    \"line_items\": [\n      {\n        \"page_count\": 32,\n        \"pod_package_id\": \"0600X0900BWSTDPB060UW444MXX\",\n        \"quantity\": 20\n      },\n      {\n        \"page_count\": 324,\n        \"pod_package_id\": \"0425X0687BWSTDPB060UW444GXX\",\n        \"quantity\": 200\n      }\n    ],\n    \"shipping_address\": {\n      \"city\": \"Washington\",\n      \"country_code\": \"US\",\n      \"postcode\": \"20540\",\n      \"state_code\": \"DC\",\n      \"street1\": \"101 Independence Ave SE\",\n      \"phone_number\": \"+1 206 555 0100\"\n    },\n    \"shipping_option\": \"EXPRESS\"\n  })\n\n};\nrequest(options, function (error, response) {\n  if (error) throw new Error(error);\n  console.log(response.body);\n});\n"
          },
          {
            "lang": "Java",
            "source": "Unirest.setTimeouts(0, 0);\nHttpResponse<String> response = Unirest.post(\"https://api.lulu.com/print-job-cost-calculations/\")\n  .header(\"Authorization\", \"Check Authentication menu\")\n  .header(\"Cache-Control\", \"no-cache\")\n  .header(\"Content-Type\", \"application/json\")\n  .body(\"{\\n  \\\"line_items\\\": [\\n    {\\n      \\\"page_count\\\": 32,\\n      \\\"pod_package_id\\\": \\\"0600X0900BWSTDPB060UW444MXX\\\",\\n      \\\"quantity\\\": 20\\n    },\\n    {\\n      \\\"page_count\\\": 324,\\n      \\\"pod_package_id\\\": \\\"0425X0687BWSTDPB060UW444GXX\\\",\\n      \\\"quantity\\\": 200\\n    }\\n  ],\\n  \\\"shipping_address\\\": {\\n    \\\"city\\\": \\\"Washington\\\",\\n    \\\"country_code\\\": \\\"US\\\",\\n    \\\"postcode\\\": \\\"20540\\\",\\n    \\\"state_code\\\": \\\"DC\\\",\\n    \\\"street1\\\": \\\"101 Independence Ave SE\\\",\\n    \\\"phone_number\\\": \\\"+1 206 555 0100\\\"\\n  },\\n  \\\"shipping_option\\\": \\\"EXPRESS\\\"\\n}\")\n  .asString();\n"
          },
          {
            "lang": "Javascript",
            "source": "var myHeaders = new Headers();\nmyHeaders.append(\"Authorization\", \"Check Authentication menu\");\nmyHeaders.append(\"Cache-Control\", \"no-cache\");\nmyHeaders.append(\"Content-Type\", \"application/json\");\n\nvar raw = JSON.stringify({\n  \"line_items\": [\n    {\n      \"page_count\": 32,\n      \"pod_package_id\": \"0600X0900BWSTDPB060UW444MXX\",\n      \"quantity\": 20\n    },\n    {\n      \"page_count\": 324,\n      \"pod_package_id\": \"0425X0687BWSTDPB060UW444GXX\",\n      \"quantity\": 200\n    }\n  ],\n  \"shipping_address\": {\n    \"city\": \"Washington\",\n    \"country_code\": \"US\",\n    \"postcode\": \"20540\",\n    \"state_code\": \"DC\",\n    \"street1\": \"101 Independence Ave SE\",\n    \"phone_number\": \"+1 206 555 0100\"\n  },\n  \"shipping_option\": \"EXPRESS\"\n});\n\nvar requestOptions = {\n  method: 'POST',\n  headers: myHeaders,\n  body: raw,\n  redirect: 'follow'\n};\n\nfetch(\"https://api.lulu.com/print-job-cost-calculations/\", requestOptions)\n  .then(response => response.text())\n  .then(result => console.log(result))\n  .catch(error => console.log('error', error));\n"
          },
          {
            "lang": "cURL",
            "source": "curl --location 'https://api.lulu.com/print-job-cost-calculations/' \\\n--header 'Authorization: Check Authentication menu' \\\n--header 'Cache-Control: no-cache' \\\n--header 'Content-Type: application/json' \\\n--data '{\n  \"line_items\": [\n    {\n      \"page_count\": 32,\n      \"pod_package_id\": \"0600X0900BWSTDPB060UW444MXX\",\n      \"quantity\": 20\n    },\n    {\n      \"page_count\": 324,\n      \"pod_package_id\": \"0425X0687BWSTDPB060UW444GXX\",\n      \"quantity\": 200\n    }\n  ],\n  \"shipping_address\": {\n    \"city\": \"Washington\",\n    \"country_code\": \"US\",\n    \"postcode\": \"20540\",\n    \"state_code\": \"DC\",\n    \"street1\": \"101 Independence Ave SE\",\n    \"phone_number\": \"+1 206 555 0100\"\n  },\n  \"shipping_option\": \"EXPRESS\"\n}'\n"
          }
        ]
      }
    },
    "/print-jobs/": {
      "post": {
        "description": "### Usage of printable_id\n\nThe immutable `printable_id` can be used for re-orders so that the files don't have to be transferred again.\nGiven there is an already created and validated Print-Job, you can use the `printable_id` of each line-item\nto create re-orders for that particular printable. As the normalized files are already on the server, you\nomit the complete `printable_normalization` object from the request and send a valid `printable_id` instead.\n\n### Shipping Information & Metadata\n\nPrint-Jobs have to contain a `shipping_address` as well as a `shipping_level`.\nLulu offers five different service levels that differ in speed and traceability.\n\n### Additional Metadata\n\nA few additional metadata fields can be specified in the Print-Job as well:\n  * `contact_email` for questions related to the Print-Job itself,\n  * `production_delay` allows you to specify a delay (between 60 minutes and 2,880 minutes) before the Print-Job goes to production,\n  * `external_id` allows you to link the Print-Job to an internal order number or other reference.\n\n## File Handling and Normalization\n\nIf there is an existing printable for the given `printable_id` the already processed and normalized files\nare used for production. If there are are problems with the `printable_id`, the PrintJob will be rejected\nor cancelled and an error message will be displayed.\n\n## Automation and Payment\n\nAfter a Print-Job has been created successfully, it will remain in an `UNPAID` state\nuntil it is paid for through the developer portal. However, you can automate the process by putting\na credit card on file. Then, the Print-Job will automatically transition to the `PRODUCTION_DELAY`\nstatus and your card will charged when the Print-Job is sent to production.\n",
        "operationId": "Print-Jobs_reprint",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "description": "The job resource that represents a print order",
                "properties": {
                  "contact_email": {
                    "description": "Email address that should be contacted if questions regarding the Print-Job arise. Lulu recommends to use the email of a person who is responsible for placing the Print-Job like a developer or business owner.",
                    "format": "email",
                    "type": "string"
                  },
                  "costs": {
                    "description": "Summary of the costs of a Print-Job",
                    "properties": {
                      "line_item_costs": {
                        "description": "Costs for a Print-Job line item",
                        "properties": {
                          "cost_excl_discounts": {
                            "description": "Per unit cost without any discounts applied as a decimal string",
                            "readOnly": true,
                            "type": "string"
                          },
                          "discounts": {
                            "description": "Discounts applied to this line item",
                            "items": {
                              "properties": {
                                "amount": {
                                  "description": "The deducted amount as a decimal string",
                                  "readOnly": true,
                                  "type": "string"
                                },
                                "description": {
                                  "description": "Description of the discount",
                                  "readOnly": true,
                                  "type": "string"
                                }
                              },
                              "required": [
                                "amount",
                                "description"
                              ],
                              "type": "object"
                            },
                            "readOnly": true,
                            "type": "array"
                          },
                          "quantity": {
                            "description": "The quantity of printables to base the calculations on",
                            "format": "int32",
                            "readOnly": true,
                            "type": "number"
                          },
                          "tax_rate": {
                            "description": "The tax rate applied to the line as a decimal string",
                            "readOnly": true,
                            "type": "string"
                          },
                          "total_cost_excl_discounts": {
                            "description": "The total line price without any discounts applied as a decimal string",
                            "readOnly": true,
                            "type": "string"
                          },
                          "total_cost_excl_tax": {
                            "description": "The total line price including discounts excluding tax as a decimal string",
                            "readOnly": true,
                            "type": "string"
                          },
                          "total_cost_incl_tax": {
                            "description": "The total line price including discounts and taxes as a decimal string",
                            "readOnly": true,
                            "type": "string"
                          },
                          "total_tax": {
                            "description": "The total line tax amount as a decimal string",
                            "readOnly": true,
                            "type": "string"
                          },
                          "unit_tier_cost": {
                            "description": "Per unit cost with tier discount applied, null for list price (non-tier) customers",
                            "readOnly": true,
                            "type": "string"
                          }
                        },
                        "required": [
                          "quantity",
                          "cost_excl_discounts",
                          "cost_excl_tax",
                          "tax_rate",
                          "discounts",
                          "total_cost_excl_discounts",
                          "total_tax",
                          "total_cost_excl_tax",
                          "total_cost_incl_tax"
                        ],
                        "type": "object"
                      },
                      "shipping_cost": {
                        "description": "Summary of the shipping costs",
                        "properties": {
                          "tax_rate": {
                            "description": "Tax rate that was applied on shipping costs as a decimal string",
                            "readOnly": true,
                            "type": "string"
                          },
                          "total_cost_excl_tax": {
                            "description": "Total shipping costs excluding taxes as a decimal string",
                            "readOnly": true,
                            "type": "string"
                          },
                          "total_cost_incl_tax": {
                            "description": "Total shipping costs including taxes as a decimal string",
                            "readOnly": true,
                            "type": "string"
                          },
                          "total_tax": {
                            "description": "Total amount of taxes on shipping as a decimal string",
                            "readOnly": true,
                            "type": "string"
                          }
                        },
                        "readOnly": true,
                        "type": "object"
                      },
                      "total_cost_excl_tax": {
                        "description": "Total costs of the job excluding taxes as a decimal string",
                        "readOnly": true,
                        "type": "string"
                      },
                      "total_cost_incl_tax": {
                        "description": "Total costs of the job including taxes as a decimal string",
                        "readOnly": true,
                        "type": "string"
                      },
                      "total_tax": {
                        "description": "Total amount of taxes on the job as a decimal string",
                        "readOnly": true,
                        "type": "string"
                      }
                    },
                    "readOnly": true,
                    "type": "object"
                  },
                  "estimated_shipping_dates": {
                    "description": "The estimated ship and delivery dates for a Print-Job",
                    "properties": {
                      "arrival_max": {
                        "description": "The slowest estimated delivery date for a Print-Job in [ISO 8601](https://en.wikipedia.org/wiki/ISO_8601)) format",
                        "readOnly": true,
                        "type": "string"
                      },
                      "arrival_min": {
                        "description": "The fastest estimated delivery date for a Print-Job in [ISO 8601](https://en.wikipedia.org/wiki/ISO_8601)) format",
                        "readOnly": true,
                        "type": "string"
                      },
                      "dispatch_max": {
                        "description": "The slowest estimated ship date for a Print-Job in [ISO 8601](https://en.wikipedia.org/wiki/ISO_8601)) format",
                        "readOnly": true,
                        "type": "string"
                      },
                      "dispatch_min": {
                        "description": "The fastest estimated ship date for a Print-Job in [ISO 8601](https://en.wikipedia.org/wiki/ISO_8601)) format",
                        "readOnly": true,
                        "type": "string"
                      }
                    },
                    "readOnly": true,
                    "type": "object"
                  },
                  "external_id": {
                    "description": "Arbitrary string to identify and connect a print job to your systems. Set it to an order number, a purchase order or whatever else works for your particular use case.",
                    "type": "string"
                  },
                  "id": {
                    "format": "int64",
                    "readOnly": true,
                    "type": "number"
                  },
                  "line_items": {
                    "description": "The line items of a Print-Job, defining it's Printables and their quantities. The property name 'items' can be used instead.",
                    "items": {
                      "description": "The line item of a Print-Job, defining it's printable and quantity",
                      "properties": {
                        "cover": {
                          "oneOf": [
                            {
                              "properties": {
                                "source_md5_sum": {
                                  "description": "A md5 hash of the source file to check it's integrity",
                                  "type": "string"
                                },
                                "source_url": {
                                  "description": "The url of the source file.",
                                  "type": "string"
                                }
                              },
                              "required": [
                                "source_url"
                              ],
                              "type": "object"
                            },
                            {
                              "description": "The url of the interior source file.",
                              "type": "string",
                              "writeOnly": true
                            }
                          ],
                          "writeOnly": true,
                          "description": "Shorthand of the cover source definition. If used together with 'interior' , it can replace 'printable_normalization', Alternatively to both options, a 'printable_id' of an existing printable can be provided."
                        },
                        "external_id": {
                          "description": "Arbitrary string to identify and connect a print job to your systems. Set it to an order number, a purchase order or whatever else works for your particular use case",
                          "type": "string"
                        },
                        "id": {
                          "format": "int64",
                          "readOnly": true,
                          "type": "number"
                        },
                        "interior": {
                          "oneOf": [
                            {
                              "properties": {
                                "source_md5_sum": {
                                  "description": "A md5 hash of the source file to check it's integrity",
                                  "type": "string"
                                },
                                "source_url": {
                                  "description": "The url of the source file.",
                                  "type": "string"
                                }
                              },
                              "required": [
                                "source_url"
                              ],
                              "type": "object"
                            },
                            {
                              "description": "The url of the interior source file.",
                              "type": "string",
                              "writeOnly": true
                            }
                          ],
                          "writeOnly": true,
                          "description": "Shorthand of the interior source definition. If used together with 'cover' , it can replace 'printable_normalization'. Alternatively to both options, a 'printable_id' of an existing printable can be provided."
                        },
                        "page_count": {
                          "description": "The page count of the printable",
                          "format": "int32",
                          "readOnly": true,
                          "type": "number"
                        },
                        "pod_package_id": {
                          "description": "The id of the PodPackage of the printable of this line item",
                          "maxLength": 27,
                          "type": "string"
                        },
                        "printable_id": {
                          "description": "Id of the Printable of of this line item. It can be used instead of 'printable_normalization' / 'interior' / 'cover'",
                          "format": "uuid",
                          "type": "string"
                        },
                        "printable_normalization": {
                          "description": "Can be omitted if a valid 'printable_id' of an existing printable is provided.",
                          "properties": {
                            "cover": {
                              "properties": {
                                "job_id": {
                                  "description": "The id of the normalization job (either a InteriorNormalizationJob or a CoverNormalizationJob)",
                                  "format": "int32",
                                  "type": "number"
                                },
                                "normalized_file": {
                                  "description": "The resulting normalized file",
                                  "properties": {
                                    "file_id": {
                                      "format": "int64",
                                      "readOnly": true,
                                      "type": "number"
                                    },
                                    "filename": {
                                      "description": "Filename of the normalized file",
                                      "readOnly": true,
                                      "type": "string"
                                    }
                                  },
                                  "readOnly": true,
                                  "type": "object"
                                },
                                "source_md5_sum": {
                                  "description": "A md5 hash of the source file to check it's integrity",
                                  "type": "string"
                                },
                                "source_url": {
                                  "description": "The url of the source file.",
                                  "type": "string"
                                }
                              },
                              "required": [
                                "source_url"
                              ],
                              "type": "object",
                              "description": "Represents the normalization process of the cover source files"
                            },
                            "interior": {
                              "properties": {
                                "job_id": {
                                  "description": "The id of the normalization job (either a InteriorNormalizationJob or a CoverNormalizationJob)",
                                  "format": "int32",
                                  "type": "number"
                                },
                                "normalized_file": {
                                  "description": "The resulting normalized file",
                                  "properties": {
                                    "file_id": {
                                      "format": "int64",
                                      "readOnly": true,
                                      "type": "number"
                                    },
                                    "filename": {
                                      "description": "Filename of the normalized file",
                                      "readOnly": true,
                                      "type": "string"
                                    }
                                  },
                                  "readOnly": true,
                                  "type": "object"
                                },
                                "source_md5_sum": {
                                  "description": "A md5 hash of the source file to check it's integrity",
                                  "type": "string"
                                },
                                "source_url": {
                                  "description": "The url of the source file.",
                                  "type": "string"
                                }
                              },
                              "required": [
                                "source_url"
                              ],
                              "type": "object",
                              "description": "Represents the normalization process of the interior source files"
                            }
                          },
                          "required": [
                            "interior",
                            "cover"
                          ],
                          "type": "object"
                        },
                        "quantity": {
                          "description": "Quantity of printed books for this line item",
                          "format": "int32",
                          "type": "number"
                        },
                        "status": {
                          "default": {
                            "messages": {},
                            "name": "CREATED"
                          },
                          "description": "Status object that contains the actual line item processing status as well as additional status related data",
                          "properties": {
                            "messages": {
                              "description": "A map of status related messages / data",
                              "properties": {
                                "delay": {
                                  "description": "Expected delay in hours for error status'",
                                  "maxLength": 64,
                                  "readOnly": true,
                                  "type": "string"
                                },
                                "error": {
                                  "description": "General status error message",
                                  "readOnly": true,
                                  "type": "string"
                                },
                                "info": {
                                  "description": "General info message on the status",
                                  "readOnly": true,
                                  "type": "string"
                                },
                                "printable_normalization": {
                                  "description": "A map of printable normalization related messages / data",
                                  "properties": {
                                    "cover": {
                                      "description": "Array of messages related to the cover file normalization",
                                      "items": {
                                        "readOnly": true,
                                        "type": "string"
                                      },
                                      "type": "array"
                                    },
                                    "interior": {
                                      "description": "Array of messages related to the interior file normalization",
                                      "items": {
                                        "readOnly": true,
                                        "type": "string"
                                      },
                                      "type": "array"
                                    }
                                  },
                                  "readOnly": true,
                                  "type": "object"
                                },
                                "timestamp": {
                                  "description": "[ISO 8601](https://www.w3.org/TR/NOTE-datetime)) timestamp of last status change",
                                  "maxLength": 64,
                                  "readOnly": true,
                                  "type": "string"
                                },
                                "url": {
                                  "anyOf": [
                                    {
                                      "type": "string"
                                    },
                                    {
                                      "items": {
                                        "type": "string"
                                      },
                                      "type": "array"
                                    }
                                  ],
                                  "description": "Tracking url(s)"
                                }
                              },
                              "readOnly": true,
                              "type": "object"
                            },
                            "name": {
                              "default": "CREATED",
                              "description": "The actual processing status of the Print-Job.",
                              "enum": [
                                "CREATED",
                                "ACCEPTED",
                                "REJECTED",
                                "IN_PRODUCTION",
                                "ERROR",
                                "SHIPPED"
                              ],
                              "type": "string"
                            }
                          },
                          "readOnly": true,
                          "required": [
                            "name"
                          ],
                          "type": "object"
                        },
                        "title": {
                          "description": "The title of the line item. Should be on the cover. This field will become mandatory on October 1, 2019!",
                          "maxLength": 255,
                          "type": "string"
                        },
                        "tracking_id": {
                          "description": "A list of tracking ids for this line item's shipment",
                          "readOnly": true,
                          "type": "string"
                        },
                        "tracking_urls": {
                          "description": "A list of tracking urls for this line item's shipment.",
                          "items": {
                            "type": "string"
                          },
                          "readOnly": true,
                          "type": "array"
                        }
                      },
                      "required": [
                        "id",
                        "status",
                        "quantity"
                      ],
                      "type": "object"
                    },
                    "type": "array"
                  },
                  "order_id": {
                    "description": "Reference to the order, which this PrintJob has created",
                    "readOnly": true,
                    "type": "string"
                  },
                  "production_delay": {
                    "default": 60,
                    "description": "Delay before a newly created Print-Job is sent to production. Minimum is 60 minutes, maximum is 2880 minutes (=48 hours). As most cancellation requests occur right after an order has been placed, it makes sense to wait for some time before sending an order to production. Once production has started, orders cannot be canceled anymore.\n",
                    "format": "int32",
                    "maximum": 2880,
                    "minimum": 60,
                    "type": "integer"
                  },
                  "production_due_time": {
                    "description": "Target timestamp of when this job will move into production ([ISO 8601](https://www.w3.org/TR/NOTE-datetime))",
                    "format": "date-time",
                    "readOnly": true,
                    "type": "string"
                  },
                  "shipping_address": {
                    "description": "The shipping address of the customer.",
                    "properties": {
                      "city": {
                        "type": "string"
                      },
                      "country_code": {
                        "description": "[ISO 3166-2](https://en.wikipedia.org/wiki/ISO_3166-2) country code",
                        "maxLength": 2,
                        "minLength": 2,
                        "type": "string"
                      },
                      "email": {
                        "format": "email",
                        "type": "string",
                        "description": "Shipping carriers require an email address for notifications or handling delivery issues. If no email is given, the default email in the user profile will be used.\n"
                      },
                      "is_business": {
                        "default": false,
                        "description": "Only relevant for US addresses. Some US carriers don't deliver to business-addresses on Saturday.",
                        "type": "boolean"
                      },
                      "name": {
                        "description": "Full name of the person, including first and last name.",
                        "type": "string"
                      },
                      "organization": {
                        "description": "Name of an organization. Required if no person name is given.",
                        "type": "string"
                      },
                      "phone_number": {
                        "description": "Shipping carriers require a phone number for handling delivery issues. If no phone number is given, the default in the API user profile will be used. Validation Regex Pattern for phone numbers `^\\+?[\\d\\s\\-.\\/()]{8,20}$`",
                        "maxLength": 20,
                        "type": "string"
                      },
                      "postcode": {
                        "description": "Required for most countries",
                        "maxLength": 64,
                        "type": "string"
                      },
                      "state_code": {
                        "description": "2 or 3 letter state codes (officially called [ISO-3166-2 subdivision codes](https://en.wikipedia.org/wiki/ISO_3166-2)). They are required for some countries (e.g. US, MX, CA, AU)",
                        "type": "string"
                      },
                      "street1": {
                        "description": "First address line",
                        "type": "string"
                      },
                      "street2": {
                        "description": "Second address line",
                        "type": "string"
                      },
                      "title": {
                        "enum": [
                          "MR",
                          "MISS",
                          "MRS",
                          "MS",
                          "DR"
                        ],
                        "type": "string"
                      },
                      "warnings": {
                        "description": "Warnings found during address validation",
                        "readOnly": true,
                        "type": "array",
                        "items": {
                          "properties": {
                            "type": {
                              "description": "Type of warning",
                              "type": "string",
                              "readOnly": true
                            },
                            "code": {
                              "description": "Warning code which describe what was suggested by validation",
                              "type": "string",
                              "readOnly": true
                            },
                            "path": {
                              "description": "Describes the validation origin of warning",
                              "type": "string",
                              "readOnly": true
                            },
                            "message": {
                              "description": "Warning message with suggested change",
                              "type": "string",
                              "readOnly": true
                            }
                          }
                        }
                      },
                      "suggested_address": {
                        "description": "Suggested address returned by shipping address validation",
                        "readOnly": true,
                        "type": "object",
                        "properties": {
                          "country_code": {
                            "description": "Suggested country code",
                            "type": "string",
                            "readOnly": true
                          },
                          "state_code": {
                            "description": "Suggested state code",
                            "type": "string",
                            "readOnly": true
                          },
                          "postcode": {
                            "description": "Suggested postal code",
                            "type": "string",
                            "readOnly": true
                          },
                          "city": {
                            "description": "Suggested city",
                            "type": "string",
                            "readOnly": true
                          },
                          "street1": {
                            "description": "Suggested first address line",
                            "type": "string",
                            "readOnly": true
                          },
                          "street2": {
                            "description": "Suggested second address line",
                            "type": "string",
                            "readOnly": true
                          }
                        }
                      }
                    },
                    "required": [
                      "name",
                      "street1",
                      "city",
                      "country_code",
                      "postcode",
                      "phone_number",
                      "email"
                    ],
                    "type": "object"
                  },
                  "shipping_level": {
                    "description": "The shipping level that this Print-Job is shipped with",
                    "enum": [
                      "MAIL",
                      "PRIORITY_MAIL",
                      "GROUND_HD",
                      "GROUND_BUS",
                      "GROUND",
                      "EXPEDITED",
                      "EXPRESS"
                    ],
                    "type": "string"
                  },
                  "tax_country": {
                    "description": "[ISO 3166-1 alpha-2](https://en.wikipedia.org/wiki/ISO_3166-1_alpha-2) country code of the tax country determined for this job",
                    "maxLength": 2,
                    "readOnly": true,
                    "type": "string"
                  }
                },
                "required": [
                  "id",
                  "status",
                  "line_items",
                  "shipping_address",
                  "contact_email",
                  "shipping_level"
                ],
                "type": "object",
                "example": {
                  "contact_email": "test@test.com",
                  "external_id": "demo-time",
                  "line_items": [
                    {
                      "external_id": "item-reference-1",
                      "printable_normalization": {
                        "cover": {
                          "source_url": "https://www.dropbox.com/s/7bv6mg2tj0h3l0r/lulu_trade_perfect_template.pdf?dl=1&raw=1"
                        },
                        "interior": {
                          "source_url": "https://www.dropbox.com/s/r20orb8umqjzav9/lulu_trade_interior_template-32.pdf?dl=1&raw=1"
                        },
                        "pod_package_id": "0600X0900BWSTDPB060UW444MXX"
                      },
                      "quantity": 30,
                      "title": "My Book"
                    }
                  ],
                  "production_delay": 120,
                  "shipping_address": {
                    "city": "Lübeck",
                    "country_code": "GB",
                    "name": "Hans Dampf",
                    "phone_number": "844-212-0689",
                    "postcode": "PO1 3AX",
                    "state_code": "",
                    "street1": "Holstenstr. 48"
                  },
                  "shipping_level": "MAIL"
                }
              },
              "example": {
                "contact_email": "test@test.com",
                "external_id": "demo-time",
                "line_items": [
                  {
                    "external_id": "item-reference-1",
                    "printable_id": "11606ab3-9355-46d3-ae90-338db6f5d271",
                    "quantity": 30,
                    "title": "My Book"
                  }
                ],
                "production_delay": 120,
                "shipping_address": {
                  "city": "Lübeck",
                  "country_code": "GB",
                  "name": "Hans Dampf",
                  "phone_number": "844-212-0689",
                  "postcode": "PO1 3AX",
                  "state_code": "",
                  "street1": "Holstenstr. 48"
                },
                "shipping_level": "MAIL"
              }
            }
          }
        },
        "responses": {
          "201": {
            "content": {
              "application/json": {
                "schema": {
                  "description": "The job resource that represents a print order",
                  "properties": {
                    "contact_email": {
                      "description": "Email address that should be contacted if questions regarding the Print-Job arise. Lulu recommends to use the email of a person who is responsible for placing the Print-Job like a developer or business owner.\n",
                      "format": "email",
                      "type": "string"
                    },
                    "costs": {
                      "description": "Summary of the costs of a Print-Job",
                      "properties": {
                        "line_item_costs": {
                          "description": "Costs for a Print-Job line item",
                          "properties": {
                            "cost_excl_discounts": {
                              "description": "Per unit cost without any discounts applied as a decimal string",
                              "readOnly": true,
                              "type": "string"
                            },
                            "discounts": {
                              "description": "Discounts applied to this line item",
                              "items": {
                                "properties": {
                                  "amount": {
                                    "description": "The deducted amount as a decimal string",
                                    "readOnly": true,
                                    "type": "string"
                                  },
                                  "description": {
                                    "description": "Description of the discount",
                                    "readOnly": true,
                                    "type": "string"
                                  }
                                },
                                "required": [
                                  "amount",
                                  "description"
                                ],
                                "type": "object"
                              },
                              "readOnly": true,
                              "type": "array"
                            },
                            "quantity": {
                              "description": "The quantity of printables to base the calculations on",
                              "format": "int32",
                              "readOnly": true,
                              "type": "number"
                            },
                            "tax_rate": {
                              "description": "The tax rate applied to the line as a decimal string",
                              "readOnly": true,
                              "type": "string"
                            },
                            "total_cost_excl_discounts": {
                              "description": "The total line price without any discounts applied as a decimal string",
                              "readOnly": true,
                              "type": "string"
                            },
                            "total_cost_excl_tax": {
                              "description": "The total line price including discounts excluding tax as a decimal string",
                              "readOnly": true,
                              "type": "string"
                            },
                            "total_cost_incl_tax": {
                              "description": "The total line price including discounts and taxes as a decimal string",
                              "readOnly": true,
                              "type": "string"
                            },
                            "total_tax": {
                              "description": "The total line tax amount as a decimal string",
                              "readOnly": true,
                              "type": "string"
                            },
                            "unit_tier_cost": {
                              "description": "Per unit cost with tier discount applied, null for list price (non-tier) customers",
                              "readOnly": true,
                              "type": "string"
                            }
                          },
                          "required": [
                            "quantity",
                            "cost_excl_discounts",
                            "cost_excl_tax",
                            "tax_rate",
                            "discounts",
                            "total_cost_excl_discounts",
                            "total_tax",
                            "total_cost_excl_tax",
                            "total_cost_incl_tax"
                          ],
                          "type": "object"
                        },
                        "shipping_cost": {
                          "description": "Summary of the shipping costs",
                          "properties": {
                            "tax_rate": {
                              "description": "Tax rate that was applied on shipping costs as a decimal string",
                              "readOnly": true,
                              "type": "string"
                            },
                            "total_cost_excl_tax": {
                              "description": "Total shipping costs excluding taxes as a decimal string",
                              "readOnly": true,
                              "type": "string"
                            },
                            "total_cost_incl_tax": {
                              "description": "Total shipping costs including taxes as a decimal string",
                              "readOnly": true,
                              "type": "string"
                            },
                            "total_tax": {
                              "description": "Total amount of taxes on shipping as a decimal string",
                              "readOnly": true,
                              "type": "string"
                            }
                          },
                          "readOnly": true,
                          "type": "object"
                        },
                        "total_cost_excl_tax": {
                          "description": "Total costs of the job excluding taxes as a decimal string",
                          "readOnly": true,
                          "type": "string"
                        },
                        "total_cost_incl_tax": {
                          "description": "Total costs of the job including taxes as a decimal string",
                          "readOnly": true,
                          "type": "string"
                        },
                        "total_tax": {
                          "description": "Total amount of taxes on the job as a decimal string",
                          "readOnly": true,
                          "type": "string"
                        }
                      },
                      "readOnly": true,
                      "type": "object"
                    },
                    "estimated_shipping_dates": {
                      "description": "The estimated ship and delivery dates for a Print-Job",
                      "properties": {
                        "arrival_max": {
                          "description": "The slowest estimated delivery date for a Print-Job in [ISO 8601](https://en.wikipedia.org/wiki/ISO_8601)) format",
                          "readOnly": true,
                          "type": "string"
                        },
                        "arrival_min": {
                          "description": "The fastest estimated delivery date for a Print-Job in [ISO 8601](https://en.wikipedia.org/wiki/ISO_8601)) format",
                          "readOnly": true,
                          "type": "string"
                        },
                        "dispatch_max": {
                          "description": "The slowest estimated ship date for a Print-Job in [ISO 8601](https://en.wikipedia.org/wiki/ISO_8601)) format",
                          "readOnly": true,
                          "type": "string"
                        },
                        "dispatch_min": {
                          "description": "The fastest estimated ship date for a Print-Job in [ISO 8601](https://en.wikipedia.org/wiki/ISO_8601)) format",
                          "readOnly": true,
                          "type": "string"
                        }
                      },
                      "readOnly": true,
                      "type": "object"
                    },
                    "external_id": {
                      "description": "Arbitrary string to identify and connect a print job to your systems. Set it to an order number, a purchase order or whatever else works for your particular use case.",
                      "type": "string"
                    },
                    "id": {
                      "format": "int64",
                      "readOnly": true,
                      "type": "number"
                    },
                    "line_items": {
                      "description": "The line items of a Print-Job, defining it's Printables and their quantities. The property name 'items' can be used instead.",
                      "items": {
                        "description": "The line item of a Print-Job, defining it's printable and quantity",
                        "properties": {
                          "cover": {
                            "oneOf": [
                              {
                                "properties": {
                                  "source_md5_sum": {
                                    "description": "A md5 hash of the source file to check it's integrity",
                                    "type": "string"
                                  },
                                  "source_url": {
                                    "description": "The url of the source file.",
                                    "type": "string"
                                  }
                                },
                                "required": [
                                  "source_url"
                                ],
                                "type": "object"
                              },
                              {
[...]
