{
  "openapi": "3.0.0",
  "info": {
    "title": "Zoho Expense API",
    "version": "v1",
    "contact": {
      "name": "API Support"
    },
    "description": "Zoho Expense API - OpenAPI Specification"
  },
  "servers": [
    {
      "url": "https://www.zohoapis.com/expense/v1"
    }
  ],
  "paths": {
    "/settings/currencies": {
      "post": {
        "tags": [
          "currencies"
        ],
        "operationId": "create_currency",
        "summary": "Create a currency",
        "description": "Create a currency.",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/create-a-currency-request"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Created",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/create-a-currency-response"
                }
              }
            }
          }
        },
        "deprecated": false,
        "security": [
          {
            "Zoho_Auth": [
              "ZohoExpense.currency.CREATE"
            ]
          }
        ]
      },
      "get": {
        "tags": [
          "currencies"
        ],
        "operationId": "list_currencies",
        "summary": "Retrieve list of currencies",
        "description": "Details of all existing currencies.",
        "parameters": [
          {
            "name": "page",
            "in": "query",
            "description": "Page number to be fetched. Default value is 1.",
            "required": false,
            "schema": {
              "type": "integer",
              "default": 1
            },
            "example": 1
          },
          {
            "name": "per_page",
            "in": "query",
            "description": "Number of records to be fetched per page. Default value is 200.",
            "required": false,
            "schema": {
              "type": "integer",
              "default": 200
            },
            "example": 200
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/retrieve-list-of-currencies-response"
                }
              }
            }
          }
        },
        "deprecated": false,
        "security": [
          {
            "Zoho_Auth": [
              "ZohoExpense.currency.READ"
            ]
          }
        ]
      },
      "parameters": [
        {
          "$ref": "#/components/parameters/organization_id"
        }
      ]
    },
    "/settings/currencies/{currency_id}": {
      "get": {
        "tags": [
          "currencies"
        ],
        "operationId": "get_currency",
        "summary": "Retrieve details of a currency",
        "description": "Details of an existing currency.",
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/retrieve-details-of-a-currency-response"
                }
              }
            }
          }
        },
        "deprecated": false,
        "security": [
          {
            "Zoho_Auth": [
              "ZohoExpense.expense.READ"
            ]
          }
        ]
      },
      "put": {
        "tags": [
          "currencies"
        ],
        "operationId": "update_currency",
        "summary": "Update details of a currency",
        "description": "Update the details of an existing currency.",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/update-details-of-a-currency-request"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/update-details-of-a-currency-response"
                }
              }
            }
          }
        },
        "deprecated": false,
        "security": [
          {
            "Zoho_Auth": [
              "ZohoExpense.currency.UPDATE"
            ]
          }
        ]
      },
      "delete": {
        "tags": [
          "currencies"
        ],
        "operationId": "delete_currency",
        "summary": "Delete a currency",
        "description": "Delete an existing currency.",
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/delete-a-currency-response"
                }
              }
            }
          }
        },
        "deprecated": false,
        "security": [
          {
            "Zoho_Auth": [
              "ZohoExpense.currency.DELETE"
            ]
          }
        ]
      },
      "parameters": [
        {
          "name": "currency_id",
          "in": "path",
          "required": true,
          "description": "Unique identifier of the currency.",
          "schema": {
            "type": "string"
          },
          "example": "16367000000000097"
        },
        {
          "$ref": "#/components/parameters/organization_id"
        }
      ]
    },
    "/contacts": {
      "post": {
        "tags": [
          "customers"
        ],
        "operationId": "create_customer",
        "summary": "Create a customer",
        "description": "Create a new customer.",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/create-a-customer-request"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Created",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/create-a-customer-response"
                }
              }
            }
          }
        },
        "deprecated": false,
        "security": [
          {
            "Zoho_Auth": [
              "ZohoExpense.contacts.CREATE"
            ]
          }
        ]
      },
      "get": {
        "tags": [
          "customers"
        ],
        "operationId": "list_customers",
        "summary": "List of all customers",
        "description": "List of all customers.",
        "parameters": [
          {
            "name": "page",
            "in": "query",
            "description": "Page number to be fetched. Default value is 1.",
            "required": false,
            "schema": {
              "type": "integer",
              "default": 1
            },
            "example": 1
          },
          {
            "name": "per_page",
            "in": "query",
            "description": "Number of records to be fetched per page. Default value is 200.",
            "required": false,
            "schema": {
              "type": "integer",
              "default": 200
            },
            "example": 200
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/list-of-all-customers-response"
                }
              }
            }
          }
        },
        "deprecated": false,
        "security": [
          {
            "Zoho_Auth": [
              "ZohoExpense.customer.READ"
            ]
          }
        ]
      },
      "parameters": [
        {
          "$ref": "#/components/parameters/organization_id"
        }
      ]
    },
    "/contacts/{customer_id}": {
      "get": {
        "tags": [
          "customers"
        ],
        "operationId": "get_customer",
        "summary": "Retrieve details of a customer",
        "description": "Details of an existing customer.",
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/retrieve-details-of-a-customer-response"
                }
              }
            }
          }
        },
        "deprecated": false,
        "security": [
          {
            "Zoho_Auth": [
              "ZohoExpense.customer.READ"
            ]
          }
        ]
      },
      "put": {
        "tags": [
          "customers"
        ],
        "operationId": "update_customer",
        "summary": "Update a customer",
        "description": "Update the details of an existing customer.",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/update-a-customer-request"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/update-a-customer-response"
                }
              }
            }
          }
        },
        "deprecated": false,
        "security": [
          {
            "Zoho_Auth": [
              "ZohoExpense.customer.UPDATE"
            ]
          }
        ]
      },
      "delete": {
        "tags": [
          "customers"
        ],
        "operationId": "delete_customer",
        "summary": "Delete a customer",
        "description": "Delete an existing customer.",
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/delete-a-customer-response"
                }
              }
            }
          }
        },
        "deprecated": false,
        "security": [
          {
            "Zoho_Auth": [
              "ZohoExpense.contacts.DELETE"
            ]
          }
        ]
      },
      "parameters": [
        {
          "name": "customer_id",
          "in": "path",
          "required": true,
          "description": "Unique identifier of the customer.",
          "schema": {
            "type": "string"
          },
          "example": "16367000000096001"
        },
        {
          "$ref": "#/components/parameters/organization_id"
        }
      ]
    },
    "/expensecategories": {
      "post": {
        "tags": [
          "expense-categories"
        ],
        "operationId": "create_expense_category",
        "summary": "Create an expense category",
        "description": "Create a new expense category.",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/create-an-expense-category-request"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Created",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/create-an-expense-category-response"
                }
              }
            }
          }
        },
        "deprecated": false,
        "security": [
          {
            "Zoho_Auth": [
              "ZohoExpense.expensecategory.CREATE"
            ]
          }
        ]
      },
      "get": {
        "tags": [
          "expense-categories"
        ],
        "operationId": "list_expense_categories",
        "summary": "List of expense categories",
        "description": "List of all active expense categories.",
        "parameters": [
          {
            "name": "filter_by",
            "in": "query",
            "description": "For filtering Expense Categories based on Status.",
            "required": false,
            "schema": {
              "type": "object",
              "properties": {
                "Status.Inactive": {
                  "$ref": "#/components/schemas/Status.Inactive"
                },
                "Status.All": {
                  "$ref": "#/components/schemas/Status.All"
                }
              }
            },
            "example": ""
          },
          {
            "name": "page",
            "in": "query",
            "description": "Page number to be fetched. Default value is 1.",
            "required": false,
            "schema": {
              "type": "integer",
              "default": 1
            },
            "example": 1
          },
          {
            "name": "per_page",
            "in": "query",
            "description": "Number of records to be fetched per page. Default value is 200.",
            "required": false,
            "schema": {
              "type": "integer",
              "default": 200
            },
            "example": 200
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/list-of-expense-categories-response"
                }
              }
            }
          }
        },
        "deprecated": false,
        "security": [
          {
            "Zoho_Auth": [
              "ZohoExpense.expensecategory.READ"
            ]
          }
        ]
      },
      "parameters": [
        {
          "$ref": "#/components/parameters/organization_id"
        }
      ]
    },
    "/expensecategories/{expense_category_id}": {
      "get": {
        "tags": [
          "expense-categories"
        ],
        "operationId": "get_expense_category",
        "summary": "Retrieve details of an expense category",
        "description": "Details of an existing expense category.",
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/retrieve-details-of-an-expense-category-response"
                }
              }
            }
          }
        },
        "deprecated": false,
        "security": [
          {
            "Zoho_Auth": [
              "ZohoExpense.expensecategory.READ"
            ]
          }
        ]
      },
      "put": {
        "tags": [
          "expense-categories"
        ],
        "operationId": "update_expense_category",
        "summary": "Update an expense category",
        "description": "Update the details of an existing expense category.",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/update-an-expense-category-request"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/update-an-expense-category-response"
                }
              }
            }
          }
        },
        "deprecated": false,
        "security": [
          {
            "Zoho_Auth": [
              "ZohoExpense.expensecategory.UPDATE"
            ]
          }
        ]
      },
      "delete": {
        "tags": [
          "expense-categories"
        ],
        "operationId": "delete_expense_category",
        "summary": "Delete an expense category",
        "description": "Delete an existing expense category.",
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/delete-an-expense-category-response"
                }
              }
            }
          }
        },
        "deprecated": false,
        "security": [
          {
            "Zoho_Auth": [
              "ZohoExpense.expensecategory.DELETE"
            ]
          }
        ]
      },
      "parameters": [
        {
          "name": "expense_category_id",
          "in": "path",
          "required": true,
          "description": "Unique identifier of the expense category.",
          "schema": {
            "type": "string"
          },
          "example": "16367000000000418"
        },
        {
          "$ref": "#/components/parameters/organization_id"
        }
      ]
    },
    "/expensecategories/{expense_category_id}/show": {
      "post": {
        "tags": [
          "expense-categories"
        ],
        "operationId": "enable_expense_category",
        "summary": "Enable an expense category",
        "description": "Enable an expense category.",
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/enable-an-expense-category-response"
                }
              }
            }
          }
        },
        "deprecated": false,
        "security": [
          {
            "Zoho_Auth": [
              "ZohoExpense.expensecategory.CREATE"
            ]
          }
        ]
      },
      "parameters": [
        {
          "name": "expense_category_id",
          "in": "path",
          "required": true,
          "description": "Unique identifier of the expense category.",
          "schema": {
            "type": "string"
          },
          "example": "16367000000000418"
        },
        {
          "$ref": "#/components/parameters/organization_id"
        }
      ]
    },
    "/expensecategories/{expense_category_id}/hide": {
      "post": {
        "tags": [
          "expense-categories"
        ],
        "operationId": "disable_expense_category",
        "summary": "Disable an expense category",
        "description": "Disable an expense category.",
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/disable-an-expense-category-response"
                }
              }
            }
          }
        },
        "deprecated": false,
        "security": [
          {
            "Zoho_Auth": [
              "ZohoExpense.expensecategory.CREATE"
            ]
          }
        ]
      },
      "parameters": [
        {
          "name": "expense_category_id",
          "in": "path",
          "required": true,
          "description": "Unique identifier of the expense category.",
          "schema": {
            "type": "string"
          },
          "example": "16367000000000418"
        },
        {
          "$ref": "#/components/parameters/organization_id"
        }
      ]
    },
    "/expensereports": {
      "post": {
        "tags": [
          "expense-reports"
        ],
        "operationId": "create_expense_report",
        "summary": "Create an expense report",
        "description": "Create a new expense report.",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/create-an-expense-report-request"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Created",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/create-an-expense-report-response"
                }
              }
            }
          }
        },
        "deprecated": false,
        "security": [
          {
            "Zoho_Auth": [
              "ZohoExpense.expensereport.CREATE"
            ]
          }
        ]
      },
      "get": {
        "tags": [
          "expense-reports"
        ],
        "operationId": "list_expense_reports",
        "summary": "List of all expense reports",
        "description": "List of all the submitted expense reports.",
        "parameters": [
          {
            "name": "filter_by",
            "in": "query",
            "description": "For Filtering Expense Reports based on status.",
            "required": false,
            "schema": {
              "type": "string",
              "enum": [
                "Status.All",
                "Status.Submitted",
                "Status.Draft",
                "Status.TakenBack",
                "Status.SendBack",
                "Status.Approved",
                "Status.Rejected",
                "Status.ApprovalInProgress",
                "Status.Reimbursed",
                "Status.Archived",
                "Status.OverDue",
                "Status.Unsubmitted",
                "Status.ModifiableReports",
                "Status.Exported",
                "Status.Unexported",
                "Type.Approval",
                "Type.Report",
                "Type.MyApproval",
                "Type.SharedReport",
                "Type.QBO",
                "Type.QBD",
                "FDStatus.NotRun",
                "FDStatus.Completed"
              ]
            },
            "example": "Type.Approval,Status.Submitted"
          },
          {
            "name": "page",
            "in": "query",
            "description": "Page number to be fetched. Default value is 1.",
            "required": false,
            "schema": {
              "type": "integer",
              "default": 1
            },
            "example": 1
          },
          {
            "name": "per_page",
            "in": "query",
            "description": "Number of records to be fetched per page. Default value is 200.",
            "required": false,
            "schema": {
              "type": "integer",
              "default": 200
            },
            "example": 200
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/list-of-all-expense-reports-response"
                }
              }
            }
          }
        },
        "deprecated": false,
        "security": [
          {
            "Zoho_Auth": [
              "ZohoExpense.expensereport.READ"
            ]
          }
        ]
      },
      "parameters": [
        {
          "$ref": "#/components/parameters/organization_id"
        }
      ]
    },
    "/expensereports/{expense_report_id}": {
      "get": {
        "tags": [
          "expense-reports"
        ],
        "operationId": "get_expense_report",
        "summary": "Retrieve details of an expense report",
        "description": "Details of an existing expense report.",
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/retrieve-details-of-an-expense-report-response"
                }
              }
            }
          }
        },
        "deprecated": false,
        "security": [
          {
            "Zoho_Auth": [
              "ZohoExpense.expensereport.READ"
            ]
          }
        ]
      },
      "put": {
        "tags": [
          "expense-reports"
        ],
        "operationId": "update_expense_report",
        "summary": "Update an expense report",
        "description": "Update the details of an expense report.",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/update-an-expense-report-request"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/update-an-expense-report-response"
                }
              }
            }
          }
        },
        "deprecated": false,
        "security": [
          {
            "Zoho_Auth": [
              "ZohoExpense.expensereport.UPDATE"
            ]
          }
        ]
      },
      "parameters": [
        {
          "name": "expense_report_id",
          "in": "path",
          "required": true,
          "description": "Unique identifier of the expense report.",
          "schema": {
            "type": "string"
          },
          "example": "16367000000081005"
        },
        {
          "$ref": "#/components/parameters/organization_id"
        }
      ]
    },
    "/expensereports/{expense_report_id}/approve": {
      "post": {
        "tags": [
          "expense-reports"
        ],
        "operationId": "approve_expense_report",
        "summary": "Approve an expense report",
        "description": "Approve an expense report.",
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/approve-an-expense-report-response"
                }
              }
            }
          }
        },
        "deprecated": false,
        "security": [
          {
            "Zoho_Auth": [
              "ZohoExpense.approval.CREATE"
            ]
          }
        ]
      },
      "parameters": [
        {
          "name": "expense_report_id",
          "in": "path",
          "required": true,
          "description": "Unique identifier of the expense report.",
          "schema": {
            "type": "string"
          },
          "example": "16367000000081005"
        },
        {
          "$ref": "#/components/parameters/organization_id"
        }
      ]
    },
    "/expensereports/{expense_report_id}/reject": {
      "post": {
        "tags": [
          "expense-reports"
        ],
        "operationId": "reject_expense_report",
        "summary": "Reject an expense report",
        "description": "Reject an expense report.",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/reject-an-expense-report-request"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/reject-an-expense-report-response"
                }
              }
            }
          }
        },
        "deprecated": false,
        "security": [
          {
            "Zoho_Auth": [
              "ZohoExpense.approval.CREATE"
            ]
          }
        ]
      },
      "parameters": [
        {
          "name": "expense_report_id",
          "in": "path",
          "required": true,
          "description": "Unique identifier of the expense report.",
          "schema": {
            "type": "string"
          },
          "example": "16367000000081005"
        },
        {
          "$ref": "#/components/parameters/organization_id"
        }
      ]
    },
    "/expensereports/{expense_report_id}/reimburse": {
      "post": {
        "tags": [
          "expense-reports"
        ],
        "operationId": "reimburse_expense_report",
        "summary": "Reimburse an expense report",
        "description": "Reimburse an expense report.",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/reimburse-an-expense-report-request"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/reimburse-an-expense-report-response"
                }
              }
            }
          }
        },
        "deprecated": false,
        "security": [
          {
            "Zoho_Auth": [
              "ZohoExpense.reimbursement.CREATE"
            ]
          }
        ]
      },
      "parameters": [
        {
          "name": "expense_report_id",
          "in": "path",
          "required": true,
          "description": "Unique identifier of the expense report.",
          "schema": {
            "type": "string"
          },
          "example": "16367000000081005"
        },
        {
          "$ref": "#/components/parameters/organization_id"
        }
      ]
    },
    "/expensereports/{expense_report_id}/approvalhistory": {
      "get": {
        "tags": [
          "expense-reports"
        ],
        "operationId": "approval_history_expense_report",
        "summary": "Approval history of an expense report",
        "description": "Approval history of an expense report.",
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/approval-history-of-an-expense-report-response"
                }
              }
            }
          }
        },
        "deprecated": false,
        "security": [
          {
            "Zoho_Auth": [
              "ZohoExpense.expensereport.READ"
            ]
          }
        ]
      },
      "parameters": [
        {
          "name": "expense_report_id",
          "in": "path",
          "required": true,
          "description": "Unique identifier of the expense report.",
          "schema": {
            "type": "string"
          },
          "example": "16367000000081005"
        },
        {
          "$ref": "#/components/parameters/organization_id"
        }
      ]
    },
    "/expenses": {
      "post": {
        "tags": [
          "receipts"
        ],
        "operationId": "create_upload_receipts",
        "summary": "Upload Receipts",
        "description": "<p>Upload receipts for autoscanning.</p>",
        "requestBody": {
          "content": {
            "multipart/form-data": {
              "schema": {
                "$ref": "#/components/schemas/upload-receipts-request"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/upload-receipts-response"
                }
              }
            }
          }
        },
        "deprecated": false,
        "security": [
          {
            "Zoho_Auth": [
              "ZohoExpense.expense.CREATE"
            ]
          }
        ]
      },
      "parameters": [
        {
          "$ref": "#/components/parameters/organization_id"
        }
      ]
    },
    "/reports/expensedetails": {
      "get": {
        "tags": [
          "expenses"
        ],
        "operationId": "list_expenses",
        "summary": "List all expenses",
        "description": "List of all existing expenses.",
        "parameters": [
          {
            "name": "status",
            "in": "query",
            "description": "Status of the expense report with which the expense is associated.",
            "required": false,
            "schema": {
              "type": "string"
            },
            "example": "submitted"
          },
          {
            "name": "date_start",
            "in": "query",
            "description": "Starting Date",
            "required": false,
            "schema": {
              "type": "string"
            },
            "example": "2015-12-31"
          },
          {
            "name": "date_end",
            "in": "query",
            "description": "Ending Date",
            "required": false,
            "schema": {
              "type": "string"
            },
            "example": "2016-01-31"
          },
          {
            "name": "user_id",
            "in": "query",
            "description": "Unique ID for user.",
            "required": false,
            "schema": {
              "type": "integer",
              "format": "int64"
            },
            "example": "27927000001331015"
          },
          {
            "name": "category_id",
            "in": "query",
            "description": "Unique ID for expense category.",
            "required": false,
            "schema": {
              "type": "integer",
              "format": "int64"
            },
            "example": "16367000000000400"
          },
          {
            "name": "merchant_id",
            "in": "query",
            "description": "Unique ID for merchant.",
            "required": false,
            "schema": {
              "type": "integer",
              "format": "int64"
            },
            "example": "16367000000074027"
          },
          {
            "name": "customer_id",
            "in": "query",
            "description": "Unique ID for the customer.",
            "required": false,
            "schema": {
              "type": "integer",
              "format": "int64"
            },
            "example": "27927000000075081"
          },
          {
            "name": "project_id",
            "in": "query",
            "description": "Unique ID for the project.",
            "required": false,
            "schema": {
              "type": "integer",
              "format": "int64"
            },
            "example": "27927000001243001"
          },
          {
            "name": "page",
            "in": "query",
            "description": "Page number to be fetched. Default value is 1.",
            "required": false,
            "schema": {
              "type": "integer",
              "default": 1
            },
            "example": 1
          },
          {
            "name": "per_page",
            "in": "query",
            "description": "Number of records to be fetched per page. Default value is 200.",
            "required": false,
            "schema": {
              "type": "integer",
              "default": 200
            },
            "example": 200
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/list-all-expenses-response"
                }
              }
            }
          }
        },
        "deprecated": false,
        "security": [
          {
            "Zoho_Auth": [
              "ZohoExpense.expense.READ"
            ]
          }
        ]
      },
      "parameters": [
        {
          "$ref": "#/components/parameters/organization_id"
        }
      ]
    },
    "/expenses/{expense_id}": {
      "put": {
        "tags": [
          "expenses"
        ],
        "operationId": "update_expense",
        "summary": "Update an expense",
        "description": "Update the details of an expense.",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/update-an-expense-request"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/update-an-expense-response"
                }
              }
            }
          }
        },
        "deprecated": false,
        "security": [
          {
            "Zoho_Auth": [
              "ZohoExpense.expense.UPDATE"
            ]
          }
        ]
      },
      "parameters": [
        {
          "name": "expense_id",
          "in": "path",
          "required": true,
          "description": "Unique identifier of the expense.",
          "schema": {
            "type": "string"
          },
          "example": "16367000000083065"
        },
        {
          "$ref": "#/components/parameters/organization_id"
        }
      ]
    },
    "/expenses/{expense_id}/merge": {
      "post": {
        "tags": [
          "expenses"
        ],
        "operationId": "merge_expenses",
        "summary": "Merge expenses",
        "description": "Merge multiple expenses.",
        "parameters": [
          {
            "name": "duplicate_expense_id",
            "description": "Unique ID of the expense to be merged.",
            "in": "query",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            },
            "example": "16367000000083070"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/merge-expenses-response"
                }
              }
            }
          }
        },
        "deprecated": false,
        "security": [
          {
            "Zoho_Auth": [
              "ZohoExpense.expense.CREATE"
            ]
          }
        ]
      },
      "parameters": [
        {
          "name": "expense_id",
          "in": "path",
          "required": true,
          "description": "Unique identifier of the expense.",
          "schema": {
            "type": "string"
          },
          "example": "16367000000083065"
        },
        {
          "$ref": "#/components/parameters/organization_id"
        }
      ]
    },
    "/organizations": {
      "post": {
        "tags": [
          "organizations"
        ],
        "operationId": "create_organization",
        "summary": "Create an organization",
        "description": "Create an organization.",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/create-an-organization-request"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Created",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/create-an-organization-response"
                }
              }
            }
          }
        },
        "deprecated": false,
        "security": [
          {
            "Zoho_Auth": [
              "ZohoExpense.orgsettings.CREATE"
            ]
          }
        ]
      },
      "get": {
        "tags": [
          "organizations"
        ],
        "operationId": "list_organizations",
        "summary": "List organizations",
        "description": "Get the list of organizations.",
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/list-organizations-response"
                }
              }
            }
          }
        },
        "deprecated": false,
        "security": [
          {
            "Zoho_Auth": [
              "ZohoExpense.orgsettings.READ"
            ]
          }
        ]
      }
    },
    "/organizations/{organization_id}": {
      "put": {
        "tags": [
          "organizations"
        ],
        "operationId": "update_organization",
        "summary": "Update an organization",
        "description": "Update the details of an organization.",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/update-an-organization-request"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/update-an-organization-response"
                }
              }
            }
          }
        },
        "deprecated": false,
        "security": [
          {
            "Zoho_Auth": [
              "ZohoExpense.orgsettings.UPDATE"
            ]
          }
        ]
      },
      "get": {
        "tags": [
          "organizations"
        ],
        "operationId": "get_organization",
        "summary": "Get an organization",
        "description": "Get the details of an organization.",
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/get-an-organization-response"
                }
              }
            }
          }
        },
        "deprecated": false,
        "security": [
          {
            "Zoho_Auth": [
              "ZohoExpense.orgsettings.READ"
            ]
          }
        ]
      },
      "parameters": [
        {
          "name": "organization_id",
          "in": "path",
          "schema": {
            "type": "string"
          },
          "required": true,
          "description": "Unique identifier of the organization.",
          "example": "10229182"
        }
      ]
    },
    "/projects": {
      "post": {
        "tags": [
          "projects"
        ],
        "operationId": "create_project",
        "summary": "Create a project",
        "description": "Create a new project.",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/create-a-project-request"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Created",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/create-a-project-response"
                }
              }
            }
          }
        },
        "deprecated": false,
        "security": [
          {
            "Zoho_Auth": [
              "ZohoExpense.project.CREATE"
            ]
          }
        ]
      },
      "get": {
        "tags": [
          "projects"
        ],
        "operationId": "list_projects",
        "summary": "List of all projects",
        "description": "List of all projects.",
        "parameters": [
          {
            "name": "page",
            "in": "query",
            "description": "Page number to be fetched. Default value is 1.",
            "required": false,
            "schema": {
              "type": "integer",
              "default": 1
            },
            "example": 1
          },
          {
            "name": "per_page",
            "in": "query",
            "description": "Number of records to be fetched per page. Default value is 200.",
            "required": false,
            "schema": {
              "type": "integer",
              "default": 200
            },
            "example": 200
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/list-of-all-projects-response"
                }
              }
            }
          }
        },
        "deprecated": false,
        "security": [
          {
            "Zoho_Auth": [
              "ZohoExpense.project.READ"
            ]
          }
        ]
      },
      "parameters": [
        {
          "$ref": "#/components/parameters/organization_id"
        }
      ]
    },
    "/projects/{project_id}": {
      "get": {
        "tags": [
          "projects"
        ],
        "operationId": "get_project",
        "summary": "Retrieve details of a project",
        "description": "Details of an existing project.",
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/retrieve-details-of-a-project-response"
                }
              }
            }
          }
        },
        "deprecated": false,
        "security": [
          {
            "Zoho_Auth": [
              "ZohoExpense.project.READ"
            ]
          }
        ]
      },
      "put": {
        "tags": [
          "projects"
        ],
        "operationId": "update_project",
        "summary": "Update the details of a project",
        "description": "Update the details of an existing project.",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/update-the-details-of-a-project-request"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/update-the-details-of-a-project-response"
                }
              }
            }
          }
        },
        "deprecated": false,
        "security": [
          {
            "Zoho_Auth": [
              "ZohoExpense.project.UPDATE"
            ]
          }
        ]
      },
      "delete": {
        "tags": [
          "projects"
        ],
        "operationId": "delete_project",
        "summary": "Delete a project",
        "description": "Delete an existing project.",
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/delete-a-project-response"
                }
              }
            }
          }
        },
        "deprecated": false,
        "security": [
          {
            "Zoho_Auth": [
              "ZohoExpense.project.DELETE"
            ]
          }
        ]
      },
      "parameters": [
        {
          "name": "project_id",
          "in": "path",
          "required": true,
          "description": "Unique identifier of the project.",
          "schema": {
            "type": "string"
          },
          "example": "16367000000096055"
        },
        {
          "$ref": "#/components/parameters/organization_id"
        }
      ]
    },
    "/projects/{project_id}/active": {
      "post": {
        "tags": [
          "projects"
        ],
        "operationId": "activate_project",
        "summary": "Make a project active",
        "description": "Mark a project as active.",
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/make-a-project-active-response"
                }
              }
            }
          }
        },
        "deprecated": false,
        "security": [
          {
            "Zoho_Auth": [
              "ZohoExpense.project.CREATE"
            ]
          }
        ]
      },
      "parameters": [
        {
          "name": "project_id",
          "in": "path",
          "required": true,
          "description": "Unique identifier of the project.",
          "schema": {
            "type": "string"
          },
          "example": "16367000000096055"
        },
        {
          "$ref": "#/components/parameters/organization_id"
        }
      ]
    },
    "/projects/{project_id}/inactive": {
      "post": {
        "tags": [
          "projects"
        ],
        "operationId": "deactivate_project",
        "summary": "Make a project inactive",
        "description": "Mark a project as inactive.",
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/make-a-project-inactive-response"
                }
              }
            }
          }
        },
        "deprecated": false,
        "security": [
          {
            "Zoho_Auth": [
              "ZohoExpense.project.CREATE"
            ]
          }
        ]
      },
      "parameters": [
        {
          "name": "project_id",
          "in": "path",
          "required": true,
          "description": "Unique identifier of the project.",
          "schema": {
            "type": "string"
          },
          "example": "16367000000096055"
        },
        {
          "$ref": "#/components/parameters/organization_id"
        }
      ]
    },
    "/reportingtags": {
      "get": {
        "tags": [
          "reporting-tags"
        ],
        "operationId": "get_tags",
        "summary": "List of all Reporting Tags",
        "description": "Get a list of all reporting tags in the preferred order that you can set.",
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "reporting_tags": {
                      "$ref": "#/components/schemas/list-reporting-tags-response"
                    }
                  }
                }
              }
            }
          }
        },
        "deprecated": false,
        "security": [
          {
            "Zoho_Auth": [
              "ZohoExpense.settings.READ"
            ]
          }
        ]
      },
      "post": {
        "tags": [
          "reporting-tags"
        ],
        "operationId": "create_tag",
        "summary": "Create Reporting Tag",
        "description": "Create a reporting tag",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/update-reporting-tag-request"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/reporting-tags-response"
                }
              }
            }
          }
        },
        "deprecated": false,
        "security": [
          {
            "Zoho_Auth": [
              "ZohoExpense.settings.CREATE"
            ]
          }
        ]
      },
      "parameters": [
        {
          "$ref": "#/components/parameters/organization_id"
        }
      ]
    },
    "/reportingtags/{tag_id}": {
      "post": {
        "tags": [
          "reporting-tags"
        ],
        "operationId": "mark_default_option",
        "summary": "Mark an option as default for a reporting tag",
        "description": "Mark an option as the default option or clear default option for a reporting tag.",
        "parameters": [
          {
            "name": "default_option_id",
            "in": "query",
            "description": "ID of the option to be marked as default. If this parameter is not sent or sent empty, the current default option of the tag will be removed.",
            "required": true,
            "schema": {
              "$ref": "#/components/schemas/option_id"
            }
          },
          {
            "name": "tag_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/mark-default_option-response"
                }
              }
            }
          }
        },
        "deprecated": false,
        "security": [
          {
            "Zoho_Auth": [
              "ZohoExpense.settings.READ"
            ]
          }
        ]
      },
      "put": {
        "tags": [
          "reporting-tags"
        ],
        "operationId": "update_tag",
        "summary": "Update Reporting Tag",
        "description": "Update a reporting tag",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/update-reporting-tag-request"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/reporting-tags-response"
                }
              }
            }
          }
        },
        "deprecated": false,
        "security": [
          {
            "Zoho_Auth": [
              "ZohoExpense.settings.UPDATE"
            ]
          }
        ],
        "parameters": [
          {
            "name": "tag_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ]
      },
      "delete": {
        "tags": [
          "reporting-tags"
        ],
        "operationId": "delete_tag",
        "summary": "Delete a reporting tag",
        "description": "Delete a reporting tag. If there are any usages of the reporting tag in transactions,  custom views or workflows, you will not be able to delete the tag.",
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {
                      "type": "string",
                      "example": "The reporting tag has been deleted successfully."
                    }
                  }
                }
              }
            }
          }
        },
        "deprecated": false,
        "security": [
          {
            "Zoho_Auth": [
              "ZohoExpense.settings.DELETE"
            ]
          }
        ],
        "parameters": [
          {
            "name": "tag_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ]
      },
      "parameters": [
        {
          "$ref": "#/components/parameters/organization_id"
        },
        {
          "$ref": "#/components/parameters/path_tag_id"
        }
      ]
    },
    "/reportingtags/{tag_id}/options": {
      "put": {
        "tags": [
          "reporting-tags"
        ],
        "operationId": "update_tag_options",
        "summary": "Update Reporting Tag Options",
        "description": "Create, update or delete the options of a reporting tag. Reorder and arrange them in an hierarchical structure as per your organization requirements. <br><b>NOTE:</b> <br><ol> <li>An option cannot be a child option beyond five hierarchical level.</li> <li>The overall children of an option cannot exceed 500 options.</li></ol>",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/update-options-request"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/update-options-response"
                }
              }
            }
          }
        },
        "deprecated": false,
        "security": [
          {
            "Zoho_Auth": [
              "ZohoExpense.settings.UPDATE"
            ]
          }
        ],
        "parameters": [
          {
            "name": "tag_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ]
      },
      "parameters": [
        {
          "$ref": "#/components/parameters/organization_id"
        },
        {
          "$ref": "#/components/parameters/path_tag_id"
        }
      ]
    },
    "/reportingtags/{tag_id}/criteria": {
      "put": {
        "tags": [
          "reporting-tags"
        ],
        "operationId": "update_tag_criteria",
        "summary": "Update Reporting Tag - Visibility Conditions",
        "description": "Update the visibility conditions (or filter in some places) of a reporting tag. You can set other tags or location as filters for a tag. Check our help document to know about the requirements of a tag to be associated as a filter to another tag.",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/update-criteria-request"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/update-criteria-response"
                }
              }
            }
          }
        },
        "deprecated": false,
        "security": [
          {
            "Zoho_Auth": [
              "ZohoExpense.settings.UPDATE"
            ]
          }
        ],
        "parameters": [
          {
            "name": "tag_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ]
      },
      "parameters": [
        {
          "$ref": "#/components/parameters/organization_id"
        },
        {
          "$ref": "#/components/parameters/path_tag_id"
        }
      ]
    },
    "/reportingtags/{tag_id}/active": {
      "post": {
        "tags": [
          "reporting-tags"
        ],
        "operationId": "active_tag",
        "summary": "Mark Reporting Tag as active",
        "description": "Mark a reporting tag as active so that you can use it on entities which you allowed.  A newly created tag will be in draft state. Use this to mark that tag as ready.",
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {
                      "type": "string",
                      "example": "The reporting tag has been activated."
                    }
                  }
                }
              }
            }
          }
        },
        "deprecated": false,
        "security": [
          {
            "Zoho_Auth": [
              "ZohoExpense.settings.UPDATE"
            ]
          }
        ],
        "parameters": [
          {
            "name": "tag_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ]
      },
      "parameters": [
        {
          "$ref": "#/components/parameters/organization_id"
        },
        {
          "$ref": "#/components/parameters/path_tag_id"
        }
      ]
    },
    "/reportingtags/{tag_id}/inactive": {
      "post": {
        "tags": [
          "reporting-tags"
        ],
        "operationId": "inactive_tag",
        "summary": "Mark Reporting Tag as inactive",
        "description": "Mark a reporting tag as inactive.",
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {
                      "type": "string",
                      "example": "The reporting tag has been deactivated."
                    }
                  }
                }
              }
            }
          }
        },
        "deprecated": false,
        "security": [
          {
            "Zoho_Auth": [
              "ZohoExpense.settings.UPDATE"
            ]
          }
        ],
        "parameters": [
          {
            "name": "tag_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ]
      },
      "parameters": [
        {
          "$ref": "#/components/parameters/organization_id"
        },
        {
          "$ref": "#/components/parameters/path_tag_id"
        }
      ]
    },
    "/reportingtags/{tag_id}/option/(\\d+)/active": {
      "post": {
        "tags": [
          "reporting-tags"
        ],
        "operationId": "active_tag_option",
        "summary": "Mark an option as active",
        "description": "Mark a reporting tag's option as active.",
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {
                      "type": "string",
                      "example": "The reporting tag option has been activated."
                    }
                  }
                }
              }
            }
          }
        },
        "deprecated": false,
        "security": [
          {
            "Zoho_Auth": [
              "ZohoExpense.settings.UPDATE"
            ]
          }
        ],
        "parameters": [
          {
            "name": "tag_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ]
      },
      "parameters": [
        {
          "$ref": "#/components/parameters/organization_id"
        },
        {
          "$ref": "#/components/parameters/path_tag_id"
        },
        {
          "$ref": "#/components/parameters/path_option_id"
        }
      ]
    },
    "/reportingtags/{tag_id}/option/(\\d+)/inactive": {
      "post": {
        "tags": [
          "reporting-tags"
        ],
        "operationId": "inactive_tag_option",
        "summary": "Mark an option as inactive",
        "description": "Mark a reporting tag's option as inactive.",
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {
                      "type": "string",
                      "example": "The reporting tag option has been deactivated."
                    }
                  }
                }
              }
            }
          }
        },
        "deprecated": false,
        "security": [
          {
            "Zoho_Auth": [
              "ZohoExpense.settings.UPDATE"
            ]
          }
        ],
        "parameters": [
          {
            "name": "tag_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ]
      },
      "parameters": [
        {
          "$ref": "#/components/parameters/organization_id"
        },
        {
          "$ref": "#/components/parameters/path_tag_id"
        },
        {
          "$ref": "#/components/parameters/path_option_id"
        }
      ]
    },
    "/reportingtags/options": {
      "get": {
        "tags": [
          "reporting-tags"
        ],
        "operationId": "get_all_tag_options",
        "summary": "Get Reporting Tags Options Detail Page",
        "description": "Get the options and its criteria details of a reporting tag. For each page, you can retrieve only 200 options.",
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/options_detail_page_response"
                }
              }
            }
          }
        },
        "deprecated": false,
        "security": [
          {
            "Zoho_Auth": [
              "ZohoExpense.settings.READ"
            ]
          }
        ]
      },
      "parameters": [
        {
          "$ref": "#/components/parameters/organization_id"
        },
        {
          "$ref": "#/components/parameters/query_tag_id"
        }
      ]
    },
    "/reportingtags/(\\d+)/options/all": {
      "get": {
        "tags": [
          "reporting-tags"
        ],
        "operationId": "all_tag_options",
        "summary": "Get all Options",
        "description": "Get all options for a reporting tag.",
        "parameters": [
          {
            "name": "show_untagged",
            "in": "query",
            "description": "'untagged' will be included in the response if this parameter is set to true.",
            "required": false,
            "schema": {
              "type": "boolean"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/all_options_response"
                }
              }
            }
          }
        },
        "deprecated": false,
        "security": [
          {
            "Zoho_Auth": [
              "ZohoExpense.settings.READ"
            ]
          }
        ]
      },
      "parameters": [
        {
          "$ref": "#/components/parameters/organization_id"
        },
        {
          "$ref": "#/components/parameters/query_tag_id"
        }
      ]
    },
    "/reportingtags/reorder": {
      "put": {
        "tags": [
          "reporting-tags"
        ],
        "operationId": "reorder_tags",
        "summary": "Reorder Reporting Tags",
        "description": "Reorder the reporting tags in your organization. The order of tags will be followed in transactions and reports.",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "tag_ids": {
                    "description": "List of reporting tag IDs in the desired order",
                    "type": "array",
                    "items": {
                      "$ref": "#/components/schemas/tag_id"
                    },
                    "example": [
                      "460000000038080",
                      "460000000038081",
                      "460000000038082"
                    ]
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "code": {
                      "type": "integer",
                      "example": 0
                    },
                    "message": {
                      "type": "string",
                      "example": "The reporting tags have been reordered successfully."
                    },
                    "tags": {
                      "$ref": "#/components/schemas/list-reporting-tags-response"
                    }
                  }
                }
              }
            }
          }
        },
        "deprecated": false,
        "security": [
          {
            "Zoho_Auth": [
              "ZohoExpense.settings.UPDATE"
            ]
          }
        ]
      },
      "parameters": [
        {
          "$ref": "#/components/parameters/organization_id"
        }
      ]
    },
    "/settings/taxes": {
      "post": {
        "tags": [
          "taxes"
        ],
        "operationId": "create_tax",
        "summary": "Create a tax",
        "description": "Create a tax.",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/create-a-tax-request"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Created",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/create-a-tax-response"
                }
              }
            }
          }
        },
        "deprecated": false,
        "security": [
          {
            "Zoho_Auth": [
              "ZohoExpense.tax.CREATE"
            ]
          }
        ]
      },
      "get": {
        "tags": [
          "taxes"
        ],
        "operationId": "list_taxes",
        "summary": "Retrieve list of taxes",
        "description": "Details of all existing taxes.",
        "parameters": [
          {
            "name": "page",
            "in": "query",
            "description": "Page number to be fetched. Default value is 1.",
            "required": false,
            "schema": {
              "type": "integer",
              "default": 1
            },
            "example": 1
          },
          {
            "name": "per_page",
            "in": "query",
            "description": "Number of records to be fetched per page. Default value is 200.",
            "required": false,
            "schema": {
              "type": "integer",
              "default": 200
            },
            "example": 200
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/retrieve-list-of-taxes-response"
                }
              }
            }
          }
        },
        "deprecated": false,
        "security": [
          {
            "Zoho_Auth": [
              "ZohoExpense.tax.READ"
            ]
          }
        ]
      },
      "parameters": [
        {
          "$ref": "#/components/parameters/organization_id"
        }
      ]
    },
    "/settings/taxes/{tax_id}": {
      "get": {
        "tags": [
          "taxes"
        ],
        "operationId": "get_tax",
        "summary": "Retrieve details of a tax",
        "description": "Details of an existing tax.",
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/retrieve-details-of-a-tax-response"
                }
              }
            }
          }
        },
        "deprecated": false,
        "security": [
          {
            "Zoho_Auth": [
              "ZohoExpense.tax.READ"
            ]
          }
        ]
      },
      "put": {
        "tags": [
          "taxes"
        ],
        "operationId": "update_tax",
        "summary": "Update details of a tax",
        "description": "Update the details of an existing tax.",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/update-details-of-a-tax-request"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/update-details-of-a-tax-response"
                }
              }
            }
          }
        },
        "deprecated": false,
        "security": [
          {
            "Zoho_Auth": [
              "ZohoExpense.tax.UPDATE"
            ]
          }
        ]
      },
      "delete": {
        "tags": [
          "taxes"
        ],
        "operationId": "delete_tax",
        "summary": "Delete a tax",
        "description": "Delete an existing tax.",
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/delete-a-tax-response"
                }
              }
            }
          }
        },
        "deprecated": false,
        "security": [
          {
            "Zoho_Auth": [
              "ZohoExpense.tax.DELETE"
            ]
          }
        ]
      },
      "parameters": [
        {
          "name": "tax_id",
          "in": "path",
          "required": true,
          "description": "Unique identifier of the tax.",
          "schema": {
            "type": "string"
          },
          "example": "16367000000086009"
        },
        {
          "$ref": "#/components/parameters/organization_id"
        }
      ]
    },
    "/settings/taxgroups/{tax_group_id}": {
      "get": {
        "tags": [
          "taxes"
        ],
        "operationId": "get_tax_group",
        "summary": "Retrieve details of a tax group",
        "description": "Details of an existing tax group.",
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/retrieve-details-of-a-tax-group-response"
                }
              }
            }
          }
        },
        "deprecated": false,
        "security": [
          {
            "Zoho_Auth": [
              "ZohoExpense.tax.READ"
            ]
          }
        ]
      },
      "parameters": [
        {
          "name": "tax_group_id",
          "in": "path",
          "required": true,
          "description": "Unique identifier of the tax group.",
          "schema": {
            "type": "string"
          },
          "example": "27927000000681015"
        },
        {
          "$ref": "#/components/parameters/organization_id"
        }
      ]
    },
    "/trips": {
      "post": {
        "tags": [
          "trips"
        ],
        "operationId": "create_trip",
        "summary": "Create a trip",
        "description": "Create a new trip.",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/create-a-trip-request"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Created",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/create-a-trip-response"
                }
              }
            }
          }
        },
        "deprecated": false,
        "security": [
          {
            "Zoho_Auth": [
              "ZohoExpense.trip.CREATE"
            ]
          }
        ]
      },
      "get": {
        "tags": [
          "trips"
        ],
        "operationId": "list_trips",
        "summary": "Retrive list of all trips",
        "description": "List all existing trips.",
        "parameters": [
          {
            "name": "filter_by",
            "in": "query",
            "description": "For filtering trips based on status.",
            "required": false,
            "schema": {
              "type": "object",
              "properties": {
                "Type.Trip%2CStatus.Submitted": {
                  "$ref": "#/components/schemas/Type.Trip-Status.Submitted"
                },
                "Type.Trip%2CStatus.Approved": {
                  "$ref": "#/components/schemas/Type.Trip-Status.Approved"
                },
                "Type.Trip%2CStatus.Rejected": {
                  "$ref": "#/components/schemas/Type.Trip-Status.Rejected"
                },
                "Type.Trip%2CStatus.Closed": {
                  "$ref": "#/components/schemas/Type.Trip-Status.Closed"
                },
                "Type.Trip%2CStatus.Cancelled": {
                  "$ref": "#/components/schemas/Type.Trip-Status.Cancelled"
                }
              }
            },
            "example": ""
          },
          {
            "name": "page",
            "in": "query",
            "description": "Page number to be fetched. Default value is 1.",
            "required": false,
            "schema": {
              "type": "integer",
              "default": 1
            },
            "example": 1
          },
          {
            "name": "per_page",
            "in": "query",
            "description": "Number of records to be fetched per page. Default value is 200.",
            "required": false,
            "schema": {
              "type": "integer",
              "default": 200
            },
            "example": 200
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/retrive-list-of-all-trips-response"
                }
              }
            }
          }
        },
        "deprecated": false,
        "security": [
          {
            "Zoho_Auth": [
              "ZohoExpense.trip.READ"
            ]
          }
        ]
      },
      "parameters": [
        {
          "$ref": "#/components/parameters/organization_id"
        }
      ]
    },
    "/trips/{trip_id}": {
      "get": {
        "tags": [
          "trips"
        ],
        "operationId": "get_trip",
        "summary": "Retrive details of a trip",
        "description": "Retrive details of an existing trip.",
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/retrive-details-of-a-trip-response"
                }
              }
            }
          }
        },
        "deprecated": false,
        "security": [
          {
            "Zoho_Auth": [
              "ZohoExpense.trip.READ"
            ]
          }
        ]
      },
      "put": {
        "tags": [
          "trips"
        ],
        "operationId": "update_trip",
        "summary": "Update a trip",
        "description": "Update an existing Trip.",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/update-a-trip-request"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/update-a-trip-response"
                }
              }
            }
          }
        },
        "deprecated": false,
        "security": [
          {
            "Zoho_Auth": [
              "ZohoExpense.trip.UPDATE"
            ]
          }
        ]
      },
      "delete": {
        "tags": [
          "trips"
        ],
        "operationId": "delete_trip",
        "summary": "Delete a trip request",
        "description": "Delete a trip request. Approved, Closed and Cancelled trips cannot be deleted.",
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/delete-a-trip-request-response"
                }
              }
            }
          }
        },
        "deprecated": false,
        "security": [
          {
            "Zoho_Auth": [
              "ZohoExpense.trip.DELETE"
            ]
          }
        ]
      },
      "parameters": [
        {
          "name": "trip_id",
          "in": "path",
          "required": true,
          "description": "Unique identifier of the trip.",
          "schema": {
            "type": "string"
          },
          "example": "34017000000000103"
        },
        {
          "$ref": "#/components/parameters/organization_id"
        }
      ]
    },
    "/trips/{trip_id}/approve": {
      "post": {
        "tags": [
          "trips"
        ],
        "operationId": "approve_trip",
        "summary": "Approve a trip request",
        "description": "Approve a submitted trip request.",
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/approve-a-trip-request-response"
                }
              }
            }
          }
        },
        "deprecated": false,
        "security": [
          {
            "Zoho_Auth": [
              "ZohoExpense.approval.CREATE"
            ]
          }
        ]
      },
      "parameters": [
        {
          "name": "trip_id",
          "in": "path",
          "required": true,
          "description": "Unique identifier of the trip.",
          "schema": {
            "type": "string"
          },
          "example": "34017000000000103"
        },
        {
          "$ref": "#/components/parameters/organization_id"
        }
      ]
    },
    "/trips/{trip_id}/reject": {
      "post": {
        "tags": [
          "trips"
        ],
        "operationId": "reject_trip",
        "summary": "Reject a trip request",
        "description": "Reject a submitted trip request.",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/reject-a-trip-request-request"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/reject-a-trip-request-response"
                }
              }
            }
          }
        },
        "deprecated": false,
        "security": [
          {
            "Zoho_Auth": [
              "ZohoExpense.approval.CREATE"
            ]
          }
        ]
      },
      "parameters": [
        {
          "name": "trip_id",
          "in": "path",
          "required": true,
          "description": "Unique identifier of the trip.",
          "schema": {
            "type": "string"
          },
          "example": "34017000000000103"
        },
        {
          "$ref": "#/components/parameters/organization_id"
        }
      ]
    },
    "/trips/{trip_id}/cancel": {
      "post": {
        "tags": [
          "trips"
        ],
        "operationId": "cancel_trip",
        "summary": "Cancel a trip",
        "description": "Cancel a trip.",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/cancel-a-trip-request"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/cancel-a-trip-response"
                }
              }
            }
          }
        },
        "deprecated": false,
        "security": [
          {
            "Zoho_Auth": [
              "ZohoExpense.trip.CREATE"
            ]
          }
        ]
      },
      "parameters": [
        {
          "name": "trip_id",
          "in": "path",
          "required": true,
          "description": "Unique identifier of the trip.",
          "schema": {
            "type": "string"
          },
          "example": "34017000000000103"
        },
        {
          "$ref": "#/components/parameters/organization_id"
        }
      ]
    },
    "/trips/{trip_id}/close": {
      "post": {
        "tags": [
          "trips"
        ],
        "operationId": "close_trip",
        "summary": "Close a trip",
        "description": "Close an approved trip.",
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/close-a-trip-response"
                }
              }
            }
          }
        },
        "deprecated": false,
        "security": [
          {
            "Zoho_Auth": [
              "ZohoExpense.trip.CREATE"
            ]
          }
        ]
      },
      "parameters": [
        {
          "name": "trip_id",
          "in": "path",
          "required": true,
          "description": "Unique identifier of the trip.",
          "schema": {
            "type": "string"
          },
          "example": "34017000000000103"
        },
        {
          "$ref": "#/components/parameters/organization_id"
        }
      ]
    },
    "/users": {
      "post": {
        "tags": [
          "users"
        ],
        "operationId": "create_user",
        "summary": "Create an user",
        "description": "Create a new user.",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/create-an-user-request"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Created",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/create-an-user-response"
                }
              }
            }
          }
        },
        "deprecated": false,
        "security": [
          {
            "Zoho_Auth": [
              "ZohoExpense.users.CREATE"
            ]
          }
        ]
      },
      "get": {
        "tags": [
          "users"
        ],
        "operationId": "list_users",
        "summary": "Retrieve list of users",
        "description": "Details of all existing users.",
        "parameters": [
          {
            "name": "page",
            "in": "query",
            "description": "Page number to be fetched. Default value is 1.",
            "required": false,
            "schema": {
              "type": "integer",
              "default": 1
            },
            "example": 1
          },
          {
            "name": "per_page",
            "in": "query",
            "description": "Number of records to be fetched per page. Default value is 200.",
            "required": false,
            "schema": {
              "type": "integer",
              "default": 200
            },
            "example": 200
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/retrieve-list-of-users-response"
                }
              }
            }
          }
        },
        "deprecated": false,
        "security": [
          {
            "Zoho_Auth": [
              "ZohoExpense.users.READ"
            ]
          }
        ]
      },
      "parameters": [
        {
          "$ref": "#/components/parameters/organization_id"
        }
      ]
    },
    "/users/{user_id}": {
      "get": {
        "tags": [
          "users"
        ],
        "operationId": "get_user",
        "summary": "Retrieve details of an user",
        "description": "Details of an existing user.",
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/retrieve-details-of-an-user-response"
                }
              }
            }
          }
        },
        "deprecated": false,
        "security": [
          {
            "Zoho_Auth": [
              "ZohoExpense.users.READ"
            ]
          }
        ]
      },
      "put": {
        "tags": [
          "users"
        ],
        "operationId": "update_user",
        "summary": "Update details of an user",
        "description": "Update the details of an existing user.",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/update-details-of-an-user-request"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/update-details-of-an-user-response"
                }
              }
            }
          }
        },
        "deprecated": false,
        "security": [
          {
            "Zoho_Auth": [
              "ZohoExpense.users.UPDATE"
            ]
          }
        ]
      },
      "delete": {
        "tags": [
          "users"
        ],
        "operationId": "delete_user",
        "summary": "Delete an user",
        "description": "Delete an existing user.",
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/delete-an-user-response"
                }
              }
            }
          }
        },
        "deprecated": false,
        "security": [
          {
            "Zoho_Auth": [
              "ZohoExpense.users.DELETE"
            ]
          }
        ]
      },
      "parameters": [
        {
          "name": "user_id",
          "in": "path",
          "required": true,
          "description": "Unique identifier of the user.",
          "schema": {
            "type": "string"
          },
          "example": "16367000000073071"
        },
        {
          "$ref": "#/components/parameters/organization_id"
        }
      ]
    },
    "/users/{user_id}/inactive": {
      "post": {
        "tags": [
          "users"
        ],
        "operationId": "deactivate_user",
        "summary": "Make an user inactive",
        "description": "Make an user inactive.",
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/make-an-user-inactive-response"
                }
              }
            }
          }
        },
        "deprecated": false,
        "security": [
          {
            "Zoho_Auth": [
              "ZohoExpense.users.CREATE"
            ]
          }
        ]
      },
      "parameters": [
        {
          "name": "user_id",
          "in": "path",
          "required": true,
          "description": "Unique identifier of the user.",
          "schema": {
            "type": "string"
          },
          "example": "16367000000073071"
        },
        {
          "$ref": "#/components/parameters/organization_id"
        }
      ]
    },
    "/users/{user_id}/active": {
      "post": {
        "tags": [
          "users"
        ],
        "operationId": "activate_user",
        "summary": "Make an user active",
        "description": "Make an user active.",
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/make-an-user-active-response"
                }
              }
            }
          }
        },
        "deprecated": false,
        "security": [
          {
            "Zoho_Auth": [
              "ZohoExpense.users.CREATE"
            ]
          }
        ]
      },
      "parameters": [
        {
          "name": "user_id",
          "in": "path",
          "required": true,
          "description": "Unique identifier of the user.",
          "schema": {
            "type": "string"
          },
          "example": "16367000000073071"
        },
        {
          "$ref": "#/components/parameters/organization_id"
        }
      ]
    },
    "/users/{user_id}/role/{role_id}": {
      "post": {
        "tags": [
          "users"
        ],
        "operationId": "assign_role_to_user",
        "summary": "Assign a role to user",
        "description": "Assign a role to user.",
        "parameters": [
          {
            "name": "role_id",
            "in": "path",
            "required": true,
            "description": "Unique identifier of the role.",
            "schema": {
              "type": "string"
            },
            "example": "16367000000030005"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/assign-a-role-to-user-response"
                }
              }
            }
          }
        },
        "deprecated": false,
        "security": [
          {
            "Zoho_Auth": [
              "ZohoExpense.users.CREATE"
            ]
          }
        ]
      },
      "parameters": [
        {
          "name": "user_id",
          "in": "path",
          "required": true,
          "description": "Unique identifier of the user.",
          "schema": {
            "type": "string"
          },
          "example": "16367000000073071"
        },
        {
          "$ref": "#/components/parameters/organization_id"
        }
      ]
    }
  },
  "components": {
    "schemas": {
      "gendoc-attributes-schema": {
        "$ref": "#/components/schemas/user"
      },
      "currency-response": {
        "type": "object",
        "properties": {
          "currency_id": {
            "$ref": "#/components/schemas/currency_id"
          },
          "currency_code": {
            "$ref": "#/components/schemas/currency_code"
          },
          "currency_name": {
            "$ref": "#/components/schemas/currency_name"
          },
          "currency_symbol": {
            "$ref": "#/components/schemas/currency_symbol"
          },
          "price_precision": {
            "$ref": "#/components/schemas/price_precision"
          },
          "currency_format": {
            "$ref": "#/components/schemas/currency_format"
          },
          "is_base_currency": {
            "$ref": "#/components/schemas/is_base_currency"
          }
        }
      },
      "currency_id": {
        "description": "Unique ID for currency.",
        "type": "integer",
        "format": "int64",
        "example": "16367000000000097"
      },
      "currency_code": {
        "description": "Currency code.",
        "type": "string",
        "example": "INR"
      },
      "currency_name": {
        "description": "Name of the currency.",
        "type": "string",
        "example": "USD- US Dollar"
      },
      "currency_symbol": {
        "description": "Symbol used to denote currency of a country",
        "type": "string",
        "example": "$"
      },
      "price_precision": {
        "description": "Amount precision upto n decimal points.",
        "type": "integer",
        "example": 2
      },
      "currency_format": {
        "description": "Format of the organisation's currency",
        "type": "string",
        "example": "###,##0.00"
      },
      "is_base_currency": {
        "description": "Whether it is the base currency. It can either be <code>true</code> or <code>false</code>.",
        "type": "boolean",
        "example": false
      },
      "exchange_rate": {
        "description": "Exchange rate of the currency with respect to base currency.",
        "type": "number",
        "format": "double",
        "example": 1
      },
      "effective_date": {
        "description": "Effective date for the currency.",
        "type": "string",
        "example": "2009-01-27"
      },
      "create-a-currency-request": {
        "type": "object",
        "required": [
          "currency_code",
          "currency_format"
        ],
        "properties": {
          "currency_code": {
            "$ref": "#/components/schemas/currency_code"
          },
          "currency_name": {
            "$ref": "#/components/schemas/currency_name"
          },
          "currency_symbol": {
            "$ref": "#/components/schemas/currency_symbol"
          },
          "price_precision": {
            "$ref": "#/components/schemas/price_precision"
          },
          "currency_format": {
            "$ref": "#/components/schemas/currency_format"
          }
        }
      },
      "create-a-currency-response": {
        "type": "object",
        "properties": {
          "code": {
            "type": "integer",
            "example": 0,
            "readOnly": true
          },
          "message": {
            "type": "string",
            "example": "The currency has been created.",
            "readOnly": true
          },
          "currency": {
            "$ref": "#/components/schemas/currency-response"
          }
        }
      },
      "retrieve-list-of-currencies-response": {
        "type": "object",
        "properties": {
          "code": {
            "type": "integer",
            "example": 0,
            "readOnly": true
          },
          "message": {
            "type": "string",
            "example": "success",
            "readOnly": true
          },
          "currencies": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "currency_id": {
                  "$ref": "#/components/schemas/currency_id"
                },
                "currency_code": {
                  "$ref": "#/components/schemas/currency_code"
                },
                "currency_name": {
                  "$ref": "#/components/schemas/currency_name"
                },
                "currency_symbol": {
                  "$ref": "#/components/schemas/currency_symbol"
                },
                "price_precision": {
                  "$ref": "#/components/schemas/price_precision"
                },
                "currency_format": {
                  "$ref": "#/components/schemas/currency_format"
                },
                "is_base_currency": {
                  "$ref": "#/components/schemas/is_base_currency"
                },
                "exchange_rate": {
[...]
