{
  "openapi": "3.0.3",
  "info": {
    "title": "JustSign",
    "description": "Just Sign API specification.",
    "termsOfService": "",
    "contact": {
      "email": "noreply@JustSign.be"
    },
    "license": {
      "name": "Apache 2.0",
      "url": "http://www.apache.org/licenses/LICENSE-2.0.html"
    },
    "version": "0.0.1",
    "x-jentic-source-url": "https://api.swaggerhub.com/apis/fgovfodj/justsign/0.0.1"
  },
  "externalDocs": {
    "description": "Find out more about spec",
    "url": ""
  },
  "servers": [
    {
      "url": "https://justjudgment-tst.intra.just.fgov.be",
      "description": "",
      "variables": {}
    }
  ],
  "tags": [
    {
      "name": "Signature",
      "description": ""
    },
    {
      "name": "SignAction",
      "description": "",
      "externalDocs": {
        "description": "",
        "url": ""
      }
    }
  ],
  "paths": {
    "/just-sign/signatures": {
      "post": {
        "summary": "Formal API to create a new signature in Just Sign",
        "description": "This creates a new signature object within Just Sign.",
        "operationId": "CreateSignature",
        "tags": [
          "Signature"
        ],
        "parameters": [],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/Signature"
              }
            }
          }
        },
        "responses": {
          "201": {
            "$ref": "#/components/responses/CreationResponse"
          },
          "400": {
            "$ref": "#/components/responses/ErrorResponse"
          }
        }
      },
      "get": {
        "summary": "Get specific information about the signature",
        "description": "Get specific information about the signature",
        "operationId": "GetSignature",
        "tags": [
          "Signature"
        ],
        "parameters": [
          {
            "in": "query",
            "name": "signee",
            "description": "get the signatures for a specific signee",
            "schema": {
              "type": "string",
              "format": "email"
            }
          },
          {
            "in": "query",
            "name": "signaturemaster",
            "description": "get signatures for a specific signature master",
            "schema": {
              "type": "string",
              "format": "email"
            }
          },
          {
            "in": "query",
            "name": "status",
            "description": "filter on a set of status",
            "schema": {
              "type": "string",
              "enum": [
                "signed",
                "pending",
                "rejected",
                "all"
              ]
            }
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/components/responses/SignatureResponse"
          },
          "400": {
            "$ref": "#/components/responses/ErrorResponse"
          },
          "404": {
            "$ref": "#/components/responses/ErrorResponse"
          }
        }
      }
    },
    "/just-sign/signatures/{signature_id}/documents": {
      "post": {
        "summary": "Upload the document that needs to be signed",
        "description": "Upload the document that needs to be signed",
        "operationId": "UploadDocument",
        "tags": [
          "Signature"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "signature_id",
            "description": "",
            "schema": {
              "type": "string"
            },
            "required": true
          }
        ],
        "requestBody": {
          "content": {
            "application/octet-stream": {
              "schema": {
                "type": "string",
                "format": "binary"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "returns the id of the uploaded document",
            "content": {},
            "headers": {}
          },
          "400": {
            "$ref": "#/components/responses/ErrorResponse"
          }
        }
      },
      "parameters": [
        {
          "in": "path",
          "name": "signature_id",
          "description": "UUID of the signature",
          "schema": {
            "type": "string"
          },
          "required": true
        }
      ]
    },
    "/just-sign/signatures/{signature_id}/submit": {
      "put": {
        "summary": "Submit a signature",
        "description": "Submitting a signature will start the signature process. Notifications will be send to involved parties and signees will be requested to sign the uploaded document.",
        "operationId": "SubmitSignature",
        "tags": [
          "Signature"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "signature_id",
            "description": "The id of the signature",
            "schema": {
              "type": "string"
            },
            "required": true
          }
        ],
        "responses": {
          "202": {
            "$ref": "#/components/responses/CreationResponse"
          },
          "400": {
            "$ref": "#/components/responses/ErrorResponse"
          }
        }
      },
      "parameters": [
        {
          "in": "path",
          "name": "signature_id",
          "description": "",
          "schema": {
            "type": "string"
          },
          "required": true
        }
      ]
    },
    "/just-sign/signatures/{signature_id}": {
      "get": {
        "summary": "Get specific information about the signature",
        "description": "Get specific information about the signature",
        "operationId": "GetSignatureById",
        "tags": [
          "Signature"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "signature_id",
            "description": "id of the signature",
            "schema": {
              "type": "string"
            },
            "required": true
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/components/responses/SignatureResponse"
          }
        }
      },
      "delete": {
        "summary": "Delete the current signature",
        "description": "Cancel and delete the current signature",
        "operationId": "DeleteSignature",
        "tags": [
          "Signature"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "signature_id",
            "description": "id of the signature",
            "schema": {
              "type": "string"
            },
            "required": true
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/components/responses/CreationResponse"
          }
        }
      },
      "parameters": [
        {
          "in": "path",
          "name": "signature_id",
          "description": "",
          "schema": {
            "type": "string"
          },
          "required": true
        }
      ],
      "post": {
        "summary": "",
        "description": "signature actions",
        "operationId": "SignatureActions",
        "tags": [
          "Signature"
        ],
        "parameters": [
          {
            "in": "query",
            "name": "action",
            "description": "",
            "schema": {
              "type": "string",
              "enum": [
                "submit",
                "cancel"
              ]
            },
            "required": true
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/components/responses/CreationResponse"
          }
        }
      }
    },
    "/just-sign/signatures/{signature_id}/documents/{document_id}": {
      "get": {
        "description": "Download the signed document",
        "operationId": "DownloadSignedDocument",
        "tags": [
          "Signature"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "signature_id",
            "description": "id of the signature",
            "schema": {
              "type": "string"
            },
            "required": true
          },
          {
            "in": "path",
            "name": "document_id",
            "description": "id of the signed document",
            "schema": {
              "type": "string"
            },
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "headers": {},
            "content": {
              "application/pdf": {
                "schema": {
                  "type": "string",
                  "format": "binary"
                }
              }
            }
          },
          "404": {
            "$ref": "#/components/responses/ErrorResponse"
          }
        },
        "summary": "Download the signed document"
      },
      "parameters": [
        {
          "in": "path",
          "name": "signature_id",
          "description": "id if the signature",
          "schema": {
            "type": "string"
          },
          "required": true
        },
        {
          "in": "path",
          "name": "document_id",
          "description": "id of the uploaded document",
          "schema": {
            "type": "string"
          },
          "required": true
        }
      ]
    },
    "/just-sign/sign": {
      "post": {
        "description": "Sign the selected document(s)",
        "operationId": "signingSession",
        "tags": [
          "SignAction"
        ],
        "parameters": [],
        "responses": {
          "200": {
            "$ref": "#/components/responses/SessionCreationResponse"
          },
          "400": {
            "$ref": "#/components/responses/ErrorResponse"
          }
        },
        "summary": "API to start a signing session for 1 or more signatures",
        "requestBody": {
          "$ref": "#/components/requestBodies/SignSessionBody"
        }
      },
      "delete": {
        "description": "",
        "operationId": "",
        "tags": [
          "SignAction"
        ],
        "parameters": [],
        "responses": {
          "200": {
            "description": "OK"
          }
        }
      }
    },
    "/just-sign/signatures/{signature_id}/tasks/{task_id}": {
      "post": {
        "description": "",
        "operationId": "signAction",
        "tags": [
          "Signature"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "signature_id",
            "description": "ID of the signature",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "in": "path",
            "name": "task_id",
            "description": "ID of the task",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/components/responses/SignatureResponse"
          }
        },
        "summary": "The callback url executed by BOSA to confirm that an signature has been completed"
      },
      "parameters": [
        {
          "in": "query",
          "name": "err",
          "description": "",
          "schema": {
            "type": "string"
          }
        },
        {
          "in": "query",
          "name": "detail",
          "description": "",
          "schema": {
            "type": "string"
          }
        }
      ]
    },
    "/just-sign/signing/tasks/{taskId}/complete": {
      "post": {
        "summary": "Complete a Flowable user task for a signing session",
        "description": "Completes the Flowable UserTask identified by taskId and passes signing result data as process variables.\n",
        "operationId": "completeSigningTask",
        "tags": [
          "Signing"
        ],
        "parameters": [
          {
            "name": "taskId",
            "in": "path",
            "required": true,
            "description": "Flowable task id of the active UserTask to complete",
            "schema": {
              "type": "string",
              "minLength": 1
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/SigningResultDto"
              },
              "examples": {
                "signed": {
                  "summary": "Signed successfully",
                  "value": {
                    "status": "SIGNED",
                    "err": null,
                    "details": null,
                    "ref": "20251211135244817"
                  }
                },
                "internalError": {
                  "summary": "Internal signing error",
                  "value": {
                    "status": "ERROR",
                    "err": "INTERNAL_ERR",
                    "details": "Error on signature augmentation. Cryptographic signature verification has failed.",
                    "ref": "20251211141834355"
                  }
                },
                "userCancelled": {
                  "summary": "User cancelled the signing wizard",
                  "value": {
                    "status": "REJECTED",
                    "err": "USER_CANCELLED",
                    "details": "WIZARD_STATE_UPLOAD",
                    "ref": "20251211141834355"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "204": {
            "description": "Task completed successfully"
          },
          "400": {
            "description": "Invalid request"
          },
          "404": {
            "description": "Task not found (or not active)"
          }
        }
      }
    }
  },
  "components": {
    "schemas": {
      "Signature": {
        "type": "object",
        "properties": {
          "name": {
            "type": "string"
          },
          "creationDate": {
            "type": "integer",
            "description": "epoch time"
          },
          "dueDate": {
            "type": "integer",
            "description": "epoch time"
          },
          "completionDate": {
            "type": "integer",
            "description": "epoch time"
          },
          "signatureId": {
            "type": "string"
          },
          "signatureMaster": {
            "$ref": "#/components/schemas/SignatureMaster"
          },
          "stage": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Stage"
            }
          },
          "metadata": {
            "$ref": "#/components/schemas/SignatureTaskMetadata"
          }
        },
        "required": [
          "signatureMaster",
          "dueDate",
          "executionMethod",
          "field_0",
          "metadata"
        ]
      },
      "StandardResponse": {
        "type": "object",
        "properties": {
          "statusCodeType": {
            "type": "string"
          },
          "responseCodes": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "code": {
                  "type": "string"
                },
                "description": {
                  "type": "string"
                },
                "field": {
                  "type": "string"
                },
                "message": {
                  "type": "string"
                },
                "invalidValue": {
                  "type": "string"
                }
              }
            }
          }
        }
      },
      "SignatureTaskMetadata": {
        "type": "array",
        "items": {
          "type": "object",
          "properties": {
            "header": {
              "type": "string"
            },
            "key": {
              "type": "string"
            },
            "value": {
              "type": "string"
            }
          }
        }
      },
      "SignSession": {
        "type": "object",
        "properties": {
          "signatures_tasks": {
            "type": "array",
            "items": {
              "type": "string",
              "description": "task_id"
            },
            "description": "list of signatures tasks"
          }
        },
        "required": [
          "signee_id",
          "signatures_tasks"
        ]
      },
      "Signee": {
        "type": "object",
        "properties": {
          "firstName": {
            "type": "string"
          },
          "lastName": {
            "type": "string"
          },
          "emailAddress": {
            "type": "string"
          },
          "registryNumber": {
            "type": "string"
          },
          "role": {
            "type": "string"
          },
          "signatureDate": {
            "type": "number",
            "description": "Epoch Time"
          },
          "status": {
            "type": "string"
          },
          "taskId": {
            "type": "string"
          }
        },
        "required": [
          "firstName",
          "lastName",
          "emailAddress",
          "registryNumber",
          "signatureDate"
        ]
      },
      "Stage": {
        "type": "object",
        "properties": {
          "name": {
            "type": "string"
          },
          "status": {
            "type": "string"
          },
          "stageId": {
            "type": "string"
          },
          "startDate": {
            "type": "integer",
            "description": "Epoch Time"
          },
          "completionDate": {
            "type": "integer",
            "description": "Epoch Time"
          },
          "signees": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Signee"
            },
            "description": "All Signees within the stage"
          }
        },
        "required": [
          "name",
          "status",
          "startDate",
          "signees"
        ]
      },
      "SignatureMaster": {
        "type": "object",
        "properties": {
          "firstName": {
            "type": "string"
          },
          "lastName": {
            "type": "string"
          },
          "id": {
            "type": "string"
          },
          "emailAddress": {
            "type": "string"
          },
          "role": {
            "type": "string"
          }
        },
        "required": [
          "firstName",
          "lastName",
          "emailAddress"
        ]
      },
      "SigningResultDto": {
        "type": "object",
        "additionalProperties": false,
        "required": [
          "status"
        ],
        "properties": {
          "status": {
            "type": "string",
            "description": "High-level signing outcome used by the process flow",
            "enum": [
              "SIGNED",
              "REJECTED",
              "ERROR"
            ]
          },
          "err": {
            "type": "string",
            "nullable": true,
            "description": "Optional error code returned by BOSA",
            "enum": [
              "INTERNAL_ERR",
              "USER_CANCELLED"
            ]
          },
          "details": {
            "type": "string",
            "nullable": true,
            "description": "Optional details message",
            "maxLength": 10000
          },
          "ref": {
            "type": "string",
            "nullable": true,
            "description": "Optional signing provider reference id for correlation/auditing",
            "maxLength": 128
          }
        }
      }
    },
    "securitySchemes": {},
    "responses": {
      "CreationResponse": {
        "description": "",
        "headers": {},
        "content": {
          "application/json": {
            "schema": {
              "type": "object",
              "properties": {
                "responseInfo": {
                  "$ref": "#/components/schemas/StandardResponse"
                },
                "signature": {
                  "$ref": "#/components/schemas/Signature"
                }
              },
              "required": [
                "responseInfo",
                "id",
                "signature"
              ]
            }
          }
        }
      },
      "ErrorResponse": {
        "description": "",
        "headers": {},
        "content": {
          "application/json": {
            "schema": {
              "type": "object",
              "properties": {
                "reponseInfo": {
                  "$ref": "#/components/schemas/StandardResponse"
                }
              },
              "required": [
                "reponseInfo"
              ]
            }
          }
        }
      },
      "SignatureResponse": {
        "description": "",
        "headers": {},
        "content": {
          "application/json": {
            "schema": {
              "type": "object",
              "properties": {
                "responseInfo": {
                  "$ref": "#/components/schemas/StandardResponse"
                },
                "signature": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Signature"
                  }
                }
              },
              "required": [
                "responseInfo",
                "signature"
              ]
            }
          }
        }
      },
      "SessionCreationResponse": {
        "description": "",
        "headers": {},
        "content": {
          "application/json": {
            "schema": {
              "type": "string"
            }
          }
        }
      }
    },
    "requestBodies": {
      "SignSessionBody": {
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/SignSession"
            }
          }
        },
        "description": "Default Sign Session body"
      }
    }
  }
}