{
  "openapi": "3.0.3",
  "info": {
    "title": "Sender.net API",
    "version": "2.0.0",
    "description": "Sender.net email marketing API for managing subscribers, groups, segments, campaigns, transactional campaigns, custom fields, and campaign statistics.",
    "x-jentic-source-url": "https://api.sender.net",
    "contact": {
      "name": "API Support"
    }
  },
  "servers": [
    {
      "url": "https://api.sender.net/v2"
    }
  ],
  "paths": {
    "/subscribers": {
      "get": {
        "operationId": "listSubscribers",
        "summary": "List all subscribers",
        "description": "Retrieve a paginated list of all subscribers.",
        "tags": [
          "Subscribers"
        ],
        "parameters": [
          {
            "name": "page",
            "in": "query",
            "schema": {
              "type": "integer"
            },
            "description": "Page number"
          },
          {
            "name": "limit",
            "in": "query",
            "schema": {
              "type": "integer"
            },
            "description": "Results per page"
          }
        ],
        "responses": {
          "200": {
            "description": "Subscriber list",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PaginatedResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      },
      "post": {
        "operationId": "createSubscriber",
        "summary": "Create new subscriber",
        "description": "Creates a new subscriber, providing basic information, fields and groups.",
        "tags": [
          "Subscribers"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/SubscriberCreateRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Subscriber created",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SuccessResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      }
    },
    "/subscribers/{subscriber_id}": {
      "get": {
        "operationId": "getSubscriber",
        "summary": "Get subscriber's data",
        "description": "Get subscriber details by subscriber ID.",
        "tags": [
          "Subscribers"
        ],
        "parameters": [
          {
            "name": "subscriber_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Subscriber data",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SuccessResponse"
                }
              }
            }
          },
          "404": {
            "description": "Not found"
          }
        }
      },
      "patch": {
        "operationId": "updateSubscriber",
        "summary": "Update subscriber",
        "description": "Update subscriber information, fields, or groups.",
        "tags": [
          "Subscribers"
        ],
        "parameters": [
          {
            "name": "subscriber_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/SubscriberUpdateRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Subscriber updated",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SuccessResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request"
          },
          "404": {
            "description": "Not found"
          }
        }
      },
      "delete": {
        "operationId": "deleteSubscriber",
        "summary": "Delete subscriber",
        "description": "Delete a subscriber by ID.",
        "tags": [
          "Subscribers"
        ],
        "parameters": [
          {
            "name": "subscriber_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Subscriber deleted"
          },
          "404": {
            "description": "Not found"
          }
        }
      }
    },
    "/subscribers/{subscriber_id}/groups/{group_id}": {
      "post": {
        "operationId": "addSubscriberToGroup",
        "summary": "Add subscriber to a group",
        "description": "Add a subscriber to a specified group.",
        "tags": [
          "Subscribers"
        ],
        "parameters": [
          {
            "name": "subscriber_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "group_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Subscriber added to group"
          },
          "404": {
            "description": "Not found"
          }
        }
      },
      "delete": {
        "operationId": "removeSubscriberFromGroup",
        "summary": "Remove subscriber from a group",
        "description": "Remove a subscriber from a specified group.",
        "tags": [
          "Subscribers"
        ],
        "parameters": [
          {
            "name": "subscriber_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "group_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Subscriber removed from group"
          },
          "404": {
            "description": "Not found"
          }
        }
      }
    },
    "/subscribers/{subscriber_id}/events": {
      "get": {
        "operationId": "getSubscriberEvents",
        "summary": "Get subscriber's events",
        "description": "Get events and activity history for a subscriber.",
        "tags": [
          "Subscribers"
        ],
        "parameters": [
          {
            "name": "subscriber_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Subscriber events",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SuccessResponse"
                }
              }
            }
          }
        }
      }
    },
    "/subscribers/{subscriber_id}/phone": {
      "delete": {
        "operationId": "removeSubscriberPhone",
        "summary": "Remove phone from subscriber",
        "description": "Remove the phone number from a subscriber.",
        "tags": [
          "Subscribers"
        ],
        "parameters": [
          {
            "name": "subscriber_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Phone removed"
          },
          "404": {
            "description": "Not found"
          }
        }
      }
    },
    "/groups": {
      "get": {
        "operationId": "listGroups",
        "summary": "List all groups",
        "description": "Retrieve a list of all subscriber groups.",
        "tags": [
          "Groups"
        ],
        "responses": {
          "200": {
            "description": "Group list",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PaginatedResponse"
                }
              }
            }
          }
        }
      },
      "post": {
        "operationId": "createGroup",
        "summary": "Create a group",
        "description": "Create a new subscriber group.",
        "tags": [
          "Groups"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "title": {
                    "type": "string"
                  }
                },
                "required": [
                  "title"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Group created",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SuccessResponse"
                }
              }
            }
          }
        }
      }
    },
    "/groups/{group_id}": {
      "get": {
        "operationId": "getGroup",
        "summary": "Get group details",
        "description": "Get details of a specific group.",
        "tags": [
          "Groups"
        ],
        "parameters": [
          {
            "name": "group_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Group details",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SuccessResponse"
                }
              }
            }
          }
        }
      },
      "patch": {
        "operationId": "updateGroup",
        "summary": "Rename group",
        "description": "Rename a subscriber group.",
        "tags": [
          "Groups"
        ],
        "parameters": [
          {
            "name": "group_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "title": {
                    "type": "string"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Group renamed"
          }
        }
      },
      "delete": {
        "operationId": "deleteGroup",
        "summary": "Delete a group",
        "description": "Delete a subscriber group.",
        "tags": [
          "Groups"
        ],
        "parameters": [
          {
            "name": "group_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Group deleted"
          }
        }
      }
    },
    "/groups/{group_id}/subscribers": {
      "get": {
        "operationId": "listGroupSubscribers",
        "summary": "List subscribers in a group",
        "description": "Get a paginated list of subscribers within a specific group.",
        "tags": [
          "Groups"
        ],
        "parameters": [
          {
            "name": "group_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "page",
            "in": "query",
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Subscriber list",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PaginatedResponse"
                }
              }
            }
          }
        }
      }
    },
    "/segments": {
      "get": {
        "operationId": "listSegments",
        "summary": "List all segments",
        "description": "Retrieve a list of all subscriber segments.",
        "tags": [
          "Segments"
        ],
        "responses": {
          "200": {
            "description": "Segment list",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PaginatedResponse"
                }
              }
            }
          }
        }
      }
    },
    "/segments/{segment_id}": {
      "get": {
        "operationId": "getSegment",
        "summary": "Get segment details",
        "description": "Get details of a specific segment.",
        "tags": [
          "Segments"
        ],
        "parameters": [
          {
            "name": "segment_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Segment details",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SuccessResponse"
                }
              }
            }
          }
        }
      },
      "delete": {
        "operationId": "deleteSegment",
        "summary": "Delete a segment",
        "description": "Delete a subscriber segment.",
        "tags": [
          "Segments"
        ],
        "parameters": [
          {
            "name": "segment_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Segment deleted"
          }
        }
      }
    },
    "/segments/{segment_id}/subscribers": {
      "get": {
        "operationId": "listSegmentSubscribers",
        "summary": "List subscribers in a segment",
        "description": "Get a paginated list of subscribers in a segment.",
        "tags": [
          "Segments"
        ],
        "parameters": [
          {
            "name": "segment_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "page",
            "in": "query",
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Subscriber list",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PaginatedResponse"
                }
              }
            }
          }
        }
      }
    },
    "/fields": {
      "get": {
        "operationId": "getFields",
        "summary": "Get all fields",
        "description": "Retrieve all custom subscriber fields.",
        "tags": [
          "Fields"
        ],
        "responses": {
          "200": {
            "description": "Field list",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SuccessResponse"
                }
              }
            }
          }
        }
      },
      "post": {
        "operationId": "createField",
        "summary": "Create new field",
        "description": "Create a new custom subscriber field.",
        "tags": [
          "Fields"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "title": {
                    "type": "string"
                  },
                  "type": {
                    "type": "string",
                    "enum": [
                      "text",
                      "number",
                      "date"
                    ]
                  }
                },
                "required": [
                  "title",
                  "type"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Field created",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SuccessResponse"
                }
              }
            }
          }
        }
      }
    },
    "/fields/{field_id}": {
      "patch": {
        "operationId": "renameField",
        "summary": "Rename a field",
        "description": "Rename a custom subscriber field.",
        "tags": [
          "Fields"
        ],
        "parameters": [
          {
            "name": "field_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "title": {
                    "type": "string"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Field renamed"
          }
        }
      },
      "delete": {
        "operationId": "deleteField",
        "summary": "Delete a field",
        "description": "Delete a custom subscriber field.",
        "tags": [
          "Fields"
        ],
        "parameters": [
          {
            "name": "field_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Field deleted"
          }
        }
      }
    },
    "/campaigns": {
      "get": {
        "operationId": "listCampaigns",
        "summary": "Get all campaigns",
        "description": "Get a paginated list of all campaigns.",
        "tags": [
          "Campaigns"
        ],
        "parameters": [
          {
            "name": "page",
            "in": "query",
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Campaign list",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PaginatedResponse"
                }
              }
            }
          }
        }
      },
      "post": {
        "operationId": "createCampaign",
        "summary": "Create a campaign",
        "description": "Create a new email campaign with subject, content, and target groups/segments.",
        "tags": [
          "Campaigns"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CampaignCreateRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Campaign created",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SuccessResponse"
                }
              }
            }
          }
        }
      }
    },
    "/campaigns/{campaign_id}": {
      "get": {
        "operationId": "getCampaign",
        "summary": "Get campaign details",
        "description": "Get details of a specific campaign.",
        "tags": [
          "Campaigns"
        ],
        "parameters": [
          {
            "name": "campaign_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Campaign details",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SuccessResponse"
                }
              }
            }
          }
        }
      },
      "delete": {
        "operationId": "deleteCampaign",
        "summary": "Delete campaign",
        "description": "Delete a campaign by ID.",
        "tags": [
          "Campaigns"
        ],
        "parameters": [
          {
            "name": "campaign_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Campaign deleted"
          }
        }
      }
    },
    "/campaigns/{campaign_id}/send": {
      "post": {
        "operationId": "sendCampaign",
        "summary": "Send a campaign",
        "description": "Send a campaign immediately.",
        "tags": [
          "Campaigns"
        ],
        "parameters": [
          {
            "name": "campaign_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Campaign sent"
          },
          "400": {
            "description": "Bad request"
          }
        }
      }
    },
    "/campaigns/{campaign_id}/schedule": {
      "post": {
        "operationId": "scheduleCampaign",
        "summary": "Schedule send",
        "description": "Schedule a campaign for future sending.",
        "tags": [
          "Campaigns"
        ],
        "parameters": [
          {
            "name": "campaign_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "date": {
                    "type": "string",
                    "format": "date-time"
                  }
                },
                "required": [
                  "date"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Campaign scheduled"
          }
        }
      }
    },
    "/campaigns/{campaign_id}/cancel-schedule": {
      "post": {
        "operationId": "cancelSchedule",
        "summary": "Cancel scheduled campaign",
        "description": "Cancel a scheduled campaign.",
        "tags": [
          "Campaigns"
        ],
        "parameters": [
          {
            "name": "campaign_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Schedule cancelled"
          }
        }
      }
    },
    "/campaigns/{campaign_id}/cancel-followup": {
      "post": {
        "operationId": "cancelFollowup",
        "summary": "Cancel a follow-up campaign",
        "description": "Cancel the automatic follow-up for a campaign.",
        "tags": [
          "Campaigns"
        ],
        "parameters": [
          {
            "name": "campaign_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Follow-up cancelled"
          }
        }
      }
    },
    "/campaigns/{campaign_id}/copy": {
      "post": {
        "operationId": "copyCampaign",
        "summary": "Copy a campaign",
        "description": "Create a copy of an existing campaign.",
        "tags": [
          "Campaigns"
        ],
        "parameters": [
          {
            "name": "campaign_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Campaign copied",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SuccessResponse"
                }
              }
            }
          }
        }
      }
    },
    "/campaigns/{campaign_id}/errors": {
      "get": {
        "operationId": "getCampaignErrors",
        "summary": "Get campaign errors",
        "description": "Get delivery errors for a campaign.",
        "tags": [
          "Statistics"
        ],
        "parameters": [
          {
            "name": "campaign_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Campaign errors"
          }
        }
      }
    },
    "/campaigns/{campaign_id}/statistics/opens": {
      "get": {
        "operationId": "getCampaignOpens",
        "summary": "List campaign opens",
        "description": "Get open statistics for a campaign.",
        "tags": [
          "Statistics"
        ],
        "parameters": [
          {
            "name": "campaign_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Open statistics"
          }
        }
      }
    },
    "/campaigns/{campaign_id}/statistics/clicks": {
      "get": {
        "operationId": "getCampaignClicks",
        "summary": "List campaign clicks",
        "description": "Get click statistics for a campaign.",
        "tags": [
          "Statistics"
        ],
        "parameters": [
          {
            "name": "campaign_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Click statistics"
          }
        }
      }
    },
    "/campaigns/{campaign_id}/statistics/sents": {
      "get": {
        "operationId": "getCampaignSents",
        "summary": "Get sent emails",
        "description": "Get sent email statistics for a campaign.",
        "tags": [
          "Statistics"
        ],
        "parameters": [
          {
            "name": "campaign_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Sent statistics"
          }
        }
      }
    },
    "/campaigns/{campaign_id}/statistics/hard-bounces": {
      "get": {
        "operationId": "getCampaignHardBounces",
        "summary": "Get hard bounces",
        "description": "Get hard bounce statistics for a campaign.",
        "tags": [
          "Statistics"
        ],
        "parameters": [
          {
            "name": "campaign_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Hard bounce statistics"
          }
        }
      }
    },
    "/campaigns/{campaign_id}/statistics/soft-bounces": {
      "get": {
        "operationId": "getCampaignSoftBounces",
        "summary": "Get soft bounces",
        "description": "Get soft bounce statistics for a campaign.",
        "tags": [
          "Statistics"
        ],
        "parameters": [
          {
            "name": "campaign_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Soft bounce statistics"
          }
        }
      }
    },
    "/campaigns/{campaign_id}/statistics/complaints": {
      "get": {
        "operationId": "getCampaignComplaints",
        "summary": "Get spam reports",
        "description": "Get spam complaint statistics for a campaign.",
        "tags": [
          "Statistics"
        ],
        "parameters": [
          {
            "name": "campaign_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Complaint statistics"
          }
        }
      }
    },
    "/campaigns/{campaign_id}/statistics/unsubscribes": {
      "get": {
        "operationId": "getCampaignUnsubscribes",
        "summary": "Get unsubscribes",
        "description": "Get unsubscribe statistics for a campaign.",
        "tags": [
          "Statistics"
        ],
        "parameters": [
          {
            "name": "campaign_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Unsubscribe statistics"
          }
        }
      }
    },
    "/campaigns/{campaign_id}/statistics/group-percentages": {
      "get": {
        "operationId": "getCampaignGroupPerformance",
        "summary": "Get performance by group",
        "description": "Get campaign performance breakdown by subscriber group.",
        "tags": [
          "Statistics"
        ],
        "parameters": [
          {
            "name": "campaign_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Group performance data"
          }
        }
      }
    },
    "/transactional-campaigns": {
      "get": {
        "operationId": "listTransactionalCampaigns",
        "summary": "Get all transactional campaigns",
        "description": "List all transactional campaigns.",
        "tags": [
          "Transactional Campaigns"
        ],
        "responses": {
          "200": {
            "description": "Transactional campaign list"
          }
        }
      },
      "post": {
        "operationId": "createTransactionalCampaign",
        "summary": "Create transactional campaign",
        "description": "Create a new transactional campaign.",
        "tags": [
          "Transactional Campaigns"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "title": {
                    "type": "string"
                  },
                  "subject": {
                    "type": "string"
                  },
                  "from": {
                    "type": "string"
                  },
                  "reply_to": {
                    "type": "string"
                  },
                  "content_type": {
                    "type": "string",
                    "enum": [
                      "editor",
                      "html",
                      "text"
                    ]
                  },
                  "content": {
                    "type": "string"
                  }
                },
                "required": [
                  "subject",
                  "from",
                  "reply_to",
                  "content_type"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Transactional campaign created"
          }
        }
      }
    },
    "/transactional-campaigns/{campaign_id}": {
      "delete": {
        "operationId": "deleteTransactionalCampaign",
        "summary": "Delete transactional campaign",
        "description": "Delete a transactional campaign by ID.",
        "tags": [
          "Transactional Campaigns"
        ],
        "parameters": [
          {
            "name": "campaign_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Campaign deleted"
          }
        }
      }
    }
  },
  "components": {
    "schemas": {
      "SubscriberCreateRequest": {
        "type": "object",
        "properties": {
          "email": {
            "type": "string",
            "format": "email"
          },
          "firstname": {
            "type": "string"
          },
          "lastname": {
            "type": "string"
          },
          "groups": {
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "fields": {
            "type": "object",
            "additionalProperties": true
          },
          "phone": {
            "type": "string"
          },
          "trigger_automation": {
            "type": "boolean",
            "default": true
          }
        },
        "required": [
          "email"
        ]
      },
      "SubscriberUpdateRequest": {
        "type": "object",
        "properties": {
          "email": {
            "type": "string",
            "format": "email"
          },
          "firstname": {
            "type": "string"
          },
          "lastname": {
            "type": "string"
          },
          "groups": {
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "fields": {
            "type": "object",
            "additionalProperties": true
          },
          "phone": {
            "type": "string"
          }
        }
      },
      "CampaignCreateRequest": {
        "type": "object",
        "properties": {
          "title": {
            "type": "string"
          },
          "subject": {
            "type": "string"
          },
          "from": {
            "type": "string"
          },
          "preheader": {
            "type": "string"
          },
          "reply_to": {
            "type": "string"
          },
          "content_type": {
            "type": "string",
            "enum": [
              "editor",
              "html",
              "text"
            ]
          },
          "google_analytics": {
            "type": "integer",
            "enum": [
              0,
              1
            ]
          },
          "auto_followup_subject": {
            "type": "string"
          },
          "auto_followup_delay": {
            "type": "integer",
            "enum": [
              12,
              24,
              48,
              72,
              96,
              120,
              144,
              168
            ]
          },
          "auto_followup_active": {
            "type": "boolean"
          },
          "groups": {
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "segments": {
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "content": {
            "type": "string"
          }
        },
        "required": [
          "subject",
          "from",
          "reply_to",
          "content_type"
        ]
      },
      "SuccessResponse": {
        "type": "object",
        "properties": {
          "success": {
            "type": "boolean"
          },
          "message": {
            "type": "string"
          },
          "data": {
            "type": "object"
          }
        }
      },
      "PaginatedResponse": {
        "type": "object",
        "properties": {
          "success": {
            "type": "boolean"
          },
          "data": {
            "type": "array",
            "items": {
              "type": "object"
            }
          },
          "links": {
            "type": "object"
          },
          "meta": {
            "type": "object",
            "properties": {
              "current_page": {
                "type": "integer"
              },
              "last_page": {
                "type": "integer"
              },
              "per_page": {
                "type": "integer"
              },
              "total": {
                "type": "integer"
              }
            }
          }
        }
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "scheme": "bearer",
        "description": "API access token from Settings > API access tokens"
      }
    }
  },
  "security": [
    {
      "bearerAuth": []
    }
  ],
  "tags": [
    {
      "name": "Campaigns"
    },
    {
      "name": "Fields"
    },
    {
      "name": "Groups"
    },
    {
      "name": "Segments"
    },
    {
      "name": "Statistics"
    },
    {
      "name": "Subscribers"
    },
    {
      "name": "Transactional Campaigns"
    }
  ]
}
