{
  "openapi": "3.0.3",
  "info": {
    "title": "Smokevana ERP API",
    "version": "1.0.0",
    "description": "Auto-generated OpenAPI description derived from `routes/api.php`. Schemas are intentionally loose (`type: object`) because request/response payloads are handled dynamically inside the controllers. Refine them as controller contracts become clearer.\n",
    "x-jentic-source-url": "https://api.swaggerhub.com/apis/Phantasm_55/smokevana-erp-api/1.0.0"
  },
  "servers": [
    {
      "url": "https://smokevanaerp.phantasm.solutions/api",
      "description": "Production API server"
    },
    {
      "url": "http://localhost/api",
      "description": "Local development server"
    }
  ],
  "tags": [
    {
      "name": "Auth",
      "description": "Authentication and session endpoints"
    },
    {
      "name": "B2B Customer"
    },
    {
      "name": "B2B Cart"
    },
    {
      "name": "B2B Orders"
    },
    {
      "name": "B2B Discounts"
    },
    {
      "name": "B2B Payments"
    },
    {
      "name": "B2B Business Identification"
    },
    {
      "name": "Merchant"
    },
    {
      "name": "Catalog"
    },
    {
      "name": "Staff Auth"
    },
    {
      "name": "Staff Leads"
    },
    {
      "name": "Staff Tickets"
    },
    {
      "name": "Staff Map"
    },
    {
      "name": "Staff Products"
    },
    {
      "name": "Staff Orders"
    },
    {
      "name": "Staff Payments"
    },
    {
      "name": "B2C Public"
    },
    {
      "name": "B2C Auth"
    },
    {
      "name": "B2C Cart"
    },
    {
      "name": "B2C Guest"
    },
    {
      "name": "Stock Alerts"
    },
    {
      "name": "Products"
    }
  ],
  "paths": {
    "/user": {
      "get": {
        "tags": [
          "Auth"
        ],
        "summary": "Get authenticated user",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "Current authenticated user",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        }
      }
    },
    "/img": {
      "post": {
        "tags": [
          "Products"
        ],
        "summary": "Upload business image",
        "requestBody": {
          "required": true,
          "content": {
            "multipart/form-data": {
              "schema": {
                "type": "object",
                "additionalProperties": true
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Image uploaded"
          }
        }
      }
    },
    "/customer/login": {
      "post": {
        "tags": [
          "Auth"
        ],
        "summary": "Customer login (B2B)",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Authenticated"
          }
        }
      }
    },
    "/customer/register": {
      "post": {
        "tags": [
          "Auth"
        ],
        "summary": "Customer registration (B2B)",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Registered"
          }
        }
      }
    },
    "/customer/forgot-password": {
      "post": {
        "tags": [
          "Auth"
        ],
        "summary": "Send reset link (B2B)",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Reset link sent"
          }
        }
      }
    },
    "/customer/set-password": {
      "post": {
        "tags": [
          "Auth"
        ],
        "summary": "Reset password (B2B)",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Password updated"
          }
        }
      }
    },
    "/customer/contact-us": {
      "post": {
        "tags": [
          "B2B Customer"
        ],
        "summary": "Contact support (B2B)",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Submitted"
          }
        }
      }
    },
    "/customer/subscribe": {
      "post": {
        "tags": [
          "B2B Customer"
        ],
        "summary": "Subscribe to newsletter",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Subscribed"
          }
        }
      }
    },
    "/customer/unsubscribe": {
      "post": {
        "tags": [
          "B2B Customer"
        ],
        "summary": "Unsubscribe from newsletter",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Unsubscribed"
          }
        }
      },
      "get": {
        "tags": [
          "B2B Customer"
        ],
        "summary": "Confirm unsubscribe (B2B)",
        "responses": {
          "200": {
            "description": "Unsubscribed"
          }
        }
      }
    },
    "/customer/refresh-token": {
      "post": {
        "tags": [
          "Auth"
        ],
        "summary": "Refresh JWT token (B2B)",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Token refreshed"
          }
        }
      }
    },
    "/customer/notification": {
      "get": {
        "tags": [
          "B2B Customer"
        ],
        "summary": "Get customer notifications",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "Notifications list"
          }
        }
      }
    },
    "/customer/logout": {
      "get": {
        "tags": [
          "Auth"
        ],
        "summary": "Logout customer",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "responses": {
          "204": {
            "description": "Logged out"
          }
        }
      }
    },
    "/sells/voidSell/{id}": {
      "delete": {
        "tags": [
          "B2B Orders"
        ],
        "summary": "Void POS sell",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/IdParam"
          }
        ],
        "responses": {
          "200": {
            "description": "Sale voided"
          }
        }
      }
    },
    "/sells/cancel/{id}": {
      "post": {
        "tags": [
          "B2B Orders"
        ],
        "summary": "Cancel sales order",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/IdParam"
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Order cancelled"
          }
        }
      }
    },
    "/customer/my-account": {
      "get": {
        "tags": [
          "B2B Customer"
        ],
        "summary": "View customer profile",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "Account details"
          }
        }
      }
    },
    "/customer/my-orders": {
      "get": {
        "tags": [
          "B2B Orders"
        ],
        "summary": "List customer orders",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "Orders list"
          }
        }
      }
    },
    "/customer/my-invoices": {
      "get": {
        "tags": [
          "B2B Orders"
        ],
        "summary": "List customer invoices",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "Invoices list"
          }
        }
      }
    },
    "/customer/my-order/{orderId}": {
      "get": {
        "tags": [
          "B2B Orders"
        ],
        "summary": "Get order details",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/OrderIdParam"
          }
        ],
        "responses": {
          "200": {
            "description": "Order detail"
          }
        }
      }
    },
    "/customer/my-order-print/{orderId}": {
      "get": {
        "tags": [
          "B2B Orders"
        ],
        "summary": "Print order invoice",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/OrderIdParam"
          }
        ],
        "responses": {
          "200": {
            "description": "Printable invoice"
          }
        }
      }
    },
    "/customer/return-invoice": {
      "post": {
        "tags": [
          "B2B Orders"
        ],
        "summary": "Submit return invoice (B2B)",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Return submitted"
          }
        }
      }
    },
    "/customer/update-address": {
      "post": {
        "tags": [
          "B2B Customer"
        ],
        "summary": "Update checkout address",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Address updated"
          }
        }
      }
    },
    "/customer/saved-addresses": {
      "get": {
        "tags": [
          "B2B Customer"
        ],
        "summary": "List saved addresses",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "Saved addresses"
          }
        }
      }
    },
    "/customer/create-saved-address": {
      "post": {
        "tags": [
          "B2B Customer"
        ],
        "summary": "Create saved address",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Created"
          }
        }
      }
    },
    "/customer/get-saved-address/{id}": {
      "get": {
        "tags": [
          "B2B Customer"
        ],
        "summary": "Get saved address",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/IdParam"
          }
        ],
        "responses": {
          "200": {
            "description": "Address"
          }
        }
      }
    },
    "/customer/update-saved-address/{id}": {
      "put": {
        "tags": [
          "B2B Customer"
        ],
        "summary": "Update saved address",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/IdParam"
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Updated"
          }
        }
      }
    },
    "/customer/delete-saved-address/{id}": {
      "delete": {
        "tags": [
          "B2B Customer"
        ],
        "summary": "Delete saved address",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/IdParam"
          }
        ],
        "responses": {
          "204": {
            "description": "Deleted"
          }
        }
      }
    },
    "/customer/set-default-address/{id}": {
      "post": {
        "tags": [
          "B2B Customer"
        ],
        "summary": "Set default address",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/IdParam"
          }
        ],
        "responses": {
          "200": {
            "description": "Default updated"
          }
        }
      }
    },
    "/customer/update": {
      "put": {
        "tags": [
          "B2B Customer"
        ],
        "summary": "Update customer profile (B2B)",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Updated"
          }
        }
      }
    },
    "/credit-applications": {
      "post": {
        "tags": [
          "B2B Customer"
        ],
        "summary": "Submit credit application",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Application submitted"
          }
        }
      },
      "get": {
        "tags": [
          "B2B Customer"
        ],
        "summary": "List credit applications",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "Applications list"
          }
        }
      }
    },
    "/cart": {
      "get": {
        "tags": [
          "B2B Cart"
        ],
        "summary": "Get cart",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "Cart"
          }
        }
      },
      "post": {
        "tags": [
          "B2B Cart"
        ],
        "summary": "Bulk add or update cart",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Cart updated"
          }
        }
      },
      "delete": {
        "tags": [
          "B2B Cart"
        ],
        "summary": "Delete single cart item (by payload)",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object"
              }
            }
          }
        },
        "responses": {
          "204": {
            "description": "Item removed"
          }
        }
      }
    },
    "/cart/empty": {
      "delete": {
        "tags": [
          "B2B Cart"
        ],
        "summary": "Empty cart",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "responses": {
          "204": {
            "description": "Cart emptied"
          }
        }
      }
    },
    "/cart/reduce": {
      "post": {
        "tags": [
          "B2B Cart"
        ],
        "summary": "Reduce item quantity",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Quantity updated"
          }
        }
      }
    },
    "/cart/restricted/{itemId}": {
      "delete": {
        "tags": [
          "B2B Cart"
        ],
        "summary": "Remove restricted item",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/ItemIdParamOptional"
          }
        ],
        "responses": {
          "204": {
            "description": "Removed"
          }
        }
      }
    },
    "/checkout-address": {
      "get": {
        "tags": [
          "B2B Cart"
        ],
        "summary": "Get checkout address",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "Address"
          }
        }
      },
      "post": {
        "tags": [
          "B2B Cart"
        ],
        "summary": "Set checkout address",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Address stored"
          }
        }
      }
    },
    "/cart/apply-discount": {
      "post": {
        "tags": [
          "B2B Discounts"
        ],
        "summary": "Apply cart discount",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Discount applied"
          }
        }
      }
    },
    "/cart/remove-discount": {
      "post": {
        "tags": [
          "B2B Discounts"
        ],
        "summary": "Remove cart discount",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "Discount removed"
          }
        }
      }
    },
    "/get-pay-contact-due": {
      "get": {
        "tags": [
          "B2B Payments"
        ],
        "summary": "Get contact due",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "Contact due info"
          }
        }
      }
    },
    "/pay-contact-due": {
      "post": {
        "tags": [
          "B2B Payments"
        ],
        "summary": "Pay contact due",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Payment processed"
          }
        }
      }
    },
    "/process-order-payment": {
      "post": {
        "tags": [
          "B2B Payments"
        ],
        "summary": "Process order payment",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Payment processed"
          }
        }
      }
    },
    "/customer/discounts": {
      "get": {
        "tags": [
          "B2B Discounts"
        ],
        "summary": "Get running discounts (authenticated)",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "Discounts list"
          }
        }
      }
    },
    "/wishlist": {
      "get": {
        "tags": [
          "B2B Customer"
        ],
        "summary": "List wishlist items",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "Wishlist"
          }
        }
      },
      "post": {
        "tags": [
          "B2B Customer"
        ],
        "summary": "Add item to wishlist",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Wishlist item created"
          }
        }
      }
    },
    "/wishlist/{wishlist}": {
      "get": {
        "tags": [
          "B2B Customer"
        ],
        "summary": "View wishlist item",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/WishlistIdParam"
          }
        ],
        "responses": {
          "200": {
            "description": "Wishlist item"
          }
        }
      },
      "put": {
        "tags": [
          "B2B Customer"
        ],
        "summary": "Update wishlist item",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/WishlistIdParam"
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Updated"
          }
        }
      },
      "delete": {
        "tags": [
          "B2B Customer"
        ],
        "summary": "Remove wishlist item",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/WishlistIdParam"
          }
        ],
        "responses": {
          "204": {
            "description": "Deleted"
          }
        }
      }
    },
    "/customer/reviews": {
      "get": {
        "tags": [
          "B2B Customer"
        ],
        "summary": "List customer reviews",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "Reviews"
          }
        }
      },
      "post": {
        "tags": [
          "B2B Customer"
        ],
        "summary": "Create customer review",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Created"
          }
        }
      }
    },
    "/customer/reviews/{id}": {
      "get": {
        "tags": [
          "B2B Customer"
        ],
        "summary": "Show review",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/IdParam"
          }
        ],
        "responses": {
          "200": {
            "description": "Review"
          }
        }
      },
      "put": {
        "tags": [
          "B2B Customer"
        ],
        "summary": "Update review",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/IdParam"
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Updated"
          }
        }
      },
      "delete": {
        "tags": [
          "B2B Customer"
        ],
        "summary": "Delete review",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/IdParam"
          }
        ],
        "responses": {
          "204": {
            "description": "Deleted"
          }
        }
      }
    },
    "/customer/reviews/{id}/like": {
      "post": {
        "tags": [
          "B2B Customer"
        ],
        "summary": "Toggle review like",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/IdParam"
          }
        ],
        "responses": {
          "200": {
            "description": "Like toggled"
          }
        }
      }
    },
    "/customer/complaints": {
      "get": {
        "tags": [
          "B2B Customer"
        ],
        "summary": "List complaints",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "Complaints"
          }
        }
      },
      "post": {
        "tags": [
          "B2B Customer"
        ],
        "summary": "Create complaint",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Complaint created"
          }
        }
      }
    },
    "/customer/complaints/{id}": {
      "get": {
        "tags": [
          "B2B Customer"
        ],
        "summary": "View complaint",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/IdParam"
          }
        ],
        "responses": {
          "200": {
            "description": "Complaint detail"
          }
        }
      },
      "put": {
        "tags": [
          "B2B Customer"
        ],
        "summary": "Update complaint",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/IdParam"
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Updated"
          }
        }
      }
    },
    "/customer/business-identifications": {
      "get": {
        "tags": [
          "B2B Business Identification"
        ],
        "summary": "List business identification records",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "Identification list"
          }
        }
      },
      "post": {
        "tags": [
          "B2B Business Identification"
        ],
        "summary": "Create business identification",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Created"
          }
        }
      }
    },
    "/customer/business-identifications/{id}": {
      "get": {
        "tags": [
          "B2B Business Identification"
        ],
        "summary": "Get business identification",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/IdParam"
          }
        ],
        "responses": {
          "200": {
            "description": "Identification detail"
          }
        }
      },
      "put": {
        "tags": [
          "B2B Business Identification"
        ],
        "summary": "Update business identification",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/IdParam"
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Updated"
          }
        }
      }
    },
    "/process-order": {
      "post": {
        "tags": [
          "B2B Payments"
        ],
        "summary": "Process order payment (public)",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Processed"
          }
        }
      }
    },
    "/payment-of-sales-order": {
      "post": {
        "tags": [
          "B2B Payments"
        ],
        "summary": "Process sales order payment",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Processed"
          }
        }
      }
    },
    "/merchant-application": {
      "post": {
        "tags": [
          "Merchant"
        ],
        "summary": "Submit merchant application",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Application submitted"
          }
        }
      }
    },
    "/category-product/{slugs}": {
      "get": {
        "tags": [
          "Catalog"
        ],
        "summary": "Get products by categories",
        "parameters": [
          {
            "$ref": "#/components/parameters/SlugsParam"
          }
        ],
        "responses": {
          "200": {
            "description": "Product list"
          }
        }
      }
    },
    "/multi-category/{slugs}": {
      "get": {
        "tags": [
          "Catalog"
        ],
        "summary": "Get multi-category listing",
        "parameters": [
          {
            "$ref": "#/components/parameters/SlugsParam"
          }
        ],
        "responses": {
          "200": {
            "description": "Product list"
          }
        }
      }
    },
    "/shop": {
      "get": {
        "tags": [
          "Catalog"
        ],
        "summary": "Shop products",
        "responses": {
          "200": {
            "description": "Product listing"
          }
        }
      }
    },
    "/brand-product/{slug}": {
      "get": {
        "tags": [
          "Catalog"
        ],
        "summary": "Get products by brand",
        "parameters": [
          {
            "$ref": "#/components/parameters/SlugParam"
          }
        ],
        "responses": {
          "200": {
            "description": "Brand listing"
          }
        }
      }
    },
    "/search": {
      "get": {
        "tags": [
          "Catalog"
        ],
        "summary": "Search catalog",
        "parameters": [
          {
            "in": "query",
            "name": "q",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Search results"
          }
        }
      }
    },
    "/all-product": {
      "get": {
        "tags": [
          "Catalog"
        ],
        "summary": "Get all products",
        "responses": {
          "200": {
            "description": "Product list"
          }
        }
      }
    },
    "/brand-category-menu": {
      "get": {
        "tags": [
          "Catalog"
        ],
        "summary": "Get brand/category menu",
        "responses": {
          "200": {
            "description": "Menu"
          }
        }
      }
    },
    "/brand-category-menu-cat2brand": {
      "get": {
        "tags": [
          "Catalog"
        ],
        "summary": "Get category to brand menu",
        "responses": {
          "200": {
            "description": "Menu"
          }
        }
      }
    },
    "/brand-list": {
      "get": {
        "tags": [
          "Catalog"
        ],
        "summary": "List brands",
        "responses": {
          "200": {
            "description": "Brand list"
          }
        }
      }
    },
    "/product/{slug}": {
      "get": {
        "tags": [
          "Catalog"
        ],
        "summary": "Get product by slug",
        "parameters": [
          {
            "$ref": "#/components/parameters/SlugParam"
          }
        ],
        "responses": {
          "200": {
            "description": "Product detail"
          }
        }
      }
    },
    "/product-list/{slug}": {
      "get": {
        "tags": [
          "Catalog"
        ],
        "summary": "Get product list by slug",
        "parameters": [
          {
            "$ref": "#/components/parameters/SlugParam"
          }
        ],
        "responses": {
          "200": {
            "description": "Product list"
          }
        }
      }
    },
    "/product/{productId}/reviews": {
      "get": {
        "tags": [
          "Catalog"
        ],
        "summary": "Get product reviews",
        "parameters": [
          {
            "$ref": "#/components/parameters/ProductIdParam"
          }
        ],
        "responses": {
          "200": {
            "description": "Reviews"
          }
        }
      }
    },
    "/reviews/{id}/like": {
      "post": {
        "tags": [
          "Catalog"
        ],
        "summary": "Like review (public)",
        "parameters": [
          {
            "$ref": "#/components/parameters/IdParam"
          }
        ],
        "responses": {
          "200": {
            "description": "Like toggled"
          }
        }
      }
    },
    "/discounts": {
      "get": {
        "tags": [
          "Catalog"
        ],
        "summary": "Get public discounts",
        "responses": {
          "200": {
            "description": "Discounts"
          }
        }
      }
    },
    "/test-email": {
      "post": {
        "tags": [
          "Products"
        ],
        "summary": "Test email configuration",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Test email result"
          }
        }
      }
    },
    "/sync-user": {
      "get": {
        "tags": [
          "Catalog"
        ],
        "summary": "Sync user catalog data",
        "responses": {
          "200": {
            "description": "Sync dispatched"
          }
        }
      }
    },
    "/staff/login": {
      "post": {
        "tags": [
          "Staff Auth"
        ],
        "summary": "Staff login",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Authenticated"
          }
        }
      }
    },
    "/staff/profile": {
      "get": {
        "tags": [
          "Staff Auth"
        ],
        "summary": "Get staff profile",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "Profile"
          }
        }
      }
    },
    "/staff/logging-active/{status}": {
      "post": {
        "tags": [
          "Staff Auth"
        ],
        "summary": "Set logging active status",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "in": "path",
            "name": "status",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Status updated"
          }
        }
      }
    },
    "/staff/currunt-status": {
      "post": {
        "tags": [
          "Staff Auth"
        ],
        "summary": "Update staff current status",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "Status updated"
          }
        }
      }
    },
    "/staff/update-fcm-token": {
      "post": {
        "tags": [
          "Staff Auth"
        ],
        "summary": "Update FCM token",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Token stored"
          }
        }
      }
    },
    "/staff/start-shift": {
      "post": {
        "tags": [
          "Staff Auth"
        ],
        "summary": "Start staff shift",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "Shift started"
          }
        }
      }
    },
    "/staff/end-shift": {
      "post": {
        "tags": [
          "Staff Auth"
        ],
        "summary": "End staff shift",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "Shift ended"
          }
        }
      }
    },
    "/staff/dashboard/today-activities": {
      "get": {
        "tags": [
          "Staff Auth"
        ],
        "summary": "Get today's activities",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "Activities"
          }
        }
      }
    },
    "/staff/dashboard/stats": {
      "get": {
        "tags": [
          "Staff Auth"
        ],
        "summary": "Get dashboard stats",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "Stats"
          }
        }
      }
    },
    "/staff/picking-orders": {
      "get": {
        "tags": [
          "Staff Orders"
        ],
        "summary": "List picking orders",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "Orders"
          }
        }
      }
    },
    "/staff/picking-order/{id}": {
      "get": {
        "tags": [
          "Staff Orders"
        ],
        "summary": "View picking order",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/IdParam"
          }
        ],
        "responses": {
          "200": {
            "description": "Order detail"
          }
        }
      }
    },
    "/staff/picking-order/item": {
      "post": {
        "tags": [
          "Staff Orders"
        ],
        "summary": "Store manual pick item",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Stored"
          }
        }
      }
    },
    "/staff/picking-order/revert": {
      "post": {
        "tags": [
          "Staff Orders"
        ],
        "summary": "Revert picking action",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "Reverted"
          }
        }
      }
    },
    "/staff/picking-order/reset": {
      "post": {
        "tags": [
          "Staff Orders"
        ],
        "summary": "Reset picking workflow",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "Reset"
          }
        }
      }
    },
    "/staff/picking-order/status": {
      "post": {
        "tags": [
          "Staff Orders"
        ],
        "summary": "Update picking status",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "Status updated"
          }
        }
      }
    },
    "/staff/picking-order/verify": {
      "post": {
        "tags": [
          "Staff Orders"
        ],
        "summary": "Verify picking",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "Verified"
          }
        }
      }
    },
    "/staff/picking-order/start-time": {
      "post": {
        "tags": [
          "Staff Orders"
        ],
        "summary": "Store picking start time",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "Stored"
          }
        }
      }
    },
    "/staff/picking-order/end-time": {
      "post": {
        "tags": [
          "Staff Orders"
        ],
        "summary": "Store picking end time",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "Stored"
          }
        }
      }
    },
    "/staff/order/{orderId}/tracking": {
      "post": {
        "tags": [
          "Staff Orders"
        ],
        "summary": "Update order tracking",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/OrderIdParam"
          }
        ],
        "responses": {
          "200": {
            "description": "Tracking updated"
          }
        }
      }
    },
    "/staff/product-lookup": {
      "get": {
        "tags": [
          "Staff Products"
        ],
        "summary": "Lookup product",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "Product info"
          }
        }
      }
    },
    "/staff/create-customer": {
      "post": {
        "tags": [
          "Staff Leads"
        ],
        "summary": "Create customer (commission agent)",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Created"
          }
        }
      }
    },
    "/staff/get-customers": {
      "get": {
        "tags": [
          "Staff Leads"
        ],
        "summary": "List customers",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "Customers"
          }
        }
      }
    },
    "/staff/view-customer/{id}": {
      "get": {
        "tags": [
          "Staff Leads"
        ],
        "summary": "View customer",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/IdParam"
          }
        ],
        "responses": {
          "200": {
            "description": "Customer detail"
          }
        }
      }
    },
    "/staff/get-customer-due/{id}": {
      "get": {
        "tags": [
          "Staff Payments"
        ],
        "summary": "Get customer due",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/IdParam"
          }
        ],
        "responses": {
          "200": {
            "description": "Due info"
          }
        }
      }
    },
    "/staff/get-sell-orders": {
      "get": {
        "tags": [
          "Staff Orders"
        ],
        "summary": "List sell orders",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "Orders"
          }
        }
      }
    },
    "/staff/view-sell-order/{id}": {
      "get": {
        "tags": [
          "Staff Orders"
        ],
        "summary": "View sell order",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/IdParam"
          }
        ],
        "responses": {
          "200": {
            "description": "Order detail"
          }
        }
      }
    },
    "/staff/create-sell": {
      "post": {
        "tags": [
          "Staff Orders"
        ],
        "summary": "Create sell order",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Created"
          }
        }
      }
    },
    "/staff/store-leads": {
      "get": {
        "tags": [
          "Staff Leads"
        ],
        "summary": "List stored leads",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "Leads"
          }
        }
      }
    },
    "/staff/create-leads": {
      "post": {
        "tags": [
          "Staff Leads"
        ],
        "summary": "Create lead",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Created"
          }
        }
      }
    },
    "/staff/store-lead/{id}": {
      "get": {
        "tags": [
          "Staff Leads"
        ],
        "summary": "View stored lead",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/IdParam"
          }
        ],
        "responses": {
          "200": {
            "description": "Lead"
          }
        }
      }
    },
    "/staff/tickets/{lead_id}": {
      "get": {
        "tags": [
          "Staff Tickets"
        ],
        "summary": "List tickets for lead",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/LeadIdParam"
          }
        ],
        "responses": {
          "200": {
            "description": "Tickets"
          }
        }
      }
    },
    "/staff/create-ticket/{lead_id}": {
      "post": {
        "tags": [
          "Staff Tickets"
        ],
        "summary": "Create ticket for lead",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/LeadIdParam"
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Created"
          }
        }
      }
    },
    "/staff/get-ticket/{id}": {
      "get": {
        "tags": [
          "Staff Tickets"
        ],
        "summary": "View ticket",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/IdParam"
          }
        ],
        "responses": {
          "200": {
            "description": "Ticket"
          }
        }
      }
    },
    "/staff/get-ticket-activities/{id}": {
      "get": {
        "tags": [
          "Staff Tickets"
        ],
        "summary": "Get ticket activities",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/IdParam"
          }
        ],
        "responses": {
          "200": {
            "description": "Activities"
          }
        }
      }
    },
    "/staff/add-message-to-ticket/{id}": {
      "post": {
        "tags": [
          "Staff Tickets"
        ],
        "summary": "Add message to ticket",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/IdParam"
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Message added"
          }
        }
      }
    },
    "/staff/update-ticket-status/{id}": {
      "post": {
        "tags": [
          "Staff Tickets"
        ],
        "summary": "Update ticket status",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/IdParam"
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Updated"
          }
        }
      }
    },
    "/staff/admin/tickets/all": {
      "get": {
        "tags": [
          "Staff Tickets"
        ],
        "summary": "List all tickets (admin)",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "Tickets"
          }
        }
      }
    },
    "/staff/admin/close-ticket/{id}": {
      "post": {
        "tags": [
          "Staff Tickets"
        ],
        "summary": "Close ticket (admin)",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/IdParam"
          }
        ],
        "responses": {
          "200": {
            "description": "Closed"
          }
        }
      }
    },
    "/staff/get-sell-invoice": {
      "get": {
        "tags": [
          "Staff Orders"
        ],
        "summary": "List sell invoices",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "Invoices"
          }
        }
      }
    },
    "/staff/view-sell-invoice/{id}": {
      "get": {
        "tags": [
          "Staff Orders"
        ],
        "summary": "View sell invoice",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/IdParam"
          }
        ],
        "responses": {
          "200": {
            "description": "Invoice"
          }
        }
      }
    },
    "/staff/get-products": {
      "get": {
        "tags": [
          "Staff Products"
        ],
        "summary": "List products",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "Products"
          }
        }
      }
    },
    "/staff/get_product_row/{variation_id}/{location_id}": {
      "get": {
        "tags": [
          "Staff Products"
        ],
        "summary": "Get product row by variation and location",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "in": "path",
            "name": "variation_id",
            "required": true,
            "schema": {
              "type": "integer"
            }
          },
          {
            "$ref": "#/components/parameters/LocationIdParam"
          }
        ],
        "responses": {
          "200": {
            "description": "Product row"
          }
        }
      }
    },
    "/staff/list-tax-rates": {
      "get": {
        "tags": [
          "Staff Products"
        ],
        "summary": "List tax rates",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "Tax rates"
          }
        }
      }
    },
    "/staff/leads": {
      "get": {
        "tags": [
          "Staff Leads"
        ],
        "summary": "List leads",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "Leads"
          }
        }
      },
      "post": {
        "tags": [
          "Staff Leads"
        ],
        "summary": "Create lead",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Created"
          }
        }
      }
    },
    "/staff/leads/{id}": {
      "get": {
        "tags": [
          "Staff Leads"
        ],
        "summary": "Show lead",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/IdParam"
          }
        ],
        "responses": {
          "200": {
            "description": "Lead detail"
          }
        }
      },
      "put": {
        "tags": [
          "Staff Leads"
        ],
        "summary": "Update lead",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/IdParam"
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Updated"
          }
        }
      },
      "delete": {
        "tags": [
          "Staff Leads"
        ],
        "summary": "Delete lead",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/IdParam"
          }
        ],
        "responses": {
          "204": {
            "description": "Deleted"
          }
        }
      }
    },
    "/staff/leads/{id}/visit-history": {
      "get": {
        "tags": [
          "Staff Leads"
        ],
        "summary": "Get visit history",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/IdParam"
          }
        ],
        "responses": {
          "200": {
            "description": "Visit history"
          }
        }
      }
    },
    "/staff/visits/all": {
      "get": {
        "tags": [
          "Staff Leads"
        ],
        "summary": "Get all visits",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "Visits"
          }
        }
      }
    },
    "/staff/sales-rep-activities": {
      "get": {
        "tags": [
          "Staff Leads"
        ],
        "summary": "Sales rep activity stats",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "Activity stats"
          }
        }
      }
    },
    "/staff/test-geocode": {
      "post": {
        "tags": [
          "Staff Leads"
        ],
        "summary": "Test geocode",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Result"
          }
        }
      }
    },
    "/staff/geocode-place-id": {
      "post": {
        "tags": [
          "Staff Leads"
        ],
        "summary": "Geocode from place ID",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Result"
          }
        }
      }
    },
    "/staff/map/nearby-leads": {
      "get": {
        "tags": [
          "Staff Map"
        ],
        "summary": "Get nearby leads",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "Leads"
          }
        }
      }
    },
    "/staff/map/add-nearby-lead": {
      "post": {
        "tags": [
          "Staff Map"
        ],
        "summary": "Add nearby lead",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Created"
          }
        }
      }
    },
    "/staff/map/visits": {
      "get": {
        "tags": [
          "Staff Map"
        ],
        "summary": "Get visit history (map)",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "Visits"
          }
        }
      }
    },
    "/staff/map/create-visit": {
      "post": {
        "tags": [
          "Staff Map"
        ],
        "summary": "Create visit",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Created"
          }
        }
      }
    },
    "/staff/map/complete-visit/{id}": {
      "post": {
        "tags": [
          "Staff Map"
        ],
        "summary": "Complete visit",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/IdParam"
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Completed"
          }
        }
      }
    },
    "/staff/map/update-location": {
      "post": {
        "tags": [
          "Staff Map"
        ],
        "summary": "Update staff location",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Updated"
          }
        }
      }
    },
    "/staff/map/sales-rep-locations": {
      "get": {
        "tags": [
          "Staff Map"
        ],
        "summary": "Get sales rep locations",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "Locations"
          }
        }
      }
    },
    "/staff/session-lock/{modelType}/{modelId}": {
      "get": {
        "tags": [
          "Staff Orders"
        ],
        "summary": "Check session lock",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/ModelTypeParam"
          },
          {
            "$ref": "#/components/parameters/ModelIdParam"
          }
        ],
        "responses": {
          "200": {
            "description": "Lock status"
          }
        }
      }
    },
    "/staff/session-ping/{modelType}/{modelId}": {
      "get": {
        "tags": [
          "Staff Orders"
        ],
        "summary": "Ping session lock",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/ModelTypeParam"
          },
          {
            "$ref": "#/components/parameters/ModelIdParam"
          }
        ],
        "responses": {
          "200": {
            "description": "Lock refreshed"
          }
        }
      }
    },
    "/staff/session-release/{modelType}/{modelId}": {
      "post": {
        "tags": [
          "Staff Orders"
        ],
        "summary": "Release session lock",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/ModelTypeParam"
          },
          {
            "$ref": "#/components/parameters/ModelIdParam"
          }
        ],
        "responses": {
          "200": {
            "description": "Lock released"
          }
        }
      }
    },
    "/staff/logout": {
      "get": {
        "tags": [
          "Staff Auth"
        ],
        "summary": "Staff logout",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "responses": {
          "204": {
            "description": "Logged out"
          }
        }
      }
    },
    "/{location_id}/{brand_name}/shop": {
      "get": {
        "tags": [
          "B2C Public"
        ],
        "summary": "B2C shop products",
        "parameters": [
          {
            "$ref": "#/components/parameters/LocationIdParam"
          },
          {
            "$ref": "#/components/parameters/BrandNameParam"
          }
        ],
        "responses": {
          "200": {
            "description": "Products"
          }
        }
      }
    },
    "/{location_id}/{brand_name}/options": {
      "get": {
        "tags": [
          "B2C Public"
        ],
        "summary": "Get frontend options",
        "parameters": [
          {
            "$ref": "#/components/parameters/LocationIdParam"
          },
          {
            "$ref": "#/components/parameters/BrandNameParam"
          }
        ],
        "responses": {
          "200": {
            "description": "Options"
          }
        }
      }
    },
    "/{location_id}/{brand_name}/all-product": {
      "get": {
        "tags": [
          "B2C Public"
        ],
        "summary": "List all products",
        "parameters": [
          {
            "$ref": "#/components/parameters/LocationIdParam"
          },
          {
            "$ref": "#/components/parameters/BrandNameParam"
          }
        ],
        "responses": {
          "200": {
            "description": "Products"
          }
        }
      }
    },
    "/{location_id}/{brand_name}/search": {
      "get": {
        "tags": [
          "B2C Public"
        ],
        "summary": "Search catalog",
        "parameters": [
          {
            "$ref": "#/components/parameters/LocationIdParam"
          },
          {
            "$ref": "#/components/parameters/BrandNameParam"
          },
          {
            "in": "query",
            "name": "q",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Results"
          }
        }
      }
    },
    "/{location_id}/{brand_name}/product/{slug}": {
      "get": {
        "tags": [
          "B2C Public"
        ],
        "summary": "Get product by slug",
        "parameters": [
          {
            "$ref": "#/components/parameters/LocationIdParam"
          },
          {
            "$ref": "#/components/parameters/BrandNameParam"
          },
          {
            "$ref": "#/components/parameters/SlugParam"
          }
        ],
        "responses": {
          "200": {
            "description": "Product"
          }
        }
      }
    },
    "/{location_id}/{brand_name}/product-list/{slug}": {
      "get": {
        "tags": [
          "B2C Public"
        ],
        "summary": "Product list by slug",
        "parameters": [
          {
            "$ref": "#/components/parameters/LocationIdParam"
          },
          {
            "$ref": "#/components/parameters/BrandNameParam"
          },
          {
            "$ref": "#/components/parameters/SlugParam"
          }
        ],
        "responses": {
          "200": {
            "description": "Product list"
          }
        }
      }
    },
    "/{location_id}/{brand_name}/category-product/{slugs}": {
      "get": {
        "tags": [
          "B2C Public"
        ],
        "summary": "Products by category chain",
        "parameters": [
          {
            "$ref": "#/components/parameters/LocationIdParam"
          },
          {
            "$ref": "#/components/parameters/BrandNameParam"
          },
          {
            "$ref": "#/components/parameters/SlugsParam"
          }
        ],
        "responses": {
          "200": {
            "description": "Products"
          }
        }
      }
    },
    "/{location_id}/{brand_name}/multi-category/{slugs}": {
      "get": {
        "tags": [
          "B2C Public"
        ],
        "summary": "Multi category listing",
        "parameters": [
          {
            "$ref": "#/components/parameters/LocationIdParam"
          },
          {
            "$ref": "#/components/parameters/BrandNameParam"
          },
          {
            "$ref": "#/components/parameters/SlugsParam"
          }
        ],
        "responses": {
          "200": {
            "description": "Products"
          }
        }
      }
    },
    "/{location_id}/{brand_name}/brand-product/{slug}": {
      "get": {
        "tags": [
          "B2C Public"
        ],
        "summary": "Products by brand",
        "parameters": [
          {
            "$ref": "#/components/parameters/LocationIdParam"
          },
          {
            "$ref": "#/components/parameters/BrandNameParam"
          },
          {
            "$ref": "#/components/parameters/SlugParam"
          }
        ],
        "responses": {
          "200": {
            "description": "Products"
          }
        }
      }
    },
    "/{location_id}/{brand_name}/brand-category-menu": {
      "get": {
        "tags": [
          "B2C Public"
        ],
        "summary": "Brand category menu",
        "parameters": [
          {
            "$ref": "#/components/parameters/LocationIdParam"
          },
          {
            "$ref": "#/components/parameters/BrandNameParam"
          }
        ],
        "responses": {
          "200": {
            "description": "Menu"
          }
        }
      }
    },
    "/{location_id}/{brand_name}/brand-list": {
      "get": {
        "tags": [
          "B2C Public"
        ],
        "summary": "Brand list",
        "parameters": [
          {
            "$ref": "#/components/parameters/LocationIdParam"
          },
          {
            "$ref": "#/components/parameters/BrandNameParam"
          }
        ],
        "responses": {
          "200": {
            "description": "Brands"
          }
        }
      }
    },
    "/{location_id}/{brand_name}/category-list": {
      "get": {
        "tags": [
          "B2C Public"
        ],
        "summary": "Category list",
        "parameters": [
          {
            "$ref": "#/components/parameters/LocationIdParam"
          },
          {
            "$ref": "#/components/parameters/BrandNameParam"
          }
        ],
        "responses": {
          "200": {
            "description": "Categories"
          }
        }
      }
    },
    "/{location_id}/{brand_name}/customer/my-order-print/{orderId}": {
      "get": {
        "tags": [
          "B2C Public"
        ],
        "summary": "Print order invoice (public)",
        "parameters": [
          {
            "$ref": "#/components/parameters/LocationIdParam"
          },
          {
            "$ref": "#/components/parameters/BrandNameParam"
          },
          {
            "$ref": "#/components/parameters/OrderIdParam"
          }
        ],
        "responses": {
          "200": {
            "description": "Invoice"
          }
        }
      }
    },
    "/{location_id}/{brand_name}/discounts": {
      "get": {
        "tags": [
          "B2C Public"
        ],
        "summary": "Public discounts",
        "parameters": [
          {
            "$ref": "#/components/parameters/LocationIdParam"
          },
          {
            "$ref": "#/components/parameters/BrandNameParam"
          }
        ],
        "responses": {
          "200": {
            "description": "Discounts"
          }
        }
      }
    },
    "/{location_id}/{brand_name}/customer/login": {
      "post": {
        "tags": [
          "B2C Auth"
        ],
        "summary": "Customer login (B2C)",
        "parameters": [
          {
            "$ref": "#/components/parameters/LocationIdParam"
          },
          {
            "$ref": "#/components/parameters/BrandNameParam"
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Authenticated"
          }
        }
      }
    },
    "/{location_id}/{brand_name}/customer/register": {
      "post": {
        "tags": [
          "B2C Auth"
        ],
        "summary": "Register customer (B2C)",
        "parameters": [
          {
            "$ref": "#/components/parameters/LocationIdParam"
          },
          {
            "$ref": "#/components/parameters/BrandNameParam"
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Registered"
          }
        }
      }
    },
    "/{location_id}/{brand_name}/customer/email-confirmation": {
      "post": {
        "tags": [
          "B2C Auth"
        ],
        "summary": "Email confirmation",
        "parameters": [
          {
            "$ref": "#/components/parameters/LocationIdParam"
          },
          {
            "$ref": "#/components/parameters/BrandNameParam"
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Confirmed"
          }
        }
      }
    },
    "/{location_id}/{brand_name}/customer/forgot-password": {
      "post": {
        "tags": [
          "B2C Auth"
        ],
        "summary": "Forgot password",
        "parameters": [
          {
            "$ref": "#/components/parameters/LocationIdParam"
          },
          {
            "$ref": "#/components/parameters/BrandNameParam"
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Email sent"
          }
        }
      }
    },
    "/{location_id}/{brand_name}/customer/set-password": {
      "post": {
        "tags": [
          "B2C Auth"
        ],
        "summary": "Reset password",
        "parameters": [
          {
            "$ref": "#/components/parameters/LocationIdParam"
          },
          {
            "$ref": "#/components/parameters/BrandNameParam"
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Updated"
          }
        }
      }
    },
    "/{location_id}/{brand_name}/customer/contact-us": {
      "post": {
        "tags": [
          "B2C Auth"
        ],
        "summary": "Contact support",
        "parameters": [
          {
            "$ref": "#/components/parameters/LocationIdParam"
          },
          {
            "$ref": "#/components/parameters/BrandNameParam"
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Submitted"
          }
        }
      }
    },
    "/{location_id}/{brand_name}/customer/subscribe": {
      "post": {
        "tags": [
          "B2C Auth"
        ],
        "summary": "Subscribe customer",
        "parameters": [
          {
            "$ref": "#/components/parameters/LocationIdParam"
          },
          {
            "$ref": "#/components/parameters/BrandNameParam"
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Subscribed"
          }
        }
      }
    },
    "/{location_id}/{brand_name}/customer/refresh-token": {
      "post": {
        "tags": [
          "B2C Auth"
        ],
        "summary": "Refresh token",
        "parameters": [
          {
            "$ref": "#/components/parameters/LocationIdParam"
          },
          {
            "$ref": "#/components/parameters/BrandNameParam"
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Token refreshed"
          }
        }
      }
    },
    "/{location_id}/{brand_name}/process-order": {
      "post": {
        "tags": [
          "B2C Cart"
        ],
        "summary": "Process B2C order payment",
        "parameters": [
          {
            "$ref": "#/components/parameters/LocationIdParam"
          },
          {
            "$ref": "#/components/parameters/BrandNameParam"
          }
        ],
        "description": "Available for guest checkout (no auth) and authenticated customers. Provide Authorization header when token issued.\n",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Processed"
          }
        }
      }
    },
    "/{location_id}/{brand_name}/customer/my-order/{orderId}": {
      "get": {
        "tags": [
          "B2C Public"
        ],
        "summary": "Get order details (public lookup)",
        "parameters": [
          {
            "$ref": "#/components/parameters/LocationIdParam"
          },
          {
            "$ref": "#/components/parameters/BrandNameParam"
          },
          {
            "$ref": "#/components/parameters/OrderIdParam"
          }
        ],
        "responses": {
          "200": {
            "description": "Order detail"
          }
        }
      }
    },
    "/{location_id}/{brand_name}/customer/logout": {
      "get": {
        "tags": [
          "B2C Auth"
        ],
        "summary": "Logout customer",
        "parameters": [
          {
            "$ref": "#/components/parameters/LocationIdParam"
          },
          {
            "$ref": "#/components/parameters/BrandNameParam"
          }
        ],
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "responses": {
          "204": {
            "description": "Logged out"
          }
        }
      }
    },
    "/{location_id}/{brand_name}/customer/my-account": {
      "get": {
        "tags": [
          "B2C Auth"
        ],
        "summary": "View account",
        "parameters": [
          {
            "$ref": "#/components/parameters/LocationIdParam"
          },
          {
            "$ref": "#/components/parameters/BrandNameParam"
          }
        ],
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "Account"
          }
        }
      }
    },
    "/{location_id}/{brand_name}/customer/my-orders": {
      "get": {
        "tags": [
          "B2C Auth"
        ],
        "summary": "List orders",
        "parameters": [
          {
            "$ref": "#/components/parameters/LocationIdParam"
          },
          {
            "$ref": "#/components/parameters/BrandNameParam"
          }
        ],
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "Orders"
          }
        }
      }
    },
    "/{location_id}/{brand_name}/customer/my-invoices": {
      "get": {
        "tags": [
          "B2C Auth"
        ],
        "summary": "List invoices",
        "parameters": [
          {
            "$ref": "#/components/parameters/LocationIdParam"
          },
          {
            "$ref": "#/components/parameters/BrandNameParam"
          }
        ],
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "Invoices"
          }
        }
      }
    },
    "/{location_id}/{brand_name}/customer/return-invoice": {
      "post": {
        "tags": [
          "B2C Auth"
        ],
        "summary": "Submit return invoice",
        "parameters": [
          {
            "$ref": "#/components/parameters/LocationIdParam"
          },
          {
            "$ref": "#/components/parameters/BrandNameParam"
          }
        ],
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Submitted"
          }
        }
      }
    },
    "/{location_id}/{brand_name}/customer/update-address": {
      "post": {
        "tags": [
          "B2C Auth"
        ],
        "summary": "Update address",
        "parameters": [
          {
            "$ref": "#/components/parameters/LocationIdParam"
          },
          {
            "$ref": "#/components/parameters/BrandNameParam"
          }
        ],
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Updated"
          }
        }
      }
    },
    "/{location_id}/{brand_name}/customer/notification": {
      "get": {
        "tags": [
          "B2C Auth"
        ],
        "summary": "Get notifications",
        "parameters": [
          {
            "$ref": "#/components/parameters/LocationIdParam"
          },
          {
            "$ref": "#/components/parameters/BrandNameParam"
          }
        ],
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "Notifications"
          }
        }
      }
    },
    "/{location_id}/{brand_name}/customer/view": {
      "get": {
        "tags": [
          "B2C Auth"
        ],
        "summary": "View customer profile",
        "parameters": [
          {
            "$ref": "#/components/parameters/LocationIdParam"
          },
          {
            "$ref": "#/components/parameters/BrandNameParam"
          }
        ],
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "Profile"
          }
        }
      }
    },
    "/{location_id}/{brand_name}/customer/update": {
      "put": {
        "tags": [
          "B2C Auth"
        ],
        "summary": "Update profile",
        "parameters": [
          {
            "$ref": "#/components/parameters/LocationIdParam"
          },
          {
            "$ref": "#/components/parameters/BrandNameParam"
          }
        ],
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Updated"
          }
        }
      }
    },
    "/{location_id}/{brand_name}/customer/saved-addresses": {
      "get": {
        "tags": [
          "B2C Auth"
        ],
        "summary": "List saved addresses",
        "parameters": [
          {
            "$ref": "#/components/parameters/LocationIdParam"
          },
          {
            "$ref": "#/components/parameters/BrandNameParam"
          }
        ],
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "Addresses"
          }
        }
      }
    },
    "/{location_id}/{brand_name}/customer/create-saved-address": {
      "post": {
        "tags": [
          "B2C Auth"
        ],
        "summary": "Create saved address",
        "parameters": [
          {
            "$ref": "#/components/parameters/LocationIdParam"
          },
          {
            "$ref": "#/components/parameters/BrandNameParam"
          }
        ],
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Created"
          }
        }
      }
    },
    "/{location_id}/{brand_name}/customer/get-saved-address/{address_id}": {
      "get": {
        "tags": [
          "B2C Auth"
        ],
        "summary": "Get saved address",
        "parameters": [
          {
            "$ref": "#/components/parameters/LocationIdParam"
          },
          {
            "$ref": "#/components/parameters/BrandNameParam"
          },
          {
            "$ref": "#/components/parameters/AddressIdParam"
          }
        ],
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "Address"
          }
        }
      }
    },
    "/{location_id}/{brand_name}/customer/update-saved-address/{address_id}": {
      "put": {
        "tags": [
          "B2C Auth"
        ],
        "summary": "Update saved address",
        "parameters": [
          {
            "$ref": "#/components/parameters/LocationIdParam"
          },
          {
            "$ref": "#/components/parameters/BrandNameParam"
          },
          {
            "$ref": "#/components/parameters/AddressIdParam"
          }
        ],
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Updated"
          }
        }
      }
    },
    "/{location_id}/{brand_name}/customer/delete-saved-address/{address_id}": {
      "delete": {
        "tags": [
          "B2C Auth"
        ],
        "summary": "Delete saved address",
        "parameters": [
          {
            "$ref": "#/components/parameters/LocationIdParam"
          },
          {
            "$ref": "#/components/parameters/BrandNameParam"
          },
          {
            "$ref": "#/components/parameters/AddressIdParam"
          }
        ],
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "responses": {
          "204": {
            "description": "Deleted"
          }
        }
      }
    },
    "/{location_id}/{brand_name}/customer/set-default-address/{address_id}": {
      "post": {
        "tags": [
          "B2C Auth"
        ],
        "summary": "Set default address",
        "parameters": [
          {
            "$ref": "#/components/parameters/LocationIdParam"
          },
          {
            "$ref": "#/components/parameters/BrandNameParam"
          },
          {
            "$ref": "#/components/parameters/AddressIdParam"
          }
        ],
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "Updated"
          }
        }
      }
    },
    "/{location_id}/{brand_name}/cart": {
      "get": {
        "tags": [
          "B2C Cart"
        ],
        "summary": "Get cart",
        "parameters": [
          {
            "$ref": "#/components/parameters/LocationIdParam"
          },
          {
            "$ref": "#/components/parameters/BrandNameParam"
          }
        ],
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "Cart"
          }
        }
      },
      "post": {
        "tags": [
          "B2C Cart"
        ],
        "summary": "Add to cart",
        "parameters": [
          {
            "$ref": "#/components/parameters/LocationIdParam"
          },
          {
            "$ref": "#/components/parameters/BrandNameParam"
          }
        ],
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Updated"
          }
        }
      },
      "delete": {
        "tags": [
          "B2C Cart"
        ],
        "summary": "Clear cart",
        "parameters": [
          {
            "$ref": "#/components/parameters/LocationIdParam"
          },
          {
            "$ref": "#/components/parameters/BrandNameParam"
          }
        ],
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "responses": {
          "204": {
            "description": "Cleared"
          }
        }
      }
    },
    "/{location_id}/{brand_name}/cart/reduce": {
      "post": {
        "tags": [
          "B2C Cart"
        ],
        "summary": "Reduce quantity",
        "parameters": [
          {
            "$ref": "#/components/parameters/LocationIdParam"
          },
          {
            "$ref": "#/components/parameters/BrandNameParam"
          }
        ],
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Updated"
          }
        }
      }
    },
    "/{location_id}/{brand_name}/cart/{itemId}": {
      "put": {
        "tags": [
          "B2C Cart"
        ],
        "summary": "Update cart item",
        "parameters": [
          {
            "$ref": "#/components/parameters/LocationIdParam"
          },
          {
            "$ref": "#/components/parameters/BrandNameParam"
          },
          {
            "$ref": "#/components/parameters/ItemIdParam"
          }
        ],
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Updated"
          }
        }
      },
      "delete": {
        "tags": [
          "B2C Cart"
        ],
        "summary": "Remove cart item",
        "parameters": [
          {
            "$ref": "#/components/parameters/LocationIdParam"
          },
          {
            "$ref": "#/components/parameters/BrandNameParam"
          },
          {
            "$ref": "#/components/parameters/ItemIdParam"
          }
        ],
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "responses": {
          "204": {
            "description": "Removed"
          }
        }
      }
    },
    "/{location_id}/{brand_name}/cart/restricted": {
      "delete": {
        "tags": [
          "B2C Cart"
        ],
        "summary": "Remove restricted items",
        "parameters": [
          {
            "$ref": "#/components/parameters/LocationIdParam"
          },
          {
            "$ref": "#/components/parameters/BrandNameParam"
          }
        ],
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "responses": {
          "204": {
            "description": "Removed"
          }
        }
      }
    },
    "/{location_id}/{brand_name}/checkout-address": {
      "get": {
        "tags": [
          "B2C Cart"
        ],
        "summary": "Get checkout address",
        "parameters": [
          {
            "$ref": "#/components/parameters/LocationIdParam"
          },
          {
            "$ref": "#/components/parameters/BrandNameParam"
          }
        ],
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "Address"
          }
        }
      },
      "post": {
        "tags": [
          "B2C Cart"
        ],
        "summary": "Set checkout address",
        "parameters": [
          {
            "$ref": "#/components/parameters/LocationIdParam"
          },
          {
            "$ref": "#/components/parameters/BrandNameParam"
          }
        ],
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Stored"
          }
        }
      }
    },
    "/{location_id}/{brand_name}/cart/apply-discount": {
      "post": {
        "tags": [
          "B2C Cart"
        ],
        "summary": "Apply discount",
        "parameters": [
          {
            "$ref": "#/components/parameters/LocationIdParam"
          },
          {
            "$ref": "#/components/parameters/BrandNameParam"
          }
        ],
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Discount applied"
          }
        }
      }
    },
    "/{location_id}/{brand_name}/cart/remove-discount": {
      "post": {
        "tags": [
          "B2C Cart"
        ],
        "summary": "Remove discount",
        "parameters": [
          {
            "$ref": "#/components/parameters/LocationIdParam"
          },
          {
            "$ref": "#/components/parameters/BrandNameParam"
          }
        ],
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "Discount removed"
          }
        }
      }
    },
    "/{location_id}/{brand_name}/customer/discounts": {
      "get": {
        "tags": [
          "B2C Cart"
        ],
        "summary": "Get running discounts (auth)",
        "parameters": [
          {
            "$ref": "#/components/parameters/LocationIdParam"
          },
          {
            "$ref": "#/components/parameters/BrandNameParam"
          }
        ],
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "Discounts"
          }
        }
      }
    },
    "/{location_id}/{brand_name}/guest/session": {
      "post": {
        "tags": [
          "B2C Guest"
        ],
        "summary": "Create guest cart session",
        "parameters": [
          {
            "$ref": "#/components/parameters/LocationIdParam"
          },
          {
            "$ref": "#/components/parameters/BrandNameParam"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Guest session created"
          }
        }
      }
    },
    "/{location_id}/{brand_name}/guest/session/validate": {
      "get": {
        "tags": [
          "B2C Guest"
        ],
        "summary": "Validate guest session",
        "parameters": [
          {
[...]
