{
  "openapi": "3.1.0",
  "info": {
    "title": "YouTube Data API",
    "version": "3.0",
    "description": "The YouTube Data API v3 lets you incorporate YouTube functionality into your application. You can use the API to search for videos, retrieve channel and playlist information, manage subscriptions, and more.",
    "contact": {
      "name": "Google",
      "url": "https://developers.google.com/youtube/v3"
    },
    "x-apisguru-categories": [
      "media"
    ],
    "x-logo": {
      "url": "https://www.youtube.com/s/desktop/favicon.ico"
    }
  },
  "servers": [
    {
      "url": "https://www.googleapis.com/youtube/v3"
    }
  ],
  "security": [
    {
      "apiKey": []
    }
  ],
  "components": {
    "securitySchemes": {
      "apiKey": {
        "type": "apiKey",
        "in": "query",
        "name": "key",
        "description": "YouTube Data API key."
      },
      "oauth2": {
        "type": "oauth2",
        "flows": {
          "authorizationCode": {
            "authorizationUrl": "https://accounts.google.com/o/oauth2/auth",
            "tokenUrl": "https://oauth2.googleapis.com/token",
            "scopes": {
              "https://www.googleapis.com/auth/youtube": "Manage your YouTube account",
              "https://www.googleapis.com/auth/youtube.readonly": "View your YouTube account",
              "https://www.googleapis.com/auth/youtube.force-ssl": "See, edit, and permanently delete your YouTube videos, ratings, comments and captions",
              "https://www.googleapis.com/auth/youtube.upload": "Manage your YouTube videos"
            }
          }
        }
      }
    },
    "schemas": {
      "VideoListResponse": {
        "type": "object",
        "properties": {
          "kind": {
            "type": "string",
            "default": "youtube#videoListResponse"
          },
          "etag": {
            "type": "string"
          },
          "nextPageToken": {
            "type": "string"
          },
          "prevPageToken": {
            "type": "string"
          },
          "pageInfo": {
            "type": "object",
            "properties": {
              "totalResults": {
                "type": "integer"
              },
              "resultsPerPage": {
                "type": "integer"
              }
            }
          },
          "items": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Video"
            }
          }
        }
      },
      "Video": {
        "type": "object",
        "properties": {
          "kind": {
            "type": "string",
            "default": "youtube#video"
          },
          "etag": {
            "type": "string"
          },
          "id": {
            "type": "string"
          },
          "snippet": {
            "type": "object",
            "properties": {
              "publishedAt": {
                "type": "string",
                "format": "date-time"
              },
              "channelId": {
                "type": "string"
              },
              "title": {
                "type": "string"
              },
              "description": {
                "type": "string"
              },
              "thumbnails": {
                "type": "object"
              },
              "channelTitle": {
                "type": "string"
              },
              "tags": {
                "type": "array",
                "items": {
                  "type": "string"
                }
              },
              "categoryId": {
                "type": "string"
              },
              "defaultLanguage": {
                "type": "string"
              },
              "liveBroadcastContent": {
                "type": "string"
              }
            }
          },
          "contentDetails": {
            "type": "object",
            "properties": {
              "duration": {
                "type": "string"
              },
              "dimension": {
                "type": "string"
              },
              "definition": {
                "type": "string"
              },
              "caption": {
                "type": "string"
              },
              "licensedContent": {
                "type": "boolean"
              }
            }
          },
          "statistics": {
            "type": "object",
            "properties": {
              "viewCount": {
                "type": "string"
              },
              "likeCount": {
                "type": "string"
              },
              "commentCount": {
                "type": "string"
              }
            }
          },
          "player": {
            "type": "object",
            "properties": {
              "embedHtml": {
                "type": "string"
              }
            }
          },
          "status": {
            "type": "object",
            "properties": {
              "uploadStatus": {
                "type": "string"
              },
              "privacyStatus": {
                "type": "string",
                "enum": [
                  "private",
                  "public",
                  "unlisted"
                ]
              },
              "publishAt": {
                "type": "string",
                "format": "date-time"
              },
              "license": {
                "type": "string"
              },
              "embeddable": {
                "type": "boolean"
              }
            }
          }
        }
      },
      "Channel": {
        "type": "object",
        "properties": {
          "kind": {
            "type": "string",
            "default": "youtube#channel"
          },
          "etag": {
            "type": "string"
          },
          "id": {
            "type": "string"
          },
          "snippet": {
            "type": "object",
            "properties": {
              "title": {
                "type": "string"
              },
              "description": {
                "type": "string"
              },
              "customUrl": {
                "type": "string"
              },
              "publishedAt": {
                "type": "string",
                "format": "date-time"
              },
              "thumbnails": {
                "type": "object"
              },
              "country": {
                "type": "string"
              }
            }
          },
          "statistics": {
            "type": "object",
            "properties": {
              "viewCount": {
                "type": "string"
              },
              "subscriberCount": {
                "type": "string"
              },
              "hiddenSubscriberCount": {
                "type": "boolean"
              },
              "videoCount": {
                "type": "string"
              }
            }
          },
          "contentDetails": {
            "type": "object",
            "properties": {
              "relatedPlaylists": {
                "type": "object",
                "properties": {
                  "likes": {
                    "type": "string"
                  },
                  "uploads": {
                    "type": "string"
                  }
                }
              }
            }
          }
        }
      },
      "Playlist": {
        "type": "object",
        "properties": {
          "kind": {
            "type": "string",
            "default": "youtube#playlist"
          },
          "etag": {
            "type": "string"
          },
          "id": {
            "type": "string"
          },
          "snippet": {
            "type": "object",
            "properties": {
              "publishedAt": {
                "type": "string",
                "format": "date-time"
              },
              "channelId": {
                "type": "string"
              },
              "title": {
                "type": "string"
              },
              "description": {
                "type": "string"
              },
              "thumbnails": {
                "type": "object"
              },
              "channelTitle": {
                "type": "string"
              }
            }
          },
          "contentDetails": {
            "type": "object",
            "properties": {
              "itemCount": {
                "type": "integer"
              }
            }
          },
          "status": {
            "type": "object",
            "properties": {
              "privacyStatus": {
                "type": "string"
              }
            }
          }
        }
      },
      "PlaylistItem": {
        "type": "object",
        "properties": {
          "kind": {
            "type": "string",
            "default": "youtube#playlistItem"
          },
          "etag": {
            "type": "string"
          },
          "id": {
            "type": "string"
          },
          "snippet": {
            "type": "object",
            "properties": {
              "publishedAt": {
                "type": "string",
                "format": "date-time"
              },
              "channelId": {
                "type": "string"
              },
              "title": {
                "type": "string"
              },
              "description": {
                "type": "string"
              },
              "thumbnails": {
                "type": "object"
              },
              "channelTitle": {
                "type": "string"
              },
              "playlistId": {
                "type": "string"
              },
              "position": {
                "type": "integer"
              },
              "resourceId": {
                "type": "object",
                "properties": {
                  "kind": {
                    "type": "string"
                  },
                  "videoId": {
                    "type": "string"
                  }
                }
              }
            }
          },
          "contentDetails": {
            "type": "object",
            "properties": {
              "videoId": {
                "type": "string"
              },
              "videoPublishedAt": {
                "type": "string",
                "format": "date-time"
              }
            }
          }
        }
      },
      "SearchResult": {
        "type": "object",
        "properties": {
          "kind": {
            "type": "string",
            "default": "youtube#searchResult"
          },
          "etag": {
            "type": "string"
          },
          "id": {
            "type": "object",
            "properties": {
              "kind": {
                "type": "string"
              },
              "videoId": {
                "type": "string"
              },
              "channelId": {
                "type": "string"
              },
              "playlistId": {
                "type": "string"
              }
            }
          },
          "snippet": {
            "type": "object",
            "properties": {
              "publishedAt": {
                "type": "string",
                "format": "date-time"
              },
              "channelId": {
                "type": "string"
              },
              "title": {
                "type": "string"
              },
              "description": {
                "type": "string"
              },
              "thumbnails": {
                "type": "object"
              },
              "channelTitle": {
                "type": "string"
              },
              "liveBroadcastContent": {
                "type": "string"
              }
            }
          }
        }
      },
      "SearchListResponse": {
        "type": "object",
        "properties": {
          "kind": {
            "type": "string",
            "default": "youtube#searchListResponse"
          },
          "etag": {
            "type": "string"
          },
          "nextPageToken": {
            "type": "string"
          },
          "prevPageToken": {
            "type": "string"
          },
          "regionCode": {
            "type": "string"
          },
          "pageInfo": {
            "type": "object",
            "properties": {
              "totalResults": {
                "type": "integer"
              },
              "resultsPerPage": {
                "type": "integer"
              }
            }
          },
          "items": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/SearchResult"
            }
          }
        }
      },
      "Comment": {
        "type": "object",
        "properties": {
          "kind": {
            "type": "string",
            "default": "youtube#comment"
          },
          "etag": {
            "type": "string"
          },
          "id": {
            "type": "string"
          },
          "snippet": {
            "type": "object",
            "properties": {
              "authorDisplayName": {
                "type": "string"
              },
              "authorProfileImageUrl": {
                "type": "string"
              },
              "authorChannelUrl": {
                "type": "string"
              },
              "textDisplay": {
                "type": "string"
              },
              "textOriginal": {
                "type": "string"
              },
              "likeCount": {
                "type": "integer"
              },
              "publishedAt": {
                "type": "string",
                "format": "date-time"
              },
              "updatedAt": {
                "type": "string",
                "format": "date-time"
              }
            }
          }
        }
      },
      "CommentThread": {
        "type": "object",
        "properties": {
          "kind": {
            "type": "string",
            "default": "youtube#commentThread"
          },
          "etag": {
            "type": "string"
          },
          "id": {
            "type": "string"
          },
          "snippet": {
            "type": "object",
            "properties": {
              "channelId": {
                "type": "string"
              },
              "videoId": {
                "type": "string"
              },
              "topLevelComment": {
                "$ref": "#/components/schemas/Comment"
              },
              "canReply": {
                "type": "boolean"
              },
              "totalReplyCount": {
                "type": "integer"
              },
              "isPublic": {
                "type": "boolean"
              }
            }
          },
          "replies": {
            "type": "object",
            "properties": {
              "comments": {
                "type": "array",
                "items": {
                  "$ref": "#/components/schemas/Comment"
                }
              }
            }
          }
        }
      },
      "Subscription": {
        "type": "object",
        "properties": {
          "kind": {
            "type": "string",
            "default": "youtube#subscription"
          },
          "etag": {
            "type": "string"
          },
          "id": {
            "type": "string"
          },
          "snippet": {
            "type": "object",
            "properties": {
              "publishedAt": {
                "type": "string",
                "format": "date-time"
              },
              "title": {
                "type": "string"
              },
              "description": {
                "type": "string"
              },
              "resourceId": {
                "type": "object",
                "properties": {
                  "kind": {
                    "type": "string"
                  },
                  "channelId": {
                    "type": "string"
                  }
                }
              },
              "channelId": {
                "type": "string"
              },
              "thumbnails": {
                "type": "object"
              }
            }
          }
        }
      },
      "VideoCategory": {
        "type": "object",
        "properties": {
          "kind": {
            "type": "string",
            "default": "youtube#videoCategory"
          },
          "etag": {
            "type": "string"
          },
          "id": {
            "type": "string"
          },
          "snippet": {
            "type": "object",
            "properties": {
              "channelId": {
                "type": "string"
              },
              "title": {
                "type": "string"
              },
              "assignable": {
                "type": "boolean"
              }
            }
          }
        }
      }
    },
    "parameters": {
      "part": {
        "name": "part",
        "in": "query",
        "required": true,
        "schema": {
          "type": "string"
        },
        "description": "Comma-separated list of resource parts to include."
      },
      "maxResults": {
        "name": "maxResults",
        "in": "query",
        "schema": {
          "type": "integer",
          "default": 5,
          "minimum": 0,
          "maximum": 50
        }
      },
      "pageToken": {
        "name": "pageToken",
        "in": "query",
        "schema": {
          "type": "string"
        }
      },
      "key": {
        "name": "key",
        "in": "query",
        "schema": {
          "type": "string"
        },
        "description": "API key."
      }
    }
  },
  "paths": {
    "/search": {
      "get": {
        "operationId": "searchList",
        "summary": "Search for videos, channels, and playlists",
        "tags": [
          "Search"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/part"
          },
          {
            "name": "q",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "description": "Search query."
          },
          {
            "name": "type",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "description": "Restrict to video, channel, or playlist."
          },
          {
            "name": "channelId",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "order",
            "in": "query",
            "schema": {
              "type": "string",
              "enum": [
                "date",
                "rating",
                "relevance",
                "title",
                "videoCount",
                "viewCount"
              ]
            }
          },
          {
            "name": "publishedAfter",
            "in": "query",
            "schema": {
              "type": "string",
              "format": "date-time"
            }
          },
          {
            "name": "publishedBefore",
            "in": "query",
            "schema": {
              "type": "string",
              "format": "date-time"
            }
          },
          {
            "name": "regionCode",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "videoCategoryId",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "videoDuration",
            "in": "query",
            "schema": {
              "type": "string",
              "enum": [
                "any",
                "long",
                "medium",
                "short"
              ]
            }
          },
          {
            "name": "videoDefinition",
            "in": "query",
            "schema": {
              "type": "string",
              "enum": [
                "any",
                "high",
                "standard"
              ]
            }
          },
          {
            "name": "safeSearch",
            "in": "query",
            "schema": {
              "type": "string",
              "enum": [
                "moderate",
                "none",
                "strict"
              ]
            }
          },
          {
            "$ref": "#/components/parameters/maxResults"
          },
          {
            "$ref": "#/components/parameters/pageToken"
          }
        ],
        "responses": {
          "200": {
            "description": "Search results.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SearchListResponse"
                }
              }
            }
          }
        },
        "description": "Search for videos, channels, and playlists"
      }
    },
    "/videos": {
      "get": {
        "operationId": "videosList",
        "summary": "List videos",
        "tags": [
          "Videos"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/part"
          },
          {
            "name": "id",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "description": "Comma-separated video IDs."
          },
          {
            "name": "chart",
            "in": "query",
            "schema": {
              "type": "string",
              "enum": [
                "mostPopular"
              ]
            }
          },
          {
            "name": "myRating",
            "in": "query",
            "schema": {
              "type": "string",
              "enum": [
                "like",
                "dislike"
              ]
            }
          },
          {
            "name": "regionCode",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "videoCategoryId",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "$ref": "#/components/parameters/maxResults"
          },
          {
            "$ref": "#/components/parameters/pageToken"
          }
        ],
        "responses": {
          "200": {
            "description": "Video list.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/VideoListResponse"
                }
              }
            }
          }
        },
        "description": "List videos"
      }
    },
    "/videos/rate": {
      "post": {
        "operationId": "videosRate",
        "summary": "Rate a video (like/dislike)",
        "tags": [
          "Videos"
        ],
        "security": [
          {
            "oauth2": [
              "https://www.googleapis.com/auth/youtube"
            ]
          }
        ],
        "parameters": [
          {
            "name": "id",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "rating",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string",
              "enum": [
                "like",
                "dislike",
                "none"
              ]
            }
          }
        ],
        "responses": {
          "204": {
            "description": "Rated successfully."
          }
        },
        "description": "Rate a video (like/dislike)"
      }
    },
    "/channels": {
      "get": {
        "operationId": "channelsList",
        "summary": "List channels",
        "tags": [
          "Channels"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/part"
          },
          {
            "name": "id",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "forUsername",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "mine",
            "in": "query",
            "schema": {
              "type": "boolean"
            }
          },
          {
            "$ref": "#/components/parameters/maxResults"
          },
          {
            "$ref": "#/components/parameters/pageToken"
          }
        ],
        "responses": {
          "200": {
            "description": "Channel list.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "kind": {
                      "type": "string"
                    },
                    "etag": {
                      "type": "string"
                    },
                    "pageInfo": {
                      "type": "object"
                    },
                    "items": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/Channel"
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "description": "List channels"
      }
    },
    "/playlists": {
      "get": {
        "operationId": "playlistsList",
        "summary": "List playlists",
        "tags": [
          "Playlists"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/part"
          },
          {
            "name": "id",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "channelId",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "mine",
            "in": "query",
            "schema": {
              "type": "boolean"
            }
          },
          {
            "$ref": "#/components/parameters/maxResults"
          },
          {
            "$ref": "#/components/parameters/pageToken"
          }
        ],
        "responses": {
          "200": {
            "description": "Playlist list.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "kind": {
                      "type": "string"
                    },
                    "etag": {
                      "type": "string"
                    },
                    "pageInfo": {
                      "type": "object"
                    },
                    "items": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/Playlist"
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "description": "List playlists"
      },
      "post": {
        "operationId": "playlistsInsert",
        "summary": "Create a playlist",
        "tags": [
          "Playlists"
        ],
        "security": [
          {
            "oauth2": [
              "https://www.googleapis.com/auth/youtube"
            ]
          }
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/part"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/Playlist"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Created playlist.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Playlist"
                }
              }
            }
          }
        },
        "description": "Create a playlist"
      },
      "put": {
        "operationId": "playlistsUpdate",
        "summary": "Update a playlist",
        "tags": [
          "Playlists"
        ],
        "security": [
          {
            "oauth2": [
              "https://www.googleapis.com/auth/youtube"
            ]
          }
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/part"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/Playlist"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Updated playlist.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Playlist"
                }
              }
            }
          }
        },
        "description": "Update a playlist"
      },
      "delete": {
        "operationId": "playlistsDelete",
        "summary": "Delete a playlist",
        "tags": [
          "Playlists"
        ],
        "security": [
          {
            "oauth2": [
              "https://www.googleapis.com/auth/youtube"
            ]
          }
        ],
        "parameters": [
          {
            "name": "id",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "Playlist deleted."
          }
        },
        "description": "Delete a playlist"
      }
    },
    "/playlistItems": {
      "get": {
        "operationId": "playlistItemsList",
        "summary": "List playlist items",
        "tags": [
          "Playlists"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/part"
          },
          {
            "name": "playlistId",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "$ref": "#/components/parameters/maxResults"
          },
          {
            "$ref": "#/components/parameters/pageToken"
          }
        ],
        "responses": {
          "200": {
            "description": "Playlist items.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "kind": {
                      "type": "string"
                    },
                    "etag": {
                      "type": "string"
                    },
                    "nextPageToken": {
                      "type": "string"
                    },
                    "pageInfo": {
                      "type": "object"
                    },
                    "items": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/PlaylistItem"
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "description": "List playlist items"
      },
      "post": {
        "operationId": "playlistItemsInsert",
        "summary": "Add an item to a playlist",
        "tags": [
          "Playlists"
        ],
        "security": [
          {
            "oauth2": [
              "https://www.googleapis.com/auth/youtube"
            ]
          }
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/part"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/PlaylistItem"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Item added.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PlaylistItem"
                }
              }
            }
          }
        },
        "description": "Add an item to a playlist"
      },
      "delete": {
        "operationId": "playlistItemsDelete",
        "summary": "Delete a playlist item",
        "tags": [
          "Playlists"
        ],
        "security": [
          {
            "oauth2": [
              "https://www.googleapis.com/auth/youtube"
            ]
          }
        ],
        "parameters": [
          {
            "name": "id",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "Item deleted."
          }
        },
        "description": "Delete a playlist item"
      }
    },
    "/commentThreads": {
      "get": {
        "operationId": "commentThreadsList",
        "summary": "List comment threads",
        "tags": [
          "Comments"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/part"
          },
          {
            "name": "videoId",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "channelId",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "allThreadsRelatedToChannelId",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "order",
            "in": "query",
            "schema": {
              "type": "string",
              "enum": [
                "time",
                "relevance"
              ]
            }
          },
          {
            "name": "searchTerms",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "$ref": "#/components/parameters/maxResults"
          },
          {
            "$ref": "#/components/parameters/pageToken"
          }
        ],
        "responses": {
          "200": {
            "description": "Comment threads.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "kind": {
                      "type": "string"
                    },
                    "etag": {
                      "type": "string"
                    },
                    "nextPageToken": {
                      "type": "string"
                    },
                    "pageInfo": {
                      "type": "object"
                    },
                    "items": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/CommentThread"
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "description": "List comment threads"
      },
      "post": {
        "operationId": "commentThreadsInsert",
        "summary": "Create a comment thread",
        "tags": [
          "Comments"
        ],
        "security": [
          {
            "oauth2": [
              "https://www.googleapis.com/auth/youtube.force-ssl"
            ]
          }
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/part"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CommentThread"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Comment thread created.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CommentThread"
                }
              }
            }
          }
        },
        "description": "Create a comment thread"
      }
    },
    "/subscriptions": {
      "get": {
        "operationId": "subscriptionsList",
        "summary": "List subscriptions",
        "tags": [
          "Subscriptions"
        ],
        "security": [
          {
            "oauth2": [
              "https://www.googleapis.com/auth/youtube.readonly"
            ]
          }
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/part"
          },
          {
            "name": "mine",
            "in": "query",
            "schema": {
              "type": "boolean"
            }
          },
          {
            "name": "channelId",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "forChannelId",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "order",
            "in": "query",
            "schema": {
              "type": "string",
              "enum": [
                "alphabetical",
                "relevance",
                "unread"
              ]
            }
          },
          {
            "$ref": "#/components/parameters/maxResults"
          },
          {
            "$ref": "#/components/parameters/pageToken"
          }
        ],
        "responses": {
          "200": {
            "description": "Subscriptions.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "kind": {
                      "type": "string"
                    },
                    "etag": {
                      "type": "string"
                    },
                    "nextPageToken": {
                      "type": "string"
                    },
                    "pageInfo": {
                      "type": "object"
                    },
                    "items": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/Subscription"
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "description": "List subscriptions"
      },
      "post": {
        "operationId": "subscriptionsInsert",
        "summary": "Subscribe to a channel",
        "tags": [
          "Subscriptions"
        ],
        "security": [
          {
            "oauth2": [
              "https://www.googleapis.com/auth/youtube"
            ]
          }
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/part"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/Subscription"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Subscribed.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Subscription"
                }
              }
            }
          }
        },
        "description": "Subscribe to a channel"
      },
      "delete": {
        "operationId": "subscriptionsDelete",
        "summary": "Unsubscribe from a channel",
        "tags": [
          "Subscriptions"
        ],
        "security": [
          {
            "oauth2": [
              "https://www.googleapis.com/auth/youtube"
            ]
          }
        ],
        "parameters": [
          {
            "name": "id",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "Unsubscribed."
          }
        },
        "description": "Unsubscribe from a channel"
      }
    },
    "/videoCategories": {
      "get": {
        "operationId": "videoCategoriesList",
        "summary": "List video categories",
        "tags": [
          "Videos"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/part"
          },
          {
            "name": "regionCode",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "id",
            "in": "query",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Video categories.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "kind": {
                      "type": "string"
                    },
                    "etag": {
                      "type": "string"
                    },
                    "items": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/VideoCategory"
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "description": "List video categories"
      }
    },
    "/captions": {
      "get": {
        "operationId": "captionsList",
        "summary": "List captions for a video",
        "tags": [
          "Captions"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/part"
          },
          {
            "name": "videoId",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Captions list.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "kind": {
                      "type": "string"
                    },
                    "etag": {
                      "type": "string"
                    },
                    "items": {
                      "type": "array",
                      "items": {
                        "type": "object"
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "description": "List captions for a video"
      }
    }
  },
  "tags": [
    {
      "name": "Search",
      "description": "Search for content."
    },
    {
      "name": "Videos",
      "description": "Video operations."
    },
    {
      "name": "Channels",
      "description": "Channel operations."
    },
    {
      "name": "Playlists",
      "description": "Playlist operations."
    },
    {
      "name": "Comments",
      "description": "Comment operations."
    },
    {
      "name": "Subscriptions",
      "description": "Subscription operations."
    },
    {
      "name": "Captions",
      "description": "Caption operations."
    }
  ]
}
