{
  "openapi": "3.0.3",
  "info": {
    "title": "AfterShip Returns API",
    "version": "2026-01",
    "description": "AfterShip Returns API enables you to manage returns, handle return items, process approvals/rejections, receive items, attach shipments, manage item tags, and create returns page deep links. Supports operations by both Return ID and RMA number.",
    "x-jentic-source-url": "https://www.aftership.com/docs/returns",
    "contact": {
      "name": "API Support"
    }
  },
  "servers": [
    {
      "url": "https://api.aftership.com/returns/2026-01"
    }
  ],
  "paths": {
    "/returns/{return_id}": {
      "get": {
        "operationId": "getReturnById",
        "summary": "Get return detail by ID",
        "description": "Retrieves detailed information about a specific return using its unique return ID.",
        "tags": [
          "Returns"
        ],
        "parameters": [
          {
            "name": "return_id",
            "in": "path",
            "description": "Unique return identifier",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ReturnResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/returns/rma/{rma_number}": {
      "get": {
        "operationId": "getReturnByRma",
        "summary": "Get return detail by RMA number",
        "description": "Retrieves detailed information about a specific return using its RMA number.",
        "tags": [
          "Returns"
        ],
        "parameters": [
          {
            "name": "rma_number",
            "in": "path",
            "description": "RMA number of the return",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ReturnResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/returns": {
      "get": {
        "operationId": "getReturns",
        "summary": "Get returns",
        "description": "Retrieves a list of returns with optional filtering and pagination.",
        "tags": [
          "Returns"
        ],
        "parameters": [
          {
            "name": "page",
            "in": "query",
            "description": "Page number",
            "required": false,
            "schema": {
              "type": "integer",
              "default": 1
            }
          },
          {
            "name": "limit",
            "in": "query",
            "description": "Number of results per page",
            "required": false,
            "schema": {
              "type": "integer",
              "default": 20,
              "maximum": 100
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ReturnListResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      },
      "post": {
        "operationId": "createReturn",
        "summary": "Create Return",
        "description": "Creates a new return request.",
        "tags": [
          "Returns"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateReturnRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Return created successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ReturnResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/returns/rma/{rma_number}/approve": {
      "post": {
        "operationId": "approveReturnByRma",
        "summary": "Approve Return By RMA number",
        "description": "Approves a return identified by its RMA number.",
        "tags": [
          "Returns"
        ],
        "parameters": [
          {
            "name": "rma_number",
            "in": "path",
            "description": "RMA number",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Return approved",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ReturnResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/returns/{return_id}/approve": {
      "post": {
        "operationId": "approveReturnById",
        "summary": "Approve Return By Return ID",
        "description": "Approves a return identified by its return ID.",
        "tags": [
          "Returns"
        ],
        "parameters": [
          {
            "name": "return_id",
            "in": "path",
            "description": "Return ID",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Return approved",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ReturnResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/returns/rma/{rma_number}/resolve": {
      "post": {
        "operationId": "resolveReturnByRma",
        "summary": "Resolve Return By RMA number",
        "description": "Resolves a return identified by its RMA number.",
        "tags": [
          "Returns"
        ],
        "parameters": [
          {
            "name": "rma_number",
            "in": "path",
            "description": "RMA number",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Return resolved",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ReturnResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/returns/{return_id}/resolve": {
      "post": {
        "operationId": "resolveReturnById",
        "summary": "Resolve Return By Return ID",
        "description": "Resolves a return identified by its return ID.",
        "tags": [
          "Returns"
        ],
        "parameters": [
          {
            "name": "return_id",
            "in": "path",
            "description": "Return ID",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Return resolved",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ReturnResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/returns/rma/{rma_number}/reject": {
      "post": {
        "operationId": "rejectReturnByRma",
        "summary": "Reject Return By RMA number",
        "description": "Rejects a return identified by its RMA number.",
        "tags": [
          "Returns"
        ],
        "parameters": [
          {
            "name": "rma_number",
            "in": "path",
            "description": "RMA number",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Return rejected",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ReturnResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/returns/{return_id}/reject": {
      "post": {
        "operationId": "rejectReturnById",
        "summary": "Reject Return By Return ID",
        "description": "Rejects a return identified by its return ID.",
        "tags": [
          "Returns"
        ],
        "parameters": [
          {
            "name": "return_id",
            "in": "path",
            "description": "Return ID",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Return rejected",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ReturnResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/returns/rma/{rma_number}/receive": {
      "post": {
        "operationId": "receiveItemsByRma",
        "summary": "Receive items by RMA number",
        "description": "Records receipt of items for a return identified by RMA number.",
        "tags": [
          "Returns"
        ],
        "parameters": [
          {
            "name": "rma_number",
            "in": "path",
            "description": "RMA number",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ReceiveItemsRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Items received",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ReturnResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/returns/{return_id}/receive": {
      "post": {
        "operationId": "receiveItemsById",
        "summary": "Receive items by Return ID",
        "description": "Records receipt of items for a return identified by return ID.",
        "tags": [
          "Returns"
        ],
        "parameters": [
          {
            "name": "return_id",
            "in": "path",
            "description": "Return ID",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ReceiveItemsRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Items received",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ReturnResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/returns/rma/{rma_number}/shipments": {
      "post": {
        "operationId": "attachShipmentsByRma",
        "summary": "Attach shipments by RMA number",
        "description": "Attaches shipment information to a return identified by RMA number.",
        "tags": [
          "Returns"
        ],
        "parameters": [
          {
            "name": "rma_number",
            "in": "path",
            "description": "RMA number",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/AttachShipmentsRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Shipments attached",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ReturnResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/returns/{return_id}/shipments": {
      "post": {
        "operationId": "attachShipmentsById",
        "summary": "Attach shipments by Return ID",
        "description": "Attaches shipment information to a return identified by return ID.",
        "tags": [
          "Returns"
        ],
        "parameters": [
          {
            "name": "return_id",
            "in": "path",
            "description": "Return ID",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/AttachShipmentsRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Shipments attached",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ReturnResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/returns/{return_id}/remove-items": {
      "post": {
        "operationId": "removeReturnItemsById",
        "summary": "Remove return items by Return ID",
        "description": "Removes items from a return identified by return ID.",
        "tags": [
          "Returns"
        ],
        "parameters": [
          {
            "name": "return_id",
            "in": "path",
            "description": "Return ID",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/RemoveItemsRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Items removed",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ReturnResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/returns/rma/{rma_number}/remove-items": {
      "post": {
        "operationId": "removeReturnItemsByRma",
        "summary": "Remove return items by RMA number",
        "description": "Removes items from a return identified by RMA number.",
        "tags": [
          "Returns"
        ],
        "parameters": [
          {
            "name": "rma_number",
            "in": "path",
            "description": "RMA number",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/RemoveItemsRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Items removed",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ReturnResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/return-dropoffs": {
      "post": {
        "operationId": "recordDropoff",
        "summary": "Record dropped-off return items",
        "description": "Records that return items have been dropped off at a location.",
        "tags": [
          "Return Dropoffs"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/RecordDropoffRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Dropoff recorded",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ReturnResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/returns/{return_id}/items": {
      "patch": {
        "operationId": "updateReturnItemsById",
        "summary": "Update return items by Return ID",
        "description": "Updates return item details for a return identified by return ID.",
        "tags": [
          "Return Items"
        ],
        "parameters": [
          {
            "name": "return_id",
            "in": "path",
            "description": "Return ID",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UpdateReturnItemsRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Items updated",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ReturnResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/returns/rma/{rma_number}/items": {
      "patch": {
        "operationId": "updateReturnItemsByRma",
        "summary": "Update return items by RMA number",
        "description": "Updates return item details for a return identified by RMA number.",
        "tags": [
          "Return Items"
        ],
        "parameters": [
          {
            "name": "rma_number",
            "in": "path",
            "description": "RMA number",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UpdateReturnItemsRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Items updated",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ReturnResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/item-tags": {
      "get": {
        "operationId": "getItemTags",
        "summary": "Get item tags",
        "description": "Retrieves a list of all item tags.",
        "tags": [
          "Item Tags"
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ItemTagListResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/returns-page/deep-link": {
      "post": {
        "operationId": "createReturnsPageDeepLink",
        "summary": "Create Returns Page Deep Link",
        "description": "Creates a deep link to the returns page for a customer.",
        "tags": [
          "Returns Page"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateDeepLinkRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Deep link created",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DeepLinkResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    }
  },
  "components": {
    "schemas": {
      "Return": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "description": "Return ID"
          },
          "rma_number": {
            "type": "string",
            "description": "RMA number"
          },
          "order_id": {
            "type": "string",
            "description": "Original order ID"
          },
          "status": {
            "type": "string",
            "description": "Return status"
          },
          "items": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/ReturnItem"
            }
          },
          "created_at": {
            "type": "string",
            "format": "date-time"
          },
          "updated_at": {
            "type": "string",
            "format": "date-time"
          }
        }
      },
      "ReturnItem": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string"
          },
          "product_name": {
            "type": "string"
          },
          "sku": {
            "type": "string"
          },
          "quantity": {
            "type": "integer"
          },
          "reason": {
            "type": "string"
          },
          "tags": {
            "type": "array",
            "items": {
              "type": "string"
            }
          }
        }
      },
      "ItemTag": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string"
          },
          "name": {
            "type": "string"
          }
        }
      },
      "Address": {
        "type": "object",
        "properties": {
          "name": {
            "type": "string"
          },
          "address_line_1": {
            "type": "string"
          },
          "address_line_2": {
            "type": "string"
          },
          "city": {
            "type": "string"
          },
          "state": {
            "type": "string"
          },
          "postal_code": {
            "type": "string"
          },
          "country": {
            "type": "string"
          },
          "phone": {
            "type": "string"
          },
          "email": {
            "type": "string"
          }
        }
      },
      "Money": {
        "type": "object",
        "properties": {
          "amount": {
            "type": "number"
          },
          "currency": {
            "type": "string"
          }
        }
      },
      "ReturnResponse": {
        "type": "object",
        "properties": {
          "meta": {
            "$ref": "#/components/schemas/Meta"
          },
          "data": {
            "$ref": "#/components/schemas/Return"
          }
        }
      },
      "ReturnListResponse": {
        "type": "object",
        "properties": {
          "meta": {
            "$ref": "#/components/schemas/Meta"
          },
          "data": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Return"
            }
          }
        }
      },
      "ItemTagListResponse": {
        "type": "object",
        "properties": {
          "meta": {
            "$ref": "#/components/schemas/Meta"
          },
          "data": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/ItemTag"
            }
          }
        }
      },
      "DeepLinkResponse": {
        "type": "object",
        "properties": {
          "meta": {
            "$ref": "#/components/schemas/Meta"
          },
          "data": {
            "type": "object",
            "properties": {
              "url": {
                "type": "string"
              }
            }
          }
        }
      },
      "Meta": {
        "type": "object",
        "properties": {
          "code": {
            "type": "integer"
          },
          "message": {
            "type": "string"
          },
          "type": {
            "type": "string"
          }
        }
      },
      "ErrorResponse": {
        "type": "object",
        "properties": {
          "meta": {
            "$ref": "#/components/schemas/Meta"
          },
          "data": {
            "type": "object"
          }
        }
      },
      "CreateReturnRequest": {
        "type": "object",
        "properties": {
          "order_id": {
            "type": "string"
          },
          "items": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/ReturnItem"
            }
          }
        }
      },
      "ReceiveItemsRequest": {
        "type": "object",
        "properties": {
          "items": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "id": {
                  "type": "string"
                },
                "quantity": {
                  "type": "integer"
                }
              }
            }
          }
        }
      },
      "AttachShipmentsRequest": {
        "type": "object",
        "properties": {
          "shipments": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "tracking_number": {
                  "type": "string"
                },
                "slug": {
                  "type": "string"
                }
              }
            }
          }
        }
      },
      "RemoveItemsRequest": {
        "type": "object",
        "properties": {
          "item_ids": {
            "type": "array",
            "items": {
              "type": "string"
            }
          }
        }
      },
      "RecordDropoffRequest": {
        "type": "object",
        "properties": {
          "return_id": {
            "type": "string"
          },
          "items": {
            "type": "array",
            "items": {
              "type": "object"
            }
          }
        }
      },
      "UpdateReturnItemsRequest": {
        "type": "object",
        "properties": {
          "items": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/ReturnItem"
            }
          }
        }
      },
      "CreateDeepLinkRequest": {
        "type": "object",
        "properties": {
          "order_number": {
            "type": "string"
          },
          "email": {
            "type": "string"
          }
        }
      }
    },
    "securitySchemes": {
      "apiKey": {
        "type": "apiKey",
        "name": "as-api-key",
        "in": "header"
      }
    }
  },
  "security": [
    {
      "apiKey": []
    }
  ],
  "tags": [
    {
      "name": "Item Tags"
    },
    {
      "name": "Return Dropoffs"
    },
    {
      "name": "Return Items"
    },
    {
      "name": "Returns"
    },
    {
      "name": "Returns Page"
    }
  ]
}
