{
  "openapi": "3.0.3",
  "info": {
    "title": "Name.com API",
    "version": "4.0.0",
    "description": "Name.com domain registration and management REST API v4. Provides programmatic access to domain registration, DNS management, email forwarding, transfers, URL forwarding, DNSSEC, vanity nameservers, and webhooks.",
    "x-jentic-source-url": "https://www.name.com/api-docs/",
    "contact": {
      "name": "API Support"
    }
  },
  "servers": [
    {
      "url": "https://api.name.com/v4",
      "description": "Production"
    },
    {
      "url": "https://api.dev.name.com/v4",
      "description": "Testing"
    }
  ],
  "tags": [
    {
      "name": "Domains",
      "description": "Domain registration and management"
    },
    {
      "name": "DNS",
      "description": "DNS record management"
    },
    {
      "name": "DNSSEC",
      "description": "DNSSEC key management"
    },
    {
      "name": "Email Forwarding",
      "description": "Email forwarding configuration"
    },
    {
      "name": "Transfers",
      "description": "Domain transfer management"
    },
    {
      "name": "URL Forwarding",
      "description": "URL forwarding configuration"
    },
    {
      "name": "Vanity Nameservers",
      "description": "Vanity nameserver management"
    },
    {
      "name": "Webhooks",
      "description": "Webhook notification subscriptions"
    },
    {
      "name": "Orders",
      "description": "Order history"
    },
    {
      "name": "Account",
      "description": "Account information"
    },
    {
      "name": "Hello",
      "description": "API connectivity test"
    }
  ],
  "paths": {
    "/domains": {
      "get": {
        "operationId": "listDomains",
        "summary": "List all domains",
        "tags": [
          "Domains"
        ],
        "parameters": [
          {
            "name": "perPage",
            "in": "query",
            "required": false,
            "description": "Number of records per request",
            "schema": {
              "type": "integer",
              "default": 1000
            }
          },
          {
            "name": "page",
            "in": "query",
            "required": false,
            "description": "Page number",
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "sort",
            "in": "query",
            "required": false,
            "description": "Sort by domain property",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "dir",
            "in": "query",
            "required": false,
            "description": "Sort direction (asc/desc)",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "domainName",
            "in": "query",
            "required": false,
            "description": "Filter by domain name",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "tld",
            "in": "query",
            "required": false,
            "description": "Filter by TLD",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "locked",
            "in": "query",
            "required": false,
            "description": "Filter locked domains",
            "schema": {
              "type": "boolean"
            }
          },
          {
            "name": "createDate",
            "in": "query",
            "required": false,
            "description": "Filter by create date",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "createDateStart",
            "in": "query",
            "required": false,
            "description": "Created on or after",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "createDateEnd",
            "in": "query",
            "required": false,
            "description": "Created on or before",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "expireDate",
            "in": "query",
            "required": false,
            "description": "Filter by expire date",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "expireDateStart",
            "in": "query",
            "required": false,
            "description": "Expire on or after",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "expireDateEnd",
            "in": "query",
            "required": false,
            "description": "Expire on or before",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "privacyEnabled",
            "in": "query",
            "required": false,
            "description": "Filter by privacy",
            "schema": {
              "type": "boolean"
            }
          },
          {
            "name": "isPremium",
            "in": "query",
            "required": false,
            "description": "Filter premium domains",
            "schema": {
              "type": "boolean"
            }
          },
          {
            "name": "autorenewEnabled",
            "in": "query",
            "required": false,
            "description": "Filter autorenew",
            "schema": {
              "type": "boolean"
            }
          },
          {
            "name": "orderId",
            "in": "query",
            "required": false,
            "description": "Filter by order ID",
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DomainListResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "description": "List all domains"
      },
      "post": {
        "operationId": "createDomain",
        "summary": "Purchase a new domain",
        "tags": [
          "Domains"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateDomainRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CreateDomainResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "description": "Purchase a new domain"
      }
    },
    "/domains/{domainName}": {
      "get": {
        "operationId": "getDomain",
        "summary": "Get domain details",
        "tags": [
          "Domains"
        ],
        "parameters": [
          {
            "name": "domainName",
            "in": "path",
            "required": true,
            "description": "Domain name to retrieve",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Domain"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "description": "Get domain details"
      }
    },
    "/domains/{domainName}:enableWhoisPrivacy": {
      "post": {
        "operationId": "enableWhoisPrivacy",
        "summary": "Enable WHOIS privacy",
        "tags": [
          "Domains"
        ],
        "parameters": [
          {
            "name": "domainName",
            "in": "path",
            "required": true,
            "description": "Domain name",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Domain"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "description": "Enable WHOIS privacy"
      }
    },
    "/domains/{domainName}:disableWhoisPrivacy": {
      "post": {
        "operationId": "disableWhoisPrivacy",
        "summary": "Disable WHOIS privacy",
        "tags": [
          "Domains"
        ],
        "parameters": [
          {
            "name": "domainName",
            "in": "path",
            "required": true,
            "description": "Domain name",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Domain"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "description": "Disable WHOIS privacy"
      }
    },
    "/domains/{domainName}:enableAutorenew": {
      "post": {
        "operationId": "enableAutorenew",
        "summary": "Enable auto-renewal",
        "tags": [
          "Domains"
        ],
        "parameters": [
          {
            "name": "domainName",
            "in": "path",
            "required": true,
            "description": "Domain name",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Domain"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "description": "Enable auto-renewal"
      }
    },
    "/domains/{domainName}:disableAutorenew": {
      "post": {
        "operationId": "disableAutorenew",
        "summary": "Disable auto-renewal",
        "tags": [
          "Domains"
        ],
        "parameters": [
          {
            "name": "domainName",
            "in": "path",
            "required": true,
            "description": "Domain name",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Domain"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "description": "Disable auto-renewal"
      }
    },
    "/domains/{domainName}:renew": {
      "post": {
        "operationId": "renewDomain",
        "summary": "Renew a domain",
        "tags": [
          "Domains"
        ],
        "parameters": [
          {
            "name": "domainName",
            "in": "path",
            "required": true,
            "description": "Domain to renew",
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/RenewDomainRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PurchaseResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "description": "Renew a domain"
      }
    },
    "/domains/{domainName}:getPricing": {
      "get": {
        "operationId": "getPricingForDomain",
        "summary": "Get pricing for a domain",
        "tags": [
          "Domains"
        ],
        "parameters": [
          {
            "name": "domainName",
            "in": "path",
            "required": true,
            "description": "Domain name",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "years",
            "in": "query",
            "required": false,
            "description": "Time period in years",
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DomainPricing"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "description": "Get pricing for a domain"
      }
    },
    "/domains/{domainName}:getAuthCode": {
      "get": {
        "operationId": "getAuthCodeForDomain",
        "summary": "Get transfer auth code",
        "tags": [
          "Domains"
        ],
        "parameters": [
          {
            "name": "domainName",
            "in": "path",
            "required": true,
            "description": "Domain name",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AuthCodeResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "description": "Get transfer auth code"
      }
    },
    "/domains/{domainName}:purchasePrivacy": {
      "post": {
        "operationId": "purchasePrivacy",
        "summary": "Purchase WHOIS privacy",
        "tags": [
          "Domains"
        ],
        "parameters": [
          {
            "name": "domainName",
            "in": "path",
            "required": true,
            "description": "Domain name",
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/PurchasePrivacyRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PurchaseResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "description": "Purchase WHOIS privacy"
      }
    },
    "/domains/{domainName}:setNameservers": {
      "post": {
        "operationId": "setNameservers",
        "summary": "Set nameservers",
        "tags": [
          "Domains"
        ],
        "parameters": [
          {
            "name": "domainName",
            "in": "path",
            "required": true,
            "description": "Domain name",
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/SetNameserversRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Domain"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "description": "Set nameservers"
      }
    },
    "/domains/{domainName}:setContacts": {
      "post": {
        "operationId": "setContacts",
        "summary": "Set domain contacts",
        "tags": [
          "Domains"
        ],
        "parameters": [
          {
            "name": "domainName",
            "in": "path",
            "required": true,
            "description": "Domain name",
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/SetContactsRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Domain"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "description": "Set domain contacts"
      }
    },
    "/domains/{domainName}:lock": {
      "post": {
        "operationId": "lockDomain",
        "summary": "Lock domain",
        "tags": [
          "Domains"
        ],
        "parameters": [
          {
            "name": "domainName",
            "in": "path",
            "required": true,
            "description": "Domain name",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Domain"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "description": "Lock domain"
      }
    },
    "/domains/{domainName}:unlock": {
      "post": {
        "operationId": "unlockDomain",
        "summary": "Unlock domain",
        "tags": [
          "Domains"
        ],
        "parameters": [
          {
            "name": "domainName",
            "in": "path",
            "required": true,
            "description": "Domain name",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Domain"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "description": "Unlock domain"
      }
    },
    "/domains:checkAvailability": {
      "post": {
        "operationId": "checkAvailability",
        "summary": "Check domain availability",
        "tags": [
          "Domains"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CheckAvailabilityRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SearchResultsResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "description": "Check domain availability"
      }
    },
    "/domains:search": {
      "post": {
        "operationId": "searchDomains",
        "summary": "Search for domains",
        "tags": [
          "Domains"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/SearchRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SearchResultsResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "description": "Search for domains"
      }
    },
    "/domains:searchStream": {
      "post": {
        "operationId": "searchDomainsStream",
        "summary": "Search domains (streaming)",
        "tags": [
          "Domains"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/SearchRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SearchResult"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "description": "Search domains (streaming)"
      }
    },
    "/domains/{domainName}/records": {
      "get": {
        "operationId": "listRecords",
        "summary": "List DNS records",
        "tags": [
          "DNS"
        ],
        "parameters": [
          {
            "name": "domainName",
            "in": "path",
            "required": true,
            "description": "Domain name",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "perPage",
            "in": "query",
            "required": false,
            "description": "Records per page",
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "page",
            "in": "query",
            "required": false,
            "description": "Page number",
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RecordListResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "description": "List DNS records"
      },
      "post": {
        "operationId": "createRecord",
        "summary": "Create DNS record",
        "tags": [
          "DNS"
        ],
        "parameters": [
          {
            "name": "domainName",
            "in": "path",
            "required": true,
            "description": "Domain name",
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/Record"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Record"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "description": "Create DNS record"
      }
    },
    "/domains/{domainName}/records/{id}": {
      "get": {
        "operationId": "getRecord",
        "summary": "Get DNS record",
        "tags": [
          "DNS"
        ],
        "parameters": [
          {
            "name": "domainName",
            "in": "path",
            "required": true,
            "description": "Domain name",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "id",
            "in": "path",
            "required": true,
            "description": "Record ID",
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Record"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "description": "Get DNS record"
      },
      "put": {
        "operationId": "updateRecord",
        "summary": "Update DNS record",
        "tags": [
          "DNS"
        ],
        "parameters": [
          {
            "name": "domainName",
            "in": "path",
            "required": true,
            "description": "Domain name",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "id",
            "in": "path",
            "required": true,
            "description": "Record ID",
            "schema": {
              "type": "integer"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/Record"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Record"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "description": "Update DNS record"
      },
      "delete": {
        "operationId": "deleteRecord",
        "summary": "Delete DNS record",
        "tags": [
          "DNS"
        ],
        "parameters": [
          {
            "name": "domainName",
            "in": "path",
            "required": true,
            "description": "Domain name",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "id",
            "in": "path",
            "required": true,
            "description": "Record ID",
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "description": "Delete DNS record"
      }
    },
    "/domains/{domainName}/dnssec": {
      "get": {
        "operationId": "listDnssec",
        "summary": "List DNSSEC keys",
        "tags": [
          "DNSSEC"
        ],
        "parameters": [
          {
            "name": "domainName",
            "in": "path",
            "required": true,
            "description": "Domain name",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DnssecListResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "description": "List DNSSEC keys"
      },
      "post": {
        "operationId": "createDnssec",
        "summary": "Register DNSSEC key",
        "tags": [
          "DNSSEC"
        ],
        "parameters": [
          {
            "name": "domainName",
            "in": "path",
            "required": true,
            "description": "Domain name",
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/Dnssec"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Dnssec"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "description": "Register DNSSEC key"
      }
    },
    "/domains/{domainName}/dnssec/{digest}": {
      "get": {
        "operationId": "getDnssec",
        "summary": "Get DNSSEC key",
        "tags": [
          "DNSSEC"
        ],
        "parameters": [
          {
            "name": "domainName",
            "in": "path",
            "required": true,
            "description": "Domain name",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "digest",
            "in": "path",
            "required": true,
            "description": "DNSSEC digest",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Dnssec"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "description": "Get DNSSEC key"
      },
      "delete": {
        "operationId": "deleteDnssec",
        "summary": "Delete DNSSEC key",
        "tags": [
          "DNSSEC"
        ],
        "parameters": [
          {
            "name": "domainName",
            "in": "path",
            "required": true,
            "description": "Domain name",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "digest",
            "in": "path",
            "required": true,
            "description": "DNSSEC digest",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "description": "Delete DNSSEC key"
      }
    },
    "/domains/{domainName}/email/forwarding": {
      "get": {
        "operationId": "listEmailForwardings",
        "summary": "List email forwarding entries",
        "tags": [
          "Email Forwarding"
        ],
        "parameters": [
          {
            "name": "domainName",
            "in": "path",
            "required": true,
            "description": "Domain name",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "perPage",
            "in": "query",
            "required": false,
            "description": "Records per page",
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "page",
            "in": "query",
            "required": false,
            "description": "Page number",
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/EmailForwardingListResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "description": "List email forwarding entries"
      },
      "post": {
        "operationId": "createEmailForwarding",
        "summary": "Create email forwarding",
        "tags": [
          "Email Forwarding"
        ],
        "parameters": [
          {
            "name": "domainName",
            "in": "path",
            "required": true,
            "description": "Domain name",
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/EmailForwarding"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/EmailForwarding"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "description": "Create email forwarding"
      }
    },
    "/domains/{domainName}/email/forwarding/{emailBox}": {
      "get": {
        "operationId": "getEmailForwarding",
        "summary": "Get email forwarding",
        "tags": [
          "Email Forwarding"
        ],
        "parameters": [
          {
            "name": "domainName",
            "in": "path",
            "required": true,
            "description": "Domain name",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "emailBox",
            "in": "path",
            "required": true,
            "description": "Email box name",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/EmailForwarding"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "description": "Get email forwarding"
      },
      "put": {
        "operationId": "updateEmailForwarding",
        "summary": "Update email forwarding",
        "tags": [
          "Email Forwarding"
        ],
        "parameters": [
          {
            "name": "domainName",
            "in": "path",
            "required": true,
            "description": "Domain name",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "emailBox",
            "in": "path",
            "required": true,
            "description": "Email box name",
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/EmailForwarding"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/EmailForwarding"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "description": "Update email forwarding"
      },
      "delete": {
        "operationId": "deleteEmailForwarding",
        "summary": "Delete email forwarding",
        "tags": [
          "Email Forwarding"
        ],
        "parameters": [
          {
            "name": "domainName",
            "in": "path",
            "required": true,
            "description": "Domain name",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "emailBox",
            "in": "path",
            "required": true,
            "description": "Email box name",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "description": "Delete email forwarding"
      }
    },
    "/transfers": {
      "get": {
        "operationId": "listTransfers",
        "summary": "List pending transfers",
        "tags": [
          "Transfers"
        ],
        "parameters": [
          {
            "name": "perPage",
            "in": "query",
            "required": false,
            "description": "Records per page",
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "page",
            "in": "query",
            "required": false,
            "description": "Page number",
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TransferListResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "description": "List pending transfers"
      },
      "post": {
        "operationId": "createTransfer",
        "summary": "Create transfer request",
        "tags": [
          "Transfers"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateTransferRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CreateTransferResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "description": "Create transfer request"
      }
    },
    "/transfers/{domainName}": {
      "get": {
        "operationId": "getTransfer",
        "summary": "Get transfer details",
        "tags": [
          "Transfers"
        ],
        "parameters": [
          {
            "name": "domainName",
            "in": "path",
            "required": true,
            "description": "Domain name",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Transfer"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "description": "Get transfer details"
      }
    },
    "/transfers/{domainName}:cancel": {
      "post": {
        "operationId": "cancelTransfer",
        "summary": "Cancel transfer",
        "tags": [
          "Transfers"
        ],
        "parameters": [
          {
            "name": "domainName",
            "in": "path",
            "required": true,
            "description": "Domain name",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Transfer"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "description": "Cancel transfer"
      }
    },
    "/domains/{domainName}/url/forwarding": {
      "get": {
        "operationId": "listUrlForwardings",
        "summary": "List URL forwardings",
        "tags": [
          "URL Forwarding"
        ],
        "parameters": [
          {
            "name": "domainName",
            "in": "path",
            "required": true,
            "description": "Domain name",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "perPage",
            "in": "query",
            "required": false,
            "description": "Records per page",
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "page",
            "in": "query",
            "required": false,
            "description": "Page number",
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/UrlForwardingListResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "description": "List URL forwardings"
      },
      "post": {
        "operationId": "createUrlForwarding",
        "summary": "Create URL forwarding",
        "tags": [
          "URL Forwarding"
        ],
        "parameters": [
          {
            "name": "domainName",
            "in": "path",
            "required": true,
            "description": "Domain name",
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UrlForwarding"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/UrlForwarding"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "description": "Create URL forwarding"
      }
    },
    "/domains/{domainName}/url/forwarding/{host}": {
      "get": {
        "operationId": "getUrlForwarding",
        "summary": "Get URL forwarding",
        "tags": [
          "URL Forwarding"
        ],
        "parameters": [
          {
            "name": "domainName",
            "in": "path",
            "required": true,
            "description": "Domain name",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "host",
            "in": "path",
            "required": true,
            "description": "Host name",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/UrlForwarding"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "description": "Get URL forwarding"
      },
      "put": {
        "operationId": "updateUrlForwarding",
        "summary": "Update URL forwarding",
        "tags": [
          "URL Forwarding"
        ],
        "parameters": [
          {
            "name": "domainName",
            "in": "path",
            "required": true,
            "description": "Domain name",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "host",
            "in": "path",
            "required": true,
            "description": "Host name",
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UrlForwarding"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/UrlForwarding"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "description": "Update URL forwarding"
      },
      "delete": {
        "operationId": "deleteUrlForwarding",
        "summary": "Delete URL forwarding",
        "tags": [
          "URL Forwarding"
        ],
        "parameters": [
          {
            "name": "domainName",
            "in": "path",
            "required": true,
            "description": "Domain name",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "host",
            "in": "path",
            "required": true,
            "description": "Host name",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "description": "Delete URL forwarding"
      }
    },
    "/domains/{domainName}/vanity_nameservers": {
      "get": {
        "operationId": "listVanityNameservers",
        "summary": "List vanity nameservers",
        "tags": [
          "Vanity Nameservers"
        ],
        "parameters": [
          {
            "name": "domainName",
            "in": "path",
            "required": true,
            "description": "Domain name",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/VanityNameserverListResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "description": "List vanity nameservers"
      },
      "post": {
        "operationId": "createVanityNameserver",
        "summary": "Create vanity nameserver",
        "tags": [
          "Vanity Nameservers"
        ],
        "parameters": [
          {
            "name": "domainName",
            "in": "path",
            "required": true,
            "description": "Domain name",
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/VanityNameserver"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/VanityNameserver"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "description": "Create vanity nameserver"
      }
    },
    "/domains/{domainName}/vanity_nameservers/{hostname}": {
      "get": {
        "operationId": "getVanityNameserver",
        "summary": "Get vanity nameserver",
        "tags": [
          "Vanity Nameservers"
        ],
        "parameters": [
          {
            "name": "domainName",
            "in": "path",
            "required": true,
            "description": "Domain name",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "hostname",
            "in": "path",
            "required": true,
            "description": "Nameserver hostname",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/VanityNameserver"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "description": "Get vanity nameserver"
      },
      "put": {
        "operationId": "updateVanityNameserver",
        "summary": "Update vanity nameserver",
        "tags": [
          "Vanity Nameservers"
        ],
        "parameters": [
          {
            "name": "domainName",
            "in": "path",
            "required": true,
            "description": "Domain name",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "hostname",
            "in": "path",
            "required": true,
            "description": "Nameserver hostname",
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/VanityNameserver"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/VanityNameserver"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "description": "Update vanity nameserver"
      },
      "delete": {
        "operationId": "deleteVanityNameserver",
        "summary": "Delete vanity nameserver",
        "tags": [
          "Vanity Nameservers"
        ],
        "parameters": [
          {
            "name": "domainName",
            "in": "path",
            "required": true,
            "description": "Domain name",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "hostname",
            "in": "path",
            "required": true,
            "description": "Nameserver hostname",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "description": "Delete vanity nameserver"
      }
    },
    "/notifications": {
      "get": {
        "operationId": "getSubscribedNotifications",
        "summary": "Get webhook subscriptions",
        "tags": [
          "Webhooks"
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/NotificationListResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "description": "Get webhook subscriptions"
      },
      "post": {
        "operationId": "subscribeToNotification",
        "summary": "Subscribe to webhook",
        "tags": [
          "Webhooks"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/NotificationSubscription"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/NotificationSubscription"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "description": "Subscribe to webhook"
      }
    },
    "/notifications/{id}": {
      "put": {
        "operationId": "modifySubscription",
        "summary": "Modify webhook subscription",
        "tags": [
          "Webhooks"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "description": "Subscription ID",
            "schema": {
              "type": "integer"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/NotificationSubscription"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/NotificationSubscription"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "description": "Modify webhook subscription"
      },
      "delete": {
        "operationId": "deleteSubscription",
        "summary": "Delete webhook subscription",
        "tags": [
          "Webhooks"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "description": "Subscription ID",
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "description": "Delete webhook subscription"
      }
    },
    "/orders": {
      "get": {
        "operationId": "listOrders",
        "summary": "List orders",
        "tags": [
          "Orders"
        ],
        "parameters": [
          {
            "name": "perPage",
            "in": "query",
            "required": false,
            "description": "Records per page",
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "page",
            "in": "query",
            "required": false,
            "description": "Page number",
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/OrderListResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "description": "List orders"
      }
    },
    "/orders/{orderId}": {
      "get": {
        "operationId": "getOrder",
        "summary": "Get order details",
        "tags": [
          "Orders"
        ],
        "parameters": [
          {
            "name": "orderId",
            "in": "path",
            "required": true,
            "description": "Order ID",
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Order"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "description": "Get order details"
      }
    },
    "/account": {
      "get": {
        "operationId": "checkAccountBalance",
        "summary": "Check account balance",
        "tags": [
          "Account"
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AccountBalance"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "description": "Check account balance"
      }
    },
    "/hello": {
      "get": {
        "operationId": "helloFunc",
        "summary": "Test API connectivity",
        "tags": [
          "Hello"
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HelloResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "description": "Test API connectivity"
      }
    }
  },
  "components": {
    "schemas": {
      "ErrorResponse": {
        "type": "object",
        "properties": {
          "message": {
            "type": "string"
          },
          "details": {
            "type": "string"
          }
        }
      },
      "Domain": {
        "type": "object",
        "properties": {
          "domainName": {
            "type": "string"
          },
          "nameservers": {
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "contacts": {
            "$ref": "#/components/schemas/Contacts"
          },
          "privacyEnabled": {
            "type": "boolean"
          },
          "locked": {
            "type": "boolean"
          },
          "autorenewEnabled": {
            "type": "boolean"
          },
          "expireDate": {
            "type": "string",
            "format": "date-time"
          },
          "createDate": {
            "type": "string",
            "format": "date-time"
          },
          "renewalPrice": {
            "type": "number",
            "format": "double"
          }
        }
      },
      "Contacts": {
        "type": "object",
        "properties": {
          "registrant": {
            "$ref": "#/components/schemas/Contact"
          },
          "admin": {
            "$ref": "#/components/schemas/Contact"
          },
          "tech": {
            "$ref": "#/components/schemas/Contact"
          },
          "billing": {
            "$ref": "#/components/schemas/Contact"
          }
        }
      },
      "Contact": {
        "type": "object",
        "properties": {
          "firstName": {
            "type": "string"
          },
          "lastName": {
            "type": "string"
          },
          "address1": {
            "type": "string"
          },
          "address2": {
            "type": "string"
          },
          "city": {
            "type": "string"
          },
          "state": {
            "type": "string"
          },
          "zip": {
            "type": "string"
          },
          "country": {
            "type": "string"
          },
          "phone": {
            "type": "string"
          },
          "fax": {
            "type": "string"
          },
          "email": {
            "type": "string"
          },
          "organization": {
            "type": "string"
          }
        }
      },
      "DomainListResponse": {
        "type": "object",
        "properties": {
          "domains": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Domain"
            }
          },
          "currentPage": {
            "type": "integer"
          },
          "nextPage": {
            "type": "integer"
          },
          "lastPage": {
            "type": "integer"
          },
          "totalCount": {
            "type": "integer"
          },
          "from": {
            "type": "integer"
          },
          "to": {
            "type": "integer"
          }
        }
      },
      "CreateDomainRequest": {
        "type": "object",
        "properties": {
          "domain": {
            "$ref": "#/components/schemas/Domain"
          },
          "purchasePrice": {
            "type": "number",
            "format": "double"
          },
          "purchaseType": {
            "type": "string"
          },
          "years": {
            "type": "integer"
          },
          "tldRequirements": {
            "type": "object",
            "additionalProperties": {
              "type": "string"
            }
          },
          "promoCode": {
            "type": "string"
          }
        }
      },
      "CreateDomainResponse": {
        "type": "object",
        "properties": {
          "domain": {
            "$ref": "#/components/schemas/Domain"
          },
          "order": {
            "type": "integer"
          },
          "totalPaid": {
            "type": "number",
            "format": "double"
          }
        }
      },
      "RenewDomainRequest": {
        "type": "object",
        "properties": {
          "purchasePrice": {
            "type": "number",
            "format": "double"
          },
          "years": {
            "type": "integer"
          },
          "promoCode": {
            "type": "string"
          }
        }
      },
      "PurchaseResponse": {
        "type": "object",
        "properties": {
          "domain": {
            "$ref": "#/components/schemas/Domain"
          },
          "order": {
            "type": "integer"
          },
          "totalPaid": {
            "type": "number",
            "format": "double"
          }
        }
      },
      "DomainPricing": {
        "type": "object",
        "properties": {
          "purchasePrice": {
            "type": "number",
            "format": "double"
          },
          "renewalPrice": {
            "type": "number",
            "format": "double"
          },
          "transferPrice": {
            "type": "number",
            "format": "double"
          },
          "premium": {
            "type": "boolean"
          }
        }
      },
      "AuthCodeResponse": {
        "type": "object",
        "properties": {
          "authCode": {
            "type": "string"
          }
        }
      },
      "PurchasePrivacyRequest": {
        "type": "object",
        "properties": {
          "purchasePrice": {
            "type": "number",
            "format": "double"
          },
          "years": {
            "type": "integer"
          },
          "promoCode": {
            "type": "string"
          }
        }
      },
      "SetNameserversRequest": {
        "type": "object",
        "properties": {
          "nameservers": {
            "type": "array",
            "items": {
              "type": "string"
            }
          }
        }
      },
      "SetContactsRequest": {
        "type": "object",
        "properties": {
          "contacts": {
            "$ref": "#/components/schemas/Contacts"
          }
        }
      },
      "CheckAvailabilityRequest": {
        "type": "object",
        "properties": {
          "domainNames": {
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "promoCode": {
            "type": "string"
          }
        }
      },
      "SearchRequest": {
        "type": "object",
        "properties": {
          "timeout": {
            "type": "integer"
          },
          "keyword": {
            "type": "string"
          },
          "tldFilter": {
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "promoCode": {
            "type": "string"
          }
        }
      },
      "SearchResult": {
        "type": "object",
        "properties": {
          "domainName": {
            "type": "string"
          },
          "sld": {
            "type": "string"
          },
          "tld": {
            "type": "string"
          },
          "purchasable": {
            "type": "boolean"
          },
          "premium": {
            "type": "boolean"
          },
          "purchasePrice": {
            "type": "number",
            "format": "double"
          },
          "purchaseType": {
            "type": "string"
          },
          "renewalPrice": {
            "type": "number",
            "format": "double"
          }
        }
      },
      "SearchResultsResponse": {
        "type": "object",
        "properties": {
          "results": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/SearchResult"
            }
          }
        }
      },
      "Record": {
        "type": "object",
        "properties": {
          "id": {
            "type": "integer"
          },
          "domainName": {
            "type": "string"
          },
          "host": {
            "type": "string"
          },
          "fqdn": {
            "type": "string"
          },
          "type": {
            "type": "string",
            "enum": [
              "A",
              "AAAA",
              "ANAME",
              "CNAME",
              "MX",
              "NS",
              "SRV",
              "TXT"
            ]
          },
          "answer": {
            "type": "string"
          },
          "ttl": {
            "type": "integer"
          },
          "priority": {
            "type": "integer"
          }
        }
      },
      "RecordListResponse": {
        "type": "object",
        "properties": {
          "records": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Record"
            }
          },
          "nextPage": {
            "type": "integer"
          },
          "lastPage": {
            "type": "integer"
          }
        }
      },
      "Dnssec": {
        "type": "object",
        "properties": {
          "domainName": {
            "type": "string"
          },
          "keyTag": {
            "type": "integer"
          },
          "algorithm": {
            "type": "integer"
          },
          "digestType": {
            "type": "integer"
          },
          "digest": {
            "type": "string"
          }
        }
      },
      "DnssecListResponse": {
        "type": "object",
        "properties": {
          "dnssec": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Dnssec"
            }
          },
          "nextPage": {
            "type": "integer"
          },
          "lastPage": {
            "type": "integer"
          }
        }
      },
      "EmailForwarding": {
        "type": "object",
        "properties": {
          "domainName": {
            "type": "string"
          },
          "emailBox": {
            "type": "string"
          },
          "emailTo": {
            "type": "string"
          }
        }
      },
      "EmailForwardingListResponse": {
        "type": "object",
        "properties": {
          "emailForwarding": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/EmailForwarding"
            }
          },
          "nextPage": {
            "type": "integer"
          },
          "lastPage": {
            "type": "integer"
          }
        }
      },
      "Transfer": {
        "type": "object",
        "properties": {
          "domainName": {
            "type": "string"
          },
          "email": {
            "type": "string"
          },
          "status": {
            "type": "string"
          }
        }
      },
      "TransferListResponse": {
        "type": "object",
        "properties": {
          "transfers": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Transfer"
            }
          },
          "nextPage": {
            "type": "integer"
          },
          "lastPage": {
            "type": "integer"
          }
        }
      },
      "CreateTransferRequest": {
        "type": "object",
        "properties": {
          "domainName": {
            "type": "string"
          },
          "authCode": {
            "type": "string"
          },
          "privacyEnabled": {
            "type": "boolean"
          },
          "purchasePrice": {
            "type": "number",
            "format": "double"
          },
          "promoCode": {
            "type": "string"
          }
        }
      },
      "CreateTransferResponse": {
        "type": "object",
        "properties": {
          "transfer": {
            "$ref": "#/components/schemas/Transfer"
          },
          "order": {
            "type": "integer"
          },
          "totalPaid": {
            "type": "number",
            "format": "double"
          }
        }
      },
      "UrlForwarding": {
        "type": "object",
        "properties": {
          "domainName": {
            "type": "string"
          },
          "host": {
            "type": "string"
          },
          "forwardsTo": {
            "type": "string"
          },
          "type": {
            "type": "string",
            "enum": [
              "masked",
              "redirect"
            ]
          },
          "title": {
            "type": "string"
          },
          "meta": {
            "type": "string"
          }
        }
      },
      "UrlForwardingListResponse": {
        "type": "object",
        "properties": {
          "urlForwarding": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/UrlForwarding"
            }
          },
          "nextPage": {
            "type": "integer"
          },
          "lastPage": {
            "type": "integer"
          }
        }
      },
      "VanityNameserver": {
        "type": "object",
        "properties": {
          "domainName": {
            "type": "string"
          },
          "hostname": {
            "type": "string"
          },
          "ips": {
[...]
