{
  "openapi": "3.0.3",
  "info": {
    "title": "Beaconstac API",
    "version": "2.0.0",
    "description": "Beaconstac provides proximity marketing and contactless solutions through QR codes, NFC tags, beacons, and geofences. The API allows you to manage these resources, campaigns, organizations, and access scan analytics.",
    "x-jentic-source-url": "https://api.beaconstac.com/api/2.0",
    "contact": {
      "name": "API Support"
    }
  },
  "servers": [
    {
      "url": "https://api.beaconstac.com/api/2.0",
      "description": "Beaconstac API v2.0"
    }
  ],
  "security": [
    {
      "TokenAuth": []
    }
  ],
  "tags": [
    {
      "name": "QR Codes",
      "description": "QR code management"
    },
    {
      "name": "Beacons",
      "description": "Bluetooth beacon management"
    },
    {
      "name": "Geofences",
      "description": "Geofence management"
    },
    {
      "name": "NFC Tags",
      "description": "NFC tag management"
    },
    {
      "name": "Campaigns",
      "description": "Campaign management"
    },
    {
      "name": "Organizations",
      "description": "Organization management"
    },
    {
      "name": "Analytics",
      "description": "Scan and interaction analytics"
    }
  ],
  "paths": {
    "/qrcodes": {
      "get": {
        "tags": [
          "QR Codes"
        ],
        "summary": "List QRCodes",
        "operationId": "listQRCodes",
        "parameters": [
          {
            "name": "page",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "page_size",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Paginated list of qrcodes"
          }
        },
        "description": "List QRCodes"
      },
      "post": {
        "tags": [
          "QR Codes"
        ],
        "summary": "Create QRCode",
        "operationId": "createQRCode",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "name": {
                    "type": "string"
                  },
                  "organization": {
                    "type": "integer"
                  },
                  "campaign": {
                    "type": "string"
                  },
                  "fields_data": {
                    "type": "object"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "QRCode created"
          }
        },
        "description": "Create QRCode"
      }
    },
    "/qrcodes/{id}": {
      "get": {
        "tags": [
          "QR Codes"
        ],
        "summary": "Get QRCode",
        "operationId": "getQRCode",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "QRCode details"
          }
        },
        "description": "Get QRCode"
      },
      "patch": {
        "tags": [
          "QR Codes"
        ],
        "summary": "Update QRCode",
        "operationId": "updateQRCode",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "name": {
                    "type": "string"
                  },
                  "organization": {
                    "type": "integer"
                  },
                  "campaign": {
                    "type": "string"
                  },
                  "fields_data": {
                    "type": "object"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "QRCode updated"
          }
        },
        "description": "Update QRCode"
      },
      "delete": {
        "tags": [
          "QR Codes"
        ],
        "summary": "Delete QRCode",
        "operationId": "deleteQRCode",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "QRCode deleted"
          }
        },
        "description": "Delete QRCode"
      }
    },
    "/beacons": {
      "get": {
        "tags": [
          "Beacons"
        ],
        "summary": "List Beacons",
        "operationId": "listBeacons",
        "parameters": [
          {
            "name": "page",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "page_size",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Paginated list of beacons"
          }
        },
        "description": "List Beacons"
      },
      "post": {
        "tags": [
          "Beacons"
        ],
        "summary": "Create Beacon",
        "operationId": "createBeacon",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "name": {
                    "type": "string"
                  },
                  "UUID": {
                    "type": "string"
                  },
                  "major": {
                    "type": "integer"
                  },
                  "minor": {
                    "type": "integer"
                  },
                  "organization": {
                    "type": "integer"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Beacon created"
          }
        },
        "description": "Create Beacon"
      }
    },
    "/beacons/{id}": {
      "get": {
        "tags": [
          "Beacons"
        ],
        "summary": "Get Beacon",
        "operationId": "getBeacon",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Beacon details"
          }
        },
        "description": "Get Beacon"
      },
      "patch": {
        "tags": [
          "Beacons"
        ],
        "summary": "Update Beacon",
        "operationId": "updateBeacon",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "name": {
                    "type": "string"
                  },
                  "UUID": {
                    "type": "string"
                  },
                  "major": {
                    "type": "integer"
                  },
                  "minor": {
                    "type": "integer"
                  },
                  "organization": {
                    "type": "integer"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Beacon updated"
          }
        },
        "description": "Update Beacon"
      },
      "delete": {
        "tags": [
          "Beacons"
        ],
        "summary": "Delete Beacon",
        "operationId": "deleteBeacon",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "Beacon deleted"
          }
        },
        "description": "Delete Beacon"
      }
    },
    "/geofences": {
      "get": {
        "tags": [
          "Geofences"
        ],
        "summary": "List Geofences",
        "operationId": "listGeofences",
        "parameters": [
          {
            "name": "page",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "page_size",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Paginated list of geofences"
          }
        },
        "description": "List Geofences"
      },
      "post": {
        "tags": [
          "Geofences"
        ],
        "summary": "Create Geofence",
        "operationId": "createGeofence",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "name": {
                    "type": "string"
                  },
                  "latitude": {
                    "type": "number"
                  },
                  "longitude": {
                    "type": "number"
                  },
                  "radius": {
                    "type": "number"
                  },
                  "organization": {
                    "type": "integer"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Geofence created"
          }
        },
        "description": "Create Geofence"
      }
    },
    "/geofences/{id}": {
      "get": {
        "tags": [
          "Geofences"
        ],
        "summary": "Get Geofence",
        "operationId": "getGeofence",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Geofence details"
          }
        },
        "description": "Get Geofence"
      },
      "patch": {
        "tags": [
          "Geofences"
        ],
        "summary": "Update Geofence",
        "operationId": "updateGeofence",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "name": {
                    "type": "string"
                  },
                  "latitude": {
                    "type": "number"
                  },
                  "longitude": {
                    "type": "number"
                  },
                  "radius": {
                    "type": "number"
                  },
                  "organization": {
                    "type": "integer"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Geofence updated"
          }
        },
        "description": "Update Geofence"
      },
      "delete": {
        "tags": [
          "Geofences"
        ],
        "summary": "Delete Geofence",
        "operationId": "deleteGeofence",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "Geofence deleted"
          }
        },
        "description": "Delete Geofence"
      }
    },
    "/nfc": {
      "get": {
        "tags": [
          "NFC Tags"
        ],
        "summary": "List NFCTags",
        "operationId": "listNFCTags",
        "parameters": [
          {
            "name": "page",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "page_size",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Paginated list of nfctags"
          }
        },
        "description": "List NFCTags"
      },
      "post": {
        "tags": [
          "NFC Tags"
        ],
        "summary": "Create NFCTag",
        "operationId": "createNFCTag",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "name": {
                    "type": "string"
                  },
                  "organization": {
                    "type": "integer"
                  },
                  "counter_enabled": {
                    "type": "boolean"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "NFCTag created"
          }
        },
        "description": "Create NFCTag"
      }
    },
    "/nfc/{id}": {
      "get": {
        "tags": [
          "NFC Tags"
        ],
        "summary": "Get NFCTag",
        "operationId": "getNFCTag",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "NFCTag details"
          }
        },
        "description": "Get NFCTag"
      },
      "patch": {
        "tags": [
          "NFC Tags"
        ],
        "summary": "Update NFCTag",
        "operationId": "updateNFCTag",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "name": {
                    "type": "string"
                  },
                  "organization": {
                    "type": "integer"
                  },
                  "counter_enabled": {
                    "type": "boolean"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "NFCTag updated"
          }
        },
        "description": "Update NFCTag"
      },
      "delete": {
        "tags": [
          "NFC Tags"
        ],
        "summary": "Delete NFCTag",
        "operationId": "deleteNFCTag",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "NFCTag deleted"
          }
        },
        "description": "Delete NFCTag"
      }
    },
    "/campaigns": {
      "get": {
        "tags": [
          "Campaigns"
        ],
        "summary": "List Campaigns",
        "operationId": "listCampaigns",
        "parameters": [
          {
            "name": "page",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "page_size",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Paginated list of campaigns"
          }
        },
        "description": "List Campaigns"
      },
      "post": {
        "tags": [
          "Campaigns"
        ],
        "summary": "Create Campaign",
        "operationId": "createCampaign",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "name": {
                    "type": "string"
                  },
                  "organization": {
                    "type": "integer"
                  },
                  "content_type": {
                    "type": "string"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Campaign created"
          }
        },
        "description": "Create Campaign"
      }
    },
    "/campaigns/{id}": {
      "get": {
        "tags": [
          "Campaigns"
        ],
        "summary": "Get Campaign",
        "operationId": "getCampaign",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Campaign details"
          }
        },
        "description": "Get Campaign"
      },
      "patch": {
        "tags": [
          "Campaigns"
        ],
        "summary": "Update Campaign",
        "operationId": "updateCampaign",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "name": {
                    "type": "string"
                  },
                  "organization": {
                    "type": "integer"
                  },
                  "content_type": {
                    "type": "string"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Campaign updated"
          }
        },
        "description": "Update Campaign"
      },
      "delete": {
        "tags": [
          "Campaigns"
        ],
        "summary": "Delete Campaign",
        "operationId": "deleteCampaign",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "Campaign deleted"
          }
        },
        "description": "Delete Campaign"
      }
    },
    "/organizations": {
      "get": {
        "tags": [
          "Organizations"
        ],
        "summary": "List Organizations",
        "operationId": "listOrganizations",
        "parameters": [
          {
            "name": "page",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "page_size",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Paginated list of organizations"
          }
        },
        "description": "List Organizations"
      }
    },
    "/organizations/{id}": {
      "get": {
        "tags": [
          "Organizations"
        ],
        "summary": "Get Organization",
        "operationId": "getOrganization",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Organization details"
          }
        },
        "description": "Get Organization"
      },
      "delete": {
        "tags": [
          "Organizations"
        ],
        "summary": "Delete Organization",
        "operationId": "deleteOrganization",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "Organization deleted"
          }
        },
        "description": "Delete Organization"
      }
    },
    "/analytics/qrcodes/{id}": {
      "get": {
        "tags": [
          "Analytics"
        ],
        "summary": "Get QR Code Analytics",
        "operationId": "getQRCodeAnalytics",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "start_date",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "format": "date"
            }
          },
          {
            "name": "end_date",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "format": "date"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "QR code scan analytics"
          }
        },
        "description": "Get QR Code Analytics"
      }
    },
    "/analytics/overview": {
      "get": {
        "tags": [
          "Analytics"
        ],
        "summary": "Get Analytics Overview",
        "operationId": "getAnalyticsOverview",
        "parameters": [
          {
            "name": "start_date",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "format": "date"
            }
          },
          {
            "name": "end_date",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "format": "date"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Analytics overview"
          }
        },
        "description": "Get Analytics Overview"
      }
    },
    "/qrcodes/bulk": {
      "post": {
        "tags": [
          "QR Codes"
        ],
        "summary": "Bulk Create QR Codes",
        "operationId": "bulkCreateQRCodes",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "array",
                "items": {
                  "type": "object",
                  "properties": {
                    "name": {
                      "type": "string"
                    },
                    "organization": {
                      "type": "integer"
                    },
                    "campaign": {
                      "type": "string"
                    },
                    "fields_data": {
                      "type": "object"
                    }
                  }
                }
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "QR codes created"
          }
        },
        "description": "Bulk Create QR Codes"
      }
    }
  },
  "components": {
    "securitySchemes": {
      "TokenAuth": {
        "type": "apiKey",
        "in": "header",
        "name": "Authorization",
        "description": "Token authentication. Format: 'Token <your_api_token>'"
      }
    }
  }
}
