{
  "openapi": "3.0.3",
  "info": {
    "title": "FloorZap Integration API",
    "version": "1.0.0",
    "description": "FloorZap Integration API allows external services to save leads, update customers, manage appointments, and interact with FloorZap CRM data.",
    "x-jentic-source-url": "https://integration.floorzap.com/swagger/v1/swagger.json",
    "contact": {
      "name": "API Support"
    }
  },
  "servers": [
    {
      "url": "https://integration.floorzap.com",
      "description": "FloorZap Integration API"
    }
  ],
  "security": [
    {
      "apiKeyHeader": []
    }
  ],
  "paths": {
    "/api/FloorZapIntegration/Authentication": {
      "get": {
        "operationId": "authenticate",
        "summary": "Authenticate with FloorZap",
        "tags": [
          "Authentication"
        ],
        "parameters": [
          {
            "name": "X-FLOORZAP-URL",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Floorzap SubDomain"
          },
          {
            "name": "X-FLOORZAP-INTEGRATION-API-KEY",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "API Key"
          }
        ],
        "responses": {
          "200": {
            "description": "Authentication successful"
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "description": "Authenticate with FloorZap"
      }
    },
    "/api/FloorZapIntegration/Testing": {
      "get": {
        "operationId": "testConnection",
        "summary": "Test the API connection",
        "tags": [
          "Authentication"
        ],
        "parameters": [
          {
            "name": "X-FLOORZAP-URL",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Floorzap SubDomain"
          },
          {
            "name": "X-FLOORZAP-INTEGRATION-API-KEY",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "API Key"
          }
        ],
        "responses": {
          "200": {
            "description": "Connection test successful"
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "description": "Test the API connection"
      }
    },
    "/api/FloorZapIntegration/LeadSave": {
      "post": {
        "operationId": "saveWebsiteLead",
        "summary": "Save a website lead",
        "tags": [
          "Leads"
        ],
        "parameters": [
          {
            "name": "X-FLOORZAP-URL",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Floorzap SubDomain"
          },
          {
            "name": "X-FLOORZAP-INTEGRATION-API-KEY",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "API Key"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/WebsiteLead"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Lead saved successfully"
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "description": "Save a website lead"
      }
    }
  },
  "components": {
    "securitySchemes": {
      "apiKeyHeader": {
        "type": "apiKey",
        "in": "header",
        "name": "X-FLOORZAP-INTEGRATION-API-KEY",
        "description": "FloorZap Integration API Key"
      }
    },
    "schemas": {
      "WebsiteLead": {
        "type": "object",
        "properties": {
          "first_name": {
            "type": "string"
          },
          "last_name": {
            "type": "string"
          },
          "email": {
            "type": "string",
            "format": "email"
          },
          "cell_phone": {
            "type": "string"
          },
          "home_phone": {
            "type": "string"
          },
          "full_address": {
            "type": "string"
          },
          "city": {
            "type": "string"
          },
          "state": {
            "type": "string"
          },
          "zip_code": {
            "type": "string"
          },
          "notes": {
            "type": "string"
          },
          "source": {
            "type": "string"
          }
        }
      },
      "ErrorResponse": {
        "type": "object",
        "properties": {
          "error": {
            "type": "string"
          },
          "message": {
            "type": "string"
          }
        }
      }
    }
  },
  "tags": [
    {
      "name": "Authentication"
    },
    {
      "name": "Leads"
    }
  ]
}
