{
  "openapi": "3.0.3",
  "info": {
    "title": "Fitness API",
    "version": "v1",
    "description": "The Fitness API for managing users' fitness tracking data.",
    "x-jentic-source-url": "https://developers.google.com/fit/rest",
    "contact": {
      "name": "API Support"
    }
  },
  "servers": [
    {
      "url": "https://fitness.googleapis.com/fitness/v1/users"
    }
  ],
  "paths": {
    "/{userId}/dataSources": {
      "post": {
        "operationId": "fitness_users_dataSources_create",
        "summary": "Creates a new data source that is unique across all data sources belonging to this user. A data source is a unique source of sensor data. Data sources can expose raw data coming from hardware sensors ",
        "description": "Creates a new data source that is unique across all data sources belonging to this user. A data source is a unique source of sensor data. Data sources can expose raw data coming from hardware sensors on local or companion devices. They can also expose derived data, created by transforming or merging other data sources. Multiple data sources can exist for the same data type. Every data point in every dataset inserted into or read from the Fitness API has an associated data source. Each data source produces a unique stream of dataset updates, with a unique data source identifier. Not all changes to data source affect the data stream ID, so that data collected by updated versions of the same application/device can still be considered to belong to the same data source. Data sources are identified using a string generated by the server, based on the contents of the source being created. The dataStreamId field should not be set when invoking this method. It will be automatically generated by the server with the correct format. If a dataStreamId is set, it must match the format that the server would generate. This format is a combination of some fields from the data source, and has a specific order. If it doesn't match, the request will fail with an error. Specifying a DataType which is not a known type (beginning with \"com.google.\") will create a DataSource with a *custom data type*. Custom data types are only readable by the application that created them. Custom data types are *deprecated*; use standard data types instead. In addition to the data source fields included in the data source ID, the developer project number that is authenticated when creating the data source is included. This developer project number is obfuscated when read by any other developer reading public data types.",
        "tags": [
          "Users.Datasources"
        ],
        "parameters": [
          {
            "name": "userId",
            "in": "path",
            "description": "Create the data source for the person identified. Use me to indicate the authenticated user. Only me is supported at this time.",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/DataSource"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DataSource"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      },
      "get": {
        "operationId": "fitness_users_dataSources_list",
        "summary": "Lists all data sources that are visible to the developer, using the OAuth scopes provided. The list is not exhaustive; the user may have private data sources that are only visible to other developers,",
        "description": "Lists all data sources that are visible to the developer, using the OAuth scopes provided. The list is not exhaustive; the user may have private data sources that are only visible to other developers, or calls using other scopes.",
        "tags": [
          "Users.Datasources"
        ],
        "parameters": [
          {
            "name": "userId",
            "in": "path",
            "description": "List data sources for the person identified. Use me to indicate the authenticated user. Only me is supported at this time.",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "dataTypeName",
            "in": "query",
            "description": "The names of data types to include in the list. If not specified, all data sources will be returned.",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ListDataSourcesResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/{userId}/dataSources/{dataSourceId}": {
      "put": {
        "operationId": "fitness_users_dataSources_update",
        "summary": "Updates the specified data source. The dataStreamId, dataType, type, dataStreamName, and device properties with the exception of version, cannot be modified. Data sources are identified by their dataS",
        "description": "Updates the specified data source. The dataStreamId, dataType, type, dataStreamName, and device properties with the exception of version, cannot be modified. Data sources are identified by their dataStreamId.",
        "tags": [
          "Users.Datasources"
        ],
        "parameters": [
          {
            "name": "userId",
            "in": "path",
            "description": "Update the data source for the person identified. Use me to indicate the authenticated user. Only me is supported at this time.",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "dataSourceId",
            "in": "path",
            "description": "The data stream ID of the data source to update.",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/DataSource"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DataSource"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      },
      "get": {
        "operationId": "fitness_users_dataSources_get",
        "summary": "Returns the specified data source.",
        "description": "Returns the specified data source.",
        "tags": [
          "Users.Datasources"
        ],
        "parameters": [
          {
            "name": "userId",
            "in": "path",
            "description": "Retrieve a data source for the person identified. Use me to indicate the authenticated user. Only me is supported at this time.",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "dataSourceId",
            "in": "path",
            "description": "The data stream ID of the data source to retrieve.",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DataSource"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      },
      "delete": {
        "operationId": "fitness_users_dataSources_delete",
        "summary": "Deletes the specified data source. The request will fail if the data source contains any data points.",
        "description": "Deletes the specified data source. The request will fail if the data source contains any data points.",
        "tags": [
          "Users.Datasources"
        ],
        "parameters": [
          {
            "name": "userId",
            "in": "path",
            "description": "Retrieve a data source for the person identified. Use me to indicate the authenticated user. Only me is supported at this time.",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "dataSourceId",
            "in": "path",
            "description": "The data stream ID of the data source to delete.",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DataSource"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/{userId}/dataSources/{dataSourceId}/datasets/{datasetId}": {
      "patch": {
        "operationId": "fitness_users_dataSources_datasets_patch",
        "summary": "Adds data points to a dataset. The dataset need not be previously created. All points within the given dataset will be returned with subsquent calls to retrieve this dataset. Data points can belong to",
        "description": "Adds data points to a dataset. The dataset need not be previously created. All points within the given dataset will be returned with subsquent calls to retrieve this dataset. Data points can belong to more than one dataset. This method does not use patch semantics: the data points provided are merely inserted, with no existing data replaced.",
        "tags": [
          "Users.Datasources.Datasets"
        ],
        "parameters": [
          {
            "name": "userId",
            "in": "path",
            "description": "Patch a dataset for the person identified. Use me to indicate the authenticated user. Only me is supported at this time.",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "dataSourceId",
            "in": "path",
            "description": "The data stream ID of the data source that created the dataset.",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "datasetId",
            "in": "path",
            "description": "This field is not used, and can be safely omitted.",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/Dataset"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Dataset"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      },
      "get": {
        "operationId": "fitness_users_dataSources_datasets_get",
        "summary": "Returns a dataset containing all data points whose start and end times overlap with the specified range of the dataset minimum start time and maximum end time. Specifically, any data point whose start",
        "description": "Returns a dataset containing all data points whose start and end times overlap with the specified range of the dataset minimum start time and maximum end time. Specifically, any data point whose start time is less than or equal to the dataset end time and whose end time is greater than or equal to the dataset start time.",
        "tags": [
          "Users.Datasources.Datasets"
        ],
        "parameters": [
          {
            "name": "userId",
            "in": "path",
            "description": "Retrieve a dataset for the person identified. Use me to indicate the authenticated user. Only me is supported at this time.",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "dataSourceId",
            "in": "path",
            "description": "The data stream ID of the data source that created the dataset.",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "datasetId",
            "in": "path",
            "description": "Dataset identifier that is a composite of the minimum data point start time and maximum data point end time represented as nanoseconds from the epoch. The ID is formatted like: \"startTime-endTime\" where startTime and endTime are 64 bit integers.",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "pageToken",
            "in": "query",
            "description": "The continuation token, which is used to page through large datasets. To get the next page of a dataset, set this parameter to the value of nextPageToken from the previous response. Each subsequent call will yield a partial dataset with data point end timestamps that are strictly smaller than those in the previous partial response.",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "description": "If specified, no more than this many data points will be included in the dataset. If there are more data points in the dataset, nextPageToken will be set in the dataset response. The limit is applied from the end of the time range. That is, if pageToken is absent, the limit most recent data points will be returned.",
            "required": false,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Dataset"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      },
      "delete": {
        "operationId": "fitness_users_dataSources_datasets_delete",
        "summary": "Performs an inclusive delete of all data points whose start and end times have any overlap with the time range specified by the dataset ID. For most data types, the entire data point will be deleted. ",
        "description": "Performs an inclusive delete of all data points whose start and end times have any overlap with the time range specified by the dataset ID. For most data types, the entire data point will be deleted. For data types where the time span represents a consistent value (such as com.google.activity.segment), and a data point straddles either end point of the dataset, only the overlapping portion of the data point will be deleted.",
        "tags": [
          "Users.Datasources.Datasets"
        ],
        "parameters": [
          {
            "name": "userId",
            "in": "path",
            "description": "Delete a dataset for the person identified. Use me to indicate the authenticated user. Only me is supported at this time.",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "dataSourceId",
            "in": "path",
            "description": "The data stream ID of the data source that created the dataset.",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "datasetId",
            "in": "path",
            "description": "Dataset identifier that is a composite of the minimum data point start time and maximum data point end time represented as nanoseconds from the epoch. The ID is formatted like: \"startTime-endTime\" where startTime and endTime are 64 bit integers.",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "204": {
            "description": "No content"
          }
        }
      }
    },
    "/{userId}/dataSources/{dataSourceId}/dataPointChanges": {
      "get": {
        "operationId": "fitness_users_dataSources_dataPointChanges_list",
        "summary": "Queries for user's data point changes for a particular data source.",
        "description": "Queries for user's data point changes for a particular data source.",
        "tags": [
          "Users.Datasources.Datapointchanges"
        ],
        "parameters": [
          {
            "name": "userId",
            "in": "path",
            "description": "List data points for the person identified. Use me to indicate the authenticated user. Only me is supported at this time.",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "dataSourceId",
            "in": "path",
            "description": "The data stream ID of the data source that created the dataset.",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "pageToken",
            "in": "query",
            "description": "The continuation token, which is used to page through large result sets. To get the next page of results, set this parameter to the value of nextPageToken from the previous response.",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "description": "If specified, no more than this many data point changes will be included in the response.",
            "required": false,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ListDataPointChangesResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/{userId}/dataset:aggregate": {
      "post": {
        "operationId": "fitness_users_dataset_aggregate",
        "summary": "Aggregates data of a certain type or stream into buckets divided by a given type of boundary. Multiple data sets of multiple types and from multiple sources can be aggregated into exactly one bucket t",
        "description": "Aggregates data of a certain type or stream into buckets divided by a given type of boundary. Multiple data sets of multiple types and from multiple sources can be aggregated into exactly one bucket type per request.",
        "tags": [
          "Users.Dataset"
        ],
        "parameters": [
          {
            "name": "userId",
            "in": "path",
            "description": "Aggregate data for the person identified. Use me to indicate the authenticated user. Only me is supported at this time.",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/AggregateRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AggregateResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/{userId}/sessions/{sessionId}": {
      "put": {
        "operationId": "fitness_users_sessions_update",
        "summary": "Updates or insert a given session.",
        "description": "Updates or insert a given session.",
        "tags": [
          "Users.Sessions"
        ],
        "parameters": [
          {
            "name": "userId",
            "in": "path",
            "description": "Create sessions for the person identified. Use me to indicate the authenticated user. Only me is supported at this time.",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "sessionId",
            "in": "path",
            "description": "The ID of the session to be created.",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/Session"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Session"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      },
      "delete": {
        "operationId": "fitness_users_sessions_delete",
        "summary": "Deletes a session specified by the given session ID.",
        "description": "Deletes a session specified by the given session ID.",
        "tags": [
          "Users.Sessions"
        ],
        "parameters": [
          {
            "name": "userId",
            "in": "path",
            "description": "Delete a session for the person identified. Use me to indicate the authenticated user. Only me is supported at this time.",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "sessionId",
            "in": "path",
            "description": "The ID of the session to be deleted.",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "204": {
            "description": "No content"
          }
        }
      }
    },
    "/{userId}/sessions": {
      "get": {
        "operationId": "fitness_users_sessions_list",
        "summary": "Lists sessions previously created.",
        "description": "Lists sessions previously created.",
        "tags": [
          "Users.Sessions"
        ],
        "parameters": [
          {
            "name": "userId",
            "in": "path",
            "description": "List sessions for the person identified. Use me to indicate the authenticated user. Only me is supported at this time.",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "startTime",
            "in": "query",
            "description": "An RFC3339 timestamp. Only sessions starting before endTime and ending after startTime up to (endTime + 1 day) will be included in the response. If this time is omitted but endTime is specified, all sessions starting before endTime and ending after the start of time up to (endTime + 1 day) will be returned.",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "endTime",
            "in": "query",
            "description": "An RFC3339 timestamp. Only sessions starting before endTime and ending after startTime up to (endTime + 1 day) will be included in the response. If this time is omitted but startTime is specified, all sessions ending after startTime to the end of time will be returned.",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "includeDeleted",
            "in": "query",
            "description": "If true, and if both startTime and endTime are omitted, session deletions will be returned.",
            "required": false,
            "schema": {
              "type": "boolean"
            }
          },
          {
            "name": "pageToken",
            "in": "query",
            "description": "The continuation token, which is used for incremental syncing. To get the next batch of changes, set this parameter to the value of nextPageToken from the previous response. The page token is ignored if either start or end time is specified. If none of start time, end time, and the page token is specified, sessions modified in the last 30 days are returned.",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "activityType",
            "in": "query",
            "description": "If non-empty, only sessions with these activity types should be returned.",
            "required": false,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ListSessionsResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    }
  },
  "components": {
    "schemas": {
      "DataSource": {
        "type": "object",
        "description": "Definition of a unique source of sensor data. Data sources can expose raw data coming from hardware sensors on local or companion devices. They can also expose derived data, created by transforming or merging other data sources. Multiple data sources can exist for the same data type. Every data point inserted into or read from this service has an associated data source. The data source contains enough information to uniquely identify its data, including the hardware device and the application that collected and/or transformed the data. It also holds useful metadata, such as the hardware and application versions, and the device type. Each data source produces a unique stream of data, with a unique identifier. Not all changes to data source affect the stream identifier, so that data collected by updated versions of the same application/device can still be considered to belong to the same data stream.",
        "properties": {
          "dataStreamId": {
            "type": "string",
            "description": "A unique identifier for the data stream produced by this data source. The identifier includes: - The physical device's manufacturer, model, and serial number (UID). - The application's package name or name. Package name is used when the data source was created by an Android application. The developer project number is used when the data source was created by a REST client. - The data source's type. - The data source's stream name. Note that not all attributes of the data source are used as part of the stream identifier. In particular, the version of the hardware/the application isn't used. This allows us to preserve the same stream through version updates. This also means that two DataSource objects may represent the same data stream even if they're not equal. The exact format of the data stream ID created by an Android application is: type:dataType.name:application.packageName:device.manufacturer:device.model:device.uid:dataStreamName The exact format of the data stream ID created by a REST client is: type:dataType.name:developer project number:device.manufacturer:device.model:device.uid:dataStreamName When any of the optional fields that make up the data stream ID are absent, they will be omitted from the data stream ID. The minimum viable data stream ID would be: type:dataType.name:developer project number Finally, the developer project number and device UID are obfuscated when read by any REST or Android client that did not create the data source. Only the data source creator will see the developer project number in clear and normal form. This means a client will see a different set of data_stream_ids than another client with different credentials."
          },
          "name": {
            "type": "string",
            "description": "An end-user visible name for this data source."
          },
          "dataStreamName": {
            "type": "string",
            "description": "The stream name uniquely identifies this particular data source among other data sources of the same type from the same underlying producer. Setting the stream name is optional, but should be done whenever an application exposes two streams for the same data type, or when a device has two equivalent sensors."
          },
          "type": {
            "type": "string",
            "enum": [
              "raw",
              "derived"
            ],
            "description": "A constant describing the type of this data source. Indicates whether this data source produces raw or derived data."
          },
          "dataType": {
            "$ref": "#/components/schemas/DataType"
          },
          "device": {
            "$ref": "#/components/schemas/Device"
          },
          "application": {
            "$ref": "#/components/schemas/Application"
          },
          "dataQualityStandard": {
            "type": "array",
            "items": {
              "type": "string",
              "enum": [
                "dataQualityUnknown",
                "dataQualityBloodPressureEsh2002",
                "dataQualityBloodPressureEsh2010",
                "dataQualityBloodPressureAami",
                "dataQualityBloodPressureBhsAA",
                "dataQualityBloodPressureBhsAB",
                "dataQualityBloodPressureBhsBA",
                "dataQualityBloodPressureBhsBB",
                "dataQualityBloodGlucoseIso151972003",
                "dataQualityBloodGlucoseIso151972013"
              ]
            },
            "description": "DO NOT POPULATE THIS FIELD. It is never populated in responses from the platform, and is ignored in queries. It will be removed in a future version entirely."
          }
        }
      },
      "DataType": {
        "type": "object",
        "properties": {
          "name": {
            "type": "string",
            "description": "Each data type has a unique, namespaced, name. All data types in the com.google namespace are shared as part of the platform."
          },
          "field": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/DataTypeField"
            },
            "description": "A field represents one dimension of a data type."
          }
        }
      },
      "DataTypeField": {
        "type": "object",
        "description": "In case of multi-dimensional data (such as an accelerometer with x, y, and z axes) each field represents one dimension. Each data type field has a unique name which identifies it. The field also defines the format of the data (int, float, etc.). This message is only instantiated in code and not used for wire comms or stored in any way.",
        "properties": {
          "name": {
            "type": "string",
            "description": "Defines the name and format of data. Unlike data type names, field names are not namespaced, and only need to be unique within the data type."
          },
          "format": {
            "type": "string",
            "enum": [
              "integer",
              "floatPoint",
              "string",
              "map",
              "integerList",
              "floatList",
              "blob"
            ],
            "description": "The different supported formats for each field in a data type."
          },
          "optional": {
            "type": "boolean"
          }
        }
      },
      "Device": {
        "type": "object",
        "description": "Representation of an integrated device (such as a phone or a wearable) that can hold sensors. Each sensor is exposed as a data source. The main purpose of the device information contained in this class is to identify the hardware of a particular data source. This can be useful in different ways, including: - Distinguishing two similar sensors on different devices (the step counter on two nexus 5 phones, for instance) - Display the source of data to the user (by using the device make / model) - Treat data differently depending on sensor type (accelerometers on a watch may give different patterns than those on a phone) - Build different analysis models for each device/version. ",
        "properties": {
          "uid": {
            "type": "string",
            "description": "The serial number or other unique ID for the hardware. This field is obfuscated when read by any REST or Android client that did not create the data source. Only the data source creator will see the uid field in clear and normal form. The obfuscation preserves equality; that is, given two IDs, if id1 == id2, obfuscated(id1) == obfuscated(id2)."
          },
          "type": {
            "type": "string",
            "enum": [
              "unknown",
              "phone",
              "tablet",
              "watch",
              "chestStrap",
              "scale",
              "headMounted",
              "smartDisplay"
            ],
            "description": "A constant representing the type of the device."
          },
          "version": {
            "type": "string",
            "description": "Version string for the device hardware/software."
          },
          "model": {
            "type": "string",
            "description": "End-user visible model name for the device."
          },
          "manufacturer": {
            "type": "string",
            "description": "Manufacturer of the product/hardware."
          }
        }
      },
      "Application": {
        "type": "object",
        "properties": {
          "packageName": {
            "type": "string",
            "description": "Package name for this application. This is used as a unique identifier when created by Android applications, but cannot be specified by REST clients. REST clients will have their developer project number reflected into the Data Source data stream IDs, instead of the packageName."
          },
          "version": {
            "type": "string",
            "description": "Version of the application. You should update this field whenever the application changes in a way that affects the computation of the data."
          },
          "detailsUrl": {
            "type": "string",
            "description": "An optional URI that can be used to link back to the application."
          },
          "name": {
            "type": "string",
            "description": "The name of this application. This is required for REST clients, but we do not enforce uniqueness of this name. It is provided as a matter of convenience for other developers who would like to identify which REST created an Application or Data Source."
          }
        }
      },
      "ListDataSourcesResponse": {
        "type": "object",
        "properties": {
          "dataSource": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/DataSource"
            },
            "description": "A previously created data source."
          }
        }
      },
      "Dataset": {
        "type": "object",
        "description": "A dataset represents a projection container for data points. They do not carry any info of their own. Datasets represent a set of data points from a particular data source. A data point can be found in more than one dataset.",
        "properties": {
          "minStartTimeNs": {
            "type": "string",
            "format": "int64",
            "description": "The smallest start time of all data points in this possibly partial representation of the dataset. Time is in nanoseconds from epoch. This should also match the first part of the dataset identifier."
          },
          "maxEndTimeNs": {
            "type": "string",
            "format": "int64",
            "description": "The largest end time of all data points in this possibly partial representation of the dataset. Time is in nanoseconds from epoch. This should also match the second part of the dataset identifier."
          },
          "dataSourceId": {
            "type": "string",
            "description": "The data stream ID of the data source that created the points in this dataset."
          },
          "point": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/DataPoint"
            },
            "description": "A partial list of data points contained in the dataset, ordered by endTimeNanos. This list is considered complete when retrieving a small dataset and partial when patching a dataset or retrieving a dataset that is too large to include in a single response."
          },
          "nextPageToken": {
            "type": "string",
            "description": "This token will be set when a dataset is received in response to a GET request and the dataset is too large to be included in a single response. Provide this value in a subsequent GET request to return the next page of data points within this dataset."
          }
        }
      },
      "DataPoint": {
        "type": "object",
        "description": "Represents a single data point, generated by a particular data source. A data point holds a value for each field, an end timestamp and an optional start time. The exact semantics of each of these attributes are specified in the documentation for the particular data type. A data point can represent an instantaneous measurement, reading or input observation, as well as averages or aggregates over a time interval. Check the data type documentation to determine which is the case for a particular data type. Data points always contain one value for each field of the data type.",
        "properties": {
          "startTimeNanos": {
            "type": "string",
            "format": "int64",
            "description": "The start time of the interval represented by this data point, in nanoseconds since epoch."
          },
          "endTimeNanos": {
            "type": "string",
            "format": "int64",
            "description": "The end time of the interval represented by this data point, in nanoseconds since epoch."
          },
          "dataTypeName": {
            "type": "string",
            "description": "The data type defining the format of the values in this data point."
          },
          "originDataSourceId": {
            "type": "string",
            "description": "If the data point is contained in a dataset for a derived data source, this field will be populated with the data source stream ID that created the data point originally. WARNING: do not rely on this field for anything other than debugging. The value of this field, if it is set at all, is an implementation detail and is not guaranteed to remain consistent."
          },
          "value": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Value"
            },
            "description": "Values of each data type field for the data point. It is expected that each value corresponding to a data type field will occur in the same order that the field is listed with in the data type specified in a data source. Only one of integer and floating point fields will be populated, depending on the format enum value within data source's type field."
          },
          "modifiedTimeMillis": {
            "type": "string",
            "format": "int64",
            "description": "Indicates the last time this data point was modified. Useful only in contexts where we are listing the data changes, rather than representing the current state of the data."
          },
          "rawTimestampNanos": {
            "type": "string",
            "format": "int64",
            "description": "The raw timestamp from the original SensorEvent."
          },
          "computationTimeMillis": {
            "type": "string",
            "format": "int64",
            "description": "DO NOT USE THIS FIELD. It is ignored, and not stored."
          }
        }
      },
      "Value": {
        "type": "object",
        "description": "Holder object for the value of a single field in a data point. A field value has a particular format and is only ever set to one of an integer or a floating point value.",
        "properties": {
          "intVal": {
            "type": "integer",
            "format": "int32",
            "description": "Integer value. When this is set, other values must not be set."
          },
          "fpVal": {
            "type": "number",
            "format": "double",
            "description": "Floating point value. When this is set, other values must not be set."
          },
          "stringVal": {
            "type": "string",
            "description": "String value. When this is set, other values must not be set. Strings should be kept small whenever possible. Data streams with large string values and high data frequency may be down sampled."
          },
          "mapVal": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/ValueMapValEntry"
            },
            "description": "Map value. The valid key space and units for the corresponding value of each entry should be documented as part of the data type definition. Keys should be kept small whenever possible. Data streams with large keys and high data frequency may be down sampled."
          }
        }
      },
      "ValueMapValEntry": {
        "type": "object",
        "properties": {
          "key": {
            "type": "string"
          },
          "value": {
            "$ref": "#/components/schemas/MapValue"
          }
        }
      },
      "MapValue": {
        "type": "object",
        "description": "Holder object for the value of an entry in a map field of a data point. A map value supports a subset of the formats that the regular Value supports.",
        "properties": {
          "fpVal": {
            "type": "number",
            "format": "double",
            "description": "Floating point value."
          }
        }
      },
      "AggregateRequest": {
        "type": "object",
        "description": "Next id: 10",
        "properties": {
          "startTimeMillis": {
            "type": "string",
            "format": "int64",
            "description": "The start of a window of time. Data that intersects with this time window will be aggregated. The time is in milliseconds since epoch, inclusive."
          },
          "endTimeMillis": {
            "type": "string",
            "format": "int64",
            "description": "The end of a window of time. Data that intersects with this time window will be aggregated. The time is in milliseconds since epoch, inclusive. The maximum allowed difference between start_time_millis // and end_time_millis is 7776000000 (roughly 90 days)."
          },
          "aggregateBy": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/AggregateBy"
            },
            "description": "The specification of data to be aggregated. At least one aggregateBy spec must be provided. All data that is specified will be aggregated using the same bucketing criteria. There will be one dataset in the response for every aggregateBy spec."
          },
          "filteredDataQualityStandard": {
            "type": "array",
            "items": {
              "type": "string",
              "enum": [
                "dataQualityUnknown",
                "dataQualityBloodPressureEsh2002",
                "dataQualityBloodPressureEsh2010",
                "dataQualityBloodPressureAami",
                "dataQualityBloodPressureBhsAA",
                "dataQualityBloodPressureBhsAB",
                "dataQualityBloodPressureBhsBA",
                "dataQualityBloodPressureBhsBB",
                "dataQualityBloodGlucoseIso151972003",
                "dataQualityBloodGlucoseIso151972013"
              ]
            },
            "description": "DO NOT POPULATE THIS FIELD. It is ignored."
          },
          "bucketByTime": {
            "$ref": "#/components/schemas/BucketByTime"
          },
          "bucketBySession": {
            "$ref": "#/components/schemas/BucketBySession"
          },
          "bucketByActivityType": {
            "$ref": "#/components/schemas/BucketByActivity"
          },
          "bucketByActivitySegment": {
            "$ref": "#/components/schemas/BucketByActivity"
          }
        }
      },
      "AggregateBy": {
        "type": "object",
        "description": "The specification of which data to aggregate.",
        "properties": {
          "dataTypeName": {
            "type": "string",
            "description": "The data type to aggregate. All data sources providing this data type will contribute data to the aggregation. The response will contain a single dataset for this data type name. The dataset will have a data source ID of derived::com.google.android.gms:aggregated. If the user has no data for this data type, an empty data set will be returned. Note: Data can be aggregated by either the dataTypeName or the dataSourceId, not both."
          },
          "dataSourceId": {
            "type": "string",
            "description": "A data source ID to aggregate. Only data from the specified data source ID will be included in the aggregation. If specified, this data source must exist; the OAuth scopes in the supplied credentials must grant read access to this data type. The dataset in the response will have the same data source ID. Note: Data can be aggregated by either the dataTypeName or the dataSourceId, not both."
          }
        }
      },
      "BucketByTime": {
        "type": "object",
        "properties": {
          "durationMillis": {
            "type": "string",
            "format": "int64",
            "description": "Specifies that result buckets aggregate data by exactly durationMillis time frames. Time frames that contain no data will be included in the response with an empty dataset."
          },
          "period": {
            "$ref": "#/components/schemas/BucketByTimePeriod"
          }
        }
      },
      "BucketByTimePeriod": {
        "type": "object",
        "properties": {
          "type": {
            "type": "string",
            "enum": [
              "day",
              "week",
              "month"
            ]
          },
          "value": {
            "type": "integer",
            "format": "int32"
          },
          "timeZoneId": {
            "type": "string",
            "description": "org.joda.timezone.DateTimeZone"
          }
        }
      },
      "BucketBySession": {
        "type": "object",
        "properties": {
          "minDurationMillis": {
            "type": "string",
            "format": "int64",
            "description": "Specifies that only sessions of duration longer than minDurationMillis are considered and used as a container for aggregated data."
          }
        }
      },
      "BucketByActivity": {
        "type": "object",
        "properties": {
          "minDurationMillis": {
            "type": "string",
            "format": "int64",
            "description": "Specifies that only activity segments of duration longer than minDurationMillis are considered and used as a container for aggregated data."
          },
          "activityDataSourceId": {
            "type": "string",
            "description": "The default activity stream will be used if a specific activityDataSourceId is not specified."
          }
        }
      },
      "AggregateResponse": {
        "type": "object",
        "properties": {
          "bucket": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/AggregateBucket"
            },
            "description": "A list of buckets containing the aggregated data."
          }
        }
      },
      "AggregateBucket": {
        "type": "object",
        "properties": {
          "type": {
            "type": "string",
            "enum": [
              "unknown",
              "time",
              "session",
              "activityType",
              "activitySegment"
            ],
            "description": "The type of a bucket signifies how the data aggregation is performed in the bucket."
          },
          "startTimeMillis": {
            "type": "string",
            "format": "int64",
            "description": "The start time for the aggregated data, in milliseconds since epoch, inclusive."
          },
          "endTimeMillis": {
            "type": "string",
            "format": "int64",
            "description": "The end time for the aggregated data, in milliseconds since epoch, inclusive."
          },
          "dataset": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Dataset"
            },
            "description": "There will be one dataset per AggregateBy in the request."
          },
          "session": {
            "$ref": "#/components/schemas/Session"
          },
          "activity": {
            "type": "integer",
            "format": "int32",
            "description": "Available for Bucket.Type.ACTIVITY_TYPE, Bucket.Type.ACTIVITY_SEGMENT"
          }
        }
      },
      "Session": {
        "type": "object",
        "description": "Sessions contain metadata, such as a user-friendly name and time interval information.",
        "properties": {
          "id": {
            "type": "string",
            "description": "A client-generated identifier that is unique across all sessions owned by this particular user."
          },
          "name": {
            "type": "string",
            "description": "A human readable name of the session."
          },
          "description": {
            "type": "string",
            "description": "A description for this session."
          },
          "startTimeMillis": {
            "type": "string",
            "format": "int64",
            "description": "A start time, in milliseconds since epoch, inclusive."
          },
          "endTimeMillis": {
            "type": "string",
            "format": "int64",
            "description": "An end time, in milliseconds since epoch, inclusive."
          },
          "modifiedTimeMillis": {
            "type": "string",
            "format": "int64",
            "description": "A timestamp that indicates when the session was last modified."
          },
          "application": {
            "$ref": "#/components/schemas/Application"
          },
          "activityType": {
            "type": "integer",
            "format": "int32",
            "description": "The type of activity this session represents."
          },
          "activeTimeMillis": {
            "type": "string",
            "format": "int64",
            "description": "Session active time. While start_time_millis and end_time_millis define the full session time, the active time can be shorter and specified by active_time_millis. If the inactive time during the session is known, it should also be inserted via a com.google.activity.segment data point with a STILL activity value"
          }
        }
      },
      "ListSessionsResponse": {
        "type": "object",
        "properties": {
          "session": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Session"
            },
            "description": "Sessions starting before endTime of the request and ending after startTime of the request up to (endTime of the request + 1 day)."
          },
          "deletedSession": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Session"
            },
            "description": "If includeDeleted is set to true in the request, and startTime and endTime are omitted, this will include sessions which were deleted since the last sync."
          },
          "nextPageToken": {
            "type": "string",
            "description": "The sync token which is used to sync further changes. This will only be provided if both startTime and endTime are omitted from the request."
          },
          "hasMoreData": {
            "type": "boolean",
            "description": "Flag to indicate server has more data to transfer. DO NOT USE THIS FIELD. It is never populated in responses from the server."
          }
        }
      },
      "ListDataPointChangesResponse": {
        "type": "object",
        "properties": {
          "insertedDataPoint": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/DataPoint"
            },
            "description": "Inserted data points for the user."
          },
          "deletedDataPoint": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/DataPoint"
            },
            "description": "Deleted data points for the user. Note, for modifications this should be parsed before handling insertions."
          },
          "nextPageToken": {
            "type": "string",
            "description": "The continuation token, which is used to page through large result sets. Provide this value in a subsequent request to return the next page of results."
          },
          "dataSourceId": {
            "type": "string",
            "description": "The data stream ID of the data source with data point changes."
          }
        }
      },
      "ErrorResponse": {
        "type": "object",
        "properties": {
          "error": {
            "type": "object",
            "properties": {
              "code": {
                "type": "integer",
                "description": "HTTP status code"
              },
              "message": {
                "type": "string",
                "description": "Error message"
              },
              "status": {
                "type": "string",
                "description": "Error status"
              },
              "errors": {
                "type": "array",
                "items": {
                  "type": "object",
                  "properties": {
                    "message": {
                      "type": "string"
                    },
                    "domain": {
                      "type": "string"
                    },
                    "reason": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "securitySchemes": {
      "oauth2": {
        "type": "oauth2",
        "flows": {
          "authorizationCode": {
            "authorizationUrl": "https://accounts.google.com/o/oauth2/v2/auth",
            "tokenUrl": "https://oauth2.googleapis.com/token",
            "scopes": {
              "https://www.googleapis.com/auth/fitness.activity.read": "Use Google Fit to see and store your physical activity data",
              "https://www.googleapis.com/auth/fitness.activity.write": "Add to your Google Fit physical activity data",
              "https://www.googleapis.com/auth/fitness.blood_glucose.read": "See info about your blood glucose in Google Fit. I consent to Google sharing my blood glucose information with this app.",
              "https://www.googleapis.com/auth/fitness.blood_glucose.write": "Add info about your blood glucose to Google Fit. I consent to Google using my blood glucose information with this app.",
              "https://www.googleapis.com/auth/fitness.blood_pressure.read": "See info about your blood pressure in Google Fit. I consent to Google sharing my blood pressure information with this app.",
              "https://www.googleapis.com/auth/fitness.blood_pressure.write": "Add info about your blood pressure in Google Fit. I consent to Google using my blood pressure information with this app.",
              "https://www.googleapis.com/auth/fitness.body.read": "See info about your body measurements in Google Fit",
              "https://www.googleapis.com/auth/fitness.body.write": "Add info about your body measurements to Google Fit",
              "https://www.googleapis.com/auth/fitness.body_temperature.read": "See info about your body temperature in Google Fit. I consent to Google sharing my body temperature information with this app.",
              "https://www.googleapis.com/auth/fitness.body_temperature.write": "Add to info about your body temperature in Google Fit. I consent to Google using my body temperature information with this app.",
              "https://www.googleapis.com/auth/fitness.heart_rate.read": "See your heart rate data in Google Fit. I consent to Google sharing my heart rate information with this app.",
              "https://www.googleapis.com/auth/fitness.heart_rate.write": "Add to your heart rate data in Google Fit. I consent to Google using my heart rate information with this app.",
              "https://www.googleapis.com/auth/fitness.location.read": "See your Google Fit speed and distance data",
              "https://www.googleapis.com/auth/fitness.location.write": "Add to your Google Fit location data",
              "https://www.googleapis.com/auth/fitness.nutrition.read": "See info about your nutrition in Google Fit",
              "https://www.googleapis.com/auth/fitness.nutrition.write": "Add to info about your nutrition in Google Fit",
              "https://www.googleapis.com/auth/fitness.oxygen_saturation.read": "See info about your oxygen saturation in Google Fit. I consent to Google sharing my oxygen saturation information with this app.",
              "https://www.googleapis.com/auth/fitness.oxygen_saturation.write": "Add info about your oxygen saturation in Google Fit. I consent to Google using my oxygen saturation information with this app.",
              "https://www.googleapis.com/auth/fitness.reproductive_health.read": "See info about your reproductive health in Google Fit. I consent to Google sharing my reproductive health information with this app.",
              "https://www.googleapis.com/auth/fitness.reproductive_health.write": "Add info about your reproductive health in Google Fit. I consent to Google using my reproductive health information with this app.",
              "https://www.googleapis.com/auth/fitness.sleep.read": "See your sleep data in Google Fit. I consent to Google sharing my sleep information with this app.",
              "https://www.googleapis.com/auth/fitness.sleep.write": "Add to your sleep data in Google Fit. I consent to Google using my sleep information with this app."
            }
          }
        }
      },
      "apiKey": {
        "type": "apiKey",
        "name": "key",
        "in": "query"
      }
    }
  },
  "security": [
    {
      "oauth2": []
    }
  ],
  "tags": [
    {
      "name": "Users.Dataset"
    },
    {
      "name": "Users.Datasources"
    },
    {
      "name": "Users.Datasources.Datapointchanges"
    },
    {
      "name": "Users.Datasources.Datasets"
    },
    {
      "name": "Users.Sessions"
    }
  ]
}
