{
  "openapi": "3.0.1",
  "info": {
    "title": "BoldDesk Developer API Docs",
    "description": "BoldDesk is a Help Desk Support System for Enterprises. It is based on SaaS multi-tenant cloud-native architecture. Supports branding based customer portals with themes and settings customization. Built using the latest Microsoft and Cloud technology stack.",
    "version": "1.0",
    "x-jentic-source-url": "https://api.swaggerhub.com/apis/software42sro/bolddesk-developer-api-docs/1.0"
  },
  "servers": [
    {
      "url": "https://sw42.bolddesk.com"
    }
  ],
  "paths": {
    "/api/v1/activities": {
      "post": {
        "tags": [
          "Activities"
        ],
        "summary": "Method to Create Activity",
        "operationId": "activities#create-activity",
        "parameters": [
          {
            "name": "skipDependencyValidation",
            "in": "query",
            "description": "Skip Dependency Validation.",
            "schema": {
              "type": "boolean",
              "default": false
            }
          }
        ],
        "requestBody": {
          "description": "create activity object",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateActivityObject"
              },
              "example": {
                "activitySubject": "Title of the activity",
                "activityDescription": "Description of the activity",
                "activityType": 1,
                "activityPriority": 1,
                "activityStatus": 1,
                "activityAgent": 1,
                "activityLinkedTicket": 1,
                "activityLinkedUser": 1,
                "activityDueDate": "2025-12-13T13:15:05Z",
                "activityStartTime": "2025-12-12T13:15:05Z",
                "activityEndTime": "2025-12-12T14:15:05Z",
                "activityTimeZone": 135,
                "activityIsAllDay": true,
                "activityCollaborators": [
                  12,
                  14
                ],
                "customFields": null,
                "attachments": "token1,token2",
                "activityToAddress": null,
                "activityCCField": null,
                "activityLinkedTicketUpdate": null,
                "canAddPrivateNote": false,
                "messageInclusionTypeId": null,
                "activityTag": null,
                "activityLinkedChatConversation": null
              }
            },
            "text/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateActivityObject"
              },
              "example": {
                "activitySubject": "Title of the activity",
                "activityDescription": "Description of the activity",
                "activityType": 1,
                "activityPriority": 1,
                "activityStatus": 1,
                "activityAgent": 1,
                "activityLinkedTicket": 1,
                "activityLinkedUser": 1,
                "activityDueDate": "2025-12-13T13:15:05Z",
                "activityStartTime": "2025-12-12T13:15:05Z",
                "activityEndTime": "2025-12-12T14:15:05Z",
                "activityTimeZone": 135,
                "activityIsAllDay": true,
                "activityCollaborators": [
                  12,
                  14
                ],
                "customFields": null,
                "attachments": "token1,token2",
                "activityToAddress": null,
                "activityCCField": null,
                "activityLinkedTicketUpdate": null,
                "canAddPrivateNote": false,
                "messageInclusionTypeId": null,
                "activityTag": null,
                "activityLinkedChatConversation": null
              }
            },
            "application/*+json": {
              "schema": {
                "$ref": "#/components/schemas/CreateActivityObject"
              },
              "example": {
                "activitySubject": "Title of the activity",
                "activityDescription": "Description of the activity",
                "activityType": 1,
                "activityPriority": 1,
                "activityStatus": 1,
                "activityAgent": 1,
                "activityLinkedTicket": 1,
                "activityLinkedUser": 1,
                "activityDueDate": "2025-12-13T13:15:05Z",
                "activityStartTime": "2025-12-12T13:15:05Z",
                "activityEndTime": "2025-12-12T14:15:05Z",
                "activityTimeZone": 135,
                "activityIsAllDay": true,
                "activityCollaborators": [
                  12,
                  14
                ],
                "customFields": null,
                "attachments": "token1,token2",
                "activityToAddress": null,
                "activityCCField": null,
                "activityLinkedTicketUpdate": null,
                "canAddPrivateNote": false,
                "messageInclusionTypeId": null,
                "activityTag": null,
                "activityLinkedChatConversation": null
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Created",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/TransactionMessageWithIdResultObject"
                },
                "example": {
                  "id": 7,
                  "message": "Activity successfully created."
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TransactionMessageWithIdResultObject"
                },
                "example": {
                  "id": 7,
                  "message": "Activity successfully created."
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/TransactionMessageWithIdResultObject"
                },
                "example": {
                  "id": 7,
                  "message": "Activity successfully created."
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/ValidationError"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ValidationError"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/ValidationError"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/UnAuthorizationResponse"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/UnAuthorizationResponse"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/UnAuthorizationResponse"
                }
              }
            }
          }
        },
        "security": [
          {
            "oauth2": [
              "developer.api"
            ],
            "x-api-key": [
              "developer.api"
            ]
          }
        ]
      },
      "get": {
        "tags": [
          "Activities"
        ],
        "summary": "Method to Get List of Activities",
        "operationId": "activities#list-activity",
        "parameters": [
          {
            "name": "TicketId",
            "in": "query",
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          },
          {
            "name": "Status",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "Type",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "TextSearch",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "ViewId",
            "in": "query",
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "UserId",
            "in": "query",
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          },
          {
            "name": "ContactGroupId",
            "in": "query",
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          },
          {
            "name": "Q",
            "in": "query",
            "schema": {
              "type": "array",
              "items": {
                "type": "string"
              }
            }
          },
          {
            "name": "ChatConversationId",
            "in": "query",
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          },
          {
            "name": "Page",
            "in": "query",
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "PerPage",
            "in": "query",
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "RequiresCounts",
            "in": "query",
            "schema": {
              "type": "boolean"
            }
          },
          {
            "name": "OrderBy",
            "in": "query",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "text/plain": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/ActivityObjects"
                  }
                },
                "example": [
                  {
                    "activityId": 1,
                    "title": "Activity Title",
                    "assignee": {
                      "agentShiftId": 0,
                      "agentShiftName": "",
                      "ticketLimit": 0,
                      "chatLimit": 0,
                      "emailId": "james@gmail.com",
                      "shortCode": "JS",
                      "colorCode": "#e8d072",
                      "status": "Active",
                      "isVerified": true,
                      "profileImageUrl": null,
                      "userId": 1,
                      "name": "James",
                      "displayName": "James",
                      "isAgent": true
                    },
                    "type": {
                      "icon": null,
                      "isEnabled": false,
                      "description": "Call",
                      "textColor": "#000000",
                      "backgroundColor": "#ffffff",
                      "id": 2
                    },
                    "status": {
                      "description": "Open",
                      "textColor": "#000000",
                      "backgroundColor": "#000000",
                      "id": 1
                    },
                    "priority": {
                      "description": "Normal",
                      "textColor": "#FFFFFF",
                      "backgroundColor": "#096cbf",
                      "id": 2
                    },
                    "activitySource": {
                      "id": 3,
                      "name": "Agent Portal"
                    },
                    "activityLinkedModule": {
                      "id": 1,
                      "name": "Tickets"
                    },
                    "activityLinkedModuleItem": {
                      "ticketId": 1,
                      "title": "Ticket title"
                    },
                    "activityLinkedUser": {
                      "userId": 1,
                      "name": "James",
                      "displayName": "James",
                      "emailId": "james@gmail.com",
                      "colorCode": "e8d072",
                      "shortCode": "JS",
                      "isAgent": true,
                      "isVerified": true,
                      "status": "Active"
                    },
                    "dueOn": "2025-12-13T13:15:05Z",
                    "startTime": "2025-12-12T13:15:05Z",
                    "endTime": "2025-12-13T13:15:05Z",
                    "duration": null,
                    "createdBy": {
                      "agentShiftId": 0,
                      "agentShiftName": "",
                      "ticketLimit": 0,
                      "chatLimit": 0,
                      "emailId": "james@gmail.com",
                      "shortCode": "JS",
                      "colorCode": "#e8d072",
                      "status": "Active",
                      "isVerified": true,
                      "profileImageUrl": null,
                      "userId": 1,
                      "name": "James",
                      "displayName": "James",
                      "isAgent": true
                    },
                    "createdOn": "2025-12-12T13:15:05Z",
                    "modifiedBy": {
                      "agentShiftId": 0,
                      "agentShiftName": "",
                      "ticketLimit": 0,
                      "chatLimit": 0,
                      "emailId": "james@gmail.com",
                      "shortCode": "JS",
                      "colorCode": "#e8d072",
                      "status": "Active",
                      "isVerified": true,
                      "profileImageUrl": null,
                      "userId": 1,
                      "name": "James",
                      "displayName": "James",
                      "isAgent": true
                    },
                    "modifiedOn": "2025-12-12T13:15:05Z",
                    "activityUpdateCount": 0,
                    "activityTags": null,
                    "activityExternalReferenceId": null,
                    "lastRepliedOn": null,
                    "activityClosedOn": null,
                    "brand": null,
                    "orgId": 0
                  }
                ]
              },
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/ActivityObjects"
                  }
                },
                "example": [
                  {
                    "activityId": 1,
                    "title": "Activity Title",
                    "assignee": {
                      "agentShiftId": 0,
                      "agentShiftName": "",
                      "ticketLimit": 0,
                      "chatLimit": 0,
                      "emailId": "james@gmail.com",
                      "shortCode": "JS",
                      "colorCode": "#e8d072",
                      "status": "Active",
                      "isVerified": true,
                      "profileImageUrl": null,
                      "userId": 1,
                      "name": "James",
                      "displayName": "James",
                      "isAgent": true
                    },
                    "type": {
                      "icon": null,
                      "isEnabled": false,
                      "description": "Call",
                      "textColor": "#000000",
                      "backgroundColor": "#ffffff",
                      "id": 2
                    },
                    "status": {
                      "description": "Open",
                      "textColor": "#000000",
                      "backgroundColor": "#000000",
                      "id": 1
                    },
                    "priority": {
                      "description": "Normal",
                      "textColor": "#FFFFFF",
                      "backgroundColor": "#096cbf",
                      "id": 2
                    },
                    "activitySource": {
                      "id": 3,
                      "name": "Agent Portal"
                    },
                    "activityLinkedModule": {
                      "id": 1,
                      "name": "Tickets"
                    },
                    "activityLinkedModuleItem": {
                      "ticketId": 1,
                      "title": "Ticket title"
                    },
                    "activityLinkedUser": {
                      "userId": 1,
                      "name": "James",
                      "displayName": "James",
                      "emailId": "james@gmail.com",
                      "colorCode": "e8d072",
                      "shortCode": "JS",
                      "isAgent": true,
                      "isVerified": true,
                      "status": "Active"
                    },
                    "dueOn": "2025-12-13T13:15:05Z",
                    "startTime": "2025-12-12T13:15:05Z",
                    "endTime": "2025-12-13T13:15:05Z",
                    "duration": null,
                    "createdBy": {
                      "agentShiftId": 0,
                      "agentShiftName": "",
                      "ticketLimit": 0,
                      "chatLimit": 0,
                      "emailId": "james@gmail.com",
                      "shortCode": "JS",
                      "colorCode": "#e8d072",
                      "status": "Active",
                      "isVerified": true,
                      "profileImageUrl": null,
                      "userId": 1,
                      "name": "James",
                      "displayName": "James",
                      "isAgent": true
                    },
                    "createdOn": "2025-12-12T13:15:05Z",
                    "modifiedBy": {
                      "agentShiftId": 0,
                      "agentShiftName": "",
                      "ticketLimit": 0,
                      "chatLimit": 0,
                      "emailId": "james@gmail.com",
                      "shortCode": "JS",
                      "colorCode": "#e8d072",
                      "status": "Active",
                      "isVerified": true,
                      "profileImageUrl": null,
                      "userId": 1,
                      "name": "James",
                      "displayName": "James",
                      "isAgent": true
                    },
                    "modifiedOn": "2025-12-12T13:15:05Z",
                    "activityUpdateCount": 0,
                    "activityTags": null,
                    "activityExternalReferenceId": null,
                    "lastRepliedOn": null,
                    "activityClosedOn": null,
                    "brand": null,
                    "orgId": 0
                  }
                ]
              },
              "text/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/ActivityObjects"
                  }
                },
                "example": [
                  {
                    "activityId": 1,
                    "title": "Activity Title",
                    "assignee": {
                      "agentShiftId": 0,
                      "agentShiftName": "",
                      "ticketLimit": 0,
                      "chatLimit": 0,
                      "emailId": "james@gmail.com",
                      "shortCode": "JS",
                      "colorCode": "#e8d072",
                      "status": "Active",
                      "isVerified": true,
                      "profileImageUrl": null,
                      "userId": 1,
                      "name": "James",
                      "displayName": "James",
                      "isAgent": true
                    },
                    "type": {
                      "icon": null,
                      "isEnabled": false,
                      "description": "Call",
                      "textColor": "#000000",
                      "backgroundColor": "#ffffff",
                      "id": 2
                    },
                    "status": {
                      "description": "Open",
                      "textColor": "#000000",
                      "backgroundColor": "#000000",
                      "id": 1
                    },
                    "priority": {
                      "description": "Normal",
                      "textColor": "#FFFFFF",
                      "backgroundColor": "#096cbf",
                      "id": 2
                    },
                    "activitySource": {
                      "id": 3,
                      "name": "Agent Portal"
                    },
                    "activityLinkedModule": {
                      "id": 1,
                      "name": "Tickets"
                    },
                    "activityLinkedModuleItem": {
                      "ticketId": 1,
                      "title": "Ticket title"
                    },
                    "activityLinkedUser": {
                      "userId": 1,
                      "name": "James",
                      "displayName": "James",
                      "emailId": "james@gmail.com",
                      "colorCode": "e8d072",
                      "shortCode": "JS",
                      "isAgent": true,
                      "isVerified": true,
                      "status": "Active"
                    },
                    "dueOn": "2025-12-13T13:15:05Z",
                    "startTime": "2025-12-12T13:15:05Z",
                    "endTime": "2025-12-13T13:15:05Z",
                    "duration": null,
                    "createdBy": {
                      "agentShiftId": 0,
                      "agentShiftName": "",
                      "ticketLimit": 0,
                      "chatLimit": 0,
                      "emailId": "james@gmail.com",
                      "shortCode": "JS",
                      "colorCode": "#e8d072",
                      "status": "Active",
                      "isVerified": true,
                      "profileImageUrl": null,
                      "userId": 1,
                      "name": "James",
                      "displayName": "James",
                      "isAgent": true
                    },
                    "createdOn": "2025-12-12T13:15:05Z",
                    "modifiedBy": {
                      "agentShiftId": 0,
                      "agentShiftName": "",
                      "ticketLimit": 0,
                      "chatLimit": 0,
                      "emailId": "james@gmail.com",
                      "shortCode": "JS",
                      "colorCode": "#e8d072",
                      "status": "Active",
                      "isVerified": true,
                      "profileImageUrl": null,
                      "userId": 1,
                      "name": "James",
                      "displayName": "James",
                      "isAgent": true
                    },
                    "modifiedOn": "2025-12-12T13:15:05Z",
                    "activityUpdateCount": 0,
                    "activityTags": null,
                    "activityExternalReferenceId": null,
                    "lastRepliedOn": null,
                    "activityClosedOn": null,
                    "brand": null,
                    "orgId": 0
                  }
                ]
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/ValidationError"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ValidationError"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/ValidationError"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/UnAuthorizationResponse"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/UnAuthorizationResponse"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/UnAuthorizationResponse"
                }
              }
            }
          }
        },
        "security": [
          {
            "oauth2": [
              "developer.api"
            ],
            "x-api-key": [
              "developer.api"
            ]
          }
        ]
      }
    },
    "/api/v1/activities/{activityId}": {
      "delete": {
        "tags": [
          "Activities"
        ],
        "summary": "Method to delete activity",
        "operationId": "activities#delete-activity",
        "parameters": [
          {
            "name": "activityId",
            "in": "path",
            "description": "activity Id",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/TransactionMessageResultObject"
                },
                "example": {
                  "message": "Activity successfully deleted."
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TransactionMessageResultObject"
                },
                "example": {
                  "message": "Activity successfully deleted."
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/TransactionMessageResultObject"
                },
                "example": {
                  "message": "Activity successfully deleted."
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/ValidationError"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ValidationError"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/ValidationError"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/UnAuthorizationResponse"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/UnAuthorizationResponse"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/UnAuthorizationResponse"
                }
              }
            }
          }
        },
        "security": [
          {
            "oauth2": [
              "developer.api"
            ],
            "x-api-key": [
              "developer.api"
            ]
          }
        ]
      },
      "put": {
        "tags": [
          "Activities"
        ],
        "summary": "Method to edit activity fields",
        "operationId": "activities#edit-activity",
        "parameters": [
          {
            "name": "activityId",
            "in": "path",
            "description": "activity id",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          },
          {
            "name": "skipDependencyValidation",
            "in": "query",
            "description": "skip dependency validation",
            "schema": {
              "type": "boolean",
              "default": false
            }
          }
        ],
        "requestBody": {
          "description": "edit activity fields",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/EditActivity"
              },
              "example": {
                "fields": {
                  "activitySubject": "Title of activity",
                  "activityDescription": "Description of activity",
                  "activityStatus": 3,
                  "activityPriority": 2,
                  "activityAgent": 1,
                  "activityLinkedTicket": 12,
                  "activityLinkedUser": 7,
                  "activityCollaborators": [
                    1,
                    2
                  ],
                  "activityTimeZone": 135,
                  "activityStartTime": "2025-12-12T14:15:05Z",
                  "activityEndTime": "2025-12-12T15:15:05Z",
                  "activityIsAllDay": false,
                  "activityDueDate": "2025-12-13T13:15:05Z",
                  "atMentionedUserIds": [
                    1,
                    2
                  ],
                  "activityTag": "Tag"
                }
              }
            },
            "text/json": {
              "schema": {
                "$ref": "#/components/schemas/EditActivity"
              },
              "example": {
                "fields": {
                  "activitySubject": "Title of activity",
                  "activityDescription": "Description of activity",
                  "activityStatus": 3,
                  "activityPriority": 2,
                  "activityAgent": 1,
                  "activityLinkedTicket": 12,
                  "activityLinkedUser": 7,
                  "activityCollaborators": [
                    1,
                    2
                  ],
                  "activityTimeZone": 135,
                  "activityStartTime": "2025-12-12T14:15:05Z",
                  "activityEndTime": "2025-12-12T15:15:05Z",
                  "activityIsAllDay": false,
                  "activityDueDate": "2025-12-13T13:15:05Z",
                  "atMentionedUserIds": [
                    1,
                    2
                  ],
                  "activityTag": "Tag"
                }
              }
            },
            "application/*+json": {
              "schema": {
                "$ref": "#/components/schemas/EditActivity"
              },
              "example": {
                "fields": {
                  "activitySubject": "Title of activity",
                  "activityDescription": "Description of activity",
                  "activityStatus": 3,
                  "activityPriority": 2,
                  "activityAgent": 1,
                  "activityLinkedTicket": 12,
                  "activityLinkedUser": 7,
                  "activityCollaborators": [
                    1,
                    2
                  ],
                  "activityTimeZone": 135,
                  "activityStartTime": "2025-12-12T14:15:05Z",
                  "activityEndTime": "2025-12-12T15:15:05Z",
                  "activityIsAllDay": false,
                  "activityDueDate": "2025-12-13T13:15:05Z",
                  "atMentionedUserIds": [
                    1,
                    2
                  ],
                  "activityTag": "Tag"
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/TransactionMessageResultObject"
                },
                "example": {
                  "message": "Successfully updated."
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TransactionMessageResultObject"
                },
                "example": {
                  "message": "Successfully updated."
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/TransactionMessageResultObject"
                },
                "example": {
                  "message": "Successfully updated."
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/ValidationError"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ValidationError"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/ValidationError"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/UnAuthorizationResponse"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/UnAuthorizationResponse"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/UnAuthorizationResponse"
                }
              }
            }
          }
        },
        "security": [
          {
            "oauth2": [
              "developer.api"
            ],
            "x-api-key": [
              "developer.api"
            ]
          }
        ]
      },
      "get": {
        "tags": [
          "Activities"
        ],
        "summary": "Method to get the activity details.",
        "operationId": "activities#activity-details",
        "parameters": [
          {
            "name": "activityId",
            "in": "path",
            "description": "activity Id",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/ActivityDetailsObjects"
                },
                "example": {
                  "activityId": 1,
                  "activitySubject": "Activity",
                  "activityDescription": "Activity Description",
                  "createdBy": {
                    "phoneNumber": "54523524232",
                    "mobileNumber": "54523524232",
                    "agentShiftId": 0,
                    "agentShiftName": "",
                    "ticketLimit": 0,
                    "chatLimit": 0,
                    "emailId": "james@gmail.com",
                    "shortCode": "JS",
                    "colorCode": "#e8d072",
                    "status": "Active",
                    "isVerified": true,
                    "profileImageUrl": null,
                    "userId": 1,
                    "name": "James",
                    "displayName": "James",
                    "isAgent": true
                  },
                  "createdOn": "2025-12-12T13:15:05Z",
                  "modifiedBy": {
                    "agentShiftId": 0,
                    "agentShiftName": "",
                    "ticketLimit": 0,
                    "chatLimit": 0,
                    "emailId": "james@gmail.com",
                    "shortCode": "JS",
                    "colorCode": "#e8d072",
                    "status": "Active",
                    "isVerified": true,
                    "profileImageUrl": null,
                    "userId": 1,
                    "name": "James",
                    "displayName": "James",
                    "isAgent": true
                  },
                  "modifiedOn": "2025-12-12T13:15:05Z",
                  "activityStatus": {
                    "statusCategory": "Pending",
                    "description": "Open",
                    "textColor": "#000000",
                    "backgroundColor": "#ffffff",
                    "id": 1
                  },
                  "activityType": {
                    "icon": null,
                    "isEnabled": false,
                    "description": "Task",
                    "textColor": "#000000",
                    "backgroundColor": "#ffffff",
                    "id": 1
                  },
                  "activitySource": {
                    "id": 3,
                    "name": "Agent Portal"
                  },
                  "activityDueDate": "2025-12-14T13:15:05Z",
                  "activityAgent": {
                    "agentShiftId": 0,
                    "agentShiftName": "",
                    "ticketLimit": 0,
                    "chatLimit": 0,
                    "emailId": "albert@gmail.com",
                    "shortCode": "AT",
                    "colorCode": "#e8d075",
                    "status": "Active",
                    "isVerified": true,
                    "profileImageUrl": null,
                    "userId": 2,
                    "name": "Albert",
                    "displayName": "Albert",
                    "isAgent": true
                  },
                  "activityLinkedModule": {
                    "id": 1,
                    "name": "Ticket Module"
                  },
                  "activityLinkedModuleItem": {
                    "ticketId": 1,
                    "title": "Ticket",
                    "agent": {
                      "agentShiftId": 0,
                      "agentShiftName": "",
                      "ticketLimit": 0,
                      "chatLimit": 0,
                      "emailId": "james@gmail.com",
                      "shortCode": "JS",
                      "colorCode": "#e8d072",
                      "status": "Active",
                      "isVerified": true,
                      "profileImageUrl": null,
                      "userId": 1,
                      "name": "James",
                      "displayName": "James",
                      "isAgent": true
                    },
                    "group": {
                      "name": "Group",
                      "id": 1
                    },
                    "status": {
                      "description": "Open",
                      "textColor": "#000000",
                      "backgroundColor": "#ffffff",
                      "id": 1
                    },
                    "requester": {
                      "agentShiftId": 0,
                      "agentShiftName": "",
                      "ticketLimit": 0,
                      "chatLimit": 0,
                      "emailId": "albert@gmail.com",
                      "shortCode": "AT",
                      "colorCode": "#e8d075",
                      "status": "Active",
                      "isVerified": true,
                      "profileImageUrl": null,
                      "userId": 2,
                      "name": "Albert",
                      "displayName": "Albert",
                      "isAgent": true
                    }
                  },
                  "activityLinkedUser": {
                    "userId": 1,
                    "name": "James",
                    "displayName": "James",
                    "emailId": "james@gmail.com",
                    "colorCode": "e8d072",
                    "shortCode": "JS",
                    "isAgent": true,
                    "isVerified": true,
                    "status": "Active"
                  },
                  "activityPriority": {
                    "id": 1,
                    "name": "Low"
                  },
                  "activityStartTime": "2025-12-12T13:15:05Z",
                  "activityEndTime": "2025-12-13T13:15:05Z",
                  "activityDuration": null,
                  "activityCollaborators": [
                    {
                      "agentShiftId": 0,
                      "agentShiftName": "",
                      "ticketLimit": 0,
                      "chatLimit": 0,
                      "emailId": "james@gmail.com",
                      "shortCode": "JS",
                      "colorCode": "#e8d072",
                      "status": "Active",
                      "isVerified": true,
                      "profileImageUrl": null,
                      "userId": 1,
                      "name": "James",
                      "displayName": "James",
                      "isAgent": true
                    },
                    {
                      "agentShiftId": 0,
                      "agentShiftName": "",
                      "ticketLimit": 0,
                      "chatLimit": 0,
                      "emailId": "albert@gmail.com",
                      "shortCode": "AT",
                      "colorCode": "#e8d075",
                      "status": "Active",
                      "isVerified": true,
                      "profileImageUrl": null,
                      "userId": 2,
                      "name": "Albert",
                      "displayName": "Albert",
                      "isAgent": true
                    }
                  ],
                  "activityTimeZone": {
                    "id": 135,
                    "name": "Coordinated Universal Time"
                  },
                  "customFields": null,
                  "attachmentsCount": 0,
                  "attachments": null,
                  "activityToAddress": null,
                  "activityCCField": null,
                  "activityLinkedTicketUpdate": null,
                  "isDescriptionRequired": false,
                  "workLogCount": 0,
                  "totalTimeLogged": null,
                  "totalBillableTimeLogged": null,
                  "brandId": null,
                  "dataToken": "",
                  "commentId": 1,
                  "lastStatusChangedOn": "2025-12-12T13:15:05Z",
                  "closedOn": "2025-12-12T13:15:05Z",
                  "closedBy": {
                    "phoneNumber": "54523524232",
                    "mobileNumber": "54523524232",
                    "agentShiftId": 0,
                    "agentShiftName": "",
                    "ticketLimit": 0,
                    "chatLimit": 0,
                    "emailId": "james@gmail.com",
                    "shortCode": "JS",
                    "colorCode": "#e8d072",
                    "status": "Active",
                    "isVerified": true,
                    "profileImageUrl": null,
                    "userId": 1,
                    "name": "James",
                    "displayName": "James",
                    "isAgent": true
                  },
                  "activityTag": [
                    {
                      "id": 1,
                      "name": "TestTag"
                    }
                  ],
                  "lastRepliedOn": "2025-12-12T13:15:05Z",
                  "activityIntegrationApp": null,
                  "activityExternalReferenceId": null,
                  "marketplaceAppIntegrationDetail": null,
                  "orgId": 0
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ActivityDetailsObjects"
                },
                "example": {
                  "activityId": 1,
                  "activitySubject": "Activity",
                  "activityDescription": "Activity Description",
                  "createdBy": {
                    "phoneNumber": "54523524232",
                    "mobileNumber": "54523524232",
                    "agentShiftId": 0,
                    "agentShiftName": "",
                    "ticketLimit": 0,
                    "chatLimit": 0,
                    "emailId": "james@gmail.com",
                    "shortCode": "JS",
                    "colorCode": "#e8d072",
                    "status": "Active",
                    "isVerified": true,
                    "profileImageUrl": null,
                    "userId": 1,
                    "name": "James",
                    "displayName": "James",
                    "isAgent": true
                  },
                  "createdOn": "2025-12-12T13:15:05Z",
                  "modifiedBy": {
                    "agentShiftId": 0,
                    "agentShiftName": "",
                    "ticketLimit": 0,
                    "chatLimit": 0,
                    "emailId": "james@gmail.com",
                    "shortCode": "JS",
                    "colorCode": "#e8d072",
                    "status": "Active",
                    "isVerified": true,
                    "profileImageUrl": null,
                    "userId": 1,
                    "name": "James",
                    "displayName": "James",
                    "isAgent": true
                  },
                  "modifiedOn": "2025-12-12T13:15:05Z",
                  "activityStatus": {
                    "statusCategory": "Pending",
                    "description": "Open",
                    "textColor": "#000000",
                    "backgroundColor": "#ffffff",
                    "id": 1
                  },
                  "activityType": {
                    "icon": null,
                    "isEnabled": false,
                    "description": "Task",
                    "textColor": "#000000",
                    "backgroundColor": "#ffffff",
                    "id": 1
                  },
                  "activitySource": {
                    "id": 3,
                    "name": "Agent Portal"
                  },
                  "activityDueDate": "2025-12-14T13:15:05Z",
                  "activityAgent": {
                    "agentShiftId": 0,
                    "agentShiftName": "",
                    "ticketLimit": 0,
                    "chatLimit": 0,
                    "emailId": "albert@gmail.com",
                    "shortCode": "AT",
                    "colorCode": "#e8d075",
                    "status": "Active",
                    "isVerified": true,
                    "profileImageUrl": null,
                    "userId": 2,
                    "name": "Albert",
                    "displayName": "Albert",
                    "isAgent": true
                  },
                  "activityLinkedModule": {
                    "id": 1,
                    "name": "Ticket Module"
                  },
                  "activityLinkedModuleItem": {
                    "ticketId": 1,
                    "title": "Ticket",
                    "agent": {
                      "agentShiftId": 0,
                      "agentShiftName": "",
                      "ticketLimit": 0,
                      "chatLimit": 0,
                      "emailId": "james@gmail.com",
                      "shortCode": "JS",
                      "colorCode": "#e8d072",
                      "status": "Active",
                      "isVerified": true,
                      "profileImageUrl": null,
                      "userId": 1,
                      "name": "James",
                      "displayName": "James",
                      "isAgent": true
                    },
                    "group": {
                      "name": "Group",
                      "id": 1
                    },
                    "status": {
                      "description": "Open",
                      "textColor": "#000000",
                      "backgroundColor": "#ffffff",
                      "id": 1
                    },
                    "requester": {
                      "agentShiftId": 0,
                      "agentShiftName": "",
                      "ticketLimit": 0,
                      "chatLimit": 0,
                      "emailId": "albert@gmail.com",
                      "shortCode": "AT",
                      "colorCode": "#e8d075",
                      "status": "Active",
                      "isVerified": true,
                      "profileImageUrl": null,
                      "userId": 2,
                      "name": "Albert",
                      "displayName": "Albert",
                      "isAgent": true
                    }
                  },
                  "activityLinkedUser": {
                    "userId": 1,
                    "name": "James",
                    "displayName": "James",
                    "emailId": "james@gmail.com",
                    "colorCode": "e8d072",
                    "shortCode": "JS",
                    "isAgent": true,
                    "isVerified": true,
                    "status": "Active"
                  },
                  "activityPriority": {
                    "id": 1,
                    "name": "Low"
                  },
                  "activityStartTime": "2025-12-12T13:15:05Z",
                  "activityEndTime": "2025-12-13T13:15:05Z",
                  "activityDuration": null,
                  "activityCollaborators": [
                    {
                      "agentShiftId": 0,
                      "agentShiftName": "",
                      "ticketLimit": 0,
                      "chatLimit": 0,
                      "emailId": "james@gmail.com",
                      "shortCode": "JS",
                      "colorCode": "#e8d072",
                      "status": "Active",
                      "isVerified": true,
                      "profileImageUrl": null,
                      "userId": 1,
                      "name": "James",
                      "displayName": "James",
                      "isAgent": true
                    },
                    {
                      "agentShiftId": 0,
                      "agentShiftName": "",
                      "ticketLimit": 0,
                      "chatLimit": 0,
                      "emailId": "albert@gmail.com",
                      "shortCode": "AT",
                      "colorCode": "#e8d075",
                      "status": "Active",
                      "isVerified": true,
                      "profileImageUrl": null,
                      "userId": 2,
                      "name": "Albert",
                      "displayName": "Albert",
                      "isAgent": true
                    }
                  ],
                  "activityTimeZone": {
                    "id": 135,
                    "name": "Coordinated Universal Time"
                  },
                  "customFields": null,
                  "attachmentsCount": 0,
                  "attachments": null,
                  "activityToAddress": null,
                  "activityCCField": null,
                  "activityLinkedTicketUpdate": null,
                  "isDescriptionRequired": false,
                  "workLogCount": 0,
                  "totalTimeLogged": null,
                  "totalBillableTimeLogged": null,
                  "brandId": null,
                  "dataToken": "",
                  "commentId": 1,
                  "lastStatusChangedOn": "2025-12-12T13:15:05Z",
                  "closedOn": "2025-12-12T13:15:05Z",
                  "closedBy": {
                    "phoneNumber": "54523524232",
                    "mobileNumber": "54523524232",
                    "agentShiftId": 0,
                    "agentShiftName": "",
                    "ticketLimit": 0,
                    "chatLimit": 0,
                    "emailId": "james@gmail.com",
                    "shortCode": "JS",
                    "colorCode": "#e8d072",
                    "status": "Active",
                    "isVerified": true,
                    "profileImageUrl": null,
                    "userId": 1,
                    "name": "James",
                    "displayName": "James",
                    "isAgent": true
                  },
                  "activityTag": [
                    {
                      "id": 1,
                      "name": "TestTag"
                    }
                  ],
                  "lastRepliedOn": "2025-12-12T13:15:05Z",
                  "activityIntegrationApp": null,
                  "activityExternalReferenceId": null,
                  "marketplaceAppIntegrationDetail": null,
                  "orgId": 0
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/ActivityDetailsObjects"
                },
                "example": {
                  "activityId": 1,
                  "activitySubject": "Activity",
                  "activityDescription": "Activity Description",
                  "createdBy": {
                    "phoneNumber": "54523524232",
                    "mobileNumber": "54523524232",
                    "agentShiftId": 0,
                    "agentShiftName": "",
                    "ticketLimit": 0,
                    "chatLimit": 0,
                    "emailId": "james@gmail.com",
                    "shortCode": "JS",
                    "colorCode": "#e8d072",
                    "status": "Active",
                    "isVerified": true,
                    "profileImageUrl": null,
                    "userId": 1,
                    "name": "James",
                    "displayName": "James",
                    "isAgent": true
                  },
                  "createdOn": "2025-12-12T13:15:05Z",
                  "modifiedBy": {
                    "agentShiftId": 0,
                    "agentShiftName": "",
                    "ticketLimit": 0,
                    "chatLimit": 0,
                    "emailId": "james@gmail.com",
                    "shortCode": "JS",
                    "colorCode": "#e8d072",
                    "status": "Active",
                    "isVerified": true,
                    "profileImageUrl": null,
                    "userId": 1,
                    "name": "James",
                    "displayName": "James",
                    "isAgent": true
                  },
                  "modifiedOn": "2025-12-12T13:15:05Z",
                  "activityStatus": {
                    "statusCategory": "Pending",
                    "description": "Open",
                    "textColor": "#000000",
                    "backgroundColor": "#ffffff",
                    "id": 1
                  },
                  "activityType": {
                    "icon": null,
                    "isEnabled": false,
                    "description": "Task",
                    "textColor": "#000000",
                    "backgroundColor": "#ffffff",
                    "id": 1
                  },
                  "activitySource": {
                    "id": 3,
                    "name": "Agent Portal"
                  },
                  "activityDueDate": "2025-12-14T13:15:05Z",
                  "activityAgent": {
                    "agentShiftId": 0,
                    "agentShiftName": "",
                    "ticketLimit": 0,
                    "chatLimit": 0,
                    "emailId": "albert@gmail.com",
                    "shortCode": "AT",
                    "colorCode": "#e8d075",
                    "status": "Active",
                    "isVerified": true,
                    "profileImageUrl": null,
                    "userId": 2,
                    "name": "Albert",
                    "displayName": "Albert",
                    "isAgent": true
                  },
                  "activityLinkedModule": {
                    "id": 1,
                    "name": "Ticket Module"
                  },
                  "activityLinkedModuleItem": {
                    "ticketId": 1,
                    "title": "Ticket",
                    "agent": {
                      "agentShiftId": 0,
                      "agentShiftName": "",
                      "ticketLimit": 0,
                      "chatLimit": 0,
                      "emailId": "james@gmail.com",
                      "shortCode": "JS",
                      "colorCode": "#e8d072",
                      "status": "Active",
                      "isVerified": true,
                      "profileImageUrl": null,
                      "userId": 1,
                      "name": "James",
                      "displayName": "James",
                      "isAgent": true
                    },
                    "group": {
                      "name": "Group",
                      "id": 1
                    },
                    "status": {
                      "description": "Open",
                      "textColor": "#000000",
                      "backgroundColor": "#ffffff",
                      "id": 1
                    },
                    "requester": {
                      "agentShiftId": 0,
                      "agentShiftName": "",
                      "ticketLimit": 0,
                      "chatLimit": 0,
                      "emailId": "albert@gmail.com",
                      "shortCode": "AT",
                      "colorCode": "#e8d075",
                      "status": "Active",
                      "isVerified": true,
                      "profileImageUrl": null,
                      "userId": 2,
                      "name": "Albert",
                      "displayName": "Albert",
                      "isAgent": true
                    }
                  },
                  "activityLinkedUser": {
                    "userId": 1,
                    "name": "James",
                    "displayName": "James",
                    "emailId": "james@gmail.com",
                    "colorCode": "e8d072",
                    "shortCode": "JS",
                    "isAgent": true,
                    "isVerified": true,
                    "status": "Active"
                  },
                  "activityPriority": {
                    "id": 1,
                    "name": "Low"
                  },
                  "activityStartTime": "2025-12-12T13:15:05Z",
                  "activityEndTime": "2025-12-13T13:15:05Z",
                  "activityDuration": null,
                  "activityCollaborators": [
                    {
                      "agentShiftId": 0,
                      "agentShiftName": "",
                      "ticketLimit": 0,
                      "chatLimit": 0,
                      "emailId": "james@gmail.com",
                      "shortCode": "JS",
                      "colorCode": "#e8d072",
                      "status": "Active",
                      "isVerified": true,
                      "profileImageUrl": null,
                      "userId": 1,
                      "name": "James",
                      "displayName": "James",
                      "isAgent": true
                    },
                    {
                      "agentShiftId": 0,
                      "agentShiftName": "",
                      "ticketLimit": 0,
                      "chatLimit": 0,
                      "emailId": "albert@gmail.com",
                      "shortCode": "AT",
                      "colorCode": "#e8d075",
                      "status": "Active",
                      "isVerified": true,
                      "profileImageUrl": null,
                      "userId": 2,
                      "name": "Albert",
                      "displayName": "Albert",
                      "isAgent": true
                    }
                  ],
                  "activityTimeZone": {
                    "id": 135,
                    "name": "Coordinated Universal Time"
                  },
                  "customFields": null,
                  "attachmentsCount": 0,
                  "attachments": null,
                  "activityToAddress": null,
                  "activityCCField": null,
                  "activityLinkedTicketUpdate": null,
                  "isDescriptionRequired": false,
                  "workLogCount": 0,
                  "totalTimeLogged": null,
                  "totalBillableTimeLogged": null,
                  "brandId": null,
                  "dataToken": "",
                  "commentId": 1,
                  "lastStatusChangedOn": "2025-12-12T13:15:05Z",
                  "closedOn": "2025-12-12T13:15:05Z",
                  "closedBy": {
                    "phoneNumber": "54523524232",
                    "mobileNumber": "54523524232",
                    "agentShiftId": 0,
                    "agentShiftName": "",
                    "ticketLimit": 0,
                    "chatLimit": 0,
                    "emailId": "james@gmail.com",
                    "shortCode": "JS",
                    "colorCode": "#e8d072",
                    "status": "Active",
                    "isVerified": true,
                    "profileImageUrl": null,
                    "userId": 1,
                    "name": "James",
                    "displayName": "James",
                    "isAgent": true
                  },
                  "activityTag": [
                    {
                      "id": 1,
                      "name": "TestTag"
                    }
                  ],
                  "lastRepliedOn": "2025-12-12T13:15:05Z",
                  "activityIntegrationApp": null,
                  "activityExternalReferenceId": null,
                  "marketplaceAppIntegrationDetail": null,
                  "orgId": 0
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/ValidationError"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ValidationError"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/ValidationError"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/UnAuthorizationResponse"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/UnAuthorizationResponse"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/UnAuthorizationResponse"
                }
              }
            }
          }
        },
        "security": [
          {
            "oauth2": [
              "developer.api"
            ],
            "x-api-key": [
              "developer.api"
            ]
          }
        ]
      }
    },
    "/api/v1/activities/{activityId}/comments": {
      "post": {
        "tags": [
          "Activities"
        ],
        "summary": "Method to add comment to activity",
        "operationId": "activities#add-activity-comment",
        "parameters": [
          {
            "name": "activityId",
            "in": "path",
            "description": "activity id",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          }
        ],
        "requestBody": {
          "description": "activity comment request object",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/AddActivityCommentRequestObjects"
              },
              "example": {
                "atMentionedUserIds": [
                  12,
                  14
                ],
                "description": "New Comment.",
                "attachments": "token1,token2",
                "activityStatusId": null
              }
            },
            "text/json": {
              "schema": {
                "$ref": "#/components/schemas/AddActivityCommentRequestObjects"
              },
              "example": {
                "atMentionedUserIds": [
                  12,
                  14
                ],
                "description": "New Comment.",
                "attachments": "token1,token2",
                "activityStatusId": null
              }
            },
            "application/*+json": {
              "schema": {
                "$ref": "#/components/schemas/AddActivityCommentRequestObjects"
              },
              "example": {
                "atMentionedUserIds": [
                  12,
                  14
                ],
                "description": "New Comment.",
                "attachments": "token1,token2",
                "activityStatusId": null
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Created",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/TransactionMessageWithIdResultObject"
                },
                "example": {
                  "id": 2,
                  "message": "Comment successfully added."
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TransactionMessageWithIdResultObject"
                },
                "example": {
                  "id": 2,
                  "message": "Comment successfully added."
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/TransactionMessageWithIdResultObject"
                },
                "example": {
                  "id": 2,
                  "message": "Comment successfully added."
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/ValidationError"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ValidationError"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/ValidationError"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/UnAuthorizationResponse"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/UnAuthorizationResponse"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/UnAuthorizationResponse"
                }
              }
            }
          }
        },
        "security": [
          {
            "oauth2": [
              "developer.api"
            ],
            "x-api-key": [
              "developer.api"
            ]
          }
        ]
      },
      "get": {
        "tags": [
          "Activities"
        ],
        "summary": "Method to Get List of comments of an activity by activity Id",
        "operationId": "activities#list-activity-comments",
        "parameters": [
          {
            "name": "activityId",
            "in": "path",
            "description": "activity Id",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          },
          {
            "name": "Filter",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "Page",
            "in": "query",
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "PerPage",
            "in": "query",
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "RequiresCounts",
            "in": "query",
            "schema": {
              "type": "boolean"
            }
          },
          {
            "name": "OrderBy",
            "in": "query",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "text/plain": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/ActivityCommentObjects"
                  }
                },
                "example": [
                  {
                    "commentId": 1,
                    "description": "Message",
                    "updateFlagName": "Edited",
                    "updateFlagId": 1,
                    "source": "AgentPortal",
                    "createdBy": {
                      "agentShiftId": 0,
                      "agentShiftName": "",
                      "ticketLimit": 0,
                      "chatLimit": 0,
                      "emailId": "james@gmail.com",
                      "shortCode": "JS",
                      "colorCode": "#e8d072",
                      "status": "Active",
                      "isVerified": true,
                      "profileImageUrl": null,
                      "userId": 1,
                      "name": "James",
                      "displayName": "James",
                      "isAgent": true
                    },
                    "modifiedBy": {
                      "agentShiftId": 0,
                      "agentShiftName": "",
                      "ticketLimit": 0,
                      "chatLimit": 0,
                      "emailId": "james@gmail.com",
                      "shortCode": "JS",
                      "colorCode": "#e8d072",
                      "status": "Active",
                      "isVerified": true,
                      "profileImageUrl": null,
                      "userId": 1,
                      "name": "James",
                      "displayName": "James",
                      "isAgent": true
                    },
                    "createdOn": "2025-12-11T13:15:05Z",
                    "modifiedOn": "2025-12-12T13:15:05Z",
                    "attachments": null,
                    "hasAttachment": false
                  }
                ]
              },
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/ActivityCommentObjects"
                  }
                },
                "example": [
                  {
                    "commentId": 1,
                    "description": "Message",
                    "updateFlagName": "Edited",
                    "updateFlagId": 1,
                    "source": "AgentPortal",
                    "createdBy": {
                      "agentShiftId": 0,
                      "agentShiftName": "",
                      "ticketLimit": 0,
                      "chatLimit": 0,
                      "emailId": "james@gmail.com",
                      "shortCode": "JS",
                      "colorCode": "#e8d072",
                      "status": "Active",
                      "isVerified": true,
                      "profileImageUrl": null,
                      "userId": 1,
                      "name": "James",
                      "displayName": "James",
                      "isAgent": true
                    },
                    "modifiedBy": {
                      "agentShiftId": 0,
                      "agentShiftName": "",
                      "ticketLimit": 0,
                      "chatLimit": 0,
                      "emailId": "james@gmail.com",
                      "shortCode": "JS",
                      "colorCode": "#e8d072",
                      "status": "Active",
                      "isVerified": true,
                      "profileImageUrl": null,
                      "userId": 1,
                      "name": "James",
                      "displayName": "James",
                      "isAgent": true
                    },
                    "createdOn": "2025-12-11T13:15:05Z",
                    "modifiedOn": "2025-12-12T13:15:05Z",
                    "attachments": null,
                    "hasAttachment": false
                  }
                ]
              },
              "text/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/ActivityCommentObjects"
                  }
                },
                "example": [
                  {
                    "commentId": 1,
                    "description": "Message",
                    "updateFlagName": "Edited",
                    "updateFlagId": 1,
                    "source": "AgentPortal",
                    "createdBy": {
                      "agentShiftId": 0,
                      "agentShiftName": "",
                      "ticketLimit": 0,
                      "chatLimit": 0,
                      "emailId": "james@gmail.com",
                      "shortCode": "JS",
                      "colorCode": "#e8d072",
                      "status": "Active",
                      "isVerified": true,
                      "profileImageUrl": null,
                      "userId": 1,
                      "name": "James",
                      "displayName": "James",
                      "isAgent": true
                    },
                    "modifiedBy": {
                      "agentShiftId": 0,
                      "agentShiftName": "",
                      "ticketLimit": 0,
                      "chatLimit": 0,
                      "emailId": "james@gmail.com",
                      "shortCode": "JS",
                      "colorCode": "#e8d072",
                      "status": "Active",
                      "isVerified": true,
                      "profileImageUrl": null,
                      "userId": 1,
                      "name": "James",
                      "displayName": "James",
                      "isAgent": true
                    },
                    "createdOn": "2025-12-11T13:15:05Z",
                    "modifiedOn": "2025-12-12T13:15:05Z",
                    "attachments": null,
                    "hasAttachment": false
                  }
                ]
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/ValidationError"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ValidationError"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/ValidationError"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/UnAuthorizationResponse"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/UnAuthorizationResponse"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/UnAuthorizationResponse"
                }
              }
            }
          }
        },
        "security": [
          {
            "oauth2": [
              "developer.api"
            ],
            "x-api-key": [
              "developer.api"
            ]
          }
        ]
      }
    },
    "/api/v1/activities/{activityId}/comments/{commentId}": {
      "delete": {
        "tags": [
          "Activities"
        ],
        "summary": "Method to delete comment from activity",
        "operationId": "activities#delete-activity-comment",
        "parameters": [
          {
            "name": "activityId",
            "in": "path",
            "description": "activity id",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          },
          {
            "name": "commentId",
            "in": "path",
            "description": "comment Id",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/TransactionMessageResultObject"
                },
                "example": {
                  "message": "Comment successfully deleted."
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TransactionMessageResultObject"
                },
                "example": {
                  "message": "Comment successfully deleted."
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/TransactionMessageResultObject"
                },
                "example": {
                  "message": "Comment successfully deleted."
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/ValidationError"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ValidationError"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/ValidationError"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/UnAuthorizationResponse"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/UnAuthorizationResponse"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/UnAuthorizationResponse"
                }
              }
            }
          }
        },
        "security": [
          {
            "oauth2": [
              "developer.api"
            ],
            "x-api-key": [
              "developer.api"
            ]
          }
        ]
      }
    },
    "/api/v1/activities/statuses": {
      "get": {
        "tags": [
          "Activities"
        ],
        "summary": "Method to Get Activity status collection",
        "operationId": "activities#list-activity-status",
        "parameters": [
          {
            "name": "Filter",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "Page",
            "in": "query",
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "PerPage",
            "in": "query",
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "RequiresCounts",
            "in": "query",
            "schema": {
              "type": "boolean"
            }
          },
          {
            "name": "OrderBy",
            "in": "query",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "text/plain": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/ActivityStatusCollectionObjects"
                  }
                },
                "example": [
                  {
                    "id": 1,
                    "name": "Open",
                    "colorCode": "#bb8602",
                    "statusCategory": {
                      "id": 1,
                      "name": "Pending"
                    }
                  },
                  {
                    "id": 2,
                    "name": "InProgress",
                    "colorCode": "#6004a8",
                    "statusCategory": {
                      "id": 1,
                      "name": "Pending"
                    }
                  }
                ]
              },
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/ActivityStatusCollectionObjects"
                  }
                },
                "example": [
                  {
                    "id": 1,
                    "name": "Open",
                    "colorCode": "#bb8602",
                    "statusCategory": {
                      "id": 1,
                      "name": "Pending"
                    }
                  },
                  {
                    "id": 2,
                    "name": "InProgress",
                    "colorCode": "#6004a8",
                    "statusCategory": {
                      "id": 1,
                      "name": "Pending"
                    }
                  }
                ]
              },
              "text/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/ActivityStatusCollectionObjects"
                  }
                },
                "example": [
                  {
                    "id": 1,
                    "name": "Open",
                    "colorCode": "#bb8602",
                    "statusCategory": {
                      "id": 1,
                      "name": "Pending"
                    }
                  },
                  {
                    "id": 2,
                    "name": "InProgress",
                    "colorCode": "#6004a8",
                    "statusCategory": {
                      "id": 1,
                      "name": "Pending"
                    }
                  }
                ]
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/ValidationError"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ValidationError"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/ValidationError"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/UnAuthorizationResponse"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/UnAuthorizationResponse"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/UnAuthorizationResponse"
                }
              }
            }
          }
        },
        "security": [
          {
            "oauth2": [
              "developer.api"
            ],
            "x-api-key": [
              "developer.api"
            ]
          }
        ]
      }
    },
    "/api/v1/activities/types": {
      "get": {
        "tags": [
          "Activities"
        ],
        "summary": "Method to Get Activity type collection",
        "operationId": "activities#list-activity-type",
        "parameters": [
          {
            "name": "Filter",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "Page",
            "in": "query",
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "PerPage",
            "in": "query",
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "RequiresCounts",
            "in": "query",
            "schema": {
              "type": "boolean"
            }
          },
          {
            "name": "OrderBy",
            "in": "query",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "text/plain": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/DropDownCollectionObjects"
                  }
                },
                "example": [
                  {
                    "id": 1,
                    "name": "Task"
                  },
                  {
                    "id": 2,
                    "name": "Call"
                  },
                  {
                    "id": 3,
                    "name": "Meeting"
                  }
                ]
              },
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/DropDownCollectionObjects"
                  }
                },
                "example": [
                  {
                    "id": 1,
                    "name": "Task"
                  },
                  {
                    "id": 2,
                    "name": "Call"
                  },
                  {
                    "id": 3,
                    "name": "Meeting"
                  }
                ]
              },
              "text/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/DropDownCollectionObjects"
                  }
                },
                "example": [
                  {
                    "id": 1,
                    "name": "Task"
                  },
                  {
                    "id": 2,
                    "name": "Call"
                  },
                  {
                    "id": 3,
                    "name": "Meeting"
                  }
                ]
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/ValidationError"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ValidationError"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/ValidationError"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/UnAuthorizationResponse"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/UnAuthorizationResponse"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/UnAuthorizationResponse"
                }
              }
            }
          }
        },
        "security": [
          {
            "oauth2": [
              "developer.api"
            ],
            "x-api-key": [
              "developer.api"
            ]
          }
        ]
      }
    },
    "/api/v1/activities/{activityId}/histories": {
      "get": {
        "tags": [
          "Activities"
        ],
        "summary": "Method to get the activity details.",
        "operationId": "activities#list-activity-histories",
        "parameters": [
          {
            "name": "activityId",
            "in": "path",
            "description": "activity Id",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          },
          {
            "name": "Page",
            "in": "query",
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "PerPage",
            "in": "query",
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "RequiresCounts",
            "in": "query",
            "schema": {
              "type": "boolean"
            }
          },
          {
            "name": "OrderBy",
            "in": "query",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "text/plain": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/ActivityHistoriesObject"
                  }
                },
                "example": [
                  {
                    "transactionId": 1,
                    "changeLogs": [
                      {
                        "fieldApiName": "activityStatus",
                        "fieldName": "Status",
                        "description": "",
                        "oldValue": "1",
                        "oldString": "Open",
                        "newValue": "3",
                        "newString": "On Hold"
                      },
                      {
                        "fieldApiName": "",
                        "fieldName": "",
                        "description": "Description was edited.",
                        "oldValue": "",
                        "oldString": "",
                        "newValue": "",
                        "newString": ""
                      }
                    ],
                    "automationJob": null,
                    "updatedOn": "2025-12-12T13:15:05Z",
                    "updatedBy": {
                      "agentShiftId": 0,
                      "agentShiftName": "",
                      "ticketLimit": 0,
                      "chatLimit": 0,
                      "emailId": "james@gmail.com",
                      "shortCode": "JS",
                      "colorCode": "#e8d072",
                      "status": "Active",
                      "isVerified": true,
                      "profileImageUrl": null,
                      "userId": 1,
                      "name": "James",
                      "displayName": "James",
                      "isAgent": true
                    },
                    "type": {
                      "name": "Settings",
                      "description": "Settings",
                      "colorCode": "#008000"
                    },
                    "aiAgent": {
                      "id": 0,
                      "name": ""
                    }
                  }
                ]
              },
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/ActivityHistoriesObject"
                  }
                },
                "example": [
                  {
                    "transactionId": 1,
                    "changeLogs": [
                      {
                        "fieldApiName": "activityStatus",
                        "fieldName": "Status",
                        "description": "",
                        "oldValue": "1",
                        "oldString": "Open",
                        "newValue": "3",
                        "newString": "On Hold"
                      },
                      {
                        "fieldApiName": "",
                        "fieldName": "",
                        "description": "Description was edited.",
                        "oldValue": "",
                        "oldString": "",
                        "newValue": "",
                        "newString": ""
                      }
                    ],
                    "automationJob": null,
                    "updatedOn": "2025-12-12T13:15:05Z",
                    "updatedBy": {
                      "agentShiftId": 0,
                      "agentShiftName": "",
                      "ticketLimit": 0,
                      "chatLimit": 0,
                      "emailId": "james@gmail.com",
                      "shortCode": "JS",
                      "colorCode": "#e8d072",
                      "status": "Active",
                      "isVerified": true,
                      "profileImageUrl": null,
                      "userId": 1,
                      "name": "James",
                      "displayName": "James",
                      "isAgent": true
                    },
                    "type": {
                      "name": "Settings",
                      "description": "Settings",
                      "colorCode": "#008000"
                    },
                    "aiAgent": {
                      "id": 0,
                      "name": ""
                    }
                  }
                ]
              },
              "text/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/ActivityHistoriesObject"
                  }
                },
                "example": [
                  {
                    "transactionId": 1,
                    "changeLogs": [
                      {
                        "fieldApiName": "activityStatus",
                        "fieldName": "Status",
                        "description": "",
                        "oldValue": "1",
                        "oldString": "Open",
                        "newValue": "3",
                        "newString": "On Hold"
                      },
                      {
                        "fieldApiName": "",
                        "fieldName": "",
                        "description": "Description was edited.",
                        "oldValue": "",
                        "oldString": "",
                        "newValue": "",
                        "newString": ""
                      }
                    ],
                    "automationJob": null,
                    "updatedOn": "2025-12-12T13:15:05Z",
                    "updatedBy": {
                      "agentShiftId": 0,
                      "agentShiftName": "",
                      "ticketLimit": 0,
                      "chatLimit": 0,
                      "emailId": "james@gmail.com",
                      "shortCode": "JS",
                      "colorCode": "#e8d072",
                      "status": "Active",
                      "isVerified": true,
                      "profileImageUrl": null,
                      "userId": 1,
                      "name": "James",
                      "displayName": "James",
                      "isAgent": true
                    },
                    "type": {
                      "name": "Settings",
                      "description": "Settings",
                      "colorCode": "#008000"
                    },
                    "aiAgent": {
                      "id": 0,
                      "name": ""
                    }
                  }
                ]
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/ValidationError"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ValidationError"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/ValidationError"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/UnAuthorizationResponse"
                }
              },
              "application/json": {
[...]
