{
  "openapi": "3.0.3",
  "info": {
    "title": "IDnow API",
    "version": "1.0.0",
    "description": "IDnow identity verification API for video identification, auto-identification, and eSign. Supports real-time identity proofing for financial and regulatory compliance.",
    "x-jentic-source-url": "https://www.idnow.io/developers/",
    "contact": {
      "name": "IDnow",
      "url": "https://www.idnow.io"
    }
  },
  "servers": [
    {
      "url": "https://gateway.idnow.de",
      "description": "IDnow Gateway"
    }
  ],
  "security": [
    {
      "bearerAuth": []
    }
  ],
  "tags": [
    {
      "name": "Identification",
      "description": "Identity verification management"
    },
    {
      "name": "Documents",
      "description": "Document management"
    },
    {
      "name": "Webhooks",
      "description": "Webhook/callback management"
    }
  ],
  "paths": {
    "/api/v1/identifications": {
      "post": {
        "tags": [
          "Identification"
        ],
        "operationId": "createIdentification",
        "summary": "Create a new identification",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateIdentificationRequest"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Identification created",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/IdentificationResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          }
        },
        "description": "Create a new identification"
      },
      "get": {
        "tags": [
          "Identification"
        ],
        "operationId": "listIdentifications",
        "summary": "List identifications",
        "parameters": [
          {
            "name": "offset",
            "in": "query",
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "status",
            "in": "query",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "List of identifications"
          },
          "401": {
            "description": "Unauthorized"
          }
        },
        "description": "List identifications"
      }
    },
    "/api/v1/identifications/{identificationId}": {
      "get": {
        "tags": [
          "Identification"
        ],
        "operationId": "getIdentification",
        "summary": "Get identification details",
        "parameters": [
          {
            "name": "identificationId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Identification details"
          },
          "401": {
            "description": "Unauthorized"
          },
          "404": {
            "description": "Not found"
          }
        },
        "description": "Get identification details"
      }
    },
    "/api/v1/identifications/{identificationId}/start": {
      "post": {
        "tags": [
          "Identification"
        ],
        "operationId": "startIdentification",
        "summary": "Start an identification session",
        "parameters": [
          {
            "name": "identificationId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Session started",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "url": {
                      "type": "string",
                      "format": "uri"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          }
        },
        "description": "Start an identification session"
      }
    },
    "/api/v1/identifications/{identificationId}/result": {
      "get": {
        "tags": [
          "Identification"
        ],
        "operationId": "getIdentificationResult",
        "summary": "Get identification result",
        "parameters": [
          {
            "name": "identificationId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Identification result",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/IdentificationResult"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "404": {
            "description": "Not found"
          }
        },
        "description": "Get identification result"
      }
    },
    "/api/v1/identifications/{identificationId}/documents": {
      "get": {
        "tags": [
          "Documents"
        ],
        "operationId": "getIdentificationDocuments",
        "summary": "Get documents for an identification",
        "parameters": [
          {
            "name": "identificationId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Document list"
          },
          "401": {
            "description": "Unauthorized"
          }
        },
        "description": "Get documents for an identification"
      },
      "post": {
        "tags": [
          "Documents"
        ],
        "operationId": "uploadDocument",
        "summary": "Upload a document",
        "parameters": [
          {
            "name": "identificationId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "multipart/form-data": {
              "schema": {
                "type": "object",
                "properties": {
                  "file": {
                    "type": "string",
                    "format": "binary"
                  },
                  "type": {
                    "type": "string"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Document uploaded"
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          }
        },
        "description": "Upload a document"
      }
    },
    "/api/v1/identifications/{identificationId}/documents/{documentId}": {
      "get": {
        "tags": [
          "Documents"
        ],
        "operationId": "downloadDocument",
        "summary": "Download a document",
        "parameters": [
          {
            "name": "identificationId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "documentId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Document file",
            "content": {
              "application/octet-stream": {
                "schema": {
                  "type": "string",
                  "format": "binary"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "404": {
            "description": "Not found"
          }
        },
        "description": "Download a document"
      }
    },
    "/api/v1/webhooks": {
      "get": {
        "tags": [
          "Webhooks"
        ],
        "operationId": "listWebhooks",
        "summary": "List webhooks",
        "responses": {
          "200": {
            "description": "Webhook list"
          },
          "401": {
            "description": "Unauthorized"
          }
        },
        "description": "List webhooks"
      },
      "post": {
        "tags": [
          "Webhooks"
        ],
        "operationId": "createWebhook",
        "summary": "Create a webhook",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "url": {
                    "type": "string",
                    "format": "uri"
                  },
                  "events": {
                    "type": "array",
                    "items": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Webhook created"
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          }
        },
        "description": "Create a webhook"
      }
    },
    "/api/v1/webhooks/{webhookId}": {
      "get": {
        "tags": [
          "Webhooks"
        ],
        "operationId": "getWebhook",
        "summary": "Get webhook details",
        "parameters": [
          {
            "name": "webhookId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Webhook details"
          },
          "401": {
            "description": "Unauthorized"
          },
          "404": {
            "description": "Not found"
          }
        },
        "description": "Get webhook details"
      },
      "patch": {
        "tags": [
          "Webhooks"
        ],
        "operationId": "updateWebhook",
        "summary": "Update a webhook",
        "parameters": [
          {
            "name": "webhookId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Updated"
          },
          "401": {
            "description": "Unauthorized"
          }
        },
        "description": "Update a webhook"
      },
      "delete": {
        "tags": [
          "Webhooks"
        ],
        "operationId": "deleteWebhook",
        "summary": "Delete a webhook",
        "parameters": [
          {
            "name": "webhookId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "Deleted"
          },
          "401": {
            "description": "Unauthorized"
          },
          "404": {
            "description": "Not found"
          }
        },
        "description": "Delete a webhook"
      }
    },
    "/api/v1/esign/{identificationId}/sign": {
      "post": {
        "tags": [
          "Identification"
        ],
        "operationId": "eSign",
        "summary": "Electronic signature for identification",
        "parameters": [
          {
            "name": "identificationId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Signed"
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          }
        },
        "description": "Electronic signature for identification"
      }
    }
  },
  "components": {
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "scheme": "bearer"
      }
    },
    "schemas": {
      "CreateIdentificationRequest": {
        "type": "object",
        "properties": {
          "firstname": {
            "type": "string"
          },
          "lastname": {
            "type": "string"
          },
          "birthday": {
            "type": "string",
            "format": "date"
          },
          "nationality": {
            "type": "string"
          },
          "country": {
            "type": "string"
          },
          "callbackUrl": {
            "type": "string",
            "format": "uri"
          },
          "identType": {
            "type": "string",
            "enum": [
              "videoident",
              "autoident",
              "eSign"
            ]
          }
        }
      },
      "IdentificationResponse": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string"
          },
          "status": {
            "type": "string"
          },
          "url": {
            "type": "string",
            "format": "uri"
          },
          "createdAt": {
            "type": "string",
            "format": "date-time"
          }
        }
      },
      "IdentificationResult": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string"
          },
          "status": {
            "type": "string",
            "enum": [
              "success",
              "failed",
              "pending",
              "review"
            ]
          },
          "result": {
            "type": "object",
            "properties": {
              "firstname": {
                "type": "string"
              },
              "lastname": {
                "type": "string"
              },
              "birthday": {
                "type": "string"
              },
              "nationality": {
                "type": "string"
              },
              "documentType": {
                "type": "string"
              },
              "documentNumber": {
                "type": "string"
              },
              "expiryDate": {
                "type": "string"
              }
            }
          }
        }
      }
    }
  }
}
