{
  "openapi": "3.0.3",
  "info": {
    "title": "Telegram Bot API",
    "version": "9.5",
    "description": "HTTP-based interface for building Telegram bots. Supports messaging, inline mode, payments, games, stickers, forum topics, and more.",
    "x-jentic-source-url": "https://core.telegram.org/bots/api",
    "contact": {
      "name": "API Support"
    }
  },
  "servers": [
    {
      "url": "https://api.telegram.org/bot{token}",
      "variables": {
        "token": {
          "default": "YOUR_BOT_TOKEN",
          "description": "Bot authentication token from BotFather"
        }
      }
    }
  ],
  "tags": [
    {
      "name": "Updates"
    },
    {
      "name": "Basic"
    },
    {
      "name": "Messages"
    },
    {
      "name": "Chats"
    },
    {
      "name": "Forum Topics"
    },
    {
      "name": "Stickers"
    },
    {
      "name": "Inline Mode"
    },
    {
      "name": "Payments"
    },
    {
      "name": "Games"
    },
    {
      "name": "Callbacks"
    },
    {
      "name": "Users"
    },
    {
      "name": "Files"
    },
    {
      "name": "Bot Configuration"
    },
    {
      "name": "Business"
    }
  ],
  "paths": {
    "/getUpdates": {
      "get": {
        "operationId": "getUpdates",
        "summary": "Get updates",
        "description": "Long polling for updates",
        "tags": [
          "Updates"
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "ok": {
                      "type": "boolean"
                    },
                    "result": {
                      "type": "object"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          }
        },
        "parameters": [
          {
            "name": "offset",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer"
            },
            "description": ""
          },
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer"
            },
            "description": ""
          },
          {
            "name": "timeout",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer"
            },
            "description": ""
          },
          {
            "name": "allowed_updates",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": ""
          }
        ]
      }
    },
    "/setWebhook": {
      "post": {
        "operationId": "setWebhook",
        "summary": "Set webhook",
        "description": "Set outgoing webhook URL",
        "tags": [
          "Updates"
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "ok": {
                      "type": "boolean"
                    },
                    "result": {
                      "type": "object"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          }
        },
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "url": {
                    "type": "string"
                  },
                  "certificate": {
                    "type": "string"
                  },
                  "ip_address": {
                    "type": "string"
                  },
                  "max_connections": {
                    "type": "integer",
                    "default": 40
                  },
                  "allowed_updates": {
                    "type": "array",
                    "items": {
                      "type": "string"
                    }
                  },
                  "drop_pending_updates": {
                    "type": "boolean"
                  },
                  "secret_token": {
                    "type": "string"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/deleteWebhook": {
      "post": {
        "operationId": "deleteWebhook",
        "summary": "Delete webhook",
        "description": "Remove webhook",
        "tags": [
          "Updates"
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "ok": {
                      "type": "boolean"
                    },
                    "result": {
                      "type": "object"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          }
        },
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "drop_pending_updates": {
                    "type": "boolean"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/getWebhookInfo": {
      "get": {
        "operationId": "getWebhookInfo",
        "summary": "Get webhook info",
        "description": "Get current webhook status",
        "tags": [
          "Updates"
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "ok": {
                      "type": "boolean"
                    },
                    "result": {
                      "type": "object"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      }
    },
    "/getMe": {
      "get": {
        "operationId": "getMe",
        "summary": "Get me",
        "description": "Get bot info",
        "tags": [
          "Basic"
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "ok": {
                      "type": "boolean"
                    },
                    "result": {
                      "type": "object"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      }
    },
    "/logOut": {
      "post": {
        "operationId": "logOut",
        "summary": "Log out",
        "description": "Log out from cloud Bot API",
        "tags": [
          "Basic"
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "ok": {
                      "type": "boolean"
                    },
                    "result": {
                      "type": "object"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      }
    },
    "/close": {
      "post": {
        "operationId": "close",
        "summary": "Close",
        "description": "Close bot instance",
        "tags": [
          "Basic"
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "ok": {
                      "type": "boolean"
                    },
                    "result": {
                      "type": "object"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      }
    },
    "/sendMessage": {
      "post": {
        "operationId": "sendMessage",
        "summary": "Send Message",
        "description": "Telegram Bot API method: sendMessage",
        "tags": [
          "Messages"
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "ok": {
                      "type": "boolean"
                    },
                    "result": {
                      "type": "object"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          }
        },
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "chat_id": {
                    "type": "string"
                  },
                  "text": {
                    "type": "string"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/forwardMessage": {
      "post": {
        "operationId": "forwardMessage",
        "summary": "Forward Message",
        "description": "Telegram Bot API method: forwardMessage",
        "tags": [
          "Messages"
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "ok": {
                      "type": "boolean"
                    },
                    "result": {
                      "type": "object"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          }
        },
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "chat_id": {
                    "type": "string"
                  },
                  "text": {
                    "type": "string"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/copyMessage": {
      "post": {
        "operationId": "copyMessage",
        "summary": "Copy Message",
        "description": "Telegram Bot API method: copyMessage",
        "tags": [
          "Messages"
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "ok": {
                      "type": "boolean"
                    },
                    "result": {
                      "type": "object"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          }
        },
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "chat_id": {
                    "type": "string"
                  },
                  "text": {
                    "type": "string"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/sendPhoto": {
      "post": {
        "operationId": "sendPhoto",
        "summary": "Send Photo",
        "description": "Telegram Bot API method: sendPhoto",
        "tags": [
          "Messages"
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "ok": {
                      "type": "boolean"
                    },
                    "result": {
                      "type": "object"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          }
        },
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "chat_id": {
                    "type": "string"
                  },
                  "text": {
                    "type": "string"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/sendAudio": {
      "post": {
        "operationId": "sendAudio",
        "summary": "Send Audio",
        "description": "Telegram Bot API method: sendAudio",
        "tags": [
          "Messages"
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "ok": {
                      "type": "boolean"
                    },
                    "result": {
                      "type": "object"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          }
        },
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "chat_id": {
                    "type": "string"
                  },
                  "text": {
                    "type": "string"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/sendDocument": {
      "post": {
        "operationId": "sendDocument",
        "summary": "Send Document",
        "description": "Telegram Bot API method: sendDocument",
        "tags": [
          "Messages"
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "ok": {
                      "type": "boolean"
                    },
                    "result": {
                      "type": "object"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          }
        },
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "chat_id": {
                    "type": "string"
                  },
                  "text": {
                    "type": "string"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/sendVideo": {
      "post": {
        "operationId": "sendVideo",
        "summary": "Send Video",
        "description": "Telegram Bot API method: sendVideo",
        "tags": [
          "Messages"
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "ok": {
                      "type": "boolean"
                    },
                    "result": {
                      "type": "object"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          }
        },
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "chat_id": {
                    "type": "string"
                  },
                  "text": {
                    "type": "string"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/sendAnimation": {
      "post": {
        "operationId": "sendAnimation",
        "summary": "Send Animation",
        "description": "Telegram Bot API method: sendAnimation",
        "tags": [
          "Messages"
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "ok": {
                      "type": "boolean"
                    },
                    "result": {
                      "type": "object"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          }
        },
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "chat_id": {
                    "type": "string"
                  },
                  "text": {
                    "type": "string"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/sendVoice": {
      "post": {
        "operationId": "sendVoice",
        "summary": "Send Voice",
        "description": "Telegram Bot API method: sendVoice",
        "tags": [
          "Messages"
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "ok": {
                      "type": "boolean"
                    },
                    "result": {
                      "type": "object"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          }
        },
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "chat_id": {
                    "type": "string"
                  },
                  "text": {
                    "type": "string"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/sendVideoNote": {
      "post": {
        "operationId": "sendVideoNote",
        "summary": "Send VideoNote",
        "description": "Telegram Bot API method: sendVideoNote",
        "tags": [
          "Messages"
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "ok": {
                      "type": "boolean"
                    },
                    "result": {
                      "type": "object"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          }
        },
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "chat_id": {
                    "type": "string"
                  },
                  "text": {
                    "type": "string"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/sendPaidMedia": {
      "post": {
        "operationId": "sendPaidMedia",
        "summary": "Send PaidMedia",
        "description": "Telegram Bot API method: sendPaidMedia",
        "tags": [
          "Messages"
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "ok": {
                      "type": "boolean"
                    },
                    "result": {
                      "type": "object"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          }
        },
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "chat_id": {
                    "type": "string"
                  },
                  "text": {
                    "type": "string"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/sendMediaGroup": {
      "post": {
        "operationId": "sendMediaGroup",
        "summary": "Send MediaGroup",
        "description": "Telegram Bot API method: sendMediaGroup",
        "tags": [
          "Messages"
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "ok": {
                      "type": "boolean"
                    },
                    "result": {
                      "type": "object"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          }
        },
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "chat_id": {
                    "type": "string"
                  },
                  "text": {
                    "type": "string"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/sendLocation": {
      "post": {
        "operationId": "sendLocation",
        "summary": "Send Location",
        "description": "Telegram Bot API method: sendLocation",
        "tags": [
          "Messages"
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "ok": {
                      "type": "boolean"
                    },
                    "result": {
                      "type": "object"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          }
        },
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "chat_id": {
                    "type": "string"
                  },
                  "text": {
                    "type": "string"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/sendVenue": {
      "post": {
        "operationId": "sendVenue",
        "summary": "Send Venue",
        "description": "Telegram Bot API method: sendVenue",
        "tags": [
          "Messages"
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "ok": {
                      "type": "boolean"
                    },
                    "result": {
                      "type": "object"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          }
        },
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "chat_id": {
                    "type": "string"
                  },
                  "text": {
                    "type": "string"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/sendContact": {
      "post": {
        "operationId": "sendContact",
        "summary": "Send Contact",
        "description": "Telegram Bot API method: sendContact",
        "tags": [
          "Messages"
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "ok": {
                      "type": "boolean"
                    },
                    "result": {
                      "type": "object"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          }
        },
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "chat_id": {
                    "type": "string"
                  },
                  "text": {
                    "type": "string"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/sendPoll": {
      "post": {
        "operationId": "sendPoll",
        "summary": "Send Poll",
        "description": "Telegram Bot API method: sendPoll",
        "tags": [
          "Messages"
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "ok": {
                      "type": "boolean"
                    },
                    "result": {
                      "type": "object"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          }
        },
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "chat_id": {
                    "type": "string"
                  },
                  "text": {
                    "type": "string"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/sendDice": {
      "post": {
        "operationId": "sendDice",
        "summary": "Send Dice",
        "description": "Telegram Bot API method: sendDice",
        "tags": [
          "Messages"
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "ok": {
                      "type": "boolean"
                    },
                    "result": {
                      "type": "object"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          }
        },
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "chat_id": {
                    "type": "string"
                  },
                  "text": {
                    "type": "string"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/sendChatAction": {
      "post": {
        "operationId": "sendChatAction",
        "summary": "Send ChatAction",
        "description": "Telegram Bot API method: sendChatAction",
        "tags": [
          "Messages"
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "ok": {
                      "type": "boolean"
                    },
                    "result": {
                      "type": "object"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          }
        },
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "chat_id": {
                    "type": "string"
                  },
                  "text": {
                    "type": "string"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/sendSticker": {
      "post": {
        "operationId": "sendSticker",
        "summary": "sendSticker",
        "description": "Sticker management: sendSticker",
        "tags": [
          "Stickers"
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "ok": {
                      "type": "boolean"
                    },
                    "result": {
                      "type": "object"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      }
    },
    "/editMessageText": {
      "post": {
        "operationId": "editMessageText",
        "summary": "editMessageText",
        "description": "Edit or delete messages",
        "tags": [
          "Messages"
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "ok": {
                      "type": "boolean"
                    },
                    "result": {
                      "type": "object"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          }
        },
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "chat_id": {
                    "type": "string"
                  },
                  "message_id": {
                    "type": "integer"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/editMessageCaption": {
      "post": {
        "operationId": "editMessageCaption",
        "summary": "editMessageCaption",
        "description": "Edit or delete messages",
        "tags": [
          "Messages"
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "ok": {
                      "type": "boolean"
                    },
                    "result": {
                      "type": "object"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          }
        },
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "chat_id": {
                    "type": "string"
                  },
                  "message_id": {
                    "type": "integer"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/editMessageMedia": {
      "post": {
        "operationId": "editMessageMedia",
        "summary": "editMessageMedia",
        "description": "Edit or delete messages",
        "tags": [
          "Messages"
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "ok": {
                      "type": "boolean"
                    },
                    "result": {
                      "type": "object"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          }
        },
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "chat_id": {
                    "type": "string"
                  },
                  "message_id": {
                    "type": "integer"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/editMessageLiveLocation": {
      "post": {
        "operationId": "editMessageLiveLocation",
        "summary": "editMessageLiveLocation",
        "description": "Edit or delete messages",
        "tags": [
          "Messages"
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "ok": {
                      "type": "boolean"
                    },
                    "result": {
                      "type": "object"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          }
        },
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "chat_id": {
                    "type": "string"
                  },
                  "message_id": {
                    "type": "integer"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/stopMessageLiveLocation": {
      "post": {
        "operationId": "stopMessageLiveLocation",
        "summary": "stopMessageLiveLocation",
        "description": "Edit or delete messages",
        "tags": [
          "Messages"
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "ok": {
                      "type": "boolean"
                    },
                    "result": {
                      "type": "object"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          }
        },
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "chat_id": {
                    "type": "string"
                  },
                  "message_id": {
                    "type": "integer"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/editMessageReplyMarkup": {
      "post": {
        "operationId": "editMessageReplyMarkup",
        "summary": "editMessageReplyMarkup",
        "description": "Edit or delete messages",
        "tags": [
          "Messages"
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "ok": {
                      "type": "boolean"
                    },
                    "result": {
                      "type": "object"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          }
        },
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "chat_id": {
                    "type": "string"
                  },
                  "message_id": {
                    "type": "integer"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/stopPoll": {
      "post": {
        "operationId": "stopPoll",
        "summary": "stopPoll",
        "description": "Edit or delete messages",
        "tags": [
          "Messages"
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "ok": {
                      "type": "boolean"
                    },
                    "result": {
                      "type": "object"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          }
        },
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "chat_id": {
                    "type": "string"
                  },
                  "message_id": {
                    "type": "integer"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/deleteMessage": {
      "post": {
        "operationId": "deleteMessage",
        "summary": "deleteMessage",
        "description": "Edit or delete messages",
        "tags": [
          "Messages"
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "ok": {
                      "type": "boolean"
                    },
                    "result": {
                      "type": "object"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          }
        },
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "chat_id": {
                    "type": "string"
                  },
                  "message_id": {
                    "type": "integer"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/deleteMessages": {
      "post": {
        "operationId": "deleteMessages",
        "summary": "deleteMessages",
        "description": "Edit or delete messages",
        "tags": [
          "Messages"
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "ok": {
                      "type": "boolean"
                    },
                    "result": {
                      "type": "object"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          }
        },
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "chat_id": {
                    "type": "string"
                  },
                  "message_id": {
                    "type": "integer"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/getChat": {
      "post": {
        "operationId": "getChat",
        "summary": "getChat",
        "description": "Chat management: getChat",
        "tags": [
          "Chats"
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "ok": {
                      "type": "boolean"
                    },
                    "result": {
                      "type": "object"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          }
        },
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "chat_id": {
                    "type": "string"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/getChatAdministrators": {
      "post": {
        "operationId": "getChatAdministrators",
        "summary": "getChatAdministrators",
        "description": "Chat management: getChatAdministrators",
        "tags": [
          "Chats"
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "ok": {
                      "type": "boolean"
                    },
                    "result": {
                      "type": "object"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          }
        },
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "chat_id": {
                    "type": "string"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/getChatMemberCount": {
      "post": {
        "operationId": "getChatMemberCount",
        "summary": "getChatMemberCount",
        "description": "Chat management: getChatMemberCount",
        "tags": [
          "Chats"
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "ok": {
                      "type": "boolean"
                    },
                    "result": {
                      "type": "object"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          }
        },
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "chat_id": {
                    "type": "string"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/getChatMember": {
      "post": {
        "operationId": "getChatMember",
        "summary": "getChatMember",
        "description": "Chat management: getChatMember",
        "tags": [
          "Chats"
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "ok": {
                      "type": "boolean"
                    },
                    "result": {
                      "type": "object"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          }
        },
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "chat_id": {
                    "type": "string"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/banChatMember": {
      "post": {
        "operationId": "banChatMember",
        "summary": "banChatMember",
        "description": "Chat management: banChatMember",
        "tags": [
          "Chats"
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "ok": {
                      "type": "boolean"
                    },
                    "result": {
                      "type": "object"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          }
        },
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "chat_id": {
                    "type": "string"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/unbanChatMember": {
      "post": {
        "operationId": "unbanChatMember",
        "summary": "unbanChatMember",
        "description": "Chat management: unbanChatMember",
        "tags": [
          "Chats"
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "ok": {
                      "type": "boolean"
                    },
                    "result": {
                      "type": "object"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          }
        },
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "chat_id": {
                    "type": "string"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/restrictChatMember": {
      "post": {
        "operationId": "restrictChatMember",
        "summary": "restrictChatMember",
        "description": "Chat management: restrictChatMember",
        "tags": [
          "Chats"
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "ok": {
                      "type": "boolean"
                    },
                    "result": {
                      "type": "object"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          }
        },
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "chat_id": {
                    "type": "string"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/promoteChatMember": {
      "post": {
        "operationId": "promoteChatMember",
        "summary": "promoteChatMember",
        "description": "Chat management: promoteChatMember",
        "tags": [
          "Chats"
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "ok": {
                      "type": "boolean"
                    },
                    "result": {
                      "type": "object"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          }
        },
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "chat_id": {
                    "type": "string"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/setChatAdministratorCustomTitle": {
      "post": {
        "operationId": "setChatAdministratorCustomTitle",
        "summary": "setChatAdministratorCustomTitle",
        "description": "Chat management: setChatAdministratorCustomTitle",
        "tags": [
          "Chats"
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "ok": {
                      "type": "boolean"
                    },
                    "result": {
                      "type": "object"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          }
        },
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "chat_id": {
                    "type": "string"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/banChatSenderChat": {
      "post": {
        "operationId": "banChatSenderChat",
        "summary": "banChatSenderChat",
        "description": "Chat management: banChatSenderChat",
        "tags": [
          "Chats"
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "ok": {
                      "type": "boolean"
                    },
                    "result": {
                      "type": "object"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          }
        },
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "chat_id": {
                    "type": "string"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/unbanChatSenderChat": {
      "post": {
        "operationId": "unbanChatSenderChat",
        "summary": "unbanChatSenderChat",
        "description": "Chat management: unbanChatSenderChat",
        "tags": [
          "Chats"
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "ok": {
                      "type": "boolean"
                    },
                    "result": {
                      "type": "object"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          }
        },
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "chat_id": {
                    "type": "string"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/setChatPermissions": {
      "post": {
        "operationId": "setChatPermissions",
        "summary": "setChatPermissions",
        "description": "Chat management: setChatPermissions",
        "tags": [
          "Chats"
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "ok": {
                      "type": "boolean"
                    },
                    "result": {
                      "type": "object"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          }
        },
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "chat_id": {
                    "type": "string"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/exportChatInviteLink": {
      "post": {
        "operationId": "exportChatInviteLink",
        "summary": "exportChatInviteLink",
        "description": "Chat management: exportChatInviteLink",
        "tags": [
          "Chats"
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "ok": {
                      "type": "boolean"
                    },
                    "result": {
                      "type": "object"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          }
        },
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "chat_id": {
                    "type": "string"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/createChatInviteLink": {
      "post": {
        "operationId": "createChatInviteLink",
        "summary": "createChatInviteLink",
        "description": "Chat management: createChatInviteLink",
        "tags": [
          "Chats"
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "ok": {
                      "type": "boolean"
                    },
                    "result": {
                      "type": "object"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          }
        },
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "chat_id": {
                    "type": "string"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/editChatInviteLink": {
      "post": {
        "operationId": "editChatInviteLink",
        "summary": "editChatInviteLink",
        "description": "Chat management: editChatInviteLink",
        "tags": [
          "Chats"
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "ok": {
                      "type": "boolean"
                    },
                    "result": {
                      "type": "object"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          }
        },
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "chat_id": {
                    "type": "string"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/revokeChatInviteLink": {
      "post": {
        "operationId": "revokeChatInviteLink",
        "summary": "revokeChatInviteLink",
        "description": "Chat management: revokeChatInviteLink",
        "tags": [
          "Chats"
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "ok": {
                      "type": "boolean"
                    },
                    "result": {
                      "type": "object"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          }
        },
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "chat_id": {
                    "type": "string"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/approveChatJoinRequest": {
      "post": {
        "operationId": "approveChatJoinRequest",
        "summary": "approveChatJoinRequest",
        "description": "Chat management: approveChatJoinRequest",
        "tags": [
          "Chats"
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "ok": {
                      "type": "boolean"
                    },
                    "result": {
                      "type": "object"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          }
        },
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "chat_id": {
                    "type": "string"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/declineChatJoinRequest": {
      "post": {
        "operationId": "declineChatJoinRequest",
        "summary": "declineChatJoinRequest",
        "description": "Chat management: declineChatJoinRequest",
        "tags": [
          "Chats"
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "ok": {
                      "type": "boolean"
                    },
                    "result": {
                      "type": "object"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          }
        },
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "chat_id": {
                    "type": "string"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/setChatPhoto": {
      "post": {
        "operationId": "setChatPhoto",
        "summary": "setChatPhoto",
        "description": "Chat management: setChatPhoto",
        "tags": [
          "Chats"
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "ok": {
                      "type": "boolean"
                    },
                    "result": {
                      "type": "object"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          }
        },
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "chat_id": {
                    "type": "string"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/deleteChatPhoto": {
      "post": {
        "operationId": "deleteChatPhoto",
        "summary": "deleteChatPhoto",
        "description": "Chat management: deleteChatPhoto",
        "tags": [
          "Chats"
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "ok": {
                      "type": "boolean"
                    },
                    "result": {
                      "type": "object"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          }
        },
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "chat_id": {
                    "type": "string"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/setChatTitle": {
      "post": {
        "operationId": "setChatTitle",
        "summary": "setChatTitle",
        "description": "Chat management: setChatTitle",
        "tags": [
          "Chats"
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "ok": {
                      "type": "boolean"
                    },
                    "result": {
                      "type": "object"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          }
        },
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "chat_id": {
                    "type": "string"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/setChatDescription": {
      "post": {
        "operationId": "setChatDescription",
        "summary": "setChatDescription",
        "description": "Chat management: setChatDescription",
        "tags": [
          "Chats"
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "ok": {
                      "type": "boolean"
                    },
                    "result": {
                      "type": "object"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          }
        },
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "chat_id": {
                    "type": "string"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/pinChatMessage": {
      "post": {
        "operationId": "pinChatMessage",
        "summary": "pinChatMessage",
        "description": "Chat management: pinChatMessage",
        "tags": [
          "Chats"
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "ok": {
                      "type": "boolean"
                    },
                    "result": {
                      "type": "object"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          }
        },
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "chat_id": {
                    "type": "string"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/unpinChatMessage": {
      "post": {
        "operationId": "unpinChatMessage",
        "summary": "unpinChatMessage",
        "description": "Chat management: unpinChatMessage",
        "tags": [
          "Chats"
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "ok": {
                      "type": "boolean"
                    },
                    "result": {
                      "type": "object"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          }
        },
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "chat_id": {
                    "type": "string"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/unpinAllChatMessages": {
      "post": {
        "operationId": "unpinAllChatMessages",
        "summary": "unpinAllChatMessages",
        "description": "Chat management: unpinAllChatMessages",
        "tags": [
          "Chats"
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "ok": {
                      "type": "boolean"
                    },
                    "result": {
                      "type": "object"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          }
        },
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "chat_id": {
                    "type": "string"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/leaveChat": {
      "post": {
        "operationId": "leaveChat",
        "summary": "leaveChat",
        "description": "Chat management: leaveChat",
        "tags": [
          "Chats"
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "ok": {
                      "type": "boolean"
                    },
                    "result": {
                      "type": "object"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          }
        },
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "chat_id": {
                    "type": "string"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/setChatStickerSet": {
      "post": {
        "operationId": "setChatStickerSet",
        "summary": "setChatStickerSet",
        "description": "Chat management: setChatStickerSet",
        "tags": [
          "Chats"
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "ok": {
                      "type": "boolean"
                    },
                    "result": {
                      "type": "object"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          }
        },
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "chat_id": {
                    "type": "string"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/deleteChatStickerSet": {
      "post": {
        "operationId": "deleteChatStickerSet",
        "summary": "deleteChatStickerSet",
        "description": "Chat management: deleteChatStickerSet",
        "tags": [
          "Chats"
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "ok": {
                      "type": "boolean"
                    },
                    "result": {
                      "type": "object"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          }
        },
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "chat_id": {
                    "type": "string"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/setChatMemberTag": {
      "post": {
        "operationId": "setChatMemberTag",
        "summary": "setChatMemberTag",
        "description": "Chat management: setChatMemberTag",
        "tags": [
          "Chats"
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "ok": {
                      "type": "boolean"
                    },
                    "result": {
                      "type": "object"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          }
        },
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "chat_id": {
                    "type": "string"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/getForumTopicIconStickers": {
      "post": {
        "operationId": "getForumTopicIconStickers",
        "summary": "getForumTopicIconStickers",
        "description": "Forum topic management: getForumTopicIconStickers",
        "tags": [
          "Forum Topics"
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "ok": {
                      "type": "boolean"
                    },
                    "result": {
                      "type": "object"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          }
        },
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "chat_id": {
                    "type": "string"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/createForumTopic": {
      "post": {
        "operationId": "createForumTopic",
        "summary": "createForumTopic",
        "description": "Forum topic management: createForumTopic",
        "tags": [
          "Forum Topics"
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "ok": {
                      "type": "boolean"
                    },
                    "result": {
                      "type": "object"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          }
        },
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "chat_id": {
                    "type": "string"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/editForumTopic": {
      "post": {
        "operationId": "editForumTopic",
        "summary": "editForumTopic",
        "description": "Forum topic management: editForumTopic",
        "tags": [
          "Forum Topics"
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "ok": {
                      "type": "boolean"
                    },
                    "result": {
                      "type": "object"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          }
        },
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "chat_id": {
                    "type": "string"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/closeForumTopic": {
      "post": {
        "operationId": "closeForumTopic",
        "summary": "closeForumTopic",
        "description": "Forum topic management: closeForumTopic",
        "tags": [
          "Forum Topics"
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "ok": {
                      "type": "boolean"
                    },
                    "result": {
                      "type": "object"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          }
        },
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "chat_id": {
                    "type": "string"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/reopenForumTopic": {
      "post": {
        "operationId": "reopenForumTopic",
        "summary": "reopenForumTopic",
        "description": "Forum topic management: reopenForumTopic",
        "tags": [
          "Forum Topics"
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "ok": {
                      "type": "boolean"
                    },
                    "result": {
                      "type": "object"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          }
        },
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "chat_id": {
                    "type": "string"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/deleteForumTopic": {
      "post": {
        "operationId": "deleteForumTopic",
        "summary": "deleteForumTopic",
        "description": "Forum topic management: deleteForumTopic",
        "tags": [
          "Forum Topics"
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "ok": {
                      "type": "boolean"
                    },
                    "result": {
                      "type": "object"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          }
        },
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "chat_id": {
                    "type": "string"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/unpinAllForumTopicMessages": {
      "post": {
        "operationId": "unpinAllForumTopicMessages",
        "summary": "unpinAllForumTopicMessages",
        "description": "Forum topic management: unpinAllForumTopicMessages",
        "tags": [
          "Forum Topics"
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "ok": {
                      "type": "boolean"
                    },
                    "result": {
                      "type": "object"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          }
        },
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "chat_id": {
                    "type": "string"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/editGeneralForumTopic": {
      "post": {
        "operationId": "editGeneralForumTopic",
        "summary": "editGeneralForumTopic",
        "description": "Forum topic management: editGeneralForumTopic",
        "tags": [
          "Forum Topics"
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "ok": {
                      "type": "boolean"
                    },
                    "result": {
                      "type": "object"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          }
        },
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "chat_id": {
                    "type": "string"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/closeGeneralForumTopic": {
      "post": {
        "operationId": "closeGeneralForumTopic",
        "summary": "closeGeneralForumTopic",
        "description": "Forum topic management: closeGeneralForumTopic",
        "tags": [
          "Forum Topics"
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "ok": {
                      "type": "boolean"
                    },
                    "result": {
                      "type": "object"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          }
        },
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "chat_id": {
                    "type": "string"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/reopenGeneralForumTopic": {
      "post": {
        "operationId": "reopenGeneralForumTopic",
        "summary": "reopenGeneralForumTopic",
        "description": "Forum topic management: reopenGeneralForumTopic",
        "tags": [
          "Forum Topics"
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "ok": {
                      "type": "boolean"
                    },
                    "result": {
                      "type": "object"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          }
        },
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "chat_id": {
                    "type": "string"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/hideGeneralForumTopic": {
      "post": {
        "operationId": "hideGeneralForumTopic",
        "summary": "hideGeneralForumTopic",
        "description": "Forum topic management: hideGeneralForumTopic",
        "tags": [
          "Forum Topics"
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "ok": {
                      "type": "boolean"
                    },
                    "result": {
                      "type": "object"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          }
        },
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "chat_id": {
                    "type": "string"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/unhideGeneralForumTopic": {
      "post": {
        "operationId": "unhideGeneralForumTopic",
        "summary": "unhideGeneralForumTopic",
        "description": "Forum topic management: unhideGeneralForumTopic",
        "tags": [
          "Forum Topics"
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "ok": {
                      "type": "boolean"
                    },
                    "result": {
                      "type": "object"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          }
        },
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "chat_id": {
                    "type": "string"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/unpinAllGeneralForumTopicMessages": {
      "post": {
        "operationId": "unpinAllGeneralForumTopicMessages",
        "summary": "unpinAllGeneralForumTopicMessages",
        "description": "Forum topic management: unpinAllGeneralForumTopicMessages",
        "tags": [
          "Forum Topics"
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "ok": {
                      "type": "boolean"
                    },
                    "result": {
                      "type": "object"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          }
        },
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "chat_id": {
                    "type": "string"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/getStickerSet": {
      "post": {
        "operationId": "getStickerSet",
        "summary": "getStickerSet",
        "description": "Sticker management: getStickerSet",
        "tags": [
          "Stickers"
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "ok": {
                      "type": "boolean"
                    },
                    "result": {
                      "type": "object"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      }
    },
    "/getCustomEmojiStickers": {
      "post": {
        "operationId": "getCustomEmojiStickers",
        "summary": "getCustomEmojiStickers",
        "description": "Sticker management: getCustomEmojiStickers",
        "tags": [
          "Stickers"
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "ok": {
                      "type": "boolean"
                    },
                    "result": {
                      "type": "object"
[...]
