{
  "openapi": "3.0.3",
  "info": {
    "title": "Bright Data API",
    "description": "Bright Data Account Management API. Manage zones, IP allocations, bandwidth stats, and account settings. Includes the Unlocker API for web scraping and data collection.",
    "version": "1.0.0",
    "x-jentic-source-url": "https://docs.brightdata.com/",
    "contact": {
      "name": "API Support"
    }
  },
  "servers": [
    {
      "url": "https://api.brightdata.com"
    }
  ],
  "security": [
    {
      "bearerAuth": []
    }
  ],
  "tags": [
    {
      "name": "Account",
      "description": "Account management endpoints"
    },
    {
      "name": "Zones",
      "description": "Zone management endpoints"
    },
    {
      "name": "IPs",
      "description": "IP management endpoints"
    },
    {
      "name": "Stats",
      "description": "Statistics and usage endpoints"
    },
    {
      "name": "Unlocker",
      "description": "Web Unlocker API for data collection"
    }
  ],
  "paths": {
    "/status": {
      "get": {
        "operationId": "getAccountStatus",
        "summary": "Get Account Status",
        "description": "Get account status",
        "tags": [
          "Account"
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AccountStatus"
                }
              }
            }
          },
          "401": {
            "description": "Auth method is not supported"
          }
        }
      }
    },
    "/zone/get_active_zones": {
      "get": {
        "operationId": "getActiveZones",
        "summary": "Get Active Zones",
        "description": "Return all active zones",
        "tags": [
          "Zones"
        ],
        "responses": {
          "200": {
            "description": "Zone response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Zone"
                  }
                }
              }
            }
          },
          "401": {
            "description": "Customer not found"
          }
        }
      }
    },
    "/zone": {
      "get": {
        "operationId": "getZoneInfo",
        "summary": "Get Zone Info",
        "description": "Get zone status and configuration",
        "tags": [
          "Zones"
        ],
        "parameters": [
          {
            "name": "zone",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Zone name"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          },
          "400": {
            "description": "Missing zone parameter"
          }
        }
      },
      "post": {
        "operationId": "addZone",
        "summary": "Add a Zone",
        "description": "Add a new zone",
        "tags": [
          "Zones"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/NewZoneBody"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Zone added"
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      }
    },
    "/zone/remove": {
      "post": {
        "operationId": "removeZone",
        "summary": "Remove a Zone",
        "description": "Remove a zone",
        "tags": [
          "Zones"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "zone"
                ],
                "properties": {
                  "zone": {
                    "type": "string",
                    "description": "Zone name to remove"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Zone removed"
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      }
    },
    "/zone/enable": {
      "post": {
        "operationId": "enableZone",
        "summary": "Enable Zone",
        "description": "Turn on a zone",
        "tags": [
          "Zones"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "zone"
                ],
                "properties": {
                  "zone": {
                    "type": "string"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Zone enabled"
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      }
    },
    "/zone/disable": {
      "post": {
        "operationId": "disableZone",
        "summary": "Disable Zone",
        "description": "Turn off a zone",
        "tags": [
          "Zones"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "zone"
                ],
                "properties": {
                  "zone": {
                    "type": "string"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Zone disabled"
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      }
    },
    "/zone/passwords": {
      "get": {
        "operationId": "getZonePasswords",
        "summary": "Get Zone Passwords",
        "description": "Get zone passwords",
        "tags": [
          "Zones"
        ],
        "parameters": [
          {
            "name": "zone",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      }
    },
    "/zone/permissions": {
      "get": {
        "operationId": "getZonePermissions",
        "summary": "Get Zone Permissions",
        "description": "Get zone permissions",
        "tags": [
          "Zones"
        ],
        "parameters": [
          {
            "name": "zone",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      }
    },
    "/zone/route_ips": {
      "get": {
        "operationId": "getZoneIps",
        "summary": "Get Zone Static IPs",
        "description": "Get static IPs for a zone",
        "tags": [
          "IPs"
        ],
        "parameters": [
          {
            "name": "zone",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      }
    },
    "/zone/ips/add": {
      "post": {
        "operationId": "addStaticIps",
        "summary": "Add Static IPs",
        "description": "Add static IPs to a zone",
        "tags": [
          "IPs"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "zone": {
                    "type": "string"
                  },
                  "count": {
                    "type": "integer"
                  },
                  "country": {
                    "type": "string"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "IPs added"
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      }
    },
    "/zone/ips/remove": {
      "post": {
        "operationId": "removeStaticIps",
        "summary": "Remove Static IPs",
        "description": "Remove static IPs from a zone",
        "tags": [
          "IPs"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "zone": {
                    "type": "string"
                  },
                  "ips": {
                    "type": "array",
                    "items": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "IPs removed"
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      }
    },
    "/zone/ips/refresh": {
      "post": {
        "operationId": "refreshStaticIps",
        "summary": "Refresh Static IPs",
        "description": "Refresh static IPs in a zone",
        "tags": [
          "IPs"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "zone": {
                    "type": "string"
                  },
                  "ips": {
                    "type": "array",
                    "items": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "IPs refreshed"
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      }
    },
    "/zone/ips/migrate": {
      "post": {
        "operationId": "migrateStaticIps",
        "summary": "Migrate Static IPs",
        "description": "Migrate static IPs between zones",
        "tags": [
          "IPs"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "from_zone": {
                    "type": "string"
                  },
                  "to_zone": {
                    "type": "string"
                  },
                  "ips": {
                    "type": "array",
                    "items": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "IPs migrated"
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      }
    },
    "/zone/ips_count": {
      "get": {
        "operationId": "getAvailableIpCount",
        "summary": "Get Available IP Count",
        "description": "Get amount of available Datacenter and ISP IPs",
        "tags": [
          "IPs"
        ],
        "parameters": [
          {
            "name": "zone",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "country",
            "in": "query",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      }
    },
    "/zone/dedicated_ips/refresh": {
      "post": {
        "operationId": "refreshDedicatedResidentialIps",
        "summary": "Refresh Dedicated Residential IPs",
        "description": "Refresh dedicated residential IPs",
        "tags": [
          "IPs"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "zone": {
                    "type": "string"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK"
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      }
    },
    "/zone/dedicated_ips/remove": {
      "post": {
        "operationId": "removeDedicatedResidentialIps",
        "summary": "Remove Dedicated Residential IPs",
        "description": "Remove dedicated residential IPs",
        "tags": [
          "IPs"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "zone": {
                    "type": "string"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK"
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      }
    },
    "/zone/dedicated_ips": {
      "get": {
        "operationId": "getDedicatedResidentialIps",
        "summary": "Get Dedicated Residential IPs",
        "description": "Get available dedicated residential IPs per zone",
        "tags": [
          "IPs"
        ],
        "parameters": [
          {
            "name": "zone",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      }
    },
    "/zone/bw": {
      "get": {
        "operationId": "getZoneBandwidthStats",
        "summary": "Get Zone Bandwidth Stats",
        "description": "Get the bandwidth stats for a zone",
        "tags": [
          "Stats"
        ],
        "parameters": [
          {
            "name": "zone",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      }
    },
    "/bw": {
      "get": {
        "operationId": "getAllBandwidthStats",
        "summary": "Get All Bandwidth Stats",
        "description": "Get the bandwidth stats for all zones",
        "tags": [
          "Stats"
        ],
        "responses": {
          "200": {
            "description": "OK"
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      }
    },
    "/zone/cost/bw": {
      "get": {
        "operationId": "getZoneCostBandwidth",
        "summary": "Get Zone Cost and Bandwidth",
        "description": "Get total cost and bandwidth stats for a zone",
        "tags": [
          "Stats"
        ],
        "parameters": [
          {
            "name": "zone",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      }
    },
    "/balance": {
      "get": {
        "operationId": "getTotalBalance",
        "summary": "Get Total Balance",
        "description": "Get total account balance",
        "tags": [
          "Account"
        ],
        "responses": {
          "200": {
            "description": "OK"
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      }
    },
    "/zone/allowlist/ip": {
      "post": {
        "operationId": "allowlistIp",
        "summary": "Allowlist IP",
        "description": "Add IP to zone allowlist",
        "tags": [
          "Zones"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "zone": {
                    "type": "string"
                  },
                  "ip": {
                    "type": "string"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "IP allowlisted"
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      }
    },
    "/zone/denylist/ip": {
      "post": {
        "operationId": "denylistIp",
        "summary": "Denylist IP",
        "description": "Add IP to zone denylist",
        "tags": [
          "Zones"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "zone": {
                    "type": "string"
                  },
                  "ip": {
                    "type": "string"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "IP denylisted"
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      }
    },
    "/zone/allowlist/ips": {
      "get": {
        "operationId": "getZoneAllowlistedIps",
        "summary": "Get Allowlisted IPs",
        "description": "Get list of allowlisted IPs for a zone",
        "tags": [
          "Zones"
        ],
        "parameters": [
          {
            "name": "zone",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      }
    },
    "/zone/denylist/ips": {
      "get": {
        "operationId": "getZoneDenylistedIps",
        "summary": "Get Denylisted IPs",
        "description": "Get list of denylisted IPs for a zone",
        "tags": [
          "Zones"
        ],
        "parameters": [
          {
            "name": "zone",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      }
    },
    "/zone/domains": {
      "post": {
        "operationId": "allowlistDenylistDomains",
        "summary": "Allowlist/Denylist Domains",
        "description": "Allowlist or denylist domains for a zone",
        "tags": [
          "Zones"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "zone": {
                    "type": "string"
                  },
                  "domains": {
                    "type": "array",
                    "items": {
                      "type": "string"
                    }
                  },
                  "type": {
                    "type": "string",
                    "enum": [
                      "allowlist",
                      "denylist"
                    ]
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK"
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      }
    },
    "/zone/failover": {
      "post": {
        "operationId": "switchAutomaticFailover",
        "summary": "Switch Automatic Failover",
        "description": "Switch 100% uptime ON/OFF in a static zone",
        "tags": [
          "Zones"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "zone": {
                    "type": "string"
                  },
                  "enabled": {
                    "type": "boolean"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK"
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      }
    },
    "/zone/recent_ips": {
      "get": {
        "operationId": "getRecentIps",
        "summary": "Get Recent IPs",
        "description": "Get recent IPs attempting to use your zone",
        "tags": [
          "Zones"
        ],
        "parameters": [
          {
            "name": "zone",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      }
    },
    "/zone/route_vips": {
      "get": {
        "operationId": "getZoneLiveStatus",
        "summary": "Get Zone Live Status",
        "description": "Live status of static zone and IPs with connectivity problems",
        "tags": [
          "Zones"
        ],
        "parameters": [
          {
            "name": "zone",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      }
    },
    "/country": {
      "get": {
        "operationId": "getAvailableCountries",
        "summary": "Get Available Countries",
        "description": "Get available countries",
        "tags": [
          "Account"
        ],
        "responses": {
          "200": {
            "description": "OK"
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      }
    },
    "/country/cities": {
      "get": {
        "operationId": "getCountryCities",
        "summary": "Get Country Cities",
        "description": "Get cities for a country",
        "tags": [
          "Account"
        ],
        "parameters": [
          {
            "name": "country",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      }
    },
    "/service/status": {
      "get": {
        "operationId": "getServiceStatus",
        "summary": "Get Service Status",
        "description": "Get current service status",
        "tags": [
          "Account"
        ],
        "responses": {
          "200": {
            "description": "OK"
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      }
    },
    "/zone/change_status": {
      "post": {
        "operationId": "changeAccountStatus",
        "summary": "Change Account Status",
        "description": "Change account status",
        "tags": [
          "Account"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK"
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      }
    },
    "/zone/consumption": {
      "get": {
        "operationId": "getDomainConsumption",
        "summary": "Get Domain Consumption",
        "description": "Retrieve domain usage metrics such as bandwidth consumption and request count",
        "tags": [
          "Stats"
        ],
        "parameters": [
          {
            "name": "zone",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      }
    },
    "/zone/get_all_zones": {
      "get": {
        "operationId": "getAllZones",
        "summary": "Get All Zones",
        "description": "Get all zones including inactive",
        "tags": [
          "Zones"
        ],
        "responses": {
          "200": {
            "description": "OK"
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      }
    },
    "/zone/proxies_pending_replacement": {
      "get": {
        "operationId": "getProxiesPendingReplacement",
        "summary": "Get Proxies Pending Replacement",
        "description": "Get proxies pending replacement",
        "tags": [
          "IPs"
        ],
        "parameters": [
          {
            "name": "zone",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      }
    },
    "/request": {
      "post": {
        "operationId": "sendUnlockerRequest",
        "summary": "Send Unlocker Request",
        "description": "Submit a request to the Unlocker API. Returns clean HTML or JSON from the target URL after handling proxies, unblocking, and anti-bot challenges automatically.",
        "tags": [
          "Unlocker"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UnlockerRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response with HTML or JSON content",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              },
              "text/html": {
                "schema": {
                  "type": "string"
                }
              }
            }
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          },
          "429": {
            "description": "Rate limit exceeded"
          }
        }
      }
    }
  },
  "components": {
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "scheme": "bearer",
        "description": "Use your Bright Data API Key as a Bearer token. Obtain from https://brightdata.com/cp/setting/users",
        "bearerFormat": "API Key"
      }
    },
    "schemas": {
      "AccountStatus": {
        "type": "object",
        "properties": {
          "status": {
            "type": "string"
          },
          "customer": {
            "type": "string"
          },
          "can_make_requests": {
            "type": "boolean"
          },
          "auth_fail_reason": {
            "type": "string"
          },
          "ip": {
            "type": "string"
          }
        }
      },
      "Zone": {
        "type": "object",
        "required": [
          "name"
        ],
        "properties": {
          "name": {
            "type": "string",
            "description": "The name of the zone"
          },
          "type": {
            "type": "string",
            "description": "Zone Type, e.g. serp, isp, mobile, etc."
          }
        }
      },
      "NewZoneBody": {
        "type": "object",
        "required": [
          "zone",
          "plan"
        ],
        "properties": {
          "zone": {
            "$ref": "#/components/schemas/Zone"
          },
          "plan": {
            "$ref": "#/components/schemas/Plan"
          }
        }
      },
      "Plan": {
        "type": "object",
        "required": [
          "type"
        ],
        "properties": {
          "type": {
            "type": "string",
            "enum": [
              "static",
              "resident",
              "unblocker",
              "browser_api"
            ]
          },
          "domain_whitelist": {
            "type": "string"
          },
          "ips_type": {
            "type": "string",
            "enum": [
              "shared",
              "dedicated",
              "selective"
            ]
          },
          "bandwidth": {
            "type": "string",
            "enum": [
              "bandwidth",
              "unlimited"
            ]
          },
          "ips": {
            "type": "integer",
            "default": 0
          },
          "country": {
            "type": "string",
            "default": "any"
          },
          "pool_ip_type": {
            "type": "string",
            "enum": [
              "dc",
              "static_res"
            ],
            "default": "dc"
          },
          "unl_bw_tiers": {
            "type": "string",
            "enum": [
              "std"
            ]
          },
          "mobile": {
            "type": "boolean",
            "default": false
          },
          "serp": {
            "type": "boolean",
            "default": false
          },
          "city": {
            "type": "boolean",
            "default": false
          },
          "asn": {
            "type": "boolean",
            "default": false
          }
        }
      },
      "UnlockerRequest": {
        "type": "object",
        "required": [
          "zone",
          "url"
        ],
        "properties": {
          "zone": {
            "type": "string",
            "description": "Unlocker zone name"
          },
          "url": {
            "type": "string",
            "format": "uri",
            "description": "Target URL to scrape"
          },
          "format": {
            "type": "string",
            "enum": [
              "json",
              "raw"
            ],
            "description": "Response format"
          },
          "method": {
            "type": "string",
            "enum": [
              "GET",
              "POST",
              "PUT",
              "DELETE"
            ],
            "default": "GET"
          },
          "country": {
            "type": "string",
            "description": "Country code for proxy selection"
          },
          "data_format": {
            "type": "string",
            "enum": [
              "html",
              "markdown"
            ],
            "description": "Data format for the response"
          }
        }
      },
      "ErrorResponse": {
        "type": "object",
        "properties": {
          "error": {
            "type": "string"
          },
          "message": {
            "type": "string"
          }
        }
      }
    }
  }
}
