{
  "openapi": "3.0.3",
  "info": {
    "title": "Sigma Aurora API",
    "description": "API del portale Sigma per Aurora Cloud - dBTechnologies.\nTutte le chiamate sono POST con content-type `application/x-www-form-urlencoded`.\nL'autenticazione avviene tramite cookie di sessione PHP (`PHPSESSID`) ottenuto al login.\n",
    "version": "1.1.0",
    "contact": {
      "name": "dBTechnologies"
    },
    "x-jentic-source-url": "https://api.swaggerhub.com/apis/StefanoMora/sigma-aurora-api/1.1.0"
  },
  "servers": [
    {
      "url": "https://aurora-suite.com/php",
      "description": "Server di produzione"
    },
    {
      "url": "https://dev.aurora-suite.com/php",
      "description": "Server di sviluppo"
    }
  ],
  "tags": [
    {
      "name": "Auth",
      "description": "Autenticazione e sessione"
    },
    {
      "name": "Venues",
      "description": "Gestione siti/venues"
    },
    {
      "name": "Devices",
      "description": "Gestione dispositivi"
    },
    {
      "name": "Parameters",
      "description": "Parametri dei dispositivi"
    },
    {
      "name": "Alerts & Alarms",
      "description": "Alerting e allarmi"
    },
    {
      "name": "Systems",
      "description": "Gestione sistemi e aree"
    },
    {
      "name": "Views",
      "description": "Viste per dispositivo"
    },
    {
      "name": "Dashboard",
      "description": "Dashboard e widget"
    },
    {
      "name": "Storage",
      "description": "Gestione storage e spazio"
    },
    {
      "name": "Configuration",
      "description": "Costanti e configurazione"
    },
    {
      "name": "Maintenance",
      "description": "Manutenzione dispositivi"
    }
  ],
  "paths": {
    "/ajax/login.php": {
      "post": {
        "tags": [
          "Auth"
        ],
        "summary": "Login utente",
        "description": "Autentica l'utente e restituisce i cookie di sessione (PHPSESSID, id_user, id_customer).",
        "requestBody": {
          "required": true,
          "content": {
            "application/x-www-form-urlencoded": {
              "schema": {
                "type": "object",
                "required": [
                  "username",
                  "password",
                  "option"
                ],
                "properties": {
                  "username": {
                    "type": "string",
                    "example": "mario.rossi"
                  },
                  "password": {
                    "type": "string",
                    "example": "password123"
                  },
                  "option": {
                    "type": "integer",
                    "enum": [
                      2
                    ],
                    "example": 2
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Login riuscito",
            "headers": {
              "Set-Cookie": {
                "description": "Cookie di sessione PHP",
                "schema": {
                  "type": "string",
                  "example": "PHPSESSID=abc123; id_user=125; id_customer=10"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/LoginResponse"
                }
              }
            }
          }
        }
      }
    },
    "/logout.php": {
      "post": {
        "tags": [
          "Auth"
        ],
        "summary": "Logout utente",
        "description": "Termina la sessione corrente.",
        "requestBody": {
          "required": true,
          "content": {
            "application/x-www-form-urlencoded": {
              "schema": {
                "type": "object",
                "properties": {
                  "option": {
                    "type": "integer",
                    "enum": [
                      1
                    ],
                    "example": 1
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Logout effettuato"
          }
        }
      }
    },
    "/rms_settings_user.php": {
      "post": {
        "tags": [
          "Auth"
        ],
        "summary": "Informazioni utente",
        "description": "Restituisce le informazioni dettagliate dell'utente.",
        "requestBody": {
          "required": true,
          "content": {
            "application/x-www-form-urlencoded": {
              "schema": {
                "type": "object",
                "required": [
                  "userId"
                ],
                "properties": {
                  "userId": {
                    "type": "integer",
                    "example": 125
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Dati utente",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/UserInfoResponse"
                }
              }
            }
          }
        }
      }
    },
    "/ajax/sites_list_AEB.php": {
      "post": {
        "tags": [
          "Venues"
        ],
        "summary": "Lista venues",
        "description": "Restituisce la lista di tutte le venues (siti) dell'utente.",
        "requestBody": {
          "required": true,
          "content": {
            "application/x-www-form-urlencoded": {
              "schema": {
                "type": "object",
                "properties": {
                  "option": {
                    "type": "integer",
                    "enum": [
                      0
                    ],
                    "example": 0
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Lista venues",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/VenuesResponse"
                }
              }
            }
          }
        }
      }
    },
    "/sites_list_AEB.php": {
      "post": {
        "tags": [
          "Venues"
        ],
        "summary": "Dettaglio venue",
        "description": "Restituisce i dettagli di una venue specifica.",
        "requestBody": {
          "required": true,
          "content": {
            "application/x-www-form-urlencoded": {
              "schema": {
                "type": "object",
                "required": [
                  "option",
                  "id"
                ],
                "properties": {
                  "option": {
                    "type": "integer",
                    "enum": [
                      1
                    ],
                    "example": 1
                  },
                  "id": {
                    "type": "integer",
                    "description": "ID della venue",
                    "example": 42
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Dettaglio venue",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/VenueResponse"
                }
              }
            }
          }
        }
      }
    },
    "/ajax/device_list.php": {
      "post": {
        "tags": [
          "Devices"
        ],
        "summary": "Lista dispositivi o totali",
        "description": "Con `option=9` restituisce la lista dei dispositivi.\nCon `option=15` restituisce i totali aggregati.\n",
        "requestBody": {
          "required": true,
          "content": {
            "application/x-www-form-urlencoded": {
              "schema": {
                "type": "object",
                "required": [
                  "option"
                ],
                "properties": {
                  "option": {
                    "type": "integer",
                    "enum": [
                      9,
                      15
                    ],
                    "example": 9
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Lista dispositivi o totali",
            "content": {
              "application/json": {
                "schema": {
                  "oneOf": [
                    {
                      "$ref": "#/components/schemas/DevicesAebResponse"
                    },
                    {
                      "$ref": "#/components/schemas/DevicesTotalResponse"
                    }
                  ]
                }
              }
            }
          }
        }
      }
    },
    "/dev_user_orderbyid.php": {
      "post": {
        "tags": [
          "Devices"
        ],
        "summary": "Lista dispositivi per sistema",
        "description": "Restituisce i dispositivi appartenenti ad un sistema.",
        "requestBody": {
          "required": true,
          "content": {
            "application/x-www-form-urlencoded": {
              "schema": {
                "type": "object",
                "required": [
                  "option",
                  "id_system"
                ],
                "properties": {
                  "option": {
                    "type": "integer",
                    "enum": [
                      1
                    ],
                    "example": 1
                  },
                  "id_system": {
                    "type": "integer",
                    "example": 20
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Lista dispositivi",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BaseResponse"
                }
              }
            }
          }
        }
      }
    },
    "/req_device.php": {
      "post": {
        "tags": [
          "Devices"
        ],
        "summary": "Stato dispositivo",
        "description": "Restituisce lo stato corrente di un dispositivo (online/offline, warning, allarmi).",
        "requestBody": {
          "required": true,
          "content": {
            "application/x-www-form-urlencoded": {
              "schema": {
                "type": "object",
                "required": [
                  "dev"
                ],
                "properties": {
                  "dev": {
                    "type": "integer",
                    "description": "ID del dispositivo",
                    "example": 8465
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Stato dispositivo",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DeviceStateResponse"
                }
              }
            }
          }
        }
      }
    },
    "/param_list.php": {
      "post": {
        "tags": [
          "Parameters"
        ],
        "summary": "Lista parametri dispositivo",
        "description": "Restituisce la lista dei parametri per il dispositivo indicato.",
        "requestBody": {
          "required": true,
          "content": {
            "application/x-www-form-urlencoded": {
              "schema": {
                "type": "object",
                "required": [
                  "option",
                  "dev"
                ],
                "properties": {
                  "option": {
                    "type": "integer",
                    "enum": [
                      1
                    ],
                    "example": 1
                  },
                  "dev": {
                    "type": "integer",
                    "description": "ID del dispositivo",
                    "example": 8465
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Lista parametri",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ParametersAebResponse"
                }
              }
            }
          }
        }
      }
    },
    "/param_list_2.php": {
      "post": {
        "tags": [
          "Parameters"
        ],
        "summary": "Lista parametri per storico",
        "description": "Restituisce la lista parametri estesa con informazioni per lo storico.",
        "requestBody": {
          "required": true,
          "content": {
            "application/x-www-form-urlencoded": {
              "schema": {
                "type": "object",
                "required": [
                  "option",
                  "dev"
                ],
                "properties": {
                  "option": {
                    "type": "integer",
                    "enum": [
                      0
                    ],
                    "example": 0
                  },
                  "dev": {
                    "type": "integer",
                    "description": "ID del dispositivo",
                    "example": 8465
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Lista parametri storico",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ParametersHistoResponse"
                }
              }
            }
          }
        }
      }
    },
    "/read_live_wrn_alm.php": {
      "post": {
        "tags": [
          "Alerts & Alarms"
        ],
        "summary": "Alerting e allarmi",
        "description": "Endpoint multi-funzione per la lettura di alert e allarmi.\n- `option=18`: lista alert attivi globali\n- `option=8`: lista warning per dispositivo\n- `option=9`: lista allarmi per dispositivo\n- `option=4`: lista warning globali (per status bar)\n- `option=5`: lista allarmi globali (per status bar)\n",
        "requestBody": {
          "required": true,
          "content": {
            "application/x-www-form-urlencoded": {
              "schema": {
                "type": "object",
                "required": [
                  "option"
                ],
                "properties": {
                  "option": {
                    "type": "integer",
                    "enum": [
                      4,
                      5,
                      8,
                      9,
                      18
                    ],
                    "example": 18
                  },
                  "id_device": {
                    "type": "integer",
                    "description": "ID dispositivo (richiesto per option 8 e 9)",
                    "example": 8465
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Lista alert/allarmi",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AlertsAebResponse"
                }
              }
            }
          }
        }
      }
    },
    "/ajax/events_history_chart.php": {
      "post": {
        "tags": [
          "Alerts & Alarms"
        ],
        "summary": "Storico eventi per grafico",
        "description": "Restituisce i dati per il grafico a barre dello storico eventi mensile.",
        "requestBody": {
          "required": true,
          "content": {
            "application/x-www-form-urlencoded": {
              "schema": {
                "type": "object",
                "properties": {
                  "option": {
                    "type": "integer",
                    "enum": [
                      1
                    ],
                    "example": 1
                  },
                  "dev": {
                    "type": "integer",
                    "description": "ID dispositivo (0 = tutti)",
                    "example": 0
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Dati storico eventi",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/EventsHistoChartResponse"
                }
              }
            }
          }
        }
      }
    },
    "/system_list.php": {
      "post": {
        "tags": [
          "Systems"
        ],
        "summary": "Lista sistemi o coordinate",
        "description": "Con `option=6` restituisce la lista dei sistemi per area.\nCon `option=5` restituisce latitudine e longitudine del sistema.\n",
        "requestBody": {
          "required": true,
          "content": {
            "application/x-www-form-urlencoded": {
              "schema": {
                "type": "object",
                "required": [
                  "option"
                ],
                "properties": {
                  "option": {
                    "type": "integer",
                    "enum": [
                      5,
                      6
                    ],
                    "example": 6
                  },
                  "id_area": {
                    "type": "integer",
                    "description": "ID area (per option=6)",
                    "example": 1
                  },
                  "id_system": {
                    "type": "integer",
                    "description": "ID sistema (per option=5)",
                    "example": 20
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Lista sistemi o coordinate",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BaseResponse"
                }
              }
            }
          }
        }
      }
    },
    "/areas.php": {
      "post": {
        "tags": [
          "Systems"
        ],
        "summary": "Lista aree",
        "description": "Restituisce la lista delle aree dell'utente.",
        "requestBody": {
          "required": true,
          "content": {
            "application/x-www-form-urlencoded": {
              "schema": {
                "type": "object",
                "properties": {
                  "option": {
                    "type": "integer",
                    "enum": [
                      1
                    ],
                    "example": 1
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Lista aree",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BaseResponse"
                }
              }
            }
          }
        }
      }
    },
    "/view.php": {
      "post": {
        "tags": [
          "Views"
        ],
        "summary": "Lista viste per dispositivo",
        "description": "Restituisce le viste disponibili per un dispositivo.",
        "requestBody": {
          "required": true,
          "content": {
            "application/x-www-form-urlencoded": {
              "schema": {
                "type": "object",
                "required": [
                  "option",
                  "id_device"
                ],
                "properties": {
                  "option": {
                    "type": "integer",
                    "enum": [
                      8
                    ],
                    "example": 8
                  },
                  "id_device": {
                    "type": "integer",
                    "example": 8465
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Lista viste",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BaseResponse"
                }
              }
            }
          }
        }
      }
    },
    "/dashboard.php": {
      "post": {
        "tags": [
          "Dashboard"
        ],
        "summary": "Dashboard dispositivo",
        "description": "Con `option=1` restituisce la configurazione della dashboard.\nCon `option=3` restituisce l'immagine della dashboard.\n",
        "requestBody": {
          "required": true,
          "content": {
            "application/x-www-form-urlencoded": {
              "schema": {
                "type": "object",
                "required": [
                  "option",
                  "id_dev"
                ],
                "properties": {
                  "option": {
                    "type": "integer",
                    "enum": [
                      1,
                      3
                    ],
                    "example": 1
                  },
                  "id_dev": {
                    "type": "integer",
                    "example": 8465
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Dati dashboard",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BaseResponse"
                }
              }
            }
          }
        }
      }
    },
    "/command.php": {
      "post": {
        "tags": [
          "Dashboard"
        ],
        "summary": "Lista comandi dispositivo",
        "description": "Restituisce la lista dei comandi disponibili per un dispositivo.",
        "requestBody": {
          "required": true,
          "content": {
            "application/x-www-form-urlencoded": {
              "schema": {
                "type": "object",
                "required": [
                  "option",
                  "id_dev"
                ],
                "properties": {
                  "option": {
                    "type": "integer",
                    "enum": [
                      11
                    ],
                    "example": 11
                  },
                  "id_dev": {
                    "type": "integer",
                    "example": 8465
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Lista comandi",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BaseResponse"
                }
              }
            }
          }
        }
      }
    },
    "/maintenance.php": {
      "post": {
        "tags": [
          "Maintenance"
        ],
        "summary": "Info manutenzione",
        "description": "Restituisce le informazioni di manutenzione del dispositivo.",
        "requestBody": {
          "required": true,
          "content": {
            "application/x-www-form-urlencoded": {
              "schema": {
                "type": "object",
                "required": [
                  "option",
                  "id_device"
                ],
                "properties": {
                  "option": {
                    "type": "integer",
                    "enum": [
                      3
                    ],
                    "example": 3
                  },
                  "id_device": {
                    "type": "integer",
                    "example": 8465
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Dati manutenzione",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BaseResponse"
                }
              }
            }
          }
        }
      }
    },
    "/req_info_rout_dev.php": {
      "post": {
        "tags": [
          "Maintenance"
        ],
        "summary": "Info router e dispositivi",
        "description": "Con `option=5` restituisce info dispositivi (per status bar).\nCon `option=6` restituisce info router (per status bar).\n",
        "requestBody": {
          "required": true,
          "content": {
            "application/x-www-form-urlencoded": {
              "schema": {
                "type": "object",
                "required": [
                  "option"
                ],
                "properties": {
                  "option": {
                    "type": "integer",
                    "enum": [
                      5,
                      6
                    ],
                    "example": 5
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Info router/dispositivi",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BaseResponse"
                }
              }
            }
          }
        }
      }
    },
    "/storage/space_info.php": {
      "post": {
        "tags": [
          "Storage"
        ],
        "summary": "Informazioni spazio utilizzato",
        "description": "Restituisce i dettagli sullo spazio disco (storage, telemetry, monitoring).",
        "requestBody": {
          "required": true,
          "content": {
            "application/x-www-form-urlencoded": {
              "schema": {
                "type": "object",
                "required": [
                  "option"
                ],
                "properties": {
                  "option": {
                    "type": "integer",
                    "enum": [
                      5
                    ],
                    "example": 5
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Info spazio",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SpaceInfoResponse"
                },
                "example": {
                  "ret": "OK",
                  "msg": "",
                  "data": {
                    "storage": 0,
                    "telemetry": 0,
                    "monitoring": 0,
                    "tot": 42949672960,
                    "used": 0
                  }
                }
              }
            }
          }
        }
      }
    },
    "/storage/storage.php": {
      "post": {
        "tags": [
          "Storage"
        ],
        "summary": "Contenuto storage",
        "description": "Restituisce il contenuto del file system dello storage utente.",
        "responses": {
          "200": {
            "description": "Contenuto storage",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/StorageResponse"
                },
                "example": {
                  "ret": "OK",
                  "msg": "",
                  "data": {
                    "id_parent_folder": 0,
                    "content": [
                      {
                        "name": "/",
                        "id": 1636,
                        "size": 0,
                        "type": "folder",
                        "rights": "rw",
                        "data": "2026-02-05 14:57:38",
                        "id_parent_folder": null
                      }
                    ]
                  }
                }
              }
            }
          }
        }
      }
    },
    "/get_constants.php": {
      "post": {
        "tags": [
          "Configuration"
        ],
        "summary": "Costanti di configurazione",
        "description": "Restituisce tutte le costanti e le enumerazioni del sistema.",
        "responses": {
          "200": {
            "description": "Costanti",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ConstantsResponse"
                }
              }
            }
          }
        }
      }
    }
  },
  "components": {
    "schemas": {
      "BaseResponse": {
        "type": "object",
        "properties": {
          "ret": {
            "type": "string",
            "description": "Esito della chiamata: OK o ERR",
            "enum": [
              "OK",
              "ERR"
            ]
          },
          "msg": {
            "type": "string",
            "description": "Messaggio di errore (vuoto se OK)"
          }
        }
      },
      "LoginResponse": {
        "allOf": [
          {
            "$ref": "#/components/schemas/BaseResponse"
          }
        ],
        "example": {
          "ret": "OK",
          "msg": ""
        }
      },
      "UserInfoResponse": {
        "allOf": [
          {
            "$ref": "#/components/schemas/BaseResponse"
          },
          {
            "type": "object",
            "properties": {
              "data": {
                "type": "object",
                "properties": {
                  "user": {
                    "$ref": "#/components/schemas/UserDetail"
                  }
                }
              }
            }
          }
        ]
      },
      "UserDetail": {
        "type": "object",
        "properties": {
          "id_user": {
            "type": "integer"
          },
          "user_name": {
            "type": "string"
          },
          "user_type": {
            "type": "integer"
          },
          "user_theme": {
            "type": "string"
          },
          "email_address": {
            "type": "string"
          },
          "phone_number": {
            "type": "string"
          },
          "notifications": {
            "type": "string",
            "enum": [
              "t",
              "f"
            ]
          },
          "user_enabled": {
            "type": "string",
            "enum": [
              "t",
              "f"
            ]
          },
          "data": {
            "type": "object",
            "description": "Dati utente aggiuntivi (UDT_CITY, UDT_COMPANY, ecc.)"
          }
        }
      },
      "VenuesResponse": {
        "allOf": [
          {
            "$ref": "#/components/schemas/BaseResponse"
          },
          {
            "type": "object",
            "properties": {
              "data": {
                "type": "array",
                "items": {
                  "$ref": "#/components/schemas/VenueDatum"
                }
              }
            }
          }
        ]
      },
      "VenueDatum": {
        "type": "object",
        "properties": {
          "id_system": {
            "type": "integer"
          },
          "id_customer": {
            "type": "integer"
          },
          "system_name": {
            "type": "string"
          },
          "system_desc": {
            "type": "string",
            "nullable": true
          },
          "system_country": {
            "type": "string",
            "nullable": true
          },
          "system_city": {
            "type": "string",
            "nullable": true
          },
          "system_address": {
            "type": "string",
            "nullable": true
          },
          "system_type": {
            "type": "string",
            "nullable": true
          },
          "category": {
            "type": "integer"
          },
          "id_area": {
            "type": "integer"
          },
          "system_state": {
            "type": "string",
            "nullable": true
          },
          "system_longitude": {
            "type": "number",
            "format": "double",
            "nullable": true
          },
          "system_latitude": {
            "type": "number",
            "format": "double",
            "nullable": true
          },
          "display_status_site": {
            "type": "integer"
          },
          "num_devices": {
            "type": "integer"
          },
          "check_sel_site": {
            "type": "boolean"
          },
          "sts": {
            "type": "integer",
            "description": "Stato del sito"
          },
          "sts_circle": {
            "type": "string",
            "description": "HTML per indicatore circolare di stato"
          },
          "sts_span": {
            "type": "string",
            "description": "HTML per span di stato"
          }
        }
      },
      "VenueResponse": {
        "allOf": [
          {
            "$ref": "#/components/schemas/BaseResponse"
          },
          {
            "type": "object",
            "properties": {
              "data": {
                "$ref": "#/components/schemas/VenueDetail"
              }
            }
          }
        ]
      },
      "VenueDetail": {
        "type": "object",
        "properties": {
          "tot": {
            "type": "integer",
            "description": "Numero totale dispositivi"
          },
          "withEvents": {
            "type": "integer",
            "description": "Numero dispositivi con eventi"
          },
          "coreInfo": {
            "type": "string",
            "description": "Informazioni principali (HTML)"
          }
        }
      },
      "DevicesAebResponse": {
        "allOf": [
          {
            "$ref": "#/components/schemas/BaseResponse"
          },
          {
            "type": "object",
            "properties": {
              "data": {
                "type": "array",
                "items": {
                  "$ref": "#/components/schemas/DeviceAeb"
                }
              }
            }
          }
        ]
      },
      "DeviceAeb": {
        "type": "object",
        "properties": {
          "uid": {
            "type": "string"
          },
          "id_device": {
            "type": "string"
          },
          "description": {
            "type": "string"
          },
          "fwversion": {
            "type": "string"
          },
          "type_note": {
            "type": "string"
          },
          "shares": {
            "type": "string"
          },
          "registered": {
            "type": "string"
          },
          "userpend": {
            "type": "string"
          },
          "id_usershared": {
            "type": "string"
          },
          "system_country": {
            "type": "string",
            "nullable": true
          },
          "system_latitude": {
            "type": "string",
            "nullable": true
          },
          "system_longitude": {
            "type": "string",
            "nullable": true
          },
          "system_name": {
            "type": "string"
          },
          "sts": {
            "type": "string",
            "description": "Codice stato dispositivo"
          },
          "sts_span": {
            "type": "string",
            "description": "HTML per badge di stato"
          }
        }
      },
      "DevicesTotalResponse": {
        "allOf": [
          {
            "$ref": "#/components/schemas/BaseResponse"
          },
          {
            "type": "object",
            "properties": {
              "data": {
                "type": "array",
                "items": {
                  "$ref": "#/components/schemas/DeviceTotalItem"
                }
              }
            }
          }
        ]
      },
      "DeviceTotalItem": {
        "type": "object",
        "properties": {
          "label": {
            "type": "string",
            "example": "Online"
          },
          "value": {
            "type": "integer"
          },
          "counter": {
            "type": "integer"
          },
          "color": {
            "type": "string",
            "description": "Colore esadecimale",
            "example": "#00FF00"
          },
          "total": {
            "type": "integer"
          }
        }
      },
      "DeviceStateResponse": {
        "allOf": [
          {
            "$ref": "#/components/schemas/BaseResponse"
          },
          {
            "type": "object",
            "properties": {
              "data": {
                "type": "array",
                "items": {
                  "type": "object",
                  "properties": {
                    "sts": {
                      "type": "integer",
                      "description": "Codice stato (-1=null, 0=ON, 1=OFF, 2=DOFF, 3=RERR, 4=DERR, 5=ONCRIT, 6=ONWRN)"
                    },
                    "count_warn": {
                      "type": "integer"
                    },
                    "count_crit": {
                      "type": "integer"
                    }
                  }
                }
              }
            }
          }
        ]
      },
      "ParametersAebResponse": {
        "allOf": [
          {
            "$ref": "#/components/schemas/BaseResponse"
          },
          {
            "type": "object",
            "properties": {
              "data": {
                "type": "array",
                "items": {
                  "$ref": "#/components/schemas/ParameterAeb"
                }
              }
            }
          }
        ]
      },
      "ParameterAeb": {
        "type": "object",
        "properties": {
          "id_par": {
            "type": "integer"
          },
          "description": {
            "type": "string"
          },
          "type": {
            "type": "integer",
            "description": "Tipo parametro (3=stato, 5=parametro, 6=allarme)"
          },
          "parameter_group": {
            "type": "integer",
            "description": "Gruppo (1=Parameters, 2=States, 3=Alarms, 4=Info)"
          },
          "udm": {
            "type": "string",
            "nullable": true,
            "description": "Unit\u00e0 di misura"
          },
          "req_time": {
            "type": "string",
            "format": "date-time",
            "nullable": true
          },
          "value": {
            "nullable": true,
            "description": "Valore corrente del parametro"
          }
        }
      },
      "ParametersHistoResponse": {
        "allOf": [
          {
            "$ref": "#/components/schemas/BaseResponse"
          },
          {
            "type": "object",
            "properties": {
              "data": {
                "type": "array",
                "items": {
                  "$ref": "#/components/schemas/ParameterHistoAeb"
                }
              }
            }
          }
        ]
      },
      "ParameterHistoAeb": {
        "type": "object",
        "properties": {
          "id_par": {
            "type": "integer"
          },
          "description": {
            "type": "string"
          },
          "type": {
            "type": "integer"
          },
          "unit": {
            "type": "string",
            "nullable": true
          },
          "active": {
            "type": "string",
            "enum": [
              "t",
              "f"
            ]
          },
          "group": {
            "type": "integer"
          },
          "favourite": {
            "type": "string",
            "enum": [
              "t",
              "f"
            ]
          },
          "id_formula": {
            "type": "integer",
            "nullable": true
          },
          "notifier": {
            "type": "string",
            "enum": [
              "t",
              "f"
            ]
          },
          "war_range": {
            "type": "integer",
            "nullable": true
          },
          "id_range": {
            "type": "integer",
            "nullable": true
          },
          "cont_format": {
            "type": "integer"
          },
          "ext_method": {
            "type": "integer"
          },
          "dev_name": {
            "type": "string"
          },
          "group_desc": {
            "type": "string"
          }
        }
      },
      "AlertsAebResponse": {
        "allOf": [
          {
            "$ref": "#/components/schemas/BaseResponse"
          },
          {
            "type": "object",
            "properties": {
              "data": {
                "type": "array",
                "items": {
                  "$ref": "#/components/schemas/AlertItem"
                }
              }
            }
          }
        ]
      },
      "AlertItem": {
        "type": "object",
        "properties": {
          "timeUTC": {
            "type": "string",
            "format": "date-time"
          },
          "device_name": {
            "type": "string"
          },
          "site_name": {
            "type": "string"
          },
          "events": {
            "type": "string"
          }
        }
      },
      "EventsHistoChartResponse": {
        "allOf": [
          {
            "$ref": "#/components/schemas/BaseResponse"
          },
          {
            "type": "object",
            "properties": {
              "data": {
                "$ref": "#/components/schemas/DataHisto"
              }
            }
          }
        ]
      },
      "DataHisto": {
        "type": "object",
        "properties": {
          "title": {
            "type": "string",
            "example": "Monthly alerts for all devices"
          },
          "series": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/ChartSeries"
            }
          },
          "colors": {
            "type": "array",
            "items": {
              "type": "string"
            },
            "example": [
              "#FF9A00",
              "#FF0000"
            ]
          },
          "days": {
            "type": "array",
            "items": {
              "type": "string"
            },
            "example": [
              "2026/02/01",
              "2026/02/02"
            ]
          }
        }
      },
      "ChartSeries": {
        "type": "object",
        "properties": {
          "name": {
            "type": "string",
            "example": "Warning"
          },
          "data": {
            "type": "array",
            "items": {
              "oneOf": [
                {
                  "type": "integer"
                },
                {
                  "type": "object",
                  "properties": {
                    "x": {
                      "type": "string"
                    },
                    "y": {
                      "type": "integer"
                    },
                    "aggrval": {
                      "type": "string"
                    }
                  }
                }
              ]
            }
          }
        }
      },
      "SpaceInfoResponse": {
        "allOf": [
          {
            "$ref": "#/components/schemas/BaseResponse"
          },
          {
            "type": "object",
            "properties": {
              "data": {
                "$ref": "#/components/schemas/SpaceInfoData"
              }
            }
          }
        ]
      },
      "SpaceInfoData": {
        "type": "object",
        "properties": {
          "storage": {
            "type": "integer",
            "description": "Bytes usati per storage"
          },
          "telemetry": {
            "type": "integer",
            "description": "Bytes usati per telemetria"
          },
          "monitoring": {
            "type": "integer",
            "description": "Bytes usati per monitoraggio"
          },
          "tot": {
            "type": "integer",
            "description": "Spazio totale in bytes",
            "example": 42949672960
          },
          "used": {
            "type": "integer",
            "description": "Spazio totale utilizzato in bytes"
          }
        }
      },
      "StorageResponse": {
        "allOf": [
          {
            "$ref": "#/components/schemas/BaseResponse"
          },
          {
            "type": "object",
            "properties": {
              "data": {
                "$ref": "#/components/schemas/StorageData"
              }
            }
          }
        ]
      },
      "StorageData": {
        "type": "object",
        "properties": {
          "id_parent_folder": {
            "type": "integer",
            "nullable": true
          },
          "content": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/StorageItem"
            }
          }
        }
      },
      "StorageItem": {
        "type": "object",
        "properties": {
          "name": {
            "type": "string",
            "example": "/"
          },
          "id": {
            "type": "integer"
          },
          "size": {
            "type": "integer",
            "description": "Dimensione in bytes"
          },
          "type": {
            "type": "string",
            "enum": [
              "folder",
              "file"
            ]
          },
          "rights": {
            "type": "string",
            "description": "Permessi (es. rw, r)",
            "example": "rw"
          },
          "data": {
            "type": "string",
            "format": "date-time",
            "description": "Data ultima modifica"
          },
          "id_parent_folder": {
            "type": "integer",
            "nullable": true
          }
        }
      },
      "ConstantsResponse": {
        "type": "object",
        "properties": {
          "RmsVersion": {
            "type": "object",
            "properties": {
              "VERSION_NUMBER": {
                "type": "string",
                "example": "Release 1.1"
              }
            }
          },
          "RouterType": {
            "type": "object",
            "properties": {
              "INTEGRATED": {
                "type": "integer"
              },
              "EXTERNAL": {
                "type": "integer"
              }
            }
          },
          "DEV_ICON_DEF": {
            "type": "string"
          },
          "ROUT_ICON_DEF": {
            "type": "string"
          },
          "MAX_FAV": {
            "type": "integer",
            "example": 18
          },
          "MAX_HIST": {
            "type": "integer",
            "example": 12
          },
          "DeviceProtocol": {
            "type": "object",
            "additionalProperties": {
              "type": "integer"
            },
            "example": {
              "MODBUS": 1,
              "MQTT": 2,
              "RTSP": 3,
              "API": 4
            }
          },
          "SubjectType": {
            "type": "object",
            "additionalProperties": {
              "type": "integer"
            }
          },
          "DataFormat": {
            "type": "object",
            "additionalProperties": {
              "type": "integer"
            }
          },
          "ParameterType": {
            "type": "object",
            "additionalProperties": {
              "type": "integer"
            }
          },
          "InfoUser": {
            "type": "object",
            "additionalProperties": {
              "type": "integer"
            }
          },
          "Status": {
            "type": "object",
            "properties": {
              "STS_OFFLINE": {
                "type": "integer"
              },
              "STS_ONLINE": {
                "type": "integer"
              },
              "STS_ERROR": {
                "type": "integer"
              }
            }
          },
          "ReportFunction": {
            "type": "object",
            "additionalProperties": {
              "type": "integer"
            }
          },
          "ReportPeriod": {
            "type": "object",
            "additionalProperties": {
              "type": "integer"
            }
          },
          "DevSts": {
            "type": "object",
            "additionalProperties": {
              "type": "integer"
            },
            "example": {
              "STS_null": -1,
              "STS_ON": 0,
              "STS_OFF": 1,
              "STS_DOFF": 2,
              "STS_RERR": 3,
              "STS_DERR": 4,
              "STS_ONCRIT": 5,
              "STS_ONWRN": 6
            }
          },
          "WarningLevel": {
            "type": "object",
            "additionalProperties": {
              "type": "integer"
            }
          },
          "WarningRangeType": {
            "type": "object",
            "additionalProperties": {
              "type": "integer"
            }
          },
          "ConfigUser": {
            "type": "object",
            "additionalProperties": {
              "type": "integer"
            }
          },
          "ViewType": {
            "type": "object",
            "additionalProperties": {
              "type": "integer"
            }
          },
          "ParameterGroup": {
            "type": "object",
            "properties": {
              "PG_PARAMETERS": {
                "type": "integer"
              },
              "PG_STATES": {
                "type": "integer"
              },
              "PG_ALARMS": {
                "type": "integer"
              },
              "PG_INFO": {
                "type": "integer"
              }
            }
          },
          "RouterGenerationMethod": {
            "type": "object",
            "additionalProperties": {
              "type": "integer"
            }
          }
        }
      }
    }
  }
}