{
  "openapi": "3.1.0",
  "info": {
    "title": "Mienv\u00edo API V2",
    "description": "Start using the Mienvio API to get quotes and create shipping labels.",
    "version": "2.0",
    "x-jentic-source-url": "https://api.swaggerhub.com/apis/mienvio-4ae/mienvio-api-v2/2.0"
  },
  "servers": [
    {
      "url": "https://production.mienvio.mx/api",
      "description": "Production"
    },
    {
      "url": "https://dev-sandbox.mienvio.mx/api",
      "description": "Sandbox"
    }
  ],
  "paths": {
    "/v2/shipments/rates": {
      "post": {
        "summary": "Get shipment rates",
        "description": "Get the cost of shipping a shipment given a origin, destination and weight",
        "operationId": "getShipmentRates",
        "tags": [
          "Shipment creation flow"
        ],
        "requestBody": {
          "description": "Shipment rates request",
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "packing_mode": {
                    "type": "string",
                    "enum\"": [
                      "existing",
                      "none"
                    ],
                    "description": " \n**existing:** It will return the most optimal package given the items considering the user packages configuration. \n \n**none:** You must provide the package size to use.",
                    "required": true,
                    "example": "none"
                  },
                  "from_address": {
                    "type": "object",
                    "required": true,
                    "properties": {
                      "name": {
                        "type": "string",
                        "maxLength": 35,
                        "example": "Juan P\u00e9rez"
                      },
                      "street": {
                        "type": "string",
                        "maxLength": 35,
                        "example": "Calle 123"
                      },
                      "street2": {
                        "type": "string",
                        "maxLength": 35,
                        "example": "Col. Centro"
                      },
                      "reference": {
                        "type": "string",
                        "maxLength": 35,
                        "example": "Entre calles 4 y 5"
                      },
                      "city_municipality": {
                        "type": "string",
                        "maxLength": 30,
                        "example": "Cuauht\u00e9moc"
                      },
                      "zipcode": {
                        "type": "string",
                        "maxLength": 5,
                        "required": true,
                        "example": "12345"
                      },
                      "country": {
                        "type": "string",
                        "maxLength": 2,
                        "description": "List of country or territory abbreviations in ISO Standard 3166. Example: MX, US, CA",
                        "required": true,
                        "example": "MX"
                      }
                    }
                  },
                  "to_address": {
                    "type": "object",
                    "required": true,
                    "properties": {
                      "name": {
                        "type": "string",
                        "maxLength": 35,
                        "example": "Mar\u00eda Lopez"
                      },
                      "street": {
                        "type": "string",
                        "maxLength": 35,
                        "example": "Calle 567"
                      },
                      "street2": {
                        "type": "string",
                        "maxLength": 35,
                        "example": "Col. Roma"
                      },
                      "reference": {
                        "type": "string",
                        "maxLength": 35,
                        "example": "Entre calles 6 y 7"
                      },
                      "city_municipality": {
                        "type": "string",
                        "maxLength": 30,
                        "example": "CDMX"
                      },
                      "zipcode": {
                        "type": "string",
                        "maxLength": 5,
                        "required": true,
                        "example": "06760"
                      },
                      "country": {
                        "type": "string",
                        "maxLength": 2,
                        "description": "List of country or territory abbreviations in ISO Standard 3166. Example: MX, US, CA",
                        "required": true,
                        "example": "MX"
                      }
                    }
                  },
                  "items": {
                    "type": "array",
                    "description": "List of items to be shipped. Required if packing_mode is set to existing or new",
                    "items": {
                      "type": "object",
                      "properties": {
                        "weight": {
                          "type": "number",
                          "minimum": 1,
                          "required": true,
                          "example": 2.5
                        },
                        "length": {
                          "type": "number",
                          "minimum": 1,
                          "required": true,
                          "example": 10
                        },
                        "width": {
                          "type": "number",
                          "minimum": 1,
                          "required": true,
                          "example": 10
                        },
                        "height": {
                          "type": "number",
                          "minimum": 1,
                          "required": true,
                          "example": 10
                        },
                        "declared_value": {
                          "type": "number",
                          "minimum": 15,
                          "example": 100
                        },
                        "qty": {
                          "type": "number",
                          "minimum": 1,
                          "example": 1,
                          "description": "Item quantity, example a box of five books must have qty: 1, 'qty' will affect the weight of the shipment"
                        }
                      }
                    }
                  },
                  "package": {
                    "type": "object",
                    "description": "Package size. Required if packing_mode is set to none",
                    "properties": {
                      "weight": {
                        "type": "number",
                        "minimum": 1,
                        "required": true,
                        "example": 2.5
                      },
                      "length": {
                        "type": "number",
                        "minimum": 1,
                        "required": true,
                        "example": 10
                      },
                      "width": {
                        "type": "number",
                        "minimum": 1,
                        "required": true,
                        "example": 10
                      },
                      "height": {
                        "type": "number",
                        "minimum": 1,
                        "required": true,
                        "example": 10
                      },
                      "declared_value": {
                        "type": "number",
                        "minimum": 15,
                        "example": 100
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": {
                      "type": "integer",
                      "example": 200
                    },
                    "message": {
                      "type": "string",
                      "example": "Rates per package fetched succesfully."
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "weight": {
                            "type": "number",
                            "example": 5
                          },
                          "length": {
                            "type": "number",
                            "example": 40
                          },
                          "width": {
                            "type": "number",
                            "example": 40
                          },
                          "height": {
                            "type": "number",
                            "example": 20
                          },
                          "declared_value": {
                            "type": "number",
                            "example": 1500
                          },
                          "items": {
                            "type": "array",
                            "items": {
                              "type": "object",
                              "properties": {
                                "length": {
                                  "type": "number",
                                  "example": 40
                                },
                                "width": {
                                  "type": "number",
                                  "example": 40
                                },
                                "height": {
                                  "type": "number",
                                  "example": 20
                                },
                                "weight": {
                                  "type": "number",
                                  "example": 5
                                }
                              }
                            }
                          },
                          "volumetric_weight": {
                            "type": "number",
                            "example": 6.4
                          },
                          "total_rates": {
                            "type": "integer",
                            "example": 1
                          },
                          "rates": {
                            "type": "array",
                            "items": {
                              "type": "object",
                              "properties": {
                                "rate_id": {
                                  "type": "integer",
                                  "example": 12345
                                },
                                "currency": {
                                  "type": "string",
                                  "example": "MXN"
                                },
                                "amount": {
                                  "type": "object",
                                  "deprecated": true,
                                  "description": "DEPRECATED: Use pricing instead",
                                  "properties": {
                                    "total": {
                                      "type": "number",
                                      "example": 205.3
                                    },
                                    "detail": {
                                      "type": "object",
                                      "properties": {
                                        "base_cost": {
                                          "type": "number",
                                          "example": 205.3
                                        },
                                        "extended_zone_cost": {
                                          "type": "number",
                                          "example": 0
                                        },
                                        "exceed_dimensions_cost": {
                                          "type": "number",
                                          "example": 0
                                        },
                                        "total_taxes": {
                                          "type": "number",
                                          "example": 0
                                        },
                                        "breakdown": {
                                          "type": "array",
                                          "items": {
                                            "type": "object",
                                            "properties": {
                                              "type": {
                                                "type": "string",
                                                "example": "special_handling"
                                              },
                                              "description": {
                                                "type": "string",
                                                "example": "Manejo especial"
                                              },
                                              "total": {
                                                "type": "number",
                                                "example": 10.0
                                              }
                                            }
                                          }
                                        }
                                      }
                                    }
                                  }
                                },
                                "service_name": {
                                  "type": "string",
                                  "example": "estandar"
                                },
                                "provider": {
                                  "type": "string",
                                  "example": "FedEx"
                                },
                                "duration_terms": {
                                  "type": "string",
                                  "example": "2 d\u00edas"
                                },
                                "days": {
                                  "type": "integer",
                                  "example": 2
                                },
                                "min_weight": {
                                  "type": "number",
                                  "example": 6
                                },
                                "max_weight": {
                                  "type": "number",
                                  "example": 6.4
                                },
                                "provider_img": {
                                  "type": "string",
                                  "example": "https://dev-sandbox.mienvio.mx/media/providers/FedEx.svg"
                                },
                                "is_ocurre": {
                                  "type": "boolean",
                                  "example": false
                                },
                                "extra_services": {
                                  "type": "object",
                                  "deprecated": true,
                                  "description": "DEPRECATED: Use pricing.extra_services instead",
                                  "properties": {
                                    "insurance_cost": {
                                      "type": "number",
                                      "nullable": true,
                                      "example": 58
                                    }
                                  }
                                }
                              }
                            }
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/v2/shipments/draft": {
      "post": {
        "summary": "Create shipment/order without payment (optional)",
        "description": "Creates a shipment without selecting a rate and without paying. You can use this endpoint to create a shipment and then select the rate on the website.",
        "operationId": "createShipmentAsDraft",
        "tags": [
          "Shipment creation flow"
        ],
        "requestBody": {
          "description": "Shipment draft creation request",
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "shipments": {
                    "type": "array",
                    "required": true,
                    "items": {
                      "type": "object",
                      "properties": {
                        "packing_mode": {
                          "type": "string",
                          "enum\"": [
                            "existing",
                            "none"
                          ],
                          "description": " \n**existing:** It will return the most optimal package given the items considering the user packages configuration. \n \n**none:** You must provide the package size to use.",
                          "required": true,
                          "example": "none"
                        },
                        "from_address": {
                          "type": "object",
                          "required": true,
                          "properties": {
                            "name": {
                              "type": "string",
                              "maxLength": 35,
                              "required": true,
                              "example": "Juan P\u00e9rez"
                            },
                            "street": {
                              "type": "string",
                              "maxLength": 35,
                              "required": true,
                              "example": "Calle 123"
                            },
                            "street2": {
                              "type": "string",
                              "maxLength": 35,
                              "required": true,
                              "example": "Col. Centro"
                            },
                            "reference": {
                              "type": "string",
                              "maxLength": 35,
                              "example": "Entre calles 4 y 5"
                            },
                            "city_municipality": {
                              "type": "string",
                              "maxLength": 30,
                              "required": true,
                              "example": "Cuauht\u00e9moc"
                            },
                            "zipcode": {
                              "type": "string",
                              "maxLength": 5,
                              "required": true,
                              "example": "12345"
                            },
                            "country": {
                              "type": "string",
                              "maxLength": 2,
                              "description": "List of country or territory abbreviations in ISO Standard 3166. Example: MX, US, CA",
                              "required": true,
                              "example": "MX"
                            },
                            "phone": {
                              "type": "string",
                              "maxLength": 10,
                              "required": true,
                              "example": "3333333333"
                            },
                            "email": {
                              "type": "string",
                              "maxLength": 50,
                              "required": true,
                              "example": "test@example.com"
                            },
                            "tax_id_number": {
                              "description": "RFC of the recipient. If not provided the generic mexican RFC XAXX010101000 will be used ",
                              "type": "string",
                              "required": false,
                              "example": "XAXX010101000"
                            }
                          }
                        },
                        "to_address": {
                          "type": "object",
                          "required": true,
                          "properties": {
                            "name": {
                              "type": "string",
                              "maxLength": 35,
                              "required": true,
                              "example": "Mar\u00eda Lopez"
                            },
                            "street": {
                              "type": "string",
                              "maxLength": 35,
                              "required": true,
                              "example": "Calle 567"
                            },
                            "street2": {
                              "type": "string",
                              "maxLength": 35,
                              "required": true,
                              "example": "Col. Roma"
                            },
                            "reference": {
                              "type": "string",
                              "maxLength": 35,
                              "example": "Entre calles 6 y 7"
                            },
                            "city_municipality": {
                              "type": "string",
                              "maxLength": 30,
                              "required": true,
                              "example": "CDMX"
                            },
                            "zipcode": {
                              "type": "string",
                              "maxLength": 5,
                              "required": true,
                              "example": "06760"
                            },
                            "country": {
                              "type": "string",
                              "maxLength": 2,
                              "description": "List of country or territory abbreviations in ISO Standard 3166. Example: MX, US, CA",
                              "required": true,
                              "example": "MX"
                            },
                            "phone": {
                              "type": "string",
                              "maxLength": 10,
                              "required": true,
                              "example": "3333333333"
                            },
                            "email": {
                              "type": "string",
                              "maxLength": 50,
                              "required": true,
                              "example": "test@example.com"
                            },
                            "tax_id_number": {
                              "description": "RFC of the recipient. If not provided the generic mexican RFC XAXX010101000 will be used ",
                              "type": "string",
                              "required": false,
                              "example": "XAXX010101000"
                            }
                          }
                        },
                        "items": {
                          "type": "array",
                          "description": "List of items to be shipped. Required if packing_mode is set to existing or new",
                          "items": {
                            "type": "object",
                            "properties": {
                              "weight": {
                                "type": "number",
                                "minimum": 1,
                                "required": true,
                                "example": 2.5
                              },
                              "length": {
                                "type": "number",
                                "minimum": 1,
                                "required": true,
                                "example": 10
                              },
                              "width": {
                                "type": "number",
                                "minimum": 1,
                                "required": true,
                                "example": 10
                              },
                              "height": {
                                "type": "number",
                                "minimum": 1,
                                "required": true,
                                "example": 10
                              },
                              "declared_value": {
                                "type": "number",
                                "minimum": 15,
                                "required": true,
                                "example": 100
                              },
                              "qty": {
                                "type": "number",
                                "required": true,
                                "minimum": 1,
                                "example": 1,
                                "description": "Item quantity, example a box of five books must have qty: 1, 'qty' will affect the weight of the shipment"
                              },
                              "description": {
                                "type": "string",
                                "required": true,
                                "example": "Libros"
                              },
                              "fiscal_code": {
                                "type": "string",
                                "required": true,
                                "example": "55101530"
                              },
                              "package_type": {
                                "type": "string",
                                "required": true,
                                "example": "box"
                              },
                              "external_order_id": {
                                "type": "string",
                                "example": "1001",
                                "description": "Id of the order in your system"
                              }
                            }
                          }
                        },
                        "package": {
                          "type": "object",
                          "description": "Package size. Required if packing_mode is set to none",
                          "properties": {
                            "weight": {
                              "type": "number",
                              "minimum": 1,
                              "required": true,
                              "example": 2.5
                            },
                            "length": {
                              "type": "number",
                              "minimum": 1,
                              "required": true,
                              "example": 10
                            },
                            "width": {
                              "type": "number",
                              "minimum": 1,
                              "required": true,
                              "example": 10
                            },
                            "height": {
                              "type": "number",
                              "minimum": 1,
                              "required": true,
                              "example": 10
                            },
                            "declared_value": {
                              "type": "number",
                              "minimum": 15,
                              "example": 100
                            },
                            "description": {
                              "type": "string",
                              "required": true,
                              "example": "Libros"
                            },
                            "fiscal_code": {
                              "type": "string",
                              "required": true,
                              "example": "55101530"
                            },
                            "package_type": {
                              "type": "string",
                              "required": true,
                              "example": "box"
                            },
                            "external_order_id": {
                              "type": "string",
                              "example": "1001",
                              "description": "Id of the order in your system"
                            }
                          }
                        },
                        "service": {
                          "type": "object",
                          "required": true,
                          "properties": {
                            "rate_id": {
                              "type": "string",
                              "required": false,
                              "description": "ex: 1155203. Id of rate returned in /v2/shipments/rates endpoint"
                            },
                            "insurance": {
                              "type": "boolean",
                              "description": "Send true if you want to insurance the shipment."
                            }
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "responses": {
          "201": {
            "description": "Succesful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": {
                      "type": "integer",
                      "example": 201
                    },
                    "message": {
                      "type": "string",
                      "example": "Shipments created successfully"
                    },
                    "data": {
                      "type": "object",
                      "properties": {
                        "shipments": {
                          "type": "array",
                          "items": {
                            "type": "object",
                            "properties": {
                              "shipment_id": {
                                "type": "integer",
                                "example": 12345
                              },
                              "type": {
                                "type": "string",
                                "example": "PURCHASE"
                              },
                              "owner_id": {
                                "type": "integer",
                                "example": 12345
                              },
                              "pricing": {
                                "type": "object",
                                "description": "New pricing structure",
                                "properties": {
                                  "total": {
                                    "type": "number",
                                    "example": 205.3
                                  },
                                  "breakdown": {
                                    "type": "object",
                                    "properties": {
                                      "base_cost": {
                                        "type": "number",
                                        "example": 200.0
                                      },
                                      "additional_charges": {
                                        "type": "object",
                                        "properties": {
                                          "total": {
                                            "type": "number",
                                            "example": 10.0
                                          },
                                          "breakdown": {
                                            "type": "array",
                                            "items": {
                                              "type": "object",
                                              "properties": {
                                                "type": {
                                                  "type": "string",
                                                  "example": "special_handling"
                                                },
                                                "description": {
                                                  "type": "string",
                                                  "example": "Manejo especial"
                                                },
                                                "total": {
                                                  "type": "number",
                                                  "example": 10.0
                                                }
                                              }
                                            }
                                          }
                                        }
                                      }
                                    }
                                  },
                                  "extra_services": {
                                    "type": "object",
                                    "properties": {
                                      "total": {
                                        "type": "number",
                                        "nullable": true,
                                        "example": 5.0
                                      },
                                      "breakdown": {
                                        "type": "array",
                                        "items": {
                                          "type": "object",
                                          "properties": {
                                            "type": {
                                              "type": "string",
                                              "example": "insurance"
                                            },
                                            "description": {
                                              "type": "string",
                                              "example": "Seguro adicional"
                                            },
                                            "total": {
                                              "type": "number",
                                              "example": 5.0
                                            }
                                          }
                                        }
                                      }
                                    }
                                  }
                                }
                              },
                              "amount": {
                                "type": "object",
                                "deprecated": true,
                                "description": "DEPRECATED: Use pricing instead",
                                "properties": {
                                  "total": {
                                    "type": "number"
                                  }
                                }
                              },
                              "extra_services": {
                                "type": "object",
                                "deprecated": true,
                                "description": "DEPRECATED: Use pricing.extra_services instead",
                                "properties": {
                                  "insurance": {
                                    "type": "object",
                                    "properties": {
                                      "insured_amount": {
                                        "type": "number",
                                        "example": 0
                                      },
                                      "product": {
                                        "type": "string",
                                        "example": ""
                                      },
                                      "cost": {
                                        "type": "number",
                                        "example": 0
                                      }
                                    }
                                  }
                                }
                              },
                              "address_from": {
                                "type": "object",
                                "properties": {
                                  "address_id": {
                                    "type": "integer",
                                    "example": 12345
                                  },
                                  "status": {
                                    "type": "string",
                                    "example": "FROMTO"
                                  },
                                  "name": {
                                    "type": "string",
                                    "example": "Juan P\u00e9rez"
                                  },
                                  "email": {
                                    "type": "string",
                                    "example": "juan@example.com"
                                  },
                                  "phone": {
                                    "type": "string",
                                    "example": "3333333333"
                                  },
                                  "tax_id_number": {
                                    "type": "string",
                                    "nullable": true,
                                    "example": null
                                  },
                                  "street": {
                                    "type": "string",
                                    "example": "Calle 123"
                                  },
                                  "street2": {
                                    "type": "string",
                                    "example": "Col. Centro"
                                  },
                                  "reference": {
                                    "type": "string",
                                    "example": "Entre calles 4 y 5"
                                  },
                                  "zipcode": {
                                    "type": "string",
                                    "example": "12345"
                                  },
                                  "city_municipality": {
                                    "type": "string",
                                    "example": "Cuauht\u00e9moc"
                                  },
                                  "state": {
                                    "type": "string",
                                    "example": "Ciudad de M\u00e9xico"
                                  },
                                  "country": {
                                    "type": "string",
                                    "example": "MX"
                                  }
                                }
                              },
                              "address_to": {
                                "type": "object",
                                "properties": {
                                  "address_id": {
                                    "type": "integer",
                                    "example": 12345
                                  },
                                  "status": {
                                    "type": "string",
                                    "example": "PURCHASE"
                                  },
                                  "name": {
                                    "type": "string",
                                    "example": "Mar\u00eda Lopez"
                                  },
                                  "email": {
                                    "type": "string",
                                    "example": "maria@example.com"
                                  },
                                  "phone": {
                                    "type": "string",
                                    "example": "3333333333"
                                  },
                                  "tax_id_number": {
                                    "type": "string",
                                    "nullable": true,
                                    "example": null
                                  },
                                  "street": {
                                    "type": "string",
                                    "example": "Calle 567"
                                  },
                                  "street2": {
                                    "type": "string",
                                    "example": "Col. Roma"
                                  },
                                  "reference": {
                                    "type": "string",
                                    "example": "Entre calles 6 y 7"
                                  },
                                  "zipcode": {
                                    "type": "string",
                                    "example": "06760"
                                  },
                                  "city_municipality": {
                                    "type": "string",
                                    "example": "CDMX"
                                  },
                                  "state": {
                                    "type": "string",
                                    "example": "Ciudad de M\u00e9xico"
                                  },
                                  "country": {
                                    "type": "string",
                                    "example": "MX"
                                  }
                                }
                              },
                              "package": {
                                "type": "object",
                                "properties": {
                                  "weight": {
                                    "type": "number",
                                    "example": 1
                                  },
                                  "length": {
                                    "type": "number",
                                    "example": 20
                                  },
                                  "width": {
                                    "type": "number",
                                    "example": 20
                                  },
                                  "height": {
                                    "type": "number",
                                    "example": 20
                                  },
                                  "volumetric_weight": {
                                    "type": "number",
                                    "example": 1.6
                                  },
                                  "real_weight": {
                                    "type": "number",
                                    "example": 0
                                  },
                                  "real_volumetric_weight": {
                                    "type": "number",
                                    "example": 0
                                  },
                                  "real_length": {
                                    "type": "number",
                                    "example": 0
                                  },
                                  "real_width": {
                                    "type": "number",
                                    "example": 0
                                  },
                                  "real_height": {
                                    "type": "number",
                                    "example": 0
                                  },
                                  "declared_value": {
                                    "type": "number",
                                    "example": 100
                                  },
                                  "description": {
                                    "type": "string",
                                    "example": "Libros"
                                  },
                                  "external_order_id": {
                                    "type": "string",
                                    "nullable": true,
                                    "example": "1001"
                                  },
                                  "package_type": {
                                    "type": "string",
                                    "example": "box"
                                  },
                                  "package_quantity": {
                                    "type": "number",
                                    "example": 1
                                  },
                                  "product_quantity": {
                                    "type": "number",
                                    "example": 1
                                  }
                                }
                              },
                              "rate": {
                                "type": "object",
                                "properties": {
                                  "rate_id": {
                                    "type": "integer",
                                    "example": 12345
                                  },
                                  "currency": {
                                    "type": "string",
                                    "example": "MXN"
                                  },
                                  "amount": {
                                    "type": "number",
                                    "example": 190.99
                                  },
                                  "service_name": {
                                    "type": "string",
                                    "example": "estandar"
                                  },
                                  "provider": {
                                    "type": "string",
                                    "example": "FedEx"
                                  },
                                  "duration_terms": {
                                    "type": "string",
                                    "example": "5 a 8 d\u00edas h\u00e1biles"
                                  },
                                  "days": {
                                    "type": "integer",
                                    "example": 8
                                  },
                                  "min_weight": {
                                    "type": "number",
                                    "example": 1
                                  },
                                  "max_weight": {
                                    "type": "number",
                                    "example": 2
                                  },
                                  "provider_img": {
                                    "type": "string",
                                    "example": "https://dev-sandbox.mienvio.mx/media/providers/FedEx.svg"
                                  },
                                  "is_ocurre": {
                                    "type": "boolean",
                                    "example": false
                                  }
                                }
                              },
                              "label": {
                                "type": "object",
                                "properties": {
                                  "label_id": {
                                    "type": "integer",
                                    "nullable": true,
                                    "example": null
                                  },
                                  "tracking_number": {
                                    "type": "string",
                                    "nullable": true,
                                    "example": null
                                  },
                                  "mienvio_tracking_url": {
                                    "type": "string",
                                    "nullable": true,
                                    "example": null
                                  },
                                  "label_url": {
                                    "type": "string",
                                    "nullable": true,
                                    "example": null
                                  },
                                  "created_at": {
                                    "type": "string",
                                    "nullable": true,
                                    "example": null
                                  }
                                }
                              },
                              "devolution": {
                                "type": "boolean",
                                "example": false
                              },
                              "internal_order_id": {
                                "type": "string",
                                "nullable": true,
                                "example": null
                              },
                              "order": {
                                "type": "object",
                                "properties": {
                                  "order_id": {
                                    "type": "string",
                                    "nullable": true,
                                    "example": "1001"
                                  },
                                  "marketplace": {
                                    "type": "string",
                                    "nullable": true,
                                    "example": null
                                  },
                                  "shop_id": {
                                    "type": "integer",
                                    "nullable": true,
                                    "example": null
                                  },
                                  "shop_name": {
                                    "type": "string",
                                    "nullable": true,
                                    "example": null
                                  }
                                }
                              },
                              "created_at": {
                                "type": "string",
                                "example": "2025-01-01 08:25:03"
                              },
                              "updated_at": {
                                "type": "string",
                                "example": "2025-05-05 09:31:55"
                              }
                            }
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/v2/shipments": {
      "post": {
        "summary": "Create and pay a shipment",
        "description": "Creates and pays a shipment with your wallet balance",
        "operationId": "createShipment",
        "tags": [
          "Shipment creation flow"
        ],
        "requestBody": {
          "description": "Shipment draft creation request",
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "payment_method": {
                    "type": "string",
                    "enum\"": [
                      "wallet"
                    ],
                    "required": true,
                    "example": "wallet"
                  },
                  "shipment_ids": {
                    "type": "array",
                    "description": "If shipments array of object is populated, this field is not required",
                    "items": {
                      "type": "number"
                    }
                  },
                  "shipments": {
                    "type": "array",
                    "description": "If shipment_ids array is populated, this field is not required",
                    "items": {
                      "type": "object",
                      "properties": {
                        "packing_mode": {
                          "type": "string",
                          "enum\"": [
                            "existing",
                            "none"
                          ],
                          "description": " \n**existing:** It will return the most optimal package given the items considering the user packages configuration. \n \n**none:** You must provide the package size to use.",
                          "required": true,
                          "example": "none"
                        },
                        "from_address": {
                          "type": "object",
                          "required": true,
                          "properties": {
                            "name": {
                              "type": "string",
                              "maxLength": 35,
                              "required": true,
                              "example": "Juan P\u00e9rez"
                            },
                            "street": {
                              "type": "string",
                              "maxLength": 35,
                              "required": true,
                              "example": "Calle 123"
                            },
                            "street2": {
                              "type": "string",
                              "maxLength": 35,
                              "required": true,
                              "example": "Col. Centro"
                            },
                            "reference": {
                              "type": "string",
                              "maxLength": 35,
                              "example": "Entre calles 4 y 5"
                            },
                            "city_municipality": {
                              "type": "string",
                              "maxLength": 30,
                              "required": true,
                              "example": "Cuauht\u00e9moc"
                            },
                            "zipcode": {
                              "type": "string",
                              "maxLength": 5,
                              "required": true,
                              "example": "12345"
                            },
                            "country": {
                              "type": "string",
                              "maxLength": 2,
                              "description": "List of country or territory abbreviations in ISO Standard 3166. Example: MX, US, CA",
                              "required": true,
                              "example": "MX"
                            },
                            "phone": {
                              "type": "string",
                              "maxLength": 10,
                              "required": true,
                              "example": "3333333333"
                            },
                            "email": {
                              "type": "string",
                              "maxLength": 50,
                              "required": true,
                              "example": "test@example.com"
                            },
                            "tax_id_number": {
                              "description": "RFC of the recipient. If not provided the generic mexican RFC XAXX010101000 will be used ",
                              "type": "string",
                              "required": false,
                              "example": "XAXX010101000"
                            }
                          }
                        },
                        "to_address": {
                          "type": "object",
                          "required": true,
                          "properties": {
                            "name": {
                              "type": "string",
                              "maxLength": 35,
                              "required": true,
                              "example": "Mar\u00eda Lopez"
                            },
                            "street": {
                              "type": "string",
                              "maxLength": 35,
                              "required": true,
                              "example": "Calle 567"
                            },
                            "street2": {
                              "type": "string",
                              "maxLength": 35,
                              "required": true,
                              "example": "Col. Roma"
                            },
                            "reference": {
                              "type": "string",
                              "maxLength": 35,
                              "example": "Entre calles 6 y 7"
                            },
                            "city_municipality": {
                              "type": "string",
                              "maxLength": 30,
                              "required": true,
                              "example": "CDMX"
                            },
                            "zipcode": {
                              "type": "string",
                              "maxLength": 5,
                              "required": true,
                              "example": "06760"
                            },
                            "country": {
                              "type": "string",
                              "maxLength": 2,
                              "description": "List of country or territory abbreviations in ISO Standard 3166. Example: MX, US, CA",
                              "required": true,
                              "example": "MX"
                            },
                            "phone": {
                              "type": "string",
                              "maxLength": 10,
                              "required": true,
                              "example": "3333333333"
                            },
                            "email": {
                              "type": "string",
                              "maxLength": 50,
                              "required": true,
                              "example": "test@example.com"
                            },
                            "tax_id_number": {
                              "description": "RFC of the recipient. If not provided the generic mexican RFC XAXX010101000 will be used ",
                              "type": "string",
                              "required": false,
                              "example": "XAXX010101000"
                            }
                          }
                        },
                        "items": {
                          "type": "array",
                          "description": "List of items to be shipped. Required if packing_mode is set to existing or new",
                          "items": {
                            "type": "object",
                            "properties": {
                              "weight": {
                                "type": "number",
                                "minimum": 1,
                                "required": true,
                                "example": 2.5
                              },
                              "length": {
                                "type": "number",
                                "minimum": 1,
                                "required": true,
                                "example": 10
                              },
                              "width": {
                                "type": "number",
                                "minimum": 1,
                                "required": true,
                                "example": 10
                              },
                              "height": {
                                "type": "number",
                                "minimum": 1,
                                "required": true,
                                "example": 10
                              },
                              "declared_value": {
                                "type": "number",
                                "minimum": 15,
                                "required": true,
                                "example": 100
                              },
                              "qty": {
                                "type": "number",
                                "required": true,
                                "minimum": 1,
                                "example": 1,
                                "description": "Item quantity, example a box of five books must have qty: 1, 'qty' will affect the weight of the shipment"
                              },
                              "description": {
                                "type": "string",
                                "required": true,
                                "example": "Libros"
                              },
                              "fiscal_code": {
                                "type": "string",
                                "required": true,
                                "example": "55101530"
                              },
                              "package_type": {
                                "type": "string",
                                "required": true,
                                "example": "box"
                              },
                              "external_order_id": {
                                "type": "string",
                                "example": "1001",
                                "description": "Id of the order in your system"
                              }
                            }
                          }
                        },
                        "package": {
                          "type": "object",
                          "description": "Package size. Required if packing_mode is set to none",
                          "properties": {
                            "weight": {
                              "type": "number",
                              "minimum": 1,
                              "required": true,
                              "example": 2.5
                            },
                            "length": {
                              "type": "number",
                              "minimum": 1,
                              "required": true,
                              "example": 10
                            },
                            "width": {
                              "type": "number",
                              "minimum": 1,
                              "required": true,
                              "example": 10
                            },
                            "height": {
                              "type": "number",
                              "minimum": 1,
                              "required": true,
                              "example": 10
                            },
                            "declared_value": {
                              "type": "number",
                              "minimum": 15,
                              "example": 100
                            },
                            "description": {
                              "type": "string",
                              "required": true,
                              "example": "Libros"
                            },
                            "fiscal_code": {
                              "type": "string",
                              "required": true,
                              "example": "55101530"
                            },
                            "package_type": {
                              "type": "string",
                              "required": true,
                              "example": "box"
                            },
                            "external_order_id": {
                              "type": "string",
                              "example": "1001",
                              "description": "Id of the order in your system"
                            }
                          }
                        },
                        "service": {
                          "type": "object",
                          "properties": {
                            "rate_id": {
                              "type": "string",
                              "description": "ex: 1155203. Id of rate returned in /v2/shipments/rates endpoint"
                            },
                            "insurance": {
                              "type": "boolean",
                              "description": "Send true if you want to insurance the shipment."
                            }
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "responses": {
          "201": {
            "description": "Succesful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": {
                      "type": "integer"
                    },
                    "message": {
                      "type": "string"
                    },
                    "data": {
                      "type": "object",
                      "properties": {
                        "purchase_id": {
                          "type": "integer"
                        },
                        "status": {
                          "type": "string"
                        },
                        "owner_id": {
                          "type": "integer"
                        },
                        "invoice_id": {
                          "type": "string"
                        },
                        "folio_alegra": {
                          "type": "string"
                        },
                        "payment_provider": {
                          "type": "string"
                        },
                        "payment_id": {
                          "type": "string"
                        },
                        "last4": {
                          "type": "string"
                        },
                        "amount": {
                          "type": "number"
                        },
                        "created_at": {
                          "type": "string"
                        },
                        "shipments": {
                          "type": "array",
                          "items": {
                            "type": "object",
                            "properties": {
                              "shipment_id": {
                                "type": "integer",
                                "example": 12345
                              },
                              "type": {
                                "type": "string",
                                "example": "LABEL_CREATED"
                              },
                              "owner_id": {
                                "type": "integer",
                                "example": 12345
                              },
                              "pricing": {
                                "type": "object",
                                "description": "New pricing structure",
                                "properties": {
                                  "total": {
                                    "type": "number",
                                    "example": 205.3
                                  },
                                  "breakdown": {
                                    "type": "object",
                                    "properties": {
                                      "base_cost": {
                                        "type": "number",
                                        "example": 200.0
                                      },
                                      "additional_charges": {
                                        "type": "object",
                                        "properties": {
                                          "total": {
                                            "type": "number",
                                            "example": 10.0
                                          },
                                          "breakdown": {
                                            "type": "array",
                                            "items": {
                                              "type": "object",
                                              "properties": {
                                                "type": {
                                                  "type": "string",
                                                  "example": "special_handling"
                                                },
                                                "description": {
                                                  "type": "string",
                                                  "example": "Manejo especial"
                                                },
                                                "total": {
                                                  "type": "number",
                                                  "example": 10.0
                                                }
                                              }
                                            }
                                          }
                                        }
                                      }
                                    }
                                  },
                                  "extra_services": {
                                    "type": "object",
                                    "properties": {
                                      "total": {
                                        "type": "number",
                                        "nullable": true,
                                        "example": 5.0
                                      },
                                      "breakdown": {
                                        "type": "array",
                                        "items": {
                                          "type": "object",
                                          "properties": {
                                            "type": {
                                              "type": "string",
                                              "example": "insurance"
                                            },
                                            "description": {
                                              "type": "string",
                                              "example": "Seguro adicional"
                                            },
                                            "total": {
                                              "type": "number",
                                              "example": 5.0
                                            }
                                          }
                                        }
                                      }
                                    }
                                  }
                                }
                              },
                              "amount": {
                                "type": "object",
                                "deprecated": true,
                                "description": "DEPRECATED: Use pricing instead",
                                "properties": {
                                  "total": {
                                    "type": "number"
                                  }
                                }
                              },
                              "extra_services": {
                                "type": "object",
                                "deprecated": true,
                                "description": "DEPRECATED: Use pricing.extra_services instead",
                                "properties": {
                                  "insurance": {
                                    "type": "object",
                                    "properties": {
                                      "insured_amount": {
                                        "type": "number",
                                        "example": 0
                                      },
                                      "product": {
                                        "type": "string",
                                        "example": ""
                                      },
                                      "cost": {
                                        "type": "number",
                                        "example": 0
                                      }
                                    }
                                  }
                                }
                              },
                              "address_from": {
                                "type": "object",
                                "properties": {
                                  "address_id": {
                                    "type": "integer",
                                    "example": 12345
                                  },
                                  "status": {
                                    "type": "string",
                                    "example": "FROMTO"
                                  },
                                  "name": {
                                    "type": "string",
                                    "example": "Juan P\u00e9rez"
                                  },
                                  "email": {
                                    "type": "string",
                                    "example": "juan@example.com"
                                  },
                                  "phone": {
                                    "type": "string",
                                    "example": "3333333333"
                                  },
                                  "tax_id_number": {
                                    "type": "string",
                                    "nullable": true,
                                    "example": null
                                  },
                                  "street": {
                                    "type": "string",
                                    "example": "Calle 123"
                                  },
                                  "street2": {
                                    "type": "string",
                                    "example": "Col. Centro"
                                  },
                                  "reference": {
                                    "type": "string",
                                    "example": "Entre calles 4 y 5"
                                  },
                                  "zipcode": {
                                    "type": "string",
                                    "example": "12345"
                                  },
                                  "city_municipality": {
                                    "type": "string",
                                    "example": "Cuauht\u00e9moc"
                                  },
                                  "state": {
                                    "type": "string",
                                    "example": "Ciudad de M\u00e9xico"
                                  },
                                  "country": {
                                    "type": "string",
                                    "example": "MX"
                                  }
                                }
                              },
                              "address_to": {
                                "type": "object",
                                "properties": {
                                  "address_id": {
                                    "type": "integer",
                                    "example": 12345
                                  },
                                  "status": {
                                    "type": "string",
                                    "example": "PURCHASE"
                                  },
                                  "name": {
                                    "type": "string",
                                    "example": "Mar\u00eda Lopez"
                                  },
                                  "email": {
                                    "type": "string",
                                    "example": "maria@example.com"
                                  },
                                  "phone": {
                                    "type": "string",
                                    "example": "3333333333"
                                  },
                                  "tax_id_number": {
                                    "type": "string",
                                    "nullable": true,
                                    "example": null
                                  },
                                  "street": {
                                    "type": "string",
                                    "example": "Calle 567"
                                  },
                                  "street2": {
                                    "type": "string",
                                    "example": "Col. Roma"
                                  },
                                  "reference": {
                                    "type": "string",
                                    "example": "Entre calles 6 y 7"
                                  },
                                  "zipcode": {
                                    "type": "string",
                                    "example": "06760"
                                  },
                                  "city_municipality": {
                                    "type": "string",
                                    "example": "CDMX"
                                  },
                                  "state": {
                                    "type": "string",
                                    "example": "Ciudad de M\u00e9xico"
                                  },
                                  "country": {
                                    "type": "string",
                                    "example": "MX"
                                  }
                                }
                              },
                              "package": {
                                "type": "object",
                                "properties": {
                                  "weight": {
                                    "type": "number",
                                    "example": 1
                                  },
                                  "length": {
                                    "type": "number",
                                    "example": 20
                                  },
                                  "width": {
                                    "type": "number",
                                    "example": 20
                                  },
                                  "height": {
                                    "type": "number",
                                    "example": 20
                                  },
                                  "volumetric_weight": {
                                    "type": "number",
                                    "example": 1.6
                                  },
                                  "real_weight": {
                                    "type": "number",
                                    "example": 0
                                  },
                                  "real_volumetric_weight": {
                                    "type": "number",
                                    "example": 0
                                  },
                                  "real_length": {
                                    "type": "number",
                                    "example": 0
                                  },
                                  "real_width": {
                                    "type": "number",
                                    "example": 0
                                  },
                                  "real_height": {
                                    "type": "number",
                                    "example": 0
                                  },
                                  "declared_value": {
                                    "type": "number",
                                    "example": 100
                                  },
                                  "description": {
                                    "type": "string",
                                    "example": "Libros"
                                  },
                                  "external_order_id": {
                                    "type": "string",
                                    "nullable": true,
                                    "example": "1001"
                                  },
                                  "package_type": {
                                    "type": "string",
                                    "example": "box"
                                  },
                                  "package_quantity": {
                                    "type": "number",
                                    "example": 1
                                  },
                                  "product_quantity": {
                                    "type": "number",
                                    "example": 1
                                  }
                                }
                              },
                              "rate": {
                                "type": "object",
                                "properties": {
                                  "rate_id": {
                                    "type": "integer",
                                    "example": 12345
                                  },
                                  "currency": {
                                    "type": "string",
                                    "example": "MXN"
                                  },
                                  "amount": {
                                    "type": "number",
                                    "example": 190.99
                                  },
                                  "service_name": {
                                    "type": "string",
                                    "example": "estandar"
                                  },
                                  "provider": {
                                    "type": "string",
                                    "example": "FedEx"
                                  },
                                  "duration_terms": {
                                    "type": "string",
                                    "example": "5 a 8 d\u00edas h\u00e1biles"
                                  },
                                  "days": {
                                    "type": "integer",
                                    "example": 8
                                  },
                                  "min_weight": {
                                    "type": "number",
                                    "example": 1
                                  },
                                  "max_weight": {
                                    "type": "number",
                                    "example": 2
                                  },
                                  "provider_img": {
                                    "type": "string",
                                    "example": "https://dev-sandbox.mienvio.mx/media/providers/FedEx.svg"
                                  },
                                  "is_ocurre": {
                                    "type": "boolean",
                                    "example": false
                                  }
                                }
                              },
                              "label": {
                                "type": "object",
                                "properties": {
                                  "label_id": {
                                    "type": "integer",
                                    "example": 12345
                                  },
                                  "tracking_number": {
                                    "type": "string",
                                    "example": "283932894935"
                                  },
                                  "mienvio_tracking_url": {
                                    "type": "string",
                                    "example": "https://tracking.mienvio.mx/283932894935"
                                  },
                                  "label_url": {
                                    "type": "string",
                                    "example": "https://s3.amazonaws.com/mienvio/1745392837245097000_51306_794869081560.pdf"
                                  },
                                  "created_at": {
                                    "type": "string",
                                    "example": "2025-05-27 07:49:42"
                                  }
                                }
                              },
                              "devolution": {
                                "type": "boolean",
                                "example": false
                              },
                              "internal_order_id": {
                                "type": "string",
                                "nullable": true,
                                "example": null
                              },
                              "order": {
                                "type": "object",
                                "properties": {
                                  "order_id": {
                                    "type": "string",
                                    "nullable": true,
                                    "example": "1001"
                                  },
                                  "marketplace": {
                                    "type": "string",
                                    "nullable": true,
                                    "example": null
                                  },
                                  "shop_id": {
                                    "type": "integer",
                                    "nullable": true,
                                    "example": null
                                  },
                                  "shop_name": {
                                    "type": "string",
                                    "nullable": true,
                                    "example": null
                                  }
                                }
                              },
                              "created_at": {
                                "type": "string",
                                "example": "2025-01-01 08:25:03"
                              },
                              "updated_at": {
                                "type": "string",
                                "example": "2025-01-01 09:31:55"
                              }
                            }
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        }
      },
      "put": {
        "summary": "Update shipments/orders without payment (optional)",
        "description": "Updates shipments without selecting a rate and without paying. This endpoint is required if a shipment was created with the /v2/shipments/draft endpoint and no rate was selected.",
        "operationId": "updateShipmentAsDraft",
        "tags": [
          "Shipment creation flow"
        ],
        "requestBody": {
          "description": "Shipment update request",
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "shipments": {
                    "type": "array",
                    "required": true,
                    "items": {
                      "type": "object",
                      "properties": {
                        "id": {
                          "type": "string",
                          "required": true,
                          "example": 123456,
                          "description": "Id of the shipment to update, returned in /v2/shipments/draft endpoint"
                        },
                        "packing_mode": {
                          "type": "string",
                          "enum\"": [
                            "existing",
                            "none"
                          ],
                          "description": " \n**existing:** It will return the most optimal package given the items considering the user packages configuration. \n \n**none:** You must provide the package size to use.",
                          "required": true,
                          "example": "new"
                        },
                        "from_address": {
                          "type": "object",
                          "required": true,
                          "properties": {
                            "name": {
                              "type": "string",
                              "maxLength": 35,
                              "required": true,
                              "example": "Juan P\u00e9rez"
                            },
                            "street": {
                              "type": "string",
                              "maxLength": 35,
                              "required": true,
                              "example": "Calle 123"
                            },
                            "street2": {
                              "type": "string",
                              "maxLength": 35,
                              "required": true,
                              "example": "Col. Centro"
                            },
                            "reference": {
                              "type": "string",
                              "maxLength": 35,
                              "example": "Entre calles 4 y 5"
                            },
                            "city_municipality": {
                              "type": "string",
                              "maxLength": 30,
                              "required": true,
                              "example": "Cuauht\u00e9moc"
                            },
                            "zipcode": {
                              "type": "string",
                              "maxLength": 5,
                              "required": true,
                              "example": "12345"
                            },
                            "country": {
                              "type": "string",
                              "maxLength": 2,
                              "description": "List of country or territory abbreviations in ISO Standard 3166. Example: MX, US, CA",
                              "required": true,
                              "example": "MX"
                            },
                            "phone": {
                              "type": "string",
                              "maxLength": 10,
                              "required": true,
                              "example": "3333333333"
                            },
                            "email": {
                              "type": "string",
                              "maxLength": 50,
                              "required": true,
                              "example": "test@example.com"
                            },
                            "tax_id_number": {
                              "description": "RFC of the recipient. If not provided the generic mexican RFC XAXX010101000 will be used ",
                              "type": "string",
                              "required": false,
                              "example": "XAXX010101000"
                            }
                          }
                        },
                        "to_address": {
                          "type": "object",
                          "required": true,
                          "properties": {
                            "name": {
                              "type": "string",
                              "maxLength": 35,
                              "required": true,
                              "example": "Mar\u00eda Lopez"
                            },
                            "street": {
                              "type": "string",
                              "maxLength": 35,
                              "required": true,
                              "example": "Calle 567"
                            },
                            "street2": {
                              "type": "string",
                              "maxLength": 35,
                              "required": true,
                              "example": "Col. Roma"
                            },
                            "reference": {
                              "type": "string",
                              "maxLength": 35,
                              "example": "Entre calles 6 y 7"
                            },
                            "city_municipality": {
                              "type": "string",
                              "maxLength": 30,
                              "required": true,
                              "example": "CDMX"
                            },
                            "zipcode": {
                              "type": "string",
                              "maxLength": 5,
                              "required": true,
                              "example": "06760"
                            },
                            "country": {
                              "type": "string",
                              "maxLength": 2,
                              "description": "List of country or territory abbreviations in ISO Standard 3166. Example: MX, US, CA",
                              "required": true,
                              "example": "MX"
                            },
                            "phone": {
                              "type": "string",
                              "maxLength": 10,
                              "required": true,
                              "example": "3333333333"
                            },
                            "email": {
                              "type": "string",
                              "maxLength": 50,
                              "required": true,
                              "example": "test@example.com"
                            },
                            "tax_id_number": {
                              "description": "RFC of the recipient. If not provided the generic mexican RFC XAXX010101000 will be used ",
                              "type": "string",
                              "required": false,
                              "example": "XAXX010101000"
                            }
                          }
                        },
                        "items": {
                          "type": "array",
                          "description": "List of items to be shipped. Required if packing_mode is set to existing or new",
                          "items": {
                            "type": "object",
                            "properties": {
                              "weight": {
                                "type": "number",
                                "minimum": 1,
                                "required": true,
                                "example": 2.5
[...]
