{
  "openapi": "3.0.3",
  "info": {
    "title": "DynaPictures API",
    "description": "Generate hundreds of personalized images in minutes. DynaPictures provides a REST API for generating images from templates, managing templates and workspaces, handling media assets, and subscribing to webhooks for real-time notifications.",
    "version": "1.0.0",
    "x-jentic-source-url": "https://dynapictures.com/docs/",
    "contact": {}
  },
  "servers": [
    {
      "url": "https://api.dynapictures.com",
      "description": "DynaPictures Production API"
    }
  ],
  "security": [
    {
      "BearerAuth": []
    }
  ],
  "tags": [
    {
      "name": "Image Generation",
      "description": "Generate images and PDFs from design templates"
    },
    {
      "name": "Batch",
      "description": "Batch image and PDF generation"
    },
    {
      "name": "Templates",
      "description": "Manage design templates"
    },
    {
      "name": "Workspaces",
      "description": "Manage workspaces"
    },
    {
      "name": "Media Library",
      "description": "Upload and manage media assets"
    },
    {
      "name": "Webhooks",
      "description": "Subscribe to real-time event notifications"
    }
  ],
  "paths": {
    "/designs/{uid}": {
      "post": {
        "operationId": "generateImage",
        "summary": "Generate image from template",
        "description": "Customize a template and generate an image, multipage images, or PDF by providing specific layer parameters as JSON. The format field determines the output type.",
        "tags": [
          "Image Generation"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/DesignUid"
          },
          {
            "name": "uid",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/GenerateImageRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Image generated successfully.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GenerateImageResponse"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          }
        }
      }
    },
    "/images/{imagePath}": {
      "delete": {
        "operationId": "deleteImage",
        "summary": "Delete a generated image",
        "description": "Remove a previously generated image using the subpath from the image URL returned in the generation response.",
        "tags": [
          "Image Generation"
        ],
        "parameters": [
          {
            "name": "imagePath",
            "in": "path",
            "required": true,
            "description": "The image subpath from the generation response URL.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Image deleted successfully."
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          }
        }
      }
    },
    "/batch": {
      "post": {
        "operationId": "batchGenerate",
        "summary": "Batch generate images or PDFs",
        "description": "Generate PDFs with an arbitrary number of pages using the same or different templates. Supports batch processing of multiple image generations.",
        "tags": [
          "Batch"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/BatchGenerateRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Batch generation completed successfully.",
            "content": {
              "application/pdf": {
                "schema": {
                  "type": "string",
                  "format": "binary"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BatchGenerateResponse"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          }
        }
      }
    },
    "/templates": {
      "get": {
        "operationId": "listTemplates",
        "summary": "List all templates",
        "description": "Get all templates that are ready and have 'Sync to Zapier' enabled. Returns template metadata and layer information.",
        "tags": [
          "Templates"
        ],
        "responses": {
          "200": {
            "description": "List of templates returned successfully.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Template"
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          }
        }
      }
    },
    "/templates/{uid}": {
      "get": {
        "operationId": "getTemplate",
        "summary": "Get a single template",
        "description": "Retrieve detailed information about a specific template including its layers.",
        "tags": [
          "Templates"
        ],
        "parameters": [
          {
            "name": "uid",
            "in": "path",
            "required": true,
            "description": "Unique template identifier.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Template details returned successfully.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Template"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          }
        }
      }
    },
    "/workspaces": {
      "get": {
        "operationId": "listWorkspaces",
        "summary": "List all workspaces",
        "description": "Get all workspaces the current user is a member of.",
        "tags": [
          "Workspaces"
        ],
        "responses": {
          "200": {
            "description": "List of workspaces returned successfully.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Workspace"
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          }
        }
      },
      "post": {
        "operationId": "createWorkspace",
        "summary": "Create a workspace",
        "description": "Create a new workspace. Requires account admin permissions.",
        "tags": [
          "Workspaces"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateWorkspaceRequest"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Workspace created successfully.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Workspace"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          }
        }
      }
    },
    "/workspaces/{id}": {
      "put": {
        "operationId": "updateWorkspace",
        "summary": "Update a workspace",
        "description": "Update the name of an existing workspace.",
        "tags": [
          "Workspaces"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/WorkspaceId"
          },
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateWorkspaceRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Workspace updated successfully.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Workspace"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          }
        }
      },
      "delete": {
        "operationId": "deleteWorkspace",
        "summary": "Delete a workspace",
        "description": "Delete a workspace. Warning: all templates, files, and images will be permanently deleted.",
        "tags": [
          "Workspaces"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/WorkspaceId"
          },
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Workspace deleted successfully.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Workspace"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          }
        }
      }
    },
    "/media/{workspaceId}/assets": {
      "get": {
        "operationId": "listAssets",
        "summary": "List media assets",
        "description": "Retrieve a paginated list of media assets in a workspace.",
        "tags": [
          "Media Library"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/WorkspaceIdPath"
          },
          {
            "name": "p",
            "in": "query",
            "description": "Page number for pagination.",
            "schema": {
              "type": "integer",
              "default": 1
            }
          },
          {
            "name": "workspaceId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "List of assets returned successfully.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Asset"
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          }
        }
      },
      "post": {
        "operationId": "uploadAsset",
        "summary": "Upload a media asset",
        "description": "Upload an image file to a workspace's media library.",
        "tags": [
          "Media Library"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/WorkspaceIdPath"
          },
          {
            "name": "workspaceId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "multipart/form-data": {
              "schema": {
                "type": "object",
                "properties": {
                  "file": {
                    "type": "string",
                    "format": "binary",
                    "description": "The image file to upload."
                  }
                },
                "required": [
                  "file"
                ]
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Asset uploaded successfully.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Asset"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          }
        }
      }
    },
    "/media/{workspaceId}/assets/{id}": {
      "get": {
        "operationId": "getAsset",
        "summary": "Get a media asset",
        "description": "Retrieve details of a specific media asset.",
        "tags": [
          "Media Library"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/WorkspaceIdPath"
          },
          {
            "$ref": "#/components/parameters/AssetId"
          },
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "workspaceId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Asset details returned successfully.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Asset"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          }
        }
      },
      "put": {
        "operationId": "updateAsset",
        "summary": "Update a media asset",
        "description": "Replace a media asset with a new file.",
        "tags": [
          "Media Library"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/WorkspaceIdPath"
          },
          {
            "$ref": "#/components/parameters/AssetId"
          },
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "workspaceId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "multipart/form-data": {
              "schema": {
                "type": "object",
                "properties": {
                  "file": {
                    "type": "string",
                    "format": "binary",
                    "description": "The replacement image file."
                  }
                },
                "required": [
                  "file"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Asset updated successfully.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Asset"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          }
        }
      },
      "delete": {
        "operationId": "deleteAsset",
        "summary": "Delete a media asset",
        "description": "Delete a specific media asset from the workspace.",
        "tags": [
          "Media Library"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/WorkspaceIdPath"
          },
          {
            "$ref": "#/components/parameters/AssetId"
          },
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "workspaceId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Asset deleted successfully.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Asset"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          }
        }
      }
    },
    "/hooks": {
      "post": {
        "operationId": "subscribeWebhook",
        "summary": "Subscribe to a webhook",
        "description": "Subscribe to receive notifications when a specific event occurs, such as a new image being generated for a template.",
        "tags": [
          "Webhooks"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/WebhookSubscribeRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Webhook subscription created successfully.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/WebhookSubscription"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          }
        }
      },
      "delete": {
        "operationId": "unsubscribeWebhook",
        "summary": "Unsubscribe from a webhook",
        "description": "Unsubscribe from a webhook by sending the same parameters used during subscription.",
        "tags": [
          "Webhooks"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/WebhookUnsubscribeRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Webhook unsubscribed successfully.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean"
                    },
                    "message": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          }
        }
      }
    }
  },
  "components": {
    "securitySchemes": {
      "BearerAuth": {
        "type": "http",
        "scheme": "bearer",
        "description": "API key obtained from the DynaPictures dashboard. Pass as 'Authorization: Bearer <API_KEY>'."
      }
    },
    "parameters": {
      "DesignUid": {
        "name": "uid",
        "in": "path",
        "required": true,
        "description": "Unique design template identifier.",
        "schema": {
          "type": "string"
        }
      },
      "WorkspaceId": {
        "name": "id",
        "in": "path",
        "required": true,
        "description": "Workspace identifier.",
        "schema": {
          "type": "string"
        }
      },
      "WorkspaceIdPath": {
        "name": "workspaceId",
        "in": "path",
        "required": true,
        "description": "Workspace identifier.",
        "schema": {
          "type": "string"
        }
      },
      "AssetId": {
        "name": "id",
        "in": "path",
        "required": true,
        "description": "Asset identifier.",
        "schema": {
          "type": "string"
        }
      }
    },
    "schemas": {
      "ErrorResponse": {
        "type": "object",
        "properties": {
          "error": {
            "type": "string",
            "description": "Error type or code."
          },
          "message": {
            "type": "string",
            "description": "Human-readable error message."
          }
        },
        "required": [
          "error",
          "message"
        ]
      },
      "GenerateImageRequest": {
        "type": "object",
        "properties": {
          "format": {
            "type": "string",
            "enum": [
              "png",
              "jpg",
              "webp",
              "pdf"
            ],
            "default": "png",
            "description": "Output format. Use 'pdf' for PDF generation."
          },
          "metadata": {
            "type": "object",
            "additionalProperties": true,
            "description": "Optional metadata to include with the generated image."
          },
          "params": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/LayerParam"
            },
            "description": "Array of layer parameter overrides for single image generation."
          },
          "pages": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/PageParam"
            },
            "description": "Array of page definitions for multipage image or PDF generation."
          }
        }
      },
      "LayerParam": {
        "type": "object",
        "properties": {
          "name": {
            "type": "string",
            "description": "Name of the layer to customize."
          },
          "text": {
            "type": "string",
            "description": "Text content for text layers."
          },
          "imageUrl": {
            "type": "string",
            "format": "uri",
            "description": "Image URL for image layers."
          },
          "color": {
            "type": "string",
            "description": "Color value (e.g., hex code) for applicable layers."
          },
          "visible": {
            "type": "boolean",
            "description": "Whether the layer is visible."
          }
        },
        "required": [
          "name"
        ]
      },
      "PageParam": {
        "type": "object",
        "properties": {
          "params": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/LayerParam"
            },
            "description": "Layer parameter overrides for this page."
          },
          "templateId": {
            "type": "string",
            "description": "Optional template ID if using a different template for this page."
          }
        }
      },
      "GenerateImageResponse": {
        "type": "object",
        "properties": {
          "imageUrl": {
            "type": "string",
            "format": "uri",
            "description": "URL of the generated image."
          },
          "pdfUrl": {
            "type": "string",
            "format": "uri",
            "description": "URL of the generated PDF (when format is pdf)."
          },
          "width": {
            "type": "integer",
            "description": "Image width in pixels."
          },
          "height": {
            "type": "integer",
            "description": "Image height in pixels."
          },
          "metadata": {
            "type": "object",
            "additionalProperties": true,
            "description": "Metadata associated with the generated image."
          },
          "pages": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "imageUrl": {
                  "type": "string",
                  "format": "uri"
                },
                "width": {
                  "type": "integer"
                },
                "height": {
                  "type": "integer"
                }
              }
            },
            "description": "Array of page results for multipage generation."
          }
        }
      },
      "BatchGenerateRequest": {
        "type": "object",
        "properties": {
          "templateId": {
            "type": "string",
            "description": "Default template ID for the batch."
          },
          "format": {
            "type": "string",
            "enum": [
              "png",
              "jpg",
              "webp",
              "pdf"
            ],
            "default": "pdf",
            "description": "Output format for the batch."
          },
          "pages": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/PageParam"
            },
            "description": "Array of page definitions for batch generation."
          }
        },
        "required": [
          "templateId",
          "pages"
        ]
      },
      "BatchGenerateResponse": {
        "type": "object",
        "properties": {
          "pdfUrl": {
            "type": "string",
            "format": "uri",
            "description": "URL of the generated PDF."
          },
          "images": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "imageUrl": {
                  "type": "string",
                  "format": "uri"
                },
                "width": {
                  "type": "integer"
                },
                "height": {
                  "type": "integer"
                }
              }
            },
            "description": "Array of generated image results."
          }
        }
      },
      "Template": {
        "type": "object",
        "properties": {
          "uid": {
            "type": "string",
            "description": "Unique template identifier."
          },
          "name": {
            "type": "string",
            "description": "Template name."
          },
          "width": {
            "type": "integer",
            "description": "Template width in pixels."
          },
          "height": {
            "type": "integer",
            "description": "Template height in pixels."
          },
          "thumbnailUrl": {
            "type": "string",
            "format": "uri",
            "description": "URL of the template thumbnail."
          },
          "layers": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/TemplateLayer"
            },
            "description": "Customizable layers in the template."
          },
          "createdAt": {
            "type": "string",
            "format": "date-time",
            "description": "Creation timestamp."
          },
          "updatedAt": {
            "type": "string",
            "format": "date-time",
            "description": "Last update timestamp."
          }
        }
      },
      "TemplateLayer": {
        "type": "object",
        "properties": {
          "name": {
            "type": "string",
            "description": "Layer name used as parameter key."
          },
          "type": {
            "type": "string",
            "enum": [
              "text",
              "image",
              "shape",
              "background"
            ],
            "description": "Layer type."
          },
          "defaultValue": {
            "type": "string",
            "description": "Default value for the layer."
          }
        }
      },
      "Workspace": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "description": "Workspace identifier."
          },
          "name": {
            "type": "string",
            "description": "Workspace name."
          },
          "createdAt": {
            "type": "string",
            "format": "date-time",
            "description": "Creation timestamp."
          },
          "updatedAt": {
            "type": "string",
            "format": "date-time",
            "description": "Last update timestamp."
          }
        }
      },
      "CreateWorkspaceRequest": {
        "type": "object",
        "properties": {
          "name": {
            "type": "string",
            "description": "Name for the new workspace."
          }
        },
        "required": [
          "name"
        ]
      },
      "Asset": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "description": "Asset identifier."
          },
          "url": {
            "type": "string",
            "format": "uri",
            "description": "URL to access the asset."
          },
          "filename": {
            "type": "string",
            "description": "Original filename."
          },
          "mimeType": {
            "type": "string",
            "description": "MIME type of the asset."
          },
          "size": {
            "type": "integer",
            "description": "File size in bytes."
          },
          "width": {
            "type": "integer",
            "description": "Image width in pixels."
          },
          "height": {
            "type": "integer",
            "description": "Image height in pixels."
          },
          "createdAt": {
            "type": "string",
            "format": "date-time",
            "description": "Upload timestamp."
          }
        }
      },
      "WebhookSubscribeRequest": {
        "type": "object",
        "properties": {
          "targetUrl": {
            "type": "string",
            "format": "uri",
            "description": "URL to receive webhook notifications."
          },
          "eventType": {
            "type": "string",
            "enum": [
              "NEW_IMAGE"
            ],
            "description": "The event type to subscribe to."
          },
          "templateId": {
            "type": "string",
            "description": "Template ID to monitor for the event."
          }
        },
        "required": [
          "targetUrl",
          "eventType",
          "templateId"
        ]
      },
      "WebhookUnsubscribeRequest": {
        "type": "object",
        "properties": {
          "targetUrl": {
            "type": "string",
            "format": "uri",
            "description": "The webhook URL to unsubscribe."
          },
          "eventType": {
            "type": "string",
            "enum": [
              "NEW_IMAGE"
            ],
            "description": "The event type to unsubscribe from."
          },
          "templateId": {
            "type": "string",
            "description": "Template ID to stop monitoring."
          }
        },
        "required": [
          "targetUrl",
          "eventType",
          "templateId"
        ]
      },
      "WebhookSubscription": {
        "type": "object",
        "properties": {
          "uid": {
            "type": "string",
            "description": "Unique webhook subscription identifier."
          },
          "targetUrl": {
            "type": "string",
            "format": "uri",
            "description": "URL receiving notifications."
          },
          "eventType": {
            "type": "string",
            "description": "Subscribed event type."
          },
          "templateId": {
            "type": "string",
            "description": "Monitored template ID."
          },
          "createdAt": {
            "type": "string",
            "format": "date-time",
            "description": "Subscription creation timestamp."
          }
        }
      }
    },
    "responses": {
      "BadRequest": {
        "description": "Bad request - invalid parameters or missing required fields.",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/ErrorResponse"
            }
          }
        }
      },
      "Unauthorized": {
        "description": "Unauthorized - invalid or missing API key.",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/ErrorResponse"
            }
          }
        }
      },
      "NotFound": {
        "description": "Resource not found.",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/ErrorResponse"
            }
          }
        }
      }
    }
  }
}
