{
  "openapi": "3.0.3",
  "info": {
    "title": "Dexcom CGM API",
    "version": "3.0.0",
    "description": "Dexcom Continuous Glucose Monitoring (CGM) API provides access to glucose data, device information, alerts, calibrations, and user events from Dexcom CGM systems. The API enables developers to build applications that retrieve real-time and historical glucose readings.",
    "x-jentic-source-url": "https://developer.dexcom.com/",
    "contact": {
      "name": "API Support"
    }
  },
  "servers": [
    {
      "url": "https://api.dexcom.com",
      "description": "Production"
    },
    {
      "url": "https://sandbox-api.dexcom.com",
      "description": "Sandbox"
    }
  ],
  "paths": {
    "/v3/users/self/egvs": {
      "get": {
        "operationId": "getEstimatedGlucoseValues",
        "summary": "Get estimated glucose values",
        "description": "Returns estimated glucose values (EGVs) for the authenticated user within a specified date range. EGVs represent continuous glucose readings from the CGM sensor.",
        "tags": [
          "Glucose Data"
        ],
        "parameters": [
          {
            "name": "startDate",
            "in": "query",
            "required": true,
            "description": "Start of the query range in ISO 8601 format",
            "schema": {
              "type": "string",
              "format": "date-time"
            }
          },
          {
            "name": "endDate",
            "in": "query",
            "required": true,
            "description": "End of the query range in ISO 8601 format",
            "schema": {
              "type": "string",
              "format": "date-time"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response with EGV records",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/EGVsResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request - invalid date range",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized - invalid or expired token",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden - insufficient scope",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/v3/users/self/events": {
      "get": {
        "operationId": "getUserEvents",
        "summary": "Get user events",
        "description": "Returns user-entered events including carbohydrate intake, insulin doses, exercise, and health events within a specified date range.",
        "tags": [
          "Events"
        ],
        "parameters": [
          {
            "name": "startDate",
            "in": "query",
            "required": true,
            "description": "Start of the query range in ISO 8601 format",
            "schema": {
              "type": "string",
              "format": "date-time"
            }
          },
          {
            "name": "endDate",
            "in": "query",
            "required": true,
            "description": "End of the query range in ISO 8601 format",
            "schema": {
              "type": "string",
              "format": "date-time"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response with event records",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/EventsResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/v3/users/self/devices": {
      "get": {
        "operationId": "getDevices",
        "summary": "Get devices",
        "description": "Returns information about the user's Dexcom CGM devices including transmitter and display device details.",
        "tags": [
          "Devices"
        ],
        "responses": {
          "200": {
            "description": "Successful response with device records",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DevicesResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/v3/users/self/alerts": {
      "get": {
        "operationId": "getAlertScheduleSettings",
        "summary": "Get alert schedule settings",
        "description": "Returns the user's alert and alert schedule settings for high/low glucose thresholds, signal loss, and other CGM alerts.",
        "tags": [
          "Alerts"
        ],
        "parameters": [
          {
            "name": "startDate",
            "in": "query",
            "required": true,
            "description": "Start of the query range",
            "schema": {
              "type": "string",
              "format": "date-time"
            }
          },
          {
            "name": "endDate",
            "in": "query",
            "required": true,
            "description": "End of the query range",
            "schema": {
              "type": "string",
              "format": "date-time"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response with alert settings",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AlertsResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/v3/users/self/calibrations": {
      "get": {
        "operationId": "getCalibrations",
        "summary": "Get calibrations",
        "description": "Returns calibration records for the user's CGM within a specified date range.",
        "tags": [
          "Calibrations"
        ],
        "parameters": [
          {
            "name": "startDate",
            "in": "query",
            "required": true,
            "description": "Start of the query range",
            "schema": {
              "type": "string",
              "format": "date-time"
            }
          },
          {
            "name": "endDate",
            "in": "query",
            "required": true,
            "description": "End of the query range",
            "schema": {
              "type": "string",
              "format": "date-time"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response with calibration records",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CalibrationsResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/v3/users/self/dataRange": {
      "get": {
        "operationId": "getDataRange",
        "summary": "Get data range",
        "description": "Returns the date range of data available for the authenticated user, optionally filtered by last sync time. Useful for determining what data can be queried.",
        "tags": [
          "Glucose Data"
        ],
        "parameters": [
          {
            "name": "lastSyncTime",
            "in": "query",
            "required": false,
            "description": "Last sync time to check for new data",
            "schema": {
              "type": "string",
              "format": "date-time"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response with data range info",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DataRangeResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/v3/users/self/statistics": {
      "get": {
        "operationId": "getStatistics",
        "summary": "Get glucose statistics",
        "description": "Returns summary glucose statistics including time in range, average glucose, GMI, and coefficient of variation for a specified date range.",
        "tags": [
          "Glucose Data"
        ],
        "parameters": [
          {
            "name": "startDate",
            "in": "query",
            "required": true,
            "description": "Start of the query range",
            "schema": {
              "type": "string",
              "format": "date-time"
            }
          },
          {
            "name": "endDate",
            "in": "query",
            "required": true,
            "description": "End of the query range",
            "schema": {
              "type": "string",
              "format": "date-time"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response with statistics",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/StatisticsResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/v2/oauth2/login": {
      "get": {
        "operationId": "oauthLogin",
        "summary": "OAuth2 authorization",
        "description": "Redirects the user to the Dexcom login page for OAuth2 authorization. After successful authorization, the user is redirected back to the specified redirect URI with an authorization code.",
        "tags": [
          "Authentication"
        ],
        "parameters": [
          {
            "name": "client_id",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "OAuth2 client ID"
          },
          {
            "name": "redirect_uri",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uri"
            },
            "description": "Redirect URI after authorization"
          },
          {
            "name": "response_type",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string",
              "enum": [
                "code"
              ]
            },
            "description": "OAuth2 response type"
          },
          {
            "name": "scope",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Requested OAuth2 scopes (e.g., offline_access)"
          },
          {
            "name": "state",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "CSRF state parameter"
          }
        ],
        "responses": {
          "302": {
            "description": "Redirect to Dexcom login page"
          },
          "400": {
            "description": "Bad request - invalid parameters",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized - invalid client",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/v2/oauth2/token": {
      "post": {
        "operationId": "oauthToken",
        "summary": "Exchange authorization code for token",
        "description": "Exchanges an authorization code for an access token and refresh token, or refreshes an existing token.",
        "tags": [
          "Authentication"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/x-www-form-urlencoded": {
              "schema": {
                "type": "object",
                "properties": {
                  "client_id": {
                    "type": "string",
                    "description": "OAuth2 client ID"
                  },
                  "client_secret": {
                    "type": "string",
                    "description": "OAuth2 client secret"
                  },
                  "code": {
                    "type": "string",
                    "description": "Authorization code from login redirect"
                  },
                  "grant_type": {
                    "type": "string",
                    "enum": [
                      "authorization_code",
                      "refresh_token"
                    ],
                    "description": "OAuth2 grant type"
                  },
                  "redirect_uri": {
                    "type": "string",
                    "format": "uri",
                    "description": "Redirect URI used during authorization"
                  },
                  "refresh_token": {
                    "type": "string",
                    "description": "Refresh token for token renewal"
                  }
                },
                "required": [
                  "client_id",
                  "client_secret",
                  "grant_type"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful token response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TokenResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request - invalid grant",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized - invalid client credentials",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    }
  },
  "components": {
    "schemas": {
      "EGV": {
        "type": "object",
        "properties": {
          "recordId": {
            "type": "string",
            "description": "Unique record identifier"
          },
          "systemTime": {
            "type": "string",
            "format": "date-time",
            "description": "System time of the reading"
          },
          "displayTime": {
            "type": "string",
            "format": "date-time",
            "description": "Display time of the reading"
          },
          "transmitterId": {
            "type": "string",
            "description": "Transmitter ID"
          },
          "transmitterTicks": {
            "type": "integer",
            "description": "Transmitter tick count"
          },
          "value": {
            "type": "number",
            "description": "Glucose value in mg/dL"
          },
          "status": {
            "type": "string",
            "description": "Reading status"
          },
          "trend": {
            "type": "string",
            "enum": [
              "doubleUp",
              "singleUp",
              "fortyFiveUp",
              "flat",
              "fortyFiveDown",
              "singleDown",
              "doubleDown",
              "none",
              "notComputable",
              "rateOutOfRange"
            ],
            "description": "Glucose trend direction"
          },
          "trendRate": {
            "type": "number",
            "description": "Rate of glucose change in mg/dL/min"
          },
          "unit": {
            "type": "string",
            "enum": [
              "mg/dL",
              "mmol/L"
            ],
            "description": "Glucose unit of measure"
          }
        }
      },
      "EGVsResponse": {
        "type": "object",
        "properties": {
          "recordType": {
            "type": "string"
          },
          "recordVersion": {
            "type": "string"
          },
          "userId": {
            "type": "string"
          },
          "records": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/EGV"
            }
          }
        }
      },
      "Event": {
        "type": "object",
        "properties": {
          "recordId": {
            "type": "string"
          },
          "systemTime": {
            "type": "string",
            "format": "date-time"
          },
          "displayTime": {
            "type": "string",
            "format": "date-time"
          },
          "eventType": {
            "type": "string",
            "enum": [
              "carbs",
              "insulin",
              "exercise",
              "health"
            ],
            "description": "Type of user event"
          },
          "eventSubType": {
            "type": "string",
            "description": "Subtype of event (e.g., light, medium, heavy for exercise)"
          },
          "value": {
            "type": "string",
            "description": "Event value (e.g., grams of carbs, units of insulin)"
          },
          "unit": {
            "type": "string",
            "description": "Unit for the event value"
          }
        }
      },
      "EventsResponse": {
        "type": "object",
        "properties": {
          "recordType": {
            "type": "string"
          },
          "recordVersion": {
            "type": "string"
          },
          "userId": {
            "type": "string"
          },
          "records": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Event"
            }
          }
        }
      },
      "Device": {
        "type": "object",
        "properties": {
          "lastUploadDate": {
            "type": "string",
            "format": "date-time"
          },
          "alertScheduleList": {
            "type": "array",
            "items": {
              "type": "object"
            }
          },
          "transmitterGeneration": {
            "type": "string",
            "enum": [
              "g4",
              "g5",
              "g6",
              "g7"
            ],
            "description": "Transmitter generation"
          },
          "displayDevice": {
            "type": "string",
            "description": "Type of display device"
          },
          "transmitterId": {
            "type": "string",
            "description": "Transmitter serial number"
          },
          "displayApp": {
            "type": "string",
            "description": "Display application name"
          }
        }
      },
      "DevicesResponse": {
        "type": "object",
        "properties": {
          "recordType": {
            "type": "string"
          },
          "recordVersion": {
            "type": "string"
          },
          "userId": {
            "type": "string"
          },
          "records": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Device"
            }
          }
        }
      },
      "Alert": {
        "type": "object",
        "properties": {
          "recordId": {
            "type": "string"
          },
          "systemTime": {
            "type": "string",
            "format": "date-time"
          },
          "displayTime": {
            "type": "string",
            "format": "date-time"
          },
          "alertName": {
            "type": "string",
            "enum": [
              "high",
              "low",
              "rise",
              "fall",
              "outOfRange",
              "urgentLow",
              "urgentLowSoon",
              "noReadings",
              "fixedLow"
            ],
            "description": "Name of the alert"
          },
          "alertState": {
            "type": "string",
            "enum": [
              "unknown",
              "inactive",
              "activeSnoozed",
              "activeAlarming"
            ],
            "description": "State of the alert"
          }
        }
      },
      "AlertsResponse": {
        "type": "object",
        "properties": {
          "recordType": {
            "type": "string"
          },
          "recordVersion": {
            "type": "string"
          },
          "userId": {
            "type": "string"
          },
          "records": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Alert"
            }
          }
        }
      },
      "Calibration": {
        "type": "object",
        "properties": {
          "recordId": {
            "type": "string"
          },
          "systemTime": {
            "type": "string",
            "format": "date-time"
          },
          "displayTime": {
            "type": "string",
            "format": "date-time"
          },
          "value": {
            "type": "number",
            "description": "Calibration value in mg/dL"
          },
          "unit": {
            "type": "string",
            "enum": [
              "mg/dL",
              "mmol/L"
            ]
          }
        }
      },
      "CalibrationsResponse": {
        "type": "object",
        "properties": {
          "recordType": {
            "type": "string"
          },
          "recordVersion": {
            "type": "string"
          },
          "userId": {
            "type": "string"
          },
          "records": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Calibration"
            }
          }
        }
      },
      "DataRangeResponse": {
        "type": "object",
        "properties": {
          "recordType": {
            "type": "string"
          },
          "recordVersion": {
            "type": "string"
          },
          "userId": {
            "type": "string"
          },
          "calibrations": {
            "type": "object",
            "properties": {
              "start": {
                "type": "object",
                "properties": {
                  "systemTime": {
                    "type": "string",
                    "format": "date-time"
                  },
                  "displayTime": {
                    "type": "string",
                    "format": "date-time"
                  }
                }
              },
              "end": {
                "type": "object",
                "properties": {
                  "systemTime": {
                    "type": "string",
                    "format": "date-time"
                  },
                  "displayTime": {
                    "type": "string",
                    "format": "date-time"
                  }
                }
              }
            }
          },
          "egvs": {
            "type": "object",
            "properties": {
              "start": {
                "type": "object",
                "properties": {
                  "systemTime": {
                    "type": "string",
                    "format": "date-time"
                  },
                  "displayTime": {
                    "type": "string",
                    "format": "date-time"
                  }
                }
              },
              "end": {
                "type": "object",
                "properties": {
                  "systemTime": {
                    "type": "string",
                    "format": "date-time"
                  },
                  "displayTime": {
                    "type": "string",
                    "format": "date-time"
                  }
                }
              }
            }
          },
          "events": {
            "type": "object",
            "properties": {
              "start": {
                "type": "object",
                "properties": {
                  "systemTime": {
                    "type": "string",
                    "format": "date-time"
                  },
                  "displayTime": {
                    "type": "string",
                    "format": "date-time"
                  }
                }
              },
              "end": {
                "type": "object",
                "properties": {
                  "systemTime": {
                    "type": "string",
                    "format": "date-time"
                  },
                  "displayTime": {
                    "type": "string",
                    "format": "date-time"
                  }
                }
              }
            }
          }
        }
      },
      "StatisticsResponse": {
        "type": "object",
        "properties": {
          "userId": {
            "type": "string"
          },
          "hypoglycemiaRisk": {
            "type": "string",
            "enum": [
              "none",
              "minimal",
              "low",
              "moderate",
              "high"
            ]
          },
          "nDays": {
            "type": "integer",
            "description": "Number of days in the statistics period"
          },
          "mean": {
            "type": "number",
            "description": "Mean glucose value"
          },
          "median": {
            "type": "number",
            "description": "Median glucose value"
          },
          "standardDeviation": {
            "type": "number",
            "description": "Standard deviation of glucose values"
          },
          "coefficientOfVariation": {
            "type": "number",
            "description": "Coefficient of variation"
          },
          "gmi": {
            "type": "number",
            "description": "Glucose Management Indicator"
          },
          "utilizationPercent": {
            "type": "number",
            "description": "Percentage of time CGM data was available"
          }
        }
      },
      "TokenResponse": {
        "type": "object",
        "properties": {
          "access_token": {
            "type": "string"
          },
          "expires_in": {
            "type": "integer"
          },
          "token_type": {
            "type": "string"
          },
          "refresh_token": {
            "type": "string"
          }
        }
      },
      "ErrorResponse": {
        "type": "object",
        "properties": {
          "fault": {
            "type": "object",
            "properties": {
              "faultstring": {
                "type": "string"
              },
              "detail": {
                "type": "object",
                "properties": {
                  "errorcode": {
                    "type": "string"
                  }
                }
              }
            }
          }
        }
      }
    },
    "securitySchemes": {
      "oauth2": {
        "type": "oauth2",
        "flows": {
          "authorizationCode": {
            "authorizationUrl": "https://api.dexcom.com/v2/oauth2/login",
            "tokenUrl": "https://api.dexcom.com/v2/oauth2/token",
            "scopes": {
              "offline_access": "Access data when user is not present"
            }
          }
        }
      },
      "bearerAuth": {
        "type": "http",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  },
  "security": [
    {
      "oauth2": []
    },
    {
      "bearerAuth": []
    }
  ],
  "tags": [
    {
      "name": "Alerts"
    },
    {
      "name": "Authentication"
    },
    {
      "name": "Calibrations"
    },
    {
      "name": "Devices"
    },
    {
      "name": "Events"
    },
    {
      "name": "Glucose Data"
    }
  ]
}
