{
  "openapi": "3.0.0",
  "info": {
    "title": "Compport Api",
    "description": "This is a api documentation for compport server.  You can find\nout more about Compport.com at [https://compport.com](https://compport.com).\n",
    "contact": {
      "email": "demo@compport.com"
    },
    "version": "1.0.0",
    "x-jentic-source-url": "https://api.swaggerhub.com/apis/Compport/Compport-API/1.0.0"
  },
  "servers": [
    {
      "url": "https://uatone-api.compport.com/api/v1",
      "description": "UAT Environment"
    },
    {
      "url": "https://api.preview.compport.com/api/v1",
      "description": "Preview Environment"
    },
    {
      "url": "https://api.compport.com/api/v1",
      "description": "India Production Environment"
    },
    {
      "url": "https://us-api.compport.com/api/v1",
      "description": "US Production Environment"
    },
    {
      "url": "https://eu-api.compport.com/api/v1",
      "description": "EU Production Environment"
    }
  ],
  "tags": [
    {
      "name": "access",
      "description": "Operations about access"
    },
    {
      "name": "employee",
      "description": "Operations about employee"
    }
  ],
  "paths": {
    "/login": {
      "post": {
        "tags": [
          "access"
        ],
        "summary": "Login to the system",
        "operationId": "login",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/Login"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "JWT token",
            "content": {
              "application/json": {
                "schema": {
                  "type": "string"
                }
              }
            }
          },
          "400": {
            "description": "Invalid username/password supplied"
          }
        }
      }
    },
    "/data-fields": {
      "get": {
        "tags": [
          "Compport-Fields"
        ],
        "summary": "Get all fields , with display-name and mandatory status",
        "operationId": "getAllFields",
        "parameters": [
          {
            "name": "authorization",
            "in": "header",
            "description": "JWT Token generated from login (Bearer token) (Bearer token)",
            "required": true,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/components/requestBodies/DataFields"
          },
          "401": {
            "$ref": "#/components/responses/401"
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ]
      }
    },
    "/employee": {
      "get": {
        "tags": [
          "employee"
        ],
        "summary": "Get all employee result set",
        "operationId": "getEmployeeAll",
        "parameters": [
          {
            "name": "authorization",
            "in": "header",
            "description": "JWT Token generated from login (Bearer token) (Bearer token)",
            "required": true,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "from_date",
            "in": "query",
            "description": "Record updation from date",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string",
              "format": "date"
            }
          },
          {
            "name": "end_date",
            "in": "query",
            "description": "Record updation end date",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string",
              "format": "date"
            }
          },
          {
            "name": "offset",
            "in": "query",
            "description": "The number of items to skip before starting to collect the result set",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "description": "The numbers of items to return",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/components/requestBodies/EmployeeArray"
          },
          "401": {
            "$ref": "#/components/responses/401"
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ]
      }
    },
    "/employee/compensation": {
      "get": {
        "tags": [
          "employee"
        ],
        "summary": "Get all employee compensation details result set",
        "operationId": "getEmployeeCompensationAll",
        "parameters": [
          {
            "name": "authorization",
            "in": "header",
            "description": "JWT Token generated from login (Bearer token)",
            "required": true,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "from_date",
            "in": "query",
            "description": "Record updation from date",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string",
              "format": "date"
            }
          },
          {
            "name": "end_date",
            "in": "query",
            "description": "Record updation end date",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string",
              "format": "date"
            }
          },
          {
            "name": "offset",
            "in": "query",
            "description": "The number of items to skip before starting to collect the result set",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "description": "The numbers of items to return",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "rule_name",
            "in": "query",
            "description": "Rule Name in case of fetching data from rule. If not passed it will return data from core.",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/components/requestBodies/EmployeeCompensationDataArray"
          },
          "401": {
            "$ref": "#/components/responses/401"
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ]
      }
    },
    "/employee/demography": {
      "get": {
        "tags": [
          "employee"
        ],
        "summary": "Get all employee demographic details result set",
        "operationId": "getEmployeeDemographicAll",
        "parameters": [
          {
            "name": "authorization",
            "in": "header",
            "description": "JWT Token generated from login (Bearer token)",
            "required": true,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "from_date",
            "in": "query",
            "description": "Record updation from date",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string",
              "format": "date"
            }
          },
          {
            "name": "end_date",
            "in": "query",
            "description": "Record updation end date",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string",
              "format": "date"
            }
          },
          {
            "name": "offset",
            "in": "query",
            "description": "The number of items to skip before starting to collect the result set",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "description": "The numbers of items to return",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/components/requestBodies/EmployeeDemographicDataArray"
          },
          "401": {
            "$ref": "#/components/responses/401"
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ]
      }
    },
    "/employee/bulk": {
      "post": {
        "tags": [
          "employee"
        ],
        "summary": "Create and update employees in given input array. Max request size is 45mb.",
        "operationId": "createEmployeesBulk",
        "parameters": [
          {
            "name": "authorization",
            "in": "header",
            "description": "JWT Token generated from login (Bearer token)",
            "required": true,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "$ref": "#/components/requestBodies/EmployeeArray"
        },
        "responses": {
          "200": {
            "$ref": "#/components/requestBodies/EmpBulkResponse"
          },
          "default": {
            "description": "successful operation"
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ]
      }
    },
    "/employee/bulk/findByEmpUId": {
      "post": {
        "tags": [
          "employee"
        ],
        "summary": "Get employee by employee unique identifier",
        "operationId": "getEmployeesByEmpUIdBulk",
        "parameters": [
          {
            "name": "authorization",
            "in": "header",
            "description": "JWT Token generated from login (Bearer token)",
            "required": true,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "offset",
            "in": "query",
            "description": "The number of items to skip before starting to collect the result set",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "description": "The numbers of items to return",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "requestBody": {
          "$ref": "#/components/requestBodies/EmpUIdArray"
        },
        "responses": {
          "200": {
            "$ref": "#/components/requestBodies/EmployeeArray"
          },
          "401": {
            "$ref": "#/components/responses/401"
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ]
      }
    },
    "/employee/bulk/activate": {
      "post": {
        "tags": [
          "employee"
        ],
        "summary": "Activate employees by employee unique identifier",
        "operationId": "updateEmployeesBulkActivate",
        "parameters": [
          {
            "name": "authorization",
            "in": "header",
            "description": "JWT Token generated from login (Bearer token)",
            "required": true,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "$ref": "#/components/requestBodies/EmpUIdArray"
        },
        "responses": {
          "200": {
            "$ref": "#/components/requestBodies/EmpBulkResponse"
          },
          "401": {
            "$ref": "#/components/responses/401"
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ]
      }
    },
    "/employee/bulk/inactivate": {
      "post": {
        "tags": [
          "employee"
        ],
        "summary": "Inactivate employees by employee unique identifier",
        "operationId": "updateEmployeesBulkInactivate",
        "parameters": [
          {
            "name": "authorization",
            "in": "header",
            "description": "JWT Token generated from login (Bearer token)",
            "required": true,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "$ref": "#/components/requestBodies/EmpInactiveArray"
        },
        "responses": {
          "200": {
            "$ref": "#/components/requestBodies/EmpBulkResponse"
          },
          "401": {
            "$ref": "#/components/responses/401"
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ]
      }
    },
    "/employee/bulk/delete": {
      "post": {
        "tags": [
          "employee"
        ],
        "summary": "Delete employees by employee unique identifier",
        "operationId": "updateEmployeesBulkDelete",
        "parameters": [
          {
            "name": "authorization",
            "in": "header",
            "description": "JWT Token generated from login (Bearer token)",
            "required": true,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "$ref": "#/components/requestBodies/EmpUIdArray"
        },
        "responses": {
          "200": {
            "$ref": "#/components/requestBodies/EmpBulkResponse"
          },
          "401": {
            "$ref": "#/components/responses/401"
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ]
      }
    },
    "/employee_history/bulk": {
      "post": {
        "tags": [
          "employee"
        ],
        "summary": "Create and update employees historical data in given input array. Max request size is 45mb.",
        "description": "This API inserts records into the employee history. If `start_date` and `end_date` (in **YYYY-MM-DD** format) are provided, it first deletes existing history records for the employees in the request body that fall within the specified date range (**inclusive**), and then inserts the new records. If no date range is provided, it simply inserts the new records without deletion.\n",
        "operationId": "createEmployeesHistoryBulk",
        "parameters": [
          {
            "name": "authorization",
            "in": "header",
            "description": "JWT Token generated from login (Bearer token)",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "start_date",
            "in": "query",
            "description": "Start date of effective range. If provided along with `end_date`, only matching records for employees in the request body will be deleted before inserting new records.",
            "required": false,
            "schema": {
              "type": "string",
              "format": "date"
            }
          },
          {
            "name": "end_date",
            "in": "query",
            "description": "End date of effective range. If provided along with `start_date`, only matching records for employees in the request body will be deleted before inserting new records.",
            "required": false,
            "schema": {
              "type": "string",
              "format": "date"
            }
          }
        ],
        "requestBody": {
          "$ref": "#/components/requestBodies/EmployeeArray"
        },
        "responses": {
          "200": {
            "$ref": "#/components/requestBodies/EmpBulkResponse"
          },
          "default": {
            "description": "successful operation"
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ]
      }
    },
    "/get_salary_review_compensation_data": {
      "post": {
        "tags": [
          "Salary_Review"
        ],
        "summary": "Get revised salary data.",
        "operationId": "getRevisedSalaryData",
        "parameters": [
          {
            "name": "authorization",
            "in": "header",
            "description": "JWT Token generated from login (Bearer token)",
            "required": true,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "$ref": "#/components/requestBodies/SalaryData"
        },
        "responses": {
          "200": {
            "$ref": "#/components/requestBodies/SalaryReviewResponse"
          },
          "401": {
            "$ref": "#/components/responses/401"
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ]
      }
    },
    "/get_salary_review_promotion_data": {
      "post": {
        "tags": [
          "Salary_Review"
        ],
        "summary": "Get revised promotion data.",
        "operationId": "getRevisedSalaryPromoData",
        "parameters": [
          {
            "name": "authorization",
            "in": "header",
            "description": "JWT Token generated from login (Bearer token)",
            "required": true,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "$ref": "#/components/requestBodies/SalaryPromoData"
        },
        "responses": {
          "200": {
            "$ref": "#/components/requestBodies/SalaryReviewPromoResponse"
          },
          "401": {
            "$ref": "#/components/responses/401"
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ]
      }
    },
    "/get-salary-review-letter": {
      "post": {
        "tags": [
          "Salary_Review"
        ],
        "summary": "Get Letter Details",
        "description": "Retrieves the letter name and corresponding PDF file.",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "rule_id",
                  "user_id"
                ],
                "properties": {
                  "rule_id": {
                    "type": "integer",
                    "example": 123
                  },
                  "user_id": {
                    "type": "integer",
                    "example": 456
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "$ref": "#/components/requestBodies/SalaryReviewLetterReponse"
          },
          "401": {
            "$ref": "#/components/responses/401"
          },
          "400": {
            "$ref": "#/components/responses/400"
          },
          "500": {
            "$ref": "#/components/responses/500"
          }
        }
      }
    },
    "/get_bonus_payout": {
      "post": {
        "tags": [
          "Bonus"
        ],
        "summary": "Get revised bonus payout data.",
        "operationId": "getBonusPayout",
        "parameters": [
          {
            "name": "authorization",
            "in": "header",
            "description": "JWT Token generated from login (Bearer token)",
            "required": true,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "$ref": "#/components/requestBodies/BonusPayoutReqData"
        },
        "responses": {
          "200": {
            "$ref": "#/components/requestBodies/BonusPayoutResData"
          },
          "401": {
            "$ref": "#/components/responses/401"
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ]
      }
    },
    "/get_lti_grant_data": {
      "post": {
        "tags": [
          "LTI"
        ],
        "summary": "Get LTI grant data.",
        "operationId": "getLTIgrant",
        "parameters": [
          {
            "name": "authorization",
            "in": "header",
            "description": "JWT Token generated from login (Bearer token)",
            "required": true,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "$ref": "#/components/requestBodies/LTIgrantReqData"
        },
        "responses": {
          "200": {
            "$ref": "#/components/requestBodies/LTIgrantResData"
          },
          "401": {
            "$ref": "#/components/responses/401"
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ]
      }
    },
    "/get_sip_payout_summary/{rule_id}": {
      "get": {
        "tags": [
          "SIP"
        ],
        "summary": "Get SIP payout report",
        "operationId": "getSIPPayoutReport",
        "parameters": [
          {
            "name": "authorization",
            "in": "header",
            "description": "JWT Token generated from login (Bearer token)",
            "required": true,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "rule_id",
            "in": "path",
            "description": "Id of the rule for which we re calling the payout report",
            "required": true,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "number"
            }
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/components/requestBodies/SipPayoutResponse"
          },
          "401": {
            "$ref": "#/components/responses/401"
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ]
      }
    },
    "/sip/create_sip_assignment": {
      "post": {
        "tags": [
          "SIP"
        ],
        "summary": "Create SIP assignments. Max request size is 45mb.",
        "operationId": "createSIPassignments",
        "parameters": [
          {
            "name": "authorization",
            "in": "header",
            "description": "JWT Token generated from login (Bearer token)",
            "required": true,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "$ref": "#/components/requestBodies/EmployeeArray"
        },
        "responses": {
          "200": {
            "$ref": "#/components/requestBodies/EmpBulkResponse"
          },
          "default": {
            "description": "successful operation"
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ]
      }
    },
    "/sip/save_performance_rating": {
      "post": {
        "tags": [
          "SIP"
        ],
        "summary": "Save performance rating. Max request size is 45mb.",
        "operationId": "savePerformanceRating",
        "parameters": [
          {
            "name": "authorization",
            "in": "header",
            "description": "JWT Token generated from login (Bearer token)",
            "required": true,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "$ref": "#/components/requestBodies/SipPerformanceResponse"
        },
        "responses": {
          "200": {
            "$ref": "#/components/requestBodies/EmpBulkResponse"
          },
          "default": {
            "description": "successful operation"
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ]
      }
    },
    "/employee/bulk/sip/integration_data": {
      "post": {
        "tags": [
          "SIP"
        ],
        "summary": "Save clients data for integration. Max request size is 45mb.",
        "operationId": "saveClienIntegrationData",
        "parameters": [
          {
            "name": "authorization",
            "in": "header",
            "description": "JWT Token generated from login (Bearer token)",
            "required": true,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "$ref": "#/components/requestBodies/IntergrationRequest"
        },
        "responses": {
          "200": {
            "$ref": "#/components/requestBodies/EmpBulkResponse"
          },
          "default": {
            "description": "successful operation"
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ]
      }
    },
    "/candidate-offer/get-candidate-offer-logs": {
      "post": {
        "tags": [
          "Candidate Offer"
        ],
        "summary": "Get candidate offer logs",
        "operationId": "getCandidateOfferLogs",
        "parameters": [
          {
            "name": "authorization",
            "in": "header",
            "description": "JWT Token generated from login (Bearer token)",
            "required": true,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "$ref": "#/components/requestBodies/CandidateOfferLogReportRequest"
        },
        "responses": {
          "200": {
            "$ref": "#/components/requestBodies/CandidateOfferLogReportResponse"
          },
          "401": {
            "$ref": "#/components/responses/401"
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ]
      }
    },
    "/employee/revoke_employee_role": {
      "post": {
        "tags": [
          "employee"
        ],
        "summary": "Revoke employee role",
        "operationId": "revokeEmployeeRole",
        "parameters": [
          {
            "name": "authorization",
            "in": "header",
            "description": "JWT Token generated from login (Bearer token)",
            "required": true,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/RevokeEmployeeRoleRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Role revoked successfully",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "example": true
                    },
                    "message": {
                      "type": "string",
                      "example": "Employee role revoked successfully"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/400"
          },
          "401": {
            "$ref": "#/components/responses/401"
          },
          "500": {
            "$ref": "#/components/responses/500"
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ]
      }
    },
    "/employee/update_employee_citation": {
      "post": {
        "tags": [
          "employee"
        ],
        "summary": "Bulk update employee citation",
        "description": "This API allows updating multiple employee citations in a single request.\nEach citation entry in the request body must include the `rule_id`, `user_id`,\n`final_outcome` (either `Success` or `Fail`), and an `effective_date`.\n\n**Usage notes:**\n- The request body must be an array of citation objects.\n- The `final_outcome` field accepts only the values `Success` or `Fail`.\n- Ensure that `effective_date` is provided in `YYYY-MM-DD` format.\n",
        "operationId": "bulkUpdateEmployeeCitation",
        "parameters": [
          {
            "name": "authorization",
            "in": "header",
            "description": "JWT Token generated from login (Bearer token)",
            "required": true,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "array",
                "items": {
                  "type": "object",
                  "required": [
                    "rule_id",
                    "user_id",
                    "final_outcome",
                    "effective_date"
                  ],
                  "properties": {
                    "rule_id": {
                      "type": "integer",
                      "example": 101
                    },
                    "user_id": {
                      "type": "integer",
                      "example": 5001
                    },
                    "final_outcome": {
                      "type": "string",
                      "enum": [
                        "Success",
                        "Fail"
                      ],
                      "example": "Success"
                    },
                    "effective_date": {
                      "type": "string",
                      "format": "date",
                      "example": "2025-07-15"
                    }
                  }
                }
              },
              "example": [
                {
                  "rule_id": 101,
                  "user_id": 25,
                  "final_outcome": "Success",
                  "effective_date": "2025-07-17"
                },
                {
                  "rule_id": 102,
                  "user_id": 26,
                  "final_outcome": "Fail",
                  "effective_date": "2025-08-02"
                }
              ]
            }
          }
        },
        "responses": {
          "200": {
            "description": "Update process completed!",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": {
                      "type": "string",
                      "example": "success"
                    },
                    "message": {
                      "type": "string",
                      "example": "Record process complete!"
                    },
                    "data": {
                      "type": "object",
                      "properties": {
                        "total": {
                          "type": "integer",
                          "example": 5000
                        },
                        "success": {
                          "type": "integer",
                          "example": 4980
                        },
                        "errors": {
                          "type": "integer",
                          "example": 20
                        },
                        "errorDetails": {
                          "type": "array",
                          "items": {
                            "type": "object",
                            "properties": {
                              "record": {
                                "type": "object"
                              },
                              "message": {
                                "type": "string",
                                "example": "No matching row found"
                              }
                            }
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Invalid request body"
          },
          "500": {
            "description": "Internal server error"
          }
        },
        "x-swagger-router-controller": "Salary"
      }
    }
  },
  "components": {
    "schemas": {
      "Employee": {
        "required": [
          "approver_1",
          "empUId",
          "name",
          "record_effective_date"
        ],
        "type": "object",
        "properties": {
          "empUId": {
            "type": "string",
            "description": "Employee Unique Identifier"
          },
          "company_name": {
            "type": "string",
            "description": "Name of the company"
          },
          "cost_center": {
            "type": "string",
            "description": "Cost Center"
          },
          "employee_type": {
            "type": "string",
            "description": "Employee Type"
          },
          "employee_code": {
            "type": "string",
            "description": "Employee Code"
          },
          "name": {
            "type": "string",
            "description": "Employee Full name"
          },
          "first_name": {
            "type": "string",
            "description": "Employee First Name"
          },
          "other_data_20": {
            "type": "string",
            "description": "Official Email ID"
          },
          "gender": {
            "type": "string",
            "description": "Gender"
          },
          "country": {
            "type": "string",
            "description": "Country"
          },
          "city": {
            "type": "string",
            "description": "City"
          },
          "business_level_1": {
            "type": "string",
            "description": "Business Unit-1 level"
          },
          "business_level_2": {
            "type": "string",
            "description": "Business Unit-2 level"
          },
          "business_level_3": {
            "type": "string",
            "description": "Business Unit-3 level"
          },
          "function": {
            "type": "string",
            "description": "Function"
          },
          "subfunction": {
            "type": "string",
            "description": "Sub Function"
          },
          "sub_subfunction": {
            "type": "string",
            "description": "Sub Sub Function"
          },
          "designation": {
            "type": "string",
            "description": "Designation/Title"
          },
          "grade": {
            "type": "string",
            "description": "Grade"
          },
          "level": {
            "type": "string",
            "description": "Level"
          },
          "employee_role": {
            "type": "string",
            "description": "Employee Role"
          },
          "urban_rural_classification": {
            "type": "string",
            "description": "Urban/Rural classification"
          },
          "education": {
            "type": "string",
            "description": "Highest Education Level"
          },
          "critical_talent": {
            "type": "string",
            "description": "Current Talent Rating"
          },
          "critical_position": {
            "type": "string",
            "description": "Critical Position Rating"
          },
          "special_category": {
            "type": "string",
            "description": "Customized Category"
          },
          "company_joining_date": {
            "type": "string",
            "description": "Date of Joining",
            "format": "date"
          },
          "increment_purpose_joining_date": {
            "type": "string",
            "description": "Date of joining for Proration calculation on Salary review",
            "format": "date"
          },
          "start_date_for_role": {
            "type": "string",
            "description": "Date of joining for Proration calculation on Bonus",
            "format": "date"
          },
          "end_date_for_role": {
            "type": "string",
            "description": "End date of the role (for bonus calculation only)",
            "format": "date"
          },
          "bonus_incentive_applicable": {
            "type": "string",
            "description": "Bonus or Sales Incentive applicability"
          },
          "employee_movement_into_bonus_plan": {
            "type": "string",
            "description": "Date of Employee Movement into Bonus Plan during the year."
          },
          "recently_promoted": {
            "type": "string",
            "description": "Recently Promoted (Yes/No)"
          },
          "performance_achievement": {
            "type": "integer",
            "description": "Performance Achievement Score (in numeric value)"
          },
          "rating_for_current_year": {
            "type": "string",
            "description": "Latest Performance Rating"
          },
          "record_effective_date": {
            "type": "string",
            "description": "Effective date of last data change",
            "format": "date"
          },
          "currency": {
            "type": "string",
            "description": "Currency"
          },
          "current_base_salary": {
            "type": "integer",
            "description": "Current Base/Basic"
          },
          "current_target_bonus": {
            "type": "integer",
            "description": "Current target bonus"
          },
          "allowance_1": {
            "type": "integer",
            "description": "Current Target Sales Incentive"
          },
          "allowance_2": {
            "type": "integer",
            "description": "Current Target Long Term Incentive"
          },
          "allowance_3": {
            "type": "integer",
            "description": "Salary element-1"
          },
          "allowance_4": {
            "type": "integer",
            "description": "Salary element-2"
          },
          "allowance_5": {
            "type": "integer",
            "description": "Salary element-3"
          },
          "allowance_6": {
            "type": "integer",
            "description": "Salary element-4"
          },
          "allowance_7": {
            "type": "integer",
            "description": "Salary element-5"
          },
          "allowance_8": {
            "type": "integer",
            "description": "Salary element-6"
          },
          "allowance_9": {
            "type": "integer",
            "description": "Salary element-7"
          },
          "allowance_10": {
            "type": "integer",
            "description": "Salary element-8"
          },
          "allowance_11": {
            "type": "integer",
            "description": "Salary element-9"
          },
          "allowance_12": {
            "type": "integer",
            "description": "Salary element-10"
          },
          "allowance_13": {
            "type": "integer",
            "description": "Salary element-11"
          },
          "allowance_14": {
            "type": "integer",
            "description": "Salary element-12"
          },
          "allowance_15": {
            "type": "integer",
            "description": "Salary element-13"
          },
          "allowance_16": {
            "type": "integer",
            "description": "Salary element-14"
          },
          "allowance_17": {
            "type": "integer",
            "description": "Salary element-15"
          },
          "allowance_18": {
            "type": "integer",
            "description": "Salary element-16"
          },
          "allowance_19": {
            "type": "integer",
            "description": "Salary element-17"
          },
          "allowance_20": {
            "type": "integer",
            "description": "Salary element-18"
          },
          "allowance_21": {
            "type": "integer",
            "description": "Salary element-19"
          },
          "allowance_22": {
            "type": "integer",
            "description": "Salary element-20"
          },
          "allowance_23": {
            "type": "integer",
            "description": "Salary element-21"
          },
          "allowance_24": {
            "type": "integer",
            "description": "Salary element-22"
          },
          "allowance_25": {
            "type": "integer",
            "description": "Salary element-23"
          },
          "allowance_26": {
            "type": "integer",
            "description": "Salary element-24"
          },
          "allowance_27": {
            "type": "integer",
            "description": "Salary element-25"
          },
          "allowance_28": {
            "type": "integer",
            "description": "Salary element-26"
          },
          "allowance_29": {
            "type": "integer",
            "description": "Salary element-27"
          },
          "allowance_30": {
            "type": "integer",
            "description": "Salary element-28"
          },
          "allowance_31": {
            "type": "integer",
            "description": "Salary element-29"
          },
          "allowance_32": {
            "type": "integer",
            "description": "Salary element-30"
          },
          "allowance_33": {
            "type": "integer",
            "description": "Salary element-31"
          },
          "allowance_34": {
            "type": "integer",
            "description": "Salary element-32"
          },
          "allowance_35": {
            "type": "integer",
            "description": "Salary element-33"
          },
          "allowance_36": {
            "type": "integer",
            "description": "Salary element-34"
          },
          "allowance_37": {
            "type": "integer",
            "description": "Salary element-35"
          },
          "allowance_38": {
            "type": "integer",
            "description": "Salary element-36"
          },
          "allowance_39": {
            "type": "integer",
            "description": "Salary element-37"
          },
          "allowance_40": {
            "type": "integer",
            "description": "Salary element-38"
          },
          "allowance_41": {
            "type": "integer",
            "description": "Salary element-39"
          },
          "allowance_42": {
            "type": "integer",
            "description": "Salary element-40"
          },
          "allowance_43": {
            "type": "integer",
            "description": "Salary element-41"
          },
          "allowance_44": {
            "type": "integer",
            "description": "Salary element-42"
          },
          "allowance_45": {
            "type": "integer",
            "description": "Salary element-43"
          },
          "allowance_46": {
            "type": "integer",
            "description": "Salary element-44"
          },
          "allowance_47": {
            "type": "integer",
            "description": "Salary element-45"
          },
          "allowance_48": {
            "type": "integer",
            "description": "Salary element-46"
          },
          "allowance_49": {
            "type": "integer",
            "description": "Salary element-47"
          },
          "allowance_50": {
            "type": "integer",
            "description": "Salary element-48"
          },
          "allowance_51": {
            "type": "integer",
            "description": "Salary element-49"
          },
          "allowance_52": {
            "type": "integer",
            "description": "Salary element-50"
          },
          "allowance_53": {
            "type": "integer",
            "description": "Salary element-51"
          },
          "allowance_54": {
            "type": "integer",
            "description": "Salary element-52"
          },
          "allowance_55": {
            "type": "integer",
            "description": "Salary element-53"
          },
          "allowance_56": {
            "type": "integer",
            "description": "Salary element-54"
          },
          "allowance_57": {
            "type": "integer",
            "description": "Salary element-55"
          },
          "allowance_58": {
            "type": "integer",
            "description": "Salary element-56"
          },
          "allowance_59": {
            "type": "integer",
            "description": "Salary element-57"
          },
          "allowance_60": {
            "type": "integer",
            "description": "Salary element-58"
          },
          "allowance_61": {
            "type": "integer",
            "description": "Salary element-59"
          },
          "allowance_62": {
            "type": "integer",
            "description": "Salary element-60"
          },
          "allowance_63": {
            "type": "integer",
            "description": "Salary element-61"
          },
          "allowance_64": {
            "type": "integer",
            "description": "Salary element-62"
          },
          "allowance_65": {
            "type": "integer",
            "description": "Salary element-63"
          },
          "allowance_66": {
            "type": "integer",
            "description": "Salary element-64"
          },
          "allowance_67": {
            "type": "integer",
            "description": "Salary element-65"
          },
          "allowance_68": {
            "type": "integer",
            "description": "Salary element-66"
          },
          "allowance_69": {
            "type": "integer",
            "description": "Salary element-67"
          },
          "allowance_70": {
            "type": "integer",
            "description": "Salary element-68"
          },
          "total_compensation": {
            "type": "string",
            "description": "Current Total Cost To Company"
          },
          "increment_applied_on": {
            "type": "integer",
            "description": "Current Fixed Salary"
          },
          "job_code": {
            "type": "string",
            "description": "Pay Range Data matching job code"
          },
          "job_name": {
            "type": "string",
            "description": "Matched job name"
          },
          "job_level": {
            "type": "string",
            "description": "Matched job level"
          },
          "approver_1": {
            "type": "string",
            "description": "Approver-1 Unique ID"
          },
          "approver_2": {
            "type": "string",
            "description": "Approver-2 Unique ID"
          },
          "approver_3": {
            "type": "string",
            "description": "Approver-3 Unique ID"
          },
          "approver_4": {
            "type": "string",
            "description": "Approver-4 Unique ID"
          },
          "manager_name": {
            "type": "string",
            "description": "Manager's Unique ID (Can be different than approver-1)"
          },
          "authorised_signatory_for_letter": {
            "type": "string",
            "description": "Authorised signatory Unique ID for letters"
          },
          "authorised_signatorys_title_for_letter": {
            "type": "string",
            "description": "Authorised signatory's title for letters"
          },
          "hr_authorised_signatory_for_letter": {
            "type": "string",
            "description": "HR Authorised signatory Unique ID for letters"
          },
          "hr_authorised_signatorys_title_for_letter": {
            "type": "string",
            "description": "HR Authorised signatory's title for letters"
          },
          "other_data_21": {
            "type": "string",
            "description": "Global HRBP's Unique ID"
          },
          "other_data_22": {
            "type": "string",
            "description": "Functional HRBP Unique ID"
          },
          "other_data_23": {
            "type": "string",
            "description": "HR Partner-1 Unique ID"
          },
          "other_data_24": {
            "type": "string",
            "description": "HR Partner-2 Unique ID"
          },
          "teeth_tail_ratio": {
            "type": "string",
            "description": "Teeth/Tail Ratio"
          },
          "previous_talent_rating": {
            "type": "string",
            "description": "Previous Talent Rating"
          },
          "promoted_in_2_yrs": {
            "type": "string",
            "description": "Last Promotion Date"
          },
          "engagement_level": {
            "type": "string",
            "description": "Potential Rating"
          },
          "successor_identified": {
            "type": "string",
            "description": "Successor Identified"
          },
          "readyness_level": {
            "type": "string",
            "description": "Readyness level"
          },
          "other_data_9": {
            "type": "string",
            "description": "Customized Data-9"
          },
          "other_data_10": {
            "type": "string",
            "description": "Customized Data-10"
          },
          "other_data_11": {
            "type": "string",
            "description": "Customized Data-11"
          },
          "other_data_12": {
            "type": "string",
            "description": "Customized Data-12"
          },
          "other_data_13": {
            "type": "string",
            "description": "Customized Data-13"
          },
          "other_data_14": {
            "type": "string",
            "description": "Customized Data-14"
          },
          "other_data_15": {
            "type": "string",
            "description": "Customized Data-15"
          },
          "other_data_16": {
            "type": "string",
            "description": "Customized Data-16"
          },
          "Other_data_17": {
            "type": "string",
            "description": "Customized Data-17"
          },
          "other_data_18": {
            "type": "string",
            "description": "Customized Data-18"
          },
          "other_data_19": {
            "type": "string",
            "description": "Customized Data-19"
          },
          "termination_date": {
            "type": "string",
            "description": "Termination Date",
            "format": "date"
          },
          "termination_category": {
            "type": "string",
            "description": "Termination Category"
          },
          "termination_reason": {
            "type": "string",
            "description": "Termination Reason"
          },
          "lop_bonus": {
            "type": "integer",
            "description": "Loss of Pay input for Bonus"
          },
          "market_base_salary_level_min": {
            "type": "integer",
            "description": "Pay Range Base-1"
          },
          "market_base_salary_level_1": {
            "type": "integer",
            "description": "Pay Range Base-2"
          },
          "market_base_salary_level_2": {
            "type": "integer",
            "description": "Pay Range Base-3"
          },
          "market_base_salary_level_3": {
            "type": "integer",
            "description": "Pay Range Base-4"
          },
          "market_base_salary_level_4": {
            "type": "integer",
            "description": "Pay Range Base-5"
          },
          "market_base_salary_level_5": {
            "type": "integer",
            "description": "Pay Range Base-6"
          },
          "market_base_salary_level_6": {
            "type": "integer",
            "description": "Pay Range Base-7"
          },
          "market_base_salary_level_7": {
            "type": "integer",
            "description": "Pay Range Base-8"
          },
          "market_base_salary_level_8": {
            "type": "integer",
            "description": "Pay Range Base-9"
          },
          "market_base_salary_level_9": {
            "type": "integer",
            "description": "Pay Range Base-10"
          },
          "market_base_salary_level_max": {
            "type": "integer",
            "description": "Pay Range Base-11"
          },
          "market_total_salary_level_min": {
            "type": "integer",
            "description": "Pay Range Total Comp-1"
          },
          "market_total_salary_level_1": {
            "type": "integer",
            "description": "Pay Range Total Comp-2"
          },
          "market_total_salary_level_2": {
            "type": "integer",
            "description": "Pay Range Total Comp-3"
          },
          "market_total_salary_level_3": {
            "type": "integer",
            "description": "Pay Range Total Comp-4"
          },
          "market_total_salary_level_4": {
            "type": "integer",
            "description": "Pay Range Total Comp-5"
          },
          "market_total_salary_level_5": {
            "type": "integer",
            "description": "Pay Range Total Comp-6"
          },
          "market_total_salary_level_6": {
            "type": "integer",
            "description": "Pay Range Total Comp-7"
          },
          "market_total_salary_level_7": {
            "type": "integer",
            "description": "Pay Range Total Comp-8"
          },
          "market_total_salary_level_8": {
            "type": "integer",
            "description": "Pay Range Total Comp-9"
          },
          "market_total_salary_level_9": {
            "type": "integer",
            "description": "Pay Range Total Comp-10"
          },
          "market_total_salary_level_max": {
            "type": "integer",
            "description": "Pay Range Total Comp-11"
          },
          "market_target_salary_level_min": {
            "type": "integer",
            "description": "Pay Range Total Target Comp-1"
          },
          "market_target_salary_level_1": {
            "type": "integer",
            "description": "Pay Range Total Target Comp-2"
          },
          "market_target_salary_level_2": {
            "type": "integer",
            "description": "Pay Range Total Target Comp-3"
          },
          "market_target_salary_level_3": {
            "type": "integer",
            "description": "Pay Range Total Target Comp-4"
          },
          "market_target_salary_level_4": {
            "type": "integer",
            "description": "Pay Range Total Target Comp-5"
          },
          "market_target_salary_level_5": {
            "type": "integer",
            "description": "Pay Range Total Target Comp-6"
          },
          "market_target_salary_level_6": {
            "type": "integer",
            "description": "Pay Range Total Target Comp-7"
          },
          "market_target_salary_level_7": {
            "type": "integer",
            "description": "Pay Range Total Target Comp-8"
          },
          "market_target_salary_level_8": {
            "type": "integer",
            "description": "Pay Range Total Target Comp-9"
          },
          "market_target_salary_level_9": {
            "type": "integer",
            "description": "Pay Range Total Target Comp-10"
          },
          "market_target_salary_sevel_max": {
            "type": "integer",
            "description": "Pay Range Total Target Comp-11"
          },
          "minimum_wage": {
            "type": "integer",
            "description": "Minimum Wage Applicability"
          },
          "rating_for_last_year": {
            "type": "string",
            "description": "Performance Rating for previous year"
          },
          "rating_for_2nd_last_year": {
            "type": "string",
            "description": "Performance Rating for 2nd last year"
          },
          "rating_for_3rd_last_year": {
            "type": "string",
            "description": "Performance Rating for 3rd last year"
          },
          "rating_for_4th_last_year": {
            "type": "string",
            "description": "Performance Rating for 4th last year"
          },
          "rating_for_5th_last_year": {
            "type": "string",
            "description": "Performance Rating for 5th last year"
          },
          "effective_date_of_last_salary_increase": {
            "type": "string",
            "description": "Effective date of Last Salary increase",
            "format": "date"
          },
          "effective_date_of_2nd_last_salary_increase": {
            "type": "string",
            "description": "Effective date of 2nd last Salary increase",
            "format": "date"
          },
          "effective_date_of_3rd_last_salary_increase": {
            "type": "string",
            "description": "Effective date of 3rd last Salary increase",
            "format": "date"
          },
          "effective_date_of_4th_last_salary_increase": {
            "type": "string",
            "description": "Effective date of 4th Last Salary increase",
            "format": "date"
          },
          "effective_date_of_5th_last_salary_increase": {
            "type": "string",
            "description": "Effective date of 5th Last Salary increase",
            "format": "date"
          },
          "salary_after_last_increase": {
            "type": "integer",
            "description": "Last year Variable Pay"
          },
          "salary_after_2nd_last_increase": {
            "type": "integer",
            "description": "2nd last year Variable Pay"
          },
          "salary_after_3rd_last_increase": {
            "type": "integer",
            "description": "3rd last year Variable Pay"
          },
          "salary_after_4th_last_increase": {
            "type": "integer",
            "description": "4th last year Variable Pay"
          },
          "salary_after_5th_last_increase": {
            "type": "integer",
            "description": "5th last year Variable Pay"
          },
          "total_salary_after_last_increase": {
            "type": "integer",
            "description": "Total Salary after last increase"
          },
          "total_salary_after_2nd_last_increase": {
            "type": "integer",
            "description": "Total Salary after 2nd last increase"
          },
          "total_salary_after_3rd_last_increase": {
            "type": "integer",
            "description": "Total Salary after 3rd last increase"
          },
          "total_salary_after_4th_last_increase": {
            "type": "integer",
            "description": "Total Salary after 4th last increase"
          },
          "total_salary_after_5th_last_increase": {
            "type": "integer",
            "description": "Total Salary after 5th last increase"
          },
          "target_salary_after_last_increase": {
            "type": "integer",
            "description": "Last year LTI"
          },
          "target_salary_after_2nd_last_increase": {
            "type": "integer",
            "description": "2nd last year LTI"
          },
          "target_salary_after_3rd_last_increase": {
            "type": "integer",
            "description": "3rd last year LTI"
          },
          "target_salary_after_4th_last_increase": {
            "type": "integer",
            "description": "4th last year LTI"
          },
          "target_salary_after_5th_last_increase": {
            "type": "integer",
            "description": "5th last year LTI"
          }
        },
        "xml": {
          "name": "Employee"
        }
      },
      "Employee-Demographic-Data": {
        "required": [
          "approver_1",
          "empUId",
          "name",
          "record_effective_date"
        ],
        "type": "object",
        "properties": {
          "empUId": {
            "type": "string",
            "description": "Employee Unique Identifier"
          },
          "company_name": {
            "uniqueItems": true,
            "type": "string",
            "description": "Name of the company"
          },
          "cost_center": {
            "type": "string",
            "description": "Cost Center"
          },
          "employee_code": {
            "type": "string",
            "description": "Employee Code"
          },
          "employee_type": {
            "type": "string",
            "description": "Employee Type"
          },
          "name": {
            "type": "string",
            "description": "Employee Full name"
          },
          "first_name": {
            "type": "string",
            "description": "Employee First Name"
          },
          "official_email": {
            "type": "string",
            "description": "Email ID",
            "format": "email"
          },
          "gender": {
            "type": "string",
            "description": "Gender"
          },
          "country": {
            "type": "string",
            "description": "Country"
          },
          "city": {
            "type": "string",
            "description": "City"
          },
          "business_level_1": {
            "type": "string",
            "description": "Group"
          },
          "business_level_2": {
            "type": "string",
            "description": "Division"
          },
          "business_level_3": {
            "type": "string",
            "description": "Area"
          },
          "function": {
            "type": "string",
            "description": "Function"
          },
          "subfunction": {
            "type": "string",
            "description": "Sub Function"
          },
          "sub_subfunction": {
            "type": "string",
            "description": "Sub Sub Function"
          },
          "designation": {
            "type": "string",
            "description": "Title"
          },
          "grade": {
            "type": "string",
            "description": "Grade"
          },
          "level": {
            "type": "string",
            "description": "Level"
          },
          "employee_role": {
            "type": "string",
            "description": "Employee Role"
          },
          "education": {
            "type": "string",
            "description": "Education"
          },
          "critical_talent": {
            "type": "string",
            "description": "Identified talent"
          },
          "critical_position": {
            "type": "string",
            "description": "Critical Position holder"
          },
          "special_category": {
            "type": "string",
            "description": "Special Category-1"
          },
          "company_joining_date": {
            "type": "string",
            "description": "Date of Joining",
            "format": "date"
          },
          "approver_1": {
            "type": "string",
            "description": "Approver-1",
            "format": "empUId"
          },
          "approver_2": {
            "type": "string",
            "description": "Approver-2",
            "format": "empUId"
          },
          "approver_3": {
            "type": "string",
            "description": "Approver-3",
            "format": "empUId"
          },
          "approver_4": {
            "type": "string",
            "description": "Approver-4",
            "format": "empUId"
          },
          "manager_name": {
            "type": "string",
            "description": "Manager Name",
            "format": "empUId"
          },
          "authorised_signatory_for_letter": {
            "type": "string",
            "description": "Authorised signatory",
            "format": "empUId"
          },
          "authorised_signatorys_title_for_letter": {
            "type": "string",
            "description": "Authorised signatory's title"
          },
          "hr_authorised_signatory_for_letter": {
            "type": "string",
            "description": "HR Authorised signatory for letter",
            "format": "empUId"
          },
          "hr_authorised_signatorys_title_for_letter": {
            "type": "string",
            "description": "HR Authorised signatory's title for letter"
          },
          "teeth_tail_ratio": {
            "type": "string",
            "description": "Teeth\\/Tail Ratio"
          },
          "previous_talent_rating": {
            "type": "string",
            "description": "Previous Talent Rating"
          },
          "promoted_in_2_yrs": {
            "type": "string",
            "description": "Promoted in 2 yrs"
          },
          "engagement_level": {
            "type": "string",
            "description": "Engagement level"
          },
          "successor_identified": {
            "type": "string",
            "description": "Successor Identified"
          },
          "readyness_level": {
            "type": "string",
            "description": "Readyness level"
          },
          "urban_rural_classification": {
            "type": "string",
            "description": "Urban/Rural classification"
          },
          "record_effective_date": {
            "type": "string",
            "description": "Effective date of record",
            "format": "date"
          },
          "other_data_9": {
            "type": "string",
            "description": "Other Data-9"
          },
          "other_data_10": {
            "type": "string",
            "description": "Other Data-10"
          },
          "other_data_11": {
            "type": "string",
            "description": "Other Data-11"
          },
          "other_data_12": {
            "type": "string",
            "description": "Other Data-12"
          },
          "other_data_13": {
            "type": "string",
            "description": "Other Data-13"
          },
          "other_data_14": {
            "type": "string",
            "description": "Other Data-14"
          },
          "other_data_15": {
            "type": "string",
            "description": "Other Data-15"
          },
          "other_data_16": {
            "type": "string",
            "description": "Other Data-16"
          },
          "other_data_17": {
            "type": "string",
            "description": "Other Data-17"
          },
          "other_data_18": {
            "type": "string",
            "description": "Other Data-18"
          },
          "other_data_19": {
            "type": "string",
            "description": "Other Data-19"
          },
          "other_data_21": {
            "type": "string",
            "description": "Gobal HRBP"
          },
          "other_data_22": {
            "type": "string",
            "description": "Functional HRBP"
          },
          "other_data_23": {
            "type": "string",
            "description": "HR Partner-1"
          },
          "other_data_24": {
            "type": "string",
            "description": "HR Partner-2"
          },
          "termination_category": {
            "type": "string",
            "description": "category for termination"
          },
          "termination_reason": {
            "type": "string",
            "description": "reason for termination"
          },
          "termination_date": {
            "type": "string",
            "description": "date of termination",
            "format": "date"
          }
        },
        "xml": {
          "name": "Employee Demographic Data"
        }
      },
      "Employee-Compensation-Data": {
        "type": "object",
        "properties": {
          "empUId": {
            "uniqueItems": true,
            "type": "string",
            "description": "Employee Unique Identifier"
          },
          "currency": {
            "type": "string",
            "description": "Currency"
          },
          "current_base_salary": {
            "type": "integer",
            "description": "Current Base/Basic"
          },
          "current_target_bonus": {
            "type": "integer",
            "description": "Current target bonus"
          },
          "allowance_1": {
            "type": "integer",
            "description": "Current Target Sales Incentive"
          },
          "allowance_2": {
            "type": "integer",
            "description": "Current Target Long Term Incentive"
          },
          "allowance_3": {
            "type": "integer",
            "description": "Salary element-1"
          },
          "allowance_4": {
            "type": "integer",
            "description": "Salary element-2"
          },
          "allowance_5": {
            "type": "integer",
            "description": "Salary element-3"
          },
          "allowance_6": {
            "type": "integer",
            "description": "Salary element-4"
          },
          "allowance_7": {
            "type": "integer",
            "description": "Salary element-5"
          },
          "allowance_8": {
            "type": "integer",
            "description": "Salary element-6"
          },
          "allowance_9": {
            "type": "integer",
            "description": "Salary element-7"
          },
          "allowance_10": {
            "type": "integer",
            "description": "Salary element-8"
          },
          "allowance_11": {
            "type": "integer",
            "description": "Salary element-9"
          },
          "allowance_12": {
            "type": "integer",
            "description": "Salary element-10"
          },
          "allowance_13": {
            "type": "integer",
            "description": "Salary element-11"
          },
          "allowance_14": {
            "type": "integer",
            "description": "Salary element-12"
          },
          "allowance_15": {
            "type": "integer",
            "description": "Salary element-13"
          },
          "allowance_16": {
            "type": "integer",
            "description": "Salary element-14"
          },
          "allowance_17": {
            "type": "integer",
            "description": "Salary element-15"
          },
          "allowance_18": {
            "type": "integer",
            "description": "Salary element-16"
          },
          "allowance_19": {
            "type": "integer",
            "description": "Salary element-17"
          },
          "allowance_20": {
            "type": "integer",
            "description": "Salary element-18"
          },
          "allowance_21": {
            "type": "integer",
            "description": "Salary element-19"
          },
          "allowance_22": {
            "type": "integer",
            "description": "Salary element-20"
          },
          "allowance_23": {
            "type": "integer",
            "description": "Salary element-21"
          },
          "allowance_24": {
            "type": "integer",
            "description": "Salary element-22"
          },
          "allowance_25": {
            "type": "integer",
            "description": "Salary element-23"
          },
          "allowance_26": {
            "type": "integer",
            "description": "Salary element-24"
          },
          "allowance_27": {
            "type": "integer",
            "description": "Salary element-25"
          },
          "allowance_28": {
            "type": "integer",
            "description": "Salary element-26"
          },
          "allowance_29": {
            "type": "integer",
            "description": "Salary element-27"
          },
          "allowance_30": {
            "type": "integer",
            "description": "Salary element-28"
          },
          "allowance_31": {
            "type": "integer",
            "description": "Salary element-29"
          },
          "allowance_32": {
            "type": "integer",
            "description": "Salary element-30"
          },
          "allowance_33": {
            "type": "integer",
            "description": "Salary element-31"
          },
          "allowance_34": {
            "type": "integer",
            "description": "Salary element-32"
          },
          "allowance_35": {
            "type": "integer",
            "description": "Salary element-33"
          },
          "allowance_36": {
            "type": "integer",
            "description": "Salary element-34"
          },
          "allowance_37": {
            "type": "integer",
            "description": "Salary element-35"
          },
          "allowance_38": {
            "type": "integer",
            "description": "Salary element-36"
          },
          "allowance_39": {
            "type": "integer",
            "description": "Salary element-37"
          },
          "allowance_40": {
            "type": "integer",
            "description": "Salary element-38"
          },
          "allowance_41": {
            "type": "integer",
            "description": "Salary element-39"
          },
          "allowance_42": {
            "type": "integer",
            "description": "Salary element-40"
          },
          "allowance_43": {
            "type": "integer",
            "description": "Salary element-41"
          },
          "allowance_44": {
            "type": "integer",
            "description": "Salary element-42"
          },
          "allowance_45": {
            "type": "integer",
            "description": "Salary element-43"
          },
          "allowance_46": {
            "type": "integer",
            "description": "Salary element-44"
          },
          "allowance_47": {
            "type": "integer",
            "description": "Salary element-45"
          },
          "allowance_48": {
            "type": "integer",
            "description": "Salary element-46"
          },
          "allowance_49": {
            "type": "integer",
            "description": "Salary element-47"
          },
          "allowance_50": {
            "type": "integer",
            "description": "Salary element-48"
          },
          "allowance_51": {
            "type": "integer",
            "description": "Salary element-49"
          },
          "allowance_52": {
            "type": "integer",
            "description": "Salary element-50"
          },
          "allowance_53": {
            "type": "integer",
            "description": "Salary element-51"
          },
          "allowance_54": {
            "type": "integer",
            "description": "Salary element-52"
          },
          "allowance_55": {
            "type": "integer",
            "description": "Salary element-53"
          },
          "allowance_56": {
            "type": "integer",
            "description": "Salary element-54"
          },
          "allowance_57": {
            "type": "integer",
            "description": "Salary element-55"
          },
          "allowance_58": {
            "type": "integer",
            "description": "Salary element-56"
          },
          "allowance_59": {
            "type": "integer",
            "description": "Salary element-57"
          },
          "allowance_60": {
            "type": "integer",
            "description": "Salary element-58"
          },
          "allowance_61": {
            "type": "integer",
            "description": "Salary element-59"
          },
          "allowance_62": {
            "type": "integer",
            "description": "Salary element-60"
          },
          "allowance_63": {
            "type": "integer",
            "description": "Salary element-61"
          },
          "allowance_64": {
            "type": "integer",
            "description": "Salary element-62"
          },
          "allowance_65": {
            "type": "integer",
            "description": "Salary element-63"
          },
          "allowance_66": {
            "type": "integer",
            "description": "Salary element-64"
          },
          "allowance_67": {
            "type": "integer",
            "description": "Salary element-65"
          },
          "allowance_68": {
            "type": "integer",
            "description": "Salary element-66"
          },
          "allowance_69": {
            "type": "integer",
            "description": "Salary element-67"
          },
          "allowance_70": {
            "type": "integer",
            "description": "Salary element-68"
          },
          "total_compensation": {
            "type": "string",
            "description": "Current Total Cost To Company"
          }
        },
        "xml": {
          "name": "Employee Demographic Data"
        }
      },
      "EmpUpdateFailureResponse": {
        "type": "object",
        "properties": {
          "empUId": {
            "type": "string"
          },
          "fieldname": {
            "type": "string"
          },
          "remark": {
            "type": "string"
          }
        }
      },
      "EmpUId": {
        "required": [
          "empUId"
        ],
        "type": "object",
        "properties": {
          "empUId": {
            "type": "string"
          }
        }
      },
      "EmpInactive": {
        "required": [
          "empUId",
          "termination_date"
        ],
        "type": "object",
        "properties": {
          "empUId": {
            "type": "string"
          },
          "termination_category": {
            "type": "string",
            "description": "category for termination"
          },
          "termination_reason": {
            "type": "string",
            "description": "reason for termination"
          },
          "termination_date": {
            "type": "string",
            "description": "date of termination",
            "format": "date"
          }
        }
      },
      "Login": {
        "required": [
          "apikey",
          "password",
          "username"
        ],
        "type": "object",
        "properties": {
          "apikey": {
            "type": "string",
            "description": "Api key to access"
          },
          "username": {
            "type": "string",
            "description": "The user name for login"
          },
          "password": {
            "type": "string",
            "description": "The password for login in clear text"
          }
        }
      },
      "Data_Field": {
        "type": "object",
        "properties": {
          "field_name": {
            "type": "string",
            "description": "Api field name"
          },
          "compport_display_name": {
            "type": "string",
            "description": "Default Compport Display Name"
          },
          "display_name": {
            "type": "string",
            "description": "Display name of fields"
          },
          "mandatory": {
            "type": "integer",
            "description": "If field is required or not.(0 means non-mandatory / 1 is mandatory)"
          }
        }
      },
      "InvalidEmployeeErrorArray": {
        "type": "object",
        "properties": {
          "empUId": {
            "type": "string",
            "description": "Unique Id Of Employee"
          },
          "error": {
            "type": "string",
            "description": "Error Description"
          }
        }
      },
      "Sip-Payout-Report": {
        "type": "object",
        "properties": {
          "empUId": {
            "type": "string",
            "description": "Unique Id Of Employee"
          },
          "schemeName": {
            "type": "string",
            "description": "name of the scheme"
          }
        }
      },
      "Sip-Performnce-data": {
        "type": "object",
        "properties": {
          "empUId": {
            "type": "string",
            "description": "Unique Id Of Employee"
          },
          "performanceRaing": {
            "type": "string",
            "description": "performance rating"
          },
          "effectiveDate": {
            "type": "string",
            "description": "Date from when the rating is applicable"
          }
        }
      },
      "Client-Integration-data": {
        "type": "object",
        "properties": {
          "unique_identifier_key": {
            "type": "string",
            "example": 123,
            "description": "Key name holding unique identifier for compport"
          },
          "data": {
            "type": "array",
            "items": {
              "type": "object"
            }
          }
        }
      },
      "Candidate-offer-log-report-response": {
        "type": "object",
        "properties": {
          "Candidate Full name": {
            "type": "string",
            "description": "Candidate Full name"
          },
          "Candidate ID": {
            "type": "string",
            "description": "Candidate ID"
          },
          "Email Address": {
            "type": "string",
            "description": "Email Address"
          },
          "Requisition number": {
            "type": "string",
            "description": "Requisition number"
          },
          "Country": {
            "type": "string",
            "description": "Country"
          },
          "Grade": {
            "type": "string",
            "description": "Grade"
          },
          "Level": {
            "type": "string",
            "description": "Level"
          },
          "Type Of Hire": {
            "type": "string",
            "description": "Type Of Hire"
          },
          "Business": {
            "type": "string",
            "description": "Business"
          },
          "Job Code": {
            "type": "string",
            "description": "Job Code"
          },
          "Designation/Title": {
            "type": "string",
            "description": "Designation/Title"
          },
          "Job Family": {
            "type": "string",
            "description": "Job Family"
          },
          "Tenure (Only for FIELD SALES)": {
            "type": "string",
            "description": "Tenure (Only for FIELD SALES)"
          },
          "Product": {
            "type": "string",
            "description": "Product"
          },
          "Years of experience (in months)": {
            "type": "string",
            "description": "Years of experience (in months)"
          },
          "Institute Name / Tier (if present in requisition)": {
            "type": "string",
            "description": "Institute Name / Tier (if present in requisition)"
          },
          "Target TCC": {
            "type": "number",
            "description": "Target TCC"
          },
          "Candidate Current Total CTC": {
            "type": "number",
            "description": "Candidate Current Total CTC"
          },
          "Candidate Fixed Salary": {
            "type": "number",
            "description": "Candidate Fixed Salary"
          },
          "Candidate V Pay": {
            "type": "number",
            "description": "Candidate V Pay"
          },
          "CTC": {
            "type": "number",
            "description": "CTC"
          },
          "Fixed Salary": {
            "type": "number",
            "description": "Fixed Salary"
          },
          "Variable Pay": {
            "type": "number",
            "description": "Variable Pay"
          },
          "Sub Total": {
            "type": "number",
            "description": "Sub Total"
          },
          "Joining Bonus": {
            "type": "number",
            "description": "Joining Bonus"
          },
          "Tranche1 Amount": {
            "type": "number",
            "description": "Tranche1 Amount"
          },
          "Tranche1 Payable At": {
            "type": "string",
            "description": "Tranche1 Payable At"
          },
          "Tranche2 Amount": {
            "type": "number",
            "description": "Tranche2 Amount"
          },
          "Tranche2 Payable At": {
            "type": "string",
            "description": "Tranche2 Payable At"
          },
          "Tranche3 Amount": {
            "type": "number",
            "description": "Tranche3 Amount"
          },
          "Tranche3 Payable At": {
            "type": "string",
            "description": "Tranche3 Payable At"
          },
          "Tranche4 Amount": {
            "type": "number",
            "description": "Tranche4 Amount"
          },
          "Tranche4 Payable At": {
            "type": "string",
            "description": "Tranche4 Payable At"
          },
          "Base": {
            "type": "number",
            "description": "Base"
          },
          "House Rent Allowance": {
            "type": "number",
            "description": "House Rent Allowance"
          },
          "Leave Travel Allowance": {
            "type": "number",
            "description": "Leave Travel Allowance"
          },
          "Statutory Monthly Interim Bonus": {
            "type": "number",
            "description": "Statutory Monthly Interim Bonus"
          },
          "Minimum Guaranteed Bonus": {
            "type": "number",
            "description": "Minimum Guaranteed Bonus"
          },
          "Total Guaranteed Compensation": {
            "type": "number",
            "description": "Total Guaranteed Compensation"
          },
          "Conveyance": {
            "type": "number",
            "description": "Conveyance"
          },
          "Provident Fund": {
            "type": "number",
            "description": "Provident Fund"
          },
          "Gratuity": {
            "type": "number",
            "description": "Gratuity"
          },
          "Approver 1": {
            "type": "string",
            "description": "Approver 1"
          },
          "Approver 2": {
            "type": "string",
            "description": "Approver 2"
          },
          "Approver 3": {
            "type": "string",
            "description": "Approver 3"
          },
          "Approver 4": {
            "type": "string",
            "description": "Approver 4"
          },
          "Timestamp when offer submitted for approver 1": {
            "type": "string",
            "description": "Timestamp when offer submitted for approver 1"
          },
          "Timestamp of approval / rejection by Approver 1": {
            "type": "string",
            "description": "Timestamp of approval / rejection by Approver 1"
          },
          "Timestamp of approval / rejection by Approver 2": {
            "type": "string",
            "description": "Timestamp of approval / rejection by Approver 2"
          },
          "Timestamp of approval / rejection by Approver 3": {
            "type": "string",
            "description": "Timestamp of approval / rejection by Approver 3"
          },
          "Timestamp of approval / rejection by Approver 4": {
            "type": "string",
            "description": "Timestamp of approval / rejection by Approver 4"
          },
          "Offer Status": {
            "type": "string",
            "description": "Offer Status"
          },
          "Timestamp of change": {
            "type": "string",
            "description": "Timestamp of change"
          },
          "Changed by user": {
            "type": "string",
            "description": "Changed by user"
          }
        }
      },
      "Salary-review-request-body": {
        "type": "object",
        "properties": {
          "start_date": {
            "type": "string",
            "description": "start date from where you want data from format yyyy-mm-dd HH:mm:ss"
          },
          "end_date": {
            "type": "string",
            "description": "end date till where you want data to format yyyy-mm-dd HH:mm:ss"
          },
          "rule_id": {
            "type": "integer",
            "description": "Id of the rule for which user wants to fetch data if Not passed will pick data using start date and end date for all rules."
          },
          "limit": {
            "type": "integer",
            "maximum": 1000,
            "description": "Number Of record to fetch"
          },
          "offset": {
            "type": "integer",
            "description": "Offset key to fetch data"
          },
          "user_id": {
            "type": "array",
            "items": {
              "type": "string"
            },
            "description": "Unique ids of user."
          }
        },
        "required": [
          "start_date",
          "end_date"
        ]
      },
      "Bonus-payout-response": {
        "type": "object",
        "properties": {
          "effective_data": {
            "type": "string",
            "description": "Payout effective from date"
          },
          "multiplier": {
            "type": "integer",
            "description": "Bonus payout multiplier"
          },
          "target_bonus": {
            "type": "integer",
            "description": "Target Bonus"
          },
          "prorated_target_bonus": {
            "type": "integer",
            "description": "Prorated Target Bonus"
          },
          "final_bonus_payout": {
            "type": "integer",
            "description": "Final Bonus payout"
          },
          "final_bonus_percentage": {
            "type": "integer",
            "description": "Final Bonus payout percentage"
          }
        }
      },
      "EmployeeLTIGrantDetails": {
        "type": "object",
        "properties": {
          "empUId": {
            "type": "string",
            "description": "Unique identifier for the employee"
          },
          "employee_name": {
            "type": "string",
            "description": "Full name of the employee"
          },
          "title": {
            "type": "string",
            "description": "Job title of the employee"
          },
          "grade": {
            "type": "string",
            "description": "Employee's grade"
          },
          "level": {
            "type": "string",
            "description": "Employee's level within the organization"
          },
          "function": {
            "type": "string",
            "description": "Employee's function or department"
          },
          "bu_1": {
            "type": "string",
            "description": "Business unit level 1"
          },
          "bu_2": {
            "type": "string",
            "description": "Business unit level 2"
          },
          "bu_3": {
            "type": "string",
            "description": "Business unit level 3"
          },
          "approver_1": {
            "type": "string",
            "description": "Approver for the employee's grant"
          },
          "status": {
            "type": "string",
            "description": "Status of the employee (e.g., active, terminated)"
          },
          "termination_date": {
            "type": "string",
            "format": "date",
            "description": "Employee's termination date (if applicable)"
          },
          "grant_date": {
            "type": "string",
            "format": "date",
            "description": "Date when the grant was issued"
          },
          "performance_rating_grant_date": {
            "type": "string",
            "description": "Performance rating at the time of grant"
          },
          "talent_rating_grant_date": {
            "type": "string",
            "description": "Talent rating at the time of grant"
          },
          "multiplier_grant_date": {
            "type": "number",
            "description": "Multiplier used at the time of grant"
          },
          "local_currency_total_lti_grant_value": {
            "type": "string",
            "description": "Currency used for the total LTI grant value"
          },
          "total_grant_value_amount_local_currency": {
            "type": "number",
            "description": "Total grant value in local currency"
          },
          "stock_price_currency": {
            "type": "string",
            "description": "Currency used for stock price"
          },
          "total_number_of_shares_granted": {
            "type": "integer",
            "description": "Total number of shares granted"
          },
          "number_of_shares_fmv_value": {
            "type": "integer",
            "description": "Number of shares at fair market value (FMV)"
          },
          "number_of_shares_at_par_value": {
            "type": "integer",
            "description": "Number of shares at par value"
          },
          "vesting_1_date": {
            "type": "string",
            "format": "date",
            "description": "Vesting date 1"
          },
          "performance_rating_vesting_1": {
            "type": "string",
            "description": "Performance rating at the time of vesting 1"
          },
          "talent_rating_vesting_1": {
            "type": "string",
            "description": "Talent rating at the time of vesting 1"
          },
          "multiplier_vesting_1": {
            "type": "number",
            "description": "Multiplier used at the time of vesting 1"
          },
          "total_value_vesting_1": {
            "type": "number",
            "description": "Total value at the time of vesting 1"
          },
          "total_number_of_shares_vesting_1": {
            "type": "integer",
            "description": "Total number of shares at the time of vesting 1"
          },
          "number_of_shares_fmv_vesting_1": {
            "type": "integer",
            "description": "Number of shares with FMV at the time of vesting 1"
          },
          "number_of_shares_at_par_vesting_1": {
            "type": "integer",
            "description": "Number of shares with par value at the time of vesting 1"
          },
          "vesting_2_date": {
            "type": "string",
            "format": "date",
            "description": "Vesting date 2"
          },
          "performance_rating_vesting_2": {
            "type": "string",
            "description": "Performance rating at the time of vesting 2"
          },
          "talent_rating_vesting_2": {
            "type": "string",
            "description": "Talent rating at the time of vesting 2"
          },
          "multiplier_vesting_2": {
            "type": "number",
            "description": "Multiplier used at the time of vesting 2"
          },
          "total_value_vesting_2": {
            "type": "number",
            "description": "Total value at the time of vesting 2"
          },
          "number_of_shares_fmv_vesting_2": {
            "type": "integer",
            "description": "Number of shares with FMV at the time of vesting 2"
          },
          "number_of_shares_at_par_vesting_2": {
            "type": "integer",
            "description": "Number of shares with par value at the time of vesting 2"
          },
          "vesting_3_date": {
            "type": "string",
            "format": "date",
            "description": "Vesting date 3"
          },
          "performance_rating_vesting_3": {
            "type": "string",
            "description": "Performance rating at the time of vesting 3"
          },
          "talent_rating_vesting_3": {
            "type": "string",
            "description": "Talent rating at the time of vesting 3"
          },
          "multiplier_vesting_3": {
            "type": "number",
            "description": "Multiplier used at the time of vesting 3"
          },
          "total_value_vesting_3": {
            "type": "number",
            "description": "Total value at the time of vesting 3"
          },
          "total_number_of_shares_vesting_3": {
            "type": "integer",
            "description": "Total number of shares at the time of vesting 3"
          },
          "number_of_shares_fmv_vesting_3": {
            "type": "integer",
            "description": "Number of shares with FMV at the time of vesting 3"
          },
          "number_of_shares_at_par_vesting_3": {
            "type": "integer",
            "description": "Number of shares with par value at the time of vesting 3"
          },
          "vesting_4_date": {
            "type": "string",
            "format": "date",
            "description": "Vesting date 4"
          },
          "performance_rating_vesting_4": {
            "type": "string",
            "description": "Performance rating at the time of vesting 4"
          },
          "talent_rating_vesting_4": {
            "type": "string",
            "description": "Talent rating at the time of vesting 4"
          },
          "multiplier_vesting_4": {
            "type": "number",
            "description": "Multiplier used at the time of vesting 4"
          },
          "total_value_vesting_4": {
            "type": "number",
            "description": "Total value at the time of vesting 4"
          },
          "total_number_of_shares_vesting_4": {
            "type": "integer",
            "description": "Total number of shares at the time of vesting 4"
          },
          "number_of_shares_fmv_vesting_4": {
            "type": "integer",
            "description": "Number of shares with FMV at the time of vesting 4"
          },
          "number_of_shares_at_par_vesting_4": {
            "type": "integer",
[...]
