{
  "swagger": "2.0",
  "info": {
    "title": "ChainAware API",
    "version": "1.0.2",
    "x-jentic-source-url": "https://api.swaggerhub.com/apis/chainawareai-522/Chainaware.ai/1.0.2"
  },
  "host": "enterprise.api.chainaware.ai",
  "basePath": "/",
  "schemes": [
    "https"
  ],
  "consumes": [
    "application/json"
  ],
  "produces": [
    "application/json"
  ],
  "paths": {
    "/fraud/check": {
      "post": {
        "summary": "Calculate fraud probability of a given wallet address",
        "tags": [
          "Fraud API's"
        ],
        "parameters": [
          {
            "in": "header",
            "name": "x-api-key",
            "type": "string",
            "required": true
          },
          {
            "in": "body",
            "name": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/FraudCheckRequestBody"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Fraud check result",
            "schema": {
              "$ref": "#/definitions/FraudCheckResponse"
            }
          }
        }
      }
    },
    "/fraud/audit": {
      "post": {
        "summary": "Audit wallet address",
        "tags": [
          "Fraud API's"
        ],
        "parameters": [
          {
            "in": "header",
            "name": "x-api-key",
            "type": "string",
            "required": true
          },
          {
            "in": "body",
            "name": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/WalletAuditRequestBody"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Fraud check result",
            "schema": {
              "$ref": "#/definitions/WalletAuditResponse"
            }
          }
        }
      }
    },
    "/rug/pull-check": {
      "post": {
        "summary": "Calculate fraud probability of a given contract address",
        "tags": [
          "Fraud API's"
        ],
        "parameters": [
          {
            "in": "header",
            "name": "x-api-key",
            "type": "string",
            "required": true
          },
          {
            "in": "body",
            "name": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/RugPullRequestBody"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Fraud check result",
            "schema": {
              "$ref": "#/definitions/RugPullResponse"
            }
          }
        }
      }
    },
    "/segmentation/wallet-segment": {
      "post": {
        "summary": "Get wallet segment information",
        "tags": [
          "Segmentation API"
        ],
        "parameters": [
          {
            "in": "header",
            "name": "x-api-key",
            "type": "string",
            "required": true
          },
          {
            "in": "body",
            "name": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/WalletSegmentRequestBody"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Wallet segment information",
            "schema": {
              "$ref": "#/definitions/WalletSegmentResponse"
            }
          }
        }
      }
    },
    "/users/credit-score": {
      "post": {
        "summary": "Get user's credit score",
        "tags": [
          "Credit Score API"
        ],
        "parameters": [
          {
            "in": "header",
            "name": "x-api-key",
            "type": "string",
            "required": true
          },
          {
            "in": "body",
            "name": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/CreditScoreRequestBody"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "User's credit score",
            "schema": {
              "$ref": "#/definitions/CreditScoreResponse"
            }
          }
        }
      }
    }
  },
  "definitions": {
    "FraudCheckRequestBody": {
      "type": "object",
      "properties": {
        "network": {
          "type": "string"
        },
        "walletAddress": {
          "type": "string"
        },
        "onlyFraud": {
          "type": "boolean",
          "enum": [
            true
          ]
        }
      }
    },
    "FraudCheckResponse": {
      "type": "object",
      "properties": {
        "message": {
          "type": "string"
        },
        "walletAddress": {
          "type": "string"
        },
        "status": {
          "type": "string"
        },
        "probabilityFraud": {
          "type": "string"
        },
        "token": {
          "type": "string",
          "x-nullable": true
        },
        "lastChecked": {
          "type": "string"
        },
        "forensic_details": {
          "type": "object",
          "additionalProperties": {
            "type": "object"
          }
        },
        "createdAt": {
          "type": "string"
        },
        "updatedAt": {
          "type": "string",
          "x-nullable": true
        }
      }
    },
    "WalletAuditRequestBody": {
      "type": "object",
      "properties": {
        "network": {
          "type": "string"
        },
        "walletAddress": {
          "type": "string"
        }
      }
    },
    "WalletAuditResponse": {
      "type": "object",
      "properties": {
        "message": {
          "type": "string"
        },
        "walletAddress": {
          "type": "string"
        },
        "status": {
          "type": "string"
        },
        "probabilityFraud": {
          "type": "string"
        },
        "token": {
          "type": "string",
          "x-nullable": true
        },
        "lastChecked": {
          "type": "string"
        },
        "forensic_details": {
          "type": "object",
          "additionalProperties": {
            "type": "object"
          }
        },
        "categories": {
          "type": "object",
          "additionalProperties": {
            "type": "object"
          }
        },
        "riskProfile": {
          "type": "object",
          "additionalProperties": {
            "type": "object"
          }
        },
        "segmentInfo": {
          "type": "object",
          "additionalProperties": {
            "type": "object"
          }
        },
        "experience": {
          "type": "object",
          "additionalProperties": {
            "type": "object"
          }
        },
        "recommendation": {
          "type": "object",
          "additionalProperties": {
            "type": "object"
          }
        },
        "intention": {
          "type": "object",
          "additionalProperties": {
            "type": "object"
          }
        },
        "createdAt": {
          "type": "string"
        },
        "updatedAt": {
          "type": "string",
          "x-nullable": true
        }
      }
    },
    "RugPullRequestBody": {
      "type": "object",
      "properties": {
        "network": {
          "type": "string"
        },
        "contractAddress": {
          "type": "string"
        }
      }
    },
    "RugPullResponse": {
      "type": "object",
      "properties": {
        "message": {
          "type": "string"
        },
        "contractAddress": {
          "type": "string"
        },
        "status": {
          "type": "string"
        },
        "probabilityFraud": {
          "type": "string"
        },
        "lastChecked": {
          "type": "string"
        },
        "forensic_details": {
          "type": "object",
          "additionalProperties": {
            "type": "object"
          }
        },
        "createdAt": {
          "type": "string"
        },
        "updatedAt": {
          "type": "string",
          "x-nullable": true
        }
      }
    },
    "WalletSegmentRequestBody": {
      "type": "object",
      "properties": {
        "walletAddress": {
          "type": "string"
        },
        "network": {
          "type": "string"
        }
      }
    },
    "WalletSegmentResponse": {
      "type": "object",
      "properties": {
        "message": {
          "type": "string"
        },
        "data": {
          "type": "object",
          "properties": {
            "walletAddress": {
              "type": "string"
            },
            "walletQuality": {
              "type": "integer"
            },
            "segmentInfo": {
              "type": "string"
            }
          }
        }
      }
    },
    "CreditScoreRequestBody": {
      "type": "object",
      "properties": {
        "network": {
          "type": "string"
        },
        "walletAddress": {
          "type": "string"
        }
      }
    },
    "CreditScoreResponse": {
      "type": "object",
      "properties": {
        "message": {
          "type": "string"
        },
        "data": {
          "type": "object",
          "properties": {
            "walletAddress": {
              "type": "string"
            },
            "creditScore": {
              "type": "integer"
            },
            "details": {
              "type": "object",
              "additionalProperties": {
                "type": "string"
              }
            }
          }
        }
      }
    }
  }
}