{
  "openapi": "3.0.3",
  "info": {
    "title": "Actividad 1",
    "version": "1.0.0",
    "contact": {},
    "x-jentic-source-url": "https://api.swaggerhub.com/apis/jeffersondiaz318810o/ApiActividad1/1.0.0"
  },
  "servers": [
    {
      "url": "https://pruebas.comfamapro.com"
    }
  ],
  "paths": {
    "/admin/api/v2/users": {
      "post": {
        "summary": "Crear Usuario",
        "description": "Este endpoint permite registrar un nuevo usuario en el sistema mediante el env\u00edo de sus datos b\u00e1sicos, como identificador, nombre de usuario y configuraciones relacionadas con privilegios y validaciones de registro. Su prop\u00f3sito es incorporar nuevos usuarios garantizando que la informaci\u00f3n cumpla con las reglas de negocio establecidas, como la unicidad del identificador.",
        "operationId": "crearUsuario",
        "parameters": [
          {
            "name": "lw-client",
            "in": "header",
            "schema": {
              "type": "string",
              "example": "628cbf9cb7cb0aacc50f8452"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "email": {
                    "type": "string",
                    "example": "jeffersondiaz@gmail.com"
                  },
                  "fields": {
                    "type": "object",
                    "properties": {
                      "bio": {
                        "type": "string",
                        "example": "my story"
                      },
                      "fb": {
                        "type": "string",
                        "example": "https://www.facebook.com/johndoe"
                      },
                      "location": {
                        "type": "string",
                        "example": "Panormo"
                      },
                      "twitter": {
                        "type": "string",
                        "example": "htttps://www.twitter.com/johndoe"
                      },
                      "url": {
                        "type": "string",
                        "example": "https://test.com"
                      }
                    }
                  },
                  "is_admin": {
                    "type": "boolean",
                    "example": false
                  },
                  "send_registration_email": {
                    "type": "boolean",
                    "example": true
                  },
                  "signup_validation_rules": {
                    "type": "boolean",
                    "example": true
                  },
                  "subscribed_for_marketing_emails": {
                    "nullable": true,
                    "example": null
                  },
                  "tags": {
                    "type": "array",
                    "items": {
                      "type": "string",
                      "example": "ITM"
                    },
                    "example": [
                      "ITM"
                    ]
                  },
                  "username": {
                    "type": "string",
                    "example": "jefferson-diaz-1128274993"
                  },
                  "utms": {
                    "type": "object",
                    "properties": {
                      "fc_utm_campaign": {
                        "type": "string",
                        "example": "WOW campaign"
                      },
                      "fc_utm_medium": {
                        "type": "string",
                        "example": "FB"
                      },
                      "fc_utm_source": {
                        "type": "string",
                        "example": "Facebook"
                      }
                    }
                  }
                }
              },
              "examples": {
                "Crear Usuario": {
                  "value": {
                    "email": "jeffersondiaz@gmail.com",
                    "fields": {
                      "bio": "my story",
                      "fb": "https://www.facebook.com/johndoe",
                      "location": "Panormo",
                      "twitter": "htttps://www.twitter.com/johndoe",
                      "url": "https://test.com"
                    },
                    "is_admin": false,
                    "send_registration_email": true,
                    "signup_validation_rules": true,
                    "subscribed_for_marketing_emails": null,
                    "tags": [
                      "ITM"
                    ],
                    "username": "jefferson-diaz-1128274993",
                    "utms": {
                      "fc_utm_campaign": "WOW campaign",
                      "fc_utm_medium": "FB",
                      "fc_utm_source": "Facebook"
                    }
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": ""
          }
        }
      }
    },
    "/admin/api/v2/courses": {
      "post": {
        "summary": "Crear curso",
        "description": "Este endpoint se utiliza para registrar un nuevo curso en la plataforma, almacenando informaci\u00f3n como su identificador, t\u00edtulo, tipo de expiraci\u00f3n y categor\u00eda. Su finalidad es ampliar o mantener actualizado el cat\u00e1logo de cursos disponibles para los usuarios.",
        "operationId": "crearCurso",
        "parameters": [
          {
            "name": "lw-client",
            "in": "header",
            "schema": {
              "type": "string",
              "example": "628cbf9cb7cb0aacc50f8452"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "access": {
                    "type": "string",
                    "example": "free"
                  },
                  "categories": {
                    "type": "array",
                    "items": {
                      "type": "string",
                      "example": "free_course"
                    },
                    "example": [
                      "free_course"
                    ]
                  },
                  "description": {
                    "type": "string",
                    "example": "A testing course"
                  },
                  "dripFeed": {
                    "type": "string",
                    "example": "days"
                  },
                  "label": {
                    "type": "string",
                    "example": "new"
                  },
                  "price": {
                    "type": "number",
                    "example": 0
                  },
                  "title": {
                    "type": "string",
                    "example": "curso prueba"
                  },
                  "titleId": {
                    "type": "string",
                    "example": "curso_de_jefferson_diaz"
                  }
                }
              },
              "examples": {
                "Crear curso": {
                  "value": {
                    "access": "free",
                    "categories": [
                      "free_course"
                    ],
                    "description": "A testing course",
                    "dripFeed": "days",
                    "label": "new",
                    "price": 0,
                    "title": "curso prueba",
                    "titleId": "curso_de_jefferson_diaz"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": ""
          }
        }
      }
    },
    "/admin/api/v2/users/jeffersondiaz@gmail.com/enrollment": {
      "post": {
        "summary": "Enrolamiento Usuario-Curso",
        "description": "Este endpoint permite crear una nueva inscripci\u00f3n que vincula a un usuario con un curso espec\u00edfico, estableciendo formalmente la relaci\u00f3n entre ambas entidades. Adem\u00e1s de las claves for\u00e1neas, puede incluir informaci\u00f3n adicional como tipo de producto, justificaci\u00f3n, precio y configuraci\u00f3n de env\u00edo de correo",
        "operationId": "enrolamientoUsuarioCurso",
        "parameters": [
          {
            "name": "lw-client",
            "in": "header",
            "schema": {
              "type": "string",
              "example": "628cbf9cb7cb0aacc50f8452"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "justification": {
                    "type": "string",
                    "example": "Added by admin"
                  },
                  "price": {
                    "type": "number",
                    "example": 0
                  },
                  "productId": {
                    "type": "string",
                    "example": "curso-de-jefferson-diaz"
                  },
                  "productType": {
                    "type": "string",
                    "example": "course"
                  },
                  "send_enrollment_email": {
                    "type": "boolean",
                    "example": true
                  }
                }
              },
              "examples": {
                "Enrolamiento Usuario-Curso": {
                  "value": {
                    "justification": "Added by admin",
                    "price": 0,
                    "productId": "curso-de-jefferson-diaz",
                    "productType": "course",
                    "send_enrollment_email": true
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": ""
          }
        }
      }
    }
  },
  "tags": []
}