{
  "openapi": "3.0.3",
  "info": {
    "title": "Astrology API",
    "version": "1.0.0",
    "description": "AstrologyAPI provides Indian (Vedic) and Western astrology data via REST API. Get birth charts, planetary positions, horoscopes, compatibility reports, and predictions.",
    "x-jentic-source-url": "https://astrologyapi.com/docs",
    "contact": {
      "name": "API Support"
    }
  },
  "servers": [
    {
      "url": "https://json.astrologyapi.com",
      "description": "AstrologyAPI Server"
    }
  ],
  "security": [
    {
      "BasicAuth": []
    }
  ],
  "tags": [
    {
      "name": "Basics",
      "description": "Basic astrology calculations"
    },
    {
      "name": "Horoscope",
      "description": "Horoscope predictions"
    },
    {
      "name": "Compatibility",
      "description": "Compatibility matching"
    },
    {
      "name": "Dosha",
      "description": "Dosha calculations"
    }
  ],
  "paths": {
    "/v1/birth_details": {
      "post": {
        "tags": [
          "Basics"
        ],
        "summary": "Get birth details",
        "description": "Get Sunrise, Sunset, Ayanamsha and other birth details for given birth data.",
        "operationId": "getBirthDetails",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/BirthDataRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Birth details",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        }
      }
    },
    "/v1/astro_details": {
      "post": {
        "tags": [
          "Basics"
        ],
        "summary": "Get astro details",
        "description": "Get Ascendant, Varna, Yoni, Nakshatra and other astro details.",
        "operationId": "getAstroDetails",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/BirthDataRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Astro details",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        }
      }
    },
    "/v1/planets": {
      "post": {
        "tags": [
          "Basics"
        ],
        "summary": "Get planetary positions",
        "description": "Get positions of all planets including Rahu and Ketu with sign, nakshatra, degree and retrograde status.",
        "operationId": "getPlanetaryPositions",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/BirthDataRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Planetary positions",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/PlanetPosition"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/v1/general_house_report/{planet}": {
      "post": {
        "tags": [
          "Basics"
        ],
        "summary": "Get general house report",
        "description": "Get general predictions based on planet placement in houses.",
        "operationId": "getGeneralHouseReport",
        "parameters": [
          {
            "name": "planet",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Planet name (sun, moon, mars, mercury, jupiter, venus, saturn)"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/BirthDataRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "House report",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        }
      }
    },
    "/v1/sun_sign_prediction/daily/{sign}": {
      "post": {
        "tags": [
          "Horoscope"
        ],
        "summary": "Get daily sun sign prediction",
        "description": "Get daily horoscope prediction for a zodiac sign.",
        "operationId": "getDailySunSignPrediction",
        "parameters": [
          {
            "name": "sign",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "enum": [
                "aries",
                "taurus",
                "gemini",
                "cancer",
                "leo",
                "virgo",
                "libra",
                "scorpio",
                "sagittarius",
                "capricorn",
                "aquarius",
                "pisces"
              ]
            }
          }
        ],
        "requestBody": {
          "required": false,
          "content": {
            "application/json": {
              "schema": {
                "type": "object"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Daily prediction",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SunSignPrediction"
                }
              }
            }
          }
        }
      }
    },
    "/v1/sun_sign_prediction/weekly/{sign}": {
      "post": {
        "tags": [
          "Horoscope"
        ],
        "summary": "Get weekly sun sign prediction",
        "operationId": "getWeeklySunSignPrediction",
        "parameters": [
          {
            "name": "sign",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "enum": [
                "aries",
                "taurus",
                "gemini",
                "cancer",
                "leo",
                "virgo",
                "libra",
                "scorpio",
                "sagittarius",
                "capricorn",
                "aquarius",
                "pisces"
              ]
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Weekly prediction",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SunSignPrediction"
                }
              }
            }
          }
        },
        "description": "Get weekly sun sign prediction"
      }
    },
    "/v1/kundli_matching": {
      "post": {
        "tags": [
          "Compatibility"
        ],
        "summary": "Kundli matching",
        "description": "Get Ashtakoot compatibility report between two birth charts (gun milan).",
        "operationId": "kundliMatching",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/MatchingRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Matching result",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        }
      }
    },
    "/v1/mangal_dosh": {
      "post": {
        "tags": [
          "Dosha"
        ],
        "summary": "Mangal Dosha analysis",
        "description": "Check for Mangal Dosha (Mars affliction) in a birth chart.",
        "operationId": "mangalDosh",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/BirthDataRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Mangal Dosha result",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        }
      }
    },
    "/v1/kalsarpa_dosh": {
      "post": {
        "tags": [
          "Dosha"
        ],
        "summary": "Kalsarpa Dosha analysis",
        "description": "Check for Kalsarpa Dosha in a birth chart.",
        "operationId": "kalsarpaDosh",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/BirthDataRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Kalsarpa Dosha result",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        }
      }
    },
    "/v1/numero_table": {
      "post": {
        "tags": [
          "Basics"
        ],
        "summary": "Numerology table",
        "description": "Get numerology analysis based on name and date of birth.",
        "operationId": "getNumerologyTable",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/NumerologyRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Numerology table",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        }
      }
    }
  },
  "components": {
    "securitySchemes": {
      "BasicAuth": {
        "type": "http",
        "scheme": "basic",
        "description": "Use your userId and API key as Basic Auth credentials (userId:apiKey)"
      }
    },
    "schemas": {
      "BirthDataRequest": {
        "type": "object",
        "required": [
          "day",
          "month",
          "year",
          "hour",
          "min",
          "lat",
          "lon",
          "tzone"
        ],
        "properties": {
          "day": {
            "type": "integer",
            "description": "Birth day (1-31)"
          },
          "month": {
            "type": "integer",
            "description": "Birth month (1-12)"
          },
          "year": {
            "type": "integer",
            "description": "Birth year"
          },
          "hour": {
            "type": "integer",
            "description": "Birth hour (0-23)"
          },
          "min": {
            "type": "integer",
            "description": "Birth minute (0-59)"
          },
          "lat": {
            "type": "number",
            "description": "Latitude of birth place"
          },
          "lon": {
            "type": "number",
            "description": "Longitude of birth place"
          },
          "tzone": {
            "type": "number",
            "description": "Timezone offset from UTC (e.g. 5.5 for IST)"
          }
        }
      },
      "MatchingRequest": {
        "type": "object",
        "required": [
          "m_day",
          "m_month",
          "m_year",
          "m_hour",
          "m_min",
          "m_lat",
          "m_lon",
          "m_tzone",
          "f_day",
          "f_month",
          "f_year",
          "f_hour",
          "f_min",
          "f_lat",
          "f_lon",
          "f_tzone"
        ],
        "properties": {
          "m_day": {
            "type": "integer"
          },
          "m_month": {
            "type": "integer"
          },
          "m_year": {
            "type": "integer"
          },
          "m_hour": {
            "type": "integer"
          },
          "m_min": {
            "type": "integer"
          },
          "m_lat": {
            "type": "number"
          },
          "m_lon": {
            "type": "number"
          },
          "m_tzone": {
            "type": "number"
          },
          "f_day": {
            "type": "integer"
          },
          "f_month": {
            "type": "integer"
          },
          "f_year": {
            "type": "integer"
          },
          "f_hour": {
            "type": "integer"
          },
          "f_min": {
            "type": "integer"
          },
          "f_lat": {
            "type": "number"
          },
          "f_lon": {
            "type": "number"
          },
          "f_tzone": {
            "type": "number"
          }
        }
      },
      "NumerologyRequest": {
        "type": "object",
        "required": [
          "day",
          "month",
          "year",
          "name"
        ],
        "properties": {
          "day": {
            "type": "integer"
          },
          "month": {
            "type": "integer"
          },
          "year": {
            "type": "integer"
          },
          "name": {
            "type": "string"
          }
        }
      },
      "PlanetPosition": {
        "type": "object",
        "properties": {
          "name": {
            "type": "string"
          },
          "fullDegree": {
            "type": "number"
          },
          "normDegree": {
            "type": "number"
          },
          "speed": {
            "type": "number"
          },
          "isRetro": {
            "type": "string"
          },
          "sign": {
            "type": "string"
          },
          "signLord": {
            "type": "string"
          },
          "nakshatra": {
            "type": "string"
          },
          "nakshatraLord": {
            "type": "string"
          },
          "house": {
            "type": "integer"
          }
        }
      },
      "SunSignPrediction": {
        "type": "object",
        "properties": {
          "sun_sign": {
            "type": "string"
          },
          "prediction": {
            "type": "object",
            "properties": {
              "personal_life": {
                "type": "string"
              },
              "profession": {
                "type": "string"
              },
              "health": {
                "type": "string"
              },
              "emotions": {
                "type": "string"
              },
              "travel": {
                "type": "string"
              },
              "luck": {
                "type": "string"
              }
            }
          }
        }
      }
    }
  }
}
