{
  "openapi": "3.0.3",
  "info": {
    "title": "Zipcodestack API",
    "version": "1.0.0",
    "description": "Zipcodestack provides postal/zip code lookup and search for 200+ countries. Search by code, find nearby codes, lookup by city and country.",
    "x-jentic-source-url": "https://zipcodestack.com/documentation",
    "contact": {
      "name": "API Support"
    }
  },
  "servers": [
    {
      "url": "https://api.zipcodestack.com/v1"
    }
  ],
  "paths": {
    "/search": {
      "get": {
        "operationId": "searchZipCodes",
        "summary": "Search zip codes",
        "description": "Search for one or more zip/postal codes and get location data.",
        "tags": [
          "Search"
        ],
        "parameters": [
          {
            "name": "codes",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Comma-separated codes"
          },
          {
            "name": "country",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "description": "ISO-2 country code"
          },
          {
            "name": "apikey",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Search results",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SearchResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/nearby": {
      "get": {
        "operationId": "findNearby",
        "summary": "Find nearby codes",
        "description": "Find postal codes near a given code within a radius.",
        "tags": [
          "Nearby"
        ],
        "parameters": [
          {
            "name": "code",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "country",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "radius",
            "in": "query",
            "required": true,
            "schema": {
              "type": "number"
            },
            "description": "Radius in km"
          },
          {
            "name": "apikey",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Nearby codes",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/NearbyResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/country": {
      "get": {
        "operationId": "getCodesByCountry",
        "summary": "Get codes by country",
        "description": "Get all postal codes for a country.",
        "tags": [
          "Lookup"
        ],
        "parameters": [
          {
            "name": "country",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "apikey",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Country codes",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CodesListResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/cities": {
      "get": {
        "operationId": "getCodesByCity",
        "summary": "Get codes by city",
        "description": "Get all postal codes for a city.",
        "tags": [
          "Lookup"
        ],
        "parameters": [
          {
            "name": "city",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "country",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "apikey",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "City codes",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CodesListResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/distance": {
      "get": {
        "operationId": "calculateDistance",
        "summary": "Calculate distance",
        "description": "Calculate distance between two postal codes.",
        "tags": [
          "Distance"
        ],
        "parameters": [
          {
            "name": "code",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "compare",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "country",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "unit",
            "in": "query",
            "schema": {
              "type": "string",
              "enum": [
                "km",
                "mi"
              ]
            }
          },
          {
            "name": "apikey",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Distance result",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DistanceResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    }
  },
  "components": {
    "schemas": {
      "SearchResponse": {
        "type": "object",
        "properties": {
          "query": {
            "type": "object"
          },
          "results": {
            "type": "object",
            "additionalProperties": {
              "type": "array",
              "items": {
                "$ref": "#/components/schemas/PostalCodeResult"
              }
            }
          }
        }
      },
      "PostalCodeResult": {
        "type": "object",
        "properties": {
          "postal_code": {
            "type": "string"
          },
          "country_code": {
            "type": "string"
          },
          "latitude": {
            "type": "string"
          },
          "longitude": {
            "type": "string"
          },
          "city": {
            "type": "string"
          },
          "state": {
            "type": "string"
          },
          "province": {
            "type": "string"
          }
        }
      },
      "NearbyResponse": {
        "type": "object",
        "properties": {
          "query": {
            "type": "object"
          },
          "results": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "code": {
                  "type": "string"
                },
                "city": {
                  "type": "string"
                },
                "distance": {
                  "type": "number"
                }
              }
            }
          }
        }
      },
      "CodesListResponse": {
        "type": "object",
        "properties": {
          "query": {
            "type": "object"
          },
          "results": {
            "type": "array",
            "items": {
              "type": "string"
            }
          }
        }
      },
      "DistanceResponse": {
        "type": "object",
        "properties": {
          "query": {
            "type": "object"
          },
          "results": {
            "type": "object",
            "properties": {
              "distance_in_km": {
                "type": "number"
              },
              "distance_in_mi": {
                "type": "number"
              }
            }
          }
        }
      },
      "ErrorResponse": {
        "type": "object",
        "properties": {
          "error": {
            "type": "string"
          },
          "message": {
            "type": "string"
          }
        }
      }
    },
    "securitySchemes": {
      "apiKeyQuery": {
        "type": "apiKey",
        "in": "query",
        "name": "apikey",
        "description": "Zipcodestack API key"
      }
    }
  },
  "security": [
    {
      "apiKeyQuery": []
    }
  ],
  "tags": [
    {
      "name": "Distance"
    },
    {
      "name": "Lookup"
    },
    {
      "name": "Nearby"
    },
    {
      "name": "Search"
    }
  ]
}
