{
  "openapi": "3.0.2",
  "info": {
    "title": "Clients APIs",
    "version": "1.3.0",
    "description": "API \u0434\u043b\u044f \u0432\u0437\u0430\u0438\u043c\u043e\u0434\u0435\u0439\u0441\u0442\u0432\u0438\u044f \u0441 \u0434\u0430\u043d\u043d\u044b\u043c\u0438 \u043a\u043b\u0438\u0435\u043d\u0442\u043e\u0432 (\u0422\u0421\u041f) \u0432 \u041f\u0430\u0440\u0442\u043d\u0435\u0440\u0441\u043a\u043e\u043c \u041f\u043e\u0440\u0442\u0430\u043b\u0435 \u0412\u041f\u041f.\n\n\u041f\u043e \u0443\u043c\u043e\u043b\u0447\u0430\u043d\u0438\u044e \u0432\u0441\u0435 \u0437\u0430\u043f\u0440\u043e\u0441\u044b \u0438 \u043e\u0442\u0432\u0435\u0442\u044b \u043f\u0435\u0440\u0435\u0434\u0430\u044e\u0442\u0441\u044f \u0432 \u0444\u043e\u0440\u043c\u0430\u0442\u0435 JSON.\n\n\u041c\u043e\u0434\u0435\u043b\u044c \u0434\u0430\u043d\u043d\u044b\u0445 - \u043c\u0438\u043d\u0438\u043c\u0430\u043b\u044c\u043d\u043e \u0434\u043e\u0441\u0442\u0430\u0442\u043e\u0447\u043d\u0430\u044f \u0434\u043b\u044f \u043e\u0442\u043e\u0431\u0440\u0430\u0436\u0435\u043d\u0438\u044f/\u0441\u043e\u043e\u0442\u0432\u0435\u0442\u0441\u0442\u0432\u0438\u044f UI.\n\n\u0418\u0434\u0435\u043d\u0442\u0438\u0444\u0438\u043a\u0430\u0446\u0438\u044f \u043f\u0430\u0440\u0442\u043d\u0435\u0440\u0430 \u043f\u0440\u043e\u0438\u0441\u0445\u043e\u0434\u0438\u0442 \u043f\u043e \u0430\u0432\u0442\u043e\u0440\u0438\u0437\u043e\u0432\u0430\u043d\u043d\u043e\u043c\u0443 \u043f\u043e\u043b\u044c\u0437\u043e\u0432\u0430\u0442\u0435\u043b\u044e (Bearer Token).\n",
    "x-jentic-source-url": "https://api.swaggerhub.com/apis/SULTANTAPI/clients-apis/1.3.0"
  },
  "servers": [
    {
      "url": "https://beta-partner.payment-guide.ru/api/{basePath}",
      "description": "replacement functionality URL",
      "variables": {
        "basePath": {
          "default": "v2"
        }
      }
    }
  ],
  "tags": [
    {
      "name": "Read",
      "description": "\u041c\u0435\u0442\u043e\u0434\u044b API \u0434\u043b\u044f \u043f\u043e\u043b\u0443\u0447\u0435\u043d\u0438\u044f \u0434\u0430\u043d\u043d\u044b\u0445 \u043e \u043a\u043b\u0438\u0435\u043d\u0442\u0430\u0445 (\u0422\u0421\u041f).\n"
    },
    {
      "name": "Update",
      "description": "\u041c\u0435\u0442\u043e\u0434\u044b API \u0434\u043b\u044f \u0438\u0437\u043c\u0435\u043d\u0435\u043d\u0438\u044f (\u0438\u043d\u0438\u0446\u0438\u0430\u0446\u0438\u0438 \u0438\u0437\u043c\u0435\u043d\u0435\u043d\u0438\u044f) \u0434\u0430\u043d\u043d\u044b\u0445 \u043e \u043a\u043b\u0438\u0435\u043d\u0442\u0430\u0445 (\u0422\u0421\u041f).\n"
    },
    {
      "name": "Create",
      "description": "\u041c\u0435\u0442\u043e\u0434\u044b API \u0434\u043b\u044f \u0441\u043e\u0437\u0434\u0430\u043d\u0438\u044f (\u0434\u043e\u0431\u0430\u0432\u043b\u0435\u043d\u0438\u044f) \u0434\u0430\u043d\u043d\u044b\u0445 \u043e \u043a\u043b\u0438\u0435\u043d\u0442\u0430\u0445 (\u0422\u0421\u041f).\n"
    }
  ],
  "paths": {
    "/clients": {
      "get": {
        "tags": [
          "Read"
        ],
        "operationId": "getClients",
        "summary": "\u041f\u043e\u043b\u0443\u0447\u0435\u043d\u0438\u0435 \u0441\u043f\u0438\u0441\u043a\u0430 \u043a\u043b\u0438\u0435\u043d\u0442\u043e\u0432 (\u0422\u0421\u041f), \u0432\u0441\u0435 \u0438\u043b\u0438 \u0441 \u0443\u043a\u0430\u0437\u0430\u043d\u043d\u044b\u043c \u0418\u041d\u041d",
        "parameters": [
          {
            "in": "query",
            "name": "TIN",
            "schema": {
              "type": "string"
            },
            "description": "\u0418\u041d\u041d"
          }
        ],
        "responses": {
          "200": {
            "description": "\u041f\u043e\u043b\u0443\u0447\u0435\u043d \u043f\u0435\u0440\u0435\u0447\u0435\u043d\u044c \u043a\u043b\u0438\u0435\u043d\u0442\u043e\u0432",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ClientsResponse"
                }
              }
            }
          },
          "404": {
            "description": "\u041a\u043b\u0438\u0435\u043d\u0442\u044b \u043d\u0435 \u043d\u0430\u0439\u0434\u0435\u043d\u044b",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "../../models/CommonResponses.yaml#/components/schemas/GeneralResponse"
                }
              }
            }
          },
          "500": {
            "description": "\u0412\u043d\u0443\u0442\u0440\u0435\u043d\u043d\u044f\u044f \u043e\u0448\u0438\u0431\u043a\u0430 \u0441\u0435\u0440\u0432\u0435\u0440\u0430",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "../../models/CommonResponses.yaml#/components/schemas/GeneralResponse"
                }
              }
            }
          }
        }
      },
      "post": {
        "tags": [
          "Create"
        ],
        "operationId": "createClientRecord",
        "summary": "\u0421\u043e\u0437\u0434\u0430\u0442\u044c \u043d\u043e\u0432\u043e\u0433\u043e \u043a\u043b\u0438\u0435\u043d\u0442\u0430 (\u0437\u0430\u043f\u0438\u0441\u044c \u043e \u043a\u043b\u0438\u0435\u043d\u0442\u0435)",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateClientRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "\u041d\u043e\u0432\u044b\u0439 \u043a\u043b\u0438\u0435\u043d\u0442 \u0441\u043e\u0437\u0434\u0430\u043d",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "id": {
                      "type": "string",
                      "description": "Id \u043a\u043b\u0438\u0435\u043d\u0442\u0430 (\u0437\u0430\u043f\u0438\u0441\u0438 \u043e \u043a\u043b\u0438\u0435\u043d\u0442\u0435)",
                      "example": "1566"
                    },
                    "TIN": {
                      "type": "string",
                      "maxLength": 12,
                      "description": "\u0418\u041d\u041d \u043e\u0440\u0433\u0430\u043d\u0438\u0437\u0430\u0446\u0438\u0438/\u0418\u041f (10 \u0438\u043b\u0438 12 \u0441\u0438\u043c\u0432\u043e\u043b\u043e\u0432)",
                      "example": "7721501415"
                    }
                  }
                }
              }
            }
          },
          "404": {
            "description": "\u041d\u043e\u0432\u044b\u0439 \u043a\u043b\u0438\u0435\u043d\u0442 \u043d\u0435 \u0441\u043e\u0437\u0434\u0430\u043d",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "../../models/CommonResponses.yaml#/components/schemas/GeneralResponse"
                }
              }
            }
          },
          "500": {
            "description": "\u0412\u043d\u0443\u0442\u0440\u0435\u043d\u043d\u044f\u044f \u043e\u0448\u0438\u0431\u043a\u0430 \u0441\u0435\u0440\u0432\u0435\u0440\u0430",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "../../models/CommonResponses.yaml#/components/schemas/GeneralResponse"
                }
              }
            }
          }
        }
      }
    },
    "/clients/{id}/main": {
      "get": {
        "tags": [
          "Read"
        ],
        "operationId": "getClientDetails",
        "summary": "\u041f\u043e\u043b\u0443\u0447\u0435\u043d\u0438\u0435 \u043e\u0441\u043d\u043e\u0432\u043d\u044b\u0445 \u0434\u0430\u043d\u043d\u044b\u0445 \u043e \u043a\u043e\u043d\u043a\u0440\u0435\u0442\u043d\u043e\u043c \u043a\u043b\u0438\u0435\u043d\u0442\u0435",
        "description": "\u041f\u0435\u0440\u0435\u0447\u0435\u043d\u044c \u0434\u0430\u043d\u043d\u044b\u0445 \u043d\u0435\u043e\u0431\u0445\u043e\u0434\u0438\u043c\u044b\u0439 \u0434\u043b\u044f \u043e\u0442\u043e\u0431\u0440\u0430\u0436\u0435\u043d\u0438\u044f \u0432 \u043a\u0430\u0440\u0442\u043e\u0447\u043a\u0435 \u043a\u043b\u0438\u0435\u043d\u0442\u0430. \u0410\u0434\u0440\u0435\u0441\u0430\u0446\u0438\u044f \u043a\u043b\u0438\u0435\u043d\u0442\u0430 \u043f\u043e id \u0437\u0430\u043f\u0438\u0441\u0438 (\u043d\u0435 TIN).\n",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "Client record ID",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "\u041f\u043e\u043b\u0443\u0447\u0435\u043d\u044b \u043e\u0441\u043d\u043e\u0432\u043d\u044b\u0435 \u0434\u0430\u043d\u043d\u044b\u0435 \u043e \u043a\u043b\u0438\u0435\u043d\u0442\u0435",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ClientDetailsResponse"
                }
              }
            }
          },
          "404": {
            "description": "\u041a\u043b\u0438\u0435\u043d\u0442 \u043d\u0435 \u043d\u0430\u0439\u0434\u0435\u043d",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "../../models/CommonResponses.yaml#/components/schemas/GeneralResponse"
                }
              }
            }
          },
          "500": {
            "description": "\u0412\u043d\u0443\u0442\u0440\u0435\u043d\u043d\u044f\u044f \u043e\u0448\u0438\u0431\u043a\u0430 \u0441\u0435\u0440\u0432\u0435\u0440\u0430",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "../../models/CommonResponses.yaml#/components/schemas/GeneralResponse"
                }
              }
            }
          }
        }
      }
    },
    "/clients/{id}/record": {
      "get": {
        "tags": [
          "Read"
        ],
        "operationId": "getClientRecord",
        "summary": "\u041f\u043e\u043b\u0443\u0447\u0435\u043d\u0438\u0435 \u0434\u0430\u043d\u043d\u044b\u0445 \u043a\u0430\u0440\u0442\u043e\u0447\u043a\u0438 \u043a\u043b\u0438\u0435\u043d\u0442\u0430 \u0434\u043b\u044f \u0440\u0435\u0434\u0430\u043a\u0442\u0438\u0440\u043e\u0432\u0430\u043d\u0438\u044f",
        "description": "\u041f\u0435\u0440\u0435\u0447\u0435\u043d\u044c \u0434\u0430\u043d\u043d\u044b\u0445 \u0430\u043d\u0430\u043b\u043e\u0433\u0438\u0447\u0435\u043d \u0444\u043e\u0440\u043c\u0435 (\u043a\u0430\u0440\u0442\u043e\u0447\u043a\u0435) \u043a\u043b\u0438\u0435\u043d\u0442\u0430 \u043f\u0440\u0438 \u0441\u043e\u0437\u0434\u0430\u043d\u0438\u0438 \u0437\u0430\u043f\u0438\u0441\u0438 \u043e \u043a\u043b\u0438\u0435\u043d\u0442\u0435. \u0410\u0434\u0440\u0435\u0441\u0430\u0446\u0438\u044f \u043a\u043b\u0438\u0435\u043d\u0442\u0430 \u043f\u043e id \u0437\u0430\u043f\u0438\u0441\u0438 (\u043d\u0435 TIN).\n",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "Client record ID",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "\u041f\u043e\u043b\u0443\u0447\u0435\u043d\u044b \u043e\u0441\u043d\u043e\u0432\u043d\u044b\u0435 \u0434\u0430\u043d\u043d\u044b\u0435 \u043e \u043a\u043b\u0438\u0435\u043d\u0442\u0435",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ClientRecordResponse"
                }
              }
            }
          }
        }
      },
      "put": {
        "tags": [
          "Update"
        ],
        "operationId": "updateClientRecord",
        "summary": "\u041e\u0431\u043d\u043e\u0432\u043b\u0435\u043d\u0438\u0435 \u0434\u0430\u043d\u043d\u044b\u0445 \u043a\u0430\u0440\u0442\u043e\u0447\u043a\u0438 \u043a\u043b\u0438\u0435\u043d\u0442\u0430",
        "description": "\u041f\u0435\u0440\u0435\u0447\u0435\u043d\u044c \u0434\u0430\u043d\u043d\u044b\u0445 \u0441\u043e\u0434\u0435\u0440\u0436\u0438\u0442 \u0442\u043e\u043b\u044c\u043a\u043e \u041d\u0435\u043a\u0440\u0438\u0442\u0438\u0447\u043d\u044b\u0435 \u043f\u043e\u043b\u044f (\u0442.\u0435. \u0434\u0430\u043d\u043d\u044b\u0435 \u043a\u043e\u0442\u043e\u0440\u044b\u0435 \u043f\u043e \u043b\u043e\u0433\u0438\u043a\u0435 \u0440\u0430\u0431\u043e\u0442\u044b \u043d\u0443\u0436\u043d\u043e/\u0438\u043c\u0435\u0435\u0442 \u0441\u043c\u044b\u0441\u043b \u0440\u0435\u0434\u0430\u043a\u0442\u0438\u0440\u043e\u0432\u0430\u0442\u044c). \u041f\u043e\u043b\u044f \u043e\u0442\u0441\u0443\u0442\u0441\u0442\u0432\u0443\u044e\u0449\u0438\u0435 \u0432 \u043c\u043e\u0434\u0435\u043b\u0438 \u0434\u0430\u043d\u043d\u044b\u0445 (\u043f\u043e \u0441\u0440\u0430\u0432\u043d\u0435\u043d\u0438\u044e \u0441 \u043e\u043f\u0435\u0440\u0430\u0446\u0438\u0435\u0439 \u0441\u043e\u0437\u0434\u0430\u043d\u0438\u044f) \u0441\u0447\u0438\u0442\u0430\u044e\u0442\u0441\u044f \u041a\u0440\u0438\u0442\u0438\u0447\u043d\u044b\u043c\u0438 \u0438 \u043d\u0435 \u0434\u043e\u043b\u0436\u043d\u044b \u0438\u0437\u043c\u0435\u043d\u044f\u0442\u044c\u0441\u044f \u043f\u043e\u0441\u043b\u0435 \u0441\u043e\u0437\u0434\u0430\u043d\u0438\u044f.\n",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "Client record ID",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UpdateClientRecordRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "\u041a\u0430\u0440\u0442\u043e\u0447\u043a\u0430 \u043a\u043b\u0438\u0435\u043d\u0442\u0430 \u043e\u0431\u043d\u043e\u0432\u043b\u0435\u043d\u0430",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "id": {
                      "type": "string",
                      "description": "Id \u043a\u043b\u0438\u0435\u043d\u0442\u0430 (\u0437\u0430\u043f\u0438\u0441\u0438 \u043e \u043a\u043b\u0438\u0435\u043d\u0442\u0435)",
                      "example": "1566"
                    },
                    "TIN": {
                      "type": "string",
                      "maxLength": 12,
                      "description": "\u0418\u041d\u041d \u043e\u0440\u0433\u0430\u043d\u0438\u0437\u0430\u0446\u0438\u0438/\u0418\u041f (10 \u0438\u043b\u0438 12 \u0441\u0438\u043c\u0432\u043e\u043b\u043e\u0432)",
                      "example": "7721501415"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/clients/checkExists": {
      "get": {
        "tags": [
          "Read"
        ],
        "operationId": "checkClientExists",
        "summary": "\u041f\u0440\u043e\u0432\u0435\u0440\u043a\u0430 \u0441\u0443\u0449\u0435\u0441\u0442\u0432\u043e\u0432\u0430\u043d\u0438\u044f \u043a\u043b\u0438\u0435\u043d\u0442\u0430",
        "description": "\u0412\u043e\u0437\u0432\u0440\u0430\u0449\u0430\u0435\u0442 true\\false \u043e \u0441\u0443\u0449\u0435\u0441\u0442\u0432\u043e\u0432\u0430\u043d\u0438\u0438 \u043a\u043b\u0438\u0435\u043d\u0442\u0430 \u0432 \u043f\u0433\u0432 \u0438\u043b\u0438 \u0431\u0430\u043d\u043a\u0435\n",
        "parameters": [
          {
            "name": "bankId",
            "in": "query",
            "description": "\u0438\u0434 \u0431\u0430\u043d\u043a\u0430",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          },
          {
            "name": "inn",
            "in": "query",
            "description": "\u0418\u041d\u041d \u043a\u043b\u0438\u0435\u043d\u0442\u0430",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "contactPhone",
            "in": "query",
            "description": "\u043a\u043e\u043d\u0442\u0430\u043a\u0442\u043d\u044b\u0439 \u0442\u0435\u043b\u0435\u0444\u043e\u043d",
            "example": 9773225566,
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "contactPhoneCode",
            "in": "query",
            "description": "\u043a\u043e\u0434 \u043a\u043e\u043d\u0442\u0430\u043a\u0442\u043d\u043e\u0433\u043e \u0442\u0435\u043b\u0435\u0444\u043e\u043d\u0430",
            "example": 7,
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "\u041f\u043e\u043b\u0443\u0447\u0435\u043d \u043e\u0442\u0432\u0435\u0442 \u043e \u0441\u0443\u0449\u0435\u0441\u0442\u0432\u043e\u0432\u0430\u043d\u0438\u0438 \u043a\u043b\u0438\u0435\u043d\u0442\u0430",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/CheckClientExistsRes"
                    },
                    {
                      "properties": {
                        "success": {
                          "type": "boolean",
                          "example": true
                        },
                        "errorMessage": {
                          "type": "string",
                          "example": null
                        },
                        "errorType": {
                          "type": "string",
                          "example": null
                        }
                      }
                    }
                  ]
                }
              }
            }
          },
          "400": {
            "description": "\u041f\u043e\u043b\u0443\u0447\u0435\u043d \u043e\u0442\u0432\u0435\u0442 \u043e \u0441\u0443\u0449\u0435\u0441\u0442\u0432\u043e\u0432\u0430\u043d\u0438\u0438 \u043a\u043b\u0438\u0435\u043d\u0442\u0430",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/CheckClientExistsRes"
                    },
                    {
                      "properties": {
                        "existsInBank": {
                          "type": "boolean",
                          "example": null
                        },
                        "errorMessage": {
                          "type": "string",
                          "example": "\u0417\u0430\u043f\u043e\u043b\u043d\u0438\u0442\u0435 \u0418\u041d\u041d"
                        },
                        "errorType": {
                          "type": "string",
                          "example": "BAD_REQUEST"
                        }
                      }
                    }
                  ]
                }
              }
            }
          },
          "500": {
            "description": "\u041f\u043e\u043b\u0443\u0447\u0435\u043d \u043e\u0442\u0432\u0435\u0442 \u043e \u0441\u0443\u0449\u0435\u0441\u0442\u0432\u043e\u0432\u0430\u043d\u0438\u0438 \u043a\u043b\u0438\u0435\u043d\u0442\u0430",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/CheckClientExistsRes"
                    },
                    {
                      "properties": {
                        "existsInBank": {
                          "type": "boolean",
                          "example": null
                        }
                      }
                    }
                  ]
                }
              }
            }
          }
        }
      }
    },
    "/client/{id}/lk": {
      "get": {
        "tags": [
          "Read"
        ],
        "operationId": "getClientsInLk",
        "summary": "\u041f\u043e\u043b\u0443\u0447\u0435\u043d\u0438\u0435 \u0441\u0432\u044f\u0437\u0430\u043d\u043d\u044b\u0445 \u0422\u0421\u041f",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "Client record ID",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "\u041f\u043e\u043b\u0443\u0447\u0435\u043d \u043e\u0442\u0432\u0435\u0442",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/CommonResponse"
                    },
                    {
                      "properties": {
                        "data": {
                          "type": "array",
                          "description": "\u0421\u043f\u0438\u0441\u043e\u043a \u0438\u0437 \u0430\u0439\u0434\u0438 \u0422\u0421\u041f",
                          "items": {
                            "type": "integer",
                            "example": 31
                          }
                        },
                        "success": {
                          "type": "boolean",
                          "example": true
                        },
                        "errorMessage": {
                          "type": "string",
                          "example": null
                        },
                        "errorType": {
                          "type": "string",
                          "example": null
                        }
                      }
                    }
                  ]
                }
              }
            }
          },
          "500": {
            "description": "\u0421\u0438\u0441\u0442\u0435\u043c\u043d\u0430\u044f \u043e\u0448\u0438\u0431\u043a\u0430",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/CommonResponse"
                    },
                    {
                      "properties": {
                        "errorMessage": {
                          "type": "string",
                          "example": "\u041d\u0435\u0438\u0437\u0432\u0435\u0441\u0442\u043d\u0430\u044f \u043e\u0448\u0438\u0431\u043a\u0430"
                        },
                        "errorType": {
                          "type": "string",
                          "example": "UNKNOWN_ERROR"
                        }
                      }
                    }
                  ]
                }
              }
            }
          }
        }
      }
    },
    "/merchant/{merchantId}/agreement/{agreementId}/points": {
      "get": {
        "tags": [
          "Read"
        ],
        "operationId": "getMerchantPointsByAgreementId",
        "summary": "\u041f\u043e\u043b\u0443\u0447\u0435\u043d\u0438\u0435 \u0441\u043f\u0438\u0441\u043a\u0430 \u0422\u0421\u0422 \u043f\u043e \u0430\u0439\u0434\u0438 \u0430\u0433\u0440\u0438\u043c\u0435\u043d\u0442\u0430",
        "description": "\u041c\u0435\u0442\u043e\u0434 \u0432\u043e\u0437\u0432\u0440\u0430\u0449\u0430\u0435\u0442 \u0441\u043f\u0438\u0441\u043e\u043a \u0438\u0437 \u0422\u0421\u0422.\n",
        "parameters": [
          {
            "name": "merchantId",
            "in": "path",
            "description": "Merchant ID",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          },
          {
            "name": "agreementId",
            "in": "path",
            "description": "Agreement ID",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "\u041f\u043e\u043b\u0443\u0447\u0435\u043d \u0441\u043f\u0438\u0441\u043e\u043a \u0422\u0421\u0422",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AgreementPointsResponse"
                }
              }
            }
          },
          "404": {
            "description": "\u041a\u043b\u0438\u0435\u043d\u0442\u044b \u043d\u0435 \u043d\u0430\u0439\u0434\u0435\u043d\u044b",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "../../models/CommonResponses.yaml#/components/schemas/GeneralResponse"
                }
              }
            }
          },
          "500": {
            "description": "\u0412\u043d\u0443\u0442\u0440\u0435\u043d\u043d\u044f\u044f \u043e\u0448\u0438\u0431\u043a\u0430 \u0441\u0435\u0440\u0432\u0435\u0440\u0430",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "../../models/CommonResponses.yaml#/components/schemas/GeneralResponse"
                }
              }
            }
          }
        }
      }
    },
    "/merchant/{merchantId}/agreement/{agreementId}/points/{pointId}/rates": {
      "get": {
        "tags": [
          "Read"
        ],
        "operationId": "getMerchantPointRates",
        "summary": "\u041f\u043e\u043b\u0443\u0447\u0435\u043d\u0438\u0435 \u0441\u0442\u0430\u0432\u043e\u043a \u0422\u0421\u0422",
        "description": "\u041c\u0435\u0442\u043e\u0434 \u0432\u043e\u0437\u0432\u0440\u0430\u0449\u0430\u0435\u0442 \u0441\u0442\u0430\u0432\u043a\u0438 \u0422\u0421\u0422.\n",
        "parameters": [
          {
            "name": "merchantId",
            "in": "path",
            "description": "Merchant ID",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          },
          {
            "name": "agreementId",
            "in": "path",
            "description": "Agreement ID",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          },
          {
            "name": "pointId",
            "in": "path",
            "description": "ID \u0422\u0421\u0422",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "\u041f\u043e\u043b\u0443\u0447\u0435\u043d \u0441\u043f\u0438\u0441\u043e\u043a \u0422\u0421\u0422",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PointRatesResponse"
                }
              }
            }
          },
          "404": {
            "description": "\u041a\u043b\u0438\u0435\u043d\u0442\u044b \u043d\u0435 \u043d\u0430\u0439\u0434\u0435\u043d\u044b",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "../../models/CommonResponses.yaml#/components/schemas/GeneralResponse"
                }
              }
            }
          },
          "500": {
            "description": "\u0412\u043d\u0443\u0442\u0440\u0435\u043d\u043d\u044f\u044f \u043e\u0448\u0438\u0431\u043a\u0430 \u0441\u0435\u0440\u0432\u0435\u0440\u0430",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "../../models/CommonResponses.yaml#/components/schemas/GeneralResponse"
                }
              }
            }
          }
        }
      }
    },
    "/terminateContract": {
      "put": {
        "tags": [
          "Update"
        ],
        "operationId": "terminateContract",
        "summary": "\u0420\u0430\u0441\u0442\u043e\u0440\u0433\u043d\u0443\u0442\u044c \u0434\u043e\u0433\u043e\u0432\u043e\u0440 \u0441 \u0422\u0421\u041f",
        "description": "\u0414\u043e\u0441\u0442\u0443\u043f\u043d\u043e \u043f\u043e \u043e\u0442\u0434\u0435\u043b\u044c\u043d\u043e\u043c\u0443 \u043f\u0440\u0430\u0432\u0443\n",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/TerminateContractRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CommonResponse"
                }
              }
            }
          }
        }
      }
    },
    "/clients/advanced-search": {
      "post": {
        "tags": [
          "Read"
        ],
        "operationId": "clientsAdvancedSearch",
        "summary": "\u0420\u0430\u0441\u0448\u0438\u0440\u0435\u043d\u043d\u044b\u0439 \u043f\u043e\u0438\u0441\u043a \u043a\u043b\u0438\u0435\u043d\u0442\u043e\u0432 (\u0422\u0421\u041f) \u043f\u043e \u0443\u043a\u0430\u0437\u0430\u043d\u043d\u044b\u043c \u043a\u0440\u0438\u0442\u0435\u0440\u0438\u044f\u043c",
        "description": "\u041b\u043e\u0433\u0438\u0447\u0435\u0441\u043a\u043e\u0435 \u043f\u0435\u0440\u0435\u0441\u0435\u0447\u0435\u043d\u0438\u0435 (\u043b\u043e\u0433\u0438\u0447\u0435\u0441\u043a\u043e\u0435 \u0418) \u0437\u0430\u0434\u0430\u043d\u043d\u044b\u0445 \u0437\u043d\u0430\u0447\u0435\u043d\u0438\u0439 \u043f\u043e\u043b\u0435\u0439.\n",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/AdvancedSearchRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "\u041f\u043e\u043b\u0443\u0447\u0435\u043d \u043f\u0435\u0440\u0435\u0447\u0435\u043d\u044c \u0442\u0435\u0440\u043c\u0438\u043d\u0430\u043b\u043e\u0432",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ClientsResponse"
                }
              }
            }
          },
          "404": {
            "description": "\u041a\u043b\u0438\u0435\u043d\u0442\u044b \u043d\u0435 \u043d\u0430\u0439\u0434\u0435\u043d\u044b",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "../../models/CommonResponses.yaml#/components/schemas/GeneralResponse"
                }
              }
            }
          },
          "500": {
            "description": "\u0412\u043d\u0443\u0442\u0440\u0435\u043d\u043d\u044f\u044f \u043e\u0448\u0438\u0431\u043a\u0430 \u0441\u0435\u0440\u0432\u0435\u0440\u0430",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "../../models/CommonResponses.yaml#/components/schemas/GeneralResponse"
                }
              }
            }
          }
        }
      }
    }
  },
  "components": {
    "schemas": {
      "CommonResponse": {
        "type": "object",
        "properties": {
          "errorMessage": {
            "type": "string",
            "description": "\u041a\u0440\u0430\u0442\u043a\u043e\u0435 \u043e\u043f\u0438\u0441\u0430\u043d\u0438\u0435 \u043e\u0448\u0438\u0431\u043a\u0438",
            "maxLength": 1024,
            "example": "control values mismatch"
          }
        }
      },
      "CommissionsForNewPartnerResponse": {
        "type": "object",
        "properties": {
          "data": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/CommissionsForNewPartnerResponseElement"
            }
          }
        }
      },
      "CommissionsForNewPartnerResponseElement": {
        "type": "object",
        "properties": {
          "bankId": {
            "description": "Id \u0431\u0430\u043d\u043a\u0430",
            "type": "integer"
          },
          "commissionProfiles": {
            "description": "\u041f\u0440\u043e\u0444\u0438\u043b\u0438 \u043a\u043e\u043c\u0438\u0441\u0441\u0438\u0439",
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/IdName"
            }
          }
        },
        "required": [
          "bankId",
          "commissionProfiles"
        ]
      },
      "IdName": {
        "type": "object",
        "properties": {
          "id": {
            "description": "ID",
            "type": "integer"
          },
          "name": {
            "description": "\u041d\u0430\u0438\u043c\u043d\u043e\u0432\u0430\u043d\u0438\u0435",
            "type": "string"
          }
        },
        "required": [
          "id"
        ]
      },
      "ClientsResponse": {
        "type": "object",
        "properties": {
          "clients": {
            "type": "array",
            "description": "\u041f\u0435\u0440\u0435\u0447\u0435\u043d\u044c \u043a\u043b\u0438\u0435\u043d\u0442\u043e\u0432",
            "items": {
              "$ref": "#/components/schemas/Client"
            }
          }
        },
        "required": [
          "clients"
        ]
      },
      "ClientContract": {
        "type": "object",
        "properties": {
          "bankId": {
            "type": "number",
            "maxLength": 32,
            "description": "Id \u0431\u0430\u043d\u043a\u0430",
            "example": 71
          },
          "regNr": {
            "type": "string",
            "description": "\u041d\u043e\u043c\u0435\u0440 \u0434\u043e\u0433\u043e\u0432\u043e\u0440\u0430",
            "example": "vpp-7985",
            "required": true
          },
          "regNrDate": {
            "type": "string",
            "description": "\u0414\u0430\u0442\u0430 \u0434\u043e\u0433\u043e\u0432\u043e\u0440\u0430 (timestamp)",
            "required": true
          },
          "bankName": {
            "type": "string",
            "description": "\u041d\u0430\u0438\u043c\u0435\u043d\u043e\u0432\u0430\u043d\u0438\u0435 \u0431\u0430\u043d\u043a\u0430",
            "example": "\u0412\u0422\u0411"
          },
          "bik": {
            "type": "string",
            "description": "\u0411\u0418\u041a \u0431\u0430\u043d\u043a\u0430"
          },
          "accountNumber": {
            "type": "string",
            "description": "\u0420\u0430\u0441\u0447\u0435\u0442\u043d\u044b\u0439 \u0441\u0447\u0435\u0442"
          },
          "corrNumber": {
            "type": "string",
            "description": "\u041a\u043e\u0440\u0440\u0435\u0441\u043f\u043e\u043d\u0434\u0435\u043d\u0442\u0441\u043a\u0438\u0439 \u0441\u0447\u0435\u0442"
          },
          "bankAddress": {
            "type": "string",
            "description": "\u0410\u0434\u0440\u0435\u0441 \u0431\u0430\u043d\u043a\u0430"
          }
        }
      },
      "IdClientContract": {
        "allOf": [
          {
            "$ref": "#/components/schemas/ClientContract"
          },
          {
            "properties": {
              "id": {
                "type": "number",
                "maxLength": 32,
                "description": "Id \u043a\u043e\u043d\u0442\u0440\u0430\u043a\u0442\u0430",
                "example": 57629,
                "required": true
              }
            }
          }
        ]
      },
      "Client": {
        "type": "object",
        "properties": {
          "id": {
            "type": "number",
            "maxLength": 32,
            "description": "Id \u043a\u043b\u0438\u0435\u043d\u0442\u0430 (\u0437\u0430\u043f\u0438\u0441\u0438 \u043e \u043a\u043b\u0438\u0435\u043d\u0442\u0435)",
            "example": 57620
          },
          "enable": {
            "type": "boolean",
            "description": "\u0410\u043a\u0442\u0438\u0432\u043d\u044b\u0439 \u043a\u043b\u0438\u0435\u043d\u0442 \u0438\u043b\u0438 \u043d\u0435\u0442",
            "example": true
          },
          "bank": {
            "type": "number",
            "description": "Id \u0431\u0430\u043d\u043a\u0430, \u0447\u044c\u0438\u043c \u043a\u043b\u0438\u0435\u043d\u0442\u043e\u043c \u043e\u043d \u044f\u0432\u043b\u044f\u0435\u0442\u0441\u044f",
            "example": 1
          },
          "TIN": {
            "type": "string",
            "maxLength": 12,
            "description": "\u0418\u041d\u041d \u043e\u0440\u0433\u0430\u043d\u0438\u0437\u0430\u0446\u0438\u0438/\u0418\u041f",
            "example": "7814730707"
          },
          "contract": {
            "type": "string",
            "description": "\u041d\u043e\u043c\u0435\u0440 \u0438 \u0434\u0430\u0442\u0430 \u0434\u043e\u0433\u043e\u0432\u043e\u0440\u0430"
          },
          "businessName": {
            "type": "string",
            "description": "\u041d\u0430\u0438\u043c\u0435\u043d\u043e\u0432\u0430\u043d\u0438\u0435 \u043e\u0440\u0433\u0430\u043d\u0438\u0437\u0430\u0446\u0438\u0438/\u0418\u041f",
            "example": "\u041e\u0431\u0449\u0435\u0441\u0442\u0432\u043e \u041c\u0443-\u041c\u0443"
          },
          "businessNameEn": {
            "type": "string",
            "description": "\u041d\u0430\u0438\u043c\u0435\u043d\u043e\u0432\u0430\u043d\u0438\u0435 \u043e\u0440\u0433\u0430\u043d\u0438\u0437\u0430\u0446\u0438\u0438/\u0418\u041f (\u041b\u0410\u0422)",
            "example": "Legal company Mu-Mu"
          },
          "businessShortName": {
            "type": "string",
            "description": "\u041d\u0430\u0438\u043c\u0435\u043d\u043e\u0432\u0430\u043d\u0438\u0435 \u043e\u0440\u0433\u0430\u043d\u0438\u0437\u0430\u0446\u0438\u0438/\u0418\u041f \u0431\u0435\u0437 \u041e\u041f\u0424",
            "example": "\u041c\u0443-\u041c\u0443"
          },
          "businessShortNameEn": {
            "type": "string",
            "description": "\u041d\u0430\u0438\u043c\u0435\u043d\u043e\u0432\u0430\u043d\u0438\u0435 \u043e\u0440\u0433\u0430\u043d\u0438\u0437\u0430\u0446\u0438\u0438/\u0418\u041f \u0431\u0435\u0437 \u041e\u041f\u0424(\u041b\u0410\u0422)",
            "example": "Mu-Mu"
          },
          "businessPhone": {
            "type": "string",
            "description": "\u0422\u0435\u043b\u0435\u0444\u043e\u043d \u043e\u0440\u0433\u0430\u043d\u0438\u0437\u0430\u0446\u0438\u0438",
            "example": "\u0422\u0435\u043b\u0435\u0444\u043e\u043d \u043e\u0440\u0433\u0430\u043d\u0438\u0437\u0430\u0446\u0438\u0438"
          },
          "businessEmail": {
            "type": "string",
            "description": "Email \u043e\u0440\u0433\u0430\u043d\u0438\u0437\u0430\u0446\u0438\u0438",
            "example": "Email \u043e\u0440\u0433\u0430\u043d\u0438\u0437\u0430\u0446\u0438\u0438"
          },
          "businessAddress": {
            "type": "string",
            "description": "\u042e\u0440\u0438\u0434\u0438\u0447\u0435\u0441\u043a\u0438\u0439 \u0430\u0434\u0440\u0435\u0441 (\u0441\u043a\u043b\u0435\u0435\u043d\u043d\u044b\u0439)",
            "example": "\u041c\u043e\u0441\u043a\u0432\u0430, \u0421\u0443\u0449\u0435\u0432\u0441\u043a\u0438\u0439 \u0432\u0430\u043b, 16\u04415"
          },
          "address": {
            "type": "string",
            "description": "\u0424\u0430\u043a\u0442\u0438\u0447\u0435\u0441\u043a\u0438\u0439 \u0430\u0434\u0440\u0435\u0441 (\u0441\u043a\u043b\u0435\u0435\u043d\u043d\u044b\u0439)",
            "example": "\u041c\u043e\u0441\u043a\u0432\u0430, \u0421\u0443\u0449\u0435\u0432\u0441\u043a\u0438\u0439 \u0432\u0430\u043b, 16\u04415"
          },
          "city": {
            "type": "string",
            "description": "\u0413\u043e\u0440\u043e\u0434 \u0444\u0430\u043a\u0442\u0438\u0447\u0435\u0441\u043a\u043e\u0433\u043e \u043d\u0430\u0445\u043e\u0436\u0434\u0435\u043d\u0438\u044f \u043e\u0440\u0433\u0430\u043d\u0438\u0437\u0430\u0446\u0438\u0438",
            "example": "\u041c\u043e\u0441\u043a\u0432\u0430"
          },
          "executive": {
            "type": "string",
            "description": "\u0420\u0443\u043a\u043e\u0432\u043e\u0434\u0438\u0442\u0435\u043b\u044c  (\u0441\u043a\u043b\u0435\u0435\u043d\u044b\u0439)",
            "example": "\u0418\u0432\u0430\u043d\u043e\u0432 \u0418\u0432\u0430\u043d \u0418\u0432\u0430\u043d\u043e\u0432\u0438\u0447"
          },
          "contact": {
            "type": "string",
            "description": "\u041a\u043e\u043d\u0442\u0430\u043a\u0442\u043d\u043e\u0435 \u043b\u0438\u0446\u043e (\u0441\u043a\u043b\u0435\u0435\u043d\u044b\u0439)",
            "example": "\u041f\u0435\u0442\u0440\u043e\u0432 \u041f\u0435\u0442\u0440 \u041f\u0435\u0442\u0440\u043e\u0432\u0438\u0447"
          }
        }
      },
      "ClientDetailsResponse": {
        "type": "object",
        "properties": {
          "id": {
            "type": "number",
            "maxLength": 32,
            "description": "Id \u043a\u043b\u0438\u0435\u043d\u0442\u0430 (\u0437\u0430\u043f\u0438\u0441\u0438 \u043e \u043a\u043b\u0438\u0435\u043d\u0442\u0435)",
            "example": 57533
          },
          "enable": {
            "type": "boolean",
            "description": "\u0410\u043a\u0442\u0438\u0432\u043d\u044b\u0439 \u043a\u043b\u0438\u0435\u043d\u0442 \u0438\u043b\u0438 \u043d\u0435\u0442 (\u0437\u0430\u0431\u043b\u043e\u043a\u0438\u0440\u043e\u0432\u0430\u043d)",
            "example": true
          },
          "merchantBankData": {
            "type": "array",
            "description": "\u041f\u0435\u0440\u0435\u0447\u0435\u043d\u044c \u0434\u043e\u0433\u043e\u0432\u043e\u0440\u043e\u0432",
            "items": {
              "$ref": "#/components/schemas/IdClientContract"
            }
          },
          "TIN": {
            "type": "string",
            "maxLength": 12,
            "description": "\u0418\u041d\u041d \u043e\u0440\u0433\u0430\u043d\u0438\u0437\u0430\u0446\u0438\u0438/\u0418\u041f (10 \u0438\u043b\u0438 12 \u0441\u0438\u043c\u0432\u043e\u043b\u043e\u0432)",
            "example": "7721501415"
          },
          "businessName": {
            "type": "string",
            "description": "\u041d\u0430\u0438\u043c\u0435\u043d\u043e\u0432\u0430\u043d\u0438\u0435 \u043e\u0440\u0433\u0430\u043d\u0438\u0437\u0430\u0446\u0438\u0438/\u0418\u041f",
            "example": "\u041e\u0431\u0449\u0435\u0441\u0442\u0432\u043e \u041c\u0443-\u041c\u0443"
          },
          "businessNameEn": {
            "type": "string",
            "description": "\u041d\u0430\u0438\u043c\u0435\u043d\u043e\u0432\u0430\u043d\u0438\u0435 \u043e\u0440\u0433\u0430\u043d\u0438\u0437\u0430\u0446\u0438\u0438/\u0418\u041f (\u041b\u0410\u0422)",
            "example": "Legal company Mu-Mu"
          },
          "businessShortName": {
            "type": "string",
            "description": "\u041d\u0430\u0438\u043c\u0435\u043d\u043e\u0432\u0430\u043d\u0438\u0435 \u043e\u0440\u0433\u0430\u043d\u0438\u0437\u0430\u0446\u0438\u0438/\u0418\u041f \u0431\u0435\u0437 \u041e\u041f\u0424",
            "example": "\u041c\u0443-\u041c\u0443"
          },
          "businessShortNameEn": {
            "type": "string",
            "description": "\u041d\u0430\u0438\u043c\u0435\u043d\u043e\u0432\u0430\u043d\u0438\u0435 \u043e\u0440\u0433\u0430\u043d\u0438\u0437\u0430\u0446\u0438\u0438/\u0418\u041f \u0431\u0435\u0437 \u041e\u041f\u0424(\u041b\u0410\u0422)",
            "example": "Mu-Mu"
          },
          "businessLegal": {
            "type": "string",
            "description": "\u041f\u0440\u0430\u0432\u043e\u0432\u0430\u044f \u0444\u043e\u0440\u043c\u0430 \u043e\u0440\u0433\u0430\u043d\u0438\u0437\u0430\u0446\u0438\u0438 (\u0432\u044b\u0431\u043e\u0440 \u0438\u0437 \u0441\u043f\u0438\u0441\u043a\u0430)",
            "example": "\u041e\u041e\u041e"
          },
          "microEnterprise": {
            "type": "boolean",
            "description": "\u042f\u0432\u043b\u044f\u0435\u0442\u0441\u044f \u043b\u0438 \u043e\u0440\u0433\u0430\u043d\u0438\u0437\u0430\u0446\u0438\u044f \u043c\u0438\u043a\u0440\u043e\u043f\u0440\u0435\u0434\u043f\u0440\u0438\u044f\u0442\u0438\u0435\u043c (\u0441\u0443\u0431\u044a\u0435\u043a\u0442\u043e\u043c \u043c\u0430\u043b\u043e\u0433\u043e \u043f\u0440\u0435\u0434\u043f\u0440\u0438\u043d\u0438\u043c\u0430\u0442\u0435\u043b\u044c\u0441\u0442\u0432\u0430)",
            "example": false
          },
          "businessPhone": {
            "type": "string",
            "maxLength": 32,
            "description": "\u041a\u043e\u043d\u0442\u0430\u043a\u0442\u043d\u044b\u0439 \u0442\u0435\u043b\u0435\u0444\u043e\u043d \u043e\u0440\u0433\u0430\u043d\u0438\u0437\u0430\u0446\u0438\u0438/\u0418\u041f",
            "example": "(495) 123-45-67"
          },
          "businessEmail": {
            "type": "string",
            "maxLength": 64,
            "description": "\u041a\u043e\u043d\u0442\u0430\u043a\u0442\u043d\u044b\u0439 email \u043e\u0440\u0433\u0430\u043d\u0438\u0437\u0430\u0446\u0438\u0438/\u0418\u041f",
            "example": "cvetmarkt@ya.ru"
          },
          "executive": {
            "type": "object",
            "description": "\u041a\u043e\u043d\u0442\u0430\u043a\u0442\u044b \u0440\u0443\u043a\u043e\u0432\u043e\u0434\u0438\u0442\u0435\u043b\u044f",
            "items": {
              "$ref": "#/components/schemas/Contact"
            }
          },
          "matchesWithExecutive": {
            "type": "boolean",
            "description": "\u0421\u043e\u0432\u043f\u0430\u0434\u0430\u0435\u0442 \u043b\u0438 \u043a\u043e\u043d\u0442\u0430\u043a\u0442\u043d\u043e\u0435 \u043b\u0438\u0446\u043e \u0441 \u0440\u0443\u043a\u043e\u0432\u043e\u0434\u0438\u0442\u0435\u043b\u0435\u043c \u043e\u0440\u0433\u0430\u043d\u0438\u0437\u0430\u0446\u0438\u0438",
            "example": false
          },
          "contactPerson": {
            "type": "object",
            "description": "\u041a\u043e\u043d\u0442\u0430\u043a\u0442\u043d\u043e\u0435 \u043b\u0438\u0446\u043e",
            "items": {
              "$ref": "#/components/schemas/Contact"
            }
          },
          "businessAddress": {
            "type": "object",
            "description": "\u042e\u0440\u0438\u0434\u0438\u0447\u0435\u0441\u043a\u0438\u0439 \u0430\u0434\u0440\u0435\u0441 \u043e\u0440\u0433\u0430\u043d\u0438\u0437\u0430\u0446\u0438\u0438/\u0418\u041f",
            "items": {
              "$ref": "#/components/schemas/Address"
            }
          },
          "address": {
            "type": "object",
            "description": "\u0424\u0430\u043a\u0442\u0438\u0447\u0435\u0441\u043a\u0438\u0439 \u0430\u0434\u0440\u0435\u0441 \u043e\u0440\u0433\u043d\u0430\u043d\u0438\u0437\u0430\u0446\u0438\u0438/\u0418\u041f",
            "items": {
              "$ref": "#/components/schemas/Address"
            }
          },
          "activateFastPayments": {
            "type": "boolean",
            "default": false,
            "description": "\u0424\u043b\u0430\u0433 \u043f\u043e\u0434\u043a\u043b\u044e\u0447\u0435\u043d\u0438\u044f \u0421\u0411\u041f \u0441 \u0431\u0430\u043d\u043a\u043e\u043c, \u043a\u043e\u0442\u043e\u0440\u044b\u0439 \u0440\u0435\u0433\u0438\u0441\u0442\u0440\u0438\u0440\u0443\u0435\u0442 \u043a\u043b\u0438\u0435\u043d\u0442\u0430",
            "example": true
          },
          "fastPaymentBankId": {
            "type": "integer",
            "nullable": true,
            "description": "\u0411\u0430\u043d\u043a, \u0432 \u043a\u043e\u0442\u043e\u0440\u043e\u043c \u043a\u043b\u0438\u0435\u043d\u0442 \u043f\u043e\u0434\u043a\u043b\u044e\u0447\u0435\u043d \u043a \u0421\u0411\u041f. \u041c\u043e\u0436\u0435\u0442 \u0431\u044b\u0442\u044c null, \u0435\u0441\u043b\u0438 activateFastPayments = false\n",
            "example": 412
          },
          "terminalBankIds": {
            "type": "array",
            "nullable": true,
            "description": "\u0421\u043f\u0438\u0441\u043e\u043a \u0431\u0430\u043d\u043a\u043e\u0432, \u0432 \u043a\u043e\u0442\u043e\u0440\u044b\u0435 \u0432 \u0442\u0435\u043a\u0443\u0449\u0438\u0439 \u043c\u043e\u043c\u0435\u043d\u0442 \u0442\u0440\u0430\u043d\u0437\u0430\u0447\u0430\u0442 \u0442\u0435\u0440\u043c\u0438\u043d\u0430\u043b\u044b \u0422\u0421\u041f",
            "items": {
              "type": "integer",
              "description": "ID \u0431\u0430\u043d\u043a\u0430",
              "nullable": false
            }
          }
        },
        "required": [
          "id",
          "businessLegal",
          "businessName",
          "businessNameEn",
          "TIN",
          "executive",
          "matchesWithExecutive",
          "contactPerson",
          "businessAddress",
          "address"
        ]
      },
      "CreateClientRequest": {
        "type": "object",
        "properties": {
          "bankId": {
            "type": "string",
            "maxLength": 16,
            "description": "Id \u0431\u0430\u043d\u043a\u0430 (\u0437\u0430\u043f\u0438\u0441\u0438 \u043e \u0431\u0430\u043d\u043a\u0435)",
            "example": "320"
          },
          "TIN": {
            "type": "string",
            "maxLength": 12,
            "description": "\u0418\u041d\u041d \u043e\u0440\u0433\u0430\u043d\u0438\u0437\u0430\u0446\u0438\u0438/\u0418\u041f (10 \u0438\u043b\u0438 12 \u0441\u0438\u043c\u0432\u043e\u043b\u043e\u0432)",
            "example": "7721501415"
          },
          "businessName": {
            "type": "string",
            "description": "\u041d\u0430\u0438\u043c\u0435\u043d\u043e\u0432\u0430\u043d\u0438\u0435 \u043e\u0440\u0433\u0430\u043d\u0438\u0437\u0430\u0446\u0438\u0438/\u0418\u041f",
            "example": "\u0410\u043a\u0446\u0438\u043e\u043d\u0435\u0440\u043d\u043e\u0435 \u041e\u0431\u0449\u0435\u0441\u0442\u0432\u043e \u041c\u0443-\u041c\u0443"
          },
          "businessNameEn": {
            "type": "string",
            "description": "\u041d\u0430\u0438\u043c\u0435\u043d\u043e\u0432\u0430\u043d\u0438\u0435 \u043e\u0440\u0433\u0430\u043d\u0438\u0437\u0430\u0446\u0438\u0438/\u0418\u041f (\u041b\u0410\u0422)",
            "example": "Legal company Mu-Mu"
          },
          "businessShortName": {
            "type": "string",
            "description": "\u041d\u0430\u0438\u043c\u0435\u043d\u043e\u0432\u0430\u043d\u0438\u0435 \u043e\u0440\u0433\u0430\u043d\u0438\u0437\u0430\u0446\u0438\u0438/\u0418\u041f \u0431\u0435\u0437 \u041e\u041f\u0424",
            "example": "\u041c\u0443-\u041c\u0443"
          },
          "businessShortNameEn": {
            "type": "string",
            "description": "\u041d\u0430\u0438\u043c\u0435\u043d\u043e\u0432\u0430\u043d\u0438\u0435 \u043e\u0440\u0433\u0430\u043d\u0438\u0437\u0430\u0446\u0438\u0438/\u0418\u041f \u0431\u0435\u0437 \u041e\u041f\u0424(\u041b\u0410\u0422)",
            "example": "Mu-Mu"
          },
          "businessLegal": {
            "type": "string",
            "description": "\u041f\u0440\u0430\u0432\u043e\u0432\u0430\u044f \u0444\u043e\u0440\u043c\u0430 \u043e\u0440\u0433\u0430\u043d\u0438\u0437\u0430\u0446\u0438\u0438 (\u0432\u044b\u0431\u043e\u0440 \u0438\u0437 \u0441\u043f\u0438\u0441\u043a\u0430)",
            "example": "\u041e\u041e\u041e"
          },
          "businessPhone": {
            "type": "string",
            "maxLength": 32,
            "description": "\u041a\u043e\u043d\u0442\u0430\u043a\u0442\u043d\u044b\u0439 \u0442\u0435\u043b\u0435\u0444\u043e\u043d \u043e\u0440\u0433\u0430\u043d\u0438\u0437\u0430\u0446\u0438\u0438/\u0418\u041f",
            "example": "(495) 123-45-67"
          },
          "businessEmail": {
            "type": "string",
            "maxLength": 64,
            "description": "\u041a\u043e\u043d\u0442\u0430\u043a\u0442\u043d\u044b\u0439 email \u043e\u0440\u0433\u0430\u043d\u0438\u0437\u0430\u0446\u0438\u0438/\u0418\u041f",
            "example": "cvetmarkt@ya.ru"
          },
          "executive": {
            "type": "object",
            "description": "\u041a\u043e\u043d\u0442\u0430\u043a\u0442\u044b \u0440\u0443\u043a\u043e\u0432\u043e\u0434\u0438\u0442\u0435\u043b\u044f",
            "items": {
              "$ref": "#/components/schemas/Contact"
            }
          },
          "matchesWithExecutive": {
            "type": "boolean",
            "description": "\u0421\u043e\u0432\u043f\u0430\u0434\u0430\u0435\u0442 \u043b\u0438 \u043a\u043e\u043d\u0442\u0430\u043a\u0442\u043d\u043e\u0435 \u043b\u0438\u0446\u043e \u0441 \u0440\u0443\u043a\u043e\u0432\u043e\u0434\u0438\u0442\u0435\u043b\u0435\u043c \u043e\u0440\u0433\u0430\u043d\u0438\u0437\u0430\u0446\u0438\u0438",
            "example": false
          },
          "contactPerson": {
            "type": "object",
            "description": "\u041a\u043e\u043d\u0442\u0430\u043a\u0442\u043d\u043e\u0435 \u043b\u0438\u0446\u043e",
            "items": {
              "$ref": "#/components/schemas/Contact"
            }
          },
          "businessAddress": {
            "type": "object",
            "description": "\u042e\u0440\u0438\u0434\u0438\u0447\u0435\u0441\u043a\u0438\u0439 \u0430\u0434\u0440\u0435\u0441 \u043e\u0440\u0433\u0430\u043d\u0438\u0437\u0430\u0446\u0438\u0438/\u0418\u041f",
            "items": {
              "$ref": "#/components/schemas/Address"
            }
          },
          "matchesWithLegal": {
            "type": "boolean",
            "description": "\u0421\u043e\u0432\u043f\u0430\u0434\u0430\u0435\u0442 \u043b\u0438 \u0444\u0430\u043a\u0442\u0438\u0447\u0435\u0441\u043a\u0438\u0439 \u0430\u0434\u0440\u0435\u0441 \u0441 \u044e\u0440\u0438\u0434\u0438\u0447\u0435\u0441\u043a\u0438\u043c",
            "example": false
          },
          "address": {
            "type": "object",
            "description": "\u0424\u0430\u043a\u0442\u0438\u0447\u0435\u0441\u043a\u0438\u0439 \u0430\u0434\u0440\u0435\u0441 \u043e\u0440\u0433\u043d\u0430\u043d\u0438\u0437\u0430\u0446\u0438\u0438/\u0418\u041f",
            "items": {
              "$ref": "#/components/schemas/Address"
            }
          },
          "reportingPeriod": {
            "type": "string",
            "enum": [
              "DAILY",
              "WEEKLY",
              "MONTHLY",
              "NOTGET"
            ],
            "description": "\u041f\u0435\u0440\u0438\u043e\u0434 \u0441\u043e\u0437\u0434\u0430\u043d\u0438\u044f (\u0433\u0435\u043d\u0435\u0440\u0430\u0446\u0438\u0438) \u043e\u0442\u0447\u0435\u0442\u043e\u0432",
            "example": "MONTHLY"
          },
          "createAccount": {
            "type": "boolean",
            "description": "\u041d\u0435\u043e\u0431\u0445\u043e\u0434\u0438\u043c\u043e \u043b\u0438 \u0441\u043e\u0437\u0434\u0430\u0442\u044c \u041b\u0438\u0447\u043d\u044b\u0439 \u043a\u0430\u0431\u0438\u043d\u0435\u0442",
            "example": true
          },
          "accountUserMatchesWithContactPerson": {
            "type": "boolean",
            "description": "\u0414\u0430\u043d\u043d\u044b\u0435 \u043a\u043e\u043d\u0442\u0430\u043a\u0442\u043d\u043e\u0433\u043e \u043b\u0438\u0446\u0430 \u0431\u0443\u0434\u0443\u0442 \u0438\u0441\u043f\u043e\u043b\u044c\u0437\u043e\u0432\u0430\u043d\u044b \u0434\u043b\u044f \u0441\u043e\u0437\u0434\u0430\u043d\u0438\u044f \u043b\u0438\u0447\u043d\u043e\u0433\u043e \u043a\u0430\u0431\u0438\u043d\u0435\u0442\u0430",
            "example": false
          },
          "accountUser": {
            "type": "object",
            "description": "\u0414\u0430\u043d\u043d\u044b\u0435 \u0434\u043b\u044f \u0441\u043e\u0437\u0434\u0430\u043d\u0438\u044f \u043b\u0438\u0447\u043d\u043e\u0433\u043e \u043a\u0430\u0431\u0438\u043d\u0435\u0442\u0430, \u0437\u0430\u043f\u043e\u043b\u043d\u044f\u0442\u044c \u043f\u0440\u0438 accountUserMatchesWithContactPerson = false",
            "properties": {
              "phone": {
                "type": "string",
                "description": "\u041d\u043e\u043c\u0435\u0440 \u0442\u0435\u043b\u0435\u0444\u043e\u043d\u0430"
              },
              "email": {
                "type": "string",
                "description": "email",
                "example": "crest-test@mail.ru"
              },
              "firstName": {
                "type": "string",
                "description": "\u0418\u043c\u044f",
                "example": "\u0418\u0432\u0430\u043d"
              },
              "lastName": {
                "type": "string",
                "description": "\u0424\u0430\u043c\u0438\u043b\u0438\u044f",
                "example": "\u0418\u0432\u0430\u043d\u043e\u0432"
              },
              "otherName": {
                "type": "string",
                "description": "\u041e\u0442\u0447\u0435\u0441\u0442\u0432\u043e",
                "example": "\u0418\u0432\u0430\u043d\u043e\u0432\u0438\u0447"
              }
            },
            "example": null
          },
          "accountEmail": {
            "type": "string",
            "maxLength": 64,
            "description": "Email \u0434\u043b\u044f \u0441\u043e\u0437\u0434\u0430\u043d\u0438\u044f \u041b\u0438\u0447\u043d\u043e\u0433\u043e \u043a\u0430\u0431\u0438\u043d\u0435\u0442\u0430",
            "example": "cvetmarkt@ya.ru"
          },
          "activateFastPayments": {
            "type": "boolean",
            "default": false,
            "description": "\u0424\u043b\u0430\u0433 \u043f\u043e\u0434\u043a\u043b\u044e\u0447\u0435\u043d\u0438\u044f \u0421\u0411\u041f \u0441 \u0431\u0430\u043d\u043a\u043e\u043c, \u043a\u043e\u0442\u043e\u0440\u044b\u0439 \u0440\u0435\u0433\u0438\u0441\u0442\u0440\u0438\u0440\u0443\u0435\u0442 \u043a\u043b\u0438\u0435\u043d\u0442\u0430",
            "example": true
          },
          "ogrn": {
            "type": "string",
            "required": false,
            "description": "\u041e\u0413\u0420\u041d",
            "example": 1053600591197
          },
          "contractNumber": {
            "type": "string",
            "description": "\u041d\u043e\u043c\u0435\u0440 \u0434\u043e\u0433\u043e\u0432\u043e\u0440\u0430",
            "example": 123
          },
          "contractDate": {
            "type": "string",
            "description": "\u0414\u0430\u0442\u0430 \u0434\u043e\u0433\u043e\u0432\u043e\u0440\u0430",
            "pattern": "yyyy-MM-dd'T'HH:mm:ss.SSSXXX",
            "example": "2023-02-01T09:44:32.966Z"
          },
          "currentAccount": {
            "type": "string",
            "description": "\u041d\u043e\u043c\u0435\u0440 \u0441\u0447\u0451\u0442\u0430 (\u0432 \u0442.\u0447. \u0434\u043b\u044f \u0421\u0411\u041f)",
            "example": 23123312312111112
          }
        },
        "required": [
          "BIN",
          "TIN",
          "businessLegal",
          "businessName",
          "businessNameEn",
          "businessPhone",
          "businessEmail",
          "executive",
          "matchesWithExecutive",
          "contactPerson",
          "businessAddress",
          "address",
          "reportingPeriod",
          "createAccount",
          "accountEmail",
          "contractDate",
          "contractNumber"
        ]
      },
      "UpdateClientRecordRequest": {
        "type": "object",
        "properties": {
          "enable": {
            "type": "boolean",
            "description": "\u0410\u043a\u0442\u0438\u0432\u043d\u044b\u0439 \u043a\u043b\u0438\u0435\u043d\u0442 \u0438\u043b\u0438 \u043d\u0435\u0442",
            "example": true
          },
          "businessName": {
            "type": "string",
            "description": "\u041d\u0430\u0438\u043c\u0435\u043d\u043e\u0432\u0430\u043d\u0438\u0435 \u043e\u0440\u0433\u0430\u043d\u0438\u0437\u0430\u0446\u0438\u0438/\u0418\u041f",
            "example": "\u0410\u043a\u0446\u0438\u043e\u043d\u0435\u0440\u043d\u043e\u0435 \u041e\u0431\u0449\u0435\u0441\u0442\u0432\u043e \u041c\u0443-\u041c\u0443"
          },
          "businessNameEn": {
            "type": "string",
            "description": "\u041d\u0430\u0438\u043c\u0435\u043d\u043e\u0432\u0430\u043d\u0438\u0435 \u043e\u0440\u0433\u0430\u043d\u0438\u0437\u0430\u0446\u0438\u0438/\u0418\u041f (\u041b\u0410\u0422)",
            "example": "Legal company Mu-Mu"
          },
          "businessShortName": {
            "type": "string",
            "description": "\u041d\u0430\u0438\u043c\u0435\u043d\u043e\u0432\u0430\u043d\u0438\u0435 \u043e\u0440\u0433\u0430\u043d\u0438\u0437\u0430\u0446\u0438\u0438/\u0418\u041f \u0431\u0435\u0437 \u041e\u041f\u0424",
            "example": "\u041c\u0443-\u041c\u0443"
          },
          "businessShortNameEn": {
            "type": "string",
            "description": "\u041d\u0430\u0438\u043c\u0435\u043d\u043e\u0432\u0430\u043d\u0438\u0435 \u043e\u0440\u0433\u0430\u043d\u0438\u0437\u0430\u0446\u0438\u0438/\u0418\u041f \u0431\u0435\u0437 \u041e\u041f\u0424(\u041b\u0410\u0422)",
            "example": "Mu-Mu"
          },
          "businessPhone": {
            "type": "string",
            "maxLength": 32,
            "description": "\u041a\u043e\u043d\u0442\u0430\u043a\u0442\u043d\u044b\u0439 \u0442\u0435\u043b\u0435\u0444\u043e\u043d \u043e\u0440\u0433\u0430\u043d\u0438\u0437\u0430\u0446\u0438\u0438/\u0418\u041f",
            "example": "(495) 123-45-67"
          },
          "businessEmail": {
            "type": "string",
            "maxLength": 64,
            "description": "\u041a\u043e\u043d\u0442\u0430\u043a\u0442\u043d\u044b\u0439 email \u043e\u0440\u0433\u0430\u043d\u0438\u0437\u0430\u0446\u0438\u0438/\u0418\u041f",
            "example": "cvetmarkt@ya.ru"
          },
          "executive": {
            "type": "object",
            "description": "\u041a\u043e\u043d\u0442\u0430\u043a\u0442\u044b \u0440\u0443\u043a\u043e\u0432\u043e\u0434\u0438\u0442\u0435\u043b\u044f",
            "items": {
              "$ref": "#/components/schemas/Contact"
            }
          },
          "matchesWithExecutive": {
            "type": "boolean",
            "description": "\u0421\u043e\u0432\u043f\u0430\u0434\u0430\u0435\u0442 \u043b\u0438 \u043a\u043e\u043d\u0442\u0430\u043a\u0442\u043d\u043e\u0435 \u043b\u0438\u0446\u043e \u0441 \u0440\u0443\u043a\u043e\u0432\u043e\u0434\u0438\u0442\u0435\u043b\u0435\u043c \u043e\u0440\u0433\u0430\u043d\u0438\u0437\u0430\u0446\u0438\u0438",
            "example": false
          },
          "contactPerson": {
            "type": "object",
            "description": "\u041a\u043e\u043d\u0442\u0430\u043a\u0442\u043d\u043e\u0435 \u043b\u0438\u0446\u043e",
            "items": {
              "$ref": "#/components/schemas/Contact"
            }
          },
          "businessAddress": {
            "type": "object",
            "description": "\u042e\u0440\u0438\u0434\u0438\u0447\u0435\u0441\u043a\u0438\u0439 \u0430\u0434\u0440\u0435\u0441 \u043e\u0440\u0433\u0430\u043d\u0438\u0437\u0430\u0446\u0438\u0438/\u0418\u041f",
            "items": {
              "$ref": "#/components/schemas/Address"
            }
          },
          "matchesWithLegal": {
            "type": "boolean",
            "description": "\u0421\u043e\u0432\u043f\u0430\u0434\u0430\u0435\u0442 \u043b\u0438 \u0444\u0430\u043a\u0442\u0438\u0447\u0435\u0441\u043a\u0438\u0439 \u0430\u0434\u0440\u0435\u0441 \u0441 \u044e\u0440\u0438\u0434\u0438\u0447\u0435\u0441\u043a\u0438\u043c",
            "example": false
          },
          "address": {
            "type": "object",
            "description": "\u0424\u0430\u043a\u0442\u0438\u0447\u0435\u0441\u043a\u0438\u0439 \u0430\u0434\u0440\u0435\u0441 \u043e\u0440\u0433\u043d\u0430\u043d\u0438\u0437\u0430\u0446\u0438\u0438/\u0418\u041f",
            "items": {
              "$ref": "#/components/schemas/Address"
            }
          },
          "activateFastPayments": {
            "type": "boolean",
            "default": false,
            "description": "\u0424\u043b\u0430\u0433 \u043f\u043e\u0434\u043a\u043b\u044e\u0447\u0435\u043d\u0438\u044f \u0421\u0411\u041f \u0441 \u0431\u0430\u043d\u043a\u043e\u043c, \u043a\u043e\u0442\u043e\u0440\u044b\u0439 \u0440\u0435\u0433\u0438\u0441\u0442\u0440\u0438\u0440\u0443\u0435\u0442 \u043a\u043b\u0438\u0435\u043d\u0442\u0430. \u0415\u0441\u043b\u0438 \u0437\u043d\u0430\u0447\u0435\u043d\u0438\u0435 false, \u043a\u043b\u0438\u0435\u043d\u0442 \u0431\u0443\u0434\u0435\u0442 \u043e\u0442\u043a\u043b\u044e\u0447\u0435\u043d \u043e\u0442 \u0421\u0411\u041f",
            "example": true
          },
          "bic": {
            "type": "string",
            "description": "\u0411\u0418\u041a \u0440\u0430\u0441\u0447\u0451\u0442\u043d\u043e\u0433\u043e \u0431\u0430\u043d\u043a\u0430",
            "example": 9479753
          },
          "bankName": {
            "type": "string",
            "description": "\u041d\u0430\u0438\u043c\u0435\u043d\u043e\u0432\u0430\u043d\u0438\u0435 \u0440\u0430\u0441\u0447\u0451\u0442\u043d\u043e\u0433\u043e \u0431\u0430\u043d\u043a\u0430",
            "example": "\u0411\u0430\u043d\u043a"
          },
          "corrAccount": {
            "type": "string",
            "description": "\u041a/\u0421",
            "example": 23123312312111113
          },
          "currentAccount": {
            "type": "string",
            "description": "\u0420/\u0421",
            "example": 23123312312111112
          },
          "bankAddress": {
            "type": "string",
            "description": "\u0410\u0434\u0440\u0435\u0441 \u0440\u0430\u0441\u0447\u0451\u0442\u043d\u043e\u0433\u043e \u0431\u0430\u043d\u043a\u0430",
            "example": "126711, \u0420\u043e\u0441\u0441\u0438\u044f, \u041c\u043e\u0441\u043a\u0432\u0430"
          }
        }
      },
      "ClientRecordResponse": {
        "type": "object",
        "properties": {
          "enable": {
            "type": "boolean",
            "description": "\u0410\u043a\u0442\u0438\u0432\u043d\u044b\u0439 \u043a\u043b\u0438\u0435\u043d\u0442 \u0438\u043b\u0438 \u043d\u0435\u0442",
            "example": true
          },
          "bankId": {
            "type": "string",
            "maxLength": 16,
            "description": "Id \u0431\u0430\u043d\u043a\u0430 (\u0437\u0430\u043f\u0438\u0441\u0438 \u043e \u0431\u0430\u043d\u043a\u0435)",
            "example": "320"
          },
          "TIN": {
            "type": "string",
            "maxLength": 12,
            "description": "\u0418\u041d\u041d \u043e\u0440\u0433\u0430\u043d\u0438\u0437\u0430\u0446\u0438\u0438/\u0418\u041f (10 \u0438\u043b\u0438 12 \u0441\u0438\u043c\u0432\u043e\u043b\u043e\u0432)",
            "example": "7721501415"
          },
          "businessName": {
            "type": "string",
            "description": "\u041d\u0430\u0438\u043c\u0435\u043d\u043e\u0432\u0430\u043d\u0438\u0435 \u043e\u0440\u0433\u0430\u043d\u0438\u0437\u0430\u0446\u0438\u0438/\u0418\u041f",
            "example": "\u0410\u043a\u0446\u0438\u043e\u043d\u0435\u0440\u043d\u043e\u0435 \u041e\u0431\u0449\u0435\u0441\u0442\u0432\u043e \u041c\u0443-\u041c\u0443"
          },
          "businessNameEn": {
            "type": "string",
            "description": "\u041d\u0430\u0438\u043c\u0435\u043d\u043e\u0432\u0430\u043d\u0438\u0435 \u043e\u0440\u0433\u0430\u043d\u0438\u0437\u0430\u0446\u0438\u0438/\u0418\u041f (\u041b\u0410\u0422)",
            "example": "Legal company Mu-Mu"
          },
          "businessShortName": {
            "type": "string",
            "description": "\u041d\u0430\u0438\u043c\u0435\u043d\u043e\u0432\u0430\u043d\u0438\u0435 \u043e\u0440\u0433\u0430\u043d\u0438\u0437\u0430\u0446\u0438\u0438/\u0418\u041f \u0431\u0435\u0437 \u041e\u041f\u0424",
            "example": "\u041c\u0443-\u041c\u0443"
          },
          "businessShortNameEn": {
            "type": "string",
            "description": "\u041d\u0430\u0438\u043c\u0435\u043d\u043e\u0432\u0430\u043d\u0438\u0435 \u043e\u0440\u0433\u0430\u043d\u0438\u0437\u0430\u0446\u0438\u0438/\u0418\u041f \u0431\u0435\u0437 \u041e\u041f\u0424(\u041b\u0410\u0422)",
            "example": "Mu-Mu"
          },
          "businessLegal": {
            "type": "string",
            "description": "\u041f\u0440\u0430\u0432\u043e\u0432\u0430\u044f \u0444\u043e\u0440\u043c\u0430 \u043e\u0440\u0433\u0430\u043d\u0438\u0437\u0430\u0446\u0438\u0438 (\u0432\u044b\u0431\u043e\u0440 \u0438\u0437 \u0441\u043f\u0438\u0441\u043a\u0430)",
            "example": "\u041e\u041e\u041e"
          },
          "businessPhone": {
            "type": "string",
            "maxLength": 32,
            "description": "\u041a\u043e\u043d\u0442\u0430\u043a\u0442\u043d\u044b\u0439 \u0442\u0435\u043b\u0435\u0444\u043e\u043d \u043e\u0440\u0433\u0430\u043d\u0438\u0437\u0430\u0446\u0438\u0438/\u0418\u041f",
            "example": "(495) 123-45-67"
          },
          "businessEmail": {
            "type": "string",
            "maxLength": 64,
            "description": "\u041a\u043e\u043d\u0442\u0430\u043a\u0442\u043d\u044b\u0439 email \u043e\u0440\u0433\u0430\u043d\u0438\u0437\u0430\u0446\u0438\u0438/\u0418\u041f",
            "example": "cvetmarkt@ya.ru"
          },
          "executive": {
            "type": "object",
            "description": "\u041a\u043e\u043d\u0442\u0430\u043a\u0442\u044b \u0440\u0443\u043a\u043e\u0432\u043e\u0434\u0438\u0442\u0435\u043b\u044f",
            "items": {
              "$ref": "#/components/schemas/Contact"
            }
          },
          "matchesWithExecutive": {
            "type": "boolean",
            "description": "\u0421\u043e\u0432\u043f\u0430\u0434\u0430\u0435\u0442 \u043b\u0438 \u043a\u043e\u043d\u0442\u0430\u043a\u0442\u043d\u043e\u0435 \u043b\u0438\u0446\u043e \u0441 \u0440\u0443\u043a\u043e\u0432\u043e\u0434\u0438\u0442\u0435\u043b\u0435\u043c \u043e\u0440\u0433\u0430\u043d\u0438\u0437\u0430\u0446\u0438\u0438",
            "example": false
          },
          "contactPerson": {
            "type": "object",
            "description": "\u041a\u043e\u043d\u0442\u0430\u043a\u0442\u043d\u043e\u0435 \u043b\u0438\u0446\u043e",
            "items": {
              "$ref": "#/components/schemas/Contact"
            }
          },
          "businessAddress": {
            "type": "object",
            "description": "\u042e\u0440\u0438\u0434\u0438\u0447\u0435\u0441\u043a\u0438\u0439 \u0430\u0434\u0440\u0435\u0441 \u043e\u0440\u0433\u0430\u043d\u0438\u0437\u0430\u0446\u0438\u0438/\u0418\u041f",
            "items": {
              "$ref": "#/components/schemas/Address"
            }
          },
          "matchesWithLegal": {
            "type": "boolean",
            "description": "\u0421\u043e\u0432\u043f\u0430\u0434\u0430\u0435\u0442 \u043b\u0438 \u0444\u0430\u043a\u0442\u0438\u0447\u0435\u0441\u043a\u0438\u0439 \u0430\u0434\u0440\u0435\u0441 \u0441 \u044e\u0440\u0438\u0434\u0438\u0447\u0435\u0441\u043a\u0438\u043c",
            "example": false
          },
          "address": {
            "type": "object",
            "description": "\u0424\u0430\u043a\u0442\u0438\u0447\u0435\u0441\u043a\u0438\u0439 \u0430\u0434\u0440\u0435\u0441 \u043e\u0440\u0433\u0430\u043d\u0438\u0437\u0430\u0446\u0438\u0438/\u0418\u041f",
            "items": {
              "$ref": "#/components/schemas/Address"
            }
          },
          "activateFastPayments": {
            "type": "boolean",
            "default": false,
            "description": "\u0424\u043b\u0430\u0433 \u043f\u043e\u0434\u043a\u043b\u044e\u0447\u0435\u043d\u0438\u044f \u0421\u0411\u041f \u0441 \u0431\u0430\u043d\u043a\u043e\u043c, \u043a\u043e\u0442\u043e\u0440\u044b\u0439 \u0440\u0435\u0433\u0438\u0441\u0442\u0440\u0438\u0440\u0443\u0435\u0442 \u043a\u043b\u0438\u0435\u043d\u0442\u0430",
            "example": true,
            "nullable": false
          },
          "fastPaymentBankId": {
            "type": "integer",
            "nullable": true,
            "description": "\u0411\u0430\u043d\u043a, \u0432 \u043a\u043e\u0442\u043e\u0440\u043e\u043c \u043a\u043b\u0438\u0435\u043d\u0442 \u043f\u043e\u0434\u043a\u043b\u044e\u0447\u0435\u043d \u043a \u0421\u0411\u041f. \u041c\u043e\u0436\u0435\u0442 \u0431\u044b\u0442\u044c null, \u0435\u0441\u043b\u0438 activateFastPayments = false\n",
            "example": 412
          }
        }
      },
      "Contact": {
        "type": "object",
        "properties": {
          "id": {
            "type": "number",
            "maxLength": 32,
            "description": "Id \u043a\u043e\u043d\u0442\u0430\u043a\u0442\u0430 (\u0437\u0430\u043f\u0438\u0441\u0438 \u043a\u043e\u043d\u0442\u0430\u043a\u0442\u043d\u043e\u0439 \u0438\u043d\u0444\u043e\u0440\u043c\u0430\u0446\u0438\u0438)",
            "example": 57620
          },
          "familyName": {
            "type": "string",
            "maxLength": 64,
            "description": "\u0424\u0430\u043c\u0438\u043b\u0438\u044f",
            "example": "\u041a\u043e\u043d\u043e\u043f\u043b\u0435\u0432"
          },
          "givenName": {
            "type": "string",
            "maxLength": 64,
            "description": "\u0418\u043c\u044f",
            "example": "\u0414\u043c\u0438\u0442\u0440\u0438\u0439"
          },
          "patronymic": {
            "type": "string",
            "maxLength": 64,
            "description": "\u041e\u0442\u0447\u0435\u0441\u0442\u0432\u043e",
            "example": "\u0415\u0432\u0433\u0435\u043d\u044c\u0435\u0432\u0438\u0447"
          },
          "phone": {
            "type": "string",
            "maxLength": 32,
            "description": "\u041a\u043e\u043d\u0442\u0430\u043a\u0442\u043d\u044b\u0439 \u0442\u0435\u043b\u0435\u0444\u043e\u043d",
            "example": "(495) 123-45-67"
          },
          "email": {
            "type": "string",
            "maxLength": 64,
            "description": "\u041a\u043e\u043d\u0442\u0430\u043a\u0442\u043d\u044b\u0439 email",
            "example": "cvetmarkt@ya.ru"
          },
          "birthDate": {
            "type": "string",
            "maxLength": 64,
            "description": "\u0414\u0430\u0442\u0430 \u0440\u043e\u0436\u0434\u0435\u043d\u0438\u044f",
            "example": "1974-12-22"
          },
          "occupation": {
            "type": "string",
            "maxLength": 64,
            "description": "\u041d\u0430\u0438\u043c\u0435\u043d\u043e\u0432\u0430\u043d\u0438\u0435 \u0434\u043e\u043b\u0436\u043d\u043e\u0441\u0442\u0438",
            "example": "\u0413\u0435\u043d\u0435\u0440\u0430\u043b\u044c\u043d\u044b\u0439 \u0434\u0438\u0440\u0435\u043a\u0442\u043e\u0440"
          },
          "documentType": {
            "type": "string",
            "maxLength": 64,
            "description": "\u0422\u0438\u043f \u0434\u043e\u043a\u0443\u043c\u0435\u043d\u0442\u0430 \u043f\u043e\u0434\u0442\u0432\u0435\u0440\u0436\u0434\u0430\u044e\u0449\u0435\u0433\u043e \u043b\u0438\u0447\u043d\u043e\u0441\u0442\u044c",
            "example": "\u041f\u0430\u0441\u043f\u043e\u0440\u0442"
          },
          "documentSeries": {
            "type": "string",
            "maxLength": 8,
            "description": "\u0421\u0435\u0440\u0438\u044f \u0434\u043e\u043a\u0443\u043c\u0435\u043d\u0442\u0430 \u043f\u043e\u0434\u0442\u0432\u0435\u0440\u0436\u0434\u0430\u044e\u0449\u0435\u0433\u043e \u043b\u0438\u0447\u043d\u043e\u0441\u0442\u044c",
            "example": "6005"
          },
          "documentNumber": {
            "type": "string",
            "maxLength": 16,
            "description": "\u041d\u043e\u043c\u0435\u0440 \u0434\u043e\u043a\u0443\u043c\u0435\u043d\u0442\u0430 \u043f\u043e\u0434\u0442\u0432\u0435\u0440\u0436\u0434\u0430\u044e\u0449\u0435\u0433\u043e \u043b\u0438\u0447\u043d\u043e\u0441\u0442\u044c",
            "example": "184208"
          },
          "issuingDate": {
            "type": "string",
            "maxLength": 64,
            "description": "\u0414\u0430\u0442\u0430 \u0432\u044b\u0434\u0430\u0447\u0438 \u0434\u043e\u043a\u0443\u043c\u0435\u043d\u0442\u0430",
            "example": "2020-01-18"
          },
          "issuingAuthority": {
            "type": "string",
            "maxLength": 128,
            "description": "\u041a\u0435\u043c \u0432\u044b\u0434\u0430\u043d (\u043e\u0433\u0440\u0430\u043d, \u0432\u044b\u0434\u0430\u0432\u0448\u0438\u0439 \u0434\u043e\u043a\u0443\u043c\u0435\u043d\u0442)",
            "example": "\u041e\u0423\u0412\u0414 \u0433. \u041d\u0430\u0431\u0435\u0440\u0435\u0436\u043d\u044b\u0435 \u0447\u0435\u043b\u043d\u044b"
          }
        },
        "required": [
          "id",
          "familyName",
          "givenName",
          "patronymic",
          "phone",
          "email"
        ]
      },
      "Address": {
        "type": "object",
        "properties": {
          "id": {
            "type": "number",
            "maxLength": 32,
            "description": "Id \u0430\u0434\u0440\u0435\u0441\u0430 (\u0437\u0430\u043f\u0438\u0441\u0438 \u043e\u0431 \u0430\u0434\u0440\u0435\u0441\u0435)",
            "example": 9863
          },
          "postCode": {
            "type": "number",
            "maxLength": 6,
            "description": "\u041f\u043e\u0447\u0442\u043e\u0432\u044b\u0439 \u0438\u043d\u0434\u0435\u043a\u0441",
            "example": 127018
          },
          "country": {
            "type": "string",
            "description": "\u0421\u0442\u0440\u0430\u043d\u0430",
            "example": "RUSSIA"
          },
          "region": {
            "type": "string",
            "maxLength": 128,
            "description": "\u0420\u0435\u0433\u0438\u043e\u043d",
            "example": "ADIGEA"
          },
          "area": {
            "type": "string",
            "description": "\u0420\u0430\u0439\u043e\u043d",
            "example": "\u0420\u0430\u0439\u043e\u043d"
          },
          "city": {
            "type": "string",
            "description": "\u0413\u043e\u0440\u043e\u0434",
            "example": "\u0413\u043e\u0440\u043e\u0434"
          },
          "settlementType": {
            "type": "string",
            "maxLength": 128,
            "description": "\u0422\u0438\u043f \u043f\u043e\u0441\u0435\u043b\u0435\u043d\u0438\u044f",
            "example": "MICRODISTRICT"
          },
          "settlementName": {
            "type": "string",
            "maxLength": 128,
            "description": "\u041d\u0430\u0441\u0435\u043b\u0435\u043d\u043d\u044b\u0439 \u043f\u0443\u043d\u043a\u0442 (\u043d\u0430\u0437\u0432\u0430\u043d\u0438\u0435)",
            "example": "\u041d\u0438\u0436\u043d\u0438\u0435 \u041b\u0443\u0445\u043e\u0432\u0446\u044b"
          },
          "streetType": {
            "type": "string",
            "maxLength": 128,
            "description": "\u0422\u0438\u043f \u0443\u043b\u0438\u0446\u044b",
            "example": "STREET"
          },
          "streetName": {
            "type": "string",
            "maxLength": 128,
            "description": "\u0423\u043b\u0438\u0446\u0430 (\u043d\u0430\u0437\u0432\u0430\u043d\u0438\u0435). \u041e\u0431\u044f\u0437\u0430\u0442\u0435\u043b\u044c\u043d\u043e, \u0435\u0441\u043b\u0438 \u0437\u0430\u043f\u043e\u043b\u043d\u0435\u043d \u0442\u0438\u043f \u0443\u043b\u0438\u0446\u044b.",
            "example": "\u0420\u0430\u0431\u043e\u0447\u0435\u0439 \u043c\u043e\u043b\u043e\u0434\u0435\u0436\u0438"
          },
          "houseType": {
            "type": "string",
            "description": "\u0422\u0438\u043f \u0434\u043e\u043c\u0430",
            "example": "HOUSE"
          },
          "plot": {
            "type": "string",
            "maxLength": 32,
            "description": "\u0414\u043e\u043c (\u043d\u043e\u043c\u0435\u0440 \u0434\u043e\u043c\u0430). \u041e\u0431\u044f\u0437\u0430\u0442\u0435\u043b\u044c\u043d\u043e, \u0435\u0441\u043b\u0438 \u0437\u0430\u043f\u043e\u043b\u043d\u0435\u043d \u0442\u0438\u043f \u0434\u043e\u043c\u0430.",
            "example": "16"
          },
          "blockType": {
            "type": "string",
            "description": "\u0422\u0438\u043f \u043a\u043e\u0440\u043f\u0443\u0441\u0430",
            "example": "STRUCTURE"
          },
          "building": {
            "type": "string",
            "maxLength": 32,
            "description": "\u041a\u043e\u0440\u043f\u0443\u0441 (\u0441\u0442\u0440\u043e\u0435\u043d\u0438\u0435). \u041e\u0431\u044f\u0437\u0430\u0442\u0435\u043b\u044c\u043d\u043e, \u0435\u0441\u043b\u0438 \u0437\u0430\u043f\u043e\u043b\u043d\u0435\u043d \u0442\u0438\u043f \u043a\u043e\u0440\u043f\u0443\u0441\u0430.",
            "example": "5"
          },
          "flatType": {
            "type": "string",
            "description": "\u0422\u0438\u043f \u043f\u043e\u043c\u0435\u0449\u0435\u043d\u0438\u044f",
            "example": "ROOM"
          },
          "unit": {
            "type": "string",
            "maxLength": 32,
            "description": "\u041f\u043e\u043c\u0435\u0449\u0435\u043d\u0438\u0435. \u041e\u0431\u044f\u0437\u0430\u0442\u0435\u043b\u044c\u043d\u043e, \u0435\u0441\u043b\u0438 \u0437\u0430\u043f\u043e\u043b\u043d\u0435\u043d \u0442\u0438\u043f \u043f\u043e\u043c\u0435\u0449\u0435\u043d\u0438\u044f.",
            "example": "VIII"
          }
        },
        "required": [
          "id",
          "postCode",
          "region",
          "settlementType",
          "settlementName",
          "streetType",
          "streetName",
          "plot",
          "building",
          "unit"
        ]
      },
      "CheckClientExistsRes": {
        "type": "object",
        "allOf": [
          {
            "$ref": "../../models/CommonResponses.yaml#/components/schemas/GeneralResponse"
          },
          {
            "properties": {
              "existsInBank": {
                "type": "boolean",
                "example": true,
                "description": "\u043a\u043b\u0438\u0435\u043d\u0442 \u043d\u0430\u0439\u0434\u0435\u043d \u0432 \u0431\u0430\u043d\u043a\u0435"
              }
            }
          }
        ]
      },
      "AgreementPointsResponse": {
        "type": "object",
        "properties": {
          "success": {
            "type": "boolean"
          },
          "errorMessage": {
            "type": "string",
            "example": null
          },
          "errorType": {
            "type": "string",
            "allOf": [
              {
                "$ref": "../../models/CommonResponses.yaml#/components/schemas/ErrorTypeEnum"
              }
            ],
            "description": "\u041e\u043f\u0438\u0441\u0430\u043d\u0438\u0435 \u043e\u0448\u0438\u0431\u043a\u0438",
            "example": null
          },
          "data": {
            "type": "object",
            "properties": {
              "merchantPoints": {
                "type": "array",
                "description": "\u0421\u043f\u0438\u0441\u043e\u043a \u0422\u0421\u0422",
                "items": {
                  "type": "object",
                  "properties": {
                    "id": {
                      "type": "integer",
                      "format": "int64",
                      "description": "ID \u0422\u0421\u0422",
                      "example": 6731
                    },
                    "name": {
                      "type": "string",
                      "description": "\u041d\u0430\u0438\u043c\u0435\u043d\u043e\u0432\u0430\u043d\u0438\u0435 \u0422\u0421\u0422",
                      "example": "\u0422\u043e\u0447\u043a\u0430 1"
                    },
                    "mcc": {
                      "type": "string",
                      "description": "\u041c\u0421\u0421 \u0422\u0421\u0422",
                      "maxLength": 4,
                      "minLength": 1,
                      "example": 5814
                    }
                  }
                }
              }
            }
          }
        }
      },
      "PointRatesResponse": {
        "type": "object",
        "properties": {
          "success": {
            "type": "boolean"
          },
          "errorMessage": {
            "type": "string",
            "example": null
          },
          "errorType": {
            "type": "string",
            "example": null
          },
          "data": {
            "type": "object",
            "properties": {
              "rates": {
                "type": "array",
                "description": "\u0421\u043f\u0438\u0441\u043e\u043a \u0438\u0437 \u0441\u0442\u0430\u0432\u043e\u043a \u0422\u0421\u0422",
                "items": {
                  "$ref": "../../models/Commissions.yaml#/components/schemas/PSRates"
                }
              }
            }
          }
        }
      },
      "AdvancedSearchRequest": {
        "type": "object",
        "properties": {
          "ena": {
            "type": "boolean",
            "description": "\u0421\u0442\u0430\u0442\u0443\u0441"
          },
          "inn": {
            "type": "string",
            "maxLength": 256,
            "description": "\u0418\u043d\u043d \u043a\u043b\u0438\u0435\u043d\u0442\u0430",
            "example": "7751236984"
          },
          "nameOrAbrvName": {
            "type": "string",
            "maxLength": 512,
            "description": "\u043f\u043e\u043b\u043d\u043e\u0435 \u0438\u043b\u0438 \u0441\u043e\u043a\u0440\u0430\u0449\u0435\u043d\u043d\u043e\u0435 \u043d\u0430\u0438\u043c\u0435\u043d\u043e\u0432\u0430\u043d\u0438\u0435 \u043a\u043b\u0438\u0435\u043d\u0442\u0430 (\u0422\u0421\u041f)",
            "example": "\u0420\u043e\u043c\u0430\u0448\u043a\u0430"
          },
          "city": {
            "type": "string",
            "maxLength": 512,
            "description": "\u0413\u043e\u0440\u043e\u0434 \u043a\u043b\u0438\u0435\u043d\u0442\u0430 (\u0422\u0421\u041f)",
            "example": "\u0412\u043e\u0440\u043e\u043d\u0435\u0436"
          },
          "phone": {
            "type": "string",
            "maxLength": 32,
            "description": "\u0422\u0435\u043b\u0435\u0444\u043e\u043d \u043a\u043b\u0438\u0435\u043d\u0442\u0430 (\u0422\u0421\u041f)",
            "example": "(903) 123-45-67"
          },
          "cdat_start_date": {
            "type": "string",
            "maxLength": 32,
            "pattern": "yyyy-MM-dd'T'HH:mm:ss.SSSXXX",
            "description": "\u0414\u0430\u0442\u0430 \u0440\u0435\u0433\u0438\u0441\u0442\u0440\u0430\u0446\u0438\u0438 \u043a\u043b\u0438\u0435\u043d\u0442\u0430 \u0432 \u043f\u0435\u0440\u0438\u043e\u0434 \u043e\u0442",
            "example": "2022-03-13T21:00:00.000Z"
          },
          "cdat_end_date": {
            "type": "string",
            "maxLength": 32,
            "pattern": "yyyy-MM-dd'T'HH:mm:ss.SSSXXX",
            "description": "\u0414\u0430\u0442\u0430 \u0440\u0435\u0433\u0438\u0441\u0442\u0440\u0430\u0446\u0438\u0438 \u043a\u043b\u0438\u0435\u043d\u0442\u0430 \u0432 \u043f\u0435\u0440\u0438\u043e\u0434 \u0434\u043e",
            "example": "2022-03-17T20:59:59.999Z"
          }
        }
      },
      "CommissionsForNewPartnerRequest": {
        "type": "object",
        "properties": {
          "partnerId": {
            "type": "integer",
            "description": "\u0418\u0434 \u0432\u044b\u0431\u0440\u0430\u043d\u043d\u043e\u0433\u043e \u043f\u0430\u0440\u0442\u043d\u0435\u0440\u0430",
            "example": 10
          },
          "bankIds": {
            "items": {
              "type": "integer"
            },
            "type": "array",
            "description": "\u0421\u043f\u0438\u0441\u043e\u043a id \u0431\u0430\u043d\u043a\u043e\u0432",
            "example": [
              1,
              2,
              3
            ]
          }
        },
        "required": [
          "partnerId",
          "bankIds"
        ]
      },
      "TerminateContractRequest": {
        "type": "object",
        "properties": {
          "merchantId": {
            "description": "Id \u0422\u0421\u041f",
            "type": "integer"
          },
          "contractId": {
            "description": "Id \u0414\u043e\u0433\u043e\u0432\u043e\u0440\u0430",
            "type": "integer"
          },
          "reasonCode": {
            "description": "\u041a\u043e\u0434 \u043f\u0440\u0438\u0447\u0438\u043d\u044b\n00 - \u0424\u0430\u043a\u0442\u043e\u0440\u044b, \u043f\u0440\u0435\u043f\u044f\u0442\u0441\u0442\u0432\u0443\u044e\u0449\u0438\u0435 \u0437\u0430\u043a\u043b\u044e\u0447\u0435\u043d\u0438\u044e \u0434\u043e\u0433\u043e\u0432\u043e\u0440\u0430 \u044d\u043a\u0432\u0430\u0439\u0440\u0438\u043d\u0433\u0430\n\n01 - \u041d\u0435\u043f\u0440\u0430\u0432\u043e\u043c\u0435\u0440\u043d\u043e\u0435 \u0440\u0430\u0441\u043a\u0440\u044b\u0442\u0438\u0435 \u0441\u043e\u0442\u0440\u0443\u0434\u043d\u0438\u043a\u0430\u043c\u0438 \u0422\u0421\u041f \u0438\u043d\u0444\u043e\u0440\u043c\u0430\u0446\u0438\u0438 \u043f\u043e \u043e\u043f\u043b\u0430\u0442\u0435 \u0442\u043e\u0432\u0430\u0440\u043e\u0432 (\u0443\u0441\u043b\u0443\u0433) \u0442\u0440\u0435\u0442\u044c\u0438\u043c \u043b\u0438\u0446\u0430\u043c\n\n02 - \u0425\u0438\u0449\u0435\u043d\u0438\u0435 \u0434\u0430\u043d\u043d\u044b\u0445 \u0431\u0430\u043d\u043a\u043e\u0432\u0441\u043a\u0438\u0445 \u043a\u0430\u0440\u0442 \u0432 \u0422\u0421\u041f, \u043f\u043e\u0432\u043b\u0435\u043a\u0448\u0435\u0435 \u0432\u043e\u0437\u043d\u0438\u043a\u043d\u043e\u0432\u0435\u043d\u0438\u0435 \u043d\u0435\u0441\u0430\u043d\u043a\u0446\u0438\u043e\u043d\u0438\u0440\u043e\u0432\u0430\u043d\u043d\u044b\u0445 \u043e\u043f\u0435\u0440\u0430\u0446\u0438\u0439\n\n03 - \u041f\u0440\u0438\u0432\u043b\u0435\u0447\u0435\u043d\u0438\u0435 \u0422\u0421\u041f \u0442\u0440\u0435\u0442\u044c\u0438\u0445 \u043b\u0438\u0446 \u0431\u0435\u0437 \u0441\u043e\u0433\u043b\u0430\u0441\u043e\u0432\u0430\u043d\u0438\u044f \u0441 \u042d\u043a\u0432\u0430\u0439\u0440\u0435\u0440\u043e\u043c (\u043d\u0435\u0441\u0430\u043d\u043a\u0446\u0438\u043e\u043d\u0438\u0440\u043e\u0432\u0430\u043d\u043d\u0430\u044f \u0430\u0433\u0440\u0435\u0433\u0430\u0442\u043e\u0440\u0441\u043a\u0430\u044f \u0441\u0445\u0435\u043c\u0430)\n\n04 - \u041f\u0440\u0435\u0432\u044b\u0448\u0435\u043d\u0438\u0435 \u0422\u0421\u041f \u0443\u0441\u0442\u0430\u043d\u043e\u0432\u043b\u0435\u043d\u043d\u043e\u0433\u043e \u043f\u043b\u0430\u0442\u0435\u0436\u043d\u043e\u0439 \u0441\u0438\u0441\u0442\u0435\u043c\u043e\u0439 \u0443\u0440\u043e\u0432\u043d\u044f \u043e\u043f\u0440\u043e\u0442\u0435\u0441\u0442\u043e\u0432\u0430\u043d\u0438\u044f \u043e\u043f\u0435\u0440\u0430\u0446\u0438\u0439 \u0432 \u0440\u0430\u043c\u043a\u0430\u0445 \u0434\u0438\u0441\u043f\u0443\u0442\u043d\u044b\u0445 \u043f\u0440\u043e\u0446\u0435\u0434\u0443\u0440\n\n05 - \u041f\u0440\u0435\u0432\u044b\u0448\u0435\u043d\u0438\u0435 \u0422\u0421\u041f \u0443\u0441\u0442\u0430\u043d\u043e\u0432\u043b\u0435\u043d\u043d\u043e\u0433\u043e \u043f\u043b\u0430\u0442\u0435\u0436\u043d\u043e\u0439 \u0441\u0438\u0441\u0442\u0435\u043c\u043e\u0439 \u0443\u0440\u043e\u0432\u043d\u044f \u043d\u0435\u043f\u0440\u0430\u0432\u043e\u043c\u0435\u0440\u043d\u044b\u0445 \u043e\u043f\u0435\u0440\u0430\u0446\u0438\u0439\n\n06 - \u0422\u0421\u041f \u043d\u0435 \u0432\u044b\u043f\u043e\u043b\u043d\u0438\u043b\u043e \u0434\u043e\u0433\u043e\u0432\u043e\u0440\u043d\u044b\u0435 \u043e\u0431\u044f\u0437\u0430\u0442\u0435\u043b\u044c\u0441\u0442\u0432 \u043f\u043e \u043e\u0442\u043d\u043e\u0448\u0435\u043d\u0438\u044e \u043a \u043a\u043b\u0438\u0435\u043d\u0442\u0443 (\u043a\u043b\u0438\u0435\u043d\u0442\u0430\u043c)\n\n07 - \u0422\u0421\u041f \u043d\u0430\u0440\u0443\u0448\u0438\u043b\u043e \u043f\u0440\u0430\u0432\u0438\u043b\u0430 \u0438\u043b\u0438 \u0441\u0442\u0430\u043d\u0434\u0430\u0440\u0442\u044b \u043f\u043b\u0430\u0442\u0435\u0436\u043d\u043e\u0439 \u0441\u0438\u0441\u0442\u0435\u043c\u044b\n\n08 - \u041d\u0435\u0441\u043e\u043e\u0442\u0432\u0435\u0442\u0441\u0442\u0432\u0438\u0435 \u0442\u0440\u0435\u0431\u043e\u0432\u0430\u043d\u0438\u044f\u043c \u0441\u0442\u0430\u043d\u0434\u0430\u0440\u0442\u0430 PCI DSS\n\n09 - \u041f\u0440\u043e\u0434\u0430\u0436\u0430 \u0437\u0430\u043f\u0440\u0435\u0449\u0435\u043d\u043d\u044b\u0445 \u0437\u0430\u043a\u043e\u043d\u043e\u0434\u0430\u0442\u0435\u043b\u044c\u0441\u0442\u0432\u043e\u043c \u0438\u043b\u0438 \u0442\u0440\u0435\u0431\u043e\u0432\u0430\u043d\u0438\u044f\u043c\u0438 \u043f\u043b\u0430\u0442\u0435\u0436\u043d\u044b\u0445 \u0441\u0438\u0441\u0442\u0435\u043c \u0442\u043e\u0432\u0430\u0440\u043e\u0432 \u0438/\u0438\u043b\u0438 \u0443\u0441\u043b\u0443\u0433 \u0432 \u0422\u0421\u041f\n\n10 - \u041f\u0440\u0435\u0434\u043e\u0441\u0442\u0430\u0432\u043b\u0435\u043d\u0438\u0435 \u0434\u0430\u043d\u043d\u044b\u0445 \u0444\u0438\u043a\u0442\u0438\u0432\u043d\u044b\u0445 \u043b\u0438\u0446 \u043b\u0438\u0431\u043e \u0444\u0438\u043a\u0442\u0438\u0432\u043d\u043e\u0433\u043e \u0430\u0434\u0440\u0435\u0441\u0430 \u043f\u0440\u0438 \u0440\u0435\u0433\u0438\u0441\u0442\u0440\u0430\u0446\u0438\u0438\n\n11 - \u0422\u0421\u041f \u043d\u0430\u0440\u0443\u0448\u0438\u043b\u043e \u0434\u043e\u0433\u043e\u0432\u043e\u0440\u043d\u044b\u0435 \u043e\u0431\u044f\u0437\u0430\u0442\u0435\u043b\u044c\u0441\u0442\u0432\u0430 \u0441 \u042d\u043a\u0432\u0430\u0439\u0440\u0435\u0440\u043e\u043c\n\n12 - \u0412\u044b\u044f\u0432\u043b\u0435\u043d\u0438\u0435 \u0432 \u0441\u043e\u043e\u0442\u0432\u0435\u0442\u0441\u0442\u0432\u0438\u0438 \u0441 \u0432\u043d\u0443\u0442\u0440\u0435\u043d\u043d\u0438\u043c\u0438 \u0434\u043e\u043a\u0443\u043c\u0435\u043d\u0442\u0430\u043c\u0438 \u0431\u0430\u043d\u043a\u0430 \u043f\u0440\u0438\u0437\u043d\u0430\u043a\u043e\u0432 \u043e\u0442\u043d\u0435\u0441\u0435\u043d\u0438\u044f \u0434\u0435\u044f\u0442\u0435\u043b\u044c\u043d\u043e\u0441\u0442\u0438 \u0422\u0421\u041f \u043a \u0434\u0435\u044f\u0442\u0435\u043b\u044c\u043d\u043e\u0441\u0442\u0438, \u0441\u0432\u044f\u0437\u0430\u043d\u043d\u043e\u0439 \u0441 \u043b\u0435\u0433\u0430\u043b\u0438\u0437\u0430\u0446\u0438\u0435\u0439 (\u043e\u0442\u043c\u044b\u0432\u0430\u043d\u0438\u0435\u043c) \u0434\u043e\u0445\u043e\u0434\u043e\u0432, \u043f\u043e\u043b\u0443\u0447\u0435\u043d\u043d\u044b\u0445 \u043f\u0440\u0435\u0441\u0442\u0443\u043f\u043d\u044b\u043c \u043f\u0443\u0442\u0435\u043c, \u0444\u0438\u043d\u0430\u043d\u0441\u0438\u0440\u043e\u0432\u0430\u043d\u0438\u0435\u043c \u0442\u0435\u0440\u0440\u043e\u0440\u0438\u0437\u043c\u0430 \u0438 \u043f\u0440.\n\n99 - \u0418\u043d\u044b\u0435 \u0441\u043e\u0431\u044b\u0442\u0438\u044f, \u043d\u0435 \u043f\u043e\u043f\u0430\u0434\u0430\u044e\u0449\u0438\u0435 \u043d\u0438 \u043f\u043e\u0434 \u043e\u0434\u043d\u043e \u0438\u0437 \u043f\u0440\u0435\u0434\u0441\u0442\u0430\u0432\u043b\u0435\u043d\u043d\u044b\u0445 \u0432\u044b\u0448\u0435 \u043e\u043f\u0438\u0441\u0430\u043d\u0438\u0439\n",
            "type": "string",
            "enum": [
              "00",
              "01",
              "02",
              "03",
              "04",
              "05",
              "06",
              "07",
              "08",
              "09",
              "10",
              "11",
              "12",
              "99"
            ],
            "example": "00"
          }
        },
        "required": [
          "merchantId",
          "reasonCode",
          "contractId"
        ]
      }
    }
  }
}