{
  "openapi": "3.0.3",
  "info": {
    "title": "BreatheHR API",
    "description": "BreatheHR is a cloud-based HR management system. The API provides access to employees, absences, departments, documents, and other HR resources.",
    "version": "1.0.0",
    "x-jentic-source-url": "https://developer.breathehr.com/",
    "contact": {
      "name": "API Support"
    }
  },
  "servers": [
    {
      "url": "https://api.breathehr.com/v1"
    }
  ],
  "security": [
    {
      "apiKey": []
    }
  ],
  "tags": [
    {
      "name": "Employees"
    },
    {
      "name": "Absences"
    },
    {
      "name": "Departments"
    },
    {
      "name": "Documents"
    },
    {
      "name": "Holidays"
    },
    {
      "name": "Company"
    }
  ],
  "paths": {
    "/employees": {
      "get": {
        "operationId": "listEmployees",
        "summary": "List Employees",
        "description": "Get all employees",
        "tags": [
          "Employees"
        ],
        "parameters": [
          {
            "name": "page",
            "in": "query",
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "per_page",
            "in": "query",
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "status",
            "in": "query",
            "schema": {
              "type": "string",
              "enum": [
                "current",
                "leaver"
              ]
            }
          }
        ],
        "responses": {
          "200": {
            "description": "List of employees",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "employees": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/Employee"
                      }
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      },
      "post": {
        "operationId": "createEmployee",
        "summary": "Create Employee",
        "description": "Create a new employee record",
        "tags": [
          "Employees"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/EmployeeCreate"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Employee created"
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      }
    },
    "/employees/{employee_id}": {
      "get": {
        "operationId": "getEmployee",
        "summary": "Get Employee",
        "description": "Get employee details",
        "tags": [
          "Employees"
        ],
        "parameters": [
          {
            "name": "employee_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Employee details",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Employee"
                }
              }
            }
          },
          "404": {
            "description": "Not found"
          }
        }
      },
      "put": {
        "operationId": "updateEmployee",
        "summary": "Update Employee",
        "description": "Update employee details",
        "tags": [
          "Employees"
        ],
        "parameters": [
          {
            "name": "employee_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/EmployeeCreate"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Updated"
          }
        }
      }
    },
    "/absences": {
      "get": {
        "operationId": "listAbsences",
        "summary": "List Absences",
        "description": "Get all absences",
        "tags": [
          "Absences"
        ],
        "parameters": [
          {
            "name": "page",
            "in": "query",
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "per_page",
            "in": "query",
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "start_date",
            "in": "query",
            "schema": {
              "type": "string",
              "format": "date"
            }
          },
          {
            "name": "end_date",
            "in": "query",
            "schema": {
              "type": "string",
              "format": "date"
            }
          },
          {
            "name": "employee_id",
            "in": "query",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "List of absences",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "absences": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/Absence"
                      }
                    }
                  }
                }
              }
            }
          }
        }
      },
      "post": {
        "operationId": "createAbsence",
        "summary": "Create Absence",
        "description": "Create a new absence record",
        "tags": [
          "Absences"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/AbsenceCreate"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Absence created"
          }
        }
      }
    },
    "/absences/{absence_id}": {
      "get": {
        "operationId": "getAbsence",
        "summary": "Get Absence",
        "description": "Get absence details",
        "tags": [
          "Absences"
        ],
        "parameters": [
          {
            "name": "absence_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Absence details",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Absence"
                }
              }
            }
          }
        }
      },
      "put": {
        "operationId": "updateAbsence",
        "summary": "Update Absence",
        "description": "Update an absence record",
        "tags": [
          "Absences"
        ],
        "parameters": [
          {
            "name": "absence_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/AbsenceCreate"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Updated"
          }
        }
      },
      "delete": {
        "operationId": "deleteAbsence",
        "summary": "Delete Absence",
        "description": "Delete an absence record",
        "tags": [
          "Absences"
        ],
        "parameters": [
          {
            "name": "absence_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Deleted"
          }
        }
      }
    },
    "/departments": {
      "get": {
        "operationId": "listDepartments",
        "summary": "List Departments",
        "description": "Get all departments",
        "tags": [
          "Departments"
        ],
        "responses": {
          "200": {
            "description": "List of departments",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "departments": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/Department"
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/departments/{department_id}": {
      "get": {
        "operationId": "getDepartment",
        "summary": "Get Department",
        "description": "Get department details",
        "tags": [
          "Departments"
        ],
        "parameters": [
          {
            "name": "department_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Department",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Department"
                }
              }
            }
          }
        }
      }
    },
    "/employees/{employee_id}/documents": {
      "get": {
        "operationId": "listEmployeeDocuments",
        "summary": "List Employee Documents",
        "description": "Get all documents for an employee",
        "tags": [
          "Documents"
        ],
        "parameters": [
          {
            "name": "employee_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "List of documents"
          }
        }
      }
    },
    "/holidays": {
      "get": {
        "operationId": "listHolidays",
        "summary": "List Holidays",
        "description": "Get all company holidays",
        "tags": [
          "Holidays"
        ],
        "parameters": [
          {
            "name": "year",
            "in": "query",
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "List of holidays",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "holidays": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/Holiday"
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/leave_types": {
      "get": {
        "operationId": "listLeaveTypes",
        "summary": "List Leave Types",
        "description": "Get all leave/absence types",
        "tags": [
          "Absences"
        ],
        "responses": {
          "200": {
            "description": "List of leave types"
          }
        }
      }
    },
    "/company": {
      "get": {
        "operationId": "getCompany",
        "summary": "Get Company",
        "description": "Get company details",
        "tags": [
          "Company"
        ],
        "responses": {
          "200": {
            "description": "Company details"
          }
        }
      }
    },
    "/employees/{employee_id}/salary": {
      "get": {
        "operationId": "getEmployeeSalary",
        "summary": "Get Employee Salary",
        "description": "Get salary information for an employee",
        "tags": [
          "Employees"
        ],
        "parameters": [
          {
            "name": "employee_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Salary info"
          }
        }
      }
    },
    "/employees/{employee_id}/allowances": {
      "get": {
        "operationId": "getEmployeeAllowances",
        "summary": "Get Employee Allowances",
        "description": "Get leave allowances for an employee",
        "tags": [
          "Employees"
        ],
        "parameters": [
          {
            "name": "employee_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Allowances"
          }
        }
      }
    }
  },
  "components": {
    "securitySchemes": {
      "apiKey": {
        "type": "apiKey",
        "name": "X-API-KEY",
        "in": "header",
        "description": "API key for BreatheHR"
      }
    },
    "schemas": {
      "Employee": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string"
          },
          "first_name": {
            "type": "string"
          },
          "last_name": {
            "type": "string"
          },
          "email": {
            "type": "string",
            "format": "email"
          },
          "job_title": {
            "type": "string"
          },
          "department": {
            "type": "string"
          },
          "start_date": {
            "type": "string",
            "format": "date"
          },
          "status": {
            "type": "string",
            "enum": [
              "current",
              "leaver"
            ]
          },
          "date_of_birth": {
            "type": "string",
            "format": "date"
          },
          "phone_number": {
            "type": "string"
          },
          "address": {
            "type": "object",
            "properties": {
              "line1": {
                "type": "string"
              },
              "line2": {
                "type": "string"
              },
              "city": {
                "type": "string"
              },
              "county": {
                "type": "string"
              },
              "postcode": {
                "type": "string"
              },
              "country": {
                "type": "string"
              }
            }
          }
        }
      },
      "EmployeeCreate": {
        "type": "object",
        "required": [
          "first_name",
          "last_name",
          "email"
        ],
        "properties": {
          "first_name": {
            "type": "string"
          },
          "last_name": {
            "type": "string"
          },
          "email": {
            "type": "string",
            "format": "email"
          },
          "job_title": {
            "type": "string"
          },
          "department_id": {
            "type": "string"
          },
          "start_date": {
            "type": "string",
            "format": "date"
          }
        }
      },
      "Absence": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string"
          },
          "employee_id": {
            "type": "string"
          },
          "start_date": {
            "type": "string",
            "format": "date"
          },
          "end_date": {
            "type": "string",
            "format": "date"
          },
          "type": {
            "type": "string"
          },
          "status": {
            "type": "string",
            "enum": [
              "pending",
              "approved",
              "declined"
            ]
          },
          "notes": {
            "type": "string"
          },
          "half_day_start": {
            "type": "boolean"
          },
          "half_day_end": {
            "type": "boolean"
          }
        }
      },
      "AbsenceCreate": {
        "type": "object",
        "required": [
          "employee_id",
          "start_date",
          "end_date",
          "type"
        ],
        "properties": {
          "employee_id": {
            "type": "string"
          },
          "start_date": {
            "type": "string",
            "format": "date"
          },
          "end_date": {
            "type": "string",
            "format": "date"
          },
          "type": {
            "type": "string"
          },
          "notes": {
            "type": "string"
          }
        }
      },
      "Department": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string"
          },
          "name": {
            "type": "string"
          },
          "manager": {
            "type": "object",
            "properties": {
              "id": {
                "type": "string"
              },
              "name": {
                "type": "string"
              }
            }
          }
        }
      },
      "Holiday": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string"
          },
          "name": {
            "type": "string"
          },
          "date": {
            "type": "string",
            "format": "date"
          }
        }
      }
    }
  }
}
