{
  "swagger": "2.0",
  "info": {
    "version": "0.1",
    "title": "dev-notificationapi",
    "x-jentic-source-url": "https://api.swaggerhub.com/apis/NotificationAPI/notificationapi-production/0.1"
  },
  "host": "api.notificationapi.com",
  "schemes": [
    "https"
  ],
  "paths": {
    "/account": {
      "get": {
        "responses": {},
        "security": [
          {
            "apiproductionuseast1Authorizer2197C7C8": []
          }
        ]
      },
      "post": {
        "consumes": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "body",
            "name": "CreateAccountRequestBody",
            "required": true,
            "schema": {
              "$ref": "#/definitions/CreateAccountRequestBody"
            }
          }
        ],
        "responses": {},
        "security": [
          {
            "apiproductionuseast1Authorizer2197C7C8": []
          }
        ]
      },
      "options": {
        "consumes": [
          "application/json"
        ],
        "responses": {
          "204": {
            "description": "204 response",
            "headers": {
              "Access-Control-Allow-Origin": {
                "type": "string"
              },
              "Access-Control-Allow-Methods": {
                "type": "string"
              },
              "Access-Control-Allow-Headers": {
                "type": "string"
              }
            }
          }
        }
      }
    },
    "/account/organization": {
      "get": {
        "responses": {},
        "security": [
          {
            "apiproductionuseast1Authorizer2197C7C8": []
          }
        ]
      },
      "options": {
        "consumes": [
          "application/json"
        ],
        "responses": {
          "204": {
            "description": "204 response",
            "headers": {
              "Access-Control-Allow-Origin": {
                "type": "string"
              },
              "Access-Control-Allow-Methods": {
                "type": "string"
              },
              "Access-Control-Allow-Headers": {
                "type": "string"
              }
            }
          }
        }
      }
    },
    "/account/supabase": {
      "delete": {
        "responses": {},
        "security": [
          {
            "apiproductionuseast1Authorizer2197C7C8": []
          }
        ]
      },
      "options": {
        "consumes": [
          "application/json"
        ],
        "responses": {
          "204": {
            "description": "204 response",
            "headers": {
              "Access-Control-Allow-Origin": {
                "type": "string"
              },
              "Access-Control-Allow-Methods": {
                "type": "string"
              },
              "Access-Control-Allow-Headers": {
                "type": "string"
              }
            }
          }
        }
      }
    },
    "/account/supabase/configure": {
      "post": {
        "consumes": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "body",
            "name": "SupabaseConfigureRequest",
            "required": true,
            "schema": {
              "$ref": "#/definitions/SupabaseConfigureRequest"
            }
          }
        ],
        "responses": {},
        "security": [
          {
            "apiproductionuseast1Authorizer2197C7C8": []
          }
        ]
      },
      "options": {
        "consumes": [
          "application/json"
        ],
        "responses": {
          "204": {
            "description": "204 response",
            "headers": {
              "Access-Control-Allow-Origin": {
                "type": "string"
              },
              "Access-Control-Allow-Methods": {
                "type": "string"
              },
              "Access-Control-Allow-Headers": {
                "type": "string"
              }
            }
          }
        }
      }
    },
    "/account/supabase/oauth": {
      "post": {
        "consumes": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "body",
            "name": "SupabaseOAuthRequest",
            "required": true,
            "schema": {
              "$ref": "#/definitions/SupabaseOAuthRequest"
            }
          }
        ],
        "responses": {},
        "security": [
          {
            "apiproductionuseast1Authorizer2197C7C8": []
          }
        ]
      },
      "options": {
        "consumes": [
          "application/json"
        ],
        "responses": {
          "204": {
            "description": "204 response",
            "headers": {
              "Access-Control-Allow-Origin": {
                "type": "string"
              },
              "Access-Control-Allow-Methods": {
                "type": "string"
              },
              "Access-Control-Allow-Headers": {
                "type": "string"
              }
            }
          }
        }
      }
    },
    "/account/supabase/projects": {
      "get": {
        "responses": {},
        "security": [
          {
            "apiproductionuseast1Authorizer2197C7C8": []
          }
        ]
      },
      "options": {
        "consumes": [
          "application/json"
        ],
        "responses": {
          "204": {
            "description": "204 response",
            "headers": {
              "Access-Control-Allow-Origin": {
                "type": "string"
              },
              "Access-Control-Allow-Methods": {
                "type": "string"
              },
              "Access-Control-Allow-Headers": {
                "type": "string"
              }
            }
          }
        }
      }
    },
    "/account/supabase/status": {
      "get": {
        "responses": {},
        "security": [
          {
            "apiproductionuseast1Authorizer2197C7C8": []
          }
        ]
      },
      "options": {
        "consumes": [
          "application/json"
        ],
        "responses": {
          "204": {
            "description": "204 response",
            "headers": {
              "Access-Control-Allow-Origin": {
                "type": "string"
              },
              "Access-Control-Allow-Methods": {
                "type": "string"
              },
              "Access-Control-Allow-Headers": {
                "type": "string"
              }
            }
          }
        }
      }
    },
    "/addresses": {
      "get": {
        "responses": {},
        "security": [
          {
            "apiproductionuseast1Authorizer2197C7C8": []
          }
        ]
      },
      "post": {
        "consumes": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "body",
            "name": "CreateAddressRequest",
            "required": true,
            "schema": {
              "$ref": "#/definitions/CreateAddressRequest"
            }
          }
        ],
        "responses": {},
        "security": [
          {
            "apiproductionuseast1Authorizer2197C7C8": []
          }
        ]
      },
      "options": {
        "consumes": [
          "application/json"
        ],
        "responses": {
          "204": {
            "description": "204 response",
            "headers": {
              "Access-Control-Allow-Origin": {
                "type": "string"
              },
              "Access-Control-Allow-Methods": {
                "type": "string"
              },
              "Access-Control-Allow-Headers": {
                "type": "string"
              }
            }
          }
        }
      },
      "patch": {
        "consumes": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "body",
            "name": "UpdateAddressRequest",
            "required": true,
            "schema": {
              "$ref": "#/definitions/UpdateAddressRequest"
            }
          }
        ],
        "responses": {},
        "security": [
          {
            "apiproductionuseast1Authorizer2197C7C8": []
          }
        ]
      }
    },
    "/billing": {
      "post": {
        "consumes": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "body",
            "name": "BillingPostRequestBody",
            "required": true,
            "schema": {
              "$ref": "#/definitions/BillingPostRequestBody"
            }
          }
        ],
        "responses": {},
        "security": [
          {
            "apiproductionuseast1Authorizer2197C7C8": []
          }
        ]
      },
      "options": {
        "consumes": [
          "application/json"
        ],
        "responses": {
          "204": {
            "description": "204 response",
            "headers": {
              "Access-Control-Allow-Origin": {
                "type": "string"
              },
              "Access-Control-Allow-Methods": {
                "type": "string"
              },
              "Access-Control-Allow-Headers": {
                "type": "string"
              }
            }
          }
        }
      }
    },
    "/billing-webhook": {
      "post": {
        "responses": {}
      },
      "options": {
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "responses": {
          "200": {
            "description": "200 response",
            "headers": {
              "Access-Control-Allow-Origin": {
                "type": "string"
              },
              "Access-Control-Allow-Methods": {
                "type": "string"
              },
              "Access-Control-Allow-Headers": {
                "type": "string"
              }
            }
          }
        }
      }
    },
    "/components": {
      "get": {
        "responses": {},
        "security": [
          {
            "apiproductionuseast1Authorizer2197C7C8": []
          }
        ]
      },
      "post": {
        "consumes": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "body",
            "name": "EmailComponentPostRequest",
            "required": true,
            "schema": {
              "$ref": "#/definitions/EmailComponentPostRequest"
            }
          }
        ],
        "responses": {},
        "security": [
          {
            "apiproductionuseast1Authorizer2197C7C8": []
          }
        ]
      },
      "options": {
        "consumes": [
          "application/json"
        ],
        "responses": {
          "204": {
            "description": "204 response",
            "headers": {
              "Access-Control-Allow-Origin": {
                "type": "string"
              },
              "Access-Control-Allow-Methods": {
                "type": "string"
              },
              "Access-Control-Allow-Headers": {
                "type": "string"
              }
            }
          }
        }
      }
    },
    "/components/public": {
      "get": {
        "responses": {},
        "security": [
          {
            "apiproductionuseast1Authorizer2197C7C8": []
          }
        ]
      },
      "options": {
        "consumes": [
          "application/json"
        ],
        "responses": {
          "204": {
            "description": "204 response",
            "headers": {
              "Access-Control-Allow-Origin": {
                "type": "string"
              },
              "Access-Control-Allow-Methods": {
                "type": "string"
              },
              "Access-Control-Allow-Headers": {
                "type": "string"
              }
            }
          }
        }
      }
    },
    "/components/{componentId}": {
      "get": {
        "parameters": [
          {
            "name": "componentId",
            "in": "path",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {},
        "security": [
          {
            "apiproductionuseast1Authorizer2197C7C8": []
          }
        ]
      },
      "delete": {
        "parameters": [
          {
            "name": "componentId",
            "in": "path",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {},
        "security": [
          {
            "apiproductionuseast1Authorizer2197C7C8": []
          }
        ]
      },
      "options": {
        "consumes": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "componentId",
            "in": "path",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "204": {
            "description": "204 response",
            "headers": {
              "Access-Control-Allow-Origin": {
                "type": "string"
              },
              "Access-Control-Allow-Methods": {
                "type": "string"
              },
              "Access-Control-Allow-Headers": {
                "type": "string"
              }
            }
          }
        }
      },
      "patch": {
        "consumes": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "componentId",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "in": "body",
            "name": "EmailComponentPatchRequest",
            "required": true,
            "schema": {
              "$ref": "#/definitions/EmailComponentPatchRequest"
            }
          }
        ],
        "responses": {},
        "security": [
          {
            "apiproductionuseast1Authorizer2197C7C8": []
          }
        ]
      }
    },
    "/domains": {
      "get": {
        "responses": {},
        "security": [
          {
            "apiproductionuseast1Authorizer2197C7C8": []
          }
        ]
      },
      "post": {
        "consumes": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "body",
            "name": "PostSendersRequestBody",
            "required": true,
            "schema": {
              "$ref": "#/definitions/PostSendersRequestBody"
            }
          }
        ],
        "responses": {},
        "security": [
          {
            "apiproductionuseast1Authorizer2197C7C8": []
          }
        ]
      },
      "options": {
        "consumes": [
          "application/json"
        ],
        "responses": {
          "204": {
            "description": "204 response",
            "headers": {
              "Access-Control-Allow-Origin": {
                "type": "string"
              },
              "Access-Control-Allow-Methods": {
                "type": "string"
              },
              "Access-Control-Allow-Headers": {
                "type": "string"
              }
            }
          }
        }
      }
    },
    "/domains/{sender}": {
      "delete": {
        "parameters": [
          {
            "name": "sender",
            "in": "path",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {},
        "security": [
          {
            "apiproductionuseast1Authorizer2197C7C8": []
          }
        ]
      },
      "options": {
        "consumes": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "sender",
            "in": "path",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "204": {
            "description": "204 response",
            "headers": {
              "Access-Control-Allow-Origin": {
                "type": "string"
              },
              "Access-Control-Allow-Methods": {
                "type": "string"
              },
              "Access-Control-Allow-Headers": {
                "type": "string"
              }
            }
          }
        }
      }
    },
    "/editor/token": {
      "post": {
        "consumes": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "body",
            "name": "EmailAuthTokenPostRequest",
            "required": true,
            "schema": {
              "$ref": "#/definitions/EmailAuthTokenPostRequest"
            }
          }
        ],
        "responses": {},
        "security": [
          {
            "apiproductionuseast1Authorizer2197C7C8": []
          }
        ]
      },
      "options": {
        "consumes": [
          "application/json"
        ],
        "responses": {
          "204": {
            "description": "204 response",
            "headers": {
              "Access-Control-Allow-Origin": {
                "type": "string"
              },
              "Access-Control-Allow-Methods": {
                "type": "string"
              },
              "Access-Control-Allow-Headers": {
                "type": "string"
              }
            }
          }
        }
      }
    },
    "/environments": {
      "get": {
        "responses": {},
        "security": [
          {
            "apiproductionuseast1Authorizer2197C7C8": []
          }
        ]
      },
      "post": {
        "consumes": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "body",
            "name": "EnvironmentCreateRequest",
            "required": true,
            "schema": {
              "$ref": "#/definitions/EnvironmentCreateRequest"
            }
          }
        ],
        "responses": {},
        "security": [
          {
            "apiproductionuseast1Authorizer2197C7C8": []
          }
        ]
      },
      "options": {
        "consumes": [
          "application/json"
        ],
        "responses": {
          "204": {
            "description": "204 response",
            "headers": {
              "Access-Control-Allow-Origin": {
                "type": "string"
              },
              "Access-Control-Allow-Methods": {
                "type": "string"
              },
              "Access-Control-Allow-Headers": {
                "type": "string"
              }
            }
          }
        }
      }
    },
    "/environments/{clientId}": {
      "options": {
        "consumes": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "clientId",
            "in": "path",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "204": {
            "description": "204 response",
            "headers": {
              "Access-Control-Allow-Origin": {
                "type": "string"
              },
              "Access-Control-Allow-Methods": {
                "type": "string"
              },
              "Access-Control-Allow-Headers": {
                "type": "string"
              }
            }
          }
        }
      },
      "patch": {
        "consumes": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "clientId",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "in": "body",
            "name": "EnvironmentPatchRequest",
            "required": true,
            "schema": {
              "$ref": "#/definitions/EnvironmentPatchRequest"
            }
          }
        ],
        "responses": {},
        "security": [
          {
            "apiproductionuseast1Authorizer2197C7C8": []
          }
        ]
      }
    },
    "/hashedUserId": {
      "get": {
        "summary": "Get hashed userId",
        "responses": {},
        "security": [
          {
            "authenticate": []
          }
        ]
      },
      "options": {
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "responses": {
          "200": {
            "description": "200 response",
            "headers": {
              "Access-Control-Allow-Origin": {
                "type": "string"
              },
              "Access-Control-Allow-Methods": {
                "type": "string"
              },
              "Access-Control-Allow-Headers": {
                "type": "string"
              }
            }
          }
        }
      }
    },
    "/health": {
      "get": {
        "summary": "An endpoint which returns 200 if all health checks pass",
        "responses": {
          "200": {
            "description": "200 response"
          }
        }
      },
      "options": {
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "responses": {
          "200": {
            "description": "200 response",
            "headers": {
              "Access-Control-Allow-Origin": {
                "type": "string"
              },
              "Access-Control-Allow-Methods": {
                "type": "string"
              },
              "Access-Control-Allow-Headers": {
                "type": "string"
              }
            }
          }
        }
      }
    },
    "/inbound/sms/{provider}": {
      "post": {
        "consumes": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "provider",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "in": "body",
            "name": "InboundRequestBody",
            "required": true,
            "schema": {
              "$ref": "#/definitions/InboundRequestBody"
            }
          }
        ],
        "responses": {}
      },
      "options": {
        "consumes": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "provider",
            "in": "path",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "204": {
            "description": "204 response",
            "headers": {
              "Access-Control-Allow-Origin": {
                "type": "string"
              },
              "Access-Control-Allow-Methods": {
                "type": "string"
              },
              "Access-Control-Allow-Headers": {
                "type": "string"
              }
            }
          }
        }
      }
    },
    "/insights": {
      "post": {
        "consumes": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "body",
            "name": "IngishtsPostRequest",
            "required": true,
            "schema": {
              "$ref": "#/definitions/IngishtsPostRequest"
            }
          }
        ],
        "responses": {},
        "security": [
          {
            "apiproductionuseast1Authorizer2197C7C8": []
          }
        ]
      },
      "options": {
        "consumes": [
          "application/json"
        ],
        "responses": {
          "204": {
            "description": "204 response",
            "headers": {
              "Access-Control-Allow-Origin": {
                "type": "string"
              },
              "Access-Control-Allow-Methods": {
                "type": "string"
              },
              "Access-Control-Allow-Headers": {
                "type": "string"
              }
            }
          }
        }
      }
    },
    "/internal/intercom/webhook": {
      "post": {
        "responses": {}
      },
      "options": {
        "consumes": [
          "application/json"
        ],
        "responses": {
          "204": {
            "description": "204 response",
            "headers": {
              "Access-Control-Allow-Origin": {
                "type": "string"
              },
              "Access-Control-Allow-Methods": {
                "type": "string"
              },
              "Access-Control-Allow-Headers": {
                "type": "string"
              }
            }
          }
        }
      }
    },
    "/keys": {
      "get": {
        "responses": {},
        "security": [
          {
            "apiproductionuseast1Authorizer2197C7C8": []
          }
        ]
      },
      "post": {
        "consumes": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "body",
            "name": "CreateKeyRequest",
            "required": true,
            "schema": {
              "$ref": "#/definitions/CreateKeyRequest"
            }
          }
        ],
        "responses": {},
        "security": [
          {
            "apiproductionuseast1Authorizer2197C7C8": []
          }
        ]
      },
      "options": {
        "consumes": [
          "application/json"
        ],
        "responses": {
          "204": {
            "description": "204 response",
            "headers": {
              "Access-Control-Allow-Origin": {
                "type": "string"
              },
              "Access-Control-Allow-Methods": {
                "type": "string"
              },
              "Access-Control-Allow-Headers": {
                "type": "string"
              }
            }
          }
        }
      }
    },
    "/keys/{keyId}": {
      "delete": {
        "parameters": [
          {
            "name": "keyId",
            "in": "path",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {},
        "security": [
          {
            "apiproductionuseast1Authorizer2197C7C8": []
          }
        ]
      },
      "options": {
        "consumes": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "keyId",
            "in": "path",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "204": {
            "description": "204 response",
            "headers": {
              "Access-Control-Allow-Origin": {
                "type": "string"
              },
              "Access-Control-Allow-Methods": {
                "type": "string"
              },
              "Access-Control-Allow-Headers": {
                "type": "string"
              }
            }
          }
        }
      }
    },
    "/logs": {
      "get": {
        "responses": {},
        "security": [
          {
            "apiproductionuseast1Authorizer2197C7C8": []
          }
        ]
      },
      "options": {
        "consumes": [
          "application/json"
        ],
        "responses": {
          "204": {
            "description": "204 response",
            "headers": {
              "Access-Control-Allow-Origin": {
                "type": "string"
              },
              "Access-Control-Allow-Methods": {
                "type": "string"
              },
              "Access-Control-Allow-Headers": {
                "type": "string"
              }
            }
          }
        }
      }
    },
    "/logs/query": {
      "post": {
        "consumes": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "body",
            "name": "LogQueryPostBody",
            "required": true,
            "schema": {
              "$ref": "#/definitions/LogQueryPostBody"
            }
          }
        ],
        "responses": {},
        "security": [
          {
            "apiproductionuseast1Authorizer2197C7C8": []
          }
        ]
      },
      "options": {
        "consumes": [
          "application/json"
        ],
        "responses": {
          "204": {
            "description": "204 response",
            "headers": {
              "Access-Control-Allow-Origin": {
                "type": "string"
              },
              "Access-Control-Allow-Methods": {
                "type": "string"
              },
              "Access-Control-Allow-Headers": {
                "type": "string"
              }
            }
          }
        }
      }
    },
    "/logs/query/{queryId}": {
      "get": {
        "parameters": [
          {
            "name": "queryId",
            "in": "path",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {},
        "security": [
          {
            "apiproductionuseast1Authorizer2197C7C8": []
          }
        ]
      },
      "options": {
        "consumes": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "queryId",
            "in": "path",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "204": {
            "description": "204 response",
            "headers": {
              "Access-Control-Allow-Origin": {
                "type": "string"
              },
              "Access-Control-Allow-Methods": {
                "type": "string"
              },
              "Access-Control-Allow-Headers": {
                "type": "string"
              }
            }
          }
        }
      }
    },
    "/logs/retention": {
      "get": {
        "responses": {},
        "security": [
          {
            "apiproductionuseast1Authorizer2197C7C8": []
          }
        ]
      },
      "options": {
        "consumes": [
          "application/json"
        ],
        "responses": {
          "204": {
            "description": "204 response",
            "headers": {
              "Access-Control-Allow-Origin": {
                "type": "string"
              },
              "Access-Control-Allow-Methods": {
                "type": "string"
              },
              "Access-Control-Allow-Headers": {
                "type": "string"
              }
            }
          }
        }
      }
    },
    "/logs/tail": {
      "get": {
        "responses": {},
        "security": [
          {
            "apiproductionuseast1Authorizer2197C7C8": []
          }
        ]
      },
      "options": {
        "consumes": [
          "application/json"
        ],
        "responses": {
          "204": {
            "description": "204 response",
            "headers": {
              "Access-Control-Allow-Origin": {
                "type": "string"
              },
              "Access-Control-Allow-Methods": {
                "type": "string"
              },
              "Access-Control-Allow-Headers": {
                "type": "string"
              }
            }
          }
        }
      }
    },
    "/logs/{trackingIds}": {
      "get": {
        "parameters": [
          {
            "name": "trackingIds",
            "in": "path",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {},
        "security": [
          {
            "apiproductionuseast1Authorizer2197C7C8": []
          }
        ]
      },
      "options": {
        "consumes": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "trackingIds",
            "in": "path",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "204": {
            "description": "204 response",
            "headers": {
              "Access-Control-Allow-Origin": {
                "type": "string"
              },
              "Access-Control-Allow-Methods": {
                "type": "string"
              },
              "Access-Control-Allow-Headers": {
                "type": "string"
              }
            }
          }
        }
      }
    },
    "/members": {
      "get": {
        "responses": {},
        "security": [
          {
            "apiproductionuseast1Authorizer2197C7C8": []
          }
        ]
      },
      "post": {
        "consumes": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "body",
            "name": "MemberInviteRequest",
            "required": true,
            "schema": {
              "$ref": "#/definitions/MemberInviteRequest"
            }
          }
        ],
        "responses": {},
        "security": [
          {
            "apiproductionuseast1Authorizer2197C7C8": []
          }
        ]
      },
      "options": {
        "consumes": [
          "application/json"
        ],
        "responses": {
          "204": {
            "description": "204 response",
            "headers": {
              "Access-Control-Allow-Origin": {
                "type": "string"
              },
              "Access-Control-Allow-Methods": {
                "type": "string"
              },
              "Access-Control-Allow-Headers": {
                "type": "string"
              }
            }
          }
        }
      }
    },
    "/members/autojoin": {
      "get": {
        "responses": {},
        "security": [
          {
            "apiproductionuseast1Authorizer2197C7C8": []
          }
        ]
      },
      "post": {
        "consumes": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "body",
            "name": "AutoJoinRequestBody",
            "required": true,
            "schema": {
              "$ref": "#/definitions/AutoJoinRequestBody"
            }
          }
        ],
        "responses": {},
        "security": [
          {
            "apiproductionuseast1Authorizer2197C7C8": []
          }
        ]
      },
      "options": {
        "consumes": [
          "application/json"
        ],
        "responses": {
          "204": {
            "description": "204 response",
            "headers": {
              "Access-Control-Allow-Origin": {
                "type": "string"
              },
              "Access-Control-Allow-Methods": {
                "type": "string"
              },
              "Access-Control-Allow-Headers": {
                "type": "string"
              }
            }
          }
        }
      }
    },
    "/members/{userId}": {
      "delete": {
        "parameters": [
          {
            "name": "userId",
            "in": "path",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {},
        "security": [
          {
            "apiproductionuseast1Authorizer2197C7C8": []
          }
        ]
      },
      "options": {
        "consumes": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "userId",
            "in": "path",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "204": {
            "description": "204 response",
            "headers": {
              "Access-Control-Allow-Origin": {
                "type": "string"
              },
              "Access-Control-Allow-Methods": {
                "type": "string"
              },
              "Access-Control-Allow-Headers": {
                "type": "string"
              }
            }
          }
        }
      },
      "patch": {
        "consumes": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "userId",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "in": "body",
            "name": "MemberUpdateRequest",
            "required": true,
            "schema": {
              "$ref": "#/definitions/MemberUpdateRequest"
            }
          }
        ],
        "responses": {},
        "security": [
          {
            "apiproductionuseast1Authorizer2197C7C8": []
          }
        ]
      }
    },
    "/notifications/{notificationId}/{channel}/templates": {
      "get": {
        "parameters": [
          {
            "name": "notificationId",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "channel",
            "in": "path",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {},
        "security": [
          {
            "apiproductionuseast1Authorizer2197C7C8": []
          }
        ]
      },
      "post": {
        "consumes": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "notificationId",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "channel",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "in": "body",
            "name": "TemplatePostRequest",
            "required": true,
            "schema": {
              "$ref": "#/definitions/TemplatePostRequest"
            }
          }
        ],
        "responses": {},
        "security": [
          {
            "apiproductionuseast1Authorizer2197C7C8": []
          }
        ]
      },
      "options": {
        "consumes": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "notificationId",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "channel",
            "in": "path",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "204": {
            "description": "204 response",
            "headers": {
              "Access-Control-Allow-Origin": {
                "type": "string"
              },
              "Access-Control-Allow-Methods": {
                "type": "string"
              },
              "Access-Control-Allow-Headers": {
                "type": "string"
              }
            }
          }
        }
      }
    },
    "/notifications/{notificationId}/{channel}/templates/default-selection": {
      "options": {
        "consumes": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "notificationId",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "channel",
            "in": "path",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "204": {
            "description": "204 response",
            "headers": {
              "Access-Control-Allow-Origin": {
                "type": "string"
              },
              "Access-Control-Allow-Methods": {
                "type": "string"
              },
              "Access-Control-Allow-Headers": {
                "type": "string"
              }
            }
          }
        }
      },
      "patch": {
        "consumes": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "notificationId",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "channel",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "in": "body",
            "name": "SetDefaultTemplateRequest",
            "required": true,
            "schema": {
              "$ref": "#/definitions/SetDefaultTemplateRequest"
            }
          }
        ],
        "responses": {},
        "security": [
          {
            "apiproductionuseast1Authorizer2197C7C8": []
          }
        ]
      }
    },
    "/notifications/{notificationId}/{channel}/templates/{templateId}": {
      "get": {
        "parameters": [
          {
            "name": "notificationId",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "channel",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "templateId",
            "in": "path",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {},
        "security": [
          {
            "apiproductionuseast1Authorizer2197C7C8": []
          }
        ]
      },
      "delete": {
        "parameters": [
          {
            "name": "notificationId",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "channel",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "templateId",
            "in": "path",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {},
        "security": [
          {
            "apiproductionuseast1Authorizer2197C7C8": []
          }
        ]
      },
      "options": {
        "consumes": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "notificationId",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "channel",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "templateId",
            "in": "path",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "204": {
            "description": "204 response",
            "headers": {
              "Access-Control-Allow-Origin": {
                "type": "string"
              },
              "Access-Control-Allow-Methods": {
                "type": "string"
              },
              "Access-Control-Allow-Headers": {
                "type": "string"
              }
            }
          }
        }
      },
      "patch": {
        "consumes": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "notificationId",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "channel",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "templateId",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "in": "body",
            "name": "TemplatePatchRequest",
            "required": true,
            "schema": {
              "$ref": "#/definitions/TemplatePatchRequest"
            }
          }
        ],
        "responses": {},
        "security": [
          {
            "apiproductionuseast1Authorizer2197C7C8": []
          }
        ]
      }
    },
    "/organization/usage": {
      "get": {
        "responses": {},
        "security": [
          {
            "apiproductionuseast1Authorizer2197C7C8": []
          }
        ]
      },
      "options": {
        "consumes": [
          "application/json"
        ],
        "responses": {
          "204": {
            "description": "204 response",
            "headers": {
              "Access-Control-Allow-Origin": {
                "type": "string"
              },
              "Access-Control-Allow-Methods": {
                "type": "string"
              },
              "Access-Control-Allow-Headers": {
                "type": "string"
              }
            }
          }
        }
      }
    },
    "/organization/usage/history": {
      "get": {
        "responses": {},
        "security": [
          {
            "apiproductionuseast1Authorizer2197C7C8": []
          }
        ]
      },
      "options": {
        "consumes": [
          "application/json"
        ],
        "responses": {
          "204": {
            "description": "204 response",
            "headers": {
              "Access-Control-Allow-Origin": {
                "type": "string"
              },
              "Access-Control-Allow-Methods": {
                "type": "string"
              },
              "Access-Control-Allow-Headers": {
                "type": "string"
              }
            }
          }
        }
      }
    },
    "/send": {
      "post": {
        "consumes": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "body",
            "name": "SenderPostBody",
            "required": true,
            "schema": {
              "$ref": "#/definitions/SenderPostBody"
            }
          }
        ],
        "responses": {},
        "security": [
          {
            "apiproductionuseast1Authorizer2197C7C8": []
          }
        ]
      },
      "options": {
        "consumes": [
          "application/json"
        ],
        "responses": {
          "204": {
            "description": "204 response",
            "headers": {
              "Access-Control-Allow-Origin": {
                "type": "string"
              },
              "Access-Control-Allow-Methods": {
                "type": "string"
              },
              "Access-Control-Allow-Headers": {
                "type": "string"
              }
            }
          }
        }
      }
    },
    "/sender/scheduler/{trackingId}": {
      "put": {
        "consumes": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "trackingId",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "in": "body",
            "name": "SenderPostBody",
            "required": true,
            "schema": {
              "$ref": "#/definitions/SenderPostBody"
            }
          }
        ],
        "responses": {},
        "security": [
          {
            "apiproductionuseast1Authorizer2197C7C8": []
          }
        ]
      },
      "delete": {
        "parameters": [
          {
            "name": "trackingId",
            "in": "path",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {},
        "security": [
          {
            "apiproductionuseast1Authorizer2197C7C8": []
          }
        ]
      },
      "options": {
        "consumes": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "trackingId",
            "in": "path",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "204": {
            "description": "204 response",
            "headers": {
              "Access-Control-Allow-Origin": {
                "type": "string"
              },
              "Access-Control-Allow-Methods": {
                "type": "string"
              },
              "Access-Control-Allow-Headers": {
                "type": "string"
              }
            }
          }
        }
      }
    },
    "/sender/test/email": {
      "post": {
        "consumes": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "body",
            "name": "PostEmailTestRequest",
            "required": true,
            "schema": {
              "$ref": "#/definitions/PostEmailTestRequest"
            }
          }
        ],
        "responses": {},
        "security": [
          {
            "apiproductionuseast1Authorizer2197C7C8": []
          }
        ]
      },
      "options": {
        "consumes": [
          "application/json"
        ],
        "responses": {
          "204": {
            "description": "204 response",
            "headers": {
              "Access-Control-Allow-Origin": {
                "type": "string"
              },
              "Access-Control-Allow-Methods": {
                "type": "string"
              },
              "Access-Control-Allow-Headers": {
                "type": "string"
              }
            }
          }
        }
      }
    },
    "/settings/push/apn": {
      "get": {
        "responses": {},
        "security": [
          {
            "apiproductionuseast1Authorizer2197C7C8": []
          }
        ]
      },
      "put": {
        "consumes": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "body",
            "name": "APNConfig",
            "required": true,
            "schema": {
              "$ref": "#/definitions/APNConfig"
            }
          }
        ],
        "responses": {},
        "security": [
          {
            "apiproductionuseast1Authorizer2197C7C8": []
          }
        ]
      },
      "delete": {
        "responses": {},
        "security": [
          {
            "apiproductionuseast1Authorizer2197C7C8": []
          }
        ]
      },
      "options": {
        "consumes": [
          "application/json"
        ],
        "responses": {
          "204": {
            "description": "204 response",
            "headers": {
              "Access-Control-Allow-Origin": {
                "type": "string"
              },
              "Access-Control-Allow-Methods": {
                "type": "string"
              },
              "Access-Control-Allow-Headers": {
                "type": "string"
              }
            }
          }
        }
      }
    },
    "/settings/push/fcm": {
      "get": {
        "responses": {},
        "security": [
          {
            "apiproductionuseast1Authorizer2197C7C8": []
          }
        ]
      },
      "put": {
        "consumes": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "body",
            "name": "PushSettingsFCMPutRequest",
            "required": true,
            "schema": {
              "$ref": "#/definitions/PushSettingsFCMPutRequest"
            }
          }
        ],
        "responses": {},
        "security": [
          {
            "apiproductionuseast1Authorizer2197C7C8": []
          }
        ]
      },
      "delete": {
        "responses": {},
        "security": [
          {
            "apiproductionuseast1Authorizer2197C7C8": []
          }
        ]
      },
      "options": {
        "consumes": [
          "application/json"
        ],
        "responses": {
          "204": {
            "description": "204 response",
            "headers": {
              "Access-Control-Allow-Origin": {
                "type": "string"
              },
              "Access-Control-Allow-Methods": {
                "type": "string"
              },
              "Access-Control-Allow-Headers": {
                "type": "string"
              }
            }
          }
        }
      }
    },
    "/slack/webhook": {
      "post": {
        "consumes": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "body",
            "name": "string",
            "required": true,
            "schema": {
              "$ref": "#/definitions/string"
            }
          }
        ],
        "responses": {}
      },
      "options": {
        "consumes": [
          "application/json"
        ],
        "responses": {
          "204": {
            "description": "204 response",
            "headers": {
              "Access-Control-Allow-Origin": {
                "type": "string"
              },
              "Access-Control-Allow-Methods": {
                "type": "string"
              },
              "Access-Control-Allow-Headers": {
                "type": "string"
              }
            }
          }
        }
      }
    },
    "/status": {
      "get": {
        "responses": {}
      },
      "options": {
        "consumes": [
          "application/json"
        ],
        "responses": {
          "204": {
            "description": "204 response",
            "headers": {
              "Access-Control-Allow-Origin": {
                "type": "string"
              },
              "Access-Control-Allow-Methods": {
                "type": "string"
              },
              "Access-Control-Allow-Headers": {
                "type": "string"
              }
            }
          }
        }
      }
    },
    "/types": {
      "get": {
        "responses": {},
        "security": [
          {
            "apiproductionuseast1Authorizer2197C7C8": []
          }
        ]
      },
      "post": {
        "consumes": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "body",
            "name": "NotificationCreateRequest",
            "required": true,
            "schema": {
              "$ref": "#/definitions/NotificationCreateRequest"
            }
          }
        ],
        "responses": {},
        "security": [
          {
            "apiproductionuseast1Authorizer2197C7C8": []
          }
        ]
      },
      "options": {
        "consumes": [
          "application/json"
        ],
        "responses": {
          "204": {
            "description": "204 response",
            "headers": {
              "Access-Control-Allow-Origin": {
                "type": "string"
              },
              "Access-Control-Allow-Methods": {
                "type": "string"
              },
              "Access-Control-Allow-Headers": {
                "type": "string"
              }
            }
          }
        }
      }
    },
    "/types/{notificationId}": {
      "get": {
        "parameters": [
          {
            "name": "notificationId",
            "in": "path",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {},
        "security": [
          {
            "apiproductionuseast1Authorizer2197C7C8": []
          }
        ]
      },
      "delete": {
        "parameters": [
          {
            "name": "notificationId",
            "in": "path",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {},
        "security": [
          {
            "apiproductionuseast1Authorizer2197C7C8": []
          }
        ]
      },
      "options": {
        "consumes": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "notificationId",
            "in": "path",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "204": {
            "description": "204 response",
            "headers": {
              "Access-Control-Allow-Origin": {
                "type": "string"
              },
              "Access-Control-Allow-Methods": {
                "type": "string"
              },
              "Access-Control-Allow-Headers": {
                "type": "string"
              }
            }
          }
        }
      },
      "patch": {
        "consumes": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "notificationId",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "in": "body",
            "name": "NotificationPatchRequest",
            "required": true,
            "schema": {
              "$ref": "#/definitions/NotificationPatchRequest"
            }
          }
        ],
        "responses": {},
        "security": [
          {
            "apiproductionuseast1Authorizer2197C7C8": []
          }
        ]
      }
    },
    "/user/inapp": {
      "get": {
        "responses": {},
        "security": [
          {
            "apiproductionuseast1Authorizer2197C7C8": []
          }
        ]
      },
      "options": {
        "consumes": [
          "application/json"
        ],
        "responses": {
          "204": {
            "description": "204 response",
            "headers": {
              "Access-Control-Allow-Origin": {
                "type": "string"
              },
              "Access-Control-Allow-Methods": {
                "type": "string"
              },
              "Access-Control-Allow-Headers": {
                "type": "string"
              }
            }
          }
        }
      },
      "patch": {
        "consumes": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "body",
            "name": "InAppNotificationPatchRequest",
            "required": true,
            "schema": {
              "$ref": "#/definitions/InAppNotificationPatchRequest"
            }
          }
        ],
        "responses": {},
        "security": [
          {
            "apiproductionuseast1Authorizer2197C7C8": []
          }
        ]
      }
    },
    "/user/inapp/unread": {
      "get": {
        "responses": {},
        "security": [
          {
            "apiproductionuseast1Authorizer2197C7C8": []
          }
        ]
      },
      "options": {
        "consumes": [
          "application/json"
        ],
        "responses": {
          "204": {
            "description": "204 response",
            "headers": {
              "Access-Control-Allow-Origin": {
                "type": "string"
              },
              "Access-Control-Allow-Methods": {
                "type": "string"
              },
              "Access-Control-Allow-Headers": {
                "type": "string"
              }
            }
          }
        }
      },
      "patch": {
        "consumes": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "body",
            "name": "InAppNotificationUnreadClearRequest",
            "required": true,
            "schema": {
              "$ref": "#/definitions/InAppNotificationUnreadClearRequest"
            }
          }
        ],
        "responses": {},
        "security": [
          {
            "apiproductionuseast1Authorizer2197C7C8": []
          }
        ]
      }
    },
    "/user_suppression/{userId}/channel/{channel}": {
      "delete": {
        "parameters": [
          {
            "name": "userId",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "channel",
            "in": "path",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {},
        "security": [
          {
            "apiproductionuseast1Authorizer2197C7C8": []
          }
        ]
      },
      "options": {
        "consumes": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "userId",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "channel",
            "in": "path",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "204": {
            "description": "204 response",
            "headers": {
              "Access-Control-Allow-Origin": {
                "type": "string"
              },
              "Access-Control-Allow-Methods": {
                "type": "string"
              },
              "Access-Control-Allow-Headers": {
                "type": "string"
              }
            }
          }
        }
      }
    },
    "/users": {
      "get": {
        "responses": {},
        "security": [
          {
            "apiproductionuseast1Authorizer2197C7C8": []
          }
        ]
      },
      "options": {
        "consumes": [
          "application/json"
        ],
        "responses": {
          "204": {
            "description": "204 response",
            "headers": {
              "Access-Control-Allow-Origin": {
                "type": "string"
              },
              "Access-Control-Allow-Methods": {
                "type": "string"
              },
              "Access-Control-Allow-Headers": {
                "type": "string"
              }
            }
          }
        }
      }
    },
    "/users/account-metadata": {
      "get": {
        "responses": {},
        "security": [
          {
            "apiproductionuseast1Authorizer2197C7C8": []
          }
        ]
      },
      "options": {
        "consumes": [
          "application/json"
        ],
        "responses": {
          "204": {
            "description": "204 response",
            "headers": {
              "Access-Control-Allow-Origin": {
                "type": "string"
              },
              "Access-Control-Allow-Methods": {
                "type": "string"
              },
              "Access-Control-Allow-Headers": {
                "type": "string"
              }
            }
          }
        }
      }
    },
    "/users/{userId}": {
      "get": {
        "parameters": [
          {
            "name": "userId",
            "in": "path",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {},
        "security": [
          {
            "apiproductionuseast1Authorizer2197C7C8": []
          }
        ]
      },
      "post": {
        "consumes": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "userId",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "in": "body",
            "name": "PostUserRequest",
            "required": true,
            "schema": {
              "$ref": "#/definitions/PostUserRequest"
            }
          }
        ],
        "responses": {},
        "security": [
          {
            "apiproductionuseast1Authorizer2197C7C8": []
          }
        ]
      },
      "delete": {
        "parameters": [
          {
            "name": "userId",
            "in": "path",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {},
        "security": [
          {
            "apiproductionuseast1Authorizer2197C7C8": []
          }
        ]
      },
      "options": {
        "consumes": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "userId",
            "in": "path",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "204": {
            "description": "204 response",
            "headers": {
              "Access-Control-Allow-Origin": {
                "type": "string"
              },
              "Access-Control-Allow-Methods": {
                "type": "string"
              },
              "Access-Control-Allow-Headers": {
                "type": "string"
              }
            }
          }
        }
      }
    },
    "/users/{userId}/slack-channels": {
      "get": {
        "parameters": [
          {
            "name": "userId",
            "in": "path",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {},
        "security": [
          {
            "apiproductionuseast1Authorizer2197C7C8": []
          }
        ]
      },
      "options": {
        "consumes": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "userId",
            "in": "path",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "204": {
            "description": "204 response",
            "headers": {
              "Access-Control-Allow-Origin": {
                "type": "string"
              },
              "Access-Control-Allow-Methods": {
                "type": "string"
              },
              "Access-Control-Allow-Headers": {
                "type": "string"
              }
            }
          }
        }
      }
    },
    "/users/{userId}/slack-oauth": {
      "post": {
        "consumes": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "userId",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "in": "body",
            "name": "SlackOauthRequest",
            "required": true,
            "schema": {
              "$ref": "#/definitions/SlackOauthRequest"
            }
          }
        ],
        "responses": {},
        "security": [
          {
            "apiproductionuseast1Authorizer2197C7C8": []
          }
        ]
      },
      "options": {
        "consumes": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "userId",
            "in": "path",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "204": {
            "description": "204 response",
            "headers": {
              "Access-Control-Allow-Origin": {
                "type": "string"
              },
              "Access-Control-Allow-Methods": {
                "type": "string"
              },
              "Access-Control-Allow-Headers": {
                "type": "string"
              }
            }
          }
        }
      }
    },
    "/webhooks/events": {
      "get": {
        "responses": {},
        "security": [
          {
            "apiproductionuseast1Authorizer2197C7C8": []
          }
        ]
      },
      "put": {
        "consumes": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "body",
            "name": "EventsWebhookUpsertRequest",
            "required": true,
            "schema": {
              "$ref": "#/definitions/EventsWebhookUpsertRequest"
            }
          }
        ],
        "responses": {},
        "security": [
          {
            "apiproductionuseast1Authorizer2197C7C8": []
          }
        ]
      },
      "delete": {
        "responses": {},
        "security": [
          {
            "apiproductionuseast1Authorizer2197C7C8": []
          }
        ]
      },
      "options": {
        "consumes": [
          "application/json"
        ],
        "responses": {
          "204": {
            "description": "204 response",
            "headers": {
              "Access-Control-Allow-Origin": {
                "type": "string"
              },
              "Access-Control-Allow-Methods": {
                "type": "string"
              },
              "Access-Control-Allow-Headers": {
                "type": "string"
              }
            }
          }
        }
      }
    },
    "/{envId}/account": {
      "get": {
        "parameters": [
          {
            "name": "envId",
            "in": "path",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {},
        "security": [
          {
            "authenticate": []
          }
        ]
      },
      "post": {
        "parameters": [
          {
            "name": "envId",
            "in": "path",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {},
        "security": [
          {
            "authenticate": []
          }
        ]
      },
      "options": {
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "envId",
            "in": "path",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "200 response",
            "headers": {
              "Access-Control-Allow-Origin": {
                "type": "string"
              },
              "Access-Control-Allow-Methods": {
                "type": "string"
              },
              "Access-Control-Allow-Headers": {
                "type": "string"
              }
            }
          }
        }
      }
    },
    "/{envId}/auth/validateAuthenticate": {
      "get": {
        "summary": "An end-point protected by our header authorization for testing purposes",
        "parameters": [
          {
            "name": "envId",
            "in": "path",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "200 response"
          }
        },
        "security": [
          {
            "authenticate": []
          }
        ]
      },
      "options": {
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "envId",
            "in": "path",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "200 response",
            "headers": {
              "Access-Control-Allow-Origin": {
                "type": "string"
              },
              "Access-Control-Allow-Methods": {
                "type": "string"
              },
              "Access-Control-Allow-Headers": {
                "type": "string"
              }
            }
          }
        }
      }
    },
    "/{envId}/auth/validateClient": {
      "get": {
        "summary": "An end-point protected by client authorization with an empty response",
        "parameters": [
          {
            "name": "envId",
            "in": "path",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "200 response"
          }
        },
        "security": [
          {
            "authenticate": []
          }
        ]
      },
      "options": {
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "envId",
            "in": "path",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "200 response",
            "headers": {
              "Access-Control-Allow-Origin": {
                "type": "string"
              },
              "Access-Control-Allow-Methods": {
                "type": "string"
              },
              "Access-Control-Allow-Headers": {
                "type": "string"
              }
            }
          }
        }
      }
    },
    "/{envId}/auth/validateToken": {
      "get": {
        "summary": "An end-point protected by token authorization with an empty response",
        "parameters": [
          {
            "name": "envId",
            "in": "path",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "200 response"
          }
        },
        "security": [
          {
            "authenticate": []
          }
        ]
      },
      "options": {
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "envId",
            "in": "path",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "200 response",
            "headers": {
              "Access-Control-Allow-Origin": {
                "type": "string"
              },
              "Access-Control-Allow-Methods": {
                "type": "string"
              },
              "Access-Control-Allow-Headers": {
                "type": "string"
              }
            }
          }
        }
      }
    },
    "/{envId}/autojoin": {
      "get": {
        "parameters": [
          {
            "name": "envId",
            "in": "path",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "200 response"
          }
        },
        "security": [
          {
            "authenticate": []
          }
        ]
      },
      "post": {
        "parameters": [
          {
            "name": "envId",
            "in": "path",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "200 response"
          }
        },
        "security": [
          {
            "authenticate": []
          }
        ]
      },
      "options": {
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "envId",
            "in": "path",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "200 response",
            "headers": {
              "Access-Control-Allow-Origin": {
                "type": "string"
              },
              "Access-Control-Allow-Methods": {
                "type": "string"
              },
              "Access-Control-Allow-Headers": {
                "type": "string"
              }
            }
          }
        }
      }
    },
    "/{envId}/beev2": {
      "post": {
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "envId",
            "in": "path",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "200 response",
            "schema": {
              "$ref": "#/definitions/Beev2"
            }
          }
        },
        "security": [
          {
            "authenticate": []
          }
        ]
      },
      "options": {
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "envId",
            "in": "path",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "200 response",
            "headers": {
              "Access-Control-Allow-Origin": {
                "type": "string"
              },
              "Access-Control-Allow-Methods": {
                "type": "string"
              },
              "Access-Control-Allow-Headers": {
                "type": "string"
              }
            }
          }
        }
      }
    },
    "/{envId}/billing": {
      "post": {
        "parameters": [
          {
            "name": "envId",
            "in": "path",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {},
        "security": [
          {
            "authenticate": []
          }
        ]
      },
      "options": {
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "envId",
            "in": "path",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "200 response",
            "headers": {
              "Access-Control-Allow-Origin": {
                "type": "string"
              },
              "Access-Control-Allow-Methods": {
                "type": "string"
              },
              "Access-Control-Allow-Headers": {
                "type": "string"
              }
            }
          }
        }
      }
    },
    "/{envId}/change-email": {
      "post": {
        "parameters": [
          {
            "name": "envId",
            "in": "path",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {},
        "security": [
          {
            "authenticate": []
          }
        ]
      },
      "options": {
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "envId",
            "in": "path",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "200 response",
            "headers": {
              "Access-Control-Allow-Origin": {
                "type": "string"
              },
              "Access-Control-Allow-Methods": {
                "type": "string"
              },
              "Access-Control-Allow-Headers": {
                "type": "string"
              }
            }
          }
        }
      }
    },
    "/{envId}/components/{channel}": {
      "get": {
        "summary": "Get the list components available under this envId",
        "parameters": [
          {
            "name": "envId",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "channel",
            "in": "path",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {},
        "security": [
          {
            "authenticate": []
          }
        ]
      },
      "post": {
        "summary": "Get the list components available under this envId",
        "consumes": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "envId",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "channel",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "in": "body",
            "name": "ComponentsPOSTRequest",
            "required": true,
            "schema": {
              "$ref": "#/definitions/ComponentsPOSTRequest"
            }
          }
        ],
        "responses": {},
        "security": [
          {
            "authenticate": []
          }
        ]
      },
      "options": {
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "envId",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "channel",
            "in": "path",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "200 response",
            "headers": {
              "Access-Control-Allow-Origin": {
                "type": "string"
              },
              "Access-Control-Allow-Methods": {
                "type": "string"
              },
              "Access-Control-Allow-Headers": {
                "type": "string"
              }
            }
          }
        }
      }
    },
    "/{envId}/components/{channel}/{componentId}": {
      "get": {
        "summary": "Get a single component under this envId by componentId",
        "parameters": [
          {
            "name": "envId",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "channel",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "componentId",
            "in": "path",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {},
        "security": [
          {
            "authenticate": []
          }
        ]
      },
      "delete": {
        "summary": "Deletes the specified component",
        "parameters": [
          {
            "name": "envId",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "channel",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "componentId",
            "in": "path",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {},
        "security": [
          {
            "authenticate": []
          }
        ]
      },
      "options": {
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "envId",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "channel",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "componentId",
            "in": "path",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "200 response",
            "headers": {
              "Access-Control-Allow-Origin": {
                "type": "string"
              },
              "Access-Control-Allow-Methods": {
                "type": "string"
              },
              "Access-Control-Allow-Headers": {
                "type": "string"
              }
            }
          }
        }
      },
      "patch": {
        "summary": "Update component properties. This will update templates/components that have imported this component.",
        "consumes": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "envId",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "channel",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "componentId",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "in": "body",
            "name": "ComponentsPATCHRequest",
            "required": true,
            "schema": {
              "$ref": "#/definitions/ComponentsPATCHRequest"
            }
          }
        ],
        "responses": {},
        "security": [
          {
            "authenticate": []
          }
        ]
      }
    },
    "/{envId}/components_public_url/validateAuthBee": {
      "get": {
        "summary": "An end-point protected by authBee authorization with an empty response",
        "parameters": [
          {
            "name": "envId",
            "in": "path",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "200 response"
          }
        },
        "security": [
          {
            "authenticateBeePublicURL": []
          }
        ]
      },
      "options": {
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "envId",
            "in": "path",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "200 response",
            "headers": {
              "Access-Control-Allow-Origin": {
                "type": "string"
              },
              "Access-Control-Allow-Methods": {
                "type": "string"
              },
              "Access-Control-Allow-Headers": {
                "type": "string"
              }
            }
          }
        }
      }
    },
    "/{envId}/components_public_url/{channel}": {
      "get": {
        "summary": "A public URL that describes the components in a format acceptable to the bee email editor.",
        "parameters": [
          {
            "name": "envId",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "channel",
            "in": "path",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {},
        "security": [
          {
            "authenticateBeePublicURL": []
          }
        ]
      },
      "options": {
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "envId",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "channel",
            "in": "path",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "200 response",
            "headers": {
              "Access-Control-Allow-Origin": {
                "type": "string"
              },
              "Access-Control-Allow-Methods": {
                "type": "string"
              },
              "Access-Control-Allow-Headers": {
                "type": "string"
              }
            }
          }
        }
      }
    },
    "/{envId}/emailer/senders": {
      "get": {
        "summary": "Get the list of verified senders",
        "parameters": [
          {
            "name": "envId",
            "in": "path",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {},
        "security": [
          {
            "authenticate": []
          }
        ]
      },
      "post": {
        "summary": "Request to verify a new sender address",
        "parameters": [
          {
            "name": "envId",
            "in": "path",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {},
        "security": [
          {
            "authenticate": []
          }
        ]
      },
      "options": {
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "envId",
            "in": "path",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "200 response",
            "headers": {
              "Access-Control-Allow-Origin": {
                "type": "string"
              },
              "Access-Control-Allow-Methods": {
                "type": "string"
              },
              "Access-Control-Allow-Headers": {
                "type": "string"
              }
            }
          }
        }
      }
    },
    "/{envId}/emailer/senders/{sender}": {
      "delete": {
        "summary": "Delete a sender address",
        "parameters": [
          {
            "name": "envId",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "sender",
            "in": "path",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "200 response"
          }
        },
        "security": [
          {
            "authenticate": []
          }
        ]
      },
      "options": {
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "envId",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "sender",
            "in": "path",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "200 response",
            "headers": {
              "Access-Control-Allow-Origin": {
                "type": "string"
              },
              "Access-Control-Allow-Methods": {
                "type": "string"
              },
              "Access-Control-Allow-Headers": {
                "type": "string"
              }
            }
          }
        }
      }
    },
    "/{envId}/emailer/test": {
      "post": {
        "summary": "Test an email template by sending it to the user",
        "consumes": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "envId",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "in": "body",
            "name": "EmailerTestPOSTRequest",
            "required": true,
            "schema": {
              "$ref": "#/definitions/EmailerTestPOSTRequest"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "200 response"
          }
        },
        "security": [
          {
            "authenticate": []
          }
        ]
      },
      "options": {
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "envId",
            "in": "path",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "200 response",
            "headers": {
              "Access-Control-Allow-Origin": {
                "type": "string"
              },
              "Access-Control-Allow-Methods": {
                "type": "string"
              },
              "Access-Control-Allow-Headers": {
                "type": "string"
              }
            }
          }
        }
      }
    },
    "/{envId}/environments": {
      "get": {
        "parameters": [
          {
            "name": "envId",
            "in": "path",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {},
        "security": [
          {
            "authenticate": []
          }
        ]
      },
      "post": {
        "consumes": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "envId",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "in": "body",
            "name": "EnvironmentPostRequest",
            "required": true,
            "schema": {
              "$ref": "#/definitions/EnvironmentPostRequest"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "200 response"
          }
        },
        "security": [
          {
            "authenticate": []
          }
        ]
      },
      "options": {
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "envId",
            "in": "path",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "200 response",
            "headers": {
              "Access-Control-Allow-Origin": {
                "type": "string"
              },
              "Access-Control-Allow-Methods": {
                "type": "string"
              },
              "Access-Control-Allow-Headers": {
                "type": "string"
              }
            }
          }
        }
      }
    },
    "/{envId}/environments/{clientId}": {
      "options": {
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "envId",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "clientId",
            "in": "path",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "200 response",
            "headers": {
              "Access-Control-Allow-Origin": {
                "type": "string"
              },
              "Access-Control-Allow-Methods": {
                "type": "string"
              },
              "Access-Control-Allow-Headers": {
                "type": "string"
              }
            }
          }
        }
      },
      "patch": {
        "parameters": [
          {
            "name": "envId",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "clientId",
            "in": "path",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {},
        "security": [
          {
            "authenticate": []
          }
        ]
      }
    },
    "/{envId}/insights": {
      "post": {
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "envId",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "in": "body",
            "name": "InsightsPostRequest",
            "required": true,
            "schema": {
              "$ref": "#/definitions/InsightsPostRequest"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "200 response",
            "schema": {
              "$ref": "#/definitions/InsightsPostResponse"
            }
          }
        },
        "security": [
          {
            "authenticate": []
          }
        ]
      },
      "options": {
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "envId",
            "in": "path",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "200 response",
            "headers": {
              "Access-Control-Allow-Origin": {
                "type": "string"
              },
              "Access-Control-Allow-Methods": {
                "type": "string"
              },
              "Access-Control-Allow-Headers": {
                "type": "string"
              }
            }
          }
        }
      }
    },
    "/{envId}/invite/accept": {
      "post": {
        "consumes": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "envId",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "in": "body",
            "name": "AcceptInviteRequest",
            "required": true,
            "schema": {
              "$ref": "#/definitions/AcceptInviteRequest"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "200 response"
          },
          "400": {
            "description": "400 response"
          },
          "404": {
            "description": "404 response"
          }
        }
      },
      "options": {
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "envId",
            "in": "path",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "200 response",
            "headers": {
              "Access-Control-Allow-Origin": {
                "type": "string"
              },
              "Access-Control-Allow-Methods": {
                "type": "string"
              },
              "Access-Control-Allow-Headers": {
                "type": "string"
              }
            }
          }
        }
      }
    },
    "/{envId}/logs/bulk": {
      "post": {
        "parameters": [
          {
            "name": "envId",
            "in": "path",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "200 response"
          }
        },
        "security": [
          {
            "authenticate": []
          }
        ]
      },
      "options": {
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "envId",
            "in": "path",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "200 response",
            "headers": {
              "Access-Control-Allow-Origin": {
                "type": "string"
              },
              "Access-Control-Allow-Methods": {
                "type": "string"
              },
              "Access-Control-Allow-Headers": {
                "type": "string"
              }
            }
          }
        }
      }
    },
    "/{envId}/logs/query": {
      "post": {
        "parameters": [
          {
            "name": "envId",
            "in": "path",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "200 response"
          },
          "400": {
            "description": "400 response"
          }
        },
        "security": [
          {
            "authenticate": []
          }
        ]
      },
      "options": {
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "envId",
            "in": "path",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "200 response",
            "headers": {
              "Access-Control-Allow-Origin": {
                "type": "string"
              },
              "Access-Control-Allow-Methods": {
                "type": "string"
              },
              "Access-Control-Allow-Headers": {
                "type": "string"
              }
            }
          }
        }
      }
    },
    "/{envId}/logs/query/{queryId}": {
      "get": {
        "parameters": [
          {
            "name": "envId",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "queryId",
            "in": "path",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "200 response"
          },
          "400": {
            "description": "400 response"
          },
          "202": {
[...]
