{
  "openapi": "3.0.0",
  "info": {
    "title": "QuitSmoking Doctors API",
    "description": "API for managing doctors (CRUD operations with pagination and search)",
    "version": "1.0.0",
    "contact": {
      "name": "Frontend Team"
    },
    "x-jentic-source-url": "https://api.swaggerhub.com/apis/other-a29-596/quitsmoking-doctors-api/1.0.0"
  },
  "servers": [
    {
      "url": "https://api.quitsmoking.com/v1",
      "description": "Production server"
    },
    {
      "url": "http://localhost:3000",
      "description": "Development server"
    }
  ],
  "paths": {
    "/api/doctors": {
      "get": {
        "summary": "Get All Doctors",
        "description": "Get paginated list of doctors with optional search",
        "operationId": "getDoctors",
        "tags": [
          "Doctors"
        ],
        "parameters": [
          {
            "name": "page",
            "in": "query",
            "schema": {
              "type": "integer",
              "default": 1,
              "minimum": 1
            },
            "description": "Page number"
          },
          {
            "name": "limit",
            "in": "query",
            "schema": {
              "type": "integer",
              "default": 10,
              "maximum": 50
            },
            "description": "Items per page"
          },
          {
            "name": "search",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "description": "Search by name or specialty"
          },
          {
            "name": "specialty",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "description": "Filter by specialty"
          }
        ],
        "responses": {
          "200": {
            "description": "List of doctors",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "object",
                      "properties": {
                        "data": {
                          "type": "array",
                          "items": {
                            "$ref": "#/components/schemas/Doctor"
                          }
                        },
                        "pagination": {
                          "type": "object",
                          "properties": {
                            "currentPage": {
                              "type": "integer",
                              "example": 1
                            },
                            "totalPages": {
                              "type": "integer",
                              "example": 5
                            },
                            "totalItems": {
                              "type": "integer",
                              "example": 48
                            },
                            "itemsPerPage": {
                              "type": "integer",
                              "example": 10
                            }
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      },
      "post": {
        "summary": "Add New Doctor",
        "description": "Create a new doctor record",
        "operationId": "createDoctor",
        "tags": [
          "Doctors"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/DoctorInput"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Doctor created successfully",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "object",
                      "properties": {
                        "message": {
                          "type": "string",
                          "example": "Doctor added successfully"
                        },
                        "id": {
                          "type": "string",
                          "example": "doc_123456"
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Validation error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/api/doctors/{id}": {
      "get": {
        "summary": "Get Doctor Details",
        "description": "Get detailed information about a specific doctor",
        "operationId": "getDoctorById",
        "tags": [
          "Doctors"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Doctor ID"
          }
        ],
        "responses": {
          "200": {
            "description": "Doctor details",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "object",
                      "properties": {
                        "data": {
                          "$ref": "#/components/schemas/Doctor"
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "404": {
            "description": "Doctor not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      },
      "put": {
        "summary": "Update Doctor",
        "description": "Update an existing doctor's information",
        "operationId": "updateDoctor",
        "tags": [
          "Doctors"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Doctor ID"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/DoctorInput"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Doctor updated successfully",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "object",
                      "properties": {
                        "message": {
                          "type": "string",
                          "example": "Doctor updated successfully"
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "404": {
            "description": "Doctor not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      },
      "delete": {
        "summary": "Delete Doctor",
        "description": "Delete a doctor from the system",
        "operationId": "deleteDoctor",
        "tags": [
          "Doctors"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Doctor ID"
          }
        ],
        "responses": {
          "200": {
            "description": "Doctor deleted successfully",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "object",
                      "properties": {
                        "message": {
                          "type": "string",
                          "example": "Doctor deleted successfully"
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "404": {
            "description": "Doctor not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/api/logout": {
      "post": {
        "summary": "Logout User",
        "description": "Invalidate user session",
        "tags": [
          "Auth"
        ],
        "responses": {
          "200": {
            "description": "Logged out successfully",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "object",
                      "example": {}
                    }
                  }
                }
              }
            }
          }
        }
      }
    }
  },
  "components": {
    "schemas": {
      "Doctor": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "example": "doc_123456"
          },
          "fullName": {
            "type": "string",
            "example": "Dr. Ahmed Hassan"
          },
          "email": {
            "type": "string",
            "format": "email",
            "example": "ahmed.hassan@hospital.com"
          },
          "phone": {
            "type": "string",
            "example": "+20 123 456 7890"
          },
          "specialty": {
            "type": "string",
            "example": "Cardiology"
          },
          "schedule": {
            "type": "string",
            "example": "Sun-Thu 9AM-3PM"
          }
        }
      },
      "DoctorInput": {
        "type": "object",
        "required": [
          "fullName",
          "email",
          "phone"
        ],
        "properties": {
          "fullName": {
            "type": "string",
            "minLength": 3,
            "maxLength": 100,
            "example": "Dr. Ahmed Hassan"
          },
          "email": {
            "type": "string",
            "format": "email",
            "example": "ahmed.hassan@hospital.com"
          },
          "phone": {
            "type": "string",
            "pattern": "^\\+?[0-9\\s-]{10,}$",
            "example": "+20 123 456 7890"
          },
          "specialty": {
            "type": "string",
            "example": "Cardiology"
          },
          "schedule": {
            "type": "string",
            "example": "Sun-Thu 9AM-3PM"
          }
        }
      },
      "Error": {
        "type": "object",
        "properties": {
          "error": {
            "type": "object",
            "properties": {
              "message": {
                "type": "string",
                "example": "Error message"
              }
            }
          }
        }
      }
    }
  },
  "tags": [
    {
      "name": "Doctors",
      "description": "Doctor management operations"
    },
    {
      "name": "Auth",
      "description": "Authentication operations"
    }
  ]
}