{
  "openapi": "3.0.3",
  "info": {
    "title": "arXiv API",
    "version": "1.0.0",
    "description": "The arXiv API allows programmatic access to the e-print metadata on arXiv.org. It provides a search/query interface that returns results in Atom 1.0 format. The API can be used to search for articles, retrieve metadata, and access full-text content.",
    "x-jentic-source-url": "https://arxiv.org/help/api/",
    "contact": {
      "name": "API Support"
    }
  },
  "servers": [
    {
      "url": "https://export.arxiv.org/api"
    }
  ],
  "tags": [
    {
      "name": "Query",
      "description": "Search and query arXiv articles"
    }
  ],
  "paths": {
    "/query": {
      "get": {
        "operationId": "queryArticles",
        "summary": "Search arXiv articles",
        "description": "Search for articles on arXiv using a query string. Supports field-specific searches (ti, au, abs, co, jr, cat, rn, id, all) and boolean operators (AND, OR, ANDNOT). Results are returned in Atom 1.0 XML format.",
        "tags": [
          "Query"
        ],
        "parameters": [
          {
            "name": "search_query",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "description": "Search query using arXiv query syntax. Supports prefix:term format where prefix can be ti (title), au (author), abs (abstract), co (comment), jr (journal reference), cat (subject category), rn (report number), id (arXiv ID), all (all fields). Boolean operators: AND, OR, ANDNOT. Example: au:del_maestro+AND+ti:checkerboard",
            "example": "all:electron"
          },
          {
            "name": "id_list",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "description": "Comma-separated list of arXiv IDs to retrieve. Example: 0710.5765v1,0## .5766v1"
          },
          {
            "name": "start",
            "in": "query",
            "schema": {
              "type": "integer",
              "default": 0
            },
            "description": "Start index for returned results (0-based). Used for pagination."
          },
          {
            "name": "max_results",
            "in": "query",
            "schema": {
              "type": "integer",
              "default": 10
            },
            "description": "Maximum number of results to return. Default is 10."
          },
          {
            "name": "sortBy",
            "in": "query",
            "schema": {
              "type": "string",
              "enum": [
                "relevance",
                "lastUpdatedDate",
                "submittedDate"
              ]
            },
            "description": "Sort order for results."
          },
          {
            "name": "sortOrder",
            "in": "query",
            "schema": {
              "type": "string",
              "enum": [
                "ascending",
                "descending"
              ]
            },
            "description": "Sort direction."
          }
        ],
        "responses": {
          "200": {
            "description": "Atom 1.0 XML feed containing search results with article metadata including title, authors, abstract, categories, links to PDF and HTML versions, published and updated dates.",
            "content": {
              "application/atom+xml": {
                "schema": {
                  "type": "string",
                  "description": "Atom 1.0 XML feed"
                }
              }
            }
          },
          "400": {
            "description": "Bad request - invalid query syntax",
            "content": {
              "application/atom+xml": {
                "schema": {
                  "type": "string"
                }
              }
            }
          }
        }
      }
    }
  },
  "components": {
    "schemas": {
      "ErrorResponse": {
        "type": "object",
        "properties": {
          "error": {
            "type": "string"
          },
          "message": {
            "type": "string"
          }
        }
      }
    }
  }
}
