{
  "openapi": "3.0.3",
  "info": {
    "title": "Cox Automotive API",
    "version": "1.0.0",
    "description": "Cox Automotive Digital Retail API Platform provides vehicle inventory, dealer, and digital retail APIs for automotive industry integrations. Includes vehicle search, inventory management, deal creation, and trade-in valuation.",
    "x-jentic-source-url": "https://developer.coxautoinc.com/",
    "contact": {
      "name": "API Support"
    }
  },
  "servers": [
    {
      "url": "https://api.coxautoservices.com"
    }
  ],
  "paths": {
    "/v1/inventory/vehicles": {
      "get": {
        "operationId": "searchVehicles",
        "summary": "Search vehicles",
        "description": "Search available vehicle inventory with filters.",
        "tags": [
          "Inventory"
        ],
        "parameters": [
          {
            "name": "dealerId",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "vin",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "make",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "model",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "year",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "condition",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "enum": [
                "new",
                "used",
                "certified"
              ]
            }
          },
          {
            "name": "priceMin",
            "in": "query",
            "required": false,
            "schema": {
              "type": "number"
            }
          },
          {
            "name": "priceMax",
            "in": "query",
            "required": false,
            "schema": {
              "type": "number"
            }
          },
          {
            "name": "mileageMax",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "bodyStyle",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "page",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "default": 1
            }
          },
          {
            "name": "pageSize",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "default": 25,
              "maximum": 100
            }
          },
          {
            "name": "sortBy",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "enum": [
                "price",
                "mileage",
                "year",
                "dateAdded"
              ]
            }
          },
          {
            "name": "sortOrder",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "enum": [
                "asc",
                "desc"
              ]
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/VehicleListResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/v1/inventory/vehicles/{vin}": {
      "get": {
        "operationId": "getVehicleByVin",
        "summary": "Get vehicle by VIN",
        "description": "Retrieve vehicle details by VIN.",
        "tags": [
          "Inventory"
        ],
        "parameters": [
          {
            "name": "vin",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Vehicle"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/v1/dealers": {
      "get": {
        "operationId": "searchDealers",
        "summary": "Search dealers",
        "description": "Search for dealers by location, brand, or name.",
        "tags": [
          "Dealers"
        ],
        "parameters": [
          {
            "name": "zip",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "radius",
            "in": "query",
            "required": false,
            "description": "Search radius in miles.",
            "schema": {
              "type": "integer",
              "default": 25
            }
          },
          {
            "name": "brand",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "name",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "page",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "default": 1
            }
          },
          {
            "name": "pageSize",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "default": 25
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "dealers": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/Dealer"
                      }
                    },
                    "totalCount": {
                      "type": "integer"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/v1/dealers/{dealerId}": {
      "get": {
        "operationId": "getDealer",
        "summary": "Get dealer by ID",
        "tags": [
          "Dealers"
        ],
        "parameters": [
          {
            "name": "dealerId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Dealer"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "description": "Get dealer by ID"
      }
    },
    "/v1/dealers/{dealerId}/inventory": {
      "get": {
        "operationId": "getDealerInventory",
        "summary": "Get dealer inventory",
        "description": "Retrieve all vehicles in a dealer's inventory.",
        "tags": [
          "Inventory"
        ],
        "parameters": [
          {
            "name": "dealerId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "condition",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "enum": [
                "new",
                "used",
                "certified"
              ]
            }
          },
          {
            "name": "page",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "default": 1
            }
          },
          {
            "name": "pageSize",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "default": 25
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/VehicleListResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/v1/deals": {
      "post": {
        "operationId": "createDeal",
        "summary": "Create deal",
        "description": "Create a new digital retail deal.",
        "tags": [
          "Deals"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "dealerId": {
                    "type": "string"
                  },
                  "vin": {
                    "type": "string"
                  },
                  "customerId": {
                    "type": "string"
                  },
                  "salePrice": {
                    "type": "number"
                  },
                  "tradeInVin": {
                    "type": "string"
                  },
                  "downPayment": {
                    "type": "number"
                  },
                  "term": {
                    "type": "integer"
                  }
                },
                "required": [
                  "dealerId",
                  "vin"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Deal"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/v1/deals/{dealId}": {
      "get": {
        "operationId": "getDeal",
        "summary": "Get deal",
        "tags": [
          "Deals"
        ],
        "parameters": [
          {
            "name": "dealId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Deal"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "description": "Get deal"
      },
      "patch": {
        "operationId": "updateDeal",
        "summary": "Update deal",
        "tags": [
          "Deals"
        ],
        "parameters": [
          {
            "name": "dealId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "status": {
                    "type": "string"
                  },
                  "salePrice": {
                    "type": "number"
                  },
                  "downPayment": {
                    "type": "number"
                  },
                  "term": {
                    "type": "integer"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Deal"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "description": "Update deal"
      }
    },
    "/v1/valuation/trade-in": {
      "post": {
        "operationId": "getTradeInValuation",
        "summary": "Get trade-in valuation",
        "description": "Get a trade-in vehicle valuation based on VIN and condition.",
        "tags": [
          "Valuation"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "vin": {
                    "type": "string"
                  },
                  "mileage": {
                    "type": "integer"
                  },
                  "condition": {
                    "type": "string",
                    "enum": [
                      "excellent",
                      "good",
                      "fair",
                      "poor"
                    ]
                  },
                  "zip": {
                    "type": "string"
                  }
                },
                "required": [
                  "vin",
                  "mileage"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TradeInValuation"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/v1/vin/{vin}/decode": {
      "get": {
        "operationId": "decodeVin",
        "summary": "Decode VIN",
        "description": "Decode a Vehicle Identification Number to get vehicle specifications.",
        "tags": [
          "VIN"
        ],
        "parameters": [
          {
            "name": "vin",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/VinDecodeResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    }
  },
  "components": {
    "schemas": {
      "ErrorResponse": {
        "type": "object",
        "properties": {
          "error": {
            "type": "string"
          },
          "error_description": {
            "type": "string"
          },
          "status": {
            "type": "integer"
          }
        }
      },
      "Vehicle": {
        "type": "object",
        "properties": {
          "vin": {
            "type": "string",
            "description": "Vehicle Identification Number"
          },
          "year": {
            "type": "integer"
          },
          "make": {
            "type": "string"
          },
          "model": {
            "type": "string"
          },
          "trim": {
            "type": "string"
          },
          "bodyStyle": {
            "type": "string"
          },
          "exteriorColor": {
            "type": "string"
          },
          "interiorColor": {
            "type": "string"
          },
          "mileage": {
            "type": "integer"
          },
          "transmission": {
            "type": "string"
          },
          "engine": {
            "type": "string"
          },
          "drivetrain": {
            "type": "string"
          },
          "fuelType": {
            "type": "string"
          },
          "stockNumber": {
            "type": "string"
          },
          "price": {
            "type": "number"
          },
          "msrp": {
            "type": "number"
          },
          "condition": {
            "type": "string",
            "enum": [
              "new",
              "used",
              "certified"
            ]
          },
          "dealerId": {
            "type": "string"
          },
          "images": {
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "features": {
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "description": {
            "type": "string"
          },
          "dateAdded": {
            "type": "string",
            "format": "date-time"
          },
          "daysOnLot": {
            "type": "integer"
          }
        }
      },
      "VehicleListResponse": {
        "type": "object",
        "properties": {
          "vehicles": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Vehicle"
            }
          },
          "totalCount": {
            "type": "integer"
          },
          "page": {
            "type": "integer"
          },
          "pageSize": {
            "type": "integer"
          }
        }
      },
      "Dealer": {
        "type": "object",
        "properties": {
          "dealerId": {
            "type": "string"
          },
          "name": {
            "type": "string"
          },
          "address": {
            "type": "string"
          },
          "city": {
            "type": "string"
          },
          "state": {
            "type": "string"
          },
          "zip": {
            "type": "string"
          },
          "phone": {
            "type": "string"
          },
          "website": {
            "type": "string"
          },
          "latitude": {
            "type": "number"
          },
          "longitude": {
            "type": "number"
          },
          "brands": {
            "type": "array",
            "items": {
              "type": "string"
            }
          }
        }
      },
      "Deal": {
        "type": "object",
        "properties": {
          "dealId": {
            "type": "string"
          },
          "dealerId": {
            "type": "string"
          },
          "vin": {
            "type": "string"
          },
          "customerId": {
            "type": "string"
          },
          "status": {
            "type": "string",
            "enum": [
              "draft",
              "submitted",
              "approved",
              "completed",
              "cancelled"
            ]
          },
          "salePrice": {
            "type": "number"
          },
          "tradeInValue": {
            "type": "number"
          },
          "downPayment": {
            "type": "number"
          },
          "monthlyPayment": {
            "type": "number"
          },
          "term": {
            "type": "integer"
          },
          "apr": {
            "type": "number"
          },
          "createdAt": {
            "type": "string",
            "format": "date-time"
          },
          "updatedAt": {
            "type": "string",
            "format": "date-time"
          }
        }
      },
      "TradeInValuation": {
        "type": "object",
        "properties": {
          "vin": {
            "type": "string"
          },
          "year": {
            "type": "integer"
          },
          "make": {
            "type": "string"
          },
          "model": {
            "type": "string"
          },
          "trim": {
            "type": "string"
          },
          "mileage": {
            "type": "integer"
          },
          "condition": {
            "type": "string"
          },
          "valueLow": {
            "type": "number"
          },
          "valueMid": {
            "type": "number"
          },
          "valueHigh": {
            "type": "number"
          },
          "valuationDate": {
            "type": "string",
            "format": "date-time"
          }
        }
      },
      "VinDecodeResponse": {
        "type": "object",
        "properties": {
          "vin": {
            "type": "string"
          },
          "year": {
            "type": "integer"
          },
          "make": {
            "type": "string"
          },
          "model": {
            "type": "string"
          },
          "trim": {
            "type": "string"
          },
          "bodyStyle": {
            "type": "string"
          },
          "engine": {
            "type": "string"
          },
          "transmission": {
            "type": "string"
          },
          "drivetrain": {
            "type": "string"
          },
          "fuelType": {
            "type": "string"
          },
          "doors": {
            "type": "integer"
          },
          "msrp": {
            "type": "number"
          }
        }
      }
    },
    "securitySchemes": {
      "oauth2": {
        "type": "oauth2",
        "flows": {
          "clientCredentials": {
            "tokenUrl": "https://api.coxautoservices.com/oauth/token",
            "scopes": {}
          }
        }
      }
    }
  },
  "security": [
    {
      "oauth2": []
    }
  ],
  "tags": [
    {
      "name": "Dealers"
    },
    {
      "name": "Deals"
    },
    {
      "name": "Inventory"
    },
    {
      "name": "VIN"
    },
    {
      "name": "Valuation"
    }
  ]
}
