{
  "openapi": "3.0.3",
  "info": {
    "title": "Intrinio API",
    "version": "2.0",
    "description": "Intrinio provides financial data including fundamentals, stock prices, options data, and economic data via a RESTful API with JSON responses.",
    "x-jentic-source-url": "https://docs.intrinio.com/",
    "contact": {
      "name": "API Support"
    }
  },
  "servers": [
    {
      "url": "https://api-v2.intrinio.com"
    }
  ],
  "paths": {
    "/securities": {
      "get": {
        "operationId": "getAllSecurities",
        "summary": "Get all securities",
        "description": "Returns all securities available",
        "tags": [
          "Securities"
        ],
        "responses": {
          "200": {
            "description": "Successful response"
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          },
          "404": {
            "description": "Not found"
          }
        },
        "parameters": [
          {
            "name": "active",
            "in": "query",
            "schema": {
              "type": "boolean"
            },
            "description": ""
          },
          {
            "name": "exchange",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "description": "Filter by exchange"
          },
          {
            "name": "page_size",
            "in": "query",
            "schema": {
              "type": "integer"
            },
            "description": "Number of results per page"
          },
          {
            "name": "next_page",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "description": "Next page token"
          }
        ]
      }
    },
    "/securities/search": {
      "get": {
        "operationId": "searchSecurities",
        "summary": "Search securities",
        "description": "Returns securities matching a query",
        "tags": [
          "Securities"
        ],
        "responses": {
          "200": {
            "description": "Successful response"
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          },
          "404": {
            "description": "Not found"
          }
        },
        "parameters": [
          {
            "name": "query",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "description": "Search query"
          },
          {
            "name": "page_size",
            "in": "query",
            "schema": {
              "type": "integer"
            },
            "description": "Number of results per page"
          },
          {
            "name": "next_page",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "description": "Next page token"
          }
        ]
      }
    },
    "/securities/{identifier}": {
      "get": {
        "operationId": "getSecurityById",
        "summary": "Get a security",
        "description": "Returns the security with the given identifier",
        "tags": [
          "Securities"
        ],
        "responses": {
          "200": {
            "description": "Successful response"
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          },
          "404": {
            "description": "Not found"
          }
        },
        "parameters": [
          {
            "name": "identifier",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Security identifier (ticker, FIGI, etc.)"
          }
        ]
      }
    },
    "/securities/{identifier}/prices": {
      "get": {
        "operationId": "getSecurityStockPrices",
        "summary": "Get stock prices",
        "description": "Return end-of-day stock prices for a security",
        "tags": [
          "Securities"
        ],
        "responses": {
          "200": {
            "description": "Successful response"
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          },
          "404": {
            "description": "Not found"
          }
        },
        "parameters": [
          {
            "name": "identifier",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": ""
          },
          {
            "name": "start_date",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "description": ""
          },
          {
            "name": "end_date",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "description": ""
          },
          {
            "name": "frequency",
            "in": "query",
            "schema": {
              "type": "string",
              "enum": [
                "daily",
                "weekly",
                "monthly",
                "quarterly",
                "yearly"
              ]
            },
            "description": ""
          },
          {
            "name": "page_size",
            "in": "query",
            "schema": {
              "type": "integer"
            },
            "description": "Number of results per page"
          },
          {
            "name": "next_page",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "description": "Next page token"
          }
        ]
      }
    },
    "/securities/{identifier}/prices/intraday": {
      "get": {
        "operationId": "getSecurityIntradayPrices",
        "summary": "Get intraday prices",
        "description": "Returns intraday stock prices",
        "tags": [
          "Securities"
        ],
        "responses": {
          "200": {
            "description": "Successful response"
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          },
          "404": {
            "description": "Not found"
          }
        },
        "parameters": [
          {
            "name": "identifier",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": ""
          },
          {
            "name": "start_date",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "description": ""
          },
          {
            "name": "source",
            "in": "query",
            "schema": {
              "type": "string",
              "enum": [
                "iex",
                "bats"
              ]
            },
            "description": ""
          },
          {
            "name": "page_size",
            "in": "query",
            "schema": {
              "type": "integer"
            },
            "description": "Number of results per page"
          },
          {
            "name": "next_page",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "description": "Next page token"
          }
        ]
      }
    },
    "/securities/{identifier}/prices/realtime": {
      "get": {
        "operationId": "getSecurityRealtimePrice",
        "summary": "Get realtime price",
        "description": "Returns current price",
        "tags": [
          "Securities"
        ],
        "responses": {
          "200": {
            "description": "Successful response"
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          },
          "404": {
            "description": "Not found"
          }
        },
        "parameters": [
          {
            "name": "identifier",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": ""
          },
          {
            "name": "source",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "description": ""
          }
        ]
      }
    },
    "/securities/{identifier}/prices/technicals/{indicator}": {
      "get": {
        "operationId": "getSecurityPriceTechnicals",
        "summary": "Get price technicals",
        "description": "Returns technical indicator values",
        "tags": [
          "Securities"
        ],
        "responses": {
          "200": {
            "description": "Successful response"
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          },
          "404": {
            "description": "Not found"
          }
        },
        "parameters": [
          {
            "name": "identifier",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": ""
          },
          {
            "name": "indicator",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Technical indicator (sma, ema, macd, rsi, etc.)"
          },
          {
            "name": "start_date",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "description": ""
          },
          {
            "name": "end_date",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "description": ""
          },
          {
            "name": "page_size",
            "in": "query",
            "schema": {
              "type": "integer"
            },
            "description": "Number of results per page"
          },
          {
            "name": "next_page",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "description": "Next page token"
          }
        ]
      }
    },
    "/companies": {
      "get": {
        "operationId": "getAllCompanies",
        "summary": "Get all companies",
        "description": "Returns all companies",
        "tags": [
          "Companies"
        ],
        "responses": {
          "200": {
            "description": "Successful response"
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          },
          "404": {
            "description": "Not found"
          }
        },
        "parameters": [
          {
            "name": "latest_filing_date",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "description": ""
          },
          {
            "name": "sic",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "description": ""
          },
          {
            "name": "has_fundamentals",
            "in": "query",
            "schema": {
              "type": "boolean"
            },
            "description": ""
          },
          {
            "name": "page_size",
            "in": "query",
            "schema": {
              "type": "integer"
            },
            "description": "Number of results per page"
          },
          {
            "name": "next_page",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "description": "Next page token"
          }
        ]
      }
    },
    "/companies/search": {
      "get": {
        "operationId": "searchCompanies",
        "summary": "Search companies",
        "description": "Returns companies matching query",
        "tags": [
          "Companies"
        ],
        "responses": {
          "200": {
            "description": "Successful response"
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          },
          "404": {
            "description": "Not found"
          }
        },
        "parameters": [
          {
            "name": "query",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "description": ""
          },
          {
            "name": "page_size",
            "in": "query",
            "schema": {
              "type": "integer"
            },
            "description": "Number of results per page"
          },
          {
            "name": "next_page",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "description": "Next page token"
          }
        ]
      }
    },
    "/companies/{identifier}": {
      "get": {
        "operationId": "getCompany",
        "summary": "Get a company",
        "description": "Returns company info",
        "tags": [
          "Companies"
        ],
        "responses": {
          "200": {
            "description": "Successful response"
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          },
          "404": {
            "description": "Not found"
          }
        },
        "parameters": [
          {
            "name": "identifier",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": ""
          }
        ]
      }
    },
    "/companies/{identifier}/securities": {
      "get": {
        "operationId": "getCompanySecurities",
        "summary": "Get company securities",
        "description": "Returns securities for a company",
        "tags": [
          "Companies"
        ],
        "responses": {
          "200": {
            "description": "Successful response"
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          },
          "404": {
            "description": "Not found"
          }
        },
        "parameters": [
          {
            "name": "identifier",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": ""
          },
          {
            "name": "page_size",
            "in": "query",
            "schema": {
              "type": "integer"
            },
            "description": "Number of results per page"
          },
          {
            "name": "next_page",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "description": "Next page token"
          }
        ]
      }
    },
    "/companies/{identifier}/fundamentals": {
      "get": {
        "operationId": "getCompanyFundamentals",
        "summary": "Get company fundamentals",
        "description": "Returns fundamentals for a company",
        "tags": [
          "Companies"
        ],
        "responses": {
          "200": {
            "description": "Successful response"
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          },
          "404": {
            "description": "Not found"
          }
        },
        "parameters": [
          {
            "name": "identifier",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": ""
          },
          {
            "name": "filed_after",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "description": ""
          },
          {
            "name": "filed_before",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "description": ""
          },
          {
            "name": "reported_only",
            "in": "query",
            "schema": {
              "type": "boolean"
            },
            "description": ""
          },
          {
            "name": "fiscal_year",
            "in": "query",
            "schema": {
              "type": "integer"
            },
            "description": ""
          },
          {
            "name": "statement_code",
            "in": "query",
            "schema": {
              "type": "string",
              "enum": [
                "income_statement",
                "balance_sheet_statement",
                "cash_flow_statement",
                "calculations"
              ]
            },
            "description": ""
          },
          {
            "name": "type",
            "in": "query",
            "schema": {
              "type": "string",
              "enum": [
                "QTR",
                "YTR",
                "TTM",
                "FY"
              ]
            },
            "description": ""
          },
          {
            "name": "page_size",
            "in": "query",
            "schema": {
              "type": "integer"
            },
            "description": "Number of results per page"
          },
          {
            "name": "next_page",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "description": "Next page token"
          }
        ]
      }
    },
    "/companies/{identifier}/historical_data/{tag}": {
      "get": {
        "operationId": "getCompanyHistoricalData",
        "summary": "Get historical data",
        "description": "Returns historical data for a company data tag",
        "tags": [
          "Companies"
        ],
        "responses": {
          "200": {
            "description": "Successful response"
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          },
          "404": {
            "description": "Not found"
          }
        },
        "parameters": [
          {
            "name": "identifier",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": ""
          },
          {
            "name": "tag",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Data tag (e.g., marketcap, revenue)"
          },
          {
            "name": "frequency",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "description": ""
          },
          {
            "name": "type",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "description": ""
          },
          {
            "name": "start_date",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "description": ""
          },
          {
            "name": "end_date",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "description": ""
          },
          {
            "name": "page_size",
            "in": "query",
            "schema": {
              "type": "integer"
            },
            "description": "Number of results per page"
          },
          {
            "name": "next_page",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "description": "Next page token"
          }
        ]
      }
    },
    "/companies/{identifier}/data_point/{tag}": {
      "get": {
        "operationId": "getCompanyDataPointNumber",
        "summary": "Get data point",
        "description": "Returns a data point value for a company",
        "tags": [
          "Companies"
        ],
        "responses": {
          "200": {
            "description": "Successful response"
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          },
          "404": {
            "description": "Not found"
          }
        },
        "parameters": [
          {
            "name": "identifier",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": ""
          },
          {
            "name": "tag",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": ""
          }
        ]
      }
    },
    "/companies/{identifier}/filings": {
      "get": {
        "operationId": "getCompanyFilings",
        "summary": "Get company filings",
        "description": "Returns SEC filings",
        "tags": [
          "Companies"
        ],
        "responses": {
          "200": {
            "description": "Successful response"
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          },
          "404": {
            "description": "Not found"
          }
        },
        "parameters": [
          {
            "name": "identifier",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": ""
          },
          {
            "name": "report_type",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "description": ""
          },
          {
            "name": "start_date",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "description": ""
          },
          {
            "name": "end_date",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "description": ""
          },
          {
            "name": "page_size",
            "in": "query",
            "schema": {
              "type": "integer"
            },
            "description": "Number of results per page"
          },
          {
            "name": "next_page",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "description": "Next page token"
          }
        ]
      }
    },
    "/companies/{identifier}/news": {
      "get": {
        "operationId": "getCompanyNews",
        "summary": "Get company news",
        "description": "Returns news for a company",
        "tags": [
          "Companies"
        ],
        "responses": {
          "200": {
            "description": "Successful response"
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          },
          "404": {
            "description": "Not found"
          }
        },
        "parameters": [
          {
            "name": "identifier",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": ""
          },
          {
            "name": "page_size",
            "in": "query",
            "schema": {
              "type": "integer"
            },
            "description": "Number of results per page"
          },
          {
            "name": "next_page",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "description": "Next page token"
          }
        ]
      }
    },
    "/fundamentals/{id}": {
      "get": {
        "operationId": "getFundamentalById",
        "summary": "Get a fundamental",
        "description": "Returns a fundamental by its ID",
        "tags": [
          "Fundamentals"
        ],
        "responses": {
          "200": {
            "description": "Successful response"
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          },
          "404": {
            "description": "Not found"
          }
        },
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": ""
          }
        ]
      }
    },
    "/fundamentals/{id}/standardized_financials": {
      "get": {
        "operationId": "getFundamentalStandardizedFinancials",
        "summary": "Get standardized financials",
        "description": "Returns standardized financial data",
        "tags": [
          "Fundamentals"
        ],
        "responses": {
          "200": {
            "description": "Successful response"
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          },
          "404": {
            "description": "Not found"
          }
        },
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": ""
          }
        ]
      }
    },
    "/fundamentals/{id}/reported_financials": {
      "get": {
        "operationId": "getFundamentalReportedFinancials",
        "summary": "Get reported financials",
        "description": "Returns as-reported financial data",
        "tags": [
          "Fundamentals"
        ],
        "responses": {
          "200": {
            "description": "Successful response"
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          },
          "404": {
            "description": "Not found"
          }
        },
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": ""
          }
        ]
      }
    },
    "/stock_exchanges": {
      "get": {
        "operationId": "getAllStockExchanges",
        "summary": "Get all stock exchanges",
        "description": "Returns all stock exchanges",
        "tags": [
          "Stock Exchanges"
        ],
        "responses": {
          "200": {
            "description": "Successful response"
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          },
          "404": {
            "description": "Not found"
          }
        },
        "parameters": [
          {
            "name": "page_size",
            "in": "query",
            "schema": {
              "type": "integer"
            },
            "description": "Number of results per page"
          },
          {
            "name": "next_page",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "description": "Next page token"
          }
        ]
      }
    },
    "/stock_exchanges/{identifier}": {
      "get": {
        "operationId": "getStockExchangeById",
        "summary": "Get a stock exchange",
        "description": "Returns a stock exchange",
        "tags": [
          "Stock Exchanges"
        ],
        "responses": {
          "200": {
            "description": "Successful response"
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          },
          "404": {
            "description": "Not found"
          }
        },
        "parameters": [
          {
            "name": "identifier",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": ""
          }
        ]
      }
    },
    "/stock_exchanges/{identifier}/prices": {
      "get": {
        "operationId": "getStockExchangePrices",
        "summary": "Get stock exchange prices",
        "description": "Returns prices for all securities on an exchange",
        "tags": [
          "Stock Exchanges"
        ],
        "responses": {
          "200": {
            "description": "Successful response"
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          },
          "404": {
            "description": "Not found"
          }
        },
        "parameters": [
          {
            "name": "identifier",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": ""
          },
          {
            "name": "date",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "description": ""
          },
          {
            "name": "page_size",
            "in": "query",
            "schema": {
              "type": "integer"
            },
            "description": "Number of results per page"
          },
          {
            "name": "next_page",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "description": "Next page token"
          }
        ]
      }
    },
    "/options/chain/{symbol}/{expiration}": {
      "get": {
        "operationId": "getOptionsChain",
        "summary": "Get options chain",
        "description": "Returns options chain for a symbol and expiration",
        "tags": [
          "Options"
        ],
        "responses": {
          "200": {
            "description": "Successful response"
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          },
          "404": {
            "description": "Not found"
          }
        },
        "parameters": [
          {
            "name": "symbol",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": ""
          },
          {
            "name": "expiration",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": ""
          },
          {
            "name": "type",
            "in": "query",
            "schema": {
              "type": "string",
              "enum": [
                "call",
                "put"
              ]
            },
            "description": ""
          },
          {
            "name": "page_size",
            "in": "query",
            "schema": {
              "type": "integer"
            },
            "description": "Number of results per page"
          },
          {
            "name": "next_page",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "description": "Next page token"
          }
        ]
      }
    },
    "/options/expirations/{symbol}": {
      "get": {
        "operationId": "getOptionsExpirations",
        "summary": "Get options expirations",
        "description": "Returns available expiration dates",
        "tags": [
          "Options"
        ],
        "responses": {
          "200": {
            "description": "Successful response"
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          },
          "404": {
            "description": "Not found"
          }
        },
        "parameters": [
          {
            "name": "symbol",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": ""
          }
        ]
      }
    },
    "/options/prices/{identifier}": {
      "get": {
        "operationId": "getOptionPrices",
        "summary": "Get option prices",
        "description": "Returns prices for a specific option contract",
        "tags": [
          "Options"
        ],
        "responses": {
          "200": {
            "description": "Successful response"
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          },
          "404": {
            "description": "Not found"
          }
        },
        "parameters": [
          {
            "name": "identifier",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": ""
          },
          {
            "name": "start_date",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "description": ""
          },
          {
            "name": "end_date",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "description": ""
          },
          {
            "name": "page_size",
            "in": "query",
            "schema": {
              "type": "integer"
            },
            "description": "Number of results per page"
          },
          {
            "name": "next_page",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "description": "Next page token"
          }
        ]
      }
    },
    "/options/prices/realtime/{identifier}": {
      "get": {
        "operationId": "getOptionRealtimePrice",
        "summary": "Get realtime option price",
        "description": "Returns current price for an option",
        "tags": [
          "Options"
        ],
        "responses": {
          "200": {
            "description": "Successful response"
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          },
          "404": {
            "description": "Not found"
          }
        },
        "parameters": [
          {
            "name": "identifier",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": ""
          }
        ]
      }
    },
    "/indices/stock_market": {
      "get": {
        "operationId": "getAllStockMarketIndices",
        "summary": "Get all indices",
        "description": "Returns all stock market indices",
        "tags": [
          "Indices"
        ],
        "responses": {
          "200": {
            "description": "Successful response"
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          },
          "404": {
            "description": "Not found"
          }
        },
        "parameters": [
          {
            "name": "page_size",
            "in": "query",
            "schema": {
              "type": "integer"
            },
            "description": "Number of results per page"
          },
          {
            "name": "next_page",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "description": "Next page token"
          }
        ]
      }
    },
    "/indices/stock_market/{identifier}": {
      "get": {
        "operationId": "getStockMarketIndex",
        "summary": "Get an index",
        "description": "Returns a stock market index",
        "tags": [
          "Indices"
        ],
        "responses": {
          "200": {
            "description": "Successful response"
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          },
          "404": {
            "description": "Not found"
          }
        },
        "parameters": [
          {
            "name": "identifier",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": ""
          }
        ]
      }
    },
    "/indices/stock_market/{identifier}/historical_data/{tag}": {
      "get": {
        "operationId": "getStockMarketIndexHistoricalData",
        "summary": "Get index historical data",
        "description": "Returns historical data for an index",
        "tags": [
          "Indices"
        ],
        "responses": {
          "200": {
            "description": "Successful response"
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          },
          "404": {
            "description": "Not found"
          }
        },
        "parameters": [
          {
            "name": "identifier",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": ""
          },
          {
            "name": "tag",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": ""
          },
          {
            "name": "start_date",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "description": ""
          },
          {
            "name": "end_date",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "description": ""
          },
          {
            "name": "page_size",
            "in": "query",
            "schema": {
              "type": "integer"
            },
            "description": "Number of results per page"
          },
          {
            "name": "next_page",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "description": "Next page token"
          }
        ]
      }
    },
    "/indices/stock_market/{identifier}/data_point/{tag}": {
      "get": {
        "operationId": "getStockMarketIndexDataPoint",
        "summary": "Get index data point",
        "description": "Returns a data point for an index",
        "tags": [
          "Indices"
        ],
        "responses": {
          "200": {
            "description": "Successful response"
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          },
          "404": {
            "description": "Not found"
          }
        },
        "parameters": [
          {
            "name": "identifier",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": ""
          },
          {
            "name": "tag",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": ""
          }
        ]
      }
    },
    "/forex/currencies": {
      "get": {
        "operationId": "getForexCurrencies",
        "summary": "Get forex currencies",
        "description": "Returns available forex currency pairs",
        "tags": [
          "Forex"
        ],
        "responses": {
          "200": {
            "description": "Successful response"
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          },
          "404": {
            "description": "Not found"
          }
        }
      }
    },
    "/forex/pairs": {
      "get": {
        "operationId": "getForexPairs",
        "summary": "Get forex pairs",
        "description": "Returns available forex pairs",
        "tags": [
          "Forex"
        ],
        "responses": {
          "200": {
            "description": "Successful response"
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          },
          "404": {
            "description": "Not found"
          }
        }
      }
    },
    "/forex/prices/{pair}/{timeframe}": {
      "get": {
        "operationId": "getForexPrices",
        "summary": "Get forex prices",
        "description": "Returns forex prices for a pair",
        "tags": [
          "Forex"
        ],
        "responses": {
          "200": {
            "description": "Successful response"
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          },
          "404": {
            "description": "Not found"
          }
        },
        "parameters": [
          {
            "name": "pair",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": ""
          },
          {
            "name": "timeframe",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": ""
          },
          {
            "name": "start_date",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "description": ""
          },
          {
            "name": "end_date",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "description": ""
          },
          {
            "name": "page_size",
            "in": "query",
            "schema": {
              "type": "integer"
            },
            "description": "Number of results per page"
          },
          {
            "name": "next_page",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "description": "Next page token"
          }
        ]
      }
    },
    "/data_tags": {
      "get": {
        "operationId": "getAllDataTags",
        "summary": "Get all data tags",
        "description": "Returns all data tags available",
        "tags": [
          "Data Tags"
        ],
        "responses": {
          "200": {
            "description": "Successful response"
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          },
          "404": {
            "description": "Not found"
          }
        },
        "parameters": [
          {
            "name": "page_size",
            "in": "query",
            "schema": {
              "type": "integer"
            },
            "description": "Number of results per page"
          },
          {
            "name": "next_page",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "description": "Next page token"
          }
        ]
      }
    },
    "/data_tags/{identifier}": {
      "get": {
        "operationId": "getDataTagById",
        "summary": "Get a data tag",
        "description": "Returns a data tag by identifier",
        "tags": [
          "Data Tags"
        ],
        "responses": {
          "200": {
            "description": "Successful response"
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          },
          "404": {
            "description": "Not found"
          }
        },
        "parameters": [
          {
            "name": "identifier",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": ""
          }
        ]
      }
    },
    "/data_tags/search": {
      "get": {
        "operationId": "searchDataTags",
        "summary": "Search data tags",
        "description": "Returns data tags matching query",
        "tags": [
          "Data Tags"
        ],
        "responses": {
          "200": {
            "description": "Successful response"
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          },
          "404": {
            "description": "Not found"
          }
        },
        "parameters": [
          {
            "name": "query",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "description": ""
          },
          {
            "name": "page_size",
            "in": "query",
            "schema": {
              "type": "integer"
            },
            "description": "Number of results per page"
          },
          {
            "name": "next_page",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "description": "Next page token"
          }
        ]
      }
    },
    "/filings": {
      "get": {
        "operationId": "getAllFilings",
        "summary": "Get all filings",
        "description": "Returns all filings",
        "tags": [
          "Filings"
        ],
        "responses": {
          "200": {
            "description": "Successful response"
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          },
          "404": {
            "description": "Not found"
          }
        },
        "parameters": [
          {
            "name": "company",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "description": ""
          },
          {
            "name": "report_type",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "description": ""
          },
          {
            "name": "start_date",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "description": ""
          },
          {
            "name": "end_date",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "description": ""
          },
          {
            "name": "page_size",
            "in": "query",
            "schema": {
              "type": "integer"
            },
            "description": "Number of results per page"
          },
          {
            "name": "next_page",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "description": "Next page token"
          }
        ]
      }
    },
    "/filings/{id}": {
      "get": {
        "operationId": "getFilingById",
        "summary": "Get a filing",
        "description": "Returns a filing by ID",
        "tags": [
          "Filings"
        ],
        "responses": {
          "200": {
            "description": "Successful response"
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          },
          "404": {
            "description": "Not found"
          }
        },
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": ""
          }
        ]
      }
    },
    "/municipalities": {
      "get": {
        "operationId": "getAllMunicipalities",
        "summary": "Get all municipalities",
        "description": "Returns all municipalities",
        "tags": [
          "Municipalities"
        ],
        "responses": {
          "200": {
            "description": "Successful response"
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          },
          "404": {
            "description": "Not found"
          }
        },
        "parameters": [
          {
            "name": "has_financials",
            "in": "query",
            "schema": {
              "type": "boolean"
            },
            "description": ""
          },
          {
            "name": "page_size",
            "in": "query",
            "schema": {
              "type": "integer"
            },
            "description": "Number of results per page"
          },
          {
            "name": "next_page",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "description": "Next page token"
          }
        ]
      }
    },
    "/municipalities/{id}": {
      "get": {
        "operationId": "getMunicipalityById",
        "summary": "Get a municipality",
        "description": "Returns municipality details",
        "tags": [
          "Municipalities"
        ],
        "responses": {
          "200": {
            "description": "Successful response"
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          },
          "404": {
            "description": "Not found"
          }
        },
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": ""
          }
        ]
      }
    },
    "/municipalities/{id}/financials": {
      "get": {
        "operationId": "getMunicipalityFinancials",
        "summary": "Get municipality financials",
        "description": "Returns financial data for a municipality",
        "tags": [
          "Municipalities"
        ],
        "responses": {
          "200": {
            "description": "Successful response"
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          },
          "404": {
            "description": "Not found"
          }
        },
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": ""
          },
          {
            "name": "fiscal_year",
            "in": "query",
            "schema": {
              "type": "integer"
            },
            "description": ""
          },
          {
            "name": "page_size",
            "in": "query",
            "schema": {
              "type": "integer"
            },
            "description": "Number of results per page"
          },
          {
            "name": "next_page",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "description": "Next page token"
          }
        ]
      }
    }
  },
  "components": {
    "schemas": {},
    "securitySchemes": {
      "apiKeyQuery": {
        "type": "apiKey",
        "name": "api_key",
        "in": "query",
        "description": "Intrinio API key"
      }
    }
  },
  "security": [
    {
      "apiKeyQuery": []
    }
  ],
  "tags": [
    {
      "name": "Companies"
    },
    {
      "name": "Data Tags"
    },
    {
      "name": "Filings"
    },
    {
      "name": "Forex"
    },
    {
      "name": "Fundamentals"
    },
    {
      "name": "Indices"
    },
    {
      "name": "Municipalities"
    },
    {
      "name": "Options"
    },
    {
      "name": "Securities"
    },
    {
      "name": "Stock Exchanges"
    }
  ]
}
