{
  "openapi": "3.0.3",
  "info": {
    "title": "Climatiq API",
    "version": "1.0.0",
    "description": "Climatiq provides carbon emission factor data and estimation APIs. Calculate CO2e emissions for energy, travel, freight, procurement, and more. Includes emission factor search, carbon estimates, PCF (Product Carbon Footprint), CBAM compliance, and classification endpoints.",
    "x-jentic-source-url": "https://www.climatiq.io/docs",
    "contact": {
      "name": "API Support"
    }
  },
  "servers": [
    {
      "url": "https://api.climatiq.io"
    }
  ],
  "paths": {
    "/estimate": {
      "post": {
        "operationId": "createEstimate",
        "summary": "Estimate emissions",
        "description": "Calculate CO2e emissions using an emission factor ID and an activity value. Returns the estimated emissions in kg CO2e.",
        "tags": [
          "Estimates"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/EstimateRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Emission estimate result",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/EstimateResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/estimate/batch": {
      "post": {
        "operationId": "createBatchEstimate",
        "summary": "Batch estimate emissions",
        "description": "Calculate emissions for multiple activities in a single request.",
        "tags": [
          "Estimates"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "array",
                "items": {
                  "$ref": "#/components/schemas/EstimateRequest"
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Batch emission estimate results",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "results": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/EstimateResponse"
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/search": {
      "get": {
        "operationId": "searchEmissionFactors",
        "summary": "Search emission factors",
        "description": "Search the emission factor database by query, category, source, region, year, and other filters.",
        "tags": [
          "Search"
        ],
        "parameters": [
          {
            "name": "query",
            "in": "query",
            "description": "Free-text search query",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "activity_id",
            "in": "query",
            "description": "Filter by activity ID",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "category",
            "in": "query",
            "description": "Filter by category",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "source",
            "in": "query",
            "description": "Filter by data source",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "region",
            "in": "query",
            "description": "Filter by region code (e.g. US, GB, GLOBAL)",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "year",
            "in": "query",
            "description": "Filter by year",
            "required": false,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "unit_type",
            "in": "query",
            "description": "Filter by unit type (e.g. money, energy, weight)",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "page",
            "in": "query",
            "description": "Page number for pagination",
            "required": false,
            "schema": {
              "type": "integer",
              "default": 1
            }
          },
          {
            "name": "results_per_page",
            "in": "query",
            "description": "Number of results per page",
            "required": false,
            "schema": {
              "type": "integer",
              "default": 10
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Search results",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SearchResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/travel/legs": {
      "post": {
        "operationId": "estimateTravelEmissions",
        "summary": "Estimate travel emissions",
        "description": "Calculate emissions for travel legs (flights, car, rail, ferry, etc.).",
        "tags": [
          "Travel"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/TravelRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Travel emission estimate",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TravelResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/energy": {
      "post": {
        "operationId": "estimateEnergyEmissions",
        "summary": "Estimate energy emissions",
        "description": "Calculate emissions from energy consumption (electricity, gas, etc.).",
        "tags": [
          "Energy"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/EnergyRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Energy emission estimate",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/EstimateResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/freight/intermodal": {
      "post": {
        "operationId": "estimateIntermodalFreightEmissions",
        "summary": "Estimate intermodal freight emissions",
        "description": "Calculate emissions for freight transported via multiple modes (road, rail, sea, air).",
        "tags": [
          "Freight"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/FreightRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Freight emission estimate",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/FreightResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/procurement": {
      "post": {
        "operationId": "estimateProcurementEmissions",
        "summary": "Estimate procurement emissions",
        "description": "Calculate emissions from procurement activities based on spend data.",
        "tags": [
          "Procurement"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ProcurementRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Procurement emission estimate",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/EstimateResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/classifications": {
      "get": {
        "operationId": "listClassifications",
        "summary": "List classifications",
        "description": "Retrieve the list of available emission factor classifications.",
        "tags": [
          "Classifications"
        ],
        "responses": {
          "200": {
            "description": "List of classifications",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "results": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/Classification"
                      }
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/autopilot": {
      "post": {
        "operationId": "autopilotEstimate",
        "summary": "Autopilot emission estimate",
        "description": "Automatically match an activity description to the best emission factor and calculate emissions.",
        "tags": [
          "Autopilot"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/AutopilotRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Autopilot estimate result",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/EstimateResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/pcf": {
      "post": {
        "operationId": "estimateProductCarbonFootprint",
        "summary": "Product Carbon Footprint",
        "description": "Estimate the product carbon footprint (PCF) based on product details and lifecycle stages.",
        "tags": [
          "PCF"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/PcfRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "PCF estimate result",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PcfResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    }
  },
  "components": {
    "schemas": {
      "EstimateRequest": {
        "type": "object",
        "properties": {
          "emission_factor": {
            "type": "object",
            "properties": {
              "activity_id": {
                "type": "string",
                "description": "The activity ID of the emission factor"
              },
              "id": {
                "type": "string",
                "description": "UUID of the emission factor"
              },
              "region": {
                "type": "string",
                "description": "Region code"
              },
              "year": {
                "type": "integer",
                "description": "Year of the emission factor"
              },
              "source": {
                "type": "string",
                "description": "Data source"
              },
              "data_version": {
                "type": "string"
              }
            }
          },
          "parameters": {
            "type": "object",
            "properties": {
              "money": {
                "type": "number",
                "description": "Monetary amount"
              },
              "money_unit": {
                "type": "string",
                "description": "Currency code"
              },
              "weight": {
                "type": "number",
                "description": "Weight amount"
              },
              "weight_unit": {
                "type": "string",
                "description": "Weight unit (kg, t, lb)"
              },
              "energy": {
                "type": "number",
                "description": "Energy amount"
              },
              "energy_unit": {
                "type": "string",
                "description": "Energy unit (kWh, MWh)"
              },
              "distance": {
                "type": "number",
                "description": "Distance amount"
              },
              "distance_unit": {
                "type": "string",
                "description": "Distance unit (km, mi)"
              },
              "volume": {
                "type": "number",
                "description": "Volume amount"
              },
              "volume_unit": {
                "type": "string",
                "description": "Volume unit (l, m3)"
              }
            }
          }
        }
      },
      "EstimateResponse": {
        "type": "object",
        "properties": {
          "co2e": {
            "type": "number",
            "description": "CO2 equivalent emissions in kg"
          },
          "co2e_unit": {
            "type": "string",
            "description": "Unit of CO2e (kg)"
          },
          "co2e_calculation_method": {
            "type": "string",
            "description": "Calculation method (ar4, ar5, ar6)"
          },
          "co2": {
            "type": "number",
            "description": "CO2 emissions in kg"
          },
          "ch4": {
            "type": "number",
            "description": "CH4 emissions in kg"
          },
          "n2o": {
            "type": "number",
            "description": "N2O emissions in kg"
          },
          "emission_factor": {
            "$ref": "#/components/schemas/EmissionFactor"
          },
          "constituent_gases": {
            "type": "object",
            "properties": {
              "co2e_total": {
                "type": "number"
              },
              "co2e_other": {
                "type": "number"
              },
              "co2": {
                "type": "number"
              },
              "ch4": {
                "type": "number"
              },
              "n2o": {
                "type": "number"
              }
            }
          }
        }
      },
      "EmissionFactor": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "description": "UUID"
          },
          "activity_id": {
            "type": "string"
          },
          "name": {
            "type": "string"
          },
          "category": {
            "type": "string"
          },
          "source": {
            "type": "string"
          },
          "region": {
            "type": "string"
          },
          "year": {
            "type": "integer"
          },
          "unit_type": {
            "type": "string"
          },
          "unit": {
            "type": "string"
          },
          "factor": {
            "type": "number"
          },
          "factor_calculation_method": {
            "type": "string"
          }
        }
      },
      "SearchResponse": {
        "type": "object",
        "properties": {
          "results": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/EmissionFactor"
            }
          },
          "current_page": {
            "type": "integer"
          },
          "last_page": {
            "type": "integer"
          },
          "total_results": {
            "type": "integer"
          }
        }
      },
      "TravelRequest": {
        "type": "object",
        "properties": {
          "legs": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "from": {
                  "type": "string",
                  "description": "Origin (IATA code or address)"
                },
                "to": {
                  "type": "string",
                  "description": "Destination (IATA code or address)"
                },
                "passengers": {
                  "type": "integer"
                },
                "class": {
                  "type": "string",
                  "enum": [
                    "economy",
                    "premium_economy",
                    "business",
                    "first"
                  ]
                }
              }
            }
          }
        }
      },
      "TravelResponse": {
        "type": "object",
        "properties": {
          "co2e": {
            "type": "number",
            "description": "Total CO2e in kg"
          },
          "co2e_unit": {
            "type": "string"
          },
          "legs": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/EstimateResponse"
            }
          },
          "distance_km": {
            "type": "number"
          }
        }
      },
      "EnergyRequest": {
        "type": "object",
        "properties": {
          "energy": {
            "type": "number",
            "description": "Energy amount"
          },
          "energy_unit": {
            "type": "string",
            "description": "Energy unit (kWh, MWh, etc.)"
          },
          "region": {
            "type": "string",
            "description": "Region code"
          }
        }
      },
      "FreightRequest": {
        "type": "object",
        "properties": {
          "route": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "from": {
                  "type": "string"
                },
                "to": {
                  "type": "string"
                },
                "transport_mode": {
                  "type": "string",
                  "enum": [
                    "road",
                    "rail",
                    "sea",
                    "air",
                    "inland_waterway"
                  ]
                }
              }
            }
          },
          "cargo": {
            "type": "object",
            "properties": {
              "weight": {
                "type": "number"
              },
              "weight_unit": {
                "type": "string"
              }
            }
          }
        }
      },
      "FreightResponse": {
        "type": "object",
        "properties": {
          "co2e": {
            "type": "number"
          },
          "co2e_unit": {
            "type": "string"
          },
          "legs": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/EstimateResponse"
            }
          },
          "distance_km": {
            "type": "number"
          }
        }
      },
      "ProcurementRequest": {
        "type": "object",
        "properties": {
          "spend": {
            "type": "number",
            "description": "Amount spent"
          },
          "spend_unit": {
            "type": "string",
            "description": "Currency code"
          },
          "category": {
            "type": "string",
            "description": "Procurement category"
          },
          "region": {
            "type": "string",
            "description": "Region code"
          }
        }
      },
      "Classification": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string"
          },
          "name": {
            "type": "string"
          },
          "description": {
            "type": "string"
          }
        }
      },
      "AutopilotRequest": {
        "type": "object",
        "properties": {
          "activity_description": {
            "type": "string",
            "description": "Natural language description of the activity"
          },
          "parameters": {
            "type": "object",
            "description": "Activity parameters (amount, unit, etc.)"
          }
        }
      },
      "PcfRequest": {
        "type": "object",
        "properties": {
          "product_description": {
            "type": "string"
          },
          "lifecycle_stages": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "stage": {
                  "type": "string"
                },
                "activity_id": {
                  "type": "string"
                },
                "parameters": {
                  "type": "object"
                }
              }
            }
          }
        }
      },
      "PcfResponse": {
        "type": "object",
        "properties": {
          "co2e": {
            "type": "number",
            "description": "Total product carbon footprint in kg CO2e"
          },
          "co2e_unit": {
            "type": "string"
          },
          "lifecycle_stages": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "stage": {
                  "type": "string"
                },
                "co2e": {
                  "type": "number"
                }
              }
            }
          }
        }
      },
      "ErrorResponse": {
        "type": "object",
        "properties": {
          "error": {
            "type": "string"
          },
          "message": {
            "type": "string"
          },
          "error_code": {
            "type": "string"
          }
        }
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "scheme": "bearer",
        "description": "Bearer token authentication. Pass your API key as a Bearer token."
      }
    }
  },
  "security": [
    {
      "bearerAuth": []
    }
  ],
  "tags": [
    {
      "name": "Autopilot"
    },
    {
      "name": "Classifications"
    },
    {
      "name": "Energy"
    },
    {
      "name": "Estimates"
    },
    {
      "name": "Freight"
    },
    {
      "name": "PCF"
    },
    {
      "name": "Procurement"
    },
    {
      "name": "Search"
    },
    {
      "name": "Travel"
    }
  ]
}
