{
  "openapi": "3.0.3",
  "info": {
    "title": "itembase sandbox API",
    "description": "An API for requesting ecommerce data from users' shops connected to itembase.<p>You can issue range queries by datetimes or get single entities by id.</p><p>There are four entity types: Transaction, Product, Buyer and Profile. Entities that originate from the same data connection have the same <i>source_id</i>. Get the Profile resource which describes the user's profile on the remote platform (e.g. a seller's account, a shop profile) to understand where the related entities (i. E. with the same source_id) originate.</p>",
    "version": "1.0.0",
    "x-jentic-source-url": "https://api.swaggerhub.com/apis/johnwiesel/data_api/1.0.0",
    "contact": {
      "name": "API Support"
    }
  },
  "servers": [
    {
      "url": "https://sandbox.api.itembase.io/v1"
    }
  ],
  "paths": {
    "/users/{user_id}/transactions": {
      "get": {
        "summary": "GET transactions by user and filter.",
        "description": "Requests all Transaction entities from itembase for a specific authenticated user, where the requested entities match a set of search criteria. Transactions can be requested with no additional search parameters, in which case the request will query all transactions for the authenticated user. Regardless of whether the request includes search parameters or not, by default only a subset of matched Transaction entities are returned (a maximum of 50 entities). Note however, that a successful query response will include fields \"num_documents_found\" (which gives the total number of entities which match the search criteria) and \"num_documents_returned\" (which gives the number of entities returned in the payload). This information can be used to construct additional paginated requests. A successful response returns a sorted list of entities, ordered by default by the field \"created_at\" in descending order (i.e. newest first). The sort order can be changed by altering the request parameters below. \n",
        "security": [
          {
            "sandbox_auth": [
              "user.minimal",
              "connection.transaction"
            ]
          }
        ],
        "operationId": "get_users_user_id_transactions",
        "tags": [
          "users"
        ],
        "parameters": [
          {
            "name": "user_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ]
      }
    },
    "/users/{user_id}/products": {
      "get": {
        "summary": "GET products by user and filter.",
        "description": "Requests all Product entities from itembase for a specific authenticated user, where the requested entities match a set of search criteria. Products can be requested with no additional search parameters, in which case the request will query all products for the authenticated user. Regardless of whether the request includes search parameters or not, by default only a subset of matched Product entities are returned (a maximum of 50 entities). Note however, that a successful query response will include fields \"num_documents_found\" (which gives the total number of entities which match the search criteria) and \"num_documents_returned\" (which gives the number of entities returned in the payload). This information can be used to construct additional paginated requests. A successful response returns a sorted list of entities, ordered by default by the field \"created_at\" in descending order (i.e. newest first). The sort order can be changed by altering the request parameters below. \n",
        "security": [
          {
            "sandbox_auth": [
              "user.minimal",
              "connection.product"
            ]
          }
        ],
        "operationId": "get_users_user_id_products",
        "tags": [
          "users"
        ],
        "parameters": [
          {
            "name": "user_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ]
      }
    },
    "/users/{user_id}/profiles": {
      "get": {
        "summary": "GET user profiles by user per platform",
        "description": "The user Profile endpoint returns the general profile information of the users on the remote platform, e.g. general eBay seller account details.",
        "parameters": [
          {
            "name": "user_id",
            "in": "path",
            "required": true,
            "type": "string"
          }
        ],
        "tags": [
          "Profiles"
        ],
        "responses": {
          "200": {
            "description": "An array of profiles. One for each remote platform this user has connected.",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "./profile.v1.2.schema.json#"
              }
            }
          },
          "default": {
            "description": "Unexpected error",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          }
        },
        "security": [
          {
            "sandbox_auth": [
              "user.minimal",
              "connection.profile"
            ]
          }
        ],
        "operationId": "get_users_user_id_profiles"
      }
    },
    "/users/{user_id}/buyers": {
      "get": {
        "summary": "GET buyers by user and filter.",
        "description": "Requests all Buyer entities from itembase for a specific authenticated user, where the requested entities match a set of search criteria. Products can be requested with no additional search parameters, in which case the request will query all Buyer for the authenticated user. Regardless of whether the request includes search parameters or not, by default only a subset of matched Buyer entities are returned (a maximum of 50 entities). Note however, that a successful query response will include fields \"num_documents_found\" (which gives the total number of entities which match the search criteria) and \"num_documents_returned\" (which gives the number of entities returned in the payload). This information can be used to construct additional paginated requests. A successful response returns a sorted list of entities, ordered by default by the field \"created_at\" in descending order (i.e. newest first). The sort order can be changed by altering the request parameters below. \n",
        "responses": {
          "200": {
            "description": "description"
          }
        },
        "security": [
          {
            "sandbox_auth": [
              "user.minimal",
              "connection.buyer"
            ]
          }
        ],
        "operationId": "get_users_user_id_buyers",
        "tags": [
          "users"
        ],
        "parameters": [
          {
            "name": "user_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ]
      }
    }
  },
  "components": {
    "schemas": {
      "Error": {
        "properties": {
          "code": {
            "type": "integer",
            "format": "int32"
          },
          "message": {
            "type": "string"
          }
        }
      }
    },
    "securitySchemes": {
      "sandbox_auth": {
        "description": "To get authorized via OAuth2 to access a user's data you are required to log in (using the 'auth' button. Just use 'klaus' / 'itembase' and select 'user.minimal' and one other scope like 'connection.product' for this sandbox demo. This version of swagger does not support selecting more scopes yet.",
        "type": "oauth2",
        "authorizationUrl": "http://sandbox.accounts.itembase.io/oauth/v2/auth",
        "flow": "implicit",
        "scopes": {
          "user.minimal": "basic user data raed only",
          "connection.transaction": "transaction data read only",
          "connection.product": "product data read only",
          "connection.profile": "profile data dread only",
          "connection.buyer": "buyer data read only"
        }
      }
    }
  },
  "tags": [
    {
      "name": "Profiles"
    },
    {
      "name": "users"
    }
  ]
}
