{
  "openapi": "3.0.3",
  "info": {
    "title": "Tofler News",
    "description": "Tofler News API",
    "version": "1.0",
    "x-jentic-source-url": "https://api.swaggerhub.com/apis/rhlkumar/tofler_news/1.0",
    "contact": {
      "name": "API Support"
    }
  },
  "servers": [
    {
      "url": "http://tofler.in/api/v1"
    },
    {
      "url": "https://tofler.in/api/v1"
    }
  ],
  "paths": {
    "/news": {
      "get": {
        "tags": [
          "news"
        ],
        "summary": "Default List of news",
        "description": "All latest news whichs shows as default feed without any filter",
        "parameters": [
          {
            "name": "api_key",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "News response",
            "content": {
              "*/*": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/News"
                  }
                }
              }
            }
          },
          "default": {
            "description": "Unexpected error",
            "content": {}
          }
        },
        "operationId": "get_news"
      }
    },
    "/categories": {
      "get": {
        "tags": [
          "categories"
        ],
        "summary": "List of supported news categories",
        "description": "List of supported news categories",
        "parameters": [
          {
            "name": "api_key",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "News response",
            "content": {
              "*/*": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Category"
                  }
                }
              }
            }
          },
          "default": {
            "description": "Unexpected error",
            "content": {}
          }
        },
        "operationId": "get_categories"
      }
    },
    "/categories/{category_id}/news": {
      "get": {
        "tags": [
          "categories"
        ],
        "summary": "Get catgory news feed",
        "description": "Get category news feed",
        "parameters": [
          {
            "name": "api_key",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "category_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "News response",
            "content": {
              "*/*": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/News"
                  }
                }
              }
            }
          },
          "default": {
            "description": "Unexpected error",
            "content": {}
          }
        },
        "operationId": "get_categories_category_id_news"
      }
    }
  },
  "components": {
    "schemas": {
      "Category": {
        "type": "object",
        "properties": {
          "id": {
            "type": "integer",
            "format": "int64"
          },
          "name": {
            "type": "string"
          }
        }
      },
      "News": {
        "required": [
          "image_url",
          "link",
          "title"
        ],
        "type": "object",
        "properties": {
          "id": {
            "type": "integer",
            "format": "int64"
          },
          "category": {
            "$ref": "#/components/schemas/Category"
          },
          "title": {
            "type": "string"
          },
          "image_url": {
            "type": "string"
          },
          "link": {
            "type": "string"
          }
        }
      }
    },
    "securitySchemes": {
      "api_key": {
        "type": "apiKey",
        "name": "Authorization",
        "in": "header"
      }
    }
  },
  "x-original-swagger-version": "2.0",
  "tags": [
    {
      "name": "categories"
    },
    {
      "name": "news"
    }
  ]
}
