{
  "openapi": "3.0.3",
  "info": {
    "title": "LMS Question Bank API - Complete",
    "description": "Complete API for managing question bank including Domains, Sub-Domains, Competencies, and Questions for an LMS platform.",
    "version": "1.0.0",
    "contact": {
      "email": "api-support@lms-platform.com",
      "url": "https://docs.lms-platform.com"
    },
    "x-jentic-source-url": "https://api.swaggerhub.com/apis/enfin-9f0/lms-question-bank-api-complete/1.0.0"
  },
  "servers": [
    {
      "url": "https://api.lms-platform.com/v1",
      "description": "Production server"
    }
  ],
  "tags": [
    {
      "name": "Domains",
      "description": "Primary categories for organizing questions"
    },
    {
      "name": "Sub-Domains",
      "description": "Subcategories within domains"
    },
    {
      "name": "Competencies",
      "description": "Specific skills (C1-C5) within sub-domains"
    },
    {
      "name": "Questions",
      "description": "Question bank management"
    }
  ],
  "paths": {
    "/domains": {
      "get": {
        "tags": [
          "Domains"
        ],
        "summary": "Get all domains",
        "operationId": "getDomains",
        "parameters": [
          {
            "name": "page",
            "in": "query",
            "schema": {
              "type": "integer",
              "default": 1
            }
          },
          {
            "name": "limit",
            "in": "query",
            "schema": {
              "type": "integer",
              "default": 20
            }
          },
          {
            "name": "search",
            "in": "query",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DomainListResponse"
                }
              }
            }
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ]
      },
      "post": {
        "tags": [
          "Domains"
        ],
        "summary": "Create domain",
        "operationId": "createDomain",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/DomainInput"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Created",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Domain"
                }
              }
            }
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ]
      }
    },
    "/domains/{domainId}": {
      "get": {
        "tags": [
          "Domains"
        ],
        "summary": "Get domain by ID",
        "operationId": "getDomainById",
        "parameters": [
          {
            "$ref": "#/components/parameters/DomainId"
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Domain"
                }
              }
            }
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ]
      },
      "put": {
        "tags": [
          "Domains"
        ],
        "summary": "Update domain",
        "operationId": "updateDomain",
        "parameters": [
          {
            "$ref": "#/components/parameters/DomainId"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/DomainInput"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Updated",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Domain"
                }
              }
            }
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ]
      },
      "delete": {
        "tags": [
          "Domains"
        ],
        "summary": "Delete domain",
        "operationId": "deleteDomain",
        "parameters": [
          {
            "$ref": "#/components/parameters/DomainId"
          }
        ],
        "responses": {
          "204": {
            "description": "Deleted"
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ]
      }
    },
    "/domains/{domainId}/subdomains": {
      "get": {
        "tags": [
          "Sub-Domains"
        ],
        "summary": "Get sub-domains by domain",
        "operationId": "getSubDomainsByDomain",
        "parameters": [
          {
            "$ref": "#/components/parameters/DomainId"
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/SubDomain"
                  }
                }
              }
            }
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ]
      },
      "post": {
        "tags": [
          "Sub-Domains"
        ],
        "summary": "Create sub-domain",
        "operationId": "createSubDomain",
        "parameters": [
          {
            "$ref": "#/components/parameters/DomainId"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/SubDomainInput"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Created",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SubDomain"
                }
              }
            }
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ]
      }
    },
    "/subdomains/{subdomainId}": {
      "get": {
        "tags": [
          "Sub-Domains"
        ],
        "summary": "Get sub-domain by ID",
        "operationId": "getSubDomainById",
        "parameters": [
          {
            "$ref": "#/components/parameters/SubDomainId"
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SubDomain"
                }
              }
            }
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ]
      },
      "put": {
        "tags": [
          "Sub-Domains"
        ],
        "summary": "Update sub-domain",
        "operationId": "updateSubDomain",
        "parameters": [
          {
            "$ref": "#/components/parameters/SubDomainId"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/SubDomainInput"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Updated"
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ]
      },
      "delete": {
        "tags": [
          "Sub-Domains"
        ],
        "summary": "Delete sub-domain",
        "operationId": "deleteSubDomain",
        "parameters": [
          {
            "$ref": "#/components/parameters/SubDomainId"
          }
        ],
        "responses": {
          "204": {
            "description": "Deleted"
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ]
      }
    },
    "/subdomains/{subdomainId}/competencies": {
      "get": {
        "tags": [
          "Competencies"
        ],
        "summary": "Get competencies by sub-domain",
        "operationId": "getCompetenciesBySubDomain",
        "parameters": [
          {
            "$ref": "#/components/parameters/SubDomainId"
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Competency"
                  }
                }
              }
            }
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ]
      },
      "post": {
        "tags": [
          "Competencies"
        ],
        "summary": "Create competency",
        "description": "Creates a new competency with C1-C5 items. Overall score should be 100.",
        "operationId": "createCompetency",
        "parameters": [
          {
            "$ref": "#/components/parameters/SubDomainId"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CompetencyInput"
              },
              "example": {
                "name": "Python Programming",
                "code": "PY_PROG",
                "subdomainId": "sub_123456",
                "competencyItems": [
                  {
                    "code": "C1",
                    "description": "Understand Python syntax and basics",
                    "score": 20
                  },
                  {
                    "code": "C2",
                    "description": "Apply functions and modules",
                    "score": 20
                  },
                  {
                    "code": "C3",
                    "description": "Implement data structures",
                    "score": 20
                  },
                  {
                    "code": "C4",
                    "description": "Handle errors and exceptions",
                    "score": 20
                  },
                  {
                    "code": "C5",
                    "description": "Create complete applications",
                    "score": 20
                  }
                ],
                "isActive": true
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Created",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Competency"
                }
              }
            }
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ]
      }
    },
    "/competencies/{competencyId}": {
      "get": {
        "tags": [
          "Competencies"
        ],
        "summary": "Get competency by ID",
        "operationId": "getCompetencyById",
        "parameters": [
          {
            "$ref": "#/components/parameters/CompetencyId"
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Competency"
                }
              }
            }
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ]
      },
      "put": {
        "tags": [
          "Competencies"
        ],
        "summary": "Update competency",
        "operationId": "updateCompetency",
        "parameters": [
          {
            "$ref": "#/components/parameters/CompetencyId"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CompetencyInput"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Updated"
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ]
      },
      "delete": {
        "tags": [
          "Competencies"
        ],
        "summary": "Delete competency",
        "operationId": "deleteCompetency",
        "parameters": [
          {
            "$ref": "#/components/parameters/CompetencyId"
          }
        ],
        "responses": {
          "204": {
            "description": "Deleted"
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ]
      }
    },
    "/questions": {
      "get": {
        "tags": [
          "Questions"
        ],
        "summary": "Get all questions",
        "description": "Retrieves a paginated list of questions with optional filtering",
        "operationId": "getQuestions",
        "parameters": [
          {
            "name": "page",
            "in": "query",
            "schema": {
              "type": "integer",
              "default": 1
            }
          },
          {
            "name": "limit",
            "in": "query",
            "schema": {
              "type": "integer",
              "default": 20
            }
          },
          {
            "name": "domainId",
            "in": "query",
            "description": "Filter by domain",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "subdomainId",
            "in": "query",
            "description": "Filter by sub-domain",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "competencyCode",
            "in": "query",
            "description": "Filter by competency code (C1-C5)",
            "schema": {
              "type": "string",
              "enum": [
                "C1",
                "C2",
                "C3",
                "C4",
                "C5"
              ]
            }
          },
          {
            "name": "questionType",
            "in": "query",
            "description": "Filter by question type",
            "schema": {
              "$ref": "#/components/schemas/QuestionType"
            }
          },
          {
            "name": "search",
            "in": "query",
            "description": "Search in question text",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/QuestionListResponse"
                }
              }
            }
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ]
      },
      "post": {
        "tags": [
          "Questions"
        ],
        "summary": "Create question",
        "description": "Creates a new question in the question bank",
        "operationId": "createQuestion",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/QuestionInput"
              },
              "examples": {
                "singleChoice": {
                  "summary": "Single Choice Question",
                  "value": {
                    "questionText": "What is the output of print(2 ** 3)?",
                    "questionType": "Single_Choice",
                    "domainId": "dom_123456",
                    "competencyCode": "C1",
                    "options": [
                      {
                        "optionText": "6",
                        "isCorrect": false
                      },
                      {
                        "optionText": "8",
                        "isCorrect": true
                      },
                      {
                        "optionText": "9",
                        "isCorrect": false
                      },
                      {
                        "optionText": "5",
                        "isCorrect": false
                      }
                    ],
                    "marks": 2,
                    "explanation": "The ** operator is used for exponentiation. 2**3 = 2*2*2 = 8"
                  }
                },
                "multipleChoice": {
                  "summary": "Multiple Choice Question",
                  "value": {
                    "questionText": "Which of the following are valid Python data types?",
                    "questionType": "Multiple_Choice",
                    "domainId": "dom_123456",
                    "competencyCode": "C1",
                    "options": [
                      {
                        "optionText": "int",
                        "isCorrect": true
                      },
                      {
                        "optionText": "string",
                        "isCorrect": true
                      },
                      {
                        "optionText": "boolean",
                        "isCorrect": true
                      },
                      {
                        "optionText": "character",
                        "isCorrect": false
                      }
                    ],
                    "marks": 3,
                    "explanation": "Python has int, str, bool as built-in types. Character is not a separate type in Python."
                  }
                },
                "fillInBlanks": {
                  "summary": "Fill in the Blanks Question",
                  "value": {
                    "questionText": "In Python, the keyword {{1}} is used to define a function, and {{2}} is used to return a value.",
                    "questionType": "Fill_in_the_blanks",
                    "domainId": "dom_123456",
                    "competencyCode": "C2",
                    "options": [],
                    "correctAnswers": [
                      "def",
                      "return"
                    ],
                    "marks": 2,
                    "explanation": "The 'def' keyword defines a function and 'return' sends back a value from the function."
                  }
                }
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Created",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Question"
                }
              }
            }
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ]
      }
    },
    "/questions/{questionId}": {
      "get": {
        "tags": [
          "Questions"
        ],
        "summary": "Get question by ID",
        "operationId": "getQuestionById",
        "parameters": [
          {
            "$ref": "#/components/parameters/QuestionId"
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Question"
                }
              }
            }
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ]
      },
      "put": {
        "tags": [
          "Questions"
        ],
        "summary": "Update question",
        "operationId": "updateQuestion",
        "parameters": [
          {
            "$ref": "#/components/parameters/QuestionId"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/QuestionInput"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Updated",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Question"
                }
              }
            }
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ]
      },
      "delete": {
        "tags": [
          "Questions"
        ],
        "summary": "Delete question",
        "operationId": "deleteQuestion",
        "parameters": [
          {
            "$ref": "#/components/parameters/QuestionId"
          }
        ],
        "responses": {
          "204": {
            "description": "Deleted"
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ]
      }
    },
    "/questions/bulk": {
      "post": {
        "tags": [
          "Questions"
        ],
        "summary": "Bulk create questions",
        "description": "Create multiple questions at once",
        "operationId": "bulkCreateQuestions",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "questions": {
                    "type": "array",
                    "items": {
                      "$ref": "#/components/schemas/QuestionInput"
                    }
                  }
                }
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Created",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "created": {
                      "type": "integer"
                    },
                    "failed": {
                      "type": "integer"
                    },
                    "questions": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/Question"
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ]
      }
    }
  },
  "components": {
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    },
    "parameters": {
      "DomainId": {
        "name": "domainId",
        "in": "path",
        "required": true,
        "schema": {
          "type": "string"
        }
      },
      "SubDomainId": {
        "name": "subdomainId",
        "in": "path",
        "required": true,
        "schema": {
          "type": "string"
        }
      },
      "CompetencyId": {
        "name": "competencyId",
        "in": "path",
        "required": true,
        "schema": {
          "type": "string"
        }
      },
      "QuestionId": {
        "name": "questionId",
        "in": "path",
        "required": true,
        "schema": {
          "type": "string"
        }
      }
    },
    "schemas": {
      "Domain": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "example": "dom_123456"
          },
          "name": {
            "type": "string",
            "example": "Coding"
          },
          "description": {
            "type": "string"
          },
          "code": {
            "type": "string",
            "example": "CODE"
          },
          "isActive": {
            "type": "boolean",
            "default": true
          },
          "createdAt": {
            "type": "string",
            "format": "date-time"
          },
          "updatedAt": {
            "type": "string",
            "format": "date-time"
          }
        }
      },
      "DomainInput": {
        "type": "object",
        "required": [
          "name",
          "code"
        ],
        "properties": {
          "name": {
            "type": "string",
            "maxLength": 100
          },
          "description": {
            "type": "string",
            "maxLength": 500
          },
          "code": {
            "type": "string",
            "maxLength": 20
          },
          "isActive": {
            "type": "boolean",
            "default": true
          }
        }
      },
      "DomainListResponse": {
        "type": "object",
        "properties": {
          "data": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Domain"
            }
          },
          "pagination": {
            "$ref": "#/components/schemas/Pagination"
          }
        }
      },
      "SubDomain": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string"
          },
          "name": {
            "type": "string"
          },
          "description": {
            "type": "string"
          },
          "code": {
            "type": "string"
          },
          "domainId": {
            "type": "string"
          },
          "domainName": {
            "type": "string"
          },
          "isActive": {
            "type": "boolean"
          },
          "orderIndex": {
            "type": "integer"
          },
          "createdAt": {
            "type": "string",
            "format": "date-time"
          },
          "updatedAt": {
            "type": "string",
            "format": "date-time"
          }
        }
      },
      "SubDomainInput": {
        "type": "object",
        "required": [
          "name",
          "code",
          "domainId"
        ],
        "properties": {
          "name": {
            "type": "string",
            "maxLength": 100
          },
          "description": {
            "type": "string",
            "maxLength": 500
          },
          "code": {
            "type": "string",
            "maxLength": 20
          },
          "domainId": {
            "type": "string"
          },
          "isActive": {
            "type": "boolean",
            "default": true
          },
          "orderIndex": {
            "type": "integer",
            "default": 0
          }
        }
      },
      "Competency": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string"
          },
          "name": {
            "type": "string"
          },
          "code": {
            "type": "string"
          },
          "subdomainId": {
            "type": "string"
          },
          "subdomainName": {
            "type": "string"
          },
          "domainId": {
            "type": "string"
          },
          "domainName": {
            "type": "string"
          },
          "competencyItems": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/CompetencyItem"
            }
          },
          "isActive": {
            "type": "boolean"
          },
          "createdAt": {
            "type": "string",
            "format": "date-time"
          },
          "updatedAt": {
            "type": "string",
            "format": "date-time"
          }
        }
      },
      "CompetencyInput": {
        "type": "object",
        "required": [
          "name",
          "code",
          "subdomainId",
          "competencyItems"
        ],
        "properties": {
          "name": {
            "type": "string",
            "maxLength": 100
          },
          "code": {
            "type": "string",
            "maxLength": 20
          },
          "subdomainId": {
            "type": "string"
          },
          "competencyItems": {
            "type": "array",
            "description": "C1-C5 items with descriptions and scores. Total score should be 100",
            "minItems": 1,
            "maxItems": 5,
            "items": {
              "$ref": "#/components/schemas/CompetencyItemInput"
            }
          },
          "isActive": {
            "type": "boolean",
            "default": true
          }
        }
      },
      "CompetencyItem": {
        "type": "object",
        "properties": {
          "code": {
            "type": "string",
            "enum": [
              "C1",
              "C2",
              "C3",
              "C4",
              "C5"
            ]
          },
          "description": {
            "type": "string",
            "maxLength": 500
          },
          "score": {
            "type": "number",
            "minimum": 0,
            "maximum": 100
          }
        }
      },
      "CompetencyItemInput": {
        "type": "object",
        "required": [
          "code",
          "description",
          "score"
        ],
        "properties": {
          "code": {
            "type": "string",
            "enum": [
              "C1",
              "C2",
              "C3",
              "C4",
              "C5"
            ],
            "example": "C1"
          },
          "description": {
            "type": "string",
            "maxLength": 500,
            "example": "Understand basic concepts"
          },
          "score": {
            "type": "number",
            "minimum": 0,
            "maximum": 100,
            "example": 20
          }
        }
      },
      "Question": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "description": "Unique question identifier",
            "example": "q_789012"
          },
          "questionText": {
            "type": "string",
            "description": "The question text",
            "example": "What is the output of print(2 ** 3)?"
          },
          "questionType": {
            "$ref": "#/components/schemas/QuestionType"
          },
          "domainId": {
            "type": "string",
            "description": "Domain ID",
            "example": "dom_123456"
          },
          "domainName": {
            "type": "string",
            "description": "Domain name (read-only)",
            "example": "Coding"
          },
          "competencyCode": {
            "type": "string",
            "description": "Competency code (C1-C5)",
            "enum": [
              "C1",
              "C2",
              "C3",
              "C4",
              "C5"
            ],
            "example": "C1"
          },
          "options": {
            "type": "array",
            "description": "Answer options (for Single Choice and Multiple Choice only)",
            "items": {
              "$ref": "#/components/schemas/QuestionOption"
            }
          },
          "correctAnswers": {
            "type": "array",
            "description": "Correct answers array (for Fill in the blanks only)",
            "items": {
              "type": "string"
            },
            "example": [
              "def",
              "return"
            ]
          },
          "marks": {
            "type": "number",
            "description": "Marks allocated to this question",
            "example": 2
          },
          "explanation": {
            "type": "string",
            "description": "Explanation for the answer",
            "example": "The ** operator is used for exponentiation"
          },
          "isActive": {
            "type": "boolean",
            "default": true
          },
          "createdAt": {
            "type": "string",
            "format": "date-time"
          },
          "updatedAt": {
            "type": "string",
            "format": "date-time"
          }
        }
      },
      "QuestionInput": {
        "type": "object",
        "required": [
          "questionText",
          "questionType",
          "domainId",
          "competencyCode",
          "marks"
        ],
        "properties": {
          "questionText": {
            "type": "string",
            "description": "The question text. For Fill_in_the_blanks questions, use {{1}}, {{2}}, {{3}} etc. to indicate blanks. Example: 'In Python, {{1}} is used for loops and {{2}} for conditions.'",
            "maxLength": 2000,
            "example": "What is the output of print(2 ** 3)?"
          },
          "questionType": {
            "$ref": "#/components/schemas/QuestionType"
          },
          "domainId": {
            "type": "string",
            "description": "Domain ID",
            "example": "dom_123456"
          },
          "competencyCode": {
            "type": "string",
            "description": "Competency code (C1-C5)",
            "enum": [
              "C1",
              "C2",
              "C3",
              "C4",
              "C5"
            ],
            "example": "C1"
          },
          "options": {
            "type": "array",
            "description": "Answer options (required for Single Choice and Multiple Choice, empty for Fill in the blanks)",
            "items": {
              "$ref": "#/components/schemas/QuestionOptionInput"
            }
          },
          "correctAnswers": {
            "type": "array",
            "description": "Correct answers array (required for Fill_in_the_blanks only). Array order must match blank numbers: {{1}} corresponds to correctAnswers[0], {{2}} to correctAnswers[1], etc. Length must equal number of blanks in questionText.",
            "items": {
              "type": "string"
            },
            "example": [
              "def",
              "return"
            ]
          },
          "marks": {
            "type": "number",
            "description": "Marks allocated to this question",
            "minimum": 0,
            "example": 2
          },
          "explanation": {
            "type": "string",
            "description": "Explanation for the answer",
            "maxLength": 1000
          },
          "isActive": {
            "type": "boolean",
            "default": true
          }
        }
      },
      "QuestionOption": {
        "type": "object",
        "description": "Answer option for Single Choice or Multiple Choice questions",
        "properties": {
          "id": {
            "type": "string",
            "description": "Option ID",
            "example": "opt_111"
          },
          "optionText": {
            "type": "string",
            "description": "Option text",
            "example": "8"
          },
          "isCorrect": {
            "type": "boolean",
            "description": "Whether this option is correct",
            "example": true
          }
        }
      },
      "QuestionOptionInput": {
        "type": "object",
        "required": [
          "optionText",
          "isCorrect"
        ],
        "description": "Input for creating/updating answer options",
        "properties": {
          "optionText": {
            "type": "string",
            "description": "Option text",
            "maxLength": 500,
            "example": "8"
          },
          "isCorrect": {
            "type": "boolean",
            "description": "Whether this option is correct. For Single Choice: only one should be true. For Multiple Choice: one or more can be true.",
            "example": true
          }
        }
      },
      "QuestionType": {
        "type": "string",
        "description": "Type of question",
        "enum": [
          "Single_Choice",
          "Multiple_Choice",
          "Fill_in_the_blanks"
        ],
        "example": "Single_Choice"
      },
      "QuestionListResponse": {
        "type": "object",
        "properties": {
          "data": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Question"
            }
          },
          "pagination": {
            "$ref": "#/components/schemas/Pagination"
          }
        }
      },
      "Pagination": {
        "type": "object",
        "properties": {
          "currentPage": {
            "type": "integer",
            "example": 1
          },
          "totalPages": {
            "type": "integer",
            "example": 5
          },
          "totalItems": {
            "type": "integer",
            "example": 95
          },
          "itemsPerPage": {
            "type": "integer",
            "example": 20
          }
        }
      },
      "Error": {
        "type": "object",
        "properties": {
          "error": {
            "type": "object",
            "properties": {
              "code": {
                "type": "string",
                "example": "VALIDATION_ERROR"
              },
              "message": {
                "type": "string",
                "example": "Invalid input parameters"
              },
              "details": {
                "type": "array",
                "items": {
                  "type": "object",
                  "properties": {
                    "field": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  }
                }
              },
              "timestamp": {
                "type": "string",
                "format": "date-time"
              }
            }
          }
        }
      }
    }
  }
}