{
  "openapi": "3.0.1",
  "info": {
    "title": "OpenAPI definition",
    "version": "v0",
    "x-jentic-source-url": "https://www.cloud-iam.com/",
    "contact": {
      "name": "API Support"
    },
    "description": "OpenAPI definition - OpenAPI Specification"
  },
  "servers": [
    {
      "url": "https://api.cloud-iam.com",
      "description": "Generated server url"
    }
  ],
  "paths": {
    "/users/{userId}/preferences/notifications": {
      "get": {
        "tags": [
          "user-api"
        ],
        "operationId": "getUserNotificationPreferences",
        "parameters": [
          {
            "name": "userId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/UserNotificationsRepresentation"
                }
              }
            }
          }
        },
        "description": "GET /users/{userId}/preferences/notifications"
      },
      "put": {
        "tags": [
          "user-api"
        ],
        "operationId": "setUserNotificationPreferences",
        "parameters": [
          {
            "name": "userId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UserNotificationsRepresentation"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "string"
                }
              }
            }
          }
        },
        "description": "PUT /users/{userId}/preferences/notifications"
      }
    },
    "/deployments/{deploymentId}/upgrade": {
      "put": {
        "tags": [
          "deployment-api"
        ],
        "operationId": "upgradeDeployment",
        "parameters": [
          {
            "name": "deploymentId",
            "in": "path",
            "description": "Deployment id",
            "required": true,
            "schema": {
              "type": "string"
            },
            "example": "e624dd9b-d93d-4c99-aa73-3c1711732583"
          },
          {
            "name": "when",
            "in": "query",
            "description": "When to perform the upgrade (MAINTENANCE_NOW or MAINTENANCE_NEXT_WINDOW)",
            "required": false,
            "schema": {
              "type": "string",
              "default": "MAINTENANCE_NOW",
              "enum": [
                "MAINTENANCE_NOW",
                "MAINTENANCE_NEXT_WINDOW"
              ]
            }
          },
          {
            "name": "version",
            "in": "query",
            "description": "Target version to upgrade to",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/vnd.cloud-iam.v2+json": {
                "schema": {
                  "type": "object",
                  "additionalProperties": {
                    "type": "object"
                  }
                }
              },
              "application/json": {
                "schema": {
                  "type": "object",
                  "additionalProperties": {
                    "type": "object"
                  }
                }
              }
            }
          }
        },
        "description": "PUT /deployments/{deploymentId}/upgrade"
      }
    },
    "/deployments/{deploymentId}/extensions/jars/{customExtensionId}": {
      "put": {
        "tags": [
          "deployments"
        ],
        "description": "Update the CustomExtension identified by its unique id. This update all fields.",
        "operationId": "updateCustomExtension",
        "parameters": [
          {
            "name": "deploymentId",
            "in": "path",
            "description": "Unique id of the Deployment to update",
            "required": true,
            "schema": {
              "type": "string"
            },
            "example": "e624dd9b-d93d-4c99-aa73-3c1711732583"
          },
          {
            "name": "customExtensionId",
            "in": "path",
            "description": "Unique id of the CustomExtension to update",
            "required": true,
            "schema": {
              "type": "string"
            },
            "example": "e624dd9b-d93d-4c99-aa73-3c1711732583"
          },
          {
            "name": "filename",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "multipart/form-data": {
              "schema": {
                "required": [
                  "extension"
                ],
                "type": "object",
                "properties": {
                  "extension": {
                    "type": "string",
                    "description": "The file to upload",
                    "format": "binary"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK"
          }
        },
        "deprecated": true
      },
      "delete": {
        "tags": [
          "deployments"
        ],
        "description": "Remove the CustomExtension by it unique identifier.",
        "operationId": "deleteCustomExtension",
        "parameters": [
          {
            "name": "deploymentId",
            "in": "path",
            "description": "Unique identifier of the CustomExtension to remove",
            "required": true,
            "schema": {
              "type": "string"
            },
            "example": "e624dd9b-d93d-4c99-aa73-3c1711732583"
          },
          {
            "name": "customExtensionId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          }
        },
        "deprecated": true
      }
    },
    "/deployments/{deploymentId}/envvars": {
      "get": {
        "tags": [
          "deployments"
        ],
        "description": "Get a deployment environment variables",
        "operationId": "getEnvVarsForDeployment",
        "parameters": [
          {
            "name": "deploymentId",
            "in": "path",
            "description": "deployment id",
            "required": true,
            "schema": {
              "type": "string"
            },
            "example": "e624dd9b-d93d-4c99-aa73-3c1711732583"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/EnvVarsRepresentation"
                }
              }
            }
          }
        }
      },
      "put": {
        "tags": [
          "deployments"
        ],
        "description": "Environment variables let you pass information to your Keycloak Deployment. Environment variables are persistent–they remain in place across deploys and restarts. Unless you need to change a value, you only need to set it once. Whenever you set or remove an environment variable, your deployment is restarted.",
        "operationId": "setEnvVarsForDeployment",
        "parameters": [
          {
            "name": "deploymentId",
            "in": "path",
            "description": "Deployment id",
            "required": true,
            "schema": {
              "type": "string"
            },
            "example": "e624dd9b-d93d-4c99-aa73-3c1711732583"
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/EnvVarsRepresentation"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK"
          }
        }
      }
    },
    "/deployments/{deploymentId}/crl-files/{fileId}": {
      "get": {
        "tags": [
          "crl-files-api"
        ],
        "description": "Get CRL file metadata",
        "operationId": "downloadCrlFile",
        "parameters": [
          {
            "name": "deploymentId",
            "in": "path",
            "description": "Deployment ID",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "fileId",
            "in": "path",
            "description": "File ID",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/octet-stream": {
                "schema": {
                  "type": "string",
                  "format": "byte"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CrlFileResponseRepresentation"
                }
              }
            }
          }
        }
      },
      "put": {
        "tags": [
          "crl-files-api"
        ],
        "description": "Update an existing CRL file content (hot push, no redeploy)",
        "operationId": "updateCrlFile",
        "parameters": [
          {
            "name": "deploymentId",
            "in": "path",
            "description": "Deployment ID",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "fileId",
            "in": "path",
            "description": "File ID",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "multipart/form-data": {
              "schema": {
                "required": [
                  "file"
                ],
                "type": "object",
                "properties": {
                  "file": {
                    "type": "string",
                    "description": "New CRL file content",
                    "format": "binary"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK"
          }
        }
      },
      "delete": {
        "tags": [
          "crl-files-api"
        ],
        "description": "Delete a CRL file (hot removal, no redeploy)",
        "operationId": "deleteCrlFile",
        "parameters": [
          {
            "name": "deploymentId",
            "in": "path",
            "description": "Deployment ID",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "fileId",
            "in": "path",
            "description": "File ID",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "apply",
            "in": "query",
            "description": "Deprecated - ignored (CRL files are always hot-removed)",
            "required": false,
            "schema": {
              "type": "boolean",
              "default": true
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          }
        }
      }
    },
    "/deployments/{deploymentId}/backups/settings": {
      "get": {
        "tags": [
          "deployments"
        ],
        "description": "Get backup settings for deployment",
        "operationId": "getBackupSettings",
        "parameters": [
          {
            "name": "deploymentId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/vnd.cloud-iam.v2+json": {
                "schema": {
                  "$ref": "#/components/schemas/BackupsSettingsResponseRepresentation"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BackupsSettingsResponseRepresentation"
                }
              }
            }
          }
        }
      },
      "put": {
        "tags": [
          "deployments"
        ],
        "description": "Update backup settings for deployment",
        "operationId": "updateBackupSettings",
        "parameters": [
          {
            "name": "deploymentId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/BackupSettingsUpdateRequestRepresentation"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK"
          }
        }
      }
    },
    "/deployments/{deploymentId}/backups/destinations": {
      "get": {
        "tags": [
          "deployment-backup-destinations-api"
        ],
        "operationId": "getDeploymentBackupDestinations",
        "parameters": [
          {
            "name": "deploymentId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/vnd.cloud-iam.v2+json": {
                "schema": {
                  "$ref": "#/components/schemas/BackupDestinationListDTO"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BackupDestinationListDTO"
                }
              }
            }
          }
        },
        "description": "GET /deployments/{deploymentId}/backups/destinations"
      },
      "put": {
        "tags": [
          "backups"
        ],
        "description": "Update backups destinations for deployment",
        "operationId": "updateDeploymentBackupDestinations",
        "parameters": [
          {
            "name": "deploymentId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UpdateDeploymentBackupLocationsDTO"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK"
          }
        }
      }
    },
    "/deployments/{deploymentId}/allowlist": {
      "get": {
        "tags": [
          "deployments"
        ],
        "description": "Returns the allowlists configured with the current deployment",
        "operationId": "getAllowlistConfiguration",
        "parameters": [
          {
            "name": "deploymentId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/vnd.cloud-iam.v2+json": {
                "schema": {
                  "$ref": "#/components/schemas/AllowlistConfigurationRepresentation"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AllowlistConfigurationRepresentation"
                }
              }
            }
          }
        }
      },
      "put": {
        "tags": [
          "deployments"
        ],
        "description": "Configure the allowlist for the deployment",
        "operationId": "setAllowlistConfiguration",
        "parameters": [
          {
            "name": "deploymentId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/AllowlistConfigurationRepresentation"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK"
          }
        }
      }
    },
    "/jobs/trigger-missing-cold-backups": {
      "post": {
        "tags": [
          "job-api"
        ],
        "description": "Trigger the backup process for missing backups",
        "operationId": "runMissingColdBackups",
        "responses": {
          "200": {
            "description": "OK"
          }
        }
      }
    },
    "/deployments/{deploymentId}/third-parties/{type}": {
      "get": {
        "tags": [
          "third-party-resources-api"
        ],
        "description": "List the third party resources for the deployment.",
        "operationId": "findAllByDeploymentId",
        "parameters": [
          {
            "name": "deploymentId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "type",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/ThirdPartyResourceRepresentation"
                  }
                }
              }
            }
          }
        }
      },
      "post": {
        "tags": [
          "third-party-resources-api"
        ],
        "description": "Create a new third party resource for the deployment.",
        "operationId": "createByDeploymentId",
        "parameters": [
          {
            "name": "deploymentId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "type",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "required": [
                  "content"
                ],
                "type": "object",
                "properties": {
                  "content": {
                    "type": "string",
                    "format": "binary"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        }
      }
    },
    "/deployments/{deploymentId}/extensions/jars": {
      "get": {
        "tags": [
          "deployments"
        ],
        "description": "Search through customs extensions of a deployment",
        "operationId": "search",
        "parameters": [
          {
            "name": "deploymentId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "page",
            "in": "query",
            "description": "Zero-based page index (0..N)",
            "schema": {
              "type": "integer",
              "default": 0
            }
          },
          {
            "name": "size",
            "in": "query",
            "description": "The size of the page to be returned",
            "schema": {
              "type": "integer",
              "default": 20
            }
          },
          {
            "name": "sort",
            "in": "query",
            "description": "Sorting criteria in the format: property,(asc|desc). Default sort order is ascending. Multiple sort criteria are supported.",
            "schema": {
              "type": "array",
              "items": {
                "type": "string"
              }
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/vnd.cloud-iam.v2+json": {
                "schema": {
                  "$ref": "#/components/schemas/PagedModelEntityModelCustomExtension"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PagedModelEntityModelCustomExtension"
                }
              }
            }
          }
        },
        "deprecated": true
      },
      "post": {
        "tags": [
          "deployments"
        ],
        "description": "Create a custom extension",
        "operationId": "createCustomExtension",
        "parameters": [
          {
            "name": "deploymentId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "multipart/form-data": {
              "schema": {
                "required": [
                  "extension"
                ],
                "type": "object",
                "properties": {
                  "extension": {
                    "type": "string",
                    "format": "binary"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK"
          }
        },
        "deprecated": true
      }
    },
    "/deployments/{deploymentId}/exports/": {
      "post": {
        "tags": [
          "deployments"
        ],
        "description": "Trigger a new export request. If a S3 configuration is provided, it will be used to upload the export, otherwise the Cloud-IAM internal storage is used.",
        "operationId": "triggerExport",
        "parameters": [
          {
            "name": "deploymentId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ExportRequestRepresentation"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Resource created",
            "headers": {
              "Location": {
                "description": "The export details url : \"/deployments/{deploymentId}/exports/{exportId}\"",
                "style": "simple",
                "schema": {
                  "type": "string"
                }
              }
            },
            "content": {
              "application/vnd.cloud-iam.v2+json": {
                "schema": {
                  "type": "object"
                }
              },
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        }
      }
    },
    "/deployments/{deploymentId}/crl-files": {
      "get": {
        "tags": [
          "crl-files-api"
        ],
        "description": "List all CRL files for the deployment",
        "operationId": "listCrlFiles",
        "parameters": [
          {
            "name": "deploymentId",
            "in": "path",
            "description": "Deployment ID",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/CrlFileResponseRepresentation"
                  }
                }
              }
            }
          }
        }
      },
      "post": {
        "tags": [
          "crl-files-api"
        ],
        "description": "Upload a new CRL file for the deployment (hot push, no redeploy)",
        "operationId": "uploadCrlFile",
        "parameters": [
          {
            "name": "deploymentId",
            "in": "path",
            "description": "Deployment ID",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "apply",
            "in": "query",
            "description": "Deprecated - ignored (CRL files are always hot-pushed)",
            "required": false,
            "schema": {
              "type": "boolean",
              "default": true
            }
          }
        ],
        "requestBody": {
          "content": {
            "multipart/form-data": {
              "schema": {
                "required": [
                  "file"
                ],
                "type": "object",
                "properties": {
                  "file": {
                    "type": "string",
                    "description": "CRL file to upload",
                    "format": "binary"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CrlFileResponseRepresentation"
                }
              }
            }
          }
        }
      }
    },
    "/contacts/sales": {
      "post": {
        "tags": [
          "contact-api"
        ],
        "operationId": "postSales",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/SalesRequestRepresentation"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "string"
                }
              }
            }
          }
        },
        "description": "POST /contacts/sales"
      }
    },
    "/contacts/feedbacks": {
      "post": {
        "tags": [
          "contact-api"
        ],
        "operationId": "postFeedback",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/FeedbackRequestRepresentation"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "string"
                }
              }
            }
          }
        },
        "description": "POST /contacts/feedbacks"
      }
    },
    "/organizations/{organizationId}/keys": {
      "get": {
        "tags": [
          "organizations"
        ],
        "description": "Get an organization gpg keys",
        "operationId": "getGpgKeys",
        "parameters": [
          {
            "name": "organizationId",
            "in": "path",
            "description": "The unique identifier of the organization to get",
            "required": true,
            "schema": {
              "type": "string"
            },
            "example": "b4c1fdb7-67d2-4851-a3c7-ccbe810f5e0a"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/OrganizationGpgKeysRepresentation_Complete"
                }
              }
            }
          }
        }
      }
    },
    "/organizations/{organizationId}/keys/public-gpg": {
      "get": {
        "tags": [
          "organizations"
        ],
        "description": "Get an organization public gpg keys",
        "operationId": "getPublicGpgKeys",
        "parameters": [
          {
            "name": "organizationId",
            "in": "path",
            "description": "The unique identifier of the organization to get",
            "required": true,
            "schema": {
              "type": "string"
            },
            "example": "b4c1fdb7-67d2-4851-a3c7-ccbe810f5e0a"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/OrganizationGpgKeysRepresentation_Public"
                }
              }
            }
          }
        }
      }
    },
    "/marketplace/extensions/{extensionId}/screenshots/{screenshotId}": {
      "get": {
        "tags": [
          "extensions-api"
        ],
        "operationId": "getExtensionScreenshot",
        "parameters": [
          {
            "name": "extensionId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "screenshotId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/vnd.cloud-iam.v1+json": {
                "schema": {
                  "type": "string",
                  "format": "byte"
                }
              },
              "application/json": {
                "schema": {
                  "type": "string",
                  "format": "byte"
                }
              }
            }
          }
        },
        "description": "GET /marketplace/extensions/{extensionId}/screenshots/{screenshotId}"
      }
    },
    "/marketplace/extensions/{extensionId}/logo": {
      "get": {
        "tags": [
          "extensions-api"
        ],
        "operationId": "getExtensionLogo",
        "parameters": [
          {
            "name": "extensionId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/vnd.cloud-iam.v1+json": {
                "schema": {
                  "type": "string",
                  "format": "byte"
                }
              },
              "application/json": {
                "schema": {
                  "type": "string",
                  "format": "byte"
                }
              }
            }
          }
        },
        "description": "GET /marketplace/extensions/{extensionId}/logo"
      }
    },
    "/deployments": {
      "get": {
        "tags": [
          "deployments"
        ],
        "description": "List all deployments",
        "operationId": "search_1",
        "parameters": [
          {
            "name": "name",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "q",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "dedicated",
            "in": "query",
            "required": false,
            "schema": {
              "type": "boolean"
            }
          },
          {
            "name": "organizationId",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "X-Ciam-Org-Id",
            "in": "header",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "page",
            "in": "query",
            "description": "Zero-based page index (0..N)",
            "schema": {
              "type": "integer",
              "default": 0
            }
          },
          {
            "name": "size",
            "in": "query",
            "description": "The size of the page to be returned",
            "schema": {
              "type": "integer",
              "default": 20
            }
          },
          {
            "name": "sort",
            "in": "query",
            "description": "Sorting criteria in the format: property,(asc|desc). Default sort order is ascending. Multiple sort criteria are supported.",
            "schema": {
              "type": "array",
              "items": {
                "type": "string"
              }
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/vnd.cloud-iam.v2+json": {
                "schema": {
                  "$ref": "#/components/schemas/PagedModelEntityModelDeployment"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PagedModelEntityModelDeployment"
                }
              }
            }
          }
        }
      }
    },
    "/deployments/{deploymentId}": {
      "get": {
        "tags": [
          "deployments"
        ],
        "description": "Retrieve a deployment",
        "operationId": "getDeployment",
        "parameters": [
          {
            "name": "deploymentId",
            "in": "path",
            "description": "deployment id to retrieve",
            "required": true,
            "schema": {
              "type": "string"
            },
            "example": "e624dd9b-d93d-4c99-aa73-3c1711732583"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/vnd.cloud-iam.v2+json": {
                "schema": {
                  "$ref": "#/components/schemas/EntityModelDeployment"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/EntityModelDeployment"
                }
              }
            }
          }
        }
      }
    },
    "/deployments/{deploymentId}/third-parties/{type}/{fileId}": {
      "get": {
        "tags": [
          "third-party-resources-api"
        ],
        "description": "Get the third party resource details for the deployment.",
        "operationId": "findByDeploymentId",
        "parameters": [
          {
            "name": "deploymentId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "type",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "fileId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        }
      },
      "delete": {
        "tags": [
          "third-party-resources-api"
        ],
        "description": "Delete the third party resource for the deployment.",
        "operationId": "deleteByDeploymentId",
        "parameters": [
          {
            "name": "deploymentId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "type",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "fileId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        }
      }
    },
    "/deployments/{deploymentId}/third-parties/": {
      "get": {
        "tags": [
          "third-party-resources-api"
        ],
        "description": "Download the third party resources for the deployment.",
        "operationId": "findAllByDeploymentId_1",
        "parameters": [
          {
            "name": "deploymentId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/ThirdPartyResourceRepresentation"
                  }
                }
              },
              "application/octet-stream": {
                "schema": {
                  "type": "string",
                  "format": "byte"
                }
              }
            }
          }
        }
      }
    },
    "/deployments/{deploymentId}/metrics": {
      "get": {
        "tags": [
          "deployments"
        ],
        "description": "Retrieve Keycloak metrics in OpenMetrics Text Format",
        "operationId": "getMetrics",
        "parameters": [
          {
            "name": "deploymentId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "text/plain": {
                "schema": {
                  "type": "string"
                }
              },
              "application/vnd.cloud-iam.v2+json": {
                "schema": {
                  "type": "string"
                }
              },
              "application/json": {
                "schema": {
                  "type": "string"
                }
              }
            }
          }
        }
      }
    },
    "/deployments/{deploymentId}/maintenance-upgrade": {
      "get": {
        "tags": [
          "deployments"
        ],
        "description": "Get the current upgrade maintenance status for a deployment",
        "operationId": "getMaintenanceStatus",
        "parameters": [
          {
            "name": "deploymentId",
            "in": "path",
            "description": "Deployment id",
            "required": true,
            "schema": {
              "type": "string"
            },
            "example": "e624dd9b-d93d-4c99-aa73-3c1711732583"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/vnd.cloud-iam.v2+json": {
                "schema": {
                  "type": "string"
                }
              },
              "application/json": {
                "schema": {
                  "type": "string"
                }
              }
            }
          }
        }
      }
    },
    "/deployments/{deploymentId}/logs": {
      "get": {
        "tags": [
          "deployments"
        ],
        "description": "Retrieve Keycloak logs",
        "operationId": "getLogs",
        "parameters": [
          {
            "name": "deploymentId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "format": "int32"
            },
            "example": 100
          },
          {
            "name": "since",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "example": "2023-01-01T02:03:30+01:00"
          },
          {
            "name": "until",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "example": "2023-01-02T10:15:30+01:00"
          },
          {
            "name": "source",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "example": "load-balancer|keycloak"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/vnd.cloud-iam.v2+json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "type": "string"
                  }
                }
              },
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "type": "string"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/deployments/{deploymentId}/exports": {
      "get": {
        "tags": [
          "deployments"
        ],
        "description": "Returns the list of exports that were triggered for the deployment",
        "operationId": "getExports",
        "parameters": [
          {
            "name": "deploymentId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/vnd.cloud-iam.v2+json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/ExportRepresentation"
                  }
                }
              },
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/ExportRepresentation"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/deployments/{deploymentId}/exports/{exportId}": {
      "get": {
        "tags": [
          "deployments"
        ],
        "description": "Returns specified export details",
        "operationId": "getExport",
        "parameters": [
          {
            "name": "deploymentId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "exportId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/vnd.cloud-iam.v2+json": {
                "schema": {
                  "$ref": "#/components/schemas/ExportRepresentation"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ExportRepresentation"
                }
              }
            }
          }
        }
      }
    },
    "/backups/{backupToken}/download": {
      "get": {
        "tags": [
          "backups"
        ],
        "description": "Download the backup from token",
        "operationId": "downloadBackup",
        "parameters": [
          {
            "name": "backupToken",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/vnd.cloud-iam.v2+json": {
                "schema": {
                  "type": "string",
                  "format": "binary"
                }
              },
              "application/json": {
                "schema": {
                  "type": "string",
                  "format": "binary"
                }
              }
            }
          }
        }
      }
    },
    "/backups/{backupId}/download-link": {
      "get": {
        "tags": [
          "backups"
        ],
        "description": "Returns the link for backup download",
        "operationId": "downloadLink",
        "parameters": [
          {
            "name": "backupId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          },
          {
            "name": "nbMaxUse",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "format": "int32",
              "default": 1
            }
          },
          {
            "name": "duration",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "format": "int32",
              "default": 15
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/vnd.cloud-iam.v2+json": {
                "schema": {
                  "$ref": "#/components/schemas/GetDownloadLinkResponseRepresentation"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetDownloadLinkResponseRepresentation"
                }
              }
            }
          }
        }
      }
    },
    "/backups-destinations": {
      "get": {
        "tags": [
          "backups-destinations"
        ],
        "description": "Returns the list of backup destinations available",
        "operationId": "getBackupsDestinations",
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/vnd.cloud-iam.v2+json": {
                "schema": {
                  "$ref": "#/components/schemas/BackupDestinationListDTO"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BackupDestinationListDTO"
                }
              }
            }
          }
        }
      }
    }
  },
  "components": {
    "schemas": {
      "UserNotificationsRepresentation": {
        "type": "object",
        "properties": {
          "newsletter": {
            "type": "boolean"
          }
        }
      },
      "EnvVarRepresentation": {
        "type": "object",
        "properties": {
          "name": {
            "type": "string"
          },
          "value": {
            "type": "string"
          },
          "type": {
            "type": "string"
          }
        }
      },
      "EnvVarsRepresentation": {
        "type": "object",
        "properties": {
          "variables": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/EnvVarRepresentation"
            }
          }
        }
      },
      "BackupSettingsUpdateRequestRepresentation": {
        "required": [
          "backupWindowStart",
          "frequency"
        ],
        "type": "object",
        "properties": {
          "frequency": {
            "type": "integer",
            "format": "int32"
          },
          "backupWindowStart": {
            "type": "string"
          }
        }
      },
      "UpdateDeploymentBackupLocationsDTO": {
        "type": "object",
        "properties": {
          "backupsDestinationsId": {
            "type": "array",
            "items": {
              "type": "string"
            }
          }
        }
      },
      "AllowlistConfigurationRepresentation": {
        "type": "object",
        "properties": {
          "admin": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/AllowlistEntryRepresentation"
            }
          },
          "login": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/AllowlistEntryRepresentation"
            }
          }
        }
      },
      "AllowlistEntryRepresentation": {
        "type": "object",
        "properties": {
          "name": {
            "type": "string"
          },
          "directive": {
            "type": "string"
          },
          "source": {
            "type": "string"
          }
        }
      },
      "ExportRequestRepresentation": {
        "type": "object",
        "properties": {
          "destination": {
            "$ref": "#/components/schemas/S3Representation"
          },
          "publicGpgKey": {
            "type": "string",
            "description": "The optional GPG public key to cypher the export",
            "example": "-----BEGIN PGP PUBLIC KEY BLOCK-----\n..."
          }
        }
      },
      "S3Representation": {
        "required": [
          "accessKeyId",
          "bucketName",
          "endpoint",
          "filename",
          "region",
          "secretKey"
        ],
        "type": "object",
        "properties": {
          "endpoint": {
            "minLength": 1,
            "type": "string",
            "description": "The AWS S3 like endpoint url",
            "example": "https://s3.REGION.amazonaws.com"
          },
          "bucketName": {
            "minLength": 1,
            "type": "string",
            "description": "The name of the bucket you will store the export to",
            "example": "my-bucket"
          },
          "accessKeyId": {
            "minLength": 1,
            "type": "string",
            "description": "The access key used to send the export in the bucket",
            "example": "XXXXXXXXXXXXXXXXXXX"
          },
          "secretKey": {
            "minLength": 1,
            "type": "string",
            "description": "The secret key used to send the export in the bucket",
            "example": "XXXXXXXXXXXXXXXXXXX"
          },
          "region": {
            "minLength": 1,
            "type": "string",
            "description": "The AWS region where the bucket is",
            "example": "eu-west-1"
          },
          "filename": {
            "minLength": 1,
            "type": "string",
            "description": "The name of the export file that will be stored in the bucket",
            "example": "my-export.zip"
          }
        }
      },
      "CrlFileResponseRepresentation": {
        "type": "object",
        "properties": {
          "fileId": {
            "type": "string",
            "description": "File ID"
          },
          "filename": {
            "type": "string",
            "description": "Filename"
          },
          "createdAt": {
            "type": "string",
            "description": "Creation date",
            "format": "date-time"
          },
          "updatedAt": {
            "type": "string",
            "description": "Last update date",
            "format": "date-time"
          }
        },
        "description": "CRL file response representation"
      },
      "SalesRequestRepresentation": {
        "type": "object",
        "properties": {
          "message": {
            "type": "string"
          },
          "deploymentId": {
            "type": "string"
          },
          "organizationId": {
            "type": "string"
          }
        }
      },
      "FeedbackRequestRepresentation": {
        "type": "object",
        "properties": {
          "rating": {
            "type": "integer",
            "format": "int32"
          },
          "message": {
            "type": "string"
          },
          "callback": {
            "type": "boolean"
          }
        }
      },
      "OrganizationGpgKeyRepresentation_Complete": {
        "type": "object",
        "properties": {
          "organizationId": {
            "type": "string"
          },
          "keyId": {
            "type": "string"
          },
          "name": {
            "type": "string"
          },
          "value": {
            "type": "string"
          },
          "createdAt": {
            "type": "string",
            "format": "date-time"
          },
          "publicId": {
            "type": "string"
          },
          "expirationDate": {
            "type": "string",
            "format": "date-time"
          }
        }
      },
      "OrganizationGpgKeysRepresentation_Complete": {
        "type": "object",
        "properties": {
          "keys": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/OrganizationGpgKeyRepresentation_Complete"
            }
          }
        }
      },
      "OrganizationGpgKeyRepresentation_Public": {
        "type": "object",
        "properties": {
          "value": {
            "type": "string"
          }
        }
      },
      "OrganizationGpgKeysRepresentation_Public": {
        "type": "object",
        "properties": {
          "keys": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/OrganizationGpgKeyRepresentation_Public"
            }
          }
        }
      },
      "DeploymentStatusEnum": {
        "type": "string",
        "description": "Deployment status",
        "readOnly": true,
        "enum": [
          "RUNNING",
          "CREATING",
          "STARTING",
          "STOPPED",
          "ERROR",
          "UNKNOWN",
          "DELETING"
        ]
      },
      "EntityModelDeployment": {
        "required": [
          "name",
          "pricingPlan"
        ],
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "description": "Deployment id",
            "readOnly": true
          },
          "name": {
            "type": "string",
            "description": "Deployment name (DNS compatible)",
            "readOnly": true
          },
          "checkoutSessionId": {
            "type": "string",
            "description": "The checkout session id that initiate the deployment creation",
            "readOnly": true
          },
          "paymentProvider": {
            "type": "string",
            "description": "Payment provider used to pay for the deployment",
            "readOnly": true,
            "enum": [
              "stripe",
              "e2e",
              "manual",
              "heroku",
              "clever-cloud"
            ]
          },
          "provider": {
            "type": "string",
            "description": "Cloud provider to deploy to",
            "readOnly": true
          },
          "region": {
            "type": "string",
            "description": "Cloud region to deploy to",
            "readOnly": true
          },
          "pricingPlan": {
            "$ref": "#/components/schemas/PricingPlan"
          },
          "billingCycle": {
            "type": "string",
            "description": "Billing cycle"
          },
          "status": {
            "$ref": "#/components/schemas/DeploymentStatusEnum"
          },
          "keycloakAdminUrl": {
            "type": "string"
          },
          "monitorBadgeId": {
            "type": "string"
          },
          "_links": {
            "$ref": "#/components/schemas/Links"
          }
        }
      },
      "PageMetadata": {
        "type": "object",
        "properties": {
          "size": {
            "type": "integer",
            "format": "int64"
          },
          "totalElements": {
            "type": "integer",
            "format": "int64"
          },
          "totalPages": {
            "type": "integer",
            "format": "int64"
          },
          "number": {
            "type": "integer",
            "format": "int64"
          }
        }
      },
      "PagedModelEntityModelDeployment": {
        "type": "object",
        "properties": {
          "_embedded": {
            "type": "object",
            "properties": {
              "deployments": {
                "type": "array",
                "items": {
                  "$ref": "#/components/schemas/EntityModelDeployment"
                }
              }
            }
          },
          "_links": {
            "$ref": "#/components/schemas/Links"
          },
          "page": {
            "$ref": "#/components/schemas/PageMetadata"
          }
        }
      },
      "PricingPlan": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string"
          },
          "name": {
            "type": "string"
          },
          "label": {
            "type": "string"
          },
          "createdAt": {
            "type": "string",
            "format": "date-time"
          },
          "updatedAt": {
            "type": "string",
            "format": "date-time"
          },
          "free": {
            "type": "boolean"
          }
        },
        "description": "A Pricing Plan",
        "deprecated": true
      },
      "ThirdPartyResourceRepresentation": {
        "type": "object",
        "properties": {
          "type": {
            "type": "string"
          },
          "fileId": {
            "type": "string"
          },
          "name": {
            "type": "string"
          },
          "createdAt": {
            "type": "string",
            "format": "date-time"
          },
          "updatedAt": {
            "type": "string",
            "format": "date-time"
          }
        }
      },
      "EntityModelCustomExtension": {
        "type": "object",
        "properties": {
          "fileId": {
            "type": "string"
          },
          "createdBy": {
            "type": "string"
          },
          "filename": {
            "type": "string"
          },
          "createdAt": {
            "type": "string",
            "format": "date-time"
          },
          "updatedAt": {
            "type": "string",
            "format": "date-time"
          },
          "url": {
            "type": "string"
          },
          "status": {
            "type": "string"
          },
          "protected": {
            "type": "boolean"
          },
          "_links": {
            "$ref": "#/components/schemas/Links"
          }
        }
      },
      "PagedModelEntityModelCustomExtension": {
        "type": "object",
        "properties": {
          "_embedded": {
            "type": "object",
            "properties": {
              "customExtensions": {
                "type": "array",
                "items": {
                  "$ref": "#/components/schemas/EntityModelCustomExtension"
                }
              }
            }
          },
          "_links": {
            "$ref": "#/components/schemas/Links"
          },
          "page": {
            "$ref": "#/components/schemas/PageMetadata"
          }
        }
      },
      "ExportRepresentation": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string"
          },
          "name": {
            "type": "string"
          },
          "status": {
            "type": "string"
          },
          "startedAt": {
            "type": "string",
            "format": "date-time"
          },
          "endedAt": {
            "type": "string",
            "format": "date-time"
          },
          "failureReason": {
            "type": "string"
          },
          "url": {
            "type": "string"
          }
        }
      },
      "BackupsSettingsResponseRepresentation": {
        "type": "object",
        "properties": {
          "frequency": {
            "type": "integer",
            "format": "int32"
          },
          "backupWindowStart": {
            "type": "string"
          },
          "createdAt": {
            "type": "string",
            "format": "date-time"
          },
          "updatedAt": {
            "type": "string",
            "format": "date-time"
          }
        }
      },
      "BackupDestinationDTO": {
        "type": "object",
        "properties": {
          "backupDestinationId": {
            "type": "string"
          },
          "provider": {
            "type": "string"
          },
          "name": {
            "type": "string"
          },
          "region": {
            "type": "string"
          }
        }
      },
      "BackupDestinationListDTO": {
        "type": "object",
        "properties": {
          "backupDestinations": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/BackupDestinationDTO"
            }
          }
        }
      },
      "GetDownloadLinkResponseRepresentation": {
        "type": "object",
        "properties": {
          "url": {
            "type": "string",
            "format": "url"
          }
        }
      },
      "Link": {
        "type": "object",
        "properties": {
          "href": {
            "type": "string"
          },
          "hreflang": {
            "type": "string"
          },
          "title": {
            "type": "string"
          },
          "type": {
            "type": "string"
          },
          "deprecation": {
            "type": "string"
          },
          "profile": {
            "type": "string"
          },
          "name": {
            "type": "string"
          },
          "templated": {
            "type": "boolean"
          }
        }
      },
      "Links": {
        "type": "object",
        "additionalProperties": {
          "$ref": "#/components/schemas/Link"
        }
      }
    }
  },
  "tags": [
    {
      "name": "backups"
    },
    {
      "name": "backups-destinations"
    },
    {
      "name": "contact-api"
    },
    {
      "name": "crl-files-api"
    },
    {
      "name": "deployment-api"
    },
    {
      "name": "deployment-backup-destinations-api"
    },
    {
      "name": "deployments"
    },
    {
      "name": "extensions-api"
    },
    {
      "name": "job-api"
    },
    {
      "name": "organizations"
    },
    {
      "name": "third-party-resources-api"
    },
    {
      "name": "user-api"
    }
  ]
}
