{
  "openapi": "3.0.3",
  "info": {
    "description": "Tjenesten leverer informasjon om arbeidsgivers (opplysningspliktiges) innrapporterte utleggstrekk for en inntektsmottaker for en gitt periode.",
    "version": "1.0.0",
    "title": "Utleggstrekk API",
    "termsOfService": "https://www.skatteetaten.no/deling/bruksvilkar-for-delingstjenester",
    "contact": {
      "name": "Brukerstøtte",
      "url": "https://www.skatteetaten.no/deling/kontakt/"
    },
    "x-jentic-source-url": "https://api.swaggerhub.com/apis/skatteetaten/utleggstrekk-api/1.0.0"
  },
  "externalDocs": {
    "description": "Dokumentasjon på Skatteetatens GitHub",
    "url": "https://skatteetaten.github.io/api-dokumentasjon/api/arbeidsforhold"
  },
  "servers": [
    {
      "url": "https://utleggstrekk.api.skatteetaten.no/v1",
      "description": "Produksjon"
    },
    {
      "url": "https://utleggstrekk.api.skatteetaten-test.no/v1",
      "description": "Ekstern test"
    }
  ],
  "security": [
    {
      "maskinporten": [
        "skatteetaten:utleggstrekk"
      ]
    }
  ],
  "components": {
    "securitySchemes": {
      "maskinporten": {
        "type": "http",
        "description": "Maskinporten benyttes for autentisering",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    },
    "schemas": {
      "Feil": {
        "description": "Feilstruktur for alle feilmeldinger.",
        "type": "object",
        "properties": {
          "kode": {
            "type": "string",
            "description": "Feilkode, for maskinell håndtering",
            "example": "UTE-0xx"
          },
          "melding": {
            "type": "string",
            "description": "Beskrivelse av feilen som har oppstått",
            "example": "Oppgitt rettighetspakke er ugyldig."
          },
          "korrelasjonsid": {
            "type": "string",
            "description": "Korrelasjonsid",
            "example": "123e4567-e89b-12d3-a456-426655440000"
          }
        }
      },
      "UtleggstrekkForInntektsmottaker": {
        "type": "object",
        "description": "(<a href='https://data.skatteetaten.no/web/datakatalog/begrep/3b83d3f9-b7a8-43ad-85b5-a6d35538371f'>Begrepsreferanse</a>)",
        "properties": {
          "oppgaveInntektsmottaker": {
            "type": "array",
            "description": "(<a href='https://data.skatteetaten.no/web/datakatalog/begrep/20b52ab8-9fe1-11e5-a9f8-e4115b280940'>Begrepsreferanse</a>)",
            "items": {
              "$ref": "#/components/schemas/OppgaveInntektsmottaker"
            }
          }
        },
        "xml": {
          "namespace": "urn:no:skatteetaten:bruk:delingstjeneste:utleggstrekk:v1"
        },
        "required": [
          "oppgaveInntektsmottaker"
        ]
      },
      "OppgaveInntektsmottaker": {
        "type": "object",
        "description": "(<a href='https://data.skatteetaten.no/web/datakatalog/begrep/20b52ab8-9fe1-11e5-a9f8-e4115b280940'>Begrepsreferanse</a>)",
        "properties": {
          "opplysningspliktigId": {
            "description": "(<a href='https://data.skatteetaten.no/web/datakatalog/begrep/dcfb4778-e484-11e6-9cb3-005056821322'>Begrepsreferanse</a>)",
            "$ref": "#/components/schemas/NorskIdentifikator"
          },
          "virksomhetId": {
            "description": "(<a href='https://data.skatteetaten.no/web/datakatalog/begrep/dcfb4778-e484-11e6-9cb3-005056821322'>Begrepsreferanse</a>)",
            "$ref": "#/components/schemas/NorskIdentifikator"
          },
          "kalendermaaned": {
            "description": "(<a href='https://data.skatteetaten.no/web/datakatalog/begrep/dcfb4756-e484-11e6-9cb3-005056821322'>Begrepsreferanse</a>)",
            "$ref": "#/components/schemas/AarOgMaaned"
          },
          "opprettet": {
            "description": "(<a href='https://data.skatteetaten.no/web/datakatalog/begrep/cbe98920-1a4b-11e9-a7bb-0050568351d2'>Begrepsreferanse</a>)",
            "$ref": "#/components/schemas/DatoTid"
          },
          "ajourholdstidspunkt": {
            "description": "(<a href='https://data.skatteetaten.no/web/datakatalog/begrep/0df14fd1-702b-4d57-aacc-18b9e95b2611'>Begrepsreferanse</a>)",
            "$ref": "#/components/schemas/DatoKlokkeslett"
          },
          "avvik": {
            "type": "array",
            "description": "(<a href='https://data.skatteetaten.no/web/datakatalog/begrep/dcfb4706-e484-11e6-9cb3-005056821322'>Begrepsreferanse</a>)",
            "items": {
              "$ref": "#/components/schemas/Avvik"
            }
          },
          "inntektsmottaker": {
            "description": "(<a href='https://data.skatteetaten.no/web/datakatalog/begrep/dcfb474b-e484-11e6-9cb3-005056821322'>Begrepsreferanse</a>)",
            "$ref": "#/components/schemas/Inntektsmottaker"
          }
        },
        "xml": {
          "namespace": "urn:no:skatteetaten:bruk:delingstjeneste:utleggstrekk:v1"
        }
      },
      "Inntektsmottaker": {
        "type": "object",
        "description": "(<a href='https://data.skatteetaten.no/web/datakatalog/begrep/dcfb474b-e484-11e6-9cb3-005056821322'>Begrepsreferanse</a>)",
        "properties": {
          "norskIdentifikator": {
            "description": "(<a href='https://data.skatteetaten.no/web/datakatalog/begrep/dcfb4778-e484-11e6-9cb3-005056821322'>Begrepsreferanse</a>)",
            "$ref": "#/components/schemas/NorskIdentifikator"
          },
          "internasjonalIdentifikator": {
            "description": "(<a href='https://data.skatteetaten.no/web/datakatalog/begrep/dcfb4752-e484-11e6-9cb3-005056821322'>Begrepsreferanse</a>)",
            "$ref": "#/components/schemas/Tekst"
          },
          "identifiserendeInformasjon": {
            "description": "(<a href='https://data.skatteetaten.no/web/datakatalog/begrep/f031c740-2405-11e7-8e60-0050568351d2'>Begrepsreferanse</a>)",
            "$ref": "#/components/schemas/IdentifiserendeInformasjon"
          },
          "utleggstrekk": {
            "type": "array",
            "description": "(<a href='https://data.skatteetaten.no/web/datakatalog/begrep/3b83d3f9-b7a8-43ad-85b5-a6d35538371f'>Begrepsreferanse</a>)",
            "items": {
              "$ref": "#/components/schemas/Utleggstrekk"
            }
          }
        }
      },
      "Utleggstrekk": {
        "type": "object",
        "description": "(<a href='https://data.skatteetaten.no/web/datakatalog/begrep/3b83d3f9-b7a8-43ad-85b5-a6d35538371f'>Begrepsreferanse</a>)",
        "properties": {
          "beskrivelse": {
            "description": "(<a href='https://data.skatteetaten.no/web/datakatalog/begrep/e69871b6-6100-4018-91ac-8b316049844'>Begrepsreferanse</a>)",
            "$ref": "#/components/schemas/Utleggstrekkbeskrivelse"
          },
          "beloep": {
            "description": "(<a href='https://data.skatteetaten.no/web/datakatalog/begrep/2a372770-2deb-4ba5-9b5c-df8071e4a052'>Begrepsreferanse</a>)",
            "$ref": "#/components/schemas/BeloepSomHeltall"
          },
          "datoForUtleggstrekk": {
            "description": "(<a href='https://data.skatteetaten.no/web/datakatalog/begrep/5c3dcad0-0b1b-4592-9c00-9bea7aec0764'>Begrepsreferanse</a>)",
            "$ref": "#/components/schemas/Dato"
          },
          "avvik": {
            "type": "array",
            "description": "(<a href='https://data.skatteetaten.no/web/datakatalog/begrep/dcfb4706-e484-11e6-9cb3-005056821322'>Begrepsreferanse</a>)",
            "items": {
              "$ref": "#/components/schemas/Avvik"
            }
          }
        }
      },
      "Avvik": {
        "type": "object",
        "description": "(<a href='https://data.skatteetaten.no/web/datakatalog/begrep/dcfb4706-e484-11e6-9cb3-005056821322'>Begrepsreferanse</a>)",
        "properties": {
          "id": {
            "description": "(<a href='https://data.skatteetaten.no/web/datakatalog/begrep/dcfb4708-e484-11e6-9cb3-005056821322'>Begrepsreferanse</a>)",
            "$ref": "#/components/schemas/Tekst"
          },
          "navn": {
            "description": "(<a href='https://data.skatteetaten.no/web/datakatalog/begrep/dcfb4709-e484-11e6-9cb3-005056821322'>Begrepsreferanse</a>)",
            "$ref": "#/components/schemas/Tekst"
          },
          "alvorlighetsgrad": {
            "description": "(<a href='https://data.skatteetaten.no/web/datakatalog/begrep/dcfb46e2-e484-11e6-9cb3-005056821322'>Begrepsreferanse</a>)",
            "$ref": "#/components/schemas/Tekst"
          }
        }
      },
      "IdentifiserendeInformasjon": {
        "type": "object",
        "description": "(<a href='https://data.skatteetaten.no/web/datakatalog/begrep/f031c740-2405-11e7-8e60-0050568351d2'>Begrepsreferanse</a>)",
        "properties": {
          "navn": {
            "description": "",
            "$ref": "#/components/schemas/TekstMedRestriksjon"
          },
          "foedselsdato": {
            "description": "",
            "$ref": "#/components/schemas/Dato"
          },
          "ansattnummer": {
            "description": "",
            "$ref": "#/components/schemas/TekstMedRestriksjon"
          }
        }
      },
      "Utleggstrekkbeskrivelse": {
        "type": "string",
        "description": "(<a href='1fca270c-de7a-4b84-8b83-100c989662c0'>Kodelistereferanse</a>) (<a href='https://data.skatteetaten.no/web/datakatalog/begrep/e69871b6-6100-4018-91ac-8b3160498444'>Begrepsreferanse</a>)"
      },
      "NorskIdentifikator": {
        "type": "string",
        "description": "(<a href='https://data.skatteetaten.no/web/datakatalog/begrep/dcfb4778-e484-11e6-9cb3-005056821322'>Begrepsreferanse</a>)"
      },
      "AarOgMaaned": {
        "type": "string",
        "description": "årstall og måned angitt i nummer (<a href='https://data.skatteetaten.no/web/datakatalog/begrep/20b2e149-9fe1-11e5-a9f8-e4115b280940'>Begrepsreferanse</a>)",
        "pattern": "^(19|20)\\d\\d-(0[1-9]|1[012])$"
      },
      "DatoTid": {
        "type": "string",
        "description": "",
        "format": "date-time"
      },
      "DatoKlokkeslett": {
        "type": "string",
        "description": "en kombinasjon av typene Dato og Klokkeslett. Kodes som en tekststreng etter datoformatering spesifisert i ISO 8601 (ISO 8601:2004 Data elements and interchange formats -- Information interchange -- Representation of dates and times). (<a href='https://data.skatteetaten.no/web/datakatalog/begrep/20b52aee-9fe1-11e5-a9f8-e4115b280940'>Begrepsreferanse</a>)",
        "format": "date-time"
      },
      "Tekst": {
        "type": "string",
        "description": "vilkårlig lang sekvens av tegn inkludert aksenter og spesielle tegn fra standardiserte tegnsett (<a href='https://data.skatteetaten.no/web/datakatalog/begrep/20b52af3-9fe1-11e5-a9f8-e4115b280940'>Begrepsreferanse</a>)",
        "maxLength": 4000
      },
      "BeloepSomHeltall": {
        "type": "integer",
        "description": "en sum av penger i hele kroner brukt i en kontekst. Dette kan være en transaksjon, saldo o.l. (<a href='https://data.skatteetaten.no/web/datakatalog/begrep/20b2e146-9fe1-11e5-a9f8-e4115b280940'>Begrepsreferanse</a>)",
        "format": "int64"
      },
      "Dato": {
        "type": "string",
        "description": "gir verdier for år, måned og dag. Kodes som en tekststreng etter datoformatering spesifisert i  ISO 8601 (ISO 8601:2004 Data elements and interchange formats -- Information interchange -- Representation of dates and times). Eksempel : 1998-12-21 eller 19981221. (<a href='https://data.skatteetaten.no/web/datakatalog/begrep/20b52aed-9fe1-11e5-a9f8-e4115b280940'>Begrepsreferanse</a>)",
        "format": "date"
      },
      "TekstMedRestriksjon": {
        "type": "string",
        "description": ""
      }
    }
  },
  "paths": {
    "/{rettighetspakke}/person/{personidentifikator}": {
      "get": {
        "summary": "Hent utleggstrekk for inntektsmottaker (person)",
        "description": "Informasjon om arbeidsgivers (opplysningspliktiges) innrapporterte utleggstrekk for en inntektsmottaker (person) for en gitt periode.",
        "operationId": "hentUtleggstrekkForPerson",
        "tags": [
          "utleggstrekk"
        ],
        "parameters": [
          {
            "name": "rettighetspakke",
            "in": "path",
            "description": "Datakonsumenter plasseres i en rettighetspakke (per datasett) basert på en juridisk vurdering. Rettighetspakken styrer skjermingsregler, filtrering og detaljering som benyttes når det gis innsyn i data i datasett.",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "personidentifikator",
            "in": "path",
            "description": "personidentifikator",
            "required": true,
            "schema": {
              "type": "string"
            },
            "example": 12345678901
          },
          {
            "name": "virksomhet",
            "in": "query",
            "description": "Identifikator (Organisasjonsnummer, fødselsnummer eller d-nummer) for virksomhet.",
            "required": false,
            "schema": {
              "type": "string"
            },
            "example": 123456789
          },
          {
            "name": "opplysningspliktig",
            "in": "query",
            "description": "Identifikator (Organisasjonsnummer, fødselsnummer eller d-nummer) for opplysningspliktig.",
            "required": false,
            "schema": {
              "type": "string"
            },
            "example": 12345678901
          },
          {
            "name": "fraOgMed",
            "in": "query",
            "description": "Fra og med hvilken periode innrapporterte opplysninger skal leveres.",
            "required": true,
            "schema": {
              "type": "string"
            },
            "example": "2024-01"
          },
          {
            "name": "tilOgMed",
            "in": "query",
            "description": "Til og med hvilken periode innrapporterte opplysninger skal leveres. Dersom tilOgMed ikke er satt brukes inneværende år og måned som parameter.",
            "required": false,
            "schema": {
              "type": "string"
            },
            "example": "2025-01"
          },
          {
            "name": "historikk",
            "in": "query",
            "description": "historikk – boolean (default false): false – bare sist rapporterte opplysninger (gjeldende opplysninger) for en periode vil bli returnert. True - alle rapporterte opplysninger i en periode vil bli returnert",
            "required": false,
            "schema": {
              "type": "boolean",
              "default": false
            },
            "example": "true"
          },
          {
            "name": "Korrelasjonsid",
            "in": "header",
            "description": "Korrelasjonsid, unik identifikator for den tekniske forespørselen. Må være på UUID-format",
            "required": false,
            "schema": {
              "type": "string",
              "format": "uuid"
            },
            "example": "123e4567-e89b-12d3-a456-426655440000"
          }
        ],
        "responses": {
          "200": {
            "description": "Gyldig respons",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/UtleggstrekkForInntektsmottaker"
                }
              }
            }
          },
          "default": {
            "description": "Alle feil fra applikasjonen kommer på følgende format",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Feil"
                }
              }
            }
          }
        }
      }
    },
    "/{rettighetspakke}/virksomhet/{virksomhetsidentifikator}": {
      "get": {
        "summary": "Hent utleggstrekk for inntektsmottaker (virksomhet)",
        "description": "Informasjon om arbeidsgivers (opplysningspliktiges) innrapporterte utleggstrekk for en inntektsmottaker (virksomhet) for en gitt periode.",
        "operationId": "hentUtleggstrekkForVirksomhet",
        "tags": [
          "utleggstrekk"
        ],
        "parameters": [
          {
            "name": "rettighetspakke",
            "in": "path",
            "description": "Datakonsumenter plasseres i en rettighetspakke (per datasett) basert på en juridisk vurdering. Rettighetspakken styrer skjermingsregler, filtrering og detaljering som benyttes når det gis innsyn i data i datasett.",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "virksomhetsidentifikator",
            "in": "path",
            "description": "Identifikator (Organisasjonsnummer, fødselsnummer eller d-nummer) for virksomhet.",
            "required": true,
            "schema": {
              "type": "string"
            },
            "example": 12345678901
          },
          {
            "name": "person",
            "in": "query",
            "description": "Personidentifikator",
            "required": false,
            "schema": {
              "type": "string"
            },
            "example": 123456789
          },
          {
            "name": "fraOgMed",
            "in": "query",
            "description": "Fra og med hvilken periode innrapporterte opplysninger skal leveres.",
            "required": true,
            "schema": {
              "type": "string"
            },
            "example": "2024-01"
          },
          {
            "name": "tilOgMed",
            "in": "query",
            "description": "Til og med hvilken periode innrapporterte opplysninger skal leveres. Dersom tilOgMed ikke er satt brukes inneværende år og måned som parameter.",
            "required": false,
            "schema": {
              "type": "string"
            },
            "example": "2025-01"
          },
          {
            "name": "historikk",
            "in": "query",
            "description": "historikk – boolean (default false): false – bare sist rapporterte opplysninger (gjeldende opplysninger) for en periode vil bli returnert. True - alle rapporterte opplysninger i en periode vil bli returnert",
            "required": false,
            "schema": {
              "type": "boolean",
              "default": false
            },
            "example": "true"
          },
          {
            "name": "Korrelasjonsid",
            "in": "header",
            "description": "Korrelasjonsid, unik identifikator for den tekniske forespørselen. Må være på UUID-format",
            "required": false,
            "schema": {
              "type": "string",
              "format": "uuid"
            },
            "example": "123e4567-e89b-12d3-a456-426655440000"
          }
        ],
        "responses": {
          "200": {
            "description": "Gyldig respons",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/UtleggstrekkForInntektsmottaker"
                }
              }
            }
          },
          "default": {
            "description": "Alle feil fra applikasjonen kommer på følgende format",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Feil"
                }
              }
            }
          }
        }
      }
    },
    "/{rettighetspakke}/{id}": {
      "get": {
        "summary": "Hent informasjon om utleggstrekk for gitt ID",
        "description": "Informasjon om arbeidsgivers (opplysningspliktiges) innrapporterte utleggstrekk for en inntektsmottaker for en gitt periode.",
        "operationId": "hentUtleggstrekkMedId",
        "tags": [
          "utleggstrekk"
        ],
        "parameters": [
          {
            "name": "rettighetspakke",
            "in": "path",
            "description": "Datakonsumenter plasseres i en rettighetspakke (per datasett) basert på en juridisk vurdering. Rettighetspakken styrer skjermingsregler, filtrering og detaljering som benyttes når det gis innsyn i data i datasett.",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "id",
            "in": "path",
            "description": "loggId fra hendelse",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            },
            "example": 100
          },
          {
            "name": "Korrelasjonsid",
            "in": "header",
            "description": "Korrelasjonsid, unik identifikator for den tekniske forespørselen. Må være på UUID-format",
            "required": false,
            "schema": {
              "type": "string",
              "format": "uuid"
            },
            "example": "123e4567-e89b-12d3-a456-426655440000"
          }
        ],
        "responses": {
          "200": {
            "description": "Gyldig respons",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/UtleggstrekkForInntektsmottaker"
                }
              }
            }
          },
          "default": {
            "description": "Alle feil fra applikasjonen kommer på følgende format",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Feil"
                }
              }
            }
          }
        }
      }
    }
  }
}