{
  "openapi": "3.0.3",
  "info": {
    "title": "SSL Labs API",
    "version": "3.0.0",
    "description": "Qualys SSL Labs API provides programmatic access to SSL/TLS server testing and analysis. This free online service performs a deep analysis of the configuration of any SSL web server on the public Internet.",
    "x-jentic-source-url": "https://github.com/ssllabs/ssllabs-scan/blob/stable/ssllabs-api-docs-v3.md",
    "contact": {
      "name": "API Support"
    }
  },
  "servers": [
    {
      "url": "https://api.ssllabs.com/api/v3"
    }
  ],
  "paths": {
    "/info": {
      "get": {
        "operationId": "getInfo",
        "summary": "Check SSL Labs availability",
        "description": "This call should be used to check the availability of the SSL Labs servers, retrieve the engine and criteria version, and initialize the maximum number of concurrent assessments. Returns the engine version, rating criteria version, and the maximum number of assessments the client is allowed to initiate.",
        "tags": [
          "Info"
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Info"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "429": {
            "description": "Too many requests - client is sending too many requests",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "503": {
            "description": "Service is not available - engine is overloaded",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/analyze": {
      "get": {
        "operationId": "analyze",
        "summary": "Invoke assessment and check progress",
        "description": "This call is used to initiate an assessment, or to retrieve the status of an assessment in progress or in the cache. It will return a single Host object on success. The assessment parameters are only used when starting a new assessment; if there's already an assessment in progress, those parameters are silently ignored.",
        "tags": [
          "Assessment"
        ],
        "parameters": [
          {
            "name": "host",
            "in": "query",
            "required": true,
            "description": "Hostname to analyze (e.g., www.ssllabs.com)",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "publish",
            "in": "query",
            "required": false,
            "description": "Set to 'on' to publish results on the SSL Labs website",
            "schema": {
              "type": "string",
              "enum": [
                "on",
                "off"
              ],
              "default": "off"
            }
          },
          {
            "name": "startNew",
            "in": "query",
            "required": false,
            "description": "Set to 'on' to start a new assessment. If there's already an assessment in progress, invocation with this parameter will return the results for the in-progress assessment.",
            "schema": {
              "type": "string",
              "enum": [
                "on",
                "off"
              ]
            }
          },
          {
            "name": "fromCache",
            "in": "query",
            "required": false,
            "description": "Set to 'on' to always deliver cached assessment reports if available. This parameter is intended for API consumers that don't want to wait for assessment results. Can't be used simultaneously with startNew.",
            "schema": {
              "type": "string",
              "enum": [
                "on",
                "off"
              ]
            }
          },
          {
            "name": "maxAge",
            "in": "query",
            "required": false,
            "description": "Maximum report age, in hours. If there's a cached assessment older than this, a new assessment will start. This parameter is intended for API consumers that need current results.",
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "all",
            "in": "query",
            "required": false,
            "description": "Set to 'done' to return full information about endpoints only when the assessment is complete; set to 'on' to return full information about endpoints always.",
            "schema": {
              "type": "string",
              "enum": [
                "on",
                "done"
              ]
            }
          },
          {
            "name": "ignoreMismatch",
            "in": "query",
            "required": false,
            "description": "Set to 'on' to proceed with assessments on misconfigured sites. Default is 'off'.",
            "schema": {
              "type": "string",
              "enum": [
                "on",
                "off"
              ],
              "default": "off"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response - returns Host object with assessment status and results",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Host"
                }
              }
            }
          },
          "400": {
            "description": "Bad request - invocation error (e.g., invalid parameters)",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "429": {
            "description": "Too many requests - client is requesting assessments too often",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "503": {
            "description": "Service not available - the engine is overloaded",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/getEndpointData": {
      "get": {
        "operationId": "getEndpointData",
        "summary": "Retrieve detailed endpoint information",
        "description": "This call is used to retrieve detailed endpoint information. It will return a single Endpoint object on success. The endpoint is identified by a combination of host and IP address (s parameter).",
        "tags": [
          "Assessment"
        ],
        "parameters": [
          {
            "name": "host",
            "in": "query",
            "required": true,
            "description": "Hostname of the server being assessed",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "s",
            "in": "query",
            "required": true,
            "description": "Endpoint IP address",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "fromCache",
            "in": "query",
            "required": false,
            "description": "Set to 'on' to return cached results if available",
            "schema": {
              "type": "string",
              "enum": [
                "on",
                "off"
              ]
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response - returns detailed Endpoint object",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Endpoint"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/getStatusCodes": {
      "get": {
        "operationId": "getStatusCodes",
        "summary": "Retrieve known status codes",
        "description": "This call will return one StatusCodes instance containing a map of all status codes used by SSL Labs assessment.",
        "tags": [
          "Info"
        ],
        "responses": {
          "200": {
            "description": "Successful response - returns StatusCodes object",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/StatusCodes"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/getRootCertsRaw": {
      "get": {
        "operationId": "getRootCertsRaw",
        "summary": "Retrieve root certificates",
        "description": "This call returns the latest root certificates used for trust validation.",
        "tags": [
          "Certificates"
        ],
        "parameters": [
          {
            "name": "trustStore",
            "in": "query",
            "required": false,
            "description": "Trust store to retrieve (1=Mozilla, 2=Apple macOS, 3=Android, 4=Java, 5=Windows)",
            "schema": {
              "type": "integer",
              "enum": [
                1,
                2,
                3,
                4,
                5
              ]
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response - returns PEM-encoded root certificates",
            "content": {
              "text/plain": {
                "schema": {
                  "type": "string"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    }
  },
  "components": {
    "schemas": {
      "Info": {
        "type": "object",
        "properties": {
          "engineVersion": {
            "type": "string",
            "description": "SSL Labs software version as a string (e.g., '2.2.0')"
          },
          "criteriaVersion": {
            "type": "string",
            "description": "Rating criteria version as a string (e.g., '2009q')"
          },
          "maxAssessments": {
            "type": "integer",
            "description": "The maximum number of concurrent assessments the client is allowed to initiate"
          },
          "currentAssessments": {
            "type": "integer",
            "description": "The number of ongoing assessments submitted by this client"
          },
          "newAssessmentCoolOff": {
            "type": "integer",
            "description": "The cool-off period after each new assessment, in milliseconds. You're not allowed to submit a new assessment before the cool-off expires."
          },
          "messages": {
            "type": "array",
            "items": {
              "type": "string"
            },
            "description": "A list of messages"
          }
        }
      },
      "Host": {
        "type": "object",
        "properties": {
          "host": {
            "type": "string",
            "description": "Assessment host"
          },
          "port": {
            "type": "integer",
            "description": "Assessment port (e.g., 443)"
          },
          "protocol": {
            "type": "string",
            "description": "Protocol (e.g., http)"
          },
          "isPublic": {
            "type": "boolean",
            "description": "True if this assessment is publicly visible"
          },
          "status": {
            "type": "string",
            "description": "Assessment status; possible values: DNS, ERROR, IN_PROGRESS, READY",
            "enum": [
              "DNS",
              "ERROR",
              "IN_PROGRESS",
              "READY"
            ]
          },
          "statusMessage": {
            "type": "string",
            "description": "Status message in English"
          },
          "startTime": {
            "type": "integer",
            "format": "int64",
            "description": "Assessment starting time, in milliseconds since 1970"
          },
          "testTime": {
            "type": "integer",
            "format": "int64",
            "description": "Assessment completion time, in milliseconds since 1970"
          },
          "engineVersion": {
            "type": "string",
            "description": "Assessment engine version"
          },
          "criteriaVersion": {
            "type": "string",
            "description": "Grading criteria version"
          },
          "cacheExpiryTime": {
            "type": "integer",
            "format": "int64",
            "description": "When the cached assessment will expire, in milliseconds since 1970"
          },
          "endpoints": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Endpoint"
            },
            "description": "List of endpoints"
          },
          "certHostnames": {
            "type": "array",
            "items": {
              "type": "string"
            },
            "description": "The list of certificate hostnames collected from the certificates seen during assessment"
          }
        }
      },
      "Endpoint": {
        "type": "object",
        "properties": {
          "ipAddress": {
            "type": "string",
            "description": "Endpoint IP address"
          },
          "serverName": {
            "type": "string",
            "description": "Server name retrieved via reverse DNS"
          },
          "statusMessage": {
            "type": "string",
            "description": "Assessment status message"
          },
          "statusDetails": {
            "type": "string",
            "description": "Code of the operation currently in progress"
          },
          "statusDetailsMessage": {
            "type": "string",
            "description": "Description of the operation currently in progress"
          },
          "grade": {
            "type": "string",
            "description": "Possible values: A+, A, A-, B, C, D, E, F, T, M"
          },
          "gradeTrustIgnored": {
            "type": "string",
            "description": "Grade ignoring trust issues"
          },
          "futureGrade": {
            "type": "string",
            "description": "If present, indicates what the grade will be after trust issues are resolved"
          },
          "hasWarnings": {
            "type": "boolean",
            "description": "If true, the endpoint has warnings"
          },
          "isExceptional": {
            "type": "boolean",
            "description": "If true, the endpoint has exceptional configuration"
          },
          "progress": {
            "type": "integer",
            "description": "Assessment progress (0-100)"
          },
          "duration": {
            "type": "integer",
            "description": "Assessment duration, in milliseconds"
          },
          "delegation": {
            "type": "integer",
            "description": "Indicates domain name delegation with and without the www prefix"
          },
          "details": {
            "$ref": "#/components/schemas/EndpointDetails"
          }
        }
      },
      "EndpointDetails": {
        "type": "object",
        "properties": {
          "hostStartTime": {
            "type": "integer",
            "format": "int64"
          },
          "certChains": {
            "type": "array",
            "items": {
              "type": "object"
            }
          },
          "protocols": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Protocol"
            }
          },
          "suites": {
            "type": "array",
            "items": {
              "type": "object"
            }
          },
          "serverSignature": {
            "type": "string"
          },
          "prefixDelegation": {
            "type": "boolean"
          },
          "nonPrefixDelegation": {
            "type": "boolean"
          },
          "vulnBeast": {
            "type": "boolean"
          },
          "renegSupport": {
            "type": "integer"
          },
          "sessionResumption": {
            "type": "integer"
          },
          "compressionMethods": {
            "type": "integer"
          },
          "supportsNpn": {
            "type": "boolean"
          },
          "npnProtocols": {
            "type": "string"
          },
          "supportsAlpn": {
            "type": "boolean"
          },
          "alpnProtocols": {
            "type": "string"
          },
          "sessionTickets": {
            "type": "integer"
          },
          "ocspStapling": {
            "type": "boolean"
          },
          "staplingRevocationStatus": {
            "type": "integer"
          },
          "sniRequired": {
            "type": "boolean"
          },
          "httpStatusCode": {
            "type": "integer"
          },
          "supportsRc4": {
            "type": "boolean"
          },
          "rc4WithModern": {
            "type": "boolean"
          },
          "rc4Only": {
            "type": "boolean"
          },
          "forwardSecrecy": {
            "type": "integer"
          },
          "protocolIntolerance": {
            "type": "integer"
          },
          "miscIntolerance": {
            "type": "integer"
          },
          "heartbleed": {
            "type": "boolean"
          },
          "heartbeat": {
            "type": "boolean"
          },
          "openSslCcs": {
            "type": "integer"
          },
          "openSSLLuckyMinus20": {
            "type": "integer"
          },
          "ticketbleed": {
            "type": "integer"
          },
          "bleichenbacher": {
            "type": "integer"
          },
          "poodle": {
            "type": "boolean"
          },
          "poodleTls": {
            "type": "integer"
          },
          "fallbackScsv": {
            "type": "boolean"
          },
          "freak": {
            "type": "boolean"
          },
          "hasSct": {
            "type": "integer"
          },
          "hstsPolicy": {
            "type": "object"
          },
          "hstsPreloads": {
            "type": "array",
            "items": {
              "type": "object"
            }
          },
          "hpkpPolicy": {
            "type": "object"
          },
          "hpkpRoPolicy": {
            "type": "object"
          },
          "drownHosts": {
            "type": "array",
            "items": {
              "type": "object"
            }
          },
          "drownErrors": {
            "type": "boolean"
          },
          "drownVulnerable": {
            "type": "boolean"
          }
        }
      },
      "Protocol": {
        "type": "object",
        "properties": {
          "id": {
            "type": "integer"
          },
          "name": {
            "type": "string"
          },
          "version": {
            "type": "string"
          }
        }
      },
      "StatusCodes": {
        "type": "object",
        "properties": {
          "statusDetails": {
            "type": "object",
            "additionalProperties": {
              "type": "string"
            },
            "description": "A map containing all status details codes and corresponding English translations"
          }
        }
      },
      "ErrorResponse": {
        "type": "object",
        "properties": {
          "errors": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "message": {
                  "type": "string"
                }
              }
            }
          },
          "status": {
            "type": "string",
            "enum": [
              "error"
            ]
          },
          "message": {
            "type": "string"
          }
        }
      }
    },
    "securitySchemes": {}
  },
  "tags": [
    {
      "name": "Assessment"
    },
    {
      "name": "Certificates"
    },
    {
      "name": "Info"
    }
  ]
}
