{
  "openapi": "3.0.1",
  "info": {
    "title": "ServiceNetwork (GSP) - Version 1.0.1",
    "description": "# ASP Integration Endpoints - Google\n## Typical Transaction Flow\n\n| Action | Endpoint | Status Code | Description |\n| ----- | ----- | ----- | ----- |\n| Get Device | `GET /sctapi/device{device_id}` | **n/a** | Retrieve device warranty status and confirm authorization to repair a product line. Extended Warranty information provided if applicable. Important `notes` included to indicate when a device may be eligible for extended repair to display as alert to user.|\n| Create Claim | `POST /sctapi/claims` | **received** | Create a new claim/rma. Returns `claim.id` and `authorizer_reference` (Google RMA ID). Extended Warranty information provided if applicable. Important `notes` included to indicate when a device may be eligible for extended repair to display as alert to user.|\n| Submit Triage | `PUT /sctapi/claims/{claim_id}` | **triaged**| Send triage codes for disposition. *Repair_Authorized*: suggested repair actions/parts are returned. *Whole_Unit_Replacement* or *Do_Not_Repair*: Claim is closed and applicable service payments are returned. May be submitted multiple times to add triage codes. If eligible for Extended Repair as designated by `notes` in GET Device and Create Claim responses and device is eligible for a Fix On Touch (FOT) repair additional error response may indicate to include additional triage codes.\n| Initiate Repair | `PUT /sctapi/claims/{claim_id}` | **in_repair** | Records the start of the repair. |\n| Hold Repair* | `PUT /sctapi/claims/{claim_id}` | **on_hold** | Places repair in holding pattern (i.e. awaiting parts). |\n| Resume Repair* | `PUT /sctapi/claims/{claim_id}` | **in_repair** | Resumes repair from hold. |\n| Submit Repair | `PUT /sctapi/claims/{claim_id}` | **in_repair**| Submit repair outcome, completed repair actions and parts used. Returns repair validation outcome and calculated payment totals. May be submitted multiple times to correct errors or update repair details (Note: resubmissions overwrite previous submissions so all defects / repair actions / parts used must be resubmitted with any changes ). |\n| Complete Repair |  `PUT /sctapi/claims/{claim_id}` | **repaired** | Finalizes repair actions and payment from last *Submit Repair* request. Captures overall repair outcome, diagnostic compliance and final imei, serial, and software versions.\n| Device Returned | `PUT /sctapi/claims/{claim_id}` | **returned** | Records when device has been returned to the customer. |\n| Cancel Repair* | `PUT /sctapi/claims/{claim_id}` | **cancelled** | Cancels a Claim/RMA (allowed at any status prior to Complete Repair). |\n*optional flow\n\n\n## Base Endpoints\n* **Test Environment**:  https://googletest.servicecentral.com/sctapi/\n* **Production Environment**: https://google.servicecentral.com/sctapi/\n\n## Authentication\n Requests are authenticated with a base64 encoded key included in the request header.\n\nThe following http header must be sent with all requests:\n\n**X-API-KEY: {Encoded Key}**\n\nThe Test environment key will be provided to the ASP during the onboard phase and production environment key will be provided during connection testing for the Go Live phase.  Keys will be sent via a secure link to the ASP contact responsible for handling key configuration.\n\nA missing or invalid key will result in a 401 Unauthorized error response.\n\n\n## VERSION NOTES\n* **1.0.1**: Added optional 'url' field to POST/PUT /locations methods - overrides ASP \"Company URL\" in GSP\n",
    "version": "LTS",
    "x-jentic-source-url": "https://api.swaggerhub.com/apis/ServiceCentral_Tech/sn_provider_google/LTS"
  },
  "servers": [
    {
      "description": "GSP UAT environment (OCRS Staging)",
      "url": "https://googletest.servicecentral.com/sctapi"
    },
    {
      "description": "GSP DEV environment (OCRS Autopush)",
      "url": "https://googledev.servicecentral.com/sctapi"
    },
    {
      "description": "SwaggerHub API Auto Mocking",
      "url": "https://virtserver.swaggerhub.com/ServiceCentral_Tech/sn_provider_google/LTS"
    },
    {
      "description": "SwaggerHub API Auto Mocking",
      "url": "https://virtserver.swaggerhub.com/ServiceCentral_Tech/GoogleSN/0.1"
    }
  ],
  "paths": {
    "/claims": {
      "post": {
        "tags": [
          "Claims"
        ],
        "summary": "Create a new claim",
        "description": "## Create Claim/RMA\nInstructions for ASPs:\n- `ticket_gid`: Provide your internal work order ID or sales ID.\n- `location_id`: Provide your store ID, must match `location.gid` from GET /locations response.\n- `equipment.software`: If the device is not operable you may send \"NA\" to indicate the software version on intake is Not Available.\n\n\n**Important**: Capture the `claim.id` from the response to be provided in subsequent API calls to update the Claim/RMA.\n\n\n**Timestamps**: Timestamps should be sent as the local time of the in a format of \"**2021-08-03T06:32:00+00:00**\" with timezone represented. \n",
        "parameters": [
          {
            "name": "x-api-key",
            "in": "header",
            "schema": {
              "type": "string"
            },
            "example": null
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "source": {
                    "type": "string",
                    "enum": [
                      "google"
                    ]
                  },
                  "program": {
                    "type": "string",
                    "enum": [
                      "google-walk-in",
                      "google-mail-in"
                    ]
                  },
                  "status": {
                    "type": "string",
                    "enum": [
                      "received"
                    ],
                    "description": "Report status as received when creating the Claim/RMA\n"
                  },
                  "status_timestamp": {
                    "type": "string"
                  },
                  "type": {
                    "type": "string"
                  },
                  "location_id": {
                    "type": "string",
                    "description": "Provide your store ID, must match location.gid {provider_code}|{location_id})"
                  },
                  "ticket_gid": {
                    "type": "string",
                    "description": "Provide your internal work order ID or sales ID"
                  },
                  "claim": {
                    "type": "object",
                    "properties": {
                      "receipt_type": {
                        "type": "string",
                        "enum": [
                          "WALK_IN",
                          "COURIER",
                          "PACKAGE_CARRIER"
                        ],
                        "description": "Indicates the method device was received by claim location.\n- `WALK_IN`: Device delivered by customer walking into store. Default for google-walk-in program.\n- `COURIER`: Device delivered by non-mail carrier (e.g., motorcycle courier).\n- `PACKAGE_CARRIER`: Device delivered by non-mail carrier (e.g., motorcycle courier). Default for google-mail-in program.\n"
                      },
                      "lead_reference": {
                        "type": "string",
                        "description": "Provide GSP Lead ID (32-char guid) or ASP Lead ID returned to GSP at lead creation to associate lead with claim.\n"
                      }
                    }
                  },
                  "customer": {
                    "type": "object",
                    "properties": {
                      "last_name": {
                        "type": "string"
                      },
                      "pri_phone": {
                        "type": "string"
                      },
                      "first_name": {
                        "type": "string"
                      },
                      "email": {
                        "type": "string"
                      }
                    }
                  },
                  "problem_codes": {
                    "type": "array",
                    "items": {
                      "type": "object",
                      "properties": {
                        "code": {
                          "type": "string",
                          "description": "must match a code retrieved from the GET /defect-codes API"
                        }
                      }
                    }
                  },
                  "equipment": {
                    "type": "object",
                    "properties": {
                      "software": {
                        "type": "string",
                        "description": "provide the build number from device settings"
                      },
                      "serial": {
                        "type": "string"
                      },
                      "imei": {
                        "type": "string"
                      },
                      "sku": {
                        "type": "string",
                        "description": "provide the SKU that was returned from GET /device/{device_id}"
                      }
                    }
                  },
                  "ticketItemsAll": {
                    "type": "array",
                    "description": "Ignore. Not used for Google claims.",
                    "items": {
                      "type": "object",
                      "properties": {
                        "type": {
                          "type": "string",
                          "enum": [
                            "sale"
                          ]
                        },
                        "status": {
                          "type": "string",
                          "enum": [
                            "pending"
                          ]
                        },
                        "quantity": {
                          "type": "integer",
                          "default": 1
                        },
                        "sku": {
                          "type": "string",
                          "maxLength": 45
                        },
                        "serial": {
                          "type": "string",
                          "maxLength": 45
                        }
                      }
                    }
                  }
                },
                "required": [
                  "source",
                  "type",
                  "program",
                  "location_id",
                  "status",
                  "status_timestamp",
                  "ticket_gid",
                  "customer",
                  "equipment"
                ]
              },
              "examples": {
                "Create Claim (google-walk-in)": {
                  "value": {
                    "source": "Google",
                    "type": "claim",
                    "program": "google-walk-in",
                    "location_id": "uat-us-google|19",
                    "status": "received",
                    "status_timestamp": "2021-08-03T06:32:00+00:00",
                    "ticket_gid": "ASPTest|001",
                    "claim": {
                      "receipt_type": "WALK_IN",
                      "lead_reference": "8A07C75AC8F84E1C8795CFD25D5FE69C"
                    },
                    "customer": {
                      "first_name": "FirstName",
                      "last_name": "LastName",
                      "email": "email@mailinator.com",
                      "pri_phone": "920473654"
                    },
                    "equipment": {
                      "serial": "8B7Y0UWS1",
                      "sku": "GA00457-US",
                      "imei": "358328090389936",
                      "software": "RQ3A.210705.001"
                    },
                    "problem_codes": [
                      {
                        "code": "X0013"
                      },
                      {
                        "code": "X0087"
                      },
                      {
                        "code": "X0068"
                      }
                    ]
                  }
                },
                "Create Claim (google-mail-in)": {
                  "value": {
                    "source": "Google",
                    "type": "claim",
                    "program": "google-mail-in",
                    "location_id": "uat-us-google|19",
                    "status": "received",
                    "status_timestamp": "2021-08-03T06:32:00+00:00",
                    "ticket_gid": "ASPTest|001",
                    "claim": {
                      "receipt_type": "COURIER",
                      "lead_reference": "8A07C75AC8F84E1C8795CFD25D5FE69C"
                    },
                    "customer": {
                      "first_name": "FirstName",
                      "last_name": "LastName",
                      "email": "email@mailinator.com",
                      "pri_phone": "920473654"
                    },
                    "equipment": {
                      "serial": "8B7Y0UWS1",
                      "sku": "GA00457-US",
                      "imei": "358328090389936",
                      "software": "RQ3A.210705.001"
                    },
                    "problem_codes": [
                      {
                        "code": "X0013"
                      },
                      {
                        "code": "X0087"
                      },
                      {
                        "code": "X0068"
                      }
                    ]
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK \n### Claim #\n  * Capture and save the `claim.id` and `authorizer_reference` on your ticket/workorder.\n  * `claim.id` will be used when calling PUT /google-claims/{claim_id} to process the claim and update the status.\n  * `authorizer_reference` is a helpful reference when submitting support tickets. \n\n### Extended Warranty\n  * When a device is enrolled in an Extended Warranty program the `extended_warranty` property may be included in the response.  If there is no `partner_enrollment_id` and `extended_warranty_id` this property will be null.\n  * `extended_warranty` and `extended_warranty_partner_details` include information about the Extended Warranty partner the device is enrolled with and any claim references that may be applicable at the time of request.\n\n### Notes (Extended Repair Eligible Alert)\n  * The `notes` array is included when a device is flagged as eligible for a specific extended repair program.  This may be a program that allows for repair due to a known issue with the display or battery for example. The `important` flag will indicate that this note should be displayed as an alert or pop-up to the user.\n",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "object",
                      "description": "Data.",
                      "properties": {
                        "claim": {
                          "type": "object",
                          "description": "Claim.",
                          "properties": {
                            "authorizer_reference": {
                              "type": "string",
                              "example": 1000020000,
                              "description": "Google RMA Number"
                            },
                            "id": {
                              "type": "string",
                              "example": "SNC000072",
                              "description": "ServiceNetwork ID"
                            },
                            "receipt_type": {
                              "type": "string",
                              "example": "WALK_IN",
                              "enum": [
                                "WALK_IN",
                                "COURIER",
                                "PACKAGE_CARRIER"
                              ],
                              "description": "Indicates the method device was received by claim location"
                            },
                            "extended_warranty": {
                              "type": "object",
                              "description": "Extended Warranty Information",
                              "properties": {
                                "extended_warranty_id": {
                                  "type": "string",
                                  "example": "GSPC-S.9c1032ad-82fc-416b-833d-b433158c4179",
                                  "description": "Extended Warranty ID"
                                },
                                "claim_fulfillment_id": {
                                  "type": "string",
                                  "example": "GSEWF.a2e570e0-248f-4e34-b8d2-ab6856842c6e",
                                  "description": "Claim Fulfillment ID"
                                },
                                "extended_warranty_partner_details": {
                                  "type": "object",
                                  "description": "Extended Warranty Partner Information",
                                  "properties": {
                                    "business_partner_id": {
                                      "type": "string",
                                      "example": "489856390"
                                    },
                                    "partner_display_name": {
                                      "type": "string",
                                      "example": "Preferred Care - Asurion (US)"
                                    },
                                    "partner_enrollment_id": {
                                      "type": "string",
                                      "example": "GSPC-S.9c1032ad-82fc-416b-833d-b433158c4179"
                                    },
                                    "partner_claim_number": {
                                      "type": "string",
                                      "example": "00713131734422400"
                                    },
                                    "partner_claim_authorization_number": {
                                      "type": "string",
                                      "example": "00713131734422400-1"
                                    }
                                  }
                                }
                              }
                            },
                            "notes": {
                              "type": "array",
                              "description": "Notes marked as important indicate messages that should be shown as alerts the the user. Check if notes array is not null(array is only included in response if one or more notes are returned).",
                              "items": {
                                "type": "object",
                                "properties": {
                                  "note_text": {
                                    "type": "string",
                                    "example": "Device may be eligible for a Google authorized Extended Repair Program but further evaluation is required (full triage) to confirm if the device meets the eligibility criteria."
                                  },
                                  "important": {
                                    "type": "boolean",
                                    "example": true
                                  }
                                }
                              }
                            }
                          }
                        },
                        "totalCount": {
                          "type": "integer",
                          "example": 1,
                          "description": "count of created."
                        }
                      }
                    },
                    "message": {
                      "type": "string",
                      "example": "Record Created",
                      "description": "message Record Created."
                    },
                    "success": {
                      "type": "boolean",
                      "example": true,
                      "description": "success boolean."
                    }
                  }
                }
              }
            }
          },
          "403": {
            "description": "Authentication Failure",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "example": false
                    },
                    "message": {
                      "type": "string",
                      "example": "Authentication Failed"
                    },
                    "code": {
                      "type": "string",
                      "example": "-998"
                    },
                    "SourceSystem": {
                      "type": "string",
                      "example": "SCTAPI"
                    },
                    "id": {
                      "type": "string",
                      "example": null
                    },
                    "requestId": {
                      "type": "string",
                      "example": null
                    },
                    "statusCode": {
                      "type": "string",
                      "example": "-998"
                    },
                    "errorCode": {
                      "type": "string",
                      "example": "-998"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Incorrect Problem Code",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "example": false
                    },
                    "message": {
                      "type": "string",
                      "example": "Incorrect problem code 'G10013'."
                    },
                    "code": {
                      "type": "string",
                      "example": "400"
                    },
                    "SourceSystem": {
                      "type": "string",
                      "example": "SCTAPI"
                    },
                    "id": {
                      "type": "string",
                      "example": null
                    },
                    "requestId": {
                      "type": "string",
                      "example": null
                    },
                    "statusCode": {
                      "type": "string",
                      "example": "400"
                    },
                    "errorCode": {
                      "type": "string",
                      "example": "400"
                    }
                  }
                }
              }
            }
          }
        },
        "servers": [
          {
            "url": "https://googletest.servicecentral.com/sctapi"
          },
          {
            "url": "https://googledev.servicecentral.com/sctapi"
          }
        ]
      }
    },
    "/google-claims/{claim_id}": {
      "put": {
        "tags": [
          "Claims"
        ],
        "summary": "Update a claim",
        "description": "# Update claim repair status\n\nUse this endpoint to update the claim as it progresses through the workflow.\n\n**Happy Path Transaction Flow**\\\nCreate RMA **>** Submit Triage **>** Initiate Repair **>** Submit Repair Actions **>** Complete Repair **>** Return Device\n  * `authorization_code` when repair authorized:\n    * REPAIR_AUTHORIZED\n\n**Non-Repair Path Transaction Flow**\\\nCreate RMA **>** Submit Triage\\\n  * `authorization_code` when non-repair:\n    * DO_NOT_REPAIR*: no further action required.\n    * WHOLE_UNIT_REPLACEMENT*: initiate exchange process with Gstore.\n    * REPLACEMENT_CLAIM_REPLACEMENT*: initiate exchange process with Extended Warranty partner.\\\n  *NOTE: GSP claim is closed automatically with above non-repair authorizations.*\n\n**Hold/Resume Path Transaction Flow**\\\nCreate RMA **>** Submit Triage **>** Initiate Repair **>** Hold Repair\\\nResume Repair **>** Submit Repair Actions **>** Complete Repair **>** Return Device\n\n**Cancel Path Transaction Flow**\\\nCreate RMA **>** Submit Triage **>** Cancel Repair **>** Return Device\\\nCreate RMA **>** Submit Triage **>** Initiate Repair **>** Cancel Repair **>** Return Device\\\nCreate RMA **>** Submit Triage **>** Initiate Repair **>** Submit Repair Actions **>** Cancel Repair **>** Return Device\n\n**Timestamps**: Timestamps should be sent as the local time of the in a format of \"**2021-08-03T06:32:00+00:00**\" with timezone represented. \n\n**Note the following:** \n  * Once repair step has started with *Initiate Repair* no additional t-codes can be added to the claim. Any additional defects encountered should be submitted as q-codes or f-codes during the *Submit Repair* phase.\n  * Repair actions must be performed/reported in same sequence as `suggested_actions` return in *Submit Triage* response.\n  * If a repair action is unsuccessful `outcome` should be indicated as \"DNR\" and `outcome_reason` specified.\n  * If a repair action is successful, `outcome` should be indicated as \"R\" and no subsequent repair actions should be performed.\n  * No changes can be made to the claim after progressing to *Complete Repair*.\n  \n",
        "parameters": [
          {
            "name": "x-api-key",
            "in": "header",
            "description": "api authentication credentials",
            "schema": {
              "type": "string"
            },
            "required": true
          },
          {
            "name": "claim_id",
            "in": "path",
            "description": "claim identifier. Can be a claim id or provider external ticket number. Required. Max length of 30 characters.",
            "schema": {
              "type": "string"
            },
            "required": true
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "status": {
                    "type": "string",
                    "enum": [
                      "triaged",
                      "in_repair",
                      "on_hold",
                      "repaired",
                      "returned"
                    ]
                  },
                  "status_timestamp": {
                    "type": "string",
                    "format": "date-time"
                  },
                  "repairability_reason": {
                    "type": "string",
                    "enum": [
                      "INSUFFICIENT_PARTS",
                      "SAFETY_HAZARD",
                      "SEVERE_OOW_DAMAGE"
                    ],
                    "description": "Reported with triaged status, only when unrepairable.\n"
                  },
                  "hold_reason": {
                    "type": "string",
                    "enum": [
                      "AWAITING_CALLBACK",
                      "AWAITING_PARTS"
                    ],
                    "description": "Reported with on_hold status to indicate the reason for placing the repair on hold.\n"
                  },
                  "cancel_reason": {
                    "type": "string",
                    "enum": [
                      "CUSTOMER_DECLINED",
                      "INCOMPATIBLE_DISPOSITION"
                    ],
                    "description": "Reported with cancelled status to indicate the reason for cancellling the Claim/RMA.\n"
                  },
                  "ticket_gid": {
                    "type": "string",
                    "description": "For Monty claims, ASP ticket or workorder reference # to the transaction record in ASP system can be reported during Submit Triage. If no value is provided,\nthe ticket_gid will be set to the same value as the claim id in GSP.\n"
                  },
                  "notes": {
                    "type": "array",
                    "description": "Notes are optional and can be submitted with any status update",
                    "items": {
                      "type": "object",
                      "properties": {
                        "note": {
                          "type": "string"
                        },
                        "important": {
                          "type": "boolean"
                        },
                        "print": {
                          "type": "boolean"
                        }
                      }
                    }
                  },
                  "equipment": {
                    "type": "object",
                    "description": "Equipment information provided with status updates to report device details.\n\n**For 'repaired' status**: Reports software, serial, and IMEI of the device after repair completion\n**For 'returned' status**: Can optionally report device information when different from original (replacement/upgrade scenarios)\n",
                    "properties": {
                      "software": {
                        "type": "string",
                        "description": "provide the build number from device settings (primarily for repaired status)"
                      },
                      "serial": {
                        "type": "string",
                        "description": "provide the serial number of the device (post repair or replacement device)"
                      },
                      "imei": {
                        "type": "string",
                        "description": "provide the imei of the device (post repair or replacement device)"
                      }
                    }
                  },
                  "shipment": {
                    "type": "object",
                    "description": "Shipment tracking information provided with the 'returned' status for PACKAGE_CARRIER mail-in repairs (program = 'google-mail-in').\n\n**Required for**: program = 'google-mail-in' AND ReceiptType = 'PACKAGE_CARRIER'\n**Optional for**: All other scenarios\n",
                    "properties": {
                      "tracking_number": {
                        "type": "string",
                        "description": "Carrier tracking number for the return shipment to customer",
                        "example": "7843261290"
                      },
                      "carrier_code": {
                        "type": "string",
                        "description": "Carrier code as configured in RAR_COURIER.COU_CODE (e.g., DHL for Mexico Simtech)",
                        "example": "DHL"
                      },
                      "carrier_service": {
                        "type": "string",
                        "description": "Service level offered by the carrier for the shipment",
                        "example": "EXPRESS_DOMESTIC"
                      },
                      "estimated_delivery_time": {
                        "type": "string",
                        "format": "date-time",
                        "description": "UTC timestamp of estimated delivery date and time",
                        "example": "2024-10-15T18:00:00+00:00"
                      },
                      "estimated_shipment_time": {
                        "type": "string",
                        "format": "date-time",
                        "description": "UTC timestamp when shipment was created/tendered to carrier. Defaults to current time if not provided.",
                        "example": "2024-10-10T14:30:00+00:00"
                      },
                      "shipment_type": {
                        "type": "string",
                        "enum": [
                          "WALK_IN",
                          "COURIER",
                          "PACKAGE_CARRIER"
                        ],
                        "description": "Shipment method - should match original claim receipt_type",
                        "example": "PACKAGE_CARRIER"
                      },
                      "ship_to": {
                        "type": "object",
                        "description": "Customer return address where shipment will be delivered",
                        "properties": {
                          "company": {
                            "type": "string",
                            "description": "Company name (optional for personal addresses)",
                            "example": null
                          },
                          "first_name": {
                            "type": "string",
                            "description": "Customer's first name",
                            "example": "Mar\u00eda"
                          },
                          "last_name": {
                            "type": "string",
                            "description": "Customer's last name",
                            "example": "Gonz\u00e1lez"
                          },
                          "addr_1": {
                            "type": "string",
                            "description": "Primary address line",
                            "example": "Av. Insurgentes Sur 1647"
                          },
                          "addr_2": {
                            "type": "string",
                            "description": "Secondary address line (apartment, suite, etc.)",
                            "example": "Piso 3, Depto 301"
                          },
                          "addr_3": {
                            "type": "string",
                            "description": "Third address line (optional)",
                            "example": null
                          },
                          "addr_4": {
                            "type": "string",
                            "description": "Fourth address line (optional)",
                            "example": null
                          },
                          "city": {
                            "type": "string",
                            "description": "City name",
                            "example": "Ciudad de M\u00e9xico"
                          },
                          "state_province": {
                            "type": "string",
                            "description": "State or province code",
                            "example": "CDMX"
                          },
                          "postal_code": {
                            "type": "string",
                            "description": "Postal or ZIP code",
                            "example": "03100"
                          },
                          "country": {
                            "type": "string",
                            "description": "ISO 3166-1 alpha-2 country code",
                            "example": "MX"
                          }
                        },
                        "required": [
                          "city",
                          "country"
                        ]
                      },
                      "ship_from": {
                        "type": "object",
                        "description": "Source address where shipment originates (ASP location)",
                        "properties": {
                          "company": {
                            "type": "string",
                            "description": "Company or business name",
                            "example": "Simtech"
                          },
                          "first_name": {
                            "type": "string",
                            "description": "Contact first name (optional)",
                            "example": "Carlos"
                          },
                          "last_name": {
                            "type": "string",
                            "description": "Contact last name (optional)",
                            "example": "Rodriguez"
                          },
                          "addr_1": {
                            "type": "string",
                            "description": "Primary address line",
                            "example": "Av. Industria Automotriz 200"
                          },
                          "addr_2": {
                            "type": "string",
                            "description": "Secondary address line (suite, floor, etc.)",
                            "example": "Local 5"
                          },
                          "addr_3": {
                            "type": "string",
                            "description": "Third address line (optional)",
                            "example": null
                          },
                          "addr_4": {
                            "type": "string",
                            "description": "Fourth address line (optional)",
                            "example": null
                          },
                          "city": {
                            "type": "string",
                            "description": "City name",
                            "example": "Naucalpan de Ju\u00e1rez"
                          },
                          "state_province": {
                            "type": "string",
                            "description": "State or province code",
                            "example": "MEX"
                          },
                          "postal_code": {
                            "type": "string",
                            "description": "Postal or ZIP code",
                            "example": "53400"
                          },
                          "country": {
                            "type": "string",
                            "description": "ISO 3166-1 alpha-2 country code",
                            "example": "MX"
                          }
                        },
                        "required": [
                          "city",
                          "country"
                        ]
                      }
                    },
                    "required": [
                      "tracking_number",
                      "carrier_code",
                      "carrier_service",
                      "estimated_delivery_time",
                      "estimated_shipment_time",
                      "shipment_type",
                      "ship_to",
                      "ship_from"
                    ]
                  },
                  "shipment_unavailable": {
                    "type": "boolean",
                    "description": "Indicates that shipment tracking information is not available for this return.\n\n**Required for**: program = 'google-mail-in' AND ReceiptType = 'PACKAGE_CARRIER' when tracking info unavailable\n**Mutually Exclusive**: Cannot be provided with shipment object\n",
                    "example": true
                  },
                  "unavailable_reason": {
                    "type": "string",
                    "enum": [
                      "MISSING_TRACKING_INFO",
                      "NON_CARRIER_RETURN",
                      "REPLACED_BY_OTHER_SOURCE"
                    ],
                    "description": "Required when shipment_unavailable is true. Indicates reason why shipment tracking is not available.\n\n**MISSING_TRACKING_INFO**: Tracking number not available from carrier\n**NON_CARRIER_RETURN**: Device returned by customer pickup or other non-carrier method\n**REPLACED_BY_OTHER_SOURCE**: Replacement device provided from alternate source\n",
                    "example": "MISSING_TRACKING_INFO"
                  },
                  "t_codes": {
                    "type": "array",
                    "description": "t_codes are provided with the triaged status to indicate the defect codes that were observed during triage, before repair initiation",
                    "items": {
                      "type": "object",
                      "properties": {
                        "code": {
                          "type": "string"
                        },
                        "repairability": {
                          "type": "string",
                          "enum": [
                            "Repairable",
                            "Unrepairable",
                            "NoFaultFound"
                          ],
                          "description": "Reported with triaged status to indicate whether defect is repairable, unrepairable or if no fault found.\n"
                        },
                        "repair_actions": {
                          "type": "array",
                          "description": "Reported with in_repair status to indicate which repair actions were performed and their outcomes.\n",
                          "items": {
                            "type": "object",
                            "properties": {
                              "parts": {
                                "type": "array",
                                "items": {
                                  "type": "object",
                                  "properties": {
                                    "number": {
                                      "type": "string"
                                    }
                                  }
                                }
                              },
                              "repair_code": {
                                "type": "string"
                              },
                              "outcome": {
                                "type": "string"
                              },
                              "order": {
                                "type": "string"
                              }
                            }
                          }
                        }
                      }
                    }
                  },
                  "f_codes": {
                    "type": "array",
                    "description": "f_codes are provided with the in_repair status to indicate the defect codes that were observed during repair, before reassembly of the device",
                    "items": {
                      "type": "object",
                      "properties": {
                        "code": {
                          "type": "string"
                        },
                        "repair_actions": {
                          "type": "array",
                          "description": "Reported with in_repair status to indicate which repair actions were performed and their outcomes.\n",
                          "items": {
                            "type": "object",
                            "properties": {
                              "parts": {
                                "type": "array",
                                "items": {
                                  "type": "object",
                                  "properties": {
                                    "number": {
                                      "type": "string"
                                    }
                                  }
                                }
                              },
                              "repair_code": {
                                "type": "string"
                              },
                              "outcome": {
                                "type": "string"
                              },
                              "order": {
                                "type": "string"
                              }
                            }
                          }
                        }
                      }
                    }
                  },
                  "q_codes": {
                    "type": "array",
                    "description": "q_codes are provided with the in_repair status to indicate the defect codes that were observed after repair, during OQC of the device",
                    "items": {
                      "type": "object",
                      "properties": {
                        "code": {
                          "type": "string"
                        },
                        "repair_actions": {
                          "type": "array",
                          "description": "Reported with in_repair status to indicate which repair actions were performed and their outcomes.\n",
                          "items": {
                            "type": "object",
                            "properties": {
                              "parts": {
                                "type": "array",
                                "items": {
                                  "type": "object",
                                  "properties": {
                                    "number": {
                                      "type": "string"
                                    }
                                  }
                                }
                              },
                              "repair_code": {
                                "type": "string"
                              },
                              "outcome": {
                                "type": "string"
                              },
                              "order": {
                                "type": "string"
                              }
                            }
                          }
                        }
                      }
                    }
                  }
                }
              },
              "examples": {
                "Submit Triage": {
                  "description": "## Submit Triage\nSubmit the results of triage in order to receive repair authorization.\nLook at the **authorization_code** in the triaged response to determine whether or not to proceed with the repair.\n- **REPAIR_AUTHORIZED**: repair is authorized, proceed with repair\n- **DO_NOT_REPAIR**: repair is not authorized, do not repair\n- **WHOLE_UNIT_REPLACEMENT**: replacement is authorized, do not repair\n- **REPLACEMENT_CLAIM_RECOMMENDED**: recommend replacement via extended warranty partner claim, do no repair.\n## Expected Responses\nBe sure to check each response example for additional information.\n- Submit Triage (Repair Authorized)\n- Submit Triage (Repair Not Authorized)\n- Submit Triage (Replacement Authorized)\n",
                  "value": {
                    "status": "triaged",
                    "status_timestamp": "2021-08-03T06:32:00+00:00",
                    "ticket_gid": "uat-us-google|54997",
                    "t_codes": [
                      {
                        "code": "020",
                        "repairability": "Repairable"
                      },
                      {
                        "code": "041",
                        "repairability": "Repairable"
                      },
                      {
                        "code": "071",
                        "repairability": "Repairable"
                      }
                    ]
                  }
                },
                "Submit Triage (Unrepairable)": {
                  "description": "## Submit Triage\nSubmit the results of triage in order to receive repair authorization.\nLook at the **authorization_code** in the triaged response to determine whether or not to proceed with the repair.\n- **REPAIR_AUTHORIZED**: repair is authorized, proceed with repair\n- **DO_NOT_REPAIR**: repair is not authorized, do not repair\n- **WHOLE_UNIT_REPLACEMENT**: replacement is authorized, do not repair\n- **REPLACEMENT_CLAIM_RECOMMENDED**: recommend replacement via extended warranty partner claim, do no repair.\n## Repairability Reason\nIf any triage code is indicated as Unrepairable, you must report the reason from the following:\n- **INSUFFICIENT_PARTS**: The device cannot be repaired because the ASP does not have sufficient parts to complete the repair.\n- **SAFETY_HAZARD**: The device cannot be repaired because repairing it would be hazardous, for example because of a leaking battery.\n- **SEVERE_OOW_DAMAGE**: The device cannot be repaired because there is severe damage that would not be covered under warranty.\n## Expected Responses\nBe sure to check each response example for additional information.\n- Submit Triage (Repair Not Authorized)\n- Submit Triage (Replacement Authorized)\n",
                  "value": {
                    "status": "triaged",
                    "status_timestamp": "2021-08-03T06:32:00+00:00",
                    "repairability_reason": "INSUFFICIENT_PARTS",
                    "ticket_gid": "uat-us-google|54997",
                    "t_codes": [
                      {
                        "code": "020",
                        "repairability": "Unrepairable"
                      }
                    ]
                  }
                },
                "Submit Triage (No Fault Found)": {
                  "description": "## Submit Triage\nSubmit the results of triage in order to receive repair authorization.\nLook at the **authorization_code** in the triaged response to determine whether or not to proceed with the repair.\n- **REPAIR_AUTHORIZED**: repair is authorized, proceed with repair\n- **DO_NOT_REPAIR**: repair is not authorized, do not repair\n- **WHOLE_UNIT_REPLACEMENT**: replacement is authorized, do not repair\n- **REPLACEMENT_CLAIM_RECOMMENDED**: recommend replacement via extended warranty partner claim, do no repair.\n## Repairability Reason\nIf any triage code is indicated as Unrepairable, you must report the reason from the following:\n- **INSUFFICIENT_PARTS**: The device cannot be repaired because the ASP does not have sufficient parts to complete the repair.\n- **SAFETY_HAZARD**: The device cannot be repaired because repairing it would be hazardous, for example because of a leaking battery.\n- **SEVERE_OOW_DAMAGE**: The device cannot be repaired because there is severe damage that would not be covered under warranty.\n## Expected Responses\nBe sure to check each response example for additional information.\n- Submit Triage (Repair Not Authorized)\n- Submit Triage (Replacement Authorized)\n",
                  "value": {
                    "status": "triaged",
                    "status_timestamp": "2021-08-03T06:32:00+00:00",
                    "ticket_gid": "uat-us-google|54997",
                    "t_codes": [
                      {
                        "code": "000",
                        "repairability": "NoFaultFound"
                      }
                    ]
                  }
                },
                "Cancel Claim/RMA": {
                  "description": "## Cancel a Repair\nIf the repair needs to be cancelled for any reason, send this request along with a cancel reason.  The following reason codes are accepted.\n- **CUSTOMER_DECLINED**: select this reason if the customer chooses not to proceed with the repair\n- **INCOMPATIBLE_DISPOSITION**: select this reason if you accidentally reported the wrong t-codes or if you need to split out IW and OOW t-codes into separate Claims/RMAs.\n",
                  "value": {
                    "status": "cancelled",
                    "status_timestamp": "2021-08-03T06:32:00+00:00",
                    "cancel_reason": "CUSTOMER_DECLINED"
                  }
                },
                "Initiate Repair": {
                  "description": "## Initiate Repair\nSend the \"In Repair\" request to initiate repair after triage completion. Repair actions are not accepted at this stage.\n",
                  "value": {
                    "status": "in_repair",
                    "status_timestamp": "2021-08-03T06:32:00+00:00"
                  }
                },
                "Hold Repair": {
                  "description": "## Place Repair On Hold\nIf the repair needs to be placed on hold for any reason, send this request along with a hold reason.  When ready to resume the repair, send the \"In Repair\" request.\n## Hold Reasons\n- **AWAITING_CALLBACK**: The repair is pending confirmation from the customer, for example when a repair will cost the customer more money for OOW portions than previously agreed\n- **AWAITING_PARTS**: The repair is on hold due to not having parts to complete it\n",
                  "value": {
                    "status": "on_hold",
                    "status_timestamp": "2021-08-03T06:32:00+00:00",
                    "hold_reason": "AWAITING_CALLBACK",
                    "notes": [
                      {
                        "note": "Waiting for call back from customer",
                        "important": true,
                        "print": true
                      }
                    ]
                  }
                },
                "Resume Repair": {
                  "description": "## Resume Repair\nSend the \"In Repair\" request to resume a repair after it was placed on hold.\n",
                  "value": {
                    "status": "in_repair",
                    "status_timestamp": "2021-08-03T06:32:00+00:00",
                    "notes": [
                      {
                        "note": "Resuming repair after customer approval",
                        "important": true,
                        "print": true
                      }
                    ]
                  }
                },
                "Submit Repair Actions (Successful)": {
                  "description": "## Submit Repair Results\nSubmit the results of repair in order to receive repair approval and payment.\n",
                  "value": {
                    "status": "in_repair",
                    "status_timestamp": "2021-08-03T06:32:00+00:00",
                    "t_codes": [
                      {
                        "code": "020",
                        "repair_actions": [
                          {
                            "order": "1",
                            "repair_code": "R21",
                            "outcome": "R",
                            "parts": [
                              {
                                "number": "G863-00072-01"
                              }
                            ]
                          }
                        ]
                      },
                      {
                        "code": "041",
                        "repair_actions": [
                          {
                            "order": "1",
                            "repair_code": "R17",
                            "outcome": "R",
                            "parts": [
                              {
                                "number": "20GB1BW0S03"
                              }
                            ]
                          }
                        ]
                      },
                      {
                        "code": "071",
                        "repair_actions": [
                          {
                            "order": "1",
                            "repair_code": "R27",
                            "outcome": "DNR",
                            "outcome_reason": "DID_NOT_RESOLVE",
                            "parts": ""
                          },
                          {
                            "order": "1",
                            "repair_code": "R28",
                            "outcome": "DNR",
                            "outcome_reason": "DID_NOT_RESOLVE",
                            "parts": ""
                          },
                          {
                            "order": "1",
                            "repair_code": "R29",
                            "outcome": "DNR",
                            "outcome_reason": "DID_NOT_RESOLVE",
                            "parts": ""
                          },
                          {
                            "order": "2",
                            "repair_code": "R04",
                            "outcome": "R",
                            "parts": [
                              {
                                "number": "G710-02674-01"
                              }
                            ]
                          }
                        ]
                      }
                    ]
                  }
                },
                "Submit Repair Actions (Unsuccessful)": {
                  "description": "## Submit Repair Results\nSubmit the results of repair in order to receive repair approval and payment.\n### Repair Outcome Reason\nIf any repair action does not resolve the triage code, a reason from the following must be reported.\n- DID_NOT_RESOLVE\n- INSUFFICIENT_PARTS\n- CUSTOMER_DECLINED\n",
                  "value": {
                    "status": "in_repair",
                    "status_timestamp": "2021-08-03T06:32:00+00:00",
                    "t_codes": [
                      {
                        "code": "020",
                        "repair_actions": [
                          {
                            "order": "1",
                            "repair_code": "R21",
                            "outcome": "DNR",
                            "outcome_reason": "DID_NOT_RESOLVE",
                            "parts": ""
                          }
                        ]
                      },
                      {
                        "code": "041",
                        "repair_actions": [
                          {
                            "order": "1",
                            "repair_code": "R17",
                            "outcome": "DNR",
                            "outcome_reason": "CUSTOMER_DECLINED",
                            "parts": ""
                          }
                        ]
                      },
                      {
                        "code": "071",
                        "repair_actions": [
                          {
                            "order": "1",
                            "repair_code": "R27",
                            "outcome": "DNR",
                            "outcome_reason": "INSUFFICIENT_PARTS",
                            "parts": ""
                          },
                          {
                            "order": "1",
                            "repair_code": "R28",
                            "outcome": "DNR",
                            "outcome_reason": "INSUFFICIENT_PARTS",
                            "parts": ""
                          },
                          {
                            "order": "1",
                            "repair_code": "R29",
                            "outcome": "DNR",
                            "outcome_reason": "INSUFFICIENT_PARTS",
                            "parts": ""
                          },
                          {
                            "order": "2",
                            "repair_code": "R04",
                            "outcome": "DNR",
                            "outcome_reason": "INSUFFICIENT_PARTS",
                            "parts": ""
                          }
                        ]
                      }
                    ]
                  }
                },
                "Submit Repair Actions (With F-codes or Q-codes)": {
                  "description": "## Submit Repair Results\nSubmit the results of repair in order to receive repair approval and payment.  If additional damages are observed or caused after repair was started, those codes must be reported as follows:\n- **f-codes**: these represent defects or damages that were discovered before reassembling the phone.\n- **q-codes**: these represent defects or damages that were discovered after reassembling the phone, during outgoing quality control\n***\nImportant: f-codes and q-codes are not eligible for reimbursement.\n",
                  "value": {
                    "status": "in_repair",
                    "status_timestamp": "2021-08-03T06:32:00+00:00",
                    "t_codes": [
                      {
                        "code": "020",
                        "repair_actions": [
                          {
                            "order": "1",
                            "repair_code": "R21",
                            "outcome": "R",
                            "parts": [
                              {
                                "number": "G863-00072-01"
                              }
                            ]
                          }
                        ]
                      }
                    ],
                    "f_codes": [
                      {
                        "code": "041",
                        "repair_actions": [
                          {
                            "order": "1",
                            "repair_code": "R17",
                            "outcome": "R",
                            "parts": [
                              {
                                "number": "20GB1BW0S03"
                              }
                            ]
                          }
                        ]
                      }
                    ],
                    "q_codes": [
                      {
                        "code": "071",
                        "repair_actions": [
                          {
                            "order": "1",
                            "repair_code": "R27",
                            "outcome": "DNR",
                            "parts": ""
                          },
                          {
                            "order": "1",
                            "repair_code": "R28",
                            "outcome": "DNR",
                            "outcome_reason": "DID_NOT_RESOLVE",
                            "parts": ""
                          },
                          {
                            "order": "1",
                            "repair_code": "R29",
                            "outcome": "DNR",
                            "outcome_reason": "DID_NOT_RESOLVE",
                            "parts": ""
                          },
                          {
                            "order": "2",
                            "repair_code": "R04",
                            "outcome": "R",
                            "parts": [
                              {
                                "number": "G710-02674-01"
                              }
                            ]
                          }
                        ]
                      }
                    ]
                  }
                },
                "Complete Repair": {
                  "description": "## Mark Repair as Completed\nSend the \"Complete Repair\" request to mark the repair as completed.  After doing so the claim will be finalized and no more changes will be allowed by the ASP.\\\n\\\nIf all triage codes were repaired successfully, send \"Successful\" as the outcome.\\\n\\\nIf any of the triage codes were not successfully repaired send \"Unsuccessful\" as the outcome.\\\n\n### OQC Diganostics\n* `confirm_oqc`: required when ASP is mandated to run diagnostics during OQC.\n* `oqc_non_compliance_reason`*: required when dianositic check is mandated for ASP and confirm_oqc is false.\n    * Valid enum values:\n        - OOW_RMA\n        - POOR_WIFI_CONNECTION\n        - FORGOT_AND_DEVICE_ALREADY_RETURNED\n        - UNTRAINED_ON_DIAGNOSTIC_PROCESS\n        - FALSE_FAILURE_SPECIFY_TEST_ITEM\n        - OTHER_REASON_PLEASE_SPECIFY\n* `oqc_non_compliance_reason_details`: Free-form text. Required if oqc_non_compliance_reason provided is **FALSE_FAILURE_SPECIFY_TEST_ITEM** or **OTHER_REASON_PLEASE_SPECIFY**\n\n### IMEI Out Required\n`equipment.imei` field is required when a mainboard repair action (ex R04) with outcome Resolved (R) was included during Submit Repair step, This field should indicate the imei for the Replacement Mainboard/Known Good Board.\n",
                  "value": {
                    "outcome": "Successful",
                    "status": "repaired",
                    "status_timestamp": "2021-08-03T06:32:00+00:00",
                    "confirm_oqc": false,
                    "oqc_non_compliance_reason": "OOW_RMA",
                    "oqc_non_compliance_reason_details": "Some Open Text Reason",
                    "equipment": {
                      "serial": "8B7Y0UWS1",
                      "imei": "820384204839238",
                      "software_out": "RQ3A.210705.002"
                    }
                  }
                },
                "Return Device (Standard Non-Mail-In)": {
                  "description": "## Return Device to Customer (Standard Non-Mail-In)\nSend the \"Returned\" request to indicate when the device was returned to the customer.\\\n\\\n**Note**: Returned event should follow cancelled, rejected, repaired, replacement status event.\n\n### Usage for Standard Non-Mail-In\nThis example applies to the following scenarios:\n- **google-walk-in** program (all receipt types)\n- **google-mail-in** program with ReceiptType = **WALK_IN** or **COURIER**\n\nFor these scenarios, shipment tracking information is not required or applicable since:\n- Walk-in customers pick up their devices in person\n- Courier delivery doesn't require package carrier tracking\n\n### Note on Mail-in Package Carrier\nFor **google-mail-in** program with ReceiptType = **PACKAGE_CARRIER**, use the \"Return Device with Shipment Tracking\" example instead to provide customer tracking visibility.\n",
                  "value": {
                    "status": "returned",
                    "status_timestamp": "2021-08-03T06:32:00+00:00"
                  }
                },
                "Return Device with Shipment Tracking (Google Mail-in)": {
                  "description": "## Return Device to Customer with Shipment Tracking\nExample for Google mail-in repairs (program = \"google-mail-in\") with PACKAGE_CARRIER receipt type.\nInclude shipment tracking information to provide customer tracking visibility.\n\nThis will trigger:\n1. Data storage in RAR_SHIPMENT entities\n2. Synchronous call to Google Shipment Metadata API\n3. Async retry mechanism if Google API fails\n",
                  "value": {
                    "status": "returned",
                    "status_timestamp": "2025-10-10T14:30:00+00:00",
                    "shipment": {
                      "tracking_number": "7843261290",
                      "carrier_code": "DHL",
                      "carrier_service": "EXPRESS_DOMESTIC",
                      "estimated_delivery_time": "2025-10-15T18:00:00+00:00",
                      "estimated_shipment_time": "2025-10-10T14:30:00+00:00",
                      "shipment_type": "PACKAGE_CARRIER",
                      "ship_to": {
                        "company": null,
                        "first_name": "Mar\u00eda",
                        "last_name": "Gonz\u00e1lez",
                        "addr_1": "Av. Insurgentes Sur 1647",
                        "addr_2": "Piso 3, Depto 301",
                        "addr_3": null,
                        "addr_4": null,
                        "city": "Ciudad de M\u00e9xico",
                        "state_province": "DF",
                        "postal_code": "03100",
                        "country": "MX"
                      },
                      "ship_from": {
                        "company": "Simtech",
                        "first_name": "Carlos",
                        "last_name": "Rodriguez",
                        "addr_1": "Av. Industria Automotriz 200",
                        "addr_2": "Local 5",
                        "addr_3": null,
                        "addr_4": null,
                        "city": "Naucalpan de Ju\u00e1rez",
                        "state_province": "EM",
                        "postal_code": "53400",
                        "country": "MX"
                      }
                    }
                  }
                },
                "Return Device - Shipment Unavailable (Google Mail-in)": {
                  "description": "## Return Device to Customer - Shipment Unavailable\nExample for Google mail-in repairs (program = \"google-mail-in\") with PACKAGE_CARRIER receipt type when shipment tracking is unavailable.\nUse this when tracking information cannot be provided for various business reasons.\n\nThis will trigger:\n1. Storage of unavailable reason in GOOGLE_CLAIM.ShipmentUnavailableReason for reporting\n2. No call to Google Shipment Metadata API (no tracking data available)\n3. Claim marked as returned without customer tracking visibility\n",
                  "value": {
                    "status": "returned",
                    "status_timestamp": "2025-10-10T14:30:00+00:00",
                    "shipment_unavailable": true,
                    "unavailable_reason": "MISSING_TRACKING_INFO"
                  }
                },
                "Return Device with Equipment Info (Replacement/Upgrade)": {
                  "description": "## Return Device to Customer with Equipment Information\nExample for returning a replacement or upgrade device using the equipment object.\nUse this when the device being returned differs from the original claim device.\n\n**Usage**: Include equipment object when returning a different device (replacement/upgrade scenarios)\n**For Google Mail-in PACKAGE_CARRIER**: Can be combined with shipment object for tracking\n\nThis will trigger:\n1. Device change detection and SN_CLAIM field updates (DEVICE_IMEI_OUT, DEVICE_SERIAL_OUT)\n2. IM_UNIT record creation for replacement device\n3. FS_WORK_ORDER exchange tracking field updates\n4. If combined with shipment: Google Shipment Metadata API call with replacement device information\n",
                  "value": {
                    "status": "returned",
                    "status_timestamp": "2025-10-10T14:30:00+00:00",
                    "equipment": {
                      "serial": "ABC123DEF456",
                      "imei": "123456789012345"
                    },
                    "shipment": {
                      "tracking_number": "7843261290",
                      "carrier_code": "DHL",
                      "carrier_service": "EXPRESS_DOMESTIC",
                      "estimated_delivery_time": "2025-10-15T18:00:00+00:00",
                      "estimated_shipment_time": "2025-10-10T14:30:00+00:00",
                      "shipment_type": "PACKAGE_CARRIER",
                      "ship_to": {
                        "city": "Ciudad de M\u00e9xico",
                        "state_province": "DF",
                        "country": "MX"
                      },
                      "ship_from": {
                        "city": "Naucalpan de Ju\u00e1rez",
                        "state_province": "EM",
                        "country": "MX"
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "example": [
                        true,
                        false
                      ],
                      "description": "true."
                    },
                    "message": {
                      "type": "string",
                      "example": "Record Created",
                      "description": "message Record Created."
                    },
                    "data": {
                      "type": "object",
                      "description": "Data",
                      "properties": {
                        "totalCount": {
                          "type": "integer",
                          "example": 1,
                          "description": "Count of created"
                        },
                        "status": {
                          "type": "string",
                          "example": [
                            "triaged",
                            "replacement",
                            "rejected",
                            "in_repair",
                            "on_hold",
                            "repaired",
                            "cancelled",
                            "returned"
                          ]
                        },
                        "equipment_sku": {
                          "type": "string",
                          "example": "GA00457-US",
                          "description": "Equipment SKU"
                        },
                        "product_line": {
                          "type": "string",
                          "example": "Pixel 3",
                          "description": "Product Line"
                        },
                        "asp_tier": {
                          "type": "string",
                          "example": "T2",
                          "description": "ASP Tier"
                        },
                        "asp_level": {
                          "type": "string",
                          "example": "Level 4",
                          "description": "ASP Level"
                        },
                        "authorization_code": {
                          "type": "string",
                          "example": [
                            "REPAIR_AUTHORIZED",
                            "DO_NOT_REPAIR",
                            "WHOLE_UNIT_REPLACEMENT",
                            "REPLACEMENT_CLAIM_RECOMMENDED"
                          ],
                          "description": "Authorization Code"
                        },
                        "await_customer_confirmation": {
                          "type": "boolean",
                          "example": false,
                          "description": "(MONTY) indicates specified authorization is on hold until confirmed with customer. Claim will not be able to progress to in_repair while await_customer_confirm is true."
                        },
                        "t_codes": {
                          "type": "array",
                          "description": "Triage codes (defects)",
                          "items": {
                            "type": "object",
                            "properties": {
                              "code": {
                                "type": "integer",
                                "example": "020"
                              },
                              "category": {
                                "type": "string",
                                "example": "Audio"
                              },
                              "subcategory": {
                                "type": "string",
                                "example": "Top Speaker low Sound"
                              },
                              "warranty_status": {
                                "type": "string",
                                "example": "IW"
                              },
                              "extended_warranty_status": {
                                "type": "string",
                                "example": [
                                  "NOT_COVERED",
                                  "COVERED"
                                ],
                                "description": "indicates defect status for Preferred Care extended warranty coverage"
                              },
                              "suggested_actions": {
                                "type": "array",
                                "description": "suggested actions object.",
                                "items": {
                                  "type": "object",
                                  "properties": {
                                    "order": {
                                      "type": "integer",
                                      "example": 1
                                    },
                                    "repair_code": {
                                      "type": "string",
                                      "example": "R21"
                                    },
                                    "Repair_description": {
                                      "type": "string",
                                      "example": "Replace Top Speaker"
                                    },
                                    "service_level": {
                                      "type": "string",
                                      "example": "Level 2"
                                    },
                                    "parts": {
                                      "type": "array",
                                      "items": {
                                        "type": "object",
                                        "properties": {
                                          "number": {
                                            "type": "string",
                                            "example": "G863-00072-01"
                                          },
                                          "description": {
                                            "type": "string",
                                            "example": "SPEAKER, TOP, B1"
                                          }
                                        }
                                      }
                                    }
                                  }
                                }
                              }
                            }
                          }
                        }
                      }
                    }
                  }
                },
                "examples": {
                  "Submit Triage (Repair Authorized)": {
                    "value": {
                      "success": true,
                      "message": "Record Updated",
                      "data": {
                        "totalCount": 1,
                        "status": "triaged",
                        "equipment_sku": "GA00457-US",
                        "product_line": "Pixel 3",
                        "asp_tier": "T2",
                        "asp_level": "Level 4",
                        "authorization_code": "REPAIR_AUTHORIZED",
                        "t_codes": [
                          {
                            "code": "020",
                            "category": "Audio",
                            "subcategory": "Top Speaker low sound",
                            "warranty_status": "IW",
                            "extended_warranty_status": "COVERED",
                            "suggested_actions": [
                              {
                                "order": "1",
                                "repair_code": "R21",
                                "repair_description": "Replace Top Speaker",
                                "service_level": "Level 2",
                                "parts": [
                                  {
                                    "number": "G863-00072-01",
                                    "description": "SPEAKER, TOP, B1"
                                  }
                                ]
                              }
                            ]
                          },
                          {
                            "code": "041",
                            "category": "Display",
                            "subcategory": "Display multiple cracks",
                            "warranty_status": "OOW",
                            "extended_warranty_status": "COVERED",
                            "suggested_actions": [
                              {
                                "order": "1",
                                "repair_code": "R17",
                                "repair_description": "Replace Display",
                                "service_level": "Level 2",
                                "parts": [
                                  {
                                    "number": "20GB1BW0S03",
                                    "description": "Assy_GB1/BLK/service CG"
                                  }
                                ]
                              }
                            ]
                          },
                          {
                            "code": "071",
                            "category": "Camera",
                            "subcategory": "Camera no preview",
                            "warranty_status": "IW",
                            "extended_warranty_status": "COVERED",
                            "suggested_actions": [
                              {
                                "order": "1",
                                "repair_code": "R27",
                                "repair_description": "Replace Rear Camera",
                                "service_level": "Level 2",
                                "parts": [
                                  {
                                    "number": "G806-01252-01",
                                    "description": "Assy_GB1/main Camera module_B1"
                                  }
                                ]
                              },
                              {
                                "order": "1",
                                "repair_code": "R28",
                                "repair_description": "Replace Front Camera - NFOV",
                                "service_level": "Level 2",
                                "parts": [
                                  {
                                    "number": "20GB10W0S02",
                                    "description": "Assy_GB1/NFOV Camera module"
                                  }
                                ]
                              },
                              {
                                "order": "1",
                                "repair_code": "R29",
                                "repair_description": "Replace Front Camera - WFOV",
                                "service_level": "Level 2",
                                "parts": [
                                  {
                                    "number": "20GB10W0S03",
                                    "description": "Assy_GB1/WFOV Camera module"
                                  }
                                ]
                              },
                              {
                                "order": "2",
                                "repair_code": "R04",
                                "repair_description": "Replace Mainboard",
                                "service_level": "Level 3",
                                "parts": [
                                  {
                                    "number": "G710-02674-01",
                                    "description": "Assy_GB1/PCBA/Better,ROW"
                                  }
                                ]
                              }
                            ]
                          }
                        ]
                      }
                    }
                  },
                  "Submit Triage (Repair Not Authorized)": {
                    "description": "# Submit Triage (Repair Not Authorized)\nIf the **authorization_code** provided in the response is **DO_NOT_REPAIR**, it means the ASP is not authorized to perform the repair on behalf of Google.\\\n\\\nIn this scenario it is not necessary to cancel the Claim/RMA or mark the device as returned in GSP.\\\n\\\nIf the repair is not authorized by Google and a triage fee is due to the ASP from Google, the **approved_service_level** will indicate the service level of triage performed and the **approved_services_price** will indicate the fee that Google will pay to the ASP for performing the triage.\\\n\\\nIf the repair channel is ASP managed mail-in and a mail-in fee is due to the ASP from Google, the **approved_mail_in_fee** will indicate the fee that Google will pay the ASP for return shipping the device to the customer.\\\n\\\nThe **approved_payment_amount** will indicate the total amount Google will pay to the ASP for triage services rendered to the customer.\n",
                    "value": {
                      "success": true,
                      "message": "Record Updated",
                      "data": {
                        "totalCount": 1,
                        "status": "rejected",
                        "equipment_sku": "GA00457-US",
                        "product_line": "Pixel 3",
                        "asp_tier": "T2",
                        "asp_level": "Level 4",
                        "authorization_code": "DO_NOT_REPAIR",
                        "approved_service_level": "Level 2",
                        "approved_services_price": "10.00",
                        "approved_mail_in_fee": "8.00",
                        "approved_payment_amount": "18.00"
                      }
                    }
                  },
                  "Submit Triage (IW Replacement Authorized)": {
                    "description": "# Submit Triage (Replacement Authorized)\nIf the **authorization_code** provided in the response is **WHOLE_UNIT_REPLACEMENT**, it means the customer is eligible to receive a replacement device from Google and the ASP is not authorized to perform the repair on behalf of Google.\\\n\\\nIn this scenario it is not necessary to cancel the Claim/RMA or mark the device as returned in GSP.\\\n\\\nIf the repair is not authorized by Google and a triage fee is due to the ASP from Google, the **approved_service_level** will indicate the service level of triage performed and the **approved_services_price** will indicate the fee that Google will pay to the ASP for performing the triage.\\\n\\\nIf the repair channel is ASP managed mail-in and a mail-in fee is due to the ASP from Google, the **approved_mail_in_fee** will indicate the fee that Google will pay the ASP for return shipping the device to the customer.\\\n\\\nThe **approved_payment_amount** will indicate the total amount Google will pay to the ASP for services rendered to the customer.\n",
                    "value": {
                      "success": true,
                      "message": "Record Updated",
                      "data": {
                        "totalCount": 1,
                        "status": "replacement",
                        "equipment_sku": "GA00457-US",
                        "product_line": "Pixel 3",
                        "asp_tier": "T2",
                        "asp_level": "Level 4",
                        "authorization_code": "WHOLE_UNIT_REPLACEMENT",
                        "approved_service_level": "Level 2",
                        "approved_services_price": "10.00",
                        "approved_mail_in_fee": "8.00",
                        "approved_payment_amount": "18.00"
                      }
                    }
                  },
                  "Submit Triage (Extended Warranty Replacement Claim Recommended)": {
                    "description": "# Submit Triage (Preferred Care Replacement Recommended)\nIf the **authorization_code** provided in the response is **REPLACEMENT_CLAIM_RECOMMENDED**, it means the customer is eligible to receive a replacement device from a Preferred Care partner and the ASP is not authorized to perform the repair on behalf of Google.\\\n\\\nIn this scenario it is not necessary to cancel the Claim/RMA or mark the device as returned in GSP.\\\n\\\nIf the repair is not authorized by Google and a triage fee is due to the ASP from Google, the **approved_service_level** will indicate the service level of triage performed and the **approved_services_price** will indicate the fee that Google will pay to the ASP for performing the triage.\\\n\\\nIf the repair channel is ASP managed mail-in and a mail-in fee is due to the ASP from Google, the **approved_mail_in_fee** will indicate the fee that Google will pay the ASP for return shipping the device to the customer.\\\n\\\nThe **approved_payment_amount** will indicate the total amount Google will pay to the ASP for services rendered to the customer.\n",
                    "value": {
                      "success": true,
                      "message": "Record Updated",
                      "data": {
                        "totalCount": 1,
                        "status": "replacement",
                        "equipment_sku": "GA00457-US",
                        "product_line": "Pixel 3",
                        "asp_tier": "T2",
                        "asp_level": "Level 4",
                        "authorization_code": "REPLACEMENT_CLAIM_RECOMMENDED",
                        "approved_service_level": "Level 2",
                        "approved_services_price": "10.00",
                        "approved_mail_in_fee": "8.00",
                        "approved_payment_amount": "18.00"
                      }
                    }
                  },
                  "Submit Triage (MONTY) Await Customer Confirmation": {
                    "value": {
                      "success": true,
                      "message": "Record Updated",
                      "mail-in-fee": 0,
                      "data": {
                        "totalCount": 1,
                        "status": "triaged",
                        "equipment_sku": "GA00457-US",
                        "product_line": "Pixel 3",
                        "asp_tier": "T2",
                        "asp_level": "Level 4",
                        "authorization_code": "REPAIR_AUTHORIZED",
                        "await_customer_confirmation": true,
                        "t_codes": [
                          {
                            "code": "020",
                            "category": "Audio",
                            "subcategory": "Top Speaker low sound",
                            "warranty_status": "IW",
                            "extended_warranty_status": "COVERED",
                            "suggested_actions": [
                              {
                                "order": "1",
                                "repair_code": "R21",
                                "repair_description": "Replace Top Speaker",
                                "service_level": "Level 2",
                                "parts": [
                                  {
                                    "number": "G863-00072-01",
                                    "description": "SPEAKER, TOP, B1"
                                  }
                                ]
                              }
                            ]
                          },
                          {
                            "code": "041",
                            "category": "Display",
                            "subcategory": "Display multiple cracks",
                            "warranty_status": "OOW",
                            "extended_warranty_status": "COVERED",
                            "suggested_actions": [
                              {
                                "order": "1",
                                "repair_code": "R17",
                                "repair_description": "Replace Display",
                                "service_level": "Level 2",
                                "parts": [
                                  {
                                    "number": "20GB1BW0S03",
                                    "description": "Assy_GB1/BLK/service CG"
                                  }
                                ]
                              }
                            ]
                          },
                          {
                            "code": "071",
                            "category": "Camera",
                            "subcategory": "Camera no preview",
                            "warranty_status": "IW",
                            "extended_warranty_status": "COVERED",
                            "suggested_actions": [
                              {
                                "order": "1",
                                "repair_code": "R27",
                                "repair_description": "Replace Rear Camera",
                                "service_level": "Level 2",
                                "parts": [
                                  {
                                    "number": "G806-01252-01",
                                    "description": "Assy_GB1/main Camera module_B1"
                                  }
                                ]
                              },
                              {
                                "order": "1",
                                "repair_code": "R28",
                                "repair_description": "Replace Front Camera - NFOV",
                                "service_level": "Level 2",
                                "parts": [
                                  {
                                    "number": "20GB10W0S02",
                                    "description": "Assy_GB1/NFOV Camera module"
                                  }
                                ]
                              },
                              {
                                "order": "1",
                                "repair_code": "R29",
                                "repair_description": "Replace Front Camera - WFOV",
                                "service_level": "Level 2",
                                "parts": [
                                  {
                                    "number": "20GB10W0S03",
                                    "description": "Assy_GB1/WFOV Camera module"
                                  }
                                ]
                              },
                              {
                                "order": "2",
                                "repair_code": "R04",
                                "repair_description": "Replace Mainboard",
                                "service_level": "Level 3",
                                "parts": [
                                  {
                                    "number": "G710-02674-01",
                                    "description": "Assy_GB1/PCBA/Better,ROW"
                                  }
                                ]
                              }
                            ]
                          }
                        ]
                      }
                    }
                  },
                  "Cancel Claim/RMA": {
                    "description": "# Cancel Claim\nIf triage has been performed on the claim and cancel reason is CUSTOMER_DECLINED the claim may qualify in some cases for payment of the triage service performed. If the claim does not qualify the `approved_service_level` will be shown with approved quoted prices.\n",
                    "value": {
                      "success": true,
                      "message": "Record Updated",
                      "data": {
                        "totalCount": 1,
                        "status": "cancelled",
                        "approved_service_level": "Level 1",
                        "approved_services_price": "5.50",
                        "approved_mail_in_fee": "0",
                        "approved_payment_amount": "5.50"
                      }
                    }
                  },
                  "Initiate Repair": {
                    "value": {
                      "success": true,
                      "message": "Record_Updated",
                      "data": {
                        "totalCount": 1,
                        "status": "in_repair"
                      }
                    }
                  },
                  "Hold Repair": {
                    "value": {
                      "success": true,
                      "message": "Record Updated",
                      "data": {
                        "totalCount": 1,
                        "status": "on_hold"
                      }
                    }
                  },
                  "Resume Repair": {
                    "value": {
                      "success": true,
                      "message": "Record Updated",
                      "data": {
                        "totalCount": 1,
                        "status": "in_repair"
                      }
                    }
                  },
                  "Submit Repair Actions (Successful)": {
                    "value": {
                      "success": true,
                      "message": "Record Updated",
                      "data": {
                        "totalCount": 1,
                        "status": "in_repair",
                        "equipment_sku": "GA00457-US",
                        "product_line": "Pixel 3",
                        "asp_tier": "Tier 2",
                        "asp_level": "Level 4",
                        "approved_service_level": "Level 3",
                        "approved_services_price": "40.00",
                        "approved_mail_in_fee": "8.00",
                        "approved_parts_price": "355.10",
                        "approved_consumables_price": "1.50",
                        "approved_payment_amount": "396.60",
                        "authorization_code": "REPAIR_AUTHORIZED",
                        "t_codes": [
                          {
                            "code": "020",
                            "category": "Audio",
                            "subcategory": "Top Speaker low sound",
                            "warranty_status": "IW",
                            "extended_warranty_status": "COVERED",
                            "repair_actions": [
                              {
                                "order": "1",
                                "repair_code": "R21",
                                "outcome": "R",
[...]
