{
  "openapi": "3.0.3",
  "info": {
    "title": "Wafaa Madani API Documentation",
    "version": "1.0.0",
    "contact": {},
    "x-jentic-source-url": "https://api.swaggerhub.com/apis/onebit-f53/wafaa-madani-api-documentation/1.0.0"
  },
  "servers": [
    {
      "url": "https://www.wafaamadanicosmetics.com"
    }
  ],
  "paths": {
    "/api/v1/ecommerce/delete-account": {
      "post": {
        "tags": [
          "Account Deletion"
        ],
        "summary": "Request account deletion",
        "description": "Request account deletion",
        "operationId": "requestAccountDeletion",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "reason": {
                    "type": "string",
                    "example": "No longer need the account"
                  }
                }
              },
              "examples": {
                "Request account deletion": {
                  "value": {
                    "reason": "No longer need the account"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Untitled Example",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "nullable": true,
                      "example": null
                    },
                    "error": {
                      "type": "boolean",
                      "example": false
                    },
                    "message": {
                      "type": "string",
                      "example": "A 6-digit verification code has been sent to your email. Please verify to complete account deletion."
                    }
                  }
                },
                "examples": {
                  "Untitled Example": {
                    "value": {
                      "data": null,
                      "error": false,
                      "message": "A 6-digit verification code has been sent to your email. Please verify to complete account deletion."
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/ecommerce/delete-account/verify": {
      "post": {
        "tags": [
          "Account Deletion"
        ],
        "summary": "Verify and confirm account deletion",
        "description": "Verify and confirm account deletion",
        "operationId": "verifyAndConfirmAccountDeletion",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "verification_code": {
                    "type": "string",
                    "example": "123456"
                  }
                }
              },
              "examples": {
                "Verify and confirm account deletion": {
                  "value": {
                    "verification_code": "123456"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Untitled Example",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "nullable": true,
                      "example": null
                    },
                    "error": {
                      "type": "boolean",
                      "example": false
                    },
                    "message": {
                      "type": "string",
                      "example": "Your account deletion has been confirmed and will be processed shortly."
                    }
                  }
                },
                "examples": {
                  "Untitled Example": {
                    "value": {
                      "data": null,
                      "error": false,
                      "message": "Your account deletion has been confirmed and will be processed shortly."
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/ecommerce/addresses": {
      "get": {
        "tags": [
          "Address"
        ],
        "summary": "Get list of address by customer",
        "description": "Get list of address by customer",
        "operationId": "getListOfAddressByCustomer",
        "responses": {
          "200": {
            "description": ""
          },
          "401": {
            "description": "Untitled Example",
            "headers": {
              "access-control-allow-origin": {
                "schema": {
                  "type": "string",
                  "example": "*"
                }
              },
              "cache-control": {
                "schema": {
                  "type": "string",
                  "example": "no-cache, private"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "nullable": true,
                      "example": null
                    },
                    "error": {
                      "type": "boolean",
                      "example": true
                    },
                    "message": {
                      "type": "string",
                      "example": "Unauthenticated."
                    }
                  }
                },
                "examples": {
                  "Untitled Example": {
                    "value": {
                      "data": null,
                      "error": true,
                      "message": "Unauthenticated."
                    }
                  }
                }
              }
            }
          }
        },
        "security": [
          {}
        ]
      },
      "post": {
        "tags": [
          "Address"
        ],
        "summary": "Create new address for customer",
        "description": "Create new address for customer",
        "operationId": "createNewAddressForCustomer",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "address": {
                    "type": "string",
                    "example": "123 Main St"
                  },
                  "city": {
                    "type": "string",
                    "example": "Los Angeles"
                  },
                  "country": {
                    "type": "string",
                    "example": "United States or US"
                  },
                  "email": {
                    "type": "string",
                    "example": "john.doe@example.com"
                  },
                  "is_default": {
                    "type": "boolean",
                    "example": true
                  },
                  "name": {
                    "type": "string",
                    "example": "John Doe"
                  },
                  "phone": {
                    "type": "string",
                    "example": "0123456789"
                  },
                  "state": {
                    "type": "string",
                    "example": "California"
                  },
                  "zip_code": {
                    "type": "string",
                    "example": "90001"
                  }
                }
              },
              "examples": {
                "Create new address for customer": {
                  "value": {
                    "address": "123 Main St",
                    "city": "Los Angeles",
                    "country": "United States or US",
                    "email": "john.doe@example.com",
                    "is_default": true,
                    "name": "John Doe",
                    "phone": "0123456789",
                    "state": "California",
                    "zip_code": "90001"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Untitled Example",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "object",
                      "properties": {
                        "address": {
                          "type": "string",
                          "example": "123 Main St"
                        },
                        "city": {
                          "type": "string",
                          "example": "Los Angeles"
                        },
                        "country": {
                          "type": "string",
                          "example": "United States"
                        },
                        "email": {
                          "type": "string",
                          "example": "john.doe@example.com"
                        },
                        "id": {
                          "type": "number",
                          "example": 1
                        },
                        "is_default": {
                          "type": "boolean",
                          "example": true
                        },
                        "name": {
                          "type": "string",
                          "example": "John Doe"
                        },
                        "phone": {
                          "type": "string",
                          "example": "0123456789"
                        },
                        "state": {
                          "type": "string",
                          "example": "California"
                        },
                        "zip_code": {
                          "type": "string",
                          "example": "90001"
                        }
                      }
                    },
                    "error": {
                      "type": "boolean",
                      "example": false
                    },
                    "message": {
                      "nullable": true,
                      "example": null
                    }
                  }
                },
                "examples": {
                  "Untitled Example": {
                    "value": {
                      "data": {
                        "address": "123 Main St",
                        "city": "Los Angeles",
                        "country": "United States",
                        "email": "john.doe@example.com",
                        "id": 1,
                        "is_default": true,
                        "name": "John Doe",
                        "phone": "0123456789",
                        "state": "California",
                        "zip_code": "90001"
                      },
                      "error": false,
                      "message": null
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/ecommerce/addresses/{id}": {
      "put": {
        "tags": [
          "Address"
        ],
        "summary": "Update an address",
        "description": "Update an address",
        "operationId": "updateAnAddress",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "address": {
                    "type": "string",
                    "example": "123 Main St"
                  },
                  "city": {
                    "type": "string",
                    "example": "Los Angeles"
                  },
                  "country": {
                    "type": "string",
                    "example": "United States or US"
                  },
                  "email": {
                    "type": "string",
                    "example": "john.doe@example.com"
                  },
                  "is_default": {
                    "type": "boolean",
                    "example": true
                  },
                  "name": {
                    "type": "string",
                    "example": "John Doe"
                  },
                  "phone": {
                    "type": "string",
                    "example": "0123456789"
                  },
                  "state": {
                    "type": "string",
                    "example": "California"
                  },
                  "zip_code": {
                    "type": "string",
                    "example": "90001"
                  }
                }
              },
              "examples": {
                "Update an address": {
                  "value": {
                    "address": "123 Main St",
                    "city": "Los Angeles",
                    "country": "United States or US",
                    "email": "john.doe@example.com",
                    "is_default": true,
                    "name": "John Doe",
                    "phone": "0123456789",
                    "state": "California",
                    "zip_code": "90001"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Untitled Example",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "object",
                      "properties": {
                        "address": {
                          "type": "string",
                          "example": "123 Main St"
                        },
                        "city": {
                          "type": "string",
                          "example": "Los Angeles"
                        },
                        "country": {
                          "type": "string",
                          "example": "United States"
                        },
                        "email": {
                          "type": "string",
                          "example": "john.doe@example.com"
                        },
                        "id": {
                          "type": "number",
                          "example": 1
                        },
                        "is_default": {
                          "type": "boolean",
                          "example": true
                        },
                        "name": {
                          "type": "string",
                          "example": "John Doe"
                        },
                        "phone": {
                          "type": "string",
                          "example": "0123456789"
                        },
                        "state": {
                          "type": "string",
                          "example": "California"
                        },
                        "zip_code": {
                          "type": "string",
                          "example": "90001"
                        }
                      }
                    },
                    "error": {
                      "type": "boolean",
                      "example": false
                    },
                    "message": {
                      "nullable": true,
                      "example": null
                    }
                  }
                },
                "examples": {
                  "Untitled Example": {
                    "value": {
                      "data": {
                        "address": "123 Main St",
                        "city": "Los Angeles",
                        "country": "United States",
                        "email": "john.doe@example.com",
                        "id": 1,
                        "is_default": true,
                        "name": "John Doe",
                        "phone": "0123456789",
                        "state": "California",
                        "zip_code": "90001"
                      },
                      "error": false,
                      "message": null
                    }
                  }
                }
              }
            }
          }
        }
      },
      "delete": {
        "tags": [
          "Address"
        ],
        "summary": "Delete an address",
        "description": "Delete an address",
        "operationId": "deleteAnAddress",
        "responses": {
          "200": {
            "description": "Untitled Example",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "nullable": true,
                      "example": null
                    },
                    "error": {
                      "type": "boolean",
                      "example": false
                    },
                    "message": {
                      "type": "string",
                      "example": "Address deleted successfully"
                    }
                  }
                },
                "examples": {
                  "Untitled Example": {
                    "value": {
                      "data": null,
                      "error": false,
                      "message": "Address deleted successfully"
                    }
                  }
                }
              }
            }
          }
        }
      },
      "parameters": [
        {
          "name": "id",
          "in": "path",
          "required": true,
          "schema": {
            "type": "string",
            "example": "1"
          },
          "description": "The ID of the address."
        }
      ]
    },
    "/api/v1/ecommerce/countries": {
      "get": {
        "tags": [
          "Address"
        ],
        "summary": "Get list of available countries",
        "description": "Get list of available countries",
        "operationId": "getListOfAvailableCountries",
        "responses": {
          "200": {
            "description": "Untitled Example",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "code": {
                            "type": "string",
                            "example": "VN"
                          },
                          "name": {
                            "type": "string",
                            "example": "Vietnam"
                          }
                        }
                      },
                      "example": [
                        {
                          "code": "VN",
                          "name": "Vietnam"
                        }
                      ]
                    },
                    "error": {
                      "type": "boolean",
                      "example": false
                    },
                    "message": {
                      "nullable": true,
                      "example": null
                    }
                  }
                },
                "examples": {
                  "Untitled Example": {
                    "value": {
                      "data": [
                        {
                          "code": "VN",
                          "name": "Vietnam"
                        }
                      ],
                      "error": false,
                      "message": null
                    }
                  }
                }
              }
            }
          }
        },
        "security": [
          {}
        ]
      }
    },
    "/api/v1/ads": {
      "get": {
        "tags": [
          "Ads"
        ],
        "summary": "Get ads",
        "description": "Get ads",
        "operationId": "getAds",
        "parameters": [
          {
            "name": "keys[0]",
            "in": "query",
            "schema": {
              "type": "string",
              "example": "homepage-banner"
            },
            "description": "Array of ad keys to filter by."
          },
          {
            "name": "keys[1]",
            "in": "query",
            "schema": {
              "type": "string",
              "example": "sidebar-banner"
            },
            "description": "Array of ad keys to filter by."
          }
        ],
        "responses": {
          "200": {
            "description": ""
          },
          "503": {
            "description": "Untitled Example",
            "headers": {
              "access-control-allow-origin": {
                "schema": {
                  "type": "string",
                  "example": "*"
                }
              },
              "cache-control": {
                "schema": {
                  "type": "string",
                  "example": "no-cache, private"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "nullable": true,
                      "example": null
                    },
                    "error": {
                      "type": "boolean",
                      "example": true
                    },
                    "message": {
                      "type": "string",
                      "example": "API is currently disabled. Please contact the administrator to enable API access."
                    }
                  }
                },
                "examples": {
                  "Untitled Example": {
                    "value": {
                      "data": null,
                      "error": true,
                      "message": "API is currently disabled. Please contact the administrator to enable API access."
                    }
                  }
                }
              }
            }
          }
        },
        "security": [
          {}
        ]
      }
    },
    "/api/v1/register": {
      "post": {
        "tags": [
          "Authentication"
        ],
        "summary": "Register",
        "description": "Register",
        "operationId": "register",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "email": {
                    "type": "string",
                    "example": "gbailey@example.net"
                  },
                  "first_name": {
                    "type": "string",
                    "example": "John"
                  },
                  "last_name": {
                    "type": "string",
                    "example": "Smith"
                  },
                  "name": {
                    "type": "string",
                    "example": "architecto"
                  },
                  "password": {
                    "type": "string",
                    "example": "|]|{+-"
                  },
                  "password_confirmation": {
                    "type": "string",
                    "example": "architecto"
                  },
                  "phone": {
                    "type": "string",
                    "example": "architecto"
                  }
                }
              },
              "examples": {
                "Register": {
                  "value": {
                    "email": "gbailey@example.net",
                    "first_name": "John",
                    "last_name": "Smith",
                    "name": "architecto",
                    "password": "|]|{+-",
                    "password_confirmation": "architecto",
                    "phone": "architecto"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Untitled Example",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "nullable": true,
                      "example": null
                    },
                    "error": {
                      "type": "boolean",
                      "example": false
                    },
                    "message": {
                      "type": "string",
                      "example": "Registered successfully! We emailed you to verify your account!"
                    }
                  }
                },
                "examples": {
                  "Untitled Example": {
                    "value": {
                      "data": null,
                      "error": false,
                      "message": "Registered successfully! We emailed you to verify your account!"
                    }
                  }
                }
              }
            }
          },
          "422": {
            "description": "Untitled Example",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "errors": {
                      "type": "object",
                      "properties": {
                        "email": {
                          "type": "array",
                          "items": {
                            "type": "string",
                            "example": "The email field is required."
                          },
                          "example": [
                            "The email field is required."
                          ]
                        },
                        "name": {
                          "type": "array",
                          "items": {
                            "type": "string",
                            "example": "The name field is required."
                          },
                          "example": [
                            "The name field is required."
                          ]
                        },
                        "password": {
                          "type": "array",
                          "items": {
                            "type": "string",
                            "example": "The password field is required."
                          },
                          "example": [
                            "The password field is required."
                          ]
                        }
                      }
                    },
                    "message": {
                      "type": "string",
                      "example": "The given data was invalid."
                    }
                  }
                },
                "examples": {
                  "Untitled Example": {
                    "value": {
                      "errors": {
                        "email": [
                          "The email field is required."
                        ],
                        "name": [
                          "The name field is required."
                        ],
                        "password": [
                          "The password field is required."
                        ]
                      },
                      "message": "The given data was invalid."
                    }
                  }
                }
              }
            }
          }
        },
        "security": [
          {}
        ]
      }
    },
    "/api/v1/login": {
      "post": {
        "tags": [
          "Authentication"
        ],
        "summary": "Login",
        "description": "Login",
        "operationId": "login",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "email": {
                    "type": "string",
                    "example": "gbailey@example.net"
                  },
                  "password": {
                    "type": "string",
                    "example": "|]|{+-"
                  }
                }
              },
              "examples": {
                "Login": {
                  "value": {
                    "email": "gbailey@example.net",
                    "password": "|]|{+-"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Untitled Example",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "object",
                      "properties": {
                        "token": {
                          "type": "string",
                          "example": "1|aF5s7p3xxx1lVL8hkSrPN72m4wPVpTvTs..."
                        }
                      }
                    },
                    "error": {
                      "type": "boolean",
                      "example": false
                    },
                    "message": {
                      "nullable": true,
                      "example": null
                    }
                  }
                },
                "examples": {
                  "Untitled Example": {
                    "value": {
                      "data": {
                        "token": "1|aF5s7p3xxx1lVL8hkSrPN72m4wPVpTvTs..."
                      },
                      "error": false,
                      "message": null
                    }
                  }
                }
              }
            }
          }
        },
        "security": [
          {}
        ]
      }
    },
    "/api/v1/email/check": {
      "post": {
        "tags": [
          "Authentication"
        ],
        "summary": "Check email existing or not",
        "description": "Check email existing or not",
        "operationId": "checkEmailExistingOrNot",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "email": {
                    "type": "string",
                    "example": "gbailey@example.net"
                  }
                }
              },
              "examples": {
                "Check email existing or not": {
                  "value": {
                    "email": "gbailey@example.net"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Untitled Example",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "object",
                      "properties": {
                        "exists": {
                          "type": "boolean",
                          "example": true
                        }
                      }
                    },
                    "error": {
                      "type": "boolean",
                      "example": false
                    },
                    "message": {
                      "nullable": true,
                      "example": null
                    }
                  }
                },
                "examples": {
                  "Untitled Example": {
                    "value": {
                      "data": {
                        "exists": true
                      },
                      "error": false,
                      "message": null
                    }
                  }
                }
              }
            }
          }
        },
        "security": [
          {}
        ]
      }
    },
    "/api/v1/password/forgot": {
      "post": {
        "tags": [
          "Authentication"
        ],
        "summary": "Forgot password",
        "description": "Send a reset link to the given user.",
        "operationId": "forgotPassword",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "email": {
                    "type": "string",
                    "example": "gbailey@example.net"
                  }
                }
              },
              "examples": {
                "Forgot password": {
                  "value": {
                    "email": "gbailey@example.net"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": ""
          }
        },
        "security": [
          {}
        ]
      }
    },
    "/api/v1/resend-verify-account-email": {
      "post": {
        "tags": [
          "Authentication"
        ],
        "summary": "Resend email verification",
        "description": "Resend the email verification notification.",
        "operationId": "resendEmailVerification",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "email": {
                    "type": "string",
                    "example": "gbailey@example.net"
                  }
                }
              },
              "examples": {
                "Resend email verification": {
                  "value": {
                    "email": "gbailey@example.net"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": ""
          }
        },
        "security": [
          {}
        ]
      }
    },
    "/api/v1/logout": {
      "get": {
        "tags": [
          "Authentication"
        ],
        "summary": "Logout",
        "description": "Logout",
        "operationId": "logout",
        "responses": {
          "200": {
            "description": ""
          },
          "401": {
            "description": "Untitled Example",
            "headers": {
              "access-control-allow-origin": {
                "schema": {
                  "type": "string",
                  "example": "*"
                }
              },
              "cache-control": {
                "schema": {
                  "type": "string",
                  "example": "no-cache, private"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "nullable": true,
                      "example": null
                    },
                    "error": {
                      "type": "boolean",
                      "example": true
                    },
                    "message": {
                      "type": "string",
                      "example": "Unauthenticated."
                    }
                  }
                },
                "examples": {
                  "Untitled Example": {
                    "value": {
                      "data": null,
                      "error": true,
                      "message": "Unauthenticated."
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/search": {
      "get": {
        "tags": [
          "Blog"
        ],
        "summary": "Search post",
        "description": "Search post",
        "operationId": "searchPost",
        "responses": {
          "200": {
            "description": "Untitled Example",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "object",
                      "properties": {
                        "count": {
                          "type": "number",
                          "example": 1
                        },
                        "items": {
                          "type": "array",
                          "items": {
                            "type": "object",
                            "properties": {
                              "excerpt": {
                                "type": "string",
                                "example": "This is a sample post excerpt"
                              },
                              "id": {
                                "type": "number",
                                "example": 1
                              },
                              "slug": {
                                "type": "string",
                                "example": "sample-post"
                              },
                              "title": {
                                "type": "string",
                                "example": "Sample Post"
                              }
                            }
                          },
                          "example": [
                            {
                              "excerpt": "This is a sample post excerpt",
                              "id": 1,
                              "slug": "sample-post",
                              "title": "Sample Post"
                            }
                          ]
                        },
                        "query": {
                          "type": "string",
                          "example": "sample"
                        }
                      }
                    },
                    "error": {
                      "type": "boolean",
                      "example": false
                    }
                  }
                },
                "examples": {
                  "Untitled Example": {
                    "value": {
                      "data": {
                        "count": 1,
                        "items": [
                          {
                            "excerpt": "This is a sample post excerpt",
                            "id": 1,
                            "slug": "sample-post",
                            "title": "Sample Post"
                          }
                        ],
                        "query": "sample"
                      },
                      "error": false
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Untitled Example",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "boolean",
                      "example": true
                    },
                    "message": {
                      "type": "string",
                      "example": "No search result"
                    }
                  }
                },
                "examples": {
                  "Untitled Example": {
                    "value": {
                      "error": true,
                      "message": "No search result"
                    }
                  }
                }
              }
            }
          }
        },
        "security": [
          {}
        ]
      }
    },
    "/api/v1/posts": {
      "get": {
        "tags": [
          "Blog"
        ],
        "summary": "List posts",
        "description": "List posts",
        "operationId": "listPosts",
        "parameters": [
          {
            "name": "per_page",
            "in": "query",
            "schema": {
              "type": "string",
              "example": "16"
            },
            "description": "The number of items to return per page (default: 10)."
          },
          {
            "name": "page",
            "in": "query",
            "schema": {
              "type": "string",
              "example": "16"
            },
            "description": "The page number to retrieve (default: 1)."
          }
        ],
        "responses": {
          "200": {
            "description": "Untitled Example",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "author": {
                            "type": "object",
                            "properties": {
                              "id": {
                                "type": "number",
                                "example": 1
                              },
                              "name": {
                                "type": "string",
                                "example": "John Doe"
                              }
                            }
                          },
                          "categories": {
                            "type": "array",
                            "items": {},
                            "example": []
                          },
                          "content": {
                            "type": "string",
                            "example": "Full post content here..."
                          },
                          "excerpt": {
                            "type": "string",
                            "example": "This is a sample post excerpt"
                          },
                          "id": {
                            "type": "number",
                            "example": 1
                          },
                          "published_at": {
                            "type": "string",
                            "example": "2023-01-01T00:00:00.000000Z"
                          },
                          "slug": {
                            "type": "string",
                            "example": "sample-post"
                          },
                          "tags": {
                            "type": "array",
                            "items": {},
                            "example": []
                          },
                          "title": {
                            "type": "string",
                            "example": "Sample Post"
                          }
                        }
                      },
                      "example": [
                        {
                          "author": {
                            "id": 1,
                            "name": "John Doe"
                          },
                          "categories": [],
                          "content": "Full post content here...",
                          "excerpt": "This is a sample post excerpt",
                          "id": 1,
                          "published_at": "2023-01-01T00:00:00.000000Z",
                          "slug": "sample-post",
                          "tags": [],
                          "title": "Sample Post"
                        }
                      ]
                    },
                    "error": {
                      "type": "boolean",
                      "example": false
                    },
                    "message": {
                      "nullable": true,
                      "example": null
                    }
                  }
                },
                "examples": {
                  "Untitled Example": {
                    "value": {
                      "data": [
                        {
                          "author": {
                            "id": 1,
                            "name": "John Doe"
                          },
                          "categories": [],
                          "content": "Full post content here...",
                          "excerpt": "This is a sample post excerpt",
                          "id": 1,
                          "published_at": "2023-01-01T00:00:00.000000Z",
                          "slug": "sample-post",
                          "tags": [],
                          "title": "Sample Post"
                        }
                      ],
                      "error": false,
                      "message": null
                    }
                  }
                }
              }
            }
          }
        },
        "security": [
          {}
        ]
      }
    },
    "/api/v1/categories": {
      "get": {
        "tags": [
          "Blog"
        ],
        "summary": "List categories",
        "description": "List categories",
        "operationId": "listCategories",
        "parameters": [
          {
            "name": "per_page",
            "in": "query",
            "schema": {
              "type": "string",
              "example": "16"
            },
            "description": "The number of items to return per page (default: 10)."
          },
          {
            "name": "page",
            "in": "query",
            "schema": {
              "type": "string",
              "example": "16"
            },
            "description": "The page number to retrieve (default: 1)."
          }
        ],
        "responses": {
          "200": {
            "description": "Untitled Example",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "created_at": {
                            "type": "string",
                            "example": "2023-01-01T00:00:00.000000Z"
                          },
                          "description": {
                            "type": "string",
                            "example": "Latest tech news and updates"
                          },
                          "id": {
                            "type": "number",
                            "example": 1
                          },
                          "name": {
                            "type": "string",
                            "example": "Technology"
                          },
                          "slug": {
                            "type": "string",
                            "example": "technology"
                          }
                        }
                      },
                      "example": [
                        {
                          "created_at": "2023-01-01T00:00:00.000000Z",
                          "description": "Latest tech news and updates",
                          "id": 1,
                          "name": "Technology",
                          "slug": "technology"
                        }
                      ]
                    },
                    "error": {
                      "type": "boolean",
                      "example": false
                    },
                    "message": {
                      "nullable": true,
                      "example": null
                    }
                  }
                },
                "examples": {
                  "Untitled Example": {
                    "value": {
                      "data": [
                        {
                          "created_at": "2023-01-01T00:00:00.000000Z",
                          "description": "Latest tech news and updates",
                          "id": 1,
                          "name": "Technology",
                          "slug": "technology"
                        }
                      ],
                      "error": false,
                      "message": null
                    }
                  }
                }
              }
            }
          }
        },
        "security": [
          {}
        ]
      }
    },
    "/api/v1/tags": {
      "get": {
        "tags": [
          "Blog"
        ],
        "summary": "List tags",
        "description": "List tags",
        "operationId": "listTags",
        "parameters": [
          {
            "name": "per_page",
            "in": "query",
            "schema": {
              "type": "string",
              "example": "16"
            },
            "description": "The number of items to return per page (default: 10)."
          },
          {
            "name": "page",
            "in": "query",
            "schema": {
              "type": "string",
              "example": "16"
            },
            "description": "The page number to retrieve (default: 1)."
          }
        ],
        "responses": {
          "200": {
            "description": "Untitled Example",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "created_at": {
                            "type": "string",
                            "example": "2023-01-01T00:00:00.000000Z"
                          },
                          "description": {
                            "type": "string",
                            "example": "PHP Framework for web development"
                          },
                          "id": {
                            "type": "number",
                            "example": 1
                          },
                          "name": {
                            "type": "string",
                            "example": "Laravel"
                          },
                          "slug": {
                            "type": "string",
                            "example": "laravel"
                          }
                        }
                      },
                      "example": [
                        {
                          "created_at": "2023-01-01T00:00:00.000000Z",
                          "description": "PHP Framework for web development",
                          "id": 1,
                          "name": "Laravel",
                          "slug": "laravel"
                        }
                      ]
                    },
                    "error": {
                      "type": "boolean",
                      "example": false
                    },
                    "message": {
                      "nullable": true,
                      "example": null
                    }
                  }
                },
                "examples": {
                  "Untitled Example": {
                    "value": {
                      "data": [
                        {
                          "created_at": "2023-01-01T00:00:00.000000Z",
                          "description": "PHP Framework for web development",
                          "id": 1,
                          "name": "Laravel",
                          "slug": "laravel"
                        }
                      ],
                      "error": false,
                      "message": null
                    }
                  }
                }
              }
            }
          }
        },
        "security": [
          {}
        ]
      }
    },
    "/api/v1/posts/filters": {
      "get": {
        "tags": [
          "Blog"
        ],
        "summary": "Filters posts",
        "description": "Filters posts",
        "operationId": "filtersPosts",
        "parameters": [
          {
            "name": "page",
            "in": "query",
            "schema": {
              "type": "string",
              "example": "16"
            },
            "description": "Current page of the collection. Default: 1"
          },
          {
            "name": "per_page",
            "in": "query",
            "schema": {
              "type": "string",
              "example": "16"
            },
            "description": "Maximum number of items to be returned in result set.Default: 10"
          },
          {
            "name": "search",
            "in": "query",
            "schema": {
              "type": "string",
              "example": "architecto"
            },
            "description": "Limit results to those matching a string."
          },
          {
            "name": "after",
            "in": "query",
            "schema": {
              "type": "string",
              "example": "architecto"
            },
            "description": "Limit response to posts published after a given ISO8601 compliant date."
          },
          {
            "name": "author",
            "in": "query",
            "schema": {
              "type": "string",
              "example": "architecto"
            },
            "description": "Limit result set to posts assigned to specific authors."
          },
          {
            "name": "author_exclude",
            "in": "query",
            "schema": {
              "type": "string",
              "example": "architecto"
            },
            "description": "Ensure result set excludes posts assigned to specific authors."
          },
          {
            "name": "before",
            "in": "query",
            "schema": {
              "type": "string",
              "example": "architecto"
            },
            "description": "Limit response to posts published before a given ISO8601 compliant date."
          },
          {
            "name": "exclude",
            "in": "query",
            "schema": {
              "type": "string",
              "example": "architecto"
            },
            "description": "Ensure result set excludes specific IDs."
          },
          {
            "name": "include",
            "in": "query",
            "schema": {
              "type": "string",
              "example": "architecto"
            },
            "description": "Limit result set to specific IDs."
          },
          {
            "name": "order",
            "in": "query",
            "schema": {
              "type": "string",
              "example": "architecto"
            },
            "description": "Order sort attribute ascending or descending. Default: desc .One of: asc, desc"
          },
          {
            "name": "order_by",
            "in": "query",
            "schema": {
              "type": "string",
              "example": "architecto"
            },
            "description": "Sort collection by object attribute. Default: updated_at. One of: author, created_at, updated_at, id,  slug, title"
          },
          {
            "name": "categories",
            "in": "query",
            "schema": {
              "type": "string",
              "example": "architecto"
            },
            "description": "Limit result set to all items that have the specified term assigned in the categories taxonomy."
          },
          {
            "name": "categories_exclude",
            "in": "query",
            "schema": {
              "type": "string",
              "example": "architecto"
            },
            "description": "Limit result set to all items except those that have the specified term assigned in the categories taxonomy."
          },
          {
            "name": "tags",
            "in": "query",
            "schema": {
              "type": "string",
              "example": "architecto"
            },
            "description": "Limit result set to all items that have the specified term assigned in the tags taxonomy."
          },
          {
            "name": "tags_exclude",
            "in": "query",
            "schema": {
              "type": "string",
              "example": "architecto"
            },
            "description": "Limit result set to all items except those that have the specified term assigned in the tags taxonomy."
          },
          {
            "name": "featured",
            "in": "query",
            "schema": {
              "type": "string",
              "example": "architecto"
            },
            "description": "Limit result set to items that are sticky."
          }
        ],
        "responses": {
          "200": {
            "description": ""
          },
          "503": {
            "description": "Untitled Example",
            "headers": {
              "access-control-allow-origin": {
                "schema": {
                  "type": "string",
                  "example": "*"
                }
              },
              "cache-control": {
                "schema": {
                  "type": "string",
                  "example": "no-cache, private"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "nullable": true,
                      "example": null
                    },
                    "error": {
                      "type": "boolean",
                      "example": true
                    },
                    "message": {
                      "type": "string",
                      "example": "API is currently disabled. Please contact the administrator to enable API access."
                    }
                  }
                },
                "examples": {
                  "Untitled Example": {
                    "value": {
                      "data": null,
                      "error": true,
                      "message": "API is currently disabled. Please contact the administrator to enable API access."
                    }
                  }
                }
              }
            }
          }
        },
        "security": [
          {}
        ]
      }
    },
    "/api/v1/posts/{slug}": {
      "get": {
        "tags": [
          "Blog"
        ],
        "summary": "Get post by slug",
        "description": "Get post by slug",
        "operationId": "getPostBySlug",
        "parameters": [
          {
            "name": "slug",
            "in": "query",
            "schema": {
              "type": "string",
              "example": "architecto"
            },
            "description": "Find by slug of post."
          }
        ],
        "responses": {
          "200": {
            "description": ""
          },
          "503": {
            "description": "Untitled Example",
            "headers": {
              "access-control-allow-origin": {
                "schema": {
                  "type": "string",
                  "example": "*"
                }
              },
              "cache-control": {
                "schema": {
                  "type": "string",
                  "example": "no-cache, private"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "nullable": true,
                      "example": null
                    },
                    "error": {
                      "type": "boolean",
                      "example": true
                    },
                    "message": {
                      "type": "string",
                      "example": "API is currently disabled. Please contact the administrator to enable API access."
                    }
                  }
                },
                "examples": {
                  "Untitled Example": {
                    "value": {
                      "data": null,
                      "error": true,
                      "message": "API is currently disabled. Please contact the administrator to enable API access."
                    }
                  }
                }
              }
            }
          }
        },
        "security": [
          {}
        ]
      },
      "parameters": [
        {
          "name": "slug",
          "in": "path",
          "required": true,
          "schema": {
            "type": "string",
            "example": "architecto"
          },
          "description": "The slug of the post."
        }
      ]
    },
    "/api/v1/categories/filters": {
      "get": {
        "tags": [
          "Blog"
        ],
        "summary": "Filters categories",
        "description": "Filters categories",
        "operationId": "filtersCategories",
        "parameters": [
          {
            "name": "page",
            "in": "query",
            "schema": {
              "type": "string",
              "example": "16"
            },
            "description": "Current page of the collection (default: 1)."
          },
          {
            "name": "per_page",
            "in": "query",
            "schema": {
              "type": "string",
              "example": "16"
            },
            "description": "Maximum number of items to be returned (default: 10)."
          },
          {
            "name": "search",
            "in": "query",
            "schema": {
              "type": "string",
              "example": "architecto"
            },
            "description": "Limit results to those matching a string."
          },
          {
            "name": "order",
            "in": "query",
            "schema": {
              "type": "string",
              "example": "architecto"
            },
            "description": "Order sort attribute ascending or descending (default: desc). One of: asc, desc."
          },
          {
            "name": "order_by",
            "in": "query",
            "schema": {
              "type": "string",
              "example": "architecto"
            },
            "description": "Sort collection by object attribute (default: created_at). One of: created_at, updated_at, id, name."
          }
        ],
        "responses": {
          "200": {
            "description": "Untitled Example",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "description": {
                            "type": "string",
                            "example": "Latest tech news and updates"
                          },
                          "id": {
                            "type": "number",
                            "example": 1
                          },
                          "name": {
                            "type": "string",
                            "example": "Technology"
                          },
                          "slug": {
                            "type": "string",
                            "example": "technology"
                          }
                        }
                      },
                      "example": [
                        {
                          "description": "Latest tech news and updates",
                          "id": 1,
                          "name": "Technology",
                          "slug": "technology"
                        }
                      ]
                    },
                    "error": {
                      "type": "boolean",
                      "example": false
                    },
                    "message": {
                      "nullable": true,
                      "example": null
                    }
                  }
                },
                "examples": {
                  "Untitled Example": {
                    "value": {
                      "data": [
                        {
                          "description": "Latest tech news and updates",
                          "id": 1,
                          "name": "Technology",
                          "slug": "technology"
                        }
                      ],
                      "error": false,
                      "message": null
                    }
                  }
                }
              }
            }
          }
        },
        "security": [
          {}
        ]
      }
    },
    "/api/v1/categories/{slug}": {
      "get": {
        "tags": [
          "Blog"
        ],
        "summary": "Get category by slug",
        "description": "Get category by slug",
        "operationId": "getCategoryBySlug",
        "parameters": [
          {
            "name": "slug",
            "in": "query",
            "schema": {
              "type": "string",
              "example": "architecto"
            },
            "description": "Find by slug of category."
          }
        ],
        "responses": {
          "200": {
            "description": ""
          },
          "503": {
            "description": "Untitled Example",
            "headers": {
              "access-control-allow-origin": {
                "schema": {
                  "type": "string",
                  "example": "*"
                }
              },
              "cache-control": {
                "schema": {
                  "type": "string",
                  "example": "no-cache, private"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "nullable": true,
                      "example": null
                    },
                    "error": {
                      "type": "boolean",
                      "example": true
                    },
                    "message": {
                      "type": "string",
                      "example": "API is currently disabled. Please contact the administrator to enable API access."
                    }
                  }
                },
                "examples": {
                  "Untitled Example": {
                    "value": {
                      "data": null,
                      "error": true,
                      "message": "API is currently disabled. Please contact the administrator to enable API access."
                    }
                  }
                }
              }
            }
          }
        },
        "security": [
          {}
        ]
      },
      "parameters": [
        {
          "name": "slug",
          "in": "path",
          "required": true,
          "schema": {
            "type": "string",
            "example": "architecto"
          },
          "description": "The slug of the category."
        }
      ]
    },
    "/api/v1/ecommerce/brands": {
      "get": {
        "tags": [
          "Brands"
        ],
        "summary": "Get list of brands",
        "description": "Get list of brands",
        "operationId": "getListOfBrands",
        "parameters": [
          {
            "name": "brands[]",
            "in": "query",
            "schema": {
              "type": "string",
              "example": ""
            },
            "description": "List of brand IDs if you need filter by brands."
          },
          {
            "name": "page",
            "in": "query",
            "schema": {
              "type": "string",
              "example": ""
            },
            "description": "Page number. Default: 1."
          },
          {
            "name": "per_page",
            "in": "query",
            "schema": {
              "type": "string",
              "example": ""
            },
            "description": "Number of items per page. Default: 16."
          }
        ],
        "responses": {
          "200": {
            "description": ""
          },
          "503": {
            "description": "Untitled Example",
            "headers": {
              "access-control-allow-origin": {
                "schema": {
                  "type": "string",
                  "example": "*"
                }
              },
              "cache-control": {
                "schema": {
                  "type": "string",
                  "example": "no-cache, private"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "nullable": true,
                      "example": null
                    },
                    "error": {
                      "type": "boolean",
                      "example": true
                    },
                    "message": {
                      "type": "string",
                      "example": "API is currently disabled. Please contact the administrator to enable API access."
                    }
                  }
                },
                "examples": {
                  "Untitled Example": {
                    "value": {
                      "data": null,
                      "error": true,
                      "message": "API is currently disabled. Please contact the administrator to enable API access."
                    }
                  }
                }
              }
            }
          }
        },
        "security": [
          {}
        ]
      }
    },
    "/api/v1/ecommerce/brands/{slug}": {
      "get": {
        "tags": [
          "Brands"
        ],
        "summary": "Get brand details by slug",
        "description": "Get brand details by slug",
        "operationId": "getBrandDetailsBySlug",
        "responses": {
          "200": {
            "description": ""
          },
          "503": {
            "description": "Untitled Example",
            "headers": {
              "access-control-allow-origin": {
                "schema": {
                  "type": "string",
                  "example": "*"
                }
              },
              "cache-control": {
                "schema": {
                  "type": "string",
                  "example": "no-cache, private"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "nullable": true,
                      "example": null
                    },
                    "error": {
                      "type": "boolean",
                      "example": true
                    },
                    "message": {
                      "type": "string",
                      "example": "API is currently disabled. Please contact the administrator to enable API access."
                    }
                  }
                },
                "examples": {
                  "Untitled Example": {
                    "value": {
                      "data": null,
                      "error": true,
                      "message": "API is currently disabled. Please contact the administrator to enable API access."
                    }
                  }
                }
              }
            }
          }
        },
        "security": [
          {}
        ]
      },
      "parameters": [
        {
          "name": "slug",
          "in": "path",
          "required": true,
          "schema": {
            "type": "string",
            "example": "architecto"
          },
          "description": "The slug of the brand."
        }
      ]
    },
    "/api/v1/ecommerce/brands/{id}/products": {
      "get": {
        "tags": [
          "Brands"
        ],
        "summary": "Get products by brand",
        "description": "Get products by brand",
        "operationId": "getProductsByBrand",
        "responses": {
          "200": {
            "description": ""
          },
          "503": {
            "description": "Untitled Example",
            "headers": {
              "access-control-allow-origin": {
                "schema": {
                  "type": "string",
                  "example": "*"
                }
              },
              "cache-control": {
                "schema": {
                  "type": "string",
                  "example": "no-cache, private"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "nullable": true,
                      "example": null
                    },
                    "error": {
                      "type": "boolean",
                      "example": true
                    },
                    "message": {
                      "type": "string",
                      "example": "API is currently disabled. Please contact the administrator to enable API access."
                    }
                  }
                },
                "examples": {
                  "Untitled Example": {
                    "value": {
                      "data": null,
                      "error": true,
                      "message": "API is currently disabled. Please contact the administrator to enable API access."
                    }
                  }
                }
              }
            }
          }
        },
        "security": [
          {}
        ]
      },
      "parameters": [
        {
          "name": "id",
          "in": "path",
          "required": true,
          "schema": {
            "type": "string",
            "example": "564"
          },
          "description": "The ID of the brand."
        }
      ]
    },
    "/api/v1/ecommerce/cart": {
      "post": {
        "tags": [
          "Cart"
        ],
        "summary": "Add product to cart",
        "description": "Add product to cart",
        "operationId": "addProductToCart",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "product_id": {
                    "type": "number",
                    "example": 1
                  },
                  "qty": {
                    "type": "number",
                    "example": 1
                  }
                }
              },
              "examples": {
                "Add product to cart": {
                  "value": {
                    "product_id": 1,
                    "qty": 1
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": ""
          }
        },
        "security": [
          {}
        ]
      }
    },
    "/api/v1/ecommerce/cart/{id}": {
      "get": {
        "tags": [
          "Cart"
        ],
        "summary": "Get a cart item by id.",
        "description": "Get a cart item by id.",
        "operationId": "getACartItemById",
        "responses": {
          "200": {
            "description": ""
          },
          "503": {
            "description": "Untitled Example",
            "headers": {
              "access-control-allow-origin": {
                "schema": {
                  "type": "string",
                  "example": "*"
                }
              },
              "cache-control": {
                "schema": {
                  "type": "string",
                  "example": "no-cache, private"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "nullable": true,
                      "example": null
                    },
                    "error": {
                      "type": "boolean",
                      "example": true
                    },
                    "message": {
                      "type": "string",
                      "example": "API is currently disabled. Please contact the administrator to enable API access."
                    }
                  }
                },
                "examples": {
                  "Untitled Example": {
                    "value": {
                      "data": null,
                      "error": true,
                      "message": "API is currently disabled. Please contact the administrator to enable API access."
                    }
                  }
                }
              }
            }
          }
        },
        "security": [
          {}
        ]
      },
      "put": {
        "tags": [
          "Cart"
        ],
        "summary": "Update quantity of a product in cart",
        "description": "Update quantity of a product in cart",
        "operationId": "updateQuantityOfAProductInCart",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "product_id": {
                    "type": "number",
                    "example": 1
                  },
                  "qty": {
                    "type": "number",
                    "example": 1
                  }
                }
              },
              "examples": {
                "Update quantity of a product in cart": {
                  "value": {
                    "product_id": 1,
                    "qty": 1
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": ""
          }
        },
        "security": [
          {}
        ]
      },
      "post": {
        "tags": [
          "Cart"
        ],
        "summary": "Add product to cart",
        "description": "Add product to cart",
        "operationId": "addProductToCart1",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "product_id": {
                    "type": "number",
                    "example": 1
                  },
                  "qty": {
                    "type": "number",
                    "example": 1
                  }
                }
              },
              "examples": {
                "Add product to cart": {
                  "value": {
                    "product_id": 1,
                    "qty": 1
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": ""
          }
        },
        "security": [
          {}
        ]
      },
      "delete": {
        "tags": [
          "Cart"
        ],
        "summary": "Remove a cart item by its ID.",
        "description": "Remove a cart item by its ID.",
        "operationId": "removeACartItemByItsId",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "product_id": {
                    "type": "number",
                    "example": 1
                  }
                }
              },
              "examples": {
                "Remove a cart item by its ID.": {
                  "value": {
                    "product_id": 1
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": ""
          }
        },
        "security": [
          {}
        ]
      },
      "parameters": [
        {
          "name": "id",
          "in": "path",
          "required": true,
          "schema": {
            "type": "string",
            "example": "architecto"
          },
          "description": "The ID of the cart."
        }
      ]
    },
    "/api/v1/ecommerce/cart/refresh": {
      "post": {
        "tags": [
          "Cart"
        ],
        "summary": "Refresh cart items",
        "description": "Refresh cart items",
        "operationId": "refreshCartItems",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "products": {
                    "type": "array",
                    "items": {
                      "type": "string",
                      "example": "architecto"
                    },
                    "example": [
                      "architecto"
                    ]
                  }
                }
              },
              "examples": {
                "Refresh cart items": {
                  "value": {
                    "products": [
                      "architecto"
                    ]
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": ""
          }
        },
        "security": [
          {}
        ]
      }
    },
    "/api/v1/ecommerce/checkout/taxes/calculate": {
      "post": {
        "tags": [
          "Cart"
        ],
        "summary": "Calculate tax for products in cart",
        "description": "Calculate tax for products in cart",
        "operationId": "calculateTaxForProductsInCart",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "city": {
                    "type": "string",
                    "example": "Los Angeles"
                  },
                  "country": {
                    "type": "string",
                    "example": "US"
                  },
                  "products": {
                    "type": "array",
                    "items": {
                      "type": "string",
                      "example": "architecto"
                    },
                    "example": [
                      "architecto"
                    ]
                  },
                  "state": {
                    "type": "string",
                    "example": "CA"
                  },
                  "zip_code": {
                    "type": "string",
                    "example": "90001"
                  }
                }
              },
              "examples": {
                "Calculate tax for products in cart": {
                  "value": {
                    "city": "Los Angeles",
                    "country": "US",
                    "products": [
                      "architecto"
                    ],
                    "state": "CA",
                    "zip_code": "90001"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Untitled Example",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "items": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "price": {
                            "type": "number",
                            "example": 100
                          },
                          "price_formatted": {
                            "type": "string",
                            "example": "$100.00"
                          },
                          "product_id": {
                            "type": "number",
                            "example": 1
                          },
                          "quantity": {
                            "type": "number",
                            "example": 2
                          },
                          "subtotal": {
                            "type": "number",
                            "example": 200
                          },
                          "subtotal_formatted": {
                            "type": "string",
                            "example": "$200.00"
                          },
                          "tax_amount": {
                            "type": "number",
                            "example": 20
                          },
                          "tax_amount_formatted": {
                            "type": "string",
                            "example": "$20.00"
                          },
                          "tax_rate": {
                            "type": "number",
                            "example": 10
                          },
                          "total": {
                            "type": "number",
                            "example": 220
                          },
                          "total_formatted": {
                            "type": "string",
                            "example": "$220.00"
                          }
                        }
                      },
                      "example": [
                        {
                          "price": 100,
                          "price_formatted": "$100.00",
                          "product_id": 1,
                          "quantity": 2,
                          "subtotal": 200,
                          "subtotal_formatted": "$200.00",
                          "tax_amount": 20,
                          "tax_amount_formatted": "$20.00",
                          "tax_rate": 10,
                          "total": 220,
                          "total_formatted": "$220.00"
                        }
                      ]
                    },
                    "totals": {
                      "type": "object",
                      "properties": {
                        "sub_total": {
                          "type": "number",
                          "example": 200
                        },
                        "sub_total_formatted": {
                          "type": "string",
                          "example": "$200.00"
                        },
                        "tax_amount": {
                          "type": "number",
                          "example": 20
                        },
                        "tax_amount_formatted": {
                          "type": "string",
                          "example": "$20.00"
                        },
                        "total": {
                          "type": "number",
                          "example": 220
                        },
                        "total_formatted": {
                          "type": "string",
                          "example": "$220.00"
                        }
                      }
                    }
                  }
                },
                "examples": {
                  "Untitled Example": {
                    "value": {
                      "items": [
                        {
                          "price": 100,
                          "price_formatted": "$100.00",
                          "product_id": 1,
                          "quantity": 2,
                          "subtotal": 200,
                          "subtotal_formatted": "$200.00",
                          "tax_amount": 20,
                          "tax_amount_formatted": "$20.00",
                          "tax_rate": 10,
                          "total": 220,
                          "total_formatted": "$220.00"
                        }
                      ],
                      "totals": {
                        "sub_total": 200,
                        "sub_total_formatted": "$200.00",
                        "tax_amount": 20,
                        "tax_amount_formatted": "$20.00",
                        "total": 220,
                        "total_formatted": "$220.00"
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "security": [
          {}
        ]
      }
    },
    "/api/v1/ecommerce/checkout/cart/{id}": {
      "get": {
        "tags": [
          "Checkout"
        ],
        "summary": "Process Checkout\n\nProcess the checkout for a specific cart ID. This endpoint restores the cart, generates an order token,\nand redirects the user to the checkout page.",
        "description": "Process Checkout\n\nProcess the checkout for a specific cart ID. This endpoint restores the cart, generates an order token,\nand redirects the user to the checkout page.",
        "operationId": "processCheckoutProcessTheCheckoutForASpecificCartIdThisEndpointRestoresTheCartGeneratesAnOrderTokenAndRedirectsTheUserToTheCheckoutPage",
        "responses": {
          "200": {
            "description": ""
          },
          "302": {
            "description": "Untitled Example",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {}
                },
                "examples": {
                  "Untitled Example": {
                    "value": {}
                  }
                }
              }
            }
          },
          "401": {
            "description": "Untitled Example",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {
                      "type": "string",
                      "example": "Unauthenticated."
                    }
                  }
                },
                "examples": {
                  "Untitled Example": {
                    "value": {
                      "message": "Unauthenticated."
                    }
                  }
                }
              }
            }
          },
          "404": {
            "description": "Untitled Example",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {
                      "type": "string",
                      "example": "Cart not found."
                    }
                  }
                },
                "examples": {
                  "Untitled Example": {
                    "value": {
                      "message": "Cart not found."
                    }
                  }
                }
              }
            }
          },
          "503": {
            "description": "Untitled Example",
            "headers": {
              "access-control-allow-origin": {
                "schema": {
                  "type": "string",
                  "example": "*"
                }
              },
              "cache-control": {
                "schema": {
                  "type": "string",
                  "example": "no-cache, private"
                }
              },
              "set-cookie": {
                "schema": {
                  "type": "string",
                  "example": "botble_session=eyJpdiI6Inl3SFJ1bWNKK09VdlJtcFdCUHR0a0E9PSIsInZhbHVlIjoiakNnOGFYTm8xNnA4NTg5ZUtvL1BRc1BUZ0ErU1RiQk5WbjVBZW9IMUVST1krU0x2RDJvVEJRQXVPZXM1bUpqL2wzMU9MbGwvWlNVSUQ4VlNzWmxncG5yRFNrcWM4TURmMkpMQUZ2aCtzd3JYZ0NVZXFLbnh4ZWRURmNvSTA4S3ciLCJtYWMiOiI3NTUyN2IzNGZkNGMyYmNhMTMxNWM3YjIyMzk1YmU3MDIzZmVlNzYwYWUwZThmNzZkNTIxNTQ4ZjMxOWYwNzI1IiwidGFnIjoiIn0%3D; expires=Mon, 08 Dec 2025 21:40:55 GMT; Max-Age=7200; path=/; secure; httponly; samesite=lax"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "nullable": true,
                      "example": null
                    },
                    "error": {
                      "type": "boolean",
                      "example": true
                    },
                    "message": {
                      "type": "string",
                      "example": "API is currently disabled. Please contact the administrator to enable API access."
                    }
                  }
                },
                "examples": {
                  "Untitled Example": {
                    "value": {
                      "data": null,
                      "error": true,
                      "message": "API is currently disabled. Please contact the administrator to enable API access."
                    }
                  }
                }
              }
            }
          }
        }
      },
      "parameters": [
        {
          "name": "id",
          "in": "path",
          "required": true,
          "schema": {
            "type": "string",
            "example": "12345"
          },
          "description": "The ID of the cart to process."
        }
      ]
    },
    "/api/v1/ecommerce/compare": {
      "post": {
        "tags": [
          "Compare"
        ],
        "summary": "Add product to compare",
        "description": "Add product to compare",
        "operationId": "addProductToCompare",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "product_id": {
                    "type": "number",
                    "example": 1
                  }
                }
              },
              "examples": {
                "Add product to compare": {
                  "value": {
                    "product_id": 1
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": ""
          }
        },
        "security": [
          {}
        ]
      }
    },
    "/api/v1/ecommerce/compare/{id}": {
      "get": {
        "tags": [
          "Compare"
        ],
        "summary": "Get compare items",
        "description": "Get compare items",
        "operationId": "getCompareItems",
        "responses": {
          "200": {
            "description": ""
          },
          "503": {
            "description": "Untitled Example",
            "headers": {
              "access-control-allow-origin": {
                "schema": {
                  "type": "string",
                  "example": "*"
                }
              },
              "cache-control": {
                "schema": {
                  "type": "string",
                  "example": "no-cache, private"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "nullable": true,
                      "example": null
                    },
                    "error": {
                      "type": "boolean",
                      "example": true
                    },
                    "message": {
                      "type": "string",
                      "example": "API is currently disabled. Please contact the administrator to enable API access."
                    }
                  }
                },
                "examples": {
                  "Untitled Example": {
                    "value": {
                      "data": null,
                      "error": true,
                      "message": "API is currently disabled. Please contact the administrator to enable API access."
                    }
                  }
                }
              }
            }
          }
        },
        "security": [
          {}
        ]
      },
      "post": {
        "tags": [
          "Compare"
        ],
        "summary": "Add product to compare",
        "description": "Add product to compare",
        "operationId": "addProductToCompare1",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "product_id": {
                    "type": "number",
                    "example": 1
                  }
                }
              },
              "examples": {
                "Add product to compare": {
                  "value": {
                    "product_id": 1
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": ""
          }
        },
        "security": [
          {}
        ]
      },
      "delete": {
        "tags": [
          "Compare"
        ],
        "summary": "Remove a product from compare list",
        "description": "Remove a product from compare list",
        "operationId": "removeAProductFromCompareList",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "product_id": {
                    "type": "number",
                    "example": 1
                  }
                }
              },
              "examples": {
                "Remove a product from compare list": {
                  "value": {
[...]
