{
  "openapi": "3.0.1",
  "info": {
    "title": "REST API SITE SPE BENEF\u00cdCIOS",
    "description": "API de opera\u00e7\u00f5es para o SITE SPE BENEF\u00cdCIOS",
    "contact": {
      "name": "VB Servi\u00e7os",
      "url": "bs-site-spe-beneficios-backend.qa.ocp.fleetcor.com.br/sitevb",
      "email": "atendimento.beneficios@semparar.com.br"
    },
    "license": {
      "name": "SPE Benef\u00edcios License",
      "url": "bs-site-spe-beneficios-backend.qa.ocp.fleetcor.com.br/sitevb"
    },
    "version": "1.0",
    "x-jentic-source-url": "https://api.swaggerhub.com/apis/brasil-8cd/api-sitespe/1.0"
  },
  "servers": [
    {
      "url": "https://api.fleetcor.com.br/sitevb/"
    }
  ],
  "tags": [
    {
      "name": "Controle de Acessos via SIG",
      "description": "Funcionalidade respons\u00e1vel por controlar os acessos a aplica\u00e7\u00e3o via SIG"
    },
    {
      "name": "Funcionalidade respons\u00e1vel por controlar os acessos a aplica\u00e7\u00e3o Simule e Compre",
      "description": "Controle de Acessos"
    },
    {
      "name": "Controle de Acessos",
      "description": "Funcionalidade respons\u00e1vel por controlar os acessos a aplica\u00e7\u00e3o"
    }
  ],
  "paths": {
    "/simulecompre/api/v1/controle-acessos/logar": {
      "post": {
        "tags": [
          "Funcionalidade respons\u00e1vel por controlar os acessos a aplica\u00e7\u00e3o Simule e Compre"
        ],
        "summary": "Logar usu\u00e1rio a aplica\u00e7\u00e3o Simule e Compre e gerar um token de acesso para autenticar as requisi\u00e7\u00f5es (via CNPJ/EMAIL)",
        "description": "Autentica o usu\u00e1rio e retorna os dados do usu\u00e1rio logado.",
        "operationId": "logar",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/LogarUsuarioRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/UsuarioResponse"
                }
              }
            }
          },
          "400": {
            "description": "Requisi\u00e7\u00e3o inv\u00e1lida (JSON mal formatado ou campos obrigat\u00f3rios ausentes).",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BasicResponse"
                },
                "examples": {
                  "Campo obrigat\u00f3rio ausente": {
                    "description": "Campo obrigat\u00f3rio ausente",
                    "value": {
                      "erros": [
                        {
                          "tipo": "VALIDATION",
                          "mensagem": "Campo 'login' \u00e9 obrigat\u00f3rio",
                          "campo": "login",
                          "valor": null
                        }
                      ],
                      "mensagem": "Verifique os dados enviados."
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Credenciais inv\u00e1lidas.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BasicResponse"
                },
                "examples": {
                  "Credenciais inv\u00e1lidas": {
                    "description": "Credenciais inv\u00e1lidas",
                    "value": {
                      "erros": [
                        {
                          "tipo": "AUTH",
                          "mensagem": "Usu\u00e1rio ou senha inv\u00e1lidos",
                          "campo": null,
                          "valor": null
                        }
                      ],
                      "mensagem": "Falha ao autenticar"
                    }
                  }
                }
              }
            }
          },
          "500": {
            "description": "Erro inesperado no servidor.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BasicResponse"
                },
                "examples": {
                  "Exemplo 500": {
                    "description": "Exemplo 500",
                    "value": {
                      "erros": [
                        {
                          "tipo": "SERVER_ERROR",
                          "mensagem": "Ocorreu um erro inesperado. Tente novamente mais tarde.",
                          "campo": null,
                          "valor": null
                        }
                      ],
                      "mensagem": "Erro interno ao processar o login"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/controle-acessos/logar": {
      "post": {
        "tags": [
          "Controle de Acessos"
        ],
        "summary": "Logar usu\u00e1rio a aplica\u00e7\u00e3o e gerar um token de acesso para autenticar as requisi\u00e7\u00f5es (via CNPJ/EMAIL)",
        "description": "Autentica o usu\u00e1rio e retorna os dados do usu\u00e1rio logado.",
        "operationId": "logar_1",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/LogarUsuarioRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/UsuarioResponse"
                }
              }
            }
          },
          "400": {
            "description": "Requisi\u00e7\u00e3o inv\u00e1lida (JSON mal formatado ou campos obrigat\u00f3rios ausentes).",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BasicResponse"
                },
                "examples": {
                  "Campo obrigat\u00f3rio ausente": {
                    "description": "Campo obrigat\u00f3rio ausente",
                    "value": {
                      "erros": [
                        {
                          "tipo": "VALIDATION",
                          "mensagem": "Campo 'login' \u00e9 obrigat\u00f3rio (por favor informe o e-mail ou cnpj)",
                          "campo": "login",
                          "valor": null
                        }
                      ],
                      "mensagem": "Verifique os dados enviados."
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Credenciais inv\u00e1lidas.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BasicResponse"
                },
                "examples": {
                  "Credenciais inv\u00e1lidas": {
                    "description": "Credenciais inv\u00e1lidas",
                    "value": {
                      "erros": [
                        {
                          "tipo": "AUTH",
                          "mensagem": "Usu\u00e1rio ou senha inv\u00e1lidos",
                          "campo": null,
                          "valor": null
                        }
                      ],
                      "mensagem": "Falha ao autenticar"
                    }
                  }
                }
              }
            }
          },
          "500": {
            "description": "Erro inesperado no servidor.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BasicResponse"
                },
                "examples": {
                  "Exemplo 500": {
                    "description": "Exemplo 500",
                    "value": {
                      "erros": [
                        {
                          "tipo": "SERVER_ERROR",
                          "mensagem": "Ocorreu um erro inesperado. Tente novamente mais tarde.",
                          "campo": null,
                          "valor": null
                        }
                      ],
                      "mensagem": "Erro interno ao processar o login"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/controle-acessos-sig/logar": {
      "post": {
        "tags": [
          "Controle de Acessos via SIG"
        ],
        "operationId": "logar_2",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/LogarUsuarioSigRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/UsuarioResponse"
                }
              }
            }
          }
        }
      }
    }
  },
  "components": {
    "schemas": {
      "BasicResponse": {
        "type": "object",
        "properties": {
          "erros": {
            "type": "array",
            "description": "Lista de erros",
            "items": {
              "$ref": "#/components/schemas/ErroDTO"
            }
          },
          "mensagem": {
            "type": "string",
            "description": "Mensagem informativa de retorno para exibi\u00e7\u00e3o no frontend."
          }
        }
      },
      "ErroDTO": {
        "type": "object",
        "properties": {
          "tipo": {
            "type": "string",
            "description": "Tipo do erro para controle de exibi\u00e7\u00e3o do frontend, preenchido quando o status HTTP diferente da fam\u00edlia 200"
          },
          "mensagem": {
            "type": "string",
            "description": "Mensagem detalhando mais informa\u00e7\u00f5es sobre o erro, preenchido quando o status HTTP diferente da fam\u00edlia 200"
          },
          "campo": {
            "type": "string",
            "description": "Campo onde ocorreu o erro de valida\u00e7\u00e3o dos dados"
          },
          "valor": {
            "type": "string",
            "description": "Valor recebido no campo onde ocorreu o erro de valida\u00e7\u00e3o dos dados"
          }
        },
        "description": "Lista de erros"
      },
      "AtivarUsuarioRequestV2": {
        "required": [
          "hashKey"
        ],
        "type": "object",
        "properties": {
          "hashKey": {
            "type": "string",
            "description": "Hash key para ativa\u00e7\u00e3o."
          }
        }
      },
      "ManterMenusUsuarioRequestV2": {
        "required": [
          "idUsuarioWeb"
        ],
        "type": "object",
        "properties": {
          "idUsuarioWeb": {
            "type": "integer",
            "description": "ID do usu\u00e1rio web.",
            "format": "int64"
          },
          "todasEmpresas": {
            "type": "boolean",
            "description": "Define que as altera\u00e7\u00f5es nas permiss\u00f5es de usu\u00e1rio, devem ser aplicadas a todas as empresas."
          },
          "idGrupoCliente": {
            "type": "integer",
            "format": "int64"
          },
          "idParceria": {
            "type": "integer",
            "description": "Id da parceria da empresa.",
            "format": "int64"
          },
          "menus": {
            "type": "array",
            "description": "Carrega a lista de menus selecionados para altera\u00e7\u00e3o de permiss\u00f5es.",
            "items": {
              "type": "integer",
              "description": "Carrega a lista de menus selecionados para altera\u00e7\u00e3o de permiss\u00f5es.",
              "format": "int64"
            }
          },
          "listaClienteMenusPorUsuario": {
            "type": "array",
            "description": "Lista de menus para alterar o acesso do usu\u00e1rio",
            "items": {
              "$ref": "#/components/schemas/MenusUsuarioRequest"
            }
          }
        }
      },
      "LogarUsuarioRequest": {
        "required": [
          "senha"
        ],
        "type": "object",
        "properties": {
          "cnpjCpf": {
            "type": "string",
            "description": "Chave de cadastro para usu\u00e1rio. Pode ser CPF ou CNPJ"
          },
          "email": {
            "type": "string",
            "description": "E-mail do usu\u00e1rio web."
          },
          "senha": {
            "type": "string",
            "description": "Senha de usu\u00e1rio."
          }
        }
      },
      "ClienteGrupoResponseLoginDTO": {
        "type": "object",
        "properties": {
          "razaoSocial": {
            "type": "string"
          },
          "cpfCnpj": {
            "type": "string",
            "description": "CPF ou CNPJ do cliente"
          },
          "idTipoClienteNegocio": {
            "type": "integer",
            "format": "int64"
          },
          "idClienteNegocio": {
            "type": "integer",
            "format": "int64"
          },
          "idCliente": {
            "type": "integer",
            "format": "int64"
          }
        },
        "description": "Clientes que fazem parte do grupo da empresa."
      },
      "UsuarioLoginResponse": {
        "type": "object",
        "properties": {
          "idCliente": {
            "type": "integer",
            "format": "int64"
          },
          "cpfCnpj": {
            "type": "string"
          },
          "nomeRazaoSocial": {
            "type": "string"
          },
          "flagGrupoCliente": {
            "type": "string"
          },
          "idGrupoCliente": {
            "type": "integer",
            "format": "int64"
          },
          "idTipoCliente": {
            "type": "integer",
            "format": "int64"
          },
          "nomeContato": {
            "type": "string"
          },
          "idParceria": {
            "type": "integer",
            "format": "int64"
          },
          "login": {
            "type": "string",
            "description": "Login de usu\u00e1rio."
          },
          "nome": {
            "type": "string",
            "description": "Nome do usuario web"
          },
          "flagAlterarSenha": {
            "type": "boolean",
            "description": "Utilizado para informar a necessidade de altera\u00e7\u00e3o de senha."
          },
          "idUsuarioWeb": {
            "type": "integer",
            "description": "ID do usu\u00e1rio web.",
            "format": "int64"
          },
          "idUsuarioWebPai": {
            "type": "integer",
            "description": "Empresa do usu\u00e1rio web.",
            "format": "int64"
          },
          "email": {
            "type": "string",
            "description": "E-mail do usu\u00e1rio web."
          },
          "flagLiberado": {
            "type": "string",
            "description": "Flag liberado do usu\u00e1rio web."
          },
          "flagUsuarioDono": {
            "type": "string",
            "description": "Chave que define um usu\u00e1rio dono."
          },
          "grupo": {
            "type": "array",
            "description": "Clientes que fazem parte do grupo da empresa.",
            "items": {
              "$ref": "#/components/schemas/ClienteGrupoResponseLoginDTO"
            }
          },
          "pedidos": {
            "type": "integer",
            "description": "Carregar quantidade de pedidos vinculados ao cliente.",
            "format": "int32"
          },
          "idUltimoPedido": {
            "type": "integer",
            "description": "C\u00f3digo do \u00faltimo pedido realizado pelo cliente.",
            "format": "int64"
          },
          "loginSIG": {
            "type": "string",
            "description": "Login de acesso do usu\u00e1rio do SIG"
          },
          "flagErrosImportacao": {
            "type": "boolean",
            "description": "Flag que define se o usu\u00e1rio do SIG pertence ao grupo de desenvolvedores."
          },
          "flagImportacao": {
            "type": "string",
            "description": "Indica se h\u00e1 importa\u00e7\u00e3o para o cliente."
          },
          "flagAcessoAPI": {
            "type": "boolean",
            "description": "Flag que garante o acesso a api de relat\u00f3rios"
          },
          "flagSimuleCompre": {
            "type": "boolean",
            "description": "Flag que define se o usu\u00e1rio \u00e9 cliente simule compre ativo - true / false."
          },
          "idUsuarioSiteSPE": {
            "type": "integer",
            "description": "ID do usu\u00e1rio autenticador.",
            "format": "int64"
          },
          "token": {
            "type": "string",
            "description": "Token de acesso."
          },
          "flagAceitePix": {
            "type": "boolean",
            "description": "Flag aceite de reembolso via pix."
          }
        },
        "description": "Usu\u00e1rio autenticado."
      },
      "UsuarioResponse": {
        "type": "object",
        "properties": {
          "erros": {
            "type": "array",
            "description": "Lista de erros",
            "items": {
              "$ref": "#/components/schemas/ErroDTO"
            }
          },
          "mensagem": {
            "type": "string",
            "description": "Mensagem informativa de retorno para exibi\u00e7\u00e3o no frontend."
          },
          "usuario": {
            "$ref": "#/components/schemas/UsuarioLoginResponse"
          }
        }
      },
      "ConsultarFuncionarioCartaoDetalheListaRequestV2": {
        "required": [
          "idPedido"
        ],
        "type": "object",
        "properties": {
          "idPedido": {
            "type": "integer",
            "description": "Id do pedido.",
            "format": "int64"
          },
          "idEmissor": {
            "type": "integer",
            "description": "Id do Emissor",
            "format": "int64"
          },
          "nomeFuncionario": {
            "type": "string",
            "description": "Nome do funcion\u00e1rio"
          },
          "cpfFuncionario": {
            "type": "string",
            "description": "CPF do funcion\u00e1rio"
          },
          "matriculaFuncionario": {
            "type": "string",
            "description": "Matr\u00edcula do funcion\u00e1rio"
          }
        }
      },
      "EnderecoObject": {
        "required": [
          "cep",
          "numero",
          "responsavel",
          "tipo"
        ],
        "type": "object",
        "properties": {
          "idContato": {
            "type": "integer",
            "description": "Id do contato do endere\u00e7o",
            "format": "int64"
          },
          "idDistrito": {
            "type": "integer",
            "description": "Id do distrito do endere\u00e7o",
            "format": "int64"
          },
          "tipo": {
            "type": "integer",
            "description": "Tipo do endere\u00e7o",
            "format": "int32"
          },
          "numero": {
            "maxLength": 10,
            "minLength": 0,
            "type": "string",
            "description": "N\u00famero do endere\u00e7o"
          },
          "cep": {
            "maxLength": 9,
            "minLength": 0,
            "type": "string",
            "description": "Cep do endere\u00e7o"
          },
          "complemento": {
            "maxLength": 40,
            "minLength": 0,
            "type": "string",
            "description": "Complemento do endere\u00e7o"
          },
          "logradouro": {
            "maxLength": 100,
            "minLength": 0,
            "type": "string",
            "description": "Logradouro do endere\u00e7o"
          },
          "bairro": {
            "maxLength": 72,
            "minLength": 0,
            "type": "string",
            "description": "Bairro do endere\u00e7o"
          },
          "responsavel": {
            "maxLength": 72,
            "minLength": 0,
            "type": "string",
            "description": "Respons\u00e1vel pelo endere\u00e7o"
          },
          "extensao": {
            "type": "integer",
            "description": "Extens\u00e3o do endere\u00e7o",
            "format": "int64"
          },
          "referencia": {
            "maxLength": 100,
            "minLength": 0,
            "type": "string",
            "description": "Refer\u00eancia do endere\u00e7o"
          }
        }
      },
      "BoletoPDF": {
        "required": [
          "id"
        ],
        "type": "object",
        "properties": {
          "id": {
            "type": "integer",
            "format": "int64"
          },
          "tipoChave": {
            "type": "integer",
            "format": "int32"
          },
          "tipoValor": {
            "type": "string"
          },
          "idParceria": {
            "type": "integer",
            "format": "int64"
          }
        }
      },
      "Pageable": {
        "type": "object",
        "properties": {
          "page": {
            "minimum": 0,
            "type": "integer",
            "format": "int32"
          },
          "size": {
            "minimum": 1,
            "type": "integer",
            "format": "int32"
          },
          "sort": {
            "type": "array",
            "items": {
              "type": "string"
            }
          }
        }
      },
      "PageableObject": {
        "type": "object",
        "properties": {
          "unpaged": {
            "type": "boolean"
          },
          "paged": {
            "type": "boolean"
          },
          "pageSize": {
            "type": "integer",
            "format": "int32"
          },
          "pageNumber": {
            "type": "integer",
            "format": "int32"
          },
          "offset": {
            "type": "integer",
            "format": "int64"
          },
          "sort": {
            "$ref": "#/components/schemas/SortObject"
          }
        }
      },
      "SortObject": {
        "type": "object",
        "properties": {
          "unsorted": {
            "type": "boolean"
          },
          "sorted": {
            "type": "boolean"
          },
          "empty": {
            "type": "boolean"
          }
        }
      }
    }
  }
}