{
  "openapi": "3.0.3",
  "info": {
    "title": "Rosette Text Analytics API",
    "version": "1.0",
    "description": "Rosette API by Babel Street provides multilingual text analytics including entity extraction, sentiment analysis, language identification, morphological analysis, categorization, name matching, transliteration, and more. Supports 200+ languages.",
    "x-jentic-source-url": "https://developer.rosette.com/",
    "contact": {
      "name": "API Support"
    }
  },
  "servers": [
    {
      "url": "https://api.rosette.com"
    }
  ],
  "paths": {
    "/rest/v1/language": {
      "post": {
        "operationId": "identifyLanguage",
        "summary": "Language identification",
        "description": "Identifies the language of the input text.",
        "tags": [
          "Language"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/TextAnalysisRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/LanguageIdentificationResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/rest/v1/morphology/complete": {
      "post": {
        "operationId": "getMorphologyComplete",
        "summary": "Complete morphological analysis",
        "description": "Returns lemmas, parts of speech, compound word components, and Han readings for the input text.",
        "tags": [
          "Morphology"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/TextAnalysisRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/MorphologyResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/rest/v1/morphology/lemmas": {
      "post": {
        "operationId": "getMorphologyLemmas",
        "summary": "Lemma extraction",
        "description": "Returns lemmas (dictionary/root forms) for the input text.",
        "tags": [
          "Morphology"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/TextAnalysisRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/MorphologyResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/rest/v1/morphology/parts-of-speech": {
      "post": {
        "operationId": "getMorphologyPos",
        "summary": "Parts of speech tagging",
        "description": "Returns the part of speech tags for the input text.",
        "tags": [
          "Morphology"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/TextAnalysisRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/MorphologyResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/rest/v1/morphology/compound-components": {
      "post": {
        "operationId": "getMorphologyCompounds",
        "summary": "Compound word decomposition",
        "description": "Returns compound word components for the input text.",
        "tags": [
          "Morphology"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/TextAnalysisRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/MorphologyResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/rest/v1/morphology/han-readings": {
      "post": {
        "operationId": "getMorphologyHanReadings",
        "summary": "Han readings",
        "description": "Returns Han readings for the input text.",
        "tags": [
          "Morphology"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/TextAnalysisRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/MorphologyResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/rest/v1/entities": {
      "post": {
        "operationId": "extractEntities",
        "summary": "Entity extraction",
        "description": "Identifies and extracts entities (people, places, organizations, etc.) from the input text.",
        "tags": [
          "Entities"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/TextAnalysisRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/EntitiesResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/rest/v1/entities/linked": {
      "post": {
        "operationId": "extractLinkedEntities",
        "summary": "Entity linking",
        "description": "Identifies entities and links them to knowledge base entries (e.g., QIDs in Wikidata).",
        "tags": [
          "Entities"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/TextAnalysisRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/LinkedEntitiesResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/rest/v1/categories": {
      "post": {
        "operationId": "categorize",
        "summary": "Text categorization",
        "description": "Categorizes the input text into one or more contextual categories.",
        "tags": [
          "Categories"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/TextAnalysisRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CategoriesResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/rest/v1/sentiment": {
      "post": {
        "operationId": "analyzeSentiment",
        "summary": "Sentiment analysis",
        "description": "Analyzes the sentiment (positive, negative, neutral) of the input text.",
        "tags": [
          "Sentiment"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/TextAnalysisRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SentimentResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/rest/v1/relationships": {
      "post": {
        "operationId": "extractRelationships",
        "summary": "Relationship extraction",
        "description": "Extracts relationships between entities in the input text.",
        "tags": [
          "Relationships"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/TextAnalysisRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RelationshipsResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/rest/v1/topics": {
      "post": {
        "operationId": "extractTopics",
        "summary": "Topic extraction",
        "description": "Extracts key phrases and topics from the input text.",
        "tags": [
          "Topics"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/TextAnalysisRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TopicsResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/rest/v1/tokens": {
      "post": {
        "operationId": "tokenize",
        "summary": "Tokenization",
        "description": "Divides the input text into tokens (words, punctuation, etc.).",
        "tags": [
          "Tokens"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/TextAnalysisRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TokensResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/rest/v1/sentences": {
      "post": {
        "operationId": "detectSentences",
        "summary": "Sentence detection",
        "description": "Divides the input text into sentences.",
        "tags": [
          "Sentences"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/TextAnalysisRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SentencesResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/rest/v1/name-translation": {
      "post": {
        "operationId": "translateName",
        "summary": "Name translation",
        "description": "Translates a proper name from one language to another.",
        "tags": [
          "Names"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/TextAnalysisRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/NameTranslationResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/rest/v1/name-similarity": {
      "post": {
        "operationId": "compareName",
        "summary": "Name similarity",
        "description": "Compares two names and returns a similarity score.",
        "tags": [
          "Names"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/TextAnalysisRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/NameSimilarityResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/rest/v1/name-deduplication": {
      "post": {
        "operationId": "deduplicateNames",
        "summary": "Name deduplication",
        "description": "Identifies duplicate names in a list.",
        "tags": [
          "Names"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/TextAnalysisRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/NameDeduplicationResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/rest/v1/transliteration": {
      "post": {
        "operationId": "transliterate",
        "summary": "Transliteration",
        "description": "Transliterates text from one script to another.",
        "tags": [
          "Transliteration"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/TextAnalysisRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TransliterationResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/rest/v1/semantics/similar": {
      "post": {
        "operationId": "findSimilarTerms",
        "summary": "Semantic similarity",
        "description": "Finds semantically similar terms for the input.",
        "tags": [
          "Semantics"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/TextAnalysisRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SemanticSimilarityResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/rest/v1/semantics/vector": {
      "post": {
        "operationId": "getTextVector",
        "summary": "Text vector",
        "description": "Returns a numeric text embedding vector for the input text.",
        "tags": [
          "Semantics"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/TextAnalysisRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TextVectorResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/rest/v1/syntax/dependencies": {
      "post": {
        "operationId": "parseSyntax",
        "summary": "Syntactic dependency parsing",
        "description": "Returns syntactic dependency parse of the input text.",
        "tags": [
          "Syntax"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/TextAnalysisRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SyntaxDependenciesResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/rest/v1/ping": {
      "get": {
        "operationId": "ping",
        "summary": "Ping",
        "description": "Check service availability.",
        "tags": [
          "Info"
        ],
        "parameters": [],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/InfoResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/rest/v1/info": {
      "get": {
        "operationId": "getInfo",
        "summary": "Get API info",
        "description": "Returns version and build info for the API.",
        "tags": [
          "Info"
        ],
        "parameters": [],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/InfoResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    }
  },
  "components": {
    "schemas": {
      "TextAnalysisRequest": {
        "type": "object",
        "properties": {
          "content": {
            "type": "string",
            "description": "Text content to analyze."
          },
          "contentUri": {
            "type": "string",
            "description": "URI for publicly accessible text content."
          },
          "language": {
            "type": "string",
            "description": "ISO 639-3 language code. Auto-detected if omitted."
          },
          "genre": {
            "type": "string",
            "description": "Genre of the content (e.g., social-media)."
          },
          "options": {
            "type": "object",
            "description": "Endpoint-specific options.",
            "additionalProperties": true
          }
        }
      },
      "LanguageIdentificationResponse": {
        "type": "object",
        "properties": {
          "languageDetections": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "language": {
                  "type": "string"
                },
                "confidence": {
                  "type": "number"
                }
              }
            }
          },
          "responseHeaders": {
            "type": "object"
          }
        }
      },
      "MorphologyResponse": {
        "type": "object",
        "properties": {
          "tokens": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "token": {
                  "type": "string"
                },
                "lemma": {
                  "type": "string"
                },
                "partOfSpeech": {
                  "type": "string"
                },
                "compoundComponents": {
                  "type": "array",
                  "items": {
                    "type": "string"
                  }
                },
                "hanReadings": {
                  "type": "array",
                  "items": {
                    "type": "string"
                  }
                }
              }
            }
          },
          "responseHeaders": {
            "type": "object"
          }
        }
      },
      "EntitiesResponse": {
        "type": "object",
        "properties": {
          "entities": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Entity"
            }
          },
          "responseHeaders": {
            "type": "object"
          }
        }
      },
      "Entity": {
        "type": "object",
        "properties": {
          "type": {
            "type": "string",
            "description": "Entity type (PERSON, LOCATION, ORGANIZATION, etc.)"
          },
          "mention": {
            "type": "string",
            "description": "Text of the entity mention."
          },
          "normalized": {
            "type": "string",
            "description": "Normalized form of the entity."
          },
          "count": {
            "type": "integer",
            "description": "Number of mentions."
          },
          "mentionOffsets": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "startOffset": {
                  "type": "integer"
                },
                "endOffset": {
                  "type": "integer"
                }
              }
            }
          },
          "confidence": {
            "type": "number"
          },
          "entityId": {
            "type": "string"
          },
          "dbpediaType": {
            "type": "string"
          },
          "sentiment": {
            "type": "object",
            "properties": {
              "label": {
                "type": "string"
              },
              "confidence": {
                "type": "number"
              }
            }
          }
        }
      },
      "LinkedEntitiesResponse": {
        "type": "object",
        "properties": {
          "entities": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "entityId": {
                  "type": "string"
                },
                "mention": {
                  "type": "string"
                },
                "type": {
                  "type": "string"
                },
                "confidence": {
                  "type": "number"
                },
                "linkingConfidence": {
                  "type": "number"
                }
              }
            }
          },
          "responseHeaders": {
            "type": "object"
          }
        }
      },
      "CategoriesResponse": {
        "type": "object",
        "properties": {
          "categories": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "label": {
                  "type": "string"
                },
                "confidence": {
                  "type": "number"
                }
              }
            }
          },
          "responseHeaders": {
            "type": "object"
          }
        }
      },
      "SentimentResponse": {
        "type": "object",
        "properties": {
          "document": {
            "type": "object",
            "properties": {
              "label": {
                "type": "string",
                "enum": [
                  "pos",
                  "neg",
                  "neu"
                ]
              },
              "confidence": {
                "type": "number"
              }
            }
          },
          "entities": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "mention": {
                  "type": "string"
                },
                "type": {
                  "type": "string"
                },
                "sentiment": {
                  "type": "object",
                  "properties": {
                    "label": {
                      "type": "string"
                    },
                    "confidence": {
                      "type": "number"
                    }
                  }
                }
              }
            }
          },
          "responseHeaders": {
            "type": "object"
          }
        }
      },
      "RelationshipsResponse": {
        "type": "object",
        "properties": {
          "relationships": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "predicate": {
                  "type": "string"
                },
                "arg1": {
                  "type": "string"
                },
                "arg2": {
                  "type": "string"
                },
                "arg3": {
                  "type": "string"
                },
                "confidence": {
                  "type": "number"
                },
                "modalities": {
                  "type": "array",
                  "items": {
                    "type": "string"
                  }
                },
                "locatives": {
                  "type": "array",
                  "items": {
                    "type": "string"
                  }
                },
                "temporals": {
                  "type": "array",
                  "items": {
                    "type": "string"
                  }
                }
              }
            }
          },
          "responseHeaders": {
            "type": "object"
          }
        }
      },
      "TopicsResponse": {
        "type": "object",
        "properties": {
          "keyphrases": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "phrase": {
                  "type": "string"
                },
                "salience": {
                  "type": "number"
                }
              }
            }
          },
          "concepts": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "phrase": {
                  "type": "string"
                },
                "salience": {
                  "type": "number"
                },
                "conceptId": {
                  "type": "string"
                }
              }
            }
          },
          "responseHeaders": {
            "type": "object"
          }
        }
      },
      "TokensResponse": {
        "type": "object",
        "properties": {
          "tokens": {
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "responseHeaders": {
            "type": "object"
          }
        }
      },
      "SentencesResponse": {
        "type": "object",
        "properties": {
          "sentences": {
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "responseHeaders": {
            "type": "object"
          }
        }
      },
      "NameTranslationResponse": {
        "type": "object",
        "properties": {
          "translation": {
            "type": "string"
          },
          "confidence": {
            "type": "number"
          },
          "sourceLanguageOfOrigin": {
            "type": "string"
          },
          "sourceLanguageOfUse": {
            "type": "string"
          },
          "sourceScript": {
            "type": "string"
          },
          "targetLanguage": {
            "type": "string"
          },
          "targetScript": {
            "type": "string"
          },
          "targetScheme": {
            "type": "string"
          },
          "responseHeaders": {
            "type": "object"
          }
        }
      },
      "NameSimilarityResponse": {
        "type": "object",
        "properties": {
          "score": {
            "type": "number",
            "description": "Similarity score between 0 and 1."
          },
          "responseHeaders": {
            "type": "object"
          }
        }
      },
      "NameDeduplicationResponse": {
        "type": "object",
        "properties": {
          "results": {
            "type": "array",
            "items": {
              "type": "object"
            }
          },
          "responseHeaders": {
            "type": "object"
          }
        }
      },
      "TransliterationResponse": {
        "type": "object",
        "properties": {
          "transliteration": {
            "type": "string"
          },
          "responseHeaders": {
            "type": "object"
          }
        }
      },
      "SemanticSimilarityResponse": {
        "type": "object",
        "properties": {
          "similar": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "term": {
                  "type": "string"
                },
                "similarity": {
                  "type": "number"
                }
              }
            }
          },
          "responseHeaders": {
            "type": "object"
          }
        }
      },
      "TextVectorResponse": {
        "type": "object",
        "properties": {
          "vector": {
            "type": "array",
            "items": {
              "type": "number"
            }
          },
          "responseHeaders": {
            "type": "object"
          }
        }
      },
      "SyntaxDependenciesResponse": {
        "type": "object",
        "properties": {
          "sentences": {
            "type": "array",
            "items": {
              "type": "object"
            }
          },
          "tokens": {
            "type": "array",
            "items": {
              "type": "object"
            }
          },
          "responseHeaders": {
            "type": "object"
          }
        }
      },
      "InfoResponse": {
        "type": "object",
        "properties": {
          "name": {
            "type": "string"
          },
          "version": {
            "type": "string"
          },
          "buildNumber": {
            "type": "string"
          },
          "buildTime": {
            "type": "string"
          }
        }
      },
      "ErrorResponse": {
        "type": "object",
        "properties": {
          "code": {
            "type": "string",
            "description": "Error code."
          },
          "message": {
            "type": "string",
            "description": "Error message."
          },
          "requestId": {
            "type": "string",
            "description": "Request ID for debugging."
          }
        }
      }
    },
    "securitySchemes": {
      "apiKey": {
        "type": "apiKey",
        "name": "X-RosetteAPI-Key",
        "in": "header",
        "description": "Rosette API key for authentication."
      }
    }
  },
  "security": [
    {
      "apiKey": []
    }
  ],
  "tags": [
    {
      "name": "Categories"
    },
    {
      "name": "Entities"
    },
    {
      "name": "Info"
    },
    {
      "name": "Language"
    },
    {
      "name": "Morphology"
    },
    {
      "name": "Names"
    },
    {
      "name": "Relationships"
    },
    {
      "name": "Semantics"
    },
    {
      "name": "Sentences"
    },
    {
      "name": "Sentiment"
    },
    {
      "name": "Syntax"
    },
    {
      "name": "Tokens"
    },
    {
      "name": "Topics"
    },
    {
      "name": "Transliteration"
    }
  ]
}
