{
  "openapi": "3.0.3",
  "info": {
    "title": "SIX Financial API",
    "version": "1.0.0",
    "description": "SIX Group provides financial data infrastructure APIs including the bLink API for banking connectivity, Web API for financial reference and pricing data, and Debix API for debt issuance data.",
    "x-jentic-source-url": "https://web.apiportal.six-group.com/portal/bfi/catalog",
    "contact": {
      "name": "API Support"
    }
  },
  "servers": [
    {
      "url": "https://web.apiportal.six-group.com"
    }
  ],
  "paths": {
    "/api/v1/instruments": {
      "get": {
        "operationId": "listInstruments",
        "summary": "List instruments",
        "tags": [
          "Reference Data"
        ],
        "parameters": [
          {
            "name": "isin",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "symbol",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "instrumentType",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "enum": [
                "EQUITY",
                "BOND",
                "FUND",
                "ETF",
                "DERIVATIVE"
              ]
            }
          },
          {
            "name": "exchange",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "pageSize",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "default": 20
            }
          },
          {
            "name": "page",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "default": 1
            }
          }
        ],
        "responses": {
          "200": {
            "description": "List of instruments",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/InstrumentListResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "description": "List instruments"
      }
    },
    "/api/v1/instruments/{id}": {
      "get": {
        "operationId": "getInstrument",
        "summary": "Get instrument details",
        "tags": [
          "Reference Data"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Instrument details",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Instrument"
                }
              }
            }
          },
          "404": {
            "description": "Not found"
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "description": "Get instrument details"
      }
    },
    "/api/v1/prices": {
      "get": {
        "operationId": "getPrices",
        "summary": "Get current prices",
        "tags": [
          "Pricing"
        ],
        "parameters": [
          {
            "name": "isin",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "symbol",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Pricing data",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PriceListResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "description": "Get current prices"
      }
    },
    "/api/v1/prices/{id}": {
      "get": {
        "operationId": "getPrice",
        "summary": "Get price for instrument",
        "tags": [
          "Pricing"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Price data",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Price"
                }
              }
            }
          },
          "404": {
            "description": "Not found"
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "description": "Get price for instrument"
      }
    },
    "/api/v1/prices/{id}/history": {
      "get": {
        "operationId": "getPriceHistory",
        "summary": "Get historical prices",
        "tags": [
          "Pricing"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "from",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string",
              "format": "date"
            }
          },
          {
            "name": "to",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string",
              "format": "date"
            }
          },
          {
            "name": "frequency",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "enum": [
                "daily",
                "weekly",
                "monthly"
              ]
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Historical prices",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PriceHistoryResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "description": "Get historical prices"
      }
    },
    "/api/v1/corporate-actions": {
      "get": {
        "operationId": "listCorporateActions",
        "summary": "List corporate actions",
        "tags": [
          "Corporate Actions"
        ],
        "parameters": [
          {
            "name": "isin",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "type",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "enum": [
                "DIVIDEND",
                "SPLIT",
                "RIGHTS_ISSUE",
                "MERGER"
              ]
            }
          },
          {
            "name": "from",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "format": "date"
            }
          },
          {
            "name": "to",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "format": "date"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Corporate actions",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CorporateActionListResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "description": "List corporate actions"
      }
    },
    "/api/v1/corporate-actions/{id}": {
      "get": {
        "operationId": "getCorporateAction",
        "summary": "Get corporate action details",
        "tags": [
          "Corporate Actions"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Corporate action",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CorporateAction"
                }
              }
            }
          },
          "404": {
            "description": "Not found"
          }
        },
        "description": "Get corporate action details"
      }
    },
    "/api/v1/exchanges": {
      "get": {
        "operationId": "listExchanges",
        "summary": "List exchanges",
        "tags": [
          "Reference Data"
        ],
        "responses": {
          "200": {
            "description": "Exchange list"
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "description": "List exchanges"
      }
    },
    "/api/v1/currencies": {
      "get": {
        "operationId": "listCurrencies",
        "summary": "List currencies",
        "tags": [
          "Reference Data"
        ],
        "responses": {
          "200": {
            "description": "Currency list"
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "description": "List currencies"
      }
    },
    "/api/v1/indices": {
      "get": {
        "operationId": "listIndices",
        "summary": "List indices",
        "tags": [
          "Indices"
        ],
        "parameters": [
          {
            "name": "country",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Index list"
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "description": "List indices"
      }
    },
    "/api/v1/indices/{id}": {
      "get": {
        "operationId": "getIndex",
        "summary": "Get index details",
        "tags": [
          "Indices"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Index details"
          },
          "404": {
            "description": "Not found"
          }
        },
        "description": "Get index details"
      }
    },
    "/api/v1/indices/{id}/constituents": {
      "get": {
        "operationId": "getIndexConstituents",
        "summary": "Get index constituents",
        "tags": [
          "Indices"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Constituents"
          },
          "404": {
            "description": "Not found"
          }
        },
        "description": "Get index constituents"
      }
    }
  },
  "components": {
    "schemas": {
      "ErrorResponse": {
        "type": "object",
        "properties": {
          "status": {
            "type": "string"
          },
          "code": {
            "type": "string"
          },
          "message": {
            "type": "string"
          }
        }
      },
      "Instrument": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string"
          },
          "isin": {
            "type": "string"
          },
          "symbol": {
            "type": "string"
          },
          "name": {
            "type": "string"
          },
          "instrumentType": {
            "type": "string"
          },
          "currency": {
            "type": "string"
          },
          "exchange": {
            "type": "string"
          },
          "country": {
            "type": "string"
          }
        }
      },
      "InstrumentListResponse": {
        "type": "object",
        "properties": {
          "data": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Instrument"
            }
          },
          "totalCount": {
            "type": "integer"
          },
          "page": {
            "type": "integer"
          }
        }
      },
      "Price": {
        "type": "object",
        "properties": {
          "instrumentId": {
            "type": "string"
          },
          "last": {
            "type": "number"
          },
          "bid": {
            "type": "number"
          },
          "ask": {
            "type": "number"
          },
          "open": {
            "type": "number"
          },
          "high": {
            "type": "number"
          },
          "low": {
            "type": "number"
          },
          "close": {
            "type": "number"
          },
          "volume": {
            "type": "integer"
          },
          "timestamp": {
            "type": "string",
            "format": "date-time"
          }
        }
      },
      "PriceListResponse": {
        "type": "object",
        "properties": {
          "data": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Price"
            }
          }
        }
      },
      "PriceHistoryResponse": {
        "type": "object",
        "properties": {
          "instrumentId": {
            "type": "string"
          },
          "data": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "date": {
                  "type": "string",
                  "format": "date"
                },
                "open": {
                  "type": "number"
                },
                "high": {
                  "type": "number"
                },
                "low": {
                  "type": "number"
                },
                "close": {
                  "type": "number"
                },
                "volume": {
                  "type": "integer"
                }
              }
            }
          }
        }
      },
      "CorporateAction": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string"
          },
          "type": {
            "type": "string"
          },
          "isin": {
            "type": "string"
          },
          "exDate": {
            "type": "string",
            "format": "date"
          },
          "description": {
            "type": "string"
          }
        }
      },
      "CorporateActionListResponse": {
        "type": "object",
        "properties": {
          "data": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/CorporateAction"
            }
          }
        }
      }
    },
    "securitySchemes": {
      "apiKeyHeader": {
        "type": "apiKey",
        "in": "header",
        "name": "X-IBM-Client-Id",
        "description": "SIX API Portal client ID"
      },
      "apiKeySecret": {
        "type": "apiKey",
        "in": "header",
        "name": "X-IBM-Client-Secret",
        "description": "SIX API Portal client secret"
      }
    }
  },
  "security": [
    {
      "apiKeyHeader": [],
      "apiKeySecret": []
    }
  ],
  "tags": [
    {
      "name": "Reference Data"
    },
    {
      "name": "Pricing"
    },
    {
      "name": "Corporate Actions"
    },
    {
      "name": "Indices"
    }
  ]
}
