{
  "openapi": "3.0.3",
  "info": {
    "title": "BingX Spot API",
    "version": "1.0.0",
    "description": "BingX cryptocurrency exchange Spot trading API. Provides market data, spot trading, account management, and wallet operations. All authenticated endpoints require HMAC SHA256 signature. Base domain .com is primary; .pro is fallback for network errors only.",
    "x-jentic-source-url": "https://bingx-api.github.io/docs/",
    "contact": {
      "name": "API Support"
    }
  },
  "servers": [
    {
      "url": "https://open-api.bingx.com",
      "description": "Production (primary)"
    },
    {
      "url": "https://open-api.bingx.pro",
      "description": "Production (fallback for network errors)"
    },
    {
      "url": "https://open-api-vst.bingx.com",
      "description": "Virtual Simulated Trading (VST)"
    }
  ],
  "security": [
    {
      "apiKeyAuth": [],
      "signatureAuth": []
    }
  ],
  "tags": [
    {
      "name": "Market",
      "description": "Market data endpoints (public, no auth required)"
    },
    {
      "name": "Trade",
      "description": "Spot trading endpoints (authenticated)"
    },
    {
      "name": "Account",
      "description": "Account balance and asset management (authenticated)"
    },
    {
      "name": "Wallet",
      "description": "Deposits, withdrawals, and coin config (authenticated)"
    }
  ],
  "paths": {
    "/openApi/spot/v1/market/trades": {
      "get": {
        "operationId": "getRecentTrades",
        "summary": "Query recent trades",
        "tags": [
          "Market"
        ],
        "security": [],
        "parameters": [
          {
            "name": "symbol",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string",
              "pattern": "^[A-Z0-9]+-[A-Z]+$"
            },
            "description": "Trading pair (e.g. BTC-USDT)."
          },
          {
            "name": "limit",
            "in": "query",
            "schema": {
              "type": "integer",
              "default": 100,
              "maximum": 100
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Recent trades.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BingXResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized."
          }
        },
        "description": "Query recent trades"
      }
    },
    "/openApi/spot/v2/market/ticker": {
      "get": {
        "operationId": "getTicker",
        "summary": "Get 24hr ticker price change statistics",
        "tags": [
          "Market"
        ],
        "security": [],
        "parameters": [
          {
            "name": "symbol",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "description": "Trading pair. If omitted, returns all tickers."
          }
        ],
        "responses": {
          "200": {
            "description": "Ticker data.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BingXResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request."
          },
          "401": {
            "description": "Unauthorized."
          }
        },
        "description": "Get 24hr ticker price change statistics"
      }
    },
    "/openApi/spot/v1/market/depth": {
      "get": {
        "operationId": "getOrderBookDepth",
        "summary": "Query order book depth",
        "tags": [
          "Market"
        ],
        "security": [],
        "parameters": [
          {
            "name": "symbol",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "schema": {
              "type": "integer",
              "default": 20,
              "maximum": 100
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Order book data.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BingXResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request."
          },
          "401": {
            "description": "Unauthorized."
          }
        },
        "description": "Query order book depth"
      }
    },
    "/openApi/spot/v2/market/kline": {
      "get": {
        "operationId": "getKlines",
        "summary": "Query K-line (candlestick) data",
        "tags": [
          "Market"
        ],
        "security": [],
        "parameters": [
          {
            "name": "symbol",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "interval",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string",
              "enum": [
                "1m",
                "3m",
                "5m",
                "15m",
                "30m",
                "1h",
                "2h",
                "4h",
                "6h",
                "8h",
                "12h",
                "1d",
                "3d",
                "1w",
                "1M"
              ]
            }
          },
          {
            "name": "startTime",
            "in": "query",
            "schema": {
              "type": "integer",
              "format": "int64"
            },
            "description": "Start time in milliseconds."
          },
          {
            "name": "endTime",
            "in": "query",
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "schema": {
              "type": "integer",
              "default": 500,
              "maximum": 1000
            }
          }
        ],
        "responses": {
          "200": {
            "description": "K-line data.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BingXResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request."
          },
          "401": {
            "description": "Unauthorized."
          }
        },
        "description": "Query K-line (candlestick) data"
      }
    },
    "/openApi/spot/v1/trade/order": {
      "post": {
        "operationId": "createOrder",
        "summary": "Place a new order",
        "tags": [
          "Trade"
        ],
        "parameters": [
          {
            "name": "symbol",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "side",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string",
              "enum": [
                "BUY",
                "SELL"
              ]
            }
          },
          {
            "name": "type",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string",
              "enum": [
                "MARKET",
                "LIMIT",
                "TAKE_STOP_LIMIT",
                "TAKE_STOP_MARKET",
                "TRIGGER_LIMIT",
                "TRIGGER_MARKET"
              ]
            }
          },
          {
            "name": "quantity",
            "in": "query",
            "schema": {
              "type": "number"
            },
            "description": "Order quantity in base asset."
          },
          {
            "name": "quoteOrderQty",
            "in": "query",
            "schema": {
              "type": "number"
            },
            "description": "Order amount in quote asset."
          },
          {
            "name": "price",
            "in": "query",
            "schema": {
              "type": "number"
            },
            "description": "Limit price (required for LIMIT orders)."
          },
          {
            "name": "stopPrice",
            "in": "query",
            "schema": {
              "type": "number"
            },
            "description": "Trigger price for stop orders."
          },
          {
            "name": "timeInForce",
            "in": "query",
            "schema": {
              "type": "string",
              "enum": [
                "GTC",
                "IOC",
                "FOK",
                "PostOnly"
              ],
              "default": "GTC"
            }
          },
          {
            "name": "newClientOrderId",
            "in": "query",
            "schema": {
              "type": "string",
              "maxLength": 40
            }
          },
          {
            "name": "recvWindow",
            "in": "query",
            "schema": {
              "type": "integer",
              "maximum": 60000
            }
          },
          {
            "name": "timestamp",
            "in": "query",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Order placed.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BingXResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized."
          }
        },
        "description": "Place a new order"
      }
    },
    "/openApi/spot/v1/trade/cancel": {
      "post": {
        "operationId": "cancelOrder",
        "summary": "Cancel an order",
        "tags": [
          "Trade"
        ],
        "parameters": [
          {
            "name": "symbol",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "orderId",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "description": "System order ID."
          },
          {
            "name": "clientOrderID",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "description": "Custom order ID."
          },
          {
            "name": "recvWindow",
            "in": "query",
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "timestamp",
            "in": "query",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Order cancelled.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BingXResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request."
          },
          "401": {
            "description": "Unauthorized."
          }
        },
        "description": "Cancel an order"
      }
    },
    "/openApi/spot/v1/trade/query": {
      "get": {
        "operationId": "queryOrder",
        "summary": "Query order details",
        "tags": [
          "Trade"
        ],
        "parameters": [
          {
            "name": "symbol",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "orderId",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "clientOrderID",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "recvWindow",
            "in": "query",
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "timestamp",
            "in": "query",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Order details.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BingXResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request."
          },
          "401": {
            "description": "Unauthorized."
          }
        },
        "description": "Query order details"
      }
    },
    "/openApi/spot/v1/trade/openOrders": {
      "get": {
        "operationId": "getOpenOrders",
        "summary": "Query open orders",
        "tags": [
          "Trade"
        ],
        "parameters": [
          {
            "name": "symbol",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "recvWindow",
            "in": "query",
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "timestamp",
            "in": "query",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Open orders.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BingXResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request."
          },
          "401": {
            "description": "Unauthorized."
          }
        },
        "description": "Query open orders"
      }
    },
    "/openApi/spot/v1/trade/historyOrders": {
      "get": {
        "operationId": "getOrderHistory",
        "summary": "Query order history",
        "tags": [
          "Trade"
        ],
        "parameters": [
          {
            "name": "symbol",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "startTime",
            "in": "query",
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          },
          {
            "name": "endTime",
            "in": "query",
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          },
          {
            "name": "pageIndex",
            "in": "query",
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "pageSize",
            "in": "query",
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "recvWindow",
            "in": "query",
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "timestamp",
            "in": "query",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Order history.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BingXResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request."
          },
          "401": {
            "description": "Unauthorized."
          }
        },
        "description": "Query order history"
      }
    },
    "/openApi/spot/v1/account/balance": {
      "get": {
        "operationId": "getSpotAccountBalance",
        "summary": "Query spot account balance",
        "tags": [
          "Account"
        ],
        "parameters": [
          {
            "name": "recvWindow",
            "in": "query",
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "timestamp",
            "in": "query",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Account balances.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BingXResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request."
          },
          "401": {
            "description": "Unauthorized."
          }
        },
        "description": "Query spot account balance"
      }
    },
    "/openApi/fund/v1/account/balance": {
      "get": {
        "operationId": "getFundAccountBalance",
        "summary": "Query fund account balance",
        "tags": [
          "Account"
        ],
        "parameters": [
          {
            "name": "recvWindow",
            "in": "query",
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "timestamp",
            "in": "query",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Fund account balance.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BingXResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request."
          },
          "401": {
            "description": "Unauthorized."
          }
        },
        "description": "Query fund account balance"
      }
    },
    "/openApi/account/v1/allAccountBalance": {
      "get": {
        "operationId": "getAllAccountBalances",
        "summary": "Query all account balances (overview)",
        "tags": [
          "Account"
        ],
        "parameters": [
          {
            "name": "accountType",
            "in": "query",
            "schema": {
              "type": "string",
              "enum": [
                "sopt",
                "stdFutures",
                "coinMPerp",
                "USDTMPerp",
                "copyTrading",
                "grid",
                "eran",
                "c2c"
              ]
            }
          },
          {
            "name": "recvWindow",
            "in": "query",
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "timestamp",
            "in": "query",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "All account balances.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BingXResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request."
          },
          "401": {
            "description": "Unauthorized."
          }
        },
        "description": "Query all account balances (overview)"
      }
    },
    "/openApi/api/asset/v1/transfer": {
      "post": {
        "operationId": "transferAssets",
        "summary": "Transfer assets between accounts",
        "tags": [
          "Account"
        ],
        "parameters": [
          {
            "name": "type",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string",
              "enum": [
                "FUND_SFUTURES",
                "SFUTURES_FUND",
                "FUND_PFUTURES",
                "PFUTURES_FUND",
                "SFUTURES_PFUTURES",
                "PFUTURES_SFUTURES"
              ]
            },
            "description": "Transfer direction."
          },
          {
            "name": "asset",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Asset name (e.g. USDT)."
          },
          {
            "name": "amount",
            "in": "query",
            "required": true,
            "schema": {
              "type": "number"
            }
          },
          {
            "name": "recvWindow",
            "in": "query",
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "timestamp",
            "in": "query",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Transfer successful.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BingXResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request."
          },
          "401": {
            "description": "Unauthorized."
          }
        },
        "description": "Transfer assets between accounts"
      }
    },
    "/openApi/api/v3/asset/transferRecord": {
      "get": {
        "operationId": "getTransferRecords",
        "summary": "Query asset transfer records",
        "tags": [
          "Account"
        ],
        "parameters": [
          {
            "name": "type",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "description": "Transfer direction filter."
          },
          {
            "name": "startTime",
            "in": "query",
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          },
          {
            "name": "endTime",
            "in": "query",
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          },
          {
            "name": "recvWindow",
            "in": "query",
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "timestamp",
            "in": "query",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Transfer records.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BingXResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request."
          },
          "401": {
            "description": "Unauthorized."
          }
        },
        "description": "Query asset transfer records"
      }
    },
    "/openApi/api/asset/v1/transfer/supportCoins": {
      "get": {
        "operationId": "getSupportedTransferCoins",
        "summary": "Query supported coins for transfer",
        "tags": [
          "Account"
        ],
        "parameters": [
          {
            "name": "recvWindow",
            "in": "query",
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "timestamp",
            "in": "query",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Supported coins.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BingXResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request."
          },
          "401": {
            "description": "Unauthorized."
          }
        },
        "description": "Query supported coins for transfer"
      }
    },
    "/openApi/api/v3/capital/deposit/hisrec": {
      "get": {
        "operationId": "getDepositHistory",
        "summary": "Query deposit history",
        "tags": [
          "Wallet"
        ],
        "parameters": [
          {
            "name": "coin",
            "in": "query",
            "schema": {
              "type": "string",
              "pattern": "^[A-Z0-9]{1,20}$"
            },
            "description": "Coin name (e.g. USDT). Omit for all."
          },
          {
            "name": "status",
            "in": "query",
            "schema": {
              "type": "integer",
              "enum": [
                0,
                1,
                2,
                6
              ]
            },
            "description": "0=in progress, 1=not credited, 2=wrong amount, 6=completed."
          },
          {
            "name": "startTime",
            "in": "query",
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          },
          {
            "name": "endTime",
            "in": "query",
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          },
          {
            "name": "offset",
            "in": "query",
            "schema": {
              "type": "integer",
              "default": 0
            }
          },
          {
            "name": "limit",
            "in": "query",
            "schema": {
              "type": "integer",
              "default": 1000,
              "maximum": 1000
            }
          },
          {
            "name": "txId",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "recvWindow",
            "in": "query",
            "schema": {
              "type": "integer",
              "maximum": 60000
            }
          },
          {
            "name": "timestamp",
            "in": "query",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Deposit records.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BingXResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request."
          },
          "401": {
            "description": "Unauthorized."
          }
        },
        "description": "Query deposit history"
      }
    },
    "/openApi/api/v3/capital/withdraw/history": {
      "get": {
        "operationId": "getWithdrawalHistory",
        "summary": "Query withdrawal history",
        "tags": [
          "Wallet"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "description": "Unique withdrawal record ID."
          },
          {
            "name": "coin",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "withdrawOrderId",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "status",
            "in": "query",
            "schema": {
              "type": "integer",
              "enum": [
                4,
                5,
                6
              ]
            },
            "description": "4=under review, 5=failed, 6=completed."
          },
          {
            "name": "startTime",
            "in": "query",
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          },
          {
            "name": "endTime",
            "in": "query",
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          },
          {
            "name": "offset",
            "in": "query",
            "schema": {
              "type": "integer",
              "default": 0
            }
          },
          {
            "name": "limit",
            "in": "query",
            "schema": {
              "type": "integer",
              "default": 1000,
              "maximum": 1000
            }
          },
          {
            "name": "txId",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "timestamp",
            "in": "query",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Withdrawal records.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BingXResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request."
          },
          "401": {
            "description": "Unauthorized."
          }
        },
        "description": "Query withdrawal history"
      }
    },
    "/openApi/wallets/v1/capital/config/getall": {
      "get": {
        "operationId": "getCoinNetworkConfig",
        "summary": "Query coin deposit/withdrawal config (networks, limits, fees)",
        "tags": [
          "Wallet"
        ],
        "parameters": [
          {
            "name": "coin",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "description": "Coin name (e.g. USDT)."
          },
          {
            "name": "recvWindow",
            "in": "query",
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "timestamp",
            "in": "query",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Coin network config.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BingXResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request."
          },
          "401": {
            "description": "Unauthorized."
          }
        },
        "description": "Query coin deposit/withdrawal config (networks, limits, fees)"
      }
    },
    "/openApi/wallets/v1/capital/withdraw/apply": {
      "post": {
        "operationId": "initiateWithdrawal",
        "summary": "Initiate a withdrawal",
        "tags": [
          "Wallet"
        ],
        "parameters": [
          {
            "name": "coin",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "network",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "description": "Network name (e.g. BEP20, ERC20)."
          },
          {
            "name": "address",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string",
              "maxLength": 200
            }
          },
          {
            "name": "addressTag",
            "in": "query",
            "schema": {
              "type": "string",
              "maxLength": 128
            },
            "description": "Memo/tag for coins like XRP, EOS."
          },
          {
            "name": "amount",
            "in": "query",
            "required": true,
            "schema": {
              "type": "number"
            }
          },
          {
            "name": "walletType",
            "in": "query",
            "required": true,
            "schema": {
              "type": "integer",
              "enum": [
                1,
                2,
                3
              ]
            },
            "description": "1=Fund(spot), 2=Standard contract, 3=Perpetual futures."
          },
          {
            "name": "withdrawOrderId",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "recvWindow",
            "in": "query",
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "timestamp",
            "in": "query",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Withdrawal initiated.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BingXResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request."
          },
          "401": {
            "description": "Unauthorized."
          }
        },
        "description": "Initiate a withdrawal"
      }
    },
    "/openApi/wallets/v1/capital/deposit/address": {
      "get": {
        "operationId": "getDepositAddress",
        "summary": "Query main account deposit address",
        "tags": [
          "Wallet"
        ],
        "parameters": [
          {
            "name": "coin",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "offset",
            "in": "query",
            "schema": {
              "type": "integer",
              "default": 0
            }
          },
          {
            "name": "limit",
            "in": "query",
            "schema": {
              "type": "integer",
              "default": 100,
              "maximum": 1000
            }
          },
          {
            "name": "recvWindow",
            "in": "query",
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "timestamp",
            "in": "query",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Deposit addresses.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BingXResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request."
          },
          "401": {
            "description": "Unauthorized."
          }
        },
        "description": "Query main account deposit address"
      }
    },
    "/openApi/wallets/v1/capital/innerTransfer/apply": {
      "post": {
        "operationId": "internalTransfer",
        "summary": "Internal P2P transfer between accounts",
        "tags": [
          "Wallet"
        ],
        "parameters": [
          {
            "name": "coin",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "amount",
            "in": "query",
            "required": true,
            "schema": {
              "type": "number"
            }
          },
          {
            "name": "recvWindow",
            "in": "query",
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "timestamp",
            "in": "query",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Transfer completed.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BingXResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request."
          },
          "401": {
            "description": "Unauthorized."
          }
        },
        "description": "Internal P2P transfer between accounts"
      }
    },
    "/openApi/wallets/v1/capital/innerTransfer/records": {
      "get": {
        "operationId": "getInternalTransferRecords",
        "summary": "Get internal transfer records",
        "tags": [
          "Wallet"
        ],
        "parameters": [
          {
            "name": "recvWindow",
            "in": "query",
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "timestamp",
            "in": "query",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Transfer records.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BingXResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request."
          },
          "401": {
            "description": "Unauthorized."
          }
        },
        "description": "Get internal transfer records"
      }
    },
    "/openApi/wallets/v1/capital/deposit/riskRecords": {
      "get": {
        "operationId": "getDepositRiskRecords",
        "summary": "Query deposit risk control records",
        "tags": [
          "Wallet"
        ],
        "parameters": [
          {
            "name": "recvWindow",
            "in": "query",
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "timestamp",
            "in": "query",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Risk records.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BingXResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request."
          },
          "401": {
            "description": "Unauthorized."
          }
        },
        "description": "Query deposit risk control records"
      }
    }
  },
  "components": {
    "securitySchemes": {
      "apiKeyAuth": {
        "type": "apiKey",
        "in": "header",
        "name": "X-BX-APIKEY",
        "description": "BingX API key."
      },
      "signatureAuth": {
        "type": "apiKey",
        "in": "query",
        "name": "signature",
        "description": "HMAC SHA256 signature of sorted query string parameters."
      }
    },
    "schemas": {
      "BingXResponse": {
        "type": "object",
        "properties": {
          "code": {
            "type": "integer",
            "description": "0 indicates success."
          },
          "msg": {
            "type": "string"
          },
          "data": {
            "description": "Response data (varies by endpoint)."
          }
        }
      },
      "ErrorResponse": {
        "type": "object",
        "properties": {
          "code": {
            "type": "integer",
            "description": "Non-zero error code."
          },
          "msg": {
            "type": "string",
            "description": "Error message."
          }
        }
      }
    }
  }
}
