{
  "openapi": "3.0.3",
  "info": {
    "title": "Exchange Base API",
    "description": "Complete API documentation for Exchange Base platform including Public, Account, Market, Management, and Admin APIs",
    "version": "2.0.0",
    "x-jentic-source-url": "https://api.swaggerhub.com/apis/antiersolutionspvtlt/exchange-base-api/2.0.0"
  },
  "servers": [
    {
      "url": "https://www.coinhub.mn",
      "description": "Production server"
    },
    {
      "url": "http://localhost:3000",
      "description": "Development server"
    }
  ],
  "tags": [
    {
      "name": "Public",
      "description": "Public endpoints - no authentication required"
    },
    {
      "name": "Account",
      "description": "User account endpoints - JWT authentication required"
    },
    {
      "name": "Market",
      "description": "Trading market endpoints - JWT authentication required"
    },
    {
      "name": "Management",
      "description": "Management API - JWT multisig authentication required"
    },
    {
      "name": "Admin",
      "description": "Admin API - JWT authentication required"
    },
    {
      "name": "Admin Rails",
      "description": "Rails admin routes"
    }
  ],
  "paths": {
    "/api/v2/public/trading_fees": {
      "get": {
        "tags": [
          "Public"
        ],
        "summary": "Returns trading_fees table as paginated collection",
        "description": "Returns trading_fees table as paginated collection",
        "operationId": "public_get__trading_fees",
        "parameters": [
          {
            "name": "group",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Parameter: group"
          },
          {
            "name": "market_id",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Parameter: market_id"
          },
          {
            "name": "uuid",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Parameter: uuid"
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/UnauthorizedError"
          },
          "422": {
            "$ref": "#/components/responses/ValidationError"
          },
          "500": {
            "$ref": "#/components/responses/ServerError"
          }
        }
      }
    },
    "/api/v2/public/trading_rules": {
      "get": {
        "tags": [
          "Public"
        ],
        "summary": "Binance Trading Rules",
        "description": "Binance Trading Rules",
        "operationId": "public_get__trading_rules",
        "parameters": [
          {
            "name": "market_id",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Parameter: market_id"
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/UnauthorizedError"
          },
          "422": {
            "$ref": "#/components/responses/ValidationError"
          },
          "500": {
            "$ref": "#/components/responses/ServerError"
          }
        }
      }
    },
    "/api/v2/public/timestamp": {
      "get": {
        "tags": [
          "Public"
        ],
        "summary": "Get server current time, in seconds since Unix epoch.",
        "description": "Get server current time, in seconds since Unix epoch.",
        "operationId": "public_get__timestamp",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/UnauthorizedError"
          },
          "422": {
            "$ref": "#/components/responses/ValidationError"
          },
          "500": {
            "$ref": "#/components/responses/ServerError"
          }
        }
      }
    },
    "/api/v2/public/version": {
      "get": {
        "tags": [
          "Public"
        ],
        "summary": "Get running Peatio version and build details.",
        "description": "Get running Peatio version and build details.",
        "operationId": "public_get__version",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/UnauthorizedError"
          },
          "422": {
            "$ref": "#/components/responses/ValidationError"
          },
          "500": {
            "$ref": "#/components/responses/ServerError"
          }
        }
      }
    },
    "/api/v2/public/alive": {
      "get": {
        "tags": [
          "Public"
        ],
        "summary": "Get application liveness status",
        "description": "Get application liveness status",
        "operationId": "public_get__alive",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/UnauthorizedError"
          },
          "422": {
            "$ref": "#/components/responses/ValidationError"
          },
          "500": {
            "$ref": "#/components/responses/ServerError"
          }
        }
      }
    },
    "/api/v2/public/ready": {
      "get": {
        "tags": [
          "Public"
        ],
        "summary": "Get application readiness status",
        "description": "Get application readiness status",
        "operationId": "public_get__ready",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/UnauthorizedError"
          },
          "422": {
            "$ref": "#/components/responses/ValidationError"
          },
          "500": {
            "$ref": "#/components/responses/ServerError"
          }
        }
      }
    },
    "/api/v2/public/": {
      "get": {
        "tags": [
          "Public"
        ],
        "summary": "Get all available markets.",
        "description": "Get all available markets.",
        "operationId": "public_get__",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/UnauthorizedError"
          },
          "422": {
            "$ref": "#/components/responses/ValidationError"
          },
          "500": {
            "$ref": "#/components/responses/ServerError"
          }
        }
      }
    },
    "/api/v2/public{market}/order-book": {
      "get": {
        "tags": [
          "Public"
        ],
        "summary": "Get the order book of specified market.",
        "description": "Get the order book of specified market.",
        "operationId": "public_get_market_order_book",
        "parameters": [
          {
            "name": "market",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Parameter: market"
          },
          {
            "name": "asks_limit",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Parameter: asks_limit"
          },
          {
            "name": "bids_limit",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Parameter: bids_limit"
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/UnauthorizedError"
          },
          "422": {
            "$ref": "#/components/responses/ValidationError"
          },
          "500": {
            "$ref": "#/components/responses/ServerError"
          }
        }
      }
    },
    "/api/v2/public{market}/trades": {
      "get": {
        "tags": [
          "Public"
        ],
        "summary": "Get recent trades on market, each trade is included only once. Trades are sorted in reverse creation order.",
        "description": "Get recent trades on market, each trade is included only once. Trades are sorted in reverse creation order.",
        "operationId": "public_get_market_trades",
        "parameters": [
          {
            "name": "market",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Parameter: market"
          },
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Parameter: limit"
          },
          {
            "name": "page",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Parameter: page"
          },
          {
            "name": "timestamp",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Parameter: timestamp"
          },
          {
            "name": "order_by",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Parameter: order_by"
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/UnauthorizedError"
          },
          "422": {
            "$ref": "#/components/responses/ValidationError"
          },
          "500": {
            "$ref": "#/components/responses/ServerError"
          }
        }
      }
    },
    "/api/v2/public{market}/depth": {
      "get": {
        "tags": [
          "Public"
        ],
        "summary": "Get depth or specified market. Both asks and bids are sorted from highest price to lowest.",
        "description": "Get depth or specified market. Both asks and bids are sorted from highest price to lowest.",
        "operationId": "public_get_market_depth",
        "parameters": [
          {
            "name": "market",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Parameter: market"
          },
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Parameter: limit"
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/UnauthorizedError"
          },
          "422": {
            "$ref": "#/components/responses/ValidationError"
          },
          "500": {
            "$ref": "#/components/responses/ServerError"
          }
        }
      }
    },
    "/api/v2/public{market}/k-line": {
      "get": {
        "tags": [
          "Public"
        ],
        "summary": "Get OHLC(k line) of specific market.",
        "description": "Get OHLC(k line) of specific market.",
        "operationId": "public_get_market_k_line",
        "parameters": [
          {
            "name": "market",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Parameter: market"
          },
          {
            "name": "period",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Parameter: period"
          },
          {
            "name": "time_from",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Parameter: time_from"
          },
          {
            "name": "time_to",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Parameter: time_to"
          },
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Parameter: limit"
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/UnauthorizedError"
          },
          "422": {
            "$ref": "#/components/responses/ValidationError"
          },
          "500": {
            "$ref": "#/components/responses/ServerError"
          }
        }
      }
    },
    "/api/v2/public/tickers": {
      "get": {
        "tags": [
          "Public"
        ],
        "summary": "Get ticker of all markets (For response doc see /:market/tickers/ response).",
        "description": "Get ticker of all markets (For response doc see /:market/tickers/ response).",
        "operationId": "public_get__tickers",
        "parameters": [
          {
            "name": "market",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Parameter: market"
          },
          {
            "name": "period",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Parameter: period"
          },
          {
            "name": "time_from",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Parameter: time_from"
          },
          {
            "name": "time_to",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Parameter: time_to"
          },
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Parameter: limit"
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/UnauthorizedError"
          },
          "422": {
            "$ref": "#/components/responses/ValidationError"
          },
          "500": {
            "$ref": "#/components/responses/ServerError"
          }
        }
      }
    },
    "/api/v2/public/{market}/tickers/": {
      "get": {
        "tags": [
          "Public"
        ],
        "summary": "Get ticker of specific market.",
        "description": "Get ticker of specific market.",
        "operationId": "public_get__market_tickers_",
        "parameters": [
          {
            "name": "market",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Parameter: market"
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/UnauthorizedError"
          },
          "422": {
            "$ref": "#/components/responses/ValidationError"
          },
          "500": {
            "$ref": "#/components/responses/ServerError"
          }
        }
      }
    },
    "/api/v2/public/withdraw_limits": {
      "get": {
        "tags": [
          "Public"
        ],
        "summary": "Returns withdraw limits table as paginated collection",
        "description": "Returns withdraw limits table as paginated collection",
        "operationId": "public_get__withdraw_limits",
        "parameters": [
          {
            "name": "group",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Parameter: group"
          },
          {
            "name": "currency_id",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Parameter: currency_id"
          },
          {
            "name": "kyc_level",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Parameter: kyc_level"
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/UnauthorizedError"
          },
          "422": {
            "$ref": "#/components/responses/ValidationError"
          },
          "500": {
            "$ref": "#/components/responses/ServerError"
          }
        }
      }
    },
    "/api/v2/publicfiat/callback": {
      "post": {
        "tags": [
          "Public"
        ],
        "summary": "Fiat payment gateway callback",
        "description": "Fiat payment gateway callback",
        "operationId": "public_post_fiat_callback",
        "parameters": [
          {
            "name": "group",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Parameter: group"
          },
          {
            "name": "currency_id",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Parameter: currency_id"
          },
          {
            "name": "kyc_level",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Parameter: kyc_level"
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/UnauthorizedError"
          },
          "422": {
            "$ref": "#/components/responses/ValidationError"
          },
          "500": {
            "$ref": "#/components/responses/ServerError"
          }
        },
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object"
              }
            }
          }
        }
      }
    },
    "/api/v2/public/config": {
      "get": {
        "tags": [
          "Public"
        ],
        "summary": "No description",
        "description": "No description",
        "operationId": "public_get__config",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/UnauthorizedError"
          },
          "422": {
            "$ref": "#/components/responses/ValidationError"
          },
          "500": {
            "$ref": "#/components/responses/ServerError"
          }
        }
      }
    },
    "/api/v2/public/cardholder/notification": {
      "post": {
        "tags": [
          "Public"
        ],
        "summary": "Paytend callback url",
        "description": "Paytend callback url",
        "operationId": "public_post__cardholder_notification",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/UnauthorizedError"
          },
          "422": {
            "$ref": "#/components/responses/ValidationError"
          },
          "500": {
            "$ref": "#/components/responses/ServerError"
          }
        },
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object"
              }
            }
          }
        }
      }
    },
    "/api/v2/public/currencies/{id}": {
      "get": {
        "tags": [
          "Public"
        ],
        "summary": "Get a currency",
        "description": "Get a currency",
        "operationId": "public_get__currencies_id",
        "parameters": [
          {
            "name": "id",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Parameter: id"
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                },
                "example": {
                  "data": "TODO: verify actual response structure"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/UnauthorizedError"
          },
          "422": {
            "$ref": "#/components/responses/ValidationError"
          },
          "500": {
            "$ref": "#/components/responses/ServerError"
          }
        }
      }
    },
    "/api/v2/public/reward_settings": {
      "get": {
        "tags": [
          "Public"
        ],
        "summary": "Get  reward settings",
        "description": "Get  reward settings",
        "operationId": "public_get__reward_settings",
        "parameters": [
          {
            "name": "id",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Parameter: id"
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/UnauthorizedError"
          },
          "422": {
            "$ref": "#/components/responses/ValidationError"
          },
          "500": {
            "$ref": "#/components/responses/ServerError"
          }
        }
      }
    },
    "/api/v2/public/tobtc": {
      "get": {
        "tags": [
          "Public"
        ],
        "summary": "Get equivalent to btc",
        "description": "Get equivalent to btc",
        "operationId": "public_get__tobtc",
        "parameters": [
          {
            "name": "amount",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Parameter: amount"
          },
          {
            "name": "currency",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Parameter: currency"
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/UnauthorizedError"
          },
          "422": {
            "$ref": "#/components/responses/ValidationError"
          },
          "500": {
            "$ref": "#/components/responses/ServerError"
          }
        }
      }
    },
    "/api/v2/public/currency/conversation": {
      "post": {
        "tags": [
          "Public"
        ],
        "summary": "Get a currency value into another",
        "description": "Get a currency value into another",
        "operationId": "public_post__currency_conversation",
        "parameters": [
          {
            "name": "currency_to",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Parameter: currency_to"
          },
          {
            "name": "currency_from",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Parameter: currency_from"
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/UnauthorizedError"
          },
          "422": {
            "$ref": "#/components/responses/ValidationError"
          },
          "500": {
            "$ref": "#/components/responses/ServerError"
          }
        },
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object"
              }
            }
          }
        }
      }
    },
    "/api/v2/public/currency/multi-conversion": {
      "post": {
        "tags": [
          "Public"
        ],
        "summary": "Get multiple currency value into another multiple currency",
        "description": "Get multiple currency value into another multiple currency",
        "operationId": "public_post__currency_multi_conversion",
        "parameters": [
          {
            "name": "currency_to",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Parameter: currency_to"
          },
          {
            "name": "currency_from",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Parameter: currency_from"
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/UnauthorizedError"
          },
          "422": {
            "$ref": "#/components/responses/ValidationError"
          },
          "500": {
            "$ref": "#/components/responses/ServerError"
          }
        },
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object"
              }
            }
          }
        }
      }
    },
    "/api/v2/public/currency/multiple_conversion": {
      "post": {
        "tags": [
          "Public"
        ],
        "summary": "Fetches required data from coin market cap for multiple conversion",
        "description": "Fetches required data from coin market cap for multiple conversion",
        "operationId": "public_post__currency_multiple_conversion",
        "parameters": [
          {
            "name": "currency_from",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Parameter: currency_from"
          },
          {
            "name": "currency_to",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Parameter: currency_to"
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/UnauthorizedError"
          },
          "422": {
            "$ref": "#/components/responses/ValidationError"
          },
          "500": {
            "$ref": "#/components/responses/ServerError"
          }
        },
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object"
              }
            }
          }
        }
      }
    },
    "/api/v2/public/currencies": {
      "get": {
        "tags": [
          "Public"
        ],
        "summary": "Get list of currencies",
        "description": "Get list of currencies",
        "operationId": "public_get__currencies",
        "parameters": [
          {
            "name": "type",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Parameter: type"
          },
          {
            "name": "swap_enabled",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Parameter: swap_enabled"
          },
          {
            "name": "search",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Parameter: search"
          },
          {
            "name": "code",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Parameter: code"
          },
          {
            "name": "name",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Parameter: name"
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                },
                "example": {
                  "data": "TODO: verify actual response structure"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/UnauthorizedError"
          },
          "422": {
            "$ref": "#/components/responses/ValidationError"
          },
          "500": {
            "$ref": "#/components/responses/ServerError"
          }
        }
      }
    },
    "/api/v2/public/currency/graph_data": {
      "get": {
        "tags": [
          "Public"
        ],
        "summary": "Get OHLC(k line) of specific market.",
        "description": "Get OHLC(k line) of specific market.",
        "operationId": "public_get__currency_graph_data",
        "parameters": [
          {
            "name": "currency_id",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Parameter: currency_id"
          },
          {
            "name": "values",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Parameter: values"
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/UnauthorizedError"
          },
          "422": {
            "$ref": "#/components/responses/ValidationError"
          },
          "500": {
            "$ref": "#/components/responses/ServerError"
          }
        }
      }
    },
    "/api/v2/public/currency/tickers": {
      "get": {
        "tags": [
          "Public"
        ],
        "summary": "Get ticker of all markets (For response doc see /:market/tickers/ response).",
        "description": "Get ticker of all markets (For response doc see /:market/tickers/ response).",
        "operationId": "public_get__currency_tickers",
        "parameters": [
          {
            "name": "currency_id",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Parameter: currency_id"
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/UnauthorizedError"
          },
          "422": {
            "$ref": "#/components/responses/ValidationError"
          },
          "500": {
            "$ref": "#/components/responses/ServerError"
          }
        }
      }
    },
    "/api/v2/public/announcement": {
      "get": {
        "tags": [
          "Public"
        ],
        "summary": "Returns hash of minimum levels and the privileges they provide.",
        "description": "Returns hash of minimum levels and the privileges they provide.",
        "operationId": "public_get__announcement",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/UnauthorizedError"
          },
          "422": {
            "$ref": "#/components/responses/ValidationError"
          },
          "500": {
            "$ref": "#/components/responses/ServerError"
          }
        }
      }
    },
    "/api/v2/public/application_status": {
      "get": {
        "tags": [
          "Public"
        ],
        "summary": "Show the application is under maintenance",
        "description": "Show the application is under maintenance",
        "operationId": "public_get__application_status",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/UnauthorizedError"
          },
          "422": {
            "$ref": "#/components/responses/ValidationError"
          },
          "500": {
            "$ref": "#/components/responses/ServerError"
          }
        }
      }
    },
    "/api/v2/public/member-levels": {
      "get": {
        "tags": [
          "Public"
        ],
        "summary": "Returns hash of minimum levels and the privileges they provide.",
        "description": "Returns hash of minimum levels and the privileges they provide.",
        "operationId": "public_get__member_levels",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/UnauthorizedError"
          },
          "422": {
            "$ref": "#/components/responses/ValidationError"
          },
          "500": {
            "$ref": "#/components/responses/ServerError"
          }
        }
      }
    },
    "/api/v2/account/validate/internal_transaction": {
      "get": {
        "tags": [
          "Account"
        ],
        "summary": "check for internal address",
        "description": "check for internal address",
        "operationId": "account_get__validate_internal_transaction",
        "parameters": [
          {
            "name": "address",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Parameter: address"
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/UnauthorizedError"
          },
          "422": {
            "$ref": "#/components/responses/ValidationError"
          },
          "500": {
            "$ref": "#/components/responses/ServerError"
          }
        },
        "security": [
          {
            "BearerAuth": []
          }
        ]
      }
    },
    "/api/v2/account{id}": {
      "get": {
        "tags": [
          "Account"
        ],
        "summary": "Get beneficiary by ID",
        "description": "Get beneficiary by ID",
        "operationId": "account_get_id",
        "parameters": [
          {
            "name": "id",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Parameter: id"
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/UnauthorizedError"
          },
          "422": {
            "$ref": "#/components/responses/ValidationError"
          },
          "500": {
            "$ref": "#/components/responses/ServerError"
          }
        },
        "security": [
          {
            "BearerAuth": []
          }
        ]
      },
      "put": {
        "tags": [
          "Account"
        ],
        "summary": "Update beneficiary",
        "description": "Update beneficiary",
        "operationId": "account_put_id",
        "parameters": [
          {
            "name": "id",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Parameter: id"
          },
          {
            "name": "state",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Parameter: state"
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/UnauthorizedError"
          },
          "422": {
            "$ref": "#/components/responses/ValidationError"
          },
          "500": {
            "$ref": "#/components/responses/ServerError"
          }
        },
        "security": [
          {
            "BearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object"
              }
            }
          }
        }
      },
      "delete": {
        "tags": [
          "Account"
        ],
        "summary": "Delete beneficiary",
        "description": "Delete beneficiary",
        "operationId": "account_delete_id",
        "parameters": [
          {
            "name": "id",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Parameter: id"
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/UnauthorizedError"
          },
          "422": {
            "$ref": "#/components/responses/ValidationError"
          },
          "500": {
            "$ref": "#/components/responses/ServerError"
          }
        },
        "security": [
          {
            "BearerAuth": []
          }
        ]
      }
    },
    "/api/v2/account{id}/#{op_type_plural}": {
      "post": {
        "tags": [
          "Account"
        ],
        "summary": "#{op_type_plural.titleize} beneficiary pin",
        "description": "#{op_type_plural.titleize} beneficiary pin",
        "operationId": "account_post_id_#{op_type_plural}",
        "parameters": [
          {
            "name": "id",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Parameter: id"
          },
          {
            "name": "op_type_plural",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Path parameter: op_type_plural"
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/UnauthorizedError"
          },
          "422": {
            "$ref": "#/components/responses/ValidationError"
          },
          "500": {
            "$ref": "#/components/responses/ServerError"
          }
        },
        "security": [
          {
            "BearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object"
              }
            }
          }
        }
      }
    },
    "/api/v2/account{id}/activate": {
      "patch": {
        "tags": [
          "Account"
        ],
        "summary": "Activates beneficiary with pin",
        "description": "Activates beneficiary with pin",
        "operationId": "account_patch_id_activate",
        "parameters": [
          {
            "name": "id",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Parameter: id"
          },
          {
            "name": "pin",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Parameter: pin"
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/UnauthorizedError"
          },
          "422": {
            "$ref": "#/components/responses/ValidationError"
          },
          "500": {
            "$ref": "#/components/responses/ServerError"
          }
        },
        "security": [
          {
            "BearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object"
              }
            }
          }
        }
      }
    },
    "/api/v2/accountcheck_address": {
      "get": {
        "tags": [
          "Account"
        ],
        "summary": "chack for payment_address",
        "description": "chack for payment_address",
        "operationId": "account_get_check_address",
        "parameters": [
          {
            "name": "address",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Parameter: address"
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/UnauthorizedError"
          },
          "422": {
            "$ref": "#/components/responses/ValidationError"
          },
          "500": {
            "$ref": "#/components/responses/ServerError"
          }
        },
        "security": [
          {
            "BearerAuth": []
          }
        ]
      }
    },
    "/api/v2/account/transactions": {
      "get": {
        "tags": [
          "Account"
        ],
        "summary": "Get your transactions history.",
        "description": "Get your transactions history.",
        "operationId": "account_get__transactions",
        "parameters": [
          {
            "name": "currency",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Parameter: currency"
          },
          {
            "name": "order_by",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Parameter: order_by"
          },
          {
            "name": "time_from",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Parameter: time_from"
          },
          {
            "name": "time_to",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Parameter: time_to"
          },
          {
            "name": "deposit_state",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Parameter: deposit_state"
          },
          {
            "name": "withdraw_state",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Parameter: withdraw_state"
          },
          {
            "name": "txid",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Parameter: txid"
          },
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Parameter: limit"
          },
          {
            "name": "page",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Parameter: page"
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/UnauthorizedError"
          },
          "422": {
            "$ref": "#/components/responses/ValidationError"
          },
          "500": {
            "$ref": "#/components/responses/ServerError"
          }
        },
        "security": [
          {
            "BearerAuth": []
          }
        ]
      }
    },
    "/api/v2/accountcards": {
      "get": {
        "tags": [
          "Account"
        ],
        "summary": "List of Cards",
        "description": "List of Cards",
        "operationId": "account_get_cards",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/UnauthorizedError"
          },
          "422": {
            "$ref": "#/components/responses/ValidationError"
          },
          "500": {
            "$ref": "#/components/responses/ServerError"
          }
        },
        "security": [
          {
            "BearerAuth": []
          }
        ]
      }
    },
    "/api/v2/account/card_fee": {
      "get": {
        "tags": [
          "Account"
        ],
        "summary": "List of Cards fee",
        "description": "List of Cards fee",
        "operationId": "account_get__card_fee",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/UnauthorizedError"
          },
          "422": {
            "$ref": "#/components/responses/ValidationError"
          },
          "500": {
            "$ref": "#/components/responses/ServerError"
          }
        },
        "security": [
          {
            "BearerAuth": []
          }
        ]
      }
    },
    "/api/v2/account/verify": {
      "post": {
        "tags": [
          "Account"
        ],
        "summary": "Verify card number input by cardholder(Active process)",
        "description": "Verify card number input by cardholder(Active process)",
        "operationId": "account_post__verify",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/UnauthorizedError"
          },
          "422": {
            "$ref": "#/components/responses/ValidationError"
          },
          "500": {
            "$ref": "#/components/responses/ServerError"
          }
        },
        "security": [
          {
            "BearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object"
              }
            }
          }
        }
      }
    },
    "/api/v2/account/price/conversion": {
      "get": {
        "tags": [
          "Account"
        ],
        "summary": "Currency Conversion ",
        "description": "Currency Conversion ",
        "operationId": "account_get__price_conversion",
        "parameters": [
          {
            "name": "amount",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Parameter: amount"
          },
          {
            "name": "currency",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Parameter: currency"
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/UnauthorizedError"
          },
          "422": {
            "$ref": "#/components/responses/ValidationError"
          },
          "500": {
            "$ref": "#/components/responses/ServerError"
          }
        },
        "security": [
          {
            "BearerAuth": []
          }
        ]
      }
    },
    "/api/v2/accountcard_apply": {
      "post": {
        "tags": [
          "Account"
        ],
        "summary": "Card Apply",
        "description": "Card Apply",
        "operationId": "account_post_card_apply",
        "parameters": [
          {
            "name": "amount",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Parameter: amount"
          },
          {
            "name": "currency",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Parameter: currency"
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/UnauthorizedError"
          },
          "422": {
            "$ref": "#/components/responses/ValidationError"
          },
          "500": {
            "$ref": "#/components/responses/ServerError"
          }
        },
        "security": [
          {
            "BearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object"
              }
            }
          }
        }
      }
    },
    "/api/v2/account/card_activate": {
      "post": {
        "tags": [
          "Account"
        ],
        "summary": "Card Activation",
        "description": "Card Activation",
        "operationId": "account_post__card_activate",
        "parameters": [
          {
            "name": "amount",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Parameter: amount"
          },
          {
            "name": "currency",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Parameter: currency"
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/UnauthorizedError"
          },
          "422": {
            "$ref": "#/components/responses/ValidationError"
          },
          "500": {
            "$ref": "#/components/responses/ServerError"
          }
        },
        "security": [
          {
            "BearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object"
              }
            }
          }
        }
      }
    },
    "/api/v2/accountcard_cost": {
      "post": {
        "tags": [
          "Account"
        ],
        "summary": "Card Cost",
        "description": "Card Cost",
        "operationId": "account_post_card_cost",
        "parameters": [
          {
            "name": "shipping_address",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Parameter: shipping_address"
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/UnauthorizedError"
          },
          "422": {
            "$ref": "#/components/responses/ValidationError"
          },
          "500": {
            "$ref": "#/components/responses/ServerError"
          }
        },
        "security": [
          {
            "BearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object"
              }
            }
          }
        }
      }
    },
    "/api/v2/accountcard_topup": {
      "post": {
        "tags": [
          "Account"
        ],
        "summary": "Card Topup",
        "description": "Card Topup",
        "operationId": "account_post_card_topup",
        "parameters": [
          {
            "name": "amount",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Parameter: amount"
          },
          {
            "name": "usdt_amount",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Parameter: usdt_amount"
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/UnauthorizedError"
          },
          "422": {
            "$ref": "#/components/responses/ValidationError"
          },
          "500": {
            "$ref": "#/components/responses/ServerError"
          }
        },
        "security": [
          {
            "BearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object"
              }
            }
          }
        }
      }
    },
    "/api/v2/accountcard_audit": {
      "get": {
        "tags": [
          "Account"
        ],
        "summary": "Get Card Audit Status and Balance Details ",
        "description": "Get Card Audit Status and Balance Details ",
        "operationId": "account_get_card_audit",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/UnauthorizedError"
          },
          "422": {
            "$ref": "#/components/responses/ValidationError"
          },
          "500": {
            "$ref": "#/components/responses/ServerError"
          }
        },
        "security": [
          {
            "BearerAuth": []
          }
        ]
      }
    },
    "/api/v2/accountreplace_card": {
      "post": {
        "tags": [
          "Account"
        ],
        "summary": "Replace a Card",
        "description": "Replace a Card",
        "operationId": "account_post_replace_card",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/UnauthorizedError"
          },
          "422": {
            "$ref": "#/components/responses/ValidationError"
          },
          "500": {
            "$ref": "#/components/responses/ServerError"
          }
        },
        "security": [
          {
            "BearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object"
              }
            }
          }
        }
      }
    },
    "/api/v2/accountreport/card_loss": {
      "post": {
        "tags": [
          "Account"
        ],
        "summary": "Report card loss",
        "description": "Report card loss",
        "operationId": "account_post_report_card_loss",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/UnauthorizedError"
          },
          "422": {
            "$ref": "#/components/responses/ValidationError"
          },
          "500": {
            "$ref": "#/components/responses/ServerError"
          }
        },
        "security": [
          {
            "BearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object"
              }
            }
          }
        }
      }
    },
    "/api/v2/accountremove/card_loss": {
      "post": {
        "tags": [
          "Account"
        ],
        "summary": "Remove card Loss",
        "description": "Remove card Loss",
        "operationId": "account_post_remove_card_loss",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/UnauthorizedError"
          },
          "422": {
            "$ref": "#/components/responses/ValidationError"
          },
          "500": {
            "$ref": "#/components/responses/ServerError"
          }
        },
        "security": [
          {
            "BearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object"
              }
            }
          }
        }
      }
    },
    "/api/v2/account/card_transaction": {
      "post": {
        "tags": [
          "Account"
        ],
        "summary": "Get Card Transaction Details",
        "description": "Get Card Transaction Details",
        "operationId": "account_post__card_transaction",
        "parameters": [
          {
            "name": "date_from",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Parameter: date_from"
          },
          {
            "name": "date_to",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Parameter: date_to"
          },
          {
            "name": "status",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Parameter: status"
          },
          {
            "name": "start",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Parameter: start"
          },
          {
            "name": "size",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Parameter: size"
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/UnauthorizedError"
          },
          "422": {
            "$ref": "#/components/responses/ValidationError"
          },
          "500": {
            "$ref": "#/components/responses/ServerError"
          }
        },
        "security": [
          {
            "BearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object"
              }
            }
          }
        }
      }
    },
    "/api/v2/account/list/topup_transactions": {
      "get": {
        "tags": [
          "Account"
        ],
        "summary": "Get Topup transaction list",
        "description": "Get Topup transaction list",
        "operationId": "account_get__list_topup_transactions",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/UnauthorizedError"
          },
          "422": {
            "$ref": "#/components/responses/ValidationError"
          },
          "500": {
            "$ref": "#/components/responses/ServerError"
          }
        },
        "security": [
          {
            "BearerAuth": []
          }
        ]
      }
    },
    "/api/v2/account/password/retrieval": {
      "get": {
        "tags": [
          "Account"
        ],
        "summary": "Password Retrieval",
        "description": "Password Retrieval",
        "operationId": "account_get__password_retrieval",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/UnauthorizedError"
          },
          "422": {
            "$ref": "#/components/responses/ValidationError"
          },
          "500": {
            "$ref": "#/components/responses/ServerError"
          }
        },
        "security": [
          {
            "BearerAuth": []
          }
        ]
      }
    },
    "/api/v2/account/referred_members": {
      "get": {
        "tags": [
          "Account"
        ],
        "summary": "Referral Members",
        "description": "Referral Members",
        "operationId": "account_get__referred_members",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/UnauthorizedError"
          },
          "422": {
            "$ref": "#/components/responses/ValidationError"
          },
          "500": {
            "$ref": "#/components/responses/ServerError"
          }
        },
        "security": [
          {
            "BearerAuth": []
          }
        ]
      }
    },
    "/api/v2/account/trade_rewards": {
      "get": {
        "tags": [
          "Account"
        ],
        "summary": "Trade Rewards",
        "description": "Trade Rewards",
        "operationId": "account_get__trade_rewards",
        "parameters": [
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Parameter: limit"
          },
          {
            "name": "page",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Parameter: page"
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/UnauthorizedError"
          },
          "422": {
            "$ref": "#/components/responses/ValidationError"
          },
          "500": {
            "$ref": "#/components/responses/ServerError"
          }
        },
        "security": [
          {
            "BearerAuth": []
          }
        ]
      }
    },
    "/api/v2/account/rewards/list": {
      "get": {
        "tags": [
          "Account"
        ],
        "summary": "Listing of  Rewards",
        "description": "Listing of  Rewards",
        "operationId": "account_get__rewards_list",
        "parameters": [
          {
            "name": "state",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Parameter: state"
          },
          {
            "name": "amount",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Parameter: amount"
          },
          {
            "name": "date_from",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Parameter: date_from"
          },
          {
            "name": "date_to",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Parameter: date_to"
          },
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Parameter: limit"
          },
          {
            "name": "page",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Parameter: page"
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/UnauthorizedError"
          },
          "422": {
            "$ref": "#/components/responses/ValidationError"
          },
          "500": {
            "$ref": "#/components/responses/ServerError"
          }
        },
        "security": [
          {
            "BearerAuth": []
          }
        ]
      }
    },
    "/api/v2/account/redeming/currency_based_rewards": {
      "get": {
        "tags": [
          "Account"
        ],
        "summary": "Currency Based Redemeed Rewards Left",
        "description": "Currency Based Redemeed Rewards Left",
        "operationId": "account_get__redeming_currency_based_rewards",
        "parameters": [
          {
            "name": "state",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Parameter: state"
          },
          {
            "name": "amount",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Parameter: amount"
          },
          {
            "name": "date_from",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Parameter: date_from"
          },
          {
            "name": "date_to",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Parameter: date_to"
          },
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Parameter: limit"
          },
          {
            "name": "page",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Parameter: page"
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/UnauthorizedError"
          },
          "422": {
            "$ref": "#/components/responses/ValidationError"
          },
          "500": {
            "$ref": "#/components/responses/ServerError"
          }
        },
        "security": [
          {
            "BearerAuth": []
          }
        ]
      }
    },
    "/api/v2/account/currency_based_rewards": {
      "get": {
        "tags": [
          "Account"
        ],
        "summary": "Currency Based Total Rewards",
        "description": "Currency Based Total Rewards",
        "operationId": "account_get__currency_based_rewards",
        "parameters": [
          {
            "name": "state",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Parameter: state"
          },
          {
            "name": "amount",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Parameter: amount"
          },
          {
            "name": "date_from",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Parameter: date_from"
          },
          {
            "name": "date_to",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Parameter: date_to"
          },
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Parameter: limit"
          },
          {
            "name": "page",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Parameter: page"
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/UnauthorizedError"
          },
          "422": {
            "$ref": "#/components/responses/ValidationError"
          },
          "500": {
            "$ref": "#/components/responses/ServerError"
          }
        },
        "security": [
          {
            "BearerAuth": []
          }
        ]
      }
    },
    "/api/v2/account/send_rewards": {
      "post": {
        "tags": [
          "Account"
        ],
        "summary": "Send Rewards",
        "description": "Send Rewards",
        "operationId": "account_post__send_rewards",
        "parameters": [
          {
            "name": "currency_id",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Parameter: currency_id"
          },
          {
            "name": "amount",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Parameter: amount"
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/UnauthorizedError"
          },
          "422": {
            "$ref": "#/components/responses/ValidationError"
          },
          "500": {
            "$ref": "#/components/responses/ServerError"
          }
        },
        "security": [
          {
            "BearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object"
              }
            }
          }
        }
      }
    },
    "/api/v2/account/withdrawal": {
      "post": {
        "tags": [
          "Account"
        ],
        "summary": "Reduce balance by third party request",
        "description": "Reduce balance by third party request",
        "operationId": "account_post__withdrawal",
        "parameters": [
          {
            "name": "currency",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Parameter: currency"
          },
          {
            "name": "amount",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Parameter: amount"
          },
          {
            "name": "platform",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Parameter: platform"
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/UnauthorizedError"
          },
          "422": {
            "$ref": "#/components/responses/ValidationError"
          },
          "500": {
            "$ref": "#/components/responses/ServerError"
          }
        },
        "security": [
          {
            "BearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object"
              }
            }
          }
        }
      }
    },
    "/api/v2/account/list/transactions": {
      "get": {
        "tags": [
          "Account"
        ],
        "summary": "Get all transactions made by third party",
        "description": "Get all transactions made by third party",
        "operationId": "account_get__list_transactions",
        "parameters": [
          {
            "name": "currency",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Parameter: currency"
          },
          {
            "name": "platform",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Parameter: platform"
          },
          {
            "name": "date_from",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Parameter: date_from"
          },
          {
            "name": "date_to",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Parameter: date_to"
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/UnauthorizedError"
          },
          "422": {
            "$ref": "#/components/responses/ValidationError"
          },
          "500": {
            "$ref": "#/components/responses/ServerError"
          }
        },
        "security": [
          {
            "BearerAuth": []
          }
        ]
      }
    },
    "/api/v2/account/adjustments": {
      "get": {
        "tags": [
          "Account"
        ],
        "summary": "Get your account adjustment history.",
        "description": "Get your account adjustment history.",
        "operationId": "account_get__adjustments",
        "parameters": [
          {
            "name": "currency",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Parameter: currency"
          },
          {
            "name": "ask_currency",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Parameter: ask_currency"
          },
          {
            "name": "state",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Parameter: state"
          },
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Parameter: limit"
          },
          {
            "name": "page",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Parameter: page"
          },
          {
            "name": "date_from",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Parameter: date_from"
          },
          {
            "name": "date_to",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Parameter: date_to"
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/UnauthorizedError"
          },
          "422": {
            "$ref": "#/components/responses/ValidationError"
          },
          "500": {
            "$ref": "#/components/responses/ServerError"
          }
        },
        "security": [
          {
            "BearerAuth": []
          }
        ]
      },
      "post": {
        "tags": [
          "Account"
        ],
        "summary": "Creates new account adjustment.",
        "description": "Creates new account adjustment.",
        "operationId": "account_post__adjustments",
        "parameters": [
          {
            "name": "currency",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Parameter: currency"
          },
          {
            "name": "amount",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Parameter: amount"
          },
          {
            "name": "bid_currency",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Parameter: bid_currency"
          },
          {
            "name": "otp",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Parameter: otp"
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/UnauthorizedError"
          },
          "422": {
            "$ref": "#/components/responses/ValidationError"
          },
          "500": {
            "$ref": "#/components/responses/ServerError"
          }
        },
        "security": [
          {
            "BearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object"
              }
            }
          }
        }
      }
    },
    "/api/v2/account/amount_quote": {
      "get": {
        "tags": [
          "Account"
        ],
        "summary": "Get quote for swaps",
        "description": "Get quote for swaps",
        "operationId": "account_get__amount_quote",
        "parameters": [
          {
            "name": "from",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Parameter: from"
          },
          {
            "name": "to",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Parameter: to"
          },
          {
            "name": "amount",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Parameter: amount"
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/UnauthorizedError"
          },
          "422": {
            "$ref": "#/components/responses/ValidationError"
          },
          "500": {
            "$ref": "#/components/responses/ServerError"
          }
        },
        "security": [
          {
            "BearerAuth": []
          }
        ]
      }
    },
    "/api/v2/account/balance_adjustments": {
      "get": {
        "tags": [
          "Account"
        ],
        "summary": "Get your admin adjustment history.",
        "description": "Get your admin adjustment history.",
        "operationId": "account_get__balance_adjustments",
        "parameters": [
          {
            "name": "from",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Parameter: from"
          },
          {
            "name": "to",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Parameter: to"
          },
          {
            "name": "amount",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Parameter: amount"
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/UnauthorizedError"
          },
          "422": {
            "$ref": "#/components/responses/ValidationError"
          },
          "500": {
            "$ref": "#/components/responses/ServerError"
          }
        },
        "security": [
          {
            "BearerAuth": []
          }
        ]
      }
    },
    "/api/v2/account/swap_small_asset": {
      "post": {
        "tags": [
          "Account"
        ],
        "summary": "swap small asset",
        "description": "swap small asset",
        "operationId": "account_post__swap_small_asset",
        "parameters": [
          {
            "name": "from_currency",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Parameter: from_currency"
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/UnauthorizedError"
          },
          "422": {
            "$ref": "#/components/responses/ValidationError"
          },
          "500": {
            "$ref": "#/components/responses/ServerError"
          }
        },
        "security": [
          {
            "BearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object"
              }
            }
          }
        }
      }
    },
    "/api/v2/accountsmall_asset/list": {
      "get": {
        "tags": [
          "Account"
        ],
        "summary": "swap small asset list",
        "description": "swap small asset list",
        "operationId": "account_get_small_asset_list",
        "parameters": [
          {
            "name": "from_currency",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Parameter: from_currency"
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/UnauthorizedError"
          },
          "422": {
            "$ref": "#/components/responses/ValidationError"
          },
          "500": {
            "$ref": "#/components/responses/ServerError"
          }
        },
        "security": [
          {
            "BearerAuth": []
          }
        ]
      }
    },
    "/api/v2/accountcurrency_detail": {
      "get": {
        "tags": [
          "Account"
        ],
        "summary": "currency detail set in settings",
        "description": "currency detail set in settings",
        "operationId": "account_get_currency_detail",
        "parameters": [
          {
            "name": "from_currency",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Parameter: from_currency"
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/UnauthorizedError"
          },
          "422": {
            "$ref": "#/components/responses/ValidationError"
          },
          "500": {
            "$ref": "#/components/responses/ServerError"
          }
        },
        "security": [
          {
            "BearerAuth": []
          }
        ]
      }
    },
    "/api/v2/account/fiat_withdraw/new": {
      "post": {
        "tags": [
          "Account"
        ],
        "summary": "Create Fiat withdraw",
        "description": "Create Fiat withdraw",
        "operationId": "account_post__fiat_withdraw_new",
        "parameters": [
          {
            "name": "currency",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Parameter: currency"
          },
          {
            "name": "amount",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Parameter: amount"
          },
          {
            "name": "bank_detail_id",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Parameter: bank_detail_id"
          },
          {
            "name": "rid",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Parameter: rid"
          },
          {
            "name": "otp",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Parameter: otp"
          },
          {
            "name": "code",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Parameter: code"
          },
          {
            "name": "note",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Parameter: note"
          },
          {
            "name": "transaction_type",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Parameter: transaction_type"
          }
        ],
        "responses": {
          "200": {
[...]
