{
  "openapi": "3.0.3",
  "info": {
    "title": "Google Places API (New)",
    "version": "1.0.0",
    "description": "The Google Places API (New) provides detailed information about places, including establishments, geographic locations, and prominent points of interest. It includes Place Details, Place Photos, Nearby Search, Text Search, and Autocomplete endpoints.",
    "x-jentic-source-url": "https://developers.google.com/maps/documentation/places/web-service",
    "contact": {
      "name": "API Support"
    }
  },
  "servers": [
    {
      "url": "https://places.googleapis.com/v1"
    }
  ],
  "paths": {
    "/places/{placeId}": {
      "get": {
        "operationId": "getPlaceDetails",
        "summary": "Get place details",
        "description": "Returns detailed information about a specific place, including its name, address, phone number, user ratings, reviews, and more. Use a field mask to control which fields are returned.",
        "tags": [
          "Places"
        ],
        "parameters": [
          {
            "name": "placeId",
            "in": "path",
            "description": "The unique identifier of a place, returned from a search or autocomplete request",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "X-Goog-FieldMask",
            "in": "header",
            "description": "Field mask specifying which fields to return (e.g., 'displayName,formattedAddress,rating')",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "languageCode",
            "in": "query",
            "description": "Language code for the response (BCP-47 format)",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "regionCode",
            "in": "query",
            "description": "Region code for biasing results (CLDR format)",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "sessionToken",
            "in": "query",
            "description": "Session token for billing purposes, used with Autocomplete sessions",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response with place details",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Place"
                }
              }
            }
          },
          "400": {
            "description": "Bad request - invalid parameters",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized - invalid or missing API key",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "404": {
            "description": "Place not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/places:searchText": {
      "post": {
        "operationId": "searchPlacesByText",
        "summary": "Text search for places",
        "description": "Searches for places using a text query string like 'restaurants near me' or 'fine seafood dining near Palo Alto, CA'. Returns a list of matching places.",
        "tags": [
          "Search"
        ],
        "parameters": [
          {
            "name": "X-Goog-FieldMask",
            "in": "header",
            "description": "Field mask specifying which fields to return",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/TextSearchRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response with search results",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SearchPlacesResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/places:searchNearby": {
      "post": {
        "operationId": "searchNearbyPlaces",
        "summary": "Nearby search for places",
        "description": "Searches for places within a specified geographic area defined by a center point and radius. Requires specifying place types to search for.",
        "tags": [
          "Search"
        ],
        "parameters": [
          {
            "name": "X-Goog-FieldMask",
            "in": "header",
            "description": "Field mask specifying which fields to return",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/NearbySearchRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response with nearby search results",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SearchPlacesResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/places/{placeId}/photos/{photoReference}/media": {
      "get": {
        "operationId": "getPlacePhoto",
        "summary": "Get a place photo",
        "description": "Returns a photo of a place. You must obtain the photo reference from a Place Details, Text Search, or Nearby Search response.",
        "tags": [
          "Photos"
        ],
        "parameters": [
          {
            "name": "placeId",
            "in": "path",
            "description": "The place ID",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "photoReference",
            "in": "path",
            "description": "The photo resource reference name",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "maxHeightPx",
            "in": "query",
            "description": "Maximum height of the photo in pixels (1-4800)",
            "required": false,
            "schema": {
              "type": "integer",
              "minimum": 1,
              "maximum": 4800
            }
          },
          {
            "name": "maxWidthPx",
            "in": "query",
            "description": "Maximum width of the photo in pixels (1-4800)",
            "required": false,
            "schema": {
              "type": "integer",
              "minimum": 1,
              "maximum": 4800
            }
          },
          {
            "name": "skipHttpRedirect",
            "in": "query",
            "description": "If true, returns the photo URI in JSON instead of redirecting",
            "required": false,
            "schema": {
              "type": "boolean",
              "default": false
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response with photo or photo URI",
            "content": {
              "image/*": {
                "schema": {
                  "type": "string",
                  "format": "binary"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PhotoMediaResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "404": {
            "description": "Photo not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/places:autocomplete": {
      "post": {
        "operationId": "autocompletePlaces",
        "summary": "Autocomplete place predictions",
        "description": "Returns place predictions and query predictions in response to a text input. Used to provide type-ahead suggestions as a user types.",
        "tags": [
          "Autocomplete"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/AutocompleteRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response with autocomplete suggestions",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AutocompleteResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    }
  },
  "components": {
    "schemas": {
      "Place": {
        "type": "object",
        "properties": {
          "name": {
            "type": "string",
            "description": "Resource name of the place (places/{placeId})"
          },
          "id": {
            "type": "string",
            "description": "Unique place identifier"
          },
          "displayName": {
            "type": "object",
            "properties": {
              "text": {
                "type": "string"
              },
              "languageCode": {
                "type": "string"
              }
            }
          },
          "formattedAddress": {
            "type": "string",
            "description": "Human-readable address"
          },
          "shortFormattedAddress": {
            "type": "string",
            "description": "Short human-readable address"
          },
          "location": {
            "$ref": "#/components/schemas/LatLng"
          },
          "rating": {
            "type": "number",
            "format": "double",
            "description": "Average user rating (1.0-5.0)"
          },
          "userRatingCount": {
            "type": "integer",
            "description": "Total number of user ratings"
          },
          "types": {
            "type": "array",
            "items": {
              "type": "string"
            },
            "description": "Place types (e.g., restaurant, cafe)"
          },
          "primaryType": {
            "type": "string",
            "description": "The primary type of the place"
          },
          "primaryTypeDisplayName": {
            "type": "object",
            "properties": {
              "text": {
                "type": "string"
              },
              "languageCode": {
                "type": "string"
              }
            }
          },
          "nationalPhoneNumber": {
            "type": "string"
          },
          "internationalPhoneNumber": {
            "type": "string"
          },
          "websiteUri": {
            "type": "string",
            "format": "uri"
          },
          "googleMapsUri": {
            "type": "string",
            "format": "uri"
          },
          "priceLevel": {
            "type": "string",
            "enum": [
              "PRICE_LEVEL_UNSPECIFIED",
              "PRICE_LEVEL_FREE",
              "PRICE_LEVEL_INEXPENSIVE",
              "PRICE_LEVEL_MODERATE",
              "PRICE_LEVEL_EXPENSIVE",
              "PRICE_LEVEL_VERY_EXPENSIVE"
            ]
          },
          "regularOpeningHours": {
            "$ref": "#/components/schemas/OpeningHours"
          },
          "currentOpeningHours": {
            "$ref": "#/components/schemas/OpeningHours"
          },
          "photos": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Photo"
            }
          },
          "reviews": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Review"
            }
          },
          "accessibilityOptions": {
            "$ref": "#/components/schemas/AccessibilityOptions"
          },
          "paymentOptions": {
            "$ref": "#/components/schemas/PaymentOptions"
          },
          "parkingOptions": {
            "$ref": "#/components/schemas/ParkingOptions"
          }
        }
      },
      "LatLng": {
        "type": "object",
        "properties": {
          "latitude": {
            "type": "number",
            "format": "double"
          },
          "longitude": {
            "type": "number",
            "format": "double"
          }
        }
      },
      "OpeningHours": {
        "type": "object",
        "properties": {
          "openNow": {
            "type": "boolean"
          },
          "periods": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "open": {
                  "type": "object",
                  "properties": {
                    "day": {
                      "type": "integer"
                    },
                    "hour": {
                      "type": "integer"
                    },
                    "minute": {
                      "type": "integer"
                    }
                  }
                },
                "close": {
                  "type": "object",
                  "properties": {
                    "day": {
                      "type": "integer"
                    },
                    "hour": {
                      "type": "integer"
                    },
                    "minute": {
                      "type": "integer"
                    }
                  }
                }
              }
            }
          },
          "weekdayDescriptions": {
            "type": "array",
            "items": {
              "type": "string"
            }
          }
        }
      },
      "Photo": {
        "type": "object",
        "properties": {
          "name": {
            "type": "string",
            "description": "Photo resource name"
          },
          "widthPx": {
            "type": "integer"
          },
          "heightPx": {
            "type": "integer"
          },
          "authorAttributions": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "displayName": {
                  "type": "string"
                },
                "uri": {
                  "type": "string"
                },
                "photoUri": {
                  "type": "string"
                }
              }
            }
          }
        }
      },
      "Review": {
        "type": "object",
        "properties": {
          "name": {
            "type": "string"
          },
          "rating": {
            "type": "number",
            "format": "double"
          },
          "text": {
            "type": "object",
            "properties": {
              "text": {
                "type": "string"
              },
              "languageCode": {
                "type": "string"
              }
            }
          },
          "publishTime": {
            "type": "string",
            "format": "date-time"
          },
          "relativePublishTimeDescription": {
            "type": "string"
          },
          "authorAttribution": {
            "type": "object",
            "properties": {
              "displayName": {
                "type": "string"
              },
              "uri": {
                "type": "string"
              },
              "photoUri": {
                "type": "string"
              }
            }
          }
        }
      },
      "AccessibilityOptions": {
        "type": "object",
        "properties": {
          "wheelchairAccessibleParking": {
            "type": "boolean"
          },
          "wheelchairAccessibleEntrance": {
            "type": "boolean"
          },
          "wheelchairAccessibleRestroom": {
            "type": "boolean"
          },
          "wheelchairAccessibleSeating": {
            "type": "boolean"
          }
        }
      },
      "PaymentOptions": {
        "type": "object",
        "properties": {
          "acceptsCreditCards": {
            "type": "boolean"
          },
          "acceptsDebitCards": {
            "type": "boolean"
          },
          "acceptsCashOnly": {
            "type": "boolean"
          },
          "acceptsNfc": {
            "type": "boolean"
          }
        }
      },
      "ParkingOptions": {
        "type": "object",
        "properties": {
          "freeParkingLot": {
            "type": "boolean"
          },
          "paidParkingLot": {
            "type": "boolean"
          },
          "freeStreetParking": {
            "type": "boolean"
          },
          "valetParking": {
            "type": "boolean"
          },
          "freeGarageParking": {
            "type": "boolean"
          },
          "paidGarageParking": {
            "type": "boolean"
          }
        }
      },
      "TextSearchRequest": {
        "type": "object",
        "required": [
          "textQuery"
        ],
        "properties": {
          "textQuery": {
            "type": "string",
            "description": "The text query for the search"
          },
          "languageCode": {
            "type": "string",
            "description": "Language code for the response"
          },
          "regionCode": {
            "type": "string",
            "description": "Region code for biasing results"
          },
          "rankPreference": {
            "type": "string",
            "enum": [
              "RANK_PREFERENCE_UNSPECIFIED",
              "DISTANCE",
              "RELEVANCE"
            ]
          },
          "includedType": {
            "type": "string",
            "description": "Restrict results to a specific place type"
          },
          "openNow": {
            "type": "boolean",
            "description": "Filter to places that are currently open"
          },
          "minRating": {
            "type": "number",
            "format": "double",
            "description": "Minimum average user rating"
          },
          "maxResultCount": {
            "type": "integer",
            "description": "Maximum number of results to return (1-20)"
          },
          "priceLevels": {
            "type": "array",
            "items": {
              "type": "string",
              "enum": [
                "PRICE_LEVEL_FREE",
                "PRICE_LEVEL_INEXPENSIVE",
                "PRICE_LEVEL_MODERATE",
                "PRICE_LEVEL_EXPENSIVE",
                "PRICE_LEVEL_VERY_EXPENSIVE"
              ]
            }
          },
          "locationBias": {
            "$ref": "#/components/schemas/LocationBias"
          },
          "locationRestriction": {
            "$ref": "#/components/schemas/LocationRestriction"
          },
          "pageToken": {
            "type": "string",
            "description": "Token for fetching next page of results"
          }
        }
      },
      "NearbySearchRequest": {
        "type": "object",
        "required": [
          "locationRestriction"
        ],
        "properties": {
          "includedTypes": {
            "type": "array",
            "items": {
              "type": "string"
            },
            "description": "List of place types to include"
          },
          "excludedTypes": {
            "type": "array",
            "items": {
              "type": "string"
            },
            "description": "List of place types to exclude"
          },
          "includedPrimaryTypes": {
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "excludedPrimaryTypes": {
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "maxResultCount": {
            "type": "integer",
            "description": "Maximum number of results (1-20)"
          },
          "languageCode": {
            "type": "string"
          },
          "regionCode": {
            "type": "string"
          },
          "rankPreference": {
            "type": "string",
            "enum": [
              "RANK_PREFERENCE_UNSPECIFIED",
              "POPULARITY",
              "DISTANCE"
            ]
          },
          "locationRestriction": {
            "type": "object",
            "properties": {
              "circle": {
                "type": "object",
                "properties": {
                  "center": {
                    "$ref": "#/components/schemas/LatLng"
                  },
                  "radius": {
                    "type": "number",
                    "format": "double",
                    "description": "Radius in meters (max 50000)"
                  }
                }
              }
            }
          }
        }
      },
      "AutocompleteRequest": {
        "type": "object",
        "required": [
          "input"
        ],
        "properties": {
          "input": {
            "type": "string",
            "description": "The text input to search for"
          },
          "locationBias": {
            "$ref": "#/components/schemas/LocationBias"
          },
          "locationRestriction": {
            "$ref": "#/components/schemas/LocationRestriction"
          },
          "includedPrimaryTypes": {
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "includedRegionCodes": {
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "languageCode": {
            "type": "string"
          },
          "regionCode": {
            "type": "string"
          },
          "origin": {
            "$ref": "#/components/schemas/LatLng"
          },
          "inputOffset": {
            "type": "integer",
            "description": "Zero-based Unicode character offset of the input cursor"
          },
          "includeQueryPredictions": {
            "type": "boolean"
          },
          "sessionToken": {
            "type": "string",
            "description": "Session token for billing purposes"
          }
        }
      },
      "LocationBias": {
        "type": "object",
        "properties": {
          "circle": {
            "type": "object",
            "properties": {
              "center": {
                "$ref": "#/components/schemas/LatLng"
              },
              "radius": {
                "type": "number",
                "format": "double"
              }
            }
          },
          "rectangle": {
            "type": "object",
            "properties": {
              "low": {
                "$ref": "#/components/schemas/LatLng"
              },
              "high": {
                "$ref": "#/components/schemas/LatLng"
              }
            }
          }
        }
      },
      "LocationRestriction": {
        "type": "object",
        "properties": {
          "circle": {
            "type": "object",
            "properties": {
              "center": {
                "$ref": "#/components/schemas/LatLng"
              },
              "radius": {
                "type": "number",
                "format": "double"
              }
            }
          },
          "rectangle": {
            "type": "object",
            "properties": {
              "low": {
                "$ref": "#/components/schemas/LatLng"
              },
              "high": {
                "$ref": "#/components/schemas/LatLng"
              }
            }
          }
        }
      },
      "SearchPlacesResponse": {
        "type": "object",
        "properties": {
          "places": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Place"
            }
          },
          "nextPageToken": {
            "type": "string",
            "description": "Token for fetching next page of results"
          }
        }
      },
      "PhotoMediaResponse": {
        "type": "object",
        "properties": {
          "name": {
            "type": "string"
          },
          "photoUri": {
            "type": "string",
            "format": "uri",
            "description": "URI of the photo"
          }
        }
      },
      "AutocompleteResponse": {
        "type": "object",
        "properties": {
          "suggestions": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "placePrediction": {
                  "type": "object",
                  "properties": {
                    "placeId": {
                      "type": "string"
                    },
                    "text": {
                      "type": "object",
                      "properties": {
                        "text": {
                          "type": "string"
                        },
                        "matches": {
                          "type": "array",
                          "items": {
                            "type": "object",
                            "properties": {
                              "startOffset": {
                                "type": "integer"
                              },
                              "endOffset": {
                                "type": "integer"
                              }
                            }
                          }
                        }
                      }
                    },
                    "structuredFormat": {
                      "type": "object",
                      "properties": {
                        "mainText": {
                          "type": "object",
                          "properties": {
                            "text": {
                              "type": "string"
                            }
                          }
                        },
                        "secondaryText": {
                          "type": "object",
                          "properties": {
                            "text": {
                              "type": "string"
                            }
                          }
                        }
                      }
                    },
                    "types": {
                      "type": "array",
                      "items": {
                        "type": "string"
                      }
                    },
                    "distanceMeters": {
                      "type": "integer"
                    }
                  }
                },
                "queryPrediction": {
                  "type": "object",
                  "properties": {
                    "text": {
                      "type": "object",
                      "properties": {
                        "text": {
                          "type": "string"
                        },
                        "matches": {
                          "type": "array",
                          "items": {
                            "type": "object",
                            "properties": {
                              "startOffset": {
                                "type": "integer"
                              },
                              "endOffset": {
                                "type": "integer"
                              }
                            }
                          }
                        }
                      }
                    },
                    "structuredFormat": {
                      "type": "object",
                      "properties": {
                        "mainText": {
                          "type": "object",
                          "properties": {
                            "text": {
                              "type": "string"
                            }
                          }
                        },
                        "secondaryText": {
                          "type": "object",
                          "properties": {
                            "text": {
                              "type": "string"
                            }
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        }
      },
      "ErrorResponse": {
        "type": "object",
        "properties": {
          "error": {
            "type": "object",
            "properties": {
              "code": {
                "type": "integer"
              },
              "message": {
                "type": "string"
              },
              "status": {
                "type": "string"
              }
            }
          }
        }
      }
    },
    "securitySchemes": {
      "apiKey": {
        "type": "apiKey",
        "name": "X-Goog-Api-Key",
        "in": "header",
        "description": "Google API key"
      }
    }
  },
  "security": [
    {
      "apiKey": []
    }
  ],
  "tags": [
    {
      "name": "Autocomplete"
    },
    {
      "name": "Photos"
    },
    {
      "name": "Places"
    },
    {
      "name": "Search"
    }
  ]
}
