{
  "openapi": "3.0.1",
  "info": {
    "title": "Eldorado Seller API",
    "description": "Enhance your selling experience by using these API endpoints",
    "contact": {
      "email": "api@eldorado.gg"
    },
    "x-jentic-source-url": "https://api.swaggerhub.com/apis/vietnam-4a2/eldorado-seller-api/1.0.0",
    "version": "1.0.0"
  },
  "servers": [
    {
      "url": "https://www.eldorado.gg/"
    }
  ],
  "paths": {
    "/api/boostingOffers/me/boostingSubscription/create": {
      "post": {
        "tags": [
          "BoostingOfferSellerPrivate"
        ],
        "summary": " (Auth)",
        "parameters": [
          {
            "name": "api-version",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "swagger",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string",
              "default": "Swager request"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json-patch+json": {
              "schema": {
                "$ref": "#/components/schemas/Eldorado.UnmanagedBoosting.Domain.Models.Requests.BoostingSubscriptionPostPrivateDTO"
              }
            },
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/Eldorado.UnmanagedBoosting.Domain.Models.Requests.BoostingSubscriptionPostPrivateDTO"
              }
            },
            "text/json": {
              "schema": {
                "$ref": "#/components/schemas/Eldorado.UnmanagedBoosting.Domain.Models.Requests.BoostingSubscriptionPostPrivateDTO"
              }
            },
            "application/*+json": {
              "schema": {
                "$ref": "#/components/schemas/Eldorado.UnmanagedBoosting.Domain.Models.Requests.BoostingSubscriptionPostPrivateDTO"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Created",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Eldorado.UnmanagedBoosting.Domain.Models.Responses.BoostingSubscriptionGetPrivateDTO"
                }
              }
            }
          }
        }
      }
    },
    "/api/boostingOffers/me/boostingSubscription/{gameId}/{boostingCategoryId}": {
      "delete": {
        "tags": [
          "BoostingOfferSellerPrivate"
        ],
        "summary": " (Auth)",
        "parameters": [
          {
            "name": "gameId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "boostingCategoryId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "api-version",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "swagger",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string",
              "default": "Swager request"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "No Content"
          }
        }
      }
    },
    "/api/boostingOffers/me/boostingSubscriptions": {
      "get": {
        "tags": [
          "BoostingOfferSellerPrivate"
        ],
        "summary": " (Auth)",
        "parameters": [
          {
            "name": "api-version",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "swagger",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string",
              "default": "Swager request"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Eldorado.UnmanagedBoosting.Domain.Models.Responses.BoostingSubscriptionGetPrivateDTO"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/api/boostingOffers": {
      "post": {
        "tags": [
          "BoostingOfferSellerPrivate"
        ],
        "summary": " (Auth)",
        "parameters": [
          {
            "name": "api-version",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "swagger",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string",
              "default": "Swager request"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json-patch+json": {
              "schema": {
                "$ref": "#/components/schemas/Eldorado.UnmanagedBoosting.Domain.Models.Requests.BoostingOfferPostPrivateDTO"
              }
            },
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/Eldorado.UnmanagedBoosting.Domain.Models.Requests.BoostingOfferPostPrivateDTO"
              }
            },
            "text/json": {
              "schema": {
                "$ref": "#/components/schemas/Eldorado.UnmanagedBoosting.Domain.Models.Requests.BoostingOfferPostPrivateDTO"
              }
            },
            "application/*+json": {
              "schema": {
                "$ref": "#/components/schemas/Eldorado.UnmanagedBoosting.Domain.Models.Requests.BoostingOfferPostPrivateDTO"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Created",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Eldorado.UnmanagedBoosting.Domain.Models.Responses.BoostingOfferGetPublicDTO"
                }
              }
            }
          }
        }
      }
    },
    "/api/boostingOffers/{offerId}/update": {
      "put": {
        "tags": [
          "BoostingOfferSellerPrivate"
        ],
        "summary": " (Auth)",
        "parameters": [
          {
            "name": "offerId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          },
          {
            "name": "api-version",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "swagger",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string",
              "default": "Swager request"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json-patch+json": {
              "schema": {
                "$ref": "#/components/schemas/Eldorado.UnmanagedBoosting.Domain.Models.Requests.BoostingOfferPutPrivateDTO"
              }
            },
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/Eldorado.UnmanagedBoosting.Domain.Models.Requests.BoostingOfferPutPrivateDTO"
              }
            },
            "text/json": {
              "schema": {
                "$ref": "#/components/schemas/Eldorado.UnmanagedBoosting.Domain.Models.Requests.BoostingOfferPutPrivateDTO"
              }
            },
            "application/*+json": {
              "schema": {
                "$ref": "#/components/schemas/Eldorado.UnmanagedBoosting.Domain.Models.Requests.BoostingOfferPutPrivateDTO"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Eldorado.UnmanagedBoosting.Domain.Models.Responses.BoostingOfferGetPublicDTO"
                }
              }
            }
          }
        }
      }
    },
    "/api/boostingOffers/{offerId}/delete": {
      "delete": {
        "tags": [
          "BoostingOfferSellerPrivate"
        ],
        "summary": " (Auth)",
        "parameters": [
          {
            "name": "offerId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          },
          {
            "name": "api-version",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "swagger",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string",
              "default": "Swager request"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "No Content"
          }
        }
      }
    },
    "/api/boostingOffers/boostingRequests/{boostingRequestId}/viewer": {
      "put": {
        "tags": [
          "BoostingOfferSellerPrivate"
        ],
        "summary": " (Auth)",
        "parameters": [
          {
            "name": "boostingRequestId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          },
          {
            "name": "api-version",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "swagger",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string",
              "default": "Swager request"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          }
        }
      }
    },
    "/api/boostingOffers/boostingRequests/{boostingRequestId}/createConversationForSeller": {
      "post": {
        "tags": [
          "BoostingOfferSellerPrivate"
        ],
        "summary": " (Auth)",
        "parameters": [
          {
            "name": "boostingRequestId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          },
          {
            "name": "api-version",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "swagger",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string",
              "default": "Swager request"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Eldorado.UnmanagedBoosting.Domain.Models.Responses.BoostingRequestConversationGetPrivateDTO"
                }
              }
            }
          }
        }
      }
    },
    "/api/boostingOffers/me/boostingRequests/received": {
      "get": {
        "tags": [
          "BoostingOfferSellerPrivate"
        ],
        "summary": " (Auth)",
        "parameters": [
          {
            "name": "filter",
            "in": "query",
            "schema": {
              "$ref": "#/components/schemas/Eldorado.UnmanagedBoosting.Domain.Enums.BoostingRequestSellerFilter"
            }
          },
          {
            "name": "gameId",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "cursorValue",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "cursorColumn",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "pageDirection",
            "in": "query",
            "schema": {
              "$ref": "#/components/schemas/Eldorado.SharedKernel.Domain.Enums.PageDirection"
            }
          },
          {
            "name": "pageSize",
            "in": "query",
            "schema": {
              "maximum": 50,
              "minimum": 1,
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "api-version",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "swagger",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string",
              "default": "Swager request"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Eldorado.SharedKernel.Domain.Models.CursorBasedPagedResult`1[[Eldorado.UnmanagedBoosting.Domain.Models.DTO.BoostingRequestListItemSellerDTO, Eldorado.UnmanagedBoosting.Domain, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null]]"
                }
              }
            }
          }
        }
      }
    },
    "/api/boostingUser/{boostingRequestUserId}/mute": {
      "put": {
        "tags": [
          "BoostingOfferUserPrivate"
        ],
        "summary": " (Auth)",
        "parameters": [
          {
            "name": "boostingRequestUserId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "api-version",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "swagger",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string",
              "default": "Swager request"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          }
        }
      }
    },
    "/api/boostingUser/{boostingRequestUserId}/unmute": {
      "put": {
        "tags": [
          "BoostingOfferUserPrivate"
        ],
        "summary": " (Auth)",
        "parameters": [
          {
            "name": "boostingRequestUserId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "api-version",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "swagger",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string",
              "default": "Swager request"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          }
        }
      }
    },
    "/api/flexibleOffers/me/search": {
      "get": {
        "tags": [
          "FlexibleOfferPrivate"
        ],
        "summary": " (Auth)",
        "parameters": [
          {
            "name": "deliveryTime",
            "in": "query",
            "schema": {
              "$ref": "#/components/schemas/Eldorado.SharedKernel.Domain.Enums.GuaranteedDeliveryTime"
            }
          },
          {
            "name": "searchQuery",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "offerState",
            "in": "query",
            "schema": {
              "$ref": "#/components/schemas/Eldorado.SharedKernel.Domain.Enums.OfferState"
            }
          },
          {
            "name": "gameId",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "category",
            "in": "query",
            "schema": {
              "$ref": "#/components/schemas/Eldorado.SharedKernel.Domain.Enums.Category"
            }
          },
          {
            "name": "offerAttributeIdsCsv",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "tradeEnvironmentId",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "tradeEnvironmentValue0",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "tradeEnvironmentValue1",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "tradeEnvironmentValue2",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "lowestPrice",
            "in": "query",
            "schema": {
              "type": "number",
              "format": "double"
            }
          },
          {
            "name": "highestPrice",
            "in": "query",
            "schema": {
              "type": "number",
              "format": "double"
            }
          },
          {
            "name": "pageIndex",
            "in": "query",
            "schema": {
              "maximum": 1000,
              "minimum": 1,
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "pageSize",
            "in": "query",
            "schema": {
              "maximum": 50,
              "minimum": 1,
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "offerSortingCriterion",
            "in": "query",
            "schema": {
              "$ref": "#/components/schemas/Eldorado.FlexibleOfferManagement.Domain.Enums.OfferSortingCriterion"
            }
          },
          {
            "name": "isAscending",
            "in": "query",
            "schema": {
              "type": "boolean"
            }
          },
          {
            "name": "queryAttributes",
            "in": "query",
            "schema": {
              "type": "object",
              "additionalProperties": {
                "type": "string"
              }
            }
          },
          {
            "name": "api-version",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "swagger",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string",
              "default": "Swager request"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Eldorado.SharedKernel.Domain.Models.IndexBasedPagedResult`1[[Eldorado.FlexibleOfferManagement.Domain.Models.Responses.FlexibleOfferPublicDTO, Eldorado.FlexibleOfferManagement.Domain, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null]]"
                }
              }
            }
          }
        }
      }
    },
    "/api/flexibleOffers/account": {
      "post": {
        "tags": [
          "FlexibleOfferPrivate"
        ],
        "summary": " (Auth)",
        "parameters": [
          {
            "name": "api-version",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "swagger",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string",
              "default": "Swager request"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json-patch+json": {
              "schema": {
                "$ref": "#/components/schemas/Eldorado.FlexibleOfferManagement.Domain.Models.Requests.AccountOfferPostPrivateDTO"
              }
            },
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/Eldorado.FlexibleOfferManagement.Domain.Models.Requests.AccountOfferPostPrivateDTO"
              }
            },
            "text/json": {
              "schema": {
                "$ref": "#/components/schemas/Eldorado.FlexibleOfferManagement.Domain.Models.Requests.AccountOfferPostPrivateDTO"
              }
            },
            "application/*+json": {
              "schema": {
                "$ref": "#/components/schemas/Eldorado.FlexibleOfferManagement.Domain.Models.Requests.AccountOfferPostPrivateDTO"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Created",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Eldorado.FlexibleOfferManagement.Domain.Models.Responses.FlexibleOfferPublicDTO"
                }
              }
            }
          }
        }
      }
    },
    "/api/flexibleOffers/item": {
      "post": {
        "tags": [
          "FlexibleOfferPrivate"
        ],
        "summary": " (Auth)",
        "parameters": [
          {
            "name": "api-version",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "swagger",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string",
              "default": "Swager request"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json-patch+json": {
              "schema": {
                "$ref": "#/components/schemas/Eldorado.FlexibleOfferManagement.Domain.Models.Requests.ItemOfferPostPrivateDTO"
              }
            },
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/Eldorado.FlexibleOfferManagement.Domain.Models.Requests.ItemOfferPostPrivateDTO"
              }
            },
            "text/json": {
              "schema": {
                "$ref": "#/components/schemas/Eldorado.FlexibleOfferManagement.Domain.Models.Requests.ItemOfferPostPrivateDTO"
              }
            },
            "application/*+json": {
              "schema": {
                "$ref": "#/components/schemas/Eldorado.FlexibleOfferManagement.Domain.Models.Requests.ItemOfferPostPrivateDTO"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Created",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Eldorado.FlexibleOfferManagement.Domain.Models.Responses.FlexibleOfferPublicDTO"
                }
              }
            }
          }
        }
      }
    },
    "/api/flexibleOffers/account/{id}/details": {
      "put": {
        "tags": [
          "FlexibleOfferPrivate"
        ],
        "summary": " (Auth)",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          },
          {
            "name": "api-version",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "swagger",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string",
              "default": "Swager request"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json-patch+json": {
              "schema": {
                "$ref": "#/components/schemas/Eldorado.FlexibleOfferManagement.Domain.Models.Requests.AccountOfferPutPrivateDTO"
              }
            },
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/Eldorado.FlexibleOfferManagement.Domain.Models.Requests.AccountOfferPutPrivateDTO"
              }
            },
            "text/json": {
              "schema": {
                "$ref": "#/components/schemas/Eldorado.FlexibleOfferManagement.Domain.Models.Requests.AccountOfferPutPrivateDTO"
              }
            },
            "application/*+json": {
              "schema": {
                "$ref": "#/components/schemas/Eldorado.FlexibleOfferManagement.Domain.Models.Requests.AccountOfferPutPrivateDTO"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Eldorado.FlexibleOfferManagement.Domain.Models.Responses.FlexibleOfferPrivateDTO"
                }
              }
            }
          }
        }
      }
    },
    "/api/flexibleOffers/item/{id}/details": {
      "put": {
        "tags": [
          "FlexibleOfferPrivate"
        ],
        "summary": " (Auth)",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          },
          {
            "name": "api-version",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "swagger",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string",
              "default": "Swager request"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json-patch+json": {
              "schema": {
                "$ref": "#/components/schemas/Eldorado.FlexibleOfferManagement.Domain.Models.Requests.ItemOfferPutPrivateDTO"
              }
            },
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/Eldorado.FlexibleOfferManagement.Domain.Models.Requests.ItemOfferPutPrivateDTO"
              }
            },
            "text/json": {
              "schema": {
                "$ref": "#/components/schemas/Eldorado.FlexibleOfferManagement.Domain.Models.Requests.ItemOfferPutPrivateDTO"
              }
            },
            "application/*+json": {
              "schema": {
                "$ref": "#/components/schemas/Eldorado.FlexibleOfferManagement.Domain.Models.Requests.ItemOfferPutPrivateDTO"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Eldorado.FlexibleOfferManagement.Domain.Models.Responses.FlexibleOfferPublicDTO"
                }
              }
            }
          }
        }
      }
    },
    "/api/flexibleOffers/{offerId}": {
      "get": {
        "tags": [
          "FlexibleOfferPublic"
        ],
        "parameters": [
          {
            "name": "offerId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          },
          {
            "name": "api-version",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "swagger",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string",
              "default": "Swager request"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Eldorado.FlexibleOfferManagement.Domain.Models.DTO.FlexibleOfferEnhancedPublicDTO"
                }
              }
            }
          },
          "404": {
            "description": "Not Found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails"
                }
              }
            }
          }
        }
      }
    },
    "/api/flexibleOffers": {
      "get": {
        "tags": [
          "FlexibleOfferPublic"
        ],
        "parameters": [
          {
            "name": "deliveryTime",
            "in": "query",
            "schema": {
              "$ref": "#/components/schemas/Eldorado.SharedKernel.Domain.Enums.GuaranteedDeliveryTime"
            }
          },
          {
            "name": "searchQuery",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "gameId",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "category",
            "in": "query",
            "schema": {
              "$ref": "#/components/schemas/Eldorado.SharedKernel.Domain.Enums.Category"
            }
          },
          {
            "name": "offerAttributeIdsCsv",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "tradeEnvironmentId",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "tradeEnvironmentValue0",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "tradeEnvironmentValue1",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "tradeEnvironmentValue2",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "lowestPrice",
            "in": "query",
            "schema": {
              "type": "number",
              "format": "double"
            }
          },
          {
            "name": "highestPrice",
            "in": "query",
            "schema": {
              "type": "number",
              "format": "double"
            }
          },
          {
            "name": "pageIndex",
            "in": "query",
            "schema": {
              "maximum": 1000,
              "minimum": 1,
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "pageSize",
            "in": "query",
            "schema": {
              "maximum": 50,
              "minimum": 1,
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "offerSortingCriterion",
            "in": "query",
            "schema": {
              "$ref": "#/components/schemas/Eldorado.FlexibleOfferManagement.Domain.Enums.OfferSortingCriterion"
            }
          },
          {
            "name": "isAscending",
            "in": "query",
            "schema": {
              "type": "boolean"
            }
          },
          {
            "name": "attributes",
            "in": "query",
            "schema": {
              "type": "object",
              "additionalProperties": {
                "type": "string"
              }
            }
          },
          {
            "name": "usePerGameScore",
            "in": "query",
            "schema": {
              "type": "boolean",
              "default": false
            }
          },
          {
            "name": "api-version",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "swagger",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string",
              "default": "Swager request"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Eldorado.SharedKernel.Domain.Models.IndexBasedPagedResult`1[[Eldorado.FlexibleOfferManagement.Domain.Models.DTO.FlexibleOfferEnhancedPublicDTO, Eldorado.FlexibleOfferManagement.Domain, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null]]"
                }
              }
            }
          }
        }
      }
    },
    "/api/flexibleOffersUser/me/{id}": {
      "delete": {
        "tags": [
          "FlexibleOfferUserPrivate"
        ],
        "summary": " (Auth)",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          },
          {
            "name": "api-version",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "swagger",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string",
              "default": "Swager request"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "No Content"
          }
        }
      }
    },
    "/api/flexibleOffersUser/me/{id}/pause": {
      "put": {
        "tags": [
          "FlexibleOfferUserPrivate"
        ],
        "summary": " (Auth)",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          },
          {
            "name": "api-version",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "swagger",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string",
              "default": "Swager request"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          }
        }
      }
    },
    "/api/flexibleOffersUser/me/{id}/resume": {
      "put": {
        "tags": [
          "FlexibleOfferUserPrivate"
        ],
        "summary": " (Auth)",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          },
          {
            "name": "api-version",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "swagger",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string",
              "default": "Swager request"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          }
        }
      }
    },
    "/api/flexibleOffersUser/me/pauseAllActive": {
      "put": {
        "tags": [
          "FlexibleOfferUserPrivate"
        ],
        "summary": " (Auth)",
        "parameters": [
          {
            "name": "gameId",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "category",
            "in": "query",
            "schema": {
              "$ref": "#/components/schemas/Eldorado.SharedKernel.Domain.Enums.Category"
            }
          },
          {
            "name": "offerAttributeIdsCsv",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "tradeEnvironmentId",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "tradeEnvironmentValue0",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "tradeEnvironmentValue1",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "tradeEnvironmentValue2",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "queryAttributes",
            "in": "query",
            "schema": {
              "type": "object",
              "additionalProperties": {
                "type": "string"
              }
            }
          },
          {
            "name": "api-version",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "swagger",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string",
              "default": "Swager request"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Eldorado.SharedStockOfferKernel.Domain.Models.Responses.OfferBulkActionOffersCountPrivateDTO"
                }
              }
            }
          }
        }
      }
    },
    "/api/flexibleOffersUser/me/resumeLatestPaused/{gameId}": {
      "put": {
        "tags": [
          "FlexibleOfferUserPrivate"
        ],
        "summary": " (Auth)",
        "parameters": [
          {
            "name": "gameId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "gameId",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "category",
            "in": "query",
            "schema": {
              "$ref": "#/components/schemas/Eldorado.SharedKernel.Domain.Enums.Category"
            }
          },
          {
            "name": "offerAttributeIdsCsv",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "tradeEnvironmentId",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "tradeEnvironmentValue0",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "tradeEnvironmentValue1",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "tradeEnvironmentValue2",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "queryAttributes",
            "in": "query",
            "schema": {
              "type": "object",
              "additionalProperties": {
                "type": "string"
              }
            }
          },
          {
            "name": "api-version",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "swagger",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string",
              "default": "Swager request"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Eldorado.SharedStockOfferKernel.Domain.Models.Responses.OfferBulkActionOffersCountPrivateDTO"
                }
              }
            }
          }
        }
      }
    },
    "/api/flexibleOffersUser/me/deleteAll": {
      "delete": {
        "tags": [
          "FlexibleOfferUserPrivate"
        ],
        "summary": " (Auth)",
        "parameters": [
          {
            "name": "offerState",
            "in": "query",
            "schema": {
              "$ref": "#/components/schemas/Eldorado.SharedKernel.Domain.Enums.OfferState"
            }
          },
          {
            "name": "gameId",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "category",
            "in": "query",
            "schema": {
              "$ref": "#/components/schemas/Eldorado.SharedKernel.Domain.Enums.Category"
            }
          },
          {
            "name": "offerAttributeIdsCsv",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "tradeEnvironmentId",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "tradeEnvironmentValue0",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "tradeEnvironmentValue1",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "tradeEnvironmentValue2",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "queryAttributes",
            "in": "query",
            "schema": {
              "type": "object",
              "additionalProperties": {
                "type": "string"
              }
            }
          },
          {
            "name": "api-version",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "swagger",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string",
              "default": "Swager request"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "No Content"
          }
        }
      }
    },
    "/api/flexibleOffersUser/me/changeDeliveryTimeForAll": {
      "put": {
        "tags": [
          "FlexibleOfferUserPrivate"
        ],
        "summary": " (Auth)",
        "parameters": [
          {
            "name": "deliveryTime",
            "in": "query",
            "required": true,
            "schema": {
              "$ref": "#/components/schemas/Eldorado.SharedKernel.Domain.Enums.GuaranteedDeliveryTime"
            }
          },
          {
            "name": "offerState",
            "in": "query",
            "schema": {
              "$ref": "#/components/schemas/Eldorado.SharedKernel.Domain.Enums.OfferState"
            }
          },
          {
            "name": "gameId",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "category",
            "in": "query",
            "schema": {
              "$ref": "#/components/schemas/Eldorado.SharedKernel.Domain.Enums.Category"
            }
          },
          {
            "name": "offerAttributeIdsCsv",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "tradeEnvironmentId",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "tradeEnvironmentValue0",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "tradeEnvironmentValue1",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "tradeEnvironmentValue2",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "queryAttributes",
            "in": "query",
            "schema": {
              "type": "object",
              "additionalProperties": {
                "type": "string"
              }
            }
          },
          {
            "name": "api-version",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "swagger",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string",
              "default": "Swager request"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Eldorado.SharedStockOfferKernel.Domain.Models.Responses.OfferBulkActionOffersCountPrivateDTO"
                }
              }
            }
          }
        }
      }
    },
    "/api/flexibleOffersUser/me/{id}/changePrice": {
      "put": {
        "tags": [
          "FlexibleOfferUserPrivate"
        ],
        "summary": " (Auth)",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          },
          {
            "name": "api-version",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "swagger",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string",
              "default": "Swager request"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json-patch+json": {
              "schema": {
                "$ref": "#/components/schemas/Eldorado.SharedKernel.Domain.Models.DTO.MoneyBaseDTO"
              }
            },
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/Eldorado.SharedKernel.Domain.Models.DTO.MoneyBaseDTO"
              }
            },
            "text/json": {
              "schema": {
                "$ref": "#/components/schemas/Eldorado.SharedKernel.Domain.Models.DTO.MoneyBaseDTO"
              }
            },
            "application/*+json": {
              "schema": {
                "$ref": "#/components/schemas/Eldorado.SharedKernel.Domain.Models.DTO.MoneyBaseDTO"
              }
            },
            "application/xml": {
              "schema": {
                "$ref": "#/components/schemas/Eldorado.SharedKernel.Domain.Models.DTO.MoneyBaseDTO"
              }
            },
            "text/xml": {
              "schema": {
                "$ref": "#/components/schemas/Eldorado.SharedKernel.Domain.Models.DTO.MoneyBaseDTO"
              }
            },
            "application/*+xml": {
              "schema": {
                "$ref": "#/components/schemas/Eldorado.SharedKernel.Domain.Models.DTO.MoneyBaseDTO"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Eldorado.SharedKernel.Domain.Models.DTO.MoneyBaseDTO"
                }
              }
            }
          }
        }
      }
    },
    "/api/flexibleOffersUser/me/changePriceForAll/{gameId}": {
      "put": {
        "tags": [
          "FlexibleOfferUserPrivate"
        ],
        "summary": " (Auth)",
        "parameters": [
          {
            "name": "gameId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "amount",
            "in": "query",
            "schema": {
              "type": "number",
              "format": "double"
            }
          },
          {
            "name": "currency",
            "in": "query",
            "schema": {
              "$ref": "#/components/schemas/Eldorado.SharedKernel.Domain.Models.Monetary.Currency"
            }
          },
          {
            "name": "offerState",
            "in": "query",
            "schema": {
              "$ref": "#/components/schemas/Eldorado.SharedKernel.Domain.Enums.OfferState"
            }
          },
          {
            "name": "gameId",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "category",
            "in": "query",
            "schema": {
              "$ref": "#/components/schemas/Eldorado.SharedKernel.Domain.Enums.Category"
            }
          },
          {
            "name": "offerAttributeIdsCsv",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "tradeEnvironmentId",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "tradeEnvironmentValue0",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "tradeEnvironmentValue1",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "tradeEnvironmentValue2",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "queryAttributes",
            "in": "query",
            "schema": {
              "type": "object",
              "additionalProperties": {
                "type": "string"
              }
            }
          },
          {
            "name": "api-version",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "swagger",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string",
              "default": "Swager request"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Eldorado.SharedStockOfferKernel.Domain.Models.Responses.OfferBulkActionOffersCountPrivateDTO"
                }
              }
            }
          }
        }
      }
    },
    "/api/offers/osrsPrices": {
      "get": {
        "tags": [
          "OfferPublic"
        ],
        "description": "Use api/predefinedOffers/osrsPrices",
        "parameters": [
          {
            "name": "api-version",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "swagger",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string",
              "default": "Swager request"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Eldorado.PredefinedOfferManagement.Domain.Models.Responses.LowestOfferPricePerGamePublicDTO"
                }
              }
            }
          }
        },
        "deprecated": true
      }
    },
    "/api/offers/rs3Prices": {
      "get": {
        "tags": [
          "OfferPublic"
        ],
        "description": "Use api/predefinedOffers/rs3Prices",
        "parameters": [
          {
            "name": "api-version",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "swagger",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string",
              "default": "Swager request"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Eldorado.PredefinedOfferManagement.Domain.Models.Responses.LowestOfferPricePerGamePublicDTO"
                }
              }
            }
          }
        },
        "deprecated": true
      }
    },
    "/api/offers/productFeed": {
      "get": {
        "tags": [
          "OfferPublic"
        ],
        "parameters": [
          {
            "name": "categories",
            "in": "query",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/components/schemas/Eldorado.SharedKernel.Domain.Enums.Category"
              }
            }
          },
          {
            "name": "api-version",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "swagger",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string",
              "default": "Swager request"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Eldorado.SharedOfferKernel.Domain.Models.Responses.ProductFeedDTO"
                }
              }
            }
          }
        }
      }
    },
    "/api/offers/productFeed.xml": {
      "get": {
        "tags": [
          "OfferPublic"
        ],
        "parameters": [
          {
            "name": "categories",
            "in": "query",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/components/schemas/Eldorado.SharedKernel.Domain.Enums.Category"
              }
            }
          },
          {
            "name": "api-version",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "swagger",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string",
              "default": "Swager request"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/xml": {
                "schema": {
                  "$ref": "#/components/schemas/Eldorado.SharedOfferKernel.Domain.Models.Responses.ProductFeedDTO"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Eldorado.SharedOfferKernel.Domain.Models.Responses.ProductFeedDTO"
                }
              }
            }
          }
        }
      }
    },
    "/api/offerUser/me/switchOffline": {
      "put": {
        "tags": [
          "OfferUserPrivate"
        ],
        "summary": " (Auth)",
        "parameters": [
          {
            "name": "api-version",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "swagger",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string",
              "default": "Swager request"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          }
        }
      }
    },
    "/api/offerUser/me/switchOnline": {
      "put": {
        "tags": [
          "OfferUserPrivate"
        ],
        "summary": " (Auth)",
        "parameters": [
          {
            "name": "api-version",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "swagger",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string",
              "default": "Swager request"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          }
        }
      }
    },
    "/api/predefinedOffers/me": {
      "get": {
        "tags": [
          "PredefinedOfferPrivate"
        ],
        "summary": " (Auth)",
        "parameters": [
          {
            "name": "offerState",
            "in": "query",
            "schema": {
              "$ref": "#/components/schemas/Eldorado.SharedKernel.Domain.Enums.OfferState"
            }
          },
          {
            "name": "gameId",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "category",
            "in": "query",
            "schema": {
              "$ref": "#/components/schemas/Eldorado.SharedKernel.Domain.Enums.Category"
            }
          },
          {
            "name": "offerAttributeIdsCsv",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "tradeEnvironmentId",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "tradeEnvironmentValue0",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "tradeEnvironmentValue1",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "tradeEnvironmentValue2",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "queryAttributes",
            "in": "query",
            "schema": {
              "type": "object",
              "additionalProperties": {
                "type": "string"
              }
            }
          },
          {
            "name": "pageIndex",
            "in": "query",
            "schema": {
              "maximum": 1000,
              "minimum": 1,
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "pageSize",
            "in": "query",
            "schema": {
              "maximum": 50,
              "minimum": 1,
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "api-version",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "swagger",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string",
              "default": "Swager request"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Eldorado.SharedKernel.Domain.Models.IndexBasedPagedResult`1[[Eldorado.PredefinedOfferManagement.Domain.Models.Responses.PredefinedOfferPrivateViewDTO, Eldorado.PredefinedOfferManagement.Domain, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null]]"
                }
              }
            }
          }
        }
      }
    },
    "/api/predefinedOffers": {
      "post": {
        "tags": [
          "PredefinedOfferPrivate"
        ],
        "summary": " (Auth)",
        "parameters": [
          {
            "name": "api-version",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "swagger",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string",
              "default": "Swager request"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json-patch+json": {
              "schema": {
                "$ref": "#/components/schemas/Eldorado.PredefinedOfferManagement.Domain.Models.Requests.PredefinedOfferPrivateDTO"
              }
            },
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/Eldorado.PredefinedOfferManagement.Domain.Models.Requests.PredefinedOfferPrivateDTO"
              }
            },
            "text/json": {
              "schema": {
                "$ref": "#/components/schemas/Eldorado.PredefinedOfferManagement.Domain.Models.Requests.PredefinedOfferPrivateDTO"
              }
            },
            "application/*+json": {
              "schema": {
                "$ref": "#/components/schemas/Eldorado.PredefinedOfferManagement.Domain.Models.Requests.PredefinedOfferPrivateDTO"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Created",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Eldorado.PredefinedOfferManagement.Domain.Models.Responses.OfferCreationCountsAndOfferPrivateDTO"
                }
              }
            }
          }
        }
      }
    },
    "/api/predefinedOffers/bulkUploadWeb": {
      "post": {
        "tags": [
          "PredefinedOfferPrivate"
        ],
        "summary": " (Auth)",
        "parameters": [
          {
            "name": "api-version",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "swagger",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string",
              "default": "Swager request"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json-patch+json": {
              "schema": {
                "type": "array",
                "items": {
                  "$ref": "#/components/schemas/Eldorado.PredefinedOfferManagement.Domain.Models.Requests.PredefinedOfferPrivateDTO"
                }
              }
            },
            "application/json": {
              "schema": {
                "type": "array",
                "items": {
                  "$ref": "#/components/schemas/Eldorado.PredefinedOfferManagement.Domain.Models.Requests.PredefinedOfferPrivateDTO"
                }
              }
            },
            "text/json": {
              "schema": {
                "type": "array",
                "items": {
                  "$ref": "#/components/schemas/Eldorado.PredefinedOfferManagement.Domain.Models.Requests.PredefinedOfferPrivateDTO"
                }
              }
            },
            "application/*+json": {
              "schema": {
                "type": "array",
                "items": {
                  "$ref": "#/components/schemas/Eldorado.PredefinedOfferManagement.Domain.Models.Requests.PredefinedOfferPrivateDTO"
                }
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Created",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Eldorado.PredefinedOfferManagement.Domain.Models.Responses.OfferCreationCountsAndOfferPrivateDTO"
                }
              }
            }
          }
        }
      }
    },
    "/api/predefinedOffers/bulkUploadCsv": {
      "post": {
        "tags": [
          "PredefinedOfferPrivate"
        ],
        "summary": " (Auth)",
        "parameters": [
          {
            "name": "api-version",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "swagger",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string",
              "default": "Swager request"
            }
          }
        ],
        "requestBody": {
          "content": {
            "multipart/form-data": {
              "schema": {
                "type": "object",
                "properties": {
                  "contentType": {
                    "type": "string"
                  },
                  "contentDisposition": {
                    "type": "string"
                  },
                  "headers": {
                    "type": "object",
                    "additionalProperties": {
                      "type": "array",
                      "items": {
                        "type": "string"
                      }
                    }
                  },
                  "length": {
                    "type": "integer",
                    "format": "int64"
                  },
                  "name": {
                    "type": "string"
                  },
                  "fileName": {
                    "type": "string"
                  }
                }
              },
              "encoding": {
                "contentType": {
                  "style": "form"
                },
                "contentDisposition": {
                  "style": "form"
                },
                "headers": {
                  "style": "form"
                },
                "length": {
                  "style": "form"
                },
                "name": {
                  "style": "form"
                },
                "fileName": {
                  "style": "form"
                }
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Created",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Eldorado.PredefinedOfferManagement.Domain.Models.Responses.OfferCreationCountsAndOfferPrivateDTO"
                }
              }
            }
          }
        }
      }
    },
    "/api/predefinedOffers/csvDownload": {
      "get": {
        "tags": [
          "PredefinedOfferPrivate"
        ],
        "summary": " (Auth)",
        "parameters": [
          {
            "name": "offerState",
            "in": "query",
            "schema": {
              "$ref": "#/components/schemas/Eldorado.SharedKernel.Domain.Enums.OfferState"
            }
          },
          {
            "name": "gameId",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "category",
            "in": "query",
            "schema": {
              "$ref": "#/components/schemas/Eldorado.SharedKernel.Domain.Enums.Category"
            }
          },
          {
            "name": "offerAttributeIdsCsv",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "tradeEnvironmentId",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "tradeEnvironmentValue0",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "tradeEnvironmentValue1",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "tradeEnvironmentValue2",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "queryAttributes",
            "in": "query",
            "schema": {
              "type": "object",
              "additionalProperties": {
                "type": "string"
              }
            }
          },
          {
            "name": "fromDate",
            "in": "query",
            "schema": {
              "type": "string",
              "format": "date-time"
            }
          },
          {
            "name": "untilDate",
            "in": "query",
            "schema": {
              "type": "string",
              "format": "date-time"
            }
          },
          {
            "name": "api-version",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "swagger",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string",
              "default": "Swager request"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          }
        }
      }
    },
    "/api/predefinedOffers/{id}/details": {
      "put": {
        "tags": [
          "PredefinedOfferPrivate"
        ],
        "summary": " (Auth)",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          },
          {
            "name": "api-version",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "swagger",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string",
              "default": "Swager request"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json-patch+json": {
              "schema": {
                "$ref": "#/components/schemas/Eldorado.PredefinedOfferManagement.Domain.Models.Requests.PredefinedOfferPrivateDTO"
              }
            },
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/Eldorado.PredefinedOfferManagement.Domain.Models.Requests.PredefinedOfferPrivateDTO"
              }
            },
            "text/json": {
              "schema": {
                "$ref": "#/components/schemas/Eldorado.PredefinedOfferManagement.Domain.Models.Requests.PredefinedOfferPrivateDTO"
              }
            },
            "application/*+json": {
              "schema": {
                "$ref": "#/components/schemas/Eldorado.PredefinedOfferManagement.Domain.Models.Requests.PredefinedOfferPrivateDTO"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Eldorado.PredefinedOfferManagement.Domain.Models.Responses.PredefinedOfferPrivateViewDTO"
                }
              }
            }
          }
        }
      }
    },
    "/api/predefinedOffers/{id}/private": {
      "get": {
        "tags": [
          "PredefinedOfferPrivate"
        ],
        "summary": " (Auth)",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          },
          {
            "name": "api-version",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "swagger",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string",
              "default": "Swager request"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Eldorado.PredefinedOfferManagement.Domain.ViewModels.PredefinedOfferPrivateViewModel"
                }
              }
            }
          },
          "404": {
            "description": "Not Found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails"
                }
              }
            }
          }
        }
      }
    },
    "/api/predefinedOffers/game": {
      "get": {
        "tags": [
          "PredefinedOfferPublic"
        ],
        "parameters": [
          {
            "name": "gameId",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "category",
            "in": "query",
            "schema": {
              "$ref": "#/components/schemas/Eldorado.SharedKernel.Domain.Enums.Category"
            }
          },
          {
            "name": "offerAttributeIdsCsv",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "tradeEnvironmentId",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "tradeEnvironmentValue0",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "tradeEnvironmentValue1",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "tradeEnvironmentValue2",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "queryAttributes",
            "in": "query",
            "schema": {
              "type": "object",
              "additionalProperties": {
                "type": "string"
              }
            }
          },
          {
            "name": "pageIndex",
            "in": "query",
            "schema": {
              "maximum": 1000,
              "minimum": 1,
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "pageSize",
            "in": "query",
            "schema": {
              "maximum": 50,
              "minimum": 1,
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "api-version",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "swagger",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string",
              "default": "Swager request"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Eldorado.SharedKernel.Domain.Models.IndexBasedPagedResult`1[[Eldorado.PredefinedOfferManagement.Domain.ViewModels.PredefinedOfferGroupPublicViewModel, Eldorado.PredefinedOfferManagement.Domain, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null]]"
                }
              }
            }
          }
        }
      }
    },
    "/api/predefinedOffers/osrsPrices": {
      "get": {
        "tags": [
          "PredefinedOfferPublic"
        ],
        "parameters": [
          {
            "name": "api-version",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "swagger",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string",
              "default": "Swager request"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Eldorado.PredefinedOfferManagement.Domain.Models.Responses.LowestOfferPricePerGamePublicDTO"
                }
              }
            }
          }
        }
      }
    },
    "/api/predefinedOffers/rs3Prices": {
      "get": {
        "tags": [
          "PredefinedOfferPublic"
        ],
        "parameters": [
          {
            "name": "api-version",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "swagger",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string",
              "default": "Swager request"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Eldorado.PredefinedOfferManagement.Domain.Models.Responses.LowestOfferPricePerGamePublicDTO"
                }
              }
            }
          }
        }
      }
    },
    "/api/predefinedOffersUser/me/{id}": {
      "delete": {
        "tags": [
          "PredefinedOfferUserPrivate"
        ],
        "summary": " (Auth)",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          },
          {
            "name": "api-version",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "swagger",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string",
              "default": "Swager request"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "No Content"
          }
        }
      }
    },
    "/api/predefinedOffersUser/me/{id}/pause": {
      "put": {
        "tags": [
          "PredefinedOfferUserPrivate"
        ],
        "summary": " (Auth)",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          },
          {
            "name": "api-version",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "swagger",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string",
              "default": "Swager request"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          }
        }
      }
    },
    "/api/predefinedOffersUser/me/{id}/resume": {
      "put": {
        "tags": [
          "PredefinedOfferUserPrivate"
        ],
        "summary": " (Auth)",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          },
          {
            "name": "api-version",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "swagger",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string",
              "default": "Swager request"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          }
        }
      }
    },
    "/api/predefinedOffersUser/me/pauseAllActive": {
      "put": {
        "tags": [
          "PredefinedOfferUserPrivate"
        ],
        "summary": " (Auth)",
        "parameters": [
          {
            "name": "gameId",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "category",
            "in": "query",
            "schema": {
              "$ref": "#/components/schemas/Eldorado.SharedKernel.Domain.Enums.Category"
            }
          },
          {
            "name": "offerAttributeIdsCsv",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "tradeEnvironmentId",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "tradeEnvironmentValue0",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "tradeEnvironmentValue1",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "tradeEnvironmentValue2",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "queryAttributes",
            "in": "query",
            "schema": {
              "type": "object",
              "additionalProperties": {
                "type": "string"
              }
            }
          },
          {
            "name": "api-version",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "swagger",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string",
              "default": "Swager request"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Eldorado.SharedStockOfferKernel.Domain.Models.Responses.OfferBulkActionOffersCountPrivateDTO"
                }
              }
            }
          }
        }
      }
    },
    "/api/predefinedOffersUser/me/resumeLatestPaused/{gameId}": {
      "put": {
        "tags": [
          "PredefinedOfferUserPrivate"
        ],
        "summary": " (Auth)",
        "parameters": [
          {
            "name": "gameId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "gameId",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "category",
            "in": "query",
            "schema": {
              "$ref": "#/components/schemas/Eldorado.SharedKernel.Domain.Enums.Category"
            }
          },
          {
            "name": "offerAttributeIdsCsv",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "tradeEnvironmentId",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "tradeEnvironmentValue0",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "tradeEnvironmentValue1",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "tradeEnvironmentValue2",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "queryAttributes",
            "in": "query",
            "schema": {
              "type": "object",
              "additionalProperties": {
                "type": "string"
              }
            }
          },
          {
            "name": "api-version",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "swagger",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string",
              "default": "Swager request"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Eldorado.SharedStockOfferKernel.Domain.Models.Responses.OfferBulkActionOffersCountPrivateDTO"
                }
              }
            }
          }
        }
      }
    },
    "/api/predefinedOffersUser/me/deleteAll": {
      "delete": {
        "tags": [
          "PredefinedOfferUserPrivate"
        ],
        "summary": " (Auth)",
        "parameters": [
          {
            "name": "offerState",
            "in": "query",
            "schema": {
              "$ref": "#/components/schemas/Eldorado.SharedKernel.Domain.Enums.OfferState"
            }
          },
          {
            "name": "gameId",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "category",
            "in": "query",
            "schema": {
              "$ref": "#/components/schemas/Eldorado.SharedKernel.Domain.Enums.Category"
            }
          },
          {
            "name": "offerAttributeIdsCsv",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "tradeEnvironmentId",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "tradeEnvironmentValue0",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "tradeEnvironmentValue1",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "tradeEnvironmentValue2",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "queryAttributes",
            "in": "query",
            "schema": {
              "type": "object",
              "additionalProperties": {
                "type": "string"
              }
            }
          },
          {
            "name": "api-version",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "swagger",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string",
              "default": "Swager request"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "No Content"
          }
        }
      }
    },
    "/api/predefinedOffersUser/me/changeDeliveryTimeForAll": {
      "put": {
        "tags": [
          "PredefinedOfferUserPrivate"
        ],
        "summary": " (Auth)",
        "parameters": [
          {
            "name": "deliveryTime",
            "in": "query",
            "required": true,
            "schema": {
              "$ref": "#/components/schemas/Eldorado.SharedKernel.Domain.Enums.GuaranteedDeliveryTime"
            }
          },
          {
            "name": "offerState",
            "in": "query",
            "schema": {
              "$ref": "#/components/schemas/Eldorado.SharedKernel.Domain.Enums.OfferState"
            }
          },
          {
            "name": "gameId",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "category",
            "in": "query",
            "schema": {
              "$ref": "#/components/schemas/Eldorado.SharedKernel.Domain.Enums.Category"
            }
          },
          {
            "name": "offerAttributeIdsCsv",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "tradeEnvironmentId",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "tradeEnvironmentValue0",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "tradeEnvironmentValue1",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "tradeEnvironmentValue2",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "queryAttributes",
            "in": "query",
            "schema": {
              "type": "object",
              "additionalProperties": {
                "type": "string"
              }
            }
          },
          {
            "name": "api-version",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "swagger",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string",
              "default": "Swager request"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Eldorado.SharedStockOfferKernel.Domain.Models.Responses.OfferBulkActionOffersCountPrivateDTO"
                }
              }
            }
          }
        }
      }
    },
    "/api/predefinedOffersUser/me/{id}/changePrice": {
      "put": {
        "tags": [
          "PredefinedOfferUserPrivate"
        ],
        "summary": " (Auth)",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          },
          {
            "name": "api-version",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "swagger",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string",
              "default": "Swager request"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json-patch+json": {
              "schema": {
                "$ref": "#/components/schemas/Eldorado.SharedKernel.Domain.Models.DTO.MoneyBaseDTO"
              }
            },
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/Eldorado.SharedKernel.Domain.Models.DTO.MoneyBaseDTO"
              }
            },
            "text/json": {
              "schema": {
                "$ref": "#/components/schemas/Eldorado.SharedKernel.Domain.Models.DTO.MoneyBaseDTO"
              }
            },
            "application/*+json": {
              "schema": {
                "$ref": "#/components/schemas/Eldorado.SharedKernel.Domain.Models.DTO.MoneyBaseDTO"
              }
            },
            "application/xml": {
              "schema": {
                "$ref": "#/components/schemas/Eldorado.SharedKernel.Domain.Models.DTO.MoneyBaseDTO"
              }
            },
            "text/xml": {
              "schema": {
                "$ref": "#/components/schemas/Eldorado.SharedKernel.Domain.Models.DTO.MoneyBaseDTO"
              }
            },
            "application/*+xml": {
              "schema": {
                "$ref": "#/components/schemas/Eldorado.SharedKernel.Domain.Models.DTO.MoneyBaseDTO"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Eldorado.SharedKernel.Domain.Models.DTO.MoneyBaseDTO"
                }
              }
            }
          }
        }
      }
    },
    "/api/predefinedOffersUser/me/changePriceForAll/{gameId}": {
      "put": {
        "tags": [
          "PredefinedOfferUserPrivate"
        ],
        "summary": " (Auth)",
        "parameters": [
          {
            "name": "gameId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "amount",
            "in": "query",
            "schema": {
              "type": "number",
              "format": "double"
            }
          },
          {
            "name": "currency",
            "in": "query",
            "schema": {
              "$ref": "#/components/schemas/Eldorado.SharedKernel.Domain.Models.Monetary.Currency"
            }
          },
          {
            "name": "offerState",
            "in": "query",
            "schema": {
              "$ref": "#/components/schemas/Eldorado.SharedKernel.Domain.Enums.OfferState"
            }
          },
          {
            "name": "gameId",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "category",
            "in": "query",
            "schema": {
              "$ref": "#/components/schemas/Eldorado.SharedKernel.Domain.Enums.Category"
            }
          },
          {
            "name": "offerAttributeIdsCsv",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "tradeEnvironmentId",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "tradeEnvironmentValue0",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "tradeEnvironmentValue1",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "tradeEnvironmentValue2",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "queryAttributes",
            "in": "query",
            "schema": {
              "type": "object",
              "additionalProperties": {
                "type": "string"
              }
            }
          },
          {
            "name": "api-version",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "swagger",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string",
              "default": "Swager request"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Eldorado.SharedStockOfferKernel.Domain.Models.Responses.OfferBulkActionOffersCountPrivateDTO"
                }
              }
            }
          }
        }
      }
    },
    "/api/notifications/me": {
      "get": {
        "tags": [
          "UserNotificationsPrivate"
        ],
        "summary": " (Auth)",
        "parameters": [
          {
            "name": "notificationReadStatuses",
            "in": "query",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/components/schemas/Eldorado.NotificationManagement.Domain.Enums.NotificationReadStatus"
              }
            }
          },
          {
            "name": "cursorValue",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "cursorColumn",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "pageDirection",
            "in": "query",
            "schema": {
              "$ref": "#/components/schemas/Eldorado.SharedKernel.Domain.Enums.PageDirection"
            }
          },
          {
            "name": "pageSize",
            "in": "query",
            "schema": {
              "maximum": 50,
              "minimum": 1,
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "api-version",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
[...]
