{
  "openapi": "3.0.3",
  "info": {
    "title": "API ES Region",
    "version": "1.0.0",
    "contact": {},
    "x-jentic-source-url": "https://api.swaggerhub.com/apis/Suitech/api-es-region/1.0.0"
  },
  "servers": [
    {
      "url": "https://api.businesscentral.dynamics.com"
    }
  ],
  "paths": {
    "/v2.0/{tenant}/{environment}/api/suitech/suiAPI/v1.0/companies({companyGUID})/items": {
      "get": {
        "tags": [
          "Items"
        ],
        "summary": "Items",
        "description": "Items",
        "operationId": "items",
        "responses": {
          "200": {
            "description": ""
          }
        }
      },
      "parameters": [
        {
          "name": "tenant",
          "in": "path",
          "required": true,
          "schema": {
            "type": "string"
          }
        },
        {
          "name": "environment",
          "in": "path",
          "required": true,
          "schema": {
            "type": "string"
          }
        },
        {
          "name": "companyGUID",
          "in": "path",
          "required": true,
          "schema": {
            "type": "string"
          }
        }
      ]
    },
    "/v2.0/{tenant}/{environment}/api/suitech/suiAPI/v1.0/companies({companyGUID})/crossReferences": {
      "get": {
        "tags": [
          "Items"
        ],
        "summary": "Cross References",
        "description": "Cross References",
        "operationId": "crossReferences",
        "responses": {
          "200": {
            "description": ""
          }
        }
      },
      "parameters": [
        {
          "name": "tenant",
          "in": "path",
          "required": true,
          "schema": {
            "type": "string"
          }
        },
        {
          "name": "environment",
          "in": "path",
          "required": true,
          "schema": {
            "type": "string"
          }
        },
        {
          "name": "companyGUID",
          "in": "path",
          "required": true,
          "schema": {
            "type": "string"
          }
        }
      ]
    },
    "/v2.0/{tenant}/{environment}/api/suitech/suiAPI/v1.0/companies({companyGUID})/bomComponents": {
      "get": {
        "tags": [
          "Items"
        ],
        "summary": "BOM Components",
        "description": "BOM Components",
        "operationId": "bomComponents",
        "responses": {
          "200": {
            "description": ""
          }
        }
      },
      "parameters": [
        {
          "name": "tenant",
          "in": "path",
          "required": true,
          "schema": {
            "type": "string"
          }
        },
        {
          "name": "environment",
          "in": "path",
          "required": true,
          "schema": {
            "type": "string"
          }
        },
        {
          "name": "companyGUID",
          "in": "path",
          "required": true,
          "schema": {
            "type": "string"
          }
        }
      ]
    },
    "/v2.0/{tenant}/{environment}/api/suitech/suiAPI/v1.0/companies({companyGUID})/purchaseOrders": {
      "get": {
        "tags": [
          "Purchases"
        ],
        "summary": "Purchase Orders",
        "description": "Purchase Orders",
        "operationId": "purchaseOrders",
        "responses": {
          "200": {
            "description": ""
          }
        },
        "security": [
          {
            "oauth2": [
              "https://api.businesscentral.dynamics.com/.default"
            ]
          }
        ]
      },
      "parameters": [
        {
          "name": "tenant",
          "in": "path",
          "required": true,
          "schema": {
            "type": "string"
          }
        },
        {
          "name": "environment",
          "in": "path",
          "required": true,
          "schema": {
            "type": "string"
          }
        },
        {
          "name": "companyGUID",
          "in": "path",
          "required": true,
          "schema": {
            "type": "string"
          }
        }
      ]
    },
    "/v2.0/{tenant}/{environment}/api/suitech/suiAPI/v1.0/companies({companyGUID})/vendors": {
      "get": {
        "tags": [
          "Purchases"
        ],
        "summary": "Vendors",
        "description": "Vendors",
        "operationId": "vendors",
        "parameters": [
          {
            "name": "number",
            "in": "query",
            "schema": {
              "type": "string",
              "example": "P00001"
            }
          }
        ],
        "responses": {
          "200": {
            "description": ""
          }
        },
        "security": [
          {
            "oauth2": [
              "https://api.businesscentral.dynamics.com/.default"
            ]
          }
        ]
      },
      "parameters": [
        {
          "name": "tenant",
          "in": "path",
          "required": true,
          "schema": {
            "type": "string"
          }
        },
        {
          "name": "environment",
          "in": "path",
          "required": true,
          "schema": {
            "type": "string"
          }
        },
        {
          "name": "companyGUID",
          "in": "path",
          "required": true,
          "schema": {
            "type": "string"
          }
        }
      ]
    },
    "/v2.0/{tenant}/{environment}/api/suitech/suiAPI/v1.0/companies({companyGUID})/dimensiones": {
      "get": {
        "tags": [
          "Purchases"
        ],
        "summary": "dimensiones",
        "description": "dimensiones",
        "operationId": "dimensiones",
        "responses": {
          "200": {
            "description": ""
          }
        },
        "security": [
          {
            "oauth2": [
              "https://api.businesscentral.dynamics.com/.default"
            ]
          }
        ]
      },
      "parameters": [
        {
          "name": "tenant",
          "in": "path",
          "required": true,
          "schema": {
            "type": "string"
          }
        },
        {
          "name": "environment",
          "in": "path",
          "required": true,
          "schema": {
            "type": "string"
          }
        },
        {
          "name": "companyGUID",
          "in": "path",
          "required": true,
          "schema": {
            "type": "string"
          }
        }
      ]
    },
    "/v2.0/{tenant}/{environment}/api/suitech/API/v1.0/companies({companyGUID})/suisiicustomers": {
      "get": {
        "tags": [
          "Purchases"
        ],
        "summary": "suisiicustomers",
        "description": "suisiicustomers",
        "operationId": "suisiicustomers",
        "responses": {
          "200": {
            "description": ""
          }
        },
        "security": [
          {
            "oauth2": [
              "https://api.businesscentral.dynamics.com/.default"
            ]
          }
        ]
      },
      "parameters": [
        {
          "name": "tenant",
          "in": "path",
          "required": true,
          "schema": {
            "type": "string"
          }
        },
        {
          "name": "environment",
          "in": "path",
          "required": true,
          "schema": {
            "type": "string"
          }
        },
        {
          "name": "companyGUID",
          "in": "path",
          "required": true,
          "schema": {
            "type": "string"
          }
        }
      ]
    },
    "/v2.0/{tenant}/{environment}/api/suitech/suiAPI/v1.0/companies({companyGUID})/itemcategories": {
      "get": {
        "tags": [
          "Purchases"
        ],
        "summary": "itemcategories",
        "description": "itemcategories",
        "operationId": "itemcategories",
        "responses": {
          "200": {
            "description": ""
          }
        },
        "security": [
          {
            "oauth2": [
              "https://api.businesscentral.dynamics.com/.default"
            ]
          }
        ]
      },
      "parameters": [
        {
          "name": "tenant",
          "in": "path",
          "required": true,
          "schema": {
            "type": "string"
          }
        },
        {
          "name": "environment",
          "in": "path",
          "required": true,
          "schema": {
            "type": "string"
          }
        },
        {
          "name": "companyGUID",
          "in": "path",
          "required": true,
          "schema": {
            "type": "string"
          }
        }
      ]
    },
    "/v2.0/{tenant}/{environment}/api/suitech/suiAPI/v1.0/companies({companyGUID})/itemJournalLines": {
      "get": {
        "tags": [
          "Purchases"
        ],
        "summary": "itemJournalLines",
        "description": "itemJournalLines",
        "operationId": "itemjournallines",
        "responses": {
          "200": {
            "description": ""
          }
        },
        "security": [
          {
            "oauth2": [
              "https://api.businesscentral.dynamics.com/.default"
            ]
          }
        ]
      },
      "post": {
        "tags": [
          "Purchases"
        ],
        "summary": "itemJournalLines",
        "description": "itemJournalLines",
        "operationId": "itemjournallines1",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "description": {
                    "type": "string",
                    "example": "Oliver Conti Blanc 2010"
                  },
                  "documentNo": {
                    "type": "string",
                    "example": "INB 12 25"
                  },
                  "entryType": {
                    "type": "string",
                    "example": "Positive Adjmt."
                  },
                  "fromAPI": {
                    "type": "boolean",
                    "example": true
                  },
                  "itemNo": {
                    "type": "string",
                    "example": "000001"
                  },
                  "journalBatchName": {
                    "type": "string",
                    "example": "TSPOONLAB"
                  },
                  "journalTemplateName": {
                    "type": "string",
                    "example": "PRODUCTO"
                  },
                  "locationCode": {
                    "type": "string",
                    "example": "REST NORMA"
                  },
                  "postingDate": {
                    "type": "string",
                    "example": "2025-10-28"
                  },
                  "quantity": {
                    "type": "number",
                    "example": 1
                  },
                  "shortcutDimension1Code": {
                    "type": "string",
                    "example": ""
                  },
                  "shortcutDimension2Code": {
                    "type": "string",
                    "example": ""
                  },
                  "unitAmount": {
                    "type": "number",
                    "example": 5
                  },
                  "unitCost": {
                    "type": "number",
                    "example": 5
                  },
                  "unitOfMeasureCode": {
                    "type": "string",
                    "example": "U"
                  }
                }
              },
              "examples": {
                "itemJournalLines": {
                  "value": {
                    "description": "Oliver Conti Blanc 2010",
                    "documentNo": "INB 12 25",
                    "entryType": "Positive Adjmt.",
                    "fromAPI": true,
                    "itemNo": "000001",
                    "journalBatchName": "TSPOONLAB",
                    "journalTemplateName": "PRODUCTO",
                    "locationCode": "REST NORMA",
                    "postingDate": "2025-10-28",
                    "quantity": 1,
                    "shortcutDimension1Code": "",
                    "shortcutDimension2Code": "",
                    "unitAmount": 5,
                    "unitCost": 5,
                    "unitOfMeasureCode": "U"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": ""
          }
        },
        "security": [
          {
            "oauth2": [
              "https://api.businesscentral.dynamics.com/.default"
            ]
          }
        ]
      },
      "parameters": [
        {
          "name": "tenant",
          "in": "path",
          "required": true,
          "schema": {
            "type": "string"
          }
        },
        {
          "name": "environment",
          "in": "path",
          "required": true,
          "schema": {
            "type": "string"
          }
        },
        {
          "name": "companyGUID",
          "in": "path",
          "required": true,
          "schema": {
            "type": "string"
          }
        }
      ]
    },
    "/v2.0/{tenant}/{environment}/api/suitech/suiAPI/v1.0/companies({companyGUID})/itemJournalLines(54e178b9-9acf-f011-8542-6045bd9dd09d)/Microsoft.NAV.post": {
      "post": {
        "tags": [
          "Purchases"
        ],
        "summary": "itemJournalLines Post",
        "description": "itemJournalLines Post",
        "operationId": "itemjournallinesPost",
        "responses": {
          "200": {
            "description": ""
          }
        },
        "security": [
          {
            "oauth2": [
              "https://api.businesscentral.dynamics.com/.default"
            ]
          }
        ]
      },
      "parameters": [
        {
          "name": "tenant",
          "in": "path",
          "required": true,
          "schema": {
            "type": "string"
          }
        },
        {
          "name": "environment",
          "in": "path",
          "required": true,
          "schema": {
            "type": "string"
          }
        },
        {
          "name": "companyGUID",
          "in": "path",
          "required": true,
          "schema": {
            "type": "string"
          }
        }
      ]
    },
    "/v2.0/{tenant}/{environment}/api/suitech/suiAPI/v1.0/companies({companyGUID})/itemReferenceEntries": {
      "get": {
        "tags": [
          "Purchases"
        ],
        "summary": "itemReferenceEntries",
        "description": "itemReferenceEntries",
        "operationId": "itemreferenceentries",
        "responses": {
          "200": {
            "description": ""
          }
        },
        "security": [
          {
            "oauth2": [
              "https://api.businesscentral.dynamics.com/.default"
            ]
          }
        ]
      },
      "parameters": [
        {
          "name": "tenant",
          "in": "path",
          "required": true,
          "schema": {
            "type": "string"
          }
        },
        {
          "name": "environment",
          "in": "path",
          "required": true,
          "schema": {
            "type": "string"
          }
        },
        {
          "name": "companyGUID",
          "in": "path",
          "required": true,
          "schema": {
            "type": "string"
          }
        }
      ]
    },
    "/v2.0/{tenant}/{environment}/api/suitech/suiAPI/v1.0/companies({companyGUID})/locations": {
      "get": {
        "tags": [
          "Purchases"
        ],
        "summary": "locations",
        "description": "locations",
        "operationId": "locations",
        "responses": {
          "200": {
            "description": ""
          }
        },
        "security": [
          {
            "oauth2": [
              "https://api.businesscentral.dynamics.com/.default"
            ]
          }
        ]
      },
      "parameters": [
        {
          "name": "tenant",
          "in": "path",
          "required": true,
          "schema": {
            "type": "string"
          }
        },
        {
          "name": "environment",
          "in": "path",
          "required": true,
          "schema": {
            "type": "string"
          }
        },
        {
          "name": "companyGUID",
          "in": "path",
          "required": true,
          "schema": {
            "type": "string"
          }
        }
      ]
    },
    "/v2.0/{tenant}/{environment}/api/suitech/suiAPI/v1.0/companies({companyGUID})/priceListLines": {
      "get": {
        "tags": [
          "Purchases"
        ],
        "summary": "priceListLines",
        "description": "priceListLines",
        "operationId": "pricelistlines",
        "responses": {
          "200": {
            "description": ""
          }
        },
        "security": [
          {
            "oauth2": [
              "https://api.businesscentral.dynamics.com/.default"
            ]
          }
        ]
      },
      "parameters": [
        {
          "name": "tenant",
          "in": "path",
          "required": true,
          "schema": {
            "type": "string"
          }
        },
        {
          "name": "environment",
          "in": "path",
          "required": true,
          "schema": {
            "type": "string"
          }
        },
        {
          "name": "companyGUID",
          "in": "path",
          "required": true,
          "schema": {
            "type": "string"
          }
        }
      ]
    },
    "/v2.0/{tenant}/{environment}/api/suitech/suiAPI/v1.0/companies({companyGUID})/unitsofmeasures": {
      "get": {
        "tags": [
          "Purchases"
        ],
        "summary": "unitofmeasures",
        "description": "unitofmeasures",
        "operationId": "unitofmeasures",
        "responses": {
          "200": {
            "description": ""
          }
        },
        "security": [
          {
            "oauth2": [
              "https://api.businesscentral.dynamics.com/.default"
            ]
          }
        ]
      },
      "parameters": [
        {
          "name": "tenant",
          "in": "path",
          "required": true,
          "schema": {
            "type": "string"
          }
        },
        {
          "name": "environment",
          "in": "path",
          "required": true,
          "schema": {
            "type": "string"
          }
        },
        {
          "name": "companyGUID",
          "in": "path",
          "required": true,
          "schema": {
            "type": "string"
          }
        }
      ]
    }
  },
  "components": {
    "securitySchemes": {
      "oauth2": {
        "type": "oauth2",
        "flows": {
          "authorizationCode": {
            "authorizationUrl": "",
            "tokenUrl": "https://login.microsoftonline.com/{tenant}/oauth2/v2.0/token",
            "scopes": {
              "https://api.businesscentral.dynamics.com/.default": "https://api.businesscentral.dynamics.com/.default"
            }
          }
        }
      }
    }
  },
  "security": [
    {
      "oauth2": [
        "https://api.businesscentral.dynamics.com/.default"
      ]
    }
  ],
  "tags": [
    {
      "name": "Items"
    },
    {
      "name": "Purchases"
    }
  ]
}