{
  "openapi": "3.0.1",
  "info": {
    "title": "Who Hosts This API",
    "description": "Discover the hosting provider for any web site",
    "contact": {
      "name": "Who Hosts This",
      "url": "https://www.who-hosts-this.com/Contact"
    },
    "version": "0.0.1",
    "x-apisguru-categories": [
      "hosting",
      "iot",
      "tools"
    ],
    "x-logo": {
      "backgroundColor": "#2c3e50",
      "url": "https://api.apis.guru/v2/cache/logo/https_www.who-hosts-this.com_data__uploaded_image_logo-who-hosts-padded.png"
    },
    "x-origin": [
      {
        "format": "swagger",
        "url": "https://www.who-hosts-this.com/APISpecification",
        "version": "2.0"
      }
    ],
    "x-providerName": "who-hosts-this.com",
    "x-jentic-source-url": "https://api.apis.guru/v2/specs/who-hosts-this.com/0.0.1/swagger.json"
  },
  "externalDocs": {
    "url": "https://www.who-hosts-this.com/Documentation"
  },
  "servers": [
    {
      "url": "https://www.who-hosts-this.com/APIEndpoint"
    }
  ],
  "security": [
    {
      "QueryKey": []
    }
  ],
  "paths": {
    "/Detect": {
      "get": {
        "tags": [
          "hosting"
        ],
        "summary": "Discover the hosting provider for a web site",
        "parameters": [
          {
            "name": "url",
            "in": "query",
            "description": "The url of the page to check",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Status of the detection and list of any found hosting providers",
            "content": {}
          }
        },
        "description": "Discover the hosting provider for a web site",
        "operationId": "get_Detect"
      }
    },
    "/Status": {
      "get": {
        "summary": "View usage details for the current billing period",
        "responses": {
          "200": {
            "description": "Status of the detection and list of any found hosting providers",
            "content": {}
          }
        },
        "description": "View usage details for the current billing period",
        "operationId": "get_Status",
        "tags": [
          "Status"
        ]
      }
    }
  },
  "components": {
    "securitySchemes": {
      "QueryKey": {
        "type": "apiKey",
        "description": "Simple api key authentication. API Keys available at https://www.who-hosts-this.com/API",
        "name": "key",
        "in": "query"
      }
    }
  },
  "x-original-swagger-version": "2.0",
  "tags": [
    {
      "name": "Status"
    },
    {
      "name": "hosting"
    }
  ]
}
