{
  "openapi": "3.0.3",
  "info": {
    "title": "Logo.dev Image CDN API",
    "version": "1.0.0",
    "description": "Logo.dev is a comprehensive logo API that fetches company logos by domain, stock ticker, crypto symbol, ISIN, or brand name. Simple image CDN with publishable API key authentication.",
    "x-jentic-source-url": "https://logo.dev/docs",
    "contact": {
      "name": "API Support"
    }
  },
  "servers": [
    {
      "url": "https://img.logo.dev"
    }
  ],
  "paths": {
    "/{domain}": {
      "get": {
        "operationId": "get_logo_by_domain",
        "summary": "Get company logo by domain",
        "description": "Fetch a company's logo image by providing their domain name.",
        "tags": [
          "Image CDN"
        ],
        "parameters": [
          {
            "name": "domain",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Company domain (e.g. nike.com)"
          },
          {
            "name": "token",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Publishable API key"
          },
          {
            "name": "size",
            "in": "query",
            "schema": {
              "type": "integer",
              "enum": [
                32,
                64,
                128,
                256
              ]
            },
            "description": "Logo size in pixels"
          },
          {
            "name": "format",
            "in": "query",
            "schema": {
              "type": "string",
              "enum": [
                "png",
                "jpg",
                "webp"
              ]
            },
            "description": "Image format"
          },
          {
            "name": "retina",
            "in": "query",
            "schema": {
              "type": "boolean"
            },
            "description": "Return 2x resolution for retina displays"
          },
          {
            "name": "greyscale",
            "in": "query",
            "schema": {
              "type": "boolean"
            },
            "description": "Return greyscale version"
          },
          {
            "name": "fallback",
            "in": "query",
            "schema": {
              "type": "boolean"
            },
            "description": "Return a fallback placeholder if no logo found"
          }
        ],
        "responses": {
          "200": {
            "description": "Logo image",
            "content": {
              "image/png": {
                "schema": {
                  "type": "string",
                  "format": "binary"
                }
              },
              "image/jpeg": {
                "schema": {
                  "type": "string",
                  "format": "binary"
                }
              },
              "image/webp": {
                "schema": {
                  "type": "string",
                  "format": "binary"
                }
              }
            }
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized - invalid API token"
          },
          "404": {
            "description": "Logo not found"
          }
        }
      }
    },
    "/ticker/{symbol}": {
      "get": {
        "operationId": "get_logo_by_ticker",
        "summary": "Get company logo by stock ticker",
        "description": "Fetch a company's logo by stock ticker symbol. Supports NYSE, NASDAQ, and global exchanges.",
        "tags": [
          "Image CDN"
        ],
        "parameters": [
          {
            "name": "symbol",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Stock ticker symbol (e.g. AAPL)"
          },
          {
            "name": "token",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "size",
            "in": "query",
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "format",
            "in": "query",
            "schema": {
              "type": "string",
              "enum": [
                "png",
                "jpg",
                "webp"
              ]
            }
          },
          {
            "name": "retina",
            "in": "query",
            "schema": {
              "type": "boolean"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Logo image",
            "content": {
              "image/png": {
                "schema": {
                  "type": "string",
                  "format": "binary"
                }
              }
            }
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          },
          "404": {
            "description": "Logo not found"
          }
        }
      }
    },
    "/crypto/{symbol}": {
      "get": {
        "operationId": "get_logo_by_crypto",
        "summary": "Get cryptocurrency logo by symbol",
        "description": "Fetch cryptocurrency logo by its symbol (e.g. BTC, ETH).",
        "tags": [
          "Image CDN"
        ],
        "parameters": [
          {
            "name": "symbol",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Crypto symbol (e.g. BTC)"
          },
          {
            "name": "token",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "size",
            "in": "query",
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "format",
            "in": "query",
            "schema": {
              "type": "string",
              "enum": [
                "png",
                "jpg",
                "webp"
              ]
            }
          },
          {
            "name": "retina",
            "in": "query",
            "schema": {
              "type": "boolean"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Logo image",
            "content": {
              "image/png": {
                "schema": {
                  "type": "string",
                  "format": "binary"
                }
              }
            }
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          },
          "404": {
            "description": "Logo not found"
          }
        }
      }
    },
    "/isin/{isin}": {
      "get": {
        "operationId": "get_logo_by_isin",
        "summary": "Get company logo by ISIN",
        "description": "Fetch company logo by International Securities Identification Number.",
        "tags": [
          "Image CDN"
        ],
        "parameters": [
          {
            "name": "isin",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "ISIN code (e.g. US0378331005)"
          },
          {
            "name": "token",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "size",
            "in": "query",
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "format",
            "in": "query",
            "schema": {
              "type": "string",
              "enum": [
                "png",
                "jpg",
                "webp"
              ]
            }
          },
          {
            "name": "retina",
            "in": "query",
            "schema": {
              "type": "boolean"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Logo image",
            "content": {
              "image/png": {
                "schema": {
                  "type": "string",
                  "format": "binary"
                }
              }
            }
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          },
          "404": {
            "description": "Logo not found"
          }
        }
      }
    },
    "/name/{name}": {
      "get": {
        "operationId": "get_logo_by_name",
        "summary": "Get logo by brand name",
        "description": "Fetch brand logo by name when you don't know the domain. Returns the first Brand Search result.",
        "tags": [
          "Image CDN"
        ],
        "parameters": [
          {
            "name": "name",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Brand name (e.g. Shopify)"
          },
          {
            "name": "token",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "size",
            "in": "query",
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "format",
            "in": "query",
            "schema": {
              "type": "string",
              "enum": [
                "png",
                "jpg",
                "webp"
              ]
            }
          },
          {
            "name": "retina",
            "in": "query",
            "schema": {
              "type": "boolean"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Logo image",
            "content": {
              "image/png": {
                "schema": {
                  "type": "string",
                  "format": "binary"
                }
              }
            }
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          },
          "404": {
            "description": "Logo not found"
          }
        }
      }
    }
  },
  "components": {
    "securitySchemes": {
      "tokenParam": {
        "type": "apiKey",
        "name": "token",
        "in": "query",
        "description": "Publishable API key passed as query parameter"
      }
    }
  },
  "security": [
    {
      "tokenParam": []
    }
  ],
  "tags": [
    {
      "name": "Image CDN"
    }
  ]
}
