{
  "openapi": "3.0.3",
  "info": {
    "title": "REST_Boxpilote",
    "description": "API REST permettant de mettre \u00e0 jour les acc\u00e8s Digicode d'un centre de Self Stockage",
    "version": "1.0.0",
    "contact": {
      "url": "",
      "email": "xavier.paes@gmail.com",
      "name": "Xavier Paes"
    },
    "termsOfService": "",
    "x-jentic-source-url": "https://api.swaggerhub.com/apis/uisoft/rest_boxpilote/1.0.0"
  },
  "servers": [
    {
      "url": "http://sherpabox.uisoft.fr/",
      "description": "Int\u00e9gration"
    }
  ],
  "paths": {
    "/api/v1/entityAccess": {
      "get": {
        "description": "Permet de r\u00e9cup\u00e9rer l'ensmble des acc\u00e8s",
        "responses": {
          "200": {
            "description": "OK\r\n\r\nPermet de r\u00e9cup\u00e9rer l'ensemble des acc\u00e8s",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "x-examples": {
                    "Example 1": {
                      "message": "OK",
                      "data": [
                        {
                          "idEntityAccess": 134690,
                          "accessCode": 123456,
                          "numEntity": 123456,
                          "idStatutEntity": 1,
                          "companyName": "Dupont & Fils",
                          "lastName": "Dupont",
                          "firstName": "Jean",
                          "idZoneAccess": 1,
                          "idTimeZone": 1
                        }
                      ],
                      "total": 37,
                      "limit": 1,
                      "offset": 1,
                      "meta": {
                        "timestamp": "2025-11-16T19:16:59.331",
                        "requestId": "00d328540647e9df5023ca4ee32689c669596e983b948aa8c6ec754daf2a2993"
                      }
                    }
                  },
                  "required": [
                    "message",
                    "data",
                    "total",
                    "limit",
                    "meta"
                  ],
                  "properties": {
                    "message": {
                      "type": "string"
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "idEntityAccess": {
                            "type": "integer"
                          },
                          "accessCode": {
                            "type": "integer"
                          },
                          "numEntity": {
                            "type": "integer"
                          },
                          "idStatutEntity": {
                            "type": "integer"
                          },
                          "companyName": {
                            "type": "string"
                          },
                          "lastName": {
                            "type": "string"
                          },
                          "firstName": {
                            "type": "string"
                          },
                          "idZoneAccess": {
                            "type": "integer"
                          },
                          "idTimeZone": {
                            "type": "integer"
                          }
                        }
                      }
                    },
                    "total": {
                      "type": "integer"
                    },
                    "limit": {
                      "type": "integer"
                    },
                    "offset": {
                      "type": "integer"
                    },
                    "meta": {
                      "type": "object",
                      "required": [
                        "timestamp",
                        "requestId"
                      ],
                      "properties": {
                        "timestamp": {
                          "type": "string"
                        },
                        "requestId": {
                          "type": "string"
                        }
                      }
                    }
                  }
                },
                "examples": {
                  "Example 1": {
                    "value": {
                      "message": "OK",
                      "data": [
                        {
                          "idEntityAccess": 134690,
                          "accessCode": 123456,
                          "numEntity": 123456,
                          "idStatutEntity": 1,
                          "companyName": "Dupont & Fils",
                          "lastName": "Dupont",
                          "firstName": "Jean",
                          "idZoneAccess": 1,
                          "idTimeZone": 1
                        }
                      ],
                      "total": 37,
                      "limit": 1,
                      "offset": 1,
                      "meta": {
                        "timestamp": "2025-11-16T19:16:59.331",
                        "requestId": "00d328540647e9df5023ca4ee32689c669596e983b948aa8c6ec754daf2a2993"
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "parameters": [
          {
            "schema": {
              "type": "number",
              "minimum": 0,
              "maximum": 1000,
              "exclusiveMinimum": true
            },
            "in": "query",
            "name": "limit"
          },
          {
            "schema": {
              "type": "number",
              "exclusiveMinimum": true,
              "minimum": 0
            },
            "in": "query",
            "name": "offset"
          }
        ]
      },
      "post": {
        "description": "Permet d'ajouter un acc\u00e8s \u00e0 un Box pour un client donn\u00e9e en se basant sur le num\u00e9ro du box. Il est important de bien pr\u00e9ciser le statut de l'entit\u00e9.",
        "requestBody": {
          "content": {
            "application/json": {
              "examples": {
                "Example 1": {
                  "value": {
                    "accessCode": 123456,
                    "numEntity": 123456,
                    "idStatutEntity": 2,
                    "companyName": "Dupont & Fils",
                    "lastName": "Dupont",
                    "firstName": "Jean",
                    "idZoneAccess": 1,
                    "idTimeZone": 1
                  }
                }
              },
              "schema": {
                "type": "object",
                "x-examples": {
                  "Example 1": {
                    "accessCode": 123456,
                    "numEntity": 123456,
                    "idStatutEntity": 2,
                    "companyName": "Dupont & Fils",
                    "lastName": "Dupont",
                    "firstName": "Jean",
                    "idZoneAccess": 1,
                    "idTimeZone": 1
                  }
                },
                "required": [
                  "accessCode",
                  "numEntity",
                  "idStatutEntity",
                  "idZoneAccess",
                  "idTimeZone"
                ],
                "properties": {
                  "accessCode": {
                    "type": "integer"
                  },
                  "numEntity": {
                    "type": "integer"
                  },
                  "idStatutEntity": {
                    "type": "integer"
                  },
                  "companyName": {
                    "type": "string"
                  },
                  "lastName": {
                    "type": "string"
                  },
                  "firstName": {
                    "type": "string"
                  },
                  "idZoneAccess": {
                    "type": "integer"
                  },
                  "idTimeZone": {
                    "type": "integer"
                  }
                }
              }
            }
          },
          "required": true
        },
        "responses": {
          "201": {
            "description": "Created",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "x-examples": {
                    "Example 1": {
                      "success": true,
                      "code": 201,
                      "message": "OK",
                      "data": {
                        "idEntityAccess": 134659,
                        "accessCode": 123456,
                        "numEntity": 123456,
                        "idStatutEntity": 2,
                        "companyName": "Dupont & Fils",
                        "lastName": "Dupont",
                        "firstName": "Jean",
                        "idZoneAccess": 1,
                        "idTimeZone": 1
                      },
                      "meta": {
                        "timestamp": "2025-11-08T19:15:02.333",
                        "requestId": "3a568a544afcbe398770c10dec7648af5f931258b5df42e458d3fea9aff923d2"
                      }
                    }
                  },
                  "properties": {
                    "message": {
                      "type": "string"
                    },
                    "data": {
                      "type": "object",
                      "properties": {
                        "idEntityAccess": {
                          "type": "integer"
                        },
                        "accessCode": {
                          "type": "integer"
                        },
                        "numEntity": {
                          "type": "integer"
                        },
                        "idStatutEntity": {
                          "type": "integer"
                        },
                        "companyName": {
                          "type": "string"
                        },
                        "lastName": {
                          "type": "string"
                        },
                        "firstName": {
                          "type": "string"
                        },
                        "idZoneAccess": {
                          "type": "integer"
                        },
                        "idTimeZone": {
                          "type": "integer"
                        }
                      }
                    },
                    "meta": {
                      "type": "object",
                      "properties": {
                        "timestamp": {
                          "type": "string"
                        },
                        "requestId": {
                          "type": "string"
                        }
                      }
                    }
                  }
                },
                "examples": {
                  "Example 1": {
                    "value": {
                      "message": "OK",
                      "data": {
                        "idEntityAccess": 134659,
                        "accessCode": 123456,
                        "numEntity": 123456,
                        "idStatutEntity": 2,
                        "companyName": "Dupont & Fils",
                        "lastName": "Dupont",
                        "firstName": "Jean",
                        "idZoneAccess": 1,
                        "idTimeZone": 1
                      },
                      "meta": {
                        "timestamp": "2025-11-08T19:15:02.333",
                        "requestId": "3a568a544afcbe398770c10dec7648af5f931258b5df42e458d3fea9aff923d2"
                      }
                    }
                  }
                }
              }
            },
            "headers": {
              "Location": {
                "schema": {
                  "type": "string"
                },
                "description": "Adresse d'acc\u00e9s \u00e0 l'enregistrement cr\u00e9e"
              }
            }
          },
          "422": {
            "description": "Unprocessable Entity (WebDAV)",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "x-examples": {
                    "Example 1": {
                      "success": false,
                      "code": 422,
                      "message": "Format des donn\u00e9es d'entr\u00e9e invalide.",
                      "errors": [
                        {
                          "field": "idStatutEntity",
                          "Message": "Le statut de l'entit\u00e9 n'existe pas"
                        }
                      ],
                      "meta": {
                        "timestamp": "2025-11-08T19:21:58.959",
                        "requestId": "5ea124f606e85bb1f2521377ecc60c690c51ecf1ee161943ad41bf7d6ca16fd2"
                      }
                    }
                  },
                  "properties": {
                    "message": {
                      "type": "string"
                    },
                    "errors": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "field": {
                            "type": "string"
                          },
                          "Message": {
                            "type": "string"
                          }
                        }
                      }
                    },
                    "meta": {
                      "type": "object",
                      "properties": {
                        "timestamp": {
                          "type": "string"
                        },
                        "requestId": {
                          "type": "string"
                        }
                      }
                    }
                  }
                },
                "examples": {
                  "Example 1": {
                    "value": {
                      "message": "Format des donn\u00e9es d'entr\u00e9e invalide.",
                      "errors": [
                        {
                          "field": "idStatutEntity",
                          "message": "Le statut de l'entit\u00e9 n'existe pas"
                        }
                      ],
                      "meta": {
                        "timestamp": "2025-11-08T19:21:58.959",
                        "requestId": "5ea124f606e85bb1f2521377ecc60c690c51ecf1ee161943ad41bf7d6ca16fd2"
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "operationId": ""
      }
    },
    "/api/v1/entityAccess/{idEntityAccess}": {
      "get": {
        "description": "Permet de r\u00e9cup\u00e9rer les informations d'un acc\u00e8s donn\u00e9",
        "parameters": [
          {
            "name": "idEntityAccess",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Permet de r\u00e9cup\u00e9rer les informations d'un acc\u00e8s donn\u00e9s",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "x-examples": {
                    "Example 1": {
                      "success": true,
                      "code": 200,
                      "message": "OK",
                      "data": {
                        "idStatutEntity": 1,
                        "description": "Occupied"
                      },
                      "meta": {
                        "timestamp": "2025-11-09T01:22:06.795",
                        "requestId": "33f5b7379d2c9d24678f9944d01c613e179baba7e57bd4174686524458b0b28e"
                      }
                    }
                  },
                  "properties": {
                    "message": {
                      "type": "string"
                    },
                    "data": {
                      "type": "object",
                      "properties": {
                        "idStatutEntity": {
                          "type": "integer"
                        },
                        "description": {
                          "type": "string"
                        }
                      }
                    },
                    "meta": {
                      "type": "object",
                      "properties": {
                        "timestamp": {
                          "type": "string"
                        },
                        "requestId": {
                          "type": "string"
                        }
                      }
                    }
                  }
                },
                "examples": {
                  "Example 1": {
                    "value": {
                      "message": "OK",
                      "data": {
                        "idStatutEntity": 1,
                        "description": "Occupied"
                      },
                      "meta": {
                        "timestamp": "2025-11-09T01:22:06.795",
                        "requestId": "33f5b7379d2c9d24678f9944d01c613e179baba7e57bd4174686524458b0b28e"
                      }
                    }
                  }
                }
              }
            }
          },
          "404": {
            "description": "Not Found",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "x-examples": {
                    "Example 1": {
                      "success": false,
                      "code": 404,
                      "message": "L'identifiant idTimeZone '16' n'existe pas.",
                      "errors": [],
                      "meta": {
                        "timestamp": "2025-11-09T02:20:03.471",
                        "requestId": "9dc837f18d167e0ae60ec3c3718e0b529cc2709d7c1cb153726574ce5ea3a8c2"
                      }
                    }
                  },
                  "properties": {
                    "message": {
                      "type": "string"
                    },
                    "errors": {
                      "type": "array",
                      "items": {
                        "type": "object"
                      }
                    },
                    "meta": {
                      "type": "object",
                      "properties": {
                        "timestamp": {
                          "type": "string"
                        },
                        "requestId": {
                          "type": "string"
                        }
                      }
                    }
                  }
                },
                "examples": {
                  "Example 1": {
                    "value": {
                      "message": "L'identifiant idEntityAccess '13467767' n'existe pas.",
                      "errors": [],
                      "meta": {
                        "timestamp": "2025-11-16T19:09:38.183",
                        "requestId": "f7be9da63739ac9454509a96959832b7cd76c81afb8ada4d72823806f45d170f"
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "summary": ""
      },
      "put": {
        "description": "",
        "parameters": [
          {
            "name": "idEntityAccess",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "x-examples": {
                  "Example 1": {
                    "accessCode": 123456,
                    "numEntity": 123456,
                    "idStatutEntity": 2,
                    "companyName": "Dupont & Fils",
                    "lastName": "Dupont",
                    "firstName": "Jean",
                    "idZoneAccess": 1,
                    "idTimeZone": 1
                  }
                },
                "properties": {
                  "accessCode": {
                    "type": "integer"
                  },
                  "numEntity": {
                    "type": "integer"
                  },
                  "idStatutEntity": {
                    "type": "integer"
                  },
                  "companyName": {
                    "type": "string"
                  },
                  "lastName": {
                    "type": "string"
                  },
                  "firstName": {
                    "type": "string"
                  },
                  "idZoneAccess": {
                    "type": "integer"
                  },
                  "idTimeZone": {
                    "type": "integer"
                  }
                }
              },
              "examples": {
                "Example 1": {
                  "value": {
                    "accessCode": 123456,
                    "numEntity": 123456,
                    "idStatutEntity": 2,
                    "companyName": "Dupont & Fils",
                    "lastName": "Dupont",
                    "firstName": "Jean",
                    "idZoneAccess": 1,
                    "idTimeZone": 1
                  }
                },
                "Example 2": {
                  "value": {
                    "accessCode": 6543
                  }
                },
                "Example 3": {
                  "value": {
                    "idStatutEntity": 5
                  }
                }
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "x-examples": {
                    "Example 1": {
                      "success": true,
                      "code": 200,
                      "message": "OK",
                      "data": {
                        "idEntityAccess": 134659,
                        "accessCode": 123456,
                        "numEntity": 123456,
                        "idStatutEntity": 2,
                        "companyName": "Dupont & Fils",
                        "lastName": "Dupont",
                        "firstName": "Jean",
                        "idZoneAccess": 1,
                        "idTimeZone": 1
                      },
                      "meta": {
                        "timestamp": "2025-11-08T19:15:02.333",
                        "requestId": "3a568a544afcbe398770c10dec7648af5f931258b5df42e458d3fea9aff923d2"
                      }
                    }
                  },
                  "properties": {
                    "message": {
                      "type": "string"
                    },
                    "data": {
                      "type": "object",
                      "properties": {
                        "idEntityAccess": {
                          "type": "integer"
                        },
                        "accessCode": {
                          "type": "integer"
                        },
                        "numEntity": {
                          "type": "integer"
                        },
                        "idStatutEntity": {
                          "type": "integer"
                        },
                        "companyName": {
                          "type": "string"
                        },
                        "lastName": {
                          "type": "string"
                        },
                        "firstName": {
                          "type": "string"
                        },
                        "idZoneAccess": {
                          "type": "integer"
                        },
                        "idTimeZone": {
                          "type": "integer"
                        }
                      }
                    },
                    "meta": {
                      "type": "object",
                      "properties": {
                        "timestamp": {
                          "type": "string"
                        },
                        "requestId": {
                          "type": "string"
                        }
                      }
                    }
                  }
                },
                "examples": {
                  "Example 1": {
                    "value": {
                      "message": "OK",
                      "data": {
                        "idEntityAccess": 134659,
                        "accessCode": 123456,
                        "numEntity": 123456,
                        "idStatutEntity": 2,
                        "companyName": "Dupont & Fils",
                        "lastName": "Dupont",
                        "firstName": "Jean",
                        "idZoneAccess": 1,
                        "idTimeZone": 1
                      },
                      "meta": {
                        "timestamp": "2025-11-08T19:15:02.333",
                        "requestId": "3a568a544afcbe398770c10dec7648af5f931258b5df42e458d3fea9aff923d2"
                      }
                    }
                  }
                }
              }
            }
          },
          "404": {
            "description": "Not Found",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "x-examples": {
                    "Example 1": {
                      "success": false,
                      "code": 404,
                      "message": "L'identifiant idEntityAccess '580853768' n'existe pas.",
                      "errors": [],
                      "meta": {
                        "timestamp": "2025-11-09T02:23:15.780",
                        "requestId": "63f53f92fddec6e6470c4a8c37c703543e0c903f1362a56be4fd7b94b29ef027"
                      }
                    }
                  },
                  "properties": {
                    "message": {
                      "type": "string"
                    },
                    "errors": {
                      "type": "array",
                      "items": {
                        "type": "object"
                      }
                    },
                    "meta": {
                      "type": "object",
                      "properties": {
                        "timestamp": {
                          "type": "string"
                        },
                        "requestId": {
                          "type": "string"
                        }
                      }
                    }
                  }
                },
                "examples": {
                  "Example 1": {
                    "value": {
                      "message": "L'identifiant idEntityAccess '580853768' n'existe pas.",
                      "errors": [],
                      "meta": {
                        "timestamp": "2025-11-09T02:23:15.780",
                        "requestId": "63f53f92fddec6e6470c4a8c37c703543e0c903f1362a56be4fd7b94b29ef027"
                      }
                    }
                  }
                }
              }
            }
          },
          "422": {
            "description": "Unprocessable Entity (WebDAV)",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "x-examples": {
                    "Example 1": {
                      "success": false,
                      "code": 422,
                      "message": "Format des donn\u00e9es d'entr\u00e9e invalide.",
                      "errors": [
                        {
                          "field": "idStatutEntity",
                          "Message": "Le statut de l'entit\u00e9 n'existe pas"
                        }
                      ],
                      "meta": {
                        "timestamp": "2025-11-08T19:21:58.959",
                        "requestId": "5ea124f606e85bb1f2521377ecc60c690c51ecf1ee161943ad41bf7d6ca16fd2"
                      }
                    }
                  },
                  "properties": {
                    "message": {
                      "type": "string"
                    },
                    "errors": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "field": {
                            "type": "string"
                          },
                          "Message": {
                            "type": "string"
                          }
                        }
                      }
                    },
                    "meta": {
                      "type": "object",
                      "properties": {
                        "timestamp": {
                          "type": "string"
                        },
                        "requestId": {
                          "type": "string"
                        }
                      }
                    }
                  }
                },
                "examples": {
                  "Example 1": {
                    "value": {
                      "message": "Format des donn\u00e9es d'entr\u00e9e invalide.",
                      "errors": [
                        {
                          "field": "idStatutEntity",
                          "Message": "Le statut de l'entit\u00e9 n'existe pas"
                        }
                      ],
                      "meta": {
                        "timestamp": "2025-11-08T19:21:58.959",
                        "requestId": "5ea124f606e85bb1f2521377ecc60c690c51ecf1ee161943ad41bf7d6ca16fd2"
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/entityAccess/{idEntityAccess}/event": {
      "get": {
        "description": "Permet de r\u00e9cup\u00e9rer les informations d'un acc\u00e8s donn\u00e9",
        "parameters": [
          {
            "name": "idEntityAccess",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "schema": {
              "type": "number",
              "exclusiveMinimum": true,
              "minimum": 0,
              "maximum": 1000
            },
            "in": "query",
            "name": "limit"
          },
          {
            "schema": {
              "type": "number",
              "minimum": 0,
              "exclusiveMinimum": true
            },
            "in": "query",
            "name": "offset"
          }
        ],
        "responses": {
          "200": {
            "description": "Permet de r\u00e9cup\u00e9rer les informations d'un acc\u00e8s donn\u00e9",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {
                      "type": "string"
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "idEntityAccessEvent": {
                            "type": "integer"
                          },
                          "message": {
                            "type": "string"
                          },
                          "timestamp": {
                            "type": "string"
                          },
                          "input": {
                            "type": "string"
                          }
                        }
                      }
                    },
                    "total": {
                      "type": "integer"
                    },
                    "limit": {
                      "type": "integer"
                    },
                    "offset": {
                      "type": "integer"
                    },
                    "meta": {
                      "type": "object",
                      "properties": {
                        "timestamp": {
                          "type": "string"
                        },
                        "requestId": {
                          "type": "string"
                        }
                      }
                    }
                  },
                  "x-examples": {
                    "Example 1": {
                      "message": "OK",
                      "data": [
                        {
                          "idEntityAccessEvent": 52012,
                          "message": "Porte de Passy Ext\u00e9rieur",
                          "timestamp": "2025-11-09T01:41:15.446",
                          "input": "Valide"
                        }
                      ],
                      "total": 3,
                      "limit": 1,
                      "offset": 1,
                      "meta": {
                        "timestamp": "2025-11-16T18:51:04.263",
                        "requestId": "28a27f5c92fb688b9367400534d6646639acf343c459681c656faea2b8ff347d"
                      }
                    }
                  }
                },
                "examples": {
                  "Example 2": {
                    "value": {
                      "message": "OK",
                      "data": [
                        {
                          "idEntityAccessEvent": 52012,
                          "message": "Porte de Passy Ext\u00e9rieur",
                          "timestamp": "2025-11-09T01:41:15.446",
                          "input": "Valide"
                        }
                      ],
                      "total": 3,
                      "limit": 1,
                      "offset": 1,
                      "meta": {
                        "timestamp": "2025-11-16T18:51:04.263",
                        "requestId": "28a27f5c92fb688b9367400534d6646639acf343c459681c656faea2b8ff347d"
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "operationId": ""
      },
      "parameters": [
        {
          "schema": {
            "type": "number"
          },
          "in": "query",
          "name": "limit"
        },
        {
          "schema": {
            "type": "number"
          },
          "in": "query",
          "name": "offset"
        }
      ]
    },
    "/api/v1/timeZone": {
      "get": {
        "description": "",
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "x-examples": {
                    "Example 1": {
                      "success": true,
                      "code": 200,
                      "message": "OK",
                      "data": [
                        {
                          "idStatutEntity": 0,
                          "description": "Vacant"
                        },
                        {
                          "idStatutEntity": 1,
                          "description": "Occupied"
                        },
                        {
                          "idStatutEntity": 2,
                          "description": "Own Use"
                        },
                        {
                          "idStatutEntity": 3,
                          "description": "Maintenance"
                        },
                        {
                          "idStatutEntity": 4,
                          "description": "Out of Order"
                        },
                        {
                          "idStatutEntity": 5,
                          "description": "Locked"
                        },
                        {
                          "idStatutEntity": 6,
                          "description": "Deleted"
                        },
                        {
                          "idStatutEntity": 7,
                          "description": "Disposed"
                        },
                        {
                          "idStatutEntity": 8,
                          "description": "Reserved"
                        }
                      ],
                      "meta": {
                        "timestamp": "2025-11-09T01:21:50.211",
                        "requestId": "45ee1b4ac964fdcaa1b1b1e8e9673caa90825b576c409d994d83a42595562136"
                      }
                    }
                  },
                  "properties": {
                    "message": {
                      "type": "string"
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "idStatutEntity": {
                            "type": "integer"
                          },
                          "description": {
                            "type": "string"
                          }
                        }
                      }
                    },
                    "meta": {
                      "type": "object",
                      "properties": {
                        "timestamp": {
                          "type": "string"
                        },
                        "requestId": {
                          "type": "string"
                        }
                      }
                    }
                  }
                },
                "examples": {
                  "Example 1": {
                    "value": {
                      "message": "OK",
                      "data": [
                        {
                          "idStatutEntity": 0,
                          "description": "Vacant"
                        },
                        {
                          "idStatutEntity": 1,
                          "description": "Occupied"
                        },
                        {
                          "idStatutEntity": 2,
                          "description": "Own Use"
                        },
                        {
                          "idStatutEntity": 3,
                          "description": "Maintenance"
                        },
                        {
                          "idStatutEntity": 4,
                          "description": "Out of Order"
                        },
                        {
                          "idStatutEntity": 5,
                          "description": "Locked"
                        },
                        {
                          "idStatutEntity": 6,
                          "description": "Deleted"
                        },
                        {
                          "idStatutEntity": 7,
                          "description": "Disposed"
                        },
                        {
                          "idStatutEntity": 8,
                          "description": "Reserved"
                        }
                      ],
                      "meta": {
                        "timestamp": "2025-11-09T01:21:50.211",
                        "requestId": "45ee1b4ac964fdcaa1b1b1e8e9673caa90825b576c409d994d83a42595562136"
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/timeZone/{idTimeZone}": {
      "get": {
        "description": "",
        "parameters": [
          {
            "name": "idTimeZone",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "x-examples": {
                    "Example 1": {
                      "success": true,
                      "code": 200,
                      "message": "OK",
                      "data": {
                        "idStatutEntity": 1,
                        "description": "Occupied"
                      },
                      "meta": {
                        "timestamp": "2025-11-09T01:22:06.795",
                        "requestId": "33f5b7379d2c9d24678f9944d01c613e179baba7e57bd4174686524458b0b28e"
                      }
                    }
                  },
                  "properties": {
                    "message": {
                      "type": "string"
                    },
                    "data": {
                      "type": "object",
                      "properties": {
                        "idStatutEntity": {
                          "type": "integer"
                        },
                        "description": {
                          "type": "string"
                        }
                      }
                    },
                    "meta": {
                      "type": "object",
                      "properties": {
                        "timestamp": {
                          "type": "string"
                        },
                        "requestId": {
                          "type": "string"
                        }
                      }
                    }
                  }
                },
                "examples": {
                  "Example 1": {
                    "value": {
                      "message": "OK",
                      "data": {
                        "idStatutEntity": 1,
                        "description": "Occupied"
                      },
                      "meta": {
                        "timestamp": "2025-11-09T01:22:06.795",
                        "requestId": "33f5b7379d2c9d24678f9944d01c613e179baba7e57bd4174686524458b0b28e"
                      }
                    }
                  }
                }
              }
            }
          },
          "404": {
            "description": "Not Found",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "x-examples": {
                    "Example 1": {
                      "success": false,
                      "code": 404,
                      "message": "L'identifiant idTimeZone '16' n'existe pas.",
                      "errors": [],
                      "meta": {
                        "timestamp": "2025-11-09T02:20:03.471",
                        "requestId": "9dc837f18d167e0ae60ec3c3718e0b529cc2709d7c1cb153726574ce5ea3a8c2"
                      }
                    }
                  },
                  "properties": {
                    "message": {
                      "type": "string"
                    },
                    "errors": {
                      "type": "array",
                      "items": {
                        "type": "object"
                      }
                    },
                    "meta": {
                      "type": "object",
                      "properties": {
                        "timestamp": {
                          "type": "string"
                        },
                        "requestId": {
                          "type": "string"
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        }
      },
      "servers": []
    },
    "/api/v1/statutEntity": {
      "get": {
        "description": "",
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "x-examples": {
                    "Example 1": {
                      "success": true,
                      "code": 200,
                      "message": "OK",
                      "data": [
                        {
                          "idStatutEntity": 0,
                          "description": "Vacant"
                        },
                        {
                          "idStatutEntity": 1,
                          "description": "Occupied"
                        },
                        {
                          "idStatutEntity": 2,
                          "description": "Own Use"
                        },
                        {
                          "idStatutEntity": 3,
                          "description": "Maintenance"
                        },
                        {
                          "idStatutEntity": 4,
                          "description": "Out of Order"
                        },
                        {
                          "idStatutEntity": 5,
                          "description": "Locked"
                        },
                        {
                          "idStatutEntity": 6,
                          "description": "Deleted"
                        },
                        {
                          "idStatutEntity": 7,
                          "description": "Disposed"
                        },
                        {
                          "idStatutEntity": 8,
                          "description": "Reserved"
                        }
                      ],
                      "meta": {
                        "timestamp": "2025-11-09T01:21:50.211",
                        "requestId": "45ee1b4ac964fdcaa1b1b1e8e9673caa90825b576c409d994d83a42595562136"
                      }
                    }
                  },
                  "properties": {
                    "message": {
                      "type": "string"
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "idStatutEntity": {
                            "type": "integer"
                          },
                          "description": {
                            "type": "string"
                          }
                        }
                      }
                    },
                    "meta": {
                      "type": "object",
                      "properties": {
                        "timestamp": {
                          "type": "string"
                        },
                        "requestId": {
                          "type": "string"
                        }
                      }
                    }
                  }
                },
                "examples": {
                  "Example 1": {
                    "value": {
                      "message": "OK",
                      "data": [
                        {
                          "idStatutEntity": 0,
                          "description": "Vacant"
                        },
                        {
                          "idStatutEntity": 1,
                          "description": "Occupied"
                        },
                        {
                          "idStatutEntity": 2,
                          "description": "Own Use"
                        },
                        {
                          "idStatutEntity": 3,
                          "description": "Maintenance"
                        },
                        {
                          "idStatutEntity": 4,
                          "description": "Out of Order"
                        },
                        {
                          "idStatutEntity": 5,
                          "description": "Locked"
                        },
                        {
                          "idStatutEntity": 6,
                          "description": "Deleted"
                        },
                        {
                          "idStatutEntity": 7,
                          "description": "Disposed"
                        },
                        {
                          "idStatutEntity": 8,
                          "description": "Reserved"
                        }
                      ],
                      "meta": {
                        "timestamp": "2025-11-09T01:21:50.211",
                        "requestId": "45ee1b4ac964fdcaa1b1b1e8e9673caa90825b576c409d994d83a42595562136"
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/statutEntity/{idStatutEntity}": {
      "get": {
        "description": "",
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "x-examples": {
                    "Example 1": {
                      "success": true,
                      "code": 200,
                      "message": "OK",
                      "data": {
                        "idStatutEntity": 1,
                        "description": "Occupied"
                      },
                      "meta": {
                        "timestamp": "2025-11-09T01:22:06.795",
                        "requestId": "33f5b7379d2c9d24678f9944d01c613e179baba7e57bd4174686524458b0b28e"
                      }
                    }
                  },
                  "properties": {
                    "success": {
                      "type": "boolean"
                    },
                    "message": {
                      "type": "string"
                    },
                    "data": {
                      "type": "object",
                      "properties": {
                        "idStatutEntity": {
                          "type": "integer"
                        },
                        "description": {
                          "type": "string"
                        }
                      }
                    },
                    "meta": {
                      "type": "object",
                      "properties": {
                        "timestamp": {
                          "type": "string"
                        },
                        "requestId": {
                          "type": "string"
                        }
                      }
                    }
                  }
                },
                "examples": {
                  "Example 1": {
                    "value": {
                      "message": "OK",
                      "data": {
                        "idStatutEntity": 1,
                        "description": "Occupied"
                      },
                      "meta": {
                        "timestamp": "2025-11-09T01:22:06.795",
                        "requestId": "33f5b7379d2c9d24678f9944d01c613e179baba7e57bd4174686524458b0b28e"
                      }
                    }
                  }
                }
              }
            }
          },
          "404": {
            "description": "Not Found",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "x-examples": {
                    "Example 1": {
                      "success": false,
                      "code": 404,
                      "message": "L'identifiant idTimeZone '16' n'existe pas.",
                      "errors": [],
                      "meta": {
                        "timestamp": "2025-11-09T02:20:03.471",
                        "requestId": "9dc837f18d167e0ae60ec3c3718e0b529cc2709d7c1cb153726574ce5ea3a8c2"
                      }
                    }
                  },
                  "properties": {
                    "message": {
                      "type": "string"
                    },
                    "errors": {
                      "type": "array",
                      "items": {
                        "type": "object"
                      }
                    },
                    "meta": {
                      "type": "object",
                      "properties": {
                        "timestamp": {
                          "type": "string"
                        },
                        "requestId": {
                          "type": "string"
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        }
      },
      "parameters": [
        {
          "schema": {
            "type": "string"
          },
          "name": "idStatutEntity",
          "in": "path",
          "required": true
        }
      ]
    },
    "/api/v1/zoneAccess": {
      "get": {
        "description": "",
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "x-examples": {
                    "Example 1": {
                      "success": true,
                      "code": 200,
                      "message": "OK",
                      "data": [
                        {
                          "idZoneAccess": 1,
                          "description": "Dauphine",
                          "Porte_Dauphine_Ext\u00e9rieur_Entr\u00e9e": true,
                          "Porte_Dauphine_Ext\u00e9rieur_Sortie": true,
                          "Quai_Branly_Ext\u00e9rieur": false,
                          "Passage_Agard_Tesla": false,
                          "Passage_Agard_Volta": false,
                          "Porte_Gentilly": false,
                          "Porte_Italie_Exterieur": false,
                          "Porte_arcueil_Ext\u00e9rieur": false,
                          "Porte_Passi_Ext\u00e9rieur": false,
                          "Porte_Passi_Int\u00e9rieur": false
                        },
                        {
                          "idZoneAccess": 2,
                          "description": "Dauphine & Passy",
                          "Porte_Dauphine_Ext\u00e9rieur_Entr\u00e9e": true,
                          "Porte_Dauphine_Ext\u00e9rieur_Sortie": true,
                          "Quai_Branly_Ext\u00e9rieur": false,
                          "Passage_Agard_Tesla": false,
                          "Passage_Agard_Volta": false,
                          "Porte_Gentilly": false,
                          "Porte_Italie_Exterieur": false,
                          "Porte_arcueil_Ext\u00e9rieur": false,
                          "Porte_Passi_Ext\u00e9rieur": true,
                          "Porte_Passi_Int\u00e9rieur": true
                        },
                        {
                          "idZoneAccess": 3,
                          "description": "Dauphine & Passy & Italie",
                          "Porte_Dauphine_Ext\u00e9rieur_Entr\u00e9e": true,
                          "Porte_Dauphine_Ext\u00e9rieur_Sortie": true,
                          "Quai_Branly_Ext\u00e9rieur": false,
                          "Passage_Agard_Tesla": false,
                          "Passage_Agard_Volta": false,
                          "Porte_Gentilly": false,
                          "Porte_Italie_Exterieur": true,
                          "Porte_arcueil_Ext\u00e9rieur": false,
                          "Porte_Passi_Ext\u00e9rieur": true,
                          "Porte_Passi_Int\u00e9rieur": true
                        },
                        {
                          "idZoneAccess": 4,
                          "description": "Dauphine & Passy & Gentilly",
                          "Porte_Dauphine_Ext\u00e9rieur_Entr\u00e9e": true,
                          "Porte_Dauphine_Ext\u00e9rieur_Sortie": true,
                          "Quai_Branly_Ext\u00e9rieur": false,
                          "Passage_Agard_Tesla": false,
                          "Passage_Agard_Volta": false,
                          "Porte_Gentilly": true,
                          "Porte_Italie_Exterieur": false,
                          "Porte_arcueil_Ext\u00e9rieur": false,
                          "Porte_Passi_Ext\u00e9rieur": true,
                          "Porte_Passi_Int\u00e9rieur": true
                        },
                        {
                          "idZoneAccess": 5,
                          "description": "TOUS ACCES",
                          "Porte_Dauphine_Ext\u00e9rieur_Entr\u00e9e": true,
                          "Porte_Dauphine_Ext\u00e9rieur_Sortie": true,
                          "Quai_Branly_Ext\u00e9rieur": false,
                          "Passage_Agard_Tesla": false,
                          "Passage_Agard_Volta": false,
                          "Porte_Gentilly": true,
                          "Porte_Italie_Exterieur": true,
                          "Porte_arcueil_Ext\u00e9rieur": true,
                          "Porte_Passi_Ext\u00e9rieur": true,
                          "Porte_Passi_Int\u00e9rieur": true
                        },
                        {
                          "idZoneAccess": 6,
                          "description": "Dauphine & Italie & Gentilly",
                          "Porte_Dauphine_Ext\u00e9rieur_Entr\u00e9e": true,
                          "Porte_Dauphine_Ext\u00e9rieur_Sortie": true,
                          "Quai_Branly_Ext\u00e9rieur": false,
                          "Passage_Agard_Tesla": false,
                          "Passage_Agard_Volta": false,
                          "Porte_Gentilly": true,
                          "Porte_Italie_Exterieur": true,
                          "Porte_arcueil_Ext\u00e9rieur": false,
                          "Porte_Passi_Ext\u00e9rieur": false,
                          "Porte_Passi_Int\u00e9rieur": false
                        },
                        {
                          "idZoneAccess": 7,
                          "description": "Passy & Gentilly",
                          "Porte_Dauphine_Ext\u00e9rieur_Entr\u00e9e": false,
                          "Porte_Dauphine_Ext\u00e9rieur_Sortie": false,
                          "Quai_Branly_Ext\u00e9rieur": false,
                          "Passage_Agard_Tesla": false,
                          "Passage_Agard_Volta": false,
                          "Porte_Gentilly": true,
                          "Porte_Italie_Exterieur": false,
                          "Porte_arcueil_Ext\u00e9rieur": false,
                          "Porte_Passi_Ext\u00e9rieur": true,
                          "Porte_Passi_Int\u00e9rieur": true
                        },
                        {
                          "idZoneAccess": 8,
                          "description": "Italie & Gentilly",
                          "Porte_Dauphine_Ext\u00e9rieur_Entr\u00e9e": false,
                          "Porte_Dauphine_Ext\u00e9rieur_Sortie": false,
                          "Quai_Branly_Ext\u00e9rieur": false,
                          "Passage_Agard_Tesla": false,
                          "Passage_Agard_Volta": false,
                          "Porte_Gentilly": true,
                          "Porte_Italie_Exterieur": true,
                          "Porte_arcueil_Ext\u00e9rieur": false,
                          "Porte_Passi_Ext\u00e9rieur": false,
                          "Porte_Passi_Int\u00e9rieur": false
                        },
                        {
                          "idZoneAccess": 9,
                          "description": "Gentilly",
                          "Porte_Dauphine_Ext\u00e9rieur_Entr\u00e9e": false,
                          "Porte_Dauphine_Ext\u00e9rieur_Sortie": false,
                          "Quai_Branly_Ext\u00e9rieur": false,
                          "Passage_Agard_Tesla": false,
                          "Passage_Agard_Volta": false,
                          "Porte_Gentilly": false,
                          "Porte_Italie_Exterieur": true,
                          "Porte_arcueil_Ext\u00e9rieur": true,
                          "Porte_Passi_Ext\u00e9rieur": false,
                          "Porte_Passi_Int\u00e9rieur": false
                        },
                        {
                          "idZoneAccess": 10,
                          "description": "Dauphine & Italie",
                          "Porte_Dauphine_Ext\u00e9rieur_Entr\u00e9e": true,
                          "Porte_Dauphine_Ext\u00e9rieur_Sortie": true,
                          "Quai_Branly_Ext\u00e9rieur": false,
                          "Passage_Agard_Tesla": false,
                          "Passage_Agard_Volta": false,
                          "Porte_Gentilly": false,
                          "Porte_Italie_Exterieur": true,
                          "Porte_arcueil_Ext\u00e9rieur": false,
                          "Porte_Passi_Ext\u00e9rieur": false,
                          "Porte_Passi_Int\u00e9rieur": false
                        }
                      ],
                      "meta": {
                        "timestamp": "2025-11-09T01:22:35.990",
                        "requestId": "c137c5160737982f803afb7e3dd77161cc2ffe64649594d0314a1cda41ca2384"
                      }
                    }
                  },
                  "properties": {
                    "message": {
                      "type": "string"
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "idZoneAccess": {
                            "type": "integer"
                          },
                          "description": {
                            "type": "string"
                          },
                          "Porte_Dauphine_Ext\u00e9rieur_Entr\u00e9e": {
                            "type": "boolean"
                          },
                          "Porte_Dauphine_Ext\u00e9rieur_Sortie": {
                            "type": "boolean"
                          },
                          "Quai_Branly_Ext\u00e9rieur": {
                            "type": "boolean"
                          },
                          "Passage_Agard_Tesla": {
                            "type": "boolean"
                          },
                          "Passage_Agard_Volta": {
                            "type": "boolean"
                          },
                          "Porte_Gentilly": {
                            "type": "boolean"
                          },
                          "Porte_Italie_Exterieur": {
                            "type": "boolean"
                          },
                          "Porte_arcueil_Ext\u00e9rieur": {
                            "type": "boolean"
                          },
                          "Porte_Passi_Ext\u00e9rieur": {
                            "type": "boolean"
                          },
                          "Porte_Passi_Int\u00e9rieur": {
                            "type": "boolean"
                          }
                        }
                      }
                    },
                    "meta": {
                      "type": "object",
                      "properties": {
                        "timestamp": {
                          "type": "string"
                        },
                        "requestId": {
                          "type": "string"
                        }
                      }
                    }
                  }
                },
                "examples": {
                  "Example 1": {
                    "value": {
                      "message": "OK",
                      "data": [
                        {
                          "idZoneAccess": 1,
                          "description": "Dauphine",
                          "Porte_Dauphine_Ext\u00e9rieur_Entr\u00e9e": true,
                          "Porte_Dauphine_Ext\u00e9rieur_Sortie": true,
                          "Quai_Branly_Ext\u00e9rieur": false,
                          "Passage_Agard_Tesla": false,
                          "Passage_Agard_Volta": false,
                          "Porte_Gentilly": false,
                          "Porte_Italie_Exterieur": false,
                          "Porte_arcueil_Ext\u00e9rieur": false,
                          "Porte_Passi_Ext\u00e9rieur": false,
                          "Porte_Passi_Int\u00e9rieur": false
                        },
                        {
                          "idZoneAccess": 2,
                          "description": "Dauphine & Passy",
                          "Porte_Dauphine_Ext\u00e9rieur_Entr\u00e9e": true,
                          "Porte_Dauphine_Ext\u00e9rieur_Sortie": true,
                          "Quai_Branly_Ext\u00e9rieur": false,
                          "Passage_Agard_Tesla": false,
                          "Passage_Agard_Volta": false,
                          "Porte_Gentilly": false,
                          "Porte_Italie_Exterieur": false,
                          "Porte_arcueil_Ext\u00e9rieur": false,
                          "Porte_Passi_Ext\u00e9rieur": true,
                          "Porte_Passi_Int\u00e9rieur": true
                        },
                        {
                          "idZoneAccess": 3,
                          "description": "Dauphine & Passy & Italie",
                          "Porte_Dauphine_Ext\u00e9rieur_Entr\u00e9e": true,
                          "Porte_Dauphine_Ext\u00e9rieur_Sortie": true,
                          "Quai_Branly_Ext\u00e9rieur": false,
                          "Passage_Agard_Tesla": false,
                          "Passage_Agard_Volta": false,
                          "Porte_Gentilly": false,
                          "Porte_Italie_Exterieur": true,
                          "Porte_arcueil_Ext\u00e9rieur": false,
                          "Porte_Passi_Ext\u00e9rieur": true,
                          "Porte_Passi_Int\u00e9rieur": true
                        },
                        {
                          "idZoneAccess": 4,
                          "description": "Dauphine & Passy & Gentilly",
                          "Porte_Dauphine_Ext\u00e9rieur_Entr\u00e9e": true,
                          "Porte_Dauphine_Ext\u00e9rieur_Sortie": true,
                          "Quai_Branly_Ext\u00e9rieur": false,
                          "Passage_Agard_Tesla": false,
                          "Passage_Agard_Volta": false,
                          "Porte_Gentilly": true,
                          "Porte_Italie_Exterieur": false,
                          "Porte_arcueil_Ext\u00e9rieur": false,
                          "Porte_Passi_Ext\u00e9rieur": true,
                          "Porte_Passi_Int\u00e9rieur": true
                        },
                        {
                          "idZoneAccess": 5,
                          "description": "TOUS ACCES",
                          "Porte_Dauphine_Ext\u00e9rieur_Entr\u00e9e": true,
                          "Porte_Dauphine_Ext\u00e9rieur_Sortie": true,
                          "Quai_Branly_Ext\u00e9rieur": false,
                          "Passage_Agard_Tesla": false,
                          "Passage_Agard_Volta": false,
                          "Porte_Gentilly": true,
                          "Porte_Italie_Exterieur": true,
                          "Porte_arcueil_Ext\u00e9rieur": true,
                          "Porte_Passi_Ext\u00e9rieur": true,
                          "Porte_Passi_Int\u00e9rieur": true
                        },
                        {
                          "idZoneAccess": 6,
                          "description": "Dauphine & Italie & Gentilly",
                          "Porte_Dauphine_Ext\u00e9rieur_Entr\u00e9e": true,
                          "Porte_Dauphine_Ext\u00e9rieur_Sortie": true,
                          "Quai_Branly_Ext\u00e9rieur": false,
                          "Passage_Agard_Tesla": false,
                          "Passage_Agard_Volta": false,
                          "Porte_Gentilly": true,
                          "Porte_Italie_Exterieur": true,
                          "Porte_arcueil_Ext\u00e9rieur": false,
                          "Porte_Passi_Ext\u00e9rieur": false,
                          "Porte_Passi_Int\u00e9rieur": false
                        },
                        {
                          "idZoneAccess": 7,
                          "description": "Passy & Gentilly",
                          "Porte_Dauphine_Ext\u00e9rieur_Entr\u00e9e": false,
                          "Porte_Dauphine_Ext\u00e9rieur_Sortie": false,
                          "Quai_Branly_Ext\u00e9rieur": false,
                          "Passage_Agard_Tesla": false,
                          "Passage_Agard_Volta": false,
                          "Porte_Gentilly": true,
                          "Porte_Italie_Exterieur": false,
                          "Porte_arcueil_Ext\u00e9rieur": false,
                          "Porte_Passi_Ext\u00e9rieur": true,
                          "Porte_Passi_Int\u00e9rieur": true
                        },
                        {
                          "idZoneAccess": 8,
                          "description": "Italie & Gentilly",
                          "Porte_Dauphine_Ext\u00e9rieur_Entr\u00e9e": false,
                          "Porte_Dauphine_Ext\u00e9rieur_Sortie": false,
                          "Quai_Branly_Ext\u00e9rieur": false,
                          "Passage_Agard_Tesla": false,
                          "Passage_Agard_Volta": false,
                          "Porte_Gentilly": true,
                          "Porte_Italie_Exterieur": true,
                          "Porte_arcueil_Ext\u00e9rieur": false,
                          "Porte_Passi_Ext\u00e9rieur": false,
                          "Porte_Passi_Int\u00e9rieur": false
                        },
                        {
                          "idZoneAccess": 9,
                          "description": "Gentilly",
                          "Porte_Dauphine_Ext\u00e9rieur_Entr\u00e9e": false,
                          "Porte_Dauphine_Ext\u00e9rieur_Sortie": false,
                          "Quai_Branly_Ext\u00e9rieur": false,
                          "Passage_Agard_Tesla": false,
                          "Passage_Agard_Volta": false,
                          "Porte_Gentilly": false,
                          "Porte_Italie_Exterieur": true,
                          "Porte_arcueil_Ext\u00e9rieur": true,
                          "Porte_Passi_Ext\u00e9rieur": false,
                          "Porte_Passi_Int\u00e9rieur": false
                        },
                        {
                          "idZoneAccess": 10,
                          "description": "Dauphine & Italie",
                          "Porte_Dauphine_Ext\u00e9rieur_Entr\u00e9e": true,
                          "Porte_Dauphine_Ext\u00e9rieur_Sortie": true,
                          "Quai_Branly_Ext\u00e9rieur": false,
                          "Passage_Agard_Tesla": false,
                          "Passage_Agard_Volta": false,
                          "Porte_Gentilly": false,
                          "Porte_Italie_Exterieur": true,
                          "Porte_arcueil_Ext\u00e9rieur": false,
                          "Porte_Passi_Ext\u00e9rieur": false,
                          "Porte_Passi_Int\u00e9rieur": false
                        }
                      ],
                      "meta": {
                        "timestamp": "2025-11-09T01:22:35.990",
                        "requestId": "c137c5160737982f803afb7e3dd77161cc2ffe64649594d0314a1cda41ca2384"
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/zoneAccess/{idZoneAccess}": {
      "get": {
        "description": "",
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "x-examples": {
                    "Example 1": {
                      "success": true,
                      "code": 200,
                      "message": "OK",
                      "data": {
                        "idZoneAccess": 3,
                        "description": "Dauphine & Passy & Italie",
                        "Porte_Dauphine_Ext\u00e9rieur_Entr\u00e9e": true,
                        "Porte_Dauphine_Ext\u00e9rieur_Sortie": true,
                        "Quai_Branly_Ext\u00e9rieur": false,
                        "Passage_Agard_Tesla": false,
                        "Passage_Agard_Volta": false,
                        "Porte_Gentilly": false,
                        "Porte_Italie_Exterieur": true,
                        "Porte_arcueil_Ext\u00e9rieur": false,
                        "Porte_Passi_Ext\u00e9rieur": true,
                        "Porte_Passi_Int\u00e9rieur": true
                      },
                      "meta": {
                        "timestamp": "2025-11-09T01:22:39.219",
                        "requestId": "afc33355045525231514ff2bd2e479bca6b47172c1eb316ef6d2347e9eedb9a8"
                      }
                    }
                  },
                  "properties": {
                    "message": {
                      "type": "string"
                    },
                    "data": {
                      "type": "object",
                      "properties": {
                        "idZoneAccess": {
                          "type": "integer"
                        },
                        "description": {
                          "type": "string"
                        },
                        "Porte_Dauphine_Ext\u00e9rieur_Entr\u00e9e": {
                          "type": "boolean"
                        },
                        "Porte_Dauphine_Ext\u00e9rieur_Sortie": {
                          "type": "boolean"
                        },
                        "Quai_Branly_Ext\u00e9rieur": {
                          "type": "boolean"
                        },
                        "Passage_Agard_Tesla": {
                          "type": "boolean"
                        },
                        "Passage_Agard_Volta": {
                          "type": "boolean"
                        },
                        "Porte_Gentilly": {
                          "type": "boolean"
                        },
                        "Porte_Italie_Exterieur": {
                          "type": "boolean"
                        },
                        "Porte_arcueil_Ext\u00e9rieur": {
                          "type": "boolean"
                        },
                        "Porte_Passi_Ext\u00e9rieur": {
                          "type": "boolean"
                        },
                        "Porte_Passi_Int\u00e9rieur": {
                          "type": "boolean"
                        }
                      }
                    },
                    "meta": {
                      "type": "object",
                      "properties": {
                        "timestamp": {
                          "type": "string"
                        },
                        "requestId": {
                          "type": "string"
                        }
                      }
                    }
                  }
                },
                "examples": {
                  "Example 1": {
                    "value": {
                      "message": "OK",
                      "data": {
                        "idZoneAccess": 3,
                        "description": "Dauphine & Passy & Italie",
                        "Porte_Dauphine_Ext\u00e9rieur_Entr\u00e9e": true,
                        "Porte_Dauphine_Ext\u00e9rieur_Sortie": true,
                        "Quai_Branly_Ext\u00e9rieur": false,
                        "Passage_Agard_Tesla": false,
                        "Passage_Agard_Volta": false,
                        "Porte_Gentilly": false,
                        "Porte_Italie_Exterieur": true,
                        "Porte_arcueil_Ext\u00e9rieur": false,
                        "Porte_Passi_Ext\u00e9rieur": true,
                        "Porte_Passi_Int\u00e9rieur": true
                      },
                      "meta": {
                        "timestamp": "2025-11-09T01:22:39.219",
                        "requestId": "afc33355045525231514ff2bd2e479bca6b47172c1eb316ef6d2347e9eedb9a8"
                      }
                    }
                  }
                }
              }
            },
            "headers": {}
          },
          "404": {
            "description": "Not Found",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "x-examples": {
                    "Example 1": {
                      "success": false,
                      "code": 404,
                      "message": "L'identifiant idTimeZone '16' n'existe pas.",
                      "errors": [],
                      "meta": {
                        "timestamp": "2025-11-09T02:20:03.471",
                        "requestId": "9dc837f18d167e0ae60ec3c3718e0b529cc2709d7c1cb153726574ce5ea3a8c2"
                      }
                    }
                  },
                  "properties": {
                    "message": {
                      "type": "string"
                    },
                    "errors": {
                      "type": "array",
                      "items": {
                        "type": "object"
                      }
                    },
                    "meta": {
                      "type": "object",
                      "properties": {
                        "timestamp": {
                          "type": "string"
                        },
                        "requestId": {
                          "type": "string"
                        }
                      }
                    }
                  }
                },
                "examples": {
                  "Example 1": {
                    "value": {
                      "message": "L'identifiant idTimeZone '16' n'existe pas.",
                      "errors": [],
                      "meta": {
                        "timestamp": "2025-11-09T02:20:03.471",
                        "requestId": "9dc837f18d167e0ae60ec3c3718e0b529cc2709d7c1cb153726574ce5ea3a8c2"
                      }
                    }
                  }
                }
              }
            }
          }
        }
      },
      "parameters": [
        {
          "schema": {
            "type": "string"
          },
          "name": "idZoneAccess",
          "in": "path",
          "required": true
        }
      ]
    }
  },
  "components": {
    "schemas": {}
  }
}