{
  "openapi": "3.0.4",
  "info": {
    "title": "Swagger Gestione Alloggi - OpenAPI 3.0",
    "description": "Libreria API/REST per la Gestione Alloggi per MM",
    "contact": {
      "email": "apiteam@swagger.io"
    },
    "license": {
      "name": "Apache 2.0",
      "url": "https://www.apache.org/licenses/LICENSE-2.0.html"
    },
    "version": "1.0.12",
    "x-jentic-source-url": "https://api.swaggerhub.com/apis/agenda2/swagger-gestione-alloggi-openapi-30/1.0.12"
  },
  "externalDocs": {
    "description": "Find out more about Swagger",
    "url": "https://swagger.io"
  },
  "servers": [
    {
      "url": "https://xxx.marina.difesa.it/api/v3"
    }
  ],
  "tags": [
    {
      "name": "alloggi",
      "description": "gestione alloggi"
    }
  ],
  "paths": {
    "/richiesteAlloggi": {
      "get": {
        "tags": [
          "alloggi"
        ],
        "summary": "Ritorna lista richieste alloggi dell'utente.",
        "description": "Ritorna lista richieste alloggi",
        "operationId": "getListaRichiesteAlloggi",
        "parameters": [
          {
            "name": "stato",
            "in": "query",
            "description": "Stato richieste alloggi",
            "required": false,
            "schema": {
              "type": "string",
              "format": "string"
            }
          },
          {
            "name": "tipologia",
            "in": "query",
            "description": "Tipologia richieste alloggi",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "count",
            "in": "query",
            "description": "Numero richieste alloggi da ritornare. Default 50. Max 200.",
            "required": false,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "uniqueItems": true,
                  "items": {
                    "$ref": "#/components/schemas/DettaglioRichiesta"
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad request"
          },
          "404": {
            "description": "Request not found"
          },
          "default": {
            "description": "Unexpected error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        },
        "security": [
          {
            "bearerAuth": []
          },
          {
            "api_key": []
          },
          {
            "alloggio_auth": [
              "write:alloggi",
              "read:allogggi"
            ]
          }
        ]
      }
    },
    "/richiestaAlloggio/{idRichiesta}": {
      "get": {
        "tags": [
          "alloggi"
        ],
        "summary": "Ritorna dati di una richiesta d'alloggio.",
        "description": "Ritorna dati di una richiesta d'alloggio.",
        "operationId": "getRichiestaAlloggio",
        "parameters": [
          {
            "name": "idRichiesta",
            "in": "path",
            "description": "Id Richiesta alloggio",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Richiesta"
                }
              },
              "application/xml": {
                "schema": {
                  "$ref": "#/components/schemas/Richiesta"
                }
              }
            }
          },
          "400": {
            "description": "Invalid Id Richiesta"
          },
          "404": {
            "description": "IdRichiesta not found"
          },
          "default": {
            "description": "Unexpected error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        },
        "security": [
          {
            "bearerAuth": []
          },
          {
            "api_key": []
          },
          {
            "alloggio_auth": [
              "write:alloggi",
              "read:alloggi"
            ]
          }
        ]
      },
      "put": {
        "tags": [
          "alloggi"
        ],
        "summary": "Modifica i dati di una richiesta alloggio.",
        "description": "Modifica richiesta alloggio.",
        "operationId": "modificaRichiestaAlloggio",
        "parameters": [
          {
            "name": "idRichiesta",
            "in": "path",
            "description": "Id Richiesta alloggio",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/Richiesta"
              }
            },
            "application/xml": {
              "schema": {
                "$ref": "#/components/schemas/Richiesta"
              }
            },
            "application/x-www-form-urlencoded": {
              "schema": {
                "$ref": "#/components/schemas/Richiesta"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "successful operation",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SASResponse"
                }
              }
            }
          },
          "400": {
            "description": "Invalid IdRichiesta"
          },
          "404": {
            "description": "IdRichiesta not found"
          },
          "default": {
            "description": "Unexpected error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        },
        "security": [
          {
            "bearerAuth": []
          },
          {
            "api_key": []
          },
          {
            "alloggio_auth": [
              "write:alloggi",
              "read:alloggi"
            ]
          }
        ]
      },
      "delete": {
        "tags": [
          "alloggi"
        ],
        "summary": "Annulla richiesta alloggio.",
        "description": "Annulla richiesta alloggio.",
        "operationId": "deleteRichiestaAlloggio",
        "parameters": [
          {
            "name": "idRichiesta",
            "in": "path",
            "description": "IdRichiesta da eliminare",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SASResponse"
                }
              }
            }
          },
          "400": {
            "description": "Invalid IdRichiesta"
          },
          "404": {
            "description": "IdRichiesta not found"
          },
          "default": {
            "description": "Unexpected error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        },
        "security": [
          {
            "bearerAuth": []
          },
          {
            "api_key": []
          },
          {
            "alloggio_auth": [
              "write:alloggi",
              "read:alloggi"
            ]
          }
        ]
      }
    },
    "/richiestaAlloggio/{idRichiesta}/uploadDocument": {
      "post": {
        "tags": [
          "alloggi"
        ],
        "summary": "Upload documento per richiesta.",
        "description": "Upload documento per richiesta.",
        "operationId": "uploadDocument",
        "parameters": [
          {
            "name": "idRichiesta",
            "in": "path",
            "description": "idRichiesta",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          },
          {
            "name": "type",
            "in": "query",
            "description": "Tipologia di documento che si sta caricando",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "cohabitant_id",
            "in": "query",
            "description": "Nel caso di documento di un ospite",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/octet-stream": {
              "schema": {
                "type": "string",
                "format": "binary"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "successful operation",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SASResponse"
                }
              }
            }
          },
          "400": {
            "description": "IdRichiesta invalida o Documento non valido"
          },
          "404": {
            "description": "idRichiesta not found"
          },
          "default": {
            "description": "Unexpected error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        },
        "security": [
          {
            "bearerAuth": []
          },
          {
            "alloggio_auth": [
              "write:alloggi",
              "read:alloggi"
            ]
          }
        ]
      }
    },
    "/richiestaAlloggio": {
      "post": {
        "tags": [
          "alloggi"
        ],
        "summary": "Crea nuova richiesta di alloggio.",
        "description": "Crea nuova richiesta dialloggio.",
        "operationId": "createRichiestaAlloggio",
        "parameters": [
          {
            "name": "alias",
            "in": "query",
            "description": "Utente che esegue richiesta",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "Tipologia",
            "in": "query",
            "description": "Tipologia richiesta",
            "required": true,
            "schema": {
              "$ref": "#/components/schemas/TipoRichiesta"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Richiesta"
                }
              }
            }
          },
          "400": {
            "description": "Invalid Tipologia Richiesta"
          },
          "default": {
            "description": "Unexpected error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        },
        "security": [
          {
            "bearerAuth": []
          },
          {
            "api_key": []
          },
          {
            "alloggio_auth": [
              "write:alloggi",
              "read:alloggi"
            ]
          }
        ]
      }
    },
    "/richiestaAlloggioFile/{idRichiesta}": {
      "get": {
        "tags": [
          "alloggi"
        ],
        "summary": "Ritorna file PDF di un alloggio.",
        "description": "Ritorna file PDF  di un alloggio.",
        "operationId": "getRichiestaAlloggioFile",
        "parameters": [
          {
            "name": "idRichiesta",
            "in": "path",
            "example": "e7e2933e-dab7-40cc-b889-a5fca3428939",
            "description": "Id Richiesta alloggio",
            "required": true,
            "schema": {
              "type": "string",
              "format": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "content": {
              "application/octet-stream": {
                "schema": {
                  "type": "string",
                  "format": "binary"
                }
              }
            }
          },
          "400": {
            "description": "Invalid Id Richiesta"
          },
          "404": {
            "description": "IdRichiesta not found"
          },
          "default": {
            "description": "Unexpected error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        },
        "security": [
          {
            "bearerAuth": []
          },
          {
            "api_key": []
          },
          {
            "alloggio_auth": [
              "write:alloggi",
              "read:alloggi"
            ]
          }
        ]
      }
    },
    "/validaRichiestaAlloggio{idRichiesta}": {
      "post": {
        "tags": [
          "alloggi"
        ],
        "summary": "Azione di validazione della richiesta",
        "description": "Visualizza la richiesta in sola lettura e la inoltra al gestore. La richiesta cambierà stato in Inoltrata e non sarà più modificabile",
        "operationId": "validateRichiestaAlloggio",
        "parameters": [
          {
            "name": "idRichiesta",
            "in": "path",
            "description": "Id Richiesta da validare",
            "example": "cf351ec2-83ca-4ffe-8355-1fb870fd3ecb",
            "required": true,
            "schema": {
              "type": "string",
              "format": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SASResponse"
                }
              }
            }
          },
          "400": {
            "description": "Invalid idRichiesta"
          },
          "404": {
            "description": "idRichiesta not found"
          },
          "default": {
            "description": "Unexpected error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        },
        "security": [
          {
            "api_key": []
          },
          {
            "alloggio_auth": [
              "write:alloggi",
              "read:alloggi"
            ]
          }
        ]
      }
    },
    "/tipologieRichiesta": {
      "get": {
        "tags": [
          "liste"
        ],
        "summary": "Ritorna lista tipologie richieste alloggi.",
        "description": "Ritorna lista tipologie richieste alloggi",
        "operationId": "getListaTipologiaRichieste",
        "responses": {
          "200": {
            "description": "successful operation",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TipoRichiesta"
                }
              },
              "application/xml": {
                "schema": {
                  "$ref": "#/components/schemas/TipoRichiesta"
                }
              }
            }
          },
          "400": {
            "description": "Bad request"
          },
          "default": {
            "description": "Unexpected error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        },
        "security": [
          {
            "bearerAuth": []
          },
          {
            "api_key": []
          },
          {
            "alloggio_auth": [
              "write:liste",
              "read:liste"
            ]
          }
        ]
      }
    },
    "/statiRichiesta": {
      "get": {
        "tags": [
          "liste"
        ],
        "summary": "Ritorna lista stati richieste alloggi.",
        "description": "Ritorna lista stati richieste alloggi",
        "operationId": "getListaStatoRichieste",
        "responses": {
          "200": {
            "description": "successful operation",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/LookupStatoRichiesta"
                  }
                }
              },
              "application/xml": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/LookupStatoRichiesta"
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad request"
          },
          "default": {
            "description": "Unexpected error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        },
        "security": [
          {
            "api_key": []
          },
          {
            "alloggio_auth": [
              "write:liste",
              "read:liste"
            ]
          }
        ]
      }
    },
    "/strutture{tipoRichiesta}": {
      "get": {
        "tags": [
          "liste"
        ],
        "summary": "Ritorna lista delle strutture per una determinata tipologia.",
        "description": "Ritorna lista strutture",
        "operationId": "getListaStrutture",
        "parameters": [
          {
            "name": "tipoRichiesta",
            "in": "path",
            "description": "Tipo di richiesta di cui si vuole l'elenco delle strutture disponibili",
            "example": "OPS",
            "required": true,
            "schema": {
              "$ref": "#/components/schemas/TipoRichiesta"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "uniqueItems": true,
                  "items": {
                    "$ref": "#/components/schemas/Strutture"
                  }
                }
              },
              "application/xml": {
                "schema": {
                  "type": "array",
                  "uniqueItems": true,
                  "items": {
                    "$ref": "#/components/schemas/Strutture"
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad request"
          },
          "default": {
            "description": "Unexpected error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        },
        "security": [
          {
            "bearerAuth": []
          },
          {
            "api_key": []
          },
          {
            "alloggio_auth": [
              "write:liste",
              "read:liste"
            ]
          }
        ]
      }
    },
    "/allegati{tipoRichiesta}": {
      "get": {
        "tags": [
          "liste"
        ],
        "summary": "Ritorna lista allegati possibili per il tipo di richiesta. Se lista vuota allora la richiesta non necessita allegati",
        "operationId": "getTipoAllegati",
        "parameters": [
          {
            "name": "tipoRichiesta",
            "in": "path",
            "description": "Tipo di richiesta di cui si vuole l'elenco delle strutture disponibili",
            "example": "OPS",
            "required": true,
            "schema": {
              "$ref": "#/components/schemas/TipoRichiesta"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/LookupTipoAllegato"
                  }
                }
              },
              "application/xml": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/LookupTipoAllegato"
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad request"
          },
          "default": {
            "description": "Unexpected error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        },
        "security": [
          {
            "api_key": []
          },
          {
            "alloggio_auth": [
              "write:liste",
              "read:liste"
            ]
          }
        ]
      }
    },
    "/turni{tipoRichiesta}": {
      "get": {
        "tags": [
          "liste"
        ],
        "summary": "Ritorna la lista dei turni disponibili per una certa struttura (OPS e CIRCOLI). in quel caso data inizio fine richiesta non sono liberi ma l'utente deve scegliere un turno.",
        "operationId": "getTurni",
        "parameters": [
          {
            "name": "tipoRichiesta",
            "in": "path",
            "description": "Tipo di richiesta di cui si vuole l'elenco dei turni",
            "example": "OPS",
            "required": true,
            "schema": {
              "type": "string",
              "enum": [
                "OPS",
                "CIRCOLO"
              ]
            }
          },
          {
            "name": "id_compendio",
            "in": "query",
            "description": "id_compendio di cui si vogliono i turni",
            "example": 6875,
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Turni"
                  }
                }
              },
              "application/xml": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Turni"
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad request"
          },
          "default": {
            "description": "Unexpected error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        },
        "security": [
          {
            "api_key": []
          },
          {
            "alloggio_auth": [
              "write:liste",
              "read:liste"
            ]
          }
        ]
      }
    }
  },
  "components": {
    "schemas": {
      "Richiesta": {
        "description": "Struttura di una richiesta. Sono tutti i campi che possono definire una richiesta di qualsiasi tipologia",
        "required": [
          "requestid"
        ],
        "type": "object",
        "properties": {
          "requestid": {
            "type": "string",
            "description": "ID univoco della richiesta",
            "example": "cf351ec2-83ca-4ffe-8355-1fb870fd3ecb"
          },
          "request_type": {
            "type": "string",
            "description": "Tipologia della richiesta. Non è modificabile",
            "example": "CIRCOLO_FORESTERIA"
          },
          "matricola_cf": {
            "type": "string",
            "example": "TRMGPP86P18H501W oppure m.marcilli2"
          },
          "nome_cognome": {
            "type": "string",
            "example": "Mario Rossi"
          },
          "sesso_richiedente": {
            "type": "string",
            "example": "M|F"
          },
          "grado": {
            "type": "string",
            "example": "C.C."
          },
          "anzianita_grado": {
            "type": "integer",
            "example": 12
          },
          "anzianita_servizio": {
            "type": "integer",
            "example": 15
          },
          "ente_servizio": {
            "type": "string",
            "example": "Stato Maggiore della Marina"
          },
          "tessera_cmd_n": {
            "type": "string",
            "example": "MMDG678XX"
          },
          "tessera_cmd_rilasciata_da": {
            "type": "string",
            "example": "centro telecom inform marina roma"
          },
          "anni_in_spe": {
            "description": "Anzianità contributiva ente circoli",
            "type": "integer",
            "example": 4
          },
          "corpo_categoria": {
            "description": "Corpo/Categoria",
            "type": "string",
            "example": "(AN)"
          },
          "email": {
            "type": "string",
            "example": "xx@marina.difesa.it"
          },
          "telefono_ufficio": {
            "type": "string",
            "example": "067246398"
          },
          "telefono_privato": {
            "type": "string",
            "example": 3202556333
          },
          "ente_amministratore": {
            "type": "string",
            "example": "Maricommi"
          },
          "tipo_documento": {
            "$ref": "#/components/schemas/LookupTipoDocumento"
          },
          "numero_doc": {
            "type": "string",
            "example": "LG654TR"
          },
          "autorita_rilascio_doc": {
            "type": "string",
            "example": "Comune di Taranto"
          },
          "luogo_rilascio_doc": {
            "type": "string",
            "example": "Taranto"
          },
          "data_rilascio_doc": {
            "type": "number",
            "format": "date-time",
            "description": "Data ultima modifica della richiesta",
            "example": "2016-04-16T16:06:05Z"
          },
          "provincia_res": {
            "type": "string",
            "example": "Roma"
          },
          "citta_res": {
            "type": "string",
            "example": "Roma"
          },
          "via_res": {
            "type": "string",
            "example": "Via Palazzo Marina 12"
          },
          "residence_as_domicile": {
            "description": "Flag per indicare che la residenza coincide col domicilio per cui non è necessario compilare i campi.",
            "type": "string",
            "example": "Y/N"
          },
          "provincia_dom": {
            "type": "string",
            "example": "Latina"
          },
          "citta_dom": {
            "type": "string",
            "example": "Gaeta"
          },
          "via_dom": {
            "type": "string",
            "example": "Via del porto 12"
          },
          "citta_dest": {
            "description": "Scelta dalla lista di comuni passati per le strutture",
            "type": "string",
            "example": "Roma"
          },
          "flag_comune_dest": {
            "description": "Flag per indicare che il richiedente indica una citta_dest e non id_comprensorio.",
            "type": "string",
            "example": "Y|N"
          },
          "id_comprensorio": {
            "description": "Id della struttura scelta. A meno che non abbia scelto una città.",
            "type": "string",
            "example": 3515
          },
          "data_inizio": {
            "description": "Indica la data di Check-in presso la struttura",
            "type": "string",
            "format": "date-time",
            "example": "2025-10-15T00:00:00Z"
          },
          "data_fine": {
            "description": "Indica la data di Check-out.",
            "type": "string",
            "format": "date-time",
            "example": "2025-10-25T00:00:00Z"
          },
          "n_camere": {
            "description": "Indica il numero di camere che si vogliono prenotare. OPS",
            "type": "number",
            "example": 2
          },
          "n_adulti": {
            "description": "Indica il numero di adulti per cui si vuole effettuare la richiesta",
            "type": "number",
            "example": 3
          },
          "n_bambini_under_2": {
            "description": "Indica il numero di bambini per cui si vuole effettuare la richiesta",
            "type": "number",
            "example": 1
          },
          "flag_richiedente": {
            "description": "Flag per indicare che il richiedente non farà parte del gruppo di occupanti (praticamente prenota per terze persone)",
            "type": "string",
            "example": "Y|N"
          },
          "presenza_animali_domestici": {
            "description": "Flag per indicare animali domestici al seguito",
            "type": "string",
            "example": "Y|N"
          },
          "disp_minimo_preavviso": {
            "description": "Flag per un utente disposto a partire ad un minimo preavviso",
            "type": "string",
            "example": "Y|N"
          },
          "disp_stessoturno_altrasede": {
            "description": "Flag per un utente disposto a partire per uno stesso turno ma per una destinazione diversa da quella indicata",
            "type": "string",
            "example": "Y|N"
          },
          "disp_altroturno_sedeirrilevante": {
            "description": "Flag per un utente disposto a partire per altro turno e destinazione diversa",
            "type": "string",
            "example": "Y|N"
          },
          "presenza_di_persone_disabili": {
            "description": "Flag per indicare la presenza di persone disabili",
            "type": "string",
            "example": "Y|N"
          },
          "flag_estensione_soggiorno": {
            "description": "Flag richiesta di estensione al turno successivo (Solo per circolo soggiorno)",
            "type": "string",
            "example": "Y|N"
          },
          "tipo_veicolo": {
            "description": "Descrizione per le richieste che prevedono la gestione di un'autovettura",
            "type": "string",
            "example": "Golf Lupo"
          },
          "targa": {
            "description": "Targa del veicolo",
            "type": "string",
            "example": "XX000YY"
          },
          "localita_ultima_ass": {
            "description": "Ultima località di assegnazione di un OPS. Utile per graduatoria",
            "type": "string",
            "example": "Terminillo"
          },
          "localita_missione": {
            "description": "Ultima località di una missione. Utile per graduatoria",
            "type": "string",
            "example": "USA"
          },
          "data_rientro": {
            "description": "Indica la data di rientro dall'ultima missione indicata",
            "type": "string",
            "format": "date-time",
            "example": "2025-10-15T00:00:00Z"
          },
          "note": {
            "description": "Note che accompagnano la richiesta",
            "type": "string",
            "example": "Si richiede alloggio possibilmente al primo piano per problemi deambulatori"
          },
          "attachments": {
            "type": "array",
            "uniqueItems": true,
            "items": {
              "$ref": "#/components/schemas/Attachment"
            }
          },
          "cohabitants": {
            "type": "array",
            "uniqueItems": true,
            "items": {
              "$ref": "#/components/schemas/Cohabitant"
            }
          }
        },
        "xml": {
          "name": "richiesta"
        }
      },
      "LookupTipoRichiesta": {
        "description": "Lookup Codice-Descrizione del tipo Richiesta",
        "properties": {
          "TipoRichiesta": {
            "$ref": "#/components/schemas/TipoRichiesta"
          },
          "TipoRichiestaDescr": {
            "$ref": "#/components/schemas/TipoRichiestaDescr"
          }
        }
      },
      "TipoRichiesta": {
        "description": "Lista dei valori possibili per la tipologia di richiesta",
        "type": "string",
        "enum": [
          "CIRCOLO_MISSIONE",
          "CIRCOLO_FORESTERIA",
          "CIRCOLO_SOGGIORNO",
          "OPS",
          "APP",
          "ASI",
          "SLI",
          "ASC",
          "AST"
        ]
      },
      "TipoRichiestaDescr": {
        "description": "Lista dei valori possibili per la tipologia di richiesta",
        "type": "string",
        "enum": [
          "Circolo Missione",
          "Circolo Foresteria",
          "Circolo Soggiorno",
          "OPS",
          "APP",
          "ASI",
          "SLI",
          "Alloggio collettivo",
          "AST"
        ]
      },
      "DettaglioRichiesta": {
        "required": [
          "id",
          "request_type"
        ],
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "description": "ID univoco della richiesta",
            "example": "cf351ec2-83ca-4ffe-8355-1fb870fd3ecb"
          },
          "request_type": {
            "$ref": "#/components/schemas/TipoRichiesta"
          },
          "request_type_descr": {
            "$ref": "#/components/schemas/TipoRichiestaDescr"
          },
          "status": {
            "$ref": "#/components/schemas/StatoRichiesta"
          },
          "statusDescr": {
            "$ref": "#/components/schemas/StatoRichiestaDescr"
          },
          "descr_comp": {
            "type": "string",
            "description": "Descrizione destinazione della richiesta",
            "example": "2606 - CIRCOLO UFFICIALI NAPOLI"
          },
          "period": {
            "type": "string",
            "description": "Descrizione periodo richiesto",
            "example": "Dal 07/07/2025 - Al 08/07/2025"
          },
          "str_timestamp": {
            "type": "string",
            "format": "date-time",
            "description": "Data ultima modifica della richiesta",
            "example": "2016-04-16T16:06:05Z"
          },
          "flag_revoke": {
            "type": "string",
            "example": "Y"
          },
          "user": {
            "type": "string",
            "description": "Alias\\CF richiedente",
            "example": "m_konwathin"
          }
        },
        "xml": {
          "name": "dettaglioRichiesta"
        }
      },
      "LookupStatoRichiesta": {
        "description": "Lookup stati della richiesta",
        "properties": {
          "code": {
            "$ref": "#/components/schemas/StatoRichiesta"
          },
          "description": {
            "$ref": "#/components/schemas/StatoRichiestaDescr"
          }
        }
      },
      "StatoRichiesta": {
        "description": "Elenco degli stati possibili di una richiesta",
        "type": "string",
        "enum": [
          "DRAFT",
          "INOLTRATA",
          "REVISIONE",
          "IN_LAVORAZIONE",
          "IN_VALIDAZIONE",
          "COMPLETATO",
          "RIFUTATO",
          "ANNULLATO"
        ]
      },
      "StatoRichiestaDescr": {
        "description": "Elenco degli stati possibili di una richiesta",
        "type": "string",
        "enum": [
          "In bozza",
          "Inoltrata",
          "In revisione",
          "In lavorazione",
          "In validazione",
          "Accettato",
          "Rifiutata",
          "Annullata"
        ]
      },
      "Turni": {
        "required": [
          "id_compendio"
        ],
        "type": "object",
        "properties": {
          "id_compendio": {
            "type": "string",
            "example": 4483,
            "description": "ID del compendio"
          },
          "tipo_asset": {
            "type": "string",
            "enum": [
              "OPS",
              "CIRCOLO"
            ],
            "example": 4483,
            "description": "ID del compendio"
          },
          "id_turno": {
            "type": "number",
            "example": 2,
            "description": "numerico incrementale in chiave con id_compendio"
          },
          "da": {
            "type": "string",
            "format": "date-time",
            "description": "Data inizio turno",
            "example": "2025-12-14T00:00:00Z"
          },
          "a": {
            "type": "string",
            "format": "date-time",
            "description": "Data fine turno",
            "example": "2025-12-21T00:00:00Z"
          },
          "data_termine": {
            "type": "string",
            "format": "date-time",
            "description": "Data termine di presentazione domanda per il turno",
            "example": "2025-12-21T00:00:00Z"
          }
        }
      },
      "Strutture": {
        "required": [
          "id_comprensorio"
        ],
        "type": "object",
        "properties": {
          "id_comprensorio": {
            "type": "string",
            "example": 4483,
            "description": "ID del compendio"
          },
          "id_immobile": {
            "type": "string",
            "example": 3004,
            "description": "ID dell'immobile (per i Circoli)"
          },
          "denominazionecompendio": {
            "type": "string",
            "example": "CIRCOLO UFFICIALI LA MADDALENA",
            "description": "Denominazione della struttura"
          },
          "comprensorio_descr": {
            "type": "string",
            "example": "4483 - CIRCOLO UFFICIALI LA MADDALENA",
            "description": "ID Compendio - Denominazione della struttura"
          },
          "gestore": {
            "type": "string",
            "example": "CIRCOLO UFFICIALI LA MADDALENA\\MARICAPITALE",
            "description": "Ente Gestore della struttura"
          },
          "comune": {
            "type": "string",
            "example": "Cagliari",
            "description": "Comune di riferimento della struttura"
          },
          "periodo_rule": {
            "type": "string",
            "example": "La domanda non può essere inoltrata prima di 45 giorni",
            "description": "Regola di presentazione della richiesta"
          }
        }
      },
      "Attachment": {
        "description": "Struttura tabellare degli allegati di una richiesta",
        "type": "object",
        "properties": {
          "cohabitant_id": {
            "description": "Solo se tipo_file è DOCUMENTO_OSPITE",
            "type": "integer"
          },
          "nomefile": {
            "type": "string"
          },
          "tipo_file": {
            "$ref": "#/components/schemas/Tipo_Allegato"
          }
        }
      },
      "LookupTipoDocumento": {
        "description": "Lookup degli allegati possibili",
        "type": "object",
        "properties": {
          "tipo_documento": {
            "$ref": "#/components/schemas/Tipo_Documento"
          },
          "tipo_documento_descr": {
            "$ref": "#/components/schemas/Tipo_Documento_Descr"
          }
        }
      },
      "Tipo_Documento": {
        "description": "Elenco dei documenti possibili",
        "type": "string",
        "enum": [
          "CI",
          "PATENTE",
          "CIE",
          "PASSAPORTO",
          "CMD"
        ]
      },
      "Tipo_Documento_Descr": {
        "description": "Descrizione dei documenti possibili",
        "type": "string",
        "enum": [
          "Carta d'Identità",
          "Patente",
          "Carta d'Identità Elettronica",
          "Passaporto",
          "CMD"
        ]
      },
      "LookupTipoAllegato": {
        "description": "Lookup degli allegati possibili",
        "properties": {
          "code": {
            "$ref": "#/components/schemas/Tipo_Allegato"
          },
          "description": {
            "$ref": "#/components/schemas/Allegato_Descr"
          },
          "mandatory": {
            "type": "string",
            "enum": [
              "Obbligatorio",
              "Facoltativo"
            ]
          }
        }
      },
      "Tipo_Allegato": {
        "description": "Elenco degli allegati possibili",
        "type": "string",
        "enum": [
          "BUSTA_PAGA",
          "AUTOCERTIFICAZIONE",
          "CUD_730_UNICO",
          "DOC_SANITARI",
          "TRASFERIMENTI",
          "DOCUMENTO_DI_IDENTITA",
          "DOCUMENTO_OSPITE"
        ]
      },
      "Allegato_Descr": {
        "description": "Descrizione degli allegati possibili",
        "type": "string",
        "enum": [
          "Busta paga",
          "Autocertificazione",
          "CUD/730/UNICO",
          "Doc. sanitaria",
          "Trasferimenti d'autorità",
          "Documento di identità",
          "Documento ospite"
        ]
      },
      "Cohabitant": {
        "description": "Dettaglio accompagnatore",
        "type": "object",
        "properties": {
          "cohabitant_id": {
            "description": "intero incrementale che accompagna la persona [1,2,3...]",
            "type": "integer",
            "example": 1
          },
          "grado_parentela": {
            "$ref": "#/components/schemas/Grado_Parentela"
          },
          "nome_cognome": {
            "type": "string",
            "example": "Mario Rossi"
          },
          "data_di_nascita": {
            "type": "integer",
            "format": "date-time"
          },
          "sesso": {
            "type": "string",
            "enum": [
              "M",
              "F"
            ]
          },
          "parente_a_carico": {
            "type": "string",
            "enum": [
              "Sì",
              false
            ]
          },
          "ospite": {
            "description": "per Circolo Soggiorno e Foresteria",
            "type": "string",
            "enum": [
              "Sì",
              false
            ]
          },
          "persona_diversamente_abile": {
            "description": "d",
            "type": "string",
            "enum": [
              "Sì",
              false
            ]
          }
        }
      },
      "Grado_Parentela": {
        "description": "Tipologia di accompagnatori",
        "type": "string",
        "enum": [
          "Figlio",
          "Partner",
          "Altro"
        ]
      },
      "SASResponse": {
        "description": "Messaggio di warning non bloccante o di operazione effettuata con successo. 0 indica buona esecuzione 2 indica warning bloccante 3 indica warning non bloccante",
        "type": "object",
        "properties": {
          "code": {
            "type": "integer",
            "example": 0,
            "format": "int32"
          },
          "type": {
            "example": "TBD (serve?)",
            "type": "string"
          },
          "message": {
            "example": "Modifica effettuata correttamente",
            "type": "string"
          }
        }
      },
      "Error": {
        "type": "object",
        "properties": {
          "code": {
            "type": "string"
          },
          "message": {
            "type": "string"
          }
        },
        "required": [
          "code",
          "message"
        ],
        "example": {
          "code": -1,
          "message": "Errore nei dati della richiesta"
        }
      }
    },
    "requestBodies": {
      "Alloggio": {
        "description": "Alloggio da creare",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/Richiesta"
            }
          },
          "application/xml": {
            "schema": {
              "$ref": "#/components/schemas/Richiesta"
            }
          }
        }
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      },
      "alloggio_auth": {
        "type": "oauth2",
        "flows": {
          "implicit": {
            "authorizationUrl": "https://xxx.marina.difesa.it/oauth/authorize",
            "scopes": {
              "write:alloggi": "modify pets in your account",
              "read:alloggi": "read your alloggi",
              "read:allogggi": "read:allogggi",
              "write:liste": "write:liste",
              "read:liste": "read:liste"
            }
          }
        }
      },
      "api_key": {
        "type": "apiKey",
        "name": "api_key",
        "in": "header"
      }
    }
  },
  "security": [
    {
      "bearerAuth": []
    }
  ]
}
