{
  "openapi": "3.0.3",
  "info": {
    "title": "Calendar API",
    "version": "v3",
    "description": "Manipulates events and other calendar data.",
    "x-jentic-source-url": "https://developers.google.com/calendar/api",
    "contact": {
      "name": "API Support"
    }
  },
  "servers": [
    {
      "url": "https://www.googleapis.com/calendar/v3"
    }
  ],
  "paths": {
    "/calendars/{calendarId}/acl/{ruleId}": {
      "delete": {
        "operationId": "calendar_acl_delete",
        "summary": "Deletes an access control rule.",
        "description": "Deletes an access control rule.",
        "tags": [
          "Acl"
        ],
        "parameters": [
          {
            "name": "calendarId",
            "in": "path",
            "description": "Calendar identifier. To retrieve calendar IDs call the calendarList.list method. If you want to access the primary calendar of the currently logged in user, use the \"primary\" keyword.",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "ruleId",
            "in": "path",
            "description": "ACL rule identifier.",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "204": {
            "description": "No content"
          }
        }
      },
      "get": {
        "operationId": "calendar_acl_get",
        "summary": "Returns an access control rule.",
        "description": "Returns an access control rule.",
        "tags": [
          "Acl"
        ],
        "parameters": [
          {
            "name": "calendarId",
            "in": "path",
            "description": "Calendar identifier. To retrieve calendar IDs call the calendarList.list method. If you want to access the primary calendar of the currently logged in user, use the \"primary\" keyword.",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "ruleId",
            "in": "path",
            "description": "ACL rule identifier.",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AclRule"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      },
      "patch": {
        "operationId": "calendar_acl_patch",
        "summary": "Updates an access control rule. This method supports patch semantics.",
        "description": "Updates an access control rule. This method supports patch semantics.",
        "tags": [
          "Acl"
        ],
        "parameters": [
          {
            "name": "calendarId",
            "in": "path",
            "description": "Calendar identifier. To retrieve calendar IDs call the calendarList.list method. If you want to access the primary calendar of the currently logged in user, use the \"primary\" keyword.",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "ruleId",
            "in": "path",
            "description": "ACL rule identifier.",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "sendNotifications",
            "in": "query",
            "description": "Whether to send notifications about the calendar sharing change. Note that there are no notifications on access removal. Optional. The default is True.",
            "required": false,
            "schema": {
              "type": "boolean"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/AclRule"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AclRule"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      },
      "put": {
        "operationId": "calendar_acl_update",
        "summary": "Updates an access control rule.",
        "description": "Updates an access control rule.",
        "tags": [
          "Acl"
        ],
        "parameters": [
          {
            "name": "calendarId",
            "in": "path",
            "description": "Calendar identifier. To retrieve calendar IDs call the calendarList.list method. If you want to access the primary calendar of the currently logged in user, use the \"primary\" keyword.",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "ruleId",
            "in": "path",
            "description": "ACL rule identifier.",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "sendNotifications",
            "in": "query",
            "description": "Whether to send notifications about the calendar sharing change. Note that there are no notifications on access removal. Optional. The default is True.",
            "required": false,
            "schema": {
              "type": "boolean"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/AclRule"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AclRule"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/calendars/{calendarId}/acl": {
      "post": {
        "operationId": "calendar_acl_insert",
        "summary": "Creates an access control rule.",
        "description": "Creates an access control rule.",
        "tags": [
          "Acl"
        ],
        "parameters": [
          {
            "name": "calendarId",
            "in": "path",
            "description": "Calendar identifier. To retrieve calendar IDs call the calendarList.list method. If you want to access the primary calendar of the currently logged in user, use the \"primary\" keyword.",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "sendNotifications",
            "in": "query",
            "description": "Whether to send notifications about the calendar sharing change. Optional. The default is True.",
            "required": false,
            "schema": {
              "type": "boolean"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/AclRule"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AclRule"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      },
      "get": {
        "operationId": "calendar_acl_list",
        "summary": "Returns the rules in the access control list for the calendar.",
        "description": "Returns the rules in the access control list for the calendar.",
        "tags": [
          "Acl"
        ],
        "parameters": [
          {
            "name": "calendarId",
            "in": "path",
            "description": "Calendar identifier. To retrieve calendar IDs call the calendarList.list method. If you want to access the primary calendar of the currently logged in user, use the \"primary\" keyword.",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "maxResults",
            "in": "query",
            "description": "Maximum number of entries returned on one result page. By default the value is 100 entries. The page size can never be larger than 250 entries. Optional.",
            "required": false,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "pageToken",
            "in": "query",
            "description": "Token specifying which result page to return. Optional.",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "showDeleted",
            "in": "query",
            "description": "Whether to include deleted ACLs in the result. Deleted ACLs are represented by role equal to \"none\". Deleted ACLs will always be included if syncToken is provided. Optional. The default is False.",
            "required": false,
            "schema": {
              "type": "boolean"
            }
          },
          {
            "name": "syncToken",
            "in": "query",
            "description": "Token obtained from the nextSyncToken field returned on the last page of results from the previous list request. It makes the result of this list request contain only entries that have changed since then. All entries deleted since the previous list request will always be in the result set and it is not allowed to set showDeleted to False.\nIf the syncToken expires, the server will respond with a 410 GONE response code and the client should clear its storage and perform a full synchronization without any syncToken.\nLearn more about incremental synchronization.\nOptional. The default is to return all entries.",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Acl"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/calendars/{calendarId}/acl/watch": {
      "post": {
        "operationId": "calendar_acl_watch",
        "summary": "Watch for changes to ACL resources.",
        "description": "Watch for changes to ACL resources.",
        "tags": [
          "Acl"
        ],
        "parameters": [
          {
            "name": "calendarId",
            "in": "path",
            "description": "Calendar identifier. To retrieve calendar IDs call the calendarList.list method. If you want to access the primary calendar of the currently logged in user, use the \"primary\" keyword.",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "maxResults",
            "in": "query",
            "description": "Maximum number of entries returned on one result page. By default the value is 100 entries. The page size can never be larger than 250 entries. Optional.",
            "required": false,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "pageToken",
            "in": "query",
            "description": "Token specifying which result page to return. Optional.",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "showDeleted",
            "in": "query",
            "description": "Whether to include deleted ACLs in the result. Deleted ACLs are represented by role equal to \"none\". Deleted ACLs will always be included if syncToken is provided. Optional. The default is False.",
            "required": false,
            "schema": {
              "type": "boolean"
            }
          },
          {
            "name": "syncToken",
            "in": "query",
            "description": "Token obtained from the nextSyncToken field returned on the last page of results from the previous list request. It makes the result of this list request contain only entries that have changed since then. All entries deleted since the previous list request will always be in the result set and it is not allowed to set showDeleted to False.\nIf the syncToken expires, the server will respond with a 410 GONE response code and the client should clear its storage and perform a full synchronization without any syncToken.\nLearn more about incremental synchronization.\nOptional. The default is to return all entries.",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/Channel"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Channel"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/users/me/calendarList/{calendarId}": {
      "delete": {
        "operationId": "calendar_calendarList_delete",
        "summary": "Removes a calendar from the user's calendar list.",
        "description": "Removes a calendar from the user's calendar list.",
        "tags": [
          "Calendarlist"
        ],
        "parameters": [
          {
            "name": "calendarId",
            "in": "path",
            "description": "Calendar identifier. To retrieve calendar IDs call the calendarList.list method. If you want to access the primary calendar of the currently logged in user, use the \"primary\" keyword.",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "204": {
            "description": "No content"
          }
        }
      },
      "get": {
        "operationId": "calendar_calendarList_get",
        "summary": "Returns a calendar from the user's calendar list.",
        "description": "Returns a calendar from the user's calendar list.",
        "tags": [
          "Calendarlist"
        ],
        "parameters": [
          {
            "name": "calendarId",
            "in": "path",
            "description": "Calendar identifier. To retrieve calendar IDs call the calendarList.list method. If you want to access the primary calendar of the currently logged in user, use the \"primary\" keyword.",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CalendarListEntry"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      },
      "patch": {
        "operationId": "calendar_calendarList_patch",
        "summary": "Updates an existing calendar on the user's calendar list. This method supports patch semantics.",
        "description": "Updates an existing calendar on the user's calendar list. This method supports patch semantics.",
        "tags": [
          "Calendarlist"
        ],
        "parameters": [
          {
            "name": "calendarId",
            "in": "path",
            "description": "Calendar identifier. To retrieve calendar IDs call the calendarList.list method. If you want to access the primary calendar of the currently logged in user, use the \"primary\" keyword.",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "colorRgbFormat",
            "in": "query",
            "description": "Whether to use the foregroundColor and backgroundColor fields to write the calendar colors (RGB). If this feature is used, the index-based colorId field will be set to the best matching option automatically. Optional. The default is False.",
            "required": false,
            "schema": {
              "type": "boolean"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CalendarListEntry"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CalendarListEntry"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      },
      "put": {
        "operationId": "calendar_calendarList_update",
        "summary": "Updates an existing calendar on the user's calendar list.",
        "description": "Updates an existing calendar on the user's calendar list.",
        "tags": [
          "Calendarlist"
        ],
        "parameters": [
          {
            "name": "calendarId",
            "in": "path",
            "description": "Calendar identifier. To retrieve calendar IDs call the calendarList.list method. If you want to access the primary calendar of the currently logged in user, use the \"primary\" keyword.",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "colorRgbFormat",
            "in": "query",
            "description": "Whether to use the foregroundColor and backgroundColor fields to write the calendar colors (RGB). If this feature is used, the index-based colorId field will be set to the best matching option automatically. Optional. The default is False.",
            "required": false,
            "schema": {
              "type": "boolean"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CalendarListEntry"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CalendarListEntry"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/users/me/calendarList": {
      "post": {
        "operationId": "calendar_calendarList_insert",
        "summary": "Inserts an existing calendar into the user's calendar list.",
        "description": "Inserts an existing calendar into the user's calendar list.",
        "tags": [
          "Calendarlist"
        ],
        "parameters": [
          {
            "name": "colorRgbFormat",
            "in": "query",
            "description": "Whether to use the foregroundColor and backgroundColor fields to write the calendar colors (RGB). If this feature is used, the index-based colorId field will be set to the best matching option automatically. Optional. The default is False.",
            "required": false,
            "schema": {
              "type": "boolean"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CalendarListEntry"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CalendarListEntry"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      },
      "get": {
        "operationId": "calendar_calendarList_list",
        "summary": "Returns the calendars on the user's calendar list.",
        "description": "Returns the calendars on the user's calendar list.",
        "tags": [
          "Calendarlist"
        ],
        "parameters": [
          {
            "name": "maxResults",
            "in": "query",
            "description": "Maximum number of entries returned on one result page. By default the value is 100 entries. The page size can never be larger than 250 entries. Optional.",
            "required": false,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "minAccessRole",
            "in": "query",
            "description": "The minimum access role for the user in the returned entries. Optional. The default is no restriction.",
            "required": false,
            "schema": {
              "type": "string",
              "enum": [
                "freeBusyReader",
                "owner",
                "reader",
                "writer"
              ]
            }
          },
          {
            "name": "pageToken",
            "in": "query",
            "description": "Token specifying which result page to return. Optional.",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "showDeleted",
            "in": "query",
            "description": "Whether to include deleted calendar list entries in the result. Optional. The default is False.",
            "required": false,
            "schema": {
              "type": "boolean"
            }
          },
          {
            "name": "showHidden",
            "in": "query",
            "description": "Whether to show hidden entries. Optional. The default is False.",
            "required": false,
            "schema": {
              "type": "boolean"
            }
          },
          {
            "name": "syncToken",
            "in": "query",
            "description": "Token obtained from the nextSyncToken field returned on the last page of results from the previous list request. It makes the result of this list request contain only entries that have changed since then. If only read-only fields such as calendar properties or ACLs have changed, the entry won't be returned. All entries deleted and hidden since the previous list request will always be in the result set and it is not allowed to set showDeleted neither showHidden to False.\nTo ensure client state consistency minAccessRole query parameter cannot be specified together with nextSyncToken.\nIf the syncToken expires, the server will respond with a 410 GONE response code and the client should clear its storage and perform a full synchronization without any syncToken.\nLearn more about incremental synchronization.\nOptional. The default is to return all entries.",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CalendarList"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/users/me/calendarList/watch": {
      "post": {
        "operationId": "calendar_calendarList_watch",
        "summary": "Watch for changes to CalendarList resources.",
        "description": "Watch for changes to CalendarList resources.",
        "tags": [
          "Calendarlist"
        ],
        "parameters": [
          {
            "name": "maxResults",
            "in": "query",
            "description": "Maximum number of entries returned on one result page. By default the value is 100 entries. The page size can never be larger than 250 entries. Optional.",
            "required": false,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "minAccessRole",
            "in": "query",
            "description": "The minimum access role for the user in the returned entries. Optional. The default is no restriction.",
            "required": false,
            "schema": {
              "type": "string",
              "enum": [
                "freeBusyReader",
                "owner",
                "reader",
                "writer"
              ]
            }
          },
          {
            "name": "pageToken",
            "in": "query",
            "description": "Token specifying which result page to return. Optional.",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "showDeleted",
            "in": "query",
            "description": "Whether to include deleted calendar list entries in the result. Optional. The default is False.",
            "required": false,
            "schema": {
              "type": "boolean"
            }
          },
          {
            "name": "showHidden",
            "in": "query",
            "description": "Whether to show hidden entries. Optional. The default is False.",
            "required": false,
            "schema": {
              "type": "boolean"
            }
          },
          {
            "name": "syncToken",
            "in": "query",
            "description": "Token obtained from the nextSyncToken field returned on the last page of results from the previous list request. It makes the result of this list request contain only entries that have changed since then. If only read-only fields such as calendar properties or ACLs have changed, the entry won't be returned. All entries deleted and hidden since the previous list request will always be in the result set and it is not allowed to set showDeleted neither showHidden to False.\nTo ensure client state consistency minAccessRole query parameter cannot be specified together with nextSyncToken.\nIf the syncToken expires, the server will respond with a 410 GONE response code and the client should clear its storage and perform a full synchronization without any syncToken.\nLearn more about incremental synchronization.\nOptional. The default is to return all entries.",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/Channel"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Channel"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/calendars/{calendarId}/clear": {
      "post": {
        "operationId": "calendar_calendars_clear",
        "summary": "Clears a primary calendar. This operation deletes all events associated with the primary calendar of an account.",
        "description": "Clears a primary calendar. This operation deletes all events associated with the primary calendar of an account.",
        "tags": [
          "Calendars"
        ],
        "parameters": [
          {
            "name": "calendarId",
            "in": "path",
            "description": "Calendar identifier. To retrieve calendar IDs call the calendarList.list method. If you want to access the primary calendar of the currently logged in user, use the \"primary\" keyword.",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "204": {
            "description": "No content"
          }
        }
      }
    },
    "/calendars/{calendarId}": {
      "delete": {
        "operationId": "calendar_calendars_delete",
        "summary": "Deletes a secondary calendar. Use calendars.clear for clearing all events on primary calendars.",
        "description": "Deletes a secondary calendar. Use calendars.clear for clearing all events on primary calendars.",
        "tags": [
          "Calendars"
        ],
        "parameters": [
          {
            "name": "calendarId",
            "in": "path",
            "description": "Calendar identifier. To retrieve calendar IDs call the calendarList.list method. If you want to access the primary calendar of the currently logged in user, use the \"primary\" keyword.",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "204": {
            "description": "No content"
          }
        }
      },
      "get": {
        "operationId": "calendar_calendars_get",
        "summary": "Returns metadata for a calendar.",
        "description": "Returns metadata for a calendar.",
        "tags": [
          "Calendars"
        ],
        "parameters": [
          {
            "name": "calendarId",
            "in": "path",
            "description": "Calendar identifier. To retrieve calendar IDs call the calendarList.list method. If you want to access the primary calendar of the currently logged in user, use the \"primary\" keyword.",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Calendar"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      },
      "patch": {
        "operationId": "calendar_calendars_patch",
        "summary": "Updates metadata for a calendar. This method supports patch semantics.",
        "description": "Updates metadata for a calendar. This method supports patch semantics.",
        "tags": [
          "Calendars"
        ],
        "parameters": [
          {
            "name": "calendarId",
            "in": "path",
            "description": "Calendar identifier. To retrieve calendar IDs call the calendarList.list method. If you want to access the primary calendar of the currently logged in user, use the \"primary\" keyword.",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/Calendar"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Calendar"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      },
      "put": {
        "operationId": "calendar_calendars_update",
        "summary": "Updates metadata for a calendar.",
        "description": "Updates metadata for a calendar.",
        "tags": [
          "Calendars"
        ],
        "parameters": [
          {
            "name": "calendarId",
            "in": "path",
            "description": "Calendar identifier. To retrieve calendar IDs call the calendarList.list method. If you want to access the primary calendar of the currently logged in user, use the \"primary\" keyword.",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/Calendar"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Calendar"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/calendars": {
      "post": {
        "operationId": "calendar_calendars_insert",
        "summary": "Creates a secondary calendar.\nThe authenticated user for the request is made the data owner of the new calendar.\n\nNote: We recommend to authenticate as the intended data owner of the calendar. You can",
        "description": "Creates a secondary calendar.\nThe authenticated user for the request is made the data owner of the new calendar.\n\nNote: We recommend to authenticate as the intended data owner of the calendar. You can use domain-wide delegation of authority to allow applications to act on behalf of a specific user. Don't use a service account for authentication. If you use a service account for authentication, the service account is the data owner, which can lead to unexpected behavior. For example, if a service account is the data owner, data ownership cannot be transferred.",
        "tags": [
          "Calendars"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/Calendar"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Calendar"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/channels/stop": {
      "post": {
        "operationId": "calendar_channels_stop",
        "summary": "Stop watching resources through this channel",
        "description": "Stop watching resources through this channel",
        "tags": [
          "Channels"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/Channel"
              }
            }
          }
        },
        "responses": {
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "204": {
            "description": "No content"
          }
        }
      }
    },
    "/colors": {
      "get": {
        "operationId": "calendar_colors_get",
        "summary": "Returns the color definitions for calendars and events.",
        "description": "Returns the color definitions for calendars and events.",
        "tags": [
          "Colors"
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Colors"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/calendars/{calendarId}/events/{eventId}": {
      "delete": {
        "operationId": "calendar_events_delete",
        "summary": "Deletes an event.",
        "description": "Deletes an event.",
        "tags": [
          "Events"
        ],
        "parameters": [
          {
            "name": "calendarId",
            "in": "path",
            "description": "Calendar identifier. To retrieve calendar IDs call the calendarList.list method. If you want to access the primary calendar of the currently logged in user, use the \"primary\" keyword.",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "eventId",
            "in": "path",
            "description": "Event identifier.",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "sendNotifications",
            "in": "query",
            "description": "Deprecated. Please use sendUpdates instead.\n\nWhether to send notifications about the deletion of the event. Note that some emails might still be sent even if you set the value to false. The default is false.",
            "required": false,
            "schema": {
              "type": "boolean"
            }
          },
          {
            "name": "sendUpdates",
            "in": "query",
            "description": "Guests who should receive notifications about the deletion of the event.",
            "required": false,
            "schema": {
              "type": "string",
              "enum": [
                "all",
                "externalOnly",
                "none"
              ]
            }
          }
        ],
        "responses": {
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "204": {
            "description": "No content"
          }
        }
      },
      "get": {
        "operationId": "calendar_events_get",
        "summary": "Returns an event based on its Google Calendar ID. To retrieve an event using its iCalendar ID, call the events.list method using the iCalUID parameter.",
        "description": "Returns an event based on its Google Calendar ID. To retrieve an event using its iCalendar ID, call the events.list method using the iCalUID parameter.",
        "tags": [
          "Events"
        ],
        "parameters": [
          {
            "name": "alwaysIncludeEmail",
            "in": "query",
            "description": "Deprecated and ignored. A value will always be returned in the email field for the organizer, creator and attendees, even if no real email address is available (i.e. a generated, non-working value will be provided).",
            "required": false,
            "schema": {
              "type": "boolean"
            }
          },
          {
            "name": "calendarId",
            "in": "path",
            "description": "Calendar identifier. To retrieve calendar IDs call the calendarList.list method. If you want to access the primary calendar of the currently logged in user, use the \"primary\" keyword.",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "eventId",
            "in": "path",
            "description": "Event identifier.",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "maxAttendees",
            "in": "query",
            "description": "The maximum number of attendees to include in the response. If there are more than the specified number of attendees, only the participant is returned. Optional.",
            "required": false,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "timeZone",
            "in": "query",
            "description": "Time zone used in the response. Optional. The default is the time zone of the calendar.",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Event"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      },
      "patch": {
        "operationId": "calendar_events_patch",
        "summary": "Updates an event. This method supports patch semantics.",
        "description": "Updates an event. This method supports patch semantics.",
        "tags": [
          "Events"
        ],
        "parameters": [
          {
            "name": "alwaysIncludeEmail",
            "in": "query",
            "description": "Deprecated and ignored. A value will always be returned in the email field for the organizer, creator and attendees, even if no real email address is available (i.e. a generated, non-working value will be provided).",
            "required": false,
            "schema": {
              "type": "boolean"
            }
          },
          {
            "name": "calendarId",
            "in": "path",
            "description": "Calendar identifier. To retrieve calendar IDs call the calendarList.list method. If you want to access the primary calendar of the currently logged in user, use the \"primary\" keyword.",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "conferenceDataVersion",
            "in": "query",
            "description": "Version number of conference data supported by the API client. Version 0 assumes no conference data support and ignores conference data in the event's body. Version 1 enables support for copying of ConferenceData as well as for creating new conferences using the createRequest field of conferenceData. The default is 0.",
            "required": false,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "eventId",
            "in": "path",
            "description": "Event identifier.",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "maxAttendees",
            "in": "query",
            "description": "The maximum number of attendees to include in the response. If there are more than the specified number of attendees, only the participant is returned. Optional.",
            "required": false,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "sendNotifications",
            "in": "query",
            "description": "Deprecated. Please use sendUpdates instead.\n\nWhether to send notifications about the event update (for example, description changes, etc.). Note that some emails might still be sent even if you set the value to false. The default is false.",
            "required": false,
            "schema": {
              "type": "boolean"
            }
          },
          {
            "name": "sendUpdates",
            "in": "query",
            "description": "Guests who should receive notifications about the event update (for example, title changes, etc.).",
            "required": false,
            "schema": {
              "type": "string",
              "enum": [
                "all",
                "externalOnly",
                "none"
              ]
            }
          },
          {
            "name": "supportsAttachments",
            "in": "query",
            "description": "Whether API client performing operation supports event attachments. Optional. The default is False.",
            "required": false,
            "schema": {
              "type": "boolean"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/Event"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Event"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      },
      "put": {
        "operationId": "calendar_events_update",
        "summary": "Updates an event.",
        "description": "Updates an event.",
        "tags": [
          "Events"
        ],
        "parameters": [
          {
            "name": "alwaysIncludeEmail",
            "in": "query",
            "description": "Deprecated and ignored. A value will always be returned in the email field for the organizer, creator and attendees, even if no real email address is available (i.e. a generated, non-working value will be provided).",
            "required": false,
            "schema": {
              "type": "boolean"
            }
          },
          {
            "name": "calendarId",
            "in": "path",
            "description": "Calendar identifier. To retrieve calendar IDs call the calendarList.list method. If you want to access the primary calendar of the currently logged in user, use the \"primary\" keyword.",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "conferenceDataVersion",
            "in": "query",
            "description": "Version number of conference data supported by the API client. Version 0 assumes no conference data support and ignores conference data in the event's body. Version 1 enables support for copying of ConferenceData as well as for creating new conferences using the createRequest field of conferenceData. The default is 0.",
            "required": false,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "eventId",
            "in": "path",
            "description": "Event identifier.",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "maxAttendees",
            "in": "query",
            "description": "The maximum number of attendees to include in the response. If there are more than the specified number of attendees, only the participant is returned. Optional.",
            "required": false,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "sendNotifications",
            "in": "query",
            "description": "Deprecated. Please use sendUpdates instead.\n\nWhether to send notifications about the event update (for example, description changes, etc.). Note that some emails might still be sent even if you set the value to false. The default is false.",
            "required": false,
            "schema": {
              "type": "boolean"
            }
          },
          {
            "name": "sendUpdates",
            "in": "query",
            "description": "Guests who should receive notifications about the event update (for example, title changes, etc.).",
            "required": false,
            "schema": {
              "type": "string",
              "enum": [
                "all",
                "externalOnly",
                "none"
              ]
            }
          },
          {
            "name": "supportsAttachments",
            "in": "query",
            "description": "Whether API client performing operation supports event attachments. Optional. The default is False.",
            "required": false,
            "schema": {
              "type": "boolean"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/Event"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Event"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/calendars/{calendarId}/events/import": {
      "post": {
        "operationId": "calendar_events_import",
        "summary": "Imports an event. This operation is used to add a private copy of an existing event to a calendar. Only events with an eventType of default may be imported.\nDeprecated behavior: If a non-default event",
        "description": "Imports an event. This operation is used to add a private copy of an existing event to a calendar. Only events with an eventType of default may be imported.\nDeprecated behavior: If a non-default event is imported, its type will be changed to default and any event-type-specific properties it may have will be dropped.",
        "tags": [
          "Events"
        ],
        "parameters": [
          {
            "name": "calendarId",
            "in": "path",
            "description": "Calendar identifier. To retrieve calendar IDs call the calendarList.list method. If you want to access the primary calendar of the currently logged in user, use the \"primary\" keyword.",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "conferenceDataVersion",
            "in": "query",
            "description": "Version number of conference data supported by the API client. Version 0 assumes no conference data support and ignores conference data in the event's body. Version 1 enables support for copying of ConferenceData as well as for creating new conferences using the createRequest field of conferenceData. The default is 0.",
            "required": false,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "supportsAttachments",
            "in": "query",
            "description": "Whether API client performing operation supports event attachments. Optional. The default is False.",
            "required": false,
            "schema": {
              "type": "boolean"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/Event"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Event"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/calendars/{calendarId}/events": {
      "post": {
        "operationId": "calendar_events_insert",
        "summary": "Creates an event.",
        "description": "Creates an event.",
        "tags": [
          "Events"
        ],
        "parameters": [
          {
            "name": "calendarId",
            "in": "path",
            "description": "Calendar identifier. To retrieve calendar IDs call the calendarList.list method. If you want to access the primary calendar of the currently logged in user, use the \"primary\" keyword.",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "conferenceDataVersion",
            "in": "query",
            "description": "Version number of conference data supported by the API client. Version 0 assumes no conference data support and ignores conference data in the event's body. Version 1 enables support for copying of ConferenceData as well as for creating new conferences using the createRequest field of conferenceData. The default is 0.",
            "required": false,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "maxAttendees",
            "in": "query",
            "description": "The maximum number of attendees to include in the response. If there are more than the specified number of attendees, only the participant is returned. Optional.",
            "required": false,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "sendNotifications",
            "in": "query",
            "description": "Deprecated. Please use sendUpdates instead.\n\nWhether to send notifications about the creation of the new event. Note that some emails might still be sent even if you set the value to false. The default is false.",
            "required": false,
            "schema": {
              "type": "boolean"
            }
          },
          {
            "name": "sendUpdates",
            "in": "query",
            "description": "Whether to send notifications about the creation of the new event. Note that some emails might still be sent. The default is false.",
            "required": false,
            "schema": {
              "type": "string",
              "enum": [
                "all",
                "externalOnly",
                "none"
              ]
            }
          },
          {
            "name": "supportsAttachments",
            "in": "query",
            "description": "Whether API client performing operation supports event attachments. Optional. The default is False.",
            "required": false,
            "schema": {
              "type": "boolean"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/Event"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Event"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      },
      "get": {
        "operationId": "calendar_events_list",
        "summary": "Returns events on the specified calendar.",
        "description": "Returns events on the specified calendar.",
        "tags": [
          "Events"
        ],
        "parameters": [
          {
            "name": "alwaysIncludeEmail",
            "in": "query",
            "description": "Deprecated and ignored.",
            "required": false,
            "schema": {
              "type": "boolean"
            }
          },
          {
            "name": "calendarId",
            "in": "path",
            "description": "Calendar identifier. To retrieve calendar IDs call the calendarList.list method. If you want to access the primary calendar of the currently logged in user, use the \"primary\" keyword.",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "eventTypes",
            "in": "query",
            "description": "Event types to return. Optional. This parameter can be repeated multiple times to return events of different types. If unset, returns all event types.",
            "required": false,
            "schema": {
              "type": "string",
              "enum": [
                "birthday",
                "default",
                "focusTime",
                "fromGmail",
                "outOfOffice",
                "workingLocation"
              ]
            }
          },
          {
            "name": "iCalUID",
            "in": "query",
            "description": "Specifies an event ID in the iCalendar format to be provided in the response. Optional. Use this if you want to search for an event by its iCalendar ID.",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "maxAttendees",
            "in": "query",
            "description": "The maximum number of attendees to include in the response. If there are more than the specified number of attendees, only the participant is returned. Optional.",
            "required": false,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "maxResults",
            "in": "query",
            "description": "Maximum number of events returned on one result page. The number of events in the resulting page may be less than this value, or none at all, even if there are more events matching the query. Incomplete pages can be detected by a non-empty nextPageToken field in the response. By default the value is 250 events. The page size can never be larger than 2500 events. Optional.",
            "required": false,
            "schema": {
              "type": "integer",
              "format": "int32",
              "default": "250"
            }
          },
          {
            "name": "orderBy",
            "in": "query",
            "description": "The order of the events returned in the result. Optional. The default is an unspecified, stable order.",
            "required": false,
            "schema": {
              "type": "string",
              "enum": [
                "startTime",
                "updated"
              ]
            }
          },
          {
            "name": "pageToken",
            "in": "query",
            "description": "Token specifying which result page to return. Optional.",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "privateExtendedProperty",
            "in": "query",
            "description": "Extended properties constraint specified as propertyName=value. Matches only private properties. This parameter might be repeated multiple times to return events that match all given constraints.",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "q",
            "in": "query",
            "description": "Free text search terms to find events that match these terms in the following fields:\n\n- summary \n- description \n- location \n- attendee's displayName \n- attendee's email \n- organizer's displayName \n- organizer's email \n- workingLocationProperties.officeLocation.buildingId \n- workingLocationProperties.officeLocation.deskId \n- workingLocationProperties.officeLocation.label \n- workingLocationProperties.customLocation.label \nThese search terms also match predefined keywords against all display title translations of working location, out-of-office, and focus-time events. For example, searching for \"Office\" or \"Bureau\" returns working location events of type officeLocation, whereas searching for \"Out of office\" or \"Abwesend\" returns out-of-office events. Optional.",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "sharedExtendedProperty",
            "in": "query",
            "description": "Extended properties constraint specified as propertyName=value. Matches only shared properties. This parameter might be repeated multiple times to return events that match all given constraints.",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "showDeleted",
            "in": "query",
            "description": "Whether to include deleted events (with status equals \"cancelled\") in the result. Cancelled instances of recurring events (but not the underlying recurring event) will still be included if showDeleted and singleEvents are both False. If showDeleted and singleEvents are both True, only single instances of deleted events (but not the underlying recurring events) are returned. Optional. The default is False.",
            "required": false,
            "schema": {
              "type": "boolean"
            }
          },
          {
            "name": "showHiddenInvitations",
            "in": "query",
            "description": "Whether to include hidden invitations in the result. Optional. The default is False.",
            "required": false,
            "schema": {
              "type": "boolean"
            }
          },
          {
            "name": "singleEvents",
            "in": "query",
            "description": "Whether to expand recurring events into instances and only return single one-off events and instances of recurring events, but not the underlying recurring events themselves. Optional. The default is False.",
            "required": false,
            "schema": {
              "type": "boolean"
            }
          },
          {
            "name": "syncToken",
            "in": "query",
            "description": "Token obtained from the nextSyncToken field returned on the last page of results from the previous list request. It makes the result of this list request contain only entries that have changed since then. All events deleted since the previous list request will always be in the result set and it is not allowed to set showDeleted to False.\nThere are several query parameters that cannot be specified together with nextSyncToken to ensure consistency of the client state.\n\nThese are: \n- iCalUID \n- orderBy \n- privateExtendedProperty \n- q \n- sharedExtendedProperty \n- timeMin \n- timeMax \n- updatedMin All other query parameters should be the same as for the initial synchronization to avoid undefined behavior. If the syncToken expires, the server will respond with a 410 GONE response code and the client should clear its storage and perform a full synchronization without any syncToken.\nLearn more about incremental synchronization.\nOptional. The default is to return all entries.",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "timeMax",
            "in": "query",
            "description": "Upper bound (exclusive) for an event's start time to filter by. Optional. The default is not to filter by start time. Must be an RFC3339 timestamp with mandatory time zone offset, for example, 2011-06-03T10:00:00-07:00, 2011-06-03T10:00:00Z. Milliseconds may be provided but are ignored. If timeMin is set, timeMax must be greater than timeMin.",
            "required": false,
            "schema": {
              "type": "string",
              "format": "date-time"
            }
          },
          {
            "name": "timeMin",
            "in": "query",
            "description": "Lower bound (exclusive) for an event's end time to filter by. Optional. The default is not to filter by end time. Must be an RFC3339 timestamp with mandatory time zone offset, for example, 2011-06-03T10:00:00-07:00, 2011-06-03T10:00:00Z. Milliseconds may be provided but are ignored. If timeMax is set, timeMin must be smaller than timeMax.",
            "required": false,
            "schema": {
              "type": "string",
              "format": "date-time"
            }
          },
          {
            "name": "timeZone",
            "in": "query",
            "description": "Time zone used in the response. Optional. The default is the time zone of the calendar.",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "updatedMin",
            "in": "query",
            "description": "Lower bound for an event's last modification time (as a RFC3339 timestamp) to filter by. When specified, entries deleted since this time will always be included regardless of showDeleted. Optional. The default is not to filter by last modification time.",
            "required": false,
            "schema": {
              "type": "string",
              "format": "date-time"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Events"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/calendars/{calendarId}/events/{eventId}/instances": {
      "get": {
        "operationId": "calendar_events_instances",
        "summary": "Returns instances of the specified recurring event.",
        "description": "Returns instances of the specified recurring event.",
        "tags": [
          "Events"
        ],
        "parameters": [
          {
            "name": "alwaysIncludeEmail",
            "in": "query",
            "description": "Deprecated and ignored. A value will always be returned in the email field for the organizer, creator and attendees, even if no real email address is available (i.e. a generated, non-working value will be provided).",
            "required": false,
            "schema": {
              "type": "boolean"
            }
          },
          {
            "name": "calendarId",
            "in": "path",
            "description": "Calendar identifier. To retrieve calendar IDs call the calendarList.list method. If you want to access the primary calendar of the currently logged in user, use the \"primary\" keyword.",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "eventId",
            "in": "path",
            "description": "Recurring event identifier.",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "maxAttendees",
            "in": "query",
            "description": "The maximum number of attendees to include in the response. If there are more than the specified number of attendees, only the participant is returned. Optional.",
            "required": false,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "maxResults",
            "in": "query",
            "description": "Maximum number of events returned on one result page. By default the value is 250 events. The page size can never be larger than 2500 events. Optional.",
            "required": false,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "originalStart",
            "in": "query",
            "description": "The original start time of the instance in the result. Optional.",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "pageToken",
            "in": "query",
            "description": "Token specifying which result page to return. Optional.",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "showDeleted",
            "in": "query",
            "description": "Whether to include deleted events (with status equals \"cancelled\") in the result. Cancelled instances of recurring events will still be included if singleEvents is False. Optional. The default is False.",
            "required": false,
            "schema": {
              "type": "boolean"
            }
          },
          {
            "name": "timeMax",
            "in": "query",
            "description": "Upper bound (exclusive) for an event's start time to filter by. Optional. The default is not to filter by start time. Must be an RFC3339 timestamp with mandatory time zone offset.",
            "required": false,
            "schema": {
              "type": "string",
              "format": "date-time"
            }
          },
          {
            "name": "timeMin",
            "in": "query",
            "description": "Lower bound (inclusive) for an event's end time to filter by. Optional. The default is not to filter by end time. Must be an RFC3339 timestamp with mandatory time zone offset.",
            "required": false,
            "schema": {
              "type": "string",
              "format": "date-time"
            }
          },
          {
            "name": "timeZone",
            "in": "query",
            "description": "Time zone used in the response. Optional. The default is the time zone of the calendar.",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Events"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/calendars/{calendarId}/events/{eventId}/move": {
      "post": {
        "operationId": "calendar_events_move",
        "summary": "Moves an event to another calendar, i.e. changes an event's organizer. Note that only default events can be moved; birthday, focusTime, fromGmail, outOfOffice and workingLocation events cannot be move",
        "description": "Moves an event to another calendar, i.e. changes an event's organizer. Note that only default events can be moved; birthday, focusTime, fromGmail, outOfOffice and workingLocation events cannot be moved.",
        "tags": [
          "Events"
        ],
        "parameters": [
          {
            "name": "calendarId",
            "in": "path",
            "description": "Calendar identifier of the source calendar where the event currently is on.",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "destination",
            "in": "query",
            "description": "Calendar identifier of the target calendar where the event is to be moved to.",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "eventId",
            "in": "path",
            "description": "Event identifier.",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "sendNotifications",
            "in": "query",
            "description": "Deprecated. Please use sendUpdates instead.\n\nWhether to send notifications about the change of the event's organizer. Note that some emails might still be sent even if you set the value to false. The default is false.",
            "required": false,
            "schema": {
              "type": "boolean"
            }
          },
          {
            "name": "sendUpdates",
            "in": "query",
            "description": "Guests who should receive notifications about the change of the event's organizer.",
            "required": false,
            "schema": {
              "type": "string",
              "enum": [
                "all",
                "externalOnly",
                "none"
              ]
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Event"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/calendars/{calendarId}/events/quickAdd": {
      "post": {
        "operationId": "calendar_events_quickAdd",
        "summary": "Creates an event based on a simple text string.",
        "description": "Creates an event based on a simple text string.",
        "tags": [
          "Events"
        ],
        "parameters": [
          {
            "name": "calendarId",
            "in": "path",
            "description": "Calendar identifier. To retrieve calendar IDs call the calendarList.list method. If you want to access the primary calendar of the currently logged in user, use the \"primary\" keyword.",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "sendNotifications",
            "in": "query",
            "description": "Deprecated. Please use sendUpdates instead.\n\nWhether to send notifications about the creation of the event. Note that some emails might still be sent even if you set the value to false. The default is false.",
            "required": false,
            "schema": {
              "type": "boolean"
            }
          },
          {
            "name": "sendUpdates",
            "in": "query",
            "description": "Guests who should receive notifications about the creation of the new event.",
            "required": false,
            "schema": {
              "type": "string",
              "enum": [
                "all",
                "externalOnly",
                "none"
              ]
            }
          },
          {
            "name": "text",
            "in": "query",
            "description": "The text describing the event to be created.",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Event"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/calendars/{calendarId}/events/watch": {
      "post": {
        "operationId": "calendar_events_watch",
        "summary": "Watch for changes to Events resources.",
        "description": "Watch for changes to Events resources.",
        "tags": [
          "Events"
        ],
        "parameters": [
          {
            "name": "alwaysIncludeEmail",
            "in": "query",
            "description": "Deprecated and ignored.",
            "required": false,
            "schema": {
              "type": "boolean"
            }
          },
          {
            "name": "calendarId",
            "in": "path",
            "description": "Calendar identifier. To retrieve calendar IDs call the calendarList.list method. If you want to access the primary calendar of the currently logged in user, use the \"primary\" keyword.",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "eventTypes",
            "in": "query",
            "description": "Event types to return. Optional. This parameter can be repeated multiple times to return events of different types. If unset, returns all event types.",
            "required": false,
            "schema": {
              "type": "string",
              "enum": [
                "birthday",
                "default",
                "focusTime",
                "fromGmail",
                "outOfOffice",
                "workingLocation"
              ]
            }
          },
          {
            "name": "iCalUID",
            "in": "query",
            "description": "Specifies an event ID in the iCalendar format to be provided in the response. Optional. Use this if you want to search for an event by its iCalendar ID.",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "maxAttendees",
            "in": "query",
            "description": "The maximum number of attendees to include in the response. If there are more than the specified number of attendees, only the participant is returned. Optional.",
            "required": false,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "maxResults",
            "in": "query",
            "description": "Maximum number of events returned on one result page. The number of events in the resulting page may be less than this value, or none at all, even if there are more events matching the query. Incomplete pages can be detected by a non-empty nextPageToken field in the response. By default the value is 250 events. The page size can never be larger than 2500 events. Optional.",
            "required": false,
            "schema": {
              "type": "integer",
              "format": "int32",
              "default": "250"
            }
          },
          {
            "name": "orderBy",
            "in": "query",
            "description": "The order of the events returned in the result. Optional. The default is an unspecified, stable order.",
            "required": false,
            "schema": {
              "type": "string",
              "enum": [
                "startTime",
                "updated"
              ]
            }
          },
          {
            "name": "pageToken",
            "in": "query",
            "description": "Token specifying which result page to return. Optional.",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "privateExtendedProperty",
            "in": "query",
            "description": "Extended properties constraint specified as propertyName=value. Matches only private properties. This parameter might be repeated multiple times to return events that match all given constraints.",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "q",
            "in": "query",
            "description": "Free text search terms to find events that match these terms in the following fields:\n\n- summary \n- description \n- location \n- attendee's displayName \n- attendee's email \n- organizer's displayName \n- organizer's email \n- workingLocationProperties.officeLocation.buildingId \n- workingLocationProperties.officeLocation.deskId \n- workingLocationProperties.officeLocation.label \n- workingLocationProperties.customLocation.label \nThese search terms also match predefined keywords against all display title translations of working location, out-of-office, and focus-time events. For example, searching for \"Office\" or \"Bureau\" returns working location events of type officeLocation, whereas searching for \"Out of office\" or \"Abwesend\" returns out-of-office events. Optional.",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "sharedExtendedProperty",
            "in": "query",
            "description": "Extended properties constraint specified as propertyName=value. Matches only shared properties. This parameter might be repeated multiple times to return events that match all given constraints.",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "showDeleted",
            "in": "query",
            "description": "Whether to include deleted events (with status equals \"cancelled\") in the result. Cancelled instances of recurring events (but not the underlying recurring event) will still be included if showDeleted and singleEvents are both False. If showDeleted and singleEvents are both True, only single instances of deleted events (but not the underlying recurring events) are returned. Optional. The default is False.",
            "required": false,
            "schema": {
              "type": "boolean"
            }
          },
          {
            "name": "showHiddenInvitations",
            "in": "query",
            "description": "Whether to include hidden invitations in the result. Optional. The default is False.",
            "required": false,
            "schema": {
              "type": "boolean"
            }
          },
          {
            "name": "singleEvents",
            "in": "query",
            "description": "Whether to expand recurring events into instances and only return single one-off events and instances of recurring events, but not the underlying recurring events themselves. Optional. The default is False.",
            "required": false,
            "schema": {
              "type": "boolean"
            }
          },
          {
            "name": "syncToken",
            "in": "query",
[...]
