{
  "openapi": "3.0.3",
  "info": {
    "title": "iHealth OpenAPI V2",
    "version": "2.0",
    "description": "The iHealth OpenAPI V2 allows developers to interact with iHealth health device data including blood pressure, weight, blood glucose, blood oxygen, activity reports, sleep reports, and sport reports. Supports per-user and per-application data access with pagination.",
    "x-jentic-source-url": "https://developer.ihealthlabs.com/",
    "contact": {
      "name": "API Support"
    }
  },
  "servers": [
    {
      "url": "https://api.ihealthlabs.com:8443/openapiv2"
    }
  ],
  "paths": {
    "/user/{userId}/bp.json/": {
      "get": {
        "operationId": "getUserBpData",
        "summary": "Get Blood Pressure data for a specific user",
        "description": "Retrieves paginated Blood Pressure data for the specified user. The userId is retrieved by AccessToken.",
        "tags": [
          "Blood Pressure"
        ],
        "parameters": [
          {
            "name": "userId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "UserID retrieved by AccessToken"
          },
          {
            "name": "client_id",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "The ID for the client request"
          },
          {
            "name": "client_secret",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "The key for the request"
          },
          {
            "name": "access_token",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "The token for access"
          },
          {
            "name": "sc",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "The serial number for the user"
          },
          {
            "name": "sv",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Type-specific one-on-one value based on sv"
          },
          {
            "name": "start_time",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer"
            },
            "description": "Unix timestamp for data start time"
          },
          {
            "name": "end_time",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer"
            },
            "description": "Unix timestamp for data end time (must be later than start_time)"
          },
          {
            "name": "page_index",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "default": 1
            },
            "description": "The page index of data, starting from 1"
          },
          {
            "name": "locale",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Set the locale / units returned"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Blood Pressure data response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BpUserResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized - invalid or expired access token",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/application/bp.json/": {
      "get": {
        "operationId": "getAllBpData",
        "summary": "Get all Blood Pressure data for the application",
        "description": "Retrieves paginated Blood Pressure data across all users in the application.",
        "tags": [
          "Blood Pressure"
        ],
        "parameters": [
          {
            "name": "client_id",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "The ID for the client request"
          },
          {
            "name": "client_secret",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "The key for the request"
          },
          {
            "name": "access_token",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "The token for access"
          },
          {
            "name": "sc",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "The serial number for the user"
          },
          {
            "name": "sv",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Type-specific one-on-one value based on sv"
          },
          {
            "name": "start_time",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer"
            },
            "description": "Unix timestamp for data start time"
          },
          {
            "name": "end_time",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer"
            },
            "description": "Unix timestamp for data end time (must be later than start_time)"
          },
          {
            "name": "page_index",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "default": 1
            },
            "description": "The page index of data, starting from 1"
          },
          {
            "name": "locale",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Set the locale / units returned"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Blood Pressure data response (all users)",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BpAppResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized - invalid or expired access token",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/user/{userId}/weight.json/": {
      "get": {
        "operationId": "getUserWeightData",
        "summary": "Get Weight data for a specific user",
        "description": "Retrieves paginated Weight data for the specified user. The userId is retrieved by AccessToken.",
        "tags": [
          "Weight"
        ],
        "parameters": [
          {
            "name": "userId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "UserID retrieved by AccessToken"
          },
          {
            "name": "client_id",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "The ID for the client request"
          },
          {
            "name": "client_secret",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "The key for the request"
          },
          {
            "name": "access_token",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "The token for access"
          },
          {
            "name": "sc",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "The serial number for the user"
          },
          {
            "name": "sv",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Type-specific one-on-one value based on sv"
          },
          {
            "name": "start_time",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer"
            },
            "description": "Unix timestamp for data start time"
          },
          {
            "name": "end_time",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer"
            },
            "description": "Unix timestamp for data end time (must be later than start_time)"
          },
          {
            "name": "page_index",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "default": 1
            },
            "description": "The page index of data, starting from 1"
          },
          {
            "name": "locale",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Set the locale / units returned"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Weight data response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/WeightUserResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized - invalid or expired access token",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/application/weight.json/": {
      "get": {
        "operationId": "getAllWeightData",
        "summary": "Get all Weight data for the application",
        "description": "Retrieves paginated Weight data across all users in the application.",
        "tags": [
          "Weight"
        ],
        "parameters": [
          {
            "name": "client_id",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "The ID for the client request"
          },
          {
            "name": "client_secret",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "The key for the request"
          },
          {
            "name": "access_token",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "The token for access"
          },
          {
            "name": "sc",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "The serial number for the user"
          },
          {
            "name": "sv",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Type-specific one-on-one value based on sv"
          },
          {
            "name": "start_time",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer"
            },
            "description": "Unix timestamp for data start time"
          },
          {
            "name": "end_time",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer"
            },
            "description": "Unix timestamp for data end time (must be later than start_time)"
          },
          {
            "name": "page_index",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "default": 1
            },
            "description": "The page index of data, starting from 1"
          },
          {
            "name": "locale",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Set the locale / units returned"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Weight data response (all users)",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/WeightAppResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized - invalid or expired access token",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/user/{userId}/glucose.json/": {
      "get": {
        "operationId": "getUserGlucoseData",
        "summary": "Get Blood Glucose data for a specific user",
        "description": "Retrieves paginated Blood Glucose data for the specified user. The userId is retrieved by AccessToken.",
        "tags": [
          "Blood Glucose"
        ],
        "parameters": [
          {
            "name": "userId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "UserID retrieved by AccessToken"
          },
          {
            "name": "client_id",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "The ID for the client request"
          },
          {
            "name": "client_secret",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "The key for the request"
          },
          {
            "name": "access_token",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "The token for access"
          },
          {
            "name": "sc",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "The serial number for the user"
          },
          {
            "name": "sv",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Type-specific one-on-one value based on sv"
          },
          {
            "name": "start_time",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer"
            },
            "description": "Unix timestamp for data start time"
          },
          {
            "name": "end_time",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer"
            },
            "description": "Unix timestamp for data end time (must be later than start_time)"
          },
          {
            "name": "page_index",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "default": 1
            },
            "description": "The page index of data, starting from 1"
          },
          {
            "name": "locale",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Set the locale / units returned"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Blood Glucose data response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GlucoseUserResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized - invalid or expired access token",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/application/glucose.json/": {
      "get": {
        "operationId": "getAllGlucoseData",
        "summary": "Get all Blood Glucose data for the application",
        "description": "Retrieves paginated Blood Glucose data across all users in the application.",
        "tags": [
          "Blood Glucose"
        ],
        "parameters": [
          {
            "name": "client_id",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "The ID for the client request"
          },
          {
            "name": "client_secret",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "The key for the request"
          },
          {
            "name": "access_token",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "The token for access"
          },
          {
            "name": "sc",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "The serial number for the user"
          },
          {
            "name": "sv",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Type-specific one-on-one value based on sv"
          },
          {
            "name": "start_time",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer"
            },
            "description": "Unix timestamp for data start time"
          },
          {
            "name": "end_time",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer"
            },
            "description": "Unix timestamp for data end time (must be later than start_time)"
          },
          {
            "name": "page_index",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "default": 1
            },
            "description": "The page index of data, starting from 1"
          },
          {
            "name": "locale",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Set the locale / units returned"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Blood Glucose data response (all users)",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GlucoseAppResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized - invalid or expired access token",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/user/{userId}/spo2.json/": {
      "get": {
        "operationId": "getUserSpo2Data",
        "summary": "Get Blood Oxygen data for a specific user",
        "description": "Retrieves paginated Blood Oxygen data for the specified user. The userId is retrieved by AccessToken.",
        "tags": [
          "Blood Oxygen"
        ],
        "parameters": [
          {
            "name": "userId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "UserID retrieved by AccessToken"
          },
          {
            "name": "client_id",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "The ID for the client request"
          },
          {
            "name": "client_secret",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "The key for the request"
          },
          {
            "name": "access_token",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "The token for access"
          },
          {
            "name": "sc",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "The serial number for the user"
          },
          {
            "name": "sv",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Type-specific one-on-one value based on sv"
          },
          {
            "name": "start_time",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer"
            },
            "description": "Unix timestamp for data start time"
          },
          {
            "name": "end_time",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer"
            },
            "description": "Unix timestamp for data end time (must be later than start_time)"
          },
          {
            "name": "page_index",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "default": 1
            },
            "description": "The page index of data, starting from 1"
          },
          {
            "name": "locale",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Set the locale / units returned"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Blood Oxygen data response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Spo2UserResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized - invalid or expired access token",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/application/spo2.json/": {
      "get": {
        "operationId": "getAllSpo2Data",
        "summary": "Get all Blood Oxygen data for the application",
        "description": "Retrieves paginated Blood Oxygen data across all users in the application.",
        "tags": [
          "Blood Oxygen"
        ],
        "parameters": [
          {
            "name": "client_id",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "The ID for the client request"
          },
          {
            "name": "client_secret",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "The key for the request"
          },
          {
            "name": "access_token",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "The token for access"
          },
          {
            "name": "sc",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "The serial number for the user"
          },
          {
            "name": "sv",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Type-specific one-on-one value based on sv"
          },
          {
            "name": "start_time",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer"
            },
            "description": "Unix timestamp for data start time"
          },
          {
            "name": "end_time",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer"
            },
            "description": "Unix timestamp for data end time (must be later than start_time)"
          },
          {
            "name": "page_index",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "default": 1
            },
            "description": "The page index of data, starting from 1"
          },
          {
            "name": "locale",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Set the locale / units returned"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Blood Oxygen data response (all users)",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Spo2AppResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized - invalid or expired access token",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/user/{userId}/activity.json/": {
      "get": {
        "operationId": "getUserActivityData",
        "summary": "Get Activity Report data for a specific user",
        "description": "Retrieves paginated Activity Report data for the specified user. The userId is retrieved by AccessToken.",
        "tags": [
          "Activity"
        ],
        "parameters": [
          {
            "name": "userId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "UserID retrieved by AccessToken"
          },
          {
            "name": "client_id",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "The ID for the client request"
          },
          {
            "name": "client_secret",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "The key for the request"
          },
          {
            "name": "access_token",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "The token for access"
          },
          {
            "name": "sc",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "The serial number for the user"
          },
          {
            "name": "sv",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Type-specific one-on-one value based on sv"
          },
          {
            "name": "start_time",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer"
            },
            "description": "Unix timestamp for data start time"
          },
          {
            "name": "end_time",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer"
            },
            "description": "Unix timestamp for data end time (must be later than start_time)"
          },
          {
            "name": "page_index",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "default": 1
            },
            "description": "The page index of data, starting from 1"
          },
          {
            "name": "locale",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Set the locale / units returned"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Activity Report data response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ActivityUserResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized - invalid or expired access token",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/application/activity.json/": {
      "get": {
        "operationId": "getAllActivityData",
        "summary": "Get all Activity Report data for the application",
        "description": "Retrieves paginated Activity Report data across all users in the application.",
        "tags": [
          "Activity"
        ],
        "parameters": [
          {
            "name": "client_id",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "The ID for the client request"
          },
          {
            "name": "client_secret",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "The key for the request"
          },
          {
            "name": "access_token",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "The token for access"
          },
          {
            "name": "sc",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "The serial number for the user"
          },
          {
            "name": "sv",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Type-specific one-on-one value based on sv"
          },
          {
            "name": "start_time",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer"
            },
            "description": "Unix timestamp for data start time"
          },
          {
            "name": "end_time",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer"
            },
            "description": "Unix timestamp for data end time (must be later than start_time)"
          },
          {
            "name": "page_index",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "default": 1
            },
            "description": "The page index of data, starting from 1"
          },
          {
            "name": "locale",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Set the locale / units returned"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Activity Report data response (all users)",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ActivityAppResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized - invalid or expired access token",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/user/{userId}/sleep.json/": {
      "get": {
        "operationId": "getUserSleepData",
        "summary": "Get Sleep Report data for a specific user",
        "description": "Retrieves paginated Sleep Report data for the specified user. The userId is retrieved by AccessToken.",
        "tags": [
          "Sleep"
        ],
        "parameters": [
          {
            "name": "userId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "UserID retrieved by AccessToken"
          },
          {
            "name": "client_id",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "The ID for the client request"
          },
          {
            "name": "client_secret",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "The key for the request"
          },
          {
            "name": "access_token",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "The token for access"
          },
          {
            "name": "sc",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "The serial number for the user"
          },
          {
            "name": "sv",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Type-specific one-on-one value based on sv"
          },
          {
            "name": "start_time",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer"
            },
            "description": "Unix timestamp for data start time"
          },
          {
            "name": "end_time",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer"
            },
            "description": "Unix timestamp for data end time (must be later than start_time)"
          },
          {
            "name": "page_index",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "default": 1
            },
            "description": "The page index of data, starting from 1"
          },
          {
            "name": "locale",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Set the locale / units returned"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Sleep Report data response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SleepUserResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized - invalid or expired access token",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/application/sleep.json/": {
      "get": {
        "operationId": "getAllSleepData",
        "summary": "Get all Sleep Report data for the application",
        "description": "Retrieves paginated Sleep Report data across all users in the application.",
        "tags": [
          "Sleep"
        ],
        "parameters": [
          {
            "name": "client_id",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "The ID for the client request"
          },
          {
            "name": "client_secret",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "The key for the request"
          },
          {
            "name": "access_token",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "The token for access"
          },
          {
            "name": "sc",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "The serial number for the user"
          },
          {
            "name": "sv",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Type-specific one-on-one value based on sv"
          },
          {
            "name": "start_time",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer"
            },
            "description": "Unix timestamp for data start time"
          },
          {
            "name": "end_time",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer"
            },
            "description": "Unix timestamp for data end time (must be later than start_time)"
          },
          {
            "name": "page_index",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "default": 1
            },
            "description": "The page index of data, starting from 1"
          },
          {
            "name": "locale",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Set the locale / units returned"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Sleep Report data response (all users)",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SleepAppResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized - invalid or expired access token",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/user/{userId}/sport.json/": {
      "get": {
        "operationId": "getUserSportData",
        "summary": "Get Sport Report data for a specific user",
        "description": "Retrieves paginated Sport Report data for the specified user. The userId is retrieved by AccessToken.",
        "tags": [
          "Sport"
        ],
        "parameters": [
          {
            "name": "userId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "UserID retrieved by AccessToken"
          },
          {
            "name": "client_id",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "The ID for the client request"
          },
          {
            "name": "client_secret",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "The key for the request"
          },
          {
            "name": "access_token",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "The token for access"
          },
          {
            "name": "sc",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "The serial number for the user"
          },
          {
            "name": "sv",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Type-specific one-on-one value based on sv"
          },
          {
            "name": "start_time",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer"
            },
            "description": "Unix timestamp for data start time"
          },
          {
            "name": "end_time",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer"
            },
            "description": "Unix timestamp for data end time (must be later than start_time)"
          },
          {
            "name": "page_index",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "default": 1
            },
            "description": "The page index of data, starting from 1"
          },
          {
            "name": "locale",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Set the locale / units returned"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Sport Report data response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SportUserResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized - invalid or expired access token",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/application/sport.json/": {
      "get": {
        "operationId": "getAllSportData",
        "summary": "Get all Sport Report data for the application",
        "description": "Retrieves paginated Sport Report data across all users in the application.",
        "tags": [
          "Sport"
        ],
        "parameters": [
          {
            "name": "client_id",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "The ID for the client request"
          },
          {
            "name": "client_secret",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "The key for the request"
          },
          {
            "name": "access_token",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "The token for access"
          },
          {
            "name": "sc",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "The serial number for the user"
          },
          {
            "name": "sv",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Type-specific one-on-one value based on sv"
          },
          {
            "name": "start_time",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer"
            },
            "description": "Unix timestamp for data start time"
          },
          {
            "name": "end_time",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer"
            },
            "description": "Unix timestamp for data end time (must be later than start_time)"
          },
          {
            "name": "page_index",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "default": 1
            },
            "description": "The page index of data, starting from 1"
          },
          {
            "name": "locale",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Set the locale / units returned"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Sport Report data response (all users)",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SportAppResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized - invalid or expired access token",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    }
  },
  "components": {
    "schemas": {
      "BpDataItem": {
        "type": "object",
        "properties": {
          "BPL": {
            "type": "integer",
            "description": "WHO blood pressure level"
          },
          "DataID": {
            "type": "string",
            "description": "Unique data identity"
          },
          "HP": {
            "type": "number",
            "description": "Systolic blood pressure"
          },
          "HR": {
            "type": "integer",
            "description": "Heart rate"
          },
          "IsArr": {
            "type": "integer",
            "description": "Arrhythmia indicator (-1=null, 1=normal, 2=arrhythmia, 3=unknown)"
          },
          "LP": {
            "type": "number",
            "description": "Diastolic blood pressure"
          },
          "Lat": {
            "type": "number",
            "description": "Latitude of testing place"
          },
          "Lon": {
            "type": "number",
            "description": "Longitude of testing place"
          },
          "MDate": {
            "type": "integer",
            "description": "Measurement date time (Unix timestamp)"
          },
          "Note": {
            "type": "string",
            "description": "Note for this data"
          },
          "LastChangeTime": {
            "type": "integer",
            "description": "Time of last change (UTC)"
          },
          "DataSource": {
            "type": "string",
            "description": "Data source: Manual or FromDevice"
          },
          "TimeZone": {
            "type": "string",
            "description": "Time zone of measurement location"
          }
        }
      },
      "BpUserResponse": {
        "type": "object",
        "properties": {
          "BPDataList": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/BpDataItem"
            },
            "description": "Data list of Blood Pressure"
          },
          "NextPageUrl": {
            "type": "string",
            "description": "URL of the next page"
          },
          "CurrentRecordCount": {
            "type": "integer",
            "description": "Count of records on current page"
          },
          "PageLength": {
            "type": "integer",
            "description": "Length of one page"
          },
          "PageNumber": {
            "type": "integer",
            "description": "Current page number"
          },
          "PrevPageUrl": {
            "type": "string",
            "description": "URL of the previous page"
          },
          "RecordCount": {
            "type": "integer",
            "description": "Total number of data records"
          },
          "BPUnit": {
            "type": "integer",
            "description": "Unit of blood pressure"
          }
        }
      },
      "BpAppDataItem": {
        "type": "object",
        "properties": {
          "BPL": {
            "type": "integer",
            "description": "WHO blood pressure level"
          },
          "DataID": {
            "type": "string",
            "description": "Unique data identity"
          },
          "HP": {
            "type": "number",
            "description": "Systolic blood pressure"
          },
          "HR": {
            "type": "integer",
            "description": "Heart rate"
          },
          "IsArr": {
            "type": "integer",
            "description": "Arrhythmia indicator (-1=null, 1=normal, 2=arrhythmia, 3=unknown)"
          },
          "LP": {
            "type": "number",
            "description": "Diastolic blood pressure"
          },
          "Lat": {
            "type": "number",
            "description": "Latitude of testing place"
          },
          "Lon": {
            "type": "number",
            "description": "Longitude of testing place"
          },
          "MDate": {
            "type": "integer",
            "description": "Measurement date time (Unix timestamp)"
          },
          "Note": {
            "type": "string",
            "description": "Note for this data"
          },
          "LastChangeTime": {
            "type": "integer",
            "description": "Time of last change (UTC)"
          },
          "DataSource": {
            "type": "string",
            "description": "Data source: Manual or FromDevice"
          },
          "TimeZone": {
            "type": "string",
            "description": "Time zone of measurement location"
          },
          "userid": {
            "type": "string",
            "description": "Unique identity of user"
          }
        }
      },
      "BpAppResponse": {
        "type": "object",
        "properties": {
          "BPDataList": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/BpAppDataItem"
            },
            "description": "Data list of Blood Pressure (all users)"
          },
          "NextPageUrl": {
            "type": "string",
            "description": "URL of the next page"
          },
          "CurrentRecordCount": {
            "type": "integer",
            "description": "Count of records on current page"
          },
          "PageLength": {
            "type": "integer",
            "description": "Length of one page"
          },
          "PageNumber": {
            "type": "integer",
            "description": "Current page number"
          },
          "PrevPageUrl": {
            "type": "string",
            "description": "URL of the previous page"
          },
          "RecordCount": {
            "type": "integer",
            "description": "Total number of data records"
          },
          "BPUnit": {
            "type": "integer",
            "description": "Unit of blood pressure"
          }
        }
      },
      "WeightDataItem": {
        "type": "object",
        "properties": {
          "BMI": {
            "type": "number",
            "description": "BMI value"
          },
          "BoneValue": {
            "type": "number",
            "description": "Weight of bone in body"
          },
          "DCI": {
            "type": "number",
            "description": "Daily caloric intake"
          },
          "DataID": {
            "type": "string",
            "description": "Unique data identity"
          },
          "FatValue": {
            "type": "number",
            "description": "Body fat value"
          },
          "MDate": {
            "type": "integer",
            "description": "Measurement date time"
          },
          "Note": {
            "type": "string",
            "description": "Note for this data"
          },
          "MuscaleValue": {
            "type": "number",
            "description": "Weight of muscle in body"
          },
          "WaterValue": {
            "type": "number",
            "description": "Body water value"
          },
          "WeightValue": {
            "type": "number",
            "description": "Body weight value"
          },
          "LastChangeTime": {
            "type": "integer",
            "description": "Time of last change (UTC)"
          },
          "DataSource": {
            "type": "string",
            "description": "Data source: Manual or FromDevice"
          },
          "TimeZone": {
            "type": "string",
            "description": "Time zone of measurement location"
          },
          "VFR": {
            "type": "integer",
            "description": "Fat Level [1-59]"
          }
        }
      },
      "WeightUserResponse": {
        "type": "object",
        "properties": {
          "WeightDataList": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/WeightDataItem"
            },
            "description": "Data list of Weight"
          },
          "NextPageUrl": {
            "type": "string",
            "description": "URL of the next page"
          },
          "CurrentRecordCount": {
            "type": "integer",
            "description": "Count of records on current page"
          },
          "PageLength": {
            "type": "integer",
            "description": "Length of one page"
          },
          "PageNumber": {
            "type": "integer",
            "description": "Current page number"
          },
          "PrevPageUrl": {
            "type": "string",
            "description": "URL of the previous page"
          },
          "RecordCount": {
            "type": "integer",
            "description": "Total number of data records"
          },
          "WeightUnit": {
            "type": "integer",
            "description": "Unit of weight"
          }
        }
      },
      "WeightAppDataItem": {
        "type": "object",
        "properties": {
          "BMI": {
            "type": "number",
            "description": "BMI value"
          },
          "BoneValue": {
            "type": "number",
            "description": "Weight of bone in body"
          },
          "DCI": {
            "type": "number",
            "description": "Daily caloric intake"
          },
          "DataID": {
            "type": "string",
            "description": "Unique data identity"
          },
          "FatValue": {
            "type": "number",
            "description": "Body fat value"
          },
          "MDate": {
            "type": "integer",
            "description": "Measurement date time"
          },
          "Note": {
            "type": "string",
            "description": "Note for this data"
          },
          "MuscaleValue": {
            "type": "number",
            "description": "Weight of muscle in body"
          },
          "WaterValue": {
            "type": "number",
            "description": "Body water value"
          },
          "WeightValue": {
            "type": "number",
            "description": "Body weight value"
          },
          "LastChangeTime": {
            "type": "integer",
            "description": "Time of last change (UTC)"
          },
          "DataSource": {
            "type": "string",
            "description": "Data source: Manual or FromDevice"
          },
          "TimeZone": {
            "type": "string",
            "description": "Time zone of measurement location"
          },
          "VFR": {
            "type": "integer",
            "description": "Fat Level [1-59]"
          },
          "userid": {
            "type": "string",
            "description": "Unique identity of user"
          }
        }
      },
      "WeightAppResponse": {
        "type": "object",
        "properties": {
          "WeightDataList": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/WeightAppDataItem"
            },
            "description": "Data list of Weight (all users)"
          },
          "NextPageUrl": {
            "type": "string",
            "description": "URL of the next page"
          },
          "CurrentRecordCount": {
            "type": "integer",
            "description": "Count of records on current page"
          },
          "PageLength": {
            "type": "integer",
            "description": "Length of one page"
          },
          "PageNumber": {
            "type": "integer",
            "description": "Current page number"
          },
          "PrevPageUrl": {
            "type": "string",
            "description": "URL of the previous page"
          },
          "RecordCount": {
            "type": "integer",
            "description": "Total number of data records"
          },
          "WeightUnit": {
            "type": "integer",
            "description": "Unit of weight"
          }
        }
      },
      "GlucoseDataItem": {
        "type": "object",
        "properties": {
          "BG": {
            "type": "number",
            "description": "Glucose value"
          },
          "DataID": {
            "type": "string",
            "description": "Unique data identity"
          },
          "DinnerSituation": {
            "type": "string",
            "description": "Meal information"
          },
          "DrugSituation": {
            "type": "string",
            "description": "Medicine information"
          },
          "Lat": {
            "type": "number",
            "description": "Latitude of testing place"
          },
          "Lon": {
            "type": "number",
            "description": "Longitude of testing place"
          },
          "MDate": {
            "type": "integer",
            "description": "Measurement date time"
          },
          "Note": {
            "type": "string",
            "description": "Note for this data"
          },
          "LastChangeTime": {
            "type": "integer",
            "description": "Time of last change (UTC)"
          },
          "Carbs": {
            "type": "number",
            "description": "Grams of carbohydrate in a meal"
          },
          "DataSource": {
            "type": "string",
            "description": "Data source: Manual or FromDevice"
          },
          "TimeZone": {
            "type": "string",
            "description": "Time zone of measurement location"
          }
        }
      },
      "GlucoseUserResponse": {
        "type": "object",
        "properties": {
          "BGDataList": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/GlucoseDataItem"
            },
            "description": "Data list of Blood Glucose"
          },
          "NextPageUrl": {
            "type": "string",
            "description": "URL of the next page"
          },
          "CurrentRecordCount": {
            "type": "integer",
            "description": "Count of records on current page"
          },
          "PageLength": {
            "type": "integer",
            "description": "Length of one page"
          },
          "PageNumber": {
            "type": "integer",
            "description": "Current page number"
          },
          "PrevPageUrl": {
            "type": "string",
            "description": "URL of the previous page"
          },
          "RecordCount": {
            "type": "integer",
            "description": "Total number of data records"
          },
          "BGUnit": {
            "type": "integer",
            "description": "Unit of glucose"
          }
        }
      },
      "GlucoseAppDataItem": {
        "type": "object",
        "properties": {
          "BG": {
            "type": "number",
            "description": "Glucose value"
          },
          "DataID": {
            "type": "string",
            "description": "Unique data identity"
          },
          "DinnerSituation": {
            "type": "string",
            "description": "Meal information"
          },
          "DrugSituation": {
            "type": "string",
            "description": "Medicine information"
          },
          "Lat": {
            "type": "number",
            "description": "Latitude of testing place"
          },
          "Lon": {
            "type": "number",
            "description": "Longitude of testing place"
          },
          "MDate": {
            "type": "integer",
            "description": "Measurement date time"
          },
          "Note": {
            "type": "string",
            "description": "Note for this data"
          },
          "LastChangeTime": {
            "type": "integer",
            "description": "Time of last change (UTC)"
          },
          "Carbs": {
            "type": "number",
            "description": "Grams of carbohydrate in a meal"
          },
          "DataSource": {
            "type": "string",
            "description": "Data source: Manual or FromDevice"
          },
          "TimeZone": {
            "type": "string",
            "description": "Time zone of measurement location"
          },
          "userid": {
            "type": "string",
            "description": "Unique identity of user"
          }
        }
      },
      "GlucoseAppResponse": {
        "type": "object",
        "properties": {
          "BGDataList": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/GlucoseAppDataItem"
            },
            "description": "Data list of Blood Glucose (all users)"
          },
          "NextPageUrl": {
            "type": "string",
            "description": "URL of the next page"
          },
          "CurrentRecordCount": {
            "type": "integer",
            "description": "Count of records on current page"
          },
          "PageLength": {
            "type": "integer",
            "description": "Length of one page"
          },
          "PageNumber": {
            "type": "integer",
            "description": "Current page number"
          },
          "PrevPageUrl": {
            "type": "string",
            "description": "URL of the previous page"
          },
          "RecordCount": {
            "type": "integer",
            "description": "Total number of data records"
          },
          "BGUnit": {
            "type": "integer",
            "description": "Unit of glucose"
          }
        }
      },
      "Spo2DataItem": {
        "type": "object",
        "properties": {
          "BO": {
            "type": "number",
            "description": "Blood Oxygen value"
          },
          "DataID": {
            "type": "string",
            "description": "Unique data identity"
          },
          "HR": {
            "type": "integer",
            "description": "Heart rate"
          },
          "Lat": {
            "type": "number",
            "description": "Latitude of testing place"
          },
          "Lon": {
            "type": "number",
            "description": "Longitude of testing place"
          },
          "MDate": {
            "type": "integer",
            "description": "Measurement date time"
          },
          "Note": {
            "type": "string",
            "description": "Note for this data"
          },
          "LastChangeTime": {
            "type": "integer",
            "description": "Time of last change (UTC)"
          },
          "DataSource": {
            "type": "string",
            "description": "Data source: Manual or FromDevice"
          },
          "TimeZone": {
            "type": "string",
            "description": "Time zone of measurement location"
          }
        }
      },
      "Spo2UserResponse": {
        "type": "object",
        "properties": {
          "BODataList": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Spo2DataItem"
            },
            "description": "Data list of Blood Oxygen"
          },
          "NextPageUrl": {
            "type": "string",
            "description": "URL of the next page"
          },
          "CurrentRecordCount": {
            "type": "integer",
            "description": "Count of records on current page"
          },
          "PageLength": {
            "type": "integer",
            "description": "Length of one page"
          },
          "PageNumber": {
            "type": "integer",
            "description": "Current page number"
          },
          "PrevPageUrl": {
            "type": "string",
            "description": "URL of the previous page"
          },
          "RecordCount": {
            "type": "integer",
            "description": "Total number of data records"
          }
        }
      },
      "Spo2AppDataItem": {
        "type": "object",
        "properties": {
          "BO": {
            "type": "number",
            "description": "Blood Oxygen value"
          },
          "DataID": {
            "type": "string",
            "description": "Unique data identity"
          },
          "HR": {
            "type": "integer",
            "description": "Heart rate"
          },
          "Lat": {
            "type": "number",
            "description": "Latitude of testing place"
          },
          "Lon": {
            "type": "number",
            "description": "Longitude of testing place"
          },
          "MDate": {
            "type": "integer",
            "description": "Measurement date time"
          },
          "Note": {
            "type": "string",
            "description": "Note for this data"
          },
          "LastChangeTime": {
            "type": "integer",
            "description": "Time of last change (UTC)"
          },
          "DataSource": {
            "type": "string",
            "description": "Data source: Manual or FromDevice"
          },
          "TimeZone": {
            "type": "string",
            "description": "Time zone of measurement location"
          },
          "userid": {
            "type": "string",
            "description": "Unique identity of user"
          }
        }
      },
      "Spo2AppResponse": {
        "type": "object",
        "properties": {
          "BODataList": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Spo2AppDataItem"
            },
            "description": "Data list of Blood Oxygen (all users)"
          },
          "NextPageUrl": {
            "type": "string",
            "description": "URL of the next page"
          },
          "CurrentRecordCount": {
            "type": "integer",
            "description": "Count of records on current page"
          },
          "PageLength": {
            "type": "integer",
            "description": "Length of one page"
          },
          "PageNumber": {
            "type": "integer",
            "description": "Current page number"
          },
          "PrevPageUrl": {
            "type": "string",
            "description": "URL of the previous page"
          },
          "RecordCount": {
            "type": "integer",
            "description": "Total number of data records"
          }
        }
      },
      "ActivityDataItem": {
        "type": "object",
        "properties": {
          "Calories": {
            "type": "number",
            "description": "Total calories consumed"
          },
          "DataID": {
            "type": "string",
            "description": "Unique data identity"
          },
          "DistanceTraveled": {
            "type": "number",
            "description": "Distance traveled"
          },
          "Lat": {
            "type": "number",
            "description": "Latitude of testing place"
          },
          "Lon": {
            "type": "number",
            "description": "Longitude of testing place"
          },
          "Steps": {
            "type": "integer",
            "description": "Statistical steps"
          },
          "MDate": {
            "type": "integer",
            "description": "Measurement date time"
          },
          "Note": {
            "type": "string",
            "description": "Note for this data"
          },
          "LastChangeTime": {
            "type": "integer",
            "description": "Time of last change (UTC)"
          },
          "DataSource": {
            "type": "string",
            "description": "Data source: Manual or FromDevice"
          },
          "TimeZone": {
            "type": "string",
            "description": "Time zone of measurement location"
          }
        }
      },
      "ActivityUserResponse": {
        "type": "object",
        "properties": {
          "ARDataList": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/ActivityDataItem"
            },
            "description": "Data list of Activity Report"
          },
          "NextPageUrl": {
            "type": "string",
            "description": "URL of the next page"
          },
          "CurrentRecordCount": {
            "type": "integer",
            "description": "Count of records on current page"
          },
          "PageLength": {
            "type": "integer",
            "description": "Length of one page"
          },
          "PageNumber": {
            "type": "integer",
            "description": "Current page number"
          },
          "PrevPageUrl": {
            "type": "string",
            "description": "URL of the previous page"
          },
          "RecordCount": {
            "type": "integer",
            "description": "Total number of data records"
          },
          "DistanceUnit": {
            "type": "integer",
            "description": "Distance unit"
          }
        }
      },
      "ActivityAppDataItem": {
        "type": "object",
        "properties": {
          "Calories": {
            "type": "number",
            "description": "Total calories consumed"
          },
          "DataID": {
            "type": "string",
            "description": "Unique data identity"
          },
          "DistanceTraveled": {
            "type": "number",
            "description": "Distance traveled"
          },
          "Lat": {
            "type": "number",
            "description": "Latitude of testing place"
          },
          "Lon": {
            "type": "number",
            "description": "Longitude of testing place"
          },
          "Steps": {
            "type": "integer",
            "description": "Statistical steps"
          },
          "MDate": {
            "type": "integer",
            "description": "Measurement date time"
          },
          "Note": {
            "type": "string",
            "description": "Note for this data"
          },
          "LastChangeTime": {
            "type": "integer",
            "description": "Time of last change (UTC)"
          },
          "DataSource": {
            "type": "string",
            "description": "Data source: Manual or FromDevice"
          },
          "TimeZone": {
            "type": "string",
            "description": "Time zone of measurement location"
          },
          "userid": {
            "type": "string",
            "description": "Unique identity of user"
          }
        }
      },
      "ActivityAppResponse": {
        "type": "object",
        "properties": {
          "ARDataList": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/ActivityAppDataItem"
            },
            "description": "Data list of Activity Report (all users)"
          },
          "NextPageUrl": {
            "type": "string",
            "description": "URL of the next page"
          },
          "CurrentRecordCount": {
            "type": "integer",
            "description": "Count of records on current page"
          },
          "PageLength": {
            "type": "integer",
            "description": "Length of one page"
          },
          "PageNumber": {
            "type": "integer",
            "description": "Current page number"
          },
          "PrevPageUrl": {
            "type": "string",
            "description": "URL of the previous page"
          },
          "RecordCount": {
            "type": "integer",
            "description": "Total number of data records"
          },
          "DistanceUnit": {
            "type": "integer",
            "description": "Distance unit"
          }
        }
      },
      "SleepDataItem": {
        "type": "object",
        "properties": {
          "Awaken": {
            "type": "integer",
            "description": "Number of times awoken"
          },
          "DataID": {
            "type": "string",
            "description": "Unique data identity"
          },
          "Fallsleep": {
            "type": "integer",
            "description": "Time until asleep (minutes)"
          },
          "HoursSlept": {
            "type": "number",
            "description": "Length of sleep (hours)"
          },
          "SleepEfficiency": {
            "type": "number",
            "description": "Sleep efficiency percentage"
          },
          "Lat": {
            "type": "number",
            "description": "Latitude of testing place"
          },
          "Lon": {
            "type": "number",
            "description": "Longitude of testing place"
          },
          "StartTime": {
            "type": "integer",
            "description": "Start time of sleep"
          },
          "EndTime": {
            "type": "integer",
            "description": "End time of sleep"
          },
          "Note": {
            "type": "string",
            "description": "Note for this data"
          },
          "LastChangeTime": {
            "type": "integer",
            "description": "Time of last change (UTC)"
          },
          "DataSource": {
            "type": "string",
            "description": "Data source: Manual or FromDevice"
          },
          "TimeZone": {
            "type": "string",
            "description": "Time zone of measurement location"
          }
        }
      },
      "SleepUserResponse": {
        "type": "object",
        "properties": {
          "SRDataList": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/SleepDataItem"
            },
            "description": "Data list of Sleep Report"
          },
          "NextPageUrl": {
            "type": "string",
            "description": "URL of the next page"
          },
          "CurrentRecordCount": {
            "type": "integer",
            "description": "Count of records on current page"
          },
          "PageLength": {
            "type": "integer",
            "description": "Length of one page"
          },
          "PageNumber": {
            "type": "integer",
            "description": "Current page number"
          },
          "PrevPageUrl": {
            "type": "string",
            "description": "URL of the previous page"
          },
          "RecordCount": {
            "type": "integer",
            "description": "Total number of data records"
          }
        }
      },
      "SleepAppDataItem": {
        "type": "object",
        "properties": {
          "Awaken": {
            "type": "integer",
            "description": "Number of times awoken"
          },
          "DataID": {
            "type": "string",
            "description": "Unique data identity"
          },
          "Fallsleep": {
            "type": "integer",
            "description": "Time until asleep (minutes)"
          },
          "HoursSlept": {
            "type": "number",
            "description": "Length of sleep (hours)"
          },
          "SleepEfficiency": {
            "type": "number",
            "description": "Sleep efficiency percentage"
          },
          "Lat": {
            "type": "number",
            "description": "Latitude of testing place"
          },
          "Lon": {
            "type": "number",
            "description": "Longitude of testing place"
          },
          "StartTime": {
            "type": "integer",
            "description": "Start time of sleep"
          },
          "EndTime": {
            "type": "integer",
            "description": "End time of sleep"
          },
          "Note": {
            "type": "string",
            "description": "Note for this data"
          },
          "LastChangeTime": {
            "type": "integer",
            "description": "Time of last change (UTC)"
          },
          "DataSource": {
            "type": "string",
            "description": "Data source: Manual or FromDevice"
          },
          "TimeZone": {
            "type": "string",
            "description": "Time zone of measurement location"
          },
          "userid": {
            "type": "string",
            "description": "Unique identity of user"
          }
        }
      },
      "SleepAppResponse": {
        "type": "object",
        "properties": {
          "SRDataList": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/SleepAppDataItem"
            },
            "description": "Data list of Sleep Report (all users)"
          },
          "NextPageUrl": {
            "type": "string",
            "description": "URL of the next page"
          },
          "CurrentRecordCount": {
            "type": "integer",
            "description": "Count of records on current page"
          },
          "PageLength": {
            "type": "integer",
            "description": "Length of one page"
          },
          "PageNumber": {
            "type": "integer",
            "description": "Current page number"
          },
          "PrevPageUrl": {
            "type": "string",
            "description": "URL of the previous page"
          },
          "RecordCount": {
            "type": "integer",
            "description": "Total number of data records"
          }
        }
      },
      "SportDataItem": {
        "type": "object",
        "properties": {
          "SportName": {
            "type": "string",
            "description": "Name of sport"
          },
          "SportStartTime": {
            "type": "integer",
            "description": "Start time of sport"
          },
          "SportEndTime": {
            "type": "integer",
            "description": "End time of sport"
          },
          "TimeZone": {
            "type": "string",
            "description": "Time zone of measurement location"
          },
          "Lat": {
            "type": "number",
            "description": "Latitude of testing place"
          },
          "Lon": {
            "type": "number",
            "description": "Longitude of testing place"
          },
          "DataID": {
            "type": "string",
            "description": "Unique data identity"
          },
          "Calories": {
            "type": "number",
            "description": "Total calories consumed"
          },
          "LastChangeTime": {
            "type": "integer",
            "description": "Time of last change (UTC)"
          },
          "DataSource": {
            "type": "string",
            "description": "Data source: Manual or FromDevice"
          }
        }
      },
      "SportUserResponse": {
        "type": "object",
        "properties": {
          "SPORTDataList": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/SportDataItem"
            },
            "description": "Data list of Sport Report"
          },
          "NextPageUrl": {
            "type": "string",
            "description": "URL of the next page"
          },
          "CurrentRecordCount": {
            "type": "integer",
            "description": "Count of records on current page"
          },
          "PageLength": {
            "type": "integer",
            "description": "Length of one page"
          },
          "PageNumber": {
            "type": "integer",
            "description": "Current page number"
          },
          "PrevPageUrl": {
            "type": "string",
            "description": "URL of the previous page"
          },
          "RecordCount": {
            "type": "integer",
            "description": "Total number of data records"
          }
        }
      },
      "SportAppDataItem": {
        "type": "object",
        "properties": {
          "SportName": {
            "type": "string",
            "description": "Name of sport"
          },
          "SportStartTime": {
            "type": "integer",
            "description": "Start time of sport"
          },
          "SportEndTime": {
            "type": "integer",
            "description": "End time of sport"
          },
          "TimeZone": {
            "type": "string",
            "description": "Time zone of measurement location"
          },
          "Lat": {
            "type": "number",
            "description": "Latitude of testing place"
          },
          "Lon": {
            "type": "number",
            "description": "Longitude of testing place"
          },
          "DataID": {
            "type": "string",
            "description": "Unique data identity"
          },
          "Calories": {
            "type": "number",
            "description": "Total calories consumed"
          },
          "LastChangeTime": {
            "type": "integer",
            "description": "Time of last change (UTC)"
          },
          "DataSource": {
            "type": "string",
            "description": "Data source: Manual or FromDevice"
          },
          "userid": {
            "type": "string",
            "description": "Unique identity of user"
          }
        }
      },
      "SportAppResponse": {
        "type": "object",
        "properties": {
          "SPORTDataList": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/SportAppDataItem"
            },
            "description": "Data list of Sport Report (all users)"
          },
          "NextPageUrl": {
            "type": "string",
            "description": "URL of the next page"
          },
          "CurrentRecordCount": {
            "type": "integer",
            "description": "Count of records on current page"
          },
          "PageLength": {
            "type": "integer",
            "description": "Length of one page"
          },
          "PageNumber": {
            "type": "integer",
            "description": "Current page number"
          },
          "PrevPageUrl": {
            "type": "string",
            "description": "URL of the previous page"
          },
          "RecordCount": {
            "type": "integer",
            "description": "Total number of data records"
          }
        }
      },
      "ErrorResponse": {
        "type": "object",
        "properties": {
          "Error": {
            "type": "string",
            "description": "Error message"
          },
          "ErrorCode": {
            "type": "integer",
            "description": "Error code"
          },
          "ErrorDescription": {
            "type": "string",
            "description": "Detailed error description"
          }
        }
      }
    },
    "securitySchemes": {
      "OAuth2": {
        "type": "oauth2",
        "flows": {
          "authorizationCode": {
            "authorizationUrl": "https://api.ihealthlabs.com/OpenApiV2/OAuthv2/userauthorization.ashx",
            "tokenUrl": "https://api.ihealthlabs.com/OpenApiV2/OAuthv2/userauthorization.ashx",
            "scopes": {}
          }
        }
      }
    }
  },
  "security": [
    {
      "OAuth2": []
    }
  ],
  "tags": [
    {
      "name": "Blood Pressure",
      "description": "iHealth Blood Pressure data endpoints"
    },
    {
      "name": "Weight",
      "description": "iHealth Weight data endpoints"
    },
    {
      "name": "Blood Glucose",
      "description": "iHealth Blood Glucose data endpoints"
    },
    {
      "name": "Blood Oxygen",
      "description": "iHealth Blood Oxygen data endpoints"
    },
    {
      "name": "Activity",
      "description": "iHealth Activity Report data endpoints"
    },
    {
      "name": "Sleep",
      "description": "iHealth Sleep Report data endpoints"
    },
    {
      "name": "Sport",
      "description": "iHealth Sport Report data endpoints"
    }
  ]
}
