{
  "openapi": "3.0.3",
  "info": {
    "title": "ShipX API",
    "version": "2.8.4",
    "description": "InPost ShipX API for parcel locker and courier shipment management in Poland. Supports shipment creation, label generation, parcel tracking, points lookup, and dispatch management. Used for integration with InPost Parcel Lockers and courier services.",
    "x-jentic-source-url": "https://api-shipx-pl.easypack24.net/",
    "contact": {
      "name": "API Support"
    }
  },
  "servers": [
    {
      "url": "https://api-shipx-pl.easypack24.net/v1"
    }
  ],
  "paths": {
    "/organizations/{orgId}/shipments": {
      "post": {
        "operationId": "createShipment",
        "summary": "Create shipment",
        "description": "Creates a new shipment for a given organization.",
        "tags": [
          "Shipments"
        ],
        "parameters": [
          {
            "name": "orgId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ShipmentCreateRequest"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Shipment created",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Shipment"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "422": {
            "description": "Validation error"
          }
        }
      },
      "get": {
        "operationId": "listShipments",
        "summary": "List shipments",
        "tags": [
          "Shipments"
        ],
        "parameters": [
          {
            "name": "orgId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "page",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "default": 1
            }
          },
          {
            "name": "per_page",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "default": 25
            }
          },
          {
            "name": "status",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "service",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Shipment list",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ShipmentListResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "description": "List shipments"
      }
    },
    "/shipments/{id}": {
      "get": {
        "operationId": "getShipment",
        "summary": "Get shipment",
        "tags": [
          "Shipments"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Shipment details",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Shipment"
                }
              }
            }
          },
          "404": {
            "description": "Not found"
          }
        },
        "description": "Get shipment"
      }
    },
    "/shipments/{id}/label": {
      "get": {
        "operationId": "getShipmentLabel",
        "summary": "Get shipment label",
        "description": "Generates and returns the shipping label (PDF or ZPL format).",
        "tags": [
          "Labels"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "format",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "enum": [
                "pdf",
                "zpl",
                "epl2"
              ],
              "default": "pdf"
            }
          },
          {
            "name": "type",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "enum": [
                "normal",
                "A6"
              ],
              "default": "normal"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Label document",
            "content": {
              "application/pdf": {
                "schema": {
                  "type": "string",
                  "format": "binary"
                }
              }
            }
          },
          "404": {
            "description": "Not found"
          }
        }
      }
    },
    "/shipments/{id}/cancel": {
      "put": {
        "operationId": "cancelShipment",
        "summary": "Cancel shipment",
        "tags": [
          "Shipments"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Shipment cancelled"
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "description": "Cancel shipment"
      }
    },
    "/tracking/{trackingNumber}": {
      "get": {
        "operationId": "trackParcel",
        "summary": "Track parcel",
        "description": "Returns tracking status for a parcel by tracking number.",
        "tags": [
          "Tracking"
        ],
        "parameters": [
          {
            "name": "trackingNumber",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Tracking status",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TrackingStatus"
                }
              }
            }
          },
          "404": {
            "description": "Not found"
          }
        }
      }
    },
    "/points": {
      "get": {
        "operationId": "listPoints",
        "summary": "List pickup/delivery points",
        "description": "Returns available InPost parcel lockers and pickup points.",
        "tags": [
          "Points"
        ],
        "parameters": [
          {
            "name": "name",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "type",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "enum": [
                "parcel_locker",
                "pop",
                "parcel_locker_superpop"
              ]
            }
          },
          {
            "name": "city",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "post_code",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "status",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "enum": [
                "Operating",
                "NonOperating"
              ]
            }
          },
          {
            "name": "functions",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "relative_point",
            "in": "query",
            "required": false,
            "description": "Lat,Lng for proximity search",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "max_distance",
            "in": "query",
            "required": false,
            "schema": {
              "type": "number"
            }
          },
          {
            "name": "page",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "default": 1
            }
          },
          {
            "name": "per_page",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "default": 25
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Point list",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PointListResponse"
                }
              }
            }
          }
        }
      }
    },
    "/points/{name}": {
      "get": {
        "operationId": "getPoint",
        "summary": "Get point details",
        "tags": [
          "Points"
        ],
        "parameters": [
          {
            "name": "name",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Point details",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Point"
                }
              }
            }
          },
          "404": {
            "description": "Not found"
          }
        },
        "description": "Get point details"
      }
    },
    "/organizations/{orgId}/dispatches": {
      "post": {
        "operationId": "createDispatch",
        "summary": "Create dispatch order",
        "description": "Creates a dispatch order to schedule parcel pickup.",
        "tags": [
          "Dispatches"
        ],
        "parameters": [
          {
            "name": "orgId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "shipments"
                ],
                "properties": {
                  "shipments": {
                    "type": "array",
                    "items": {
                      "type": "integer"
                    }
                  },
                  "address": {
                    "$ref": "#/components/schemas/Address"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Dispatch created",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Dispatch"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      },
      "get": {
        "operationId": "listDispatches",
        "summary": "List dispatches",
        "tags": [
          "Dispatches"
        ],
        "parameters": [
          {
            "name": "orgId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Dispatch list"
          }
        },
        "description": "List dispatches"
      }
    },
    "/dispatches/{id}": {
      "get": {
        "operationId": "getDispatch",
        "summary": "Get dispatch",
        "tags": [
          "Dispatches"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Dispatch details",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Dispatch"
                }
              }
            }
          },
          "404": {
            "description": "Not found"
          }
        },
        "description": "Get dispatch"
      },
      "delete": {
        "operationId": "cancelDispatch",
        "summary": "Cancel dispatch",
        "tags": [
          "Dispatches"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Dispatch cancelled"
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "description": "Cancel dispatch"
      }
    },
    "/organizations": {
      "get": {
        "operationId": "listOrganizations",
        "summary": "List organizations",
        "tags": [
          "Organizations"
        ],
        "responses": {
          "200": {
            "description": "Organization list"
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "description": "List organizations"
      }
    },
    "/organizations/{orgId}": {
      "get": {
        "operationId": "getOrganization",
        "summary": "Get organization",
        "tags": [
          "Organizations"
        ],
        "parameters": [
          {
            "name": "orgId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Organization details"
          },
          "404": {
            "description": "Not found"
          }
        },
        "description": "Get organization"
      }
    }
  },
  "components": {
    "schemas": {
      "ErrorResponse": {
        "type": "object",
        "properties": {
          "error": {
            "type": "string"
          },
          "message": {
            "type": "string"
          },
          "code": {
            "type": "string"
          }
        }
      },
      "Shipment": {
        "type": "object",
        "properties": {
          "id": {
            "type": "integer"
          },
          "tracking_number": {
            "type": "string"
          },
          "service": {
            "type": "string",
            "enum": [
              "inpost_locker_standard",
              "inpost_locker_c2c",
              "inpost_courier_standard",
              "inpost_courier_express_1000",
              "inpost_courier_express_1200",
              "inpost_courier_express_1700",
              "inpost_courier_palette"
            ]
          },
          "status": {
            "type": "string"
          },
          "custom_attributes": {
            "type": "object",
            "properties": {
              "sending_method": {
                "type": "string",
                "enum": [
                  "dispatch_order",
                  "pop",
                  "parcel_locker"
                ]
              },
              "target_point": {
                "type": "string"
              },
              "dropoff_point": {
                "type": "string"
              }
            }
          },
          "sender": {
            "$ref": "#/components/schemas/Address"
          },
          "receiver": {
            "$ref": "#/components/schemas/Address"
          },
          "parcels": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Parcel"
            }
          },
          "reference": {
            "type": "string"
          },
          "comments": {
            "type": "string"
          },
          "created_at": {
            "type": "string",
            "format": "date-time"
          },
          "updated_at": {
            "type": "string",
            "format": "date-time"
          }
        }
      },
      "ShipmentCreateRequest": {
        "type": "object",
        "required": [
          "service",
          "receiver",
          "parcels"
        ],
        "properties": {
          "service": {
            "type": "string"
          },
          "receiver": {
            "$ref": "#/components/schemas/Address"
          },
          "sender": {
            "$ref": "#/components/schemas/Address"
          },
          "parcels": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Parcel"
            }
          },
          "custom_attributes": {
            "type": "object",
            "properties": {
              "sending_method": {
                "type": "string"
              },
              "target_point": {
                "type": "string"
              },
              "dropoff_point": {
                "type": "string"
              }
            }
          },
          "reference": {
            "type": "string"
          },
          "comments": {
            "type": "string"
          },
          "external_customer_id": {
            "type": "string"
          },
          "insurance": {
            "type": "object",
            "properties": {
              "amount": {
                "type": "number"
              },
              "currency": {
                "type": "string"
              }
            }
          },
          "cod": {
            "type": "object",
            "properties": {
              "amount": {
                "type": "number"
              },
              "currency": {
                "type": "string"
              }
            }
          }
        }
      },
      "Address": {
        "type": "object",
        "properties": {
          "name": {
            "type": "string"
          },
          "company_name": {
            "type": "string"
          },
          "first_name": {
            "type": "string"
          },
          "last_name": {
            "type": "string"
          },
          "email": {
            "type": "string",
            "format": "email"
          },
          "phone": {
            "type": "string"
          },
          "street": {
            "type": "string"
          },
          "building_number": {
            "type": "string"
          },
          "city": {
            "type": "string"
          },
          "post_code": {
            "type": "string"
          },
          "country_code": {
            "type": "string"
          }
        }
      },
      "Parcel": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string"
          },
          "dimensions": {
            "type": "object",
            "properties": {
              "length": {
                "type": "number"
              },
              "width": {
                "type": "number"
              },
              "height": {
                "type": "number"
              },
              "unit": {
                "type": "string",
                "enum": [
                  "mm"
                ]
              }
            }
          },
          "weight": {
            "type": "object",
            "properties": {
              "amount": {
                "type": "number"
              },
              "unit": {
                "type": "string",
                "enum": [
                  "kg"
                ]
              }
            }
          },
          "template": {
            "type": "string",
            "enum": [
              "small",
              "medium",
              "large"
            ]
          }
        }
      },
      "ShipmentListResponse": {
        "type": "object",
        "properties": {
          "items": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Shipment"
            }
          },
          "count": {
            "type": "integer"
          },
          "page": {
            "type": "integer"
          },
          "per_page": {
            "type": "integer"
          },
          "total_pages": {
            "type": "integer"
          }
        }
      },
      "TrackingStatus": {
        "type": "object",
        "properties": {
          "tracking_number": {
            "type": "string"
          },
          "service": {
            "type": "string"
          },
          "status": {
            "type": "string"
          },
          "custom_attributes": {
            "type": "object"
          },
          "tracking_details": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "status": {
                  "type": "string"
                },
                "datetime": {
                  "type": "string",
                  "format": "date-time"
                },
                "agency": {
                  "type": "string"
                },
                "origin_status": {
                  "type": "string"
                }
              }
            }
          }
        }
      },
      "Point": {
        "type": "object",
        "properties": {
          "name": {
            "type": "string"
          },
          "type": {
            "type": "array",
            "items": {
              "type": "string",
              "enum": [
                "parcel_locker",
                "pop",
                "parcel_locker_superpop"
              ]
            }
          },
          "status": {
            "type": "string",
            "enum": [
              "Operating",
              "NonOperating"
            ]
          },
          "location": {
            "type": "object",
            "properties": {
              "longitude": {
                "type": "number"
              },
              "latitude": {
                "type": "number"
              }
            }
          },
          "address": {
            "type": "object",
            "properties": {
              "line1": {
                "type": "string"
              },
              "line2": {
                "type": "string"
              }
            }
          },
          "address_details": {
            "type": "object",
            "properties": {
              "city": {
                "type": "string"
              },
              "province": {
                "type": "string"
              },
              "post_code": {
                "type": "string"
              },
              "street": {
                "type": "string"
              },
              "building_number": {
                "type": "string"
              }
            }
          },
          "opening_hours": {
            "type": "string"
          },
          "location_description": {
            "type": "string"
          },
          "functions": {
            "type": "array",
            "items": {
              "type": "string"
            }
          }
        }
      },
      "PointListResponse": {
        "type": "object",
        "properties": {
          "items": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Point"
            }
          },
          "count": {
            "type": "integer"
          },
          "page": {
            "type": "integer"
          },
          "per_page": {
            "type": "integer"
          },
          "total_pages": {
            "type": "integer"
          }
        }
      },
      "Dispatch": {
        "type": "object",
        "properties": {
          "id": {
            "type": "integer"
          },
          "status": {
            "type": "string"
          },
          "shipments": {
            "type": "array",
            "items": {
              "type": "integer"
            }
          },
          "created_at": {
            "type": "string",
            "format": "date-time"
          }
        }
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "scheme": "bearer",
        "description": "Bearer token obtained from InPost Manager"
      }
    }
  },
  "security": [
    {
      "bearerAuth": []
    }
  ],
  "tags": [
    {
      "name": "Shipments",
      "description": "Shipment creation and management"
    },
    {
      "name": "Tracking",
      "description": "Parcel tracking"
    },
    {
      "name": "Points",
      "description": "Parcel locker and pickup point locations"
    },
    {
      "name": "Dispatches",
      "description": "Dispatch order management"
    },
    {
      "name": "Organizations",
      "description": "Organization management"
    },
    {
      "name": "Labels",
      "description": "Shipping label generation"
    }
  ]
}
