{
  "openapi": "3.0.3",
  "info": {
    "description": "<img src='https://upload.wikimedia.org/wikipedia/commons/thumb/a/a0/Bandhan_Bank_Svg_Logo.svg/1280px-Bandhan_Bank_Svg_Logo.svg.png' width='500'/><br/><br/>Secure APIs enabling the end-to-end CVCE loan lifecycle for Bandhan Bank.",
    "title": "Bandhan Bank \u2013 CVCE Loan APIs",
    "version": "1.0.0",
    "termsOfService": "https://bandhan.bank.in/terms",
    "contact": {
      "name": "CK Bandhan Bank \u2013 API Support",
      "email": "ck.apisupport@cloudkaptan.com"
    },
    "x-jentic-source-url": "https://api.swaggerhub.com/apis/cloudkaptanconsultan-f74/bandhan-bank-cvce-loan-apis/1.0.0"
  },
  "externalDocs": {
    "description": "Find out more about Bandhan Bank",
    "url": "https://bandhan.bank.in/"
  },
  "servers": [
    {
      "description": "CVCE Sandbox Environment",
      "url": "https://cloudkaptanconsultancyservicespvt4.my.salesforce.com/services/apexrest/api/v1/external"
    }
  ],
  "tags": [
    {
      "name": "Application",
      "description": "Everything related to the application creation"
    },
    {
      "name": "Drawdown",
      "description": "Everything related to drawdown & payments"
    }
  ],
  "paths": {
    "/generateLead": {
      "post": {
        "tags": [
          "Application"
        ],
        "summary": "Create a new CVCE loan lead",
        "description": "Creates a new CVCE loan lead in Bandhan Bank systems using customer and preliminary loan details.",
        "operationId": "doGenerateNewLead",
        "requestBody": {
          "description": "Generate a new lead",
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "lead_details": {
                    "type": "object",
                    "properties": {
                      "first_name": {
                        "type": "string"
                      },
                      "last_name": {
                        "type": "string"
                      },
                      "industry": {
                        "type": "string",
                        "items": {
                          "$ref": "#/components/schemas/industry"
                        }
                      },
                      "email": {
                        "type": "string"
                      },
                      "phone_number": {
                        "type": "string"
                      },
                      "company": {
                        "type": "string"
                      }
                    }
                  }
                }
              },
              "examples": {
                "Industry type - Consulting": {
                  "summary": "Initiate a new lead for a Consulting company",
                  "value": {
                    "lead_details": {
                      "first_name": "Jamie",
                      "last_name": "Cathcart",
                      "company": "Birch Agency Ltd",
                      "phone_number": "8670176360",
                      "email": "jamie.cathcart@yopmail.com",
                      "industry": "Consulting"
                    }
                  }
                },
                "Industry type - Banking": {
                  "summary": "Initiate a new lead for a Consulting company",
                  "value": {
                    "lead_details": {
                      "first_name": "Jamie",
                      "last_name": "Cathcart",
                      "company": "Birch Agency Ltd",
                      "phone_number": "8670176360",
                      "email": "jamie.cathcart@yopmail.com",
                      "industry": "Banking"
                    }
                  }
                },
                "Industry type - Insurance": {
                  "summary": "Initiate a new lead for a Consulting company",
                  "value": {
                    "lead_details": {
                      "first_name": "Jamie",
                      "last_name": "Cathcart",
                      "company": "Birch Agency Ltd",
                      "phone_number": "8670176360",
                      "email": "jamie.cathcart@yopmail.com",
                      "industry": "Insurance"
                    }
                  }
                }
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Created",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": {
                      "type": "string"
                    },
                    "content": {
                      "type": "object",
                      "properties": {
                        "body": {
                          "type": "object",
                          "properties": {
                            "lead": {
                              "type": "object",
                              "properties": {
                                "lead_id": {
                                  "type": "string"
                                }
                              }
                            }
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": {
                      "type": "string"
                    },
                    "content": {
                      "type": "object",
                      "properties": {
                        "message": {
                          "type": "string"
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "403": {
            "description": "Invalid Format",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": {
                      "type": "string"
                    },
                    "content": {
                      "type": "object",
                      "properties": {
                        "message": {
                          "type": "string"
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/convertLead": {
      "post": {
        "tags": [
          "Application"
        ],
        "summary": "Convert a qualified lead into a loan opportunity",
        "description": "Converts a CVCE loan lead to an opportunity in Bandhan Bank systems using customer and loan details.",
        "operationId": "doConvertLead",
        "requestBody": {
          "description": "Convert lead to opportunity",
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "lead_details": {
                    "type": "object",
                    "properties": {
                      "lead_id": {
                        "type": "string"
                      }
                    }
                  },
                  "loan_details": {
                    "type": "object",
                    "properties": {
                      "requested_sanction_amount": {
                        "type": "string"
                      },
                      "expected_purchase_plan": {
                        "type": "string",
                        "items": {
                          "$ref": "#/components/schemas/purchase_plan"
                        }
                      },
                      "vehicle_requirement": {
                        "type": "string",
                        "items": {
                          "$ref": "#/components/schemas/vehicle_requirement"
                        }
                      },
                      "vehicle_category": {
                        "type": "string",
                        "items": {
                          "$ref": "#/components/schemas/vehicle_category"
                        }
                      }
                    }
                  },
                  "company_information_details": {
                    "type": "object",
                    "properties": {
                      "business_phone_number": {
                        "type": "string"
                      },
                      "legalEntity": {
                        "type": "string",
                        "items": {
                          "$ref": "#/components/schemas/legalEntity"
                        }
                      }
                    }
                  },
                  "principal_information_details": {
                    "type": "object",
                    "properties": {
                      "principal_phone_number": {
                        "type": "string"
                      },
                      "principal_email": {
                        "type": "string"
                      }
                    }
                  }
                }
              },
              "examples": {
                "takes the necessary loan & company information to convert a lead into an opportunity": {
                  "summary": "Corporation entity buying new buses",
                  "value": {
                    "lead_details": {
                      "lead_id": "00QdN00000CkhkbUAB"
                    },
                    "loan_details": {
                      "requested_sanction_amount": "50000",
                      "expected_purchase_plan": "Next 30 days",
                      "vehicle_requirement": "New",
                      "vehicle_category": "Bus"
                    },
                    "company_information_details": {
                      "business_phone_number": "8670979390",
                      "legalEntity": "Corporation"
                    },
                    "principal_information_details": {
                      "principal_phone_number": "8670176360",
                      "principal_email": "robin.shukla@yopmail.com"
                    }
                  }
                }
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Created",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": {
                      "type": "string"
                    },
                    "content": {
                      "type": "object",
                      "properties": {
                        "message": {
                          "type": "string"
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": {
                      "type": "string"
                    },
                    "content": {
                      "type": "object",
                      "properties": {
                        "message": {
                          "type": "string"
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "403": {
            "description": "Invalid Format",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": {
                      "type": "string"
                    },
                    "content": {
                      "type": "object",
                      "properties": {
                        "message": {
                          "type": "string"
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/createApplication": {
      "post": {
        "tags": [
          "Application"
        ],
        "summary": "Create a detailed loan application",
        "description": "Converts a CVCE loan opportunity to an application form in Bandhan Bank systems using company, operational, fleet and facility details.",
        "operationId": "doCreateApplication",
        "requestBody": {
          "description": "Convert opportunity to application form",
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "opportunity_details": {
                    "type": "object",
                    "properties": {
                      "opportunity_id": {
                        "type": "string"
                      }
                    }
                  },
                  "company_information": {
                    "type": "object",
                    "properties": {
                      "legal_name": {
                        "type": "string"
                      },
                      "legal_entity": {
                        "type": "string",
                        "items": {
                          "$ref": "#/components/schemas/legalEntity"
                        }
                      },
                      "years_in_operation": {
                        "type": "string"
                      },
                      "industry_type": {
                        "type": "string",
                        "items": {
                          "$ref": "#/components/schemas/industry"
                        }
                      },
                      "business_phone": {
                        "type": "string"
                      },
                      "business_email": {
                        "type": "string"
                      },
                      "gstin": {
                        "type": "string"
                      },
                      "permanent_account_number": {
                        "type": "string"
                      },
                      "registered_address": {
                        "type": "string"
                      }
                    }
                  },
                  "operational_details": {
                    "type": "object",
                    "properties": {
                      "primary_revenue_type": {
                        "type": "string",
                        "items": {
                          "$ref": "#/components/schemas/revenue_Type"
                        }
                      },
                      "monthly_revenue_band": {
                        "type": "string",
                        "items": {
                          "$ref": "#/components/schemas/revenue_Band"
                        }
                      },
                      "monthly_operating_cost_band": {
                        "type": "string",
                        "items": {
                          "$ref": "#/components/schemas/operating_Cost_Band"
                        }
                      }
                    }
                  },
                  "fleet_details": {
                    "type": "object",
                    "properties": {
                      "current_fleet_count": {
                        "type": "integer"
                      },
                      "financed_vehicle_count": {
                        "type": "integer"
                      },
                      "average_monthly_utilization": {
                        "type": "integer"
                      },
                      "current_lender": {
                        "type": "string"
                      },
                      "driver_model": {
                        "type": "string",
                        "items": {
                          "$ref": "#/components/schemas/driver_model"
                        }
                      }
                    }
                  },
                  "facility_details": {
                    "type": "object",
                    "properties": {
                      "disbursal_disclosure": {
                        "type": "string"
                      },
                      "number_of_vehicles_requested": {
                        "type": "integer"
                      },
                      "requested_amount": {
                        "type": "integer"
                      },
                      "average_cost_per_vehicle": {
                        "type": "integer"
                      },
                      "downpayment_capacity": {
                        "type": "integer"
                      },
                      "new_or_used": {
                        "type": "string",
                        "items": {
                          "$ref": "#/components/schemas/new_or_used"
                        }
                      },
                      "intended_use_of_vehicle": {
                        "type": "string",
                        "items": {
                          "$ref": "#/components/schemas/intended_use_of_vehicle"
                        }
                      },
                      "vehicle_category": {
                        "type": "string",
                        "items": {
                          "$ref": "#/components/schemas/vehicle_category"
                        }
                      },
                      "preferred_make": {
                        "type": "string"
                      },
                      "preferred_model": {
                        "type": "string"
                      },
                      "expected_purchase_plan": {
                        "type": "string",
                        "items": {
                          "$ref": "#/components/schemas/purchase_plan"
                        }
                      },
                      "preferred_tenure": {
                        "type": "string"
                      }
                    }
                  }
                }
              },
              "examples": {
                "takes the necessary company, operational, fleet and facility details to convert an opportunity into an application form": {
                  "summary": "Corporation entity buying new buses",
                  "value": {
                    "opportunity_details": {
                      "opportunity_id": "006dN00000BGrmnQAD"
                    },
                    "company_information": {
                      "legal_name": "Krishna Enterprise",
                      "legal_entity": "Corporation",
                      "years_in_operation": "25",
                      "industry_type": "Environmental",
                      "business_phone": "8620068787",
                      "business_email": "krishnaent@yopmail.com",
                      "gstin": "TGSHDJK3437KJSG",
                      "permanent_account_number": "HJSKH8763Y",
                      "registered_address": "Street no 372, Action area 1, newtown, chakpachuria"
                    },
                    "operational_details": {
                      "primary_revenue_type": "Contracted",
                      "monthly_revenue_band": "10,00,001 - 25,00,000",
                      "monthly_operating_cost_band": "1,00,000 - 5,00,000"
                    },
                    "fleet_details": {
                      "current_fleet_count": 5,
                      "financed_vehicle_count": 3,
                      "average_monthly_utilization": 500,
                      "current_lender": "Axis Bank",
                      "driver_model": "Aggregator"
                    },
                    "facility_details": {
                      "disbursal_disclosure": "True",
                      "number_of_vehicles_requested": 25,
                      "requested_amount": 30000000,
                      "average_cost_per_vehicle": 1500000,
                      "downpayment_capacity": 50,
                      "new_or_used": "New",
                      "intended_use_of_vehicle": "Staff transport",
                      "vehicle_category": "Bus",
                      "preferred_make": "Tata",
                      "preferred_model": "Starbus",
                      "expected_purchase_plan": "Immediately",
                      "preferred_tenure": "24"
                    }
                  }
                }
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Created",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": {
                      "type": "string"
                    },
                    "content": {
                      "type": "object",
                      "properties": {
                        "message": {
                          "type": "string"
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": {
                      "type": "string"
                    },
                    "content": {
                      "type": "object",
                      "properties": {
                        "message": {
                          "type": "string"
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "403": {
            "description": "Invalid Format",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": {
                      "type": "string"
                    },
                    "content": {
                      "type": "object",
                      "properties": {
                        "message": {
                          "type": "string"
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/addDirectors": {
      "post": {
        "tags": [
          "Application"
        ],
        "summary": "Add a co-applicant or guarantor",
        "description": "Add a principal a CVCE loan application.",
        "operationId": "addPrincipal",
        "requestBody": {
          "description": "Convert lead to opportunity",
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "application_form_details": {
                    "type": "object",
                    "properties": {
                      "application_form_name": {
                        "type": "string"
                      }
                    }
                  },
                  "principal_details": {
                    "type": "object",
                    "properties": {
                      "role": {
                        "type": "string",
                        "items": {
                          "$ref": "#/components/schemas/role"
                        }
                      },
                      "first_name": {
                        "type": "string"
                      },
                      "last_name": {
                        "type": "string"
                      },
                      "middle_name": {
                        "type": "string"
                      },
                      "birthdate": {
                        "type": "string"
                      },
                      "pan": {
                        "type": "string"
                      },
                      "aadhaar_number": {
                        "type": "string"
                      },
                      "mobile": {
                        "type": "string"
                      },
                      "email": {
                        "type": "string"
                      },
                      "ownership_percent": {
                        "type": "integer"
                      },
                      "residential_address": {
                        "type": "string"
                      }
                    }
                  }
                }
              },
              "examples": {
                "takes the necessary principal information to add them to a application": {
                  "summary": "Add an individual to an application",
                  "value": {
                    "application_form_details": {
                      "application_form_name": "AF-00000088"
                    },
                    "principal_details": {
                      "role": "Co-Applicant",
                      "first_name": "Abhay",
                      "last_name": "Khanna",
                      "middle_name": "Kumar",
                      "birthdate": "2001-08-18",
                      "pan": "UHWQD2131I",
                      "aadhaar_number": "987654321000",
                      "mobile": "8671084638",
                      "email": "abhay.kanna@yopmail.com",
                      "ownership_percent": 43,
                      "residential_address": "Street no 372, Action area 1, newtown, chakpachuria"
                    }
                  }
                }
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Created",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": {
                      "type": "string"
                    },
                    "content": {
                      "type": "object",
                      "properties": {
                        "message": {
                          "type": "string"
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": {
                      "type": "string"
                    },
                    "content": {
                      "type": "object",
                      "properties": {
                        "message": {
                          "type": "string"
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "403": {
            "description": "Invalid Format",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": {
                      "type": "string"
                    },
                    "content": {
                      "type": "object",
                      "properties": {
                        "message": {
                          "type": "string"
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/fetchApplicationFormDetails/{applicationFormName}": {
      "get": {
        "tags": [
          "Application"
        ],
        "summary": "Fetches the details of an application form",
        "description": "Fetches the details of an application form.",
        "parameters": [
          {
            "in": "path",
            "name": "applicationFormName",
            "schema": {
              "type": "string"
            },
            "required": true
          }
        ],
        "operationId": "doFetchApplicationFormDetails",
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": {
                      "type": "string"
                    },
                    "content": {
                      "type": "object",
                      "properties": {
                        "message": {
                          "type": "string"
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": {
                      "type": "string"
                    },
                    "content": {
                      "type": "object",
                      "properties": {
                        "message": {
                          "type": "string"
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "403": {
            "description": "Invalid Format",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": {
                      "type": "string"
                    },
                    "content": {
                      "type": "object",
                      "properties": {
                        "message": {
                          "type": "string"
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/fetchApplicantDetails": {
      "get": {
        "tags": [
          "Application"
        ],
        "summary": "Fetches the details of the applicant",
        "description": "Fetches the details of the applicant.",
        "operationId": "doFetchApplicantDetails",
        "requestBody": {
          "description": "Fetch the applicant details",
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "application_form_details": {
                    "type": "object",
                    "properties": {
                      "application_form_name": {
                        "type": "string"
                      }
                    }
                  }
                }
              },
              "examples": {
                "takes the application name and provides the details around it": {
                  "summary": "Corporation entity buying new buses",
                  "value": {
                    "application_form_details": {
                      "application_form_name": "AF-00000088"
                    }
                  }
                }
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Created",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": {
                      "type": "string"
                    },
                    "content": {
                      "type": "object",
                      "properties": {
                        "message": {
                          "type": "string"
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": {
                      "type": "string"
                    },
                    "content": {
                      "type": "object",
                      "properties": {
                        "message": {
                          "type": "string"
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "403": {
            "description": "Invalid Format",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": {
                      "type": "string"
                    },
                    "content": {
                      "type": "object",
                      "properties": {
                        "message": {
                          "type": "string"
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/createEquipmentDrawdown": {
      "post": {
        "tags": [
          "Drawdown"
        ],
        "summary": "Creates a request for equipment drawdown",
        "description": "Creates a request for equipment drawdown.",
        "operationId": "doCreateEquipmentDrawdown",
        "requestBody": {
          "description": "Creates a request for equipment drawdown",
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "application_form_details": {
                    "type": "object",
                    "properties": {
                      "application_form_name": {
                        "type": "string"
                      }
                    }
                  },
                  "equipment_details": {
                    "type": "object",
                    "properties": {
                      "equipment_category": {
                        "type": "string"
                      },
                      "other_equipment": {
                        "type": "string"
                      },
                      "serial_number": {
                        "type": "string"
                      },
                      "purchase_price": {
                        "type": "integer"
                      },
                      "delivery_date": {
                        "type": "string"
                      },
                      "invoice_number": {
                        "type": "string"
                      },
                      "invoice_date": {
                        "type": "string"
                      },
                      "year_of_manufacture": {
                        "type": "string"
                      }
                    }
                  },
                  "seller_information": {
                    "type": "object",
                    "properties": {
                      "seller_name": {
                        "type": "string"
                      },
                      "seller_address": {
                        "type": "string"
                      },
                      "seller_bank_name": {
                        "type": "string"
                      },
                      "seller_bank_type": {
                        "type": "string"
                      },
                      "seller_bank_account_number": {
                        "type": "string"
                      },
                      "seller_ifsc_code": {
                        "type": "string"
                      }
                    }
                  },
                  "margin_proof": {
                    "type": "object",
                    "properties": {
                      "payment_mode": {
                        "type": "string"
                      },
                      "amount_paid": {
                        "type": "integer"
                      },
                      "payment_date": {
                        "type": "string"
                      },
                      "utr_ref_number": {
                        "type": "string"
                      }
                    }
                  },
                  "payment_details": {
                    "type": "object",
                    "properties": {
                      "bank_name": {
                        "type": "string"
                      },
                      "bank_type": {
                        "type": "string"
                      },
                      "bank_account_number": {
                        "type": "string"
                      },
                      "ifsc_code": {
                        "type": "string"
                      }
                    }
                  }
                }
              },
              "examples": {
                "takes the necessary loan & company information to convert a lead into an opportunity": {
                  "summary": "Corporation entity buying new buses",
                  "value": {
                    "application_form_details": {
                      "application_form_name": "AF-00000088"
                    },
                    "equipment_details": {
                      "equipment_category": "Tractor",
                      "other_equipment": "Rotavator",
                      "serial_number": "TRC-9F82KLM45",
                      "purchase_price": "850000",
                      "delivery_date": "2026-01-20",
                      "invoice_number": "INV-TR-456789",
                      "invoice_date": "2026-01-18",
                      "year_of_manufacture": "2025"
                    },
                    "seller_information": {
                      "seller_name": "Shree Agro Equipment Pvt Ltd",
                      "seller_address": "Plot 21, Industrial Area, Nashik, Maharashtra - 422010",
                      "seller_bank_name": "HDFC Bank",
                      "seller_bank_type": "Current",
                      "seller_bank_account_number": "50200123456789",
                      "seller_ifsc_code": "HDFC0001234"
                    },
                    "margin_proof": {
                      "payment_mode": "NEFT",
                      "amount_paid": "150000",
                      "payment_date": "2026-01-15",
                      "utr_ref_number": "N261501234567"
                    },
                    "payment_details": {
                      "bank_name": "State Bank of India",
                      "bank_type": "Savings",
                      "bank_account_number": "12345678901",
                      "ifsc_code": "SBIN0000456"
                    }
                  }
                }
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Created",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": {
                      "type": "string"
                    },
                    "content": {
                      "type": "object",
                      "properties": {
                        "message": {
                          "type": "string"
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": {
                      "type": "string"
                    },
                    "content": {
                      "type": "object",
                      "properties": {
                        "message": {
                          "type": "string"
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "403": {
            "description": "Invalid Format",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": {
                      "type": "string"
                    },
                    "content": {
                      "type": "object",
                      "properties": {
                        "message": {
                          "type": "string"
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/createVehicleDrawdown": {
      "post": {
        "tags": [
          "Drawdown"
        ],
        "summary": "Initiate vehicle disbursement request",
        "description": "Creates a request for equipment drawdown.",
        "operationId": "doCreateVehicleDrawdown",
        "requestBody": {
          "description": "Creates a request for equipment drawdown",
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "application_form_details": {
                    "type": "object",
                    "properties": {
                      "application_form_name": {
                        "type": "string"
                      }
                    }
                  },
                  "vehicle_details": {
                    "type": "object",
                    "properties": {
                      "make": {
                        "type": "string"
                      },
                      "model": {
                        "type": "string"
                      },
                      "variant": {
                        "type": "string"
                      },
                      "fuel_type": {
                        "type": "integer"
                      },
                      "chassis_number": {
                        "type": "string"
                      },
                      "ex_showroom_price": {
                        "type": "string"
                      },
                      "delivery_date": {
                        "type": "string"
                      },
                      "insurance": {
                        "type": "string"
                      },
                      "gps_enabled": {
                        "type": "string"
                      },
                      "proforma_invoice_number": {
                        "type": "string"
                      },
                      "invoice_date": {
                        "type": "string"
                      }
                    }
                  },
                  "seller_information": {
                    "type": "object",
                    "properties": {
                      "seller_name": {
                        "type": "string"
                      },
                      "seller_address": {
                        "type": "string"
                      },
                      "seller_bank_name": {
                        "type": "string"
                      },
                      "seller_bank_type": {
                        "type": "string"
                      },
                      "seller_bank_account_number": {
                        "type": "string"
                      },
                      "seller_ifsc_code": {
                        "type": "string"
                      }
                    }
                  },
                  "margin_proof": {
                    "type": "object",
                    "properties": {
                      "payment_mode": {
                        "type": "string"
                      },
                      "amount_paid": {
                        "type": "integer"
                      },
                      "payment_date": {
                        "type": "string"
                      },
                      "utr_ref_number": {
                        "type": "string"
                      }
                    }
                  },
                  "payment_details": {
                    "type": "object",
                    "properties": {
                      "bank_name": {
                        "type": "string"
                      },
                      "bank_type": {
                        "type": "string"
                      },
                      "bank_account_number": {
                        "type": "string"
                      },
                      "ifsc_code": {
                        "type": "string"
                      }
                    }
                  }
                }
              },
              "examples": {
                "takes the necessary loan & company information to convert a lead into an opportunity": {
                  "summary": "Corporation entity buying new buses",
                  "value": {
                    "application_form_details": {
                      "application_form_name": "AF-00004567"
                    },
                    "vehicle_details": {
                      "make": "Tata Motors",
                      "model": "Starbus Ultra",
                      "variant": "LP 912/52",
                      "fuel_type": "Diesel",
                      "chassis_number": "MAT457123KL890456",
                      "ex_showroom_price": "2150000",
                      "delivery_date": "2026-01-22",
                      "insurance": "Comprehensive",
                      "gps_enabled": "Yes",
                      "proforma_invoice_number": "PI-TSU-784512",
                      "invoice_date": "2026-01-19"
                    },
                    "seller_information": {
                      "seller_name": "Shree Agro Equipment Pvt Ltd",
                      "seller_address": "Plot 21, Industrial Area, Nashik, Maharashtra - 422010",
                      "seller_bank_name": "HDFC Bank",
                      "seller_bank_type": "Current",
                      "seller_bank_account_number": "50200123456789",
                      "seller_ifsc_code": "HDFC0001234"
                    },
                    "margin_proof": {
                      "payment_mode": "NEFT",
                      "amount_paid": "350000",
                      "payment_date": "2026-01-16",
                      "utr_ref_number": "N261601987654"
                    },
                    "payment_details": {
                      "bank_name": "State Bank of India",
                      "bank_type": "Savings",
                      "bank_account_number": "12345678901",
                      "ifsc_code": "SBIN0000456"
                    }
                  }
                }
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Created",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": {
                      "type": "string"
                    },
                    "content": {
                      "type": "object",
                      "properties": {
                        "message": {
                          "type": "string"
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": {
                      "type": "string"
                    },
                    "content": {
                      "type": "object",
                      "properties": {
                        "message": {
                          "type": "string"
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "403": {
            "description": "Invalid Format",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": {
                      "type": "string"
                    },
                    "content": {
                      "type": "object",
                      "properties": {
                        "message": {
                          "type": "string"
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/fetchOperationalDetails/{applicationFormNumber}": {
      "get": {
        "tags": [
          "Application"
        ],
        "summary": "Fetch operational details",
        "description": "Validates application form number and returns success response",
        "operationId": "fetchOperationalDetails",
        "parameters": [
          {
            "name": "applicationFormNumber",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "example": "AF-00000088"
            },
            "description": "Application Form Number"
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GenericSuccessResponse"
                }
              }
            }
          },
          "400": {
            "description": "Invalid Input"
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      }
    },
    "/fetchDirectorDetails/{applicationFormNumber}": {
      "get": {
        "tags": [
          "Application"
        ],
        "summary": "Fetch director details",
        "description": "Fetches director details for a given application form number",
        "operationId": "fetchDirectorDetails",
        "parameters": [
          {
            "name": "applicationFormNumber",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "example": "AF-00000088"
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": {
                      "type": "string",
                      "example": "SUCCESS"
                    },
                    "message": {
                      "type": "string",
                      "example": "Success"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/fetchFacilityDetails/{applicationFormNumber}": {
      "get": {
        "tags": [
          "Application"
        ],
        "summary": "Fetch facility details",
        "description": "Fetches facility details for the given application form number",
        "operationId": "fetchFacilityDetails",
        "parameters": [
          {
            "name": "applicationFormNumber",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "example": "AF-00000088"
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": {
                      "type": "string",
                      "example": "SUCCESS"
                    },
                    "message": {
                      "type": "string",
                      "example": "Success"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/fetchExistingFleetDetails/{applicationFormNumber}": {
      "get": {
        "tags": [
          "Application"
        ],
        "summary": "Fetch existing fleet details",
        "description": "Fetches existing fleet details for the given application form number",
        "operationId": "fetchExistingFleetDetails",
        "parameters": [
          {
            "name": "applicationFormNumber",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "example": "AF-00000088"
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": {
                      "type": "string",
                      "example": "SUCCESS"
                    },
                    "message": {
                      "type": "string",
                      "example": "Success"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/updateExistingFleet/{applicationFormNumber}": {
      "put": {
        "tags": [
          "Application"
        ],
        "summary": "Update existing fleet details",
        "description": "Updates existing fleet details for the given application form number",
        "operationId": "updateExistingFleet",
        "parameters": [
          {
            "name": "applicationFormNumber",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "example": "AF-00000088"
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": {
                      "type": "string",
                      "example": "SUCCESS"
                    },
                    "message": {
                      "type": "string",
                      "example": "Success"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/updateFacilityDetails/{applicationFormNumber}": {
      "put": {
        "tags": [
          "Application"
        ],
        "summary": "Update facility details",
        "description": "Updates facility details for the given application form number",
        "operationId": "updateFacilityDetails",
        "parameters": [
          {
            "name": "applicationFormNumber",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "example": "AF-00000088"
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": {
                      "type": "string",
                      "example": "SUCCESS"
                    },
                    "message": {
                      "type": "string",
                      "example": "Success"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/saveBorrowerOperationalDetails/{applicationFormNumber}": {
      "put": {
        "tags": [
          "Application"
        ],
        "summary": "Save borrower operational details",
        "description": "Saves borrower operational details for the given application form number",
        "operationId": "saveBorrowerOperationalDetails",
        "parameters": [
          {
            "name": "applicationFormNumber",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "example": "AF-00000088"
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": {
                      "type": "string",
                      "example": "SUCCESS"
                    },
                    "message": {
                      "type": "string",
                      "example": "Success"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/drawdownDetails/{applicationFormNumber}": {
      "get": {
        "tags": [
          "Application"
        ],
        "summary": "Fetch drawdown details",
        "description": "Fetches drawdown details for the given application form number",
        "operationId": "drawdownDetails",
        "parameters": [
          {
            "name": "applicationFormNumber",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "example": "AF-00000088"
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": {
                      "type": "string",
                      "example": "SUCCESS"
                    },
                    "message": {
                      "type": "string",
                      "example": "Success"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/withdrawDrawdown/{applicationFormNumber}": {
      "post": {
        "tags": [
          "Application"
        ],
        "summary": "Withdraw drawdown",
        "description": "Withdraws drawdown for the given application form number",
        "operationId": "withdrawDrawdownPost",
        "parameters": [
          {
            "name": "applicationFormNumber",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "example": "AF-00000088"
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": {
                      "type": "string",
                      "example": "SUCCESS"
                    },
                    "message": {
                      "type": "string",
                      "example": "Success"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/fetchStatements/{applicationFormNumber}": {
      "get": {
        "tags": [
          "Application"
        ],
        "summary": "Fetch statements",
        "description": "Fetches statements for the given application form number",
        "operationId": "fetchStatements",
        "parameters": [
          {
            "name": "applicationFormNumber",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "example": "AF-00000088"
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": {
                      "type": "string",
                      "example": "SUCCESS"
                    },
                    "message": {
                      "type": "string",
                      "example": "Success"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/withdrawApplication/{applicationFormNumber}": {
      "post": {
        "tags": [
          "Application"
        ],
        "summary": "Withdraw application",
        "description": "Withdraws the application for the given application form number",
        "operationId": "withdrawApplication",
        "parameters": [
          {
            "name": "applicationFormNumber",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "example": "AF-00000088"
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": {
                      "type": "string",
                      "example": "SUCCESS"
                    },
                    "message": {
                      "type": "string",
                      "example": "Success"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          }
        }
      }
    }
  },
  "components": {
    "schemas": {
      "industry": {
        "type": "string",
        "description": "Possible values for industry",
        "enum": [
          "Agriculture",
          "Apparel",
          "Banking",
          "Biotechnology",
          "Chemicals",
          "Communications",
          "Consulting",
          "Education",
          "Electronics",
          "Energy",
          "Engineering",
          "Entertainment",
          "Environmental",
          "Financial Services",
          "Finance & Insurance",
          "Food & Beverage",
          "Government",
          "Hospitality",
          "Insurance",
          "Machinery",
          "Manufacturing",
          "Media",
          "Not For Profit",
          "Real Estate",
          "Recreation",
          "Retail",
          "Shipping",
          "Technology",
          "Telecommunications",
          "Transportation",
          "Utilities",
          "Other"
        ]
      },
      "purchase_plan": {
        "type": "string",
        "description": "Possible values for purchase plans",
        "enum": [
          "Immediately",
          "Next 30 days",
          "Next 60-90 days"
        ]
      },
      "vehicle_requirement": {
        "type": "string",
        "description": "Possible vehicle requirement types",
        "enum": [
          "New",
          "Old"
        ]
      },
      "vehicle_category": {
        "type": "string",
        "description": "Possible valus for vehicle categories",
        "enum": [
          "HCV",
          "MCV",
          "SCV",
          "LCV",
          "Bus",
          "EV",
          "Special Purpose Vehicles (SPV)",
          "Tankers (Water, Fuel)",
          "Tractor",
          "Cold Chain Vehicles",
          "Others"
        ]
      },
      "legalEntity": {
        "type": "string",
        "description": "Possible legal entities",
        "enum": [
          "Corporation",
          "Limited Liability Companies (LLCs)",
          "Partnership",
          "Sole Proprietorship"
        ]
      },
      "revenue_type": {
        "type": "string",
        "description": "Possible revenue types",
        "enum": [
          "Contracted",
          "Spot",
          "Mixed"
        ]
      },
      "revenue_band": {
        "type": "string",
        "description": "Possible revenue bands",
        "enum": [
          "<5,00,000",
          "5,00,001 - 10,00,000",
          "10,00,001 - 25,00,000",
          "25,00,001 - 50,00,000",
          ">50,00,000"
        ]
      },
      "operating_cost_band": {
        "type": "string",
        "description": "Possible operating cost bands",
        "enum": [
          "<1,00,000",
          "1,00,000 - 5,00,000",
          "5,00,001 - 10,00,000",
          "10,00,001 - 25,00,000",
          ">25,00,000"
        ]
      },
      "driver_model": {
        "type": "string",
        "description": "Possible driver model types",
        "enum": [
          "Own Drivers",
          "Attached Drivers",
          "Aggregator"
        ]
      },
      "new_or_used": {
        "type": "string",
        "description": "Possible vehicle conditions",
        "enum": [
          "New",
          "Used"
        ]
      },
      "intended_use_of_vehicle": {
        "type": "string",
        "description": "Possible intended uses of vehicles",
        "enum": [
          "Line haul",
          "Last-mile",
          "Mining",
          "Staff transport",
          "Aggregator"
        ]
      },
      "role": {
        "type": "string",
        "description": "Possible roles of principals",
        "enum": [
          "Co-Applicant",
          "Guarantor"
        ]
      }
    },
    "securitySchemes": {
      "auth_Internal": {
        "type": "oauth2",
        "flows": {
          "authorizationCode": {
            "authorizationUrl": "https://cloudkaptanconsultancyservicespvt4.my.salesforce.com/services/oauth2/authorize?redirect_uri=https://app.swaggerhub.com/oauth2_redirect",
            "tokenUrl": "https://cloudkaptanconsultancyservicespvt4.my.salesforce.com/services/oauth2/token",
            "refreshUrl": "https://cloudkaptanconsultancyservicespvt4.my.salesforce.com/services/oauth2/token",
            "scopes": {
              "full": "Allows access to the data",
              "api": "Allows access to the current, logged-in user\u2019s account using APIs",
              "refresh_token": "Allows a refresh token to be returned when the requesting client is eligible to receive one",
              "offline_access": "With a refresh token, the app can interact with the user\u2019s data while the user is offline."
            }
          }
        }
      }
    }
  },
  "security": [
    {
      "auth_Internal": [
        "full",
        "api",
        "refresh_token",
        "offline_access"
      ]
    }
  ]
}