{
  "openapi": "3.0.3",
  "info": {
    "title": "Abstract API",
    "version": "1.0.0",
    "description": "Abstract provides a suite of simple utility APIs including IP Geolocation, Email Validation, Phone Validation, Exchange Rates, VAT, Holidays, Avatars, Screenshots, Scrape, and more. Each API has a single endpoint.",
    "contact": {
      "name": "Abstract",
      "url": "https://www.abstractapi.com"
    },
    "x-jentic-source-url": "https://www.abstractapi.com/api"
  },
  "servers": [
    {
      "url": "https://ipgeolocation.abstractapi.com",
      "description": "IP Geolocation API"
    },
    {
      "url": "https://emailvalidation.abstractapi.com",
      "description": "Email Validation API"
    },
    {
      "url": "https://phonevalidation.abstractapi.com",
      "description": "Phone Validation API"
    },
    {
      "url": "https://exchangeratesapi.abstractapi.com",
      "description": "Exchange Rates API"
    },
    {
      "url": "https://vat.abstractapi.com",
      "description": "VAT API"
    },
    {
      "url": "https://holidays.abstractapi.com",
      "description": "Holidays API"
    },
    {
      "url": "https://avatars.abstractapi.com",
      "description": "Avatars API"
    },
    {
      "url": "https://screenshot.abstractapi.com",
      "description": "Screenshot API"
    },
    {
      "url": "https://scrape.abstractapi.com",
      "description": "Web Scraping API"
    },
    {
      "url": "https://images.abstractapi.com",
      "description": "Images API"
    },
    {
      "url": "https://timezone.abstractapi.com",
      "description": "Timezone API"
    },
    {
      "url": "https://companyenrichment.abstractapi.com",
      "description": "Company Enrichment API"
    }
  ],
  "security": [
    {
      "apiKey": []
    }
  ],
  "tags": [
    {
      "name": "IP Geolocation",
      "description": "Geolocate IP addresses"
    },
    {
      "name": "Email Validation",
      "description": "Validate email addresses"
    },
    {
      "name": "Phone Validation",
      "description": "Validate phone numbers"
    },
    {
      "name": "Exchange Rates",
      "description": "Currency exchange rates"
    },
    {
      "name": "VAT",
      "description": "VAT validation and rates"
    },
    {
      "name": "Holidays",
      "description": "Public holidays lookup"
    },
    {
      "name": "Avatars",
      "description": "Generate user avatars"
    },
    {
      "name": "Screenshot",
      "description": "Website screenshots"
    },
    {
      "name": "Web Scraping",
      "description": "Scrape web pages"
    },
    {
      "name": "Images",
      "description": "Image processing"
    },
    {
      "name": "Timezone",
      "description": "Timezone lookups"
    },
    {
      "name": "Company Enrichment",
      "description": "Company data enrichment"
    }
  ],
  "paths": {
    "/v1/": {
      "get": {
        "operationId": "ipGeolocation",
        "summary": "IP Geolocation lookup",
        "description": "Get geolocation data for an IP address including city, region, country, timezone, currency, and security info",
        "tags": [
          "IP Geolocation"
        ],
        "servers": [
          {
            "url": "https://ipgeolocation.abstractapi.com"
          }
        ],
        "parameters": [
          {
            "name": "api_key",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "API key"
          },
          {
            "name": "ip_address",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "description": "IP address to look up (omit for caller's IP)"
          },
          {
            "name": "fields",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "description": "Comma-separated list of fields to return"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "ip_address": {
                      "type": "string"
                    },
                    "city": {
                      "type": "string",
                      "nullable": true
                    },
                    "region": {
                      "type": "string"
                    },
                    "country": {
                      "type": "string"
                    },
                    "country_code": {
                      "type": "string"
                    },
                    "continent": {
                      "type": "string"
                    },
                    "latitude": {
                      "type": "number"
                    },
                    "longitude": {
                      "type": "number"
                    },
                    "timezone": {
                      "type": "object",
                      "properties": {
                        "name": {
                          "type": "string"
                        },
                        "abbreviation": {
                          "type": "string"
                        },
                        "utc_offset": {
                          "type": "number"
                        }
                      }
                    },
                    "flag": {
                      "type": "object",
                      "properties": {
                        "emoji": {
                          "type": "string"
                        },
                        "png": {
                          "type": "string"
                        },
                        "svg": {
                          "type": "string"
                        }
                      }
                    },
                    "currency": {
                      "type": "object",
                      "properties": {
                        "name": {
                          "type": "string"
                        },
                        "code": {
                          "type": "string"
                        },
                        "symbol": {
                          "type": "string"
                        }
                      }
                    },
                    "security": {
                      "type": "object",
                      "properties": {
                        "is_vpn": {
                          "type": "boolean"
                        },
                        "is_proxy": {
                          "type": "boolean"
                        },
                        "is_tor": {
                          "type": "boolean"
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/v1/email-validation": {
      "get": {
        "operationId": "emailValidation",
        "summary": "Validate email address",
        "description": "Validate an email address checking format, MX records, SMTP, and disposable status",
        "tags": [
          "Email Validation"
        ],
        "servers": [
          {
            "url": "https://emailvalidation.abstractapi.com"
          }
        ],
        "parameters": [
          {
            "name": "api_key",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "email",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Email to validate"
          },
          {
            "name": "auto_correct",
            "in": "query",
            "schema": {
              "type": "boolean"
            },
            "description": "Attempt auto-correction"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "email": {
                      "type": "string"
                    },
                    "autocorrect": {
                      "type": "string"
                    },
                    "deliverability": {
                      "type": "string",
                      "enum": [
                        "DELIVERABLE",
                        "UNDELIVERABLE",
                        "UNKNOWN"
                      ]
                    },
                    "quality_score": {
                      "type": "number"
                    },
                    "is_valid_format": {
                      "type": "object",
                      "properties": {
                        "value": {
                          "type": "boolean"
                        },
                        "text": {
                          "type": "string"
                        }
                      }
                    },
                    "is_free_email": {
                      "type": "object",
                      "properties": {
                        "value": {
                          "type": "boolean"
                        },
                        "text": {
                          "type": "string"
                        }
                      }
                    },
                    "is_disposable_email": {
                      "type": "object",
                      "properties": {
                        "value": {
                          "type": "boolean"
                        },
                        "text": {
                          "type": "string"
                        }
                      }
                    },
                    "is_role_email": {
                      "type": "object",
                      "properties": {
                        "value": {
                          "type": "boolean"
                        },
                        "text": {
                          "type": "string"
                        }
                      }
                    },
                    "is_catchall_email": {
                      "type": "object",
                      "properties": {
                        "value": {
                          "type": "boolean"
                        },
                        "text": {
                          "type": "string"
                        }
                      }
                    },
                    "is_mx_found": {
                      "type": "object",
                      "properties": {
                        "value": {
                          "type": "boolean"
                        },
                        "text": {
                          "type": "string"
                        }
                      }
                    },
                    "is_smtp_valid": {
                      "type": "object",
                      "properties": {
                        "value": {
                          "type": "boolean"
                        },
                        "text": {
                          "type": "string"
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/v1/phone-validation": {
      "get": {
        "operationId": "phoneValidation",
        "summary": "Validate phone number",
        "description": "Validate and parse a phone number",
        "tags": [
          "Phone Validation"
        ],
        "servers": [
          {
            "url": "https://phonevalidation.abstractapi.com"
          }
        ],
        "parameters": [
          {
            "name": "api_key",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "phone",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Phone number to validate"
          },
          {
            "name": "country",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "description": "2-letter country code"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "phone": {
                      "type": "string"
                    },
                    "valid": {
                      "type": "boolean"
                    },
                    "format": {
                      "type": "object",
                      "properties": {
                        "international": {
                          "type": "string"
                        },
                        "local": {
                          "type": "string"
                        }
                      }
                    },
                    "country": {
                      "type": "object",
                      "properties": {
                        "code": {
                          "type": "string"
                        },
                        "name": {
                          "type": "string"
                        },
                        "prefix": {
                          "type": "string"
                        }
                      }
                    },
                    "location": {
                      "type": "string"
                    },
                    "type": {
                      "type": "string"
                    },
                    "carrier": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/v1/exchange-rates": {
      "get": {
        "operationId": "liveExchangeRates",
        "summary": "Get live exchange rates",
        "description": "Get the latest exchange rates for a base currency",
        "tags": [
          "Exchange Rates"
        ],
        "servers": [
          {
            "url": "https://exchangeratesapi.abstractapi.com"
          }
        ],
        "parameters": [
          {
            "name": "api_key",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "base",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Base currency code (e.g. USD)"
          },
          {
            "name": "target",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "description": "Target currency code(s), comma-separated"
          },
          {
            "name": "date",
            "in": "query",
            "schema": {
              "type": "string",
              "format": "date"
            },
            "description": "Historical date (YYYY-MM-DD)"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "base": {
                      "type": "string"
                    },
                    "last_updated": {
                      "type": "integer"
                    },
                    "exchange_rates": {
                      "type": "object",
                      "additionalProperties": {
                        "type": "number"
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/v1/convert": {
      "get": {
        "operationId": "convertCurrency",
        "summary": "Convert currency amount",
        "description": "Convert an amount from one currency to another",
        "tags": [
          "Exchange Rates"
        ],
        "servers": [
          {
            "url": "https://exchangeratesapi.abstractapi.com"
          }
        ],
        "parameters": [
          {
            "name": "api_key",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "base",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "target",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "base_amount",
            "in": "query",
            "schema": {
              "type": "number"
            }
          },
          {
            "name": "date",
            "in": "query",
            "schema": {
              "type": "string",
              "format": "date"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        }
      }
    },
    "/v1/vat-validate": {
      "get": {
        "operationId": "validateVat",
        "summary": "Validate a VAT number",
        "tags": [
          "VAT"
        ],
        "servers": [
          {
            "url": "https://vat.abstractapi.com"
          }
        ],
        "parameters": [
          {
            "name": "api_key",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "vat_number",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "vat_number": {
                      "type": "string"
                    },
                    "valid": {
                      "type": "boolean"
                    },
                    "company": {
                      "type": "object",
                      "properties": {
                        "name": {
                          "type": "string"
                        },
                        "address": {
                          "type": "string"
                        }
                      }
                    },
                    "country": {
                      "type": "object",
                      "properties": {
                        "code": {
                          "type": "string"
                        },
                        "name": {
                          "type": "string"
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "description": "Validate a VAT number"
      }
    },
    "/v1/vat-rates": {
      "get": {
        "operationId": "getVatRates",
        "summary": "Get VAT rates for a country",
        "tags": [
          "VAT"
        ],
        "servers": [
          {
            "url": "https://vat.abstractapi.com"
          }
        ],
        "parameters": [
          {
            "name": "api_key",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "country_code",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "description": "Get VAT rates for a country"
      }
    },
    "/v1/holidays": {
      "get": {
        "operationId": "getHolidays",
        "summary": "Get public holidays",
        "description": "Get public holidays for a country and year",
        "tags": [
          "Holidays"
        ],
        "servers": [
          {
            "url": "https://holidays.abstractapi.com"
          }
        ],
        "parameters": [
          {
            "name": "api_key",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "country",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "2-letter country code"
          },
          {
            "name": "year",
            "in": "query",
            "required": true,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "month",
            "in": "query",
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "day",
            "in": "query",
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "name": {
                        "type": "string"
                      },
                      "name_local": {
                        "type": "string"
                      },
                      "language": {
                        "type": "string"
                      },
                      "description": {
                        "type": "string"
                      },
                      "country": {
                        "type": "string"
                      },
                      "location": {
                        "type": "string"
                      },
                      "type": {
                        "type": "string"
                      },
                      "date": {
                        "type": "string"
                      },
                      "date_year": {
                        "type": "string"
                      },
                      "date_month": {
                        "type": "string"
                      },
                      "date_day": {
                        "type": "string"
                      },
                      "week_day": {
                        "type": "string"
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/v1/timezone": {
      "get": {
        "operationId": "getTimezone",
        "summary": "Get timezone information",
        "tags": [
          "Timezone"
        ],
        "servers": [
          {
            "url": "https://timezone.abstractapi.com"
          }
        ],
        "parameters": [
          {
            "name": "api_key",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "location",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "description": "Location name or coordinates"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "datetime": {
                      "type": "string"
                    },
                    "timezone_name": {
                      "type": "string"
                    },
                    "timezone_location": {
                      "type": "string"
                    },
                    "timezone_abbreviation": {
                      "type": "string"
                    },
                    "gmt_offset": {
                      "type": "number"
                    },
                    "is_dst": {
                      "type": "boolean"
                    }
                  }
                }
              }
            }
          }
        },
        "description": "Get timezone information"
      }
    },
    "/v1/company-enrichment": {
      "get": {
        "operationId": "companyEnrichment",
        "summary": "Enrich company data",
        "tags": [
          "Company Enrichment"
        ],
        "servers": [
          {
            "url": "https://companyenrichment.abstractapi.com"
          }
        ],
        "parameters": [
          {
            "name": "api_key",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "domain",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Company domain"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "name": {
                      "type": "string"
                    },
                    "domain": {
                      "type": "string"
                    },
                    "country": {
                      "type": "string"
                    },
                    "locality": {
                      "type": "string"
                    },
                    "employees_count": {
                      "type": "integer"
                    },
                    "linkedin_url": {
                      "type": "string"
                    },
                    "industry": {
                      "type": "string"
                    },
                    "year_founded": {
                      "type": "integer"
                    }
                  }
                }
              }
            }
          }
        },
        "description": "Enrich company data"
      }
    }
  },
  "components": {
    "securitySchemes": {
      "apiKey": {
        "type": "apiKey",
        "in": "query",
        "name": "api_key",
        "description": "Abstract API key"
      }
    }
  }
}
