{
  "openapi": "3.0.0",
  "servers": [
    {
      "description": "Localhost",
      "url": "http://stockholm2.onvo.se:81/api/v1"
    }
  ],
  "info": {
    "description": "This REST API implements communication between HTTP 1.1 compliant clients and the WeatherMaestro servers. The API currently supports the cities: Stockholm, G\u00f6teborg, Malm\u00f6, Uppsala, V\u00e4ster\u00e5s, \u00d6rebro, Link\u00f6ping, Helsingborg, Norrk\u00f6ping, J\u00f6nk\u00f6ping, Lund, G\u00e4vle, Sundsvall, Ume\u00e5, Lule\u00e5, Kiruna.",
    "version": "1.0.0",
    "title": "WeatherMaestro API",
    "contact": {
      "email": "josef.kadhem@chasacademy.se"
    },
    "license": {
      "name": "Apache 2.0",
      "url": "http://www.apache.org/licenses/LICENSE-2.0.html"
    },
    "x-jentic-source-url": "https://api.swaggerhub.com/apis/chasacademy-178/WeatherMaestro-API/1.0.0"
  },
  "tags": [
    {
      "name": "Developers",
      "description": "Available API calls."
    }
  ],
  "paths": {
    "/geo": {
      "get": {
        "tags": [
          "Developers"
        ],
        "summary": "retrieves coordinates from city name",
        "operationId": "getCoords",
        "description": "By passing in a valid city name, you can retrieve the geographical coordinates for that city.\n",
        "parameters": [
          {
            "in": "query",
            "name": "city_name",
            "description": "pass the city name to look up the coordinates for",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Coordinates of requested city name",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Coordinates"
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad input parameters",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/BadRequest"
                  }
                }
              }
            }
          },
          "404": {
            "description": "Not found",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/NotFound"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/weatherdata": {
      "get": {
        "tags": [
          "Developers"
        ],
        "summary": "retrieves weather data from given coordinates",
        "operationId": "getWeatherData",
        "description": "By passing in the latitude and longitude, you recieve weather facts about the requested location.\n",
        "parameters": [
          {
            "in": "query",
            "name": "latitude",
            "description": "The locations latitude",
            "required": true,
            "schema": {
              "type": "number",
              "format": "double",
              "minimum": -180,
              "maximum": 180
            }
          },
          {
            "in": "query",
            "name": "longitude",
            "description": "The locations longitude",
            "required": true,
            "schema": {
              "type": "number",
              "format": "double",
              "minimum": -180,
              "maximum": 180
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Weather data results matching search criteria",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/WeatherData"
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad input parameters",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/BadRequest"
                  }
                }
              }
            }
          },
          "404": {
            "description": "Not found",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/NotFound"
                  }
                }
              }
            }
          }
        }
      }
    }
  },
  "components": {
    "schemas": {
      "Coordinates": {
        "type": "object",
        "required": [
          "city",
          "latitude",
          "longitude"
        ],
        "properties": {
          "city": {
            "type": "string",
            "format": "City",
            "example": "Sundbyberg"
          },
          "country": {
            "type": "string",
            "format": "Country",
            "example": "Sweden"
          },
          "latitude": {
            "type": "number",
            "format": "double",
            "example": "59.3753"
          },
          "longitude": {
            "type": "number",
            "format": "double",
            "example": "17.9690"
          }
        }
      },
      "WeatherData": {
        "required": [
          "timestamp"
        ],
        "properties": {
          "timestamp": {
            "type": "string",
            "format": "YYYY-MM-DDTHH:MM:SSZ",
            "example": "2025-10-31T07:99:59+01:00"
          },
          "latitude": {
            "type": "number",
            "format": "double",
            "example": "59.3753"
          },
          "longitude": {
            "type": "number",
            "format": "double",
            "example": "17.9690"
          },
          "interval": {
            "type": "integer",
            "example": "15"
          },
          "windspeed": {
            "type": "number",
            "format": "float",
            "example": "2.4"
          },
          "winddirection": {
            "type": "string",
            "example": "nw"
          },
          "temperature": {
            "type": "integer",
            "example": "13"
          },
          "is_day": {
            "type": "boolean",
            "example": true
          },
          "weathercode": {
            "type": "integer",
            "example": "1"
          }
        }
      },
      "NotFound": {
        "properties": {
          "error": {
            "type": "object",
            "properties": {
              "code": {
                "type": "integer",
                "example": 404
              },
              "message": {
                "type": "string",
                "example": "not found"
              }
            }
          }
        }
      },
      "BadRequest": {
        "properties": {
          "error": {
            "type": "object",
            "properties": {
              "code": {
                "type": "integer",
                "example": 400
              },
              "message": {
                "type": "string",
                "example": "bad request"
              }
            }
          }
        },
        "type": "object"
      }
    }
  }
}