{
  "openapi": "3.0.3",
  "info": {
    "title": "ZeroTier Central API",
    "version": "1.0.0",
    "description": "ZeroTier Central API for managing virtual networks, network members, and organizations.",
    "x-jentic-source-url": "https://docs.zerotier.com/service/v1/",
    "contact": {
      "name": "API Support"
    }
  },
  "servers": [
    {
      "url": "https://api.zerotier.com"
    }
  ],
  "tags": [
    {
      "name": "Status",
      "description": "API status"
    },
    {
      "name": "Users",
      "description": "User info"
    },
    {
      "name": "Networks",
      "description": "Virtual network management"
    },
    {
      "name": "Members",
      "description": "Network member management"
    },
    {
      "name": "Organizations",
      "description": "Organization management"
    }
  ],
  "paths": {
    "/api/v1/status": {
      "get": {
        "operationId": "getStatus",
        "summary": "Get API status",
        "tags": [
          "Status"
        ],
        "responses": {
          "200": {
            "description": "Status",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "online": {
                      "type": "boolean"
                    },
                    "clock": {
                      "type": "integer"
                    },
                    "version": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          }
        },
        "description": "Get API status"
      }
    },
    "/api/v1/self": {
      "get": {
        "operationId": "getSelf",
        "summary": "Get current user",
        "tags": [
          "Users"
        ],
        "responses": {
          "200": {
            "description": "User",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/User"
                }
              }
            }
          }
        },
        "description": "Get current user"
      }
    },
    "/api/v1/network": {
      "get": {
        "operationId": "listNetworks",
        "summary": "List networks",
        "tags": [
          "Networks"
        ],
        "responses": {
          "200": {
            "description": "Networks",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Network"
                  }
                }
              }
            }
          }
        },
        "description": "List networks"
      },
      "post": {
        "operationId": "createNetwork",
        "summary": "Create network",
        "tags": [
          "Networks"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "config": {
                    "type": "object",
                    "properties": {
                      "name": {
                        "type": "string"
                      },
                      "private": {
                        "type": "boolean"
                      },
                      "routes": {
                        "type": "array",
                        "items": {
                          "type": "object"
                        }
                      },
                      "ipAssignmentPools": {
                        "type": "array",
                        "items": {
                          "type": "object"
                        }
                      },
                      "v4AssignMode": {
                        "type": "object"
                      },
                      "v6AssignMode": {
                        "type": "object"
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Created",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Network"
                }
              }
            }
          }
        },
        "description": "Create network"
      }
    },
    "/api/v1/network/{networkId}": {
      "get": {
        "operationId": "getNetwork",
        "summary": "Get network",
        "tags": [
          "Networks"
        ],
        "parameters": [
          {
            "name": "networkId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "16-character network ID"
          }
        ],
        "responses": {
          "200": {
            "description": "Network",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Network"
                }
              }
            }
          }
        },
        "description": "Get network"
      },
      "post": {
        "operationId": "updateNetwork",
        "summary": "Update network",
        "tags": [
          "Networks"
        ],
        "parameters": [
          {
            "name": "networkId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "16-character network ID"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "config": {
                    "type": "object"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Updated",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Network"
                }
              }
            }
          }
        },
        "description": "Update network"
      },
      "delete": {
        "operationId": "deleteNetwork",
        "summary": "Delete network",
        "tags": [
          "Networks"
        ],
        "parameters": [
          {
            "name": "networkId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "16-character network ID"
          }
        ],
        "responses": {
          "200": {
            "description": "Deleted"
          }
        },
        "description": "Delete network"
      }
    },
    "/api/v1/network/{networkId}/member": {
      "get": {
        "operationId": "listNetworkMembers",
        "summary": "List network members",
        "tags": [
          "Members"
        ],
        "parameters": [
          {
            "name": "networkId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "16-character network ID"
          }
        ],
        "responses": {
          "200": {
            "description": "Members",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Member"
                  }
                }
              }
            }
          }
        },
        "description": "List network members"
      }
    },
    "/api/v1/network/{networkId}/member/{memberId}": {
      "get": {
        "operationId": "getNetworkMember",
        "summary": "Get member",
        "tags": [
          "Members"
        ],
        "parameters": [
          {
            "name": "networkId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "16-character network ID"
          },
          {
            "name": "memberId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "10-character member/node ID"
          }
        ],
        "responses": {
          "200": {
            "description": "Member",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Member"
                }
              }
            }
          }
        },
        "description": "Get member"
      },
      "post": {
        "operationId": "updateNetworkMember",
        "summary": "Update member",
        "tags": [
          "Members"
        ],
        "parameters": [
          {
            "name": "networkId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "16-character network ID"
          },
          {
            "name": "memberId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "10-character member/node ID"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "name": {
                    "type": "string"
                  },
                  "description": {
                    "type": "string"
                  },
                  "config": {
                    "type": "object",
                    "properties": {
                      "authorized": {
                        "type": "boolean"
                      },
                      "ipAssignments": {
                        "type": "array",
                        "items": {
                          "type": "string"
                        }
                      },
                      "noAutoAssignIps": {
                        "type": "boolean"
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Updated",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Member"
                }
              }
            }
          }
        },
        "description": "Update member"
      },
      "delete": {
        "operationId": "deleteNetworkMember",
        "summary": "Delete member",
        "tags": [
          "Members"
        ],
        "parameters": [
          {
            "name": "networkId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "16-character network ID"
          },
          {
            "name": "memberId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "10-character member/node ID"
          }
        ],
        "responses": {
          "200": {
            "description": "Deleted"
          }
        },
        "description": "Delete member"
      }
    },
    "/api/v1/org": {
      "get": {
        "operationId": "listOrganizations",
        "summary": "List organizations",
        "tags": [
          "Organizations"
        ],
        "responses": {
          "200": {
            "description": "Orgs",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "type": "object"
                  }
                }
              }
            }
          }
        },
        "description": "List organizations"
      }
    },
    "/api/v1/org/{orgId}": {
      "get": {
        "operationId": "getOrganization",
        "summary": "Get organization",
        "tags": [
          "Organizations"
        ],
        "parameters": [
          {
            "name": "orgId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Org",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "description": "Get organization"
      }
    },
    "/api/v1/org/{orgId}/members": {
      "get": {
        "operationId": "listOrgMembers",
        "summary": "List org members",
        "tags": [
          "Organizations"
        ],
        "parameters": [
          {
            "name": "orgId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Members",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "type": "object"
                  }
                }
              }
            }
          }
        },
        "description": "List org members"
      }
    },
    "/api/v1/randomtoken": {
      "get": {
        "operationId": "getRandomToken",
        "summary": "Get random token",
        "tags": [
          "Status"
        ],
        "responses": {
          "200": {
            "description": "Token",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "token": {
                      "type": "string"
                    },
                    "clock": {
                      "type": "integer"
                    }
                  }
                }
              }
            }
          }
        },
        "description": "Get random token"
      }
    }
  },
  "components": {
    "schemas": {
      "Network": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string"
          },
          "type": {
            "type": "string"
          },
          "clock": {
            "type": "integer"
          },
          "config": {
            "type": "object",
            "properties": {
              "name": {
                "type": "string"
              },
              "private": {
                "type": "boolean"
              },
              "creationTime": {
                "type": "integer"
              },
              "routes": {
                "type": "array",
                "items": {
                  "type": "object"
                }
              },
              "ipAssignmentPools": {
                "type": "array",
                "items": {
                  "type": "object"
                }
              },
              "v4AssignMode": {
                "type": "object"
              },
              "v6AssignMode": {
                "type": "object"
              },
              "multicastLimit": {
                "type": "integer"
              }
            }
          },
          "description": {
            "type": "string"
          },
          "rulesSource": {
            "type": "string"
          },
          "permissions": {
            "type": "object"
          },
          "ownerId": {
            "type": "string"
          },
          "onlineMemberCount": {
            "type": "integer"
          },
          "authorizedMemberCount": {
            "type": "integer"
          },
          "totalMemberCount": {
            "type": "integer"
          }
        }
      },
      "Member": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string"
          },
          "type": {
            "type": "string"
          },
          "clock": {
            "type": "integer"
          },
          "networkId": {
            "type": "string"
          },
          "nodeId": {
            "type": "string"
          },
          "controllerId": {
            "type": "string"
          },
          "hidden": {
            "type": "boolean"
          },
          "name": {
            "type": "string"
          },
          "description": {
            "type": "string"
          },
          "config": {
            "type": "object",
            "properties": {
              "authorized": {
                "type": "boolean"
              },
              "activeBridge": {
                "type": "boolean"
              },
              "ipAssignments": {
                "type": "array",
                "items": {
                  "type": "string"
                }
              },
              "noAutoAssignIps": {
                "type": "boolean"
              },
              "creationTime": {
                "type": "integer"
              }
            }
          },
          "lastOnline": {
            "type": "integer"
          },
          "lastSeen": {
            "type": "integer"
          },
          "physicalAddress": {
            "type": "string"
          },
          "clientVersion": {
            "type": "string"
          },
          "protocolVersion": {
            "type": "integer"
          }
        }
      },
      "User": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string"
          },
          "type": {
            "type": "string"
          },
          "clock": {
            "type": "integer"
          },
          "globalPermissions": {
            "type": "object"
          },
          "displayName": {
            "type": "string"
          },
          "email": {
            "type": "string"
          },
          "auth": {
            "type": "object"
          },
          "smsNumber": {
            "type": "string"
          },
          "tokens": {
            "type": "array",
            "items": {
              "type": "string"
            }
          }
        }
      }
    },
    "securitySchemes": {
      "BearerAuth": {
        "type": "http",
        "scheme": "bearer",
        "description": "ZeroTier API token"
      }
    }
  },
  "security": [
    {
      "BearerAuth": []
    }
  ]
}
