{
  "openapi": "3.0.3",
  "info": {
    "title": "Roulette-App",
    "description": "### Welcome to Postman! This is your first collection. \n\nCollections are your starting point for building and testing APIs. You can use this one to:\n\n\u2022 Group related requests\n\u2022 Test your API in real-world scenarios\n\u2022 Document and share your requests\n\nUpdate the name and overview whenever you\u2019re ready to make it yours.\n\n[Learn more about Postman Collections.](https://learning.postman.com/docs/collections/collections-overview/)",
    "contact": {},
    "version": "1.0.0",
    "x-jentic-source-url": "https://api.swaggerhub.com/apis/ucf-690/roulette-app-pub/1.0.0"
  },
  "servers": [
    {
      "url": "http://cop433103.com:5000"
    },
    {
      "url": "http://167.172.30.196:5000"
    }
  ],
  "paths": {
    "/api/login": {
      "post": {
        "summary": "167.172.30.196:5000/api/login",
        "description": "167.172.30.196:5000/api/login",
        "operationId": "167172301965000ApiLogin",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/api_login_body"
              },
              "examples": {
                "167.172.30.196:5000/api/login": {
                  "value": {
                    "login": "qwer",
                    "password": "qwer"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": ""
          }
        }
      }
    },
    "/api/register": {
      "post": {
        "summary": "167.172.30.196:5000/api/register",
        "description": "167.172.30.196:5000/api/register",
        "operationId": "167172301965000ApiRegister",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/api_register_body"
              },
              "examples": {
                "167.172.30.196:5000/api/register": {
                  "value": {
                    "email": "NoMail",
                    "firstname": "qwer",
                    "lastname": "qwer",
                    "login": "qwer",
                    "password": "qwer"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": ""
          }
        },
        "security": [
          {}
        ]
      }
    },
    "/api/resend-verification": {
      "post": {
        "summary": "167.172.30.196:5000/api/resend-verification",
        "description": "167.172.30.196:5000/api/resend-verification",
        "operationId": "167172301965000ApiResendVerification",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/api_resendverification_body"
              },
              "examples": {
                "167.172.30.196:5000/api/resend-verification": {
                  "value": {
                    "email": "k.arizaga11@gmail.com"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": ""
          }
        },
        "security": [
          {}
        ]
      }
    },
    "/api/addcredits": {
      "post": {
        "summary": "167.172.30.196:5000/api/addcredits",
        "description": "167.172.30.196:5000/api/addcredits",
        "operationId": "167172301965000ApiAddcredits",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/api_addcredits_body"
              },
              "examples": {
                "167.172.30.196:5000/api/addcredits": {
                  "value": {
                    "credits": -100,
                    "jwtToken": "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJ1c2VySWQiOiI2OTE4ZTYyYmEzYThkZDBjNDlmODUyOTUiLCJmaXJzdE5hbWUiOiJxd2VyIiwibGFzdE5hbWUiOiJxd2VyIiwiaWF0IjoxNzYzMjQxMzA3LCJleHAiOjE3NjMzMjc3MDd9.UuYOF4O-b331b0zK_7AqRYL6exm05WjYzDTjNi3XNUw"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": ""
          }
        },
        "security": [
          {}
        ]
      }
    },
    "/api/leaderboard": {
      "get": {
        "summary": "167.172.30.196:5000/api/leaderboard",
        "description": "167.172.30.196:5000/api/leaderboard",
        "operationId": "167172301965000ApiLeaderboard",
        "requestBody": {
          "content": {
            "application/json": {
              "examples": {
                "167.172.30.196:5000/api/leaderboard": {
                  "value": ""
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": ""
          }
        },
        "security": [
          {}
        ]
      }
    },
    "/api/forgot-password": {
      "post": {
        "summary": "167.172.30.196:5000/api/forgot-password",
        "description": "167.172.30.196:5000/api/forgot-password",
        "operationId": "167172301965000ApiForgotPassword",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/api_forgotpassword_body"
              },
              "examples": {
                "167.172.30.196:5000/api/forgot-password": {
                  "value": {
                    "email": "k.arizaga11@gmail.com"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": ""
          }
        },
        "security": [
          {}
        ]
      }
    },
    "/api/reset-password": {
      "post": {
        "summary": "167.172.30.196:5000/api/reset-password",
        "description": "167.172.30.196:5000/api/reset-password",
        "operationId": "167172301965000ApiResetPassword",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/api_resetpassword_body"
              },
              "examples": {
                "167.172.30.196:5000/api/reset-password": {
                  "value": {
                    "confirmPassword": "kvn",
                    "newPassword": "kvn",
                    "token": "a1b2c3d4e5f6..."
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": ""
          }
        },
        "security": [
          {}
        ]
      }
    },
    "/api/getcredits": {
      "post": {
        "summary": "167.172.30.196:5000/api/getcredits",
        "description": "167.172.30.196:5000/api/getcredits",
        "operationId": "167172301965000ApiGetcredits",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/api_getcredits_body"
              },
              "examples": {
                "167.172.30.196:5000/api/getcredits": {
                  "value": {
                    "jwtToken": "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJ1c2VySWQiOiI2OTE4ZTYyYmEzYThkZDBjNDlmODUyOTUiLCJmaXJzdE5hbWUiOiJxd2VyIiwibGFzdE5hbWUiOiJxd2VyIiwiaWF0IjoxNzYzMjYzNjAyLCJleHAiOjE3NjMzNTAwMDJ9.AORiB4irw8QajEdYvmj5oyGqepref0qoMZ5P3wxxyd0"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": ""
          }
        },
        "security": [
          {}
        ]
      }
    },
    "/api/debug-users": {
      "get": {
        "summary": "167.172.30.196:5000/api/debug-users",
        "description": "167.172.30.196:5000/api/debug-users",
        "operationId": "167172301965000ApiDebugUsers",
        "responses": {
          "200": {
            "description": ""
          }
        },
        "security": [
          {}
        ]
      }
    }
  },
  "components": {
    "schemas": {
      "api_resendverification_body": {
        "type": "object",
        "properties": {
          "email": {
            "type": "string",
            "example": "k.arizaga11@gmail.com"
          }
        }
      },
      "api_getcredits_body": {
        "type": "object",
        "properties": {
          "jwtToken": {
            "type": "string",
            "example": "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJ1c2VySWQiOiI2OTE4ZTYyYmEzYThkZDBjNDlmODUyOTUiLCJmaXJzdE5hbWUiOiJxd2VyIiwibGFzdE5hbWUiOiJxd2VyIiwiaWF0IjoxNzYzMjYzNjAyLCJleHAiOjE3NjMzNTAwMDJ9.AORiB4irw8QajEdYvmj5oyGqepref0qoMZ5P3wxxyd0"
          }
        }
      },
      "api_register_body": {
        "type": "object",
        "properties": {
          "email": {
            "type": "string",
            "example": "NoMail"
          },
          "firstname": {
            "type": "string",
            "example": "qwer"
          },
          "lastname": {
            "type": "string",
            "example": "qwer"
          },
          "login": {
            "type": "string",
            "example": "qwer"
          },
          "password": {
            "type": "string",
            "example": "qwer"
          }
        }
      },
      "api_addcredits_body": {
        "type": "object",
        "properties": {
          "credits": {
            "type": "number",
            "example": -100
          },
          "jwtToken": {
            "type": "string",
            "example": "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJ1c2VySWQiOiI2OTE4ZTYyYmEzYThkZDBjNDlmODUyOTUiLCJmaXJzdE5hbWUiOiJxd2VyIiwibGFzdE5hbWUiOiJxd2VyIiwiaWF0IjoxNzYzMjQxMzA3LCJleHAiOjE3NjMzMjc3MDd9.UuYOF4O-b331b0zK_7AqRYL6exm05WjYzDTjNi3XNUw"
          }
        }
      },
      "api_forgotpassword_body": {
        "type": "object",
        "properties": {
          "email": {
            "type": "string",
            "example": "k.arizaga11@gmail.com"
          }
        }
      },
      "api_login_body": {
        "type": "object",
        "properties": {
          "login": {
            "type": "string",
            "example": "qwer"
          },
          "password": {
            "type": "string",
            "example": "qwer"
          }
        }
      },
      "api_resetpassword_body": {
        "type": "object",
        "properties": {
          "confirmPassword": {
            "type": "string",
            "example": "kvn"
          },
          "newPassword": {
            "type": "string",
            "example": "kvn"
          },
          "token": {
            "type": "string",
            "example": "a1b2c3d4e5f6..."
          }
        }
      }
    },
    "securitySchemes": {}
  }
}