{
  "openapi": "3.0.3",
  "info": {
    "title": "Plataforma P\u00fablica de Split Payment - API",
    "version": "0.1",
    "description": "Especifica\u00e7\u00e3o OpenAPI derivada do manual \"Plataforma P\u00fablica de Split Payment - Fluxo de dados e comunica\u00e7\u00e3o (v0.1)\".\nA plataforma exp\u00f5e endpoints HTTP para recebimento de informes e utiliza webhook para notificar retorno do superinteligente.\n",
    "x-jentic-source-url": "https://api.swaggerhub.com/apis/ALEXANDREBUCARDUBINA_1/PlataformaSplit/0.1"
  },
  "servers": [
    {
      "url": "https://PP.estaleiro.np.gov.br",
      "description": "Host de exemplo do manual"
    }
  ],
  "tags": [
    {
      "name": "Boleto"
    },
    {
      "name": "PixCobV"
    },
    {
      "name": "PixOutros"
    },
    {
      "name": "TED"
    },
    {
      "name": "TEF"
    }
  ],
  "paths": {
    "/api/v1/boleto": {
      "post": {
        "tags": [
          "Boleto"
        ],
        "summary": "Informe de transa\u00e7\u00e3o financeira iniciada (Boleto)",
        "operationId": "postBoletoIniciada",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/InformeIniciadaRequest"
              },
              "examples": {
                "exemplo": {
                  "summary": "Exemplo do manual",
                  "value": {
                    "codMsg": "SPL0101",
                    "arrj": "BOLETO",
                    "dtHrMsg": "2025-11-21T13:55:00",
                    "transacoes": [
                      {
                        "index": 1,
                        "idDda": "1234567890123456789012345",
                        "numCtrlOrigTrans": "CTRL1234567890123456",
                        "numCodBarras": "1234567890123456789023456789012345678901234",
                        "valor": 1500.75,
                        "cbs": 1500.75,
                        "ibs": 1500.75,
                        "regFisc": "RF12345678901234567890123456789012345678901234",
                        "cnpjPspInd": "12345678",
                        "cnpjPspDir": "87654321",
                        "cnpjFornec": "12345678000199",
                        "cnpjCpfPagOrig": "98765432000188",
                        "dtHrGer": "2025-11-21T13:55:00",
                        "dtVenc": "2025-11-30",
                        "dtHrLimPgto": "2025-11-30T23:59:59"
                      }
                    ]
                  }
                }
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Informe recebido (cria ResourceId)",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/InformeRecebidoResponse"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/Problem400"
          },
          "403": {
            "$ref": "#/components/responses/Problem403"
          },
          "413": {
            "$ref": "#/components/responses/Problem413"
          },
          "429": {
            "$ref": "#/components/responses/Problem429"
          },
          "500": {
            "$ref": "#/components/responses/Problem500"
          }
        }
      },
      "put": {
        "tags": [
          "Boleto"
        ],
        "summary": "Informe de transa\u00e7\u00e3o financeira atualizada (Boleto)",
        "operationId": "putBoletoAtualizada",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/InformeAtualizadaBoletoRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Solicita\u00e7\u00e3o de atualiza\u00e7\u00e3o recebida",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AckResponse"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/Problem400"
          },
          "403": {
            "$ref": "#/components/responses/Problem403"
          },
          "500": {
            "$ref": "#/components/responses/Problem500"
          }
        }
      }
    },
    "/api/v1/boleto/baixa": {
      "patch": {
        "tags": [
          "Boleto"
        ],
        "summary": "Informe de baixa da transa\u00e7\u00e3o financeira (Boleto)",
        "operationId": "patchBoletoBaixa",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/InformeBaixaBoletoRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Solicita\u00e7\u00e3o de baixa recebida",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AckResponse"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/Problem400"
          },
          "403": {
            "$ref": "#/components/responses/Problem403"
          },
          "500": {
            "$ref": "#/components/responses/Problem500"
          }
        }
      }
    },
    "/api/v1/boleto/cancela-baixa": {
      "patch": {
        "tags": [
          "Boleto"
        ],
        "summary": "Informe de cancelamento da baixa (Boleto)",
        "operationId": "patchBoletoCancelaBaixa",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/InformeCancelaBaixaBoletoRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Solicita\u00e7\u00e3o de cancelamento de baixa recebida",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AckResponse"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/Problem400"
          },
          "403": {
            "$ref": "#/components/responses/Problem403"
          },
          "500": {
            "$ref": "#/components/responses/Problem500"
          }
        }
      }
    },
    "/api/v1/boleto/pre-repasse": {
      "post": {
        "tags": [
          "Boleto"
        ],
        "summary": "Informe de transa\u00e7\u00e3o financeira liquidada (Pr\u00e9-repasse) - Boleto",
        "operationId": "postBoletoPreRepasse",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/InformePreRepasseRequest"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Informe de liquida\u00e7\u00e3o recebido (cria ResourceId)",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/InformeRecebidoResponse"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/Problem400"
          },
          "403": {
            "$ref": "#/components/responses/Problem403"
          },
          "413": {
            "$ref": "#/components/responses/Problem413"
          },
          "429": {
            "$ref": "#/components/responses/Problem429"
          },
          "500": {
            "$ref": "#/components/responses/Problem500"
          }
        }
      }
    },
    "/api/v1/pixcobv": {
      "post": {
        "tags": [
          "PixCobV"
        ],
        "summary": "Informe de transa\u00e7\u00e3o financeira iniciada (Pix Din\u00e2mico / CobV)",
        "operationId": "postPixCobvIniciada",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/InformeIniciadaRequest"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Informe recebido (cria ResourceId)",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/InformeRecebidoResponse"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/Problem400"
          },
          "403": {
            "$ref": "#/components/responses/Problem403"
          },
          "500": {
            "$ref": "#/components/responses/Problem500"
          }
        }
      },
      "put": {
        "tags": [
          "PixCobV"
        ],
        "summary": "Informe de transa\u00e7\u00e3o financeira atualizada (Pix Din\u00e2mico / CobV)",
        "operationId": "putPixCobvAtualizada",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/InformeAtualizadaPixCobvRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Solicita\u00e7\u00e3o de atualiza\u00e7\u00e3o recebida",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AckResponse"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/Problem400"
          },
          "403": {
            "$ref": "#/components/responses/Problem403"
          },
          "500": {
            "$ref": "#/components/responses/Problem500"
          }
        }
      }
    },
    "/api/v1/pixcobv/baixa": {
      "patch": {
        "tags": [
          "PixCobV"
        ],
        "summary": "Informe de baixa (Pix Din\u00e2mico - baixa n\u00e3o-financeira)",
        "operationId": "patchPixCobvBaixa",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/InformeBaixaPixCobvRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Solicita\u00e7\u00e3o de baixa recebida",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AckResponse"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/Problem400"
          },
          "403": {
            "$ref": "#/components/responses/Problem403"
          },
          "500": {
            "$ref": "#/components/responses/Problem500"
          }
        }
      }
    },
    "/api/v1/pixcobv/cancela-baixa": {
      "patch": {
        "tags": [
          "PixCobV"
        ],
        "summary": "Informe de cancelamento de baixa (Pix Din\u00e2mico)",
        "operationId": "patchPixCobvCancelaBaixa",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/InformeCancelaBaixaPixCobvRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Solicita\u00e7\u00e3o de cancelamento de baixa recebida",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AckResponse"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/Problem400"
          },
          "403": {
            "$ref": "#/components/responses/Problem403"
          },
          "500": {
            "$ref": "#/components/responses/Problem500"
          }
        }
      }
    },
    "/api/v1/pixcobv/pre-repasse": {
      "post": {
        "tags": [
          "PixCobV"
        ],
        "summary": "Pr\u00e9-repasse (Pix Din\u00e2mico - baixa financeira / liquida\u00e7\u00e3o)",
        "operationId": "postPixCobvPreRepasse",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/InformePreRepasseRequest"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Informe de liquida\u00e7\u00e3o recebido (cria ResourceId)",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/InformeRecebidoResponse"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/Problem400"
          },
          "403": {
            "$ref": "#/components/responses/Problem403"
          },
          "500": {
            "$ref": "#/components/responses/Problem500"
          }
        }
      }
    },
    "/api/v1/pix/pre-repasse": {
      "post": {
        "tags": [
          "PixOutros"
        ],
        "summary": "Pr\u00e9-repasse (PIX Outros)",
        "operationId": "postPixOutrosPreRepasse",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/InformePreRepasseRequest"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Informe de liquida\u00e7\u00e3o recebido (cria ResourceId)",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/InformeRecebidoResponse"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/Problem400"
          },
          "403": {
            "$ref": "#/components/responses/Problem403"
          },
          "500": {
            "$ref": "#/components/responses/Problem500"
          }
        }
      }
    },
    "/api/v1/ted/pre-repasse": {
      "post": {
        "tags": [
          "TED"
        ],
        "summary": "Pr\u00e9-repasse (TED)",
        "operationId": "postTedPreRepasse",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/InformePreRepasseRequest"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Informe de liquida\u00e7\u00e3o recebido (cria ResourceId)",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/InformeRecebidoResponse"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/Problem400"
          },
          "403": {
            "$ref": "#/components/responses/Problem403"
          },
          "500": {
            "$ref": "#/components/responses/Problem500"
          }
        }
      }
    },
    "/api/v1/tef/pre-repasse": {
      "post": {
        "tags": [
          "TEF"
        ],
        "summary": "Pr\u00e9-repasse (TEF / Booktransfer)",
        "operationId": "postTefPreRepasse",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/InformePreRepasseRequest"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Informe de liquida\u00e7\u00e3o recebido (cria ResourceId)",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/InformeRecebidoResponse"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/Problem400"
          },
          "403": {
            "$ref": "#/components/responses/Problem403"
          },
          "500": {
            "$ref": "#/components/responses/Problem500"
          }
        }
      }
    }
  },
  "components": {
    "schemas": {
      "Arranjo": {
        "type": "string",
        "description": "Identifica o arranjo.",
        "enum": [
          "BOLETO",
          "PIX",
          "TED",
          "TEF"
        ]
      },
      "InformeIniciadaRequest": {
        "type": "object",
        "required": [
          "codMsg",
          "arrj",
          "dtHrMsg",
          "transacoes"
        ],
        "properties": {
          "codMsg": {
            "type": "string",
            "description": "Codigo da mensagem (ex SPL0101 para boleto; SPL0201 para pix dinamico)."
          },
          "arrj": {
            "$ref": "#/components/schemas/Arranjo"
          },
          "dtHrMsg": {
            "type": "string",
            "format": "date-time"
          },
          "transacoes": {
            "type": "array",
            "minItems": 1,
            "maxItems": 1000,
            "items": {
              "$ref": "#/components/schemas/TransacaoIniciadaItem"
            }
          }
        },
        "additionalProperties": false
      },
      "TransacaoIniciadaItem": {
        "type": "object",
        "required": [
          "index",
          "valor",
          "cbs",
          "ibs",
          "regFisc",
          "cnpjPspInd",
          "cnpjPspDir",
          "cnpjFornec",
          "cnpjCpfPagOrig",
          "dtHrGer",
          "dtVenc",
          "dtHrLimPgto"
        ],
        "properties": {
          "index": {
            "type": "integer",
            "minimum": 1
          },
          "idDda": {
            "type": "string",
            "description": "ID DDA (boleto).",
            "maxLength": 25
          },
          "numCtrlOrigTrans": {
            "type": "string",
            "maxLength": 20,
            "description": "N\u00famero de controle do originador (boleto)."
          },
          "numCodBarras": {
            "type": "string",
            "maxLength": 44,
            "description": "N\u00famero do c\u00f3digo de barras (boleto)."
          },
          "txId": {
            "type": "string",
            "maxLength": 35,
            "description": "Identificador \u00fanico da transa\u00e7\u00e3o Pix (Pix Din\u00e2mico)."
          },
          "valor": {
            "type": "number",
            "format": "double"
          },
          "cbs": {
            "type": "number",
            "format": "double"
          },
          "ibs": {
            "type": "number",
            "format": "double"
          },
          "regFisc": {
            "type": "string",
            "maxLength": 50
          },
          "cnpjPspInd": {
            "type": "string",
            "maxLength": 8,
            "description": "Raiz CNPJ (8) PSP fornecedor indireto."
          },
          "cnpjPspDir": {
            "type": "string",
            "maxLength": 8,
            "description": "Raiz CNPJ (8) PSP fornecedor direto."
          },
          "cnpjFornec": {
            "type": "string",
            "maxLength": 14
          },
          "cnpjCpfPagOrig": {
            "type": "string",
            "maxLength": 14
          },
          "dtHrGer": {
            "type": "string",
            "format": "date-time"
          },
          "dtVenc": {
            "type": "string",
            "format": "date"
          },
          "dtHrLimPgto": {
            "type": "string",
            "format": "date-time"
          }
        },
        "additionalProperties": false
      },
      "InformeAtualizadaBoletoRequest": {
        "type": "object",
        "required": [
          "codMsg",
          "arrj",
          "idPgtoArrj",
          "numCtrlOrigTrans",
          "numCodBarr",
          "valor",
          "cbs",
          "ibs",
          "regFisc",
          "cnpjFornec",
          "cnpjCpfPagOrig",
          "dtHrAtu",
          "dtVenc",
          "dtHrMsg",
          "dtHrLimPgto"
        ],
        "properties": {
          "codMsg": {
            "type": "string",
            "description": "Ex.: SPL0102 (manual)"
          },
          "arrj": {
            "$ref": "#/components/schemas/Arranjo"
          },
          "idPgtoArrj": {
            "type": "string",
            "maxLength": 25
          },
          "numCtrlOrigTrans": {
            "type": "string",
            "maxLength": 20
          },
          "numCodBarr": {
            "type": "string",
            "maxLength": 44
          },
          "valor": {
            "type": "number",
            "format": "double"
          },
          "cbs": {
            "type": "number",
            "format": "double"
          },
          "ibs": {
            "type": "number",
            "format": "double"
          },
          "regFisc": {
            "type": "string",
            "maxLength": 50
          },
          "cnpjPspInd": {
            "type": "string",
            "maxLength": 8
          },
          "cnpjPspDir": {
            "type": "string",
            "maxLength": 8
          },
          "cnpjFornec": {
            "type": "string",
            "maxLength": 14
          },
          "cnpjCpfPagOrig": {
            "type": "string",
            "maxLength": 14
          },
          "dtHrAtu": {
            "type": "string",
            "format": "date-time"
          },
          "dtVenc": {
            "type": "string",
            "format": "date"
          },
          "dtHrMsg": {
            "type": "string",
            "format": "date-time"
          },
          "dtHrLimPgto": {
            "type": "string",
            "format": "date-time"
          }
        },
        "additionalProperties": false
      },
      "InformeAtualizadaPixCobvRequest": {
        "allOf": [
          {
            "$ref": "#/components/schemas/InformeAtualizadaBoletoRequest"
          },
          {
            "type": "object",
            "description": "Mesmo contrato-base, com uso de txId quando aplic\u00e1vel ao Pix Din\u00e2mico."
          }
        ]
      },
      "InformeBaixaBoletoRequest": {
        "type": "object",
        "required": [
          "codMsg",
          "arrj",
          "numCtrlOrigTrans",
          "idArrj",
          "idNumPagtos",
          "valor",
          "regFisc",
          "cnpjPspPag",
          "cnpjCpfPagOrig",
          "cnpjCpfPagEfet",
          "dtHrPgto",
          "dtHrMsg",
          "tpBaixa"
        ],
        "properties": {
          "codMsg": {
            "type": "string",
            "description": "Ex.: SPL0103 (boleto)"
          },
          "arrj": {
            "$ref": "#/components/schemas/Arranjo"
          },
          "numCtrlOrigTrans": {
            "type": "string",
            "maxLength": 20
          },
          "idArrj": {
            "type": "string",
            "maxLength": 19
          },
          "idNumPagtos": {
            "type": "integer",
            "minimum": 1,
            "maximum": 999
          },
          "valor": {
            "type": "number",
            "format": "double"
          },
          "regFisc": {
            "type": "string",
            "maxLength": 50
          },
          "cnpjPspPag": {
            "type": "string",
            "maxLength": 8
          },
          "cnpjCpfPagOrig": {
            "type": "string",
            "maxLength": 14
          },
          "cnpjCpfPagEfet": {
            "type": "string",
            "maxLength": 14
          },
          "dtHrPgto": {
            "type": "string",
            "format": "date-time"
          },
          "dtHrMsg": {
            "type": "string",
            "format": "date-time"
          },
          "tpBaixa": {
            "type": "string",
            "description": "F = Baixa Financeira; N = Baixa n\u00e3o Financeira.",
            "enum": [
              "F",
              "N"
            ]
          }
        },
        "additionalProperties": false
      },
      "InformeBaixaPixCobvRequest": {
        "type": "object",
        "required": [
          "codMsg",
          "arrj",
          "txId",
          "tpBaixa",
          "dtHrMsg"
        ],
        "properties": {
          "codMsg": {
            "type": "string",
            "description": "Ex.: SPL0203 (pix din\u00e2mico)"
          },
          "arrj": {
            "$ref": "#/components/schemas/Arranjo"
          },
          "txId": {
            "type": "string",
            "maxLength": 35
          },
          "tpBaixa": {
            "type": "string",
            "description": "No Pix Din\u00e2mico (CobV), a baixa citada no manual \u00e9 tipicamente n\u00e3o-financeira.",
            "enum": [
              "N",
              "F"
            ]
          },
          "dtHrMsg": {
            "type": "string",
            "format": "date-time"
          }
        },
        "additionalProperties": false
      },
      "InformeCancelaBaixaBoletoRequest": {
        "type": "object",
        "required": [
          "codMsg",
          "arrj",
          "idDda",
          "numCtrlOrigTrans",
          "idNumPagto",
          "dtHrMsg"
        ],
        "properties": {
          "codMsg": {
            "type": "string",
            "description": "Ex.: SPL0104 (boleto)"
          },
          "arrj": {
            "$ref": "#/components/schemas/Arranjo"
          },
          "idDda": {
            "type": "string",
            "maxLength": 25
          },
          "numCtrlOrigTrans": {
            "type": "string",
            "maxLength": 20
          },
          "idNumPagto": {
            "type": "integer",
            "minimum": 1,
            "maximum": 999
          },
          "dtHrMsg": {
            "type": "string",
            "format": "date-time"
          }
        },
        "additionalProperties": false
      },
      "InformeCancelaBaixaPixCobvRequest": {
        "type": "object",
        "required": [
          "codMsg",
          "arrj",
          "txId",
          "dtHrMsg"
        ],
        "properties": {
          "codMsg": {
            "type": "string",
            "description": "Ex.: SPL0204 (pix din\u00e2mico)"
          },
          "arrj": {
            "$ref": "#/components/schemas/Arranjo"
          },
          "txId": {
            "type": "string",
            "maxLength": 35
          },
          "dtHrMsg": {
            "type": "string",
            "format": "date-time"
          }
        },
        "additionalProperties": false
      },
      "InformePreRepasseRequest": {
        "type": "object",
        "required": [
          "codMsg",
          "arrj",
          "dtHrMsg",
          "transacoes"
        ],
        "properties": {
          "codMsg": {
            "type": "string",
            "description": "Ex.: SPL0105 (boleto), SPL0205 (pix din\u00e2mico), SPL0305 (pix outros), SPL0405 (TED), SPL0505 (TEF)."
          },
          "arrj": {
            "$ref": "#/components/schemas/Arranjo"
          },
          "dtHrMsg": {
            "type": "string",
            "format": "date-time"
          },
          "transacoes": {
            "type": "array",
            "minItems": 1,
            "maxItems": 1000,
            "items": {
              "$ref": "#/components/schemas/PreRepasseItem"
            }
          }
        },
        "additionalProperties": false
      },
      "PreRepasseItem": {
        "type": "object",
        "required": [
          "index",
          "valor",
          "cbs",
          "ibs",
          "regFisc",
          "cnpjPspDir",
          "cnpjFornec",
          "cnpjCpfPagEfet",
          "dtHrLiq",
          "dtHrRepasse"
        ],
        "properties": {
          "index": {
            "type": "integer",
            "minimum": 1
          },
          "idDda": {
            "type": "string",
            "maxLength": 25
          },
          "numCtrlOrigTrans": {
            "type": "string",
            "maxLength": 20
          },
          "idNumPagtos": {
            "type": "integer",
            "minimum": 1,
            "maximum": 999
          },
          "txId": {
            "type": "string",
            "maxLength": 35
          },
          "e2eId": {
            "type": "string",
            "maxLength": 35
          },
          "codIdTed": {
            "type": "string",
            "maxLength": 3
          },
          "codIdTef": {
            "type": "string"
          },
          "valor": {
            "type": "number",
            "format": "double"
          },
          "cbs": {
            "type": "number",
            "format": "double",
            "description": "CBS a repassar"
          },
          "ibs": {
            "type": "number",
            "format": "double",
            "description": "IBS a repassar"
          },
          "regFisc": {
            "type": "string",
            "maxLength": 50
          },
          "pgtoInteg": {
            "type": "integer",
            "enum": [
              0,
              1
            ],
            "description": "1 = pagamento integral; 0 = n\u00e3o integral."
          },
          "cnpjPspInd": {
            "type": "string",
            "maxLength": 8
          },
          "cnpjPspDir": {
            "type": "string",
            "maxLength": 8
          },
          "cnpjPspPag": {
            "type": "string",
            "maxLength": 8
          },
          "cnpjFornec": {
            "type": "string",
            "maxLength": 14
          },
          "cnpjCpfPagEfet": {
            "type": "string",
            "maxLength": 14
          },
          "pspRespRepasse": {
            "type": "string",
            "maxLength": 8,
            "description": "Raiz CNPJ PSP respons\u00e1vel repasse (boleto)"
          },
          "dtHrPgto": {
            "type": "string",
            "format": "date-time"
          },
          "dtHrLiq": {
            "type": "string",
            "format": "date-time"
          },
          "dtHrRepasse": {
            "type": "string",
            "format": "date-time"
          }
        },
        "additionalProperties": false
      },
      "AckResponse": {
        "type": "object",
        "properties": {
          "status": {
            "type": "integer",
            "example": 200
          },
          "message": {
            "type": "string",
            "example": "Solicita\u00e7\u00e3o recebida com sucesso"
          }
        },
        "additionalProperties": true
      },
      "InformeRecebidoResponse": {
        "type": "object",
        "properties": {
          "title": {
            "type": "string",
            "example": "Informe Recebido"
          },
          "status": {
            "type": "integer",
            "example": 201
          },
          "detail": {
            "type": "string"
          },
          "numValidos": {
            "type": "integer",
            "example": 997
          },
          "numErros": {
            "type": "integer",
            "example": 3
          },
          "erros": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/ErroItem"
            }
          },
          "resourceId": {
            "type": "string",
            "description": "ResourceId gerado pela plataforma."
          }
        },
        "additionalProperties": true
      },
      "ErroItem": {
        "type": "object",
        "properties": {
          "index": {
            "type": "integer",
            "description": "\u00cdndice do item com erro (quando aplic\u00e1vel)."
          },
          "field": {
            "type": "string"
          },
          "message": {
            "type": "string"
          }
        },
        "additionalProperties": false
      },
      "ProblemDetails": {
        "type": "object",
        "required": [
          "status",
          "detail"
        ],
        "properties": {
          "title": {
            "type": "string"
          },
          "status": {
            "type": "integer"
          },
          "detail": {
            "type": "string"
          },
          "erros": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/ErroItem"
            }
          }
        },
        "additionalProperties": true
      },
      "WebhookRetornoSuperInteligente": {
        "type": "object",
        "required": [
          "fonte",
          "codMsg",
          "arrj",
          "valor",
          "dtHrMsg"
        ],
        "properties": {
          "fonte": {
            "type": "string",
            "description": "Ex.: 'CG-ComiteGestor' ou 'RF - Receita Federal'."
          },
          "codMsg": {
            "type": "string",
            "description": "C\u00f3digos RSUPxxx conforme tabela do manual."
          },
          "arrj": {
            "$ref": "#/components/schemas/Arranjo"
          },
          "idDda": {
            "type": "string",
            "maxLength": 25
          },
          "txId": {
            "type": "string",
            "maxLength": 35
          },
          "numCtrlOrigTrans": {
            "type": "string",
            "maxLength": 20
          },
          "valor": {
            "type": "number",
            "format": "double"
          },
          "cbsCorrecao": {
            "type": "number",
            "format": "double",
            "nullable": true
          },
          "cbsEmAberto": {
            "type": "number",
            "format": "double",
            "nullable": true
          },
          "ibsCorrecao": {
            "type": "number",
            "format": "double",
            "nullable": true
          },
          "ibsEmAberto": {
            "type": "number",
            "format": "double",
            "nullable": true
          },
          "cnpjPspInd": {
            "type": "string",
            "maxLength": 8
          },
          "cnpjPspDir": {
            "type": "string",
            "maxLength": 8
          },
          "cnpjFornec": {
            "type": "string",
            "maxLength": 14
          },
          "dtHrMsg": {
            "type": "string",
            "format": "date-time"
          }
        },
        "additionalProperties": true
      }
    },
    "responses": {
      "Problem400": {
        "description": "Bad Request (RFC7807)",
        "content": {
          "application/problem+json": {
            "schema": {
              "$ref": "#/components/schemas/ProblemDetails"
            }
          }
        }
      },
      "Problem403": {
        "description": "Forbidden (RFC7807)",
        "content": {
          "application/problem+json": {
            "schema": {
              "$ref": "#/components/schemas/ProblemDetails"
            }
          }
        }
      },
      "Problem413": {
        "description": "Payload Too Large (RFC7807)",
        "content": {
          "application/problem+json": {
            "schema": {
              "$ref": "#/components/schemas/ProblemDetails"
            }
          }
        }
      },
      "Problem429": {
        "description": "Too Many Requests (RFC7807)",
        "content": {
          "application/problem+json": {
            "schema": {
              "$ref": "#/components/schemas/ProblemDetails"
            }
          }
        }
      },
      "Problem500": {
        "description": "Internal Server Error (RFC7807)",
        "content": {
          "application/problem+json": {
            "schema": {
              "$ref": "#/components/schemas/ProblemDetails"
            }
          }
        }
      }
    }
  }
}