{
  "openapi": "3.0.3",
  "info": {
    "title": "BookingSync API (Smily)",
    "description": "BookingSync API V3 for property management, bookings, rentals, and vacation rental operations. Supports OAuth 2.0 authentication with various scopes for granular access control.",
    "version": "3.0.0",
    "x-jentic-source-url": "http://developers.bookingsync.com/",
    "contact": {
      "name": "API Support"
    }
  },
  "servers": [
    {
      "url": "https://www.bookingsync.com/api/v3"
    }
  ],
  "security": [
    {
      "oauth2": []
    }
  ],
  "paths": {
    "/rentals": {
      "get": {
        "summary": "List Rentals",
        "description": "Retrieves a list of all rentals (properties)",
        "operationId": "listRentals",
        "tags": [
          "Rentals"
        ],
        "parameters": [
          {
            "name": "per_page",
            "in": "query",
            "schema": {
              "type": "integer",
              "default": 20
            },
            "description": "Number of results per page"
          },
          {
            "name": "fields",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "description": "Comma-separated list of fields to return"
          },
          {
            "name": "include",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "description": "Related resources to include (sideload)"
          }
        ],
        "responses": {
          "200": {
            "description": "List of rentals",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "rentals": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/Rental"
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/ErrorResponse"
          }
        }
      },
      "post": {
        "summary": "Create Rental",
        "description": "Creates a new rental property",
        "operationId": "createRental",
        "tags": [
          "Rentals"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "rental": {
                    "$ref": "#/components/schemas/RentalInput"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Rental created",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "rental": {
                      "$ref": "#/components/schemas/Rental"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/ErrorResponse"
          }
        }
      }
    },
    "/rentals/search": {
      "get": {
        "summary": "Search Rentals",
        "description": "Search rentals with filters including availability, pricing, and amenities",
        "operationId": "searchRentals",
        "tags": [
          "Rentals"
        ],
        "parameters": [
          {
            "name": "start_at",
            "in": "query",
            "schema": {
              "type": "string",
              "format": "date"
            }
          },
          {
            "name": "end_at",
            "in": "query",
            "schema": {
              "type": "string",
              "format": "date"
            }
          },
          {
            "name": "guests",
            "in": "query",
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "adults",
            "in": "query",
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "children",
            "in": "query",
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "min_price",
            "in": "query",
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "max_price",
            "in": "query",
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "bedrooms_count",
            "in": "query",
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "amenities",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "description": "Comma-separated amenity IDs"
          },
          {
            "name": "rental_type",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "city",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "country_code",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "bookable_online",
            "in": "query",
            "schema": {
              "type": "boolean"
            }
          },
          {
            "name": "instantly_bookable",
            "in": "query",
            "schema": {
              "type": "boolean"
            }
          },
          {
            "name": "sort",
            "in": "query",
            "schema": {
              "type": "string",
              "enum": [
                "price",
                "sleeps",
                "sleeps_max",
                "bedrooms_count"
              ]
            }
          },
          {
            "name": "direction",
            "in": "query",
            "schema": {
              "type": "string",
              "enum": [
                "asc",
                "desc"
              ]
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Search results with pricing",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "rentals": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/RentalSearchResult"
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/ErrorResponse"
          }
        }
      }
    },
    "/rentals/{rental_id}": {
      "get": {
        "summary": "Get Rental",
        "description": "Retrieves a single rental by ID",
        "operationId": "getRental",
        "tags": [
          "Rentals"
        ],
        "parameters": [
          {
            "name": "rental_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Rental details",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "rental": {
                      "$ref": "#/components/schemas/Rental"
                    }
                  }
                }
              }
            }
          },
          "404": {
            "$ref": "#/components/responses/ErrorResponse"
          }
        }
      },
      "put": {
        "summary": "Update Rental",
        "description": "Updates an existing rental",
        "operationId": "updateRental",
        "tags": [
          "Rentals"
        ],
        "parameters": [
          {
            "name": "rental_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "rental": {
                    "$ref": "#/components/schemas/RentalInput"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Rental updated",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "rental": {
                      "$ref": "#/components/schemas/Rental"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/ErrorResponse"
          }
        }
      },
      "delete": {
        "summary": "Delete Rental",
        "description": "Deletes a rental",
        "operationId": "deleteRental",
        "tags": [
          "Rentals"
        ],
        "parameters": [
          {
            "name": "rental_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "Rental deleted"
          },
          "404": {
            "$ref": "#/components/responses/ErrorResponse"
          }
        }
      }
    },
    "/bookings": {
      "get": {
        "summary": "List Bookings",
        "description": "Retrieves a list of all bookings",
        "operationId": "listBookings",
        "tags": [
          "Bookings"
        ],
        "parameters": [
          {
            "name": "from",
            "in": "query",
            "schema": {
              "type": "string",
              "format": "date-time"
            },
            "description": "Filter bookings ending after given time"
          },
          {
            "name": "until",
            "in": "query",
            "schema": {
              "type": "string",
              "format": "date-time"
            }
          },
          {
            "name": "months",
            "in": "query",
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "status",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "description": "Comma-separated: booked, unavailable, tentative"
          },
          {
            "name": "include_canceled",
            "in": "query",
            "schema": {
              "type": "boolean"
            }
          },
          {
            "name": "rental_id",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "description": "Comma-separated rental IDs"
          },
          {
            "name": "client_id",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "updated_since",
            "in": "query",
            "schema": {
              "type": "string",
              "format": "date-time"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "List of bookings",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "bookings": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/Booking"
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/ErrorResponse"
          }
        }
      }
    },
    "/bookings/{booking_id}": {
      "get": {
        "summary": "Get Booking",
        "description": "Retrieves a single booking by ID",
        "operationId": "getBooking",
        "tags": [
          "Bookings"
        ],
        "parameters": [
          {
            "name": "booking_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Booking details",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "booking": {
                      "$ref": "#/components/schemas/Booking"
                    }
                  }
                }
              }
            }
          },
          "404": {
            "$ref": "#/components/responses/ErrorResponse"
          }
        }
      },
      "put": {
        "summary": "Update Booking",
        "description": "Updates an existing booking",
        "operationId": "updateBooking",
        "tags": [
          "Bookings"
        ],
        "parameters": [
          {
            "name": "booking_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "booking": {
                    "$ref": "#/components/schemas/BookingInput"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Booking updated",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "booking": {
                      "$ref": "#/components/schemas/Booking"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/ErrorResponse"
          }
        }
      },
      "delete": {
        "summary": "Cancel Booking",
        "description": "Cancels a booking",
        "operationId": "cancelBooking",
        "tags": [
          "Bookings"
        ],
        "parameters": [
          {
            "name": "booking_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "Booking canceled"
          },
          "404": {
            "$ref": "#/components/responses/ErrorResponse"
          }
        }
      }
    },
    "/rentals/{rental_id}/bookings": {
      "post": {
        "summary": "Create Booking",
        "description": "Creates a new booking for a rental",
        "operationId": "createBooking",
        "tags": [
          "Bookings"
        ],
        "parameters": [
          {
            "name": "rental_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "booking": {
                    "$ref": "#/components/schemas/BookingInput"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Booking created",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "booking": {
                      "$ref": "#/components/schemas/Booking"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/ErrorResponse"
          }
        }
      }
    },
    "/accounts": {
      "get": {
        "summary": "List Accounts",
        "description": "Retrieves a list of accounts",
        "operationId": "listAccounts",
        "tags": [
          "Accounts"
        ],
        "responses": {
          "200": {
            "description": "List of accounts",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "accounts": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/Account"
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/clients": {
      "get": {
        "summary": "List Clients",
        "description": "Retrieves a list of clients",
        "operationId": "listClients",
        "tags": [
          "Clients"
        ],
        "responses": {
          "200": {
            "description": "List of clients",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "clients": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/Client"
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/reviews": {
      "get": {
        "summary": "List Reviews",
        "description": "Retrieves a list of reviews",
        "operationId": "listReviews",
        "tags": [
          "Reviews"
        ],
        "responses": {
          "200": {
            "description": "List of reviews",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "reviews": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/Review"
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    }
  },
  "components": {
    "securitySchemes": {
      "oauth2": {
        "type": "oauth2",
        "flows": {
          "authorizationCode": {
            "authorizationUrl": "https://www.bookingsync.com/oauth/authorize",
            "tokenUrl": "https://www.bookingsync.com/oauth/token",
            "scopes": {
              "public": "Public access to limited data",
              "rentals_read": "Read rental data",
              "rentals_write": "Create and update rentals",
              "bookings_read": "Read booking data",
              "bookings_write": "Create and update bookings",
              "bookings_write_owned": "Manage own bookings only"
            }
          }
        }
      }
    },
    "schemas": {
      "Rental": {
        "type": "object",
        "properties": {
          "id": {
            "type": "integer"
          },
          "name": {
            "type": "string"
          },
          "rental_type": {
            "type": "string"
          },
          "bedrooms_count": {
            "type": "integer"
          },
          "bathrooms_count": {
            "type": "integer"
          },
          "sleeps": {
            "type": "integer"
          },
          "sleeps_max": {
            "type": "integer"
          },
          "surface": {
            "type": "integer"
          },
          "surface_unit": {
            "type": "string",
            "enum": [
              "metric",
              "imperial"
            ]
          },
          "base_rate": {
            "type": "number"
          },
          "base_rate_kind": {
            "type": "string"
          },
          "currency": {
            "type": "string"
          },
          "min_price": {
            "type": "number"
          },
          "max_price": {
            "type": "number"
          },
          "bookable_online": {
            "type": "boolean"
          },
          "instantly_bookable": {
            "type": "boolean"
          },
          "address1": {
            "type": "string"
          },
          "city": {
            "type": "string"
          },
          "state": {
            "type": "string"
          },
          "zip": {
            "type": "string"
          },
          "country_code": {
            "type": "string"
          },
          "lat": {
            "type": "number"
          },
          "lng": {
            "type": "number"
          },
          "created_at": {
            "type": "string",
            "format": "date-time"
          },
          "updated_at": {
            "type": "string",
            "format": "date-time"
          }
        }
      },
      "RentalInput": {
        "type": "object",
        "properties": {
          "name": {
            "type": "string"
          },
          "rental_type": {
            "type": "string"
          },
          "bedrooms_count": {
            "type": "integer"
          },
          "bathrooms_count": {
            "type": "integer"
          },
          "sleeps": {
            "type": "integer"
          },
          "address1": {
            "type": "string"
          },
          "city": {
            "type": "string"
          },
          "country_code": {
            "type": "string"
          },
          "lat": {
            "type": "number"
          },
          "lng": {
            "type": "number"
          },
          "amenity_ids": {
            "type": "array",
            "items": {
              "type": "integer"
            }
          },
          "destination_id": {
            "type": "integer"
          }
        }
      },
      "RentalSearchResult": {
        "allOf": [
          {
            "$ref": "#/components/schemas/Rental"
          },
          {
            "type": "object",
            "properties": {
              "initial_price": {
                "type": "integer"
              },
              "final_price": {
                "type": "integer"
              },
              "price_to_pay_now": {
                "type": "integer"
              },
              "damage_deposit": {
                "type": "number"
              },
              "price_details": {
                "type": "object",
                "properties": {
                  "taxes": {
                    "type": "array",
                    "items": {
                      "type": "object"
                    }
                  },
                  "fees": {
                    "type": "array",
                    "items": {
                      "type": "object"
                    }
                  }
                }
              }
            }
          }
        ]
      },
      "Booking": {
        "type": "object",
        "properties": {
          "id": {
            "type": "integer"
          },
          "reference": {
            "type": "string"
          },
          "status": {
            "type": "string"
          },
          "start_at": {
            "type": "string",
            "format": "date-time"
          },
          "end_at": {
            "type": "string",
            "format": "date-time"
          },
          "adults": {
            "type": "integer"
          },
          "children": {
            "type": "integer"
          },
          "initial_price": {
            "type": "number"
          },
          "final_price": {
            "type": "number"
          },
          "currency": {
            "type": "string"
          },
          "damage_deposit": {
            "type": "number"
          },
          "booked": {
            "type": "boolean"
          },
          "unavailable": {
            "type": "boolean"
          },
          "paid_amount": {
            "type": "number"
          },
          "payment_left_to_collect": {
            "type": "number"
          },
          "created_at": {
            "type": "string",
            "format": "date-time"
          },
          "updated_at": {
            "type": "string",
            "format": "date-time"
          },
          "canceled_at": {
            "type": "string",
            "format": "date-time"
          }
        }
      },
      "BookingInput": {
        "type": "object",
        "required": [
          "start_at",
          "end_at"
        ],
        "properties": {
          "start_at": {
            "type": "string",
            "format": "date-time"
          },
          "end_at": {
            "type": "string",
            "format": "date-time"
          },
          "adults": {
            "type": "integer"
          },
          "children": {
            "type": "integer"
          },
          "booked": {
            "type": "boolean"
          },
          "unavailable": {
            "type": "boolean"
          },
          "client_id": {
            "type": "integer"
          },
          "currency": {
            "type": "string"
          },
          "initial_price": {
            "type": "number"
          },
          "final_price": {
            "type": "number"
          },
          "damage_deposit": {
            "type": "number"
          },
          "notes": {
            "type": "string"
          }
        }
      },
      "Account": {
        "type": "object",
        "properties": {
          "id": {
            "type": "integer"
          },
          "business_name": {
            "type": "string"
          },
          "email": {
            "type": "string"
          }
        }
      },
      "Client": {
        "type": "object",
        "properties": {
          "id": {
            "type": "integer"
          },
          "fullname": {
            "type": "string"
          },
          "email": {
            "type": "string"
          },
          "phone": {
            "type": "string"
          }
        }
      },
      "Review": {
        "type": "object",
        "properties": {
          "id": {
            "type": "integer"
          },
          "rating": {
            "type": "number"
          },
          "comment": {
            "type": "string"
          },
          "created_at": {
            "type": "string",
            "format": "date-time"
          }
        }
      },
      "ErrorResponse": {
        "type": "object",
        "properties": {
          "errors": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "field": {
                  "type": "string"
                },
                "message": {
                  "type": "string"
                }
              }
            }
          }
        }
      }
    },
    "responses": {
      "ErrorResponse": {
        "description": "Error response",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/ErrorResponse"
            }
          }
        }
      }
    }
  },
  "tags": [
    {
      "name": "Accounts"
    },
    {
      "name": "Bookings"
    },
    {
      "name": "Clients"
    },
    {
      "name": "Rentals"
    },
    {
      "name": "Reviews"
    }
  ]
}
