{
  "openapi": "3.0.3",
  "info": {
    "title": "Gallabox API",
    "description": "Gallabox WhatsApp Business API for automating business conversations. Provides endpoints for messaging, contacts, conversations, webhooks, templates, broadcasts, and user management.",
    "version": "1.0.0",
    "x-jentic-source-url": "https://documenter.getpostman.com/view/17087523/Tzz7QJTJ",
    "contact": {
      "name": "API Support"
    }
  },
  "servers": [
    {
      "url": "https://server.gallabox.com/devapi",
      "description": "Gallabox API Server"
    }
  ],
  "security": [
    {
      "ApiKeyAuth": [],
      "ApiSecretAuth": []
    }
  ],
  "tags": [
    {
      "name": "Messages"
    },
    {
      "name": "Contacts"
    },
    {
      "name": "Conversations"
    },
    {
      "name": "Webhooks"
    },
    {
      "name": "Templates"
    },
    {
      "name": "Users"
    },
    {
      "name": "Broadcasts"
    },
    {
      "name": "CTWA"
    }
  ],
  "paths": {
    "/messages/whatsapp": {
      "post": {
        "tags": [
          "Messages"
        ],
        "summary": "Send WhatsApp message",
        "operationId": "sendWhatsAppMessage",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "channelId",
                  "recipientPhone",
                  "recipientName"
                ],
                "properties": {
                  "channelId": {
                    "type": "string"
                  },
                  "recipientPhone": {
                    "type": "string"
                  },
                  "recipientName": {
                    "type": "string"
                  },
                  "messageType": {
                    "type": "string",
                    "enum": [
                      "text",
                      "image",
                      "video",
                      "document",
                      "audio",
                      "sticker",
                      "contact",
                      "product",
                      "button",
                      "list",
                      "template",
                      "catalog",
                      "location"
                    ]
                  },
                  "message": {
                    "type": "string"
                  },
                  "templateName": {
                    "type": "string"
                  },
                  "bodyValues": {
                    "type": "object"
                  },
                  "mediaUrl": {
                    "type": "string"
                  },
                  "caption": {
                    "type": "string"
                  },
                  "buttons": {
                    "type": "array",
                    "items": {
                      "type": "object",
                      "properties": {
                        "type": {
                          "type": "string"
                        },
                        "text": {
                          "type": "string"
                        },
                        "url": {
                          "type": "string"
                        }
                      }
                    }
                  },
                  "listSections": {
                    "type": "array",
                    "items": {
                      "type": "object"
                    }
                  },
                  "assignToBot": {
                    "type": "boolean"
                  },
                  "isNotification": {
                    "type": "boolean"
                  },
                  "tags": {
                    "type": "array",
                    "items": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Message sent successfully",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "messageId": {
                      "type": "string"
                    },
                    "status": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          }
        },
        "description": "Send WhatsApp message"
      }
    },
    "/accounts/{accountId}/messages/{messageId}/status": {
      "get": {
        "tags": [
          "Messages"
        ],
        "summary": "Get message status",
        "operationId": "getMessageStatus",
        "parameters": [
          {
            "name": "accountId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "messageId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Message status"
          }
        },
        "description": "Get message status"
      }
    },
    "/accounts/{accountId}/contacts/{contactId}": {
      "get": {
        "tags": [
          "Contacts"
        ],
        "summary": "Get contact by ID",
        "operationId": "getContact",
        "parameters": [
          {
            "name": "accountId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "contactId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Contact details",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Contact"
                }
              }
            }
          }
        },
        "description": "Get contact by ID"
      }
    },
    "/accounts/{accountId}/contacts": {
      "get": {
        "tags": [
          "Contacts"
        ],
        "summary": "Get contact by phone",
        "operationId": "getContactByPhone",
        "parameters": [
          {
            "name": "accountId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "phone",
            "in": "query",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Contact details"
          }
        },
        "description": "Get contact by phone"
      },
      "post": {
        "tags": [
          "Contacts"
        ],
        "summary": "Add contact",
        "operationId": "addContact",
        "parameters": [
          {
            "name": "accountId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ContactInput"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Contact created"
          }
        },
        "description": "Add contact"
      },
      "patch": {
        "tags": [
          "Contacts"
        ],
        "summary": "List contacts with filters",
        "operationId": "listContacts",
        "parameters": [
          {
            "name": "accountId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "filters": {
                    "type": "object"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "List of contacts"
          }
        },
        "description": "List contacts with filters"
      }
    },
    "/accounts/{accountId}/contacts/counts": {
      "get": {
        "tags": [
          "Contacts"
        ],
        "summary": "Get contacts count",
        "operationId": "getContactsCount",
        "parameters": [
          {
            "name": "accountId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Contact count"
          }
        },
        "description": "Get contacts count"
      }
    },
    "/accounts/{accountId}/contacts/search": {
      "get": {
        "tags": [
          "Contacts"
        ],
        "summary": "Search contacts",
        "operationId": "searchContacts",
        "parameters": [
          {
            "name": "accountId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "search",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "page",
            "in": "query",
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Search results"
          }
        },
        "description": "Search contacts"
      }
    },
    "/accounts/{accountId}/contacts/filters": {
      "get": {
        "tags": [
          "Contacts"
        ],
        "summary": "Get contact filters",
        "operationId": "getContactFilters",
        "parameters": [
          {
            "name": "accountId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Available filters"
          }
        },
        "description": "Get contact filters"
      }
    },
    "/contacts/upsert": {
      "post": {
        "tags": [
          "Contacts"
        ],
        "summary": "Upsert contact",
        "operationId": "upsertContact",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ContactInput"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Contact upserted"
          }
        },
        "description": "Upsert contact"
      }
    },
    "/accounts/{accountId}/users": {
      "post": {
        "tags": [
          "Users"
        ],
        "summary": "Invite users",
        "operationId": "inviteUsers",
        "parameters": [
          {
            "name": "accountId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "email": {
                    "type": "string"
                  },
                  "role": {
                    "type": "string"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "User invited"
          }
        },
        "description": "Invite users"
      },
      "get": {
        "tags": [
          "Users"
        ],
        "summary": "Get current users",
        "operationId": "getUsers",
        "parameters": [
          {
            "name": "accountId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "schema": {
              "type": "integer",
              "default": 100
            }
          }
        ],
        "responses": {
          "200": {
            "description": "List of users"
          }
        },
        "description": "Get current users"
      },
      "delete": {
        "tags": [
          "Users"
        ],
        "summary": "Delete users",
        "operationId": "deleteUsers",
        "parameters": [
          {
            "name": "accountId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "userIds": {
                    "type": "array",
                    "items": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Users deleted"
          }
        },
        "description": "Delete users"
      }
    },
    "/accounts/{accountId}/users/availability": {
      "patch": {
        "tags": [
          "Users"
        ],
        "summary": "Update user availability",
        "operationId": "updateUserAvailability",
        "parameters": [
          {
            "name": "accountId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Availability updated"
          }
        },
        "description": "Update user availability"
      }
    },
    "/accounts/{accountId}/teams/map": {
      "patch": {
        "tags": [
          "Users"
        ],
        "summary": "Map teams",
        "operationId": "mapTeams",
        "parameters": [
          {
            "name": "accountId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Teams mapped"
          }
        },
        "description": "Map teams"
      }
    },
    "/accounts/{accountId}/teams/un-map": {
      "patch": {
        "tags": [
          "Users"
        ],
        "summary": "Unmap teams",
        "operationId": "unmapTeams",
        "parameters": [
          {
            "name": "accountId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Teams unmapped"
          }
        },
        "description": "Unmap teams"
      }
    },
    "/webhooks": {
      "get": {
        "tags": [
          "Webhooks"
        ],
        "summary": "List webhooks",
        "operationId": "listWebhooks",
        "responses": {
          "200": {
            "description": "List of webhooks"
          }
        },
        "description": "List webhooks"
      },
      "post": {
        "tags": [
          "Webhooks"
        ],
        "summary": "Create webhook",
        "operationId": "createWebhook",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/WebhookInput"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Webhook created"
          }
        },
        "description": "Create webhook"
      }
    },
    "/webhooks/{webhookId}": {
      "patch": {
        "tags": [
          "Webhooks"
        ],
        "summary": "Update webhook",
        "operationId": "updateWebhook",
        "parameters": [
          {
            "name": "webhookId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/WebhookInput"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Webhook updated"
          }
        },
        "description": "Update webhook"
      },
      "delete": {
        "tags": [
          "Webhooks"
        ],
        "summary": "Delete webhook",
        "operationId": "deleteWebhook",
        "parameters": [
          {
            "name": "webhookId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Webhook deleted"
          }
        },
        "description": "Delete webhook"
      }
    },
    "/accounts/{accountId}/webhooks/{webhookId}": {
      "get": {
        "tags": [
          "Webhooks"
        ],
        "summary": "Get webhook",
        "operationId": "getWebhook",
        "parameters": [
          {
            "name": "accountId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "webhookId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Webhook details"
          }
        },
        "description": "Get webhook"
      }
    },
    "/accounts/{accountId}/whatsappTemplates": {
      "get": {
        "tags": [
          "Templates"
        ],
        "summary": "List WhatsApp templates",
        "operationId": "listTemplates",
        "parameters": [
          {
            "name": "accountId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "List of templates"
          }
        },
        "description": "List WhatsApp templates"
      }
    },
    "/accounts/{accountId}/whatsappTemplates/{templateId}": {
      "get": {
        "tags": [
          "Templates"
        ],
        "summary": "Get WhatsApp template",
        "operationId": "getTemplate",
        "parameters": [
          {
            "name": "accountId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "templateId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Template details"
          }
        },
        "description": "Get WhatsApp template"
      }
    },
    "/accounts/{accountId}/conversations/{conversationId}/assign": {
      "post": {
        "tags": [
          "Conversations"
        ],
        "summary": "Assign conversation",
        "operationId": "assignConversation",
        "parameters": [
          {
            "name": "accountId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "conversationId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "userId": {
                    "type": "string"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Conversation assigned"
          }
        },
        "description": "Assign conversation"
      }
    },
    "/accounts/{accountId}/conversations/{conversationId}/change-team": {
      "post": {
        "tags": [
          "Conversations"
        ],
        "summary": "Change conversation team",
        "operationId": "changeConversationTeam",
        "parameters": [
          {
            "name": "accountId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "conversationId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "teamId": {
                    "type": "string"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Team changed"
          }
        },
        "description": "Change conversation team"
      }
    },
    "/accounts/{accountId}/conversations/phone/{phoneNumber}/assign": {
      "post": {
        "tags": [
          "Conversations"
        ],
        "summary": "Assign conversation by phone",
        "operationId": "assignConversationByPhone",
        "parameters": [
          {
            "name": "accountId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "phoneNumber",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "channelId",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "userId": {
                    "type": "string"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Conversation assigned"
          }
        },
        "description": "Assign conversation by phone"
      }
    },
    "/accounts/{accountId}/conversations/{conversationId}/tags": {
      "put": {
        "tags": [
          "Conversations"
        ],
        "summary": "Map conversation tag",
        "operationId": "mapConversationTag",
        "parameters": [
          {
            "name": "accountId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "conversationId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "tagId": {
                    "type": "string"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Tag mapped"
          }
        },
        "description": "Map conversation tag"
      }
    },
    "/accounts/{accountId}/conversations/tags": {
      "put": {
        "tags": [
          "Conversations"
        ],
        "summary": "Map conversation tag by phone",
        "operationId": "mapConversationTagByPhone",
        "parameters": [
          {
            "name": "accountId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "phone",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "channelId",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "tagId": {
                    "type": "string"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Tag mapped"
          }
        },
        "description": "Map conversation tag by phone"
      }
    },
    "/accounts/{accountId}/conversations/{conversationId}/tags/{tagId}": {
      "delete": {
        "tags": [
          "Conversations"
        ],
        "summary": "Unmap conversation tag",
        "operationId": "unmapConversationTag",
        "parameters": [
          {
            "name": "accountId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "conversationId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "tagId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Tag unmapped"
          }
        },
        "description": "Unmap conversation tag"
      }
    },
    "/accounts/{accountId}/conversations/tags/{tagId}": {
      "delete": {
        "tags": [
          "Conversations"
        ],
        "summary": "Unmap conversation tag by phone",
        "operationId": "unmapConversationTagByPhone",
        "parameters": [
          {
            "name": "accountId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "tagId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "phone",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "channelId",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Tag unmapped"
          }
        },
        "description": "Unmap conversation tag by phone"
      }
    },
    "/accounts/{accountId}/conversations/{conversationId}/mention": {
      "post": {
        "tags": [
          "Conversations"
        ],
        "summary": "Mention in conversation",
        "operationId": "mentionConversation",
        "parameters": [
          {
            "name": "accountId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "conversationId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "userId": {
                    "type": "string"
                  },
                  "message": {
                    "type": "string"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Mention created"
          }
        },
        "description": "Mention in conversation"
      }
    },
    "/accounts/{accountId}/conversations/phone/{phoneNumber}/mention": {
      "post": {
        "tags": [
          "Conversations"
        ],
        "summary": "Mention in conversation by phone",
        "operationId": "mentionConversationByPhone",
        "parameters": [
          {
            "name": "accountId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "phoneNumber",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "channelId",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "userId": {
                    "type": "string"
                  },
                  "message": {
                    "type": "string"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Mention created"
          }
        },
        "description": "Mention in conversation by phone"
      }
    },
    "/accounts/{accountId}/conversations/phone/{phoneNumber}/unassign": {
      "post": {
        "tags": [
          "Conversations"
        ],
        "summary": "Unassign conversation by phone",
        "operationId": "unassignConversationByPhone",
        "parameters": [
          {
            "name": "accountId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "phoneNumber",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "channelId",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Conversation unassigned"
          }
        },
        "description": "Unassign conversation by phone"
      }
    },
    "/accounts/{accountId}/conversations/phone/{phoneNumber}/resolve": {
      "post": {
        "tags": [
          "Conversations"
        ],
        "summary": "Resolve conversation by phone",
        "operationId": "resolveConversationByPhone",
        "parameters": [
          {
            "name": "accountId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "phoneNumber",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "channelId",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Conversation resolved"
          }
        },
        "description": "Resolve conversation by phone"
      }
    },
    "/accounts/{accountId}/conversations/{conversationId}/resolve": {
      "post": {
        "tags": [
          "Conversations"
        ],
        "summary": "Resolve conversation by ID",
        "operationId": "resolveConversation",
        "parameters": [
          {
            "name": "accountId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "conversationId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Conversation resolved"
          }
        },
        "description": "Resolve conversation by ID"
      }
    },
    "/accounts/{accountId}/broadcasts": {
      "post": {
        "tags": [
          "Broadcasts"
        ],
        "summary": "Send broadcast",
        "operationId": "sendBroadcast",
        "parameters": [
          {
            "name": "accountId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "templateName": {
                    "type": "string"
                  },
                  "recipients": {
                    "type": "array",
                    "items": {
                      "type": "object"
                    }
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Broadcast sent"
          }
        },
        "description": "Send broadcast"
      }
    },
    "/accounts/{accountId}/channels/{channelId}/ctwa/conversion": {
      "post": {
        "tags": [
          "CTWA"
        ],
        "summary": "CTWA conversion tracking",
        "operationId": "ctwaConversion",
        "parameters": [
          {
            "name": "accountId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "channelId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Conversion tracked"
          }
        },
        "description": "CTWA conversion tracking"
      }
    }
  },
  "components": {
    "securitySchemes": {
      "ApiKeyAuth": {
        "type": "apiKey",
        "in": "header",
        "name": "apikey"
      },
      "ApiSecretAuth": {
        "type": "apiKey",
        "in": "header",
        "name": "apisecret"
      }
    },
    "schemas": {
      "Contact": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string"
          },
          "name": {
            "type": "string"
          },
          "phone": {
            "type": "string"
          },
          "email": {
            "type": "string"
          },
          "tags": {
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "customFields": {
            "type": "object"
          },
          "createdAt": {
            "type": "string",
            "format": "date-time"
          },
          "updatedAt": {
            "type": "string",
            "format": "date-time"
          }
        }
      },
      "ContactInput": {
        "type": "object",
        "required": [
          "phone",
          "name"
        ],
        "properties": {
          "name": {
            "type": "string"
          },
          "phone": {
            "type": "string"
          },
          "email": {
            "type": "string"
          },
          "tags": {
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "customFields": {
            "type": "object"
          }
        }
      },
      "WebhookInput": {
        "type": "object",
        "required": [
          "url",
          "events"
        ],
        "properties": {
          "url": {
            "type": "string",
            "format": "uri"
          },
          "events": {
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "active": {
            "type": "boolean"
          }
        }
      }
    }
  }
}
