{
  "openapi": "3.0.3",
  "info": {
    "title": "KiSSFLOW REST API",
    "version": "1.0.0",
    "description": "KiSSFLOW REST API allows you to programmatically create, update, submit, approve, reject, and list process requests.",
    "x-jentic-source-url": "https://help.kissflow.com/rest-api-points/",
    "contact": {
      "name": "API Support"
    }
  },
  "servers": [
    {
      "url": "https://go.kissflow.com/api/1/{account_name}",
      "description": "KiSSFLOW API",
      "variables": {
        "account_name": {
          "default": "your-account",
          "description": "Your KiSSFLOW account name"
        }
      }
    }
  ],
  "security": [
    {
      "apiKeyHeader": []
    }
  ],
  "paths": {
    "/process": {
      "get": {
        "operationId": "listProcesses",
        "summary": "List all processes",
        "tags": [
          "Processes"
        ],
        "responses": {
          "200": {
            "description": "List of active processes",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProcessListResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "description": "List all processes"
      }
    },
    "/process/{process_id}/item": {
      "post": {
        "operationId": "createRequest",
        "summary": "Create a new request (save as draft)",
        "tags": [
          "Requests"
        ],
        "parameters": [
          {
            "name": "process_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Process ID"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/RequestPayload"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Request created",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RequestResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "description": "Create a new request (save as draft)"
      },
      "get": {
        "operationId": "listRequests",
        "summary": "List all requests for a process",
        "tags": [
          "Requests"
        ],
        "parameters": [
          {
            "name": "process_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "List of requests",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RequestListResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "description": "List all requests for a process"
      }
    },
    "/process/{process_id}/item/submit": {
      "post": {
        "operationId": "createAndSubmitRequest",
        "summary": "Create and submit a request",
        "tags": [
          "Requests"
        ],
        "parameters": [
          {
            "name": "process_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/RequestPayload"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Request created and submitted",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RequestResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "description": "Create and submit a request"
      }
    },
    "/process/{process_id}/item/{item_id}": {
      "get": {
        "operationId": "readRequest",
        "summary": "Read an existing request",
        "tags": [
          "Requests"
        ],
        "parameters": [
          {
            "name": "process_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "item_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Request/item ID"
          }
        ],
        "responses": {
          "200": {
            "description": "Request details",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RequestResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "description": "Read an existing request"
      },
      "put": {
        "operationId": "updateRequest",
        "summary": "Update an existing request",
        "tags": [
          "Requests"
        ],
        "parameters": [
          {
            "name": "process_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "item_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/RequestPayload"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Request updated",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RequestResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "description": "Update an existing request"
      },
      "delete": {
        "operationId": "deleteRequest",
        "summary": "Delete a request",
        "tags": [
          "Requests"
        ],
        "parameters": [
          {
            "name": "process_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "item_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Request deleted",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SuccessResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "description": "Delete a request"
      }
    },
    "/process/{process_id}/item/{item_id}/approve": {
      "post": {
        "operationId": "approveRequest",
        "summary": "Approve a request",
        "tags": [
          "Requests"
        ],
        "parameters": [
          {
            "name": "process_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "item_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ActionPayload"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Request approved",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RequestResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "description": "Approve a request"
      }
    },
    "/process/{process_id}/item/{item_id}/reject": {
      "post": {
        "operationId": "rejectRequest",
        "summary": "Reject a request",
        "tags": [
          "Requests"
        ],
        "parameters": [
          {
            "name": "process_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "item_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/RejectPayload"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Request rejected",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RequestResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "description": "Reject a request"
      }
    }
  },
  "components": {
    "securitySchemes": {
      "apiKeyHeader": {
        "type": "apiKey",
        "in": "header",
        "name": "api_key",
        "description": "KiSSFLOW API key"
      }
    },
    "schemas": {
      "ProcessListResponse": {
        "type": "object",
        "properties": {
          "Processes": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Process"
            }
          }
        }
      },
      "Process": {
        "type": "object",
        "properties": {
          "_id": {
            "type": "string",
            "description": "Unique process ID"
          },
          "Name": {
            "type": "string"
          },
          "Description": {
            "type": "string"
          }
        }
      },
      "RequestPayload": {
        "type": "object",
        "description": "Key-value pairs of process field values",
        "additionalProperties": true
      },
      "ActionPayload": {
        "type": "object",
        "properties": {
          "Comment": {
            "type": "string",
            "description": "Optional comment"
          }
        }
      },
      "RejectPayload": {
        "type": "object",
        "required": [
          "Comment"
        ],
        "properties": {
          "Comment": {
            "type": "string",
            "description": "Rejection reason (mandatory)"
          }
        }
      },
      "RequestResponse": {
        "type": "object",
        "properties": {
          "_id": {
            "type": "string",
            "description": "Unique request ID"
          },
          "_created_by": {
            "type": "string"
          },
          "_created_at": {
            "type": "string",
            "format": "date-time"
          },
          "_last_modified": {
            "type": "string",
            "format": "date-time"
          },
          "_status": {
            "type": "string"
          }
        },
        "additionalProperties": true
      },
      "RequestListResponse": {
        "type": "object",
        "properties": {
          "Data": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/RequestResponse"
            }
          }
        }
      },
      "SuccessResponse": {
        "type": "object",
        "properties": {
          "message": {
            "type": "string"
          }
        }
      },
      "ErrorResponse": {
        "type": "object",
        "properties": {
          "error": {
            "type": "string"
          },
          "message": {
            "type": "string"
          }
        }
      }
    }
  },
  "tags": [
    {
      "name": "Processes"
    },
    {
      "name": "Requests"
    }
  ]
}
