{
  "openapi": "3.0.3",
  "info": {
    "title": "Snov.io API",
    "version": "1.0",
    "description": "Snov.io provides email finding, verification, and outreach automation tools. The API enables domain search, email finder, email verification, prospect management, and drip campaign features.",
    "x-jentic-source-url": "https://snov.io/api",
    "contact": {
      "name": "API Support"
    }
  },
  "servers": [
    {
      "url": "https://api.snov.io"
    }
  ],
  "paths": {
    "/v1/oauth/access_token": {
      "post": {
        "operationId": "getAccessToken",
        "summary": "Get access token",
        "description": "Obtain an OAuth access token using client credentials.",
        "tags": [
          "Authentication"
        ],
        "security": [],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "grant_type",
                  "client_id",
                  "client_secret"
                ],
                "properties": {
                  "grant_type": {
                    "type": "string",
                    "enum": [
                      "client_credentials"
                    ]
                  },
                  "client_id": {
                    "type": "string"
                  },
                  "client_secret": {
                    "type": "string"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Access token",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "access_token": {
                      "type": "string"
                    },
                    "token_type": {
                      "type": "string"
                    },
                    "expires_in": {
                      "type": "integer"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad request"
          }
        }
      }
    },
    "/v2/domain-emails-with-info": {
      "post": {
        "operationId": "domainSearchV2",
        "summary": "Domain search v2",
        "description": "Search for email addresses and associated info by domain.",
        "tags": [
          "Search"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "domain"
                ],
                "properties": {
                  "domain": {
                    "type": "string"
                  },
                  "type": {
                    "type": "string",
                    "enum": [
                      "all",
                      "personal",
                      "generic"
                    ]
                  },
                  "limit": {
                    "type": "integer",
                    "default": 10
                  },
                  "lastId": {
                    "type": "integer"
                  },
                  "positions": {
                    "type": "array",
                    "items": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DomainSearchResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      }
    },
    "/v1/get-emails-from-names": {
      "post": {
        "operationId": "emailFinder",
        "summary": "Email finder",
        "description": "Find email address by first name, last name, and domain.",
        "tags": [
          "Search"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "firstName",
                  "lastName",
                  "domain"
                ],
                "properties": {
                  "firstName": {
                    "type": "string"
                  },
                  "lastName": {
                    "type": "string"
                  },
                  "domain": {
                    "type": "string"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/EmailFinderResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      }
    },
    "/v1/get-emails-verification-status": {
      "post": {
        "operationId": "getEmailVerificationStatus",
        "summary": "Get email verification status",
        "description": "Check the verification status of an email address that was previously submitted for verification.",
        "tags": [
          "Verification"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "emails"
                ],
                "properties": {
                  "emails": {
                    "type": "array",
                    "items": {
                      "type": "string",
                      "format": "email"
                    }
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Verification status",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/VerificationStatusResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      }
    },
    "/v1/add-emails-to-verification": {
      "post": {
        "operationId": "addEmailsToVerification",
        "summary": "Add emails to verification queue",
        "description": "Submit email addresses for asynchronous verification.",
        "tags": [
          "Verification"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "emails"
                ],
                "properties": {
                  "emails": {
                    "type": "array",
                    "items": {
                      "type": "string",
                      "format": "email"
                    }
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Emails queued for verification",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean"
                    },
                    "message": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      }
    },
    "/v1/add-prospect-to-list": {
      "post": {
        "operationId": "addProspectToList",
        "summary": "Add prospect to list",
        "description": "Add a prospect to a specific list.",
        "tags": [
          "Prospects"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "email",
                  "listId"
                ],
                "properties": {
                  "email": {
                    "type": "string",
                    "format": "email"
                  },
                  "listId": {
                    "type": "integer"
                  },
                  "firstName": {
                    "type": "string"
                  },
                  "lastName": {
                    "type": "string"
                  },
                  "country": {
                    "type": "string"
                  },
                  "company": {
                    "type": "string"
                  },
                  "position": {
                    "type": "string"
                  },
                  "companyUrl": {
                    "type": "string"
                  },
                  "socialLinks": {
                    "type": "array",
                    "items": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Prospect added",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean"
                    },
                    "data": {
                      "type": "object"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      }
    },
    "/v1/get-prospect-by-email": {
      "post": {
        "operationId": "getProspectByEmail",
        "summary": "Get prospect by email",
        "description": "Retrieve prospect information by email address.",
        "tags": [
          "Prospects"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "email"
                ],
                "properties": {
                  "email": {
                    "type": "string",
                    "format": "email"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Prospect details",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProspectResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      }
    },
    "/v1/prospect-list": {
      "post": {
        "operationId": "getProspectList",
        "summary": "Get prospects from list",
        "description": "Retrieve all prospects from a specific list.",
        "tags": [
          "Prospects"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "listId"
                ],
                "properties": {
                  "listId": {
                    "type": "integer"
                  },
                  "page": {
                    "type": "integer",
                    "default": 1
                  },
                  "perPage": {
                    "type": "integer",
                    "default": 100
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Prospect list",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean"
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/ProspectResponse"
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      }
    },
    "/v1/get-user-lists": {
      "post": {
        "operationId": "getUserLists",
        "summary": "Get user prospect lists",
        "description": "Retrieve all prospect lists for the authenticated user.",
        "tags": [
          "Prospects"
        ],
        "responses": {
          "200": {
            "description": "User lists",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean"
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "id": {
                            "type": "integer"
                          },
                          "name": {
                            "type": "string"
                          },
                          "contacts": {
                            "type": "integer"
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      }
    },
    "/v1/get-profile-by-email": {
      "post": {
        "operationId": "getProfileByEmail",
        "summary": "Get profile by email",
        "description": "Retrieve social and professional profile data for an email address.",
        "tags": [
          "Enrichment"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "email"
                ],
                "properties": {
                  "email": {
                    "type": "string",
                    "format": "email"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Profile data",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProspectResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      }
    }
  },
  "components": {
    "schemas": {
      "DomainSearchResponse": {
        "type": "object",
        "properties": {
          "success": {
            "type": "boolean"
          },
          "domain": {
            "type": "string"
          },
          "webmail": {
            "type": "boolean"
          },
          "result": {
            "type": "integer"
          },
          "lastId": {
            "type": "integer"
          },
          "emails": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "email": {
                  "type": "string"
                },
                "firstName": {
                  "type": "string"
                },
                "lastName": {
                  "type": "string"
                },
                "position": {
                  "type": "string"
                },
                "sourcePage": {
                  "type": "string"
                },
                "companyName": {
                  "type": "string"
                },
                "type": {
                  "type": "string"
                },
                "status": {
                  "type": "string"
                }
              }
            }
          }
        }
      },
      "EmailFinderResponse": {
        "type": "object",
        "properties": {
          "success": {
            "type": "boolean"
          },
          "params": {
            "type": "object"
          },
          "data": {
            "type": "object",
            "properties": {
              "firstName": {
                "type": "string"
              },
              "lastName": {
                "type": "string"
              },
              "emails": {
                "type": "array",
                "items": {
                  "type": "object",
                  "properties": {
                    "email": {
                      "type": "string"
                    },
                    "emailStatus": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          }
        }
      },
      "VerificationStatusResponse": {
        "type": "object",
        "properties": {
          "success": {
            "type": "boolean"
          },
          "data": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "email": {
                  "type": "string"
                },
                "status": {
                  "type": "string",
                  "enum": [
                    "valid",
                    "invalid",
                    "unverifiable",
                    "unknown",
                    "disposable",
                    "catch_all"
                  ]
                }
              }
            }
          }
        }
      },
      "ProspectResponse": {
        "type": "object",
        "properties": {
          "success": {
            "type": "boolean"
          },
          "data": {
            "type": "object",
            "properties": {
              "id": {
                "type": "integer"
              },
              "email": {
                "type": "string"
              },
              "firstName": {
                "type": "string"
              },
              "lastName": {
                "type": "string"
              },
              "name": {
                "type": "string"
              },
              "company": {
                "type": "string"
              },
              "position": {
                "type": "string"
              },
              "country": {
                "type": "string"
              },
              "locality": {
                "type": "string"
              },
              "social": {
                "type": "array",
                "items": {
                  "type": "string"
                }
              },
              "lists": {
                "type": "array",
                "items": {
                  "type": "object"
                }
              }
            }
          }
        }
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "scheme": "bearer",
        "description": "OAuth2 access token obtained via client credentials"
      }
    }
  },
  "security": [
    {
      "bearerAuth": []
    }
  ],
  "tags": [
    {
      "name": "Authentication"
    },
    {
      "name": "Enrichment"
    },
    {
      "name": "Prospects"
    },
    {
      "name": "Search"
    },
    {
      "name": "Verification"
    }
  ]
}
