{
  "openapi": "3.0.3",
  "info": {
    "title": "Localazy API",
    "version": "1.0.0",
    "description": "Localazy is a translation management platform. This API provides endpoints for managing projects, files, translations, glossary terms, source keys, webhooks, and screenshots.",
    "x-jentic-source-url": "https://localazy.com/docs/api/",
    "contact": {
      "name": "API Support"
    }
  },
  "servers": [
    {
      "url": "https://api.localazy.com"
    }
  ],
  "paths": {
    "/projects": {
      "get": {
        "operationId": "listProjects",
        "summary": "List projects",
        "description": "List projects accessible with the current token scope.",
        "tags": [
          "Projects"
        ],
        "parameters": [
          {
            "name": "organization",
            "in": "query",
            "schema": {
              "type": "boolean"
            },
            "description": "Include organization info"
          },
          {
            "name": "languages",
            "in": "query",
            "schema": {
              "type": "boolean"
            },
            "description": "Include language info"
          }
        ],
        "responses": {
          "200": {
            "description": "List of projects",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Project"
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      },
      "post": {
        "operationId": "createProject",
        "summary": "Create a project",
        "description": "Create a new project inside the given organization. Requires organization token.",
        "tags": [
          "Projects"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateProjectRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Project created",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "projectId": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/projects/{projectId}/files": {
      "get": {
        "operationId": "listFiles",
        "summary": "List files in project",
        "description": "Returns list of files in the project with all available parameters.",
        "tags": [
          "Files"
        ],
        "parameters": [
          {
            "name": "projectId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Project ID or slug"
          }
        ],
        "responses": {
          "200": {
            "description": "List of files",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/File"
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/projects/{projectId}/files/{fileId}/keys/{lang}": {
      "get": {
        "operationId": "listFileContent",
        "summary": "List file content",
        "description": "Returns keys and their translations in a specific language from a file.",
        "tags": [
          "Files"
        ],
        "parameters": [
          {
            "name": "projectId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "fileId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "lang",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Locale code (ll-Scrp-RR format)"
          },
          {
            "name": "deprecated",
            "in": "query",
            "schema": {
              "type": "boolean"
            },
            "description": "Include deprecated keys"
          },
          {
            "name": "limit",
            "in": "query",
            "schema": {
              "type": "integer",
              "default": 1000,
              "maximum": 1000
            }
          },
          {
            "name": "next",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "description": "Pagination token"
          },
          {
            "name": "extra_info",
            "in": "query",
            "schema": {
              "type": "boolean"
            },
            "description": "Include hidden, limit, deprecated, comment"
          },
          {
            "name": "no_content",
            "in": "query",
            "schema": {
              "type": "boolean"
            },
            "description": "Do not return translation content"
          }
        ],
        "responses": {
          "200": {
            "description": "File content",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/FileContentResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/projects/{projectId}/files/{fileId}/download/{lang}": {
      "get": {
        "operationId": "downloadFile",
        "summary": "Download file",
        "description": "Download the selected file in a specific language. Returns raw file contents.",
        "tags": [
          "Files"
        ],
        "parameters": [
          {
            "name": "projectId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "fileId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "lang",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "File contents",
            "content": {
              "application/octet-stream": {
                "schema": {
                  "type": "string",
                  "format": "binary"
                }
              }
            }
          },
          "400": {
            "description": "File not available for download",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/projects/{projectId}/import": {
      "post": {
        "operationId": "importContent",
        "summary": "Import content to project",
        "description": "Import any supported file format to the selected project including translations.",
        "tags": [
          "Import"
        ],
        "parameters": [
          {
            "name": "projectId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ImportRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Import batch ID",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "result": {
                      "type": "string",
                      "description": "Import batch ID"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/import/formats": {
      "get": {
        "operationId": "listImportFormats",
        "summary": "List available file types",
        "description": "Returns a list of available file types for importing strings, including their parameters.",
        "tags": [
          "Import"
        ],
        "responses": {
          "200": {
            "description": "Import formats",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/ImportFormat"
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/projects/{projectId}/keys/{keyId}": {
      "delete": {
        "operationId": "deleteSourceKey",
        "summary": "Delete source key",
        "description": "Remove a source key from a project.",
        "tags": [
          "Source Keys"
        ],
        "parameters": [
          {
            "name": "projectId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "keyId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Key deleted",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "result": {
                      "type": "boolean"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      },
      "put": {
        "operationId": "updateSourceKey",
        "summary": "Update source key",
        "description": "Update source key properties (hidden, deprecated, character limit, comment).",
        "tags": [
          "Source Keys"
        ],
        "parameters": [
          {
            "name": "projectId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "keyId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UpdateKeyRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Key updated",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "result": {
                      "type": "boolean"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/projects/{projectId}/glossary": {
      "get": {
        "operationId": "listGlossaryTerms",
        "summary": "List all glossary terms",
        "description": "Returns all glossary terms for the given project.",
        "tags": [
          "Glossary"
        ],
        "parameters": [
          {
            "name": "projectId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Glossary terms",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/GlossaryTerm"
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      },
      "post": {
        "operationId": "createGlossaryTerm",
        "summary": "Create glossary term",
        "description": "Add a new term to the glossary. Limit of 1000 terms per project.",
        "tags": [
          "Glossary"
        ],
        "parameters": [
          {
            "name": "projectId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/GlossaryTermRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Term created",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "result": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/projects/{projectId}/glossary/{id}": {
      "get": {
        "operationId": "getGlossaryTerm",
        "summary": "Get glossary term",
        "description": "Retrieve a single glossary term.",
        "tags": [
          "Glossary"
        ],
        "parameters": [
          {
            "name": "projectId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Glossary term",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GlossaryTerm"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      },
      "put": {
        "operationId": "updateGlossaryTerm",
        "summary": "Update glossary term",
        "description": "Update a glossary term.",
        "tags": [
          "Glossary"
        ],
        "parameters": [
          {
            "name": "projectId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/GlossaryTermRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Term updated",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "result": {
                      "type": "boolean"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      },
      "delete": {
        "operationId": "deleteGlossaryTerm",
        "summary": "Delete glossary term",
        "description": "Delete a glossary term.",
        "tags": [
          "Glossary"
        ],
        "parameters": [
          {
            "name": "projectId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Term deleted",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "result": {
                      "type": "boolean"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/projects/{projectId}/webhooks": {
      "get": {
        "operationId": "listWebhooks",
        "summary": "List webhooks configuration",
        "description": "Returns the webhooks configuration for the given project.",
        "tags": [
          "Webhooks"
        ],
        "parameters": [
          {
            "name": "projectId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Webhook config",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/WebhooksResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      },
      "post": {
        "operationId": "updateWebhooks",
        "summary": "Update webhooks configuration",
        "description": "Store a new webhooks configuration for the project. Max 30 webhooks per project.",
        "tags": [
          "Webhooks"
        ],
        "parameters": [
          {
            "name": "projectId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/WebhooksRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Config updated",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "result": {
                      "type": "boolean"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/projects/{projectId}/webhooks/secret": {
      "get": {
        "operationId": "getWebhookSecret",
        "summary": "Get webhook secret",
        "description": "Retrieve webhooks secret for the current project for signature verification.",
        "tags": [
          "Webhooks"
        ],
        "parameters": [
          {
            "name": "projectId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Webhook secret",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "secret": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    }
  },
  "components": {
    "schemas": {
      "Project": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string"
          },
          "orgId": {
            "type": "string"
          },
          "name": {
            "type": "string"
          },
          "slug": {
            "type": "string"
          },
          "image": {
            "type": "string"
          },
          "url": {
            "type": "string"
          },
          "description": {
            "type": "string"
          },
          "type": {
            "type": "string",
            "enum": [
              "public",
              "private",
              "restricted"
            ]
          },
          "tone": {
            "type": "string",
            "enum": [
              "not_specified",
              "formal",
              "informal"
            ]
          },
          "role": {
            "type": "string",
            "enum": [
              "none",
              "translator",
              "trusted_translator",
              "reviewer",
              "manager",
              "owner",
              "developer"
            ]
          },
          "sourceLanguage": {
            "type": "integer"
          },
          "organization": {
            "$ref": "#/components/schemas/Organization"
          },
          "languages": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Language"
            }
          }
        }
      },
      "Organization": {
        "type": "object",
        "properties": {
          "availableKeys": {
            "type": "integer"
          },
          "usedKeys": {
            "type": "integer"
          },
          "figma": {
            "type": "boolean"
          },
          "connectedApps": {
            "type": "boolean"
          },
          "releaseTags": {
            "type": "boolean"
          },
          "formatConversions": {
            "type": "boolean"
          },
          "screenshots": {
            "type": "boolean"
          },
          "additionalMt": {
            "type": "boolean"
          },
          "mtPretranslate": {
            "type": "boolean"
          },
          "webhooks": {
            "type": "boolean"
          }
        }
      },
      "Language": {
        "type": "object",
        "properties": {
          "id": {
            "type": "integer"
          },
          "code": {
            "type": "string"
          },
          "name": {
            "type": "string"
          },
          "active": {
            "type": "integer"
          },
          "review": {
            "type": "integer"
          },
          "current": {
            "type": "integer"
          },
          "translated": {
            "type": "integer"
          },
          "sourceChanged": {
            "type": "integer"
          },
          "needImprovement": {
            "type": "integer"
          }
        }
      },
      "CreateProjectRequest": {
        "type": "object",
        "required": [
          "name"
        ],
        "properties": {
          "name": {
            "type": "string"
          },
          "slug": {
            "type": "string"
          },
          "description": {
            "type": "string"
          },
          "sourceLanguage": {
            "type": "string",
            "default": "en"
          },
          "type": {
            "type": "string",
            "enum": [
              "public",
              "restricted"
            ],
            "default": "restricted"
          },
          "tone": {
            "type": "string",
            "enum": [
              "formal",
              "informal",
              "not_specified"
            ],
            "default": "not_specified"
          },
          "useShareTM": {
            "type": "boolean",
            "default": true
          }
        }
      },
      "File": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string"
          },
          "type": {
            "type": "string"
          },
          "name": {
            "type": "string"
          },
          "path": {
            "type": "string"
          },
          "module": {
            "type": "string"
          },
          "productFlavors": {
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "buildType": {
            "type": "string"
          }
        }
      },
      "FileContentResponse": {
        "type": "object",
        "properties": {
          "keys": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Key"
            }
          },
          "next": {
            "type": "string"
          }
        }
      },
      "Key": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string"
          },
          "key": {
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "value": {
            "description": "String, array, or plural object"
          },
          "vid": {
            "type": "integer"
          },
          "hidden": {
            "type": "boolean"
          },
          "deprecated": {
            "type": "integer"
          },
          "limit": {
            "type": "integer"
          },
          "comment": {
            "type": "string"
          }
        }
      },
      "ImportRequest": {
        "type": "object",
        "properties": {
          "importAsNew": {
            "type": "boolean",
            "default": false
          },
          "forceCurrent": {
            "type": "boolean",
            "default": false
          },
          "filterSource": {
            "type": "boolean",
            "default": true
          },
          "forceSource": {
            "type": "boolean",
            "default": false
          },
          "files": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/ImportFile"
            }
          }
        }
      },
      "ImportFile": {
        "type": "object",
        "required": [
          "name"
        ],
        "properties": {
          "name": {
            "type": "string"
          },
          "path": {
            "type": "string"
          },
          "module": {
            "type": "string"
          },
          "library": {
            "type": "string"
          },
          "buildType": {
            "type": "string"
          },
          "productFlavors": {
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "content": {
            "type": "object",
            "description": "Content keyed by locale code with translations"
          }
        }
      },
      "ImportFormat": {
        "type": "object",
        "properties": {
          "type": {
            "type": "string"
          },
          "name": {
            "type": "string"
          },
          "supportStrings": {
            "type": "boolean"
          },
          "supportPlurals": {
            "type": "boolean"
          },
          "supportArrays": {
            "type": "boolean"
          },
          "supportStructuredKeys": {
            "type": "boolean"
          },
          "plurals": {
            "type": "array",
            "items": {
              "type": "object"
            }
          },
          "arrays": {
            "type": "array",
            "items": {
              "type": "object"
            }
          },
          "keyTransformers": {
            "type": "array",
            "items": {
              "type": "object"
            }
          }
        }
      },
      "UpdateKeyRequest": {
        "type": "object",
        "properties": {
          "deprecated": {
            "type": "integer"
          },
          "hidden": {
            "type": "boolean"
          },
          "comment": {
            "type": "string"
          },
          "limit": {
            "type": "integer"
          }
        }
      },
      "GlossaryTerm": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string"
          },
          "description": {
            "type": "string"
          },
          "translateTerm": {
            "type": "boolean"
          },
          "caseSensitive": {
            "type": "boolean"
          },
          "exactMatch": {
            "type": "boolean"
          },
          "term": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "lang": {
                  "type": "string"
                },
                "term": {
                  "type": "string"
                }
              }
            }
          }
        }
      },
      "GlossaryTermRequest": {
        "type": "object",
        "properties": {
          "description": {
            "type": "string"
          },
          "translateTerm": {
            "type": "boolean"
          },
          "caseSensitive": {
            "type": "boolean"
          },
          "exactMatch": {
            "type": "boolean"
          },
          "term": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "lang": {
                  "type": "string"
                },
                "term": {
                  "type": "string"
                }
              }
            }
          }
        }
      },
      "WebhooksResponse": {
        "type": "object",
        "properties": {
          "items": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Webhook"
            }
          }
        }
      },
      "WebhooksRequest": {
        "type": "object",
        "properties": {
          "items": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Webhook"
            }
          }
        }
      },
      "Webhook": {
        "type": "object",
        "properties": {
          "enabled": {
            "type": "boolean"
          },
          "customId": {
            "type": "string"
          },
          "description": {
            "type": "string"
          },
          "url": {
            "type": "string"
          },
          "events": {
            "type": "array",
            "items": {
              "type": "string",
              "enum": [
                "comment_added",
                "import_finished",
                "import_finished_empty",
                "project_published",
                "tag_promoted"
              ]
            }
          }
        }
      },
      "ErrorResponse": {
        "type": "object",
        "properties": {
          "success": {
            "type": "boolean"
          },
          "code": {
            "type": "integer"
          },
          "error": {
            "type": "string"
          }
        }
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "scheme": "bearer",
        "description": "Localazy project or organization token"
      }
    }
  },
  "security": [
    {
      "bearerAuth": []
    }
  ],
  "tags": [
    {
      "name": "Files"
    },
    {
      "name": "Glossary"
    },
    {
      "name": "Import"
    },
    {
      "name": "Projects"
    },
    {
      "name": "Source Keys"
    },
    {
      "name": "Webhooks"
    }
  ]
}
