{
  "openapi": "3.0.3",
  "info": {
    "title": "VoIPstudio API",
    "version": "1.2.0",
    "description": "REST API for managing VoIP services, call records, and telephony operations with VoIPstudio.",
    "x-jentic-source-url": "https://voipstudio.com/docs/api/introduction/",
    "contact": {
      "name": "API Support"
    }
  },
  "servers": [
    {
      "url": "https://l7api.com/v1.2/voipstudio",
      "description": "Production server"
    }
  ],
  "security": [
    {
      "TokenAuth": []
    }
  ],
  "paths": {
    "/login": {
      "post": {
        "summary": "Authenticate with credentials",
        "description": "Login with email and password to obtain an API token",
        "operationId": "login",
        "security": [],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "email",
                  "password"
                ],
                "properties": {
                  "email": {
                    "type": "string",
                    "format": "email",
                    "description": "User email address"
                  },
                  "password": {
                    "type": "string",
                    "description": "User password"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful authentication",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "user_token": {
                      "type": "string",
                      "description": "API authentication token"
                    }
                  }
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/UnauthorizedError"
          }
        },
        "tags": [
          "login"
        ]
      }
    },
    "/apitokens": {
      "post": {
        "summary": "Create API token",
        "description": "Create a long-lived API token for programmatic access",
        "operationId": "createApiToken",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "name": {
                    "type": "string",
                    "description": "Name for the API token"
                  },
                  "expires_in": {
                    "type": "integer",
                    "description": "Token expiration time in seconds"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "API token created successfully",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "token": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/UnauthorizedError"
          }
        },
        "tags": [
          "apitokens"
        ]
      }
    },
    "/cdrs": {
      "get": {
        "summary": "Get call detail records",
        "description": "Retrieve call detail records (CDRs) with filtering, pagination, and grouping options",
        "operationId": "getCdrs",
        "parameters": [
          {
            "name": "page",
            "in": "query",
            "schema": {
              "type": "integer",
              "default": 1
            },
            "description": "Page number for pagination"
          },
          {
            "name": "limit",
            "in": "query",
            "schema": {
              "type": "integer",
              "maximum": 5000
            },
            "description": "Number of records per page (max 5000)"
          },
          {
            "name": "filter",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "description": "JSON filter array: [{\"property\":\"name\",\"operator\":\"eq\",\"value\":\"value\"}]. Operators: eq, ne, lt, lte, gt, gte, in, like, notlike"
          },
          {
            "name": "group_by",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "description": "Property name to group results by"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "id": {
                            "type": "string"
                          },
                          "call_date": {
                            "type": "string",
                            "format": "date-time"
                          },
                          "duration": {
                            "type": "integer"
                          },
                          "source": {
                            "type": "string"
                          },
                          "destination": {
                            "type": "string"
                          },
                          "cost": {
                            "type": "number"
                          }
                        }
                      }
                    },
                    "total": {
                      "type": "integer"
                    },
                    "links": {
                      "type": "object",
                      "properties": {
                        "next": {
                          "type": "string"
                        },
                        "prev": {
                          "type": "string"
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/UnauthorizedError"
          }
        },
        "tags": [
          "cdrs"
        ]
      }
    }
  },
  "components": {
    "securitySchemes": {
      "TokenAuth": {
        "type": "apiKey",
        "in": "header",
        "name": "X-Auth-Token",
        "description": "API token authentication. Use the user_token obtained from login or API token creation."
      }
    },
    "responses": {
      "UnauthorizedError": {
        "description": "Authentication information is missing or invalid",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/ErrorResponse"
            }
          }
        }
      }
    },
    "schemas": {
      "ErrorResponse": {
        "type": "object",
        "properties": {
          "error": {
            "type": "string",
            "description": "Error message"
          },
          "message": {
            "type": "string",
            "description": "Detailed error description"
          }
        }
      }
    }
  },
  "tags": [
    {
      "name": "apitokens"
    },
    {
      "name": "cdrs"
    },
    {
      "name": "login"
    }
  ]
}
