{
  "openapi": "3.0.3",
  "info": {
    "title": "Heap Server-Side API",
    "version": "1.0.0",
    "description": "Heap's server-side REST API for tracking events, managing user properties, account properties, and user data. Heap automatically captures web and mobile interactions, and this API extends tracking to server-side events.",
    "x-jentic-source-url": "https://developers.heap.io/reference/add-user-properties",
    "contact": {
      "name": "API Support"
    }
  },
  "servers": [
    {
      "url": "https://heapanalytics.com/api"
    }
  ],
  "tags": [
    {
      "name": "Track",
      "description": "Event and pageview tracking"
    },
    {
      "name": "User Properties",
      "description": "User property management"
    },
    {
      "name": "Account Properties",
      "description": "Account-level property management"
    },
    {
      "name": "Users",
      "description": "User management and SCIM"
    }
  ],
  "paths": {
    "/track": {
      "post": {
        "operationId": "trackEvent",
        "summary": "Track a custom event",
        "description": "Send custom events and associated metadata to Heap that are not automatically captured, such as purchase information, email sent, etc.",
        "tags": [
          "Track"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/TrackEventRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Event tracked successfully"
          },
          "400": {
            "description": "Bad request - invalid payload",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized - invalid app ID",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/add_user_properties": {
      "post": {
        "operationId": "addUserProperties",
        "summary": "Add user properties",
        "description": "Attach custom properties to any identified users from your servers, such as Sign Up Date, Total Transactions Completed, or Total Dollars Spent. Creates a new property if it doesn't exist, overwrites if one already exists with the same name.",
        "tags": [
          "User Properties"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/AddUserPropertiesRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Properties added successfully"
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/add_account_properties": {
      "post": {
        "operationId": "addAccountProperties",
        "summary": "Add account properties",
        "description": "Attach custom properties to an account (company/organization) in Heap. Requires the Account Analytics add-on.",
        "tags": [
          "Account Properties"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/AddAccountPropertiesRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Account properties added successfully"
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/v1/bulktrack": {
      "post": {
        "operationId": "bulkTrackEvents",
        "summary": "Bulk track events",
        "description": "Send multiple events in a single API call for efficient server-side tracking.",
        "tags": [
          "Track"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/BulkTrackRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Events tracked successfully"
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/v1/bulkadd_user_properties": {
      "post": {
        "operationId": "bulkAddUserProperties",
        "summary": "Bulk add user properties",
        "description": "Add properties to multiple users in a single API call.",
        "tags": [
          "User Properties"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/BulkAddUserPropertiesRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Properties added successfully"
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/scim/v2/Users": {
      "get": {
        "operationId": "listUsers",
        "summary": "List users (SCIM)",
        "description": "List users in your Heap account via SCIM 2.0 protocol.",
        "tags": [
          "Users"
        ],
        "parameters": [
          {
            "name": "filter",
            "in": "query",
            "required": false,
            "description": "SCIM filter expression",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "startIndex",
            "in": "query",
            "required": false,
            "description": "Pagination start index",
            "schema": {
              "type": "integer",
              "default": 1
            }
          },
          {
            "name": "count",
            "in": "query",
            "required": false,
            "description": "Number of results per page",
            "schema": {
              "type": "integer",
              "default": 100
            }
          }
        ],
        "responses": {
          "200": {
            "description": "User list",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ScimUserListResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      },
      "post": {
        "operationId": "createUser",
        "summary": "Create user (SCIM)",
        "description": "Create a new user in your Heap account via SCIM 2.0.",
        "tags": [
          "Users"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ScimCreateUserRequest"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "User created",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ScimUser"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/scim/v2/Users/{userId}": {
      "get": {
        "operationId": "getUser",
        "summary": "Get user (SCIM)",
        "description": "Retrieve a specific user by ID via SCIM 2.0.",
        "tags": [
          "Users"
        ],
        "parameters": [
          {
            "name": "userId",
            "in": "path",
            "required": true,
            "description": "User ID",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "User details",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ScimUser"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "404": {
            "description": "User not found"
          }
        }
      },
      "put": {
        "operationId": "updateUser",
        "summary": "Update user (SCIM)",
        "description": "Update an existing user via SCIM 2.0.",
        "tags": [
          "Users"
        ],
        "parameters": [
          {
            "name": "userId",
            "in": "path",
            "required": true,
            "description": "User ID",
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ScimCreateUserRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "User updated",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ScimUser"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      },
      "delete": {
        "operationId": "deleteUser",
        "summary": "Delete user (SCIM)",
        "description": "Delete a user from your Heap account via SCIM 2.0.",
        "tags": [
          "Users"
        ],
        "parameters": [
          {
            "name": "userId",
            "in": "path",
            "required": true,
            "description": "User ID",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "User deleted"
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    }
  },
  "components": {
    "schemas": {
      "TrackEventRequest": {
        "type": "object",
        "required": [
          "app_id",
          "identity",
          "event"
        ],
        "properties": {
          "app_id": {
            "type": "string",
            "description": "Your Heap app ID"
          },
          "identity": {
            "type": "string",
            "description": "User identity string"
          },
          "event": {
            "type": "string",
            "description": "Name of the custom event"
          },
          "timestamp": {
            "type": "string",
            "format": "date-time",
            "description": "ISO 8601 timestamp (defaults to current time)"
          },
          "properties": {
            "type": "object",
            "additionalProperties": true,
            "description": "Key-value pairs of event properties"
          }
        }
      },
      "AddUserPropertiesRequest": {
        "type": "object",
        "required": [
          "app_id",
          "identity",
          "properties"
        ],
        "properties": {
          "app_id": {
            "type": "string",
            "description": "Your Heap app ID"
          },
          "identity": {
            "type": "string",
            "description": "User identity string"
          },
          "properties": {
            "type": "object",
            "additionalProperties": true,
            "description": "Key-value pairs of user properties to set"
          }
        }
      },
      "AddAccountPropertiesRequest": {
        "type": "object",
        "required": [
          "app_id",
          "account_id",
          "properties"
        ],
        "properties": {
          "app_id": {
            "type": "string",
            "description": "Your Heap app ID"
          },
          "account_id": {
            "type": "string",
            "description": "Account identifier"
          },
          "properties": {
            "type": "object",
            "additionalProperties": true,
            "description": "Key-value pairs of account properties to set"
          }
        }
      },
      "BulkTrackRequest": {
        "type": "object",
        "required": [
          "app_id",
          "events"
        ],
        "properties": {
          "app_id": {
            "type": "string"
          },
          "events": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "identity": {
                  "type": "string"
                },
                "event": {
                  "type": "string"
                },
                "timestamp": {
                  "type": "string",
                  "format": "date-time"
                },
                "properties": {
                  "type": "object",
                  "additionalProperties": true
                }
              }
            }
          }
        }
      },
      "BulkAddUserPropertiesRequest": {
        "type": "object",
        "required": [
          "app_id",
          "users"
        ],
        "properties": {
          "app_id": {
            "type": "string"
          },
          "users": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "identity": {
                  "type": "string"
                },
                "properties": {
                  "type": "object",
                  "additionalProperties": true
                }
              }
            }
          }
        }
      },
      "ScimUserListResponse": {
        "type": "object",
        "properties": {
          "schemas": {
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "totalResults": {
            "type": "integer"
          },
          "startIndex": {
            "type": "integer"
          },
          "itemsPerPage": {
            "type": "integer"
          },
          "Resources": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/ScimUser"
            }
          }
        }
      },
      "ScimCreateUserRequest": {
        "type": "object",
        "properties": {
          "schemas": {
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "userName": {
            "type": "string"
          },
          "name": {
            "type": "object",
            "properties": {
              "givenName": {
                "type": "string"
              },
              "familyName": {
                "type": "string"
              }
            }
          },
          "emails": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "value": {
                  "type": "string"
                },
                "primary": {
                  "type": "boolean"
                }
              }
            }
          },
          "active": {
            "type": "boolean"
          }
        }
      },
      "ScimUser": {
        "type": "object",
        "properties": {
          "schemas": {
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "id": {
            "type": "string"
          },
          "userName": {
            "type": "string"
          },
          "name": {
            "type": "object",
            "properties": {
              "givenName": {
                "type": "string"
              },
              "familyName": {
                "type": "string"
              }
            }
          },
          "emails": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "value": {
                  "type": "string"
                },
                "primary": {
                  "type": "boolean"
                }
              }
            }
          },
          "active": {
            "type": "boolean"
          },
          "meta": {
            "type": "object",
            "properties": {
              "resourceType": {
                "type": "string"
              },
              "created": {
                "type": "string",
                "format": "date-time"
              },
              "lastModified": {
                "type": "string",
                "format": "date-time"
              }
            }
          }
        }
      },
      "ErrorResponse": {
        "type": "object",
        "properties": {
          "error": {
            "type": "string"
          },
          "message": {
            "type": "string"
          }
        }
      }
    },
    "securitySchemes": {
      "AppId": {
        "type": "apiKey",
        "in": "header",
        "name": "app_id",
        "description": "Heap App ID passed in the request body or as app_id field"
      }
    }
  },
  "security": [
    {
      "AppId": []
    }
  ]
}
