{
  "openapi": "3.0.3",
  "info": {
    "title": "Apollo.Io API",
    "version": "1.0.0",
    "description": "API for apollo.io platform"
  },
  "servers": [
    {
      "url": "https://api.apollo.io/api/v1"
    }
  ],
  "paths": {
    "/people/match": {
      "post": {
        "operationId": "enrichPerson",
        "summary": "People Enrichment",
        "description": "Use the People Enrichment endpoint to enrich data for 1 person. Apollo relies on the information you pass via the endpoint's parameters to identify the correct person to enrich. If you provide more information about a person, Apollo is more likely to find a match within its database. By default, this endpoint does not return personal emails or phone numbers. Use the reveal_personal_emails and reveal_phone_number parameters to retrieve emails and phone numbers. Calling this endpoint does consume credits as part of your Apollo pricing plan. This feature is not accessible to Apollo users on free plans.",
        "tags": [
          "Enrichment"
        ],
        "parameters": [
          {
            "name": "first_name",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "The first name of the person. This is typically used in combination with the last_name parameter.",
            "example": "tim"
          },
          {
            "name": "last_name",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "The last name of the person. This is typically used in combination with the first_name parameter.",
            "example": "zheng"
          },
          {
            "name": "name",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "The full name of the person. This will typically be a first name and last name separated by a space. If you use this parameter, you do not need to use the first_name and last_name parameters.",
            "example": "tim zheng"
          },
          {
            "name": "email",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "format": "email"
            },
            "description": "The email address of the person.",
            "example": "example@email.com"
          },
          {
            "name": "hashed_email",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "The hashed email of the person. The email should adhere to either the MD5 or SHA-256 hash format.",
            "example": "8d935115b9ff4489f2d1f9249503cadf"
          },
          {
            "name": "organization_name",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Name of the organization where the person works."
          },
          {
            "name": "domain",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Domain of the organization where the person works."
          },
          {
            "name": "id",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "The Apollo ID for the person. Each person in the Apollo database is assigned a unique ID. To find IDs, call the People Search endpoint and identify the values for person_id.",
            "example": "587cf802f65125cad923a266"
          },
          {
            "name": "linkedin_url",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "format": "uri"
            },
            "description": "The URL for the person's LinkedIn profile.",
            "example": "http://www.linkedin.com/in/tim-zheng-677ba010"
          },
          {
            "name": "reveal_personal_emails",
            "in": "query",
            "required": false,
            "schema": {
              "type": "boolean",
              "default": false
            },
            "description": "Include personal email addresses in the response. By default, this endpoint does not return personal emails."
          },
          {
            "name": "reveal_phone_number",
            "in": "query",
            "required": false,
            "schema": {
              "type": "boolean",
              "default": false
            },
            "description": "Include phone numbers in the response. By default, this endpoint does not return phone numbers. When set to true, a webhook_url parameter is required for phone number delivery."
          },
          {
            "name": "webhook_url",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "format": "uri"
            },
            "description": "Webhook URL where Apollo will deliver the phone number data. Required when reveal_phone_number is set to true. The webhook delivery occurs separately, usually several minutes after a successful API request."
          }
        ],
        "responses": {
          "200": {
            "description": "Successfully enriched person data",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PersonEnrichmentResponse"
                }
              }
            }
          }
        }
      }
    },
    "/people/bulk_match": {
      "post": {
        "operationId": "enrichPeopleBulk",
        "summary": "Bulk People Enrichment",
        "description": "Enrich data for up to 10 people with a single API call",
        "tags": [
          "Enrichment"
        ],
        "parameters": [
          {
            "name": "reveal_personal_emails",
            "in": "query",
            "required": false,
            "schema": {
              "type": "boolean",
              "default": false
            },
            "description": "Set to true if you want to enrich all matched people with personal emails. This potentially consumes credits as part of your Apollo pricing plan. If a person resides in a GDPR-compliant region, Apollo will not reveal their personal email."
          },
          {
            "name": "reveal_phone_number",
            "in": "query",
            "required": false,
            "schema": {
              "type": "boolean",
              "default": false
            },
            "description": "Set to true if you want to enrich the data of all matched people with all available phone numbers, including mobile phone numbers. This potentially consumes credits as part of your Apollo pricing plan. If this parameter is set to true, you must enter a webhook URL for the webhook_url parameter."
          },
          {
            "name": "webhook_url",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "format": "uri"
            },
            "description": "Required when reveal_phone_number is true. Apollo will asynchronously verify phone numbers and send a JSON response with phone number details to this webhook URL. It can take several minutes for the phone numbers to be delivered."
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "details": {
                    "type": "array",
                    "items": {
                      "type": "object",
                      "properties": {
                        "first_name": {
                          "type": "string",
                          "description": "The first name of the person. This is typically used in combination with the last_name parameter.",
                          "example": "tim"
                        },
                        "last_name": {
                          "type": "string",
                          "description": "The last name of the person. This is typically used in combination with the first_name parameter.",
                          "example": "zheng"
                        },
                        "name": {
                          "type": "string",
                          "description": "The full name of the person. This will typically be a first name and last name separated by a space. If you use this parameter, you do not need to use the first_name and last_name parameters.",
                          "example": "tim zheng"
                        },
                        "email": {
                          "type": "string",
                          "format": "email",
                          "description": "The email address of the person.",
                          "example": "example@email.com"
                        },
                        "hashed_email": {
                          "type": "string",
                          "description": "The hashed email of the person. The email should adhere to either the MD5 or SHA-256 hash format.",
                          "example": "8d935115b9ff4489f2d1f9249503cadf"
                        },
                        "organization_name": {
                          "type": "string",
                          "description": "The name of the person's employer. This can be the current employer or a previous employer.",
                          "example": "apollo"
                        },
                        "domain": {
                          "type": "string",
                          "description": "The domain name for the person's employer. This can be the current employer or a previous employer. Do not include www., the @ symbol, or similar.",
                          "example": "apollo.io"
                        },
                        "id": {
                          "type": "string",
                          "description": "The Apollo ID for the person. Each person in the Apollo database is assigned a unique ID. To find IDs, call the People Search endpoint and identify the values for person_id.",
                          "example": "587cf802f65125cad923a266"
                        },
                        "linkedin_url": {
                          "type": "string",
                          "format": "uri",
                          "description": "LinkedIn profile URL of the person"
                        }
                      }
                    },
                    "maxItems": 10,
                    "description": "Array of person details to enrich (up to 10 people). Each object should contain identifying information like name, email, organization, or LinkedIn URL."
                  }
                },
                "required": ["details"]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successfully enriched bulk person data",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": {
                      "type": "string",
                      "example": "success"
                    },
                    "error_code": {
                      "type": "string",
                      "nullable": true
                    },
                    "error_message": {
                      "type": "string",
                      "nullable": true
                    },
                    "total_requested_enrichments": {
                      "type": "integer",
                      "description": "Total number of enrichments requested"
                    },
                    "unique_enriched_records": {
                      "type": "integer",
                      "description": "Number of unique records successfully enriched"
                    },
                    "missing_records": {
                      "type": "integer",
                      "description": "Number of records that could not be found"
                    },
                    "credits_consumed": {
                      "type": "integer",
                      "description": "Number of credits consumed for this request"
                    },
                    "matches": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/PersonEnrichmentResponse"
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/organizations/enrich": {
      "get": {
        "operationId": "enrichOrganization",
        "summary": "Enrich data for a single organization",
        "description": "Use this endpoint to enrich data for 1 company. Enriched data potentially includes industry information, revenue, employee counts, funding round details, and corporate phone numbers and locations.",
        "tags": [
          "Enrichment"
        ],
        "parameters": [
          {
            "name": "domain",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "The domain name of the organization to enrich (e.g., apollo.io, microsoft.com). Do not include www., http://, or similar prefixes.",
            "example": "apollo.io"
          }
        ],
        "responses": {
          "200": {
            "description": "Organization enrichment data",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/OrganizationEnrichment"
                }
              }
            }
          }
        }
      }
    },
    "/organizations/bulk_enrich": {
      "post": {
        "operationId": "bulkEnrichOrganizations",
        "summary": "Enrich data for multiple organizations",
        "description": "Enrich data for up to 10 companies with a single API call using domain names",
        "tags": [
          "Enrichment"
        ],
        "parameters": [
          {
            "name": "domains[]",
            "in": "query",
            "required": true,
            "schema": {
              "type": "array",
              "items": {
                "type": "string"
              },
              "maxItems": 10,
              "minItems": 1
            },
            "style": "form",
            "explode": true,
            "description": "The domain of each company that you want to enrich. Do not include www., the @ symbol, or similar.",
            "example": ["apollo.io", "microsoft.com"]
          }
        ],
        "responses": {
          "200": {
            "description": "Bulk organization enrichment results",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BulkOrganizationEnrichmentResponse"
                }
              }
            }
          }
        }
      }
    },
    "/mixed_people/search": {
      "post": {
        "operationId": "searchPeople",
        "summary": "Search for people",
        "description": "Search for people in the Apollo database with various filters. Consumes credits and limited to 50,000 records (100 per page, up to 500 pages). Not accessible to free plan users.",
        "tags": [
          "Search"
        ],
        "parameters": [
          {
            "name": "person_titles[]",
            "in": "query",
            "schema": {
              "type": "array",
              "items": {
                "type": "string"
              }
            },
            "style": "form",
            "explode": true,
            "description": "Job titles held by the people you want to find. For a person to be included in search results, they only need to match 1 of the job titles you add. Adding more job titles expands your search results. Results also include job titles with the same terms, even if they are not exact matches. Use in combination with person_seniorities[] parameter to find people based on specific job functions and seniority levels.",
            "example": ["sales development representative", "marketing manager", "research analyst"]
          },
          {
            "name": "include_similar_titles",
            "in": "query",
            "schema": {
              "type": "boolean"
            },
            "description": "Determines whether people with job titles similar to the titles you define in the person_titles[] parameter are returned in the response. Set to false when using person_titles[] to return only strict matches for job titles."
          },
          {
            "name": "q_keywords",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "description": "A string of words over which we want to filter the results"
          },
          {
            "name": "person_locations[]",
            "in": "query",
            "schema": {
              "type": "array",
              "items": {
                "type": "string"
              }
            },
            "style": "form",
            "explode": true,
            "description": "The location where people live. You can search across cities, US states, and countries. To find people based on the headquarters locations of their current employer, use the organization_locations parameter.",
            "example": ["california", "ireland", "chicago"]
          },
          {
            "name": "person_seniorities[]",
            "in": "query",
            "schema": {
              "type": "array",
              "items": {
                "type": "string",
                "enum": ["owner", "founder", "c_suite", "partner", "vp", "head", "director", "manager", "senior", "entry", "intern"]
              }
            },
            "style": "form",
            "explode": true,
            "description": "The job seniority that people hold within their current employer. For a person to be included in search results, they only need to match 1 of the seniorities you add. Adding more seniorities expands your search results. Searches only return results based on their current job title. Use this parameter in combination with the person_titles[] parameter to find people based on specific job functions and seniority levels."
          },
          {
            "name": "organization_locations[]",
            "in": "query",
            "schema": {
              "type": "array",
              "items": {
                "type": "string"
              }
            },
            "style": "form",
            "explode": true,
            "description": "The location of the company headquarters for a person's current employer. You can search across cities, US states, and countries. If a company has several office locations, results are still based on the headquarters location. To find people based on their personal location, use the person_locations parameter.",
            "example": ["texas", "tokyo", "spain"]
          },
          {
            "name": "q_organization_domains_list[]",
            "in": "query",
            "schema": {
              "type": "array",
              "items": {
                "type": "string"
              },
              "maxItems": 1000
            },
            "style": "form",
            "explode": true,
            "description": "The domain name for the person's employer. This can be the current employer or a previous employer. Do not include www., the @ symbol, or similar. This parameter accepts up to 1,000 domains in a single request.",
            "example": ["apollo.io", "microsoft.com"]
          },
          {
            "name": "contact_email_status[]",
            "in": "query",
            "schema": {
              "type": "array",
              "items": {
                "type": "string",
                "enum": ["verified", "unverified", "likely to engage", "unavailable"]
              }
            },
            "style": "form",
            "explode": true,
            "description": "The email statuses for the people you want to find. You can add multiple statuses to expand your search."
          },
          {
            "name": "organization_ids[]",
            "in": "query",
            "schema": {
              "type": "array",
              "items": {
                "type": "string"
              }
            },
            "style": "form",
            "explode": true,
            "description": "The Apollo IDs for the companies (employers) you want to include in your search results. Each company in the Apollo database is assigned a unique ID. To find IDs, call the Organization Search endpoint and identify the values for organization_id.",
            "example": ["5e66b6381e05b4008c8331b8"]
          },
          {
            "name": "organization_num_employees_ranges[]",
            "in": "query",
            "schema": {
              "type": "array",
              "items": {
                "type": "string"
              }
            },
            "style": "form",
            "explode": true,
            "description": "The number range of employees working for the person's current company. This enables you to find people based on the headcount of their employer. You can add multiple ranges to expand your search results. Each range you add needs to be a string, with the upper and lower numbers of the range separated only by a comma.",
            "example": ["1,10", "250,500", "10000,20000"]
          },
          {
            "name": "revenue_range[min]",
            "in": "query",
            "schema": {
              "type": "integer"
            },
            "description": "The minimum revenue the person's current employer generates. Use this parameter in combination with revenue_range[max] to set a revenue range. Do not enter currency symbols, commas, or decimal points in the figure.",
            "example": 500000
          },
          {
            "name": "revenue_range[max]",
            "in": "query",
            "schema": {
              "type": "integer"
            },
            "description": "The maximum revenue the person's current employer generates. Use this parameter in combination with revenue_range[min] to set a revenue range. Do not enter currency symbols, commas, or decimal points in the figure.",
            "example": 1500000
          },
          {
            "name": "currently_using_all_of_technology_uids[]",
            "in": "query",
            "schema": {
              "type": "array",
              "items": {
                "type": "string"
              }
            },
            "style": "form",
            "explode": true,
            "description": "Find people based on all of the technologies their current employer uses. Apollo supports filtering by 1,500+ technologies. Use underscores (_) to replace spaces and periods for the technologies listed in the CSV file.",
            "example": ["salesforce", "google_analytics", "wordpress_org"]
          },
          {
            "name": "currently_using_any_of_technology_uids[]",
            "in": "query",
            "schema": {
              "type": "array",
              "items": {
                "type": "string"
              }
            },
            "style": "form",
            "explode": true,
            "description": "Find people based on any of the technologies their current employer uses. Apollo supports filtering by 1,500+ technologies. Use underscores (_) to replace spaces and periods for the technologies listed in the CSV file.",
            "example": ["salesforce", "google_analytics", "wordpress_org"]
          },
          {
            "name": "currently_not_using_any_of_technology_uids[]",
            "in": "query",
            "schema": {
              "type": "array",
              "items": {
                "type": "string"
              }
            },
            "style": "form",
            "explode": true,
            "description": "Exclude people from your search based on any of the technologies their current employer uses. Apollo supports filtering by 1,500+ technologies. Use underscores (_) to replace spaces and periods for the technologies listed in the CSV file.",
            "example": ["salesforce", "google_analytics", "wordpress_org"]
          },
          {
            "name": "q_organization_job_titles[]",
            "in": "query",
            "schema": {
              "type": "array",
              "items": {
                "type": "string"
              }
            },
            "style": "form",
            "explode": true,
            "description": "The job titles that are listed in active job postings at the person's current employer.",
            "example": ["sales manager", "research analyst"]
          },
          {
            "name": "organization_job_locations[]",
            "in": "query",
            "schema": {
              "type": "array",
              "items": {
                "type": "string"
              }
            },
            "style": "form",
            "explode": true,
            "description": "The locations of the jobs being actively recruited by the person's employer.",
            "example": ["atlanta", "japan"]
          },
          {
            "name": "organization_num_jobs_range[min]",
            "in": "query",
            "schema": {
              "type": "integer"
            },
            "description": "The minimum number of job postings active at the person's current employer. Use this parameter in combination with organization_num_jobs_range[max] to set a job postings range.",
            "example": 50
          },
          {
            "name": "organization_num_jobs_range[max]",
            "in": "query",
            "schema": {
              "type": "integer"
            },
            "description": "The maximum number of job postings active at the person's current employer. Use this parameter in combination with organization_num_jobs_range[min] to set a job postings range.",
            "example": 500
          },
          {
            "name": "organization_job_posted_at_range[min]",
            "in": "query",
            "schema": {
              "type": "string",
              "format": "date"
            },
            "description": "The earliest date when jobs were posted by the person's current employer. Use this parameter in combination with organization_job_posted_at_range[max] to set a date range for when jobs posted.",
            "example": "2025-07-25"
          },
          {
            "name": "organization_job_posted_at_range[max]",
            "in": "query",
            "schema": {
              "type": "string",
              "format": "date"
            },
            "description": "The latest date when jobs were posted by the person's current employer. Use this parameter in combination with organization_job_posted_at_range[min] to set a date range for when jobs posted.",
            "example": "2025-09-25"
          },
          {
            "name": "organization_industries[]",
            "in": "query",
            "schema": {
              "type": "array",
              "items": {
                "type": "string"
              }
            },
            "style": "form",
            "explode": true,
            "description": "Industries to filter organizations by"
          },
          {
            "name": "organization_keywords[]",
            "in": "query",
            "schema": {
              "type": "array",
              "items": {
                "type": "string"
              }
            },
            "style": "form",
            "explode": true,
            "description": "Keywords related to organizations"
          },
          {
            "name": "prospected_by_current_team[]",
            "in": "query",
            "schema": {
              "type": "array",
              "items": {
                "type": "string",
                "enum": ["yes", "no"]
              }
            },
            "style": "form",
            "explode": true,
            "description": "Filter by whether person was prospected by current team"
          },
          {
            "name": "stages[]",
            "in": "query",
            "schema": {
              "type": "array",
              "items": {
                "type": "string"
              }
            },
            "style": "form",
            "explode": true,
            "description": "Sales stages to filter by"
          },
          {
            "name": "account_stages[]",
            "in": "query",
            "schema": {
              "type": "array",
              "items": {
                "type": "string"
              }
            },
            "style": "form",
            "explode": true,
            "description": "Account stages to filter by"
          },
          {
            "name": "departments[]",
            "in": "query",
            "schema": {
              "type": "array",
              "items": {
                "type": "string"
              }
            },
            "style": "form",
            "explode": true,
            "description": "Departments to filter by"
          },
          {
            "name": "subdepartments[]",
            "in": "query",
            "schema": {
              "type": "array",
              "items": {
                "type": "string"
              }
            },
            "style": "form",
            "explode": true,
            "description": "Subdepartments to filter by"
          },
          {
            "name": "functions[]",
            "in": "query",
            "schema": {
              "type": "array",
              "items": {
                "type": "string"
              }
            },
            "style": "form",
            "explode": true,
            "description": "Job functions to filter by"
          },
          {
            "name": "page",
            "in": "query",
            "schema": {
              "type": "integer",
              "format": "int32",
              "minimum": 1,
              "maximum": 500,
              "default": 1
            },
            "description": "The page number of the Apollo data that you want to retrieve. Use this parameter in combination with the per_page parameter to make search results for navigable and improve the performance of the endpoint.",
            "example": 4
          },
          {
            "name": "per_page",
            "in": "query",
            "schema": {
              "type": "integer",
              "format": "int32",
              "minimum": 1,
              "maximum": 100,
              "default": 100
            },
            "description": "The number of search results that should be returned for each page. Limiting the number of results per page improves the endpoint's performance. Use the page parameter to search the different pages of data.",
            "example": 10
          }
        ],
        "responses": {
          "200": {
            "description": "People search results",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PeopleSearchResponse"
                }
              }
            }
          }
        }
      }
    },
    "/mixed_companies/search": {
      "post": {
        "operationId": "searchOrganizations",
        "summary": "Organization Search",
        "description": "Find companies in the Apollo database using various filters. This endpoint consumes credits and requires a paid Apollo plan. Limited to 50,000 records (100 per page, up to 500 pages).",
        "tags": [
          "Search"
        ],
        "parameters": [
          {
            "name": "organization_num_employees_ranges[]",
            "in": "query",
            "schema": {
              "type": "array",
              "items": {
                "type": "string"
              }
            },
            "description": "The number range of employees working for the company. This enables you to find companies based on headcount. You can add multiple ranges to expand your search results. Each range you add needs to be a string, with the upper and lower numbers of the range separated only by a comma. Examples: 1,10; 250,500; 10000,20000"
          },
          {
            "name": "organization_locations[]",
            "in": "query",
            "schema": {
              "type": "array",
              "items": {
                "type": "string"
              }
            },
            "description": "The location of the company headquarters. You can search across cities, US states, and countries. If a company has several office locations, results are still based on the headquarters location. For example, if you search chicago but a company's HQ location is in boston, any Boston-based companies will not appear in your search results, even if they match other parameters. To exclude companies based on location, use the organization_not_locations parameter. Examples: texas; tokyo; spain"
          },
          {
            "name": "organization_not_locations[]",
            "in": "query",
            "schema": {
              "type": "array",
              "items": {
                "type": "string"
              }
            },
            "description": "Exclude companies from search results based on the location of the company headquarters. You can use cities, US states, and countries as locations to exclude. This parameter is useful for ensuring you do not prospect in an undesirable territory. For example, if you use ireland as a value, no Ireland-based companies will appear in your search results. Examples: minnesota; ireland; seoul"
          },
          {
            "name": "revenue_range[min]",
            "in": "query",
            "schema": {
              "type": "integer"
            },
            "description": "Search for organizations based on their revenue. Use this parameter to set the lower range of organization revenue. Use the revenue_range[max] parameter to set the upper range of revenue. Do not enter currency symbols, commas, or decimal points in the figure. Example: 300000"
          },
          {
            "name": "revenue_range[max]",
            "in": "query",
            "schema": {
              "type": "integer"
            },
            "description": "Search for organizations based on their revenue. Use this parameter to set the upper range of organization revenue. Use the revenue_range[min] parameter to set the lower range of revenue. Do not enter currency symbols, commas, or decimal points in the figure. Example: 50000000"
          },
          {
            "name": "currently_using_any_of_technology_uids[]",
            "in": "query",
            "schema": {
              "type": "array",
              "items": {
                "type": "string"
              }
            },
            "description": "Find organizations based on the technologies they currently use. Apollo supports filtering by 1,500+ technologies. Apollo calculates technologies data from multiple sources. This data is updated regularly. Check out the full list of supported technologies by downloading this CSV file. Use underscores (_) to replace spaces and periods for the technologies listed in the CSV file. Examples: salesforce; google_analytics; wordpress_org"
          },
          {
            "name": "q_organization_keyword_tags[]",
            "in": "query",
            "schema": {
              "type": "array",
              "items": {
                "type": "string"
              }
            },
            "description": "Filter search results based on keywords associated with companies. For example, you can enter mining as a value to return only companies that have an association with the mining industry. Examples: mining; sales strategy; consulting"
          },
          {
            "name": "q_organization_name",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "description": "Filter search results to include a specific company name. If the value you enter for this parameter does not match with a company's name, the company will not appear in search results, even if it matches other parameters. Partial matches are accepted. For example, if you filter by the value marketing, a company called NY Marketing Unlimited would still be eligible as a search result, but NY Market Analysis would not be eligible. Example: apollo or mining"
          },
          {
            "name": "organization_ids[]",
            "in": "query",
            "schema": {
              "type": "array",
              "items": {
                "type": "string"
              }
            },
            "description": "The Apollo IDs for the companies you want to include in your search results. Each company in the Apollo database is assigned a unique ID. To find IDs, identify the values for organization_id when you call this endpoint. Example: 5e66b6381e05b4008c8331b8"
          },
          {
            "name": "latest_funding_amount_range[min]",
            "in": "query",
            "schema": {
              "type": "integer"
            },
            "description": "The minimum amount the company received with its most recent funding round. Use this parameter in combination with latest_funding_amount_range[max] to set a monetary range for the company's most recent funding round. Do not enter currency symbols, commas, or decimal points in the figure. Examples: 5000000; 15000000"
          },
          {
            "name": "latest_funding_amount_range[max]",
            "in": "query",
            "schema": {
              "type": "integer"
            },
            "description": "The maximum amount the company received with its most recent funding round. Use this parameter in combination with latest_funding_amount_range[min] to set a monetary range for the company's most recent funding round. Do not enter currency symbols, commas, or decimal points in the figure. Examples: 5000000; 15000000"
          },
          {
            "name": "total_funding_range[min]",
            "in": "query",
            "schema": {
              "type": "integer"
            },
            "description": "The minimum amount the company received during all of its funding rounds combined. Use this parameter in combination with total_funding_range[max] to set a monetary range for all of the company's funding rounds. Do not enter currency symbols, commas, or decimal points in the figure. Examples: 50000000; 350000000"
          },
          {
            "name": "total_funding_range[max]",
            "in": "query",
            "schema": {
              "type": "integer"
            },
            "description": "The maximum amount the company received during all of its funding rounds combined. Use this parameter in combination with total_funding_range[min] to set a monetary range for all of the company's funding rounds. Do not enter currency symbols, commas, or decimal points in the figure. Examples: 50000000; 350000000"
          },
          {
            "name": "latest_funding_date_range[min]",
            "in": "query",
            "schema": {
              "type": "string",
              "format": "date"
            },
            "description": "The earliest date when the company received its most recent funding round. Use this parameter in combination with latest_funding_date_range[max] to set a date range for when the company received its most recent funding round. Example: 2025-07-25"
          },
          {
            "name": "latest_funding_date_range[max]",
            "in": "query",
            "schema": {
              "type": "string",
              "format": "date"
            },
            "description": "The latest date when the company received its most recent funding round. Use this parameter in combination with latest_funding_date_range[min] to set a date range for when the company received its most recent funding round. Example: 2025-09-25"
          },
          {
            "name": "q_organization_job_titles[]",
            "in": "query",
            "schema": {
              "type": "array",
              "items": {
                "type": "string"
              }
            },
            "description": "The job titles that are listed in active job postings at the company. Examples: sales manager; research analyst"
          },
          {
            "name": "organization_job_locations[]",
            "in": "query",
            "schema": {
              "type": "array",
              "items": {
                "type": "string"
              }
            },
            "description": "The locations of the jobs being actively recruited by the company. Examples: atlanta; japan"
          },
          {
            "name": "organization_num_jobs_range[min]",
            "in": "query",
            "schema": {
              "type": "integer"
            },
            "description": "The minimum number of job postings active at the company. Use this parameter in combination with organization_num_jobs_range[max] to set a job postings range. Examples: 50; 500"
          },
          {
            "name": "organization_num_jobs_range[max]",
            "in": "query",
            "schema": {
              "type": "integer"
            },
            "description": "The maximum number of job postings active at the company. Use this parameter in combination with organization_num_jobs_range[min] to set a job postings range. Examples: 50; 500"
          },
          {
            "name": "organization_job_posted_at_range[min]",
            "in": "query",
            "schema": {
              "type": "string",
              "format": "date"
            },
            "description": "The earliest date when jobs were posted by the company. Use this parameter in combination with organization_job_posted_at_range[max] to set a date range for when jobs posted. Example: 2025-07-25"
          },
          {
            "name": "organization_job_posted_at_range[max]",
            "in": "query",
            "schema": {
              "type": "string",
              "format": "date"
            },
            "description": "The latest date when jobs were posted by the company. Use this parameter in combination with organization_job_posted_at_range[min] to set a date range for when jobs posted. Example: 2025-09-25"
          },
          {
            "name": "q_organization_domains",
            "in": "query",
            "schema": {
              "type": "array",
              "items": {
                "type": "string"
              }
            },
            "description": "The domain names of organizations to search for"
          },
          {
            "name": "organization_industry_tag_ids",
            "in": "query",
            "schema": {
              "type": "array",
              "items": {
                "type": "string"
              }
            },
            "description": "Industry tag IDs to filter organizations by industry"
          },
          {
            "name": "organization_founded_year_ranges",
            "in": "query",
            "schema": {
              "type": "array",
              "items": {
                "type": "string"
              }
            },
            "description": "Founded year ranges for organizations"
          },
          {
            "name": "organization_keywords",
            "in": "query",
            "schema": {
              "type": "array",
              "items": {
                "type": "string"
              }
            },
            "description": "Keywords to search in organization descriptions"
          },
          {
            "name": "organization_technology_names",
            "in": "query",
            "schema": {
              "type": "array",
              "items": {
                "type": "string"
              }
            },
            "description": "Technology names used by organizations"
          },
          {
            "name": "organization_publicly_traded_status",
            "in": "query",
            "schema": {
              "type": "array",
              "items": {
                "type": "string",
                "enum": ["public", "private"]
              }
            },
            "description": "Public/private status of organizations"
          },
          {
            "name": "page",
            "in": "query",
            "schema": {
              "type": "integer",
              "format": "int32",
              "default": 1,
              "minimum": 1,
              "maximum": 500
            },
            "description": "The page number of the Apollo data that you want to retrieve. Use this parameter in combination with the per_page parameter to make search results for navigable and improve the performance of the endpoint. Example: 4"
          },
          {
            "name": "per_page",
            "in": "query",
            "schema": {
              "type": "integer",
              "format": "int32",
              "default": 25,
              "minimum": 1,
              "maximum": 100
            },
            "description": "The number of search results that should be returned for each page. Limiting the number of results per page improves the endpoint's performance. Use the page parameter to search the different pages of data. Example: 10"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful organization search results",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/OrganizationSearchResponse"
                }
              }
            }
          }
        }
      }
    },
    "/organizations/{organization_id}/job_postings": {
      "get": {
        "operationId": "getOrganizationJobPostings",
        "summary": "Get organization job postings",
        "description": "Retrieve current job postings for a specific organization. Limited to 10,000 records.",
        "tags": [
          "Search"
        ],
        "parameters": [
          {
            "name": "organization_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "example": "5e66b6381e05b4008c8331b8"
            },
            "description": "The organization ID of the company for which you want to find job postings. Each company in the Apollo database is assigned a unique ID. To find IDs, call the Organization Search endpoint and identify the values for organization_id."
          },
          {
            "name": "page",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "format": "int32",
              "example": 4
            },
            "description": "The page number of the Apollo data that you want to retrieve. Use this parameter in combination with the per_page parameter to make search results for navigable and improve the performance of the endpoint."
          },
          {
            "name": "per_page",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "format": "int32",
              "example": 10
            },
            "description": "The number of search results that should be returned for each page. Limiting the number of results per page improves the endpoint's performance. Use the page parameter to search the different pages of data."
          }
        ],
        "responses": {
          "200": {
            "description": "Organization job postings",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/JobPostingsResponse"
                }
              }
            }
          }
        }
      }
    },
    "/organizations/{id}": {
      "get": {
        "operationId": "getOrganizationInfo",
        "summary": "Get Complete Organization Info",
        "description": "Retrieve complete details about an organization in the Apollo database",
        "tags": [
          "Search"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "example": "5e66b6381e05b4008c8331b8"
            },
            "description": "The Apollo ID for the organization that you want to research. To find organization IDs, call the Organization Search endpoint and identify the organizaton_id value for the organization."
          }
        ],
        "responses": {
          "200": {
            "description": "Organization details retrieved successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Organization"
                }
              }
            }
          },
          "403": {
            "description": "Unauthorized - Master API key required"
          }
        }
      }
    },
    "/news_articles/search": {
      "post": {
        "operationId": "searchNewsArticles",
        "summary": "Search news articles",
        "description": "Find news articles related to companies in the Apollo database. Several filters are available to help narrow your search. This endpoint consumes credits as part of your Apollo pricing plan and is not accessible to Apollo users on free plans.",
        "tags": [
          "Search"
        ],
        "parameters": [
          {
            "name": "organization_ids[]",
            "in": "query",
            "required": true,
            "schema": {
              "type": "array",
              "items": {
                "type": "string"
              }
            },
            "description": "The Apollo IDs for the companies you want to include in your search results. Each company in the Apollo database is assigned a unique ID. To find IDs, call the Organization Search endpoint and identify the values for organization_id.",
            "example": ["5e66b6381e05b4008c8331b8", "5f1a2b3c4d5e6f7890123456"],
            "style": "form",
            "explode": true
          },
          {
            "name": "categories[]",
            "in": "query",
            "required": false,
            "schema": {
              "type": "array",
              "items": {
                "type": "string"
              }
            },
            "description": "Filter your search to include only certain categories or sub-categories of news. Use the News search filter for companies within Apollo to uncover all possible categories and sub-categories.",
            "example": ["hires", "investment", "contract", "funding", "acquisition"],
            "style": "form",
            "explode": true
          },
          {
            "name": "published_at[min]",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "format": "date"
            },
            "description": "Set the lower bound of the date range you want to search. Use this parameter in combination with the published_at[max] parameter. This date should fall before the published_at[max] date. The date should be formatted as YYYY-MM-DD.",
            "example": "2025-02-15"
          },
          {
            "name": "published_at[max]",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "format": "date"
            },
            "description": "Set the upper bound of the date range you want to search. Use this parameter in combination with the published_at[min] parameter. This date should fall after the published_at[min] date. The date should be formatted as YYYY-MM-DD.",
            "example": "2025-02-28"
          },
          {
            "name": "page",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "minimum": 1,
              "default": 1
            },
            "description": "The page number of the Apollo data that you want to retrieve. Use this parameter in combination with the per_page parameter to make search results for navigable and improve the performance of the endpoint.",
            "example": 4
          },
          {
            "name": "per_page",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "maximum": 100,
              "default": 25
            },
            "description": "The number of Apollo data records that you want to retrieve per page. Use this parameter in combination with the page parameter to make search results navigable and improve the performance of the endpoint. Maximum value is 100.",
            "example": 25
          }
        ],
        "responses": {
          "200": {
            "description": "News articles search results",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/NewsArticlesResponse"
                }
              }
            }
          },
          "403": {
            "description": "Feature not available for free plan users"
          }
        }
      }
    },
    "/accounts": {
      "post": {
        "operationId": "createAccount",
        "summary": "Create an Account",
        "description": "Add a new account to your team's Apollo account. In Apollo terminology, an account is a company that your team has explicitly added to your database. Apollo does not apply deduplication processes when you create a new account via the API. If your entry has the same name, domain, or other details as an existing account, Apollo will create a new account instead of updating the existing account. To update an existing account, use the Update an Account endpoint instead. This endpoint requires a master API key.",
        "tags": [
          "Accounts"
        ],
        "parameters": [
          {
            "name": "name",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Name the account that you are creating. This should be a human-readable name.",
            "example": "The Irish Copywriters"
          },
          {
            "name": "domain",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "The domain name for the account. Do not include www. or similar.",
            "example": "apollo.io"
          },
          {
            "name": "owner_id",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "The ID for the account owner within your team's Apollo account. Use the Get a List of Users endpoint to retrieve IDs for all of the users within your Apollo account.",
            "example": "66302798d03b9601c7934ebf"
          },
          {
            "name": "account_stage_id",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "The Apollo ID for the account stage to which you want to assign the account. Call the List Account Stages endpoint to retrieve a list of all the account stage IDs available in your Apollo account. If you do not specify the account stage, Apollo automatically assigns the account to a stage as determined by your team's Apollo account.",
            "example": "6095a710bd01d100a506d4b9"
          },
          {
            "name": "phone",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "The primary phone number for the account. This can be the phone number for the corporate headquarters, a branch location, or a direct dial to the primary point of contact for the account. Apollo sanitizes phone numbers, so you can enter them in any format.",
            "example": "555-303-1234"
          },
          {
            "name": "raw_address",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "The corporate location for the account. This can include a city, US state, and country. Apollo matches the location you provide to the most applicable pre-defined location.",
            "example": "Belfield, Dublin 4, Ireland"
          }
        ],
        "responses": {
          "200": {
            "description": "Account created successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AccountResponse"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden - Master API key required. Refer to Create API Keys documentation to learn how to create a master API key."
          }
        }
      }
    },
    "/accounts/{account_id}": {
      "put": {
        "operationId": "updateAccount",
        "summary": "Update an Account",
        "description": "Update existing accounts in your team's Apollo account",
        "tags": [
          "Accounts"
        ],
        "parameters": [
          {
            "name": "account_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "The Apollo ID for the account that you want to update. To find account IDs, call the Search for Accounts endpoint and identify the id value for the contact.",
            "example": "66e9abf95ac32901b20d1a0d"
          },
          {
            "name": "name",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Update the account's name. This should be a human-readable name.",
            "example": "The Fast Irish Copywriters"
          },
          {
            "name": "domain",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Update the domain name for the account. Do not include www. or similar.",
            "example": "apollo.io"
          },
          {
            "name": "owner_id",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "The ID for the account owner within your team's Apollo account. Enter a different ID to update the owner of the account. Use the Get a List of Users endpoint to retrieve IDs for all of the users within your Apollo account.",
            "example": "66302798d03b9601c7934ebf"
          },
          {
            "name": "account_stage_id",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "The Apollo ID for the account stage to which you want to assign the account. Enter a different ID to update the account stage. Call the List Account Stages endpoint to retrieve a list of all the account stage IDs available in your Apollo account.",
            "example": "61b8e913e0f4d2012e3af74e"
          },
          {
            "name": "raw_address",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Update the corporate location for the account. This can include a city, US state, and country. Apollo matches the location you provide to the most applicable pre-defined location.",
            "example": "Belfield, Dublin 4, Ireland"
          },
          {
            "name": "phone",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Update the primary phone number for the account. This can be the phone number for the corporate headquarters, a branch location, or a direct dial to the primary point of contact for the account. Apollo sanitizes phone numbers, so you can enter them in any format.",
            "example": "555-303-1234"
          }
        ],
        "responses": {
          "200": {
            "description": "Account updated successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AccountResponse"
                }
              }
            }
          },
          "403": {
            "description": "Unauthorized - Master API key required"
          }
        }
      }
    },
    "/accounts/search": {
      "post": {
        "operationId": "searchAccounts",
        "summary": "Search for Accounts",
        "description": "Use the Search for Accounts endpoint to search for the account that have been added to your team's Apollo account. In Apollo terminology, an account is a company that your team has explicitly added to your database. This endpoint only returns accounts in the search results. To search for companies in the Apollo database, call the Organization Search endpoint. To protect Apollo's performance for all users, this endpoint has a display limit of 50,000 records (100 records per page, up to 500 pages). Add more filters to narrow your search results as much as possible. This limitation does not restrict your access to Apollo's database; you just need to access the data in batches. This feature is not accessible to Apollo users on free plans.",
        "tags": [
          "Accounts"
        ],
        "parameters": [
          {
            "name": "q_organization_name",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Add keywords to narrow the search of the accounts in your team's Apollo account. Keywords should directly match at least part of an account's name. For example, searching the keyword marketing might return the result NY Marketing Unlimited, but not NY Market Analysts. This parameter only searches account names, not other account fields.",
            "examples": {
              "apollo": {
                "value": "apollo",
                "summary": "Search for accounts with 'apollo' in the name"
              },
              "microsoft": {
                "value": "microsoft",
                "summary": "Search for accounts with 'microsoft' in the name"
              },
              "marketing": {
                "value": "marketing",
                "summary": "Search for accounts with 'marketing' in the name"
              }
            }
          },
          {
            "name": "account_stage_ids[]",
            "in": "query",
            "required": false,
            "schema": {
              "type": "array",
              "items": {
                "type": "string"
              }
            },
            "description": "The Apollo IDs for the account stages that you want to include in your search results. If you add multiple account stages, Apollo will include all accounts that match any of the stages, along with the other parameters, in the search results. Call the List Account Stages endpoint to retrieve a list of all the account stage IDs available in your Apollo account.",
            "example": ["61b8e913e0f4d2012e3af74e"]
          },
          {
            "name": "sort_by_field",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "enum": ["account_last_activity_date", "account_created_at", "account_updated_at"]
            },
            "description": "Sort the matching accounts by one of the following options: account_last_activity_date (The most recent activity date recorded first), account_created_at (The most recently created first), account_updated_at (The most recently updated first)."
          },
          {
            "name": "sort_ascending",
            "in": "query",
            "required": false,
            "schema": {
              "type": "boolean",
              "default": false
            },
            "description": "Set to true to sort the matching contacts in ascending order. This parameter must be used with sort_by_field. Otherwise, the sorting logic is not applied.",
            "example": true
          },
          {
            "name": "page",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "minimum": 1,
              "maximum": 500,
              "default": 1
            },
            "description": "The page number of the Apollo data that you want to retrieve. Use this parameter in combination with the per_page parameter to make search results for navigable and improve the performance of the endpoint.",
            "example": 4
          },
          {
            "name": "per_page",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "minimum": 1,
              "maximum": 100,
              "default": 100
            },
            "description": "The number of search results that should be returned for each page. Limiting the number of results per page improves the endpoint's performance. Use the page parameter to search the different pages of data.",
            "example": 10
          }
        ],
        "responses": {
          "200": {
            "description": "Search results retrieved successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AccountSearchResponse"
                }
              }
            }
          }
        }
      }
    },
    "/accounts/{id}": {
      "get": {
        "operationId": "getAccount",
        "summary": "View an Account",
        "description": "Retrieve details for an existing account in your team's Apollo database",
        "tags": [
          "Accounts"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "The Apollo ID for the account that you want to retrieve. To find account IDs, call the Search for Accounts endpoint and identify the id value for the account.",
            "example": "6518c6184f20350001a0b9c0"
          }
        ],
        "responses": {
          "200": {
            "description": "Account details retrieved successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Account"
                }
              }
            }
          },
          "403": {
            "description": "Invalid API key or insufficient permissions"
          }
        }
      }
    },
    "/accounts/bulk_update": {
      "post": {
        "operationId": "bulkUpdateAccountStages",
        "summary": "Update Account Stage for Multiple Accounts",
        "description": "Update the account stage for several accounts in your team's Apollo account",
        "tags": [
          "Accounts"
        ],
        "parameters": [
          {
            "name": "account_ids[]",
            "in": "query",
            "required": true,
            "schema": {
              "type": "array",
              "items": {
                "type": "string"
              }
            },
            "description": "The Apollo ID for the account that you want to update. To find account IDs, call the Search for Accounts endpoint and identify the id value for the account.",
            "example": ["66e9abf95ac32901b20d1a0d"]
          },
          {
            "name": "account_stage_id",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "The Apollo ID for the account stage to which you want to assign the accounts. Call the List Account Stages endpoint to retrieve a list of all the account stage IDs available in your Apollo account.",
            "example": "6095a710bd01d100a506d4b7"
          }
        ],
        "responses": {
          "200": {
            "description": "Account stages updated successfully",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "accounts": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "id": {
                            "type": "string",
                            "description": "The Apollo ID of the updated account"
                          },
                          "account_stage_id": {
                            "type": "string",
                            "description": "The Apollo ID of the account stage assigned to the account"
                          }
                        }
                      },
                      "description": "Array of updated accounts with their IDs and new account stage IDs"
                    }
                  },
                  "example": {
                    "accounts": [
                      {
                        "id": "66e9abf95ac32901b20d1a0d",
                        "account_stage_id": "6095a710bd01d100a506d4b7"
                      },
                      {
                        "id": "66e9a4db056fe802d331fb8a",
                        "account_stage_id": "6095a710bd01d100a506d4b7"
                      },
                      {
                        "id": "66e9a7866e440201b42ac31d",
                        "account_stage_id": "6095a710bd01d100a506d4b7"
                      }
                    ]
                  }
                }
              }
            }
          },
          "403": {
            "description": "Invalid API key or insufficient permissions"
          }
        }
      }
    },
    "/accounts/update_owners": {
      "post": {
        "operationId": "bulkUpdateAccountOwners",
        "summary": "Update Account Owner for Multiple Accounts",
        "description": "Assign multiple accounts to a different user in your team's Apollo account",
        "tags": [
          "Accounts"
        ],
        "parameters": [
          {
            "name": "account_ids[]",
            "in": "query",
            "required": true,
            "schema": {
              "type": "array",
              "items": {
                "type": "string"
              }
            },
            "description": "The Apollo IDs for the account that you want to assign to an owner. To find account IDs, call the Search for Accounts endpoint and identify the id value for the account.",
            "example": ["66e9abf95ac32901b20d1a0d"]
          },
          {
            "name": "owner_id",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "The ID for the account owner within your team's Apollo account. This user will be assigned ownership of the accounts. Use the Get a List of Users endpoint to retrieve IDs for all of the users within your Apollo account.",
            "example": "66302798d03b9601c7934ebf"
          }
        ],
        "responses": {
          "200": {
            "description": "Account owners updated successfully",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "accounts": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "id": {
                            "type": "string",
                            "description": "The Apollo ID of the updated account"
                          },
                          "owner_id": {
                            "type": "string",
                            "description": "The Apollo ID of the new account owner"
                          },
                          "crm_owner_id": {
                            "type": "string",
                            "nullable": true,
                            "description": "The CRM owner ID, if applicable"
                          }
                        }
                      },
                      "description": "Array of updated accounts with their IDs and new owner information"
                    }
                  },
                  "example": {
                    "accounts": [
                      {
                        "id": "66e9a4db056fe802d331fb8a",
                        "owner_id": "66302798d03b9601c7934ebf",
                        "crm_owner_id": null
                      },
                      {
                        "id": "66e9abf95ac32901b20d1a0d",
                        "owner_id": "66302798d03b9601c7934ebf",
                        "crm_owner_id": null
                      },
                      {
                        "id": "66e9a7866e440201b42ac31d",
                        "owner_id": "66302798d03b9601c7934ebf",
                        "crm_owner_id": null
                      }
                    ]
                  }
                }
              }
            }
          },
          "403": {
            "description": "Invalid API key or insufficient permissions"
          }
        }
      }
    },
    "/account_stages": {
      "get": {
        "operationId": "listAccountStages",
        "summary": "List Account Stages",
        "description": "Retrieve the IDs for the available account stages in your team's Apollo account",
        "tags": [
          "Accounts"
        ],
        "responses": {
          "200": {
            "description": "List of account stages retrieved successfully",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "account_stages": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "id": {
                            "type": "string",
                            "description": "The Apollo ID of the account stage"
                          },
                          "team_id": {
                            "type": "string",
                            "description": "The team ID associated with the account stage"
                          },
                          "display_name": {
                            "type": "string",
                            "description": "The display name of the account stage"
                          },
                          "name": {
                            "type": "string",
                            "description": "The name of the account stage"
                          },
                          "display_order": {
                            "type": "integer",
                            "description": "The display order of the account stage"
                          },
                          "default_exclude_for_leadgen": {
                            "type": "boolean",
                            "description": "Whether this stage is excluded from lead generation by default"
                          },
                          "category": {
                            "type": "string",
                            "nullable": true,
                            "enum": ["succeeded", "failed", "in_progress", null],
                            "description": "The category of the account stage"
                          },
                          "is_meeting_set": {
                            "type": "boolean",
                            "nullable": true,
                            "description": "Whether a meeting is set for this stage"
                          }
                        }
                      },
                      "description": "Array of account stages available in your Apollo account"
                    }
                  },
                  "example": {
                    "account_stages": [
                      {
                        "id": "6095a710bd01d100a506d4b7",
                        "team_id": "6095a710bd01d100a506d4ac",
                        "display_name": "Review",
                        "name": "Review",
                        "display_order": 1,
                        "default_exclude_for_leadgen": false,
                        "category": null,
                        "is_meeting_set": null
                      },
                      {
                        "id": "6095a710bd01d100a506d4b8",
                        "team_id": "6095a710bd01d100a506d4ac",
                        "display_name": "Current Client",
                        "name": "Current Client",
                        "display_order": 2,
                        "default_exclude_for_leadgen": true,
                        "category": "succeeded",
                        "is_meeting_set": null
                      },
                      {
                        "id": "61b8e913e0f4d2012e3af74e",
                        "team_id": "6095a710bd01d100a506d4ac",
                        "display_name": "Lead",
                        "name": "Lead",
                        "display_order": 7,
                        "default_exclude_for_leadgen": false,
                        "category": "in_progress",
                        "is_meeting_set": null
                      }
                    ]
                  }
                }
              }
            }
          },
          "403": {
            "description": "Invalid API key or insufficient permissions"
          }
        }
      }
    },
    "/contacts": {
      "post": {
        "operationId": "createContact",
        "summary": "Create a Contact",
        "description": "Add a new contact to your team's Apollo account. Note: Does not apply deduplication - will create new contact even if details match existing ones.",
        "tags": [
          "Contacts"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ContactCreate"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Contact created successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ContactResponse"
                }
              }
            }
          }
        }
      }
    },
    "/contacts/{contact_id}": {
      "put": {
        "operationId": "updateContact",
        "summary": "Update a Contact",
        "description": "Update existing contact details in your team's Apollo account",
        "tags": [
          "Contacts"
        ],
        "parameters": [
          {
            "name": "contact_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "ID of the contact to update"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ContactUpdate"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Contact updated successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ContactResponse"
                }
              }
            }
          }
        }
      }
    },
    "/contacts/search": {
      "post": {
        "operationId": "searchContacts",
        "summary": "Search for Contacts",
        "description": "Search for contacts in your team's Apollo account. Limited to 50,000 records (100 per page, up to 500 pages).",
        "tags": [
          "Contacts"
        ],
        "parameters": [
          {
            "name": "q_keywords",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Add keywords to narrow the search of the contacts in your team's Apollo account. Keywords can include combinations of names, job titles, employers (company names), and email addresses.",
            "example": "tim zheng; senior research analyst; microsoft"
          },
          {
            "name": "contact_stage_ids",
            "in": "query",
            "required": false,
            "schema": {
              "type": "array",
              "items": {
                "type": "string"
              }
            },
            "style": "form",
            "explode": true,
            "description": "The Apollo IDs for the contact stages that you want to include in your search results. If you add multiple contact stages, Apollo will include all contacts that match any of the stages, along with the other parameters, in the search results. Call the List Contact Stages endpoint to retrieve a list of all the contact stage IDs available in your Apollo account.",
            "example": ["6095a710bd01d100a506d4ae"]
          },
          {
            "name": "sort_by_field",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "enum": [
                "contact_last_activity_date",
                "contact_email_last_opened_at",
                "contact_email_last_clicked_at",
                "contact_created_at",
                "contact_updated_at"
              ]
            },
            "description": "Sort the matching contacts by one of the following options: contact_last_activity_date (The most recent activity date recorded first), contact_email_last_opened_at (The most recent email opened date first), contact_email_last_clicked_at (The most recent email clicked first), contact_created_at (The most recently created first), contact_updated_at (The most recently updated first)."
          },
          {
            "name": "sort_ascending",
            "in": "query",
            "required": false,
            "schema": {
              "type": "boolean",
              "default": false
            },
            "description": "Set to true to sort the matching contacts in ascending order. This parameter must be used with sort_by_field. Otherwise, the sorting logic is not applied.",
            "example": true
          },
          {
            "name": "page",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "minimum": 1,
              "maximum": 500,
              "default": 1
            },
            "description": "The page number of the Apollo data that you want to retrieve. Use this parameter in combination with the per_page parameter to make search results navigable and improve the performance of the endpoint.",
            "example": 4
          },
          {
            "name": "per_page",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "maximum": 100,
              "default": 100
            },
            "description": "The number of search results that should be returned for each page. Limiting the number of results per page improves the endpoint's performance. Use the page parameter to search the different pages of data.",
            "example": 10
          }
        ],
        "responses": {
          "200": {
            "description": "List of contacts matching search criteria",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "contacts": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/Contact"
                      }
                    },
                    "pagination": {
                      "type": "object",
                      "properties": {
                        "total_count": {
                          "type": "integer"
                        },
                        "total_pages": {
                          "type": "integer"
                        },
                        "current_page": {
                          "type": "integer"
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/contacts/update_stages": {
      "post": {
        "operationId": "updateContactStages",
        "summary": "Update Contact Stage for Multiple Contacts",
        "description": "Update the contact stage for multiple contacts simultaneously",
        "tags": [
          "Contacts"
        ],
        "parameters": [
          {
            "name": "contact_ids[]",
            "in": "query",
            "required": true,
            "schema": {
              "type": "array",
              "items": {
                "type": "string"
              }
            },
            "style": "form",
            "explode": true,
            "x-bracket-notation": true,
            "description": "The Apollo IDs for the contacts that you want to update. Must be passed using bracket notation (e.g., contact_ids[]=id1 for one contact, or contact_ids[]=id1&contact_ids[]=id2 for multiple). To find contact IDs, call the Search for Contacts endpoint and identify the id value for the contact.",
            "example": "contact_ids[]=66e34b81740c50074e3d1bd4&contact_ids[]=66e34b81740c50074e3d1bd5"
          },
          {
            "name": "contact_stage_id",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "The Apollo ID for the contact stage to which you want to assign the contacts. Call the List Contact Stages endpoint to retrieve a list of all the contact stage IDs available in your Apollo account.",
            "example": "6095a710bd01d100a506d4af"
          }
        ],
        "responses": {
          "200": {
            "description": "Contact stages updated successfully",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Contact"
                  }
                }
              }
            }
          },
          "422": {
            "description": "Parameters misconfigured",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string",
                      "example": "Parameters misconfigured. contact_ids must be an array. You are passing String"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/contacts/update_owners": {
      "post": {
        "operationId": "updateContactOwners",
        "summary": "Update Contact Owner for Multiple Contacts",
        "description": "Use the Update Contact Owner for Multiple Contacts endpoint to assign multiple contacts to a different user in your team's Apollo account. To update more than the contact's owner, such as job titles or contact details, use the Update a Contact endpoint instead.",
        "tags": [
          "Contacts"
        ],
        "parameters": [
          {
            "name": "contact_ids[]",
            "in": "query",
            "required": true,
            "schema": {
              "type": "array",
              "items": {
                "type": "string"
              }
            },
            "style": "form",
            "explode": true,
            "x-bracket-notation": true,
            "description": "The Apollo IDs for the contacts that you want assign to an owner. Must be passed using bracket notation (e.g., contact_ids[]=id1 for one contact, or contact_ids[]=id1&contact_ids[]=id2 for multiple). To find contact IDs, call the Search for Contacts endpoint and identify the id value for the contact.",
            "example": "contact_ids[]=66e34b81740c50074e3d1bd4&contact_ids[]=66e34b81740c50074e3d1bd5"
          },
          {
            "name": "owner_id",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "The ID for the contact owner within your team's Apollo account. This user will be assigned ownership of the contacts. Use the Get a List of Users endpoint to retrieve IDs for all of the users within your Apollo account.",
            "example": "66302798d03b9601c7934ebf"
          }
        ],
        "responses": {
          "200": {
            "description": "Contact owners updated successfully",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Contact"
                  }
                }
              }
            }
          },
          "422": {
            "description": "Parameters misconfigured",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/contact_stages": {
      "get": {
        "operationId": "listContactStages",
        "summary": "List Contact Stages",
        "description": "Use the List Contact Stages endpoint to retrieve the IDs for the available contact stages in your team's Apollo account. Contact stage IDs can be used to update individual contacts and update the contact stages for multiple contacts via the Apollo API.",
        "tags": [
          "Contacts"
        ],
        "responses": {
          "200": {
            "description": "List of contact stages",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "contact_stages": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/ContactStage"
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/opportunities": {
      "post": {
        "operationId": "createDeal",
        "summary": "Create Deal",
        "description": "Use the Create Deal endpoint to create new deals for an Apollo account. Deals enable you to track account activity, including monetary values of a deal, deal owners, and deal stages. To update existing deals in your Apollo account, use the Update Deal endpoint instead. This endpoint requires a master API key.",
        "tags": [
          "Deals"
        ],
        "parameters": [
          {
            "name": "name",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Name the deal you are creating. This should be a human-readable name.",
            "example": "Massive Q3 Deal"
          },
          {
            "name": "owner_id",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "The ID for the deal owner within your team's Apollo account. Use the Get a List of Users endpoint to retrieve IDs for all of the users within your Apollo account.",
            "example": "66302798d03b9601c7934ebf"
          },
          {
            "name": "account_id",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "The ID for the account within your Apollo instance. This is the company that you are targeting as part of the deal being created. Each company in the Apollo database is assigned a unique ID. To find IDs, call the Organization Search endpoint and identify the values for organization_id.",
            "example": "5e66b6381e05b4008c8331b8"
          },
          {
            "name": "amount",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "The monetary value of the deal being created. Do not enter commas or currency symbols for the value. The currency is automatically populated by the settings within your Apollo account. Commas are not accepted and result in the deal amount being left blank.",
            "example": "55123478"
          },
          {
            "name": "opportunity_stage_id",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "The ID for the deal stage within your team's Apollo account. Each deal stage is assigned a unique ID. To find deal stage IDs, call the List Deal Stages endpoint and identify the value for id for each stage.",
            "example": "6095a710bd01d100a506d4bd"
          },
          {
            "name": "closed_date",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "format": "date"
            },
            "description": "The estimated close date for the deal. This can be a future or past date. The date should be formatted as YYYY-MM-DD.",
            "example": "2025-10-30"
          }
        ],
        "responses": {
          "200": {
            "description": "Deal created successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Deal"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden - Master API key required",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/opportunities/search": {
      "get": {
        "operationId": "listAllDeals",
        "summary": "List All Deals",
        "description": "Use the List All Deals endpoint to retrieve every deal that has been created for your team's Apollo account. This endpoint requires a master API key. This feature is not accessible to Apollo users on free plans.",
        "tags": [
          "Deals"
        ],
        "parameters": [
          {
            "name": "sort_by_field",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "enum": ["amount", "is_closed", "is_won"]
            },
            "description": "Sort the deals by one of the following options: amount (largest deal values first), is_closed (deals that have been closed first), is_won (deals that have been won first)"
          },
          {
            "name": "page",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "format": "int32"
            },
            "description": "The page number of the Apollo data that you want to retrieve. Use this parameter in combination with the per_page parameter to make search results navigable and improve the performance of the endpoint.",
            "example": 4
          },
          {
            "name": "per_page",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "format": "int32"
            },
            "description": "The number of search results that should be returned for each page. Limiting the number of results per page improves the endpoint's performance. Use the page parameter to search the different pages of data.",
            "example": 10
          }
        ],
        "responses": {
          "200": {
            "description": "List of all deals",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "opportunities": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/Deal"
                      }
                    },
                    "breadcrumbs": {
                      "type": "array",
                      "items": {
                        "type": "object"
                      }
                    },
                    "salesforce_users": {
                      "type": "array",
                      "items": {
                        "type": "object"
                      }
                    },
                    "partial_results_only": {
                      "type": "boolean"
                    },
                    "has_join": {
                      "type": "boolean"
                    },
                    "disable_eu_prospecting": {
                      "type": "boolean"
                    },
                    "partial_results_limit": {
                      "type": "integer"
                    },
[...]
