{
  "openapi": "3.0.3",
  "info": {
    "title": "Telnyx API",
    "version": "2.0",
    "description": "Comprehensive REST API for telecommunications services including voice, messaging, conversations, phone numbers, and infrastructure management",
    "x-jentic-source-url": "https://developers.telnyx.com/api/v2/overview",
    "contact": {
      "name": "API Support"
    }
  },
  "servers": [
    {
      "url": "https://api.telnyx.com/v2"
    }
  ],
  "security": [
    {
      "bearerAuth": []
    }
  ],
  "components": {
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "scheme": "bearer",
        "bearerFormat": "JWT",
        "description": "Bearer token authentication using JWT access token"
      }
    },
    "schemas": {
      "Error": {
        "type": "object",
        "properties": {
          "errors": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "code": {
                  "type": "string"
                },
                "title": {
                  "type": "string"
                },
                "detail": {
                  "type": "string"
                },
                "meta": {
                  "type": "object"
                }
              }
            }
          }
        }
      },
      "Call": {
        "type": "object",
        "properties": {
          "call_control_id": {
            "type": "string"
          },
          "call_leg_id": {
            "type": "string"
          },
          "call_session_id": {
            "type": "string"
          },
          "is_alive": {
            "type": "boolean"
          },
          "state": {
            "type": "string"
          },
          "from": {
            "type": "string"
          },
          "to": {
            "type": "string"
          }
        }
      },
      "Message": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string"
          },
          "record_type": {
            "type": "string"
          },
          "direction": {
            "type": "string",
            "enum": [
              "inbound",
              "outbound"
            ]
          },
          "from": {
            "type": "object"
          },
          "to": {
            "type": "array",
            "items": {
              "type": "object"
            }
          },
          "text": {
            "type": "string"
          },
          "media": {
            "type": "array"
          },
          "webhook_url": {
            "type": "string"
          },
          "webhook_failover_url": {
            "type": "string"
          }
        }
      },
      "PhoneNumber": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string"
          },
          "record_type": {
            "type": "string"
          },
          "phone_number": {
            "type": "string"
          },
          "status": {
            "type": "string"
          },
          "connection_id": {
            "type": "string"
          },
          "messaging_profile_id": {
            "type": "string"
          }
        }
      }
    }
  },
  "tags": [
    {
      "name": "Call Control",
      "description": "Real-time call control operations"
    },
    {
      "name": "Conferences",
      "description": "Conference call management"
    },
    {
      "name": "Messaging",
      "description": "SMS and MMS messaging"
    },
    {
      "name": "Phone Numbers",
      "description": "Phone number management"
    },
    {
      "name": "Connections",
      "description": "SIP and voice connections"
    },
    {
      "name": "Credentials",
      "description": "Authentication credentials"
    },
    {
      "name": "AI",
      "description": "AI assistants and chat"
    },
    {
      "name": "Recordings",
      "description": "Call recording management"
    },
    {
      "name": "Reports",
      "description": "CDR and MDR reports"
    }
  ],
  "paths": {
    "/calls/{call_control_id}/actions/answer": {
      "post": {
        "tags": [
          "Call Control"
        ],
        "summary": "Answer a call",
        "operationId": "answerCall",
        "parameters": [
          {
            "name": "call_control_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "billing_group_id": {
                    "type": "string"
                  },
                  "client_state": {
                    "type": "string"
                  },
                  "command_id": {
                    "type": "string"
                  },
                  "webhook_url": {
                    "type": "string"
                  },
                  "webhook_url_method": {
                    "type": "string"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Call answered",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Call"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        },
        "description": "Answer a call"
      }
    },
    "/calls/{call_control_id}/actions/hangup": {
      "post": {
        "tags": [
          "Call Control"
        ],
        "summary": "Hangup a call",
        "operationId": "hangupCall",
        "parameters": [
          {
            "name": "call_control_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Call hung up",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Call"
                }
              }
            }
          }
        },
        "description": "Hangup a call"
      }
    },
    "/calls": {
      "post": {
        "tags": [
          "Call Control"
        ],
        "summary": "Dial a number",
        "operationId": "dialNumber",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "connection_id",
                  "to",
                  "from"
                ],
                "properties": {
                  "connection_id": {
                    "type": "string"
                  },
                  "to": {
                    "type": "string"
                  },
                  "from": {
                    "type": "string"
                  },
                  "webhook_url": {
                    "type": "string"
                  },
                  "webhook_url_method": {
                    "type": "string"
                  },
                  "answering_machine_detection": {
                    "type": "string"
                  },
                  "custom_headers": {
                    "type": "array"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Call initiated",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Call"
                }
              }
            }
          }
        },
        "description": "Dial a number"
      }
    },
    "/calls/{call_control_id}/actions/bridge": {
      "post": {
        "tags": [
          "Call Control"
        ],
        "summary": "Bridge two calls",
        "operationId": "bridgeCalls",
        "parameters": [
          {
            "name": "call_control_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "call_control_id"
                ],
                "properties": {
                  "call_control_id": {
                    "type": "string"
                  },
                  "client_state": {
                    "type": "string"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Calls bridged",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Call"
                }
              }
            }
          }
        },
        "description": "Bridge two calls"
      }
    },
    "/calls/{call_control_id}/actions/record_start": {
      "post": {
        "tags": [
          "Call Control"
        ],
        "summary": "Start call recording",
        "operationId": "startRecording",
        "parameters": [
          {
            "name": "call_control_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "format": {
                    "type": "string",
                    "enum": [
                      "wav",
                      "mp3"
                    ]
                  },
                  "channels": {
                    "type": "string",
                    "enum": [
                      "single",
                      "dual"
                    ]
                  },
                  "play_beep": {
                    "type": "boolean"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Recording started"
          }
        },
        "description": "Start call recording"
      }
    },
    "/calls/{call_control_id}/actions/record_stop": {
      "post": {
        "tags": [
          "Call Control"
        ],
        "summary": "Stop call recording",
        "operationId": "stopRecording",
        "parameters": [
          {
            "name": "call_control_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Recording stopped"
          }
        },
        "description": "Stop call recording"
      }
    },
    "/calls/{call_control_id}/actions/playback_start": {
      "post": {
        "tags": [
          "Call Control"
        ],
        "summary": "Start audio playback",
        "operationId": "startPlayback",
        "parameters": [
          {
            "name": "call_control_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "audio_url"
                ],
                "properties": {
                  "audio_url": {
                    "type": "string"
                  },
                  "loop": {
                    "type": "integer"
                  },
                  "overlay": {
                    "type": "boolean"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Playback started"
          }
        },
        "description": "Start audio playback"
      }
    },
    "/calls/{call_control_id}/actions/speak": {
      "post": {
        "tags": [
          "Call Control"
        ],
        "summary": "Convert text to speech",
        "operationId": "speakText",
        "parameters": [
          {
            "name": "call_control_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "payload",
                  "voice",
                  "language"
                ],
                "properties": {
                  "payload": {
                    "type": "string"
                  },
                  "voice": {
                    "type": "string"
                  },
                  "language": {
                    "type": "string"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Text spoken"
          }
        },
        "description": "Convert text to speech"
      }
    },
    "/calls/{call_control_id}/actions/gather": {
      "post": {
        "tags": [
          "Call Control"
        ],
        "summary": "Gather DTMF input",
        "operationId": "gatherDTMF",
        "parameters": [
          {
            "name": "call_control_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "minimum_digits": {
                    "type": "integer"
                  },
                  "maximum_digits": {
                    "type": "integer"
                  },
                  "timeout_millis": {
                    "type": "integer"
                  },
                  "terminating_digit": {
                    "type": "string"
                  },
                  "valid_digits": {
                    "type": "string"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Gathering started"
          }
        },
        "description": "Gather DTMF input"
      }
    },
    "/calls/{call_control_id}/actions/transfer": {
      "post": {
        "tags": [
          "Call Control"
        ],
        "summary": "Transfer a call",
        "operationId": "transferCall",
        "parameters": [
          {
            "name": "call_control_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "to"
                ],
                "properties": {
                  "to": {
                    "type": "string"
                  },
                  "from": {
                    "type": "string"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Call transferred"
          }
        },
        "description": "Transfer a call"
      }
    },
    "/conferences": {
      "post": {
        "tags": [
          "Conferences"
        ],
        "summary": "Create a conference",
        "operationId": "createConference",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "name"
                ],
                "properties": {
                  "name": {
                    "type": "string"
                  },
                  "call_control_id": {
                    "type": "string"
                  },
                  "beep_enabled": {
                    "type": "string"
                  },
                  "end_conference_on_exit": {
                    "type": "boolean"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Conference created"
          }
        },
        "description": "Create a conference"
      }
    },
    "/conferences/{id}/actions/join": {
      "post": {
        "tags": [
          "Conferences"
        ],
        "summary": "Join a conference",
        "operationId": "joinConference",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "call_control_id": {
                    "type": "string"
                  },
                  "start_conference_on_enter": {
                    "type": "boolean"
                  },
                  "supervisor_role": {
                    "type": "string"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Joined conference"
          }
        },
        "description": "Join a conference"
      }
    },
    "/conferences/{id}/actions/mute": {
      "post": {
        "tags": [
          "Conferences"
        ],
        "summary": "Mute conference participant",
        "operationId": "muteParticipant",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "call_control_ids"
                ],
                "properties": {
                  "call_control_ids": {
                    "type": "array",
                    "items": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Participant muted"
          }
        },
        "description": "Mute conference participant"
      }
    },
    "/conferences/{id}/actions/unmute": {
      "post": {
        "tags": [
          "Conferences"
        ],
        "summary": "Unmute conference participant",
        "operationId": "unmuteParticipant",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "call_control_ids"
                ],
                "properties": {
                  "call_control_ids": {
                    "type": "array",
                    "items": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Participant unmuted"
          }
        },
        "description": "Unmute conference participant"
      }
    },
    "/messages": {
      "get": {
        "tags": [
          "Messaging"
        ],
        "summary": "List messages",
        "operationId": "listMessages",
        "parameters": [
          {
            "name": "page[number]",
            "in": "query",
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "page[size]",
            "in": "query",
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "filter[from]",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "filter[to]",
            "in": "query",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "List of messages",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/Message"
                      }
                    },
                    "meta": {
                      "type": "object"
                    }
                  }
                }
              }
            }
          }
        },
        "description": "List messages"
      },
      "post": {
        "tags": [
          "Messaging"
        ],
        "summary": "Send a message",
        "operationId": "sendMessage",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "from",
                  "to",
                  "text"
                ],
                "properties": {
                  "from": {
                    "type": "string"
                  },
                  "to": {
                    "type": "array",
                    "items": {
                      "type": "string"
                    }
                  },
                  "text": {
                    "type": "string"
                  },
                  "media_urls": {
                    "type": "array",
                    "items": {
                      "type": "string"
                    }
                  },
                  "webhook_url": {
                    "type": "string"
                  },
                  "messaging_profile_id": {
                    "type": "string"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Message sent",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Message"
                }
              }
            }
          }
        },
        "description": "Send a message"
      }
    },
    "/messages/{id}": {
      "get": {
        "tags": [
          "Messaging"
        ],
        "summary": "Get message details",
        "operationId": "getMessage",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Message details",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Message"
                }
              }
            }
          }
        },
        "description": "Get message details"
      }
    },
    "/phone_numbers": {
      "get": {
        "tags": [
          "Phone Numbers"
        ],
        "summary": "List phone numbers",
        "operationId": "listPhoneNumbers",
        "parameters": [
          {
            "name": "page[number]",
            "in": "query",
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "page[size]",
            "in": "query",
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "filter[status]",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "filter[phone_number]",
            "in": "query",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "List of phone numbers",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/PhoneNumber"
                      }
                    },
                    "meta": {
                      "type": "object"
                    }
                  }
                }
              }
            }
          }
        },
        "description": "List phone numbers"
      }
    },
    "/phone_numbers/{id}": {
      "get": {
        "tags": [
          "Phone Numbers"
        ],
        "summary": "Get phone number details",
        "operationId": "getPhoneNumber",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Phone number details",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PhoneNumber"
                }
              }
            }
          }
        },
        "description": "Get phone number details"
      },
      "patch": {
        "tags": [
          "Phone Numbers"
        ],
        "summary": "Update phone number",
        "operationId": "updatePhoneNumber",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "connection_id": {
                    "type": "string"
                  },
                  "messaging_profile_id": {
                    "type": "string"
                  },
                  "external_pin": {
                    "type": "string"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Phone number updated",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PhoneNumber"
                }
              }
            }
          }
        },
        "description": "Update phone number"
      },
      "delete": {
        "tags": [
          "Phone Numbers"
        ],
        "summary": "Release phone number",
        "operationId": "releasePhoneNumber",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "Phone number released"
          }
        },
        "description": "Release phone number"
      }
    },
    "/available_phone_numbers": {
      "get": {
        "tags": [
          "Phone Numbers"
        ],
        "summary": "Search available phone numbers",
        "operationId": "searchAvailablePhoneNumbers",
        "parameters": [
          {
            "name": "filter[phone_number][starts_with]",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "filter[phone_number][ends_with]",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "filter[phone_number][contains]",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "filter[country_code]",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "filter[national_destination_code]",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "filter[limit]",
            "in": "query",
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Available phone numbers",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object"
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "description": "Search available phone numbers"
      }
    },
    "/number_orders": {
      "post": {
        "tags": [
          "Phone Numbers"
        ],
        "summary": "Order phone numbers",
        "operationId": "orderPhoneNumbers",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "phone_numbers"
                ],
                "properties": {
                  "phone_numbers": {
                    "type": "array",
                    "items": {
                      "type": "object"
                    }
                  },
                  "connection_id": {
                    "type": "string"
                  },
                  "messaging_profile_id": {
                    "type": "string"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Order created"
          }
        },
        "description": "Order phone numbers"
      }
    },
    "/connections": {
      "get": {
        "tags": [
          "Connections"
        ],
        "summary": "List connections",
        "operationId": "listConnections",
        "responses": {
          "200": {
            "description": "List of connections"
          }
        },
        "description": "List connections"
      },
      "post": {
        "tags": [
          "Connections"
        ],
        "summary": "Create a connection",
        "operationId": "createConnection",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "connection_name"
                ],
                "properties": {
                  "connection_name": {
                    "type": "string"
                  },
                  "webhook_event_url": {
                    "type": "string"
                  },
                  "webhook_api_version": {
                    "type": "string"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Connection created"
          }
        },
        "description": "Create a connection"
      }
    },
    "/connections/{id}": {
      "get": {
        "tags": [
          "Connections"
        ],
        "summary": "Get connection details",
        "operationId": "getConnection",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Connection details"
          }
        },
        "description": "Get connection details"
      },
      "patch": {
        "tags": [
          "Connections"
        ],
        "summary": "Update connection",
        "operationId": "updateConnection",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "connection_name": {
                    "type": "string"
                  },
                  "webhook_event_url": {
                    "type": "string"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Connection updated"
          }
        },
        "description": "Update connection"
      },
      "delete": {
        "tags": [
          "Connections"
        ],
        "summary": "Delete connection",
        "operationId": "deleteConnection",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "Connection deleted"
          }
        },
        "description": "Delete connection"
      }
    },
    "/credentials": {
      "get": {
        "tags": [
          "Credentials"
        ],
        "summary": "List credentials",
        "operationId": "listCredentials",
        "responses": {
          "200": {
            "description": "List of credentials"
          }
        },
        "description": "List credentials"
      },
      "post": {
        "tags": [
          "Credentials"
        ],
        "summary": "Create credential",
        "operationId": "createCredential",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "name"
                ],
                "properties": {
                  "name": {
                    "type": "string"
                  },
                  "connection_id": {
                    "type": "string"
                  },
                  "expires_at": {
                    "type": "string",
                    "format": "date-time"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Credential created"
          }
        },
        "description": "Create credential"
      }
    },
    "/credentials/{id}": {
      "get": {
        "tags": [
          "Credentials"
        ],
        "summary": "Get credential",
        "operationId": "getCredential",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Credential details"
          }
        },
        "description": "Get credential"
      },
      "delete": {
        "tags": [
          "Credentials"
        ],
        "summary": "Delete credential",
        "operationId": "deleteCredential",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "Credential deleted"
          }
        },
        "description": "Delete credential"
      }
    },
    "/ai/assistants": {
      "get": {
        "tags": [
          "AI"
        ],
        "summary": "List AI assistants",
        "operationId": "listAIAssistants",
        "responses": {
          "200": {
            "description": "List of AI assistants"
          }
        },
        "description": "List AI assistants"
      },
      "post": {
        "tags": [
          "AI"
        ],
        "summary": "Create AI assistant",
        "operationId": "createAIAssistant",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "name"
                ],
                "properties": {
                  "name": {
                    "type": "string"
                  },
                  "model": {
                    "type": "string"
                  },
                  "prompt": {
                    "type": "string"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "AI assistant created"
          }
        },
        "description": "Create AI assistant"
      }
    },
    "/ai/assistants/{id}": {
      "get": {
        "tags": [
          "AI"
        ],
        "summary": "Get AI assistant",
        "operationId": "getAIAssistant",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "AI assistant details"
          }
        },
        "description": "Get AI assistant"
      },
      "delete": {
        "tags": [
          "AI"
        ],
        "summary": "Delete AI assistant",
        "operationId": "deleteAIAssistant",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "AI assistant deleted"
          }
        },
        "description": "Delete AI assistant"
      }
    },
    "/recordings": {
      "get": {
        "tags": [
          "Recordings"
        ],
        "summary": "List recordings",
        "operationId": "listRecordings",
        "parameters": [
          {
            "name": "filter[created_at][gte]",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "filter[created_at][lte]",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "page[number]",
            "in": "query",
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "page[size]",
            "in": "query",
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "List of recordings"
          }
        },
        "description": "List recordings"
      }
    },
    "/recordings/{id}": {
      "get": {
        "tags": [
          "Recordings"
        ],
        "summary": "Get recording",
        "operationId": "getRecording",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Recording details"
          }
        },
        "description": "Get recording"
      },
      "delete": {
        "tags": [
          "Recordings"
        ],
        "summary": "Delete recording",
        "operationId": "deleteRecording",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "Recording deleted"
          }
        },
        "description": "Delete recording"
      }
    },
    "/reports/cdr": {
      "get": {
        "tags": [
          "Reports"
        ],
        "summary": "Get CDR (Call Detail Records)",
        "operationId": "getCDR",
        "parameters": [
          {
            "name": "filter[start_time][gte]",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "filter[start_time][lte]",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "page[number]",
            "in": "query",
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "page[size]",
            "in": "query",
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "CDR records"
          }
        },
        "description": "Get CDR (Call Detail Records)"
      }
    },
    "/reports/mdr": {
      "get": {
        "tags": [
          "Reports"
        ],
        "summary": "Get MDR (Message Detail Records)",
        "operationId": "getMDR",
        "parameters": [
          {
            "name": "filter[start_time][gte]",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "filter[start_time][lte]",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "page[number]",
            "in": "query",
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "page[size]",
            "in": "query",
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "MDR records"
          }
        },
        "description": "Get MDR (Message Detail Records)"
      }
    }
  }
}
