{
  "openapi": "3.0.3",
  "info": {
    "title": "Vortexa API",
    "version": "1.0.0",
    "description": "Vortexa provides real-time cargo tracking and energy market analytics. Access data on vessel movements, cargo flows, floating storage, freight rates, and product inventories for crude oil, refined products, LNG, LPG, and other commodities.",
    "x-jentic-source-url": "https://docs.vortexa.com/",
    "contact": {
      "name": "API Support"
    }
  },
  "servers": [
    {
      "url": "https://api.vortexa.com/v6"
    }
  ],
  "paths": {
    "/cargo-movements": {
      "post": {
        "operationId": "searchCargoMovements",
        "summary": "Search cargo movements",
        "description": "Search for cargo movements based on filters such as origin, destination, product, vessel, and time range.",
        "tags": [
          "Cargo Movements"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CargoMovementsRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Cargo movements results",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CargoMovementsResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          }
        }
      }
    },
    "/cargo-timeseries": {
      "post": {
        "operationId": "getCargoTimeseries",
        "summary": "Get cargo timeseries",
        "description": "Get aggregated cargo flow data over time, broken down by specified dimensions.",
        "tags": [
          "Cargo Timeseries"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CargoTimeseriesRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Cargo timeseries data",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CargoTimeseriesResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      }
    },
    "/vessels": {
      "post": {
        "operationId": "searchVessels",
        "summary": "Search vessels",
        "description": "Search for vessels by name, IMO, MMSI, or other attributes.",
        "tags": [
          "Vessels"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/VesselsSearchRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Vessel search results",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/VesselsResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      }
    },
    "/vessels/{id}": {
      "get": {
        "operationId": "getVessel",
        "summary": "Get vessel details",
        "description": "Retrieve detailed information about a specific vessel by its Vortexa ID.",
        "tags": [
          "Vessels"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "Vortexa vessel ID",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Vessel details",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Vessel"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "404": {
            "description": "Vessel not found"
          }
        }
      }
    },
    "/products": {
      "post": {
        "operationId": "searchProducts",
        "summary": "Search products",
        "description": "Search for product references (crude grades, refined products, LNG, LPG, etc.).",
        "tags": [
          "Reference Data"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "term": {
                    "type": "string",
                    "description": "Search term"
                  },
                  "ids": {
                    "type": "array",
                    "items": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Product search results",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/Product"
                      }
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      }
    },
    "/geographies": {
      "post": {
        "operationId": "searchGeographies",
        "summary": "Search geographies",
        "description": "Search for geographical reference data (ports, countries, regions, terminals).",
        "tags": [
          "Reference Data"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "term": {
                    "type": "string",
                    "description": "Search term"
                  },
                  "ids": {
                    "type": "array",
                    "items": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Geography search results",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/Geography"
                      }
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      }
    },
    "/corporations": {
      "post": {
        "operationId": "searchCorporations",
        "summary": "Search corporations",
        "description": "Search for corporation reference data (charterers, vessel owners).",
        "tags": [
          "Reference Data"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "term": {
                    "type": "string",
                    "description": "Search term"
                  },
                  "ids": {
                    "type": "array",
                    "items": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Corporation search results",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/Corporation"
                      }
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      }
    },
    "/freight-pricing/timeseries": {
      "post": {
        "operationId": "getFreightPricingTimeseries",
        "summary": "Get freight pricing timeseries",
        "description": "Get freight pricing timeseries data for specified routes and vessel classes.",
        "tags": [
          "Freight"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/FreightPricingRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Freight pricing timeseries",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/FreightPricingResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      }
    },
    "/onshore-inventories/timeseries": {
      "post": {
        "operationId": "getOnshoreInventoriesTimeseries",
        "summary": "Get onshore inventories timeseries",
        "description": "Get onshore storage inventory timeseries data for specified locations and products.",
        "tags": [
          "Inventories"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/InventoryTimeseriesRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Onshore inventories timeseries data",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/InventoryTimeseriesResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      }
    }
  },
  "components": {
    "schemas": {
      "CargoMovementsRequest": {
        "type": "object",
        "properties": {
          "filter_time_min": {
            "type": "string",
            "format": "date-time",
            "description": "Minimum time filter (ISO 8601)"
          },
          "filter_time_max": {
            "type": "string",
            "format": "date-time",
            "description": "Maximum time filter (ISO 8601)"
          },
          "filter_origins": {
            "type": "array",
            "items": {
              "type": "string"
            },
            "description": "Origin geography IDs"
          },
          "filter_destinations": {
            "type": "array",
            "items": {
              "type": "string"
            },
            "description": "Destination geography IDs"
          },
          "filter_products": {
            "type": "array",
            "items": {
              "type": "string"
            },
            "description": "Product IDs"
          },
          "filter_vessels": {
            "type": "array",
            "items": {
              "type": "string"
            },
            "description": "Vessel IDs"
          },
          "filter_charterers": {
            "type": "array",
            "items": {
              "type": "string"
            },
            "description": "Charterer corporation IDs"
          },
          "filter_vessel_classes": {
            "type": "array",
            "items": {
              "type": "string"
            },
            "description": "Vessel class names"
          },
          "filter_vessel_status": {
            "type": "string",
            "description": "Vessel status filter"
          },
          "size": {
            "type": "integer",
            "description": "Number of results to return",
            "default": 500
          },
          "offset": {
            "type": "integer",
            "description": "Offset for pagination",
            "default": 0
          }
        }
      },
      "CargoMovementsResponse": {
        "type": "object",
        "properties": {
          "data": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/CargoMovement"
            }
          },
          "total": {
            "type": "integer"
          },
          "next_page_token": {
            "type": "string"
          }
        }
      },
      "CargoMovement": {
        "type": "object",
        "properties": {
          "cargo_movement_id": {
            "type": "string"
          },
          "quantity": {
            "type": "number",
            "description": "Cargo quantity in barrels"
          },
          "status": {
            "type": "string"
          },
          "vessel": {
            "$ref": "#/components/schemas/VesselRef"
          },
          "product": {
            "$ref": "#/components/schemas/ProductRef"
          },
          "events": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/CargoEvent"
            }
          }
        }
      },
      "CargoEvent": {
        "type": "object",
        "properties": {
          "event_type": {
            "type": "string",
            "description": "e.g. loading_start, loading_end, unloading_start, unloading_end"
          },
          "location": {
            "$ref": "#/components/schemas/GeographyRef"
          },
          "start_timestamp": {
            "type": "string",
            "format": "date-time"
          },
          "end_timestamp": {
            "type": "string",
            "format": "date-time"
          }
        }
      },
      "CargoTimeseriesRequest": {
        "type": "object",
        "properties": {
          "filter_time_min": {
            "type": "string",
            "format": "date-time"
          },
          "filter_time_max": {
            "type": "string",
            "format": "date-time"
          },
          "filter_origins": {
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "filter_destinations": {
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "filter_products": {
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "timeseries_frequency": {
            "type": "string",
            "enum": [
              "day",
              "week",
              "month"
            ],
            "default": "day"
          },
          "timeseries_unit": {
            "type": "string",
            "enum": [
              "bbl",
              "t",
              "bbl/d",
              "t/d"
            ],
            "default": "bbl"
          },
          "breakdown_property": {
            "type": "string",
            "description": "Property to break down by (e.g. origin, destination, product)"
          }
        }
      },
      "CargoTimeseriesResponse": {
        "type": "object",
        "properties": {
          "data": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "key": {
                  "type": "string"
                },
                "label": {
                  "type": "string"
                },
                "timeseries": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "timestamp": {
                        "type": "string",
                        "format": "date-time"
                      },
                      "value": {
                        "type": "number"
                      },
                      "count": {
                        "type": "integer"
                      }
                    }
                  }
                }
              }
            }
          }
        }
      },
      "VesselsSearchRequest": {
        "type": "object",
        "properties": {
          "term": {
            "type": "string",
            "description": "Search term (vessel name, IMO, MMSI)"
          },
          "ids": {
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "vessel_classes": {
            "type": "array",
            "items": {
              "type": "string"
            }
          }
        }
      },
      "VesselsResponse": {
        "type": "object",
        "properties": {
          "data": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Vessel"
            }
          }
        }
      },
      "Vessel": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string"
          },
          "name": {
            "type": "string"
          },
          "imo": {
            "type": "integer"
          },
          "mmsi": {
            "type": "integer"
          },
          "vessel_class": {
            "type": "string"
          },
          "dwt": {
            "type": "number",
            "description": "Deadweight tonnage"
          },
          "flag": {
            "type": "string"
          },
          "year_built": {
            "type": "integer"
          },
          "status": {
            "type": "string"
          },
          "corporate_entities": {
            "type": "array",
            "items": {
              "type": "object"
            }
          }
        }
      },
      "VesselRef": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string"
          },
          "name": {
            "type": "string"
          },
          "imo": {
            "type": "integer"
          },
          "vessel_class": {
            "type": "string"
          }
        }
      },
      "Product": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string"
          },
          "name": {
            "type": "string"
          },
          "layer": {
            "type": "array",
            "items": {
              "type": "string"
            }
          }
        }
      },
      "ProductRef": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string"
          },
          "name": {
            "type": "string"
          }
        }
      },
      "Geography": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string"
          },
          "name": {
            "type": "string"
          },
          "layer": {
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "lat": {
            "type": "number"
          },
          "lon": {
            "type": "number"
          }
        }
      },
      "GeographyRef": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string"
          },
          "name": {
            "type": "string"
          }
        }
      },
      "Corporation": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string"
          },
          "name": {
            "type": "string"
          },
          "corporate_entity_type": {
            "type": "array",
            "items": {
              "type": "string"
            }
          }
        }
      },
      "FreightPricingRequest": {
        "type": "object",
        "properties": {
          "filter_time_min": {
            "type": "string",
            "format": "date-time"
          },
          "filter_time_max": {
            "type": "string",
            "format": "date-time"
          },
          "routes": {
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "vessel_classes": {
            "type": "array",
            "items": {
              "type": "string"
            }
          }
        }
      },
      "FreightPricingResponse": {
        "type": "object",
        "properties": {
          "data": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "route": {
                  "type": "string"
                },
                "vessel_class": {
                  "type": "string"
                },
                "timeseries": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "timestamp": {
                        "type": "string",
                        "format": "date-time"
                      },
                      "rate": {
                        "type": "number"
                      },
                      "unit": {
                        "type": "string"
                      }
                    }
                  }
                }
              }
            }
          }
        }
      },
      "InventoryTimeseriesRequest": {
        "type": "object",
        "properties": {
          "filter_time_min": {
            "type": "string",
            "format": "date-time"
          },
          "filter_time_max": {
            "type": "string",
            "format": "date-time"
          },
          "filter_products": {
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "filter_geographies": {
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "timeseries_frequency": {
            "type": "string",
            "enum": [
              "day",
              "week"
            ],
            "default": "day"
          }
        }
      },
      "InventoryTimeseriesResponse": {
        "type": "object",
        "properties": {
          "data": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "key": {
                  "type": "string"
                },
                "label": {
                  "type": "string"
                },
                "timeseries": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "timestamp": {
                        "type": "string",
                        "format": "date-time"
                      },
                      "value": {
                        "type": "number"
                      },
                      "unit": {
                        "type": "string"
                      }
                    }
                  }
                }
              }
            }
          }
        }
      },
      "ErrorResponse": {
        "type": "object",
        "properties": {
          "status": {
            "type": "integer"
          },
          "message": {
            "type": "string"
          }
        }
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "scheme": "bearer",
        "description": "Bearer token authentication. Obtain a token from Vortexa."
      }
    }
  },
  "security": [
    {
      "bearerAuth": []
    }
  ],
  "tags": [
    {
      "name": "Cargo Movements"
    },
    {
      "name": "Cargo Timeseries"
    },
    {
      "name": "Freight"
    },
    {
      "name": "Inventories"
    },
    {
      "name": "Reference Data"
    },
    {
      "name": "Vessels"
    }
  ]
}
