{
  "openapi": "3.0.3",
  "info": {
    "title": "Pixela API",
    "description": "Pixela is a pixelation API service that creates GitHub-style contribution graphs. Record daily quantities, generate SVG graphs, manage users, graphs, pixels, and webhooks.",
    "version": "1.0",
    "contact": {
      "name": "Pixela",
      "url": "https://pixe.la/"
    },
    "license": {
      "name": "Pixela Terms of Service",
      "url": "https://github.com/a-know/Pixela/wiki/Terms-of-Service"
    }
  },
  "externalDocs": {
    "description": "Pixela API Documentation",
    "url": "https://docs.pixe.la/"
  },
  "servers": [
    {
      "url": "https://pixe.la/v1",
      "description": "Pixela Production"
    }
  ],
  "paths": {
    "/users": {
      "post": {
        "operationId": "createUser",
        "summary": "Create a new user",
        "security": [],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "token",
                  "username",
                  "agreeTermsOfService",
                  "notMinor"
                ],
                "properties": {
                  "token": {
                    "type": "string",
                    "description": "Authentication token (8-128 printable ASCII chars)"
                  },
                  "username": {
                    "type": "string",
                    "description": "Username (pattern: [a-z][a-z0-9-]{1,32})"
                  },
                  "agreeTermsOfService": {
                    "type": "string",
                    "enum": [
                      "yes",
                      "no"
                    ]
                  },
                  "notMinor": {
                    "type": "string",
                    "enum": [
                      "yes",
                      "no"
                    ]
                  },
                  "thanksCode": {
                    "type": "string",
                    "description": "Optional Patreon thanks code"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "User created",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request"
          },
          "409": {
            "description": "User already exists"
          }
        },
        "description": "Create a new user",
        "tags": [
          "users"
        ]
      }
    },
    "/users/{username}": {
      "put": {
        "operationId": "updateUser",
        "summary": "Update user token",
        "parameters": [
          {
            "$ref": "#/components/parameters/username"
          },
          {
            "$ref": "#/components/parameters/userToken"
          },
          {
            "name": "username",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "newToken"
                ],
                "properties": {
                  "newToken": {
                    "type": "string"
                  },
                  "thanksCode": {
                    "type": "string"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "User updated",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiResponse"
                }
              }
            }
          }
        },
        "description": "Update user token",
        "tags": [
          "users"
        ]
      },
      "delete": {
        "operationId": "deleteUser",
        "summary": "Delete a user",
        "parameters": [
          {
            "$ref": "#/components/parameters/username"
          },
          {
            "$ref": "#/components/parameters/userToken"
          },
          {
            "name": "username",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "User deleted",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiResponse"
                }
              }
            }
          }
        },
        "description": "Delete a user",
        "tags": [
          "users"
        ]
      }
    },
    "/users/{username}/graphs": {
      "get": {
        "operationId": "listGraphs",
        "summary": "List all graphs for a user",
        "parameters": [
          {
            "$ref": "#/components/parameters/username"
          },
          {
            "$ref": "#/components/parameters/userToken"
          },
          {
            "name": "username",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "List of graphs",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "graphs": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/Graph"
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "description": "List all graphs for a user",
        "tags": [
          "users"
        ]
      },
      "post": {
        "operationId": "createGraph",
        "summary": "Create a new graph",
        "parameters": [
          {
            "$ref": "#/components/parameters/username"
          },
          {
            "$ref": "#/components/parameters/userToken"
          },
          {
            "name": "username",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "id",
                  "name",
                  "unit",
                  "type",
                  "color"
                ],
                "properties": {
                  "id": {
                    "type": "string",
                    "description": "Graph ID (pattern: ^[a-z][a-z0-9-]{1,16})"
                  },
                  "name": {
                    "type": "string"
                  },
                  "unit": {
                    "type": "string",
                    "description": "Unit of quantity (e.g. commit, kilogram)"
                  },
                  "type": {
                    "type": "string",
                    "enum": [
                      "int",
                      "float"
                    ]
                  },
                  "color": {
                    "type": "string",
                    "enum": [
                      "shibafu",
                      "momiji",
                      "sora",
                      "ichou",
                      "ajisai",
                      "kuro"
                    ],
                    "description": "Colors: shibafu(green), momiji(red), sora(blue), ichou(yellow), ajisai(purple), kuro(black)"
                  },
                  "timezone": {
                    "type": "string",
                    "description": "TZ database name (e.g. Asia/Tokyo)"
                  },
                  "description": {
                    "type": "string",
                    "maxLength": 256
                  },
                  "startOnMonday": {
                    "type": "boolean"
                  },
                  "selfSufficient": {
                    "type": "string",
                    "enum": [
                      "none",
                      "increment",
                      "decrement"
                    ]
                  },
                  "isSecret": {
                    "type": "boolean"
                  },
                  "publishOptionalData": {
                    "type": "boolean"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Graph created",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request"
          },
          "409": {
            "description": "Graph already exists"
          }
        },
        "description": "Create a new graph",
        "tags": [
          "users"
        ]
      }
    },
    "/users/{username}/graphs/{graphId}": {
      "get": {
        "operationId": "getGraphSvg",
        "summary": "Get graph SVG",
        "description": "Returns the graph as an SVG image.",
        "security": [],
        "parameters": [
          {
            "$ref": "#/components/parameters/username"
          },
          {
            "$ref": "#/components/parameters/graphId"
          },
          {
            "name": "date",
            "in": "query",
            "description": "Display graph up to this date (yyyyMMdd)",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "mode",
            "in": "query",
            "description": "Graph display mode",
            "schema": {
              "type": "string",
              "enum": [
                "short",
                "badge",
                "line"
              ]
            }
          },
          {
            "name": "graphId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "username",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "SVG graph",
            "content": {
              "image/svg+xml": {
                "schema": {
                  "type": "string"
                }
              }
            }
          }
        },
        "tags": [
          "users"
        ]
      },
      "put": {
        "operationId": "updateGraph",
        "summary": "Update a graph definition",
        "parameters": [
          {
            "$ref": "#/components/parameters/username"
          },
          {
            "$ref": "#/components/parameters/graphId"
          },
          {
            "$ref": "#/components/parameters/userToken"
          },
          {
            "name": "graphId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "username",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "name": {
                    "type": "string"
                  },
                  "unit": {
                    "type": "string"
                  },
                  "color": {
                    "type": "string",
                    "enum": [
                      "shibafu",
                      "momiji",
                      "sora",
                      "ichou",
                      "ajisai",
                      "kuro"
                    ]
                  },
                  "timezone": {
                    "type": "string"
                  },
                  "description": {
                    "type": "string"
                  },
                  "purgeCacheURLs": {
                    "type": "array",
                    "items": {
                      "type": "string"
                    }
                  },
                  "selfSufficient": {
                    "type": "string"
                  },
                  "isSecret": {
                    "type": "boolean"
                  },
                  "publishOptionalData": {
                    "type": "boolean"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Graph updated",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiResponse"
                }
              }
            }
          }
        },
        "description": "Update a graph definition",
        "tags": [
          "users"
        ]
      },
      "delete": {
        "operationId": "deleteGraph",
        "summary": "Delete a graph",
        "parameters": [
          {
            "$ref": "#/components/parameters/username"
          },
          {
            "$ref": "#/components/parameters/graphId"
          },
          {
            "$ref": "#/components/parameters/userToken"
          },
          {
            "name": "graphId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "username",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Graph deleted",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiResponse"
                }
              }
            }
          }
        },
        "description": "Delete a graph",
        "tags": [
          "users"
        ]
      }
    },
    "/users/{username}/graphs/{graphId}/{date}": {
      "post": {
        "operationId": "createPixel",
        "summary": "Record a pixel (quantity on a date)",
        "parameters": [
          {
            "$ref": "#/components/parameters/username"
          },
          {
            "$ref": "#/components/parameters/graphId"
          },
          {
            "$ref": "#/components/parameters/userToken"
          },
          {
            "name": "date",
            "in": "path",
            "required": true,
            "description": "must be empty string for POST body date",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "graphId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "username",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "date",
                  "quantity"
                ],
                "properties": {
                  "date": {
                    "type": "string",
                    "description": "Date in yyyyMMdd format"
                  },
                  "quantity": {
                    "type": "string",
                    "description": "Quantity to record"
                  },
                  "optionalData": {
                    "type": "string",
                    "description": "Additional JSON data (max 10KB)"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Pixel recorded",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiResponse"
                }
              }
            }
          }
        },
        "description": "Record a pixel (quantity on a date)",
        "tags": [
          "users"
        ]
      },
      "get": {
        "operationId": "getPixel",
        "summary": "Get a pixel value",
        "parameters": [
          {
            "$ref": "#/components/parameters/username"
          },
          {
            "$ref": "#/components/parameters/graphId"
          },
          {
            "$ref": "#/components/parameters/userToken"
          },
          {
            "name": "date",
            "in": "path",
            "required": true,
            "description": "Date in yyyyMMdd format",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "graphId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "username",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Pixel value",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "quantity": {
                      "type": "string"
                    },
                    "optionalData": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          }
        },
        "description": "Get a pixel value",
        "tags": [
          "users"
        ]
      },
      "put": {
        "operationId": "updatePixel",
        "summary": "Update a pixel value",
        "parameters": [
          {
            "$ref": "#/components/parameters/username"
          },
          {
            "$ref": "#/components/parameters/graphId"
          },
          {
            "$ref": "#/components/parameters/userToken"
          },
          {
            "name": "date",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "graphId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "username",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "quantity": {
                    "type": "string"
                  },
                  "optionalData": {
                    "type": "string"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Pixel updated",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiResponse"
                }
              }
            }
          }
        },
        "description": "Update a pixel value",
        "tags": [
          "users"
        ]
      },
      "delete": {
        "operationId": "deletePixel",
        "summary": "Delete a pixel",
        "parameters": [
          {
            "$ref": "#/components/parameters/username"
          },
          {
            "$ref": "#/components/parameters/graphId"
          },
          {
            "$ref": "#/components/parameters/userToken"
          },
          {
            "name": "date",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "graphId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "username",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Pixel deleted",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiResponse"
                }
              }
            }
          }
        },
        "description": "Delete a pixel",
        "tags": [
          "users"
        ]
      }
    },
    "/users/{username}/graphs/{graphId}/increment": {
      "put": {
        "operationId": "incrementPixel",
        "summary": "Increment today's pixel",
        "parameters": [
          {
            "$ref": "#/components/parameters/username"
          },
          {
            "$ref": "#/components/parameters/graphId"
          },
          {
            "$ref": "#/components/parameters/userToken"
          },
          {
            "name": "graphId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "username",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Pixel incremented",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiResponse"
                }
              }
            }
          }
        },
        "description": "Increment today's pixel",
        "tags": [
          "users"
        ]
      }
    },
    "/users/{username}/graphs/{graphId}/decrement": {
      "put": {
        "operationId": "decrementPixel",
        "summary": "Decrement today's pixel",
        "parameters": [
          {
            "$ref": "#/components/parameters/username"
          },
          {
            "$ref": "#/components/parameters/graphId"
          },
          {
            "$ref": "#/components/parameters/userToken"
          },
          {
            "name": "graphId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "username",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Pixel decremented",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiResponse"
                }
              }
            }
          }
        },
        "description": "Decrement today's pixel",
        "tags": [
          "users"
        ]
      }
    },
    "/users/{username}/graphs/{graphId}/pixels": {
      "get": {
        "operationId": "listPixelDates",
        "summary": "Get dates with recorded pixels",
        "parameters": [
          {
            "$ref": "#/components/parameters/username"
          },
          {
            "$ref": "#/components/parameters/graphId"
          },
          {
            "$ref": "#/components/parameters/userToken"
          },
          {
            "name": "from",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "to",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "graphId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "username",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "List of pixel dates",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "pixels": {
                      "type": "array",
                      "items": {
                        "type": "string"
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "description": "Get dates with recorded pixels",
        "tags": [
          "users"
        ]
      }
    },
    "/users/{username}/graphs/{graphId}/stats": {
      "get": {
        "operationId": "getGraphStats",
        "summary": "Get graph statistics",
        "security": [],
        "parameters": [
          {
            "$ref": "#/components/parameters/username"
          },
          {
            "$ref": "#/components/parameters/graphId"
          },
          {
            "name": "graphId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "username",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Graph statistics",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "totalPixelsCount": {
                      "type": "integer"
                    },
                    "maxQuantity": {
                      "type": "string"
                    },
                    "minQuantity": {
                      "type": "string"
                    },
                    "totalQuantity": {
                      "type": "string"
                    },
                    "avgQuantity": {
                      "type": "string"
                    },
                    "todaysQuantity": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          }
        },
        "description": "Get graph statistics",
        "tags": [
          "users"
        ]
      }
    },
    "/users/{username}/webhooks": {
      "get": {
        "operationId": "listWebhooks",
        "summary": "List webhooks",
        "parameters": [
          {
            "$ref": "#/components/parameters/username"
          },
          {
            "$ref": "#/components/parameters/userToken"
          },
          {
            "name": "username",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "List of webhooks",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "webhooks": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/Webhook"
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "description": "List webhooks",
        "tags": [
          "users"
        ]
      },
      "post": {
        "operationId": "createWebhook",
        "summary": "Create a webhook",
        "parameters": [
          {
            "$ref": "#/components/parameters/username"
          },
          {
            "$ref": "#/components/parameters/userToken"
          },
          {
            "name": "username",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "graphID",
                  "type"
                ],
                "properties": {
                  "graphID": {
                    "type": "string"
                  },
                  "type": {
                    "type": "string",
                    "enum": [
                      "increment",
                      "decrement"
                    ]
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Webhook created",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "webhookHash": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    },
                    "isSuccess": {
                      "type": "boolean"
                    }
                  }
                }
              }
            }
          }
        },
        "description": "Create a webhook",
        "tags": [
          "users"
        ]
      }
    },
    "/users/{username}/webhooks/{webhookHash}": {
      "post": {
        "operationId": "invokeWebhook",
        "summary": "Invoke a webhook",
        "security": [],
        "parameters": [
          {
            "$ref": "#/components/parameters/username"
          },
          {
            "name": "webhookHash",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "username",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Webhook invoked",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiResponse"
                }
              }
            }
          }
        },
        "description": "Invoke a webhook",
        "tags": [
          "users"
        ]
      }
    }
  },
  "components": {
    "parameters": {
      "username": {
        "name": "username",
        "in": "path",
        "required": true,
        "schema": {
          "type": "string"
        }
      },
      "graphId": {
        "name": "graphId",
        "in": "path",
        "required": true,
        "schema": {
          "type": "string"
        }
      },
      "userToken": {
        "name": "X-USER-TOKEN",
        "in": "header",
        "required": true,
        "description": "User authentication token",
        "schema": {
          "type": "string"
        }
      }
    },
    "securitySchemes": {
      "userToken": {
        "type": "apiKey",
        "name": "X-USER-TOKEN",
        "in": "header",
        "description": "User authentication token set during registration"
      }
    },
    "schemas": {
      "ApiResponse": {
        "type": "object",
        "properties": {
          "message": {
            "type": "string"
          },
          "isSuccess": {
            "type": "boolean"
          }
        }
      },
      "Graph": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string"
          },
          "name": {
            "type": "string"
          },
          "unit": {
            "type": "string"
          },
          "type": {
            "type": "string",
            "enum": [
              "int",
              "float"
            ]
          },
          "color": {
            "type": "string"
          },
          "timezone": {
            "type": "string"
          },
          "purgeCacheURLs": {
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "selfSufficient": {
            "type": "string"
          },
          "isSecret": {
            "type": "boolean"
          },
          "publishOptionalData": {
            "type": "boolean"
          }
        }
      },
      "Webhook": {
        "type": "object",
        "properties": {
          "webhookHash": {
            "type": "string"
          },
          "graphID": {
            "type": "string"
          },
          "type": {
            "type": "string",
            "enum": [
              "increment",
              "decrement"
            ]
          }
        }
      }
    }
  },
  "tags": [
    {
      "name": "users"
    }
  ]
}
