{
  "openapi": "3.0.3",
  "info": {
    "title": "Azure SQL Database REST API",
    "description": "The Azure SQL Database REST API allows you to manage Azure SQL databases, elastic pools, servers, and related resources through Azure Resource Manager. Supports creating, updating, deleting, and querying databases, as well as operations like import, export, failover, pause, and resume.",
    "version": "2023-08-01",
    "contact": {
      "name": "Microsoft Azure Support",
      "url": "https://learn.microsoft.com/en-us/rest/api/sql/"
    },
    "x-categories": [
      "Databases",
      "Cloud"
    ],
    "x-logo": {
      "url": "https://learn.microsoft.com/favicon.ico"
    }
  },
  "servers": [
    {
      "url": "https://management.azure.com",
      "description": "Azure Resource Manager"
    }
  ],
  "security": [
    {
      "BearerAuth": []
    }
  ],
  "paths": {
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Sql/servers/{serverName}/databases": {
      "get": {
        "operationId": "listDatabasesByServer",
        "summary": "List databases by server",
        "description": "Gets a list of databases on the specified server.",
        "parameters": [
          {
            "$ref": "#/components/parameters/SubscriptionId"
          },
          {
            "$ref": "#/components/parameters/ResourceGroupName"
          },
          {
            "$ref": "#/components/parameters/ServerName"
          },
          {
            "$ref": "#/components/parameters/ApiVersion"
          },
          {
            "name": "subscriptionId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "serverName",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "resourceGroupName",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "List of databases",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DatabaseListResult"
                }
              }
            }
          },
          "default": {
            "description": "Error response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CloudError"
                }
              }
            }
          }
        },
        "tags": [
          "Databases"
        ]
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Sql/servers/{serverName}/databases/{databaseName}": {
      "get": {
        "operationId": "getDatabase",
        "summary": "Get a database",
        "description": "Gets a database.",
        "parameters": [
          {
            "$ref": "#/components/parameters/SubscriptionId"
          },
          {
            "$ref": "#/components/parameters/ResourceGroupName"
          },
          {
            "$ref": "#/components/parameters/ServerName"
          },
          {
            "$ref": "#/components/parameters/DatabaseName"
          },
          {
            "$ref": "#/components/parameters/ApiVersion"
          },
          {
            "name": "subscriptionId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "databaseName",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "serverName",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "resourceGroupName",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Database details",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Database"
                }
              }
            }
          },
          "default": {
            "description": "Error response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CloudError"
                }
              }
            }
          }
        },
        "tags": [
          "Databases"
        ]
      },
      "put": {
        "operationId": "createOrUpdateDatabase",
        "summary": "Create or update a database",
        "description": "Creates a new database or updates an existing database.",
        "parameters": [
          {
            "$ref": "#/components/parameters/SubscriptionId"
          },
          {
            "$ref": "#/components/parameters/ResourceGroupName"
          },
          {
            "$ref": "#/components/parameters/ServerName"
          },
          {
            "$ref": "#/components/parameters/DatabaseName"
          },
          {
            "$ref": "#/components/parameters/ApiVersion"
          },
          {
            "name": "subscriptionId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "databaseName",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "serverName",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "resourceGroupName",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/Database"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Database updated",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Database"
                }
              }
            }
          },
          "201": {
            "description": "Database created",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Database"
                }
              }
            }
          },
          "202": {
            "description": "Accepted - operation in progress"
          },
          "default": {
            "description": "Error response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CloudError"
                }
              }
            }
          }
        },
        "tags": [
          "Databases"
        ]
      },
      "patch": {
        "operationId": "updateDatabase",
        "summary": "Update a database",
        "description": "Updates an existing database.",
        "parameters": [
          {
            "$ref": "#/components/parameters/SubscriptionId"
          },
          {
            "$ref": "#/components/parameters/ResourceGroupName"
          },
          {
            "$ref": "#/components/parameters/ServerName"
          },
          {
            "$ref": "#/components/parameters/DatabaseName"
          },
          {
            "$ref": "#/components/parameters/ApiVersion"
          },
          {
            "name": "subscriptionId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "databaseName",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "serverName",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "resourceGroupName",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/DatabaseUpdate"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Database updated",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Database"
                }
              }
            }
          },
          "202": {
            "description": "Accepted - operation in progress"
          },
          "default": {
            "description": "Error response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CloudError"
                }
              }
            }
          }
        },
        "tags": [
          "Databases"
        ]
      },
      "delete": {
        "operationId": "deleteDatabase",
        "summary": "Delete a database",
        "description": "Deletes the database.",
        "parameters": [
          {
            "$ref": "#/components/parameters/SubscriptionId"
          },
          {
            "$ref": "#/components/parameters/ResourceGroupName"
          },
          {
            "$ref": "#/components/parameters/ServerName"
          },
          {
            "$ref": "#/components/parameters/DatabaseName"
          },
          {
            "$ref": "#/components/parameters/ApiVersion"
          },
          {
            "name": "subscriptionId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "databaseName",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "serverName",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "resourceGroupName",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Database deleted"
          },
          "202": {
            "description": "Accepted - deletion in progress"
          },
          "204": {
            "description": "Database not found"
          },
          "default": {
            "description": "Error response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CloudError"
                }
              }
            }
          }
        },
        "tags": [
          "Databases"
        ]
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Sql/servers/{serverName}/databases/{databaseName}/export": {
      "post": {
        "operationId": "exportDatabase",
        "summary": "Export a database",
        "description": "Exports a database to a bacpac file.",
        "parameters": [
          {
            "$ref": "#/components/parameters/SubscriptionId"
          },
          {
            "$ref": "#/components/parameters/ResourceGroupName"
          },
          {
            "$ref": "#/components/parameters/ServerName"
          },
          {
            "$ref": "#/components/parameters/DatabaseName"
          },
          {
            "$ref": "#/components/parameters/ApiVersion"
          },
          {
            "name": "subscriptionId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "databaseName",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "serverName",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "resourceGroupName",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ExportDatabaseDefinition"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Export completed",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ImportExportOperationResult"
                }
              }
            }
          },
          "202": {
            "description": "Accepted - export in progress"
          },
          "default": {
            "description": "Error response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CloudError"
                }
              }
            }
          }
        },
        "tags": [
          "Databases"
        ]
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Sql/servers/{serverName}/databases/{databaseName}/import": {
      "post": {
        "operationId": "importDatabase",
        "summary": "Import a database",
        "description": "Imports a bacpac into a new database.",
        "parameters": [
          {
            "$ref": "#/components/parameters/SubscriptionId"
          },
          {
            "$ref": "#/components/parameters/ResourceGroupName"
          },
          {
            "$ref": "#/components/parameters/ServerName"
          },
          {
            "$ref": "#/components/parameters/DatabaseName"
          },
          {
            "$ref": "#/components/parameters/ApiVersion"
          },
          {
            "name": "subscriptionId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "databaseName",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "serverName",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "resourceGroupName",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ImportExistingDatabaseDefinition"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Import completed",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ImportExportOperationResult"
                }
              }
            }
          },
          "202": {
            "description": "Accepted - import in progress"
          },
          "default": {
            "description": "Error response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CloudError"
                }
              }
            }
          }
        },
        "tags": [
          "Databases"
        ]
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Sql/servers/{serverName}/databases/{databaseName}/failover": {
      "post": {
        "operationId": "failoverDatabase",
        "summary": "Failover a database",
        "description": "Failovers a database.",
        "parameters": [
          {
            "$ref": "#/components/parameters/SubscriptionId"
          },
          {
            "$ref": "#/components/parameters/ResourceGroupName"
          },
          {
            "$ref": "#/components/parameters/ServerName"
          },
          {
            "$ref": "#/components/parameters/DatabaseName"
          },
          {
            "$ref": "#/components/parameters/ApiVersion"
          },
          {
            "name": "replicaType",
            "in": "query",
            "description": "The type of replica to failover",
            "schema": {
              "type": "string",
              "enum": [
                "Primary",
                "ReadableSecondary"
              ]
            }
          },
          {
            "name": "subscriptionId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "databaseName",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "serverName",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "resourceGroupName",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Failover completed"
          },
          "202": {
            "description": "Accepted - failover in progress"
          },
          "default": {
            "description": "Error response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CloudError"
                }
              }
            }
          }
        },
        "tags": [
          "Databases"
        ]
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Sql/servers/{serverName}/databases/{databaseName}/pause": {
      "post": {
        "operationId": "pauseDatabase",
        "summary": "Pause a database",
        "description": "Pauses a data warehouse database.",
        "parameters": [
          {
            "$ref": "#/components/parameters/SubscriptionId"
          },
          {
            "$ref": "#/components/parameters/ResourceGroupName"
          },
          {
            "$ref": "#/components/parameters/ServerName"
          },
          {
            "$ref": "#/components/parameters/DatabaseName"
          },
          {
            "$ref": "#/components/parameters/ApiVersion"
          },
          {
            "name": "subscriptionId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "databaseName",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "serverName",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "resourceGroupName",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Database paused",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Database"
                }
              }
            }
          },
          "202": {
            "description": "Accepted - pause in progress"
          },
          "default": {
            "description": "Error response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CloudError"
                }
              }
            }
          }
        },
        "tags": [
          "Databases"
        ]
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Sql/servers/{serverName}/databases/{databaseName}/resume": {
      "post": {
        "operationId": "resumeDatabase",
        "summary": "Resume a database",
        "description": "Resumes a data warehouse database.",
        "parameters": [
          {
            "$ref": "#/components/parameters/SubscriptionId"
          },
          {
            "$ref": "#/components/parameters/ResourceGroupName"
          },
          {
            "$ref": "#/components/parameters/ServerName"
          },
          {
            "$ref": "#/components/parameters/DatabaseName"
          },
          {
            "$ref": "#/components/parameters/ApiVersion"
          },
          {
            "name": "subscriptionId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "databaseName",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "serverName",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "resourceGroupName",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Database resumed",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Database"
                }
              }
            }
          },
          "202": {
            "description": "Accepted - resume in progress"
          },
          "default": {
            "description": "Error response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CloudError"
                }
              }
            }
          }
        },
        "tags": [
          "Databases"
        ]
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Sql/servers/{serverName}/databases/{databaseName}/move": {
      "post": {
        "operationId": "renameDatabase",
        "summary": "Rename a database",
        "description": "Renames a database.",
        "parameters": [
          {
            "$ref": "#/components/parameters/SubscriptionId"
          },
          {
            "$ref": "#/components/parameters/ResourceGroupName"
          },
          {
            "$ref": "#/components/parameters/ServerName"
          },
          {
            "$ref": "#/components/parameters/DatabaseName"
          },
          {
            "$ref": "#/components/parameters/ApiVersion"
          },
          {
            "name": "subscriptionId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "databaseName",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "serverName",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "resourceGroupName",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "id"
                ],
                "properties": {
                  "id": {
                    "type": "string",
                    "description": "The target resource ID to rename the database to, in the format /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Sql/servers/{serverName}/databases/{databaseName}"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Database renamed"
          },
          "default": {
            "description": "Error response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CloudError"
                }
              }
            }
          }
        },
        "tags": [
          "Databases"
        ]
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Sql/servers/{serverName}/elasticPools/{elasticPoolName}/databases": {
      "get": {
        "operationId": "listDatabasesByElasticPool",
        "summary": "List databases in an elastic pool",
        "description": "Gets a list of databases in an elastic pool.",
        "parameters": [
          {
            "$ref": "#/components/parameters/SubscriptionId"
          },
          {
            "$ref": "#/components/parameters/ResourceGroupName"
          },
          {
            "$ref": "#/components/parameters/ServerName"
          },
          {
            "name": "elasticPoolName",
            "in": "path",
            "required": true,
            "description": "The name of the elastic pool",
            "schema": {
              "type": "string"
            }
          },
          {
            "$ref": "#/components/parameters/ApiVersion"
          },
          {
            "name": "subscriptionId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "serverName",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "resourceGroupName",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "List of databases",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DatabaseListResult"
                }
              }
            }
          },
          "default": {
            "description": "Error response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CloudError"
                }
              }
            }
          }
        },
        "tags": [
          "Databases"
        ]
      }
    }
  },
  "components": {
    "securitySchemes": {
      "BearerAuth": {
        "type": "http",
        "scheme": "bearer",
        "bearerFormat": "JWT",
        "description": "Azure AD OAuth2 bearer token"
      }
    },
    "parameters": {
      "SubscriptionId": {
        "name": "subscriptionId",
        "in": "path",
        "required": true,
        "description": "The subscription ID",
        "schema": {
          "type": "string",
          "format": "uuid"
        }
      },
      "ResourceGroupName": {
        "name": "resourceGroupName",
        "in": "path",
        "required": true,
        "description": "The name of the resource group",
        "schema": {
          "type": "string"
        }
      },
      "ServerName": {
        "name": "serverName",
        "in": "path",
        "required": true,
        "description": "The name of the server",
        "schema": {
          "type": "string"
        }
      },
      "DatabaseName": {
        "name": "databaseName",
        "in": "path",
        "required": true,
        "description": "The name of the database",
        "schema": {
          "type": "string"
        }
      },
      "ApiVersion": {
        "name": "api-version",
        "in": "query",
        "required": true,
        "description": "The API version to use",
        "schema": {
          "type": "string",
          "default": "2023-08-01"
        }
      }
    },
    "schemas": {
      "Database": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "readOnly": true,
            "description": "Resource ID"
          },
          "name": {
            "type": "string",
            "readOnly": true,
            "description": "Resource name"
          },
          "type": {
            "type": "string",
            "readOnly": true,
            "description": "Resource type"
          },
          "location": {
            "type": "string",
            "description": "Resource location"
          },
          "tags": {
            "type": "object",
            "additionalProperties": {
              "type": "string"
            },
            "description": "Resource tags"
          },
          "sku": {
            "$ref": "#/components/schemas/Sku"
          },
          "properties": {
            "$ref": "#/components/schemas/DatabaseProperties"
          }
        }
      },
      "DatabaseProperties": {
        "type": "object",
        "properties": {
          "collation": {
            "type": "string",
            "description": "The collation of the database"
          },
          "maxSizeBytes": {
            "type": "integer",
            "format": "int64",
            "description": "The max size of the database in bytes"
          },
          "status": {
            "type": "string",
            "readOnly": true,
            "description": "Status of the database",
            "enum": [
              "Online",
              "Restoring",
              "RecoveryPending",
              "Recovering",
              "Suspect",
              "Offline",
              "Standby",
              "Shutdown",
              "EmergencyMode",
              "AutoClosed",
              "Copying",
              "Creating",
              "Inaccessible",
              "OfflineSecondary",
              "Pausing",
              "Paused",
              "Resuming",
              "Scaling",
              "OfflineChangingDwPerformanceTiers",
              "OnlineChangingDwPerformanceTiers",
              "Disabled"
            ]
          },
          "databaseId": {
            "type": "string",
            "format": "uuid",
            "readOnly": true,
            "description": "The ID of the database"
          },
          "creationDate": {
            "type": "string",
            "format": "date-time",
            "readOnly": true
          },
          "elasticPoolId": {
            "type": "string",
            "description": "The resource ID of the elastic pool"
          },
          "catalogCollation": {
            "type": "string",
            "enum": [
              "DATABASE_DEFAULT",
              "SQL_Latin1_General_CP1_CI_AS"
            ]
          },
          "zoneRedundant": {
            "type": "boolean",
            "description": "Whether the database is zone-redundant"
          },
          "licenseType": {
            "type": "string",
            "enum": [
              "LicenseIncluded",
              "BasePrice"
            ]
          },
          "readScale": {
            "type": "string",
            "enum": [
              "Enabled",
              "Disabled"
            ]
          },
          "secondaryType": {
            "type": "string",
            "enum": [
              "Geo",
              "Named",
              "Standby"
            ]
          },
          "currentSku": {
            "$ref": "#/components/schemas/Sku",
            "readOnly": true
          },
          "autoPauseDelay": {
            "type": "integer",
            "description": "Auto-pause delay in minutes (-1 to disable)"
          },
          "currentBackupStorageRedundancy": {
            "type": "string",
            "readOnly": true
          },
          "requestedBackupStorageRedundancy": {
            "type": "string",
            "enum": [
              "Geo",
              "Local",
              "Zone",
              "GeoZone"
            ]
          },
          "minCapacity": {
            "type": "number",
            "format": "double",
            "description": "Minimum vCores capacity"
          },
          "isLedgerOn": {
            "type": "boolean"
          },
          "isInfraEncryptionEnabled": {
            "type": "boolean",
            "readOnly": true
          }
        }
      },
      "DatabaseUpdate": {
        "type": "object",
        "properties": {
          "sku": {
            "$ref": "#/components/schemas/Sku"
          },
          "tags": {
            "type": "object",
            "additionalProperties": {
              "type": "string"
            }
          },
          "properties": {
            "$ref": "#/components/schemas/DatabaseProperties"
          }
        }
      },
      "DatabaseListResult": {
        "type": "object",
        "properties": {
          "value": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Database"
            },
            "readOnly": true
          },
          "nextLink": {
            "type": "string",
            "readOnly": true
          }
        }
      },
      "Sku": {
        "type": "object",
        "required": [
          "name"
        ],
        "properties": {
          "name": {
            "type": "string",
            "description": "The name of the SKU (e.g., GP_S_Gen5_2, GP_Gen5_2, BC_Gen5_2)"
          },
          "tier": {
            "type": "string",
            "description": "The tier (e.g., GeneralPurpose, BusinessCritical)"
          },
          "size": {
            "type": "string"
          },
          "family": {
            "type": "string"
          },
          "capacity": {
            "type": "integer",
            "description": "Capacity of the SKU"
          }
        }
      },
      "ExportDatabaseDefinition": {
        "type": "object",
        "required": [
          "storageKeyType",
          "storageKey",
          "storageUri",
          "administratorLogin",
          "administratorLoginPassword"
        ],
        "properties": {
          "storageKeyType": {
            "type": "string",
            "enum": [
              "StorageAccessKey",
              "SharedAccessKey"
            ]
          },
          "storageKey": {
            "type": "string",
            "description": "Storage key"
          },
          "storageUri": {
            "type": "string",
            "format": "uri",
            "description": "Storage URI"
          },
          "administratorLogin": {
            "type": "string"
          },
          "administratorLoginPassword": {
            "type": "string",
            "format": "password"
          },
          "authenticationType": {
            "type": "string",
            "enum": [
              "SQL",
              "ADPassword"
            ]
          },
          "networkIsolation": {
            "type": "object",
            "properties": {
              "storageAccountResourceId": {
                "type": "string"
              },
              "sqlServerResourceId": {
                "type": "string"
              }
            }
          }
        }
      },
      "ImportExistingDatabaseDefinition": {
        "type": "object",
        "required": [
          "storageKeyType",
          "storageKey",
          "storageUri",
          "administratorLogin",
          "administratorLoginPassword"
        ],
        "properties": {
          "storageKeyType": {
            "type": "string",
            "enum": [
              "StorageAccessKey",
              "SharedAccessKey"
            ]
          },
          "storageKey": {
            "type": "string"
          },
          "storageUri": {
            "type": "string",
            "format": "uri"
          },
          "administratorLogin": {
            "type": "string"
          },
          "administratorLoginPassword": {
            "type": "string",
            "format": "password"
          },
          "authenticationType": {
            "type": "string",
            "enum": [
              "SQL",
              "ADPassword"
            ]
          }
        }
      },
      "ImportExportOperationResult": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "readOnly": true
          },
          "name": {
            "type": "string",
            "readOnly": true
          },
          "type": {
            "type": "string",
            "readOnly": true
          },
          "properties": {
            "type": "object",
            "properties": {
              "requestId": {
                "type": "string",
                "format": "uuid",
                "readOnly": true
              },
              "requestType": {
                "type": "string",
                "readOnly": true
              },
              "lastModifiedTime": {
                "type": "string",
                "readOnly": true
              },
              "serverName": {
                "type": "string",
                "readOnly": true
              },
              "databaseName": {
                "type": "string",
                "readOnly": true
              },
              "status": {
                "type": "string",
                "readOnly": true
              }
            }
          }
        }
      },
      "CloudError": {
        "type": "object",
        "properties": {
          "error": {
            "type": "object",
            "properties": {
              "code": {
                "type": "string"
              },
              "message": {
                "type": "string"
              }
            }
          }
        }
      }
    }
  },
  "tags": [
    {
      "name": "Databases",
      "description": "Azure SQL Database management operations"
    }
  ]
}
