{
  "openapi": "3.0.3",
  "info": {
    "title": "Brandfetch API",
    "description": "Our APIs help you personalize your customer journey through unique branded experiences.",
    "license": {
      "name": "MIT"
    },
    "version": "1.0.0",
    "x-jentic-source-url": "https://docs.brandfetch.com/",
    "contact": {
      "name": "API Support"
    }
  },
  "servers": [
    {
      "url": "https://api.brandfetch.io"
    }
  ],
  "paths": {
    "/v2/brands/{identifier}": {
      "get": {
        "summary": "Get brand data",
        "description": "Get brand data using a Domain, Brand ID, ISIN, Stock/ETF ticker, or Crypto symbol.",
        "operationId": "getBrandData",
        "tags": [
          "brands"
        ],
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "identifier",
            "in": "path",
            "description": "Identifier to retrieve brand data. Accepted formats:\n\n- **Domain:** `nike.com`\n- **Brand ID:** `id_0dwKPKT`\n- **Stock or ETF ticker:** `NKE`\n- **ISIN:** `US6541061031`\n- **Crypto symbol:** `BTC`, `ETH`\n\n**Note:** When using this generic endpoint, the identifier is resolved in the following order: `domain` → `ticker` → `isin` → `crypto`. To avoid naming collisions, use explicit type routes: `/v2/brands/{type}/{identifier}` where `type` can be `domain`, `ticker`, `isin`, or `crypto`.",
            "required": true,
            "schema": {
              "type": "string"
            },
            "examples": {
              "domain": {
                "summary": "Domain",
                "value": "nike.com"
              },
              "brandId": {
                "summary": "Brand ID",
                "value": "id_0dwKPKT"
              },
              "ISIN": {
                "summary": "ISIN",
                "value": "US6541061031"
              },
              "stockSymbol": {
                "summary": "Stock or ETF ticker",
                "value": "NKE"
              },
              "cryptoSymbol": {
                "summary": "Crypto symbol",
                "value": "BTC"
              }
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful request.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BrandResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {
                      "type": "string",
                      "enum": [
                        "Bad Request"
                      ]
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {
                      "type": "string",
                      "enum": [
                        "Unauthorized"
                      ]
                    }
                  }
                }
              }
            }
          },
          "404": {
            "description": "<Not Found> or <Invalid Domain Name>",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {
                      "type": "string",
                      "enum": [
                        "<Not Found> or <Invalid Domain Name>"
                      ]
                    }
                  }
                }
              }
            }
          },
          "429": {
            "description": "API key quota exceeded",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {
                      "type": "string",
                      "enum": [
                        "API key quota exceeded"
                      ]
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/v2/brands/domain/{domain}": {
      "get": {
        "summary": "Get brand data by domain",
        "description": "Get brand data using a domain name identifier.",
        "operationId": "getBrandDataByDomain",
        "tags": [
          "brands"
        ],
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "domain",
            "in": "path",
            "description": "Domain name (e.g., `nike.com`)",
            "required": true,
            "schema": {
              "type": "string"
            },
            "examples": {
              "domain": {
                "summary": "Domain",
                "value": "nike.com"
              }
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful request.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BrandResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {
                      "type": "string",
                      "enum": [
                        "Bad Request"
                      ]
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {
                      "type": "string",
                      "enum": [
                        "Unauthorized"
                      ]
                    }
                  }
                }
              }
            }
          },
          "404": {
            "description": "<Not Found> or <Invalid Domain Name>",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {
                      "type": "string",
                      "enum": [
                        "<Not Found> or <Invalid Domain Name>"
                      ]
                    }
                  }
                }
              }
            }
          },
          "429": {
            "description": "API key quota exceeded",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {
                      "type": "string",
                      "enum": [
                        "API key quota exceeded"
                      ]
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/v2/brands/ticker/{ticker}": {
      "get": {
        "summary": "Get brand data by Stock or ETF ticker",
        "description": "Get brand data using a Stock or ETF ticker.",
        "operationId": "getBrandDataByTicker",
        "tags": [
          "brands"
        ],
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "ticker",
            "in": "path",
            "description": "Stock or ETF ticker (e.g., `NKE`, `QQQ`)",
            "required": true,
            "schema": {
              "type": "string"
            },
            "examples": {
              "ticker": {
                "summary": "Stock or ETF ticker",
                "value": "NKE"
              }
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful request.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BrandResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {
                      "type": "string",
                      "enum": [
                        "Bad Request"
                      ]
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {
                      "type": "string",
                      "enum": [
                        "Unauthorized"
                      ]
                    }
                  }
                }
              }
            }
          },
          "404": {
            "description": "<Not Found>",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {
                      "type": "string",
                      "enum": [
                        "<Not Found>"
                      ]
                    }
                  }
                }
              }
            }
          },
          "429": {
            "description": "API key quota exceeded",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {
                      "type": "string",
                      "enum": [
                        "API key quota exceeded"
                      ]
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/v2/brands/isin/{isin}": {
      "get": {
        "summary": "Get brand data by ISIN",
        "description": "Get brand data using an ISIN code.",
        "operationId": "getBrandDataByIsin",
        "tags": [
          "brands"
        ],
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "isin",
            "in": "path",
            "description": "ISIN code (e.g., `US6541061031`)",
            "required": true,
            "schema": {
              "type": "string"
            },
            "examples": {
              "isin": {
                "summary": "ISIN",
                "value": "US6541061031"
              }
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful request.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BrandResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {
                      "type": "string",
                      "enum": [
                        "Bad Request"
                      ]
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {
                      "type": "string",
                      "enum": [
                        "Unauthorized"
                      ]
                    }
                  }
                }
              }
            }
          },
          "404": {
            "description": "<Not Found> or <Invalid ISIN>",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {
                      "type": "string",
                      "enum": [
                        "<Not Found> or <Invalid ISIN>"
                      ]
                    }
                  }
                }
              }
            }
          },
          "429": {
            "description": "API key quota exceeded",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {
                      "type": "string",
                      "enum": [
                        "API key quota exceeded"
                      ]
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/v2/brands/crypto/{symbol}": {
      "get": {
        "summary": "Get brand data by crypto symbol",
        "description": "Get brand data using a crypto symbol.",
        "operationId": "getBrandDataByCrypto",
        "tags": [
          "brands"
        ],
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "symbol",
            "in": "path",
            "description": "Crypto symbol (e.g., `BTC`, `ETH`). Uppercase preferred.",
            "required": true,
            "schema": {
              "type": "string"
            },
            "examples": {
              "crypto": {
                "summary": "Crypto symbol",
                "value": "BTC"
              }
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful request.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BrandResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {
                      "type": "string",
                      "enum": [
                        "Bad Request"
                      ]
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {
                      "type": "string",
                      "enum": [
                        "Unauthorized"
                      ]
                    }
                  }
                }
              }
            }
          },
          "404": {
            "description": "<Not Found> or <Invalid Crypto Symbol>",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {
                      "type": "string",
                      "enum": [
                        "<Not Found> or <Invalid Crypto Symbol>"
                      ]
                    }
                  }
                }
              }
            }
          },
          "429": {
            "description": "API key quota exceeded",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {
                      "type": "string",
                      "enum": [
                        "API key quota exceeded"
                      ]
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/v2/search/{name}?c={clientId}": {
      "get": {
        "summary": "Search brands",
        "description": "Search for brands by name, login to get a clientId",
        "operationId": "searchBrands",
        "parameters": [
          {
            "name": "name",
            "in": "path",
            "description": "The name of the company you are searching for.",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "c",
            "in": "query",
            "description": "A clientId is a unique identifier assigned to your application that allows it to authenticate and interact with our service. [Get your client ID here](https://developers.brandfetch.com)",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "clientId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Returns brand data",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "icon": {
                        "type": "string",
                        "description": "Brand icon URL",
                        "nullable": true
                      },
                      "name": {
                        "type": "string",
                        "description": "Brand name",
                        "nullable": true
                      },
                      "domain": {
                        "type": "string",
                        "description": "Brand website URL",
                        "nullable": false
                      },
                      "claimed": {
                        "type": "boolean",
                        "description": "Set to true if the owner of the brand claimed its brand profile on [Brandfetch](https://brandfetch.com)"
                      },
                      "brandId": {
                        "type": "string",
                        "description": "Unique identifier for the brand"
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          }
        },
        "tags": [
          "v2"
        ]
      }
    },
    "/v2/brands/transaction": {
      "post": {
        "summary": "Get brand data from a transaction",
        "description": "Turn payment transactions into merchant data.",
        "operationId": "getBrandFromTransaction",
        "tags": [
          "brands"
        ],
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "transactionLabel": {
                    "type": "string",
                    "description": "The raw transaction text.",
                    "example": "STARBUCKS 1523 OMAHA NE"
                  },
                  "countryCode": {
                    "type": "string",
                    "description": "An ISO 3166-1 alpha-2 country code indicating the country where the transaction took place.",
                    "example": "US"
                  }
                },
                "required": [
                  "transactionLabel",
                  "countryCode"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful request.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BrandResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {
                      "type": "string",
                      "enum": [
                        "Bad Request"
                      ]
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {
                      "type": "string",
                      "enum": [
                        "Unauthorized"
                      ]
                    }
                  }
                }
              }
            }
          },
          "404": {
            "description": "Not Found",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {
                      "type": "string",
                      "enum": [
                        "Not Found"
                      ]
                    }
                  }
                }
              }
            }
          },
          "429": {
            "description": "API key quota exceeded",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {
                      "type": "string",
                      "enum": [
                        "API key quota exceeded"
                      ]
                    }
                  }
                }
              }
            }
          }
        }
      }
    }
  },
  "components": {
    "schemas": {
      "Location": {
        "type": "object",
        "description": "Company's headquarter information",
        "properties": {
          "city": {
            "type": "string",
            "description": "Headquarter city",
            "nullable": true
          },
          "country": {
            "type": "string",
            "description": "Headquarter country",
            "nullable": true
          },
          "countryCode": {
            "type": "string",
            "description": "Headquarter country code (ISO 3166-1 alpha-2)",
            "nullable": true
          },
          "region": {
            "type": "string",
            "description": "Headquarter region",
            "nullable": true
          },
          "state": {
            "type": "string",
            "description": "Headquarter state",
            "nullable": true
          },
          "subregion": {
            "type": "string",
            "description": "Headquarter subregion",
            "nullable": true
          }
        }
      },
      "Industry": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "description": "Unique identifier for the industry"
          },
          "score": {
            "type": "number",
            "format": "float",
            "description": "Score between 0-1 about the confidence in the industry"
          },
          "slug": {
            "type": "string",
            "description": "URL friendly identifier"
          },
          "name": {
            "type": "string",
            "description": "Name of the industry"
          },
          "emoji": {
            "type": "string",
            "description": "An emoji for the industry"
          },
          "parent": {
            "description": "If the object is a sub-category, the parent industry",
            "items": {
              "$ref": "#/components/schemas/IndustryParent"
            },
            "nullable": true
          }
        }
      },
      "IndustryParent": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "description": "Unique identifier for the industry"
          },
          "slug": {
            "type": "string",
            "description": "URL friendly identifier"
          },
          "name": {
            "type": "string",
            "description": "Name of the industry"
          },
          "emoji": {
            "type": "string",
            "description": "An emoji for the industry"
          }
        }
      },
      "Format": {
        "type": "object",
        "properties": {
          "src": {
            "type": "string",
            "description": "File source"
          },
          "format": {
            "type": "string",
            "enum": [
              "svg",
              "webp",
              "png",
              "jpeg"
            ],
            "description": "File format"
          },
          "height": {
            "type": "integer",
            "nullable": true,
            "description": "File height in pixels"
          },
          "width": {
            "type": "integer",
            "nullable": true,
            "description": "File width in pixels"
          },
          "size": {
            "type": "integer",
            "description": "File size in bytes"
          },
          "background": {
            "type": "string",
            "enum": [
              "transparent"
            ],
            "nullable": true,
            "description": "Indicates if the file has a transparent background"
          }
        }
      },
      "ErrorResponse": {
        "type": "object",
        "properties": {
          "message": {
            "type": "string",
            "enum": [
              "Error message."
            ]
          }
        }
      },
      "BrandResponse": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "description": "Unique identifier for the brand",
            "nullable": false
          },
          "name": {
            "type": "string",
            "description": "Brand name",
            "nullable": true
          },
          "domain": {
            "type": "string",
            "description": "Brand website URL",
            "nullable": false
          },
          "claimed": {
            "type": "boolean",
            "description": "Set to true if the owner of the brand claimed its brand profile on [Brandfetch](https://brandfetch.com)",
            "nullable": false
          },
          "description": {
            "type": "string",
            "description": "Brand description",
            "nullable": true
          },
          "longDescription": {
            "type": "string",
            "description": "Brand long description",
            "nullable": true
          },
          "links": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "name": {
                  "type": "string",
                  "description": "Name of the social media platform",
                  "nullable": false,
                  "enum": [
                    "twitter",
                    "facebook",
                    "instagram",
                    "github",
                    "youtube",
                    "linkedin",
                    "crunchbase"
                  ]
                },
                "url": {
                  "type": "string",
                  "description": "URL of the social media profile",
                  "nullable": false
                }
              }
            },
            "description": "Social media links of the brand",
            "nullable": false
          },
          "logos": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "theme": {
                  "type": "string",
                  "description": "See logo theme. Possible values:\n- **dark**: A dark logo should be displayed on a light background (e.g. #ffffff)\n- **light**: A light logo should be displayed on a dark background (e.g. #000000)",
                  "nullable": true,
                  "enum": [
                    "dark",
                    "light",
                    null
                  ]
                },
                "formats": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Format"
                  },
                  "description": "A list of format objects containing files in different formats",
                  "nullable": false
                },
                "tags": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {}
                  },
                  "description": "A list of string attached to the logo. For example, if the logo icon is \"photographic\" rather than a logomark. Possible values:\n- **photographic**: The asset image is photographic in nature. For example, if this tag is present on an icon or Logo asset, it means the image has photographic qualities and is likely not a typical brand logotype or logomark graphic.\n- **portrait**: The asset image is a portrait or portrait-like. This is often the case when a sole proprietorship or small brand uses a self portrait as their logo or icon.",
                  "nullable": false
                },
                "type": {
                  "type": "string",
                  "description": "See logo type. Possible values:\n- **icon**: The icon that is used on social profiles (e.g. [Tesla's social icon](https://cdn.brandfetch.io/tesla.com/icon))\n- **logo**: The horizontal logo, seen on large surfaces (e.g. [Tesla's logo](https://asset.brandfetch.io/id2S-kXbuK/idAJ5NMLPG.svg))\n- **symbol**: The universal mark that abstractly represents the brand (e.g. [Tesla's T symbol](https://asset.brandfetch.io/id2S-kXbuK/idM-t614MT.svg))\n- **other**: Other is used to refer to any type of logo that is not the primary one. (e.g. Amazon Kindle Logo)",
                  "nullable": false,
                  "enum": [
                    "icon",
                    "logo",
                    "symbol",
                    "other"
                  ]
                }
              }
            },
            "description": "Logos, symbols & icons of the brand",
            "nullable": false
          },
          "colors": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "hex": {
                  "type": "string",
                  "description": "Color HEX code",
                  "nullable": false
                },
                "type": {
                  "type": "string",
                  "description": "Type of the color. Possible values:\n- **accent**: The main color that represents the brand (used to draw attention e.g. call to action button)\n- **dark**: The darker color of the brand (used for surfaces or backgrounds)\n- **light**: The lighter color of the brand (used for surfaces or backgrounds)\n- **brand**: The full-color scheme of the brand (used to create color palettes users can pick from)",
                  "nullable": false,
                  "enum": [
                    "accent",
                    "dark",
                    "light",
                    "brand"
                  ]
                },
                "brightness": {
                  "type": "number",
                  "description": "Color brightness. Calculated based on the standard formula 0.2126*R + 0.7152*G + 0.0722*B",
                  "nullable": false,
                  "format": "float"
                }
              }
            },
            "description": "Accent, dark, light & palette colors of the brand",
            "nullable": false
          },
          "fonts": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "name": {
                  "type": "string",
                  "description": "Font family",
                  "nullable": true
                },
                "type": {
                  "type": "string",
                  "description": "Font type",
                  "nullable": false,
                  "enum": [
                    "title",
                    "body"
                  ]
                },
                "origin": {
                  "type": "string",
                  "description": "See font origin. Possible values:\n- **google**: The font that's hosted on Google Font\n- **custom**: The font that has been uploaded by the brand itself\n- **system**: The font that's already installed on the user's operating system (see example)",
                  "enum": [
                    "google",
                    "custom",
                    "system"
                  ]
                },
                "originId": {
                  "type": "string",
                  "description": "Font origin ID",
                  "nullable": true
                },
                "weights": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {}
                  }
                }
              }
            },
            "description": "Title & body fonts of the brand",
            "nullable": false
          },
          "images": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "formats": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Format"
                  },
                  "description": "Available formats of the image",
                  "nullable": false
                },
                "tags": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {}
                  },
                  "description": "Tags associated with the image",
                  "nullable": false
                },
                "type": {
                  "type": "string",
                  "description": "Image type",
                  "nullable": false,
                  "enum": [
                    "banner",
                    "other"
                  ]
                }
              }
            },
            "description": "Banner & other images of the brand",
            "nullable": false
          },
          "qualityScore": {
            "type": "number",
            "description": "Score between 0-1 which indicates the quality of the data for the given brand. Useful when you don't want to show lower quality brands to your users.\n\nLower 3rd is poor quality, middle 3rd is OK quality, upper 3rd is high quality. Lower scores indicate that a brand is less likely to be \"real\". For example, where google.com will score high, my-random-blog.com will score between 0.3-0.4. The score factors in things like data-recency, whether the brand has been claimed, if it has been manually verified by our team, the brand's domain ranking on the web, as well as other factors.\n\nDon't rely on a fixed score for any given brand. The way we calculate this score may change over time as we add new factors, or tweak the weights of existing ones such that a score for a given brand may change. However, they will remain aligned such that scores divide quality into thirds: low, medium, high.",
            "nullable": false
          },
          "company": {
            "type": "object",
            "properties": {
              "employees": {
                "type": "integer",
                "description": "1 employee, 2-10 employees, 11-50 employees, 51-200 employees, 201-500 employees, 501-1,000 employees, 1,001-5,000 employees, 5,001-10,000 employees, 10,001+ employees",
                "enum": [
                  1,
                  2,
                  11,
                  51,
                  201,
                  501,
                  1001,
                  5001,
                  10001
                ],
                "nullable": true
              },
              "financialIdentifiers": {
                "type": "object",
                "description": "Object holding financial identifiers",
                "properties": {
                  "isin": {
                    "type": "array",
                    "description": "List of ISIN codes",
                    "items": {
                      "type": "string"
                    }
                  },
                  "ticker": {
                    "type": "array",
                    "description": "List of Stock or ETF ticker",
                    "items": {
                      "type": "string"
                    }
                  }
                },
                "nullable": true
              },
              "foundedYear": {
                "type": "integer",
                "description": "The year the brand was founded",
                "nullable": true
              },
              "industries": {
                "type": "array",
                "items": {
                  "$ref": "#/components/schemas/Industry"
                },
                "description": "An array of industry categories, sorted by descending confidence. See the full list of industries [here](https://docs.google.com/spreadsheets/d/1N44nMfVtPCFM4ebTcmRlqbyxjFtDAGVuqd0mh0dcOU0/edit?usp=sharing)"
              },
              "kind": {
                "type": "string",
                "description": "Organizational Structure",
                "enum": [
                  "EDUCATIONAL",
                  "GOVERNMENT_AGENCY",
                  "NON_PROFIT",
                  "PARTNERSHIP",
                  "PRIVATELY_HELD",
                  "PUBLIC_COMPANY",
                  "SELF_EMPLOYED",
                  "SELF_OWNED"
                ],
                "nullable": true
              },
              "location": {
                "$ref": "#/components/schemas/Location"
              }
            },
            "description": "The company object returns firmographic data related to the brand",
            "nullable": false
          },
          "isNsfw": {
            "type": "boolean",
            "description": "true when the brand is for adult content, e.g. is not safe for work",
            "nullable": false
          },
          "urn": {
            "type": "string",
            "description": "Uniform Resource Name for the brand",
            "nullable": false
          }
        }
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "scheme": "bearer"
      }
    }
  },
  "tags": [
    {
      "name": "brands"
    },
    {
      "name": "v2"
    }
  ]
}
