{
  "openapi": "3.0.3",
  "info": {
    "title": "Autocalls API",
    "version": "1.0.0",
    "description": "Autocalls.ai is an AI-powered phone call automation platform. Create AI assistants, manage campaigns, make phone calls, and handle leads programmatically.",
    "x-jentic-source-url": "https://docs.autocalls.ai",
    "contact": {
      "name": "API Support"
    }
  },
  "servers": [
    {
      "url": "https://api.autocalls.ai/api",
      "description": "Autocalls API Server"
    }
  ],
  "security": [
    {
      "BearerAuth": []
    }
  ],
  "tags": [
    {
      "name": "Calls",
      "description": "Phone call operations"
    },
    {
      "name": "Assistants",
      "description": "AI assistant management"
    },
    {
      "name": "Campaigns",
      "description": "Campaign management"
    },
    {
      "name": "Leads",
      "description": "Lead management"
    },
    {
      "name": "Phone Numbers",
      "description": "Phone number management"
    }
  ],
  "paths": {
    "/calls": {
      "get": {
        "tags": [
          "Calls"
        ],
        "summary": "Get calls",
        "operationId": "getCalls",
        "description": "Retrieve a list of all calls.",
        "parameters": [
          {
            "name": "page",
            "in": "query",
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "List of calls",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/Call"
                      }
                    },
                    "total": {
                      "type": "integer"
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      },
      "post": {
        "tags": [
          "Calls"
        ],
        "summary": "Make phone call",
        "operationId": "makePhoneCall",
        "description": "Initiate an AI-powered phone call to a specified number.",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/MakeCallRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Call initiated",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Call"
                }
              }
            }
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      }
    },
    "/calls/{id}": {
      "get": {
        "tags": [
          "Calls"
        ],
        "summary": "Get call details",
        "operationId": "getCall",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Call details",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Call"
                }
              }
            }
          },
          "404": {
            "description": "Call not found"
          }
        },
        "description": "Get call details"
      }
    },
    "/assistants": {
      "get": {
        "tags": [
          "Assistants"
        ],
        "summary": "Get assistants",
        "operationId": "getAssistants",
        "description": "Retrieve a list of all AI assistants.",
        "responses": {
          "200": {
            "description": "List of assistants",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/Assistant"
                      }
                    }
                  }
                }
              }
            }
          }
        }
      },
      "post": {
        "tags": [
          "Assistants"
        ],
        "summary": "Create assistant",
        "operationId": "createAssistant",
        "description": "Create a new AI assistant with specified behavior and voice settings.",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/AssistantCreate"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Assistant created",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Assistant"
                }
              }
            }
          },
          "400": {
            "description": "Bad request"
          }
        }
      }
    },
    "/assistants/{id}": {
      "get": {
        "tags": [
          "Assistants"
        ],
        "summary": "Get assistant",
        "operationId": "getAssistant",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Assistant details",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Assistant"
                }
              }
            }
          }
        },
        "description": "Get assistant"
      },
      "put": {
        "tags": [
          "Assistants"
        ],
        "summary": "Update assistant",
        "operationId": "updateAssistant",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/AssistantCreate"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Assistant updated",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Assistant"
                }
              }
            }
          }
        },
        "description": "Update assistant"
      },
      "delete": {
        "tags": [
          "Assistants"
        ],
        "summary": "Delete assistant",
        "operationId": "deleteAssistant",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "Assistant deleted"
          }
        },
        "description": "Delete assistant"
      }
    },
    "/campaigns": {
      "get": {
        "tags": [
          "Campaigns"
        ],
        "summary": "Get campaigns",
        "operationId": "getCampaigns",
        "responses": {
          "200": {
            "description": "List of campaigns",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/Campaign"
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "description": "Get campaigns"
      },
      "post": {
        "tags": [
          "Campaigns"
        ],
        "summary": "Create campaign",
        "operationId": "createCampaign",
        "description": "Create a new calling campaign with specified settings.",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CampaignCreate"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Campaign created",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Campaign"
                }
              }
            }
          }
        }
      }
    },
    "/campaigns/{id}": {
      "get": {
        "tags": [
          "Campaigns"
        ],
        "summary": "Get campaign",
        "operationId": "getCampaign",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Campaign details",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Campaign"
                }
              }
            }
          }
        },
        "description": "Get campaign"
      },
      "put": {
        "tags": [
          "Campaigns"
        ],
        "summary": "Update campaign",
        "operationId": "updateCampaign",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CampaignCreate"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Campaign updated",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Campaign"
                }
              }
            }
          }
        },
        "description": "Update campaign"
      },
      "delete": {
        "tags": [
          "Campaigns"
        ],
        "summary": "Delete campaign",
        "operationId": "deleteCampaign",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "Campaign deleted"
          }
        },
        "description": "Delete campaign"
      }
    },
    "/leads": {
      "get": {
        "tags": [
          "Leads"
        ],
        "summary": "Get leads",
        "operationId": "getLeads",
        "responses": {
          "200": {
            "description": "Leads list",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/Lead"
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "description": "Get leads"
      },
      "post": {
        "tags": [
          "Leads"
        ],
        "summary": "Create lead",
        "operationId": "createLead",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/LeadCreate"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Lead created",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Lead"
                }
              }
            }
          }
        },
        "description": "Create lead"
      }
    },
    "/phone-numbers": {
      "get": {
        "tags": [
          "Phone Numbers"
        ],
        "summary": "Get phone numbers",
        "operationId": "getPhoneNumbers",
        "description": "Retrieve a list of phone numbers associated with your account.",
        "responses": {
          "200": {
            "description": "Phone numbers list",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/PhoneNumber"
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    }
  },
  "components": {
    "securitySchemes": {
      "BearerAuth": {
        "type": "http",
        "scheme": "bearer",
        "description": "API key passed as Bearer token"
      }
    },
    "schemas": {
      "Call": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string"
          },
          "status": {
            "type": "string",
            "enum": [
              "queued",
              "ringing",
              "in-progress",
              "completed",
              "failed",
              "busy",
              "no-answer"
            ]
          },
          "phone_number": {
            "type": "string"
          },
          "assistant_id": {
            "type": "string"
          },
          "campaign_id": {
            "type": "string"
          },
          "duration": {
            "type": "integer"
          },
          "recording_url": {
            "type": "string"
          },
          "transcript": {
            "type": "string"
          },
          "summary": {
            "type": "string"
          },
          "created_at": {
            "type": "string",
            "format": "date-time"
          },
          "ended_at": {
            "type": "string",
            "format": "date-time"
          }
        }
      },
      "MakeCallRequest": {
        "type": "object",
        "required": [
          "phone_number",
          "assistant_id"
        ],
        "properties": {
          "phone_number": {
            "type": "string",
            "description": "Phone number to call in E.164 format"
          },
          "assistant_id": {
            "type": "string",
            "description": "ID of the AI assistant to use"
          },
          "from_number": {
            "type": "string",
            "description": "Caller ID phone number"
          },
          "metadata": {
            "type": "object",
            "description": "Custom metadata to pass to the call"
          },
          "variables": {
            "type": "object",
            "description": "Variables to inject into the assistant prompt"
          }
        }
      },
      "Assistant": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string"
          },
          "name": {
            "type": "string"
          },
          "prompt": {
            "type": "string"
          },
          "voice": {
            "type": "string"
          },
          "language": {
            "type": "string"
          },
          "first_message": {
            "type": "string"
          },
          "model": {
            "type": "string"
          },
          "created_at": {
            "type": "string",
            "format": "date-time"
          }
        }
      },
      "AssistantCreate": {
        "type": "object",
        "required": [
          "name",
          "prompt"
        ],
        "properties": {
          "name": {
            "type": "string"
          },
          "prompt": {
            "type": "string",
            "description": "System prompt defining the assistant behavior"
          },
          "voice": {
            "type": "string",
            "description": "Voice ID"
          },
          "language": {
            "type": "string"
          },
          "first_message": {
            "type": "string",
            "description": "Initial greeting message"
          },
          "model": {
            "type": "string",
            "description": "LLM model to use"
          }
        }
      },
      "Campaign": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string"
          },
          "name": {
            "type": "string"
          },
          "assistant_id": {
            "type": "string"
          },
          "status": {
            "type": "string",
            "enum": [
              "draft",
              "active",
              "paused",
              "completed"
            ]
          },
          "phone_number": {
            "type": "string"
          },
          "total_calls": {
            "type": "integer"
          },
          "completed_calls": {
            "type": "integer"
          },
          "created_at": {
            "type": "string",
            "format": "date-time"
          }
        }
      },
      "CampaignCreate": {
        "type": "object",
        "required": [
          "name",
          "assistant_id"
        ],
        "properties": {
          "name": {
            "type": "string"
          },
          "assistant_id": {
            "type": "string"
          },
          "phone_number": {
            "type": "string",
            "description": "Outbound caller ID"
          },
          "schedule": {
            "type": "object",
            "description": "Campaign schedule settings"
          },
          "max_concurrent_calls": {
            "type": "integer"
          }
        }
      },
      "Lead": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string"
          },
          "phone_number": {
            "type": "string"
          },
          "first_name": {
            "type": "string"
          },
          "last_name": {
            "type": "string"
          },
          "email": {
            "type": "string"
          },
          "campaign_id": {
            "type": "string"
          },
          "status": {
            "type": "string"
          },
          "metadata": {
            "type": "object"
          },
          "created_at": {
            "type": "string",
            "format": "date-time"
          }
        }
      },
      "LeadCreate": {
        "type": "object",
        "required": [
          "phone_number"
        ],
        "properties": {
          "phone_number": {
            "type": "string"
          },
          "first_name": {
            "type": "string"
          },
          "last_name": {
            "type": "string"
          },
          "email": {
            "type": "string"
          },
          "campaign_id": {
            "type": "string"
          },
          "metadata": {
            "type": "object"
          }
        }
      },
      "PhoneNumber": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string"
          },
          "phone_number": {
            "type": "string"
          },
          "country": {
            "type": "string"
          },
          "capabilities": {
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "active": {
            "type": "boolean"
          },
          "created_at": {
            "type": "string",
            "format": "date-time"
          }
        }
      }
    }
  }
}
