{
  "openapi": "3.0.3",
  "info": {
    "title": "EMQX Cloud API",
    "version": "1.0.0",
    "description": "EMQX Cloud Platform and Deployment REST API for managing MQTT broker deployments, projects, TLS certificates, clients, subscriptions, and message publishing.",
    "x-jentic-source-url": "https://docs.emqx.com/en/cloud/latest/api/",
    "contact": {
      "name": "API Support"
    }
  },
  "servers": [
    {
      "url": "https://cloud-api.emqx.com/api/v1",
      "description": "EMQX Cloud Platform API"
    },
    {
      "url": "https://{deployment_host}:8443/api",
      "description": "EMQX Cloud Deployment API",
      "variables": {
        "deployment_host": {
          "default": "deployment_host"
        }
      }
    }
  ],
  "tags": [
    {
      "name": "Deployments",
      "description": "Manage EMQX Cloud deployments"
    },
    {
      "name": "Projects",
      "description": "Manage projects"
    },
    {
      "name": "TLS Certificates",
      "description": "Manage TLS certificates for deployments"
    },
    {
      "name": "Clients",
      "description": "View MQTT client connections"
    },
    {
      "name": "Subscriptions",
      "description": "View MQTT subscriptions"
    },
    {
      "name": "Messages",
      "description": "Publish MQTT messages"
    }
  ],
  "paths": {
    "/deployments": {
      "get": {
        "operationId": "listDeployments",
        "summary": "List all deployments",
        "tags": [
          "Deployments"
        ],
        "parameters": [
          {
            "name": "page",
            "in": "query",
            "schema": {
              "type": "integer",
              "default": 1
            },
            "description": "Page number"
          },
          {
            "name": "limit",
            "in": "query",
            "schema": {
              "type": "integer",
              "default": 10
            },
            "description": "Items per page"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DeploymentListResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "description": "List all deployments"
      },
      "post": {
        "operationId": "createDeployment",
        "summary": "Create a new deployment",
        "tags": [
          "Deployments"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateDeploymentRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Deployment created",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Deployment"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "description": "Create a new deployment"
      }
    },
    "/deployments/{deployment_id}": {
      "get": {
        "operationId": "getDeployment",
        "summary": "Get deployment details",
        "tags": [
          "Deployments"
        ],
        "parameters": [
          {
            "name": "deployment_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Deployment ID"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Deployment"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "404": {
            "description": "Not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "description": "Get deployment details"
      },
      "delete": {
        "operationId": "deleteDeployment",
        "summary": "Delete a deployment",
        "tags": [
          "Deployments"
        ],
        "parameters": [
          {
            "name": "deployment_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Deployment ID"
          }
        ],
        "responses": {
          "200": {
            "description": "Deployment deleted"
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "description": "Delete a deployment"
      }
    },
    "/deployments/{deployment_id}/stop": {
      "post": {
        "operationId": "stopDeployment",
        "summary": "Stop a running deployment",
        "tags": [
          "Deployments"
        ],
        "parameters": [
          {
            "name": "deployment_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Deployment stopped"
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "description": "Stop a running deployment"
      }
    },
    "/deployments/{deployment_id}/start": {
      "post": {
        "operationId": "startDeployment",
        "summary": "Start a stopped deployment",
        "tags": [
          "Deployments"
        ],
        "parameters": [
          {
            "name": "deployment_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Deployment started"
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "description": "Start a stopped deployment"
      }
    },
    "/projects": {
      "get": {
        "operationId": "listProjects",
        "summary": "List all projects",
        "tags": [
          "Projects"
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProjectListResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "description": "List all projects"
      },
      "post": {
        "operationId": "createProject",
        "summary": "Create a new project",
        "tags": [
          "Projects"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateProjectRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Project created",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Project"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "description": "Create a new project"
      }
    },
    "/projects/{project_id}": {
      "get": {
        "operationId": "getProject",
        "summary": "Get project details",
        "tags": [
          "Projects"
        ],
        "parameters": [
          {
            "name": "project_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Project"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "description": "Get project details"
      },
      "put": {
        "operationId": "updateProject",
        "summary": "Update a project",
        "tags": [
          "Projects"
        ],
        "parameters": [
          {
            "name": "project_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateProjectRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Project updated",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Project"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "description": "Update a project"
      },
      "delete": {
        "operationId": "deleteProject",
        "summary": "Delete a project",
        "tags": [
          "Projects"
        ],
        "parameters": [
          {
            "name": "project_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Project deleted"
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "description": "Delete a project"
      }
    },
    "/deployments/{deployment_id}/tls": {
      "get": {
        "operationId": "getDeploymentTlsCertificate",
        "summary": "Get TLS certificate for a deployment",
        "tags": [
          "TLS Certificates"
        ],
        "parameters": [
          {
            "name": "deployment_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "TLS certificate info",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TlsCertificate"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "description": "Get TLS certificate for a deployment"
      },
      "post": {
        "operationId": "createDeploymentTlsCertificate",
        "summary": "Upload TLS certificate for a deployment",
        "tags": [
          "TLS Certificates"
        ],
        "parameters": [
          {
            "name": "deployment_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateTlsCertificateRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "TLS certificate uploaded"
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "description": "Upload TLS certificate for a deployment"
      },
      "delete": {
        "operationId": "deleteDeploymentTlsCertificate",
        "summary": "Delete TLS certificate for a deployment",
        "tags": [
          "TLS Certificates"
        ],
        "parameters": [
          {
            "name": "deployment_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "TLS certificate deleted"
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "description": "Delete TLS certificate for a deployment"
      }
    },
    "/clients": {
      "get": {
        "operationId": "listClients",
        "summary": "Get all client connections",
        "description": "Retrieve all client connection information within the deployment, with support for pagination.",
        "tags": [
          "Clients"
        ],
        "parameters": [
          {
            "name": "_page",
            "in": "query",
            "schema": {
              "type": "integer"
            },
            "description": "Page number"
          },
          {
            "name": "_limit",
            "in": "query",
            "schema": {
              "type": "integer"
            },
            "description": "Number of data entries per page"
          },
          {
            "name": "clientid",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "description": "Client identifier"
          },
          {
            "name": "username",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "description": "Client username"
          },
          {
            "name": "ip_address",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "description": "Client IP address"
          },
          {
            "name": "conn_state",
            "in": "query",
            "schema": {
              "type": "string",
              "enum": [
                "connected",
                "disconnected"
              ]
            },
            "description": "Connection state"
          },
          {
            "name": "clean_start",
            "in": "query",
            "schema": {
              "type": "boolean"
            },
            "description": "Whether the client uses a new session"
          },
          {
            "name": "proto_ver",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "description": "Protocol version"
          },
          {
            "name": "_like_clientid",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "description": "Fuzzy search by client ID"
          },
          {
            "name": "_like_username",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "description": "Fuzzy search by username"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ClientListResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/clients/{client_id}": {
      "get": {
        "operationId": "getClient",
        "summary": "Get client connection details",
        "tags": [
          "Clients"
        ],
        "parameters": [
          {
            "name": "client_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Client identifier"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Client"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "404": {
            "description": "Client not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "description": "Get client connection details"
      },
      "delete": {
        "operationId": "disconnectClient",
        "summary": "Disconnect a client",
        "tags": [
          "Clients"
        ],
        "parameters": [
          {
            "name": "client_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Client identifier"
          }
        ],
        "responses": {
          "200": {
            "description": "Client disconnected"
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "description": "Disconnect a client"
      }
    },
    "/subscriptions": {
      "get": {
        "operationId": "listSubscriptions",
        "summary": "Get all subscription information",
        "description": "Retrieve all subscription information within the deployment, with support for pagination.",
        "tags": [
          "Subscriptions"
        ],
        "parameters": [
          {
            "name": "_page",
            "in": "query",
            "schema": {
              "type": "integer"
            },
            "description": "Page number"
          },
          {
            "name": "_limit",
            "in": "query",
            "schema": {
              "type": "integer"
            },
            "description": "Number of data entries per page"
          },
          {
            "name": "clientid",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "description": "Client identifier"
          },
          {
            "name": "qos",
            "in": "query",
            "schema": {
              "type": "integer",
              "enum": [
                0,
                1,
                2
              ]
            },
            "description": "QoS level"
          },
          {
            "name": "share",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "description": "Group name for shared subscriptions"
          },
          {
            "name": "_match_topic",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "description": "Topic for matching query"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SubscriptionListResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/clients/{client_id}/subscriptions": {
      "get": {
        "operationId": "listClientSubscriptions",
        "summary": "Get all subscriptions for a specific client",
        "tags": [
          "Subscriptions"
        ],
        "parameters": [
          {
            "name": "client_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Client identifier"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SubscriptionListResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "description": "Get all subscriptions for a specific client"
      }
    },
    "/publish": {
      "post": {
        "operationId": "publishMessage",
        "summary": "Publish a single MQTT message",
        "tags": [
          "Messages"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/PublishRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Message published",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PublishResponse"
                }
              }
            }
          },
          "202": {
            "description": "No matching subscribers",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/NoSubscribersResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "description": "Publish a single MQTT message"
      }
    },
    "/publish/bulk": {
      "post": {
        "operationId": "publishBulkMessages",
        "summary": "Publish multiple MQTT messages in bulk",
        "tags": [
          "Messages"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "array",
                "items": {
                  "$ref": "#/components/schemas/PublishRequest"
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Messages published",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/PublishResponse"
                  }
                }
              }
            }
          },
          "202": {
            "description": "No matching subscribers",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/NoSubscribersResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "description": "Publish multiple MQTT messages in bulk"
      }
    }
  },
  "components": {
    "schemas": {
      "Deployment": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "description": "Deployment ID"
          },
          "name": {
            "type": "string",
            "description": "Deployment name"
          },
          "status": {
            "type": "string",
            "enum": [
              "running",
              "stopped",
              "creating",
              "deleting"
            ],
            "description": "Deployment status"
          },
          "platform": {
            "type": "string",
            "description": "Cloud platform (AWS, Azure, GCP)"
          },
          "region": {
            "type": "string",
            "description": "Cloud region"
          },
          "tier": {
            "type": "string",
            "enum": [
              "serverless",
              "dedicated",
              "byoc"
            ],
            "description": "Deployment tier"
          },
          "created_at": {
            "type": "string",
            "format": "date-time",
            "description": "Creation timestamp"
          },
          "connection_info": {
            "type": "object",
            "properties": {
              "host": {
                "type": "string"
              },
              "port": {
                "type": "integer"
              },
              "tls_port": {
                "type": "integer"
              }
            }
          }
        }
      },
      "DeploymentListResponse": {
        "type": "object",
        "properties": {
          "data": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Deployment"
            }
          },
          "meta": {
            "$ref": "#/components/schemas/PaginationMeta"
          }
        }
      },
      "CreateDeploymentRequest": {
        "type": "object",
        "required": [
          "name",
          "platform",
          "region",
          "tier"
        ],
        "properties": {
          "name": {
            "type": "string"
          },
          "platform": {
            "type": "string"
          },
          "region": {
            "type": "string"
          },
          "tier": {
            "type": "string",
            "enum": [
              "serverless",
              "dedicated",
              "byoc"
            ]
          },
          "project_id": {
            "type": "string"
          }
        }
      },
      "Project": {
        "type": "object",
        "properties": {
          "project_id": {
            "type": "string"
          },
          "name": {
            "type": "string"
          },
          "description": {
            "type": "string"
          },
          "created_at": {
            "type": "string",
            "format": "date-time"
          }
        }
      },
      "ProjectListResponse": {
        "type": "object",
        "properties": {
          "data": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Project"
            }
          }
        }
      },
      "CreateProjectRequest": {
        "type": "object",
        "required": [
          "name"
        ],
        "properties": {
          "name": {
            "type": "string"
          },
          "description": {
            "type": "string"
          }
        }
      },
      "TlsCertificate": {
        "type": "object",
        "properties": {
          "type": {
            "type": "string",
            "enum": [
              "one-way",
              "two-way"
            ]
          },
          "expire_at": {
            "type": "string",
            "format": "date-time"
          },
          "common_name": {
            "type": "string"
          },
          "created_at": {
            "type": "string",
            "format": "date-time"
          }
        }
      },
      "CreateTlsCertificateRequest": {
        "type": "object",
        "required": [
          "type",
          "certificate",
          "certificate_chain",
          "private_key"
        ],
        "properties": {
          "type": {
            "type": "string",
            "enum": [
              "one-way",
              "two-way"
            ]
          },
          "certificate": {
            "type": "string",
            "description": "PEM-formatted certificate body"
          },
          "certificate_chain": {
            "type": "string",
            "description": "PEM-formatted certificate chain"
          },
          "private_key": {
            "type": "string",
            "description": "PEM-formatted private key"
          }
        }
      },
      "Client": {
        "type": "object",
        "properties": {
          "clientid": {
            "type": "string"
          },
          "username": {
            "type": "string"
          },
          "node": {
            "type": "string"
          },
          "ip_address": {
            "type": "string"
          },
          "port": {
            "type": "integer"
          },
          "connected": {
            "type": "boolean"
          },
          "connected_at": {
            "type": "string",
            "format": "date-time"
          },
          "keepalive": {
            "type": "integer"
          },
          "clean_start": {
            "type": "boolean"
          },
          "proto_ver": {
            "type": "integer"
          },
          "subscriptions_cnt": {
            "type": "integer"
          },
          "max_subscriptions": {
            "type": "integer"
          }
        }
      },
      "ClientListResponse": {
        "type": "object",
        "properties": {
          "data": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Client"
            }
          },
          "meta": {
            "$ref": "#/components/schemas/PaginationMeta"
          }
        }
      },
      "Subscription": {
        "type": "object",
        "properties": {
          "node": {
            "type": "string",
            "description": "Node name"
          },
          "clientid": {
            "type": "string",
            "description": "Client identifier"
          },
          "topic": {
            "type": "string",
            "description": "Subscribed topic"
          },
          "qos": {
            "type": "integer",
            "description": "QoS level"
          },
          "nl": {
            "type": "integer",
            "description": "No Local"
          },
          "rap": {
            "type": "integer",
            "description": "Retain as Published"
          },
          "rh": {
            "type": "integer",
            "description": "Retain Handling"
          }
        }
      },
      "SubscriptionListResponse": {
        "type": "object",
        "properties": {
          "data": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Subscription"
            }
          },
          "meta": {
            "$ref": "#/components/schemas/PaginationMeta"
          }
        }
      },
      "PublishRequest": {
        "type": "object",
        "required": [
          "topic",
          "payload"
        ],
        "properties": {
          "topic": {
            "type": "string",
            "description": "Topic to publish to"
          },
          "payload": {
            "type": "string",
            "description": "Message body"
          },
          "payload_encoding": {
            "type": "string",
            "enum": [
              "plain",
              "base64"
            ],
            "default": "plain"
          },
          "qos": {
            "type": "integer",
            "enum": [
              0,
              1,
              2
            ],
            "default": 0
          },
          "retain": {
            "type": "boolean",
            "default": false
          }
        }
      },
      "PublishResponse": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "description": "Message identifier"
          }
        }
      },
      "NoSubscribersResponse": {
        "type": "object",
        "properties": {
          "message": {
            "type": "string"
          },
          "reason_code": {
            "type": "integer"
          }
        }
      },
      "PaginationMeta": {
        "type": "object",
        "properties": {
          "page": {
            "type": "integer"
          },
          "limit": {
            "type": "integer"
          },
          "count": {
            "type": "integer"
          },
          "hasnext": {
            "type": "boolean"
          }
        }
      },
      "ErrorResponse": {
        "type": "object",
        "properties": {
          "code": {
            "type": "string"
          },
          "message": {
            "type": "string"
          }
        }
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "scheme": "bearer",
        "description": "EMQX Cloud API key authentication. Use app_id:app_secret for deployment API or API key for platform API."
      }
    }
  },
  "security": [
    {
      "bearerAuth": []
    }
  ]
}
