{
  "openapi": "3.0.3",
  "info": {
    "title": "Woopra API",
    "version": "1.0.0",
    "description": "Woopra real-time customer analytics platform API. Includes HTTP Tracking API for sending events and identifying visitors, Data Export APIs for querying analytics data (trends, profiles, journeys, retention, attribution, activity), and Profile CRUD API.",
    "x-jentic-source-url": "https://docs.woopra.com/reference/getting-started-with-tracking-sdks",
    "contact": {
      "name": "API Support"
    }
  },
  "servers": [
    {
      "url": "https://www.woopra.com"
    }
  ],
  "paths": {
    "/track/ce": {
      "get": {
        "operationId": "trackEvent",
        "summary": "Track a custom event",
        "description": "Track a custom event for a visitor. Pass event properties as query parameters with ce_ prefix.",
        "tags": [
          "Tracking"
        ],
        "parameters": [
          {
            "name": "host",
            "in": "query",
            "description": "Website domain",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "cookie",
            "in": "query",
            "description": "Visitor cookie/ID",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "ce_name",
            "in": "query",
            "description": "Event name",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "ce_url",
            "in": "query",
            "description": "Page URL",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "ce_title",
            "in": "query",
            "description": "Page title",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "ip",
            "in": "query",
            "description": "Visitor IP address",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "timestamp",
            "in": "query",
            "description": "Event timestamp (ms)",
            "required": false,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "timeout",
            "in": "query",
            "description": "Visit timeout in seconds",
            "required": false,
            "schema": {
              "type": "integer",
              "default": 1800
            }
          },
          {
            "name": "browser",
            "in": "query",
            "description": "Browser name",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "os",
            "in": "query",
            "description": "Operating system",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "device",
            "in": "query",
            "description": "Device type",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "referer",
            "in": "query",
            "description": "Referrer URL",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "language",
            "in": "query",
            "description": "Browser language",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Event tracked",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TrackResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/track/identify": {
      "get": {
        "operationId": "identifyVisitor",
        "summary": "Identify a visitor",
        "description": "Associate visitor properties with a visitor cookie. Pass visitor properties as query parameters with cv_ prefix.",
        "tags": [
          "Tracking"
        ],
        "parameters": [
          {
            "name": "host",
            "in": "query",
            "description": "Website domain",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "cookie",
            "in": "query",
            "description": "Visitor cookie/ID",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "cv_email",
            "in": "query",
            "description": "Visitor email",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "cv_name",
            "in": "query",
            "description": "Visitor name",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "cv_company",
            "in": "query",
            "description": "Visitor company",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "ip",
            "in": "query",
            "description": "Visitor IP",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "timestamp",
            "in": "query",
            "description": "Timestamp (ms)",
            "required": false,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Visitor identified",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TrackResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/rest/2.4/trends": {
      "post": {
        "operationId": "getTrends",
        "summary": "Get trend analytics data",
        "description": "Query trend data over time for visits, actions, and other metrics.",
        "tags": [
          "Data Export"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/QueryRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Trends data",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TrendsResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/rest/2.4/profiles": {
      "post": {
        "operationId": "getProfiles",
        "summary": "Query visitor profiles",
        "description": "Search and retrieve visitor profiles with filtering and pagination.",
        "tags": [
          "Data Export"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/QueryRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Profile list",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProfilesResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/rest/2.4/profiles/{visitorId}": {
      "get": {
        "operationId": "getProfile",
        "summary": "Get a specific visitor profile",
        "tags": [
          "Profiles"
        ],
        "parameters": [
          {
            "name": "visitorId",
            "in": "path",
            "description": "Visitor ID or email",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "project",
            "in": "query",
            "description": "Project key",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Profile details",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Profile"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "description": "Get a specific visitor profile"
      },
      "post": {
        "operationId": "updateProfile",
        "summary": "Update visitor profile properties",
        "tags": [
          "Profiles"
        ],
        "parameters": [
          {
            "name": "visitorId",
            "in": "path",
            "description": "Visitor ID or email",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "project": {
                    "type": "string"
                  },
                  "properties": {
                    "type": "object"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Profile updated",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Profile"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "description": "Update visitor profile properties"
      },
      "delete": {
        "operationId": "deleteProfile",
        "summary": "Delete a visitor profile",
        "tags": [
          "Profiles"
        ],
        "parameters": [
          {
            "name": "visitorId",
            "in": "path",
            "description": "Visitor ID or email",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "project",
            "in": "query",
            "description": "Project key",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Profile deleted",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TrackResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "description": "Delete a visitor profile"
      }
    },
    "/rest/2.4/journeys": {
      "post": {
        "operationId": "getJourneys",
        "summary": "Get customer journey analytics",
        "tags": [
          "Data Export"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/QueryRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Journey data",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/JourneysResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "description": "Get customer journey analytics"
      }
    },
    "/rest/2.4/retention": {
      "post": {
        "operationId": "getRetention",
        "summary": "Get retention analytics",
        "tags": [
          "Data Export"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/QueryRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Retention data",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RetentionResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "description": "Get retention analytics"
      }
    },
    "/rest/2.4/attribution": {
      "post": {
        "operationId": "getAttribution",
        "summary": "Get attribution analytics",
        "tags": [
          "Data Export"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/QueryRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Attribution data",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AttributionResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "description": "Get attribution analytics"
      }
    },
    "/rest/2.4/activity": {
      "post": {
        "operationId": "getActivity",
        "summary": "Get activity feed",
        "tags": [
          "Data Export"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/QueryRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Activity feed",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ActivityResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "description": "Get activity feed"
      }
    },
    "/rest/2.4/segments": {
      "get": {
        "operationId": "getSegments",
        "summary": "List saved segments",
        "tags": [
          "Segments"
        ],
        "parameters": [
          {
            "name": "project",
            "in": "query",
            "description": "Project key",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Segments list",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SegmentsResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "description": "List saved segments"
      }
    },
    "/rest/2.4/labels": {
      "get": {
        "operationId": "getLabels",
        "summary": "List visitor labels",
        "tags": [
          "Labels"
        ],
        "parameters": [
          {
            "name": "project",
            "in": "query",
            "description": "Project key",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Labels list",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/LabelsResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "description": "List visitor labels"
      }
    },
    "/rest/2.4/reports": {
      "post": {
        "operationId": "getReports",
        "summary": "Get custom reports",
        "tags": [
          "Data Export"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/QueryRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Report data",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ReportsResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "description": "Get custom reports"
      }
    },
    "/rest/2.4/funnels": {
      "post": {
        "operationId": "getFunnels",
        "summary": "Get funnel analytics",
        "tags": [
          "Data Export"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/QueryRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Funnel data",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/FunnelResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "description": "Get funnel analytics"
      }
    }
  },
  "components": {
    "schemas": {
      "ErrorResponse": {
        "type": "object",
        "properties": {
          "status": {
            "type": "string"
          },
          "code": {
            "type": "string"
          },
          "message": {
            "type": "string"
          }
        }
      },
      "TrackResponse": {
        "type": "object",
        "properties": {
          "success": {
            "type": "boolean"
          }
        }
      },
      "QueryRequest": {
        "type": "object",
        "properties": {
          "project": "str",
          "from": {
            "type": "integer",
            "description": "Start timestamp (ms)"
          },
          "to": {
            "type": "integer",
            "description": "End timestamp (ms)"
          },
          "segments": {
            "type": "array",
            "items": {
              "type": "object"
            }
          },
          "filters": {
            "type": "array",
            "items": {
              "type": "object"
            }
          },
          "limit": {
            "type": "integer"
          }
        }
      },
      "TrendsResponse": {
        "type": "object",
        "properties": {
          "data": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "date": {
                  "type": "string"
                },
                "count": {
                  "type": "integer"
                },
                "visitors": {
                  "type": "integer"
                }
              }
            }
          }
        }
      },
      "ProfilesResponse": {
        "type": "object",
        "properties": {
          "data": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Profile"
            }
          },
          "total": {
            "type": "integer"
          }
        }
      },
      "Profile": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string"
          },
          "email": {
            "type": "string"
          },
          "name": {
            "type": "string"
          },
          "company": {
            "type": "string"
          },
          "properties": {
            "type": "object"
          },
          "last_seen": {
            "type": "string",
            "format": "date-time"
          },
          "first_seen": {
            "type": "string",
            "format": "date-time"
          },
          "visits": {
            "type": "integer"
          },
          "actions": {
            "type": "integer"
          }
        }
      },
      "JourneysResponse": {
        "type": "object",
        "properties": {
          "data": {
            "type": "array",
            "items": {
              "type": "object"
            }
          },
          "total": {
            "type": "integer"
          }
        }
      },
      "RetentionResponse": {
        "type": "object",
        "properties": {
          "data": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "cohort": {
                  "type": "string"
                },
                "total": {
                  "type": "integer"
                },
                "retained": {
                  "type": "array",
                  "items": {
                    "type": "integer"
                  }
                }
              }
            }
          }
        }
      },
      "AttributionResponse": {
        "type": "object",
        "properties": {
          "data": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "channel": {
                  "type": "string"
                },
                "conversions": {
                  "type": "integer"
                },
                "revenue": {
                  "type": "number"
                }
              }
            }
          }
        }
      },
      "ActivityResponse": {
        "type": "object",
        "properties": {
          "data": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "timestamp": {
                  "type": "string",
                  "format": "date-time"
                },
                "action": {
                  "type": "string"
                },
                "visitor": {
                  "type": "string"
                },
                "properties": {
                  "type": "object"
                }
              }
            }
          }
        }
      },
      "SegmentsResponse": {
        "type": "object",
        "properties": {
          "data": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "id": {
                  "type": "string"
                },
                "name": {
                  "type": "string"
                },
                "count": {
                  "type": "integer"
                }
              }
            }
          }
        }
      },
      "LabelsResponse": {
        "type": "object",
        "properties": {
          "data": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "id": {
                  "type": "string"
                },
                "name": {
                  "type": "string"
                }
              }
            }
          }
        }
      },
      "ReportsResponse": {
        "type": "object",
        "properties": {
          "data": {
            "type": "array",
            "items": {
              "type": "object"
            }
          }
        }
      },
      "FunnelResponse": {
        "type": "object",
        "properties": {
          "data": {
            "type": "object",
            "properties": {
              "steps": {
                "type": "array",
                "items": {
                  "type": "object",
                  "properties": {
                    "name": {
                      "type": "string"
                    },
                    "count": {
                      "type": "integer"
                    },
                    "conversion_rate": {
                      "type": "number"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "securitySchemes": {
      "appId": {
        "type": "apiKey",
        "in": "query",
        "name": "app_id",
        "description": "Woopra project app ID/key"
      }
    }
  },
  "security": [
    {
      "appId": []
    }
  ],
  "tags": [
    {
      "name": "Data Export"
    },
    {
      "name": "Labels"
    },
    {
      "name": "Profiles"
    },
    {
      "name": "Segments"
    },
    {
      "name": "Tracking"
    }
  ]
}
