{
  "openapi": "3.0.3",
  "info": {
    "title": "Books API",
    "version": "v1",
    "description": "The Google Books API allows clients to access the Google Books repository.",
    "x-jentic-source-url": "https://developers.google.com/books/docs/v1/using",
    "contact": {
      "name": "API Support"
    }
  },
  "servers": [
    {
      "url": "https://books.googleapis.com"
    }
  ],
  "paths": {
    "/books/v1/users/{userId}/bookshelves/{shelf}": {
      "get": {
        "operationId": "books_bookshelves_get",
        "summary": "Retrieves metadata for a specific bookshelf for the specified user.",
        "description": "Retrieves metadata for a specific bookshelf for the specified user.",
        "tags": [
          "Bookshelves"
        ],
        "parameters": [
          {
            "name": "userId",
            "in": "path",
            "description": "ID of user for whom to retrieve bookshelves.",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "shelf",
            "in": "path",
            "description": "ID of bookshelf to retrieve.",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "source",
            "in": "query",
            "description": "String to identify the originator of this request.",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Bookshelf"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/books/v1/users/{userId}/bookshelves": {
      "get": {
        "operationId": "books_bookshelves_list",
        "summary": "Retrieves a list of public bookshelves for the specified user.",
        "description": "Retrieves a list of public bookshelves for the specified user.",
        "tags": [
          "Bookshelves"
        ],
        "parameters": [
          {
            "name": "userId",
            "in": "path",
            "description": "ID of user for whom to retrieve bookshelves.",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "source",
            "in": "query",
            "description": "String to identify the originator of this request.",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Bookshelves"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/books/v1/users/{userId}/bookshelves/{shelf}/volumes": {
      "get": {
        "operationId": "books_bookshelves_volumes_list",
        "summary": "Retrieves volumes in a specific bookshelf for the specified user.",
        "description": "Retrieves volumes in a specific bookshelf for the specified user.",
        "tags": [
          "Bookshelves.Volumes"
        ],
        "parameters": [
          {
            "name": "userId",
            "in": "path",
            "description": "ID of user for whom to retrieve bookshelf volumes.",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "shelf",
            "in": "path",
            "description": "ID of bookshelf to retrieve volumes.",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "maxResults",
            "in": "query",
            "description": "Maximum number of results to return",
            "required": false,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          },
          {
            "name": "showPreorders",
            "in": "query",
            "description": "Set to true to show pre-ordered books. Defaults to false.",
            "required": false,
            "schema": {
              "type": "boolean"
            }
          },
          {
            "name": "source",
            "in": "query",
            "description": "String to identify the originator of this request.",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "startIndex",
            "in": "query",
            "description": "Index of the first element to return (starts at 0)",
            "required": false,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Volumes"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/books/v1/cloudloading/addBook": {
      "post": {
        "operationId": "books_cloudloading_addBook",
        "summary": "Add a user-upload volume and triggers processing.",
        "description": "Add a user-upload volume and triggers processing.",
        "tags": [
          "Cloudloading"
        ],
        "parameters": [
          {
            "name": "drive_document_id",
            "in": "query",
            "description": "A drive document id. The upload_client_token must not be set.",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "mime_type",
            "in": "query",
            "description": "The document MIME type. It can be set only if the drive_document_id is set.",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "name",
            "in": "query",
            "description": "The document name. It can be set only if the drive_document_id is set.",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "upload_client_token",
            "in": "query",
            "description": "Scotty upload token.",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BooksCloudloadingResource"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/books/v1/cloudloading/deleteBook": {
      "post": {
        "operationId": "books_cloudloading_deleteBook",
        "summary": "Remove the book and its contents",
        "description": "Remove the book and its contents",
        "tags": [
          "Cloudloading"
        ],
        "parameters": [
          {
            "name": "volumeId",
            "in": "query",
            "description": "The id of the book to be removed.",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Empty"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/books/v1/cloudloading/updateBook": {
      "post": {
        "operationId": "books_cloudloading_updateBook",
        "summary": "Updates a user-upload volume.",
        "description": "Updates a user-upload volume.",
        "tags": [
          "Cloudloading"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/BooksCloudloadingResource"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BooksCloudloadingResource"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/books/v1/dictionary/listOfflineMetadata": {
      "get": {
        "operationId": "books_dictionary_listOfflineMetadata",
        "summary": "Returns a list of offline dictionary metadata available",
        "description": "Returns a list of offline dictionary metadata available",
        "tags": [
          "Dictionary"
        ],
        "parameters": [
          {
            "name": "cpksver",
            "in": "query",
            "description": "The device/version ID from which to request the data.",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Metadata"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/books/v1/familysharing/getFamilyInfo": {
      "get": {
        "operationId": "books_familysharing_getFamilyInfo",
        "summary": "Gets information regarding the family that the user is part of.",
        "description": "Gets information regarding the family that the user is part of.",
        "tags": [
          "Familysharing"
        ],
        "parameters": [
          {
            "name": "source",
            "in": "query",
            "description": "String to identify the originator of this request.",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/FamilyInfo"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/books/v1/familysharing/share": {
      "post": {
        "operationId": "books_familysharing_share",
        "summary": "Initiates sharing of the content with the user's family. Empty response indicates success.",
        "description": "Initiates sharing of the content with the user's family. Empty response indicates success.",
        "tags": [
          "Familysharing"
        ],
        "parameters": [
          {
            "name": "docId",
            "in": "query",
            "description": "The docid to share.",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "source",
            "in": "query",
            "description": "String to identify the originator of this request.",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "volumeId",
            "in": "query",
            "description": "The volume to share.",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Empty"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/books/v1/familysharing/unshare": {
      "post": {
        "operationId": "books_familysharing_unshare",
        "summary": "Initiates revoking content that has already been shared with the user's family. Empty response indicates success.",
        "description": "Initiates revoking content that has already been shared with the user's family. Empty response indicates success.",
        "tags": [
          "Familysharing"
        ],
        "parameters": [
          {
            "name": "docId",
            "in": "query",
            "description": "The docid to unshare.",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "source",
            "in": "query",
            "description": "String to identify the originator of this request.",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "volumeId",
            "in": "query",
            "description": "The volume to unshare.",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Empty"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/books/v1/volumes/{volumeId}/layersummary/{summaryId}": {
      "get": {
        "operationId": "books_layers_get",
        "summary": "Gets the layer summary for a volume.",
        "description": "Gets the layer summary for a volume.",
        "tags": [
          "Layers"
        ],
        "parameters": [
          {
            "name": "volumeId",
            "in": "path",
            "description": "The volume to retrieve layers for.",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "summaryId",
            "in": "path",
            "description": "The ID for the layer to get the summary for.",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "contentVersion",
            "in": "query",
            "description": "The content version for the requested volume.",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "source",
            "in": "query",
            "description": "String to identify the originator of this request.",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Layersummary"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/books/v1/volumes/{volumeId}/layersummary": {
      "get": {
        "operationId": "books_layers_list",
        "summary": "List the layer summaries for a volume.",
        "description": "List the layer summaries for a volume.",
        "tags": [
          "Layers"
        ],
        "parameters": [
          {
            "name": "volumeId",
            "in": "path",
            "description": "The volume to retrieve layers for.",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "contentVersion",
            "in": "query",
            "description": "The content version for the requested volume.",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "maxResults",
            "in": "query",
            "description": "Maximum number of results to return",
            "required": false,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          },
          {
            "name": "pageToken",
            "in": "query",
            "description": "The value of the nextToken from the previous page.",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "source",
            "in": "query",
            "description": "String to identify the originator of this request.",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Layersummaries"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/books/v1/volumes/{volumeId}/layers/{layerId}/data/{annotationDataId}": {
      "get": {
        "operationId": "books_layers_annotationData_get",
        "summary": "Gets the annotation data.",
        "description": "Gets the annotation data.",
        "tags": [
          "Layers.Annotationdata"
        ],
        "parameters": [
          {
            "name": "volumeId",
            "in": "path",
            "description": "The volume to retrieve annotations for.",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "layerId",
            "in": "path",
            "description": "The ID for the layer to get the annotations.",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "annotationDataId",
            "in": "path",
            "description": "The ID of the annotation data to retrieve.",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "allowWebDefinitions",
            "in": "query",
            "description": "For the dictionary layer. Whether or not to allow web definitions.",
            "required": false,
            "schema": {
              "type": "boolean"
            }
          },
          {
            "name": "contentVersion",
            "in": "query",
            "description": "The content version for the volume you are trying to retrieve.",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "h",
            "in": "query",
            "description": "The requested pixel height for any images. If height is provided width must also be provided.",
            "required": false,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "locale",
            "in": "query",
            "description": "The locale information for the data. ISO-639-1 language and ISO-3166-1 country code. Ex: 'en_US'.",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "scale",
            "in": "query",
            "description": "The requested scale for the image.",
            "required": false,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "source",
            "in": "query",
            "description": "String to identify the originator of this request.",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "w",
            "in": "query",
            "description": "The requested pixel width for any images. If width is provided height must also be provided.",
            "required": false,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DictionaryAnnotationdata"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/books/v1/volumes/{volumeId}/layers/{layerId}/data": {
      "get": {
        "operationId": "books_layers_annotationData_list",
        "summary": "Gets the annotation data for a volume and layer.",
        "description": "Gets the annotation data for a volume and layer.",
        "tags": [
          "Layers.Annotationdata"
        ],
        "parameters": [
          {
            "name": "volumeId",
            "in": "path",
            "description": "The volume to retrieve annotation data for.",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "layerId",
            "in": "path",
            "description": "The ID for the layer to get the annotation data.",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "annotationDataId",
            "in": "query",
            "description": "The list of Annotation Data Ids to retrieve. Pagination is ignored if this is set.",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "contentVersion",
            "in": "query",
            "description": "The content version for the requested volume.",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "h",
            "in": "query",
            "description": "The requested pixel height for any images. If height is provided width must also be provided.",
            "required": false,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "locale",
            "in": "query",
            "description": "The locale information for the data. ISO-639-1 language and ISO-3166-1 country code. Ex: 'en_US'.",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "maxResults",
            "in": "query",
            "description": "Maximum number of results to return",
            "required": false,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          },
          {
            "name": "pageToken",
            "in": "query",
            "description": "The value of the nextToken from the previous page.",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "scale",
            "in": "query",
            "description": "The requested scale for the image.",
            "required": false,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "source",
            "in": "query",
            "description": "String to identify the originator of this request.",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "updatedMax",
            "in": "query",
            "description": "RFC 3339 timestamp to restrict to items updated prior to this timestamp (exclusive).",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "updatedMin",
            "in": "query",
            "description": "RFC 3339 timestamp to restrict to items updated since this timestamp (inclusive).",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "w",
            "in": "query",
            "description": "The requested pixel width for any images. If width is provided height must also be provided.",
            "required": false,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Annotationsdata"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/books/v1/volumes/{volumeId}/layers/{layerId}/annotations/{annotationId}": {
      "get": {
        "operationId": "books_layers_volumeAnnotations_get",
        "summary": "Gets the volume annotation.",
        "description": "Gets the volume annotation.",
        "tags": [
          "Layers.Volumeannotations"
        ],
        "parameters": [
          {
            "name": "volumeId",
            "in": "path",
            "description": "The volume to retrieve annotations for.",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "layerId",
            "in": "path",
            "description": "The ID for the layer to get the annotations.",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "annotationId",
            "in": "path",
            "description": "The ID of the volume annotation to retrieve.",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "locale",
            "in": "query",
            "description": "The locale information for the data. ISO-639-1 language and ISO-3166-1 country code. Ex: 'en_US'.",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "source",
            "in": "query",
            "description": "String to identify the originator of this request.",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Volumeannotation"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/books/v1/volumes/{volumeId}/layers/{layerId}": {
      "get": {
        "operationId": "books_layers_volumeAnnotations_list",
        "summary": "Gets the volume annotations for a volume and layer.",
        "description": "Gets the volume annotations for a volume and layer.",
        "tags": [
          "Layers.Volumeannotations"
        ],
        "parameters": [
          {
            "name": "volumeId",
            "in": "path",
            "description": "The volume to retrieve annotations for.",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "layerId",
            "in": "path",
            "description": "The ID for the layer to get the annotations.",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "contentVersion",
            "in": "query",
            "description": "The content version for the requested volume.",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "endOffset",
            "in": "query",
            "description": "The end offset to end retrieving data from.",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "endPosition",
            "in": "query",
            "description": "The end position to end retrieving data from.",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "locale",
            "in": "query",
            "description": "The locale information for the data. ISO-639-1 language and ISO-3166-1 country code. Ex: 'en_US'.",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "maxResults",
            "in": "query",
            "description": "Maximum number of results to return",
            "required": false,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          },
          {
            "name": "pageToken",
            "in": "query",
            "description": "The value of the nextToken from the previous page.",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "showDeleted",
            "in": "query",
            "description": "Set to true to return deleted annotations. updatedMin must be in the request to use this. Defaults to false.",
            "required": false,
            "schema": {
              "type": "boolean"
            }
          },
          {
            "name": "source",
            "in": "query",
            "description": "String to identify the originator of this request.",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "startOffset",
            "in": "query",
            "description": "The start offset to start retrieving data from.",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "startPosition",
            "in": "query",
            "description": "The start position to start retrieving data from.",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "updatedMax",
            "in": "query",
            "description": "RFC 3339 timestamp to restrict to items updated prior to this timestamp (exclusive).",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "updatedMin",
            "in": "query",
            "description": "RFC 3339 timestamp to restrict to items updated since this timestamp (inclusive).",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "volumeAnnotationsVersion",
            "in": "query",
            "description": "The version of the volume annotations that you are requesting.",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Volumeannotations"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/books/v1/myconfig/getUserSettings": {
      "get": {
        "operationId": "books_myconfig_getUserSettings",
        "summary": "Gets the current settings for the user.",
        "description": "Gets the current settings for the user.",
        "tags": [
          "Myconfig"
        ],
        "parameters": [
          {
            "name": "country",
            "in": "query",
            "description": "Unused. Added only to workaround TEX mandatory request template requirement",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Usersettings"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/books/v1/myconfig/releaseDownloadAccess": {
      "post": {
        "operationId": "books_myconfig_releaseDownloadAccess",
        "summary": "Release downloaded content access restriction.",
        "description": "Release downloaded content access restriction.",
        "tags": [
          "Myconfig"
        ],
        "parameters": [
          {
            "name": "cpksver",
            "in": "query",
            "description": "The device/version ID from which to release the restriction.",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "locale",
            "in": "query",
            "description": "ISO-639-1, ISO-3166-1 codes for message localization, i.e. en_US.",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "source",
            "in": "query",
            "description": "String to identify the originator of this request.",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "volumeIds",
            "in": "query",
            "description": "The volume(s) to release restrictions for.",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DownloadAccesses"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/books/v1/myconfig/requestAccess": {
      "post": {
        "operationId": "books_myconfig_requestAccess",
        "summary": "Request concurrent and download access restrictions.",
        "description": "Request concurrent and download access restrictions.",
        "tags": [
          "Myconfig"
        ],
        "parameters": [
          {
            "name": "cpksver",
            "in": "query",
            "description": "The device/version ID from which to request the restrictions.",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "licenseTypes",
            "in": "query",
            "description": "The type of access license to request. If not specified, the default is BOTH.",
            "required": false,
            "schema": {
              "type": "string",
              "enum": [
                "LICENSE_TYPES_UNDEFINED",
                "BOTH",
                "CONCURRENT",
                "DOWNLOAD"
              ]
            }
          },
          {
            "name": "locale",
            "in": "query",
            "description": "ISO-639-1, ISO-3166-1 codes for message localization, i.e. en_US.",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "nonce",
            "in": "query",
            "description": "The client nonce value.",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "source",
            "in": "query",
            "description": "String to identify the originator of this request.",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "volumeId",
            "in": "query",
            "description": "The volume to request concurrent/download restrictions for.",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RequestAccessData"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/books/v1/myconfig/syncVolumeLicenses": {
      "post": {
        "operationId": "books_myconfig_syncVolumeLicenses",
        "summary": "Request downloaded content access for specified volumes on the My eBooks shelf.",
        "description": "Request downloaded content access for specified volumes on the My eBooks shelf.",
        "tags": [
          "Myconfig"
        ],
        "parameters": [
          {
            "name": "cpksver",
            "in": "query",
            "description": "The device/version ID from which to release the restriction.",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "features",
            "in": "query",
            "description": "List of features supported by the client, i.e., 'RENTALS'",
            "required": false,
            "schema": {
              "type": "string",
              "enum": [
                "FEATURES_UNDEFINED",
                "RENTALS"
              ]
            }
          },
          {
            "name": "includeNonComicsSeries",
            "in": "query",
            "description": "Set to true to include non-comics series. Defaults to false.",
            "required": false,
            "schema": {
              "type": "boolean"
            }
          },
          {
            "name": "locale",
            "in": "query",
            "description": "ISO-639-1, ISO-3166-1 codes for message localization, i.e. en_US.",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "nonce",
            "in": "query",
            "description": "The client nonce value.",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "showPreorders",
            "in": "query",
            "description": "Set to true to show pre-ordered books. Defaults to false.",
            "required": false,
            "schema": {
              "type": "boolean"
            }
          },
          {
            "name": "source",
            "in": "query",
            "description": "String to identify the originator of this request.",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "volumeIds",
            "in": "query",
            "description": "The volume(s) to request download restrictions for.",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Volumes"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/books/v1/myconfig/updateUserSettings": {
      "post": {
        "operationId": "books_myconfig_updateUserSettings",
        "summary": "Sets the settings for the user. If a sub-object is specified, it will overwrite the existing sub-object stored in the server. Unspecified sub-objects will retain the existing value.",
        "description": "Sets the settings for the user. If a sub-object is specified, it will overwrite the existing sub-object stored in the server. Unspecified sub-objects will retain the existing value.",
        "tags": [
          "Myconfig"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/Usersettings"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Usersettings"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/books/v1/mylibrary/annotations/{annotationId}": {
      "delete": {
        "operationId": "books_mylibrary_annotations_delete",
        "summary": "Deletes an annotation.",
        "description": "Deletes an annotation.",
        "tags": [
          "Mylibrary.Annotations"
        ],
        "parameters": [
          {
            "name": "annotationId",
            "in": "path",
            "description": "The ID for the annotation to delete.",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "source",
            "in": "query",
            "description": "String to identify the originator of this request.",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Empty"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      },
      "put": {
        "operationId": "books_mylibrary_annotations_update",
        "summary": "Updates an existing annotation.",
        "description": "Updates an existing annotation.",
        "tags": [
          "Mylibrary.Annotations"
        ],
        "parameters": [
          {
            "name": "annotationId",
            "in": "path",
            "description": "The ID for the annotation to update.",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "source",
            "in": "query",
            "description": "String to identify the originator of this request.",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/Annotation"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Annotation"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/books/v1/mylibrary/annotations": {
      "post": {
        "operationId": "books_mylibrary_annotations_insert",
        "summary": "Inserts a new annotation.",
        "description": "Inserts a new annotation.",
        "tags": [
          "Mylibrary.Annotations"
        ],
        "parameters": [
          {
            "name": "annotationId",
            "in": "query",
            "description": "The ID for the annotation to insert.",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "country",
            "in": "query",
            "description": "ISO-3166-1 code to override the IP-based location.",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "showOnlySummaryInResponse",
            "in": "query",
            "description": "Requests that only the summary of the specified layer be provided in the response.",
            "required": false,
            "schema": {
              "type": "boolean"
            }
          },
          {
            "name": "source",
            "in": "query",
            "description": "String to identify the originator of this request.",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/Annotation"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Annotation"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      },
      "get": {
        "operationId": "books_mylibrary_annotations_list",
        "summary": "Retrieves a list of annotations, possibly filtered.",
        "description": "Retrieves a list of annotations, possibly filtered.",
        "tags": [
          "Mylibrary.Annotations"
        ],
        "parameters": [
          {
            "name": "contentVersion",
            "in": "query",
            "description": "The content version for the requested volume.",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "layerId",
            "in": "query",
            "description": "The layer ID to limit annotation by.",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "layerIds",
            "in": "query",
            "description": "The layer ID(s) to limit annotation by.",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "maxResults",
            "in": "query",
            "description": "Maximum number of results to return",
            "required": false,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          },
          {
            "name": "pageToken",
            "in": "query",
            "description": "The value of the nextToken from the previous page.",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "showDeleted",
            "in": "query",
            "description": "Set to true to return deleted annotations. updatedMin must be in the request to use this. Defaults to false.",
            "required": false,
            "schema": {
              "type": "boolean"
            }
          },
          {
            "name": "source",
            "in": "query",
            "description": "String to identify the originator of this request.",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "updatedMax",
            "in": "query",
            "description": "RFC 3339 timestamp to restrict to items updated prior to this timestamp (exclusive).",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "updatedMin",
            "in": "query",
            "description": "RFC 3339 timestamp to restrict to items updated since this timestamp (inclusive).",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "volumeId",
            "in": "query",
            "description": "The volume to restrict annotations to.",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Annotations"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/books/v1/mylibrary/annotations/summary": {
      "post": {
        "operationId": "books_mylibrary_annotations_summary",
        "summary": "Gets the summary of specified layers.",
        "description": "Gets the summary of specified layers.",
        "tags": [
          "Mylibrary.Annotations"
        ],
        "parameters": [
          {
            "name": "layerIds",
            "in": "query",
            "description": "Array of layer IDs to get the summary for.",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "volumeId",
            "in": "query",
            "description": "Volume id to get the summary for.",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "source",
            "in": "query",
            "description": "Optional. String to identify the originator of this request.",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AnnotationsSummary"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/books/v1/mylibrary/bookshelves/{shelf}/addVolume": {
      "post": {
        "operationId": "books_mylibrary_bookshelves_addVolume",
        "summary": "Adds a volume to a bookshelf.",
        "description": "Adds a volume to a bookshelf.",
        "tags": [
          "Mylibrary.Bookshelves"
        ],
        "parameters": [
          {
            "name": "shelf",
            "in": "path",
            "description": "ID of bookshelf to which to add a volume.",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "reason",
            "in": "query",
            "description": "The reason for which the book is added to the library.",
            "required": false,
            "schema": {
              "type": "string",
              "enum": [
                "REASON_UNDEFINED",
                "IOS_PREX",
                "IOS_SEARCH",
                "ONBOARDING"
              ]
            }
          },
          {
            "name": "source",
            "in": "query",
            "description": "String to identify the originator of this request.",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "volumeId",
            "in": "query",
            "description": "ID of volume to add.",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Empty"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/books/v1/mylibrary/bookshelves/{shelf}/clearVolumes": {
      "post": {
        "operationId": "books_mylibrary_bookshelves_clearVolumes",
        "summary": "Clears all volumes from a bookshelf.",
        "description": "Clears all volumes from a bookshelf.",
        "tags": [
          "Mylibrary.Bookshelves"
        ],
        "parameters": [
          {
            "name": "shelf",
            "in": "path",
            "description": "ID of bookshelf from which to remove a volume.",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "source",
            "in": "query",
            "description": "String to identify the originator of this request.",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Empty"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/books/v1/mylibrary/bookshelves/{shelf}": {
      "get": {
        "operationId": "books_mylibrary_bookshelves_get",
        "summary": "Retrieves metadata for a specific bookshelf belonging to the authenticated user.",
        "description": "Retrieves metadata for a specific bookshelf belonging to the authenticated user.",
        "tags": [
          "Mylibrary.Bookshelves"
        ],
        "parameters": [
          {
            "name": "shelf",
            "in": "path",
            "description": "ID of bookshelf to retrieve.",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "source",
            "in": "query",
            "description": "String to identify the originator of this request.",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Bookshelf"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/books/v1/mylibrary/bookshelves": {
      "get": {
        "operationId": "books_mylibrary_bookshelves_list",
        "summary": "Retrieves a list of bookshelves belonging to the authenticated user.",
        "description": "Retrieves a list of bookshelves belonging to the authenticated user.",
        "tags": [
          "Mylibrary.Bookshelves"
        ],
        "parameters": [
          {
            "name": "source",
            "in": "query",
            "description": "String to identify the originator of this request.",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Bookshelves"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/books/v1/mylibrary/bookshelves/{shelf}/moveVolume": {
      "post": {
        "operationId": "books_mylibrary_bookshelves_moveVolume",
        "summary": "Moves a volume within a bookshelf.",
        "description": "Moves a volume within a bookshelf.",
        "tags": [
          "Mylibrary.Bookshelves"
        ],
        "parameters": [
          {
            "name": "shelf",
            "in": "path",
            "description": "ID of bookshelf with the volume.",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "source",
            "in": "query",
            "description": "String to identify the originator of this request.",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "volumeId",
            "in": "query",
            "description": "ID of volume to move.",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "volumePosition",
            "in": "query",
            "description": "Position on shelf to move the item (0 puts the item before the current first item, 1 puts it between the first and the second and so on.)",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Empty"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/books/v1/mylibrary/bookshelves/{shelf}/removeVolume": {
      "post": {
        "operationId": "books_mylibrary_bookshelves_removeVolume",
        "summary": "Removes a volume from a bookshelf.",
        "description": "Removes a volume from a bookshelf.",
        "tags": [
          "Mylibrary.Bookshelves"
        ],
        "parameters": [
          {
            "name": "shelf",
            "in": "path",
            "description": "ID of bookshelf from which to remove a volume.",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "reason",
            "in": "query",
            "description": "The reason for which the book is removed from the library.",
            "required": false,
            "schema": {
              "type": "string",
              "enum": [
                "REASON_UNDEFINED",
                "ONBOARDING"
              ]
            }
          },
          {
            "name": "source",
            "in": "query",
            "description": "String to identify the originator of this request.",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "volumeId",
            "in": "query",
            "description": "ID of volume to remove.",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Empty"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/books/v1/mylibrary/bookshelves/{shelf}/volumes": {
      "get": {
        "operationId": "books_mylibrary_bookshelves_volumes_list",
        "summary": "Gets volume information for volumes on a bookshelf.",
        "description": "Gets volume information for volumes on a bookshelf.",
        "tags": [
          "Mylibrary.Bookshelves.Volumes"
        ],
        "parameters": [
          {
            "name": "shelf",
            "in": "path",
            "description": "The bookshelf ID or name retrieve volumes for.",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "country",
            "in": "query",
            "description": "ISO-3166-1 code to override the IP-based location.",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "maxResults",
            "in": "query",
            "description": "Maximum number of results to return",
            "required": false,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          },
          {
            "name": "projection",
            "in": "query",
            "description": "Restrict information returned to a set of selected fields.",
            "required": false,
            "schema": {
              "type": "string",
              "enum": [
                "PROJECTION_UNDEFINED",
                "FULL",
                "LITE"
              ]
            }
          },
          {
            "name": "q",
            "in": "query",
            "description": "Full-text search query string in this bookshelf.",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "showPreorders",
            "in": "query",
            "description": "Set to true to show pre-ordered books. Defaults to false.",
            "required": false,
            "schema": {
              "type": "boolean"
            }
          },
          {
            "name": "source",
            "in": "query",
            "description": "String to identify the originator of this request.",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "startIndex",
            "in": "query",
            "description": "Index of the first element to return (starts at 0)",
            "required": false,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Volumes"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/books/v1/mylibrary/readingpositions/{volumeId}": {
      "get": {
        "operationId": "books_mylibrary_readingpositions_get",
        "summary": "Retrieves my reading position information for a volume.",
        "description": "Retrieves my reading position information for a volume.",
        "tags": [
          "Mylibrary.Readingpositions"
        ],
        "parameters": [
          {
            "name": "volumeId",
            "in": "path",
            "description": "ID of volume for which to retrieve a reading position.",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "contentVersion",
            "in": "query",
            "description": "Volume content version for which this reading position is requested.",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "source",
            "in": "query",
            "description": "String to identify the originator of this request.",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ReadingPosition"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/books/v1/mylibrary/readingpositions/{volumeId}/setPosition": {
      "post": {
        "operationId": "books_mylibrary_readingpositions_setPosition",
        "summary": "Sets my reading position information for a volume.",
        "description": "Sets my reading position information for a volume.",
        "tags": [
          "Mylibrary.Readingpositions"
        ],
        "parameters": [
          {
            "name": "volumeId",
            "in": "path",
            "description": "ID of volume for which to update the reading position.",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "action",
            "in": "query",
            "description": "Action that caused this reading position to be set.",
            "required": false,
            "schema": {
              "type": "string",
              "enum": [
                "ACTION_UNDEFINED",
                "bookmark",
                "chapter",
                "next-page",
                "prev-page",
                "scroll",
                "search"
              ]
            }
          },
          {
            "name": "contentVersion",
            "in": "query",
            "description": "Volume content version for which this reading position applies.",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "deviceCookie",
            "in": "query",
            "description": "Random persistent device cookie optional on set position.",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "position",
            "in": "query",
            "description": "Position string for the new volume reading position.",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "source",
            "in": "query",
            "description": "String to identify the originator of this request.",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "timestamp",
            "in": "query",
            "description": "RFC 3339 UTC format timestamp associated with this reading position.",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Empty"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/books/v1/notification/get": {
      "get": {
        "operationId": "books_notification_get",
        "summary": "Returns notification details for a given notification id.",
        "description": "Returns notification details for a given notification id.",
        "tags": [
          "Notification"
        ],
        "parameters": [
          {
            "name": "locale",
            "in": "query",
            "description": "ISO-639-1 language and ISO-3166-1 country code. Ex: 'en_US'. Used for generating notification title and body.",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "notification_id",
            "in": "query",
            "description": "String to identify the notification.",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "source",
            "in": "query",
            "description": "String to identify the originator of this request.",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Notification"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/books/v1/onboarding/listCategories": {
      "get": {
        "operationId": "books_onboarding_listCategories",
        "summary": "List categories for onboarding experience.",
        "description": "List categories for onboarding experience.",
        "tags": [
          "Onboarding"
        ],
        "parameters": [
          {
            "name": "locale",
            "in": "query",
            "description": "ISO-639-1 language and ISO-3166-1 country code. Default is en-US if unset.",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Category"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/books/v1/onboarding/listCategoryVolumes": {
      "get": {
        "operationId": "books_onboarding_listCategoryVolumes",
        "summary": "List available volumes under categories for onboarding experience.",
        "description": "List available volumes under categories for onboarding experience.",
        "tags": [
          "Onboarding"
        ],
        "parameters": [
          {
            "name": "categoryId",
            "in": "query",
            "description": "List of category ids requested.",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "locale",
            "in": "query",
            "description": "ISO-639-1 language and ISO-3166-1 country code. Default is en-US if unset.",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "maxAllowedMaturityRating",
            "in": "query",
            "description": "The maximum allowed maturity rating of returned volumes. Books with a higher maturity rating are filtered out.",
            "required": false,
            "schema": {
              "type": "string",
              "enum": [
                "MAX_ALLOWED_MATURITY_RATING_UNDEFINED",
                "MATURE",
                "not-mature"
              ]
            }
          },
          {
            "name": "pageSize",
            "in": "query",
            "description": "Number of maximum results per page to be included in the response.",
            "required": false,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          },
          {
            "name": "pageToken",
            "in": "query",
            "description": "The value of the nextToken from the previous page.",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Volume2"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/books/v1/personalizedstream/get": {
      "get": {
        "operationId": "books_personalizedstream_get",
        "summary": "Returns a stream of personalized book clusters",
        "description": "Returns a stream of personalized book clusters",
        "tags": [
          "Personalizedstream"
        ],
        "parameters": [
          {
            "name": "locale",
            "in": "query",
            "description": "ISO-639-1 language and ISO-3166-1 country code. Ex: 'en_US'. Used for generating recommendations.",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "maxAllowedMaturityRating",
            "in": "query",
            "description": "The maximum allowed maturity rating of returned recommendations. Books with a higher maturity rating are filtered out.",
            "required": false,
            "schema": {
              "type": "string",
              "enum": [
                "MAX_ALLOWED_MATURITY_RATING_UNDEFINED",
                "MATURE",
                "not-mature"
              ]
            }
          },
          {
            "name": "source",
            "in": "query",
            "description": "String to identify the originator of this request.",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Discoveryclusters"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/books/v1/promooffer/accept": {
      "post": {
        "operationId": "books_promooffer_accept",
        "summary": "Accepts the promo offer.",
        "description": "Accepts the promo offer.",
        "tags": [
          "Promooffer"
        ],
        "parameters": [
          {
            "name": "androidId",
            "in": "query",
            "description": "device android_id",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "device",
            "in": "query",
            "description": "device device",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "manufacturer",
            "in": "query",
            "description": "device manufacturer",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "model",
            "in": "query",
            "description": "device model",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "offerId",
            "in": "query",
            "description": "",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "product",
            "in": "query",
            "description": "device product",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "serial",
            "in": "query",
            "description": "device serial",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "volumeId",
            "in": "query",
            "description": "Volume id to exercise the offer",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Empty"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/books/v1/promooffer/dismiss": {
      "post": {
        "operationId": "books_promooffer_dismiss",
        "summary": "Marks the promo offer as dismissed.",
        "description": "Marks the promo offer as dismissed.",
        "tags": [
          "Promooffer"
        ],
        "parameters": [
          {
            "name": "androidId",
            "in": "query",
            "description": "device android_id",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "device",
            "in": "query",
            "description": "device device",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "manufacturer",
            "in": "query",
            "description": "device manufacturer",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "model",
            "in": "query",
            "description": "device model",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "offerId",
            "in": "query",
            "description": "Offer to dimiss",
            "required": false,
            "schema": {
[...]
