{
  "openapi": "3.0.3",
  "info": {
    "title": "Cheddar (CheddarGetter) API",
    "version": "1.0.0",
    "description": "Cheddar API - A REST-like subscription billing and recurring payments API with XML responses. Supports customer management, subscription handling, usage tracking, invoicing, and payment processing.",
    "contact": {
      "url": "https://docs.getcheddar.com/"
    }
  },
  "servers": [
    {
      "url": "https://getcheddar.com/xml",
      "description": "Production server"
    }
  ],
  "security": [
    {
      "BasicAuth": []
    }
  ],
  "paths": {
    "/plans/get/productCode/{productCode}": {
      "get": {
        "summary": "Get all pricing plans",
        "description": "Retrieve all pricing plans for a product",
        "operationId": "getAllPlans",
        "parameters": [
          {
            "name": "productCode",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Product code"
          }
        ],
        "responses": {
          "200": {
            "description": "Plans retrieved successfully",
            "content": {
              "application/xml": {
                "schema": {
                  "$ref": "#/components/schemas/PlansResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request"
          }
        },
        "tags": [
          "plans"
        ]
      }
    },
    "/plans/get/productCode/{productCode}/code/{planCode}": {
      "get": {
        "summary": "Get specific pricing plan",
        "description": "Retrieve a specific pricing plan by code",
        "operationId": "getPlan",
        "parameters": [
          {
            "name": "productCode",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "planCode",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Plan retrieved successfully"
          }
        },
        "tags": [
          "plans"
        ]
      }
    },
    "/customers/get/productCode/{productCode}": {
      "get": {
        "summary": "Get all customers",
        "description": "Retrieve all customers with optional filtering",
        "operationId": "getAllCustomers",
        "parameters": [
          {
            "name": "productCode",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "subscriptionStatus",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "description": "Filter by subscription status"
          },
          {
            "name": "planCode",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "description": "Filter by plan code"
          }
        ],
        "responses": {
          "200": {
            "description": "Customers retrieved successfully",
            "content": {
              "application/xml": {
                "schema": {
                  "$ref": "#/components/schemas/CustomersResponse"
                }
              }
            }
          }
        },
        "tags": [
          "customers"
        ]
      }
    },
    "/customers/get/productCode/{productCode}/code/{customerCode}": {
      "get": {
        "summary": "Get customer by code",
        "description": "Retrieve a specific customer by their code",
        "operationId": "getCustomer",
        "parameters": [
          {
            "name": "productCode",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "customerCode",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Customer retrieved successfully"
          }
        },
        "tags": [
          "customers"
        ]
      }
    },
    "/customers/new/productCode/{productCode}": {
      "post": {
        "summary": "Create new customer",
        "description": "Create a new customer with optional credit card data",
        "operationId": "createCustomer",
        "parameters": [
          {
            "name": "productCode",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/x-www-form-urlencoded": {
              "schema": {
                "$ref": "#/components/schemas/CustomerRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Customer created successfully"
          }
        },
        "tags": [
          "customers"
        ]
      }
    },
    "/customers/edit/productCode/{productCode}/code/{customerCode}": {
      "post": {
        "summary": "Update customer",
        "description": "Update customer information and subscription",
        "operationId": "updateCustomer",
        "parameters": [
          {
            "name": "productCode",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "customerCode",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/x-www-form-urlencoded": {
              "schema": {
                "$ref": "#/components/schemas/CustomerUpdateRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Customer updated successfully"
          }
        },
        "tags": [
          "customers"
        ]
      }
    },
    "/customers/delete/productCode/{productCode}/code/{customerCode}": {
      "post": {
        "summary": "Delete customer",
        "description": "Delete a specific customer",
        "operationId": "deleteCustomer",
        "parameters": [
          {
            "name": "productCode",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "customerCode",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Customer deleted successfully"
          }
        },
        "tags": [
          "customers"
        ]
      }
    },
    "/customers/cancel/productCode/{productCode}/code/{customerCode}": {
      "post": {
        "summary": "Cancel subscription",
        "description": "Cancel a customer's subscription",
        "operationId": "cancelSubscription",
        "parameters": [
          {
            "name": "productCode",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "customerCode",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Subscription cancelled successfully"
          }
        },
        "tags": [
          "customers"
        ]
      }
    },
    "/customers/add-item-quantity/productCode/{productCode}/code/{customerCode}/itemCode/{itemCode}": {
      "post": {
        "summary": "Add tracked item quantity",
        "description": "Add quantity for usage-based billing items",
        "operationId": "addItemQuantity",
        "parameters": [
          {
            "name": "productCode",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "customerCode",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "itemCode",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/x-www-form-urlencoded": {
              "schema": {
                "type": "object",
                "properties": {
                  "quantity": {
                    "type": "number"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Item quantity added successfully"
          }
        },
        "tags": [
          "customers"
        ]
      }
    },
    "/customers/set-item-quantity/productCode/{productCode}/code/{customerCode}/itemCode/{itemCode}": {
      "post": {
        "summary": "Set tracked item quantity",
        "description": "Set absolute quantity for usage-based billing items",
        "operationId": "setItemQuantity",
        "parameters": [
          {
            "name": "productCode",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "customerCode",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "itemCode",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/x-www-form-urlencoded": {
              "schema": {
                "type": "object",
                "properties": {
                  "quantity": {
                    "type": "number"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Item quantity set successfully"
          }
        },
        "tags": [
          "customers"
        ]
      }
    },
    "/invoices/new/productCode/{productCode}/code/{customerCode}": {
      "post": {
        "summary": "Create one-time invoice",
        "description": "Create a one-time invoice for a customer",
        "operationId": "createInvoice",
        "parameters": [
          {
            "name": "productCode",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "customerCode",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Invoice created successfully"
          }
        },
        "tags": [
          "invoices"
        ]
      }
    },
    "/invoices/charge/productCode/{productCode}/code/{customerCode}": {
      "post": {
        "summary": "Add custom charge",
        "description": "Add a custom charge to a customer's account",
        "operationId": "addCharge",
        "parameters": [
          {
            "name": "productCode",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "customerCode",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/x-www-form-urlencoded": {
              "schema": {
                "type": "object",
                "properties": {
                  "chargeCode": {
                    "type": "string"
                  },
                  "quantity": {
                    "type": "number"
                  },
                  "eachAmount": {
                    "type": "number"
                  },
                  "description": {
                    "type": "string"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Charge added successfully"
          }
        },
        "tags": [
          "invoices"
        ]
      }
    },
    "/promotions/get/productCode/{productCode}": {
      "get": {
        "summary": "Get all promotions",
        "description": "Retrieve all promotions for a product",
        "operationId": "getAllPromotions",
        "parameters": [
          {
            "name": "productCode",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Promotions retrieved successfully"
          }
        },
        "tags": [
          "promotions"
        ]
      }
    }
  },
  "components": {
    "securitySchemes": {
      "BasicAuth": {
        "type": "http",
        "scheme": "basic",
        "description": "HTTP Basic Authentication using authorized Cheddar user email and password"
      }
    },
    "schemas": {
      "PlansResponse": {
        "type": "object",
        "description": "XML response containing pricing plans"
      },
      "CustomersResponse": {
        "type": "object",
        "description": "XML response containing customer data"
      },
      "CustomerRequest": {
        "type": "object",
        "properties": {
          "code": {
            "type": "string",
            "description": "Unique customer code"
          },
          "firstName": {
            "type": "string"
          },
          "lastName": {
            "type": "string"
          },
          "email": {
            "type": "string",
            "format": "email"
          },
          "subscription[planCode]": {
            "type": "string",
            "description": "Plan code for subscription"
          },
          "subscription[ccNumber]": {
            "type": "string",
            "description": "Credit card number"
          },
          "subscription[ccExpiration]": {
            "type": "string",
            "description": "Credit card expiration (MM/YYYY)"
          },
          "subscription[ccCardCode]": {
            "type": "string",
            "description": "Credit card CVV"
          }
        }
      },
      "CustomerUpdateRequest": {
        "type": "object",
        "properties": {
          "firstName": {
            "type": "string"
          },
          "lastName": {
            "type": "string"
          },
          "email": {
            "type": "string",
            "format": "email"
          },
          "subscription[planCode]": {
            "type": "string",
            "description": "New plan code"
          },
          "subscription[ccNumber]": {
            "type": "string",
            "description": "New credit card number"
          }
        }
      }
    }
  },
  "x-response-format": "XML",
  "x-features": {
    "payment_methods": [
      "credit_card",
      "paypal"
    ],
    "fraud_protection": true,
    "webhooks": true,
    "rate_limiting": true
  },
  "tags": [
    {
      "name": "customers"
    },
    {
      "name": "invoices"
    },
    {
      "name": "plans"
    },
    {
      "name": "promotions"
    }
  ]
}
