{
  "openapi": "3.0.3",
  "info": {
    "title": "beaconcha.in API",
    "version": "1.1.0",
    "description": "The beaconcha.in API provides comprehensive Ethereum blockchain data including consensus layer slots, epochs, validators, rewards, sync committees, execution layer blocks, addresses, gas prices, Rocket Pool data, and ETH.Store metrics. Free tier: 10 req/min/IP. All responses cached 1 min.",
    "license": {
      "name": "GPL-3.0",
      "url": "https://www.gnu.org/licenses/gpl-3.0.en.html"
    },
    "x-jentic-source-url": "https://docs.beaconcha.in/api/overview",
    "contact": {
      "name": "API Support"
    }
  },
  "servers": [
    {
      "url": "https://beaconcha.in",
      "description": "Ethereum mainnet"
    },
    {
      "url": "https://hoodi.beaconcha.in",
      "description": "Hoodi Ethereum testnet"
    }
  ],
  "security": [
    {
      "ApiKeyQuery": []
    },
    {
      "ApiKeyHeader": []
    }
  ],
  "tags": [
    {
      "name": "Epochs",
      "description": "Consensus layer epoch data"
    },
    {
      "name": "Slots",
      "description": "Consensus layer slot data"
    },
    {
      "name": "Validators",
      "description": "Validator data and statistics"
    },
    {
      "name": "Rewards",
      "description": "Validator rewards"
    },
    {
      "name": "Addresses",
      "description": "Ethereum address data"
    },
    {
      "name": "Blocks",
      "description": "Execution layer blocks"
    },
    {
      "name": "Gas",
      "description": "Gas prices"
    },
    {
      "name": "SyncCommittees",
      "description": "Sync committee data"
    },
    {
      "name": "Rocketpool",
      "description": "Rocket Pool protocol data"
    },
    {
      "name": "ETHStore",
      "description": "ETH.Store daily aggregates"
    },
    {
      "name": "Network",
      "description": "Network state"
    },
    {
      "name": "ENS",
      "description": "ENS resolution"
    },
    {
      "name": "Misc",
      "description": "Miscellaneous"
    }
  ],
  "paths": {
    "/api/v1/epoch/{epoch}": {
      "get": {
        "tags": [
          "Epochs"
        ],
        "summary": "Epoch Overview",
        "operationId": "getEpochOverview",
        "parameters": [
          {
            "name": "epoch",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Epoch number, 'latest', or 'finalized'"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiErrorResponse"
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiErrorResponse"
                }
              }
            }
          }
        },
        "description": "Epoch Overview"
      }
    },
    "/api/v1/epoch/{epoch}/slots": {
      "get": {
        "tags": [
          "Epochs"
        ],
        "summary": "Epoch Slots",
        "operationId": "getEpochSlots",
        "parameters": [
          {
            "name": "epoch",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Epoch number, 'latest', or 'finalized'"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiErrorResponse"
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiErrorResponse"
                }
              }
            }
          }
        },
        "description": "Epoch Slots"
      }
    },
    "/api/v1/slot/{slot}": {
      "get": {
        "tags": [
          "Slots"
        ],
        "summary": "Slot Overview",
        "operationId": "getSlotOverview",
        "parameters": [
          {
            "name": "slot",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Slot number, 'latest', or 'head'"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiErrorResponse"
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiErrorResponse"
                }
              }
            }
          }
        },
        "description": "Slot Overview"
      }
    },
    "/api/v1/slot/{slot}/attestations": {
      "get": {
        "tags": [
          "Slots"
        ],
        "summary": "Attestations for Slot",
        "operationId": "getSlotAttestations",
        "parameters": [
          {
            "name": "slot",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiErrorResponse"
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiErrorResponse"
                }
              }
            }
          }
        },
        "description": "Attestations for Slot"
      }
    },
    "/api/v1/slot/{slot}/attesterslashings": {
      "get": {
        "tags": [
          "Slots"
        ],
        "summary": "Attester Slashings for Slot",
        "operationId": "getSlotAttesterSlashings",
        "parameters": [
          {
            "name": "slot",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiErrorResponse"
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiErrorResponse"
                }
              }
            }
          }
        },
        "description": "Attester Slashings for Slot"
      }
    },
    "/api/v1/slot/{slot}/deposits": {
      "get": {
        "tags": [
          "Slots"
        ],
        "summary": "Deposits for Slot",
        "operationId": "getSlotDeposits",
        "parameters": [
          {
            "name": "slot",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiErrorResponse"
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiErrorResponse"
                }
              }
            }
          }
        },
        "description": "Deposits for Slot"
      }
    },
    "/api/v1/slot/{slot}/proposerslashings": {
      "get": {
        "tags": [
          "Slots"
        ],
        "summary": "Proposer Slashings for Slot",
        "operationId": "getSlotProposerSlashings",
        "parameters": [
          {
            "name": "slot",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiErrorResponse"
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiErrorResponse"
                }
              }
            }
          }
        },
        "description": "Proposer Slashings for Slot"
      }
    },
    "/api/v1/slot/{slot}/voluntaryexits": {
      "get": {
        "tags": [
          "Slots"
        ],
        "summary": "Voluntary Exits for Slot",
        "operationId": "getSlotVoluntaryExits",
        "parameters": [
          {
            "name": "slot",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiErrorResponse"
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiErrorResponse"
                }
              }
            }
          }
        },
        "description": "Voluntary Exits for Slot"
      }
    },
    "/api/v1/slot/{slot}/withdrawals": {
      "get": {
        "tags": [
          "Slots"
        ],
        "summary": "Withdrawals for Slot",
        "operationId": "getSlotWithdrawals",
        "parameters": [
          {
            "name": "slot",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiErrorResponse"
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiErrorResponse"
                }
              }
            }
          }
        },
        "description": "Withdrawals for Slot"
      }
    },
    "/api/v1/validator/{indexOrPubkey}": {
      "get": {
        "tags": [
          "Validators"
        ],
        "summary": "Validators Overview",
        "operationId": "getValidatorsOverview",
        "parameters": [
          {
            "name": "indexOrPubkey",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Comma-separated validator indices or 0x-prefixed BLS pubkeys (up to 100)"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiErrorResponse"
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiErrorResponse"
                }
              }
            }
          }
        },
        "description": "Validators Overview"
      }
    },
    "/api/v1/validator/{indexOrPubkey}/attestations": {
      "get": {
        "tags": [
          "Validators"
        ],
        "summary": "Validator Attestations History",
        "operationId": "getValidatorAttestations",
        "parameters": [
          {
            "name": "indexOrPubkey",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Comma-separated validator indices or 0x-prefixed BLS pubkeys (up to 100)"
          },
          {
            "name": "startEpoch",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "endEpoch",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiErrorResponse"
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiErrorResponse"
                }
              }
            }
          }
        },
        "description": "Validator Attestations History"
      }
    },
    "/api/v1/validator/{indexOrPubkey}/balancehistory": {
      "get": {
        "tags": [
          "Validators"
        ],
        "summary": "Validator Balance History",
        "operationId": "getValidatorBalanceHistory",
        "parameters": [
          {
            "name": "indexOrPubkey",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Comma-separated validator indices or 0x-prefixed BLS pubkeys (up to 100)"
          },
          {
            "name": "latest_epoch",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer"
            },
            "description": "Most recent epoch to return"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiErrorResponse"
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiErrorResponse"
                }
              }
            }
          }
        },
        "description": "Validator Balance History"
      }
    },
    "/api/v1/validator/{indexOrPubkey}/performance": {
      "get": {
        "tags": [
          "Validators"
        ],
        "summary": "Validator Performance",
        "operationId": "getValidatorPerformance",
        "parameters": [
          {
            "name": "indexOrPubkey",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Comma-separated validator indices or 0x-prefixed BLS pubkeys (up to 100)"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiErrorResponse"
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiErrorResponse"
                }
              }
            }
          }
        },
        "description": "Validator Performance"
      }
    },
    "/api/v1/validator/{indexOrPubkey}/proposals": {
      "get": {
        "tags": [
          "Validators"
        ],
        "summary": "Validator Proposed Blocks",
        "operationId": "getValidatorProposals",
        "parameters": [
          {
            "name": "indexOrPubkey",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Comma-separated validator indices or 0x-prefixed BLS pubkeys (up to 100)"
          },
          {
            "name": "epoch",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer"
            },
            "description": "Epoch number"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiErrorResponse"
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiErrorResponse"
                }
              }
            }
          }
        },
        "description": "Validator Proposed Blocks"
      }
    },
    "/api/v1/validator/{indexOrPubkey}/deposits": {
      "get": {
        "tags": [
          "Validators"
        ],
        "summary": "Validator Deposits (Execution Layer)",
        "operationId": "getValidatorDeposits",
        "parameters": [
          {
            "name": "indexOrPubkey",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Comma-separated validator indices or 0x-prefixed BLS pubkeys (up to 100)"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiErrorResponse"
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiErrorResponse"
                }
              }
            }
          }
        },
        "description": "Validator Deposits (Execution Layer)"
      }
    },
    "/api/v1/validator/{indexOrPubkey}/withdrawals": {
      "get": {
        "tags": [
          "Validators"
        ],
        "summary": "Validator Withdrawal History",
        "operationId": "getValidatorWithdrawals",
        "parameters": [
          {
            "name": "indexOrPubkey",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Comma-separated validator indices or 0x-prefixed BLS pubkeys (up to 100)"
          },
          {
            "name": "epoch",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer"
            },
            "description": "Epoch number"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiErrorResponse"
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiErrorResponse"
                }
              }
            }
          }
        },
        "description": "Validator Withdrawal History"
      }
    },
    "/api/v1/validator/{indexOrPubkey}/incomedetailhistory": {
      "get": {
        "tags": [
          "Validators"
        ],
        "summary": "Validator Income Detail History",
        "operationId": "getValidatorIncomeDetailHistory",
        "parameters": [
          {
            "name": "indexOrPubkey",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Comma-separated validator indices or 0x-prefixed BLS pubkeys (up to 100)"
          },
          {
            "name": "latest_epoch",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer"
            },
            "description": "Most recent epoch to return"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiErrorResponse"
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiErrorResponse"
                }
              }
            }
          }
        },
        "description": "Validator Income Detail History"
      }
    },
    "/api/v1/validator/{indexOrPubkey}/attestationefficiency": {
      "get": {
        "tags": [
          "Validators"
        ],
        "summary": "Attestation Efficiency",
        "operationId": "getValidatorAttestationEfficiency",
        "parameters": [
          {
            "name": "indexOrPubkey",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Comma-separated validator indices or 0x-prefixed BLS pubkeys (up to 100)"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiErrorResponse"
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiErrorResponse"
                }
              }
            }
          }
        },
        "description": "Attestation Efficiency"
      }
    },
    "/api/v1/validator/{indexOrPubkey}/blsChange": {
      "get": {
        "tags": [
          "Validators"
        ],
        "summary": "BLS-to-Execution Credential Changes",
        "operationId": "getValidatorBlsChange",
        "parameters": [
          {
            "name": "indexOrPubkey",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Comma-separated validator indices or 0x-prefixed BLS pubkeys (up to 100)"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiErrorResponse"
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiErrorResponse"
                }
              }
            }
          }
        },
        "description": "BLS-to-Execution Credential Changes"
      }
    },
    "/api/v1/validator/stats/{index}": {
      "get": {
        "tags": [
          "Validators"
        ],
        "summary": "Daily Validator Statistics",
        "operationId": "getValidatorDailyStats",
        "parameters": [
          {
            "name": "index",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "start_day",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiErrorResponse"
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiErrorResponse"
                }
              }
            }
          }
        },
        "description": "Daily Validator Statistics"
      }
    },
    "/api/v1/validator/{indexOrPubkey}/luck": {
      "get": {
        "tags": [
          "Validators"
        ],
        "summary": "Proposal Luck",
        "operationId": "getValidatorProposalLuck",
        "parameters": [
          {
            "name": "indexOrPubkey",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Comma-separated validator indices or 0x-prefixed BLS pubkeys (up to 100)"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiErrorResponse"
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiErrorResponse"
                }
              }
            }
          }
        },
        "description": "Proposal Luck"
      }
    },
    "/api/v1/validator/queue": {
      "get": {
        "tags": [
          "Validators"
        ],
        "summary": "Validator Activation and Exit Queue",
        "operationId": "getValidatorQueue",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiErrorResponse"
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiErrorResponse"
                }
              }
            }
          }
        },
        "description": "Validator Activation and Exit Queue"
      }
    },
    "/api/v1/validator/eth1/{address}": {
      "get": {
        "tags": [
          "Validators"
        ],
        "summary": "Validators by Deposit Address",
        "operationId": "getValidatorsByDepositAddress",
        "parameters": [
          {
            "name": "address",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Execution layer address or ENS name"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiErrorResponse"
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiErrorResponse"
                }
              }
            }
          }
        },
        "description": "Validators by Deposit Address"
      }
    },
    "/api/v1/validator/withdrawalCredentials/{withdrawalCredentials}": {
      "get": {
        "tags": [
          "Validators"
        ],
        "summary": "Validators by Withdrawal Credentials",
        "operationId": "getValidatorsByWithdrawalCredentials",
        "parameters": [
          {
            "name": "withdrawalCredentials",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "32-byte withdrawal credentials or ETH address"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiErrorResponse"
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiErrorResponse"
                }
              }
            }
          }
        },
        "description": "Validators by Withdrawal Credentials"
      }
    },
    "/api/v1/validator/{indexOrPubkey}/cl_rewards": {
      "get": {
        "tags": [
          "Rewards"
        ],
        "summary": "Consensus-Layer Rewards",
        "operationId": "getClRewards",
        "parameters": [
          {
            "name": "indexOrPubkey",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Comma-separated validator indices or 0x-prefixed BLS pubkeys (up to 100)"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiErrorResponse"
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiErrorResponse"
                }
              }
            }
          }
        },
        "description": "Consensus-Layer Rewards"
      }
    },
    "/api/v1/validator/{indexOrPubkey}/el_rewards": {
      "get": {
        "tags": [
          "Rewards"
        ],
        "summary": "Execution-Layer Rewards",
        "operationId": "getElRewards",
        "parameters": [
          {
            "name": "indexOrPubkey",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Comma-separated validator indices or 0x-prefixed BLS pubkeys (up to 100)"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiErrorResponse"
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiErrorResponse"
                }
              }
            }
          }
        },
        "description": "Execution-Layer Rewards"
      }
    },
    "/api/v1/validator/leaderboard": {
      "get": {
        "tags": [
          "Rewards"
        ],
        "summary": "Validator Performance Leaderboard",
        "operationId": "getValidatorLeaderboard",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiErrorResponse"
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiErrorResponse"
                }
              }
            }
          }
        },
        "description": "Validator Performance Leaderboard"
      }
    },
    "/api/v1/execution/address/{address}": {
      "get": {
        "tags": [
          "Addresses"
        ],
        "summary": "Execution Address Balances",
        "operationId": "getExecutionAddressBalances",
        "parameters": [
          {
            "name": "address",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "pattern": "^0x[a-fA-F0-9]{40}$"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiErrorResponse"
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiErrorResponse"
                }
              }
            }
          }
        },
        "description": "Execution Address Balances"
      }
    },
    "/api/v1/execution/address/{address}/erc20tokens": {
      "get": {
        "tags": [
          "Addresses"
        ],
        "summary": "ERC-20 Token Balances",
        "operationId": "getAddressErc20Tokens",
        "parameters": [
          {
            "name": "address",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "pattern": "^0x[a-fA-F0-9]{40}$"
            }
          },
          {
            "name": "offset",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "minimum": 0,
              "default": 0
            }
          },
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "minimum": 1
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiErrorResponse"
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiErrorResponse"
                }
              }
            }
          }
        },
        "description": "ERC-20 Token Balances"
      }
    },
    "/api/v1/execution/block/{blockNumber}": {
      "get": {
        "tags": [
          "Blocks"
        ],
        "summary": "Execution Block Overview",
        "operationId": "getExecutionBlock",
        "parameters": [
          {
            "name": "blockNumber",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Comma-separated block numbers (up to 100)"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiErrorResponse"
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiErrorResponse"
                }
              }
            }
          }
        },
        "description": "Execution Block Overview"
      }
    },
    "/api/v1/execution/block/produced/{addressIndexOrPubkey}": {
      "get": {
        "tags": [
          "Blocks"
        ],
        "summary": "Execution Blocks by Producer",
        "operationId": "getExecutionBlocksByProducer",
        "parameters": [
          {
            "name": "addressIndexOrPubkey",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "offset",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "minimum": 0,
              "default": 0
            }
          },
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "minimum": 1
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiErrorResponse"
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiErrorResponse"
                }
              }
            }
          }
        },
        "description": "Execution Blocks by Producer"
      }
    },
    "/api/v1/execution/gasnow": {
      "get": {
        "tags": [
          "Gas"
        ],
        "summary": "Current Gas Price Recommendations",
        "operationId": "getGasNow",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiErrorResponse"
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiErrorResponse"
                }
              }
            }
          }
        },
        "description": "Current Gas Price Recommendations"
      }
    },
    "/api/v1/sync_committee/{period}": {
      "get": {
        "tags": [
          "SyncCommittees"
        ],
        "summary": "Sync Committee for Period",
        "operationId": "getSyncCommittee",
        "parameters": [
          {
            "name": "period",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Sync committee period number or 'latest'"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiErrorResponse"
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiErrorResponse"
                }
              }
            }
          }
        },
        "description": "Sync Committee for Period"
      }
    },
    "/api/v1/rocketpool/validator/{indexOrPubkey}": {
      "get": {
        "tags": [
          "Rocketpool"
        ],
        "summary": "Rocket Pool Validator Metadata",
        "operationId": "getRocketpoolValidator",
        "parameters": [
          {
            "name": "indexOrPubkey",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Comma-separated validator indices or 0x-prefixed BLS pubkeys (up to 100)"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiErrorResponse"
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiErrorResponse"
                }
              }
            }
          }
        },
        "description": "Rocket Pool Validator Metadata"
      }
    },
    "/api/v1/rocketpool/stats": {
      "get": {
        "tags": [
          "Rocketpool"
        ],
        "summary": "Rocket Pool Network Statistics",
        "operationId": "getRocketpoolStats",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiErrorResponse"
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiErrorResponse"
                }
              }
            }
          }
        },
        "description": "Rocket Pool Network Statistics"
      }
    },
    "/api/v1/ethstore/{day}": {
      "get": {
        "tags": [
          "ETHStore"
        ],
        "summary": "ETH.Store Daily Aggregates",
        "operationId": "getEthStoreDay",
        "parameters": [
          {
            "name": "day",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Day number or 'latest'"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiErrorResponse"
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiErrorResponse"
                }
              }
            }
          }
        },
        "description": "ETH.Store Daily Aggregates"
      }
    },
    "/api/v1/eth1deposit/{txhash}": {
      "get": {
        "tags": [
          "Validators"
        ],
        "summary": "Deposits by Transaction Hash",
        "operationId": "getDepositsByTxHash",
        "parameters": [
          {
            "name": "txhash",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Execution layer transaction hash"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiErrorResponse"
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiErrorResponse"
                }
              }
            }
          }
        },
        "description": "Deposits by Transaction Hash"
      }
    },
    "/api/v1/ens/lookup/{addressOrName}": {
      "get": {
        "tags": [
          "ENS"
        ],
        "summary": "Resolve ENS Name or Address",
        "operationId": "resolveEns",
        "parameters": [
          {
            "name": "addressOrName",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "ENS name or Ethereum address"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiErrorResponse"
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiErrorResponse"
                }
              }
            }
          }
        },
        "description": "Resolve ENS Name or Address"
      }
    },
    "/api/v1/chart/{chart}": {
      "get": {
        "tags": [
          "Misc"
        ],
        "summary": "Chart",
        "operationId": "getChart",
        "parameters": [
          {
            "name": "chart",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Chart name"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiErrorResponse"
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiErrorResponse"
                }
              }
            }
          }
        },
        "description": "Chart"
      }
    },
    "/api/v1/healthz": {
      "get": {
        "tags": [
          "Misc"
        ],
        "summary": "Explorer Availability",
        "operationId": "healthCheck",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiErrorResponse"
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiErrorResponse"
                }
              }
            }
          }
        },
        "description": "Explorer Availability"
      }
    },
    "/api/v1/healthz-extended": {
      "get": {
        "tags": [
          "Misc"
        ],
        "summary": "Explorer Health",
        "operationId": "healthCheckExtended",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiErrorResponse"
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiErrorResponse"
                }
              }
            }
          }
        },
        "description": "Explorer Health"
      }
    },
    "/api/v1/latestState": {
      "get": {
        "tags": [
          "Network"
        ],
        "summary": "Latest Consensus and Execution State",
        "operationId": "getLatestState",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiErrorResponse"
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiErrorResponse"
                }
              }
            }
          }
        },
        "description": "Latest Consensus and Execution State"
      }
    },
    "/api/v1/graffitiwall": {
      "get": {
        "tags": [
          "Misc"
        ],
        "summary": "Graffiti Wall Pixels",
        "operationId": "getGraffitiWall",
        "parameters": [
          {
            "name": "x1",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "y1",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "x2",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "y2",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiErrorResponse"
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiErrorResponse"
                }
              }
            }
          }
        },
        "description": "Graffiti Wall Pixels"
      }
    }
  },
  "components": {
    "securitySchemes": {
      "ApiKeyQuery": {
        "type": "apiKey",
        "in": "query",
        "name": "apikey",
        "description": "API key as query parameter"
      },
      "ApiKeyHeader": {
        "type": "apiKey",
        "in": "header",
        "name": "apikey",
        "description": "API key as request header"
      }
    },
    "schemas": {
      "ApiResponse": {
        "type": "object",
        "properties": {
          "status": {
            "type": "string",
            "enum": [
              "OK"
            ]
          },
          "data": {
            "description": "Response payload"
          }
        }
      },
      "ApiErrorResponse": {
        "type": "object",
        "properties": {
          "status": {
            "type": "string",
            "description": "Error status message starting with 'ERROR:'"
          },
          "data": {
            "type": "string",
            "nullable": true
          }
        }
      }
    }
  }
}
