{
  "openapi": "3.1.0",
  "info": {
    "title": "MusicBrainz API",
    "version": "2.0",
    "description": "The MusicBrainz API provides access to the MusicBrainz Database of music metadata. It supports lookup, browse, and search operations for areas, artists, events, genres, instruments, labels, places, recordings, releases, release-groups, series, works, and URLs. Responses are available in XML (default) and JSON formats.",
    "contact": {
      "name": "MusicBrainz",
      "url": "https://musicbrainz.org/doc/MusicBrainz_API"
    },
    "x-apisguru-categories": [
      "media"
    ],
    "x-logo": {
      "url": "https://musicbrainz.org/static/images/entity/artist.svg"
    }
  },
  "servers": [
    {
      "url": "https://musicbrainz.org/ws/2"
    }
  ],
  "security": [],
  "components": {
    "securitySchemes": {
      "digestAuth": {
        "type": "http",
        "scheme": "digest",
        "description": "Required for data submission and user-specific requests."
      }
    },
    "schemas": {
      "ArtistResult": {
        "type": "object",
        "properties": {
          "created": {
            "type": "string",
            "format": "date-time"
          },
          "count": {
            "type": "integer"
          },
          "offset": {
            "type": "integer"
          },
          "artists": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Artist"
            }
          }
        }
      },
      "Artist": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "format": "uuid"
          },
          "type": {
            "type": "string"
          },
          "type-id": {
            "type": "string"
          },
          "score": {
            "type": "integer"
          },
          "name": {
            "type": "string"
          },
          "sort-name": {
            "type": "string"
          },
          "country": {
            "type": "string"
          },
          "area": {
            "type": "object",
            "properties": {
              "id": {
                "type": "string"
              },
              "name": {
                "type": "string"
              }
            }
          },
          "begin-area": {
            "type": "object"
          },
          "disambiguation": {
            "type": "string"
          },
          "life-span": {
            "type": "object",
            "properties": {
              "begin": {
                "type": "string"
              },
              "end": {
                "type": "string"
              },
              "ended": {
                "type": "boolean"
              }
            }
          },
          "aliases": {
            "type": "array",
            "items": {
              "type": "object"
            }
          },
          "tags": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "count": {
                  "type": "integer"
                },
                "name": {
                  "type": "string"
                }
              }
            }
          },
          "genres": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "count": {
                  "type": "integer"
                },
                "id": {
                  "type": "string"
                },
                "name": {
                  "type": "string"
                }
              }
            }
          }
        }
      },
      "Release": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "format": "uuid"
          },
          "title": {
            "type": "string"
          },
          "status": {
            "type": "string"
          },
          "date": {
            "type": "string"
          },
          "country": {
            "type": "string"
          },
          "barcode": {
            "type": "string"
          },
          "artist-credit": {
            "type": "array",
            "items": {
              "type": "object"
            }
          },
          "label-info": {
            "type": "array",
            "items": {
              "type": "object"
            }
          },
          "media": {
            "type": "array",
            "items": {
              "type": "object"
            }
          },
          "release-group": {
            "type": "object"
          }
        }
      },
      "ReleaseGroup": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "format": "uuid"
          },
          "title": {
            "type": "string"
          },
          "primary-type": {
            "type": "string"
          },
          "secondary-types": {
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "first-release-date": {
            "type": "string"
          },
          "artist-credit": {
            "type": "array",
            "items": {
              "type": "object"
            }
          }
        }
      },
      "Recording": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "format": "uuid"
          },
          "title": {
            "type": "string"
          },
          "length": {
            "type": "integer",
            "description": "Duration in milliseconds"
          },
          "disambiguation": {
            "type": "string"
          },
          "video": {
            "type": "boolean"
          },
          "artist-credit": {
            "type": "array",
            "items": {
              "type": "object"
            }
          },
          "isrcs": {
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "releases": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Release"
            }
          }
        }
      },
      "Label": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "format": "uuid"
          },
          "name": {
            "type": "string"
          },
          "sort-name": {
            "type": "string"
          },
          "type": {
            "type": "string"
          },
          "country": {
            "type": "string"
          },
          "label-code": {
            "type": "integer"
          },
          "disambiguation": {
            "type": "string"
          },
          "life-span": {
            "type": "object"
          }
        }
      },
      "Work": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "format": "uuid"
          },
          "title": {
            "type": "string"
          },
          "type": {
            "type": "string"
          },
          "language": {
            "type": "string"
          },
          "iswcs": {
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "disambiguation": {
            "type": "string"
          },
          "relations": {
            "type": "array",
            "items": {
              "type": "object"
            }
          }
        }
      },
      "Genre": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "format": "uuid"
          },
          "name": {
            "type": "string"
          },
          "disambiguation": {
            "type": "string"
          }
        }
      },
      "SearchResult": {
        "type": "object",
        "properties": {
          "created": {
            "type": "string"
          },
          "count": {
            "type": "integer"
          },
          "offset": {
            "type": "integer"
          }
        }
      }
    },
    "parameters": {
      "fmt": {
        "name": "fmt",
        "in": "query",
        "schema": {
          "type": "string",
          "enum": [
            "json",
            "xml"
          ]
        },
        "description": "Response format."
      },
      "inc": {
        "name": "inc",
        "in": "query",
        "schema": {
          "type": "string"
        },
        "description": "Subquery includes, separated by +."
      },
      "limit": {
        "name": "limit",
        "in": "query",
        "schema": {
          "type": "integer",
          "default": 25,
          "maximum": 100
        }
      },
      "offset": {
        "name": "offset",
        "in": "query",
        "schema": {
          "type": "integer",
          "default": 0
        }
      }
    }
  },
  "paths": {
    "/artist/{mbid}": {
      "get": {
        "operationId": "lookupArtist",
        "summary": "Lookup an artist by MBID",
        "tags": [
          "Lookup"
        ],
        "parameters": [
          {
            "name": "mbid",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          },
          {
            "$ref": "#/components/parameters/inc"
          },
          {
            "$ref": "#/components/parameters/fmt"
          }
        ],
        "responses": {
          "200": {
            "description": "Artist details.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Artist"
                }
              }
            }
          }
        },
        "description": "Lookup an artist by MBID"
      }
    },
    "/artist": {
      "get": {
        "operationId": "searchArtists",
        "summary": "Search for artists",
        "tags": [
          "Search"
        ],
        "parameters": [
          {
            "name": "query",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "$ref": "#/components/parameters/limit"
          },
          {
            "$ref": "#/components/parameters/offset"
          },
          {
            "$ref": "#/components/parameters/fmt"
          }
        ],
        "responses": {
          "200": {
            "description": "Artist search results.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ArtistResult"
                }
              }
            }
          }
        },
        "description": "Search for artists"
      }
    },
    "/release/{mbid}": {
      "get": {
        "operationId": "lookupRelease",
        "summary": "Lookup a release by MBID",
        "tags": [
          "Lookup"
        ],
        "parameters": [
          {
            "name": "mbid",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          },
          {
            "$ref": "#/components/parameters/inc"
          },
          {
            "$ref": "#/components/parameters/fmt"
          },
          {
            "name": "type",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "status",
            "in": "query",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Release details.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Release"
                }
              }
            }
          }
        },
        "description": "Lookup a release by MBID"
      }
    },
    "/release": {
      "get": {
        "operationId": "browseOrSearchReleases",
        "summary": "Browse or search releases",
        "tags": [
          "Browse",
          "Search"
        ],
        "parameters": [
          {
            "name": "query",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "description": "Search query (for search mode)."
          },
          {
            "name": "artist",
            "in": "query",
            "schema": {
              "type": "string",
              "format": "uuid"
            },
            "description": "Browse releases by artist MBID."
          },
          {
            "name": "label",
            "in": "query",
            "schema": {
              "type": "string",
              "format": "uuid"
            },
            "description": "Browse releases by label MBID."
          },
          {
            "name": "recording",
            "in": "query",
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          },
          {
            "name": "release-group",
            "in": "query",
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          },
          {
            "$ref": "#/components/parameters/inc"
          },
          {
            "$ref": "#/components/parameters/limit"
          },
          {
            "$ref": "#/components/parameters/offset"
          },
          {
            "$ref": "#/components/parameters/fmt"
          }
        ],
        "responses": {
          "200": {
            "description": "Release results.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "description": "Browse or search releases"
      }
    },
    "/release-group/{mbid}": {
      "get": {
        "operationId": "lookupReleaseGroup",
        "summary": "Lookup a release group by MBID",
        "tags": [
          "Lookup"
        ],
        "parameters": [
          {
            "name": "mbid",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          },
          {
            "$ref": "#/components/parameters/inc"
          },
          {
            "$ref": "#/components/parameters/fmt"
          }
        ],
        "responses": {
          "200": {
            "description": "Release group details.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ReleaseGroup"
                }
              }
            }
          }
        },
        "description": "Lookup a release group by MBID"
      }
    },
    "/release-group": {
      "get": {
        "operationId": "browseOrSearchReleaseGroups",
        "summary": "Browse or search release groups",
        "tags": [
          "Browse",
          "Search"
        ],
        "parameters": [
          {
            "name": "query",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "artist",
            "in": "query",
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          },
          {
            "$ref": "#/components/parameters/inc"
          },
          {
            "$ref": "#/components/parameters/limit"
          },
          {
            "$ref": "#/components/parameters/offset"
          },
          {
            "$ref": "#/components/parameters/fmt"
          }
        ],
        "responses": {
          "200": {
            "description": "Release group results.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "description": "Browse or search release groups"
      }
    },
    "/recording/{mbid}": {
      "get": {
        "operationId": "lookupRecording",
        "summary": "Lookup a recording by MBID",
        "tags": [
          "Lookup"
        ],
        "parameters": [
          {
            "name": "mbid",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          },
          {
            "$ref": "#/components/parameters/inc"
          },
          {
            "$ref": "#/components/parameters/fmt"
          }
        ],
        "responses": {
          "200": {
            "description": "Recording details.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Recording"
                }
              }
            }
          }
        },
        "description": "Lookup a recording by MBID"
      }
    },
    "/recording": {
      "get": {
        "operationId": "browseOrSearchRecordings",
        "summary": "Browse or search recordings",
        "tags": [
          "Browse",
          "Search"
        ],
        "parameters": [
          {
            "name": "query",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "artist",
            "in": "query",
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          },
          {
            "name": "release",
            "in": "query",
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          },
          {
            "$ref": "#/components/parameters/inc"
          },
          {
            "$ref": "#/components/parameters/limit"
          },
          {
            "$ref": "#/components/parameters/offset"
          },
          {
            "$ref": "#/components/parameters/fmt"
          }
        ],
        "responses": {
          "200": {
            "description": "Recording results.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "description": "Browse or search recordings"
      }
    },
    "/label/{mbid}": {
      "get": {
        "operationId": "lookupLabel",
        "summary": "Lookup a label by MBID",
        "tags": [
          "Lookup"
        ],
        "parameters": [
          {
            "name": "mbid",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          },
          {
            "$ref": "#/components/parameters/inc"
          },
          {
            "$ref": "#/components/parameters/fmt"
          }
        ],
        "responses": {
          "200": {
            "description": "Label details.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Label"
                }
              }
            }
          }
        },
        "description": "Lookup a label by MBID"
      }
    },
    "/work/{mbid}": {
      "get": {
        "operationId": "lookupWork",
        "summary": "Lookup a work by MBID",
        "tags": [
          "Lookup"
        ],
        "parameters": [
          {
            "name": "mbid",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          },
          {
            "$ref": "#/components/parameters/inc"
          },
          {
            "$ref": "#/components/parameters/fmt"
          }
        ],
        "responses": {
          "200": {
            "description": "Work details.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Work"
                }
              }
            }
          }
        },
        "description": "Lookup a work by MBID"
      }
    },
    "/area/{mbid}": {
      "get": {
        "operationId": "lookupArea",
        "summary": "Lookup an area by MBID",
        "tags": [
          "Lookup"
        ],
        "parameters": [
          {
            "name": "mbid",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          },
          {
            "$ref": "#/components/parameters/inc"
          },
          {
            "$ref": "#/components/parameters/fmt"
          }
        ],
        "responses": {
          "200": {
            "description": "Area details.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "description": "Lookup an area by MBID"
      }
    },
    "/event/{mbid}": {
      "get": {
        "operationId": "lookupEvent",
        "summary": "Lookup an event by MBID",
        "tags": [
          "Lookup"
        ],
        "parameters": [
          {
            "name": "mbid",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          },
          {
            "$ref": "#/components/parameters/inc"
          },
          {
            "$ref": "#/components/parameters/fmt"
          }
        ],
        "responses": {
          "200": {
            "description": "Event details.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "description": "Lookup an event by MBID"
      }
    },
    "/genre/all": {
      "get": {
        "operationId": "getAllGenres",
        "summary": "Get all genres",
        "tags": [
          "Genres"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/limit"
          },
          {
            "$ref": "#/components/parameters/offset"
          },
          {
            "$ref": "#/components/parameters/fmt"
          }
        ],
        "responses": {
          "200": {
            "description": "List of genres.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "genre-count": {
                      "type": "integer"
                    },
                    "genre-offset": {
                      "type": "integer"
                    },
                    "genres": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/Genre"
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "description": "Get all genres"
      }
    },
    "/genre/{mbid}": {
      "get": {
        "operationId": "lookupGenre",
        "summary": "Lookup a genre by MBID",
        "tags": [
          "Genres"
        ],
        "parameters": [
          {
            "name": "mbid",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          },
          {
            "$ref": "#/components/parameters/fmt"
          }
        ],
        "responses": {
          "200": {
            "description": "Genre details.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Genre"
                }
              }
            }
          }
        },
        "description": "Lookup a genre by MBID"
      }
    },
    "/instrument/{mbid}": {
      "get": {
        "operationId": "lookupInstrument",
        "summary": "Lookup an instrument by MBID",
        "tags": [
          "Lookup"
        ],
        "parameters": [
          {
            "name": "mbid",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          },
          {
            "$ref": "#/components/parameters/inc"
          },
          {
            "$ref": "#/components/parameters/fmt"
          }
        ],
        "responses": {
          "200": {
            "description": "Instrument details.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "description": "Lookup an instrument by MBID"
      }
    },
    "/place/{mbid}": {
      "get": {
        "operationId": "lookupPlace",
        "summary": "Lookup a place by MBID",
        "tags": [
          "Lookup"
        ],
        "parameters": [
          {
            "name": "mbid",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          },
          {
            "$ref": "#/components/parameters/inc"
          },
          {
            "$ref": "#/components/parameters/fmt"
          }
        ],
        "responses": {
          "200": {
            "description": "Place details.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "description": "Lookup a place by MBID"
      }
    },
    "/series/{mbid}": {
      "get": {
        "operationId": "lookupSeries",
        "summary": "Lookup a series by MBID",
        "tags": [
          "Lookup"
        ],
        "parameters": [
          {
            "name": "mbid",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          },
          {
            "$ref": "#/components/parameters/inc"
          },
          {
            "$ref": "#/components/parameters/fmt"
          }
        ],
        "responses": {
          "200": {
            "description": "Series details.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "description": "Lookup a series by MBID"
      }
    },
    "/url": {
      "get": {
        "operationId": "lookupUrl",
        "summary": "Lookup a URL resource",
        "tags": [
          "Lookup"
        ],
        "parameters": [
          {
            "name": "resource",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "The URL to look up."
          },
          {
            "$ref": "#/components/parameters/inc"
          },
          {
            "$ref": "#/components/parameters/fmt"
          }
        ],
        "responses": {
          "200": {
            "description": "URL entity.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "description": "Lookup a URL resource"
      }
    },
    "/discid/{discid}": {
      "get": {
        "operationId": "lookupDiscId",
        "summary": "Lookup releases by disc ID",
        "tags": [
          "Non-MBID Lookup"
        ],
        "parameters": [
          {
            "name": "discid",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "toc",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "description": "Table of contents for fuzzy lookup."
          },
          {
            "name": "cdstubs",
            "in": "query",
            "schema": {
              "type": "string",
              "enum": [
                "yes",
                "no"
              ]
            }
          },
          {
            "name": "media-format",
            "in": "query",
            "schema": {
              "type": "string",
              "enum": [
                "all"
              ]
            }
          },
          {
            "$ref": "#/components/parameters/inc"
          },
          {
            "$ref": "#/components/parameters/fmt"
          }
        ],
        "responses": {
          "200": {
            "description": "Releases matching the disc ID.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "description": "Lookup releases by disc ID"
      }
    },
    "/isrc/{isrc}": {
      "get": {
        "operationId": "lookupIsrc",
        "summary": "Lookup recordings by ISRC",
        "tags": [
          "Non-MBID Lookup"
        ],
        "parameters": [
          {
            "name": "isrc",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "$ref": "#/components/parameters/inc"
          },
          {
            "$ref": "#/components/parameters/fmt"
          }
        ],
        "responses": {
          "200": {
            "description": "Recordings matching the ISRC.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "description": "Lookup recordings by ISRC"
      }
    },
    "/iswc/{iswc}": {
      "get": {
        "operationId": "lookupIswc",
        "summary": "Lookup works by ISWC",
        "tags": [
          "Non-MBID Lookup"
        ],
        "parameters": [
          {
            "name": "iswc",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "$ref": "#/components/parameters/inc"
          },
          {
            "$ref": "#/components/parameters/fmt"
          }
        ],
        "responses": {
          "200": {
            "description": "Works matching the ISWC.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "description": "Lookup works by ISWC"
      }
    }
  },
  "tags": [
    {
      "name": "Lookup",
      "description": "Lookup entities by MBID."
    },
    {
      "name": "Browse",
      "description": "Browse entities linked to other entities."
    },
    {
      "name": "Search",
      "description": "Search entities by query."
    },
    {
      "name": "Genres",
      "description": "Genre operations."
    },
    {
      "name": "Non-MBID Lookup",
      "description": "Lookup by disc ID, ISRC, or ISWC."
    }
  ]
}
