{
  "openapi": "3.0.1",
  "info": {
    "title": "API Buscar XMLs por NSU",
    "version": "1.0.0",
    "description": "Endpoint respons\u00e1vel por buscar XMLs dispon\u00edveis a partir de um NSU inicial,\nretornando documentos fiscais em ordem incremental.\n",
    "x-jentic-source-url": "https://api.swaggerhub.com/apis/siegcom/GeneratedAPI_2025-12-15-0947/1.0.0"
  },
  "servers": [
    {
      "url": "https://api.sieg.com"
    }
  ],
  "paths": {
    "/api/v1/buscar-xmls/nsu": {
      "post": {
        "summary": "Buscar XMLs por NSU",
        "description": "Retorna XMLs dispon\u00edveis a partir de um NSU informado.\nIdeal para sincroniza\u00e7\u00e3o incremental de documentos fiscais.\n",
        "operationId": "buscarXmlsPorNsu",
        "parameters": [
          {
            "name": "X-API-Key",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "X-Secret-Key",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "X-Client-Id",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/BuscarXmlsPorNsuRequestDto"
              },
              "example": {
                "NsuInicial": 1,
                "LimiteResultados": 50
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "XMLs encontrados com sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BuscarXmlsPorNsuResponseDto"
                },
                "example": {
                  "IsSuccess": true,
                  "ErrorMessage": "",
                  "StatusCode": 200,
                  "Data": {
                    "ListaNsuConsulta": [
                      {
                        "CnpjCpfEmitente": null,
                        "CnpjCpfDestinatario": null,
                        "CnpjCpfTomador": null,
                        "CnpjCpfRemetente": null,
                        "NumeroNsu": 114,
                        "TipoXml": "Event",
                        "DataEmissao": "0001-01-01T00:00:00"
                      }
                    ]
                  }
                }
              }
            }
          },
          "400": {
            "description": "Erro de valida\u00e7\u00e3o"
          },
          "401": {
            "description": "N\u00e3o autorizado"
          }
        },
        "x-codeSamples": [
          {
            "lang": "cURL",
            "source": "curl -X POST \"https://api.sieg.com/api/v1/buscar-xmls/nsu\" \\\n  -H \"accept: application/json\" \\\n  -H \"Content-Type: application/json\" \\\n  -H \"X-API-Key: apikey\" \\\n  -H \"X-Secret-Key: secretkey\" \\\n  -H \"X-Client-Id: clientId\" \\\n  -d '{ \n        \"NsuInicial\": 1,\n        \"LimiteResultados\": 50\n      }'\n"
          }
        ]
      }
    }
  },
  "components": {
    "schemas": {
      "BuscarXmlsPorNsuRequestDto": {
        "type": "object",
        "description": "DTO utilizado para buscar XMLs a partir de um NSU inicial.",
        "required": [
          "NsuInicial"
        ],
        "properties": {
          "NsuInicial": {
            "type": "integer",
            "format": "int64",
            "description": "NSU inicial para in\u00edcio da busca incremental."
          },
          "LimiteResultados": {
            "type": "integer",
            "format": "int32",
            "description": "Quantidade m\u00e1xima de XMLs retornados (m\u00e1x recomendado: 50)."
          }
        }
      },
      "BuscarXmlsPorNsuResponseDto": {
        "type": "object",
        "description": "Resposta da API para busca de XMLs por NSU.",
        "properties": {
          "IsSuccess": {
            "type": "boolean"
          },
          "ErrorMessage": {
            "type": "string"
          },
          "StatusCode": {
            "type": "integer",
            "format": "int32"
          },
          "Data": {
            "type": "object",
            "properties": {
              "ListaNsuConsulta": {
                "type": "array",
                "items": {
                  "$ref": "#/components/schemas/XmlNsuDto"
                }
              }
            }
          }
        }
      },
      "XmlNsuDto": {
        "type": "object",
        "properties": {
          "CnpjCpfEmitente": {
            "type": "string",
            "nullable": true
          },
          "CnpjCpfDestinatario": {
            "type": "string",
            "nullable": true
          },
          "CnpjCpfTomador": {
            "type": "string",
            "nullable": true
          },
          "CnpjCpfRemetente": {
            "type": "string",
            "nullable": true
          },
          "NumeroNsu": {
            "type": "integer",
            "format": "int64"
          },
          "TipoXml": {
            "type": "string"
          },
          "DataEmissao": {
            "type": "string",
            "format": "date-time",
            "description": "Data de emiss\u00e3o do documento."
          }
        }
      }
    }
  }
}