{
    "openapi": "3.0.3",
    "info": {
      "title": "News API",
      "version": "1.0.0",
      "description": "Search and retrieve live articles from all over the web. Search worldwide news with code."
    },
    "servers": [
      {
        "url": "https://newsapi.org/v2"
      }
    ],
    "paths": {
      "/everything": {
        "get": {
          "operationId": "getEverything",
          "summary": "Search news articles",
          "description": "Search through millions of articles from over 150,000 large and small news sources and blogs",
          "parameters": [
            {
              "name": "q",
              "in": "query",
              "description": "Keywords or phrases to search for in article title and body",
              "required": false,
              "schema": {
                "type": "string"
              }
            },
            {
              "name": "searchIn",
              "in": "query",
              "description": "Fields to restrict search to (title,description,content)",
              "required": false,
              "schema": {
                "type": "string"
              }
            },
            {
              "name": "sources",
              "in": "query",
              "description": "Comma-separated string of news source IDs (max 20)",
              "required": false,
              "schema": {
                "type": "string"
              }
            },
            {
              "name": "domains",
              "in": "query",
              "description": "Comma-separated string of domains to restrict search to",
              "required": false,
              "schema": {
                "type": "string"
              }
            },
            {
              "name": "from",
              "in": "query",
              "description": "ISO 8601 date for oldest allowed article",
              "required": false,
              "schema": {
                "type": "string",
                "format": "date"
              }
            },
            {
              "name": "to",
              "in": "query",
              "description": "ISO 8601 date for newest allowed article",
              "required": false,
              "schema": {
                "type": "string",
                "format": "date"
              }
            },
            {
              "name": "language",
              "in": "query",
              "description": "2-letter ISO-639-1 language code",
              "required": false,
              "schema": {
                "type": "string",
                "enum": [
                  "ar",
                  "de",
                  "en",
                  "es",
                  "fr",
                  "he",
                  "it",
                  "nl",
                  "no",
                  "pt",
                  "ru",
                  "sv",
                  "ud",
                  "zh"
                ]
              }
            },
            {
              "name": "sortBy",
              "in": "query",
              "description": "Order to sort articles in",
              "required": false,
              "schema": {
                "type": "string",
                "enum": [
                  "relevancy",
                  "popularity",
                  "publishedAt"
                ],
                "default": "publishedAt"
              }
            },
            {
              "name": "pageSize",
              "in": "query",
              "description": "Number of results per page",
              "required": false,
              "schema": {
                "type": "integer",
                "default": 100,
                "maximum": 100
              }
            },
            {
              "name": "page",
              "in": "query",
              "description": "Page number",
              "required": false,
              "schema": {
                "type": "integer",
                "default": 1
              }
            }
          ],
          "responses": {
            "200": {
              "description": "Successful response",
              "content": {
                "application/json": {
                  "schema": {
                    "$ref": "#/components/schemas/ArticlesResponse"
                  }
                }
              }
            },
            "400": {
              "description": "Bad request",
              "content": {
                "application/json": {
                  "schema": {
                    "$ref": "#/components/schemas/ErrorResponse"
                  }
                }
              }
            },
            "401": {
              "description": "Unauthorized",
              "content": {
                "application/json": {
                  "schema": {
                    "$ref": "#/components/schemas/ErrorResponse"
                  }
                }
              }
            }
          }
        }
      },
      "/top-headlines": {
        "get": {
          "operationId": "getTopHeadlines",
          "summary": "Get breaking news headlines",
          "description": "Returns live top and breaking headlines for a country, category, or source",
          "parameters": [
            {
              "name": "country",
              "in": "query",
              "description": "2-letter ISO 3166-1 country code",
              "required": false,
              "schema": {
                "type": "string"
              }
            },
            {
              "name": "category",
              "in": "query",
              "description": "Category to get headlines for",
              "required": false,
              "schema": {
                "type": "string",
                "enum": [
                  "business",
                  "entertainment",
                  "general",
                  "health",
                  "science",
                  "sports",
                  "technology"
                ]
              }
            },
            {
              "name": "sources",
              "in": "query",
              "description": "Comma-separated string of source IDs",
              "required": false,
              "schema": {
                "type": "string"
              }
            },
            {
              "name": "q",
              "in": "query",
              "description": "Keywords or phrases to search for",
              "required": false,
              "schema": {
                "type": "string"
              }
            },
            {
              "name": "pageSize",
              "in": "query",
              "description": "Number of results per page",
              "required": false,
              "schema": {
                "type": "integer",
                "default": 20,
                "maximum": 100
              }
            },
            {
              "name": "page",
              "in": "query",
              "description": "Page number",
              "required": false,
              "schema": {
                "type": "integer",
                "default": 1
              }
            }
          ],
          "responses": {
            "200": {
              "description": "Successful response",
              "content": {
                "application/json": {
                  "schema": {
                    "$ref": "#/components/schemas/ArticlesResponse"
                  }
                }
              }
            }
          }
        }
      },
      "/top-headlines/sources": {
        "get": {
          "operationId": "getSources",
          "summary": "Get news sources",
          "description": "Returns the subset of news publishers that top headlines are available from. It's mainly a convenience endpoint that you can use to keep track of the publishers available on the API.",
          "parameters": [
            {
              "name": "category",
              "in": "query",
              "description": "Find sources that display news of this category",
              "required": false,
              "schema": {
                "type": "string",
                "enum": [
                  "business",
                  "entertainment",
                  "general",
                  "health",
                  "science",
                  "sports",
                  "technology"
                ]
              }
            },
            {
              "name": "language",
              "in": "query",
              "description": "Find sources that display news in a specific language",
              "required": false,
              "schema": {
                "type": "string",
                "enum": [
                  "ar",
                  "de",
                  "en",
                  "es",
                  "fr",
                  "he",
                  "it",
                  "nl",
                  "no",
                  "pt",
                  "ru",
                  "sv",
                  "ud",
                  "zh"
                ]
              }
            },
            {
              "name": "country",
              "in": "query",
              "description": "Find sources that display news in a specific country",
              "required": false,
              "schema": {
                "type": "string",
                "enum": [
                  "ae",
                  "ar",
                  "at",
                  "au",
                  "be",
                  "bg",
                  "br",
                  "ca",
                  "ch",
                  "cn",
                  "co",
                  "cu",
                  "cz",
                  "de",
                  "eg",
                  "fr",
                  "gb",
                  "gr",
                  "hk",
                  "hu",
                  "id",
                  "ie",
                  "il",
                  "in",
                  "it",
                  "jp",
                  "kr",
                  "lt",
                  "lv",
                  "ma",
                  "mx",
                  "my",
                  "ng",
                  "nl",
                  "no",
                  "nz",
                  "ph",
                  "pl",
                  "pt",
                  "ro",
                  "rs",
                  "ru",
                  "sa",
                  "se",
                  "sg",
                  "si",
                  "sk",
                  "th",
                  "tr",
                  "tw",
                  "ua",
                  "us",
                  "ve",
                  "za"
                ]
              }
            }
          ],
          "responses": {
            "200": {
              "description": "Successful response",
              "content": {
                "application/json": {
                  "schema": {
                    "$ref": "#/components/schemas/SourcesResponse"
                  }
                }
              }
            },
            "400": {
              "description": "Bad request",
              "content": {
                "application/json": {
                  "schema": {
                    "$ref": "#/components/schemas/ErrorResponse"
                  }
                }
              }
            },
            "401": {
              "description": "Unauthorized",
              "content": {
                "application/json": {
                  "schema": {
                    "$ref": "#/components/schemas/ErrorResponse"
                  }
                }
              }
            }
          }
        }
      }
    },
    "components": {
      "schemas": {
        "ArticlesResponse": {
          "type": "object",
          "properties": {
            "status": {
              "type": "string",
              "enum": [
                "ok",
                "error"
              ]
            },
            "totalResults": {
              "type": "integer"
            },
            "articles": {
              "type": "array",
              "items": {
                "$ref": "#/components/schemas/Article"
              }
            }
          }
        },
        "Article": {
          "type": "object",
          "properties": {
            "source": {
              "type": "object",
              "properties": {
                "id": {
                  "type": "string"
                },
                "name": {
                  "type": "string"
                }
              }
            },
            "author": {
              "type": "string"
            },
            "title": {
              "type": "string"
            },
            "description": {
              "type": "string"
            },
            "url": {
              "type": "string"
            },
            "urlToImage": {
              "type": "string"
            },
            "publishedAt": {
              "type": "string",
              "format": "date-time"
            },
            "content": {
              "type": "string"
            }
          }
        },
        "SourcesResponse": {
          "type": "object",
          "properties": {
            "status": {
              "type": "string",
              "enum": [
                "ok",
                "error"
              ]
            },
            "sources": {
              "type": "array",
              "items": {
                "$ref": "#/components/schemas/Source"
              }
            }
          }
        },
        "Source": {
          "type": "object",
          "properties": {
            "id": {
              "type": "string",
              "description": "The identifier of the news source. You can use this with our other endpoints."
            },
            "name": {
              "type": "string",
              "description": "The name of the news source"
            },
            "description": {
              "type": "string",
              "description": "A description of the news source"
            },
            "url": {
              "type": "string",
              "description": "The URL of the homepage."
            },
            "category": {
              "type": "string",
              "description": "The type of news to expect from this news source."
            },
            "language": {
              "type": "string",
              "description": "The language that this news source writes in."
            },
            "country": {
              "type": "string",
              "description": "The country this news source is based in (and primarily writes about)."
            }
          }
        },
        "ErrorResponse": {
          "type": "object",
          "properties": {
            "status": {
              "type": "string",
              "enum": [
                "error"
              ]
            },
            "code": {
              "type": "string"
            },
            "message": {
              "type": "string"
            }
          }
        }
      },
      "securitySchemes": {
        "apiKey": {
          "type": "apiKey",
          "name": "X-Api-Key",
          "in": "header"
        }
      }
    },
    "security": [
      {
        "apiKey": []
      }
    ]
  }