{
  "openapi": "3.0.0",
  "info": {
    "version": "1.0.0",
    "title": "TravelTech",
    "description": "\u041f\u043b\u0430\u043d \u043f\u043e\u0435\u0437\u0434\u043a\u0438",
    "x-jentic-source-url": "https://api.swaggerhub.com/apis/tbankstaja/Travel/1.0.0"
  },
  "servers": [
    {
      "url": "https://www.t.bank.ru/plan-travel"
    }
  ],
  "security": [
    {
      "bearerAuth": []
    }
  ],
  "paths": {
    "/trips/{tripId}": {
      "get": {
        "summary": "\u043f\u043e\u043b\u0443\u0447\u0438\u0442\u044c \u0432\u0435\u0441\u044c \u043f\u043b\u0430\u043d",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "tripId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/getTripPlan"
                }
              }
            }
          }
        }
      }
    },
    "/trips/{tripId}/flights": {
      "post": {
        "summary": "\u0432\u044b\u0431\u043e\u0440 \u0440\u0435\u0439\u0441\u0430",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "tripId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          },
          {
            "name": "Idempotency-Key",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/FlightCreateRequest"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "\u0421\u043e\u0437\u0434\u0430\u043d \u0440\u0435\u0439\u0441",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/FlightCreateResponses"
                }
              }
            }
          },
          "401": {
            "description": "\u041d\u0435\u0442 \u0430\u0432\u0442\u043e\u0440\u0438\u0437\u0430\u0446\u0438\u0438"
          },
          "403": {
            "description": "\u0422\u043e\u043a\u0435\u043d \u0435\u0441\u0442\u044c, \u043d\u0435\u0442 \u0434\u043e\u0441\u0442\u0443\u043f\u0430"
          },
          "422": {
            "description": "\u041e\u0448\u0438\u0431\u043a\u0430 \u0432\u0430\u043b\u0438\u0434\u0430\u0446\u0438\u0438"
          },
          "500": {
            "description": "\u041e\u0448\u0438\u0431\u043a\u0430 \u0441\u0435\u0440\u0432\u0435\u0440\u0430"
          }
        }
      },
      "get": {
        "summary": "\u043f\u043e\u043b\u0443\u0447\u0438\u0442\u044c \u0440\u0435\u0439\u0441\u044b",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "tripId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "\u0440\u0435\u0439\u0441\u044b \u043f\u043e\u043a\u0430\u0437\u0430\u043d\u044b",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Flight"
                  }
                }
              }
            }
          },
          "403": {
            "description": "\u0422\u043e\u043a\u0435\u043d \u0435\u0441\u0442\u044c, \u043d\u0435\u0442 \u0434\u043e\u0441\u0442\u0443\u043f\u0430"
          }
        }
      }
    },
    "/trips/{tripId}/flights/{flightId}": {
      "patch": {
        "summary": "\u0438\u0437\u043c\u0435\u043d\u0438\u0442\u044c \u0440\u0435\u0439\u0441",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "tripId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          },
          {
            "name": "flightId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/FlightUpdateRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "\u0440\u0435\u0439\u0441 \u043e\u0431\u043d\u043e\u0432\u043b\u0435\u043d",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Flight"
                }
              }
            }
          },
          "401": {
            "description": "\u041d\u0435\u0442 \u0430\u0432\u0442\u043e\u0440\u0438\u0437\u0430\u0446\u0438\u0438"
          },
          "404": {
            "description": "\u0440\u0435\u0439\u0441 \u043d\u0435 \u043d\u0430\u0439\u0434\u0435\u043d"
          },
          "409": {
            "description": "\u043a\u043e\u043d\u0444\u043b\u0438\u043a\u0442 \u0432\u0435\u0440\u0441\u0438\u0439"
          },
          "422": {
            "description": "\u041e\u0448\u0438\u0431\u043a\u0430 \u0432\u0430\u043b\u0438\u0434\u0430\u0446\u0438\u0438"
          },
          "500": {
            "description": "\u041e\u0448\u0438\u0431\u043a\u0430 \u0441\u0435\u0440\u0432\u0435\u0440\u0430"
          }
        }
      },
      "delete": {
        "summary": "\u0443\u0434\u0430\u043b\u0438\u0442\u044c \u0440\u0435\u0439\u0441",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "tripId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          },
          {
            "name": "flightId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          },
          {
            "name": "version",
            "in": "query",
            "required": true,
            "schema": {
              "type": "integer",
              "minimum": 1
            },
            "description": "\u0442\u0435\u043a\u0443\u0449\u0430\u044f \u0432\u0435\u0440\u0441\u0438\u044f \u0441\u0443\u0449\u043d\u043e\u0441\u0442\u0438 \u043d\u0430 \u0441\u0442\u043e\u0440\u043e\u043d\u0435 \u043a\u043b\u0438\u0435\u043d\u0442\u0430 (server \u0441\u0440\u0430\u0432\u043d\u0438\u0432\u0430\u0435\u0442 \u0438 \u0435\u0441\u043b\u0438 \u043e\u043a \u0443\u0434\u0430\u043b\u044f\u0435\u0442)"
          }
        ],
        "responses": {
          "204": {
            "description": "\u0440\u0435\u0439\u0441 \u0443\u0434\u0430\u043b\u0435\u043d"
          },
          "401": {
            "description": "\u041d\u0435\u0442 \u0430\u0432\u0442\u043e\u0440\u0438\u0437\u0430\u0446\u0438\u0438"
          },
          "404": {
            "description": "\u0440\u0435\u0439\u0441 \u043d\u0435 \u043d\u0430\u0439\u0434\u0435\u043d"
          },
          "409": {
            "description": "\u043a\u043e\u043d\u0444\u043b\u0438\u043a\u0442 \u0432\u0435\u0440\u0441\u0438\u0439"
          },
          "500": {
            "description": "\u041e\u0448\u0438\u0431\u043a\u0430 \u0441\u0435\u0440\u0432\u0435\u0440\u0430"
          }
        }
      }
    },
    "/trips/{tripId}/hotels": {
      "post": {
        "summary": "\u0432\u044b\u0431\u043e\u0440 \u043e\u0442\u0435\u043b\u044c",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "tripId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          },
          {
            "name": "Idempotency-Key",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/HotelCreateRequest"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "\u0434\u043e\u0431\u0430\u0432\u043b\u0435\u043d \u043e\u0442\u0435\u043b\u044c",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HotelCreateResponses"
                }
              }
            }
          },
          "401": {
            "description": "\u041d\u0435\u0442 \u0430\u0432\u0442\u043e\u0440\u0438\u0437\u0430\u0446\u0438\u0438"
          },
          "403": {
            "description": "\u0422\u043e\u043a\u0435\u043d \u0435\u0441\u0442\u044c, \u043d\u0435\u0442 \u0434\u043e\u0441\u0442\u0443\u043f\u0430"
          },
          "422": {
            "description": "\u041e\u0448\u0438\u0431\u043a\u0430 \u0432\u0430\u043b\u0438\u0434\u0430\u0446\u0438\u0438"
          },
          "500": {
            "description": "\u041e\u0448\u0438\u0431\u043a\u0430 \u0441\u0435\u0440\u0432\u0435\u0440\u0430"
          }
        }
      },
      "get": {
        "summary": "\u043f\u043e\u043b\u0443\u0447\u0438\u0442\u044c \u043e\u0442\u0435\u043b\u0438",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "tripId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "\u043e\u0442\u0435\u043b\u0438 \u043f\u043e\u043a\u0430\u0437\u0430\u043d\u044b",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Hotel"
                  }
                }
              }
            }
          },
          "403": {
            "description": "\u0422\u043e\u043a\u0435\u043d \u0435\u0441\u0442\u044c, \u043d\u0435\u0442 \u0434\u043e\u0441\u0442\u0443\u043f\u0430"
          }
        }
      }
    },
    "/trips/{tripId}/hotels/{hotelId}": {
      "patch": {
        "summary": "\u0438\u0437\u043c\u0435\u043d\u0438\u0442\u044c \u043e\u0442\u0435\u043b\u044c",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "tripId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          },
          {
            "name": "hotelId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/HotelUpdateRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "\u043e\u0442\u0435\u043b\u044c \u043e\u0431\u043d\u043e\u0432\u043b\u0435\u043d",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Hotel"
                }
              }
            }
          },
          "401": {
            "description": "\u041d\u0435\u0442 \u0430\u0432\u0442\u043e\u0440\u0438\u0437\u0430\u0446\u0438\u0438"
          },
          "403": {
            "description": "\u0422\u043e\u043a\u0435\u043d \u0435\u0441\u0442\u044c, \u043d\u0435\u0442 \u0434\u043e\u0441\u0442\u0443\u043f\u0430"
          },
          "404": {
            "description": "\u043e\u0442\u0435\u043b\u044c \u043d\u0435 \u043d\u0430\u0439\u0434\u0435\u043d"
          },
          "409": {
            "description": "\u043a\u043e\u043d\u0444\u043b\u0438\u043a\u0442 \u0432\u0435\u0440\u0441\u0438\u0439"
          },
          "422": {
            "description": "\u041e\u0448\u0438\u0431\u043a\u0430 \u0432\u0430\u043b\u0438\u0434\u0430\u0446\u0438\u0438"
          },
          "500": {
            "description": "\u041e\u0448\u0438\u0431\u043a\u0430 \u0441\u0435\u0440\u0432\u0435\u0440\u0430"
          }
        }
      },
      "delete": {
        "summary": "\u0443\u0434\u0430\u043b\u0438\u0442\u044c \u043e\u0442\u0435\u043b\u044c",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "tripId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          },
          {
            "name": "hotelId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          },
          {
            "name": "version",
            "in": "query",
            "required": true,
            "schema": {
              "type": "integer",
              "minimum": 1
            },
            "description": "\u0442\u0435\u043a\u0443\u0449\u0430\u044f \u0432\u0435\u0440\u0441\u0438\u044f \u0441\u0443\u0449\u043d\u043e\u0441\u0442\u0438 \u043d\u0430 \u0441\u0442\u043e\u0440\u043e\u043d\u0435 \u043a\u043b\u0438\u0435\u043d\u0442\u0430 (server \u0441\u0440\u0430\u0432\u043d\u0438\u0432\u0430\u0435\u0442 \u0438 \u0435\u0441\u043b\u0438 \u043e\u043a \u0443\u0434\u0430\u043b\u044f\u0435\u0442)"
          }
        ],
        "responses": {
          "204": {
            "description": "\u043e\u0442\u0435\u043b\u044c \u0443\u0434\u0430\u043b\u0435\u043d"
          },
          "401": {
            "description": "\u041d\u0435\u0442 \u0430\u0432\u0442\u043e\u0440\u0438\u0437\u0430\u0446\u0438\u0438"
          },
          "403": {
            "description": "\u0422\u043e\u043a\u0435\u043d \u0435\u0441\u0442\u044c, \u043d\u0435\u0442 \u0434\u043e\u0441\u0442\u0443\u043f\u0430"
          },
          "404": {
            "description": "\u043e\u0442\u0435\u043b\u044c \u043d\u0435 \u043d\u0430\u0439\u0434\u0435\u043d"
          },
          "409": {
            "description": "\u043a\u043e\u043d\u0444\u043b\u0438\u043a\u0442 \u0432\u0435\u0440\u0441\u0438\u0439"
          },
          "500": {
            "description": "\u041e\u0448\u0438\u0431\u043a\u0430 \u0441\u0435\u0440\u0432\u0435\u0440\u0430"
          }
        }
      }
    },
    "/trips/{tripId}/activites": {
      "post": {
        "summary": "\u0432\u044b\u0431\u043e\u0440 \u0430\u043a\u0442\u0438\u0432\u043d\u043e\u0441\u0442\u0438",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "tripId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          },
          {
            "name": "Idempotency-Key",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ActivityCreateRequest"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "\u0434\u043e\u0431\u0430\u0432\u043b\u0435\u043d\u0430 \u0430\u043a\u0442\u0438\u0432\u043d\u043e\u0441\u0442\u044c",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ActivityCreateResponses"
                }
              }
            }
          },
          "401": {
            "description": "\u041d\u0435\u0442 \u0430\u0432\u0442\u043e\u0440\u0438\u0437\u0430\u0446\u0438\u0438"
          },
          "403": {
            "description": "\u0422\u043e\u043a\u0435\u043d \u0435\u0441\u0442\u044c, \u043d\u0435\u0442 \u0434\u043e\u0441\u0442\u0443\u043f\u0430"
          },
          "422": {
            "description": "\u041e\u0448\u0438\u0431\u043a\u0430 \u0432\u0430\u043b\u0438\u0434\u0430\u0446\u0438\u0438"
          },
          "500": {
            "description": "\u041e\u0448\u0438\u0431\u043a\u0430 \u0441\u0435\u0440\u0432\u0435\u0440\u0430"
          }
        }
      },
      "get": {
        "summary": "\u043f\u043e\u043b\u0443\u0447\u0438\u0442\u044c \u0430\u043a\u0442\u0438\u0432\u043d\u043e\u0441\u0442\u0438",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "tripId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "\u0430\u043a\u0442\u0438\u0432\u043d\u043e\u0441\u0442\u0438 \u043f\u043e\u043a\u0430\u0437\u0430\u043d\u044b",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Activity"
                  }
                }
              }
            }
          },
          "403": {
            "description": "\u0422\u043e\u043a\u0435\u043d \u0435\u0441\u0442\u044c, \u043d\u0435\u0442 \u0434\u043e\u0441\u0442\u0443\u043f\u0430"
          }
        }
      }
    },
    "/trips/{tripId}/activites/{activityId}": {
      "patch": {
        "summary": "\u0438\u0437\u043c\u0435\u043d\u0438\u0442\u044c \u0430\u043a\u0442\u0438\u0432\u043d\u043e\u0441\u0442\u044c",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "tripId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          },
          {
            "name": "activityId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ActivityUpdateRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "\u0430\u043a\u0442\u0438\u0432\u043d\u043e\u0441\u0442\u044c \u043e\u0431\u043d\u043e\u0432\u043b\u0435\u043d\u0430",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Activity"
                }
              }
            }
          },
          "401": {
            "description": "\u041d\u0435\u0442 \u0430\u0432\u0442\u043e\u0440\u0438\u0437\u0430\u0446\u0438\u0438"
          },
          "403": {
            "description": "\u0422\u043e\u043a\u0435\u043d \u0435\u0441\u0442\u044c, \u043d\u0435\u0442 \u0434\u043e\u0441\u0442\u0443\u043f\u0430"
          },
          "404": {
            "description": "\u0430\u043a\u0442\u0438\u0432\u043d\u043e\u0441\u0442\u044c \u043d\u0435 \u043d\u0430\u0439\u0434\u0435\u043d\u0430"
          },
          "409": {
            "description": "\u043a\u043e\u043d\u0444\u043b\u0438\u043a\u0442 \u0432\u0435\u0440\u0441\u0438\u0439"
          },
          "422": {
            "description": "\u041e\u0448\u0438\u0431\u043a\u0430 \u0432\u0430\u043b\u0438\u0434\u0430\u0446\u0438\u0438"
          },
          "500": {
            "description": "\u041e\u0448\u0438\u0431\u043a\u0430 \u0441\u0435\u0440\u0432\u0435\u0440\u0430"
          }
        }
      },
      "delete": {
        "summary": "\u0443\u0434\u0430\u043b\u0438\u0442\u044c \u0430\u043a\u0442\u0438\u0432\u043d\u043e\u0441\u0442\u044c",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "tripId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          },
          {
            "name": "activityId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          },
          {
            "name": "version",
            "in": "query",
            "required": true,
            "schema": {
              "type": "integer",
              "minimum": 1
            },
            "description": "\u0442\u0435\u043a\u0443\u0449\u0430\u044f \u0432\u0435\u0440\u0441\u0438\u044f \u0441\u0443\u0449\u043d\u043e\u0441\u0442\u0438 \u043d\u0430 \u0441\u0442\u043e\u0440\u043e\u043d\u0435 \u043a\u043b\u0438\u0435\u043d\u0442\u0430 (server \u0441\u0440\u0430\u0432\u043d\u0438\u0432\u0430\u0435\u0442 \u0438 \u0435\u0441\u043b\u0438 \u043e\u043a \u0443\u0434\u0430\u043b\u044f\u0435\u0442)"
          }
        ],
        "responses": {
          "204": {
            "description": "\u0430\u043a\u0442\u0438\u0432\u043d\u043e\u0441\u0442\u044c \u0443\u0434\u0430\u043b\u0435\u043d\u0430"
          },
          "401": {
            "description": "\u041d\u0435\u0442 \u0430\u0432\u0442\u043e\u0440\u0438\u0437\u0430\u0446\u0438\u0438"
          },
          "403": {
            "description": "\u0422\u043e\u043a\u0435\u043d \u0435\u0441\u0442\u044c, \u043d\u0435\u0442 \u0434\u043e\u0441\u0442\u0443\u043f\u0430"
          },
          "404": {
            "description": "\u0430\u043a\u0442\u0438\u0432\u043d\u043e\u0441\u0442\u044c \u043d\u0435 \u043d\u0430\u0439\u0434\u0435\u043d\u0430"
          },
          "409": {
            "description": "\u043a\u043e\u043d\u0444\u043b\u0438\u043a\u0442 \u0432\u0435\u0440\u0441\u0438\u0439"
          },
          "500": {
            "description": "\u041e\u0448\u0438\u0431\u043a\u0430 \u0441\u0435\u0440\u0432\u0435\u0440\u0430"
          }
        }
      }
    }
  },
  "components": {
    "schemas": {
      "getTripPlan": {
        "type": "object",
        "required": [
          "tripId",
          "flights",
          "hotels",
          "activities"
        ],
        "properties": {
          "tripId": {
            "type": "string",
            "format": "uuid"
          },
          "flights": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Flight"
            }
          },
          "hotels": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Hotel"
            }
          },
          "activities": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Activity"
            }
          }
        }
      },
      "FlightCreateRequest": {
        "type": "object",
        "required": [
          "from",
          "to",
          "depart_at",
          "arrive_at"
        ],
        "properties": {
          "from": {
            "type": "string"
          },
          "to": {
            "type": "string"
          },
          "depart_at": {
            "type": "string",
            "format": "date-time",
            "description": "UTC"
          },
          "arrive_at": {
            "type": "string",
            "format": "date-time",
            "description": "UTC"
          },
          "comment": {
            "type": "string"
          }
        }
      },
      "FlightCreateResponses": {
        "type": "object",
        "required": [
          "version",
          "flightId",
          "tripId",
          "syncStatus"
        ],
        "properties": {
          "version": {
            "type": "integer",
            "minimum": 1,
            "example": 1,
            "description": "\u0432\u0435\u0440\u0441\u0438\u044f \u043f\u0440\u0438 \u0441\u043e\u0437\u0434\u0430\u043d\u0438\u0438 \u0441\u0443\u0449\u043d\u043e\u0441\u0442\u0438 \u0432\u0441\u0435\u0433\u0434\u0430 1"
          },
          "flightId": {
            "type": "string",
            "format": "uuid"
          },
          "tripId": {
            "type": "string",
            "format": "uuid"
          },
          "syncStatus": {
            "type": "string",
            "enum": [
              "pending",
              "synced",
              "failed"
            ],
            "description": "pending - \u0432 \u043f\u0440\u043e\u0446\u0435\u0441\u0441\u0435 \u0432\u044b\u043f\u043e\u043b\u043d\u0435\u043d\u0438\u044f, synced - \u0443\u0441\u043f\u0435\u0448\u043d\u043e \u0432\u043e \u0432\u043d\u0435\u0448\u043d\u0435\u043c \u0430\u043f\u0438, failed - \u043d\u0435\u0443\u0434\u0430\u0447\u0430 \u0432\u043e \u0432\u043d\u0435\u0448\u043d\u0435\u043c \u0430\u043f\u0438"
          },
          "syncEror": {
            "type": "string",
            "nullable": true,
            "description": "\u0438\u043d\u0444\u043e\u0440\u043c\u0430\u0446\u0438\u044f \u043e \u043e\u0448\u0438\u0431\u043a\u0438 \u0432\u043d\u0435\u0448\u043d\u0435\u0433\u043e \u0430\u043f\u0438, \u0435\u0441\u043b\u0438 syncStatus = failed"
          }
        }
      },
      "Flight": {
        "type": "object",
        "required": [
          "version",
          "flightId",
          "from",
          "to",
          "depart_at",
          "arrive_at",
          "syncStatus"
        ],
        "properties": {
          "version": {
            "type": "integer",
            "minimum": 1
          },
          "flightId": {
            "type": "string",
            "format": "uuid"
          },
          "from": {
            "type": "string"
          },
          "to": {
            "type": "string"
          },
          "depart_at": {
            "type": "string",
            "format": "date-time",
            "description": "UTC"
          },
          "arrive_at": {
            "type": "string",
            "format": "date-time",
            "description": "UTC"
          },
          "comment": {
            "type": "string"
          },
          "syncStatus": {
            "type": "string",
            "enum": [
              "pending",
              "synced",
              "failed"
            ],
            "description": "pending - \u0432 \u043f\u0440\u043e\u0446\u0435\u0441\u0441\u0435 \u0432\u044b\u043f\u043e\u043b\u043d\u0435\u043d\u0438\u044f, synced - \u0443\u0441\u043f\u0435\u0448\u043d\u043e \u0432\u043e \u0432\u043d\u0435\u0448\u043d\u0435\u043c \u0430\u043f\u0438, failed - \u043d\u0435\u0443\u0434\u0430\u0447\u0430 \u0432\u043e \u0432\u043d\u0435\u0448\u043d\u0435\u043c \u0430\u043f\u0438"
          },
          "syncEror": {
            "type": "string",
            "nullable": true,
            "description": "\u0438\u043d\u0444\u043e\u0440\u043c\u0430\u0446\u0438\u044f \u043e \u043e\u0448\u0438\u0431\u043a\u0438 \u0432\u043d\u0435\u0448\u043d\u0435\u0433\u043e \u0430\u043f\u0438, \u0435\u0441\u043b\u0438 syncStatus = failed"
          }
        }
      },
      "FlightUpdateRequest": {
        "type": "object",
        "required": [
          "version"
        ],
        "properties": {
          "version": {
            "type": "integer",
            "minimum": 1,
            "description": "\u0442\u0435\u043a\u0443\u0449\u0430\u044f \u0432\u0435\u0440\u0441\u0438\u044f \u0441\u0443\u0449\u043d\u043e\u0441\u0442\u0438 \u043d\u0430 \u0441\u0442\u043e\u0440\u043e\u043d\u0435 \u043a\u043b\u0438\u0435\u043d\u0442\u0430 (server \u0441\u0440\u0430\u0432\u043d\u0438\u0432\u0430\u0435\u0442 \u0438 \u0435\u0441\u043b\u0438 \u043e\u043a \u0443\u0432\u0435\u043b\u0438\u0447\u0438\u0432\u0430\u0435\u0442 \u043d\u0430 1)"
          },
          "from": {
            "type": "string"
          },
          "to": {
            "type": "string"
          },
          "depart_at": {
            "type": "string",
            "format": "date-time",
            "description": "UTC"
          },
          "arrive_at": {
            "type": "string",
            "format": "date-time",
            "description": "UTC"
          },
          "comment": {
            "type": "string"
          }
        }
      },
      "HotelCreateRequest": {
        "type": "object",
        "required": [
          "name",
          "depart_at",
          "arrive_at"
        ],
        "properties": {
          "name": {
            "type": "string"
          },
          "depart_at": {
            "type": "string",
            "format": "date-time",
            "description": "UTC"
          },
          "arrive_at": {
            "type": "string",
            "format": "date-time",
            "description": "UTC"
          },
          "comment": {
            "type": "string"
          }
        }
      },
      "HotelCreateResponses": {
        "type": "object",
        "required": [
          "version",
          "hotelId",
          "tripId",
          "syncStatus"
        ],
        "properties": {
          "version": {
            "type": "integer",
            "minimum": 1,
            "example": 1,
            "description": "\u0432\u0435\u0440\u0441\u0438\u044f \u043f\u0440\u0438 \u0441\u043e\u0437\u0434\u0430\u043d\u0438\u0438 \u0441\u0443\u0449\u043d\u043e\u0441\u0442\u0438 \u0432\u0441\u0435\u0433\u0434\u0430 1"
          },
          "hotelId": {
            "type": "string",
            "format": "uuid"
          },
          "tripId": {
            "type": "string",
            "format": "uuid"
          },
          "syncStatus": {
            "type": "string",
            "enum": [
              "pending",
              "synced",
              "failed"
            ],
            "description": "pending - \u0432 \u043f\u0440\u043e\u0446\u0435\u0441\u0441\u0435 \u0432\u044b\u043f\u043e\u043b\u043d\u0435\u043d\u0438\u044f, synced - \u0443\u0441\u043f\u0435\u0448\u043d\u043e \u0432\u043e \u0432\u043d\u0435\u0448\u043d\u0435\u043c \u0430\u043f\u0438, failed - \u043d\u0435\u0443\u0434\u0430\u0447\u0430 \u0432\u043e \u0432\u043d\u0435\u0448\u043d\u0435\u043c \u0430\u043f\u0438"
          },
          "syncEror": {
            "type": "string",
            "nullable": true,
            "description": "\u0438\u043d\u0444\u043e\u0440\u043c\u0430\u0446\u0438\u044f \u043e \u043e\u0448\u0438\u0431\u043a\u0438 \u0432\u043d\u0435\u0448\u043d\u0435\u0433\u043e \u0430\u043f\u0438, \u0435\u0441\u043b\u0438 syncStatus = failed"
          }
        }
      },
      "Hotel": {
        "type": "object",
        "required": [
          "version",
          "hotelId",
          "name",
          "depart_at",
          "arrive_at",
          "syncStatus"
        ],
        "properties": {
          "version": {
            "type": "integer",
            "minimum": 1
          },
          "hotelId": {
            "type": "string",
            "format": "uuid"
          },
          "name": {
            "type": "string"
          },
          "depart_at": {
            "type": "string",
            "format": "date-time",
            "description": "UTC"
          },
          "arrive_at": {
            "type": "string",
            "format": "date-time",
            "description": "UTC"
          },
          "comment": {
            "type": "string"
          },
          "syncStatus": {
            "type": "string",
            "enum": [
              "pending",
              "synced",
              "failed"
            ],
            "description": "pending - \u0432 \u043f\u0440\u043e\u0446\u0435\u0441\u0441\u0435 \u0432\u044b\u043f\u043e\u043b\u043d\u0435\u043d\u0438\u044f, synced - \u0443\u0441\u043f\u0435\u0448\u043d\u043e \u0432\u043e \u0432\u043d\u0435\u0448\u043d\u0435\u043c \u0430\u043f\u0438, failed - \u043d\u0435\u0443\u0434\u0430\u0447\u0430 \u0432\u043e \u0432\u043d\u0435\u0448\u043d\u0435\u043c \u0430\u043f\u0438"
          },
          "syncEror": {
            "type": "string",
            "nullable": true,
            "description": "\u0438\u043d\u0444\u043e\u0440\u043c\u0430\u0446\u0438\u044f \u043e \u043e\u0448\u0438\u0431\u043a\u0438 \u0432\u043d\u0435\u0448\u043d\u0435\u0433\u043e \u0430\u043f\u0438, \u0435\u0441\u043b\u0438 syncStatus = failed"
          }
        }
      },
      "HotelUpdateRequest": {
        "type": "object",
        "required": [
          "version"
        ],
        "properties": {
          "version": {
            "type": "integer",
            "minimum": 1,
            "description": "\u0442\u0435\u043a\u0443\u0449\u0430\u044f \u0432\u0435\u0440\u0441\u0438\u044f \u0441\u0443\u0449\u043d\u043e\u0441\u0442\u0438 \u043d\u0430 \u0441\u0442\u043e\u0440\u043e\u043d\u0435 \u043a\u043b\u0438\u0435\u043d\u0442\u0430 (server \u0441\u0440\u0430\u0432\u043d\u0438\u0432\u0430\u0435\u0442 \u0438 \u0435\u0441\u043b\u0438 \u043e\u043a \u0443\u0432\u0435\u043b\u0438\u0447\u0438\u0432\u0430\u0435\u0442 \u043d\u0430 1)"
          },
          "name": {
            "type": "string"
          },
          "depart_at": {
            "type": "string",
            "format": "date-time",
            "description": "UTC"
          },
          "arrive_at": {
            "type": "string",
            "format": "date-time",
            "description": "UTC"
          },
          "comment": {
            "type": "string"
          }
        }
      },
      "ActivityCreateRequest": {
        "type": "object",
        "required": [
          "name",
          "start_at",
          "end_at"
        ],
        "properties": {
          "name": {
            "type": "string"
          },
          "start_at": {
            "type": "string",
            "format": "date-time",
            "description": "UTC"
          },
          "end_at": {
            "type": "string",
            "format": "date-time",
            "description": "UTC"
          },
          "comment": {
            "type": "string"
          }
        }
      },
      "ActivityCreateResponses": {
        "type": "object",
        "required": [
          "version",
          "activityId",
          "tripId",
          "syncStatus"
        ],
        "properties": {
          "version": {
            "type": "integer",
            "minimum": 1,
            "example": 1,
            "description": "\u0432\u0435\u0440\u0441\u0438\u044f \u043f\u0440\u0438 \u0441\u043e\u0437\u0434\u0430\u043d\u0438\u0438 \u0441\u0443\u0449\u043d\u043e\u0441\u0442\u0438 \u0432\u0441\u0435\u0433\u0434\u0430 1"
          },
          "activityId": {
            "type": "string",
            "format": "uuid"
          },
          "tripId": {
            "type": "string",
            "format": "uuid"
          },
          "syncStatus": {
            "type": "string",
            "enum": [
              "pending",
              "synced",
              "failed"
            ],
            "description": "pending - \u0432 \u043f\u0440\u043e\u0446\u0435\u0441\u0441\u0435 \u0432\u044b\u043f\u043e\u043b\u043d\u0435\u043d\u0438\u044f, synced - \u0443\u0441\u043f\u0435\u0448\u043d\u043e \u0432\u043e \u0432\u043d\u0435\u0448\u043d\u0435\u043c \u0430\u043f\u0438, failed - \u043d\u0435\u0443\u0434\u0430\u0447\u0430 \u0432\u043e \u0432\u043d\u0435\u0448\u043d\u0435\u043c \u0430\u043f\u0438"
          },
          "syncEror": {
            "type": "string",
            "nullable": true,
            "description": "\u0438\u043d\u0444\u043e\u0440\u043c\u0430\u0446\u0438\u044f \u043e \u043e\u0448\u0438\u0431\u043a\u0438 \u0432\u043d\u0435\u0448\u043d\u0435\u0433\u043e \u0430\u043f\u0438, \u0435\u0441\u043b\u0438 syncStatus = failed"
          }
        }
      },
      "Activity": {
        "type": "object",
        "required": [
          "version",
          "activityId",
          "name",
          "start_at",
          "end_at",
          "syncStatus"
        ],
        "properties": {
          "version": {
            "type": "integer",
            "minimum": 1
          },
          "activityId": {
            "type": "string",
            "format": "uuid"
          },
          "name": {
            "type": "string"
          },
          "start_at": {
            "type": "string",
            "format": "date-time",
            "description": "UTC"
          },
          "end_at": {
            "type": "string",
            "format": "date-time",
            "description": "UTC"
          },
          "comment": {
            "type": "string"
          },
          "syncStatus": {
            "type": "string",
            "enum": [
              "pending",
              "synced",
              "failed"
            ],
            "description": "pending - \u0432 \u043f\u0440\u043e\u0446\u0435\u0441\u0441\u0435 \u0432\u044b\u043f\u043e\u043b\u043d\u0435\u043d\u0438\u044f, synced - \u0443\u0441\u043f\u0435\u0448\u043d\u043e \u0432\u043e \u0432\u043d\u0435\u0448\u043d\u0435\u043c \u0430\u043f\u0438, failed - \u043d\u0435\u0443\u0434\u0430\u0447\u0430 \u0432\u043e \u0432\u043d\u0435\u0448\u043d\u0435\u043c \u0430\u043f\u0438"
          },
          "syncEror": {
            "type": "string",
            "nullable": true,
            "description": "\u0438\u043d\u0444\u043e\u0440\u043c\u0430\u0446\u0438\u044f \u043e \u043e\u0448\u0438\u0431\u043a\u0438 \u0432\u043d\u0435\u0448\u043d\u0435\u0433\u043e \u0430\u043f\u0438, \u0435\u0441\u043b\u0438 syncStatus = failed"
          }
        }
      },
      "ActivityUpdateRequest": {
        "type": "object",
        "required": [
          "version"
        ],
        "properties": {
          "version": {
            "type": "integer",
            "minimum": 1,
            "description": "\u0442\u0435\u043a\u0443\u0449\u0430\u044f \u0432\u0435\u0440\u0441\u0438\u044f \u0441\u0443\u0449\u043d\u043e\u0441\u0442\u0438 \u043d\u0430 \u0441\u0442\u043e\u0440\u043e\u043d\u0435 \u043a\u043b\u0438\u0435\u043d\u0442\u0430 (server \u0441\u0440\u0430\u0432\u043d\u0438\u0432\u0430\u0435\u0442 \u0438 \u0435\u0441\u043b\u0438 \u043e\u043a \u0443\u0432\u0435\u043b\u0438\u0447\u0438\u0432\u0430\u0435\u0442 \u043d\u0430 1)"
          },
          "name": {
            "type": "string"
          },
          "start_at": {
            "type": "string",
            "format": "date-time",
            "description": "UTC"
          },
          "end_at": {
            "type": "string",
            "format": "date-time",
            "description": "UTC"
          },
          "comment": {
            "type": "string"
          }
        }
      }
    }
  }
}