{
  "openapi": "3.0.0",
  "info": {
    "title": "Statements API",
    "version": "1.0.0",
    "description": "DMS API is responsible to retrieve and update Archive Document.",
    "x-jentic-source-url": "https://api.swaggerhub.com/apis/IOANATIMARIU_1/statements-api/1.0.0"
  },
  "servers": [
    {
      "url": "https://xxx.symcor.com/epres/v1/"
    }
  ],
  "security": [
    {
      "bearerAuth": []
    }
  ],
  "paths": {
    "/search": {
      "post": {
        "summary": "Search the archive for documents.",
        "description": "The method returns a result set with documents matching your search criteria. Date range start and end limits are always required. Additional search conditions are provided as a query and must comply with the provide schema for search queries. If the search brings a single document and it could be provided at the time of request the corresponding field in the result set will contain document data. Expect exceptions on invalid date range or search conditions format.",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/SearchParameters"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Return result",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SearchResult"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/InvalidArgumentFault"
                }
              }
            }
          },
          "401": {
            "description": "Not authenticated",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AuthFault"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AuthFault"
                }
              }
            }
          },
          "404": {
            "description": "Not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AuthFault"
                }
              }
            }
          },
          "500": {
            "description": "Server error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApplicationFault"
                }
              }
            }
          }
        }
      }
    },
    "/getDocuments": {
      "post": {
        "summary": "Fetch documents from the archive.",
        "description": "The service finds documents in the archive, prepares them according to the processing configuration. The returning value indicates processing statuses and, when processing is complete, also includes binary content of the documents. If the total size and processing time of all the requested documents exceed the pre-defined limits that are determined and configured per implementation, the system would generate an exception and the request fails. The calling application will have to generate separate calls to retrieve the documents. Alternatively, the calling application could compare the file sizes (that are available in the search result set ) with the pre-defined limits (as provided by the Symcor Implementation Team) to determine if a multiple-document request could be accepted and processed by the ePres system or if it should be broken up to multiple requests to satisfy the size and processing time limitations.",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/DocumentParameters"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Return result",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DocumentResult"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/InvalidArgumentFault"
                }
              }
            }
          },
          "401": {
            "description": "Not authenticated",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AuthFault"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AuthFault"
                }
              }
            }
          },
          "404": {
            "description": "Not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AuthFault"
                }
              }
            }
          },
          "500": {
            "description": "Server error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApplicationFault"
                }
              }
            }
          }
        }
      }
    },
    "/submitSendCopyJob": {
      "post": {
        "summary": "Submit a request to re-print and mail an archived document.",
        "description": "Submit a request to re-print and mail an archived document. Exceptions are thrown when any of the requested documents cannot be located in the archive or invalid cover page type is provided. Status of a submitted request cannot be tracked through ePresentment service.",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/SendCopyJob"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Return result",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SendCopyJobTrace"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/InvalidArgumentFault"
                }
              }
            }
          },
          "401": {
            "description": "Not authenticated",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AuthFault"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AuthFault"
                }
              }
            }
          },
          "404": {
            "description": "Not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AuthFault"
                }
              }
            }
          },
          "500": {
            "description": "Server Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApplicationFault"
                }
              }
            }
          }
        }
      }
    }
  },
  "components": {
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    },
    "schemas": {
      "Comparison": {
        "type": "string",
        "description": "compare operator",
        "enum": [
          "lessThan",
          "lessThanEqual",
          "equal",
          "notEqual",
          "greaterThanEqual",
          "greaterThan",
          "like"
        ]
      },
      "Condition": {
        "type": "object",
        "properties": {
          "field": {
            "type": "string",
            "description": "search field"
          },
          "comparison": {
            "$ref": "#/components/schemas/Comparison"
          },
          "value": {
            "type": "string",
            "description": "search value"
          }
        },
        "required": [
          "field",
          "comparison",
          "value"
        ]
      },
      "NotOperator": {
        "properties": {
          "notOperator": {
            "type": "object",
            "oneOf": [
              {
                "$ref": "#/components/schemas/Condition"
              },
              {
                "$ref": "#/components/schemas/NotOperator"
              },
              {
                "$ref": "#/components/schemas/OrOperator"
              },
              {
                "$ref": "#/components/schemas/AndOperator"
              }
            ]
          }
        }
      },
      "OrOperator": {
        "properties": {
          "orOperator": {
            "type": "array",
            "minItems": 2,
            "items": {
              "oneOf": [
                {
                  "$ref": "#/components/schemas/Condition"
                },
                {
                  "$ref": "#/components/schemas/NotOperator"
                },
                {
                  "$ref": "#/components/schemas/OrOperator"
                },
                {
                  "$ref": "#/components/schemas/AndOperator"
                }
              ]
            }
          }
        }
      },
      "AndOperator": {
        "type": "object",
        "properties": {
          "andOperator": {
            "type": "array",
            "minItems": 2,
            "items": {
              "oneOf": [
                {
                  "$ref": "#/components/schemas/Condition"
                },
                {
                  "$ref": "#/components/schemas/NotOperator"
                },
                {
                  "$ref": "#/components/schemas/OrOperator"
                },
                {
                  "$ref": "#/components/schemas/AndOperator"
                }
              ]
            }
          }
        }
      },
      "Query": {
        "type": "object",
        "oneOf": [
          {
            "$ref": "#/components/schemas/Condition"
          },
          {
            "$ref": "#/components/schemas/NotOperator"
          },
          {
            "$ref": "#/components/schemas/OrOperator"
          },
          {
            "$ref": "#/components/schemas/AndOperator"
          }
        ]
      },
      "TraceID": {
        "type": "string",
        "maxLength": 32
      },
      "UserDefinedKey": {
        "type": "string",
        "maxLength": 16
      },
      "UserDefinedValue": {
        "type": "string",
        "maxLength": 32
      },
      "UserDefined": {
        "type": "object",
        "properties": {
          "key": {
            "$ref": "#/components/schemas/UserDefinedKey"
          },
          "value": {
            "$ref": "#/components/schemas/UserDefinedValue"
          }
        },
        "required": [
          "key",
          "value"
        ]
      },
      "DocumentID": {
        "type": "object",
        "description": "The fields all together uniquely identify a document in the archive. 'productName' is a product identifier 'documentDate' is a date of the document, with meaning defined for the product (such as a statement date, a billing date and so on) 'documentKey' is a system generated key for the document, available in search results.",
        "properties": {
          "productName": {
            "type": "string",
            "description": "productName"
          },
          "documentDate": {
            "type": "string",
            "format": "date",
            "description": "documentDate exp 2017-07-21"
          },
          "documentKey": {
            "type": "string",
            "description": "documentKey"
          }
        },
        "required": [
          "productName",
          "documentDate",
          "documentKey"
        ]
      },
      "TraceData": {
        "type": "object",
        "description": "Optional application data for audit purposes. This data might be included in any request to the service by a calling application and when provided gets added to ePresentment logs to track requests later. User defined trace fields are stored in logs as well as key/value pairs. If it's not provided the system will generate TraceID automatically. Either the original trace id or an auto generated id is returned along with every response.",
        "properties": {
          "traceID": {
            "$ref": "#/components/schemas/TraceID"
          },
          "userDefined": {
            "type": "array",
            "maxItems": 2,
            "items": {
              "$ref": "#/components/schemas/UserDefined"
            }
          }
        }
      },
      "RequestParameter": {
        "type": "object",
        "properties": {
          "key": {
            "type": "string"
          },
          "value": {
            "type": "string"
          }
        },
        "required": [
          "key",
          "value"
        ]
      },
      "RequestParameters": {
        "type": "object",
        "description": "Additional parameters for a request, specified in  key and value pairs. Request parameters set additional options for request processing. Supported key names and their values for each method will be provided in the client implementation guidelines.",
        "properties": {
          "param": {
            "type": "array",
            "minItems": 1,
            "items": {
              "$ref": "#/components/schemas/RequestParameter"
            }
          }
        }
      },
      "DocumentField": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string"
          },
          "value": {
            "type": "string"
          }
        },
        "required": [
          "id",
          "value"
        ]
      },
      "DocumentPart": {
        "type": "object",
        "description": "Represents a single part of a document",
        "properties": {
          "partID": {
            "type": "string"
          },
          "bytes": {
            "type": "integer"
          },
          "sortOrder": {
            "type": "integer"
          }
        },
        "required": [
          "partID",
          "bytes",
          "sortOrder"
        ]
      },
      "DocumentFormat": {
        "type": "object",
        "description": "List of all available parts for a document, grouping them by format",
        "properties": {
          "docFormat": {
            "type": "string"
          },
          "documentPart": {
            "type": "array",
            "minItems": 1,
            "items": {
              "$ref": "#/components/schemas/DocumentPart"
            }
          }
        },
        "required": [
          "docFormat",
          "documentPart"
        ]
      },
      "ConsolidatedDocument": {
        "type": "array",
        "minItems": 1,
        "items": {
          "$ref": "#/components/schemas/DocumentField"
        }
      },
      "ArchivedDocument": {
        "type": "object",
        "properties": {
          "documentID": {
            "$ref": "#/components/schemas/DocumentID"
          },
          "documentField": {
            "type": "array",
            "minItems": 1,
            "description": "A set of primary fields for the document. Primary fields as they were defined for the product and their values.",
            "items": {
              "$ref": "#/components/schemas/DocumentField"
            }
          },
          "consolidatedDocument": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/ConsolidatedDocument"
            }
          },
          "documentParts": {
            "type": "array",
            "minItems": 1,
            "items": {
              "$ref": "#/components/schemas/DocumentFormat"
            }
          }
        },
        "required": [
          "documentID",
          "documentField",
          "consolidatedDocument",
          "documentParts"
        ]
      },
      "DocumentStatus": {
        "type": "object",
        "properties": {
          "completed": {
            "type": "boolean"
          },
          "pollingTime": {
            "description": "pollingTime is recommended waiting time in milliseconds before next GetDocuments() request for the same document.",
            "type": "integer"
          }
        },
        "required": [
          "completed",
          "pollingTime"
        ]
      },
      "DocumentOutputFormat": {
        "type": "string",
        "description": "Defines supported output formats",
        "enum": [
          "PDF",
          "XML",
          "HTML",
          "JSON",
          "TXT",
          "CSV"
        ]
      },
      "DocumentRequestConfig": {
        "type": "object",
        "properties": {
          "docFormat": {
            "$ref": "#/components/schemas/DocumentOutputFormat"
          },
          "part": {
            "type": "array",
            "minItems": 1,
            "items": {
              "type": "string"
            }
          }
        },
        "required": [
          "docFormat",
          "part"
        ]
      },
      "DocumentRequest": {
        "type": "object",
        "properties": {
          "documentID": {
            "$ref": "#/components/schemas/DocumentID"
          },
          "processingConfig": {
            "$ref": "#/components/schemas/DocumentRequestConfig",
            "description": "If a configuration is not provided, the entire document gets returned in the default format defined for the product."
          },
          "requestParameters": {
            "$ref": "#/components/schemas/RequestParameters"
          }
        },
        "required": [
          "documentID"
        ]
      },
      "DocumentParameters": {
        "type": "object",
        "properties": {
          "documentRequest": {
            "type": "array",
            "minItems": 1,
            "maxItems": 12,
            "items": {
              "$ref": "#/components/schemas/DocumentRequest"
            }
          },
          "traceData": {
            "$ref": "#/components/schemas/TraceData"
          }
        },
        "required": [
          "documentRequest"
        ]
      },
      "DocumentData": {
        "type": "object",
        "description": "binaryData is filled in only when DocumentStatus.completed is set to true.",
        "properties": {
          "documentID": {
            "$ref": "#/components/schemas/DocumentID"
          },
          "documentStatus": {
            "$ref": "#/components/schemas/DocumentStatus"
          },
          "documentOutputFormat": {
            "$ref": "#/components/schemas/DocumentOutputFormat"
          },
          "binaryData": {
            "type": "string",
            "format": "binary",
            "description": "base64 encoded."
          }
        },
        "required": [
          "documentID",
          "documentStatus",
          "documentOutputFormat"
        ]
      },
      "DocumentResult": {
        "type": "object",
        "description": "Result size in bytes gets checked before sending the response to the client. If a multiple document request exceeds the allowed maximum and exception will be returned, advising that documents are to be fetched in separate requests instead. DocumentData entries would appear in the same order as DocumentRequest structures provided to the call.",
        "properties": {
          "documentData": {
            "type": "array",
            "minItems": 1,
            "maxItems": 12,
            "items": {
              "$ref": "#/components/schemas/DocumentData"
            }
          },
          "traceID": {
            "$ref": "#/components/schemas/TraceID"
          }
        },
        "required": [
          "documentData",
          "traceID"
        ]
      },
      "SearchLimit": {
        "type": "object",
        "description": "Limits data to a subset, 'offset' specifies the first row to return and 'limit' the maximum number of rows.",
        "properties": {
          "offset": {
            "type": "integer"
          },
          "limit": {
            "type": "integer"
          }
        },
        "required": [
          "offset",
          "limit"
        ]
      },
      "SearchParameters": {
        "type": "object",
        "properties": {
          "productName": {
            "type": "string"
          },
          "fromDate": {
            "type": "string",
            "format": "date-time",
            "description": "exp 2017-07-21T17:32:28Z"
          },
          "toDate": {
            "type": "string",
            "format": "date-time",
            "description": "exp 2017-07-22T17:32:28Z"
          },
          "query": {
            "$ref": "#/components/schemas/Query"
          },
          "searchLimit": {
            "$ref": "#/components/schemas/SearchLimit"
          },
          "processingConfig": {
            "description": "For search and retrieve requests sets configuration for output documents",
            "$ref": "#/components/schemas/DocumentRequestConfig"
          },
          "requestParameters": {
            "$ref": "#/components/schemas/RequestParameters"
          },
          "traceData": {
            "$ref": "#/components/schemas/TraceData"
          }
        },
        "required": [
          "productName",
          "fromDate",
          "toDate"
        ]
      },
      "SearchResultItem": {
        "type": "object",
        "description": "binaryData is filled in only when the search brings a small result set, the configuration or request parameters demand to return document bodies and documents can be provided immediately.",
        "properties": {
          "archivedDocument": {
            "$ref": "#/components/schemas/ArchivedDocument"
          },
          "binaryData": {
            "type": "string",
            "format": "binary",
            "description": "base64 encoded"
          }
        },
        "required": [
          "archivedDocument"
        ]
      },
      "SearchResult": {
        "type": "object",
        "properties": {
          "item": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/SearchResultItem"
            }
          },
          "endOfResultset": {
            "type": "boolean",
            "description": "The flag indicates that there is no more rows matching search conditions after the fetched set."
          },
          "traceID": {
            "$ref": "#/components/schemas/TraceID"
          }
        },
        "required": [
          "endOfResultset",
          "traceID"
        ]
      },
      "DeliveryType": {
        "type": "string",
        "enum": [
          "MAIL_TO_CLIENT",
          "RETURN_TO_BRANCH"
        ]
      },
      "Language": {
        "type": "string",
        "enum": [
          "EN",
          "FR"
        ]
      },
      "SendCopyJob": {
        "type": "object",
        "properties": {
          "deliveryType": {
            "$ref": "#/components/schemas/DeliveryType"
          },
          "language": {
            "$ref": "#/components/schemas/Language"
          },
          "clientName": {
            "type": "string",
            "maxLength": 50
          },
          "addressLine1": {
            "type": "string",
            "description": "Mailing address the document(s) are going to.",
            "maxLength": 50
          },
          "addressLine2": {
            "type": "string",
            "maxLength": 50
          },
          "city": {
            "type": "string",
            "maxLength": 30
          },
          "province": {
            "type": "string",
            "maxLength": 15
          },
          "country": {
            "type": "string",
            "maxLength": 50
          },
          "postalCode": {
            "type": "string",
            "maxLength": 12
          },
          "transitNumber": {
            "type": "string",
            "maxLength": 12
          },
          "coverLetterType": {
            "type": "integer",
            "description": "Specifies a cover letter to use. Cover letters will be defined for each product and a list of codes will be provided for client implementation."
          },
          "issuerTitle": {
            "type": "string",
            "maxLength": 50
          },
          "issuerName": {
            "type": "string",
            "maxLength": 50
          },
          "documentID": {
            "type": "array",
            "minItems": 1,
            "maxItems": 1000,
            "description": "Multiple documents may be submitted in one request, as long as they belong to the same product and are going to the same address.",
            "items": {
              "$ref": "#/components/schemas/DocumentID"
            }
          },
          "requestParameters": {
            "$ref": "#/components/schemas/RequestParameters"
          },
          "traceData": {
            "$ref": "#/components/schemas/TraceData"
          }
        },
        "required": [
          "deliveryType",
          "language",
          "clientName",
          "addressLine1",
          "city",
          "province",
          "country",
          "postalCode",
          "coverLetterType",
          "documentID"
        ]
      },
      "SendCopyJobTrace": {
        "$ref": "#/components/schemas/TraceID"
      },
      "UpdateDocumentAttributeKey": {
        "type": "string",
        "enum": [
          "DOCSTATUS"
        ]
      },
      "UpdateDocumentAttribute": {
        "type": "object",
        "properties": {
          "updateDocumentAttributeKey": {
            "$ref": "#/components/schemas/UpdateDocumentAttributeKey"
          },
          "value": {
            "type": "string",
            "enum": [
              "PRIVATE"
            ]
          }
        },
        "required": [
          "updateDocumentAttributeKey",
          "value"
        ]
      },
      "ePresentmentExceptionType": {
        "type": "object",
        "properties": {
          "code": {
            "type": "integer"
          },
          "message": {
            "type": "string"
          },
          "trace": {
            "$ref": "#/components/schemas/TraceID"
          }
        },
        "required": [
          "code",
          "message",
          "trace"
        ]
      },
      "AuthFault": {
        "description": "Thrown when a user is not authenticated or not authorized to access a method or a product",
        "$ref": "#/components/schemas/ePresentmentExceptionType"
      },
      "ApplicationFault": {
        "description": "Thrown when an internal application error occurs",
        "$ref": "#/components/schemas/ePresentmentExceptionType"
      },
      "InvalidArgumentFault": {
        "description": "Thrown when a method is called iwth invalid or incomplete parameters",
        "$ref": "#/components/schemas/ePresentmentExceptionType"
      }
    }
  }
}
