{
  "openapi": "3.0.0",
  "x-stoplight": {
    "id": "1et81w0jasfwq"
  },
  "info": {
    "title": "landline_portfolio",
    "version": "1.0",
    "description": "OCP services",
    "contact": {
      "email": "ocp-design@stc.com.sa"
    },
    "x-logo": {
      "url": "images/stc_logo2.png",
      "backgroundColor": "#FFFFFF",
      "altText": "stc logo"
    },
    "x-jentic-source-url": "https://api.swaggerhub.com/apis/AALAAEIID/landline_portfolio/1.0"
  },
  "servers": [
    {
      "url": "http://omnitest.stc.com.sa:3300/stcesb/stcrs2",
      "description": "Testing"
    },
    {
      "description": "Production",
      "url": "http://ocp.stc.com.sa:3300/stcesb/stcrs2"
    }
  ],
  "paths": {
    "/public/confirmLLOrder": {
      "parameters": [],
      "post": {
        "summary": "Confirm Landline Order",
        "operationId": "publicPostConfirmLLOrder",
        "description": "Confirm Landline Order",
        "deprecated": false,
        "tags": [
          "Public"
        ],
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "orderNumber": {
                      "type": "string"
                    }
                  },
                  "required": [
                    "orderNumber"
                  ]
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/400"
          },
          "401": {
            "$ref": "#/components/responses/401"
          },
          "502": {
            "$ref": "#/components/responses/502"
          }
        },
        "parameters": [
          {
            "$ref": "#/components/parameters/Accept-Language"
          },
          {
            "$ref": "#/components/parameters/Authorization"
          },
          {
            "$ref": "#/components/parameters/User-Agent"
          },
          {
            "$ref": "#/components/parameters/Date"
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "nationality": {
                    "type": "string"
                  },
                  "orderType": {
                    "type": "string"
                  },
                  "email": {
                    "type": "string",
                    "description": "required in case JOIN_STC or NEW_LANDLINE"
                  },
                  "serviceType": {
                    "type": "string"
                  },
                  "orderNumber": {
                    "type": "string"
                  },
                  "tccTransactionId": {
                    "type": "string"
                  },
                  "isNumberChangeRequired": {
                    "type": "string"
                  },
                  "exchangeId": {
                    "type": "string",
                    "description": "exchangeId required when isNumberChangeRequired = Y"
                  },
                  "contactNumber": {
                    "type": "string"
                  },
                  "preferredLanguage": {
                    "type": "string"
                  },
                  "isDownPaymentRequired": {
                    "type": "string"
                  },
                  "operatorId": {
                    "type": "string"
                  },
                  "nationalAddress": {
                    "type": "object",
                    "properties": {
                      "buildingNumber": {
                        "type": "string"
                      },
                      "street": {
                        "type": "string"
                      },
                      "district": {
                        "type": "string"
                      },
                      "city": {
                        "type": "string"
                      },
                      "zipCode": {
                        "type": "string"
                      },
                      "additionalNumber": {
                        "type": "string"
                      },
                      "countryCode": {
                        "type": "string"
                      }
                    }
                  },
                  "appointment": {
                    "type": "object",
                    "properties": {
                      "date": {
                        "type": "string"
                      },
                      "shift": {
                        "type": "string"
                      },
                      "reservationStatus": {
                        "type": "string"
                      }
                    },
                    "required": [
                      "date",
                      "shift",
                      "reservationStatus"
                    ]
                  },
                  "couponId": {
                    "type": "string"
                  },
                  "otp": {
                    "type": "string"
                  },
                  "stcAdsBlock": {
                    "type": "string"
                  },
                  "lang": {
                    "type": "string"
                  },
                  "uniqueId": {
                    "type": "string"
                  },
                  "discountproductId": {
                    "type": "string"
                  },
                  "lat": {
                    "type": "string"
                  },
                  "long": {
                    "type": "string"
                  }
                },
                "required": [
                  "orderType",
                  "serviceType",
                  "orderNumber"
                ]
              }
            }
          }
        }
      }
    }
  },
  "components": {
    "schemas": {},
    "securitySchemes": {},
    "parameters": {
      "Accept-Language": {
        "name": "Accept-Language",
        "in": "header",
        "required": true,
        "schema": {
          "type": "string",
          "enum": [
            "en",
            "ar"
          ],
          "example": "ar"
        },
        "description": "user interface language"
      },
      "Authorization": {
        "name": "Authorization",
        "in": "header",
        "schema": {
          "type": "string",
          "example": "STCWS sdfUser:xuJzliYBJe5YRkkSsk0G5DHrwso="
        },
        "description": "The channel authentication  STCWS Channel_Username:Signature",
        "required": true
      },
      "User-Agent": {
        "name": "User-Agent",
        "in": "header",
        "required": true,
        "schema": {
          "type": "string"
        },
        "description": "User Agent to be given in the following format Channel;Platform;AppVer;Device"
      },
      "Date": {
        "name": "Date",
        "in": "header",
        "required": true,
        "schema": {
          "type": "string",
          "example": "EEE, dd MMM yyyy HH:mm:ss GMT"
        },
        "description": "This is the date for a request submitted from an application (The date/time must be in GMT timezone)"
      },
      "x-stcws-user": {
        "name": "x-stcws-user",
        "in": "header",
        "required": true,
        "schema": {
          "type": "string"
        },
        "description": "user credentials or token (required for private services)"
      },
      "x-pin": {
        "name": "x-pin",
        "in": "header",
        "schema": {
          "type": "string"
        },
        "description": "the OTP sent to user, this should be used for protected services "
      },
      "x-phoneNumber": {
        "name": "x-phoneNumber",
        "in": "header",
        "required": false,
        "schema": {
          "type": "string"
        },
        "description": "the phone number that received OTP  (for public services)"
      },
      "x-api-version": {
        "name": "x-api-version",
        "in": "header",
        "required": false,
        "schema": {
          "type": "string"
        },
        "description": "API version number"
      },
      "x-hurl": {
        "name": "x-hurl",
        "in": "header",
        "required": false,
        "schema": {
          "type": "string"
        },
        "description": "URI hash"
      }
    },
    "responses": {
      "204": {
        "description": "Processed",
        "headers": {
          "X-OCP-Transaction-ID": {
            "schema": {
              "type": "string"
            },
            "description": "OCP Transaction Id"
          }
        }
      },
      "400": {
        "description": "Bad Request",
        "content": {
          "application/json": {
            "schema": {
              "type": "object",
              "properties": {
                "errors": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "code": {
                        "type": "string"
                      },
                      "message": {
                        "type": "string"
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "headers": {
          "X-OCP-Transaction-ID": {
            "schema": {
              "type": "string"
            },
            "description": "OCP Transaction Id"
          }
        }
      },
      "401": {
        "description": "Unauthorized",
        "content": {
          "application/json": {
            "schema": {
              "type": "object",
              "properties": {
                "errors": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "code": {
                        "type": "string"
                      },
                      "message": {
                        "type": "string"
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "headers": {
          "X-OCP-Transaction-ID": {
            "schema": {
              "type": "string"
            },
            "description": "OCP Transaction Id"
          }
        }
      },
      "502": {
        "description": "Failed",
        "content": {
          "application/json": {
            "schema": {
              "type": "object",
              "properties": {
                "errors": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "code": {
                        "type": "string"
                      },
                      "message": {
                        "type": "string"
                      }
                    }
                  }
                }
              },
              "x-examples": {
                "Example 1": {
                  "errors": [
                    {
                      "code": "Not_Eligible_For_Jawwy_Tier",
                      "message": "\u063a\u064a\u0631 \u0645\u0624\u0647\u0644 \u0644\u0644\u0627\u0634\u062a\u0631\u0627\u0643 \u0641\u064a \u0641\u0626\u0629 \u062c\u0648 \u064a"
                    }
                  ]
                }
              }
            },
            "examples": {
              "Example 1": {
                "value": {
                  "errors": [
                    {
                      "code": "Not_Eligible_For_Jawwy_Tier",
                      "message": "\u063a\u064a\u0631 \u0645\u0624\u0647\u0644 \u0644\u0644\u0627\u0634\u062a\u0631\u0627\u0643 \u0641\u064a \u0641\u0626\u0629 \u062c\u0648 \u064a"
                    }
                  ]
                }
              }
            }
          }
        },
        "headers": {
          "X-OCP-Transaction-ID": {
            "schema": {
              "type": "string"
            },
            "description": "OCP Transaction Id"
          }
        }
      }
    }
  },
  "tags": [
    {
      "name": "Public",
      "x-displayName": "Public Services"
    },
    {
      "name": "Private",
      "x-displayName": "Private Services"
    }
  ],
  "x-tagGroups": [
    {
      "name": "Private Services Group",
      "tags": [
        "Private"
      ]
    },
    {
      "name": "Public Services Group",
      "tags": [
        "Public"
      ]
    }
  ]
}