{
  "openapi": "3.0.3",
  "info": {
    "title": "iHealth OpenAPI v2",
    "version": "2.0",
    "description": "iHealth Labs OpenAPI v2 provides access to health data from iHealth connected devices including blood pressure monitors, glucometers, pulse oximeters, weight scales, activity trackers, and body composition analyzers. Uses OAuth2 for authorization.",
    "x-jentic-source-url": "https://developer.ihealthlabs.com/",
    "contact": {
      "name": "API Support"
    }
  },
  "servers": [
    {
      "url": "https://api.ihealthlabs.com:8443/openapiv2"
    }
  ],
  "paths": {
    "/user/{userid}/bp.json": {
      "get": {
        "operationId": "getBloodPressure",
        "summary": "Get blood pressure data",
        "description": "Returns blood pressure readings for a user from iHealth BP monitors.",
        "tags": [
          "Blood Pressure"
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/DataResponse"
                    },
                    {
                      "type": "object",
                      "properties": {
                        "BPDataList": {
                          "type": "array",
                          "items": {
                            "$ref": "#/components/schemas/BloodPressureReading"
                          }
                        }
                      }
                    }
                  ]
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "parameters": [
          {
            "name": "userid",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "User ID"
          },
          {
            "name": "client_id",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "client_secret",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "sc",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Serial number of device"
          },
          {
            "name": "sv",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "API version"
          },
          {
            "name": "start_time",
            "in": "query",
            "schema": {
              "type": "integer"
            },
            "description": "Start time (Unix timestamp)"
          },
          {
            "name": "end_time",
            "in": "query",
            "schema": {
              "type": "integer"
            },
            "description": "End time (Unix timestamp)"
          },
          {
            "name": "page_index",
            "in": "query",
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "page_size",
            "in": "query",
            "schema": {
              "type": "integer",
              "default": 50
            }
          }
        ]
      }
    },
    "/user/{userid}/glucose.json": {
      "get": {
        "operationId": "getGlucose",
        "summary": "Get blood glucose data",
        "description": "Returns blood glucose readings from iHealth glucometers.",
        "tags": [
          "Blood Glucose"
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/DataResponse"
                    },
                    {
                      "type": "object",
                      "properties": {
                        "BGDataList": {
                          "type": "array",
                          "items": {
                            "$ref": "#/components/schemas/GlucoseReading"
                          }
                        }
                      }
                    }
                  ]
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "parameters": [
          {
            "name": "userid",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "User ID"
          },
          {
            "name": "client_id",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "client_secret",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "sc",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Serial number of device"
          },
          {
            "name": "sv",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "API version"
          },
          {
            "name": "start_time",
            "in": "query",
            "schema": {
              "type": "integer"
            },
            "description": "Start time (Unix timestamp)"
          },
          {
            "name": "end_time",
            "in": "query",
            "schema": {
              "type": "integer"
            },
            "description": "End time (Unix timestamp)"
          },
          {
            "name": "page_index",
            "in": "query",
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "page_size",
            "in": "query",
            "schema": {
              "type": "integer",
              "default": 50
            }
          }
        ]
      }
    },
    "/user/{userid}/weight.json": {
      "get": {
        "operationId": "getWeight",
        "summary": "Get weight data",
        "description": "Returns weight measurements from iHealth weight scales.",
        "tags": [
          "Weight"
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/DataResponse"
                    },
                    {
                      "type": "object",
                      "properties": {
                        "WeightDataList": {
                          "type": "array",
                          "items": {
                            "$ref": "#/components/schemas/WeightReading"
                          }
                        }
                      }
                    }
                  ]
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "parameters": [
          {
            "name": "userid",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "User ID"
          },
          {
            "name": "client_id",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "client_secret",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "sc",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Serial number of device"
          },
          {
            "name": "sv",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "API version"
          },
          {
            "name": "start_time",
            "in": "query",
            "schema": {
              "type": "integer"
            },
            "description": "Start time (Unix timestamp)"
          },
          {
            "name": "end_time",
            "in": "query",
            "schema": {
              "type": "integer"
            },
            "description": "End time (Unix timestamp)"
          },
          {
            "name": "page_index",
            "in": "query",
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "page_size",
            "in": "query",
            "schema": {
              "type": "integer",
              "default": 50
            }
          }
        ]
      }
    },
    "/user/{userid}/spo2.json": {
      "get": {
        "operationId": "getSpO2",
        "summary": "Get SpO2 data",
        "description": "Returns blood oxygen saturation readings from iHealth pulse oximeters.",
        "tags": [
          "SpO2"
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/DataResponse"
                    },
                    {
                      "type": "object",
                      "properties": {
                        "BODataList": {
                          "type": "array",
                          "items": {
                            "$ref": "#/components/schemas/SpO2Reading"
                          }
                        }
                      }
                    }
                  ]
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "parameters": [
          {
            "name": "userid",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "User ID"
          },
          {
            "name": "client_id",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "client_secret",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "sc",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Serial number of device"
          },
          {
            "name": "sv",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "API version"
          },
          {
            "name": "start_time",
            "in": "query",
            "schema": {
              "type": "integer"
            },
            "description": "Start time (Unix timestamp)"
          },
          {
            "name": "end_time",
            "in": "query",
            "schema": {
              "type": "integer"
            },
            "description": "End time (Unix timestamp)"
          },
          {
            "name": "page_index",
            "in": "query",
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "page_size",
            "in": "query",
            "schema": {
              "type": "integer",
              "default": 50
            }
          }
        ]
      }
    },
    "/user/{userid}/activity.json": {
      "get": {
        "operationId": "getActivity",
        "summary": "Get activity data",
        "description": "Returns activity/step data from iHealth fitness trackers.",
        "tags": [
          "Activity"
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/DataResponse"
                    },
                    {
                      "type": "object",
                      "properties": {
                        "ARDataList": {
                          "type": "array",
                          "items": {
                            "$ref": "#/components/schemas/ActivityReading"
                          }
                        }
                      }
                    }
                  ]
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "parameters": [
          {
            "name": "userid",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "User ID"
          },
          {
            "name": "client_id",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "client_secret",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "sc",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Serial number of device"
          },
          {
            "name": "sv",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "API version"
          },
          {
            "name": "start_time",
            "in": "query",
            "schema": {
              "type": "integer"
            },
            "description": "Start time (Unix timestamp)"
          },
          {
            "name": "end_time",
            "in": "query",
            "schema": {
              "type": "integer"
            },
            "description": "End time (Unix timestamp)"
          },
          {
            "name": "page_index",
            "in": "query",
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "page_size",
            "in": "query",
            "schema": {
              "type": "integer",
              "default": 50
            }
          }
        ]
      }
    },
    "/user/{userid}/sleep.json": {
      "get": {
        "operationId": "getSleep",
        "summary": "Get sleep data",
        "description": "Returns sleep tracking data.",
        "tags": [
          "Sleep"
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/DataResponse"
                    },
                    {
                      "type": "object",
                      "properties": {
                        "SRDataList": {
                          "type": "array",
                          "items": {
                            "$ref": "#/components/schemas/SleepReading"
                          }
                        }
                      }
                    }
                  ]
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "parameters": [
          {
            "name": "userid",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "User ID"
          },
          {
            "name": "client_id",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "client_secret",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "sc",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Serial number of device"
          },
          {
            "name": "sv",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "API version"
          },
          {
            "name": "start_time",
            "in": "query",
            "schema": {
              "type": "integer"
            },
            "description": "Start time (Unix timestamp)"
          },
          {
            "name": "end_time",
            "in": "query",
            "schema": {
              "type": "integer"
            },
            "description": "End time (Unix timestamp)"
          },
          {
            "name": "page_index",
            "in": "query",
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "page_size",
            "in": "query",
            "schema": {
              "type": "integer",
              "default": 50
            }
          }
        ]
      }
    },
    "/user/{userid}/bodycomposition.json": {
      "get": {
        "operationId": "getBodyComposition",
        "summary": "Get body composition data",
        "description": "Returns body composition measurements from iHealth body analyzers.",
        "tags": [
          "Body Composition"
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/DataResponse"
                    },
                    {
                      "type": "object",
                      "properties": {
                        "BCDataList": {
                          "type": "array",
                          "items": {
                            "$ref": "#/components/schemas/BodyComposition"
                          }
                        }
                      }
                    }
                  ]
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "parameters": [
          {
            "name": "userid",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "User ID"
          },
          {
            "name": "client_id",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "client_secret",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "sc",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Serial number of device"
          },
          {
            "name": "sv",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "API version"
          },
          {
            "name": "start_time",
            "in": "query",
            "schema": {
              "type": "integer"
            },
            "description": "Start time (Unix timestamp)"
          },
          {
            "name": "end_time",
            "in": "query",
            "schema": {
              "type": "integer"
            },
            "description": "End time (Unix timestamp)"
          },
          {
            "name": "page_index",
            "in": "query",
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "page_size",
            "in": "query",
            "schema": {
              "type": "integer",
              "default": 50
            }
          }
        ]
      }
    },
    "/user/{userid}/userinfo.json": {
      "get": {
        "operationId": "getUserInfo",
        "summary": "Get user info",
        "description": "Returns user profile information.",
        "tags": [
          "User"
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/UserInfo"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "parameters": [
          {
            "name": "userid",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "User ID"
          },
          {
            "name": "client_id",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "client_secret",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "sc",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Serial number of device"
          },
          {
            "name": "sv",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "API version"
          }
        ]
      }
    },
    "/OAuthv2/userauthorization/": {
      "get": {
        "operationId": "authorize",
        "summary": "OAuth2 authorization",
        "description": "Redirect user for authorization.",
        "tags": [
          "Authentication"
        ],
        "responses": {
          "200": {
            "description": "Successful response"
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "parameters": [
          {
            "name": "client_id",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "response_type",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string",
              "enum": [
                "code"
              ]
            }
          },
          {
            "name": "redirect_uri",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uri"
            }
          },
          {
            "name": "APIName",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ]
      },
      "post": {
        "operationId": "exchangeToken",
        "summary": "Exchange authorization code",
        "description": "Exchange code for access/refresh tokens.",
        "tags": [
          "Authentication"
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TokenResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "client_id": {
                    "type": "string"
                  },
                  "client_secret": {
                    "type": "string"
                  },
                  "grant_type": {
                    "type": "string",
                    "enum": [
                      "authorization_code",
                      "refresh_token"
                    ]
                  },
                  "code": {
                    "type": "string"
                  },
                  "redirect_uri": {
                    "type": "string"
                  },
                  "refresh_token": {
                    "type": "string"
                  }
                }
              }
            }
          }
        }
      }
    }
  },
  "components": {
    "schemas": {
      "BloodPressureReading": {
        "type": "object",
        "properties": {
          "BPDataID": {
            "type": "string"
          },
          "BPL": {
            "type": "integer",
            "description": "Diastolic blood pressure level (mmHg)"
          },
          "HP": {
            "type": "integer",
            "description": "Systolic blood pressure level (mmHg)"
          },
          "HR": {
            "type": "integer",
            "description": "Heart rate (bpm)"
          },
          "IsArr": {
            "type": "integer",
            "description": "Arrhythmia detected (0=no, 1=yes)"
          },
          "MDate": {
            "type": "integer",
            "description": "Measurement timestamp (Unix)"
          },
          "Note": {
            "type": "string"
          },
          "Lat": {
            "type": "number"
          },
          "Lon": {
            "type": "number"
          },
          "TimeZone": {
            "type": "string"
          }
        }
      },
      "GlucoseReading": {
        "type": "object",
        "properties": {
          "BGDataID": {
            "type": "string"
          },
          "BG": {
            "type": "number",
            "description": "Blood glucose value"
          },
          "DinnerSituation": {
            "type": "integer",
            "description": "Meal context (0=before breakfast, etc.)"
          },
          "DrugSituation": {
            "type": "integer"
          },
          "MDate": {
            "type": "integer"
          },
          "Note": {
            "type": "string"
          },
          "TimeZone": {
            "type": "string"
          }
        }
      },
      "WeightReading": {
        "type": "object",
        "properties": {
          "WeightDataID": {
            "type": "string"
          },
          "WeightValue": {
            "type": "number",
            "description": "Weight in kg"
          },
          "BMI": {
            "type": "number"
          },
          "MDate": {
            "type": "integer"
          },
          "Note": {
            "type": "string"
          },
          "TimeZone": {
            "type": "string"
          }
        }
      },
      "SpO2Reading": {
        "type": "object",
        "properties": {
          "DataID": {
            "type": "string"
          },
          "BO": {
            "type": "integer",
            "description": "Blood oxygen saturation (%)"
          },
          "HR": {
            "type": "integer",
            "description": "Heart rate (bpm)"
          },
          "MDate": {
            "type": "integer"
          },
          "TimeZone": {
            "type": "string"
          }
        }
      },
      "ActivityReading": {
        "type": "object",
        "properties": {
          "DataID": {
            "type": "string"
          },
          "Calories": {
            "type": "number"
          },
          "Steps": {
            "type": "integer"
          },
          "DistanceTraveled": {
            "type": "number"
          },
          "MDate": {
            "type": "integer"
          },
          "TimeZone": {
            "type": "string"
          }
        }
      },
      "SleepReading": {
        "type": "object",
        "properties": {
          "DataID": {
            "type": "string"
          },
          "StartTime": {
            "type": "integer"
          },
          "EndTime": {
            "type": "integer"
          },
          "HoursSlept": {
            "type": "number"
          },
          "Awake": {
            "type": "integer",
            "description": "Minutes awake"
          },
          "LightSleep": {
            "type": "integer"
          },
          "DeepSleep": {
            "type": "integer"
          },
          "REMSleep": {
            "type": "integer"
          }
        }
      },
      "BodyComposition": {
        "type": "object",
        "properties": {
          "DataID": {
            "type": "string"
          },
          "WeightValue": {
            "type": "number"
          },
          "FatValue": {
            "type": "number",
            "description": "Body fat percentage"
          },
          "DCI": {
            "type": "number",
            "description": "Daily calorie intake"
          },
          "MuscleValue": {
            "type": "number"
          },
          "WaterValue": {
            "type": "number"
          },
          "BoneValue": {
            "type": "number"
          },
          "VisceralFat": {
            "type": "number"
          },
          "BMI": {
            "type": "number"
          },
          "MDate": {
            "type": "integer"
          }
        }
      },
      "DataResponse": {
        "type": "object",
        "properties": {
          "CurrentRecordCount": {
            "type": "integer"
          },
          "NextPageUrl": {
            "type": "string"
          },
          "PageNumber": {
            "type": "integer"
          },
          "PageLength": {
            "type": "integer"
          },
          "RecordCount": {
            "type": "integer"
          }
        }
      },
      "UserInfo": {
        "type": "object",
        "properties": {
          "userid": {
            "type": "string"
          },
          "nickname": {
            "type": "string"
          },
          "gender": {
            "type": "string"
          },
          "dateofbirth": {
            "type": "string"
          },
          "height": {
            "type": "number"
          },
          "weight": {
            "type": "number"
          },
          "logo": {
            "type": "string"
          }
        }
      },
      "TokenResponse": {
        "type": "object",
        "properties": {
          "AccessToken": {
            "type": "string"
          },
          "RefreshToken": {
            "type": "string"
          },
          "Expires": {
            "type": "integer"
          },
          "UserID": {
            "type": "string"
          }
        }
      },
      "ErrorResponse": {
        "type": "object",
        "properties": {
          "Error": {
            "type": "string"
          },
          "ErrorCode": {
            "type": "integer"
          },
          "ErrorDescription": {
            "type": "string"
          }
        }
      }
    },
    "securitySchemes": {
      "oauth2": {
        "type": "oauth2",
        "flows": {
          "authorizationCode": {
            "authorizationUrl": "https://api.ihealthlabs.com:8443/OpenApiV2/OAuthv2/userauthorization/",
            "tokenUrl": "https://api.ihealthlabs.com:8443/OpenApiV2/OAuthv2/userauthorization/",
            "scopes": {
              "OpenApiBP": "Blood pressure data",
              "OpenApiBG": "Blood glucose data",
              "OpenApiWeight": "Weight data",
              "OpenApiSpO2": "SpO2 data",
              "OpenApiActivity": "Activity data",
              "OpenApiSleep": "Sleep data",
              "OpenApiUserInfo": "User info"
            }
          }
        }
      },
      "apiKey": {
        "type": "apiKey",
        "in": "query",
        "name": "access_token"
      }
    }
  },
  "security": [
    {
      "oauth2": []
    },
    {
      "apiKey": []
    }
  ],
  "tags": [
    {
      "name": "Activity"
    },
    {
      "name": "Authentication"
    },
    {
      "name": "Blood Glucose"
    },
    {
      "name": "Blood Pressure"
    },
    {
      "name": "Body Composition"
    },
    {
      "name": "Sleep"
    },
    {
      "name": "SpO2"
    },
    {
      "name": "User"
    },
    {
      "name": "Weight"
    }
  ]
}
