{
  "openapi": "3.0.0",
  "info": {
    "title": "API_masters",
    "version": "1.0.0",
    "description": "API \u043e\u0431\u043c\u0435\u043d\u0430 \u0434\u0430\u043d\u043d\u044b\u043c\u0438 \u0441 \u043c\u043e\u0431\u0438\u043b\u044c\u043d\u044b\u043c \u043f\u0440\u0438\u043b\u043e\u0436\u0435\u043d\u0438\u0435\u043c. \u0412\u044b\u0433\u0440\u0443\u0437\u043a\u0430 \u0441\u043f\u0438\u0441\u043a\u0430 \u043c\u0430\u0441\u0442\u0435\u0440\u043e\u0432 (\u043a\u043e\u043d\u0442\u0440\u0430\u0433\u0435\u043d\u0442\u043e\u0432).",
    "x-jentic-source-url": "https://api.swaggerhub.com/apis/delphin-e16/srsrfgsgvszd/1.0.0"
  },
  "servers": [
    {
      "url": "https://obmen.delfin24.ru/CustomerOrdersExchangeTest/hs/MAExchange",
      "description": "\u0422\u0435\u0441\u0442\u043e\u0432\u044b\u0439 \u0441\u0442\u0435\u043d\u0434 (Test)"
    },
    {
      "url": "https://obmen.delfin24.ru/CustomerOrdersExchange/hs/MAExchange",
      "description": "\u041f\u0440\u043e\u0434\u0443\u043a\u0442\u0438\u0432\u043d\u044b\u0439 \u043a\u043e\u043d\u0442\u0443\u0440 (Production)"
    }
  ],
  "paths": {
    "/v1/masters": {
      "post": {
        "summary": "\u041f\u043e\u043b\u0443\u0447\u0435\u043d\u0438\u0435 \u043f\u043e\u043b\u043d\u043e\u0433\u043e \u0441\u043f\u0438\u0441\u043a\u0430 \u043c\u0430\u0441\u0442\u0435\u0440\u043e\u0432",
        "description": "\u0412\u043e\u0437\u0432\u0440\u0430\u0449\u0430\u0435\u0442 \u043c\u0430\u0441\u0441\u0438\u0432 \u043c\u0430\u0441\u0442\u0435\u0440\u043e\u0432 \u0441 \u0430\u043a\u0442\u0443\u0430\u043b\u044c\u043d\u044b\u043c\u0438 \u0434\u0430\u043d\u043d\u044b\u043c\u0438 \u043f\u043e \u0434\u043e\u043b\u0433\u0430\u043c, \u043b\u0438\u043c\u0438\u0442\u0430\u043c, \u043a\u043e\u043d\u0442\u0430\u043a\u0442\u0430\u043c \u0438 \u0441\u0442\u0430\u0442\u0443\u0441\u0430\u043c \u0431\u043b\u043e\u043a\u0438\u0440\u043e\u0432\u043a\u0438 \u0434\u043b\u044f \u0443\u043a\u0430\u0437\u0430\u043d\u043d\u043e\u0433\u043e \u0443\u0437\u043b\u0430.",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "nodecode": {
                    "type": "string",
                    "description": "\u041a\u043e\u0434 \u0443\u0437\u043b\u0430 \u043f\u043b\u0430\u043d\u0430 \u043e\u0431\u043c\u0435\u043d\u0430",
                    "example": "018"
                  }
                },
                "required": [
                  "nodecode"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "\u0423\u0441\u043f\u0435\u0448\u043d\u0430\u044f \u0432\u044b\u0433\u0440\u0443\u0437\u043a\u0430 \u0441\u043f\u0438\u0441\u043a\u0430 \u043c\u0430\u0441\u0442\u0435\u0440\u043e\u0432",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Master"
                  }
                }
              }
            }
          },
          "400": {
            "description": "\u041d\u0435 \u0443\u043a\u0430\u0437\u0430\u043d \u043e\u0431\u044f\u0437\u0430\u0442\u0435\u043b\u044c\u043d\u044b\u0439 \u043f\u0430\u0440\u0430\u043c\u0435\u0442\u0440 (nodecode) \u0438\u043b\u0438 \u0443\u0437\u0435\u043b \u043d\u0435 \u043d\u0430\u0439\u0434\u0435\u043d"
          },
          "500": {
            "description": "\u0412\u043d\u0443\u0442\u0440\u0435\u043d\u043d\u044f\u044f \u043e\u0448\u0438\u0431\u043a\u0430 \u0441\u0435\u0440\u0432\u0435\u0440\u0430"
          }
        }
      }
    }
  },
  "components": {
    "schemas": {
      "Master": {
        "type": "object",
        "description": "\u041e\u0431\u044a\u0435\u043a\u0442 \u043c\u0430\u0441\u0442\u0435\u0440\u0430 (\u0442\u043e\u0440\u0433\u043e\u0432\u043e\u0439 \u0442\u043e\u0447\u043a\u0438)",
        "properties": {
          "id": {
            "type": "string",
            "format": "uuid",
            "description": "\u0423\u043d\u0438\u043a\u0430\u043b\u044c\u043d\u044b\u0439 \u0438\u0434\u0435\u043d\u0442\u0438\u0444\u0438\u043a\u0430\u0442\u043e\u0440 \u043c\u0430\u0441\u0442\u0435\u0440\u0430 (GUID 1\u0421)",
            "example": "599e819b-665b-11ef-8113-00155d011103"
          },
          "name": {
            "type": "string",
            "description": "\u041d\u0430\u0438\u043c\u0435\u043d\u043e\u0432\u0430\u043d\u0438\u0435 \u043c\u0430\u0441\u0442\u0435\u0440\u0430 \u0431\u0435\u0437 \u0438\u043c\u0435\u043d\u0438 \u0440\u043e\u0434\u0438\u0442\u0435\u043b\u044c\u0441\u043a\u043e\u0433\u043e \u0441\u0430\u043b\u043e\u043d\u0430",
            "example": "\u0418\u0432\u0430\u043d\u043e\u0432\u0430 \u041c\u0430\u0440\u0438\u044f"
          },
          "isdeleted": {
            "type": "boolean",
            "description": "\u0424\u043b\u0430\u0433 \u043d\u0435\u0440\u0430\u0431\u043e\u0447\u0435\u0433\u043e \u0441\u0442\u0430\u0442\u0443\u0441\u0430 (\u0418\u0441\u0442\u0438\u043d\u0430, \u0435\u0441\u043b\u0438 \u0441\u0442\u0430\u0442\u0443\u0441 \u0430\u043a\u0442\u0443\u0430\u043b\u044c\u043d\u043e\u0441\u0442\u0438 \"\u041d\u0435 \u0440\u0430\u0431\u043e\u0447\u0438\u0439\")",
            "example": false
          },
          "description": {
            "type": "string",
            "description": "\u0421\u0438\u0441\u0442\u0435\u043c\u043d\u043e\u0435 \u043e\u043f\u0438\u0441\u0430\u043d\u0438\u0435 \u0441\u0443\u0449\u043d\u043e\u0441\u0442\u0438",
            "example": "\u0421\u043f\u0440\u0430\u0432\u043e\u0447\u043d\u0438\u043a.\u0422\u043e\u0440\u0433\u043e\u0432\u044b\u0435\u0422\u043e\u0447\u043a\u0438"
          },
          "type": {
            "type": "string",
            "description": "\u0412\u0438\u0434 \u043a\u043e\u043d\u0442\u0440\u0430\u0433\u0435\u043d\u0442\u0430",
            "example": "\u0424\u0438\u0437\u0438\u0447\u0435\u0441\u043a\u043e\u0435 \u043b\u0438\u0446\u043e"
          },
          "workplaces": {
            "type": "array",
            "description": "\u0421\u043f\u0438\u0441\u043e\u043a \u043c\u0435\u0441\u0442 \u0440\u0430\u0431\u043e\u0442\u044b \u043c\u0430\u0441\u0442\u0435\u0440\u0430 (GUID \u0438\u043b\u0438 \u043d\u0430\u0438\u043c\u0435\u043d\u043e\u0432\u0430\u043d\u0438\u044f \u0440\u043e\u0434\u0438\u0442\u0435\u043b\u044c\u0441\u043a\u0438\u0445 \u0441\u0430\u043b\u043e\u043d\u043e\u0432)",
            "items": {
              "type": "string"
            },
            "example": [
              "\u0421\u0430\u043b\u043e\u043d \u043a\u0440\u0430\u0441\u043e\u0442\u044b '\u042d\u043b\u0435\u0433\u0430\u043d\u0442'",
              "\u0421\u0442\u0443\u0434\u0438\u044f '\u0411\u043b\u0435\u0441\u043a'"
            ]
          },
          "isblocked": {
            "type": "boolean",
            "description": "\u0424\u043b\u0430\u0433 \u0437\u0430\u043f\u0440\u0435\u0442\u0430 \u043f\u0440\u043e\u0434\u0430\u0436 (\u0418\u0441\u0442\u0438\u043d\u0430, \u0435\u0441\u043b\u0438 \u0435\u0441\u0442\u044c \u0431\u043b\u043e\u043a\u0438\u0440\u043e\u0432\u043a\u0430 \u0434\u043b\u044f \u0432\u044b\u043f\u0438\u0441\u043a\u0438, \u043f\u043e\u043c\u0435\u0442\u043a\u0430 \u0443\u0434\u0430\u043b\u0435\u043d\u0438\u044f, \u0441\u0442\u0430\u0442\u0443\u0441 \u043d\u0435\u0440\u0430\u0431\u043e\u0447\u0435\u0433\u043e \u0438\u043b\u0438 \u044d\u0442\u043e \u0434\u0443\u0431\u043b\u044c)",
            "example": false
          },
          "address": {
            "type": "string",
            "description": "\u0424\u0430\u043a\u0442\u0438\u0447\u0435\u0441\u043a\u0438\u0439 \u0430\u0434\u0440\u0435\u0441 \u043c\u0430\u0441\u0442\u0435\u0440\u0430 (\u043e\u0447\u0438\u0449\u0435\u043d\u043d\u044b\u0439 \u043e\u0442 \u043d\u0435\u0447\u0438\u0442\u0430\u0435\u043c\u044b\u0445 \u0441\u0438\u043c\u0432\u043e\u043b\u043e\u0432)",
            "example": "\u0433. \u041c\u043e\u0441\u043a\u0432\u0430, \u0443\u043b. \u041b\u0435\u043d\u0438\u043d\u0430, \u0434. 10, \u043e\u0444. 5"
          },
          "phone": {
            "type": "string",
            "description": "\u041a\u043e\u043d\u0442\u0430\u043a\u0442\u043d\u044b\u0439 \u0442\u0435\u043b\u0435\u0444\u043e\u043d",
            "example": "+7 (999) 123-45-67"
          },
          "note": {
            "type": "string",
            "description": "\u0414\u043e\u043f\u043e\u043b\u043d\u0438\u0442\u0435\u043b\u044c\u043d\u043e\u0435 \u043f\u0440\u0438\u043c\u0435\u0447\u0430\u043d\u0438\u0435 (\u0432 \u0442\u0435\u043a\u0443\u0449\u0435\u0439 \u0440\u0435\u0430\u043b\u0438\u0437\u0430\u0446\u0438\u0438 \u0432\u0441\u0435\u0433\u0434\u0430 \u043f\u0443\u0441\u0442\u043e\u0435)",
            "example": ""
          },
          "forwarder": {
            "type": "string",
            "description": "\u0414\u0430\u043d\u043d\u044b\u0435 \u044d\u043a\u0441\u043f\u0435\u0434\u0438\u0442\u043e\u0440\u0430 (\u0424\u0418\u041e \u0438 \u0442\u0435\u043b\u0435\u0444\u043e\u043d, \u0435\u0441\u043b\u0438 \u043d\u0430\u0437\u043d\u0430\u0447\u0435\u043d)",
            "example": "\u041f\u0435\u0442\u0440\u043e\u0432 \u0410.\u0412. +7(900)000-00-00"
          },
          "contract": {
            "type": "string",
            "description": "\u041d\u0430\u0438\u043c\u0435\u043d\u043e\u0432\u0430\u043d\u0438\u0435 \u0440\u0430\u0431\u043e\u0447\u0435\u0433\u043e \u0434\u043e\u0433\u043e\u0432\u043e\u0440\u0430 \u0438\u043b\u0438 \u0441\u043e\u043e\u0431\u0449\u0435\u043d\u0438\u0435 \"\u041d\u0415\u0422 \u0414\u041e\u0413\u041e\u0412\u041e\u0420\u0410 !\"",
            "example": "\u0414\u043e\u0433\u043e\u0432\u043e\u0440 \u043a\u0443\u043f\u043b\u0438-\u043f\u0440\u043e\u0434\u0430\u0436\u0438 \u211645 \u043e\u0442 01.01.2023"
          },
          "debt": {
            "type": "number",
            "format": "float",
            "description": "\u0422\u0435\u043a\u0443\u0449\u0430\u044f \u0441\u0443\u043c\u043c\u0430 \u0434\u043e\u043b\u0433\u0430 \u043f\u043e \u0434\u043e\u0433\u043e\u0432\u043e\u0440\u0443",
            "example": 15450.5
          },
          "overduedebt": {
            "type": "number",
            "format": "float",
            "description": "\u0421\u0443\u043c\u043c\u0430 \u043f\u0440\u043e\u0441\u0440\u043e\u0447\u0435\u043d\u043d\u043e\u0433\u043e \u0434\u043e\u043b\u0433\u0430",
            "example": 5000.0
          },
          "limitinfo": {
            "type": "string",
            "description": "\u0422\u0435\u043a\u0441\u0442\u043e\u0432\u0430\u044f \u0441\u0432\u043e\u0434\u043a\u0430 \u043f\u043e \u043b\u0438\u043c\u0438\u0442\u0430\u043c, \u043e\u0441\u0442\u0430\u0442\u043a\u0430\u043c \u043b\u0438\u043c\u0438\u0442\u0430 \u0438 \u0434\u043d\u044f\u043c \u043f\u0440\u043e\u0441\u0440\u043e\u0447\u043a\u0438",
            "example": "\u041b\u0438\u043c\u0438\u0442: 50 000 \u041e\u0441\u0442\u0430\u0442\u043e\u043a \u043b\u0438\u043c\u0438\u0442\u0430: 34 550; \u041f\u0440\u043e\u0441\u0440\u043e\u0447\u043a\u0430 2 \u0434\u043d. (\u041b\u0438\u043c\u0438\u0442 14 \u0434\u043d.)"
          },
          "limitdays": {
            "type": "integer",
            "description": "\u0414\u043e\u043f\u0443\u0441\u0442\u0438\u043c\u043e\u0435 \u0447\u0438\u0441\u043b\u043e \u0434\u043d\u0435\u0439 \u0437\u0430\u0434\u043e\u043b\u0436\u0435\u043d\u043d\u043e\u0441\u0442\u0438 \u043f\u043e \u0434\u043e\u0433\u043e\u0432\u043e\u0440\u0443",
            "example": 14
          },
          "limitamount": {
            "type": "number",
            "format": "float",
            "description": "\u0414\u043e\u043f\u0443\u0441\u0442\u0438\u043c\u0430\u044f \u0441\u0443\u043c\u043c\u0430 \u0437\u0430\u0434\u043e\u043b\u0436\u0435\u043d\u043d\u043e\u0441\u0442\u0438 (\u043b\u0438\u043c\u0438\u0442 \u0432 \u0440\u0443\u0431\u043b\u044f\u0445)",
            "example": 50000.0
          }
        }
      }
    }
  }
}