{
  "openapi": "3.0.0",
  "info": {
    "description": "![](https://www.circl.lu/assets/images/circl-logo.png)\n[CIRCL hash lookup](https://hashlookup.circl.lu/) is a public API to lookup hash values against known database of files. For more details about all the datasets included [visit the website of the project](https://www.circl.lu/services/hashlookup/). The API is accessible via HTTP ReST API and the API is also [described as an OpenAPI](https://hashlookup.circl.lu/swagger.json). A [documentation is available with](https://www.circl.lu/services/hashlookup/) with sample queries and software using hashlookup. An offline version as Bloom filter is also [available](https://circl.lu/services/hashlookup/#how-to-quickly-check-a-set-of-files-in-a-local-directory). The API can be tested live in the interface below.",
    "license": {
      "name": "CC-BY"
    },
    "title": "hashlookup CIRCL API",
    "version": "1.3",
    "x-jentic-source-url": "https://raw.githubusercontent.com/jentic/jentic-public-apis/refs/heads/main/apis/openapi/circl.lu/hashlookup/1.3/openapi.json",
    "contact": {
      "name": "API Support"
    }
  },
  "servers": [
    {
      "url": "https://hashlookup.circl.lu"
    }
  ],
  "paths": {
    "/bulk/md5": {
      "post": {
        "responses": {
          "200": {
            "description": "Success"
          },
          "404": {
            "description": "JSON format incorrect. An array of hashes in the key 'hashes' is expected."
          }
        },
        "tags": [
          "default"
        ],
        "description": "Bulk search of MD5 hashes in a JSON array with the key 'hashes'.",
        "operationId": "post_bulkmd5"
      }
    },
    "/bulk/sha1": {
      "post": {
        "responses": {
          "200": {
            "description": "Success"
          },
          "404": {
            "description": "JSON format incorrect. An array of hashes in the key 'hashes' is expected."
          }
        },
        "tags": [
          "default"
        ],
        "description": "Bulk search of SHA1 hashes in a JSON array with the 'hashes'.",
        "operationId": "post_bulksha1"
      }
    },
    "/children/{sha1}/{count}/{cursor}": {
      "parameters": [
        {
          "in": "path",
          "name": "sha1",
          "required": true,
          "schema": {
            "type": "string"
          }
        },
        {
          "in": "path",
          "name": "count",
          "required": true,
          "schema": {
            "type": "integer"
          }
        },
        {
          "in": "path",
          "name": "cursor",
          "required": true,
          "schema": {
            "type": "string"
          }
        }
      ],
      "get": {
        "responses": {
          "200": {
            "description": "Success"
          },
          "400": {
            "description": "SHA1 value incorrect, expecting a SHA1 value in hex format"
          },
          "404": {
            "description": "The SHA1 value has no known child."
          }
        },
        "tags": [
          "default"
        ],
        "description": "Return children from a given SHA1.  A number of element to return and an offset must be given. If not set it will be the 100 first elements. A cursor must be given to paginate over. The starting cursor is 0.",
        "operationId": "get_children"
      }
    },
    "/info": {
      "get": {
        "responses": {
          "200": {
            "description": "Success"
          }
        },
        "tags": [
          "default"
        ],
        "description": "Info about the hashlookup database",
        "operationId": "get_info"
      }
    },
    "/lookup/md5/{md5}": {
      "parameters": [
        {
          "in": "path",
          "name": "md5",
          "required": true,
          "schema": {
            "type": "string"
          }
        }
      ],
      "get": {
        "responses": {
          "200": {
            "description": "Success"
          },
          "400": {
            "description": "MD5 value incorrect, expecting a MD5 value in hex format"
          },
          "404": {
            "description": "Non existing MD5"
          }
        },
        "tags": [
          "default"
        ],
        "description": "Lookup MD5.",
        "operationId": "get_lookup_md5"
      }
    },
    "/lookup/sha1/{sha1}": {
      "parameters": [
        {
          "in": "path",
          "name": "sha1",
          "required": true,
          "schema": {
            "type": "string"
          }
        }
      ],
      "get": {
        "responses": {
          "200": {
            "description": "Success"
          },
          "400": {
            "description": "SHA1 value incorrect, expecting a SHA1 value in hex format"
          },
          "404": {
            "description": "Non existing SHA1"
          }
        },
        "tags": [
          "default"
        ],
        "description": "Lookup SHA-1.",
        "operationId": "get_lookup_sha1"
      }
    },
    "/lookup/sha256/{sha256}": {
      "parameters": [
        {
          "in": "path",
          "name": "sha256",
          "required": true,
          "schema": {
            "type": "string"
          }
        }
      ],
      "get": {
        "responses": {
          "200": {
            "description": "Success"
          },
          "400": {
            "description": "SHA-256 value incorrect, expecting a SHA-256 value in hex format"
          },
          "404": {
            "description": "Non existing SHA-256"
          }
        },
        "tags": [
          "default"
        ],
        "description": "Lookup SHA-256.",
        "operationId": "get_lookup_sha256"
      }
    },
    "/parents/{sha1}/{count}/{cursor}": {
      "parameters": [
        {
          "in": "path",
          "name": "sha1",
          "required": true,
          "schema": {
            "type": "string"
          }
        },
        {
          "in": "path",
          "name": "count",
          "required": true,
          "schema": {
            "type": "integer"
          }
        },
        {
          "in": "path",
          "name": "cursor",
          "required": true,
          "schema": {
            "type": "string"
          }
        }
      ],
      "get": {
        "responses": {
          "200": {
            "description": "Success"
          },
          "400": {
            "description": "SHA1 value incorrect, expecting a SHA1 value in hex format"
          },
          "404": {
            "description": "The SHA1 value has no known parent."
          }
        },
        "tags": [
          "default"
        ],
        "description": "Return parents from a given SHA1. A number of element to return and an offset must be given. If not set it will be the 100 first elements. A cursor must be given to paginate over. The starting cursor is 0.",
        "operationId": "get_parents"
      }
    },
    "/session/create/{name}": {
      "parameters": [
        {
          "in": "path",
          "name": "name",
          "required": true,
          "schema": {
            "type": "string"
          }
        }
      ],
      "get": {
        "responses": {
          "200": {
            "description": "Success"
          },
          "400": {
            "description": "Expecting a name for the session"
          },
          "500": {
            "description": "Session feature is not enabled"
          }
        },
        "tags": [
          "default"
        ],
        "description": "Create a session key to keep search context. The session is attached to a name. After the session is created, the header `hashlookup_session` can be set to the session name.",
        "operationId": "get_session_create"
      }
    },
    "/session/get/{name}": {
      "parameters": [
        {
          "in": "path",
          "name": "name",
          "required": true,
          "schema": {
            "type": "string"
          }
        }
      ],
      "get": {
        "responses": {
          "200": {
            "description": "Success"
          },
          "400": {
            "description": "Expecting a name for the session"
          },
          "500": {
            "description": "Session feature is not enabled"
          }
        },
        "tags": [
          "default"
        ],
        "description": "Return set of matching and non-matching hashes from a session.",
        "operationId": "get_session_matches"
      }
    },
    "/stats/top": {
      "get": {
        "responses": {
          "200": {
            "description": "Success"
          },
          "400": {
            "description": "Public statistics not enabled"
          }
        },
        "tags": [
          "default"
        ],
        "description": "Return the top 100 of most queried values.",
        "operationId": "get_stattop"
      }
    }
  },
  "components": {
    "responses": {
      "MaskError": {
        "description": "When any error occurs on mask"
      },
      "ParseError": {
        "description": "When a mask can't be parsed"
      }
    }
  },
  "tags": [
    {
      "description": "Default namespace",
      "name": "default"
    }
  ]
}
