{
  "openapi": "3.0.1",
  "info": {
    "title": "restful-api.dev",
    "description": "API generated by Swagger Explore",
    "version": "1.0",
    "x-jentic-source-url": "https://api.swaggerhub.com/apis/personal-2ed-382/restful-api.dev/1.0"
  },
  "servers": [
    {
      "url": "https://api.restful-api.dev"
    }
  ],
  "paths": {
    "/objects": {
      "get": {
        "parameters": [],
        "responses": {
          "200": {
            "description": "Generated by Swagger Explore"
          }
        }
      },
      "post": {
        "parameters": [],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "string"
              },
              "examples": {
                "example": {
                  "value": "{\r\n    \"name\": \"Apple MacBook Pro 16\",\r\n    \"data\": {\r\n        \"year\": 2019,\r\n        \"price\": 2049.99,\r\n        \"CPU model\": \"Intel Core i9\",\r\n        \"Hard disk size\": \"1 TB\",\r\n        \"color\": \"silver\"\r\n    }\r\n}"
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Generated by Swagger Explore"
          }
        }
      }
    },
    "/objects/7": {
      "get": {
        "parameters": [],
        "responses": {
          "200": {
            "description": "Generated by Swagger Explore"
          }
        }
      }
    },
    "/objects/ff8081819782e69e019bf8a4f7f16199": {
      "put": {
        "parameters": [],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "string"
              },
              "examples": {
                "example": {
                  "value": "{\r\n    \"name\": \"Apple MacBook Pro 15\",\r\n    \"data\": {\r\n        \"year\": 2019,\r\n        \"price\": 2049.99,\r\n        \"CPU model\": \"Intel Core i9\",\r\n        \"Hard disk size\": \"1 TB\",\r\n        \"color\": \"silver\"\r\n    }\r\n}"
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Generated by Swagger Explore"
          }
        }
      },
      "patch": {
        "parameters": [],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "string"
              },
              "examples": {
                "example": {
                  "value": "{\r\n    \"name\": \"Apple MacBook Pro 17\",\r\n    \"data\": {\r\n        \"year\": 2018\r\n    }\r\n}"
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Generated by Swagger Explore"
          }
        }
      }
    },
    "/objects/ff8081819782e69e019bf8a1dfe46192": {
      "delete": {
        "parameters": [],
        "responses": {
          "200": {
            "description": "Generated by Swagger Explore"
          }
        }
      }
    }
  },
  "components": {
    "securitySchemes": {}
  }
}