{
  "openapi": "3.0.0",
  "info": {
    "title": "AIN360 RESTful APIs",
    "description": "AIN360 RESTful API Documentation",
    "contact": {
      "email": "admin@ain360.com"
    },
    "version": "1.0.0",
    "x-jentic-source-url": "https://api.swaggerhub.com/apis/CHRISTOPH_7/ain360-restful-apis/1.0.0"
  },
  "servers": [
    {
      "url": "http://my-default-host.com",
      "description": "API Server"
    }
  ],
  "paths": {
    "/api/auth/register": {
      "post": {
        "tags": [
          "Authentication"
        ],
        "summary": "Register a new user",
        "description": "Create a new user account with email and password. Returns user details and JWT authentication token.",
        "operationId": "d764dd091cc4494ae0baf360b03319f3",
        "requestBody": {
          "description": "User registration data",
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "required": [
                  "name",
                  "email",
                  "password",
                  "password_confirmation"
                ],
                "properties": {
                  "name": {
                    "description": "Full name of the user",
                    "type": "string",
                    "maxLength": 255,
                    "example": "John Doe"
                  },
                  "email": {
                    "description": "Valid email address (must be unique)",
                    "type": "string",
                    "format": "email",
                    "maxLength": 255,
                    "example": "john@example.com"
                  },
                  "password": {
                    "description": "User password (minimum 6 characters)",
                    "type": "string",
                    "format": "password",
                    "minLength": 6,
                    "example": "password123"
                  },
                  "password_confirmation": {
                    "description": "Password confirmation (must match password)",
                    "type": "string",
                    "format": "password",
                    "minLength": 6,
                    "example": "password123"
                  },
                  "phone": {
                    "description": "Phone number with country code (optional)",
                    "type": "string",
                    "maxLength": 20,
                    "example": "+1234567890",
                    "nullable": true
                  },
                  "country_code": {
                    "description": "ISO 3166-1 alpha-2 country code - 2 uppercase letters (optional)",
                    "type": "string",
                    "maxLength": 2,
                    "minLength": 2,
                    "pattern": "^[A-Z]{2}$",
                    "example": "US",
                    "nullable": true
                  },
                  "status": {
                    "description": "User account status (optional, defaults to 'active')",
                    "type": "string",
                    "default": "active",
                    "enum": [
                      "active",
                      "inactive"
                    ],
                    "example": "active",
                    "nullable": true
                  },
                  "is_super_admin": {
                    "description": "Super admin privileges (optional, defaults to false)",
                    "type": "boolean",
                    "default": false,
                    "example": false,
                    "nullable": true
                  }
                },
                "type": "object"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "User registered successfully",
            "content": {
              "application/json": {
                "schema": {
                  "properties": {
                    "success": {
                      "description": "Request status",
                      "type": "boolean",
                      "example": true
                    },
                    "status_code": {
                      "description": "HTTP status code",
                      "type": "integer",
                      "example": 201
                    },
                    "message": {
                      "description": "Success message",
                      "type": "string",
                      "example": "User registered successfully"
                    },
                    "data": {
                      "description": "Response data",
                      "properties": {
                        "user": {
                          "description": "Registered user information",
                          "properties": {
                            "id": {
                              "description": "User ID",
                              "type": "integer",
                              "format": "int64",
                              "example": 1
                            },
                            "name": {
                              "description": "User's full name",
                              "type": "string",
                              "example": "John Doe"
                            },
                            "email": {
                              "description": "User's email address",
                              "type": "string",
                              "format": "email",
                              "example": "john@example.com"
                            },
                            "phone": {
                              "description": "User's phone number",
                              "type": "string",
                              "example": "+1234567890",
                              "nullable": true
                            },
                            "country_code": {
                              "description": "Country code",
                              "type": "string",
                              "example": "US",
                              "nullable": true
                            },
                            "status": {
                              "description": "Account status",
                              "type": "string",
                              "example": "active"
                            },
                            "is_super_admin": {
                              "description": "Super admin privileges",
                              "type": "boolean",
                              "example": false
                            }
                          },
                          "type": "object"
                        },
                        "token": {
                          "description": "JWT access token",
                          "type": "string",
                          "example": "eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9..."
                        }
                      },
                      "type": "object"
                    }
                  },
                  "type": "object"
                }
              }
            }
          },
          "422": {
            "description": "Validation error",
            "content": {
              "application/json": {
                "schema": {
                  "properties": {
                    "success": {
                      "description": "Request status",
                      "type": "boolean",
                      "example": false
                    },
                    "status_code": {
                      "description": "HTTP status code",
                      "type": "integer",
                      "example": 422
                    },
                    "message": {
                      "description": "Error message",
                      "type": "string",
                      "example": "Validation failed"
                    },
                    "errors": {
                      "description": "Validation errors by field",
                      "properties": {
                        "email": {
                          "type": "array",
                          "items": {
                            "type": "string",
                            "example": "This email is already registered."
                          }
                        },
                        "password": {
                          "type": "array",
                          "items": {
                            "type": "string",
                            "example": "Password confirmation does not match."
                          }
                        }
                      },
                      "type": "object"
                    }
                  },
                  "type": "object"
                }
              }
            }
          }
        }
      }
    },
    "/api/auth/login": {
      "post": {
        "tags": [
          "Authentication"
        ],
        "summary": "Login user",
        "description": "Authenticate user with email and password. Returns user details and JWT access token.",
        "operationId": "8dcb70df1020986038d098cc08d05dae",
        "requestBody": {
          "description": "User login credentials",
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "required": [
                  "email",
                  "password"
                ],
                "properties": {
                  "email": {
                    "description": "User's registered email address",
                    "type": "string",
                    "format": "email",
                    "example": "john@example.com"
                  },
                  "password": {
                    "description": "User's password",
                    "type": "string",
                    "format": "password",
                    "example": "password123"
                  }
                },
                "type": "object"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Login successful",
            "content": {
              "application/json": {
                "schema": {
                  "properties": {
                    "success": {
                      "description": "Request status",
                      "type": "boolean",
                      "example": true
                    },
                    "status_code": {
                      "description": "HTTP status code",
                      "type": "integer",
                      "example": 200
                    },
                    "message": {
                      "description": "Success message",
                      "type": "string",
                      "example": "Login successful"
                    },
                    "data": {
                      "description": "Response data",
                      "properties": {
                        "user": {
                          "description": "Authenticated user information",
                          "properties": {
                            "id": {
                              "description": "User ID",
                              "type": "integer",
                              "format": "int64",
                              "example": 1
                            },
                            "name": {
                              "description": "User's full name",
                              "type": "string",
                              "example": "John Doe"
                            },
                            "email": {
                              "description": "User's email address",
                              "type": "string",
                              "format": "email",
                              "example": "john@example.com"
                            },
                            "phone": {
                              "description": "User's phone number",
                              "type": "string",
                              "example": "+1234567890",
                              "nullable": true
                            },
                            "country_code": {
                              "description": "Country code",
                              "type": "string",
                              "example": "US",
                              "nullable": true
                            },
                            "status": {
                              "description": "Account status",
                              "type": "string",
                              "example": "active"
                            },
                            "is_super_admin": {
                              "description": "Super admin privileges",
                              "type": "boolean",
                              "example": false
                            }
                          },
                          "type": "object"
                        },
                        "token": {
                          "description": "JWT access token for authentication",
                          "type": "string",
                          "example": "eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9..."
                        }
                      },
                      "type": "object"
                    }
                  },
                  "type": "object"
                }
              }
            }
          },
          "401": {
            "description": "Invalid credentials",
            "content": {
              "application/json": {
                "schema": {
                  "properties": {
                    "success": {
                      "description": "Request status",
                      "type": "boolean",
                      "example": false
                    },
                    "status_code": {
                      "description": "HTTP status code",
                      "type": "integer",
                      "example": 401
                    },
                    "message": {
                      "description": "Error message",
                      "type": "string",
                      "example": "Invalid credentials"
                    }
                  },
                  "type": "object"
                }
              }
            }
          },
          "422": {
            "description": "Validation error",
            "content": {
              "application/json": {
                "schema": {
                  "properties": {
                    "success": {
                      "description": "Request status",
                      "type": "boolean",
                      "example": false
                    },
                    "status_code": {
                      "description": "HTTP status code",
                      "type": "integer",
                      "example": 422
                    },
                    "message": {
                      "description": "Error message",
                      "type": "string",
                      "example": "Validation failed"
                    },
                    "errors": {
                      "description": "Validation errors by field",
                      "properties": {
                        "email": {
                          "type": "array",
                          "items": {
                            "type": "string",
                            "example": "The email field is required."
                          }
                        }
                      },
                      "type": "object"
                    }
                  },
                  "type": "object"
                }
              }
            }
          }
        }
      }
    },
    "/api/auth/logout": {
      "post": {
        "tags": [
          "Authentication"
        ],
        "summary": "Logout user",
        "description": "Invalidate the current JWT token. User must be authenticated to logout.",
        "operationId": "69281b12abb272c76871f19cb17ca563",
        "responses": {
          "200": {
            "description": "Logout successful",
            "content": {
              "application/json": {
                "schema": {
                  "properties": {
                    "success": {
                      "description": "Request status",
                      "type": "boolean",
                      "example": true
                    },
                    "status_code": {
                      "description": "HTTP status code",
                      "type": "integer",
                      "example": 200
                    },
                    "message": {
                      "description": "Success message",
                      "type": "string",
                      "example": "Logout successful"
                    }
                  },
                  "type": "object"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized - Invalid or missing token",
            "content": {
              "application/json": {
                "schema": {
                  "properties": {
                    "success": {
                      "description": "Request status",
                      "type": "boolean",
                      "example": false
                    },
                    "status_code": {
                      "description": "HTTP status code",
                      "type": "integer",
                      "example": 401
                    },
                    "message": {
                      "description": "Error message",
                      "type": "string",
                      "example": "Unauthenticated."
                    }
                  },
                  "type": "object"
                }
              }
            }
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ]
      }
    },
    "/api/auth/refresh": {
      "post": {
        "tags": [
          "Authentication"
        ],
        "summary": "Refresh JWT token",
        "description": "Generate a new JWT access token using the current token. The old token will be invalidated.",
        "operationId": "b2eae7a8032954d25b46c7ec6f489c68",
        "responses": {
          "200": {
            "description": "Token refreshed successfully",
            "content": {
              "application/json": {
                "schema": {
                  "properties": {
                    "success": {
                      "description": "Request status",
                      "type": "boolean",
                      "example": true
                    },
                    "status_code": {
                      "description": "HTTP status code",
                      "type": "integer",
                      "example": 200
                    },
                    "message": {
                      "description": "Success message",
                      "type": "string",
                      "example": "Token refreshed successfully"
                    },
                    "data": {
                      "description": "Response data",
                      "properties": {
                        "token": {
                          "description": "New JWT access token",
                          "type": "string",
                          "example": "eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9..."
                        }
                      },
                      "type": "object"
                    }
                  },
                  "type": "object"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized - Invalid or expired token",
            "content": {
              "application/json": {
                "schema": {
                  "properties": {
                    "success": {
                      "description": "Request status",
                      "type": "boolean",
                      "example": false
                    },
                    "status_code": {
                      "description": "HTTP status code",
                      "type": "integer",
                      "example": 401
                    },
                    "message": {
                      "description": "Error message",
                      "type": "string",
                      "example": "Unauthenticated."
                    }
                  },
                  "type": "object"
                }
              }
            }
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ]
      }
    },
    "/api/auth/profile": {
      "get": {
        "tags": [
          "Authentication"
        ],
        "summary": "Get user profile",
        "description": "Retrieve the authenticated user's complete profile information including all account details",
        "operationId": "6d010834430854e4df1a215e5771aa96",
        "responses": {
          "200": {
            "description": "User profile retrieved successfully",
            "content": {
              "application/json": {
                "schema": {
                  "properties": {
                    "success": {
                      "description": "Request status",
                      "type": "boolean",
                      "example": true
                    },
                    "status_code": {
                      "description": "HTTP status code",
                      "type": "integer",
                      "example": 200
                    },
                    "message": {
                      "description": "Success message",
                      "type": "string",
                      "example": "Profile retrieved successfully"
                    },
                    "data": {
                      "description": "Response data",
                      "properties": {
                        "user": {
                          "description": "Complete user profile information",
                          "properties": {
                            "id": {
                              "description": "Unique user identifier",
                              "type": "integer",
                              "format": "int64",
                              "example": 1
                            },
                            "name": {
                              "description": "User's full name",
                              "type": "string",
                              "example": "John Doe"
                            },
                            "email": {
                              "description": "User's email address",
                              "type": "string",
                              "format": "email",
                              "example": "john@example.com"
                            },
                            "phone": {
                              "description": "User's phone number",
                              "type": "string",
                              "example": "+1234567890",
                              "nullable": true
                            },
                            "country_code": {
                              "description": "ISO 3166-1 alpha-2 country code",
                              "type": "string",
                              "example": "US",
                              "nullable": true
                            },
                            "status": {
                              "description": "Account status",
                              "type": "string",
                              "enum": [
                                "active",
                                "inactive"
                              ],
                              "example": "active"
                            },
                            "is_super_admin": {
                              "description": "Super admin privileges",
                              "type": "boolean",
                              "example": false
                            },
                            "email_verified_at": {
                              "description": "Email verification timestamp",
                              "type": "string",
                              "format": "date-time",
                              "example": "2024-01-01T00:00:00.000000Z",
                              "nullable": true
                            },
                            "created_at": {
                              "description": "Account creation timestamp",
                              "type": "string",
                              "format": "date-time",
                              "example": "2024-01-01T00:00:00.000000Z"
                            },
                            "updated_at": {
                              "description": "Last update timestamp",
                              "type": "string",
                              "format": "date-time",
                              "example": "2024-01-01T00:00:00.000000Z"
                            }
                          },
                          "type": "object"
                        }
                      },
                      "type": "object"
                    }
                  },
                  "type": "object"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized - Invalid or missing token",
            "content": {
              "application/json": {
                "schema": {
                  "properties": {
                    "success": {
                      "description": "Request status",
                      "type": "boolean",
                      "example": false
                    },
                    "status_code": {
                      "description": "HTTP status code",
                      "type": "integer",
                      "example": 401
                    },
                    "message": {
                      "description": "Error message",
                      "type": "string",
                      "example": "Unauthenticated."
                    }
                  },
                  "type": "object"
                }
              }
            }
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ]
      }
    },
    "/up": {
      "get": {
        "tags": [
          "Health"
        ],
        "summary": "Health check endpoint",
        "description": "Returns the application health status",
        "operationId": "0845a17f8b6d153e25df21a4711bdc20",
        "responses": {
          "200": {
            "description": "Application is healthy"
          }
        }
      }
    }
  },
  "components": {
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "Enter your JWT token",
        "bearerFormat": "JWT",
        "scheme": "bearer"
      }
    }
  },
  "tags": [
    {
      "name": "Authentication",
      "description": "Authentication"
    },
    {
      "name": "Health",
      "description": "Health"
    }
  ]
}