{
  "openapi": "3.0.1",
  "info": {
    "title": "Cons\u00f3rcios API",
    "version": "3.0.0",
    "description": "API para gerenciar os servi\u00e7os de cons\u00f3rcios do parceiros do Banco do Brasil S.A.\n\nAten\u00e7\u00e3o, antes de enviar um objeto JSON como payload na requisi\u00e7\u00e3o, lembrar de validar os campos deste conforme os seus tipos de dados e conforme o padr\u00e3o JSON oficial evitando objeto JSON inv\u00e1lido, qual retornar\u00e1 um erro.",
    "contact": {
      "name": "Banco do Brasil S.A. - BB for Developers",
      "url": "https://developers.bb.com.br"
    },
    "x-jentic-source-url": "https://api.swaggerhub.com/apis/FELIPEGOMESUDI_1/consorcios-api/3.0.0"
  },
  "servers": [
    {
      "url": "https://api.externo.hm.bb.com.br/consorcios/v3",
      "description": "Homologa\u00e7\u00e3o"
    },
    {
      "url": "https://api.bb.com.br/consorcios/v3",
      "description": "Produ\u00e7\u00e3o"
    }
  ],
  "paths": {
    "/grupos-cotas": {
      "get": {
        "tags": [
          "consulta"
        ],
        "parameters": [
          {
            "name": "Authorization",
            "description": "\u00c9 o valor do token de acesso fornecido pelo OAuth.",
            "schema": {
              "type": "string"
            },
            "in": "header",
            "required": true
          },
          {
            "name": "gw-dev-app-key",
            "description": "\u00c9 a chave de acesso do aplicativo do desenvolvedor obtida no Portal do Desenvolvedor. Essa chave ser\u00e1 usada para identifica\u00e7\u00e3o do aplicativo.",
            "schema": {
              "type": "string"
            },
            "in": "query",
            "required": true
          },
          {
            "name": "numeroInscricaoCliente",
            "description": "Identifica o Cpf ou Cnpj do consorciado no parceiro",
            "schema": {
              "format": "int64",
              "maximum": 99999999999999,
              "minimum": 0,
              "type": "integer"
            },
            "in": "query",
            "required": true
          },
          {
            "name": "tipoInscricaoCliente",
            "description": "Identifica o tipo de pessoa se f\u00edsica ou jur\u00eddica:F-F\u00edsica ou J-Jur\u00eddica",
            "schema": {
              "maxLength": 1,
              "minLength": 1,
              "type": "string",
              "example": "F"
            },
            "in": "query",
            "required": true
          },
          {
            "name": "codigoFuncionalidade",
            "description": "Indica o tipo de consulta solicitado pelo cliente",
            "schema": {
              "maximum": 9999,
              "minimum": 0,
              "type": "integer"
            },
            "in": "query",
            "required": true
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "quantidadeOcorrencia": {
                      "format": "int32",
                      "description": "Indica a quatidade de ocorrencias presente no campo \"listaOcorrencia\".",
                      "maximum": 100,
                      "minimum": 0,
                      "type": "integer"
                    },
                    "listaOcorrencia": {
                      "description": "Refere-se a uma lista de ocorrencias.",
                      "maxItems": 100,
                      "minItems": 0,
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "grupo": {
                            "format": "int32",
                            "description": "C\u00f3digo de grupo a que pertence o consorciado/parceiro.",
                            "maximum": 999999,
                            "minimum": 1,
                            "type": "integer"
                          },
                          "cota": {
                            "format": "int32",
                            "description": "N\u00famero da cota que pertence ao consorciado/parceiro.",
                            "maximum": 9999,
                            "minimum": 1,
                            "type": "integer"
                          }
                        }
                      }
                    }
                  }
                }
              }
            },
            "description": "SUCESSO. A requisi\u00e7\u00e3o foi atendida pelo servidor."
          },
          "400": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Erro"
                }
              }
            },
            "description": "REQUISI\u00c7\u00c3O INV\u00c1LIDA. O servidor n\u00e3o p\u00f4de processar a requisi\u00e7\u00e3o devido a uma sintaxe de requisi\u00e7\u00e3o malformada, estrutura da mensagem da requisi\u00e7\u00e3o inv\u00e1lida ou valores inv\u00e1lidos."
          },
          "401": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorOAuthUnauthorized"
                }
              }
            },
            "description": "N\u00c3O AUTORIZADO. A requisi\u00e7\u00e3o requer autentica\u00e7\u00e3o do usu\u00e1rio."
          },
          "403": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Erro"
                }
              }
            },
            "description": "NEGADO. O servidor entendeu a requisi\u00e7\u00e3o, por\u00e9m n\u00e3o a autorizou."
          },
          "404": {
            "description": "N\u00c3O ENCONTRADO. O servidor n\u00e3o conseguiu encontrar o recurso solicitado."
          },
          "500": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Erro"
                }
              }
            },
            "description": "ERRO INTERNO. O servidor encontrou uma condi\u00e7\u00e3o inesperada que o impediu de atender a requisi\u00e7\u00e3o."
          }
        },
        "security": [
          {
            "OAuth2-ClientCredentials": [
              "consorcios.info"
            ]
          }
        ],
        "operationId": "get-grupos-cotas",
        "summary": "Listar grupos e cotas por funcionalidade",
        "description": "Lista grupos e cotas que atendem a funcionalidade escolhida"
      }
    },
    "/grupos/{grupo}": {
      "get": {
        "tags": [
          "consulta"
        ],
        "parameters": [
          {
            "name": "gw-dev-app-key",
            "description": "\u00c9 a chave de acesso do aplicativo do desenvolvedor obtida no Portal do Desenvolvedor. Essa chave ser\u00e1 usada para identifica\u00e7\u00e3o do aplicativo.",
            "schema": {
              "type": "string",
              "example": "0021239456d80136bebf005056891bed"
            },
            "in": "query",
            "required": true
          },
          {
            "name": "Authorization",
            "description": "\u00c9 o valor do token de acesso fornecido pelo OAuth.",
            "schema": {
              "type": "string",
              "example": "Bearer <acess_token>"
            },
            "in": "header",
            "required": true
          },
          {
            "name": "grupo",
            "description": "Identifica o c\u00f3digo do grupo a que pertence o consorciado no parceiro",
            "schema": {
              "maximum": 999999,
              "minimum": 1,
              "type": "integer",
              "example": 1389
            },
            "in": "path",
            "required": true
          },
          {
            "name": "numeroInscricaoCliente",
            "description": "Identifica o Cpf ou Cnpj do consorciado no parceiro.",
            "schema": {
              "format": "int64",
              "maximum": 99999999999999,
              "minimum": 1,
              "type": "integer",
              "example": 89240965084
            },
            "in": "query",
            "required": true
          },
          {
            "name": "tipoInscricaoCliente",
            "description": "Identifica o tipo de pessoa, se f\u00edsica ou jur\u00eddica. Dom\u00ednio: F - F\u00edsica ou J - Jur\u00eddica",
            "schema": {
              "maxLength": 1,
              "minLength": 1,
              "enum": [
                "F",
                "J"
              ],
              "type": "string",
              "example": "F"
            },
            "in": "query",
            "required": true
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Grupo"
                },
                "examples": {
                  "example-1": {
                    "value": {
                      "codigoGrupo": 1200,
                      "codigoTipoGrupo": "AU",
                      "tipoGrupo": "AUTOM\u00d3VEIS",
                      "prazo": 36,
                      "qtdMaxParticipantes": 4950,
                      "dataPrimeiraAssembleia": "23.12.2018",
                      "dataEncerramentoGrupo": "21.11.2021",
                      "legislacao": "Circ.BaCen 3.432/09",
                      "tipoSorteio": "LOTERIA FEDERAL",
                      "multa": 2,
                      "juros": 1,
                      "planoSeguro": "PRESTAMISTA SERVICOS",
                      "caracteristicaGrupo": "SERVICOS (36 MESES) - R$ 5.000,00 A R$ 10.000,00",
                      "dataDisponibilidadeInicio": "31.08.2018",
                      "valorDisponivelInicio": 2904199.5,
                      "caixa": 0,
                      "depositoBancario": 0,
                      "aplicacaoFinanceira": 0,
                      "chequeCobranca": 0,
                      "aplicacaoFinanceiraGrupo": 422662.37,
                      "aplicacaoFinanceiraVinculada": 2481537.13,
                      "outroValorInicio": 0,
                      "recursoColeta": 277288.8,
                      "contribuicaoAquisicaoBem": 210392.32,
                      "taxaAdministracaoRecurso": 44294.77,
                      "contribuicaoFundoReserva": 9428.83,
                      "rendimentoValorAplicacaoFinanceira": 11973.41,
                      "multaJuroMora": 1024.24,
                      "premioSeguro": 175.23,
                      "custaJudicial": 0,
                      "reembolsoDespesaRegistro": 0,
                      "valorOutrosRecursos": 0,
                      "recursoUtilizado": 207532.18,
                      "aquisicaoBem": 151923.76,
                      "taxaAdministracao": 44365.16,
                      "multaJuroMoraRecebida": 512.2,
                      "premioSeguroRecebido": 0,
                      "custaJudicialRecebida": 0,
                      "devolucaoConsorciadoDesligado": 0,
                      "despesaRegistroContrato": 0,
                      "rendimentoPago": 0,
                      "recurso": 10731.06,
                      "dataDisponivelFinal": "30.09.2018",
                      "valorDisponivelFinal": 2973956.12,
                      "caixaFinal": 0,
                      "depositoBancarioFinal": 108.48,
                      "aplicacaoFinanceiraFinal": 0,
                      "chequeCobrancaFinal": 0,
                      "aplicacaoFinanceiraGrupoFinal": 635185.22,
                      "aplicacaoFinanceiraVinculadaFinal": 2338662.42,
                      "outroValorFinal": 0
                    }
                  }
                }
              }
            },
            "description": "SUCESSO. A requisi\u00e7\u00e3o foi atendida pelo servidor."
          },
          "400": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Erro"
                },
                "examples": {
                  "example-1": {
                    "value": {
                      "codigo": "9999999",
                      "versao": "1",
                      "mensagem": "Erros do tipo 4XX s\u00e3o erros de chamada de responsabilidade de quem est\u00e1 acionando este recurso. Erros do tipo 5XX s\u00e3o erros internos no BB.",
                      "ocorrencia": "2AzBShK/zFE=C0700051620C"
                    }
                  }
                }
              }
            },
            "description": "REQUISI\u00c7\u00c3O INV\u00c1LIDA. O servidor n\u00e3o p\u00f4de processar a requisi\u00e7\u00e3o devido a uma sintaxe de requisi\u00e7\u00e3o malformada, estrutura da mensagem da requisi\u00e7\u00e3o inv\u00e1lida ou valores inv\u00e1lidos."
          },
          "401": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorOAuthUnauthorized"
                },
                "examples": {
                  "example-1": {
                    "value": {
                      "statusCode": 0,
                      "error": "string",
                      "message": "string",
                      "attributes": {
                        "error": "string"
                      }
                    }
                  }
                }
              }
            },
            "description": "N\u00c3O AUTORIZADO. A requisi\u00e7\u00e3o requer autentica\u00e7\u00e3o do usu\u00e1rio."
          },
          "403": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Erro"
                },
                "examples": {
                  "example-1": {
                    "value": {
                      "codigo": "9999999",
                      "versao": "1",
                      "mensagem": "Erros do tipo 4XX s\u00e3o erros de chamada de responsabilidade de quem est\u00e1 acionando este recurso. Erros do tipo 5XX s\u00e3o erros internos no BB.",
                      "ocorrencia": "2AzBShK/zFE=C0700051620C"
                    }
                  }
                }
              }
            },
            "description": "NEGADO. O servidor entendeu a requisi\u00e7\u00e3o, por\u00e9m n\u00e3o a autorizou."
          },
          "404": {
            "description": "N\u00c3O ENCONTRADO. O servidor n\u00e3o conseguiu encontrar o recurso solicitado."
          },
          "500": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Erro"
                },
                "examples": {
                  "example-1": {
                    "value": {
                      "codigo": "9999999",
                      "versao": "1",
                      "mensagem": "Erros do tipo 4XX s\u00e3o erros de chamada de responsabilidade de quem est\u00e1 acionando este recurso. Erros do tipo 5XX s\u00e3o erros internos no BB.",
                      "ocorrencia": "2AzBShK/zFE=C0700051620C"
                    }
                  }
                }
              }
            },
            "description": "ERRO INTERNO. O servidor encontrou uma condi\u00e7\u00e3o inesperada que o impediu de atender a requisi\u00e7\u00e3o."
          }
        },
        "security": [
          {
            "OAuth2-ClientCredentials": [
              "consorcios.info"
            ]
          }
        ],
        "operationId": "get-grupos",
        "summary": "Consultar detalhes de um grupo de cons\u00f3rcio",
        "description": "Realiza consulta dos detalhes de um grupo de cons\u00f3rcio."
      },
      "parameters": [
        {
          "name": "grupo",
          "description": "Identifica o c\u00f3digo do grupo a que pertence o consorciado no parceiro.",
          "schema": {
            "type": "integer"
          },
          "in": "path",
          "required": true
        }
      ]
    },
    "/grupos/{grupo}/cotas/{cota}": {
      "get": {
        "tags": [
          "consulta"
        ],
        "parameters": [
          {
            "name": "Authorization",
            "description": "\u00c9 o valor do token de acesso fornecido pelo OAuth.",
            "schema": {
              "type": "string"
            },
            "in": "header",
            "required": true
          },
          {
            "name": "gw-dev-app-key",
            "description": "\u00c9 a chave de acesso do aplicativo do desenvolvedor obtida no Portal do Desenvolvedor. Essa chave ser\u00e1 usada para identifica\u00e7\u00e3o do aplicativo.",
            "schema": {
              "type": "string"
            },
            "in": "query",
            "required": true
          },
          {
            "name": "numeroInscricaoCliente",
            "description": "Identifica o Cpf ou Cnpj do consorciado no parceiro",
            "schema": {
              "format": "int64",
              "maximum": 99999999999999,
              "minimum": 0,
              "type": "integer"
            },
            "in": "query",
            "required": true
          },
          {
            "name": "tipoInscricaoCliente",
            "description": "Identifica o tipo de pessoa se f\u00edsica ou jur\u00eddica:F-F\u00edsica ou J-Jur\u00eddica",
            "schema": {
              "maxLength": 1,
              "minLength": 1,
              "type": "string",
              "example": "F"
            },
            "in": "query",
            "required": true
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "required": [
                    "codigoGrupo",
                    "numeroCota",
                    "codigoBem",
                    "textoBem",
                    "valorBem",
                    "textoEstadoCobranca",
                    "numeroProposta",
                    "codigoEstadoCota",
                    "textoEstadoCota",
                    "codigoAgenciaDebito",
                    "numeroContaCorrenteDebito",
                    "valorCreditoDisponivel",
                    "dataProximoAssembleia",
                    "quantidadeParcelaContratado",
                    "quantidadeParcelaPago",
                    "valorSaldoDevedor",
                    "percentualSaldoDevedor",
                    "valorParcela",
                    "percentualTaxaAdministracao",
                    "percentualAdministracaoAntecipado",
                    "quantidadeMesAdministracaoAntecipado",
                    "percentualFundoReserva",
                    "valorMensalSeguroVida",
                    "valorSeguroVidaTotal",
                    "percentualSeguroVidaTotal",
                    "dataContemplacao",
                    "indicadorInadimplencia"
                  ],
                  "type": "object",
                  "properties": {
                    "codigoGrupo": {
                      "format": "int32",
                      "description": "C\u00f3digo de grupo a que pertence o consorciado/parceiro.",
                      "maximum": 999999,
                      "minimum": 1,
                      "type": "integer"
                    },
                    "numeroCota": {
                      "format": "int32",
                      "description": "N\u00famero da cota do consorciado.",
                      "maximum": 9999,
                      "minimum": 1,
                      "type": "integer"
                    },
                    "codigoBem": {
                      "format": "int32",
                      "description": "C\u00f3digo do tipo de Bem do consorciado.",
                      "maximum": 9999,
                      "minimum": 1,
                      "type": "integer"
                    },
                    "textoBem": {
                      "description": "Identifica\u00e7\u00e3o do Bem do consorciado.",
                      "maxLength": 30,
                      "minLength": 0,
                      "type": "string"
                    },
                    "valorBem": {
                      "format": "double",
                      "description": "Valor do Bem do consorciado.",
                      "type": "number"
                    },
                    "textoEstadoCobranca": {
                      "description": "Identifica\u00e7\u00e3o do Estado em que se encontra a cobran\u00e7a.",
                      "maxLength": 15,
                      "minLength": 0,
                      "type": "string"
                    },
                    "numeroProposta": {
                      "format": "int32",
                      "description": "N\u00famero de identifica\u00e7\u00e3o da proposta do consorciado.",
                      "maximum": 999999999,
                      "minimum": 1,
                      "type": "integer"
                    },
                    "codigoEstadoCota": {
                      "format": "int32",
                      "description": "C\u00f3digo do estado da Cota.",
                      "maximum": 1,
                      "minimum": 1,
                      "type": "integer"
                    },
                    "textoEstadoCota": {
                      "description": "Identifica\u00e7\u00e3o do estado da Cota.",
                      "maxLength": 20,
                      "minLength": 0,
                      "type": "string"
                    },
                    "codigoAgenciaDebito": {
                      "format": "int32",
                      "description": "Identifica\u00e7\u00e3o da Ag\u00eancia de d\u00e9bito.",
                      "maximum": 9999,
                      "minimum": 1,
                      "type": "integer"
                    },
                    "numeroContaCorrenteDebito": {
                      "format": "int64",
                      "description": "N\u00famero da conta corrente de d\u00e9bito.",
                      "maximum": 99999999999,
                      "minimum": 1,
                      "type": "integer"
                    },
                    "valorCreditoDisponivel": {
                      "format": "double",
                      "description": "Valor dispon\u00edvel do cr\u00e9dito",
                      "type": "number"
                    },
                    "dataProximoAssembleia": {
                      "description": "Data da pr\u00f3xima assembl\u00e9ia.",
                      "maxLength": 10,
                      "minLength": 0,
                      "type": "string"
                    },
                    "quantidadeParcelaContratado": {
                      "format": "int32",
                      "description": "Quantidade contratada de parcelas.",
                      "maximum": 9999,
                      "minimum": 1,
                      "type": "integer"
                    },
                    "quantidadeParcelaPago": {
                      "format": "int32",
                      "description": "Quantidade de parcelas pagas.",
                      "maximum": 9999,
                      "minimum": 1,
                      "type": "integer"
                    },
                    "valorSaldoDevedor": {
                      "format": "double",
                      "description": "Valor do saldo devedor.",
                      "type": "number"
                    },
                    "percentualSaldoDevedor": {
                      "format": "double",
                      "description": "Percentual do saldo devedor.",
                      "type": "number"
                    },
                    "valorParcela": {
                      "format": "double",
                      "description": "Valor da parcela.",
                      "type": "number"
                    },
                    "percentualTaxaAdministracao": {
                      "format": "double",
                      "description": "Percentual da taxa de administra\u00e7\u00e3o.",
                      "type": "number"
                    },
                    "percentualAdministracaoAntecipado": {
                      "format": "double",
                      "description": "Valor percentual antecipado da administra\u00e7\u00e3o.",
                      "type": "number"
                    },
                    "quantidadeMesAdministracaoAntecipado": {
                      "format": "int32",
                      "description": "Quantidade de meses antecipado.",
                      "maximum": 9999,
                      "minimum": 1,
                      "type": "integer"
                    },
                    "percentualFundoReserva": {
                      "format": "float",
                      "description": "Percentual do fundo de reserva.",
                      "type": "number"
                    },
                    "valorMensalSeguroVida": {
                      "format": "double",
                      "description": "Valor mensal do seguro de vida.",
                      "type": "number"
                    },
                    "valorSeguroVidaTotal": {
                      "format": "double",
                      "description": "Valor total do seguro de vida.",
                      "type": "number"
                    },
                    "percentualSeguroVidaTotal": {
                      "format": "float",
                      "description": "Percentual total do seguro de vida.",
                      "type": "number"
                    },
                    "dataContemplacao": {
                      "format": "string",
                      "description": "Data da Contempla\u00e7\u00e3o.",
                      "type": "string",
                      "example": "22.04.2021"
                    },
                    "indicadorInadimplencia": {
                      "format": "string",
                      "description": " Indicador de Inadimpl\u00eancia.",
                      "enum": [
                        "S",
                        "N"
                      ],
                      "type": "string",
                      "example": "N"
                    }
                  }
                }
              }
            },
            "description": "SUCESSO. A requisi\u00e7\u00e3o foi atendida pelo servidor."
          },
          "400": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Erro"
                }
              }
            },
            "description": "REQUISI\u00c7\u00c3O INV\u00c1LIDA. O servidor n\u00e3o p\u00f4de processar a requisi\u00e7\u00e3o devido a uma sintaxe de requisi\u00e7\u00e3o malformada, estrutura da mensagem da requisi\u00e7\u00e3o inv\u00e1lida ou valores inv\u00e1lidos."
          },
          "401": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorOAuthUnauthorized"
                }
              }
            },
            "description": "N\u00c3O AUTORIZADO. A requisi\u00e7\u00e3o requer autentica\u00e7\u00e3o do usu\u00e1rio."
          },
          "403": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Erro"
                }
              }
            },
            "description": "NEGADO. O servidor entendeu a requisi\u00e7\u00e3o, por\u00e9m n\u00e3o a autorizou."
          },
          "404": {
            "description": "N\u00c3O ENCONTRADO. O servidor n\u00e3o conseguiu encontrar o recurso solicitado."
          },
          "500": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Erro"
                }
              }
            },
            "description": "ERRO INTERNO. O servidor encontrou uma condi\u00e7\u00e3o inesperada que o impediu de atender a requisi\u00e7\u00e3o."
          }
        },
        "security": [
          {
            "OAuth2-ClientCredentials": [
              "consorcios.info"
            ]
          }
        ],
        "operationId": "get-grupos-grupo-cotas-cota",
        "summary": "Consultar detalhes de uma cota de cons\u00f3rcio",
        "description": "Realiza consulta dos detalhes de uma cota de cons\u00f3rcio"
      },
      "parameters": [
        {
          "name": "grupo",
          "description": "Identifica o c\u00f3digo do grupo a que pertence o consorciado no parceiro",
          "schema": {
            "maximum": 999999,
            "minimum": 0,
            "type": "integer"
          },
          "in": "path",
          "required": true
        },
        {
          "name": "cota",
          "description": "N\u00famero da cota do consorciado.",
          "schema": {
            "maximum": 9999,
            "minimum": 0,
            "type": "integer"
          },
          "in": "path",
          "required": true
        }
      ]
    },
    "/grupos/{grupo}/assembleias": {
      "get": {
        "tags": [
          "consulta"
        ],
        "parameters": [
          {
            "name": "Authorization",
            "description": "\u00c9 o valor do token de acesso fornecido pelo OAuth.",
            "schema": {
              "type": "string"
            },
            "in": "header",
            "required": true
          },
          {
            "name": "gw-dev-app-key",
            "description": "\u00c9 a chave de acesso do aplicativo do desenvolvedor obtida no Portal do Desenvolvedor. Essa chave ser\u00e1 usada para identifica\u00e7\u00e3o do aplicativo.",
            "schema": {
              "type": "string"
            },
            "in": "query",
            "required": true
          },
          {
            "name": "numeroInscricaoCliente",
            "description": "Identifica o Cpf ou Cnpj do consorciado no parceiro",
            "schema": {
              "maximum": 99999999999999,
              "minimum": 0,
              "type": "integer",
              "example": 89240965084
            },
            "in": "query",
            "required": true
          },
          {
            "name": "tipoInscricaoCliente",
            "description": "Identifica o tipo de pessoa se f\u00edsica ou jur\u00eddica:F-F\u00edsica ou J-Jur\u00eddica",
            "schema": {
              "type": "string",
              "example": "F"
            },
            "in": "query",
            "required": true
          },
          {
            "name": "mesAssembleia",
            "description": "Define o m\u00eas do ano em que ocoreu a assembleia",
            "schema": {
              "maximum": 12,
              "minimum": 1,
              "type": "integer",
              "example": 11
            },
            "in": "query",
            "required": true
          },
          {
            "name": "anoAssembleia",
            "description": "Define o ano em que ocorreu a assembleia",
            "schema": {
              "maximum": 9999,
              "minimum": 0,
              "type": "integer",
              "example": 2021
            },
            "in": "query",
            "required": true
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "nomeCliente": {
                      "description": "Nome do cliente.",
                      "type": "string",
                      "example": "JOS\u00c9 DA SILVA"
                    },
                    "quantidadeContemplados": {
                      "format": "int32",
                      "description": "Quantidade consorciados contemplados na assembleia.",
                      "maximum": 9999,
                      "minimum": 0,
                      "type": "integer",
                      "example": 20
                    },
                    "menorPercentualLance": {
                      "format": "float",
                      "description": "Menor percentual ofertado no lance.",
                      "type": "number",
                      "example": 1.2345
                    },
                    "maiorPercentualLance": {
                      "format": "float",
                      "description": "Maior percentual ofertado no lance.",
                      "type": "number",
                      "example": 61.8851
                    },
                    "descricaoTipoGrupo": {
                      "description": "Descri\u00e7\u00e3o do tipo de grupo de cons\u00f3rcio.",
                      "type": "string",
                      "example": "ELETROELETRONICO"
                    },
                    "descricaoEstadoGrupo": {
                      "description": "Descri\u00e7\u00e3o do estado do grupo de cons\u00f3rcio.",
                      "type": "string",
                      "example": "ANDAMENTO"
                    },
                    "numeroParticipantes": {
                      "format": "int32",
                      "description": "Numero de participantes do grupo.",
                      "maximum": 9999,
                      "minimum": 0,
                      "type": "integer",
                      "example": 50
                    },
                    "totalAssembleias": {
                      "format": "int32",
                      "description": "Total de assembleias do grupo.",
                      "maximum": 9999,
                      "minimum": 0,
                      "type": "integer",
                      "example": 24
                    },
                    "assembleiasRealizadas": {
                      "format": "int32",
                      "description": "N\u00famero de assembleias j\u00e1 realizadas.",
                      "maximum": 9999,
                      "minimum": 0,
                      "type": "integer",
                      "example": 12
                    },
                    "assembleiasRestantes": {
                      "format": "int32",
                      "description": "N\u00famero de assembleias que falta realizar.",
                      "maximum": 9999,
                      "minimum": 0,
                      "type": "integer",
                      "example": 12
                    },
                    "quatidadeContemplacao": {
                      "format": "int32",
                      "description": "N\u00famero que indica a quantidade de ocorr\u00eancias devolvidadas na lista.",
                      "maximum": 9999,
                      "minimum": 0,
                      "type": "integer",
                      "example": 100
                    },
                    "listaContemplacao": {
                      "maxItems": 500,
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "formaContemplacao": {
                            "description": "Descri\u00e7\u00e3o da forma de contempla\u00e7\u00e3o.",
                            "type": "string",
                            "example": "SORTEIO"
                          },
                          "cota": {
                            "format": "int32",
                            "description": "N\u00famero da cota contemplada.",
                            "maximum": 9999,
                            "minimum": 0,
                            "type": "integer",
                            "example": 15
                          },
                          "percentualLance": {
                            "format": "float",
                            "description": "Percentual ofertado no lance.",
                            "type": "number",
                            "example": 85.854
                          }
                        }
                      }
                    }
                  }
                }
              }
            },
            "description": "SUCESSO. A requisi\u00e7\u00e3o foi atendida pelo servidor."
          },
          "400": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Erro"
                }
              }
            },
            "description": "REQUISI\u00c7\u00c3O INV\u00c1LIDA. O servidor n\u00e3o p\u00f4de processar a requisi\u00e7\u00e3o devido a uma sintaxe de requisi\u00e7\u00e3o malformada, estrutura da mensagem da requisi\u00e7\u00e3o inv\u00e1lida ou valores inv\u00e1lidos."
          },
          "401": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorOAuthUnauthorized"
                }
              }
            },
            "description": "N\u00c3O AUTORIZADO. A requisi\u00e7\u00e3o requer autentica\u00e7\u00e3o do usu\u00e1rio."
          },
          "403": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Erro"
                }
              }
            },
            "description": "NEGADO. O servidor entendeu a requisi\u00e7\u00e3o, por\u00e9m n\u00e3o a autorizou."
          },
          "404": {
            "description": "N\u00c3O ENCONTRADO. O servidor n\u00e3o conseguiu encontrar o recurso solicitado."
          },
          "500": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Erro"
                }
              }
            },
            "description": "ERRO INTERNO. O servidor encontrou uma condi\u00e7\u00e3o inesperada que o impediu de atender a requisi\u00e7\u00e3o."
          }
        },
        "security": [
          {
            "OAuth2-ClientCredentials": [
              "consorcios.info"
            ]
          }
        ],
        "operationId": "get-grupos-grupo-assembleias",
        "summary": "Consultar dados de uma assembleia",
        "description": "Consultar dados de uma assembleia informando m\u00eas e ano do evento."
      },
      "parameters": [
        {
          "name": "grupo",
          "description": "Identifica o c\u00f3digo do grupo a que pertence o consorciado no parceiro",
          "schema": {
            "maximum": 9999,
            "type": "integer",
            "example": 1389
          },
          "in": "path",
          "required": true
        }
      ]
    },
    "/clientes/{inscricao}/lances/cotas": {
      "get": {
        "tags": [
          "lance"
        ],
        "parameters": [
          {
            "name": "Authorization",
            "description": "\u00c9 o valor do token de acesso fornecido pelo OAuth.",
            "schema": {
              "type": "string"
            },
            "in": "header",
            "required": true
          },
          {
            "name": "gw-dev-app-key",
            "description": "\u00c9 a chave de acesso do aplicativo do desenvolvedor obtida no Portal do Desenvolvedor. Essa chave ser\u00e1 usada para identifica\u00e7\u00e3o do aplicativo.",
            "schema": {
              "type": "string"
            },
            "in": "query",
            "required": true
          },
          {
            "name": "inscricao",
            "description": "Identifica o Cpf ou Cnpj do consorciado no parceiro",
            "schema": {
              "format": "int64",
              "maximum": 99999999999999,
              "minimum": 0,
              "type": "integer",
              "example": 89240965084
            },
            "in": "path",
            "required": true
          },
          {
            "name": "tipoInscricaoCliente",
            "description": "Identifica o tipo de pessoa se f\u00edsica ou jur\u00eddica:F-F\u00edsica ou J-Jur\u00eddica",
            "schema": {
              "type": "string",
              "example": "F"
            },
            "in": "query",
            "required": true
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "codigoGrupo": {
                        "format": "int32",
                        "description": "C\u00f3digo de grupo a que pertence o consorciado/parceiro",
                        "maximum": 999999999,
                        "minimum": 0,
                        "type": "integer",
                        "example": 1200
                      },
                      "codigoCota": {
                        "format": "int32",
                        "description": "C\u00f3digo de Indentifica\u00e7\u00e3o do n\u00famero da cota",
                        "maximum": 999999999,
                        "minimum": 0,
                        "type": "integer",
                        "example": 852
                      },
                      "codigoTipoGrupo": {
                        "description": "C\u00f3digo do tipo de grupo de cons\u00f3rcio.",
                        "type": "string",
                        "example": "AU"
                      },
                      "codigoBem": {
                        "format": "int32",
                        "description": "C\u00f3digo do bem adquirido.",
                        "maximum": 9999,
                        "minimum": 0,
                        "type": "integer",
                        "example": 591
                      },
                      "descricaoBem": {
                        "description": "Descri\u00e7\u00e3o do bem adquirido.",
                        "type": "string",
                        "example": "ARGO DRIVE 1.0 6V FLEX"
                      },
                      "numeroProposta": {
                        "format": "int32",
                        "description": "N\u00famero da proposta.",
                        "maximum": 999999999,
                        "minimum": 0,
                        "type": "integer",
                        "example": 3934569
                      },
                      "valorBem": {
                        "format": "double",
                        "description": "Valor do Bem adquirido.",
                        "type": "number",
                        "example": 56038
                      },
                      "numeroAssembleia": {
                        "format": "int32",
                        "description": "N\u00famero da Assembleia.",
                        "maximum": 9999,
                        "minimum": 0,
                        "type": "integer",
                        "example": 9
                      },
                      "dataAssembleia": {
                        "description": "Data de realiza\u00e7\u00e3o da assembleia.",
                        "type": "string",
                        "example": "25/08/2021"
                      },
                      "codigoModalidadeGrupo": {
                        "format": "int32",
                        "description": "C\u00f3digo da modalidade do grupo.",
                        "maximum": 9999,
                        "minimum": 0,
                        "type": "integer",
                        "example": 4
                      },
                      "descricaoModalidadeGrupo": {
                        "description": "Descri\u00e7\u00e3o da modalidade do grupo.",
                        "type": "string",
                        "example": "Sorteio e Lance Livre"
                      },
                      "lanceLivre": {
                        "type": "object",
                        "properties": {
                          "valorMinimo": {
                            "format": "double",
                            "description": "Valor do menor lance que gerou contempla\u00e7\u00e3o no grupo de cons\u00f3cio.",
                            "type": "number",
                            "example": 934.54
                          },
                          "valorMaximo": {
                            "format": "double",
                            "description": "Valor do maior lance que gerou contempla\u00e7\u00e3o no grupo de cons\u00f3cio.",
                            "type": "number",
                            "example": 4468.42
                          }
                        }
                      },
                      "lanceFixo": {
                        "type": "object",
                        "properties": {
                          "valorPermitido": {
                            "format": "double",
                            "description": "Valor do menor lance que gerou contempla\u00e7\u00e3o no grupo de cons\u00f3cio.",
                            "type": "number",
                            "example": 0
                          },
                          "percentualPermitido": {
                            "format": "float",
                            "description": "Percentual do lance ofertado.",
                            "type": "number",
                            "example": 0
                          }
                        }
                      },
                      "quantidadeContemplacaoLanceLivre": {
                        "format": "int32",
                        "description": "Quantidade de contempla\u00e7\u00e3o por meio de lance livre.",
                        "maximum": 9999,
                        "minimum": 0,
                        "type": "integer",
                        "example": 3
                      },
                      "valorMenorLanceLivreContemplacao": {
                        "format": "double",
                        "description": "Valor do menor lance livre que gerou contempla\u00e7\u00e3o no grupo de cons\u00f3cio.",
                        "type": "number",
                        "example": 3067.01
                      },
                      "percentualMenorLanceLivreContemplacao": {
                        "format": "float",
                        "description": "Percentual do menor lance livre que gerou contempla\u00e7\u00e3o.",
                        "type": "number",
                        "example": 20.066
                      },
                      "valorMedioLanceContemplacao": {
                        "format": "double",
                        "description": "Valor m\u00e9dio do lance que geram contempla\u00e7\u00e3o no grupo de cons\u00f3cio.",
                        "type": "number",
                        "example": 3166.7
                      },
                      "percentualMedioLanceContemplacao": {
                        "format": "float",
                        "description": "Percentual m\u00e9dio dos lances que geram contempla\u00e7\u00e3o no grupo de cons\u00f3cio, com base no valor do bem.",
                        "type": "number",
                        "example": 152665
                      },
                      "quantidadeContemplacaoLanceFixo": {
                        "format": "int32",
                        "description": "Quantidade de contempla\u00e7\u00e3o por meio de lance fixo.",
                        "maximum": 9999,
                        "minimum": 0,
                        "type": "integer",
                        "example": 3
                      },
                      "quantidadeContemplacaoSorteio": {
                        "format": "int32",
                        "description": "Quantidade de contempla\u00e7\u00e3o por meio de sorteio.",
                        "maximum": 9999,
                        "minimum": 0,
                        "type": "integer",
                        "example": 108
                      }
                    }
                  }
                }
              }
            },
            "description": "SUCESSO. A requisi\u00e7\u00e3o foi atendida pelo servidor."
          },
          "400": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Erro"
                }
              }
            },
            "description": "REQUISI\u00c7\u00c3O INV\u00c1LIDA. O servidor n\u00e3o p\u00f4de processar a requisi\u00e7\u00e3o devido a uma sintaxe de requisi\u00e7\u00e3o malformada, estrutura da mensagem da requisi\u00e7\u00e3o inv\u00e1lida ou valores inv\u00e1lidos."
          },
          "401": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorOAuthUnauthorized"
                }
              }
            },
            "description": "N\u00c3O AUTORIZADO. A requisi\u00e7\u00e3o requer autentica\u00e7\u00e3o do usu\u00e1rio."
          },
          "403": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Erro"
                }
              }
            },
            "description": "NEGADO. O servidor entendeu a requisi\u00e7\u00e3o, por\u00e9m n\u00e3o a autorizou."
          },
          "404": {
            "description": "N\u00c3O ENCONTRADO. O servidor n\u00e3o conseguiu encontrar o recurso solicitado."
          },
          "500": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Erro"
                }
              }
            },
            "description": "ERRO INTERNO. O servidor encontrou uma condi\u00e7\u00e3o inesperada que o impediu de atender a requisi\u00e7\u00e3o."
          }
        },
        "security": [
          {
            "OAuth2-ClientCredentials": [
              "consorcios.info"
            ]
          }
        ],
        "operationId": "get-grupos-grupo-cotas-cota-ofertar-lance",
        "summary": "Lista cota de cons\u00f3rcio para ofertar lance",
        "description": "Realiza busca das uma cotas de cons\u00f3rcio pra ofertar um lance"
      }
    },
    "/clientes/{inscricao}/lances": {
      "post": {
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "codigoTipoGrupo": {
                    "description": "C\u00f3digo do tipo de grupo de cons\u00f3rcio.",
                    "maxLength": 2,
                    "type": "string",
                    "example": "AU"
                  },
                  "codigoGrupo": {
                    "format": "int32",
                    "description": "Codigo do grupo formado para o Cons\u00f3rcio. Recuperar valor atrav\u00e9s do recurso \"Listar Planos Dispon\u00edveis\", campo de sa\u00edda \"grupo.codigoGrupo\".",
                    "maximum": 999999,
                    "minimum": 1,
                    "type": "integer",
                    "example": 1386
                  },
                  "codigoCota": {
                    "format": "int32",
                    "description": "Identifica o n\u00famero da cota a que pertence o consorciado no parceiro",
                    "maximum": 9999,
                    "minimum": 0,
                    "type": "integer",
                    "example": 2427
                  },
                  "numeroAssembleia": {
                    "format": "int32",
                    "description": "N\u00famero da Assembl\u00e9ia.",
                    "maximum": 9999,
                    "minimum": 0,
                    "type": "integer",
                    "example": 9
                  },
                  "codigoBem": {
                    "format": "int32",
                    "description": "Codigo Bem.\n",
                    "maximum": 9999,
                    "minimum": 0,
                    "type": "integer",
                    "example": 591
                  },
                  "descricaoBem": {
                    "description": "Texto Bem.",
                    "maxLength": 30,
                    "type": "string",
                    "example": "ARGO DRIVE 1.0 6V FLEX"
                  },
                  "tipoLance": {
                    "description": "Define o tipo de lance.\n\nDom\u00ednio:\n========\nL \u2013 Livre\nF \u2013 Fixo",
                    "maxLength": 1,
                    "minLength": 1,
                    "enum": [
                      "L",
                      "F"
                    ],
                    "type": "string",
                    "example": "F"
                  },
                  "percentualLanceLivre": {
                    "format": "float",
                    "description": "Percentual do lance ofertado.",
                    "maximum": 999.9999,
                    "minimum": 0,
                    "type": "number",
                    "example": 25.5
                  },
                  "valorLanceLivre": {
                    "format": "double",
                    "description": "Valor Minimo Lance.",
                    "maximum": 9999999999999.99,
                    "minimum": 0,
                    "type": "number",
                    "example": 5500
                  }
                }
              }
            }
          }
        },
        "tags": [
          "lance"
        ],
        "parameters": [
          {
            "name": "Authorization",
            "description": "\u00c9 o valor do token de acesso fornecido pelo OAuth.",
            "schema": {
              "type": "string"
            },
            "in": "header",
            "required": true
          },
          {
            "name": "gw-dev-app-key",
            "description": "\u00c9 a chave de acesso do aplicativo do desenvolvedor obtida no Portal do Desenvolvedor. Essa chave ser\u00e1 usada para identifica\u00e7\u00e3o do aplicativo.",
            "schema": {
              "type": "string"
            },
            "in": "query",
            "required": true
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "indicadorAceite": {
                      "description": "Indicador de aceite pela Newcon.",
                      "maxLength": 1,
                      "type": "string",
                      "example": "S"
                    },
                    "percentualLance": {
                      "format": "float",
                      "description": "Percentual do lance ofertado.",
                      "maximum": 999.9999,
                      "minimum": 0,
                      "type": "number",
                      "example": 25.5
                    },
                    "codigoBem": {
                      "format": "int32",
                      "description": "C\u00f3digo do bem adquirido.",
                      "maximum": 9999,
                      "minimum": 0,
                      "type": "integer",
                      "example": 591
                    },
                    "textoBem": {
                      "description": "Descri\u00e7\u00e3o do bem adquirido.",
                      "maxLength": 30,
                      "type": "string",
                      "example": "ARGO DRIVE 1.0 6V FLEX"
                    },
                    "numeroProposta": {
                      "format": "int64",
                      "description": "N\u00famero da proposta.",
                      "maximum": 9999999999,
                      "minimum": 0,
                      "type": "integer",
                      "example": 3934569
                    },
                    "valorBem": {
                      "format": "double",
                      "description": "Valor do Bem adquirido.",
                      "maximum": 9999999999999.99,
                      "minimum": 0,
                      "type": "number",
                      "example": 56038
                    },
                    "dataAssembleia": {
                      "description": "Data de realiza\u00e7\u00e3o da assembleia.",
                      "maxLength": 10,
                      "type": "string",
                      "example": "25/08/2021"
                    },
                    "textoMensagem": {
                      "description": "Texto de sucesso ou falha na opera\u00e7\u00e3o.",
                      "maxLength": 30,
                      "type": "string",
                      "example": "Lance inclu\u00eddo com sucesso."
                    }
                  }
                }
              }
            },
            "description": "SUCESSO. A requisi\u00e7\u00e3o foi atendida pelo servidor."
          },
          "400": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Erro"
                }
              }
            },
            "description": "REQUISI\u00c7\u00c3O INV\u00c1LIDA. O servidor n\u00e3o p\u00f4de processar a requisi\u00e7\u00e3o devido a uma sintaxe de requisi\u00e7\u00e3o malformada, estrutura da mensagem da requisi\u00e7\u00e3o inv\u00e1lida ou valores inv\u00e1lidos."
          },
          "401": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorOAuthUnauthorized"
                }
              }
            },
            "description": "N\u00c3O AUTORIZADO. A requisi\u00e7\u00e3o requer autentica\u00e7\u00e3o do usu\u00e1rio."
          },
          "403": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Erro"
                }
              }
            },
            "description": "NEGADO. O servidor entendeu a requisi\u00e7\u00e3o, por\u00e9m n\u00e3o a autorizou."
          },
          "404": {
            "description": "N\u00c3O ENCONTRADO. O servidor n\u00e3o conseguiu encontrar o recurso solicitado."
          },
          "500": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Erro"
                }
              }
            },
            "description": "ERRO INTERNO. O servidor encontrou uma condi\u00e7\u00e3o inesperada que o impediu de atender a requisi\u00e7\u00e3o."
          }
        },
        "security": [
          {
            "OAuth2-ClientCredentials": [
              "consorcios.requisicao"
            ]
          }
        ],
        "operationId": "post-grupos-grupo-cotas-cota-ofertar-lance",
        "summary": "Incluir Oferta de Lance para Cota de Cons\u00f3rcio",
        "description": "Efetua a inclus\u00e3o do lance oferecido pelo cliente para uma cota de cons\u00f3rcio."
      },
      "parameters": [
        {
          "name": "inscricao",
          "description": "Identifica o Cpf ou Cnpj do consorciado no parceiro",
          "schema": {
            "format": "int64",
            "maximum": 99999999999999,
            "minimum": 0,
            "type": "integer",
            "example": 89240965084
          },
          "required": true,
          "in": "path"
        }
      ]
    },
    "/grupos/{grupo}/cotas/{cota}/ofertar-lance": {
      "get": {
        "tags": [
          "lance"
        ],
        "deprecated": true,
        "parameters": [
          {
            "name": "Authorization",
            "description": "\u00c9 o valor do token de acesso fornecido pelo OAuth.",
            "schema": {
              "type": "string"
            },
            "in": "header",
            "required": true
          },
          {
            "name": "gw-dev-app-key",
            "description": "\u00c9 a chave de acesso do aplicativo do desenvolvedor obtida no Portal do Desenvolvedor. Essa chave ser\u00e1 usada para identifica\u00e7\u00e3o do aplicativo.",
            "schema": {
              "type": "string"
            },
            "in": "query",
            "required": true
          },
          {
            "name": "numeroInscricaoCliente",
            "description": "Identifica o Cpf ou Cnpj do consorciado no parceiro",
            "schema": {
              "format": "int64",
              "maximum": 99999999999999,
              "minimum": 0,
              "type": "integer",
              "example": 89240965084
            },
            "in": "query",
            "required": true
          },
          {
            "name": "tipoInscricaoCliente",
            "description": "Identifica o tipo de pessoa se f\u00edsica ou jur\u00eddica:F-F\u00edsica ou J-Jur\u00eddica",
            "schema": {
              "type": "string",
              "example": "F"
            },
            "in": "query",
            "required": true
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "codigoBem": {
                      "format": "int32",
                      "description": "C\u00f3digo do bem adquirido.",
                      "maximum": 9999,
                      "minimum": 0,
                      "type": "integer",
                      "example": 591
                    },
                    "descricaoBem": {
                      "description": "Descri\u00e7\u00e3o do bem adquirido.",
                      "type": "string",
                      "example": "ARGO DRIVE 1.0 6V FLEX"
                    },
                    "numeroProposta": {
                      "format": "int32",
                      "description": "N\u00famero da proposta.",
                      "maximum": 999999999,
                      "minimum": 0,
                      "type": "integer",
                      "example": 3934569
                    },
                    "valorBem": {
                      "format": "double",
                      "description": "Valor do Bem adquirido.",
                      "type": "number",
                      "example": 56038
                    },
                    "numeroAssembleia": {
                      "format": "int32",
                      "description": "N\u00famero da Assembleia.",
                      "maximum": 9999,
                      "minimum": 0,
                      "type": "integer",
                      "example": 9
                    },
                    "dataAssembleia": {
                      "description": "Data de realiza\u00e7\u00e3o da assembleia.",
                      "type": "string",
                      "example": "25/08/2021"
                    },
                    "valorMinimoLance": {
                      "format": "double",
                      "description": "Valor m\u00ednimo do lance ofertado.",
                      "type": "number",
                      "example": 5603.8
                    },
                    "valorMaximoLance": {
                      "format": "double",
                      "description": "Valor m\u00e1ximo do lance ofertado.",
                      "type": "number",
                      "example": 58276.4
                    },
                    "valorLanceOfertado": {
                      "format": "double",
                      "description": "Valor do lance ofertado.",
                      "type": "number",
                      "example": 0
                    },
                    "percentualLanceOfertado": {
                      "format": "float",
                      "description": "Percentual do lance ofertado.",
                      "type": "number",
                      "example": 0
                    },
                    "codigoTipoGrupo": {
                      "description": "C\u00f3digo do tipo de grupo de cons\u00f3rcio.",
                      "type": "string",
                      "example": "AU"
                    },
                    "valorMenorLanceContemplacao": {
                      "format": "double",
                      "description": "Valor do menor lance que gerou contempla\u00e7\u00e3o no grupo de cons\u00f3cio.",
                      "type": "number",
                      "example": 3067.01
                    },
                    "percentualMenorLanceContemplacao": {
                      "format": "float",
                      "description": "Percentual do menor lance que gerou contempla\u00e7\u00e3o no grupo de cons\u00f3cio, com base no valor do bem.",
                      "type": "number",
                      "example": 15
                    },
                    "valorMedioLanceContemplacao": {
                      "format": "double",
                      "description": "Valor m\u00e9dio do lance que geram contempla\u00e7\u00e3o no grupo de cons\u00f3cio.",
                      "type": "number",
                      "example": 3166.7
                    },
                    "percentualMedioLanceContemplacao": {
                      "format": "float",
                      "description": "Percentual m\u00e9dio dos lances que geram contempla\u00e7\u00e3o no grupo de cons\u00f3cio, com base no valor do bem.",
                      "type": "number",
                      "example": 152665
                    },
                    "quantidadeContemplacaoLance": {
                      "format": "int32",
                      "description": "Quantidade de contempla\u00e7\u00e3o por meio de lance.",
                      "maximum": 9999,
                      "minimum": 0,
                      "type": "integer",
                      "example": 3
                    },
                    "quantidadeContemplacaoSorteio": {
                      "format": "int32",
                      "description": "Quantidade de contempla\u00e7\u00e3o por meio de sorteio.",
                      "maximum": 9999,
                      "minimum": 0,
                      "type": "integer",
                      "example": 108
                    }
                  }
                }
              }
            },
            "description": "SUCESSO. A requisi\u00e7\u00e3o foi atendida pelo servidor."
          },
          "400": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Erro"
                }
              }
            },
            "description": "REQUISI\u00c7\u00c3O INV\u00c1LIDA. O servidor n\u00e3o p\u00f4de processar a requisi\u00e7\u00e3o devido a uma sintaxe de requisi\u00e7\u00e3o malformada, estrutura da mensagem da requisi\u00e7\u00e3o inv\u00e1lida ou valores inv\u00e1lidos."
          },
          "401": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorOAuthUnauthorized"
                }
              }
            },
            "description": "N\u00c3O AUTORIZADO. A requisi\u00e7\u00e3o requer autentica\u00e7\u00e3o do usu\u00e1rio."
          },
          "403": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Erro"
                }
              }
            },
            "description": "NEGADO. O servidor entendeu a requisi\u00e7\u00e3o, por\u00e9m n\u00e3o a autorizou."
          },
          "404": {
            "description": "N\u00c3O ENCONTRADO. O servidor n\u00e3o conseguiu encontrar o recurso solicitado."
          },
          "500": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Erro"
                }
              }
            },
            "description": "ERRO INTERNO. O servidor encontrou uma condi\u00e7\u00e3o inesperada que o impediu de atender a requisi\u00e7\u00e3o."
          }
        },
        "security": [
          {
            "OAuth2-ClientCredentials": [
              "consorcios.info"
            ]
          }
        ],
        "operationId": "get-grupos-grupo-cotas-cota-ofertar-lance-old",
        "summary": "Detalhar cota de cons\u00f3rcio para ofertar lance",
        "description": "Realiza consulta dos detalhes de uma cota de cons\u00f3rcio pra ofertar um lance"
      },
      "post": {
        "deprecated": true,
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "numeroInscricaoCliente": {
                    "format": "int64",
                    "description": "Define o n\u00famero de inscri\u00e7\u00e3o do cliente; se pessoa f\u00edsica, CPF; se pessoa jur\u00eddica, CNPJ. Num\u00e9rico, deve ser preenchido sem ponto, h\u00edfen, barra, e sem zeros \u00e0 esquerda.",
                    "maximum": 99999999999999,
                    "minimum": 0,
                    "type": "integer",
                    "example": 89240965084
                  },
                  "codigoTipoGrupo": {
                    "description": "C\u00f3digo do tipo de grupo de cons\u00f3rcio.",
                    "maxLength": 2,
                    "type": "string",
                    "example": "AU"
                  },
                  "valorLanceOfertado": {
                    "format": "double",
                    "description": "Valor do Lance que o cliente deseja ofertar.",
                    "maximum": 9999999999999.99,
                    "minimum": 0,
                    "type": "number",
                    "example": 6000
                  },
                  "numeroAssembleia": {
                    "format": "int32",
                    "description": "N\u00famero da Assembl\u00e9ia.",
                    "maximum": 9999,
                    "minimum": 0,
                    "type": "integer",
                    "example": 9
                  },
                  "valorMinimoLance": {
                    "format": "double",
                    "description": "Valor Minimo Lance.",
                    "maximum": 9999999999999.99,
                    "minimum": 0,
                    "type": "number",
                    "example": 5500
                  },
                  "valorMaximoLance": {
                    "format": "double",
                    "description": "Valor Maximo Lance.",
                    "maximum": 9999999999999.99,
                    "minimum": 0,
                    "type": "number",
                    "example": 12500
                  },
                  "codigoBem": {
                    "format": "int32",
                    "description": "Codigo Bem.\n",
                    "maximum": 9999,
                    "minimum": 0,
                    "type": "integer",
                    "example": 591
                  },
                  "descricaoBem": {
                    "description": "Texto Bem.",
                    "maxLength": 30,
                    "type": "string",
                    "example": "ARGO DRIVE 1.0 6V FLEX"
                  }
                }
              }
            }
          }
        },
        "tags": [
          "lance"
        ],
        "parameters": [
          {
            "name": "Authorization",
            "description": "\u00c9 o valor do token de acesso fornecido pelo OAuth.",
            "schema": {
              "type": "string"
            },
            "in": "header",
            "required": true
          },
          {
            "name": "gw-dev-app-key",
            "description": "\u00c9 a chave de acesso do aplicativo do desenvolvedor obtida no Portal do Desenvolvedor. Essa chave ser\u00e1 usada para identifica\u00e7\u00e3o do aplicativo.",
            "schema": {
              "type": "string"
            },
            "in": "query",
            "required": true
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "indicadorAceite": {
                      "description": "Indicador de aceite pela Newcon.",
                      "maxLength": 1,
                      "type": "string",
                      "example": "S"
                    },
                    "percentualLance": {
                      "format": "float",
                      "description": "Percentual do lance ofertado.",
                      "maximum": 999.9999,
                      "minimum": 0,
                      "type": "number",
                      "example": 25.5
                    },
                    "codigoBem": {
                      "format": "int32",
                      "description": "C\u00f3digo do bem adquirido.",
                      "maximum": 9999,
                      "minimum": 0,
                      "type": "integer",
                      "example": 591
                    },
                    "textoBem": {
                      "description": "Descri\u00e7\u00e3o do bem adquirido.",
                      "maxLength": 30,
                      "type": "string",
                      "example": "ARGO DRIVE 1.0 6V FLEX"
                    },
                    "numeroProposta": {
                      "format": "int64",
                      "description": "N\u00famero da proposta.",
                      "maximum": 9999999999,
                      "minimum": 0,
                      "type": "integer",
                      "example": 3934569
                    },
                    "valorBem": {
                      "format": "double",
                      "description": "Valor do Bem adquirido.",
                      "maximum": 9999999999999.99,
                      "minimum": 0,
                      "type": "number",
                      "example": 56038
                    },
                    "dataAssembleia": {
                      "description": "Data de realiza\u00e7\u00e3o da assembleia.",
                      "maxLength": 10,
                      "type": "string",
                      "example": "25/08/2021"
                    },
                    "textoMensagem": {
                      "description": "Texto de sucesso ou falha na opera\u00e7\u00e3o.",
                      "maxLength": 30,
                      "type": "string",
                      "example": "Lance inclu\u00eddo com sucesso."
                    }
                  }
                }
              }
            },
            "description": "SUCESSO. A requisi\u00e7\u00e3o foi atendida pelo servidor."
          },
          "400": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Erro"
                }
              }
            },
            "description": "REQUISI\u00c7\u00c3O INV\u00c1LIDA. O servidor n\u00e3o p\u00f4de processar a requisi\u00e7\u00e3o devido a uma sintaxe de requisi\u00e7\u00e3o malformada, estrutura da mensagem da requisi\u00e7\u00e3o inv\u00e1lida ou valores inv\u00e1lidos."
          },
          "401": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorOAuthUnauthorized"
                }
              }
            },
            "description": "N\u00c3O AUTORIZADO. A requisi\u00e7\u00e3o requer autentica\u00e7\u00e3o do usu\u00e1rio."
          },
          "403": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Erro"
                }
              }
            },
            "description": "NEGADO. O servidor entendeu a requisi\u00e7\u00e3o, por\u00e9m n\u00e3o a autorizou."
          },
          "404": {
            "description": "N\u00c3O ENCONTRADO. O servidor n\u00e3o conseguiu encontrar o recurso solicitado."
          },
          "500": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Erro"
                }
              }
            },
            "description": "ERRO INTERNO. O servidor encontrou uma condi\u00e7\u00e3o inesperada que o impediu de atender a requisi\u00e7\u00e3o."
          }
        },
        "security": [
          {
            "OAuth2-ClientCredentials": [
              "consorcios.requisicao"
            ]
          }
        ],
        "operationId": "post-grupos-grupo-cotas-cota-ofertar-lance-old",
        "summary": "Incluir Oferta de Lance para Cota de Cons\u00f3rcio",
        "description": "Efetua a inclus\u00e3o do lance oferecido pelo cliente para uma cota de cons\u00f3rcio."
      },
      "parameters": [
        {
          "name": "grupo",
          "description": "Identifica o c\u00f3digo do grupo a que pertence o consorciado no parceiro",
          "schema": {
            "maximum": 999999,
            "minimum": 0,
            "type": "integer",
            "example": 1386
          },
          "in": "path",
          "required": true
        },
        {
          "name": "cota",
          "description": "N\u00famero da cota do consorciado.",
          "schema": {
            "maximum": 9999,
            "minimum": 0,
            "type": "integer",
            "example": 853
          },
          "in": "path",
          "required": true
        }
      ]
    },
    "/bens": {
      "get": {
        "tags": [
          "simulacao"
        ],
        "parameters": [
          {
            "name": "gw-dev-app-key",
            "description": "\u00c9 a chave de acesso do aplicativo do desenvolvedor obtida no Portal do Desenvolvedor. Essa chave ser\u00e1 usada para identifica\u00e7\u00e3o do aplicativo.",
            "schema": {
              "type": "string",
              "example": "0021239456d80136bebf005056891bed"
            },
            "in": "query",
            "required": true
          },
          {
            "name": "Authorization",
            "description": "\u00c9 o valor do token de acesso fornecido pelo OAuth.",
            "schema": {
              "type": "string",
              "example": "Bearer <acess_token>"
            },
            "in": "header",
            "required": true
          },
          {
            "name": "tipoGrupo",
            "description": "Codigo  do Tipo do Grupo do Cons\u00f3rcio",
            "schema": {
              "type": "string",
              "example": "AU"
            },
            "in": "query",
            "required": true
          },
          {
            "name": "convenio",
            "description": "Numero do Conv\u00eanio do Consorcio \"define o p\u00fablico alvo do grupo do cons\u00f3rcio\"",
            "schema": {
              "type": "integer",
              "example": 1
            },
            "in": "query",
            "required": true
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "description": "Listas de bens dispon\u00edves.",
                  "type": "object",
                  "properties": {
                    "lista": {
                      "description": "Lista de bens dispon\u00edves.",
                      "maxItems": 200,
                      "minItems": 0,
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/Bem"
                      }
                    }
                  }
                },
                "examples": {
                  "example-1": {
                    "value": {
                      "lista": [
                        {
                          "codigoBem": 0,
                          "textoBem": "string",
                          "codigoProdutor": 0,
                          "textoProdutor": "string",
                          "valorBem": 0
                        }
                      ]
                    }
                  }
                }
              }
            },
            "description": "SUCESSO. A requisi\u00e7\u00e3o foi atendida pelo servidor."
          },
          "400": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Erro"
                },
                "examples": {
                  "example-1": {
                    "value": {
                      "codigo": "9999999",
                      "versao": "1",
                      "mensagem": "Erros do tipo 4XX s\u00e3o erros de chamada de responsabilidade de quem est\u00e1 acionando este recurso. Erros do tipo 5XX s\u00e3o erros internos no BB.",
                      "ocorrencia": "2AzBShK/zFE=C0700051620C"
                    }
                  }
                }
              }
            },
            "description": "REQUISI\u00c7\u00c3O INV\u00c1LIDA. O servidor n\u00e3o p\u00f4de processar a requisi\u00e7\u00e3o devido a uma sintaxe de requisi\u00e7\u00e3o malformada, estrutura da mensagem da requisi\u00e7\u00e3o inv\u00e1lida ou valores inv\u00e1lidos."
          },
          "401": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorOAuthUnauthorized"
                },
                "examples": {
                  "example-1": {
                    "value": {
                      "statusCode": 0,
                      "error": "string",
                      "message": "string",
                      "attributes": {
                        "error": "string"
                      }
                    }
                  }
                }
              }
            },
            "description": "N\u00c3O AUTORIZADO. A requisi\u00e7\u00e3o requer autentica\u00e7\u00e3o do usu\u00e1rio."
          },
          "403": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Erro"
                },
                "examples": {
                  "example-1": {
                    "value": {
                      "codigo": "9999999",
                      "versao": "1",
                      "mensagem": "Erros do tipo 4XX s\u00e3o erros de chamada de responsabilidade de quem est\u00e1 acionando este recurso. Erros do tipo 5XX s\u00e3o erros internos no BB.",
                      "ocorrencia": "2AzBShK/zFE=C0700051620C"
                    }
                  }
                }
              }
            },
            "description": "NEGADO. O servidor entendeu a requisi\u00e7\u00e3o, por\u00e9m n\u00e3o a autorizou."
          },
          "404": {
            "description": "N\u00c3O ENCONTRADO. O servidor n\u00e3o conseguiu encontrar o recurso solicitado."
          },
          "500": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Erro"
                },
                "examples": {
                  "example-1": {
                    "value": {
                      "codigo": "9999999",
                      "versao": "1",
                      "mensagem": "Erros do tipo 4XX s\u00e3o erros de chamada de responsabilidade de quem est\u00e1 acionando este recurso. Erros do tipo 5XX s\u00e3o erros internos no BB.",
                      "ocorrencia": "2AzBShK/zFE=C0700051620C"
                    }
                  }
                }
              }
            },
            "description": "ERRO INTERNO. O servidor encontrou uma condi\u00e7\u00e3o inesperada que o impediu de atender a requisi\u00e7\u00e3o."
          }
        },
        "security": [
          {
            "OAuth2-ClientCredentials": [
              "consorcios.requisicao"
            ]
          }
        ],
        "operationId": "get-bens",
        "summary": "Listar Bens dispon\u00edveis",
        "description": "Listar Bens dispon\u00edveis para Ades\u00e3o por Fabricante Relativas a Cons\u00f3rcio"
      }
    },
    "/listar-planos": {
      "post": {
        "requestBody": {
          "description": "Corpo da requisi\u00e7\u00e3o",
          "content": {
            "application/json": {
              "schema": {
                "required": [
                  "tipoGrupo",
                  "codigoProdutor",
                  "codigoBem",
                  "valorBem"
                ],
                "type": "object",
                "properties": {
                  "tipoGrupo": {
                    "description": "C\u00f3digo do tipo de grupo do qual o cons\u00f3rcio pertence. Recuperar valor atrav\u00e9s do recurso \"Listar Tipos de cons\u00f3rcios para Ades\u00e3o\", campo de sa\u00edda \"tipoGrupo\".",
                    "maxLength": 2,
                    "minLength": 2,
                    "type": "string",
                    "example": "AU"
                  },
                  "codigoProdutor": {
                    "format": "int32",
                    "description": "Codigo Produtor do Bem de Cons\u00f3rcio. Recuperar valor atrav\u00e9s do recurso \"Listar Bens Dispon\u00edveis\", campo de sa\u00edda \"codigoProdutor\".",
                    "maximum": 999,
                    "minimum": 1,
                    "type": "integer",
                    "example": 3
                  },
                  "codigoBem": {
                    "format": "int32",
                    "description": "C\u00f3digo do Bem de cons\u00f3rcio. Recuperar valor atrav\u00e9s do recurso \"Listar Bens Dispon\u00edveis\", campo de sa\u00edda \"codigoBem\".",
                    "maximum": 9999,
                    "minimum": 1,
                    "type": "integer",
                    "example": 591
                  },
                  "valorBem": {
                    "format": "double",
                    "description": "Valor do Bem de cons\u00f3rcio. Recuperar valor atrav\u00e9s do recurso \"Listar Bens Dispon\u00edveis\", campo de sa\u00edda \"valorBem\".",
                    "type": "number",
                    "example": 56564.56
                  },
                  "mesPlanoInicio": {
                    "format": "int32",
                    "description": "Define a quantidade de meses dos cons\u00f3rcios j\u00e1 em andamento. O valor m\u00ednimo pode ser obtido atrav\u00e9s do recurso \"Listar Prazos Dispon\u00edveis\" campo \"mesPlanoInicio\".",
                    "maximum": 999,
                    "minimum": 1,
                    "type": "integer",
                    "example": 1
                  },
                  "mesPlanoFim": {
                    "format": "int32",
                    "description": "Define a quantidade total de meses do cons\u00f3rcio. O valor m\u00e1ximo deste campo pode ser obtido atrav\u00e9s do recurso \"Listar Prazos Dispon\u00edveis\" campo \"mesPlanoFim\".",
                    "maximum": 999,
                    "minimum": 1,
                    "type": "integer",
                    "example": 100
                  },
                  "convenio": {
                    "format": "int32",
                    "description": "N\u00famero do conv\u00eanio que \u00e9 obtido pelo acionamento ao recurso \"Listar Tipos de Cons\u00f3rcios para Ades\u00e3o\"",
                    "maximum": 999999999,
                    "minimum": 1,
                    "type": "integer",
                    "example": 1
                  }
                }
              }
            }
          }
        },
        "tags": [
          "simulacao"
        ],
        "parameters": [
          {
            "name": "Authorization",
            "description": "\u00c9 o valor do token de acesso fornecido pelo OAuth.",
            "schema": {
              "type": "string",
              "example": "Bearer <acess_token>"
            },
            "in": "header",
            "required": true
          },
          {
            "name": "gw-dev-app-key",
            "description": "\u00c9 a chave de acesso do aplicativo do desenvolvedor obtida no Portal do Desenvolvedor. Essa chave ser\u00e1 usada para identifica\u00e7\u00e3o do aplicativo",
            "schema": {
              "type": "string",
              "example": "0021239456d80136bebf005056891bed"
            },
            "in": "query",
            "required": true
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "description": "",
                  "type": "object",
                  "properties": {
                    "planos": {
                      "description": "Lista de planos recuperados.",
                      "maxItems": 200,
                      "minItems": 0,
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "amortizacao": {
                            "description": "Informa\u00e7\u00f5es relativas \u00e0 amortiza\u00e7\u00e3o no plano.",
                            "type": "object",
                            "properties": {
                              "percentualAntecipada": {
                                "format": "float",
                                "description": "Percentual de amortiza\u00e7\u00e3o antecipada.",
                                "type": "number",
                                "example": 0.188
                              },
                              "valorAntecipada": {
                                "format": "double",
                                "description": "Valor de amortiza\u00e7\u00e3o antecipada.",
                                "type": "number",
                                "example": 204.2
                              },
                              "percentualMensal": {
                                "format": "float",
                                "description": "Percentual de amortiza\u00e7\u00e3o mensal.",
                                "type": "number",
                                "example": 1.0251
                              },
                              "valorMensal": {
                                "format": "double",
                                "description": "Valor de amortiza\u00e7\u00e3o mensal.",
                                "type": "number",
                                "example": 371.15
                              }
                            }
                          },
                          "custoTotal": {
                            "description": "Informa\u00e7\u00f5es relativas ao custo total no plano.",
                            "type": "object",
                            "properties": {
                              "percentual": {
                                "format": "float",
                                "description": "Percentual do custo total.",
                                "type": "number",
                                "example": 25.878
                              },
                              "valor": {
                                "format": "double",
                                "description": "Valor do custo total.",
                                "type": "number",
                                "example": 9369.41
                              },
                              "percentualSemSeguro": {
                                "format": "float",
                                "description": "Percentual do custo total sem seguro.",
                                "type": "number",
                                "example": 21.8
                              },
                              "valorSemSeguro": {
                                "format": "double",
                                "description": "Valor do custo total sem seguro.",
                                "type": "number",
                                "example": 7892.91
                              }
                            }
                          },
                          "fundoReserva": {
                            "description": "Informa\u00e7\u00f5es relativas ao fundo de reserva no plano.",
                            "type": "object",
                            "properties": {
                              "percentual": {
                                "format": "float",
                                "description": "Percentual do fundo de reserva.",
                                "type": "number",
                                "example": 3
                              },
                              "percentualMensal": {
                                "format": "float",
                                "description": "Percentual do fundo de reserva mensal.",
                                "type": "number",
                                "example": 0.03
                              },
                              "valorMensal": {
                                "format": "double",
                                "description": "Valor do fundo de reserva mensal.",
                                "type": "number",
                                "example": 10.86
                              }
                            }
                          },
                          "grupo": {
                            "description": "Informa\u00e7\u00f5es relativas ao grupo no plano.",
                            "type": "object",
                            "properties": {
                              "codigoGrupo": {
                                "format": "int32",
                                "description": "C\u00f3digo do grupo.",
                                "maximum": 999999,
                                "minimum": 1,
                                "type": "integer",
                                "example": 1396
                              },
                              "dataPrimeiraAssembleiaParticipacao": {
                                "description": "Data da primeira assembleia de participa\u00e7\u00e3o.",
                                "maxLength": 10,
                                "minLength": 10,
                                "type": "string",
                                "example": "24/03/2021"
                              },
                              "convenio": {
                                "format": "int32",
                                "description": "N\u00famero do conv\u00eanio.",
                                "maximum": 999999999,
                                "minimum": 1,
                                "type": "integer",
                                "example": 17
                              },
                              "planoConsorcio": {
                                "format": "int32",
                                "description": "N\u00famero do plano do cons\u00f3rcio.",
                                "maximum": 9999,
                                "minimum": 1,
                                "type": "integer",
                                "example": 101
                              },
                              "quantidadeAssembleiasRealizadas": {
                                "format": "int32",
                                "description": "Quantidade de assembleias realizadas.",
                                "maximum": 999999,
                                "minimum": 0,
                                "type": "integer",
                                "example": 0
                              },
                              "quantidadeMesesPrazo": {
                                "format": "int32",
                                "description": "Quantidade de meses de prazo.",
                                "maximum": 999,
                                "minimum": 0,
                                "type": "integer",
                                "example": 100
                              },
                              "quantidadeMesesPrazoOriginal": {
                                "format": "int32",
                                "description": "Quantidade de meses de prazo original.",
                                "maximum": 999,
                                "minimum": 0,
                                "type": "integer",
                                "example": 100
                              },
                              "quantidadeVagas": {
                                "format": "int32",
                                "description": "Quantidade de vagas.",
                                "maximum": 9999,
                                "minimum": 0,
                                "type": "integer",
                                "example": 6586
                              },
                              "valorBem": {
                                "format": "double",
                                "description": "Valor do bem.",
                                "type": "number",
                                "example": 36206
                              },
                              "valorParcela": {
                                "format": "double",
                                "description": "Valor da parcela.",
                                "type": "number",
                                "example": 440.99
                              }
                            }
                          },
                          "menorLanceContemplacao": {
                            "description": "Informa\u00e7\u00f5es relativas ao menor lance de contempla\u00e7\u00e3o no plano.",
                            "type": "object",
                            "properties": {
                              "percentual": {
                                "format": "float",
                                "description": "Percentual do menor lance de contempla\u00e7\u00e3o.",
                                "type": "number",
                                "example": 0
                              },
                              "valor": {
                                "format": "double",
                                "description": "Valor do menor lance de contempla\u00e7\u00e3o.",
                                "type": "number",
                                "example": 0
                              }
                            }
                          },
                          "seguro": {
                            "description": "Informa\u00e7\u00f5es relativas ao seguro no plano.",
                            "type": "object",
[...]
