{
  "swagger": "2.0",
  "info": {
    "description": "Api de synchronisation SoWeSign<div><img src='https://storage.sowesign.com/cdn/Images/sws_horizontal_blueblack.png'><div>",
    "version": "3.0.0",
    "title": "Connector V2",
    "x-jentic-source-url": "https://api.swaggerhub.com/apis/SoWeSignConnector/connector-v2-prod/3.0.0"
  },
  "host": "app.sowesign.com",
  "basePath": "/api",
  "schemes": [
    "https"
  ],
  "consumes": [
    "application/json"
  ],
  "produces": [
    "application/json"
  ],
  "paths": {
    "/connectors-v2/internships": {
      "get": {
        "operationId": "getAllInternship",
        "tags": [
          "Internships"
        ],
        "summary": "R\u00e9cup\u00e9rer les stages en entreprise",
        "description": "R\u00e9cup\u00e9rer les stages en entreprise",
        "parameters": [
          {
            "name": "Authorization",
            "in": "header",
            "required": true,
            "type": "string",
            "description": "Token \u00e0 transmettre pour authentification"
          },
          {
            "name": "from",
            "in": "query",
            "required": true,
            "type": "string",
            "description": "Date de d\u00e9but de recherche",
            "x-example": "2022-05-01"
          },
          {
            "name": "to",
            "in": "query",
            "required": true,
            "type": "string",
            "description": "Date de fin de recherche",
            "x-example": "2022-05-31"
          },
          {
            "name": "status",
            "in": "query",
            "required": false,
            "type": "string",
            "description": "Liste des statuts recherch\u00e9s",
            "x-example": "created,terminated"
          },
          {
            "name": "institution",
            "in": "query",
            "required": false,
            "type": "string",
            "description": "R\u00e9f\u00e9rence de l\u2019\u00e9tablissement li\u00e9 au stage",
            "x-example": "INS001"
          },
          {
            "name": "manager",
            "in": "query",
            "required": false,
            "type": "string",
            "description": "R\u00e9f\u00e9rence du manager li\u00e9 au stage",
            "x-example": "MAN001"
          },
          {
            "name": "synchronized",
            "in": "query",
            "required": false,
            "type": "boolean",
            "description": "Stage synchronis\u00e9 ou non (true/false)",
            "x-example": "false"
          }
        ],
        "responses": {
          "200": {
            "description": "Stages en entreprise r\u00e9cup\u00e9r\u00e9es",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/InternshipsResponse"
              }
            }
          }
        },
        "x-token-type": "api",
        "x-application": "connector",
        "x-sql-request": "true"
      },
      "post": {
        "operationId": "upsertInternship",
        "tags": [
          "Internships"
        ],
        "summary": "Cr\u00e9er et mettre \u00e0 jour un stage en entreprise",
        "description": "Cr\u00e9er et mettre \u00e0 jour un stage en entreprise",
        "parameters": [
          {
            "name": "Authorization",
            "in": "header",
            "required": true,
            "type": "string",
            "description": "Token \u00e0 transmettre pour authentification"
          },
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/InternshipCreate"
            }
          }
        ],
        "responses": {
          "201": {
            "description": "Stages en entreprise r\u00e9cup\u00e9r\u00e9es"
          }
        },
        "x-token-type": "api",
        "x-application": "connector",
        "x-sql-request": "true"
      }
    },
    "/connectors-v2/internships/{reference}": {
      "get": {
        "operationId": "getOneInternship",
        "tags": [
          "Internships"
        ],
        "summary": "R\u00e9cup\u00e9rer le stage avec la r\u00e9f\u00e9rence associ\u00e9e",
        "description": "R\u00e9cup\u00e9rer le stage avec la r\u00e9f\u00e9rence associ\u00e9e",
        "parameters": [
          {
            "name": "Authorization",
            "in": "header",
            "required": true,
            "type": "string",
            "description": "Token \u00e0 transmettre pour authentification"
          },
          {
            "name": "reference",
            "in": "path",
            "required": true,
            "type": "string",
            "maxLength": 255,
            "description": "reference du stage en entreprise",
            "x-example": "stage001"
          }
        ],
        "responses": {
          "200": {
            "description": "Stage r\u00e9cup\u00e9r\u00e9e",
            "schema": {
              "$ref": "#/definitions/InternshipResponse"
            }
          }
        },
        "x-token-type": "api",
        "x-application": "connector",
        "x-sql-request": "true"
      }
    },
    "/connectors-v2/internships/{reference}/synchronize": {
      "post": {
        "operationId": "synchronizeInternship",
        "tags": [
          "Internships"
        ],
        "summary": "Synchronisation d\u2019un stage en entreprise",
        "description": "Synchronisation d\u2019un stage en entreprise",
        "parameters": [
          {
            "name": "Authorization",
            "in": "header",
            "required": true,
            "type": "string",
            "description": "Token \u00e0 transmettre pour authentification"
          },
          {
            "name": "reference",
            "in": "path",
            "required": true,
            "type": "string",
            "maxLength": 255,
            "description": "R\u00e9f\u00e9rence du stage en entreprise",
            "x-example": "Stage 004"
          }
        ],
        "responses": {
          "201": {
            "description": "Stage synchronis\u00e9"
          }
        },
        "x-token-type": "api",
        "x-application": "connector",
        "x-sql-request": "true"
      }
    },
    "/connectors-v2/internships/{reference}/cancel": {
      "post": {
        "operationId": "cancelOneInternship",
        "tags": [
          "Internships"
        ],
        "summary": "Annuler un stage en entreprise",
        "description": "Annuler un stage en entreprise",
        "parameters": [
          {
            "name": "Authorization",
            "in": "header",
            "required": true,
            "type": "string",
            "description": "Token \u00e0 transmettre pour authentification"
          },
          {
            "name": "reference",
            "in": "path",
            "required": true,
            "type": "string",
            "maxLength": 255,
            "description": "R\u00e9f\u00e9rence du stage en entreprise",
            "x-example": "Stage 004"
          }
        ],
        "responses": {
          "201": {
            "description": "Stage annul\u00e9"
          }
        },
        "x-token-type": "api",
        "x-application": "connector",
        "x-sql-request": "true"
      }
    },
    "/connectors-v2/internships/{reference}/validate": {
      "post": {
        "operationId": "validateInternship",
        "tags": [
          "Internships"
        ],
        "summary": "Envoyer l\u2019e-mail de validation",
        "description": "Envoyer l\u2019e-mail de validation",
        "parameters": [
          {
            "name": "Authorization",
            "in": "header",
            "required": true,
            "type": "string",
            "description": "Token \u00e0 transmettre pour authentification"
          },
          {
            "name": "reference",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "R\u00e9f\u00e9rence du stage en entreprise"
          }
        ],
        "responses": {
          "201": {
            "description": "Stage valid\u00e9"
          }
        },
        "x-token-type": "api",
        "x-application": "connector"
      }
    },
    "/connectors-v2/internships/{reference}/email": {
      "post": {
        "operationId": "sendEmailInternship",
        "tags": [
          "Internships"
        ],
        "summary": "Envoyer l\u2019e-mail",
        "description": "Envoyer l\u2019e-mail",
        "parameters": [
          {
            "name": "Authorization",
            "in": "header",
            "required": true,
            "type": "string",
            "description": "Token \u00e0 transmettre pour authentification"
          },
          {
            "name": "reference",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "R\u00e9f\u00e9rence du stage en entreprise"
          },
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/EmailInternship"
            }
          }
        ],
        "responses": {
          "202": {
            "description": "E-mail envoy\u00e9"
          }
        },
        "x-token-type": "manager",
        "x-application": "connectors"
      }
    },
    "/connectors-v2/statistics": {
      "get": {
        "operationId": "getStatistics",
        "tags": [
          "Statistics"
        ],
        "summary": "R\u00e9cup\u00e8re le nombre total d'assiduit\u00e9s et le nombre de documents PDF g\u00e9n\u00e9r\u00e9s",
        "description": "R\u00e9cup\u00e8re le nombre total d'assiduit\u00e9s et le nombre de documents PDF g\u00e9n\u00e9r\u00e9s",
        "parameters": [
          {
            "name": "Authorization",
            "in": "header",
            "required": true,
            "type": "string",
            "description": "Token \u00e0 transmettre pour authentification"
          }
        ],
        "responses": {
          "200": {
            "description": "Nombre total d'assiduit\u00e9s et nombre de documents PDF g\u00e9n\u00e9r\u00e9s r\u00e9cup\u00e9r\u00e9es",
            "schema": {
              "$ref": "#/definitions/Statistics"
            }
          }
        },
        "x-token-type": "api",
        "x-application": "connector",
        "x-sql-request": "true"
      }
    },
    "/connectors-v2/billing-information": {
      "get": {
        "operationId": "getBillingInformation",
        "tags": [
          "Statistics"
        ],
        "summary": "R\u00e9cup\u00e8re le nombre d'assiduit\u00e9s achet\u00e9es ",
        "description": "R\u00e9cup\u00e8re le nombre d'assiduit\u00e9s achet\u00e9es ",
        "parameters": [
          {
            "name": "Authorization",
            "in": "header",
            "required": true,
            "type": "string",
            "description": "Token \u00e0 transmettre pour authentification"
          }
        ],
        "responses": {
          "200": {
            "description": "Nombre d'assiduit\u00e9s achet\u00e9es r\u00e9cup\u00e9r\u00e9es",
            "schema": {
              "$ref": "#/definitions/BillingInformation"
            }
          }
        },
        "x-token-type": "api",
        "x-application": "connector",
        "x-sql-request": "true"
      }
    },
    "/connectors-v2/sowerise/questionnaires": {
      "get": {
        "operationId": "getQuestionnaires",
        "tags": [
          "Questionnaires"
        ],
        "summary": "R\u00e9cup\u00e9rer la liste des questionnaires",
        "description": "R\u00e9cup\u00e9rer la liste des questionnaires",
        "parameters": [
          {
            "name": "Authorization",
            "in": "header",
            "required": true,
            "type": "string",
            "description": "Token \u00e0 transmettre pour authentification"
          },
          {
            "name": "types",
            "in": "query",
            "required": false,
            "type": "string",
            "enum": [
              "beforeTraining",
              "duringTraining",
              "afterTrainingImmediate",
              "afterTrainingDelayed",
              "other"
            ],
            "description": "Filtre des formulaires par type (choix multiple)"
          },
          {
            "name": "targetAudience",
            "in": "query",
            "required": false,
            "type": "string",
            "enum": [
              "students",
              "trainers",
              "financers",
              "tutors",
              "other",
              "responsibles"
            ],
            "description": "Filtre des formulaires par public vis\u00e9 (choix unique)"
          }
        ],
        "responses": {
          "200": {
            "description": "Questionnaires r\u00e9cup\u00e9r\u00e9s",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/QuestionnairesResponse"
              }
            }
          }
        },
        "x-token-type": "api",
        "x-application": "connector"
      },
      "post": {
        "operationId": "createQuestionnaire",
        "tags": [
          "Questionnaires"
        ],
        "summary": "Cr\u00e9er un questionnaire",
        "description": "Cr\u00e9er un questionnaire",
        "parameters": [
          {
            "name": "Authorization",
            "in": "header",
            "required": true,
            "type": "string",
            "description": "Token \u00e0 transmettre pour authentification"
          },
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/CreateUpdateQuestionnaire"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Questionnaire cr\u00e9er",
            "schema": {
              "$ref": "#/definitions/QuestionnaireResponse"
            }
          }
        },
        "x-token-type": "api",
        "x-application": "connector"
      }
    },
    "/connectors-v2/sowerise/questionnaires/{reference}": {
      "get": {
        "operationId": "getOneQuestionnaire",
        "tags": [
          "Questionnaires"
        ],
        "summary": "R\u00e9cup\u00e9rer un questionnaire",
        "description": "R\u00e9cup\u00e9rer un questionnaire",
        "parameters": [
          {
            "name": "Authorization",
            "in": "header",
            "required": true,
            "type": "string",
            "description": "Token \u00e0 transmettre pour authentification"
          },
          {
            "name": "reference",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "R\u00e9f\u00e9rence du questionnaire"
          }
        ],
        "responses": {
          "200": {
            "description": "Questionnaire r\u00e9cup\u00e9r\u00e9",
            "schema": {
              "$ref": "#/definitions/QuestionnaireResponse"
            }
          }
        },
        "x-token-type": "api",
        "x-application": "connector"
      },
      "delete": {
        "operationId": "deleteQuestionnaire",
        "tags": [
          "Questionnaires"
        ],
        "summary": "Supprimer un questionnaire",
        "description": "Supprimer un questionnaire",
        "parameters": [
          {
            "name": "Authorization",
            "in": "header",
            "required": true,
            "type": "string",
            "description": "Token \u00e0 transmettre pour authentification"
          },
          {
            "name": "reference",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "R\u00e9f\u00e9rence du questionnaire"
          }
        ],
        "responses": {
          "204": {
            "description": "Questionnaire supprim\u00e9"
          }
        },
        "x-token-type": "api",
        "x-application": "connector"
      }
    },
    "/connectors-v2/sowerise/surveys": {
      "get": {
        "operationId": "getFormsSurveys",
        "tags": [
          "FormsSurveys"
        ],
        "summary": "R\u00e9cup\u00e9rer la liste des enqu\u00eates",
        "description": "R\u00e9cup\u00e9rer la liste des enqu\u00eates",
        "parameters": [
          {
            "name": "Authorization",
            "in": "header",
            "required": true,
            "type": "string",
            "description": "Token \u00e0 transmettre pour authentification"
          },
          {
            "name": "from",
            "in": "query",
            "required": false,
            "type": "string",
            "description": "Date de d\u00e9but de recherche"
          },
          {
            "name": "to",
            "in": "query",
            "required": false,
            "type": "string",
            "description": "Date de fin de recherche"
          },
          {
            "name": "status",
            "in": "query",
            "required": false,
            "type": "string",
            "enum": [
              "canceled",
              "expired",
              "inProgress",
              "inComing"
            ],
            "description": "Filtre des enqu\u00eates par status (choix multiple)"
          },
          {
            "name": "triggerMode",
            "in": "query",
            "required": false,
            "type": "string",
            "enum": [
              "manual",
              "course"
            ],
            "description": "Filtre des enqu\u00eates par le d\u00e9clenchement (choix unique)"
          }
        ],
        "responses": {
          "200": {
            "description": "Enqu\u00eates r\u00e9cup\u00e9r\u00e9s",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/FormsSurveysResponse"
              }
            }
          }
        },
        "x-token-type": "api",
        "x-application": "connector"
      },
      "post": {
        "operationId": "synchronizeFormsSurveys",
        "tags": [
          "FormsSurveys"
        ],
        "summary": "Cr\u00e9er ou modifier une enqu\u00eate",
        "description": "Cr\u00e9er ou modifier une enqu\u00eate",
        "parameters": [
          {
            "name": "Authorization",
            "in": "header",
            "required": true,
            "type": "string",
            "description": "Token \u00e0 transmettre pour authentification"
          },
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/CreateFormsSurvey"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Enqu\u00eate cr\u00e9\u00e9e",
            "schema": {
              "$ref": "#/definitions/FormsSurveyResponse"
            }
          }
        },
        "x-token-type": "api",
        "x-application": "connector"
      }
    },
    "/connectors-v2/sowerise/surveys/{reference}": {
      "get": {
        "operationId": "getOneFormsSurvey",
        "tags": [
          "FormsSurveys"
        ],
        "summary": "R\u00e9cup\u00e9rer une enqu\u00eate",
        "description": "R\u00e9cup\u00e9rer une enqu\u00eate",
        "parameters": [
          {
            "name": "Authorization",
            "in": "header",
            "required": true,
            "type": "string",
            "description": "Token \u00e0 transmettre pour authentification"
          },
          {
            "name": "reference",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "R\u00e9f\u00e9rence de l'enqu\u00eate \u00e0 r\u00e9cup\u00e9rer"
          }
        ],
        "responses": {
          "200": {
            "description": "Enqu\u00eate r\u00e9cup\u00e9r\u00e9",
            "schema": {
              "$ref": "#/definitions/FormsSurveyResponse"
            }
          }
        },
        "x-token-type": "api",
        "x-application": "connector"
      },
      "delete": {
        "operationId": "deleteFormsSurvey",
        "tags": [
          "FormsSurveys"
        ],
        "summary": "Supprimer une enqu\u00eate",
        "description": "Supprimer une enqu\u00eate",
        "parameters": [
          {
            "name": "Authorization",
            "in": "header",
            "required": true,
            "type": "string",
            "description": "Token \u00e0 transmettre pour authentification"
          },
          {
            "name": "reference",
            "in": "path",
            "required": true,
            "type": "integer",
            "description": "R\u00e9f\u00e9rence de la enqu\u00eate"
          }
        ],
        "responses": {
          "204": {
            "description": "Enqu\u00eate supprim\u00e9"
          }
        },
        "x-token-type": "api",
        "x-application": "connector"
      }
    },
    "/connectors-v2/repository/trainings": {
      "get": {
        "operationId": "getRepositoryTrainings",
        "tags": [
          "RepositoryTrainings"
        ],
        "summary": "R\u00e9cup\u00e9rer la liste des formations",
        "description": "R\u00e9cup\u00e9rer la liste des formations",
        "parameters": [
          {
            "name": "Authorization",
            "in": "header",
            "required": true,
            "type": "string",
            "description": "Token \u00e0 transmettre pour authentification"
          }
        ],
        "responses": {
          "200": {
            "description": "Formations r\u00e9cup\u00e9r\u00e9s",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/RepositoryTrainingsResponse"
              }
            }
          }
        },
        "x-token-type": "api",
        "x-application": "connector"
      },
      "post": {
        "operationId": "synchronizeRepositoryTrainings",
        "tags": [
          "RepositoryTrainings"
        ],
        "summary": "Cr\u00e9er une formation",
        "description": "Cr\u00e9er une formation",
        "parameters": [
          {
            "name": "Authorization",
            "in": "header",
            "required": true,
            "type": "string",
            "description": "Token \u00e0 transmettre pour authentification"
          },
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/CreateUpdateRepositoryTraining"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Formation cr\u00e9\u00e9e",
            "schema": {
              "$ref": "#/definitions/RepositoryTrainingResponse"
            }
          }
        },
        "x-token-type": "api",
        "x-application": "connector"
      }
    },
    "/connectors-v2/repository/trainings/{reference}": {
      "get": {
        "operationId": "getOneRepositoryTrainings",
        "tags": [
          "RepositoryTrainings"
        ],
        "summary": "R\u00e9cup\u00e9rer une formation",
        "description": "R\u00e9cup\u00e9rer une formation",
        "parameters": [
          {
            "name": "Authorization",
            "in": "header",
            "required": true,
            "type": "string",
            "description": "Token \u00e0 transmettre pour authentification"
          },
          {
            "name": "reference",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "R\u00e9f\u00e9rence de la formation \u00e0 r\u00e9cup\u00e9rer"
          }
        ],
        "responses": {
          "200": {
            "description": "Formation r\u00e9cup\u00e9r\u00e9",
            "schema": {
              "$ref": "#/definitions/RepositoryTrainingResponse"
            }
          }
        },
        "x-token-type": "api",
        "x-application": "connector"
      },
      "delete": {
        "operationId": "deleteRepositoryTraining",
        "tags": [
          "RepositoryTrainings"
        ],
        "summary": "Supprimer une formation",
        "description": "Supprimer une formation",
        "parameters": [
          {
            "name": "Authorization",
            "in": "header",
            "required": true,
            "type": "string",
            "description": "Token \u00e0 transmettre pour authentification"
          },
          {
            "name": "reference",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "R\u00e9f\u00e9rence de la formation"
          }
        ],
        "responses": {
          "204": {
            "description": "Formation supprim\u00e9"
          }
        },
        "x-token-type": "api",
        "x-application": "connector"
      }
    },
    "/connectors-v2/employers": {
      "get": {
        "operationId": "getAllEmployers",
        "tags": [
          "employers"
        ],
        "summary": "R\u00e9cup\u00e9rer tous les employeurs",
        "description": "Permet de r\u00e9cup\u00e9rer tous les employeurs",
        "parameters": [
          {
            "name": "Authorization",
            "in": "header",
            "required": true,
            "type": "string",
            "description": "Token \u00e0 transmettre pour authentification"
          },
          {
            "name": "include",
            "in": "query",
            "required": false,
            "type": "string",
            "description": "Permet de restreindre la liste des propri\u00e9t\u00e9s de l\u2019entit\u00e9 \u00e0 r\u00e9cup\u00e9rer (reference,name,contactGender,contactFirstName,contactLastName,email,phone,number,intraVat,address,data)",
            "x-example": "reference,name,email"
          },
          {
            "name": "reference",
            "in": "query",
            "required": false,
            "type": "string",
            "maxLength": 255,
            "description": "R\u00e9f\u00e9rence de l\u2019employeur"
          }
        ],
        "responses": {
          "200": {
            "description": "Employeurs r\u00e9cup\u00e9r\u00e9s",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/Employer"
              }
            }
          }
        },
        "x-token-type": "api",
        "x-application": "connector",
        "x-sql-propel": "true"
      },
      "delete": {
        "operationId": "deleteEmployer",
        "tags": [
          "employers"
        ],
        "summary": "Supprimer un employeur",
        "description": "Permet de supprimer un employeur \u00e0 partir de la r\u00e9f\u00e9rence",
        "parameters": [
          {
            "name": "Authorization",
            "in": "header",
            "required": true,
            "type": "string",
            "description": "Token \u00e0 transmettre pour authentification"
          },
          {
            "name": "reference",
            "in": "query",
            "required": true,
            "type": "string",
            "maxLength": 255,
            "description": "R\u00e9f\u00e9rence de l\u2019employeur \u00e0 supprimer"
          }
        ],
        "responses": {
          "200": {
            "description": "Employeur supprim\u00e9"
          }
        },
        "x-token-type": "api",
        "x-application": "connector",
        "x-sql-propel": "true"
      },
      "post": {
        "operationId": "synchronizeEmployer",
        "tags": [
          "employers"
        ],
        "summary": "Synchroniser un employeur",
        "description": "Permet de cr\u00e9er ou modifier un employeur si la r\u00e9f\u00e9rence existe d\u00e9j\u00e0",
        "parameters": [
          {
            "name": "Authorization",
            "in": "header",
            "required": true,
            "type": "string",
            "description": "Token \u00e0 transmettre pour authentification"
          },
          {
            "name": "Content-Type",
            "in": "header",
            "required": true,
            "type": "string",
            "default": "application/json"
          },
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/Employer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Employeur cr\u00e9\u00e9 ou modifi\u00e9",
            "schema": {
              "$ref": "#/definitions/Employer"
            }
          }
        },
        "x-token-type": "manager,api",
        "x-application": "connector",
        "x-sql-propel": "true"
      }
    },
    "/connectors-v2/set-employers": {
      "post": {
        "operationId": "synchronizeEmployers",
        "tags": [
          "employers"
        ],
        "summary": "Synchroniser un lot d\u2019employeurs",
        "description": "Permet de cr\u00e9er ou modifier plusieurs employeurs \u00e0 la fois ( dans la limite de 100)",
        "parameters": [
          {
            "name": "Authorization",
            "in": "header",
            "required": true,
            "type": "string",
            "description": "Token \u00e0 transmettre pour authentification"
          },
          {
            "name": "Content-Type",
            "in": "header",
            "required": true,
            "type": "string",
            "default": "application/json"
          },
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/Employer"
              }
            }
          }
        ],
        "responses": {
          "201": {
            "description": "Employeurs cr\u00e9\u00e9s ou modifi\u00e9s",
            "schema": {
              "$ref": "#/definitions/SetObjectResponse"
            }
          }
        },
        "x-token-type": "api",
        "x-application": "connector",
        "x-sql-request": "true"
      }
    },
    "/connectors-v2/campuses": {
      "get": {
        "operationId": "getAllCampuses",
        "tags": [
          "campuses"
        ],
        "summary": "R\u00e9cup\u00e9rer tous les campus",
        "description": "Permet de r\u00e9cup\u00e9rer tous les campus",
        "parameters": [
          {
            "name": "Authorization",
            "in": "header",
            "required": true,
            "type": "string",
            "description": "Token \u00e0 transmettre pour authentification"
          },
          {
            "name": "include",
            "in": "query",
            "required": false,
            "type": "string",
            "description": "Permet de restreindre la liste des propri\u00e9t\u00e9s de l\u2019entit\u00e9 \u00e0 r\u00e9cup\u00e9rer (reference,name,places,urlMap,urlAccess,data)",
            "x-example": "reference,name"
          },
          {
            "name": "reference",
            "in": "query",
            "required": false,
            "type": "string",
            "maxLength": 255,
            "description": "R\u00e9f\u00e9rence du campus"
          }
        ],
        "responses": {
          "200": {
            "description": "Campus r\u00e9cup\u00e9r\u00e9s",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/Campus"
              }
            },
            "examples": {
              "application/json": "\n"
            }
          }
        },
        "x-token-type": "api",
        "x-application": "connector",
        "x-sql-propel": "true"
      },
      "post": {
        "operationId": "synchronizeCampus",
        "tags": [
          "campuses"
        ],
        "summary": "Synchroniser un campus",
        "description": "Permet de cr\u00e9er ou modifier un campus si la r\u00e9f\u00e9rence existe d\u00e9j\u00e0",
        "parameters": [
          {
            "name": "Authorization",
            "in": "header",
            "required": true,
            "type": "string",
            "description": "Token \u00e0 transmettre pour authentification"
          },
          {
            "name": "Content-Type",
            "in": "header",
            "required": true,
            "type": "string",
            "default": "application/json"
          },
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/Campus"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Campus cr\u00e9\u00e9 ou modifi\u00e9",
            "schema": {
              "$ref": "#/definitions/Campus"
            }
          }
        },
        "x-token-type": "manager,api",
        "x-application": "connector",
        "x-sql-propel": "true"
      },
      "delete": {
        "operationId": "deleteCampus",
        "tags": [
          "campuses"
        ],
        "summary": "Supprimer un campus",
        "description": "Permet de supprimer un campus \u00e0 partir de la r\u00e9f\u00e9rence",
        "parameters": [
          {
            "name": "Authorization",
            "in": "header",
            "required": true,
            "type": "string",
            "description": "Token \u00e0 transmettre pour authentification"
          },
          {
            "name": "reference",
            "in": "query",
            "required": true,
            "type": "string",
            "maxLength": 255,
            "description": "R\u00e9f\u00e9rence du campus \u00e0 supprimer"
          }
        ],
        "responses": {
          "200": {
            "description": "Campus supprim\u00e9"
          }
        },
        "x-token-type": "api",
        "x-application": "connector",
        "x-sql-propel": "true"
      }
    },
    "/connectors-v2/places": {
      "get": {
        "operationId": "getAllPlaces",
        "tags": [
          "places"
        ],
        "summary": "R\u00e9cup\u00e9rer tous les lieux",
        "description": "Permet de r\u00e9cup\u00e9rer tous les lieux",
        "parameters": [
          {
            "name": "Authorization",
            "in": "header",
            "required": true,
            "type": "string",
            "description": "Token \u00e0 transmettre pour authentification"
          },
          {
            "name": "include",
            "in": "query",
            "required": false,
            "type": "string",
            "description": "Permet de restreindre la liste des propri\u00e9t\u00e9s de l\u2019entit\u00e9 \u00e0 r\u00e9cup\u00e9rer (reference,name,urlMap,urlAccess,data)",
            "x-example": "reference,name"
          },
          {
            "name": "reference",
            "in": "query",
            "required": false,
            "type": "string",
            "maxLength": 255,
            "description": "R\u00e9f\u00e9rence du lieu"
          }
        ],
        "responses": {
          "200": {
            "description": "Lieux r\u00e9cup\u00e9r\u00e9s",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/Place"
              }
            }
          }
        },
        "x-token-type": "api",
        "x-application": "connector",
        "x-sql-propel": "true"
      },
      "post": {
        "operationId": "synchronizePlace",
        "tags": [
          "places"
        ],
        "summary": "Synchroniser un lieu",
        "description": "Permet de cr\u00e9er ou modifier un lieu si la r\u00e9f\u00e9rence existe d\u00e9j\u00e0",
        "parameters": [
          {
            "name": "Authorization",
            "in": "header",
            "required": true,
            "type": "string",
            "description": "Token \u00e0 transmettre pour authentification"
          },
          {
            "name": "Content-Type",
            "in": "header",
            "required": true,
            "type": "string",
            "default": "application/json"
          },
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/Place"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Lieu cr\u00e9\u00e9 ou modifi\u00e9",
            "schema": {
              "$ref": "#/definitions/Place"
            }
          }
        },
        "x-token-type": "manager,api",
        "x-application": "connector",
        "x-sql-propel": "true"
      },
      "delete": {
        "operationId": "deletePlace",
        "tags": [
          "places"
        ],
        "summary": "Supprimer un lieu",
        "description": "Permet de supprimer un lieu \u00e0 partir de la r\u00e9f\u00e9rence",
        "parameters": [
          {
            "name": "Authorization",
            "in": "header",
            "required": true,
            "type": "string",
            "description": "Token \u00e0 transmettre pour authentification"
          },
          {
            "name": "reference",
            "in": "query",
            "required": true,
            "type": "string",
            "maxLength": 255,
            "description": "R\u00e9f\u00e9rence du lieu \u00e0 supprimer"
          }
        ],
        "responses": {
          "200": {
            "description": "Lieu supprim\u00e9"
          }
        },
        "x-token-type": "api",
        "x-application": "connector",
        "x-sql-propel": "true"
      }
    },
    "/connectors-v2/courses": {
      "get": {
        "operationId": "getAllCourses",
        "tags": [
          "courses"
        ],
        "summary": "R\u00e9cup\u00e9rer toutes les s\u00e9ances",
        "description": "Permet de r\u00e9cup\u00e9rer toutes les s\u00e9ances",
        "parameters": [
          {
            "name": "Authorization",
            "in": "header",
            "required": true,
            "type": "string",
            "description": "Token \u00e0 transmettre pour authentification"
          },
          {
            "name": "from",
            "in": "query",
            "required": false,
            "type": "string",
            "format": "date",
            "description": "Date de d\u00e9but",
            "x-example": "2017-09-01"
          },
          {
            "name": "to",
            "in": "query",
            "required": false,
            "type": "string",
            "format": "date",
            "description": "Date de fin",
            "x-example": "2017-09-10"
          },
          {
            "name": "institution",
            "in": "query",
            "required": false,
            "type": "string",
            "description": "R\u00e9f\u00e9rence de l\u2019\u00e9tablissement auquel est associ\u00e9 le mod\u00e8le",
            "x-example": "INS14534651"
          },
          {
            "name": "include",
            "in": "query",
            "required": false,
            "type": "string",
            "description": "Permet de restreindre la liste des propri\u00e9t\u00e9s de l\u2019entit\u00e9 \u00e0 r\u00e9cup\u00e9rer (reference,name,date,start,end,openingDelay,closingDelay,duration,place,students,trainers,studentsGroups,status,data)",
            "x-example": "reference,name"
          },
          {
            "name": "reference",
            "in": "query",
            "required": false,
            "type": "string",
            "maxLength": 255,
            "description": "R\u00e9f\u00e9rence de la s\u00e9ance (lorsque ce param\u00e8tre est renseign\u00e9, les param\u00e8tres from/to sont ignor\u00e9s)"
          }
        ],
        "responses": {
          "200": {
            "description": "S\u00e9ances r\u00e9cup\u00e9r\u00e9es",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/Course"
              }
            }
          }
        },
        "x-token-type": "api",
        "x-application": "connector",
        "x-sql-propel": "true"
      },
      "post": {
        "operationId": "synchronizeCourse",
        "tags": [
          "courses"
        ],
        "summary": "Synchroniser une s\u00e9ance",
        "description": "Permet de cr\u00e9er ou modifier une s\u00e9ance si la r\u00e9f\u00e9rence existe d\u00e9j\u00e0.\nSi une r\u00e9f\u00e9rence \u00e9tudiant ou formateur n'existe pas, la s\u00e9ance est synchronis\u00e9e et la m\u00e9thode retourne alors le code 400",
        "parameters": [
          {
            "name": "Authorization",
            "in": "header",
            "required": true,
            "type": "string",
            "description": "Token \u00e0 transmettre pour authentification"
          },
          {
            "name": "Content-Type",
            "in": "header",
            "required": true,
            "type": "string",
            "default": "application/json"
          },
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/createCourse"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "S\u00e9ance cr\u00e9\u00e9e ou modifi\u00e9e",
            "schema": {
              "$ref": "#/definitions/Course"
            }
          }
        },
        "x-token-type": "manager,api",
        "x-application": "connector",
        "x-sql-propel": "true"
      },
      "delete": {
        "operationId": "deleteCourse",
        "tags": [
          "courses"
        ],
        "summary": "Supprimer une s\u00e9ance",
        "description": "Permet de supprimer une s\u00e9ance \u00e0 partir de la r\u00e9f\u00e9rence",
        "parameters": [
          {
            "name": "Authorization",
            "in": "header",
            "required": true,
            "type": "string",
            "description": "Token \u00e0 transmettre pour authentification"
          },
          {
            "name": "reference",
            "in": "query",
            "required": true,
            "type": "string",
            "maxLength": 255,
            "description": "R\u00e9f\u00e9rence de la s\u00e9ance \u00e0 supprimer"
          }
        ],
        "responses": {
          "200": {
            "description": "S\u00e9ance supprim\u00e9e"
          }
        },
        "x-token-type": "api",
        "x-application": "connector",
        "x-sql-propel": "true"
      }
    },
    "/connectors-v2/courses/{reference}/signatures": {
      "get": {
        "operationId": "getAllCourseSignatures",
        "tags": [
          "signatures"
        ],
        "summary": "R\u00e9cup\u00e9rer toutes les signatures d\u2019une s\u00e9ance",
        "description": "Permet de r\u00e9cup\u00e9rer toutes les signatures d\u2019une s\u00e9ance",
        "parameters": [
          {
            "name": "Authorization",
            "in": "header",
            "required": true,
            "type": "string",
            "description": "Token \u00e0 transmettre pour authentification"
          },
          {
            "name": "reference",
            "in": "path",
            "required": true,
            "type": "string",
            "maxLength": 255,
            "description": "R\u00e9f\u00e9rence de la s\u00e9ance"
          },
          {
            "name": "include",
            "in": "query",
            "required": false,
            "type": "string",
            "description": "Permet de restreindre la liste des propri\u00e9t\u00e9s de l\u2019entit\u00e9 \u00e0 r\u00e9cup\u00e9rer (reference,name,description,courses,data)",
            "x-example": "reference,date,url"
          }
        ],
        "responses": {
          "200": {
            "description": "Signatures r\u00e9cup\u00e9r\u00e9es",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/Signature"
              }
            }
          }
        },
        "x-token-type": "api",
        "x-application": "connector",
        "x-sql-request": "true"
      }
    },
    "/connectors-v2/training-models/{reference}": {
      "delete": {
        "operationId": "deleteTrainingModel",
        "tags": [
          "trainingModels"
        ],
        "summary": "Supprimer un mod\u00e8le de formation",
        "description": "Supprimer un mod\u00e8le de formation",
        "parameters": [
          {
            "name": "Authorization",
            "in": "header",
            "required": true,
            "type": "string",
            "description": "Token \u00e0 transmettre pour authentification"
          },
          {
            "name": "reference",
            "in": "path",
            "required": true,
            "type": "string",
            "maxLength": 255,
            "description": "R\u00e9f\u00e9rence du mod\u00e8le de formation"
          }
        ],
        "responses": {
          "204": {
            "description": "Mod\u00e8le supprim\u00e9"
          }
        },
        "x-token-type": "api",
        "x-application": "connector",
        "x-sql-request": "true"
      }
    },
    "/connectors-v2/sowerise/evaluation-models": {
      "get": {
        "operationId": "getAllEvaluationModel",
        "tags": [
          "EvaluationModels"
        ],
        "summary": "R\u00e9cup\u00e9ration des mod\u00e8les d'\u00e9valuations",
        "description": "R\u00e9cup\u00e9ration des mod\u00e8les d'\u00e9valuations",
        "parameters": [
          {
            "name": "Authorization",
            "in": "header",
            "required": true,
            "type": "string",
            "description": "Token \u00e0 transmettre pour authentification"
          }
        ],
        "responses": {
          "200": {
            "description": "Mod\u00e8le d'\u00e9valuation r\u00e9cup\u00e9rer",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/EvaluationModelListResponse"
              }
            }
          }
        }
      },
      "post": {
        "operationId": "upsertEvaluationModel",
        "tags": [
          "EvaluationModels"
        ],
        "summary": "Cr\u00e9er ou modifier un mod\u00e8le d'\u00e9valuation",
        "description": "Cr\u00e9er ou modifier un mod\u00e8le d'\u00e9valuation",
        "parameters": [
          {
            "name": "Authorization",
            "in": "header",
            "required": true,
            "type": "string",
            "description": "Token \u00e0 transmettre pour authentification"
          },
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/CreateUpdateEvaluationModel"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Mod\u00e8le d'\u00e9valuation cr\u00e9er ou mis \u00e0 jours"
          }
        }
      }
    },
    "/connectors-v2/sowerise/evaluation-models/{reference}": {
      "get": {
        "operationId": "getOneEvaluationModel",
        "tags": [
          "EvaluationModels"
        ],
        "summary": "R\u00e9cup\u00e9rer un mod\u00e8le d'\u00e9valuation",
        "description": "R\u00e9cup\u00e9rer un mod\u00e8le d'\u00e9valuation",
        "parameters": [
          {
            "name": "Authorization",
            "in": "header",
            "required": true,
            "type": "string",
            "description": "Token \u00e0 transmettre pour authentification"
          },
          {
            "name": "reference",
            "in": "path",
            "required": true,
            "maxLength": 255,
            "type": "string",
            "description": "Identifiant du model d'\u00e9valuation"
          }
        ],
        "responses": {
          "200": {
            "schema": {
              "$ref": "#/definitions/getOneEvaluationModel"
            },
            "description": "Mod\u00e8le d'\u00e9valuation r\u00e9cup\u00e9rer"
          }
        }
      },
      "delete": {
        "operationId": "deleteEvaluationModel",
        "tags": [
          "EvaluationModels"
        ],
        "summary": "Supprime un mod\u00e8le d'\u00e9valuation",
        "description": "Supprime un mod\u00e8le d'\u00e9valuation",
        "parameters": [
          {
            "name": "Authorization",
            "in": "header",
            "required": true,
            "type": "string",
            "description": "Token \u00e0 transmettre pour authentification"
          },
          {
            "name": "reference",
            "in": "path",
            "required": true,
            "maxLength": 255,
            "type": "string",
            "description": "Identifiant du model d'\u00e9valuation"
          }
        ],
        "responses": {
          "204": {
            "description": "Mod\u00e8le d'\u00e9valuation supprim\u00e9"
          }
        }
      }
    },
    "/connectors-v2/sowerise/training-paths": {
      "get": {
        "operationId": "getTrainingPath",
        "tags": [
          "TrainingPaths"
        ],
        "summary": "R\u00e9cup\u00e9ration des parcours",
        "description": "R\u00e9cup\u00e9ration des parcours",
        "parameters": [
          {
            "name": "Authorization",
            "in": "header",
            "required": true,
            "type": "string",
            "description": "Token \u00e0 transmettre pour authentification"
          }
        ],
        "responses": {
          "200": {
            "description": "Parcours r\u00e9cup\u00e9rer",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/TrainingPathResponse"
              }
            }
          }
        }
      },
      "post": {
        "operationId": "upsertTrainingPath",
        "tags": [
          "TrainingPaths"
        ],
        "summary": "Cr\u00e9er ou modifier un parcours",
        "description": "Cr\u00e9er ou modifier un parcours",
        "parameters": [
          {
            "name": "Authorization",
            "in": "header",
            "required": true,
            "type": "string",
            "description": "Token \u00e0 transmettre pour authentification"
          },
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/CreateUpdateTrainingPath"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Parcours cr\u00e9er"
          }
        }
      }
    },
    "/connectors-v2/sowerise/training-paths/{reference}": {
      "get": {
        "operationId": "getOneTrainingPath",
        "tags": [
          "TrainingPaths"
        ],
        "summary": "R\u00e9cup\u00e9rer un parcours",
        "description": "R\u00e9cup\u00e9rer un parcours",
        "parameters": [
          {
            "name": "Authorization",
            "in": "header",
            "required": true,
            "type": "string",
            "description": "Token \u00e0 transmettre pour authentification"
          },
          {
            "name": "reference",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "R\u00e9f\u00e9rence d'un parcours"
          }
        ],
        "responses": {
          "200": {
            "schema": {
              "$ref": "#/definitions/GetOneTrainingPath"
            },
            "description": "Parcours r\u00e9cup\u00e9rer"
          }
        }
      },
      "delete": {
        "operationId": "deleteTrainingPath",
        "tags": [
          "TrainingPaths"
        ],
        "summary": "Supprime un parcours",
        "description": "Supprime un parcours",
        "parameters": [
          {
            "name": "Authorization",
            "in": "header",
            "required": true,
            "type": "string",
            "description": "Token \u00e0 transmettre pour authentification"
          },
          {
            "name": "reference",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "R\u00e9f\u00e9rence d'un parcours"
          }
        ],
        "responses": {
          "204": {
            "description": "Parcours supprim\u00e9"
          }
        }
      }
    },
    "/connectors-v2/sowerise/workflows": {
      "get": {
        "operationId": "getWorkflows",
        "tags": [
          "Workflows"
        ],
        "summary": "R\u00e9cup\u00e9rer la liste des flux d'\u00e9valuation",
        "description": "R\u00e9cup\u00e9rer la liste des flux d'\u00e9valuation",
        "parameters": [
          {
            "name": "Authorization",
            "in": "header",
            "required": true,
            "type": "string",
            "description": "Token \u00e0 transmettre pour authentification"
          }
        ],
        "responses": {
          "200": {
            "description": "Flux d'\u00e9valuation r\u00e9cup\u00e9r\u00e9s",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/FormsWorkflowResponse"
              }
            }
          }
        }
      },
      "post": {
        "operationId": "upsertWorkflow",
        "tags": [
          "Workflows"
        ],
        "summary": "Cr\u00e9er ou modifier un flux d'\u00e9valuation",
        "description": "Cr\u00e9er ou modifier un flux d'\u00e9valuation",
        "parameters": [
          {
            "name": "Authorization",
            "in": "header",
            "required": true,
            "type": "string",
            "description": "Token \u00e0 transmettre pour authentification"
          },
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/CreateUpdateWorkflow"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Flux d'\u00e9valuation cr\u00e9er"
          }
        }
      }
    },
    "/connectors-v2/sowerise/workflows/{reference}": {
      "get": {
        "operationId": "getOneWorkflow",
        "tags": [
          "Workflows"
        ],
        "summary": "R\u00e9cup\u00e9rer un flux d'\u00e9valuation",
        "description": "R\u00e9cup\u00e9rer un flux d'\u00e9valuation",
        "parameters": [
          {
            "name": "Authorization",
            "in": "header",
            "required": true,
            "type": "string",
            "description": "Token \u00e0 transmettre pour authentification"
          },
          {
            "name": "reference",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "R\u00e9f\u00e9rence du flux d'\u00e9valuation"
          }
        ],
        "responses": {
          "200": {
            "description": "Flux d'\u00e9valuation r\u00e9cup\u00e9r\u00e9",
            "schema": {
              "$ref": "#/definitions/GetOneWorkflow"
            }
          }
        }
      },
      "delete": {
        "operationId": "deleteWorkflows",
        "tags": [
          "Workflows"
        ],
        "summary": "Supprimer un flux d'\u00e9valuation",
        "description": "Supprimer un flux d'\u00e9valuation",
        "parameters": [
          {
            "name": "Authorization",
            "in": "header",
            "required": true,
            "type": "string",
            "description": "Token \u00e0 transmettre pour authentification"
          },
          {
            "name": "reference",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "R\u00e9f\u00e9rence du flux d'\u00e9valuation"
          }
        ],
        "responses": {
          "204": {
            "description": "Flux d'\u00e9valuation supprim\u00e9"
          }
        }
      }
    },
    "/connectors-v2/sowerise/workflows/{reference}/surveys": {
      "post": {
        "operationId": "upsertSurveyWorkflow",
        "tags": [
          "Workflows"
        ],
        "summary": "Cr\u00e9er une enqu\u00eate pour un flux d'\u00e9valuation",
        "description": "Cr\u00e9er une enqu\u00eate pour un flux d'\u00e9valuation",
        "parameters": [
          {
            "name": "Authorization",
            "in": "header",
            "required": true,
            "type": "string",
            "description": "Token \u00e0 transmettre pour authentification"
          },
          {
            "name": "reference",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "Reference du flux d'\u00e9valuation"
          },
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/WorkflowSurveyModels"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Mod\u00e8le d'enqu\u00eate cr\u00e9er"
          }
        }
      }
    },
    "/connectors-v2/sowerise/workflows/{reference}/surveys/{referenceSurvey}": {
      "delete": {
        "operationId": "deleteSurveyWorkflow",
        "tags": [
          "Workflows"
        ],
        "summary": "Supprim\u00e9e une enqu\u00eate pour un flux d'\u00e9valuation",
        "description": "Supprim\u00e9e une enqu\u00eate pour un flux d'\u00e9valuation",
        "parameters": [
          {
            "name": "Authorization",
            "in": "header",
            "required": true,
            "type": "string",
            "description": "Token \u00e0 transmettre pour authentification"
          },
          {
            "name": "reference",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "R\u00e9f\u00e9rence du flux d'\u00e9valuation"
          },
          {
            "name": "referenceSurvey",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "R\u00e9f\u00e9rence du mod\u00e8le d\u2019enqu\u00eate"
          }
        ],
        "responses": {
          "204": {
            "description": "Enqu\u00eate Supprim\u00e9e"
          }
        },
        "x-token-type": "manager",
        "x-application": "manager-portal"
      }
    },
    "/connectors-v2/training-models": {
      "get": {
        "operationId": "getTrainingModelList",
        "tags": [
          "trainingModels"
        ],
        "summary": "R\u00e9cup\u00e9rer les mod\u00e8les de formation",
        "description": "R\u00e9cup\u00e9rer les mod\u00e8les de formation",
        "parameters": [
          {
            "name": "Authorization",
            "in": "header",
            "required": true,
            "type": "string",
            "description": "Token \u00e0 transmettre pour authentification"
          },
          {
            "name": "institution",
            "in": "query",
            "required": false,
            "type": "string",
            "description": "R\u00e9f\u00e9rence de l\u2019\u00e9tablissement auquel est associ\u00e9 le mod\u00e8le",
            "x-example": "INS14534651"
          },
          {
            "name": "manager",
            "in": "query",
            "required": false,
            "type": "string",
            "description": "R\u00e9f\u00e9rence du manager auquel est associ\u00e9 le mod\u00e8le"
          }
        ],
        "responses": {
          "200": {
            "description": "Liste des mod\u00e8le de formation",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/TrainingModelListResponse"
              }
            }
          }
        },
        "x-token-type": "api",
        "x-application": "connector",
        "x-sql-request": "true"
      },
      "post": {
        "operationId": "upsertTrainingModel",
        "tags": [
          "trainingModels"
        ],
        "summary": "Cr\u00e9er un mod\u00e8le de formation",
        "description": "Permet de cr\u00e9er un mod\u00e8le de formation",
        "parameters": [
          {
            "name": "Authorization",
            "in": "header",
            "required": true,
            "type": "string",
            "description": "Token \u00e0 transmettre pour authentification"
          },
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/TrainingModelCreate"
            }
          }
        ],
        "responses": {
          "201": {
            "description": "Mod\u00e8le de formation ajout\u00e9"
          }
        },
        "x-token-type": "api",
        "x-application": "connector",
        "x-sql-request": "true"
      }
    },
    "/connectors-v2/trainings": {
      "get": {
        "operationId": "getTrainings",
        "tags": [
          "trainings"
        ],
        "summary": "R\u00e9cup\u00e9rer les formations",
        "description": "R\u00e9cup\u00e9rer les formations",
        "parameters": [
          {
            "name": "Authorization",
            "in": "header",
            "required": true,
            "type": "string",
            "description": "Token \u00e0 transmettre pour authentification"
          },
          {
            "name": "limit",
            "in": "header",
            "required": false,
            "type": "integer",
            "description": "D\u00e9finit le nombre d\u2019\u00e9l\u00e9ments \u00e0 retourner par page avec comme valeur par d\u00e9faut et maximum fix\u00e9e \u00e0 1000",
            "x-example": "10"
          },
          {
            "name": "offset",
            "in": "header",
            "required": false,
            "type": "integer",
            "description": "D\u00e9finit le num\u00e9ro de page \u00e0 retourner (0 pour la premi\u00e8re page, qui est la page retourn\u00e9e par d\u00e9faut si ce param\u00e8tre n\u2019est pas renseign\u00e9)"
          },
          {
            "name": "from",
            "in": "query",
            "required": false,
            "type": "string",
            "format": "date",
            "description": "Ce param\u00e8tre doit \u00eatre associ\u00e9 avec le param\u00e8tre to",
            "x-example": "2021-11-03"
          },
          {
            "name": "to",
            "in": "query",
            "required": false,
            "type": "string",
            "format": "date",
            "description": "Ce param\u00e8tre doit \u00eatre associ\u00e9 avec le param\u00e8tre from",
            "x-example": "2021-11-03"
          },
          {
            "name": "synchronized",
            "in": "query",
            "required": false,
            "type": "boolean",
            "description": "Formation synchronis\u00e9e ou non (true/false)",
            "x-example": "false"
          },
          {
            "name": "status",
            "in": "query",
            "required": false,
            "type": "string",
            "description": "Statut de la formation (created, started, canceled, terminated, trainerValidated, managerValidated, forced)",
            "x-example": "created,terminated,started"
          },
          {
            "name": "type",
            "in": "query",
            "required": false,
            "type": "string",
            "enum": [
              "adhoc",
              "planned"
            ],
            "default": "planned",
            "description": "Type de la formation (adhoc ou planned)"
          }
        ],
        "responses": {
          "200": {
            "description": "Liste des formations",
            "headers": {
              "totalRow": {
                "type": "integer",
                "description": "Nombre total d\u2019\u00e9l\u00e9ments"
              },
              "totalPage": {
                "type": "integer",
                "description": "Nombre total de pages (selon le param\u00e8tre limit)"
              },
              "currentPage": {
                "type": "integer",
                "description": "Num\u00e9ro de la page courante (0 pour la premi\u00e8re page)"
              }
            },
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/TrainingResponse"
              }
            }
          }
        },
        "x-token-type": "api",
        "x-application": "connector",
        "x-sql-request": "true"
      },
      "post": {
        "operationId": "synchronizeTraining",
        "tags": [
          "trainings"
        ],
        "summary": "Cr\u00e9er une formation",
        "description": "Cr\u00e9er une formation",
        "parameters": [
          {
            "name": "Authorization",
            "in": "header",
            "required": true,
            "type": "string",
            "description": "Token \u00e0 transmettre pour authentification"
          },
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/Training"
            }
          }
        ],
        "responses": {
          "201": {
            "description": "Formation ajout\u00e9e"
          }
        },
        "x-token-type": "api",
        "x-application": "connector",
        "x-sql-request": "true"
      }
    },
    "/connectors-v2/trainings/{reference}": {
      "get": {
        "operationId": "getOneTraining",
        "tags": [
          "trainings"
        ],
        "summary": "R\u00e9cup\u00e9rer une formation",
        "description": "Permet de r\u00e9cup\u00e9rer une formation \u00e0 partir de sa r\u00e9f\u00e9rence",
        "parameters": [
          {
            "name": "Authorization",
            "in": "header",
            "required": true,
            "type": "string",
            "description": "Token \u00e0 transmettre pour authentification"
          },
          {
            "name": "reference",
            "in": "path",
            "required": true,
            "type": "string",
            "maxLength": 255,
            "description": "R\u00e9f\u00e9rence de la formation"
          }
        ],
        "responses": {
          "200": {
            "schema": {
              "$ref": "#/definitions/TrainingGetResponse"
            },
            "description": "Formation r\u00e9cup\u00e9r\u00e9e avec succ\u00e8s"
          }
        },
        "x-token-type": "api",
        "x-application": "connector",
        "x-sql-request": "true"
      },
      "delete": {
        "operationId": "deleteTraining",
        "tags": [
          "trainings"
        ],
        "summary": "Supprimer une formation",
        "description": "Permet de supprimer une formation \u00e0 partir de la r\u00e9f\u00e9rence",
        "parameters": [
          {
            "name": "Authorization",
            "in": "header",
            "required": true,
            "type": "string",
            "description": "Token \u00e0 transmettre pour authentification"
          },
          {
            "name": "reference",
            "in": "path",
            "required": true,
            "type": "string",
            "maxLength": 255,
            "description": "R\u00e9f\u00e9rence de la formation \u00e0 supprimer"
          }
        ],
        "responses": {
          "204": {
            "description": "Formation supprim\u00e9e"
          }
        },
        "x-token-type": "api",
        "x-application": "connector",
        "x-sql-request": "true"
      }
    },
    "/connectors-v2/trainings/{reference}/students": {
      "post": {
        "operationId": "addStudentsToTraining",
        "tags": [
          "trainings"
        ],
        "summary": "Associer l\u2019apprenant \u00e0 la formation avec cr\u00e9ation ou mise \u00e0 jour des donn\u00e9es de l\u2019apprenant si les donn\u00e9es de l\u2019apprenant sont renseign\u00e9es",
        "description": "Permet d\u2019associer l\u2019apprenant \u00e0 la formation avec cr\u00e9ation ou mise \u00e0 jour des donn\u00e9es de l\u2019apprenant si les donn\u00e9es de l\u2019apprenant sont renseign\u00e9es",
        "parameters": [
          {
            "name": "Authorization",
            "in": "header",
            "required": true,
            "type": "string",
            "description": "Token \u00e0 transmettre pour authentification"
          },
          {
            "name": "reference",
            "in": "path",
            "required": true,
            "type": "string",
            "maxLength": 255
          },
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/StudentTraining"
              }
            }
          }
        ],
        "responses": {
          "201": {
            "description": "Formation associ\u00e9e \u00e0 l\u2019apprenant"
          }
        },
        "x-token-type": "api",
        "x-application": "connector",
        "x-sql-request": "true"
      }
    },
    "/connectors-v2/trainings/{reference}/trainers": {
      "post": {
        "operationId": "addTrainersToTraining",
        "tags": [
          "trainings"
        ],
        "summary": "Associer le formateur \u00e0 la formation avec cr\u00e9ation ou mise \u00e0 jour des donn\u00e9es du formateur si les donn\u00e9es du formateur sont renseign\u00e9es",
        "description": "Permet d\u2019associer le formateur \u00e0 la formation avec cr\u00e9ation ou mise \u00e0 jour des donn\u00e9es du formateur si les donn\u00e9es du formateur sont renseign\u00e9es",
        "parameters": [
          {
            "name": "Authorization",
            "in": "header",
            "required": true,
            "type": "string",
            "description": "Token \u00e0 transmettre pour authentification"
          },
          {
            "name": "reference",
            "in": "path",
            "required": true,
            "type": "string",
            "maxLength": 255
          },
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/TrainerTraining"
              }
            }
          }
        ],
        "responses": {
          "201": {
            "description": "Formation associ\u00e9e au formateur"
          }
        },
        "x-token-type": "api",
        "x-application": "connector",
        "x-sql-request": "true"
      }
    }
  },
  "definitions": {
    "InternshipsResponse": {
      "type": "object",
      "properties": {
        "reference": {
          "type": "string",
          "maxLength": 255,
          "description": "R\u00e9f\u00e9rence unique du stage en entreprise",
          "example": "stage001"
        },
        "student": {
          "type": "string",
          "maxLength": 255,
          "description": "R\u00e9f\u00e9rence de l\u2019apprenant li\u00e9 au stage",
          "example": "student001"
        },
        "status": {
          "type": "string",
          "enum": [
            "created",
            "studentInput",
            "studentLate",
            "tutorValidation",
            "tutorLate",
            "managerValidation",
            "managerLate",
            "terminated",
            "canceled"
          ],
          "default": "created"
        },
        "start": {
          "type": "string",
          "format": "date-time",
          "maxLength": 255,
          "description": "Date de d\u00e9but du stage",
          "example": "2021-11-03T10:30:00+00:00"
        },
        "end": {
          "type": "string",
          "format": "date",
          "maxLength": 255,
          "description": "Date de fin du stage",
          "example": "2021-11-04T10:30:00+00:00"
        }
      }
    },
    "InternshipResponse": {
      "type": "object",
      "properties": {
        "status": {
          "type": "string",
          "enum": [
            "created",
            "studentInput",
            "studentLate",
            "tutorValidation",
            "tutorLate",
            "managerValidation",
            "managerLate",
            "terminated",
            "canceled"
          ],
          "default": "created"
        },
        "reference": {
          "type": "string",
          "maxLength": 255,
          "description": "R\u00e9f\u00e9rence unique du stage en entreprise",
          "example": "stage001"
        },
        "name": {
          "type": "string",
          "maxLength": 255,
          "description": "Nom du stage en entreprise",
          "example": "Stage d\u00e9veloppement web"
        },
        "place": {
          "type": "string",
          "maxLength": 255,
          "description": "Lieu du stage en entreprise",
          "example": "Nantes"
        },
        "company": {
          "type": "string",
          "maxLength": 255,
          "description": "Entreprise du stage en entreprise",
          "example": "SoWeSign"
        },
        "start": {
          "type": "string",
          "format": "date-time",
          "maxLength": 255,
          "description": "Date de d\u00e9but du stage",
          "example": "2021-11-03T10:30:00+00:00"
        },
        "end": {
          "type": "string",
          "format": "date",
          "maxLength": 255,
          "description": "Date de fin du stage",
          "example": "2021-11-04T10:30:00+00:00"
        },
        "durationTheorical": {
          "type": "integer",
          "description": "Dur\u00e9e th\u00e9orique du stage en minute",
          "example": "120"
        },
        "durationMax": {
          "type": "integer",
          "description": "Dur\u00e9e maximum du stage en minute",
          "example": "120"
        },
        "durationMin": {
          "type": "integer",
          "description": "Dur\u00e9e minimum du stage en minute",
          "example": "100"
        },
        "student": {
          "type": "string",
          "maxLength": 255,
          "description": "R\u00e9f\u00e9rence du stagiaire",
          "example": "student001"
        },
        "studentEmail": {
          "type": "string",
          "maxLength": 255,
          "description": "Mail du stagiaire",
          "example": "pierre.dupond@gmail.com"
        },
        "studentFirstName": {
          "type": "string",
          "minLength": 1,
          "maxLength": 255,
          "description": "Pr\u00e9nom du stagiaire",
          "example": "Pierre"
        },
        "studentLastName": {
          "type": "string",
          "minLength": 1,
          "maxLength": 255,
          "description": "Nom du stagiaire",
          "example": "Dupond"
        },
        "tutorEmail": {
          "type": "string",
          "maxLength": 255,
          "description": "Mail du tuteur",
          "example": "jean.dupont@gmail.com"
        },
        "tutorFirstName": {
          "type": "string",
          "minLength": 1,
          "maxLength": 255,
          "description": "Pr\u00e9nom du tuteur",
          "example": "Jean"
        },
        "tutorLastName": {
          "type": "string",
          "minLength": 1,
          "maxLength": 255,
          "description": "Nom du tuteur",
          "example": "Dupond"
        },
        "institution": {
          "type": "string",
          "maxLength": 255,
          "description": "R\u00e9f\u00e9rence de l\u2019\u00e9tablissement",
          "example": "INS001"
        },
        "manager": {
          "type": "string",
          "maxLength": 255,
          "description": "R\u00e9f\u00e9rence du manager",
          "example": "MAN001"
        },
        "modality": {
          "type": "string",
          "enum": [
            "local",
            "remote",
            "mixed"
          ],
          "default": "local",
          "description": "Modalit\u00e9 du stage"
        },
        "comment": {
          "type": "string",
          "maxLength": 500,
          "description": "Commentaire",
          "example": "Ceci est un commentaire"
        },
        "keywords": {
          "type": "string",
          "maxLength": 500,
          "description": "Mots cl\u00e9s",
          "example": "Sws Stage local"
        },
        "synchronizedOn": {
          "type": "string",
          "format": "date-time",
          "maxLength": 255,
          "description": "Date de synchronisation",
          "example": "2022-04-19T09:22:32+00:00"
        },
        "studentAccess": {
          "type": "boolean",
          "default": false,
          "description": "Acc\u00e8s de l\u2019apprenant"
        },
        "tutorAccess": {
          "type": "boolean",
          "default": false,
          "description": "Acc\u00e8s du tuteur"
        },
        "data": {
          "type": "object",
          "description": "data"
        },
        "documents": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/InternshipDocumentResponse"
          },
          "description": "Documents li\u00e9s au stage"
        }
      }
    },
    "InternshipDocumentResponse": {
      "type": "object",
      "properties": {
        "id": {
          "type": "integer",
          "description": "Identifiant du document"
        },
        "filename": {
          "type": "string",
          "maxLength": 255,
          "description": "Nom du fichier",
          "example": "certificat.pdf"
        },
        "subtype": {
          "type": "string",
          "maxLength": 255,
          "description": "Sous type du document",
          "example": "justificatif"
        },
        "url": {
          "type": "string",
          "description": "Url du document",
          "example": "https://storage.com/certificat.pdf"
        }
      }
    },
    "InternshipCreate": {
      "type": "object",
      "required": [
        "reference",
        "name",
        "company",
        "start",
        "end",
        "student",
        "studentEmail",
        "tutorFirstName",
        "tutorLastName",
        "tutorEmail",
        "modality"
      ],
      "properties": {
        "status": {
          "type": "string",
          "enum": [
            "created",
            "studentInput",
            "studentLate",
            "tutorValidation",
            "tutorLate",
            "managerValidation",
            "managerLate"
          ],
          "default": "created"
        },
        "reference": {
          "type": "string",
          "maxLength": 255,
          "description": "R\u00e9f\u00e9rence unique du stage en entreprise",
          "example": "stage001"
        },
        "name": {
          "type": "string",
          "maxLength": 255,
          "description": "Nom du stage en entreprise",
          "example": "stage 001"
        },
        "place": {
          "type": "string",
          "maxLength": 255,
          "description": "Lieu du stage en entreprise",
          "example": "Nantes"
        },
        "company": {
          "type": "string",
          "maxLength": 255,
          "description": "Entreprise du stage en entreprise",
          "example": "SoWeSign"
        },
        "start": {
          "type": "string",
          "format": "date-time",
          "maxLength": 255,
          "description": "Date de d\u00e9but du stage",
          "example": "2021-11-03T10:30:00+00:00"
        },
        "end": {
          "type": "string",
          "format": "date-time",
          "maxLength": 255,
          "description": "Date de fin du stage",
          "example": "2021-11-04T10:30:00+00:00"
        },
        "durationTheorical": {
          "type": "integer",
          "description": "Dur\u00e9e th\u00e9orique du stage en minute",
          "example": "120"
        },
        "durationMax": {
          "type": "integer",
          "description": "Dur\u00e9e maximum du stage en minute",
          "example": "120"
        },
        "durationMin": {
          "type": "integer",
          "description": "Dur\u00e9e minimum du stage en minute",
          "example": "100"
        },
        "student": {
          "type": "string",
          "maxLength": 255,
          "description": "R\u00e9f\u00e9rence du stagiaire",
          "example": "student001"
        },
        "studentEmail": {
          "type": "string",
          "maxLength": 255,
          "pattern": "^(([^<>()\\[\\]\\\\.,;:\\s@\"]+(\\.[^<>()\\[\\]\\\\.,;:\\s@\"]+)*)|(\".+\"))@((\\[[0-9]{1,3}(\\.[0-9]{1,3}){3}\\])|(([a-zA-Z\\-0-9]+\\.)+[a-zA-Z]{2,}))$",
          "description": "Mail du stagiaire",
          "example": "pierre.dupond@gmail.com"
        },
        "studentRightAccess": {
          "type": "boolean",
          "description": "Acc\u00e8s au portail stagiaire"
        },
        "tutorEmail": {
          "type": "string",
          "maxLength": 255,
          "pattern": "^(([^<>()\\[\\]\\\\.,;:\\s@\"]+(\\.[^<>()\\[\\]\\\\.,;:\\s@\"]+)*)|(\".+\"))@((\\[[0-9]{1,3}(\\.[0-9]{1,3}){3}\\])|(([a-zA-Z\\-0-9]+\\.)+[a-zA-Z]{2,}))$",
          "description": "Mail du tuteur",
          "example": "jean.dupont@gmail.com"
        },
        "tutorFirstName": {
          "type": "string",
          "minLength": 1,
          "maxLength": 255,
          "description": "Pr\u00e9nom du tuteur",
          "example": "Jean"
        },
        "tutorLastName": {
          "type": "string",
          "minLength": 1,
          "maxLength": 255,
          "description": "Nom du tuteur",
          "example": "Dupond"
        },
        "tutorRightAccess": {
          "type": "boolean",
          "description": "Acc\u00e8s au portail tuteur"
        },
        "institution": {
          "type": "string",
          "maxLength": 255,
          "description": "R\u00e9f\u00e9rence de l\u2019\u00e9tablissement",
          "example": "INS001"
        },
        "manager": {
          "type": "string",
          "maxLength": 255,
          "description": "R\u00e9f\u00e9rence du manager",
          "example": "MAN001"
        },
        "modality": {
          "type": "string",
          "enum": [
            "local",
            "remote",
            "mixed"
          ],
          "default": "local",
          "description": "Modalit\u00e9 du stage"
        },
        "comment": {
          "type": "string",
          "maxLength": 500,
          "description": "Commentaire",
          "example": "Ceci est un commentaire"
        },
        "keywords": {
          "type": "string",
          "maxLength": 500,
          "description": "Mots cl\u00e9s",
          "example": "Local Stage SWS"
        }
      }
    },
    "EmailInternship": {
      "type": "object",
      "properties": {
        "type": {
          "type": "string",
          "enum": [
            "student",
            "tutor"
          ],
          "description": "Mail au stagiaire ou au tuteur",
          "example": "student"
        }
      }
    },
    "Statistics": {
      "type": "object",
      "properties": {
        "totalAssiduities": {
          "type": "integer",
          "description": "Nombre total d'assiduit\u00e9s"
        },
        "totalPdfDocuments": {
          "type": "integer",
          "description": "Nombre total d'assiduit\u00e9s"
        }
      }
    },
    "BillingInformation": {
      "type": "object",
      "properties": {
        "paidAssiduities": {
          "type": "integer",
          "description": "Nombre d'assiduit\u00e9s achet\u00e9es "
        }
      }
    },
    "QuestionnairesResponse": {
      "type": "object",
      "properties": {
        "reference": {
          "type": "string",
          "maxLength": 255,
          "description": "Reference du questionnaire"
        },
        "label": {
          "type": "string",
          "maxLength": 255,
          "description": "Libell\u00e9 du questionnaire"
        },
        "type": {
          "type": "string",
          "enum": [
            "beforeTraining",
            "duringTraining",
            "afterTrainingImmediate",
            "afterTrainingDelayed",
            "other"
          ],
          "description": "Type du questionnaire"
        },
        "targetAudience": {
          "type": "string",
          "enum": [
            "students",
            "trainers",
            "financers",
            "tutors",
            "other",
            "responsibles"
          ],
          "description": "Public vis\u00e9e du questionnaire"
        },
        "keywords": {
          "type": "string",
          "maxLength": 255,
          "description": "Mots-cl\u00e9s du questionnaire"
        }
      }
    },
    "CreateUpdateQuestionnaire": {
      "type": "object",
      "required": [
        "reference",
        "label"
      ],
      "properties": {
        "reference": {
          "type": "string",
          "maxLength": 255,
          "description": "R\u00e9f\u00e9rence du questionnaire"
        },
        "label": {
          "type": "string",
          "maxLength": 255,
          "description": "Libell\u00e9 du questionnaire"
        },
        "type": {
          "type": "string",
          "enum": [
            "beforeTraining",
            "duringTraining",
            "afterTrainingImmediate",
            "afterTrainingDelayed",
            "other"
          ],
          "description": "Type du questionnaire"
        },
        "targetAudience": {
          "type": "string",
          "enum": [
            "students",
            "trainers",
            "financers",
            "tutors",
            "other",
            "responsibles"
          ],
          "description": "Public vis\u00e9e du questionnaire"
        },
        "keywords": {
          "type": "string",
          "maxLength": 255,
          "description": "Mots-cl\u00e9s du questionnaire"
        },
        "expirationDelay": {
          "type": "integer",
          "description": "D\u00e9lai d'expiration du questionnaire en jours"
        },
        "transmissionEmail": {
          "type": "boolean",
          "description": "Mode de transmission par email"
        },
        "transmissionLink": {
          "type": "boolean",
          "description": "Mode de transmission par lien/QR Code"
        },
        "triggerMode": {
          "type": "string",
          "enum": [
            "manual",
            "course"
          ],
          "description": "Mode de d\u00e9clenchement de l'enqu\u00eate"
        },
        "triggerDelay": {
          "type": "integer",
          "description": "D\u00e9lai de d\u00e9clenchement de l'enqu\u00eate"
        },
        "triggerDelayUnit": {
          "type": "string",
          "enum": [
            "minute",
            "hour",
            "day"
          ],
          "description": "Unit\u00e9 de temps pour le d\u00e9lai de d\u00e9clenchement de l'enqu\u00eate"
        },
        "triggerTemporality": {
          "type": "string",
          "enum": [
            "before",
            "after"
          ],
          "description": "Si le type est onDay, il faut savoir si c'est avant ou apr\u00e8s la s\u00e9ance"
        },
        "triggerStart": {
          "type": "string",
          "enum": [
            "start",
            "end"
          ],
          "description": "Si le type est onDay, il faut savoir si on prend en compte le d\u00e9but ou la fin de la s\u00e9ance"
        },
        "messageIntroduction": {
          "type": "string",
          "maxLength": 4000,
          "description": "Message d'introduction pour l'enqu\u00eate"
        },
        "messageValidation": {
          "type": "string",
          "maxLength": 4000,
          "description": "Message de validation pour l'enqu\u00eate"
        },
        "isAnonymous": {
          "type": "boolean",
          "description": "Le r\u00e9pondant est anonyme ou non"
        },
        "respondentName": {
          "type": "string",
          "enum": [
            "none",
            "optional",
            "required"
          ],
          "description": "Permet \u00e0 l'apprenant de saisir son nom/pr\u00e9nom"
        },
        "canSelectCompany": {
          "type": "boolean",
          "description": "Impose de choisir une entreprise pour le r\u00e9pondant dans le r\u00e9f\u00e9rentiel sowesign"
        },
        "canSelectTraining": {
          "type": "boolean",
          "description": "Choix de la formation dans le r\u00e9f\u00e9rentiel Sowesign"
        },
        "canSelectTrainingDate": {
          "type": "boolean",
          "description": "Impose une date de d\u00e9but et de fin"
        },
        "canSelectTrainer": {
          "type": "boolean",
          "description": "Impose de choisir un formateur qui \u00e0 dispens\u00e9 la formation dans le r\u00e9f\u00e9rentiel sowesign"
        },
        "canSelectPlace": {
          "type": "boolean",
          "description": "Impose de choisir un lieu ou s'est d\u00e9roul\u00e9 la formation dans le r\u00e9f\u00e9rentiel sowesign"
        },
        "canSelectCampus": {
          "type": "boolean",
          "description": "Impose de choisir un campus ou s'est d\u00e9roul\u00e9 la formation dans le r\u00e9f\u00e9rentiel sowesign"
        },
        "enableEmailReminder": {
          "type": "boolean",
          "description": "Active l'email de relance pour le questionnaire"
        },
        "emailReminderDelay": {
          "type": "string",
          "description": "D\u00e9lai de l'email de relance"
        },
        "emailInitial": {
          "$ref": "#/definitions/EmailsLang"
        },
        "emailReminder": {
          "$ref": "#/definitions/EmailsLang"
        },
        "emailIndividualStudent": {
          "$ref": "#/definitions/EmailsLang"
        },
        "emailIndividualResponsible": {
          "$ref": "#/definitions/EmailsLang"
        },
        "emailIndividualOther": {
          "$ref": "#/definitions/EmailsLang"
        },
        "emailGlobalManager": {
          "$ref": "#/definitions/EmailsLang"
        },
        "emailGlobalTrainer": {
          "$ref": "#/definitions/EmailsLang"
        },
        "emailGlobalOther": {
          "$ref": "#/definitions/EmailsLang"
        },
        "logo": {
          "type": "string",
          "description": "Logo du questionnaire au format PNG encod\u00e9 en base64",
          "example": "data:image/png;base64,XXXXXXX"
        },
        "mainLang": {
          "type": "string",
          "enum": [
            "fr",
            "en",
            "cs",
            "pt",
            "es",
            "zh",
            "de",
            "nl",
            "it"
          ],
          "maxLength": 255,
          "description": "Langue principale du questionnaire"
        },
        "evaluationModel": {
          "type": "string",
          "maxLength": 255,
          "description": "R\u00e9f\u00e9rence du mod\u00e8le d'\u00e9valuation associ\u00e9 au questionnaire"
        },
        "institution": {
          "type": "string",
          "maxLength": 255,
          "description": "R\u00e9f\u00e9rence de l'\u00e9tablissement associ\u00e9 au questionnaire"
        }
      }
    },
    "QuestionnaireResponse": {
      "type": "object",
      "properties": {
        "reference": {
          "type": "string",
          "maxLength": 255,
          "description": "R\u00e9f\u00e9rence du questionnaire"
        },
        "label": {
          "type": "string",
          "maxLength": 255,
          "description": "Libell\u00e9 du questionnaire"
        },
        "used": {
          "type": "boolean",
          "description": "D\u00e9termine si au moins une enqu\u00eate associ\u00e9e est d\u00e9clench\u00e9e"
        },
        "type": {
          "type": "string",
          "enum": [
            "beforeTraining",
            "duringTraining",
            "afterTrainingImmediate",
            "afterTrainingDelayed",
            "other"
          ],
          "description": "Type du questionnaire"
        },
        "targetAudience": {
          "type": "string",
          "enum": [
            "students",
            "trainers",
            "financers",
            "tutors",
            "other",
            "responsibles"
          ],
          "description": "Public vis\u00e9e du questionnaire"
        },
        "keywords": {
          "type": "string",
          "maxLength": 255,
          "description": "Mots-cl\u00e9s du questionnaire"
        },
        "expirationDelay": {
          "type": "integer",
          "description": "D\u00e9lai d'expiration du questionnaire en jours"
        },
        "transmissionEmail": {
          "type": "boolean",
          "description": "Mode de transmission par mail"
        },
        "transmissionLink": {
          "type": "boolean",
          "description": "Mode de transmission par lien/QR Code"
        },
        "triggerMode": {
          "type": "string",
          "enum": [
            "manual",
            "course"
          ],
          "description": "Mode de d\u00e9clenchement de l'enqu\u00eate"
        },
        "triggerDelay": {
          "type": "integer",
          "description": "D\u00e9lai de d\u00e9clenchement de l'enqu\u00eate en minutes"
        },
        "triggerDelayUnit": {
          "type": "string",
          "enum": [
            "minute",
            "hour",
            "day"
          ],
          "description": "Unit\u00e9 de temps pour le d\u00e9lai de d\u00e9clenchement de l'enqu\u00eate"
        },
        "triggerTemporality": {
          "type": "string",
          "enum": [
            "before",
            "after"
          ],
          "description": "Si le type est onDay, il faut savoir si c'est avant ou apr\u00e8s la s\u00e9ance"
        },
        "triggerStart": {
          "type": "string",
          "enum": [
            "start",
            "end"
          ],
          "description": "Si le type est onDay, il faut savoir si on prend en compte le d\u00e9but ou la fin de la s\u00e9ance"
        },
        "messageIntroduction": {
          "type": "string",
          "maxLength": 4000,
          "description": "Message d'introduction pour l'enqu\u00eate"
        },
        "messageValidation": {
          "type": "string",
          "maxLength": 4000,
          "description": "Message de validation pour l'enqu\u00eate"
        },
        "isAnonymous": {
          "type": "boolean",
          "description": "Le r\u00e9pondant est anonyme ou non"
        },
        "respondentName": {
          "type": "string",
          "enum": [
            "none",
            "optional",
            "required"
          ],
          "description": "Permet \u00e0 l'apprenant de saisir son nom/pr\u00e9nom"
        },
        "canSelectCompany": {
          "type": "boolean",
          "description": "Impose de choisir une entreprise pour le r\u00e9pondant dans le r\u00e9f\u00e9rentiel sowesign"
        },
        "canSelectTraining": {
          "type": "boolean",
          "description": "Choix de la formation dans le r\u00e9f\u00e9rentiel sowesign"
        },
        "canSelectTrainingDate": {
          "type": "boolean",
          "description": "Impose une date de d\u00e9but et de fin"
        },
        "canSelectTrainer": {
          "type": "boolean",
          "description": "Impose de choisir un formateur qui \u00e0 dispens\u00e9 la formation dans le r\u00e9f\u00e9rentiel sowesign"
        },
        "canSelectPlace": {
          "type": "boolean",
          "description": "Impose de choisir un lieu ou s'est d\u00e9roul\u00e9 la formation dans le r\u00e9f\u00e9rentiel sowesign"
        },
        "canSelectCampus": {
          "type": "boolean",
          "description": "Impose de choisir un campus ou s'est d\u00e9roul\u00e9 la formation dans le r\u00e9f\u00e9rentiel sowesign"
        },
        "enableEmailReminder": {
          "type": "boolean",
          "description": "Active l'email de relance pour le questionnaire"
        },
        "emailReminderDelay": {
          "type": "string",
          "description": "D\u00e9lai de l'email de relance"
        },
        "questionnaire": {
          "type": "object",
          "description": "Questionnaire au format JSON"
        },
        "emailInitial": {
          "$ref": "#/definitions/EmailsLang"
        },
        "emailReminder": {
          "$ref": "#/definitions/EmailsLang"
        },
        "emailIndividualStudent": {
          "$ref": "#/definitions/EmailsLang"
        },
        "emailIndividualResponsible": {
          "$ref": "#/definitions/EmailsLang"
        },
        "emailIndividualOther": {
          "$ref": "#/definitions/EmailsLang"
        },
        "emailGlobalManager": {
          "$ref": "#/definitions/EmailsLang"
        },
        "emailGlobalTrainer": {
          "$ref": "#/definitions/EmailsLang"
        },
        "emailGlobalOther": {
          "$ref": "#/definitions/EmailsLang"
        },
        "logo": {
          "type": "string",
          "description": "Logo du questionnaire au format PNG encod\u00e9 en base64",
          "example": "data:image/png;base64,XXXXXXX"
        },
        "mainLang": {
          "type": "string",
          "enum": [
            "fr",
            "en",
            "cs",
            "pt",
            "es",
            "zh",
            "de",
            "nl",
            "it"
          ],
          "maxLength": 255,
          "description": "Langue principale du questionnaire"
        },
        "evaluationModel": {
          "type": "string",
          "maxLength": 255,
          "description": "R\u00e9f\u00e9rence du mod\u00e8le d'\u00e9valuation associ\u00e9 au questionnaire"
        },
        "institution": {
          "type": "string",
          "maxLength": 255,
          "description": "R\u00e9f\u00e9rence de l'\u00e9tablissement associ\u00e9 au questionnaire"
        }
      }
    },
    "FormsSurveysResponse": {
      "type": "object",
      "properties": {
        "reference": {
          "type": "string",
          "maxLength": 255,
          "description": "R\u00e9f\u00e9rence de l'enqu\u00eate"
        },
        "status": {
          "type": "string",
          "enum": [
            "canceled",
            "inProgress",
            "inComing",
            "expired"
          ],
          "description": "Statut de l'enqu\u00eate"
        },
        "trigger": {
          "type": "string",
          "format": "date-time",
          "description": "Date de d\u00e9clenchement de l'enqu\u00eate",
          "example": "2025-03-13T00:00:00+00:00"
        },
        "questionnaire": {
          "type": "object",
          "properties": {
            "reference": {
              "type": "string",
              "maxLength": 255,
              "description": "R\u00e9f\u00e9rence du questionnaire associ\u00e9 \u00e0 l'enqu\u00eate"
            },
            "label": {
              "type": "string",
              "maxLength": 255,
              "description": "Libell\u00e9 du questionnaire associ\u00e9 \u00e0 l'enqu\u00eate"
            }
[...]
