{
  "swagger": "2.0",
  "info": {
    "description": "API implementation for Exhangehub functionalities",
    "version": "1.0",
    "title": "ExchangeHub",
    "x-jentic-source-url": "https://api.swaggerhub.com/apis/rajeshpi88/ExchangeHub/1.0"
  },
  "host": "devigw.hyphen.co.za",
  "basePath": "/exchangehub/v1",
  "produces": [
    "application/json"
  ],
  "consumes": [
    "application/json"
  ],
  "schemes": [
    "https"
  ],
  "securityDefinitions": {
    "openIdConnectAuth": {
      "type": "oauth2",
      "flow": "accessCode",
      "authorizationUrl": "https://johnToConfirm.co.za",
      "tokenUrl": "https://devportal.hyphen.co.za/auth/realms/HyphenRealm/protocol/openid-connect/token",
      "scopes": {
        "email": "Required",
        "profile": "Access to user info"
      }
    }
  },
  "definitions": {
    "GetDocumentRequest": {
      "type": "object",
      "properties": {
        "request": {
          "type": "object",
          "properties": {
            "requestHeader": {
              "type": "object",
              "properties": {
                "senderMessageID": {
                  "type": "string",
                  "example": "951eac4c-d460-49a1-832e-8b1840a814ee",
                  "format": "uuid",
                  "maxLength": 36,
                  "minLength": 1
                },
                "sourceSystem": {
                  "type": "string",
                  "example": "BITECH"
                },
                "targetSystem": {
                  "type": "string",
                  "example": "ExchangeHub"
                },
                "clientCorrelationID": {
                  "type": "string",
                  "example": "951eac4c-d460-49a1-832e-8b1840a814ee",
                  "format": "uuid",
                  "maxLength": 36,
                  "minLength": 1
                },
                "requestTimestamp": {
                  "type": "string",
                  "pattern": "^\\d{4}-(0[1-9]|1[0-2])-(0[1-9]|[12]\\d|3[01])T([01]\\d|2[0-3]):[0-5]\\d:[0-5]\\d:\\d{3}$",
                  "example": "2026-02-13T05:35:39:223"
                },
                "x-ID": {
                  "type": "string",
                  "example": "12345"
                }
              },
              "required": [
                "senderMessageID",
                "x-ID",
                "clientCorrelationID",
                "requestTimestamp"
              ]
            },
            "requestDetails": {
              "type": "object",
              "properties": {
                "documentID": {
                  "type": "string",
                  "example": "0001"
                },
                "documentName": {
                  "type": "string",
                  "example": "COB_document.pdf"
                }
              },
              "required": [
                "documentID",
                "documentName"
              ]
            }
          },
          "required": [
            "requestHeader",
            "requestDetails"
          ]
        }
      },
      "required": [
        "request"
      ]
    },
    "GetDocumentResponse": {
      "type": "object",
      "properties": {
        "response": {
          "$ref": "#/definitions/ResponseWrapper"
        }
      }
    },
    "GetDocumentResponseBadRequest": {
      "type": "object",
      "properties": {
        "response": {
          "$ref": "#/definitions/BadRequestResponseWrapper"
        }
      }
    },
    "ResponseWrapper": {
      "type": "object",
      "properties": {
        "responseHeader": {
          "$ref": "#/definitions/ResponseHeader"
        },
        "responseDetails": {
          "$ref": "#/definitions/GetDocumentResponseDetails"
        }
      }
    },
    "BadRequestResponseWrapper": {
      "type": "object",
      "properties": {
        "responseHeader": {
          "$ref": "#/definitions/ResponseHeader"
        },
        "responseDetails": {
          "$ref": "#/definitions/BadRequestGetDocumentResponseDetails"
        }
      }
    },
    "ResponseHeader": {
      "type": "object",
      "properties": {
        "senderMessageID": {
          "type": "string",
          "format": "uuid",
          "example": "951eac4c-d460-49a1-832e-8b1840a814ee"
        },
        "sourceSystem": {
          "type": "string",
          "example": "BITECH"
        },
        "targetSystem": {
          "type": "string",
          "example": "ExchangeHub"
        },
        "responseID": {
          "type": "string",
          "format": "uuid",
          "example": "25573b0c-1758-4fd5-8595-79ceab5a169d"
        },
        "hyphenCorrelationID": {
          "type": "string",
          "format": "uuid",
          "example": "3f1d08b3-6438-4878-b5f7-887fb139835b"
        },
        "clientCorrelationID": {
          "type": "string",
          "format": "uuid",
          "example": "951eac4c-d460-49a1-832e-8b1840a814ee"
        },
        "x-ID": {
          "type": "string",
          "example": "12345"
        }
      }
    },
    "GetDocumentResponseDetails": {
      "type": "object",
      "properties": {
        "documentID": {
          "type": "string",
          "example": "0001"
        },
        "documentName": {
          "type": "string",
          "example": "COB_document.pdf"
        },
        "documentData": {
          "type": "string",
          "example": "%PDF-1.3....",
          "description": "Base64 encoded PDF content"
        },
        "messageResponse": {
          "$ref": "#/definitions/MessageResponse"
        }
      }
    },
    "BadRequestGetDocumentResponseDetails": {
      "type": "object",
      "properties": {
        "messageResponse": {
          "$ref": "#/definitions/BadRequestMessageResponse"
        },
        "messageErrors": {
          "$ref": "#/definitions/MessageError"
        }
      }
    },
    "BadRequestMessageResponse": {
      "type": "object",
      "properties": {
        "messageType": {
          "type": "string",
          "example": "NACK"
        },
        "messageCode": {
          "type": "string",
          "example": "REJECTED"
        },
        "messageDescription": {
          "type": "string",
          "example": "Schema Validation Failure"
        }
      }
    },
    "MessageResponse": {
      "type": "object",
      "properties": {
        "messageType": {
          "type": "string",
          "example": "ACK"
        },
        "messageCode": {
          "type": "string",
          "example": "ACCEPTED"
        },
        "messageDescription": {
          "type": "string",
          "example": "Document retrieved successfully."
        }
      }
    },
    "MessageError": {
      "type": "object",
      "properties": {
        "errorCode": {
          "type": "string",
          "example": "400/500"
        },
        "errorDescription": {
          "type": "string",
          "example": "Mandatory value not sent etc."
        }
      }
    },
    "401Error": {
      "type": "object",
      "properties": {
        "Exception": {
          "type": "string",
          "example": "API Gateway encountered an error. Error Message:  Token specified is invalid or has expired.. Request Details: Service - hyp_istn_pal, Operation - /sample/sample, Invocation Time:10:37:22 AM, Date:Mar 17, 2026,  Client IP - 192.168.40.194, User - Default and Application:Authentication Application"
        }
      }
    }
  },
  "paths": {
    "/pda/cp/documents/request": {
      "post": {
        "summary": "Submit Get Document request",
        "security": [
          {
            "openIdConnectAuth": []
          }
        ],
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/GetDocumentRequest"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "schema": {
              "$ref": "#/definitions/GetDocumentResponse"
            }
          },
          "400": {
            "description": "Invalid request",
            "schema": {
              "$ref": "#/definitions/GetDocumentResponseBadRequest"
            }
          },
          "401": {
            "description": "Unauthorized",
            "schema": {
              "$ref": "#/definitions/401Error"
            }
          },
          "500": {
            "description": "Internal Error",
            "schema": {
              "$ref": "#/definitions/GetDocumentResponseBadRequest"
            }
          }
        }
      }
    },
    "/pda/dc/documents/reminder": {
      "post": {
        "consumes": [],
        "parameters": []
      }
    },
    "/pda/cp/documents/upload": {
      "post": {
        "consumes": [],
        "parameters": []
      }
    },
    "/pda/dc/documents/upload": {
      "post": {
        "consumes": [],
        "parameters": []
      }
    },
    "/pda/dc/documents/process/initiate": {
      "post": {
        "consumes": [],
        "parameters": []
      }
    },
    "/pda/dc/documents/list": {
      "get": {
        "consumes": [],
        "parameters": []
      }
    },
    "/pda/cp/documents/list": {
      "get": {
        "consumes": [],
        "parameters": []
      }
    },
    "/pda/cp/documents/receipt": {
      "post": {
        "consumes": [],
        "parameters": []
      }
    },
    "/pda/dc/documents/request": {
      "post": {
        "summary": "Submit Get Document request",
        "security": [
          {
            "openIdConnectAuth": []
          }
        ],
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/GetDocumentRequest"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "schema": {
              "$ref": "#/definitions/GetDocumentResponse"
            }
          },
          "400": {
            "description": "Invalid request",
            "schema": {
              "$ref": "#/definitions/GetDocumentResponseBadRequest"
            }
          },
          "401": {
            "description": "Unauthorized",
            "schema": {
              "$ref": "#/definitions/401Error"
            }
          },
          "500": {
            "description": "Internal Error",
            "schema": {
              "$ref": "#/definitions/GetDocumentResponseBadRequest"
            }
          }
        }
      }
    }
  }
}