{
  "swagger": "2.0",
  "info": {
    "version": "1.0",
    "title": "BAYAN",
    "x-jentic-source-url": "https://api.swaggerhub.com/apis/OCP/bayan/1.0"
  },
  "host": "stc.com.sa:8085",
  "basePath": "/rad/EE_Customer_CustProfileMgmt.custDetMgmt.bayan.restful.provider:bayan",
  "schemes": [
    "http",
    "https"
  ],
  "consumes": [
    "application/json"
  ],
  "produces": [
    "application/json"
  ],
  "paths": {
    "/getBayanInfo": {
      "get": {
        "description": "ID: EEINT_000318\r\n-------------------------------------------\r\nDeveloper: Tanveer Iqbal\r\nDesigner: Ranjay Kumar\r\nDate (DD/MM/YYYY): 09/09/2025\r\nJira Task Number:  DXDT-20207\r\nChange Description: REST API for consumer CXPMSS to provide bayan data\r\n\r\nDeveloper: Abdul Juneed\r\nDesigner: Pavan Velaga\r\nDate: 17/11/2025 \r\nJira Task Number:  SBM-72\r\nDescription: As part for CR# SBM-40, there are changes to getBayanInfo request and response based on the BAYAN's new compact API.",
        "operationId": "getBayanInfo_GET_1",
        "parameters": [
          {
            "in": "header",
            "name": "X-STC-ESB-SystemId",
            "description": "An Identifier to identify sender system\n Example: ESB",
            "required": true,
            "type": "string"
          },
          {
            "in": "header",
            "name": "X-STC-ESB-ClientMsgRef",
            "description": "A value received from the consumer as a Header \n Example: 123e4567-e89b-12d3-a456-426655440000",
            "required": true,
            "type": "string"
          },
          {
            "in": "header",
            "name": "X-STC-ESB-CorrelationRef",
            "description": "A unique identifier value that is attached to requests \n Example: 123e4567-e89b-12d3-a456-426655440000",
            "required": false,
            "type": "string"
          },
          {
            "in": "header",
            "name": "X-STC-ESB-Timestamp",
            "description": "Timestamp when the message was transmitted by client. \n Example: 2021-03-2021T23:00:00",
            "required": true,
            "type": "string"
          },
          {
            "in": "header",
            "name": "X-STC-ESB-ServiceId",
            "description": "To identify the use cases. \n Example: getBayanInfo",
            "required": true,
            "type": "string"
          },
          {
            "name": "crNumber",
            "description": "A unique identifier value that is attached to requests. Either crNumber or nationalNumber must be provided.",
            "in": "query",
            "required": false,
            "type": "string"
          },
          {
            "name": "nationalNumber",
            "description": "A unique identifier value that is attached to requests. Either crNumber or nationalNumber must be provided.  Should start by 7 with 10 digits (7xxxxxxxxx).",
            "in": "query",
            "required": false,
            "type": "string"
          },
          {
            "name": "consent",
            "in": "query",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/getBayanInfo_GET_response"
            }
          },
          "400": {
            "description": "Bad Request",
            "headers": {
              "X-STC-ESB-ClientMsgRef": {
                "type": "string",
                "description": "A client reference value that will be sent back as part of the response header. The parameter can be used by consumers for correlation purposes. This is an optional header.\nExample Value: ```8a969c6a-c28a-t546-gd79-961e68231a4```\n"
              },
              "X-STC-ESB-MsgRef": {
                "type": "string",
                "description": "A reference value that will be generaeted at ESB as part of the response header. The parameter can be used by consumers for inquiry in ESB purposes. This is a mandatory header.\nExample Value: ```8a969c6a-c28a-t546-gd79-961e68231a4```      \n"
              },
              "X-STC-ESB-ServiceId": {
                "type": "string",
                "description": "API name (getBayanInfo)   \n"
              },
              "X-STC-ESB-SystemId": {
                "type": "string",
                "description": "Error System name  \n"
              },
              "X-STC-ESB-Timestamp": {
                "type": "string",
                "description": "Timestamp when the message was transmitted by client. \n       Format YYYY-MM-DD'T'HH:MM:SS\n       \n       Sample: 2021-03-20T23:00:00\"\n"
              },
              "X-STC-ESB-CorrelationRef": {
                "type": "string",
                "description": "A Correlation Ref, also known as a Correlation ID, is a unique identifier value that is attached to requests and messages that allow reference to a particular transaction or event chain.\n\n      \n      Sample 32 digit UUID: 123e4567-e89b-12d3-a456-426655440000\n"
              }
            },
            "schema": {
              "$ref": "#/definitions/error"
            }
          },
          "500": {
            "description": "Access Denied",
            "headers": {
              "X-STC-ESB-ClientMsgRef": {
                "type": "string",
                "description": "A client reference value that will be sent back as part of the response header. The parameter can be used by consumers for correlation purposes. This is an optional header.\nExample Value: ```8a969c6a-c28a-t546-gd79-961e68231a4```\n"
              },
              "X-STC-ESB-MsgRef": {
                "type": "string",
                "description": "A reference value that will be generaeted at ESB as part of the response header. The parameter can be used by consumers for inquiry in ESB purposes. This is a mandatory header.\nExample Value: ```8a969c6a-c28a-t546-gd79-961e68231a4```      \n"
              },
              "X-STC-ESB-ServiceId": {
                "type": "string",
                "description": "API name (getBayanInfo)   \n"
              },
              "X-STC-ESB-SystemId": {
                "type": "string",
                "description": "Error System name  \n"
              },
              "X-STC-ESB-Timestamp": {
                "type": "string",
                "description": "Timestamp when the message was transmitted by client. \n       Format YYYY-MM-DD'T'HH:MM:SS\n       \n       Sample: 2021-03-20T23:00:00\"\n"
              },
              "X-STC-ESB-CorrelationRef": {
                "type": "string",
                "description": "A Correlation Ref, also known as a Correlation ID, is a unique identifier value that is attached to requests and messages that allow reference to a particular transaction or event chain.\n\n      \n      Sample 32 digit UUID: 123e4567-e89b-12d3-a456-426655440000\n"
              }
            },
            "schema": {
              "$ref": "#/definitions/error"
            }
          }
        }
      }
    }
  },
  "definitions": {
    "entityTypeCharacters": {
      "properties": {
        "companyCharacterId": {
          "type": "string"
        },
        "companyCharacterName": {
          "type": "string"
        }
      }
    },
    "profiles": {
      "properties": {
        "name": {
          "type": "string"
        },
        "nationalNumber": {
          "type": "string"
        },
        "countryCode": {
          "type": "string"
        },
        "countryName": {
          "type": "string"
        },
        "birthDate": {
          "type": "string"
        },
        "birthMonth": {
          "type": "string"
        },
        "birthYear": {
          "type": "string"
        },
        "designations": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/designations_1"
          }
        }
      }
    },
    "error": {
      "properties": {
        "code": {
          "type": "string"
        },
        "sourceCode": {
          "type": "string"
        },
        "sourceSystem": {
          "type": "string"
        },
        "reason": {
          "type": "string"
        },
        "reasonArabic": {
          "type": "string"
        },
        "referenceError": {
          "type": "string"
        }
      }
    },
    "getBayanInfo_GET_response": {
      "properties": {
        "crNumber": {
          "type": "string"
        },
        "companyArabicName": {
          "type": "string"
        },
        "crRegistrationStatus": {
          "type": "string"
        },
        "originNationalityCodeDescription": {
          "type": "string"
        },
        "legalForm": {
          "type": "string"
        },
        "nationalNumber": {
          "type": "string"
        },
        "crRegistrationDate": {
          "type": "string"
        },
        "crExpiryDate": {
          "type": "string"
        },
        "currency": {
          "type": "string"
        },
        "currencyDescription": {
          "type": "string"
        },
        "companyCapitalAmount": {
          "type": "string"
        },
        "paidupShareCapitalAmount": {
          "type": "string"
        },
        "totalSharesNumber": {
          "type": "string"
        },
        "townCode": {
          "type": "string"
        },
        "townCodeDescription": {
          "type": "string"
        },
        "companyContactNumber": {
          "type": "string"
        },
        "companyWebsite": {
          "type": "string"
        },
        "emailID": {
          "type": "string"
        },
        "companyUnitTypeCode": {
          "type": "string"
        },
        "sicCode": {
          "type": "string"
        },
        "industryName": {
          "type": "string"
        },
        "bayanDescriptionofLineofBusiness": {
          "type": "string"
        },
        "numberofBranches": {
          "type": "string"
        },
        "molEstablishmentNumber": {
          "type": "string"
        },
        "molEstablishmentState": {
          "type": "string"
        },
        "nitaq": {
          "type": "string"
        },
        "bayanMemberIndicator": {
          "type": "string"
        },
        "totalNumberofEmployees": {
          "type": "string"
        },
        "companyOwnerSurname": {
          "type": "string"
        },
        "titleCode": {
          "type": "string"
        },
        "titleCodeDescription": {
          "type": "string"
        },
        "interestInPartnershipCount": {
          "type": "string"
        },
        "sectorAveragePaymentDelaysDays": {
          "type": "string"
        },
        "subjectAveragePaymentDelaysDays": {
          "type": "string"
        },
        "totalValueExperiences": {
          "type": "string"
        },
        "avereageValueExperiences": {
          "type": "string"
        },
        "dateLastContribution": {
          "type": "string"
        },
        "numberofExperiences": {
          "type": "string"
        },
        "numberofsubjects": {
          "type": "string"
        },
        "value": {
          "type": "string"
        },
        "delayDays": {
          "type": "string"
        },
        "max": {
          "type": "string"
        },
        "min": {
          "type": "string"
        },
        "year": {
          "type": "string"
        },
        "month": {
          "type": "string"
        },
        "bandValue": {
          "type": "string"
        },
        "bandTotalValue": {
          "type": "string"
        },
        "percentagePaidwithinTerms": {
          "type": "string"
        },
        "opinion": {
          "type": "string"
        },
        "subjectOpinionEnglish": {
          "type": "string"
        },
        "thepercentageexperienceswithadelaywithin130daysineachband": {
          "type": "string"
        },
        "thepercentageexperienceswithadelaywithin3160daysineachband": {
          "type": "string"
        },
        "thepercentageexperienceswithadelaywithin6190ineachband": {
          "type": "string"
        },
        "thepercentageexperienceswithadelaywithin91daysineachband": {
          "type": "string"
        },
        "companyOwnerID": {
          "type": "string"
        },
        "companyOwnerCitizenship": {
          "type": "string"
        },
        "childCRNumber": {
          "type": "string"
        },
        "branchArabicName": {
          "type": "string"
        },
        "nameSecondaryLanguage": {
          "type": "string"
        },
        "employeesTotalNumber": {
          "type": "string"
        },
        "eventdetails": {
          "type": "string"
        },
        "eventdate": {
          "type": "string"
        },
        "lastupdatedate": {
          "type": "string"
        },
        "requested": {
          "type": "string"
        },
        "active": {
          "type": "string"
        },
        "refused": {
          "type": "string"
        },
        "renounced": {
          "type": "string"
        },
        "closed": {
          "type": "string"
        },
        "totalMonthlyInstallmentsAmount": {
          "type": "string"
        },
        "totalinstallmentsOutstandingBalanceAmount": {
          "type": "string"
        },
        "totalInstallmentsOverdueAmount": {
          "type": "string"
        },
        "numberofactivecontracts": {
          "type": "string"
        },
        "creditlimit": {
          "type": "string"
        },
        "utilization": {
          "type": "string"
        },
        "overdraft": {
          "type": "string"
        },
        "totalCardsOutstandingBalanceAmount": {
          "type": "string"
        },
        "totalCardsOverdueAmount": {
          "type": "string"
        },
        "servicesBillingamount": {
          "type": "string"
        },
        "totalServicesOutstandingBalanceAmount": {
          "type": "string"
        },
        "totalServicesOverdueAmount": {
          "type": "string"
        },
        "mainCRNumber": {
          "type": "string"
        },
        "mainCompanyCode": {
          "type": "string"
        },
        "mainSubIndustry": {
          "type": "string"
        },
        "companySize": {
          "type": "string"
        },
        "nicCount": {
          "type": "string"
        },
        "crCapital": {
          "type": "string"
        },
        "entityType": {
          "type": "string"
        },
        "reactivationDate": {
          "type": "string"
        },
        "suspensionDate": {
          "type": "string"
        },
        "deletionDate": {
          "type": "string"
        },
        "fullName": {
          "type": "string"
        },
        "idNumber": {
          "type": "string"
        },
        "nationality": {
          "type": "string"
        },
        "managementProfile": {
          "$ref": "#/definitions/managementProfile"
        },
        "partnerProfile": {
          "$ref": "#/definitions/partnerProfile"
        },
        "entityTypeCharacters": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/entityTypeCharacters"
          }
        }
      }
    },
    "designations": {
      "properties": {
        "designationName": {
          "type": "string"
        },
        "designationCode": {
          "type": "string"
        },
        "fromYear": {
          "type": "string"
        }
      }
    },
    "designations_1": {
      "properties": {
        "designationName": {
          "type": "string"
        },
        "designationCode": {
          "type": "string"
        },
        "fromYear": {
          "type": "string"
        }
      }
    },
    "managementProfile": {
      "properties": {
        "count": {
          "type": "string"
        },
        "profiles": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/profiles_1"
          }
        }
      }
    },
    "partnerProfile": {
      "properties": {
        "count": {
          "type": "string"
        },
        "profiles": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/profiles"
          }
        }
      }
    },
    "profiles_1": {
      "properties": {
        "name": {
          "type": "string"
        },
        "nationalNumber": {
          "type": "string"
        },
        "countryCode": {
          "type": "string"
        },
        "countryName": {
          "type": "string"
        },
        "birthDate": {
          "type": "string"
        },
        "birthMonth": {
          "type": "string"
        },
        "birthYear": {
          "type": "string"
        },
        "designations": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/designations"
          }
        }
      }
    }
  }
}