{
  "openapi": "3.1.0",
  "info": {
    "title": "Airbnb Backend API",
    "version": "1.0.0",
    "description": "This application provides backend APIs for a hotel management system, including inventory management, booking flow, user authentication, and hotel browsing.\n",
    "x-jentic-source-url": "https://api.swaggerhub.com/apis/none-276-b7c/GeneratedAPI_2026-02-25-0113/1.0.0"
  },
  "servers": [
    {
      "url": "https://api.airbnbbackend.com/v1"
    }
  ],
  "tags": [
    {
      "name": "admin-inventory",
      "description": "Admin Inventory Management"
    },
    {
      "name": "booking-flow",
      "description": "Booking Flow Operations"
    },
    {
      "name": "booking-guests",
      "description": "Booking Guests Management"
    },
    {
      "name": "hotel-browse",
      "description": "Hotel Browsing"
    },
    {
      "name": "hotel-management",
      "description": "Hotel Management"
    },
    {
      "name": "room-admin-management",
      "description": "Room Admin Management"
    },
    {
      "name": "user-authentication",
      "description": "User Authentication"
    },
    {
      "name": "user-profile",
      "description": "User Profile Management"
    },
    {
      "name": "webhook",
      "description": "Webhook Endpoints"
    }
  ],
  "paths": {
    "/admin/inventory/rooms/{roomId}": {
      "get": {
        "tags": [
          "admin-inventory"
        ],
        "summary": "Retrieve inventory of a room",
        "operationId": "getRoomInventory",
        "parameters": [
          {
            "name": "roomId",
            "in": "path",
            "required": true,
            "description": "ID of the room",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Room inventory retrieved successfully",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "roomId": {
                      "type": "string"
                    },
                    "available": {
                      "type": "integer"
                    }
                  }
                }
              }
            }
          },
          "404": {
            "description": "Room not found"
          },
          "500": {
            "description": "Server error"
          }
        }
      },
      "patch": {
        "tags": [
          "admin-inventory"
        ],
        "summary": "Update inventory for a room",
        "operationId": "updateRoomInventory",
        "parameters": [
          {
            "name": "roomId",
            "in": "path",
            "required": true,
            "description": "ID of the room",
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "description": "Inventory update payload",
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "available": {
                    "type": "integer"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Room inventory updated successfully"
          },
          "400": {
            "description": "Invalid input"
          },
          "404": {
            "description": "Room not found"
          },
          "500": {
            "description": "Server error"
          }
        }
      }
    },
    "/admin/hotels/{hotelId}/rooms/{roomId}": {
      "delete": {
        "tags": [
          "room-admin-management"
        ],
        "summary": "Delete a room",
        "operationId": "deleteRoom",
        "parameters": [
          {
            "name": "hotelId",
            "in": "path",
            "required": true,
            "description": "ID of the hotel",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "roomId",
            "in": "path",
            "required": true,
            "description": "ID of the room",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Room deleted successfully"
          },
          "404": {
            "description": "Room or hotel not found"
          },
          "500": {
            "description": "Server error"
          }
        }
      },
      "get": {
        "tags": [
          "room-admin-management"
        ],
        "summary": "Get room details",
        "operationId": "getRoomDetails",
        "parameters": [
          {
            "name": "hotelId",
            "in": "path",
            "required": true,
            "description": "ID of the hotel",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "roomId",
            "in": "path",
            "required": true,
            "description": "ID of the room",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Room details retrieved successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Room"
                }
              }
            }
          },
          "404": {
            "description": "Room or hotel not found"
          },
          "500": {
            "description": "Server error"
          }
        }
      }
    },
    "/bookings/{bookingId}/status": {
      "get": {
        "tags": [
          "booking-flow"
        ],
        "summary": "Check booking status",
        "operationId": "getBookingStatus",
        "parameters": [
          {
            "name": "bookingId",
            "in": "path",
            "required": true,
            "description": "ID of the booking",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Booking status retrieved successfully",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "bookingId": {
                      "type": "string"
                    },
                    "status": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          },
          "404": {
            "description": "Booking not found"
          },
          "500": {
            "description": "Server error"
          }
        }
      }
    },
    "/admin/hotels/{hotelId}/reports": {
      "get": {
        "tags": [
          "booking-flow",
          "hotel-management"
        ],
        "summary": "Generate hotel booking report",
        "operationId": "generateHotelBookingReport",
        "parameters": [
          {
            "name": "hotelId",
            "in": "path",
            "required": true,
            "description": "ID of the hotel",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Booking report generated successfully",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "hotelId": {
                      "type": "string"
                    },
                    "report": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          },
          "404": {
            "description": "Hotel not found"
          },
          "500": {
            "description": "Server error"
          }
        }
      }
    },
    "/admin/hotels/{hotelId}/bookings": {
      "get": {
        "tags": [
          "booking-flow",
          "hotel-management"
        ],
        "summary": "Get all bookings for a hotel",
        "operationId": "getAllBookingsForHotel",
        "parameters": [
          {
            "name": "hotelId",
            "in": "path",
            "required": true,
            "description": "ID of the hotel",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "List of bookings retrieved successfully",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Booking"
                  }
                }
              }
            }
          },
          "404": {
            "description": "Hotel not found"
          },
          "500": {
            "description": "Server error"
          }
        }
      }
    },
    "/bookings/{bookingId}/payments": {
      "post": {
        "tags": [
          "booking-flow"
        ],
        "summary": "Initiate payment for a booking",
        "operationId": "initiatePayment",
        "parameters": [
          {
            "name": "bookingId",
            "in": "path",
            "required": true,
            "description": "ID of the booking",
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "description": "Payment details",
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/Payment"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Payment initiated successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PaymentResponse"
                }
              }
            }
          },
          "400": {
            "description": "Invalid payment details"
          },
          "404": {
            "description": "Booking not found"
          },
          "500": {
            "description": "Server error"
          }
        }
      }
    },
    "/bookings/{bookingId}/cancel": {
      "post": {
        "tags": [
          "booking-flow"
        ],
        "summary": "Cancel a booking",
        "operationId": "cancelBooking",
        "parameters": [
          {
            "name": "bookingId",
            "in": "path",
            "required": true,
            "description": "ID of the booking",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Booking cancelled successfully"
          },
          "404": {
            "description": "Booking not found"
          },
          "500": {
            "description": "Server error"
          }
        }
      }
    },
    "/bookings/{bookingId}/addGuests": {
      "post": {
        "tags": [
          "booking-flow"
        ],
        "summary": "Add guests to a booking",
        "operationId": "addGuestsToBooking",
        "parameters": [
          {
            "name": "bookingId",
            "in": "path",
            "required": true,
            "description": "ID of the booking",
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "description": "Guests to add",
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "array",
                "items": {
                  "$ref": "#/components/schemas/Guest"
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Guests added successfully"
          },
          "400": {
            "description": "Invalid input"
          },
          "404": {
            "description": "Booking not found"
          },
          "500": {
            "description": "Server error"
          }
        }
      }
    },
    "/bookings/init": {
      "post": {
        "tags": [
          "booking-flow"
        ],
        "summary": "Initialize a new booking",
        "operationId": "initializeBooking",
        "requestBody": {
          "description": "Booking initialization data",
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/BookingInitRequest"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Booking initialized successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Booking"
                }
              }
            }
          },
          "400": {
            "description": "Invalid input"
          },
          "500": {
            "description": "Server error"
          }
        }
      }
    },
    "/users/guests/{guestId}": {
      "delete": {
        "tags": [
          "booking-guests",
          "user-profile"
        ],
        "summary": "Remove a guest",
        "operationId": "removeGuest",
        "parameters": [
          {
            "name": "guestId",
            "in": "path",
            "required": true,
            "description": "ID of the guest",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Guest removed successfully"
          },
          "404": {
            "description": "Guest not found"
          },
          "500": {
            "description": "Server error"
          }
        }
      },
      "put": {
        "tags": [
          "booking-guests",
          "user-profile"
        ],
        "summary": "Update a guest",
        "operationId": "updateGuest",
        "parameters": [
          {
            "name": "guestId",
            "in": "path",
            "required": true,
            "description": "ID of the guest",
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "description": "Guest update data",
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/Guest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Guest updated successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Guest"
                }
              }
            }
          },
          "400": {
            "description": "Invalid input"
          },
          "404": {
            "description": "Guest not found"
          },
          "500": {
            "description": "Server error"
          }
        }
      }
    },
    "/users/guests": {
      "get": {
        "tags": [
          "booking-guests",
          "user-profile"
        ],
        "summary": "Get my guests",
        "operationId": "getMyGuests",
        "responses": {
          "200": {
            "description": "List of guests retrieved successfully",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Guest"
                  }
                }
              }
            }
          },
          "500": {
            "description": "Server error"
          }
        }
      },
      "post": {
        "tags": [
          "booking-guests",
          "user-profile"
        ],
        "summary": "Add a guest",
        "operationId": "addGuest",
        "requestBody": {
          "description": "Guest data to add",
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/Guest"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Guest added successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Guest"
                }
              }
            }
          },
          "400": {
            "description": "Invalid input"
          },
          "500": {
            "description": "Server error"
          }
        }
      }
    },
    "/hotels/{hotelId}/info": {
      "get": {
        "tags": [
          "hotel-browse"
        ],
        "summary": "Get hotel details",
        "operationId": "getHotelDetails",
        "parameters": [
          {
            "name": "hotelId",
            "in": "path",
            "required": true,
            "description": "ID of the hotel",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Hotel details retrieved successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Hotel"
                }
              }
            }
          },
          "404": {
            "description": "Hotel not found"
          },
          "500": {
            "description": "Server error"
          }
        }
      }
    },
    "/hotels/search": {
      "get": {
        "tags": [
          "hotel-browse"
        ],
        "summary": "Search for hotels",
        "operationId": "searchHotels",
        "parameters": [
          {
            "name": "location",
            "in": "query",
            "description": "Location to search hotels",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "checkInDate",
            "in": "query",
            "description": "Check-in date",
            "required": false,
            "schema": {
              "type": "string",
              "format": "date"
            }
          },
          {
            "name": "checkOutDate",
            "in": "query",
            "description": "Check-out date",
            "required": false,
            "schema": {
              "type": "string",
              "format": "date"
            }
          },
          {
            "name": "guests",
            "in": "query",
            "description": "Number of guests",
            "required": false,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "List of hotels matching search criteria",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Hotel"
                  }
                }
              }
            }
          },
          "500": {
            "description": "Server error"
          }
        }
      }
    },
    "/admin/hotels/{hotelId}": {
      "delete": {
        "tags": [
          "hotel-management"
        ],
        "summary": "Delete a hotel",
        "operationId": "deleteHotel",
        "parameters": [
          {
            "name": "hotelId",
            "in": "path",
            "required": true,
            "description": "ID of the hotel",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Hotel deleted successfully"
          },
          "404": {
            "description": "Hotel not found"
          },
          "500": {
            "description": "Server error"
          }
        }
      },
      "get": {
        "tags": [
          "hotel-management"
        ],
        "summary": "Get hotel by ID",
        "operationId": "getHotelById",
        "parameters": [
          {
            "name": "hotelId",
            "in": "path",
            "required": true,
            "description": "ID of the hotel",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Hotel retrieved successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Hotel"
                }
              }
            }
          },
          "404": {
            "description": "Hotel not found"
          },
          "500": {
            "description": "Server error"
          }
        }
      },
      "put": {
        "tags": [
          "hotel-management"
        ],
        "summary": "Update hotel details",
        "operationId": "updateHotelDetails",
        "parameters": [
          {
            "name": "hotelId",
            "in": "path",
            "required": true,
            "description": "ID of the hotel",
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "description": "Hotel update data",
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/Hotel"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Hotel updated successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Hotel"
                }
              }
            }
          },
          "400": {
            "description": "Invalid input"
          },
          "404": {
            "description": "Hotel not found"
          },
          "500": {
            "description": "Server error"
          }
        }
      }
    },
    "/admin/hotels": {
      "get": {
        "tags": [
          "hotel-management"
        ],
        "summary": "Get all admin hotels",
        "operationId": "getAllAdminHotels",
        "responses": {
          "200": {
            "description": "List of hotels retrieved successfully",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Hotel"
                  }
                }
              }
            }
          },
          "500": {
            "description": "Server error"
          }
        }
      },
      "post": {
        "tags": [
          "hotel-management"
        ],
        "summary": "Create a hotel",
        "operationId": "createHotel",
        "requestBody": {
          "description": "Hotel creation data",
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/Hotel"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Hotel created successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Hotel"
                }
              }
            }
          },
          "400": {
            "description": "Invalid input"
          },
          "500": {
            "description": "Server error"
          }
        }
      }
    },
    "/admin/hotels/{hotelId}/activate": {
      "patch": {
        "tags": [
          "hotel-management"
        ],
        "summary": "Activate a hotel",
        "operationId": "activateHotel",
        "parameters": [
          {
            "name": "hotelId",
            "in": "path",
            "required": true,
            "description": "ID of the hotel",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Hotel activated successfully"
          },
          "404": {
            "description": "Hotel not found"
          },
          "500": {
            "description": "Server error"
          }
        }
      }
    },
    "/admin/hotels/{hotelId}/rooms": {
      "get": {
        "tags": [
          "room-admin-management"
        ],
        "summary": "Retrieve all rooms for a hotel",
        "operationId": "getAllRoomsForHotel",
        "parameters": [
          {
            "name": "hotelId",
            "in": "path",
            "required": true,
            "description": "ID of the hotel",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "List of rooms retrieved successfully",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Room"
                  }
                }
              }
            }
          },
          "404": {
            "description": "Hotel not found"
          },
          "500": {
            "description": "Server error"
          }
        }
      },
      "post": {
        "tags": [
          "room-admin-management"
        ],
        "summary": "Create a room",
        "operationId": "createRoom",
        "parameters": [
          {
            "name": "hotelId",
            "in": "path",
            "required": true,
            "description": "ID of the hotel",
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "description": "Room creation data",
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/Room"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Room created successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Room"
                }
              }
            }
          },
          "400": {
            "description": "Invalid input"
          },
          "404": {
            "description": "Hotel not found"
          },
          "500": {
            "description": "Server error"
          }
        }
      }
    },
    "/bookings/{bookingId}": {
      "delete": {
        "tags": [
          "booking-flow"
        ],
        "summary": "Cancel a booking (alternative endpoint)",
        "operationId": "cancelBookingAlt",
        "parameters": [
          {
            "name": "bookingId",
            "in": "path",
            "required": true,
            "description": "ID of the booking",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Booking cancelled successfully"
          },
          "404": {
            "description": "Booking not found"
          },
          "500": {
            "description": "Server error"
          }
        }
      }
    },
    "/auth/signup": {
      "post": {
        "tags": [
          "user-authentication"
        ],
        "summary": "User signup",
        "operationId": "userSignup",
        "requestBody": {
          "description": "Signup data",
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UserSignupRequest"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "User signed up successfully"
          },
          "400": {
            "description": "Invalid input"
          },
          "500": {
            "description": "Server error"
          }
        }
      }
    },
    "/auth/refresh": {
      "post": {
        "tags": [
          "user-authentication"
        ],
        "summary": "Refresh access token",
        "operationId": "refreshAccessToken",
        "requestBody": {
          "description": "Refresh token data",
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/TokenRefreshRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Access token refreshed successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TokenResponse"
                }
              }
            }
          },
          "400": {
            "description": "Invalid refresh token"
          },
          "500": {
            "description": "Server error"
          }
        }
      }
    },
    "/auth/login": {
      "post": {
        "tags": [
          "user-authentication"
        ],
        "summary": "User login",
        "operationId": "userLogin",
        "requestBody": {
          "description": "Login credentials",
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UserLoginRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "User logged in successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TokenResponse"
                }
              }
            }
          },
          "401": {
            "description": "Invalid credentials"
          },
          "500": {
            "description": "Server error"
          }
        }
      }
    },
    "/users/profile": {
      "get": {
        "tags": [
          "user-profile"
        ],
        "summary": "Get my profile",
        "operationId": "getMyProfile",
        "responses": {
          "200": {
            "description": "User profile retrieved successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/UserProfile"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "500": {
            "description": "Server error"
          }
        }
      },
      "patch": {
        "tags": [
          "user-profile"
        ],
        "summary": "Update my profile",
        "operationId": "updateMyProfile",
        "requestBody": {
          "description": "Profile update data",
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UserProfileUpdate"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "User profile updated successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/UserProfile"
                }
              }
            }
          },
          "400": {
            "description": "Invalid input"
          },
          "401": {
            "description": "Unauthorized"
          },
          "500": {
            "description": "Server error"
          }
        }
      }
    },
    "/users/myBookings": {
      "get": {
        "tags": [
          "user-profile"
        ],
        "summary": "Get my bookings",
        "operationId": "getMyBookings",
        "responses": {
          "200": {
            "description": "List of user bookings retrieved successfully",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Booking"
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "500": {
            "description": "Server error"
          }
        }
      }
    },
    "/webhook/payment": {
      "post": {
        "tags": [
          "webhook"
        ],
        "summary": "Capture payments",
        "operationId": "capturePaymentWebhook",
        "requestBody": {
          "description": "Payment webhook payload",
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/PaymentWebhookPayload"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Payment captured successfully"
          },
          "400": {
            "description": "Invalid payload"
          },
          "500": {
            "description": "Server error"
          }
        }
      }
    }
  },
  "components": {
    "schemas": {
      "Room": {
        "type": "object",
        "required": [
          "id",
          "number",
          "type",
          "price",
          "availability"
        ],
        "properties": {
          "id": {
            "type": "string",
            "description": "Room identifier"
          },
          "number": {
            "type": "string",
            "description": "Room number"
          },
          "type": {
            "type": "string",
            "description": "Room type (e.g., single, double)"
          },
          "price": {
            "type": "number",
            "format": "float",
            "description": "Price per night"
          },
          "availability": {
            "type": "integer",
            "description": "Number of available rooms"
          },
          "amenities": {
            "type": "array",
            "items": {
              "type": "string"
            },
            "description": "List of amenities"
          }
        }
      },
      "Booking": {
        "type": "object",
        "required": [
          "id",
          "hotelId",
          "roomId",
          "userId",
          "status"
        ],
        "properties": {
          "id": {
            "type": "string",
            "description": "Booking identifier"
          },
          "hotelId": {
            "type": "string",
            "description": "Hotel identifier"
          },
          "roomId": {
            "type": "string",
            "description": "Room identifier"
          },
          "userId": {
            "type": "string",
            "description": "User identifier"
          },
          "status": {
            "type": "string",
            "description": "Booking status",
            "enum": [
              "pending",
              "confirmed",
              "cancelled",
              "completed"
            ]
          },
          "checkInDate": {
            "type": "string",
            "format": "date"
          },
          "checkOutDate": {
            "type": "string",
            "format": "date"
          },
          "guests": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Guest"
            }
          }
        }
      },
      "Guest": {
        "type": "object",
        "required": [
          "id",
          "firstName",
          "lastName"
        ],
        "properties": {
          "id": {
            "type": "string",
            "description": "Guest identifier"
          },
          "firstName": {
            "type": "string"
          },
          "lastName": {
            "type": "string"
          },
          "email": {
            "type": "string",
            "format": "email"
          },
          "phone": {
            "type": "string"
          }
        }
      },
      "Hotel": {
        "type": "object",
        "required": [
          "id",
          "name",
          "address"
        ],
        "properties": {
          "id": {
            "type": "string",
            "description": "Hotel identifier"
          },
          "name": {
            "type": "string"
          },
          "address": {
            "type": "string"
          },
          "description": {
            "type": "string"
          },
          "rating": {
            "type": "number",
            "format": "float"
          },
          "amenities": {
            "type": "array",
            "items": {
              "type": "string"
            }
          }
        }
      },
      "Payment": {
        "type": "object",
        "required": [
          "amount",
          "method"
        ],
        "properties": {
          "amount": {
            "type": "number",
            "format": "float"
          },
          "method": {
            "type": "string",
            "description": "Payment method (e.g., credit card, paypal)"
          },
          "transactionId": {
            "type": "string",
            "description": "Transaction identifier"
          }
        }
      },
      "PaymentResponse": {
        "type": "object",
        "properties": {
          "paymentId": {
            "type": "string"
          },
          "status": {
            "type": "string"
          },
          "message": {
            "type": "string"
          }
        }
      },
      "BookingInitRequest": {
        "type": "object",
        "required": [
          "hotelId",
          "roomId",
          "userId",
          "checkInDate",
          "checkOutDate"
        ],
        "properties": {
          "hotelId": {
            "type": "string"
          },
          "roomId": {
            "type": "string"
          },
          "userId": {
            "type": "string"
          },
          "checkInDate": {
            "type": "string",
            "format": "date"
          },
          "checkOutDate": {
            "type": "string",
            "format": "date"
          },
          "guests": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Guest"
            }
          }
        }
      },
      "UserSignupRequest": {
        "type": "object",
        "required": [
          "username",
          "password",
          "email"
        ],
        "properties": {
          "username": {
            "type": "string"
          },
          "password": {
            "type": "string",
            "format": "password"
          },
          "email": {
            "type": "string",
            "format": "email"
          },
          "firstName": {
            "type": "string"
          },
          "lastName": {
            "type": "string"
          }
        }
      },
      "UserLoginRequest": {
        "type": "object",
        "required": [
          "username",
          "password"
        ],
        "properties": {
          "username": {
            "type": "string"
          },
          "password": {
            "type": "string",
            "format": "password"
          }
        }
      },
      "TokenRefreshRequest": {
        "type": "object",
        "required": [
          "refreshToken"
        ],
        "properties": {
          "refreshToken": {
            "type": "string"
          }
        }
      },
      "TokenResponse": {
        "type": "object",
        "properties": {
          "accessToken": {
            "type": "string"
          },
          "refreshToken": {
            "type": "string"
          },
          "expiresIn": {
            "type": "integer",
            "description": "Expiration time in seconds"
          }
        }
      },
      "UserProfile": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string"
          },
          "username": {
            "type": "string"
          },
          "email": {
            "type": "string",
            "format": "email"
          },
          "firstName": {
            "type": "string"
          },
          "lastName": {
            "type": "string"
          },
          "phone": {
            "type": "string"
          }
        }
      },
      "UserProfileUpdate": {
        "type": "object",
        "properties": {
          "email": {
            "type": "string",
            "format": "email"
          },
          "firstName": {
            "type": "string"
          },
          "lastName": {
            "type": "string"
          },
          "phone": {
            "type": "string"
          }
        }
      },
      "PaymentWebhookPayload": {
        "type": "object",
        "required": [
          "paymentId",
          "status"
        ],
        "properties": {
          "paymentId": {
            "type": "string"
          },
          "status": {
            "type": "string"
          },
          "amount": {
            "type": "number",
            "format": "float"
          },
          "currency": {
            "type": "string"
          },
          "timestamp": {
            "type": "string",
            "format": "date-time"
          }
        }
      }
    }
  }
}