{
  "openapi": "3.0.3",
  "info": {
    "title": "Ninety Auth API",
    "description": "Ninety Auth API provides OAuth2 authentication, client credential management, entity management, personal access tokens (PATs), and redirect URI configuration for the Ninety.io platform.",
    "version": "1.0.0",
    "contact": {
      "name": "Juan Ospina",
      "email": "juan@ninety.io"
    },
    "x-jentic-source-url": "https://ninety-auth.prod.90srv.com/v1/swagger/doc.json"
  },
  "servers": [
    {
      "url": "https://ninety-auth.prod.90srv.com",
      "description": "Ninety Auth Production"
    }
  ],
  "paths": {
    "/v1/health": {
      "get": {
        "summary": "Health check",
        "operationId": "healthCheck",
        "tags": [
          "Health"
        ],
        "security": [],
        "responses": {
          "200": {
            "description": "status: UP",
            "content": {
              "application/json": {
                "schema": {
                  "type": "string"
                }
              }
            }
          }
        },
        "description": "Health check"
      }
    },
    "/v1/client-credentials": {
      "get": {
        "summary": "List client credentials by entity ID",
        "operationId": "listClientCredentials",
        "tags": [
          "Client Credentials"
        ],
        "security": [
          {
            "BasicAuth": []
          }
        ],
        "parameters": [
          {
            "name": "entity_id",
            "in": "query",
            "required": true,
            "description": "Entity ID (UUID).",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "is_active",
            "in": "query",
            "schema": {
              "type": "boolean"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/ClientCredentialsSummary"
                  }
                }
              }
            }
          },
          "400": {
            "description": "Invalid request parameters",
            "content": {
              "application/json": {
                "schema": {
                  "type": "string"
                }
              }
            }
          },
          "500": {
            "description": "Internal server error",
            "content": {
              "application/json": {
                "schema": {
                  "type": "string"
                }
              }
            }
          }
        },
        "description": "List client credentials by entity ID"
      }
    },
    "/v1/client-credentials/generate": {
      "post": {
        "summary": "Generate new client credentials",
        "operationId": "Generatenewclientcredentials",
        "tags": [
          "Client Credentials"
        ],
        "security": [
          {
            "BasicAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/GenerateCredentialsRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ClientCredentialsResponse"
                }
              }
            }
          },
          "400": {
            "description": "Invalid request payload",
            "content": {
              "application/json": {
                "schema": {
                  "type": "string"
                }
              }
            }
          },
          "500": {
            "description": "Internal server error",
            "content": {
              "application/json": {
                "schema": {
                  "type": "string"
                }
              }
            }
          }
        },
        "description": "Generate new client credentials"
      }
    },
    "/v1/client-credentials/revoke": {
      "post": {
        "summary": "Revoke client credentials",
        "operationId": "Revokeclientcredentials",
        "tags": [
          "Client Credentials"
        ],
        "security": [
          {
            "BasicAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/RevokeCredentialsRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Revoked successfully",
            "content": {
              "application/json": {
                "schema": {
                  "type": "string"
                }
              }
            }
          },
          "400": {
            "description": "Invalid request payload",
            "content": {
              "application/json": {
                "schema": {
                  "type": "string"
                }
              }
            }
          },
          "500": {
            "description": "Internal server error",
            "content": {
              "application/json": {
                "schema": {
                  "type": "string"
                }
              }
            }
          }
        },
        "description": "Revoke client credentials"
      }
    },
    "/v1/client-credentials/rotate": {
      "post": {
        "summary": "Rotate client credentials",
        "operationId": "Rotateclientcredentials",
        "tags": [
          "Client Credentials"
        ],
        "security": [
          {
            "BasicAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/RotateCredentialsRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ClientCredentialsResponse"
                }
              }
            }
          },
          "400": {
            "description": "Invalid request payload",
            "content": {
              "application/json": {
                "schema": {
                  "type": "string"
                }
              }
            }
          },
          "500": {
            "description": "Internal server error",
            "content": {
              "application/json": {
                "schema": {
                  "type": "string"
                }
              }
            }
          }
        },
        "description": "Rotate client credentials"
      }
    },
    "/v1/client-credentials/{client_id}/entity": {
      "get": {
        "summary": "Get entity by Client ID",
        "operationId": "getEntityByClientId",
        "tags": [
          "Client Credentials"
        ],
        "security": [
          {
            "BearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "client_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Entity"
                }
              }
            }
          },
          "400": {
            "description": "Invalid parameters",
            "content": {
              "application/json": {
                "schema": {
                  "type": "string"
                }
              }
            }
          },
          "404": {
            "description": "Entity not found",
            "content": {
              "application/json": {
                "schema": {
                  "type": "string"
                }
              }
            }
          },
          "500": {
            "description": "Internal server error",
            "content": {
              "application/json": {
                "schema": {
                  "type": "string"
                }
              }
            }
          }
        },
        "description": "Get entity by Client ID"
      }
    },
    "/v1/client-credentials/{id}/scopes": {
      "put": {
        "summary": "Update scopes for a client credential",
        "operationId": "updateClientCredentialScopes",
        "tags": [
          "Client Credentials"
        ],
        "security": [
          {
            "BasicAuth": []
          }
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UpdateCredentialScopesRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Scopes updated",
            "content": {
              "application/json": {
                "schema": {
                  "type": "string"
                }
              }
            }
          },
          "400": {
            "description": "Invalid request payload",
            "content": {
              "application/json": {
                "schema": {
                  "type": "string"
                }
              }
            }
          },
          "500": {
            "description": "Internal server error",
            "content": {
              "application/json": {
                "schema": {
                  "type": "string"
                }
              }
            }
          }
        },
        "description": "Update scopes for a client credential"
      }
    },
    "/v1/entities": {
      "get": {
        "summary": "Get all entities",
        "operationId": "listEntities",
        "tags": [
          "Entities"
        ],
        "security": [
          {
            "BasicAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Entity"
                  }
                }
              }
            }
          },
          "500": {
            "description": "Internal server error",
            "content": {
              "application/json": {
                "schema": {
                  "type": "string"
                }
              }
            }
          }
        },
        "description": "Get all entities"
      },
      "post": {
        "summary": "Create a new entity",
        "operationId": "createEntity",
        "tags": [
          "Entities"
        ],
        "security": [
          {
            "BasicAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateEntityRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Entity"
                }
              }
            }
          },
          "400": {
            "description": "Invalid parameters",
            "content": {
              "application/json": {
                "schema": {
                  "type": "string"
                }
              }
            }
          },
          "500": {
            "description": "Internal server error",
            "content": {
              "application/json": {
                "schema": {
                  "type": "string"
                }
              }
            }
          }
        },
        "description": "Create a new entity"
      }
    },
    "/v1/entities/{id}": {
      "get": {
        "summary": "Get an entity by ID",
        "operationId": "getEntity",
        "tags": [
          "Entities"
        ],
        "security": [
          {
            "BasicAuth": []
          }
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Entity"
                }
              }
            }
          },
          "400": {
            "description": "Invalid parameters",
            "content": {
              "application/json": {
                "schema": {
                  "type": "string"
                }
              }
            }
          },
          "404": {
            "description": "Entity not found",
            "content": {
              "application/json": {
                "schema": {
                  "type": "string"
                }
              }
            }
          },
          "500": {
            "description": "Internal server error",
            "content": {
              "application/json": {
                "schema": {
                  "type": "string"
                }
              }
            }
          }
        },
        "description": "Get an entity by ID"
      },
      "put": {
        "summary": "Update an entity",
        "operationId": "updateEntity",
        "tags": [
          "Entities"
        ],
        "security": [
          {
            "BasicAuth": []
          }
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UpdateEntityRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Entity"
                }
              }
            }
          },
          "400": {
            "description": "Invalid parameters",
            "content": {
              "application/json": {
                "schema": {
                  "type": "string"
                }
              }
            }
          },
          "404": {
            "description": "Entity not found",
            "content": {
              "application/json": {
                "schema": {
                  "type": "string"
                }
              }
            }
          },
          "500": {
            "description": "Internal server error",
            "content": {
              "application/json": {
                "schema": {
                  "type": "string"
                }
              }
            }
          }
        },
        "description": "Update an entity"
      }
    },
    "/v1/oauth2/authorize": {
      "post": {
        "summary": "OAuth2 authorize",
        "description": "Validates client_id and redirect_uri, generates an authorization code.",
        "operationId": "oauth2Authorize",
        "tags": [
          "OAuth2"
        ],
        "security": [
          {
            "BearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/AuthorizeRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Redirect URI with authorization code.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AuthorizeResponse"
                }
              }
            }
          },
          "400": {
            "description": "Invalid request",
            "content": {
              "application/json": {
                "schema": {
                  "type": "string"
                }
              }
            }
          },
          "500": {
            "description": "Internal server error",
            "content": {
              "application/json": {
                "schema": {
                  "type": "string"
                }
              }
            }
          }
        }
      }
    },
    "/v1/oauth2/token": {
      "post": {
        "summary": "OAuth2 token",
        "operationId": "oauth2Token",
        "tags": [
          "OAuth2"
        ],
        "parameters": [
          {
            "name": "Authorization",
            "in": "header",
            "description": "Basic base64(client_id:client_secret).",
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/TokenRequest"
              }
            },
            "application/x-www-form-urlencoded": {
              "schema": {
                "$ref": "#/components/schemas/TokenRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Access token.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TokenResponse"
                }
              }
            }
          },
          "400": {
            "description": "Invalid request",
            "content": {
              "application/json": {
                "schema": {
                  "type": "string"
                }
              }
            }
          },
          "500": {
            "description": "Internal server error",
            "content": {
              "application/json": {
                "schema": {
                  "type": "string"
                }
              }
            }
          }
        },
        "description": "OAuth2 token"
      }
    },
    "/v1/oauth2/token/exchange": {
      "post": {
        "summary": "Token exchange",
        "operationId": "tokenExchange",
        "tags": [
          "OAuth2"
        ],
        "security": [
          {
            "BasicAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/TokenExchangeRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TokenResponse"
                }
              }
            }
          },
          "400": {
            "description": "Invalid parameters",
            "content": {
              "application/json": {
                "schema": {
                  "type": "string"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "type": "string"
                }
              }
            }
          },
          "500": {
            "description": "Internal server error",
            "content": {
              "application/json": {
                "schema": {
                  "type": "string"
                }
              }
            }
          }
        },
        "description": "Token exchange"
      }
    },
    "/v1/oauth2/token/introspect": {
      "post": {
        "summary": "Introspect token",
        "operationId": "introspectToken",
        "tags": [
          "OAuth2"
        ],
        "security": [
          {
            "BasicAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/IntrospectTokenRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/IntrospectTokenResponse"
                }
              }
            }
          },
          "400": {
            "description": "Invalid parameters",
            "content": {
              "application/json": {
                "schema": {
                  "type": "string"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "type": "string"
                }
              }
            }
          },
          "500": {
            "description": "Internal server error",
            "content": {
              "application/json": {
                "schema": {
                  "type": "string"
                }
              }
            }
          }
        },
        "description": "Introspect token"
      }
    },
    "/v1/oauth2/token/revoke": {
      "post": {
        "summary": "Revoke token",
        "operationId": "revokeToken",
        "tags": [
          "OAuth2"
        ],
        "security": [
          {
            "BasicAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/RevokeTokenRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "string"
                }
              }
            }
          },
          "400": {
            "description": "Invalid parameters",
            "content": {
              "application/json": {
                "schema": {
                  "type": "string"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "type": "string"
                }
              }
            }
          },
          "500": {
            "description": "Internal server error",
            "content": {
              "application/json": {
                "schema": {
                  "type": "string"
                }
              }
            }
          }
        },
        "description": "Revoke token"
      }
    },
    "/v1/oauth2/ipaas/token": {
      "post": {
        "summary": "IPaaS token",
        "operationId": "ipaasToken",
        "tags": [
          "OAuth2"
        ],
        "security": [
          {
            "BasicAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/IPaasTokenRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TokenResponse"
                }
              }
            }
          },
          "400": {
            "description": "Invalid parameters",
            "content": {
              "application/json": {
                "schema": {
                  "type": "string"
                }
              }
            }
          },
          "500": {
            "description": "Internal server error",
            "content": {
              "application/json": {
                "schema": {
                  "type": "string"
                }
              }
            }
          }
        },
        "description": "IPaaS token"
      }
    },
    "/v1/pat": {
      "get": {
        "summary": "List PATs",
        "operationId": "listPATs",
        "tags": [
          "PAT"
        ],
        "security": [
          {
            "BearerAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/PatMetadata"
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "type": "string"
                }
              }
            }
          },
          "500": {
            "description": "Internal server error",
            "content": {
              "application/json": {
                "schema": {
                  "type": "string"
                }
              }
            }
          }
        },
        "description": "List PATs"
      }
    },
    "/v1/pat/token": {
      "post": {
        "summary": "Create PAT token",
        "operationId": "createPatToken",
        "tags": [
          "PAT"
        ],
        "security": [
          {
            "BearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/PatTokenRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TokenResponse"
                }
              }
            }
          },
          "400": {
            "description": "Invalid parameters",
            "content": {
              "application/json": {
                "schema": {
                  "type": "string"
                }
              }
            }
          },
          "500": {
            "description": "Internal server error",
            "content": {
              "application/json": {
                "schema": {
                  "type": "string"
                }
              }
            }
          }
        },
        "description": "Create PAT token"
      }
    },
    "/v1/pat/revoke": {
      "post": {
        "summary": "Revoke PAT",
        "operationId": "revokePAT",
        "tags": [
          "PAT"
        ],
        "security": [
          {
            "BearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/PatRevokeRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "string"
                }
              }
            }
          },
          "400": {
            "description": "Invalid parameters",
            "content": {
              "application/json": {
                "schema": {
                  "type": "string"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "type": "string"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "application/json": {
                "schema": {
                  "type": "string"
                }
              }
            }
          },
          "500": {
            "description": "Internal server error",
            "content": {
              "application/json": {
                "schema": {
                  "type": "string"
                }
              }
            }
          }
        },
        "description": "Revoke PAT"
      }
    },
    "/v1/pat/rotate": {
      "post": {
        "summary": "Rotate PAT",
        "operationId": "rotatePAT",
        "tags": [
          "PAT"
        ],
        "security": [
          {
            "BearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/PatRotateRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TokenResponse"
                }
              }
            }
          },
          "400": {
            "description": "Invalid parameters",
            "content": {
              "application/json": {
                "schema": {
                  "type": "string"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "type": "string"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "application/json": {
                "schema": {
                  "type": "string"
                }
              }
            }
          },
          "500": {
            "description": "Internal server error",
            "content": {
              "application/json": {
                "schema": {
                  "type": "string"
                }
              }
            }
          }
        },
        "description": "Rotate PAT"
      }
    },
    "/v1/redirect-uris": {
      "post": {
        "summary": "Create redirect URIs",
        "operationId": "createRedirectUris",
        "tags": [
          "Redirect URIs"
        ],
        "security": [
          {
            "BasicAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateRedirectUrisRequest"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Created",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/RedirectURI"
                  }
                }
              }
            }
          },
          "400": {
            "description": "Invalid parameters",
            "content": {
              "application/json": {
                "schema": {
                  "type": "string"
                }
              }
            }
          },
          "500": {
            "description": "Internal server error",
            "content": {
              "application/json": {
                "schema": {
                  "type": "string"
                }
              }
            }
          }
        },
        "description": "Create redirect URIs"
      }
    },
    "/v1/redirect-uris/{entity_id}": {
      "get": {
        "summary": "Get redirect URIs for entity",
        "operationId": "getRedirectUris",
        "tags": [
          "Redirect URIs"
        ],
        "security": [
          {
            "BasicAuth": []
          }
        ],
        "parameters": [
          {
            "name": "entity_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/RedirectURI"
                  }
                }
              }
            }
          },
          "400": {
            "description": "Invalid entity_id",
            "content": {
              "application/json": {
                "schema": {
                  "type": "string"
                }
              }
            }
          },
          "500": {
            "description": "Internal server error",
            "content": {
              "application/json": {
                "schema": {
                  "type": "string"
                }
              }
            }
          }
        },
        "description": "Get redirect URIs for entity"
      }
    },
    "/v1/redirect-uris/{id}": {
      "put": {
        "summary": "Update a redirect URI",
        "operationId": "updateRedirectUri",
        "tags": [
          "Redirect URIs"
        ],
        "security": [
          {
            "BasicAuth": []
          }
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UpdateRedirectUriRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RedirectURI"
                }
              }
            }
          },
          "400": {
            "description": "Invalid parameters",
            "content": {
              "application/json": {
                "schema": {
                  "type": "string"
                }
              }
            }
          },
          "500": {
            "description": "Internal server error",
            "content": {
              "application/json": {
                "schema": {
                  "type": "string"
                }
              }
            }
          }
        },
        "description": "Update a redirect URI"
      },
      "delete": {
        "summary": "Delete a redirect URI",
        "operationId": "deleteRedirectUri",
        "tags": [
          "Redirect URIs"
        ],
        "security": [
          {
            "BasicAuth": []
          }
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "No Content"
          },
          "400": {
            "description": "Invalid id",
            "content": {
              "application/json": {
                "schema": {
                  "type": "string"
                }
              }
            }
          },
          "500": {
            "description": "Internal server error",
            "content": {
              "application/json": {
                "schema": {
                  "type": "string"
                }
              }
            }
          }
        },
        "description": "Delete a redirect URI"
      }
    }
  },
  "components": {
    "securitySchemes": {
      "BasicAuth": {
        "type": "http",
        "scheme": "basic",
        "description": "Basic Auth with client_id:secret."
      },
      "BearerAuth": {
        "type": "apiKey",
        "name": "Authorization",
        "in": "header",
        "description": "Type 'Bearer' followed by JWT token."
      }
    },
    "schemas": {
      "ClientCredentialsSummary": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string"
          },
          "entity_id": {
            "type": "string"
          },
          "description": {
            "type": "string"
          },
          "is_active": {
            "type": "boolean"
          },
          "created_at": {
            "type": "string"
          },
          "canceled_at": {
            "type": "string"
          },
          "last_rotated_at": {
            "type": "string"
          },
          "scopes": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Scope"
            }
          }
        }
      },
      "GenerateCredentialsRequest": {
        "type": "object",
        "required": [
          "entity_id",
          "description",
          "scopes"
        ],
        "properties": {
          "entity_id": {
            "type": "string"
          },
          "description": {
            "type": "string"
          },
          "scopes": {
            "type": "array",
            "items": {
              "type": "string"
            }
          }
        }
      },
      "RevokeCredentialsRequest": {
        "type": "object",
        "required": [
          "client_id"
        ],
        "properties": {
          "client_id": {
            "type": "string"
          }
        }
      },
      "RotateCredentialsRequest": {
        "type": "object",
        "properties": {
          "client_id": {
            "type": "string"
          }
        }
      },
      "UpdateCredentialScopesRequest": {
        "type": "object",
        "required": [
          "scopes"
        ],
        "properties": {
          "scopes": {
            "type": "array",
            "items": {
              "type": "string"
            }
          }
        }
      },
      "ClientCredentialsResponse": {
        "type": "object",
        "properties": {
          "client_id": {
            "type": "string"
          },
          "secret": {
            "type": "string"
          }
        }
      },
      "Entity": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string"
          },
          "name": {
            "type": "string"
          },
          "description": {
            "type": "string"
          },
          "url": {
            "type": "string"
          },
          "logo_url": {
            "type": "string"
          },
          "contact_email": {
            "type": "string"
          },
          "is_active": {
            "type": "boolean"
          },
          "is_internal": {
            "type": "boolean"
          },
          "created_at": {
            "type": "string"
          },
          "updated_at": {
            "type": "string"
          }
        }
      },
      "CreateEntityRequest": {
        "type": "object",
        "required": [
          "name"
        ],
        "properties": {
          "name": {
            "type": "string"
          },
          "description": {
            "type": "string"
          },
          "url": {
            "type": "string"
          },
          "logo_url": {
            "type": "string"
          },
          "contact_email": {
            "type": "string"
          },
          "is_active": {
            "type": "boolean"
          },
          "is_internal": {
            "type": "boolean"
          },
          "redirect_uris": {
            "type": "array",
            "items": {
              "type": "string"
            }
          }
        }
      },
      "UpdateEntityRequest": {
        "type": "object",
        "required": [
          "name"
        ],
        "properties": {
          "name": {
            "type": "string"
          },
          "description": {
            "type": "string"
          },
          "url": {
            "type": "string"
          },
          "logo_url": {
            "type": "string"
          },
          "contact_email": {
            "type": "string"
          },
          "is_active": {
            "type": "boolean"
          },
          "is_internal": {
            "type": "boolean"
          }
        }
      },
      "AuthorizeRequest": {
        "type": "object",
        "required": [
          "client_id",
          "redirect_uri",
          "user_id",
          "tenant_id"
        ],
        "properties": {
          "client_id": {
            "type": "string"
          },
          "redirect_uri": {
            "type": "string"
          },
          "state": {
            "type": "string"
          },
          "user_id": {
            "type": "string"
          },
          "tenant_id": {
            "type": "string"
          }
        }
      },
      "AuthorizeResponse": {
        "type": "object",
        "properties": {
          "redirect_uri": {
            "type": "string"
          }
        }
      },
      "TokenRequest": {
        "type": "object",
        "required": [
          "grant_type"
        ],
        "properties": {
          "grant_type": {
            "type": "string",
            "enum": [
              "authorization_code",
              "refresh_token",
              "delegated_user_client"
            ]
          },
          "code": {
            "type": "string"
          },
          "redirect_uri": {
            "type": "string"
          },
          "client_id": {
            "type": "string"
          },
          "client_secret": {
            "type": "string"
          },
          "refresh_token": {
            "type": "string"
          },
          "user_id": {
            "type": "string"
          },
          "company_id": {
            "type": "string"
          }
        }
      },
      "TokenResponse": {
        "type": "object",
        "properties": {
          "access_token": {
            "type": "string"
          },
          "token_type": {
            "type": "string"
          },
          "expires_in": {
            "type": "integer"
          },
          "refresh_token": {
            "type": "string"
          },
          "refresh_token_expires_in": {
            "type": "integer"
          },
          "entitlements_token": {
            "type": "string"
          }
        }
      },
      "TokenExchangeRequest": {
        "type": "object",
        "required": [
          "subject_token",
          "subject_token_type"
        ],
        "properties": {
          "subject_token": {
            "type": "string"
          },
          "subject_token_type": {
            "type": "string"
          },
          "include_entitlements": {
            "type": "boolean"
          }
        }
      },
      "IntrospectTokenRequest": {
        "type": "object",
        "required": [
          "token"
        ],
        "properties": {
          "token": {
            "type": "string"
          }
        }
      },
      "IntrospectTokenResponse": {
        "type": "object",
        "properties": {
          "is_valid": {
            "type": "boolean"
          },
          "sub": {
            "type": "string"
          },
          "iss": {
            "type": "string"
          },
          "aud": {
            "type": "string"
          },
          "exp": {
            "type": "integer"
          },
          "iat": {
            "type": "integer"
          },
          "nbf": {
            "type": "integer"
          },
          "jti": {
            "type": "string"
          },
          "client_id": {
            "type": "string"
          },
          "user_id": {
            "type": "string"
          },
          "userId": {
            "type": "string"
          },
          "company_id": {
            "type": "string"
          },
          "companyId": {
            "type": "string"
          },
          "companyName": {
            "type": "string"
          },
          "companyMfaRequired": {
            "type": "boolean"
          },
          "personId": {
            "type": "string"
          },
          "personMetadataId": {
            "type": "string"
          },
          "seniorLeadershipTeamId": {
            "type": "string"
          },
          "scopes": {
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "token_format": {
            "type": "string",
            "enum": [
              "jwt",
              "opaque",
              "pat"
            ]
          },
          "token_role": {
            "type": "string",
            "enum": [
              "access_token",
              "refresh_token"
            ]
          },
          "v": {
            "type": "integer"
          },
          "act": {
            "$ref": "#/components/schemas/ActorClaim"
          }
        }
      },
      "RevokeTokenRequest": {
        "type": "object",
        "required": [
          "token"
        ],
        "properties": {
          "token": {
            "type": "string"
          }
        }
      },
      "IPaasTokenRequest": {
        "type": "object",
        "required": [
          "client_id",
          "user_id",
          "tenant_id"
        ],
        "properties": {
          "client_id": {
            "type": "string"
          },
          "user_id": {
            "type": "string"
          },
          "tenant_id": {
            "type": "string"
          }
        }
      },
      "PatMetadata": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string"
          },
          "client_id": {
            "type": "string"
          },
          "description": {
            "type": "string"
          },
          "entity_name": {
            "type": "string"
          },
          "expires_at": {
            "type": "string"
          },
          "created_at": {
            "type": "string"
          }
        }
      },
      "PatTokenRequest": {
        "type": "object",
        "required": [
          "client_id",
          "description",
          "pat_timeframe"
        ],
        "properties": {
          "client_id": {
            "type": "string"
          },
          "description": {
            "type": "string"
          },
          "pat_timeframe": {
            "type": "string",
            "enum": [
              "30d",
              "90d",
              "6m",
              "12m"
            ]
          }
        }
      },
      "PatRevokeRequest": {
        "type": "object",
        "properties": {
          "token": {
            "type": "string"
          },
          "token_id": {
            "type": "string"
          }
        }
      },
      "PatRotateRequest": {
        "type": "object",
        "required": [
          "description",
          "pat_timeframe"
        ],
        "properties": {
          "token": {
            "type": "string"
          },
          "token_id": {
            "type": "string"
          },
          "description": {
            "type": "string"
          },
          "pat_timeframe": {
            "type": "string",
            "enum": [
              "30d",
              "90d",
              "6m",
              "12m"
            ]
          }
        }
      },
      "RedirectURI": {
        "type": "object",
        "properties": {
          "id": {
            "type": "integer"
          },
          "entity_id": {
            "type": "string"
          },
          "uri": {
            "type": "string"
          },
          "created_at": {
            "type": "string"
          }
        }
      },
      "CreateRedirectUrisRequest": {
        "type": "object",
        "required": [
          "entity_id",
          "uris"
        ],
        "properties": {
          "entity_id": {
            "type": "string"
          },
          "uris": {
            "type": "array",
            "items": {
              "type": "string"
            }
          }
        }
      },
      "UpdateRedirectUriRequest": {
        "type": "object",
        "required": [
          "uri"
        ],
        "properties": {
          "uri": {
            "type": "string"
          }
        }
      },
      "Scope": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string"
          },
          "name": {
            "type": "string"
          },
          "description": {
            "type": "string"
          },
          "created_at": {
            "type": "string"
          }
        }
      },
      "ActorClaim": {
        "type": "object",
        "properties": {
          "sub": {
            "type": "string"
          },
          "iss": {
            "type": "string"
          },
          "jti": {
            "type": "string"
          },
          "client_id": {
            "type": "string"
          }
        }
      }
    }
  },
  "tags": [
    {
      "name": "Health"
    },
    {
      "name": "Client Credentials"
    },
    {
      "name": "Entities"
    },
    {
      "name": "OAuth2"
    },
    {
      "name": "PAT"
    },
    {
      "name": "Redirect URIs"
    }
  ]
}
