{
  "openapi": "3.0.3",
  "info": {
    "title": "USGS Water Services API",
    "version": "1.0.0",
    "description": "U.S. Geological Survey water data APIs providing instantaneous values, daily statistics, site information, and groundwater level data for monitoring stations across the United States.",
    "x-jentic-source-url": "https://waterservices.usgs.gov/",
    "contact": {
      "name": "API Support"
    }
  },
  "servers": [
    {
      "url": "https://waterservices.usgs.gov"
    }
  ],
  "paths": {
    "/nwis/iv/": {
      "get": {
        "operationId": "getInstantaneousValues",
        "summary": "Get instantaneous values",
        "description": "Returns instantaneous time-series water data (e.g., streamflow, gage height, temperature) for USGS monitoring stations.",
        "tags": [
          "Instantaneous Values"
        ],
        "parameters": [
          {
            "name": "format",
            "in": "query",
            "description": "Response format",
            "required": false,
            "schema": {
              "type": "string",
              "enum": [
                "json",
                "xml",
                "waterml,2.0",
                "rdb"
              ],
              "default": "json"
            }
          },
          {
            "name": "sites",
            "in": "query",
            "description": "Comma-separated list of site numbers",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "stateCd",
            "in": "query",
            "description": "U.S. state code (e.g., ny, ca)",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "huc",
            "in": "query",
            "description": "Hydrologic unit code(s)",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "bBox",
            "in": "query",
            "description": "Bounding box (west,south,east,north) in decimal degrees",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "countyCd",
            "in": "query",
            "description": "County FIPS code(s)",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "parameterCd",
            "in": "query",
            "description": "Parameter code(s) - e.g., 00060 for discharge, 00065 for gage height",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "siteType",
            "in": "query",
            "description": "Site type filter",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "period",
            "in": "query",
            "description": "ISO 8601 duration (e.g., P7D for 7 days)",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "startDT",
            "in": "query",
            "description": "Start date-time (ISO 8601)",
            "required": false,
            "schema": {
              "type": "string",
              "format": "date-time"
            }
          },
          {
            "name": "endDT",
            "in": "query",
            "description": "End date-time (ISO 8601)",
            "required": false,
            "schema": {
              "type": "string",
              "format": "date-time"
            }
          },
          {
            "name": "siteStatus",
            "in": "query",
            "description": "Site status filter",
            "required": false,
            "schema": {
              "type": "string",
              "enum": [
                "all",
                "active",
                "inactive"
              ],
              "default": "all"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Time series data",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TimeSeriesResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/nwis/dv/": {
      "get": {
        "operationId": "getDailyValues",
        "summary": "Get daily values",
        "description": "Returns daily statistical values for USGS monitoring stations.",
        "tags": [
          "Daily Values"
        ],
        "parameters": [
          {
            "name": "format",
            "in": "query",
            "description": "Response format",
            "required": false,
            "schema": {
              "type": "string",
              "enum": [
                "json",
                "xml",
                "waterml,2.0",
                "rdb"
              ],
              "default": "json"
            }
          },
          {
            "name": "sites",
            "in": "query",
            "description": "Comma-separated list of site numbers",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "stateCd",
            "in": "query",
            "description": "U.S. state code",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "huc",
            "in": "query",
            "description": "Hydrologic unit code(s)",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "bBox",
            "in": "query",
            "description": "Bounding box (west,south,east,north)",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "countyCd",
            "in": "query",
            "description": "County FIPS code(s)",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "parameterCd",
            "in": "query",
            "description": "Parameter code(s)",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "startDT",
            "in": "query",
            "description": "Start date (ISO 8601)",
            "required": false,
            "schema": {
              "type": "string",
              "format": "date"
            }
          },
          {
            "name": "endDT",
            "in": "query",
            "description": "End date (ISO 8601)",
            "required": false,
            "schema": {
              "type": "string",
              "format": "date"
            }
          },
          {
            "name": "statCd",
            "in": "query",
            "description": "Statistic code(s) - e.g., 00003 for mean",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "period",
            "in": "query",
            "description": "ISO 8601 duration",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "siteStatus",
            "in": "query",
            "description": "Site status filter",
            "required": false,
            "schema": {
              "type": "string",
              "enum": [
                "all",
                "active",
                "inactive"
              ],
              "default": "all"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Daily values data",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TimeSeriesResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/nwis/site/": {
      "get": {
        "operationId": "getSiteInfo",
        "summary": "Get site information",
        "description": "Returns information about USGS monitoring sites.",
        "tags": [
          "Site Information"
        ],
        "parameters": [
          {
            "name": "format",
            "in": "query",
            "description": "Response format",
            "required": false,
            "schema": {
              "type": "string",
              "enum": [
                "rdb",
                "mapper"
              ],
              "default": "rdb"
            }
          },
          {
            "name": "sites",
            "in": "query",
            "description": "Comma-separated list of site numbers",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "stateCd",
            "in": "query",
            "description": "U.S. state code",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "huc",
            "in": "query",
            "description": "Hydrologic unit code(s)",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "bBox",
            "in": "query",
            "description": "Bounding box",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "countyCd",
            "in": "query",
            "description": "County FIPS code(s)",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "siteType",
            "in": "query",
            "description": "Site type filter",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "siteOutput",
            "in": "query",
            "description": "Output level",
            "required": false,
            "schema": {
              "type": "string",
              "enum": [
                "basic",
                "expanded"
              ]
            }
          },
          {
            "name": "siteStatus",
            "in": "query",
            "description": "Site status",
            "required": false,
            "schema": {
              "type": "string",
              "enum": [
                "all",
                "active",
                "inactive"
              ]
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Site information",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SiteResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/nwis/gwlevels/": {
      "get": {
        "operationId": "getGroundwaterLevels",
        "summary": "Get groundwater levels",
        "description": "Returns groundwater level data for USGS monitoring wells.",
        "tags": [
          "Groundwater"
        ],
        "parameters": [
          {
            "name": "format",
            "in": "query",
            "description": "Response format",
            "required": false,
            "schema": {
              "type": "string",
              "enum": [
                "json",
                "xml",
                "waterml,2.0",
                "rdb"
              ],
              "default": "json"
            }
          },
          {
            "name": "sites",
            "in": "query",
            "description": "Comma-separated site numbers",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "stateCd",
            "in": "query",
            "description": "U.S. state code",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "startDT",
            "in": "query",
            "description": "Start date",
            "required": false,
            "schema": {
              "type": "string",
              "format": "date"
            }
          },
          {
            "name": "endDT",
            "in": "query",
            "description": "End date",
            "required": false,
            "schema": {
              "type": "string",
              "format": "date"
            }
          },
          {
            "name": "period",
            "in": "query",
            "description": "ISO 8601 duration",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Groundwater level data",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TimeSeriesResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/nwis/stat/": {
      "get": {
        "operationId": "getStatistics",
        "summary": "Get statistical data",
        "description": "Returns statistical data summaries for USGS monitoring sites.",
        "tags": [
          "Statistics"
        ],
        "parameters": [
          {
            "name": "format",
            "in": "query",
            "description": "Response format",
            "required": false,
            "schema": {
              "type": "string",
              "enum": [
                "json",
                "xml",
                "rdb"
              ],
              "default": "rdb"
            }
          },
          {
            "name": "sites",
            "in": "query",
            "description": "Comma-separated site numbers",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "stateCd",
            "in": "query",
            "description": "U.S. state code",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "parameterCd",
            "in": "query",
            "description": "Parameter code(s)",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "statReportType",
            "in": "query",
            "description": "Type of statistical report",
            "required": false,
            "schema": {
              "type": "string",
              "enum": [
                "daily",
                "monthly",
                "annual"
              ]
            }
          },
          {
            "name": "statTypeCd",
            "in": "query",
            "description": "Statistic type code(s) - mean, min, max, median, all",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Statistical data",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TimeSeriesResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    }
  },
  "components": {
    "schemas": {
      "TimeSeriesResponse": {
        "type": "object",
        "properties": {
          "name": {
            "type": "string"
          },
          "declaredType": {
            "type": "string"
          },
          "scope": {
            "type": "string"
          },
          "value": {
            "type": "object",
            "properties": {
              "queryInfo": {
                "type": "object"
              },
              "timeSeries": {
                "type": "array",
                "items": {
                  "$ref": "#/components/schemas/TimeSeries"
                }
              }
            }
          }
        }
      },
      "TimeSeries": {
        "type": "object",
        "properties": {
          "sourceInfo": {
            "type": "object",
            "properties": {
              "siteName": {
                "type": "string"
              },
              "siteCode": {
                "type": "array",
                "items": {
                  "type": "object",
                  "properties": {
                    "value": {
                      "type": "string"
                    },
                    "network": {
                      "type": "string"
                    },
                    "agencyCode": {
                      "type": "string"
                    }
                  }
                }
              },
              "geoLocation": {
                "type": "object"
              }
            }
          },
          "variable": {
            "type": "object",
            "properties": {
              "variableCode": {
                "type": "array",
                "items": {
                  "type": "object"
                }
              },
              "variableName": {
                "type": "string"
              },
              "variableDescription": {
                "type": "string"
              },
              "unit": {
                "type": "object"
              }
            }
          },
          "values": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "value": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "value": {
                        "type": "string"
                      },
                      "qualifiers": {
                        "type": "array",
                        "items": {
                          "type": "string"
                        }
                      },
                      "dateTime": {
                        "type": "string"
                      }
                    }
                  }
                }
              }
            }
          }
        }
      },
      "SiteResponse": {
        "type": "object",
        "properties": {
          "value": {
            "type": "object",
            "properties": {
              "queryInfo": {
                "type": "object"
              },
              "timeSeries": {
                "type": "array",
                "items": {
                  "type": "object"
                }
              }
            }
          }
        }
      },
      "ErrorResponse": {
        "type": "object",
        "properties": {
          "code": {
            "type": "string"
          },
          "message": {
            "type": "string"
          }
        }
      }
    }
  },
  "tags": [
    {
      "name": "Daily Values"
    },
    {
      "name": "Groundwater"
    },
    {
      "name": "Instantaneous Values"
    },
    {
      "name": "Site Information"
    },
    {
      "name": "Statistics"
    }
  ]
}
