{
  "openapi": "3.0.3",
  "info": {
    "title": "Brand.dev API",
    "description": "API for retrieving brand data, web scraping, and AI-powered data extraction from any website. Previously known as Context.dev.",
    "version": "1.0.0",
    "x-jentic-source-url": "https://docs.brand.dev/api-reference",
    "contact": {
      "name": "API Support"
    }
  },
  "servers": [
    {
      "url": "https://api.context.dev/v1"
    }
  ],
  "paths": {
    "/brand/retrieve": {
      "get": {
        "summary": "Retrieve brand data by domain",
        "description": "Retrieve logos, backdrops, colors, industry, description, and more from any domain",
        "parameters": [
          {
            "name": "domain",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Domain name to retrieve brand data for (e.g., 'example.com', 'google.com'). Cannot be used with name or ticker parameters."
          },
          {
            "name": "force_language",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "enum": [
                "albanian",
                "arabic",
                "azeri",
                "bengali",
                "bulgarian",
                "cantonese",
                "cebuano",
                "croatian",
                "czech",
                "danish",
                "dutch",
                "english",
                "estonian",
                "farsi",
                "finnish",
                "french",
                "german",
                "hausa",
                "hawaiian",
                "hindi",
                "hungarian",
                "icelandic",
                "indonesian",
                "italian",
                "kazakh",
                "korean",
                "kyrgyz",
                "latin",
                "latvian",
                "lithuanian",
                "macedonian",
                "mongolian",
                "nepali",
                "norwegian",
                "pashto",
                "pidgin",
                "polish",
                "portuguese",
                "romanian",
                "russian",
                "serbian",
                "slovak",
                "slovene",
                "somali",
                "spanish",
                "swahili",
                "swedish",
                "tagalog",
                "thai",
                "turkish",
                "ukrainian",
                "urdu",
                "uzbek",
                "vietnamese",
                "welsh"
              ]
            },
            "description": "Optional parameter to force the language of the retrieved brand data. Works with all three lookup methods."
          },
          {
            "name": "maxSpeed",
            "in": "query",
            "required": false,
            "schema": {
              "type": "boolean"
            },
            "description": "Optional parameter to optimize the API call for maximum speed. When set to true, the API will skip time-consuming operations for faster response at the cost of less comprehensive data. Works with all three lookup methods."
          },
          {
            "name": "timeoutMS",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "minimum": 1000,
              "maximum": 300000
            },
            "description": "Optional timeout in milliseconds for the request. If the request takes longer than this value, it will be aborted with a 408 status code. Maximum allowed value is 300000ms (5 minutes)."
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": {
                      "type": "string",
                      "description": "Status of the response, e.g., 'ok'"
                    },
                    "brand": {
                      "type": "object",
                      "description": "Detailed brand information",
                      "properties": {
                        "domain": {
                          "type": "string",
                          "description": "The domain name of the brand"
                        },
                        "title": {
                          "type": "string",
                          "description": "The title or name of the brand"
                        },
                        "description": {
                          "type": "string",
                          "description": "A brief description of the brand"
                        },
                        "slogan": {
                          "type": "string",
                          "description": "The brand's slogan"
                        },
                        "colors": {
                          "type": "array",
                          "description": "An array of brand colors",
                          "items": {
                            "type": "object",
                            "properties": {
                              "hex": {
                                "type": "string",
                                "description": "Color in hexadecimal format"
                              },
                              "name": {
                                "type": "string",
                                "description": "Name of the color"
                              }
                            }
                          }
                        },
                        "logos": {
                          "type": "array",
                          "description": "An array of logos associated with the brand",
                          "items": {
                            "type": "object",
                            "properties": {
                              "url": {
                                "type": "string",
                                "description": "CDN hosted url of the logo (ready for display)"
                              },
                              "mode": {
                                "type": "string",
                                "enum": [
                                  "light",
                                  "dark",
                                  "has_opaque_background"
                                ],
                                "description": "Indicates when this logo is best used: 'light' = best for light mode, 'dark' = best for dark mode, 'has_opaque_background' = can be used for either as image has its own background"
                              },
                              "colors": {
                                "type": "array",
                                "description": "Array of colors in the logo",
                                "items": {
                                  "type": "object",
                                  "properties": {
                                    "hex": {
                                      "type": "string",
                                      "description": "Color in hexadecimal format"
                                    },
                                    "name": {
                                      "type": "string",
                                      "description": "Name of the color"
                                    }
                                  }
                                }
                              },
                              "resolution": {
                                "type": "object",
                                "description": "Resolution of the logo image",
                                "properties": {
                                  "width": {
                                    "type": "integer",
                                    "description": "Width of the image in pixels"
                                  },
                                  "height": {
                                    "type": "integer",
                                    "description": "Height of the image in pixels"
                                  },
                                  "aspect_ratio": {
                                    "type": "number",
                                    "description": "Aspect ratio of the image (width/height)"
                                  }
                                }
                              },
                              "type": {
                                "type": "string",
                                "enum": [
                                  "icon",
                                  "logo"
                                ],
                                "description": "Type of the logo based on resolution (e.g., 'icon', 'logo')"
                              }
                            }
                          }
                        },
                        "backdrops": {
                          "type": "array",
                          "description": "An array of backdrop images for the brand",
                          "items": {
                            "type": "object",
                            "properties": {
                              "url": {
                                "type": "string",
                                "description": "URL of the backdrop image"
                              },
                              "colors": {
                                "type": "array",
                                "description": "Array of colors in the backdrop image",
                                "items": {
                                  "type": "object",
                                  "properties": {
                                    "hex": {
                                      "type": "string",
                                      "description": "Color in hexadecimal format"
                                    },
                                    "name": {
                                      "type": "string",
                                      "description": "Name of the color"
                                    }
                                  }
                                }
                              },
                              "resolution": {
                                "type": "object",
                                "description": "Resolution of the backdrop image",
                                "properties": {
                                  "width": {
                                    "type": "integer",
                                    "description": "Width of the image in pixels"
                                  },
                                  "height": {
                                    "type": "integer",
                                    "description": "Height of the image in pixels"
                                  },
                                  "aspect_ratio": {
                                    "type": "number",
                                    "description": "Aspect ratio of the image (width/height)"
                                  }
                                }
                              }
                            }
                          }
                        },
                        "socials": {
                          "type": "array",
                          "description": "An array of social media links for the brand",
                          "items": {
                            "type": "object",
                            "properties": {
                              "type": {
                                "type": "string",
                                "description": "Type of social media, e.g., 'facebook', 'twitter'"
                              },
                              "url": {
                                "type": "string",
                                "description": "URL of the social media page"
                              }
                            }
                          }
                        },
                        "address": {
                          "type": "object",
                          "description": "Physical address of the brand",
                          "properties": {
                            "street": {
                              "type": "string",
                              "description": "Street address"
                            },
                            "city": {
                              "type": "string",
                              "description": "City name"
                            },
                            "country": {
                              "type": "string",
                              "description": "Country name"
                            },
                            "country_code": {
                              "type": "string",
                              "description": "Country code"
                            },
                            "state_province": {
                              "type": "string",
                              "description": "State or province name"
                            },
                            "state_code": {
                              "type": "string",
                              "description": "State or province code"
                            },
                            "postal_code": {
                              "type": "string",
                              "description": "Postal or ZIP code"
                            }
                          }
                        },
                        "stock": {
                          "type": "object",
                          "description": "Stock market information for this brand (will be null if not a publicly traded company)",
                          "properties": {
                            "ticker": {
                              "type": "string",
                              "description": "Stock ticker symbol"
                            },
                            "exchange": {
                              "type": "string",
                              "description": "Stock exchange name"
                            }
                          }
                        },
                        "is_nsfw": {
                          "type": "boolean",
                          "description": "Indicates whether the brand content is not safe for work (NSFW)"
                        },
                        "email": {
                          "type": "string",
                          "description": "Company email address"
                        },
                        "phone": {
                          "type": "string",
                          "description": "Company phone number"
                        },
                        "industries": {
                          "type": "object",
                          "description": "Industry classification information for the brand",
                          "properties": {
                            "eic": {
                              "type": "array",
                              "description": "Easy Industry Classification - array of industry and subindustry pairs",
                              "items": {
                                "type": "object",
                                "properties": {
                                  "industry": {
                                    "$ref": "#/components/schemas/Industry"
                                  },
                                  "subindustry": {
                                    "$ref": "#/components/schemas/Subindustry"
                                  }
                                },
                                "required": [
                                  "industry",
                                  "subindustry"
                                ]
                              }
                            }
                          }
                        },
                        "links": {
                          "type": "object",
                          "description": "Important website links for the brand",
                          "properties": {
                            "careers": {
                              "type": "string",
                              "nullable": true,
                              "description": "URL to the brand's careers or job opportunities page"
                            },
                            "privacy": {
                              "type": "string",
                              "nullable": true,
                              "description": "URL to the brand's privacy policy page"
                            },
                            "terms": {
                              "type": "string",
                              "nullable": true,
                              "description": "URL to the brand's terms of service or terms and conditions page"
                            },
                            "contact": {
                              "type": "string",
                              "nullable": true,
                              "description": "URL to the brand's contact or contact us page"
                            },
                            "blog": {
                              "type": "string",
                              "nullable": true,
                              "description": "URL to the brand's blog or news page"
                            },
                            "pricing": {
                              "type": "string",
                              "nullable": true,
                              "description": "URL to the brand's pricing or plans page"
                            }
                          }
                        }
                      }
                    },
                    "code": {
                      "type": "integer",
                      "description": "HTTP status code"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {
                      "type": "string",
                      "description": "Error message"
                    },
                    "error_code": {
                      "type": "string",
                      "enum": [
                        "INTERNAL_ERROR",
                        "VALID",
                        "NOT_FOUND",
                        "FORBIDDEN",
                        "USAGE_EXCEEDED",
                        "RATE_LIMITED",
                        "UNAUTHORIZED",
                        "DISABLED",
                        "INSUFFICIENT_PERMISSIONS",
                        "TIMEOUT_EXCEEDS_MAXIMUM",
                        "WEBSITE_ACCESS_ERROR",
                        "INPUT_VALIDATION_ERROR"
                      ],
                      "description": "Error code indicating the type of error"
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error_code": {
                      "type": "string",
                      "enum": [
                        "INTERNAL_ERROR",
                        "VALID",
                        "NOT_FOUND",
                        "FORBIDDEN",
                        "USAGE_EXCEEDED",
                        "RATE_LIMITED",
                        "UNAUTHORIZED",
                        "DISABLED",
                        "INSUFFICIENT_PERMISSIONS",
                        "TIMEOUT_EXCEEDS_MAXIMUM",
                        "WEBSITE_ACCESS_ERROR",
                        "INPUT_VALIDATION_ERROR"
                      ],
                      "description": "Error code indicating the type of error"
                    }
                  }
                }
              }
            }
          },
          "408": {
            "description": "Request Timeout",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {
                      "type": "string",
                      "description": "Timeout error message"
                    },
                    "error_code": {
                      "type": "string",
                      "enum": [
                        "REQUEST_TIMEOUT"
                      ],
                      "description": "Error code indicating request timeout"
                    }
                  }
                }
              }
            }
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "tags": [
          "Brand"
        ],
        "x-codeSamples": [
          {
            "lang": "JavaScript",
            "source": "import ContextDev from 'context.dev';\n\nconst client = new ContextDev({\n  apiKey: process.env['CONTEXT_DEV_API_KEY'], // This is the default and can be omitted\n});\n\nconst brand = await client.brand.retrieve({ domain: 'domain' });\n\nconsole.log(brand.brand);"
          },
          {
            "lang": "Python",
            "source": "import os\nfrom context.dev import ContextDev\n\nclient = ContextDev(\n    api_key=os.environ.get(\"CONTEXT_DEV_API_KEY\"),  # This is the default and can be omitted\n)\nbrand = client.brand.retrieve(\n    domain=\"domain\",\n)\nprint(brand.brand)"
          },
          {
            "lang": "Ruby",
            "source": "require \"context_dev\"\n\ncontext_dev = ContextDev::Client.new(api_key: \"My API Key\")\n\nbrand = context_dev.brand.retrieve(domain: \"domain\")\n\nputs(brand)"
          }
        ],
        "operationId": "getBrandRetrieve"
      }
    },
    "/brand/retrieve-by-name": {
      "get": {
        "summary": "Retrieve brand data by company name",
        "description": "Retrieve brand information using a company name. This endpoint searches for the company by name and returns its brand data.",
        "parameters": [
          {
            "name": "name",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string",
              "minLength": 3,
              "maxLength": 30
            },
            "description": "Company name to retrieve brand data for (e.g., 'Apple Inc', 'Microsoft Corporation'). Must be 3-30 characters."
          },
          {
            "name": "force_language",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "enum": [
                "albanian",
                "arabic",
                "azeri",
                "bengali",
                "bulgarian",
                "cantonese",
                "cebuano",
                "croatian",
                "czech",
                "danish",
                "dutch",
                "english",
                "estonian",
                "farsi",
                "finnish",
                "french",
                "german",
                "hausa",
                "hawaiian",
                "hindi",
                "hungarian",
                "icelandic",
                "indonesian",
                "italian",
                "kazakh",
                "korean",
                "kyrgyz",
                "latin",
                "latvian",
                "lithuanian",
                "macedonian",
                "mongolian",
                "nepali",
                "norwegian",
                "pashto",
                "pidgin",
                "polish",
                "portuguese",
                "romanian",
                "russian",
                "serbian",
                "slovak",
                "slovene",
                "somali",
                "spanish",
                "swahili",
                "swedish",
                "tagalog",
                "thai",
                "turkish",
                "ukrainian",
                "urdu",
                "uzbek",
                "vietnamese",
                "welsh"
              ]
            },
            "description": "Optional parameter to force the language of the retrieved brand data."
          },
          {
            "name": "maxSpeed",
            "in": "query",
            "required": false,
            "schema": {
              "type": "boolean"
            },
            "description": "Optional parameter to optimize the API call for maximum speed. When set to true, the API will skip time-consuming operations for faster response at the cost of less comprehensive data."
          },
          {
            "name": "country_gl",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "enum": [
                "ad",
                "ae",
                "af",
                "ag",
                "ai",
                "al",
                "am",
                "an",
                "ao",
                "aq",
                "ar",
                "as",
                "at",
                "au",
                "aw",
                "az",
                "ba",
                "bb",
                "bd",
                "be",
                "bf",
                "bg",
                "bh",
                "bi",
                "bj",
                "bm",
                "bn",
                "bo",
                "br",
                "bs",
                "bt",
                "bv",
                "bw",
                "by",
                "bz",
                "ca",
                "cc",
                "cd",
                "cf",
                "cg",
                "ch",
                "ci",
                "ck",
                "cl",
                "cm",
                "cn",
                "co",
                "cr",
                "cu",
                "cv",
                "cx",
                "cy",
                "cz",
                "de",
                "dj",
                "dk",
                "dm",
                "do",
                "dz",
                "ec",
                "ee",
                "eg",
                "eh",
                "er",
                "es",
                "et",
                "fi",
                "fj",
                "fk",
                "fm",
                "fo",
                "fr",
                "ga",
                "gb",
                "gd",
                "ge",
                "gf",
                "gh",
                "gi",
                "gl",
                "gm",
                "gn",
                "gp",
                "gq",
                "gr",
                "gs",
                "gt",
                "gu",
                "gw",
                "gy",
                "hk",
                "hm",
                "hn",
                "hr",
                "ht",
                "hu",
                "id",
                "ie",
                "il",
                "in",
                "io",
                "iq",
                "ir",
                "is",
                "it",
                "jm",
                "jo",
                "jp",
                "ke",
                "kg",
                "kh",
                "ki",
                "km",
                "kn",
                "kp",
                "kr",
                "kw",
                "ky",
                "kz",
                "la",
                "lb",
                "lc",
                "li",
                "lk",
                "lr",
                "ls",
                "lt",
                "lu",
                "lv",
                "ly",
                "ma",
                "mc",
                "md",
                "mg",
                "mh",
                "mk",
                "ml",
                "mm",
                "mn",
                "mo",
                "mp",
                "mq",
                "mr",
                "ms",
                "mt",
                "mu",
                "mv",
                "mw",
                "mx",
                "my",
                "mz",
                "na",
                "nc",
                "ne",
                "nf",
                "ng",
                "ni",
                "nl",
                "no",
                "np",
                "nr",
                "nu",
                "nz",
                "om",
                "pa",
                "pe",
                "pf",
                "pg",
                "ph",
                "pk",
                "pl",
                "pm",
                "pn",
                "pr",
                "ps",
                "pt",
                "pw",
                "py",
                "qa",
                "re",
                "ro",
                "rs",
                "ru",
                "rw",
                "sa",
                "sb",
                "sc",
                "sd",
                "se",
                "sg",
                "sh",
                "si",
                "sj",
                "sk",
                "sl",
                "sm",
                "sn",
                "so",
                "sr",
                "st",
                "sv",
                "sy",
                "sz",
                "tc",
                "td",
                "tf",
                "tg",
                "th",
                "tj",
                "tk",
                "tl",
                "tm",
                "tn",
                "to",
                "tr",
                "tt",
                "tv",
                "tw",
                "tz",
                "ua",
                "ug",
                "um",
                "us",
                "uy",
                "uz",
                "va",
                "vc",
                "ve",
                "vg",
                "vi",
                "vn",
                "vu",
                "wf",
                "ws",
                "ye",
                "yt",
                "za",
                "zm",
                "zw"
              ]
            },
            "description": "Optional country code (GL parameter) to specify the country. This affects the geographic location used for search queries."
          },
          {
            "name": "timeoutMS",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "minimum": 1000,
              "maximum": 300000
            },
            "description": "Optional timeout in milliseconds for the request. If the request takes longer than this value, it will be aborted with a 408 status code. Maximum allowed value is 300000ms (5 minutes)."
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BrandResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request - Invalid company name or company not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "408": {
            "description": "Request Timeout",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized - invalid or missing API key"
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "tags": [
          "Brand"
        ],
        "x-codeSamples": [
          {
            "lang": "JavaScript",
            "source": "import ContextDev from 'context.dev';\n\nconst client = new ContextDev({\n  apiKey: process.env['CONTEXT_DEV_API_KEY'], // This is the default and can be omitted\n});\n\nconst response = await client.brand.retrieveByName({ name: 'xxx' });\n\nconsole.log(response.brand);"
          },
          {
            "lang": "Python",
            "source": "import os\nfrom context.dev import ContextDev\n\nclient = ContextDev(\n    api_key=os.environ.get(\"CONTEXT_DEV_API_KEY\"),  # This is the default and can be omitted\n)\nresponse = client.brand.retrieve_by_name(\n    name=\"xxx\",\n)\nprint(response.brand)"
          },
          {
            "lang": "Ruby",
            "source": "require \"context_dev\"\n\ncontext_dev = ContextDev::Client.new(api_key: \"My API Key\")\n\nresponse = context_dev.brand.retrieve_by_name(name: \"xxx\")\n\nputs(response)"
          }
        ],
        "operationId": "getBrandRetrieve_by_name"
      }
    },
    "/brand/retrieve-by-email": {
      "get": {
        "summary": "Retrieve brand data by email address",
        "description": "Retrieve brand information using an email address while detecting disposable and free email addresses. This endpoint extracts the domain from the email address and returns brand data for that domain. Disposable and free email addresses (like gmail.com, yahoo.com) will throw a 422 error.",
        "parameters": [
          {
            "name": "email",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string",
              "format": "email"
            },
            "description": "Email address to retrieve brand data for (e.g., 'contact@example.com'). The domain will be extracted from the email. Free email providers (gmail.com, yahoo.com, etc.) and disposable email addresses are not allowed."
          },
          {
            "name": "force_language",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "enum": [
                "albanian",
                "arabic",
                "azeri",
                "bengali",
                "bulgarian",
                "cantonese",
                "cebuano",
                "croatian",
                "czech",
                "danish",
                "dutch",
                "english",
                "estonian",
                "farsi",
                "finnish",
                "french",
                "german",
                "hausa",
                "hawaiian",
                "hindi",
                "hungarian",
                "icelandic",
                "indonesian",
                "italian",
                "kazakh",
                "korean",
                "kyrgyz",
                "latin",
                "latvian",
                "lithuanian",
                "macedonian",
                "mongolian",
                "nepali",
                "norwegian",
                "pashto",
                "pidgin",
                "polish",
                "portuguese",
                "romanian",
                "russian",
                "serbian",
                "slovak",
                "slovene",
                "somali",
                "spanish",
                "swahili",
                "swedish",
                "tagalog",
                "thai",
                "turkish",
                "ukrainian",
                "urdu",
                "uzbek",
                "vietnamese",
                "welsh"
              ]
            },
            "description": "Optional parameter to force the language of the retrieved brand data."
          },
          {
            "name": "maxSpeed",
            "in": "query",
            "required": false,
            "schema": {
              "type": "boolean"
            },
            "description": "Optional parameter to optimize the API call for maximum speed. When set to true, the API will skip time-consuming operations for faster response at the cost of less comprehensive data."
          },
          {
            "name": "timeoutMS",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "minimum": 1000,
              "maximum": 300000
            },
            "description": "Optional timeout in milliseconds for the request. If the request takes longer than this value, it will be aborted with a 408 status code. Maximum allowed value is 300000ms (5 minutes)."
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BrandResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request - Invalid email or domain not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "408": {
            "description": "Request Timeout",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "422": {
            "description": "Unprocessable Entity - Free email or disposable email detected",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {
                      "type": "string",
                      "description": "Error message"
                    },
                    "status": {
                      "type": "string",
                      "description": "Status of the response, e.g., 'error'"
                    },
                    "error_code": {
                      "type": "string",
                      "enum": [
                        "FREE_EMAIL_DETECTED",
                        "DISPOSABLE_EMAIL_DETECTED"
                      ],
                      "description": "Error code indicating whether a free email provider or disposable email was detected"
                    }
                  }
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized - invalid or missing API key"
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "tags": [
          "Brand"
        ],
        "x-codeSamples": [
          {
            "lang": "JavaScript",
            "source": "import ContextDev from 'context.dev';\n\nconst client = new ContextDev({\n  apiKey: process.env['CONTEXT_DEV_API_KEY'], // This is the default and can be omitted\n});\n\nconst response = await client.brand.retrieveByEmail({ email: 'dev@stainless.com' });\n\nconsole.log(response.brand);"
          },
          {
            "lang": "Python",
            "source": "import os\nfrom context.dev import ContextDev\n\nclient = ContextDev(\n    api_key=os.environ.get(\"CONTEXT_DEV_API_KEY\"),  # This is the default and can be omitted\n)\nresponse = client.brand.retrieve_by_email(\n    email=\"dev@stainless.com\",\n)\nprint(response.brand)"
          },
          {
            "lang": "Ruby",
            "source": "require \"context_dev\"\n\ncontext_dev = ContextDev::Client.new(api_key: \"My API Key\")\n\nresponse = context_dev.brand.retrieve_by_email(email: \"dev@stainless.com\")\n\nputs(response)"
          }
        ],
        "operationId": "getBrandRetrieve_by_email"
      }
    },
    "/brand/retrieve-by-ticker": {
      "get": {
        "summary": "Retrieve brand data by stock ticker",
        "description": "Retrieve brand information using a stock ticker symbol. This endpoint looks up the company associated with the ticker and returns its brand data.",
        "parameters": [
          {
            "name": "ticker",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string",
              "minLength": 1,
              "maxLength": 15,
              "pattern": "^[A-Za-z0-9.]+$"
            },
            "description": "Stock ticker symbol to retrieve brand data for (e.g., 'AAPL', 'GOOGL', 'BRK.A'). Must be 1-15 characters, letters/numbers/dots only."
          },
          {
            "name": "ticker_exchange",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "enum": [
                "AMEX",
                "AMS",
                "AQS",
                "ASX",
                "ATH",
                "BER",
                "BME",
                "BRU",
                "BSE",
                "BUD",
                "BUE",
                "BVC",
                "CBOE",
                "CNQ",
                "CPH",
                "DFM",
                "DOH",
                "DUB",
                "DUS",
                "DXE",
                "EGX",
                "FSX",
                "HAM",
                "HEL",
                "HKSE",
                "HOSE",
                "ICE",
                "IOB",
                "IST",
                "JKT",
                "JNB",
                "JPX",
                "KLS",
                "KOE",
                "KSC",
                "KUW",
                "LIS",
                "LSE",
                "MCX",
                "MEX",
                "MIL",
                "MUN",
                "NASDAQ",
                "NEO",
                "NSE",
                "NYSE",
                "NZE",
                "OSL",
                "OTC",
                "PAR",
                "PNK",
                "PRA",
                "RIS",
                "SAO",
                "SAU",
                "SES",
                "SET",
                "SGO",
                "SHH",
                "SHZ",
                "SIX",
                "STO",
                "STU",
                "TAI",
                "TAL",
                "TLV",
                "TSX",
                "TSXV",
                "TWO",
                "VIE",
                "WSE",
                "XETRA"
              ]
            },
            "description": "Optional stock exchange for the ticker. Defaults to NASDAQ if not specified."
          },
          {
            "name": "force_language",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "enum": [
                "albanian",
                "arabic",
                "azeri",
                "bengali",
                "bulgarian",
                "cantonese",
                "cebuano",
                "croatian",
                "czech",
                "danish",
                "dutch",
                "english",
                "estonian",
                "farsi",
                "finnish",
                "french",
                "german",
                "hausa",
                "hawaiian",
                "hindi",
                "hungarian",
                "icelandic",
                "indonesian",
                "italian",
                "kazakh",
                "korean",
                "kyrgyz",
                "latin",
                "latvian",
                "lithuanian",
                "macedonian",
                "mongolian",
                "nepali",
                "norwegian",
                "pashto",
                "pidgin",
                "polish",
                "portuguese",
                "romanian",
                "russian",
                "serbian",
                "slovak",
                "slovene",
                "somali",
                "spanish",
                "swahili",
                "swedish",
                "tagalog",
                "thai",
                "turkish",
                "ukrainian",
                "urdu",
                "uzbek",
                "vietnamese",
                "welsh"
              ]
            },
            "description": "Optional parameter to force the language of the retrieved brand data."
          },
          {
            "name": "maxSpeed",
            "in": "query",
            "required": false,
            "schema": {
              "type": "boolean"
            },
            "description": "Optional parameter to optimize the API call for maximum speed. When set to true, the API will skip time-consuming operations for faster response at the cost of less comprehensive data."
          },
          {
            "name": "timeoutMS",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "minimum": 1000,
              "maximum": 300000
            },
            "description": "Optional timeout in milliseconds for the request. If the request takes longer than this value, it will be aborted with a 408 status code. Maximum allowed value is 300000ms (5 minutes)."
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BrandResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request - Invalid ticker or ticker not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "408": {
            "description": "Request Timeout",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized - invalid or missing API key"
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "tags": [
          "Brand"
        ],
        "x-codeSamples": [
          {
            "lang": "JavaScript",
            "source": "import ContextDev from 'context.dev';\n\nconst client = new ContextDev({\n  apiKey: process.env['CONTEXT_DEV_API_KEY'], // This is the default and can be omitted\n});\n\nconst response = await client.brand.retrieveByTicker({ ticker: 'ticker' });\n\nconsole.log(response.brand);"
          },
          {
            "lang": "Python",
            "source": "import os\nfrom context.dev import ContextDev\n\nclient = ContextDev(\n    api_key=os.environ.get(\"CONTEXT_DEV_API_KEY\"),  # This is the default and can be omitted\n)\nresponse = client.brand.retrieve_by_ticker(\n    ticker=\"ticker\",\n)\nprint(response.brand)"
          },
          {
            "lang": "Ruby",
            "source": "require \"context_dev\"\n\ncontext_dev = ContextDev::Client.new(api_key: \"My API Key\")\n\nresponse = context_dev.brand.retrieve_by_ticker(ticker: \"ticker\")\n\nputs(response)"
          }
        ],
        "operationId": "getBrandRetrieve_by_ticker"
      }
    },
    "/brand/retrieve-by-isin": {
      "get": {
        "summary": "Retrieve brand data by ISIN",
        "description": "Retrieve brand information using an ISIN (International Securities Identification Number). This endpoint looks up the company associated with the ISIN and returns its brand data.",
        "parameters": [
          {
            "name": "isin",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string",
              "minLength": 12,
              "maxLength": 12,
              "pattern": "^[A-Z]{2}[A-Z0-9]{9}[0-9]$"
            },
            "description": "ISIN (International Securities Identification Number) to retrieve brand data for (e.g., 'AU000000IMD5', 'US0378331005'). Must be exactly 12 characters: 2 letters followed by 9 alphanumeric characters and ending with a digit."
          },
          {
            "name": "force_language",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "enum": [
                "albanian",
                "arabic",
                "azeri",
                "bengali",
                "bulgarian",
                "cantonese",
                "cebuano",
                "croatian",
                "czech",
                "danish",
                "dutch",
                "english",
                "estonian",
                "farsi",
                "finnish",
                "french",
                "german",
                "hausa",
                "hawaiian",
                "hindi",
                "hungarian",
                "icelandic",
                "indonesian",
                "italian",
                "kazakh",
                "korean",
                "kyrgyz",
                "latin",
                "latvian",
                "lithuanian",
                "macedonian",
                "mongolian",
                "nepali",
                "norwegian",
                "pashto",
                "pidgin",
                "polish",
                "portuguese",
                "romanian",
                "russian",
                "serbian",
                "slovak",
                "slovene",
                "somali",
                "spanish",
                "swahili",
                "swedish",
                "tagalog",
                "thai",
                "turkish",
                "ukrainian",
                "urdu",
                "uzbek",
                "vietnamese",
                "welsh"
              ]
            },
            "description": "Optional parameter to force the language of the retrieved brand data."
          },
          {
            "name": "maxSpeed",
            "in": "query",
            "required": false,
            "schema": {
              "type": "boolean"
            },
            "description": "Optional parameter to optimize the API call for maximum speed. When set to true, the API will skip time-consuming operations for faster response at the cost of less comprehensive data."
          },
          {
            "name": "timeoutMS",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "minimum": 1000,
              "maximum": 300000
            },
            "description": "Optional timeout in milliseconds for the request. If the request takes longer than this value, it will be aborted with a 408 status code. Maximum allowed value is 300000ms (5 minutes)."
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BrandResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request - Invalid ISIN or ISIN not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "408": {
            "description": "Request Timeout",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized - invalid or missing API key"
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "tags": [
          "Brand"
        ],
        "x-codeSamples": [
          {
            "lang": "JavaScript",
            "source": "import ContextDev from 'context.dev';\n\nconst client = new ContextDev({\n  apiKey: process.env['CONTEXT_DEV_API_KEY'], // This is the default and can be omitted\n});\n\nconst response = await client.brand.retrieveByIsin({ isin: 'SE60513A9993' });\n\nconsole.log(response.brand);"
          },
          {
            "lang": "Python",
            "source": "import os\nfrom context.dev import ContextDev\n\nclient = ContextDev(\n    api_key=os.environ.get(\"CONTEXT_DEV_API_KEY\"),  # This is the default and can be omitted\n)\nresponse = client.brand.retrieve_by_isin(\n    isin=\"SE60513A9993\",\n)\nprint(response.brand)"
          },
          {
            "lang": "Ruby",
            "source": "require \"context_dev\"\n\ncontext_dev = ContextDev::Client.new(api_key: \"My API Key\")\n\nresponse = context_dev.brand.retrieve_by_isin(isin: \"SE60513A9993\")\n\nputs(response)"
          }
        ],
        "operationId": "getBrandRetrieve_by_isin"
      }
    },
    "/brand/transaction_identifier": {
      "get": {
        "summary": "Identify brand from transaction data",
        "description": "Endpoint specially designed for platforms that want to identify transaction data by the transaction title.",
        "parameters": [
          {
            "name": "transaction_info",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Transaction information to identify the brand"
          },
          {
            "name": "force_language",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "enum": [
                "albanian",
                "arabic",
                "azeri",
                "bengali",
                "bulgarian",
                "cantonese",
                "cebuano",
                "croatian",
                "czech",
                "danish",
                "dutch",
                "english",
                "estonian",
                "farsi",
                "finnish",
                "french",
                "german",
                "hausa",
                "hawaiian",
                "hindi",
                "hungarian",
                "icelandic",
                "indonesian",
                "italian",
                "kazakh",
                "korean",
                "kyrgyz",
                "latin",
                "latvian",
                "lithuanian",
                "macedonian",
                "mongolian",
                "nepali",
                "norwegian",
                "pashto",
                "pidgin",
                "polish",
                "portuguese",
                "romanian",
                "russian",
                "serbian",
                "slovak",
                "slovene",
                "somali",
                "spanish",
                "swahili",
                "swedish",
                "tagalog",
                "thai",
                "turkish",
                "ukrainian",
                "urdu",
                "uzbek",
                "vietnamese",
                "welsh"
              ]
            },
            "description": "Optional parameter to force the language of the retrieved brand data."
          },
          {
            "name": "maxSpeed",
            "in": "query",
            "required": false,
            "schema": {
              "type": "boolean"
            },
            "description": "Optional parameter to optimize the API call for maximum speed. When set to true, the API will skip time-consuming operations for faster response at the cost of less comprehensive data."
          },
          {
            "name": "country_gl",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "enum": [
                "ad",
                "ae",
                "af",
                "ag",
                "ai",
                "al",
                "am",
                "an",
                "ao",
                "aq",
                "ar",
                "as",
                "at",
                "au",
                "aw",
                "az",
                "ba",
                "bb",
                "bd",
                "be",
                "bf",
                "bg",
                "bh",
                "bi",
                "bj",
                "bm",
                "bn",
                "bo",
                "br",
                "bs",
                "bt",
                "bv",
                "bw",
                "by",
                "bz",
                "ca",
                "cc",
                "cd",
                "cf",
                "cg",
                "ch",
                "ci",
                "ck",
                "cl",
                "cm",
                "cn",
                "co",
                "cr",
                "cu",
                "cv",
                "cx",
                "cy",
                "cz",
                "de",
                "dj",
                "dk",
                "dm",
                "do",
                "dz",
                "ec",
                "ee",
                "eg",
                "eh",
                "er",
                "es",
                "et",
                "fi",
                "fj",
                "fk",
                "fm",
                "fo",
                "fr",
                "ga",
                "gb",
                "gd",
                "ge",
                "gf",
                "gh",
                "gi",
                "gl",
                "gm",
                "gn",
                "gp",
                "gq",
                "gr",
                "gs",
                "gt",
                "gu",
                "gw",
                "gy",
                "hk",
                "hm",
                "hn",
                "hr",
                "ht",
                "hu",
                "id",
                "ie",
                "il",
                "in",
                "io",
                "iq",
                "ir",
                "is",
                "it",
                "jm",
                "jo",
                "jp",
                "ke",
                "kg",
                "kh",
                "ki",
                "km",
                "kn",
                "kp",
                "kr",
                "kw",
                "ky",
                "kz",
                "la",
                "lb",
                "lc",
                "li",
                "lk",
                "lr",
                "ls",
                "lt",
                "lu",
                "lv",
                "ly",
                "ma",
                "mc",
                "md",
                "mg",
                "mh",
                "mk",
                "ml",
                "mm",
                "mn",
                "mo",
                "mp",
                "mq",
                "mr",
                "ms",
                "mt",
                "mu",
                "mv",
                "mw",
                "mx",
                "my",
                "mz",
                "na",
                "nc",
                "ne",
                "nf",
                "ng",
                "ni",
                "nl",
                "no",
                "np",
                "nr",
                "nu",
                "nz",
                "om",
                "pa",
                "pe",
                "pf",
                "pg",
                "ph",
                "pk",
                "pl",
                "pm",
                "pn",
                "pr",
                "ps",
                "pt",
                "pw",
                "py",
                "qa",
                "re",
                "ro",
                "rs",
                "ru",
                "rw",
                "sa",
                "sb",
                "sc",
                "sd",
                "se",
                "sg",
                "sh",
                "si",
                "sj",
                "sk",
                "sl",
                "sm",
                "sn",
                "so",
                "sr",
                "st",
                "sv",
                "sy",
                "sz",
                "tc",
                "td",
                "tf",
                "tg",
                "th",
                "tj",
                "tk",
                "tl",
                "tm",
                "tn",
                "to",
                "tr",
                "tt",
                "tv",
                "tw",
                "tz",
                "ua",
                "ug",
                "um",
                "us",
                "uy",
                "uz",
                "va",
                "vc",
                "ve",
                "vg",
                "vi",
                "vn",
                "vu",
                "wf",
                "ws",
                "ye",
                "yt",
                "za",
                "zm",
                "zw"
              ]
            },
            "description": "Optional country code (GL parameter) to specify the country. This affects the geographic location used for search queries."
          },
          {
            "name": "city",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Optional city name to prioritize when searching for the brand."
          },
          {
            "name": "mcc",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Optional Merchant Category Code (MCC) to help identify the business category/industry. "
          },
          {
            "name": "phone",
            "in": "query",
            "required": false,
            "schema": {
              "type": "number"
            },
            "description": "Optional phone number from the transaction to help verify brand match."
          },
          {
            "name": "high_confidence_only",
            "in": "query",
            "required": false,
            "schema": {
              "type": "boolean",
              "default": false
            },
            "description": "When set to true, the API will perform an additional verification steps to ensure the identified brand matches the transaction with high confidence. Defaults to false."
          },
          {
            "name": "timeoutMS",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "minimum": 1000,
              "maximum": 300000
            },
            "description": "Optional timeout in milliseconds for the request. If the request takes longer than this value, it will be aborted with a 408 status code. Maximum allowed value is 300000ms (5 minutes)."
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": {
                      "type": "string",
                      "description": "Status of the response, e.g., 'ok'"
                    },
                    "brand": {
                      "type": "object",
                      "description": "Detailed brand information",
                      "properties": {
                        "domain": {
                          "type": "string",
                          "description": "The domain name of the brand"
                        },
                        "title": {
                          "type": "string",
                          "description": "The title or name of the brand"
                        },
                        "description": {
                          "type": "string",
                          "description": "A brief description of the brand"
                        },
                        "slogan": {
                          "type": "string",
                          "description": "The brand's slogan"
                        },
                        "colors": {
                          "type": "array",
                          "description": "An array of brand colors",
                          "items": {
                            "type": "object",
                            "properties": {
                              "hex": {
                                "type": "string",
                                "description": "Color in hexadecimal format"
                              },
                              "name": {
                                "type": "string",
                                "description": "Name of the color"
                              }
                            }
                          }
                        },
                        "logos": {
                          "type": "array",
                          "description": "An array of logos associated with the brand",
                          "items": {
                            "type": "object",
                            "properties": {
                              "url": {
                                "type": "string",
                                "description": "CDN hosted url of the logo (ready for display)"
                              },
                              "mode": {
                                "type": "string",
                                "enum": [
                                  "light",
                                  "dark",
                                  "has_opaque_background"
                                ],
                                "description": "Indicates when this logo is best used: 'light' = best for light mode, 'dark' = best for dark mode, 'has_opaque_background' = can be used for either as image has its own background"
                              },
                              "colors": {
                                "type": "array",
                                "description": "Array of colors in the logo",
                                "items": {
                                  "type": "object",
                                  "properties": {
                                    "hex": {
                                      "type": "string",
                                      "description": "Color in hexadecimal format"
                                    },
                                    "name": {
                                      "type": "string",
                                      "description": "Name of the color"
                                    }
                                  }
                                }
                              },
                              "resolution": {
                                "type": "object",
                                "description": "Resolution of the logo image",
                                "properties": {
                                  "width": {
                                    "type": "integer",
                                    "description": "Width of the image in pixels"
                                  },
                                  "height": {
                                    "type": "integer",
                                    "description": "Height of the image in pixels"
                                  },
                                  "aspect_ratio": {
                                    "type": "number",
                                    "description": "Aspect ratio of the image (width/height)"
                                  }
                                }
                              },
                              "type": {
                                "type": "string",
                                "enum": [
                                  "icon",
                                  "logo"
                                ],
                                "description": "Type of the logo based on resolution (e.g., 'icon', 'logo')"
                              }
                            }
                          }
                        },
                        "backdrops": {
                          "type": "array",
                          "description": "An array of backdrop images for the brand",
                          "items": {
                            "type": "object",
                            "properties": {
                              "url": {
                                "type": "string",
                                "description": "URL of the backdrop image"
                              },
                              "colors": {
                                "type": "array",
                                "description": "Array of colors in the backdrop image",
                                "items": {
                                  "type": "object",
                                  "properties": {
                                    "hex": {
                                      "type": "string",
                                      "description": "Color in hexadecimal format"
                                    },
                                    "name": {
                                      "type": "string",
                                      "description": "Name of the color"
                                    }
                                  }
                                }
                              },
                              "resolution": {
                                "type": "object",
                                "description": "Resolution of the backdrop image",
                                "properties": {
                                  "width": {
                                    "type": "integer",
                                    "description": "Width of the image in pixels"
                                  },
                                  "height": {
                                    "type": "integer",
                                    "description": "Height of the image in pixels"
                                  },
                                  "aspect_ratio": {
                                    "type": "number",
                                    "description": "Aspect ratio of the image (width/height)"
                                  }
                                }
                              }
                            }
                          }
                        },
                        "socials": {
                          "type": "array",
                          "description": "An array of social media links for the brand",
                          "items": {
                            "type": "object",
                            "properties": {
                              "type": {
                                "type": "string",
                                "description": "Type of social media, e.g., 'facebook', 'twitter'"
                              },
                              "url": {
                                "type": "string",
                                "description": "URL of the social media page"
                              }
                            }
                          }
                        },
                        "address": {
                          "type": "object",
                          "description": "Physical address of the brand",
                          "properties": {
                            "street": {
                              "type": "string",
                              "description": "Street address"
                            },
                            "city": {
                              "type": "string",
                              "description": "City name"
                            },
                            "country": {
                              "type": "string",
                              "description": "Country name"
                            },
                            "country_code": {
                              "type": "string",
                              "description": "Country code"
                            },
                            "state_province": {
                              "type": "string",
                              "description": "State or province name"
                            },
                            "state_code": {
                              "type": "string",
                              "description": "State or province code"
                            },
                            "postal_code": {
                              "type": "string",
                              "description": "Postal or ZIP code"
                            }
                          }
                        },
                        "stock": {
                          "type": "object",
                          "description": "Stock market information for this brand (will be null if not a publicly traded company)",
                          "properties": {
                            "ticker": {
                              "type": "string",
                              "description": "Stock ticker symbol"
                            },
                            "exchange": {
                              "type": "string",
                              "description": "Stock exchange name"
                            }
                          }
                        },
                        "is_nsfw": {
                          "type": "boolean",
                          "description": "Indicates whether the brand content is not safe for work (NSFW)"
                        },
                        "email": {
                          "type": "string",
                          "description": "Company email address"
                        },
                        "phone": {
                          "type": "string",
                          "description": "Company phone number"
                        },
                        "industries": {
                          "type": "object",
                          "description": "Industry classification information for the brand",
                          "properties": {
                            "eic": {
                              "type": "array",
                              "description": "Easy Industry Classification - array of industry and subindustry pairs",
                              "items": {
                                "type": "object",
                                "properties": {
                                  "industry": {
                                    "$ref": "#/components/schemas/Industry"
                                  },
                                  "subindustry": {
                                    "$ref": "#/components/schemas/Subindustry"
                                  }
                                },
                                "required": [
                                  "industry",
                                  "subindustry"
                                ]
                              }
                            }
                          }
                        },
                        "links": {
                          "type": "object",
                          "description": "Important website links for the brand",
                          "properties": {
                            "careers": {
                              "type": "string",
                              "nullable": true,
                              "description": "URL to the brand's careers or job opportunities page"
                            },
                            "privacy": {
                              "type": "string",
                              "nullable": true,
                              "description": "URL to the brand's privacy policy page"
                            },
                            "terms": {
                              "type": "string",
                              "nullable": true,
                              "description": "URL to the brand's terms of service or terms and conditions page"
                            },
                            "contact": {
                              "type": "string",
                              "nullable": true,
                              "description": "URL to the brand's contact or contact us page"
                            },
                            "blog": {
                              "type": "string",
                              "nullable": true,
                              "description": "URL to the brand's blog or news page"
                            },
                            "pricing": {
                              "type": "string",
                              "nullable": true,
                              "description": "URL to the brand's pricing or plans page"
                            }
                          }
                        }
                      }
                    },
                    "code": {
                      "type": "integer",
                      "description": "HTTP status code"
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error_code": {
                      "type": "string",
                      "enum": [
                        "INTERNAL_ERROR",
                        "VALID",
                        "NOT_FOUND",
                        "FORBIDDEN",
                        "USAGE_EXCEEDED",
                        "RATE_LIMITED",
                        "UNAUTHORIZED",
                        "DISABLED",
                        "INSUFFICIENT_PERMISSIONS",
                        "TIMEOUT_EXCEEDS_MAXIMUM",
                        "WEBSITE_ACCESS_ERROR",
                        "INPUT_VALIDATION_ERROR"
                      ],
                      "description": "Error code indicating the type of error"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad request"
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "tags": [
          "Brand"
        ],
        "x-codeSamples": [
          {
            "lang": "JavaScript",
            "source": "import ContextDev from 'context.dev';\n\nconst client = new ContextDev({\n  apiKey: process.env['CONTEXT_DEV_API_KEY'], // This is the default and can be omitted\n});\n\nconst response = await client.brand.identifyFromTransaction({\n  transaction_info: 'transaction_info',\n});\n\nconsole.log(response.brand);"
          },
          {
            "lang": "Python",
            "source": "import os\nfrom context.dev import ContextDev\n\nclient = ContextDev(\n    api_key=os.environ.get(\"CONTEXT_DEV_API_KEY\"),  # This is the default and can be omitted\n)\nresponse = client.brand.identify_from_transaction(\n    transaction_info=\"transaction_info\",\n)\nprint(response.brand)"
          },
          {
            "lang": "Ruby",
            "source": "require \"context_dev\"\n\ncontext_dev = ContextDev::Client.new(api_key: \"My API Key\")\n\nresponse = context_dev.brand.identify_from_transaction(transaction_info: \"transaction_info\")\n\nputs(response)"
          }
        ],
        "operationId": "getBrandTransaction_identifier"
      }
    },
    "/brand/naics": {
      "get": {
        "summary": "Retrieve NAICS code for any brand",
        "description": "Endpoint to classify any brand into a 2022 NAICS code.",
        "parameters": [
          {
            "name": "input",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Brand domain or title to retrieve NAICS code for. If a valid domain is provided in `input`, it will be used for classification, otherwise, we will search for the brand using the provided title."
          },
          {
            "name": "timeoutMS",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "minimum": 1000,
              "maximum": 300000
            },
            "description": "Optional timeout in milliseconds for the request. If the request takes longer than this value, it will be aborted with a 408 status code. Maximum allowed value is 300000ms (5 minutes)."
          },
          {
            "name": "minResults",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "minimum": 1,
              "maximum": 10,
              "default": 1
            },
            "description": "Minimum number of NAICS codes to return. Must be at least 1. Defaults to 1."
          },
          {
            "name": "maxResults",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "minimum": 1,
              "maximum": 10,
              "default": 5
            },
            "description": "Maximum number of NAICS codes to return. Must be between 1 and 10. Defaults to 5."
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": {
                      "type": "string",
                      "description": "Status of the response, e.g., 'ok'"
                    },
                    "domain": {
                      "type": "string",
                      "description": "Domain found for the brand"
                    },
                    "type": {
                      "type": "string",
                      "description": "Industry classification type, for naics api it will be `naics`"
                    },
                    "codes": {
                      "type": "array",
                      "description": "Array of NAICS codes and titles.",
                      "items": {
                        "type": "object",
                        "properties": {
                          "code": {
                            "type": "string",
                            "description": "NAICS code"
                          },
                          "name": {
                            "type": "string",
                            "description": "NAICS title"
                          },
                          "confidence": {
                            "type": "string",
                            "enum": [
                              "high",
                              "medium",
                              "low"
                            ],
                            "description": "Confidence level for how well this NAICS code matches the company description"
                          }
                        },
                        "required": [
                          "code",
                          "name",
                          "confidence"
                        ]
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {
                      "type": "string",
                      "description": "Error message"
                    },
                    "error_code": {
                      "type": "string",
                      "enum": [
                        "INTERNAL_ERROR",
                        "VALID",
                        "NOT_FOUND",
                        "FORBIDDEN",
                        "USAGE_EXCEEDED",
                        "RATE_LIMITED",
                        "UNAUTHORIZED",
                        "DISABLED",
                        "INSUFFICIENT_PERMISSIONS",
                        "TIMEOUT_EXCEEDS_MAXIMUM",
                        "WEBSITE_ACCESS_ERROR",
                        "INPUT_VALIDATION_ERROR"
                      ],
                      "description": "Error code indicating the type of error"
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error_code": {
                      "type": "string",
                      "enum": [
                        "INTERNAL_ERROR",
                        "VALID",
                        "NOT_FOUND",
                        "FORBIDDEN",
                        "USAGE_EXCEEDED",
                        "RATE_LIMITED",
                        "UNAUTHORIZED",
                        "DISABLED",
                        "INSUFFICIENT_PERMISSIONS",
                        "TIMEOUT_EXCEEDS_MAXIMUM",
                        "WEBSITE_ACCESS_ERROR",
                        "INPUT_VALIDATION_ERROR"
                      ],
                      "description": "Error code indicating the type of error"
                    }
                  }
                }
              }
            }
          },
          "404": {
            "description": "Brand not found."
          },
          "408": {
            "description": "Request Timeout",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {
                      "type": "string",
                      "description": "Timeout error message"
                    },
                    "error_code": {
                      "type": "string",
                      "enum": [
                        "REQUEST_TIMEOUT"
                      ],
                      "description": "Error code indicating request timeout"
                    }
                  }
                }
              }
            }
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "tags": [
          "Brand"
        ],
        "x-codeSamples": [
          {
            "lang": "JavaScript",
            "source": "import ContextDev from 'context.dev';\n\nconst client = new ContextDev({\n  apiKey: process.env['CONTEXT_DEV_API_KEY'], // This is the default and can be omitted\n});\n\nconst response = await client.industry.retrieveNaics({ input: 'input' });\n\nconsole.log(response.codes);"
          },
          {
            "lang": "Python",
            "source": "import os\nfrom context.dev import ContextDev\n\nclient = ContextDev(\n    api_key=os.environ.get(\"CONTEXT_DEV_API_KEY\"),  # This is the default and can be omitted\n)\nresponse = client.industry.retrieve_naics(\n    input=\"input\",\n)\nprint(response.codes)"
          },
          {
            "lang": "Ruby",
            "source": "require \"context_dev\"\n\ncontext_dev = ContextDev::Client.new(api_key: \"My API Key\")\n\nresponse = context_dev.industry.retrieve_naics(input: \"input\")\n\nputs(response)"
          }
        ],
        "operationId": "getBrandNaics"
      }
    },
    "/brand/retrieve-simplified": {
      "get": {
        "summary": "Retrieve simplified brand data by domain",
        "description": "Returns a simplified version of brand data containing only essential information: domain, title, colors, logos, and backdrops. This endpoint is optimized for faster responses and reduced data transfer.",
        "parameters": [
          {
            "name": "domain",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Domain name to retrieve simplified brand data for"
          },
          {
            "name": "timeoutMS",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "minimum": 1000,
              "maximum": 300000
            },
            "description": "Optional timeout in milliseconds for the request. If the request takes longer than this value, it will be aborted with a 408 status code. Maximum allowed value is 300000ms (5 minutes)."
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": {
                      "type": "string",
                      "description": "Status of the response, e.g., 'ok'"
                    },
                    "brand": {
                      "type": "object",
                      "description": "Simplified brand information",
                      "properties": {
                        "domain": {
                          "type": "string",
                          "description": "The domain name of the brand"
                        },
                        "title": {
                          "type": "string",
                          "description": "The title or name of the brand"
                        },
                        "colors": {
                          "type": "array",
                          "description": "An array of brand colors",
                          "items": {
                            "type": "object",
                            "properties": {
                              "hex": {
                                "type": "string",
                                "description": "Color in hexadecimal format"
                              },
                              "name": {
                                "type": "string",
                                "description": "Name of the color"
                              }
                            }
                          }
                        },
                        "logos": {
                          "type": "array",
                          "description": "An array of logos associated with the brand",
                          "items": {
                            "type": "object",
                            "properties": {
                              "url": {
                                "type": "string",
                                "description": "CDN hosted url of the logo (ready for display)"
                              },
                              "mode": {
                                "type": "string",
                                "enum": [
                                  "light",
                                  "dark",
                                  "has_opaque_background"
                                ],
                                "description": "Indicates when this logo is best used: 'light' = best for light mode, 'dark' = best for dark mode, 'has_opaque_background' = can be used for either as image has its own background"
                              },
                              "colors": {
                                "type": "array",
                                "description": "Array of colors in the logo",
                                "items": {
                                  "type": "object",
                                  "properties": {
                                    "hex": {
                                      "type": "string",
                                      "description": "Color in hexadecimal format"
                                    },
                                    "name": {
                                      "type": "string",
                                      "description": "Name of the color"
                                    }
                                  }
                                }
                              },
                              "resolution": {
                                "type": "object",
                                "description": "Resolution of the logo image",
                                "properties": {
                                  "width": {
                                    "type": "integer",
                                    "description": "Width of the image in pixels"
                                  },
                                  "height": {
                                    "type": "integer",
                                    "description": "Height of the image in pixels"
                                  },
                                  "aspect_ratio": {
                                    "type": "number",
                                    "description": "Aspect ratio of the image (width/height)"
                                  }
                                }
                              },
                              "type": {
                                "type": "string",
                                "enum": [
                                  "icon",
                                  "logo"
                                ],
                                "description": "Type of the logo based on resolution (e.g., 'icon', 'logo')"
                              }
                            }
                          }
                        },
                        "backdrops": {
                          "type": "array",
                          "description": "An array of backdrop images for the brand",
                          "items": {
                            "type": "object",
                            "properties": {
                              "url": {
                                "type": "string",
                                "description": "URL of the backdrop image"
                              },
                              "colors": {
                                "type": "array",
                                "description": "Array of colors in the backdrop image",
                                "items": {
                                  "type": "object",
                                  "properties": {
                                    "hex": {
                                      "type": "string",
                                      "description": "Color in hexadecimal format"
                                    },
                                    "name": {
                                      "type": "string",
                                      "description": "Name of the color"
                                    }
                                  }
                                }
                              },
                              "resolution": {
                                "type": "object",
                                "description": "Resolution of the backdrop image",
                                "properties": {
                                  "width": {
                                    "type": "integer",
                                    "description": "Width of the image in pixels"
                                  },
                                  "height": {
                                    "type": "integer",
                                    "description": "Height of the image in pixels"
                                  },
                                  "aspect_ratio": {
                                    "type": "number",
                                    "description": "Aspect ratio of the image (width/height)"
                                  }
                                }
                              }
                            }
                          }
                        }
                      }
                    },
                    "code": {
                      "type": "integer",
                      "description": "HTTP status code of the response"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {
                      "type": "string",
                      "description": "Error message"
                    },
[...]
