{
  "openapi": "3.0.3",
  "info": {
    "title": "Cat Facts API",
    "description": "A free public API providing random cat facts. No authentication required.",
    "version": "1.0.0",
    "x-jentic-source-url": "https://catfact.ninja/",
    "x-provenance": "jentic-generated"
  },
  "servers": [
    {
      "url": "https://catfact.ninja",
      "description": "Cat Facts API"
    }
  ],
  "paths": {
    "/fact": {
      "get": {
        "operationId": "getRandomFact",
        "summary": "Get a random cat fact",
        "parameters": [
          {
            "name": "max_length",
            "in": "query",
            "required": false,
            "description": "Maximum length of the returned fact",
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "A random cat fact",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "fact": {
                      "type": "string",
                      "description": "The cat fact"
                    },
                    "length": {
                      "type": "integer",
                      "description": "Length of the fact string"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/facts": {
      "get": {
        "operationId": "getFacts",
        "summary": "Get a paginated list of cat facts",
        "parameters": [
          {
            "name": "max_length",
            "in": "query",
            "required": false,
            "description": "Maximum length of the returned facts",
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "description": "Number of facts per page (default varies)",
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "page",
            "in": "query",
            "required": false,
            "description": "Page number for pagination",
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Paginated list of cat facts",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "current_page": {
                      "type": "integer"
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "fact": {
                            "type": "string"
                          },
                          "length": {
                            "type": "integer"
                          }
                        }
                      }
                    },
                    "last_page": {
                      "type": "integer"
                    },
                    "per_page": {
                      "type": "integer"
                    },
                    "total": {
                      "type": "integer"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/breeds": {
      "get": {
        "operationId": "getBreeds",
        "summary": "Get a paginated list of cat breeds",
        "parameters": [
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "description": "Number of breeds per page",
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "page",
            "in": "query",
            "required": false,
            "description": "Page number for pagination",
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Paginated list of cat breeds",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "current_page": {
                      "type": "integer"
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "breed": {
                            "type": "string"
                          },
                          "country": {
                            "type": "string"
                          },
                          "origin": {
                            "type": "string"
                          },
                          "coat": {
                            "type": "string"
                          },
                          "pattern": {
                            "type": "string"
                          }
                        }
                      }
                    },
                    "last_page": {
                      "type": "integer"
                    },
                    "per_page": {
                      "type": "integer"
                    },
                    "total": {
                      "type": "integer"
                    }
                  }
                }
              }
            }
          }
        }
      }
    }
  }
}
