{
  "openapi": "3.0.3",
  "info": {
    "title": "HOA Data Models (Generated)",
    "version": "1.0.0",
    "description": "Swagger/OpenAPI spec generated from provided JSON samples.\nNotes:\n- All fields are marked required (per request).\n- Defaults: strings => \"\", arrays => [], objects => {}, integers => 0, booleans => false.\n",
    "x-jentic-source-url": "https://api.swaggerhub.com/apis/MIK_1/hoa-data-models-generated/1.0.0"
  },
  "servers": [
    {
      "url": "https://www.insidemaps.com"
    }
  ],
  "paths": {
    "/api/hoa/hoas": {
      "get": {
        "operationId": "getHoas",
        "summary": "Get HOAs (list)",
        "description": "Retrieve a paginated list of Homeowners Associations (HOAs).",
        "parameters": [
          {
            "in": "query",
            "name": "limit",
            "schema": {
              "type": "integer"
            },
            "required": false,
            "description": "The maximum number of HOAs to return per page"
          },
          {
            "in": "query",
            "name": "page",
            "schema": {
              "type": "integer"
            },
            "required": false,
            "description": "The page number to retrieve"
          }
        ],
        "responses": {
          "200": {
            "description": "HOA list response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HOAListResponse"
                },
                "example": {
                  "totalCount": 70,
                  "hoas": [
                    {
                      "hoaId": "QQr3jWoqWs",
                      "hoaName": "Paradise Home Owners Association",
                      "amenities": [
                        "Gym"
                      ],
                      "connectedProperties": []
                    },
                    {
                      "hoaId": "pIQVBV4JtU",
                      "hoaName": "Tareq test",
                      "amenities": [],
                      "connectedProperties": []
                    },
                    {
                      "hoaId": "bIzEyZADn2",
                      "hoaName": "Trevesta Homeowners Association, Inc.",
                      "amenities": [
                        "Club House",
                        "Pool",
                        "Tot lot"
                      ],
                      "connectedProperties": [
                        {
                          "externalId": "81001674"
                        }
                      ]
                    },
                    {
                      "hoaId": "RPMiKRBoCe",
                      "hoaName": "ZT208",
                      "amenities": [],
                      "connectedProperties": []
                    },
                    {
                      "hoaId": "XxW1lqOTD3",
                      "hoaName": "ZT207",
                      "amenities": [],
                      "connectedProperties": []
                    },
                    {
                      "hoaId": "dYKrtCLIdP",
                      "hoaName": "Test HOA",
                      "amenities": [
                        "Pool"
                      ],
                      "connectedProperties": []
                    },
                    {
                      "hoaId": "bGZMcEAeL0",
                      "hoaName": "ZT206",
                      "amenities": [],
                      "connectedProperties": []
                    },
                    {
                      "hoaId": "MzCsgcmyoo",
                      "hoaName": "Test Demo",
                      "amenities": [
                        "Gym"
                      ],
                      "connectedProperties": [
                        {
                          "externalId": "323232"
                        }
                      ]
                    },
                    {
                      "hoaId": "TWRVho8g7C",
                      "hoaName": "ZT205",
                      "amenities": [],
                      "connectedProperties": [
                        {
                          "externalId": "191251"
                        }
                      ]
                    },
                    {
                      "hoaId": "fb1xR7aohB",
                      "hoaName": "Test",
                      "amenities": [
                        "Pool"
                      ],
                      "connectedProperties": [
                        {
                          "externalId": "1967"
                        },
                        {
                          "externalId": "00055919"
                        }
                      ]
                    }
                  ]
                }
              }
            }
          }
        }
      }
    },
    "/api/hoa/{hoaId}/hoaDetails": {
      "get": {
        "operationId": "getHoaDetails",
        "summary": "Get HOA details",
        "parameters": [
          {
            "name": "hoaId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "default": ""
            }
          }
        ],
        "responses": {
          "200": {
            "description": "HOA details response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HOADetailsResponse"
                },
                "example": {
                  "overview": {
                    "basicInformation": {
                      "id": "QQr3jWoqWs",
                      "name": "Paradise Home Owners Association",
                      "market": "Charlotte",
                      "state": "New Hampshire",
                      "zip": "5444",
                      "coordinates": "47.14996, -122.17916",
                      "contactNumber": "8801836666666",
                      "email": "lacretia@hoacommunitysolutions.com",
                      "hoaFees": "500",
                      "paymentFrequency": "Annually",
                      "hoaFeesPaymentDeadline": "15th November",
                      "hoaPaymentInformation": "Payment should be cleared on time.",
                      "address": "Bonney Lake, Washington",
                      "city": "dhaka",
                      "masterHoaId": ""
                    },
                    "propertyManagementCompanyInformation": {
                      "propertyManager": "Jhon",
                      "propertyManagerCompanyAddress": "Bonney Lake, Washington",
                      "propertyManagerPhone": "8801836666666",
                      "propertyManagerEmail": "lacretia@hoacommunitysolutions.com"
                    },
                    "municipalityInformation": {
                      "tenantLeaseRegistrationFormUrl": [],
                      "registrationResolutionForm": "",
                      "registrationRequirements": "",
                      "countyOrMunicipalityRenewalForm": [],
                      "ownerRenewalForm": "",
                      "renewalInstructions": "",
                      "renewalFee": "0"
                    },
                    "additionalInformation": {
                      "gateAccessRequirement": "Need to show verified Id.",
                      "gatedArea": true,
                      "guestAccess": "Yes",
                      "portalAccess": "",
                      "residentLogin": "",
                      "hoaPortalLink": "",
                      "pmcPortalLink": "",
                      "gateAccessFormFiles": [
                        {
                          "url": "https://hoa-dashboard.s3.amazonaws.com/hoa/QQr3jWoqWs/gateAccessFormFiles/TX_01_982502_05032023_1203_00413.pdf?AWSAccessKeyId=AKIA3UJVVYF53ARTVUQI&Expires=1739606534&Signature=xmzJ0oQzHVzd%2Fj3pW4OqbcEsWL0%3D",
                          "fileName": "TX_01_982502_05032023_1203_00413.pdf",
                          "sourceId": "HCAtSKF5jV",
                          "sourceIdType": "mail"
                        }
                      ],
                      "communityServices": []
                    },
                    "clientInformation": [
                      {
                        "clientName": "Dhaka Test Organization",
                        "clientId": "ZhgtR8zB1O",
                        "fieldName": "V ID",
                        "value": ""
                      }
                    ],
                    "hoaEvents": [
                      {
                        "address": "Bonney Lake, Washington",
                        "fromTime": "10:34",
                        "newsLetterNotificationFiles": [
                          {
                            "url": "https://hoa-dashboard.s3.amazonaws.com/hoa/QQr3jWoqWs/hoaEventsAttachments/99999_999_Test_Pdf_CCRs.pdf?AWSAccessKeyId=AKIA3UJVVYF53ARTVUQI&Expires=1739606534&Signature=9zCO0Q%2BH7ruklcvD0NXsujeQVng%3D",
                            "fileName": "99999_999_Test_Pdf_CCRs.pdf",
                            "sourceId": "Bl0LRnF2CW",
                            "sourceIdType": "document"
                          }
                        ],
                        "title": "Annual Get Together",
                        "toTime": "02:34",
                        "additionalInformation": "Annual get together.",
                        "endDate": "2025-02-25T18:00:00.000Z",
                        "startDate": "2025-02-05T18:00:00.000Z"
                      }
                    ]
                  },
                  "procedures": {
                    "hoaRegistrationRenewalInformation": {
                      "registrationAndRenewalInstruction": "Instructions should be followed.",
                      "renewalFee": "250",
                      "additionalInformation": "The fee may change later."
                    },
                    "hoaLeasingRegulations": {
                      "leasingRegulationsAndRestrictions": "Instructions should be followed.",
                      "categories": [
                        "No Leasing"
                      ],
                      "keywords": [
                        "Leasing restricted",
                        "No owner may rent"
                      ],
                      "sourceDocuments": [
                        {
                          "url": "https://hoa-dashboard.s3.amazonaws.com/hoa/QQr3jWoqWs/sourceDocuments/TX_01_982502_05032023_1203_00413.pdf?AWSAccessKeyId=AKIA3UJVVYF53ARTVUQI&Expires=1739587286&Signature=RXsDvCGTPWf%2B5h%2Fpg9AHzkwZC60%3D",
                          "fileName": "TX_01_982502_05032023_1203_00413.pdf",
                          "sourceId": "HCAtSKF5jV",
                          "sourceIdType": "mail"
                        }
                      ],
                      "reference": "",
                      "leasingCap": "",
                      "additionalInformationOfLeasingCap": "",
                      "effectiveDateOfLeasingRestriction": "",
                      "additionalInformationOfDateOfLeasing": "",
                      "registrationAdminFee": "500",
                      "tenantLeaseRegistrationRenewalForm": ""
                    }
                  },
                  "amenities": {
                    "availableAmenities": [
                      {
                        "amenityType": "Gym",
                        "locations": [
                          {
                            "amenityName": "Fitness Center",
                            "address": "Bonney Lake, Washington",
                            "googleCoordinates": "",
                            "amenityAccessName": {},
                            "availability": [
                              {
                                "day": "Monday",
                                "times": [
                                  {
                                    "from": "Dusk",
                                    "to": "Dawn"
                                  }
                                ]
                              },
                              {
                                "day": "Tuesday",
                                "times": [
                                  {
                                    "from": "",
                                    "to": ""
                                  }
                                ]
                              },
                              {
                                "day": "Wednesday",
                                "times": [
                                  {
                                    "from": "",
                                    "to": ""
                                  }
                                ]
                              },
                              {
                                "day": "Thursday",
                                "times": [
                                  {
                                    "from": "",
                                    "to": ""
                                  }
                                ]
                              },
                              {
                                "day": "Friday",
                                "times": [
                                  {
                                    "from": "",
                                    "to": ""
                                  }
                                ]
                              },
                              {
                                "day": "Saturday",
                                "times": [
                                  {
                                    "from": "",
                                    "to": ""
                                  }
                                ]
                              },
                              {
                                "day": "Sunday",
                                "times": [
                                  {
                                    "from": "",
                                    "to": ""
                                  }
                                ]
                              }
                            ],
                            "rulesAndRegulations": "",
                            "rulesAndRegulationDocuments": [],
                            "paymentMethod": [
                              "Cheque",
                              "Online"
                            ],
                            "amenityPhotos": [],
                            "additionalAmenitiesDocument": []
                          }
                        ]
                      }
                    ],
                    "accessInformation": [
                      {
                        "accessFee": "500",
                        "accessForm": [],
                        "accessFormLink": "",
                        "accessProcedure": "Before 10 AM.",
                        "firstFee": "200",
                        "getAccessInformation": [
                          "Email"
                        ],
                        "name": "Additional Access",
                        "paymentFormLink": "",
                        "replacementFee": "300"
                      }
                    ],
                    "amenityEvents": [
                      {
                        "address": "Bonney Lake, Washington",
                        "eventDate": "2025-02-18T18:00:00.000Z",
                        "fromTime": "11:40",
                        "newsLetterNotificationFiles": [
                          {
                            "url": "https://hoa-dashboard.s3.amazonaws.com/hoa/QQr3jWoqWs/newsLetterNotificationFiles/99999_999_Test_Pdf_CCRs.pdf?AWSAccessKeyId=AKIA3UJVVYF53ARTVUQI&Expires=1739587287&Signature=shCmwZ5Eh12I8E3IxOeYz1x%2BdN4%3D",
                            "fileName": "99999_999_Test_Pdf_CCRs.pdf",
                            "sourceId": "Bl0LRnF2CW",
                            "sourceIdType": "document"
                          }
                        ],
                        "title": "Annual Meeting",
                        "toTime": "01:40",
                        "additionalInformation": "Annual Meeting.",
                        "endDate": "2025-02-20T18:00:00.000Z",
                        "amenityTags": [
                          "Tennis Court",
                          "Pool"
                        ]
                      }
                    ]
                  },
                  "violationRegulations": {
                    "basicInformation": {
                      "minViolationFees": "200",
                      "maxViolationFees": "300",
                      "curePeriod": "80 Years",
                      "notificationType": "Written Notice",
                      "violationPayment": ""
                    },
                    "preferredViolationRemediation": [
                      "Portal",
                      "Email"
                    ],
                    "additionalInfoOfPortal": "",
                    "additionalInfoOfEmail": "",
                    "additionalInfoOfOther": "",
                    "otherRestrictionInPlaceAndFees": {
                      "gracePeriod": "",
                      "assessmentFrequency": "",
                      "assessmentFee": "0",
                      "assessmentViolationFee": "0",
                      "additionalInformation": ""
                    },
                    "landscaping": {
                      "grassTrimming": {
                        "assessmentFrequency": "50 Years",
                        "acceptableHeightOfGrass": "3 Inch",
                        "grassTrimmingRegulations": "",
                        "grassTypeAdditionalInfo": "",
                        "allowedTypesOfGrass": [],
                        "restrictedTypesOfGrass": []
                      },
                      "treesAndShrubbing": {
                        "heightOfCanopy": "50 Feet",
                        "Restricted": {
                          "restrictedOptions": [
                            "Tree alteration and planting",
                            "Pruning and trimming",
                            "Vegetation obstructing the view for other residents"
                          ],
                          "regulationsOfAlterationAndPlantingOfTrees": "",
                          "regulationsOfPruningTrimming": "Pruning and trimming is allowed.",
                          "regulationsOfVegetationObstructingResidents": ""
                        }
                      },
                      "soilErosion": {
                        "Mandatory": {
                          "mandatoryOptions": [
                            "Mulch Replenishing",
                            "Irrigation maintenance and stain prevention",
                            "Fertilization"
                          ],
                          "regulationsOfMulchReplenishing": "",
                          "regulationsOfIrrigationMaintenanceAndStainPrevention": "",
                          "regulationsOfFertilization": ""
                        }
                      }
                    },
                    "trash": {
                      "storageOfTrash": {
                        "restricted": [
                          "Trash can on driveway, balcony, or patio",
                          "Maintenance of Trash"
                        ],
                        "regulationsOfTrashCansDrivewayBalconyOrPatio": "",
                        "regulationsOfMaintenanceTrashCans": ""
                      },
                      "visibleWaste": {
                        "restricted": [
                          "Trash visibility restrictions from neighboring properties",
                          "Outside Burning of Trash"
                        ],
                        "regulationsOfOutsideBurningTrash": ""
                      },
                      "trashCollection": {
                        "isSpecificGarbageCansMandatory": true,
                        "typesOfCans": "",
                        "timeOfPlacingGarbageCans": "From: Dusk on Sunday - To: Dusk on Monday",
                        "regulationOfTimeOfPlacingGarbageCans": ""
                      }
                    },
                    "parking": {
                      "streetParking": {
                        "isStateParkingNotAllowed": true,
                        "notAllowedCarTypes": [
                          "Unregistered Vehicles",
                          "Abandoned Vehicles"
                        ],
                        "timeLimitForStreetParking": "",
                        "streetParkingSpeedlimitInsideHOA": "",
                        "priorApprovalNeededForStreetParking": true
                      },
                      "drivewayParking": {
                        "numberOfCarsAllowedOnLot": "5",
                        "regulationsOfnumberOfCarsAllowed": "",
                        "garageCapacity": "6",
                        "regulationsOfgarageCapacity": "",
                        "Restricted": [
                          "Blocking Sidewalk",
                          "Open Garage Doors",
                          "Garage Sales"
                        ],
                        "regulationsOfRepairMaintenanceOfCars": "",
                        "regulationsOfGarageSales": ""
                      },
                      "unlicensedVehicle": {
                        "Restricted": [
                          "Commercial Vehicles"
                        ],
                        "typesOfCommercialVehicle": "",
                        "regulationsOfNoise": "",
                        "prohibitedVehicles": "Jet-Skis, Canoes",
                        "regulationsOfProhibitedVehicle": ""
                      }
                    },
                    "nuisance": {
                      "loudResidents": {
                        "allowedOccupancyOfGuests": "20",
                        "regulationsOfGuests": "Only 20 guests are allowed."
                      },
                      "animals": {
                        "restricted": [
                          "Animal Regulations and Commercial Use",
                          "Unleashed Animals",
                          "Dog Houses"
                        ],
                        "regulationOfAnimalsCommercial": "",
                        "dogHousesRegulations": ""
                      },
                      "offensiveBehaviors": {
                        "restricted": [
                          "Interfering with peaceful possession",
                          "Discharge of Firearms",
                          "Business or commercial use of property",
                          "Drying of clothing in or around the property",
                          "Celebration of certain festivals"
                        ],
                        "regulationsOfDischargeOfFirearms": "",
                        "instructionsOfCelebrationCertainFestivals": ""
                      }
                    },
                    "structure": {
                      "alteration": {
                        "regulated": [
                          "Painting",
                          "Fence",
                          "Paved Surface",
                          "Swimming Pool",
                          "Playscape",
                          "Antennas and Satellite Dishes",
                          "Flags and Flag poles",
                          "Siding and Exterior Cladding"
                        ],
                        "regulationsOfPainting": "",
                        "regulationsOfFence": "",
                        "regulationsOfLighting": "",
                        "regulationsOfGarageDriveway": "",
                        "regulationsOfPavedSurface": "",
                        "regulationsOfSwimmingPool": "Swimming pool is regulated.",
                        "regulationsOfPlayscape": "",
                        "regulationsOfSecondaryStructure": "",
                        "regulationsOfAntennasSatelliteDishes": "",
                        "regulationsOfMailboxes": "",
                        "regulationsOfOilingExcavationsMiningRainwaterHarvestingSystem": "",
                        "regulationsOffLagsFlagPoles": "This option is allowed.",
                        "regulationsOfWaterFeaturesWellsSepticTanks": "",
                        "regulationsOfSidingExteriorCladding": "",
                        "regulationsOfWindowsSunScreensScreenDoors": "",
                        "regulationsOfSecurityDevices": "",
                        "regulationsOfCourtyard": "",
                        "regulationsOflLawnArtOutdoorFurniture": "",
                        "regulationsOfStorageTanks": "",
                        "regulationsOfSolarPanels": "",
                        "regulationsOfAirConditioning": ""
                      },
                      "building": {
                        "structureChangeApplicationFormDocuments": {
                          "file": [
                            {
                              "fileName": "99999_999_Test_Pdf_CCRs.pdf",
                              "url": "https://hoa-dashboard.s3.amazonaws.com/hoa/QQr3jWoqWs/structureChangeFiles/99999_999_Test_Pdf_CCRs.pdf?AWSAccessKeyId=AKIA3UJVVYF53ARTVUQI&Expires=1737187740&Signature=nPt1QsSWxGeYpmOzFnceKN0Ad2Y%3D"
                            },
                            {
                              "fileName": "99999_999_Test_Pdf_CCRs.pdf",
                              "url": "https://hoa-dashboard.s3.amazonaws.com/hoa/QQr3jWoqWs/structureChangeFiles/99999_999_Test_Pdf_CCRs.pdf?AWSAccessKeyId=AKIA3UJVVYF53ARTVUQI&Expires=1737187740&Signature=nPt1QsSWxGeYpmOzFnceKN0Ad2Y%3D"
                            }
                          ],
                          "link": ""
                        },
                        "planningAndBuildingDepartmentDetails": {
                          "email": "",
                          "phone": ""
                        },
                        "architecturalInstructions": "Architectural Instructions will be published later."
                      },
                      "maintenance": {
                        "regulated": [
                          "Broken/Deteriorating Structure",
                          "Roof/Soffit/Fascia",
                          "Outdoor Kitchen",
                          "Displaying signs, posters, billboards or advertising"
                        ],
                        "regulationsOfBrokenDeterioratingStructure": "",
                        "regulationsOfRoofSoffitFascia": "",
                        "regulationsOfOutdoorKitchen": "",
                        "regulationsOfPatioDeck": "",
                        "regulationsOfWindowsAwnings": "",
                        "regulationsOfPressureWashing": "",
                        "regulationsOfIrrigationSystems": "",
                        "regulationsOfDrainage": "",
                        "regulationsOfSignsAdvertising": "This option is not allowed.",
                        "regulationsOfYardLights": ""
                      }
                    },
                    "others": "There are no additional restrictions for the HOA."
                  },
                  "connectedPropertiesDetails": [],
                  "documents": {
                    "CCNR Document": {
                      "files": [
                        {
                          "name": "99999_999_Test_Pdf_CCRs.pdf",
                          "uploadedTime": "1/16/2025, 8:45:51 AM",
                          "versionName": "new",
                          "url": "https://hoa-dashboard.s3.amazonaws.com/hoa/QQr3jWoqWs/documents/CCNR-Document/099999_999_Test_Pdf_CCRs.pdf?AWSAccessKeyId=AKIA3UJVVYF53ARTVUQI&Expires=1737187740&Signature=V0ROYuxWtLZaP%2B0uYH3DKvlk3Bw%3D"
                        }
                      ],
                      "lastUpdated": "1/16/2025, 8:45:51 AM",
                      "hyperLink": []
                    },
                    "By-laws Document": {
                      "files": []
                    },
                    "Rules and Restrictions": {
                      "files": []
                    },
                    "Articles of Incorporation": {
                      "files": [
                        {
                          "name": "TX_01_982502_05032023_1203_00413.pdf",
                          "uploadedTime": "1/16/2025, 2:02:11 PM",
                          "versionName": "new",
                          "url": "https://hoa-dashboard.s3.amazonaws.com/hoa/QQr3jWoqWs/documents/Articles-of-Incorporation/0TX_01_982502_05032023_1203_00413.pdf?AWSAccessKeyId=AKIA3UJVVYF53ARTVUQI&Expires=1737187740&Signature=v9Kl7RL%2BLOU0GSucznSC4bBk3iA%3D"
                        }
                      ],
                      "lastUpdated": "1/16/2025, 2:02:11 PM",
                      "hyperLink": []
                    },
                    "HOA Tenant or Lease Registration/Renewal Form": {
                      "files": []
                    },
                    "Other Documents": {
                      "files": []
                    },
                    "Guidelines & Policies": {
                      "files": []
                    },
                    "Plat Maps": {
                      "files": []
                    },
                    "HOA Updates & Announcements": {
                      "files": []
                    },
                    "HOA Forms": {
                      "files": []
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/api/hoa/organizations/{orgId}/properties": {
      "get": {
        "operationId": "getOrganizationProperties",
        "summary": "Get property IDs for an organization",
        "parameters": [
          {
            "name": "orgId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "default": ""
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Array of property IDs for the organization",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/OrganizationPropertiesResponse"
                },
                "example": [
                  "Lji6s3SxsL",
                  "Ha47IXYAHQ",
                  "TOzkxPyGnr",
                  "aywpCS24D2",
                  "NuwxLnNNuq",
                  "V4jAwQH2xW",
                  "0ETlQI9Q0A",
                  "e3U5yJbwKW",
                  "wxBaHmC98v",
                  "UxdlpDZw5Q",
                  "Y9UNXULXum",
                  "qfZElhKfhn",
                  "It7ub1NeEp",
                  "UsGhz4f3sI",
                  "o0HhxmryxK",
                  "WDVaB1yJ0C",
                  "EAhp5PWFYD",
                  "gvRY8gxeaS",
                  "19GC71GZuk",
                  "DL2Rtx6D0H",
                  "XelV00hXI0",
                  "C7cIFGBqgv",
                  "JnohzT6fdl",
                  "2r9fox9shL",
                  "STxPVUgsv8",
                  "EhHWwJYFzQ",
                  "aGaNXIyUIQ",
                  "QQHsBqYRQV",
                  "E6l2mZVon3",
                  "H9BY1ywyaz",
                  "nODhHoo1rg",
                  "zD1NwZrvuT",
                  "6AU6cEmbQx",
                  "g2hgK9J3cQ",
                  "t00EYAIN0s",
                  "KafxsdDiDk",
                  "9Ez4iNFTcV",
                  "BrogH469KX",
                  "87gXmKA805",
                  "rIDfB1LvUg",
                  "5NtdF67koQ",
                  "LHgKkOULw5"
                ]
              }
            }
          }
        }
      }
    },
    "/api/hoa/{propertyId}/propertyAllDetails": {
      "get": {
        "operationId": "getHoaPropertyAllDetails",
        "summary": "Get HOA property all details",
        "parameters": [
          {
            "name": "propertyId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "default": ""
            }
          }
        ],
        "responses": {
          "200": {
            "description": "HOA property details response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HOAPropertyDetailsResponse"
                },
                "example": {
                  "overView": {
                    "basicInformation": {
                      "id": "C7cIFGBqgv",
                      "externalId": "1977",
                      "propertyAddress": "z test streetX dhaka New Hampshire USA 1234",
                      "organizationId": "ZhgtR8zB1O",
                      "onboardingDate": "9/10/2024, 12:00:00 AM",
                      "propertyAppraisalValue": "",
                      "additionalInformation": "",
                      "underManagement": "",
                      "underManagementAdditionalInfo": "",
                      "effectiveSoldDate": "",
                      "underManagementEffectiveSoldDateAdditionalInfo": "",
                      "acquisitionDate": ""
                    },
                    "municipalityInformation": {
                      "objectId": "TgZqnzeMr0",
                      "tenantLeaseRegistrationFormUrl": [],
                      "registrationResolutionForm": "",
                      "registrationRequirements": "",
                      "countyOrMunicipalityRenewalForm": [],
                      "ownerRenewalForm": "",
                      "renewalInstructions": "",
                      "renewalFee": "0"
                    },
                    "hoaInformation": {
                      "hoaName": "ZT76",
                      "hoaAddress": "test address 11",
                      "id": "A8fGArtEjh",
                      "market": "Charlotte",
                      "city": "dhaka",
                      "zip": "1234",
                      "state": "New Hampshire",
                      "phoneNumber": "",
                      "email": ""
                    }
                  },
                  "violationAndInvoices": {
                    "propertyViolation": {
                      "basicInformation": {
                        "violationFeeOutstanding": "$15.00",
                        "totalViolation": 1,
                        "numberOfViolationPerYear": "0",
                        "averageViolationPerYear": "0",
                        "hoaDuesOutstanding": "$15.00",
                        "totalHoaDues": 1,
                        "assesmentFee": "0",
                        "assesmentFeeFrequency": ""
                      },
                      "hearingNotice": [],
                      "reportedViolations": {
                        "active": [
                          {
                            "id": "C7cIFGBqgv-5FfEmE8fpY",
                            "propertyId": "C7cIFGBqgv",
                            "violation": "v1",
                            "violationFee": "$15",
                            "violationDate": "9/18/2024",
                            "dueDate": "",
                            "stage": "1st Warning",
                            "violationCategory": "Lighting",
                            "violationSubcategory": "Outdoor Lights",
                            "fineFrequency": "Daily",
                            "noticeDate": "9/19/2024",
                            "hearingDate": "9/18/2024",
                            "hearingDetails": "test 2",
                            "resolveInstructions": "",
                            "sourceId": "2332",
                            "remarks": "",
                            "noticeStatus": "active",
                            "hoaInfo": [
                              {
                                "hoaName": "N/A",
                                "hoaId": "N/A"
                              }
                            ],
                            "violationType": "City Violation",
                            "otherEntityInformation": {
                              "name": "",
                              "email": "",
                              "phone": "",
                              "address": ""
                            },
                            "violationNoticeFiles": [
                              {
                                "fileName": "sample 1.pdf",
                                "url": "https://hoa-dashboard.s3.amazonaws.com/property/C7cIFGBqgv/violationNoticeFiles/sample%201.pdf?AWSAccessKeyId=AKIA3UJVVYF53ARTVUQI&Expires=1737185612&Signature=8cGlUGe4Remc2UcWaAYonHANBfA%3D"
                              }
                            ],
                            "createdAt": "9/30/2024, 4:51:31 PM",
                            "updatedAt": "9/30/2024, 4:51:31 PM"
                          },
                          {
                            "id": "C7cIFGBqgv-gDQvvYRVBT",
                            "propertyId": "C7cIFGBqgv",
                            "violation": "v1",
                            "violationFee": "$15",
                            "violationDate": "9/18/2024",
                            "dueDate": "",
                            "stage": "Courtesy",
                            "violationCategory": "Lighting",
                            "violationSubcategory": "Outdoor Lights",
                            "fineFrequency": "Daily",
                            "noticeDate": "9/19/2024",
                            "hearingDate": "9/18/2024",
                            "hearingDetails": "test 2",
                            "resolveInstructions": "",
                            "sourceId": "2332",
                            "remarks": "",
                            "noticeStatus": "active",
                            "hoaInfo": [
                              {
                                "hoaName": "N/A",
                                "hoaId": "N/A"
                              }
                            ],
                            "violationType": "City Violation",
                            "otherEntityInformation": {
                              "name": "",
                              "email": "",
                              "phone": "",
                              "address": ""
                            },
                            "violationNoticeFiles": [
                              {
                                "fileName": "sample 1.pdf",
                                "url": "https://hoa-dashboard.s3.amazonaws.com/property/C7cIFGBqgv/violationNoticeFiles/sample%201.pdf?AWSAccessKeyId=AKIA3UJVVYF53ARTVUQI&Expires=1737185612&Signature=8cGlUGe4Remc2UcWaAYonHANBfA%3D"
                              }
                            ],
                            "createdAt": "9/29/2024, 4:59:53 PM",
                            "updatedAt": "9/30/2024, 4:51:40 PM"
                          }
                        ],
                        "resolved": []
                      }
                    },
                    "invoices": {
                      "active": [
                        {
                          "invoicesNoticeFiles": [],
                          "hoaInfo": [
                            {
                              "hoaName": "",
                              "hoaId": ""
                            }
                          ],
                          "property": {
                            "objectId": "C7cIFGBqgv"
                          },
                          "invoiceDetails": "d1",
                          "invoiceAmount": "$15",
                          "noticeStatus": "active",
                          "createdAt": "2024-09-29T11:00:40.740Z",
                          "updatedAt": "2024-09-29T11:00:40.740Z",
                          "id": "C7cIFGBqgv-FRxa8iEtko",
                          "noticeDate": "",
                          "dueDate": "",
                          "hearingDate": "",
                          "hearingDetails": "",
                          "sourceId": "",
                          "remarks": ""
                        }
                      ],
                      "resolved": []
                    }
                  },
                  "mails": [],
                  "emails": []
                }
              }
            }
          }
        }
      }
    },
    "/api/hoa/{violationId}/getViolationDetails": {
      "get": {
        "operationId": "getViolationAllDetails",
        "summary": "Get violation all details",
        "parameters": [
          {
            "name": "violationId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "default": ""
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Violation all details response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ViolationAllDetailsResponse"
                },
                "example": {
                  "currentViolation": {
                    "id": "5klqevhyuP",
                    "propertyId": "Ha47IXYAHQ",
                    "violation": "New Violation",
                    "violationFee": "$270",
                    "violationDate": "1/24/2025",
                    "dueDate": "1/27/2025",
                    "violationCategory": "Leasing Restriction",
                    "violationSubCategory": "Use Restrictions",
                    "stage": "Hearing",
                    "fineFrequency": "Monthly",
                    "hearingDate": "1/21/2025",
                    "hearingDetails": "",
                    "resolveInstructions": "",
                    "violationNoticeFiles": [
                      {
                        "fileName": "TX_01_982502_05032023_1203_00413.pdf",
                        "url": "https://hoa-dashboard.s3.amazonaws.com/property/Ha47IXYAHQ/violationNoticeFiles/TX_01_982502_05032023_1203_00413.pdf?AWSAccessKeyId=AKIA3UJVVYF53ARTVUQI&Expires=1737192763&Signature=T8SveCXC185GLpQgKNzq%2BsF1iGI%3D"
                      }
                    ],
                    "noticeStatus": "active",
                    "noticeDate": "1/24/2025",
                    "sourceId": "HCAtSKF5jV",
                    "remarks": "",
                    "hoaInfo": [
                      {
                        "hoaName": "P 013136",
                        "hoaId": "kDlWvDbAab"
                      }
                    ],
                    "violationType": "City Violation",
                    "otherEntityInformation": {
                      "name": "",
                      "email": "",
                      "phone": "",
                      "address": ""
                    },
                    "createdAt": "1/16/2025, 3:14:32 PM",
                    "updatedAt": "1/16/2025, 3:14:32 PM",
                    "violationDetailsUpdatedAt": ""
                  }
                }
              }
            }
          }
        }
      }
    },
    "/api/hoa/resolveViolationStatus": {
      "post": {
        "operationId": "resolveViolationStatus",
        "summary": "Resolve a violation status",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ResolveViolationStatusRequest"
              },
              "example": {
                "violationId": "DXTKgfUwP9"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Resolve violation status response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ResolveViolationStatusResponse"
                },
                "example": {
                  "violationId": "5klqevhyuP",
                  "violation": "New Violation",
                  "status": "resolved",
                  "updatedPreviousViolation": []
                }
              }
            }
          }
        }
      }
    }
  },
  "components": {
    "schemas": {
      "OrganizationPropertiesResponse": {
        "type": "array",
        "description": "Array of property IDs for the organization",
        "default": [],
        "items": {
          "type": "string",
          "default": ""
        }
      },
      "ResolveViolationStatusRequest": {
        "type": "object",
        "required": [
          "violationId"
        ],
        "properties": {
          "violationId": {
            "type": "string",
            "description": "Violation identifier to resolve",
            "default": ""
          }
        }
      },
      "ResolveViolationStatusResponse": {
        "type": "object",
        "required": [
          "violationId",
          "violation",
          "status",
          "updatedPreviousViolation"
        ],
        "properties": {
          "violationId": {
            "type": "string",
            "description": "Violation identifier (resolved violation)",
            "default": ""
          },
          "violation": {
            "type": "string",
            "description": "Violation title/label",
            "default": ""
          },
          "status": {
            "type": "string",
            "description": "New status (e.g., resolved)",
            "default": ""
          },
          "updatedPreviousViolation": {
            "type": "array",
            "description": "List of previous violations updated as a result of resolving this one",
            "default": [],
            "items": {
              "type": "object",
              "default": {},
              "additionalProperties": true
            }
          }
        }
      },
      "HOAListResponse": {
        "type": "object",
        "required": [
          "totalCount",
          "hoas"
        ],
        "properties": {
          "totalCount": {
            "type": "integer",
            "description": "Total number of HOAs available in the dataset",
            "default": 0
          },
          "hoas": {
            "type": "array",
            "description": "List of HOA objects",
            "default": [],
            "items": {
              "$ref": "#/components/schemas/HOASummary"
            }
          }
        }
      },
      "HOASummary": {
        "type": "object",
        "required": [
          "hoaId",
          "hoaName",
          "amenities",
          "connectedProperties"
        ],
        "properties": {
          "hoaId": {
            "type": "string",
            "description": "Unique identifier for the HOA",
            "default": ""
          },
          "hoaName": {
            "type": "string",
            "description": "Display name of the Homeowners Association",
            "default": ""
          },
          "amenities": {
            "type": "array",
            "description": "List of amenities offered by the HOA",
            "default": [],
            "items": {
              "type": "string",
              "default": ""
            }
          },
          "connectedProperties": {
            "type": "array",
            "description": "List of properties linked to this HOA via external systems",
            "default": [],
            "items": {
              "$ref": "#/components/schemas/ConnectedProperty"
            }
          }
        }
      },
      "ConnectedProperty": {
        "type": "object",
        "required": [
          "externalId"
        ],
        "properties": {
          "externalId": {
            "type": "string",
            "description": "External system identifier for a property connected to the HOA (e.g., client/vendor ID)",
            "default": ""
          }
        }
      },
      "HOADetailsResponse": {
        "type": "object",
        "required": [
          "overview",
          "procedures",
          "amenities",
          "violationRegulations",
          "connectedPropertiesDetails",
          "documents"
        ],
        "properties": {
          "overview": {
            "$ref": "#/components/schemas/HoaDetailsOverview"
          },
          "procedures": {
            "$ref": "#/components/schemas/HoaDetailsProcedures"
          },
          "amenities": {
            "$ref": "#/components/schemas/HoaDetailsAmenities"
          },
          "violationRegulations": {
            "$ref": "#/components/schemas/HoaViolationRegulations"
          },
          "connectedPropertiesDetails": {
            "type": "array",
            "description": "Details of properties connected to the HOA",
            "default": [],
            "items": {}
          },
          "documents": {
            "$ref": "#/components/schemas/HoaDocuments"
          }
        }
      },
      "HoaDetailsOverview": {
        "type": "object",
        "required": [
          "basicInformation",
          "propertyManagementCompanyInformation",
          "municipalityInformation",
          "additionalInformation",
          "clientInformation",
          "hoaEvents"
        ],
        "properties": {
          "basicInformation": {
            "$ref": "#/components/schemas/HoaBasicInformation"
          },
          "propertyManagementCompanyInformation": {
            "$ref": "#/components/schemas/PropertyManagementCompanyInformation"
          },
          "municipalityInformation": {
            "$ref": "#/components/schemas/MunicipalityInformation"
          },
          "additionalInformation": {
            "$ref": "#/components/schemas/HoaAdditionalInformation"
          },
          "clientInformation": {
            "type": "array",
            "description": "Client-specific metadata attached to HOA",
            "default": [],
            "items": {
              "$ref": "#/components/schemas/ClientInfo"
            }
          },
          "hoaEvents": {
            "type": "array",
            "description": "HOA event list",
            "default": [],
            "items": {
              "$ref": "#/components/schemas/HoaEvent"
            }
          }
        }
      },
      "HoaBasicInformation": {
        "type": "object",
        "required": [
          "id",
          "name",
          "market",
          "state",
          "zip",
          "coordinates",
          "contactNumber",
          "email",
          "hoaFees",
          "paymentFrequency",
          "hoaFeesPaymentDeadline",
          "hoaPaymentInformation",
          "address",
          "city",
          "masterHoaId"
        ],
        "properties": {
          "id": {
            "type": "string",
            "description": "Internal unique HOA identifier",
            "default": ""
          },
          "name": {
            "type": "string",
            "description": "HOA name",
            "default": ""
          },
          "market": {
            "type": "string",
            "description": "Market or region the HOA belongs to",
            "default": ""
          },
          "state": {
            "type": "string",
            "description": "State where HOA is registered",
            "default": ""
          },
          "zip": {
            "type": "string",
            "description": "ZIP / postal code",
            "default": ""
          },
          "coordinates": {
            "type": "string",
            "description": "Latitude and longitude coordinates (lat, long)",
            "default": ""
          },
          "contactNumber": {
            "type": "string",
            "description": "Primary HOA contact phone number",
            "default": ""
          },
          "email": {
            "type": "string",
            "description": "Primary HOA contact email",
            "default": ""
          },
          "hoaFees": {
            "type": "string",
            "description": "HOA fee amount (stored as string)",
            "default": ""
          },
          "paymentFrequency": {
            "type": "string",
            "description": "HOA fee payment frequency (e.g., Annually)",
            "default": ""
          },
          "hoaFeesPaymentDeadline": {
            "type": "string",
            "description": "Payment deadline description",
            "default": ""
          },
          "hoaPaymentInformation": {
            "type": "string",
            "description": "Additional payment instructions",
            "default": ""
          },
          "address": {
            "type": "string",
            "description": "HOA physical address",
            "default": ""
          },
          "city": {
            "type": "string",
            "description": "City name",
            "default": ""
          },
          "masterHoaId": {
            "type": "string",
            "description": "Parent/master HOA identifier (if applicable)",
            "default": ""
          }
        }
      },
      "PropertyManagementCompanyInformation": {
        "type": "object",
        "required": [
          "propertyManager",
          "propertyManagerCompanyAddress",
          "propertyManagerPhone",
          "propertyManagerEmail"
        ],
        "properties": {
          "propertyManager": {
            "type": "string",
            "description": "Name of property manager",
            "default": ""
          },
          "propertyManagerCompanyAddress": {
            "type": "string",
            "description": "PMC office address",
            "default": ""
          },
          "propertyManagerPhone": {
            "type": "string",
            "description": "PMC contact phone",
            "default": ""
          },
          "propertyManagerEmail": {
            "type": "string",
            "description": "PMC contact email",
            "default": ""
          }
        }
      },
      "MunicipalityInformation": {
        "type": "object",
        "required": [
          "tenantLeaseRegistrationFormUrl",
          "registrationResolutionForm",
          "registrationRequirements",
          "countyOrMunicipalityRenewalForm",
          "ownerRenewalForm",
          "renewalInstructions",
          "renewalFee"
        ],
        "properties": {
          "tenantLeaseRegistrationFormUrl": {
            "type": "array",
            "description": "URLs for tenant lease registration forms",
            "default": [],
            "items": {
              "type": "string",
              "default": ""
            }
          },
          "registrationResolutionForm": {
            "type": "string",
            "description": "Resolution form details",
            "default": ""
          },
          "registrationRequirements": {
            "type": "string",
            "description": "Registration requirements description",
            "default": ""
          },
          "countyOrMunicipalityRenewalForm": {
            "type": "array",
            "description": "Renewal form URLs",
            "default": [],
            "items": {
              "type": "string",
              "default": ""
            }
          },
          "ownerRenewalForm": {
            "type": "string",
            "description": "Owner renewal form info",
            "default": ""
          },
          "renewalInstructions": {
            "type": "string",
            "description": "Renewal instructions",
            "default": ""
          },
          "renewalFee": {
            "type": "string",
            "description": "Renewal fee amount (stored as string)",
            "default": ""
          }
        }
      },
      "HoaAdditionalInformation": {
        "type": "object",
        "required": [
          "gateAccessRequirement",
          "gatedArea",
          "guestAccess",
          "portalAccess",
          "residentLogin",
          "hoaPortalLink",
          "pmcPortalLink",
          "gateAccessFormFiles",
          "communityServices"
        ],
        "properties": {
          "gateAccessRequirement": {
            "type": "string",
            "description": "Gate access requirements",
            "default": ""
          },
          "gatedArea": {
            "type": "boolean",
            "description": "Indicates if HOA is gated",
            "default": false
          },
          "guestAccess": {
            "type": "string",
            "description": "Guest access availability",
            "default": ""
          },
          "portalAccess": {
            "type": "string",
            "description": "HOA portal access details",
            "default": ""
          },
          "residentLogin": {
            "type": "string",
            "description": "Resident login information",
            "default": ""
          },
          "hoaPortalLink": {
            "type": "string",
            "description": "HOA portal URL",
            "default": ""
          },
          "pmcPortalLink": {
            "type": "string",
            "description": "PMC portal URL",
            "default": ""
          },
          "gateAccessFormFiles": {
            "type": "array",
            "description": "Gate access related documents",
            "default": [],
            "items": {
              "$ref": "#/components/schemas/FileObject"
            }
          },
          "communityServices": {
            "type": "array",
            "description": "Community services provided",
            "default": [],
            "items": {}
          }
        }
      },
      "ClientInfo": {
        "type": "object",
        "required": [
          "clientName",
          "clientId",
          "fieldName",
          "value"
        ],
        "properties": {
          "clientName": {
            "type": "string",
            "description": "Client organization name",
            "default": ""
          },
          "clientId": {
            "type": "string",
            "description": "Client identifier",
            "default": ""
          },
          "fieldName": {
            "type": "string",
            "description": "External field name",
            "default": ""
          },
          "value": {
            "type": "string",
            "description": "External field value",
            "default": ""
          }
        }
      },
      "HoaEvent": {
        "type": "object",
        "required": [
          "title",
          "address",
          "fromTime",
          "toTime",
          "startDate",
          "endDate",
          "additionalInformation",
          "newsLetterNotificationFiles"
        ],
        "properties": {
          "title": {
            "type": "string",
            "description": "Event title",
            "default": ""
          },
          "address": {
            "type": "string",
            "description": "Event location",
            "default": ""
          },
          "fromTime": {
            "type": "string",
            "description": "Event start time",
            "default": ""
          },
          "toTime": {
            "type": "string",
            "description": "Event end time",
            "default": ""
          },
          "startDate": {
            "type": "string",
            "description": "Event start date (ISO 8601)",
            "default": ""
          },
          "endDate": {
            "type": "string",
            "description": "Event end date (ISO 8601)",
            "default": ""
          },
          "additionalInformation": {
            "type": "string",
            "description": "Additional event info",
            "default": ""
          },
          "newsLetterNotificationFiles": {
            "type": "array",
            "description": "Event notification attachments",
            "default": [],
            "items": {
              "$ref": "#/components/schemas/FileObject"
            }
          }
        }
      },
      "FileObject": {
        "type": "object",
        "required": [
          "url",
          "fileName",
          "sourceId",
          "sourceIdType"
        ],
        "properties": {
          "url": {
            "type": "string",
            "description": "File URL",
            "default": ""
          },
          "fileName": {
            "type": "string",
            "description": "File name",
            "default": ""
          },
          "sourceId": {
            "type": "string",
            "description": "Source identifier",
            "default": ""
          },
          "sourceIdType": {
            "type": "string",
            "description": "Source type (mail, document, etc.)",
            "default": ""
          }
        }
      },
      "HoaDetailsProcedures": {
        "type": "object",
        "required": [
          "hoaRegistrationRenewalInformation",
          "hoaLeasingRegulations"
        ],
        "properties": {
          "hoaRegistrationRenewalInformation": {
            "$ref": "#/components/schemas/HoaRegistrationRenewalInformation"
          },
          "hoaLeasingRegulations": {
            "$ref": "#/components/schemas/HoaLeasingRegulations"
          }
        }
      },
      "HoaRegistrationRenewalInformation": {
        "type": "object",
        "required": [
          "registrationAndRenewalInstruction",
          "renewalFee",
          "additionalInformation"
        ],
        "properties": {
          "registrationAndRenewalInstruction": {
            "type": "string",
            "description": "Registration & renewal instructions",
            "default": ""
          },
          "renewalFee": {
            "type": "string",
            "description": "Renewal fee",
            "default": ""
          },
          "additionalInformation": {
            "type": "string",
            "description": "Additional notes",
            "default": ""
          }
        }
      },
      "HoaLeasingRegulations": {
        "type": "object",
        "required": [
          "leasingRegulationsAndRestrictions",
          "categories",
          "keywords",
          "sourceDocuments",
          "reference",
          "leasingCap",
          "additionalInformationOfLeasingCap",
          "effectiveDateOfLeasingRestriction",
          "additionalInformationOfDateOfLeasing",
          "registrationAdminFee",
          "tenantLeaseRegistrationRenewalForm"
        ],
        "properties": {
          "leasingRegulationsAndRestrictions": {
            "type": "string",
            "description": "Leasing regulations description",
            "default": ""
          },
          "categories": {
            "type": "array",
            "description": "Leasing restriction categories",
            "default": [],
            "items": {
              "type": "string",
              "default": ""
            }
          },
          "keywords": {
            "type": "array",
            "description": "Keywords related to leasing rules",
            "default": [],
            "items": {
              "type": "string",
              "default": ""
            }
          },
          "sourceDocuments": {
            "type": "array",
            "description": "Source regulation documents",
            "default": [],
            "items": {
              "$ref": "#/components/schemas/FileObject"
            }
          },
          "reference": {
            "type": "string",
            "description": "Reference notes",
            "default": ""
          },
          "leasingCap": {
            "type": "string",
            "description": "Leasing cap value",
            "default": ""
          },
          "additionalInformationOfLeasingCap": {
            "type": "string",
            "description": "Additional leasing cap info",
            "default": ""
          },
          "effectiveDateOfLeasingRestriction": {
            "type": "string",
            "description": "Effective date",
            "default": ""
          },
          "additionalInformationOfDateOfLeasing": {
            "type": "string",
            "description": "Date-related notes",
            "default": ""
          },
          "registrationAdminFee": {
            "type": "string",
            "description": "Admin fee",
            "default": ""
          },
          "tenantLeaseRegistrationRenewalForm": {
            "type": "string",
            "description": "Renewal form",
            "default": ""
          }
        }
      },
      "HoaDetailsAmenities": {
        "type": "object",
        "required": [
          "availableAmenities",
          "accessInformation",
          "amenityEvents"
        ],
        "properties": {
          "availableAmenities": {
            "type": "array",
            "description": "Amenities available in the HOA",
            "default": [],
            "items": {
              "$ref": "#/components/schemas/AvailableAmenity"
            }
          },
          "accessInformation": {
            "type": "array",
            "description": "Amenity access information entries",
            "default": [],
            "items": {
              "$ref": "#/components/schemas/AccessInformation"
            }
          },
          "amenityEvents": {
            "type": "array",
            "description": "Amenity-related event list",
            "default": [],
            "items": {
              "$ref": "#/components/schemas/AmenityEvent"
            }
          }
        }
      },
      "AvailableAmenity": {
        "type": "object",
        "required": [
          "amenityType",
          "locations"
        ],
        "properties": {
          "amenityType": {
            "type": "string",
            "description": "Type of amenity (Gym, Pool, etc.)",
            "default": ""
          },
          "locations": {
            "type": "array",
            "description": "Amenity locations",
            "default": [],
            "items": {
              "$ref": "#/components/schemas/AmenityLocation"
            }
          }
        }
      },
      "AmenityLocation": {
        "type": "object",
        "required": [
          "amenityName",
          "address",
          "googleCoordinates",
          "amenityAccessName",
          "availability",
          "rulesAndRegulations",
          "rulesAndRegulationDocuments",
          "paymentMethod",
          "amenityPhotos",
          "additionalAmenitiesDocument"
        ],
        "properties": {
          "amenityName": {
            "type": "string",
            "description": "Amenity name",
            "default": ""
          },
          "address": {
            "type": "string",
            "description": "Location address",
            "default": ""
          },
          "googleCoordinates": {
            "type": "string",
            "description": "Coordinates",
            "default": ""
          },
          "amenityAccessName": {
            "type": "object",
            "description": "Amenity access name/details",
            "default": {},
            "additionalProperties": true
          },
          "availability": {
            "type": "array",
            "description": "Availability schedule",
            "default": [],
            "items": {
              "$ref": "#/components/schemas/Availability"
            }
          },
          "rulesAndRegulations": {
            "type": "string",
            "description": "Rules text",
            "default": ""
          },
          "rulesAndRegulationDocuments": {
            "type": "array",
            "description": "Rules documents",
            "default": [],
            "items": {}
          },
          "paymentMethod": {
            "type": "array",
            "description": "Accepted payment methods",
            "default": [],
            "items": {
              "type": "string",
              "default": ""
            }
          },
          "amenityPhotos": {
            "type": "array",
            "description": "Photos",
            "default": [],
            "items": {}
          },
          "additionalAmenitiesDocument": {
            "type": "array",
            "description": "Additional documents",
            "default": [],
            "items": {}
          }
        }
      },
      "Availability": {
        "type": "object",
        "required": [
          "day",
          "times"
        ],
        "properties": {
          "day": {
            "type": "string",
            "description": "Day of week",
            "default": ""
          },
          "times": {
            "type": "array",
            "description": "Time windows",
            "default": [],
            "items": {
              "$ref": "#/components/schemas/TimeWindow"
            }
          }
        }
      },
      "TimeWindow": {
        "type": "object",
        "required": [
          "from",
          "to"
        ],
        "properties": {
          "from": {
            "type": "string",
            "description": "Start time label",
            "default": ""
          },
          "to": {
            "type": "string",
            "description": "End time label",
            "default": ""
          }
        }
      },
      "AccessInformation": {
        "type": "object",
        "required": [
          "name",
          "accessFee",
          "accessForm",
          "accessFormLink",
          "accessProcedure",
          "firstFee",
          "getAccessInformation",
          "paymentFormLink",
          "replacementFee"
        ],
        "properties": {
          "name": {
            "type": "string",
            "description": "Access type name",
            "default": ""
          },
          "accessFee": {
            "type": "string",
            "description": "Access fee",
            "default": ""
          },
          "accessForm": {
            "type": "array",
            "description": "Access form files/refs",
            "default": [],
            "items": {}
          },
          "accessFormLink": {
            "type": "string",
            "description": "Access form link",
            "default": ""
          },
          "accessProcedure": {
            "type": "string",
            "description": "Access procedure",
            "default": ""
          },
          "firstFee": {
            "type": "string",
            "description": "Initial fee",
            "default": ""
          },
          "getAccessInformation": {
            "type": "array",
            "description": "How to get access (channels)",
            "default": [],
            "items": {
              "type": "string",
              "default": ""
            }
          },
          "paymentFormLink": {
            "type": "string",
            "description": "Payment form link",
            "default": ""
          },
          "replacementFee": {
            "type": "string",
            "description": "Replacement fee",
            "default": ""
          }
        }
      },
      "AmenityEvent": {
        "type": "object",
        "required": [
          "title",
          "address",
          "eventDate",
          "fromTime",
          "toTime",
          "additionalInformation",
          "endDate",
          "newsLetterNotificationFiles",
          "amenityTags"
        ],
        "properties": {
          "title": {
            "type": "string",
            "description": "Event title",
            "default": ""
          },
          "address": {
            "type": "string",
            "description": "Event location",
            "default": ""
          },
          "eventDate": {
            "type": "string",
            "description": "Event date (ISO 8601)",
            "default": ""
          },
          "fromTime": {
            "type": "string",
            "description": "Event start time",
            "default": ""
          },
          "toTime": {
            "type": "string",
            "description": "Event end time",
            "default": ""
          },
          "additionalInformation": {
            "type": "string",
            "description": "Additional info",
            "default": ""
          },
          "endDate": {
            "type": "string",
            "description": "Event end date (ISO 8601)",
            "default": ""
          },
          "newsLetterNotificationFiles": {
            "type": "array",
            "description": "Attachments",
            "default": [],
            "items": {
              "$ref": "#/components/schemas/FileObject"
            }
          },
          "amenityTags": {
            "type": "array",
            "description": "Related amenity tags",
            "default": [],
            "items": {
              "type": "string",
              "default": ""
            }
          }
        }
      },
      "HoaViolationRegulations": {
        "type": "object",
        "required": [
          "basicInformation",
          "preferredViolationRemediation",
          "additionalInfoOfPortal",
          "additionalInfoOfEmail",
          "additionalInfoOfOther",
          "otherRestrictionInPlaceAndFees",
          "others"
        ],
        "description": "Violation regulations object. Only the subset explicitly modeled from the sample is strongly typed.\nAdditional fields may exist (e.g., landscaping, trash, parking, nuisance, structure).\n",
        "additionalProperties": true,
        "properties": {
          "basicInformation": {
            "$ref": "#/components/schemas/HoaViolationBasicInformation"
          },
          "preferredViolationRemediation": {
            "type": "array",
            "description": "Preferred remediation channels",
            "default": [],
            "items": {
              "type": "string",
              "default": ""
            }
          },
          "additionalInfoOfPortal": {
            "type": "string",
            "description": "Additional portal info",
            "default": ""
          },
          "additionalInfoOfEmail": {
            "type": "string",
            "description": "Additional email info",
            "default": ""
          },
          "additionalInfoOfOther": {
            "type": "string",
            "description": "Additional other-channel info",
            "default": ""
          },
          "otherRestrictionInPlaceAndFees": {
            "$ref": "#/components/schemas/OtherRestrictionInPlaceAndFees"
          },
          "others": {
            "type": "string",
            "description": "Free-text additional restrictions",
            "default": ""
          }
        }
      },
      "HoaViolationBasicInformation": {
        "type": "object",
        "required": [
          "minViolationFees",
          "maxViolationFees",
          "curePeriod",
          "notificationType",
          "violationPayment"
        ],
        "properties": {
          "minViolationFees": {
            "type": "string",
            "description": "Minimum violation fee",
            "default": ""
          },
          "maxViolationFees": {
            "type": "string",
            "description": "Maximum violation fee",
            "default": ""
          },
          "curePeriod": {
            "type": "string",
            "description": "Cure period duration",
            "default": ""
          },
          "notificationType": {
            "type": "string",
            "description": "Notification method",
            "default": ""
          },
          "violationPayment": {
            "type": "string",
            "description": "Payment info",
            "default": ""
          }
        }
      },
      "OtherRestrictionInPlaceAndFees": {
        "type": "object",
        "required": [
          "gracePeriod",
          "assessmentFrequency",
          "assessmentFee",
          "assessmentViolationFee",
          "additionalInformation"
        ],
        "properties": {
          "gracePeriod": {
            "type": "string",
            "description": "Grace period",
            "default": ""
          },
          "assessmentFrequency": {
            "type": "string",
            "description": "Assessment frequency",
            "default": ""
          },
          "assessmentFee": {
            "type": "string",
            "description": "Assessment fee",
            "default": ""
          },
          "assessmentViolationFee": {
            "type": "string",
            "description": "Assessment violation fee",
            "default": ""
          },
          "additionalInformation": {
            "type": "string",
            "description": "Additional info",
            "default": ""
          }
        }
      },
      "HoaDocuments": {
        "type": "object",
        "description": "Documents are keyed by \"Document Type\" (dynamic keys), each holding a bucket with files and optional metadata.\n",
        "default": {},
        "additionalProperties": {
          "$ref": "#/components/schemas/DocumentBucket"
        }
      },
      "DocumentBucket": {
        "type": "object",
        "required": [
          "files",
          "lastUpdated",
          "hyperLink"
        ],
        "properties": {
          "files": {
            "type": "array",
            "description": "List of document files",
            "default": [],
            "items": {
              "$ref": "#/components/schemas/DocumentFile"
            }
          },
          "lastUpdated": {
            "type": "string",
            "description": "Last update timestamp",
            "default": ""
          },
          "hyperLink": {
            "type": "array",
            "description": "External links",
            "default": [],
            "items": {
              "type": "string",
              "default": ""
            }
          }
        }
      },
      "DocumentFile": {
        "type": "object",
        "required": [
          "name",
          "uploadedTime",
          "versionName",
          "url"
        ],
        "properties": {
          "name": {
            "type": "string",
            "description": "File name",
            "default": ""
          },
          "uploadedTime": {
            "type": "string",
            "description": "Upload timestamp",
            "default": ""
          },
          "versionName": {
            "type": "string",
            "description": "Version label",
            "default": ""
          },
          "url": {
            "type": "string",
            "description": "File URL",
            "default": ""
          }
        }
      },
      "HOAPropertyDetailsResponse": {
        "type": "object",
        "required": [
          "overView",
          "violationAndInvoices",
          "mails",
          "emails"
        ],
        "properties": {
          "overView": {
            "$ref": "#/components/schemas/PropertyOverView"
          },
          "violationAndInvoices": {
            "$ref": "#/components/schemas/ViolationAndInvoices"
          },
          "mails": {
            "type": "array",
            "description": "Mail communications related to the property",
            "default": [],
            "items": {}
          },
          "emails": {
            "type": "array",
            "description": "Email communications related to the property",
            "default": [],
            "items": {}
          }
        }
      },
      "PropertyOverView": {
        "type": "object",
        "required": [
          "basicInformation",
          "municipalityInformation",
          "hoaInformation"
        ],
        "properties": {
          "basicInformation": {
            "$ref": "#/components/schemas/PropertyBasicInformation"
          },
          "municipalityInformation": {
            "$ref": "#/components/schemas/PropertyMunicipalityInformation"
          },
          "hoaInformation": {
            "$ref": "#/components/schemas/PropertyHoaInformation"
          }
        }
      },
      "PropertyBasicInformation": {
        "type": "object",
        "required": [
          "id",
          "externalId",
          "propertyAddress",
          "organizationId",
          "onboardingDate",
          "propertyAppraisalValue",
          "additionalInformation",
          "underManagement",
          "underManagementAdditionalInfo",
          "effectiveSoldDate",
          "underManagementEffectiveSoldDateAdditionalInfo",
          "acquisitionDate"
        ],
        "properties": {
          "id": {
            "type": "string",
            "description": "Internal unique property identifier",
            "default": ""
          },
          "externalId": {
            "type": "string",
            "description": "External property identifier",
            "default": ""
          },
          "propertyAddress": {
            "type": "string",
            "description": "Full property address",
            "default": ""
          },
          "organizationId": {
            "type": "string",
            "description": "Owning organization ID",
            "default": ""
          },
          "onboardingDate": {
            "type": "string",
            "description": "Property onboarding date (string)",
            "default": ""
          },
          "propertyAppraisalValue": {
            "type": "string",
            "description": "Appraisal value of the property",
            "default": ""
          },
          "additionalInformation": {
            "type": "string",
            "description": "Additional notes",
            "default": ""
          },
          "underManagement": {
            "type": "string",
            "description": "Indicates if property is under management",
            "default": ""
          },
          "underManagementAdditionalInfo": {
            "type": "string",
            "description": "Additional management info",
            "default": ""
          },
          "effectiveSoldDate": {
            "type": "string",
            "description": "Effective sold date",
            "default": ""
          },
          "underManagementEffectiveSoldDateAdditionalInfo": {
            "type": "string",
            "description": "Sold date notes",
            "default": ""
          },
          "acquisitionDate": {
            "type": "string",
            "description": "Property acquisition date",
            "default": ""
          }
        }
      },
      "PropertyMunicipalityInformation": {
        "type": "object",
        "required": [
          "objectId",
          "tenantLeaseRegistrationFormUrl",
          "registrationResolutionForm",
          "registrationRequirements",
          "countyOrMunicipalityRenewalForm",
          "ownerRenewalForm",
          "renewalInstructions",
          "renewalFee"
        ],
        "properties": {
          "objectId": {
            "type": "string",
            "description": "Municipality object identifier",
            "default": ""
          },
          "tenantLeaseRegistrationFormUrl": {
            "type": "array",
            "description": "Tenant lease registration URLs",
            "default": [],
            "items": {
              "type": "string",
              "default": ""
            }
          },
          "registrationResolutionForm": {
            "type": "string",
            "description": "Resolution form info",
            "default": ""
          },
          "registrationRequirements": {
            "type": "string",
            "description": "Registration requirements",
            "default": ""
          },
          "countyOrMunicipalityRenewalForm": {
            "type": "array",
            "description": "Renewal form URLs",
            "default": [],
            "items": {
              "type": "string",
              "default": ""
            }
          },
          "ownerRenewalForm": {
            "type": "string",
            "description": "Owner renewal form info",
            "default": ""
          },
          "renewalInstructions": {
            "type": "string",
            "description": "Renewal instructions",
            "default": ""
          },
          "renewalFee": {
            "type": "string",
            "description": "Renewal fee amount",
            "default": ""
          }
        }
      },
      "PropertyHoaInformation": {
        "type": "object",
        "required": [
          "hoaName",
          "hoaAddress",
          "id",
          "market",
          "city",
          "zip",
          "state",
          "phoneNumber",
          "email"
        ],
        "properties": {
          "hoaName": {
            "type": "string",
            "description": "HOA name",
            "default": ""
          },
          "hoaAddress": {
            "type": "string",
            "description": "HOA address",
            "default": ""
          },
          "id": {
            "type": "string",
            "description": "HOA internal identifier",
            "default": ""
          },
          "market": {
            "type": "string",
            "description": "Market / region",
            "default": ""
          },
          "city": {
            "type": "string",
            "description": "City",
            "default": ""
          },
          "zip": {
            "type": "string",
            "description": "ZIP / postal code",
            "default": ""
          },
          "state": {
            "type": "string",
            "description": "State",
            "default": ""
          },
          "phoneNumber": {
            "type": "string",
            "description": "HOA contact number",
            "default": ""
          },
          "email": {
            "type": "string",
            "description": "HOA contact email",
            "default": ""
          }
        }
      },
      "ViolationAndInvoices": {
        "type": "object",
        "required": [
          "propertyViolation",
          "invoices"
        ],
        "properties": {
          "propertyViolation": {
            "$ref": "#/components/schemas/PropertyViolation"
          },
          "invoices": {
            "$ref": "#/components/schemas/InvoicesContainer"
          }
        }
      },
      "PropertyViolation": {
        "type": "object",
        "required": [
          "basicInformation",
          "hearingNotice",
          "reportedViolations"
        ],
        "properties": {
          "basicInformation": {
            "$ref": "#/components/schemas/PropertyViolationBasicInformation"
          },
          "hearingNotice": {
            "type": "array",
            "description": "Hearing notices related to violations",
            "default": [],
            "items": {}
          },
          "reportedViolations": {
            "$ref": "#/components/schemas/ReportedViolations"
          }
        }
      },
      "PropertyViolationBasicInformation": {
        "type": "object",
        "required": [
          "violationFeeOutstanding",
          "totalViolation",
          "numberOfViolationPerYear",
          "averageViolationPerYear",
          "hoaDuesOutstanding",
          "totalHoaDues",
          "assesmentFee",
          "assesmentFeeFrequency"
        ],
        "properties": {
          "violationFeeOutstanding": {
            "type": "string",
            "description": "Outstanding violation fees (currency string)",
            "default": ""
          },
          "totalViolation": {
            "type": "integer",
            "description": "Total number of violations",
            "default": 0
          },
          "numberOfViolationPerYear": {
            "type": "string",
            "description": "Violations per year",
            "default": ""
          },
          "averageViolationPerYear": {
            "type": "string",
            "description": "Average yearly violations",
            "default": ""
          },
          "hoaDuesOutstanding": {
            "type": "string",
            "description": "Outstanding HOA dues (currency string)",
            "default": ""
          },
          "totalHoaDues": {
            "type": "integer",
            "description": "Total HOA dues count",
            "default": 0
          },
          "assesmentFee": {
            "type": "string",
            "description": "Assessment fee",
            "default": ""
          },
          "assesmentFeeFrequency": {
            "type": "string",
            "description": "Assessment fee frequency",
            "default": ""
          }
        }
      },
      "ReportedViolations": {
        "type": "object",
        "required": [
          "active",
          "resolved"
        ],
        "properties": {
          "active": {
            "type": "array",
            "description": "Active violations",
            "default": [],
            "items": {
              "$ref": "#/components/schemas/Violation"
            }
          },
          "resolved": {
            "type": "array",
            "description": "Resolved violations",
            "default": [],
            "items": {
              "$ref": "#/components/schemas/Violation"
            }
          }
        }
      },
      "Violation": {
        "type": "object",
        "required": [
          "id",
          "propertyId",
          "violation",
          "violationFee",
          "violationDate",
          "dueDate",
          "stage",
          "violationCategory",
          "violationSubcategory",
          "fineFrequency",
          "noticeDate",
          "hearingDate",
          "hearingDetails",
          "resolveInstructions",
          "sourceId",
          "remarks",
          "noticeStatus",
          "hoaInfo",
          "violationType",
          "otherEntityInformation",
          "violationNoticeFiles",
          "createdAt",
          "updatedAt"
        ],
        "properties": {
          "id": {
            "type": "string",
            "description": "Violation identifier",
            "default": ""
          },
          "propertyId": {
            "type": "string",
            "description": "Associated property ID",
            "default": ""
          },
          "violation": {
            "type": "string",
            "description": "Violation reference code/title",
            "default": ""
          },
          "violationFee": {
            "type": "string",
            "description": "Violation fee (currency string)",
            "default": ""
          },
          "violationDate": {
            "type": "string",
            "description": "Violation date",
            "default": ""
          },
          "dueDate": {
            "type": "string",
            "description": "Payment/action due date",
            "default": ""
          },
          "stage": {
            "type": "string",
            "description": "Violation stage",
            "default": ""
          },
          "violationCategory": {
            "type": "string",
            "description": "Violation category",
            "default": ""
          },
          "violationSubcategory": {
            "type": "string",
            "description": "Violation subcategory",
            "default": ""
          },
          "fineFrequency": {
            "type": "string",
            "description": "Fine frequency",
            "default": ""
          },
          "noticeDate": {
            "type": "string",
            "description": "Notice issued date",
            "default": ""
          },
          "hearingDate": {
            "type": "string",
            "description": "Hearing date",
            "default": ""
          },
          "hearingDetails": {
            "type": "string",
            "description": "Hearing details",
            "default": ""
          },
          "resolveInstructions": {
            "type": "string",
            "description": "Resolution instructions",
            "default": ""
          },
          "sourceId": {
            "type": "string",
            "description": "Source identifier",
            "default": ""
          },
          "remarks": {
            "type": "string",
            "description": "Remarks",
            "default": ""
          },
          "noticeStatus": {
            "type": "string",
            "description": "Notice status",
            "default": ""
          },
          "hoaInfo": {
            "type": "array",
            "description": "Associated HOA info list",
            "default": [],
            "items": {
              "$ref": "#/components/schemas/HOAInfo"
            }
          },
          "violationType": {
            "type": "string",
            "description": "Violation type (City/HOA)",
            "default": ""
          },
          "otherEntityInformation": {
            "$ref": "#/components/schemas/OtherEntityInformation"
          },
          "violationNoticeFiles": {
            "type": "array",
            "description": "Violation notice files",
            "default": [],
            "items": {
              "$ref": "#/components/schemas/ViolationNoticeFile"
            }
          },
          "createdAt": {
            "type": "string",
            "description": "Record creation timestamp",
            "default": ""
          },
          "updatedAt": {
            "type": "string",
            "description": "Record update timestamp",
            "default": ""
          }
        }
      },
      "HOAInfo": {
        "type": "object",
        "required": [
          "hoaName",
          "hoaId"
        ],
        "properties": {
          "hoaName": {
            "type": "string",
            "description": "HOA name",
            "default": ""
          },
          "hoaId": {
            "type": "string",
            "description": "HOA ID",
            "default": ""
          }
        }
      },
      "OtherEntityInformation": {
        "type": "object",
        "required": [
          "name",
          "email",
          "phone",
          "address"
        ],
        "properties": {
          "name": {
            "type": "string",
            "description": "Entity name",
            "default": ""
          },
          "email": {
            "type": "string",
            "description": "Entity email",
            "default": ""
          },
          "phone": {
            "type": "string",
            "description": "Entity phone",
            "default": ""
          },
          "address": {
            "type": "string",
            "description": "Entity address",
            "default": ""
          }
        }
      },
      "ViolationNoticeFile": {
        "type": "object",
        "required": [
          "fileName",
          "url"
        ],
        "properties": {
          "fileName": {
            "type": "string",
            "description": "File name",
            "default": ""
          },
          "url": {
            "type": "string",
            "description": "File URL",
            "default": ""
          }
        }
      },
      "InvoicesContainer": {
        "type": "object",
        "required": [
          "active",
          "resolved"
        ],
        "properties": {
          "active": {
            "type": "array",
            "description": "Active invoices",
            "default": [],
            "items": {
              "$ref": "#/components/schemas/Invoice"
            }
          },
          "resolved": {
            "type": "array",
            "description": "Resolved invoices",
            "default": [],
            "items": {
              "$ref": "#/components/schemas/Invoice"
            }
          }
        }
      },
      "Invoice": {
        "type": "object",
        "required": [
          "id",
          "invoiceDetails",
          "invoiceAmount",
          "noticeStatus",
          "noticeDate",
          "dueDate",
          "hearingDate",
          "hearingDetails",
          "sourceId",
          "remarks",
          "createdAt",
          "updatedAt",
          "invoicesNoticeFiles",
          "hoaInfo",
          "property"
        ],
        "properties": {
          "id": {
            "type": "string",
            "description": "Invoice identifier",
            "default": ""
          },
          "invoiceDetails": {
            "type": "string",
            "description": "Invoice description",
            "default": ""
          },
          "invoiceAmount": {
            "type": "string",
            "description": "Invoice amount (currency string)",
            "default": ""
          },
          "noticeStatus": {
            "type": "string",
            "description": "Invoice status",
            "default": ""
          },
          "noticeDate": {
            "type": "string",
            "description": "Invoice notice date",
            "default": ""
          },
          "dueDate": {
            "type": "string",
            "description": "Invoice due date",
            "default": ""
          },
          "hearingDate": {
            "type": "string",
            "description": "Hearing date (if applicable)",
            "default": ""
          },
          "hearingDetails": {
            "type": "string",
            "description": "Hearing details",
            "default": ""
          },
          "sourceId": {
            "type": "string",
            "description": "Source identifier",
            "default": ""
          },
          "remarks": {
            "type": "string",
            "description": "Additional remarks",
            "default": ""
          },
          "createdAt": {
            "type": "string",
            "description": "Created timestamp (ISO 8601 in sample)",
            "default": ""
          },
          "updatedAt": {
            "type": "string",
            "description": "Updated timestamp (ISO 8601 in sample)",
            "default": ""
          },
          "invoicesNoticeFiles": {
            "type": "array",
            "description": "Invoice attachments",
            "default": [],
            "items": {}
          },
          "hoaInfo": {
            "type": "array",
            "description": "Associated HOA info",
            "default": [],
            "items": {
              "$ref": "#/components/schemas/HOAInfo"
            }
          },
          "property": {
            "$ref": "#/components/schemas/InvoicePropertyRef"
          }
        }
      },
      "InvoicePropertyRef": {
        "type": "object",
        "required": [
          "objectId"
        ],
        "properties": {
          "objectId": {
            "type": "string",
            "description": "Related property ID",
            "default": ""
          }
        }
      },
      "ViolationAllDetailsResponse": {
        "type": "object",
        "required": [
          "currentViolation"
        ],
        "properties": {
          "currentViolation": {
            "$ref": "#/components/schemas/CurrentViolation"
          }
        }
      },
      "CurrentViolation": {
        "type": "object",
        "required": [
          "id",
          "propertyId",
          "violation",
          "violationFee",
          "violationDate",
          "dueDate",
[...]
