{
  "openapi": "3.1.0",
  "info": {
    "title": "Stock",
    "description": "This documentation was build from an openAPI 3.0.1 specification file. \n\nYou can import this file into a REST tool such as Postman by clicking \"Download source\".\n\nMore information on our APIs is available [here](https://api.dealerauction.co.uk/documentation)\n",
    "version": "1.0",
    "x-jentic-source-url": "https://api.dealerauction.co.uk/openapi.json",
    "contact": {
      "name": "API Support"
    }
  },
  "servers": [
    {
      "url": "https://api.dealerauction.co.uk",
      "description": "Stock API"
    }
  ],
  "security": [
    {
      "Basic": []
    }
  ],
  "paths": {
    "/v1/testing/set-auction-end-time": {
      "post": {
        "tags": [
          "testing-controller"
        ],
        "summary": "End listing early",
        "description": "This endpoint can be used to end your listing early which can be useful for end to end testing.\n            \n            This endpoint will only work in our test environment.",
        "operationId": "setAuctionEndTime",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/dealerauction.common.service.model.EndAuctionRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK"
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "oneOf": [
                    {
                      "$ref": "#/components/schemas/dealerauction.common.controller.model.ErrorInfo"
                    },
                    {
                      "$ref": "#/components/schemas/dealerauction.common.adapter.BadRequestErrorInfo"
                    }
                  ]
                }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/dealerauction.common.controller.model.ErrorInfo"
                }
              }
            }
          },
          "404": {
            "description": "Not Found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/dealerauction.common.controller.model.ErrorInfo"
                }
              }
            }
          },
          "409": {
            "description": "Conflict",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/dealerauction.common.adapter.StockConflictErrorInfo"
                }
              }
            }
          },
          "429": {
            "description": "Too Many Requests",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/dealerauction.common.controller.model.ErrorInfo"
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/dealerauction.common.controller.model.ErrorInfo"
                }
              }
            }
          },
          "502": {
            "description": "Bad Gateway",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/dealerauction.common.controller.model.ErrorInfo"
                }
              }
            }
          }
        }
      }
    },
    "/v1/stock": {
      "get": {
        "tags": [
          "stock-controller"
        ],
        "summary": "Search for stock items",
        "description": "If no search parameters are specified then no results will be returned. Search results are returned in paginated format.\n\nMore information on stock is available [here](https://api.dealerauction.co.uk/documentation/#activating-and-deactivating-an-advert)",
        "operationId": "search",
        "parameters": [
          {
            "name": "customerId",
            "in": "query",
            "description": "You will only be able to filter using your own customer ids",
            "required": false,
            "schema": {
              "type": "array",
              "description": "You will only be able to filter using your own customer ids",
              "items": {
                "type": "string",
                "description": "You will only be able to filter using your own customer ids"
              }
            }
          },
          {
            "name": "stockId",
            "in": "query",
            "required": false,
            "schema": {
              "type": "array",
              "items": {
                "type": "string"
              }
            }
          },
          {
            "name": "vrm",
            "in": "query",
            "required": false,
            "schema": {
              "type": "array",
              "items": {
                "type": "string"
              }
            }
          },
          {
            "name": "externalStockId",
            "in": "query",
            "required": false,
            "schema": {
              "type": "array",
              "items": {
                "type": "string"
              }
            }
          },
          {
            "name": "externalVendorId",
            "in": "query",
            "required": false,
            "schema": {
              "type": "array",
              "items": {
                "type": "string"
              }
            }
          },
          {
            "name": "deleted",
            "in": "query",
            "required": false,
            "schema": {
              "type": "boolean"
            }
          },
          {
            "name": "pageNumber",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "format": "int32",
              "default": 1
            }
          },
          {
            "name": "pageSize",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "format": "int32",
              "default": 100
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/dealerauction.common.controller.model.StockSearchResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "oneOf": [
                    {
                      "$ref": "#/components/schemas/dealerauction.common.controller.model.ErrorInfo"
                    },
                    {
                      "$ref": "#/components/schemas/dealerauction.common.adapter.BadRequestErrorInfo"
                    }
                  ]
                }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/dealerauction.common.controller.model.ErrorInfo"
                }
              }
            }
          },
          "404": {
            "description": "Not Found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/dealerauction.common.controller.model.ErrorInfo"
                }
              }
            }
          },
          "409": {
            "description": "Conflict",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/dealerauction.common.adapter.StockConflictErrorInfo"
                }
              }
            }
          },
          "429": {
            "description": "Too Many Requests",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/dealerauction.common.controller.model.ErrorInfo"
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/dealerauction.common.controller.model.ErrorInfo"
                }
              }
            }
          },
          "502": {
            "description": "Bad Gateway",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/dealerauction.common.controller.model.ErrorInfo"
                }
              }
            }
          }
        }
      },
      "post": {
        "tags": [
          "stock-controller"
        ],
        "summary": "Create a stock item",
        "description": "\nCreate a new stock item. Stock items are considered unique as combination of `customerId` + `VRM`.\nThis means a VRM can only be added once per customer account.\n\nWhen a stock item is created, we generate a unique identifier and return it to you as part of the stock response.\n",
        "operationId": "create",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/dealerauction.common.controller.model.StockModel"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/dealerauction.common.controller.model.StockModel"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "oneOf": [
                    {
                      "$ref": "#/components/schemas/dealerauction.common.controller.model.ErrorInfo"
                    },
                    {
                      "$ref": "#/components/schemas/dealerauction.common.adapter.BadRequestErrorInfo"
                    }
                  ]
                }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/dealerauction.common.controller.model.ErrorInfo"
                }
              }
            }
          },
          "404": {
            "description": "Not Found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/dealerauction.common.controller.model.ErrorInfo"
                }
              }
            }
          },
          "409": {
            "description": "Conflict",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/dealerauction.common.adapter.StockConflictErrorInfo"
                }
              }
            }
          },
          "429": {
            "description": "Too Many Requests",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/dealerauction.common.controller.model.ErrorInfo"
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/dealerauction.common.controller.model.ErrorInfo"
                }
              }
            }
          },
          "502": {
            "description": "Bad Gateway",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/dealerauction.common.controller.model.ErrorInfo"
                }
              }
            }
          }
        }
      }
    },
    "/v1/listings/{listingId}/mark-as-sold": {
      "post": {
        "tags": [
          "listing-controller"
        ],
        "summary": "Mark as sold",
        "description": "Support selling of a \"provisional\" vehicle for specified price. \n\nThe sale will be attributed to the highest bidder. The buyer cannot be changed. An auction needs at least one bidder for a sale to be made. The sale cannot be undone",
        "operationId": "markAsSold",
        "parameters": [
          {
            "name": "listingId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/dealerauction.common.controller.ListingController.MarkAsSoldRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/dealerauction.common.service.model.Listing"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "oneOf": [
                    {
                      "$ref": "#/components/schemas/dealerauction.common.controller.model.ErrorInfo"
                    },
                    {
                      "$ref": "#/components/schemas/dealerauction.common.adapter.BadRequestErrorInfo"
                    }
                  ]
                }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/dealerauction.common.controller.model.ErrorInfo"
                }
              }
            }
          },
          "404": {
            "description": "Not Found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/dealerauction.common.controller.model.ErrorInfo"
                }
              }
            }
          },
          "409": {
            "description": "Conflict",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/dealerauction.common.adapter.StockConflictErrorInfo"
                }
              }
            }
          },
          "429": {
            "description": "Too Many Requests",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/dealerauction.common.controller.model.ErrorInfo"
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/dealerauction.common.controller.model.ErrorInfo"
                }
              }
            }
          },
          "502": {
            "description": "Bad Gateway",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/dealerauction.common.controller.model.ErrorInfo"
                }
              }
            }
          }
        }
      }
    },
    "/v1/listings/{listingId}/mark-as-provisional": {
      "post": {
        "tags": [
          "listing-controller"
        ],
        "summary": "Mark as provisional",
        "description": "Support moving a vehicle back from  \"not sold\" state to \"provisional\". This can be used if a negotiation was transitioned to \"not sold\" in error",
        "operationId": "markAsProvisional",
        "parameters": [
          {
            "name": "listingId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/dealerauction.common.service.model.Listing"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "oneOf": [
                    {
                      "$ref": "#/components/schemas/dealerauction.common.controller.model.ErrorInfo"
                    },
                    {
                      "$ref": "#/components/schemas/dealerauction.common.adapter.BadRequestErrorInfo"
                    }
                  ]
                }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/dealerauction.common.controller.model.ErrorInfo"
                }
              }
            }
          },
          "404": {
            "description": "Not Found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/dealerauction.common.controller.model.ErrorInfo"
                }
              }
            }
          },
          "409": {
            "description": "Conflict",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/dealerauction.common.adapter.StockConflictErrorInfo"
                }
              }
            }
          },
          "429": {
            "description": "Too Many Requests",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/dealerauction.common.controller.model.ErrorInfo"
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/dealerauction.common.controller.model.ErrorInfo"
                }
              }
            }
          },
          "502": {
            "description": "Bad Gateway",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/dealerauction.common.controller.model.ErrorInfo"
                }
              }
            }
          }
        }
      }
    },
    "/v1/listings/{listingId}/mark-as-not-sold": {
      "post": {
        "tags": [
          "listing-controller"
        ],
        "summary": "Mark as not sold",
        "description": "Support moving a vehicle from \"provisional\" or \"sold\" state to \"not sold\". This signifies that negotiations have concluded for the listing.",
        "operationId": "markAsNotSold",
        "parameters": [
          {
            "name": "listingId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/dealerauction.common.service.model.Listing"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "oneOf": [
                    {
                      "$ref": "#/components/schemas/dealerauction.common.controller.model.ErrorInfo"
                    },
                    {
                      "$ref": "#/components/schemas/dealerauction.common.adapter.BadRequestErrorInfo"
                    }
                  ]
                }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/dealerauction.common.controller.model.ErrorInfo"
                }
              }
            }
          },
          "404": {
            "description": "Not Found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/dealerauction.common.controller.model.ErrorInfo"
                }
              }
            }
          },
          "409": {
            "description": "Conflict",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/dealerauction.common.adapter.StockConflictErrorInfo"
                }
              }
            }
          },
          "429": {
            "description": "Too Many Requests",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/dealerauction.common.controller.model.ErrorInfo"
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/dealerauction.common.controller.model.ErrorInfo"
                }
              }
            }
          },
          "502": {
            "description": "Bad Gateway",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/dealerauction.common.controller.model.ErrorInfo"
                }
              }
            }
          }
        }
      }
    },
    "/v1/stock/{stockId}": {
      "get": {
        "tags": [
          "stock-controller"
        ],
        "summary": "Get by ID",
        "operationId": "getById",
        "parameters": [
          {
            "name": "stockId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/dealerauction.common.controller.model.StockModel"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "oneOf": [
                    {
                      "$ref": "#/components/schemas/dealerauction.common.controller.model.ErrorInfo"
                    },
                    {
                      "$ref": "#/components/schemas/dealerauction.common.adapter.BadRequestErrorInfo"
                    }
                  ]
                }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/dealerauction.common.controller.model.ErrorInfo"
                }
              }
            }
          },
          "404": {
            "description": "Not Found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/dealerauction.common.controller.model.ErrorInfo"
                }
              }
            }
          },
          "409": {
            "description": "Conflict",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/dealerauction.common.adapter.StockConflictErrorInfo"
                }
              }
            }
          },
          "429": {
            "description": "Too Many Requests",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/dealerauction.common.controller.model.ErrorInfo"
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/dealerauction.common.controller.model.ErrorInfo"
                }
              }
            }
          },
          "502": {
            "description": "Bad Gateway",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/dealerauction.common.controller.model.ErrorInfo"
                }
              }
            }
          }
        },
        "description": "Get by ID"
      },
      "patch": {
        "tags": [
          "stock-controller"
        ],
        "summary": "Update by ID",
        "description": "\nUpdates are supported via `PATCH` requests. You can either `PATCH` the full document or just the fields that you wish to\nchange. Using a blank string or a null value will try and set the field value to blank or null respectively.\nNot changing a field can only be done by not sending it in the patch request.\n\nCertain fields returned in a stock response are readonly and cannot be changed.\n        ",
        "operationId": "update",
        "parameters": [
          {
            "name": "stockId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/tools.jackson.databind.JsonNode"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/dealerauction.common.controller.model.StockModel"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "oneOf": [
                    {
                      "$ref": "#/components/schemas/dealerauction.common.controller.model.ErrorInfo"
                    },
                    {
                      "$ref": "#/components/schemas/dealerauction.common.adapter.BadRequestErrorInfo"
                    }
                  ]
                }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/dealerauction.common.controller.model.ErrorInfo"
                }
              }
            }
          },
          "404": {
            "description": "Not Found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/dealerauction.common.controller.model.ErrorInfo"
                }
              }
            }
          },
          "409": {
            "description": "Conflict",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/dealerauction.common.adapter.StockConflictErrorInfo"
                }
              }
            }
          },
          "429": {
            "description": "Too Many Requests",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/dealerauction.common.controller.model.ErrorInfo"
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/dealerauction.common.controller.model.ErrorInfo"
                }
              }
            }
          },
          "502": {
            "description": "Bad Gateway",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/dealerauction.common.controller.model.ErrorInfo"
                }
              }
            }
          }
        }
      }
    },
    "/v1/vehicle-documentation/{stockId}": {
      "get": {
        "tags": [
          "vehicle-documentation-controller"
        ],
        "summary": "Get by ID",
        "description": "Returns information on vehicle documentation that been submitted to us.\n\n You cannot view the actual documentation, just some basic information relating to it.",
        "operationId": "getForVehicle",
        "parameters": [
          {
            "name": "stockId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/dealerauction.common.controller.VehicleDocumentationController.SecureDocumentsResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "oneOf": [
                    {
                      "$ref": "#/components/schemas/dealerauction.common.controller.model.ErrorInfo"
                    },
                    {
                      "$ref": "#/components/schemas/dealerauction.common.adapter.BadRequestErrorInfo"
                    }
                  ]
                }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/dealerauction.common.controller.model.ErrorInfo"
                }
              }
            }
          },
          "404": {
            "description": "Not Found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/dealerauction.common.controller.model.ErrorInfo"
                }
              }
            }
          },
          "409": {
            "description": "Conflict",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/dealerauction.common.adapter.StockConflictErrorInfo"
                }
              }
            }
          },
          "429": {
            "description": "Too Many Requests",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/dealerauction.common.controller.model.ErrorInfo"
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/dealerauction.common.controller.model.ErrorInfo"
                }
              }
            }
          },
          "502": {
            "description": "Bad Gateway",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/dealerauction.common.controller.model.ErrorInfo"
                }
              }
            }
          }
        }
      }
    },
    "/v1/listings/{listingId}": {
      "get": {
        "tags": [
          "listing-controller"
        ],
        "summary": "Get by ID",
        "description": "More information on listings is available [here](https://api.dealerauction.co.uk/documentation/#listings)",
        "operationId": "getListing",
        "parameters": [
          {
            "name": "listingId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/dealerauction.common.service.model.Listing"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "oneOf": [
                    {
                      "$ref": "#/components/schemas/dealerauction.common.controller.model.ErrorInfo"
                    },
                    {
                      "$ref": "#/components/schemas/dealerauction.common.adapter.BadRequestErrorInfo"
                    }
                  ]
                }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/dealerauction.common.controller.model.ErrorInfo"
                }
              }
            }
          },
          "404": {
            "description": "Not Found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/dealerauction.common.controller.model.ErrorInfo"
                }
              }
            }
          },
          "409": {
            "description": "Conflict",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/dealerauction.common.adapter.StockConflictErrorInfo"
                }
              }
            }
          },
          "429": {
            "description": "Too Many Requests",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/dealerauction.common.controller.model.ErrorInfo"
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/dealerauction.common.controller.model.ErrorInfo"
                }
              }
            }
          },
          "502": {
            "description": "Bad Gateway",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/dealerauction.common.controller.model.ErrorInfo"
                }
              }
            }
          }
        }
      }
    }
  },
  "components": {
    "schemas": {
      "dealerauction.common.controller.model.ErrorInfo": {
        "type": "object",
        "properties": {
          "errorCode": {
            "type": "string",
            "example": "SERVER_ERROR"
          },
          "errorMessage": {
            "type": "string",
            "example": "An unexpected error has occurred"
          }
        }
      },
      "dealerauction.common.adapter.StockConflictErrorInfo": {
        "type": "object",
        "properties": {
          "errorCode": {
            "type": "string",
            "example": "STOCK_ALREADY_EXISTS"
          },
          "vrm": {
            "type": "string",
            "example": "AB17ABC"
          }
        }
      },
      "dealerauction.common.adapter.BadRequestErrorInfo": {
        "type": "object",
        "properties": {
          "errorCode": {
            "type": "string",
            "example": "INVALID_STOCK_ITEM"
          },
          "errorMessage": {
            "type": "string",
            "example": "An error message"
          },
          "errors": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/dealerauction.common.adapter.BadRequestErrorInfo.ErrorMessage"
            }
          }
        }
      },
      "dealerauction.common.adapter.BadRequestErrorInfo.ErrorMessage": {
        "type": "object",
        "properties": {
          "message": {
            "type": "string",
            "example": "An error has occurred"
          },
          "key": {
            "type": "string"
          }
        }
      },
      "dealerauction.common.service.model.EndAuctionRequest": {
        "type": "object",
        "properties": {
          "listingId": {
            "type": "string",
            "description": "If listing ID is supplied then that will be the listing that is processed and stock ID will be ignored."
          },
          "stockId": {
            "type": "string",
            "description": "If stock ID is supplied instead of listing ID then we will retrieve the latest listing and process it."
          },
          "endTime": {
            "type": "string",
            "format": "date-time"
          }
        }
      },
      "dealerauction.common.controller.model.Money": {
        "type": "object",
        "properties": {
          "value": {
            "type": "number",
            "example": 1500
          },
          "currency": {
            "type": "string",
            "enum": [
              "GBP"
            ]
          }
        }
      },
      "dealerauction.common.controller.model.StockModel": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "example": "a10ab562-c0cd-4072-88eb-4115811f5aa1",
            "readOnly": true
          },
          "listingId": {
            "type": "string",
            "description": "Your listing ID. You can retrieve real time listing information from the Listings resource using this identifier",
            "example": "cf17d47a-3ba5-452d-a18f-f03225aa6c27",
            "readOnly": true
          },
          "createdDate": {
            "type": "string",
            "format": "date-time",
            "example": "2023-04-19T11:07:18.883Z",
            "readOnly": true
          },
          "updatedDate": {
            "type": "string",
            "format": "date-time",
            "example": "2023-04-19T11:07:18.883Z",
            "readOnly": true
          },
          "publicReference": {
            "type": "string",
            "description": "Forms part of the public url for the listing",
            "example": 202304198054016,
            "readOnly": true
          },
          "metadata": {
            "$ref": "#/components/schemas/dealerauction.common.controller.model.StockModel.Metadata",
            "description": "Additional vendor specific identifiers. You can associate your own vendor and stock identifier to our stock record via these fields.\nChild fields are optional, however this top level field is mandatory."
          },
          "lifecycleState": {
            "type": "string",
            "description": "The status of the vehicle",
            "enum": [
              "FORECOURT",
              "SALE_IN_PROGRESS",
              "SOLD",
              "WASTEBIN",
              "DELETED"
            ],
            "readOnly": true
          },
          "customerId": {
            "type": "string",
            "description": "Our customer ID that has been assigned to you. \nDepending on account setup, you may have multiple customer account IDs assigned to you.",
            "example": 123456
          },
          "vehicle": {
            "$ref": "#/components/schemas/dealerauction.common.controller.model.StockModel.Vehicle",
            "description": "  \nWrite-off categories and insurance group values are based on industry standards. \n\nMore information is available [here](https://www.gov.uk/scrapped-and-written-off-vehicles/insurance-writeoffs)"
          },
          "advert": {
            "$ref": "#/components/schemas/dealerauction.common.controller.model.StockModel.Advert",
            "description": "An advert portion of the stock item is not mandatory. \n\nHowever, if there is no advert against the stock item then it will not be advertised and so will not be visible to customers browsing the DA platform.\n\nOnce the advert portion is added, it can never be removed, however the advert can be deactivated by patching its state."
          },
          "features": {
            "type": "array",
            "description": "List of features. If you don't have any, just provide an empty list",
            "items": {
              "$ref": "#/components/schemas/dealerauction.common.controller.model.StockModel.StockFeature"
            }
          },
          "conditionReportUrl": {
            "type": "string",
            "description": "An externally hosted condition report can be associated to the stock item. This report must be in PDF format.\nWhen a condition report is added to a stock item, it will be asynchronously downloaded.\nThe report is then scanned for viruses before being uploaded to our CDN.",
            "example": "https://your-domain.com/condition-report.pdf",
            "maxLength": 500
          },
          "condition": {
            "$ref": "#/components/schemas/dealerauction.common.controller.model.StockModel.Condition",
            "description": "A block of data containing optional information on the condition of the vehicle. Empty values indicate no corresponding grading.\nCan contain a list of damage items that are displayed as a visual diagram on our platform. These are sometimes referred\nto as \"splat\" diagrams."
          },
          "videoUrl": {
            "type": "string",
            "description": "An externally hosted video URL that we will embed in our listing page. Currently we only support YouTube.",
            "example": "https://www.youtube.com/watch?v=yIQd2Ya0Ziw&ab_channel=Calm"
          },
          "images": {
            "type": "array",
            "description": "A list of image URLs that will be downloaded and then uploaded to our CDN.\nImages must be publicly accessible. We will require at least one image.\n\nImages will be displayed on the advert in the order that they are given. If you wish to reorder the images then resubmit the URLs in the order you would like.",
            "items": {
              "$ref": "#/components/schemas/dealerauction.common.controller.model.StockModel.Image"
            }
          },
          "capTaxonomy": {
            "$ref": "#/components/schemas/dealerauction.common.controller.model.StockModel.CapTaxonomy",
            "description": "Cap taxonomy information that we have resolved via an experian lookup",
            "readOnly": true
          },
          "availableUntil": {
            "type": "string",
            "format": "date-time",
            "description": "We will not attempt to sell the vehicle past this point in time. If an availableUntil is specified, auction time must end before or at this point. Any ongoing negotiations for provisional vehicles will also be abandoned past this point."
          },
          "requestedNetwork": {
            "type": "string",
            "description": "The network that you would like the vehicle to be placed into.\n\n Depending on your account configuration, there may be multiple networks available to you.\nIf no network is specified, then we will choose the most suitable network for the vehicle."
          },
          "advertiser": {
            "$ref": "#/components/schemas/dealerauction.common.controller.model.StockModel.Advertiser",
            "description": "Specifying an advertiser allows the sender to override default contact and location based information held against our customer record. \n\nThis is useful when the vehicle needs to be collected from an alternative location or be handled by an alternative contact."
          },
          "additionalData": {
            "type": "string",
            "additionalProperties": false,
            "description": "A collection of questions and answers and notes from consumers selling vehicles through Consumer Direct",
            "properties": {
              "mechanical_fails_start": {
                "type": "boolean"
              },
              "mechanical_bad_gearbox": {
                "type": "boolean"
              },
              "mechanical_unusual_noise": {
                "type": "boolean"
              },
              "mechanical_veers": {
                "type": "boolean"
              },
              "mechanical_warning_light": {
                "type": "boolean"
              },
              "mechanical_exhaust_smoke": {
                "type": "boolean"
              },
              "mechanical_leaks": {
                "type": "boolean"
              },
              "mechanical_note": {
                "type": "string"
              },
              "electrical_aircon_not_cold": {
                "type": "boolean"
              },
              "electrical_dashboard_not_working": {
                "type": "boolean"
              },
              "electrical_speakers_not_working": {
                "type": "boolean"
              },
              "electrical_satnav_not_working": {
                "type": "boolean"
              },
              "electrical_note": {
                "type": "string"
              },
              "odour_smoke": {
                "type": "boolean"
              },
              "odour_pet": {
                "type": "boolean"
              },
              "odour_damp": {
                "type": "boolean"
              },
              "odour_note": {
                "type": "string"
              },
              "bodywork_repairs": {
                "type": "boolean"
              },
              "bodywork_repairs_note": {
                "type": "string"
              },
              "bodywork_issues": {
                "type": "boolean"
              },
              "bodywork_issues_note": {
                "type": "string"
              },
              "vehicle_modifications": {
                "type": "boolean"
              },
              "vehicle_modifications_note": {
                "type": "string"
              },
              "c2b_top_nav_journey": {
                "type": "boolean"
              },
              "v5c_in_different_name": {
                "type": "boolean"
              },
              "test_name": {
                "type": "string"
              },
              "test_group": {
                "type": "string"
              },
              "c2b_valuation_range_lower": {
                "type": "integer",
                "format": "int32"
              },
              "c2b_valuation_range_upper": {
                "type": "integer",
                "format": "int32"
              },
              "taxi": {
                "type": "boolean"
              }
            }
          }
        }
      },
      "dealerauction.common.controller.model.StockModel.Address": {
        "type": "object",
        "properties": {
          "address1": {
            "type": "string",
            "example": "Line1"
          },
          "address2": {
            "type": "string",
            "example": "Line2"
          },
          "town": {
            "type": "string",
            "example": "Manchester"
          },
          "county": {
            "type": "string",
            "example": "Manchester"
          },
          "postcode": {
            "type": "string",
            "example": "A Postcode"
          },
          "country": {
            "type": "string",
            "example": "United Kingdom"
          },
          "latLong": {
            "$ref": "#/components/schemas/dealerauction.common.controller.model.StockModel.LatLong",
            "description": "This field is required for us to support distance searches. \n\nIf an address is specified but no latLong is included then we will accept the vehicle but buyers will not be able to conduct a distance based search. \n\nFor example, searching for vehicles in a 12 mile radius"
          }
        }
      },
      "dealerauction.common.controller.model.StockModel.Advert": {
        "type": "object",
        "properties": {
          "state": {
            "type": "string",
            "description": "Indicates whether a listing is live. \n\n This field can be used to activate and de-activate a listing.\n\nWe recommend using this field, rather than adjusting startDate or endDate",
            "enum": [
              "ACTIVE",
              "INACTIVE"
            ]
          },
          "createdDate": {
            "type": "string",
            "format": "date-time",
            "example": "2023-04-19T11:07:18.883Z",
            "readOnly": true
          },
          "updatedDate": {
            "type": "string",
            "format": "date-time",
            "example": "2023-04-19T11:07:18.883Z",
            "readOnly": true
          },
          "auction": {
            "$ref": "#/components/schemas/dealerauction.common.controller.model.StockModel.Advert.Auction",
            "description": "For an auction to be considered valid, you must supply a reserve price greater than £50.\n\nFor a buy now listing to be considered valid, you must supply a buy now price that is greater than zero.\n\nAll price fields will be rounded down to the nearest pound. Pence will be ignored. For example 10.50 becomes 10."
          },
          "startDate": {
            "type": "string",
            "format": "date-time",
            "deprecated": true,
            "description": "Setting start and end dates for your advert can control if an advert is active.\n\nHowever, we recommend updating the advert state directly, rather than adjusting these dates.",
            "example": "2023-04-19T11:07:18.883Z"
          },
          "endDate": {
            "type": "string",
            "format": "date-time",
            "deprecated": true,
            "description": "Setting start and end dates for your advert can control if an advert is active.\n\nHowever, we recommend updating the advert state directly, rather than adjusting these dates.",
            "example": "2023-04-23T11:07:18.883Z"
          },
          "attentionGrabber": {
            "type": "string",
            "description": "A small piece of text that appears on the search results.",
            "example": "This is a really great car",
            "maxLength": 100
          },
          "description": {
            "type": "string",
            "description": "A text description block of the advert.\nLinebreaks can be inserted with `\\n` character.\nHTML tags will be stripped out. Only plain text is allowed.",
            "example": "Some information about a car.\n\nAnd some more information with a line break.",
            "maxLength": 2000
          },
          "tradeVatStatus": {
            "type": "string",
            "enum": [
              "MARGINAL",
              "VAT_QUALIFYING",
              "PLUS_VAT",
              "NO_VAT"
            ]
          },
          "externalUrl": {
            "type": "string",
            "description": "A link to a page that contains more information about the vehicle",
            "example": "https://some-url.com/a-page"
          }
        }
      },
      "dealerauction.common.controller.model.StockModel.Advert.Auction": {
        "type": "object",
        "properties": {
          "type": {
            "type": "string",
            "enum": [
              "BID",
              "BUY_NOW",
              "SEALED_BID",
              "PHYSICAL"
            ]
          },
          "lotId": {
            "type": "string",
            "description": "Used for physical auctions",
            "example": 12
          },
          "startingPrice": {
            "$ref": "#/components/schemas/dealerauction.common.controller.model.Money",
            "description": "Optional starting price for an biddable auction. Bids under this value will be rejected"
          },
          "reservePrice": {
            "$ref": "#/components/schemas/dealerauction.common.controller.model.Money",
            "description": "Reserve price must be specified for BID auctions. Vehicles with a highest bid that is below the reserve price will move into a PROVISIONAL state."
          },
          "askingPrice": {
            "$ref": "#/components/schemas/dealerauction.common.controller.model.Money",
            "description": "The price that a seller would like to get for the vehicle. This is used for SEALED_BID auctions but can also be used when negotiating on PROVISIONAL vehicles"
          },
          "buyNowPrice": {
            "$ref": "#/components/schemas/dealerauction.common.controller.model.Money",
            "description": "Mandatory for BUY_NOW auctions, optional for other types"
          },
          "startDate": {
            "type": "string",
            "format": "date-time",
            "description": "The date and time that you would like the auction to start",
            "example": "2023-04-19T11:07:18.883Z"
          },
          "endDate": {
            "type": "string",
            "format": "date-time",
            "description": "The date and time that you would like the auction to end",
            "example": "2023-04-21T11:07:18.883Z"
          }
        }
      },
      "dealerauction.common.controller.model.StockModel.Advertiser": {
        "type": "object",
        "properties": {
          "address": {
            "$ref": "#/components/schemas/dealerauction.common.controller.model.StockModel.Address",
            "description": "If an address is specified here, it overrides the default location pulled from our customer account"
          },
          "contact": {
            "$ref": "#/components/schemas/dealerauction.common.controller.model.StockModel.Contact",
            "description": "If a contact is specified here, it overrides the default contact information pulled from our customer account"
          }
        }
      },
      "dealerauction.common.controller.model.StockModel.CapTaxonomy": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string"
          },
          "code": {
            "type": "string"
          },
          "make": {
            "type": "string"
          },
          "model": {
            "type": "string"
          },
          "variant": {
            "type": "string"
          },
          "derivative": {
            "type": "string"
          }
        }
      },
      "dealerauction.common.controller.model.StockModel.Condition": {
        "type": "object",
        "properties": {
          "externalConditionGrade": {
            "type": "string",
            "description": "NAMA grade",
            "enum": [
              "1",
              "2",
              "3",
              "4",
              "5",
              "U"
            ]
          },
          "surecheckGrade": {
            "type": "string",
            "enum": [
              "BRONZE",
              "SILVER",
              "GOLD",
              "LCV",
              "EV"
            ]
          },
          "damageItems": {
            "type": "array",
            "description": "If damage items are set, then a diagram will be rendered in the listing, detailing the damage.\n\n An interactive diagram is available [here](https://api.dealerauction.co.uk/documentation//#damage-chart)",
            "items": {
              "$ref": "#/components/schemas/dealerauction.common.controller.model.StockModel.DamageItem"
            }
          },
          "batteryHealthPercentage": {
            "type": "integer",
            "format": "int32",
            "description": "Battery health percentage for electric or hybrid vehicles. Represents the current state of health as a percentage (0-100)",
            "example": 95,
            "maximum": 100,
            "minimum": 0
          },
          "batteryReportUrl": {
            "type": "string",
            "description": "An externally hosted battery health report can be associated to the stock item. This report must be in PDF format.\nWhen a report is added to a stock item, it will be asynchronously downloaded.\nThe report is then scanned for viruses before being uploaded to our CDN.",
            "example": "https://example.com/battery-reports/battery-health-report.pdf",
            "maxLength": 500
          }
        }
      },
      "dealerauction.common.controller.model.StockModel.Contact": {
        "type": "object",
        "properties": {
          "email": {
            "type": "string",
            "example": "test.user@example.com"
          },
          "title": {
            "type": "string",
            "example": "Mr"
          },
          "firstName": {
            "type": "string",
            "example": "Test"
          },
          "lastName": {
            "type": "string",
            "example": "User"
          },
          "mobileNumber": {
            "type": "string",
            "example": "07222222222"
          },
          "landlineNumber": {
            "type": "string",
            "example": "01611111111"
          }
        }
      },
      "dealerauction.common.controller.model.StockModel.DamageItem": {
        "type": "object",
        "properties": {
          "zone": {
            "type": "string",
            "description": "The location of the damage item",
            "enum": [
              "WINDSCREEN",
              "WINDSCREEN_REAR",
              "BOOTLID",
              "ROOF",
              "BONNET",
              "MIRROR_COVER_NEAR_SIDE",
              "MIRROR_COVER_FAR_SIDE",
              "DOOR_FRONT_FAR_SIDE",
              "DOOR_FRONT_NEAR_SIDE",
              "DOOR_REAR_FAR_SIDE",
              "DOOR_REAR_NEAR_SIDE",
              "WING_FRONT_NEAR_SIDE",
              "WING_FRONT_FAR_SIDE",
              "WING_REAR_FAR_SIDE",
              "WING_REAR_NEAR_SIDE",
              "WHEELS_FRONT_NEAR_SIDE",
              "WHEELS_FRONT_FAR_SIDE",
              "WHEELS_REAR_NEAR_SIDE",
              "WHEELS_REAR_FAR_SIDE",
              "BUMPER_FRONT",
              "BUMPER_REAR",
              "NUMBER_PLATE_FRONT",
              "NUMBER_PLATE_REAR",
              "WINDOW_FRONT_NEAR_SIDE",
              "WINDOW_FRONT_FAR_SIDE",
              "WINDOW_REAR_NEAR_SIDE",
              "WINDOW_REAR_FAR_SIDE",
              "WINDOW_REAR_QUARTER_NEAR_SIDE",
              "WINDOW_REAR_QUARTER_FAR_SIDE",
              "TAIL_LIGHT_NEAR_SIDE",
              "TAIL_LIGHT_FAR_SIDE",
              "HEAD_LIGHT_NEAR_SIDE",
              "HEAD_LIGHT_FAR_SIDE"
            ]
          },
          "damageType": {
            "type": "string",
            "enum": [
              "BROKEN",
              "BIRD_DEPOSITS",
              "CHIP",
              "CRACK",
              "DENT",
              "DENT_LOCAL_REPAIR",
              "FADE",
              "MULTIPLE_CHIPS",
              "OFF_COLOUR_PANEL",
              "PREVIOUS_REPAIR",
              "RUST",
              "SCUFF",
              "SCRATCH",
              "SCRATCH_LOCAL_REPAIR",
              "WHEEL_SCUFF",
              "STAINED",
              "TORN_RIPPED",
              "WORN",
              "DIRTY",
              "MISSING",
              "BURNT",
              "OTHER"
            ]
          }
        }
      },
      "dealerauction.common.controller.model.StockModel.Image": {
        "type": "object",
        "properties": {
          "url": {
            "type": "string",
            "description": "A URL to a publicly hosted image that we will download",
            "example": "https://howtodrawforkids.com/wp-content/uploads/2022/01/9-cartoon-car-drawing-tutorial.jpg"
          },
          "platformUrl": {
            "type": "string",
            "description": "Our copy of your image, hosted on our CDN",
            "example": "https://howtodrawforkids.com/wp-content/uploads/2022/01/9-cartoon-car-drawing-tutorial.jpg",
            "readOnly": true
          },
          "uploaded": {
            "type": "boolean",
            "description": "Indicates that we have downloaded your image and uploaded it to our CDN",
            "example": true,
            "readOnly": true
          },
          "tags": {
            "type": "array",
            "description": "A set of fixed values that are used to classify the image.",
            "items": {
              "type": "string",
              "enum": [
                "front_nearside",
                "front_centre",
                "front_offside",
                "front_offside_wheel",
                "front_offside_tyre",
                "rear_offside",
                "rear_offside_wheel",
                "rear_offside_tyre",
                "rear_centre",
                "rear_nearside",
                "rear_nearside_wheel",
                "rear_nearside_tyre",
                "front_nearside_wheel",
                "front_nearside_tyre",
                "passenger_seat",
                "driver_seat",
                "back_seat_row_1",
                "back_seat_row_2",
                "instrument_panel",
                "boot",
                "charging_cable",
                "keys",
                "service_history",
                "convertible_roof_up",
                "convertible_roof_down",
                "dashboard",
                "nearside",
                "offside",
                "infotainment",
                "steering_wheel",
                "damage_exterior",
                "damage_wheel",
                "damage_interior",
                "damage_windscreen",
                "exterior",
                "interior",
                "damage"
              ]
            }
          }
        }
      },
      "dealerauction.common.controller.model.StockModel.LatLong": {
        "type": "object",
        "properties": {
          "latitude": {
            "type": "number",
            "example": 51.518562
          },
          "longitude": {
            "type": "number",
            "example": -0.143826
          }
        }
      },
      "dealerauction.common.controller.model.StockModel.Metadata": {
        "type": "object",
        "properties": {
          "externalStockId": {
            "type": "string",
            "description": "A vehicle identifier in the calling system"
          },
          "externalVendorId": {
            "type": "string",
            "description": "A seller identifier in the calling system"
          }
        }
      },
      "dealerauction.common.controller.model.StockModel.StockFeature": {
        "type": "object",
        "properties": {
          "description": {
            "type": "string",
            "description": "Description of the item",
            "example": "DAB Radio"
          },
          "standard": {
            "type": "boolean",
            "description": "Comes as standard",
            "example": false
          },
          "category": {
            "type": "string",
            "deprecated": true,
            "description": "Category grouping",
            "example": "electronics"
          }
        }
      },
      "dealerauction.common.controller.model.StockModel.Vehicle": {
        "type": "object",
        "properties": {
          "vrm": {
            "type": "string",
            "example": "AB17ABC"
          },
          "category": {
            "type": "string",
            "description": "Type of vehicle",
            "enum": [
              "Car",
              "Bike",
              "Van"
            ]
          },
          "mileage": {
            "type": "integer",
            "format": "int32",
            "example": 51234
          },
          "yearOfManufacture": {
            "type": "integer",
            "format": "int32",
            "example": 2018
          },
          "dateOfRegistration": {
            "type": "string",
            "format": "date",
            "example": "2018-06-01"
          },
          "ownershipCondition": {
            "type": "string",
            "enum": [
              "NEW",
              "USED"
            ]
          },
          "vin": {
            "type": "string",
            "example": "AAAAA81KLJU982170"
          },
          "make": {
            "type": "string",
            "example": "Citroen"
          },
          "model": {
            "type": "string",
            "example": "Saxo"
          },
          "derivative": {
            "type": "string",
            "example": 1.5
          },
          "derivativeId": {
            "type": "string",
            "description": "AutoTrader vehicle derivative ID. This is resolved by us and used to provide AutoTrader valuations",
            "example": "4965f54cdaea4226acde95e0d99b1acf",
            "readOnly": true
          },
          "trim": {
            "type": "string",
            "example": "SX"
          },
          "bodyType": {
            "type": "string",
            "example": "Hatchback"
          },
          "fuelType": {
            "type": "string",
            "example": "Petrol"
          },
          "transmissionType": {
            "type": "string",
            "example": "Manual"
          },
          "driveTrain": {
            "type": "string",
            "example": "Front Wheel Drive"
          },
          "doors": {
            "type": "integer",
            "format": "int32",
            "example": 3
          },
          "keys": {
            "type": "integer",
            "format": "int32",
            "example": 2
          },
          "insuranceGroup": {
            "type": "string",
            "description": "Industry standard insurance group rating",
            "example": 10
          },
          "insuranceSecurityCode": {
            "type": "string",
            "description": "Industry standard insurance code",
            "example": "U"
          },
          "v5CertificationSupplied": {
            "type": "boolean",
            "example": true
          },
          "colour": {
            "type": "string",
            "example": "Blue"
          },
          "engineNumber": {
            "type": "string",
            "example": "FY6H0409181"
          },
          "cylinders": {
            "type": "integer",
            "format": "int32",
            "example": 2
          },
          "engineSize": {
            "$ref": "#/components/schemas/dealerauction.common.controller.model.StockModel.Vehicle.EngineSize"
          },
          "motExpiry": {
            "type": "string",
            "format": "date",
            "example": "2017-01-01"
          },
          "serviceHistory": {
            "type": "string",
            "enum": [
              "FULL_SERVICE_HISTORY",
              "FULL_DEALERSHIP_HISTORY",
              "PARTIAL_SERVICE_HISTORY",
              "NO_SERVICE_HISTORY"
            ]
          },
          "plate": {
            "type": "string",
            "description": "The numerical part of the VRM",
            "example": 17
          },
          "previousOwners": {
            "type": "integer",
            "format": "int32",
            "description": "The number of previous owners, not including the current seller",
            "example": 2
          },
          "exDemo": {
            "type": "boolean",
            "example": false
          },
          "stolen": {
            "type": "boolean",
            "example": false
          },
          "imported": {
            "type": "boolean",
            "example": false
          },
          "exported": {
            "type": "boolean",
            "example": false
          },
          "scrapped": {
            "type": "boolean",
            "example": false
          },
          "writeoffCategory": {
            "type": "string",
            "description": "Insurance write-off category",
            "enum": [
              "C",
              "D",
              "S",
              "N"
            ]
          }
        },
        "required": [
          "make",
          "model"
        ]
      },
      "dealerauction.common.controller.model.StockModel.Vehicle.EngineSize": {
        "type": "object",
        "properties": {
          "unit": {
            "type": "string",
            "enum": [
              "LITRE",
              "CUBIC_CENTIMETRE"
            ]
          },
          "value": {
            "type": "number",
            "format": "double",
            "example": 1200
          }
        }
      },
      "dealerauction.common.controller.ListingController.MarkAsSoldRequest": {
        "type": "object",
        "properties": {
          "salePrice": {
            "type": "integer",
            "format": "int32",
            "description": "The sale price agreed between the buyer and seller",
            "example": 5000
          }
        }
      },
      "dealerauction.common.service.model.Address": {
        "type": "object",
        "properties": {
          "line1": {
            "type": "string"
          },
          "line2": {
            "type": "string"
          },
          "town": {
            "type": "string"
          },
          "county": {
            "type": "string"
          },
          "postcode": {
            "type": "string"
          }
        }
      },
      "dealerauction.common.service.model.Auction": {
        "type": "object",
        "properties": {
          "created": {
            "type": "string",
            "format": "date-time",
            "example": "2023-04-19T11:07:18.883Z"
          },
          "startTime": {
            "type": "string",
            "format": "date-time",
            "example": "2023-04-19T11:07:18.883Z"
          },
          "endTime": {
            "type": "string",
            "format": "date-time",
            "example": "2023-04-19T11:07:18.883Z"
          },
          "cancelTime": {
            "type": "string",
            "format": "date-time",
            "example": "2023-04-21T11:07:18.883Z"
          },
          "bids": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/dealerauction.common.service.model.Auction.Bid"
            }
          },
          "buyNowPrice": {
            "type": "number",
            "example": 10000
          },
          "reservePrice": {
            "type": "number",
            "example": 5000
          },
          "reserveMet": {
            "type": "boolean",
            "example": true
          },
          "currentPrice": {
            "type": "number",
            "example": 6000
          },
          "type": {
            "type": "string",
            "enum": [
              "BID",
              "BUY_NOW",
              "SEALED_BID"
            ]
          }
        }
      },
      "dealerauction.common.service.model.Auction.Bid": {
        "type": "object",
        "properties": {
          "value": {
            "type": "number",
            "example": 6000
          },
          "time": {
            "type": "string",
            "format": "date-time",
            "example": "2023-04-20T11:07:18.883Z"
          }
        }
      },
      "dealerauction.common.service.model.Buyer": {
        "type": "object",
        "properties": {
          "tradingName": {
            "type": "string",
            "example": "Test Dealer Cars UK"
          },
          "contacts": {
            "type": "array",
            "description": "A list of contacts at the buyer dealership.\n\nThis includes the user who placed the winning bid and additional people involved in vehicle purchasing.",
            "items": {
              "$ref": "#/components/schemas/dealerauction.common.service.model.Contact"
            }
          },
          "address": {
            "$ref": "#/components/schemas/dealerauction.common.service.model.Address"
          },
          "externalAccountIds": {
            "type": "object",
            "additionalProperties": {
              "type": "string"
            },
            "description": "We hold an external customer ID for certain stock providers. \n\nThe ID will only be returned for requests from that particular provider.",
            "example": {
              "providerName": "exampleID"
            }
          }
        }
      },
      "dealerauction.common.service.model.Contact": {
        "type": "object",
        "properties": {
          "type": {
            "type": "string",
            "enum": [
              "USER",
              "BUYER"
            ],
            "example": "USER"
          },
          "title": {
            "type": "string",
            "example": "Mr"
          },
          "firstName": {
            "type": "string",
            "example": "Test"
          },
          "lastName": {
            "type": "string",
            "example": "User"
          },
          "email": {
            "type": "string",
            "example": "test.user@example.com"
          },
          "mobileNumber": {
            "type": "string",
            "example": "07777777777"
          },
          "landlineNumber": {
            "type": "string",
            "example": "01611111111"
          }
        }
      },
      "dealerauction.common.service.model.Listing": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "example": "cf17d47a-3ba5-452d-a18f-f03225aa6c27"
          },
          "stockId": {
            "type": "string",
            "description": "Your stock ID. You can retrieve stock information from the Stock resource using this identifier",
            "example": "a10ab562-c0cd-4072-88eb-4115811f5aa1"
          },
          "status": {
            "type": "string",
            "enum": [
              "IN_PROGRESS",
              "PROVISIONAL",
              "CANCELLED",
              "SOLD",
              "NOT_SOLD"
            ]
          },
          "auction": {
            "$ref": "#/components/schemas/dealerauction.common.service.model.Auction"
          },
          "negotiation": {
            "$ref": "#/components/schemas/dealerauction.common.service.model.Negotiation",
            "description": "Negotiation information. These fields will not be needed for most integrations."
          },
          "sale": {
            "$ref": "#/components/schemas/dealerauction.common.service.model.Sale",
            "description": "Sales information. This will only be present for vehicles that have sold."
          }
        }
      },
      "dealerauction.common.service.model.Negotiation": {
        "type": "object",
        "properties": {
          "askingPrice": {
            "type": "integer",
            "format": "int32",
            "description": "The amount that the seller is willing to accept for the vehicle.\n    \nThis applies mainly to `PROVISIONAL` vehicles. Those that have bids but have not met reserve. This is price the seller may be willing to drop to.",
            "example": 5000
          },
          "price": {
            "type": "integer",
            "format": "int32",
            "description": "The current price of the negotiation. This will only apply when listing is in a `PROVISIONAL` state.",
            "example": 5000
          },
          "buyer": {
            "$ref": "#/components/schemas/dealerauction.common.service.model.Buyer",
            "description": "The highest bidder. If a sale is being negotiated, this is the buyer being dealt with."
          }
        }
      },
      "dealerauction.common.service.model.Sale": {
        "type": "object",
        "properties": {
          "buyer": {
            "$ref": "#/components/schemas/dealerauction.common.service.model.Buyer"
          },
          "price": {
            "type": "number",
            "example": 5000
          }
        }
      },
      "tools.jackson.databind.JsonNode": {
        "type": "object",
        "example": {
          "vehicle": {
            "keys": 2
          }
        },
        "properties": {
          "array": {
            "type": "boolean"
          },
          "empty": {
            "type": "boolean"
          },
          "null": {
            "type": "boolean"
          },
          "float": {
            "type": "boolean"
          },
          "nodeType": {
            "type": "string",
            "enum": [
              "ARRAY",
              "BINARY",
              "BOOLEAN",
              "MISSING",
              "NULL",
              "NUMBER",
              "OBJECT",
              "POJO",
              "STRING"
            ]
          },
          "boolean": {
            "type": "boolean"
          },
          "double": {
            "type": "boolean"
          },
          "number": {
            "type": "boolean"
          },
          "short": {
            "type": "boolean"
          },
          "string": {
            "type": "boolean"
          },
          "valueNode": {
            "type": "boolean"
          },
          "container": {
            "type": "boolean"
          },
          "missingNode": {
            "type": "boolean"
          },
          "object": {
            "type": "boolean"
          },
          "bigDecimal": {
            "type": "boolean"
          },
          "bigInteger": {
            "type": "boolean"
          },
          "textual": {
            "type": "boolean",
            "deprecated": true
          },
          "binary": {
            "type": "boolean"
          },
          "int": {
            "type": "boolean"
          },
          "long": {
            "type": "boolean"
          },
          "pojo": {
            "type": "boolean"
          },
          "integralNumber": {
            "type": "boolean"
          },
          "floatingPointNumber": {
            "type": "boolean"
          },
          "embeddedValue": {
            "type": "boolean"
          }
        }
      },
      "dealerauction.common.controller.VehicleDocumentationController.SecureDocumentsResponse": {
        "type": "object",
        "properties": {
          "documents": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/dealerauction.common.service.model.SecureDocument"
            }
          }
        }
      },
      "dealerauction.common.service.model.SecureDocument": {
        "type": "object",
        "properties": {
          "category": {
            "type": "string",
            "description": "The type of document. Currently we only accept the V5 certificate",
            "enum": [
              "V5"
            ]
          },
          "publicUploadUrl": {
            "type": "string",
            "description": "A public url that can be used by the seller to upload documentation",
            "example": "https://www.example.com/document-id"
          },
          "uploaded": {
            "type": "boolean"
          }
        }
      },
      "dealerauction.common.controller.model.StockSearchResponse": {
        "type": "object",
        "properties": {
          "stockItems": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/dealerauction.common.controller.model.StockSearchResponse.SearchItem"
            }
          },
          "paginator": {
            "$ref": "#/components/schemas/dealerauction.common.controller.model.StockSearchResponse.Paginator"
          }
        }
      },
      "dealerauction.common.controller.model.StockSearchResponse.Paginator": {
        "type": "object",
        "properties": {
          "currentPage": {
            "type": "integer",
            "format": "int32",
            "example": 1
          },
          "resultsPerPage": {
            "type": "integer",
            "format": "int32",
            "example": 10
          },
          "totalResults": {
            "type": "integer",
            "format": "int32",
            "example": 23
          },
          "lastPage": {
            "type": "integer",
            "format": "int32",
            "example": 3
          }
        }
      },
      "dealerauction.common.controller.model.StockSearchResponse.SearchItem": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "example": "a10ab562-c0cd-4072-88eb-4115811f5aa1"
          },
          "publicReference": {
            "type": "string",
            "description": "Forms part of the url for the advert",
            "example": 202304198054016
          },
          "customerId": {
            "type": "string",
            "description": "Our customer ID that has been assigned to you. \nDepending on account setup, you may have multiple customer account IDs assigned to you.",
            "example": 123456
          },
          "lifecycleState": {
            "type": "string",
            "description": "The status of the vehicle",
            "enum": [
              "FORECOURT",
              "SALE_IN_PROGRESS",
              "SOLD",
              "WASTEBIN",
              "DELETED"
            ]
          },
          "externalStockId": {
            "type": "string",
            "description": "A vehicle identifier in the calling system"
          },
          "externalVendorId": {
            "type": "string",
            "description": "A seller identifier in the calling system"
          },
          "vrm": {
            "type": "string",
            "example": "AB17ABC"
          },
          "vin": {
            "type": "string",
            "example": "AAAAA81KLJU982170"
          },
          "createDate": {
            "type": "string",
            "format": "date-time",
            "example": "2023-04-19T11:07:18.883Z"
          },
          "availableUntil": {
            "type": "string",
            "format": "date-time",
            "description": "We will not attempt to sell the vehicle past this point in time. If an availableUntil is specified, auction time must end before or at this point. Any ongoing negotiations for provisional vehicles will also be abandoned past this point."
          },
          "advert": {
            "$ref": "#/components/schemas/dealerauction.common.controller.model.StockSearchResponse.SearchItem.Advert"
          }
        }
      },
      "dealerauction.common.controller.model.StockSearchResponse.SearchItem.Advert": {
        "type": "object",
        "properties": {
          "state": {
            "type": "string",
            "enum": [
              "ACTIVE",
              "INACTIVE"
            ]
          },
          "auction": {
            "$ref": "#/components/schemas/dealerauction.common.controller.model.StockSearchResponse.SearchItem.Auction"
          }
        }
      },
      "dealerauction.common.controller.model.StockSearchResponse.SearchItem.Auction": {
        "type": "object",
        "properties": {
          "type": {
            "type": "string",
            "enum": [
              "BID",
              "BUY_NOW",
              "SEALED_BID",
              "PHYSICAL"
            ]
          },
          "startDate": {
            "type": "string",
            "format": "date-time",
            "description": "The date and time that you would like the auction to start",
            "example": "2023-04-19T11:07:18.883Z"
          },
          "endDate": {
            "type": "string",
            "format": "date-time",
            "description": "The date and time that you would like the auction to end",
            "example": "2023-04-21T11:07:18.883Z"
          }
        }
      }
    },
    "securitySchemes": {
      "Basic": {
        "type": "http",
        "scheme": "basic"
      }
    }
  },
  "tags": [
    {
      "name": "listing-controller"
    },
    {
      "name": "stock-controller"
    },
    {
      "name": "testing-controller"
    },
    {
      "name": "vehicle-documentation-controller"
    }
  ]
}
