{
  "openapi": "3.0.3",
  "info": {
    "title": "Gli_quote_creation_apis",
    "version": "1.0.0",
    "contact": {},
    "x-jentic-source-url": "https://api.swaggerhub.com/apis/genisys-e4c/gli_quote_creation_apis/1.0.0"
  },
  "servers": [
    {
      "url": "https://devquotes.glipoolproducts.com"
    }
  ],
  "paths": {
    "/api/v1.php": {
      "post": {
        "summary": "quote_create_rectangle",
        "description": "# Rectangle Pool Cover Quote Creation\n\n## Overview\n\nThis endpoint creates a new pool cover quote for a **rectangle-shaped pool**. It processes comprehensive pool specifications, measurements, features, options, and shipping details to generate a complete quote in the GLI Pool Products system.\n\n## Endpoint Details\n\n- **Method**: `POST`\n    \n- **URL**: `https://devquotes.glipoolproducts.com/api/v1.php`\n    \n- **Content-Type**: `application/json`\n    \n\n## Request Body Structure\n\nThe request body is organized into six main attribute sections:\n\n### 1\\. **addAttributes**\n\nCore quote configuration and business logic parameters.\n\n**Key Parameters**:\n\n- `pricing_id` (30): Pricing tier identifier\n    \n- `store_id` (7953): Store location identifier\n    \n- `warehouse_id` (7954): Warehouse for fulfillment\n    \n- `type_id` (10): Product type identifier\n    \n- `customer_id`, `dealer_id`, `distributor_id`, `seller_id`: Business relationship identifiers\n    \n- `status_id` (10): Quote status\n    \n- `warranty_id` (1): Warranty plan selection\n    \n- `shape` (\"Rectangle\"): Pool shape - must be \"Rectangle\" for this endpoint\n    \n- `romanends` (1): Roman end configuration\n    \n- `deck`, `deck2`, `deck3`, `deck4`: Deck surface types (Brick/Pavers, Concrete, etc.)\n    \n- `deckpercent`, `deck2percent`, `deck3percent`: Percentage distribution of deck types\n    \n- `copingtype` (\"Brick-Smooth\"): Coping material and finish\n    \n- `dealer_reference`: Reference identifier for tracking\n    \n- `autoanchors` (\"Y\"): Automatic anchor calculation flag\n    \n\n### 2\\. **measurmentAttributes**\n\nPhysical dimensions and measurements of the pool.\n\n**Key Parameters**:\n\n- `a` (13): Primary dimension (length in feet)\n    \n- `b` (13): Secondary dimension (width in feet)\n    \n- `c_same` (\"U\"): Indicates if dimension C matches others\n    \n- `c1_type` (\"Rectangle\"): Confirms rectangle shape\n    \n- `c1_size` (1): Size classification\n    \n\n### 3\\. **featuresAttributes**\n\nSpecial features and custom requirements.\n\n**Key Parameters**:\n\n- `comments`: Additional notes or special instructions\n    \n- `feature_1_type` (\"None\"): Primary feature type (stairs, steps, etc.)\n    \n\n### 4\\. **optionsAttributes**\n\nProduct options, accessories, and customizations.\n\n**Key Parameters**:\n\n- `hdextra`: Heavy-duty extras quantity\n    \n- `extendedstraptailquantity`, `extendedstraptaillength`: Extended strap specifications\n    \n- `extensionstrapquantity`, `extensionstraplength`: Extension strap details\n    \n- `installrod`: Installation rod quantity\n    \n- `sag_anchor_type` (2): Type of sag anchor system\n    \n- `wallanchors_6inch`, `wallanchors_stainless`, `wallanchors_stainlesskits`: Wall anchor options\n    \n- `woodanchors`, `brassanchors`: Anchor material options\n    \n- `paddingtype` (\"Auto\"): Padding calculation method\n    \n- `standardsprings` (1): Standard spring quantity\n    \n- `buckles`, `anchorcollars`: Hardware quantities\n    \n- `rdm_quantity` (1): RDM (Roll Down Mechanism) quantity\n    \n- `cablequantity`: Cable accessories\n    \n- Various option flags (`option1` through `option17`): Boolean/status flags for additional features\n    \n\n### 5\\. **shippingAttributes**\n\nOrder processing, shipping, and financial details.\n\n**Key Parameters**:\n\n- `remake`: Remake reference identifier\n    \n- `template_number`: Template reference\n    \n- `filler_id` (\"1\"): Filler material identifier\n    \n- `subtotal`, `total`, `paid`: Financial amounts\n    \n- `discount_rate`, `discount_amount`, `discount_description`: Discount details\n    \n- `coupon_\\*`: Coupon-related fields\n    \n- `tax_rate`, `tax_amount`, `tax_description`: Tax information\n    \n- `shipping_\\*`: Shipping cost, weight, service details\n    \n- `fee_amount`, `fee_description`: Additional fees\n    \n- `created_stamp`: Quote creation timestamp\n    \n- `third_name`, `third_address`, `third_city`, `third_state`, `third_zip`, `third_country_id`: Third-party shipping address\n    \n- `note`: Order notes\n    \n- `corners`, `cornertype`: Corner specifications\n    \n- `corner_grecian_\\*`, `corner_radius_\\*`, `corner_diagonal_\\*`: Corner detail parameters\n    \n- `length`, `width`: Overall dimensions\n    \n- `material_product_id`: Material selection\n    \n- `inwallstep`, `extension`, `ladders`, `obstacles`, `deckrest`: Pool feature flags\n    \n- Dimension parameters (`a`, `a2`, `b`, `b2`, `b3`, `c`, `d`, `e`, `e2`, `f`, `g`, `h`, `i`, `j`, `k`, `l`, `m`): Detailed measurements\n    \n- `raisedwall`, `raisedwalllength`: Raised wall specifications\n    \n- `overlap_adjustment`, `grommet_adjustment`: Fitting adjustments\n    \n- `wedges`, `eyebolts`, `wallanchors`, `ystraps`, `buckles`, `upandovers`: Hardware quantities\n    \n\n### 6\\. **checksAttributes**\n\nValidation and verification parameters.\n\n**Key Parameters**:\n\n- `check_a` (13), `check_b` (13): Dimension verification values\n    \n- `check_c_same` (\"Y\"): Dimension consistency check\n    \n- `check_tab` (\"Y\"): Tab validation flag\n    \n- `check1_id` (101): Check identifier\n    \n- `check1value`, `check10value`: Validation flags\n    \n\n## Expected Response\n\nThe API will return a response containing:\n\n- Quote ID for the newly created rectangle pool cover quote\n    \n- Confirmation of quote creation\n    \n- Any validation errors or warnings\n    \n- Calculated pricing based on provided specifications\n    \n\n## Important Notes\n\n1. **Shape Consistency**: Ensure `shape` in `addAttributes` and `c1_type` in `measurmentAttributes` are both set to \"Rectangle\"\n    \n2. **Measurement Units**: All dimensions are typically in feet\n    \n3. **Required Fields**: Ensure all business identifiers (store_id, warehouse_id, customer_id, etc.) are valid and active in the system\n    \n4. **Timestamp Format**: Use format \"YYYY-MM-DD HH:MM:SS\" for timestamp fields\n    \n5. **Boolean Values**: Use \"Y\"/\"N\" for yes/no flags, or \"U\" for undefined/unknown states\n    \n6. **Decimal Precision**: Financial amounts should use appropriate decimal precision (typically 2 decimal places)\n    \n7. **Reference Tracking**: Use `dealer_reference` and `remake` fields for internal tracking and quote identification\n    \n\n## Usage Example\n\nThis endpoint is typically called when a dealer or sales representative needs to generate a quote for a customer with a rectangle-shaped pool. All measurements, options, and shipping details should be collected before making the API call to ensure accurate quote generation.",
        "operationId": "quoteCreateRectangle",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "addAttributes": {
                    "type": "object",
                    "properties": {
                      "3by3spacing": {
                        "type": "number",
                        "example": 3
                      },
                      "abmypool": {
                        "type": "string",
                        "example": ""
                      },
                      "abmypool_stamp": {
                        "type": "string",
                        "example": ""
                      },
                      "abpool": {
                        "type": "string",
                        "example": "N"
                      },
                      "abpool_stamp": {
                        "type": "string",
                        "example": ""
                      },
                      "autoanchors": {
                        "type": "string",
                        "example": "Y"
                      },
                      "check2value": {
                        "type": "number",
                        "example": 0
                      },
                      "check3value": {
                        "type": "string",
                        "example": "N"
                      },
                      "check4value": {
                        "type": "number",
                        "example": 0
                      },
                      "check5value": {
                        "type": "number",
                        "example": 0
                      },
                      "check6value": {
                        "type": "string",
                        "example": "N"
                      },
                      "check7value": {
                        "type": "string",
                        "example": "N"
                      },
                      "check9value": {
                        "type": "string",
                        "example": "U"
                      },
                      "copingtype": {
                        "type": "string",
                        "example": "Brick-Smooth"
                      },
                      "crossmeasurements": {
                        "type": "string",
                        "example": ""
                      },
                      "customer_id": {
                        "type": "number",
                        "example": 3513
                      },
                      "dealer_id": {
                        "type": "number",
                        "example": 3513
                      },
                      "dealer_reference": {
                        "type": "string",
                        "example": "api_test_jewel"
                      },
                      "dealer_reference_phone": {
                        "type": "string",
                        "example": ""
                      },
                      "dealer_send_email": {
                        "type": "string",
                        "example": "N"
                      },
                      "deck": {
                        "type": "string",
                        "example": "Brick/Pavers"
                      },
                      "deck2": {
                        "type": "string",
                        "example": "Brick/Pavers"
                      },
                      "deck2percent": {
                        "type": "number",
                        "example": 1
                      },
                      "deck3": {
                        "type": "string",
                        "example": "Concrete"
                      },
                      "deck3percent": {
                        "type": "number",
                        "example": 2
                      },
                      "deck4": {
                        "type": "string",
                        "example": ""
                      },
                      "deck4percent": {
                        "type": "string",
                        "example": ""
                      },
                      "deckmeasurement": {
                        "type": "string",
                        "example": "N"
                      },
                      "deckpercent": {
                        "type": "number",
                        "example": 2
                      },
                      "distrib_send_email": {
                        "type": "string",
                        "example": "N"
                      },
                      "distributor_id": {
                        "type": "number",
                        "example": 12055
                      },
                      "level_id": {
                        "type": "number",
                        "example": 200
                      },
                      "list": {
                        "type": "string",
                        "example": "Y"
                      },
                      "option4": {
                        "type": "string",
                        "example": "N"
                      },
                      "option9": {
                        "type": "string",
                        "example": "N"
                      },
                      "ovalends": {
                        "type": "number",
                        "example": 1
                      },
                      "paddingpercent": {
                        "type": "number",
                        "example": 0
                      },
                      "pricing_id": {
                        "type": "number",
                        "example": 30
                      },
                      "ra": {
                        "type": "string",
                        "example": "api_test_quote"
                      },
                      "remake": {
                        "type": "string",
                        "example": "api_test_quote"
                      },
                      "romanends": {
                        "type": "number",
                        "example": 1
                      },
                      "seller_id": {
                        "type": "number",
                        "example": 25226
                      },
                      "service_phone": {
                        "type": "string",
                        "example": ""
                      },
                      "shape": {
                        "type": "string",
                        "example": "Jewel"
                      },
                      "signoff_stamp": {
                        "type": "string",
                        "example": ""
                      },
                      "sketch": {
                        "type": "string",
                        "example": ""
                      },
                      "source": {
                        "type": "number",
                        "example": 1
                      },
                      "source_stamp": {
                        "type": "string",
                        "example": "2025-10-21 08:12:32"
                      },
                      "status_id": {
                        "type": "number",
                        "example": 10
                      },
                      "store_id": {
                        "type": "number",
                        "example": 7953
                      },
                      "type_id": {
                        "type": "number",
                        "example": 10
                      },
                      "warehouse_id": {
                        "type": "number",
                        "example": 7954
                      },
                      "warranty_id": {
                        "type": "number",
                        "example": 1
                      }
                    }
                  },
                  "checksAttributes": {
                    "type": "object",
                    "properties": {
                      "check10value": {
                        "type": "string",
                        "example": "N"
                      },
                      "check1_id": {
                        "type": "number",
                        "example": 101
                      },
                      "check1value": {
                        "type": "string",
                        "example": "N"
                      },
                      "check_a": {
                        "type": "number",
                        "example": 13
                      },
                      "check_c_same": {
                        "type": "string",
                        "example": "Y"
                      }
                    }
                  },
                  "featuresAttributes": {
                    "type": "object",
                    "properties": {
                      "comments": {
                        "type": "string",
                        "example": "api_test"
                      },
                      "feature_1_type": {
                        "type": "string",
                        "example": "None"
                      }
                    }
                  },
                  "measurmentAttributes": {
                    "type": "object",
                    "properties": {
                      "a": {
                        "type": "number",
                        "example": 13
                      },
                      "b": {
                        "type": "number",
                        "example": 13
                      },
                      "c1_cut": {
                        "type": "string",
                        "example": "Y"
                      },
                      "c1_size": {
                        "type": "number",
                        "example": 1
                      },
                      "c1_type": {
                        "type": "string",
                        "example": "Jewel"
                      },
                      "c2_cut": {
                        "type": "string",
                        "example": "Y"
                      },
                      "c2_size": {
                        "type": "number",
                        "example": 1
                      },
                      "c2_type": {
                        "type": "string",
                        "example": "Jewel"
                      },
                      "c3_cut": {
                        "type": "string",
                        "example": "Y"
                      },
                      "c3_size": {
                        "type": "number",
                        "example": 1
                      },
                      "c3_type": {
                        "type": "string",
                        "example": "Jewel"
                      },
                      "c4_cut": {
                        "type": "string",
                        "example": "Y"
                      },
                      "c4_size": {
                        "type": "number",
                        "example": 1
                      },
                      "c4_type": {
                        "type": "string",
                        "example": "Jewel"
                      },
                      "c5_cut": {
                        "type": "string",
                        "example": "Y"
                      },
                      "c5_size": {
                        "type": "number",
                        "example": 1
                      },
                      "c5_type": {
                        "type": "string",
                        "example": "Jewel"
                      },
                      "c6_cut": {
                        "type": "string",
                        "example": "Y"
                      },
                      "c6_size": {
                        "type": "number",
                        "example": 1
                      },
                      "c6_type": {
                        "type": "string",
                        "example": "Jewel"
                      },
                      "c7_cut": {
                        "type": "string",
                        "example": "Y"
                      },
                      "c7_size": {
                        "type": "number",
                        "example": 1
                      },
                      "c7_type": {
                        "type": "string",
                        "example": "Jewel"
                      },
                      "c8_cut": {
                        "type": "string",
                        "example": "Y"
                      },
                      "c8_size": {
                        "type": "number",
                        "example": 1
                      },
                      "c8_type": {
                        "type": "string",
                        "example": "Jewel"
                      },
                      "c_same": {
                        "type": "string",
                        "example": "Y"
                      },
                      "d": {
                        "type": "number",
                        "example": 12
                      },
                      "e": {
                        "type": "number",
                        "example": 12
                      }
                    }
                  },
                  "optionsAttributes": {
                    "type": "object",
                    "properties": {
                      "anchorcollars": {
                        "type": "number",
                        "example": 0
                      },
                      "anchorcollars_auto": {
                        "type": "string",
                        "example": "N"
                      },
                      "anchorupgrade": {
                        "type": "string",
                        "example": "N"
                      },
                      "brassanchor": {
                        "type": "number",
                        "example": 0
                      },
                      "brassanchors": {
                        "type": "number",
                        "example": 0
                      },
                      "buckles": {
                        "type": "number",
                        "example": 0
                      },
                      "cablequantity": {
                        "type": "number",
                        "example": 0
                      },
                      "extendedstraptaillength": {
                        "type": "number",
                        "example": 0
                      },
                      "extendedstraptailquantity": {
                        "type": "number",
                        "example": 0
                      },
                      "extensionstraplength": {
                        "type": "number",
                        "example": 0
                      },
                      "extensionstrapquantity": {
                        "type": "number",
                        "example": 0
                      },
                      "hdextra": {
                        "type": "number",
                        "example": 0
                      },
                      "installrod": {
                        "type": "number",
                        "example": 0
                      },
                      "option1": {
                        "type": "string",
                        "example": "U"
                      },
                      "option10": {
                        "type": "string",
                        "example": "Y"
                      },
                      "option11": {
                        "type": "string",
                        "example": "N"
                      },
                      "option12": {
                        "type": "string",
                        "example": "N"
                      },
                      "option13": {
                        "type": "string",
                        "example": "Y"
                      },
                      "option14": {
                        "type": "string",
                        "example": "N"
                      },
                      "option15": {
                        "type": "string",
                        "example": "N"
                      },
                      "option16": {
                        "type": "string",
                        "example": "N"
                      },
                      "option17": {
                        "type": "string",
                        "example": "N"
                      },
                      "option2": {
                        "type": "string",
                        "example": "N"
                      },
                      "option3": {
                        "type": "string",
                        "example": "N"
                      },
                      "option5": {
                        "type": "string",
                        "example": "N"
                      },
                      "option6": {
                        "type": "string",
                        "example": "N"
                      },
                      "option7": {
                        "type": "string",
                        "example": "U"
                      },
                      "paddingtype": {
                        "type": "string",
                        "example": "Auto"
                      },
                      "pavers": {
                        "type": "number",
                        "example": 0
                      },
                      "pulltitespringprotectors": {
                        "type": "number",
                        "example": 0
                      },
                      "rdm_quantity": {
                        "type": "number",
                        "example": 1
                      },
                      "rdm_sqft": {
                        "type": "number",
                        "example": 0
                      },
                      "sag_anchor_type": {
                        "type": "number",
                        "example": 2
                      },
                      "specialpadding": {
                        "type": "number",
                        "example": 0
                      },
                      "standardsprings": {
                        "type": "number",
                        "example": 1
                      },
                      "stdspringprotector": {
                        "type": "number",
                        "example": 0
                      },
                      "strapholddown": {
                        "type": "number",
                        "example": 0
                      },
                      "wallanchors_6inch": {
                        "type": "number",
                        "example": 0
                      },
                      "wallanchors_stainless": {
                        "type": "number",
                        "example": 0
                      },
                      "wallanchors_stainlesskits": {
                        "type": "number",
                        "example": 0
                      },
                      "woodanchors": {
                        "type": "number",
                        "example": 0
                      }
                    }
                  },
                  "shippingAttributes": {
                    "type": "object",
                    "properties": {
                      "a": {
                        "type": "string",
                        "example": "13.000"
                      },
                      "a2": {
                        "type": "string",
                        "example": "0.00"
                      },
                      "ab_count": {
                        "type": "string",
                        "example": "0"
                      },
                      "ab_distance": {
                        "type": "string",
                        "example": "0"
                      },
                      "ab_offset_x": {
                        "type": "string",
                        "example": "0"
                      },
                      "ab_offset_y": {
                        "type": "string",
                        "example": "0"
                      },
                      "ab_rotate": {
                        "type": "string",
                        "example": "0.0000"
                      },
                      "anchor_adjustment": {
                        "type": "string",
                        "example": "0"
                      },
                      "b": {
                        "type": "string",
                        "example": "13.000"
                      },
                      "b2": {
                        "type": "string",
                        "example": "0.00"
                      },
                      "b3": {
                        "type": "string",
                        "example": "0.00"
                      },
                      "backordered_stamp": {
                        "type": "string",
                        "example": ""
                      },
                      "buckles": {
                        "type": "string",
                        "example": "0"
                      },
                      "c": {
                        "type": "string",
                        "example": "0.000"
                      },
                      "cablekits": {
                        "type": "string",
                        "example": "0"
                      },
                      "charged_stamp": {
                        "type": "string",
                        "example": ""
                      },
                      "check1_id": {
                        "type": "string",
                        "example": "101"
                      },
                      "check2_id": {
                        "type": "string",
                        "example": "102"
                      },
                      "check3_id": {
                        "type": "string",
                        "example": "103"
                      },
                      "check4_id": {
                        "type": "string",
                        "example": "104"
                      },
                      "check5_id": {
                        "type": "string",
                        "example": "105"
                      },
                      "check6_id": {
                        "type": "string",
                        "example": "106"
                      },
                      "check7_id": {
                        "type": "string",
                        "example": "107"
                      },
                      "check9_id": {
                        "type": "string",
                        "example": "109"
                      },
                      "commercialpads": {
                        "type": "string",
                        "example": "0"
                      },
                      "completed_stamp": {
                        "type": "string",
                        "example": ""
                      },
                      "corner_diagonal_quantity": {
                        "type": "string",
                        "example": "0"
                      },
                      "corner_diagonal_size": {
                        "type": "string",
                        "example": "0"
                      },
                      "corner_grecian_quantity": {
                        "type": "string",
                        "example": "4"
                      },
                      "corner_grecian_size": {
                        "type": "string",
                        "example": "0"
                      },
                      "corner_radius_quantity": {
                        "type": "string",
                        "example": "0"
                      },
                      "corner_radius_size": {
                        "type": "string",
                        "example": "0"
                      },
                      "corners": {
                        "type": "string",
                        "example": ""
                      },
                      "cornertype": {
                        "type": "string",
                        "example": ""
                      },
                      "coupon_amount": {
                        "type": "string",
                        "example": "0.00"
                      },
                      "coupon_code": {
                        "type": "string",
                        "example": ""
                      },
                      "coupon_description": {
                        "type": "string",
                        "example": ""
                      },
                      "coupon_dollars": {
                        "type": "string",
                        "example": "0.00"
                      },
                      "coupon_id": {
                        "type": "string",
                        "example": "0"
                      },
                      "coupon_max_uses": {
                        "type": "string",
                        "example": "1"
                      },
                      "coupon_minimum": {
                        "type": "string",
                        "example": "0.00"
                      },
                      "coupon_rate": {
                        "type": "string",
                        "example": "0.0000"
                      },
                      "created_stamp": {
                        "type": "string",
                        "example": "2025-11-06 08:18:00"
                      },
                      "d": {
                        "type": "string",
                        "example": "12.000"
                      },
                      "dealer_po_amount": {
                        "type": "string",
                        "example": "345.90"
                      },
                      "dealer_po_number": {
                        "type": "string",
                        "example": "789"
                      },
                      "deck1_re": {
                        "type": "string",
                        "example": "0"
                      },
                      "deck2_re": {
                        "type": "string",
                        "example": "0"
                      },
                      "deckrest": {
                        "type": "string",
                        "example": ""
                      },
                      "discount_amount": {
                        "type": "string",
                        "example": "0.00"
                      },
                      "discount_description": {
                        "type": "string",
                        "example": ""
                      },
                      "discount_rate": {
                        "type": "string",
                        "example": "0.0000"
                      },
                      "drings": {
                        "type": "string",
                        "example": "0"
                      },
                      "e": {
                        "type": "string",
                        "example": "12.000"
                      },
                      "e2": {
                        "type": "string",
                        "example": "0.000"
                      },
                      "eta_stamp": {
                        "type": "string",
                        "example": "1"
                      },
                      "extendedstraptaillength": {
                        "type": "string",
                        "example": "0"
                      },
                      "extendedstraptailquantity": {
                        "type": "string",
                        "example": "0"
                      },
                      "extension": {
                        "type": "string",
                        "example": ""
                      },
                      "extension2": {
                        "type": "string",
                        "example": "N"
                      },
                      "extensionstraplength": {
                        "type": "string",
                        "example": "0"
                      },
                      "extensionstrapquantity": {
                        "type": "string",
                        "example": "0"
                      },
                      "extrapads": {
                        "type": "string",
                        "example": "0"
                      },
                      "eyebolts": {
                        "type": "string",
                        "example": "0"
                      },
                      "f": {
                        "type": "string",
                        "example": "0.000"
                      },
                      "fee_amount": {
                        "type": "string",
                        "example": "0.00"
                      },
                      "fee_description": {
                        "type": "string",
                        "example": ""
                      },
                      "filled_stamp": {
                        "type": "string",
                        "example": ""
                      },
                      "filler_id": {
                        "type": "string",
                        "example": "1"
                      },
                      "g": {
                        "type": "string",
                        "example": "0.000"
                      },
                      "grecianends": {
                        "type": "string",
                        "example": ""
                      },
                      "grommet_adjustment": {
                        "type": "string",
                        "example": "0"
                      },
                      "h": {
                        "type": "string",
                        "example": "0.000"
                      },
                      "height1": {
                        "type": "string",
                        "example": "0.00"
                      },
                      "height2": {
                        "type": "string",
                        "example": "0.00"
                      },
                      "ht_reason": {
                        "type": "string",
                        "example": "Not HT due to Additional Single Hardware:SAF-839275-25-WQ"
                      },
                      "ht_stamp": {
                        "type": "string",
                        "example": "2025-10-21 08:37:10"
                      },
                      "i": {
                        "type": "string",
                        "example": "0.000"
                      },
                      "inwallstep": {
                        "type": "string",
                        "example": ""
                      },
                      "inwallstep2": {
                        "type": "string",
                        "example": "N"
                      },
                      "j": {
                        "type": "string",
                        "example": "0.000"
                      },
                      "k": {
                        "type": "string",
                        "example": "0.000"
                      },
                      "l": {
                        "type": "string",
                        "example": "1.000"
                      },
                      "ladders": {
                        "type": "string",
                        "example": ""
                      },
                      "lawntubes": {
                        "type": "string",
                        "example": "0"
                      },
                      "length": {
                        "type": "string",
                        "example": ""
                      },
                      "m": {
                        "type": "string",
                        "example": "1.000"
                      },
                      "material_product_id": {
                        "type": "string",
                        "example": "0"
                      },
                      "note": {
                        "type": "string",
                        "example": ""
                      },
                      "obstacles": {
                        "type": "string",
                        "example": ""
                      },
                      "original_id": {
                        "type": "string",
                        "example": "0"
                      },
                      "overlap_adjustment": {
                        "type": "string",
                        "example": "1"
                      },
                      "paid": {
                        "type": "string",
                        "example": "0.00"
                      },
                      "paid_order_id": {
                        "type": "string",
                        "example": ""
                      },
                      "paid_reference": {
                        "type": "string",
                        "example": ""
                      },
                      "partial_fill": {
                        "type": "string",
                        "example": "N"
                      },
                      "pattern_series_id": {
                        "type": "string",
                        "example": "0"
                      },
                      "po_amount": {
                        "type": "string",
                        "example": "4567.90"
                      },
                      "po_number": {
                        "type": "string",
                        "example": "78"
                      },
                      "raisedwall": {
                        "type": "string",
                        "example": "N"
                      },
                      "raisedwalllength": {
                        "type": "string",
                        "example": "0"
                      },
                      "rdm_quantity": {
                        "type": "string",
                        "example": "1"
                      },
                      "recommendedby": {
                        "type": "string",
                        "example": ""
                      },
                      "reference2": {
                        "type": "string",
                        "example": ""
                      },
                      "reference3": {
                        "type": "string",
                        "example": ""
                      },
                      "remake": {
                        "type": "string",
                        "example": "api_test"
                      },
                      "sag_anchor_type": {
                        "type": "string",
                        "example": "2"
                      },
                      "searchterms": {
                        "type": "string",
                        "example": ""
                      },
                      "ship_address": {
                        "type": "string",
                        "example": "bangalore"
                      },
                      "ship_address2": {
                        "type": "string",
                        "example": "bangalore2"
                      },
                      "ship_carrier": {
                        "type": "string",
                        "example": "Unknown"
                      },
                      "ship_city": {
                        "type": "string",
                        "example": "bangalore"
                      },
                      "ship_country_id": {
                        "type": "string",
                        "example": "1"
                      },
                      "ship_email": {
                        "type": "string",
                        "example": "rajesh@gmail.com"
                      },
                      "ship_phone": {
                        "type": "string",
                        "example": "9876543210"
                      },
                      "ship_state": {
                        "type": "string",
                        "example": "karnataka"
                      },
                      "ship_to": {
                        "type": "string",
                        "example": "Unknown"
                      },
                      "ship_zip": {
                        "type": "string",
                        "example": "560038"
                      },
                      "shipped_stamp": {
                        "type": "string",
                        "example": ""
                      },
                      "shipper_id": {
                        "type": "string",
                        "example": ""
                      },
                      "shipping_amount": {
                        "type": "string",
                        "example": "0.00"
                      },
                      "shipping_cost": {
                        "type": "string",
                        "example": "0.00"
                      },
                      "shipping_description": {
                        "type": "string",
                        "example": ""
                      },
                      "shipping_reference": {
                        "type": "string",
                        "example": ""
                      },
                      "shipping_service_id": {
                        "type": "string",
                        "example": "0"
                      },
                      "shipping_shipment": {
                        "type": "string",
                        "example": "1"
                      },
                      "shipping_taxable": {
                        "type": "string",
                        "example": "N"
                      },
                      "shipping_weight": {
                        "type": "string",
                        "example": "0.00"
                      },
                      "shortsprings": {
                        "type": "string",
                        "example": "N"
                      },
                      "shortspringsquantity": {
                        "type": "string",
                        "example": "0"
                      },
                      "snaphooks": {
                        "type": "string",
                        "example": "0"
                      },
                      "spa": {
                        "type": "string",
                        "example": ""
                      },
                      "spapads": {
                        "type": "string",
                        "example": "0"
                      },
                      "strapholddown": {
                        "type": "string",
                        "example": "0"
                      },
                      "submitted_stamp": {
                        "type": "string",
                        "example": ""
                      },
                      "subtotal": {
                        "type": "string",
                        "example": "0.00"
                      },
                      "tax_amount": {
                        "type": "string",
                        "example": "0.00"
                      },
                      "tax_description": {
                        "type": "string",
                        "example": ""
                      },
                      "tax_id": {
                        "type": "string",
                        "example": "0"
                      },
                      "tax_rate": {
                        "type": "string",
                        "example": "0.00"
                      },
                      "template_number": {
                        "type": "string",
                        "example": ""
                      },
                      "third_address": {
                        "type": "string",
                        "example": ""
                      },
                      "third_city": {
                        "type": "string",
                        "example": ""
                      },
                      "third_country_id": {
                        "type": "string",
                        "example": "1"
                      },
                      "third_name": {
                        "type": "string",
                        "example": "api_test"
                      },
                      "third_state": {
                        "type": "string",
                        "example": ""
                      },
                      "third_zip": {
                        "type": "string",
                        "example": ""
                      },
                      "total": {
                        "type": "string",
                        "example": "0.00"
                      },
                      "upandovers": {
                        "type": "string",
                        "example": "0"
                      },
                      "wallanchors": {
                        "type": "string",
                        "example": "0"
                      },
                      "wallanchors_6inch": {
                        "type": "string",
                        "example": "0"
                      },
                      "wallanchors_stainless": {
                        "type": "string",
                        "example": "0"
                      },
                      "wallanchors_stainlesskits": {
                        "type": "string",
                        "example": "0"
                      },
                      "wallmountkitquantity": {
                        "type": "string",
                        "example": "0"
                      },
                      "wedges": {
                        "type": "string",
                        "example": "0"
                      },
                      "width": {
                        "type": "string",
                        "example": ""
                      },
                      "woodanchors": {
                        "type": "string",
                        "example": "0"
                      },
                      "ystraps": {
                        "type": "string",
                        "example": "0"
                      }
                    }
                  }
                }
              },
              "examples": {
                "quote_create_freeform": {
                  "value": {
                    "addAttributes": {
                      "3by3spacing": 3,
                      "abmypool": "",
                      "abmypool_stamp": "",
                      "abpool": "N",
                      "abpool_stamp": "",
                      "autoanchors": "Y",
                      "check2value": 0,
                      "check3value": "N",
                      "check4value": 0,
                      "check5value": 0,
                      "check6value": "N",
                      "check7value": "N",
                      "check9value": "U",
                      "copingtype": "Brick-Smooth",
                      "crossmeasurements": "",
                      "customer_id": 8283,
                      "dealer_id": 8283,
                      "dealer_reference": "api_test_freeform",
                      "dealer_reference_phone": "",
                      "dealer_send_email": "N",
                      "deck": "Brick/Pavers",
                      "deck2": "Brick/Pavers",
                      "deck2percent": 1,
                      "deck3": "Concrete",
                      "deck3percent": 2,
                      "deck4": "",
                      "deck4percent": "",
                      "deckmeasurement": "N",
                      "deckpercent": 2,
                      "distrib_send_email": "N",
                      "distributor_id": 12055,
                      "level_id": 200,
                      "list": "Y",
                      "option4": "N",
                      "option9": "N",
                      "ovalends": 1,
                      "paddingpercent": 0,
                      "pricing_id": 30,
                      "ra": "api_test_quote",
                      "remake": "api_test_quote",
                      "romanends": 1,
                      "seller_id": 25226,
                      "service_phone": "",
                      "shape": "Freeform",
                      "signoff_stamp": "",
                      "sketch": "",
                      "source": 1,
                      "source_stamp": "2025-10-21 08:12:32",
                      "status_id": 10,
                      "store_id": 7953,
                      "type_id": 10,
                      "warehouse_id": 7954,
                      "warranty_id": 1
                    },
                    "checksAttributes": {
                      "check10value": "N",
                      "check1_id": 101,
                      "check1value": "N",
                      "check_a": 13,
                      "check_b": 13,
                      "check_c_same": "Y"
                    },
                    "featuresAttributes": {
                      "comments": "api_test",
                      "feature_1_type": "None"
                    },
                    "measurmentAttributes": {
                      "a": 13,
                      "b": 13,
                      "c1_size": 1,
                      "c1_type": "Freeform",
                      "corner_grecian_quantity": 0,
                      "override": "N",
                      "sqft_override": 0
                    },
                    "optionsAttributes": {
                      "anchorcollars": 0,
                      "anchorcollars_auto": "N",
                      "anchorupgrade": "N",
                      "brassanchor": 0,
                      "brassanchors": 0,
                      "buckles": 0,
                      "cablequantity": 0,
                      "extendedstraptaillength": 0,
                      "extendedstraptailquantity": 0,
                      "extensionstraplength": 0,
                      "extensionstrapquantity": 0,
                      "hdextra": 0,
                      "installrod": 0,
                      "option1": "U",
                      "option10": "Y",
                      "option11": "N",
                      "option12": "N",
                      "option13": "Y",
                      "option14": "N",
                      "option15": "N",
                      "option16": "N",
                      "option17": "N",
                      "option2": "N",
                      "option3": "N",
                      "option5": "N",
                      "option6": "N",
                      "option7": "U",
                      "paddingtype": "Auto",
                      "pavers": 0,
                      "pulltitespringprotectors": 0,
                      "rdm_quantity": 1,
                      "rdm_sqft": 0,
                      "sag_anchor_type": 2,
                      "specialpadding": 0,
                      "standardsprings": 1,
                      "stdspringprotector": 0,
                      "strapholddown": 0,
                      "wallanchors_6inch": 0,
                      "wallanchors_stainless": 0,
                      "wallanchors_stainlesskits": 0,
                      "woodanchors": 0
                    },
                    "shippingAttributes": {
                      "a": "13.000",
                      "a2": "0.00",
                      "ab_count": "0",
                      "ab_distance": "0",
                      "ab_offset_x": "0",
                      "ab_offset_y": "0",
                      "ab_rotate": "0.0000",
                      "anchor_adjustment": "0",
                      "b": "13.000",
                      "b2": "0.00",
                      "b3": "0.00",
                      "backordered_stamp": "",
                      "buckles": "0",
                      "c": "0.000",
                      "cablekits": "0",
                      "charged_stamp": "",
                      "check1_id": "101",
                      "check2_id": "102",
                      "check3_id": "103",
                      "check4_id": "104",
                      "check5_id": "105",
                      "check6_id": "106",
                      "check7_id": "107",
                      "check9_id": "109",
                      "commercialpads": "0",
                      "completed_stamp": "",
                      "corner_diagonal_quantity": "0",
                      "corner_diagonal_size": "0",
                      "corner_grecian_size": "0",
                      "corner_radius_quantity": "0",
                      "corner_radius_size": "0",
                      "corners": "",
                      "cornertype": "",
                      "coupon_amount": "0.00",
                      "coupon_code": "",
                      "coupon_description": "",
                      "coupon_dollars": "0.00",
                      "coupon_id": "0",
                      "coupon_max_uses": "1",
                      "coupon_minimum": "0.00",
                      "coupon_rate": "0.0000",
                      "created_stamp": "2025-11-06 08:18:00",
                      "d": "12.000",
                      "dealer_po_amount": "345.90",
                      "dealer_po_number": "789",
                      "deck1_re": "0",
                      "deck2_re": "0",
                      "deckrest": "",
                      "discount_amount": "0.00",
                      "discount_description": "",
                      "discount_rate": "0.0000",
                      "drings": "0",
                      "e": "12.000",
                      "e2": "0.000",
                      "eta_stamp": "1",
                      "extendedstraptaillength": "0",
                      "extendedstraptailquantity": "0",
                      "extension": "",
                      "extension2": "N",
                      "extensionstraplength": "0",
                      "extensionstrapquantity": "0",
                      "extrapads": "0",
                      "eyebolts": "0",
                      "f": "0.000",
                      "fee_amount": "0.00",
                      "fee_description": "",
                      "filled_stamp": "",
                      "filler_id": "1",
                      "g": "0.000",
                      "grecianends": "",
                      "grommet_adjustment": "0",
                      "h": "0.000",
                      "height1": "0.00",
                      "height2": "0.00",
                      "ht_reason": "Not HT due to Additional Single Hardware:SAF-839275-25-WQ",
                      "ht_stamp": "2025-10-21 08:37:10",
                      "i": "0.000",
                      "inwallstep": "",
                      "inwallstep2": "N",
                      "j": "0.000",
                      "k": "0.000",
                      "l": "0.000",
                      "ladders": "",
                      "lawntubes": "0",
                      "length": "",
                      "m": "0.000",
                      "material_product_id": "0",
                      "note": "",
                      "obstacles": "",
                      "original_id": "0",
                      "overlap_adjustment": "1",
                      "paid": "0.00",
                      "paid_order_id": "",
                      "paid_reference": "",
                      "partial_fill": "N",
                      "pattern_series_id": "0",
                      "po_amount": "4567.90",
                      "po_number": "78",
                      "raisedwall": "N",
                      "raisedwalllength": "0",
                      "rdm_quantity": "1",
                      "recommendedby": "",
                      "reference2": "",
                      "reference3": "",
                      "remake": "api_test",
                      "sag_anchor_type": "2",
                      "searchterms": "",
                      "ship_address": "bangalore",
                      "ship_address2": "bangalore2",
                      "ship_carrier": "Unknown",
                      "ship_city": "bangalore",
                      "ship_country_id": "1",
                      "ship_email": "rajesh@gmail.com",
                      "ship_phone": "9876543210",
                      "ship_state": "karnataka",
                      "ship_to": "Unknown",
                      "ship_zip": "560038",
                      "shipped_stamp": "",
                      "shipper_id": "",
                      "shipping_amount": "0.00",
                      "shipping_cost": "0.00",
                      "shipping_description": "",
                      "shipping_reference": "",
                      "shipping_service_id": "0",
                      "shipping_shipment": "1",
                      "shipping_taxable": "N",
                      "shipping_weight": "0.00",
                      "shortsprings": "N",
                      "shortspringsquantity": "0",
                      "snaphooks": "0",
                      "spa": "",
                      "spapads": "0",
                      "strapholddown": "0",
                      "submitted_stamp": "",
                      "subtotal": "0.00",
                      "tax_amount": "0.00",
                      "tax_description": "",
                      "tax_id": "0",
                      "tax_rate": "0.00",
                      "template_number": "",
                      "third_address": "",
                      "third_city": "",
                      "third_country_id": "1",
                      "third_name": "api_test",
                      "third_state": "",
                      "third_zip": "",
                      "total": "0.00",
                      "upandovers": "0",
                      "wallanchors": "0",
                      "wallanchors_6inch": "0",
                      "wallanchors_stainless": "0",
                      "wallanchors_stainlesskits": "0",
                      "wallmountkitquantity": "0",
                      "wedges": "0",
                      "width": "",
                      "woodanchors": "0",
                      "ystraps": "0"
                    }
                  }
                },
                "quote_create_grecian": {
                  "value": {
                    "addAttributes": {
                      "3by3spacing": 3,
                      "abmypool": "",
                      "abmypool_stamp": "",
                      "abpool": "N",
                      "abpool_stamp": "",
                      "autoanchors": "Y",
                      "check2value": 0,
                      "check3value": "N",
                      "check4value": 0,
                      "check5value": 0,
                      "check6value": "N",
                      "check7value": "N",
                      "check9value": "U",
                      "copingtype": "Brick-Smooth",
                      "crossmeasurements": "",
                      "customer_id": 22388,
                      "dealer_id": 22388,
                      "dealer_reference": "api_test_grecian",
                      "dealer_reference_phone": "",
                      "dealer_send_email": "N",
                      "deck": "Brick/Pavers",
                      "deck2": "Brick/Pavers",
                      "deck2percent": 1,
                      "deck3": "Concrete",
                      "deck3percent": 2,
                      "deck4": "",
                      "deck4percent": "",
                      "deckmeasurement": "N",
                      "deckpercent": 2,
                      "distrib_send_email": "N",
                      "distributor_id": 12055,
                      "level_id": 200,
                      "list": "Y",
                      "option4": "N",
                      "option9": "N",
                      "ovalends": 1,
                      "paddingpercent": 0,
                      "pricing_id": 30,
                      "ra": "api_test_quote",
                      "remake": "api_test_quote",
                      "romanends": 1,
                      "seller_id": 25226,
                      "service_phone": "",
                      "shape": "Grecian",
                      "signoff_stamp": "",
                      "sketch": "",
                      "source": 1,
                      "source_stamp": "2025-10-21 08:12:32",
                      "status_id": 10,
                      "store_id": 7953,
                      "type_id": 10,
                      "warehouse_id": 7954,
                      "warranty_id": 1
                    },
                    "checksAttributes": {
                      "check10value": "N",
                      "check1_id": 101,
                      "check1value": "N",
                      "check_a": 13,
                      "check_b": 13,
                      "check_c1_cut": "Y",
                      "check_c1_size": 1,
                      "check_c1_type": "Grecian",
                      "check_c2_cut": "Y",
                      "check_c2_size": 1,
                      "check_c2_type": "Unknown",
                      "check_c3_cut": "Y",
                      "check_c3_size": 1,
                      "check_c3_type": "Unknown",
                      "check_c4_cut": "Y",
                      "check_c4_size": 1,
                      "check_c4_type": "Unknown",
                      "check_c5_cut": "Y",
                      "check_c5_size": 1,
                      "check_c5_type": "Unknown",
                      "check_c6_cut": "Y",
                      "check_c6_size": 1,
                      "check_c6_type": "Unknown",
                      "check_c7_cut": "Y",
                      "check_c7_size": 1,
                      "check_c7_type": "Unknown",
                      "check_c8_cut": "Y",
                      "check_c8_size": 1,
                      "check_c8_type": "Unknown",
                      "check_c_same": "Y"
                    },
                    "featuresAttributes": {
                      "comments": "api_test",
                      "feature_1_type": "None"
                    },
                    "measurmentAttributes": {
                      "a": 13,
                      "b": 13,
                      "c1_cut": "Y",
                      "c1_size": 1,
                      "c1_type": "Grecian",
                      "c2_cut": "Y",
                      "c2_size": 1,
                      "c2_type": "Grecian",
                      "c3_cut": "Y",
                      "c3_size": 1,
                      "c3_type": "Grecian",
                      "c4_cut": "Y",
                      "c4_size": 1,
                      "c4_type": "Grecian",
                      "c5_cut": "Y",
                      "c5_size": 1,
                      "c5_type": "Grecian",
                      "c6_cut": "Y",
                      "c6_size": 1,
                      "c6_type": "Grecian",
                      "c7_cut": "Y",
                      "c7_size": 1,
                      "c7_type": "Grecian",
                      "c8_cut": "Y",
                      "c8_size": 1,
                      "c8_type": "Grecian",
                      "c_same": "Y",
                      "d": 12,
                      "e": 12
                    },
                    "optionsAttributes": {
                      "anchorcollars": 0,
                      "anchorcollars_auto": "N",
                      "anchorupgrade": "N",
                      "brassanchor": 0,
                      "brassanchors": 0,
                      "buckles": 0,
                      "cablequantity": 0,
                      "extendedstraptaillength": 0,
                      "extendedstraptailquantity": 0,
                      "extensionstraplength": 0,
                      "extensionstrapquantity": 0,
                      "hdextra": 0,
                      "installrod": 0,
                      "option1": "U",
                      "option10": "Y",
                      "option11": "N",
                      "option12": "N",
                      "option13": "Y",
                      "option14": "N",
                      "option15": "N",
                      "option16": "N",
                      "option17": "N",
                      "option2": "N",
                      "option3": "N",
                      "option5": "N",
                      "option6": "N",
                      "option7": "U",
                      "paddingtype": "Auto",
                      "pavers": 0,
                      "pulltitespringprotectors": 0,
                      "rdm_quantity": 1,
                      "rdm_sqft": 0,
                      "sag_anchor_type": 2,
                      "specialpadding": 0,
                      "standardsprings": 1,
                      "stdspringprotector": 0,
                      "strapholddown": 0,
                      "wallanchors_6inch": 0,
                      "wallanchors_stainless": 0,
                      "wallanchors_stainlesskits": 0,
                      "woodanchors": 0
                    },
                    "shippingAttributes": {
                      "a": "13.000",
                      "a2": "0.00",
                      "ab_count": "0",
                      "ab_distance": "0",
                      "ab_offset_x": "0",
                      "ab_offset_y": "0",
                      "ab_rotate": "0.0000",
                      "anchor_adjustment": "0",
                      "b": "13.000",
                      "b2": "0.00",
                      "b3": "0.00",
                      "backordered_stamp": "",
                      "buckles": "0",
                      "c": "0.000",
                      "cablekits": "0",
                      "charged_stamp": "",
                      "check1_id": "101",
                      "check2_id": "102",
                      "check3_id": "103",
                      "check4_id": "104",
                      "check5_id": "105",
                      "check6_id": "106",
                      "check7_id": "107",
                      "check9_id": "109",
                      "check_c1_cut": "Y",
                      "check_c1_type": "Grecian",
                      "check_c2_cut": "Y",
                      "check_c2_type": "Grecian",
                      "check_c3_cut": "Y",
                      "check_c3_type": "Grecian",
                      "check_c4_cut": "Y",
                      "check_c4_type": "Grecian",
                      "check_c5_cut": "Y",
                      "check_c5_type": "Grecian",
                      "check_c6_cut": "Y",
                      "check_c6_type": "Grecian",
                      "check_c7_cut": "Y",
                      "check_c7_type": "Grecian",
                      "check_c8_cut": "Y",
                      "check_c8_type": "Grecian",
                      "commercialpads": "0",
                      "completed_stamp": "",
                      "corner_diagonal_quantity": "0",
                      "corner_diagonal_size": "0",
                      "corner_grecian_quantity": "4",
                      "corner_grecian_size": "0",
                      "corner_radius_quantity": "0",
                      "corner_radius_size": "0",
                      "corners": "",
                      "cornertype": "",
                      "coupon_amount": "0.00",
                      "coupon_code": "",
                      "coupon_description": "",
                      "coupon_dollars": "0.00",
                      "coupon_id": "0",
                      "coupon_max_uses": "1",
                      "coupon_minimum": "0.00",
                      "coupon_rate": "0.0000",
                      "created_stamp": "2025-11-06 08:18:00",
                      "d": "12.000",
                      "dealer_po_amount": "345.90",
                      "dealer_po_number": "789",
                      "deck1_re": "0",
                      "deck2_re": "0",
                      "deckrest": "",
                      "discount_amount": "0.00",
                      "discount_description": "",
                      "discount_rate": "0.0000",
                      "drings": "0",
                      "e": "12.000",
                      "e2": "0.000",
                      "eta_stamp": "1",
                      "extendedstraptaillength": "0",
                      "extendedstraptailquantity": "0",
                      "extension": "",
                      "extension2": "N",
                      "extensionstraplength": "0",
                      "extensionstrapquantity": "0",
                      "extrapads": "0",
                      "eyebolts": "0",
                      "f": "0.000",
                      "fee_amount": "0.00",
                      "fee_description": "",
                      "filled_stamp": "",
                      "filler_id": "1",
                      "g": "0.000",
                      "grecianends": "",
                      "grommet_adjustment": "0",
                      "h": "0.000",
                      "height1": "0.00",
                      "height2": "0.00",
                      "ht_reason": "Not HT due to Additional Single Hardware:SAF-839275-25-WQ",
                      "ht_stamp": "2025-10-21 08:37:10",
                      "i": "0.000",
                      "inwallstep": "",
                      "inwallstep2": "N",
                      "j": "0.000",
                      "k": "0.000",
                      "l": "0.000",
                      "ladders": "",
                      "lawntubes": "0",
                      "length": "",
                      "m": "0.000",
                      "material_product_id": "0",
                      "note": "",
                      "obstacles": "",
                      "original_id": "0",
                      "overlap_adjustment": "1",
                      "paid": "0.00",
                      "paid_order_id": "",
                      "paid_reference": "",
                      "partial_fill": "N",
                      "pattern_series_id": "0",
                      "po_amount": "4567.90",
                      "po_number": "78",
                      "raisedwall": "N",
                      "raisedwalllength": "0",
                      "rdm_quantity": "1",
                      "recommendedby": "",
                      "reference2": "",
                      "reference3": "",
                      "remake": "api_test",
                      "sag_anchor_type": "2",
                      "searchterms": "",
                      "ship_address": "bangalore",
                      "ship_address2": "bangalore2",
                      "ship_carrier": "Unknown",
                      "ship_city": "bangalore",
                      "ship_country_id": "1",
                      "ship_email": "rajesh@gmail.com",
                      "ship_phone": "9876543210",
                      "ship_state": "karnataka",
                      "ship_to": "Unknown",
                      "ship_zip": "560038",
                      "shipped_stamp": "",
                      "shipper_id": "",
                      "shipping_amount": "0.00",
                      "shipping_cost": "0.00",
                      "shipping_description": "",
                      "shipping_reference": "",
                      "shipping_service_id": "0",
                      "shipping_shipment": "1",
                      "shipping_taxable": "N",
                      "shipping_weight": "0.00",
                      "shortsprings": "N",
                      "shortspringsquantity": "0",
                      "snaphooks": "0",
                      "spa": "",
                      "spapads": "0",
                      "strapholddown": "0",
                      "submitted_stamp": "",
                      "subtotal": "0.00",
                      "tax_amount": "0.00",
                      "tax_description": "",
                      "tax_id": "0",
                      "tax_rate": "0.00",
                      "template_number": "",
                      "third_address": "",
                      "third_city": "",
                      "third_country_id": "1",
                      "third_name": "api_test",
                      "third_state": "",
                      "third_zip": "",
                      "total": "0.00",
                      "upandovers": "0",
                      "wallanchors": "0",
                      "wallanchors_6inch": "0",
                      "wallanchors_stainless": "0",
                      "wallanchors_stainlesskits": "0",
                      "wallmountkitquantity": "0",
                      "wedges": "0",
                      "width": "",
                      "woodanchors": "0",
                      "ystraps": "0"
                    }
                  }
                },
                "quote_create_jewel": {
                  "value": {
                    "addAttributes": {
                      "3by3spacing": 3,
                      "abmypool": "",
                      "abmypool_stamp": "",
                      "abpool": "N",
                      "abpool_stamp": "",
                      "autoanchors": "Y",
                      "check2value": 0,
                      "check3value": "N",
                      "check4value": 0,
                      "check5value": 0,
                      "check6value": "N",
                      "check7value": "N",
                      "check9value": "U",
                      "copingtype": "Brick-Smooth",
                      "crossmeasurements": "",
                      "customer_id": 3513,
                      "dealer_id": 3513,
                      "dealer_reference": "api_test_jewel",
                      "dealer_reference_phone": "",
                      "dealer_send_email": "N",
                      "deck": "Brick/Pavers",
                      "deck2": "Brick/Pavers",
                      "deck2percent": 1,
                      "deck3": "Concrete",
                      "deck3percent": 2,
                      "deck4": "",
                      "deck4percent": "",
                      "deckmeasurement": "N",
                      "deckpercent": 2,
                      "distrib_send_email": "N",
                      "distributor_id": 12055,
                      "level_id": 200,
                      "list": "Y",
                      "option4": "N",
                      "option9": "N",
                      "ovalends": 1,
                      "paddingpercent": 0,
                      "pricing_id": 30,
                      "ra": "api_test_quote",
                      "remake": "api_test_quote",
                      "romanends": 1,
                      "seller_id": 25226,
                      "service_phone": "",
                      "shape": "Jewel",
                      "signoff_stamp": "",
                      "sketch": "",
                      "source": 1,
                      "source_stamp": "2025-10-21 08:12:32",
                      "status_id": 10,
                      "store_id": 7953,
                      "type_id": 10,
                      "warehouse_id": 7954,
                      "warranty_id": 1
                    },
                    "checksAttributes": {
                      "check10value": "N",
                      "check1_id": 101,
                      "check1value": "N",
                      "check_a": 13,
                      "check_c_same": "Y"
                    },
                    "featuresAttributes": {
                      "comments": "api_test",
                      "feature_1_type": "None"
                    },
                    "measurmentAttributes": {
                      "a": 13,
                      "b": 13,
                      "c1_cut": "Y",
                      "c1_size": 1,
                      "c1_type": "Jewel",
                      "c2_cut": "Y",
                      "c2_size": 1,
                      "c2_type": "Jewel",
                      "c3_cut": "Y",
                      "c3_size": 1,
                      "c3_type": "Jewel",
                      "c4_cut": "Y",
                      "c4_size": 1,
                      "c4_type": "Jewel",
                      "c5_cut": "Y",
                      "c5_size": 1,
                      "c5_type": "Jewel",
                      "c6_cut": "Y",
                      "c6_size": 1,
                      "c6_type": "Jewel",
                      "c7_cut": "Y",
                      "c7_size": 1,
                      "c7_type": "Jewel",
                      "c8_cut": "Y",
                      "c8_size": 1,
                      "c8_type": "Jewel",
                      "c_same": "Y",
                      "d": 12,
                      "e": 12
                    },
                    "optionsAttributes": {
                      "anchorcollars": 0,
                      "anchorcollars_auto": "N",
                      "anchorupgrade": "N",
                      "brassanchor": 0,
                      "brassanchors": 0,
                      "buckles": 0,
                      "cablequantity": 0,
                      "extendedstraptaillength": 0,
                      "extendedstraptailquantity": 0,
                      "extensionstraplength": 0,
                      "extensionstrapquantity": 0,
                      "hdextra": 0,
                      "installrod": 0,
                      "option1": "U",
                      "option10": "Y",
                      "option11": "N",
                      "option12": "N",
                      "option13": "Y",
                      "option14": "N",
                      "option15": "N",
                      "option16": "N",
                      "option17": "N",
                      "option2": "N",
                      "option3": "N",
                      "option5": "N",
                      "option6": "N",
                      "option7": "U",
                      "paddingtype": "Auto",
                      "pavers": 0,
                      "pulltitespringprotectors": 0,
                      "rdm_quantity": 1,
                      "rdm_sqft": 0,
                      "sag_anchor_type": 2,
                      "specialpadding": 0,
                      "standardsprings": 1,
                      "stdspringprotector": 0,
                      "strapholddown": 0,
                      "wallanchors_6inch": 0,
                      "wallanchors_stainless": 0,
                      "wallanchors_stainlesskits": 0,
                      "woodanchors": 0
                    },
                    "shippingAttributes": {
                      "a": "13.000",
                      "a2": "0.00",
                      "ab_count": "0",
                      "ab_distance": "0",
                      "ab_offset_x": "0",
                      "ab_offset_y": "0",
                      "ab_rotate": "0.0000",
                      "anchor_adjustment": "0",
                      "b": "13.000",
                      "b2": "0.00",
                      "b3": "0.00",
                      "backordered_stamp": "",
                      "buckles": "0",
                      "c": "0.000",
                      "cablekits": "0",
                      "charged_stamp": "",
                      "check1_id": "101",
                      "check2_id": "102",
                      "check3_id": "103",
                      "check4_id": "104",
                      "check5_id": "105",
                      "check6_id": "106",
                      "check7_id": "107",
                      "check9_id": "109",
                      "commercialpads": "0",
                      "completed_stamp": "",
                      "corner_diagonal_quantity": "0",
                      "corner_diagonal_size": "0",
                      "corner_grecian_quantity": "4",
                      "corner_grecian_size": "0",
                      "corner_radius_quantity": "0",
                      "corner_radius_size": "0",
                      "corners": "",
                      "cornertype": "",
                      "coupon_amount": "0.00",
                      "coupon_code": "",
                      "coupon_description": "",
                      "coupon_dollars": "0.00",
                      "coupon_id": "0",
                      "coupon_max_uses": "1",
                      "coupon_minimum": "0.00",
                      "coupon_rate": "0.0000",
                      "created_stamp": "2025-11-06 08:18:00",
                      "d": "12.000",
                      "dealer_po_amount": "345.90",
                      "dealer_po_number": "789",
                      "deck1_re": "0",
                      "deck2_re": "0",
                      "deckrest": "",
                      "discount_amount": "0.00",
                      "discount_description": "",
                      "discount_rate": "0.0000",
                      "drings": "0",
                      "e": "12.000",
                      "e2": "0.000",
                      "eta_stamp": "1",
                      "extendedstraptaillength": "0",
                      "extendedstraptailquantity": "0",
                      "extension": "",
                      "extension2": "N",
                      "extensionstraplength": "0",
                      "extensionstrapquantity": "0",
                      "extrapads": "0",
                      "eyebolts": "0",
                      "f": "0.000",
                      "fee_amount": "0.00",
                      "fee_description": "",
                      "filled_stamp": "",
                      "filler_id": "1",
                      "g": "0.000",
                      "grecianends": "",
                      "grommet_adjustment": "0",
                      "h": "0.000",
                      "height1": "0.00",
                      "height2": "0.00",
                      "ht_reason": "Not HT due to Additional Single Hardware:SAF-839275-25-WQ",
                      "ht_stamp": "2025-10-21 08:37:10",
                      "i": "0.000",
                      "inwallstep": "",
                      "inwallstep2": "N",
                      "j": "0.000",
                      "k": "0.000",
                      "l": "1.000",
                      "ladders": "",
                      "lawntubes": "0",
                      "length": "",
                      "m": "1.000",
                      "material_product_id": "0",
                      "note": "",
                      "obstacles": "",
                      "original_id": "0",
                      "overlap_adjustment": "1",
                      "paid": "0.00",
                      "paid_order_id": "",
                      "paid_reference": "",
                      "partial_fill": "N",
                      "pattern_series_id": "0",
                      "po_amount": "4567.90",
                      "po_number": "78",
                      "raisedwall": "N",
                      "raisedwalllength": "0",
                      "rdm_quantity": "1",
                      "recommendedby": "",
                      "reference2": "",
                      "reference3": "",
                      "remake": "api_test",
                      "sag_anchor_type": "2",
                      "searchterms": "",
                      "ship_address": "bangalore",
                      "ship_address2": "bangalore2",
                      "ship_carrier": "Unknown",
                      "ship_city": "bangalore",
                      "ship_country_id": "1",
                      "ship_email": "rajesh@gmail.com",
                      "ship_phone": "9876543210",
                      "ship_state": "karnataka",
                      "ship_to": "Unknown",
                      "ship_zip": "560038",
                      "shipped_stamp": "",
                      "shipper_id": "",
                      "shipping_amount": "0.00",
                      "shipping_cost": "0.00",
                      "shipping_description": "",
                      "shipping_reference": "",
                      "shipping_service_id": "0",
                      "shipping_shipment": "1",
                      "shipping_taxable": "N",
                      "shipping_weight": "0.00",
                      "shortsprings": "N",
                      "shortspringsquantity": "0",
                      "snaphooks": "0",
                      "spa": "",
                      "spapads": "0",
                      "strapholddown": "0",
                      "submitted_stamp": "",
                      "subtotal": "0.00",
                      "tax_amount": "0.00",
                      "tax_description": "",
                      "tax_id": "0",
                      "tax_rate": "0.00",
                      "template_number": "",
                      "third_address": "",
                      "third_city": "",
                      "third_country_id": "1",
                      "third_name": "api_test",
                      "third_state": "",
                      "third_zip": "",
                      "total": "0.00",
                      "upandovers": "0",
                      "wallanchors": "0",
                      "wallanchors_6inch": "0",
                      "wallanchors_stainless": "0",
                      "wallanchors_stainlesskits": "0",
                      "wallmountkitquantity": "0",
                      "wedges": "0",
                      "width": "",
                      "woodanchors": "0",
                      "ystraps": "0"
                    }
                  }
                },
                "quote_create_lazy_L_left": {
                  "value": {
                    "addAttributes": {
                      "3by3spacing": 3,
                      "abmypool": "",
                      "abmypool_stamp": "",
                      "abpool": "N",
                      "abpool_stamp": "",
                      "autoanchors": "Y",
                      "check2value": 0,
                      "check3value": "N",
                      "check4value": 0,
                      "check5value": 0,
                      "check6value": "N",
                      "check7value": "N",
                      "check9value": "U",
                      "copingtype": "Brick-Smooth",
                      "crossmeasurements": "",
                      "customer_id": 1569,
                      "dealer_id": 1569,
                      "dealer_reference": "api_test_Lazy_L_Left",
                      "dealer_reference_phone": "",
                      "dealer_send_email": "N",
                      "deck": "Brick/Pavers",
                      "deck2": "Brick/Pavers",
                      "deck2percent": 1,
                      "deck3": "Concrete",
                      "deck3percent": 2,
                      "deck4": "",
                      "deck4percent": "",
                      "deckmeasurement": "N",
                      "deckpercent": 2,
                      "distrib_send_email": "N",
                      "distributor_id": 12055,
                      "level_id": 200,
                      "list": "Y",
                      "option4": "N",
                      "option9": "N",
                      "ovalends": 1,
                      "paddingpercent": 0,
                      "pricing_id": 30,
                      "ra": "api_test_quote",
                      "remake": "api_test_quote",
                      "romanends": 1,
                      "seller_id": 25226,
                      "service_phone": "",
                      "shape": "Lazy L - Left",
                      "signoff_stamp": "",
                      "sketch": "",
                      "source": 1,
                      "source_stamp": "2025-10-21 08:12:32",
                      "status_id": 10,
                      "store_id": 7953,
                      "type_id": 10,
                      "warehouse_id": 7954,
                      "warranty_id": 1
                    },
                    "checksAttributes": {
                      "check10value": "N",
                      "check1_id": 101,
                      "check1value": "N",
                      "check_a": 13,
                      "check_c_same": "Y"
                    },
                    "featuresAttributes": {
                      "comments": "api_test",
                      "feature_1_type": "None"
                    },
                    "measurmentAttributes": {
                      "a": 13,
                      "b": 13,
                      "c1_size": 1,
                      "c1_type": "Lazy L - Left",
                      "d": 12,
                      "e": 12
                    },
                    "optionsAttributes": {
                      "anchorcollars": 0,
                      "anchorcollars_auto": "N",
                      "anchorupgrade": "N",
                      "brassanchor": 0,
                      "brassanchors": 0,
                      "buckles": 0,
                      "cablequantity": 0,
                      "extendedstraptaillength": 0,
                      "extendedstraptailquantity": 0,
                      "extensionstraplength": 0,
                      "extensionstrapquantity": 0,
                      "hdextra": 0,
                      "installrod": 0,
                      "option1": "U",
                      "option10": "Y",
                      "option11": "N",
                      "option12": "N",
                      "option13": "Y",
                      "option14": "N",
                      "option15": "N",
                      "option16": "N",
                      "option17": "N",
                      "option2": "N",
                      "option3": "N",
                      "option5": "N",
                      "option6": "N",
                      "option7": "U",
                      "paddingtype": "Auto",
                      "pavers": 0,
                      "pulltitespringprotectors": 0,
                      "rdm_quantity": 1,
                      "rdm_sqft": 0,
                      "sag_anchor_type": 2,
                      "specialpadding": 0,
                      "standardsprings": 1,
                      "stdspringprotector": 0,
                      "strapholddown": 0,
                      "wallanchors_6inch": 0,
                      "wallanchors_stainless": 0,
                      "wallanchors_stainlesskits": 0,
                      "woodanchors": 0
                    },
                    "shippingAttributes": {
                      "a": "13.000",
                      "a2": "0.00",
                      "ab_count": "0",
                      "ab_distance": "0",
                      "ab_offset_x": "0",
                      "ab_offset_y": "0",
                      "ab_rotate": "0.0000",
                      "anchor_adjustment": "0",
                      "b": "13.000",
                      "b2": "0.00",
                      "b3": "0.00",
                      "backordered_stamp": "",
                      "buckles": "0",
                      "c": "0.000",
                      "cablekits": "0",
                      "charged_stamp": "",
                      "check1_id": "101",
                      "check2_id": "102",
                      "check3_id": "103",
                      "check4_id": "104",
                      "check5_id": "105",
                      "check6_id": "106",
                      "check7_id": "107",
                      "check9_id": "109",
                      "commercialpads": "0",
                      "completed_stamp": "",
                      "corner_diagonal_quantity": "0",
                      "corner_diagonal_size": "0",
                      "corner_grecian_quantity": "4",
                      "corner_grecian_size": "0",
                      "corner_radius_quantity": "0",
                      "corner_radius_size": "0",
                      "corners": "",
                      "cornertype": "",
                      "coupon_amount": "0.00",
                      "coupon_code": "",
                      "coupon_description": "",
                      "coupon_dollars": "0.00",
                      "coupon_id": "0",
                      "coupon_max_uses": "1",
                      "coupon_minimum": "0.00",
                      "coupon_rate": "0.0000",
                      "created_stamp": "2025-11-06 08:18:00",
                      "d": "12.000",
                      "dealer_po_amount": "345.90",
                      "dealer_po_number": "789",
                      "deck1_re": "0",
                      "deck2_re": "0",
                      "deckrest": "",
                      "discount_amount": "0.00",
                      "discount_description": "",
                      "discount_rate": "0.0000",
                      "drings": "0",
                      "e": "12.000",
                      "e2": "0.000",
                      "eta_stamp": "1",
                      "extendedstraptaillength": "0",
                      "extendedstraptailquantity": "0",
                      "extension": "",
                      "extension2": "N",
                      "extensionstraplength": "0",
                      "extensionstrapquantity": "0",
                      "extrapads": "0",
                      "eyebolts": "0",
                      "f": "0.000",
                      "fee_amount": "0.00",
                      "fee_description": "",
                      "filled_stamp": "",
                      "filler_id": "1",
                      "g": "0.000",
                      "grecianends": "",
                      "grommet_adjustment": "0",
                      "h": "0.000",
                      "height1": "0.00",
                      "height2": "0.00",
                      "ht_reason": "Not HT due to Additional Single Hardware:SAF-839275-25-WQ",
                      "ht_stamp": "2025-10-21 08:37:10",
                      "i": "0.000",
                      "inwallstep": "",
                      "inwallstep2": "N",
                      "j": "0.000",
                      "k": "1.000",
                      "l": "1.000",
                      "ladders": "",
                      "lawntubes": "0",
                      "length": "",
                      "m": "1.000",
                      "material_product_id": "0",
                      "n": "1.000",
                      "note": "",
                      "o": "1.000",
                      "obstacles": "",
                      "original_id": "0",
                      "overlap_adjustment": "1",
                      "paid": "0.00",
                      "paid_order_id": "",
                      "paid_reference": "",
                      "partial_fill": "N",
                      "pattern_series_id": "0",
                      "po_amount": "4567.90",
                      "po_number": "78",
                      "raisedwall": "N",
                      "raisedwalllength": "0",
                      "rdm_quantity": "1",
                      "recommendedby": "",
                      "reference2": "",
                      "reference3": "",
                      "remake": "api_test",
                      "sag_anchor_type": "2",
                      "searchterms": "",
                      "ship_address": "bangalore",
                      "ship_address2": "bangalore2",
                      "ship_carrier": "Unknown",
                      "ship_city": "bangalore",
                      "ship_country_id": "1",
                      "ship_email": "rajesh@gmail.com",
                      "ship_phone": "9876543210",
                      "ship_state": "karnataka",
                      "ship_to": "Unknown",
                      "ship_zip": "560038",
[...]
