{
  "openapi": "3.1.0",
  "info": {
    "title": "Deezer API",
    "version": "1.0.0",
    "description": "The Deezer API provides access to Deezer's music catalog including tracks, albums, artists, playlists, podcasts, charts, and user data. All responses are in JSON format.",
    "contact": {
      "name": "Deezer Developers",
      "url": "https://developers.deezer.com/api"
    },
    "x-apisguru-categories": [
      "media"
    ],
    "x-logo": {
      "url": "https://e-cdns-files.dzcdn.net/cache/images/common/favicon/favicon-96x96.png"
    }
  },
  "servers": [
    {
      "url": "https://api.deezer.com"
    }
  ],
  "security": [],
  "components": {
    "securitySchemes": {
      "oauth2": {
        "type": "oauth2",
        "flows": {
          "authorizationCode": {
            "authorizationUrl": "https://connect.deezer.com/oauth/auth.php",
            "tokenUrl": "https://connect.deezer.com/oauth/access_token.php",
            "scopes": {
              "basic_access": "Access user basic information",
              "email": "Get user email",
              "offline_access": "Access user data offline",
              "manage_library": "Manage user library",
              "manage_community": "Manage user friends",
              "delete_library": "Delete library items",
              "listening_history": "Access listening history"
            }
          }
        }
      }
    },
    "schemas": {
      "Track": {
        "type": "object",
        "properties": {
          "id": {
            "type": "integer"
          },
          "readable": {
            "type": "boolean"
          },
          "title": {
            "type": "string"
          },
          "title_short": {
            "type": "string"
          },
          "title_version": {
            "type": "string"
          },
          "isrc": {
            "type": "string"
          },
          "link": {
            "type": "string",
            "format": "uri"
          },
          "duration": {
            "type": "integer",
            "description": "Duration in seconds"
          },
          "track_position": {
            "type": "integer"
          },
          "disk_number": {
            "type": "integer"
          },
          "rank": {
            "type": "integer"
          },
          "explicit_lyrics": {
            "type": "boolean"
          },
          "explicit_content_lyrics": {
            "type": "integer"
          },
          "explicit_content_cover": {
            "type": "integer"
          },
          "preview": {
            "type": "string",
            "format": "uri",
            "description": "URL to 30 second preview"
          },
          "bpm": {
            "type": "number"
          },
          "gain": {
            "type": "number"
          },
          "artist": {
            "$ref": "#/components/schemas/ArtistSummary"
          },
          "album": {
            "$ref": "#/components/schemas/AlbumSummary"
          },
          "type": {
            "type": "string",
            "enum": [
              "track"
            ]
          }
        }
      },
      "Album": {
        "type": "object",
        "properties": {
          "id": {
            "type": "integer"
          },
          "title": {
            "type": "string"
          },
          "upc": {
            "type": "string"
          },
          "link": {
            "type": "string",
            "format": "uri"
          },
          "share": {
            "type": "string",
            "format": "uri"
          },
          "cover": {
            "type": "string",
            "format": "uri"
          },
          "cover_small": {
            "type": "string",
            "format": "uri"
          },
          "cover_medium": {
            "type": "string",
            "format": "uri"
          },
          "cover_big": {
            "type": "string",
            "format": "uri"
          },
          "cover_xl": {
            "type": "string",
            "format": "uri"
          },
          "genre_id": {
            "type": "integer"
          },
          "genres": {
            "type": "object",
            "properties": {
              "data": {
                "type": "array",
                "items": {
                  "$ref": "#/components/schemas/Genre"
                }
              }
            }
          },
          "label": {
            "type": "string"
          },
          "nb_tracks": {
            "type": "integer"
          },
          "duration": {
            "type": "integer"
          },
          "fans": {
            "type": "integer"
          },
          "release_date": {
            "type": "string",
            "format": "date"
          },
          "record_type": {
            "type": "string",
            "enum": [
              "album",
              "single",
              "compile",
              "ep"
            ]
          },
          "available": {
            "type": "boolean"
          },
          "tracklist": {
            "type": "string",
            "format": "uri"
          },
          "explicit_lyrics": {
            "type": "boolean"
          },
          "artist": {
            "$ref": "#/components/schemas/ArtistSummary"
          },
          "tracks": {
            "type": "object",
            "properties": {
              "data": {
                "type": "array",
                "items": {
                  "$ref": "#/components/schemas/Track"
                }
              }
            }
          },
          "type": {
            "type": "string",
            "enum": [
              "album"
            ]
          }
        }
      },
      "AlbumSummary": {
        "type": "object",
        "properties": {
          "id": {
            "type": "integer"
          },
          "title": {
            "type": "string"
          },
          "cover": {
            "type": "string",
            "format": "uri"
          },
          "cover_small": {
            "type": "string",
            "format": "uri"
          },
          "cover_medium": {
            "type": "string",
            "format": "uri"
          },
          "cover_big": {
            "type": "string",
            "format": "uri"
          },
          "cover_xl": {
            "type": "string",
            "format": "uri"
          },
          "tracklist": {
            "type": "string",
            "format": "uri"
          },
          "type": {
            "type": "string",
            "enum": [
              "album"
            ]
          }
        }
      },
      "Artist": {
        "type": "object",
        "properties": {
          "id": {
            "type": "integer"
          },
          "name": {
            "type": "string"
          },
          "link": {
            "type": "string",
            "format": "uri"
          },
          "share": {
            "type": "string",
            "format": "uri"
          },
          "picture": {
            "type": "string",
            "format": "uri"
          },
          "picture_small": {
            "type": "string",
            "format": "uri"
          },
          "picture_medium": {
            "type": "string",
            "format": "uri"
          },
          "picture_big": {
            "type": "string",
            "format": "uri"
          },
          "picture_xl": {
            "type": "string",
            "format": "uri"
          },
          "nb_album": {
            "type": "integer"
          },
          "nb_fan": {
            "type": "integer"
          },
          "radio": {
            "type": "boolean"
          },
          "tracklist": {
            "type": "string",
            "format": "uri"
          },
          "type": {
            "type": "string",
            "enum": [
              "artist"
            ]
          }
        }
      },
      "ArtistSummary": {
        "type": "object",
        "properties": {
          "id": {
            "type": "integer"
          },
          "name": {
            "type": "string"
          },
          "link": {
            "type": "string",
            "format": "uri"
          },
          "picture": {
            "type": "string",
            "format": "uri"
          },
          "tracklist": {
            "type": "string",
            "format": "uri"
          },
          "type": {
            "type": "string",
            "enum": [
              "artist"
            ]
          }
        }
      },
      "Playlist": {
        "type": "object",
        "properties": {
          "id": {
            "type": "integer"
          },
          "title": {
            "type": "string"
          },
          "description": {
            "type": "string"
          },
          "duration": {
            "type": "integer"
          },
          "public": {
            "type": "boolean"
          },
          "is_loved_track": {
            "type": "boolean"
          },
          "collaborative": {
            "type": "boolean"
          },
          "nb_tracks": {
            "type": "integer"
          },
          "fans": {
            "type": "integer"
          },
          "link": {
            "type": "string",
            "format": "uri"
          },
          "picture": {
            "type": "string",
            "format": "uri"
          },
          "picture_small": {
            "type": "string",
            "format": "uri"
          },
          "picture_medium": {
            "type": "string",
            "format": "uri"
          },
          "picture_big": {
            "type": "string",
            "format": "uri"
          },
          "picture_xl": {
            "type": "string",
            "format": "uri"
          },
          "checksum": {
            "type": "string"
          },
          "tracklist": {
            "type": "string",
            "format": "uri"
          },
          "creation_date": {
            "type": "string",
            "format": "date-time"
          },
          "creator": {
            "type": "object",
            "properties": {
              "id": {
                "type": "integer"
              },
              "name": {
                "type": "string"
              }
            }
          },
          "tracks": {
            "type": "object",
            "properties": {
              "data": {
                "type": "array",
                "items": {
                  "$ref": "#/components/schemas/Track"
                }
              }
            }
          },
          "type": {
            "type": "string",
            "enum": [
              "playlist"
            ]
          }
        }
      },
      "Genre": {
        "type": "object",
        "properties": {
          "id": {
            "type": "integer"
          },
          "name": {
            "type": "string"
          },
          "picture": {
            "type": "string",
            "format": "uri"
          },
          "picture_small": {
            "type": "string",
            "format": "uri"
          },
          "picture_medium": {
            "type": "string",
            "format": "uri"
          },
          "picture_big": {
            "type": "string",
            "format": "uri"
          },
          "picture_xl": {
            "type": "string",
            "format": "uri"
          },
          "type": {
            "type": "string",
            "enum": [
              "genre"
            ]
          }
        }
      },
      "Radio": {
        "type": "object",
        "properties": {
          "id": {
            "type": "integer"
          },
          "title": {
            "type": "string"
          },
          "description": {
            "type": "string"
          },
          "share": {
            "type": "string",
            "format": "uri"
          },
          "picture": {
            "type": "string",
            "format": "uri"
          },
          "picture_small": {
            "type": "string",
            "format": "uri"
          },
          "picture_medium": {
            "type": "string",
            "format": "uri"
          },
          "picture_big": {
            "type": "string",
            "format": "uri"
          },
          "picture_xl": {
            "type": "string",
            "format": "uri"
          },
          "tracklist": {
            "type": "string",
            "format": "uri"
          },
          "type": {
            "type": "string",
            "enum": [
              "radio"
            ]
          }
        }
      },
      "User": {
        "type": "object",
        "properties": {
          "id": {
            "type": "integer"
          },
          "name": {
            "type": "string"
          },
          "lastname": {
            "type": "string"
          },
          "firstname": {
            "type": "string"
          },
          "email": {
            "type": "string",
            "format": "email"
          },
          "status": {
            "type": "integer"
          },
          "birthday": {
            "type": "string",
            "format": "date"
          },
          "inscription_date": {
            "type": "string",
            "format": "date"
          },
          "gender": {
            "type": "string",
            "enum": [
              "M",
              "F"
            ]
          },
          "link": {
            "type": "string",
            "format": "uri"
          },
          "picture": {
            "type": "string",
            "format": "uri"
          },
          "picture_small": {
            "type": "string",
            "format": "uri"
          },
          "picture_medium": {
            "type": "string",
            "format": "uri"
          },
          "picture_big": {
            "type": "string",
            "format": "uri"
          },
          "picture_xl": {
            "type": "string",
            "format": "uri"
          },
          "country": {
            "type": "string"
          },
          "lang": {
            "type": "string"
          },
          "tracklist": {
            "type": "string",
            "format": "uri"
          },
          "type": {
            "type": "string",
            "enum": [
              "user"
            ]
          }
        }
      },
      "SearchResult": {
        "type": "object",
        "properties": {
          "data": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Track"
            }
          },
          "total": {
            "type": "integer"
          },
          "next": {
            "type": "string",
            "format": "uri"
          }
        }
      },
      "PaginatedList": {
        "type": "object",
        "properties": {
          "data": {
            "type": "array",
            "items": {
              "type": "object"
            }
          },
          "total": {
            "type": "integer"
          },
          "next": {
            "type": "string",
            "format": "uri"
          }
        }
      },
      "Chart": {
        "type": "object",
        "properties": {
          "tracks": {
            "type": "object",
            "properties": {
              "data": {
                "type": "array",
                "items": {
                  "$ref": "#/components/schemas/Track"
                }
              },
              "total": {
                "type": "integer"
              }
            }
          },
          "albums": {
            "type": "object",
            "properties": {
              "data": {
                "type": "array",
                "items": {
                  "$ref": "#/components/schemas/Album"
                }
              },
              "total": {
                "type": "integer"
              }
            }
          },
          "artists": {
            "type": "object",
            "properties": {
              "data": {
                "type": "array",
                "items": {
                  "$ref": "#/components/schemas/Artist"
                }
              },
              "total": {
                "type": "integer"
              }
            }
          },
          "playlists": {
            "type": "object",
            "properties": {
              "data": {
                "type": "array",
                "items": {
                  "$ref": "#/components/schemas/Playlist"
                }
              },
              "total": {
                "type": "integer"
              }
            }
          },
          "podcasts": {
            "type": "object"
          }
        }
      },
      "Error": {
        "type": "object",
        "properties": {
          "error": {
            "type": "object",
            "properties": {
              "type": {
                "type": "string"
              },
              "message": {
                "type": "string"
              },
              "code": {
                "type": "integer"
              }
            }
          }
        }
      }
    },
    "parameters": {
      "limit": {
        "name": "limit",
        "in": "query",
        "schema": {
          "type": "integer",
          "default": 25
        },
        "description": "Number of items to return."
      },
      "index": {
        "name": "index",
        "in": "query",
        "schema": {
          "type": "integer",
          "default": 0
        },
        "description": "Index of the first item to return."
      }
    }
  },
  "paths": {
    "/track/{id}": {
      "get": {
        "operationId": "getTrack",
        "summary": "Get a track",
        "tags": [
          "Tracks"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "A track object.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Track"
                }
              }
            }
          }
        },
        "description": "Get a track"
      }
    },
    "/album/{id}": {
      "get": {
        "operationId": "getAlbum",
        "summary": "Get an album",
        "tags": [
          "Albums"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "An album object.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Album"
                }
              }
            }
          }
        },
        "description": "Get an album"
      }
    },
    "/album/{id}/tracks": {
      "get": {
        "operationId": "getAlbumTracks",
        "summary": "Get tracks of an album",
        "tags": [
          "Albums"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            }
          },
          {
            "$ref": "#/components/parameters/limit"
          },
          {
            "$ref": "#/components/parameters/index"
          }
        ],
        "responses": {
          "200": {
            "description": "List of tracks.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PaginatedList"
                }
              }
            }
          }
        },
        "description": "Get tracks of an album"
      }
    },
    "/artist/{id}": {
      "get": {
        "operationId": "getArtist",
        "summary": "Get an artist",
        "tags": [
          "Artists"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "An artist object.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Artist"
                }
              }
            }
          }
        },
        "description": "Get an artist"
      }
    },
    "/artist/{id}/top": {
      "get": {
        "operationId": "getArtistTopTracks",
        "summary": "Get top tracks of an artist",
        "tags": [
          "Artists"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            }
          },
          {
            "$ref": "#/components/parameters/limit"
          },
          {
            "$ref": "#/components/parameters/index"
          }
        ],
        "responses": {
          "200": {
            "description": "Top tracks.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PaginatedList"
                }
              }
            }
          }
        },
        "description": "Get top tracks of an artist"
      }
    },
    "/artist/{id}/albums": {
      "get": {
        "operationId": "getArtistAlbums",
        "summary": "Get albums of an artist",
        "tags": [
          "Artists"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            }
          },
          {
            "$ref": "#/components/parameters/limit"
          },
          {
            "$ref": "#/components/parameters/index"
          }
        ],
        "responses": {
          "200": {
            "description": "List of albums.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PaginatedList"
                }
              }
            }
          }
        },
        "description": "Get albums of an artist"
      }
    },
    "/artist/{id}/related": {
      "get": {
        "operationId": "getRelatedArtists",
        "summary": "Get related artists",
        "tags": [
          "Artists"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            }
          },
          {
            "$ref": "#/components/parameters/limit"
          },
          {
            "$ref": "#/components/parameters/index"
          }
        ],
        "responses": {
          "200": {
            "description": "Related artists.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PaginatedList"
                }
              }
            }
          }
        },
        "description": "Get related artists"
      }
    },
    "/artist/{id}/radio": {
      "get": {
        "operationId": "getArtistRadio",
        "summary": "Get artist radio tracks",
        "tags": [
          "Artists"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Radio tracks.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PaginatedList"
                }
              }
            }
          }
        },
        "description": "Get artist radio tracks"
      }
    },
    "/playlist/{id}": {
      "get": {
        "operationId": "getPlaylist",
        "summary": "Get a playlist",
        "tags": [
          "Playlists"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "A playlist object.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Playlist"
                }
              }
            }
          }
        },
        "description": "Get a playlist"
      }
    },
    "/playlist/{id}/tracks": {
      "get": {
        "operationId": "getPlaylistTracks",
        "summary": "Get tracks of a playlist",
        "tags": [
          "Playlists"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            }
          },
          {
            "$ref": "#/components/parameters/limit"
          },
          {
            "$ref": "#/components/parameters/index"
          }
        ],
        "responses": {
          "200": {
            "description": "Playlist tracks.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PaginatedList"
                }
              }
            }
          }
        },
        "description": "Get tracks of a playlist"
      }
    },
    "/search": {
      "get": {
        "operationId": "search",
        "summary": "Search tracks",
        "tags": [
          "Search"
        ],
        "parameters": [
          {
            "name": "q",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Search query"
          },
          {
            "$ref": "#/components/parameters/limit"
          },
          {
            "$ref": "#/components/parameters/index"
          },
          {
            "name": "order",
            "in": "query",
            "schema": {
              "type": "string",
              "enum": [
                "RANKING",
                "TRACK_ASC",
                "TRACK_DESC",
                "ARTIST_ASC",
                "ARTIST_DESC",
                "ALBUM_ASC",
                "ALBUM_DESC",
                "RATING_ASC",
                "RATING_DESC",
                "DURATION_ASC",
                "DURATION_DESC"
              ]
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Search results.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SearchResult"
                }
              }
            }
          }
        },
        "description": "Search tracks"
      }
    },
    "/search/album": {
      "get": {
        "operationId": "searchAlbums",
        "summary": "Search albums",
        "tags": [
          "Search"
        ],
        "parameters": [
          {
            "name": "q",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "$ref": "#/components/parameters/limit"
          },
          {
            "$ref": "#/components/parameters/index"
          }
        ],
        "responses": {
          "200": {
            "description": "Album search results.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PaginatedList"
                }
              }
            }
          }
        },
        "description": "Search albums"
      }
    },
    "/search/artist": {
      "get": {
        "operationId": "searchArtists",
        "summary": "Search artists",
        "tags": [
          "Search"
        ],
        "parameters": [
          {
            "name": "q",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "$ref": "#/components/parameters/limit"
          },
          {
            "$ref": "#/components/parameters/index"
          }
        ],
        "responses": {
          "200": {
            "description": "Artist search results.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PaginatedList"
                }
              }
            }
          }
        },
        "description": "Search artists"
      }
    },
    "/search/playlist": {
      "get": {
        "operationId": "searchPlaylists",
        "summary": "Search playlists",
        "tags": [
          "Search"
        ],
        "parameters": [
          {
            "name": "q",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "$ref": "#/components/parameters/limit"
          },
          {
            "$ref": "#/components/parameters/index"
          }
        ],
        "responses": {
          "200": {
            "description": "Playlist search results.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PaginatedList"
                }
              }
            }
          }
        },
        "description": "Search playlists"
      }
    },
    "/genre": {
      "get": {
        "operationId": "getGenres",
        "summary": "Get all genres",
        "tags": [
          "Genres"
        ],
        "responses": {
          "200": {
            "description": "List of genres.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/Genre"
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "description": "Get all genres"
      }
    },
    "/genre/{id}": {
      "get": {
        "operationId": "getGenre",
        "summary": "Get a genre",
        "tags": [
          "Genres"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "A genre object.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Genre"
                }
              }
            }
          }
        },
        "description": "Get a genre"
      }
    },
    "/genre/{id}/artists": {
      "get": {
        "operationId": "getGenreArtists",
        "summary": "Get artists of a genre",
        "tags": [
          "Genres"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Artists in genre.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PaginatedList"
                }
              }
            }
          }
        },
        "description": "Get artists of a genre"
      }
    },
    "/chart": {
      "get": {
        "operationId": "getCharts",
        "summary": "Get charts",
        "tags": [
          "Charts"
        ],
        "responses": {
          "200": {
            "description": "Chart data.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Chart"
                }
              }
            }
          }
        },
        "description": "Get charts"
      }
    },
    "/chart/{id}/tracks": {
      "get": {
        "operationId": "getChartTracks",
        "summary": "Get chart tracks",
        "tags": [
          "Charts"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            }
          },
          {
            "$ref": "#/components/parameters/limit"
          },
          {
            "$ref": "#/components/parameters/index"
          }
        ],
        "responses": {
          "200": {
            "description": "Chart tracks.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PaginatedList"
                }
              }
            }
          }
        },
        "description": "Get chart tracks"
      }
    },
    "/chart/{id}/albums": {
      "get": {
        "operationId": "getChartAlbums",
        "summary": "Get chart albums",
        "tags": [
          "Charts"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            }
          },
          {
            "$ref": "#/components/parameters/limit"
          },
          {
            "$ref": "#/components/parameters/index"
          }
        ],
        "responses": {
          "200": {
            "description": "Chart albums.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PaginatedList"
                }
              }
            }
          }
        },
        "description": "Get chart albums"
      }
    },
    "/radio": {
      "get": {
        "operationId": "getRadios",
        "summary": "Get all radios",
        "tags": [
          "Radio"
        ],
        "responses": {
          "200": {
            "description": "List of radios.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/Radio"
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "description": "Get all radios"
      }
    },
    "/radio/{id}": {
      "get": {
        "operationId": "getRadio",
        "summary": "Get a radio",
        "tags": [
          "Radio"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "A radio object.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Radio"
                }
              }
            }
          }
        },
        "description": "Get a radio"
      }
    },
    "/radio/{id}/tracks": {
      "get": {
        "operationId": "getRadioTracks",
        "summary": "Get radio tracks",
        "tags": [
          "Radio"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Radio tracks.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PaginatedList"
                }
              }
            }
          }
        },
        "description": "Get radio tracks"
      }
    },
    "/user/me": {
      "get": {
        "operationId": "getCurrentUser",
        "summary": "Get current user",
        "tags": [
          "Users"
        ],
        "security": [
          {
            "oauth2": [
              "basic_access"
            ]
          }
        ],
        "responses": {
          "200": {
            "description": "Current user.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/User"
                }
              }
            }
          }
        },
        "description": "Get current user"
      }
    },
    "/user/{id}": {
      "get": {
        "operationId": "getUser",
        "summary": "Get a user",
        "tags": [
          "Users"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "A user object.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/User"
                }
              }
            }
          }
        },
        "description": "Get a user"
      }
    },
    "/user/me/playlists": {
      "get": {
        "operationId": "getUserPlaylists",
        "summary": "Get user playlists",
        "tags": [
          "Users"
        ],
        "security": [
          {
            "oauth2": [
              "basic_access"
            ]
          }
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/limit"
          },
          {
            "$ref": "#/components/parameters/index"
          }
        ],
        "responses": {
          "200": {
            "description": "User playlists.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PaginatedList"
                }
              }
            }
          }
        },
        "description": "Get user playlists"
      }
    },
    "/user/me/tracks": {
      "get": {
        "operationId": "getUserFavoriteTracks",
        "summary": "Get user favorite tracks",
        "tags": [
          "Users"
        ],
        "security": [
          {
            "oauth2": [
              "basic_access"
            ]
          }
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/limit"
          },
          {
            "$ref": "#/components/parameters/index"
          }
        ],
        "responses": {
          "200": {
            "description": "Favorite tracks.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PaginatedList"
                }
              }
            }
          }
        },
        "description": "Get user favorite tracks"
      }
    },
    "/user/me/albums": {
      "get": {
        "operationId": "getUserFavoriteAlbums",
        "summary": "Get user favorite albums",
        "tags": [
          "Users"
        ],
        "security": [
          {
            "oauth2": [
              "basic_access"
            ]
          }
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/limit"
          },
          {
            "$ref": "#/components/parameters/index"
          }
        ],
        "responses": {
          "200": {
            "description": "Favorite albums.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PaginatedList"
                }
              }
            }
          }
        },
        "description": "Get user favorite albums"
      }
    },
    "/user/me/artists": {
      "get": {
        "operationId": "getUserFavoriteArtists",
        "summary": "Get user favorite artists",
        "tags": [
          "Users"
        ],
        "security": [
          {
            "oauth2": [
              "basic_access"
            ]
          }
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/limit"
          },
          {
            "$ref": "#/components/parameters/index"
          }
        ],
        "responses": {
          "200": {
            "description": "Favorite artists.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PaginatedList"
                }
              }
            }
          }
        },
        "description": "Get user favorite artists"
      }
    }
  },
  "tags": [
    {
      "name": "Tracks",
      "description": "Track operations."
    },
    {
      "name": "Albums",
      "description": "Album operations."
    },
    {
      "name": "Artists",
      "description": "Artist operations."
    },
    {
      "name": "Playlists",
      "description": "Playlist operations."
    },
    {
      "name": "Search",
      "description": "Search operations."
    },
    {
      "name": "Genres",
      "description": "Genre operations."
    },
    {
      "name": "Charts",
      "description": "Chart operations."
    },
    {
      "name": "Radio",
      "description": "Radio operations."
    },
    {
      "name": "Users",
      "description": "User operations."
    }
  ]
}
